[2018-02-10 03:36] TheEmpty commented on #1493
[code]

[code]

I've only installed items through the interface/CLI so far. If armel is incorrect, how can I change it?

[2018-02-10 14:21] Fourdee commented on #1495
@kgunnar

Thanks 👍

Not that i'am aware of, but I will check my revision aswell.

Looks like its failing to launch kernel. Could be a kernel bug, or, a possible image corruption our end.
- Did you try full formatting the SD card prior to writing DietPi image? https://github.com/Fourdee/DietPi/issues/1495#issuecomment-364537635

Failing the above, I'll recreate our image, with latest kernel (if ava

[2018-02-10 15:17] kodirfan opened #1498 "Connection/Networking"
## Creating a bug report/issue:
Dietpi version 6, RPi model 3. Power supply 5v 2A, Sandisk ultra

got the following error:

 DietPi-Software: G_AGI: build-essential make autoconf automake
                                                                            │ --no-install-recommends
                                                                            │  - exit_code = 100

[2018-02-10 15:26] Tnnuy-sv commented on #1366
I have the same problem! and already tried to change how and said ... I have the XU4 odroid, but already on the raspberry pi 3 does not happen!! Does anyone know how to solve the problem?

[2018-02-10 15:42] Tnnuy-sv opened #1499 "DietPi-Software | Jessie: qBittorrent login error"
I have the same problem! and already tried to change how and said ... I have the XU4 odroid, but already on the raspberry pi 3 does not happen!! Does anyone know how to solve the problem?

<a href="http://pt-br.tinypic.com?ref=2zr2muo" target="_blank"><img src="http://i68.tinypic.com/2zr2muo.jpg" border="0" alt="Image and video hosting by TinyPic"></a>

[2018-02-10 15:57] Fourdee commented on #1495
@kgunnar

Image redone (https://github.com/Fourdee/DietPi/issues/1495#issuecomment-364658425), please re-download write:
http://dietpi.com/downloads/images/DietPi_PineA64-ARMv8-Stretch.7z

[2018-02-10 16:00] Fourdee commented on #1499
@tnnuyri

thanks for the report 👍
Looks limited to Debian Jessie. We'll need to investigate, leave it with us.

[2018-02-10 16:04] Fourdee commented on #1498
@kodirfan

Thanks for the report 👍

Appears to be a connection issue local to your system and/or network. Please try rebooting the device and trying again.

If problems persist, check the network settings in ```dietpi-config```.

[2018-02-10 16:07] Fourdee commented on #1483
@gpioneer90

Thanks, i'll try to replicate with en_US as default locale.

[code]

---

🈯️ Test:
[code]

[code]

[code]

[2018-02-10 16:14] Fourdee commented on #1495
🈯️ I tested both images successfully on the following device, which is a Pine 64+ (https://www.pine64.org/?product=pine-a64-board-1gb)
[code]

Apologies, missed that.

[2018-02-10 16:19] Fourdee commented on #1499
Notes:
[code]

Reverse hash:
https://isc.sans.edu/tools/reversehash.html
md5 hash 90c322f4dcabce6e66e8ea8aff218775 = Sorry, no solution found.

🈯️ https://md5hashing.net/hash/md5/90c322f4dcabce6e66e8ea8aff218775 ```dietpi```

---

https://packages.debian.org/jessie/qbittorrent-nox

[2018-02-10 16:37] Fourdee commented on #1485
Removed as per: https://github.com/Fourdee/DietPi/issues/1491#issuecomment-364174270

[2018-02-10 16:37] #1485 closed, assigned to nobody

[2018-02-10 16:48] Fourdee commented on #1483
@gpioneer90

Test passed for me https://github.com/Fourdee/DietPi/issues/1483#issuecomment-364665742

Lets check home directory, please paste results:
[code]

[2018-02-10 18:49] msongz commented on #1498
Ip      = 192.168.1.18
 Mask    = 255.255.255.0
DNS     = 192.168.1.1

pi zero w, 8GB tf card, ssh available

similar problem with the network setting

I had a fresh install , and telling me no connection

[2018-02-10 19:04] Fourdee commented on #1498
@msongz

Thanks.

Is this using the onboard WiFi and DHCP?

[2018-02-10 19:11] msongz commented on #1498
@Fourdee does " onboard WIFI " means build-in WIFI?
I use the built-in WIFI, and DHCP. WIFI connection is OK, but network's fail
if I install the raspian-lite.img, WIFI connection and network connection both works.

[2018-02-10 19:17] eogextreme opened #1500 "Dietpi in Proxmox 5.1 VE hangs on diskboot"
Using your latest .iso:  DietPi_v6.0_NativePC-EFI-x86_64-Stretch.iso Dietpi still hangs after the installation as VM has finished . The message says that it cannot find the BIOS irmware and then reboots and hangs "Booting from harddisk..."

I am using an Intel NUC 6CAYH (Celeron J3445 4 cores) 8GB RAM- 240GB SSD.

When uploaded the iso into Proxmox in created the setup with:  Balloon 512 - Memory

[2018-02-10 19:25] Fourdee commented on #1498
@msongz

Yep, onboard = built in.

I'll run a test here, see if we can replicate.

- RPi Zero W
- When prompted with connection error
-- Select Ok to start DietPi-config and configure networking
-- Enable and enter details for WiFi, use DHCP
-- Exit, return back to DietPi-Software
- 🈯️ Install PiHole = OpenVPN

Unable to replicate loss of connection on fresh install (once WiFi is setup).

[2018-02-10 19:28] kodirfan commented on #1498
Thanks. I had to reinstall. Somehow it was not able to connect internet.
I also noticed during boot, it says error, it cant connect all DHCPD services or something like that.
I also tried disabling wired network adapter and turning on WIFI. It says connected but internet test failed.
I had pihole & openvpn installed. So when dietpi try to install any software it stops all the services like piHole.

[2018-02-10 19:47] Fourdee commented on #1498
@kodirfan

If running DHCP on the SBC, refresh the network to re-obtain DNS table from router (eg: reboot system). If running STATIC, you'll need to change the DNS on the SBC to something like "Google", via ```dietpi-config```

We'll take a look, thanks for the info 👍 I believe additional manual configuration is needed for OpenVPN + PiHole combination:
https://github.com/Fourdee/DietPi/issues/1245

[2018-02-10 19:47] ghost commented on #1499
I posted an issue with this problem around a month ago. I ended up just switching to using Transmission instead of qBittorrent, and i actually think that transmission is better. Worked flawlessly for me, nice and functional UI and it works with external drives.

[2018-02-10 19:49] Fourdee opened #1501 "DietPi-Services | Exclude dnsmasq/openvpn"
To prevent user unexpected loss of connection and DNS resolve issues during DietPi scripts:
https://github.com/Fourdee/DietPi/issues/1498#issuecomment-364682731

PiHole workaround was added to DietPi-Update (restart), but not software. Lets tweak control via ```dietpi-services```.

[2018-02-10 19:57] Fourdee commented on #1066
Marking as closed, in favor of: https://github.com/Fourdee/DietPi/issues/1501

[2018-02-10 19:57] #1066 closed, assigned to nobody

[2018-02-10 20:06] Fourdee commented on #1501
We'll remove these services from DietPi control. Else, the amount of workarounds/checks required for each service state option, would get too messy.

[2018-02-10 20:16] Fourdee commented on #1498
@kodirfan

Please can you try:
- ```dietpi-config``` > Networking Options: Adapters > WiFi
- Select Change mode (to STATIC)
- Select Copy address
- Select DNS , then Google
- Save changes and restart networking

Please let us know if the problem persists after this change.

[2018-02-10 20:39] Fourdee commented on #1501
🈯️ Fresh install v6.1 + patch
🈯️ Fresh install v6.2 (dev)

Completed.

[2018-02-10 20:39] #1501 closed, assigned to Fourdee

[2018-02-10 21:12] Tnnuy-sv commented on #1499
Thanks for the answer!
n my point of view I think the qBittorrent better !!
I've used it on my raspberry pi 3

Thank you for the excellent dietpi project

[2018-02-10 21:35] Fourdee commented on #1491
Marking as closed. Raspcontrol/Grasshopper only for now.

[2018-02-10 21:35] #1491 closed, assigned to nobody

[2018-02-10 21:39] Fourdee commented on #1493
@TheEmpty

I believe this issue is solely due to the following issue (confirmed on your install aswell): https://github.com/Fourdee/DietPi/issues/1430

I'll mark this as closed and investigate the other ticket, which will resolve this one.

I'd be grateful if you could confirm the following:
- Did you make any locale changes to system, and how (eg: dietpi-config)?
- Installed locale's and default

[2018-02-10 21:39] #1493 closed, assigned to nobody

[2018-02-10 21:44] Fourdee commented on #1430
🈯️ C2 fresh install test, as per @JasonSwindle (https://github.com/Fourdee/DietPi/issues/1430#issuecomment-363175613)
[code]

---

RPi Zero @k-plan test (https://github.com/Fourdee/DietPi/issues/1430#issuecomment-362325454):
- Outside scope of test: auto updated to v6.1

~🈯️ Unable to replicate, test fine.~
mmm ```locale (0)``` being set after NTP mirror change, need to confirm.
🈴 Confirmed 0 afte

[2018-02-10 21:44] TheEmpty commented on #1493
* Never made any locale changes.
* Never touched locale, so whatever the defaults are for the Raspberry Pi image downloaded from the main site.
* I don't know if it was the first run, but it would be Radarr, Sonarr, NZBGet, PiHole, Somba (SMB), and Fail2ban.

I'll look at the mentioned issue and see if I can adjust my machine to prevent that error and see if that fixes the install.

[2018-02-10 22:28] Barishhh opened #1502 "Unable to locate package nzbdrone"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version | v6.1
- SBC Device (EG: RPi 3)? Odroid C2
- Power supply used (EG: 5v 1A RAVpower)? 5V 3A charger
- SD card used (EG: Sandisk ultra)? Sandisk SD 256GB
- Distro (EG: Jessie) | ```uname -a```?

#### Additional Information (if applicable):
- Software title? Nzbdrone
- Can this issue be replicated on a fresh installation of

[2018-02-10 22:57] Barishhh commented on #1502
Tried to add `dpkg --add-architecture armhf `after a reinstallation as suggested in https://github.com/Fourdee/DietPi/issues/1277. Didn't solve the problem and still returns a exit code 100.

[2018-02-11 01:22] infinitejones commented on #1445
This happens for me on three different devices (Pine64, RPi 2 Model B, RPi Zero W), all with freshly flashed DietPi_v6.0 Stretch images.

Here's the output from the Zero W, but the other devices are the same. (Installation was aborted because I Exited out of dietpi-software in order to manually run ntpd -gq)

[code]

It just runs indefinitely, soliciting new pool servers.

It's not network issues

[2018-02-11 01:26] ghost commented on #1483
drwxr-xr-x  4 root   root   4.0K Feb  6 18:43 .

drwxr-xr-x 21 root   root   4.0K Jan 10 06:15 ..

drwxr-xr-x  2 dietpi dietpi 4.0K Jan 29 12:54 dietpi

drwxr-xr-x  2 root   root   4.0K Feb  6 18:43 pivpn

[2018-02-11 01:58] TheEmpty commented on #1493
Setting the locale with the config tool, fixed the install. Also changed the arch to 'linux' for the download. Weird way that manifested.

[2018-02-11 10:36] kevinshane commented on #1495
I have the 2G version and it's working very well
however missing the transfer root to ssd option, it kind of important cuz pine64 don't have emmc so everything is running inside a poor sd card

[2018-02-11 11:02] symbios24 commented on #1499
UnfairGamer how did you mound external drives to Transmission?
you just plug the drive and it founds it right away?

[2018-02-11 11:24] msongz commented on #1498
another day, it works without any modifications.
networks go fine.

[2018-02-11 14:26] msongz commented on #1498
maybe static IP will not work, DHCP works fine.

[2018-02-11 14:54] FabioLolix opened #1503 "DietPi-software | MariaDB fails to install or move on external disk"
#### Required Information:
- DietPi Version  | v6.1
- SBC Device     | RPi 3 Model B (armv7l) (index=3)
- Distro               | stretch (index=4)
- Command        | systemctl restart mysql
- Error Handler   | G_ERROR_HANDLER
- SD card           | Sandisk ultra 16GB
- Power supply   | Nextcloud box's Ktec 5v 3A with Western digital 1TB disk

#### Additional Information (if applicable):
- Software

[2018-02-11 16:13] MichaIng commented on #1430
@Fourdee
Did you check for errors/invalid entries inside `/etc/locale.gen` and/or `/etc/profile.d/99-dietpi-force-locale.sh`? At least on @k-plan's test, the error occurred already on interactive locale generation, not our non-interactive, so there seem to be something wrong already before.

I was reading a bid deeper and had a look into our scripts, where and how we touch locales:
- https://wiki.

[2018-02-11 16:15] Fourdee commented on #1502
@Barishhh

Thanks for the report 👍

~Please can you confirm which software title?~

We'll try to replicate.

[2018-02-11 16:23] Fourdee commented on #1502
Yep, seems armhf is being ignored.

https://wiki.debian.org/Multiarch/HOWTO
[code]

---

Another install option:
https://github.com/Sonarr/Sonarr/wiki/Installation#other

[2018-02-11 16:33] Barishhh commented on #1502
Let me know if I can help in any way!

[2018-02-11 17:10] ghost commented on #1499
symbios, i thought it had detected it myself, but when i checked now, i have the fstab auto-mounting the disk to a folder. So i just have it saved in that "folder" that is actually the disk. Search linux fstab mount on boot

[2018-02-11 17:22] Fourdee commented on #1499
Seems Jessie version does not like/support md5sum generated, Stretch does:
[code]
https://github.com/qbittorrent/qBittorrent/wiki/Web-UI-password-locked-on-qBittorrent-NO-X-%28qbittorrent-nox%29
even ```secret``` does not work when set, only removing the line and using ```adminadmin``` is functional.

---

Setting ```dietpi``` password via UI saves following to config:
[code]
Which does not match

[2018-02-11 17:31] Fourdee commented on #1499
### Workaround

[code]

Password is now ```adminadmin```

[2018-02-11 17:39] Fourdee commented on #1499
Resolved for v6.2, online doc updated to reflect password change for Jessie:
http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=2272#p2272

Install verified.

Completed.

[2018-02-11 17:39] #1499 closed, assigned to Fourdee

[2018-02-11 18:51] midwan commented on #1410
@Fourdee
Heads up, just pushed out v2.13 out of beta. :)
The master branch is updated, and binaries are available for all supported distros (Jessie and Stretch) here: https://github.com/midwan/amiberry/releases

[2018-02-11 19:04] Fourdee commented on #1430
Agree 👍

The only reasons for our locale scripts are for first run, and, to ensure ```en_GB``` is regenerated if removed.

Ok, lets clean this up + full reset of locale during patch:
- Revert ```dietpi-config``` to interactive ```dpkg-reconfigure locales``` only. Check for ```grep -ci -m1 '^en_GB.UTF-8' /etc/locale.gen```, prompt user to re-select if not found.
- Remove ```/etc/profile.d/99-dietpi

[2018-02-11 19:23] Fourdee commented on #1430
We dont need ```export``` for LC_ALL, and, it only needs to be in dietpi-globals:
```LC_ALL=en_GB.UTF-8``` in dietpi-globals is all that is required.
[code]

🈯️ I believe we still need to define LANG= in scripts, else scrapes will be incorrect:
[code]

[code]

[2018-02-11 20:13] Fourdee commented on #1430
Whiptail is fine with new system on OpenSSH, need to test dropbear.
- 🈴 Dropbear ```POSIX```, we still need a solution for this.

Yep, this will fix dropbear, but override issue.

As this is a confirmed bug/issue with dropbear, unless we can find a viable solution, we should mark is as non-dietpi issue?
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=533525

[2018-02-11 20:17] MichaIng commented on #1503
@FabioLolix
Thanks for report!
Hmm #1475 might or might not fix this, as I changed the installation routine quite a bid. But it was actually not the intention.
First of all I am wondering why in your case `mariadb.service` is started, where the command clearly says `systemctl restart mysql`, which should call `/etc/init.d/mysql` (for compatibility reasons, as long as we support Jessie, where Maria

[2018-02-11 21:22] MichaIng commented on #1430
@Fourdee
How did you test the correct "localed" output, when calling scripts from within our scripts? During my tests it was necessary to export `LC_ALL` within globals. Somehow this also makes sense, as exporting is explicitly the way to give variables to subscripts?

`LC_ALL=en_GB.UTF-8 date` of course works, as this is another way to explicitly give variables to subscript.
But, as long as LC_AL

[2018-02-11 21:46] Tnnuy-sv commented on #1499
thank you! Problem solved ... after and just enter and put the password that you want

[2018-02-11 21:54] Fourdee commented on #1410
@midwan
Legend 👍 Many thanks.

RPi1-sdl2 aswell, nice one 😄

I'll pick this back up next few days. v6.2 release planned before 18th

[2018-02-11 21:55] midwan commented on #1410
@Fourdee
Great!
Just a question: Will users of older versions of DietPi (e.g. <6.x) be able to upgrade their Amiberry installations through `dietpi-upgrade`, or is that not supported and they'll have to re-flash a v6.x image first?

[2018-02-11 21:58] Fourdee commented on #1430
@MichaIng

- After v6.2 patch
- Set locale to de_DE.UTF8, and default
- Remove ```LANG=``` entry from ```dietpi-globals```
- in ```dietpi-config``` change following:
[code]
- run, check output
- add ```LANG=``` back into ```dietpi-globals```
- run, check output

You'll get same results as last test on this page( https://github.com/Fourdee/DietPi/issues/1430#issuecomment-364779497)

Essentially, al

[2018-02-11 22:07] Fourdee commented on #1410
@midwan

Bit tricky, due to v159 requiring new image, and, AmiBerry image is Jessie, new one will be Stretch (as per v6.x)
If they are running DietPi v159 (actually v5.59) or lower, they will need to fresh install via latest image regardless. The existing code is not compatible with DietPi in v6.x.

The other issue is the previous v6.0 AmiBerry DietPi image is Jessie, the new one will be Stretch o

[2018-02-11 22:08] FabioLolix commented on #1503
Sure, I'll make some fresh install and tests tomorrow or in the next days

No, I haven't touched anything aside moving dietpi_userdata with diepti-software

[2018-02-11 22:20] Fourdee commented on #1430
Note to self:
G_WHIP_MSG needs work.
[code]

[2018-02-11 22:32] shahwahed opened #1504 "ompd missing user in database"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version 6.1
- SBC Device RPi2
- Power supply used (5v 3A )?
- SD card used
- Distro dietpi rasbian

#### Additional Information (if applicable):
- Software title : ompd
- Can this issue be replicated on a fresh installation of DietPi? Yes

#### Expected behaviour:

ompd should have create a ompd database
#### Actual behaviour:
da

[2018-02-11 22:45] MichaIng commented on #1430
@Fourdee
On my Stretch VM the notice worked just fine. I am just not too sure, if it makes sense that way, as we adjust the dietpi.txt setting on dietpi-config locale adjustment, at least if error does not completely break the script 🤔. We need to check, if the value is actually a valid locale (as mentioned above) and otherwise reset to en_GB.UTF-8, or what you think?

And now I got it why it work

[2018-02-11 23:35] MichaIng commented on #1504
@shahwahed
Thanks for report!
Actually we do create the user and database: https://github.com/Fourdee/DietPi/blob/master/dietpi/dietpi-software#L11301-L11314
`GRANT ALL PRIVILEGES ON ompd.* TO 'ompd'@'localhost';` does actually include creation of user and database, that's true. We just split it in our script, to allow also creating databases for root user without (accidentally) touching it's auth

[2018-02-11 23:54] shahwahed commented on #1504
mysql error.log is empty

[2018-02-12 00:28] MichaIng opened #1505 "DietPi-Images | Creation procedure"
I think it might make sense to list and discuss the steps, in how to usually create a DietPi image. For most SBCs it should be self-explained, based on the ready to run base image we use (e.g. Raspbian Lite, Meverics Odroid minimal image, ARMbian), but e.g. for x86 images it makes sense to align the procedure, starting with the official Debian netboot/mini.iso and in case VM specs:

1. **For VMs:

[2018-02-12 00:38] MichaIng commented on #1504
@shahwahed
Just tested again on VM, fresh installation, v6.1 Stretch: 🈯️
[code]
[code]
@Fourdee @k-plan
Can some replicate error on RPi?

[2018-02-12 01:12] MichaIng commented on #1503
Also made a fresh install and test on VM Stretch:
[code]
Symlinks get created indeed, but after dietpi-software has finished, they were gone:
[code]
I am bid confused about that, can't find anything where we touch `mariadb.service`, we just disable+stop+start mysql, which is then definitely the init.d service.
But yeah might be possible, that during installation itself, `mariadb.service` is starti

[2018-02-12 03:36] msongz commented on #180
@Ardakilic add this line at the bottom of .zshrc
[code]
2021 update for the latest commit

add this line at the top of .zshrc
[code]

[2018-02-12 05:47] ghost commented on #953
I have solved it, I can boot T3 from emmc, using dietpi v6.1.
https://ywjheart.wordpress.com/2018/02/10/write-image-to-nanopc-t3-emmc/

[2018-02-12 05:48] ghost commented on #953
───────────────────────────────────────
 DietPi     | 05:48 | Mon 12/02/18
 ───────────────────────────────────────
 v6.1       | NanoPi M3/T3 (armv7l)
 ───────────────────────────────────────
 IP eth0    | 192.168.249.237
 ───────────────────────────────────────

 Created by : Daniel Knight
 Web        : http://DietPi.com
 Twitter    : http://twitter.com/dietpi_
 Donate     : http://goo.gl/pzISt9

[2018-02-12 13:42] Fourdee commented on #1505
@MichaIng

Nice write up 👍 Thanks for this, will help users who want to run PREP.

[2018-02-12 13:56] Fourdee commented on #1504
🈯️ RPi 3 (v6.2):
[code]

Unable to replicate.

[2018-02-12 14:25] MichaIng commented on #1504
@shahwahed
Did you do any 1st run setup via dietpi.txt, or moving dietpi_userdata to external drive?

[2018-02-12 14:53] Fourdee commented on #1445
@infinitejones

Thanks for the report 👍

Lets try switching back to server, instead of pool.

Please copy and paste all, then retest with ```ntpd -gq```
[code]

[2018-02-12 15:13] kgunnar commented on #1495
Unfortunately it seems to hang at the same place. I did notice if I leave it sit for a while, it eventually reboots once and hangs again in the same spot. I left it running overnight and it never got any further or rebooted any more times. I zero filled the card again before flashing this new image. Should any of the numbers have changed, it looks like they all match the previous attempts.

[code]

[2018-02-12 16:19] #1498 closed, assigned to nobody

[2018-02-12 18:01] X3msnake commented on #1505
@Fourdee @MichaIng
If we want to build this on a 32bit architecture it throws a
Unknown or unsupported CPU architecture i686

For what i read in the code it sets the G_HW_ARCH_DESCRIPTION=$ is there a way to add the i686?

Were else would we need to add this new entry?

[2018-02-12 18:39] MichaIng commented on #1505
@X3msnake
Indeed right now we don't offer x86_32 support. Please read discussion here: https://github.com/Fourdee/DietPi/issues/805#issuecomment-361591310

[2018-02-12 18:58] X3msnake commented on #805
@MichaIng  @Fourdee

Is this something I can do manually on a fork?

What would needed be done?

where are each of the diet-pi titles you mention?

Problem is with the old laptops, for example i'm using diet-pi as the base for a VM for a extension for inkscape for embroidery and there are people using older laptops that have the power to run the VM but do not support x64

[2018-02-12 20:05] infinitejones commented on #1445
Now it gets this far and hangs (I've included the full ntp.conf):

[code]

Time is still not synced. From a different ssh session:

[code]

Final output from ntpd -gq when I ctrl-c'd out of it:

[code]

[2018-02-12 20:18] Fourdee commented on #1430
@MichaIng

In case of end user has used dietpi-automation, we'll set that, else the default (en_GB).
Validation would be better, but I dont have the time at the moment to implement, and v6.2 needs to be out this week.

Sending commit, where we init locale during script start (outside of globals). Not as "clean" as i'd like, but, I see this is the only solution.
All global functions add locale init

[2018-02-12 20:21] Fourdee commented on #1430
[code]

🈯️ Result:
[code]

[2018-02-12 20:38] Fourdee commented on #1445
@infinitejones

Thanks.

Can we please see results from:
[code]

And also home router make/model (if known)?

[2018-02-12 22:53] MichaIng commented on #1376
@Fourdee
First commits done: https://github.com/Fourdee/DietPi/commits/rc-local_switch

Some questions:
- DietPi-Login waits for rc.local to finish: https://github.com/Fourdee/DietPi/blob/29ada9cd5bba442d41db6a97f2247faf188622d6/dietpi/login#L102-L126
`grep 'Active' | grep -ci -m1 '(exited)'` should just work, if `RemainAfterExit=yes` is in service file, so I guess this was the actual reason? Howe

[2018-02-13 00:04] MichaIng commented on #1445
@midwan @infinitejones @Fourdee
Would be also interesting if:
- disabling IPv6 (via dietpi-config) does change something, at least in case your local network does not necessarily depend on it
- switching to systemd-timesyncd has same issues: dietpi-config > advanced > time sync mode > deamon

[2018-02-13 01:12] theAkito commented on #1430
How does one apply this fix now?

[2018-02-13 01:30] theAkito opened #1506 "-bash: warning: setlocale: LC_ALL: cannot change locale (0)"
## Creating a bug report/issue:
Yes.

#### Required Information:
- DietPi Version | ```cat /DietPi/dietpi/.version```?
6
1
- SBC Device (EG: RPi 3)?
Raspberry Pi 3 Model B
- Power supply used (EG: 5v 1A RAVpower)?
5V DC 1,5A
- SD card used (EG: Sandisk ultra)?
Transcend Premium
- Distro (EG: Jessie) | ```uname -a```?
Linux hostname 4.9.59-v7+ #1047 SMP Sun Oct 29 12:19:23 GMT 2017 armv7l GNU/Linux

[2018-02-13 03:34] kgunnar commented on #1495
I just tried flashing the same image onto the same micro SD card using Rufus on a Windows machine and it booted fine. I'm not sure why dd and mintstick both aren't working on my Linux box (especially considering other images flash fine!) I even used the same micro SD to USB adapter. Odd, but it seems to work now... thanks for looking into it.

[2018-02-13 03:34] #1495 closed, assigned to Fourdee

[2018-02-13 04:30] jhbball2002 commented on #1366
Confirmed this is still an issue using an odroid-xu4.    Tested with the latest release, v6.1.   Can't login with the suggested username passwords;  the work around above does not solve this issue.

[2018-02-13 08:04] infinitejones commented on #1445
tl;dr: switching to daemon+drift appears to have worked.

However when rebooting, it still needs 10-15 attempts to get a response from whatever server it's soliciting, ie. ```Waiting for completion of systemd-timesyncd``` gets up to about 10-15/30.

I'd already generated the output to ```route```, ```ifconfig``` etc by the time I tried daemon+drift, so for the sake of completeness, here it is:

[c

[2018-02-13 10:19] MichaIng commented on #1430
@Akito13
At first, could you verify my suggestion and post output of `cat /etc/profile.d/99-dietpi-force-locale.sh` here, please?
I guess during 1st run setup (dietpi-software>dietpi-config), something I couldn't find yet, breaks the entries in this file.

To fix now:
If you don't use Dropbear to access via SSH, then it should be enough to:
`rm /etc/profile.d/99-dietpi-force-locale.sh` and reboot,

[2018-02-13 10:54] MichaIng commented on #1506
@Akito13
I am pretty sure it is the same issue 😄. Please follow the steps in the other topic and also try to remove `LANG=en_GB.UTF-8` and `export LC_ALL=en_GB.UTF-8` from environment/bash.bashrc.
These two files should be able to stay untouched. `/etc/default/locale` will be adjusted by locales packages configuration and that should be enough for all needed. We touched these files ourself too muc

[2018-02-13 14:03] Fourdee commented on #1366
@jhbball2002

Hi,

This fix is outdated, please see following link for workaround:
https://github.com/Fourdee/DietPi/issues/1499#issuecomment-364769906

[2018-02-13 14:57] Fourdee commented on #1430
@MichaIng

Good, me either 😆

So my suggestion: As the INIT functions within globals do future adjustments easier: just export LC_ALL=en_GB.UTF-8 there within INIT locales. It has btw. no influence on locales in terminal and fixes Dropbear issue as well:

👍

test
[code]
🈯️
[code]

Test 2:
🈯️ same result
[code]

---

🈴 We cant use G_INIT inside any function for globals, as it overrides current bash

[2018-02-13 15:29] Fourdee commented on #1430
@MichaIng

Thanks for the solutions on this one, appreciate it. Haven't been myself last few days, apologies for that.

I believe this now resolves all outstanding Global/Locale issues?

[2018-02-13 15:40] Fourdee commented on #1376
@MichaIng

We can change it to wait for ```dietpi-postboot.service```, as rclocal is now user optionally defined, we shouldnt need to wait for it.

But we do need to wait for our stuff to finish.

[2018-02-13 16:03] MichaIng commented on #1430
@Fourdee
Jep, variables inside functions are set for the environment, where they are called. Thus export them, as well as just set them, will do this for terminal. But just setting them will have not always some effect, because subscripts (date) just use exported ones (or the ones, set in /etc/default/locale.

So as we source globals and expect users to run global functions, we cannot set or expor

[2018-02-13 16:21] Fourdee commented on #1430
@MichaIng

Best we can do now is define a local var:
[code]

---

[code]

But still no effect on ```update-locale LC_TIME=de_DE.UTF-8``` and dropbear I believe.

---

Tried this, but obviously, only local to G_INIT, we'd need to add manually ```local Lxxx``` to each function in globals:
[code]

[2018-02-13 16:37] Fourdee commented on #1430
@MichaIng
I think for now, leave current bash session with globals functions as is?

Having ```local Lxxx``` inside each global function isn't ideal, and, still wouldn't fix dropbear + ```update-locale LC_TIME=de_DE.UTF-8``` I believe, when used with G_ commands in current bash session.

If we start receiving reports from users, with non-en_GB default locale, causing a negative effect by using G_

[2018-02-13 16:48] Fourdee commented on #1430
Now unable to replicate.

[2018-02-13 16:48] MichaIng commented on #1430
@Fourdee
Jep, works only, if `LC_ALL` is exported somewhere in terminal environment. This is actually the (maybe only) way to combine export and local: Export for terminal environment and then adjust as local within function. The local adjusted value is given to subscripts then, but does not affect terminal environment:
With just `local LC_ALL=en_GB.UTF-8`
[code]
Okay so we have two possibilities:

[2018-02-13 16:56] MichaIng commented on #1376
@Fourdee
Okay, and what you think how to check for it best?
Also make `dietpi-postboot.service` `RemainAfterExit=yes` (don't know about any resource usage with that) or leave it exiting and do
`while (( ! $(systemctl status dietpi-postboot.service | grep -ci -m1 'code=exited, status=0/SUCCESS') ))`
instead of
`while (( ! $(systemctl status dietpi-postboot.service | grep 'Active' | grep -ci -m1 '(e

[2018-02-13 17:03] Fourdee commented on #1430
Bugs with patch, investigating.

[2018-02-13 18:22] Fourdee commented on #1430
Ok, found the correct method needed for automated setting of locales, implemented into dietpi-config.
Resolves ALL outstanding locale issues for ALL systems (patch tested also).

- en_GB automatically installed, if its not the default
- Only list UTF-8 in dietpi-config locale (thats all we support). Based on ```/usr/share/i18n/SUPPORTED``` @MichaIng legend 👍
- automation + dietpi-config use both `

[2018-02-13 18:46] Fourdee commented on #1430
Patch test:
[code]

Some general warnings are expected, as we cant activate new locales, until re-login. After which, everything will be fine:
[code]

re-login:
[code]

fixed 🈯️
Many thanks @MichaIng for the notes 👍 Was finally able to do them justice :)

[2018-02-13 18:48] Fourdee commented on #1430
Completed.

[2018-02-13 18:48] #1430 closed, assigned to nobody

[2018-02-13 18:51] Fourdee commented on #1506
@Akito13

All issues with locales (including 0.UTF-8) will be resolved during v6.2 patch. ETA release this week. Please wait until then, to resolve the issue.

I'll mark this as closed (https://github.com/Fourdee/DietPi/issues/1430#issuecomment-365364406)

[2018-02-13 18:51] #1506 closed, assigned to nobody

[2018-02-13 19:13] MichaIng commented on #1430
@Fourdee
Nice one, jep this will definitely fix it for everybody 😆.
Still some hints:
- LANG does really not need to be set, if LC_ALL is exported.
- same as `update-locale LC_ALL` overwrites all other choices anyway, so no need to do it for anything else then.
- /etc/environment should not be removed, as I saw some raw warnings that is is missing. Just `echo '' > /etc/environment` instead and onl

[2018-02-13 20:40] Fourdee commented on #1430
@MichaIng

No worries, all good points 👍

We'll wait for user feedback after this release. This is how I've wanted it from the very start of ```dietpi-config``` (simple experience, as per the rest of DietPi. With minimal "please do this" prompts etc, eg: en_GB required now automatic).
Pending user feedback we can revert/change.

Good idea, i'll send commit 👍

Yep, although unnecessary now, for the

[2018-02-13 21:27] Fourdee commented on #1410
Verified SDL2 installs and AmiBerry displaying on screen:
- 🈯️ RPi 3
- 🈯️ RPi Zero

ToDo:
- General usage tests
- 🈯️ Update online docs
- Create new Stretch Amiberry image
- Implement for non-rpi devices (will be done for v6.3, won't make it for v6.2 release this week)

---

Issues:
- ```autostart.uae``` not loaded automatically, -f path? Have to manually load after each run
- I've put autostart.u

[2018-02-13 22:15] Fourdee commented on #1376
@MichaIng

This basically tells SystemD that when it exists, flag it as successful status with "active". Get a nice green status icon :)

while (( ! $(systemctl status dietpi-postboot.service | grep -ci -m1 'code=exited, status=0/SUCCESS') ))
instead of
while (( ! $(systemctl status dietpi-postboot.service | grep 'Active' | grep -ci -m1 '(exited)') )) ?

Either option looks good 👍 The first would

[2018-02-13 22:18] Fourdee commented on #1376
@MichaIng

```dietpi-service.service``` can be removed. This was the old ramlog/ramdisk in one service, "back in the day": https://github.com/Fourdee/DietPi/issues/122#issuecomment-160190399

[2018-02-13 22:44] dirtyharrywk opened #1508 "Flashed new image to microSD card, SSH root@<local_IP> Permission denied"
## Creating a bug report/issue:
`ssh root@192.168.2.110`
`root@192.168.2.110's password:`
`Permission denied, please try again.`

#### Required Information:
- DietPi Version | ```cat /DietPi/dietpi/.version```?  DietPi_v6.0_OdroidXU4-ARMv7-Jessie
- SBC Device (EG: RPi 3)?  Odroid HC1
- Power supply used (EG: 5v 1A RAVpower)?  5V/4A POWER SUPPLY US PLUG
- SD card used (EG: Sandisk ultra)?  Sandisk

[2018-02-14 12:46] MichaIng opened #1510 "Coding | Performance tests"
As I step over different coding solutions for the same result, I thought it might be worth doing some benchmarks:

Testsystem: DietPi_VirtualBox_x86_64-Stretch v6.2

**`grep -q` vs. `cat | grep -ci -m1`**
[code]
- `grep -q` is clear winner here, where I think the reason is, that it does not necessarily read (and write) the whole file content (like cat, although the match was at the end of the file

[2018-02-14 13:09] Fourdee commented on #1508
@dirtyharrywk

Thanks for the report 👍

I'am unable to replicate using Putty/Kitty SSH clients on my HC1. Login is successful.

This may be an issue with the Mac SSH client (which I both lack any knowledge in). However, its most likely a bad image write.

Please try the following:
- Full format the SD card
- Write the DietPi image again
- Plug into HC1 and retry.

If problems persist, the next ste

[2018-02-14 13:14] elRadix opened #1511 "Rock64 eMMC image"
@Fourdee

How to flash debian strech on the eMMC ?  Mine is 64gb.
Will you have to create special eMMC image?

I already have a USB eMMC reader bought together with the Rock64.

Thank you

[2018-02-14 13:17] Fourdee commented on #1510
@MichaIng

Great writeup 👍

real    0m5.621s
user    0m3.064s
sys     0m1.176s
root@DietPi:~# time for ((i=0;i<1000;i++)); do if (( $(dpkg --get-selections | grep -q 'tzdata') )); then ((i++)); fi; done
real    0m12.008s
user    0m6.168s
sys     0m2.148s

Interesting. cat with grep is useless, as it spawns an additional pipe where grep can read the file directly (which I did not know at the start

[2018-02-14 13:45] MichaIng commented on #1510
@Fourdee
Jep, I will also adjust this then in our code, where I find it.

There were also some other examples, where I thought, that benchmarks could be interesting, but I can't remember any more for now, which was also the reason I opened this issue for collecting.

[2018-02-14 13:55] Fourdee commented on #1510
@MichaIng

RPi 3:
[code]

---

Results -ci -m1:
[code]

🈯️ Results -q:
[code]

😲 ```grep -q``` it is!

[2018-02-14 14:17] MichaIng commented on #1462
Same could be done for installation/uninstallation:
- On installation the order works quite well, but on uninstallation it counts the indexes upwards and breaks e.g. database/user deletions, if MariaDB is removed as well (okay this is no problem), but also database backups, if wanted (ownCloud/Nextcloud), before dumping, to prevent accidents, will break.
- But to be true, this is no "real" issue,

[2018-02-14 14:53] Fourdee commented on #1511
@elRadix

I have no idea, lack the EMMC for device to test ☹️

I'll flag this for research, leave it with me.

[2018-02-14 16:10] elRadix commented on #1511
@Fourdee

In the meantime I tried to experiment. Flashed the latest image through etcher on the 64gb eMMC card.
Booting no issues at all but I got an issue with RootFS

![image](https://user-images.githubusercontent.com/6258894/36214971-0e543a94-11ab-11e8-99e8-7c96a861c881.png)

![image](https://user-images.githubusercontent.com/6258894/36214428-c340921a-11a9-11e8-98f7-81ccf55a3a66.png)

Current p

[2018-02-14 16:47] MichaIng commented on #1510
@Fourdee
Wow clearer winner, than I tought. I just don't like too much, that there seems to be no brackets/parenthesis allow around grep -q... Not tested { } though. It makes the code look a bid "unstructured" or something, don't find the right words 😆. Love to have the "question" clearly separated, also if doing something with (( test )) && do // [ test ] && do...

[2018-02-14 17:00] MichaIng commented on #1482
@Fourdee
Do you know any reason to keep dbus, if we manage to mask the getty services instead? I read here and there about "headless/server, thus without dbus/logind, and looks like all this is mostly needed for desktops, where the related packages then anyway will have dbus as dependency.

As it is the "system" message bus, I don't think, that any end user software directly use/need it. But thoug

[2018-02-14 17:10] Fourdee commented on #1482
@MichaIng

Not that i'am aware of.

Ok, lets go ahead and remove it for fresh installs ```! .installed -f check``` and PREP. Only way we'll really know if any issues are created by its removal across systems?

[2018-02-14 17:15] Fourdee commented on #1510
@MichaIng

I 100% agree, feel same, raw entry without () or [] feels wrong, python, "naughty" 😃

We'll have to play around and see if we can make it more "standardized" to fit our coding expectations.

[2018-02-14 19:55] Fourdee opened #1512 "DietPi-Software | DietPi/RPi Cam 403"
Confirmed with lighttpd

[2018-02-14 19:58] Fourdee commented on #1512
Interesting, keeps popping up on ssh:
[code]

---

- Enable sudo www-data without PW
- 🈴 Mmmm, reboots system every time ```raspimjpeg``` is run ```sudo -u www-data bash``` is fine.
- https://github.com/silvanmelchior/RPi_Cam_Web_Interface/blob/master/bin/raspimjpeg Same with latest binary
- No LED on camera, kernel/firmware issue?
- rpi-update same
- Camera faulty? Same issue occurs with camera u

[2018-02-14 20:48] peon83 opened #1513 "DietPi_OPiLite-ARMv7-Stretch"
## Creating a bug report/issue:
hello, i have a problem when install dietpi.
i download dietpi image write in the sd image and not install.
the SD write in two computer and not possibility install.

help my please.
#### Required Information:
- DietPi Version 6.0?
- Power supply used (EG: 5v 1A RAVpower)?
- SD card used (EG: Kingston)?
- Orange pi Lite

[2018-02-14 23:03] dirtyharrywk commented on #1508
Fourdee,

Thanks for the quick response.  I was using a USB adapter to flash the image to the microSD.  I switched to an SD card adapter and refreshed the dietpi image.  I inserted the card into my Odroid and was able to login via SSH with root/diepi.

Thanks again!!

[2018-02-14 23:03] #1508 closed, assigned to nobody

[2018-02-15 05:41] kapdap opened #1514 "DietPi-Automation | Installs Google AIY voice kit (ASUS Tinker Board)"
#### Required Information:
- DietPi Version | v6.1
- SBC Device     | Asus Tinker Board (armv7l) (index=52)
- Distro         | stretch (index=4)
- Command        | Connection test: 1
- Error Handler  | G_ERROR_HANDLER

#### Additional Information (if applicable):
[code]

#### Expected behaviour:
Complete installation automation without installing "Google AIY voice kit" because it was not selected.

[2018-02-15 10:07] dangamboa opened #1515 "Can't install Retropie with latest Odroid image"
Retropie using latest 6.0 image for Odroid C2 fails to build, it seems that there are missing packages that can't be installed

I read that it should build with previous versions of Dietpi, here is the log

https://pastebin.com/dfg69hyR

[2018-02-15 16:24] Fourdee commented on #1514
@kapdap

Many thanks for the report 👍

We'll open for investigations.

[2018-02-15 18:50] Fourdee commented on #1513
@peon83

We'll need more info to assist.

Please can you provide following info:
- Any output/text on the HDMI display?
- Does the device boot up?
- Have you tried re-writing the image using a different SD card and PSU?

The more info + additional info you can provide on the issue you are experiencing, the more we can assist.

[2018-02-15 18:57] Fourdee commented on #1515
@LieDanG

-- The CXX compiler identification is unknown
-- Check for working C compiler: /usr/bin/cc
-- Check for working C compiler: /usr/bin/cc -- broken
CMake Error at /usr/share/cmake-3.0/Modules/CMakeTestCCompiler.cmake:61 (message):
  The C compiler "/usr/bin/cc" is not able to compile a simple test program.

Please verify following is installed:
- ```apt-get install build-essential automake

[2018-02-15 19:01] Fourdee commented on #1515
NB: Flagging as non-DietPi issue, however, we'll assist where we can.

[2018-02-15 19:11] Fourdee commented on #1512
I believe we need to re-fork the latest version of RPi-Cam, then modify for DietPi, to resolve this correctly. Will take some time, i'll need to move this v6.3.

[2018-02-15 19:48] Fourdee commented on #1496
Stretch
- 🈯️ ARMv6
- 🈯️ ARMv7
- 🈯️ ARMv8 | cpan
- 🈯️ x86_64

[2018-02-15 19:49] Fourdee commented on #1496
Jessie:
- 🈯️ ARMv6
- 🈯️ ARMv7
- 🈯️ ARMv8 | cpan
- 🚫 (We support Stretch only on these devices) 86_64

[2018-02-16 00:34] dangamboa commented on #1515
I previously installed build-essential, installed the other packages and tried again with same results

https://pastebin.com/58NKdeAt

[2018-02-16 01:08] peon83 commented on #1513
We'll need more info to assist.

Please can you provide following info:

Any output/text on the HDMI display?
nothin, more color line, not text

Does the device boot up?
no, device not show nothin text for output hdmi

Have you tried re-writing the image using a different SD card and PSU?
the problem is when write the .img  dietpi.

the version 147  not problem, the version 160 not install or the

[2018-02-16 03:09] ronakmd opened #1516 "DietPi not booting after flashing the image."
## Creating a bug report/issue:

#### Required Information:
- DietPi Version | ```cat /DietPi/dietpi/.version```?>>DietPi_v6.0_RPi-ARMv6-Stretch
- SBC Device (EG: RPi 3)?>>>>Rpi MOdel B (armv71) index=3
- Power supply used (EG: 5v 1A RAVpower)?>>>From Adapter 5v 1.5A
- SD card used (EG: Sandisk ultra)?>>>Samsung 16
![img_20180216_082252574](https://user-images.githubusercontent.com/36526263/362920

[2018-02-16 07:17] kuzinnv commented on #1285
I try to install DietPi on my Beaglebone Black by running sudo GIT_BRANCH=$GIT_BRANCH ./PREP_SYSTEM_FOR_DIETPI.sh but on the Removing connman step BBB has disappeared from my network. SSH closed the connection. The DHCP server on my router does not show it. What I doing wrong?

[2018-02-16 08:34] narfel commented on #1306
This issue still appears to show the same problem on armv6l (Pi Zero W) on the latest version of DietPi.

**uname -a:**
`Linux DietPi 4.9.59+ #1047 Sun Oct 29 11:47:10 GMT 2017 armv6l GNU/Linux`

**cat /DietPi/dietpi/.version**
``
6
1
``

**dpkg -s mosquitto:**
[code]
**systemctl status mosquitto:**
[code]

That looks fine so far but any command results in Illegal instruction:
**root@DietPi:/etc/m

[2018-02-16 12:03] MichaIng commented on #1285
@kuzinnv
Thanks for reporting.

Yey I can imagine the issue, when starting preparation script via OpenSSH connection, as we do install/prevent Dropbear from removal, but remove OpenSSH by default: https://github.com/Fourdee/DietPi/blob/testing/PREP_SYSTEM_FOR_DIETPI.sh#L540-L548

This was already on my list somewhere before v6.0 release, forgot it 😅. We could check, if script is started via active

[2018-02-16 12:04] MichaIng commented on #1473
Closing due to missing information and user reply.

[2018-02-16 12:04] #1473 closed, assigned to nobody

[2018-02-16 12:19] kuzinnv commented on #1285
Yes, BBB has HDMI. I will try to use it. Thank you!

[2018-02-16 12:22] MichaIng commented on #1482
@Fourdee
At least on PREP it should be save to `apt-mark auto` and leave it for `G_AGA`.
About fresh installs, you are thinking to remove on 1st run updates? `G_AGP` would be maybe a bid risky, if not all devices get their system packages from official Debian repo? But you know better. For kernel/firmware `dbus` should be not necessary, it seems indeed a system(d)/init thing and at least for Debia

[2018-02-16 12:25] MichaIng commented on #1285
@kuzinnv
Ah okay, then I found the wrong one 😆. Yes would be great, if you had some access to logs/service/network states then for investigation.

[2018-02-16 12:41] Fourdee commented on #1496
Completed. LMS install re-written and supports all archs/distros.

[2018-02-16 12:41] #1496 closed, assigned to Fourdee

[2018-02-16 12:48] Fourdee commented on #1516
@ronakmd

Hi,

Thanks for the report 👍

Appears to be a basic network setup issue.
When the prompt appears (as per screenshot), press ENTER (OK) or ESC. When asked to configure network in DietPi-Config, select OK.

You can now enter the networking menu to check/configure networking as needed.

@ronakmd
Ethernet or WiFi?

[2018-02-16 12:56] Fourdee commented on #1306
@narfel

Thanks for the report 👍

It appears the only available armhf binary is compiled with ARMv7 instruction set/features. Lacking the backwards support for ARMv6 (Pi 0/1):
http://repo.mosquitto.org/debian/pool/main/m/mosquitto/

mosquito available in RPi repos.

Or we'll need to compile it for ARMv6:
https://github.com/eclipse/mosquitto

Leave it with me.

[2018-02-16 12:59] Fourdee commented on #1306
ARMv6 RPi repo:
[code]
Outdated by our current 1.4.14 .deb install

[2018-02-16 13:10] #1476 closed, assigned to nobody

[2018-02-16 13:15] ronakmd commented on #1516
Hi,
I want to use wi-fi.
Can you also let me know that how much time it shall take to boot onto
desktop?
Thankyou.
Regards,
Ronak Dedhia.

On 16 Feb 2018 6:18 p.m., "Dan" <notifications@github.com> wrote:

--

<http://www.somaiya.edu>             <http://www.somaiya.edu/kjsmc>
<http://www.nareshwadi.org> <http://www.somaiya.edu>
<http://www.helpachild.in> <http://nareshwadi.org>

[2018-02-16 13:15] symbios24 opened #1517 "Internet and Hotspot with 2 wifi adapters"
Hello, is it possible to create a hotspot using two wifi adapters one internal and one external?
using the first wifi adapter to connect to another hotspot that has internet, and the second to make a hotspot and share that internet??

instead of using the ethernet cable to give internet to Rpi from the router and after create a hotspot with eg the interal wifi

Thanks

[2018-02-16 13:37] KenthJohan opened #1518 "Installing OpenCV 3.4 on DietPi v6.1. cvNamedWindow not implemented."
#### Required Information:
- DietPi Version | 6.1
- SBC Device RPi 3

#### Additional Information (if applicable):
- OpenCV 3.4
- OpenGL 1080p
- LXDE
- Can be replicated on a fresh installation of DietPi

#### Expected behaviour:

Display a window from OpenCV

#### Actual behaviour:

`OpenCV Error: Unspecified error (The function is not implemented. Rebuild the library with Windows, GTK+ 2.x or Ca

[2018-02-16 14:27] Fourdee commented on #1306
@narfel

Fixed for v6.2 on ARMv6, will be released end of this week:
[code]

Completed.

[2018-02-16 14:27] #1306 closed, assigned to Fourdee

[2018-02-16 14:39] ronakmd commented on #1516
Hi,
Desktop as in,now I am using raspbian stretch and it takes 18 seconds to
boot.
I am connecting it to monitor for display.
So I wanted to try diet pi to reduce boot time.
Is this possible?
Thanks in advance.

On 16 Feb 2018 8:04 p.m., "Dan" <notifications@github.com> wrote:

--

<http://www.somaiya.edu>             <http://www.somaiya.edu/kjsmc>
<http://www.nareshwadi.org> <http://www.somaiya.e

[2018-02-16 14:47] #1516 closed, assigned to nobody

[2018-02-16 15:02] Fourdee commented on #1482
@MichaIng

Agree 👍 As some devices have additional packages, may pre-req ```dbus```  etc.

For now, we should simply remove ```dbus``` from PREP only.

End of PREP, once ```/etc/apt/apt.conf.d/99-dietpi-norecommends``` is removed:

In terms of ```G_AGI``` and ```dietpi-software```, we manually add ```--no-install-recommends``` as additional option, for some software titles, where the recommends ar

[2018-02-16 15:17] Fourdee commented on #1513
@peon83

Thanks, we'll try to replicate:
- Download http://dietpi.com/downloads/images/DietPi_OPiLite-ARMv7-Stretch.7z
- Write to SD
- Power on
- HDMI output seems fine, text onscreen, however, there are some line artifacts during reboots (possible driver/kernel issue outside of our control)
- After 2 reboots (FS expand), able to login and run DietPi 1st run setup
- Setup WiFi
- Connect via SSH

🈯

[2018-02-16 15:17] #1513 closed, assigned to nobody

[2018-02-16 15:29] Fourdee commented on #1514
Confirmed replication.
Notes:
- Mentioned software is not actually installed, or the pre-reqs.

This is simply a banner issue, has no effect on installed software.
Left over code from <v159.

![image](https://user-images.githubusercontent.com/7077026/36314977-6a716a5c-132e-11e8-980f-b7808e335d3c.png)

[2018-02-16 15:47] Fourdee commented on #1514
@kapdap

Great find on this, thanks for letting us know 👍

Resolved for v6.2.

[2018-02-16 15:47] #1514 closed, assigned to Fourdee

[2018-02-16 18:56] Fourdee opened #1519 "Odroid N1"
## Beta image:
### - http://dietpi.com/downloads/images/DietPi_OdroidN1-ARMv8-Stretch.7z

### Known issues:
- Device "sometimes" fails to boot, resulting in a system hang. Workaround is to wait for a failed boot (no heartbeat), then press the reset button. https://github.com/Fourdee/DietPi/issues/1519#issuecomment-368234302

#### Pending:
- GPU support/driver install ```dietpi-software```
- Kodi (

[2018-02-16 19:29] Fourdee commented on #1519
reserved.

[2018-02-16 22:00] Aquillum commented on #1446
I can confirm:

Installing modules in node-red with palette manager errors in:

[code]
Installation of the modules as root via `npm install node-contrib-modulename` works.
I think the nodered user must be granted more rights to install node-modules.

[2018-02-16 22:23] types140 opened #1520 "Certbot: error raised while starting configuration"
#### Required Information:
- DietPi Version 6.1
- SBC Device RPi3
- Power supply used 5V 2.5A
- SD card used Kingston 16GB Class 10
- Distro Linux raspiweb 4.9.59+ #1047 Sun Oct 29 11:47:10 GMT 2017 armv6l GNU/Linux (Debian Stretch)

#### Additional Information (if applicable):
- Software title Certbot
- Can this issue be replicated on a fresh installation of DietPi?
Of course. I used the headless

[2018-02-16 23:45] MichaIng commented on #1520
@types140
Jep this is known issue, as LetsEncrypt block one of their authentication methods, used by default by Nginx and Apache module. This was just in January because of some security issue found. We fixed/workaround this with v6.2 by changing default authentication method: https://github.com/Fourdee/DietPi/pull/1459
Will be released soon, planned this week, so maybe Sunday.

To fix now, do:
`c

[2018-02-17 02:04] types140 commented on #1520
@MichaIng
Whoops didn't see that already raised issue. Sorry.
Thank you for that workaround - it worked like a charm!

[2018-02-17 02:04] #1520 closed, assigned to nobody

[2018-02-17 08:11] kapdap commented on #1514
@Fourdee

No worries. Thanks for all the hard work 👍. Looking forward to the next release.

[2018-02-17 09:47] MGWGIT commented on #1355
Why in v.6 I didn't see a storage with configuration files such as dietpi.txt after flashing an image?
Windows suggest only to format this drive...

[2018-02-17 12:13] k-plan commented on #1355
@MGWGIT

Which image?

ARMbian based images, build using ARMbian build tools?

https://github.com/Fourdee/DietPi/issues/1385#issue-287129015

Please have a look here:

https://github.com/Fourdee/DietPi/issues/1465#issuecomment-362912009

https://github.com/Fourdee/DietPi/issues/1423#issue-291560616

https://github.com/Fourdee/DietPi/issues/1385#issuecomment-360261137

[2018-02-17 12:23] k-plan commented on #1519
@Fourdee

nice to see, that you have get a "engineering samples" from hardkernel. 👍

![image](https://user-images.githubusercontent.com/17237601/36343526-9a131410-140d-11e8-968d-d34b9d092c4f.png)

For all who don't know what is/will be a "Odroid N1":

[HardKernel Blog: ODROID-N1](http://com.odroid.com/sigong/blog/blog_list.php?bid=193)

[The Next ODROID!](https://forum.odroid.com/viewtopic.php?f=2

[2018-02-17 15:13] aaro668 opened #1523 "DietPi-Software | Uninstall order of Xserver 1st, creates APT errors"
#### Required Information:
- DietPi Version | v6.1
- SBC Device     | OrangePi Zero (armv7l) (index=32)
- Distro         | stretch (index=4)
- Command        | G_AGP: xcompmgr xterm xinit xauth xserver-xorg dbus-x11 xfonts-base x11-xserver-utils x11-common x11-utils
- Error Handler  | G_ERROR_HANDLER

#### Additional Information (if applicable):
- Software title | DietPi-Software

#### Expected be

[2018-02-17 15:18] Fourdee commented on #1523
@aaro668

Hi,

Thanks for the report 👍

The error is for uninstall of Xserver. During the uninstall menu, which items did you select for uninstall?
eg:
- VNC4
- Xserver

With the above info, we can try to replicate/resolve.

---

Notes:
- We only install ```libice6``` as part of MPD jessie

[2018-02-17 15:19] aaro668 commented on #1523
VNC 4
LXDE
Xserver
ALSA

Aaron Martin
Northway Metals Inc.
aaron@northwaymetals.com<mailto:aaron@northwaymetals.com>
Sales: sales@northwaymetals.com<mailto:sales@northwaymetals.com>

From: Dan [mailto:notifications@github.com]
Sent: Saturday, February 17, 2018 10:18 AM
To: Fourdee/DietPi
Cc: Aaron Martin; Mention
Subject: Re: [Fourdee/DietPi] Error uninstalling VNC (#1523)

@aaro668<https://github

[2018-02-17 15:22] aaro668 commented on #1523
I also tried uninstalling only VNC4 and got this one:
#### Required Information:
- DietPi Version | v6.1
- SBC Device     | OrangePi Zero (armv7l) (index=32)
- Distro         | stretch (index=4)
- Command        | G_AGP: realvnc-vnc-server
- Error Handler  | G_ERROR_HANDLER

#### Additional Information (if applicable):
- Software title | DietPi-Software

#### Expected behaviour:

#### Actual behav

[2018-02-17 15:27] Fourdee commented on #1523
@aaro668

Thanks 👍

This is resolved for v6.2 (release tomorrow). I'll try to replicate the other issue.

[2018-02-17 15:29] Fourdee commented on #1523
🈴 Confirmed RPi uninstall of:
VNC 4
LXDE
Xserver
ALSA

Issue is due to uninstall order of Xserver (being 1st), we need to ensure its uninstalled last.

[2018-02-17 15:30] aaro668 commented on #1523
Ok, so how do I un-install from my system?

[2018-02-17 15:30] Fourdee commented on #1523
@aaro668

Please wait.

[2018-02-17 15:32] Fourdee commented on #1523
@aaro668

Uninstall workaround:
[code]

[2018-02-17 15:34] aaro668 commented on #1523
Ok, thanks, should I run cleanup after un-install?

[2018-02-17 15:34] Fourdee commented on #1523
@aaro668
No need, DietPi will run ```apt-get autoremove --purge``` automatically at the end.

[2018-02-17 15:35] aaro668 commented on #1523
Using workaround (dietpi-software uninstall 23 28 5 6)
I get this error yet:
#### Required Information:
- DietPi Version | v6.1
- SBC Device     | OrangePi Zero (armv7l) (index=32)
- Distro         | stretch (index=4)
- Command        | G_AGP: realvnc-vnc-server
- Error Handler  | G_ERROR_HANDLER

#### Additional Information (if applicable):
- Software title | DietPi-Software

#### Expected behavi

[2018-02-17 15:40] Fourdee commented on #1523
@aaro668

Ah yes, this requires v6.2, please update the global script temporarily for this uninstall:
[code]

[2018-02-17 15:42] Fourdee commented on #1523
Moved to 6.3:
- We require an ordering system for Uninstalls
- Installs have this currently via location in script
- Maybe an additional array for "install order index" assigned to each software title, we can use to order install/uninstall.

[2018-02-17 15:51] Fourdee commented on #1446
@Aquillum

Thanks 👍

Appears it requires a home directory, which we do not generate currently. I'll make the change and patch for v6.2.

Note: Need to verify if sudo without PW is required. Not required.

[2018-02-17 16:00] aaro668 commented on #1523
Got it un-installed with this:
mv /DietPi/dietpi/func/dietpi-globals /DietPi/dietpi/func/dietpi-globals.bak
wget https://raw.githubusercontent.com/Fourdee/DietPi/testing/dietpi/func/dietpi-globals -O /DietPi/dietpi/func/dietpi-globals
chmod +x /DietPi/dietpi/func/dietpi-globals
dietpi-software uninstall 23 28 5 6
mv /DietPi/dietpi/func/dietpi-globals.bak /DietPi/dietpi/func/dietpi-globals

thanks!

[2018-02-17 16:06] aaro668 commented on #1523
Since doing the uninstall the blynkserver service isnt running successfully, any pointers why this is happening?

DietPi-Services
─────────────────────────────────────────────────────
 Mode: status

[  OK  ] cron   active (running) since Sat 2018-02-17 10:56:21 EST; 7min ago
[  OK  ] proftpd        active (running) since Sat 2018-02-17 10:56:21 EST; 7min ago
[FAILED] blynkserver    failed (Result:

[2018-02-17 16:10] Fourdee commented on #1523
@aaro668

Could be a pre-req from the uninstalled items.

What happens when you run?:
[code]

[2018-02-17 16:17] aaro668 commented on #1523
root@DietPi-Clare:~# service blynkserver stop
root@DietPi-Clare:~# /usr/bin/java -jar /etc/blynkserver/server.jar -serverConfig /mnt/dietpi_userdata/blynk/server.properties
-bash: /usr/bin/java: No such file or directory
root@DietPi-Clare:~#

[2018-02-17 16:20] Fourdee commented on #1523
@aaro668

One of the uninstalled software items most likely removed Java, due to APT req's (out of our control).

Easiest solution, reinstall blynkserver (which automatically pulls in java):
[code]

[2018-02-17 16:22] Fourdee opened #1524 "DietPi-Software | PiHole: dnsmasq fails to run"
[code]

[2018-02-17 16:24] Fourdee commented on #1524
offending line
[code]

[2018-02-17 16:27] Fourdee commented on #1524
Cause, breaks Jessie support:
https://github.com/pi-hole/pi-hole/commit/5c2dcb5e74f464e2ef5ec1afd67b569ea180acde

[2018-02-17 16:33] aaro668 commented on #1523
ok, but I have apps and settings already for Blynkserver, will those be overwritten? I would prefer not to have to set everything up again.....

[2018-02-17 16:39] Fourdee commented on #1523
@aaro668

The only thing I can see that will be overwritten during reinstall is ```"$G_FP_DIETPI_USERDATA"/blynk/server.properties``` file, however, to avoid any potential loss, please create a full system backup before hand:
[code]

[2018-02-17 17:03] Fourdee commented on #1524
We'll disable Jessie installs for now (https://github.com/pi-hole/pi-hole/commit/5c2dcb5e74f464e2ef5ec1afd67b569ea180acde#commitcomment-27626937), pending release of FTL 4.0.

[2018-02-17 17:28] Fourdee commented on #1446
🈯️ Home directory for ```nodered``` user has resolved this:
![image](https://user-images.githubusercontent.com/7077026/36343739-e9fce934-1407-11e8-9578-4d57f9083af6.png)
![image](https://user-images.githubusercontent.com/7077026/36343752-25f70abe-1408-11e8-8818-cc4b601664cb.png)

@Aquillum

Many thanks for the info that helped resolve this issue 👍

Completed.

[2018-02-17 17:37] dangamboa commented on #1524
I noticed this too, if you want to use pi-hole (who doesn't, it's awesome!) just comment that line, it will work but you won't be able to see stats

[2018-02-17 19:02] daisreaux commented on #1003
what about Orange Pi Zero Plus H5?

[2018-02-17 19:21] Fourdee commented on #548
@MichaIng @k-plan

[2018-02-17 19:36] Fourdee commented on #548
@MichaIng @k-plan

We featured in Linux Format magazine (9/10 score) 💘 :
http://dietpi.com/phpbb/viewtopic.php?f=9&t=2857#p10989

[2018-02-17 19:40] Fourdee commented on #1003
@vgoffman

Our current focus for full GPU implementation and support, is only for the major popular devices:
- Odroid
- RPi

Therefore, this is a low priority request. We'd love to implement everything our users request, but we must manage our available time and limit features/support for non-common devices.

[2018-02-17 20:27] k-plan commented on #548
https://www.pressreader.com/australia/linux-format/20180116/281681140273193

[2018-02-17 20:38] MGWGIT commented on #1355
@k-plan thanks, I think there are because Windows can't read EXT4...
I try to configure image for Orange pi zero.

[2018-02-17 20:48] k-plan commented on #1355
Yes, that's correct.
Read ext4 file systems form Windows is not such a big problem.
There are some free file system drivers.
But we don't see a practicable way to edit and save file on ext4 file systems direct from Windows.

[2018-02-17 22:34] types140 opened #1526 "[dupe] OpenVPN: No such file or directory"
**Required Information:**

    DietPi Version 6.1
    SBC Device RPi3
    Power supply used 5V 2.5A
    SD card used Kingston 16GB Class 10
    Distro Linux raspiweb 4.9.59+ #1047 Sun Oct 29 11:47:10 GMT 2017 armv6l GNU/Linux (Debian Stretch)

**Additional Information (if applicable):**

    Software title OpenVPN
    Can this issue be replicated on a fresh installation of DietPi?
    Of course. I

[2018-02-17 23:50] aaro668 commented on #1523
Thanks, it worked

[2018-02-18 09:12] kodirfan opened #1527 "Blank Aria2 webgui"
## issue:
Cant access aria2 webgui. Aria2 is running. Tried accessing http://localhost/aria2 but no luck. Any help?

_Here is the log file aria2 running._

root@DietPi:~# systemctl status aria2 -l
● aria2.service - DietPi Aria2
   Loaded: loaded (/etc/systemd/system/aria2.service; disabled; vendor preset: enabled)
   Active: active (running) since Sun 2018-02-18 04:01:49 EST; 5min ago
 Main PID: 3

[2018-02-18 09:20] symbios24 opened #1528 "ReadyMedia / MiniDLNA info"
Hello , I installed the ReadyMedia / MiniDLNA server but i cannot find instruction about how to really use it.
The only thing there is the status. can you put additional information/info about how to use/connect/setup etc?

Thanks

[2018-02-18 10:42] MichaIng commented on #1527
@kodirfan
Many thanks for your report. We will investigate and try to help you. Some infos:
- All non essential (network related etc.) services are by default disabled for DietPi to take control. Enabled means: `systemd`, Debian init system, enables it during boot based on its criteria. However we want to make sure, that we start services after our core components are loaded, thus control it ourse

[2018-02-18 10:53] k-plan commented on #1526
@types140

Please have a look here: https://github.com/Fourdee/DietPi/issues/1450

Should be solved with `DietPi v6.2`

Please wait for  version release or you can switch to testing branch, if you need it immediately: [OpenVPN setup seems broken in DietPi 6](http://dietpi.com/phpbb/viewtopic.php?f=11&t=2768#p10616)

[2018-02-18 11:02] MichaIng commented on #548
@Fourdee
Btw. great step and words you found in dialog with ARMbian, also from their side it sounds promising. I really hope this brings the unnecessary conflict to an end.

I don't have an ARMbian device here to see, but generally we could pronounce credits for kernel and base image providers more, to counteract the feeling that some people from ARMbian seemed to have? Liking or disliking the fin

[2018-02-18 11:05] midwan commented on #1410
@Fourdee
I'm pushing a new version into master today, v2.14. :)

Binaries will also be released with it, as usual. This time, I'll be creating the binaries using profiler-assisted optimizations, so the performance on those will be as good as possible. This also means that there will be a difference in performance between the binaries (best performance) and compiling from source directly, unless yo

[2018-02-18 11:48] MichaIng commented on #1527
@kodirfan @Fourdee
Could verify, also found blank Aria2 web ui on Stretch in combination with PiHole. Couldn't find any error, so logs are not necessary any more. However browser console could give some hint:
[code]
- ownCloud, Nextcloud and Minio web uis work fine btw., so it is not related to a general webserver issue.

Will test after uninstalling PiHole...
€: Okay seems to be Aria2 only issue.

[2018-02-18 11:54] k-plan commented on #548
@MichaIng

Yes, agree 💯  👍

Hmm ... no. It's only Mikhail as far as I noticed. He is okay, have help out alot in past.
It is a little bit more difficult and problems are more deeper. Igor is the head, the founder of ARMbian. If we loose his goodwill ....
Please have a look: http://www.armbian.com/authors/
First row is the importent.
Mr. tk is since a long time go to the barricades:  [Example](http

[2018-02-18 12:11] symbios24 opened #1529 "ProFtp login"
Hello, ProFtp Fileserver is not working with  ftp://root:dietpi@192.168.0.10 it does not accept the password, alternative is working with ftp://dietpi@192.168.0.100 and password dietpi

Can you fix this ?

Thanks

[2018-02-18 12:12] symbios24 commented on #1529
i forgot im using a raspberry pi with latest DietPi Stretch.

[2018-02-18 12:26] MichaIng commented on #548
@k-plan
Okay, let's see how things develop, we/Fourdee can not do much than trying to defuse/calm from our side and do best to pronounce and give credits enough to the work we are based on.

From PiHole there was/is something similar? There I can absolutely not understand, as it is the total other way round: Not we are based on their work, but they do benefit from every Distro/image that offers th

[2018-02-18 12:42] k-plan commented on #548
@MichaIng

You can make your own experience.

https://www.reddit.com/r/pihole/

https://discourse.pi-hole.net/

https://twitter.com/The_Pi_Hole

To get it clear. I personally be a great fan of PiHole, use and like it very much.
This project let me start with DietPi, because I want not only single use  Pihole on my devices and not only on RPi`s. (_Yes, PiHole supported only RPi installation in thes

[2018-02-18 14:35] dyxang opened #1530 "Dietpi For raspberrypi 3B，it’s 64-bit？"
Raspberry pie uses 64 bit processors，I just want to know
My mother tongue is not English, and the above is **copied from Google translation**. I'm sorry。

[2018-02-18 14:46] k-plan commented on #1530
@dyxang

In short: No

Why? Because it's only one RPi image (based on Rasbian) which will support all RPi hardware revisions since 2012.

https://www.raspberrypi.org/forums/viewtopic.php?t=192321#p1206377

If you think, you will need a (unsupported) 64bit Debian version (not DietPi) for RPi have a look here: https://github.com/bamarni/pi64

[2018-02-18 14:50] kodirfan commented on #1527
Hi MichaIng, thanks so much for looking into it and sorry for your VM.
I uninstalled lighttpd and installed nginx as lighttpd was showing some warnings ( I am newbie, do not know much if the error is significant) but it is still the same way. I will look forward to a solution.

Also, I noticed pihole has an update for it webgui but I can not update either by command line or from dietpi software la

[2018-02-18 15:04] Fourdee commented on #1410
@midwan

Binaries will also be released with it, as usual. This time, I'll be creating the binaries using profiler-assisted optimizations, so the performance on those will be as good as possible.

Excellent 👍

I'am just wrapping up v6.2 for release today. I'll make sure to include (and test) the 2.14 binaries before we do.

[2018-02-18 15:29] Fourdee commented on #1526
~~@k-plan~~
@types140

Yep, this is resolved for v6.2, which will be released today. I'll mark this as closed. Please reopen if required.

[2018-02-18 15:29] #1526 closed, assigned to nobody

[2018-02-18 15:44] Fourdee commented on #1524
Notes for workaround attempt:
- PiHole install script returns a exit status of >0 with Jessie (fail).
- Chance of ```sed -i '/^log-queries/c\log-queries' /etc/dnsmasq.d/01-pihole.conf``` change being overwritten during updates
- Stats not functional, expect bug reports for this.

I'll leave this as disabled for now, workaround is too messy and will cause more problems in the end for user.

[2018-02-18 15:49] k-plan commented on #1526
@Fourdee

Do you really want to addess me? 😃  I don't think so.

Belief it was vectored to @types140

[2018-02-18 16:12] breneser commented on #1524
@Fourdee  Maybe you could checkout version v3.2.1 to install ?

As a related question, is there going to be a dist upgrade in the future ?

[2018-02-18 16:30] Fourdee commented on #1410
@midwan

2.14 👍

~Quick question, I assume ```capsimg.so``` is specific to the binary and/or CPU architecture its bundled with?~

I see the filesizes are different, i'll bundle required  ```capsimg.so```  per device.

NB:
- RPi1 still using 2.13 binary until I get time to recompile, or @midwan can provide it in release section

[2018-02-18 17:00] ghost commented on #1517
HI there,
yes, that's possible, i'm running a RPi Zero W with a second WiFi-USB-Adapter. It is mine travel Hotspot at which i could use than wpa_cli to change the connection of my WLAN1 as mine WLAN0 builds up mine private network.

For more upon this, i could give you some links to read on how to set this all up with dnsmasq and not installing dhcpcd or any other dhcpc-service.

-> Setup HOSTAPD

[2018-02-18 17:01] Fourdee commented on #1524
Not for v6.2 release (wrapping it up for today release). But if we get enough "complaints" regarding the install being disabled, i'll investigate.

Yes, but we need to wait for Meveric to update his repo to Stretch. Without which, Kodi and GPU packages are not functional in Stretch.

[2018-02-18 17:05] ghost commented on #1524
Answer and temporary solution for Debian (Jessie) is given here:
https://discourse.pi-hole.net/t/pi-hole-v3-3-released-its-extra-special/7159

[2018-02-18 17:10] breneser commented on #1524
Thanks, I had to disable logging.

Installing dnsmasq 2.76 did not work for me as I am running it on Odroid C2. Tried to download arm64 version from Stretch repo but bumbped into dependency problems. Open to suggestions about how to update dnsmasq on DIetpi Odroid C2 version.

[2018-02-18 17:12] ghost commented on #1524
Do you tried this: https://discourse.pi-hole.net/t/dnsmasq-fails-on-pi-hole-3-3/7161/13?u=jacob.salmela ?

[2018-02-18 17:14] breneser commented on #1524
Thanks,I tried this partly :)

I did downgrade to v3.2.1, but did not downgrade FTL version. Will give it a go now. I am hopeful :)

[2018-02-18 17:21] ghost opened #1531 "[Request/Question] Native EFI32 Support with x86_64 ?"
Hi @Fourdee

is there anything planned to get this up and running? Most low-cost devices have 64Bit-CPUs but only EFI32 Bios. So all the x64-EFI images won't work oob.

[2018-02-18 17:23] breneser commented on #1524
Checking out FTL v2.13.2 did the trick. All seem to be working now :) Much appreciated.

[2018-02-18 17:27] ghost commented on #1524
@breneser You're welcome! 👍

[2018-02-18 17:55] Fourdee commented on #1410
@midwan

Some notes with testing, could be an issue DietPi end or not. Unsure at the moment.

#### Minor Issue 1:
RPi 3, SDL2:
- Run elite
- F12
- Select restart
- Reload autostart.uae with previous setting and elite
- selecting "start" hangs with black screen for 10-20 seconds, before starting. Same with 4.9 and 4.14 kernels.

#### Minor issue 2:
- autostart.uae is not loaded upon 1st run or rest

[2018-02-18 17:59] Fourdee commented on #1528
@symbios24

Hi,

Thanks for the feedback, we'll flag this for review.

REF: http://dietpi.com/phpbb/viewtopic.php?f=8&t=5#p49

[2018-02-18 17:59] k-plan commented on #548
@MichaIng

Yes, tested to uninstall. It's correct, `pihole-FTL` have to be removed manually.
But I don't know how to figure it out with this git stuff.

Yes, please do so. 👍

And if you can, a working fix for `pihole -up` will be very nice.

As well as a installation fix and freeze to `Pi-hole Version v3.2.1` | `Web Interface Version v3.2.1` |  `FTL Version  v2.13.2 ` for all DietPi v6.x images ba

[2018-02-18 18:07] Fourdee commented on #1529
@symbios24

Hi,

Please confirm ftp://root:dietpi@192.168.0.100 was tested (you mentioned a different IP of .10).
ftp://root:dietpi@192.168.0.100 won't work with all programs (eg: chrome doesnt accept it and still prompts for user/pw).

In which case, simply try:
ftp://192.168.0.100

I'am unable to replicate any issues here (using the IP address of .105 to match my system):
ftp://root:dietpi@192.1

[2018-02-18 18:32] symbios24 commented on #1529
sorry i meaN  ftp://dietpi@192.168.0.100 it was a typo, i  tried only with chrome, i did not know it does not accept it.so in firefox the ftp://root:dietpi@192.168.0.100 will work correct?

thanks

[2018-02-18 18:56] Fourdee commented on #1481
Unable to replicate on DietPi v6.2 (current) fresh install, i'll mark this as closed. Please reopen if you experience the same issue after upgrading to DietPi v6.2.

[2018-02-18 18:56] #1481 closed, assigned to nobody

[2018-02-18 19:00] Fourdee commented on #1384
Marking as closed in favor of:
https://github.com/Fourdee/DietPi/pull/1424#issuecomment-366525898

Please reopen if required.

[2018-02-18 19:00] #1384 closed, assigned to nobody

[2018-02-18 19:02] Fourdee commented on #1453
@MichaIng

I'am pretty satisfied with the current visual system. Great joint effort on this 👍

Marking as closed RE: https://github.com/Fourdee/DietPi/pull/1424#issuecomment-366525898
Please reopen if required.

[2018-02-18 19:02] #1453 closed, assigned to nobody

[2018-02-18 19:05] Fourdee commented on #1529
@symbios24

Unsure. If in doubt, simply use the address without user/pw (eg: ftp://192.168.0.100), then enter them manually in when prompted.

[2018-02-18 19:06] midwan commented on #1410
@Fourdee
The RPI1 build has some issues with JIT (segfaults), so I didn't provide a binary until I find a solution.

What does "autostart.uae" contain? Was it generated from Quickstart? If not, I'd advise that it's generated from scratch, using a Quickstart config as a template, since some config values have been changed from older versions of the emulator and perhaps something in there is incorre

[2018-02-18 19:21] Fourdee commented on #1410
@midwan

I'll recheck/retest

[2018-02-18 19:31] k-plan commented on #548
@Fourdee
@MichaIng
@  project evangelists 😄

After reading igors statment, all should be clear form now on. What a shame.

![180218-0004](https://user-images.githubusercontent.com/17237601/36355716-afe556ba-14e7-11e8-8f16-a011dae90dab.gif)

Unfortunately, I do not have be wrong.

Sorry.

[2018-02-18 21:52] Fourdee commented on #1410
@midwan

Image done for RPi, auto installation of latest AmiBerry:
- New DL link (no changes needed to amiberry.com info, only the link change) http://dietpi.com/downloads/images/DietPi_RPi-ARMv6-Stretch_AmiBerry.7z
- Brings image up to Debian Stretch
- SDL2 is the default and only installation method (I've opted to remove SDL1, as SDL2 seems stable and offers improved performance, newer library,

[2018-02-18 23:27] k-plan commented on #548
_k-plan locked as too heated and limited conversation to collaborators just now_
 _but keep a eye on it, every one can read it_

[2018-02-19 03:36] ronakmd commented on #1516
Hi Dan,
I cannot login to my dietpi account.
Also i followed all the steps of enabling wifi.
Still i am getting the same error as in screenshot.
Please let me know the issue.

Thankyou.

On Fri, Feb 16, 2018 at 8:17 PM, Dan <notifications@github.com> wrote:

--
Thank you.

Regards,
Ronak Dedhia.

--

<http://www.somaiya.edu>             <http://www.somaiya.edu/kjsmc>
<http://www.nareshwadi.org> <h

[2018-02-19 04:19] ronakmd opened #1533 "WiFi connected, unable to resolve address"
## Creating a bug report/issue:

DietPi Version | cat /DietPi/dietpi/.version?>>DietPi_v6.0_RPi-ARMv6-Stretch

SBC Device (EG: RPi 3)?>>>>Rpi MOdel B (armv71) index=3

Power supply used (EG: 5v 1A RAVpower)?>>>From Adapter 5v 1.5A

SD card used (EG: Sandisk ultra)?>>>Samsung 16

#### Expected behaviour:

![img_20180216_082252574](https://user-images.githubusercontent.com/36526263/36362149-034f11b8

[2018-02-19 05:15] dyxang commented on #1530
@k-plan  thanks

[2018-02-19 07:36] kanztu commented on #1527
This is the bug of webui-aria2
see this https://github.com/ziahamza/webui-aria2/pull/436
Just fix the file in /var/www/aria2/js/translate/id_ID.js

correct this line that on the first few line
translations.en_US = {  // replace en_US to ll_CC, examples: zh_CN, de_AT.
to
translations.id_ID = {  // replace en_US to ll_CC, examples: zh_CN, de_AT.

[2018-02-19 07:40] symbios24 commented on #1528
Also i cannot find info about Gmrender - DLNA audio render

[2018-02-19 07:52] midwan commented on #1410
@Fourdee
Thanks, I've updated the link to the download webpage. :)

[2018-02-19 07:58] kanztu opened #1534 "Cannot detect external hard disk"
#### Issue: Cannot detect external hard disk

#### Required Information:
- DietPi Version | ```6.2 ```
- SBC Device :RPi 3 Model B (armv7l)

####  Information:

I am trying to mount my external hard disk via DietPi-Drive_Manager, but my HD can't be found

 Result of fdisk -l

Units: sectors of 1 * 512 = 512 bytes
Sector size (logical/physical): 512 bytes / 512 bytes
I/O size (minimum/optimal): 512

[2018-02-19 09:04] symbios24 commented on #1529
I did all this from a linux machine from the file manager,from the browser it opens fine with the ftp://root:dietpi@192.168.0.100 but i cannot add files like this only view the contends of the folder,you need to do this from a file-manager/windows explorer

So when i do this from a linux file manager in ubuntu mate (ftp://192.168.0.100) when i try to copy files in a folder i get an access denied e

[2018-02-19 09:19] k-plan commented on #1529
That's correct.

That's correct.

That's correct.

For me, ftp root login for  `/mnt/dietpi_userdata` make no sense. _(with current proftp config)_

[code]

[code]

The proftp `DefaultRoot /mnt/dietpi_userdata` and all sub dirs are owned by user `dietpi`.
If it will be possible to put some here by user "`root`" , user "`dietpi`" can't do something with this file. (_with current config_)

Have a lo

[2018-02-19 09:37] k-plan commented on #1534
Hi,

can you please connect your usb drive to RPi and provide:

`root@RPi-Zero:~# lsusb`

`root@RPi-Zero:~# lsblk -f`

`root@RPi-Zero:~# dmesg`

[2018-02-19 09:48] k-plan opened #1535 "DietPi 6.2 | Update available"
## Creating a bug report/issue:
RPi Zero W | DietPi v6.1 ==>> updated to v6.2 (after reboot)

[code]

[code]

[code]

[code]

[code]

[code]

`root@RPi-Zero:~# exit`

.... and re-login:

[code]

[2018-02-19 09:49] kanztu commented on #1534
Thank you for reply!

lsusb

Bus 001 Device 002: ID 0424:9514 Standard Microsystems Corp. SMC9514 Hub
Bus 001 Device 001: ID 1d6b:0002 Linux Foundation 2.0 root hub

lsblk -f

mmcblk0
|-mmcblk0p1 vfat   boot   CDD4-B453                            /boot
`-mmcblk0p2 ext4   rootfs 72bfc10d-73ec-4d9e-a54a-1cc507ee7ed2 /

dmesg

[    0.000000] Linux version 4.9.59-v7+ (dc4@dc4-XPS13-9333) (gcc version

[2018-02-19 10:02] k-plan commented on #1534
Hmmm ...

- wrong PSU (min 2.5A / 5.1V) to power RPi ?

- faulty USB cable to power RPi ?

- faulty USB cable to power your USB HDD ?

- or your USB HDD  need a externel PSU to power up or a Y-USB cable ?

Can you connect a USB thumb drive and will it be recogniced?

[2018-02-19 10:44] narfel commented on #1306
Update for 6.2: Now it works like a charm. One little thing, though. I had to stop and remove mosquitto via dietpi-software and reinstall to make this working after upgrading to 6.2 to finally getting rid of "Illegal instruction".

root@DietPi:~# mosquitto -v
1519033829: mosquitto version 1.4.14 (build date Tue, 26 Dec 2017 22:03:57 +0000) starting
1519033829: Using default config.
1519033829: Ope

[2018-02-19 11:44] KenthJohan opened #1536 "Where can we download older versions of DietPi?"
I need DietPi v159 image for Raspberry Pi 3.

Where can we download older versions of DietPi?

[2018-02-19 11:58] kuzinnv commented on #1285
@MichaIng
I tried to use the HDMI output on BBB to install the DietPi. The script stopped again with an error. eth0 interface was not configured. After configuring on /etc/network/interfaces I will run the script again. This time the script finished correctly. I was reboot BBB and he was never boot again. I'm confused.

[2018-02-19 13:30] MichaIng commented on #1285
@Fourdee
Maybe you can help? Do you remember issues with preparation script and BBB?

@kuzinnv as well:
Which image did you start from? http://debian.beagleboard.org/images/bone-debian-9.3-iot-armhf-2018-01-28-4gb.img.xz looks reasonable for me and seems like Debian is anyway default on BBB?
But I don't know if on different images there might be essential kernel/bootloader/firmware APT packages ne

[2018-02-19 13:38] k-plan commented on #1536
@KenthJohan

Why please, if you don't mind my asking?
Do you want/need/search a Debian based Jessie DietPi image for RPi?
Something like: `DietPi_v6.0_RPi-ARMv6-Jessie.img `

[2018-02-19 14:43] kuzinnv commented on #1285
@MichaIng

Yes, exactly this image I use and his work fine. I will make a screenshots.

[2018-02-19 15:06] k-plan commented on #1285
Sorry, no spare time at the moment to play with my BBB.

@kuzinnv
Have you read, what Fourdee did while he build first testing image?
https://github.com/Fourdee/DietPi/issues/931#issuecomment-345451529

Yes, old version of testing image `DietPi_v158_BBB-armv7-(Stretch).7z` is discontinue and gone.
But I have it somewhere laying around.

Because there is not much attentions for BBB so far, we have

[2018-02-19 15:23] X3msnake commented on #1505
You should commit this to the dietpi wiki or docs

[2018-02-19 15:42] Fourdee commented on #1535
@k-plan

👍

Thanks, looks like ```/DietPi/dietpi/.update_available``` wasn't cleared after the update. Only when you ran ```dietpi-update 2```. I'll take a look.

```cat: /tmp/find_network_index: No such file or directory``` Interesting, i'll see if we can track this one down in the code.

[2018-02-19 15:55] k-plan commented on #1535
@Fourdee

This will happen to me:

- while first boot up after `dietpi-update 1` v6.1 ==> v6.2

- and first boot up after auto-reboot by install some software for testing (eg. ProFTP, pihole, let’s encrypt) on fresh updated v6.2 image via `dietpi-software`

[2018-02-19 16:33] Fourdee opened #1537 "DietPi Images | Restructure of images and supported devices"
## Important changes to the DietPi device lineup:

#### In the interest of both parties involved:
- I have taken the decision to remove all ARMbian based images from our lineup.

#### In the interest of further reducing the stretch and strain on our support infrastructure.
- All OrangePi and BananaPi images will be dropped from our lineup.

Although these boards offer a low priced SBC product, the

[2018-02-19 16:39] Fourdee commented on #548
@MichaIng @k-plan

![image](https://user-images.githubusercontent.com/7077026/36388357-78552d36-1593-11e8-882e-6e272c3b8b66.png)
https://github.com/Fourdee/DietPi/issues/1537

[2018-02-19 16:48] sintacs opened #1538 "v159 | dietpi-backup wont start up"
## Creating a bug report/issue:

running dietpi-backup, it stops after:
[Info] Checking RootFS R/W access. Please wait...
[Ok] RootFS R/W access
[3;J

#### Required Information:
- DietPi Version
159

- SBC Device (EG: RPi 3)?
RPi 3

- Power supply used?
5v 1A RAVpower

- SD card used?
Sandisk ultra

- Distro (EG: Jessie) | ```uname -a```?
Linux DietPi 4.9.62-v7+ #2 SMP Fri Nov 17 23:52:26 GMT 201

[2018-02-19 16:52] Fourdee commented on #1537
#### Current ARMbian based images:
```$G_HW_MODEL``` | ```Unique install count``` | Image name
```grep 'Hardware Index : 50$' *.txt | wc -l```
- ```G_HW_MODEL=50``` | ```5``` | DietPi_v6.0_BPiM2Plus-ARMv7-Stretch.img
- ```G_HW_MODEL=51``` | ```76``` | DietPi_v6.0_BPiPro-ARMv7-Stretch.img
- ```G_HW_MODEL=64``` | ```0``` | DietPi_v6.0_NanoPiNEOAir-ARMv7-Stretch.img
- ```G_HW_MODEL=60``` | ```94``` |

[2018-02-19 17:22] k-plan commented on #1537
Hmm ... is it my turn now?

If so, I think, to get it clean and clear, cut after position Nr. 4 ?
(Sorry for all OrangPi user - but yes, I self own some of them, and all even paid by me.)

Variation:

- remove all from lineup (incl.  all remaining NanoPi's, because I'm unsure on which base [FrindlyArm](https://github.com/friendlyarm?tab=repositories) has build their images)

Other suggestions plea

[2018-02-19 17:39] KenthJohan commented on #1536
I want to run OpenCV 3.2 on v159 because it has no problem.
LXDE filemanager has no missing icons and more functions on v159.

Yes. I downloded a older version of v160 at [http://dietpi.com/#download](http://dietpi.com/#download) before v160 was available. I don't have that image any more.

[2018-02-19 17:46] Fourdee commented on #1537
@k-plan

Would make this alot easier 👍

I actually like the NanoPi boards, great build quality and I would prefer to keep them at least. As far as i'am aware, their kernel is maintained by them for some of the boards: https://github.com/friendlyarm/linux-3.4.y, but i'll check them individually.

So yes, lets drop all OrangePi and BananaPi devices? Lets try to keep the NanoPi images (which are eith

[2018-02-19 17:57] kuzinnv commented on #1285
@k-plan

Okay... And how will help me this?

I have exactly so problem!

[2018-02-19 18:04] k-plan commented on #1536
Hmm, don't know, what OpenCV is, but anyway.

Last pre-build image of DietPi for RPi before version change is` DietPi_v150_RPi-armv6-(Jessie).img`.

But please read this:  https://github.com/Fourdee/DietPi/issues/1355#issuecomment-361309473

- completely out of our support
- no DietPi version updates for this image and it will stay forever on v149 (github master tree is down)
- you will get some e

[2018-02-19 18:22] Fourdee commented on #1537
@k-plan
Ok, I can find no evidence in the image, or friendly ARM kernel, that ARMbian was used in any form, for the following images:
- DietPi_v6.0_NanoPiM1-ARMv7-Stretch.img
- DietPi_v6.0_NanoPiM1Plus-ARMv7-Stretch.img
- DietPi_v6.0_NanoPiM2-ARMv7-Stretch.img
- DietPi_v6.0_NanoPiM3-ARMv7-Stretch.img
- DietPi_v6.0_NanoPiNEO2-ARMv8-Stretch.img

I honestly believe the above pre-images are officially

[2018-02-19 18:27] k-plan commented on #1537
@Fourdee

Yes, will be the most simple and clean solution.

All RPi's , Odroid's and 64bit VM's only.  Finish.

 I'm afraid, yes.

Hmm ... to get it clear and structured - NanoPi - all or nothing.
If all, we have please to freeze the list of supported FriendlyARM devices now and forever.
Cancel the hole NanoPi stuff, if we get hassle to find base images, can sill be done  later.

But @MichaIng  wi

[2018-02-19 19:25] Fourdee commented on #1538
@sintacs

Hi,

Please note that v159 or lower, is no longer supported. v6.x is currently required:
https://github.com/Fourdee/DietPi/issues/1355

However, I believe this issue is due to broken locales. Please use ```dietpi-config``` > Regional, and ensure that ```en_GB.UTF-8``` is enabled on the 1st screen.

If problems persist, I would recommend updating to our current v6.x images.

NB: Unsure if

[2018-02-19 19:25] #1538 closed, assigned to nobody

[2018-02-19 19:29] k-plan commented on #548
------------------

**My little personal notes for pihole problems:**

------------

[Pi-hole v3.3 Released: It’s “Extra” Special](https://pi-hole.net/2018/02/14/pi-hole-v3-3-released-its-extra-special/)

Problem:
Pi-hole install script always install the last version.
In this case eg. Pi-hole Version v3.3  | Web Interface Version v3.3 | FTL Version v3.0

_Update 2018-02-14 18:43 (version issues a

[2018-02-19 19:30] Fourdee commented on #1285
@kuzinnv

Apologies, this is an issue our end. We forgot to remove the FS expansion script for BBB.

Please do the following after you have completed a fresh DietPi PREP (once its finished, before reboot):
[code]

You can now reboot the system.

I'll apply this fix into testing branch.

[2018-02-19 20:09] k-plan commented on #1537
@MichaIng

Me too, please! :+1:

@Fourdee

Nice one! :+1:
More then enough supported devices. :smiley:

Maybe it's allowed to tell ...

...   I have the felling to hear trolls in a distance with  a smell of red herring ...  :wink:

[2018-02-19 21:15] Fourdee commented on #1537
@k-plan

👍

Ok, i've updated the initial ticket (we'll link this to explain the changes to our users):
https://github.com/Fourdee/DietPi/issues/1537#issue-298337026

@MichaIng Apologies you may have been unable to reply (which I respect and would love to know your views on these changes?).

I need to move this forward. I'll set the new download page live and remove the OPi/BPi images from the serv

[2018-02-19 21:27] Fourdee commented on #1537
@k-plan @MichaIng

I'll mark this as closed for now. But continued discussions are welcomed 👍

[2018-02-19 21:45] Fourdee commented on #1537
Actually, we still need to do the following:
- 🈯️ Remove 'ARMbian' image credits from ```obtain_hw_model```

[2018-02-19 22:21] Fourdee commented on #548
@MichaIng @k-plan

I've cleaned up what was discussed in the heat of the moment. What was said, was needed to be said and read by the people who needed to read it, at that time.

But I want to thank you both for your support throughout this. I appreciate it more than you know, you are both legends 👍

[2018-02-19 22:45] KenthJohan commented on #1536
No need to give me the link I already have v150, it has other issues also. The sweet spot is v159.
So now I know that I have to take more backups. I took a backup of 32gb SD Card v159 but that got corrupted. I have your answer. I can live without v159.

OpenCV issue regarding v6.2 [https://github.com/Fourdee/DietPi/issues/1518](https://github.com/Fourdee/DietPi/issues/1518)

[2018-02-19 23:15] Fourdee commented on #1536
@KenthJohan

Does the issue with OpenCV occur on the v150 image aswell?

[2018-02-19 23:21] Fourdee commented on #1533
@ronakmd

Please verify the WiFi key entered is a match.

Does the WiFi key contain any "strange" characters (eg: \$#/)?

Do you receive the same error in the connection test? (```dietpi-config``` > Networking options: Adapters > ```test```

Please also try with http://google.com

DietPi is a netinstall image, we do not offer any pre-installed images with desktop at this time.

[2018-02-19 23:23] KenthJohan commented on #1536
I have not tried OpenCV on v150 the only thing I tried was OpenGL 1080p resolution which gives a blank black screen after reboot.

[2018-02-19 23:26] Fourdee commented on #1536
@KenthJohan

Yep, there was a kernel specific issue with the OpenGL in the past. This is now resolved by using the latest RPi APT kernel.

Another option is ```rpi-update```, to try bleeding edge.

[2018-02-20 00:01] MichaIng commented on #1537
@Fourdee @k-plan
Sorry for late reply, I was really busy today with other stuff...

You know my opinion about this generally 😉. I am unhappy with the fact, that the affected users are the ones, that finally pay, just because of this unnecessary dev conflict. Also I love the fact, that we were able to support that much different devices, even that some of them are not used much and others are bad f

[2018-02-20 00:09] MichaIng commented on #548
❤️

[2018-02-20 01:32] ronakmd commented on #1533
Hi,
Password is simple with 5chars and 3 numbers and no special characters.
Yes I tried with http:/www.google.com but I get failed as status in WiFi
test.
But wifi shows connected and enabled.
Please let me know.
Thankyou.

[2018-02-20 01:34] ronakmd commented on #1533
Sorry its http:/google.com
Mistakenly written www
Thankyou

[2018-02-20 04:15] bhaveshgohel opened #1539 "[ODroid XU4] Your version of DietPi is now obsolete and cannot be updated."
Hello @Fourdee (Dan),
The SBC is running DietPi v156. But when i try to update to latest version it is failing with error "Your version of DietPi is now obsolete and cannot be updated."

#### Required Information:
- DietPi Version - 156
- SBC Device -   oDroid XU3/4 (armv7l)
- Power supply used - 5V 3A
- SD card used - 32GB EMMC
- Distro - Linux brnsOdroid 3.10.106+ # 1 SMP PREEMPT Fri Nov 24 16:2

[2018-02-20 12:46] MichaIng commented on #1539
@bhaveshgohel
Please read: https://github.com/Fourdee/DietPi/issues/1355#issue-285207849

And in case: http://dietpi.com/phpbb/viewtopic.php?f=9&t=2799

[2018-02-20 13:01] MichaIng commented on #805
@X3msnake
See here within dietpi-software script: https://github.com/Fourdee/DietPi/blob/master/dietpi/dietpi-software#L3395
All titles, not installed via APT (e.g. due to not available/outdated version in Debian repo), but via individual packages/raw download/source, would need check for available x32 versions/support. Then these need to be added to `http://dietpi.com/downloads/binaries` in case

[2018-02-20 13:07] MichaIng commented on #1482
@Fourdee
As far as I understood once, on some devices (their base images) there is already preinstalled `/etc/apt/apt.conf.d/norecommends` file. Just found it: https://github.com/Fourdee/DietPi/issues/1146#issuecomment-329199405

[2018-02-20 13:43] MichaIng commented on #1477
@Fourdee
Hehe, `sudo -E` did not work as well somehow 🤔, otherwise this would be great:
[code]
Adding all of our globals to `/etc/sudoers.d/` also sounds ugly to me, hmm okay if it is possible to just source globals inside, though an option... At least as far as I understood your link this would be necessary.
________________
Besides:
I just played around with DietPi-Globals and DietPi-Login withi

[2018-02-20 13:56] MichaIng commented on #1286
🈴 General info: On Debian Buster repo there are many many package updates so far, and somehow the mirroring to Raspbian Buster repo is not done well (see missing `libsodium23` above). At the moment there is some perl update, which would remove Apache and MariaDB due to broken dependencies (and for sure many other titles):
[code]
As `dietpi-software` forces `apt-get dist-upgrade` on installation, i

[2018-02-20 14:27] X3msnake commented on #805
@MichaIng  Yes I understand.

Thanks for the info and for the great work you all have been doing with this project :)

[2018-02-20 14:30] Fourdee commented on #1539
I'll mark as closed. FAQ covers this.

[2018-02-20 14:30] #1539 closed, assigned to nobody

[2018-02-20 14:37] Fourdee commented on #1533
@ronakmd

Ok, google.com is failing aswell.

It could be your router is WEP only (which we do not support officially), DietPi is default to WPA. But even then, if your router is WEP only, you shouldn't be able to obtain an IP address.

Some things to try/check:
- Try moving the device closer to the router and reconnecting the WiFi (range)
- Reboot the router, then the RPi
- Verify WPA is used and

[2018-02-20 14:49] Fourdee commented on #1527
@kodirfan @MichaIng

PR fix from Aira2 is now merged into their master branch. 👍

Quick test of RPi3 install:
- 🈯️ Web interface fully functional.

Solution for those affected, reinstall aria2:
[code]

Marking as closed.

[2018-02-20 14:49] #1527 closed, assigned to nobody

[2018-02-20 16:13] k-plan commented on #1536
@KenthJohan

Hmm ... I can feel with you. This is annoying.
Sorry, `DietPi_v150_RPi-armv6-(Jessie).img` is the last build from Fourdee.

My ".img shrink system" is running on a RPi 3. Can't remember exactly, but I think it's running DietPi v158 with lastest by Fourdee patched RPi Kernel 4.9. If you have some time, I can make a backup,  tear all stuff down and build a unsupported `DietPi_v158_RPi-a

[2018-02-20 16:30] k-plan commented on #1533
After this please:

- ping ip address of your router:  `root@RPi:~# ping "ip-address-of-your-router"`

- look at you RPi ip address:  `root@RPi:~# ip address`

- look at your RPi Kernel IP routing table: `root@RPi:~# route`

- look at your RPi DNS server:  `root@RPi:~# cat /etc/resolv.conf`

[2018-02-20 17:07] k-plan opened #1540 "DietPi Software | Midnight Commander line characters"
## Creating a bug report/issue:

http://dietpi.com/phpbb/viewtopic.php?f=11&t=2877

![2018-02-20 17-52-49](https://user-images.githubusercontent.com/17237601/36437604-c14b6300-1667-11e8-9793-0ad3f0695cdc.png)

#### Required Information:
- DietPi Version |  v6.2
- SBC Device | all my devices
- Distro  | Stretch (Jessie? - untested)

#### Additional Information (if applicable):
- Software title?

Mi

[2018-02-20 17:25] k-plan commented on #548
:heart:

:hear_no_evil:    :blush:

Done a little bit housekeeping at forum and here.

But now back to our day-to-day routine.

[2018-02-20 17:32] Fourdee opened #1541 "PREP: agetty"
![image](https://user-images.githubusercontent.com/7077026/36438774-caf8f732-1662-11e8-8c89-4e70a4ca887e.png)

[code]

[2018-02-20 17:36] Fourdee commented on #1541
Much better:
![image](https://user-images.githubusercontent.com/7077026/36439358-8cc3262a-1664-11e8-9a6e-b33cddbea5bf.png)

[2018-02-20 17:36] #1541 closed, assigned to Fourdee

[2018-02-20 17:48] k-plan commented on #1535
@Fourdee

it's happen again, after switching `de_DE.UTF-8` => `en_GB.UTF-8` => `reboot`

[code]

:cry:  Why?

` root@RPi-Zero:~# cat /boot/dietpi/.update_available`

Testing:
[code]
... starting now a new SSH session:

[code]

[2018-02-20 17:59] Fourdee commented on #1518
- Guide looks outdated (Jessie targeted?)?
- Packages not automatically being pulled in, only with ```libgtk2.0-dev```
[code]

Package conflicts ```libpng12-dev``` with ```libgtk2.0-dev``` which requires ``` libpng-dev```
[code]

#### 🈯️
[code]

[2018-02-20 18:05] Fourdee commented on #1518
@KenthJohan

During the guide, replace ```libpng12-dev``` with ```libpng-dev```, (due to https://github.com/Fourdee/DietPi/issues/1518#issuecomment-367063704) eg:
[code]

[2018-02-20 18:06] Fourdee commented on #1536
@k-plan Your call 👍  Solution may be as per: https://github.com/Fourdee/DietPi/issues/1518#issuecomment-367065474

[2018-02-20 18:07] Fourdee commented on #1540
@k-plan

Thanks 👍

~Yep, we removed non UTF-8 options from locale generation. I assume ``` ISO-8859-1``` required for MC.~
mm, fine under en_GB with kitty and OpenSSH. i'll test.

Ah yes:  https://github.com/Fourdee/DietPi/commit/c661692ff0fbdb111c790ab3a83efa65197d313f
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=533525

[2018-02-20 18:24] k-plan commented on #1540
@Fourdee

- `dietpi-config` => Language and Regional Options => Locale Change Language and Regional Settings => `en_GB.UTF-8
`

- `reboot`

- change` kitty ` to  `ISO-8859-1:1998 (Latin-1, West Europe)`

- SSH Server: Dropbear

- `mc` :

![2018-02-20 19-13-31](https://user-images.githubusercontent.com/17237601/36441570-561eeafa-1673-11e8-8824-84e71a4dccf9.png)

:+1:

- `dietpi-software` :

![2018-

[2018-02-20 18:32] Fourdee commented on #1540
@k-plan

👍

🈯️
[code]

Options:
- Always export LC_ALL/LANG en_GB.UTF-8 when dropbear is installed. Our scripts are fine as we define it already in globals.
-- and/or export current locale as generated by locale, may overwrite our scripts LANG/LC_ALL defines, breaking our scripts.
- Accept this is a bug/limitation in dropbear, leave it as is (which it is), but as its our default ssh, we need to fi

[2018-02-20 18:36] Fourdee commented on #1540
🈯️ Yep, fixes dropbear:
[code]

However, it will always force en_GB.UTF-8, regardless of locale.

---

🈯️ Auto-detect and set
[code]

---

🈯️ Need to test if setting local.gen locale, will NOT override our dietpi scripts. ~Else, this is the only solution I see~ :
[code]

[code]

[2018-02-20 18:38] k-plan commented on #1536
@Fourdee

Wow, so quick!  Very nice.  :+1:   :smiley:
And for a "unsupported" software installation.
Had the feeling, you have played around with this stuff before.

@KenthJohan can give it a try.

Let's hear, what he answer.
`DietPi_v158_RPi-armv6-(Jessie).img` will not run away any more.  :smile:

[2018-02-20 18:53] kuzinnv commented on #1285
Ah yeah! It's work! Thank you, @Fourdee!

[2018-02-20 18:53] k-plan commented on #1540
Hmm ... puh .... really difficult.

Can't say, what to do now.

[2018-02-20 19:02] Fourdee commented on #1540
@k-plan
Resolved for v6.3 👍

Workaround for v6.2:
[code]

[2018-02-20 19:02] #1540 closed, assigned to Fourdee, k-plan

[2018-02-20 19:03] Fourdee commented on #1540
NB: Left ```LANGUAGE``` out, requires different syntax and I believe its no longer used in Linux? LANG/LC_ALL should be sufficient.

[2018-02-20 19:09] Fourdee commented on #1535
@k-plan

Thanks 👍

Code checks out, cant see why this is reporting update available when file does not exist:
[code]

mmm

[code]

Think I got it, ramdisk issue.

[2018-02-20 19:14] k-plan commented on #1535
Hmm ... for me the question is, why is it in  `/boot/dietpi/.update_available` and will not be deleted, if no update exist?

[2018-02-20 19:16] Fourdee commented on #1535
@k-plan

Ramdisk simply copies all back to ```/boot``` during shutdown, so we need to manually remove that file during the process. Ensuring that only when ```dietpi-update 2``` is run during boot, update status will be correct at time of banner print.

Basically, if you shutdown the system with ```/DietPi/dietpi/.update_available ```, ```/boot/dietpi/.update_available ``` will always be restored

[2018-02-20 19:20] k-plan commented on #1535
:wink:

Yes, correct. If you move it out of the way it works.
[code]

[2018-02-20 19:22] Fourdee commented on #1535
@k-plan

Excellent 👍 Thank you.

I'll mark this as completed.

We are on fire 🔥 😃 (bug fixing)

[2018-02-20 19:22] #1535 closed, assigned to Fourdee, k-plan

[2018-02-20 19:37] MichaIng commented on #1541
@Fourdee
Ah you already removed dbus from PREP 😄.
Do just `systemctl mask serial-getty.service` instead, which launches the additional gettys if dbus/logind is not present: https://github.com/Fourdee/DietPi/issues/1482#issuecomment-364137752

[2018-02-21 03:26] bhaveshgohel commented on #1539
Ohh.. Thanks for Clarifying. i'll re-install DietPi. :smiley:
Can we add FAQ link to README.md ? it will be helpful.

[2018-02-21 06:17] ronakmd commented on #1533
Hi Dan,
I am using my mobile as a router.So the hotspot is Wpa2 security and
strength of signal is good enough.
It shows connected and enabled.I also get an ip address but after saving
changes and exiting to resume changes i get the error i mailed earlier.
Please let me know.
Thankyou.

On Tue, Feb 20, 2018 at 8:07 PM, Dan <notifications@github.com> wrote:

--
Thank you.

Regards,
Ronak Dedhia.

-

[2018-02-21 09:34] bhaveshgohel commented on #231
Hello @Fourdee @MichaIng ,
Is it possible to add option to install LTS version rather than latest version of Node.js?

Modification required in script @ https://github.com/Fourdee/DietPi/blob/master/dietpi/dietpi-software : change "node-install.sh" to "node-install-lts.sh"

Current Open PR for this changes - https://github.com/taaem/nodejs-linux-installer/pull/10

Thanks.
BG.

[2018-02-21 11:11] KenthJohan commented on #1518
That fixes the problem. Thank you!

To be able to open a window with `CV_WINDOW_OPENGL` you must have `libgtkglext1 libgtkglext1-dev` before building OpenCV.

I will run this script whenever I need to install OpenCV:
[code]

[2018-02-21 12:15] symbios24 opened #1542 "DietPi-Software | WiFi Hotspot: allow onboard/USB selection"
Hello, is it possible to add this enchantment for the wifi/tor Hospot

If there is not an internal wifi eg: rpi2/rpi1 to use automatically the attached External Usb Wifi Adapter
If there is an Internal Wifi available  eg: rpiZeroW-Rpi3  but also an external Usb wifi adapter Attached
to ask the user which wifi to use for the HotSpot
or if there is an Internal Wifi available  eg: rpiZeroW-Rpi3  but

[2018-02-21 12:59] symbios24 opened #1543 "DIetPi Berryboot"
Hello i created a wifi hospot with Latest DietPi Release after that i converted the image with berryboot using the official instructions
http://www.berryterminal.com/doku.php/berryboot/adding_custom_distributions

but upon boot i get errors the boot is failing and the hotspot is not working
i saw the post about berryboot:
https://github.com/Fourdee/DietPi/issues/671

but this is for the stock imag

[2018-02-21 13:09] MichaIng opened #1544 "DietPi-Letsencrypt | Lighttpd: Investigate and include combined.pem creation into renewal"
http://dietpi.com/phpbb/viewtopic.php?f=11&t=2861&p=11058#p11058

[2018-02-21 14:07] #1543 closed, assigned to nobody

[2018-02-21 14:14] symbios24 opened #1545 "Berryboot conversion"
hello i want to convert the Dietpi image to use with berryboot and also a pre-made image with eg wifi hotspot to berryboot image pre-installed, but the suggested conversion in this post under is not working
https://github.com/Fourdee/DietPi/issues/671

and also the official method is not working
http://www.berryterminal.com/doku.php/berryboot/adding_custom_distributions

Any help Pleease?

Thanks

[2018-02-21 15:10] sintacs commented on #1538
Hi,

thanks for your reply.

The locale is and was enabled all the time:

![grafik](https://user-images.githubusercontent.com/13884907/36487557-809434e4-1721-11e8-95ce-a38060d71619.png)

en_US.UTF-8 is enabled also.

[2018-02-21 16:40] Fourdee commented on #1542
@symbios24

Thanks for the request 👍

Currently:
- If the device has onboard WiFi, that will be used by default
- If not, external USB adapter will be used (if detected)

This applies to hotspot and standard WiFi client connection.

Adding support for onboard/USB selection, will take some time to implement. Mainly due to the way ```/DietPi/dietpi/func/dietpi-set_hardware wifimodules enable``` is h

[2018-02-21 16:42] Fourdee commented on #1542
Flagged for low priority. If this ticket obtains more interest from our users, we'll change it accordingly.

[2018-02-21 16:49] Fourdee commented on #1533
@ronakmd

If the IP addresses are obtained. We can assume the connection to the phone is established. This may simply be a DNS issue and/or configuration issue with your phone.

When the error appears, go into ```dietpi-config``` > Networking (as previously).
In the WiFi settings
- change mode to STATIC
- select "Copy Current address to Static",
- select "Static DNS"
- select "Google"
- select "Sa

[2018-02-21 17:30] k-plan commented on #1537
- [x]  :yellow_heart: :  README.md   (`master` only -` testing `can't be done by me @Fourdee )

- [x] :green_heart: :   v6.0 | Recreate all images

- [x] :green_heart: :  checked DietPi v6.0 | FAQ (i.O.)

[2018-02-21 17:37] Fourdee commented on #1537
@k-plan

Thanking you, legend 👍

Image credits and README.md (testing branch) all updated.

I'll mark this as closed. Will try and do a mini release for v6.3 to roll this out for users.

[2018-02-21 17:37] #1537 closed, assigned to Fourdee, k-plan, MichaIng

[2018-02-21 17:39] Fourdee commented on #1518
@KenthJohan

To be able to open a window with CV_WINDOW_OPENGL you must have libgtkglext1 libgtkglext1-dev before building OpenCV.

Excellent, great to hear and thanks for sharing the install script (nice one) 👍

As the original issue is now resolved, I'll mark this as closed. Please reopen if required.

[2018-02-21 17:39] #1518 closed, assigned to nobody

[2018-02-21 17:42] Fourdee commented on #1536
OpenCV issue resolved (reason for this ticket i believe): https://github.com/Fourdee/DietPi/issues/1518#issuecomment-367293397

I'll mark this ticket as closed due to the following:
- We only officially offer/release/support current DietPi images in the v6.x revision.

[2018-02-21 17:42] #1536 closed, assigned to nobody

[2018-02-21 18:00] eunito commented on #1355
Means I have to reinstall all from "ground 0"?
So many things... :/

[2018-02-21 18:32] Fourdee commented on #1482
@MichaIng

Good spot 👍

We should remove those from all images, keep everything standardized.

```00recommends``` on Odroid N1, so coverall would be,

```rm /etc/apt/apt.conf.d/*recommends*```

[2018-02-21 20:32] Fourdee opened #1546 "G_WHIP improvements/additions"

[2018-02-21 20:33] Fourdee commented on #1546
- ```G_WHIP_MSG "info"``` | removed additional var
- ```G_WHIP_YESNO``` | added
- ```G_WHIP_VIEWLOG``` | added
- All, auto detect screen size, fill screen to  x-=6 y-=4 of total.

[2018-02-21 23:18] Fourdee commented on #1531
@SuBLiNeR

Yep 👍

As it stands at the moment, I lack any knowledge of how to covert our existing image for 32bit EFI, outside of using 32bit EFI system to create a different image. As I lack any system capable of 32bit EFI, it may be some time before we can achieve it, via a different method.

[2018-02-22 05:40] pablopoo commented on #804
Installed PREP_SYSTEM_FOR_DIETPI.sh over latest Debian Stretch (clean hyper-v VM, gen 2 UEFI). At the second boot, after the partition resize, the system failed to boot properly because the fstab PARTUUID don't match with the ext4 partition.

`systemd-remount-fs[171] : mount: can't find PARTUUID=` (some uuid)

After I edited the fstab with the right UUID the system started ok.

[2018-02-22 10:54] k-plan commented on #1529
@symbios24

Question is answered? Can we close this issue?

@Fourdee

Should we better  set `RootLogin off` in `/etc/proftpd/proftpd.conf` as default?
https://github.com/Fourdee/DietPi/blob/master/dietpi/conf/proftpd.conf#L37

[2018-02-22 11:33] MichaIng commented on #1546
@Fourdee
Great one, I already have so much ideas in how to use them 😄.

About this screen size recognition, I already thought that would make sense maybe for all our whiptail uses? I mean yeah, it is big enough, but on VirtualBox default 640x480 console they are too big, left and right are cut.
But I guess this would need vast rework of content to fit different screen sizes? I didn't look much int

[2018-02-22 11:42] MichaIng commented on #1482
@Fourdee
Remove those, or skip recommendations on all devices (skip the removal of our own norecommends config in PREP), that's the question, you know I always vote for less 😆.
Otherwise also dbus would stay: recommendation of systemd, as it is basis for logind

I run my Pi (and VMs) like this nearly since start. The only one I needed to install manually was `iptables` for `fail2ban`, the time I s

[2018-02-22 11:57] symbios24 commented on #1545
Official Method is not working suggested method in #671 post is not working neither for Jessie or for Stretch boot is halted and i get the following errors:

failed to start dietpi-ramlog
failed to start dietpi-ramdisk
dependency failed for /etc/rc.local compartibility
dependency failed for Dietpi-Boot

[2018-02-22 11:58] symbios24 commented on #671
This Method is not working neither for Jessie or for Stretch boot is halted and i get the following errors:

failed to start dietpi-ramlog
failed to start dietpi-ramdisk
dependency failed for /etc/rc.local compartibility
dependency failed for Dietpi-Boot

[2018-02-22 12:02] symbios24 commented on #1529
Yes thank you

[2018-02-22 12:39] symbios24 commented on #1531
Hello any plans for a Native PC (BIOS/CSM) 32/64bit image?

Thanks

[2018-02-22 16:40] Fourdee commented on #1546
@MichaIng

Yep, plan is to roll out ```G_WHIP``` to all our scripts, replacing the manual hard coded entries. I just need to add another 2 for array type selection (eg: dietpi-software and dietpi-config)

I'll check the screen size, we can always tweak it if needed based on ```tput``` values (eg: if > 100, then cap to 100 etc).

I don't have a VM setup, if you get a chance whats the values of:
[co

[2018-02-22 16:42] Fourdee opened #1548 "DietPi-Software | Shairport-sync ARMv6 (Illegal instruction)"

[2018-02-22 16:44] Fourdee commented on #1548
32bit config example:
[code]

[2018-02-22 17:39] Fourdee commented on #1548
### I'll update all binaries to 3.1.7 (from 3.1.3), and, include x86_64.

#### Install/binary tests with update to 3.1.7 and recompiled:
[code]

- 🈯️ ARMv6
- 🈯️ARMv7
- 🈯️ ARMv8
- 🈯️ x86_64

[2018-02-22 17:43] Fourdee commented on #1548
Resolved for v6.3.

### Solution for ARMv6 on v6.2 (copy and paste all):
[code]

[2018-02-22 17:43] #1548 closed, assigned to Fourdee

[2018-02-22 18:23] Fourdee commented on #1529
@k-plan

Yep, we can change to ```dietpi``` user as ```/mnt/dietpi_userdata``` has those permissions.

[2018-02-22 18:36] Fourdee commented on #1529
🈯️ Tested via Windows explorer

Completed.

[2018-02-22 18:36] #1529 closed, assigned to nobody

[2018-02-22 18:38] Fourdee commented on #1531
@symbios24

64bit yes: https://github.com/Fourdee/DietPi/issues/1448
32bit not currently : https://github.com/Fourdee/DietPi/issues/805#issuecomment-361591310

[2018-02-22 19:22] Fourdee opened #1549 "DietPi-WiFiDB | Add EAP settings selection to GUI"
WPA-PSK / WPA-EAP / NONE

And all additional vars linked to those options.

[2018-02-22 19:43] k-plan commented on #1545
@symbios24

Hmm... DietPi BerryBoot Image for RPi is a project by  Alex Goldcheidt.

https://berryboot.alexgoldcheidt.com/

@Fourdee  have help a little bit out, to get this up and running for `dietpi_all_rpi_2016.12.28_berryboot.img`
Not less, not more.
It is not offered on http://dietpi.com/#download

You can find a download link in gitbub post or https://berryboot.alexgoldcheidt.com/search-down

[2018-02-22 20:19] agoldcheidt commented on #1545
Hi @symbios24, alright a pre-made WiFi hotspot image based on DietPi? I like the idea, I'll be glad to add it on my website list. So, there's no specials steps to convert DietPi for Berryboot, [you can use this ones](https://github.com/Fourdee/DietPi/issues/671#issuecomment-269476497). I believe that the issue is on your end. Just one quick question, what output do you see when you execute this co

[2018-02-22 22:07] Fourdee commented on #1483
Unable to replicate this our end. Marking as closed. Please reopen if required.

[2018-02-22 22:07] #1483 closed, assigned to nobody

[2018-02-22 22:13] Fourdee commented on #1423
Marking as closed.

We'll leave IP settings as they are for now. More important tickets to resolve.

[2018-02-22 22:13] #1423 closed, assigned to Fourdee

[2018-02-22 22:14] #1534 closed, assigned to nobody

[2018-02-22 22:16] Fourdee commented on #1500
Marking as closed.

We do not support Proxmox at this time. Alternatives are VMware and Virtual box image.

[2018-02-22 22:16] #1500 closed, assigned to nobody

[2018-02-22 22:17] Fourdee commented on #1504
Marking as closed, unable to replicate.

[2018-02-22 22:17] #1504 closed, assigned to nobody

[2018-02-22 22:18] Fourdee commented on #1469
@symbios24

Thanks for the requests. As with all software requests, we mark the ticket as closed initially. Should interest peak on the ticket from other users, we'll reopen for investigation.

[2018-02-22 22:18] #1469 closed, assigned to nobody

[2018-02-22 22:19] #1466 closed, assigned to nobody

[2018-02-22 22:19] Fourdee commented on #1356
Marking as closed, outdated.

[2018-02-22 22:19] #1356 closed, assigned to nobody

[2018-02-22 22:20] Fourdee commented on #1374
This is now resolved for v6.x, was a previous bug our end with ```LD_LIBRARY_PATH``` exporting.

Marking as closed.

[2018-02-22 22:20] #1374 closed, assigned to nobody

[2018-02-22 22:20] #1248 closed, assigned to nobody

[2018-02-22 22:21] Fourdee commented on #1248
Outdated, < v6.0

[2018-02-22 22:21] Fourdee commented on #1224
Support and image for this device has been dropped.

[2018-02-22 22:21] #1224 closed, assigned to nobody

[2018-02-22 22:22] Fourdee commented on #1176
Outdated, no update from manufacture. Marking as closed.

[2018-02-22 22:22] #1176 closed, assigned to nobody

[2018-02-22 22:23] Fourdee commented on #1156
Marking as closed due to outdated.

[2018-02-22 22:23] #1156 closed, assigned to nobody

[2018-02-22 22:24] #1121 closed, assigned to nobody

[2018-02-22 22:24] Fourdee commented on #1115
Netdata v1.9 as of DietPi v6.2.

[2018-02-22 22:24] #1115 closed, assigned to nobody

[2018-02-22 22:25] Fourdee commented on #1107
Closing due to:
- Outdated < v6.0
- MariaDB is now default
- OPi images/support have been dropped.

[2018-02-22 22:25] #1107 closed, assigned to nobody

[2018-02-22 22:25] #1098 closed, assigned to nobody

[2018-02-22 22:27] #1003 closed, assigned to nobody

[2018-02-22 22:27] #1014 closed, assigned to nobody

[2018-02-22 22:27] #987 closed, assigned to nobody

[2018-02-22 22:27] Fourdee commented on #987
We only support/offer Kodi for RPi/Odroid devices.

[2018-02-22 22:27] #995 closed, assigned to nobody

[2018-02-22 22:28] #980 closed, assigned to nobody

[2018-02-22 22:28] #972 closed, assigned to nobody

[2018-02-22 22:28] Fourdee commented on #967
As we no longer provide custom kernels (we now use official RPi kernel via APT), i'll mark this as closed.

[2018-02-22 22:28] #967 closed, assigned to nobody

[2018-02-22 22:30] Fourdee commented on #926
Marking as closed, due to:

https://forum.odroid.com/viewtopic.php?f=146&t=28895

[2018-02-22 22:30] #926 closed, assigned to nobody

[2018-02-22 22:31] #877 closed, assigned to nobody

[2018-02-22 22:31] #845 closed, assigned to Fourdee

[2018-02-22 22:31] #846 closed, assigned to nobody

[2018-02-22 22:32] Fourdee commented on #752
Outdated <v6.0, marking as closed.

[2018-02-22 22:32] #752 closed, assigned to nobody

[2018-02-22 22:32] Fourdee commented on #722
Marking as closed as we no longer provide custom kernels.

[2018-02-22 22:32] #722 closed, assigned to nobody

[2018-02-22 22:33] Fourdee commented on #625
Outdated, marking as closed.

[2018-02-22 22:33] #625 closed, assigned to Fourdee

[2018-02-22 22:33] #547 closed, assigned to Fourdee

[2018-02-22 22:36] Fourdee commented on #236
Marking as closed.

If I get a chance to re-write ```dietpi-config``` (very unlikely), i'll automatically make the improvement to only list supported features.

[2018-02-22 22:36] #236 closed, assigned to nobody

[2018-02-22 22:37] Fourdee commented on #1290
Outdated, marking as closed.

[2018-02-22 22:37] #1290 closed, assigned to nobody

[2018-02-22 22:39] Fourdee commented on #1209
Marking as closed due to:
- ARMbian based images dropped.
- No official available Neo Air Debian image
- 0 installs via survey results

[2018-02-22 22:39] #1209 closed, assigned to nobody

[2018-02-22 22:40] Fourdee commented on #1199
Marking as closed:
- Outdated
- We only support the waveshare32 currently

[2018-02-22 22:40] #1199 closed, assigned to nobody

[2018-02-22 22:42] Fourdee commented on #1270
I'll mark this as closed as it appears to apply to <v6.x. Please reopen if required.

[2018-02-22 22:42] #1270 closed, assigned to nobody

[2018-02-22 22:44] Fourdee commented on #1162
Marking as closed, due to:
- We only support/provide images based on the official available image.
- The kernel version installed, is dependent on the above.
- We do not provide additional kernels, outside of the above.

[2018-02-22 22:44] #1162 closed, assigned to nobody

[2018-02-22 22:45] Fourdee commented on #1157
Marking as closed, in favor of: https://github.com/Fourdee/DietPi/issues/1163

[2018-02-22 22:45] #1157 closed, assigned to nobody

[2018-02-22 22:47] Fourdee commented on #1163
I did a initial prototype for this a while back, but lacked the time to pull it off, putting it here for reference:

[dietpi-software_splitfiles.zip](https://github.com/Fourdee/DietPi/files/1749843/dietpi-software_splitfiles.zip)

[2018-02-22 22:56] #1204 closed, assigned to nobody

[2018-02-22 22:57] Fourdee commented on #1179
Closing due to lack of community interest in this device.

[2018-02-22 22:57] #1179 closed, assigned to nobody

[2018-02-22 22:58] Fourdee commented on #1132
Outdated.

[2018-02-22 22:58] #1132 closed, assigned to nobody

[2018-02-22 22:58] #1127 closed, assigned to nobody

[2018-02-22 22:59] Fourdee commented on #1110
Closing as OPi support has been dropped.

[2018-02-22 22:59] #1110 closed, assigned to nobody

[2018-02-22 22:59] Fourdee commented on #1113
Closing due to no response/outdated.

[2018-02-22 22:59] #1113 closed, assigned to nobody

[2018-02-22 23:00] Fourdee commented on #1086
Outdated.

[2018-02-22 23:00] #1086 closed, assigned to nobody

[2018-02-22 23:00] Fourdee commented on #1063
Closing due to BPi image/support being dropped.

[2018-02-22 23:00] #1063 closed, assigned to nobody

[2018-02-22 23:01] Fourdee commented on #1036
Closing due to no response.

[2018-02-22 23:01] #1036 closed, assigned to nobody

[2018-02-22 23:01] #985 closed, assigned to nobody

[2018-02-22 23:03] Fourdee commented on #982
v6.2:
DietPi-Software | MQTT Mosquito: Resolved issue with ARMv6 installation/binary: https://github.com/Fourdee/DietPi/issues/1306#issuecomment-366228445

[2018-02-22 23:03] #982 closed, assigned to nobody

[2018-02-22 23:04] Fourdee commented on #975
Outdated.

[2018-02-22 23:04] #975 closed, assigned to nobody

[2018-02-22 23:04] Fourdee commented on #824
Closing as we no longer support or provide images for BPi devices.

[2018-02-22 23:04] #824 closed, assigned to nobody

[2018-02-22 23:05] Fourdee commented on #888
No progress or interest from our community. Marking as closed.

[2018-02-22 23:05] #888 closed, assigned to nobody

[2018-02-22 23:06] Fourdee commented on #723
Marking as closed due to lack of interest from our community and no progress.

[2018-02-22 23:06] #723 closed, assigned to nobody

[2018-02-22 23:06] Fourdee commented on #688
Neo is no longer supported. Marking as closed.

[2018-02-22 23:06] #688 closed, assigned to nobody

[2018-02-22 23:07] Fourdee commented on #659
Marking as closed due to no progress or interest from our community.

[2018-02-22 23:07] #659 closed, assigned to nobody

[2018-02-22 23:10] Fourdee commented on #1137
Marking as closed due to <v6.0.

[2018-02-22 23:10] #1137 closed, assigned to nobody

[2018-02-22 23:10] #893 closed, assigned to Fourdee

[2018-02-22 23:12] Fourdee commented on #673
Marking as closed due to no progress/lack of interest from our community.

[2018-02-22 23:12] #673 closed, assigned to nobody

[2018-02-22 23:18] Fourdee opened #1550 "Image | OPi PC"
Offer a trial/test image based on official OPi PC image.

[2018-02-23 08:25] symbios24 commented on #1545
i had made many pre made images and trying to convert them to berryboot but it keeps failing
i convert all images using a raspberry pi within raspbian, do you convert them using a normal computer?
maybe the raspberry (raspbian) is the problem?,i will be glad to give you this image or any other.

[2018-02-23 09:30] parthgujar opened #1551 "DietPi image request for NanoPi Duo."
http://www.friendlyarm.com/index.php?route=product/product&product_id=197

## Creating a bug report/issue:

#### Required Information:
- DietPi Version | ```cat /DietPi/dietpi/.version```?
- SBC Device (EG: RPi 3)?
- Power supply used (EG: 5v 1A RAVpower)?
- SD card used (EG: Sandisk ultra)?
- Distro (EG: Jessie) | ```uname -a```?

#### Additional Information (if applicable):
- Software title?
- C

[2018-02-23 11:11] MichaIng commented on #1546
@Fourdee
[code]
Default on VirtualBox images, but adjustable via grub defaults: https://github.com/Fourdee/DietPi/issues/1227

[2018-02-23 12:00] MichaIng commented on #1163
@Fourdee
Okay, so you prefer to run this scripts as independent environments instead of sourcing? Needs loading of globals for every software title again, ~~as well as special variable determination, such as PHP version/base path and install state of other software. This also increases the effort, if methods about this change.~~ (**€: such vars can simply be exported!**) On the other hand, it allo

[2018-02-23 12:08] symbios24 commented on #1545
After the command
mount /dev/mapper/loop0p1 /mnt/loopp1
i get an error saying; mount: special device /dev/mapper/loop0p1 /mnt/loopp1 does not exist
this is were i stuck

[2018-02-23 12:43] MichaIng commented on #1544
Okay permissions are no issue: Even with whole /etc/letsencrypt 700 root:root, lighttpd can successfully use combined.pem + fullchain.pem. This is good news!
[code]
Seems PHP-FPM master process handles this stuff, same as with Nginx and Apache master.

[2018-02-23 13:13] Fourdee opened #1552 "Image | Odroid Stretch review"
Meveric's images/repo:
- N1 | 🈯️ img | 🈯️ gpu | 🈯️ Kodi |  https://github.com/Fourdee/DietPi/issues/1519
-- DietPi image: http://dietpi.com/downloads/images/DietPi_OdroidN1-ARMv8-Stretch.7z
- C2 | 🈯️ img | 🈯️ gpu | 🈯️ Kodi | https://forum.odroid.com/viewtopic.php?f=138&t=27449#p194153
-- DietPi image: http://dietpi.com/downloads/images/DietPi_OdroidC2-ARMv8-Stretch.7z
- XU4 | 🈯️ img | 🈯️ gpu | 🈯️

[2018-02-23 14:02] symbios24 commented on #1517
All this are to make a hotspot that already is done by dietpi.

[2018-02-23 14:11] agoldcheidt commented on #1545
Hi @symbios24, ok, when you execute this command line: `sudo kpartx -av image_you_want_to_convert.img` you must see something like this:
[code]
Is that correct?

You have to verify that `/dev/mapper/loop0p2` it is available on your end, example: it can be loop1p2, loop2p2, loop3p2 and so on.

[2018-02-23 14:53] Fourdee commented on #1482
@MichaIng

Yep, this needs further review.

All Odroids contain:
[code]

RPi is default to include recommends.
Sparky Stretch is no recommends.

---

#### Ok, so in regards to setting no recommends by default:
- We are covered for Jessie
- Covered for Stretch
- RPi is the only possible issues we may experience. But we can always fix them.

The only way we'll cover all our software installs, is to

[2018-02-23 15:08] symbios24 commented on #1545
Bingo i did it thank you,i will give you the Hotspot soon
its configured to use external usb wifi you can change that easy by typing dietpi-config going into network options and set the onboard wifi to enabled, for use the onboard on a rpi3/zeroW.
one question the sed -i 's/^\PARTUUID/#\0/g' /mnt/loopp2/etc/fstab its only for dietpi stretch?
or for any os that is based on raspbian stretch?

[2018-02-23 15:53] agoldcheidt commented on #1545
Hi @symbios24, I'm glad to hear that you successfully create your custom image, I have it, I'll test it and add it on my website list during this weekend.

Yes, the command line: `sed -i 's/^\PARTUUID/#\0/g' /mnt/loopp2/etc/fstab` will work on all Stretch based distributions.

[2018-02-23 15:58] symbios24 commented on #1545
i will send you more when i can.see you

[2018-02-23 16:30] ludji49 opened #1554 "Configuration de la sécurité des transports Strict"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version | ```cat /DietPi/dietpi/.version 6.2
- SBC Device (EG: RPi 3)
- Power supply used (EG: 5v 1A RAVpower) yes
- SD card used EG: Sandisk ultra 32 Go
- Distro (EG: Jessie) | françois
#### Additional Information (if applicable):
- Software title?
- Can this issue be replicated on a fresh installation of DietPi yes

#### Expect

[2018-02-23 20:52] #1448 closed, assigned to Fourdee

[2018-02-23 20:58] Fourdee commented on #1448
NB: missing intel-microcode

[2018-02-23 22:51] MichaIng commented on #1482
@Fourdee
Jep, agree. The risk for issues on RPi is anyway small, since Raspbian and Debian repos are mostly the same, with same dependencies and recommends.

[2018-02-24 01:00] MichaIng commented on #1544
PR ready for testing: https://github.com/Fourdee/DietPi/pull/1553

[2018-02-24 01:19] MichaIng commented on #1376
@Fourdee
Do you think it is necessary to overwrite system rc-local?
https://github.com/Fourdee/DietPi/blob/testing/dietpi/func/dietpi-set_core_environment#L280-L324

It seems to be not in use on default systems any more and I would prefer to not touch any of those system files/services, as long as it is not necessary.

I would just backup+revert `/etc/rc.local` in patch_file, in case users started

[2018-02-24 07:09] ludji49 commented on #1554
_I think I have a new problem creating a new certificate._

![2018-02-24_080428](https://user-images.githubusercontent.com/10480101/36626826-03f344aa-193a-11e8-85df-5e9c02bd2c2c.png)

_and following your tuto I don't have permission to modify_

![2018-02-24_082759](https://user-images.githubusercontent.com/10480101/36627001-b9aabf92-193c-11e8-826a-20aec7440190.png)
![2018-02-24_080428](https://use

[2018-02-24 09:07] maweki commented on #659
Can we reopen this? I still want to implement this. This would be very good in dietpi.txt because otherwise you have to boot dietpi (but you have no working network), remove the SD card, change the interfaces file, plug the card in again and boot.

And you play the same game every time you change the network settings via dietpi-config.

[2018-02-24 12:43] MichaIng commented on #1554
@Virusdead49
Respect the side note I gave 😉: Please replace the strings `old.domain.com` and `new.domain.com` with your **actual old and new domain names** 🙂. Especially `old.domain.com` explicitly NEEDs to be exactly the same domain, that you used, when you ran `dietpi-letsencrypt` first!

If this went fine, then try to access your Nextcloud via new domain. The Apache configuration can be left ou

[2018-02-24 12:50] #1545 closed, assigned to nobody

[2018-02-24 12:58] ludji49 commented on #1554
So I wrote down the address on dietpi-letsencrypt, search on google google.
I wrote on the order:
cd /etc/apache2/sites-available-sites
Is
sudo nano 000-default. conf
![2018-02-24_134623](https://user-images.githubusercontent.com/10480101/36630650-37ab5258-196a-11e8-9a5b-75d1ed636b2e.png)
![2018-02-24_135244](https://user-images.githubusercontent.com/10480101/36630651-37c33cba-196a-11e8-9e36-00bd3

[2018-02-24 13:27] MichaIng commented on #1530
@dyxang
Check out the discussion about this on Raspbian forum: https://www.raspberrypi.org/forums/viewtopic.php?t=192321

We will follow them. As fast as they release a x64 repository for RPi3 (or 4 then, who knows), we will do as well. But indeed the benefits seem to be marginal and do now weight out the effort for now.

[2018-02-24 13:32] dyxang commented on #1530
@MichaIng Ok,now I know.Thanks.
==
My parent languageis not English, and the above is **copied** **from** **Google** **translation.** I'm sorry for that。

[2018-02-24 13:40] MichaIng commented on #1530
@dyxang
No worries about language here, many of us are learning by doing 😃.

[2018-02-24 13:51] MichaIng commented on #1554
@Virusdead49
So looks good, the redirection method is not the one, implemented by CertBot by default (via mod_rewrite), but it is even better/native (via mod_alias), if there is no special configuration necessary. I use the same on my server 😉.

I would remove the line `ErrorLog /error.log`, as this is set already to the more common log files location `/var/log/apache2/error.log` within `/etc/apac

[2018-02-24 14:14] ludji49 commented on #1554
I _just deleted ErrorLog /error. log

Then I have to write it's cmd line._

[code]

[2018-02-24 14:53] MichaIng commented on #1376
@Fourdee
Maybe when using `dietpi-set_core_environment` on update, we can (optionally) be a bid more preserving, as at the moment at least cron settings and custom grub defaults get overwritten.
_____________________
Btw. 👍 for `99-dietpi-posix-set-locale.sh`. Previously I found our whiptail scripts still show broken layout when accessing via `screen`. Even that locales are set correctly within sc

[2018-02-24 15:03] Fourdee commented on #1519
Image based on Meveric's, notes:
- ```boot.ini``` ```root=UUID=e139ce78-9841-40fe-8823-96a304a09859```
- ```xserver-xorg-video-armsoc-rk3399-odroid``` | http://fuzon.co.uk/meveric/pool/n1/libm/libmali-rk/
- 🈯️ ```sed -i 's@https://oph.mdrjr.net/meveric@http://fuzon.co.uk/meveric@' /etc/apt/sources.list.d/*```
- 🈯️(https://github.com/Fourdee/DietPi/commit/c8290e32d515c40b17454c096bc070931e2f5b11)

[2018-02-24 18:17] k-plan commented on #1550
_My little personal notes for Orange Pi (One):_

- Try out to find a image based on Debian, which is build by manufacturer ["OrangePi"](http://www.orangepi.org/downloadresources/)
- Found [Raspbian_For_OrangePi_PC_v0_8_0.img](http://www.orangepi.org/downloadresources/orangepipc/oragepipc_e930546e866b23585721e5d2a6.html) and [debian_xfce_desktop_Orangepione_v0_9_1.img](debian_xfce_desktop_Orangepio

[2018-02-24 18:30] k-plan commented on #1550
Impessions:

[code]

[code]

[code]

[code]

[code]

I will do some sketchy testing, playing around, housekeeping and will upload it for dev testing and run-through.

As far as I can see, but NOT able to test, it's possible, it will run of several OrangePi devices.

[code]

[2018-02-24 18:41] k-plan commented on #1519
@Fourdee

Hmm ... have you give GPIO  Pin: 8 - 9 - 10 a spin with a USB-to-UART adapter? 115200-8-N-1 ?

[2018-02-24 18:45] Fourdee commented on #1519
@k-plan

6-8-10

Will give 8-9-10 a shot 👍

[2018-02-24 18:50] k-plan commented on #1519
@Fourdee

What UART adapter do you own?

With 5V, 3.3V or 1.8V  interface?

http://www.hardkernel.com/main/products/prdt_info.php?g_code=G134111883934

Do you have a level shifter?

![image](https://user-images.githubusercontent.com/17237601/36633825-ec30448c-199b-11e8-98a9-e199822b4f78.png)

[2018-02-24 18:58] k-plan commented on #1519
@Fourdee

http://com.odroid.com/sigong/blog/blog_list.php?tag=ODROID-N1

ups ... sorry.

[2018-02-24 19:01] Fourdee opened #1555 "INFO: On leave"
Hi all,

I will be taking a break from DietPi completely for at least a week, due to RL + ill health. I may be able to come back sooner, unknown at this time.

@MichaIng
I've removed requirements for PR reviews. You should be able to accept merges from now on 👍

@k-plan @MichaIng
I'd be grateful if you could both continue with the work you do, and, help keep the ship running if/when you can. Howev

[2018-02-24 19:04] Fourdee commented on #1519
@k-plan

Thanks 👍 No worries, my fault for not being able to keep up.

[2018-02-24 19:04] k-plan commented on #1519
@Fourdee

edit:

http://wiki.t-firefly.com/index.php/Firefly-RK3399/Serial_debug/en

http://wiki.t-firefly.com/index.php/Firefly-RK3399/UART/en

[2018-02-24 19:04] Fourdee commented on #1519
@k-plan

Thanks, i'll revisit this after: https://github.com/Fourdee/DietPi/issues/1555

[2018-02-24 19:11] k-plan commented on #1555
@Fourdee

Think nothing of it! It's okay. No problem.

Get well soon!

[2018-02-24 19:47] MichaIng commented on #1555
@Fourdee
Jep, take care your healthiness, children and wife 😃!

Thanks for merge permissions. I will do careful use. Waiting for your return before v6.3 release anyway 😉.
_________________________
Merged PRs for overview:
https://github.com/Fourdee/DietPi/pull/1553
https://github.com/Fourdee/DietPi/pull/1562

[2018-02-24 20:30] MichaIng commented on #1550
@k-plan
Thanks for this testing, great work a bid hope for our OPi users.

But indeed you were right, this images from OPi are a mess. Messy confusing description, wrong and mixed icons, various different 3rd party file hosts, OS versions that do not fit to the image creation/upload date, missing details... but most importantly of course the content.

Seems they more less dropped support for the d

[2018-02-24 20:36] MichaIng commented on #1554
@ludji49
Jep, of course web server restart afterwards: `service apache2 restart`, then your web server root should be switched to /nextcloud subdirectory, thus Nextcloud accessible directly at your domain.

One thing to do, if it works correctly, switch Nextcloud cli requests to root as well then:
`sed -i 's|localhost/nextcloud|localhost|' /var/www/nextcloud/config/config.php`

[2018-02-24 20:47] k-plan commented on #1550
@MichaIng

H3 stuff will be the correct one for OPi - One, - PC, - Plus,  - 2, ...

http://linux-sunxi.org/H3

For me as well. Never ever done this before and not willing or learn to do this.
I'm not the brighest light 💡  on chrismas tree 🎄  and my life time is running out.  👴
🙈   😃

So then, it's up to you. But I don't belive it's be worth the effort

[2018-02-24 21:04] ludji49 commented on #1554
I just put the line commands everything seems to be working normally.
one thing I don't understand: you say
**`if it works correctly, switch Nextcloud cli requests to root`**
what I've been through and what to do next
must I place this order
`sed -i' s|localhost/nextcloud|localhost|' /var/www/nextcloud/config/config. php"`

[2018-02-24 21:15] MichaIng commented on #1550
@k-plan

Ah okay, good to know. Hmm yeah, there is other things to do and I don't want to start with developing on SBC images right now, focusing with limited time on topics that I can develop/test on VMs.

Especially with Fourdee time-out right now, I guess it would be fair enough to e.g. provide your image for testing/impressions to our OPi users. We can collect their feedback/issues and see if

[2018-02-24 21:28] k-plan commented on #1550
@MichaIng

Have said this  more then once before ...  but 🙉  .   😃  🙊
If you pay peanuts, you will get monkeys.

As far as I have notice and read, we should stay far, far away form Mainline Kernel (4.x) with Allwinner devices.
Better to have a stable working Legacy Kerne (3.x).

The really bad problems have been started, since we have switch to 4.x with DietPi 6.x.

http://linux-sunxi.org/Category

[2018-02-24 21:46] k-plan commented on #1550
@MichaIng

If you are interssed in debug booting output of running OPi-One build image:

[UART debug output](https://gist.github.com/anonymous/65fd0fd2b7f2fbb8f3e427ef38b570ca)

[dmesg output](https://gist.github.com/anonymous/6fcce69ab3cd136d094f82fd4f29320f)

Because this boards are running very hot, have change cpu governor to `interactive` and take down dram frequence to `408 MHz`

[code]

[co

[2018-02-24 22:11] MichaIng commented on #1554
@ludji49
Yes, run this please, otherwise you will see errors in Nextcloud log, on every cron job execution:
`sed -i 's|localhost/nextcloud|localhost|' /var/www/nextcloud/config/config.php`

[2018-02-25 06:45] ludji49 commented on #1554
Thank you a lot for your valued assistance

I have another question about nextcloud cache memory.
on page 2 of the forum, except this procedure doesn't work I still have this message

![2018-02-25_075720](https://user-images.githubusercontent.com/10480101/36638966-b2ee1468-1a01-11e8-86c9-9d009b3d7ac5.png)

**_my second question_**
How UrBackup server works
as a precaution if an error this product

[2018-02-25 06:56] symbios24 commented on #1555
Be well soon :)

[2018-02-25 13:59] MichaIng commented on #1554
@ludji49
About memory caching:
Could you please copy&paste the content of your `/var/www/nextcloud/config/config.php`? Leave private information, passwords etc. out of course.

About dietpi-backup:
By default the backup will be stored within `/mnt/dietpi-backup`, which is indeed on your SD card. Please select `dietpi-backup > Location > List`, where you should see all mounted drives, including you

[2018-02-25 14:07] ghost commented on #1517
@symbios24

hi there, what are you trying to tell me? Above mentioned stuff is not done by dietpi automatically. I'm currently running this above setup via dietpi and this works well for me.
At dietpi you have to have eht0 active to create this thingy. Mine setup is only with internal wlan0 and wlan1 (USB-Dongle). This runs for an TOR Hotspot on a ZeroW and an RPi3 for travel with integrated VPN.

[2018-02-25 14:12] ghost commented on #1542
@Fourdee @symbios24 there are more easier solutions for this to be handeld. Nothing to change on DietPi. It works oob if you're not afraid using the console and copy&paste some commands.

Main part is to have a compatible USB-WiFi-Dongle (Google is your friend!); easiest way to get stuff done is editing `/etc/interfaces/network` and be sure the wlan1 is found at start.

btw. @symbios24 i just answ

[2018-02-25 14:15] ghost commented on #1555
@Fourdee Take your time and get well soon! :wink:

[2018-02-25 14:20] ghost commented on #1531
@Fourdee Normally, Debian9 support this option while starting to install via LIVE-CD and than installs grub2 directly as EFI32 or EFI64. This must mean, if i now install DEBIAN9 and than create DietPi via PREP-script, it may run at this computer... just a thought.

[2018-02-25 14:33] MichaIng commented on #1482
@k-plan
Do you have a RPi2 for testing there? Last check about this topic is, if after purging `dbus` + reboot and with disabled serial console (default), getty `ttyAMA0` process does not show up by itself. So actually the initial question of this issue 😆.

Maybe I did something else different/wrong on my RPi2, but I needed to mask `serial-getty@AMA0.service` to get rid of the serial getty process

[2018-02-25 15:24] MichaIng commented on #1524
For reference:
- It seems possible to build dnsmasq 2.76 from source on Jessie: https://wiki.fogproject.org/wiki/index.php?title=ProxyDHCP_with_dnsmasq#Compiling_dnsmasq_2.76_if_you_need_uefi_support
- However confirmed just on Raspbian Jessie and Ubuntu 16.04 LTS, where our Odroid devices are on Debian Jessie.
- This manual workarounds with disable logging/downgrading are no proper stable end use

[2018-02-25 15:35] ludji49 commented on #1554
copy&paste the content of your /var/www/nextcloud/config/config.php
Do I need to remove my SD card?

[2018-02-25 15:41] MichaIng commented on #1544
Mark as closed, PR is merged, tested successfully on Jessie + Stretch + Buster, each Minio and Lighttpd.
Fix on existing installations via rerun `dietpi-letsencrypt 1` on dietpi-update.

[2018-02-25 15:41] #1544 closed, assigned to MichaIng

[2018-02-25 15:47] MichaIng commented on #1554
@ludji49
Nope, leave your SD card in place, just do
`cat /var/www/nextcloud/config/config.php` and paste the text output on your terminal here, erasing sensible information.

[2018-02-25 15:56] ludji49 commented on #1554
_here but information_

![2018-02-25_164958](https://user-images.githubusercontent.com/10480101/36643547-2eb54a26-1a4d-11e8-9731-655b6e24b5d2.jpg)

[2018-02-25 16:03] MichaIng commented on #1523
I will close in favour of: https://github.com/Fourdee/DietPi/issues/1462
Collect ideas there how to realize specific uninstall order.

[2018-02-25 16:25] MichaIng commented on #1462
Other specific issue of uninstall order: https://github.com/Fourdee/DietPi/issues/1523

I have two ideas:
1. Read/check temp uninstall file directly within loop:
   - Give all uninstall indexes as argument (with spaces) to Uninstall_Software, instead of one by one: https://github.com/Fourdee/DietPi/blob/testing/dietpi/dietpi-software#L15373
   - `if [[ "$@" =~ ' 23 ' ]];` instead of `if (( $index

[2018-02-25 18:42] WineSoaked opened #1556 "Installing Home Assistant on ODROID C1 leads to ruin"
#### Required Information:
- DietPi Version | v6.2
- SBC Device     | Odroid C1 (armv7l) (index=10)
- Distro         | jessie (index=3)
- Command        | G_AGI: sqlite3
- Error Handler  | G_ERROR_HANDLER

#### Additional Information (if applicable):
- Software title | DietPi-Software

#### Expected behaviour:
Ran the dietpi-software on first install. Picked the "Home Assistant" option on the Opti

[2018-02-25 22:03] MichaIng commented on #1554
@ludji49
Huh, okay, yeah I see now the problem. The guide you used (https://www.novaspirit.com/2018/01/19/raspberry-pi-owncloud-install-with-diet-pi/) is outdated (even that it was posted not too long ago), in terms that it suggests to do all the database creation and userdata manually, outside of dietpi_userdata. Since end of last year already, this is not necessary any more, furthermore the step

[2018-02-25 22:35] Invictaz commented on #1555
Get well soon :)

[2018-02-26 00:26] WineSoaked commented on #1556
Additional notes:

Installing libglib2.0-dev yields the following:

[code]

[2018-02-26 00:31] WineSoaked commented on #1556
Additional notes:

Installing libsqlite3-dev yields the following:

[code]

[2018-02-26 00:56] MichaIng opened #1557 "DietPi-Prep | Test installation on top of Ubuntu image"
Jep, as many SBC producers offer Ubuntu, but no Debian images, I was interested in how far the Distros are actual different and if it is possible to convert them and install DietPi on top, via DietPi-Prep.

And finally, jep it is actually not a too big deal:
- First I checked, which Debian version was closest to the Ubuntu one: Ubuntu Artful -> Debian Stretch
- Allow our script to recognize Artful

[2018-02-26 02:56] gammaleak opened #1558 "RPi | LXDE issues"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version | ```cat /DietPi/dietpi/.version```? v6.2
- SBC Device (EG: RPi 3)? RPi3
- Power supply used (EG: 5v 1A RAVpower)? 5V 2.5A
- SD card used (EG: Sandisk ultra)? LoveRPi branded
- Distro (EG: Jessie) | ```uname -a```? Stretch

#### Additional Information (if applicable):
- Software title? PCManFM
- Can this issue be replicat

[2018-02-26 04:08] LeadProphet commented on #1557
Ubuntu 17 and forward will be very, very different from the latest Debian, because of the move to Wayland. Recommend you try the above with Ubuntu 16.04 LTS, since this will be closer to Debian and because it is more stable/has a longer support term (5 years).

[2018-02-26 06:32] ludji49 commented on #1554
I have the page but it doesn't open.

![2018-02-26_072825](https://user-images.githubusercontent.com/10480101/36656072-cf30ab5c-1ac6-11e8-82cb-cf7820815c55.jpg)

and if I go through the windows software I have an error

![2018-02-26_073117](https://user-images.githubusercontent.com/10480101/36656158-3cd0112a-1ac7-11e8-9b6f-479c51d00fa8.jpg)

![2018-02-26_080833](https://user-images.githubuserconte

[2018-02-26 08:35] k-plan commented on #1550
@MichaIng

Hmm ... have to sleep and think over this suggestion.
At the moment, I think, no. Why?

- Build image will be updated now to v6.2 and so where is:

![180226-0001](https://user-images.githubusercontent.com/17237601/36659077-85911a74-1ad3-11e8-9570-3ce95c3e09df.gif)

Sorry, simple a no-go. 😄

- Have only one device (OPi-One) to test.

- It's Fourdee project, so I would like, he is able, t

[2018-02-26 10:53] MichaIng commented on #1554
@ludji49
Okay installation looks good, access via https generally works (webserver works), this seems to be now some left PHP/Nextcloud config issue:

Could you please give output of:
[code]

[2018-02-26 10:56] symbios24 opened #1559 "Open Media Vault"
Hello,

I cannot see Open Media Vault in the latest dietpi Stretch on a raspberry pi 3
it should be on the System Stats / Management: but its not there or anywhere else
is it removed?

Thanks

[2018-02-26 11:12] MichaIng commented on #1550
@k-plan
- The ARMbian credits are removed for v6.3.
- Jep you are right, we should wait for Fourdee, just gathering possibilities for now.
- Check out: https://github.com/Fourdee/DietPi/issues/1557 In case the Ubuntu image is available only, or Debian image is way older or messy. And this was Ubuntu Artful image, where user noted that it is more different to current Debian than older versions (usu

[2018-02-26 11:18] MichaIng commented on #1557
@LeadProphet
Thanks for the hint. As my image was Ubuntu 17.10. this gives me hope, that with e.g. 16.04. it is even easier.

Hmm haven't noticed something about wayland, maybe that just matters for desktop images? However X.org seems to be still supported/available on Ubuntu, so should be no problem to switch for DietPi compatibility: https://itsfoss.com/switch-xorg-wayland/

The LTS for us is no

[2018-02-26 11:21] MichaIng commented on #1558
@gammaleak
Thanks for your report, I will try to replicate on VM.

[2018-02-26 11:32] MichaIng commented on #1559
@symbios24
I am sorry, but with v148 we had to remove OMV support due to too many incompatibilities with DietPi: https://github.com/Fourdee/DietPi/blob/testing/CHANGELOG.txt#L582

You could check out our old code, how we handled it that time: https://github.com/Fourdee/DietPi/blob/dfb9a4ff378b3e6393ae844f1875055e4613ec76/dietpi/dietpi-software
Just search by "OMV" via browser, it's not too many en

[2018-02-26 11:38] symbios24 commented on #1559
thanks for the quick responce
also for the Raspotify there is not any info how to connect

[2018-02-26 11:40] MichaIng commented on #1556
@WineSoaked
Thanks for your report.

Hmm packages from different repos seem to be mixed, Debian stable and backports at least. Usually this should be no problem, as backports contain all necessary dependencies, but if other packages then depend on the stable version packages... should no occur on just Debian repo as far as I know, but in your case Odroid repos join as well.

I will try to replicat

[2018-02-26 12:06] ludji49 commented on #1554
Here is the result

![2018-02-26_080833](https://user-images.githubusercontent.com/10480101/36669541-8834a1a2-1af5-11e8-88c8-365b7c5bed66.jpg)

![2018-02-26_130236](https://user-images.githubusercontent.com/10480101/36669542-885179a8-1af5-11e8-8ad5-94ee6a0a6181.jpg)

[2018-02-26 12:49] MichaIng commented on #1554
@ludji49
€: Ah found one issue in combination with nextcloud in web server root, do:
sed -i "s|'/nextcloud',|'/',|" /var/www/nextcloud/config/config.php
ncc maintenance:update:htaccess
____
Hmm no current error. Your apache error log seems on a different location? Check out /var/log where it is or try
journalctl -t apache2

Otherwise maybe it's just browser cache: try ctrl+F5 to force reload with

[2018-02-26 13:44] caribou-snake opened #1560 "services inactive - restart fails"
#### Required Information:
- DietPi Version | v6.2
- SBC Device     | RPi 3 Model B (armv7l) (index=3)
- Distro         | stretch (index=4)
- Command        | ncc maintenance:mode --on
- Error Handler  | G_ERROR_HANDLER

#### Additional Information (if applicable):
- Software title | DietPi-Services

#### Expected behaviour:
services to start after reboot

#### Actual behaviour:
services are not r

[2018-02-26 14:00] caribou-snake commented on #1560
issue just disappeared after repeated reboot / restart attempts
no changes
?

[2018-02-26 14:30] LeadProphet commented on #1557
OK, that makes sense; you must have been working off a 17.10 server
release? That wouldn't have anything with Wayland in it, I'd imagine.

That makes sense. Thanks for all your help vis the EspressoBin; it's too
bad they don't support debian directly...

On Mon, Feb 26, 2018 at 5:18 AM, MichaIng <notifications@github.com> wrote:

--
Adam Wykes
(815) 980-9496
adamwykes@gmail.com

[2018-02-26 16:41] ludji49 commented on #1554
by putting this line the site is open + /var/log
sed -i "s|'/nextcloud',|'/',|" /var/www/nextcloud/config/config.php

![2018-02-26_173830](https://user-images.githubusercontent.com/10480101/36682740-34bab12a-1b1c-11e8-8ee9-f616488f7faa.jpg)
![2018-02-26_174039](https://user-images.githubusercontent.com/10480101/36682741-34ddf090-1b1c-11e8-805c-ff0528287437.jpg)

[2018-02-26 17:09] ludji49 commented on #1554
everything all right?

For my backup is it possible to send it to a USB flash drive instead of my 1t hard disk or is it advisable to send it to my disk?
I tried to make a backup by my USB flash drive it didn't work because it isn't mounted in ext4 and that's not what I'm doing and I don't know the command line.
I don't insist before I crash the Dietpi Server I come to you for advice.

And will it

[2018-02-26 17:18] k-plan commented on #1556
@MichaIng

Odroid C1 sources.list :

https://github.com/Fourdee/DietPi/issues/1385#issuecomment-357755338

Fourdee answer:

https://github.com/Fourdee/DietPi/issues/1385#issuecomment-357931542

If I'm back to home, I can have a look into `DietPi_v6.0_OdroidC1-ARMv7-Jessie.img`
and post content: `/etc/apt/*`

If nothing helps, I can build a new one from `DietPi_v145_OdroidC1-armv7-(Jessie).img`
But

[2018-02-26 17:40] MichaIng commented on #1554
@ludji49
Ah great finally 😄.
As this, making Nextcloud available directly on domain, instead of `my.domain.org/nextcloud` is a usual reasonable wish, I will collect the necessary steps here.
But as this currently breaks other web service software we offer (relying on web server root at /var/www), we need to make this clear, with need to revert the previous steps to re-enable installation of other

[2018-02-26 18:12] MichaIng commented on #1560
@d4f2
Thanks for your report. Means the issue is resolved for you, now?

As nearly all services were found dead, it looks like a deeper system issue. A look into `systemctl` could reveal errors, e.g. where systemd starts.
Otherwise check logs of related services from within `/var/log/`.

I just tested Nextcloud + PiHole working fine (including web ui) on Stretch VM.
I see RealMedia and OpenVPN run

[2018-02-26 18:12] k-plan commented on #1519
**Info Odroid N1 engineering sample PCB Serial Debug (UART)**

![9p022jj](https://user-images.githubusercontent.com/17237601/36686954-6900bd92-1b28-11e8-867c-c1d6402a7db9.jpg)

![127x0y6](https://user-images.githubusercontent.com/17237601/36686968-75fcd8be-1b28-11e8-8279-ce23ae15f45e.png)

https://wiki.odroid.com/odroid-n1/hardware/expansion_connectors#expansion_connectors

_____________________

[2018-02-26 19:28] MichaIng commented on #1558
@gammaleak
I couldn't replicate on Stretch VM. LXDE and PCManFM working and icons looking as they should.

Do you see any error messages within journalctl? Don't know where PCManFM/Openbox would drop their error messages actually, didn't use a desktop for a long time 😅.

In case someone with testing RPi has to try replicate.

[2018-02-26 19:32] k-plan commented on #1559
@symbios24

Hmm ....

[code]

http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=9368#p9368

- you need a working audio output on your device
- you need a Spotify PREMIUM account ( I have non!)

https://www.spotify.com/connect/

-------------------

Your initial question Open Media Vault #1559 is completely answer.
So will be issue closed.

[2018-02-26 19:34] #1559 closed, assigned to nobody

[2018-02-26 19:55] MichaIng commented on #1556
@k-plan
The additional repos should be generally no problem. But if some package is pulled from backports with it's dependencies (`libsqlite3-0` v3.16.2-3~bpo8+1) and then another software is installed without `-t jessie-backports` (`libsqlite3-dev`), then it want's to pull it's version similar dependency from non-backports and fails, as they were already needed by installed packages... Now I wrot

[2018-02-26 19:57] k-plan commented on #1550
@MichaIng

Yes, see this . :+1:  So we have to wait ...  :wink:

:+1:  Yes, thank you. :smile:

Yes, read this. Thank you for testing and probing.
Check nearly all available Orange-Pi One images. Ubuntu and Lubuntu be older and have more  outdated kernel.

Option for improvement so far I can see, maybe the last (newer) kernel, but I'm unable to compile this.
Out there are some kernel patches (see

[2018-02-26 20:02] ludji49 commented on #1554
_format my USB flash drive:_
_But after formatting my USB flash drive is still not in ext4_

![2018-02-26_204628](https://user-images.githubusercontent.com/10480101/36692403-45084616-1b38-11e8-979d-0cc7139c62d8.jpg)
![2018-02-26_205144](https://user-images.githubusercontent.com/10480101/36692404-45268658-1b38-11e8-8b17-7baa00e111fb.jpg)
![2018-02-26_205800](https://user-images.githubusercontent.co

[2018-02-26 20:11] DanielSSilva opened #1561 "[Question] - Set two different daily times on cron"
Hello there! As the title says, I would like to know if it's possible to set two different "daily" cron jobs. I have some lights/screen that I want to be turned on by certain time and then off at certain time. I've the scripts working from the terminal, but I want to set it to run daily at specific times

Thank you in advance!

[2018-02-26 20:40] WineSoaked commented on #1556
I wanted to note that some of the cross-dependency problems look like they
require a very specific version of a dependency, such that when a more
recent version of the package is already loaded, it starts raining frogs.

I am well-versed in building ffmpeg for SBC's from scratch because the
package managers don't include it.

Thanks for all the knot-tying. There's no raging hurry on this, as this

[2018-02-26 20:42] MichaIng commented on #1561
@DanielSSilva
`crontab -u root -e`
There enter something like:
`0 18 * * * /path/to/script <option to turn lights on>`
which would lead to lights turned on at 18:00.
Reference: https://manpages.debian.org/stretch/cron/crontab.5.en.html

[2018-02-26 20:56] DanielSSilva commented on #1561
I forgot to mention that the script must be executed as root, more specifically this script `sudo nano examples/strandtest.py`
taken from [here](https://tutorials-raspberrypi.com/connect-control-raspberry-pi-ws2812-rgb-led-strips/)

[2018-02-26 21:11] MichaIng commented on #1554
@ludji49
You first need to unmount the drive, as noted on the screen, after hitting "Format" 😉.
Select "Unmount" above first, then "Format".

I guess the mount point gets changed, thus within dietpi-backup afterwards, you need to select the Location again.
________________
@Fourdee
Why `dietpi-drive_manager` does not support VMs? Works very well on my VirtualBox, I commented blocking code in scrip

[2018-02-26 21:26] MichaIng commented on #1561
@DanielSSilva

Therefore I used crontab -u **root** -e 😉, `crontab -u www-data -e` would enable to add scripts, that need/wanted to start by www-data (e.g. necessary to run ownCloud/Nextcloud occ command).
Every user has its own crontab.

So then your line to add would be:
`0 18 * * * /full/path/to/example/strandtest.py`

[2018-02-26 21:35] MichaIng commented on #1557
@LeadProphet
Jep, I used this server image: https://www.ubuntu.com/download/server 17.10.1

[2018-02-26 21:39] MichaIng commented on #1556
@WineSoaked
Jep, exactly the cross-dependencies seem to be the issue in your case. As said I am just wondering, why this does not happen on my VM. `ffmpeg` is available on default Debian repo since Stretch and for Jessie as said we pull it from backports. But the as well pulled dependency libraries are not related to sqlite or libglib where you face the issues.

Do you have a change to share the o

[2018-02-26 21:51] WineSoaked commented on #1556
I can do that tonight, I'm away from the Odroid right now.

On Mon, Feb 26, 2018 at 1:39 PM, MichaIng <notifications@github.com> wrote:

[2018-02-26 21:54] DanielSSilva commented on #1561
right... that's what i've also tried but with no luck. Trying to debug the cause but without luck. I'll set the logs to full

[2018-02-26 22:23] MichaIng commented on #1561
@DanielSSilva
Ah sorry, it's a python script, so the command is at least `python /full/path/to/examples/strandtest.py` or even `PYTHONPATH="/full/path/to/lib.linux-armv7l-2.7" python /full/path/to/examples/strandtest.py` or something like this according to your link.

[2018-02-26 23:56] MichaIng commented on #1550
Okay I tested to follow the build instructions from: https://github.com/orangepi-xunlong/orangepi_h3_linux
- Besides the build-essentials (via dietpi-software), following packages are necessary for cross-compiling on VM and python:
`apt install gcc-arm-linux-gnueabi device-tree-compiler python2.7-minimal`
- As somehow the script wants python binary at /usr/bin/python2: `ln -s /usr/bin/python2.7 /u

[2018-02-27 01:17] WineSoaked commented on #1556
For your viewing pleasure:
[code]

[2018-02-27 03:43] ghost commented on #1555
Get well soon! :)

[2018-02-27 06:19] blogabe commented on #1555
enjoy the time away with yours

[2018-02-27 11:03] MichaIng commented on #1556
Looks good, dependencies are identical, just version number of Meverics is higher, but actually we lowered it's backports pin priority in the past due to (obviously temporary) dependency errors (others than here): https://github.com/Fourdee/DietPi/issues/1273

I am not sure how it is handled now with different version numbers, but all of this should have no effect on `libsqlite3-0` being installed

[2018-02-27 11:37] MichaIng commented on #1227
Notes:
- I would prefer a usual set of supported screen resolutions to be not dependent on external programs, and we can assume, that VMs do support, as long as video memory is large enough.
- Need to check influence of VMware max resolution.
- Otherwise install hwinfo one time, read and write supported modes to disk, then purge again and use the written values? Optionally offer to revalidate.
- N

[2018-02-27 11:38] caribou-snake commented on #1560
Hello, unfortunatelly it is not resolved

# systemctl --failed
  UNIT           LOAD   ACTIVE SUB    DESCRIPTION

 dhcpcd.service loaded failed failed dhcpcd on all interfaces

# systemctl status dhcpcd.service
dhcpcd.service - dhcpcd on all interfaces
   Loaded: loaded (/lib/systemd/system/dhcpcd.service; enabled; vendor preset: enabled)
  Drop-In: /etc/systemd/system/dhcpcd.service.d

[2018-02-27 12:34] MichaIng commented on #1286
Further Buster integration of PHP: https://github.com/Fourdee/DietPi/pull/1562

[2018-02-27 12:36] ludji49 commented on #1554
Hi, I can't see my flash drive anymore.
![2018-02-27_133522](https://user-images.githubusercontent.com/10480101/36729084-36bf7454-1bc3-11e8-8679-e67b8b968c3d.jpg)

[2018-02-27 14:04] symbios24 opened #1563 "DietPi-Software | Configure HTPC Manager with installed+supported software titles"
Hello is there somewhere a list with all the compatible programs/software that can be used with HTPC Manager on the raspberry pi?

There is no further info about in here: https://dietpi.com/phpbb/viewtopic.php?p=8043#p8043

Thanks

[2018-02-27 14:25] symbios24 opened #1564 "RPi Cam Control / MotionEye Problem"
Hello, i Installed both softwares RPi Cam Control - RPi Camera / Web Interface Surveillance
- MotionEye - Camera / Web Interface Surveillance on latest dietpi Stretch in a RaspberryPi3 but upon first boot after installation the dietpiOS keeps rebooting by it self,anyone know whats wrong?

[2018-02-27 14:51] WineSoaked commented on #1556
I'd be happy to investigate, but as I know nothing of the backport repo you
all have, I'm lacking a good bit of context. Oh, and free time, but as this
is my ticket, I'm somewhat invested.

Any rtfm available for your backport  dependency strategy?

On Feb 27, 2018 3:03 AM, "MichaIng" <notifications@github.com> wrote:

[2018-02-27 15:30] Fourdee commented on #1512
Tested RPi 3 🈯️

Resolved for v6.3.

[2018-02-27 15:30] #1512 closed, assigned to Fourdee

[2018-02-27 16:12] Fourdee commented on #1564
@symbios24

Hi,

Thanks for the report 👍

- 🈯️ RPi cam is fixed in v6.3: https://github.com/Fourdee/DietPi/issues/1512

---

Motion notes:
- 🈴 Missing ```build-essential```, fails to build. ```zlib1g-dev``` is installed
[code]

🈯️ fixed for v6.3 https://github.com/Fourdee/DietPi/commit/264062494de1e0667f107a26910452d5a1a83acf

Once ```build-essential``` is installed, installs fine and unable to re

[2018-02-27 16:12] #1564 closed, assigned to Fourdee

[2018-02-27 16:25] Fourdee commented on #1558
RPi 3 Stretch LXDE fresh install:
- Other devices are fine, RPi issue only.
- 🈴 Confirmed
![image](https://user-images.githubusercontent.com/7077026/36740596-ce44f274-1bda-11e8-8dbf-dd7b5e64b46a.png)

[2018-02-27 16:25] k-plan commented on #1563
@symbios24

Sorry, if this sound harsh now, first google search entry for "HTPC Manager + software"

http://htpc.io/#software

[2018-02-27 16:43] Fourdee commented on #1558
[code]

[code]

- Favorites tab missing aswell.
- 🈴 "Customize look and appearance" hangs LXDE over VNC, terminate ```dbus-launch``` resolves.
- 🈯️ Adwaita/PiX resolves broken LXDE toolbar icons. 🈺 Reset after reboot/service restart
[code]

[code]

[2018-02-27 17:18] symbios24 commented on #1563
i did that and cant find an accurate list

[2018-02-27 17:28] Fourdee commented on #1462
@MichaIng

Sent commit to reverse stop order https://github.com/Fourdee/DietPi/commit/08b8e913e79140ffa34bee2335307567598f2f52
[code]

[2018-02-27 17:37] k-plan commented on #1563
... and what please shall we do?

[2018-02-27 17:49] symbios24 commented on #1563
its ok i will do a deeper search and give you the list if i find anything so you can put it on the info

[2018-02-27 18:17] symbios24 commented on #1564
But 6.3 is not released yet..

[2018-02-27 18:56] TheAntimist commented on #1561
Another option is to utilize [systemd/timers](https://wiki.archlinux.org/index.php/Systemd/Timers) ([man page](https://www.freedesktop.org/software/systemd/man/systemd.timer.html)). I have used them for something similar before.

[2018-02-27 19:41] k-plan commented on #1550
@MichaIng

many thanks for all this testing and investigation. A big :+1:

Same experience on my end.  Sorry.
Now I know, it's not me. :bulb:  :christmas_tree:   :older_man:   |   :smiley:

--------------------

Have play before a little bit with Debian offered  `u-boot` , `uImage` and `device-tree` stuff for Allwinner.
This don't amount to much (for me). Sorry, no skill.
Documentation and reveren

[2018-02-27 19:42] symbios24 commented on #1563
ok found it, this are all the software for it you can put it on the info page:

couchpotato
deluge
kodi
nzbget
plex server
plexpy
radarr
sabnzdb
squeezebox
sickrage
sonarr
transmission
qbittorrent
rtorrent

only thing is first i install the softwares and then i install HTPS Manager? or First HTPS Manager and then the Softwares?

[2018-02-27 19:47] k-plan commented on #1533
No reply so far,  i'll mark as closed.
However, please reopen if required.
Thanks.

[2018-02-27 19:47] #1533 closed, assigned to nobody

[2018-02-27 22:59] MichaIng commented on #1560
@d4f2
Thanks for your retry, I will investigate our installation script and recheck on VM, until someone with RPi find time to reproduce.

[2018-02-27 23:17] MichaIng commented on #1554
@ludji49
Ah, jep after unmounting, if you are going back into overview, you see just the mounted drives. Exit drive manager, then remount:
`mount /dev/sdb5 /mnt/346D-27AA`
`dietpi-drive_manager`
then do the same, BUT: after unmount the drive, directly go on format:
![drive_manager](https://user-images.githubusercontent.com/28480705/36760816-9bc125e2-1c1c-11e8-980b-acf60781b83d.png)

[2018-02-27 23:32] MichaIng commented on #1556
@WineSoaked
I just checked, an we lower apt pin priority for the Odroid specific backports only for XU4 somehow. So on your device, it should be used instead of debian default backports. But I would wonder, if this generally causes errors, as Meverics image+repos is generally well tested/much used and shouldn't cause such problems on default apt installations, without much coding magic, which ffmp

[2018-02-27 23:42] MichaIng commented on #1550
@k-plan
Jep, nice summary 👍.

As far as I could read, the mainline kernel seams to be stabilized with the latest versions. But indeed someone with some kernel building experience would need to try it. I am not even sure, if this cross-compiling script would have worked, the outcome is really something usable, of if you have to take care, to take the right compiler versions etc. etc. or at best do

[2018-02-27 23:47] MichaIng commented on #1462
@Fourdee
Nice one! I will now try to reorder a bid.

[2018-02-28 00:03] WineSoaked commented on #1556
Will do, probably won't have a report until tomorrow (about 24 hours from
now).

On Tue, Feb 27, 2018 at 3:32 PM, MichaIng <notifications@github.com> wrote:

[2018-02-28 00:08] WineSoaked commented on #1556
In fact, I will reflash the emmc on the C1 with the image from the site, make the change to backports after the initial installation (i.e. I won't install any optional packages with `dietpi-software`) and will paste the results of trying to install HA here once I have done it. Again, not likely to happen until about 24 hours from now.

[2018-02-28 06:06] ludji49 commented on #1554
I did it again from the beginning, according to you.
![2018-02-28_070435](https://user-images.githubusercontent.com/10480101/36772506-e107c53c-1c55-11e8-97ac-89cb6fc1b8ec.jpg)
![2018-02-28_071247](https://user-images.githubusercontent.com/10480101/36772780-e0b00b34-1c56-11e8-9325-92a81f5aaa24.jpg)

[2018-02-28 11:35] MichaIng commented on #1554
@ludji49
Jep 👍. As you can see, the name/mount point of the drive has changed into a long so called "UUID". You have to reset your backup location to this according: https://github.com/Fourdee/DietPi/issues/1554#issuecomment-368311492

[2018-02-28 11:50] Gokujo opened #1565 "No WiFi mschapv2-Support"
#### Required Information:
- DietPi Version: 6.2
- SBC Device: RPi 3
- Distro: `Linux DietPi 4.9.59-v7+ #1047 SMP Sun Oct 29 12:19:23 GMT 2017 armv7l GNU/Linux`

#### Additional Information (if applicable):
I'm trying to connect to PEAP MSCHAPV2 WiFi network but I can't. I tried some manuals but nothing helped.
This ist my /etc/wpa_supplicant/wpa_supplicant.conf:
[code]

#### Expected behaviour:
I

[2018-02-28 12:02] MichaIng commented on #1560
@pedrom34
I don't think it is related, but let's see if I can help. Several services crashing over night can have several reasons, often filled memory when e.g. daily cron tasks add to memory usage. I had that once with some rsync backup and mysql dump and sadly that time without swap file on my RPi2.
But also sdcard corruption is possible.

The crashed MariaDB then often leads to file system, dat

[2018-02-28 12:07] MichaIng commented on #1563
@symbios24
Thanks for this. I never had a closer look what HTPC Manager actually is 😆. It makes sense, that we add this list, at least as an example, which software UIs can be merged with HTPC Manager.

I will try it out later, sounds interesting, if it is working reliably.

[2018-02-28 12:30] ludji49 commented on #1554
Hi, tell me if I'm on the right track.
![2018-02-28_132625](https://user-images.githubusercontent.com/10480101/36787767-94f2e9de-1c8b-11e8-8bff-66158967a89c.jpg)

[2018-02-28 12:34] Lanneer487 opened #1566 "Sonarr and Radarr Problem"
When I want to install sonarr and radarr on the latest version of dietpi, The installation completed successfully. The problem is that they won't boot and can't get started manually.

[2018-02-28 12:35] caribou-snake commented on #1560
Sadly I  can reproduce my pivpn installation problem over and over again
tried several approaches but it comes down to:
- use install image 6.2
- change ethernet network settings to static ip
- complete installation
- reboot
- install pivpn
- reboot

(might want to change the subject of the issue to point at the pivpn installation causing it?)

	:::
	::: You are root.
	::: Verifying free disk spac

[2018-02-28 12:41] symbios24 commented on #1566
Hi, di you access the web interface of sonarr for example from another computer connected to the same network thought your internet browser url = http://192.168.0.100:8989 ??

[2018-02-28 14:02] MichaIng commented on #1554
@ludji49
Jep that is right

[2018-02-28 14:44] Fourdee commented on #1564
@symbios24

Wont be long, eta mid-end next week.

[2018-02-28 14:47] Fourdee commented on #1555
Thanks all.

Can't keep away, need something to do in-between 🤢 and 🛌. Take each day as it comes :)

[2018-02-28 14:47] #1555 closed, assigned to Fourdee

[2018-02-28 15:00] Fourdee commented on #1482
@MichaIng

^^ with commits above to mask

🈯️ RPi 3 test disable:
- ```/DietPi/dietpi/func/dietpi-set_hardware serialconsole disable```
- reboot
![image](https://user-images.githubusercontent.com/7077026/36794312-eb32a3b4-1c97-11e8-9e9e-349be32ccce9.png)

🈯️ RPi 3 test enable:
- ```/DietPi/dietpi/func/dietpi-set_hardware serialconsole enable```
- reboot
![image](https://user-images.githubuserconten

[2018-02-28 15:08] Lanneer487 commented on #1566
Yes, but before I updated to the latest version everything worked. So I did a clean install of dietpi and installed sonarr but it wont start. Same problem for radarr. when I look at the service status, I get this as feedback:
● sonarr.service - Sonarr (NzbDrone) Daemon
   Loaded: loaded (/etc/systemd/system/sonarr.service; disabled; vendor preset:
enabled)
   Active: activating (auto-restart) (Res

[2018-02-28 16:08] Fourdee opened #1567 "Allo Images | Update to v6.3 after release"
RE @sudeep
Once v6.3 is released, re-create the images.

[2018-02-28 16:30] Fourdee commented on #1566
🈴 RPi 3 test ```dietpi-software install 144 145``` :
- 🈴 Mono Fails install due to ```/tmp tmpfs``` being full. Filled with mono.
```G_AGI: mono-devel mediainfo sqlite3 libmono-cil-dev```
- Ref: https://github.com/Fourdee/DietPi/issues/1027
- ```umount: /tmp: target is busy```
- Mono uses ```502M``` during APT install.

Can't see any options to change only dpkg/apt unpack directory. We may need to

[2018-02-28 16:40] Lanneer487 commented on #1566
<img width="870" alt="schermafbeelding 2018-02-28 om 17 42 07" src="https://user-images.githubusercontent.com/9874656/36800003-c2ad3226-1cae-11e8-85af-db2b7f1a58f3.png">
How can I fix this? it keeps restarting

[2018-02-28 16:42] ludji49 commented on #1554
He's working, I hope it'll be good and no mistakes.

![2018-02-28_174114](https://user-images.githubusercontent.com/10480101/36799991-beae7f72-1cae-11e8-81f4-58734c4013d5.jpg)

I have mistakes

![2018-02-28_210150](https://user-images.githubusercontent.com/10480101/36810490-1fd6b168-1ccb-11e8-9afa-9b19863e2f39.jpg)

[2018-02-28 16:52] ludji49 commented on #1554
Do you think that this program is useful or not I installed it with all my programs like nextcloud, apache.........

as we see the picture above.

![2018-02-28_174927](https://user-images.githubusercontent.com/10480101/36800572-20edc1a6-1cb0-11e8-9b9a-56112323f560.jpg)

[2018-02-28 17:16] palik42 commented on #1550
I found this maybe some help.. https://github.com/Allwinner-Homlet?tab=repositories

[2018-02-28 18:02] Fourdee commented on #1388
General | Resolved multiple issues with failed GNU key management during APT installs from non-standard repos. **Dirmngr is now installed on all DietPi systems by default**: https://github.com/Fourdee/DietPi/issues/1388

Marking as completed.

[2018-02-28 18:02] #1388 closed, assigned to nobody

[2018-02-28 18:24] Fourdee commented on #1566
Ok, minus our issue with ```/tmp``` out of space (https://github.com/Fourdee/DietPi/issues/1566#issuecomment-369296662)

This is an issue with Mono version used (```5.10``` latest via http://download.mono-project.com/repo/debian):
- Radarr is pending update to work with latest version of Mono: https://github.com/Radarr/Radarr/issues/2585#issue-300794900
- Sonarr fix is already done, confirmed usin

[2018-02-28 18:28] Fourdee commented on #1027
Due to: https://github.com/Fourdee/DietPi/issues/1566#issuecomment-369296662

[2018-02-28 18:29] Fourdee commented on #1027
Ref: https://github.com/Fourdee/DietPi/commit/cd093b085fcdb3e84df975e80b75a4633a6539ca

[2018-02-28 18:30] k-plan commented on #1555
Nice to see you back, Fourdee. :+1:   :heart:

[2018-02-28 19:01] Fourdee commented on #1565
@Gokujo

Hi,

- ```WPA-EAP``` support was added to dietpi-automation as of v6.3 (and requires a v6.3+ image, TBA).
- ```dietpi-config``` support is planned for the future (no ETA yet): https://github.com/Fourdee/DietPi/issues/1549

From what I can tell, the config looks fine, should be functional.

Any info from wpa_supplicant service?
[code]

[2018-02-28 19:03] Fourdee commented on #1027
2 options:
- Force a size of ```/tmp``` to ```1.5GB```, which with our standard 2GB-RAM swapdisk size, should be fine and allow for swap
- Disable ```/tmp``` as ```tmpfs``` with devices on 1GB or less memory. Performance impact expected (eg: APT unpack/configure as per Mono install)

[2018-02-28 19:04] k-plan commented on #1027
@Fourdee

Have mentioned personally dislike to do this some times ago.
We give away some sort of protection for sd card life time.

Question (without skill):

We now "build" swapfile and size directly before install software. When install `mono` e.g. 2GB.
Is it not possible to put downloaded `mono` installation direct to `swap` and then install / extract it?
So we can keep `tmpfs` for all devices?

[2018-02-28 19:07] Fourdee commented on #1027
@k-plan

So we can keep tmpfs for all devices?

Cant see a way of changing the APT/DPKG directory used during extraction. But Option 1 would cover all devices and allow ```/tmp``` as ```tmpfs``` https://github.com/Fourdee/DietPi/issues/1027#issuecomment-369346584

Reference, mono install:
[code]

[2018-02-28 19:07] k-plan commented on #1027
:cry:  :fearful:

`option 3`:

- put mono and all depended software into bin for devices on 1GB or less memory ...

[2018-02-28 19:21] k-plan commented on #1027
Hmm ... question is, at which point this can be done?

1. - Default on all images while initial bootup and create a "standard" swap file of 1.5GB and  `/tmp `RAM mount on 512MB?

2. -  Or can it be done, ONLY before `mono` has selected to be installed? (dynamic)

If 2. - is impossible, I will vote for "`option 3` "

[2018-02-28 19:25] Fourdee commented on #1027
@k-plan

During 1st run of boot script. But i'll patch this for v6.3 and existing systems if we go ahead.

So we could:
- If RAM < 2GB, and swapfile size is default (2GB-RAM), we could force a size of 1.0/1.5?GB ```/tmp```.
- If RAM >= 2GB, we could leave the default tmpfs size (which is 50% of total RAM). 2GB RAM = 1GB ```/tmp```

[2018-02-28 19:29] k-plan commented on #1027
Question 2:

Will / can this mono installation :hankey:  be deleted after installation?

If so, and I think it is, one more vote for `option 3 ` ... sorry

[2018-02-28 20:25] Fourdee commented on #1027
@k-plan

lol yep, After reboot

[2018-02-28 20:32] Fourdee commented on #1027
@k-plan

Example, on a 512MB RAM system:
- 1.5~GB swap
- 1GB ```/tmp```
- Lets say all RAM is used by processes (not ```/tmp```), start of swapping
- ```/tmp``` has upto 1GB available still via swap.
- if ```/tmp``` is full, swap should still have 500MB left over.

In other words, we should be fine setting a higher ```/tmp``` size than RAM, as long as the swapfile is large enough to accommodate it

[2018-02-28 21:43] symbios24 commented on #1563
Hi, you have to setup everything manual from within HTPC Manager, is it possible to put in the install software two options one to install only HTPC manager and second to install with all supported software and automatically configured to work out of the box?
i will be glad to help any way i can.

and another thing if i install  HTPC Manager  and then the software eg: sonar,transmission etc.
does

[2018-02-28 22:17] MichaIng commented on #1482
@Fourdee
Nice one, I played around with unmask/mask/enable/disable behave:
[code]
If service is masked, but not disabled, symlink at `/etc/systemd/system/getty.target.wants/` stays. I don't know if this could cause warnings/error messages at boot or something, but just in case, I add disabling before masking: https://github.com/Fourdee/DietPi/commit/bd658006cd786f16895aa48850ab0202d78ab661

There

[2018-02-28 22:32] MichaIng commented on #1561
Jep, systemd timers/services allow much more flexibility and you can add certain conditions and more. Needs just a bid more reading in order to configure them properly.

[2018-02-28 22:40] MichaIng commented on #1286
🈯️ perl upgrade issue resolved, finally the necessary library is there:
[code]

[2018-02-28 23:09] MichaIng commented on #1563
@symbios24
I think it doesn't make sense to install all supported software automatically, as not everyone needs all of them, some even double (qbittorrent+rtorrent). But what we could try is, to add automatic configuration of already installed supported software, within HTPC manager installation process. If we place those additional scripts into separate files, outside of `dietpi-software` script,

[2018-03-01 00:44] MichaIng commented on #1027
@Fourdee
Jep agree, we could just set /tmp to 50% of RAM+swap instead if just RAM size. It is a shame, that dpkg does not handle this unpacking into /tmp more efficient, e.g. unpack single package, afterwards remove files laid out on/tmp, before unpacking the next. I mean /tmp just fills, because of the huge amount of dependencies of `mono-devel` etc.
I also searched the web quite a while for a po

[2018-03-01 01:28] dirtyharrywk opened #1568 "Nextcloud Error"
## Creating a bug report/issue:
Nextcloud will not start after clean flash.

#### Required Information:
- DietPi Version: 6.2
- SBC Device: Odroid HC1
- Power supply used: 5v 4A
- SD card used: Sandisk ultra class 10
- Distro: Linux DietPi 3.10.106+ #1 SMP PREEMPT Fri Nov 24 16:26:38 CET 2017 armv7l GNU/Linux

#### Additional Information (if applicable):
- Software title?
- Can this issue be repli

[2018-03-01 01:33] MichaIng commented on #1550
Ah this is the official allwinner firmware releases, so there are non mainline 4.4 + 4.9 beta kernel+bootloader available, do I get this right?

[2018-03-01 03:35] WineSoaked commented on #1556
I am pleased to report that the updating the pin priority for apt was the trick. I did the following:

- Reflashed the image (`DietPi_v6.0_OdroidC1-ARMv7-Jessie.img`) to the 16GB eMMC that I am using as the root filesystem storage
- Ran the vanilla installation, but did not install anything additional using `dietpi-software`
- After the reboot, added the `/etc/apt/preferences.d/backports` file as

[2018-03-01 06:19] skane165 opened #1569 "TP-LINK Archer T2UH"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version | 6.2
- SBC Device RPi 3
- Power supply used 5v 3A RAVpower
- SD card used Sandisk ultra
- Distro (EG: Jessie) | Linux DietPi 4.9.59-v7+ #1047 SMP Sun Oct 29 12:19:23 GMT 2017 armv7l GNU/Linux

#### Expected behaviour:
I am trying to install TP-LINK Archer T2UH i am using install-wifi
after installing the correct driver i

[2018-03-01 06:59] symbios24 commented on #1563
ok it will be great the automation, thanks

[2018-03-01 07:18] Gokujo commented on #1565
@Fourdee
[code]

[2018-03-01 07:24] ronakmd opened #1570 "Regarding desktop view."
## Creating a bug report/issue:

DietPi Version | cat /DietPi/dietpi/.version?>>DietPi_v6.0_RPi-ARMv6-Stretch

SBC Device (EG: RPi 3)?>>>>Rpi MOdel B (armv71) index=3

Power supply used (EG: 5v 1A RAVpower)?>>>From Adapter 5v 1.5A

SD card used (EG: Sandisk ultra)?>>>Samsung 16
#### Additional Information (if applicable):
Hi i want to boot my raspberry pi into desktop environment.
Exactly same as

[2018-03-01 08:43] Gokujo commented on #1565
@Fourdee
fresh installed dietpi on rpi3
i tried #1549 and [this](http://dietpi.com/phpbb/viewtopic.php?p=706#p706)
[code]

`systemctl status wpa_supplicant.service -l` says:
[code]
but no results

[2018-03-01 09:53] symbios24 commented on #1566
Hello i installed also both radarr and sonarr in latest DietPi stretch in a raspberryPi 3
Sonarr web interface loads fine but Radarr web interface is not loading and as i see on boot the Radarr service is running, can this be fixed manual?

Thanks

[2018-03-01 10:19] Lanneer487 commented on #1566
I used this link to fix my problem and Radarr is working again.
[https://forums.sonarr.tv/t/mono-5-10-update-broke-sonarr/17800/19](https://forums.sonarr.tv/t/mono-5-10-update-broke-sonarr/17800/19)

[2018-03-01 10:53] symbios24 commented on #1566
Hi, But the fix is for Sonarr not Radarr
Will this fix Radarr?

[2018-03-01 10:55] Lanneer487 commented on #1566
yes just change /opt/NzbDrone/ to /opt/Radarr/

[2018-03-01 12:09] MichaIng commented on #1556
@WineSoaked
Thank you for testing. Jep our backports file seems to overwrite the existing due to alphabetical order 😉. So for now we need to add this file not just for XU4 but for all Odroid devices to avoid dependency issues.
`Preparing to unpack .../ffmpeg_7%3a3.2.10-1~deb9u1~bpo8+1_armhf.deb ...`
According to version, as expected Debian backports is used now.

I am still wondering why Meverics

[2018-03-01 12:33] pedrom34 commented on #1560
@MichaIng I deleted my comments as it's unrelated.
Thanks for the help, but I managed to fix everything by uninstalling and re-installing MariDB and Sckrg.

Thanks!

[2018-03-01 12:37] MichaIng commented on #1568
@dirtyharrywk
Thanks for reporting and bugreport submission. I will investigate.
If you have any chance to copy&paste the whole installation process from terminal, that would be very helpful.

@Fourdee
Could you give me access to the bugreport, send via email e.g.? Need to find out what went wrong with most likely MariaDB and/or PHP config/startup.

[2018-03-01 13:54] samsepiol59 commented on #1566
@roelfoubert I did (Sonarr is working, Radarr is not) but nothing happened, I'm still unable to access radarr at :7878!

I copied the file in /opt/Radarr, chmod'ed it and restarted the service - but nothing... am I missing something?

EDIT: now it seems that Jackett is down too??

[2018-03-01 14:59] Fourdee commented on #1569
@skane165

Hi,

The driver may be available in the latest kernel. Simply run the following commands to update:
[code]

Failing the above, please provide the output of ```lsusb```

[2018-03-01 15:10] Fourdee commented on #1482
@MichaIng

2> /dev/null 👍

I wouldn't bother with device specific.
Devices have changed the serial tty name in the past, and if we add new devices, its another factor we need to verify.
Unless we want to add additional testing/maintenance, simply run all to cover all known possibilities.

[2018-03-01 15:12] MichaIng commented on #1482
@Fourdee
Sounds reasonable, will add commit: https://github.com/Fourdee/DietPi/commit/c3626d2154754db4e50f4bb81d1621bc0336b0e4

[2018-03-01 15:30] symbios24 commented on #1566
samsepiol59 you installed both on latest DietPi?

[2018-03-01 15:35] Fourdee commented on #1452
🈯️ Sandisk Ultra 16GB - Rock64:
[code]

🈯️ Sandisk Ultra 8GB - PineA64:
[code]

[2018-03-01 16:23] Fourdee commented on #1027
notes:
- We must apply this during swapfile apply. As we rely on the swapfile size to determine what size we can safely apply.
- We can remount /tmp on the fly.

[2018-03-01 18:05] Fourdee commented on #1027
tmpfs size = RAM + Swapfilesize / 2

[code]

🈯️ So by default ```/DietPi/dietpi/func/dietpi-set_dphys-swapfile 1``` (auto swapfile size of 2GB-RAM).
Examples:
- 256MB RAM = the ```/tmp``` size is 1GB. Swapfile = 1.74~GB
- 1GB RAM = the ```/tmp``` size is 1GB. Swapfile = 1GB
- 2GB RAM = the ```/tmp``` size is 1GB. Swapfile = 0
- 4GB RAM = the ```/tmp``` size is 2GB. Swapfile = 0

[2018-03-01 18:09] k-plan commented on #1027
@Fourdee

Thanks for declaration. Yes, I have imagine. it will work like this.

provocative question from a user point of view:

- have e.g. RPi Zero (512GB RAM) and want small (diet) installation for a single use case , e.g. IOT, Pi-Hole, CAM, ...
- For what I do need a 1.5GB swap file, if I never install `mono`?
- Why do my installation take soo long and my device will not react and green led wi

[2018-03-01 18:23] k-plan commented on #1570
With a sd card to boot up a  raspberry pi MOdel B  in 5 to 8 seconds into desktop environment.
Sorry, it's simple impossible.
If  `Raspbian Strech` can do this, stay on it.

[2018-03-01 18:33] Fourdee commented on #1027
Completed.

[2018-03-01 18:34] k-plan commented on #1569
should be like:

`Bus 001 Device 004: ID 148f:761a Ralink Technology, Corp.`

https://wikidevi.com/wiki/TP-LINK_Archer_T2UH

But with a Additional chips
`5GHz WLAN Front-End Module (FEM);Skyworks;SKY85703-11;SKY11, 85703, 520VQ;1;`

[2018-03-01 18:34] Fourdee commented on #1027
~Actually no patch:~
[code]

```AUTO_SETUP_SWAPFILE_SIZE``` is updated with swapfile size after script exec. EG: replacing auto ```1```.

If auto was used originally, the swapfile size re-apply will have same effect. We'll keep existing user swapfile size and simply reapply.

[2018-03-01 18:41] #1027 closed, assigned to Fourdee

[2018-03-01 19:05] Fourdee commented on #1566
Notes:
Ok, waiting for https://api.github.com/repos/Radarr/Radarr/releases to be updated with 0.2.0.984> version. Used in our scrape to obtain the latest version available.

Once they do this (assuming the same sonarr fixed is applied), the issue of failing to run will no longer occur.

[2018-03-01 19:10] Fourdee commented on #1560
@MichaIng @d4f2
In regards to PiHole + OpenVPN.
This is a possible known issue (AFAIK) as PiHole + OpenVPN require additional manual configuration at this time.
REF: https://github.com/Fourdee/DietPi/issues/1245.

^^ actually unsure, needs reviewing/testing.

[2018-03-01 19:25] Fourdee commented on #1376
@MichaIng

~Ticket is now completed? Is https://github.com/Fourdee/DietPi/issues/1376#issue-286490161 resolved for VM?~

[2018-03-01 19:33] Fourdee commented on #1376
@MichaIng

Verified fixed on VMware with 6.3.

Needs another line before top banner line:
![image](https://user-images.githubusercontent.com/7077026/36865437-70a596f6-1d87-11e8-8d1f-7d547d865de7.png)

[2018-03-01 19:36] Fourdee commented on #1482
@MichaIng

Legend, thanking you 👍

Issue is now resolved. Marking as completed.

[2018-03-01 19:36] #1482 closed, assigned to MichaIng

[2018-03-01 19:40] Fourdee commented on #1376
Hmm, as service is idle, it may run before or after login prompt appears. I can't find anyway to wait for login prompt to appear before systemD runs an idle service. Minor chance of misprint, I'll mark this as closed for now, we can reopen if it bugs us too much :)
![image](https://user-images.githubusercontent.com/7077026/36865712-3aae6b58-1d88-11e8-97c7-61aa6c95fad7.png)

[2018-03-01 19:42] #1376 closed, assigned to nobody

[2018-03-01 19:44] Fourdee commented on #1523
😃

[2018-03-01 19:44] #1523 closed, assigned to Fourdee

[2018-03-01 19:44] Fourdee commented on #1462
ToDo:
- ```dietpi-software``` Uninstall ordering. (https://github.com/Fourdee/DietPi/issues/1462#issuecomment-368322674)

[2018-03-01 19:53] Fourdee commented on #1556
Reference: https://github.com/Fourdee/DietPi/pull/1571#issuecomment-369699010

[2018-03-01 20:02] Fourdee commented on #1568
@dirtyharrywk

Apologies, unable to find this bug report, please can you resend?
[code]

[2018-03-01 20:06] #1556 closed, assigned to Fourdee, MichaIng

[2018-03-01 20:07] WineSoaked commented on #1556
Closing this now that the merge has happened. Glad it worked out smoothly.

[2018-03-01 21:33] MichaIng commented on #1376
@Fourdee
Jep resolved here also 👍. Interesting, I never faced the issue, that it got tty1 login print after/in between postboot (or prior rc-local). On all my machines, as far as I remember it always looked like your last screenshot: Debian GNU/Linux ... first line, and then our lines overprinting "DietPi Login:", so that you need to hit "return" one time again before you see `<hostname> Login:`.

[2018-03-01 23:01] MichaIng commented on #1560
@Fourdee @d4f2
Okay seems to be 2 mixed things here now:
1. PiHole not being compatible with PiVPN/OpenVPN without manual configuration, possibly causing the service breaks?
2. PiVPN leading to error messages.

I tried again the following, as before I installed (just) OpenVPN:
1. Switch to static IP.
2. Install PiVPN
- Works well, didn't really test a VPN connection, but openvpn starts without err

[2018-03-01 23:51] MichaIng commented on #528
@pfeerick
Is the issue and procedure still current?

@Fourdee
As far as I can see, we do not support bluetooth on Pine64. If there is still no native/repo support for this, it is a bid more to do then for the other devices, but maybe worth trying, setting kernel config flag included, if it (still) works?

[2018-03-02 08:17] skane165 commented on #1569
It wont load past hostapd now and gets stucked fresh install?

[2018-03-02 08:37] skane165 commented on #1569
I started it with my old wifi dongle and this is the output after i changed it to the archer

root@DietPi:~# lsusb
Bus 001 Device 008: ID 148f:761a Ralink Technology, Corp.
Bus 001 Device 005: ID 1a2c:4c5e China Resource Semico Co., Ltd
Bus 001 Device 006: ID 174c:55aa ASMedia Technology Inc. ASM1051E SATA 6Gb/s bridge, ASM1053E SATA 6Gb/s bridge, ASM1153 SATA 3Gb/s bridge
Bus 001 Device 004: ID 0

[2018-03-02 08:52] caribou-snake commented on #1560
thank you vey much for all your efforts!
to point this out - this has got __nothing to do with PiHole !__
- this a __PiVpn installation problem__ only
the installation breaks off after key generation and does not continue to configure the server thus adding a client `pivpn -a` fails

      cat: Default.txt: No such file or directory

looking at: https://github.com/pivpn/pivpn/blob/master/auto_inst

[2018-03-02 09:33] caribou-snake commented on #1560
after these hours trying to get to the bottom of this I  finally found...
https://github.com/pivpn/pivpn/issues/464
enabled IPV6 and installed again...
PiVPN installation problem solved !

though still get the:

		root@DietPi:~# systemctl --failed
		  UNIT           LOAD   ACTIVE SUB    DESCRIPTION

		● dhcpcd.service loaded failed failed dhcpcd on all interfaces

		LOAD   = Reflects whether the u

[2018-03-02 11:36] dyxang commented on #1530
@k-plan @MichaIng Thank you-all very much.A week later, I found another 64-bit system project——[ubuntu64-rpi](https://github.com/chainsx/ubuntu64-rpi)The readme.md in English is in the root directory
 (It is **Chinese** project,but it included 64-bit **Centos** )。

# Abou tubuntu
- The root directory built directly based on ubuntu-Base-16.04-arm64
- /etc/apt/sources.list have been modified.
eg. **

[2018-03-02 11:48] MichaIng commented on #1560
@d4f2
Ah sorry, I did not recognize: `ip6tables-save v1.6.0: Cannot initialize: Address family not supported by protocol`, jep so IPv6 needs to be enabled!
May I ask how you enabled IPv6? By default we do not disable it, but you can toggle within dietpi-config. But as you run RPi, I recognized some default alias blocking within `/etc/modprobe.d/ipv6` which is installed by default on Raspbian image

[2018-03-02 11:55] MichaIng commented on #1530
@dyxang
Thanks for sharing.

I guess since all the documentation is in Chinese language as well, and as DietPi-Prep does not official support Ubuntu base images, this is no option. Anyway I see no reason to move to a 3rd party project, that might bring instabilities and other risks and most importantly does not have a large user/support space as Raspbian has.

Although, with some adjustments, Diet

[2018-03-02 12:01] symbios24 opened #1572 "[dupe] Swap File Disabled"
Hello, i enabled swap file from DietPi-Config/swap file size and put it manual to 200mb and rebooted
writing the command free -m i see that the swap file is not enabled its 0mb
How can it be enabled?

Thanks

[2018-03-02 12:04] #1572 closed, assigned to nobody

[2018-03-02 12:05] symbios24 opened #1573 "Sawp File DIsabled"
Hello, i enabled swap file from DietPi-Config/advanced options/swap file size and put it manual to 100mb and rebooted
Writing the command free -m i see that the swap file is not enabled its 0mb
How can it be enabled?

Thanks

[2018-03-02 12:06] #1573 closed, assigned to nobody

[2018-03-02 12:06] symbios24 opened #1574 "BerryBoot | Swap File Disabled"
Hello, i enabled swap file from DietPi-Config/advanced options/swap file size and put it manual to 100mb and rebooted
Writing the command free -m i see that the swap file is not enabled its 0mb
How can it be enabled?

Thanks

[2018-03-02 13:11] MichaIng commented on #1572
@symbios24
Could you resolve by yourself? What was the issue?

I reviewed in between and thought we should rework our swapfile generation script a bid, using some more error handling and checking for dphys-swapfile APT package availability.

[2018-03-02 13:19] dyxang commented on #1530
@MichaIng  Well,English readme.md is ubuntu64-rpi/README-EN.md.
Just mention it.Thank you for your reply

[2018-03-02 13:19] #1530 closed, assigned to nobody

[2018-03-02 13:25] skane165 commented on #1569
I made a fresh install and this is the lsusb
root@DietPi:~# lsusb
Bus 001 Device 007: ID 148f:761a Ralink Technology, Corp.
Bus 001 Device 005: ID 1a2c:4c5e China Resource Semico Co., Ltd
Bus 001 Device 006: ID 174c:55aa ASMedia Technology Inc. ASM1051E SATA 6Gb/s bridge, ASM1053E SATA 6Gb/s bridge, ASM1153 SATA 3Gb/s bridge
Bus 001 Device 004: ID 05e3:0610 Genesys Logic, Inc. 4-port hub
Bus 001 D

[2018-03-02 13:27] MichaIng commented on #1530
@dyxang
Ah apologize, seems I had a too rough look at this. Still, not an option for DietPi from my point of view, but interesting to know. Maybe an option for others and great to have people offering x64 RPi images generally to bring forward this for hopefully soon all devices.

[2018-03-02 14:11] MichaIng commented on #1462
@Fourdee
I was playing around a bid:
[code]
[code]
[code]
Generally it works, but printing uninstall info to log and adjusting `/DietPi/dietpi/.installed` needs to be inside every if statement as well. A lot of additional lines, much work anyway. I don't like it too much.

Second solution with just apt-mark auto and autoremove everything afterwards is also not a really nice solution, as it is a bi

[2018-03-02 14:42] symbios24 commented on #1574
i change it to 500mb and i see that is taking the disk space,so my question is
is it loading only when needed?

[2018-03-02 14:51] Fourdee commented on #1574
@symbios24

Thanks for the report, please paste results:
[code]

[2018-03-02 14:52] Fourdee commented on #1574
Reference: https://github.com/Fourdee/DietPi/issues/1572#issuecomment-369917050

[2018-03-02 14:58] Fourdee commented on #528
@MichaIng

I'll run a test today.

Yep, still broken.

---

[code]

Builds fine, but still hangs on BT
[code]

- Maybe ```CONFIG_SERIAL_8250``` is disabled, unsure, cant find any kernel configuration listed on https://github.com/ayufan-pine64/linux-build

[2018-03-02 15:28] symbios24 commented on #1574
i have the picture here from the results

https://ibb.co/h7RU2n

[2018-03-02 15:36] Fourdee commented on #1452
As i'am unable to replicate (https://github.com/Fourdee/DietPi/issues/1452#issuecomment-369630342), we'll need serial debugging to identify the issue, from those affected.

#### If anyone experiences failed RootFS resize/partition, please do the following:
- Write a fresh DietPi image
- Connect Serial console
- Power on
- Wait for the serial console to prompt for login
- Login, and check ```df -h`

[2018-03-02 15:37] symbios24 commented on #1572
sorry but i had typos after i post it and i cannot edit any post probably coz i use old chrome version on XP.

[2018-03-02 15:42] Lanneer487 opened #1575 "Aria2 configuration cleared after reboot"
## Workaround (requires DietPi v6.3):
#### Please note, the aria2-webui does not support saving settings after session shutdown, this is a known limitation with the software, please use the aria2.conf to make changes:
- Stop services with ```dietpi-services stop```
- Edit the following configuration file ```/var/lib/dietpi/dietpi-software/installed/aria2.conf```, making your required changes.
- St

[2018-03-02 16:21] caribou-snake commented on #1560
@MichaIng
confirm I disabled IPv6 in dietpi-confg when setting the static IP
I want back and started again from scratch
(too much messing with confgurations when during my attempts)
 IPv6 is indeed enabled by default

thank you very much
just for completness: in the old jessie version none of these issues and dhcpd active togehter with PiVPN+OpenVPN installed