[2016-11-13 13:22] Fourdee commented on #602
Notes (armbian build):

`dhd` is the WiFi module used, `ap6212` not available.

WiFi country code cannot be set = poor wifi performance:

[code]

Appears WiFi is over SDIO:

[code]

[2016-11-14 11:50] trajano opened #606 "RPi | Support for + provide F2FS images"
Is it possible to set it up so the boot disk is formatted as F2FS rather than ext4?

https://en.wikipedia.org/wiki/F2FS

I am checking this out to see if I can just convert my existing one.
http://whitehorseplanet.org/gate/topics/documentation/public/howto_ext4_to_f2fs_root_partition_raspi.html

[2016-11-14 12:45] Fourdee opened #607 "DietPi-Software | VNC servers, shared desktop support"
http://dietpi.com/phpbb/viewtopic.php?f=11&t=860&p=3845#p3839

[2016-11-14 12:52] Fourdee commented on #606
@trajano

Not tried it personally, but tutorial looks good.
You may run into issues if F2FS doesn't support permissions and symlinks. DietPi (and the majority of software in dietpi-software) needs those to function correctly.

[2016-11-14 13:22] trajano commented on #606
Just asked stackexchange before I go on now ^_^

http://unix.stackexchange.com/questions/323155/does-f2fs-support-permissions-and-symlinks/323156#323156

[2016-11-14 14:02] Fourdee commented on #607
As per: http://raspberrypi.stackexchange.com/questions/9590/tightvncserver-show-the-same-screen-on-hdmi-and-vncclient

[code]

[2016-11-14 14:33] Fourdee commented on #607
Completed, also updated online docs in regards to enabling shared desktop mode: http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=408#p408

[2016-11-14 14:33] #607 closed, assigned to Fourdee

[2016-11-15 12:14] Fourdee commented on #353
@attzonko

Yep, same for me. Excellent 👍
I'll update sourcecode for those changes.

[2016-11-15 13:30] Fourdee commented on #353
Completed.

[2016-11-15 13:30] #353 closed, assigned to Fourdee

[2016-11-15 13:32] Fourdee commented on #582
Unable to replicate John's reported issue.
I've added some debug code, will continue to support John via forum.

Marking as completed.

[2016-11-15 13:32] #582 closed, assigned to Fourdee

[2016-11-15 13:53] Fourdee commented on #593
Server AMD 64: http://download.roonlabs.com/builds/RoonServer_linuxx64.tar.bz2
Bridge AMD 64: http://download.roonlabs.com/builds/RoonBridge_linuxx64.tar.bz2
Bridge ARMv7+: http://download.roonlabs.com/builds/RoonBridge_linuxarmv7hf.tar.bz2

Server reqs:
- ffmpeg
- libav-tools
- cifs-utils

Reqs all:
- ALSA
- libasound2
- glibc

[2016-11-15 16:06] Fourdee commented on #605
@trajano
Done, will also be applied as patch during v137 update on client.

[2016-11-15 16:06] #605 closed, assigned to nobody

[2016-11-15 17:14] trajano opened #609 "Deactivate Rpi3 wifi if using same network as eth0"
Can we make it such that if wlan0 gateway == eth0 gateway that we just shut off wlan0? Maybe leverage what has been done on #576

[2016-11-15 21:24] Scoindy commented on #552
**@Fourdee**

Hi,

No response to my forum post from the user after a couple of weeks unfortunately; not sure what you usually do in cases like this - mark them as unreproducible or something similar?

[2016-11-15 22:32] trajano commented on #606
Using f2fs on my box right now. No noticeable change except for a periodic f2fs GC.

[2016-11-16 11:38] MCosta2016 opened #610 "Installing mate"
installing mate or lxde i get this error, that in the vm machine doesn't appear.
I can resolve it ?

Many thanks, Marco

![dietpi](https://cloud.githubusercontent.com/assets/20165457/20345896/82171816-abf9-11e6-8a2b-4d52afeb2a4c.jpg)

[2016-11-16 11:43] Fourdee commented on #552
@Scoindy

Excellent 👍

Yep, lets mark this as closed as unable to reproduce issue reported by user. We can always reopen if needed.

Thanks for your help on this one 👍

[2016-11-16 11:43] #552 closed, assigned to Fourdee

[2016-11-16 11:48] Fourdee commented on #610
@MCosta2016

Unable to replicate here, so lets try changing the apt mirror:
- run `dietpi-config`
- select `Network Options: NAS/Misc`
- select `Apt Mirror`
- select `ftp://ftp.fu-berlin.de/linux`
- exit dietpi-config

Lets clean, update the apt cache and repair any error-ed package installs:

[code]

Now please try to install MATE via `dietpi-software` and let us know outcome.

[2016-11-16 12:07] Fourdee commented on #609
@trajano

Yep, good idea, in theory this could work 👍

Possible issues are:
- for this to be automatic, we'd have to create a background process/script that monitors the connection
- end user may not expect WiFi to be disabled (eg: unplugging eth would result in no connection)

[2016-11-16 12:50] MCosta2016 commented on #610
ok, good, but ...
![dietpi2](https://cloud.githubusercontent.com/assets/20165457/20347929/8fdc88be-ac03-11e6-8137-eafb33c85411.jpg)
![dietpi3](https://cloud.githubusercontent.com/assets/20165457/20347935/93ccec02-ac03-11e6-92e3-abfba8cb0d92.jpg)

[2016-11-16 12:50] MCosta2016 commented on #610
i think that is another problem ... sigh!

[2016-11-16 15:14] MCosta2016 commented on #610
infact i try to ping 8.8.8..8 and it is reacheable.... i don' t understand why the virtual machine go on without problem.... sigh!

[2016-11-16 17:10] Fourdee commented on #610
@MCosta2016

Lets take a look at your network settings, please paste contents of the following (or screenshot). Hide any WiFi keys before hand:

[code]

[2016-11-19 11:36] Fourdee opened #611 "DietPi-Software | PiVPN"
Issues reported by users:
- PiVPN fails to install
- PiVPN not showing up as installed after install: http://dietpi.com/phpbb/viewtopic.php?f=11&t=865

[2016-11-19 12:05] Fourdee commented on #611
Most likely cause is selecting `Yes` to reboot after PiVPN installer is completed. This prevents DietPi-Software from completing the remaining installation code, which, also sets installed states at the end.

Known issue with ARM64. OpenVPN repo that PiVPN adds, does not support ARM64 binaries (yet). However, installation will still continue using the standard Debian repo for package installation.

[2016-11-19 12:49] Fourdee opened #612 "DietPi-Software | CAVA (console spectrum)"
As title: https://github.com/karlstav/cava#cava-mp

Implementing with:
- MPD FIFIO
- ```dietpi-justboom```

[2016-11-19 15:05] k-plan commented on #611
@Fourdee

💯  👍

Do some testing as well in the last days, but miss to write it up, with same result. Sorry.

If you choose:

![pivpn](https://cloud.githubusercontent.com/assets/17237601/20456051/e0d97a96-ae6b-11e6-8b8a-ac539ec04361.gif)

at the last install step and let `dietpi-software` do the build-in auto-reboot after finishing installation, all went well.

[code]

But it is not your fault, it'

[2016-11-19 15:25] k-plan commented on #612
Huuh ...  as well with 3.2 / 3.5 LCD Touchscreen Shield Support in DietPi ?

---

_PS: - after the gaming trip (retropi, OpenTyrian, Cuberite, MineOS, AmiBerry, DXX-Rebirth) you are now on the audio trip (JustBoom)?_  😄

[2016-11-19 16:45] Fourdee commented on #612
@k-plan

😉 yep, looks great on both :D

[2016-11-19 17:16] k-plan commented on #612
@Fourdee

wow, great news! 😃

Have you please any "preview" picture of a working device?
Would be very nice to see how it looks.

Is support for the 3 or 4 display keypads possible (MPD or CAVA) ?

http://odroid.com/dokuwiki/doku.php?id=en:c1_tft_keypads

http://odroid.com/dokuwiki/doku.php?id=en:3.5inch_lcd_shield#using_keypad

[2016-11-19 19:48] Fourdee commented on #612
@k-plan

I'll take a look at the Odroid LCD 3.5 first. Next/previous track and volume seems good combo for the keys?

Yep, i'll do a video when its nearly done 👍.
Having a few issues with CAVA performance on i2c, appears to be related to when the majority of bars are filled, temporally drastically lowers framerates.
Note to self: try a larger font.

[2016-11-19 20:05] k-plan commented on #596
@Fourdee

Very nice! Tested on OrangePi One (armv7l) it will work! 👍
Where is as well a missing cursor on display ...

Will test it later on Odroid C1+ who had the same issue. :no_mouth:
https://github.com/Fourdee/DietPi/issues/260#issuecomment-219769702

[2016-11-19 20:27] k-plan commented on #612
@Fourdee

Wow ... a video. Thanks, very nice. 😃

Hmm .. for 3.2 '' LCD (WaveShare) witch 3 keypads I think:

“Up” => Next

“Down” => Previous

“Enter” => Stop

3.5 '' LCD (Hardkernel) witch 4 keypads I think:

“Up” => Volume + (or: Next)

“Down” => Volume - (or: Previous)

“SPACE” => Previous (or: Stop)

“Enter” => Next (or: Repeat/Play)

(volume is easier to adjust direct at speaker)

[2016-11-19 20:58] k-plan commented on #596
Done and it work! 👍

Nice!

No big deal, but on Odroid C1+ cursor is white and on OrangePi One cursor is cyan.
Can live with it, is much better when no cursor.

[2016-11-19 21:03] sootstone commented on #600
I'll run a few tests, but otherwise feel free to close this.

[2016-11-20 01:18] shawaj commented on #577
:-D

On 2 Nov 2016 5:16 pm, "Dan" notifications@github.com wrote:

[2016-11-20 14:03] Fourdee commented on #612
@k-plan

"Bash'd it", Odroid C2 + Odroid LCD 3.5:

[code]

[2016-11-20 15:26] k-plan commented on #612
@Fourdee

looks great, nice work.  But I can't test it. 😢

It's seems to be time going out to buy a DAC HAT or a sound card for some of my devices.
Any suggestion?

[2016-11-20 23:29] MarcosPer commented on #605
I don't like this feature, i wasted 1 hour because of all my stored procedures doesn't work with this. Simple rm -rf /etc/mysql/conf.d/reduce_resources.cnf

[2016-11-21 11:40] Fourdee commented on #605
@MarcosPer

Sorry to hear that.
Are these issues with SQL queries, or with a peice of software (eg: NextCloud)? Also, how big is your current database size (if known)?

[2016-11-21 13:45] Fourdee commented on #612
@k-plan
I've got a spare HiFi Shield Plus for C1/C2, will send it over in next few days.

For Raspberry Pi, JustBoom DAC HAT (https://www.justboom.co/product/justboom-dac-hat/) or DAC Zero (https://www.justboom.co/product/justboom-dac-zero-phat/) are both excellent.

[2016-11-21 13:46] Fourdee commented on #612
The low framerate (10-15) on the Odroid LCD shield causes massive IO overheads when cava is running, even at matching framerates:
![image](https://cloud.githubusercontent.com/assets/7077026/20484804/d4401dd6-aff0-11e6-8445-3d8c92d37ba2.png)

The frame rate is around 10~15FPS due to slow GPIO toggling speed.

[2016-11-21 14:27] trajano commented on #605
Perhaps we can make this configurable, something like a2enconf

[2016-11-21 23:00] ghost commented on #250
@Fourdee
Maybe for 139?

For compiling Arm 64
https://github.com/cantino/huginn/issues/1586

[2016-11-22 02:54] joaofl opened #613 "Error installing NextCloud"
While installing NextCloud, i got an error that seems to be related to dependency on php

The error is:
sudo: php: command not found
cat: /var/www/nextcloud/config/config.php: No such file or directory
sed: can't read /var/www/nextcloud/config/config.php: No such file or directory
/DietPi/dietpi/dietpi-software: line 5884: php: command not found
/DietPi/dietpi/dietpi-software: line 5884: / 1024 /

[2016-11-24 13:52] Fourdee commented on #612
Online Doc: http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=3928#p3928

@k-plan

Lol, yep 👍

[2016-11-24 14:15] Fourdee commented on #613
@joaofl

Thanks for the report.

Need to get a bit more info on installed packages, can you paste results of following commands please:
[code]

note to self:
unable to replicate with ```dietpi-software install 114```

[2016-11-24 14:40] joaofl commented on #613
@Fourdee

Follows:
[code]

[2016-11-24 15:56] Fourdee commented on #602
WiFi not connecting successfully during boot. ifdown wlan0; ifup wlan0 required.
[code]

package ```rfkill``` is required for ap6212 bt firmware service:
[code]

[2016-11-24 17:00] Fourdee opened #614 "DietPi-Software | Node-Red and MQTT/Mosquitto"

[2016-11-24 17:12] Fourdee commented on #613
Notes to self:
dpkg, no webserver installed. lighttpd [84] claims installed.

@joaofl
For some reason, lighttpd packages are missing from dpkg. Although, DietPi has registered it as previously successfully installed.

#### Please try the following
This will reinstall lighttpd packages and LLMP stack.
[code]

Once completed, you can re-attempt nextcloud installation with:
[code]

[2016-11-24 17:53] Fourdee commented on #602
Completed, image now available from http://dietpi.com/download

http://dietpi.com/phpbb/viewtopic.php?f=8&t=891&p=3951#p3951

[2016-11-24 17:53] #602 closed, assigned to Fourdee

[2016-11-24 18:55] joaofl commented on #613
Thanks @Fourdee
Just tried what you said. By reinstalling  80, I get:

[code]

Then, I install 114. It deflates the zip file successfully, but it gives the following error in the end:

[code]

[2016-11-24 19:00] joaofl commented on #613
I was thinking:

LLMP uses sqlite.. maybe I need the LLMP setup instead (with mysql, which is installed by nexcloud automatically)

[2016-11-24 19:06] Fourdee commented on #613
@joaofl

LLMP uses sqlite.. maybe I need the LLMP setup instead (with mysql, which is installed by nexcloud automatically)

Ah yes, so we can install LLMP with:
[code]

[2016-11-24 19:19] joaofl commented on #613
@Fourdee  Done!

Had to remove LLMP and install LLMP. Installed 114 and it works. Thanks for the support. It was probably some old messy configuration of mine, for some reason I can't recall.

[2016-11-24 19:19] #613 closed, assigned to nobody

[2016-11-24 19:35] Fourdee commented on #613
@joaofl

No worries, great to hear its resolved 👍

[2016-11-24 21:38] dkdkkd opened #615 "delete"

[2016-11-25 17:10] Fourdee opened #616 "DietPi | New website"
As title

[2016-11-25 17:12] Fourdee commented on #616
Preview:
![image](https://cloud.githubusercontent.com/assets/7077026/20632017/3cedfbca-b332-11e6-9b13-10f731f136f4.png)
![image](https://cloud.githubusercontent.com/assets/7077026/20632028/59db5282-b332-11e6-8519-a0c01a1400ec.png)

[2016-11-25 22:37] #615 closed, assigned to nobody

[2016-11-26 04:19] bhaveshgohel commented on #616
Awesome @Fourdee :+1:
Can we have the Link for Preview? :smiley:

[2016-11-26 11:59] WolfganP commented on #616
Nice design. Radioactive background :-)

[2016-11-26 12:00] Fourdee commented on #616
@bhaveshgohel

Hoping to get it finished today, will post when its up :)

[2016-11-26 17:09] WolfganP commented on #616
Nice one. I notice a minor misspelling at the top buttons and text below: "Comminuty"

[2016-11-27 13:55] Fourdee opened #617 "DietPi-Software | Kodi fails to install"
Package failure on C1

[2016-11-28 14:05] Fourdee commented on #617
Resolved. Package fixed by Meveric.

[2016-11-28 14:05] #617 closed, assigned to Fourdee

[2016-11-28 16:32] Fourdee commented on #600
Will mark as closed. @sootstone After running your tests, please reopen if required.

[2016-11-28 16:32] #600 closed, assigned to nobody

[2016-11-28 16:32] Fourdee opened #618 "DietPi-Cloudshell | 'Mount not active' with folder names containing whitespace"

[2016-11-29 15:52] Fourdee commented on #612
Completed.

[2016-11-29 15:52] #612 closed, assigned to Fourdee

[2016-11-29 16:09] Fourdee commented on #611
@k-plan

This is now removed during ```dietpi-software``` uninstall.

I've also disabled PiVPN from rebooting system. Should prevent a incomplete DietPi-Software install with our users.

Marking as completed.

[2016-11-29 16:09] #611 closed, assigned to nobody

[2016-11-29 16:11] Fourdee commented on #610
No response, will mark as closed.

@MCosta2016
Please reopen if required.

[2016-11-29 16:11] #610 closed, assigned to nobody

[2016-11-29 16:12] Fourdee commented on #597
No response, will mark as resolved.

@Jurlind
Please reopen if required.

[2016-11-29 16:12] #597 closed, assigned to nobody

[2016-11-29 16:12] Fourdee commented on #568
Marking as closed.

[2016-11-29 16:12] #568 closed, assigned to nobody

[2016-11-29 16:13] Fourdee commented on #550
No response, marking as closed.

[2016-11-29 16:13] #550 closed, assigned to nobody

[2016-11-29 16:34] Fourdee opened #619 "DietPi-Software | Emby fails to install (pkg error)"
[code]

[2016-11-29 16:37] Fourdee commented on #619
Same with ```apt-get install emby-server-beta```.
Repo : http://download.opensuse.org/repositories/home:/emby/Debian_8.0/

```embymagick``` and ```libembysqlite3-0``` are x86_32 x86_64 only. Repo lacks ARMv7+ packages for these new dependencies.

[2016-11-30 12:40] Fourdee commented on #616
- 🈯️  Update dietpi desktop icons with new logo

[2016-12-01 17:14] k-plan commented on #616
@Fourdee

fresh and  colourful looking new website.  👍

... and a fitting new forum style! 😃

Great job.

Thinking, you have leave one in old style here: https://github.com/Fourdee/DietPi#dietpi

[2016-12-01 19:16] Fourdee commented on #616
@k-plan

Thanking you 👍. The one that got away 😄 lol

[2016-12-02 13:34] Fourdee opened #620 "DietPi-Software | Squeezelite update"
enable ```-C``` flag

[2016-12-02 14:12] Fourdee commented on #620
```-C``` not available in current version (v1.6.4), compiles required (v1.8):
- 🈯️ ARMv6
- 🈯️ ARMv7+
- 🈯️ ARM64

Tested, releases soundcard after 5 seconds when using pause/stop.

[2016-12-02 15:09] Fourdee opened #621 "DietPi-Config | Add support for Odroid Remote"

[2016-12-02 16:09] Fourdee commented on #620
Completed, available and patched in v138 update.

[2016-12-02 16:09] #620 closed, assigned to Fourdee

[2016-12-02 17:03] pilovali opened #623 "DietPi-Software | smokeping"
You can follow these steps: http://olivermarshall.net/install-smokeping-on-ubuntu-14-04/
I do not know if it works with Nginx or Lighttpd.

Example on my Pi1: http://s2.pilovali.nl/cgi-bin/smokeping.cgi?target=DNS_Servers (expect long loading times)

[2016-12-03 05:50] bhaveshgohel commented on #616
@Fourdee Awesome!

Just one suggestion to decrease the load time of site:
### Compress all Images using [mozjpeg](https://imageoptim.com/mozjpeg ) :
Image  - 311KB [Original]
<img width="320" alt="pyvoeo8lpruaaaaasuvork5cyii" src="https://cloud.githubusercontent.com/assets/5253753/20857111/67e0c6c0-b948-11e6-87e0-f254a0cd5e2c.png">

Image - 35.8KB! [compressed]
<img width="320" alt="pyvoeo8lpruaaa

[2016-12-03 12:24] Fourdee commented on #616
@bhaveshgohel

Good spot and thanks for link 👍. I'll reopen and take another pass on whole site.

[2016-12-04 12:13] Fourdee commented on #616
@bhaveshgohel
Down from 3.5MB: http://tools.pingdom.com/fpt/bXGWGd/http://webcache.googleusercontent.com/search?q=cache:oFg0pV5BXHYJ:dietpi.com/+&cd=1&hl=en&ct=clnk&gl=uk

To 1.1MB: https://tools.pingdom.com/#!/cAAHDS/dietpi.com

Thanks @bhaveshgohel, awesome 👍

[2016-12-04 12:13] #616 closed, assigned to Fourdee

[2016-12-04 12:22] Fourdee commented on #619
Options:
- find documentation/method for compiling Emby ourselves: https://github.com/MediaBrowser/Emby.Build/tree/master/builders/emby-server (is this only for Docker?) | https://github.com/MediaBrowser/Emby/tree/master/Tools/Linux_Build_Scripts ?
- find another Emby repo
- wait for OpenSuse Emby repo to support ARMxx

[2016-12-04 13:10] Fourdee commented on #619
Lets ask the Emby community:
https://emby.media/community/index.php?/topic/19415-debian/?p=392132

[2016-12-04 13:15] Fourdee opened #624 "DietPi-Software | RealVNC (for direct graphics capture)"

[2016-12-04 13:33] Fourdee opened #625 "XU4 Kodi | No sound"

[2016-12-04 13:34] Fourdee opened #626 "C2 Kodi | HDMI passthrough dropping sound"

[2016-12-04 13:49] Fourdee commented on #624
Please note that this is only valid for non-commercial use on Raspberry Pi devices.

RPi only 👎

[2016-12-04 15:34] k-plan commented on #611
@Fourdee

Tested now with v138 and it will work. Well done, nice job. 👍

hmm, it will be a good idea (better), to do this direct after installation on ARM devices, before `dietpi-software` will force a auto reboot. Because now you will get error messages on every `apt-get update` run.

But it's a failure of PiVPN installer, not from DietPi. Only a "_work around_" to get off this annoying error mes

[2016-12-04 15:54] Fourdee commented on #624
online doc: http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=4149#p4149

[2016-12-04 16:15] Fourdee commented on #624
Completed.

[2016-12-04 16:15] #624 closed, assigned to nobody

[2016-12-04 17:17] Fourdee commented on #593
Note to self:
- Check FP of roon's log files and symlink to ```/var/log``` if needed, ensure ramlog usage.

[code]

Cant be done during install stage, Roon rotates log files when its run, removing the symlink we create:
[code]

[2016-12-05 14:22] Fourdee commented on #619
Solution/workaround: https://emby.media/community/index.php?/topic/19415-debian/#entry392490

[2016-12-05 14:38] trajano commented on #606
This is probably best done on `dietpi.txt` perhaps we should have an option to specify what file system we want there.

[2016-12-05 14:50] Fourdee commented on #619
🈯️ ARMv7+
🈯️ ARM64

Resolved using 14.04 Emby repo and libjpeg8 from sid.

[2016-12-05 14:50] #619 closed, assigned to Fourdee

[2016-12-06 12:20] scm2016 opened #630 "SNMP is not working on NEO!"
While installation got this...

Job for snmpd.service failed. See 'systemctl status snmpd.service' and 'journalctl -xn' for details.
invoke-rc.d: initscript snmpd, action "start" failed.
dpkg: error processing package snmpd (--configure):
 subprocess installed post-installation script returned error exit status 1
Processing triggers for systemd (215-17+deb8u5) ...
Errors were encountered while pro

[2016-12-06 12:46] Fourdee commented on #593
Thanks to Danny at Roon for pointing out I could simply symlink the ```Logs``` folder. How did I miss that one lol:

[code]

[2016-12-06 12:48] Fourdee commented on #593
Completed. Available for ARMv7+ devices.

[2016-12-06 12:48] #593 closed, assigned to Fourdee

[2016-12-06 13:43] Fourdee commented on #625
Requested Bug report to check system config files.

[2016-12-06 13:44] Fourdee commented on #618
[code]

Lets try:
[code]

[2016-12-06 15:39] Fourdee commented on #621
draft code/testing status:
- 🈯️ C2
- 🈯️ C1
- 🈯️ XU4 Cloudshell

[2016-12-06 18:19] aliosa27 commented on #630
It seems to be working on my neo. Would you mind posting your snmpd.conf file?

[2016-12-08 03:07] opticyclic commented on #624
I did this manually and when I typed `vncserver` I got the error:

    Error: execvp(xauth): No such file or directory (2) [System]

I think you also need to include `apt-get install xauth`

[2016-12-08 06:54] trajano opened #633 "Can udhcpc be used as the DHCP client?"
Just wondering, is it possibel to use udhcpc as the default DHCP client?  It seems to have a smaller footprint than  isc-dhcp-client

[2016-12-08 11:07] Fourdee commented on #618
Ok, this issue is now fixed. There is another outstanding issue, will create a new ticket.

[2016-12-08 11:07] #618 closed, assigned to Fourdee

[2016-12-08 11:07] Fourdee opened #634 "DietPi-Cloudshell | RootFS, 'Mount not active'"
It is not always there and mostly affects the rootfs drive. The numbers are fine it's just this message.

[2016-12-08 11:08] Fourdee commented on #618
For reference: https://github.com/Fourdee/DietPi/issues/634

[2016-12-08 11:26] Fourdee opened #635 "Image | OrangePi Zero"

[2016-12-08 12:54] Fourdee opened #636 "Image | OrangePi Plus"

[2016-12-08 12:56] Fourdee commented on #635
```dhd``` wifi module hangs system.

[2016-12-08 13:25] Fourdee commented on #624
@opticyclic
xauth is installed with XserverXorg: https://github.com/Fourdee/DietPi/blob/master/dietpi/dietpi-software#L4986

XserverXorg should get triggered for all software that requires a desktop.

Lets check your install file, whats results of:
[code]

[2016-12-08 15:45] Fourdee commented on #636
Available for download: http://dietpi.com/#download

Info: http://dietpi.com/phpbb/viewtopic.php?f=8&t=980

[2016-12-08 15:45] #636 closed, assigned to Fourdee

[2016-12-08 17:34] Fourdee commented on #621
Now, where to put this in DietPi-Config...

[2016-12-08 17:36] Fourdee commented on #633
@trajano

Seems ```udhcpc``` requires ```busybox``` which actually makes it bigger overall?:
[code]

[2016-12-08 18:45] trajano commented on #633
Cool and I presume we're not using busybox already.

[2016-12-08 18:45] #633 closed, assigned to nobody

[2016-12-09 07:31] bhaveshgohel opened #637 "[Question] Does DietPi Supports Orange Pi Plus2?"
Hello @Fourdee ,

Does DietPi Supports Orange Pi Plus2? or future plans for it?

P.S. : I didn't find it on http://dietpi.com/#download

[2016-12-09 11:29] Fourdee commented on #637
@bhaveshgohel

From what I can read, the Plus and Plus 2 use the same .fex (https://github.com/igorpecovnik/lib/blob/master/config/fex/orangepiplus.fex#L10). Which basically means, the OrangePi Plus image should work with the OrangePi Plus 2 board. If you try it, let us know results 😄

[2016-12-09 11:41] bhaveshgohel commented on #637
@Fourdee Hahaha! I'm planing to purchase the board, if and only if it support the awesomeness of DietPi. :wink:

Let it open for others to reply. :smiley:
Thanks.

[2016-12-09 12:09] Fourdee commented on #635
Image created by @aliosa27 : https://github.com/Fourdee/DietPi/pull/631

[2016-12-09 12:32] Fourdee commented on #635
@aliosa27
Sound working fine. I'll add to website and release your image 👍

[2016-12-09 12:49] Fourdee commented on #635
Still having issues with wifi module not being enabled during boot.

Workaround (also tested in AP mode):
[code]

[2016-12-09 12:57] Fourdee commented on #635
Online doc: http://dietpi.com/phpbb/viewtopic.php?f=8&t=985&p=4262#p4262

[2016-12-09 13:06] Fourdee commented on #635
@aliosa27

Great work on this, your image is now live http://dietpi.com/#download. Will mark this as closed 👍

[2016-12-09 13:06] #635 closed, assigned to Fourdee

[2016-12-09 13:45] Fourdee commented on #634
Note to self:
- Possible df > tmp file does not exist, causing 'mount not found'
- df isnt being terminated? killall -w df ?

[2016-12-09 14:32] Fourdee commented on #621
Display Options at the moment. DietPi-Config main menu needs a rethink and reshuffle at some point:
![image](https://cloud.githubusercontent.com/assets/7077026/21052317/469514c0-be1c-11e6-8b88-788dcb538203.png)
![image](https://cloud.githubusercontent.com/assets/7077026/21052322/4e598934-be1c-11e6-9593-fda3d4066a77.png)

[2016-12-09 14:32] #621 closed, assigned to Fourdee

[2016-12-09 14:41] aliosa27 commented on #637
It works on my plus 2. Although on boot I can add a small change to detect the different model and change the id so it displays that it is in fact a plus 2

[2016-12-10 15:23] Fourdee commented on #614
MQTT: https://mosquitto.org/2013/01/mosquitto-debian-repository/

🈯️ Done. Not available for ARM64.

[2016-12-10 15:40] Fourdee commented on #614
Node red:
Fails to install due to serialport GitHub download lacking ARM binary:
[code]

Fails to compile:
[code]

[2016-12-10 17:36] k-plan commented on #475
@Fourdee

http://dietpi.com/phpbb/viewtopic.php?f=9&t=986&p=4279#p4279

[2016-12-10 20:03] k-plan commented on #621
@Fourdee

![161210-0009](https://cloud.githubusercontent.com/assets/17237601/21075824/0acc1f00-bf1c-11e6-9d54-63f6a97ba802.gif)

hmm .. other option is to put it under `DietPi - Advanced Options`

![161210-0008](https://cloud.githubusercontent.com/assets/17237601/21075788/fe2b3b06-bf1a-11e6-9394-58bfa40ae268.gif)

It is rather a input option like a keyboard. But I don't like to put it under `DietP

[2016-12-11 11:46] Fourdee opened #639 "DietPi-Config | Re-write"
Needs an improved menu layout, menu names, options and cats. Basically a complete rethink of where everything goes :)

[2016-12-11 11:46] Fourdee commented on #621
@k-plan

Yep, I think we could do with a new menu option called?:
- Peripheral Options
 1 Remote controls
 2 LCD Addons
 3 Bluetooth (maybe fits below)

Networking Options NAS/MISC, could change to?
- Connectivity Options
 1 Bluetooth

Or, we could do a?:
- Hardware Options
 1 Display Options
 2 Audio Options
 3 Network Options

So many options and possibilities, will make a new GiT ticket for thi

[2016-12-11 12:50] Fourdee opened #640 "NanoPi Neo AIR | No WiFi"

[2016-12-11 13:13] Fourdee commented on #640
Seems to work fine for a while:
[code]

Then connection hangs with:
[code]

Rebuild from ARMbian build tools, restest.

[2016-12-11 17:07] Fourdee opened #641 "DietPi-Software | NAA daemon"
http://www.signalyst.com/consumer.html

[2016-12-11 17:11] Fourdee commented on #641
https://www.signalyst.eu/bins/naa/linux/stretch/networkaudiod_3.4.2-33_armhf.deb

[2016-12-11 17:36] Dalto1 opened #642 "Libresonic + FFmepg (libfdk_acc)"
I installed libresonic from source on my dietpi-server. I think this could be usefull to add into the software bank. I works great. Anyways, i got a little problem when im trying to read FLAC songs. libfdk_acc seems to be needed. And im not able to configurate ffmpeg for it. i read issues in https://github.com/Fourdee/DietPi/issues/84. Dont know if it is related. Could you help me to configurate i

[2016-12-11 18:03] Fourdee commented on #614
Data dir for Node-Red:
[code]

[2016-12-12 12:01] Fourdee commented on #642
@Dalto1

Hi, which device are you running DietPi on, and, did you install FFMPEG from ```dietpi-software``` ?

You can check installed with (green ```=2``` if installed):
[code]

For ARMv6 (RPi 1/zero), we pre-compiled debs which installs:
- ffmpeg_2.7.2
- fdk-aac_0.1.4

For ARMv7 RPi, we use the ```deb-multimedia.org``` repo to install FFMPEG. ```libfdk_acc``` may be available, try running this t

[2016-12-12 12:04] Fourdee commented on #642
@Dalto1

Lets also check installed packages, please paste results:
[code]

[2016-12-12 12:39] Fourdee commented on #625
No response, moving out of milestone.

[2016-12-12 15:00] Dalto1 commented on #642
I am on pine64
apt-cache search libfdk* | grep 'runtime'      ---> show nothing
dpkg -l | grep libfdk
dpkg -l | grep ffmpeg

--->
ii  libfdk-aac-dev:arm64                  0.1.4-2                           arm64        Fraunhofer FDK AAC Codec Library - development files
ii  libfdk-aac1:arm64                     0.1.4-2                           arm64        Fraunhofer FDK AAC Codec Library - runt

[2016-12-12 16:03] aliosa27 commented on #640
Taking a look into this.

[2016-12-12 17:14] Fourdee commented on #642
@Dalto1

Looks installed fine.

Lets check libflac is installed:
[code]

Question:
- Did you install FFMPEG from ```dietpi-software```?

[2016-12-12 17:31] Fourdee opened #643 "DietPi-JustBoom | Add support for DSP filters"
For devices that use the ```pcm51xx``` chipset:
- Allo Piano DAC's
- JustBoom DAC Hat (check zero)
- Odroid HiFi Shield 2
[code]

[2016-12-12 17:33] Fourdee commented on #643
Detection:
[code]
Or can we pull from /sys/....alsa?

Get list of available filters:
[code]

Get current filter:
[code]

[2016-12-12 18:30] Dalto1 commented on #642
ii  libflac8:arm64                        1.3.0-3                           arm64        Free Lossless Audio Codec - runtime C library

and yes i installed ffmpeg from dietpi-software

[2016-12-12 19:19] Fourdee commented on #642
@Dalto1
Thanks.
I'll take a look at libresonic, add it to DietPi-Software and test flac, should have a solution for you within a few days.

[2016-12-12 19:20] Fourdee opened #644 "DietPi-Software | Libresonic [removed]"

[2016-12-12 19:20] Fourdee commented on #642
Git Ticket: https://github.com/Fourdee/DietPi/issues/644

[2016-12-12 19:36] Fourdee opened #645 "DietPi.com | FAQ: Create a list of common issues and resolutions"
Mostly aimed at insufficient PSU's, especially during the 1st run of DietPi which is IO intensive with apt-get installs and swapfile creation.

"I dont get kernel IO errors with Raspbian" = Most likely because, aside from the resize, Raspbian doesn't do anything once its installed. No stress on PSU during initial stage.

Also consider only supporting users who use either:
- Official RPi PSU
- Offi

[2016-12-12 19:37] Dalto1 commented on #642
Thanks you master! :D

[2016-12-12 19:37] #642 closed, assigned to nobody

[2016-12-12 21:07] k-plan commented on #639
@Fourdee

puh ... it's really difficult.

I don't know, where your journey will end up ...

Desktops? Audio Player? Multimedia? Gaming? Web-Services? NAS? IOT? Home Service? More embedded Tools and Programs? Networking? Security?

For the moment:  `dietpi-config`

---------------

### 1 - System Options
 * Locale
 * Change Hostname
 * _User Data Location_ *
 * Timezone
 * Time sync mode
 * _NTP Se

[2016-12-13 12:51] Fourdee commented on #639
@k-plan
Excellent work, I really like this layout 👍

A few things pop out that we could maybe move:
- LCD Panel addon > 5 - Peripheral Options ?
- Bluetooth > 7 - Connectivity Options?

[2016-12-13 13:32] Fourdee commented on #614
Port for node-red:
http://ip:1880

[2016-12-13 14:23] Fourdee commented on #614
Done

[2016-12-13 14:25] Fourdee commented on #626
Unable to replicate. Asked user to check Odroid forum for users with similar issues, as Kodi package is maintained by Meveric.

[2016-12-13 14:45] Fourdee commented on #644
Prereqs:
- JDK
- Tomcat: https://www.linode.com/docs/websites/frameworks/apache-tomcat-on-ubuntu-16-04
```apt-get install tomcat8```
http://example.com:8080/
http://example.com:8080/libresonic
```/var/lib/tomcat8/conf```
```/var/lib/tomcat8/conf/tomcat-users.xml```
```systemctl status tomcat8```

[2016-12-13 14:51] Fourdee commented on #644
Tomcat:
When using Oracle JDK:
[code]

[code]

[code]
![image](https://cloud.githubusercontent.com/assets/7077026/21145338/ca15eb86-c145-11e6-9ef9-db4c2e29fb65.png)

[code]

[code]

[2016-12-13 15:27] k-plan commented on #639
@Fourdee

Yes, for sure, you can do all this.
But let me explain my consideration.

* LCD Panel addon
(-) yes, it is a peripheral device. It is something like a monitor/TV, especially if you use a Deskop on your device.
But if you will switch it on or off, you have to change your display resolution, if you use a external monitor. So you don't have to navigate to a different category

* Bluetooth
(

[2016-12-13 16:24] Fourdee commented on #642
@Dalto1
If you installed FFMPEG from dietpi-software, this should do it. Need to symlink ffmpeg to libresonic transcoder path.
[code]

![image](https://cloud.githubusercontent.com/assets/7077026/21148490/55d289cc-c150-11e6-95e1-834133d5751b.png)

https://github.com/Fourdee/DietPi/issues/644

[2016-12-13 16:59] Fourdee commented on #644
Hmm, fresh test installs on ARMv7/64:

Click Help button for more information.

[code]

Not a permissions issue, test launched tomcat8 as root.

[2016-12-13 17:35] Dalto1 commented on #642
This is working like a charm, thanks.

[2016-12-13 17:51] Dalto1 opened #646 "Softwares"
Not sure if this could help, but there is links to install serveral softwares that could interest someone :

Couchpotato : http://www.htpcguides.com/install-couchpotato-raspberry-pi-raspbian/
Sonarr : http://www.htpcguides.com/install-sonarr-raspberry-pi-mono-310/
Headphones : http://www.htpcguides.com/install-headphones-raspberry-pi-usenet-music/
Mylar : http://www.htpcguides.com/install-mylar-ra

[2016-12-13 18:20] k-plan commented on #639
@Fourdee

we can have a look, how other system sort and handle this, for example:

[openmediavault](http://www.openmediavault.org/screenshots.html)

http://www.openmediavault.org/wp-content/uploads/2014/07/altnavpanel.png

or [Synology Diskstation](https://www.synology.com/en-us/knowledgebase/DSM/video)

[DSM 6.1 Beta Online Demo](https://www.synology.com/en-us/dsm/live_demo)

[2016-12-14 00:26] nydal91 commented on #640
Does wifi work now?

[2016-12-14 01:40] LexiconCode opened #647 "DietPi-Software | Update Nextcloud to v11"
There's quite a few changes this time around from increased security and scalability optimizations.

[2016-12-14 11:49] Fourdee commented on #647
@LexiconCode

Thanks, we'll get this updated for v140 👍

[2016-12-14 12:16] Fourdee commented on #647
[code]
Looks like we now need to create the MySQL DB.

^^ yep
[code]

[2016-12-14 12:24] Fourdee commented on #647
Tests:
- 🈯️ ARM64
- 🈯️ ARMv7

![image](https://cloud.githubusercontent.com/assets/7077026/21181931/3d2295b8-c1f8-11e6-9826-b5c811a286dc.png)

[2016-12-14 12:29] Fourdee commented on #641
Tests:
- 🈯️ ARMv7
- 🈯️ Roon: https://community.roonlabs.com/t/how-do-i-use-roon-and-hqplayer-together/5866/2?u=dan_knight

![image](https://cloud.githubusercontent.com/assets/7077026/21182888/3e03ef4a-c1fd-11e6-8330-21bb66f7b12a.png)

Online doc: http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=4294#p4294

[2016-12-14 13:00] Fourdee commented on #641
Completed

[2016-12-14 13:00] #641 closed, assigned to Fourdee

[2016-12-14 13:07] Fourdee commented on #637
@aliosa27

I think we could share the HW_MODEL and modify description:
eg:
- Device: OrangePi Plus / Plus 2

I'll update the website,forums.
- 🈯️ Done

[2016-12-14 13:16] Fourdee commented on #647
Completed. V11 for new installations only (unless NextCloud provides an update method within app).

[2016-12-14 13:16] #647 closed, assigned to Fourdee

[2016-12-14 13:19] Fourdee commented on #637
Ok done. OrangePi Plus / Plus 2 share HW_MODEL and image.
Will mark as closed.

[2016-12-14 13:19] #637 closed, assigned to nobody

[2016-12-14 13:22] Fourdee commented on #642
@Dalto1

Excellent 👍

[2016-12-14 13:37] Fourdee opened #648 "DietPi-Software | Plex Media Server will not run"

[2016-12-14 13:39] Fourdee commented on #648
[code]

Works fine on ARMv7. Appears http://dev2day.de/pms no longer support/provide packages for ARMv6.

Also tried ```plexmediaserver-neonless```, no luck.

[2016-12-14 14:08] Fourdee opened #649 "DietPi-Cloudshell | Will not start"
[code]

[2016-12-14 18:06] Fourdee commented on #644
Well, i'am stumped. Trans-coding no longer works:
- I've either some something really stupid (wouldn't be the 1st time)
- Trans-coding just doesn't work with 'Last successful build of Libresonic'

![image](https://cloud.githubusercontent.com/assets/7077026/21194317/698ecfde-c227-11e6-93e0-f28da84a5a02.png)

[code]

[2016-12-14 18:15] Fourdee commented on #649
[code]

'' ^^?

[2016-12-15 11:05] #630 closed, assigned to nobody

[2016-12-15 14:29] Fourdee commented on #649
- 🈯️  C2
- 🈯️ XU4

Cannot replicate, possible ```tput``` has been removed from client systems?
```ncurses-bin```

Need more info on systems with this issue. Asked for bug report to check system settings/confs: http://forum.odroid.com/viewtopic.php?f=96&t=15700&p=171692#p171692

5ef97d93-c05d-4c15-a28c-bb6d94f9f45c-0

[2016-12-15 14:56] Fourdee commented on #648
Will set as disabled for ARMv6 devices for now.

[2016-12-15 15:24] Fourdee commented on #648
Ah yes, the synology package that dev2day installs is now ARMv7 only:
![image](https://cloud.githubusercontent.com/assets/7077026/21229674/54de72b6-c2da-11e6-9f6b-56aeff4c1dca.png)

[2016-12-15 15:26] Fourdee commented on #648
No other binaries available for ARMv6 (hf) and no source-code for PMS is currently available for building. Marking as closed.

[2016-12-15 15:26] #648 closed, assigned to Fourdee

[2016-12-16 07:19] wreyniers opened #650 "Odroid C2 - GPIO support"
I have a PIR sensor I would love to use on DietPi. I took a swing at installing wiringPi as they now support the Odroid C2 but I ended up in a dependency loop.  Essentially my goal is to turn off my TV over CEC if it doesn't detect motion for 15 minutes, then turn it back on when someone walks in the room.

Any chance we could have this for our C2?

Here's the wiringPi Github repo:
https://github.

[2016-12-16 15:13] Fourdee commented on #649
### test 1
call program directly (not from bash):

Copy and paste all into terminal, paste results of service status at end:
[code]

[2016-12-16 15:15] Fourdee commented on #649
### Test 2:
Move ```setterm``` && ```tput civis``` back to DietPi ```login``` script.
[code]

[2016-12-16 15:16] Fourdee commented on #649
### Test 3:
redirect

[code]

[2016-12-16 16:46] Fourdee commented on #640
I actually think this is an issue with the ```dhd``` module that ARMbian uses. Although wifi works, the signal strength is noticeably lower than other onboard WiFi devices. Even with half-decent WiFi antenna: http://www.dx.com/p/wi-fi-antenna-ipx-female-to-sma-ky-adapter-connection-cable-w-1-13-cable-black-white-25cm-191117
```iw reg set GB``` also has no effect.

From what I remember, on the offi

[2016-12-16 18:32] Fourdee commented on #649
### Cause:

Following command fails (unknown reason) on some users XU4's, causing service to prematurely terminate:
[code]

[2016-12-17 11:02] maximm07 opened #651 "DietPi-Software | Plex Media Server fails to install (deps)"
## Solution/fix: https://github.com/Fourdee/DietPi/issues/651#issuecomment-267763463

---

Installed fresh image v.139 on Odroid C2. Plex installation afterwards fails with error;

 Apt-get has failed:                                                │
                                                 │  - Apt string = binutils:armhf plexmediaserver-installer:armhf     │

[2016-12-17 13:03] Fourdee commented on #651
@maximm07
Thanks for the report, looks like dep issues, will take a look.

PMS on the war path lately: https://github.com/Fourdee/DietPi/issues/648

Dev2Day.de steps for ARM64 is the same as what we use (running 32bit binaries under 64bit OS): https://www.dev2day.de/typo3/projects/plex-media-server/

[2016-12-17 13:09] Fourdee commented on #651
[code]

[code]

===

[code]

[code]

[2016-12-17 13:43] Fourdee commented on #651
@maximm07
Please run the following commands to resolve:
[code]

[2016-12-17 13:46] Fourdee commented on #651
Looks like a common issue with the Debian ARM64 repo at the moment. ```libc6``` is ```u7``` but most packages still depend on specific version ```u6```:
[code]
http://dietpi.com/phpbb/viewtopic.php?f=11&t=1000#p4325

[2016-12-17 13:46] maximm07 commented on #651
working fine now...tnx.

[2016-12-17 14:12] Fourdee opened #652 "DietPi-Software | Add 'syncthing-inotify' to Syncthing installation"
Many thanks to John:
http://dietpi.com/phpbb/viewtopic.php?f=12&t=961&p=4274&hilit=syncthing#p4274

[2016-12-17 14:14] Fourdee commented on #652
Binaries:
https://github.com/syncthing/syncthing-inotify/releases/tag/v0.8.4

Lacks arm64 binary, but appears to function:
[code]

[2016-12-17 15:14] Fourdee commented on #652
Completed.

[2016-12-17 15:14] #652 closed, assigned to nobody

[2016-12-17 15:28] Fourdee opened #653 "Odroid C2 | libc6 installed is u7, other packages require u6. Breaks most installs."
As per https://github.com/Fourdee/DietPi/issues/651#issuecomment-267763640

### Workaround, install the ```u6``` package from another source:
[code]

[2016-12-17 15:42] Fourdee commented on #653
Only seems to effect C2, Pine A64 install u6.
[code]

sources.list (c2/pine use same):
[code]

Meveric's additional repos on C2:
[code]

[2016-12-17 15:46] Fourdee commented on #653
C2:

Unsure where/when and why the ```u7``` package was installed from, I'll roll out a patch to install ```u6```:

[code]

[2016-12-17 16:09] Fourdee commented on #653
Libc6 is ```u6``` on C2 image, so only existing installations may be effected.

[2016-12-17 16:17] Fourdee commented on #649
### Test 4
redirect ```tput``` to ```tty1```:
[code]

[2016-12-17 16:21] Fourdee commented on #634
John's on holiday, will move this out of milestone for now.

[2016-12-17 16:33] Fourdee commented on #650
- 🈯️ C1
- 🈯️ C2
- 🈯️ XU4
[code]

[code]

[code]

[2016-12-17 16:57] Fourdee commented on #626
Marking as closed, unable to offer any further advice or tests for user.

[2016-12-17 16:57] #626 closed, assigned to Fourdee

[2016-12-17 16:58] Fourdee commented on #650
Completed.

[2016-12-17 16:58] #650 closed, assigned to Fourdee

[2016-12-17 17:00] Fourdee commented on #651
Resolved by: https://github.com/Fourdee/DietPi/issues/653

[2016-12-17 17:00] #651 closed, assigned to nobody

[2016-12-17 17:02] Fourdee commented on #625
No response. Marking as closed.

[2016-12-17 17:04] Fourdee commented on #564
Marking as closed, user reports resolved: http://dietpi.com/phpbb/viewtopic.php?f=11&t=761&start=20#p3689

[2016-12-17 17:04] #564 closed, assigned to Fourdee

[2016-12-17 17:06] Fourdee commented on #236
Ties in with: https://github.com/Fourdee/DietPi/issues/639
Basically a complete rewrite, will do it then.

[2016-12-17 17:55] wreyniers commented on #650
Wow. What a quick turn around! Do I just have to run apt-get upgrade to get
this on my dietpi?

[2016-12-17 23:56] scargill commented on #653
Hi

I just popped in at an opportune moment.

Armed with the success of DietPi on a VM, I decided to load it onto the Odroid C2.

No GIT
Then when I loaded that... I noted no MAKE

So I ran apt-get-install build-essentials... some packages could not be installed...

It was not until I ran  UPDATE....

W: Failed to fetch http://repo.mosquitto.org/debian/dists/jessie/InRelease  Unable to find expect

[2016-12-18 00:47] imakiro opened #654 "RPI1 B+ Qbittorent software install fails"
hello!

It seems that a dependency issue as happened:

Mode: Install software
 Please wait...

 qBitTorrent: bittorrent server with web interface (c++)
 [Info] Please wait...

 #               processing | D i e t  P i             #

Reading package lists... Done
Building dependency tree
Reading state information... Done
You might want to run 'apt-get -f install' to correct these:
The following pa

[2016-12-18 11:15] Fourdee commented on #650
It will be available in dietpi-software when v140 is released. Hopefully before Xmas [😊]

Once v140 is released, you can update with:
dietpi-update

________________________________
From: Wouter Reyniers <notifications@github.com>
Sent: 17 December 2016 17:55
To: Fourdee/DietPi
Cc: Dan; State change
Subject: Re: [Fourdee/DietPi] Odroid C2 - GPIO support (#650)

Wow. What a quick turn around! Do I

[2016-12-18 11:56] Fourdee commented on #653
@scargill
Hi Peter,

Once you have run the following commands here (https://github.com/Fourdee/DietPi/issues/653#issue-196227253), ```build-essential``` should install, if not, please let us know the output (paste it here).

#### Mosquito:
This is due to the repo http://repo.mosquitto.org/debian/dists/jessie/InRelease not currently providing packages for ARM64 (Odroid C2/Pine).

We can add support

[2016-12-18 12:00] Fourdee commented on #614
Add Mosquito support for ARM64, using 32bit binaries. Tested fine on C2:
https://github.com/Fourdee/DietPi/issues/653#issuecomment-267817196

[2016-12-18 12:16] nydal91 commented on #640
So its best to use a wifi dongle for now?

[2016-12-18 12:23] Fourdee commented on #614
Done

[2016-12-18 12:23] #614 closed, assigned to Fourdee

[2016-12-18 13:15] scargill commented on #653
Thanks for that - as it happens I struggled through... I do have a question over WIRINGPI - I eventually found and installed your version - and turned GPIO 1 on and off - EXCELLENT - if only the other guys would do this with their boards instead of one having to struggle with guessing which pin is which.

But could you answer this for me please.. would be very helpful..

Which pin numbers are the

[2016-12-18 13:18] Fourdee commented on #649
### Test 5:
Replace ```tput``` with ```setterm```:
🈴
[code]

[2016-12-18 16:09] Fourdee commented on #654
@imakiro
Thanks for the report 👍 , i'll take a look

[2016-12-18 16:23] Fourdee commented on #654
@imakiro
Looks limited to your system and package combination. Test install on RPi zero (ARMv6) was fine.

Have you tried running?:
[code]
If not, please run it now and paste results.

Should that also fail, can you please send us a bug report, i'll check installed packages and apt sources:
http://dietpi.com/phpbb/viewtopic.php?f=8&t=499#p2184

Thanks

[2016-12-18 16:30] Fourdee commented on #653
@scargill

Unfortunately, i'am the wrong person to ask for GPIO stuff. Unless its a HAT, I have minimal experience in this field.

The Odroid C2 version of WiringPi we use is a branch by hardkernel, which lacks any additional information on Odroid implimentation: https://github.com/hardkernel/wiringPi

I'd highly recommend posting on the Odroid forums, someone with more experience and knowledge in

[2016-12-18 17:17] Fourdee commented on #475
@k-plan
Many thanks for testing results 👍 , i've updated the list in first post and i'll get those fixed.

[2016-12-18 18:52] Fourdee commented on #649
### Test 6:
TTYPath=
[code]

[2016-12-18 20:35] JaggerMD commented on #640
On my Neo Air only wlan1 was recognized.
Changing wlan0/1 in /etc/udev/rules.d/70-persistent-net.rules did the trick.
From this point onboard wifi is starting fine.

[2016-12-19 14:31] Fourdee commented on #649
### Test 7:
redirect tty1
[code]

[2016-12-19 14:32] Fourdee commented on #649
### Test 8:
simple
[code]

[2016-12-19 14:34] Fourdee commented on #649
### Test 9:
simple with redirect
[code]

[2016-12-19 14:46] Fourdee commented on #649
### Test 10:
simple with  TTYPath=/dev/tty1

[code]

[2016-12-19 17:15] Fourdee commented on #265
Bonding: http://dietpi.com/phpbb/viewtopic.php?f=9&t=340&start=20#p4417
Does the following:
- Allows for fallback to ```wlan0``` when ```eth0``` is unplugged.

[2016-12-20 15:55] Fourdee commented on #643
...
[code]

---

get numid of dsp program:
[code]

List available filters and indexs
[code]

[2016-12-20 17:15] Fourdee commented on #643
![image](https://cloud.githubusercontent.com/assets/7077026/21360433/cc484042-c6d7-11e6-8a2f-9e35754ce558.png)

![image](https://cloud.githubusercontent.com/assets/7077026/21360444/d7154448-c6d7-11e6-9ac7-74482734aa8b.png)

[2016-12-20 17:37] Fourdee commented on #643
Completed

[2016-12-20 17:37] #643 closed, assigned to Fourdee

[2016-12-20 19:01] Fourdee commented on #653
Marking this as resolved on v140 release.

[2016-12-20 19:01] #653 closed, assigned to Fourdee

[2016-12-20 19:03] Fourdee commented on #649
Now resolved, marking as closed.

[2016-12-20 19:03] #649 closed, assigned to Fourdee

[2016-12-20 19:04] Fourdee commented on #475
Note to self: test RoonBridge installer and ```dietpi-justboom```

[2016-12-21 05:23] imakiro commented on #654
I found the issue, I changed the apt repository to the global raspbian one and it fails with it, with the default repo, the install works just fine. If this doesn't fit into the requirements for a bug you can close the issue.

[2016-12-21 13:18] Fourdee commented on #644
Libresonic now failing to start with ```lastStableBuild```: https://jenkins.zifnab.net/job/libresonic/lastStableBuild/artifact/libresonic-main/target/libresonic.war
[code]

Yet works fine with ```lastSuccessfulBuild```:
https://jenkins.zifnab.net/job/libresonic/lastSuccessfulBuild/artifact/libresonic-main/target/libresonic.war

Transcoding still broken.

[2016-12-21 13:28] Fourdee opened #655 "DietPi-Software | Tomcat8"

[2016-12-21 13:43] Fourdee commented on #644
Completed.

[2016-12-21 13:43] #644 closed, assigned to Fourdee

[2016-12-21 13:44] #655 closed, assigned to Fourdee

[2016-12-21 14:55] Fourdee commented on #475
Typical, trying to do some RPi testing and ``` http://archive.raspberrypi.org```  is unstable/offline lol:
[code]

[2016-12-21 14:58] Fourdee commented on #475
HiFi:
[code]

[code]

May make more sense to change our installation to:
```apt-get install mpd```
nb: arm64 mpd does not exist in repo yet.

Which pulls in all the required packages, then ```dpkg -i``` our latest mpd.deb (as of today, stretch installs 0.19.19 which is the same as our compiled version)

[2016-12-21 17:20] Fourdee commented on #654
@imakiro
I was unable to replicate this issue on fresh install of RPi Zero, so will mark as closed. Thanks for letting us know 👍

[2016-12-21 17:20] #654 closed, assigned to Fourdee

[2016-12-21 21:01] k-plan commented on #475
@Fourdee

New Alpha testing DietPi v140:

http://dietpi.com/phpbb/viewtopic.php?f=9&t=986&p=4455#p4455

You DietPi fixes are well done! 😃

Put this stuff to the forum, to get some more user and concern for Stretch alpha testing.
But if you prefer it, I can put it as well on github. 😕

[2016-12-22 12:38] Fourdee commented on #475
@k-plan

Forums are fine, please keep giving me a nudge on here (notification) so I don't miss it 😃

Great testing, thanks @k-plan. Stretch is a long road, lots of testing as you know, but with your help (and hopefully others), we'll get there much quicker 👍

@k-plan  Merry Xmas! 🎄 😃

[2016-12-22 19:03] wreyniers commented on #650
Awesome! Thanks, you da best!

[2016-12-23 02:38] Dalto1 commented on #644
Dont know if this can help you, but i followed this tutorial to achieve the installation of libresonic http://dsync.blogspot.ca/2016/10/tutorial-complete-tutorial-on.html
:) thanks, Gab

[2016-12-23 16:21] LexiconCode opened #657 "DietPi-Software | UrBackup Server Update to 2.0.38"
https://www.urbackup.org/download.html

[2016-12-23 17:50] Fourdee opened #658 "DietPi-Software | DietPi Chromium is being replaced by debian repo"
occurs  during ```apt-get dist-upgrade```.

Solution, put packages on hold to prevent the working DietPi Chromium packages from being replaced.

[2016-12-23 18:35] k-plan commented on #495
New request:

http://dietpi.com/phpbb/viewtopic.php?f=12&t=1040

[2016-12-23 21:09] k-plan commented on #479
@Fourdee

New request:
http://dietpi.com/phpbb/viewtopic.php?f=9&t=1045

[2016-12-23 21:25] maweki opened #659 "Allow setting MAC in dietpi.txt and dietpi-config"
I have some cheap (micro-)usb-to-ethernet interfaces from china that I was going to use with my raspberryPi Zeros that do not have their own ethernet interface. But these devices are very cheap and the drivers aren't the best so their MAC always gets populated with "00:e0:4c:53:44:58" (I don't actually care for the exact reason).

With one of those devices in my network, everything was fine. With

[2016-12-23 22:55] ghost opened #660 "DietPi-Automation | Static IP not being applied prior to dietpi-update"
Hello, Firstly thank you for the this best operation system for raspberry pi 3.
The problem is about static ip. When you write v136(latest downloadable) image and make changes in dietpi.txt (wifi=1 static ip = 192.168.1.100.. bla bla) the raspberry pi 3 doesnt take the static ip on "FIRST" boot, its just getting an ip from dhcp. And then when you find this ip from you router and connect it via ssh

[2016-12-24 04:19] Dalto1 opened #661 "Wifi Hotspot, has SSID but no internet."
I got a pine64 with a Wifi hotspot not working. Im able to connect to the hotspot, but i got no internet on it. Uninstall-install not working.

Gab

[2016-12-24 11:59] Fourdee opened #662 "DietPi-Software | PiHole automate web password generation"
http://dietpi.com/phpbb/viewtopic.php?f=9&t=1046

[2016-12-24 18:50] Fourdee commented on #640
User claims WiFi works fine on ARMbian image.

note to self:
- re-test and check hciattach? service.
- Try using ```bcm....``` module, instead of ```dhd``` and their hciattach? service from the FriendlyARM image. Which works flawlessly.

[2016-12-25 09:24] audiomuze opened #663 "V140: LMS installation fails on oDroid C2 (aarch64)"
Apt-get has failed:                                                │
                                                                                   │  - Apt string = zlib1g-dev libjpeg-dev libpng-dev                  │
                                                                                   │ libjpeg62-turbo-dev                                                │

[2016-12-25 14:18] LexiconCode opened #664 "DietPi-Configuration | Semi automated reverse proxys"
Many of dietpi software packages are meant for web facing services. Bottom line DietPi needs a simple way to set up reverse proxys for Web servers that's backend agnostic.  Ideally we would want to find a solution that covers Apache - Lighttpd - Nginx and that covers the use cases within the software provided by dietpi.

 This ticket is to discuss methods for making this easy for the end user base

[2016-12-25 14:19] LexiconCode commented on #479
Excellent, thank you @Fourdee @k-plan

[2016-12-25 15:13] LexiconCode opened #665 "DietPi-Configuration | Semi automated password-protected websites"
The goal is to find a solution to secure webpages regardless of the backend. Certain services such as Phpsysinfo, Node-RED and so on that an user might want to be secure when exposed to the net.

Scripts
https://github.com/byteripper/htaccess-Manager
https://github.com/StephaneTurquay/htaccess-htpasswd-generator

Resources
http://www.htaccesscheck.com/

[2016-12-25 15:38] LexiconCode commented on #479
Alternate Certbot clients that might more easily integrate in to dietpi and all three web services.
https://github.com/acmephp/acmephp
https://github.com/kuba/simp_le

[2016-12-26 13:55] Fourdee commented on #663
@audiomuze
Thanks for report, i'll take a look

[2016-12-26 14:37] Fourdee commented on #663
@audiomuze
Tested ok on fresh C2 install here.

Lets try manually installing those packages and see what errors we get (please paste results):
[code]

[2016-12-26 14:41] Fourdee commented on #660
@yunussandikci

Thanks for the report, i'll take a look

[2016-12-26 17:13] Fourdee commented on #640
Been testing with ARMbian 4.9 kernel. Firmware is needed, but looking good so far:
https://github.com/igorpecovnik/lib/commit/8f4e8e25e425169c90d12c67d21e5b84f5cdb231#commitcomment-20297066

[2016-12-26 17:58] LexiconCode opened #666 "DietPi-Software | AUTO_Global_Password= not being used as MySQL login password for SQL DB generation"
When installing Nextcloud via dietpi.txt utilizing the global password setting causes a bug. When viewing the web interface for the first time with Nextcloud where you would use admin and the global password Nextcloud asks for the database to be set up. This should already be done and is not included in the instructions on dietpi.com to do so.
I followed the instructions using a password for the g

[2016-12-26 18:03] Fourdee commented on #666
@LexiconCode

Thanks for report 👍, i'll take a look

Linked for reference: https://github.com/Fourdee/DietPi/issues/647#issuecomment-267019815

I think some of these may be breaking the string sent to command line and sql DB generation func (https://github.com/Fourdee/DietPi/blob/master/dietpi/func/create_mysql_db#L34), and/or, we need to string ```$DATABASE_PW``` lemme test.

[2016-12-26 18:22] Fourdee commented on #640
WiFi works.

Issue with cpu govs, missing from kernel?
Exists on NanoPi NEO 4.9.
[code]

[code]

[code]

[2016-12-26 18:39] Fourdee commented on #662
Just needs testing ^^

[2016-12-26 18:46] Fourdee opened #667 "NanoPi Neo | USB WiFi does not work"

[2016-12-26 18:46] Fourdee commented on #667
My tests with current image:
http://dietpi.com/phpbb/viewtopic.php?f=11&t=1038#p4476

[2016-12-26 18:47] Fourdee commented on #667
Built ARMbian again with 4.9 kernel and retested:
```rtl8192cu```
- 🈯️ ```iw reg set GB```
- 🈯️ ```iwlist wlan0 scan```
- 🈯️ ```ifup wlan0```

Also benefits of 4.9:
- kernel has H3 i2c support. http://linux-sunxi.org/Linux_mainlining_effort#Merged_into_4.9

[2016-12-26 18:49] Fourdee commented on #667
4.9 kernel image uploaded for testing, waiting for Gordon's response:
http://dietpi.com/downloads/testing/DietPi_NanoPiNEO-armv7-(Jessie).7z

[2016-12-26 19:05] Fourdee commented on #662
Tests completed 🈯️
Done

[2016-12-26 19:05] #662 closed, assigned to nobody

[2016-12-26 20:43] Fourdee opened #668 "DietPi.com | Website improvements"
Various feedback and improvements, suggested by Gigabit:
http://dietpi.com/phpbb/viewtopic.php?f=12&t=1065

[2016-12-26 20:44] Fourdee commented on #668
🈯️ Add dietpi-automation to "features section"
http://dietpi.com/phpbb/viewtopic.php?f=12&t=1065&p=4558#p4558

[2016-12-27 12:39] Fourdee commented on #658
Final tests, make sure compatible on RPi installation, then this is completed.
- 🈯️ C2
- 🈯️ RPi

[2016-12-27 13:23] Fourdee commented on #660
Looks like ```dhclient``` is still active after we apply 1st run network changes, overriding static IP. Even though we do kill the process before bringing back up networking:
![image](https://cloud.githubusercontent.com/assets/7077026/21500530/a3066f00-cc37-11e6-9b90-0a590fea3cec.png)

Believe its either
- ```ifdown ```
- ```systemctl stop networking.service```
that is somehow restarting ```dhclie

[2016-12-27 13:47] Fourdee commented on #660
Tested changes, works fine.

@yunussandikci

Any chance you would be willing to also test and confirm working?
- Write image
- Setup ```dietpi.txt``` as previously
- Download https://raw.githubusercontent.com/Fourdee/DietPi/testing/dietpi/boot and save it to ```/boot/dietpi/boot```
- Power on and test IP is static as set in ```dietpi.txt```

[2016-12-27 14:06] Fourdee commented on #658
Done

[2016-12-27 14:06] #658 closed, assigned to nobody

[2016-12-27 14:57] Fourdee commented on #657
- 🈯️ ARMv7
- 🈯️ ARM64 (source build)

Done.

[2016-12-27 14:57] #657 closed, assigned to nobody

[2016-12-27 16:00] Fourdee opened #669 "DietPi-Software | Apt simulation failing"
[code]

[2016-12-27 16:01] Fourdee commented on #669
Looks like Debian, has forced https redirect on their security repo overnight. Making ```apt-transport-https``` a install requirement.

# Solution:
- ARMv7 =
[code]

- ARM64 (C2/Pine) =
[code]

[2016-12-27 16:07] Fourdee commented on #669
```apt-transport-https``` will now be installed by default on all DietPi devices.

[2016-12-27 16:31] Fourdee opened #670 "DietPi-Software | PIXEL"
https://www.raspberrypi.org/blog/introducing-pixel/

RPi modified desktop, for all devices, including RPi.
- Is it possible?
- Is it "allowed" by RPi, to distribute on other devices?

[2016-12-27 16:35] Fourdee commented on #661
@Dalto1

Which WiFi device are you using on the Pine, onboard addon or USB?

[2016-12-27 16:57] Dalto1 commented on #661
Onboard addon

[2016-12-27 17:28] audiomuze commented on #663
`The following packages have unmet dependencies:
 libjpeg62-turbo-dev : Depends: libc-dev
 zlib1g-dev : Depends: libc6-dev but it is not going to be installed or
                       libc-dev
`

So it would seem build-essential needs to be installed?

[2016-12-27 18:05] audiomuze commented on #663
` Welcome to DietPi-Software

 DietPi-Software
─────────────────────────────────────────────────────
 Mode: Update & upgrade APT
 Please wait...

Reading package lists... Done
Building dependency tree
Reading state information... Done
Calculating upgrade... Done
The following packages will be upgraded:
  apt apt-utils libapt-inst1.5 libapt-pkg4.12
4 upgraded, 0 newly installed, 0 to remove and 0 n

[2016-12-27 18:07] audiomuze commented on #663
`# apt-get install build-essential
Reading package lists... Done
Building dependency tree
Reading state information... Done
Some packages could not be installed. This may mean that you have
requested an impossible situation or if you are using the unstable
distribution that some required packages have not yet been created
or been moved out of Incoming.
The following information may help to resolve

[2016-12-27 18:57] Fourdee commented on #663
@audiomuze

Yes.

Try fixing the broken packages and deps with:
[code]

[2016-12-27 19:32] audiomuze commented on #663
Will do.

Your install works out the box?

[2016-12-27 20:37] audiomuze commented on #663
[code]

[2016-12-27 20:38] audiomuze commented on #663
[code]

[2016-12-27 21:58] agoldcheidt opened #671 "Running DietPi image from BerryBoot (RPi)"
## DietPi BerryBoot Image for RPi: http://berryboot.alexgoldcheidt.com/download/135/

---

I convert DietPi for Berryboot using the following method:
http://www.berryterminal.com/doku.php/berryboot/adding_custom_distributions

On the first boot DietPi give some errors about the detection of the device. I check a lot of DietPi scripts and from this point and I don't think I can't fix this from my e

[2016-12-28 06:49] thomaspfeiffer-git commented on #640
Hi Fourdee,
what did you do to get wifi working?
(Will there be a new image available soon?)

Thanks and best regards
Thomas

[2016-12-28 11:46] thanhvo31 commented on #669
Hi

Here is my error

 apt-transport-https depends on libapt-pkg4.12 (>= 1.0.9.8.4); however:
  Version of libapt-pkg4.12:armhf on system is 1.0.9.8.3.

[2016-12-28 12:28] Fourdee commented on #548
Sparky:
https://github.com/volumio/platform-sparky
https://github.com/sparkysbc/Linux

[2016-12-28 12:47] k-plan commented on #669
Hi,

you can test, if this is working for you:

[code]

If you will ask, that packet can't be verify, answer to install it anyway.

[2016-12-28 13:03] Fourdee commented on #640
@thomaspfeiffer-git
So it looks like a new image will be needed to fix WiFi at the moment (using the 4.9 kernel). When we release that image depends on if we can resolve the issues with cpu govs, and, no other issues crop up: https://github.com/Fourdee/DietPi/issues/640#issuecomment-269232618

[2016-12-28 13:05] Fourdee commented on #669
@thanhvo31

If @k-plan post above does not resolve it.

Try installing the request version of this package (``` libapt-pkg4.12_1.0.9.8.4```):
[code]

[2016-12-28 13:12] Fourdee opened #672 "DietPi-Software | Include MySQL DB's as DietPi user data"
eg: move mysql db's to ```/mnt/dietpi_userdata/mysql_store```

Allows users to have MySQL DB's located on USB drive etc.

[2016-12-28 13:21] Fourdee commented on #671
@agoldcheidt

Thanks, i'll take a look. Most likely we need to add some extra code to support BerryBoot partitioning.

[2016-12-28 13:24] Fourdee commented on #671
#### Create DietPi BootBerry image, for loading in BerryBoot:
NB: This can be done on any Debian 8 system.

[code]
- Transfer the ```DietPi_BerryBoot.img``` to a USB drive to load in BerryBoot later

#### Create a BerryBoot system ????
- Format SD card to fat32
- Download BerryBoot: https://sourceforge.net/projects/berryboot/files/?source=navbar and extract to SD card
- Boot system
- Select ok
- S

[2016-12-28 13:25] k-plan commented on #671
Hi,

what's your concern? DietPi as prebuilt image like this one?

https://sourceforge.net/projects/berryboot/files/os_images/

_edit:_
_Oh, I see, it's yours:_ http://berryboot.alexgoldcheidt.com/images/

Yes, Berryboot is really cool stuff, use it and I like it much, before I discovered DietPi.
Especially the new universal version for all sort of RPis:

http://www.berryterminal.com/doku.php/berr

[2016-12-28 13:43] k-plan commented on #671
thinks, to get supported (by default):

- [keyboard layout](http://www.berryterminal.com/doku.php/berryboot/adding_custom_distributions#tweaks)

If the image you are converting is based on Debian/Raspbian delete the etc/console-setup/cached_UTF-8_del.kmap.gz file before converting the image to force regeneration of the cached keyboard mapping on first boot. This is to make sure it uses the keyboar

[2016-12-28 13:53] Fourdee commented on #666
@LexiconCode

Turns out, this effects all programs with SQL DB generation, when a custom password is used. Lets gets this fixed.

[2016-12-28 14:07] Fourdee commented on #666
Tested with password provided by @LexiconCode:
- 🈯️

[code]
[code]

[code]

Completed. Fixed for v141.

[2016-12-28 14:07] #666 closed, assigned to nobody

[2016-12-28 14:15] thanhvo31 commented on #669
@Fourdee , @k-plan
 Confirm @k-plan post above does not resolve it.
 installing the request version of this package (libapt-pkg4.12_1.0.9.8.4): worked!

[2016-12-28 14:16] Fourdee commented on #671
@k-plan

https://github.com/maxnet/berryboot#to-add-support-for-a-new-arm-device
But it is a more a "wet dream" and a lot of coding work ... for @Fourdee

😆. I'll get this working for RPi for now. See how it goes, may be a one off to support RPi + DietPi on BerryBoot.

[2016-12-28 14:31] Fourdee commented on #667
Gordon reports following issues resolved with this image:
- 🈯️ USB WiFi
- 🈯️ ``` twi_start()434 - [i2c0] START can't sendout!``` no longer occurs in ```dmesg```

Following issues:

Will create a new ticket for this

Due to: https://github.com/Fourdee/DietPi/issues/669

I'll update the image and set live. 🈯️

[2016-12-28 15:27] LexiconCode commented on #666
Originally what password was being used? or did the DB Set up fail?

[2016-12-28 15:56] LexiconCode opened #673 "DietPi-Configuration | Addition of 'index's ID's:user' as in Dietpi.txt dev settings."
At the moment we have a very useful feature AUTO Dietpi Software Install feature.  For simplicity sake majority of the programs are installed by root with a global password and then run as root.  The exceptions are those that use a script to create user and run as then run the software as that user. I would like begin testing each install which each software is running its unique user.

I propose

[2016-12-28 16:00] Fourdee commented on #671
Looking good.

I believe the issue was simply due to the BerryBoot image creation process, not copying ```/boot``` (which contains the DietPi scripts) to the newly created single partition image.

So:
[code]

I'll run some tests, installing now.

[2016-12-28 16:07] k-plan commented on #671
If the image you are converting is based on Debian/Raspbian delete the etc/console-setup/cached_UTF-8_del.kmap.gz file before converting the image to force regeneration of the cached keyboard mapping on first boot. This is to make sure it uses the keyboard layout set in Berryboot instead of default British._

[2016-12-28 16:09] Fourdee commented on #671
@agoldcheidt

Ok working fine. Yep key was copying the DietPi scripts (located in ```boot```) to the single partition squashed image.

Steps i used to create the squashed image:
https://github.com/Fourdee/DietPi/issues/671#issuecomment-269476497

Also uploaded image ready for loading in BerryBoot:
http://dietpi.com/downloads/testing/DietPi_berryboot_RPi.7z

There may be issues/bugs with certain Di

[2016-12-28 16:33] Fourdee commented on #666
@LexiconCode

DB creation was set to use ```dietpi``` as the MySQL root account, instead of ```AUTO_Global_Password=```. Which was incorrect.

[2016-12-28 19:27] Fourdee opened #674 "DietPi-Software | Roon Bridge + NAA Daemon for ARM64 (under 32bit binaries)"
As title, test for possibility of running these 32bit binaries on ARM64.

[2016-12-29 11:51] Fourdee opened #675 "DietPi-Software | Kodi disable RSS feeds by default"
Mez reports possible bug with RSS feeds, eating up CPU time.
They are also unnecessary, distracting and most users disable them manually.

[2016-12-29 11:54] Fourdee opened #676 "General | Update DietPi images"
- 🈯️ XU4 | Possible corruption
- 🈯️ RPi | https://github.com/Fourdee/DietPi/issues/660

[2016-12-29 12:02] Fourdee commented on #663
@audiomuze
Please run and paste results if any errors:
[code]

[2016-12-29 12:04] Fourdee commented on #663
@audiomuze
Could you also please send us a bug report, I'd like to check system setup and installed software:
http://dietpi.com/phpbb/viewtopic.php?f=8&t=499#p2184

[2016-12-29 12:18] Fourdee commented on #663
Notes:
- Also report by another user:
http://dietpi.com/phpbb/viewtopic.php?f=11&t=1109#p4662
Reference CODE: f1ac5977-f26c-45f4-9eff-668573de4827-0
- Check for installed software that may be conflicting repos and packages.

[code]

[2016-12-29 14:33] ghost commented on #660
I made it, and it works well now. Thanks :)

[2016-12-29 15:47] LexiconCode commented on #676
Does that include a new kernel to allow full throughput of the Ethernet port?

[2016-12-29 17:17] LexiconCode opened #677 "DietPi-Software | Public key is not available from 'apt-get update'"
Hardware: ODroid C2 (aarch64)
Configuration: Completely fresh install DietPi_v139_OdroidC2-arm64-(Jessie)

During the use of the command
apt-get update

**Produces**
Reading package lists... Done
W: GPG error: http://www.deb-multimedia.org jessie InRelease: The following signatures couldn't be verified because the public key is not available: NO_PUBKEY 5C808C2B65558117

[2016-12-29 19:17] LexiconCode opened #678 "DietPi-Software | UrBackup Client"
https://www.urbackup.org/download.html#linux_all_binary

Binary Linux client (command line only; with auto-update; x86/AMD64/ARMv6+/ARM64)
Only this Linux client is auto-updated from the UrBackup server

UrBackup Client 2.4.10 for Linux

**Install with:**
TF=$(mktemp) && wget "https://hndl.urbackup.org/Client/2.4.10/UrBackup%20Client%20Linux%202.4.10.sh" -O $TF && sudo sh $TF; rm -f $TF

**output*

[2016-12-30 13:24] Fourdee commented on #660
@yunussandikci
Excellent 👍

This will only take effect on DietPi v140 images or higher, as the ```boot``` script does not update until after ```dietpi-update```. Until then, if you do any reinstalls, make sure to copy the updated ```boot``` file, before booting system.

Task:
- Update RPi image to v140

[2016-12-30 13:30] Fourdee commented on #667
Completed, 4.9 image is now live.

[2016-12-30 13:30] #667 closed, assigned to nobody

[2016-12-30 13:34] Fourdee commented on #675
```$HOME/.kodi``` does not exist until 1st run. So we'll need to pop this in ```startkodi``` script.

[2016-12-30 13:35] nydal91 commented on #640
get the wifi to work with nmtui. thanks for a stable build! the ubuntu core was unstable when I was using it on nano pi air.

[2016-12-30 13:35] Fourdee commented on #675
[code]

[code]

[2016-12-30 13:45] Fourdee commented on #675
Ok,
- we cant apply this during installation as Kodi config files are not generated until its run once.
- We would need to run the command to sed/disable RSS feeds in ```startkodi``` script. In which case, RSS feeds would not be disabled until 2nd run of Kodi. But will be disabled every time Kodi is launched.
- I also cant see a way to run kodi and simply create the configs, then exit.

So to prev

[2016-12-30 13:45] #675 closed, assigned to nobody

[2016-12-30 13:53] Fourdee commented on #669
Dammit,

I'll need to update all our images affected by this, pre-installing ```apt-transport-https```. Else, all users will experience this issue on each fresh install. Patch is too risky.

What a stupid idea to put ```apt-transport-https``` in a repo, that forces HTTPS redirect and requires ```apt-transport-https``` to be installed, before you can install it.....

- RPi (is not effected)
- Every

[2016-12-30 14:21] Fourdee opened #679 "OrangePi Zero | Kernel 4.9 test"
Test stability and possibility of upgrading to 4.9 kernel image.
- To fix workaround required for WiFi on most installs: http://dietpi.com/phpbb/viewtopic.php?f=9&t=887&hilit=orangepi+zero&start=20#p4583 & https://github.com/Fourdee/DietPi/issues/635#issuecomment-266006050

[2016-12-30 15:29] Fourdee commented on #679
Test results:
- 🈴 WiFi fails to connect.
https://github.com/igorpecovnik/lib/issues/591#issuecomment-269784060

Experimental ```xradio_wlan``` driver is not fully functional at this time with 4.9 kernel. Reverting back to our 3.x image with workaround: https://github.com/Fourdee/DietPi/issues/635#issuecomment-266006050

[2016-12-30 16:20] agoldcheidt commented on #671
Thanks @Fourdee, fast support ever, I will testing the OS image.

[2016-12-30 17:08] Fourdee commented on #640
@thomaspfeiffer-git @nydal91

With thanks to @zador-blood-stained from ARMbian (https://github.com/igorpecovnik/lib/issues/592#issuecomment-269524792), 4.9 kernel image is now ready for testing:
http://dietpi.com/downloads/testing/DietPi_NanoPiNEOAir-armv7-(Jessie).7z

Personally tested WiFi (and system in general), seems much more stable than the previous 3.x image. If others can test image above

[2016-12-30 17:19] Fourdee commented on #679
Reopen based on Zaldor's notes/tests

[2016-12-30 19:12] Fourdee commented on #674
- 🈴 Roon | will have to wait for ARM64 binary release in Roon 1.3: https://community.roonlabs.com/t/dietpi-creating-a-lean-and-mean-roon-bridge/13908/210?u=dan_knight
[code]

🈴 NAA | Unable to launch binary. Tried with ```libc6:armhf libasound2:armhf``` and others, results up in a endless and messy dependencies war.

[2016-12-30 19:28] thomaspfeiffer-git commented on #640
Great, wifi works fine now, thanks very much! :-)

[2016-12-30 20:12] Fourdee commented on #640
@thomaspfeiffer-git
Excellent 👍

Also seems much more stable than 3.x image.
- 🈯️  I'll set this to live image.

[2016-12-30 20:15] Fourdee commented on #640
Completed.

[2016-12-30 20:15] #640 closed, assigned to nobody

[2016-12-30 20:47] Fourdee opened #680 "HiFi Shield 2 + Kodi + ALSAeq | Outputs to HDMI"
~~Appears HiFi Shield 2 "sometimes" doesn't init before Kodi is launched~~. Results in Kodi using HDMI output.

[2016-12-31 00:24] aliosa27 commented on #669
I'll regenerate a few of those. all i need to add is the apt-transport-https package correct?

[2016-12-31 12:27] Fourdee commented on #669
@aliosa27

Yep. Please, would be a great help 👍

I'll try and get v141 released early today, should prevent new installs on any image version from experiencing this issue.
Added patch to grab ```apt-transport-https``` package from apt, if that fails, it will manually pull them in via ```wget```.

[2016-12-31 12:59] Fourdee opened #681 "DietPi-Software | NetData pulls in IPv6 stats, when IPv6 is disabled."
/DietPi/dietpi/dietpi-config: line 2292: ((: < 0 : syntax error: operand expected (error token is "< 0 ")

[code]

[2016-12-31 13:36] Fourdee commented on #663
Impossible package version situation with ```libc6``` and ```libc6-dev```:
[code]

cause, CPAN prereqs:
[code]

[code]

Its not specific to any repos we are using, including backports:
[code]

[2016-12-31 13:46] Fourdee commented on #663
- 🈯️ Attempt force install of request u6 package for libc6
[code]

Ok, so this has occurred previously with libc6 and u6/u7 version situations:
https://github.com/Fourdee/DietPi/issues/653

We need to find where ```libc6:arm64 2.19-18+deb8u7``` is being installed from.
[code]

Ok, so we patched a install of ```u6``` in DietPi v140. But, only for existing installations. ~~Possible ```u7``` exists o

[2016-12-31 13:51] Fourdee commented on #663
@audiomuze
As a temp fix for this run these commands: https://github.com/Fourdee/DietPi/issues/663#issuecomment-269865721

Then reinstall LMS with:
[code]

[2016-12-31 14:26] Fourdee commented on #663
Nudged existing v140 patch for libc6, moved to v141 patch. Now applies to all installations (fresh and existing).

Resolved for v141

[2016-12-31 14:32] Fourdee commented on #663
🈯️ Tested with fresh install of C2

[2016-12-31 14:32] #663 closed, assigned to Fourdee

[2016-12-31 14:39] Fourdee commented on #676
@LexiconCode

Not yet. Last time i checked the 4.x kernel was still in devolpment for XU4 and unstable.

Seems there are still having teething issues with ```eth0``` failing:
: http://forum.odroid.com/viewtopic.php?f=95&t=18034&start=300

[2016-12-31 14:40] Fourdee commented on #660
I'll mark this as closed. Created a ticket to update the RPi image, so this fix takes effect on new installs:  https://github.com/Fourdee/DietPi/issues/676

[2016-12-31 14:40] #660 closed, assigned to nobody

[2016-12-31 14:43] Fourdee commented on #669
I'll mark this as resolved, patch system will fix fresh and existing installations, however, i'd still like to update our images and add ```apt-transport-https``` by default, just incase.

@aliosa27
I need to re-do the RPi+XU4 image, if you can do any others i'd be grateful. New ticket: https://github.com/Fourdee/DietPi/issues/676

[2016-12-31 14:43] #669 closed, assigned to nobody

[2016-12-31 14:45] Fourdee commented on #677
@LexiconCode

Thanks for report.

Yep, it appears we left in the deb multimedia repo on our current C2 image. This is patched for new installations in v141, removing the repo (as its not needed) and therefore error.

~~For existing installations, as some software in ```dietpi-software``` use this repo i'll see if we can patch the required apt-key.~~

[code]

Turns out ```dietpi-software``` uses ``

[2016-12-31 16:48] Fourdee commented on #676
Ok images done and set live. Marking as closed.

@aliosa27
If you get a chance to update any images, please reopen as needed and let me know.

[2016-12-31 16:48] #676 closed, assigned to nobody

[2016-12-31 17:29] Fourdee commented on #680
Kodi-Odroid, ignores HiFi Shield and outputs to HDMI:
- Caused by enabling ALSAeq in ```dietpi-justboom```
- Affects all HiFi Shields.
- Results in HDMI output only.

This issue only appears to occur on ```kodi-odroid```. Other applications are fine with ALSAeq being enabled.

[2017-01-01 12:52] Fourdee opened #683 "DietPi-Config | Add support for USB Soundcard selection"

[2017-01-01 14:22] Fourdee commented on #683
Automatically detects card index from ```aplay -l```

[2017-01-01 14:24] Fourdee commented on #683
Completed.

[2017-01-01 14:24] #683 closed, assigned to nobody

[2017-01-01 14:25] Fourdee commented on #677
Resolved with v142 patch:
[code]

[2017-01-01 14:25] #677 closed, assigned to nobody

[2017-01-01 14:33] Fourdee commented on #672
MySQL:
[code]

MariaDB (should be the same, but lets check anyway):
[code]

[2017-01-01 14:35] Fourdee commented on #672
Notes:
[code]

[code]

[code]

[2017-01-01 15:00] Fourdee commented on #672
Tests:
- 🈯️ MariaDB + NextCloud
- 🈯️ MySql + NextCloud

- 🈯️ MariaDB reinstall
- 🈯️ MariaDB uninstall

- 🈯️ MySql reinstall
- 🈯️ MySql uninstall

---

Uninstall of MySQL, then reinstall of NextCloud, results in:
[code]

Appears NextCloud stores information on its installation outside the SQL DB. Expects the original MySQL DB for ```nextcloud``` to exist in its "installed state". Fails to recreate

[2017-01-01 15:19] Fourdee commented on #672
We'll also move store (reinstall) for existing locations as a patch in v142

[2017-01-01 16:26] Fourdee commented on #672
I'll also include ```/mnt/dietpi_userdata/mysql``` in ```dietpi-backup``` by ~~default~~ optional. Else we will end up with users doing a restore and find the SQL store is not at the correct state.

Created a new ticket for this:
https://github.com/Fourdee/DietPi/issues/685

[2017-01-01 16:40] Fourdee opened #684 "General | Disable auto mount of USB_1"
Although extremely useful for auto USB drive mounting. When the drive is not attached:
- Any access to ```/mnt/usb_1``` will result in a hang at system level.

This effects all software ```ls -lha``` Kodi etc.

Appears to be a drawback/bug with the SystemD feature: ```x-systemd.automount```

[2017-01-01 16:54] Fourdee commented on #684
This will break:
https://github.com/Fourdee/DietPi/issues/501

[2017-01-02 13:24] Fourdee opened #685 "DietPi-Backup | Option to include DietPi User data location in backups"
Really depends if we can find a way to include ```/mnt/dietpi_userdata``` using our exclude ```/mnt``` with rsync

Our exclusion of ```/mnt/*``` overrides the include of ```/mnt/dietpi_userdata```.
- 🈴 Try converting ```--include-from=$FP_INCLUDE_GLOBAL --exclude-from=$FP_EXCLUDE_GLOBAL``` to ```--filter=``` with inclusions at the top: http://stackoverflow.com/a/8270881.

[2017-01-02 13:24] Fourdee commented on #685
Also need to check and deny target locations, if ```/mnt/dietpi_userdata``` is symlinked to that location.

[2017-01-02 13:27] Fourdee commented on #672
Completed.

[2017-01-02 13:27] #672 closed, assigned to nobody

[2017-01-02 14:35] petermused opened #686 "DietPi-Software | Gitea"
Hello, I see you have Gogs on your software list. Gitea ([gitea.io](https://gitea.io)) is a fork of Gogs which looks to be better maintained gogits/gogs#1304 (?) So I'd imagine the installation process would be similar to Gogs. Gitea is on it's 1.0 release as of writing this. I also would say that Gitea is more active than Gogs (Gitea has merged 42 PRs in the last week, Gogs merged 2. Look at the

[2017-01-02 14:52] Fourdee commented on #685
Ok, so we cant exclude ```/mnt/```, we need to list and exclude each folder manually found in ```/mnt/*``` during run, then remove ```/mnt/dietpi_userdata``` as needed.

[code]

If:
- user data location is ```/mnt/usb_1```. ```/mnt/dietpi_userdata``` is symlinked to  ```/mnt/usb_1```
- the exclude ```/mnt/usb_1/``` also excludes the symlink ```/mnt/dietpi_userdata/```

Results in no backup of user

[2017-01-02 19:07] Fourdee commented on #684
This will only take effect on existing installs, when user next runs ```dietpi-drive_manager```, or, we need to patch their ```/etc/fstab```

[2017-01-02 19:31] Fourdee opened #687 "DietPi-Software | FreePascal Compiler:"
I am using only FreePascal for writing Linux software.
The current version of FreePascal is "v3.0.0". Finally I was able to
install fpc, but surprisingly it is v2.6.4, which differes in several
points.
Can you estimate if (and when) fpc v3.0.0 will be available for DietPi?

[2017-01-03 08:32] tusharvb19 opened #688 "NEO - Serial ttyS1 not working!"
Though I have enabled  serial using this
/DietPi/dietpi/func/dietpi-set_hardware serialconsole enable
still I am not getting way to talked with serial device!
here is the error:
root@DietPi:~# python ser.py
Traceback (most recent call last):
  File "ser.py", line 4, in <module>
    ser = serial.Serial("/dev/ttyS1", baudrate=19200,timeout=1)
  File "/usr/lib/python2.7/dist-packages/serial/serialuti

[2017-01-03 14:58] Fourdee commented on #685
Ok, now features a backup mode:
![image](https://cloud.githubusercontent.com/assets/7077026/21611526/19cfa54c-d1c5-11e6-9847-8c9ecb43c3fe.png)

Main menu:
![image](https://cloud.githubusercontent.com/assets/7077026/21611513/0b3274ce-d1c5-11e6-9fbf-6850b4603355.png)

[2017-01-03 15:50] Fourdee commented on #685
ToDo
- 🈯️ Lots of testing required, especially with custom userdata locations
- 🈯️  Test user include/exclude files are still functional with new system.
- 🈯️ Inform users, old backups are no longer compatible, with guide to restore using previous version of dietpi-backup: https://github.com/Fourdee/DietPi/issues/685#issuecomment-270145794
Displayed during patch:
![image](https://cloud.githubuserc

[2017-01-03 15:51] Fourdee commented on #685
## DietPi-Backup's created before v142 update, are no longer compatible:
DietPi-Backup has been re-worked and now supports additional full backup modes. Due to this, backups made previous to v142 are no longer compatible.

## If you wish to restore from a backup, prior to v142. Please do the following:

#### 1: Download v141 ```dietpi-backup``` script and restore settings
[code]

#### 2: Find and

[2017-01-03 17:01] Fourdee opened #689 "DietPi-Automation | Hangs on C2 during patch"
Due to ```apt-get upgrade``` updating kernel, which generates a whip-tail question and requires user input to proceed.

Options :
- 🈯️ run the following for all ```apt-get upgrades``` in patch_file ```DEBIAN_FRONTEND='noninteractive' apt-get upgrade -y```
- 🈴 run ```DEBIAN_FRONTEND='noninteractive' apt-get upgrade -y``` in ```dietpi-update``` script, prior to patch (wont be applied until new image

[2017-01-03 17:08] Fourdee commented on #689
Completed, resolved for v142.

[2017-01-03 17:08] #689 closed, assigned to nobody

[2017-01-03 18:21] Fourdee commented on #661
Unable to replicate on fresh install of Pine A64 and hotspot installation using addon board. Appears to be working fine. Internet worked a treat through hotspot.

@Dalto1
Possibly limited to your system/installation, we'll need to do some debugging.
Apologies for the delay in response. Could you please send us a bug report as we need some system information:
http://dietpi.com/phpbb/viewtopic.php?f

[2017-01-03 19:11] Fourdee opened #690 "DietPi-Config | Add soundcards for M2/M3"
HDMI + 3.5mm options. ~~Hdmi should be default~~, but need to verify.

[2017-01-03 19:14] Fourdee commented on #688
@tusharvb19

Thanks for the report.

Which device are you running?

[2017-01-03 19:36] Dalto1 commented on #661
**Reference CODE: c4764f40-537b-4590-96f2-920d3258c521-1**

**systemctl status hostapd.service -l**
â hostapd.service - LSB: Advanced IEEE 802.11 management daemon
   Loaded: loaded (/etc/init.d/hostapd)
   Active: active (running) since Mon 2017-01-02 23:37:45 EST; 14h ago
  Process: 1689 ExecStart=/etc/init.d/hostapd start (code=exited, status=0/SUCCESS)
   CGroup: /system.slice/hostapd.service

[2017-01-03 20:48] crustovsky opened #691 "USB hardrive permission error"
When setting up a USB hard drive on Raspberry Pi 3, I'm getting "DietPi was unable to create your user data directory:  ERROR: Unable to create test file in target directory /mnt/usb_1. Check permissions. DietPi-Software will now exit." error when running DietPi v141. Any workaround or planned fixes for this ?

[2017-01-03 21:43] joshuamcginnis opened #692 "Adding Support for NeoVim"
I've been working to get a successful build of [neovim](https://neovim.io/) on the Odroid 2 and finally had some success, but it took some [tweaks to get it working](https://github.com/neovim/neovim/issues/5861#issuecomment-270216617).

In my conversation with the project maintainers, they suggested I reach out and inquire as to how we can get `neovim`, `python-neovim`, and `python3-neovim` as sup

[2017-01-04 10:34] xenfomation commented on #684
Out of curiosity, cant' we leverage dmesg & or lsblk before/inside surrounding scripts as so we prevent a false action on a missing drive?  And yes, it is good to be back!  New career and as you can tell -- free time!

[2017-01-04 10:36] xenfomation commented on #670
It is possible and as I have this running in a local VM, I'll find the packages required and post you in 48 hours!

[2017-01-04 13:05] Fourdee commented on #685
Ok, done as much testing as I can, works a treat:
- fresh image installation
- full backup to ```/mnt/dietpi-backup```
- install nextcloud, upload some files
- full backup to another location ```/mnt/dietpi-backup_nextcloud```
- restore ```/mnt/dietpi-backup```
- restore ```/mnt/dietpi-backup_nextcloud```

Everything as expected. Awesome!

Marking as completed.

[2017-01-04 13:05] #685 closed, assigned to nobody

[2017-01-04 13:12] Fourdee commented on #684
@xenfomation

Great to hear 👍 Hope your enjoying your new career?

I think the issue is no response is given by system, when attempting to access a location that is unavailable using ```x-systemd.automount``` in fstab.
Everything hangs, even a simple ```ls -lha /mnt/usb_1```, or when a user browses the ```/mnt``` folder in Kodi. So if you can find a way to resolve this at system level and keep the

[2017-01-04 13:35] Fourdee commented on #684
Ok patch done for this. I'll mark this as closed.

@xenfomation

If you find a way to make this work with ```x-systemd.automount```, please reopen 👍

[2017-01-04 13:35] #684 closed, assigned to nobody

[2017-01-04 13:46] Fourdee commented on #691
@crustovsky

Thanks for report.

Can you please send us a bug report, it will contain some system information I can use to assist in this issue:
http://dietpi.com/phpbb/viewtopic.php?f=8&t=499#p2184

[2017-01-04 13:52] Fourdee commented on #674
No joy,

- Roon 1.3 are releasing ARM64 binaries for RoonBridge.
- Naa Daemon, i'll ask the devs: https://community.roonlabs.com/t/hqp-naa-raspberry-pi/6140/180?u=dan_knight

Marking as closed.

[2017-01-04 13:52] #674 closed, assigned to nobody

[2017-01-04 14:08] Fourdee commented on #681
Tested with ```eth0``` has no ipv6 address, appears disabled:
[code]

Confirmed with ```dmesg```, no results. ```[    1.911124] systemd[1]: Inserted module 'ipv6'``` would be expected if enabled:
[code]

Looks like a possible bug in Netdata. Pulling in values from somewhere, even when IPv6 is not present on system. Also appears the float values for interpolated min/max are error-ed and/or not init

[2017-01-04 14:48] Fourdee commented on #690
- 3.5mm Analogue is default
- HDMI: ```hw:1,0```
[code]

[2017-01-04 15:24] Fourdee commented on #690
Completed

[2017-01-04 15:24] #690 closed, assigned to nobody

[2017-01-04 15:57] Fourdee commented on #692
Yep, i'll take a look and see whats involved.

Should be two options for install method:
- Sourcebuild: Where its compiled from source during install
- Deb packages: Where we create .Deb's and pull them in to install.
ARMv6
ARMv7
ARM64 (v8)
AMD64

Source build is to ensure latest version, but can fail if libraries/compile steps change.

Deb packages preferred, with testing ensures working, stable

[2017-01-04 16:45] Fourdee commented on #692
Quick compile C2 notes (based on @joshuamcginnis original notes):
[code]

@joshuamcginnis
Looks like its failing on LuaJIT 2.0.4, dep required by NeoVim, ARM64 (v8) not supported:
[code]
Did you receive the same issues during compile? And, have you been successful in compiling and installing NeoVim on ARM64?

[2017-01-04 17:15] Fourdee commented on #548
Pair bluetooth speaker (rpi 3 ):
- Turn on the Bluetooth speaker and enter discovery mode
- ```bluetoothctl ```
- ```power on ```
- ```agent on```
- ```scan on```
- Pair with your Bluetooth speaker pair MAC Address, ```pair MAC_ADDRESS```
- ```trust MAC_ADDRESS```
- ```connect MAC_ADDRESS```

https://github.com/Fourdee/DietPi/issues/693

Requires pulse 👎 ?
https://www.raspberrypi.org/forums/viewto

[2017-01-04 17:27] Fourdee commented on #475
Looks like the bluetooth issue exists on jessie aswell. lacking ```pi-bluetooth``` packages. Will get that patched.
https://github.com/Fourdee/DietPi/issues/693

Ok thats done, still having issues with bluetooth on stretch:
[code]

[2017-01-04 17:28] Fourdee opened #693 "RPi 3 Bluetooth | Not functional once enabled"
Due to lack of ```pi-bluetooth``` package which also pulls in ```bluez-firmware```
```hciuart``` service is part of the ```pi-bluetooth``` package,

[2017-01-04 17:40] Fourdee commented on #693
[code]

Resolved.

[2017-01-04 17:40] #693 closed, assigned to nobody

[2017-01-04 17:59] Fourdee opened #694 "General | Incorrect fonts with de_DE@euro"
As reported by Rainer (email):

âââââââââââââââââââââââââââââââââââââââ
 V140 | NanoPi M1/T1 (armv7l)
âââââââââââââââââââââââââââââââââââââââ

[2017-01-04 18:01] aliosa27 commented on #661
You will also need to add an iptables masquerade rule and enable forwarding.

echo 1 > /proc/sys/net/ipv4/ip_forward
iptables -t nat -A POSTROUTING -o eth0 -j MASQUERADE

[2017-01-04 18:14] joshuamcginnis commented on #692
@Fourdee That's correct. [This issue](https://github.com/neovim/neovim/issues/4714) has a discussion from another Odroid user regarding this failure. It's a little unclear, but I believe the user was able to get a successful build of luajit with a patch.

However, I opted to configure the build to NOT compile luajit (and others) since the neovim maintainers claimed it was only needed for running t

[2017-01-04 18:50] Fourdee commented on #661
@aliosa27
Yep, this should be applied during install:
https://github.com/Fourdee/DietPi/blob/master/dietpi/dietpi-software#L7927-L7937

@Dalto1
Could you try a reinstall of the HotSpot, might resolve it:
[code]

[2017-01-04 21:17] crustovsky commented on #691
@Fourdee I just posted bug report as instructed, reference code 197b1674-0716-4b78-a9bb-5c7137a801e0-0

[2017-01-04 21:17] Dalto1 commented on #661
Its not working. I strangly saw that ipv6 was activated so i uninstalled it from dietpi-config. But i cant get it to work, even with install/reinstall/uninstall and aplying the commands that @aliosa27 sent.

[2017-01-04 21:20] Dalto1 commented on #661
btw, my settings are the same after uninstall/install, so i assume that my settings are saved somewere, is there any command to purge them?

[2017-01-05 01:25] Dalto1 opened #695 "DietPi-Software | TVHeadend"
I installed tvheadend with this repo (source : https://tvheadend.org/boards/5/topics/21528)
deb https://dl.bintray.com/djbenson/deb wheezy unstable

key for djbenson :
sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys 379CE192D401AB61

I could be a good addition to dietpi

[2017-01-05 12:25] tusharvb19 commented on #688
I am using NanoPi NEO.

[2017-01-05 13:32] Fourdee opened #696 "DietPi-Software | Update NetData to 1.4.0"
- 🈯️ ARMv6
- 🈯️ ARMv7
- 🈯️ ARM64

[2017-01-05 14:37] Fourdee commented on #696
[code]

[code]

[code]

......

[2017-01-05 14:45] Fourdee commented on #696
[code]

[code]

[2017-01-05 14:52] Fourdee commented on #696
Done. Also updated during patch for existing installations.

[2017-01-05 14:52] #696 closed, assigned to nobody

[2017-01-05 15:02] Fourdee commented on #691
@crustovsky
Thanks 👍

Please paste results of following commands:
[code]

~~And which drive was used when moving user data (eg: /mnt/usb_1)?~~
 /mnt/usb_1

[2017-01-05 15:34] Fourdee commented on #661
@Dalto1

This is what gets uninstalled, covers everything excluding ```wifi_hotspot_ssid=```, which is pulled from dietpi.txt:
https://github.com/Fourdee/DietPi/blob/master/dietpi/dietpi-software#L9422-L9463

Can we confirm that the DNS server entry below exists ```cat /etc/dhcp/dhcpd.conf``` (was missing from your paste)
[code]

Also, which devices have you tested with the HotSpot and no connecti

[2017-01-05 16:59] Fourdee commented on #475
WiFi:
[code]

[code]

[code]

[code]

[code]

works.

[2017-01-05 18:53] Fourdee opened #697 "DietPi.com | Create post listing current image versions and kernel versions"

[2017-01-05 22:11] crustovsky commented on #691
@Fourdee

Had to do this on /mnt/usb_2 as usb_1 is currently used by flash drive (spinning drive on usb_2 is still causing the error mentioned earlier)

root@crustovsky-DietPi3:~# ls -lha /mnt
total 40K
drwxr-xr-x 10 root root 4.0K Jan  3 22:36 .
drwxr-xr-x 20 root root 4.0K Jan  3 20:42 ..
lrwxrwxrwx  1 root root   10 Jan  3 22:36 dietpi_userdata -> /mnt/usb_1
drwxr-xr-x  2 root root 4.0K Dec 31

[2017-01-05 22:12] crustovsky commented on #691
I'm going to move over to newly purchased odroid xu4 to see if I'm getting anything similar there

[2017-01-05 22:20] Dalto1 commented on #661
[code]

[2017-01-05 22:21] Dalto1 commented on #661
Cant connect with android, ill test on pc when i got time and try a new sd too.

[2017-01-05 22:22] Dalto1 commented on #661
maybe my iptables are mess up?

[2017-01-06 02:51] LexiconCode opened #698 "DietPi-Software | Apt-Fast - Downloading packages in parallel, with multiple connections per package."
[Apt-Fast](https://github.com/ilikenwf/apt-fast) is a shellscript wrapper for apt-get and aptitude that can drastically improve apt download times by downloading packages in parallel, with multiple connections per package.

**Quick Install**
You can quickly install apt-fast by running:
`/bin/bash -c "$(curl -sL https://git.io/vokNn)"`

Then simply run apt-fast instead of apt-get or aptitude.

We c

[2017-01-06 12:20] Fourdee commented on #661
@Dalto1

Possibly, although we flush IP tables during uninstall of HotSpot, so it should be same as my test install.

Either way, lets check your IPtables on the current installation, and i'll compare against a test install:
[code]

[2017-01-06 12:21] Fourdee commented on #671
@agoldcheidt

Any chance you have been able to test the BootBerry image (http://dietpi.com/downloads/testing/DietPi_berryboot_RPi.7z)?

[2017-01-06 12:32] Fourdee commented on #495
Requires:
- ProFTPD
- Samba Server
- Nginx + PHP5-fpm | Listed as dep for install 👎, no webserver choice:

[code]

[code]

[code]

[code]

![image](https://cloud.githubusercontent.com/assets/7077026/21718098/ee1360fc-d40c-11e6-920c-9086f9a52057.png)

[2017-01-06 14:22] Fourdee commented on #495
Ok nearly done:
- 🈯️ needs some testing. Done tests in regards to the web interface.
- 🈯️ online doc http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=4859#p4859

[2017-01-06 14:36] Fourdee commented on #698
@LexiconCode

Sounds awesome 👍 I'll take a look and see if we can integrate it.

https://github.com/ilikenwf/apt-fast/blob/master/quick-install.sh

Install, without Git deps ( 6,994 KB):
[code]

test
[code]

Lest try it in DietPi-Software

[2017-01-06 15:01] Fourdee commented on #698
Odroid C2, 140mb/s R/W EMMC, 100Mbit internet

LAMP stack install (No apt mirrors added):
- ```time dietpi-software install 74```
- 🈯️ ```apt-get``` = ```real    2m14.208s```
- 🈴 ```apt-fast``` = ```real    2m20.798s```

😕

LAMP stack install (```MIRRORS=( 'http://ftp.uk.debian.org/debian,http://ftp.us.debian.org/debian,http://ftp.de.debian.org/debian' )```)
- 🈴 ```apt-fast``` = ```real    2m21.15

[2017-01-06 15:11] Fourdee commented on #698
@LexiconCode
I'll mark this as closed, but your welcome to test, support for ```apt-fast``` available in testing branch:
https://github.com/Fourdee/DietPi/blob/master/TESTING-BRANCH.md

Make sure to install ```apt-fast```:
https://github.com/Fourdee/DietPi/issues/698#issuecomment-270915190

[2017-01-06 15:11] #698 closed, assigned to nobody

[2017-01-06 16:35] ghost commented on #417
Is this by default installed in diet-pi?

[2017-01-06 17:18] Fourdee commented on #417
@bastian94

Plex Remote Transcoder: Not at the moment.

[2017-01-06 17:32] Fourdee commented on #691
@crustovsky

Thanks for results.

Did you use ```dietpi-drive_manager```, or ```dietpi-software``` to move the user data?

total 24K
drwxr-xr-x 3 root root 4.0K Jan 5 22:07 .
drwxr-xr-x 10 root root 4.0K Jan 3 22:36 ..
drwx------ 2 root root 16K Jan 5 22:07 lost+found

Permissions are fine. Its not the cause.

Lets try manually writing a file to usb_2:
[code]
If that works, try moving userdata aga

[2017-01-06 17:36] Fourdee commented on #688
@tusharvb19

Thanks.

I believe NanoPi Neo serial is enabled by default but we need to verify.

- Does a basic serial console work (excluding the python script)?
- Which kernel are you running ```uname -a```?. If its 3.x, try using the updated 4.9 kernel image and retest: http://dietpi.com/downloads/images/DietPi_NanoPiNEO-armv7-(Jessie).7z

I'll make a note to test NanoPi Neo serial console, but

[2017-01-06 18:05] ghost commented on #417
Will it never be?

[2017-01-06 18:29] Fourdee opened #699 "Image | Sparky (Allo)"
Website ratings notes:
- 100MBit eth
- CPU performance rating: 35% (h3 = 40%)
- Heat eff, 45'c idle 60'c full load:
- 🈯️ USB3
- 🈯️ EMMC

EMMC performance:
![image](https://cloud.githubusercontent.com/assets/7077026/21805730/9e1270c4-d72d-11e6-9d99-30ef266e0f09.png)

[2017-01-06 19:52] agoldcheidt commented on #671
@Fourdee

Yes, tested on a Raspberry Pi 2 and it works great. I share your OS image for Berryboot through my website (http://berryboot.alexgoldcheidt.com/images/) in there I added a link to this issue post.

Thank you so much for converting DietPi for Berryboot.

[2017-01-07 12:32] Fourdee commented on #417
@bastian94

At some point, possibly, but i'am currently swamped with other tasks, unable to pick this one up at the moment.

[2017-01-07 15:25] Fourdee commented on #671
@agoldcheidt

Excellent, great to hear its working 👍

I'll mark this as closed for now, but if anyone experiences any issues with the BerryBoot image, please reopen or create another ticket.

[2017-01-07 15:25] #671 closed, assigned to Fourdee

[2017-01-07 15:36] Fourdee commented on #699
constant dmesg, with Kali + Piano attached:
[code]

[2017-01-07 15:39] Fourdee commented on #699
cpu temp:
[code]

[2017-01-07 16:19] Fourdee commented on #699
## Audio:

HDMI only supports ```S32_LE```
[code]

[code]
[code]

[code]

[2017-01-07 17:35] Fourdee commented on #699
WiFi:
- ```iw reg set GB``` no effect
[code]

[2017-01-07 17:56] Fourdee commented on #699
## GPU:

- GPU driver: https://github.com/sparkysbc/sparky_sdk/tree/master/ubuntu/gpu/v2

use blacklist to disable GPU modules by default (free up memory):
[code]

[code]

[code]

[code]

[2017-01-07 19:13] LexiconCode opened #700 "DietPi-Software | NextCloud Webdav is nonfunctional"
I've spent the last three days trying to make NextCloud Webdav work. I really could use some help. Some of these errors aren't related but may be useful. Clients can't discover Webdav Service.

Mobile app
[Davdroid](https://davdroid.bitfire.at/)via [F-Droid](https://f-droid.org/)

Overall I think Dietpi does not set up the Web servers with .well-known urls.
[Troubleshooting webdav](https://docs.ne

[2017-01-07 21:41] Dalto1 opened #701 "Dietpi folder empty"
My pine64 system stoped to work after a reboot. Something like this case : http://fuzon.co.uk/phpbb/viewtopic.php?f=11&t=1135

[2017-01-07 22:18] Dalto1 commented on #701
I tried a backup of the sd card with win32diskimager, i checked the archive with 7zip and im able to access to /DietPi from there, but not on the pine64

[2017-01-08 13:20] Fourdee commented on #701
@Dalto1

Thanks for the report 👍

Is there any chance you could read the image to a .img file (whilst in the state of missing ```/DietPi``` files) , zip it up and send it to us for investigation?

If yes, send me a email to daniel_haze@hotmail.com and i'll send you a link to dropbox for upload.

[2017-01-08 13:27] Fourdee commented on #700
@LexiconCode

Thanks for the report, i'll take a look 👍

[2017-01-08 13:31] crustovsky commented on #691
@Fourdee it failed both at startup setup time and when i used drive manager from launcher. What is strange is that i wasn't able to setup that drive (probably incompatible enclosure) with XU4, i will check with other one once it arrives.

I had to move back to Pi3 to test this (hence swapping back _2 to _1) and I got an error again from setup wizard and commands you mentioned output

root@crustovs

[2017-01-08 14:26] tusharvb19 commented on #688
The serial console is working but I have to interface GSM module to UART1 thus ttyS1 but still after enabling them I am not able to make connection through screen to test basic AT commands.
The screen get exit automatically. And the other python serial code comes out with an error "can not configure port..."
Here is the link of fona(GSM module) tutorial which is working in other distro..core ubunt

[2017-01-08 15:29] Fourdee commented on #691
@crustovsky

/DietPi/dietpi/func/dietpi-set_userdata: line 245: /mnt/usb_1/.testfile_dietpi_userdata_basedirectory: Read-only file system

Looks like the cause. Drive is being mounted as read only. Possible due to a corruption on drive.

Lets try dismounting and remounting drive to check for any errors on screen:
[code]

Also, if you can backup any data on the drive, it might be worth trying to fo

[2017-01-08 16:46] crustovsky commented on #691
@Fourdee

Unmounting and mounting back produces no output

[code]
And drive is already formatted to GTP EXT4 type

![image](https://cloud.githubusercontent.com/assets/4363852/21751612/dfd83164-d5c1-11e6-8854-e15df1a2298d.png)

I will try to reformat it on my Windows machine and scan it there for any errors

[2017-01-08 17:20] Fourdee opened #702 "apt-get update | seg fault"

[2017-01-08 17:25] Fourdee commented on #702
🈴 Issue
[code]

🈯️ Disable ``` /etc/apt/sources.list.d/meveric-all-C2.list```
[code]

🈴 re-enable ```/etc/apt/sources.list.d/meveric-all-C2.list```
[code]

Contents of ```/etc/apt/sources.list.d/meveric-all-C2.list```
[code]

🈴 Clear apt cache
[code]

[2017-01-08 17:29] Fourdee commented on #702
I'll inform Meveric, may be an issue with apt mirror.

[2017-01-08 18:06] Fourdee commented on #702
```strace -f apt-get update >log.strace-aptget 2>&1```

[code]

[code]

[2017-01-08 18:10] Fourdee commented on #702
🈯️ Workaround, as per last solution http://unix.stackexchange.com/questions/193169/apt-get-install-ends-with-segmentation-fault:
[code]

[code]

[2017-01-08 20:37] Dalto1 commented on #701
The archive is like 15 gb do you want files instead? (I reinstalled a fresh image on my pine)

This was the bug in this order. I was unable to connect to libresonic webinterface, so i restarted the pine via command line, and then no access to the folder. It not seems to be due to the power supply.

[2017-01-09 13:23] Fourdee commented on #702
🈯️ Meveric's latest rsync to mdjir repo has resolved the issue. Legend 👍

Assumptions:
Mdjir repo had downtime a few days ago, possibly a corrupt file/list in repo that caused a memory leak to occur in ```apt-get update``` / apt cache. That would explain the increased ```APT::Cache-start``` size having a resolving outcome.

Marking as closed.

[2017-01-09 13:23] #702 closed, assigned to nobody

[2017-01-09 14:14] Fourdee commented on #701
@Dalto1

Yep, thats fine. Zip it up if you can please.

[2017-01-09 14:15] Fourdee commented on #699
Looks like we had a corruption on 1st partition of the initial image. Image and partitions has been re-generated and uploaded.

🈯️ Just waiting for confirmation from Paul resolves inability to boot on his system.

[2017-01-09 14:53] Fourdee commented on #692
@joshuamcginnis

Ok, tested again, using your steps located here,fails to build: https://github.com/neovim/neovim/issues/5861#issuecomment-270216617

I cant seem to get past ```make deps DEPS_CMAKE_FLAGS="-DUSE_BUNDLED_LIBUV=OFF -DUSE_BUNDLED_MSGPACK=OFF -DUSE_BUNDLED_LUAROCKS=OFF -DUSE_BUNDLED_LUAJIT=OFF"```:
[code]

[code]

So as suggested here (```make ```, not ```make deps```: https://github.c

[2017-01-09 16:06] Fourdee opened #703 "DietPi-Software | PiHole, also create symlink for /admin"
Notes/info:
http://dietpi.com/phpbb/viewtopic.php?f=11&t=1163&p=4960#p4960

Basically, ensure http://ip/admin can be used as url

[2017-01-09 16:23] Fourdee commented on #703
Inform user of correct password:
![image](https://cloud.githubusercontent.com/assets/7077026/21773713/fbdbbcd4-d687-11e6-919d-3481f47e3d0b.png)

[2017-01-09 16:26] Fourdee commented on #703
Completed for v142.

[2017-01-09 16:26] #703 closed, assigned to Fourdee

[2017-01-09 16:52] Fourdee commented on #681
Confirmed with following devices using 4.9 kernel:
- 🈴 Neo
- 🈴 Neo AiR
- 🈴 OPi Zero

To determine if the issue is caused by 4.9 kernel, or, sunxi:
- Test another device (non-sunxi) with 4.9 kernel.

[2017-01-09 16:58] k-plan commented on #694
@Fourdee

![170109-0001](https://cloud.githubusercontent.com/assets/17237601/21774896/5e4ba1e8-d694-11e6-89ac-4556e40fb2b1.gif)

❓

[code]

Configuring locales: `de_DE@euro ISO-8859-15 `

[code]

... a problem with SSH client or on screen (monitor)?
Sorry, but my NanoPi Neo (tested device) have no HDMI output.

[2017-01-09 17:02] joshuamcginnis commented on #692
Those errors seem to hint at either lua not being installed or the wrong version (which I did the first time around).

`sudo apt-get install lua5.1 luarocks libuv1-dev`

Are you sure you have lua5.1 and libuv1-dev installed?

[2017-01-09 18:22] Fourdee commented on #699
To Do (Many thanks to Jaikumar from Allo for the info):
- 🈯️ Added to website board info | We are using Actions semiconductor S500 chip
- 🈯️ module disabled during patch 142 | owl_i2c msg are related to touchscreen. It can be disabled in kernel config. or blacklist ctp_gsl3680
- 🈯️ Test EMMC | Kernel Image will work for both sdcard & emmc. kernel.dtb is modified to work for both. If the image is b

[2017-01-09 18:48] Fourdee opened #704 "DietPi-Config | RPi onboard sound force 3.5mm"
HDMI by default if plugged in, option to force 3.5mm.

Check mixer controls:
[code]

[2017-01-09 19:30] Fourdee commented on #694
@k-plan

Thanks for running those tests 👍 . User is using NanoPi M1, so i'll setup a system at some point and see if its device specific.

[2017-01-10 12:25] Fourdee commented on #692
@joshuamcginnis

Yes. Followed your instructions exactly: https://github.com/neovim/neovim/issues/5861#issuecomment-270216617

Also tried with ```libuv0.10-dev```, same result.
[code]

So, either something has changed on NeoVim git, that breaks your original compile notes. Or, possibly we are lacking some additional packages and/or steps?

[2017-01-10 13:12] Fourdee commented on #495
Marking as completed.
Although, as OMV can take control of some DietPi features, until our users are able to test all areas of OMV's features, we won't know for sure if OMV, and all its plugins are fully compatible on a DietPi system.

[2017-01-10 13:12] #495 closed, assigned to nobody

[2017-01-10 13:28] Fourdee commented on #704
Thanks to Verm: http://dietpi.com/phpbb/viewtopic.php?f=11&t=843&p=4973#p4969
[code]

- service for boot

[code]

[2017-01-10 17:51] joshuamcginnis commented on #692
Are you on slack or freenode? Perhaps I can blow away my installation and we can go through it together.

[2017-01-10 19:17] Fourdee opened #705 "General | Alsamixer"
- 🈯️ Test various cards and onboard.

[2017-01-10 19:19] Fourdee opened #706 "DietPi-Config | Enabling RPi camera has no effect"
Still not sure why the dietpi-config menu wasn't able to apply the change, but I'm up and running, now.

[2017-01-10 19:25] Fourdee opened #707 "General | RetroPie fails to install"
Notes:
I'll take a look and see what packages (if any) are missing from the RetroPie docs (as it only targets official Raspbian). As DietPi is extremely minimal, I believe that may be the issue, but will let you know:

[2017-01-10 19:42] crustovsky commented on #691
@Fourdee so i got a new enclosure and after attaching that drive (full reformat was done under windows first though) to my XU4 I'm now moving my user data to this without any issues, if i find another hardrrive i will try again with that old enclosure and Pi3. Strange. Also believe it or not but drive could not be detected and usb3 pins on a board required clean as instructed here

[](http://forum

[2017-01-11 13:44] Fourdee commented on #704
![image](https://cloud.githubusercontent.com/assets/7077026/21851590/a51fb7ca-d807-11e6-9090-4690ae713717.png)

[2017-01-11 14:13] Fourdee commented on #704
Completed

[2017-01-11 14:13] #704 closed, assigned to nobody

[2017-01-11 14:14] Fourdee commented on #705
Appears a ```device``` entry included in ```ctl.!default```, breaks ```ctl.!default``` and therefore ```alsamixer```.

Removing ```device``` entry, resolves the issue.

- 🈯️ Apply as patch.

[2017-01-11 14:34] Fourdee commented on #705
Completed.

[2017-01-11 14:34] #705 closed, assigned to nobody

[2017-01-11 16:12] Fourdee commented on #706
Missing package on current image:
- ```libraspberrypi-bin```.

This also breaks DietPi Cam installation in ```dietpi-software```:
- ```libraspberrypi-bin``` generates the ```/opt/vc/bin``` folder which is not made during ```dietpi-software``` install. Therefore ```raspimjpeg``` never gets installed.

[2017-01-11 16:30] Fourdee commented on #706
🈯️ Confirmed faulty camera module. Ordered Camera V2, working fine.

---

Further issues:
[code]

[code]

Think my camera is dead, tested with 2 ribbon cables and 2 RPi's:
[code]

[2017-01-12 02:34] the-researcher commented on #646
Just to clarify/update this thread:

Couchpotato will be getting some competition:

Sonarr (which specializes in organizing TV viewing) has been forked to create a new project: Radarr.

Radarr has the intention of competing with Couchpotato for organizing movies. It may be beneficial to also consider Radarr for integration as an install package.

https://github.com/Radarr/Radarr

[2017-01-12 04:03] Dalto1 commented on #646
There is also Watcher if you wanna check.

https://github.com/nosmokingbandit/watcher

[2017-01-12 13:15] Fourdee opened #708 "DietPi-Software | PiHole iptables pre-reqs"
```iptables``` required for ```basic_install.sh```

[2017-01-12 13:42] Fourdee commented on #708
```iptables``` is optional, not a requirement, fix applied via PiHole devs: https://github.com/pi-hole/pi-hole/issues/1125#issuecomment-272161004

[2017-01-12 13:42] #708 closed, assigned to nobody

[2017-01-12 14:36] Fourdee commented on #706
User reports success with patch:
http://dietpi.com/phpbb/viewtopic.php?f=11&t=1106&p=5016#p5016

[2017-01-12 14:37] Fourdee commented on #706
- 🈯️ ```dietpi-config``` > display > enable rpi camera. Not applying GPU memory split of 128MB min.

[2017-01-12 14:59] Fourdee commented on #707
- Follow guide to install RetroPie https://github.com/retropie/retropie-setup/wiki/manual-installation#install-retropie
- Select ```basic install``` from menu
- ```dietpi-autostart``` > RetroPie
- ```dietpi-config``` > Display Options > GPU/MEM split > 256MB
- ```reboot```
- 🈯️ Works fine

[2017-01-12 16:04] Fourdee opened #709 "DietPi-Config | NTPD + Drift, no drift file"
🈯️ #Maybe its time we moved ```ntpd``` in drift mode over to 'more recent' systemd inbuilt ```systemd-timesyncd```?:
- Enable: ``` timedatectl set-ntp true```
- Disable: ```systemctl disable systemd-timesync```
- Status: ```timedatectl status```
- Check drift: ```journalctl  -r -u systemd-timesyncd.service```

[2017-01-12 16:28] Fourdee commented on #709
Verify drift:
[code]

[2017-01-12 16:41] Fourdee commented on #709
Completed. ```Daemon + Drift``` mode now enables ```systemd-timesyncd```

Drift tests:
- 🈯️ C2:
[code]

[2017-01-12 16:41] #709 closed, assigned to nobody

[2017-01-13 14:49] Fourdee opened #710 "DietPi-Software | Volumio"
- NodeJS
- JRE/JDK?
- L*SP
- Core app: https://github.com/volumio/Volumio2
- Web UI: https://github.com/volumio/Volumio2-UI

[2017-01-13 14:57] Fourdee commented on #706
Tests pass. Completed.

[2017-01-13 14:57] #706 closed, assigned to nobody

[2017-01-13 15:03] Fourdee commented on #692
@joshuamcginnis

Nope, i'd never get anything done lol 😃

Sounds good, may take a bit longer, but we should be able to achieve this here.

Here are my install notes (based on yours), includes all the commands required: https://github.com/Fourdee/DietPi/issues/692#issuecomment-270419916

[2017-01-13 15:12] Fourdee commented on #679
I'll create new image for v143 and retest WiFi.

New compile, no network/boot. Serial time!

[2017-01-13 15:17] Fourdee commented on #699
- 🈺 Allo Cheapo requires testing | Will test when it arrives
- GPU support, as this SBC is mostly aimed towards Audiophiles and usage, will leave this out for now due to lack of time. Unless, we get significant interest from our users to implement it.

[2017-01-13 15:19] Fourdee commented on #697
Removed/outdated.

[2017-01-13 21:02] uroni commented on #545
Hi,

came across this issue. If you want to fix it, write the backup folder to $LOCALSTATEDIR/urbackup/backupfolder and it will pick it up from there at first startup.
That is also what the Debian package at https://hndl.urbackup.org/Server/2.0.38/urbackup-server_2.0.38_armhf.deb does (see the postinst file in the package).

[2017-01-14 14:08] Fourdee opened #711 "DietPi-Config | Enabling WiFi for 1st time, delayed by DHCP"
To allow for scanning on most WiFi chipsets, we need to bring up the adapter (eg: ```ifup wlan0```)

The DHCP delay is due to bringing up the adapter with no creds for the 1st time.

[2017-01-14 14:10] Fourdee commented on #711
Options:
- Set WiFi to STATIC in ```dietpi-config``` by default on 1st run. Downside: requires user to change from STATIC before scanning and connecting.
- 🈯️ ``` /etc/dhcp/dhclient.conf```: specify timeout and retry limits. Downside: If the limits are too "tight", this may actually cause issues with some routers not providing lease ack in time, resulting in a failed connection.
[code]

[2017-01-14 14:47] Fourdee commented on #711
Managed to reduce the delay when enabling WiFi for the 1st time, by roughly 70%, adjusting limits of dhclient:
[code]

Marking as closed.

[2017-01-14 14:47] #711 closed, assigned to nobody

[2017-01-14 15:28] Fourdee commented on #694
Fine:
![image](https://cloud.githubusercontent.com/assets/7077026/21955992/1265bdf8-da6e-11e6-9d31-e2bf310b13f4.png)

Most likely as @k-plan suggested, due to SSH client and/or configuration.

Will mark as closed and discuss with user.

[2017-01-14 15:28] #694 closed, assigned to nobody

[2017-01-14 16:42] Fourdee commented on #548
Pine case:
- 28'c idle
- 80'c @ 5mins
- 18'c room

[2017-01-14 21:52] WolfganP commented on #701
Today after booting my Pi2, I noticed many processes weren't running, and tracing the error source I noticed that /DietPi was empty, also and empty /boot/dietpi and missing /boot/dietpi-ramdisk
Even if I always turn off the Pi with 'sudo shutdown', /boot has a ton of FSCK????.REC files
Not the first time I had to reflash the SD card and start over with dietpi so I wonder if there's anything that f

[2017-01-15 21:56] 007lva commented on #692
I'm testing Dietpi Stretch, and I just noticed that neovim package is already included in the repo:

https://packages.debian.org/stretch/neovim

[2017-01-16 14:05] Fourdee commented on #701
@WolfganP

Not the first time I had to reflash the SD card and start over with dietpi so I wonder if there's anything that fails to commit on shutdown?

Looks like a filesystem recovery has occurred on 1st parition.

DietPi simply copies the RAMdisk files back to disk during shutdown, it should not cause a filesystem corruption.

Which SD/PSU combo are you using for this?

[2017-01-16 14:18] WolfganP commented on #701
Using a Kingston 4GB Class 4 micro SD card, 2A filtered PSU.

[2017-01-16 16:09] Fourdee commented on #701
@WolfganP

Should be fine if the 2A PSU provides a stable 5v?

As a pre-caution, i've recreated the RPi image, and its partitions. If we had a corruption on the image, this will now be resolved.

Please download the image from here: http://dietpi.com/downloads/images/DietPi_RPi-armv6-(Jessie).7z
Run it and let us know if you experience the same issue at any point in the future.

[2017-01-16 16:26] Dalto1 commented on #661
Ill reinstall dietpi on it when i got more time, but thanks anyways !

[2017-01-16 17:28] Fourdee opened #713 "General | Support 192KHz/24bit HDMI on RPi"
Requires forked kernel to enable higher frequencies:
[code]
https://github.com/raspberrypi/linux/blob/rpi-4.4.y/sound/arm/bcm2835-pcm.c

https://community.roonlabs.com/t/dietpi-creating-a-lean-and-mean-roon-bridge/13908/248?u=dan_knight

[2017-01-16 19:13] Fourdee opened #714 "DietPi-Justboom | Add additional options for Piano 2.1"
Important, if "subwoofer mode" is changed, unit must be rebooted.
Default value: lowpasss: 90 subwoofer mode: 2.2
Piano 2.1 has one more setting "subwoofer volume", this can be change with the "digital volume".

[2017-01-16 19:23] Fourdee commented on #713
192KHz/24bit is max supported on HDMI:
https://community.roonlabs.com/t/dietpi-creating-a-lean-and-mean-roon-bridge/13908/251?u=dan_knight

[2017-01-17 16:16] Fourdee opened #715 "DietPi-Software | Prevent continuation of MySQL DS move, if cp fails"

[2017-01-17 16:23] Fourdee commented on #715
Completed.

[2017-01-17 16:23] #715 closed, assigned to nobody

[2017-01-17 19:31] Fourdee commented on #679
Before reboot:
[code]

After reboot:
[code]

ARMbian.

[2017-01-17 19:47] Fourdee commented on #679
🈯️ WiFi is now resolved, thanks ARMbian!:
[code]

[2017-01-18 00:31] indynz commented on #560
+1

[2017-01-18 14:10] Fourdee commented on #679
🈴 No sound cards available with expansion board, ~~missing module?~~ Requires 4.10 kernel or patch.
[code]

[code]

[code]

[2017-01-18 14:17] Fourdee commented on #707
Marking as closed, unable to replicate failed installation using steps: https://github.com/Fourdee/DietPi/issues/707#issuecomment-272184823

[2017-01-18 14:17] #707 closed, assigned to nobody

[2017-01-18 15:46] Fourdee commented on #714
![image](https://cloud.githubusercontent.com/assets/7077026/22071644/b26b1632-dd97-11e6-9685-d580e2579632.png)

[2017-01-18 15:53] Fourdee commented on #714
- subwoofer mode: Takes immediate effect. No reboot required.
- Digital / sub volumes, will cap max to -0.5dB, prevent chance of clipping.

[2017-01-18 16:24] Fourdee commented on #714
Completed.

[2017-01-18 16:24] #714 closed, assigned to nobody

[2017-01-18 16:29] Fourdee commented on #699
Completed. Will test Cheapo when it arrives.

[2017-01-18 16:29] #699 closed, assigned to Fourdee

[2017-01-18 16:57] Fourdee opened #716 "DietPi-Config | Add support for ES9018K2M"

[2017-01-18 18:32] Fourdee opened #717 "Neo + USB DAC + Roon | "Roon: An audio file is loading slowly""

[2017-01-18 23:54] joshuamcginnis commented on #692
It looks like Debian 9 Stretch will go [full freeze](https://wiki.debian.org/DebianStretch) on 2-Feb-2017. Though, I don't know how much longer after DietPi Stretch will be released. That said, it might be the path of least resistance for this issue.

As an aside, if I were to begin testing DietPi Stretch, will I need to reimage once it released or will the normal update process take care of it?

[2017-01-19 03:34] lodgnewt opened #718 "DietPi-Software | motionEye"
Please add motionEye https://github.com/ccrisan/motioneye/
motionEye is the web user interface (the frontend) that you access with your browser to manage your camera(s).
Installation https://github.com/ccrisan/motioneye/wiki/Installation

[2017-01-19 08:59] studioai commented on #592
if "sudo apt-get install libjpeg8 -y" causes error.

Try below

[code]

in that way, I could run tonido

[2017-01-19 11:45] Fourdee commented on #692
If i'am honest, unknown at the moment. It really depends how much Stretch changes. We'll patch if we can, however, do expect a new image required for Alpha > Beta? > Release

[2017-01-19 11:46] Fourdee commented on #475
- Test NeoVim packages available in Stretch:
https://github.com/Fourdee/DietPi/issues/692#issuecomment-272726938

Base package:
[code]

Optional desktop GUI:
[code]

```vi```
![image](https://cloud.githubusercontent.com/assets/7077026/22107434/bb0c1a6c-de45-11e6-91a2-7b0de667250e.png)

[2017-01-19 12:22] Fourdee commented on #717
Unable to replicate with:
[code]

Neo network bandwidth (out):
[code]

Neo network bandwidth (in):
[code]

[2017-01-19 12:50] Fourdee commented on #692
@joshuamcginnis @007lva (thanks!)

NeoVim, straightforward apt install on Stretch:
https://github.com/Fourdee/DietPi/issues/475#issuecomment-273755851

[2017-01-19 13:05] Fourdee commented on #692
Although a simple apt-get install, i've added to ```dietpi-software``` aswell, under ```additional linux software```.

Will mark this as closed. This installation is available for Stretch only.

@joshuamcginnis

If you get any further success with compiling for Jessie, please reopen as needed. However, from my end, I simply don't have the time available to put more into this, and, i'am a nano user

[2017-01-19 13:05] #692 closed, assigned to nobody

[2017-01-19 19:25] Fourdee opened #719 "DietPi-RAMdisk | /DietPi folder empty after reboot"
Reports:

http://dietpi.com/phpbb/viewtopic.php?f=11&t=1148&start=20#p5147

Appears random (John).

Add additional debugging to ```dietpi-ramdisk.service```

[2017-01-19 21:00] LexiconCode commented on #700
[code]
https://docs.nextcloud.com/server/10/admin_manual/installation/nginx_nextcloud_9x.html

[2017-01-20 12:44] Fourdee opened #720 "DietPi-Software | O!MPD"
Slick front end for MPD:
http://ompd.pl/configuration
https://github.com/ArturSierzant/OMPD

[2017-01-20 12:47] Fourdee commented on #720
Requires:
- L*MP |  extension: GD2, ICONV and MYSQLi
- MPD

[2017-01-20 14:08] Fourdee commented on #700
@LexiconCode

Thanks, this for Lighttpd?

[2017-01-20 17:44] LexiconCode opened #721 "DietPi-Software | OMV 3 - Unable to create Shared Folders"
Under "Shared Folders" you cannot select a Device since there are no options shown.

**Hardware**
Odroid C2

**Configuration**
Dietpi 142

**Steps to reproduce**
1. Install OMV 3
2. attach a USB  hard drive (I've tried both setting up through Dietpi and mounting through is the OS) (formatted as ext4 )
3. log into open media vault
4. check "Physical Devices" - verify external hard drive and OS medi

[2017-01-20 18:52] Fourdee commented on #717
Occurs with Ondemand CPU gov and USB2.0 hi speed devices (not full speed USB 1.x devices).
Setting Performance/Powersave (as workaround) for now are fine.

Notes:
- One of the CPU steps is under voltaged/invalid?
- Ondemand + USB "flaky" with 4.9?
- Roonbridge not triggering throttle up?

[2017-01-20 19:19] Fourdee commented on #713
White noise reported using ```SNDRV_PCM_FMTBIT_S24_LE```. 192KHz @ 16bit is fine.
Same with ```SNDRV_PCM_FMTBIT_S32_LE```.

Stumped, must of missed something.

[2017-01-20 19:28] Fourdee opened #722 "DietPi-Config | Support for Tenor 8802TL USB"

[2017-01-20 19:35] LexiconCode commented on #700
@Fourdee
It's for Nginx. Only because there is no official documentation for Lighttpd. Lighttpd is technically not supported by WebDAV . I'm hoping Dietpi Certbot supports Nginx soon. It would make it a lot easier to manage NextCloud and other applications that have documentation for Nginx.

[2017-01-20 20:08] Fourdee commented on #720
- Separate 32 into HIFI
- Move MPD to 128
- Pre-req 32,119, 129 for 128

[2017-01-21 16:41] Fourdee commented on #720
download + stream fail, forbidden. Although required write permissions are set.
No errors in web logs.

[code]

[code]

![image](https://cloud.githubusercontent.com/assets/7077026/22183109/17f699f4-e0ae-11e6-89d1-b9033d148d14.png)

Same with:
- Lighttpd
- Nginx

[2017-01-21 19:49] libf-de opened #723 "Add support for software raid (mdadm) in drive manager and software installer"
I'm using my Odroid XU4 with DietPi as a NAS server as probably many people do, storing my data on two USB3.0 2TB HDDs configured as raid1. But unfortunaly DietPi does not support that, so I have to configure it myself (which is not the problem) but then it does not work as good as a "single" harddisk would with the DietPi software. It would be nice to see raid support in DietPi :)

[2017-01-22 11:38] midwan opened #724 "PINE64 | Internal WiFi module only works after connecting Ethernet"
On a pine64 2GB with the Wifi/Bluetooth official module:
On the first installation of DietPi v133, during the network configuration stage, if no ethernet is connected the wifi does not connect either. It seems to enable the module, but Scanning for APs does not work and manual setting does not connect either.

If I connect the ethernet cable, then Wifi also connects normally and we can proceed.

[2017-01-22 12:34] midwan commented on #596
@Fourdee
This took ages it seems, but I can confirm it also.

Could we have this by default on the affected systems please?

[2017-01-22 13:20] Fourdee commented on #679
We'll stick with the 3.x image for now, using WiFi fix: https://github.com/Fourdee/DietPi/issues/635#issuecomment-266006050
due to lack of sound support on 4.9.
Will retest when 4.10 is available.

[2017-01-22 13:20] #679 closed, assigned to nobody

[2017-01-22 13:22] Fourdee commented on #721
@LexiconCode

Thanks, i'll take a look.

[2017-01-22 13:30] Fourdee commented on #722
Appears this patch is already in RPi 4.4.

[2017-01-22 13:58] Fourdee commented on #721
Yep, looks like anything to do with:
"Select a device"

Results in no options.

Only error in log is (doesn't look related):
[code]

[2017-01-22 14:06] Fourdee commented on #721
Ok, looks like OMV scraping of ```/etc/fstab``` is not compatible with DietPi-Drive_manager or any manual USB drive additions.

OMV adds headers/blocks which (i'am assuming) OMV web interface and code, requires to work with:
[code]

Basically, if you want to use OMV's features, only use OMV features:
- ```dietpi-drive_manager```, unmount drive and eject
- exit
- Plug drive back in
- OMV > Physical

[2017-01-22 14:12] Fourdee commented on #724
@midwan

Thanks, i'll take a look.

[2017-01-22 15:44] Fourdee commented on #724
I believe this is resolved in v140, but wont be applied until ```dietpi-update```.

I've updated the image to v142, please can you re-test and let us know if this resolves it?
http://dietpi.com/downloads/images/DietPi_PineA64-arm64-(Jessie).7z

[2017-01-22 16:37] Fourdee commented on #596
@midwan

Yep, done, this will be patched during v143 update, enabling this workaround by default on all pines.

[2017-01-22 20:14] Fourdee opened #725 "Update M2 kernel, fixes 1.2 freq lock"

[2017-01-22 20:32] oshank commented on #445
I second this request. Been looking into it for the last few days. I think it would be pretty cool to see this on the list. Should be relatively simple to set up I believe.

http://docs.blynk.cc/#blynk-server

[2017-01-22 21:43] midwan commented on #724
Confirmed, it works with this image.

[2017-01-22 21:47] midwan opened #726 "[dupe] PINE64 | Upgrading the firmware breaks DietPi tools"
After using the provided menu option to upgrade the Firmware to the latest version, following the reboot the DietPi shortcuts no longer work:

`# dietpi-config`
`-bash: /DietPi/dietpi/dietpi-config: No such file or directory`

The /DietPi/ folder is actually empty!

[2017-01-23 11:53] Fourdee commented on #726
@midwan

Thanks, i'll take a look.

I'll mark this one as closed (dupe) and use the other ticket: https://github.com/Fourdee/DietPi/issues/719

[2017-01-23 11:53] #726 closed, assigned to nobody

[2017-01-23 12:33] #724 closed, assigned to nobody

[2017-01-23 12:37] Fourdee commented on #726
Unable to replicate:
[code]

Must be linked to issue: https://github.com/Fourdee/DietPi/issues/719

[2017-01-23 12:38] Fourdee commented on #719
@midwan

Which PSU + SD are you using on the Pine when it caused this: https://github.com/Fourdee/DietPi/issues/726#issue-202412586

[2017-01-23 13:41] midwan commented on #719
@Fourdee
I used the Official Raspberry Pi PSU (5V, 2.5A) and a Sandisk Extreme 16GB SD card.

[2017-01-23 14:26] Fourdee opened #727 "RPi Kernel | Add driver for Allo 2.1 DAC"

[2017-01-23 15:14] Fourdee commented on #596
Completed

[2017-01-23 15:14] #596 closed, assigned to nobody

[2017-01-23 15:16] Fourdee commented on #719
@midwan

Thanks.

When the folder is missing, can you please do the following:
http://dietpi.com/phpbb/viewtopic.php?f=11&t=1148&start=20#p5143

Mostly interested in results of:
[code]

[2017-01-23 15:18] k-plan commented on #721
First, I really like OVM.
But my experience is, you have to run it on performant hardware, like i386 platforms.
On SBC it will have weak performance and stability for a NAS system (hardware limitation).
And OVM is a "all-in-one" system, like a complete OS witch system configuration tools.
If you need something more, you have to install a OVM plugin, if where is one for it.

 Like I write up here (

[2017-01-23 15:32] Fourdee commented on #721
@k-plan

Yep, may need to drop this one from ```dietpi-software```, can see it causing no end of incompatibility issues with DietPi (and manual user) configurations.

In the case here (https://github.com/Fourdee/DietPi/issues/721#issuecomment-274332945) manual mount entries to ```/etc/fstab``` are not fully supported/recognized by all OMV's plugins (eg: device dropdown list). Unless the whole proc

[2017-01-23 15:50] WolfganP commented on #719
I think the issue is even an step earlier, /boot/dietpi is empty as well so dietpi-ramlog and other scripts aren't present in the system.

[2017-01-23 16:15] k-plan commented on #721
@Fourdee

Yes, OVM on DietPi is not more as an early beta. We can test it, but ...

Yes, many incompatibility issues with DietPi configurations and error messages while installing and in the logs.
I have not a huge promise to get this fixed.

[2017-01-23 18:47] Fourdee commented on #719
Seems to vary:
- Boot exists : http://dietpi.com/phpbb/viewtopic.php?f=11&t=1148&start=20#p5147
- Boot exists (script corrupted) : http://dietpi.com/phpbb/viewtopic.php?f=11&t=1148&start=20#p5145
- Boot exists-ish (FSCK recovery): http://dietpi.com/phpbb/viewtopic.php?f=11&t=1148#p4868

[2017-01-23 19:08] LexiconCode commented on #721
The web UI is clunky and slow. The huge draw for this type of software for me is the ability to configure nearly everything from the web user interface. Hopefully there is an alternative.

[2017-01-23 19:31] k-plan commented on #721
yes, a user has started to create one, see https://github.com/Fourdee/DietPi/issues/448#issuecomment-242536278

![image](https://cloud.githubusercontent.com/assets/7077026/18009068/98c183ae-6ba2-11e6-988b-f67f305f0e0a.png)

but he has decided to deleted all his work ... 👎
https://github.com/Fourdee/DietPi/issues/448#issuecomment-244607413

You can test if Webmin do what you are looking for, but I

[2017-01-23 19:44] Fourdee commented on #720
Marking as completed. Outstanding issues:
- Download and stream feature not functional.

[2017-01-23 19:44] #720 closed, assigned to Fourdee

[2017-01-24 12:29] Fourdee opened #728 "DietPi-Software | Upgrade NetData to 1.5"

[2017-01-24 16:11] Fourdee commented on #728
```.deb```'s built.

[2017-01-24 16:19] Fourdee commented on #728
Tests:

UI performance improvements are really impressive

- 🈯️ ARM64
- 🈯️ ARMv7
- 🈯️ ARMv6

[2017-01-24 16:19] Fourdee commented on #728
Completed

[2017-01-24 16:19] #728 closed, assigned to nobody

[2017-01-24 16:46] Fourdee commented on #721
Ok, added a notice to OMV online doc: http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=4859#p4859

Will mark this as closed.

[2017-01-24 16:46] #721 closed, assigned to nobody

[2017-01-24 16:50] Fourdee commented on #713
192Khz/16bit is all I can achieve at the moment. 24bit causes whitenoise:
https://github.com/Fourdee/linux/commit/546b0799137812304d8940382acf1086ad26a275#commitcomment-20580793

[2017-01-24 17:41] LexiconCode commented on #721
Thanks for looking into it.  @Fourdee

@k-plan
I've considered using Webmin. I've decided against because of outstanding security concerns and I found it to be unreliable with setting configurations. In addition its plug-in system is atrocious and not well-maintained for ARM.

Anyway I will continue seeking alternatives but this does bring in question how any software like Webmin would interact wi

[2017-01-24 17:46] Fourdee opened #729 "NanoPi M1 | WiFi + RTL8188CUS = Hard lock"

[2017-01-24 20:42] filemoon opened #730 "exclude from ver 141 is not working."
Looks like /DietPi/dietpi/.dietpi-backup_exclude file content is ignored.

[2017-01-25 00:19] Invictaz opened #731 "DietPi-Software | Movian"
Requesting SabNZBd & Movian.tv

[2017-01-25 10:11] midwan commented on #719
@Fourdee

In my case, /boot/dietpi does have contents:

[code]

Here are the results, as requested:
- Device used: Pine64, 2GB model
- Software installed: MATE desktop, Plex Media Server, Samba server. Though they worked fine until I did the firmware update.
- Last command run: Firmware update. It did the self-update first (was already on the latest version) then downloaded the firmware without er

[2017-01-25 13:48] Fourdee commented on #730
@filemoon

Is this running on a v141 system?

Can you give me an example of your exclude file please?

We had significant changes to ```dietpi-backup``` in v142 and I tested exclude file there successfully. So it may also be worth updating to v142 and re-testing:
https://github.com/Fourdee/DietPi/issues/685#issuecomment-270145446

[2017-01-25 13:53] filemoon commented on #730
I don't know what was wrong - but after upgrade and reboot file was ignored. When I edit (recreate)  file again issue was gone.

To be honest I'm not sure I like new backup - I've used nfs map for <= 141 backups but I cannot use them anymore (not compatible volume - or file system).

[2017-01-25 13:59] Fourdee commented on #730
@filemoon

As per the update notification, previous backups from v141 are no longer compatible with v142. You will need to recreate a backup and exclude files again (we failed to mention the exclude/includes file, apologies for that):
https://cloud.githubusercontent.com/assets/7077026/21613602/d03e4600-d1cd-11e6-9482-f000f0dce72c.png

It is possible to restore from a v141 backup following:
https:/

[2017-01-25 14:16] Fourdee commented on #719
@midwan

Thanks 👍

Looks like some of the DietPi scripts are missing from ```/boot```:
[code]

I'll run some tests.

[2017-01-25 14:27] Fourdee commented on #719
@midwan

Whats the size used in ```/boot```?

```df -h```

[2017-01-25 14:56] Fourdee commented on #719
Ok i've enabled verbose debugging for ```dietpi-ramdisk```.

Logs will be saved to:
```/etc/dietpi/logs/dietpi-ramdisk.log```

This won't be enabled until v143 is released (or use of testing branch: https://github.com/Fourdee/DietPi/blob/master/TESTING-BRANCH.md), however, once the issue occurs, logs should give us much needed clues.

[2017-01-25 15:01] Fourdee commented on #721
@LexiconCode

Already have one open, and yes, all we need is a web interface for DietPi, would be a great addition.

https://github.com/Fourdee/DietPi/issues/448

[2017-01-25 15:02] #661 closed, assigned to nobody

[2017-01-25 15:03] #701 closed, assigned to nobody

[2017-01-25 15:30] Fourdee commented on #701
Reference:
https://github.com/Fourdee/DietPi/issues/719#issuecomment-275129088

[2017-01-25 16:57] Fourdee opened #732 "BPi Pro | Update to 4.9 kernel"

[2017-01-25 17:07] Fourdee commented on #729
- 🈴 4.9 kernel = issues with cpu freq, no gov's available.
[code]

[2017-01-25 17:33] Fourdee commented on #732
Mainline 4.9: http://dietpi.com/downloads/testing/4.9_image_tests/DietPi_BananaPiPro-armv7-(Jessie).7z

[2017-01-25 17:50] Stormhunter632 opened #733 "DietPi Problem loading Amiberry V2 onto Raspberry Pi 2"
Hi. i have a problem loading amiberry on my PI 2. it has a 32gb SD card in it. it has been loading code and rebooted a couple of times, now it is stuck on a page saying /etc/rc.local: line 6: /DietPi/dietpi/func/dietpi-notify: No such file or directory. It is repeating above constantly.Can you advise please.

[2017-01-25 19:41] Fourdee commented on #733
Possibly linked to: https://github.com/Fourdee/DietPi/issues/719

@Stormhunter632

Thanks for the report.

Is this a fresh installation today, or an existing installation thats worked for a period of time?

And, is the image you used ```DietPi-AmiBerry_v131_RPi-armv6-(Jessie).img``` or ```DietPi_v141_RPi-armv6-(Jessie).img```?

[2017-01-25 20:13] Stormhunter632 commented on #733
It was today and is V131 which is the one on the retro facebook group

[2017-01-26 11:02] dmaglio opened #734 "dietpi-letsencrypt renew don't overwrite certificate"
I have installet dietpi and create a cert with dietpi-letsencrypt. but i notice that isn't renew every month. if i enter into /etc/letsencrypt/live/ i found many version of my certficate. example:
if the site is www.sitedefault.com i found:

* www.sitedefault.com
* www.sitedefault.com-001
* www.sitedefault.com-002
* www.sitedefault.com-003
etc....

in log file cannot find any information about ove

[2017-01-26 14:22] Fourdee commented on #727
Requires kernel with allo-dac-plus patch and firmware

[2017-01-26 14:32] Fourdee commented on #727
Tests:
- 🈯️ Subwoofer modes and crossover

[2017-01-26 14:36] Fourdee commented on #727
Completed

[2017-01-26 14:36] #727 closed, assigned to nobody

[2017-01-26 15:40] Fourdee commented on #732
- 🈯️ onboard wifi
- 🈴 onboard sound (3.5mm/HDMI). Strange, https://linux-sunxi.org/Linux_mainlining_effort#Status_Matrix reports ```audio codec``` made it to kernel 4.4. Surely AC97 isn't required?

[2017-01-26 16:29] Fourdee commented on #679
Image for reference:
http://dietpi.com/downloads/testing/4.9_image_tests/

[2017-01-26 16:37] Fourdee commented on #734
@dmaglio

Thanks for report 👍

Lets force a manual renew to generate logs, please run the following command:
[code]

Then, please paste logs from:
[code]

---

note to self:
http://dietpi.com/phpbb/viewtopic.php?f=9&t=1228

[2017-01-26 16:50] whhsn commented on #567
Why this is marked "Not a DietPi issue"?
IS there a  way to resolve this?

[2017-01-26 16:54] Fourdee commented on #719
Just wondering if this is a simple case of service running before ```local-fs.target```

Adding following should prevent that:
```After=local-fs.target```

[2017-01-26 18:17] Fourdee commented on #567
@whhsn
For OPi One, we use ARMbian to build the image base, kernel, uboot, modules etc. So that part is essentially out of our hands. We rely on ARMbian to apply patches/fixes to kernel/uboot/modules and hopefully resolve issues related to that.

I'll do another image build and re-test, see if its resolved.

[2017-01-27 11:45] gpo123 commented on #732
Sound on 3,5mm jack is working on my BananaPi (not PRO) with self compiled Armbian kernel 4.9. Had to reset alsamixer settings though. Settings:  Left Mixer Left DAC : muted  / Power Amplifier DAC : unmuted / Power Amplifier Mixer :muted / Power Amplifier Mute : unmuted / Right Mixer Left DAC : muted / Right Mixer Right DAC : muted. HDMI ouput seems to be gone, but I don't care for my setup (remem

[2017-01-27 12:49] Fourdee commented on #732
@gpo123

Thanks for info 👍

Yeah, i did play with the mixer settings, but had no joy on both hdmi and 3.5mm. I'll replicate your amixer settings and re-test.

[2017-01-27 12:53] Fourdee commented on #716
note to self:
enable module in ```.config```

[2017-01-27 12:55] Fourdee opened #735 "DietPi-Config | Add support for JustBoom IR controller"

[2017-01-27 12:56] gpo123 commented on #732
ok, got the ondemand bug: line 1195 in dietpi-config should read: MIN_VALUE=$(( $(cat /sys/devices/system/cpu/cpufreq/ondemand/**min_sampling_rate**) / 1000 )). After fiddling with the settings CPU is now scaling up and down nicely. According to [http://linux-sunxi.org/Cpufreq](url) you should also set **io_is_busy** to **1**. Had good results on my cubietruck.
Do you intend to support all governo

[2017-01-27 13:04] Fourdee commented on #732
@gpo123

Are you Jórg by any chance 😃 ?

https://github.com/Fourdee/DietPi/blob/master/dietpi/dietpi-cpuinfo#L153

We'll need to add an array of possible locations for:
[code]

All, excluding ones not available on mainline (eg:```interactive```)

We'll need to add that in here: https://github.com/Fourdee/DietPi/blob/master/dietpi/dietpi-cpu_set#L99-L123

[2017-01-27 13:31] gpo123 commented on #732
Yes, I'm Jörg. I will try to make the approbiate changes to dietpi-config to support both kernels on BananaPi (PRO) later on.

[2017-01-27 13:42] Fourdee commented on #732
@gpo123

Yep, still no joy with BPi Pro. Tried various combinations, no sound:
![image](https://cloud.githubusercontent.com/assets/7077026/22372777/82f71698-e496-11e6-9fca-47de16642c1f.png)

[2017-01-27 14:29] gpo123 commented on #732
Hi Dan,

These are my settings with alsamixer -V all:

![image](https://cloud.githubusercontent.com/assets/9412171/22374576/010b5a16-e4a7-11e6-8ccc-4119b578e90c.png)

Should I upload my kernel / Armbian deb / kernel config somewhere ?

Regards Jörg

Am 27.01.2017 um 14:43 schrieb Dan:

[2017-01-27 15:04] Fourdee commented on #567
Image updated: http://dietpi.com/downloads/images/

[2017-01-27 15:05] Fourdee commented on #729
Image updated 3.x: http://dietpi.com/downloads/images/

Same issue with WiFi, hangs SSH on connecting DHCP, unable to connect, even with:
[code]

[2017-01-27 15:09] Fourdee commented on #567
Issue still exists, same as M1: https://github.com/Fourdee/DietPi/issues/729#issuecomment-275686055

[2017-01-27 15:10] Fourdee commented on #733
http://dietpi.com/downloads/conf/DietPi-AmiBerry/dietpi.txt

[2017-01-27 15:38] Stormhunter632 commented on #733
can you please tell what i do with the above as i am a novice using raspberry pi. thank you

[2017-01-27 15:54] Fourdee commented on #733
@Stormhunter632

Working on it now, just put that there for notes, few minutes.

[2017-01-27 16:04] Stormhunter632 commented on #733
ok thanks had me worried there lol

[2017-01-27 16:05] Fourdee commented on #733
@Stormhunter632

Ok, i've updated the RPi image which should prevent loss of DietPi files in ```/boot``` and ```/DietPi```.

Please can you:
- Download the new image: http://dietpi.com/downloads/images/DietPi_RPi-armv6-(Jessie).7z
- Write to SD card
- Right click the following link http://dietpi.com/downloads/conf/DietPi-AmiBerry/dietpi.txt , select "Save as", then save to ```/boot/dietpi.txt``` o

[2017-01-27 16:09] Fourdee commented on #732
@gpo123

[code]

Legend 👍. Now it works on 3.5mm!

![image](https://cloud.githubusercontent.com/assets/7077026/22377776/00417cd8-e4ab-11e6-9ece-3a8f37d0e134.png)

Ok so, 3.5mm, we need to set:
[code]

[2017-01-27 16:11] Stormhunter632 commented on #733
ok i will have a go and let you know thanks

[2017-01-27 17:26] Stormhunter632 commented on #733
It has come up with a syntax error online 9935 near unexpected token $.

/dietpi/dietpi/dietpi-software line 9935: syntax error near unexpected token $ \300\200\005\300\bh\236\316\006\200\004\300\236\312\b\212\004\300\236\302\212
Root@DietPi:~#

[2017-01-27 17:33] gpo123 commented on #732
Fine. But how do we deal with HDMI gone? Delete from config or wait for upstream changes ? File a bug report at armbian ?

[2017-01-27 17:42] Fourdee commented on #733
@Stormhunter632

Thanks. Strange, I duplicated the same test, works fine on my RPi 3.

Which PSU brand/amperage, SD card and RPi are you using?

[2017-01-27 18:07] gpo123 commented on #732
Actually I have a liitle problem with noise on BananaPi with 3,5mm jack on mainline kernel. This was not the case with legacy kernel. Did you observe the same ? I first thought it was a faulty cable or power supply but others seem to have this problem too as you can read here:
[https://forum.armbian.com/index.php/topic/397-mainline-a10a20-audio-driver/](url)
Do you know by chance how to convert *.

[2017-01-27 18:10] Stormhunter632 commented on #733
using rpi2 Samsung scandisk 32gb and 5.1v 2.5 amp psu supplied by the Pi Hut
I can try it on my RPI3 if you want

[2017-01-27 18:27] Stormhunter632 commented on #733
I just tried on my pi 3 with same result. will try with different SD card after Tea but they are both brand new from Pi Hut

[2017-01-27 19:46] Fourdee commented on #733
@Stormhunter632

Thanks.

Strange, Sandisk/Samsung should be fine.

Did you download and write the updated image: http://dietpi.com/downloads/images/DietPi_RPi-armv6-(Jessie).7z ?

[2017-01-27 19:47] Fourdee opened #736 "DietPi-Software | Squeezelite causing apt failure 100"
Squeezelite + LMS, fresh install

[2017-01-27 19:48] whhsn commented on #567
Can we run a fix script after the update & reboot just for the affected targets (M1 & OPiOne for now)?

[2017-01-27 21:05] gpo123 commented on #732
I took the chance and updated cubietruck also to mainline 4.9. Running good so far:

![cubie_mainline_temp](https://cloud.githubusercontent.com/assets/9412171/22387343/6fa780f6-e4db-11e6-9527-7587d5eff97d.png)

These are the the processes running:
![cubie_mainline_htop](https://cloud.githubusercontent.com/assets/9412171/22387518/490a6f34-e4dc-11e6-963a-15b42320ffa3.png)

Quite good for this "depre

[2017-01-27 21:49] Stormhunter632 commented on #733
I have just done a total restart from scratch. so loaded image and saved file in /boot/diet pi on new SD card. it ran till it stopped at login details. I did not know you had to login again until I pressed the return button. It then loaded everything and is now sitting on the amiga setup page. I am now going to read the read me document to see how to load kickstarts and roms and see if it works. I

[2017-01-28 11:30] Fourdee commented on #733
@Stormhunter632

Thanks 👍

This should not be the case, automatic login for AmiBerry, i'll look into it.

[2017-01-28 11:59] Fourdee commented on #732
Didn't check if i'am honest, I believe in the assumption of basic onboard audio support, then USB DAC/HAT's for serious audio usage.
Although if it was fine on 3.x, its most likely an issue with the codec driver on 4.9. Seems the solution is per:
https://forum.armbian.com/index.php/topic/397-mainline-a10a20-audio-driver/#entry13933

From compiled back to source? Nope sorry.

https://forum.armbian.

[2017-01-28 12:01] Fourdee commented on #567
@whhsn

Not sure yet, i'll run some tests, report to ARMbian and see if a workaround is even possible.

[2017-01-28 12:49] Fourdee commented on #567
M1:
[code]

[2017-01-28 13:16] Fourdee commented on #548
H3 audio commits 4.10
https://github.com/torvalds/linux/search?p=1&q=h3+audio&type=Commits&utf8=%E2%9C%93

[2017-01-28 13:36] Fourdee commented on #733
@Stormhunter632

I've updated the AmiBerry image also. Simply download, write to SD card and poweron:
http://dietpi.com/downloads/images/DietPi-AmiBerry_RPi-armv6-(Jessie).7z

I've tested here, working fully and automatic login.

If you could test this image on another RPi system, i'd be grateful.

[2017-01-28 13:54] Fourdee commented on #736
- Fresh install of testing branch (v143)
- OpenSSH server
- ```dietpi-software``` > Install Squeezelite + Squeezebox

![image](https://cloud.githubusercontent.com/assets/7077026/22397086/55145fbc-e561-11e6-851f-d6a1bf1ed1f1.png)

- reset
- ```dietpi-software``` > Install Squeezelite 🈯️

LMS looks like cause

[2017-01-28 14:09] Fourdee commented on #736
Yep, LMS was the issue:
[code]

[2017-01-28 14:12] Fourdee commented on #736
re-test passed. Completed.

[2017-01-28 14:12] #736 closed, assigned to nobody

[2017-01-28 15:19] mknrls commented on #448
@Fourdee so you still want the dashboard to be  self contained meaning without using a webserver?

[2017-01-28 16:16] Fourdee commented on #735
Also includes support for MPD control by default.

[2017-01-28 16:45] Fourdee commented on #735
Completed

[2017-01-28 16:59] Fourdee commented on #448
@mknrls

Yep, self contained, that was the plan, try and keep it minimal. But at this stage, I am up for anything.

[2017-01-28 17:22] Fourdee commented on #735
Lets add support for Kodi controls as default also

[2017-01-28 17:35] Fourdee commented on #735
Need to also reduce key_repeat rate, single press = multiple presses.

[2017-01-28 17:49] Fourdee commented on #735
And done

[2017-01-28 17:49] #735 closed, assigned to nobody

[2017-01-28 18:57] Fourdee opened #737 "DietPi-Software | Update RPi cam (DietPi Cam variant)"

[2017-01-29 07:30] crazyquark opened #738 "NanoPi NEO Air - no bluetooth"
Looks like bluetooth is not working. I am on the latest DietPi version.
In dmesg I get these errors:
[code]
If I do a ```hcitool scan``` I get:
[code]

Also the ap6212-bluetooth service is in failed state:
[code]

[2017-01-29 07:33] crazyquark commented on #738
After installing ```rfkill``` which seems to have been missing I still get the following errors:
[code]

[2017-01-29 07:36] crazyquark commented on #738
```lsmod``` gives:
[code]

[2017-01-29 14:05] Fourdee commented on #732
Tasks:
- 🈺 HDMI audio not available for 4.9 currently: https://forum.armbian.com/index.php/topic/397-mainline-a10a20-audio-driver/#entry24186
- 🈯️ Set BPi Pro to CARD 0 as default, 3.5mm support only
- 🈯️ Apply mixer settings when default card is selected: https://github.com/Fourdee/DietPi/issues/732#issuecomment-275702873
- 🈴 Set 4.9 image live (replacing 3.x). Need to wait for v143 release due t

[2017-01-29 14:56] Fourdee commented on #738
@crazyquark

Thanks for report. Which kernel are you running?
```uname -a```

[2017-01-29 15:14] Fourdee commented on #548
### JustBoom IR remote install script:
- Installs ```lirc``` ```mpc```
- Enables ```dtoverlay=lirc-rpi``` ```dtparam=gpio_in_pin=25``` in ```config.txt```
- Keys configured to work with Kodi and MPD (```justboom-ir-mpd.service```) by default
- Reduced key_repeat rate from default (less chance of accidental key repeats)
- See sourcecode: http://dietpi.com/downloads/misc/community/install_justboom_i

[2017-01-29 15:40] Fourdee commented on #719
### Debugging enabled for v143:

If you experience and issues with missing ```/DietPi``` or ```/boot``` files, on a fresh install , please paste results of the following command
[code]

[2017-01-29 15:51] Fourdee commented on #732
Image live.

[2017-01-29 15:51] #732 closed, assigned to nobody

[2017-01-29 16:25] Stormhunter632 commented on #733
ok i will do that.

[2017-01-30 01:41] TominJoseph18 commented on #650
Hi.

I want to send interrupts through my gpio pins. I am using the wiringPi Library for this purpose. When a code to wait for interrupt is run ,the ethernet connection to my laptop breaks and it says broken pipe error.

Could someone please help me to execute a command X in C when an interrupt event occurs which also prevents any kind of switch debouncing and transient voltages.

Thank you.

[2017-01-30 07:20] crazyquark commented on #738
On the DietPi setup, the kernel is:
[code]
The stock Ubuntu Core uses:
[code]

[2017-01-30 11:49] tusharvb19 commented on #688
Help me please to solve this...I am not able to use UART1!

[2017-01-30 12:18] Stormhunter632 commented on #733
Tried it on RPI 2 with a normal micro SD 32gb card and PSU 5v 2.5a and it came up with Line1120 syntax error near unexpected token '{'

This might be due to the scan disc not sure.

Now running it on same set up with a new Samsung 32gb SD and it is loaded straight into Amiberry no problems. Also tried it on RPi 3 and fine on there as well.

I just need to now find out how to load Roms and Kickstar

[2017-01-30 13:24] Fourdee commented on #733
@Stormhunter632

Thanks for running the additional tests 👍
Yep, sounds like an issue with the SD card used. Possibly faulty.

You may find this guide useful:
http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=64#p64

[2017-01-30 13:28] Fourdee commented on #738
@crazyquark

Thanks, i'll check the stock Ubuntu core image, and see if the service for bluetooth attach is any different. It may be a issue specific to 4.9, but we'll take a look.

[2017-01-30 13:50] Fourdee opened #740 "DietPi-Services | Add support for custom services from file"

[2017-01-30 13:57] Fourdee commented on #740
include file = ```/DietPi/dietpi/.dietpi-services_include```

example usage:
[code]

[2017-01-30 14:04] Fourdee commented on #740
Available for v144, can be tested now with:

[code]

- Then create include file as per: https://github.com/Fourdee/DietPi/issues/740#issuecomment-276068522
- Give DietPi control of services:
[code]

[2017-01-30 14:22] Fourdee commented on #725
#### Available for testing:

Backup system 1st:
[code]

Install latest kernel:
[code]

[2017-01-30 15:11] Fourdee opened #741 "RPi DietPi Kernel | Missing firmware for bcm (rpi 3 wifi)"
And common USB adapters.

This is due to us clearing the ```/lib/firmware``` folder during our kernel install. We need to also provide, all additional firmware in our Kernel package.

[2017-01-30 15:12] Fourdee commented on #741
Updated RPi images affected by this on dietpi.com:
- 🈯️ DietPi-AmiBerry_v142_RPi-armv6-(Jessie)
- 🈯️ DietPi_v142_RPi-armv6-(Jessie)
- 🈯️ Also applied during v144 update for existing installations.

Manual patch:
[code]

[2017-01-30 15:27] Fourdee commented on #741
CRC for updated image ``` DietPi_v142_RPi-armv6-(Jessie).img```
![image](https://cloud.githubusercontent.com/assets/7077026/22428868/8a839956-e700-11e6-981f-d1a62da7ea54.png)

[2017-01-30 15:31] Fourdee commented on #741
Test installs:
- 🈯️ RPi 3 + Automated WiFi
- 🈯️ RPi Zero + Automated WiFi

[code]

[2017-01-30 15:38] Fourdee commented on #741
Completed.

[2017-01-30 15:38] #741 closed, assigned to nobody

[2017-01-30 15:58] Fourdee commented on #719
- Report 1: http://dietpi.com/phpbb/viewtopic.php?f=11&t=1148&start=20#p5346. Appears ```/DietPi/.ramdisk``` already exists on a fresh boot, causing DietPi-RAMdisk to not copy files to RAM, then, during shutdown, as no RAMdisk, wipes respective ```/boot``` scripts.

[2017-01-30 18:18] gpo123 opened #742 "DietPi-Config | Ondemand geovernor / WiFi driver inconsistency"
**BananaPi Pro:**

1. ondemand governor: sample rate can not be set:
line 1235 in dietpi-config should read: MIN_VALUE=$(( $(cat /sys/devices/system/cpu/cpufreq/ondemand/**min_sampling_rate**

2. image has a little inconsistency: wifi driver brcmfmac is listed in /etc/modules, while in the meantime it's blacklisted in /etc/modprobe.d/wifi_disable.

[2017-01-30 18:41] WolfganP commented on #719
@Fourdee , just to avoid reinstalling from scratch, is there any workaround (ie wget github.com/xyz... ) to recover the /dietpi folder and get the system back to full functionality? (and then dietpi-upgrade for this changes be incorporated in future reboots)
Thx

[2017-01-30 18:46] k-plan commented on #740
Tested, works with `rpimonitor-helper` on NanoPi Neo. 👍

Hope, no need any more to manually edit  `/DietPi/dietpi/dietpi-services` every time I make a `dietpi-update` . 😃

[2017-01-30 18:48] Fourdee commented on #740
@k-plan

Excellent, thanks 👍 . Will mark as completed.

[2017-01-30 18:54] Fourdee commented on #719
@WolfganP

You could recover the scripts from git, however, unfortunately, all the DietPi settings cannot be recovered. These are created and unique to your system installation and setup.

[code]

Following contains ```dietpi-software``` software states and settings, without this file, DietPi assumes nothing is installed and system is essentially a fresh installation.
[code]

Following contains ``

[2017-01-30 19:08] k-plan commented on #740
Nice.

Sorry, but now it's time to make some documentation for `dietpi-services`

Perhaps you could please drop some lines into your forum, like for `dietpi-cron` or `dietpi-process_tool`

http://dietpi.com/phpbb/viewtopic.php?f=8&t=5

[code]

[2017-01-30 19:32] Fourdee opened #743 "C1 | Filesystem expansion no effect"
New image

[2017-01-30 19:35] Fourdee commented on #743
Partition table corruption after our resize?
[code]

[2017-01-30 19:37] Fourdee commented on #740
@k-plan

😉

[2017-01-30 19:42] Fourdee commented on #742
@gpo123

Reason for this:

The blacklist overrides whats in ```/etc/modules```. So for each image, we define the modules the board has in ```/etc/modules```, then apply a blacklist to disable the WiFi/BT modules in ```/etc/modprobe.d/wifi_disable```.

Then when the user enables WiFi in ```dietpi-config```, blacklist is removed, modules are loaded straight away in ```dietpi-set_hardware``` script,

[2017-01-30 20:25] Fourdee opened #744 "General | Samba mounts intermittent during boot"
With thanks to "Sciamano"

```netdev``` in ```/etc/fstab```, appears the cause, not required for SystemD, remove and test.

[2017-01-30 20:29] Fourdee commented on #743
Meverics base image:
[code]

After ```apt-get update && apt-get dist-upgrade``:
- fine

---

Note to self:
- X | ```boot.ini``` we went for ```/dev/mmcxxx``` instead of ```root=UUID=e139ce78-9841-40fe-8823-96a304a09859```, possible cause?
-Y | Is our resize script causing a failure of partition table? Only appears to be on this image. test: Disable resize script and check ```blkid``` for partition

[2017-01-31 08:36] mlamie commented on #129
Hi Fourdee, can you include Domoticz to the DietPi software list? They have improved there installtion method and now is fully installed with 1 command. I already tested it and works great on DietPi.

`sudo curl -L install.domoticz.com | sudo bash`

See also: https://www.domoticz.com/wiki/Installing_and_running_Domoticz_on_a_Raspberry_PI

[2017-01-31 15:57] Fourdee commented on #743
Just put Meveric's original image under loop, looks like partition tables are already corrupted:
![image](https://cloud.githubusercontent.com/assets/7077026/22472554/e49dd2a8-e7cd-11e6-8ee5-7dd17682ef37.png)

[2017-01-31 18:01] thechildofroth commented on #740
Thanks for this, sadly doesn't seem to work for gmediarender at the moment (although just as likely to be user error as a real issue)

[2017-02-01 02:01] joshuamcginnis commented on #719
I just experienced this exact issue on my Odroid C2 with a fresh install on an emmc.

[code]

Let me know If there's any other diagnostic information I provide.

[2017-02-01 09:24] studioai commented on #740
Works fine on XU4.

List of daemons I added

- Tonido
- couchpotato
- gitea

[2017-02-01 13:33] dschwarting commented on #725
If have problems with that kernel. Networking did not work (either eth0 nor wlan) after this kernel update.
Here are the steps I have done...

1. upgrade to v143 with dietpi-update (including reboot)
2. dietpi-backup 1 (this saves my sbc)
3. wget http://dietpi.com/downloads/binaries/nanopi/dietpi_m2_kernel.7z
4. 7z x -y dietpi_m2_kernel.7z -o/
5. rm dietpi_m2_kernel.7z
6. reboot

As my NanoPiM2 wa

[2017-02-01 14:29] Fourdee commented on #719
Report (user ```pi```):
http://dietpi.com/phpbb/viewtopic.php?f=11&t=1135&p=5391#p5391

[2017-02-01 14:30] Fourdee commented on #719
@joshuamcginnis

Thanks 👍

Could you please provide the results of:
[code]

And, if possible, upload the file so we can check state:
[code]

[2017-02-01 15:06] Fourdee commented on #740
Completed: http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=5393#p5393

[2017-02-01 15:06] #740 closed, assigned to nobody

[2017-02-01 15:14] Fourdee commented on #744
Completed.

[2017-02-01 15:14] #744 closed, assigned to nobody

[2017-02-01 15:32] Fourdee commented on #743
Although Meveric's original image appears to have a corrupt partition table (at least in loopback). Issue is caused by known (i forgot lol) SD card incompatibly with C1. Hardware limitation on C1:
- 🈴 Verbatim c10
- 🈯️ Sandisk Extreme

To do:
- 🈯️ Upload latest image
- 🈯️ Inform Meveric of our results

[2017-02-01 15:37] Fourdee commented on #743
Completed, v143 C1 image live.

[2017-02-01 15:37] #743 closed, assigned to nobody

[2017-02-01 15:57] Fourdee commented on #719
Boards reported with this issue occurring:
- RPi 2/3 | + ```FAT16```
- C2 | + ```FAT32/lba```
- OPi Zero | + ```FAT16/lba```
- OPi Plus | + ```FAT16/lba```

All images above are using the updated image creation process.

[2017-02-01 16:06] Fourdee commented on #725
@dschwarting

Thanks for the results.

USB WiFi may be a lack of firmware, i'll check that.

However, the onboard LAN should be functional, at least it was for me.

Essentially, creating this kernel was a case of following this guide:
http://wiki.friendlyarm.com/wiki/index.php/NanoPi_M2#Make_Your_Own_OS_Image

@dschwarting
I was going to ask which revision board you have, although, mine doesn't st

[2017-02-01 17:58] dschwarting commented on #725
**@Fourdee**
I also could not find a rev. number on my PCB and the lan chip is completely identical. USB Wifi works pretty reliable with the old Kernel (Asus USB-N10 Nano N150 with Realtek RTL8188CUS chip set / rtl8192cu).

[2017-02-01 19:28] Fourdee commented on #719
@midwan  @WolfganP
Hi guys,

Can you remember how you wrote the image to SD card, win32diskimager.exe ?

[2017-02-01 19:31] midwan commented on #719
@Fourdee
I usually do it with Win32DiskImager, but lately I've been testing Etcher also.

[2017-02-01 19:36] joshuamcginnis commented on #719
@Fourdee

[code]
[dietpi-ramlog.txt](https://github.com/Fourdee/DietPi/files/745922/dietpi-ramlog.txt)

I installed to emmc via: `sudo dd if=path/to_img of=/dev/disk4`

[2017-02-01 19:39] Fourdee commented on #719
@joshuamcginnis

Thanks, look like a possible script/echo leak in tty. I'll retrace steps in code, see if we can figure this one out.

[2017-02-01 19:42] midwan commented on #719
@Fourdee
Not sure if you still need this, but just in case:

[code]

[2017-02-01 20:51] WolfganP commented on #719
@Fourdee I use Rufus for the img writing.

[2017-02-01 21:08] Stormhunter632 commented on #733
is it possible to load midnight commander and PUTTY ssh into Amiberry as all of my things are run on Linux and Raspberry Pi. The only Microsoft i have is on a small laptop so hard to work with and linux is easier for me to uas SSH and transfer files that way.

[2017-02-01 22:51] LexiconCode commented on #700
Defining Well-Known Uniform Resource Identifiers (URIs)
https://tools.ietf.org/html/rfc5785#section-3

[2017-02-02 19:21] Thijzer opened #745 "transmission-daemon eating op my memory"
board : odroid C1

Service "transmission-daemon" with default settings was running in hi memory usage.
found 300MB memory usage after minutes running with 2 torrents.

**Possible fix:**

Changing this value fixed it for me.

edit `/etc/transmission-daemon/settings.json`

change the value from to "cache-size-mb" to 4,

[code]

[2017-02-02 20:35] Fourdee commented on #733
@Stormhunter632

OpenSSH server is installed by default on AmiBerry image. You can use WinSCP for file transfers:
https://winscp.net/eng/download.php
Putty can also be used for SSH.

MC can be installed optionally, by using ```dietpi-software``` > Linux Software > Midnight commander

[2017-02-02 20:43] Fourdee opened #746 "Neo 3.x"

[2017-02-02 20:50] Fourdee commented on #745
@Thijzer

Hi,

DietPi allocates 1/7th of total RAM for BitTorrent cache. This vastly reduces IO thrashing on flash media, improving the performance of BitTorrent downloads and increasing flash media lifespan.

I'll mark this as closed, please re-open if required.

[2017-02-02 20:51] #745 closed, assigned to nobody

[2017-02-02 21:06] Thijzer commented on #745
@Fourdee, Thank you for your quick answer.

I thought that would be the reason :)

But honestly, who in his right mind would run transmission on the SD card?

[2017-02-02 21:26] Stormhunter632 commented on #733
Thank you for your help. i will have a practice at setting up amiberry and other bits over weekend.

[2017-02-03 04:29] joshuamcginnis opened #747 "Kodi Fails to Start"
I just installed Kodi from a fresh image using `dietpi-software`. On reboot, I attempted to start kodi and got the following errors:

[code]

[2017-02-03 12:18] Fourdee opened #748 "DietPi-Config | Allo Boss HiFi DAC"
RPi only
Requires kernel + driver

[2017-02-03 12:23] Fourdee commented on #747
@joshuamcginnis

Thanks for the report.

Odroid C2?

Can you please attach Xorg log?:
[code]

[2017-02-03 12:24] Fourdee commented on #745
@Thijzer

You'd be surprised lol 😃

[2017-02-03 12:45] Fourdee opened #749 "DietPi-Software | Update Roon Bridge to 1.3"
- also supports ARM64

[2017-02-03 12:55] Fourdee commented on #749
[code]

Manual update
[code]

[code]

[2017-02-03 13:23] Fourdee commented on #749
Completed

[2017-02-03 13:26] Fourdee opened #750 "DietPi-Software | NoMachine armv7 binary offline"

[2017-02-03 13:29] Fourdee commented on #750
Completed

[2017-02-03 13:29] #750 closed, assigned to nobody

[2017-02-03 15:44] Fourdee commented on #748
- 🈯️ DietPi RPi Kernel updated
- 🈯️ DietPi-Config entry

[2017-02-03 15:45] Fourdee commented on #748
Sending to Janis for testing, waiting results

[2017-02-03 20:07] joshuamcginnis commented on #747
@Fourdee

Yup, Odroid C2. Also, `cat: /var/log/Xorg.log: No such file or directory`.

[2017-02-03 20:31] Fourdee commented on #475
RPi 3 onboard WiFi, not functional after reboot:
http://dietpi.com/phpbb/viewtopic.php?f=9&t=986&p=5434#p5407

[2017-02-03 20:35] Fourdee opened #751 "DietPi-Drive_Manager | Support multiple partitions & C2 EMMC + SD combo"

[2017-02-04 10:58] ad5trett opened #752 "VNC strange behaviour after update to 143"
After updating to 143, whenever i start a VNC session in VNC Viewer on my Mac (tightvnc server on Pi2), any window that is opened starts in the top left corner of the screen and i'm unable to move it around the screen or resize it. Any windows that open after that do the same and are on top of the previously opened window meaning you can't select the one underneath?

I've tried the built in VNC vi

[2017-02-04 12:45] Fourdee commented on #749
Will also apply the update during v144 patch

[2017-02-04 12:46] Fourdee commented on #749
Completed

[2017-02-04 12:46] #749 closed, assigned to nobody

[2017-02-04 12:48] Fourdee commented on #747
@joshuamcginnis

Strange, possibly this hasn't been installed.

Could you please send us a bug report, after you receive this error?
http://dietpi.com/phpbb/viewtopic.php?f=8&t=499#p2184
It will contain all logs and installed software, should help us find the cause.

[2017-02-04 12:58] Fourdee commented on #733
@Stormhunter632

No worries, let me know if any issues.

[2017-02-04 17:25] Fourdee commented on #746
http://dietpi.com/downloads/images/no_release/(NR_3.x)_DietPi_NanoPiNEO-armv7-(Jessie).7z

Confirmed working with USB DAC.

[2017-02-04 17:25] #746 closed, assigned to nobody

[2017-02-04 17:26] Fourdee commented on #717
3.x has been reported to offer stable USB DAC operation, ~~and we will offer that image as an alternative to the 4.9:~~

3.x is now default image.

[2017-02-04 17:26] #717 closed, assigned to Fourdee

[2017-02-04 17:29] joshuamcginnis commented on #747
@Fourdee All set. Reference CODE: 5bfef0a1-0e7a-468d-b535-c641bb61f088-0

[2017-02-04 17:32] Fourdee commented on #567
No fix.
Not wasting any more time trying to deal with ~~ARM~~ThomasKaiserBian.

We'll wait for ARMbian to reach 4.10 (functional sound).

[2017-02-04 17:32] #567 closed, assigned to Fourdee

[2017-02-04 17:32] Fourdee commented on #729
No fix.
Not wasting any more time trying to deal with ~~ARM~~ThomasKaiserBian.

We'll wait for ARMBian to reach 4.10 (functional sound).

[2017-02-04 17:32] #729 closed, assigned to nobody

[2017-02-04 17:34] Fourdee commented on #748
Confirmed working, thanks to Janis. Marking as closed.

[2017-02-04 17:34] #748 closed, assigned to nobody

[2017-02-04 17:37] Fourdee commented on #710
Nope.
Can see this ending up like PiHole did. We'd probably have to fork Volumio to create a stable installation method. Then, it would be a case of constant maintenance and trying to keep updated with official.

[2017-02-04 17:37] #710 closed, assigned to nobody

[2017-02-04 17:43] Fourdee commented on #752
@ad5trett

Thanks for the report.

👍

I run tightvnc on my XU4, although different device, that remembers window locations.

I'll try to replicate on a RPi using Windows + RealVNC viewer.

[2017-02-04 17:49] Fourdee commented on #747
@joshuamcginnis

Thanks, looks fine.

I've noticed you are not using the ```dietpi-autostart``` feature to launch kodi, how are you trying to launch Kodi from command line?

Try running the command, this basically runs ```xinit kodi```, creating an instance of X for Kodi:
[code]

Xorg.log doesn't exist, if the issue occurs with the above, the log file should be generated, try pasting the results a

[2017-02-04 18:04] Fourdee commented on #743
Meveric confirms issue : https://github.com/Fourdee/DietPi/issues/743#issuecomment-276403877 is due to image not containing 1 sector of free space at end of last partition. Bug with loopback, not the image.

[2017-02-04 19:23] Fourdee opened #753 "General | Updating PiHole overwrites lighttpd.conf"
We prevent this in the ```dietpi-software``` installation, however, ```pihole -up``` will overwrite the lighttpd.conf.

Options:
- Inform users to backup lighttpd before updating, then move it back after update
- Find a method in ```pihole``` -up that prevents overwrite of lighttpd.conf

[2017-02-04 19:37] Fourdee commented on #719
I believe this issue may be related to a few others users are reporting, eg:
- C2 wont boot on EMMC after updating.

I'am going to change the way we finalize images as I believe this may be a cause. New system with new methods. Once the main culprit images have been updated, I'll post here and we'll need some testers:
https://github.com/Fourdee/DietPi/issues/719#issuecomment-276695879

I don't bel

[2017-02-05 01:55] joshuamcginnis commented on #747
I was attempting to start via `kodi`. `startkodi` seems to work just fine; though, I'm not sure how I would have know that! Anywho, seems like we can close this one if you'd like.

[2017-02-05 10:50] k-plan commented on #753
Hmm, a backup does `pihole -up` at the moment by default.

[code]

After this, I do :

[code]

... and I will be back in business.
Can this be a option? Can DietPi have his own pihole update script?

[2017-02-05 11:15] dschwarting commented on #725
**@Fourdee**

I've tested the kernel update again using a fresh new installation without wlan (/boot/dietpi.txt: Ethernet_Enabled=1 / Wifi_Enabled=0). However the onboard LAN IS functional even after the kernel update (sorry, please excuse me), but as testet before if wlan is used (/boot/dietpi.txt: Ethernet_Enabled=0 / Wifi_Enabled=1) the wlan support (Asus USB-N10 Nano N150 with Realtek RTL8188C

[2017-02-05 12:52] Fourdee commented on #747
@joshuamcginnis

No worries, online doc has this info: http://dietpi.com/phpbb/viewtopic.php?f=8&t=5#p43

I'll mark as closed.

[2017-02-05 12:52] #747 closed, assigned to nobody

[2017-02-05 13:00] Fourdee commented on #753
@k-plan

Yes, but then the issue would be trying to remind users to use that, rather than ```pihole -up```. In effect, we could simply say do this as you mentioned:
[code]

---

- 🈴 mmm, wonder if we made empty file ```/etc/lighttpd/lighttpd.conf.orig```, and read only, that might prevent ```mv```.

Would work for this:
https://github.com/pi-hole/pi-hole/blob/master/automated%20install/basic-insta

[2017-02-05 15:08] Fourdee commented on #475
VNC4, and tightvnc server changed to tigervnc:

[code]

systemctl status vncserver.service -l
[code]

[code]

Seems to run, unable to connect...

[2017-02-05 15:32] Fourdee commented on #730
No response, making as closed.

[2017-02-05 15:32] #730 closed, assigned to nobody

[2017-02-05 15:34] Fourdee commented on #691
@crustovsky

Marking as closed. Please re-open if required.

[2017-02-05 15:34] #691 closed, assigned to nobody

[2017-02-05 15:50] Fourdee commented on #725
@dschwarting

Thanks for the report. I built the official kernel, as per FriendlyARM's process, we can assume "latest" version: http://wiki.friendlyarm.com/wiki/index.php/NanoPi_M2#Make_Your_Own_OS_Image

the cpufreq is constantly 1,4 GHz.

Strange, if CPU temps are below 80'c~, must be a bug with thermal throttling. Or a possibility that thermal throttling is not functional on the Ubuntu kernel,

[2017-02-05 16:05] Fourdee commented on #725
@dschwarting
Another possibility is that the Ubuntu Kernel may be reporting 1.4GHz, but isn't actually running at that (eg: Odroid C2 2GHz 😉 )

Only way to find out is to benchmark CPU on both Ubuntu and DietPi images.
```--cpu-max-prime=100000 ``` should take 60 seconds, increase as needed.
[code]

[2017-02-05 17:04] joshuamcginnis commented on #747
Thanks as always.

[2017-02-05 17:13] Fourdee commented on #719
Ok, C2 image:

Loopback reports FAT16, 7Zip reports FAT32:
![image](https://cloud.githubusercontent.com/assets/7077026/22628120/5b63f628-ebc6-11e6-91e2-3234443f0ee3.png)

---

When running a check/repair on this partition (/boot), image is then corrupted with I/O errors on next loopback and mount.

---

Test:

- Manually delete and recreate partitions, boot is now fat32
- Copy /boot and /rootfs fi

[2017-02-05 19:53] dschwarting commented on #725
@Fourdee

Okay, here are the results...

NanoPiM2 Benchmark:

latest DietPi Kernel:
Linux NanoPiM214 **_3.4.39-s5p4418_** #4 SMP PREEMPT Thu **_Aug 11_** 13:54:36 HKT **_2016_** armv7l GNU/Linux

root@NanoPiM214:~# sysbench --test=cpu --cpu-max-prime=100000 --num-threads=4 run
sysbench 0.4.12:  multi-threaded system evaluation benchmark

Running the test with following options:
Number of threads:

[2017-02-05 20:01] Fourdee opened #754 "DietPi-Software | NAA Daemon fails to install"
Thanks to Rene for reporting this.

URL links for required Stretch binaries have been dropped/updated.

[2017-02-05 20:04] Fourdee commented on #754
Completed.

[2017-02-06 13:53] Fourdee commented on #725
@dschwarting

Thanks for those results, very interesting 👍

Is this the same NanoPi M2 device, used in both tests?

[2017-02-06 15:19] Fourdee commented on #719
Lets update our images (also includes updated ```dietpi-ramdisk``` forcing data sync after run), recreating the partitions after image read:
https://github.com/Fourdee/DietPi/issues/719#issuecomment-277533451
- 🈯️ C2 | tested, now live download
- 🈯️ RPi | tested, now live download
- 🈴 OPi Zero  ~~ FAT16/lba | ```/boot/armbianEnv.txt``` > ```rootdev=/dev/mmcblk0p2``` 🈴 |  ```/boot/armbianEnv.txt```

[2017-02-06 18:01] dschwarting commented on #725
**@Fourdee**

Yes. Same Device, same active cooling, same environment (I have only changed the sdcard).

I'm crunching workunits for Einstein@home with various devices. None is so bad as the NanoPi M2 device and this is really disappointing. Why? Because the NanoPi M3 is my best device. They have similar cpu's (M2: S54418 0.4-1.4 GHz vs. M3: S56818 0.4-1.4 GHz) but the cpu performance is as differ

[2017-02-06 22:53] ogero commented on #724
I'm in the same situation, (WiFi dongle only works when ETH cable plugged), but dumb me, I disabled ETH adapter hoping the WiFi adapter would come up as fallback and... nope :(
Is there any way to re-enable ETH by editing some file like the one for initial setup, so I can run the `dietpi-update`?
Or will need to do a fresh reinstall?
(This Pi has now zero connectivity and its hdmi port is broken)

[2017-02-06 23:20] ogero commented on #724
Don't mind me.. after some unplug-plug cycles, somehow, the WiFi dongle flashes and got a stable connection :)

[2017-02-07 10:35] elRadix opened #755 "Dietpi-Software - Fails Internet connection check"
Hi,

I just filled a bug report 'Reference CODE: 6e243236-c63d-4315-81cd-eb7b2699e8fd-0'

I have issues installing dietpi-pacakges, it checks for internet connections and it refuses to instal any packages.

My internet connection is working fine, i'm able to apt-get update and install other packages through apt.

Sidenote, I'm running dietpi on a raspi3

Thank you for looking into my case.

[2017-02-07 12:08] midwan opened #756 "DietPi-Software | Update Amiberry to v2.1"
@Fourdee
I've just released a new stable version of Amiberry, it would be great if we could update the DietPi repo with it (through dietpi-update).

The current version of Amiberry (v2.1) can now be found here: https://github.com/midwan/amiberry/releases/tag/v2.1

I'm working on getting the SDL2 version ready, which is currently sitting on it's own branch. Once that is ready, I'll notify you for a

[2017-02-07 18:13] Fourdee commented on #756
@midwan

Excellent 👍

Yep, i'll add this to v144, will get round to it ASAP.

[2017-02-07 18:24] WolfganP commented on #719
@Fourdee I'm sorry I've missed the images' update. I was waiting for a new version to re-write my SD and start config from scratch to test and get my system back to stability. Do you suggest to wait to v144 to test the new images + new commits related to this issue?

[2017-02-07 18:30] Fourdee commented on #753
🈴 Another option, if we want to "fix" this from our side. Set ```lighttpd.conf``` to read only, when user installs PiHole.
[code]

[2017-02-07 18:36] Fourdee commented on #725
Aye, looks a good spec board. Still on my wish list :)

We might be able to pull off the kernel, uboot from the Ubuntu image, then test on DietPi image and see if that resolves the drop in clocks. Will take a look when I can.

[2017-02-07 20:30] dschwarting commented on #725
That's cool! No need to hurry. If it's ready, I'll be there to test it.
Thx!

Dirk

[2017-02-07 22:20] joshuamcginnis commented on #751
Looking forward to this!

[2017-02-08 10:37] tusharvb19 commented on #688
Is there anyone who can make the ttyS1 work to get connected to various modules that operates on UART i.e. TX-RX. I have to interface SIM900 module(sic).

[2017-02-08 14:34] Fourdee commented on #719
@WolfganP

You can test these images now.

The new images are essentially v143.5 and contain all the current commits. In other words, they are v144 at this time, containing all the updated code.

[2017-02-08 17:29] Fourdee commented on #756
- 🈯️ Update binary download on dietpi.com
- Launch emulator as a normal (non-root) user
- 🈯️ Launch the emulator from the console (not X11)
- 🈯️ Already applied to RPi image | The Scroll Lock fix needs to be applied to the system otherwise the Scroll Lock LED will not work
- 🈯️ Update/replace default config

[2017-02-08 21:54] trajano commented on #229
@axel-h I presume you tried `touch /forcefsck` and it doesn't really help with the file system corruption errors either like I did.

[2017-02-09 13:23] Fourdee commented on #753
Added info to online docs, marking as closed:
http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=174#p174

[2017-02-09 13:23] #753 closed, assigned to nobody

[2017-02-09 13:47] Fourdee commented on #737
[code]

^^ in the bin.

- Video record works, however, button state does not change, cannot be stopped. No errors in lighttpd log |
🈯️ ```ln -sf /run/shm/mjpeg/status_mjpeg.txt /var/www/dietpicam/status_mjpeg.txt```

Not going to run a patch reinstall for this one, as, will overwrite and replace all user settings. New installations and manual reinstall only:
[code]

[2017-02-09 14:10] Fourdee commented on #737
Completed.

[2017-02-09 14:10] #737 closed, assigned to nobody

[2017-02-09 15:33] Fourdee commented on #738
Fresh build with ARMbuild tools, breaks WiFi.
[code]
[code]

[2017-02-09 15:43] Fourdee commented on #738
I refuse to deal with ~~ARM~~@thomaskaiser Bian. Marking this as no fix.

[2017-02-09 16:55] Fourdee opened #757 "DietPi-Config | Audio Options: Low power mode"
For maximum reduced power load (and noise) from PSU, in audio usage environments.

[2017-02-09 16:55] Fourdee commented on #757
- Set powersave CPU gov | https://community.roonlabs.com/t/roon-bridge-for-arm-a-beginner-s-guide-to-raspberry-pi-and-cubox-i/10138/152?u=dan_knight
- Disable HDMI output

[2017-02-09 17:12] elRadix commented on #755
@Fourdee can you let me know what IP/URL address does dietpti-software run an ipcheck
I don't understand why all the rest works; I have full WAN connection to the internet with my pi3

[2017-02-09 18:08] Fourdee commented on #755
For the main connection test, we pull in url from ```/etc/apt/sources.list```:
https://github.com/Fourdee/DietPi/blob/master/dietpi/dietpi-software#L10576

eg:
[code]

If this is happening after selecting software for install, which software?

[2017-02-09 18:41] elRadix commented on #755
@Fourdee its happening on all packages to be installed on dietpti-software,  its doing internet check which  I found annoying. Is there a way to disable it temporarily so that I can still install packages through dietpi?

Running manually apt-get update and update install xxxx works perfectly

deb ftp://ftp.fu-berlin.de/linux/raspbian/raspbian jessie main contrib non-free rpi

[2017-02-09 19:47] elRadix commented on #755
I think it's a bug, while I have changed the apt mirror through dietpi-config, dietpi-software still is looking/expecting to **ftp.debian.org** instead the current apt-mirror.

I have added ftp.debian.org in the apt.source.list, and now it works - is this hardcoded ?

 [Info] Initializing database, please wait...
 [Info] Reading database, please wait...

 DietPi-Software
──────────────────────────

[2017-02-10 06:45] LexiconCode commented on #700
When using certbot special consideration is needed for well-known URLs.
[code]
https://certbot.eff.org/#debianother-nginx

[2017-02-10 07:21] LexiconCode opened #758 "Dietpi-Sofware | Consider dropping support for Lighttpd"
One might consider discontinuing Lighttpd as a DietPi Web server in favor of Nginx. There are a number of reasons that come to mind.

1. Dietpi development overhead
2. Community support
4. Current integration with Dietpi
5. Performance - Cost benefit analysis

It takes a lot of effort to to build and maintain Web server configurations for all the software that continues to grows by the ticket. By

[2017-02-11 15:34] Fourdee commented on #756
@midwan

~~Can I see your service for fastboot uae4arm under user pi?~~

---

[code]

Results in:
[code]

---

- Running as user ```amiberry``` and launching uae4arm with ```sudo```. Fine, but elevates to root, scroll/num/caps lock not functional.
- ```sudo -u amiberry``` under root?, same ```Feb 12 15:39:56 DietPi bash[100]: SDL could not initialize! SDL_Error: Unable to open a console terminal``

[2017-02-11 20:55] Fourdee commented on #757
![image](https://cloud.githubusercontent.com/assets/7077026/22857407/62a1dc68-f09c-11e6-90c6-048487d7b929.png)

[2017-02-12 14:26] Fourdee commented on #757
Completed.

[2017-02-12 14:26] #757 closed, assigned to nobody

[2017-02-12 14:45] Fourdee opened #759 "RPi | Add support for Edimax EW-7811UAC"
7392:a812

[2017-02-12 15:51] Fourdee commented on #756
@midwan

Never mind, sussed it ```StandardInput=tty```, all lock keys now functional, running under user ```amiberry``` 👍 :
[code]

- 🈴 Keyboard input only effective on rear FB (terminal), not uae4arm

---

#### Amiberry user tests:

🈴 No scroll lock:
[code]

🈴 No input from keyboard, input goes to rear FB:
[code]

🈴  Login as user ```amiberry```, manually launch via cmdline | Lock keys not functi

[2017-02-13 07:25] kronflux commented on #758
I agree and disagree.
nginx is certainly more popular, better supported, but dietpi seems to be more along the lines of supporting as many preferences as possible with ease of use in mind.

I can't really agree that keeping it would have any negative impact, and nginx is always an option.

There are certainly things that require lighttpd over nginx - pihole for example uses it by default, and alth

[2017-02-13 13:23] Fourdee commented on #733
@Stormhunter632
I'll mark this as resolved. Please reopen if required.

[2017-02-13 13:23] #733 closed, assigned to nobody

[2017-02-13 13:28] Fourdee commented on #719
Ok, informed users on forums, awaiting test results of the new images, from users who experienced the missing ```/DietPi``` folder/files:
http://dietpi.com/phpbb/viewtopic.php?f=11&t=1148&p=5617#p5617

[2017-02-13 13:51] WolfganP commented on #719
I rebuilt my SD card from scratch a few days ago with the 1.43.5 RasPi image, using the system as plex media & file server, no issues observed so far. Thanks a lot @Fourdee !

[2017-02-13 14:16] Fourdee commented on #719
@WolfganP

Excellent, but please let us know if this changes.

[2017-02-13 16:10] Fourdee commented on #755
@elRadix

Can you please send me a bug report, i'd like to check your system setup:
http://dietpi.com/phpbb/viewtopic.php?f=8&t=499#p2184

[2017-02-13 16:22] elRadix commented on #755
bug report 'Reference CODE: 6e243236-c63d-4315-81cd-eb7b2699e8fd-0'
is this good?

[2017-02-13 18:22] Fourdee commented on #759
Compile and install driver module:

[code]

[2017-02-14 15:07] Fourdee commented on #756
@midwan

Ok, i'am going to release this with the following known issues:
- Lock keys not functional

I'll create another ticket for running under another user, as this is starting to hold up v144's release. I will run further tests and hopefully get that patched in for v145.

Let me know if you disagree with this, and/or, would rather delay the 2.1 update until lock keys are functional (this will

[2017-02-14 15:14] midwan commented on #756
@Fourdee
Sorry, I've been a little busy and I couldn't help much these days... :(

Are the lock keys not functional at all, or just their LEDs ?

[2017-02-14 15:19] Fourdee commented on #755
@elRadix

Thanks 👍

I believe this may be due to the Ubuntu repo you have added. Did you install the Key for this repo?:
[code]

Ah yes, this is a bug, fails to scrape the url for connection test when entry does not contain ```http```. We'll get that fixed.

[2017-02-14 15:21] Fourdee commented on #755
Scrape fix
![image](https://cloud.githubusercontent.com/assets/7077026/22935093/52d4db44-f2c9-11e6-8b9b-305b2757accb.png)

[2017-02-14 15:26] elRadix commented on #755
Thank you!

Any chance to have sabnzdb in the dietpi repo included ?

[2017-02-14 15:26] Fourdee commented on #755
@elRadix

Resolved for v144, thanks for reporting this.

In the mean time, to resolve now, you can change the apt mirror in ```dietpi-config``` > Networking :NAS/MISC > Apt.
Select any of the entries with ```http```.

[2017-02-14 15:28] Fourdee commented on #755
@elRadix

We already have a ticket for this, not sure when i'll be able to get round to it, but i'll bump it up the pile:
https://github.com/Fourdee/DietPi/issues/731

[2017-02-14 15:36] Fourdee commented on #756
@midwan

No worries, know the feeling 👍

LEDS are not functional, i'll test the other now.

[2017-02-14 15:39] midwan commented on #756
@Fourdee
Ok, if the LEDs are not functional but the Caps Lock key does work (that's the only key that we use in the Amiga anyway, AFAIK) then we could release this with a fix later on.

If the Caps Lock does not function properly (no effect in the text) then I'd prefer we delay this release until v145, so we have enough time to fix it.

[2017-02-14 15:59] Fourdee commented on #756
@midwan

- 🈯️ LEDs are not functional but the Caps Lock key does work

Yep, caps lock works, just the LED has no effect, tested in AmigaDos 1.3.

Ok, so will release updated 2.1 with v144, known issue with keyboard LEDs, attempt resolve in v145. You ok with that?

[2017-02-14 16:01] midwan commented on #756
@Fourdee
Yes, let's go with that :)

[2017-02-14 16:31] Fourdee opened #760 "DietPi-Software | AmiBerry: Keyboard LEDS not functional"
As per:
https://github.com/Fourdee/DietPi/issues/756#issuecomment-279152829

Further testing/methods required.

[2017-02-15 11:59] egrueda opened #761 "MariaDB not installing"
Using a fresh install I try to install lighttpd+mariadb and I get this:

[code]

and
[code]

[2017-02-15 12:23] egrueda opened #762 "[dupe] MySQL not installing"
Can't install mysql using dietpi-software

[code]

[2017-02-15 12:44] Fourdee commented on #756
@midwan

As existing ```.uae``` configs are not compatible with the 2.1 update. We'll skip the patch for automatic upgrade with existing installations. Wouldn't be nice for us to break users config files that they spent time setting up ;)

Existing installations will need to manually reinstall AmiBerry to receive the update.
- Option 1: ```dietpi-software reinstall 108```
- Option 2: ```dietpi-sof

[2017-02-15 12:53] Fourdee commented on #761
@egrueda

Hi, thanks for the report.

Could you please send us a bug report, will allow me to check your system setup:
http://dietpi.com/phpbb/viewtopic.php?f=8&t=499#p2184

[2017-02-15 13:01] midwan commented on #756
@Fourdee
I wasn't aware of any compatibility issues, could you please let me know what you saw?
The config file uses the same settings as the previous version, besides a few new ones (that will default to being disabled if not found anyway), regarding the mapping of controller buttons to enter the GUI or Shutdown the host system.

[2017-02-15 16:12] egrueda commented on #761
Sure!
Reference CODE: fe3353cf-a8dc-44e6-b7c3-23e942d16942-0

[2017-02-15 16:43] Fourdee commented on #756
@midwan

Strange, ran a test on current master install, upgraded to 2.1, config seems fine. Not sure what happened before (probably user error ;)).

Ok, lets get this upgraded during v144 update.

[2017-02-15 16:46] Fourdee commented on #755
Completed.

[2017-02-15 17:00] Fourdee commented on #756
Ok, all done, test install successful. Minus the LEDs which i'll take a look at in v145:
https://github.com/Fourdee/DietPi/issues/760

Great work, excellent update @midwan , the best Amiga experience yet 👍

On a personal note:
I just lost 20 minutes playing Stunt Car Racer lol. So easy to get pulled in 😉

[2017-02-15 17:00] #756 closed, assigned to nobody

[2017-02-15 17:12] Fourdee commented on #762
@egrueda

/var/lib/mysql/debian-*.flag and try installing again.
dpkg: error processing archive /var/cache/apt/archives/mysql-server-5.5_5.5.54-0+deb8u1_armhf.deb (--unpack):

Can you remember:
- What you selected for install, before this occurred?
- Did you run this before trying LLAP (eg: you then installed MariaDB afterwards)? https://github.com/Fourdee/DietPi/issues/761

[2017-02-15 17:56] Fourdee opened #763 "M3 | USB DAC not detected"

[2017-02-15 17:58] Fourdee commented on #763
Appears to show up in ```dmesg```:
[code]

However, not loaded as a USB DAC in modules/aplay:
[code]

[2017-02-16 16:48] trajano opened #765 "touch /forcefsck doesn't fix the file system"
Typically I would use `touch /forcefsck` on a desktop system to make the OS fix the file system for any errors.  However, I found that this does not work or even if it does it does not help with any file system corruption issues.

I would say that they're a problem with the card itself if it weren't for the fact that I can take the same card and do an off-line fsck on it.

I noted it in https://gi

[2017-02-17 13:24] Fourdee commented on #751
Notes:
- After plugging in SD, reboot required to be detected in ```blkid```

Changes:
- We now scrape ```blkid``` to detect and support all drives + partitions.
- UUID is now the default mount type on new drives (excluding any existing ```/dev/sdX``` entries in ```/etc/fstab``` that will override this on existing installations only)
- Mount target locations, when generated, are now based on UUID

[2017-02-17 13:25] Fourdee commented on #751
![image](https://cloud.githubusercontent.com/assets/7077026/23213178/d8f04a90-f901-11e6-99c3-c14972e2213c.png)

[2017-02-17 18:29] trajano commented on #606
I would hold off on using F2FS due to https://github.com/Fourdee/DietPi/issues/765 power fluctuations can kill a raspberry pi installation especially for a writable file system.  The forcefsck recovery does not fix the file system errors as I would expect.

[2017-02-17 18:31] trajano commented on #765
@Fourdee how do you think this would be fixed?  Just curious.

[2017-02-17 18:36] Fourdee commented on #765
@trajano
No idea yet sorry, not had a chance to look into it. Once i've finished a few things up i'll take a look, hopefully next day or two.

[2017-02-17 18:48] joshuamcginnis commented on #751
@Fourdee For some reason, I'm not able to get my 64gb sd card to mount with this update.

[code]

I've installed the update and rebooted with the sd card inserted a couple of times.

[2017-02-17 18:52] trajano commented on #765
NP I thought you had and idea since you put a milestone target already

[2017-02-17 19:36] LambArchie opened #766 "Time is badly out of sync"
I was experiencing a issue of time being out of sink by about 9 hours which was breaking some of my applications.
After looking for a bit it turned out timedatectl had NTP turn off which I turned on by using this command timedatectl set-ntp TRUE and editing the /etc/systemd/timesyncd.conf file to uncomment the Servers line after doing this my issue with the time was fixed.
This could be a issue wi

[2017-02-17 20:20] Fourdee opened #767 "WaveShare32 | Fails to start Xorg"

[2017-02-17 20:33] Fourdee commented on #766
@despicablebapple

Thanks for the report 👍  I'll take a look and see if this effects non-customized installations, as, may be a possible bug at our end.

[2017-02-17 20:36] Fourdee commented on #765
@trajano

Ah yes.
Milestone basically means I'll take a look during work on v145+, and, ensures I do not forget about it 😉

[2017-02-17 20:37] Fourdee commented on #751
@joshuamcginnis

This is still in devolpment at my end and hasn't been synced to testing branch yet (v145)

If you are able to assist us with testing, i'll get this synced tomorrow and let you know when its ready (with instructions for testing branch)?

[2017-02-17 20:39] joshuamcginnis commented on #751
@Fourdee I just noticed you moved this `v145`. When I saw 144 shipped, I assumed this was included. I'll stand by for now and try to test if I can find some time.

[2017-02-17 20:41] Fourdee commented on #751
@joshuamcginnis

Ah yes, apologies 👍

We had to release v144 early, contained critical fixes for most used software and support for new audio DAC's, hence we nudged a few things to v145. Sorry about that, although, this update will make it to v145 😉

[2017-02-17 20:44] Fourdee commented on #754
Links again have been replaced in debian repos.

- 🈯️ Host binaries on dietpi.com and update ```dietpi-software``` with those permanent + static links.

[2017-02-17 20:50] Fourdee opened #768 "DietPi-Software | Download manager (eg: Aria2)"

[2017-02-18 11:45] cellulosa opened #769 "DietPi does not boot after patch 144"
I have just updated diepi with Patch 144 and after rebooting it it won't boot. The SD card now appears unreadable.

[2017-02-18 12:06] WolfganP commented on #766
It happened to me as well when I suffered the empty /dietpi folder issue.
Even is the system boots, there are some system services not starting or behaving wildly. Forcing a clock sync with 'ntpd -gq' got the system back to date temporarily till re-installation.

[2017-02-18 12:56] Fourdee commented on #754
Added additional installation code for Stretch to pull binaries in from APT, needs testing on both Jessie and Stretch:
- 🈯️ Jessie
- 🈯️ Stretch: https://github.com/Fourdee/DietPi/issues/475

[2017-02-18 13:11] Fourdee commented on #769
@cellulosa

Hi, thanks for the report and sorry to hear your having this issue.

Which:
- Device (eg: RPi 3)
- SD card
- Power supply

Also, if you are able to plug in a HDMI cable and monitor, is there anything displayed on the screen (eg: error)? Please attach a photo if you can.

[2017-02-18 13:23] Fourdee commented on #754
Steps to resolve NAA installation for v144:
[code]

Now use ```dietpi-software``` to install NAA daemon.