[2017-12-13 11:10] Fourdee commented on #1303
[code]

Completed.

[2017-12-13 11:10] #1303 closed, assigned to Fourdee

[2017-12-13 13:08] Yury-MonZon commented on #1288
No, it doesn't disconnect this way.
`monzon@MZ-Cloud:~ $ sudo /DietPi/dietpi/dietpi-services stop
[sudo] password for monzon:

 DietPi-Services
─────────────────────────────────────────────────────
 Mode: stop
 Please wait...

 [Ok] cron
 [Ok] proftpd
 [Ok] nginx
 [Ok] php5-fpm
 [Ok] mysql
 [Ok] fail2ban
 [Ok] avahi-daemon
 [Ok] rpimonitor

`

[2017-12-13 13:42] Yury-MonZon commented on #1288
It does disconnect in the middle of installation,
not at the beginning.
[code]
monzon@MZ-Cloud:~ $ sudo dietpi-update 1
 [Info] Checking RootFS R/W access. Please wait...
 [Ok] RootFS R/W access.

 DietPi-Update
─────────────────────────────────────────────────────
 Mode: Checking for DietPi updates
 Please wait...

 [Info] Checking Mirror : http://dietpi.com/downloads/dietpi-update_mirror/master/

[2017-12-14 02:00] DarkElvenAngel commented on #1294
I'm attaching my setup for node-red that runs under it's own user. **UPDATED**
Stop node-red service

``` service node-red stop ```

Next edit the  **/etc/systemd/system/node-red.service** change the User=root to User=node-red

```nano /etc/systemd/system/node-red.service```

[code]
Created a user and group for node-red
```addgroup --system --gid 155 node-red```
```adduser --system --home /mnt/die

[2017-12-14 02:28] DarkElvenAngel commented on #1294
@TerryE for your application you can try using the www-data user but I haven't tested that. I know this setup works been running for 8+ months

[2017-12-14 03:46] Fourdee commented on #1285
Buster notes:
- I've disabled option for now.

RPI:
[code]

C2:
[code]

[2017-12-14 05:31] Fourdee commented on #1288
@Yury-MonZon

[Ok] stop : proftpd
[Ok] stop : nginx
[Ok] stop : php5-fpm
[Ok] stop : mysql
[Ok] stop : fail2ban
[Ok] stop : avahi-daemon
[Ok] stop : rpimonitor
dietpi-wifi-monitor

Ah yes, thats because the updated script is now running, which replaces your dietpi-wifi-monitor changes.

I've disabled control of ```dietpi-wifi-monitor ``` for v160 onwards:
- https://github.com/Fourdee/DietPi/commit

[2017-12-14 05:31] #1288 closed, assigned to nobody

[2017-12-14 05:39] Fourdee commented on #1285
Note to self:
- Check over:
https://github.com/Fourdee/DietPi/issues/1219#issuecomment-347734540

ToDo:
- Automate TZ/Locale??? Had issues with this in the past. Need to research it again.
- Add ARMbian linux kernel to install list, or, add a general "do not remove" ```linux-*``` to script?

[2017-12-14 05:50] Fourdee commented on #1298
@pablopoo

 but php5-fm is configured with only 1 server and 1 child process ( /etc/php5/fpm/pool.d/www.conf

Many thanks for the report 👍 i'll need to investigate. Are you running your VM as single core/CPU?

[2017-12-14 06:10] Fourdee commented on #1285
Ready for early internal testing to fix bugs and improve.

Not stable enough for public users, yet.

Tested:
- 🈯️ Odroid C2 Stretch

[2017-12-14 06:37] Fourdee commented on #1304
30 minute test via Roon, with Shairport-sync GUI open:
- 🈯️ 44kHz 32bit combo384 ```[Ok] shairport-sync    active (running) since Thu 2017-12-14 06:06:27 GMT; 30min ago```
- ```dmesg``` clear

[2017-12-14 06:41] Fourdee commented on #1304
Unable to replicate in test. I'll flag this as caused by https://github.com/Fourdee/DietPi/issues/1303.
If we receive further reports after the v160 release, i'll reopen.

[2017-12-14 06:41] #1304 closed, assigned to Fourdee

[2017-12-14 06:45] Fourdee commented on #1299
@yuret

Thanks for the report 👍

If possible, please could you test following (copy and paste all into term):
[code]

[2017-12-14 06:46] Fourdee commented on #1299
https://github.com/Fourdee/DietPi/issues/1303#issue-281684601

[2017-12-14 08:16] yuret commented on #1299
Thank you! Your solutions works:
DietPi-Services
─────────────────────────────────────────────────────
 Mode: status
 Please wait...

 [Ok] cron      active (running) since Thu 2017-12-14 08:14:18 GMT; 11s ago
 [Ok] isc-dhcp-server   active (running) since Thu 2017-12-14 08:14:20 GMT; 8s ago
 [Ok] hostapd   active (running) since Thu 2017-12-14 08:14:21 GMT; 8s ago

[2017-12-14 08:52] senf666 commented on #871
Just to mention that I encountered the exact same issue on a Mac with PiBaker. After two attempts, I unzipped the AmiBerry zip and then burned the .img and the problem went away.

thanks @lavadrop

[2017-12-14 11:49] TerryE commented on #1294
@DarkElvenAngel, as a general principle you should use separate service accounts for separate services.  That way you have the option of using UID / GID-based access control to isolate web apps from Node RED ones, etc.  Such dynamically allocated service accounts are usually allocated in the 100-499 range<sup>[(1)](https://refspecs.linuxfoundation.org/LSB_3.0.0/LSB-Core-generic/LSB-Core-generic/ui

[2017-12-14 13:43] DarkElvenAngel commented on #1294
@TerryE I choose 55 because I need a static UID that is available on all nodes on the network. 55 is not used.

On FreeBSD, porters who need a UID for their package can pick a free one from the range 50 to 999 and then register the static allocation.

[2017-12-14 14:55] TerryE commented on #1294
Sorry, I didn't realise that you used BSD, Even so, if you want this to apply this over other \*nix platforms then it makes sense also to comply with the Linux Standard Base Core Specification.

[2017-12-14 16:06] pablopoo commented on #1298
@fourdee
Yes, it’s a single core hyper-v vm. Mapping 1 core to max 1 one php-fpm process could do the job in some scenarios, but I think limiting it to 1 thread per fpm process is not enough.

[2017-12-14 16:19] DarkElvenAngel commented on #1294
@TerryE so I will update to UID:gid 155:155 and that should satisfy all requirements, yes?   I've update my setup post.  Thanks for the insight.

[2017-12-14 20:42] MichaIng commented on #1285
@Fourdee

- Yes, the raspberrypi.org repo was always behind: https://archive.raspberrypi.org/debian/dists/ I remember stretch distro to appear there just around it became release for raspbian, long after it became release for debian and long after I switched already to stretch with my RPi. Jessie distro worked fine there, as it mainly provides just firmware/kernel/bootloader. I will upgrade my RPi

[2017-12-14 22:32] kikenoteges commented on #895
+1 I have been searching somthing like this.

[2017-12-15 01:08] Fourdee commented on #1299
@yuret

Legend 👍 Thanks for confirming.

I've applied the fix for v160. Completed.

[2017-12-15 01:08] #1299 closed, assigned to nobody

[2017-12-15 01:09] Fourdee opened #1305 "DietPi-Software | NAA Daemon update installed version"

[2017-12-15 01:16] Fourdee commented on #1305
We'll update existing installations during patch system.

[2017-12-15 01:17] Fourdee commented on #1305
Completed.

[2017-12-15 01:17] #1305 closed, assigned to Fourdee

[2017-12-15 01:32] Fourdee commented on #1285
@MichaIng

Legend 👍

In regards to mirror:

[code]

1st run
[code]

2nd run
[code]

This is why I dislike using mirror services. They are unreliable.

[2017-12-15 01:40] Fourdee commented on #1285
Moved:

@Fourdee
About the dependency list:
- I just wrote a little script that shows installed dependants of all installed packages. With this we can further reduce our dependency list to the final packages that are really directly used by dietpi / usual system operations. Here your dependency list where I added `🈯️ > dependant`, if one within our anyway installed packages exist:
		'acl' 🈺 > syst

[2017-12-15 01:46] MichaIng commented on #1285
@Fourdee

Hehe this is just the wrong URL, use: `deb https://deb.debian.org/debian-security/ <distro>/updates main contrib non-free`
____________________
Going on through the script:
- On RPi you just need `raspberrypi-sys-mods, raspi-copies-and-fills, libraspberrypi-bin`, everything else is solved via dependencies.
- https://github.com/Fourdee/DietPi/blob/testing/PREP_SYSTEM_FOR_DIETPI.sh#L572 do

[2017-12-15 02:27] Fourdee commented on #1285
@MichaIng

Epic list https://github.com/Fourdee/DietPi/issues/1285#issuecomment-351888843, many thanks for that 👍

---

**In regards to relying on deps to pull in packages we manually listed (eg: ```sed```)**
In general, there is no harm is us manually listing additional packages that DietPi uses in its scripts, instead of relying on other packages to pull it in.

Benefits of listing (example ```s

[2017-12-15 03:13] Fourdee commented on #1285
with changes, quick test on DietPi RPi with only ```openssh-server``` installed:
[code]

@MichaIng

Legend 👍 Much lighter install =))

[2017-12-15 03:53] Fourdee commented on #1285
dietpi-drive_manager not setting fstab correctly, will sort it.
- 🈯️ fixed:

![image](https://user-images.githubusercontent.com/7077026/34026565-e8961d04-e14e-11e7-9e06-429b7ece475a.png)

[2017-12-15 06:56] Fourdee commented on #1285
NTS:
- RPi boot loop. install stage is stuck on -3
- Disable x-systemd.automount for RootFS, breaks FS_partition??
[code]

[2017-12-15 10:44] zgon81 commented on #1063
What is the status? It would be really great to officialy implement the DietPi on my BananaPi M3...

[2017-12-15 11:21] Fourdee commented on #1302
@sudeep:
Please run command and send me results.

[code]

[2017-12-15 16:12] k-plan commented on #1298
No, path on DietPi is `/var/www/html/admin/index.php ... ` or  the symbolic links

[code]

Do you use a Custom Block Page ? Like https://github.com/WaLLy3K/Pi-hole-Block-Page ?

![171215-0001](https://user-images.githubusercontent.com/17237601/34048361-b770a77a-e1b3-11e7-979c-a625eec39cca.gif)

![171215-0005](https://user-images.githubusercontent.com/17237601/34049956-7f28574a-e1b9-11e7-8e5a-cf9e9

[2017-12-15 16:34] yuret opened #1306 "DietPi-Software | Mosquitto unresolved dependency. RPi3"
## Creating a bug report/issue:
 Mosquitto fails to install fromDietPi-Software because of unresolved dependency of libwebsockets3.

#### Required Information:
- DietPi Version | ```cat /DietPi/dietpi/.version```?
159
- SBC Device (EG: RPi 3)?
RPi 3
- Power supply used (EG: 5v 1A RAVpower)?
- SD card used (EG: Sandisk ultra)?
Transcend UHS-I 16 Gb
- Distro (EG: Jessie) | ```uname -a```?
Linux Diet

[2017-12-15 17:11] pablopoo commented on #1298
@k-plan I believe that project was integrated in the latest  pihole: https://github.com/pi-hole/pi-hole/pull/1688

I didn't have time yet to replicate the issue on a clean install, but I only did normal dietpi and pihole update proceses.

[2017-12-15 23:24] MichaIng commented on #1285
Offer some adjustments and further ideas here: https://github.com/Fourdee/DietPi/pull/1307

[2017-12-16 02:01] Fourdee commented on #1285
Setting this back to High Priority. This will vastly benefit image creation, and, offer users another installation method.

[2017-12-16 04:17] Fourdee commented on #1285
Jessie > Stretch:

need to check ordering
- 🈯️ Fixed with commit below
[code]

[2017-12-16 04:26] Fourdee commented on #1285
#### Tests:
- 🈺 C2 Stretch > Jessie : Works fine, but I believe there may be some issues with downgrading and packages left over ? https://pastebin.com/raw/6tXfajvF
- 🈯️  RPi Stretch > Stretch

~Script looks fine, however, devices stuck in boot loop (again).~ Resolved
I've been meaning to shuffle FS_part FS_expand into systemd services to allow for earlier running of those tasks, outside of DietPi

[2017-12-16 04:43] Fourdee commented on #1306
@yuret

Thanks for the report 👍 , i'll try to replicate.

[2017-12-16 06:19] Fourdee commented on #1285
@MichaIng i'll re-enable the RPi packages (eg: kernel etc) due to below, for now to allow testing:

DietPi puts them on hold, after our kernel is installed.
[code]

[2017-12-16 06:46] Fourdee commented on #1306
Notes:
[code]

- Appears ```libwebsockets3 ``` no longer available in Stretch, we'll need to "jimmy riddle" package download/install: https://packages.debian.org/jessie/libwebsockets3
- 🈯️ ```INSTALL_URL_ADDRESS="http://repo.mosquitto.org/debian/mosquitto-$DISTRO_NAME.list"```. Repo is set but lacks libwebsockets3 aswell

Quick fix for now, we'll pull in required packages from our webserver.
I cou

[2017-12-16 07:36] Fourdee commented on #1306
@yuret

Will be fixed for v160, in the mean time, you can fix install with following commands:
[code]

Reference https://github.com/eclipse/mosquitto/issues/529#issuecomment-324885355

[2017-12-16 07:39] Fourdee commented on #1306
Completed.

[2017-12-16 08:22] Fourdee commented on #1295
@DarkElvenAngel

Thanks for the report 👍

Notes:
- Possibly Stretch with ARMv7 only binary in Raspbian repo?

[2017-12-16 08:27] Fourdee commented on #1063
@zgon81

Unfortunately, still lacking the board for implementation. Price of unit is also in question, beyond current funds.

We'd need to see alot more user interest to warrant a purchase.

[2017-12-16 08:46] Fourdee commented on #1298
@pablopoo

Yep, please can you try increasing the child count to say ```10```?
- edit ```/etc/php/7.0/fpm/pool.d/www.conf```
- Change ```pm.max_children = 10```
- Restart services ```dietpi-services restart```

If that resolves it, i'll set ```pm.max_children = $(( $CPU_CORES_TOTAL * 10 ))``` by default

---

edit:
x 10 is possibly a little high:

pm.max_children = Total RAM dedicated to the web s

[2017-12-16 09:07] Dinesh3219 commented on #1290
Hi Fudree,

Thank you for replying.. yes I have added web at the end.. I login with ipaddress:32400/web and it takes me through the plex log in page and everything seems normal, but the server section is missing under the users and I cannot link any of my folders to PLEXSERVER. I have my windows computer on the same network and when I go under the networks tab in My Computer then I can see plexmed

[2017-12-16 10:37] Fourdee commented on #1297
Notes:
- ```/etc/dietpi/logs```, due to ```/var/log``` default as RAMlog for performance, and, SD write reduction. We use this for storing logs which would avoid the 1hour automatic clear (to free up memory).
- ```/etc``` I agree with "/etc to static configuration files and may not contain binaries". Solution would be to install everything to ```/mnt/dietpi_userdata``` as standard, or binaries onl

[2017-12-16 11:06] TerryE commented on #1294
@Fourdee perhaps you can unlock #1297 so I can respond in the correct issue.  Re logs, the services still log to the RAMdisk `/var/log` hierarchy. Dietpi optionally preserves these statically prior to shutdown.  The correct place to do this is in the `/var/lib/dietpi` hierarchy, though there is no reason why this shouldn't optionally be symlinked to a node in another FS.

[2017-12-16 11:36] borpin opened #1308 "DietPi-Software | homeassistant: Add a soft link for config folder at install"
## Feature Request

### Background
Same as issue [#1256](https://github.com/Fourdee/DietPi/issues/1256)
Homeassistant users expect to find their configurations etc in a folder ~/.homeassistant.  DietPi uses the folder /mnt/dietpi_userdata/homeassistant.

### Solution
Add a soft link at install time from ~/.homeassistant to /mnt/dietpi_userdata/homeassistant

[2017-12-16 13:14] MichaIng opened #1309 "[dupe] File System Hierarchy Standard"
Moved to : https://github.com/Fourdee/DietPi/issues/1297#issuecomment-352233544

[2017-12-16 13:34] MichaIng commented on #1285
@Fourdee
Ah okay, makes sense. So we initially install kernel packages, also to at least temporarily resolve apt update messages about them, and then install our own kernel version on top of it? Otherwise we could also directly do the second and just ignore RPi packages completely. I was even thinking, if it would not be possible to completely remove the RPi kernel packages and "just" install it b

[2017-12-16 14:29] JohnMacrae commented on #1306
Hi Fourdee,  It installs fine but does not seem to run on Pi Zero W.

Dec 16 14:28:43 BPS systemd[1]: mosquitto.service: Failed with result 'signal'.
Dec 16 14:28:43 BPS systemd[1]: mosquitto.service: Service hold-off time over, scheduling restart.
Dec 16 14:28:43 BPS systemd[1]: Stopped Mosquitto MQTT Broker.
Dec 16 14:28:43 BPS systemd[1]: Started Mosquitto MQTT Broker.

[2017-12-16 23:49] DarkElvenAngel commented on #1295
@Fourdee I just checked that out with a fresh Raspbian-Stretch-Lite install and it worked without problem, I then rebooted my DietPi card and ran ```apt-get update``` ```apt-get upgrade``` The was a update for kodi and now it's working.

I suspect there was a missing ARMv6 binary as I read it was suppose to auto-select between the two based on which would be best. Ref https://www.raspberrypi.org/f

[2017-12-17 00:50] MichaIng opened #1310 "[Aria2][Stretch+] libssl1.0.0 missing, binary needs update for Stretch+"
http://dietpi.com/phpbb/viewtopic.php?f=11&t=2573

Our Aria2 binary expects [libssl1.0.0](https://packages.debian.org/jessie/libssl1.0.0) to be installed. But since Stretch, just [libssl1.0.2](https://packages.debian.org/stretch/libssl1.0.2) is shipped.

We use our own binary for DietPi: https://github.com/Fourdee/DietPi/blob/master/dietpi/dietpi-software#L6548, but why not going with the debian r

[2017-12-17 02:31] Fourdee commented on #1306
@9H5G

Thanks, i'll try to replicate on my RPi Zero.

[2017-12-17 02:45] Fourdee commented on #1310
@MichaIng

Thanks 👍

Ignore below, was waffling on 😄

~Same issues as:~
- https://github.com/Fourdee/DietPi/issues/1306
- https://github.com/Fourdee/DietPi/issues/1299#issuecomment-351623366

There is a few more already in ```dietpi-software```
We should probably have a linux install option for ```libssl1.0.0``` in ```dietpi-software```, so we can pull in shared install as needed.

Should automati

[2017-12-17 02:55] Fourdee commented on #1297
Reference: https://github.com/Fourdee/DietPi/issues/1294#issuecomment-352176566

@TerryE
Unlocked, apologies.

[2017-12-17 03:25] Fourdee commented on #1310
@MichaIng

Yep, lets go for the APT install for stretch, sending commit in a few.

[2017-12-17 03:32] Fourdee commented on #1306
Notes:

- ARMv7 binary by the looks of it
[code]

Reference https://github.com/home-assistant/hassbian-scripts/issues/75

[2017-12-17 03:37] Fourdee commented on #1310
Tested install and web interface:
- 🈯️ RPi 3 Stretch

Completed.

[2017-12-17 03:37] #1310 closed, assigned to nobody

[2017-12-17 03:43] Fourdee commented on #1298
@pablopoo

I've increased the ```pm.max_children = $(( $CPU_CORES_TOTAL * 3 ))``` for v160. This should resolve issues, however, if you have a chance to test and verify (https://github.com/Fourdee/DietPi/issues/1298#issuecomment-352170289), i'd appreciate it.

[2017-12-17 04:05] Fourdee commented on #1306
@9H5G

Appears to be a known issue with the Mosquito repo at this time, lacking ARMv6 binary and Jessie deps in use on the Mosq Stretch repo:
https://github.com/Fourdee/DietPi/issues/1306#issuecomment-352229271

We'll need to wait for a fix from their end.

#### The only thing I can suggest is, if this worked on Jessie, try the Jessie image (which we still support):
http://dietpi.com/downloads/ima

[2017-12-17 04:07] Fourdee commented on #1306
I'll re-mark this as closed. Please re-open if required.

[2017-12-17 04:11] Fourdee commented on #1295
@DarkElvenAngel

Thanks for confirming cause of issue 👍

I'll check the sourcecode, just to make sure its not us at fault.
EDIT: Yep, we simply run ```apt-get install kodi``` for RPi's.

Excellent, i'll mark this as closed.

[2017-12-17 04:13] #1295 closed, assigned to nobody

[2017-12-17 05:31] Fourdee commented on #1297
Moved from https://github.com/Fourdee/DietPi/issues/1309#issue-282622893

---

@Fourdee
Sorry for opening up new unlocked issue 😅, just wanted to add the `/opt` folder into discussion for DietPi files. At least I learned about this to be used for non repo package software (compared to /etc) and according to the debian.org article it is also meant to include binaries: https://wiki.debian.org/Filesy

[2017-12-17 05:31] Fourdee commented on #1309
@MichaIng
Yep apologies, its now unlocked :)

[2017-12-17 05:31] #1309 closed, assigned to nobody

[2017-12-17 06:14] Fourdee opened #1311 "DietPi-Globals | Replace duplicate function/var code in our scripts"
By simply loading this script on demand to export global vars.

Also allows for logged in bash user session to use our commands (eg: ```AGI```) etc.

[2017-12-17 06:17] Fourdee commented on #1301
Completed.

[2017-12-17 06:17] #1301 closed, assigned to Fourdee

[2017-12-17 06:18] Fourdee commented on #1311
@MichaIng

[code]

---

[2017-12-17 07:30] JohnMacrae commented on #1306
Thanks Dan.  I tries the Jesse image yesterday but on intallation, it updates to 159 and we have the same problem. How do I 'hold' the installation of upgrades on first boot at a particular level?  Thanks

[2017-12-17 08:57] Fourdee commented on #1297
Ok going with:
- ```/var/tmp/dietpi/logs``` for DietPi logs outside of ```/var/log```, that we dont want clearing every 1 hour with dietpi-ramlog
- ```/var/lib/dietpi/dietpi-ramlog_store``` for storing RAMlog ```/var/log``` files during reboots

Commit done, i'll tweak if needed.

@TerryE @MichaIng Any objections, suggestions?

Then remains checking everything else we use ```/etc/dietpi``` and dis

[2017-12-17 09:16] Fourdee commented on #1306
@9H5G

If it doesn't work on Jessie (Illegal instruction), this confirms the issue is with their repo, and the most likely use of ARMv7 binary only, which will not work with ARMv6 (RPi Zero).
Theres nothing we can do our end about that currently, as our installations are installed on demand and relies on the state of the mosq repo during that time.

The only solution for now is to find a ARMv6 bin

[2017-12-17 11:18] MichaIng commented on #1311
Nice! 👍
Just some minor questions/hints:
- Why not include the error check/output to base AGI etc. directly? Would be helpful in every script and terminal, I think.
- Since -qq includes -y, we can remove the latter: https://wiki.ubuntuusers.de/apt/apt-get/ Why ubuntu wiki is so much better/more detailed than debian ones? Totally missing complete command overviews with all sub commands and options

[2017-12-17 12:29] TerryE commented on #1297
Yup make them owned by `dietpi:dietpi` and mode 660, then any account in the dietpi group can manage the files.

[2017-12-17 19:31] MichaIng commented on #1270
@k-plan @Fourdee
Started to go through the steps, as this goes often hand in hand with preparation script automation. Need some time with my wife now, will go on tomorrow.
https://github.com/Fourdee/DietPi/pull/1312

[2017-12-17 20:23] mdemoss commented on #560
I think this is broken in wallabag 2.3.0. Looks like they're considering dropping sqlite support.

[2017-12-17 20:33] mdemoss commented on #560
I grabbed wallabag 2.2.3 and it works. ( Following instructions at https://www.wallabag.org/en/news/wallabag-v2 ) As far as I can tell, there aren't "shared hosting" instructions for 2.3.0.

[2017-12-17 21:26] pablopoo commented on #1298
@Fourdee

Ok, did this test:

1.- Installed the VirtualBox DietPi image.
![imagen](https://user-images.githubusercontent.com/13492043/34082469-c31f57a2-e33d-11e7-84fb-4995d56e5d53.png)

2.- Dietpi auto-updated to latest v159

3.- Installed only Pi-hole
![imagen](https://user-images.githubusercontent.com/13492043/34082496-560a2984-e33e-11e7-880e-bbfc0eaeb7b7.png)

-Noticed this time installed php7-

[2017-12-17 22:37] k-plan commented on #1298
@pablopoo

Thanks! 👍

@Fourdee

hmm.. will we get the new block page feature?
- Only possible with lighttp?
 - What will be with the other web server stack?
-  `$HTTP["url"] =~ "^/admin/.(.*)" {`
`url.access-deny = ("")`
`} `
Will this work with the symbolic links as well?

[2017-12-18 03:02] Fourdee commented on #1311
@MichaIng

Makes sense, i'll take a look. 👍

Its a habit thing more than anything, although, having ```-y``` in there, ensures if we (or apt) change any options in the future, the ```-y``` should always ensure start of install. I'll leave it in for now.

[2017-12-18 03:06] Fourdee commented on #1298
@pablopoo

Many thanks 👍

@k-plan

I'll take a look, if its just a standard ```html``` or ```php``` page, we can use that one instead of our current:
[code]
When we added the above, Pi-Hole didnt have a block page at that time (if i remember correctly).

---

Edit looks like the main Pi-Hole index page handles the block page aswell?
https://github.com/pi-hole/pi-hole/blob/master/advanced/lighttpd.

[2017-12-18 03:19] Fourdee opened #1313 "DietPi-Software | Pi-Hole: Use the updated block page?"
https://github.com/Fourdee/DietPi/issues/1298#issuecomment-352314748

[2017-12-18 03:19] Fourdee commented on #1298
I'll mark this as closed, original issue is resolved in v160.

Ticket for block page: https://github.com/Fourdee/DietPi/issues/1313

[2017-12-18 03:19] #1298 closed, assigned to Fourdee

[2017-12-18 07:27] Fourdee commented on #1285
Quick test after all my recent changes/commits:
- 🈯️ RPi 3 DietPi-Jessie > DietPi-Stretch
-- 🈺 Edit: issue with dietpi-global hanging bash, due to ```dietpi-notify``` in ```dietpi-globals``` causing 100% processing loop. removed.

I need to setup some VM's with stock Debian and run further tests. If successful, we can open this up to public alpha testing.

[2017-12-18 07:41] guny74 opened #1314 "DietPi-Software | Nextcloud: install fails - only a limited number of commands"
## Creating a bug report/issue:
Hello,

I update to dietpi V159 on BPI m2+.

then I tried to (new) install Nextcloud via "Dietpi-software", the installation stops with error

#### Required Information:
- DietPi Version | V159
- BPI M2+
- Distro|
`Linux DietPi 3.4.113-sun8i #4 SMP PREEMPT Wed Nov 22 13:45:28 CET 2017 armv7l GNU/Linux`

#### Additional Information (if applicable):
- nextcloud
- Prob

[2017-12-18 07:53] Fourdee commented on #1314
@guny74

Thanks for the report, we'll try to replicate 👍

[2017-12-18 08:00] Fourdee commented on #1285
Note to self,
- When upgrading from Jessie > Stretch, some autoremove packages remain.

Clean these up:
[code]

[2017-12-18 13:10] tatoosh opened #1315 "DietPi-Software | MPD: old version in dietpi v159"
I updates my virtualbox and rpi images to dietpi v159.
mpd still on version 0.19.1

Changelog fromhttps://github.com/Fourdee/DietPi/blob/master/CHANGELOG.txt says:
**DietPi-Software | MPD (Stretch): Install updated to 0.20.11**

[2017-12-18 13:55] k-plan commented on #1315
@tatoosh

Can you please provide terminal output from RPi and VM:

`cat /etc/debian_version`

Thanks

[2017-12-18 14:16] k-plan commented on #1313
@Fourdee

Nice, thanks! 👍

------------------

`curl -sSL https://install.pi-hole.net | bash`

![171218-0004](https://user-images.githubusercontent.com/17237601/34109449-e74e626e-e403-11e7-9894-349af0d1363b.gif)

[code]

[code]

[code]

-----------------------

`dietpi-software install id 93`

![171215-0001](https://user-images.githubusercontent.com/17237601/34109762-e50ed0b4-e404-11e7-9010-63f33a

[2017-12-18 14:21] MichaIng commented on #1314
@guny74
This massage can only occur, if the `nextcloud/occ` is used but `config.php` does not have `'installed' => 'true',` inside. I'm at the moment not sure, if for no reason the message also appears on running occ for installation itself. Will try later. Otherwise we run the occ command one time later at the end of installation script to set system cron.

Maybe command line installation failed.

[2017-12-18 14:54] tatoosh commented on #1315
@k-plan
Virtual Box VM:
```cat /etc/debian_version```

Raspberry Pi B2 Model B:
```cat /etc/debian_version```

[2017-12-18 15:22] guny74 commented on #1314
Hello,

I had tried to install it with the dietpi-software and the message occurs. So I had no deeper look, if it would be installed.
Checking ncc says : Installed !!! - How can I check if all elements/configuration steps necessary is installed ?

Nextcloud is  not accessible via browser...here I installed "lighthttp"

Should I uninstall it and install it with the manueal command ?

Regards

[2017-12-18 15:43] MichaIng commented on #1314
@guny74
Hmm, does dietpi-software show Nextcloud as installed (listed as uninstallable)? In that case all the install steps should be gone through.

Could you post content of your /var/www/nextcloud/config/config.php?
In case error logs of mysql + lighttpd could be helpful: /var/log/...
and output of journalctl -p err.

We do no special configs to lighttpd, as it runs out o the box on our tests. I

[2017-12-18 15:53] k-plan commented on #1315
@tatoosh

what's easy (for me):

_example:_
[code]

[code]

Debian Version 8.x   ==>>` Jessie`

Debian Version 9.x ==>> `Stretch`

You have `DietPi_VirtualBox-x86_64-(Jessie)` and `DietPi_RPi-armv6-(Jessie)`

_example:_
[code]
--------

You need Stretch:

[DietPi_RPi-armv6-(Stretch)](http://dietpi.com/downloads/images/DietPi_RPi-armv6-(Stretch).7z)

[DietPi_VirtualBox-x86_64-(Stretch)](DietPi_Virt

[2017-12-18 19:03] tatoosh commented on #1315
Thanks @k-plan.
I thought dietpi-update is enough. Should i have to change thr dietpi image on all devices ?? or is there a dist-upgrade option?

[2017-12-18 19:18] k-plan commented on #1315
@tatoosh

For my part, I do this. It's quick and easy (thanks to `dietpi.txt`) and it works 💯

Simple `apt-get dist-upgrade` can't work.

But at DietPi forum are some people, who have tried this: http://dietpi.com/phpbb/viewtopic.php?f=11&t=2566

I personally do not or will not try it out. Same as with Wheezy before.
If this fail, a `dietpi-backup` will not help you out.

[2017-12-18 20:13] tatoosh commented on #1315
@k-plan
ok i think my error it solved by using new images.
i will also look at dietpi-backup to backup all my files.

[2017-12-18 20:13] #1315 closed, assigned to nobody

[2017-12-18 20:49] MichaIng commented on #1285
Test of current script on fresh Debian Jessie, installed via mini.iso with efi partition.
- Debian disc installation correctly chose grub-efi-amd64 package by itself.
- 🈯️  DietPi script chose however grub2 => **fixed with https://github.com/Fourdee/DietPi/pull/1318**
- 🈴 Several times during step 7: `/boot/dietpi/func/dietpi-notify: line 19: /DietPi/dietpi/func/dietpi-globals: No such file or dir

[2017-12-18 21:00] DDA78 commented on #137
Just checking, is it possible to install librenms on dietpi ??

Has the work been completed, thanks for help in advance

[2017-12-18 22:22] tatoosh opened #1317 "Suggestion: version comment in dietpi.txt"
Add version number in dietpi.txt so we can double check, that the file works with the dietpi version.
Or will you add another compatible check in the setup process?

[2017-12-19 00:04] MichaIng commented on #1285
Some fixes: https://github.com/Fourdee/DietPi/pull/1318

Reboot issue stays on EFI system:
- Keep old / + /boot/efi fstab entries => **no solution**
- Run script until end of step 5 (APT removal and installation) => **works!**
- Run script until end of step 6 (DietPi source instalaltion) => **works!**
- Run script until step 7 before core environment script => **works!**
- Manual dietpi-set_core_e

[2017-12-19 03:22] MichaIng commented on #1314
@guny74
- I further investigated: Yes the message always shows up, if you use occ without installed Nextcloud, even if you run occ for installation. A bid confusing indeed 😉. I added an issue to their guthub: https://github.com/nextcloud/server/issues/7563
- Do you use MySQL or MariaDB? I just found a problem on Jessie + MariaDB when using mysql command with password option: It blocks access. I wi

[2017-12-19 04:42] Fourdee commented on #1311
ToDo:
- 🈯️ Global dietpi-notify
- 🈯️ Replace existing ```/DietPi/dietpi/dietpi-notify``` commands in dietpi scripts with ```dietpi-notify``` etc
- 🈯️ Replace existing ```apt-get``` commands in dietpi scripts with ```AGI``` etc
- 🈯️ Send my commit
- 🈯️ Manually fix conflicts on outstanding PR's
-- 🈯️+ using global dietpi-notify
-- 🈯️+ using global AGX commands

---

- ```dietpi-drive_manager``` not

[2017-12-19 07:55] Fourdee commented on #1311
@MichaIng

We can provide a notify for result of the ```apt-get``` command, but if we want to handle the end result, we'll need to do this outside the global script.
eg: in ```dietpi-software```, we need to handle the exit code, then we can match it to software title etc if its a failure. If we simply ```exit``` in ```dietpi-global AGX```, we lose the ability to do that.

![image](https://user-ima

[2017-12-19 08:08] Fourdee commented on #1311
This is now completed as intended, however, we'll continue to add/improve it as needed in the future.

[2017-12-19 08:18] guny74 commented on #1314
Hello,

I use mysql.  I worked on the configuration (add USB Stick for Data and changed ist in the config.php).
After the first success "Login Page", the failure "UI seems to be destroyed"
![2017-12-19 09_16_59-dateien - nextcloud](https://user-images.githubusercontent.com/30338811/34147296-7e1bfe10-e49d-11e7-9965-26c6a91e74c3.png)

Known issue of the installation or issue of nextcloud ?

Thanks f

[2017-12-19 08:56] Fourdee commented on #1317
@tatoosh

For DietPi v160 (when released):
We've added a check to ensure any missing ```dietpi.txt``` entries from outdated versions, are now verified and added if needed. This runs during updates (eg: first run of device)

https://github.com/Fourdee/DietPi/issues/1292#issuecomment-350901663

[2017-12-19 09:09] Fourdee opened #1320 "DietPi-Software | Masked services will fail future software installations"
[code]

[2017-12-19 09:09] Fourdee commented on #1320
Solution our end:
- unmask all known installed services, prior to ```dietpi-software``` installs/reinstalls/uninstalls.

[2017-12-19 09:37] Fourdee commented on #1320
🈯️
[code]

[2017-12-19 09:38] Fourdee commented on #1320
Completed, fixed in DietPi v160.

[2017-12-19 09:38] #1320 closed, assigned to Fourdee

[2017-12-19 09:51] tatoosh opened #1321 "[dupe] Suggestion: multi WLAN SSID for dietpi"
I am using different SSIDs and can change the wpa_supplicant file.
So it would be nice to administrate different SSIDs for **dietpi-config** and also in **dietpi.txt**.

[2017-12-19 11:36] Fourdee commented on #1270
@MichaIng

Great work, legend 👍

Yep, same here, gotta keep the wife happy 😉 😉

[2017-12-19 11:42] Fourdee opened #1322 "DietPi-Software | Emby requires mono 4.x?"

[2017-12-19 11:45] Fourdee commented on #1322
Notes, Emby:
- ARM = http://download.opensuse.org/repositories/home:/emby/xUbuntu_14.04/
- x86_64 = http://download.opensuse.org/repositories/home:/emby/Debian_VERSION

Notes Mono:
- ```deb http://download.mono-project.com/repo/debian $DISTRO_NAME main```

#### ToDo:
- Check installed mono version currently
- Test if ```deb http://download.mono-project.com/repo/debian wheezy/snapshots/4.8.1.0 main

[2017-12-19 12:34] Fourdee commented on #1302
Unable to replicate in testing. I'll mark as closed. Will reopen if we receive further reports.

[2017-12-19 12:34] #1302 closed, assigned to Fourdee

[2017-12-19 12:37] Fourdee commented on #1285
@MichaIng

Legend, great work 👍

To ensure software which requires i386 pre-reqs (eg: steam I believe), is functional. Theres no harm in enabling it, i386 software should only be installed via apt with ```apt-get install xxxx:i386```.

[2017-12-19 13:03] Fourdee commented on #1285
Testing VM with Debian 9 minimal, to check for bugs due to recent global/dietpi-set_core_environment changes:

- 🈯️ Fixed with: https://github.com/Fourdee/DietPi/commit/a11322d177a431c55d5d9c72f61eea0e0493d33e
[code]

---

- 🈯️ Fixed with https://github.com/Fourdee/DietPi/commit/af5a1f203506f85d2a0e6613239f0b7a6b322af1 (I forgot to re-enable global script support for non-dietpi systems after the c

[2017-12-19 13:37] tatoosh opened #1323 "Loosing WIFI by installing software"
#### Required Information:
- DietPi Version | ```cat /DietPi/dietpi/.version```? - 159
- SBC Device (EG: RPi 3)? - RPi Zero
- Power supply used (EG: 5v 1A RAVpower)? - 2A Powerbank
- SD card used (EG: Sandisk ultra)? - Sandisk ultra 32GB
- Distro (EG: Jessie) | ```uname -a```? - Linux lux 4.9.70+ 1068 Mon Dec 18 21:54:13 GMT 2017 armv6l GNU/Linux

#### Can this issue be replicated on a fresh insta

[2017-12-19 13:38] MichaIng commented on #1285
@Fourdee
Thanks for adding+fixing. Interesting, on my Jessie VM `[ ... ]` works great. Seems to be an inconsistency in using brackets within bash, and I am still a bid confused when to use what. Reading: https://stackoverflow.com/questions/2188199/how-to-use-double-or-single-brackets-parentheses-curly-braces 😆.

[2017-12-19 13:40] Fourdee commented on #1285
@MichaIng

Unsure, i'll need to review it. Converted it to previous system i use for quick fix now, with int ```(( )))``` and ```grep -ci``` which returns ```0``` on non-match, ```1``` on match.

I've added fixes for a few of the issue, made notes of outstanding. Will try and pick this back up tomorrow 😄

[2017-12-19 13:43] MichaIng commented on #1285
@Fourdee

Not needed, this was mostly for myself. Your fix works!

[2017-12-19 13:44] tatoosh commented on #1317
thx that is enough i think.

[2017-12-19 13:44] #1317 closed, assigned to nobody

[2017-12-19 13:50] Fourdee commented on #1285
Note to self:
- ```dietpi-global``` is now loadable in PREP_SYSTEM. I'll verify tomorrow and send commit. Means we dont have to define ```dietpi-notify``` and ```AGI``` twice.
[code]

[2017-12-19 14:57] MichaIng commented on #1314
@guny74
Hmm, looks like some kind of caching issue. Did you try it with a different browser?
Otherwise try to play around with `'theming' => '',` option in config.php and enable/disable the theming app to force some internal caching reset.

Note, that this might cause problems, possibly also the one you face, read here how to securely change your Nextcloud data directory after installation: https:

[2017-12-19 15:04] tatoosh commented on #1323
after long waiting the session comes back!

[2017-12-19 15:04] #1323 closed, assigned to nobody

[2017-12-19 18:12] MichaIng opened #1324 "DietPi-Software | MySQL/MariaDB: mysqld fails after update to v160"
Seems to be related to core environment creation:
`[ERROR] mysqld: Can't create/write to file '/var/lib/mysql/aria_log_control' (Errcode: 13 "Permission denied")`

`chmod +x /mnt/dietpi_userdata` solved the problem for me. We should verify that the folder was executable before, so we do not change something after all, but I guess, as this seems to be necessary for mysqld to access it's mysql subfo

[2017-12-20 01:59] MichaIng commented on #1324
Jep `dietpi_userdata`, it is made executable during dietpi-software execution: https://github.com/Fourdee/DietPi/blob/master/dietpi/dietpi-software#L8599

[2017-12-20 04:49] Fourdee commented on #1323
@tatoosh

Fixed for v160, however, existing users will need to disable the service control, before updating:
https://github.com/Fourdee/DietPi/issues/1288#issuecomment-351613165

[2017-12-20 06:01] Fourdee commented on #1311
dietpi-drive_manager move userdata:

- 🈯️ Resolved: https://github.com/Fourdee/DietPi/commit/63bf1a2d50b9b1ae818853f7cc53cc3c080ed5b8
[code]

---

[code]

Ok,
- 🈴 Disable any print for a default load of globals?, nope, we need error information if rootfs rw, root user access fails etc.
![image](https://user-images.githubusercontent.com/7077026/34193363-2c53da9a-e54b-11e7-8d1e-fff763c59d3c.png)

[2017-12-20 06:50] Fourdee commented on #1324
@MichaIng
Thanks 👍

I'll check

[2017-12-20 07:02] Fourdee commented on #1324
@MichaIng

https://github.com/Fourdee/DietPi/commit/39fb3fdc29da46f93c09ce03522a4134ccebe8f7 should do it (currently runs during dietpi-update patch), but if we can verify with another test, i'd be grateful.

I've not been able to replicate it since with testing https://github.com/Fourdee/DietPi/pull/1319#pullrequestreview-84664248, although thats mariaDB default install?

[2017-12-20 07:09] Fourdee commented on #1067
@MichaIng

Quick note:
- Theres a large delay before OwnCloud gets reported as installed. On slower systems, users may think its hung. We should add a ```dietpi-notify``` before the install to inform users installing OC and please wait etc...?
- Same for NC ^^
[code]

[2017-12-20 07:48] tatoosh commented on #1323
Great, thx for issue linking @Fourdee

[2017-12-20 07:51] Fourdee commented on #1321
@tatoosh

Thanks for the request, we already have another ticket for this, please see https://github.com/Fourdee/DietPi/issues/368

I'll mark this one as closed.

[2017-12-20 07:51] #1321 closed, assigned to nobody

[2017-12-20 07:52] Fourdee commented on #1311
Completed (again).

[2017-12-20 08:38] Fourdee commented on #1311
- use of ```G_``` at start of all global commands/vars to clearly define global status, and, avoid variable interaction.
[code]

[2017-12-20 09:04] Fourdee commented on #1285
@MichaIng

Sending a large commit with vast changes to globals + this script. I'll be doing testing and resolving issues afterwards, could be very unstable, may want to avoid any commits/PR's at this stage.

I'll let you know when its completed.

[2017-12-20 09:44] Fourdee commented on #1285
Re-Tests:
- 🈯️ Odroid C2, running DietPi Stretch > Stretch
- 🈺 VM Debian 9 | eth0 outstanding. Once we update grub defaults, ~we dont need to rename during install, not required,~   subsequent reboot will load the kernel options with standard ```eth``` naming.

---

- VM Debian 9  > Buster (after all eth naming commit) |  Gah:
[code]

Run 2:
- 🈴 Due to eth renaming on fly.
[code]

[code]

[2017-12-20 11:32] Fourdee commented on #1311
@MichaIng

Globals are now finalized, using ```G_format``` https://github.com/Fourdee/DietPi/issues/1311#issuecomment-352999485

Supported use in PREP_SYSTEM: https://github.com/Fourdee/DietPi/issues/1311#issuecomment-353039600

Completed (for now) 😄

[2017-12-20 12:54] tatoosh opened #1327 "dietpi shutdown/reboot very slow"
Updates to strecth dietpi 159 my Rpi3.
Booting is very fast but a reboot tooks very long.
Screen says "Dietpi Ramdisk shutting down".

What can i do to improve that?

[2017-12-20 12:57] Fourdee commented on #1327
@tatoosh

Should not take longer than 1 second to save RAMdisk to disk. We'll try to replicate.

Which SD card/PSU are you using?

[2017-12-20 13:00] tatoosh commented on #1327
I am using this sd-card: SanDisk Ultra 16GB microSDHC Speicherkarte + Adapter bis zu 98 MB/Sek., Class 10
Link: https://www.amazon.de/gp/product/B073S9SFK2/ref=oh_aui_detailpage_o01_s00?ie=UTF8&psc=1

[2017-12-20 13:03] tatoosh commented on #1327
I could not reproduce it on my other Rpi3. at the moment ...
Last message i see is

So it must be a service after that.
Then i can see an error but the reboot comes after that. Can i store the information and see it like dmesg?

[2017-12-20 13:05] Fourdee commented on #1285
@MichaIng

Ok, global naming/use are now finalized (took me a while to find the "right" naming): https://github.com/Fourdee/DietPi/issues/1311#issuecomment-353039600

PREP_SYSTEM still needs some work (https://github.com/Fourdee/DietPi/issues/1285#issuecomment-353015233), however, the major script wide changes are now completed. Please feel free to continue with PR's as needed.

[2017-12-20 13:43] MichaIng commented on #1067
@Fourdee
Yes I anyway planned to add info echos during the installation process to reflect what we are doing and give possibility to name a step, if error occurred.
Some kind of global error check function with logging and meaningful pronouncement could be nice, to have a consistent method for this, what you think?

[2017-12-20 13:44] tatoosh commented on #1327
Reinstalled everything, no problem.
Justed change from 16GB SanDisk to 32GB Sandisk Card.

[2017-12-20 14:01] MichaIng commented on #1324
@Fourdee
Jep looks good, will test later, have to rewind first my VM to v159.

[2017-12-20 14:02] tatoosh commented on #1327
Oh after some reboots the error comes back :(
Now i see the process:

How to kill the service on reboot?

[code]

[2017-12-20 14:10] MichaIng commented on #1314
@guny74
Added the possibility to set ownCloud/Nextcloud data directory before installation. That way, possible issues with moving it afterwards can be avoided: https://github.com/Fourdee/DietPi/pull/1319

This will be introduced with v160 and announced on the forum, e.g. http://dietpi.com/phpbb/viewtopic.php?f=9&t=2564

Could you solve your issue in between? As generally the page loads, did you tr

[2017-12-20 14:57] tatoosh commented on #1327
Also ```service mpd stop``` is delayed. I think i have to kill the process !?

[2017-12-20 15:21] kaytata commented on #1223
Hi,
I had installed using fourdee's Automated image installation of moOde:
The moode version installed was beta 9. I noticed some hanging.
Tried to update the version to beta12 using the interface. It says moode is up to date.

Is there a simple way to update the moode software to beta12 using SSH?

Cheers,

[2017-12-20 15:21] LexiconCode opened #1328 "DietPi-Software | Universal Media Server"
[Universal Media Server](http://www.universalmediaserver.com/) is an open source DLNA-compliant UPnP Media Server. Minimal configuration for more than 50 different devices.

Universal Media Server is similar to Plex and Emby except the premium features that you pay for in the latter two programs are free in Universal Media Server. Granted it doesn't have cloud storage services..who cares?

[Guide

[2017-12-20 15:50] WolfganP commented on #1328
I can't speak for Emby, but I moved from UMS to Plex a while ago and not planning to return.
UMS dependency in Java kills any installation in small devices like Raspberry, and Plex DLNA services are included for free as in UMS and allow for custom profiles, so no advantage in there either.
Besides, the development pace of Plex is really high, and the ability to add many active developed plugins to

[2017-12-20 16:10] LexiconCode commented on #1328
Do pay for DVR using plex? @WolfganP

I can't speak for performances that's part of testing.  I can say that it core program is up-to-date and being well-maintained. There are a lot of features that are in Plex and Emby that you have to pay a premium for each month or by $120 lifetime license. DVR and guided data being foremost features I'm personally interested in UMS that are free.
As for a [com

[2017-12-20 17:20] WolfganP commented on #1328
Not a DVR user, just using my media server to distribute media inside my LAN with many diff clients (from android boxes to PCs to smartTVs), which I want to offer the richest experience.
Not using DVR features, and if I decide to go there, most probably will use a targeted project like https://github.com/tvheadend/tvheadend and look for integrations with my media server (via native hookup or plugi

[2017-12-20 17:51] LexiconCode opened #1329 "DietPi-System | Apt upgrade fails"
#### Required Information:
- DietPi Version | 159
- SBC Device (EG: RPi 3) Odroid C2
- Power supply used (EG: 5v 1A RAVpower)? official odroid power adapter
- SD card used (EG: Sandisk ultra)? scan disk ultra
- Distro (EG: Jessie) | Jessie

#### Additional Information (if applicable):
- Software title? not applicable
- Can this issue be replicated on a fresh installation of DietPi? yes

Council ou

[2017-12-20 20:24] LexiconCode commented on #1322
I'm willing to test this

[2017-12-20 20:58] LexiconCode commented on #475
I have a Odroid C2 that I could test Beta or alpha images for stretch

[2017-12-20 22:35] MichaIng commented on #1324
Works like a charm, tested on VM Stretch with LAAP stack. 👍

[2017-12-20 22:35] #1324 closed, assigned to Fourdee

[2017-12-21 00:10] martintenor commented on #1223
Hi,

Just installed moOde 4 beta 9 using the automated script.
I see that upmpdcli is included, however it fails to load due to below.
I exclusively use Lumin app to play songs (I don't like to mount my NAS) so I would appreciate if this could be solved.

Dec 21 08:53:49 DietPi systemd[2502]: upmpdcli.service: Failed at step EXEC spawning /usr/bin/upmpdcli: No such file or directory

[2017-12-21 01:19] MichaIng commented on #1285
@Fourdee
Just used the script on DietPi VM-Stretch, upgrading to Buster:
- Jep, connection get lost in between because of interface reset.
- On first run dietpi-software connection check, it took significantly longer than 20s. Reason after investigation is, that wget by default tries to connect via IPv6, even that IPv6 is disabled on DietPi. For apt update, depending on test domain/ip, it is the s

[2017-12-21 01:39] MichaIng commented on #1067
Self reminder, as I just got mail about closed issue: https://github.com/owncloud/core/issues/25773
Consider dropping of upload size adjustment by DietPi installation script. This causes integrity check errors in case, can be overwritten by certain oc/nc tasks and the value can be adjusted easily by user from within admin panel. However on ownCloud somehow the 'additional settings' tab is empty in

[2017-12-21 05:29] Fourdee commented on #1285
@MichaIng

Ok, i'll take a look, see if we can find a cure.

~During PREP_SYSTEM run? Any idea what stage (eg: notify text before it)~ Found it, fixed, will be in next commit.

Agree, i'll see if we can apply them to the globals and script.

The initial idea (in my mind) was for PREP_SYSTEM to achieve the following:
- Allow users with non-DietPi systems, who are running a fresh minimal Debian inst

[2017-12-21 06:24] Fourdee commented on #1285
Due to FX6300 on its way out, having to run VM tests on a AMD Athlon 5150, not bad, not great. Gives me lots of time to make coffee 😄 , starting to like it a little more lol.
https://www.cpubenchmark.net/cpu.php?cpu=AMD+Athlon+5150+APU&id=2208

[2017-12-21 06:51] Fourdee commented on #1285
Notes:
- 🈯️ Fixed with grub commits below
[code]

[2017-12-21 07:50] Fourdee commented on #1329
@LexiconCode

Thanks for the report 👍 i'll investigate.

[2017-12-21 08:29] Fourdee commented on #1285
### Tests:
- 🈯️ VM Debian Stretch > Buster
- VM DietPi Debian Buster > Jessie

🈯️ fixed 1:
[code]
🈴 2:
[code]

[2017-12-21 10:32] tatoosh commented on #1327
Issue solved

Problem was my change of /etc/mpd.conf for the playlist folder. There was a file system permission issue.
But u can not see this in mod.log :(

[2017-12-21 10:32] #1327 closed, assigned to nobody

[2017-12-21 10:43] Fourdee commented on #1329
Additional reports from forums:
http://dietpi.com/phpbb/viewtopic.php?f=11&t=2603

[2017-12-21 11:08] Fourdee commented on #1329
Notes:
- check default ```LD_LIBRARY_PATH```
- ```LD_LIBRARY_PATH=$LD_LIBRARY_PATH:xxxx:xxxx```?

[2017-12-21 11:20] guny74 commented on #1314
Hello,

I could not solve the problem, I tried other Browser, theming....
I did an unsinstall and I will do an new Installation maybe with  V160...or with your guide to change data directory.

BTW: The first prio is my heating problem of the BPI m2+ ....

Thank you for your help and development

regards
  Thorsten

[2017-12-21 21:31] MichaIng commented on #1285
@Fourdee
`🈴 2:`
Uff downgrading of cause brings several other issues and thanks god this is a scenario, no one will really need.
- Creating official images, we should always start with the same debian/raspbian image, as there will be always possible issues, obsolete files, incompatible configs etc. on distro version changes. Btw. I found the mini images to be the smallest for Debian, but of course

[2017-12-22 00:04] MichaIng opened #1330 "DietPi-Boot | "[FAILED] Failed to start Daily apt download activities.""
See this error on every VirtualBox VM (Jessie+Stretch+Buster) and if I remember right also on my RPi:
`[FAILED] Failed to start Daily apt download activities.`

I remember a commit where we disabled daily apt update, but maybe we can somehow disable the error message?
________________________
Different error on reboot/shutdown, one of the last messages:
`Failed to start Shutdown all ssh sessions b

[2017-12-22 00:56] MichaIng commented on #1285
Optional WiFi and conditional microcode package installation: https://github.com/Fourdee/DietPi/pull/1331

The first needs on demand installation (and uninstallation?) on WiFi activation/deactivation within dietpi-config and some other scripts need to check for installed packages before throwing errors.
_____________________________________________________
Open tasks:
- 🈺 Make WiFi related package

[2017-12-22 01:25] MichaIng commented on #1329
@Fourdee

And: http://dietpi.com/phpbb/viewtopic.php?f=11&t=2576

Oh, this error showed up after I upgraded via preparation script from Stretch to Buster. Thought it would have something to do with this.

I solved it by `unset LD_LIBRARY_PATH`.

[2017-12-22 01:44] MichaIng commented on #475
@Fourdee
We did not yet fix fail2ban installation, did we?
http://dietpi.com/phpbb/viewtopic.php?f=11&t=2582&p=10090#p10090

Also we need to switching to journald observation, if rsyslog is not installed, thus no log to auth.log?
https://github.com/Fourdee/DietPi/blob/testing/dietpi/conf/fail2ban_jail.conf#L35-L43

[2017-12-22 01:52] DarkElvenAngel commented on #1330
@MichaIng  The file /etc/systemd/system/apt-daily.service is a link that points to /dev/null this is what is giving you the error.

I deleted the link and replace the apt-daily.service with this
[code]

That will get rid of the error on the bootup.

[2017-12-22 02:21] k-plan commented on #1329
[code]

[2017-12-22 06:49] Fourdee commented on #1285
@MichaIng

Agree, i'll make a note of no downgrade support 👍
- 🈯️ I'll see if we can hide distro selection, if lower than current.
- 🈯️  ```firmware-realtek``` also contains ethernet firmware, I'll review these and add them back in if needed (https://packages.debian.org/stretch/firmware-realtek):
https://github.com/Fourdee/DietPi/pull/1331/files#diff-e9e0c6c64b4937739e13ffac58f4a888L473

Odroid C2

[2017-12-22 08:27] xnathanh opened #1333 "Rock64 | rootFS re-partition/resize no effect"
i have 64gb sdcard,but i only have <10gb,
[code]

[code]

[2017-12-22 09:34] Fourdee commented on #1311
Check and automatically install required packages:
NB: renamed to ```G_AG_CHECK_INSTALL_PREREQ```
![image](https://user-images.githubusercontent.com/7077026/34293112-4f424242-e6fb-11e7-98a5-bbe73cd43387.png)

[2017-12-22 10:22] Fourdee commented on #1311
Note to self:
- Allo GUI replace ```$(/DietPi/dietpi/dietpi-cpuinfo 1)``` with ```G_OBTAIN_CPU_TEMP```
-- + ```/DietPi/dietpi/dietpi-cpuinfo 3```, with ```G_OBTAIN_CPU_USAGE```

[2017-12-22 10:45] Fourdee commented on #1330
Reason for mask:
- the service instigates a apt-cache/dpkg lock during updates (daily), which will break ```dietpi-software``` and any apt installations.
- DietPi runs G_AGUP as needed.

[2017-12-22 11:59] Fourdee commented on #1333
@xnathanh

Thanks for the report 👍

Looks like the rootFS re-partition/expansion has failed. Which SBC device please?

[2017-12-22 12:14] Fourdee commented on #1329
@k-plan @MichaIng

Thanks 👍

Due to following commit: https://github.com/Fourdee/DietPi/commit/fd4610589f9aeaab3d23a8e45285c906f01da600

I'll tweak it.

---

EDIT: I'll revert the commit, was added for AmiBerry Stretch (https://github.com/Fourdee/DietPi/issues/475#issuecomment-350380744), which is still open. I'll find another method when resolving AmiBerry.

By default the LD_LIBRARY_PATH entry i

[2017-12-22 12:24] Fourdee commented on #1329
Completed.

[2017-12-22 12:24] #1329 closed, assigned to Fourdee

[2017-12-22 14:02] MichaIng commented on #1333
@xnathanh

Ui, jep partitioning went totally wrong. Just to sort issues out: You did flash image from dietpi.com just by Etcher onto your SD, which was then formatted to contain 2 partitions?

[2017-12-22 14:06] MichaIng commented on #1330
@DarkElvenAngel

Thanks for solution. Simple and clean by dummy service file.

Just for interest, I will try to have a look where the error is produced, maybe we can stop the execution/error msg at it's root.

[2017-12-22 14:14] MichaIng commented on #1314
@guny74

Maybe this is somehow related to **BPI m2+**, as I can't reproduce it on VM.

@Fourdee @k-plan

Do you have some **BPI m2+** to test Jessie+default Lighttpd stack+Nextcloud? In case manual changing datadir by editing `nextcloud/config/config.php`?

[2017-12-22 16:18] DarkElvenAngel commented on #1330
@MichaIng

I'm not sure I already tried finding the source. I was looking for symlinks to apt-daily.system but I may have already deleted them. but they would be in /etc/systemd/ somewhere if they exists otherwise some other part of the boot process is trying to start the service in another way.

Good luck

[2017-12-22 19:27] xnathanh commented on #1333
@Fourdee is rock64 4g with 64gb sd card(SanDisk SDSQUSC-064G-APCIA Ultra Plus 64GB MicroSDXC UHS-1 Class10)

[2017-12-22 19:57] MichaIng commented on #1322
https://emby.media/community/index.php?/topic/52758-odroid-xu4-frequent-crashes/

In the last post they also say, that for x64 builds they moved to .net core and that's also the plan for arm. There should be kept an eye on this development and so far respected for our native and vm images.

[2017-12-22 20:50] xnathanh commented on #1102
@molemantis @douglasmiranda i got same things

insufficient space to run rootfs
(I'm using Etcher to flash the sd card)

but i try to resize root partition,doesn't work,could you send more detail of resize root partition script?

[2017-12-22 21:59] georgecarstoiu commented on #1171
Tried installing it on an  Intel NUC NUC6CAYH - no emmc, just one normal ssd.

Followed the steps described above, but it didn't work. Was unable to install it in the end. Still would be nice to have a normal ISO.

[2017-12-22 22:25] profra opened #1334 "[dupe] Not able to install MOSQUITTO"
HW: Raspberry Pi 3
OS: Dietpi V159

I have tried all suggestions from your side... no success. I don't know what to do. Any help from your side?

![image](https://user-images.githubusercontent.com/11443489/34313719-8d85aaa4-e76d-11e7-84c1-2e5ec7b8c5d1.png)

![image](https://user-images.githubusercontent.com/11443489/34313777-f2d807a8-e76d-11e7-9d20-4ab9d47c8e00.png)

[code]

## Creating a bug repo

[2017-12-23 04:03] DarkElvenAngel commented on #1334
Just to help out could you please run ```cat /etc/issue``` and post the output

[2017-12-23 05:59] Fourdee commented on #1333
@xnathanh

Thanks 👍

I'll try to replicate on my system.

@MichaIng

Rock image has 7 partitions, although, will be a good test for our new PREP_SYSTEM 😄

[2017-12-23 06:00] Fourdee commented on #1102
Reference:
https://github.com/Fourdee/DietPi/issues/1333#issuecomment-353661049

[2017-12-23 06:03] Fourdee commented on #1334
@profra

Thanks for the report, this is fixed for v160.

Please see below for info + fix now:
https://github.com/Fourdee/DietPi/issues/1306#issuecomment-352167350

I'll mark this as closed/dupe. Please reopen if issues persist.

[2017-12-23 06:03] #1334 closed, assigned to nobody

[2017-12-23 06:10] Fourdee commented on #1067
@MichaIng

Yep, I can add a ```G_CHECK_ERROR``` which can be run after any command to:
- Check exit code
- 0 = ok
- non-zero = failure
- The current script would then exit (dietpi-software in this case), with error message.

I'll have a play around ^^

[2017-12-23 09:28] Fourdee commented on #1311
### Improved error handling:

Notes:
- ```G_AGx``` commands are automatically error handled

#### ```G_RUN_CMD mkdir /never/gonna/work```
![image](https://user-images.githubusercontent.com/7077026/34354844-0feba94a-ea29-11e7-89d5-1182d0499174.png)

#### ```G_AGI nevergonnawork```
![image](https://user-images.githubusercontent.com/7077026/34354855-2ae55f20-ea29-11e7-8e61-21f0d8dc64f5.png)

#### Dis

[2017-12-23 09:29] Fourdee commented on #1067
@MichaIng

https://github.com/Fourdee/DietPi/issues/1311#issuecomment-353716344

[2017-12-23 10:14] youpilai commented on #1223
Hi,

First thanks for your effort to make it happens

I wonder, is this will work on Sparky one day ? i have an ALLO Piano DAC 2.1 + Kali on a Sparky board and wanted to try Moode
I also have one ALLO Piano 1 that i can try with a RPi2, but have only one Kali board for now
For testing purpose, i also have a RPiZero with IQAudio Pi-DACZero if needed (i'll have to buy more SD cards...)

[2017-12-23 14:45] k-plan commented on #1314
@MichaIng

Sorry, don't own a BananaPi M2+

But have a OrangePi One (same CPU):

As mentioned [here](https://github.com/Fourdee/DietPi/issues/1281#issuecomment-350553709) I like to give you this for free, if you sent me your contact details.
So you can better play with real ARM hardware.

Yes, I can set this up as clean manual install on OrangePi One DietPi v159 and change datadir by editing` next

[2017-12-24 18:02] LexiconCode commented on #1313
A bit off-topic. Would there be a possibility to specify the port that Pi Hole uses for the web administration panel? That way other services can utilize port 80.

[2017-12-24 19:49] LexiconCode commented on #1032
is this the most up-to-date dietpi image for C2 stretch?

[2017-12-25 03:02] LexiconCode opened #1335 "DietPi-Software | new version of UrBackup server available (2.1.20)"
#### Required Information:
- DietPi Version | ```cat /DietPi/dietpi/.version```? 159
- SBC Device (EG: RPi 3)? Odroid C2
- Power supply used (EG: 5v 1A RAVpower)?
- SD card used (EG: Sandisk ultra)?
- Distro (EG: Jessie) | ```uname -a```?  aarch64 Jessie

#### Extra details:

There is a new version of UrBackup server available (2.1.20). Download it [here](http://www.urbackup.org/download.html).

[2017-12-25 03:19] LexiconCode opened #1336 "DietPi-Software | Directory where UrBackup will save temporary files is inaccessible"
#### Required Information:
- DietPi Version | ```cat /DietPi/dietpi/.version```? 159
- SBC Device (EG: RPi 3)? Odroid C2
- Power supply used (EG: 5v 1A RAVpower)?
- SD card used (EG: Sandisk ultra)?
- Distro (EG: Jessie) | ```uname -a```? Jessie

#### Additional Information (if applicable):
- Software title?
UrBackup
- Can this issue be replicated on a fresh installation of DietPi? yes

#### Expec

[2017-12-25 07:23] Fourdee commented on #1336
@LexiconCode

Merry xmas! 🎄

Thanks for the report 👍

We'll try to replicate and resolve, after xmas period.

[2017-12-25 07:57] Fourdee commented on #1032
@LexiconCode

Yes currently, automatically updates to v159 during 1st run.
I've been running it for a few weeks. Aside from Kodi and GPU (Jessie packages only), it runs a dream.

[2017-12-26 09:31] stefanprobst opened #1337 "DietPi-Software | Shairport-sync fails due to libssl1.0"
Installation of shairport-sync fails on stretch, because it refers to jessie's libssl version in dietpi-software at line 5924/5929/5934.
Also: Maybe we can use the shairport-sync version that is now officially in the stretch repos?

[2017-12-26 11:32] Fourdee commented on #1337
@stefanprobst

Thanks for report 👍

Fixed in v160. To resolve now (RPi2/3 and other ARMv7):
[code]

[2017-12-26 11:32] #1337 closed, assigned to Fourdee

[2017-12-26 13:39] Fourdee commented on #1333
Unable to replicate with current image:
```DietPi_v156_Rock64-arm64-(Stretch).img```

Putting this down to a possible instability issue with SD card and/or PSU used.

I'll mark as closed, please reopen if required.

[2017-12-26 13:39] #1333 closed, assigned to Fourdee

[2017-12-26 13:43] Fourdee commented on #1335
@LexiconCode

Many thanks for heads up 👍

2.1.20 install available in v160 update.

[2017-12-26 13:43] #1335 closed, assigned to Fourdee, MichaIng

[2017-12-26 14:11] Fourdee commented on #1336
@LexiconCode

Appears to be a bug with UrBackup itself, pre 2.1.20.

Installed 2.1.20 = fine
Installed 2.1.19 = error confirmed on main screen.

I'll mark this as closed, due to https://github.com/Fourdee/DietPi/issues/1335#issuecomment-353970229

[2017-12-26 14:11] #1336 closed, assigned to Fourdee

[2017-12-26 14:44] LexiconCode opened #1338 "DietPi-Software | Pi-hole: no IP addresses found."
#### Required Information:
- DietPi Version | ```cat /DietPi/dietpi/.version```? 159
- SBC Device (EG: RPi 3)? Odroid C2
- Power supply used (EG: 5v 1A RAVpower)? Odroid official power supply
- SD card used (EG: Sandisk ultra)?  Sandisk ultra
- Distro (EG: Jessie) | ```uname -a```?  aarch64 **Jessie and Stretch**

#### Additional Information (if applicable):
- Software title? pihole
- Can this iss

[2017-12-27 02:35] k-plan commented on #1338
@LexiconCode

can you please provide terminal output of:

`ls -lah /var/www/`

and

`cat /etc/lighttpd/lighttpd.conf | grep document-root`

[2017-12-27 10:05] Fourdee commented on #1297
### Ok,completed for v160 ```/etc/dietpi``` is no more!:
- ```/var/tmp/dietpi/logs``` for DietPi logs outside of ```/var/log```, that we dont want clearing every 1 hour with dietpi-ramlog
- Replaced ```/etc/dietpi``` throughout DietPi scripts with ```/var/lib/dietpi```
- ```dietpi-software``` installations of non-systemd services which used ```/etc/dietpi```. Have been moved to ```/var/lib/dietpi/

[2017-12-27 13:39] LexiconCode commented on #1338
`ls -lah /var/www/`

[code]

`cat /etc/lighttpd/lighttpd.conf | grep document-root`

[code]

[2017-12-27 14:02] MichaIng opened #1340 "DietPi-Software | Non-APT software versions"
### DietPi-Software current and upstream versions
_Last update: 2018-06-23_
🈴 update available
🈺 reasonable beta or unsure
🈯️ up-to-date

ID | Title | Version | Up-to date? | Link
-- | ----- | -------- | ------ | -----
30 | NoMachine | 6.1.6 | 🈴 6.4.6 | https://www.nomachine.com/softwareupdates
128 | MPD | 0.20.23 | 🈯️ | https://www.musicpd.org/download/mpd/stable/
54 | phpBB | 3.2.4 | 🈯️ | https:

[2017-12-27 14:23] MichaIng commented on #1330
@DarkElvenAngel
Replacing `/etc/systemd/system/apt-daily.service` by the dummy service as mentioned above just worked fine, error is gone 🙂!

[2017-12-27 15:08] MichaIng commented on #1330
About the ssd stop error:
Found the commit, that was meant to stop error messages: https://github.com/Fourdee/DietPi/commit/0e9806dff2628a41e652a9dc7d11a618b8142aa9#diff-e9e0c6c64b4937739e13ffac58f4a888R290
However systemd seems to have it's own error handling that does not rely on command outputs.

I trief `ExecStart=/bin/bash -c '( ps -A | grep sshd ) && killall sshd; ( ps -A | grep dropbear ) &

[2017-12-27 15:17] Fourdee commented on #1330
@MichaIng

Not sure, probably needs a full bash script that we can control, check for process/installed service and control it that way. Or ```systemctl stop dropbear``` in the service, or something similar.

I'd need to take a stab at it.

[2017-12-27 15:19] Fourdee commented on #1340
@MichaIng

Great stuff 👍

Although, I hate these new git emotes, looks like a child made them, for other children.

[2017-12-27 15:22] Fourdee commented on #1340
@MichaIng

Legend 👍

Merged: https://github.com/Fourdee/DietPi/pull/1339#issuecomment-354128584

Testing required (quick installs) to verify functional.

[2017-12-27 15:22] k-plan commented on #1338
On a working installation, it look like this:

[code]

[code]

Something went wrong with pihole installation script.

This are messages from pihole installation script:
[code]
And this is a message from DietPi script:

`[Failed] Pi-Hole exited with code (1) and is not installed.`

This happens, if something is missing while installation scripts are running.

[https://github.com/Fourdee/DietPi/issu

[2017-12-27 18:55] LexiconCode commented on #1338
` pihole -r`

@k-plan
To emphasize this can be replicated on a fresh install just by trying to install PiHole. Sorry if I muddied the waters earlier my convoluted post. I've done a lot of testing to experiment part of which was testing out the ` pihole -r`. _Each_ test is done on a fresh install DietPi via reimaging from dietpi official images. The output in the my post of above belongs to a fresh

[2017-12-27 19:13] MichaIng opened #1343 "DietPi-Software | Koel: Installation fails on local VMs getting composer"
On my only-local network VMs (Jessie and Stretch), Koel installation fails on following step: https://github.com/Fourdee/DietPi/blob/testing/dietpi/dietpi-software#L7157

Also using `php -r "copy('https://getcomposer.org/installer', 'composer-setup.php');"` like mentioned on composer download page, fails the same way: https://getcomposer.org/download/

Error: `PHP Warning:  readfile(https://getcom

[2017-12-27 19:15] LexiconCode commented on #1338
Reviewing Issue #1282
This may have relevance

[2017-12-27 19:35] #1269 closed, assigned to nobody

[2017-12-27 19:36] #1146 closed, assigned to nobody

[2017-12-27 20:16] MichaIng opened #1344 "DietPi-Software | MariaDB: Fix database/user creation"
On testing installation of updated software versions, I found several installation to fail and to possibly break further installations. The problem is the unix_socket authentication, coming by default with MariaDB and i.a. how it is handles within Jessie:
- Since Stretch, no real `mysql-server` is available any more, but `mariadb-server` is actually installed.
- Thus (besides other reasons) we dis

[2017-12-27 20:19] MichaIng commented on #1340
Everything tested on VM Jessie+Stretch:
- All installations work fine, software does it's job/opens as far as I could test fast, but:
- Koel installation fails at least on only-local VMs: https://github.com/Fourdee/DietPi/issues/1343
- General issue with MariaDB: https://github.com/Fourdee/DietPi/issues/1344
- If we have some time, we can discuss how to handle the list above.

@Fourdee

Which new

[2017-12-27 22:11] techwithjake opened #1345 "Dietpi-Software | Mosquitto is Unable to Install"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version | 159
- SBC Device | RPi3
- Power supply used | CanaKit 1A Power Supply
- SD card used | Sandisk ultra
- Distro (EG: Jessie) | `Stretch

#### Additional Information (if applicable):
- Software title? | Mosquitto
- Can this issue be replicated on a fresh installation of DietPi? | Yes

#### Expected behaviour:

Dietpi-Softw

[2017-12-27 22:26] MichaIng commented on #700
@LexiconCode @Fourdee
Is this still present on current ownCloud/Nextcloud implementations?

I never faced an issue on my RPi2 server with DietPi Nextcloud on LAAP webstack + certbot https.

I just tested VM image with LLAP+Nextcloud and webdav (windows nc client) works fine. I thought the .well-known folders are just necessary, if you configure webdav clients to access just domain.org instead of t

[2017-12-27 22:51] MichaIng commented on #1345
Fixed with v160, see here how to fix it now: https://github.com/Fourdee/DietPi/issues/1306#issuecomment-352167350

Will close the issue, reopen, if the error persists.

[2017-12-27 22:51] #1345 closed, assigned to nobody

[2017-12-27 23:58] techwithjake commented on #1345
Thanks for letting me know. Tried looking but I guess I didn't look hard enough.

I found it odd though I could install it via apt-get just fine.

[2017-12-28 00:00] MichaIng commented on #1330
@Fourdee
Replacing `killall` by `systemctl stop` leads to disappearing error message.

The error message only shows up on reboot/shutdown directly on machine terminal, if no SSH session is opened. Persistent system logs need to be enabled to see it after reboot, as it shows up on terminal very short. So to replicate:
1. Use any VirtualBox image, should show up also on all other devices.
2. Start w

[2017-12-28 00:16] MichaIng commented on #1345
@techdabbler
Yeah that's true, with Stretch the official debian package also made a huge version jump, thou it is not as current as mosquittos own repo (that we use): 4.10 vs. 4.14 and as we know, usually the versions are frozen on debian stable repo, thus will fall behind more over time.

It is by the way also known/mentioned at mosquittos own guthub page: https://github.com/eclipse/mosquitto/iss

[2017-12-28 09:28] Fourdee commented on #1338
We'll need to open this up for investigations, to determine if this is a DietPi, kernel and/or PiHole scrape specific issue.

Notes:
- 🈯️ RPi 3 eth:
[code]
- 🈴 C2 eth: this would fail PiHole installation (due to unexpected ```??? ???``` in scrape), unless IP address is manually entered.
[code]

[2017-12-28 10:08] Fourdee commented on #1330
@MichaIng

Just a quick look over this:
- Dropbear is a sysinit service ```/etc/init.d/dropbear```. We could probably create our own SystemD one with the additional ```killall``` command to kill SSH connections during shutdown.
-- This all being that OpenSSH no longer requires the the additional ```killall```, nope, it still requires the custom killall.

@MichaIng
I think a bash script to cover bo

[2017-12-28 10:36] glogiotatidis opened #1347 "DietPi-Image | OrangePI PC: image does not boot"
## Creating a bug report/issue:
OrangePI PC image does not boot. Serial console reports "** Unrecognized filesystem type ** ext2"

#### Required Information:
- DietPi Version | ```cat /DietPi/dietpi/.version```? v145
- SBC Device (EG: RPi 3)? OrangePi PC v1.2
- Power supply used (EG: 5v 1A RAVpower)? 5v 2A
- SD card used: Kingston Class 10 and Sandisk Ultra Class 10

#### Actual behaviour:
Does no

[2017-12-28 15:20] mpember commented on #1065
FYI, Google have changed the default branch to be the new vision-based kit.  This means that the script needs to explicitly request the **voicekit** branch.

[2017-12-28 15:57] MichaIng commented on #1330
@Fourdee
Works on my VMs on Jessie+Stretch+Buster 👍.

@apt-daily.service
- There are three other services: `apt-daily.timer`, `apt-daily-upgrade.service`, `apt-daily-upgrade.timer` and the last two wait for the first and our masked service to start. I guess this the reason, why systemd wants to start them/see them start and even knows the masked services description text.
- So simple solution is t

[2017-12-28 16:17] MichaIng commented on #1330
Fixed and merged changelog: https://github.com/Fourdee/DietPi/pull/1348

[2017-12-28 16:21] TerryE commented on #1294
@Fourdee Dan, BTW I think that the title is wrong: it should be **Run nodered under its own service account**.  There are good reasons why this should be separate from `www-data`.

@DarkElvenAngel, you typically don't statically allocated service account UIDs.  I created my version by
[code]

[2017-12-28 18:54] MichaIng commented on #1311
@Fourdee
Maybe we can include the option the directly send the error as dietpi-bugreport (together with all the other system data)?
_______________
About bug reporting generally, although this would belong into an own topic, it would be nice to have an option or by default make an output that one can copy&paste directly into github preformatted.
Nextcloud e.g. offers this via an app and by this al

[2017-12-28 21:13] ilgrank opened #1349 "DietPi-Software | Pi-Hole: not updating blocked count"
#### Required Information:
DietPi: 159
SBC: VirtualBox image
Power Supply: na
SD: na
Distro: Debian 4.9.65-3+deb9u1

#### Additional Information (if applicable):
Software: PiHole
Can be replicated: yes

#### Expected behaviour:
Blocked DNS requests should be showing, instead just number of queries is populated.
I have configured DietPi to use RAM Logs, and PiHole to log (expecting to have the logs

[2017-12-29 02:20] MichaIng commented on #1311
I played around a bid with global error handling and info echo during installation. It would be nice to reduce the overall amount of echo lines without reducing the information content.

I loved the installation script of PiHole and had a look into their method:
- `echo -n 'test...'` skips new line
- `"\\r\\033[K"` at the beginning of string, will overwrite existing line.
- Thus you can use:
[code

[2017-12-29 03:51] TerryE opened #1350 "DietPi-Software | Lighttpd: fpm socket being created in wrong directory."
Required Information|Value
-----------|-------------
DietPi Version | 159
SBC Device|RPi 3
Power supply|R-S DIN PSU 5.3V to 5A
SD card used|8Gb Sandisk ultra  + 120Gb Kingston UV400 SSD as root partition
Distro | `4.9.62-v7+ #2 SMP ...  2017 armv7l GNU/Linux`

#### Additional Information:
- Running Ligthttpd + Mysql + PHP5 webstack
- Can this issue be replicated on a fresh installation of DietPi?

[2017-12-29 10:12] Fourdee commented on #1349
@ilgrank

Thanks for the report 👍

We'll try to replicate.

[2017-12-29 10:39] Fourdee commented on #1349
Unable to replicate on devices I have available currently for testing:
- RPi 3 Stretch
- VMware Stretch
- Chromium 63.0.3239.84
![image](https://user-images.githubusercontent.com/7077026/34435277-30f2b84c-ec84-11e7-9bb2-072af2f6bf1c.png)

@ilgrank

Might be a one off issue with Pi-Hole, can you try flushing the logs and seeing if the issue reoccurs?
- Pi-Hole web UI
- Settings
- Flush Logs

[2017-12-29 11:03] Fourdee commented on #1065
@mpember

Many thanks, confirmed with their online doc:
https://aiyprojects.withgoogle.com/voice/#makers-guide-1-1--source-code
[code]

[2017-12-29 11:16] Fourdee commented on #1065
Completed.

[2017-12-29 11:16] #1065 closed, assigned to Fourdee

[2017-12-29 11:31] Fourdee commented on #1343
@MichaIng

Ran install of testing branch with VMware:

Was unable to replicate the errors you experienced on my network. UPnP disabled and no port forwarding to the devices.
DNS/routing issue?

We get some warnings regarding npm packages, however this is what Koel requires and installs itself.

---

- 🈺 New user prompts during install, would be nice if we can automate these. **EDIT**: they were pr

[2017-12-29 11:35] Fourdee commented on #1347
@glogiotatidis

Thanks for the report 👍 We'll try to replicate.

[2017-12-29 12:16] Fourdee commented on #1294
NodeRed will run under user ```nodered``` in v160, thanks @TerryE 👍

Test install passed.
Completed.
![image](https://user-images.githubusercontent.com/7077026/34436940-2ff37d9c-ec92-11e7-955c-7455ff84d6c4.png)

[2017-12-29 12:16] #1294 closed, assigned to Fourdee

[2017-12-29 14:08] stefanprobst opened #1351 "Compile mpd with pulseaudio support"
The mpd version in DietPi stretch (0.20.11-1) is compiled without pulseaudio support:
`mpd --version

Output plugins:
 shout null fifo pipe alsa httpd recorder`

Would it be possible to offer mpd with pulseaudio suport? The official mpd version 0.19.21-1 in the raspbian stretch archive is compiled with these output plugins:
`shout null fifo pipe alsa roar ao oss openal pulse jack httpd recorder`

[2017-12-29 15:15] Fourdee commented on #1351
@stefanprobst

Hi,

Thanks for the request.

We will never support or endorse pulseaudio throughout DietPi.
The main reasons being bulky, unnecessary, waste of CPU/RAM usage. ALSA does it better, in every aspect.

Please don't take the above personally, just me expressing my sheer hatred for pulseaudio.

[2017-12-29 15:15] #1351 closed, assigned to nobody

[2017-12-29 15:25] Fourdee commented on #1340
@MichaIng

lol
![image](https://user-images.githubusercontent.com/7077026/34440214-8aacd544-ecab-11e7-94f1-cf881ec2a5f0.png)

- Koel, install is fine, but new issue with automation (cant see a solution, looks limited to Koel's source?): https://github.com/Fourdee/DietPi/issues/1343#issuecomment-354434655

- MariaDB looks like a big one, i'll take a look when I can.

[2017-12-29 15:36] MichaIng commented on #1343
@Fourdee
I just tested again on all VirtualBox VMs (including Buster this time) and on Apache (mod-php) as well as Lighttpd (php-fpm) and the issue is just the same:
🈴 `php -r "readfile('https://getcomposer.org/installer');"` fails with timeout mentioned above, also running just in terminal.

I ran further tests:
- The issue seems not to be consistent across web sources.
- 🈴 `php -r "readfile('htt

[2017-12-29 15:36] Fourdee commented on #1350
@TerryE

Thanks for the report 👍

Local testing with RPi 3 and our default Stretch image:
- 🈯️ phpinfo.php loads correctly, and, after subsequent reboots.

Permissions seem correctly set during start of services:
- ```php7.0-fpm.service```, runs under the root user by default to start with, allowing permissions to be set.
[code]

@TerryE
Is there anything else installed/configured on the system th

[2017-12-29 15:37] Fourdee commented on #1350
@TerryE

I see your running Jessie with php5. I'll re-test under a new system.

[2017-12-29 15:51] MichaIng commented on #1340
@Fourdee
Huh, these icons are new for you? I have them as long as I can remember using github. Now I am interested how the old ones looked like 😆.

- Koel seems to be related to my VM network setup, see the separete topic: https://github.com/Fourdee/DietPi/issues/1343
- Yes, further discussion in separate topic also: https://github.com/Fourdee/DietPi/issues/1344

Lets concentrate here on the updat

[2017-12-29 15:52] stefanprobst commented on #1351
Ok, thanks for the info. For me, pulseaudio became interesting with the new `avoid-resampling` option, and I like how easy it is to set up network streaming.

[2017-12-29 17:38] ilgrank commented on #1349
Hi
Sorry for the late reply
Flushed the logs ->no change (besides resetting the visibile count)
Rebooted the system (since the logs should be stored in ram, should produce the same result) ->no change (besides resetting the visibile count)

[2017-12-29 18:42] sytone commented on #1157
So played a bit with this, working with scripts is slowly sending me mad as I have to pass strings around. Considering the following approach.

In git we have all the files broken out and as part of the release/packaging process we take these and push them together into single files to reduce the foot print, this is effectively building the dietpi-software on the fly or including a library in whic

[2017-12-29 19:02] TerryE commented on #1350
@Fourdee Dan, I started with your standard Raspian bootstrap image linked from your [DietPi website](http://www.dietpi.com/) download page.  The **Download**->**Raspberry Pi** image still links to your Jessie image file.  I've just had a look at the containing [downloads/images](http://dietpi.com/downloads/images/?C=N;O=A) folder view and I see that you now have a [Stretch Image](http://dietpi.com

[2017-12-29 19:02] #1350 closed, assigned to nobody

[2017-12-29 20:55] k-plan commented on #1268
My new toy arrived at Christmas time: [Odroid HC1](http://www.hardkernel.com/main/products/prdt_info.php?g_code=G150229074080) - unfortunately without the [Clear Case](http://www.hardkernel.com/main/products/prdt_info.php?g_code=G150878897712).  😢

Noticed @Fourdee get on as well from Hardkernel! 👍   Nice, a photo of his device is [here](https://pbs.twimg.com/media/DQZEVmpWsAIMYjZ.jpg) 😃

### Impo

[2017-12-29 21:48] k-plan commented on #1268
Frist I have to say, all hint have been foung by google around the Net.
Script, code and adjustment are not from me, credit must go to originator.
So I can't say you will get it on DietPi. It will be Fourdee decision.

Some infos found here:
https://forum.odroid.com/viewtopic.php?f=52&t=25424
https://magazine.odroid.com/wp-content/uploads/ODROID-Magazine-201702.pdf#page=8

### Change

- IRQ alloca

[2017-12-29 22:04] MichaIng commented on #1157
@sytone
Nice that you went on thinking about this. It actually also still spook through my mind, but as the image preparation automation https://github.com/Fourdee/DietPi/issues/1285 and dietpi-globals https://github.com/Fourdee/DietPi/issues/1311 are already two fundamental changes, I wanted to wait with the next until v160 is out.
Anyway good to bring the ideas forward.

There were already some

[2017-12-29 22:22] MichaIng commented on #1268
@k-plan simply great!
To reduce work load I would concentrate on the Stretch image (with kernel 4.9 as repo default version), as we anyway wan't to drop Jessie. Or might the issues with Odroid C2 also be present here, which are the reason we do not yet have stable Stretch?: https://github.com/Fourdee/DietPi/issues/1032

[2017-12-29 22:34] k-plan commented on #1268
@MichaIng

have not tested Pi-Hole on Odroid HC1 so far. Full concentration was on file transfer performance.

Have as well choose Jessie to have a better comparison to OMV (erasmus) which work as well with Jessie at this moment.

DietPi v159 Stretch is a `apt-get update && apt-get upgrade && apt-get dist-upgrade && install linux-image-4.14-armhf-odroid-xu4` version of `(NR_4.x)_DietPi_v158_Odroid

[2017-12-29 23:07] MichaIng opened #1352 "DietPi-Software | Uninstall terminates, if package is not installed+not present in repo"
Just faced this on uninstalling ffmpeg. Sadly lost the exact error, but is reproducible:
[code]
- Error is thrown, as the packages do only get installed on RPi together with own built ffmpeg. These libraries are not installed on non-RPi devices and do not exist in apt repositories, which seems to be the reason why an error is thrown, thus at least new global error handler terminates uninstallation

[2017-12-29 23:49] MichaIng commented on #1268
@k-plan
Hehe don't wanted to turn down testing fun 😄!  Just if you guys are going to start boring tests with installing/uninstalling all our software or something like this, before release, then, as we already had the "many devices" discussion, it should be enough to do that for Stretch 4.9 😉.

But if kernel 4.14. is working fine so far, and maybe especially this new board has benefits from it, we

[2017-12-30 02:17] TerryE commented on #1306
@Fourdee Dan, we've still got version mismatch problems here.  I hit this when trying out a test install of your Stretch image.  I tried your workaround based on a wget from `http://dietpi.com/downloads/binaries/all/` but this still barfs on a
[code]
Looking at the [repo](http://repo.mosquitto.org/debian/pool/main/m/mosquitto/) the current version is 1.4.14; doing a `showpkg` on the the mosquitto

[2017-12-30 09:26] Fourdee commented on #1352
@MichaIng

1st is to not exit on ```G_AGP``` error, allowing notification, but continue:
[code]

2nd, as you mention, use the ```$G_HW_MODEL``` id for the additional package removals. But check those packages are installed in the code.

3rd, as you mentioned ```G_RUN_CMD dpkg -P libx264 libmp3lame libfdk-aac```, although, this only removes single packages, not deps.

I'd personally go with both op

[2017-12-30 09:47] Fourdee commented on #1306
@TerryE

Thanks for the report 👍

Confirmed, appears to be an issue with the repo itself. We'll need to wait for the mosq repo maintainers to resolve the header/links.

[2017-12-30 09:53] Fourdee commented on #1349
@ilgrank

Thanks for testing.

We'll need to test on the Virtual box image to exclude it. If we can't replicate on that, the only thing I can suggest is a reinstall of PiHole on the system through ```dietpi-software```.

[2017-12-30 10:00] Fourdee commented on #1017
Marking as closed, we'll continue to use apt installations + Stretch.

[2017-12-30 10:00] #1017 closed, assigned to nobody

[2017-12-30 10:16] Fourdee commented on #1349
- 🈯️ Virtual Box

Unable to replicate. @ilgrank As above, I can only suggest trying a ```uninstall/install``` of PiHole through ```dietpi-software```.

[2017-12-30 10:24] Fourdee commented on #1277
@sunnythaper

Apologies for the delay, system looks fine, apt source added correctly. Can you try running:
[code]

[2017-12-30 10:40] Fourdee commented on #1328
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:40] #1328 closed, assigned to nobody

[2017-12-30 10:40] Fourdee commented on #1296
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:40] #1296 closed, assigned to nobody

[2017-12-30 10:40] Fourdee commented on #1246
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:40] #1246 closed, assigned to nobody

[2017-12-30 10:40] Fourdee commented on #1220
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:40] #1220 closed, assigned to nobody

[2017-12-30 10:40] Fourdee commented on #1216
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:40] #1216 closed, assigned to nobody

[2017-12-30 10:40] Fourdee commented on #1188
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:40] #1188 closed, assigned to nobody

[2017-12-30 10:41] Fourdee commented on #1117
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:41] #1117 closed, assigned to nobody

[2017-12-30 10:41] Fourdee commented on #1108
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:41] #1108 closed, assigned to nobody

[2017-12-30 10:41] Fourdee commented on #1089
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:41] #1089 closed, assigned to nobody

[2017-12-30 10:41] Fourdee commented on #1085
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:41] #1085 closed, assigned to nobody

[2017-12-30 10:41] Fourdee commented on #1050
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:41] #1050 closed, assigned to nobody

[2017-12-30 10:42] Fourdee commented on #1041
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:42] #1041 closed, assigned to nobody

[2017-12-30 10:42] Fourdee commented on #1039
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:42] #1039 closed, assigned to nobody

[2017-12-30 10:42] Fourdee commented on #1029
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:42] #1029 closed, assigned to nobody

[2017-12-30 10:42] Fourdee commented on #1019
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:42] #1019 closed, assigned to nobody

[2017-12-30 10:42] Fourdee commented on #1006
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:42] #1006 closed, assigned to nobody

[2017-12-30 10:43] Fourdee commented on #973
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:43] #973 closed, assigned to nobody

[2017-12-30 10:43] Fourdee commented on #945
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:43] #945 closed, assigned to nobody

[2017-12-30 10:43] Fourdee commented on #929
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:43] #929 closed, assigned to nobody

[2017-12-30 10:43] Fourdee commented on #923
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:43] #923 closed, assigned to nobody

[2017-12-30 10:43] Fourdee commented on #910
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:43] #910 closed, assigned to nobody

[2017-12-30 10:43] Fourdee commented on #903
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:43] #903 closed, assigned to nobody

[2017-12-30 10:43] Fourdee commented on #902
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:43] #902 closed, assigned to nobody

[2017-12-30 10:43] Fourdee commented on #897
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:43] #897 closed, assigned to nobody

[2017-12-30 10:43] Fourdee commented on #895
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:43] #895 closed, assigned to nobody

[2017-12-30 10:43] Fourdee commented on #890
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:43] #890 closed, assigned to nobody

[2017-12-30 10:43] Fourdee commented on #889
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:43] #889 closed, assigned to nobody

[2017-12-30 10:44] Fourdee commented on #881
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:44] #881 closed, assigned to nobody

[2017-12-30 10:44] Fourdee commented on #857
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:44] #857 closed, assigned to nobody

[2017-12-30 10:44] Fourdee commented on #800
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:44] #800 closed, assigned to nobody

[2017-12-30 10:44] Fourdee commented on #798
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:44] #798 closed, assigned to nobody

[2017-12-30 10:44] Fourdee commented on #788
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:44] #788 closed, assigned to nobody

[2017-12-30 10:44] Fourdee commented on #687
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:44] #687 closed, assigned to nobody

[2017-12-30 10:44] Fourdee commented on #678
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:44] #678 closed, assigned to nobody

[2017-12-30 10:45] Fourdee commented on #670
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:45] #670 closed, assigned to nobody

[2017-12-30 10:45] Fourdee commented on #623
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:45] #623 closed, assigned to nobody

[2017-12-30 10:45] Fourdee commented on #587
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:45] #587 closed, assigned to Fourdee

[2017-12-30 10:45] Fourdee commented on #575
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:45] #575 closed, assigned to nobody

[2017-12-30 10:45] Fourdee commented on #573
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:45] #573 closed, assigned to nobody

[2017-12-30 10:45] Fourdee commented on #563
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:45] #563 closed, assigned to Fourdee

[2017-12-30 10:45] Fourdee commented on #561
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:45] #561 closed, assigned to nobody

[2017-12-30 10:45] Fourdee commented on #560
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:45] #560 closed, assigned to nobody

[2017-12-30 10:45] Fourdee commented on #557
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:45] #557 closed, assigned to nobody

[2017-12-30 10:46] Fourdee commented on #504
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:46] #504 closed, assigned to nobody

[2017-12-30 10:46] Fourdee commented on #517
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:46] #517 closed, assigned to nobody

[2017-12-30 10:46] Fourdee commented on #553
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:46] #553 closed, assigned to nobody

[2017-12-30 10:46] Fourdee commented on #555
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:46] #555 closed, assigned to nobody

[2017-12-30 10:46] Fourdee commented on #189
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:46] #189 closed, assigned to nobody

[2017-12-30 10:46] Fourdee commented on #193
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:46] #193 closed, assigned to nobody

[2017-12-30 10:46] Fourdee commented on #194
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:46] #194 closed, assigned to nobody

[2017-12-30 10:46] Fourdee commented on #230
MPD is now its own installation in dietpi-software.

[2017-12-30 10:46] #230 closed, assigned to nobody

[2017-12-30 10:46] Fourdee commented on #244
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:46] #244 closed, assigned to nobody

[2017-12-30 10:46] Fourdee commented on #247
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:46] #247 closed, assigned to nobody

[2017-12-30 10:46] Fourdee commented on #250
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:46] #250 closed, assigned to nobody

[2017-12-30 10:47] Fourdee commented on #891
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:47] #891 closed, assigned to nobody

[2017-12-30 10:47] Fourdee commented on #70
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:47] #70 closed, assigned to nobody

[2017-12-30 10:47] Fourdee commented on #101
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:47] #101 closed, assigned to nobody

[2017-12-30 10:47] Fourdee commented on #110
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:47] #110 closed, assigned to nobody

[2017-12-30 10:47] Fourdee commented on #129
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:47] Fourdee commented on #163
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:47] #163 closed, assigned to nobody

[2017-12-30 10:47] Fourdee commented on #169
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:47] #169 closed, assigned to nobody

[2017-12-30 10:47] Fourdee commented on #173
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:47] #173 closed, assigned to nobody

[2017-12-30 10:47] Fourdee commented on #181
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:47] #181 closed, assigned to Fourdee

[2017-12-30 10:47] Fourdee commented on #183
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:47] #183 closed, assigned to nobody

[2017-12-30 10:48] Fourdee commented on #266
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:48] #266 closed, assigned to nobody

[2017-12-30 10:48] Fourdee commented on #417
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:48] #417 closed, assigned to Fourdee

[2017-12-30 10:48] Fourdee commented on #425
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:48] #425 closed, assigned to nobody

[2017-12-30 10:48] ilgrank commented on #1349
Just to be sure, I have re-downloaded the appliance, imported it on another installation of Virtualbox and got the same issue.
To replicate:
Install VirtualBox (5.2.4), download DietPi_VirtualBox-x86_64-(Stretch).ova.
Run it
It will update to 159 and reboot.
Log in, use the interface to install just SW 93 (Pi Hole)
(installation of dependancies, warnings and reboot)
New installation->same issue.

[2017-12-30 10:48] Fourdee commented on #435
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:48] #435 closed, assigned to nobody

[2017-12-30 10:48] Fourdee commented on #500
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:48] #500 closed, assigned to nobody

[2017-12-30 10:49] Fourdee commented on #939
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:49] #939 closed, assigned to nobody

[2017-12-30 10:49] Fourdee commented on #335
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:49] #335 closed, assigned to nobody

[2017-12-30 10:49] Fourdee commented on #168
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:49] #168 closed, assigned to Fourdee

[2017-12-30 10:49] Fourdee commented on #137
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:49] #137 closed, assigned to nobody

[2017-12-30 10:50] Fourdee commented on #380
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:50] #380 closed, assigned to nobody

[2017-12-30 10:50] Fourdee commented on #731
General Cleanup:
Marking all software requests as closed. Once interest peaks, we'll reopen once work starts.

[2017-12-30 10:50] #731 closed, assigned to Fourdee

[2017-12-30 10:53] Fourdee opened #1354 "Info | Software requests reset"
Hi all,

Just for info:
- I've closed all outdated software requests that we have not be able to pick up yet, or, complete.
- If the software request gains enough interest, and, we are able to pick up the software requests, we'll reopen.

This is to allow us to focus and support our current software titles, ensuring stability and expected DietPi experience.

[2017-12-30 10:57] Fourdee commented on #1349
@ilgrank

Strange, same process I used here.
Thinking possible networking/browser/host client issue.

Can you replicate the web issue on another client (eg: another PC/tablet/phone)?

[2017-12-30 10:58] Fourdee commented on #1021
Marking as closed for now, unable to dedicate time for this.

[2017-12-30 10:58] #1021 closed, assigned to nobody

[2017-12-30 11:00] ilgrank commented on #1349
I have just updated the post above, with my findings about the issue. The culprit is the CSS, which seems borked to me (dozens of domains where Styles should be, and also an override (**display:none**))

[2017-12-30 11:00] Fourdee commented on #765
Closing due to no updates/outdated.

[2017-12-30 11:04] ilgrank commented on #1349
The problem is, the edit is just in-place, it does not have a permanent effect.. the issue is still there. I have just used the embedded Dev Tools to alter the CSS code in-place to check what was the cuprit.
I also wrote to the Pi-Hole team but I'm waiting for an answer on their side too...

[2017-12-30 11:06] Fourdee commented on #725
General cleanup of outdated/no-progress tickets.

Please reopen if required.

[2017-12-30 11:06] #725 closed, assigned to nobody

[2017-12-30 11:06] Fourdee commented on #681
General cleanup of outdated/no-progress tickets.

Please reopen if required.

[2017-12-30 11:06] #681 closed, assigned to nobody

[2017-12-30 11:08] Fourdee commented on #448
As much as I'd love to see this in DietPi, we currently lack the man hours to achieve this. Just not feasible at the moment.

Closing.

[2017-12-30 11:09] Fourdee commented on #668
General cleanup. Marking as closed.

[2017-12-30 11:09] #668 closed, assigned to nobody

[2017-12-30 11:10] #212 closed, assigned to nobody

[2017-12-30 11:10] #265 closed, assigned to nobody

[2017-12-30 11:26] ilgrank commented on #1349
'my' fault: I'm using a software, called AdGuard, that does a similar function to PiHole: It had been injecting that "Display:None" as it had erroneously identified PiHole as adware (!!)
I've reported the issue to the developer of AdGuard.. sorry for this loss of time :/
Many thanks for your help, keep up the excellent work and happy new year!

[2017-12-30 11:26] #1349 closed, assigned to Fourdee

[2017-12-30 11:27] Fourdee commented on #1330
@MichaIng

Thanks 👍

I'll mark this as closed.

[2017-12-30 11:27] #1330 closed, assigned to nobody

[2017-12-30 11:29] Fourdee commented on #1297
Completed.

I'll do final in-depth testing on v160 prior to release.

[2017-12-30 11:29] #1297 closed, assigned to Fourdee

[2017-12-30 11:31] Fourdee commented on #1311
@MichaIng

Love the idea 👍

The main issue we have is structure, currently bug reports are simply uploaded to an FTP server. Its really not that much fun to work with bug reports in that format.

Maybe we could add a simple error send on failures, however, we'd need a better system to log them than FTP. SQL db on server, some kind of API on github that allows us to automatically generate a ticket?

[2017-12-30 11:33] Fourdee commented on #1311
@MichaIng

Yep, had the same issue with ```cat << _EOF_ > file```. I'll take a look, but we may need another command for this.

edit:
cant see a way to achieve redirect handles with the command:
[code]

We'll need to avoid using ```G_RUN_CMD ``` if it contains a redirect. Then we can add a global for ```G_FILE_EXISTS``` to check for file creation afterwards.

- 🈯️ ```G_FILE_EXISTS``` https://githu

[2017-12-30 12:31] Fourdee commented on #1311
@MichaIng

Yep, i agree, very clean.

Currently, i've simply enabled as much info as possible during dev, using existing ```dietpi-notify```. We can always trim/clean/refine it at a later date.
Notify may have an issue with ```echo -n 'test...` || "\\r\\033[K"```, would need testing.

[2017-12-30 12:57] Fourdee commented on #1311
@MichaIng
having a little play with your idea 👍
This will only print the github info on ```G_ERROR_HANDLER_ONERROR_EXIT=1``` (default)
![image](https://user-images.githubusercontent.com/7077026/34454460-f83e3e14-ed63-11e7-93ad-33a43e028913.png)

---

Results in:

#### Required Information:
- DietPi Version | v160
- SBC Device     | oDroid C2 (aarch64) (index=12)
- Distro         | buster (index=5)

[2017-12-30 13:34] Fourdee commented on #1349
@ilgrank

No worries, have a good one aswell 👍

[2017-12-30 13:40] MichaIng commented on #1352
@Fourdee
About 1st:
- Easy here, but generally I like the idea of generally terminate on every (unknown) error, as who knows what could go wrong on some wrong/missing/whatever library or I don't know.
- But then we need to handle every known error before.

2nd:
- Jep makes sense here, so adopt the hw model check from installation. Will create PR about this.

3rd:
- Also A_AGP/apt-get purge does no

[2017-12-30 13:58] MichaIng commented on #1311
@Fourdee
Nice so far 👍.
- On $G_USER_INPUT => whiptail, we could add an user choice at the bottom to create the guthub ready output on demand (if user has/agrees to create github account e.g.).
- If it is possible to then create this within whiptail and automark the lines (at least on SSH it marks all parts from outside the whiptail "window" as well), we could easily add more information to the ou

[2017-12-30 15:23] Fourdee opened #1355 "DietPi v6.0 | FAQ"
## DietPi v6.0

### A new major core version of DietPi is our current release (previously v160).

#### When will it be released?
- 🈯️ Released Jan 28th

#### Where can I download the latest v6.0 image?
- http://dietpi.com/download

---

### What can we expect with v6.0?

#### All DietPi images will be re-done from scratch using our new ```PREP_SYSTEM_FOR_DIETPI.sh``` (https://github.com/Fourdee/Di

[2017-12-30 15:26] Fourdee commented on #601
We'll implement this starting from DietPi v6.0: https://github.com/Fourdee/DietPi/issues/1355

[2017-12-30 15:27] Fourdee commented on #896
We'll attempt to achieve this for v6.0, however, we have a limit of 1 month for completion with many other features yet to implement, so this may be a continuing process in v6.0's future.
https://github.com/Fourdee/DietPi/issues/1355

[2017-12-30 15:29] Fourdee commented on #1355
Notes:
- 🈯️ Implement decimal based update system, without breaking existing int system on master branch. New branch ?
- 🈯️ Patch_File will be reset
- 🈯️ Cleanup/standardize ```dietpi.txt``` vars
- Images will be created, prior to v6.0's release
- Allo images will be re-created
- Other features we can implement for the major release?
- Why v6.0? Our current core version is ```5.159```: https://git

[2017-12-30 15:44] Fourdee commented on #1352
@MichaIng

Agree 👍

G_AGP removes and purges the package
G_AGA will then autoremove and purge unneeded packages (eg: lib's used from the package we removed with G_AGP)

Default apt is to not purge (data/conf etc) stays in place: https://askubuntu.com/questions/231562/what-is-the-difference-between-apt-get-purge-and-apt-get-remove/231568

Unless its in ```dietpi-software``` which runs ```G_AGA``` d

[2017-12-30 15:56] MichaIng commented on #1311
@Fourdee
I played around also a bid with process messages and error handling. Basically I merged some status messages to reduce the output lines and established a new G_DIETPI-NOTIFY option "-2" == process. This process messages will not produce a newline and will be overwritten by "ok" and "failure" outputs. Thus in the end you will only see the final results and still perhaps interesting/importa

[2017-12-30 15:59] Fourdee commented on #1311
@MichaIng

Love it, looks brilliant, very nice work! 👍

EDIT:
Once you've finished this, send the PR and i'll take a look.
We can also remove the ```dietpi-funtime``` 😉 (it looked fun, but did absolutely nothing lol)

[2017-12-30 17:49] MichaIng commented on #1355
@Fourdee
Nice summary,
however do you think it is necessary to completely block update from v159? So far I didn't face major issues during update and as usual the some, appearing, can be handled.
- If you think, it is necessary/the benefit outweighs the work for existing users, then I will start to create a Nextcloud/ownCloud migration script, more less based on this: https://docs.nextcloud.com/se

[2017-12-30 18:45] janbildsoehansen opened #1356 "https not working for Punycode domain"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version | DietPi_v158_RPi-armv6-(Stretch)
- SBC Device (EG: RPi 3)? RPi 3
- Power supply used (EG: 5v 1A RAVpower)? yes
- SD card used (EG: Sandisk ultra)? yes
- Distro (EG: Jessie) | ```uname -a```?

#### Additional Information (if applicable):
- Software title?
- Can this issue be replicated on a fresh installation of DietPi?

[2017-12-30 19:08] k-plan commented on #1311
Yes, sorry, it was my fault. Wrong issue here. [Done!](https://github.com/Fourdee/DietPi/issues/1285#issuecomment-354602594)

_(have deleted  double comments. Sorry for the mess.)_

[2017-12-30 20:25] MichaIng commented on #1352
@Fourdee

About APT:
- Ah yeah, `apt-get remove package` equals `dpkg -r package`, leaving configuration files of `package`.
- `apt-get purge package` equals `dpkg -P package` also removing the configuration files of `package`.
- `apt-get autoremove --purge` will purge all auto marked packages with no dependants, at least the dependencies of `package`, no matter whether it was removed/purged by dp

[2017-12-30 21:00] Invictaz commented on #1354
@Fourdee Can you help me set up a Travis / compile robot? Then I can compile some software for the Pi version of DietPi and help you make some software requests I have work.

[2017-12-30 21:08] Invictaz commented on #731
@Fourdee See my other comment in your "I'm going to close all software requests issue". If you can help me please setup a compile / buildrobot I can compile this myself. It needs to be compiled first before we can enter this into DietPi. Because you already compiled a lot of software for DietPi, I hope this is possible.

[2017-12-30 22:37] MichaIng opened #1357 "DietPi-Globals | G_CHECK_URL makes Error_NoConnection_NoInstall obsolete"
Just found this, as I wanted to fix uninstallations for a similar reasons.

G_CHECK_URL now terminates whole dietpi-software, thus on the one hand, Error_NoConnection_NoInstall is not needed anymore, on the other hand, I found at least one case, where, based on device, the check gets an empty string, thus has to fail, before other devices are handled: https://github.com/Fourdee/DietPi/blob/testing

[2017-12-30 22:58] MichaIng commented on #1357
Ah sorry, I was mistaken, the URL check in that case do occur after all supported hw architectures were checked.

Still, we should go through the installations and at least remove the `Error_NoConnection_NoInstall ` by times 😉. I adjust issue name to reflect this task as part of dietpi-globals.

[2017-12-30 23:47] pgferr opened #1358 "issue with plex installation"
## Creating a bug report/issue:
[dietpi-software_apt.log](https://github.com/Fourdee/DietPi/files/1594861/dietpi-software_apt.log)
<img width="471" alt="2017-12-30 21_50_27-192 168 1 6 - kitty" src="https://user-images.githubusercontent.com/34972686/34458039-2775181e-edc4-11e7-8013-f9b0774b0eaf.png">

#### Required Information:
- DietPi Version: DietPi_OdroidC2-armv8-(Stretch).7z
- SBC Device: Odr

[2017-12-31 00:36] MichaIng commented on #1352
@Fourdee
PR is ready: https://github.com/Fourdee/DietPi/pull/1359

Just searched for dpkg -P and apt-get purge a bid, and technically there seems absolutely no difference. The strength of APT is, there everybody agrees, the automated installation of dependencies. On uninstalling packages, it also shows in case that there are obsolete dependencies that can be autoremoved. But we anyway hide these m

[2017-12-31 00:59] MichaIng commented on #1358
Just to support investigation:
- I guess you tried `apt --fix-broken install` as suggested by the log?
- https://github.com/Fourdee/DietPi/blob/testing/dietpi/dietpi-software#L6402
- http://dev2day.de/pms/dists/stretch/main/binary-armhf/Packages
- For now I don't see where the dependency issue could come from. `libc6` and `curl` should be both clearly installed. But I don't know which then again n

[2017-12-31 07:47] pgferr commented on #1358
i think that i have solved:

export LD_LIBRARY_PATH=/lib/arm-linux-gnueabihf:/usr/lib:/usr/local/lib:/opt/vc/lib
apt-get install libc6:armhf

[2017-12-31 10:20] Fourdee commented on #1355
@MichaIng

Yes.
The main reason is to reset and standardize each image we offer, and ensure the user is running the same when installed.
We can then ensure patches are more stable, as the previous images (and the process we used to create them) have changed vastly since v120 > v159, with minimal standardization.

Go for it 👍. Although, existing installations will still function, and the user can i

[2017-12-31 10:40] medapayne opened #1360 "Shairport Sync ERROR"
Hello i have a problem when i try to install "Shairport Sync"
I install without problem SqueezeBox and SqueezeLite but for Shairport Sync don't work
I try 3 fresh install but i have a same problem.

I hope you can solved the problem for me

## Creating a bug report/issue:

Apt-get has failed: │
│ - Apt string = openssl libsoxr0 libavahi-client3 libtool │
│ libconfig9 libpopt0 libdaemon0 --no-insta

[2017-12-31 11:28] sunnythaper commented on #1277
@Fourdee apologize but since this post, I have switched away from DietPi and am just running the individual apps I needed as Docker containers on my oDroid. I guess I wanted Sonarr that badly :P

[2017-12-31 13:01] k-plan commented on #1285
I want to play around as well: 😄

- 🈴  Odroid HC1 (XU4/3), running DietPi Stretch > Stretch

![171230-0001](https://user-images.githubusercontent.com/17237601/34456662-756b2cb6-ed9c-11e7-90b1-d8318779045a.gif)

#### Required Information:
- DietPi Version | v      _# #  _(note: it is v160 testing Branch updated)_ # #_
- SBC Device     | oDroid XU3/4 (armv7l) (index=11)
- Distro         | stretch (i

[2017-12-31 13:02] k-plan commented on #1285
Next run testing fun: 😃

- 🈴  Odroid HC1 (XU4/3), running Meveric Debian Jessie  > Stretch

![171230-0003](https://user-images.githubusercontent.com/17237601/34457158-ced8e26e-eda8-11e7-803f-15abea967dc8.gif)

#### Required Information:
- DietPi Version | v
- SBC Device     | NULL (index=11)
- Distro         | stretch (index=4)
- Command        | G_AGI: apt-transport-https apt-utils bash-completio

[2017-12-31 13:03] k-plan commented on #1285
-----------------

### General Notes:

- run `apt-get update` as first step because `a_MIN_APT_PREREQS` will fail elsewhere on a fresh image

- first run and set `dpkg-reconfigure locales` to `en_GB.UTF-8` to avoid hundert message like this:
[code]

- set: `passwd` to a known password like "`dietpi`" for user "`root`"

------------------

NB:
- how will we handle different disk layouts?
Not two pa

[2017-12-31 13:06] k-plan commented on #1285
----------------------

@k-plan
_€: This is about your first try ;). How did you solve the linux-image apt error for 2nd try?_

Ah just found this one: http://www.hardkernel.com/main/products/prdt_info.php?g_code=G150229074080

And as I see the packages, the image seems to be based on Meverics?

- For this device we choose the default kernel meta package `linux-image-armhf-odroid-xu3`: https://git

[2017-12-31 13:08] k-plan commented on #1285
@MichaIng

Yes!

I have write hardware comparison here: http://dietpi.com/phpbb/viewtopic.php?f=11&t=2422&p=9583&hilit=HC1#p9583

How to do this? Image was on 4.9.61+. Have tested, you can upgrade to 4.14.x, but after this, you can't go back to 4.9.61+.
https://forum.odroid.com/viewtopic.php?f=96&t=17542&p=209574#p208191

If you will answer "YES" kernel update stops and fail. (tested)

----------

[2017-12-31 13:09] k-plan commented on #1285
@Fourdee
@MichaIng

Only for clarification:
I like your work so much. You are on a good trip and I think and hope you have finally success.
Only some difficulties arising from a new way.
Keep one's tail up boys and girls. 😃

Or is it too early for testing?

PS: ... and the output github printing  is awesome! Make putting things on here so easy!
Love it! 👍  💯
Hope user will use it too!

[2017-12-31 13:11] k-plan commented on #1285
----------------------
@k-plan
Okay, about the kernel and boot.ini modification: For me that sounds, as would it be best to keep the kernel (linux-image*) package that already exists on the image and do not mess around to much with the boot.ini, at least for now? Or stays boot.ini unaffected by kernel upgrade?
We do already the same with fstab, at least the script should just copy the drives mount

[2017-12-31 13:36] k-plan commented on #1285
Yes. HC1 is a XU4 without HDMI but with onboard USB3-to-SATA-Bridge, like [CloudShell for XU4](http://www.hardkernel.com/main/products/prdt_info.php?g_code=G143599699669) before.
But anyway. Whatever device shall I test?
- C2? Fourdee did this.
- RPi? Fourdee did this and you can do by yourself.
- C1+? Puuh ... next case full of worms ....
- AllWinner (Orange/Banana/Nano Pi) ? This are crappy slow

[2017-12-31 14:07] MichaIng commented on #1285
@k-plan
Thx for copying, so I guess there is no "moving" posts possible in github.

About image creation testing: Choice is yours, maybe orientate on the machine usage statistics, but for now the plan is anyway to get all images up to date until 6.0 release.
I will try to fix the kernel un/installation issue. Still thinking how to solve this best. The easiest way is to just "apt-get install" all d

[2017-12-31 14:25] k-plan commented on #1354
I think, we should leave this information on front Issues page, so everyone will read it.
After [DietPi v6.0 | Pre-release](https://github.com/Fourdee/DietPi/issues/1355) is closed, I will close this here as well.
But have lock conversation.

Thanks.

@Invictaz :  - sorry no spare time at the moment, all goes in here: https://github.com/Fourdee/DietPi/issues/1355

[2017-12-31 14:28] TerryE opened #1361 "Having sensible defaults for dietpi.txt parameters"
- DietPi Version 159
- SBC / Distro: RPi 3 / Jessie)

Dan, this is a minor point so please feel free to close it or action as you wish.

Your `dietpi-config` can die if a required parameter is missing from the `dietpi.txt` file.  I came across this because my practice is to remove all the redundant embellishments  from my ini and config files becaue I find clean files easier to read.  In my case I

[2017-12-31 15:24] k-plan commented on #1285
Quick and dirty:
- 🈴  OrangePi One, running DietPi Jessie (3.x) > Stretch

- it's running nice and smooth 👍

`[Ok] Completed, disk can now be saved to .img for later use, or, reboot system to start first run of DietPi:`

😃

==>>  endless `boot loop`

-------------------

Yes, not for you and me. It's sadly not a forum.

[2017-12-31 15:25] Fourdee commented on #1361
@TerryE

v6.0, ```dietpi.txt``` entries are checked during ```dietpi-update``` (and therefore, first run of device).
https://github.com/Fourdee/DietPi/issues/1292#issuecomment-350901663

After that point:
As ```dietpi.txt``` contains the default variable values (even if not required), used throughout dietpi scripts, they should never be deleted by the user.

[2017-12-31 15:29] Fourdee commented on #1285
@k-plan

All ARMbian images will fail to boot currently. We've not added the armbian APT kernel packages to the list yet (they'll get removed).
I'll do this once v6.0 is near completion and have to go through all the images.

Installed kernel packages should be under:
[code]

---

Working devices with this script should be (off top my head):
- VM's
- RPi's
- Odroid's
- Rock64

[2017-12-31 15:32] Fourdee commented on #1285
Maybe we can scrape the current ```linux-image``` from system, prior to dep list generation, then add it automatically. I'll take a look.

[2017-12-31 15:34] k-plan commented on #1285
@Fourdee

Hmm ... so I can stop testing for now?

Or shall go on with Odroid C1+?

Or leave you coders alone for the moment to continue your nice work?

[2017-12-31 15:36] Fourdee commented on #1285
@k-plan

Its not fully finished yet, but yep, if you want to play/test 😄, the C1 should work (and the ones I posted above).

[2017-12-31 15:38] MichaIng commented on #1285
@k-plan @Fourdee
Fix is there https://github.com/Fourdee/DietPi/pull/1362
If this generally works, we can thinking of moving the stuff somewhere else or something.

I followed now the idea, that we control installation of certain hardware related packages. Not only the kernel, also firmware and bootloader (grub etc.) could be removed (without alternative/new version) in between otherwise, which co

[2017-12-31 15:41] TerryE commented on #1361
@Fourdee  Dan, the usecase that I was running was an initial install of Stretch where I tailored the dietpi.txt file to do a minimal hands-free install which I then followed by using SSH to use dietpi-launcher to load the rest, and your comment is that this error path is avoided as of V6.0.  I agree that this isn't worth a backport to legacy versions, so I'll close this.

[2017-12-31 15:41] #1361 closed, assigned to nobody

[2017-12-31 16:00] MichaIng commented on #1358
@pgferr
Ah so it was related to the LD_LIBRARY_PATH issue, as mentioned here: https://github.com/Fourdee/DietPi/issues/1329

I will mark as closed, reopen on demand.

[2017-12-31 16:00] #1358 closed, assigned to nobody

[2017-12-31 16:05] MichaIng commented on #1360
@medapayne
Could you try `unset LD_LIBRARY_PATH` before starting Shairport Sync installation? We accidentally produced an error with v159, that affects different APT installations.

In case add the content of your `/etc/dietpi/logs/dietpi-software_apt.log` as mentioned within the error, to allow a closer look.

[2017-12-31 16:09] MichaIng commented on #1355
@Fourdee
Do we want to offer a last v160 update, where we just backport some urgent bugfixes, like the LD_LIBRARY_PATH error?

[2017-12-31 16:25] MichaIng commented on #1314
@k-plan
If you find time, a test on clean v159 would be nice, if it works a quick test by adjusting config.php also, just to see if the issue is the same. The little message in the middle of @guny74 's picture points already into the direction: "Sie haben keine Berechtigung, hier Dateien hochzuladen oder zu erstellen", which shows up if `chown www-data:www-data <datadir>` is missing, e.g. also on

[2017-12-31 16:45] k-plan commented on #1285
@Fourdee

- 🈴  Odroid C1+ running Meveric Jessie (last Kernel 3.x) > Stretch

![171231-0001](https://user-images.githubusercontent.com/17237601/34463015-605e2e0e-ee50-11e7-81df-e604a85c965a.gif)

#### Required Information:
- DietPi Version | v.
- SBC Device     | NULL (index=10)
- Distro         | stretch (index=4)
- Command        | G_AGI: apt-transport-https apt-utils bash-completion bc bzip2 ca

[2017-12-31 17:14] badboygolf16v opened #1363 "Squeezelite & USBridge ALSA device"
I have an Oppo BDP-105 as USB DAC being fed by an Allo USBridge. The OS is DietPi v 157 with Squeezelite v1.8.7-1007 installed.

The problem I'm having is that when the Oppo is restarted and the USBridge is not restarted, the ALSA USB DAC device doesn't reappear so Squeezelite reports this error:

[code]

A powercycle restart of the USBridge resolves the issue.

`reboot` and `systemctl restart squ

[2017-12-31 19:41] Invictaz commented on #1355
If someone can help me set up a Doozer or Travis build robot I can compile some software for DietPi that is now requested but not filled in.

[2018-01-01 11:37] Fourdee commented on #1355
@MichaIng

Personally, as we offer solutions on the git tickets for these issues, I don't really want to focus on fixes for v159, in a pre-v6.0 update.
Main reason being, we'd also need to dedicate time for testing and then supporting the release if we make any mistakes, or, other issues appear.

I'd prefer we simply focus on v6.0, give it all our attention and ensure its stable from the get go.

[2018-01-01 11:52] Fourdee commented on #1311
Testing/notes: https://github.com/Fourdee/DietPi/pull/1364
- Processing only gets replaced by ok/failure, with ```G_RUN_CMD``` and few others. Ah i see, ```NOTIFY -2``` rollout.
- ```G_CHECK_URL``` does not replace
- 🈯️ https://github.com/Fourdee/DietPi/commit/d5b7c01d0c95ce9ac846d44adf02a6ae0f9ab8cd ```G_CHECK_URL``` hangs on a failed connection. No result. Due to error output being printed in ba

[2018-01-01 12:36] Fourdee commented on #1285
@k-plan

Hardware failure by looks of it ☹️. Board/SDcard/PSU.

Might be an issue with script, i'll run a test on my C2. Yep fine, although doesn't rule out a possible issue with C1 and script, however, seg fault usually means hardware issue.

[2018-01-01 13:07] k-plan commented on #1285
@Fourdee

I don't think so.
Same messages as on Odroid XU4/HC1 : https://github.com/Fourdee/DietPi/issues/1285#issuecomment-354602656

But I will give #1362 a try.

[2018-01-01 13:42] MichaIng commented on #1285
@Fourdee @k-plan
If you search the web, you will find a mass of issues with this error message, including some with "method http" or "method http+curl" as some people try to solve it by using curl as default method. Sadly I couldn't find some root fix for now, some evasive symptom fixes (basically change to "http" or "http+curl" within the sources, completely remove additional sources and stuff li

[2018-01-01 13:48] k-plan commented on #1285
Image: `(NR_4.x)_DietPi_v158_OdroidXU4-armv7-(Jessie).img` => fresh install, auto updated to v159

[code]

[2018-01-01 14:10] Fourdee commented on #1277
@sunnythaper

No worries.

Confident ```dpkg --add-architecture armhf``` should resolve this. Passed testing. Marking as fixed in v6.0.

[2018-01-01 14:10] #1277 closed, assigned to Fourdee

[2018-01-01 14:14] Fourdee commented on #1363
Hi,

@badboygolf16v

Many thanks for the report.

Unfortunately we see this with a few DAC's, that fail to handle USB power/reset correctly.
It would appear the OPPO does not correctly reset the USB connection and its state during a restart. This is a limitation with the DAC itself, and must be fixed by the manufacture (ideally via firmware update).

I'll mark this as closed, please reopen if requ

[2018-01-01 16:19] k-plan commented on #1314
@MichaIng

fresh image, all settings are default v159 (` LLMP: lighttpd | mysql   | php` ) before starting nextcloud installation :

[code]

After auto-reboot open nextcloud web interface (this take a long time, but finally it works)

![180101-0001](https://user-images.githubusercontent.com/17237601/34469097-b8f072b2-ef17-11e7-99ce-5b2f1af26d11.gif)

[code]

[code]

[2018-01-01 16:53] k-plan commented on #1314
[code]

[code]

[code]

[code]

[code]

[2018-01-01 17:14] medapayne commented on #1360
Hello again

this is the /etc/dietpi/logs/dietpi-software_apt.log :

root@SalledeBain:/etc/dietpi/logs# nano dietpi-software_apt.log
  GNU nano 2.2.6         File: dietpi-software_apt.log

Preconfiguring packages ...
(Reading database ... ^M(Reading database ... 5%^M(Reading database ... 10%^M(R$
Preparing to unpack .../libc6_2.19-18+deb8u10_armhf.deb ...

LD_LIBRARY_PATH contains the traditional

[2018-01-01 17:25] k-plan commented on #1314
Testing _(the "DietPi" way_) :

- uninstall and reinstall `nextcloud` via `dietpi-software`

![180101-0003](https://user-images.githubusercontent.com/17237601/34469576-93739a86-ef22-11e7-8e36-5630e499f0d7.gif)

- after reboot testing new nextcloud installation => works

- attached USB stick and move `User Data Location`  over to USB via `dietpi-software`

![180101-0002](https://user-images.githubu

[2018-01-01 17:31] WolfganP commented on #1355
Sounds like a good plan. As no auto update will be provided, I suggest creating an special document on how to migrate to the new version for those with custom setups (ie running an special backup command that doesn't port unnecessary features, and then restore on v160 forwards), to entice users not to remain on v159 just because the manual overload of migrating to the new platform.

[2018-01-01 17:55] MichaIng commented on #1355
@WolfganP

This were also my concerns, but providing a full migration script, easily breaks the advantage of the reset and makes a lot or work, without anyone being sure if the outcome is what was expected on the individual machine.
As far as I can think of now, this would require migration scripts individually for each software we provide. I will provide one for Nextcloud+ownCloud, but I guess fo

[2018-01-01 17:57] MichaIng commented on #1360
@medapayne

As I thought: do `unset LD_LIBRARY_PATH` and try again, in case a reboot is also helpful in between.

[2018-01-01 18:12] medapayne commented on #1360
ok i try now...
Is that you want?
![sans titre](https://user-images.githubusercontent.com/25185208/34469967-605a5d14-ef28-11e7-8570-dd33ad689941.jpg)

[2018-01-01 18:24] MichaIng commented on #1314
@k-plan
Many thanks for testing: As I thought there is an error about missing `.ocdata` file after just editing `config.php`. I guess @guny74 already had ncdata at the stick, so `.ocdata` was already there, or created it manually. Would be another test, but not necessary 😉.

Did you adjust `dietpi.txt` then?

About mysql error: Seems we do not update the symlink of mysql folder (correctly), but se

[2018-01-01 18:36] k-plan commented on #1314
@MichaIng

No, simply did, what user will/can do. Open `dietpi-software` and change `User Data Location`.

Yes, services will be stop automatically while `dietpi-drive_manager` is moving data in the background.

have to look on it later, because at the moment your `GIT_BRANCH='741035212a314ae58534cab62fcdb591408ccf4a'` testing is running on Odroid HC1. 😄

Will start OrangePi One up, if Odroid HC1

[2018-01-01 19:44] MichaIng commented on #1360
@medapayne
Yes, did APT part of installation run through now?

[2018-01-01 19:57] k-plan commented on #1314
@MichaIng

[code]
No more in `dietpi.txt` because it is v159 ...

----------------

[code]

[code]

[code]

[code]

-----------

Do you need something else?

[2018-01-01 20:19] MichaIng commented on #1314
@k-plan
I will test a bid by myself, thanks so far.

I forgot, that /var/lib/mysql (where MySQL/MariaDB) looks for it's database files, links to /mnt/dietpi_userdata/mysql, thus after userdata move, no other links need to be adjusted.

Have to investigate then, why mysqld fails to start up afterwards.
_____________________
€: Just tested on v6.0 to move datadir just into a new folder `/mnt/userdat

[2018-01-01 21:12] medapayne commented on #1360
all is GOOD

![capture d ecran 2018-01-01 a 19 27 21](https://user-images.githubusercontent.com/25185208/34471137-a2a19508-ef40-11e7-891a-65956f20c6d0.png)

Thank you
For my experience can you explain me what's its use "unset LD_LIBRARY_PATH" ?

[2018-01-01 21:29] ghost opened #1366 "qBittorrent login error"
I am using DietPi version 158(Stretch-based) on a RPI 3.

PROBLEM:
Cant log in to qBittorrent

EXPLANATION/BACKGROUND INFORMATION:

I started using DietPi a very few days ago and today i installed qbittorrent for use via the web interface. I installed the software from the dietpi-software and it installed without an issue. I can connect to the device (192.168.0.30:1340 for qbit...), and the Web UI

[2018-01-01 22:07] k-plan commented on #1360
https://github.com/Fourdee/DietPi/issues/1329#issuecomment-353586754

[code]

I have test it in terminal by:

`ldconfig -v`

`echo $LD_LIBRARY_PATH`

`export LD_LIBRARY_PATH=/lib/arm-linux-gnueabihf:/lib:/usr/lib:/usr/local/lib:/opt/vc/lib`

`echo $LD_LIBRARY_PATH`

`unset LD_LIBRARY_PATH`

`ldconfig -v`

[2018-01-01 22:24] k-plan commented on #1360
So I will close.
Please reopen, if you need. Thanks

[2018-01-01 22:24] #1360 closed, assigned to nobody

[2018-01-02 08:50] medapayne commented on #1360
THX for all guys...

[2018-01-02 09:10] Fourdee commented on #1366
@UnfairGamer

Thanks for the report 👍

We'll try to replicate.

[2018-01-02 09:12] Fourdee commented on #1366
Confirmed bug, default login details fail:
http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&start=70#p2272

[2018-01-02 09:19] Fourdee commented on #1366
This will be fixed in our next release.

### To fix now:
- After installing via dietpi-software
- stop services ```dietpi-services stop```
- edit the config file ```nano /root/.config/qBittorrent/qBittorrent.conf```
- Scroll down to bottom and change the following line ```WebUI\Password_ha1=@ByteArray(90c322f4dcabce6e66e8ea8aff218775)```
- Save changes CTRL+X, press Y.
- Restart services ```dietpi

[2018-01-02 09:59] Fourdee commented on #1366
md5hash of ```GLOBAL_PW``` will be used to generate. Tested install fine. Resolved.

[2018-01-02 09:59] #1366 closed, assigned to Fourdee

[2018-01-02 10:05] Fourdee commented on #1311
Notes: https://github.com/Fourdee/DietPi/pull/1365
- @MichaIng Looks much better 👍
- 🈯️ Fixed with log file generation. ~```G_CHECK_URL http://google.comxxxx``` hangs, stuck in BG. kill ```tail``` process, whip appears.~
![image](https://user-images.githubusercontent.com/7077026/34480587-36acd6f4-efa5-11e7-96a0-e8b383c2c4cc.png)

[2018-01-02 10:54] Fourdee commented on #601
Completed.
vMAJOR_VERSION.SUB_VERSION
![image](https://user-images.githubusercontent.com/7077026/34481672-589cca0c-efab-11e7-8f11-668f67b26fa7.png)

[2018-01-02 10:54] #601 closed, assigned to Fourdee

[2018-01-02 11:05] Fourdee commented on #1270
@k-plan

👍 Moved:  https://github.com/Fourdee/DietPi/commit/40c2a2ffb6d47f83d623222cbad0fe5f02443d8b

[2018-01-02 11:43] Fourdee commented on #1357
Ok, so the reason of leaving ```Error_NoConnection_NoInstall``` in:
- Allows us to add the software title/name to the error ```		export G_ERROR_HANDLER_ONERROR_USERMSG="Unable to Install ${aSOFTWARE_WHIP_NAME[$INSTALLING_INDEX]}: ${aSOFTWARE_WHIP_DESC[$INSTALLING_INDEX]}\n\n$INSTALL_URL_ADDRESS is offline and/or unreachable." ```

🈯️ https://github.com/Fourdee/DietPi/commit/6826ec1938e23e8a904ac24

[2018-01-02 12:30] k-plan commented on #1285
Image (by meveric): `Debian-Jessie-1.1.4-20171121-XU3+XU4.img` => fresh install, no updates

[code]
Hmm ... can't see a difference.

[code]

[code]

[2018-01-02 13:41] k-plan commented on #1285
What a mess ...

- 🈴  Can't get it running on `Debian-Jessie-1.1.4-20171121-XU3+XU4.img `

`GIT_BRANCH='9ccbf344e1e28b23154c71e696c5559afe161cfb'`

[code]

After 10x  unsuccessful effort, now try `DietPi_v158_OdroidXU4-armv7-(Jessie).img` to look what's happen.

[2018-01-02 15:49] k-plan commented on #1285
- 🈯️  Try out `DietPi_v158_OdroidXU4-armv7-(Jessie).img`
`PREP` work like a charm! 👍  😄
But no chance with meveric `Debian-Jessie-1.1.4-20171121-XU3+XU4.img`
Think, something is missing ... 😢  but can't figure out what it is.
Anyway, I can build a v6 image.

Not with you, boys and girls. You are my favorit bash scripting heros! ❤️  😃

I will leave you alone for now, so you can do you coding stuff

[2018-01-02 17:39] MichaIng opened #1367 "DietPi | Whiptail: Looks not beautiful on Jessie, especially software list"
I think this was not pre v6.0 testing, but the border, made of characters instead of lines, was as far as I remember. On Stretch everything is fine, but on Jessie:

![whiptail](https://user-images.githubusercontent.com/28480705/34493447-34d033f2-efec-11e7-9363-71a7614c9397.png)

- Tested on fresh v6.0 VirtualBox image.

[2018-01-02 17:50] MichaIng commented on #1355
@Fourdee
To hold the other growing v6.0 related threads at bay, I created the new `v6.0` label, to indicate which issues are (or seem to be) related to v6.0 development.

Not to muddle up with v6.0 milestone, which indicates, what we want to solve with v6.0 (but is an issue from prior releases).

[2018-01-02 17:59] MichaIng commented on #1357
@Fourdee
At the moment in case of failure, the script would end directly with G_CHECK_URL and not going further into the if-then-else statement, if I'm not wrong?

But yes, we could add the G_ERROR_HANDLER_ONERROR_USERMSG at the beginning of installation+configuration+purging? Or adjust the title to reflect the exact software that failed.

[2018-01-02 22:11] badboygolf16v commented on #1363
Hi @Fourdee

The same scenario when running an Rpi3 as a USB transport works perfectly, so I don't think it's the case that there is a problem with the Oppo.

If I install piCorePlayer on an RPi3 and set the Squeezelite audio output to the Oppo as a USB DAC, I can restart the Oppo and Squeezelite will continue to work perfectly.

Any suggestions?

[2018-01-03 09:09] Fourdee commented on #1363
@badboygolf16v

Intresting, could be kernel related on Sparky.

Please try installing the latest kernel to see if it resolves the issue (copy+paste all into term):
[code]

Failing that, try changing ```aotg.aotg1_speed=1``` in ```/DietPi/uEnv.txt``` for USB compatibility, then reboot and retest.

[2018-01-03 09:14] Fourdee commented on #1357
@MichaIng

Yep, correct 👍

Yep, was thinking about this aswell, a small function would be ideal that we can call, prior to installing each item. The function would set ```G_ERROR_HANDLER_ONERROR_USERMSG``` to contain the software title.
I'll take a look.

- add the G_ERROR_HANDLER_ONERROR_USERMSG at the beginning of installation+configuration+purging?
- 🈯️ installation
- 🈯️ Configuration (will nee

[2018-01-03 09:54] Fourdee opened #1369 "Allo GUI | MPD fails to play 24bit 96KHz"

[2018-01-03 09:59] Fourdee commented on #1367
@MichaIng

Is ```en_GB.UTF-8``` installed?
```locale```

[2018-01-03 10:50] MichaIng commented on #1367
@Fourdee
Indeed missing language setting was the problem. `dpkg-reconfigure locales` (as well as dietpi-config language setting), manually run `locale-gen` and `update-locale` didn't really set the language. `/etc/default/locale` contains the right values, but `locale` does still show POSIX on all variables. Reboot solved it finally.

Might be due to locales errors in preparation script. Will try

[2018-01-03 10:53] Fourdee commented on #1357
@MichaIng

Believe this is now resolved, will mark as closed. Please reopen if required.

[2018-01-03 10:53] #1357 closed, assigned to nobody

[2018-01-03 11:36] MichaIng commented on #1357
@Fourdee
Great work, looks well cleaned up.

[2018-01-03 18:19] badboygolf16v commented on #1363
Thanks for info. It didn't make any difference to the behaviour.

Should I contact Allo directly?

[2018-01-03 22:01] MichaIng opened #1371 "DietPi-Notify | echo, printf and [Processing] messages"
I know it is not an important topic, but I was motivated to experiment a bid around with possibilities to write text into the terminal.

The initial reason was, that I am not too happy with the current behaviour of our [Processing] messages:
- The idea was, that these messages only show up on ongoing process, to inform users, if some process takes longer. A simple animation (moving dot in between

[2018-01-03 22:21] MichaIng commented on #1367
Jep, seems to be resolved with locales fix. I will keep an eye of this on future Jessie tests, but close for now.

[2018-01-03 22:21] #1367 closed, assigned to nobody

[2018-01-03 22:45] k-plan commented on #1285
Note for me:

[code]
For Jessie yes, for Stretch no, think Buster can't work at the moment? (missing in meveric repository?).

Better we will have a look in `PREP_SYSTEM_FOR_DIETPI.sh`:

[code]

`/etc/apt/sources.list.d/meveric-*`
cause as well the problem with
`E: Method https has died unexpectedly!`

[2018-01-03 23:29] ThomvanDijk opened #1372 "[dupe] DietPi-Software | Plex Media Server fails to install on Odroid C2"
I Installed a fresh image on Odroid C2. After that I did a clean Plex installation and got the following error afterwards:

Apt-get has failed:
 - Apt string = binutils:armhf plexmediaserver-installer:armhf
 - Error code = 100
 - Software Title = Plex Media Server: web interface media
streaming server
 - Apt log = /etc/dietpi/logs/dietpi-software_apt.log

DietPi-Software will now exit.

#### Requi

[2018-01-04 07:30] Fourdee commented on #1363
@badboygolf16v

Yep, probably the next path to take 👍

Reference in this ticket, so they can view tests you've already run.

[2018-01-04 07:34] Fourdee commented on #1285
@k-plan

Yep, there is a Stretch repo, however, it appears 1/10th in size of Jessie, missing core packages. So for now, we need to stick with Jessie on Meveric's:
http://fuzon.co.uk/meveric/dists/stretch/main/binary-armhf/Packages
vs
http://fuzon.co.uk/meveric/dists/jessie/main/binary-armhf/Packages

[2018-01-04 07:37] Fourdee commented on #1285
@k-plan
Tested my HC-1:
- 🈯️ DietPi current image of XU3/4 (jessie) > Stretch
- 🈯️ Stretch > Stretch

Not seeing ```E: Method https has died unexpectedly!```

Which original image did you use?

[2018-01-04 08:17] Fourdee commented on #1372
@ThomvanDijk

Thanks for the report 👍

This is a known issue, resolved for v6.0.

In the mean time, please copy and paste the following command, to remove the LD_LIBRARY_PATH export:
[code]

Reboot system, and re-try the installation:
[code]

This should resolve the issue, if not, please try:
https://github.com/Fourdee/DietPi/issues/1329#issuecomment-353506213

[2018-01-04 13:37] k-plan commented on #1285
@Fourdee

Hmm ... can I please ask some questions?

Before I started to play around with Jessie => Stretch, I have do some reseach and reading.

 ### Debian (general)

- We have to switch over `/etc/apt/sources.list` . Okay: https://github.com/Fourdee/DietPi/blob/testing/PREP_SYSTEM_FOR_DIETPI.sh#L401-L421
- Do some research if something has change since [Aug. 2016](https://github.com/Fourdee/Diet

[2018-01-04 14:19] k-plan commented on #1285
@Fourdee

https://oph.mdrjr.net/meveric/images/Jessie/Debian-Jessie-1.1.4-20171121-XU3+XU4.img.xz from here: [[OS] Debian Jessie](https://forum.odroid.com/viewtopic.php?f=96&t=17542)

Do so, because you have write up here:

*** 🈴  Meveric `Debian-Jessie-1.1.4-20171121-XU3+XU4.img` > DietPi Stretch v.6 ***

- write it to sd card and fire your HC1/XU4 up.

- login as "root" with pwd "odroid"

- ` ro

[2018-01-04 16:04] k-plan commented on #1285
@Fourdee

Retest with your hosted image here: http://fuzon.co.uk/meveric/images/ODROID-GameStation-Turbo-3.9.5-20171115-XU3+XU4-Jessie.img.xz

*** 🈴  Meveric `ODROID-GameStation-Turbo-3.9.5-20171115-XU3+XU4-Jessie.img` > DietPi Stretch v.6 ***

- very impressive to watch how `PREP_SYSTEM_FOR_DIETPI.sh` strip a **_5GB image_** over 1600 packets down without a mess... 👍
Logfile here: [/var/log/apt/t

[2018-01-04 16:19] ThomvanDijk commented on #1372
@Fourdee

The issue is resolved by your fix!

[2018-01-04 18:17] MichaIng commented on #1285
@k-plan
If I got it right, that we need to stick to Jessie means, that also the Debian repo need to stay Jessie, until the issue with Kodi+Meveric Stretch is solved. So this will hopefully avoid the https method error for now.

As fast as Kodi issue is solved, we can also switch/allow distro upgrading, and then need to solve this https method error. I have still no idea where this is coming from.

[2018-01-04 19:23] k-plan commented on #1285
@MichaIng

Thanks for your answer Micha.

Hmm ... only can found two: 1x for C2  and 1x for U??? . Both are very outdated.
https://oph.mdrjr.net/meveric/images/Stretch/

Hmm ... possible but if I see here:

If I had understand previously correct, you vote for Stretch on all images, if we will switch to DietPi v.6? Or do I mix it up?
https://github.com/Fourdee/DietPi/issues/1281
 https://github.com

[2018-01-04 23:22] MichaIng commented on #1285
@k-plan
Ah okay, so no real Meveric Stretch image available, I see.

Yeah, @Fourdee seemed to have not the https method error? This is very interesting...
But anyway: We already turn off https, when DietPi image/system WILL be Jessie: https://github.com/Fourdee/DietPi/blob/testing/PREP_SYSTEM_FOR_DIETPI.sh#L411 as I faced some warnings there on apt update (thou it worked well through). But instead

[2018-01-05 08:00] MrHohenheim commented on #1254
oh and i forget mentoin nanopi neo plus 2
http://wiki.friendlyarm.com/wiki/index.php/NanoPi_NEO_Plus2

any news?

[2018-01-05 11:43] Fourdee commented on #1372
@ThomvanDijk

Excellent, i'll mark this as closed.

[2018-01-05 11:43] #1372 closed, assigned to nobody

[2018-01-05 11:48] Fourdee commented on #1285
@k-plan

I'll test this image, see if we can resolve the issues you mentioned 👍
Yep, this script is designed to run on any Debian minimal image, so we'll iron out the bugs.

for locale issue, maybe we can pre-configure this for install/setup at start of script, although we need to check its installed. Might be better added to the commands, before running PREP_SYSTEM script. Leave it with me.

Kern

[2018-01-05 13:07] Fourdee commented on #1285
Re-Test with https://oph.mdrjr.net/meveric/images/Jessie/Debian-Jessie-1.1.4-20171121-XU3+XU4.img.xz:
- 🈯️ Locale/whiptail issue resolved.
- 🈺 ```W: Size of file /var/lib/apt/lists/partial/deb.debian.org_debian_dists_stretch-updates_InRelease is not what the server reported 91028 4096```, ```Unpacking linux-image-3.10.106+ (3.10.106-20171124-XU3) over (3.10.106-20171115-XU3)```.
- 🈴``` [Processing

[2018-01-05 13:59] MichaIng commented on #1285
@Fourdee  @k-plan
Try out my PR, as it keeps http method: https://github.com/Fourdee/DietPi/pull/1373

[2018-01-05 18:16] MichaIng commented on #1285
Ah sorry, just fixed DISTRO is still global G_DISTRO.

[2018-01-05 18:38] pgferr opened #1374 "DietPi-Software | home assistant: issue with installation"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version:  V159       | BananaPi Pro (armv7l)
- SBC Device: BananaPi Pro (armv7l)
- Power supply used (EG: 5v 1A RAVpower)?
- SD card used (64gb: Sandisk ultra)
- Distro (EG: Jessie) | ```uname -a```?

#### Additional Information (if applicable):
- Software title: home assistant
- Can this issue be replicated on a fresh installati

[2018-01-05 19:40] k-plan commented on #1374
@pgferr

Can you please try:

[code]

Can you please as well  have a look here:

https://github.com/Fourdee/DietPi/issues/1372#issuecomment-355222995

https://github.com/Fourdee/DietPi/issues/1329

https://github.com/Fourdee/DietPi/issues/1360

[2018-01-05 21:19] k-plan opened #1375 "DietPi-Software | Pi-hole: update process"
This did not help: http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&start=20#p174

- if it is ONLY a FTL version update,
[code]
you can simple start `pihole -up` without doing anything else. (tested - work)

- if it is a pi-hole core and/or webinterface update
[code]

you have to do  (tested - work for me) :

[code]

Is it possible to get something like this in a script (eg. with a nice menu) and   i

[2018-01-06 08:55] idfxken commented on #1374
Had the same issue, just as some others, see: http://dietpi.com/phpbb/viewtopic.php?f=11&t=2632
Problem was fixed with:

[code]

[2018-01-06 10:00] Fourdee commented on #1278
Waiting for next major release of AmiBerry, before we take this on.

Jessie image is still available for download, which is functional with AmiBerry:
http://dietpi.com/downloads/images/DietPi_RPi-armv6-(Jessie).7z

[2018-01-06 10:36] Fourdee commented on #1285
Re-Tests after @MichaIng PR fix :
- 🈯️ C2: Buster > Buster
- 🈴 HC1: Meveric Jessie > Stretch
![image](https://user-images.githubusercontent.com/7077026/34639039-0fa777ac-f2d0-11e7-8c3d-a5cc576564b8.png)
-- ```root@odroid-jessie:~# apt-get update
0% [Working]```
-- Replace sources.list ```https``` with ```http``` resolves. PREP DL was cached (old version)?
--- need to also apply to sources.list.d/*

[2018-01-06 11:09] Fourdee commented on #1007
Marking as closed. Image is now available for MBR and EFI.

[2018-01-06 11:09] #1007 closed, assigned to Fourdee

[2018-01-06 14:54] MichaIng commented on #1285
@Fourdee
Yes @k-plan's tests also showed, that `Method https died` is not resolved with my PR. At least it resolved this one:
![apt_https](https://user-images.githubusercontent.com/28480705/34640695-c76cb4de-f2f7-11e7-934b-21e9bfbf95b3.png)
- Debian Jessie -> DietPi Stretch pre https://github.com/Fourdee/DietPi/pull/1373
- The error disappears after Stretch dist-upgrade, so `http` for Debian repo

[2018-01-06 15:04] MichaIng opened #1376 "DietPi-Boot | "...rc.local..." terminal prefix at boot"
Just a minor, but on VirtualBox VM (all Distros) the beautiful DietPi messages are corrupted by some terminal line prefix, until login request:
![rc local](https://user-images.githubusercontent.com/28480705/34640859-2d6894ee-f2fb-11e7-9719-7234f1d9bdd2.png)

[2018-01-06 16:35] MichaIng commented on #1371
Further experimenting:
- I created an animation for the processing messages.
- Basically a background process is started, that constantly overprints the first characters to simulate a moving dot within the brackets. A bid like `dietpi-funtime`, but as background process to allow the script going on, and as unlimited animation, until kill PID is done.
- Then within dietpi-globals I adjusted the men

[2018-01-06 16:35] Fourdee commented on #1285
@MichaIng

With: https://github.com/Fourdee/DietPi/commit/71999efb4a848193ee69ac8c069d1518cf692299

Error occurs during:
[code]

[code]

Reboot results in heartbeat, but no LAN.

Maybe we can try creating a swapfile at start of PREP?

Yep, we've spend far too much time on this already. I'am tempted to leave it as a known issue, and see if it crops up on other devices., then investigate further.
Fr

[2018-01-06 16:43] Fourdee commented on #1371
@MichaIng

Yep agree 👍

Send PR when your ready, i'll look/test when I can.

[2018-01-06 16:48] Fourdee commented on #1285
**Ok, need to make a start on the new images, or they will never be completed in time.**

I'll start creating the new images with version 6.**-1** over next few days (and fix any bugs in PREP if found during it).
6.-1 allows us to run day one updates if we miss anything.

- 🈯️ Resolved: FS resize not functional, partition resize is fine, expansion is not running:
```/etc/systemd/system/dietpi-fs_e

[2018-01-06 16:56] MichaIng commented on #1285
@Fourdee
No need for RPi Jessie from my point of view. If anyway fresh flash is necessary, I don't see any reason why anyone would stay on oldstable.
- I can create VirtualBox Stretch, if wanted.

About APT error:
Very strange one, this didn't occur before you moved the HTTPS switch a bid down the script? I can't imagine what could make a difference there.
Was during Odroid Jessie > Stretch, right

[2018-01-07 10:29] Fourdee opened #1378 "General | Revert to stock RPi kernel"
#### I've taken the decision to revert our DietPi RPi kernel to stock RPi kernel.

Currently the only difference in our kernel was:
- DSD pop prevention on initial playback.

We simply do not have the man power and available time, to ensure this is updated regularly with requested patches. Time we can use to focus on supporting bug fixes and improvements for DietPi.

In future, all RPi kernel patc

[2018-01-07 10:33] Fourdee commented on #1378
Reference other tickets, which will be closed:
- https://github.com/Fourdee/DietPi/issues/1274
- https://github.com/Fourdee/DietPi/issues/1200
- https://github.com/Fourdee/DietPi/issues/1078

[2018-01-07 10:34] Fourdee commented on #1274
Closed due to: https://github.com/Fourdee/DietPi/issues/1378

[2018-01-07 10:34] #1274 closed, assigned to Fourdee

[2018-01-07 10:34] Fourdee commented on #1200
Closed due to: https://github.com/Fourdee/DietPi/issues/1378

[2018-01-07 10:34] #1200 closed, assigned to Fourdee

[2018-01-07 10:34] Fourdee commented on #1078
Closed due to: https://github.com/Fourdee/DietPi/issues/1378

[2018-01-07 10:34] #1078 closed, assigned to Fourdee

[2018-01-07 10:35] Fourdee commented on #1378
Closed.

[2018-01-07 10:35] #1378 closed, assigned to Fourdee

[2018-01-07 11:16] MichaIng commented on #1378
@Fourdee
Makes totally sense to me. This also allows apt kernel updates and rpi-updates without (accidentally) overwriting our custom kernel.
We just have to decide if we want to stick to the APT kernel package, or ship a newer release or master branch from: https://github.com/raspberrypi/firmware/tree/master

[2018-01-07 12:53] MichaIng commented on #1285
Tiny, if Wifi got deselected:
[code]

[2018-01-07 13:28] borpin opened #1379 "DietPi-Automation | Implement CONFIG_NTP_MODE= set, during 1st run"
## Creating a bug report/issue:
relates to #1208 - not fixed.

#### Required Information:
- RaspPi current image tested on Pi Zero and B+

#### Additional Information (if applicable):
- Can this issue be replicated on a fresh installation of DietPi? Yes

#### Expected behaviour:
Time/date set on first boot when option 4 selected in Dietpi.txt for date/time method

#### Actual behaviour:
Time date

[2018-01-07 13:51] Fourdee commented on #1285
Hmm, weird:
https://github.com/Fourdee/DietPi/blob/testing/dietpi/func/dietpi-set_hardware#L1446
https://github.com/Fourdee/DietPi/blob/testing/dietpi/func/dietpi-set_hardware#L1464

[2018-01-07 14:02] MichaIng commented on #1285
@Fourdee
Seems to be due to your latest commits. On my system:
1446:  cat << _EOF_ > /etc/wpa_supplicant/wpa_supplicant.conf
This is meant of course 😆:
https://github.com/Fourdee/DietPi/blob/testing/dietpi/func/dietpi-set_hardware#L1276-L1308

[2018-01-07 14:04] Fourdee commented on #1285
@MichaIng
Probably needs a ```mkdir -p /etc/wpa_supplicant``` before it

[2018-01-07 14:34] Fourdee commented on #1378
@MichaIng

👍

I've gone with the APT packages for now (we can assume they are "stable"). I've seen a few issues with ```rpi-update``` in the past, where the latest kernel was not stable and broken some features (cant remember exactly mind, was a few years ago lol)

```rpi-update``` can be done in ```dietpi-config```. Lets make this end user choice?

[2018-01-07 14:56] MichaIng commented on #1378
@Fourdee

👍

So this means we can stop holding RPi specific bootloader+kernel packages, right? I mean still, general issue with this system of RPi is, that if you choose rpi-update, the next APT release will overwrite it. This was great in the past, when I regularly ran `apt update && apt dist-upgrade && rpi-update` and kernels did overwrite each other, in case two times at once 😆 up- & downgradin

[2018-01-07 15:02] MichaIng commented on #1285
@Fourdee
I would do it the other way round: Check if the folder exist, before making any adjustments. If WiFi was chosen, wpa_supplicant package was installed and the folder does exist anyway. If WiFi was not chosen, then no need to exit/create some files/folders there.

[2018-01-07 15:18] Fourdee commented on #1285
@MichaIng
Yep, makes sense. I need to check the code, see why i've done it this way (relies on file to exist)

[2018-01-07 15:25] MichaIng commented on #472
@Fourdee @k-plan
Okay, we need to rethink this:
- I have dual stack internet connection (IPv4+IPv6 addresses) but completely disabled IPv6/DHCPv6 for internal network, on all devices etc, as at least in Germany, it is impossible to access an IPv6 configured server from most mobile devices. Just one provider switched, if I am still on current information.
- By default, many APT and wget requests st

[2018-01-07 15:29] Fourdee commented on #1285
Ok, i've uploaded C2 + RPi for testing:
http://dietpi.com/downloads/testing/v6.0/

Both running stable, so far.

---

🈯️ RPi BT fixed with commit: https://github.com/Fourdee/DietPi/commit/9797eb1e856e79d2c6489fa4860c9310aa8ec00b
[code]

[2018-01-07 16:26] k-plan commented on #472
@MichaIng

Puh, so eine schwierige Netzwerk Frage, sorry @Fourdee , no english.

Ja und nein. Du vermischt hier etwas.

Per WLAN, über deinen kabelgebundenen ISP, können die mobile devices sehr wohl auf "IPv6 only" zugreifen, wenn du native dual stack hast und z.B via RA IPv6 Adressen den Geräten zuteilen lässt.

Über deinen UMTS/LTE/GSM ISP hast du für Deutschland sicher Recht, da deinem mobile d

[2018-01-07 16:47] borpin opened #1381 "[dupe] Dietpi-Software | Mosquitto repo package has broken dependencies"
#### Required Information:
- DietPi Version | New RaspberryPi Stretch image

#### Additional Information (if applicable):
- Mosquitto
- Can this issue be replicated on a fresh installation of DietPi? Yes

#### Expected behaviour:
Mosquitto installed by dietpi-software.

#### Actual behaviour:
Install fails
[code]
#### Steps to reproduce:
Attempt install

#### Did you submit a ```dietpi-bugreport``

[2018-01-07 20:30] 0xmichalis opened #1382 "cpu command does not show cpu utilization"
First of all, great work! Using dietpi has been a breeze so far.

I expected to see cpu utilization when running `cpu`. I know that it is hard to give an accurate result but I would like to know whether it's something you have pondered.

[2018-01-08 09:59] abhinavgupta commented on #889
Hi, installing mongodb is still an issue in aarch64 machines for Dietpi. I am trying to install mongodb on Pine64 version of Dietpi and getting similar errors:

W: Failed to fetch http://repo.mongodb.org/apt/debian/dists/jessie/mongodb-org/3.4/Release  Unable to find expected entry 'main/binary-arm64/Packages' in Release file (Wrong sources.list entry or malformed file)

W: Failed to fetch http://

[2018-01-08 10:56] Fourdee commented on #1379
@borpin

Thanks for the report 👍

I'll try to replicate ```dietpi.txt``` entry on fresh image

[2018-01-08 10:59] Fourdee commented on #889
@abhinavgupta

The repo links you listed, only provide x86 packages. They lack ARM.
[code]

[2018-01-08 11:02] Fourdee commented on #1382
@kargakis

getting CPU information from bash, without additional software packages is:
- Extremely slow, due to ```ps -aux``` list and additional bash calculations to work out the usage
- Inaccurate

Due to this, we left it out of the cpu command itself.

In v6.0, we've created a global command to obtain cpu usage:
[code]

A better method to obtain cpu usage is:
[code]

If accurate CPU usage and v

[2018-01-08 11:05] Fourdee commented on #1382
I'll mark this as question answered, please reopen if required.

[2018-01-08 11:05] #1382 closed, assigned to nobody

[2018-01-08 12:06] Fourdee commented on #1381
@borpin

Thanks for the report 👍

This is resolved for v6.0, please see link below for fix now:
https://github.com/Fourdee/DietPi/issues/1306#issuecomment-352167350

EDIT: further issues may still exist, due to mosq repo, please read ticket above.

I'll mark as closed (dupe), please reopen if required.

[2018-01-08 12:06] #1381 closed, assigned to nobody

[2018-01-08 12:17] Fourdee commented on #1311
Notes:
- Incorrect usermsg (not cleared from previous)
- Missing dietpi-software info
[code]

---

```G_ERROR_HANDLER_ONERROR_USERMSG``` must never be defined changed in ```dietpi-globals``` additional functions. It must only be exported by the sourcing script, to ensure it never gets overwritten.

The downside:
- ```G_ERROR_HANDLER_ONERROR_USERMSG``` will be displayed for any future errors, regar

[2018-01-08 12:29] Fourdee commented on #1306
Ok, seems repo wont be fixed any time soon. I'll reopen and see if we can create a workaround fix (eg: host deb on dietpi.com)

[2018-01-08 12:37] MichaIng commented on #1371
PR merged, thus mark as closed. Further integration of new `G_DIETPI-NOTIFY` can be done, but no focus, as it's just cosmetic.

[2018-01-08 12:37] #1371 closed, assigned to nobody

[2018-01-08 12:52] Fourdee commented on #1306
Hosting ```mosquitto_1.4.14-0mosquitto1_nows1_armhf.deb``` on dietpi.com, no longer using the mosq repo.
Tested installs for:
- 🈯️ Odroid C2 Jessie
- 🈯️ RPi 3 Stretch

[2018-01-08 12:55] Fourdee commented on #1306
Fixed for v6.0: https://github.com/Fourdee/DietPi/issues/1306#issuecomment-355958595

[2018-01-08 13:29] MichaIng commented on #1376
Maybe it is also good to keep this prefix, so user knows, that this is called within rc.local, or prior by systemd, kernel etc. But it mixes a bid, as after processing messages our OK/FAILED/INFO messages overwrite the whole line.

For rc.local it would be easy to overwrite the prefix by adding "\r\e[K" to banner and custom echos: https://github.com/Fourdee/DietPi/blob/testing/dietpi/func/dietpi-s

[2018-01-08 13:59] Fourdee commented on #1379
Think I see the issue here:
- The ```dietpi.txt``` entry for ```CONFIG_NTP_MODE``` (v6.0 name), is not an automation entry. Does not get applied during 1st run setup.

The setting must be changed in ```dietpi-config```, once system is running, to ensure ntp is uninstalled and systemd configured.

We currently force check for NTP syncs (not systemd), this is required to ensure DietPi runs successfu

[2018-01-08 14:06] abhinavgupta commented on #889
@Fourdee Thanks, their testing branch has a binary for arm64, any recommendations on how to tackle this problem further?

[2018-01-08 15:03] MichaIng commented on #1344
@Fourdee
Fixed within database creation script, and some other quirks I noticed: https://github.com/Fourdee/DietPi/pull/1383

Especially on existing symlink at `/var/lib/mysql` the installation fails and the log does not give the right hints, if one not tries to install manually.

[2018-01-08 16:11] Fourdee commented on #1379
Should be good to go, will test when creating updated images.
- 🈯️ dietpi-config tested with changes.
- 🈯️ first run apply systemd

[2018-01-08 16:11] Fourdee commented on #1285
Next image creation, test: https://github.com/Fourdee/DietPi/issues/1379

[2018-01-08 20:56] k-plan commented on #1285
@Fourdee

Quick test on RPi Zero W:

----------------

`dietpi.txt`: (before first run)

https://github.com/Fourdee/DietPi/blob/testing/dietpi.txt#L100-L102

setting: `AUTO_SETUP_TIMEZONE=Europe/Berlin`
did not work. End up with `Etc/UTC`

-------------

`dietpi-config`:

wifimodules (enable)

[code]

[code]

--------------

[code]
 Ups ...

-------------

No.
If you setup via `dietpi-config` eth0

[2018-01-08 21:44] badboygolf16v commented on #1363
No joy contacting Allo via their website, I've posted on Computer Audiophile:
[https://www.computeraudiophile.com/forums/topic/32132-allo-sparky-usbridge/?do=findComment&comment=763299](https://www.computeraudiophile.com/forums/topic/32132-allo-sparky-usbridge/?do=findComment&comment=763299)

[2018-01-09 11:27] Fourdee commented on #1285
@k-plan
If this system is still running, can you please paste results of:
[code]

Just want to see if it was applied.

[2018-01-09 11:35] sparkysbc commented on #1363
Possibility :  while playing Music you can't poweroff USB dac , in this case Squeezelite locked with USB port. once locked with USB port need to restart the setup.
stop the playing music on player (LMS )  or disable squeezelite on Dietpi webGUI , then switch off USB dac.
please verify this and confirm.

[2018-01-09 13:02] Fourdee commented on #896
Not enough time to make this into v6.0, and, is low priority.

Moving to v6.1

[2018-01-09 13:24] MichaIng commented on #896
Agree, also I would make it optional, or default, but optional to just stay with root. Generally I agree to use non-root user for security reasons, but on otherwise secure/updated servers with just ports 80+443 forwarded, limited hardened web services there and for local access, strong password + SSH key authentication, I would clearly prefer the comfort advantages of by default using root for ser

[2018-01-09 13:44] Fourdee commented on #1124
Using https://nxa.at/post/build_squeezeboxserver_stretch_armel/ binary (I take no credit for this):
- 🈯️ RPi 3

[2018-01-09 13:44] Fourdee commented on #1124
Completed. ARMv7 Stretch only tested.

[2018-01-09 13:44] #1124 closed, assigned to nobody

[2018-01-09 14:24] MichaIng commented on #472
@k-plan
Vielen Dank für deine ausführliche Antwort. Bestens jemanden zu haben, der sich mit Netzwerken auskennt 😃!

Also ich habe tatsächlich natives dual stack von meinem Provider: http://www.willytel.de/
Das ist ein für Hamburg localer Partner von https://www.wilhelm-tel.de/

- Zu Beginn hatte ich nur eine IPv6 bekommen. Habe versucht meinen Server entsprechend auf IPv6 umzustellen, aber wie ges

[2018-01-09 14:51] MichaIng commented on #1032
@Fourdee
Regarding YMPD we can maybe just use our own libssl1.0.0 binary, as already done in several other cases? http://dietpi.com/downloads/binaries/all/libssl1.0.0_1.0.1t-1+deb8u7_arm64.deb
The issue should occur on all Stretch machines, not just Odroid C2.

Regarding Xserver and Kodi I guess we have to wait until official Meveric Stretch release.

[2018-01-09 14:59] MichaIng commented on #599
Should be merged into: https://github.com/Fourdee/DietPi/issues/1285

Will close it and reference from other issue with recommended information to add to script/DietPi readme.

[2018-01-09 14:59] #599 closed, assigned to nobody

[2018-01-09 15:02] MichaIng commented on #1285
@Fourdee
Before releasing (first for public testing), we should add some more detailed information about how to shrink image size and which base images are recommended for which machines: https://github.com/Fourdee/DietPi/issues/599

Info should be added to Forum and Readme.

[2018-01-09 15:07] k-plan commented on #1285
@Fourdee

[code]

![180109-0001](https://user-images.githubusercontent.com/17237601/34727399-0a6406b4-f557-11e7-840d-752d17be9703.gif)

[2018-01-09 15:14] Fourdee commented on #1285
@k-plan
Legend, thank you 👍

Found issue, will fix:
[code]

---

[code]

---

Test:
[code]
🈯️
[code]

[2018-01-09 15:18] MichaIng opened #1384 "DietPi-Process_Tool | Non-verbose mode"
During applying dietpi-config settings, dietpi-software runs etc., as services are often stopped and started, `dietpi-process_tool` often consumes the whole screen, displacing perhaps other useful information.

Maybe we can use some "non-verbose" mode to just show one "success" or "failed" message instead of every assigned value for every process.

Just running the script as G_RUN_CMD also works,

[2018-01-09 15:25] Fourdee commented on #1285
@k-plan
AUTO_SETUP_TIMEZONE resolved (tested latest images): https://github.com/Fourdee/DietPi/commit/b8c46df12dc883287f6e303b156cb4fd0116b26e

[2018-01-09 15:31] Fourdee opened #1385 "v6.0 | Recreate all images"
## v6.0 image notes:
- All images will be Debian Stretch (excluding Odroid's)
- All NanoPi official FriendlyARM based images, are running 4.x kernels
- ~~All ARMbian based devices~~  https://github.com/Fourdee/DietPi/issues/1537#issue-298337026

---

### High priority devices:
- [x] RPi Stretch
- [x] Odroid C2 Jessie
- [x] Odroid XU3/4/HC1 Jessie
- [x] VMware Stretch
- [x] Odroid C1 Jessie | Thank

[2018-01-09 15:31] Fourdee commented on #1268
I'll mark this as closed, due to v159 images being replaced by v6.0.

Apologies @k-plan for not testing/using the images you kindly spent time making. I'll recreate all the v6.0 images (will accept help if its offered 😃 ):
https://github.com/Fourdee/DietPi/issues/1385

[2018-01-09 15:31] #1268 closed, assigned to Fourdee, k-plan

[2018-01-09 15:32] Fourdee commented on #1385
Reference:
- https://github.com/Fourdee/DietPi/issues/1285
- https://github.com/Fourdee/DietPi/issues/1268
- https://github.com/Fourdee/DietPi/issues/1355

[2018-01-09 15:40] Fourdee commented on #1385
#### Must be done for each image, during PREP:
- 🈯️ Done via v6.0 patch: Manually check ```/etc/bash.bashrc``` and clean (eg: ```LANG=``` options if added)
- Manually delete outdated ```/lib/modules```

[2018-01-09 15:41] Fourdee commented on #1281
Marking as closed, in place of: https://github.com/Fourdee/DietPi/issues/1385

[2018-01-09 15:41] #1281 closed, assigned to nobody

[2018-01-09 19:50] k-plan commented on #472
@MichaIng

Puh, wo fange ich jetzt am besten an?
Versuche es am Anfang etwas allgemeiner zu halte.

Generell gilt: ( https://de.wikipedia.org/wiki/IPv6#IPv6_und_DNS )

DNS selber ist zuerst einmal unabhängig von IPv4 oder IPv6. Die gelieferte Antwort ist immer die gleiche. Lass uns damit einmal ein wenig herum spielen.

https://toolbox.googleapps.com/apps/dig/#ANY/dietpi.com

Ah, dietpi.com hat nu

[2018-01-09 20:48] k-plan commented on #472
Quick check with last testing image: http://dietpi.com/downloads/testing/v6.0/DietPi_RPi-ARMv6-Stretch.7z

Notice:

[code]
Do we realy need two entries?

IPv6 check:

[code]

... and in a second terminal windows at once (to check, if `apt-get` works via IPv6)

`tcpdump -i eth0 -vv ip6`

😒

[2018-01-09 21:06] MichaIng commented on #472
@k-plan

Verstehe ich es richtig, dass in dem Fall tatsächlich das Problem sein könnte, dass der Router, als IPv6 fähiges Endgerät (vom Netz aus gesehen), sich in meinem Fall für IPv6 entscheidet? Sonst verstünde ich nicht, wieso es ohne native IPv6 Anbindung nie Probleme gab.

Ich dachte, das wäre mit Deaktivieren des Kernelmoduls der Fall, da alle weiteren, in einschlägigen Foren zu findenden Se

[2018-01-09 22:31] k-plan commented on #472
@MichaIng

Ja. Das ist ein Router (der verbindet Netz-Segmente) und kein Client.
Hat der IPv6 an einer Schnittstelle (nach außen, zum ISP) aktiv, macht er SLAAC auf der anderen automatisch (nach innen, zum LAN) . Oder halt DHCPv6 (nach innen, zum LAN), wenn man es denn konfiguriert.

Das ist das, was ich meinte. Wenn man die Kernelmodule für IPv6 deaktiviert, hagelt es in den Logs Fehlermeldungen,

[2018-01-09 22:42] k-plan commented on #472
@MichaIng

[code]

[code]

Like so? Or something else to do?

[2018-01-09 23:12] MichaIng commented on #472
@k-plan @Fourdee

So how we handle it in DietPi:

On firstrun/for images:
- ForceIPv4 for APT
- prefer IPv4 for wget
- Leave IPv6 module active, in cases of local IPv6 environments/software dependencies

On disabling IPv6 within dietpi-config:
- disable IPv4 kernel module
- ForceIPv4 for APT
- prefer IPv4 for wget

On enabling IPv6 within dietpi-config:
- enable IPv4 kernel module
- remove "ForceI

[2018-01-10 12:35] k-plan commented on #472
@MichaIng
@Fourdee

I will vote approval for now.

------------

But please keep in mind, the hole ipv6 story is not really completely implement into DietPi at the moment.

- no whiptail to configure :
   - ipv6 addresses
   -  ipv6 gateway
   - ipv6 DNS
   -  DHCPv6 or SLAAC
   -  no IPv6 privacy extensions option, see https://github.com/Fourdee/DietPi/issues/212

- missing ipv6 address configura

[2018-01-10 13:26] MichaIng commented on #472
@k-plan
Yeah that's true. But if I understand right, than using DHCP automates in case IPv6 configuration, SLAAC does anyway in background?

Anyway the only thing that really changes with my suggestions for now is, that we remove the APT ForceIPv6 in any case.

But we could keep in mind, to add some optional/additional ipv6 interface configuration, when we find time. Of course this would need your

[2018-01-10 13:53] k-plan commented on #472
@MichaIng

Ups, Danke für den Hinweis. War mir entgangen, dass Ihr das schon gefixed habt. Als ich das zur Einführung getestet war es halt Mist. Da es für mich aber kein Thema war, blieb IPv6 halt immer an. Ab jetzt schalte ich es wieder ab. 😄  ... mal schauen ...

------

Hmm ... laufen die VMs über eine WLAN Verbindung des Laptops?

-------

Hmm, ich tippe einmal, wir zwei definieren Netzwerk Si

[2018-01-10 15:26] k-plan commented on #472
@MichaIng

Du kommst aber auch immer mit den IPv6 Kinken ums Eck! 😃
DHCPv6 ist auch so eine "nachgeflickte" Aktion, wie Unique Local-Adressen.

Ja, SLAAC muss immer laufen. Es werden immer RA vom Router gesendet und RS von Clients angefragt, trotz DHCPv6. Dieser verteilt nur zusätzliche Netzwerksegment Parameter.
Ohne SLAAC könnten Router und Clients keine eigene Link-Local-Adresse erzeugen. Und d

[2018-01-10 16:04] k-plan commented on #1385
@Fourdee

Sorry, but I am really unsure, if it make sense, to help you building images from my site.

PREP is to new and there are surely several bits and bobs you will find out while building images. So fixes are a lot easier for you and mainly faster altogether.

[2018-01-10 16:40] hippytyre commented on #1132
I think I'm having the same problem. The WIFI SSID I'm trying to connect my Pi Zero W to is -=word=- I've tried to put it into quotation marks but this doesn't seem to help. Has this issue been looked at or does anyone have a workaround? Changing the SSID is not an option I'm afraid.

[2018-01-10 20:35] MichaIng commented on #472
@k-plan

Jep, jetzt wo dus sagst, erinnere ich mich, dass es da Einschränkungen für VMs gab.

Ja, ich bin eher ein Laie, was Netzwerk angeht. Aber so wie ich es verstehe, lässt sich im Fall von `IPv4 PAT` von "außen" ja zunächst tatsächlich nur der Router direkt ansprechen. Wenn dieser nicht aktiv die Anfragen an bestimmte Clients im internen Netzwerk weiterleitet, dann ich der Zugriff und wenigst

[2018-01-10 21:26] k-plan commented on #472
@MichaIng

👍   😄

Wenn ich das richtig verstanden habe, liegt das auch wieder an den RFC des WiFi Standards.

[Bridged Client Mode Issues](https://wiki.openwrt.org/doc/howto/clientmode?s[]=wds#bridged_client_mode_issues)

https://unix.stackexchange.com/questions/16854/why-is-virtualbox-bridged-networking-slow

Keine Ahnung ob der Trick hier funktioniert: https://superuser.com/questions/1162055/vir

[2018-01-10 21:49] MichaIng commented on #472
@k-plan

Hehe, der Kerl hat irgendwie doppelt gebridged. Bei Windows muss man bei aktuellem VirtualBox ja keine Bridge mehr einrichten. VirtualBox installiert so einen "Bridged Network Driver" (wie im Screenshot rechts innerhalb der Netzwerkkarten-Einstellungen zu sehen), sodass man in der Software nur noch "bridged" und das Internet-Netzwerkgerät auswählen muss. Der hat ja irgendwie die VM mit ei

[2018-01-10 21:57] k-plan commented on #472
@MichaIng

hmm ... ich könnte aber schon gut leiden, dass IPv6 in deinen VM richtig funktioniert.

Wie sollen wir sonst die IPv6 Implementation in DietPi voran bringen? 😄
Dan ist ja so ein Dual-Stack Verweigerer. 🙊  😄

Oder darf ich dir Hardware (OrangePi One) zum spielen und testen schicken?
Das Angebot steht noch.

Edit:
Sorry, bei Windows bin ich mit XP ausgestiegen.  Daher musst du meine Unwis

[2018-01-10 22:20] MichaIng commented on #472
@k-plan
Von mir aus verschiebe ich IPv6 erst mal, bis DietPi v6.0 raus ist und die ggf. erste Bugwelle in v6.1 eingearbeitet ist.

Dein Angebot mit dem OrangePi One habe wiederum ich bewusst noch nicht angenommen. Ich aktuell genug Zeit in DietPi und so wie ich mich kenne, würde mit einem neuen Spielzeug viel dazu kommen, bzw. ein bisschen würde ich mich auch verpflichtet fühlen den OrangePi aktiv

[2018-01-10 22:33] k-plan commented on #472
@MichaIng

Ja, alles in Ordnung, passt schon.
IPv6 hat Zeit. Wartet eh' schon über 10 Jahre auf die flächendeckende Einführung. 😄

Nein. Alles ohne Verpflichtung und Druck.
Alles kann, nichts muss. Ist nur ein Hobby und soll Freude und vor allem Spass bereiten.
Melde dich, wenn die Zeit reif ist.

[2018-01-11 09:04] nwcatalyst commented on #1171
Tried on  NUC NUC6CAYS (with 32GB eMMC) and the install process did not work the first time (odd error about not being able to find mmcblk0 though it had just returned messages saying it was located...

Tried again immediately and it seemed to work.

I did see a bunch of I/O errors for the eMMC during install, which was a major reason I came to dietpi from trying to run Mint on it. I will get it u

[2018-01-11 10:53] Fourdee commented on #1132
@hippytyre

Hi,

Try escaping each ```\=``` entry, when entering the SSID:
```-\=word\=-```

Bug/limitation, unsure at the moment. Depends on results of above ^^

[2018-01-11 10:58] Fourdee commented on #1171
@nwcatalyst

Thanks for testing 👍

This may be a hardware/EMMC issue (may also be related to ```discard fstab``` disabled in v6.0). Do you experience EMMC I/O errors with other OS?

It may also be worth trying our new PREP system, requires a debian installation on EMMC:
https://github.com/Fourdee/DietPi/issues/1285

[2018-01-11 11:51] Fourdee commented on #1385
ASUS TB: http://dlcdnet.asus.com/pub/ASUS/mb/Linux/Tinker_Board_2GB/20171115-tinker-board-linaro-stretch-alip-v2.0.4.zip?_ga=2.111431302.324915190.1515670093-379854191.1515670093

Issue:
- 🈴  ramdisk fail. ```/boot``` mounted after ramdisk service?!?!?!?
-- 🈯️ ```RequiresMountsFor=/boot``` works, however, we must check for ```/boot``` mount, per device.
-- 🈯️ disable ```/etc/fstab``` ```x-systemd.

[2018-01-11 13:12] MichaIng commented on #1385
@Fourdee
If you find time, could you check if the packages `init` and/or `systemd-sysv` were & are installed on ASUS TB and if yes, if they come from Debian repo or are somehow overwritten by some Asus repo? I wonder, as `init` is an essential package, which should be on every image reinstalled, cannot be autoremoved and depends on (either the old sysvinit or) systemd.

If somehow `init` is not pr

[2018-01-11 13:23] Fourdee commented on #1385
@MichaIng
Just finished PREP:
[code]
---

Pre-Prep:
[code]

[2018-01-11 13:40] xDavo opened #1387 "After short idle sound from Kodi stops working"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version: 159
- SBC Device: Odroid - XU4
- Power supply used: Vigan, 5V, 3.5A
- SD card used: Sandisk Ultra
- Distro: odroid-wheezy

#### Additional Information (if applicable):
A while after Kodi releases audio channel (according to Kodi
settings in System -> Settings -> System -> Audio output -> Keep
audio device alive) Kodi is

[2018-01-11 13:40] MichaIng commented on #472
PR is there: https://github.com/Fourdee/DietPi/pulls

[2018-01-11 13:54] MichaIng commented on #1385
@k-plan
Okay, no `init` there: https://packages.debian.org/en/stretch/init
Jep, then we should just always install `systemd-sysv`, which also ensures base `systemd`. We could then actually also purge `init`, which is just a meta package to ensure one of systemd or sysvinit is installed.

[2018-01-11 15:08] k-plan commented on #1385
I don't want to disturb your image creation process.
But I want to better mention this here.
I have a quick look into your fresh build images. Nice work. 👍
Think, we have to do some housekeeping after this (delete  some unwanted/useless/violate files).

Suggestion:
- build all new images now until it is finshed
- then we can delete all unwanted/useless/violate files altogether at once (mount and d

[2018-01-11 17:15] xDavo commented on #1387
Run another scenario:
##### 7. Autostart to LXDE and run Kodi manually
Preconditions:
- install LXDE
- set autostart to desktop (actually not necessary, autostart to Kodi works as well - desktop just needs to be present)

Step 1: Run Kodi from LXDE desktop
Step 2: Use a source of sound to test audio then let Kodi idle for a while (30 minut tested)
Step 3: Use a source of sound again

Result: PASSE

[2018-01-11 17:27] nwcatalyst commented on #1171
I had no issues with default W10 installation before trying various Linux distros.

I will try again.

-------- Original Message --------
On Jan 11, 2018, 2:58 AM, Dan wrote:

[2018-01-11 18:06] MichaIng commented on #1385
@Fourdee
Edit: Just have a look into the PR 😉.

@k-plan
As we currently use version string `6.-1`, we could do final cleanup by 6.0 update

[2018-01-12 03:12] MichaIng commented on #1385
Accidentally merged commit into existing PR branch: https://github.com/Fourdee/DietPi/pull/1386
+ After investigation, (main) reason for stuck process animation was, that `/var/run` seemed to be cleared ~2 times during boot. Thus no pid information remained => nobody can kill the animation.
+ Added file check into animation script, now breaks if file does not exists anymore, never faced the issue

[2018-01-12 06:43] pedrom34 opened #1388 "Public Key issue?"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version | 159
- SBC Device | RPi 2 Model B (armv71)
- Power supply used : 5v 2.5A
- SD card used : Sandisk ultra 32Gb
- Distro (EG: Jessie) | Linux DietPi 4.9.62-v7+ #2 SMP Fri Nov 17 23:52:26 GMT 2017 armv7l GNU/Linux

#### Additional Information (if applicable):
Fresh install. Some dietpi software installed.
[COPS](https://gith

[2018-01-12 11:36] Fourdee commented on #1388
@pedrom34

Thanks for the report 👍

We'll check the code, however, i'll flag this is low priority due to it being a warning, which will not effect the operation of repo.

[2018-01-12 11:40] pedrom34 commented on #1388
Thanks. :relaxed:

[2018-01-12 11:42] Fourdee commented on #1388
@pedrom34

Lets check mono is installed via ```dietpi-software```, please paste results:
[code]

If it reports ```=2```, or you installed mono outside of DietPi, try re-adding the key:
[code]

[2018-01-12 11:55] pedrom34 commented on #1388
`id 150 | =2 | mono: runtime libraries and repo |`

So I did:
`apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys 3FA7E0328081BFF6A14DA29AA6A19B38D3D831EF`

and got:
`Executing: /tmp/apt-key-gpghome.xr14d7xmGq/gpg.1.sh --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys 3FA7E0328081BFF6A14DA29AA6A19B38D3D831EF
gpg: failed to start the dirmngr '/usr/bin/dirmngr': No such file or di

[2018-01-12 15:51] MichaIng commented on #659
I found some guide on how to do it:
http://www.aboutlinux.info/2005/09/how-to-change-mac-address-of-your.html
[code]
With interface name `eth0` and MAC address `00:80:48:BA:d1:30`

But as this will be reset on reboot, we need to store & recover the info on `post-down` & `pre-up`.
Either this can be done within `/etc/network/interfaces` or by using the related subfolders to place a script: `/etc/ne

[2018-01-13 02:16] kevinshane opened #1390 "BUG? docker stats don't show the mem usage?"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version | v159
- SBC Device Rpi3 and 2
- Power supply used 5v 2.5a
- SD card used ssd root
- Distro (EG: Jessie) | Linux rpi2 4.9.62-v7+ #2 SMP Fri Nov 17 23:52:26 GMT 2017 armv7l GNU/Linux

#### Additional Information (if applicable):
- Software title? Docker
- Can this issue be replicated on a fresh installation of DietPi?
afte

[2018-01-13 11:15] pgferr opened #1391 "kodi issue: "Package 'kodi-odroid:armhf' has no installation candidate""
## Creating a bug report/issue:
 i cannot install kodi. The installation don't go on and i have this message:Package 'kodi-odroid:armhf' has no installation candidate

#### Required Information:
- DietPi Version: 159
- SBC Device: odroid c2
- Power supply used (EG: 5v 1A RAVpower)?
- SD card used (EG: Sandisk ultra)?
- Distro: debian stretch | Linux DietPi 3.14.79+ #1 SMP PREEMPT Sun Jul 23 00:04:

[2018-01-13 12:33] Fourdee commented on #1391
@pgferr

Thanks for the report 👍

Kodi is currently not available for Debian Stretch on the C2:
https://github.com/Fourdee/DietPi/issues/1032#issue-238395824

You'll need to use the Jessie image for Kodi/GPU usage:
http://dietpi.com/download

[2018-01-13 12:36] Fourdee commented on #1390
@kevinshane

Thanks for the report 👍

May be a limitation with RPi (kernel) and/or issue with Docker binary itself. As I have zero experience with Docker, I'll open up for investigations.

[2018-01-13 12:39] Fourdee commented on #1390
@kevinshane
May also be a issue limited to Jessie, might be worth testing with Debian Stretch (our default RPi image):
http://dietpi.com/downloads/images/DietPi_RPi-armv6-(Stretch).7z

[2018-01-13 13:14] MichaIng commented on #1385
@Fourdee
While creating VirtualBox image, I recognized following warning during APT installations when doing via dropbear (actually already face this since I can think):

Made some research and found, that `dropbear-initramfs` causes the error, which is only necessary to unlock full encrypted drives and expects the key file for this: https://packages.debian.org/stretch/dropbear-initramfs

Instead

[2018-01-13 13:16] kevinshane commented on #1390
@Fourdee Thanks man, also I try to install the raspbian lite and it reports correctly, the kernel is
`Linux raspberrypi 4.9.35-v7+ #1014 SMP Fri Jun 30 14:47:43 BST 2017 armv7l GNU/Linux`
edit: the raspbian lite is jessie
for both rpi2 and 3

oh btw, I do tested with Stretch, it won't shows the mem usage either unfortantly :(
[code]

[2018-01-13 14:04] badboygolf16v commented on #1363
Changing aotg.urb_fix=0 from 1 resolves this issue.

[2018-01-14 11:22] Fourdee commented on #1363
Confirmed v159 required for default + patched ```aotg.urb_fix=1```:
https://github.com/Fourdee/DietPi/blob/master/dietpi/patch_file#L2907-L2921

Will mark as closed.

[2018-01-14 11:22] #1363 closed, assigned to nobody

[2018-01-14 11:31] darthyoh commented on #1102
Hi !
I'm interested in getting a rock 64 (powered by dietpi)
First, thanks for the job done with it.
I just have a question : one of the reasons i'm interested with it is the emmc module to increase transfert rate. I imagine installing dietpi on a emmc module. Do you think this process http://dietpi.com/phpbb/viewtopic.php?f=8&t=980 can be applied to the rock 64 board ?

[2018-01-14 12:03] Fourdee commented on #1385
NanoPi Neo (default kernel):
![image](https://user-images.githubusercontent.com/7077026/34915718-e31d464a-f922-11e7-8993-4a01c5887ce6.png)

We'll need to use mainline kernel to create Stretch images.

[2018-01-14 12:14] Fourdee commented on #1385
Considering:
If we can automate the detection of current kernel packages in PREP, I'll create only the popular OPi/BPi/NanoPi images, the less used ones can be user created with PREP.

ref: https://github.com/Fourdee/DietPi/issues/1281#issuecomment-350585096

[2018-01-14 12:41] Fourdee commented on #1379
Confirmed working with v6.0 RPi Stretch image.

Completed.

[2018-01-14 12:41] #1379 closed, assigned to Fourdee

[2018-01-14 12:45] Fourdee commented on #1352
@MichaIng

What testing is outstanding for this ticket? Or can we mark as closed due to PR: https://github.com/Fourdee/DietPi/pull/1359/files ?

If need be, for all other software titles (we cant test them all), we can rely on the user bug reports with the new system, and, fix on demand after v6.0 release?

[2018-01-14 12:49] Fourdee commented on #1355
Note:
@MichaIng @k-plan
v6.1 will be reserved solely for bug fixes, if required. To ensure we can patch any issues our users may experience with the vast changes in v6.0

[2018-01-14 12:52] Fourdee commented on #1347
I'll create the updated v6.0 image today (https://github.com/Fourdee/DietPi/issues/1385#issue-287129015), test, then link here.

[2018-01-14 12:55] Fourdee commented on #1311
I'll mark this as completed. Will reopen if required.

[2018-01-14 12:55] #1311 closed, assigned to Fourdee

[2018-01-14 14:20] Fourdee commented on #1285
🈯️ https://github.com/Fourdee/DietPi/commit/4e10e8b2c7df6aa8412d253797d1eb9b69a52274

[code]

[code]

[2018-01-14 14:44] Fourdee commented on #1385
🈯️ https://github.com/Fourdee/DietPi/commit/9660e1d4570e363fb27e125e561d84f4c8809add ARMbian PREP images failing to boot:
-- ```/boot/dtb``` missing
[code]

[2018-01-14 15:02] Fourdee commented on #1385
NanoPi NEO2:
-- Could be due to my FX6300 (possible HW issue)...
[code]

[2018-01-14 15:49] Fourdee commented on #1347
OPi PC image re-created:
http://dietpi.com/downloads/testing/v6.0/DietPi_OPiPC-ARMv7-Stretch.7z

Tested and boots fine. Please use the image above.

Marking as resolved.

[2018-01-14 15:49] #1347 closed, assigned to nobody

[2018-01-14 19:50] k-plan opened #1393 "DietPi-Hosting | dietpi.com and fuzon.co.uk are down / not reachable / offline"
@Fourdee

[dietpi.com](http://dietpi.com/)

[code]

[fuzon.co.uk](http://fuzon.co.uk/meveric)

[code]

Checked local and via online tools like [dnstools.ch](http://en.dnstools.ch/) , [pingtool.org](http://pingtool.org/) , [ping.eu](http://ping.eu/)

[2018-01-14 20:28] k-plan commented on #1385
@MichaIng

Nice finding, but this will only work with Debian Stretch, Buster and sid.
Your given link show this.
It will break Debian Jessie image building via `PREP_SYSTEM_FOR_DIETPI.sh`.
Jessie needed https://packages.debian.org/de/jessie/dropbear
Sorry.

@Fourdee

Play a little bit with Odroid C1 Jessie image creation.
Something going wrong with [dietpi-obtain_hw_model](https://github.com/Fourd

[2018-01-14 20:45] k-plan commented on #1393
@Fourdee

do some deeper research:

https://status.myvirtualserver.com/

Leave it open for information, until it will work again.
Please close if needed. Thanks.

[2018-01-15 12:24] MichaIng commented on #1352
@Fourdee
I did not yet make a fine uninstallation try for all affected software, but did try the basic method on all distro versions.

[2018-01-15 12:57] MichaIng commented on #1385
@k-plan
Thx for hint, yes the package separation is not yet available on Jessie, thus I added a G_DISTRO specific package section: https://github.com/Fourdee/DietPi/pull/1394

@Fourdee
As we already found kernel downgrade issues, at least on Odroids, maybe we can use this in front of the whole HW/Kernel package part and then sed and compare kernel versions and just install the new package, if it w

[2018-01-15 13:07] Fourdee commented on #1393
@k-plan

Thanks for posting this 👍

Had similar reports on twitter. Seems to be all up and running again now 🥂 I'll mark as closed.

[2018-01-15 13:07] #1393 closed, assigned to nobody

[2018-01-15 13:13] Fourdee commented on #1385
@k-plan

1

Bizarre.
🈯️ (https://github.com/Fourdee/DietPi/commit/97d74775e950bfa57a5040fa71d3fd132ad30f51) I'll send commit to hard code the index as per your fix:
https://github.com/Fourdee/DietPi/issues/1385#issuecomment-357539747

We only really need the auto detection for RPi's, and, new prep system always sets the G_HW_MODEL file which is read by https://github.com/Fourdee/DietPi/blob/testin

[2018-01-15 18:14] k-plan commented on #1385
Really bizarre on Odroid C1:
( PREP image from: https://oph.mdrjr.net/meveric/images/Jessie/Debian-Jessie-1.1-20170526-C1.img.xz )

[code]

------------

I am completely unsure, what we really need in `/etc/apt/`
(Yes, I have looked into your `DietPi_v145_OdroidC1-armv7-(Jessie).img`)

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2018-01-15 19:10] k-plan commented on #1385
Odroid C1 problem with `dietpi-config` => `Performance Options`

`/DietPi/dietpi/dietpi-config: line 1560: * 25 : syntax error: operand expected (error token is "* 25 ")`

[code]

![180115-0001](https://user-images.githubusercontent.com/17237601/34957807-6b87f43c-fa2f-11e7-94d8-cbfbb60bb4e1.gif)

To get the new default value `CONFIG_CPU_GOVERNOR=ondemand` in https://github.com/Fourdee/DietPi/blob/

[2018-01-15 19:19] DasClarky opened #1395 "DietPi-Update | Update reporting older version as newer"
dietpi-update    = Run now to update DietPi (from V159 to V157).

I doubt this is normal and i run updates as instructed.

[2018-01-15 19:21] DasClarky commented on #1395
I rebooted and it disappeared but still weird

[2018-01-15 19:36] k-plan commented on #1395
Please have a look at:

https://github.com/Fourdee/DietPi/issues/1258

[2018-01-15 19:38] DasClarky commented on #1395
Thanks k-plan! Didn't notice that was already an issue

[2018-01-15 19:42] k-plan commented on #1395
To fix it:

[code]

[2018-01-15 19:52] k-plan commented on #1395
@Fourdee

leave it open, so you can have a look, if additional fix is require:

https://github.com/Fourdee/DietPi/commit/78ca55697fbba380fcb78fa4c650ce3eee455381#diff-c613a85da508fb885b67c34f9661e243R137

[code]
Please close, if it is fixed. Thanks.

[2018-01-16 00:31] MichaIng opened #1397 "DietPi-Software | MySQL: Remove also on Jessie with v6.0?"
@Fourdee
Shall we remove MySQL also on Jessie with v6.0? As users anyway need to install a new image, we can directly force everyone to use MariaDB and bring them on the same stage. This allows us to skip all the annoying tests/adjustments caused by unix_socket authentication just for an oldstable Debian distro. I just faced that, while creating a ownCloud/Nextcloud full migration script to v6.0 😉

[2018-01-16 11:15] Fourdee commented on #1395
@k-plan

Should be fixed for v159. To clear the existing update available flag, requires a script run of dietpi-update which auto runs during boot, or when user runs ```dietpi-update```.

We did have a possible issue with dietpi-ramdisk not saving to disk during shutdown, this is resolved for v6.0.

I'll mark this as closed for now, unable to replicate it in testing. We can reopen if v6.0 users re

[2018-01-16 11:15] #1395 closed, assigned to nobody

[2018-01-16 11:25] Fourdee commented on #1385
@k-plan

Thanks for testing/feedback 👍

can be removed, but no harm in leaving it in place.

Require for Meveric's repo (GPU/Kodi/Kernel packages)

All other items can be left in place.

Resolved: https://github.com/Fourdee/DietPi/commit/1d90070c5625b66001ca00704a7096622981c00b

Fixed for commit (https://github.com/Fourdee/DietPi/commit/b8f2fae93581ab4493b0fe6f1367fabb5e60f648). Was due to missed

[2018-01-16 11:47] Fourdee commented on #1397
@MichaIng

Sounds good to me 👍 Perfect time with image resets

[2018-01-16 11:54] Fourdee commented on #1338
C2 Re-test with v6.0 image and latest kernel:
[code]

[2018-01-16 11:56] Fourdee commented on #1338
I'll mark as closed for now, issue appears resolved with v6.0 C2 image.

[2018-01-16 11:56] #1338 closed, assigned to nobody

[2018-01-16 12:07] Fourdee commented on #1352
@MichaIng

Tested the main ones fine with most package changes (mpd/plex).

- 🈯️ mpd

- 🈯️ (https://github.com/Fourdee/DietPi/commit/7ae462367b3e7e7bf6580a9da707c4092176215d) Plex

#### Required Information:
- DietPi Version | v6.0
- SBC Device     | oDroid C2 (aarch64) (index=12)
- Distro         | jessie (index=3)
- Command        | G_AGP: plexmediaserver-installer
- Error Handler  | G_ERROR_HAN

[2018-01-16 12:15] Fourdee commented on #1352
Rest look fine, i'll mark as closed.

[2018-01-16 12:15] #1352 closed, assigned to nobody

[2018-01-16 13:00] MichaIng commented on #1352
@Fourdee
Interesting, as we clearly install plexmediaserver-installer: https://github.com/Fourdee/DietPi/blob/7ae462367b3e7e7bf6580a9da707c4092176215d/dietpi/dietpi-software#L5877
But good, as "*" works with apt-get, compared to dpkg -P 😄.

[2018-01-16 13:54] kodorevi8ulis commented on #169
i want that too :)
i also have a ht503 with raspbx (pi 1 b+)
(use for home,  to avoid "spamm" calls and others)

the problem is that you have 2 options
either use the image (and you must check if something changes permissions of files etc -it's easy to "break" the asterisk/freepbx service)
either use the step-by-step instructions and install manually the asterisk / freepbx / others which it's a lo

[2018-01-16 13:59] MichaIng commented on #1397
I started with `dietpi-software`: https://github.com/Fourdee/DietPi/pull/1398

But more can be done, will go on later.

[2018-01-16 14:23] k-plan commented on #248
@Fourdee

Want to check, if we can  undo this patch for DietPi v6.
https://github.com/Fourdee/DietPi/blob/testing/dietpi/dietpi-config#L1868-L1873

See: https://github.com/Fourdee/DietPi/issues/1385#issuecomment-357766293

So I have repeat this test.

Hardware Odroid C1+
Based on image: DietPi_v6.-1_Odroid-C1-(Jessie) Version:

[code]

Kernel:

[code]

[code]

I think, with Kernel 3.10.107, we can

[2018-01-16 14:59] k-plan commented on #1385
@Fourdee

Testing on Odroid C1+:

--------------

#### Required Information:
- DietPi Version | v6.-1
- SBC Device     | Odroid C1 (armv7l) (index=10)
- Distro         | jessie (index=3)
- Command        | G_AGUP
- Error Handler  | G_ERROR_HANDLER

#### Additional Information (if applicable):
- Software title | DietPi-Software

#### Expected behaviour:

- inital setup

#### Actual behaviour:

`[FA

[2018-01-16 15:17] Fourdee commented on #1385
@k-plan

I've hard coded the debian-security repo: https://github.com/Fourdee/DietPi/commit/50875c7a4b4e1eee0d68783e9d1923052d03083e

Seems not all mirrors provide the debian-security repo?

http://security.debian.org/debian-security (https://www.debian.org/security/) > https://deb.debian.org/debian-security/

[2018-01-16 15:39] Fourdee commented on #1385
OPi Win/Plus (ARMbian image, prior to any PREP):
- No ethernet, no USB
- HDMI output only.

---

Re-built via ARMbian build tools 27th Jan, same.

[2018-01-16 16:00] MichaIng commented on #1385
@Fourdee @k-plan
Yeah, in different mirrors the security repo is available on different URLs, not always via /debian-security/. I suggest we keep it hard coded on deb.debian.org. I will fix it with current PR as I already adjusted the default there.

[2018-01-16 19:42] MichaIng commented on #1385
@Fourdee
Created new PR for this: https://github.com/Fourdee/DietPi/pull/1399
+ Let's stay on deb.debian.org (mirrordirector) by default and hardcoded for debian-security repo, as said.
+ Revert just for mirrordirector to http on Jessie. Generally https works, it just shows some warnings in combination with deb.debian.org. So we can generally allow https there (which will in every case be overwrit

[2018-01-16 20:10] k-plan commented on #1385
Testing on Odroid C1+ (Debian Jessie):

Hmm ... testing `dietpi-config` => `Language/Regional Options` => `Locale`

- select three different languages or more, eg.
 `en_GB.UTF-8`
`en_US.UTF-8`
`de_DE.UTF-8`

- select a new default eg. `de_DE.UTF-8`, but NOT `en_GB.UTF-8`

- say ` <Yes> ` to reboot

- look what's happend after reboot

- try to change locale via `dietpi-config` to a different defaul