[2018-08-03 14:21] MichaIng commented on #1985
So, to sum up, I like the idea to help in disease research. Currently Debian packages are just available for `x86_64`, and as there is no source code for the client itself, I think there is currently no way to get it running on an ARM SBC.

Configuration is quite easy. Remote access should be added as default, maybe it's possible to allow access for the whole network group (x.x.x.*), will try it.

[2018-08-03 14:50] magicfoxt opened #1990 "YMPD installation broken on stretch armv6"
#### Required Information:
- DietPi Version | v6.3
- SBC Device     | RPi B (armv6l) (index=1)
- Distro         | stretch (index=4)
- Command        | Connection test: http://dietpi.com/downloads/binaries/all/mpd_0.20.11-1_armv6.deb
- Error Handler  | G_ERROR_HANDLER

#### Additional Information (if applicable):
- Software title | DietPi-Software

#### Expected behaviour:
YMPD installation

#### A

[2018-08-03 15:11] MichaIng commented on #1990
@magicfoxt
Thanks for your report. Jep the old versions are indeed missing.

@Fourdee
Did you recently remove the old binaries from the server? Although a `dietpi-update` fixes this, for we should keep the old ones to prevent such issues.

https://github.com/Fourdee/DietPi/blob/0a6e43cac45ab4e7639b4c0be878c75f87451350/dietpi/dietpi-software#L3727
- mpd_0.20.11-1_ for pre v6.4

https://github.com/F

[2018-08-03 15:41] magicfoxt commented on #1990
Thanks for you reply and actions.

[2018-08-03 15:49] nnovaes commented on #1985
thanks!

yeah, a DietPi team would be awesome! Let me know if you want me to create it.

[2018-08-03 15:53] MichaIng commented on #1985
@nnovaes
Let's wait for Fourdee to review. But since I didn't find out yet, how to create a group, would be awesome if you do it then.

Btw: Web UI does not open any more after a while, instead constantly reloading the page. Just found an open issue about this, found that forced reloading the page (clearing browser cache) resolves it: https://github.com/FoldingAtHome/fah-web-client/issues/6
______

[2018-08-04 05:25] Fourdee commented on #1990
@MichaIng

Probably due to server move and me trying to clean up the new one. Although updating DietPi resolves this and your symlink fix, however, my mistake.

@magicfoxt

If you would be so kind as to confirm this is now working? We can mark this as resolved.

[2018-08-04 05:28] Fourdee commented on #1983
@mrwhy-orig

That was going to be my next suggestion. Great to hear its all resolved 👍

For reference, the startup file is located and can be modified below:
[code]

I'll mark this as resolved. Please reopen if required.

[2018-08-04 05:28] #1983 closed, assigned to Fourdee

[2018-08-04 05:41] Fourdee commented on #1985
But for users with server on native PC or VM this is an idea. We could create a DietPi team, I guess tasks are somehow shared within the team and I like the idea to let our servers working together on something useful

I'am all for this 👍 Great idea, and, a for a purpose that benefits the human race.

I'll be able to test this on me Ryzen 5 😃

@MichaIng

Is this something you want to pickup (you'v

[2018-08-04 06:23] Fourdee commented on #1827
@userdeveloper98

Awesome, great work, looking the part now 👍

I've created a local system for testing, contains all the survey files:
http://dietpi-4d.ddns.net:8888/survey
EDIT: its restarting, should be up any minute.

Some issues noted:
- The top item does not display the install count when hovered over:
![image](https://user-images.githubusercontent.com/7077026/43673189-1caad242-97b6-11e8-9241

[2018-08-04 06:34] Fourdee commented on #1989
@MichaIng

Yep, I looked at this in the past and came to the same conclusion. Didn't seem worth implementing.

Seems they are aware of the issues with this, even limiting support to Docker: https://github.com/discourse/discourse/blob/master/docs/INSTALL.md#how-do-i-install-discourse

Yep agree. Unless we have a large number of users requesting 'feedbin', will be some time before we can pick this u

[2018-08-04 08:23] msongz commented on #1989
@Fourdee @MichaIng
thanks for your explanation!
but I think feedbin is the best rss reader on web.

[2018-08-04 08:23] #1989 closed, assigned to nobody

[2018-08-04 10:54] magicfoxt commented on #1990
Yes, I confirm it's working for me and I did a dietpi-update to be up to date ;)
Many thanks for your support !

[2018-08-04 14:11] MichaIng commented on #1990
@magicfoxt
Thanks for feedback, I will mark this as closed then 🙂.

[2018-08-04 14:11] #1990 closed, assigned to nobody

[2018-08-04 14:25] MichaIng commented on #1985
@Fourdee
Let me make a start. Never added a software title so far, if I remember correctly 😄.

€: PR up: https://github.com/Fourdee/DietPi/pull/1992

Some questions appeared:
- There is no fitting software category. Create a new one: e.g. `Scientific projects`, or `Misc` or merge into another category by renaming slightly?
- Shall we handle it via `dietpi-services`? I just had the problem, that us

[2018-08-04 15:22] redone101 opened #1991 "Sambaserver - Permissionproblem"
## Creating a bug report/issue:

#### Required Information:
- DietPi version	6.12
- Distro version	stretch
- Kernel version	Linux DietPi 4.14.32+ #1 SMP PREEMPT Thu Apr 5 12:46:33 UTC 2018 armv7l GNU/Linux

- SBC device		Odroid XU4
- Power supply used	5V 4A
- SDcard used		SanDisk ultra

#### Additional Information (if applicable):
- Software title	SAMBA-Server
- Was the software title installed fr

[2018-08-04 17:51] userdeveloper98 commented on #1827
Hi @Fourdee
Thanks a lot for the feedback!
[v1.0.2](https://files.fm/u/s7yhn2xe)
- Fixed "The top item does not display the install count when hovered over"
- Changed "Dietpi Versions" to "DietPi versions"
- Install count chart horizontal tick now will display only integers.
- Hopefully fixed "margins" issues with device Install count. (At least for Chromium v67 and Firefox v61)
- DietPi Versions

[2018-08-05 08:50] Fourdee commented on #1991
@redone101

Hi, thanks for the report 👍

I'll do some local testing and see if we can find a solution for non-root.

[2018-08-05 08:59] Fourdee commented on #1991
@redone101

This worked for me, you need to create a samba user/password:
[code]

Mmm, there must be a way to use the current linux user password for login details, leave it with me.

EDIT: cant see a way to achieve this, appears both the linux user and ```smbpasswd``` user must exist:
https://askubuntu.com/questions/208013/how-can-i-set-up-samba-shares-to-only-be-accessed-by-certain-users

🈯️ htt

[2018-08-05 09:21] Fourdee commented on #1991
Marking as completed with tested workaround (https://github.com/Fourdee/DietPi/issues/1991#issuecomment-410505982).

@redone101

If problems still persist, please let us know, however, the above should allow you to change the Samba user as needed.

[2018-08-05 09:33] Fourdee commented on #1827
Notes:
- Current software list in format:
[code]

[2018-08-05 09:39] MichaIng commented on #1991
@Fourdee
I think we should only add a single user by default, at best "dietpi" or even a new "samba" user, and not allow root here. Otherwise, if I understand it right, we allow to get root access by using the global password, which should have been changed already by end user on first startup. Having two different users set up with the same global, clear text within dietpi.txt, password, could be

[2018-08-05 09:46] MichaIng commented on #1827
https://github.com/Fourdee/DietPi/blob/testing/.meta/survey_report btw. also shows the lists for all versions since v6.9. The arrays for follow up versions are created based on the previous one with made changes applied incrementally. With this the IDs can be correctly linked for each DietPi version.
v6.13 changes are no yet implemented of course 😉

[2018-08-05 10:01] Fourdee commented on #1827
@userdeveloper98

Legend, great work 👍

![image](https://user-images.githubusercontent.com/7077026/43684640-c412f93e-989b-11e8-8cf2-235d76c4f223.png)

Ok, i'll leave this running for a few days on the test system http://dietpi-4d.ddns.net:8888/survey, if no issues, i'll add to our main server.

---

Some suggestions for future features:
- I think having the below information would be great on the

[2018-08-05 10:04] Fourdee commented on #1827
@MichaIng @userdeveloper98

v6.13 changes are no yet implemented of course

This is the current scrape ```surveyTemplate.properties```:
[code]

Not sure what would need to be changed here?

[2018-08-05 10:10] Fourdee commented on #1991
@MichaIng

Yep, i'll disable the root user, stick with dietpi.

Create a separate samba_upload folder or similar for this, where samba user has full permissions. Also the Music/Videos/Pictures/downloads folders can be 660 (664?) permissions e.g. to allow samba r/w access by adding it to "dietpi" group.

Makes sense, however, this over-complicates a system we try to simplify for the user. From my e

[2018-08-05 10:21] MichaIng commented on #1827
`((aSOFTWARE[${aSOFTWARE_NAME6_11[<softwareIndex>]}]++))` is just valid for v6.11 uploads
`((aSOFTWARE[${aSOFTWARE_NAME6_12[<softwareIndex>]}]++))` for version 12 etc.

And not to mention the old v6.9 style (see OT) 😉.

So depending on which DietPi version `<softwareIndex>` has to be translated into software name differently and the old report script just helps to get the changes. Otherwise one wo

[2018-08-05 10:28] MichaIng commented on #1991
@Fourdee
Yeah reasonable, different run users do not make it more complicated for end user, but different/new login users do. Have "dietpi" as default login user, where possible, also helps to make users aware of this existing beside "root".
And the database issue is I think non, as the `mysql` dir is owned by mysql user and thus `dietpi` should only have read permissions on it, or even none? chmo

[2018-08-05 13:08] userdeveloper98 commented on #1827
@Fourdee  @MichaIng

`((aSOFTWARE[${aSOFTWARE_NAME6_11[<softwareIndex>]}]++))` vs
`((aSOFTWARE[${aSOFTWARE_NAME6_12[<softwareIndex>]}]++))`  It's not a problem at all.
Just ad new line at the bottom of the file and program will understand from where to read new softwareIndex.
It will look for `SOFTWARE_NAME6_12` or `SOFTWARE_NAME6_13` or `SOFTWARE_NAME6_XX` and match with appropriate. No huge main

[2018-08-05 14:20] MichaIng commented on #1940
PR to solve this is up: https://github.com/Fourdee/DietPi/pull/1994
Testing across some setups and distro versions makes sense to verify the error message, that indicates NFSv3, is matched correctly.

[2018-08-05 14:51] MichaIng commented on #1827
@userdeveloper98

This is exactly what I mean. The current survey_report indeed creates own list arrays for each DietPi version. Otherwise you will have quite many wrong entries, as IDs by times also switched to lower unused ones. So I really see no different solution, for up to current version at least, than having separate lists, e.g.
[code]
and then translating those variables with the related

[2018-08-05 16:05] userdeveloper98 commented on #1827
@Fourdee  @MichaIng
How do we count opted-out users? Do they upload an empty file?

[2018-08-05 17:00] MichaIng commented on #1827
@userdeveloper98

Exactly 😃.

[2018-08-05 19:21] tomillr commented on #1171
I'm using a Beelink AP34 which comes pre-installed with a x64 version of Windows 10.

I'd really love to turn this nice machine into a NAS/Plex Media Server with Diet Pi because during idle on the Windows 10 desktop it draws below 3W. That's perfect for a 24/7 home user like me.

[2018-08-05 22:43] #1984 closed, assigned to nobody

[2018-08-06 11:28] Fourdee commented on #1985
@MichaIng

Ideally, we need to handle this in services and process_tool.

In cases like this, where they still use sysinit services. I generally just make a new systemD service. I can take a look at this if needed, once merged and I can test.

Do we want to allow to enter these via dietpi.txt for fully automated install?

Unsure at the moment, really depends if this is unique, or, only applies to

[2018-08-06 11:42] Fourdee commented on #1767
Ok, some testing on native PC with LXDE:
- dietpi-update, killed X server once ```systemd-logind.service ``` was stopped and masked
- PID error returned when loading LXDE

We need to unmask and allow ```systemd-logind.service ``` when desktops are installed.

[2018-08-06 11:44] Fourdee commented on #1818
Testing:
## Native PC / Intel
[code]

[code]

[code]

Trail and error:
[code]

https://www.kernel.org/doc/Documentation/laptops/thinkpad-acpi.txt
The fan may be enabled or disabled with the following commands:

	echo enable  >/proc/acpi/ibm/fan
	echo disable >/proc/acpi/ibm/fan

Placing a fan on level 0 is the same as disabling it.  Enabling a fan
will try to place it in a safe level if it is too

[2018-08-06 12:54] MichaIng commented on #1818
@Fourdee
Oh my god, every manufacturer has it's own fan interface it seems. Yours for IBM/Lenovo/ThinkPad I guess... 🤔

What is inside there?
[code]

I guess auto means temp controlled, but can we adjust this, somehow attach temp to fan speeds?
_________________
Okay was reading the link a bid. There are several interfaces on how to control the fan on IBM/Lenovo/ThinkPad. What is most similar to X

[2018-08-06 12:56] MichaIng commented on #1767
@Fourdee
Hmm, `libpam-systemd` was not installed on the system with lxde? Thought there was some dependency. Or did the check not work as expected?

[2018-08-06 13:07] MichaIng commented on #1985
Actually the auto created systemd service finally worked as expected. I think due to install/update etc. back and forth, there was an issue in between. But reboot should fix it, at least it worked then well for me. So no manual systemd unit creation needed.

According to what I could derive (finished one work unit on the VM, yeah 570 points for DietPi Team 😃), user name is local, until the first w

[2018-08-06 13:09] Fourdee commented on #1818
@MichaIng

[code]

[2018-08-06 13:12] Fourdee commented on #1767
@MichaIng

```libpam-systemd``` is installed

[code]

[2018-08-06 13:26] MichaIng commented on #1767
@Fourdee
Whoopsie, my fault, forgot `!` within check. `0 => yes`, `1 => no` and within arithmetic the other way round, I guess I mixed it up 🤣.

Fixed: https://github.com/Fourdee/DietPi/commit/a4bc048a8bd65787d8df7fc4d186e973fb38f23c

[2018-08-06 13:32] MichaIng commented on #1818
@Fourdee
Does this work?
`echo 0 > /sys/bus/platform/drivers/thinkpad_hwmon/pwm1_enable`
Fan slowly speeds up until full speed...
[code]
Fan slowly speeds down until stop...
...possibly after some time, it speeds up again due to watchdog. In this case:
[code]
...should lead to fan stays off.
`echo 2 > /sys/bus/platform/drivers/thinkpad_hwmon/pwm1_enable`
Fan, depending on temperature, turns on and

[2018-08-06 17:19] Fourdee commented on #1767
@MichaIng

I've done the same thing a few times 👍 😄

[2018-08-06 17:29] Fourdee commented on #1985
@MichaIng

Hmm, it has a very wide definition. Technically, any of the Software titles could fit under it?

```Computing Science```? or ```Science stuff```? 😃
```Computing simulation / computer modeling```?

You decide for this one 👍

Ok, lets merge what you have completed now, I'll run some tests and take a look.

[2018-08-06 17:30] jkossis commented on #1114
@Fourdee

For clarity, if I wanted to disable a diet-pi service from starting at boot (such as transmission-daemon),
do I do it through systemctl, or through dietpi-services? If the later, do I need to run some combination of mask/unmask as well as disable? Just a little confused. Could be my lack of understanding here.

I appreciate the help.

[2018-08-06 17:33] Fourdee commented on #1114
@jkossis

do I do it through systemctl, or through dietpi-services? If the later, do I need to run some combination of mask/unmask as well as disable? Just a little confused. Could be my lack of understanding here.

By default DietPi-Services disables services which allows it to take manual start/stop control of.

To disable DietPi-Services from controlling the service, you need to either:
- Mask

[2018-08-06 18:17] MichaIng commented on #1114
@jkossis
And as masking does not work, if the original .service file is placed within /etc/systemd/system/, to completely disable those services, you need to remove the related files or better move them to a backup location.

This is the opened issue: https://github.com/Fourdee/DietPi/issues/1809

[2018-08-06 18:22] MichaIng commented on #1985
@Fourdee
Yeah. reading the English wikipedia article about "Computing" indeed has a wider range than what I understood, or what you get from the German article, following the provided link.

https://en.wikipedia.org/wiki/Computational_science
"Computational Science" at least fully fits according to wikipedia? 😆

[2018-08-06 18:29] jkossis commented on #1114
@MichaIng

It seems that the issue linked is for manually created services.

@Fourdee

I don't want to disable dietpi-services from controlling transmission-daemon. I am looking for a way in which I can tell dietpi-services to not auto start transmission-daemon, but rather, wait for me to manually start it.

To achieve this, do I need to relinquish the control from dietpi-services to systemctl?

[2018-08-06 18:31] Fourdee commented on #1985
![image](https://user-images.githubusercontent.com/7077026/43734221-f3d1095e-99ae-11e8-99d4-09801eb1382d.png)

Silly question, how do I access the web client remotely?

Sounds good 👍

[2018-08-06 19:28] MichaIng commented on #1114
@jkossis

Jep mostly, but indeed also some software installs place their systemd units into that folder.

If I see it right, then currently dietpi-services handles services in every case, if they are found either within /lib/systemd/system or /etc/systemd/system.
Thus you need to remove the service name from the script for this currently:
`sed -i '/transmission-daemon/d' /DietPi/dietpi/dietpi-serv

[2018-08-06 19:41] MichaIng commented on #1985
@Fourdee
Web access is possible via port `7396`, but only if the 5 seconds were enough for FAHClient to write back the config file after stopping. Will test as well again, if this always works.

€: Okay, sleep 5 doesn't work reliably, and as well the service fully needs to start, to check system and do internal CPU/GPU usage decisions. These are 4 processes overall, FAHClient parent, child, FahCor

[2018-08-06 21:23] MichaIng commented on #1767
@Fourdee
I rechecked, if libpam-systemd is installed with all desktops: `policykit-1` depends for it, but we do not install it with **xfce4**: https://github.com/Fourdee/DietPi/blob/testing/dietpi/dietpi-software#L3412-L3474

I am not sure, if systemd-logind is still required for xfce then? At least "libpam-systemd" got never installed, thus no logind feature available. But not sure how/why xserve

[2018-08-07 03:56] andrewsudz opened #1995 "WiFi modules turn off after reboot/shutdown | Pine A64"
## Creating a bug report/issue:

#### Required Information:
- DietPi version	| 6.12
- Distro version	| StretchV8
- Kernel version	| 3.10.105-bsp-1.2-ayufan-118
- SBC device		| Pine A64 2GB
- Power supply used	| 5V 2A
- SDcard used		| SanDisk
##
Hello, I setup my Pine A64+ on the latest version of DietPi over Ethernet SSH. I am now trying to switch from Ethernet to onboard WiFi. I have both modules

[2018-08-07 04:06] Fourdee commented on #1985
@MichaIng

Once ```Run_Move_Data``` is completed, it should break on next loop with:
https://github.com/Fourdee/DietPi/blob/testing/dietpi/func/dietpi-set_userdata#L156-L161

If on rootfs, still returns valid:
[code]

Perfect, nice one 👍

[2018-08-07 04:07] msongz opened #1996 "FreshRSS"
## Creating a software request:

- Software title | FreshRSS
- Short description | A free, self-hostable rss reader
- GitHub URL (if available) | https://github.com/FreshRSS/FreshRSS
- External URL (if available) | http://freshrss.org
- (Official) install documentation |
https://github.com/FreshRSS/FreshRSS#installation

[2018-08-07 04:12] Fourdee commented on #1985
@MichaIng

Much better, thanking you 👍  Although, even at ```full``` this is only using 2/6 cores
![image](https://user-images.githubusercontent.com/7077026/43754015-7f7f1b7a-9a00-11e8-8a6b-e47d61fcfa96.png)

Hmm:
[code]

https://foldingforum.org/viewtopic.php?f=94&t=25583#p256295

[code]

For logs we should do this by default:
[code]

The default service is really nasty/flaky, doesn't seem to sto

[2018-08-07 04:44] Fourdee commented on #1995
@andrewsudz

Hi, thanks for the report 👍

Please run the following command and paste results:
[code]

If the entry did not previously exist (```[  OK  ] G_CONFIG_INJECT | Added setting 8723bs to end of file /etc/modules```), please reboot system and see if the WiFi issue after reboot is resolved.

[2018-08-07 04:44] Fourdee commented on #1995
@andrewsudz

Thanks for reporting this, i'll run some local testing to verify.

[2018-08-07 04:45] Fourdee commented on #1995
REF: https://github.com/Fourdee/DietPi/issues/1844

[2018-08-07 07:31] MichaIng commented on #1985
@Fourdee
It mostly uses just one core on my laptop (Windows). Yesterday when testing on VM, and after raising their virtual cores to all 4 host threads, I found one using 3 cores.
I think, also remembering what I read, that the amount of used cores also depends on the current work unit, but not sure.

Yeah service shut down takes some time and leads to partly result loss, if not yet saved to disk

[2018-08-07 11:30] amk221 commented on #1620
Actually, it already was S32. I've just tried a fresh installed of Allo GUI @ 6.11 (because that is all that is available currently).  And as soon as I chose to Airplay form iTunes, the service gets switched off.

[2018-08-07 16:29] MichaIng opened #1997 "General | Recheck $FP_WORK_DIR"
## Creating a bug report/issue:

#### Required Information:
- DietPi version	| `6.13 testing branch`
- Distro version	| `stretch`

#### Additional Information (if applicable):
- Software title	| DietPi-Globals, observed within DietPi-Drive_Manager

#### Steps to reproduce:

1. Move dietpi_userdata via DietPi-Drive_Manager

#### Expected behaviour:

- After move has finished, drive manager current

[2018-08-07 17:49] MichaIng commented on #1997
Recheck:
[code]
- Actually everything works as expected. $FP_WORK_DIR is not known in subscripts (until assigned), as well not in "trap". Subscripts start within the working dir of parent script. If they `cd` somewhere else, parent script remains within it's dir => `cd` does not apply for parent scripts/shells, just subscripts/shells, similar to exported variables.

Still not sure what happens her

[2018-08-07 18:31] MichaIng commented on #1997
Debug via second SSH session:
Main:
[code]
- `dietpi_userdata` successfully moved.
- `dietpi-software setpermissions` call
- 🈺 `dietpi-services` call before dietpi-userdata script finishes. This is actually wrong here, as for `dietpi-drive_manager` we expect services to be stopped.
-

In parallel second session observes content of `/tmp`:
[code]
- `/tmp/dietpi-drive_manager` is removed shortly aft

[2018-08-07 19:11] andrewsudz commented on #1995
@Fourdee

It works! Ran the code above and used the same procedure to switch to WiFi from my original post and it is staying connected after reboots and shutdowns!

Thanks so much

[2018-08-07 19:32] MichaIng commented on #1997
Fixed within: https://github.com/Fourdee/DietPi/pull/1994

[2018-08-07 20:06] MichaIng commented on #1996
@msongz
Thanks for your request.

Jep that is possible to easily implement in comparison to feedbin.

Install steps: https://github.com/FreshRSS/FreshRSS#example-of-full-installation-on-linux-debianubuntu

[2018-08-08 00:39] 1activegeek commented on #1696
I'm assuming you guys already know FTLDNS was released officially ... but if not, PING!! Happy to test out the updated changes when its time! 😄

[2018-08-08 07:31] Fourdee commented on #1997
@MichaIng

Yep, great work, makes sense to global this 👍

There are a few rare cases where DietPi scripts can re-run multiple instances of itself. Ideally, we should add something like this to the non-func scripts (eg: dietpi-software/config etc):
[code]

Should be easier to debug and resolve all chances of multiple duplicate script instance loops?

---

It may also make sense to simply remove the

[2018-08-08 07:51] Fourdee commented on #1995
@andrewsudz

Excellent, thanks for confirming resolved 👍

I'll apply this fix to v6.13 during patching.

[2018-08-08 07:55] Fourdee commented on #1995
Completed, resolved for v6.13.

[2018-08-08 07:55] #1995 closed, assigned to Fourdee

[2018-08-08 07:56] MichaIng commented on #1997
@Fourdee
Jep, thats what I thought about. Could be placed into G_INIT().

[2018-08-08 07:58] Fourdee commented on #1844
Should be resolved in v6.13. Assuming the WiFi addon cards always use ```8723bs``` chipset.

https://github.com/Fourdee/DietPi/issues/1995#issuecomment-410931618

If this still occurs after v6.13:
- Possible hardware issue with this WiFi addon card
- The chipset has changed from ```8723bs```, we need to see image of chip contained on the card.

[2018-08-08 07:58] #1844 closed, assigned to nobody

[2018-08-08 08:01] Fourdee commented on #1620
@amk221

Strange, can we see the full contents of this file please?
[code]

And the following
[code]

[2018-08-08 08:04] amk221 commented on #1620
[code]
^ (Note, I changed it to S16, and it seemed to work)

[code]

[code]

[2018-08-08 08:05] Fourdee commented on #1985
@MichaIng

Yep, looks that way 👍

I'll have to try running 3VM's with 2cores each, see how many points I can achieve today! 😃

I'll need to recheck, however, I believe stopping/starting the service actually allowed for two instances of the application. The previous one (which was trying to finish) and the new one (trying to start).

[2018-08-08 08:10] Fourdee commented on #1620
@amk221

You should be able to get 24bit

Try setting/testing this to ```S24``` or ```S24_3LE```, restart services after reach try:
[code]

You can also apply this in the Allo GUI itself.

[2018-08-08 08:13] Fourdee commented on #1114
@MichaIng

Yep, we have an include, not exclude. I'll see about adding that in.

[code]

[2018-08-08 10:35] Fourdee commented on #1114
@jkossis

Please update the script:
[code]

Run DietPi services at least once to generate the new include/exlude file:
[code]

Edit the file ```/DietPi/dietpi/.dietpi-services_include_exclude``` to add include/excludes. All info is in there.

[2018-08-08 11:19] Fourdee commented on #1985
Yep, did 3 VM installs on latest testing branch, all 3 had remote access disabled.

Need to test https://github.com/Fourdee/DietPi/issues/1985#issuecomment-411323028

[2018-08-08 11:25] MichaIng commented on #1985
@Fourdee
Hmm, okay (lets stay with discussion here). So the pgrep pattern needs to be reviewed. Actually I worry a bid, if those test installs, which always start on a WU, but never finish it, somehow delay the research process. Would be nice if we could somehow "free" the WU, so others can instantly start with it.

But disabling autostart for testing is no option, is exactly that full start is wh

[2018-08-08 11:27] Fourdee commented on #1985
@MichaIng

Mmmm, could we pre-create the config.xml, before deb install? As a last resort, might do the job?
Ah i see the IP detection issues.

Testing

![image](https://user-images.githubusercontent.com/7077026/43834531-4f78ff98-9b06-11e8-87b8-d5264947cf07.png)

[2018-08-08 11:30] MichaIng commented on #1985
@Fourdee
Hmm, the problem is that the settings are/need to match the system, regarding CPU/core count, GPU etc. I think it will cause more problem, if we somehow try to create a most-compatible one. The client needs to check and pre-create configuration.

It looks like `pgrep -cif ^$(readlink -f /var/lib/fahclient)/cores*` does not work reliably. I had the impression that it is never waited for se

[2018-08-08 11:43] Fourdee commented on #1985
@MichaIng

[code]

EDIT:
User input required ☹️
[code]

[2018-08-08 11:45] MichaIng commented on #1985
@Fourdee
<s>Ahh yes good point. Maybe disable autostart with debconf-set-selection, hope that really nothing starts up, then `FAHClient --configure`, hope that it really delays bash follow up until fully finished.
<s>Then during install configuration step enable autostart.</s> Then leave service start/stop to dietpi-service control?</s>

Ahhh, yeah remember....

[2018-08-08 12:29] Fourdee commented on #1985
I think we can do own service for this:

🈯️ Launch CLI options get overwritten by ```config.xml``` entries.

[code]

[code]

GPU will be disabled if cant detect compatible hardware/driver

[2018-08-08 13:10] MichaIng commented on #1985
@Fourdee
Hmm, actually I like it more, if we do not create own service and have arguments inside that might confuse users. But on the other hand, if it's working reliably, this is better and also avoids the sleep time during install.

In this case:
- Disable autostart via debconf-set-selections
  - This is anyway better if we want to control it via dietpi-services.
- Install deb (should not start

[2018-08-08 13:13] Fourdee commented on #1985
Not possible due to https://github.com/FoldingAtHome/fah-issues/issues/1193

The autostart must be set to ```true```

[2018-08-08 13:18] Fourdee commented on #1985
Ok so this is what happens:
- Our service has pre-defined, default CLI options we want to use (previously in config.xml)
- We clear the config.xml file during install
- When the user makes changes in web interface, and the service is stopped, it saves changes to
[code]
- When it starts up again, it will load ```/mnt/dietpi_userdata/fahclient/config.xml``` and override any CLI options in our servic

[2018-08-08 13:38] MichaIng commented on #1985
@Fourdee
Okay, so the only issue then is, that after deb install the service starts automatically, as well as on boot.

As long as it is stopped before config step, it is no big issue. Is it possible to then disable the service  (dietpi_controlled), have it not started on boot (before dietpi-login) and not face the startup error?

[2018-08-08 13:42] Fourdee commented on #1985
@MichaIng

I worked around this with:
https://github.com/Fourdee/DietPi/blob/testing/dietpi/dietpi-software#L3903

Then
https://github.com/Fourdee/DietPi/blob/testing/dietpi/dietpi-software#L7917-L7922

So in practice, whether or not the auto service start creates the config.xml has no relevance, as we clear it  afterwards, then allow the service with its command line options to set the default it

[2018-08-08 14:01] MichaIng commented on #1985
Is this automatically used with our service started (due to service file WorkingDir), or can we adjust the service to directly create config.xml within userdata?
Then we would not need to chown/clear `/etc/fahclient/config.xml`, just `rm -R /etc/fahclient` instead?
So do the following all in configuration step?
[code]
_____________________
`/lib/systemd/system/fahclient.service` 👍

I think we shou

[2018-08-08 16:53] MichaIng commented on #1997
@Fourdee
Did a start: https://github.com/Fourdee/DietPi/pull/1998

This prompts whiptail with info and choice to user. Concurrent executions should be impossible with this, first the second instance need to be closed. Otherwise cancel to revert to parent script.
But this needs some testing, especially how our scripts handle errors on child scripts.
Cron/SystemD executions will cancel automatically

[2018-08-08 17:23] MichaIng commented on #1973
I will mark this as closed:
- For my impression installing `dbus` only for scheduled shutdown is not worth it. There are as well better methods, if somehow required conditionally, via systemd units etc.
- `dbus` will be installed automatically with desktops, as well as when using timesyncd (timedatectl) in daemon mode, as then there is more need for it, which users might expect.
- Installing `dbus

[2018-08-08 17:23] #1973 closed, assigned to nobody

[2018-08-08 17:26] MichaIng commented on #1996
I will implement this with v6.14, if nothing urgent comes in between. v6.13 has already much new stuff the now needs to be tested and fine tuned, before we go on with further new features?

[2018-08-08 17:28] MichaIng commented on #1940
@Fourdee
Did you test on your machines? Can this be closed?

[2018-08-08 17:32] MichaIng commented on #316
- [ ] Reckeck+Solve as well for automated installs
________________
Error still exists:
[code]

But, it goes on when hitting "Retry":
[code]
- Lighttpd startup fails first, which makes sense, as `fastcgi-php` is still configured for `php-cgi` instead of `php-fpm`. On Lighttpd configuration step we adjust this, afterwards Lighttpd starts up successfully.
- Perhaps this is also the reason for initia

[2018-08-08 17:33] MichaIng commented on #1937
I will close this in favour of https://github.com/Fourdee/DietPi/issues/316
But added comment there to recheck and in case solve this for automated installs as well.

[2018-08-08 17:33] #1937 closed, assigned to nobody

[2018-08-08 21:23] msongz commented on #1996
That's awesome!
Thanks for your hard work

[2018-08-08 22:51] MichaIng commented on #1696
@1activegeek @Fourdee
Nicce, so we can finally test and finish this.

FTLDNS btw. is already supported with our current implementation <s> and `pihole -up` can be used (at least it should, needs testing again as said), after adding `INSTALL_WEB_SERVER=false` to `/etc/pihole/setupVars.conf`, if it was not already chosen during initial Pi-hole install.</s>
**€: Ah ehm, `pihole -up` works with the me

[2018-08-09 08:58] Fourdee commented on #1985
No idea, we'd need to test it locally with a dpkg reinstall.
Although, should be fine if ```dietpi-software reinstall 2``` is used.

Reinstall
[code]

🈯️ We may need to ```dpkg -P fahclient``` during install. ```config.xml``` settings saved

Yep, the working dir and data dir combo ensures ```/mnt/dietpi_userdata/fahclient/config.xml``` is used.

So do the following all in configuration step?

Yep,

[2018-08-09 09:36] Fourdee commented on #1985
@MichaIng

Interesting, you can manually add more slots in the config.xml to run more jobs:
![image](https://user-images.githubusercontent.com/7077026/43890935-030186f2-9bc0-11e8-97d1-45de61ca082c.png)
[code]

Would be great if we could add default slots to:
- CPU cores total / 2?

I'll check CLI options

---

EDIT:

However, after a few minutes, two of the jobs stop for no reason and cpu usage ba

[2018-08-09 10:05] MichaIng commented on #1985
Hmm, on the other hand the last two work units I had took all four cores and gave many points. I guess the more cores, the more points you get within same time (1 WU with 4 cores < 2 WU with 2 cores).

Thus mostly you want to work on one WU with all your cores?

[2018-08-09 10:36] Fourdee commented on #1985
@MichaIng

Online docs.

🈯️ http://dietpi.com/software (under misc to keep 2 lines of cats). Feel free to add this this ```/var/www/dietpi-software.html```
🈯️ https://dietpi.com/phpbb/viewtopic.php?f=8&t=5&start=130#p13704

[2018-08-09 10:39] Fourdee commented on #1985
@MichaIng

Yep, its "pot luck" on the jobs vs cores. I managed to get my Ryzen running 3 jobs with 2 cores each.
- Capped at 2.8GHz (running at 40'c and 21Watt)
![image](https://user-images.githubusercontent.com/7077026/43894019-c8130a08-9bc8-11e8-9d7b-894d9dd2fa8f.png)

[2018-08-09 10:49] Fourdee commented on #1985
@MichaIng

Testing passed my end. I believe we can mark this as completed?

[2018-08-09 11:10] MichaIng commented on #1985
@Fourdee
I will do another test on my 3 VMs, then mark as closed, if passed.
__________
I think I have to check what "base credit" vs "estimated credits" mean. The last job had 1850 (or something) base credits, but in the end ~4500 estimated credits. But the points assigned were "just" 1850.
_________
Testing:
🈯️ Jessie: not supported
🈯️ Stretch: install + reconfigure + restart with current config

[2018-08-09 11:30] Fourdee commented on #1997
@MichaIng

Tests:
- 🈺 PREP install of v6.13 existing DietPi install
-- Hung at install_stage ```-1```. Had to manually login and run ```boot``` script to continue.

[2018-08-09 12:44] Fourdee commented on #1940
[code]
Stuck in loop, asking me for details

```FP_WORK_DIR='/tmp/dietpi-drive_manager'``` Missing:
[code]

Strange, restored backup and re-run, its fine 😕 .

- Restore
- Reboot
- Failed again
[code]

Hmm,

[code]

...
[code]

Requires ```-f``` for ```_``` support
[code]

[2018-08-09 13:22] Fourdee commented on #1940
@MichaIng

Yes does work, minus the ```FP_WORK_DIR``` issue. Will mark this as closed 👍

[2018-08-09 13:22] #1940 closed, assigned to nobody

[2018-08-09 13:22] Fourdee commented on #1940
REF: https://github.com/Fourdee/DietPi/issues/1997

[2018-08-09 13:54] MichaIng commented on #1997
@Fourdee

Try `pgrep -cf 'dietpi-drive_manager`. `-i` is not supported on Jessie, but should also not be needed, `-f` searches the whole process name including path and arguments. With this, `bash /DietPi/dietpi/dietpi-drive_manager` is recognized, even that the base command was just `bash`.

Does not yet explain, why in your case `$FP_WORK_DIR=/tmp/dietpi-drive_manager` got removed, it seems duri

[2018-08-09 14:49] MichaIng opened #1999 "Sonarr | Reckeck install after user change"
Ref: EDIT: REMOVED OBSOLETE LINK

There were some more reports about wrong permissions, we need to review what might going wrong when updating existing installs.

Radarr: EDIT: REMOVED OBSOLETE LINK

Radarr/Sonarr + Samba: EDIT: REMOVED OBSOLETE LINK
EDIT: REMOVED OBSOLETE LINK

Sonar config dir: EDIT: REMOVED OBSOLETE LINK

[2018-08-09 15:08] userdeveloper98 commented on #1827
Sorry for delay, new version:

[v1.0.3-SNAPSHOT](https://files.fm/u/4dgzrpnq)
- Opted in/out users chart

[2018-08-09 20:50] MichaIng commented on #1999
Okay as long as all directories, where external software needs access as well (Sonarr => Samba|NZBGet) are `chown <user>:dietpi` and `chmod 664` (or better 660?), everything should work fine due to service files are executed as User=<user>; Group=dietpi. This has the same affect, as if the one user is added to the other users group, e.g. "sonarr" being member of "dietpi" group, but just for the se

[2018-08-09 21:41] MichaIng commented on #1999
Copy&Paste about Sonarr + NZBGet:

[2018-08-10 07:12] Fourdee commented on #1997
@MichaIng

Had an idea:
- under ```G_INIT```, use the ```G_PROGRAM_NAME``` (lowercase?) to create ```/tmp/$G_PROGRAM_NAME``` and ```cd``` into it by default for all scripts.
- Then in the scripts, the temp fp and current directory of script is ```/tmp/$G_PROGRAM_NAME```
- We can also check in ```G_INIT``` if the ```/tmp/$G_PROGRAM_NAME``` (and processes as a failsafe?) already exists, in which cas

[2018-08-10 09:51] Fourdee commented on #1997
Spoke too soon. 1 sec

🈺 Issue again once we select "install" during 1st run in ```dietpi-software```
[code]

Either, current directory is not in ```dietpi-software``` and it no longer exists, or, ```dietpi-software``` no longer exists.

Appears dietpi-software dir is removed/not created.
[code]

Is created, but removed straight afterwards
[code]

Cause:
[code]

```G_RUN_CMD``` is fine 🈯️

```diso

[2018-08-10 11:24] Fourdee commented on #1999
@MichaIng

Great work 👍

Seems there is a umask option for NZBget, ~cant find it in config tho, only gui?~
https://forum.nzbget.net/viewtopic.php?t=1263

We can apply umask via config during install 🈯️

[2018-08-10 11:33] Fourdee commented on #1999
@MichaIng

Should be resolved with commit, or, run now with
[code]

umask 0002 == 775
Yet ends up with 113
http://wintelguy.com/umask-calc.pl
[code]

[2018-08-10 11:56] MichaIng commented on #1999
@Fourdee
Jep in forum we also found the umask setting 👍.
Use `G_CONFIG_INJECT` to set it 😃?

[2018-08-10 12:12] Fourdee commented on #1997
@MichaIng

Unsure how to fix this currently, so for now i've reverted the code instead of the below (which causes the issue):
[code]

Any ideas why this is causing ```G_EXIT``` to be triggered ?

[2018-08-10 12:26] MichaIng commented on #1997
@Fourdee
Hmm, jep in case stay with old code. I will test a bid, if `disown` or the failure on `set -o noclobber` is the problem. Interesting that this just occurs on first run setup? Are there some of scripts running in background `&`, so that `/tmp/dietpi-process.pid` might exist from one script, while another one tries to create it (and fails due to `set -o noclobber`)? Then this failure could

[2018-08-10 12:27] Fourdee commented on #1827
@userdeveloper98

Awesome, love the addition 👍 Although hate the results lol, only 1/4 opted in ☹️

![image](https://user-images.githubusercontent.com/7077026/43957686-9fb890a4-9ca0-11e8-8a62-a4b4f32ddb25.png)

Ok, give me a few days, will get this put on our dietpi.com server

Setting v6.13 so this doesnt get lost in pile.

[2018-08-10 12:29] Fourdee commented on #1991
I'll mark this as closed as the:
- original issue has now been answered.
- We switched to dietpi user by default: https://github.com/Fourdee/DietPi/commit/bc53c44d81358e4c0a01945c150bd22bdafc0d1e
- Info added to https://dietpi.com/phpbb/viewtopic.php?f=8&t=5&start=10#p56

[2018-08-10 12:29] #1991 closed, assigned to Fourdee

[2018-08-10 12:31] Fourdee commented on #818
No response, unable to replicate, marking as closed. Please reopen if required.

[2018-08-10 12:31] #818 closed, assigned to Fourdee

[2018-08-10 12:32] Fourdee commented on #1985
@MichaIng

Excellent, great work on this 👍

I'll mark this as completed.

[2018-08-10 12:33] Fourdee commented on #1985
@MichaIng

At least in this case the phrase "Points mean prizes" does not apply 🤣

[2018-08-10 12:35] Fourdee commented on #1997
@MichaIng

I managed to get it to occur during ```dietpi-backup 1``` 1st run, after ```G_AGI rsync``` was run, the issue occured.

[2018-08-10 12:36] Fourdee commented on #1812
Waiting for next release of https://github.com/ayufan-rock64/linux-build/releases, then will retest. Moving this to v6.14.

---

Possible failed board, no longer boots, serial + HDMI both dead. Waiting for reply from Pine.

[2018-08-10 12:37] Fourdee commented on #1892
Waiting for next release of https://github.com/ayufan-rock64/linux-build/releases, then will retest. Moving this to v6.14.

[2018-08-10 12:38] Fourdee commented on #1999
@MichaIng

I was planning to, but baby attacked the keyboard, so did it for quickness lol. If i get a chance i'll redo them.

[2018-08-10 12:48] MichaIng commented on #1997
@Fourdee
I remember already another case where I first thought about APT run to be the issue, perhaps internal `systemctl daemon-reload` other other system core services/daemon reload/restart, that this somehow shortly exits and "re-joins" the script execution...
Another testing schedule 😄.

[2018-08-10 12:52] MichaIng commented on #1985
@Fourdee
Last open question:

I just requests via fake mail passkeys for "anonymous" and "Anonymous" and it showed "mail sent..", thus at least at the first stage there seem to be no check for obviously non-individual user names to block passkey request for them.

[2018-08-10 13:09] MichaIng commented on #1827
@userdeveloper98
It does not read v6.9 survey files (with old structure, see OT), right? Would be also okay for me. I watch 0-5 of them being updated every day, but believe that most are not active any more.

However the opt out/in balance is quite different: https://dietpi.com/survey/

Total user count | 16922
---- | -----
Users opted in | 5974
Users opted out | 10948

Did you check, that `Opted

[2018-08-10 13:20] Fourdee commented on #1999
@MichaIng

I've been running Sonarr for a few weeks, seems fine:
[code]

I also tested for reinstalls.

Sounds to me like the service has not been updated, failed reinstall?

[2018-08-10 13:58] redone101 commented on #1991
Hello,
thank you for your replies and sorry for the late response.
The workaround with smbpasswd command works for me (yay) !
Even if i add a new user, i can still access the sambashare, as long as i use smbpasswd command for that user.
The confusing thing for me was, that i didn't have to do that in the previous dietpi-version (Jessie).
Therefor i didn't come up with the idea, to try the smbpassw

[2018-08-10 14:01] MichaIng commented on #1997
[code]
🈯️ `noclobber` error and APT install does not trigger EXIT trap. It is also not used by background processes, with and without `disown`. Just main script exit triggers the trap.
🈯️ Also killing the background process from main script does not trigger EXIT trap.

[2018-08-10 14:10] MichaIng commented on #1999
@Fourdee
So in your case the data dir was ~/.config/nzbdrone as well first and successfully moved with dietpi-update?

I will ask user to try manually overwriting with new service and see if then the new data dir is used.
**€: Ah you are already in 👍.**

[2018-08-10 14:38] MichaIng commented on #1997
Other not necessarily related fix: https://github.com/Fourdee/DietPi/commit/ddda020ee1f39fd72fbd05ad54c897fb86b292e2
As `/tmp/dietpi-drive_manager_selmnt` is read by parent scripts, e.g. dietpi-software userdata mount list selection.

[2018-08-10 14:48] MichaIng commented on #1997
@Fourdee
First run setup:
- I believe first run update is the issue: https://github.com/Fourdee/DietPi/blob/testing/dietpi/dietpi-software#L14592
- It runs dietpi-software for reinstall, nested, after exit removes /tmp/DietPi-Software.
- Related errors then show up the first time, when next subscript (dietpi-set_software passwords) is executed, as for subscript/-shell bash want's to submit cwd, wh

[2018-08-11 01:34] bb30994 commented on #1985
At the beginning of FAH's log, you'll find a summary of the hardware it detects.  It won't use threads that it can't detect.

I've never run on a SBC, so I don't know what that detection summary is going to show.

Checkpoints for CPU work are written (by default) every 15 minutes.  Pausing a WU will cause progress to back up to the most recent checkpoint.  The "idle" setting pauses the WU when it

[2018-08-11 02:30] bb30994 commented on #1985
If we use "DietPi" without passkey, theoretically someone could request a passkey for this, which would break our default config. Either we need to create a passkey our side or we need to use a user name, where no passkey can be requested for. Found "anonymous" e.g. to be default on Windows client, maybe for this one it's the case.

Right.  See my last item above.

[2018-08-11 09:46] MichaIng commented on #1985
@bb30994
Nice, many thanks for your explanations 👍.

Ahh okay, this explains why I so far just got the "Base Credit" for each job. Some link/hint about this within the clients/UI could help to avoid confusion about his, but anyway collecting points is a minor issue here 😉.

Jep, agree now. Next job here, again all 4 cores in use. Wouldn't make sense to split it up. I just wonder, as the first two

[2018-08-11 10:45] MichaIng opened #2001 "DietPi-Drive_Manager | Add support for hdparm idle spindown, as, a global option for all drives"
Ref: https://dietpi.com/phpbb/viewtopic.php?f=9&t=4382
Man: https://manpages.debian.org/stretch/hdparm/hdparm.8.en.html

- We just apply settings to `/dev/sda`. Maybe we should move this to drive manager, automatically applying/adding an entry for each /dev/sdX drive fount?
- Adding entries then as one-liner should be possible: `/dev/sda { spindown_time = 120; apm = 254 }` and with this enabling s

[2018-08-11 12:31] MichaIng commented on #1908
Information/warning added to dietpi-letsencrypt: https://github.com/Fourdee/DietPi/pull/2002

I will mark this as closed, further discussion in case within the PR.

[2018-08-11 12:31] #1908 closed, assigned to nobody

[2018-08-11 12:45] MichaIng commented on #1696
PR up: https://github.com/Fourdee/DietPi/pull/2003
@Fourdee  I just added the Pi-hol testing branch you created as a start.

[2018-08-11 12:57] MichaIng commented on #1985
Something like this would be great:
[code]
Maybe as well possible via FAHClient argument?

[2018-08-11 18:25] MichaIng commented on #2001
Indeed apm = 127 seems to solve it.

[2018-08-11 19:27] Fourdee commented on #1999
@MichaIng

Yep, tested the patch for existing installs prior to v6.12 release, was fine. We'll need to see what user response is, need more info.

[2018-08-11 19:35] Fourdee commented on #1997
@MichaIng

Yep, big job.

Ok, I think for now (as we have other tickets that need addressing, eg: Pi-hole etc). We should simply disable the ```rm /tmp/$G_PROGRAM_NAME``` from ```G_EXIT```. Until such a time as we can resolve/prevent cross running of DietPi scripts (which is currently how it was designed to run, where functions related to the script and contained within it, can be run from another

[2018-08-11 19:57] MichaIng commented on #1997
@Fourdee
Agree, so for release disable the concurrency check.

We do not need to completely remove cross running scripts. It should just go in one direction (e.g. dietpi-* => funcs/*) and loops should be avoided. The last urgent case that I found is dietpi-software (first run) => dietpi-update => dietpi-software. We could add a check or special variable/flag export or simply check for the existing

[2018-08-11 20:00] Fourdee commented on #1997
Yep 👍

This can be used, same effect as file check on .installed (does not exist when install stage = 0, 1st run setup)
[code]

[2018-08-11 20:49] Fourdee commented on #1997
Hmm unsure, this really does need to be resolved now, else I feel it will never get resolved.

Apologies for being indecisive, not enough coffee in my system yet.

Ok, i'am going to run some tests over next few days (release will have to wait), and try to fix the situations where we have dupe scripts running.

From what I can see, dietpi-software > dietpi-update > dietpi-software should now be fix

[2018-08-11 21:19] Fourdee commented on #1696
Testing:
- 🈴 Automated install | Still prompts for user inputs
-- options exists: https://github.com/pi-hole/pi-hole/blob/master/automated%20install/basic-install.sh#L92
-- Setupvars does not exist at this stage: https://github.com/pi-hole/pi-hole/blob/master/automated%20install/basic-install.sh#L2344-L2346
-- installer provides exit code of ```5``` after
[code]

[2018-08-11 21:25] MichaIng commented on #1997
@Fourdee
Jep, setpermissions move to set_software also makes sense to be more safe here 👍.

So finally `dietpi/dietpi-*` are frontend scripts with user interface and alias (+boot/postboot/login, which can never be called from other scripts),
`dietpi/func/dietpi-*` are backend scripts without UI.

Usually frontend scripts call backend scripts, but not the other way round. Frontend scripts may call

[2018-08-11 21:43] MichaIng commented on #1696
@Fourdee
The setupVars file indeed needs to exist: https://github.com/pi-hole/pi-hole/blob/master/automated%20install/basic-install.sh#L2343-L2355
`$useUpdateVars` is then used as interactive/non-interactive flag.

Even creating this with reasonable default values should lead to broken install. Some steps are intended to be done interactively one time: https://github.com/pi-hole/pi-hole/blob/maste

[2018-08-11 21:48] Fourdee commented on #1696
@MichaIng

Yep agree 👍

EDIT: it was all working after I sent Pi-hole PR, however, somethings been changed and/or was no longer viable from their end.

---

[code]

[2018-08-12 08:07] userdeveloper98 commented on #1827
@MichaIng
Give me an example of  v6.9 survey file and I'll tell  @Fourdee how to update template file, it will be readable instantly, the balance will be restored :). We will no longer consider 6.9 files as opted-out.

Regarding software mapping, I will prepare a new release which will support multiple versions of index-to-title mappings so it will become generic as well. We will be able to 'decry

[2018-08-12 10:16] MichaIng commented on #1827
@userdeveloper98
[code]
For the last: `aSOFTWARE_INSTALL_STATE[<softwareIndex>]=2` right?
`aSOFTWARE_INSTALL_STATE[<softwareIndex6_9>]=2` as of discussion above?
______
Tiny fix to avoid empty broken software index entries: https://github.com/Fourdee/DietPi/commit/e91de4906b4a977744a4fb2405029dd03b3f4808

[2018-08-12 11:12] MichaIng opened #2004 "DietPi-Update | GitHub update archive currently not available"
https://github.com/Fourdee/DietPi/archive/testing.zip

I currently get error "502: Failure", thus update breaks. But this only affects non-master branch updates, as master branch will be downloaded from dietpi.com, luckily 😉.

[2018-08-12 12:33] Fourdee commented on #2004
@MichaIng

Working fine here:
[code]

Could be:
- flooding prevention (eg: you've downloaded that file too many times). Refresh router IP from ISP.
- Gateway issue, router/ISP/DNS playing up?

[2018-08-12 12:35] MichaIng commented on #2004
@Fourdee
Jep, also worked here now. Temporary issue. As G_CHECK_URL does not fail, good that we use dietpi.com for master branch update as first attempt.

[2018-08-12 12:35] #2004 closed, assigned to nobody

[2018-08-12 14:24] Fourdee commented on #1827
Service:
[code]

Config changes for webserver
[code]

[2018-08-12 14:35] Fourdee commented on #1827
Ok its loading, taking a while.

[2018-08-12 15:06] Fourdee commented on #1985
Reference:

I tried setting
[code]

[code]

Still using 1 thread/core.

[code]

[2018-08-12 15:09] Fourdee commented on #1985
Ok, as this is now completed, i'll mark as closed. Please reopen if required.

[2018-08-12 15:29] Fourdee commented on #1997
Ok, as it stands this is fully working and no issues in my testing.

I'll mark this as completed.

I have not reverted to https://github.com/Fourdee/DietPi/issues/1997#issuecomment-412091475. As that will require additional re-testing which I lack time for currently.

[2018-08-12 15:29] #1997 closed, assigned to Fourdee, MichaIng

[2018-08-12 15:42] MichaIng commented on #1985
@Fourdee
What you think about creating a passkey for our default user "DietPi"? In case should be done with dietpi.com mail.

[2018-08-12 15:46] Fourdee commented on #1985
@MichaIng

Yep, can do:
[code]

via daniel.knight@dietpi.com

[2018-08-12 15:52] Fourdee commented on #1985
🈯️ Tested install, working fine with key. Marking as closed.

Interesting, estimated points went up from 1800 to 1950 for existing task 🥂

[2018-08-12 15:52] #1985 closed, assigned to nobody

[2018-08-12 16:19] Fourdee commented on #1696
Notes:
- 🈯️ ```lighttpd.conf``` appears unchanged
- 🈴 Blocking page not active ```/html/pihole/blockingpage.css```
- 🈴 ```pihole-FTL.service``` does not start automatically during boot, even though its enabled and ```dietpi-services``` has no control over it.
-- due to
[code]
-- Should really be systemD service with bash external script, but, to support systems without syslog:
[code]

[2018-08-12 18:06] userdeveloper98 commented on #1827
@Fourdee  @MichaIng
Thanks a lot for the help :+1:
This is how the template should look like now, based on the example of 6.9 survey file.
Software titles for 6.9 will be ignored until we will finish the index-to-title mapping.

[code]
Please notice that on updating the `surveyTemplate.properties` file, application will reboot itself and rescan everything from scrach.
This is needed in order to re

[2018-08-12 20:07] Fourdee commented on #1827
Hmm, not sure whats going on here, will take a look tomorrow. Appears to be running?
http://dietpi.com:8888/
![image](https://user-images.githubusercontent.com/7077026/44005937-96af4b4a-9e73-11e8-8fdf-0b3808d71e23.png)

[code]

Or, it simply isn't able to catch up with the changed survey files. I'am yet to see "WebGUI online" message as previously.
Been running for 5 hours.

[2018-08-13 04:48] g-provost commented on #1956
@MichaIng Can you elaborate on the aspects of the Armbian builds that don't fit to make it a baseline for DietPi ? This could help.

Because the following statement when we are talking about Arm SBC is not really helping / encouraging.

[2018-08-13 07:24] userdeveloper98 commented on #1827
@Fourdee
I can see http://dietpi.com:8888/survey, seems to work fine 👍  🎆
Any errors in logs?
Can you upload full app logs somewhere?

[2018-08-13 11:54] MichaIng commented on #1818
@Fourdee
Let's move to v6.14.
This is no urgent thing and if release, it should be more than XU4-only 😉. Initial branch is still in place, so we can re-add it at any time.

[2018-08-13 12:36] #1767 closed, assigned to nobody

[2018-08-13 13:02] Fourdee commented on #1827
@userdeveloper98

http://dietpi.com:8888/survey 👍 working great.

Can you upload full app logs somewhere?

Using systemD for logging, so its been cropped, will need to tweak service and rerun, leave it with me.

[2018-08-13 14:09] MichaIng commented on #1696
@Fourdee
For blocking page, we could implement some of Pi-hole specific Lighttpd settings, but into separate config file of course: https://github.com/pi-hole/pi-hole/blob/master/advanced/lighttpd.conf.debian

`server.error-handler-404    = "pihole/index.php"` need to be `"html/pihole/index.php"` in our case.

The /admin/ specific config could/should be added as well, `"mod_setenv",` needed then.

[2018-08-13 16:02] Valdhor opened #2006 "Plex | Fails to install when Mono is already installed"
#### Details:
- Date           | Mon 13 Aug 11:57:46 EDT 2018
- Bug report     | N/A
- DietPi version | v6.12
- Img creator    | DietPi Core Team
- Pre-image      | Meveric
- SBC device     | Odroid C2 (aarch64) (index=12)
- Kernel version | #1 SMP PREEMPT Wed Apr 18 16:59:34 CEST 2018
- Distro         | stretch (index=4)
- Command        | Connection test: dietpi.com
- Exit code      | 4
- Softwa

[2018-08-13 16:13] Fourdee commented on #1696
Ok, I'll create a new ticket for adding blocking page support, will take some time and is holding v6.13 release up.
https://github.com/Fourdee/DietPi/issues/2007

I'll try and resolve the service not starting during boot.

Patch wise for this, users will most likely need to uninstall, then install. To remove dnsmasq and switch to new system.

[2018-08-13 16:14] Fourdee opened #2007 "DietPi-Software | Pi-hole: Add support for blocking page"
- At webserver conf level?
- Also outstanding issue with service not starting during boot, workaround has been applied to v6.13.

[2018-08-13 16:31] Fourdee commented on #1696
Completed (for now).

[2018-08-13 16:31] #1696 closed, assigned to Fourdee, k-plan, MichaIng

[2018-08-13 16:37] Fourdee commented on #2006
@Valdhor

Hi, thanks for the report 👍

Appears to be online at the moment.

Please can you try the following, and paste results?
[code]

[2018-08-13 16:58] Valdhor commented on #2006
This killed dietpi altogether (Just got "host is down" every time I tried to ssh in) and I had to reflash the card. Note that this Odroid C2 does not have WIFI and is directly connected to the router via ethernet. It has just completed initial software setup after reflash.

`root@DietPi:~# G_CHECK_URL http://dietpi.com
[  OK  ] Root access verified.
[  OK  ] Connection test: http://dietpi.com
root

[2018-08-13 16:59] Valdhor commented on #2006
Hit wrong button

[2018-08-13 17:20] Fourdee commented on #2006
@Valdhor

Power supply used on the device? Voltage/Amperage and make?

[2018-08-13 17:21] Fourdee commented on #2006
@Valdhor

Also check for any eth errors, please paste results:
[code]

[2018-08-13 17:40] Valdhor commented on #2006
Ordered from Ameridroid when I ordered the C2 - https://ameridroid.com/products/5v-2a-power-supply 5V/2A. Generic Chinese.

[2018-08-13 17:41] Valdhor commented on #2006
root@DietPi: # dmesg | grep eth
[    0.000000] psci: probing for conduit method from DT.
[    0.498155] eth0: PHY ID 001cc916 at 0 IRQ POLL (stmmac-0:00) active
[    0.498166] eth0: PHY ID 001cc916 at 7 IRQ POLL (stmmac-0:07)
[    0.498563] usbcore: registered new interface driver cdc_ether
[    4.285129] eth0: device MAC address 00:1e:06:34:53:1f
[    8.363271] stmmaceth c9410000.ethernet eth0: L

[2018-08-13 17:43] Valdhor commented on #2006
New error while trying to install Plex:

#### Details:
- Date           | Mon 13 Aug 18:40:38 BST 2018
- Bug report     | N/A
- DietPi version | v6.12
- Img creator    | DietPi Core Team
- Pre-image      | Meveric
- SBC device     | Odroid C2 (aarch64) (index=12)
- Kernel version | #1 SMP PREEMPT Wed Apr 18 16:59:34 CEST 2018
- Distro         | stretch (index=4)
- Command        | G_AGI: binutils:

[2018-08-13 17:44] Valdhor commented on #2006
Already installed:
[ SUB1 ] DietPi-Services > stop
[  OK  ] DietPi-Services | stop : cron
[  OK  ] DietPi-Services | stop : sonarr
[  OK  ] DietPi-Services | stop : jackett
[  OK  ] DietPi-Services | stop : couchpotato
[  OK  ] DietPi-Services | stop : sabnzbd
[  OK  ] DietPi-Services | stop : proftpd

[2018-08-13 17:47] Valdhor commented on #2006
Boot media is Sandisk Extreme 16GB

[2018-08-13 18:10] Fourdee commented on #1999
No response from user and unable to replicate, marking as closed.

[2018-08-13 18:10] #1999 closed, assigned to MichaIng

[2018-08-13 18:12] Fourdee commented on #1760
No response, unable to replicate, marking as closed.

[2018-08-13 18:12] #1760 closed, assigned to Fourdee

[2018-08-13 18:15] MichaIng commented on #2007
Quick fix attempt to symlink either
- `ln -sf /var/www/html/pihole /var/www/pihole` (to have correct subfolder to webroot relative paths)

or
- `ln -sf /var/www/html/pihole/index.php /var/www/index.php`
and maybe needed `ln -s /var/www/html/pihole/blockingpage.css /var/www/blockingpage.css`

as without further configuration, blocks are redirected to webroot and this is finally the same that we did

[2018-08-13 18:17] Fourdee commented on #2006
@Valdhor

Thanks for the info. Trying to replicate your installation now.

In the mean time, please run and paste results of:
[code]

[2018-08-13 18:35] Valdhor commented on #2006
root@DietPi:# apt-mark showhold
root@DietPi:# apt-get install -f
Reading package lists... Done
Building dependency tree
Reading state information... Done
0 upgraded, 0 newly installed, 0 to remove and 0 not upgraded.
root@DietPi:~# apt-get install -y binutils:armhf plexmediaserver-installer:armhf
Reading package lists... Done
Building dependency tree
Reading state information... Done
Some packages

[2018-08-13 18:56] MichaIng opened #2008 "RPi Zero W | boot loop"
Ref: https://dietpi.com/phpbb/viewtopic.php?f=11&t=4346

<s>Maybe some firmware related issue, needs replication.</s>
Obviously not related to RPi webcam, also appears with just RealVNC. Perhaps some dependency of both... Hmm there are non... desktop vs webserver dependency.

Perhaps hardware related.

[2018-08-13 20:32] Fourdee commented on #2006
@Valdhor

Thanks, I was able to replicate via local testing, leave it with us, we'll try and resolve and provide a solution.

Testing notes:
[code]

Appears it requires the armhf of mono?

[code]

[code]

🈯️
[code]

🈴 binutils:armhf is issue when mono is also installed
[code]

[2018-08-13 20:44] Fourdee commented on #2006
Note to self:
Fresh install testing required without ```binutils:armhf```. Must be a reason why we added it in the 1st place.

[2018-08-13 20:45] Fourdee commented on #2006
@Valdhor

Should have a fix tomorrow, please check back then 😃

[2018-08-14 10:45] Fourdee commented on #2006
Hangs on "Add media library":
[code]

[2018-08-14 11:03] okoestner commented on #368
There should be some kind of file like dietpi.txt that will be used during boot to connect to any of the WiFis configured in that specific file. Not only during initial setup of the RasPi.

[2018-08-14 11:25] MichaIng commented on #2007
@Fourdee
Okay made some test, although without internet for my VM, as I am currently not at home.

Pi-hole starts now automatically. The only thing I did additionally was `systemctl enable pihole-FTL` (systemd-sysv forward), maybe somehow that is missing during install steps? I remember an error message on gravity step, that you faced on test, maybe that led to service being/staying disabled?

Abo

[2018-08-14 11:43] Fourdee commented on #2006
Install tests:
- 🈯️ With mono pre-installed and the same applications as per @Valdhor
- 🈯️ Fresh install without mono

[2018-08-14 11:44] Fourdee commented on #2006
@Valdhor

Plex install is fixed in v6.13, it will be released today. After updating your version of DietPi, simply install plex with:
[code]

If problems persist with ethernet, please:
- Try another ethernet cable
- Verify attached USB devices/drives do not exceed a total of 1A
- Reboot router

Failing that, please open a new ticket regarding the networking issue.

[2018-08-14 11:44] #2006 closed, assigned to Fourdee

[2018-08-14 12:06] Fourdee opened #2010 "Update VM/RPi/Sparky images"

[2018-08-14 12:15] MichaIng commented on #2010
Makes sense, I will also update the pending VM image once v6.13 release.

[2018-08-14 12:18] MichaIng commented on #1933
Seems to be fixed with client version 2.5 (not yet released).
2.5 progress: https://github.com/nextcloud/desktop/projects/1

However I mark this topic as closed, as it's external and solved for next release.

€: Hmm, just tested current 2.5 daily. There is no such link any more. The client connects directly to Nextcloud via internal browser and allows to alternatively enter app token. But no link

[2018-08-14 12:27] Fourdee commented on #2007
@MichaIng

Legend, works a treat 👍

Blocking page with symlink does not work for me on lighttpd:
![image](https://user-images.githubusercontent.com/7077026/44091493-8316c0c4-9fc5-11e8-97c5-92007a8d0d77.png)
[code]

[2018-08-14 13:28] Fourdee commented on #1827
@userdeveloper98

👍 👍

[2018-08-14 14:27] MichaIng commented on #2007
@Fourdee

Strange, will retest with web access. Can't be that hard.

So issue not yet resolved right? I reopen for v6.14

[2018-08-14 14:33] Phil1988 commented on #1829
Can someone explain why this SOC has a lower CPU rating than the "disannounced" Odroid N1 as they both have the same CPU?

[2018-08-14 16:21] Valdhor commented on #2006
Thank you sir for the fast diagnosis and fix.

[2018-08-14 16:28] Valdhor commented on #2006
I thought this may have had something to do with the external USB drive I have. This would normally mount at a point with a whole string of letters and numbers. I wanted it to mount somewhere I could remember. After initial startup (Before installing any software) I would use vi to change /etc/fstab to a new mount point (I would create a new directory first in /mnt):

root@DietPi:# cd /mnt
root@Di

[2018-08-14 18:37] fmuntean opened #2012 "can't upgrade nodejs"
--------------------------------------------------------------------
- DietPi has encounted an error, and, is unable to continue        -
- Please create a ticket: https://github.com/Fourdee/DietPi/issues -
- Copy and paste the BLUE lines below, into the ticket             -
--------------------------------------------------------------------

#### Details:
- Date           | Tue 14 Aug 14:36:10 E

[2018-08-14 19:22] MichaIng commented on #2012
@fmuntean
Thanks for your report.

Ui, you did not update DietPi for some versions right? And seems the Raspbian repo maintainers did not fix their careless `sources.list` adjustment...

Please do the following to fix:
`sed -i 's|www.mirrorservice.org/sites/||g' /etc/apt/sources.list`

[2018-08-14 21:17] MichaIng commented on #2007
Okay, long testing up and down.

🈯️ Enabling blocking page from Pi-hole system, starting from our install (with Lighttpd):
[code]
Now accessing a blocked page, shows the new blocking page.
- Default Pi-hole install does not contain any index page within webroot (/var/www/html), instead just admin/ and pihole/ folders.
- Without index page available, server answers with 403, however [server.error-h

[2018-08-14 23:15] MichaIng opened #2013 "DietPi-Drive_Manager | Allow custom bind and tmpfs mounts"
## Creating a feature request:

#### Reference
- https://dietpi.com/phpbb/viewtopic.php?f=11&t=4405

#### Is your feature request related to a problem? Please describe:

- When users create custom bind or tmpfs mounts, next DietPi-Drive_Manager call removes them from fstab.

#### Describe the solution you'd like:

- Allow custom entries, e.g. scrape them and readd or allow adding custom entries vi

[2018-08-15 00:22] fmuntean commented on #2012
I am using:
───────────────────────────────────────
 DietPi     | 20:20 | Tue 14/08/18
 ───────────────────────────────────────
 v6.13      | RPi Zero (armv6l)
 ───────────────────────────────────────
I have run the command and I still get following errors:

pi@DietPi:~ $ sudo apt-get update
Ign:1 http://download.webmin.com/download/repository sarge InRelease
Err:2 https://raspbian.raspberrypi.org

[2018-08-15 00:23] fmuntean commented on #2012
running DietPI update gives me this:

 DietPi-Update
─────────────────────────────────────────────────────
 Mode: Checking for DietPi updates

[ INFO ] DietPi-Update | Checking Mirror : https://dietpi.com/downloads/dietpi-update_mirror/master/server_version-6
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spe

[2018-08-15 00:25] MichaIng commented on #2012
@fmuntean
Ah sorry, forgot that raspbian.raspberrypi.org is not available via HTTPS. Please try:
`sed -i 's|https://raspbian.raspberrypi.org|http://raspbian.raspberrypi.org|g' /etc/apt/sources.list`
Then it should work.

[2018-08-15 00:31] fmuntean commented on #2012
Thank You for your fast help.
This fixed the apt-get update issue.

[2018-08-15 00:31] #2012 closed, assigned to nobody

[2018-08-15 12:37] Fourdee commented on #2013
```bind``` scrape and re-dump into ```fstab``` is a little risky, could pull in unintentional mounts with ```bind``` in the name. Although, cant see another way currently
https://serverfault.com/questions/613179/how-do-i-do-mount-bind-in-etc-fstab

```tmpfs``` scrape and dump should be fine ~if we exclude ```/DietPi /tmp /var/log```, else PREP will not generate the entry.~

[2018-08-15 14:20] MichaIng commented on #2013
@Fourdee
Eg: `/mount/source /mount/target none defaults,bind 0 0`

`awk '{print $4}' | grep -q '[[:blank:],]bind[[:blank:],]'` should work reliably?

[2018-08-15 16:30] Fourdee commented on #2013
@MichaIng

Legend, works a charm 👍

[code]

[2018-08-15 16:33] Fourdee commented on #2013
I believe for our current user base, we should not allow tmpfs/bind entries to be listed in main menu, or, allow for additions/removal.

Leave this down to manual ```/etc/fstab``` via advanced users.

[2018-08-15 16:35] Fourdee commented on #2013
Passed testing, marking as completed.

Nice one @MichaIng with https://github.com/Fourdee/DietPi/issues/2013#issuecomment-413212699 👍

[2018-08-15 21:24] carlosedp commented on #1986
@Fourdee I reflashed my board and found a problem with the provided package. Android Flash Tool gave me an error where the rootfs could not be flashed. I unpacked the rootfs.img with the imgRePackerRK utility and flashed the generated rootfs.img.iso successfully.

[code]

[2018-08-16 04:39] nnovaes commented on #1985
Thanks all for your efforts! Hopefully the community here will engage on this and dedicate a few clocks to this project. My Dietpi 6.13 is up and running and proudly folding on Dietpi's team behalf.

[2018-08-16 11:07] Fourdee commented on #1829
@Phil1988

At a guess:
- Reduce heat for passive supplied sink (Odroid N1 = active fan + heatsink)
- Reduce power consumption to allow for 12V 2A rated PSU
- Onboard components not rated for the higher power usage of running at full rated clocks

I'd imagine its a heat related limitation with provided heatsink.

[2018-08-16 11:35] Fourdee opened #2014 "Update Allo GUI images"

[2018-08-16 11:39] Fourdee commented on #2014
ntp does not exist on latest image:
[code]

Pending user reply we'll patch removal again for ntp in v6.14

[2018-08-16 11:48] Fourdee commented on #2014
```fake-hwclock```?
[code]

Sparky, interesting:
[code]

[2018-08-16 12:13] Fourdee commented on #2014
NB:
- Remove BruteFIR due to low install count.

[2018-08-16 13:23] Phil1988 commented on #1829
So you really did compare these two SOCs?

Interessting, because I thaught that the N1, NanoPC T4 and RockPro64 should be pretty identical regarding to CPU performance.

[2018-08-16 13:33] Fourdee commented on #2001
I finally got there with the title lol

[2018-08-16 13:35] Fourdee commented on #2001
Note to self:
- Write new file each time with database of drives?
[code]

Planned options, unique to each drive:
- APM setting
- Spindown time setting

NB: will be a lengthy while process to scrape the above file to obtain current values... Store them in .dietpi-drive_manager?

[2018-08-16 15:14] MichaIng commented on #2010
🈯️ VirtualBox v6.13 image online for testing: https://dietpi.com/downloads/testing/DietPi_VirtualBox-x86_64-Stretch.7z
🈯️ VirtualBox v6.13 Buster experimental image: https://dietpi.com/downloads/testing/DietPi_VirtualBox-x86_64-Buster.7z
- Forgot to change `.version` string in `/boot/dietpi/.version`, thus first run shows v6.12 + update, but since it's a quick patch, no big problem 😉.

🈯️ VMware v

[2018-08-16 16:17] Fourdee commented on #2010
NB: 🈯️ RPi image is already done, did it a few days ago.

[2018-08-16 16:42] Fourdee commented on #1829
@Phil1988

Yep, depends on the max CPU clock, N1 is faster in our tests:
https://github.com/Fourdee/DietPi/issues/1253#issuecomment-346881878

Odroid N1 = 8.5 seconds

[2018-08-16 16:57] carlosedp commented on #1829
Exactly, each board manufacturer(Odroid, Firefly, etc) configure it's clock speeds and voltages on the board DTSs that are compiled with the Kernel. You can in theory change this for the boards to "overclock". Check the kernel source files on `/arch/arm64/boot/dts/rockchip`.

[2018-08-16 17:29] carlosedp opened #2015 "Remove file `/etc/machine-id` from image to be automatically generated on first boot"
Every Linux distribution that uses systemd (DietPi included) contains a file called `/etc/machine-id` that is an hex value to make that install unique.

The current DietPi rootfs has this file already set so all installations have the same value. There are a couple of applications that rely on `/etc/machine-id` to generate it's IDs on a cluster (Weave Net for example) creating a conflict.

It's ne

[2018-08-16 17:39] Fourdee commented on #2015
@carlosedp

Thanks for the request, we'll take a look 👍

We actually use our own generated UUID during 1st run, unique to each device:
https://github.com/Fourdee/DietPi/blob/master/dietpi/func/dietpi-obtain_hw_model#L661-L670

Ah I see, ok we should be able to patch removal of the file during update. I'll send commit and test.

[2018-08-16 17:47] Fourdee commented on #2015
Test removal + reboot
[code]
Reboot:
[code]

🈯️
[code]

[2018-08-16 17:55] Fourdee commented on #2015
Completed. Resolved during v6.14 patch.

Can also be applied now:
[code]

[2018-08-16 17:55] #2015 closed, assigned to nobody

[2018-08-16 18:57] Fourdee commented on #2014
- 🈯️ RPi
- 🈯️ Sparky

[2018-08-16 21:05] carlosedp commented on #2015
Just a question @Fourdee , the solution just remove the files on the first boot right? After this the id must be kept between future reboots.

[2018-08-17 00:31] MichaIng commented on #1996
PR is up <s>and needs testing on all distro + webserver configurations</s>: https://github.com/Fourdee/DietPi/pull/2016
- [x] **€: Testing done** 🈯️
- CLI install, login via `your.domain.org/freshrss`, default user `dietpi`, as well as default password, or the one set in `dietpi.txt`/first run setup.
- Cron job included to update feeds every 30 minutes
- MySQL database, as this is the recommended

[2018-08-17 06:13] AKonstantin1337 opened #2017 "Date being rolled back after NTP removal."
#### Details:
- Date           | Thu  3 Nov 17:17:42 GMT 2016
- Bug report     | N/A
- DietPi version | v6.13
- Img creator    | DietPi Core Team
- Pre-image      | Meveric
- SBC device     | Odroid XU3/XU4/HC1/HC2 (armv7l) (index=11)
- Kernel version | #1 SMP PREEMPT Thu Apr 5 12:46:33 UTC 2018
- Distro         | stretch (index=4)
- Command        | Connection test: https://deb.debian.org/debian/

[2018-08-17 07:20] Phil1988 commented on #1829
Thank you guys for clarifying this and the deeper insight.
I have no need for overclocking as I dont have any of these SOCs but as my linux SOCs are always too slow (Pi 2, Pi 3, Pi 3B+, Odroid C2) for a NextCloud usage I had a look at the fastes "cheap-ish" boards out there ... and this is where I got some attention on N1, RockPro64 and NanoPC-T4.

Ended up buying a HP Compaq 8300 Elite (i5-3470S

[2018-08-17 13:06] Fourdee commented on #2014
🈯️ confirmed ```ntp``` package on Allo image, waiting for image version check, before we patch:
https://community.roonlabs.com/t/dietpi-update-6-7-6-11-fails-on-sparky-usbridge/45721/42?u=dan_knight

[2018-08-17 13:26] Fourdee commented on #2015
@carlosedp

Ok, as we did not set unique codes for each install originally:
- Pre v6.14 DietPi.img = new code will be generated during v6.14 update
- v6.14 images and above = new code will be generated during 1st run of DietPi during the last of the pre-boot stages.

[2018-08-17 15:42] Fourdee commented on #2017
@AKonstantin1337

Thanks for the report 👍

Please check the date on system:
[code]

This will occur if timesync is not successful.

To resolve, simply set the date, then during DietPi update, the new timesync system will be enabled:
[code]

Then re-run dietpi-software to resume setup:
[code]

[2018-08-17 16:19] Fourdee commented on #2001
```hdparm``` has a max duration of:
[code]

---

APM

$NF and check valid int
[code]

[2018-08-17 16:23] Fourdee commented on #2010
@MichaIng

Thanks Micha 👍 , i've set all images live.

Will test buster images when I can, hopefully over weekend.

[2018-08-17 16:24] Fourdee commented on #2010
🈯️ Sparky

[2018-08-17 21:35] cosmicstorm27 opened #2018 "Please Help"
--------------------------------------------------------------------
- DietPi has encounted an error, and, is unable to continue        -
- Please create a ticket: https://github.com/Fourdee/DietPi/issues -
- Copy and paste the BLUE lines below, into the ticket             -
--------------------------------------------------------------------

#### Details:
- Date           | Fri 17 Aug 23:38:27 A

[2018-08-18 07:28] msdos opened #2019 "DietPi-Software | tinyMediaManager"
## Creating a software request:
#### Vote for it on FeatHub: https://feathub.com/MichaIng/DietPi/+12

#### Give us some formal software information:
- Software title | tinyMediaManager
- Short description | A multi-OS media managment tool
- GitHub URL (if available) | https://github.com/tinyMediaManager/tinyMediaManager
- External URL (if available) | https://www.tinymediamanager.org
- (Official)

[2018-08-18 12:12] MichaIng commented on #2019
@msdos
Thanks for your request.

Java 8 is fine, we use the same as default on DietPi already, since java 10 is not yet supported by all 3rd party software.

Usually the .config location can be moved to a chosen one via systemd unit WorkingDirectory value. Eg. we could move all, data and install dir to /mnt/dietpi_userdata/

[2018-08-18 12:46] userdeveloper98 commented on #1827
Hi @Fourdee  @MichaIng

[v1.0.4-RELEASE](https://files.fm/u/42ervyuk)
- LastUpdate.
![lastupdate_](https://user-images.githubusercontent.com/31038199/44299334-7993fc80-a2fc-11e8-8166-a666880a8185.png)
- Hidden current active users. Max active users from last startup.
![active_](https://user-images.githubusercontent.com/31038199/44299344-9defd900-a2fc-11e8-83da-20fd75c5f8d3.png)
- Performance impro

[2018-08-18 13:35] gade-raghav commented on #1012
use the following command.
sudo ping "your ip addr or host name"

[2018-08-18 17:20] adamotte commented on #806
Can you update the image based on lastest version v2.0.7 - Debian stretch based. 2018/06/22 ?
Thanks.

[2018-08-18 18:59] msdos commented on #2019
The last version is in https://release.tinymediamanager.org/dist/tmm_2.9.13_5cfe5d1_linux.tar.gz.

This application has a GUI mode and a commanline interface. All it's configuration parameters are defined in `data/config.xml` so it's a good idea to first execute it in GUI mode to properly configure the xml before using the commandline interface.

When running this application, it creates in it's o

[2018-08-18 19:09] msdos commented on #2019
Creating symbolic links for the subfolders mentioned in https://github.com/Fourdee/DietPi/issues/2019#issuecomment-414079563 **before** running the application works, the application doesn't crash. So if the application is installed in `/opt`, symbolic links can be created to point to `/mnt/dietpi_userdata/` (for example, `/mnt/dietpi_userdata/tinyMediaManager/data`, `/mnt/dietpi_userdata/tinyMedi

[2018-08-18 19:12] carlosedp opened #2020 "Error running dietpi-config first time - "The Certificate has not yet been activated""
I've been facing this problem every time I reflash my test boards. The first run of dietpi-config (or dietpi-software) present me with this error:

[code]

I tried editing the apt sources.list to use the http instead of https mirrors but no success.  Internet connection is Ok and I can run apt-get update / upgrade / install etc normally.

The problem only happens within dietpi apps.

[2018-08-18 19:19] carlosedp commented on #2020
BTW, updating the date to the correct one manually solved the problem. Apparently something wrong with NTP. After reboot the problem returned.

[2018-08-18 21:27] Fourdee commented on #2018
@akidiep

Hi,

Thanks for the report 👍

@MichaIng
Any chance you could take a look at this one please?

[2018-08-18 21:30] Fourdee commented on #2020
@carlosedp

Hi,

Thanks for the report 👍

We've had a few reports of this, i'll try to replicate.

NTP was replaced with systemd-timesyncd system in v6.12 I believe. Once updated, this should provide more stability of timesync.

[2018-08-18 21:33] Fourdee commented on #806
@adamotte

Hi thanks for the request, the current DietPi image uses 2.0.5. I'll flag this for update.

[2018-08-18 22:16] christophernewman opened #2021 "Security Hole: Plaintext Global password saves to dietpi.txt"
## Password Security Hole from boot

#### Required Information:
- DietPi version	| 6.13
- Distro version	| 9.4
- Kernel version	| Linux DietPi 4.14.62-v7+ #1134 SMP Tue Aug 14 17:10:10 BST 2018 armv7l GNU/Linux
- SBC device		| RPi 3 Model B+
- Power supply used | 5V 3A
- SDcard used		|  SanDisk ultra

#### Steps to reproduce:
Simply nano or cat /boot/dietpi.txt

EDIT: This occurs when changing the

[2018-08-18 22:30] Fourdee commented on #2010
@MichaIng

Tested VMWare images, both working great 👍

There is an issue with our survey uploads, fails connection test. It occurred after our host went offline yesterday. However, i'll take a look.

Will mark this as closed. Great work @MichaIng 👍

[2018-08-18 22:30] #2010 closed, assigned to Fourdee

[2018-08-18 22:40] Fourdee commented on #2021
@christophernewman

Thanks for the request. 👍

Generally speaking, to obtain the global password which is used for software installations only, user would need full SSH access to the system via the root/dietpi user password which is prompted to be changed during 1st run.
Outside of that, access to the physical flash media would be required to obtain this information.

Regardless, we'll look into e

[2018-08-18 23:32] Fourdee commented on #2021
Testing:
- 🈯️ Patch testing ```dietpi-update -1```
- 🈯️ Automated install testing on fresh image (pre testing branch)
- 🈯️ Automated install testing on fresh image (post testing branch)
- 🈯️ ```sudo dietpi-software install 96``` samba testing

[2018-08-18 23:46] Fourdee commented on #2018
Confirmed error on testing branch:
- 0 byte file
[code]

![image](https://user-images.githubusercontent.com/7077026/44304060-475cbc00-a349-11e8-9272-623c0262b1ea.png)

Due to?
[code]

[2018-08-18 23:49] cosmicstorm27 commented on #2018
Hi there, already sorted. Thanks for looking at this issue.

[2018-08-19 00:21] Fourdee opened #2022 "DietPi-Survey | SSH key: Change IP to sub domain name (after Cloudflare setup)"
since 10AM on 18th Aug
[code]

[2018-08-19 00:26] Fourdee commented on #2022
Cloudflare issue?
[code]

Via IP:
[code]

[2018-08-19 00:28] Fourdee commented on #2022
[code]

🈯️
[code]

[2018-08-19 00:30] Fourdee commented on #2022
RTFM Fourdee 🤣 :
https://support.cloudflare.com/hc/en-us/articles/200169346-Using-FTP-with-Cloudflare-

Done:
![image](https://user-images.githubusercontent.com/7077026/44304309-86dad680-a350-11e8-9eec-e45f56e589b5.png)

[code]

Waiting for TTL/records/DNS cache to update.

Unable to get this working. Still rejects sftp on both dietpi.com and sftp.dietpi.com.

Will set manual IP for survey uploads

[2018-08-19 01:11] Fourdee commented on #2021
@christophernewman

Resolved and patched during v6.14 update (ETA next week):
https://github.com/Fourdee/DietPi/commit/5ed1c6fc48520ebdbe2b7a370e9ddf7208966750

Passed testing, marking as completed.

[2018-08-19 01:11] #2021 closed, assigned to Fourdee

[2018-08-19 01:20] Fourdee commented on #2022
🈯️ Resolved for v6.14.
[code]

[2018-08-19 01:37] Fourdee commented on #1827
@userdeveloper98

Legend, thank you 👍

Loads up much faster, roughly 10-20 seconds, using ```/var/log/``` under RAMlog for logfile.

Ok, need to change the port our end due to:
https://support.cloudflare.com/hc/en-us/articles/200169156-Which-ports-will-Cloudflare-work-with-

Done 🈯️ | http://dietpi.com:8080/survey

[2018-08-19 02:20] Fourdee commented on #548
CPU freq control for intel:
[code]

[2018-08-19 11:09] MichaIng commented on #2018
@akidiep
Great to here. I guess MariaDB was down, or pdo_mysql PHP module?

@Fourdee
The Nextcloud occ installation must have been failed and thrown an error message.
`Failed loading /usr/lib/php/20151012/opcache.so:  /usr/lib/php/20151012/opcache.so: cannot open shared object file: Permission denied`
- Was this the only error message of that kind? If PHP failed, then the command line install fail

[2018-08-19 11:23] userdeveloper98 commented on #1827
@Fourdee
You can move `dpi.survey.db.directory` to RAM as well to get most of it.
DB file is the most I/O intensive theoretically, and it takes ~20Mb only.

http://dietpi.com:8080/survey works great!
As I can see from the page (Active: [1] Max Active: [21]) we had 21 different users at the same time :+1:
Also, the number of opted-in users has increased from 4k to 6k from the last time I checked it

[2018-08-19 11:45] MichaIng commented on #2021
@Fourdee
Quick cool 😎.

I mean yeah, the global password was really just intended as a first access default for new software. This should then always be changed by user individually for each software, same as login passwords etc. But feels good, if even this first access default is secured.

But to finish it consequently, there need to be done some additional steps:
- We have to go through the ins

[2018-08-19 11:58] MichaIng commented on #1827
@Fourdee @userdeveloper98
Jep, the numbers now match https://dietpi.com/survey/, showing the real opt in/out ratio (with v6.9 included).

Really nice job 👍!!

Perhaps the other data can be presented as charts as well by times, so we can drop the old page completely?

[2018-08-19 13:54] antiabed opened #2023 "IPv6 not working"
## Creating a bug report/issue:

#### Required Information:
- DietPi version	| 6.13
- Distro version	| 9.4
- Kernel version	| `4.14.52-v7+ #1123 SMP Wed Jun 27 17:35:49 BST 2018 armv7l GNU/Linux`
- SBC device		| RPi 3 Model B+ (armv7l)
- Power supply used	| 5V Power supply by raspberrypi.org
- SDcard used		| SanDisk ultra

#### Problem:
1. ping google.com gets a normal reply
2. ping6 google.com ge

[2018-08-19 15:34] Fourdee commented on #1996
- 🈯️ Install test ARMv8 @MichaIng Great work 👍
- 🈯️ Online doc https://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=13918#p13918, NB: I have no experience with RSS, so i've linked the official online documentation for usage information.
- 🈯️ dietpi.com addition

[2018-08-19 16:02] Fourdee commented on #1996
@MichaIng

Legend, works a charm , great work adding this one, thank you 👍

I believe this is now completed? Please close as needed.

[2018-08-19 16:12] Fourdee commented on #1827
@userdeveloper98

Me and you both. Blame the big corporate companies for abusing, selling and profiting from user privacy and big data.

Yep, great work @userdeveloper98!

It would be nice to get everything from https://dietpi.com/survey/ onto this version, then yes, we can replace it.

Ideally, the following items would be my choice for the main page? addition:
- CPU core counts
- Distro versions

[2018-08-19 16:15] MichaIng commented on #1996
@Fourdee
Great, jep can be closed then.

[2018-08-19 16:15] #1996 closed, assigned to MichaIng

[2018-08-19 16:17] Fourdee commented on #1827
@userdeveloper98

Nice 👍
[code]

Might be worth adding "Total views" to this aswell?

DB file is the most I/O intensive theoretically, and it takes ~20Mb only.

I'll see about moving that to ```/tmp``` 😄

[2018-08-19 16:57] Fourdee commented on #2023
@antiabed

Hi,

IPv6 is enabled on all DietPi systems by default:
[code]

To allow for a working IPv6, you need to ensure a IPv6 compatible gateway is used.

[2018-08-19 17:01] antiabed commented on #2023
Hi Dan, thank you for the quick reply. I am no programmer by any stretch and I'm pretty new to this, so how would I go about using an IPv6 compatible gateway? And do you think this might be the source of my unbound DNS not being able to resolve IPv6?

Thanks again!

[2018-08-19 17:08] Fourdee commented on #2018
@MichaIng

Strange, issue occurred on my C2, fine on NanoPC-T4, trying reinstall + test again.

Full log:
[code]

[2018-08-19 17:48] Fourdee commented on #1956
@g-provost

The issue is not the ARMbian build of the image. The issue is with ARMbian themselves in relation to us. We simply cannot work together for a better cause. We've tried, been trolled, had arguments. In a hope to put an end to this, I removed all their images from our lineup.
To reduce friction and pointless childish trolling, we no longer provide their images, or, have anything to do wi

[2018-08-19 17:48] #1956 closed, assigned to nobody

[2018-08-19 18:14] userdeveloper98 commented on #1827
It should be easy, create php/html page and insert there iframe:
[code]
You will open https://dietpi.com/survey/, but the page will contain a frame with http://dietpi.com:8080/survey . kind of redirect but nicer :smile:

Will fix that in the next version

Yep, I was thinking about this also, will add it in the next version.

Yep :smile: , just don't remove it while running :laughing:

Absolutely,

[2018-08-19 19:26] Fourdee commented on #2018
@MichaIng

🈯️ Fresh image install + update to testing is fine

Device hasn't been re-flashed for over 2 months, been using it as a testing system, so non-issue.

Marking as closed, please reopen if required.

[2018-08-19 19:26] #2018 closed, assigned to nobody

[2018-08-19 20:54] msdos opened #2024 "bash: man: command not found"
## Creating a bug report/issue:

#### Required Information:
- DietPi version	| 6.13
- Distro version	| 9.4
- Kernel version	| Linux DietPi 4.14.62-v7+ # 1134 SMP Tue Aug 14 17:10:10 BST 2018 armv7l GNU/Linux
- SBC device		| RPi 3 Model B (armv7l)
- Power supply used	| 5V 2A
- SDcard used		| SanDisk SDHC 16GB

#### Additional Information (if applicable):
- Was the software title installed freshly o

[2018-08-19 21:00] msdos commented on #2024
My bad. This issue can be closed. `man` needs to be installed using `apt`.

But I'll keep this suggestion. And if someone searches for this error using DietPi in the future is still useful.

[2018-08-19 21:00] #2024 closed, assigned to nobody

[2018-08-20 00:12] D4rkSl4ve opened #2025 "Rock64 1.5GHz CPU, not 1.296GHz"
The Rock64 by Pine64.org has a Quad-core Cortex-A53 up to 1.5GHz CPU; as per their Wiki (http://wiki.pine64.org/index.php/ROCK64_Main_Page)

CPU Frequency as per NetData from the DietPi install:
https://i.imgur.com/vniYEaS.jpg

#### Required Information:
- DietPi version	| v6.13
- Distro version	| stretch or 9.5
- Kernel version	| Linux Rock64TorBox 4.4.77-rockchip-ayufan-136 #1 SMP Thu Oct 12 09:

[2018-08-20 07:54] adamotte commented on #806
@Fourdee, Simple question : Does DietPi support the S version (so with the eMMC) or do we need to install it on SD card ?

[2018-08-20 16:33] Fourdee commented on #2025
@D4rkSl4ve

Thanks for the report 👍

The CPU frequency stepping has most likely been tweaked by the kernel creator (4.4.77-rockchip-ayufan-136). Usually, this is for stability reasons.

Regardless, i'll setup a system and verify this is the case.

[2018-08-20 16:38] Fourdee commented on #2020
Ok, i was unable to replicate this issue on my network. However, I believe this is the same issue users have experienced with our previous NTP system (now replaced with systemd-timesyncd on recent images).

In short, until we are able to update our images to v6.12> (to include the above change by default):
**If you experience the above error, manually set the date:**
[code]

Then resume 1st run se

[2018-08-20 16:39] Fourdee opened #2026 "Images | Update all images"
As per:
https://github.com/Fourdee/DietPi/issues/2020

Some users are experiencing this during 1st run, where NTP system fails on their network.

This has been replaced with systemd-timesyncd, which appears more stable and should resolve the above issues. However, all v6.11 or lower images will need updating to have this system by default.

[2018-08-20 16:40] Fourdee commented on #2020
I'll mark this as closed in favor of:
https://github.com/Fourdee/DietPi/issues/2026

[2018-08-20 16:40] #2020 closed, assigned to Fourdee

[2018-08-20 16:44] Fourdee commented on #2026
Completed, and, resolved issues with date:
- 🈯️ RPi
- :u6307: Asus TB
- :u6307: RockPro64
- 🈯️ Odroid C2
- 🈯️ Rock64
- 🈯️ NanoPi K1+
- 🈯️ NanoPi NEO
- 🈯️ NanoPi NEO2
- 🈯️ Sparky SBC
- 🈯️ Odroid XU4
- 🈯️ PineA64
- 🈯️ NanoPi M1
- 🈯️ NanoPi M2
- 🈯️ NanoPi M3

---

x86_64
- 🈯️ VMware Stretch
- 🈯️ VMware Buster
- 🈯️ VB Stretch
- 🈯️ VB Buster

~Should not be affected as HW clock~
https://github.com/Four

[2018-08-20 17:01] Fourdee commented on #1892
Marking as closed in favor of https://github.com/Fourdee/DietPi/issues/1892

[2018-08-20 17:01] #1892 closed, assigned to Fourdee

[2018-08-20 17:02] Fourdee commented on #2026
### Rock64:
- Kernel upgrade test | https://github.com/Fourdee/DietPi/issues/1892
- CPU freq check | https://github.com/Fourdee/DietPi/issues/2025

### NanoPi M1/M1+:
- Use existing RootFS, upgrade kernel to 4.x from official image (which runs jessie)

[2018-08-20 17:02] Fourdee commented on #2025
Marking as closed in favor of:
https://github.com/Fourdee/DietPi/issues/2026#issuecomment-414389675

[2018-08-20 17:02] #2025 closed, assigned to Fourdee

[2018-08-20 17:03] Fourdee commented on #806
@adamotte

Yes it supports S version 👍

Marking as closed in favor of:
https://github.com/Fourdee/DietPi/issues/2026

[2018-08-20 17:03] #806 closed, assigned to Fourdee

[2018-08-20 17:16] Fourdee commented on #2024
@msdos

Hi,

Yes, we remove Manpage from the system during PREP to reduce the size of the image.

Must manually be installed with:
[code]

[2018-08-20 18:21] MichaIng commented on #2026
Actually we switched already to systemd-timesyncd with v6.9.

As time sync should occur on first boot as well before first run update, I am wondering how the error can occur. Maybe something with run_ntpd being called from old dietpi-update but with already new scripts in place. Have to investigate. Hope we can also find a solution for pre v6.9 users, perhaps with a pre-patch that is done before e

[2018-08-20 19:03] Fourdee commented on #548
@MichaIng

GPU is the way to go 🤣
![image](https://user-images.githubusercontent.com/7077026/44360869-15b43400-a4b4-11e8-98d3-012445fc4a74.png)

[2018-08-20 19:20] Fourdee commented on #2026
### ASUS TB | Rock64

---

🈯️ Fixed with commit in this ticket
-  .network is NULL, yet has connection

Driver always reports state unknown:
[code]

---

### ASUS TB 2.0.7

🈴 WiFi can scan, but fails to connect with both DHCP and STATIC. No errors in ```dmesg```

[2018-08-20 19:52] Fourdee commented on #2026
@MichaIng

Yep, it needs resolving. If i can replicate it during image updates, i'll start debugging.

Yeah, but, may as well do the lot while we are here 👍

[2018-08-20 20:34] carlosedp opened #2027 "General | Remove IPv6 disable feature"
I've added some settings to `/etc/sysctl.conf` to disable IPv6. After adding them and running `sysctl -p` the settings are applied correctly but if I reboot these are not applied automatically.

Before:

[code]

[code]

`$ sudo sysctl -p`

Manualy IPv6 is disabled:

[code]

If I reboot, IPv6 is not disabled. I believe this is related to DietPi since I have some stock Debian Stretch installs that t

[2018-08-20 20:36] carlosedp commented on #2027
Also in my install (the Firefly RK3399 board), even if I toggle the IPv6 setting on `dietpi-config` Network Options, it keeps "On".

[2018-08-20 21:50] Fourdee commented on #2026
Simple fix for the date issue?
- on VPS echo date > file
- EMR patch grab file and set date

Ok, Issue occurs on 1st run, prior to patching, with:
[code]
When the date is lower than the cert of the site being checked. This only occured for me, when I manually set the date back a couple of years, even on the v6.0 images. I am unable to replicate a failed timesync as of yet.

Therefore, the EMR patc

[2018-08-20 21:52] MichaIng commented on #2027
@carlosedp
Thanks for your report.

How to toggle IPv6 depends on the board/kernel.

The most effective way to completely disable IPv6 functionality is to blacklist the ipv6 module, instead of using the sysctl `net.ipv6.conf` settings: `echo 'blacklist ipv6' > /etc/modprobe.d/blacklist-ipv6` Otherwise it is just not used for the configured interfaces, but still available, which can cause issues wi

[2018-08-20 22:19] Fourdee commented on #806
@adamotte

TinkerOS 2.0.7:
https://dietpi.com/downloads/testing/DietPi_ASUSTB-ARMv7-Stretch.7z

Although, this release breaks WiFi. Will leave under testing.
https://github.com/Fourdee/DietPi/issues/2026#issuecomment-414431922

[2018-08-20 22:49] carlosedp opened #2028 "Boards with RK3399 (maybe others, like Rock64) needs TCP/UDP offloading disabled."
After a lot (I mean, a lot) of investigation on TCP resets, Ack errors and Dups, I found the problem that I describe while pushing a Docker image to DockerHub here: https://github.com/moby/moby/issues/37642

The boards like RK3399 need TCP/UDP offloading disabled to avoid the retransmissions and reset errors. This was already implemented by Ayufan on Rock64 and RockPro64 Rootfs and DietPi needs th

[2018-08-20 22:55] Fourdee commented on #2026
@MichaIng

🈯️ Time issue resolved with: https://github.com/Fourdee/DietPi/commit/7635d6ccc9383751fe1bbe8d0b87b7a085a85b76

Cause:
- Removing NTP and not updating SystemD-TimeSyncD afterwards
- Date would be rolled back after reboot
- Sync would then fail as systemd needing daemon-reloading (probably due to NTP removal)

[2018-08-20 22:57] Fourdee commented on #2017
Hi,

Issue is resolved with v6.14 patch.
We'll release this as a hotfix ASAP.

In the mean time, i've also updated the XU4 image which resolves the issue:
https://dietpi.com/downloads/images/DietPi_OdroidXU4-ARMv7-Stretch.7z

[2018-08-20 22:57] #2017 closed, assigned to nobody

[2018-08-20 23:07] carlosedp commented on #2027
Thanks @MichaIng, I've been using this settings on sysctl on many distributions with no problems so I believe is the "correct" way to do it.

Disabling on the boot parameters is a hassle on these boards since it's baked into the "img" that is flashed into the board via cable from another computer. You don't have access to the extlinux.conf file to change this since the boot partition is not mounte

[2018-08-21 00:03] Fourdee commented on #2026
### Rock64, after PREP:
Fine until reboot after resize.
[code]

[2018-08-21 00:45] Fourdee commented on #2025
@D4rkSl4ve

Hi,

I've just updated our image to Ayufan 0.7.9 pre-image. Confirmed 1.3GHz limit:
https://dietpi.com/downloads/images/DietPi_Rock64-ARMv8-Stretch.7z

In this case, it would appear Ayufan has specifically limited the max CPU clock to 1.3GHz. Most likely for improved stability, and/or reduce heat.

As we do not compile our own kernels, and we rely on the pre-images available to us, the

[2018-08-21 02:46] Fourdee commented on #2026
Note to self:
https://github.com/midwan/amiberry/issues/264#issuecomment-414215685

[2018-08-21 13:03] adamotte commented on #806
Hum i still need WiFi (remote work :beach_umbrella: :tropical_drink: :sun_with_face:) so i will wait before upgrade. Anyway thanks for the update.

[2018-08-21 13:34] sparkysbc commented on #1967
without adding  --disable-ssl  users can still access by https://192.168.0.100:4200   ,then need to add permission on advanced option
by adding --disable-ssl access by  192.168.0.100:4200 or http://192.168.0.100:4200

[2018-08-21 14:36] carlosedp commented on #2028
Confirming that the RockPro64 also shares the same device ID from the other boards:

[code]

It's just a matter of creating a script `/etc/network/if-up.d/disable_offload` with:

[code]
And `chmod +x /etc/network/if-up.d/disable_offload`

[2018-08-21 19:41] antiabed commented on #2023
Running ip a and ls -lha /proc/net/if_inet6 I get the exact same response you posted. How would I go about using a IPv6 compatible gateway?

[2018-08-21 20:36] Fourdee commented on #2028
@carlosedp

Great work 👍

Ok, I updated our Rock64 image based on ayufan 0.7.9 yesterday. Can confirm the entry already exists:
https://dietpi.com/downloads/images/DietPi_Rock64-ARMv8-Stretch.7z
[code]
In terms of adding this to patch during update, we need to be careful not to duplicate the entry, or conflict with a ```.deb``` update that Ayufan may apply in the future.

For the sake of stability

[2018-08-21 20:45] Fourdee commented on #2023
To be honest, I disable IPv6 for all my networks. So probably the wrong person to ask lol.

If you have a Windows PC, try testing the IPv6 ping there aswell, if this also fails, indicates your router/ISP is not fully IPv6 compatible:
[code]

I enabled IPv6 on my router, seems unable to find an IP, so I can only assume Virgin Media has not rolled IPv6 out yet. Regardless, check your router settings

[2018-08-21 20:53] carlosedp commented on #2028
This does not apply only to RockPro64 but to all RK3399 boards I tested.

I think the correct would be creating a second file (not the "rock64-offload" that ayufan uses) that overrides the configuration to all boards that needs this. The setting to Rock64 could stay there since the ethtool command would be ran twice.

[2018-08-21 21:16] Fourdee commented on #2028
@carlosedp

Good point 👍

Ok, lets see if we can patch.

Not efficient. I believe it would be better if we check for pre-existing setting, then only add if it does not exist with?
[code]

[2018-08-21 21:19] carlosedp commented on #2028
If you check like this, it will match on the line for example for Rock64 board and not apply the command for the RK3399. I don't think Ayufan's file contains the ID for RK3399.

I don't see a big problem on running the command twice in the worst case.

BTW, I commented on a similar issue on Ayufan's repo to point this out. https://github.com/ayufan-rock64/linux-build/issues/263

[2018-08-21 21:24] Fourdee commented on #2028
@carlosedp

Yep agree, although, best to avoid it if possible.

Ok, we could probably check and remove all file entries for ```cat /etc/network/if-up.d/* | grep -m1 'rx off tx off'```, then recreate our own.
I'll send a commit in a few.

[2018-08-21 21:27] carlosedp commented on #2028
Just to add, this behavior doesn't apply only to RockPro64 that Ayufan build. This also happens to the Firefly RK3399 and the FriendlyARM RK3399 SBCs. I believe it's a generic "problem" with Rockchip processors and 1Gbps ethernet.

[2018-08-21 21:29] antiabed commented on #2023
Thanks again for the reply. On my MacBook on the same network all the ping6 requests work. I tried everything but ping6 on the dietpi keeps getting "connect: Network is unreachable" even pinging the router. Normal ping works.

[2018-08-21 22:04] Fourdee commented on #2028
Testing Rock64:

@carlosedp
Is this correct?

Previously (0.7.9 with ayufan's conf installed):
[code]

After applying your patch:
[code]

[2018-08-21 22:13] carlosedp commented on #2028
Check the first parameters (checksumming ones):
[code]

[2018-08-21 22:18] Fourdee commented on #2028
@carlosedp

Appears to be working 👍
[code]

You can test on any device with patch:
- Create backup ```dietpi-backup 1```
- Run testing branch update with ```G_DEV_1```
- Restore at any time with ```dietpi-backup -1```

[2018-08-21 22:24] Fourdee commented on #2023
@antiabed

Ok this is interesting. Could be an issue our end.

On the MacBook, can you let us know the IP details (DNS/gateway)?
Unsure on where this would be in Mac, never owned one (yet 😄). PC:
![image](https://user-images.githubusercontent.com/7077026/44432217-0529b980-a599-11e8-9e9f-74f3a37af7bb.png)

And on the DietPi system, please can you paste/screenshot results of:
[code]

[2018-08-21 22:26] #2028 closed, assigned to carlosedp

[2018-08-21 22:49] Fourdee commented on #2008
@MichaIng

I suspect fault with camera unit or loose ribbon/sunny cable.

However, found an issue during testing:
- Resolved 🈯️ https://github.com/Fourdee/DietPi/commit/a0818fd88288c4b9a55b0d45be38490db3e6cebf
![image](https://user-images.githubusercontent.com/7077026/44433100-cdbd0c00-a59c-11e8-85df-df0ebfce4fbc.png)

debugging now, then will continue with test.
![image](https://user-images.githu

[2018-08-21 22:50] Fourdee commented on #2008
Notes:
- Us locale
- RPi webcam install only

[2018-08-21 23:05] Fourdee commented on #2008
- 🈯️ Unable to replicate with RPi3 B+.
- 🈴 Unable to test RPi Zero, as I lack the smaller ribbon cable: https://thepihut.com/products/raspberry-pi-zero-camera-adapter. Will order one once Pateron donations come in at start of month. Spent the majority (if not all and then a little more) of last months Pateron donations on rewards and shipping out competition items. No more free competitions for a

[2018-08-22 00:31] Fourdee commented on #1927
@MichaIng
Benchmark suite code done, just need to impliment how we are to upload this to dietpi.com. Use of survey and send, if the generated results file exists?
![image](https://user-images.githubusercontent.com/7077026/44436073-08c63c00-a5ab-11e8-88ad-06463f204cb7.png)

Currently, the file exported is below:
[code]

[code]

[2018-08-22 03:16] LexiconCode commented on #1927
Is it possible for rootfs benchmark to determine what type of hardware like MMC, hard drive, SD card?

In addition which interface it's using USB 2. 0, 3. 0, sata...

[2018-08-22 09:56] troyane commented on #738
@Fourdee

Will there be any updates for NanoPi Neo Air?

Thanks.

[2018-08-22 11:05] paradix commented on #2013
Guys thnx for the effort on that but unfortunately it is still not working properly.
When I run DietPi-Drive_Manager it than changes the mount points for my HDD when there is a bind mount in the fstab.

Here is my /etc/fstab
[code]
When I run dietpi-drive_manager with the upper /etc/fstab it shows the following
![obraz](https://user-images.githubusercontent.com/3265277/44460054-02b47780-a60c-11e8-

[2018-08-22 14:34] antiabed commented on #2023
After a lot of digging and messing around I finally found the issue. I had uncommented the `net.ipv6.conf.all.forwarding=1`line in `/etc/sysctl.conf` earlier, to enable IPv6 for my VPN. Because of that my DietPi couldn't do IPv6 itself. I probably didn't configure that right, and should have found a way to forward IPv6 and keep it working on the device itself but for now I've just commented the li

[2018-08-22 15:55] Fourdee commented on #2026
As the original issue which caused this ticket to be created, is now resolved, and, the most popular images have been updated, i'll flag this as low priority.

[2018-08-22 16:46] Fourdee commented on #2013
@paradix

Thanks for the report 👍

I believe I know what the cause is, leave it with me, will hopefully reply with a fixed script soon.

[2018-08-22 16:53] Fourdee commented on #1927
@LexiconCode

Unsure, however, good suggestion, i'll take a look 👍

[2018-08-22 17:09] Fourdee commented on #2013
Strange, unable to replicate the issue.

Ok, we'll need to debug your system please use the following ```/etc/fstab``` (which removes the additional ```/``` from ```/mnt/6940d1c0-8dcd-4386-b726-0cda8cb87b75/```:
[code]

Once completed, please run
[code]

And paste results please.

Then
- run ``` dietpi-drive_manager``` again normally
- exit
- verify fstab entries

---

Notes to self, my testing ``

[2018-08-22 17:19] Fourdee commented on #738
@troyane

Hi,

I'll add it to my list 👍

In the mean time you can run PREP on the system with the following image:
- http://wiki.friendlyarm.com/wiki/index.php/NanoPi_NEO_Air#Install_OS
```nanopi-neo-air_debian-nas-jessie_4.x.y_YYYYMMDD.img.zip```

Then run DietPi PREP on the system:
- https://github.com/Fourdee/DietPi/issues/1285#issue-280771944

[2018-08-22 18:10] ichbestimmtnicht opened #2030 "Bug: pihole continues while dhcp get stopped"
## Creating a bug report/issue:

#### Required Information:
- DietPi version	14
- Distro version	stretch
- Kernel version	Linux server-elis 4.14.62-v7+ #1134 SMP Tue Aug 14 17:10:10 BST 2018 armv7l GNU/Linux

- SBC device		RPi 3 Model B (armv7l)
- Power supply used	5V 3A power)
- SDcard used		 SanDisk ultra class 10

#### Additional Information (if applicable):
- Software title	dietpi-backup
- Was

[2018-08-22 18:35] paradix commented on #2013
Here is the debug log from running ```dietpi-drive_manager``` after removing the trailing ```/``` and ```demon-reload```
[code]

Here it is before running ```dietpi-drive_manager```
[code]
The ```fstab``` keeps changing even when I remove the trailing ```/```

Running ```dietpi-drive_manager``` shows this
![obraz](https://user-images.githubusercontent.com/3265277/44483038-4a59f400-a64a-11e8-91b1-6

[2018-08-22 21:13] Fourdee commented on #2013
@paradix

Many thanks. Ok, so it appears the ```df``` result is showing the jail as mounting point for ```/dev/sda1```. DietPi then generates the fstab based on that information, for mounted drives.

If i'am correct, we'll need to find a method to exclude jailed items, or, include check for multiple possible mounts via a single device.

Please can you paste results:
[code]

[2018-08-23 06:03] paradix commented on #2013
Yeah, I have been checking out the ```dietpi-drive-manager``` script and realized already that it is due to ```df``` but couldn't google out anything helpful why this happens.

Here you go with the ```df``` output
[code]

[2018-08-23 06:11] dornt2 opened #2031 "Dietpi instalation error at first run on Nanopi Neo"
The error returned at first run on Nanopi Neo, image 'DietPi_v6.2_NanoPiNEO-ARMv7-Stretch.img'

![diet_pi_nanopi_neo_](https://user-images.githubusercontent.com/42633858/44507755-672b1180-a6b4-11e8-891a-771cf867a21c.jpg)

[2018-08-23 06:24] jcorporation opened #2032 "DietPi-Software | myMPD, fork of YMPD with additional features"
#### Is your feature request related to a problem? Please describe:
- I am programming a fork of ympd named myMPD (on github). myMPD supports play statistics and song voting and uses the mpd sticker functionality for this features. The native mpd from the repository support stickers, but the dietpi optimized mpd not.

#### Describe the solution you'd like:
- Compile dietpi custom mpd with sticker

[2018-08-23 07:18] paradix commented on #2013
Maybe that will help https://unix.stackexchange.com/questions/195293/bind-mounting-and-df-output
Seems to be the same issue.

[2018-08-23 08:27] troyane commented on #738
@Fourdee thanks for quick response!

Will try to prepare image. Unfortunately I'll be able to put my hands on real NanoPi Neo Air starting from next week.

Also it look like good idea to support NanoPi Neo Air at least because it is LTS - long term support.
As official site said:

[2018-08-23 09:13] Barishhh opened #2033 "Suspicious entries in 6.14 update"
Can someone explain me what is going here? During the upgrade to 6.14, an SSH key gets added into the system and the global password has been changed aswell. I don't trust it, so I changed both entries back. Can someone tell me what those entries are needed for and if the system is safe to use?

![knipsel](https://user-images.githubusercontent.com/2899452/44516304-08ba5f00-a6c5-11e8-887e-8d24b5e05

[2018-08-23 14:10] adamotte commented on #2033
Im' not an expert but :

- `185.101.93.93` point to `diepit.com`
- v6.14 introduce encrypted password, see [CHANGELOG.txt](https://github.com/Fourdee/DietPi/blob/master/CHANGELOG.txt)

[2018-08-23 14:33] Barishhh commented on #2033
That explains it, thanks!

[2018-08-23 14:33] #2033 closed, assigned to nobody

[2018-08-23 15:46] MichaIng commented on #2033
@Barishhh
Jep just to clarify from our side:

SSH host key:
- Entries in `/root/.ssh/known_hosts` contain SSH host keys, so when connecting via SSH, your system can check/prove, that the answering server really is the one that you expect, by comparing the received host key with the one saved in this file.
- `DietPi-Survey`, `DietPi-Bugreport` <s>and since v6.14 `DietPi-Benchmark`</s> (**€: Ah not

[2018-08-23 15:57] MichaIng commented on #2022
@Fourdee
Hmm, on to long term it would be nice to stay with domain for SFTP connection actually, so also shifting the server does not break connectivity for older version. `sftp.dietpi.com` would be indeed nice, or to be more general with this, as SFTP uses SSH connection+port `ssh.dietpi.com`.

No idea how sub domains are handled from provider + cloudflare, maybe forwarding of this needs to be en

[2018-08-23 16:06] Barishhh commented on #2033
Thanks alot for the clarification @MichaIng!

I was just worried. How many times did we not see that software is getting backdoored, so yeah i'd rather make sure it's something legit and check it with you guys.

Thanks again and keep up the dev work!

[2018-08-23 16:58] MichaIng commented on #2030
@ichbestimmtnicht
Thanks for your report.

So far, I think the current behavior is expected:
- During backup and other maintenance tasks, we handle/stop as much services as possible to reduce interferences etc.
- We keep all services active that are required for successful network connectivity, since during other maintenance tasks (software installs, update etc.) network is required.
- `pihole-FTL

[2018-08-23 17:11] MichaIng commented on #2031
@dornt2
Thanks for your report.

`deb.debian.org` fails to get resolved. Either your systems resolver does not work, or there is (as often) some issue with the Debian mirrordirector.

Please check:
- Test local resolver: `ping dietpi.com`
- Check correct name server entry. You do not need to post the output here, just verify that it contains the IP or hostname of your network gateway respectively

[2018-08-23 19:08] wuhei commented on #1901
I could successfully ssh into my v6.13 but it would hang right after.

The "tput cols" command was outputting   **tput: unknown terminal "rxvt-256color"**, resulting in an empty value on line 328 of dietpi-login, making it hang forever after having successfully read the database upon initial boot.

Exporting TERM=xterm, an ugly hack, seemed to have fixed the login script, and can now begin install

[2018-08-23 19:43] Fourdee commented on #2022
@MichaIng

Don't know if we want to add/change this now again, but actually it would not hurt, since raw IP will still always work. We could even clean up known_hosts, removing old dietpi.com and raw IP entry.

Legend 👍

Yep, if it works, we should use the domain name and remove all previous keys (if safe to do so) during patch?

[2018-08-23 19:44] Fourdee commented on #1901
@wuhei

Hi,

Thanks for the report and solution 👍

Which SSH client are you running?

[2018-08-23 19:45] MichaIng commented on #1901
@Fourdee
I was opening a separate issue for this. Identified the issue: https://github.com/Fourdee/DietPi/issues/2034

@wuhei
After logging into SSH please try: `export TERM='xterm-256color'` **€: Ah this is basically what you already found out 😄.**
If this works, you could add a script to `/etc/profile.d/` that contains something like:
`[[ $SSH_TTY ]] && [[ $TERM =~ 256 ]] && export TERM='xterm-2

[2018-08-23 19:51] MichaIng opened #2034 "SSH | Error when SSH client passes unsupported terminal to DietPi SSH server"
## Creating a bug report/issue:

#### Reference: https://github.com/Fourdee/DietPi/issues/1901#issuecomment-415534725
- Thanks @wuhei for reporting!

#### Additional Information (if applicable):
- Software title	| any SSH server

#### Steps to reproduce:

1. Connect from a remote SSH client with an unsupported terminal type (e.g. `rxvt-256color`) to DietPi SSH server

#### Expected behaviour:

- N

[2018-08-23 20:11] Fourdee commented on #2022
[code]

Completed, nice one @MichaIng 👍

[2018-08-23 20:11] #2022 closed, assigned to Fourdee, MichaIng

[2018-08-23 20:25] Fourdee commented on #2032
@jcorporation

Hi,

Many thanks for the request 👍

YMPD is a favorite of mine, so i'll definitely be adding this to ```dietpi-software```.

REF: https://github.com/jcorporation/myMPD#mympd

---

Compiles, MPD + sticker support (```mpd-0.20.21.tar.xz```):
- 🈯️ ARMv6 | Many hours later
- 🈯️ ARMv7
- 🈯️ ARMv8
- 🈯️ x86_64

---

myMPD:
- Sourcebuild
- 148
- ```/etc/mpd.conf```
[code]

Run and cfg
[code]

[2018-08-23 20:34] jcorporation commented on #2032
Many thanks for the fast response. I am looking forward to the 6.15 release. It would be great if you package myMPD for dietpi. If you need help don't hesitate to ask.

[2018-08-23 22:03] Fourdee commented on #2032
```folder.jpg``` Testing 🈯️
![image](https://user-images.githubusercontent.com/7077026/44554388-aabf6300-a728-11e8-9520-e520983fa4e0.png)

[2018-08-23 22:11] wuhei commented on #1901
@Fourdee OpenSSH_7.7p1, OpenSSL 1.1.0h  on Arch Linux

@MichaIng thanks glad I could help by chance!

Please keep in mind I am a bad sysadmin and by following [this article by Tom Ryder](https://sanctum.geek.nz/arabesque/term-strings/) i have found out I had a pretty misconfigured terminal "declaration" config.

In the end what fixed the problem for me was
- exporting the correct $TERM in /root/.b

[2018-08-23 22:30] MichaIng commented on #1927
@Fourdee
Ah sorry, was a bid busy since last weekend, missed that one.

First I agree with @LexiconCode that the values have more meaning, if connected with related hardware info.
- On SBCs CPU and RAM are fixed, thus here $G_HW_MODEL[_DESCRIPTION] would be sufficient.
- But on native PC + VM we should find out which hardware is in use, e.g. `grep -m1 '^model name' <<< "$(</proc/cpuinfo)" | sed 's

[2018-08-23 22:46] MichaIng commented on #1901
@wuhei
Jep, setting $TERM within `/root/.bashrc` of course works as well, adding it to /etc/profile[.d/] solves it system wide for all users, which is a solution we'd go for with DietPi.

The article you linked is pretty nice, explaining everything and possibilities very well 👍. So you basically installed the required terminal type manually. The article also mentions the `ncurses-term` package as

[2018-08-23 23:30] Fourdee commented on #2032
- 🈯️ Online doc: https://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=13978#p13978
- 🈯️ https://dietpi.com/software addition

May need to disable SSL and its redirect:
[code]
- redirects to https://hostname (could not be unique)
- uses up the https default site? (could use ```sslport = 1334```, but the above is more an issue for multiple installs with same hostname)
- 🈯️ We'll disable SSL + redirect f

[2018-08-23 23:42] MichaIng commented on #2027
@carlosedp
Hmm very strange, no idea how `sysctl.conf` settings are not applied automatically, if present on boot. Usually `sysctl -p` should only be needed to apply settings avoiding reboot. Needs some research, maybe as well a kernel / bootloader specific issue?
_____________
`systemd-sysctl` seems responsible for loading the sysctl configuration. Please check:
`systemctl status systemd-sysctl`

[2018-08-24 00:34] Fourdee commented on #2032
@jcorporation

We've gone for a sourcebuild on this one, using the master branch of your project. For now. If its popular, we can do a install binary for each CPU arch.

---

Installation nearly completed. I just need to run some test installs on various archs.

myMPD. Really impressive on what i've seen so far. Its YMPD and then some! Great work 👍

[2018-08-24 00:36] Fourdee commented on #2032
@jcorporation

Once minor issue I have noticed:
When clicking the 'Update Database' option, the drop down menu does not disappear and feels it does nothing. However, the database appears to be functional once done?
NB: no ```folder.jpg``` for this item.
![image](https://user-images.githubusercontent.com/7077026/44558790-14963780-a73e-11e8-9902-efd6f0ab0aae.png)

[2018-08-24 00:55] Fourdee commented on #2032
Completed. Available in DietPi v6.15 update.

v6.15 should be 1-2 weeks away.

[2018-08-24 00:55] #2032 closed, assigned to Fourdee

[2018-08-24 06:40] adamotte opened #2035 "Debian repository does no longer have a Release file."
#### Details:
- Date           | Thu  3 Nov 17:17:08 GMT 2016
- Bug report     | N/A
- DietPi version | v6.14
- Img creator    | DietPi Core Team
- Pre-image      | TinkerOS 2.0.5
- SBC device     | Asus Tinker Board (armv7l) (index=52)
- Kernel version | #1 SMP Thu Feb 22 18:23:31 CST 2018
- Distro         | stretch (index=4)
- Command        | G_AGUP
- Exit code      | 100
- Software title | Die

[2018-08-24 07:49] ichbestimmtnicht commented on #2030
I understand and like the minimal idea. Thats' why I use Dietpi and you have a seamless argumentation :100:

Then let's say it would be neat to have stop options for networking services during dietpi maintenance modes. As admin you can setup HAProxy to avoid downtimes. With Dietpie's moore frequent use in personal setup's (i suggest) and the within interconnected limitation of hardware ressources

[2018-08-24 07:49] #2030 closed, assigned to nobody

[2018-08-24 10:19] dornt2 commented on #2031
Thanks

That was the problem. Initialy the `/etc/resolv.conf` has two rows:
[code]
after I added my gateway, which is also a DNS server

[code]

Now, the instalation and upgrade, could be acomplished through dietpi-launcher ---> DietPi-Update.

Thanks!

[2018-08-24 10:19] #2031 closed, assigned to nobody

[2018-08-24 17:19] msongz opened #2036 "dietpi.txt software install setting"
## Creating a bug report/issue:

#### Required Information:
- DietPi version	| 6.14
- Distro version	| stretch
- Kernel version	| Linux zerow 4.14.62+ #1134 Tue Aug 14 16:58:07 BST 2018 armv6l GNU/Linux
- SBC device		| RPi Zero W (armv6l)
- Power supply used PC
- SDcard used		| SanDisk 64GB

#### Steps to reproduce:

1. edit dietpi.txt
2. AUTO_SETUP_INSTALL_SOFTWARE_ID=59	#rpicam
    AUTO_SETUP_IN

[2018-08-24 19:50] Fourdee commented on #2036
@msongz

Thanks for the report 👍

I'll open for investigations.

Please can you paste the 1st run install logs:
[code]

[2018-08-24 19:57] Fourdee commented on #2035
@adamotte

Thanks for the report 👍

Please can you paste results of:
[code]

It should match:
[code]

Please also paste results of:
[code]

[2018-08-24 20:04] Fourdee commented on #2013
@paradix

Seems to be the same issue.

Legend 👍

Ok we can try changing our scrape to ```df -a``` or ```cat /proc/mounts```.

Please can you paste results of both those commands?

[2018-08-24 20:43] Fourdee commented on #2013
@paradix

I've updated our script to use ```df -a``` scrape. Hopefully this resolves, please update the script with:
[code]

[2018-08-25 00:55] Fourdee commented on #1927
@MichaIng

We could probably do this using a 2D array?
[code]

That way, results are linked to the ```$G_HW_MODEL_DESCRIPTION```

[code]

---

I'am still unsure how you scrape the above into the survey file, but, i'd probably do it this way. Using UUID as the array index
[code]

---

Or even:
[code]

from
[code]

Then we can work with the array's above.

[code]

[2018-08-25 14:23] docgalaxyblock opened #2037 "Dietpi Website Down"
Dietpi.com is reachable but access is Forbidden
That's all

[2018-08-25 14:43] MichaIng commented on #2037
@potter-91
Jep sorry, might be caused by me, although error appeared after totally unrelated tasks I did on the server. I try to investigate. Seems that somehow server user permissions are not recognized. Even that webroot has correct www-data:www-data permissions, access fails with permission denied. Even trying sudo -u www-data:www-data /path/to/webroot/php_file fails with:
[code]
But root and /

[2018-08-25 15:34] MichaIng commented on #2037
Okay issue identified and solved. Accidentally chmod on root directory (not the subfolders) itself...
Silly mistake...

Many sorry to all affected users... Will mark as closed

[2018-08-25 15:34] #2037 closed, assigned to MichaIng

[2018-08-25 16:46] MichaIng commented on #2034
Check for supported terminals: `toe -a`, e.g. `toe -a | grep -q "$TERM"`

As manually changing the $TERM variable, thus faking a different terminal that what actually is connected, is not the best long term practice:
- Show warning/G_WHIP_MSG that the connecting terminal is not supported, thus SSH client setting/term needs to be changed or `ncurses-term` installed.
- Tell user that xterm (respecti

[2018-08-25 20:37] paradix commented on #2013
works kind of :) does not mess up the mount path of the bind mounts after running ```dietpi-drive_manager```

here are the results.

```df -a```
[code]

```/etc/fstab``` before running ```dietpi-drive_manager```
[code]

When running ```dietpi-drive_manager``` you see

![obraz](https://user-images.githubusercontent.com/3265277/44622356-44b51600-a8b7-11e8-9224-c86c003c3df0.png)

And ```/etc/fstab```

[2018-08-26 14:49] Meateor553 opened #2038 "HC1/2 | Won't boot if serial console is disabled"
#### Required Information:
- DietPi version	| 6.13 -> 6.14
- SBC device		| Odroid HC2
- Power supply used	| 12V 2A
- SDcard used		| Samsung Evo 32GB microSD

#### Steps to reproduce:

1. Install dietpi 6.13 for the HC2 at the dietpi download page
2. Go through the first time installation steps (or if you're on a server running 6.13 already, just update to 6.14)
3. Update completes successfully, re

[2018-08-26 21:13] Fourdee commented on #2013
@paradix

Thanks for testing and results 👍

Ok, so it appears its unable to detect if the mount is a bind from ```df -a``` scrape,  thus, ```fstab``` entries are set to standard physical drive mount options.

I'll need to see if we can find a way to detect if the mount is a ```bind/jail```, then apply the correct mount options. then we can remove the ```bind/jail``` detection for ```#TMPFS, MISC``

[2018-08-26 21:48] Fourdee commented on #2038
@Kdcarrero

Thanks for the report 👍

The only thing I can suspect is a kernel upgrade (via APT) is completed during the initial DietPi update, which is possibly unstable.
Failing that, hardware issue due to unstable PSU/SD card etc.

I'll try to replicate on my HC1 (I lack the HC2, but should be the same).

[2018-08-26 22:07] Fourdee commented on #2038
@Kdcarrero

~I suspect this is the issue, especially if any HDD is attached. Ideally this needs to be 5V/4A at least.~
Requires 12V/2A, please confirm this is what you are using.

[2018-08-26 22:25] Meateor553 commented on #2038
It is using 12V 2A. Idk why I put 5V before

[2018-08-26 23:16] Fourdee opened #2039 "DietPi-Software | 1st run connection test fails if timesync is not yet completed, and, date is not valid for SSL cert"
[code]

[code]

[2018-08-26 23:24] Fourdee commented on #2039
🈯️
[code]

Having timesync prior to connection test is not an option currently. As the connection must be valid, else, the NTP fail options will appear which lack general connection setting options.

[2018-08-26 23:33] Fourdee commented on #2039
Completed.

[2018-08-26 23:33] #2039 closed, assigned to Fourdee

[2018-08-26 23:47] Fourdee commented on #2038
@Kdcarrero

Confirmed on HC1, looking into it now.

[2018-08-26 23:52] Fourdee commented on #2038
Serial:
[code]

[code]

- No kernel upgrades via APT
- Assume possible faulty image?

[2018-08-27 01:29] Fourdee commented on #2038
Tests:
- 🈴 Redone image from pre-image of meveric
- 🈴 Recreate partition tables on image, after running PREP
- 🈴 Disable removal of ```fake-hwclock``` during 1st run (we need to disable this, or improve the scrape regardless)
- 🈯️ Prevent disable of serial TTY's
- Limit CPU max freq to 1GHz (Stability?) during 1st run.

[2018-08-27 01:40] Fourdee commented on #2038
@Kdcarrero

New image uploaded which resolves the failed boot issue:
https://dietpi.com/downloads/images/DietPi_OdroidXU4-ARMv7-Stretch.7z

I've tested here fine, however, please confirm its working for you.

[2018-08-27 02:11] msongz commented on #2036
[first-run-log.txt](https://github.com/Fourdee/DietPi/files/2322159/first-run-log.txt)

sorry for the delay.

also, the timezone I set on dietpi.txt: AUTO_SETUP_TIMEZONE=Asia/Hong Kong

would not take effect.

[2018-08-27 09:45] Meateor553 commented on #2038
Okay, I will test it later this afternoon.

Thank you

[2018-08-27 14:15] MichaIng commented on #316
Okay PR is up to solve this as above: https://github.com/Fourdee/DietPi/pull/2040

[2018-08-27 15:20] MichaIng commented on #368
@Fourdee
Multiple entries in [wpa_supplicant.conf](https://linux.die.net/man/5/wpa_supplicant.conf) are possible.

👍

We could allow adding `AUTO_SETUP_NET_WIFI2_SSID` (WIFI3, ...) and related other entries to `dietpi.txt` and add all of them to `wpa_supplicant.conf`. However this strictly needs DHCP client to be used for WiFi interface, since we cannot configure different interfaces (within /etc/

[2018-08-27 15:46] MichaIng commented on #528
@Fourdee
Maybe we can pick this up again, if you find time to test with the steps provided in the link above?
Sadly I cannot test all the WiFi and BT stuff, however about the other WiFi (multiple SSID) topic, I can provide the initial dietpi-config/set_hardware menus/additions, when solution is chosen 😃.

[2018-08-27 15:52] carlosedp commented on #2027
Maybe the settings get applied then something else overwrites and re-enables IPv6.

[2018-08-27 15:59] MichaIng commented on #534
@Fourdee
Isn't this the same as https://github.com/Fourdee/DietPi/issues/1023, thus already resolved? 😃

[2018-08-27 15:59] MichaIng commented on #1023
@Fourdee
This resolves https://github.com/Fourdee/DietPi/issues/534 as well, right?

[2018-08-27 16:08] MichaIng commented on #2027
@carlosedp
Possible, as said without telling the kernel to disable IPv6 (cmd line), it is generally available. Possible that something else then enables it on demand. Not sure how well sysctl is respected then.

But again, did you try:
[code]
and check for errors? Maybe it throws an error or a warning that/why IPv6 settings are not applied.

But so far we can sum up, that `net.ipv6.conf.*.disable_

[2018-08-27 16:33] carlosedp commented on #2027
Found the problem. The ipv6 module is disabled by blacklist so when the sysctl.conf file is applied, the module is still not loaded and ipv6 doesn't get disabled by the settings below:
[code]
Then I don't know why the module gets loaded afterwards.

If I remove the `modprobe.d/99-dietpi-blacklist-ipv6.conf` and add the settings above to `/etc/sysctl.d/60-ipv6-disable.conf`, ipv6 is successfully di

[2018-08-27 18:28] MichaIng commented on #2027
@carlosedp
Ah, okay in this case it IS indeed a module! I am confused.
Usually I would say it the other way round: Due to blacklisting, disabling the module (higher level, not completely unloaded, more needed config lines) is not needed. Furthermore disabling the module, if it is blacklisted throws warnings, that the module is not available, thus settings cannot be applied.

Yeah this is strange.

[2018-08-27 18:43] #1933 closed, assigned to nobody

[2018-08-27 18:56] MichaIng commented on #2035
@adamotte @Fourdee

It's due to system clock not correctly synchronized. (Network connections appears to be fine.)

Hmm due to `fake-hwclock` removal? Should actually not be an issue as this just influences clock during boot until time sync. And `dietpi-software` separately does a time sync check.

`systemd-timesyncd` settings? Should be `[0-3].debian.pool.ntp.org` on older images and empty (resul

[2018-08-27 19:05] MichaIng commented on #2038
Strange, would be interesting what needs/uses the serial console and breaks boot, if not available.

`hwclock`: Hmm, I remember there is a socket on the port to plug a hardware clock battery. Maybe in those cases `hwclock` command dues not result in error code, but has some special output? If it's no difference to x86_64 available and powered hwclock, then indeed we cannot remove it, to be sure no

[2018-08-27 19:35] Fourdee commented on #534
@MichaIng

I'll flag for testing, will update ticket once i've been able to try it.

[2018-08-27 19:36] adamotte commented on #2035
@MichaIng You're right it was due to system clock. After manually adjusted it, and restarted dietpi-software, everything ran fine.
FYI, i had modified dietpi.txt to add softwares to be installed directly on first boot.
Now my clock is perfectly synchronized so i guess timesyncd worked after the all boot/install but if you have a software list to install too, there is a gap of unsynchronized time.

[2018-08-27 19:36] Fourdee commented on #2038
@MichaIng

Same results as the sparky one: https://github.com/Fourdee/DietPi/issues/2014#issuecomment-413518658

[2018-08-27 19:40] Fourdee commented on #2036
@msongz

Thanks 👍

Appears invalid index was used in ```dietpi.txt```
[code]

Please verify the index is ```132``` in  ```dietpi.txt```

```Asia/Hong_Kong``` is the correct entry (```_``` for space). Please use that in ```dietpi.txt```:
[code]

[2018-08-27 19:45] Fourdee commented on #2035
@MichaIng

Yep, due to removal of ```fake-hwclock```I believe:
[code]

I'll set a patch to reinstall it for all systems, regardless of ```hwclock```. Maybe we can add an option in ```dietpi-config``` to allow users to select if ```hwclock``` is actually available?

[2018-08-27 19:50] Fourdee opened #2041 "DietPi-Config | Ability to toggle RTC installed"
RTC install = removal of ```fake-hwclock```

[2018-08-27 19:50] Fourdee commented on #2035
Marking as completed:

Planned option to enable RTC:
https://github.com/Fourdee/DietPi/issues/2041

[2018-08-27 19:50] #2035 closed, assigned to Fourdee

[2018-08-27 19:54] adamotte commented on #2035
@Fourdee BTW, Great work, I love DietPi !

[2018-08-27 20:10] Fourdee commented on #2041
Completed.

[2018-08-27 20:10] #2041 closed, assigned to Fourdee

[2018-08-27 20:29] Fourdee commented on #2035
@adamotte

Thanks 👍

Although its a team effort, don't forget @MichaIng 🥇 😃

[2018-08-27 20:51] jcorporation commented on #2032
@Fourdee:

I currently merged the devel branch into master for the 4.0.0 release of myMPD.
This fixes hopefully the issue with "no update database progress in ui" and the issue with the ssl redirect (now myMPD uses the original host header for redirection).

I hope this is the right place for this message to you.

Many thanks in advance.

[2018-08-27 21:42] Meateor553 commented on #2038
@Fourdee
It installed and can successfully reboot (tested a few times for posterity).

Very strange that that was the issue though. Thank you for the help!

[2018-08-27 22:03] Fourdee commented on #316
@MichaIng

Great work fixing a 2year+ ticket 👍 🥇

Marking as resolved.

[2018-08-27 22:03] #316 closed, assigned to nobody

[2018-08-27 22:23] Fourdee commented on #2038
@MichaIng

Good idea 👍, but I lack the time currently.

As the original issue is now resolved, I'll mark this as closed.

[2018-08-27 22:23] #2038 closed, assigned to Fourdee

[2018-08-27 22:33] MichaIng commented on #2041
Nice 😃. Maybe we can add a check via `hwclock` if one is available, before allowing to toggle?

Just for the record:

**On RPi:**
[code]
- In such cases there is definitely none available.

**Odroids XU4/HC1/2** have a "RTC backup battery connector", thus a RTC which is also powered, thus the above command succeeds:
- https://www.hardkernel.com/main/products/prdt_info.php?g_code=G150229074080&tab_

[2018-08-27 22:51] Fourdee commented on #2013
Notes:
🈴 https://superuser.com/questions/617403/can-i-hide-bind-mount-points-from-df
C2
[code]

---

[code]

awk $2 on bind mounts, remove from df -list via awk $6 check

---

🈯️ Using ```df``` scrape with ```a```. Else does not show binds in ```df``` results on Odroid C2.
[code]

[2018-08-27 23:16] Fourdee commented on #2013
@paradix

Apologies for the delay.

Resolved for v6.15.
In short, we exclude ```bind``` mounts from being detected, post initial fstab generation with the bind scrape added under TMPFS/MISC.

Testing will need to be completed on the testing branch, due to global var name changes. To test, please run:
[code]

To revert to previous state:
[code]

I'll mark this as completed, as my testing has passed

[2018-08-27 23:20] MichaIng commented on #1286
Okay guys, for those who are interested, we uploaded some Buster **testing** images for VMware and VirtualBox: https://dietpi.com/downloads/testing/
- Jep, no official support, testing from Debian side and explicitly testing with no guarantees from our side 😉!

Would be great if some could join testing by using it, so we can fix issues now and provide official Buster images as fast as Buster is mo

[2018-08-27 23:40] Fourdee commented on #534
Mono installs fine, Emby fails:

[code]

Jessie only:
https://packages.debian.org/jessie/libwebp5

[code]

[2018-08-27 23:55] Fourdee commented on #534
Hmm, standalone installs?
https://emby.media/linux-server.html
- 🈴 ARMv6 | Not supported by Emby. I will not be doing a messy/hacky work around just for ARMv6. The original method took over 3 hours to install Mono alone (yes, bad day).
[code]
- 🈯️ ARMv7
- 🈯️ ARMv8
- 🈯️ x86_64

[2018-08-28 00:41] #534 closed, assigned to Fourdee

[2018-08-28 01:02] msongz commented on #2036
@Fourdee
thanks for the correct timezone entry~
but it is weird that the index I set in dietpi.txt is 132, not 1322.
https://github.com/msongz/dietpi-script/blob/7f8f637a7e5ec32d76a94cae14f850d7d0eec456/songz-dietpi.txt#L86

[2018-08-28 02:42] quyentruong commented on #2007
I also had the same issue after upgrading pihole to 4.0. I had to restore to previous version 3.x.
Does anyone figure out how to solve this issue?

[2018-08-28 07:09] Fourdee commented on #1286
@MichaIng

👍 Site was updated few days ago to show optional Buster experimental images.

Very stable. Iam yet to find an issue. 💯

[2018-08-28 07:18] vitaliy-kuzmich commented on #1794
please explain how I can enable video acceleration on this board ? Is it even possible ?

[2018-08-28 09:58] paradix commented on #2013
@Fourdee What delay? :) I wish all project open source or commercial would have that responsiveness :+1:

So, I have done the testing on the test branch. Semms all fine. ```fstab``` look fine after running ```dietpi-drive_manager```.

Here are the logs you guys wanted
```DEBUG=1 dietpi-drive_manager```
[code]

```/etc/fstab``` after  running ```dietpi-drive_manager```
[code]

The only minor thing

[2018-08-28 14:46] MichaIng commented on #2036
Found the issue I think. The "2" from "# Aria2" is taken as well. We need to scrape the values differently to ignore trailing comments.

`awk '{print $1}' | sed ...`
or `value=${value##[[:blank:]]*}`
or unallow comments within the same line.

€: Jep, currently it is:
`"$(grep '^[[:blank:]]*AUTO_SETUP_INSTALL_SOFTWARE_ID=' /DietPi/dietpi.txt | sed 's/[^0-9]*//g')"`

[2018-08-28 15:46] carlosedp commented on #2027
No modules are added to `/etc/modules`. Look like some default behavior.

IMO, the correct way of disabling ipv6 is adding the lines to sysctl instead of blacklisting the ipv6 module (this also solves the problem where ipv6 is not a module in newer kernels).

[2018-08-28 18:00] LexiconCode opened #2043 "DietPi-Software | Nextcloud dbpassword could not be found in config.php"
I believe this is an issue with the gobal password manifested by installing nextcloud. Additional illegal characters or length limits may be necessary for global passwords

Password being used:

g%8cI#UqCfZwQLX**tcu*XjSf%S77!&GYNM7wRE8e5wL##GDRZbDds@tF@TK%LcvG77r9ZZAE&mZ^ahFDGRjxXit#5Y2aip9UmKWe@S3NtzJD8V4NGET73m3dt8YdjR6T

#### Required Information:
- DietPi version	| 6.14
- Distro version	| stre

[2018-08-28 18:07] MichaIng commented on #2043
Thanks for your report.

I will investigate what issue might occur when using such a random string password.

[2018-08-28 18:38] LexiconCode commented on #2043
On a semi-related note. What are the ramifications of changing the global password after installing x software? Does the software prior to the pw change get updated with the new global password?

[2018-08-28 21:26] MichaIng commented on #2043
@LexiconCode
Nope, we do not change any passwords after the software got installed. The global password is just meant to be an initial default password, so even that software gets installed automated, you know which password you need to enter on first access. But afterwards you should anyway change it individually for every software, especially those who are opened to the web and DietPi does not t

[2018-08-28 23:04] LexiconCode commented on #2043
This is a fresh install and I've tried a fresh install 3 times with the same results.

I'm at work at the moment and won't have access until tomorrow morning to investigate.

[2018-08-29 17:49] adamotte commented on #1664
@Fourdee @MichaIng I did not check (because i'm not an unix cmd line expert) how you do the rought check, but on my hardware the result is incorrect.

I have a Tinker Board S (with roughtly 16Go of eMMC) and a 16Go Sandisk micro sd card inserted (formatted by DietPi-DriveManager in ext4).

I try to backup my eMMC installation to SD card. Here the screenshots :

![image](https://user-images.githubu

[2018-08-29 17:58] adamotte opened #2044 "dietpi-backup : progress indicator"
## Creating a feature request:

#### Is your feature request related to a problem? Please describe:

- Kind of... WIth dietpi-backup, we can sync our data to another drive but during the process, we have no clue about time pending, time passed or percentage of data already done.

#### Describe the solution you'd like:

- Something like an estimal pending time's or percentage progression's .

####

[2018-08-29 18:03] adamotte commented on #2044
I just found that we can add *pv* command to monitor progress of data sent via a pipe.

![image](https://user-images.githubusercontent.com/1204733/44806191-91a23080-abc6-11e8-879c-92ce49686136.png)

[2018-08-29 18:12] Fourdee commented on #2032
@jcorporation

This fixes hopefully the issue with "no update database progress in ui" and the issue with the ssl redirect (now myMPD uses the original host header for redirection).

Excellent, many thanks 👍

As v6.15 is still in development, once released, the user will install myMPD from master branch. (hopefully release v6.15 end of this week 😃 )

[2018-08-29 18:17] Fourdee commented on #1664
@adamotte

Interesting.

Whats the results of:
[code]

[2018-08-29 18:20] Fourdee commented on #2044
@adamotte

Thanks for the request, ```pv``` could be helpful 👍

The issue from our end is that our ```G_RUN_CMD``` does not support redirects or pipes. So this may actually be a bigger job than originally thought (if at all possible) :)

Leave it with us, we'll take a look when we can.

[2018-08-29 18:21] Fourdee commented on #2044
Rsync has progress option?
[code]

REF: https://www.cyberciti.biz/faq/show-progress-during-file-transfer/

[2018-08-29 18:33] adamotte commented on #1664
[code]

[2018-08-29 18:40] Fourdee commented on #2013
@paradix

aDRIVE_UUID 6940d1c0-8dcd-4386-b726-0cda8cb87b75
aDRIVE_PART_UUID 7e9d79a1-f45a-42a3-be1b-bf131c00cb05
aDRIVE_MOUNT_SOURCE /dev/sda1
aDRIVE_MOUNT_TARGET /mnt/6940d1c0-8dcd-4386-b726-0cda8cb87b75
aDRIVE_SOURCE_DEVICE sda
aDRIVE_FSTYPE ext4
aDRIVE_ISMOUNTED 0

Thanks for testing, but this is very strange.

If you are still using the testing branch:
- is the drive mounted in ```df -h``` ?
-

[2018-08-29 19:11] Fourdee commented on #2036
@MichaIng

Legend 👍 🥇

I'll go with awk for today 😃
[code]

[2018-08-29 19:14] Fourdee commented on #2036
@MichaIng

Great find on fix 👍

@msongz

Thanks for reporting, fixed in v6.15 update 👍 eta this weekend (ish)

[2018-08-29 19:14] #2036 closed, assigned to Fourdee

[2018-08-29 20:09] MichaIng commented on #2044
The problem with G_RUN_CMD is that it generally redirects all output (I guess including all progress bars etc.) into a file: `$G_ERROR_HANDLER_COMMAND &> /tmp/G_ERROR_HANDLER_COMMAND`

I guess we would need to call it without G_RUN_CMD and call G_ERROR_HANDLER just afterwards. <s>The only issue then is, that either we can hide debug (transfered file list) output, which can then also not be reviewe

[2018-08-29 20:34] Fourdee commented on #548
@MichaIng

I've noticed our webserver has a delay during peak hours. Due to Apache2 hitting the worker limit:
![image](https://user-images.githubusercontent.com/7077026/44813944-1dba5500-abd3-11e8-85ca-bbfcd4d9b689.png)

I'll increase workers to 80, see how it goes. Might be an issue with hitting swapdisk though. ``` /etc/apache2/mods-available/mpm_*```

Just need to restart apache2 service, at so

[2018-08-29 21:04] Fourdee commented on #1664
@adamotte

Thanks 👍

Ok, lets try these commands, please paste results:
[code]

[2018-08-29 21:09] Fourdee commented on #1664
@adamotte

Also, please do the following to obtain the rsync data we use to check total size. Paste results of last command please:
[code]

[2018-08-29 21:56] MichaIng commented on #548
@Fourdee
Jep, check my one email in between the permissions issue spam (🤣), was thinking if cloudflare allows server restart (also whole machine), while still providing static content (image downloads and all that is related to software installs)? Not sure if just a static web page version is available (see that on other websites, when down, by times) or as well static download content.

This woul

[2018-08-30 01:04] MichaIng commented on #1778
Updated G_CONFIG_INJECT: https://github.com/Fourdee/DietPi/pull/2042
- Added `grep` error catching of the if statements. This is needed to prevent e.g. adding setting to end of file, if `grep` checks fail due to error instead of string not found.
- Added `BACKUP=1` handling to create backup /path/to/file.bak before editing the file.

Only issue with direct NCP implementation is that it uses `G_DIE

[2018-08-30 01:10] MichaIng commented on #1510
### How to scrape a specific line
[code]
- `sed -n '[0-9]p'`, which we already use, is also slightly fastest, `awk 'NR==[0-9]'` as often slowest, but not much difference overall.... although...
[code]
... very large difference, since 12s are just the `l` (my alias for `ls -lA`) 😄.

[2018-08-30 06:15] adamotte commented on #1664
Locale is fr_FR but you will understand easily i think :

[code]

[code]

[2018-08-30 08:33] paradix commented on #2013
[code]

![obraz](https://user-images.githubusercontent.com/3265277/44839828-09f90800-ac40-11e8-9094-0e6e48ab9b6b.png)

[2018-08-30 17:21] DiogoAbu opened #2045 "DietPi-Software | Bazarr"
## Creating a software request:

#### Give us some formal software information:
- Software title | Bazarr
- Short description | Manage and download subtitles, companion to Sonarr and Radarr.
- GitHub URL (if available) | https://github.com/morpheus65535/bazarr
- (Official) install documentation | https://github.com/morpheus65535/bazarr/wiki/Installation#linux

#### How can DietPi make the installa

[2018-08-30 18:05] Fourdee commented on #2013
@paradix

[code]

Strange how this is not showing the original and true ```/dev/sda1``` mount, only the jail. Maybe we do need to move back to ```df -a```.

---

Dupe results:
[code]

[2018-08-30 18:32] Fourdee commented on #2013
@paradix

Script updated in testing branch, should be good to go this time 😃

[2018-08-30 18:53] Fourdee commented on #2045
@DiogoAbu

Hi,

Many thanks for the request, looks good 👍

We'll implement when we can.

[2018-08-30 19:23] Fourdee commented on #1664
@adamotte

Total transferred file size: 110,780,588,666 bytes

Thanks 👍

Interesting, that's claiming 110GB~.

Ok, do you have any manual symlinks setup on the system?

[2018-08-31 00:05] leggewie commented on #1715
Why bother?  Anybody who prefers btrfs for the files (like me) should simply set up a separate swap partition.  Anything else is insanity.

[2018-08-31 08:09] adamotte commented on #1664
No manual symlinks.

My setup is dedicated to home automation so i had installed :
- via dietpi-software : DietPi-Ramlog, Dropbear, avahi-deamon
- via dietpi-config : bluetooth enabled

Then a manual Docker CE install following [these steps](https://gist.github.com/adamotte/9868db02df0362b76ee80b52ffa96b17)

And finally add lastest home assistant (hass.io to be precise)
[code]

[2018-08-31 09:41] #2043 closed, assigned to nobody

[2018-08-31 19:34] Fourdee commented on #1664
@adamotte

Thanks 👍

Ok, lets see if ```rsync``` is the issue, try ```du```, please paste the total at the end:
[code]

And just to make sure, lets do one with symlinks included:
[code]

[2018-08-31 20:23] Fourdee commented on #2044
Ok, ```pv``` was messy for me, so lets stick with standard rsync output, it looks like this:
![image](https://user-images.githubusercontent.com/7077026/44934233-0c548280-ad64-11e8-849b-c3bdab38b6c2.png)

[2018-08-31 20:42] Fourdee commented on #2044
- 🈯️ DietPi-Backup
- 🈯️ DietPi-Sync

[2018-08-31 23:30] Fourdee commented on #2013
Note to self:

~Current state breaks ASUS TB testing:~ Resolved with https://github.com/Fourdee/DietPi/commit/806ccd09a7b3dfee3301ac4025dde75c5909c9da
[code]

[2018-08-31 23:43] Fourdee commented on #1664
Note to self:
🈯️ fixed with commit below, stick with byte output
[code]

[2018-08-31 23:49] Fourdee commented on #2044
Completed.

[2018-08-31 23:49] #2044 closed, assigned to adamotte, Fourdee

[2018-09-01 09:27] actraiser30 opened #2047 "PlexPy failed to start"
Hello
On a fresh image updated to 6.14 in a raspberry pi 3 i installed plex server / proftp file server and plexpy all ok rebooted and after upon starting of the services i get Failed in red in PlexPy service

[2018-09-01 11:29] Jaffa opened #2048 "DietPi-Swapfile auto-sizing can try to create it larger than available free space"
#### Details:
- Date           | Sat  1 Sep 12:16:01 BST 2018
- Bug report     | N/A
- DietPi version | v6.14
- Img creator    | DietPi Core Team
- Pre-image      | Raspbian Lite
- SBC device     | RPi Zero W (armv6l) (index=1)
- Kernel version | #1134 Tue Aug 14 16:58:07 BST 2018
- Distro         | stretch (index=4)
- Command        | fallocate -l 1567M /var/swap
- Exit code      | 1
- Software t

[2018-09-01 11:46] Jaffa commented on #2048
`/DietPi/dietpi/func/dietpi-set_dphys-swapfile` currently does:

[code]

We can get the disk space available in MB for `$SWAP_LOCATION` with, and half it, with:

[code]

[2018-09-01 12:00] MichaIng commented on #2034
PR is up for testing: https://github.com/Fourdee/DietPi/pull/2049

[2018-09-01 12:06] Jaffa commented on #2048
Confirmed the following works:

[code]

[2018-09-01 12:13] MichaIng commented on #2048
@Jaffa
Many thanks for your report and providing already the solution 👍.

We already have a free space check function (`[  OK  ] DietPi-Software | Free space check: path=/ | available=1207 MB | required=500 MB`), but the 500M is just checked as default on `dietpi-software` start, but is not used/checked on swapfile creation. We will fix this for v6.15.

[2018-09-01 12:14] Jaffa commented on #2048
Ah, cool. Great stuff!

[2018-09-01 12:57] Jaffa opened #2050 "Support pre-configuration customisation script"
#### Is your feature request related to a problem? Please describe:
I'd like to create a series of appliances based on DietPi. These would have the same `dietpi.txt`, and ideally be based on flashing the same image.

However, there are some changes that are node-specific. For example, hostname. Changing the hostname in `Automation_Custom_Script.sh`, even using `/DietPi/dietpi/func/change_hostname`

[2018-09-01 14:34] MichaIng commented on #2027
@carlosedp

"Correct" is properly not the right term here 😜, as it depends on what you want. If you simply want your network interfaces to not use IPv6, then it "does the job" on all kind of IPv6 implementations.
But it is still loaded and generally available, check: `ls -l /proc/sys/net`
If you want to keep your system as slim as possible in terms of RAM usage, loaded modules/functions and/or com

[2018-09-01 15:05] MichaIng commented on #2007
Can someone verify, that Pi-hole does not show blocking page on clients?

I tested again. Blocked pages are redirected by Pi-hole DNS server to 0.0.0.0.
On clients of course that cannot involve any blocking page:
[code]
On the server, 0.0.0.0 is redirected to localhost, which is blocking page on Pi-hole default install or DietPi install with above steps:
[code]

I tried it as said with official Pi

[2018-09-01 16:18] MichaIng commented on #2050
@Jaffa
Thanks for your request.

Jep, the automation custom script is applied after `dietpi.txt` settings on first run and `/DietPi/dietpi/func/change_hostname` just has affect after reboot.
And everything is applied after first DHCP/network connection, which would be needed differently in your case. A bid difficult to implement a reasonable method here, since some custom setup steps might require

[2018-09-01 18:29] Fourdee commented on #2048
@Jaffa @MichaIng

Resolved for v6.15 (ETA: few days release):
[code]

Completed.

[2018-09-01 18:29] #2048 closed, assigned to Fourdee

[2018-09-01 18:35] MichaIng commented on #2043
@LexiconCode
Were you able to resolve it?

[2018-09-01 18:44] MichaIng commented on #2047
@actraiser30
Thanks for your report. I will try to replicate, although on VM.

[2018-09-01 19:00] MichaIng opened #2051 "DietPi-Sync | Add restore option, or, merge into DietPi-Backup?"
## Creating a feature request:

#### Is your feature request related to a problem? Please describe:

- Restoring from a dietpi-sync currently needs to be done manually.

#### Describe the solution you'd like:

- Would make sense to add a restore option.

#### Additional context:

- From forum: https://dietpi.com/forum/t/dietpi-sync-restore/2521
- Thanks to @midnightwatcher for requesting.

[2018-09-01 19:19] Fourdee commented on #2051
@MichaIng

I've considered scrapping dietpi-sync, and upgrading dietpi-backup to support multiple source and target directories.

Its basically the same programs.

Only issue is with automated sync, and, supporting additional backup types + locations. Will take some time.

[2018-09-01 19:29] MichaIng commented on #2051
@Fourdee
Jep, had the same idea, although thought the other way round, that a backup basically just a special sync 😆. Either way, makes sense to merge both 👍.

[2018-09-01 19:30] Fourdee commented on #2047
ASUS TB S test (ARMv7):
- 🈴 ```dietpi-software install 42 146 94```

[code]

[2018-09-01 19:32] Fourdee commented on #2047
@actraiser30

Solution is to install the following pre-req package:
[code]

We'll get this fixed for v6.15 also. Thanks for reporting 👍

[2018-09-01 19:37] MichaIng opened #2052 "DietPi-Software | WireGuard: Lightweight modern in-kernel VPN"
## Creating a software request:
- Ref: https://dietpi.com/phpbb/viewtopic.php?f=12&t=4540
- @hd888 thanks for request!

#### Vote for it on FeatHub: https://feathub.com/MichaIng/DietPi/+14

#### Give us some formal software information:
- Software title | WireGuard
- Short description | Fast, modern, secure VPN tunnel
- GitHub URL (if available) | https://git.zx2c4.com/WireGuard/
- External URL (i

[2018-09-01 19:58] Fourdee commented on #2047
Fresh test installed passed 🈯️

Completed.

[2018-09-01 19:58] #2047 closed, assigned to Fourdee

[2018-09-01 20:23] Fourdee commented on #548
@MichaIng

Quick question, did you parcel turn up that I sent a few weeks back, one with the SBC and something to hold? 😄

[2018-09-01 22:49] MichaIng commented on #548
@Fourdee
Ah jep, sorry totally forgot to reply. Too busy the last days/weeks 😅. The mugs are great ☕️ 👏.
Do not yet find a task for the SBC. Maybe when study is finished and job is there, so I can afford some media gimmicks 😃.

Many many thanks, I really appreciate ❤️!

[2018-09-02 05:40] 112RG opened #2053 "Pi-Hole fails to install "Check if remote file exists""
#### Details:
- Date           | Thu 28 Jun 03:22:07 BST 2018
- Bug report     | N/A
- DietPi version | v6.14
- Img creator    | DietPi Core Team
- Pre-image      | Raspbian Lite
- SBC device     | RPi 2 Model B (armv7l) (index=2)
- Kernel version | #1134 SMP Tue Aug 14 17:10:10 BST 2018
- Distro         | stretch (index=4)
- Command        | Connection test: http://install.pi-hole.net
- Exit code

[2018-09-02 05:48] #2053 closed, assigned to nobody

[2018-09-02 05:48] 112RG commented on #2053
NTP time was out

[2018-09-02 16:20] Fourdee commented on #548
@MichaIng

Awesome 👍 Good to hear they arrived.

[2018-09-02 18:44] Fourdee commented on #2034
Note to self:
- 🈯️  General Testing
- 🈯️ Test Allo GUI

[2018-09-02 18:55] Fourdee commented on #2013
🈯️Final testing:
- Testing with 2 binds
- All fstab entries are correct after running the main application
- Bind entries are not show in dietpi-drive_manager menu (as per design)
[code]

Resolved for v6.15.

[2018-09-02 18:55] #2013 closed, assigned to Fourdee, MichaIng

[2018-09-02 20:06] Fourdee commented on #2034
@MichaIng

Yep seems fine, although, been unable to test with any "incompatible terminal" as i know of none 🤣 .

[2018-09-03 06:26] mohitverma123 opened #2054 "DietPi-Installer | Allow WiFi-only install, workaround NetMan uninstall"
Orange pi lite has only WIFI and not an ethernet port, hence wifi is only possible network access for it.
The install script removes wifi (even after we select Yes, I need wifi modules)

[2018-09-03 09:22] MichaIng commented on #2034
@Fourdee
I tested with PuTTY and changed the terminal string in Connection > Data.

But another test that makes sense is to use another system with an exotic terminal emulator installed and SSH from within it.
I will try this today.
________________
€: Indeed hard to test. Installed a desktop and some random terminal emulator to use for SSH client. On LXDE all terminal emulators seem to set TERM=x

[2018-09-03 09:34] Jaffa commented on #2050
The script could be the same on every card, but make changes unique to the device. For example, it could be based on CPU ID, MAC address, board serial number or even a random number. This means I can start off with the same SD card image, but still have each device self-customise at start up.

Thanks for the `change_hostname.service`. `/DietPi/dietpi/func/change_hostname` has changed the hostname

[2018-09-03 09:36] Jaffa commented on #2048
@Fourdee, thanks. That works great when you've explicitly requested a size (i.e. >= 2). When it's set to 1 (AUTO), should it be more intelligent (as I suggest above) in selecting a size? Or should it just give up, as you've done?

[2018-09-03 10:25] bboffey commented on #2007
I think behaviour changed in version 4 of pihole. See the docs on blocking modes
https://docs.pi-hole.net/ftldns/blockingmode/

[2018-09-03 10:50] MichaIng commented on #2054
@mohitverma123
Thanks for your report. We will investigate.

As an active eth0 connection is expected (https://github.com/Fourdee/DietPi/blob/master/PREP_SYSTEM_FOR_DIETPI.sh#L8), this might be a general issue on **WiFi-only devices**.

Maybe we find a way to preserve WiFi connection (and settings) when no eth device is available. I hope `NetworkManager` does not always drop connection on removal,

[2018-09-03 11:49] MichaIng commented on #2050
@Jaffa

Ah yes that makes sense, thanks for clarification.

Jep as said, all DietPi scripts currently run after first network access, at least if there is a DHCP server in the network and that is not too slow.
https://github.com/Fourdee/DietPi/blob/master/dietpi/boot does first setup steps (including hostname change as very first step) on first boot and is initiated by: https://github.com/Fourdee/

[2018-09-03 12:05] MichaIng commented on #2007
@bboffey
Many thanks for the link. This really clarifies everything.

So default is `NULL` blocking mode, which leads to no blocking page is shown on clients.
The benefits are obvious, but I am not sure if users mostly expect a blocking page or not. Advantage of the blocking page is also that you have a clear info that the page is blocked, instead of white page that without a bid investigation (wh

[2018-09-03 12:26] Jaffa commented on #2050
Ah, I hadn't spotted that `dietpi/boot` was started by systemd. I hadn't done enough backtracking; I'd _assumed_ that `dietpi/boot` was the init script (but hadn't checked). OK, hmm, makes sense.

Or, split `dietpi/boot` into a service for the network setup stages, and one for after. Then, instead of rewriting the service you remove/disable it once you get past that point (or make it exit as a no-

[2018-09-03 12:59] MichaIng commented on #2050
@Jaffa
Jep we do not reinvent the wheel and rely on systemd as init system and service management.

Jep, has several advantages. Generally I thought about separating first run setup/automation from DietPi-Boot and DietPi-Software, also to reduce the amount of code that is loaded after all setup steps are done. But this means a deeper rewrite and careful testing.
_____
About dietpi.txt.d/ also woul

[2018-09-03 16:22] MichaIng commented on #1814
@Fourdee
Just made some review about Odroid GPU acceleration:
- It's still the same issue with Kodi and C2: https://forum.odroid.com/viewtopic.php?f=138&t=27449&start=150#p232259
- On XU3/4 it does not seem to be an issue. Not listed on OT or latest posts: https://forum.odroid.com/viewtopic.php?f=96&t=30552&start=150
Although could be tested, to be sure.

Hope there is still investigation done by

[2018-09-03 21:47] MichaIng commented on #2052
A problem is, that the Raspbian repo does not have a sid/unstable repo, so no branch where wireguard is available: http://raspbian.raspberrypi.org/raspbian/dists/

Debian armhf usually works on Raspbian/RPi systems, so we can add Debian sid there as well and test, but all this makes it even more experimental 😜.

[2018-09-03 23:10] nnovaes opened #2055 "Dietpi becomes unresponsive"
## Creating a bug report/issue:

My dietpi server becomes unresponsive and i can't seem to find the cause of this issue. it happens at random times, after a couple hours the server starts. after starting the server all the installed software works as expected.

this is what i have installed:

[* ] 1    Samba Client: access network shares

[2018-09-04 08:31] Fourdee commented on #2048
@Jaffa

Regardless of the size input (auto or manual), if the required space is lower than what is available, the swapfile will simply be removed (if it exists), then disabled.

Please bear in mind, this fix will be only be available in v6.15 release. Which has been delayed a few days due to RL.

[2018-09-04 08:36] Fourdee commented on #2054
@MichaIng

Yep, correct 👍

Always been a problem with image creation on WiFi only devices with ```NetworkManager``` installed.

The only solution I found, was to run PREP, via serial connection and manually reconfigure WiFi if required.

We'll need to see if we can upgrade PREP script to:
- Detect WiFi only device
- Prompt user for WiFi creds
- Somehow apply the settings and reconnect after netman

[2018-09-04 11:25] Jaffa commented on #2048
@Fourdee, understood.

Sorry I wasn't clear: my suggestion for auto was that the calculation of the "required space" takes into account the "available space".

Currently auto results in "required space" of:

[code]

However, above, I propose changing auto to have a "required space" for the swap file of:

[code]

Then, if you have swap enabled & in auto size mode, you'll end up with a size appropri

[2018-09-04 11:33] MichaIng commented on #2048
@Jaffa
Makes sense, although `$AVAILABLE / 2` is perhaps a bid random and still dangerous if the available space is already small. Maybe better `$AVAILABLE - 500M`, as 500M is what we check before starting up dietpi-software, and block creation completely if result is negative, thus less then 500M is available?

Maybe also 200M free is sufficient for daily work + some software install. `dietpi-sof

[2018-09-04 11:42] Jaffa commented on #2048
Yep, `$AVAILABLE - 500M` (or similar) would be smarter.

[2018-09-04 12:10] borpin commented on #1308
This is really old - was it before V6?

I think it is likely that the user would use HA from the same user account as they installed it from (unless unattended).  Adding it to that users home folder would help new users.

Perhaps an item in the install instructions would be sufficient.

[2018-09-04 12:51] MichaIng commented on #1090
@Fourdee
Not sure if it's related, but something I generally wanted to check throughout `dietpi-software` installs:
- `cp -R OpenBazaar-Server/* /etc/openbazaar-server/` does not copy hidden files/folders. For `.gitignore`, `.github/` and such, if no regular update via `git` is needed, this is no issue or even wanted, but OpenBazaar repo has at least one other hidden files that might affect the bu

[2018-09-04 12:53] borpin commented on #1308
By configuring HA to use ```/mnt/dietpi_userdata/homeassistant``` as the configuration dir, is there a risk if 2 users use HA on the same device that they will both point to the same config files?  Would they both have the same permissions?

Should ```/mnt/dietpi_userdata/homeassistant``` actaully be ```/mnt/dietpi_userdata/<user>/homeassistant```?

Again, if this is a specific design/setup decisi

[2018-09-04 13:13] MichaIng commented on #1308
@borpin
Indeed from the ground up DietPi was designed as a single user (let's say single login) system. We just recently adjusted some installs to place data and config folders inside `/mnt/dietpi_userdata/`, on the one hand because this can be easily placed onto external drives (to reduce SDcard I/O and/or speed up file transfer), on the other hand because it makes it easier to backup and restore

[2018-09-04 14:18] thaihugo commented on #2052
I have a fonctionning wireguard setup on my DietPi using this setup:
https://www.tnhh.net/posts/wireguard-router-firewalled-computer-raspberry-pi.html

It even updates itself nicely with new DietPi-updates with kernel updates

[2018-09-04 14:25] thaihugo commented on #1542
Sorry to add a comment on a closed item, but I’m using an USB adapter on my raspberry pi with DietPi. The setup is working but if by mistake I go to the WiFi parameter in DietPi-config, it will replace my wlan1 by wlan0 in /etc/interface/network. On my setup, it will exclude my access to the device (create_ap for an access point). It there a parameter or  a way to ask DietPi not to touch to my net

[2018-09-04 17:14] troyane commented on #738
@Fourdee
I've tried mentioned distributive NanoPi Neo Air Jessie for NAS and Armbian. On the middle of execution (I suppose) of PREP I got error (the same for both OSes) -- see [nanopineoair_dietpi.txt](https://github.com/Fourdee/DietPi/files/2349534/nanopineoair_dietpi.txt). Sorry for "bad formatting", since it was hard to copy-paste the message.

Can't understand why did it got such problems. Pr

[2018-09-04 17:49] LexiconCode commented on #2043
It was indeed a failed install of nextcloud. After the fourth and fifth fresh install everything work as expected. Since I can't replicate it again I would consider closed.

[2018-09-04 18:06] MichaIng commented on #2043
@LexiconCode
Okay, strange that it  needed several attempts.

The occ install command should have some error output then, I will try to implement some error handing of this, but it was not too easy AFAIK due to the commands error code and handling. As the error could have been earlier on e.g. MySQL install or configuration, would be nice to have a log file that contains the whole dietpi-software o

[2018-09-04 18:45] LexiconCode commented on #2043
What SBC devices do you own personally? @MichaIng.
Worst-case scenario I can just send you an image file.

[2018-09-04 19:15] carlosedp commented on #2027
I can confirm that `echo 'install ipv6 /bin/true' > /etc/modprobe.d/disable_ipv6.conf` disables the ipv6 module successfully but the Docker bridge interface gave a couple errors on dmesg and does not get loaded/created:

[code]

[2018-09-04 20:44] MichaIng commented on #2027
@carlosedp
Hmm, I guess Docker has some setting to enable/disable IPv6. Looks similar to default Lighttpd config that requires IPv6 available, otherwise throws errors.
So it is possible that Docker re-enables the blacklisted ipv6 then, which can't be done if `install ipv6 /bin/true` is used.

But indeed for most compatibility leaving IPv6 loaded (just don't use it for network interfaces via sysctl

[2018-09-04 20:59] MichaIng commented on #2043
@LexiconCode
I have a RPi2 in use here and some VMs for testing/development purpose.
Have two NanoPi here as well, but currently no time and space to set them up for a real purpose.

But it's okay, if it works for you now, we can leave this topic. I anyway planned to review and tune the ownCloud/Nextcloud install code and update some links to Nextcloud 14. I will add an error handling for the inde

[2018-09-04 21:48] carlosedp commented on #2027
I believe the most safe and workable way is using sysctl too. The module consumes 400kb of memory and I think it's acceptable to keep it loaded and avoid errors.
[code]

[2018-09-05 08:44] MichaIng commented on #2052
@thaihugo
Many thanks for this.

So just adding the Debian/sid repo would have not worked then. Needs to be checked on all RPi models, as they might behave differently?

But still, all this looks very hacky to me, in combination with wireguard considering itself as experimental and not even reaching testing repo.

If we add it on the current stage to DietPi, it should be clearly marked for our use

[2018-09-05 09:04] MichaIng opened #2056 "DietPi-Drive_Manager | Allow mounting drive to existing directory"
## Creating a feature request:

#### Is your feature request related to a problem? Please describe:

- DietPi-Drive_Manager does not allow to mount a drive to an existing directory.
- This is no issue, as long as drives are always unmounted via drive_manager, but if they were unplugged accidentally or unmounted via `umount` command, they can't be remounted via drive_manager because of this.

####

[2018-09-05 15:07] thaihugo commented on #2052
It is basically using the right binary with a wrong info for the packager. It is more complicated to force the armel armhf thing with a dpgk —force-architecture as it will block something down the line. I know it’s hackish but at least the solution is correctly integrated with apt and kernel updates.
As for the wireguard « unstable » status, You are the juge of this, but for my tests it feels more

[2018-09-05 16:01] LexiconCode opened #2057 "DietPi-Software | Nextcloud: Clients can't find CalDav/CardDav services."
- DietPi version	| `6.14`
- Distro version	| `Stretch`
- SBC device		| `Odroid HC2` or (EG: RPi3)
- Power supply used	|  Official Power Supply
- SDcard used		| ( SanDisk ultra)

#### Additional Information (if applicable):
- Software title	| Nextcloud
- Was the software title installed freshly or updated/migrated? Freshly installed
- Can this issue be replicated on a fresh installation of DietPi?

[2018-09-05 16:24] MichaIng commented on #2052
Jep, the solution is great. We could use this for some other software titles as well, possibly. If I am not wrong, we add i386 repo arch to all x86_64 images, just for 1 or 2 software titles that have no x64 package. But adjusting the packages instead of adding the arch to all devices sounds cleaner to me. Also it reduces the time and data transfer for APT updates significantly.

So for now your s

[2018-09-05 17:15] oekinger opened #2058 "Tinker S: Initial Setup Error"
#### Details:
- Date           | Thu  3 Nov 18:22:47 CET 2016
- Bug report     | N/A
- DietPi version | v6.14
- Img creator    | DietPi Core Team
- Pre-image      | TinkerOS 2.0.5
- SBC device     | Asus Tinker Board (armv7l) (index=52)
- Kernel version | #1 SMP Thu Feb 22 18:23:31 CST 2018
- Distro         | stretch (index=4)
- Command        | G_AGUP
- Exit code      | 100
- Software title | Die

[2018-09-05 18:58] Millichrome commented on #2026
In [Issue 2020](https://github.com/Fourdee/DietPi/issues/2020) you mention that it's possible to manually add the date (I am trying to install the 6.9 image on an ASUS tinker board). What file do I have to edit to manually set the date on the SD card?

[2018-09-05 23:53] Fourdee commented on #2058
@oekinger

Thanks for the report 👍

Looks like a date issue.

Please can you paste results of the following commands?
[code]

If successful, please re-run the setup process:
[code]

If problems persist, please try manually changing the APT mirror:
[code]

[2018-09-05 23:57] Fourdee commented on #2034
@MichaIng

Yep agree 👍

Great work, I believe this is the best we can do for now and should prevent the initial issue on this ticket. If additional work is required, it could be a question of "is the SSH client, following the standards correctly, if not, another SSH client should be used"?

I'll mark as completed. Please reopen if required.

[2018-09-05 23:57] #2034 closed, assigned to nobody

[2018-09-06 00:04] Fourdee commented on #2056
@MichaIng

Yep, reason for doing it this way is prevent users mounting multiple/different drives to a previous mount point (and its sub directories).

If the directory exists, it must of had a purpose, and, the user should be aware of that.

Could cause an issue if:
- User had a mounted drive, previously at that location, but it is not plugged in
- User accidentally mounts the wrong drive
- Expect

[2018-09-06 00:20] Fourdee commented on #1664
@adamotte

As we are unable to replicate the issue you are experiencing, and, rsync is providing us with the correct value (we can only assume), i'll mark this as closed.

I believe a possible filesystem issue/corruption may be the cause here, causing rsync to provide an unreasonable figure.

If problems persist, please reopen as required, and we'll try to investigate further once you are able to

[2018-09-06 00:20] #1664 closed, assigned to MichaIng

[2018-09-06 00:30] Fourdee commented on #2027
@carlosedp @MichaIng

I actually believe we should remove the option to disable IPv6, for the following reasons:
- IPv6 is now required by many applications to simply run.
- Not all SBC images we use allow for kernel boot command line options to be edited.
- If the IPv6 is built into the kernel (not module), i'am unsure if it can be disabled?
- The memory saved by disabling it, is minimal on today

[2018-09-06 00:34] Fourdee commented on #2001
```hdparm``` always returns 0 exit code, even if the device does not support its feature. So we have no way of knowing if the value has been correctly applied ☹️

We could scrape check for ```not supported```, however, this then becomes an issue if the output changes due to software updates.
[code]

---

```-S```
The value of 0 disables spindown, the values from 1 to 240 specify multiples of 5 sec

[2018-09-06 02:02] Fourdee commented on #2001
Change to a global option for all drives, to set a desired spindown duration. APM is hard coded to 127 to allow spin down.

Applied directly with ```hdparm``` and saved to config with ```/etc/hdparm.conf```

To be honest, this is the best I can do at the moment, considering the lack of standardization from HDD manufactures, USB<>SATA converter manufactures, and, compatibility/features/limitations

[2018-09-06 02:04] Fourdee commented on #2001
### Testing:
- Find a drive that is compatible with ```hdparm``` to test
- 🈯️ Set spindown to 60 seconds, wait, verify
-- 🈯️ Working on SSD 🤣
[code]
- 🈯️ Reboot, wait, verify

[2018-09-06 02:12] Fourdee commented on #2001
Completed. However, end user results will vary due to https://github.com/Fourdee/DietPi/issues/2001#issuecomment-418939193

[2018-09-06 02:12] #2001 closed, assigned to Fourdee, MichaIng

[2018-09-06 03:06] Fourdee commented on #2001
[FAILED] DietPi-Drive_Manager | hdparm -B 127 /dev/mmcblk0
[FAILED] DietPi-Drive_Manager | hdparm -B 127 /dev/mmcblk0
[FAILED] DietPi-Drive_Manager | hdparm -B 127 /dev/mmcblk0

--------------------------------------------------------------------
- DietPi has encounted an error, and, is unable to continue        -
- Please create a ticket: https://github.com/Fourdee/DietPi/issues -
- Copy and past

[2018-09-06 03:21] Fourdee commented on #2056
Testing passed 🈯️
Completed.

[2018-09-06 03:21] #2056 closed, assigned to Fourdee, MichaIng

[2018-09-06 03:44] Fourdee commented on #2026
@Millichrome

You can set the date in file ```/etc/fake-hwclock.data``` I believe (untested).

Failing that, if NTP sync fails for you, and you've tried various NTP mirrors in ```dietpi-config```, you'll need to manually apply a date eg:
[code]

Then re-run the initial setup with:
[code]

[2018-09-06 04:02] Fourdee commented on #2050
Ok, so 1 issue and 1 feature:
- 🈯️ https://github.com/Fourdee/DietPi/commit/1d714ac6926f200401163a155b20e6c20252f4d3 Issue: Hostname change applied after network online, causes cache on network. Needs to be before
- 🈯️ https://github.com/Fourdee/DietPi/commit/1d714ac6926f200401163a155b20e6c20252f4d3 Feature: Add support for a automated script which runs at install stage -1 (after fs expand, before

[2018-09-06 05:24] blogabe opened #2059 "DietPi-Process_Tool | Netdata shows some failed apply items"
## Creating a bug report/issue:
Hi.  Two things.  The minor issue is that occured is misspelled; should be occurred :)

The not so minor issue is that well summarized at https://github.com/sparkysbc/sparky_linux_images/blob/master/Digione-dietpi-terminal.pdf but I haven't seen any issue documented here with a quick cursory check.

I have a new Allo DigiOne Signature and am seeing the two NetData f

[2018-09-06 05:52] Fourdee commented on #2050
### Testing required:
PREP
- 🈯️ /boot/Automation_Custom_PreScript.sh | Run prior to networking
- 🈯️ AUTO_SETUP_TIMEZONE=America/New_York | Run prior to networking
- 🈯️ AUTO_SETUP_LOCALE=en_US.UTF-8 | Run prior to networking
- 🈯️ AUTO_SETUP_KEYBOARD_LAYOUT=us | Run prior to networking
- :u6307: Hostname | Run prior to networking
- :u6307: WiFi automated | Run prior to networking
- 🈯️ Static IP auto

[2018-09-06 07:18] troyane commented on #1209
@Fourdee I'd like to mention that here are official images available:

* ARMbian -- https://www.armbian.com/nanopi-neo-air/
* Official Neo Air Debian image -- nanopi-neo-air_debian-nas-jessie_4.14.52_20180628.img.zip (Image File with Support for 1-bay NAS Dock, kernel:Linux-4.x.y) available from here -- https://drive.google.com/drive/folders/1_mPtgAVaRtYVfsYRgLJ15CAB_48ob_yQ

[2018-09-06 16:04] MichaIng commented on #2057
@LexiconCode

As we do not place any `.well-known` dirs into the webroot (or into nextcloud directory), or redirect those to the final Cal/Card/WebDAV URLs, you need to add the full URL.

Go to Nextcloud web UI, navigate to calendar and contacts app respectively, open settings at the bottom left. There you can copy the Cal/CardDAV URL. In my case e.g. its:
- Calendar: https://my.domain.org/nextclo

[2018-09-06 16:33] MichaIng commented on #2059
@blogabe
You screens show v6.13, but the issue shows v6.14, so I guess you tested after the `dietpi-update` as well?

Fixed the typo, many thanks! That one survived so long on so prominent location 🤣: https://github.com/Fourdee/DietPi/commit/6194e297923cd456fa0c98e3274a514a590ed96a

About the process tool failure:
- Nice and scheduler could not be applied to one of the netdata processes.
- Could y

[2018-09-06 16:56] Millichrome commented on #2026
I log into my Tinker Board DietPi install via SSH. On first connection I get a request to update the default password and run the the update program. The update routine fails with the following error:

https://i.imgur.com/WkcYKSo.jpg

I can't run any commands or do anything once I get this error (at least via SSH, I haven't tried a physical connection).

On Windows 10, I don't see any way to acces

[2018-09-06 17:05] MichaIng commented on #2026
@Millichrome
Thanks for the report.

Can't you just select the <ok> button (use <tab> on keyboard to reach that one) and can run terminal commands then?

Issue is that timesync did not yet update the system clock. You should be able to run
`systemctl start systemd-timesyncd`
as another failsafe, as well run: `apt install -y fake-hwclock`
and then run `dietpi-software` to rerun first run setup (inc

[2018-09-06 17:15] blogabe commented on #2059
Corret, @MichaIng Pic is from Allo on 6.13, but I still experience the same issue after updating to 6.14.  Per Allo, this started to happen sometime between 6.9 and 6.11.  With respect to the soundcard, I'm unsure if this issue is preventing Allo DigiOne from being the default soundcard or not.  Makes sense that it should be, but Allo offer other soundcards as well.  This may be a totally unrelate

[2018-09-07 00:44] HiDef888 commented on #2052
Thanks @thaihugo Got mine setup on my VM with no issues with those instructions!  Obviously with less trouble using the amd64 binaries.  Im a little curious if those extra steps are even necessary with a RPi 3 or not!  Apparently anytihng over armv7 is good to go with the armhf packages from what i gather.

[2018-09-07 05:51] ghost opened #2060 "Hyper-V images?"
Hi any change we can get hyper-v images?

[2018-09-07 09:08] Fourdee commented on #2050
@Jaffa

Ok, testing passed (https://github.com/Fourdee/DietPi/issues/2050#issuecomment-418973044)

Please let me know which device you intend to use, as, I'll need to update the image to use the latest code.

[2018-09-07 09:35] Fourdee commented on #2059
@blogabe

Thanks for the report :+1:

I believe netdata starts a few threads during service start. Some of those threads are finishing, before we can apply to each PID.

As such, this is more of a "info" issue, as the program itself is still functional.

Leave it with us, we'll try to improve the output and recheck PID's.

[2018-09-07 09:44] Fourdee commented on #2059
Yep, as I thought, if we delay the process apply by 3 seconds, ```10400``` no longer exists:
[code]

So we need to rerun the ```ps``` check, during the apply process
- We cant ```ps ax | grep``` as this returns ```grep``` in the result
- Solution is ```pgrep``` but this isnt supported on Jessie?

[2018-09-07 10:01] Fourdee commented on #2059
@MichaIng

~What was the issue with ```pgrep``` and Jessie?~
https://packages.debian.org/jessie/procps

👍

In that case should be fine, although needs testing on Jessie.

@MichaIng

If you have a Jessie system available, please could you check results of:
[code]

[2018-09-07 10:06] Fourdee commented on #2059
@blogabe

Fix will be applied in the v6.15 update (hopefully released this week).

[2018-09-07 10:16] Fourdee commented on #2026
I'll update the asus TB image, will resolve this issue. Due to ```wget``` without ```-no-check-certificates``` prior to ntpd sync check.
And ```fake-hwclock``` possible missing.

Will revert to 2.0.5 tinker OS due to 2.0.7 WiFi issues.

[2018-09-07 10:47] Jaffa commented on #2050
Raspberry Pi (Zero W)

On 7 September 2018 at 10:09, Dan <notifications@github.com> wrote:

--
Andrew Flegg -- mailto:andrew@bleb.org  |  http://www.bleb.org/

[2018-09-07 10:51] Fourdee commented on #1090
@MichaIng

Yep.

```git clone http://git.git /etc/wherewewantit``` should do it.

[2018-09-07 10:53] Fourdee commented on #2026
RPI ref: https://github.com/Fourdee/DietPi/issues/2050

[2018-09-07 11:36] MichaIng commented on #2060
@ghosted17
Please contribute to the existing topic: https://github.com/Fourdee/DietPi/issues/804

I am still not fully disinclined, but Microsoft does not make it easy to run different VM platforms on the same machine 😠. It's always a question, if it makes sense to go so many steps (+effort) towards a company/solution, whose goal is to be the only provider, obviously. Better focus and support the

[2018-09-07 11:36] #2060 closed, assigned to nobody

[2018-09-07 11:44] MichaIng commented on #2059
@Fourdee
Jep this should do it. However it slows down process tool execution. Perhaps could be tested/compared on slowest SBC with much installed software titles or VM with very limited max CPU usage.

An alternative would be to stick with single `ps ax`, but just in case of failure recheck process existence? Would be basically a code complexity vs performance balance.

[2018-09-07 11:47] MichaIng commented on #2058
Indeed, we really need to carefully recheck how/when time sync is applied first on (first) boot, in case delay further scripts until this is done, prompt user or such 🤔.

[2018-09-07 11:55] MichaIng commented on #2057
@LexiconCode
Just another quick question, which webserver do you use?

In case of nginx e.g. the following entries inside `location ^~ /nextcloud {` statement should do it, without creaking any other parallel Cal/CardDAV servers: https://docs.nextcloud.com/server/14/admin_manual/installation/nginx.html#nextcloud-in-a-subdir-of-nginx
[code]
There are similar possibilities for other webservers.

[2018-09-07 12:03] MichaIng commented on #2055
@nnovaes
Thanks for your report.

Do you have a chance to check the locations within the bug report failure prompt?
You can use `G_TREESIZE /path/to/location` to check dir and subdir sizes. Perhaps start with `/var/log`, which might as well provide info what exactly failed. Check especially:
[code]
for error messages until failure time.
`dmesg` can provide related error messages as well, but not s

[2018-09-07 12:16] Fourdee commented on #2026
🈯️ ASUS TB and RPi image redone

[2018-09-07 12:17] Fourdee commented on #2059
@MichaIng

Hmmm, seemed faster for me with cron + netdata installed. We'll need to do some timed tests to verify.

[2018-09-07 12:18] Fourdee commented on #2026
@Millichrome

ASUS TB image updated, should resolve the issue you are experiencing.

Please download:
https://dietpi.com/downloads/images/DietPi_ASUSTB-ARMv7-Stretch.7z

Try this image and let us know if problems are resolved.

[2018-09-07 12:22] Fourdee commented on #2050
@Jaffa

Image updated, please download:
- https://dietpi.com/downloads/images/DietPi_RPi-ARMv6-Stretch.7z

Changes:
- Hostname applied before any network up which resolves the initial issue
- Few minor tweaks to ordering of pre-network configurations
- Added support for ```/boot/Automation_Custom_PreScript.sh```, which runs pre-network and before DietPi runs setup. Simply enter a bash script there

[2018-09-07 12:27] Fourdee commented on #2055
@MichaIng @nnovaes

I suspect low memory issue and swapdisk full. Possible memory leak from one of the applications running.

@nnovaes

How much memory is the VM running, and, what is the swapdisk size?

Please run ```htop``` and take a screenshot, please paste in your reply. Ideally, if you can replicate the slow issue, please take another screenshot of ```htop```

---

Another option to assist w

[2018-09-07 12:30] Fourdee commented on #2058
@oekinger

ASUS TB image updated which resolves issues with dates.

Please re-download and re-write the latest image below:
https://dietpi.com/downloads/images/DietPi_ASUSTB-ARMv7-Stretch.7z

Local testing passed, will mark as completed, however @oekinger, if problems persist, please let us know.

[2018-09-07 12:30] #2058 closed, assigned to Fourdee

[2018-09-07 12:31] Fourdee commented on #2058
@MichaIng

The issue was
- ```fake-hwclock``` missing
- ```G_CHECK_URL``` runs before time sync check, if date is lapsed, end game for user and exit of program.

Solution is
- ```fake-hwclock``` now installed
- ```G_CHECK_URL``` which runs before timesync check, now ignores certificates and any date lapse ```no-check-certificate```
- Time sync check runs afterwards. If fails, user prompts then act

[2018-09-07 12:47] ghost commented on #2060
I also had some issues with hyper-v and couldn't run any other vm soft and had to find workarounds. But hey it's a type 1 VM so can't complain that much as all type 1 have there issues.

I'm sure there are plenty of Windows users that use Windows as there primary os / server os and use linux for exotic lightweight services. Rather then buying VMware or running Vbox. Hyper-V is free and build right

[2018-09-07 12:51] MichaIng commented on #2027
@Fourdee
Yeah, maybe you are right. I am perfectionist, thus will always prevent IPv6 from loading on my devices, where I know that it is really not needed. But I guess our current solution does anyway not work on some devices and cases (3rd party software depending on IPv6, thus re-enable the blacklisted module) and users like me can do that themselves.

- If it's a module, just `blacklist ipv6`

[2018-09-07 12:59] MichaIng commented on #2059
Interesting, perhaps `pgrep` not much slower than `grep` on `ps ax` output string? Would guess the other way round, but jep, some simple tests are the best then 😄.

[2018-09-07 13:26] MichaIng commented on #2058
@Fourdee

Actually `fake-hwclock` can just in rare cases be the issue. If it's available, just the last available system time is stored and recovered on first boot. If the image is older than usual SSL cert lifetimes (e.g. up to 3 months in case of letsencrypt), `G_CHECK_URL` will still fail.

Perhaps the following would be failsafe:
- First check general network connectivity via non-HTTPS request

[2018-09-07 13:44] blogabe commented on #2059
Thanks @Fourdee and @MichaIng

[2018-09-07 15:39] Millichrome commented on #2026
@MichaIng

This might be an SSH issue or something with my system setup, but I can't run any commands after I get the error. That's why I was trying edit the date on the old 6.9 TB image.

@Fourdee

Awesome! I will test the new image and report back in a few hours.

EDIT: Installation completed fine with the latest TB build. Thanks for the help!

Now to migrating all my applications. Hopefully the

[2018-09-07 15:42] nnovaes commented on #2055
I hate to say "feel" for such technical stuff, but... i "feel" there's something that, with time, gets stuck and then happens to freeze the VM.

Here are the outputs:

@Fourdee
Unfortunately, I can't replicate the issue and by the time it happens it becomes unresponsive.
Screenshot to htop --> [https://www.evernote.com/l/AV1IIDHD66JK8KkHywoj2l3S0Bcx6ZGCwt4](https://www.evernote.com/l/AV1IIDHD66JK8

[2018-09-07 16:34] LexiconCode commented on #2057
I'm using the Apache Web server. Normal clients desktop/android nextcloud clients connect as expected.

I believe the configuration for enabling Apache.
[code]

I'll get back to you today but with the results of testing.

Apparently I need to edit `.htaccess` but where is it stored?

[2018-09-07 22:07] kevkha commented on #1778
Is PHP 7 coming soon? Nextcloud 14 requires PHP 7 so checking. Thanks.

[2018-09-07 22:26] MichaIng commented on #1778
@kevkha

We offer Debian Stretch images, thus PHP7, for all our supported devices, besides Odroid C1.

Are you sure??? Can't believe it, haven't heard of it and it would break compatibility for a very large user space. Do you have a link for this info?
In case this would mean that we need to manually install NC13 on Jessie images and inform users that they can't use Nextcloud 14. Flash new Stretch

[2018-09-07 23:18] MichaIng commented on #1090
@Fourdee
Hmm just wanted to test on Stretch VM, but the service itself fails to start with OpenSSL error:
[code]
Can you replicate, perhaps something with libssl version?

[2018-09-08 04:28] Fourdee commented on #2059
@MichaIng

Old:
[code]

New:
[code]

---

Old is "slightly" faster, however, the issue with running ```ps``` earlier (instead of during the while loop with ```pgrep```), results in missing PID's.

Will mark this as completed.

[2018-09-08 04:28] #2059 closed, assigned to Fourdee

[2018-09-08 04:36] Fourdee commented on #2058
@MichaIng

yep, the current ```--no-check-certificate``` I added has the same effect as a http check, regardless of redirect to https:
https://github.com/Fourdee/DietPi/blob/testing/dietpi/dietpi-software#L188

Yep, after this basic internet test, then the NTP time sync check is done.

Already in place:
https://github.com/Fourdee/DietPi/blob/testing/dietpi/dietpi-software#L16011

Yep, all other G_

[2018-09-08 05:02] Fourdee commented on #1090
Interesting:
https://github.com/OpenBazaar/OpenBazaar-Server#note-this-project-is-no-longer-maintained-please-see-version-2-at-httpsgithubcomopenbazaaropenbazaar-go

[2018-09-08 05:03] oekinger commented on #2058
@Fourdee  The fix did it :-) everything works as expected. Thank you.

[2018-09-08 05:15] bitblt opened #2061 "Nanopc T4 - dietpi-software fails to access repo during initial boot due to incorrect date"
## Creating a bug report/issue:
dietpi-software fails to access the debian software repos because the system date is incorrect during the initial boot of DietPi on Nanopc-T4.  It reports the following in the log after the 5th attempt:

 Resolving deb.debian.org (deb.debian.org)... 128.31.0.62, 149.20.4.15,
                   │ 130.89.148.14, ...
                   │ Connecting to deb.debian.org (d

[2018-09-08 06:58] Fourdee commented on #1090
Ok installation and service now works, however, cannot find documentation on how to set the user/password for server.
https://github.com/OpenBazaar/openbazaar-go

Client requires a user/password for server connection.

Had no effect:
[code]

[2018-09-08 07:38] Fourdee commented on #1090
Online doc updated: https://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=1796#p1796

Everything seems to be running, however, unable to connect client.

[2018-09-08 07:39] Fourdee commented on #1090
^^ low install count.

[2018-09-08 08:26] Fourdee commented on #2026
@Millichrome

Its in a different league :+1:

[2018-09-08 08:29] Fourdee commented on #2061
@bitblt

Thanks for the report :+1:

Apologies, this is an known issue with pre v6.14 images. We have the code fix in place, however, we need to update the effected images as this code runs pre-patching:
https://github.com/Fourdee/DietPi/issues/2026#issuecomment-414383868

Please bear with us, we'll try to update this image ASAP. In the mean time, please manually set the date after the initial con

[2018-09-08 08:29] Fourdee commented on #2061
I'll mark this as closed in favor of: https://github.com/Fourdee/DietPi/issues/2026#issuecomment-414383868

[2018-09-08 08:29] #2061 closed, assigned to nobody

[2018-09-08 08:55] Fourdee commented on #1812
Replacement board arrived and works a charm!

- 🈯️ Image: https://dietpi.com/downloads/images/DietPi_RockPro64-ARMv8-Stretch.7z
- 🈯️ dietpi.com update
- 🈯️ Twitter: https://twitter.com/DietPi_/status/1038686457114845185

[2018-09-08 10:17] MichaIng commented on #2057
@LexiconCode
I believe it's
[code]
then, if `your.domain.org/nextcloud` shall work. Yours should further allow DAVdroid to find the endpoints by just entering only `your.domain.org` 🤔.

[2018-09-08 10:44] MichaIng commented on #1090
@Fourdee

https://github.com/OpenBazaar/OpenBazaar-Server#note-this-project-is-no-longer-maintained-please-see-version-2-at-httpsgithubcomopenbazaaropenbazaar-go

Really good find 👍! Would have been a waste of time to fix a deprecated software version 🤣.

Hmm, will try as well later. Also docs.openbazaar.org (whole openbazaar.org) is down, which is still linked here and there.

True... However I l

[2018-09-08 13:52] Jaffa commented on #2050
Still doing some testing. The script is definitely invoked :+1:

There's a warning on the console, as line 342 of `preboot` uses `local` outside of a function :-1:

And booting seems to hang - with some warnings so far about waiting for serial console. I don't know if this is a symptom of my script (don't think so); a symptom of 6.15; or a symptom of something else. Unfortunately, this isn't allow

[2018-09-08 16:15] Jaffa commented on #2050
![Image of boot](https://i.imgur.com/xolf5H7.jpg)

[2018-09-08 17:33] LexiconCode commented on #2057
@MichaIng
Which file do I edit and were?
`.htaccess`? `nextcloud.conf`?

[2018-09-09 05:42] Fourdee commented on #2050
@Jaffa

Whoopsie, good spot. I'll get that resolved and redo the image today 👍

[2018-09-09 05:58] Fourdee commented on #2050
@Jaffa

Can we also have a copy of the ```/boot/Automation_Custom_PreScript.sh``` script you are running? Will allow us to duplicate testing.

[2018-09-09 06:03] Fourdee commented on #2055
@nnovaes

Yep, or ```top -b -n 1 >> /root/debug.txt```

Strange that swap is being used with memory available and ```vm.swapiness=1```.

Could be filesystem IO bottle-necking. Might be worth installing netdata to analyse disk IO usage aswell.

[2018-09-09 06:17] Fourdee commented on #2060
@ghosted17

VM workstation player is free:
https://my.vmware.com/en/web/vmware/free#desktop_end_user_computing/vmware_workstation_player/14_0

Allows you to run multiple VM's on a windows system. Its basically the old Player + multiple VM's and improved control.

[2018-09-09 06:30] Fourdee commented on #1308
@borpin

@MichaIng Has pretty much covered the original questions, however, i'll add a little to this aswell, try to clarify.

The config file is a single item required by the program, regardless of the amount of users on HA. To prevent additional users from making changes to the HA config files, it would require HA to implement a user login system. Its not something we can do our end, as running

[2018-09-09 06:30] #1308 closed, assigned to nobody

[2018-09-09 07:15] Fourdee commented on #1812
Completed.

[2018-09-09 07:15] #1812 closed, assigned to Fourdee

[2018-09-09 07:41] Fourdee commented on #2050
@Jaffa

Image updated, removes the local issue:
https://dietpi.com/downloads/images/DietPi_RPi-ARMv6-Stretch.7z

Confirmed testing passed:
- 🈯️ ```/boot/Automation_Custom_PreScript.sh ```
[code]
- 🈯️ No hang during boot

@Jaffa

If problems persist, please attach the  ```/boot/Automation_Custom_PreScript.sh ``` script which you are using so we can assist with debugging.

[2018-09-09 08:08] Fourdee commented on #1090
@MichaIng

Yep, although, i didn't notice this with go 1.9 and ARMv7. Only go 1.11 and ARMv8.

[2018-09-09 08:24] Fourdee commented on #1090
~Debug logging has no effect?~
https://github.com/OpenBazaar/openbazaar-go#options

```/mnt/dietpi_userdata/openbazaar/logs```

[code]

[code]

- No changes to ```ob.log``` when trying to connect from OB client
[code]

[code]

Only changes to config (```$G_FP_DIETPI_USERDATA/openbazaar/config```) are (password is ```dietpi```):
[code]

---

Endless logfile created for networking info, even with ``

[2018-09-09 10:30] Jaffa commented on #2050
Watching the full boot, the log runs:

[code]

Looking at `preboot`, it does:

[code]

This risks losing stderr, so I suggest we want a `2>&1` in there, so that stderr gets captured by `tee` into the log as well.

I've re-flashed the image and tried it without my `Automation_Custom_PreScript.sh` and it **doesn't** hang waiting for a serial console. So it _is_ something my script is doing.

I narro

[2018-09-09 11:03] ghost commented on #2060
thanks for the info but I run Win server 16 with hyper v servers and they are rock solid. Don't know how reliable it would be to run vm players that are on 24/7 server and have them auto start / shutdown with Windows.