[2018-10-16 20:06] MichaIng commented on #2105
🈯️ Strange, testing exactly the same on my Buster RPi does not has the issue:
[code]

🈴 Retest on Stretch VM:
[code]

🈯️ Test on Buster VM:
[code]

🈴 Test on Jessie VM for completeness
[code]

So on `tput` (ncurses-bin) version from Debian Buster repo (6.1 vs. 6.0) the cols/lines estimation seems to work differently and does not rely on any not redirected output stream. However need fix/workaround

[2018-10-16 21:34] Lanneer487 commented on #2133
I use rpi-monitor to monitor my pi and there is no use of the swap file.
@MichaIng this is a screenshot of cat /proc/swaps
<img width="560" alt="schermafbeelding 2018-10-16 om 23 33 15" src="https://user-images.githubusercontent.com/9874656/47048907-0ee82b80-d19c-11e8-8e7e-1dee61c5a254.png">

[2018-10-16 21:35] dangamboa commented on #2142
I can't use the lower level format option, I get an error

Already tried reconnecting the adapter but can't login

[2018-10-16 22:04] Lanneer487 commented on #2133
with the swapfile 2gb, the pi hangs for 15 minutes and then get back. Is this normal?

[2018-10-16 22:09] MichaIng commented on #2133
@roelfoubert
What you mean by `get back`? The swap file reverts?

Is your SDcard full? To check: `df`

[2018-10-16 22:11] Lanneer487 commented on #2133
no after 15 minutes my pi works as normal. but I couldn't access my pi for 15 minutes. I'm using a usb and it has 20gb free

[2018-10-16 22:17] Lanneer487 commented on #2133
Do you think there is a solution or is the best way to buy another pi and divide my services?

[2018-10-16 22:31] MichaIng commented on #2133
@roelfoubert

Ah jep, you wrote that above already, sorry forgot.

Could you please paste/take a picture of the output of command: `dmesg`? It has much lines, the last ones that fit on the screen/terminal should be sufficient.

Fourdee and Atavic mentioned that a too high USB flash temperature could be an issue. Did you check with hands, if it is hot? I/O performance of your flash should be no pro

[2018-10-17 00:01] Atavic commented on #2133
Is there a script to test the actual transfer rate of USB drives? I always see tiny USB devices as problematic.

[2018-10-17 05:15] dangamboa commented on #2142
Ok I found the problem

I noticed that the Android Tool by default has the address 0x000B2000 for their rootfs.img but in the  FriendlyDesktop image the parameter.txt file has the address 0x00030000 and I forgot that I had to manually change it when I flashed their image to make it work with my board

I changed the address for the DietPi rootfs and it worked, could you check if that address also w

[2018-10-17 08:37] Fourdee commented on #2142
@LieDanG

Yep, i'll run a test.

Thanks, i'll check. VNC4?

[2018-10-17 09:21] Fourdee commented on #2142
@LieDanG

For shared desktop mode with VNC to work, a desktop must be running on the system.

🈴 Ah there is an issue with our VNC script under shared mode. Will be resolved for next release.

[2018-10-17 10:52] Fourdee commented on #2126
@ezekini

Thanks,

Try removing the offending packages:
[code]

Then reinstall SiCKRAGE via ```dietpi-software```, see if it passes.

---

🈯️ Confirmed fresh install on C2 is fine, must be limited to users current system.

[2018-10-17 12:36] ezekini commented on #2126
pyasn1 went ok, but the other on returned:  `Cannot uninstall 'simplejson'. It is a distutils installed project and thus we cannot accurately determine which files belong to it which would lead to only a partial uninstall.`

[2018-10-17 17:56] Lanneer487 opened #2147 "Dietpi-services doesn't start at reboot"
I bought a second pi and divide my services on the 2. I start editing the include_exclude file.
After rebooting dietpi-services do not start automatically.
What command do I need to use to get it right?

[2018-10-17 18:55] Fourdee commented on #2126
@ezekini

Feeling the python love 😄

Ok, will take a look tomorrow:

REF:
- https://github.com/pypa/pip/issues/5247#issuecomment-381550610

More to the point, why is SiCKRAGE (or pip) trying to remove following?
[code]

[2018-10-17 19:00] #2147 closed, assigned to nobody

[2018-10-18 03:19] Drew80 opened #2149 "DietPi-Drive_Manager | Samba server: File transfer larger than 4 GB to Mac client fails"
## Creating a bug report/issue:

#### Required Information:
- DietPi version	| 6.16
- Distro version	| stretch --  9.5
- Kernel version	| Linux pinebox 3.10.105-bsp-1.2-ayufan-77 #1 SMP PREEMPT Sun Jul 9 12:09:30 UTC 2017 aarch64 GNU/Linux
- SBC device		| Pine A64 - 1G Kickstarter board (aarch64)
- Power supply used	| 5V 2A
- SDcard used		| Lexar 4G

#### Additional Information (if applicable):
-

[2018-10-18 15:42] Fourdee commented on #2026
For BIOS/CSM:
- Remove all HDD's from system (ensures GRUB doesnt pick them up)
- 1 USB stick with Debian installer
- 1 USB stick for installing to
- After install, remove Debian USB stick
- Make sure ```fstab``` uses the PARTUUID, eg:
[code]

Then read the USB stick to an image.

Cant remember if we need to change any GRUB settings, been a while.

---

UEFI:
- Install Debian onto Z83 (PC with 1 H

[2018-10-18 15:49] MichaIng commented on #2149
@Drew80
Thanks very much for your report.

At first I thought it can't be a permissions issue, since small files are transferred successfully and only large do not. Thought about a limitation of either the Mac file system or samba (config) for files e.g. larger than 4 GB.

On the other hand:

Sonarr seems to create files with 755 permissions, which leads so samba user (which is "dietpi") should no

[2018-10-18 15:52] Fourdee commented on #2149
@Drew80

Thanks for the report Drew 👍

Interesting, 32bit/FAT limitation? Is the Mac 64bit system + OS?

Also what filesystem are you transferring from Pine to Mac OS, Pine is ext4, Mac is?
[code]

[2018-10-18 15:55] Fourdee commented on #2149
I'll setup a pine and see if I can replicate SMB to windows (don't have a Mac).

[2018-10-18 16:29] Fourdee commented on #2144
@MichaIng

Works a charm, great work 👍

Will mark as completed.

[2018-10-18 16:29] #2144 closed, assigned to MichaIng

[2018-10-18 16:31] Fourdee commented on #2133
@Atavic

Yep, ```dietpi-config``` > Tools > Benchmark

[2018-10-18 16:32] MichaIng commented on #2026
@Fourdee

Does initramfs (from final image/system) use the fstab entries from the partition/drive it is loaded from? Then of course editing fstab would resolve it. However since I could not find a way to edit the fstab from within initramfs (could not mount, since there is no "file system" to mount to), this needs to be done from another system. Anyway needed to run zerofree e.g.

If the root part

[2018-10-18 16:49] Fourdee commented on #2026
@MichaIng

Actually, ignore everything I just said in regards to PARTUUID, UUID will work fine, that is what ```update-grub``` will use.

Can check what gets applied with:
```/boot/grub/grub.cfg```

[code]

[2018-10-18 17:55] Fourdee commented on #2142
@LieDanG

This did not work for my system, failed to boot.

As such, i'll mark this as possible info, should any else experience the same issues you did.

[2018-10-18 18:06] Fourdee commented on #1171
@sal666

Many thanks for this, and, apologies for the delay 👍

We need to update this image, and be able to replicate rEFInd install and configuration if we are to switch. Are you able to share how you converted this image from grub to rEFInd?

[2018-10-18 18:35] Drew80 commented on #2149
@MichaIng

I copied over 2 files, file_1.m4v (4.21GB) and file_2.m4v (3.95GB) using the smb connection and connected with user dietpi to the share from my mac to the pine64

On my mac selected both files dragged and dropped below is the behaviour of both files.
- file_1.m4v
-- gets the same error as I listed above
`The Finder can't complete the operations because some data in "file_1.m4v" can't be

[2018-10-18 18:36] Drew80 commented on #2149
@Fourdee

My mac is a 64 bit machine
[code]
The OS is macOS High Sierra version 10.13.6
The filesystem on the mac is APFS

[code]

[2018-10-18 18:57] MichaIng commented on #2054
I successfully installed DietPi via preparation script on a WiFi-only device with direct console access. netman however was not pre-installed on the fresh Debian image, installed via Debian netboot installer.

- NetworkManager uses `wpa_supplicant` (or equivalent) as backend for WiFi connections, if available. Hence at least if wpa_supplicant is used, the WiFi credentials will survive.
- It invoke

[2018-10-18 19:06] MichaIng commented on #2149
https://en.wikipedia.org/wiki/Apple_File_System:

So file size is definitely not a limitation on the new Apple file system. We could do some web research to check how well samba works with this (quite new) file system client side, or if the MacOS samba client itself has limitations.

Fourdee already runs the test for Pine64 => Windows, to sort out either Pine64, DietPi samba server or system is th

[2018-10-18 19:20] MichaIng commented on #2105
Issue resolved:
- `dietpi-update` from v6.17.4
![G_WHIP issue](https://user-images.githubusercontent.com/28480705/46263802-42785400-c514-11e8-9574-6a6b10261f69.png)
- `dietpi-update -1` afterwards
![patch_fix](https://user-images.githubusercontent.com/28480705/47178451-8b554880-d31b-11e8-8f36-41a0769e35e5.png)

Will mark as closed!

[2018-10-18 19:20] #2105 closed, assigned to MichaIng

[2018-10-18 21:42] Fourdee commented on #2149
@MichaIng

Setting it up now, will report back later or tomorrow.

[2018-10-18 21:49] Fourdee commented on #2149
@Drew80

Please try connecting the Samba share with CIFS, as per the answer to:
https://discussions.apple.com/thread/5804160?answerId=5804160021#5804160021

Please let us know if 4GB> files are reported as the correct size, and, transferable back to Mac.

[2018-10-18 22:32] Fourdee commented on #2149
Notes:
- ARMhf?
[code]

- https://github.com/nzbget/nzbget/issues/35

[2018-10-18 22:41] Fourdee opened #2153 "Pine A64 | No sound?"

[2018-10-18 23:17] MichaIng opened #2154 "General | "proc" mount needed inside /etc/fstab?"
Just recognized on fresh Debian system that `/etc/fstab` contains the rootfs only, especially no proc mount declaration.

Verified that this is not just since Stretch, but on Jessie it's the same:
[code]

Seems not to hurt, but do we want to clean DietPi fstab a bit, making `#TMPFS, MISC` to `#TMPFS` only? 🙂

[2018-10-19 00:56] Drew80 commented on #2149
@Fourdee

I loaded up file_1 & file_2 onto a USB stick and got them onto the Pine64 without any issues.  I also changed all of the permissions to match what we've had them set at before nzbget:dietpi and chmod of 666

From my mac i connected to the Pine64 using
`cifs://<ip_of_pine64>`

It connected ok but it still would not let me transfer either of the files using the my mac connected to the pine

[2018-10-19 06:06] MichaIng opened #2155 "DietPi-Software | Kodi: Shutdown/Restart options disappeared"
https://dietpi.com/phpbb/viewtopic.php?f=11&t=4596&sid=604d72c431f39c16f16c5dd61ab8284f

[2018-10-19 10:09] Fourdee commented on #2149
@Drew80

Thanks for trying Drew.

Ok test with following:
[code]

🈯️ Transfers fine.

I'am unable to test a NZBGET download, lack newzbin sub. However, I believe the issue is NZBGET running under a 32bit binary, and, limiting downloaded files to 4GB< size.

@Drew80

We can confirm this by making a test 5G file:
[code]

- Then try to transfer the file over Mac
- Also check the file size of test fil

[2018-10-19 10:14] Fourdee commented on #2149
@Drew80

Also, in the NZBGET GUI, check the messages tab + errors, for extraction/download issues.

[2018-10-19 11:41] MichaIng commented on #2149
Can it be, that the binary build arch limits file sizes it can handle? I though this is always just a matter of the underlying OS + file system, how large files it can allocate.

Also: https://nzbget.net/installation-on-linux
- It should detect the correct architecture automatically, thus on Pine64 it should be arm64.
- Debian repo also has a arm64 version: https://packages.debian.org/stretch/nzbg

[2018-10-19 12:14] MichaIng commented on #2103
@frankdugan3 @Fourdee
To go forward with this, perhaps workaround for v6.17:
- It's not (just) `dietpi-wifi-monitor.service` that breaks, but generally WiFi + Ethernet being enabled the same time (Ethernet plugged + both interfaces up), that break WiFi connection then?
- Does the subnet play a role, so only issue if both are on different subnets?
- WiFi Hotspot install is not broken by this? Since

[2018-10-19 12:26] sal666 commented on #1171
@Fourdee
Hi, instructions to convert the image from grub to rEFInd are [here](https://github.com/Fourdee/DietPi/issues/1171#issuecomment-391682301).

Good news is that grub have already been [patched](https://git.savannah.gnu.org/cgit/grub.git/commit/?id=446794de8da4329ea532cbee4ca877bcafd0e534) to support Intel SoC systems (i.e. Apollo Lake, where grub was not able to boot and only showed a singl

[2018-10-19 21:01] carlosedp commented on #1986
Usually not because of the DTBs for each board. This seems very similar in specs to Rock64 from Pine64. The Rockchip tree doesn't contain it but I believe Firefly probably do. Need to check this once I get some time.

[2018-10-20 09:56] Fourdee commented on #2154
@MichaIng

I took it from the Raspbian fstab, a long long time ago. Will remove it and test.

[2018-10-20 10:12] Fourdee commented on #2154
@MichaIng

proc is not required, it can removed. Kernel/SystemD mounts it automatically.

[2018-10-20 11:22] Fourdee opened #2156 "DietPi-Software | O!MPD/myMPD: Database update fails on current upstream versions"
- 🈯️ YMPD is fine
- 🈴 MyMPD does not update database, stuck in loop. Browse button has no effect.
-- 🈯️ Permissions test:
[code]
- 🈴 OMPD does not update database, stuck in loop
[code]

[2018-10-20 14:22] Fourdee commented on #803
- Xorg broken under Stretch due to fbturbo no longer being available. fbdev fixes that.
- No matter what is placed under this, it has no effect:
[code]

The above is what the calibrator told me to use

[code]

[code]

[2018-10-20 14:31] Fourdee commented on #803
Using evdev method:
https://github.com/notro/fbtft/issues/445#issuecomment-354714529
[code]

[2018-10-20 15:01] Fourdee commented on #803
Resolved with setting evdev and using 270 rotation in config.txt.

However, still gives us an error, but it works 🤣
[code]

[2018-10-20 15:03] Fourdee commented on #803
Re-install test:
- 🈯️

[2018-10-20 15:13] #803 closed, assigned to Fourdee

[2018-10-20 17:06] Drew80 commented on #2149
No errors in the Errors tab under the messages in the NZBGet messages tab

[2018-10-20 17:26] Drew80 commented on #2149
@Fourdee
@MichaIng

### **_SUCESS!!!!_**
I did a bunch of google-foo and found this on the Raspberry Pi website.
https://www.raspberrypi.org/forums/viewtopic.php?t=26826

Netatalk install the Apple File Protocol which is Apples version of Samaba

Samba share
`smb://192.168.1.1`

Apple File Protocol
`afp://192.168.1.1`

I followed the steps which were basically

Installation:
`sudo apt-get install

[2018-10-20 17:29] Drew80 commented on #2149
@Fourdee
Still want me to test these with the AFP working?

[2018-10-20 18:08] tomillr commented on #1171
Could this lead to an official DietPi-Image that runs on Apollo Lake-based devices out of the box?

In that case I'd be willing to help out with testing on a Beelink AP34.

[2018-10-20 18:49] Millichrome commented on #2140
@MichaIng

I was able to do WiFi install using the master branch, but not the beta branch.

The ethernet install was for a clean image. No additional applications or modification other than setting the channel to beta.

I will try out the 6.17.7 version advertised by the dietpi-update and report back.

[2018-10-20 21:14] dangamboa commented on #2142
@Fourdee

Did you changed the address both in the Android Tool and in the parameter.txt file?

[2018-10-21 09:03] dezren39 opened #2157 "DietPi-Software | Open-iSCSI"
open-iscsi is one of the most common iscsi initiators. I plan to hook some pi's up to a nas running a raid array using iscsi for block level access, and so it'd be convenient to install from configuration. I'll likely setup a post-install install script that includes it for now. It would be a useful addition to nfs samba ftp already available.

[2018-10-21 09:07] dezren39 commented on #2157
Actually, an iscsi target wouldn't be a bad idea either.

[2018-10-21 11:13] k-plan commented on #2007
@MichaIng

I would prefer this:

-  > Or we add a whiptail menu to ask users? This would be cool to have within Pi-holes own install script, but we could add it ourself (before/after we inform user about changed web UI login password) while waiting for Pi-hole to decide over PR implementation? This is properly the best solution here?

-  > Enable blocking page for all clients via /etc/pihole/pihol

[2018-10-21 13:28] MichaIng commented on #2149
@Drew80
AFP works with Apple, but the new APFS Apple file system actually started to support SMB/CIFS (if I read this correctly)  with the aim to replace AFP. It is still supported but should not be long anymore. So I suggest to directly setup SMB/CIFS.

But yeah if with Apple+samba, either via smb or cifs, uploads > 4GB does not work, then stay with AFP. Although I would keep investigation how to

[2018-10-21 14:38] MichaIng commented on #806
@Fourdee
Just found: https://tinkerboarding.co.uk/forum/thread-69.html

Beneath DietPi is listed with the still correct note that GPU features are disabled. But since this is not a note on the official TinkerOS, perhaps something has changed there or it does work on fresh TinkerOS and we break something with DietPi preparation, perhaps accidentally auto purge some required firmware package?

[2018-10-21 15:38] MichaIng commented on #803
@Fourdee
This is not related to: https://github.com/Fourdee/DietPi/issues/2130 right?

[2018-10-21 16:27] MichaIng commented on #2154
@Fourdee
You verified that on RPi? Just checked on fresh Raspbian Lite image, and it is still inside:
[code]

Didn't found mich on quick search: https://askubuntu.com/questions/181429/is-a-proc-mount-necessary-in-etc-fstab
But seems indeed a remain from old days, not required and if it works with Debian, then it should definitely work with Raspbian as well.

[2018-10-21 17:53] Fourdee commented on #803
@MichaIng

Nope, XU4 is a DRM issue with driver.

[2018-10-21 17:54] Fourdee commented on #2154
@MichaIng

Yep.

Yep, I believe thats the case 👍, will send commit to prevent adding it in future.

[2018-10-21 17:55] MichaIng commented on #2154
Checked a bid about the other mounts, how all this is actually handled in systemd as well:
Systemd actually generates e.g. /run/systemd/generator/tmp.mount based on fstab entries. So theoretically fstab is not required any more, instead systemd mounts could be added to /etc/systemd/system. But of course users expect it to be present, so no advice to remove it, nor does it hurt to use it.

Our fsta

[2018-10-21 18:00] Fourdee commented on #2154
@MichaIng

Interesting, but might cause more issues than its worth:

Not something we should add by default I believe?

[2018-10-21 18:02] Drew80 commented on #2149
@MichaIng

I have another pine and other external HDDs as well.  If you guys need me to I am more than happy to do testing and post logs to help solve the issue for future releases.  With installing the AFP at least mac users have a solution when trying to get dietpi and their mac working together.

**_Please advise about additional testing with regarding the pine64 & mac samba sharing (or any oth

[2018-10-21 18:04] Fourdee commented on #2142
@LieDanG

Missed that one, will redo the test 👍

[2018-10-21 18:06] MichaIng commented on #2154
@Fourdee

This is about the `noatime`, which we already add by default. The `lazytime` alone seems to be safe, was created as reaction to many users use `noatime` 😄.

Since we use `noatime` for a very long time, it seems to be required in rare cases. But we could theoretically remove it (`relatime` is default then) and use `lazytime` to keep disk I/O reduced. Still, minimal additional writes to RA

[2018-10-21 18:42] docgalaxyblock opened #2158 "Official 7'' Touchdisplay Chromium autostart resolution failure"
Dietpi (6.16)     PI3B+

Installed Chromium and chose it at autostart.
The resolution (1280x720) is to big for the Display (800x480). See pictures ^^
Could it be possible that the dietpi-autostart chromium windowsize-flag use the resolution which is chosen at dietpi-config -> Display Options?

![21-10-_2018_14-32-59](https://user-images.githubusercontent.com/21227087/47270787-154a1f00-d571-11e8-95

[2018-10-21 18:51] Fourdee commented on #2149
@Drew80

Many thanks for offering your support, assistance and time, we really appreciate it 👍

Just wondering if the Mac is incorrectly getting the filesystem type data from the Pine over SMB, maybe it thinks or treats ext4 as FAT?

The permissions are set in the service files, however, by changing them to "dietpi", you are giving them much more permissions than what some would consider "acceptab

[2018-10-21 19:01] MichaIng commented on #2149
@Drew80
Thanks for your effort and report. Jep for now AFP is a solution, which we could implement into `dietpi-drive_manager` (client) and `dietpi-software` (server/share) as well, as long as we don't find any solution for smb/cifs + Mac.

There you have the permission issue, it's 644 by default when files created on the Mac. To allow sonarr/nzbget modifying/removing the files, it needs to be 664

[2018-10-21 19:02] Fourdee commented on #2157
@dezren39

Many thanks for the request 👍

We'll look into this when possible.

[2018-10-21 19:06] Fourdee commented on #806
@MichaIng

Possibly. I also believe the install has a custom version of xserver packages, to support the GPU. However, I was unsuccessful in getting the provided packages to work, after PREP.

When i'am able, i'll take another look. But low priority for the moment due to other tickets.

[2018-10-21 19:12] Fourdee commented on #2154
@MichaIng

Lazytime still has to write the access times to disk as some point? If so, this will vastly increase write cycles and reduce flash storage lifespan compared to noatime.

I'd be more inclined to leave noatime as it is?

[2018-10-21 19:16] Fourdee commented on #2158
@potter-91

Yep, great idea, we can apply to Chromium if installed, when setting display resolution.

[2018-10-21 19:19] MichaIng commented on #2158
Makes sense, currently hardcoded: https://github.com/Fourdee/DietPi/blob/dev/dietpi/dietpi-software#L11112

What happens if we just skip this flag/setting? Best would be if Chromium just starts with same resolution then console?

[2018-10-21 19:21] Fourdee commented on #2158
@MichaIng

Doesn't scale or use full screen available last time I checked.

Will be hard to detect current resolution for all devices. Might be best to add a prompt to select screen size when setting autostart option + apply there.

or, get + apply during run?

Xorg needs to be running for these to function:
[code]
- xinit chromium + thread, get data, kill, restart with obtained?
-- "cant open dis

[2018-10-21 19:36] MichaIng commented on #2154
@Fourdee
They do not exclude each other:
- `noatime` disables **access** time completely while
- `lazytime` reduces **change/modified** timestamps to be done less often. Although I wondering a bid, if the `**if the inode needs to be updated anyway**` condition is not anyway true on every file write, at least if not prevented by `async`. But right now the timestamp on disk is as well not updated, i

[2018-10-21 19:49] MichaIng commented on #2007
@k-plan
Agree, Pi-hole install is anyway very interactive currently (not possible differently at the moment), so one whip question more does not hurt.

I would then just offer to choose between Enable and Disable blocking page, which then does it for server (see the needed symlinks above), as well as clients. Use `BLOCKINGMODE=IP-NODATA-AAAA`, if enabled, as I see no benefit in using the other pos

[2018-10-21 19:54] Fourdee commented on #2153
🈯️ HDMI = hw:1,0
3.5mm = Should be hw:0,0. No sound regardless of unmutes/toggles

[2018-10-21 20:15] k-plan commented on #2007
@MichaIng

👍  yes, spot-on.
No need to show users any parameters.

[2018-10-21 20:18] Fourdee commented on #2153
Possible kernel bug/issue:

[code]

This never changes, always the same values, regardless of unmuted headphone out
[code]

[2018-10-21 20:27] Fourdee commented on #2153
REF: https://github.com/ayufan-pine64/linux-build/issues/65#issue-372353454

[2018-10-21 21:53] Fourdee commented on #2158
For RPi, we'll auto match current resolution, dietpi.txt entry.
For other devices, users can change the dietpi.txt entries. As, this would require a vast rewrite to support all devices via above method.

[2018-10-21 22:29] Fourdee commented on #2158
Ordered a 7inch touchscreen HDMI, will do some testing when it arrives.

[2018-10-21 22:33] Fourdee commented on #2154
@MichaIng

But also enables access times again? Or ```noatime``` can be used with ```lazytime```?

Add a new mount option which enables a new "lazytime" mode.  This mode
causes atime, mtime, and ctime updates to only be made to the
in-memory version of the inode.  The on-disk times will only get
updated when (a) when the inode table block for the inode needs to be
updated for some non-time related

[2018-10-21 22:41] Fourdee commented on #1171
@sal666

🥂

Yep, leave it with me, may be a few days until I can get round to it mind.

[2018-10-21 23:11] wallace11 opened #2159 "Concurrent execution warnings mess up tmux-continuum"
#### Required Information:
- DietPi version	| 6.16
- Distro version	| stretch
- Kernel version	| Linux DietPi 4.14.66+ #1 SMP PREEMPT Thu Aug 23 05:59:33 UTC 2018 armv7l GNU/Linux
- SBC device		| Odroid XU3/XU4/HC1/HC2 (armv7l)

#### Additional Information (if applicable):
- Software title	| dietpi/func/dietpi-globals and dietpi/func/obtain_network_details
- Was the software title installed freshl

[2018-10-22 00:10] dezren39 opened #2160 "Docker fails to install with fresh image on NanoPi Fire3"
## Creating a bug report/issue:
I recently attempted to take a copy of DietPi and install Docker. This failed, and so I'll attached the messages below. My only modifications to the DietPi config file were for locatalization, to 'auto-install' without user interference, infinite wait on network and to install Docker at the very bottom. I'll also attach this config file. It appears some module for t

[2018-10-22 00:11] dezren39 opened #2161 "Docker Failing Install During DietPi Installation"
## Creating a bug report/issue:
I recently attempted to take a copy of DietPi and install Docker. This failed, and so I'll attached the messages below. My only modifications to the DietPi config file were for locatalization, to 'auto-install' without user interference, infinite wait on network and to install Docker at the very bottom. I'll also attach this config file. It appears some module for t

[2018-10-22 00:17] dezren39 commented on #2161
[dietpi.txt](https://github.com/Fourdee/DietPi/files/2499784/dietpi.txt)

[2018-10-22 00:21] dezren39 opened #2162 "Docker Fails Install in Initial DietPi Installation"
## Creating a bug report/issue:
I recently attempted to take a copy of DietPi and install Docker. This failed, and so I'll attached the messages below. My only modifications to the DietPi config file were for locatalization, to 'auto-install' without user interference, infinite wait on network and to install Docker at the very bottom. I'll also attach this config file. It appears some module for t

[2018-10-22 00:23] dezren39 opened #2163 "DietPi-Software | Docker: Install fails on 1st run install"
## Creating a bug report/issue:
I recently attempted to take a copy of DietPi and install Docker. This failed, and so I'll attached the messages below. My only modifications to the DietPi config file were for locatalization, to 'auto-install' without user interference, infinite wait on network and to install Docker at the very bottom. I'll also attach this config file. It appears some module for t

[2018-10-22 00:40] Fourdee commented on #2149
@MichaIng

No worries, 1.5 brains are better than 0.5  (0.5 = me today) 😉 👍

[2018-10-22 00:44] MichaIng commented on #2149
@Fourdee
Test, strange, I get messages about a (repeated) new issue per mail, which is not there when opening GitHub and as well your answer, which I can't see here now. Does GitHub have temporary issues on saving posts/issues etc?

€: Strange, now I see your post at least. Did you get the notification from dezren39 reporting an install issue with docker? I have 5 separate ones, obviously unsucces

[2018-10-22 02:21] Fourdee opened #2164 "Benchmark Survey"
only x86_64 results shown in page

[2018-10-22 13:38] louisefindlay23 opened #2165 "DietPi Virtualbox VM Root Filesystem"
Using the DietPi .ova file, I can't allocate more than 8 GBs to the root filesystem so I get out of space errors.

[2018-10-22 14:28] MichaIng commented on #2165
You need to adjust it in the virtual machines settings, where you can also adjust RAM, CPU count (e.g. match your host machines CPU/thread count) network etc.

[2018-10-22 14:38] Fourdee commented on #2149
@MichaIng

Yep, was getting the same yesterday. Also, commits were not being update on this site for 4+ hours after they were sent.

GitHub having issues, still.

[2018-10-22 14:44] Fourdee commented on #2164
Test:
- Recreate benchmarks on all systems
- 🈯️ run report, entries valid
- 🈯️ re-run report

Fair enough 🤣

[2018-10-22 14:44] #2164 closed, assigned to Fourdee

[2018-10-22 14:49] dezren39 commented on #2163
ah, I see GitHub caught up and listed all of the issues I made. Thanks and sorry for the mess.

[2018-10-22 14:51] Fourdee commented on #2164
Working fine. Closing for the 3rd time today.

[2018-10-22 16:03] louisefindlay23 commented on #2165
I don't see where because any new storage device I add is a different drive and where the option is to alter the DietPi_VirtualBox drive size.

![image](https://user-images.githubusercontent.com/26024131/47303598-42074080-d61c-11e8-9cf0-9e30ca76566f.png)

[2018-10-22 16:19] MichaIng commented on #2165
Ah sorry I was mistaken, it's in the virtual drive manager, so not the VM tab of the GUI. Switch at the top right, there you see a tree structure of the virtual drives and when selecting one way the bottom you can adjust their sizes.
I am not at home currently, still post some screens later, if you didn't find it yet.

[2018-10-22 16:22] dezren39 commented on #2149
Yeah appears to be a Github issue. Status.github.com reports data issues. I'll try again tomorrow. :-) Thanks.
________________________________
From: MichaIng <notifications@github.com>
Sent: Sunday, October 21, 2018 7:55:33 PM
To: Fourdee/DietPi
Cc: Drewry Pope; Mention
Subject: Re: [Fourdee/DietPi] Permission with network mounted drives (#2149)

@Fourdee<https://github.com/Fourdee>
Test, strange

[2018-10-22 16:26] louisefindlay23 commented on #2165
Thanks. I never realised that was there. I tried it but got this error

Result Code: | VBOX_E_NOT_SUPPORTED (0x80BB0009)
-- | --
Component: | MediumWrap
Interface: | IMedium {4afe423b-43e0-e9d0-82e8-ceb307940dda}

[2018-10-22 17:02] louisefindlay23 commented on #2165
I ended up converting it to .vdi by this [guide](https://stackoverflow.com/questions/11659005/how-to-resize-a-virtualbox-vmdk-file) which then let me resize it and then dietpi-drive_manager let me resize the drive. Thanks for your help

[2018-10-22 17:02] #2165 closed, assigned to nobody

[2018-10-22 17:19] Fourdee commented on #2158
@potter-91

Fixed in v6.17, you can test this now using our Beta program:
https://github.com/Fourdee/DietPi/blob/dev/BRANCH_SYSTEM.md#steps-to-use-the-dietpi-beta-branch

To apply the new settings, after patch, please re-select the RPi touch screen from ```dietpi-config```.

[2018-10-22 17:23] carlosedp opened #2168 "Getty service required for Mainline Kernel on ttyS2 (NanoPC-T4)"
I have a DietPi deployment on a NanoPC-T4 and working on compiling the latest Mainline Kernel. The RK3399 boards have the serial UART on ttyS2 but after boot, the serial console does not accept input.

I had to create a getty service for the port and after this, it worked:

[code]

Don't know if it's a mainline quirk. My Kernel boot params are:

`append earlycon=uart8250,mmio32,0xff1a0000 console=

[2018-10-22 19:52] Atavic commented on #2163
Close them, just leave one opened.

[2018-10-22 20:22] docgalaxyblock commented on #2158
I've got another idea:
A integration or your own script to change the touchscreens brightness and power.
I use this: https://github.com/linusg/rpi-backlight

Chromium now works perfect.
Could be "unclutter" also a good idea to chose it in dietpi.software or -config to hide the mouse?

[2018-10-22 20:45] Fourdee commented on #2158
Notes:
- hide mouse https://stackoverflow.com/a/39518893
- Brightness https://raspberrypi.stackexchange.com/a/46229

@potter-91
We should be able to do both in bash script, however, i'll need you to test it (lack the device, went for a cheaper IPS screen with higher resolution 😄)

Leave it with me, will let you know when its available in beta to test.

[2018-10-22 20:49] Fourdee commented on #2168
@carlosedp

Hi,

By default, DietPi disables serial console after 1st run setup to save on resources.

To change this, you'll need to either edit:
- ```CONFIG_SERIAL_CONSOLE_ENABLE=1``` in ```dietpi.txt``` before 1st run (tricky with this board)
- Enable it in ```dietpi-config``` > advanced > serial console.

Or run the commands you listed above for manual enable 😄

[2018-10-22 20:51] Fourdee commented on #2163
@dezren39

Thanks for the report, we'll try to replicate.

No worries, Github has been a nightmare my end aswell 👍

[2018-10-22 20:58] Fourdee commented on #2103
@MichaIng

Yep, the issue is no routing table being applied once setup. So the system has no idea which device to use.
We used to install a package which allowed for both devices at the same time (cant remember name at the moment), however, this broke in Stretch I believe.

WiFi hotspot works, due to routing table being applied.

This would be the ideal solution, however, will drop current SSH ses

[2018-10-22 23:56] Fourdee commented on #2083
Beta system now live, we can mark this as closed.

[2018-10-22 23:56] #2083 closed, assigned to nobody

[2018-10-22 23:57] Fourdee commented on #2154
Original ticket issue now resolved. Will mark as closed.

```lazytime``` new ticket if noatime can be used with lazytime.

[2018-10-22 23:57] #2154 closed, assigned to nobody

[2018-10-22 23:59] Fourdee commented on #2140
Beta in final stages of testing.

Pending 2+ days of additional testing, we'll release v6.17. Outstanding issues without a quick/viable fix will be moved to v6.18 to prevent delaying v6.17 further.

[2018-10-23 00:00] Fourdee opened #2169 "RPi Touchscreen | Support brightness change"

[2018-10-23 00:01] Fourdee commented on #2158
This ticket is completed.

Will open a new ticket for feature requests:
https://github.com/Fourdee/DietPi/issues/2169

[2018-10-23 00:01] #2158 closed, assigned to Fourdee

[2018-10-23 00:07] Fourdee commented on #2133
Will mark this as closed.
Issue appears related to pushing hardware/software to the limits. In terms of software, we have done everything our end to allow this, however, at a basic level, we are still limited by the raw performance and quality of software titles users choose to install.

Please reopen if required.

[2018-10-23 00:07] #2133 closed, assigned to Fourdee, MichaIng

[2018-10-23 00:13] Fourdee commented on #2126
@ezekini

Apologies for the delay. Is this still an issue on your system?

As this issue appears to be limited to your current system, and, i'am unable to replicate to assist our end:
My knowledge of Python is minimal at best, so, to avoid unnecessary time wasted at your end, does the issue still occur on a fresh installation of DietPi using our current Beta with the revised SiCKRAGE install?
http

[2018-10-23 00:16] Fourdee commented on #2101
Note to self:
- If USB-DAC, apply this by default.

---

Already done, completed.

[2018-10-23 00:17] #2101 closed, assigned to Fourdee, MichaIng

[2018-10-23 00:22] Fourdee commented on #2057
@MichaIng

Thanks for resolving this 👍 , now looks completed? I'll mark as closed, please reopen if required.

[2018-10-23 00:22] #2057 closed, assigned to MichaIng

[2018-10-23 00:23] Fourdee commented on #2026
REF:
- UEFI: https://github.com/Fourdee/DietPi/issues/1171#issuecomment-431710564
- BIOS/CSM to do

[2018-10-23 00:24] Fourdee commented on #2162
Dupe of https://github.com/Fourdee/DietPi/issues/2163 due to Github SQL failure

[2018-10-23 00:24] #2162 closed, assigned to nobody

[2018-10-23 00:24] Fourdee commented on #2161
Dupe of https://github.com/Fourdee/DietPi/issues/2163 due to Github SQL failure

[2018-10-23 00:24] #2161 closed, assigned to nobody

[2018-10-23 00:25] Fourdee commented on #2160
Dupe of https://github.com/Fourdee/DietPi/issues/2163 due to Github SQL failure

[2018-10-23 00:25] #2160 closed, assigned to nobody

[2018-10-23 01:36] dezren39 commented on #2163
Thanks again. I don't see a dietpi file attached on this one, so here is one of those. If I can be of assistance in any way, please lmk. I can test, etc.
[dietpi.txt](https://github.com/Fourdee/DietPi/files/2504010/dietpi.txt)

[2018-10-23 06:26] lpninja commented on #870
Anyone installed Docker on ROCK_64? The chip is a _Rockchip RK3328 Quad-Core ARM Cortex A53 64-Bit Processor_

[2018-10-23 07:42] troyane commented on #2100
@Fourdee Is there any help required? I'm ready to help you :)

[2018-10-23 10:11] docgalaxyblock commented on #2169
Another idea
A new section in dietpi-software, named Chromium default page (or something else)
There you could choose which site would be the start page of chromium.

I use chromium for octoprint
And you could choose between the dietpi-optimized-softwares and a custum way.

[2018-10-23 13:01] ezekini commented on #2126
@Fourdee , I am a bit busy this week, but I will try a fresh installation whenever I have an hour or so. Will get to you with the results.

[2018-10-23 14:36] Atavic commented on #2169
But the homepage is set inside chromium.

[2018-10-23 15:33] Fourdee commented on #2169
@potter-91

Currently, you can set the homepage by changing ```URL=${CHROMIUM_URL:-"http://google.com"}``` in:
[code]

But not a bad idea for us to add an option to set this during autostart 👍

---

🈯️ Page loads, lasts 5 seconds, then:
🈴
![img_20181023_182722](https://user-images.githubusercontent.com/7077026/47379263-4c940980-d6f2-11e8-9bcc-84e08ee7be61.jpg)
- 🈯️ Unsure of cause, fresh install o

[2018-10-23 18:16] Fourdee commented on #2126
@ezekini

Thanks 👍

As the original issue in this ticket is resolved, i'll mark this as closed.

@ezekini

When you come to do the test, if issues still reoccur, please open a new ticket on our github page.

[2018-10-23 18:16] #2126 closed, assigned to Fourdee, MichaIng

[2018-10-23 18:24] MichaIng commented on #2163
@dezren39
As mentioned within the other topic, I tried install on Stretch VM and it worked well there without issues.

You mentioned that it failed when you chose it to install on 1st boot. Does it install when when you (re)install it afterwards, after first run setup has completely finished?

Also you face a strange issue with the bugreport. Perhaps there is a deeper issue somehow related:
[code]

[2018-10-23 22:37] Drew80 commented on #2149
@Fourdee

This is what I could find.  it shows it as afpfs - AppleFileProtocol File system.  So i think it sees the mount as an AFP.  I don't think I can check to see what it thinks the HDD file system is.  It can see what the windows partition (I run boot camp when I need to) as a NTFS file system.  From what I read (quickly) online I can not get info about the filesystem of mounted HDD, just the

[2018-10-23 22:40] Drew80 commented on #2149
@MichaIng

[code]

I will also try this this week, hopefully when setting up my other pine64 board to do future testing for mac - dietpi connections with smb, cifs file system sharing.

[2018-10-24 05:08] dezren39 commented on #2163
First run setup completes fine, bug report immediately after successful first run setup fails. Attached is the log from that as well as the tail end of trying to install Docker as an individual install using the `dietpi-software` command. Still no luck. There was no data in /tmp. I'll try manually installing docker after a successful first run and see what happens then.
[2018-10-23_fresh_install_f

[2018-10-24 05:40] dezren39 commented on #2163
https://github.com/lxc/lxd/issues/2321
https://bugs.launchpad.net/ubuntu/+source/docker.io/+bug/1618283
These two suggest Docker may be failing to load modules it already has installed.
https://bugzilla.redhat.com/show_bug.cgi?id=1586189
This link suggested there may be generic modules disabled for this image/kernel.

[2018-10-24 07:41] acrd-co opened #2170 "Unable to install opens"
#### Details:
- Date           | Wed 24 Oct 08:36:14 BST 2018
- Bug report     | N/A
- DietPi version | v6.16
- Img creator    | DietPi Core Team
- Pre-image      | Raspbian Lite
- SBC device     | RPi 3 Model B+ (armv7l) (index=3)
- Kernel version | #1145 SMP Fri Sep 21 15:38:35 BST 2018
- Distro         | stretch (index=4)
- Command        | G_AGUG
- Exit code      | 100
- Software title | DietP

[2018-10-24 07:41] acrd-co opened #2171 "Unable to install openssh"
#### Details:
- Date           | Wed 24 Oct 08:36:14 BST 2018
- Bug report     | N/A
- DietPi version | v6.16
- Img creator    | DietPi Core Team
- Pre-image      | Raspbian Lite
- SBC device     | RPi 3 Model B+ (armv7l) (index=3)
- Kernel version | #1145 SMP Fri Sep 21 15:38:35 BST 2018
- Distro         | stretch (index=4)
- Command        | G_AGUG
- Exit code      | 100
- Software title | DietP

[2018-10-24 11:26] MichaIng opened #2172 "DietPi-Software | SABnzbd: Switch to user "dietpi"?"
Ref: https://dietpi.com/phpbb/viewtopic.php?f=11&t=5175

Did we forget it or was there a reason to still run it as root?

Current systemd unit:
https://github.com/Fourdee/DietPi/blob/dev/dietpi/dietpi-software#L11319-L11329
[code]

[2018-10-24 13:15] Fourdee commented on #2172
@MichaIng

Looks like it got missed 👍

Will make change, test and send commit if passes.

[2018-10-24 13:47] Fourdee commented on #2172
- 🈯️ Install + GUI tests passed.
- Just need to test actual nzb use.

[2018-10-24 13:51] MichaIng commented on #2172
@Fourdee
Is there a possibility to force umask=0002 or 0007 as well, so other media software (+network shares/drives) have write access as well?

[2018-10-24 14:00] MichaIng commented on #2170
Close due to duplicate: https://github.com/Fourdee/DietPi/issues/2171

[2018-10-24 14:00] #2170 closed, assigned to nobody

[2018-10-24 14:03] Fourdee commented on #2172
[code]

@MichaIng

Unable to find any entries matching 'mask' in ```/etc/sabnzbd/sabnzbd.ini```, or in GUI pages

---

?
[code]

https://sabnzbd.org/wiki/advanced/unix-permissions

[2018-10-24 14:12] Fourdee commented on #2172
[code]

download nzb

- 🈯️

[code]

[2018-10-24 14:16] Fourdee commented on #2172
@MichaIng

done 775 for now, allows group r/w under dietpi, think we need 777?

777 Not required. Tested samba removal fine.

[2018-10-24 14:53] MichaIng commented on #2171
@tcalil
Thanks for your report. Hmm, I am thinking if we either stop dropbear service in this case or uninstall it, before attempting to install openssh. Since otherwise port 22 is blocked, ssh.service must fail to attach to it.

To resolve it now:
- Of course note that you need to do this from local terminal (instead of SSH session).
- apt purge -y dropbear-run
- rerun dietpi-software to choose o

[2018-10-24 15:20] Fourdee commented on #2171
@MichaIng @tcalil

I've never experienced this error using SSH to make the change. @tcalil are you doing this on local system with keyboard+HDMI, or, which SSH client used?

[2018-10-24 15:29] ezekini opened #2173 "DietPi-Config | RPi | OpenGL/VC4 causes soundcard selection to be invalid"
## Creating a bug report/issue:
#### Required Information:
- DietPi version: 6.17.9
- Distro version: 9.4
- Kernel version: Linux DietPi 4.14.71-v7+ #1145 SMP Fri Sep 21 15:38:35 BST 2018 armv7l GNU/Linux
- SBC device: RPi 3 Model B+ (armv7l)
- Power supply used: 5V@2A
- SDcard used: SanDisk ultra

#### Additional Information (if applicable):
- Software title: Shairport, Raspotify, Roon bridge.
-

[2018-10-24 16:25] Fourdee commented on #1171
@sal666

Apologies for the delay, below is the latest DietPi (v6.16) native PC UEFI clone using Clonezilla:
https://dietpi.com/downloads/testing/DietPi-UEFI-v6.16_clonezilla.7z

[2018-10-24 16:42] tomillr commented on #1171
Should that image work on Apollo Lake devices right out of the box? Or you first have to manually edit the iso?

[2018-10-24 16:47] Fourdee commented on #1171
@tomillr

Should do, using the latest version of clonezilla. Although, might be best to wait for @sal666 so we can update our image write process, else, you'll need to use pure clonezilla.

[2018-10-24 18:27] #2172 closed, assigned to Fourdee

[2018-10-24 18:32] Fourdee commented on #2173
@ezekini

Thanks for the report, lets check a few things, please paste results:
[code]

[2018-10-24 21:20] ezekini commented on #2173
Here are results @Fourdee :

[code]

[2018-10-25 10:49] Fourdee commented on #2140
@dynobot

Interesting, if you are already running a 5V/2A PSU (official HK, or, RPi), might be worth investing in a mains powered USB hub, eg:
https://www.amazon.co.uk/Belkin-Ultra-Powered-Power-Supply/dp/B0061RSACG

Also, when instability occurs, check ```dmesg``` for any errors/issues at the end lines. Might give some more info.

[2018-10-25 11:10] Fourdee commented on #2173
@ezekini

Thanks for the info, yep issue is with ```vc4hdmi```, unexpected, throwing the asound.conf out. Only appears when openGL is enabled.

Solution is copy and paste all:
[code]

---

I'll need to rewrite our soundcard system, most likely use a 2 stage method to apply, reboot, then use detection based for selection.

[2018-10-25 11:18] Fourdee commented on #2100
@troyane

Apologies for the delay, been busy with v6.17.

I appreciate the offer, however, you'll need to know how to transfer/replace rootfs to ```nanopi-neo-air_sd_friendlycore-xenial_4.14_armhf_YYYYMMDD.img.zip```, a little tedious 😄

I'll flag this for v6.18.

[2018-10-25 11:19] MichaIng commented on #2140
@dynobot

Interesting, the Odroid receives its IP via DHCP I believe? This is something the DHCP server decides and there is nothing you can do about it on the client, besides changing the MAC address. But this is nothing we do DietPi side. What we did with v6.13 -> v6.14 patch is resetting the device ID, but this is nothing a DHCP server should even be able to recognize (?).

Usually a DHCP serve

[2018-10-25 11:54] Fourdee commented on #2104
@potter-91

And the I could not start it again, the lcd goes blank and shows [G notify command not found] (or something else^^)

Apologies for the delay.

- 🈴 Test  ```dietpi-cloudshell``` over SSH to start/stop on LCD panel: ```G_DIETPI-NOTIFY command not found```
- 🈯️ Test  ```dietpi-cloudshell``` locally to start/stop on LCD panel: ```ctrl+c``` to exit.

---

Issue due to
[code]

And removal of

[2018-10-25 12:04] MichaIng commented on #2173
@Fourdee
Is reboot needed to (re)load a kernel module? Perhaps it is possible to use modprobe for this?

[2018-10-25 12:14] troyane commented on #2100
@Fourdee Yesterday I've found this folder https://drive.google.com/drive/folders/1lxLDeJbCDI8dceaimJhjOcyLK5mar_jY -- it looks like file `dietpi_nanopi-h3_20180711.img.7z1` was uploaded a ~week ago. Quick test of that file didn't went well (system stuck on loading). Today I've a got system loaded, here is log [on pastebin](https://pastebin.com/UYAx9Wv8). After few reboots, few tries to set wifi up

[2018-10-25 12:38] Fourdee commented on #2173
@MichaIng

Issue is with dt overlay, which needs to be loaded during boot time via kernel. Can't be done on the fly as far as i'am aware ☹️
https://www.raspberrypi.org/forums/viewtopic.php?t=99401

[2018-10-25 12:49] Fourdee commented on #2104
- 🈯️ Cloudshell issues resolved for v6.17.

@potter-91 Many thanks for reporting this 👍

I'am also an android guy 😄. Anything that supports AirPlay casting, will work, eg:
https://play.google.com/store/apps/details?id=com.tuxera.streambels&hl=en_GB

I have only ondemand and performace for choice?

If using the ```cpu``` script, this can and will bump up the current CPU frequencies, due to the proc

[2018-10-25 13:24] sal666 commented on #1171
@Fourdee
Thank you. I'll test it.

[2018-10-25 13:52] MichaIng commented on #2173
@Fourdee
https://www.raspberrypi.org/documentation/configuration/device-tree.md

Very interesting in general, according to changing dtoverlays on runtime level: `3.5.1 THE DTOVERLAY COMMAND`

Worth to try to keep configuration handy.

Interesting:
`enable_uart=1 implies core_freq=250 (unless force_turbo=1)`

[2018-10-25 13:58] Fourdee commented on #2155
Confirmed on native PC, running kodi under autostart. Will investigate.
Notes to self:
- systemd-logind
- dbus
- Works under desktop?

[2018-10-25 15:27] docgalaxyblock commented on #2104
https://play.google.com/store/apps/details?id=com.tuxera.streambels&hl=en_GB

I know, I use AirAudio. But I give the argument "android guy" a try.
But I couldn't connect shairport to my mpd, this feature has snapcast...(and I need this ^^)

Yes, the A15 bug and the backlight bug

My throttle up is 85%
I use cpufrequtils to get the current A15 freq and they are stuck at 2Ghz, even at powersafe gov.

[2018-10-25 15:47] Fourdee commented on #2140
Thanks to everyone for helping with the Beta test, we really appreciate your support!

Marking this as completed, pending v6.17 release today.

[2018-10-25 15:47] #2140 closed, assigned to Fourdee, MichaIng

[2018-10-25 16:00] Fourdee commented on #2093
Completed, pending release of v6.17 today.

[2018-10-25 16:00] #2093 closed, assigned to Fourdee, MichaIng

[2018-10-25 16:47] Drew80 commented on #2149
@MichaIng

I ended up changing from NZBGet to Sabnzbd.  I know have no really permission issues with moving & deleting files from the AFP share.  Looks like there might be some issues with radarr, sonarr & nzbget playing nice with the permissions.  So I did not add that to the AppleVolumes.default file

[2018-10-25 17:01] Drew80 commented on #2149
@Fourdee @MichaIng

I found my other Pine64 board.  I have a fresh install of DietPi OS and upgraded to 6.16.  Here is what I did.

fresh install on 16GB ADATA micro SD class 10 card
Setup on Pine64
1. Diet-Pi Config
	- 4 Advanced Options
		- Time sync mode - Daemon + Drift —> read that this helps with VPN issues
	- 5 Language/Regional Options
		- Locale —>en_US.UTF-8
		- Timezone —> America —> Ed

[2018-10-25 17:20] MichaIng commented on #2149
@Drew80

- bash: ifconfig: command not found

ifconfig is part of the obsolete net-tools package, which we don't pre-install on DietPi anymore.
Use the iproute2 commands instead, e.g. `ip a` to show interface details.

[2018-10-25 17:29] MichaIng commented on #2149
SABnzbd might bring permission issues actually since we forgot to make it run as dietpi group with 775 until recent v6.17 commit: https://github.com/Fourdee/DietPi/issues/2172

To verify the 4GB Mac issue with smb/cifs you could retry with the other Pine64, but high likely it is just the same. Would be indeed an idea to test it with different smb versions, who knows.

You mentioned above that on M

[2018-10-25 18:11] MichaIng commented on #2159
@wallace11
Thanks for your report.

Jep we need to check for concurrent executions, otherwise scripts could attempt to concurrently access the same files or remove tmp files still needed by the other script, for clean-up.

What we could do in case of uncritical oneshot scripts, is allowing them to fail with just a meaningful error message instead of whiptail prompt.

But I am wondering about spamm

[2018-10-25 18:53] MichaIng commented on #2140
NB: The last beta is identical to current master (release), so you don't need to actively change branches and reapply the update.
You will then see an update notification, once we open up the next beta phase. Feel free to re-join next beta phase then by applying the update or switch to master branch to stay with current release and mute beta update notifications.

[2018-10-25 19:23] borpin opened #2181 "NTP not synchronized - daemon and drift selected at install"
#### Details:
- Date           | Sat 22 Sep 15:59:50 BST 2018
- Bug report     | N/A
- DietPi version | v6.17.12 (Fourdee/master)
- Img creator    | DietPi Core Team
- Pre-image      | Raspbian Lite
- SBC device     | RPi Zero W (armv6l) (index=1)
- Kernel version | #1145 Fri Sep 21 15:06:38 BST 2018
- Distro         | stretch (index=4)
- Command        | Connection test: https://bootstrap.pypa.io

[2018-10-25 19:41] MichaIng commented on #2181
@borpin
Thanks for your report.

...
`--2018-09-22 15:56:58--`

Your system time is out of sync.

Please try to resolve by running `/DietPi/dietpi/func/run_ntpd`, otherwise show output for investigation. It should in case of error also ask to check `systemctl status systemd-timesyncd` to check time sync service status/error log.

In case of above shows error/failed timesync, perhaps the chosen NTP

[2018-10-25 20:15] omar93 opened #2182 "can't install sonarr"
#### Details:
- Date           | Thu 25 Oct 18:07:31 BST 2018
- Bug report     | N/A
- DietPi version | v6.16
- Img creator    | DietPi Core Team
- Pre-image      | Raspbian Lite
- SBC device     | RPi 2 Model B (armv7l) (index=2)
- Kernel version | #1144 SMP Tue Sep 18 17:34:46 BST 2018
- Distro         | stretch (index=4)
- Command        | G_AGUG
- Exit code      | 100
- Software title | DietPi

[2018-10-25 20:53] MichaIng commented on #2182
@omar93
Thanks for your report.

This error usually shows up, if APT is called while already running.

Could you please check via `htop` if there is any other script running APT concurrently. Otherwise try to manually run `apt-get -y upgrade`, if this works.

[2018-10-25 20:55] borpin commented on #2181
Ok so I have raised this issue before (long time ago) and even [blogged ](https://tech.borpin.co.uk/2018/05/18/keeping-time-on-a-pi/)about it.

I selected daemon and drift in dietpi.txt

Checking the status of time sync produced this:
[code]
what is required is `timedatectl set-ntp true`. Rerunning the status command gives

[code]
which corrects the time but not the synchronization.

A restart of

[2018-10-25 21:25] MichaIng commented on #2181
@borpin
`timedatectl set-ntp true` does nothing else than `systemctl enable systemd-timesyncd`, which is what we do as well, when choosing daemon+drift method: https://github.com/Fourdee/DietPi/blob/master/dietpi/func/dietpi-set_software#L260

Hmm, `run_ntpd` in every case does `systemctl restart systemd-timesyncd` as well, even error handled: https://github.com/Fourdee/DietPi/blob/master/dietpi/f

[2018-10-25 21:42] wallace11 opened #2183 "DietPi-Software | Greg: A Podcast manager"
## Creating a software request:

#### Vote for it on FeatHub: https://feathub.com/MichaIng/DietPi/+27

#### Give us some formal software information:
- Software title | Greg
- Short description | A command-line podcast aggregator (or manager)
- GitHub URL (if available) | https://github.com/manolomartinez/greg
- (Official) install documentation | https://github.com/manolomartinez/greg

#### Are th

[2018-10-25 22:03] wallace11 commented on #2159
Hi,
Maybe it wasn't clear enough with my report. Continuum plugin allows to restore a previous session upon launching tmux. That means that if I had a session with 4 panes (or screens, for that matter), they would all be restored at the same time upon launching (if they do not exist already, e.g after rebooting).
It's practically like opening multiple sessions at the same time.
I understand that t

[2018-10-25 22:38] borpin commented on #2181
In my investigation last time, I came across this comment that if the delta was too big ntp would not correct the clock.

As this happens on first boot, I am unable to collect the output from the console.

The install is clearly not working when using the dietpi.txt method as the first output of `timedatectl` above shows.

I don't think that statement is correct. https://feeding.cloud.geek.nz/post

[2018-10-25 22:59] MichaIng commented on #2159
@wallace11
Ah sorry, jep that makes everything crystal clear, I did not go on checking what the plugin does.

Okay, so we cannot (should not) skip the concurrency check on any script, but we could add two options in how to handle concurrency, which we can then apply in case of login script oneshot calls and possibly in some other cases:
1. Silently (or showing a processing message?) wait for the c

[2018-10-25 23:00] omar93 commented on #2182
![67c45c6554d73d437c5d97081f284aa2](https://user-images.githubusercontent.com/2734726/47535124-7435ce00-d8ba-11e8-9a8b-1088b28d7617.png)

this is what i get

[2018-10-25 23:19] omar93 commented on #2182
the problem was fixed by your command thx

[2018-10-25 23:19] #2182 closed, assigned to nobody

[2018-10-25 23:59] webtroter opened #2184 "Crash while installing NextCloud"
#### Details:
- Date           | Fri 26 Oct 00:55:52 BST 2018
- Bug report     | N/A
- DietPi version | v6.17.12 (Fourdee/master)
- Img creator    | DietPi Core Team
- Pre-image      | Raspbian Lite
- SBC device     | RPi 3 Model B (armv7l) (index=3)
- Kernel version | #1145 SMP Fri Sep 21 15:38:35 BST 2018
- Distro         | stretch (index=4)
- Command        | ncc maintenance:install
- Exit code

[2018-10-26 00:46] MichaIng commented on #2181
I will try to replicate a fresh install with `CONFIG_NTP_MODE=4` on first boot, perhaps we missed something.

The links about `set-ntp` does not say how NTP sync is "enabled". However it's easy to test if the result is different than just enabling+starting the service.

But first I was in mood the try following the c code of the related systemd scripts 😃:
- `timedatectl set-ntp` sends a dbus messa

[2018-10-26 02:19] webtroter commented on #2184
After more tests and tries :

A failed NextCloud installation attempt breaks DietPi-Services.

I tried with a freshly flashed SD card on a RasPi 3B. I can even install owncloud before and have it working.

[2018-10-26 02:20] webtroter commented on #2184
Is there a way to roll back the DietPi stack on a previous version?

[2018-10-26 02:44] elleto commented on #2130
Hi, i am facing the same problem as mentioned above.
however, I found a workaround online guiding me to start MATE desktop.
I deleted xorg.conf and MATE desktop was able to start. Next, I installed KODI from dietpi-software and the xorg unable to start error repeats.

Repeating the same workaround on the generated new xorg.conf, MATE desktop is able to start again but KODI in MATE does not start.

[2018-10-26 07:25] borpin commented on #2181
Yes I think that is the only way.  Add in an install of package 130 as part of the test as we know that will fail if the time has not been set properly at first boot. Risk that an intermediate boot will fix the time.

:smile: every day a learning day!

[2018-10-26 12:09] MichaIng commented on #2184
@webtroter
Thanks for your report.

<s>Could you please send a bugreport: `dietpi-bugreport 1`
And paste the content of your config.php: `cat /var/www/nextcloud/config/config.php`
_( Erase/anonymize passwords, domain and other private info of course! )_

🤔 Hmm, we configure APCu and Redis, not Memcached, was this a fresh Nextcloud install or did you migrate from another instance/server?</s>
**€: O

[2018-10-26 12:25] Twilight0 commented on #2184
I am having a similar issue.
`Fri Oct 26 15:23:33 2018 (17378): Fatal Error Zend OPcache cannot allocate buffer for │ interned strings`
Particulary when this command is executed:
`ncc maintenance:mode --on`
Fri Oct 26 15:17:30 2018 (15240): Fatal Error Zend OPcache cannot allocate buffer for interned strings

[2018-10-26 12:30] MichaIng commented on #2184
[code]
This must fail, if `php-memcached` is not installed. And we don't want it, since we don't need it, since we don't have a distributed server usually. And if, Redis still makes more sense...
Also the other pre-existing entries break our install and configuration effort.
[code]
This is an `example` in how and what you can configure, but no working default file. This and many following entries

[2018-10-26 12:32] Twilight0 commented on #2184
Where is this file located? I do not understand. What does it have to do with nextcloud installation?

[2018-10-26 12:34] webtroter commented on #2184
This was a fresh install on a fresh SD card. On a rpi 3B. I will get back
with the info you ask, it might take me some time since I would have to
reflash everything.

On Fri., Oct. 26, 2018, 08:32 Twilight0, <notifications@github.com> wrote:

[2018-10-26 12:42] MichaIng commented on #2184
Okay guys, at least a simple solution:

We need to remove the (why ever) wrong placed example config.php before attempting the Nextcloud install command:
<s>`sed -i '/G_ERROR_HANDLER_COMMAND=\'ncc maintenance:install\'/a\rm $config_php' /DietPi/dietpi/dietpi-software`</s> €: `sed -i "\|cp '/var/www/nextcloud/config/config.sample.php'|d" /DietPi/dietpi/dietpi-software`

To stop ncc maintenance mode

[2018-10-26 13:51] jncl opened #2185 "Error applying dietpi-update from 6.14.0 to 6.17.12 on Rock64"
#### Details:
- Date           | Fri 26 Oct 14:27:54 BST 2018
- Bug report     | N/A
- DietPi version | v6.14.0 (Fourdee/master)
- Img creator    | DietPi Core Team
- Pre-image      | ayufan-rock64
- SBC device     | Rock64 (aarch64) (index=43)
- Kernel version | #1 SMP Thu Oct 12 09:14:48 UTC 2017
- Distro         | stretch (index=4)
- Command        | wget https://dietpi.com/downloads/dietpi-upd

[2018-10-26 14:06] MichaIng commented on #2185
@jncl
Thanks for the report.

Jep we missed to place the pre-patch on our server and until v6.17 dietpi.com repo is used first. I will place it right now, wait a moment.

€: Done, can you please retry?

@Fourdee
Okay to remember: Of course now we need to place/update `pre-patch_file` in dietpi.com update repo as well.

[2018-10-26 14:35] MichaIng commented on #2184
Okay found the reason: https://github.com/Fourdee/DietPi/commit/e0f4c883611cb413d0be9c4669981cf4ca584acf#r31060077

Accidental wrong fix in this case.

So the better fix is: `sed -i "\|cp '/var/www/nextcloud/config/config.sample.php'|d" /DietPi/dietpi/dietpi-software`

[2018-10-26 14:42] Fourdee commented on #2185
@MichaIng

👍

Added to my notes:
https://github.com/Fourdee/DietPi/issues/548#issue-181241147

[2018-10-26 14:55] webtroter commented on #2184
the sed line seems not complete. Bash asks me to close something, and I don't really know sed.
![image](https://user-images.githubusercontent.com/8386808/47574435-973d9d80-d90d-11e8-80c1-005f9e8fc30e.png)

[2018-10-26 15:20] Fourdee commented on #2181
@borpin @MichaIng

Possible issue, if setting mode 4 in ```dietpi.txt```, this runs during ```boot``` and will fail to install ```dbus``` if time is out, before time sync update:
[code]

Also APT cache does not exist at this stage, we should move the apply of mode 4 to end of dietpi-software.

Although, ```dbus``` isn't required for other modes, should not affect sync?

[2018-10-26 16:14] Fourdee commented on #2156
OMPD:
- appears to update library on MPD side, but, still stuck in loop. Restarts loop after "Updating genre list..."
- OMPD still not updating its database to match mpd.
[code]

- 🈴 MPD running under ```mpd```
- 🈴 MPD installed from ```APT```
- 🈯️ OMPD version 1.03
-- 🈴 Install 1.04 over the top, issue re-occurs. Endless loop.
![image](https://user-images.githubusercontent.com/7077026/47582121-67

[2018-10-26 16:37] webtroter commented on #2184
I could not reinstall NextCloud on the Pi. I will reflash and retry later tonight

Since the sed query didn't work, I simply removed the line in the dietpi-software script.

[2018-10-26 17:26] Fourdee commented on #2156
MyMPD:
- 🈯️ Sep 20th commit install, works fine.

[2018-10-26 17:51] MichaIng commented on #2184
@webtroter
Strange, escaping the single quote `'` somehow does not work. `sed -i "\|cp '/var/www/nextcloud/config/config.sample.php'|d" /DietPi/dietpi/dietpi-software` works then (🈯️ test succeed). Jep of course manually remove the line works as well, I just wanted to prevent the manual edit + searching for correct line.

Ah jep (re)install did not work, since the wrong config.php is already in pl

[2018-10-26 18:00] MichaIng commented on #2184
The initial reason for the config.php copy was a rare issue that can occur during install:
- If the Nextcloud MariaDB database somehow already exists, but the install folder /var/www/nextcloud does not, then, because of existing database, the install script expects the install folder with already finished Nextcloud install (+config.php) to exist as well.
- It is dangerous to use a fresh Nextcloud

[2018-10-26 18:34] MichaIng commented on #2184
Okay PR is up: https://github.com/Fourdee/DietPi/pull/2186

[2018-10-26 18:38] MichaIng commented on #2185
@Fourdee
I edited it a bid. Since v6.17 we use GitHub mirror as first try, but pre v6.17 we used dietpi.com mirror as first try. So especially for pre-v6.17 updates + in case GitHub is down, this is required.

Shall we also upload the beta branch? At least when starting next beta phase?

[2018-10-26 18:49] MichaIng commented on #2181
@Fourdee
**€: Ah great commit already done 👍.**

Nope `dbus` is not required, if we use `systemctl` (instead of `timedatectl`). I am not sure how to test well if both are really the same, since timesyncd always recovers some stored timestamps, when time was manually edited, but I think the documentation makes it more than clear.

Yeah `G_AG_CHECK_INSTALL_PREREQ dbus` can be the reason, if a failur

[2018-10-26 20:15] Fourdee commented on #2185
@MichaIng

Good idea, but requires us to ensure we manually update mirror after each change.

Might be worth us investing in a cron job to do this for us, every hour?

[2018-10-26 22:28] webtroter commented on #2184
How can I test on fresh installs?

I think this is a better question :
How can I merge the PR locally on the pi and then update dietpi?

[2018-10-27 08:06] thaihugo opened #2187 "DietPi-Software | Preserve or backup existing config files on (re)installs"
Hi,
The latest DietPi date (6.17) completely replaced my /etc/mpd.conf without any backup. I now have to recreate all my entries from scratch to deal with my Bluetooth audio, http streaming and recording plugin. I understand that there are still bugs in the mpd/mympd couple and that I will probably have another deletion down the line on the next update.

I know the official answer for this topic i

[2018-10-27 12:41] Fourdee commented on #2187
@thaihugo

Hi Hugo,

Thanks for the report and apologies for the issues caused.

With DietPi, the whole purpose of our applications is to remove the need to modify Linux files, outside of DietPi scripts. However, as per the update prompt, if you modify Linux files, outside of DietPi scripts, they may be modified if a patch is required to bring the system up to next release.

As for which files are

[2018-10-27 12:47] Fourdee commented on #2184
@webtroter

Once we've ran local testing, we'll release to Beta for public testing. Will let you know when its ready + instructions to install Beta.

[2018-10-27 12:53] Fourdee commented on #2130
~User reported same issue with C2:~
https://dietpi.com/phpbb/viewtopic.php?f=11&t=5188&p=15209#p15209

Due to failed installed kernel.

---

@elleto

Thanks for the report. Removing the ```xorg.conf``` will allow for desktop usage. Kodi will not function until we can find a solution to the core issue.

Installing Kodi/Desktop in dietpi-software will recreate the ```xorg.conf``` automatically, simp

[2018-10-27 12:57] Fourdee commented on #2184
Test:
- 🈯️ NC + reinstall + GUI tests
- 🈯️ OC + reinstall + GUI tests

[2018-10-27 13:02] Fourdee commented on #2184
@webtroter

Fix is available in our Beta version, please see following link for more information:
https://github.com/Fourdee/DietPi/blob/master/BRANCH_SYSTEM.md#steps-to-use-the-dietpi-beta-branch

[2018-10-27 13:03] MichaIng commented on #2187
@thaihugo @Fourdee
But I agree, that we should preserve existing configurations/installs as good as we can. In many cases also in-UI configurations are stored in the settings file and/or it is simply required to do manual edit (also according to our own docs in some cases).

I had already in mind to go through all our installs and see where we can either:
- Use G_CONFIG_INJECT to place required se

[2018-10-27 13:04] Fourdee commented on #2185
@MichaIng

Original issue is now resolved, thanking you, will mark as completed 👍

[2018-10-27 13:04] #2185 closed, assigned to MichaIng

[2018-10-27 13:10] MichaIng commented on #2184
In most cases the quick fix above will work as well, simply removing the faulty config.sample.php copy:
[code]
The other parts of the PR only deal/workaround the rare situation that was the reason to add the config.sample.php copy.

[2018-10-27 13:10] Fourdee commented on #2159
@wallace11

Hi,

We added a global var to v6.17, which allows you to override the concurrent checks for special use cases:
[code]

In theory, if tmux copies existing exports, you can run this command before ```Create a new tmux session with at least 2 panes.```.
Failing that, you'd need to somehow set ```G_INIT_ALLOW_CONCURRENT=1``` at the 1st instance of tmux session generation.

I have 0 experie

[2018-10-27 13:14] Fourdee commented on #2104
@potter-91

I use cpufrequtils to get the current A15 freq and they are stuck at 2Ghz, even at powersafe gov.
I tried this at fresh and clean dietpi 1.16 at two XU4s...A15 stuck at 2Ghz

Thanks, will check on my system 👍

but interestingly my CS1 and CS2 are every time "sync". Both backlights are working the one day or both aren't working. Could be this bug depending at the time?!

Ok, i'll check

[2018-10-27 13:21] MichaIng commented on #2159
@Fourdee
Nice, didn't recognize that 👍.

However note that this is a bid dangerous to leave in place (exported), especially when you use several terminal windows. Concurrent executions can (and in many cases will surely) break each other. In case of banner/obtain network details however only visually.

So I still think the G_INIT_WAIT_CONCURRENT=<milli seconds> (or seconds but allow floating numbe

[2018-10-27 14:40] Fourdee commented on #2130
Confirmation XU4:
- 🈯️ Kodi | Appears to revert to software rendering, yet, removal of ```xorg.conf``` breaks it.
[code]
- 🈴 Desktop
[code]

[2018-10-27 14:44] thaihugo commented on #2187
@Fourdee

Thanks for your explanation and I understand perfectly the need for more ressources. A few point I would like to answer:

- The backup function is useful, but if my dietpi_userdata is very big with music and files, I get this in the backup as well. Or let’s say I have a few gigs of docker images, depending on the config, it might go in as well even if I don’t want it saved this way (ie w

[2018-10-27 14:57] Fourdee commented on #2104
CPU scaling appears to be functional (Hz), does seem a little trigger happy at the high end frequencies, could be a kernel bug/issue:
[code]

[2018-10-27 17:53] Fourdee commented on #2159
@MichaIng

Yep, no guarantee issues will not occur. However, it will allow the user to try a possible workaround.

[2018-10-27 18:57] tesseract241 opened #2189 "Nextcloud | Rpi3 | Fails to install"
- DietPi version	| VERSIONE_CORE=6 VERSION_SUB=17 VERSION:_RC=12 BRANCH=master OWNER=Fourdee
- Distro version	| stretch
- Kernel version	| 4.14.71.v7+
- SBC device		| RPi3 Model B+
- Power supply used	USB 3.0
- SDcard used		| No name SD

- Software title	| Nextcloud
- Fresh installation of both Dietpi and Nextcloud

#### Steps to reproduce:
On a fresh installation of Dietpi installing Nextcloud fa

[2018-10-27 20:36] MichaIng commented on #2189
@tesseract241
Thanks for your report.

However check existing issues please 😉: https://github.com/Fourdee/DietPi/issues/2184

To fix it quickly, run the following:
[code]
- The last command will rerun Nextcloud installation.

Sorry for the breakfix our side, it is resolved for v6.18, which you can also already apply via beta: https://github.com/Fourdee/DietPi/blob/master/BRANCH_SYSTEM.md

I mark t

[2018-10-27 20:37] #2189 closed, assigned to nobody

[2018-10-28 01:40] wallace11 commented on #2159
@Fourdee
Amazing! Adding the following line to my .bashrc just solved the problem like magic:

Regarding what @MichaIng suggested: I personally do think that in terms of design it's generally a much safer approach. My setup is used for my home server so there's nothing "unexpected" the system might run into, but in case of concurrent executions who knows what could go wrong ;)

BTW, if you're usin

[2018-10-28 12:27] Fourdee commented on #2159
@MichaIng

Yep could work, allow for a while loop with timeout based on ```G_INIT_WAIT_CONCURRENT=X``` seconds.

[2018-10-28 12:34] Fourdee commented on #2159
@wallace11

Sounds great, although, I'am a little spoilt, I run 5+ SBC's at any one time 🤣, Just a case of SSH'ing on demand 😄

[2018-10-28 12:57] Fourdee commented on #2159
@MichaIng

Done 👍

@wallace11

In v6.18, you may want to use the above, and, set a higher value (seconds). eg:
[code]

Above will wait for application to finish, before running, instead of simply allowing concurrent (which may cause issues).

Completed.

[2018-10-28 12:57] #2159 closed, assigned to Fourdee, MichaIng

[2018-10-28 13:26] Fourdee commented on #2181
@borpin

Issue should now be resolved. However, I'll need to update our image to apply the new boot code. Will let you know when its ready.

[2018-10-28 13:27] Fourdee commented on #2184
As completed with testing passed and workaround for pre-existing issue, will mark as closed. Please reopen if required.

[2018-10-28 13:27] #2184 closed, assigned to Fourdee, MichaIng

[2018-10-28 13:29] MichaIng opened #2190 "DietPi-Update | Wrong RC version in info string"
[code]
- Latest version  : **v6.18.1**
- Patching 6.17.9 to **6.18.9**

[2018-10-28 13:37] Fourdee commented on #2163
@dezren39

Its most likely kernel compile options are missing for full Docker support on this device. NanoPi tend to strip back their kernel (CIFS/NFS support missing in most cases).

Unfortunately, we do not offer/compile custom kernels, due to limited man hours. We rely on the provided kernel by FriendlyARM.

---

@MichaIng

Unsure what the cause is here. Removal of 7z resulted in DietPi error h

[2018-10-28 14:28] Fourdee commented on #2100
@troyane

Interesting find. Its not an official image from us, however, "if it works" 😄

[2018-10-28 14:34] 777ilya777 opened #2192 "issue with install NextCloud on fresh DietPi 6.17.12"
#### Details:
- Date           | Sun 28 Oct 14:33:05 GMT 2018
- Bug report     | N/A
- DietPi version | v6.17.12 (Fourdee/master)
- Img creator    | DietPi Core Team
- Pre-image      | Raspbian Lite
- SBC device     | RPi 3 Model B (armv7l) (index=3)
- Kernel version | #1145 SMP Fri Sep 21 15:38:35 BST 2018
- Distro         | stretch (index=4)
- Command        | ncc maintenance:mode --on
- Exit co

[2018-10-28 14:43] MichaIng commented on #2192
@777ilya777
Thanks for your report.

However check existing issues please 😉: https://github.com/Fourdee/DietPi/issues/2184

To fix it quickly, run the following:
[code]
- The last command will rerun Nextcloud installation.

Sorry for the breakfix our side, it is resolved for v6.18, which you can also already apply via beta: https://github.com/Fourdee/DietPi/blob/master/BRANCH_SYSTEM.md

I mark thi

[2018-10-28 14:43] #2192 closed, assigned to nobody

[2018-10-28 14:58] 777ilya777 commented on #2192
fix work tnx for rocked speed answer

[2018-10-28 15:29] Fourdee commented on #2181
RootFS expansion failing:
[code]

---

Still failing...
[code]

[code]

[2018-10-28 17:05] Fourdee commented on #2181
@borpin

Image updated, please try it and let us know if the issue is resolved with ```CONFIG_NTP_MODE=4``` on 1st run and during software install:
https://dietpi.com/downloads/images/DietPi_RPi-ARMv6-Stretch.7z

[2018-10-28 17:24] MichaIng commented on #1510
### for loop c-style vs. bash-style
#### c-style: `for ((i=a;i<=b;i=i+c))`
#### bash-style:  `for i in {a..b..c}` / `for i in {a..b}`, default c=1
[code]
@Fourdee
Clearly bash-style is faster, although the loop itself takes nearly no time (100,000 loops!), so totally marginal and personal coding preferences are totally okay.
But you know [[ $ME == 'perfectionist' ]], so I hope it's okay that I imp

[2018-10-28 17:43] borpin commented on #2181
Ok I'll try. Need to find a spare SD card first 😄

[2018-10-28 17:46] MichaIng commented on #2190
PR up to resolve: https://github.com/Fourdee/DietPi/pull/2194
- Simply do not show RC version during incremental patching, since it does not matter there (incremental patching only depends on subversion) and can only be wrong, when we don't know each subversions max RC version...

[2018-10-28 17:48] MichaIng commented on #2192
@777ilya777
Thanks for feedback 🙂.

Thanks to Push-IMAP email notifications 😄.

[2018-10-28 17:53] MichaIng commented on #2087
Did further enhancements about this: https://github.com/Fourdee/DietPi/pull/2193
- No manual escaping required any more. Testing on Jessie would be great, just to verify that Jessie wpa_supplicant parses the config file identically.

[2018-10-29 02:20] MichaIng opened #2198 "DietPi-Config | WiFi: Error message due to "wireless-power off""
[code]
Due to `/etc/network/interfaces`: `wireless-power off`

Error message shows up but does not have an effect on interface/adapter start and function, during my tests.

What is this setting for, perhaps we can add it conditionally to prevent this error from showing up?
**€: Ah, disable power savings mode. Makes sense. However the setting seems not to be supported by all WiFi adapters 🤔.**
Read

[2018-10-29 02:34] MichaIng commented on #1549
Settings possible via `dietpi-wifi.db/txt` now, handled within new DietPi-WiFiDB script: https://github.com/Fourdee/DietPi/blob/master/dietpi/func/dietpi-wifidb

But great would be the possibility to adjust EAP settings as well via GUI. Currently only WEP/PSK SSID+key possible.

[2018-10-29 04:41] elleto commented on #2130
Hi Fourdee,
Upon trying more things, only the desktop works when applying the workaround.
everything else that is run through the MATE desktop, like KODI and even firefox does not work.

`Section "ServerLayout"
	Identifier     "X.org Configured"
	Screen      0  "Screen0" 0 0
	InputDevice    "Mouse0" "CorePointer"
	InputDevice    "Keyboard0" "CoreKeyboard"
EndSection

Section "Files"
	ModulePath

[2018-10-29 15:04] Fourdee commented on #2198
@MichaIng

Yep 👍 Its a "cover all supported" method of disabling power saving. However, minor visual issue with some adaptors which do not support the feature.

[2018-10-29 17:23] MichaIng commented on #2190
Merged, will mark as closed

[2018-10-29 17:23] #2190 closed, assigned to nobody

[2018-10-29 17:25] MichaIng commented on #2198
Jep, low priority since visual only. However maybe via `iwconfig` (or sys/proc/dev/?) test we could check whether power options are available or not and conditionally add it to interface settings. Will investigate by times.

[2018-10-29 20:47] Gord1 opened #2200 "Wifi RTL8188CUS works, but RA Link RT5370 and Atheros AR9271 does not"
Using Dietpi 6.17 on Nanopi Neo

I have 3 wifi dongles. 1 works out of the box, while 2 others don't.
RTL8188CUS works fine, but RA Link RT5370 and Atheros AR9271 does not

They all show up properly in lsusb, eg
root@DietPi:~# lsusb
Bus 008 Device 001: ID 1d6b:0001 Linux Foundation 1.1 root hub
Bus 004 Device 006: ID 148f:5370 Ralink Technology, Corp. RT5370 Wireless Adapter
Bus 004 Device 001: ID

[2018-10-29 21:50] MichaIng commented on #2200
@Gord1
Thanks for your report. Did we already talk in the forum? 🙂
However, for completeness I rechecked theoretical installed driver support:

**Ralink RT5370** according to web search requires `rt2870.bin` driver which is part of pre-installed `firmware-misc-nonfree` package (on Stretch, on Jessie: `firmware-ralink`): https://packages.debian.org/stretch/all/firmware-misc-nonfree/filelist
- Verif

[2018-10-29 23:23] Gord1 commented on #2200
Thanks for the reply.

I don't see any wifi blacklisted.

root@DietPi:~# ls /etc/modprobe.d
8188eu.conf  8192cu.conf  disable_bt.conf      matrix-blacklist.conf
8189es.conf  8723bs.conf  g_mass_storage.conf  wlan_8192eu.conf

root@DietPi:~# cat /etc/modprobe.d/*
options 8188eu rtw_power_mgnt=0
options 8189es rtw_power_mgnt=0
options 8192cu rtw_power_mgnt=0
options 8723bs rtw_power_mgnt=0
blacklist

[2018-10-30 02:09] MichaIng commented on #2007
PR is up: https://github.com/Fourdee/DietPi/pull/2201

[2018-10-30 02:48] MichaIng commented on #2200
@Gord1
Jep, required modules are not blocked.

Could you also check `dmesg` for any kernel/voltage related errors?

[2018-10-30 03:51] Phil1988 opened #2202 "DietPi-Drive_Manager | Support "vboxsf" mounts (VirtualBox shared folder)"
In the past I used Raspbian on a Raspberry Pi (2,3) to run Nextcloud.
I had an external USB HDD attached to it where all data was stored.
This was very handy as my Raspberry once got a corrupted filesystem and couldnt boot and I was able to restore all the media in a few seconds by attaching this HDD to my (Windows) PC.

Now I wanted something more powerfull and using an MiniPC (i5 3570) running W

[2018-10-30 14:25] Gord1 commented on #2200
Hi,
I don't see any kernel or voltage errors of note, but there is a note about vcc being disabled.  This is the section of dmesg where Atheros dongle is found:

[    2.989311] hub 8-0:1.0: USB hub found
[    2.993129] hub 8-0:1.0: 1 port detected
[    2.998186] usbcore: registered new interface driver cdc_acm
[    3.003900] cdc_acm: USB Abstract Control Model driver for USB modems and ISDN adapte

[2018-10-30 14:55] Fourdee commented on #1510
@MichaIng

Dammit! 🤣

Yep, lets go for it 👍  Might take me a while to adjust, but i'll try 😄

[2018-10-30 14:57] Fourdee commented on #1510
@MichaIng

How would you do a ```<=100000```, or is that default?

[2018-10-30 15:22] Fourdee commented on #2200
@Gord1

Hi Gordon,

I suspect these modules are not compiled in the provided FriendlyARM kernel used on the device.

We can confirm this, for the 'RA Link RT5370':
- https://wiki.debian.org/rt2800usb
[code]

For the AR9271:
- https://wiki.debian.org/ath9k_htc
[code]

[2018-10-30 15:25] Fourdee commented on #2130
@elleto

Thanks for the additional info 👍

I'am unsure of the cause at the moment, looks driver/kernel related. However, I am planning to try a different kernel, just not had the time yet.

[2018-10-30 15:31] Gord1 commented on #2200
I tried purging the firmware-atheros and firmware-misc-nonfree drivers and installing them and no improvement.

The funny thing is if I unplug the atheros or ralink dongle and plug in the realtek, the realtek's light comes on and wifi starts up immediately without any fuss or fiddle.  It is just plug in and go.

Gordon

[2018-10-30 15:38] Fourdee commented on #2202
@Phil1988

Hi,

We added filesystem permissions support for NTFS in v6.15/16 I believe.

Check if following commands gives results:
[code]

Should get
[code]

If not, try unmount + mount the drive again in ```dietpi-drive_manager```. Once you see a results (as above), try moving the userdata.

[2018-10-30 15:49] Fourdee commented on #2007
Tests:
- 🈯️ Nginx + yes page
-- http://192.168.0.114/pihole replaced with /admin
- 🈴 Apache2 + no page
[code]

[2018-10-30 15:50] Gord1 commented on #2200
after ralink installed and reboot
[code]

So that is different.

but

[code]

I will try the same for the Atheros.
Gordon

[2018-10-30 15:57] Gord1 commented on #2200
Got an error with the Atheros:

root@DietPi:~# lsmod
Module                  Size  Used by
nls_ascii              16384  1
rtc_ds1307             24576  0
g_mass_storage         16384  0
ip_tables              24576  0
x_tables               20480  1 ip_tables

root@DietPi:~# modprobe ath9k_htc
modprobe: FATAL: Module ath9k_htc not found in directory /lib/modules/4.14.0

root@DietPi:~# ls /lib/mod

[2018-10-30 16:20] MichaIng commented on #1510
@Fourdee
It's <=100000 by this, <from>..<until>..<steps>. So for <100000 it should be 0..99999 or for same loop count 1..100000

Ah yeah the c-style loop above made one loop less 😉.

Jep no problem, since the overall time a loop up-count takes is anyway in 10 to 100 nano seconds area, this is nothing urgent 😄.

[2018-10-30 16:25] MichaIng commented on #2007
@Fourdee
Hmm, first thought about missing `FollowSymLinks`, but this is default in our Apache config: https://github.com/Fourdee/DietPi/blob/dev/dietpi/conf/apache2_jessie.conf#L42

`/admin` works right? Will test as well.

Strange, web UI was not even installed:
[code]
Is `/var/www/html` required? This is created on Lighttpd install but not on Apache2 install.

[2018-10-30 17:02] Fourdee commented on #2007
@MichaIng

Same error with admin.

html folder missing?
[code]

[2018-10-30 17:06] MichaIng commented on #2007
More stange:
I just did a `dietpi-software reinstall 93` to check for error messages during Pi-hole installer run that I might have overseen. Chose "reconfigure" to emulate a fresh install.
Afterwards the html folder exists:
[code]
And webUI + blocking page works now.

Note to self: symlinks got backup, which should not be done if those match the ones created.

[2018-10-30 17:07] Fourdee commented on #2007
@MichaIng

Yep, just did the same lol 👍

[2018-10-30 17:09] Fourdee commented on #2007
@MichaIng

Apache2 APT install, generates its own html dir:
[code]

Pihole install, pre-our-config
[code]

```/var/www/html``` removed during our config stage

[2018-10-30 17:25] MichaIng commented on #2007
During Apache configuration we do: `rm -R /var/www/html &> /dev/null` 😄
This is dangerous anyway. We should only do, if dir is empty.

`[[ $(ls -A /var/www/html 2>&1) ]] || rm -R /var/www/html`
- Only remove dir if nothing left inside and it exists (otherwise error message will prevent removal)?

@Fourdee
Fixed via: https://github.com/Fourdee/DietPi/commit/2368ef4d3757888c64c92f330949c239bdcf9ee0

[2018-10-30 17:34] Phil1988 commented on #2202
Hmm...
Looks like things are more complicated.

As I am using VirtualBox my "storage" is a virtualDisk file, which will destroy the direct access benefit from using ths NTFS drive.
So I thought I could use a shared folder that links to the root of my HDD.
The shared folder is working but in the drive-manager I cant see it.

the `cat /etc/fstab | grep permissions`
gives me
![unbenannt](https://user

[2018-10-30 17:58] MichaIng commented on #2202
@Phil1988
Not sure if I fully understood everything.

When you set up a samba/NFS/whatever server, this will not show up in drive manager. Only when you mount an external network drive, this can be done via drive manager and shows up there as well.

Our VirtualBox images come with vmdk disk image file jep, but this does not influence the contained file system nor the permissions you can set. You c

[2018-10-30 18:55] Phil1988 commented on #2202
Currently I have no samba/NFS running.

The "problem" of these vmdk is, that it is a contained file where I have no direct access to the data (only at running the VM) and therefore a backup if something happens (vmdk currupted, VM destroyed...) is not possible.
So if I create a virtual disk and attach it to the VM then I have no real benefit.

The goal I am trying to reach is, to have a windows ac

[2018-10-30 23:37] MichaIng commented on #1674
@Fourdee
Puhh, wanted to do a start on this, as I like it quite much. No fixed DHCP lease need to be configured or estimated and added to `dietpi.txt`. Theoretically this could be even done on every boot, so wherever you boot your Pi (in what network), it will automatically estimate DHCP, apply as static, thus does not need have DHCP client running in the background.

But this requires to gateway

[2018-10-31 04:29] MichaIng commented on #1510
### Index loop vs. loop through array/files

[code]
- Simply counting up the integers is fastest, but not that much faster than looping through an array or through files directly. c-style loop above is even slower than all of them 😄. My guess is the reason is init of arithmetic environment.
- I did this, as we often check for arrays or files via index loop and check/read array value/key or file na

[2018-10-31 05:03] v1rot-8 opened #2203 "[dupe] DietPi-Software - Failed to auto install either ownCloud or Nextcloud"
#### Details:
- Date           | Wed 31 Oct 17:53:30 NZDT 2018
- Bug report     | N/A
- DietPi version | v6.17.12 (Fourdee/master)
- Img creator    | DietPi Core Team
- Pre-image      | Raspbian Lite
- SBC device     | RPi 2 Model B (armv7l) (index=2)
- Kernel version | #1145 SMP Fri Sep 21 15:38:35 BST 2018
- Distro         | stretch (index=4)
- Command        | ncc maintenance:install
- Exit cod

[2018-10-31 10:30] troyane commented on #2181
@borpin @Fourdee @MichaIng  I'm ready to test it. Already burned to image prepared by @Fourdee  to microSD, and have RPi Zero W. What kind of help is required? What output should I provide to help?

[2018-10-31 10:40] borpin commented on #2181
@troyane - my failure scenario was using the settings in dietpi.txt to:
- select mode 4 ntp sync
- auto install package 130.

If the package installs correctly and the output of `timedatectl status` looks like this

[code]

(key info is the time is correct &  `Network time on: yes` & `NTP synchronized: yes`) we are good to go.

Not had time nor a spare SD card as yet.

[2018-10-31 11:15] troyane commented on #2181
@borpin you wrote

Could you provide more information? Should I do this changes before first run? If so, please provide exact commands I need to put into `dietpi.txt`.

[2018-10-31 12:30] Gord1 commented on #2200
Hi,
Just looking at the Ralink 5370 dongle

root@DietPi:~# lsusb
gives
Bus 004 Device 003: ID 148f:5370 Ralink Technology, Corp. RT5370 Wireless Adapter

For 148F devices shows that the 5370 is not listed
root@DietPi:~# modinfo rt2800usb |grep 148F
alias:          usb:v148Fp3572d*dc*dsc*dp*ic*isc*ip*in*
alias:          usb:v148Fp8070d*dc*dsc*dp*ic*isc*ip*in*
alias:          usb:v148Fp3370d*dc*dsc*

[2018-10-31 13:15] Fourdee commented on #2181
@troyane

Thanks for helping out, appreciate it 👍

After writing a DietPi image, edit ```/boot/dietpi.txt```, change:
[code]

Save changes, then power on the device. Check for any errors during installation.

[2018-10-31 13:42] Fourdee commented on #2007
@MichaIng

Legend, works a charm 👍 Thanks.

🈴 Blocking page with Apache2 doesn't appear to be working for me:
<img width="301" alt="untitled" src="https://user-images.githubusercontent.com/7077026/47791926-bc1d8080-dd12-11e8-9592-11c86042635f.png">
<img width="683" alt="untitled2" src="https://user-images.githubusercontent.com/7077026/47791931-be7fda80-dd12-11e8-9629-1e206836c80e.png">
[code]

[2018-10-31 14:13] Fourdee commented on #2200
@Gord1

Hi Gordon,

I suspect a disabled kernel compile option:
https://github.com/torvalds/linux/blob/master/drivers/net/wireless/ralink/rt2x00/Kconfig#L175

The above must be enabled for ```rt2800usb``` module to support the 5370.

Unfortunately, we are unable to offer custom kernels, due to time restraints. You would need to compile the kernel with that option enabled.

[2018-10-31 14:15] MichaIng commented on #2007
@Fourdee

So not yet like a charm 😄.

[code]
??? So `pihole-FTL.conf` was empty when `G_CONFIG_INJECT` injected the setting, only in this case `# Added by DietPi:` will be added to allow `sed` add to end of file. There is supposed to be much more content, did something go wrong with Pi-hole installer?

[2018-10-31 14:30] Fourdee commented on #2087
Test:
- 🈯️ "$moocow

@MichaIng

Legend, works a charm 👍

[2018-10-31 14:37] Fourdee commented on #2203
@v1rot-8

Thanks for the report 👍

This is a known issue, fixed in next release: https://github.com/Fourdee/DietPi/issues/2184
Also available in Beta:
https://github.com/Fourdee/DietPi/blob/master/BRANCH_SYSTEM.md#steps-to-use-the-dietpi-beta-branch

[2018-10-31 14:37] #2203 closed, assigned to nobody

[2018-10-31 14:37] troyane commented on #2181
@Fourdee  I'm not sure if it is it related to this issue, but I can't boot. I've burned image to microSD (SanDisk Ultra 8gb) via Etcher. Edited `/boot/dietpi.txt` as required. Connected my RPi Zero W v1.1 via UART and here is boot log. Looks like it stuck on that line and can't do anything.

<details><summary> First boot log </summary>

[code]
</details>

[2018-10-31 14:43] borpin commented on #2181
Did you edit the wifi.txt file for your wifi settings? I missed that as well once.

[2018-10-31 14:58] frostasm commented on #2100
I'm also interested in NanoPi Neo Air support

[2018-10-31 15:34] MichaIng opened #2205 "DietPi Image | Odroid-H2 X86 Quad-core SBC"
## Creating an image request:
- Via forum: https://dietpi.com/phpbb/viewtopic.php?f=9&t=5203

#### Give us some formal device information:
- Device name | Odroid-H2
- Official product URL | https://www.odroid.co.uk/index.php?route=product/product&product_id=855
- GitHub resource URL (if available) | https://github.com/hardkernel?tab=repositories
- Image download URL | N/A (?)

#### Is the SBC offi

[2018-10-31 15:37] Fourdee commented on #2181
@troyane

We disable serial after 1st run, you can set this in ```dietpi.txt```:
[code]

@borpin 👍

If using WiFi also set in ```dietpi.txt```:
[code]

And enter creds in ```dietpi-wifi.txt```

[2018-10-31 15:42] Fourdee commented on #1674
@MichaIng

Yep, issue is most of the code you need for current IP and valid detection is in ```dietpi-config``` ```Network_GetData()```. Might need to move this outside to ```set_hardware```.

Once the above is obtained, set a static IP. Again, the code for this is in ```dietpi-config```.

Basically a rewrite is needed if we want to do this efficiently, by moving the dietpi-config code to a shared

[2018-10-31 15:49] Fourdee commented on #2007
@MichaIng

I believe ```/etc/pihole/pihole-FTL.conf``` are optional vars you can use to override defaults:
https://docs.pi-hole.net/ftldns/configfile/

Install vars are in ```/etc/pihole/setupVars.conf```
[code]

So, is the issue Pi-hole ignoring the var, or, something our end, needs further testing/debugging.

[2018-10-31 15:51] troyane commented on #2181
@Fourdee Thanks for comments. It was a bit consufing to me see that serial was turned off after 1st run. In any case, I've set all up, here is boot log:

<details><summary>First boot log (with Wi-Fi)</summary>

[code]

</details>

---

After connecting to RPi via SSH I can see tonns of messages
[code]

for last half an hour (or even more).

---

**UPD:** Ctrl+C gives me access to terminal:
[code]

[2018-10-31 16:04] MichaIng commented on #1674
@Fourdee

Hmm, better for my impression as a quick implementation would be indeed to double all required interface estimation inside /boot first run function, instead of further messing the dietpi-config code-monster :smiley:.

But since this is a non-important request, I am more keen to step-by-step outsource code from dietpi-config to shared scripts/functions. Perhaps we can make a start by doin

[2018-10-31 16:07] MichaIng commented on #2007
@Fourdee
Jep, AFAIK most settings are commented by default. But still during my tests, /etc/pihole/pihole-FTL.conf contained all settings, at least as comments, and explanations about them. This should be preserved. No idea how it could be empty in your case. Will do another test.

[2018-10-31 16:20] DoaneAS opened #2206 "missing files after diet-pi update to v6.17"
## Creating a bug report/issue:
 Missing system files following update.

#### Required Information:
- DietPi version	|
#!/bin/bash
G_DIETPI_VERSION_CORE=6
G_DIETPI_VERSION_SUB=17
G_DIETPI_VERSION_RC=12
G_GITBRANCH=master
G_GITOWNER=Fourdee

- Distro version	| stretch
- Kernel version	| Linux PC196431 4.14.71-v7+ #1145 SMP Fri Sep 21 15:38:35 BST 2018 armv7l GNU/Linux
- SBC device		| RPi 3 Model B

[2018-10-31 16:24] MichaIng commented on #2181
@borpin
File system expansion and first run setup on boot script level worked well. After reboot first run update should be applied and first run setup on dietpi-software level. Could you check `htop` to see which script hangs?
__________________

See 'systemctl status serial-getty@ttyS1.service' for details.

We really need to mute or workaround those irritating error messages, since it is expect

[2018-10-31 16:33] MichaIng commented on #2206
Very strange. Did you check `/bin/which -a ldconfig start-stop-daemon` and `ls -l /sbin/ldconfig /sbin/start-stop-daemon` if those binaries are really missing?

From which version of DietPi did you update to v6.17? We did a dietpi-backup rework some versions ago, after which older backups were not supported any more. But of course those can be restored manually. Verify that the actual backup files

[2018-10-31 17:07] sal666 commented on #1171
@Fourdee

Hi. sorry for the delay but it's been a hell of a messy testing process.
I've been experiencing many errors and still I'm not 100% sure of the causes.
Anyway, this is the installer I've prepared. Just follow this instructions:

1. Download [Clonezilla alternative stable - 20180812-bionic](https://clonezilla.org/downloads/download.php?branch=alternative) and unzip to a clean GPT+FAT pen d

[2018-10-31 17:13] borpin commented on #2181
@MichaIng I think you mean that for @troyane

I noted this is the log (unrelated I grant you).

[2018-10-31 17:36] MichaIng commented on #2181
@borpin
Jep, sorry and thanks for redirecting 🤣.

`[FAILED] Could not determine device ID from: /etc/.dietpi_hw_model_identifier`
Jep, this happens on RPis, where the exact model is determined differently. We should workaround this confusing error message in case of RPi.

[2018-10-31 17:40] matbar87 opened #2207 "Nextcloud - install error"
#### Details:
- Date           | Wed 31 Oct 18:34:21 CET 2018
- Bug report     | N/A
- DietPi version | v6.17.12 (Fourdee/master)
- Img creator    | n/a
- Pre-image      | n/a
- SBC device     | RPi 3 Model B+ (armv7l) (index=3)
- Kernel version | #1141 SMP Mon Sep 10 15:26:29 BST 2018
- Distro         | stretch (index=4)
- Command        | ncc maintenance:mode --on
- Exit code      | 1
- Software

[2018-10-31 17:41] MichaIng commented on #2007
I think I was mistaken, the pihole-FTL.conf is clearly initiated as empty file```
: https://github.com/pi-hole/pi-hole/blob/master/automated%20install/basic-install.sh#L1241-L1246

`install` = `cp` with `-o <user>` `-g <group>` `-m <permissions>` and done from /dev/null, so empty.

Hmm what is the difference:
[code]
_________
🈯️ Retested with VM Stretch Pi-hole server and VM Jessie client. Install

[2018-10-31 17:52] troyane commented on #2181
But how could I do that? As soon as I Ctrl+C the process will be killed. Already ssh'ed as `root` and as `dietpi` -- see the same messages on both sessions.

**UPD:** I got it. Have two sessions opened -- as root (with lines `[ INFO ] DietPi-Login | DietPi is currently installing and configuring your system. Please wait for this to complete, check back later.` constantly appearing) and one with `d

[2018-10-31 20:46] Gord1 commented on #2200
Hi,
OK, thanks for all your work.

I've tried Armbian and both ralink and realtek dongles work.

You can close this.
Gordon

[2018-11-01 06:27] Kreeblah opened #2209 "Unable to update Roon Bridge"
## Creating a bug report/issue:

#### Required Information:
- DietPi version	| 6.17
- Distro version	| stretch
- Kernel version	| Linux odroidc2-2 3.16.56+ #1 SMP PREEMPT Wed Apr 18 16:59:34 CEST 2018 aarch64 GNU/Linux
- SBC device		| Odroid C2 (aarch64)
- Power supply used	| https://ameridroid.com/products/5v-2a-power-supply
- SDcard used		| https://ameridroid.com/products/emmc-black-module-c2-li

[2018-11-01 13:40] troyane opened #2210 "PREP loses WiFi connection during network-manager removal"
#### Details:
- Date           | Thu  1 Nov 13:18:39 UTC 2018
- Bug report     | Looks like it is related to https://github.com/Fourdee/DietPi/issues/2054
- DietPi version | v6.16.0 (Fourdee/master)
- Pre-image      | Armbian_5.65_Nanopiair_Debian_stretch_next_4.14.78
- SBC device     | NULL (index=64)
- Kernel version | # 412 SMP Fri Oct 26 11:37:04 CEST 2018
- Distro         | stretch (index=4)

[2018-11-01 15:01] MichaIng commented on #2207
Thanks for the report. Jep it's a known issue, please check to resolve: https://github.com/Fourdee/DietPi/issues/2192
I mark this as closed.

[2018-11-01 15:01] #2207 closed, assigned to nobody

[2018-11-01 15:04] MichaIng commented on #2209
@Kreeblah
Thanks for your report. I mark for investigation and try to replicate.

#### From bugreport
Service status:
[code]
RoonBridge log:
[code]

[2018-11-01 15:27] MichaIng commented on #2210
@troyane
Thanks for your report.

It looks like the DNS server entry was broken.

So you used WiFi connected SSH to run the installer script? This is known to cause issues. As mentioned within the script documentation and comments on script code start, we usually require an Ethernet connection. More precisely either Ethernet or, if WiFi, a direct terminal (non-SSH) access should work.

The problem

[2018-11-01 15:46] troyane commented on #2210
@MichaIng

I was aware of possible problems with connection over SSH, so I connected via UART. Also Nano Pi Neo Air has no Ethernet option, its Wifi-only.

Yes, but I can't connect via SSH, since it dropped connection already.

[2018-11-01 16:00] MichaIng commented on #2202
@Phil1988
Okay jep direct access to a vmdk/vdi image is not possible.

You have several options to achieve your need:
- As a full VM backup I would regularly create a snapshot of the whole VM. So if it refuses to start at all, you can recover this snapshot. Only changes are safed in the snapshot, so not all data is doubled.
- You could plug an external USB drive to the host and attach this through

[2018-11-01 19:43] MichaIng opened #2211 "Open Beta v6.18 | Help testing and hardening the next release"
RC version | v6.18.13
---------- | -------
Changelog | https://github.com/Fourdee/DietPi/blob/beta/CHANGELOG.txt
Code changes | https://github.com/Fourdee/DietPi/compare/master...beta
How to apply | https://github.com/Fourdee/DietPi/blob/beta/BRANCH_SYSTEM.md
v6.18.13 | https://github.com/Fourdee/DietPi/pull/2290

### Known issues:
#### DietPi functionality
- DietPi-Globals | G_* functions are not

[2018-11-01 19:50] MichaIng commented on #2181
@borpin
Thanks for screen. `/DietPi/dietpi/dietpi-software` is still running from first run login script: https://github.com/Fourdee/DietPi/blob/master/dietpi/login#L186

If it has not yet finished, it seems to be stuck somewhere, sadly no external command can be seen that currently runs. Since CPU usage changes around 15% it is still doing something.

Luckily we log output of 1st run setup to a t

[2018-11-01 20:18] borpin commented on #2181
~~No success.  Failed to install as time has not been corrected.  I've a HDMI plugged in so no output I am afraid.  Not sure how to connect terminal console.~~

[edit] First run - wrong type of PI (not wireless) Doh!

[2018-11-01 20:36] MichaIng commented on #2181
@borpin
Ah lol now I see I mentioned the wrong person (again!), this was to @troyane 😅.
I think the daemon+drift issue should be resolved with: https://github.com/Fourdee/DietPi/commit/d9ac484d324842fe4c924edc2a1c297edbc14371
- Either apply those changes to your image, before booting the first time, or leave NTP mode as default and enable daemon+drift on first run setup. We will update images as s

[2018-11-01 21:06] msdos opened #2212 "Jackett reinstall doesn't work."
## Creating a bug report/issue:

#### Required Information:
- DietPi version	| `cat /DietPi/dietpi/.version`
G_DIETPI_VERSION_CORE=6
G_DIETPI_VERSION_SUB=17
G_DIETPI_VERSION_RC=12
G_GITBRANCH=master
G_GITOWNER=Fourdee
- Distro version	| `echo $G_DISTRO_NAME` or `cat /etc/debian_version`
9.4
- Kernel version	| `uname -a`
Linux 4.14.71-v7+ #1145 SMP Fri Sep 21 15:38:35 BST 2018 armv7l GNU/Linux
- SB

[2018-11-01 21:32] borpin commented on #2181
Ok, so that seems to have set the date correctly and I saw some time commands *but* `timedatectl` returns `Failed to create bus connection: no such file or directory`.

If I go into `dietpi-config`, daemon + drift is selected, but if I select it again, `dbus` is installed.  Without a reboot, `timedatectl` then works and gives the expected output.

[2018-11-01 21:34] borpin commented on #2181
Ha comments crossed.  May be we are not seeing the issue as the delta is too great. I didn't apply the patch - how would I do that?

[2018-11-01 23:28] MichaIng opened #2213 "DietPi-Software | GLOBAL_PW: OpenSSL key decrypt deprecated key derivation"
[code]
[code]
`openssl enc -base64 -d -aes-256-cbc -nosalt -pass pass:XXX` seems to use some deprecated method. But I don't know enough to solve this. Simply adding/replacing the provided arguments does not work, lead to error or bad output. I guess encryption needs to be adjusted as well?

Not urgent, since this shows up on Debian Buster (testing) only, but should be easy to fix, if one knows how

[2018-11-02 07:42] puccaso commented on #1558
hey guys - you know, im having the same issue.
i've documented the issue on raspberry pi forums, https://www.raspberrypi.org/forums/viewtopic.php?f=66&t=225936&p=1387128#p1387128

the PIX icon theme works, but nothing else.

[2018-11-02 07:44] puccaso commented on #1558
![image](https://user-images.githubusercontent.com/3234729/47899898-eb4b0380-de72-11e8-8ab0-77fbf82278b0.png)
![image](https://user-images.githubusercontent.com/3234729/47899909-f140e480-de72-11e8-9bf1-efa97de9fc75.png)
![image](https://user-images.githubusercontent.com/3234729/47899918-f6059880-de72-11e8-85b7-de2e1f8c7dce.png)
Here is my current output.
im on the most recent raspbian - how might

[2018-11-02 08:21] troyane commented on #2181
@MichaIng If this issues are not related, it will be much better to have separate issue.

---

`cat /tmp/dietpi-firstrun-setup.log` blinks, but outputs nothing. I've opened this file via MC's View:

<details>
<summary>Constantly growing <code>dietpi-firstrun-setup.log</code></summary>

![peek 2018-11-02 10-11](https://user-images.githubusercontent.com/477468/47901339-5bb04f80-de88-11e8-93f7-9a8975

[2018-11-02 09:14] MichaIng commented on #1510
NB: for i in {0..99} does mit take variables for the Intervall, so in most cases c-style loops are still needed ;).
____
https://www.linuxtopia.org/online_books/advanced_bash_scripting_guide/string-manipulation.html
Several string manipulation methods that prevent the use of sed/awk, this should be faster.

[2018-11-02 09:46] MichaIng commented on #2212
@msdos
Thanks for your report. Jep indeed it needs to be `cp -Rf /opt/Jackett/. /opt/jackett` to support reinstall into existing directory. With asterisk instead of dot, to skip hidden files (with leading dot in name).
For fresh install mkdir -p /opt/jackett required first.

Are there any configuration files or data stored within the install dir? Otherwise we could remove existing dir first to avo

[2018-11-02 12:25] sal666 commented on #1171
@Fourdee
Regarding grub, I think it won't be fixed for Stretch. Next stable version -Buster, now in testing phase- currently packs grub 2.02+dfsg1-7 which should work fine. On my Apollo Lake laptop I'm currently running Lubuntu 18.10 with grub 2.02+dfsg1-5 and I works flawlessly.
Using stretch-backports could be an option, but grub is not backported :(

So the only viable options are:
1. manually

[2018-11-02 19:20] DoaneAS commented on #2206
Thanks.  All is working fine after a fresh install.  Unfortunately I don't have a copy of the old system to check your suggestions.  I think the last time I updated, before this most recent attempt, was not more than a few weeks ago.

My best guess is a hardware issue with the SD card could be to blame, or something related to mounting that volume.  In any case I'll close this and appreciate your

[2018-11-02 19:20] #2206 closed, assigned to nobody

[2018-11-02 21:50] Fourdee commented on #1558
@puccaso

Hi,

We forgot to hold the APT package during install (fixed in v6.18). Raspbian repo updates will replace the pcmanfm package and broken icons will re-appear.

Workaround, is to reinstall the Debian repo (mirrored on our site) pcmanfm with working icons:
[code]

[2018-11-02 23:19] MichaIng commented on #2187
PR in work: https://github.com/Fourdee/DietPi/pull/2214

ID | Title | Configs | Internal updater | Install method
-- | ----- | ------- | ---------------- | --------------
147 | Jackett | .config/.mono | 🈺 check only | Backup configs, purge old install dir, merge configs into new install
154 | RoonServer | ? | 🈯️ Internal auto updater | Skip, if existent
54 | phpBB | config.php/custom extensions |

[2018-11-02 23:25] MichaIng commented on #2212
Fix for Jackett is up: https://github.com/Fourdee/DietPi/pull/2214
- I will go through all titles, since there are more cases that should fail similar.
- As well I will check and in case better preserve existing config files: https://github.com/Fourdee/DietPi/issues/2187
- A shared function for this is difficult, since e.g. the downloaded archives sometimes contain a parent dir, sometimes not. Thu

[2018-11-03 02:02] MistahDarcy opened #2215 "DietPi-Globals | G_CONFIG_INJECT: Special chars need to be escaped function internally, in case added via variable"
#### Information:
- Software title	| Transmission
- Was the software title installed freshly or updated/migrated? Fresh install
- Can this issue be replicated on a fresh installation of DietPi? Yes

#### Steps to reproduce:
1. Create any password with an & (ampersand) symbol.
2. transmission-daemon completely fails to load on boot, and webui is inaccessible.

#### Extra details:
Manually editing /

[2018-11-03 13:55] Lanneer487 opened #2216 "DietPi-Config | Always shows en_G + Plex media server doesn't start"
I have a fully updated system but today my plex server wont start.
when I look for the service status I get a failed status.
<img width="1920" alt="schermafbeelding 2018-11-03 om 14 54 23" src="https://user-images.githubusercontent.com/9874656/47953081-8083f000-df78-11e8-8bc4-5821b59d0361.png">
someone knows how to fix this?

[2018-11-03 14:01] MichaIng commented on #2216
@roelfoubert
Thanks for your report.
Could you please check the full log when attempting to start:
[code]
This shows the full syslog output in reverse order, newest at the top, so you don't need to scroll to bottom 😉.

[2018-11-03 14:07] Lanneer487 commented on #2216
Nov 03 15:04:15 raspberrypi systemd[1]: plexmediaserver.service: Failed with result 'exit-code'.
Nov 03 15:04:15 raspberrypi systemd[1]: plexmediaserver.service: Unit entered failed state.
Nov 03 15:04:15 raspberrypi systemd[1]: Failed to start Plex Media Server for Linux.
Nov 03 15:04:15 raspberrypi systemd[1]: plexmediaserver.service: Start request repeated too quickly.
Nov 03 15:04:15 raspberry

[2018-11-03 14:12] MichaIng commented on #2215
@MistahDarcy
Thanks for this info. Hmm I guess there are other special characters unsupported then. Hmm not sure how to handle this best.
- Replace/Remove magic characters from GLOBAL_PW, before applying to Transmission and inform user about it? But what about DietPi-Automation installs?
- Only allow non-magic characters for the global pass? No good solution. It is an issue that there are still so

[2018-11-03 14:16] MichaIng commented on #2216
@roelfoubert
Okay this just shows the 5 repeating startup attempts from systemd 🤔.

We need some Plex internal log. If you can find this somewhere would be great, but I will also set it up and check.

[2018-11-03 14:34] MichaIng commented on #2216
Okay works fine here. Logs were hard to find, but here it is:
`/var/lib/plexmediaserver/Library/Application\ Support/Plex\ Media\ Server/Logs/Plex\ Media\ Server.log`

This is the best start, I guess, but the same folder contains more logs for the sub processes. Check for this  for ERROR messages, e.g. `grep 'ERROR' /var/lib/plexmediaserver/Library/Application\ Support/Plex\ Media\ Server/Logs/*`

[2018-11-03 14:41] puccaso commented on #1558
hello @Fourdee ,

thanks for getting back to me,

yea, that just segments for me,
im looking in the deb package itself for what is different..
what exactly has been/needs to be change in the source for the RPI guys, maybe i can follow this up with them..

[2018-11-03 14:44] MichaIng commented on #1558
@puccaso
This would be great. Always better to solve this dev/maintainer side instead of keeping an unideal workaround.

[2018-11-03 14:57] enolp opened #2217 "[reopen] Unable to install Nextcloud"
#### Details:
- Date           | Sat  3 Nov 15:45:33 CET 2018
- Bug report     | N/A
- DietPi version | v6.17.12 (Fourdee/master)
- Img creator    | DietPi Core Team
- Pre-image      | Raspbian Lite
- SBC device     | RPi 3 Model B (armv7l) (index=3)
- Kernel version | #1145 SMP Fri Sep 21 15:38:35 BST 2018
- Distro         | stretch (index=4)
- Command        | ncc maintenance:install
- Exit code

[2018-11-03 15:01] Lanneer487 commented on #2216
/var/lib/plexmediaserver/Library/Application Support/Plex Media Server/Logs/Plex DLNA Server.2.log:Mar 28, 2018 01:37:13.414 [0x75357140] ERROR - Couldn't rename file "/var/lib/plexmediaserver/Library/Application Support/Plex Media Server/Plug-in Support/Databases/com.plexapp.dlna-new.db-shm" to "/var/lib/plexmediaserver/Library/Application Support/Plex Media Server/Plug-in Support/Databases/com.p

[2018-11-03 15:02] enolp commented on #2217
I checked the changelog from dev branch and this bug is solved. Sorry for the inconvenience.

[2018-11-03 15:06] MichaIng commented on #2217
@enolp
No worries 😉. Check existing (closed) issues about it to fix this on your system.

Fix is also already merged to beta branch.

[2018-11-03 15:16] MichaIng commented on #2216
@roelfoubert
Okay last ERROR from end of Juli, so this should not related 🤔:
[code]

Did the error actually appear after a `dietpi-update`, or do you remember something else that changed?

Also check the very last logs:
`tail /var/lib/plexmediaserver/Library/Application Support/Plex\ Media\ Server/Logs/Plex\ Media\ Server.log`

[2018-11-03 15:18] Lanneer487 commented on #2216
yesterday it all works today I had a problem. the only thing it does is auto apt-get upgrade so maybe a bad upgrade?

[2018-11-03 15:21] MichaIng opened #2218 "RPi.GPIO | Broken by current kernel release (APT)?"
Ref: https://dietpi.com/phpbb/viewtopic.php?f=9&t=5198
- [x] Replicate
- [x] ~Check if current master resolves it: `rpi-update`~
- [x] ~Hope for fast package/release update 😉.~

[2018-11-03 15:28] Lanneer487 commented on #2216
tail logs:
Jul 29, 2018 18:02:06.544 [0x745ab0d0] DEBUG - Captured session 14.
Jul 29, 2018 18:02:06.544 [0x745ab0d0] DEBUG - Captured session 15.
Jul 29, 2018 18:02:06.544 [0x745ab0d0] DEBUG - Captured session 16.
Jul 29, 2018 18:02:06.544 [0x745ab0d0] DEBUG - Captured session 17.
Jul 29, 2018 18:02:06.544 [0x745ab0d0] DEBUG - Captured session 18.
Jul 29, 2018 18:02:06.544 [0x745ab0d0] DEBUG - Ca

[2018-11-03 15:44] MichaIng commented on #2216
@roelfoubert
Possible. Which system logging mode did you choose? If you don't use dietpi-ramlog, could you check which packages were updated during this upgrade step? `/var/log/apt/term.log`
In case of dietpi-ramlog with storing logs before clearing, you would find them in /root/ directory.

Strange, the last log entries are from Jul 29, but your system time is correct according to screen above 🤔.

[2018-11-03 15:49] Lanneer487 commented on #2216
the timezone is correct
<img width="863" alt="schermafbeelding 2018-11-03 om 16 47 28" src="https://user-images.githubusercontent.com/9874656/47954246-4884a900-df88-11e8-8ca9-2919c3d222b0.png">

the log file:
root@raspberrypi:~# /var/log/apt/term.log
-bash: /var/log/apt/term.log: Permission denied

[2018-11-03 15:54] MichaIng commented on #2216
@roelfoubert
[code]
This tries to execute the log file 😉
Use `cat /var/log/apt/term.log` to fully output to terminal. But when not using ramlog this can be veeery much.
I mostly use `nano /var/log/apt/term.log` which opens the log in the editor which allows scrolling up and down.

Hmm your locale is en_GB, but according to our install script en_US is needed. Could you try to change that? Sadly I c

[2018-11-03 16:00] Lanneer487 commented on #2216
When I change to en_US it automatically changes to en_GB

[2018-11-03 16:03] Fourdee commented on #2215
Notes:

[code]

[code]

Re-run, G_CONFIG_INJECT:
[code]

Same
[code]

---

🈯️ We need to check ```GLOBAL_PW``` and escape ```\``` in ```G_CONFIG_INJECT``` function
[code]

[2018-11-03 16:07] Lanneer487 commented on #2216
If you want I can give you remotely access to my pi

[2018-11-03 16:07] Fourdee commented on #2216
@MichaIng

I guess we should always apply it?

Yep 👍, + ```G_WHIP_MSG 'Locale will be changed to en_US``` etc?

[2018-11-03 16:08] Fourdee commented on #2216
@roelfoubert @MichaIng

confirmed, looking into it now.

---

dietpi-config reports en_GB, when:
[code]

Due to current bash session not reloading the locale vars.
We set en_GB in our scripts.

locale is applied to system correctly, visual issue our end.

[2018-11-03 16:08] MichaIng commented on #2216
@Fourdee
Jep, I didn't check the reason for this, but if required then should not depend on interactive/noninteractive call.

@roelfoubert
<s>Jep also just verified, locale change does not work 🤔.</s>

[2018-11-03 16:09] Lanneer487 commented on #2216
I'm going to reinstall the pi on another micro sd card and restore a backup from before and see if it works

[2018-11-03 16:12] enolp commented on #2217
Well @MichaIng , I've changed to beta branch and I still unable to install Nextcloud. I reopen the issue and copy what Dietpi shows me:

#### Details:
- Date           | Sat  3 Nov 17:03:16 CET 2018
- Bug report     | N/A
- DietPi version | v6.18.2 (Fourdee/beta)
- Img creator    | DietPi Core Team
- Pre-image      | Raspbian Lite
- SBC device     | RPi 3 Model B (armv7l) (index=3)
- Kernel versio

[2018-11-03 16:17] MichaIng commented on #2216
@Fourdee @roelfoubert
Ah, actually locale changes. Check via `locale`
Just the wrong is shown in dietpi-config, since script internally en_GB is applied. We need to check either `/etc/default/locale` or dietpi.txt to get correct value 😉.

[2018-11-03 16:19] MichaIng commented on #2217
@enolp
Jep you need to remove the by faulty install script wrong placed config file, before reinstall/install does work again:
[code]
Removing occ just prevents dietpi-services from printing errors about it. Although this should also be fixed in the beta.

I will add a check and autoremoval of faulty config.php during patch.

[2018-11-03 16:20] Fourdee commented on #2215
@MichaIng

I'am not comfortable/understanding working on your ```G_CONFIG_INJECT``` code yet, don't want to break it with my ignorance 🤣 👍

However, it looks like we need to check and escape ```&``` during the function at some point, else, the & leaks.

[2018-11-03 16:34] MichaIng commented on #2215
@Fourdee
Ah okay, so not an issue of Transmission.

Hmm that's bad, `sed -Ei "0,\|^[[:blank:]]*$pattern.*$|s||$setting|" $file` expands `&` even when added via variable.

I anyway planned to do all required escaping within the script. Will work on this for v6.18

[2018-11-03 16:57] enolp commented on #2217
@MichaIng, your fix does not work and Dietpi shows me the same error. My second try was on a clean backup which I changed to beta branch (see 4th comment)

[2018-11-03 17:01] MichaIng commented on #2217
@enolp
Ah sorry didn't check your error log and made assumption too fast.

Did they change something about the database argument naming?? I will try to replicate!

[2018-11-03 17:08] enolp commented on #2217
It is strange because Dietpi installs mariadb not mysql so I don't know whats happening

[2018-11-03 17:19] MichaIng commented on #2217
@MichaIng
Jep, on many distros, MySQL is just an alias for an actual MariaDB install. Since both are mostly compatible most software titles just use "mysql" which does include MariaDB.

[2018-11-03 17:22] enolp commented on #2217
Interesting, I didn't know

[2018-11-03 17:32] MichaIng opened #2219 "DietPi-Software | Mono: Current version fails on ARM"
Forum ref: https://dietpi.com/phpbb/viewtopic.php?f=11&t=5206
Related Sonarr issue: https://github.com/Sonarr/Sonarr/issues/2769
Related Mono issue: https://github.com/mono/mono/issues/11095

Current workaround is to add `-O=-aot` option to mono call, e.g.:
`/usr/bin/mono -O=-aot /opt/NzbDrone/NzbDrone.exe -nobrowser -data=/mnt/dietpi_userdata/sonarr`

[2018-11-03 17:42] MichaIng commented on #2217
@enolp
Hmm very strange, install works very well here: `[  OK  ] DietPi-Software | ncc maintenance:install`

This is a fresh install of Nextcloud on your system, right? Could you try to remove all Nextcloud related and do a very fresh install attempt:

[code]

Then retry install.

[2018-11-03 18:57] enolp commented on #2217
The third command (also the 4rd and 5th) throws me an error:
mysqladmin: DROP DATABASE nextcloud failed;
error: 'Can't drop database 'nextcloud'; database doesn't exist'

When I install or update software I always make a dd backup of my SD in case something goes bad. Something I noted is that when you install PiHole, Dietpi installs mysql. Probably there is some conflict there.

[2018-11-03 19:54] MichaIng commented on #2209
@Kreeblah
<s>Hard to test it here, since I have no RoonServer. Fresh install works fine.
The internal updater does an initial update check, but doesn't find one:
[code]
So strange that in your case it is not the current version. In my case it's x86_64, but same tarball source. Perhaps they forgot or somehow broke the ARMv8 (arm64) package?
You can simply reinstall RoonBridge via `dietpi-software r

[2018-11-03 20:04] MichaIng commented on #2209
@Kreeblah @Fourdee
Ah lol sorry just found the fix that was already done by Fourdee: https://github.com/Fourdee/DietPi/commit/264709280064c3e595bcbd725ea0049bbec59f01 👍 🎆

Only the change to the `roonbridge.service` is required (run as root user). Then
[code]

I guess RoonBridge bind to TLS port fails, if not running with root permissions.

[2018-11-03 20:07] Kreeblah commented on #2209
I already uninstalled/reinstalled the Roon Bridge package, which installed the current version, so I'll have to wait until the next time there's an update for it before I can test and report back.

Thanks for looking into this!

[2018-11-03 20:18] MichaIng commented on #2217
@enolp
Jep expected that all of the above commands succeed/are required, depending on how far the actual installation went. But this is failsafe then, that every old, perhaps faulty trace of Nextcloud is purged before attempting fresh install.

Best practice 👍

??? MariaDB is installed with Pi-hole? Should be not the case, also was not during my tests dome days ago. SQLite should be installed inst

[2018-11-03 20:33] enolp commented on #2217
Was the first time I installed Nextcloud on this installation and two times (using dd backup) on a clean environment. I don't know what's hapening

But even if it was, MariaDB/MySQL is a database server and can handle multiple software clients at once

No, Dietpi installs "LLSP" sqlite (sorry for saying mysql) when installing Pi-Hole and Nextcloud installs LLMP (I think). I don't know if it makes

[2018-11-03 20:39] MichaIng commented on #2217
@enolp

Okay, jep as it should. Nope no conflicts by this. They share the webserver + PHP and use different databases.

**€: Ah wait, please try `apt install php-mysql` before doing Nextcloud install.
I just (when checking other stuff) by chance found that when webserver+PHP was already installed and then MariaDB and/or SQLite is installed afterwards (on separate dietpi-software run), the related

[2018-11-03 21:56] enolp commented on #2217
I restored my previous backup, changed to beta branch and then run the sed command but it doesn't work, so i uploaded a bug report: f489c9d1-7964-4348-b501-c2de9bd420e1

[2018-11-03 22:01] MichaIng commented on #2217
@enolp
Did you try what I mentioned above: `apt-get install -y php-mysql` then rerun installation.

[2018-11-03 22:02] Dr0bac commented on #2067
@MichaIng
Hey thanks for fixing that permission bug in new dietpi update..now movies are imported nice in plex folder..after update i changed plex movies folders to be plex:dietpi, and also in radarr permission setings i edited so new movies are created with plex:dietpi..previously
It was plex:root

but i have another issue now..
For few days i noticed that subzero plugin that download subtitles f

[2018-11-03 22:21] enolp commented on #2217
When I wrote my last comment I didn't see your updated comment, let me restore again my backup and do it all again

[2018-11-03 22:24] MichaIng commented on #2067
@Dr0bac
I am not 100% how all those software works together, which one initially creates the folders and/or adjusts permissions on existing files/folders, but it is expected that radarr runs as and creates/imports files/folders with `radarr:dietpi`.

The contained video file user/permissions are from the downloader (Transmission in your case, right?), I guess and radarr does only import those with

[2018-11-03 22:31] Dr0bac commented on #2067
@MichaIng that first picture with permissions is from radarr settings..before, all folders and movie files were created with permissions that was in this settings..before i did put in this settings user plex group root..now it seems that this settings are ignored

Edit:  no, i didnt change anything, it was to complicated for me..i said i will wait for dietpi update..

[2018-11-03 22:33] MichaIng commented on #2217
@enolp
Jep sorry that I didn't think about this earlier and that's for your effort 👍.

[2018-11-03 22:52] MichaIng commented on #2067
@Dr0bac
Does Radarr actually move or copy the Movies from Transmission download folder? So do they still exist in downloads as well? Would be not ideal due to doubled disk size consumption, but I remember this being the case when I did tests during this permissions fixes...

Actually Radarr might not be always able to adjust the permissions. It runs as radarr:dietpi (check via: `cat /etc/systemd/s

[2018-11-03 23:00] Dr0bac commented on #2067
Yes radarr only move video file ( i know, because file is moved quickly, in seconds) and after that radarr delete download movie folder and leftovers (like nfo, poster and similar)

Yes, subtitle is stored in same folder where movie is.. in htop all plugins are plex users..i think movie file must also be in plex group so subzero can work..i will try now to change movie file to be radarr:dietpi lik

[2018-11-03 23:17] MichaIng commented on #2067
@Dr0bac

Okay that is great in general. But then it makes sense that Radarr cannot change the files permissions, since they are owned by root (in your case) respectively transmission-daemon on current fresh install.

Transmission downloads allow group write access as desired. So Plex needs dietpi group permissions.
Please assure this is the case. On current install script we do:
`echo -e '[Service

[2018-11-03 23:42] Dr0bac commented on #2067
@MichaIng you were right.. ichanged permissions to 0775/0664 and i see now that permissions are changed from drwxr-xr-x to drwxrwxr-x.. and now subzero works :)

One thing is strange.. before when radarr was root he did create those movie folders and movie files like i wrote in permissions plex:root 0755/0644.. now he lost that ability.. iguess before i created folders with plex owner so i didnt n

[2018-11-03 23:49] MichaIng commented on #2067
@Dr0bac
Jep as said, since Radarr runs as radarr user now, it can only change permissions of it's own files, not those which are owned by other users. `root` of course can chown every file, so could Radarr when running as root.

Great it works now and thanks for feedback. I will open a new issue to configure sonarr/radarr/lidarr by default using this permissions: https://github.com/Fourdee/DietPi/

[2018-11-03 23:53] enolp commented on #2217
Ok, backup restored, branch changed to beta, php-mysql installed before installing Nextcloud, Nextcloud installed and all is working as expected. Nice!!!

Thanks for the support and the great job.

[2018-11-03 23:54] MichaIng opened #2220 "DietPi-Software | Son/Rad/Lidarr: Create files/dirs with 664/775 permissions"
..to allow media software write access and file create permissions (e.g. subtitle downloads via Plex subzero plugin): https://github.com/Fourdee/DietPi/issues/2067#issuecomment-435624393

Hopefully this can be pre-configured, otherwise add info to online doc to change the settings accordingly.

[2018-11-04 01:01] MichaIng commented on #2217
@enolp
Great, thanks for testing!

I mark the issue as closed then.

[2018-11-04 01:02] #2217 closed, assigned to nobody

[2018-11-04 01:54] garywill commented on #1599
This script is used for creating wifi hotspot: [garywill/linux-router](https://github.com/garywill/linux-router)
It supports normal hotspot and transparent proxy.
[code]
will create normal hotspot.
To switch to tor hotspot, `control-c` to stop it, then
[code]
That script handles ip, hostapd, dhcp&dns (dnsmasq). So hotspot is completely handled by it.
It should work on all Linux. Hope this helps.

[2018-11-04 03:06] MichaIng commented on #1599
@garywill
Thanks for sharing your great work, I was thinking if we could implement this into DietPi, replacing our own Hotspot and Tor installs. We could build a wrapper GUI for it into DietPi-Config and use it during install as well. Better we help develop your great code then double effort on our own.
- Dependencies match, `dnsmasq` is there additionally, but it totally makes sense to have the H

[2018-11-04 03:36] garywill commented on #1599
@MichaIng Thank you.
I forked that script and modified for my personal use, the upstream project is oblique's create_ap.
License of create_ap is BSD 2-Clause, I forked it and license my script LGPL, both are FOSS. It's surely OK to link to/use/fork my script, as long as keeping necessary NOTICE.

I keep the script running, so when the script receive SIGINT, SIGUSR1 etc. signals, it restore iptable

[2018-11-04 11:45] enolp opened #2221 "Nextcloud cannot be installed, again"
I'm here again. Trying to install Nextcloud with dietpi_userspace on another drive, throws me this error. To save time, I also send a bug report just in case: f489c9d1-7964-4348-b501-c2de9bd420e1

#### Details:
- Date           | Sun  4 Nov 12:37:10 CET 2018
- Bug report     | N/A
- DietPi version | v6.18.2 (Fourdee/beta)
- Img creator    | DietPi Core Team
- Pre-image      | Raspbian Lite
- SBC d

[2018-11-04 12:19] Fourdee commented on #2221
@enolp

Thanks for the report 👍

We have a known issue with Nextcloud install in v6.17 (https://github.com/Fourdee/DietPi/pull/2186), fixed in our beta:
https://github.com/Fourdee/DietPi/blob/beta/BRANCH_SYSTEM.md

F2FS "should" support symlinks:
https://unix.stackexchange.com/questions/323155/does-f2fs-support-permissions-and-symlinks/323156

We'll look into it.

[2018-11-04 12:21] enolp commented on #2221
Ooops @Fourdee, I forgot to mention that I was using the beta branch. My apologizes

[2018-11-04 12:21] Fourdee commented on #2007
@MichaIng

C2, ASUS TB , both stretch.

Will re-run the tests.

[2018-11-04 12:28] Fourdee commented on #2221
@enolp

You did mention it 👍 My error 😄

[2018-11-04 12:34] enolp commented on #2221
Also my error because I didn't read my own bug report, just fill the fields and clicked send xD

[2018-11-04 12:40] Fourdee commented on #2221
@MichaIng

PHP not being installed in dev branch.

🈯️ Works fine if manual install ```dietpi-software install 89 114```
🈯️ https://github.com/Fourdee/DietPi/commit/feac1235caade36db2898fa7ee9cf6120033b8fc

```aSOFTWARE_REQUIRES_PHP[$software_id]=1``` missing from lots of software.

![image](https://user-images.githubusercontent.com/7077026/47964226-889e6700-e02e-11e8-8fe9-b81218a0775b.png)

[2018-11-04 13:02] Fourdee commented on #2007
@MichaIng

Still not working for me:
[code]

Could be a DNS cache issue my end.

Works with local system only?

[2018-11-04 13:39] Fourdee commented on #2221
🈯️ C2:
[code]

---

Issue is OC/NC disabled support for symlinked data dir due to "security" concerns:
https://github.com/nextcloud/server/issues/1257#issuecomment-245314285

However, as DietPi controls, manages and installs to symlink only if userdata is located on external drive as per user requirements, and ```www-data``` permissions correctly set on the NC/OC data dir, there is no security con

[2018-11-04 13:44] Fourdee commented on #2221
@enolp

Install fixed in Beta update:
[code]

Then run the installation again for NC

[2018-11-04 13:44] #2221 closed, assigned to Fourdee

[2018-11-04 13:55] MichaIng commented on #2221
@Fourdee
Jep I fixed the missing PHP in the open PR, recognized as well. Will compare solutions later and make it ready for merge.

The same is for desktops and xserver.

We marked PHP through webserver dependency, but with single loop the webserver ID could have already passed when being marked. My fix was to fake PHP dependency for current loop ID: https://github.com/Fourdee/DietPi/commit/ee2cc6

[2018-11-04 14:16] Fourdee commented on #2219
- 🈯️ ARMv7 With -O=-aot
- 🈯️ ARMv7 Without -O=-aot
- 🈯️ ARMv8 Without -O=-aot

[code]

[code]

[2018-11-04 14:40] Fourdee commented on #2219
aot: https://www.mono-project.com/docs/advanced/runtime/docs/aot/

Sounds more beneficial than leaving it off?

[2018-11-04 16:06] Fourdee commented on #2219
Interesting:
🈯️ ```-O=-aot ```
🈴 ```--aot```
[code]

Or, must pre-compile with ```--aot``` before launching?

Ah ok, so AOT pre-compiles libraries/programs which takes times, however, can improve load/run performance.
JIT compiles at run-time, slower loading but no cache (and potential issues) to worry about.

Regardless, lets leave this as is, Mono is delicate at the best of times.

[2018-11-04 16:20] Fourdee commented on #2219
Ok, so can't replicate on ARMv7 ASUSTB, only difference is time of tarball
[code]

Test:
- 🈯️ RPi 3

---

Unable to replicate this issue with fresh installations.
[code]

[2018-11-04 16:58] Fourdee commented on #2221
@MichaIng

Fails without it 😕

![image](https://user-images.githubusercontent.com/7077026/47967199-bd241a00-e052-11e8-9a37-304161b57aff.png)

[2018-11-04 17:01] Fourdee commented on #2209
Yep, resolved in our next release:
https://community.roonlabs.com/t/dietpi-allo-units-not-getting-the-roonbridge-b167-update-from-b164/52503/10?u=dan_knight

#### Workaround until v6.18
[code]

[2018-11-04 17:01] #2209 closed, assigned to Fourdee, MichaIng

[2018-11-04 17:13] MichaIng commented on #2221
@Fourdee
Strange, symbolic links inside the data dir are not supported or let's say not followed. But symbolic links of the data directory itself or it's parents are definitely supported, as this is a common method to move it after install, part of my how-to on Nextcloud forum and so many users following and reporting back it's working, including my own tests not long ago. If it's not working anym

[2018-11-04 17:13] Fourdee commented on #2210
I believe the issue is network-manager. Removing the package breaks current connection over WiFi.

A quick solution is USB > Ethernet then run PREP.

Another possible solution is to do the following before PREP to setup WiFi without network-manager:
- ```apt-get purge network-manager -y```
- copy paste all
[code]
- edit ```/etc/wpa_supplicant/wpa_supplicant.conf``` and set your WiFi creds, eg:
[co

[2018-11-04 17:27] Dr0bac commented on #2067
@MichaIng  hey sorry can i ask one more question?

I see that you moved radarr, sonarr log/backup folders to dietpi_userdata folder few dietpi updates back..

And when i had transmission issue with permissions, and when radarr could not move movie files to plex folder, radarr loged every minut that he can not move movie files..and because my dietpi_userdata folder is on external hdd that mean my h

[2018-11-04 17:32] troyane commented on #2210
@Fourdee thank you for your instructions. IMO it sounds better for me to avoid any USB2Ethernet. So, I'd like to test your second option tomorrow and will write here as soon as I get any results.

[2018-11-04 17:35] MichaIng commented on #2067
@Dr0bac
Theoretically you can move it back by removing the `-data=$G_FP_DIETPI_USERDATA/sonarr` option from `/etc/systemd/system/sonarr.service` but this includes all data.

Also having constant I/O to the SDcard increases wear and leads to it breaking faster. I would always want to have as much I/O on external drive instead of SDcard! If there is some software flooding the log that the drive can'

[2018-11-04 17:54] Fourdee commented on #2104
The only issue might be ```"consoleblank=0``` missing from ```boot.ini``` kernel options, however, we apply following during run, which should have same effect:
[code]

Regardless, will leave XU4 + CS1 running for 24 hour to check for blanking.

[2018-11-04 18:00] Fourdee commented on #2181
@borpin

Thanks for testing 👍

Patch is applied to image updated 7 days ago:
https://github.com/Fourdee/DietPi/issues/2181#issuecomment-433722969

If I go into dietpi-config, daemon + drift is selected, but if I select it again, dbus is installed. Without a reboot, timedatectl then works and gives the expected output.

Did this occur using the above image?

[2018-11-04 18:06] Fourdee commented on #2149
Ticket appears dead, will mark as closed.

@Drew80 If this is still an issue/unresolved, please reopen.

[2018-11-04 18:06] #2149 closed, assigned to Fourdee, MichaIng

[2018-11-04 18:18] docgalaxyblock commented on #2104
OK
I could check it on CS1 and CS2

Did you mentioned this? It still exists

[2018-11-04 18:33] MichaIng commented on #2221
Testing:
Okay, ncc maintenance:install throws an error, but if this is ignored, the instance works fine, uploading new files work and they are placed as expected etc. config.php is fully configured with /mnt/dietpi_userdata/nextcloud_dada with dietpi_userdata being a symlink.
What is missing, is the skeleton directory, so data dir will be empty then. But actually this is anyway how I like it more.

[2018-11-04 19:28] Dr0bac commented on #2067
@MichaIng
Someone asked the same question on reddit and someone from sonarr team answered this..

https://www.google.rs/amp/s/amp.reddit.com/r/sonarr/comments/7vn9c3/how_to_disable_logging/

Is it helpful for you?

So to bring back appdata folder to sd card i need to delete that line
-data=$G_FP_DIETPI_USERDATA/sonarr
From
/etc/systemd/system/sonarr.service
And restart raspberry and everything wil

[2018-11-04 19:46] MichaIng commented on #2067
@Dr0bac
Move content of /mnt/dietpi_userdata/sonarr to default location first, to not loose config/data. I believe it's `/root/.<something>`?
Jep the link supports my assumption. So there seems to be no possibility to change the logging location only.

**But really, I absolutely not recommend this and future dietpi-updates may break it/require to reapply. It is definitely better to have an externa

[2018-11-04 19:47] Fourdee commented on #1090
Still broken. Flagging for removal due to low install count.

[2018-11-04 19:57] MichaIng commented on #2221
@Fourdee
Reworked the workaround: https://github.com/Fourdee/DietPi/commit/c35b4bbbdf2dbc82942fceca03a2aebeef5beccd
- This preserves Nextcloud integrity and also the reasonable security feature, if a symlink is placed inside the data dir. Otherwise external users could upload a symlink, pointing to sensitive system data somewhere else to have at least read access in most cases!
- Now check for Str

[2018-11-04 23:20] Dr0bac commented on #2067
@MichaIng

https://github.com/Sonarr/Sonarr/wiki/Log-Files

On sonarr wiki it is written:

You can clear log files and the logs database directly from the UI, under System -> Logs -> Files and System -> Logs respectively.

So sonarr and radarr are storing logs in txt file and db file..how can we symlink them to var/log?
In appdata folder there are several db files but i can look in date modified t

[2018-11-05 00:46] MichaIng commented on #1090
@Fourdee
I am also doing final test currently. If without success I agree, but give me a change, since I still like the concept of this software.
Low install count is expected, since it currently doesn't work 😉. Or is there a use without connected client?

Easier user/PW setup: https://api.openbazaar.org/
`go run openbazaard.go init -d $G_FP_DIETPI_USERDATA/openbazaar`
- Afterwards $G_FP_DIETPI_US

[2018-11-05 10:12] troyane commented on #2210
@Fourdee I've already done steps you've provide, and I need to say that DietPi PREP done its job already.

Just in case, I've backed-up microSD image by `dd if=/dev/mmblck | gzip > handmade_dietpi.img.gz` before DietPi first start. You can [download it here](https://drive.google.com/file/d/1bJi3s3GH03Bkr5rx5lw2u09G22qgcgWt/view?usp=sharing).

<details>
<summary>Here is first run log</summary>

[co

[2018-11-05 13:19] Fourdee commented on #2221
@MichaIng

Legend 👍 Thank you.

[2018-11-05 13:25] Fourdee commented on #2067
@Dr0bac

I do not believe Sonarr logging is compatible with our RAMlog system. As it uses ```.db``` (database) file, if we clear the contents every 1 hour, it may cause the application to fail:
[code]

We could ```/var/log``` the following directory, but this would ignore the ```.db``` files which I assume have the same IO use as the actual ```.txt``` file:
[code]

Ticket for request: https://gith

[2018-11-05 13:30] Fourdee opened #2223 "DietPi-Software | /var/log sonarr and related applications"
Sonarr, Radarr, Lidarr, Jackett

[2018-11-05 13:52] Fourdee commented on #2212
@MichaIng

Works a charm 👍 updated from 0.9 to 0.10.410.0 via reinstall.

Completed.

[2018-11-05 13:52] #2212 closed, assigned to msdos, MichaIng

[2018-11-05 14:33] Lanneer487 commented on #2216
After more testing it turned out to be a problem in the application support folder. When reinstalling plex and made a new server it works again

[2018-11-05 14:40] MichaIng commented on #2223
Perhaps there is a way to disable database logging. Would make sense at least to do either the one or the other. Would be great anyway, since SQLite database logging is quite I/O intensive. Every single change needs a single large file to be rewritten... Okay with single large log files it's the same, but those can usually be cleared easily, thus kept in RAM.

[2018-11-05 15:34] MichaIng commented on #1090
PR up: https://github.com/Fourdee/DietPi/pull/2224
- ToDo: Check Go v1.9
- Check possibility to hard code data dir, since otherwise this needs to be added to every openbazaard call.

NB: Automated user/pw addition is not possible, since related entries appear doubled and/or may appear at the and ob an json array or not, thus require a `,` sometimes, sometimes not. Having it, even with entry at end

[2018-11-05 16:00] Dr0bac commented on #2223
So, i watched log files to see how often they are changed..
And real problem is in

nzbdrone.db-wal and
nzbdrone.db-shm

They are changing every minute

My Sonarr check for tv show releases every 20 minutes (default is 15 minutes) and that's is logged in

logs.db-wal
logs.db-shm and
updates/sonarr.txt

I screenshoted a sonarr tasks and you can see what sonarr does and how often..
I guess check for

[2018-11-06 00:59] Fourdee commented on #2223
@Dr0bac

👍 Thank you, much appreciated.

@MichaIng  Yep, would be the idea solution 👍

Failing that, check contents of the ```.db``` files, and, see if we could reset them every 1 hour for location in ```/var/log```.

[2018-11-06 01:10] MichaIng commented on #1090
@Fourdee
PR ready. Tested on all distros (amd64), works well with new start method via compiled openbazaar-go binary within /mnt/dietpi_userdata/go/bin.
This starts much faster (especially on go 1.11) and allows easier end user access by adding this to $PATH as well.

[2018-11-06 02:00] MichaIng commented on #2216
@roelfoubert
Thanks for feedback. So there is noting we need to change with our Plex install code, so we can close the issue right?
Visual issue with locale is solved in current Beta.

[2018-11-06 02:08] MichaIng commented on #2007
@Fourdee

Will recheck 🈯️
![pihole](https://user-images.githubusercontent.com/28480705/48038852-bee4ff00-e172-11e8-8c9d-5211ffa0ff68.png)
- Works well here, accessing from one VM via second VM Pi-hole DNS to a blocked page 🤔.
- Why it says "Not found on any blacklist", when it's definitely on blacklist, otherwise would not have been blocked? I added via wildcard blocking, perhaps an issue Pi-hole

[2018-11-06 08:02] Phil1988 commented on #2202
Thanks @MichaIng for your answer.

- The Snapchot thing is not what I had in mind. It should be pretty much "bullet proof" and if the host system breaks, then the data is lost. (therefore the dedicaded drive). I am not that familiar with VMs but maybe the vmdk/vdi image can also be corrupted and then everything is lost as well.

- You said I can plug in an external USB drive and move the userdata

[2018-11-06 08:52] okipol88 opened #2225 "Nano Pi Fire 3 - No output on HDMI TTY1"
# Workaround: https://github.com/Fourdee/DietPi/issues/2225#issuecomment-436263111

---

## Creating a bug report/issue:

#### Required Information:
- DietPi version	| N/A
- Distro version	|  N/A
- Kernel version	|  N/A
- SBC device		|  Nano Pi Fire 3
- Power supply used	|  5V 3.1 A
- SDcard used		|  SanDisk Ultra 16 GB

#### Additional Information (if applicable):
- Flashed using Etcher

#### Ste

[2018-11-06 12:03] wangcow commented on #2130
Running an ODroid XU4 as well. When running dietpi I get this xorg no screen found issue as well. Tried out debian jessie and stretch, both with the same issues. May be a debian or xorg issue. Guess I'll run arch to see if I get any luck with that

[2018-11-06 13:42] Fourdee commented on #2104
@potter-91

Hi,

Local testing, my CS1 has been running for 1 day 19 hours, screen is still on. If you can confirm not the case on your devices, we can investigate.

Not sure what you mean by this? If you reboot and the HDD spins back up again, this is expected due to device init/access from kernel boot.

Please, new tickets for all feature requests. Else they will get lost in this ticket 😃

[2018-11-06 13:45] Fourdee commented on #2225
@okipol88

Thanks for the report, i'll try to replicate.

Please check the PCB for any revision codes, and, list them here if possible.

Also, are you able to SSH into the device over network, regardless of black screen on HDMI?

[2018-11-06 14:03] Fourdee commented on #2225
Issue with tty1.

After the system is booted switch to tty2:
CTRL+ALT+F2

[2018-11-06 14:20] Fourdee commented on #2225
Current:
[code]

Tried the lastest image + dtb's from s5p6818-sd-friendlycore-xenial-4.4-armhf-20180906.img, same issue.

[2018-11-06 14:21] Fourdee commented on #2225
REF: https://github.com/Fourdee/DietPi/issues/1926#issuecomment-405736808

[2018-11-06 14:34] Fourdee commented on #2225
Works after boot, hangs system during boot.
[code]

[2018-11-06 15:59] docgalaxyblock commented on #2104
Hi

		setterm --blank poke &> /dev/tty1
		setterm --reset &> /dev/tty1
		setterm --blank 0 --powersave off &> /dev/tty1
		BLANK_SCREEN_ACTIVE=0

I never touched a kernel, what should i do with the code? or switch to beta branch?
I can confirm at v6.17.12 it isn't working. But interessting, yesterday my CS1 was off and CS2 was still on. It seems that this

seems to be not true

I mean the Idle Spin

[2018-11-06 18:00] MichaIng commented on #2225
@Fourdee
Perhaps we can hardcode TTY2 use when NanoPi Fire 3 is detected (on DietPi-PREP)?
It this `'62' ': NanoPi M3/T3/F3'` or requires new hardware ID (e.g. free 54)?

But indeed a really strange issue... Why tty1 is disabled...

[2018-11-06 18:33] Fourdee commented on #2100
Hmm, unable to get WiFi working:
- AP6212
[code]

[2018-11-06 19:17] okipol88 commented on #2225
@Fourdee Nice ;)
Would be much appreciated to add this info tfor all the dummies (like me or only me ;() to the download section on [DietPI website](https://dietpi.com) -> Download section.
I Think i did encounter the [REF](https://github.com/Fourdee/DietPi/issues/1926#issuecomment-405736808) for a brief moment. I did not associate it with this :/.

Many thanks ;). Will try it out.

[2018-11-06 19:55] MichaIng commented on #1788
I opened a ticket on Debian bug tracker: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=913083 ... sh*t, many many language mistakes inside 🤣 ... better reread first, before sending...
- Lets see if the maintainers/devs pay attention on such a minor visual-only issue 🙂. Since we found other `tee` related output issues, perhaps all of them can be solved at once, e.g. by using another terminal di

[2018-11-06 20:05] troyane commented on #2100
@Fourdee just in case, may be you can take a look at unofficial image previously shared? May be there will be answer to your problem?

Just in case is there any help required? I can test your img or something.

P.S.: here I've tried to prepare DietPi img, but got strange situation: https://github.com/Fourdee/DietPi/issues/2210#issuecomment-435821836

[2018-11-06 20:47] MichaIng opened #2226 "DietPi-Software | Node.js: Running different versions concurrently"
Ref: https://dietpi.com/forum/t/change-node-version/2667
- Different software might require different Node.js versions.
- Version can be changed via module `n`, but this will then be applied globally.
- Module `avn` seems to be a solution the run different versions concurrently, respectively apply different versions project/directory-wise: https://github.com/wbyoung/avn

[2018-11-07 05:03] MichaIng commented on #2215
PR up for G_CONFIG_INJECT internal escaping in target setting arg $2: https://github.com/Fourdee/DietPi/pull/2227
- `&` added
- <s>Extended regex support removed, as this would have made everything more complicated and benefit is limited. Need to check all function calls for ext regex use, before it can be merged.</s> **€: Ext regex required, otherwise `\+` and `\(a\|b\)` will be taken as regex ma

[2018-11-07 18:08] Fourdee commented on #2225
@MichaIng

Yep, we should be able to do during boot to switch tty2, i'll run some tests:
[code]

Shares same HW_MODEL as M3, we can try checking dmesg for loaded dts.

[2018-11-08 06:25] bhpark84 opened #2228 "Network | IFB (intermediate functional block) support"
Is there a way to use an ifb(intermediate functional block)?

I installed [fireQOS](https://firehol.org/tutorial/fireqos-new-user/) for traffic control.
It is useful because can give priority to each service.
However, an ifb network device is required to control incoming traffic.
I would kindly like to ask to enable the ifb.

Thanks you.

[2018-11-08 10:07] ibnbd opened #2229 "MotionEye on Tinkerboard"
I am not entirely sure why MotionEye doesn't support Tinkerboard. Tinkerboard is a good piece of hardware, can you make official support for MotionEye on it?

Thank You

[2018-11-08 15:12] MichaIng commented on #2228
@bhpark84
Thanks for your request.

Interesting topic. Requires a kernel module or function enabled: https://wiki.linuxfoundation.org/networking/ifb#ifb-requirements
Seems to be available on most current kernels, e.g. was added to Raspberry Pi kernel 5 years ago: https://github.com/raspberrypi/linux/issues/453

iproute2 seems to be a front-end, so generally should work. Needs investigation how thi

[2018-11-08 15:23] MichaIng commented on #2229
@ibnbd
Thanks for your request.

On official releases there are only x86 and RPi releases available: https://github.com/Motion-Project/motion/releases

At least we can enable for amd64 then. Needs testing if we can get the RPi release work on other ARM devices or can be manually build there.

[2018-11-08 15:27] ibnbd commented on #2229
@MichaIng thanks for adding to the request.

[2018-11-08 15:35] MichaIng commented on #2229
Ah on Debian repo it is available for all architectures: https://packages.debian.org/stable/video/motion
On Jessie as well, but the version is outdated.

So generally enable for all devices, only on Jessie for RPi+amd64 user GitHub repo releases, otherwise rely on Debian repo. But needs testing thought all our supported devices and then enabled step by step at best, if succeeding. But yeah we can

[2018-11-08 17:59] Fourdee commented on #1171
@sal666

Thanks for looking into this.

We use the stock kernel as installed by debian. 4.9 is also LTS.

We can do another image based on Buster I believe. Thanks to @MichaIng Buster is pretty much solid on VM, so should be fine here also.
With your help, the Buster image can then be used for testing + offer a install option for 32bit BIOS systems?

[2018-11-08 18:39] Fourdee commented on #1090
Test installs + UI:
- 🈯️ ARMv7 (ASUS TB)
- 🈯️ ARMv8 (C2)

Enter a veerrrry strong password:

🤣

@MichaIng

Works a charm, legend, great fix 👍

[2018-11-08 18:39] #1090 closed, assigned to Fourdee

[2018-11-08 18:43] MichaIng commented on #1171
Sounds great. Just note that not yet all software installs will work. In some cases, when we check for Stretch/Jessie explicitely to catch the right download, it might simply not install anything, in other cases Stretch compatible downloads will be used for Buster as well, which might not work in all cases.

But having this as additional testing image, we should be able to either resolv fast or ac

[2018-11-08 18:53] sal666 commented on #1171
@Fourdee

Sure, I can test it. Share the link to the image and I'll give it a try.

Please, when making that image take into account these indications:
- image generated with Clonezilla **alternative**, that's the version based on Ubuntu. According to a note on the [Clonezilla Live download page](https://clonezilla.org/downloads.php) that's the one needed for UEFI systems. When restoring previous

[2018-11-08 19:03] Fourdee commented on #2215
Test:
- ```dietpi```
- ```password&123```

🈯️ Nextcloud + Transmission.

@MichaIng
You legend 👍 Great fix!

[2018-11-08 19:41] Fourdee commented on #2225
🈯️ during boot ```chvt 2```

~Issue is no hardware specific info in dmesg or ```lscpu``` that is unique.~
[code]

[2018-11-08 20:26] #2225 closed, assigned to Fourdee

[2018-11-08 21:03] MichaIng commented on #2007
@Fourdee
Did you find time to retest, in case with another device? I tested now in multiple VM combinations. But yeah, VM only, so perhaps network or device related.

I will retest with production RPi as client and Windows system. Already wanted to, but outdated/broken VMware and/or VirtualBox network drivers didn't allow to change any adapter setting (error thrown on apply), until full purged and

[2018-11-09 15:53] Fourdee commented on #2216
@MichaIng

Yep, resolved in beta, completed.

Unable to replicate the Plex issue on fresh install.

---

@roelfoubert

If the issue reoccurs, please reopen this ticket for further investigation.

[2018-11-09 15:53] #2216 closed, assigned to Fourdee, MichaIng

[2018-11-09 16:04] Fourdee commented on #2104
@potter-91

Hi, no changes are required, the code already exists in current version v6.17.

Ok, so we need to debug this and find out if the screen is blanked, or, something else has occurred.
#### When the blank screen occurs:
- Please send a new bug report (if the original bug report was sent when the issue occurred, please let me know)
- Try pressing ENTER, see if the display comes back on.
- T

[2018-11-09 16:19] #2200 closed, assigned to nobody

[2018-11-09 16:43] krishnasen2401 opened #2231 "rpi cam web install"
#### Details:
- Date           | Fri  9 Nov 16:40:50 GMT 2018
- Bug report     | N/A
- DietPi version | v6.17.12 (Fourdee/master)
- Img creator    | DietPi Core Team
- Pre-image      | Raspbian Lite
- SBC device     | RPi 3 Model B (armv7l) (index=3)
- Kernel version | #1145 SMP Fri Sep 21 15:38:35 BST 2018
- Distro         | stretch (index=4)
- Command        | Connection test: https://github.com

[2018-11-09 16:55] Fourdee commented on #2007
@MichaIng

Retest with ASUS TB and block page:
- 🈯️ Local browsing
- 🈴 Remote via DNS

Seems only local system has functional blocking page.

[2018-11-09 17:25] Fourdee commented on #2231
@krishnasen2401

Thanks for the report 👍

Appears to be a local issue with your system/DNS, and/or, temp issue with github:

[code]

Please re-try the installation, if it continues to fail, please set a static IP in ```dietpi-config``` and use google DNS.

[2018-11-09 17:33] Fourdee commented on #2229
@MichaIng

Yep 👍  we can enable for all under stretch>, but disable for Jessie.

[2018-11-09 18:21] ibnbd commented on #2229
@MichaIng @Fourdee that will be amazing, since `TinkerOS v2.0.7` is Debian stretch based. Hopefully this will be available soon. Thank you

[2018-11-09 20:54] Fourdee commented on #2229
https://github.com/Fourdee/DietPi/commit/5e5410cb25451da14557b4a1f57d2faae73d8df4

Test:
- 🈯️ ARMv7
- 🈯️ ARMv8

Completed. Available for all devices in v6.18.

[2018-11-09 20:54] #2229 closed, assigned to nobody

[2018-11-09 21:20] Fourdee commented on #1171
@sal666

Will create a Buster image and upload in next few days (hopefully). Will let you know when its ready.
-  Clonezilla alternative Ubuntu
- 8GB USB stick for install

[2018-11-10 14:26] Fourdee commented on #2210
@troyane

This is due to serial console being disabled by default during 1st run, to save on resources.

I've applied a fix for the Air in v6.18 PREP, which leaves the serial console enabled. As you are using master branch, you'll need to:
- Write DietPi image, or, run PREP
- Edit ```/boot/dietpi.txt```
- Change ```CONFIG_SERIAL_CONSOLE_ENABLE=1```
- Then power on the system.

Thanks, i'll check t

[2018-11-10 15:04] Fourdee commented on #2187
Mmmm, new global for backing up dirs/files?
[code]

if file/folder, cp to .bak

eg:
[code]

```cp``` + ```G_DIETPI-NOTIFY 2 ' Backed up'``` becomes
[code]

.bak_DDMMYYYY?

🈯️
[code]

[2018-11-10 15:51] Generator opened #2233 "DietPi-Drive_Manager | Allow to switch I/O scheduler"
---
name: Feature request
about: CFQ for better HDD performance

---

## About:
Dietpi sets the HDDs elevator to deadline on boot for all storage devices, for better performance HDD should use CFQ instead.

## Solution:

Create a udev rule to set HDD drives with CFQ and SDCARD/SSD devices with deadline

**Example:**
`/etc/udev/rules.d/60-ioschedulers.rules`
[code]

$ cat /sys/block/sd*/queue/sched

[2018-11-10 15:57] Fourdee commented on #2187
@thaihugo @MichaIng

Ok, added a new feature which backs up configs, before we overwrite during reinstalls:
- https://github.com/Fourdee/DietPi/issues/2187#issuecomment-437589994

MPD and a few others are now enabled. We will roll this out to more applications in the future as needed.

I believe we can mark this as completed?

[2018-11-10 16:10] Generator commented on #2219
Tested on RPi3 with Radarr

Without `-O=-aot`
[code]
With `-O=-aot`
[code]
**Software version:**
Mono
[code]
Dietpi
[code]

[2018-11-10 16:13] Fourdee commented on #2210
@troyane

Managed to get WiFi working with uboot/kernel from nanopi-neo-air_sd_friendlycore-xenial_4.14_armhf_20181011.img

Will try and run PREP + create image.

[2018-11-10 18:30] Fourdee commented on #2210
Wifi dead after PREP. Can only assume updating the APT packages is causing the issue, no packages removed.

Grabbed hciuart/hciconfig/brcm_patchram_plus from ubuntu, which works before PREP.

Stuck in loop.
[code]

[code]

🈴 Causes WiFi to fail, no hardware found. ```firmware-*``` replacing "functional" firmware?
[code]

🈯️
[code]

---

#### Post PREP (on our new image once released):
[code]

[2018-11-10 18:51] bonshates commented on #1246
To start, thank you to all of the folks that support DietPi. It is greatly appreciated.

I have read that most of the SickRage devs have moved over to Medusa. Please consider adding it to DietPI.
https://www.reddit.com/r/sickrage/comments/9myqx0/can_some_give_me_a_run_down_on_what_is_going_on/

[2018-11-10 20:08] Fourdee commented on #2210
FS resize not working:
[code]

[code]

[2018-11-10 21:13] Fourdee commented on #2210
@troyane

Image completed, verified working WiFi. However, please test and let us know if any issues:
https://dietpi.com/downloads/images/DietPi_NanoPiNEOAir-ARMv7-Stretch.7z

[2018-11-10 22:22] Fourdee commented on #2215
@MichaIng

Thinking of a global for auto escaping a string, eg:
[code]

' not supported.

Then we can use in dietpi-config > passwords etc?

[code]

[code]

Then somehow add this to:
[code]

[code]

Fails with password:
[code]

Due to whiptail?

[2018-11-11 03:16] thaihugo commented on #2187
@Fourdee yes, the proposed implementation covers my request.

I understand it will provide a mechanism to backup selected files chosen by maintainer and provide a name of saved files in the logs.
Any missing file should then become a simple github request to modify the installation script.

Thanks for your work on this. I think this is one of the “under the hood” change that was needed as DietPi g

[2018-11-11 15:33] Fourdee commented on #2187
@thaihugo

Yep agree 👍

```G_BACKUP_FP ``` is a simple unique backup of configs, before we overwrite during install/reinstall. @MichaIng has done some more indepth improvements to the installation code: https://github.com/Fourdee/DietPi/issues/2187#issuecomment-435536545

I'll mark this as closed now, however, we can improve and add more software to this in the future as needed.

[2018-11-11 15:39] MichaIng commented on #2187
@Fourdee
I will reopen. Want to go through all software titles and complete the list above by times, sort of ongoing project 😉. If closed, I might forget 😅.

[2018-11-11 15:42] Fourdee commented on #2187
@MichaIng

Yep, no worries 👍

Configs currently backed up by ```G_BACKUP_FP ```, before we modify/replace:
[code]

[2018-11-11 15:47] MichaIng commented on #2187
@Fourdee
Jep, will make use of this too, makes sense to have consistent method + output for this 😃.

Hmm, I think I will move all of this together with current software versions (https://github.com/Fourdee/DietPi/issues/1340) into a Wiki page. So we have a general overview outside of issues, where we and users can quickly check the versions/sources we install and how reinstalls are handled.

[2018-11-11 15:56] Fourdee commented on #2219
@Generator

Thanks for the testing + report 👍

Ok, clearly we need to roll out ```-O=-aot```. I'll make the change to all Mono applications + testing.

[code]

[2018-11-11 16:13] Fourdee commented on #2219
Latest release link for Radarr/Lidarr not functional:
![image](https://user-images.githubusercontent.com/7077026/48315336-bc4c3480-e5cc-11e8-8a06-22af13231a1e.png)

https://api.github.com/repos/Radarr/Radarr/releases/latest
[code]

Latest release is always at the top of https://api.github.com/repos/Jackett/Jackett/releases. So we can use that for all.

[2018-11-11 16:23] MichaIng commented on #2215
@Fourdee
I thought so as well, but actually this is very dangerous, since commands handle special characters different. We can only auto escape, if we know exactly which command finally handles the string.

E.g. in G_CONFIG_INJECT it is only possible, since `sed` and `grep` use the same ext regex rules (at least thoughout all my testing). For this reason I also needed to use `sed` to add setting t

[2018-11-11 16:47] Fourdee commented on #2219
Retest:
[code]
- 🈯️ ARMv7
- 🈯️ ARMv8

[2018-11-11 16:48] Fourdee commented on #2219
Fixed in Beta:
- https://github.com/Fourdee/DietPi/pull/2235

Completed.

[2018-11-11 16:48] #2219 closed, assigned to Fourdee, MichaIng

[2018-11-11 16:49] Fourdee commented on #2187
@MichaIng

Good stuff 👍

I will also add a ```/var/tmp/dietpi/logs/G_BACKUP_FP_list``` file, so users can see which files have been backed up etc.

[2018-11-11 16:50] Fourdee commented on #2187
@MichaIng

Yep sounds good 👍

Looking back now, wish I used WiKi instead of a forum lol. Too much work to move everything now though.

[2018-11-11 16:55] MichaIng commented on #2215
@Fourdee
Solved: https://github.com/Fourdee/DietPi/commit/8b6108107b58758ef141e9054983bbd344db762c

But as said, we need to keep this in mind and solve thoughout all code!

[2018-11-11 17:01] MichaIng commented on #2187
@Fourdee

There are many online BBCode => Markdown translators, that should do the job. It is as well good to have info in own forum, e.g. when Microsoft influence forces us to move to another Git provider.

Markdown => BBCode translators do not work that well, but for consistency might be beneficial as well to port Wiki pages and/or other info from issues back to our forum.

The info from the tab

[2018-11-11 17:04] Fourdee commented on #2215
G_ESCAPE_EXPANSION + G_CONFIG_INJECT test:
Password:

Strange, had to escape the ! in DietPiRocks!, but works fine in script.
[code]

Same for dietpi pw:
[code]

🈯️
[code]

🈯️
[code]

[2018-11-11 17:08] MichaIng commented on #2219
@Fourdee
Whoopsie, my fault to not test this for all. `/latest` is not yet code within release, I added this some days ago with the jackett reinstall fix I think. Just found that to be handy and though it is part of the GitHub API to always work, whenever a release is available. Seems not, maybe the maintainer needs to manually mark a release as latest first or such 🤔. But yeah, `grep -m1` should

[2018-11-11 17:11] MichaIng commented on #2215
@Fourdee
As said, this is very dangerours: `echo -e` will do other expansion now, this will definitely lead to other issues! We need to do this individually, based on the exact path/commands the variables/strings will be passed to!

When you use this expansion now, which is tailored for grep and sed, before passing the variable to e.g. echo, cat, whiptail or somewhere else, you will have many back

[2018-11-11 17:16] Fourdee commented on #2215
@MichaIng

Yep, will remove from G_CONFIG_INJECT, but leave ```G_ESCAPE_EXPANSION ``` in place for testing.

[2018-11-11 17:28] MichaIng commented on #2215
@Fourdee
Jep, perhaps we can find a use for this, when we have a couple of code where identical escaping is required, especially `echo -e`/G_DIETPI-NOTIFY I am thinking of, when we want to output certain variable strings literally. But AFAIK only backslashes need to be escaped for this, so a separate function is perhaps overkill, especially since a function cannot return a string, thus requires `e

[2018-11-11 20:40] Fourdee commented on #2155
Confirmed ```systemd-logind``` required for shutdown options, will patch.

[2018-11-11 21:08] #2155 closed, assigned to Fourdee

[2018-11-11 21:16] Fourdee commented on #2233
@Generator

Many thanks for the info 👍

We'll review this when possible and assess if a roll-out is beneficial.

[2018-11-11 22:39] borpin commented on #2226
As a suggestion - for me I needed a specific version of node.js to run a module in node-red.

For that use case, providing a `dietpi-software` option to install n and then allow the user to select a version of node.js globally would have worked just fine.  As, on occasion, you install n anyway, this is not such a big change and still solves (some) of the use cases.

[2018-11-11 23:02] docgalaxyblock commented on #2104
I just get a blank screen this evening
power my CS off, connect hdmi and keyboard...
Power back on...wait...just blank screen, no backlight
run dietpi-cs, start and stop/restart it some times:
1. time (after boot): Backlight on, just blank
2.3.4.5. : Backlight off

Pressing ENTER: lcd and hdmi came back on
It's the same with every other key
A few ENTER show the root CLI

A little bug:
When setting

[2018-11-11 23:57] Kreeblah opened #2237 "VM's | getcwd errors, due to /tmp/$G_PROGRAM_NAME removals"
## Creating a bug report/issue:

#### Required Information:
- DietPi version	| v6.17.12
- Distro version	| stretch
- Kernel version	| Linux DietPi 4.9.0-8-amd64 #1 SMP Debian 4.9.130-2 (2018-10-27) x86_64 GNU/Linux
- SBC device		| Virtual Machine (x86_64)
- Power supply used	| N/A (VMWare Fusion 11.0.1)
- SDcard used		| N/A (VMWare Fusion 11.0.1)

#### Additional Information (if applicable):
- Sof

[2018-11-12 17:06] Fourdee commented on #2237
@Kreeblah

Many thanks for the report 👍

Interesting, ok. Appears to be a failed installation at basic file level.

I'll try to replicate

Testing:
- 🈯️ ARMv7 beta
- 🈴 VM master
- 🈴 VM beta
```getcwd``` errors confirmed.

---

80e3b5f9-5236-4dbf-adf2-c04397740817

[2018-11-12 17:30] Fourdee commented on #2237
Beta:
![image](https://user-images.githubusercontent.com/7077026/48364600-b4f65b00-e6a0-11e8-8abd-d0273c674edb.png)

[code]

[2018-11-12 17:46] Fourdee commented on #2237
[code]

Using a fresh image, that wasn't used for previous dev testing:
🈯️ Fresh VB image with 2.1GB RAM 🈴 failed on 2nd test
[code]
🈴 Fresh VB image with 1GB RAM
[code]

[code]

[code]

[2018-11-12 18:22] Fourdee commented on #2237
Bug with current VB image. Will cause update to also fail.
🈯️
[code]

Image needs redoing.
- Issue still exists on fresh Debian PREP using DEV branch...
- Issue is intermittent, does not occur every ```G_DEBUG=1 dietpi-software install 93```, yet, /tmp is clear all times.

Will also check VMware image:

[2018-11-12 21:00] Fourdee commented on #2237
[code]

Triggers G_EXIT:
[code]

🈯️ Setting ```sync``` at start of ```G_DIETPI-NOTIFY``` resolves issue...

---

[code]

🈯️
```sync``` before checking for ```/tmp/dietpi-process.pid```
[code]

🈯️
```sync```
[code]

[2018-11-12 21:49] Fourdee commented on #2237
Left = before fix
Right = after fix
- Notice the two G_EXIT calls.
https://www.diffchecker.com/CQNP5oJD

---

@MichaIng
Reason why this only occurs on VM? Unsure, cache/disk/delay issue with VM's under ```noclobber``` modes?

Another solution is to precreate the blank file, beforehand, then wait for value to be valid:
[code]
[code]

[2018-11-13 01:05] Fourdee commented on #2237
Needs more testing. ```sync``` may resolved, but so does ```sleep 0.1```. ```sync``` may simply create enough time for bash/PID's/system to catch up.
- Use PID under a GLOBAL, exclude filesystem issue

[2018-11-13 03:15] MichaIng commented on #2237
@Fourdee
Strange, I don't understand yet the reason.

This was just a test, right? Very dangerous the option, should be never used in production or within release code. If ever, then better implement an option that skips `/tmp/$G_PROGRAM_NAME` creation as well: `G_INIT_NO_TMPDIR` or something like this, if the script does not need to create any tmp files?
Could be also realized via argument e.g. `

[2018-11-13 06:49] Micha-Btz commented on #2052
On my Raspi 3b+ I can use the debian armhf package directly without modifying it.

[2018-11-13 10:29] mspieth376 opened #2238 "Docker install fails to startup after installation"
## Creating a bug report/issue:

#### Required Information:
- DietPi version	| 6.17.12
- Distro version	| 9.6
- Kernel version	| Linux DietPi 4.9.0-8-amd64 #1 SMP Debian 4.9.130-2 (2018-10-27) x86_64 GNU/Linux
- SBC device		| Virtual Machine (x86_64) also on RP3 and UX4
- Power supply used	| N/A
- SDcard used		| N/A

#### Additional Information (if applicable):
- Software title	| docker
- Was the

[2018-11-13 14:23] MichaIng opened #2239 "DietPi-Software | Drop SiCKRAGE, enable Medusa?"
Ref: https://dietpi.com/phpbb/viewtopic.php?f=11&t=5163&p=15370#p15344

Looks like SiCKRAGE is simply dropped from FOSS development. As well install seems to be (again) broken. With SickChill we already found that old install method works, so can be recovered easily.

Vote for Medusa on FeatHub: https://feathub.com/MichaIng/DietPi/+17

[2018-11-13 14:53] Fourdee commented on #2239
@MichaIng

What a mess.
I'am eager to remove Sickrage and put a ban on all forks of sickrage being implemented into DietPi.

I do not believe we should be spending our time, wasted on chasing up program switch overs due to childish endeavours. All forks of Sickrage are at risk of this in the future.

We already offer Sonarr, which, in my view is vastly superior in every regard of performance, usab

[2018-11-13 15:19] Fourdee commented on #2237
@MichaIng

Yep, all above was debug testing, trying to find cause of the unexpected ```G_EXIT``` call.

yep 👍

Occurs after 1st run installation, and during boot (briefly on VM):
![image](https://user-images.githubusercontent.com/7077026/48422843-622baa80-e757-11e8-8a89-0758d9a4bd48.png)

Add program_name to ```G_INIT```
![image](https://user-images.githubusercontent.com/7077026/48423606-d9157300-

[2018-11-13 15:52] Fourdee commented on #2237
@MichaIng

🈯️ Fixed the boot issue, use the binary instead of variable ```$PWD``` to get current directory:
- Tested 8 times
[code]

![image](https://user-images.githubusercontent.com/7077026/48426230-3f50c480-e75e-11e8-82c4-e3290a2e4160.png)

---

So either:
- ```$PWD``` is outdated when we call it
- ```$PWD``` becomes corrupt when the var is updated, when we call it at that time
- ```pwd``` call

[2018-11-13 16:17] Fourdee commented on #2237
Regarding traps:

If some error causes the script to exit prematurely, ~the scratch directory and its contents don't get deleted.~ This is a resource leak?

Hmm, unsure, but ```dietpi-software``` issues. Disabling this resolves.
[code]

[2018-11-13 17:18] Fourdee commented on #2237
@MichaIng

🈯️ Think i've fixed it:
- Using SIGKILL
- Tested ```G_DEBUG=1 dietpi-software install 93``` as before, no errors!
[code]

Would indicate the process is not terminated fast enough using ```SIGTERM```

---

SIGTERM:
But all this does is trigger the while loop and sleep everytime, allowing time for it to complete.
[code]

[2018-11-13 17:31] MichaIng commented on #2237
I don't get the connection yet. The AMI instance in the guides example is our animation process? If the `dietpi-software` exit trap does not terminate it, it will run forever. Jep makes sense, for this reason currently the PS1 prompt command terminates the animation as last resort. However it makes sense to do this within the exit trap as well. PS1 prompt command will then only do this, if some G_

[2018-11-13 17:36] Fourdee commented on #2237
@MichaIng

/DietPi/dietpi/func/dietpi-set_dphys-swapfile remounting /tmp, which leads to content and cwd loss.
This is called during preboot 1st run setup, after which the error appeared and during Pi-hole install, after which error was reported. 🈯️ Makes totally sense!

The boot issue occurs at all times https://github.com/Fourdee/DietPi/issues/2237#issuecomment-438303603, even after 1st run setu

[2018-11-13 17:56] MichaIng commented on #2237
@Fourdee
Jep, also found swap file creation, including `mount -o remount,size=753M tmpfs /tmp` did not clear /tmp dir. Current $PWD and even contained files are reserved. Seems the content backup is somehow done automatically 👍. So no issue with this!
______________
`$PWD` and `pwd` both do not check/recognize that the directory does not exist:
[code]
- So for my impression simply do `cd /tmp` wit

[2018-11-13 18:31] Fourdee commented on #2237
@MichaIng

[code]

[2018-11-13 18:34] MichaIng commented on #2237
@Fourdee

But why this is an issue? Even if the kill command does it's job in the background, while script goes on, this would at worst lead to a parallel animation, until kill has finished. But this should not lead to any folder deletion or affect cwd?
_________
Quick validation about tmpfs remount: http://man7.org/linux/man-pages/man5/tmpfs.5.html

👍

[2018-11-13 18:41] Fourdee commented on #2237
@MichaIng

Unsure at moment. Maybe SIGTERM is allowing a process/memory leak to occur in ```Print_Process_Animation``` when terminated.

Example is:
- ```G_DIETPI-NOTIFY -2 'Reading database'``` is fine, but the next call triggers the G_EXIT:
- ```G_DIETPI-NOTIFY 0 'Reading database'```

Nice 👍

[2018-11-13 18:48] Fourdee commented on #2237
Intresting, this works:
``` tput ed``` on exit
[code]

Then simply ```rm /tmp/dietpi-process.pid``` in process clean.

So issue is leakage when terminating ```Print_Process_Animation``` using SIGTERM?

---

Breaks animation lol

putting ```tput ed``` back after ```Clean_Process_Animation``` resolved.

Simply not killing the process is the fix I believe. Preventing leakage and allowing graceful exi

[2018-11-13 19:22] Fourdee commented on #2237
@MichaIng

If you need VNC access for the boot issue, let me know i'll set it up?

[2018-11-13 19:46] MichaIng commented on #2237
@Fourdee
But the above is already live code? Only `tput ed` added, but what is the influence of this?
Ah, not required in `Clean_Process_Animation` then. But what I don't like about it:
- If `tput` fails for another reason, animation does not stop. Okay but simple solution is `|| { tput ed; return; }`
- If for some unexpected reason the file is removed after other output was done as well, `tpud ed

[2018-11-13 20:01] Fourdee commented on #2237
@MichaIng

TightVNC works well, only install the viewer. Setting it up now.

[2018-11-13 20:04] Fourdee commented on #2237
@MichaIng

82.7.94.230 same pw as webserver.

[2018-11-14 00:07] MichaIng commented on #2237
Okay long testing session:
- `/DietPi/dietpi/preboot` is actually fine. It looks like it calls exit trap before it's done, but it's not. All remaining tasks are send to background and exit traps obviously do not wait for background children to finish, which is good to know. Took a long time of testing and investigating until realized, 🤣.
- `cd /tmp` will be done during exit trap without any `$PWD`

[2018-11-14 03:15] rucknapucknavitz opened #2240 "Hash Sum mismatch"
#### Details:
- Date           | Wed 14 Nov 03:02:55 GMT 2018
- Bug report     | N/A
- DietPi version | v6.17.0 (Fourdee/master)
- Img creator    | DietPi Core Team
- Pre-image      | Raspbian Lite
- SBC device     | RPi 3 Model B (armv7l) (index=3)
- Kernel version | #1145 SMP Fri Sep 21 15:38:35 BST 2018
- Distro         | stretch (index=4)
- Command        | G_AGUP
- Exit code      | 100
- Soft

[2018-11-14 08:58] optio50 opened #2241 "/DietPi/dietpi/dietpi-cleaner: line 171: Run_Cleaner: command not found"
when running cleaner I get

/DietPi/dietpi/dietpi-cleaner: line 171: Run_Cleaner: command not found

The test clean seems to go ok but not clean

Raspberry Pi Zero W Rev 1.1
Linux 4.14.80+ armv6l
DietPi_v6.17_RPi-ARMv6-Stretch

[2018-11-14 09:10] msongz opened #2242 "wordpress not works on fresh install"
## Creating a bug report/issue:

#### Required Information:
- DietPi version	| `G_DIETPI_VERSION_CORE=6
G_DIETPI_VERSION_SUB=17
G_DIETPI_VERSION_RC=12
G_GITBRANCH=master
G_GITOWNER=Fourdee`
- Distro version	| `stretch` or `9.4`
- Kernel version	| `Linux pi2 4.14.79-v7+ #1159 SMP Sun Nov 4 17:50:20 GMT 2018 armv7l GNU/Linux`
- SBC device		| `RPi 2 Model B (armv7l)`
- Power supply used	| 5V 1A RAVpo

[2018-11-14 14:09] rucknapucknavitz commented on #2240
This seems to have been resolved. Perhaps an issue on the raspberry pi Raspbian side of things.

[2018-11-14 14:09] #2240 closed, assigned to nobody

[2018-11-14 14:10] msongz commented on #2242
`apt-get install php-mysql`
will fix

[2018-11-14 14:10] #2242 closed, assigned to nobody

[2018-11-14 16:54] Fourdee commented on #2241
@optio50

Many thanks for the report 👍 , we'll try to replicate + resolve.

[2018-11-14 16:59] Fourdee commented on #2237
@MichaIng

Thanks Micha, indeed a very long debugging session 😄  Thanks for your help 👍

Some notes my end:

Removal of kill command and allowing bg process to terminate on its own when ```.pid``` file is removed, also worked.

Any Pipe with preboot script and multiple + threads in the script, was triggering the getcwd errors during boot.

[2018-11-14 17:00] Fourdee commented on #2242
@msongz

Many thanks for the report 👍

---

Notes:
I was unable to replicate issue with current dev branch. ```php-mysql``` is installed as a pre-req.

[2018-11-14 17:09] Fourdee commented on #2241
@optio50

Resolved in v6.18.

### Solution
- Download updated script with the fixed code
[code]

[2018-11-14 17:09] #2241 closed, assigned to Fourdee

[2018-11-14 18:05] MichaIng commented on #2237
The only issue with this is the max 0.15 seconds delay between removal and termination:
- Animation 1 runs
- Animation 1 PID file is removed, sleep time until next loop + check is still 0.1 seconds
- 0.05 seconds afterwards Animation 2 is requested and started, since PID file does not exist
- Animation 1 loop reaches check and goes on, since still a PID file exists.
- Both animations run concurren

[2018-11-14 18:39] MichaIng commented on #2241
Whoopsie, that was my fault: https://github.com/Fourdee/DietPi/commit/f18f55e44a02fec2c82949b4f1a44dc7b57aea92#diff-97cafd2665ea39c9a89ac02d92dffcad

Note to self: Every touched file needs full testing of branch after merge: Missed that one it seems.

[2018-11-14 18:43] MichaIng commented on #2242
I guess it was due to: https://github.com/Fourdee/DietPi/issues/2217#issuecomment-435599804, fixed with: https://github.com/Fourdee/DietPi/pull/2214/files#diff-d92a6ee04e02fd2a2dc23d5bec3e6a98R3422
- But that occurred only, if PHP was already installed previously with another database (e.g. SQLite) and then MySQL on a separate install run.
- So should not have appeared on a fresh install with sele

[2018-11-14 18:53] MichaIng commented on #2239
@Fourdee
Jep perhaps best, until we get more requests and the different forks become settled.

NB: If I understand right, SickChill is actually the direct follower of SickRage, just forced to be renamed. So we simply made the mistake to switch to "SiCKRAGE", which looks like the direct follower, but actually changed the way it is installed and such and obviously still changes much, which makes our

[2018-11-14 18:58] MichaIng commented on #2238
@mspieth376
Thanks for report and fix. Will validate on Jessie and Buster systems as well, then merge accordingly for v6.18.

[2018-11-14 19:36] davidhq opened #2243 "mosquitto install: fails to start the service on boot"
## Creating a bug report/issue:

#### Required Information:
- DietPi version	| `cat /DietPi/dietpi/.version`

#!/bin/bash
G_DIETPI_VERSION_CORE=6
G_DIETPI_VERSION_SUB=17
G_DIETPI_VERSION_RC=12
G_GITBRANCH=master
G_GITOWNER=Fourdee

- Distro version	| `echo $G_DISTRO_NAME` or `cat /etc/debian_version`
9.4

- Kernel version	| `uname -a`

Linux lab 4.14.71-v7+ #1145 SMP Fri Sep 21 15:38:35 BST 2018 a

[2018-11-14 21:25] docgalaxyblock opened #2244 "DietPi-Software | Snapcast - Multiroom audio"
Snapcast
Multi-room client-server audio player
https://github.com/badaix/snapcast
Good Documentation at Github

Similar to Shairport-sync
But can be configured to use MPD, Mopidy, FFmpeg, mpv, MPlayer, Alsa, (Pulse,) AirPlay, Spotify, Line-in

#### How can DietPi make the installation easier or compatible, than following the install instructions or do APT installation, if available?
Configuration

[2018-11-14 21:38] docgalaxyblock opened #2245 "DietPi-Software | Upmpdcli - MPD Upnp addon"
UPMPDCLI
A UPnP front-end to MPD Server
https://www.lesbonscomptes.com/upmpdcli/
https://github.com/triplem/upmpdcli

Documentation at official website

Similar to GMediaRender but it is a addon to MPD
So if you are playing a MPD Playlist, it pauses the list when receiving a stream
GMR would play the stream additionally to what MPD is actually playing

#### Can you provide the installation steps t

[2018-11-14 21:45] shlatchz opened #2246 "How to update DietPi-Software installed applications?"
Hello,

I received a notification in `Radarr` that a new version is available

![image](https://user-images.githubusercontent.com/4594463/48514511-24b64280-e867-11e8-815d-a01c7c076293.png)

How can I update `Radarr` (and `Sonarr`, `Jackett`, `Deluge` and any other software I installed with `dietpi-software`) software without breaking the whole dietpi setup?

Thanks!

[2018-11-15 00:11] MichaIng commented on #2238
Testing:
- [x] Stretch: fd:// does not work, unix:// does
- [x] Jessie: fd:// DOES work!, unix:// works as well
- [x] Buster: fd:// does not work, unix:// does

Interesting, official packaging repo service unit still contains fd://: https://github.com/docker/docker-ce-packaging/blob/master/deb/systemd/docker.service
- Höh, there are two different files on the repo: https://github.com/docker/docker

[2018-11-15 00:41] msongz commented on #2242
Yeah, I installed gitea binary with sqlite set up, not sure it is the reason

[2018-11-15 00:47] MichaIng commented on #2242
@msongz
Okay jep that makes sense then. Thanks for feedback, then indeed the issue is solved already.

[2018-11-15 02:23] MichaIng commented on #2237
I made a start: https://github.com/Fourdee/DietPi/pull/2248

[2018-11-15 02:53] MichaIng commented on #2246
@shlatchz
Generally:
- As usually to update APT packages (e.g. Sonarr/NzbDrone) regularly run `apt update && apt full-upgrade`.
- Software that has internal update methods (via GUI or CLI) can be updated by this.
- In case of Radarr, since is simply installed by downloading and unpacking an archive (https://api.github.com/repos/Radarr/Radarr/releases), you cannot break much. Although easiest is to

[2018-11-15 07:17] shlatchz commented on #2246
@MichaIng running `dietpi-software reinstall 145` won't delete the DB?

[2018-11-15 08:13] Micha-Btz opened #2249 "Email on Update"
At first, thanks for this great project.

Mostly the dietpi does this job without my attention, so it would be great, if it can send me a mail if a new update is available. Like apticron does.

Maybe I can create a script that test if there is an update available, is there a point where I can get the infos on the pi directly?

Thanks Micha

[2018-11-15 08:48] Fourdee commented on #2249
@Micha-Btz

Hi Micha,

Many thanks for the request 👍

The main reason we do not offer this feature, is we simply do not log any contact or identifiable data on our users.
The only information we do obtain is hardware/software data:
https://dietpi.com/survey/

#### Current methods for update news:
- Twitter is probably the best bet, we post straight after release: https://twitter.com/dietpi_
- Foru

[2018-11-15 08:56] Fourdee commented on #2246
@shlatchz

Hi,

Radarr/Sonarr/Lidarr should be fine to reinstall via ```dietpi-software``` for updates from our side, as we do not touch any existing db files, previous one are left in place. This is of course assuming the latest Radarr/Sonarr/Lidarr binaries support the previous db files (which is the case in all my testing).

Jackett reinstall is currently non-functional in v6.17, fixed in v6.18

[2018-11-15 09:14] Fourdee commented on #2237
@MichaIng

Still occurring on my tests.

Believe you were right with a ```/tmp``` mount issue as following does not create log:
[code]

🈯️ However, this does:
[code]

~Interesting:~
- ~Our logs exist in ```/tmp``` briefly just after login, but few seconds later ```/tmp``` is reset with:~
[code]

~Something is playing with ```/tmp```~
- 🈴 Disable ```dietpi-logclear```, still occurs
- 🈯️ Non issue `

[2018-11-15 10:09] Fourdee commented on #2237
@MichaIng

Ok, still unsure of cause. Although:
- 🈯️ disabling threading in ```preboot``` resolves issue.

So for now, I believe we should roll out a workaround fix to disable threading, until more time is available to debug this further?

---

Also tried:
```G_THREAD_START```, instead of ```&```, same errors in output.

[2018-11-15 10:14] MichaIng commented on #2249
@Fourdee @Micha-Btz
Of course it's possible to send an email vor local SMTP client, so credentials only need to be stored locally. This then also gives an update notification regardless of used Git branch, just parsing `/DietPi/dietpi/.update_available` flag 🙂.

Clearly an optional feature (including SMTP client install), but a good idea definitely.

[2018-11-15 10:24] Fourdee commented on #2237
Redo images:
Using ```dev``` branch, switch ```dietpi.txt``` and ```.version``` afterwards.
[code]

---

- 🈯️ VB Stretch
🈯️ Entry dupes https://github.com/Fourdee/DietPi/commit/285965190562a77f8ccf6f03b5208b3af8edd979
[code]

- VB Buster
- 🈯️ VMware Stretch
- VMware Buster

---

~Stretch images done, uploaded to testing folder, however, updates to master branch (with the current issues) during 1st

[2018-11-15 10:35] Micha-Btz commented on #2249
Oh, mail just locally from my pi to me. Not a global solution. I will make a test with parsing the /DietPi/dietpi/.update_available. I will report back.

Thanks

[2018-11-15 10:42] MichaIng commented on #2237
@Fourdee
[code]
- I believe this occurs within the cpu and led background jobs (both two times and perfectly around their root user check). `cd /tmp` seemed to be done successfully (already prior to change), but the background jobs then seem to fail getting current directory.
- Perhaps, when initiated, they expect to be within `/tmp/DietPi-PreBoot`, as this was cwd when being initiated. But immedi

[2018-11-15 10:52] Fourdee commented on #2237
@MichaIng

Nope, tried ```cd /tmp; command &```, still occurs

[2018-11-15 10:53] MichaIng commented on #2237
Best would be to let the trap wait for those to finish: https://stackoverflow.com/a/356154
- Store PIDs in variable and use `wait`.
- Or hmm, is the reason simply the active `exit` call at end of `preboot`? Should be not required, also we do not pass any exit code.

So test schedule:
- [x] Remove `exit` command from end of `preboot`
- [x] Store initiated background process PIDs in variable and use

[2018-11-15 11:29] MichaIng commented on #2243
@davidhq
Thanks for your report. Will check and try to replicate.

The service should be disabled by DietPi automatically (to leave control to `dietpi-services`).
_____________
[code]
- Hmm, `dietpi_controlled : mosquitto` indicates service being disabled, but the `status` gives no indication about this. Perhaps this is the case for all init.d services.
...
[code]
- `generated` (mosquitto) vs `ena

[2018-11-15 12:03] MichaIng commented on #2243
Further checking of service status:
[code]
- Enabling service does not change status indication.
- Perhaps declarations are similar to systemd static units?
[code]
- `Default-Start` is set, but since it's "default", it should not override manual change?
- However it was definitely started by `dietpi-services`:
[code]

[2018-11-15 12:18] MichaIng commented on #2245
@potter-91
Thanks for your requests. There are some more on the pipe that I personally want to implement first, but we'll have a look.

[2018-11-15 12:21] MichaIng commented on #2218
@Fourdee
Found your answer on the forum. Have you been able to replicate, is it expected on current kernel/misconfiguration?

[2018-11-15 12:25] MichaIng commented on #2130
@Fourdee
If it does work without our `xorg.conf`, do we want to remove it by default, or indicate the required changes?
Then on Kodi install, place current (or with required adjustment) `xorg.conf` and inform user that this currently breaks desktop usage?

[2018-11-15 12:48] Fourdee commented on #2218
@MichaIng

Will re-test, moved to milestone.

[2018-11-15 13:15] Fourdee commented on #2237
Lowering priority level as both Stretch VM images have been updated with the fix for getcwd issues:
- https://dietpi.com/downloads/images/DietPi_VMWare-x86_64-Stretch.7z
- https://dietpi.com/downloads/images/DietPi_VirtualBox-x86_64-Stretch.7z

@Kreeblah

Please re-download required VM image in above link. Resolves the issue you experienced.

[2018-11-15 16:28] Fourdee commented on #2220
Note to self:
- Under Settings > Media Management > Show advanced > Permissions
![image](https://user-images.githubusercontent.com/7077026/48566724-6987bb00-e8f3-11e8-99a8-52355a28e0ce.png)

Will try and find in cfg options
- ```/mnt/dietpi_userdata/sonarr/config.xml```? No info on this, or existing options visible. Will try backing up with the settings in place, then check.
- Does config.xml exis

[2018-11-15 17:46] Fourdee commented on #2239
@MichaIng

Yep agree. Will disable SickRage install in v6.18, then we can re-asses this in v6.19.

[2018-11-15 18:21] MichaIng commented on #2220
@Fourdee
Searched Sonarr wiki, code and forum for a complete config.xml documentation, but just found articles/issues/code snippets about single settings 🤔.
Generally the settings seem to be stored within the SQLite database and only a few basic settings can be pre-set via config.xml.

We could also try to identify the related database table, or check CLI for config related commands, which would b

[2018-11-15 19:20] shlatchz commented on #2246
Thanks @Fourdee @MichaIng !

[2018-11-15 19:55] blogabe commented on #2209
I also had this issue and resolved it with the ^above^ reinstall command.  Can confirm it worked for me, but I also received this message:
[code]

[2018-11-15 20:48] MichaIng commented on #2249
`msmtp` seems to be the lightest solution. No full MTA (like exim e.g.) or GUI mailer:
- https://packages.debian.org/de/stretch/msmtp
- https://marlam.de/msmtp/msmtp.html
- Or install from source: https://marlam.de/msmtp/download/

sendmail: 45M 😮
postfix: 35M
exim4: 4M (Debian default pre-installed)
msmtp: 1M

Configuration looks quite clear, using TLS with `ca-certificates`. A random self-singed

[2018-11-16 09:11] FlameFireling opened #2250 "Binary files can't be executed by command"
I installed some software and when i tried to run it it gave unknown command error. Everytime i want to run a aplication i have to cd to the bin or games directory.

[2018-11-16 09:13] FlameFireling opened #2251 "DietPi-Software | Minetest"
Is an open source voxel game engine. Play one of our many games, mod a game to your liking, make your own game, or play on a multiplayer server. Would be great with PirateBox for portable server parties
minetest.net can be installed from the website from source or packages "apt-get install minetest" but the current minetest version on the raspbian repository is outdated. (Don't use minetest.org as

[2018-11-16 09:17] FlameFireling opened #2252 "DietPi-Software | i3 window manager"
i3 is a tiling window manager, completely written from scratch. The target platforms are GNU/Linux and BSD operating systems. Support floating windows too

[2018-11-16 10:22] Micha-Btz commented on #2249
I have a fully working postfix config on my pi, also send local mails with mailx and postfix send the mail out to my provider (smarthost).

So I only need a point that I can grep for a trigger and then cron sends me a mail.
But maybe the msmtp solution is for other users as well.

[2018-11-16 15:46] MichaIng commented on #2250
@FlameFireling
Welcome 🙂.

On GNU/Linux generally (actually the same with Windows), there is a `$PATH` variable that contains the folder, where the shell searches for binaries/commands to execute. By default these are:
- /bin
- /sbin
- /usr/bin
- /usr/sbin
- /usr/local/bin
- /usr/local/sbin

You can check it via: `echo $PATH`

Software needs to place or link its binaries into one of those, to be e

[2018-11-16 16:04] MichaIng commented on #2251
@FlameFireling
Thanks for your request. Could you add some links to official websides, download links, install methods to your both requests? This will make it easier for us to check and implement.

[2018-11-16 16:53] Fourdee commented on #2243
RPi test, install + reboot:
 - 🈯️

[code]

[2018-11-16 16:55] Fourdee commented on #2238
Testing for running of Docker after install + reboot:
- 🈯️ VM
- 🈴 RPi, service hangs on start
[code]
![image](https://user-images.githubusercontent.com/7077026/48636104-dbc6d100-e9c1-11e8-9bf5-66dbee713659.png)
-- 🈯️ SIGTERM on ```systemctl start docker```
- 🈴 Odroid C2
[code]
-- non x86, uses docker-engine package. ```/etc/docker``` does not exist.

---

🈯️ Service type "simple" fixes RPi service

[2018-11-16 17:00] Fourdee commented on #2218
RPi install test:
- 🈯️
[code]

Unable to test user specific script with reported issue, as, lacking the script itself.

Waiting for user response:
https://dietpi.com/phpbb/viewtopic.php?f=9&t=5198&p=15398#p15398

[2018-11-16 17:56] Fourdee commented on #2238
Hmm, with RPi, ```systemctl start docker``` hangs during boot.
- Does not occur every reboot.
- Clears after 10-60 seconds
- Running docker images during the service hangs, works fine.

Downside is it prevents ```dietpi-services start``` from continuing, until Docker is finished loading.

Will set service type to simple, to prevent the above.

[2018-11-16 18:00] davidhq commented on #2243
Not sure what these reports mean -)

Anyway have you reproduced the problem? Check that process is actually running even if systemctl reports it’s active.. actually it said Active (exited) and it wasn’t reachable (running) when I was trying..

I solved the issue in this strange way as described..

[2018-11-16 18:13] Fourdee commented on #2238
Retest:
- 🈯️ VM
- 🈯️ RPi

@MichaIng

Great work Micha on fix, works a charm, completed.

[2018-11-16 18:13] #2238 closed, assigned to Fourdee, MichaIng

[2018-11-16 18:58] Fourdee commented on #2243
@davidhq

Hi David,

Yep, the service and process are running (checked htop).

The only thing I can suggest is we create a systemd service for Mosquitto, and, remove the init.d version. This should prevent any issues with dietpi-services disabling the service (which we are unable to replicate).

Either way, systemd service is preferred.

---

Notes

[code]

[2018-11-16 19:01] MichaIng commented on #2243
€: Lol double answer.
@Fourdee
Maybe we can check current upstream mosquitto for their systemd service and/or if not there as well, commit one. But then it's up to the Debian maintainers to implement and no chance to have this in Stretch anymore in case. Simple test as well to check APT package on Buster, perhaps it's already systemd there.

@davidhq
Nope, we were not able to reproduce. I just fou

[2018-11-16 19:05] Fourdee commented on #2243
@MichaIng @davidhq

I've updated the service to systemd regardless. init.d script was around 200 lines just to run ```$(which mosquitto) -c /etc/mosquitto/mosquitto.conf```

Install test + service + process 🈯️

[2018-11-16 19:09] Fourdee commented on #2210
Image passed local testing, WiFi working fine. Will release to dietpi.com.

[2018-11-16 19:12] davidhq commented on #2243
I’ll dedicate more time to this again soon, I’m not at thome, for now just:

- haven’t installed much other software , at least not something very related to mosquitto or anything that would interfere with systemd and such

- I intalled mosquitto via apt-get not dietpi-software— not sure if it matters but I think I forgot to mention this fact

- great if you simplified things now, this is a great

[2018-11-16 19:15] MichaIng commented on #2238
@Fourdee
Great non-x86 fix as well.

As long as we cannot find the reason for the hang, this is the best we can do.

Perhaps docker requires something else to start-up? Is there some log that gives an indication?
But actually funny since dietpi services starts it at end of boot, later than how systemd would do :thinking:.

So default APT install with systemd control should have the same issue then

[2018-11-16 19:18] Fourdee commented on #2210
Image released to http://dietpi.com/download

Will mark as completed.

PREP workaround available for WiFi only devices with ```network-manager``` installed:
https://github.com/Fourdee/DietPi/issues/2210#issuecomment-435687637

[2018-11-16 19:18] #2210 closed, assigned to troyane, Fourdee

[2018-11-16 19:21] MichaIng commented on #2243
@davidhq
Nope, in case of mosquitto there is absolutely no difference in apt and dietpi software install.

[2018-11-16 19:31] Fourdee commented on #2223
#### Test, removal of all logs and db during runtime (eg: we can then log to /var/log for all and clear on demand)
[code]

[code]

- 🈯️  Check GUI logs page, all appears fine.
Only issue, requires a restart everytime we want to clear logs. This can take a long time on lower end SBC's and the performance gain of reduced IO is offset by this.