[2018-09-09 12:04] MichaIng commented on #2060
@ghosted17
Not to forget VirtualBox, which allows quite useful VM snapshots and is the only open source solution of this three.

All of those solutions allow autostart with Windows and work reliable, there is no advantage of Hyper-V from that point of view. But I understand that you want to stay with the solutions you are used to and made no bad experience with.

[2018-09-09 12:07] MichaIng commented on #2057
@LexiconCode
Not sure if it works inside `.htaccess`, there are some limitations and more importantly it gets overwritten by Nextcloud on update and occ maintenance commands.

So better add it to `/etc/apache2/sites-available/nextcloud.conf`, inside the <Location> statement as a first try. Should work, but if Apache service complains syntax error, perhaps is needs to be outside the <Location> stat

[2018-09-09 12:16] ghost commented on #2060
I was also exploring alternatives when i had usb pass through issues but For me it's not worth redoing everything as the vms are second priority after Win. if i had to do it over i might go esxi but again for me there maybe a performance loss to windows which i don't want and then im sure esxi will have other issues that i will have to deal with like having to use vmfs for all drives. I hate that.

[2018-09-09 12:18] MichaIng commented on #2007
@Fourdee
To finish this, what do you think:
- Follow Pi-hole default and not show blocking page at all?
- Show blocking page for Pi-hole machine only? Not very consistent for my point of view and the Pi-hole machine, I guess, is usually not used directly for web browsing etc. Steps on existing Pi-hole install below. The result is then most similar to untouched Pi-hole installer.
[code]
- Enable bl

[2018-09-09 15:18] MichaIng commented on #1510
### `cat` vs `echo`
[code]
- I guess it's due to `echo` being a bash builtin, which `cat` is not:
[code]
- Since `echo` can be used with `\n` and as well just with a line break within the code, I don't see any advantage of using `cat` at all:
[code]
- Hmm, since when does escaping single quote `\'` not work at all in `echo [-e] '...'` 🤔.

[2018-09-09 20:35] TedMichalik opened #2063 "Connection Test fails on NanoPi K1 Plus after initial update."
## Creating a bug report/issue:
Image DietPi_v6.7_NanoPiK1Plus-ARMv8-Stretch.img booted successfully. Initial update ran OK, but after reboot the connection test fails:
ERROR: The certificate of ‘deb.debian.org’ is not trusted.
ERROR: The certificate of ‘deb.debian.org’ is not yet activated.

#### Required Information:
- DietPi version	| 6.14
- Distro version	| stretch 9.5
- Kernel version	| Linux

[2018-09-09 21:25] TedMichalik commented on #2063
Another attempt:

#### Details:
- Date           | Thu  3 Nov 17:24:59 GMT 2016
- Bug report     | N/A
- DietPi version | v6.14
- Img creator    | DietPi Core Team
- Pre-image      | FriendlyARM
- SBC device     | NanoPi K1 Plus (aarch64) (index=67)
- Kernel version | #19 SMP Fri Apr 20 14:25:42 CST 2018
- Distro         | stretch (index=4)
- Command        | G_AGUP
- Exit code      | 100
- Softwa

[2018-09-09 21:25] #2063 closed, assigned to nobody

[2018-09-10 09:16] Fourdee commented on #2063
@TedMichalik

Thanks for the report 👍

Apologies for this issue, please see below link for reason + solution:
https://github.com/Fourdee/DietPi/issues/2061#issuecomment-419623473

[2018-09-10 09:29] Fourdee commented on #1510
@MichaIng

Intresting find 👍

For me, I prefer using cat for the simplicity of easy markings/viewing in notepad++
![image](https://user-images.githubusercontent.com/7077026/45289124-4fd98a00-b4e4-11e8-9f4f-cc267e2ce216.png)

[2018-09-10 09:38] lateboomer opened #2064 "Odroid C2: Can't run dpkg -i. It says Can't locate POSIX.pm"
Hi,

I tried to install LMS package but it failed with message:
[code]

#### Required Information:
- DietPi version	| 6.14
- Distro version	| stretch 9.5
- Kernel version	| Linux OdrDiet 3.16.57+ #1 SMP PREEMPT Sun Aug 19 15:27:56 CEST 2018 aarch64 GNU/Linux
- SBC device		| Odroid C2 (aarch64)
- Power supply used	| 5V 2A
- SDcard used		| SanDisk ultra 16 GB

#### Extra details:
May need to refresh

[2018-09-10 10:37] MichaIng commented on #1510
@Fourdee
Jep, slight benefit of `cat` that the output lines between `cat << _EOF_` and `_EOF_` will be taken one-to-one, where with `echo` first and last line contain the command/forwarding as well.

Finally since usually `cat` is used just once each script call to create a config or service file e.g., it should not matter. Within `dietpi-drive_manager` I thought it makes sense to replace it, as i

[2018-09-10 12:15] MichaIng commented on #2064
@lateboomer
Thanks for your report. We try to replicate.

[2018-09-10 12:52] Fourdee commented on #2050
@Jaffa

Good stuff, thanks for testing 👍

/DietPi/dietpi/func/dietpi-obtain_hw_model: line 109: cd: HOME not set
[ INFO ] DietPi-PreBoot | Running custom script, please wait...

I'll check this.

[2018-09-10 12:58] Fourdee commented on #2008
🈯️ Cable on order.

[2018-09-10 13:48] MichaIng commented on #1778
https://github.com/nextcloud/server/commit/ace96a406a4fea0dcc07abd003495da34b5fa71c
Indeed PHP5 support dropped with Nextcloud 14. Not sure what is best to do. I hope on Jessie/PHP5 systems, WebUI update attempt shows meaningful output and is prevented, so we can resolve it by forcing NC13 on Jessie. Otherwise we need to inform Jessie users that they shall not update and remove Nextcloud install o

[2018-09-10 20:45] MichaIng commented on #2027
@Fourdee
Next software title that needs IPv6 available for successful APT install:
- `G_AGI redis-server` fails on Debian Buster due to `bind 127.0.0.1 ::1` default setting in `/etc/redis/redis.conf`. On Stretch it is just `bind 127.0.0.1`, thus works fine here. Manual adjustment on second SSH session of that setting allows to continue install run.
- Since we cannot adjust/pre-create all config fi

[2018-09-11 01:37] nachoparker commented on #1778
indeed a situation. Until when are you guys going to support Jessie? I guess you will have to support two versions of NC :S

in NCP due to shortage of manpower we only support the latest stable debian

[2018-09-11 02:04] shred86 commented on #1753
Yeah, this is occurring on VirtualBox with v6.12 (latest version downloaded from the website). I had to change the NTP server to get the date/time to finally update in order to install dietpi.

[2018-09-11 07:25] Fourdee commented on #2064
Installed by default:
[code]

```apt-get install -f``` which runs after the failed ```dpkg -i``` installs required perl modules automatically without user intervention.
[code]

---

@lateboomer

I'am unable to replicate on a fresh DietPi installation with current image:
- Do you have any other software installed?
- Any manual changes to the system, outside of DietPi programs?
- Please try the foll

[2018-09-11 07:37] Fourdee commented on #2050
```HOME``` unset resolved with: https://github.com/Fourdee/DietPi/commit/7e1fcf864d88af3547357e92cccf94e988ebb659

Completed.

@Jaffa

Many thanks for testing, if any further issues should appear in the future, please reopen as required.

[2018-09-11 07:37] #2050 closed, assigned to Fourdee

[2018-09-11 07:39] Fourdee commented on #1753
@shred86

Thanks for the report 👍

We'll reopen for investigations and local testing, see if we can replicate.

[2018-09-11 07:55] Fourdee commented on #1753
Confirmed same issue with 1st run connection test fail, due to date + cert out in pre-v6.14 images. We'll update the images.
However, no issues with NTP sync after that point on testing system.

I'll mark this as closed in favor of https://github.com/Fourdee/DietPi/issues/2026

[2018-09-11 07:55] #1753 closed, assigned to Fourdee, MichaIng

[2018-09-11 08:18] Fourdee commented on #1753
@shred86

Image updated, resolves the initial 1st run cert issue:
https://dietpi.com/downloads/images/DietPi_VMWare-x86_64-Stretch.7z

Please let us know if problems persist with NTP time sync on the updated image.

[2018-09-11 10:07] lateboomer commented on #2064
Hi,
This is my Perl on Odroid C2:
[code]

I downloaded Dietpi V6.13 and did fresh install on Odroid C2. After finished it became v6.14. After that I changed hostname to OdrDiet and time zone and language. Then I installed ALSA and also Squeezelite from software menu. Also I had installed OpenSSH  and Samba Server and apt-get install openssh-sftp-server. Then after that I tried to run dpkg -i on LM

[2018-09-11 10:28] lateboomer commented on #2064
Hi,

I tried "dietpi-software install 35" but I saw it got error message on dpkg -i as shown:

[code]
After installation of 35, I rebooted Odroid C2 and I ran systemctl status as shown:

[code]

[2018-09-11 10:55] Fourdee commented on #2014
Completed.

[2018-09-11 10:55] #2014 closed, assigned to Fourdee

[2018-09-11 11:01] Fourdee commented on #2064
@lateboomer

Thanks for the info 👍

Very strange, i'am unable to replicate this issue.

Please try the following:
- Redownload the DietPi image, write it again and run the software installations as you did previously.
https://dietpi.com/downloads/images/DietPi_OdroidC2-ARMv8-Stretch.7z

**Please ensure you install LMS from the ```dietpi-software``` menu, (also known as Squeezebox).**

If problems

[2018-09-11 17:13] shred86 commented on #1753
@Fourdee

I'm using the VirtualBox image. I just tried re-downloading it from the site but it looks like it hasn't been updated yet. I'll definitely test it out tonight if you're able to update the image by then. Thanks for the work!

[2018-09-11 18:09] MichaIng commented on #1778
@nachoparker
At least with PHP5 in use, NC14 update is not offered and we do no NC14-only install steps. So we just need to download/install the latest NC13 on Jessie systems.

The reason to still support Jessie is, besides existing Jessie users from older times, that the Odroid Stretch pre-image we use does not have full GPU support to play e.g. Kodi smoothly. And Kodi is one of the more used sof

[2018-09-11 19:15] LexiconCode commented on #2057
I will work on finding and testing some Cal/CardDAV clients tomorrow. DAVdroid works.

[2018-09-11 19:22] Jaffa commented on #517
I'd love to have this for a multi-room audio set up inspired by https://www.reddit.com/r/homeautomation/comments/7jb3da/multiroom_audio_setup_w_mopidy_pulseaudio_and/

Currently, you have to download the deb from https://gist.github.com/gotling/9310f2572e1ea9c9d685c4ce5807001a and faff about with dependency correction.

[2018-09-11 21:48] docgalaxyblock opened #2066 "Dietpi-Cloudshell Issue"
Hi Fourdee
Bugreport id: f356d26d-a01a-4490-98d9-24eed509a7b0
I just made fresh Dietpi installation on my CS2, because of a corrupted Partition.

The Dietpi cloudshell script has some issues displaying the correct amount of ram
![20180911_234937](https://user-images.githubusercontent.com/21227087/45389894-9d0d4700-b61d-11e8-994c-d5e8fb389487.jpg)
It was also at my last install, but there is though

[2018-09-11 22:24] kevkha commented on #1778
@MichaIng Yes, pretty sure. I received a recommendation from my previous NC 13.0.6 upgrade.
More details here https://nextcloud.com/blog/changes-for-developers-in-nextcloud-14-beta-4-ready-for-testing/

[2018-09-11 22:35] MichaIng commented on #1778
@kevkha
Thanks for additional verification. Solution from our side will be as above to simply install https://download.nextcloud.com/server/releases/latest-13.zip on Jessie systems.
Damn, wanted to add it to my open PR today, but simply to busy with other stuff... Tomorrow, at latest on Thursday it will be finished, including some other enhancements. I hope Fourdee has enough patience to wait with

[2018-09-11 22:53] MichaIng opened #2067 "Samba/NFS | Support userdata directory with permissions that allow apps to function?"
Ref: https://dietpi.com/phpbb/viewtopic.php?f=11&t=4595#p14233
- Does the issue occur, if the server (Windows?) file system (NTFS?) does not support permissions?
- Is it somehow possible via cifs mount options e.g. to adjust owner and permissions for the whole network mount, just client-side, e.g. to dietpi:dietpi 775 to allow Sonarr etc users r/w access?
- Could this be a similar issue for other

[2018-09-11 23:49] nachoparker commented on #1778
Too bad for boards with shitty support. IIRC all Armbian boards NCP supports are on Stretch already

[2018-09-12 07:30] Fourdee commented on #2066
@potter-91

Many thanks for the report 👍

I'll take a look.

[2018-09-12 07:36] Fourdee commented on #2066
- Confirmed bug with ```free -m``` result. Appears cached result has moved back 1 ```awk```
- ```free -m``` also excludes the cache now, in usage result, but not in the free result!:
[code]
- Also bug with running on same screen
![image](https://user-images.githubusercontent.com/7077026/45409456-1d0bcf00-b667-11e8-954f-79f02b77342b.png)

[2018-09-12 08:43] Fourdee commented on #2066
@potter-91

Sounds like screen-blanking not being set, i'll have this applied during init.

[2018-09-12 08:57] Fourdee commented on #2066
RAM and a few other issues resolved.

@potter-91

In regards to the screen blanking (i'am assuming) this should also be resolved, however, if problems persist, please let us know so we can investigate further.

v6.15 (with this fix) will be released today.

[2018-09-12 08:57] #2066 closed, assigned to Fourdee

[2018-09-12 08:59] Fourdee commented on #2067
@MichaIng

Samba does not support setting remote permissions with NTFS volume (linux Samba server with NTFS drive):
[code]

Same with EXT4:
[code]

Hmm, need to research and confirm this is as Samba intended.

Ok, I believe this is per design, as setting a user/group permissions on a remote system, would require the remote system to also have that user/group locally.
Samba appears to mount with th

[2018-09-12 09:50] Fourdee commented on #1753
@shred86

Ah apologies, I did not see correctly.

The VirtualBox is yet to be updated, please see here for status:
https://github.com/Fourdee/DietPi/issues/2026#issuecomment-414383868

[2018-09-12 09:53] Fourdee commented on #1510
@MichaIng

Agree, could do with some improvements 👍

[2018-09-12 11:46] Fourdee commented on #2008
Unable to replicate:
- RPi Cam Control v6.4.30: mycam@DietPi-ZeroW

I suspect faulty:
- Camera
- Cable
- Bad connection
- Sunny connector loose

Marking as closed.

[2018-09-12 11:46] #2008 closed, assigned to Fourdee, MichaIng

[2018-09-12 14:45] sureshachary opened #2069 "Aria2 web interface shows apache directory listing"
## Creating a bug report/issue:
<img width="483" alt="aria2_webui_error" src="https://user-images.githubusercontent.com/37358234/45474864-6e47bb80-b758-11e8-9a30-1620dbe04432.png">

#### Required Information:
- DietPi version	| 6.15
- Distro version	| stretch 9.4
- Kernel version	| Linux mypi 4.14.69-v7+ #1141 SMP Mon Sep 10 15:26:29 BST 2018 armv7l GNU/Linux
- SBC device		| RPi 3 Model B+ (armv7l

[2018-09-12 17:54] mukamuk1 opened #2070 "Tinkerboard wifi not working (again)"
## Creating a bug report/issue:
wifi is not working when using dietpi.txt.
when using dietpi-config adapter is enabled. It finds network but not getting IP from DHCP.

#### Required Information:
- DietPi version	| 6.15
- Distro version	| 9.5
- Kernel version	| Linux TinkerBox 4.4.71+ #1 SMP Thu Feb 22 18:23:31 CST 2018 armv7l GNU/Linux
- SBC device		| Asus Tinker Board (armv7l)
- Power supply used

[2018-09-12 18:57] troyane commented on #1209
@Fourdee shouldn't we open this issue? Looks like it is tightly connected to https://github.com/Fourdee/DietPi/issues/738#issuecomment-418447508

[2018-09-12 22:40] NNpranav opened #2071 "Odroid XU4 - v6.15 - Network is not brought up automatically on reboot, and settings are not restored."
Network is not brought up automatically on reboot and when brought up manually, settings are not restored.

#### Required Information:
- DietPi version	| 6.15
- Distro version	| 8.11
- Kernel version	| Linux Sirius 3.10.106+ #1 SMP PREEMPT Fri Nov 24 16:26:38 CET 2017 armv7l GNU/Linux
- SBC device		| Odroid XU3/XU4/HC1/HC2 (armv7l)
- Power supply used	| 5V 6A.
- SDcard used		| Strontium 32GB Class

[2018-09-13 09:07] ravaz commented on #806
The test link for v2.0.7 doens't work anymore. It there any update on this topic?

[2018-09-13 12:36] mukamuk1 commented on #2070
Issue might be missing net-tools package. Because during attempt to connect wifi I could see error message of missing ifconfig. After installing net-tools wifi connection works just fine.

Not 100% sure because I made own Dietpi from newest TinkerOS but I had same problem. Fix worked with this Dietpi. Kernel running now is Linux DietPi 4.4.103+ #1 SMP Fri Jun 22 16:14:49 CST 2018 armv7l GNU/Linux.

[2018-09-13 14:06] lateboomer commented on #2064
Hi,

I downloaded latest Dietpi as given above and it is v6.14, and after installation it becomes v6.15. This is different from my previous download from the official download site as stated above.

Anyway, good news is I am able to install Squeezeboxserver although the message "[FAILED] DietPi-Software | dpkg -i 35.deb" is still appeared, but bad news is it won't start the Squeezebox server as sh

[2018-09-13 14:24] MichaIng commented on #2071
@NNpranav
Thanks for your report.

Hmm due to?: https://github.com/Fourdee/DietPi/blob/6993afc5ddfc737dfbd9af844d9c8081fb8d5de2/rootfs/etc/network/if-up.d/dietpi-disable_offload
- Is the interface brought up as well with exit code 1?
- Could you try to temporary move the file above out of place and reboot?

Btw use the newer `ip` command to apply interface setting instead of ifconfig. The related

[2018-09-13 14:37] MichaIng commented on #2070
@mukamuk1
Thanks for your report.

Related to: https://github.com/Fourdee/DietPi/issues/2071 ?

Could you as well try to move the file mentioned in the other thread out and check if it's working then?

Hmm but you say installing net-tools only solves the issue? This should be not needed anymore. Nowadays `ip` is used to check and apply interface settings. Can you identify which software throws the

[2018-09-13 15:11] mukamuk1 commented on #2070
Error is shown when using dietpi-config. After enabling wifi and inserting wifi-details. During save-procedure error of missing ifconfig is shown for short period. Same error was shown during fresh dietpi install (from dietpi-image). So you should be able to replicate error with Tinkerboard.

I removed net-tools and wifi is still working. Error is still shown:
`DHCPOFFER of 192.168.0.8 from 192.16

[2018-09-13 15:11] MichaIng commented on #2069
@sureshachary
Thanks for your report.

It looks like the Gihub repo folder structure was changed: https://github.com/ziahamza/webui-aria2/commit/54c56d57ae0e175530d98530d8bc830c57208127
The actual WebUI is now within the docs/ directory.

Could you try to open `10.0.0.2/aria2/docs` in the browser instead?

So we need to download/install this subdir only then. Need to check if the files in patent d

[2018-09-13 15:24] MichaIng commented on #2070
@mukamuk1
Thanks for posting error message.

So `/etc/network/if-pre-up.d/wireless-tools` is the issue. Seems to be new in TinkerOS and uses outdated net-tools. We need to either remove this file or adjust it to use iproute2.

Could you paste:
[code]
The second command to check if it is added by an APT package, just in case.

[2018-09-13 15:56] Fourdee commented on #2070
@MichaIng

[code]

[code]

---

Interesting, if it fails, use ifconfig
[code]

[2018-09-13 16:03] Fourdee commented on #2070
Always applies this SSID:
[code]

[2018-09-13 16:21] Fourdee commented on #2070
Confirmed working with updated dietpi-config code:
![image](https://user-images.githubusercontent.com/7077026/45501592-8bd94d00-b779-11e8-88b8-b1c58694bf39.png)

```net-tools``` not required.

---

Reboot test:
🈯️
[code]

[2018-09-13 16:24] sureshachary commented on #2069
Thank you, yes the folder structure has changed. http://10.0.0.2/aria2/docs is working.

[2018-09-13 16:30] NNpranav commented on #2071
Doesn't seem to be due to dietpi-disable_offload. Not sure how you can check the exit code but I ran the script again and it showed no output.

Moved the file and rebooted, same issue.

Upon running dietpi-config and disabling the eth0 interface, I get messages about stopping and starting services (the usual), and the following:
`Cannot find device "0"`
`Cannot find device "SCHED_OTHER"`
`Cannot f

[2018-09-13 16:33] Fourdee commented on #2070
@mukamuk1

I'll update the image, please bear with us, will post when its available including the above fix.

[2018-09-13 17:03] Fourdee commented on #2070
### DietPi-Config, not setting correct SSID as selected, effects recent image updates:
- https://github.com/Fourdee/DietPi/issues/2026

I won't be redoing them all, due to lack of time. However, i'll redo the popular ones.

#### Workaround is to either:
- Use DietPi-Automation, to set WiFi creds before 1st boot: https://dietpi.com/phpbb/viewtopic.php?f=8&t=273#p1140
- Initially connect with Ethern

[2018-09-13 17:11] Fourdee commented on #2071
Notes:

Cannot find device "SCHED_OTHER"
Cannot find device "0-7"
Cannot find device "0"

Process_Tool

---

### Tests:
+ Pi-hole

- Master branch install image
- install pi-hole
- Set static when prompted
- finish install, reboot.
- 🈯️ Working fine

---

- Use dietpi-config to change IP address
- Reboot
- 🈯️ Working fine
- 🈯️
[code]

[2018-09-13 17:31] MichaIng commented on #2070
@Fourdee
I don't get it. Maybe I need to finish the DietPi mug of coffee first 🤣.
- You just changed to method of offering and applying the SSIDs from scan? Instead of writing scan output to file and filling content into an array to loop through, now it is directly looped through the scan output, which is indeed better coding.
- But the $WIFI_SSID value afterwards should be the same 🤔?
- Also the

[2018-09-13 17:36] MichaIng commented on #2069
@sureshachary
Great to hear. I reopened to not forget fixing this. We try to apply/setup the WebUI the way, that you can access again via `<IP/domain>/aria2`.

Perhaps install size can be reduced by downloading the docs sub directory only and leave out the others.

Also at least we can think about using the additional methods, e.g. allow users to decide whether they want to use it via usual webser

[2018-09-13 17:51] Fourdee commented on #2070
@MichaIng

Yep, still unsure of the cause, however, the rewrite has resolved the issue in testing. I need to do more testing regardless.

Same here 👍

Yep, thought the same 👍. I believe its more of a "fallback" should everything else fail, try using the older tool that "might" be installed?

[2018-09-13 18:03] Fourdee commented on #2071
@NNpranav

Unable to replicate in local testing: https://github.com/Fourdee/DietPi/issues/2071#issuecomment-421082225

We'll need to debug your system, please paste/screenshot results:
- ```cat /etc/hosts```
- ```cat /etc/network/interfaces```
- ```cat /etc/dhcpcd.conf```
- ```dmesg | grep eth```

---

Interesting, ```/etc/network/interfaces``` takes priority.
[code]

We should detect Pi-hole inst

[2018-09-13 18:24] MichaIng commented on #2070
@Fourdee
From the file:
[code]
- So seems no fallback, but expected that some or all settings cannot be applied (on some drivers) before interface is up. Just recognized the `IF_WIRELESS_*=` after related setting was successfully applied, so after `ifconfig * up`, the failed settings are applied.
- _Just checked on Buster: Script was not fixed/updated there, so there need to be a bugreport/issue o

[2018-09-13 18:34] Fourdee commented on #2070
Notes:
- 🈯️ WiFi working fine with tinkerOS 2.0.7 and updated ```dietpi-config```.
- 🈯️ Also tested after reboot, still fine.
- Unable to replicate the previous issue with re-written dietpi-config code update, unsure of cause at this time.

[2018-09-13 18:38] Fourdee commented on #2070
@MichaIng

We could edit script, i'd rather not, but seems until Debian can resolve this, we need to.

[2018-09-13 18:49] NNpranav commented on #2071
Contents of /etc/hosts:
`127.0.0.1 localhost`
`127.0.0.1 Sirius`

Contents of /etc/network/interfaces:
`#/etc/network/interfaces`
`#Please use DietPi-Config to modify network settings.`
`# Local`
`auto lo`
`iface lo inet loopback`
`# Ethernet`
`auto eth0`
`allow-hotplug eth0`
`iface eth0 inet static`
`address 192.168.1.88`
`netmask 255.255.255.0`
`gateway 192.168.1.1`
`dns-nameservers 8.8.8.8 8.8.

[2018-09-13 19:09] sureshachary commented on #2069
Okay

[2018-09-13 19:28] MichaIng commented on #2057
I have a good idea how we can handle it and by this implement redirection into other DAV servers as well:
- We place redirection into own config files `dietpi-dav_redirect.conf` or something.
- Baikal (and in case other explizite Cal/CardDAV servers we offer) will overwrite this file, if existent.
- ownCloud/Nextcloud (and other software that optionally can be used as Cal/CardDAV server), will onl

[2018-09-13 19:37] NNpranav commented on #2071
Interestingly,
`service networking start`
or
`systemctl start networking`

fixes the issue. Settings are loaded automatically and the interface comes up. The 'networking' service is already enabled, but it seems to be failing.

[2018-09-13 19:37] LexiconCode commented on #2057
Everything checks it seems to work in a few clients I was able to find for Windows!

[2018-09-13 19:38] Fourdee commented on #806
@ravaz

2.0.7 image on its way, see https://github.com/Fourdee/DietPi/issues/2070 for link when its completed.

[2018-09-13 19:39] Fourdee commented on #2071
@NNpranav

Thanks

Debug with:
[code]

Which version of Pi-hole is running on the system? (bottom right of web interface)

And does hostname match hosts?
[code]

[2018-09-13 19:40] MichaIng commented on #2071
@Fourdee @NNpranav
Found the issue I guess, that is responsible for this, and might be related to the other WiFi issue as well:
![dependency_cycle](https://user-images.githubusercontent.com/28480705/45511024-2f3b5980-b79c-11e8-907b-55b1ef093033.png)
- It seems `dietpi-preboot` created a dependency cycle that is resolved by systemd by skipping the networking.service, so no interface is brought up.

[2018-09-13 19:43] NNpranav commented on #2071
Pihole: Pi-hole Version vDev (HEAD, v3.2.1-0-ge602008) Web Interface Version vDev (HEAD, v3.2.1-0-g31dddd8-dirty) FTL Version vDev (v2.13.2 , v2.13.2 )

I switched to this development version because Pihole had broken the web interface after an update. I haven't updated it since.

Output of /etc/hostname is 'Sirius', my hostname. Matches the entry in /etc/hosts

Output of systemctl status networki

[2018-09-13 19:55] Fourdee commented on #2071
@NNpranav

Pi-hole uses dnsmasq for this version. This has changed for v4.0.

As this issue cannot be replicated in our testing, please try re-writing the DietPi image and installing Pi-hole v4.0 (stable) through ```dietpi-software```:
https://dietpi.com/downloads/images/DietPi_OdroidXU4-ARMv7-Stretch.7z

[2018-09-13 19:59] Fourdee commented on #2070
@MichaIng

Reboot with WiFi only, however, WiFi is connected
[code]

[code]

[2018-09-13 20:00] Fourdee commented on #2070
@mukamuk1

I've updated the ASUS TB image (TinkerOS 2.0.7), please try it and let us know if this resolves the issue:
https://dietpi.com/downloads/images/DietPi_ASUSTB-ARMv7-Stretch.7z

[2018-09-13 20:13] Fourdee commented on #2064
@lateboomer

Thanks for the info.

I'am still unable to replicate the issue you are experiencing on a fresh install:

Install + log:
https://pastebin.com/tpxaygUD
![image](https://user-images.githubusercontent.com/7077026/45513056-8db30880-b799-11e8-968e-c1f8449bfe3e.png)

I believe the issue was:
- Installing ```dpkg -i logitechmediaserver_7.9.2_1527861596_arm.deb``` first (and not through ```die

[2018-09-13 20:13] #2064 closed, assigned to Fourdee

[2018-09-13 20:37] NNpranav commented on #2071
I have installed Pi-hole v4.0 through their installer (after uninstalling the previous DEV branch) as I cannot see an entry for Pi-hole in dietpi-software.

The issue still persists after upgrading to Pihole 4.0.

[2018-09-13 20:40] MichaIng commented on #2071
@Fourdee
Check my post above. I could replicate the same issue on my Jessie VM.
Was able to identify the cycle that systemd finds:
[code]
- `networking` wants to run before `sysinit.target`
- But `sysinit.target` runs before `basic.target`, which is required by all our services.
- So it's: `networking -> sysinit -> basic -> preboot -> networking`
- Interestingly this is no issue on Stretch. There

[2018-09-13 21:35] MichaIng commented on #2057
@LexiconCode
Great, will finish the PR about this tomorrow. The other new network issues prevented from finish this today 😅.

[2018-09-14 00:19] n1ete commented on #1500
sorry to ressurect this... could you provide the steps youve taken to run it successfull on pve after converting?
thanks so far

[2018-09-14 08:53] mukamuk1 commented on #2070
@Fourdee Wifi works fine now.

Thx both of u!

[2018-09-14 12:57] MichaIng commented on #2057
@LexiconCode
I added the redirects to the PR: https://github.com/Fourdee/DietPi/pull/2065

For Apache, I followed the method that is used within their `.htaccess`, using `mod_rewrite`. Not sure about the difference/advantage to the `Redirect` directive of `mod_alias`: https://httpd.apache.org/docs/2.2/mod/mod_alias.html#Redirect
- The latter seems to be the easier more direct solution, but seems t

[2018-09-14 15:44] narfel opened #2072 "Home Assistant script failing at python / pyenv stage"
#### Required Information:
- DietPi version	| 6.15
- SBC device		| RPi Zero W
- Power supply used	| Benchpowersupply 5V
- SDcard used		| SanDisk ultra 16G

#### Additional Information (if applicable):
- Software title	| (EG: Nextcloud)
- Was the software title installed freshly or updated/migrated?
fresh
- Can this issue be replicated on a fresh installation of DietPi?
yes
- `dietpi-bugreport` ID

[2018-09-14 16:30] narfel commented on #2072
Looks like the warning above led me to believe the script was hung while apparently it wasn't. It was just good old patience that was missing :)

[2018-09-14 23:42] msdos commented on #2019
I'm thinking if we should wait for the 3.0 release of this package since it's a new version in beta.

[2018-09-15 07:24] msongz opened #2073 "DietPi-Software | Node-RED: Pre-installed modules cannot be updated via webUI"
## Creating a bug report/issue:

#### Required Information:
- DietPi version	| `6.15`
- Distro version	| `stretch`
- Kernel version	| `Linux zerow 4.14.69+ #1141 Mon Sep 10 15:13:50 BST 2018 armv6l GNU/Linux`
- SBC device		| `zerow`
- Power supply used	| 5v
- SDcard used		| SanDisk ultra

#### Additional Information (if applicable):
- Software title	| node-red
- Was the software title installed fr

[2018-09-15 07:51] Fourdee opened #2074 "/etc/network/if-pre-up.d/wireless-tools | requires net-tools"
However, not listed as a APT dep:
https://github.com/Fourdee/DietPi/issues/2070#issuecomment-421088364

Appears only required, when all other methods fail, and, should not effect WiFi usage:
https://github.com/Fourdee/DietPi/issues/2070#issuecomment-421058572

[2018-09-15 07:52] Fourdee commented on #2070
@mukamuk1

Excellent 👍

I'll mark this as completed. New ticket for resolving external issue:
https://github.com/Fourdee/DietPi/issues/2074

[2018-09-15 07:52] #2070 closed, assigned to Fourdee, MichaIng

[2018-09-15 08:18] Fourdee commented on #2071
@NNpranav

Pi-hole is near the bottom of optimized software list:
![image](https://user-images.githubusercontent.com/7077026/45584195-66f2f000-b8c7-11e8-89bd-2e12d26363e6.png)

You can also use the search feature to search for ```hole```:
![image](https://user-images.githubusercontent.com/7077026/45584200-71ad8500-b8c7-11e8-87e2-fd6b713bea3d.png)

As you have installed via non-dietpi-software, you

[2018-09-15 08:23] Fourdee commented on #2071
This is also running extremely late in boot process:
[code]

Should be eariler:
[code]

Might be the reason why its not being brought up automatically, as the hardware has not yet been detected by kernel.

---

@NNpranav

Same issue with?:
[code]

[2018-09-15 08:29] Fourdee opened #2075 "Jessie | DietPi-Preboot causes systemd to skip networking service"
https://github.com/Fourdee/DietPi/issues/2071#issuecomment-421145760

Non-issue for Stretch+

networking wants to run before sysinit.target
But sysinit.target runs before basic.target, which is required by all our services.
So it's: networking -> sysinit -> basic -> preboot -> networking

[2018-09-15 08:29] Fourdee commented on #2071
@MichaIng

New ticket for the Jessie sysinit/systemD issue skipping networking:
https://github.com/Fourdee/DietPi/issues/2075

[2018-09-15 08:37] NNpranav commented on #2071
@Fourdee
I do not have Pihole in the list, screenshot attached. No results on searching either. That, itself is not an issue for me.
![image](https://user-images.githubusercontent.com/30431653/45584395-4db26980-b8f0-11e8-9a24-aa2b7edc83f4.png)

I did have a dirty shut-down, that issue has been fixed.

/etc/os-release:
`root@Sirius:~# cat /etc/os-release`
`PRETTY_NAME="Debian GNU/Linux 8 (jessie)"`

[2018-09-15 11:04] MichaIng commented on #2071
@Fourdee

Jessie 😉.

Oh my goodness, we forgot an important thing about Pi-hole FTLDNS: Jessie is supported again, as no `dnsmasq` (required version broke Jessie support) is needed any more 🙈. But I will test, just to be sure.
- 🈯️ Install, service start and WebUI works like a charm on my Jessie VM 👍
- 🈯️ Commit sent: https://github.com/Fourdee/DietPi/commit/6d34e4e27234672d3115d1041d3d2bbff49ba13

[2018-09-15 11:25] MichaIng commented on #2074
Indeed it appears, if any of the settings failed to be applied. All failed settings are not applied then, as `ifconfig` does not bring up the interface.
But the cases, where impotent settings cannot be applied without interface up, seem to be rare, as we never faced this issue since the quite long time net-tools are not pre-installed any more and got removed on update.

Bug report done: https://bu

[2018-09-15 11:31] NNpranav commented on #2071
@MichaIng
Sure, will do. I guess we can close this since the root cause has been identified and an applicable issue has been created. Thanks!

[2018-09-15 11:31] #2071 closed, assigned to Fourdee, MichaIng

[2018-09-15 12:33] MichaIng commented on #1581
Available since Stretch and on Jessie backports: https://packages.debian.org/stretch/ifupdown2
- Backwards compatible
- Additional features (options)
- Larger package
- Python based

On the other hand, the "classic" ifupdown is more actively maintained on Debian repo:
- ifupdown on sid: https://metadata.ftp-master.debian.org/changelogs//main/i/ifupdown/ifupdown_0.8.34_changelog
- ifupdown2 on sid:

[2018-09-15 13:54] Fourdee commented on #368
Notes:
- 🈯️ PREP copy generated /var/lib/dietpi/dietpi-wifi.db to /boot/
- 🈯️  Check/test automated WiFi setup
- dietpi-config
-- 🈯️ Added a warning/info for users | Disable multiple SSID's when static
-- 🈯️ Option to remove existing entries in dietpi-config (set SSID='', clears after wificreds set)
-- 🈯️ Support selecting KEYMGR?
-- 🈯️ Test connection: WPA-PSK
-- 🈯️ Test connection: WEP
-- 🈯️ Tes

[2018-09-15 18:43] msdos commented on #2019
Symbolic link for the `cache` folder gives problems. https://github.com/tinyMediaManager/tinyMediaManager/issues/390. Better wait.

[2018-09-16 11:57] Fourdee commented on #2067
non-root applications are unable to access ```/mnt/samba``` (eg: radarr, sonarr), is it possible to:
- Mount Samba with nobody:dietpi? Allowing access?
- Provide info for the user to change run-level user back to ```root``` for required applications? (the whole point of doing this was to improve security, with lack of Samba access being the downside, due to inability to set folder specific permiss

[2018-09-16 13:03] MichaIng commented on #2067
@Fourdee
Check: https://dietpi.com/phpbb/viewtopic.php?f=11&t=4595&start=10#p14439
- Works well here 😀.
€: Works as well for user, check forum.
_________________
Btw: On NFS mounts, permissions are directly taken from NFS server. Changing them on client mount, changes them directly on server as well.
Only issue might be, the NFS server share does not support permissions. But there is nothing we co

[2018-09-16 13:45] MichaIng commented on #2075
Manual workaround works well here on Jessie VM: https://dietpi.com/phpbb/viewtopic.php?f=11&t=4726&p=14440#p14440
- Although the solution is a bid ugly. Would be nice, if we could somehow resolve the dependency loop completely. At least otherwise on Jessie systems disable networking service and then add `[[ $G_DISTRO < 4 ]] && systemctl start networking` e.g.?
- Must be somehow possible to add a s

[2018-09-16 14:07] MichaIng commented on #2074
Bug solved on current version: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=908886#10
- Download available on unstable/sid repo so far only: https://packages.debian.org/sid/amd64/wireless-tools/download
- Only change that I could bind is indeed the ifconfig line being replaced by: `/sbin/ip link set dev "$IFACE" up`, which we can do ourself on v6.16 patch:
`sed -i '\|^[[:blank:]]ifconfig "$IF

[2018-09-16 18:03] Fourdee commented on #2074
@MichaIng

Legend, great work 👍

[2018-09-16 18:07] Fourdee commented on #368
Note to self:
- https://dietpi.com/phpbb/viewtopic.php?f=8&t=9&p=9#p9

Optional (Wifi): section:
- Does not require updating, until we update any image. Existing images will still use the older 1 SSID system.

[2018-09-16 18:47] Fourdee commented on #368
Automated works, however, ```dietpi-config``` afterwards results in:
- 🈯️ Because i'am running static!
Needs tweaking
![image](https://user-images.githubusercontent.com/7077026/45599757-5a66b880-b9e9-11e8-98ca-986deea493f1.png)

[2018-09-16 19:12] blogabe commented on #2059
@Fourdee @MichaIng quick update on this fix from my end guys...

6.15 seems to have resolved the issue.  Thank you.  However, I've rebooted a few times and checked the the screen roll.  While more often than not everything passes and completed without any error message, every now and then I still receive the 2 failures described above.

I think to your point there is no harm in these messages.  Ju

[2018-09-18 12:15] Fourdee commented on #368
Hotspot required entries:
[code]

[2018-09-18 12:27] Fourdee commented on #368
🈯️ All testing passed https://github.com/Fourdee/DietPi/issues/368#issuecomment-421574150

The only thing I cannot achieve, due to lack of available hardware for setting up a test network, is:
- Testing WPA-EAP with automated installation
- Implement WPA-EAP options in ```dietpi-config```

Completed.

[2018-09-18 12:27] #368 closed, assigned to Fourdee

[2018-09-18 12:42] Fourdee commented on #2067
@MichaIng

Legend 👍

Yep, I'll send a commit to make the changes, will run some tests aswell.

[2018-09-18 12:49] Fourdee commented on #2067
Mounts root with:
[code]

umount and remount required to apply 😕

🈯️ Does work, forgot to add to initial mount lol

[2018-09-18 12:54] Fourdee commented on #2067
Testing required:
- Install sonarr/radarr
- Set Samba as userdata dir

DietPi-Drive_Manager
- Userdata move is disabled for network drives.

DietPi-Software
- 🈯️ Can set a custom location, and/or, list mounted drives (including samba)

---

🈯️ Works fine.
[code]

[2018-09-18 13:49] Fourdee commented on #2067
Offtopic issue with RockPro64:
- 🈯️ Resolved with https://github.com/Fourdee/DietPi/commit/f83c35d8ad7ba28e40f795b1d51bd4c1678919bd
![image](https://user-images.githubusercontent.com/7077026/45692013-b4828d80-bb51-11e8-8f37-235580431007.png)

http://www.linux-mtd.infradead.org/doc/general.html

MTD subsystem does not deal with block devices like MMC, eMMC, SD, CompactFlash, etc. These devices are

[2018-09-18 14:33] Fourdee commented on #2026
Note to self, following images still remaining:
- VB 🈯️
- Native PC
-- BIOS
-- UEFI
- 🈯️ NanoPC-T4 | Can't find a method to pull the rootfs.img from the device.

[2018-09-18 16:00] Fourdee commented on #2069
Symlink not compatible:
[code]

![image](https://user-images.githubusercontent.com/7077026/45700332-22d04b80-bb64-11e8-9e21-9132a634e48f.png)
---

This appears to work 🈯️
[code]

However, if they have any matching file names added in the future, will break installation.

Therefore, for now and to prevent potential future issues with moving files, i'll simply update the online doc to reflect the ne

[2018-09-18 16:06] Fourdee commented on #2069
Delete parent dir and move docs over
[code]

Parent dir not required?

Interesting, this works 🈯️

But if they make changes in the future, that relies on the parent dir, this could break our installation. I'll leave this as is, with the updated online doc link.

[2018-09-18 16:10] #2069 closed, assigned to nobody

[2018-09-18 16:15] Fourdee commented on #2059
@blogabe

Thanks for testing and the info 👍

Yep, as this is outside our control (a threaded process finishes before all items are applied), the only thing we could do is:
- Change fail to info
- Add additional re-checks to see if the PID is available, before we apply each item (however, this will slow processing down of script and is somewhat unnecessary for general use, even then, it could still

[2018-09-18 16:22] Fourdee commented on #2074
@MichaIng

Works a charm, no issues in testing 👍 . Marking as completed.

[2018-09-18 16:22] #2074 closed, assigned to nobody

[2018-09-18 17:22] AKonstantin1337 commented on #2017
Thanks issue solved

[2018-09-18 17:36] kevkha commented on #1778
Another thought. Switching to use docker container https://ownyourbits.com/2017/06/08/nextcloudpi-docker-for-raspberry-pi/

[2018-09-18 21:34] sergiud commented on #1829
Does the image support M.2 SSDs? DietPi does not seem detect my NVME SSD plugged into the NanoPC T4.

Looking at the `dmesg | grep pci` output, I see this:

[code]

[2018-09-18 22:11] carlosedp commented on #1829
In theory it should, at least the feature `CONFIG_BLK_DEV_NVME=y` to support it is enabled on the Kernel (I don't have a M.2 drive to test). Check on yours with:

[code]

The drive is supposed to be on `/dev/nvme*`. Does `lspci` or `lsblk` shows it?

[2018-09-18 22:22] sergiud commented on #1829
`$ zcat /proc/config.gz | grep NVME` gives:

[code]

There are no `/dev/nvme*` devices though. `lspci` output is empty.

[2018-09-19 00:42] MirisWisdom commented on #804
It's been a while. Here's the v6.15 snapshot:

[`DietPi_Hyper-V-x86_64-Stretch - v6.15.7z`](https://1drv.ms/u/s!AoE_a2H65pxWlFYHW3fF978K-v6Q) (165 MB OneDrive download)

[2018-09-19 00:56] MirisWisdom commented on #2060
In #804, I occasionally post snapshots of Hyper-V images with the bare minimum modifications to get them flawlessly running on Hyper-V.. @ghosted17, I just posted a link to v6.15 over there, if you want to have a look.

I'm up for doing this on a much more regular basis. @MichaIng - perhaps I should make a more "official" issue where I'll regularly put Hyper-V images?

[2018-09-19 06:50] ghost commented on #2060
Thanks will definitely check it out. I think supporting the dominant OS in the desktop market would make sense since you guys already support all the others. But that's just my 2 cents, happy either way with a release whenever you guys have the time for it.

[2018-09-19 09:27] MichaIng opened #2078 "DietPi-Drive_Manager | Support ecryptfs mounts"
## Creating a feature request:
- Thanks @johnvick for reporting this.

#### Is your feature request related to a problem? Please describe:

- `ecryptfs` mount type (encrypted folder) is not yet supported and preserved, when opening `dietpi-drive_manager`.

#### Describe the solution you'd like:

- Adding feature to add an encrypted drive.
- Check/Preserve existing `ecryptfs` mounts.

#### Addition

[2018-09-19 10:05] MichaIng commented on #1778
@nachoparker
Odroids are actually well supported. Sadly official images just include Ubuntu and Android 😭. But one developer Meveric offers clean Debian images, including an own large APT software and kernel repository with regular updates.

The missing Kodi (rechecked, it's really just Kodi, Chromium GPU acceleration works) GPU support is the left Stretch-only issue I am aware of.

@kevkha
We off

[2018-09-19 10:23] MichaIng commented on #2060
@yumiris
Jep, feel free to open a new issue about this. I am still thinking to create them officially, based on: https://github.com/Fourdee/DietPi/issues/1505

Have a bid much other things to do (also opened tasks on DietPi) before I can recheck, trying to get Hyper-V running with VBox and VMware on the same machine. But we could also open a sticky thread in the forum to link your images for now?

[2018-09-19 12:09] Fourdee opened #2079 "DietPi Menu standards"
- If the item contains a changeable value, it must contain ```[VALUE]```?
- All menu array 2nd items, must contain ```:``` at start to separate the 1st item?

🈯️ Currently, this looks fine:
![image](https://user-images.githubusercontent.com/7077026/45752352-0fc58600-bc0d-11e8-89f7-f622dd5621d5.png)
![image](https://user-images.githubusercontent.com/7077026/45752393-34216280-bc0d-11e8-870d-f1791421

[2018-09-19 12:24] Fourdee commented on #2073
@msongz

Thanks for the report and info 👍

We'll pick this up when we can.

[2018-09-19 23:43] msdos opened #2081 "Show changelog url along with update message on login."
## Creating a feature request:

#### Is your feature request related to a problem? Please describe:

- No.

#### Describe the solution you'd like:

- I just logged in and received this message: `dietpi-update    = Run now to update DietPi (from v6.15 to v6.16).` Since I have a really customized installation, I would like to read the changelog to know if I manual action will be needed before updati

[2018-09-20 02:29] MirisWisdom commented on #2081
To expand on the idea, what if `dietpi-update` could show the changelog when asking the user to confirm their update? Or maybe a new `dietpi-changelog` command, which in its most basic form would do a `curl` request to the `CHANGELOG.txt` file? 🤔

[2018-09-20 02:53] msdos commented on #2081
@yumiris I think it gets too complicated for a first implementation. The idea here (specially if using a shortened url with statistics) is to see if people will really use this feature. I think it can be evolved to your idea if more people start using the url.

[2018-09-20 03:01] MirisWisdom commented on #2081
@msdos Haha, that's true 😛 - I was thinking it from the perspective that URLs might be difficult for users to manually type (and therefore result in lower statistics). Although using a customised URL (e.g. `short.url/dietpi-changelog`) might make it easier.

[2018-09-20 03:03] MirisWisdom commented on #2060
@MichaIng - yup, all of my images derive from that set of instructions.

Just to confirm, you want me to get Diet running on Hyper-V & VirtualBox/VMware on the same host? 🤔

[2018-09-20 03:53] msdos commented on #2081
People can copy the url using a mouse. Since it's a message shown in a terminal session, I think it's not for the complete newbie and this won't be a problem.

Can be `short.url/dpchangelog` or even something along the lines of `short.url/HjYeV` to be even shorter, but I leave that to DietPi maintainers.

I knew that more people would be interested :laughing:

[2018-09-20 03:57] MirisWisdom commented on #2081
That's actually a very valid point. Throughout this entire conversation, I completely forgot that desktop environments are actually a thing (even though I use them daily!).

Yup, keeping it short and succinct should work wonders. 😛

[2018-09-20 04:40] antonellocaroli commented on #931
I can not find the image on the download page

[2018-09-20 05:47] symbios24 opened #2082 "DietPi-Software | SpigotMC Minecraft server"
Hello, i would like when there is time to create for dietpi a simple minecraft server unlike the gui versions that need a lot of configurations
its something like the pe/nukkit version but it works on general/official minecraft version
a simple straight loading server without anything to setup.for users that want to start right away.

The best instructions i can find are on this two pages:

https:

[2018-09-20 08:51] MichaIng commented on #2060
Ah perfect.

Hehe no 😄, as I am already creating VMware and VBox images regularly, I could create the Hyper-V images as well in one rush. But the problem is, that if Hyper-V is installed regularly, it blocks CPU virtualisieren usage for any other VM software, thus VMware and VBox cannot start any more 😠. But it seems to be a background service that does this block, that can be stopped/disabled. Pe

[2018-09-20 09:00] MichaIng commented on #2081
@msdos @yumiris
Actually, since the changelog is already downloaded with the update archive (https://github.com/Fourdee/DietPi/blob/master/CHANGELOG.txt), it would be easiest to offer opening this file into a pager/whiptail dialog?
... ah but you want to see them before downloading the update of course.

Still, since the file is a tiny text file, we could offer to download+view the changelog withi

[2018-09-20 15:41] Fourdee commented on #931
@antonellocaroli

Apologies, the image is no longer available/maintained due to low user count. You can install DietPi on the system using PREP:
https://github.com/Fourdee/DietPi/issues/1285#issue-280771944

[2018-09-20 17:49] MichaIng opened #2083 "General | Methods to potentially improve DietPi release cycle stability"
Currently we relatively often push new releases with one or more serious bugs, affecting network connectivity, time sync => SSL errors, permissions and such. This is due to a quite fast development with many new features, core improvements and such.

Results are hotfix releases, which are not always separated from other new features (currently multiple WiFi SSIDs e.g.) possibly leading to other ne

[2018-09-20 20:09] msdos commented on #2081
I don't know how a pager/whiptail dialog with `Do you want to download the changelog for this version at https://github.com/Fourdee/DietPi/blob/master/CHANGELOG.txt?` would work. I'm just afraid of adding another click to the update action and make it more complicated, that's why I just gave the url suggestion. Maybe when updating, you directly shows what comes from that version. A `csplit` in the

[2018-09-20 21:04] MirisWisdom commented on #2081
The changelog could be shown in this section rather than a separate one:

![screen shot 2018-09-21 at 4 30 03 am](https://user-images.githubusercontent.com/10241434/45845193-13652400-bd57-11e8-8e55-8489894a416e.png)

More information, but the number of clicks is kept the same. In case of long changelogs, maybe use a scrolling view:

[code]

Similar to the software selection list in `dietpi-softwar

[2018-09-20 21:17] MirisWisdom commented on #2060
Ah, my bad. Indeed, Hyper-V breaks other hypervisors (and even Vagrant :angry:). Hmm, maybe an alternative is to run a Windows guest in VMware/VirtualBox with Hyper-V installed on it?

[2018-09-20 21:24] MichaIng commented on #2060
@yumiris

AFAIK, VM acceleration cannot be used from within a VM. Perhaps without VT-x/AMD-V enabled it would work, but should be very slow. Then perhaps toggling all Hyper-V Windows services is less hassle, not sure 😉.

[2018-09-20 21:53] dynobot opened #2084 "Install LOOP"
## Creating a bug report/issue:
Stops during installation and reboots without completing
Hangs on the copying skeletons to temp file
After it reboots Dietpi does not reconnect to a wired [ethernet] network

#### Required Information:
- DietPi version	| `paste -sd '.' /DietPi/dietpi/.version`
- Distro version	| `echo $G_DISTRO_NAME` or `cat /etc/debian_version`
- Kernel version	| `uname -a`
- SBC d

[2018-09-20 23:35] #2084 closed, assigned to nobody

[2018-09-21 13:55] Fourdee commented on #2083
@MichaIng

My suggestion is, even that it is an additional effort and slows down development a bid, to implement an open beta/RC branch.

Great idea, agree 👍

- Master = Stable
- Beta = Pre-release testing, open to all users
- Testing = In dev, potentially unstable

The only issue I see, is after we roll out Testing > Beta and need beta users to update, we'd essentially need to increase the subver

[2018-09-21 14:40] Fourdee commented on #2081
Great idea, thanks for sharing @msdos @yumiris 👍

If we are to use existing functions, we'd need to do ```G_WHIP_MENU``` with:
- Update now
- Read changelog
- OK/Cancel button

Then read changlog will use ```G_WHIP_VIEWLOG```?

---

To support scrolling with ```G_WHIP_YESNO```, needs an additional flag.

[2018-09-21 14:57] MichaIng commented on #2083
@Fourdee

Beta = testing and testing = dev is perhaps a bid confusing? This is why I thought to use the current "testing" branch for testing/beta and implement a new "development"/"dev" branch for what we currently do on "testing"? But this means that we need to switch e.g. local git branches and such, so when this is too much effort, your suggestion would work as well of course 😉.

I would add su

[2018-09-21 15:11] Fourdee commented on #2081
```--scolltext``` does not indicate any ability to scroll, tab required to use ability to scroll, best avoided. Menu options should be preference.

![image](https://user-images.githubusercontent.com/7077026/45889663-eea19880-bdb8-11e8-8a6e-7f07cc02a7d8.png)

[2018-09-21 15:59] Fourdee commented on #2081
![image](https://user-images.githubusercontent.com/7077026/45895335-d2a5f300-bdc8-11e8-9d88-94088f5f7bd9.png)

![image](https://user-images.githubusercontent.com/7077026/45895346-d9346a80-bdc8-11e8-82f5-db8d7ef48010.png)

NB: Remove < v6.0 from changelog (archive it on git using history)
NB: All items need a paragraph entry afterwards.

[2018-09-21 17:16] Fourdee commented on #2081
@msdos

Good idea 👍

However, we have alot of users who update from say v6.12 to v6.16, so the whole changelog needs to be shown.

[2018-09-21 17:23] msdos commented on #2081
You're right.

The proposed solution is nice. Thanks!

[2018-09-21 19:00] Fourdee commented on #2081
- 🈯️ All options tested with master and testing branches

Completed.

[2018-09-21 19:00] #2081 closed, assigned to Fourdee

[2018-09-21 19:01] Fourdee commented on #2081
@msdos @yumiris

Thanks guys, great suggestion 👍, will be available once v6.17 is released, updated, then next updates (due to ```dietpi-update``` not updating till after the update is completed, eg: the next run)

[2018-09-21 19:08] Fourdee commented on #2083
@MichaIng

Yep, however, using http:// has the same effect. Both are the only option we have pre time sync.

Yep 👍

Yep, probably a better idea, we should rename the testing branch to 'dev'.

Then with the beta branch, we can roll out dev to beta, when everything is completed. This will then allow users to update and test.

Yep, this would allow for beta updates from 'dev' branch once we fix issue

[2018-09-21 20:37] Millichrome opened #2085 "DietPi-Software | qBittorrent: Guide on compiling qBittorrent 4.x, implement into DietPi?"
I wrote a guide on compiling qBittorrent 4.x on DietPi for ARM devices. DietPi ships with a really old version of qBittorrent from late 2016. I think users of qBittorrent could find this guide useful. I propose adding a link to the guide on the qBittorrent software entry page.

**Compilation guide**
https://github.com/qbittorrent/qBittorrent/wiki/Compiling-qBittorrent-nox-4.x-on-DietPi-6.16-(Debia

[2018-09-22 02:10] pfordmedia commented on #1452
Total noob here, but I'm having the exact same issue using the DietPi version located in the Pine64 installer. Also the newest version v8 is giving me a fatal server error on xserver saying that no screens found. Is this a missing video driver for the Rock64 chipset? Im sorry If I'm not asking the right questions or in the right way.

[2018-09-22 02:43] MichaIng commented on #2085
@Millichrome
Thanks for this. We'll have a look if we can implement this into our install script.
____________
Further info:
- Stretch version frozen at 3.3.7: https://packages.debian.org/stretch/qbittorrent-nox
- 4.0.3 available on Buster, 4.1.3 in pipeline on Sid: https://packages.debian.org/buster/qbittorrent-nox

Jep own build as always possible, but I am as always not too keen to implement th

[2018-09-22 03:32] pfordmedia opened #2086 "Issue with Xserver and booting LXDE desktop on Rock64"
Total coding newbie here, but I'm having issues. Also, please excuse my lack of knowledge of how GitHub works as I'm new to that as well.
#### Required Information:
- DietPi version	| 6.16
- Distro version	| Debian 9 stretch
- Kernel version	| Linux DietPi 4.4.132 #1 SMP Thursday Jul 26 08:22:22 UTC 2018 aarch64
- SBC device		| Pine64 Rock64 ARM64 4gb.
- Power supply used	| Pine64 5v 3A
- SDcard u

[2018-09-22 10:59] ZenoBell opened #2087 "DietPi-Config | WiFi support for keys containing `"$"
When I'm upgrading from 6.14 to 6.16 the wifi adapter stopped working .I can't scan for a network through the GUI and even after i manually insert the wireless SSID and PASSWORD stil doesnt resolve it and it gives me no ip ( 0.0.0.0.). If i put a static one doesn't seem to work too.
I tried 2 more times (clean install) from the image with wifi preconfigured in the dietpi.txt as also with ethernet.

[2018-09-22 11:56] Fourdee commented on #2086
@pfordmedia

Hi,

Many thanks for the report 👍  I'll try to replicate.

[2018-09-22 12:00] Fourdee commented on #1452
@pfordmedia

Hi, the Pine64 installer is outdated in regards to our image I believe, please write the image using our guide:
https://dietpi.com/phpbb/viewtopic.php?f=8&t=9#p9

[2018-09-22 12:26] Fourdee commented on #2086
Confirmed, taking a look now.

[2018-09-22 12:36] Fourdee commented on #2086
🈴
[code]

[code]

- Same issue as: https://github.com/ayufan-rock64/linux-build/issues/201
- ```xserver-xorg-video-armsoc``` not available in Debian repos: https://packages.debian.org/search?suite=default&section=all&arch=any&searchon=names&keywords=armsoc

[2018-09-22 12:45] Fourdee commented on #2086
@pfordmedia

Workaround is to remove the Mali GPU xorg definition:
[code]

This allows X to init under software mode.

I'am not having much success with HW GPU currently:(https://github.com/Fourdee/DietPi/issues/2086#issuecomment-423741172)

[2018-09-22 13:02] Fourdee commented on #2087
@sesshomaru86

Hi, thanks for the report 👍

I'll try to replicate.

[2018-09-22 13:08] pfordmedia commented on #2086
@Fourdee I was able to install a stable version from Pine Installer which has version 156 preloaded before. Then I reflashed with 6.16 and did an apt-get update and from then on out I’ve been getting this error.

Haven’t tried to flash an older version though after the apt-get update. I may try that now.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-22 13:16] Fourdee commented on #2087
Confirmed bug with current image, redoing the image now (seems I missed this one in the update image ticket)

[2018-09-22 13:20] Fourdee commented on #2026
🈯️ RPi needs redoing:
https://github.com/Fourdee/DietPi/issues/2087#issuecomment-423743482

[2018-09-22 13:45] pfordmedia commented on #2086
Sorry I just saw the workaround. This works great! Thanks so much!

[2018-09-22 14:40] Fourdee opened #2088 "DietPi-Software | myMPD not functional"

[2018-09-22 14:46] Fourdee commented on #2087
@sesshomaru86

Image updated which resolves WiFi issues, please re-download and write the following image:
https://dietpi.com/downloads/images/DietPi_RPi-ARMv6-Stretch.7z

NB: WiFi automation has changed in v6.16 images, please see below for info:
https://dietpi.com/phpbb/viewtopic.php?f=8&t=9#p9

[2018-09-22 14:49] Fourdee commented on #2088
[code]

[code]

[code]

[2018-09-22 14:53] Fourdee commented on #2088
Actually a bug our end 😮

Resolved for v6.17.

## Pre v6.17 solution, is to copy and paste all after installation:
[code]

[2018-09-22 15:05] Fourdee commented on #2088
- 🈯️ Reinstall test passed

Completed.

[2018-09-22 15:36] ZenoBell commented on #2087
Hmm..when i go to dietpi-config to change the network adapter settings im getting a message :

 [FAILED] DietPi-Config | DEBUG: /var/lib/dietpi/dietpi-wifi.db does not exist, unable to continue. If you did not manually remove this file, please report this issue to DietPi.

It's a fresh install with the new image posted above without tinkering anything at all.

[2018-09-22 18:22] MichaIng commented on #350
@Fourdee
Read https://dietpi.com/phpbb/viewtopic.php?f=11&t=4858 and found this issue as reason why Transmission is running as root.

Much has changed in between and on current version, Stretch, as well as Jessie, the transmission-daemon.service looks like this, both systemd units now:
[code]
- It runs as user `debian-transmission` with safer permissions, default download and config dir/files have

[2018-09-22 18:39] sfb2 commented on #2088
hi there,
just to confirm->ran into the same issues->"Can't load config file "/etc/mypd/mympd.conf"

with your workaround it works !! (and absolutely funny, have just used dietpi after weeks, only to "see" the praised mympd, had the failure, and saw that u´ve just working on it ;-) )

BUT: update database didnt find my attached usb-drive (O!mpd(ympd)) does) and it didnt show a poster at all from t

[2018-09-22 18:43] vcliment89 commented on #1844
I was having the same issue in 6.16. I resolved by removing /etc/modprobe.d/disable_wifi.conf. I was able to then see the card listed. I'm novice at linux but I think there's something wrong here [https://github.com/Fourdee/DietPi/blob/master/dietpi/func/dietpi-set_hardware#L1180](url) (this is how I was able to find this file

[2018-09-22 21:43] docgalaxyblock commented on #2066
Hi
Tonight the backlight stays on

[2018-09-23 08:30] symbios24 opened #2089 "DietPi-Process_tool | Fix PlexMediaServer process handling"
Hello upon installation of some software in a raspberry pi 3

i got multiple errors

image gallery:

single_file_php_gallery_4.7.0.zip
exit code 5
spider mode enabled
check if remote file exists
error the certificate of dietpi.com is not trusted
the certificate of dietpi.com is not yet activated

i also got an error trying to install sickrage/rtorrent/ about an *unrar.deb* file that cannot be foun

[2018-09-23 10:01] symbios24 commented on #2089
i forgot i also have this errors in plex server

[FAILED] DietPi-Process_tool | Plex Media Server () Affinity  0-3
[FAILED] DietPi-Process_tool | An issue has occured

The gui loads ok but i did not proceed further than the create account page

[2018-09-23 13:37] Atavic commented on #335
- Software title | cops
- Short description | web-based light alternative to Calibre content server
- GitHub URL (if available) | https://github.com/seblucas/cops
- External URL (if available) | http://blog.slucas.fr/en/oss/calibre-opds-php-server
- (Official) install documentation | https://github.com/seblucas/cops#install-a-release-easiest-way

https://github.com/seblucas/cops/issues/398

[2018-09-23 15:14] dynobot opened #2091 "Error removing libmpdclient2"
#### Details:
- Date           | Sun 23 Sep 16:09:50 BST 2018
- Bug report     | N/A
- DietPi version | v6.16
- Img creator    | DietPi Core Team
- Pre-image      | Raspbian Lite
- SBC device     | RPi 3 Model B (armv7l) (index=3)
- Kernel version | #1144 SMP Tue Sep 18 17:34:46 BST 2018
- Distro         | stretch (index=4)
- Command        | dpkg -P mpd libmpdclient2
- Exit code      | 1
- Softwa

[2018-09-23 15:57] dynobot opened #2092 "Samba-Client creates file system owned by 'Dietpi' not 'Root'"
## Creating a bug report/issue:

#### Required Information:
- DietPi version	| `6.16`
- Distro version	| 9.4
- Kernel version	|Linux DietPi 4.14.70-v7+ #1144 SMP Tue Sep 18 17:34:46 BST 2018 armv7l GNU/Linux
- SBC device		| RPi 3 Model B (armv7l)
- Power supply used	| (5v
- SDcard used		|patriot 8g
#### Additional Information (if applicable):
- Software title	| (EG: Nextcloud)
- Was the software t

[2018-09-23 16:31] MichaIng commented on #2092
@dynobot
Thanks for your report.

This is the expected behaviour since v6.16. We changed it to allow other software titles access the samba mount, e.g. music players to access shared music folder, downloaders to move their files into shared download folder and such.

Since root still has full access, this should not cause any issues, or do you face any related issue?

[2018-09-23 17:06] MichaIng commented on #2057
PR finished, finally 😅: https://github.com/Fourdee/DietPi/pull/2065

Testing on all webservers and distro versions passed here.

[2018-09-23 17:13] MichaIng commented on #2091
@dynobot
Thanks for your report.

Ah, `dpkg -P` fails when facing dependency issues. Anyway I think we should not use this, but `G_AGP` (apt-get purge) instead, which calls APT with options to purge all dependants as well and skip non-existent packages.
Switch to `dpkg -P` initially due to: https://github.com/Fourdee/DietPi/commit/1aa2cbed70bd57226103799c7287143c3b0ae079
🈯️ G_AGP with non-repo pac

[2018-09-23 17:39] Fourdee commented on #2088
@sfb2

You'll need to attach the drive using ```dietpi-drive_manager```, then move the userdata to that drive using the same program.

After thats done, put your music in
[code]

Then refresh database.

[2018-09-23 18:21] Fourdee commented on #2087
@sesshomaru86

Thanks for the report. I'll get that resolved and update the image.

EDIT:
In the mean time, please run the following to regen the file:
[code]

Then re-run ```dietpi-config```

[2018-09-23 18:38] Fourdee opened #2093 "v6.16 | Known issues and fixes"
## Currently known issues with v6.16 release:
#### Unable to run ```dietpi-config```
- ```[FAILED] DietPi-Config | DEBUG: /var/lib/dietpi/dietpi-wifi.db does not exist, unable to continue. If you did not manually remove this file, please report this issue to DietPi.```

**Fix**: If you see the above error, please see below for solution:
https://github.com/Fourdee/DietPi/issues/2087#issuecomment-42

[2018-09-23 20:06] Fourdee commented on #2087
@sesshomaru86

Image updated which applies the fix automatically for this issue:
https://github.com/Fourdee/DietPi/issues/2087#issuecomment-423836528

Image:
https://dietpi.com/downloads/images/DietPi_RPi-ARMv6-Stretch.7z

Completed.

[2018-09-23 20:25] Fourdee commented on #2092
@dynobot

MPD needs to be in the same group

Ah, I see the issue.

## Mount samba with 775

🈴 Not an option ```/mnt/dietpi_userdata/.mpd_cache```, needs RW and ```777``` could be death.

## Run MPD under DietPi group
🈯️
- ```G_CONFIG_INJECT '^group ' 'group "dietpi"' /etc/mpd.conf```
- ```dietpi-services restart```

@dynobot
Please try the above and let us know if this resolves the issue.

[2018-09-23 20:42] Fourdee commented on #2092
@dynobot

Would be nice, however, the issue is that dietpi-software installed software no longer runs as root (minus a few, eg: desktop). This is in an effort to increase "security" for our users.

So to allow access to networked dietpi-userdata, we must use the 'dietpi' group to ensure those programs can function:
https://dietpi.com/phpbb/viewtopic.php?f=11&t=4595#p14192

And samba doesnt support

[2018-09-23 21:07] Fourdee commented on #2092
Completed, resolved for v6.17.

[2018-09-23 21:07] #2092 closed, assigned to Fourdee, MichaIng

[2018-09-23 21:11] Fourdee commented on #2089
@symbios24

Appears to be an issue with date on the system. Please try running:
[code]

Then check status with:
[code]

It may take some time, however, once the time is sync you should see the below:
[code]

Once completed, software installations should be functional.

Which DietPi version are you running?

And please paste results
[code]

[2018-09-23 21:55] NexGen-3D-Printing commented on #1171
In case anyone needs the info, this works perfectly on a Beelink BT3 with 64bit UEFI Bios, Specs:

CPU: Atom z8300
Ram: 2GB DDR3
eMMC: 32GB

Network performance: Windows 10 = 49Mbs - Dietpi = 117Mbs

[2018-09-23 22:17] Fourdee commented on #2088
### **Fix:** Please install the following newly required packages, before installing through ```dietpi-software```
[code]
---

🈴 Fresh fails install today, after new commit with myMPD:
- Due to
[code]
[code]

[2018-09-23 22:20] ZenoBell commented on #2087
[ SUB2 ] DietPi-Services > stop
[  OK  ] DietPi-Services | stop : cron
[ SUB2 ] DietPi-Set_Hardware > wificreds (set)
[  OK  ] wificreds set | Completed
[ SUB2 ] DietPi-Set_Hardware > wifimodules (enable)
[  OK  ] DietPi-Set_Hardware | Checking for pre-req APT packages: crda firmware-atheros firmware-brcm80211 firmware-iwlwifi iw rfkill wireless-tools wpasupplicant firmware-misc-nonfree
[ INFO ] D

[2018-09-24 04:50] symbios24 commented on #2089
Latest DietPi 6.16,its strange because i did some installations successfully,and after i got this errors on others.

[2018-09-24 12:12] symbios24 commented on #2089
i cannot paste all this from the raspberry i have to write it and its not possible its too long.can you replicate the error?

[2018-09-24 12:22] MichaIng commented on #2089
@symbios24
Please try to write down the essential lines:
`systemctl start systemd-timesyncd` should not show any errors. If it does, it offers you two commands to the further investigate. One of those is: `systemctl status systemd-timesyncd`

`systemctl status systemd-timesyncd` should show you some clear active/error info, showing a green icon or a red one.
The log lines of the bottom are the mos

[2018-09-24 12:54] Fourdee commented on #2087
@sesshomaru86

[code]

Ok appears to be an issue with bringing up adapter, is the onboard WiFi the only connected WiFi adapter?

Ideally, we need to check the system configuration at this state when the WiFi fails. Please can you ensure ethernet is connected, get the WiFi to fail as above, then send me a new bug report:
[code]

I can then check the logs etc, see where the issue is.

[2018-09-24 12:54] Phil1988 commented on #2093
I found an issue with the VMware Image of v6.16.

I am not able to install "VWware Tools" and in addition there are several options not availible in VMware Workstation 14.
For example I cant connect my USB devices to the VM.
(wanted to add an USB HDD for Nextcloud)

Tested on Windows 10 and thought this would be the problem, but also on Windows 7 (both x64) this problem exists.
The image of v6.14

[2018-09-24 13:07] Fourdee commented on #2087
- 🈯️ Unable to replicate in local testing, fresh install then straight to ```dietpi-config``` to setup wifi
![image](https://user-images.githubusercontent.com/7077026/45953814-29970c80-c003-11e8-814e-8c6c7a0090d1.png)

[2018-09-24 13:28] Fourdee commented on #2093
@Phil1988

Hi, thanks for the report 👍

#### If i'am reading this correctly, VMware tools/support can be installed via APT:
https://www.takistmr.com/index.php/how-to-install-vmware-tools-in-debian-9/
[code]

#### This is another method, which allows for the mount of the VMware tools image to install:
https://www.debiantutorials.com/how-to-install-vmware-tools/

#### Official method listed by VMwar

[2018-09-24 13:40] ZenoBell commented on #2087
Thanx for the reply ! In the raspberry pi 3 there's no adapter or anything else connected. Only the ethernet cable.

I just download a new image from the site to be sure im not messing with the images reflash it test it again as new without any modifications. same problem.

Bug report sent, reference code: 155689e2-5ada-4461-8d04-051cbfc8a627

[2018-09-24 13:54] Fourdee commented on #2087
@sesshomaru86

Thanks 👍

Appears the WiFi chip is working fine:
[code]

[code]

---

Ok I believe the issue may be with the WiFi creds. I'll need to see these. I've updated the bugreport script to include them, please run the following commands to resend bug report:
[code]

Also, please can you confirm which WiFi encryption mode is setup on your router (eg: WPA-PSK)?

[2018-09-24 14:17] ZenoBell commented on #2087
Tried again and this time when i pressed scan doesnt do anything so i put my credentials again manually.

I use a Unifi AP  AC LR as acess point and the encryption is WPA2 -AES . Can it be that the wifi password includes these type of characters [  `   ?

Tried with the above command

dietpi-bugreport
[  OK  ] DietPi-Bugreport | Root access verified.
[  OK  ] DietPi-Bugreport | RootFS R/W access v

[2018-09-24 14:19] Fourdee commented on #2088
- 🈴 Issue with non-samba playback and ```mpd``` under these permissions.
https://github.com/Fourdee/DietPi/issues/2067
[code]

??, is part of audio group??
[code]

[code]

- 🈯️ Syntax:
[code]

[2018-09-24 14:20] ZenoBell commented on #2087
Tried just now with a hotspot from my phone and it works so it must be a problem with my router or my password. I'm sorry i didn't tested before.

The selection of the network / Scan automatically is bugged and doesnt work anymore.
Tried again with a hotspot having the same password -!Jjtp4`Vui/y[` and it doesn't connect so definitely is the characters of the password . Its a random generated pass

[2018-09-24 14:28] Fourdee commented on #2087
@sesshomaru86

Yep, I believe  is the issue, try escaping the single quote character when adding in the key:
https://pastebin.com/YC6yZtY2

[2018-09-24 14:41] ZenoBell commented on #2087
It worked ! Thanx a lot !

[2018-09-24 14:43] Fourdee commented on #2087
@sesshomaru86

Excellent 👍 i'll add some more info when entering WiFi keys, to mention backslash required for those chars.

[2018-09-24 14:45] Fourdee commented on #2088
Ok, so the issue is running the process with group ```dietpi```, seems to ignore the system groups which are available to it:
[code]

These permissions are required to work, for both Samba shares and local.

---

```/etc/mpd.conf``` does not support multiple group entries:
[code]

---

🈯️ Only solution i can find is configure MPD to run as:
```root:dietpi```

This allows Samba shares and local FS

[2018-09-24 14:49] MichaIng commented on #2087
Theoretically we could also add those backslashes via `${value//[/\[}` but maybe this confuses more than it helps?

[2018-09-24 15:02] Fourdee commented on #2087
@MichaIng

👍 Should be fine as long as we mention that backslashes will automatically be added for the required chars?

---

Hmm, returned value seems fine:
[code]

Issue with saving wifi.db:
[code]

echo -e vs cat:
both sets correct wifi.db, but importing it again fails, we still need to adjust it during save.
[code]

---

Nope, not keen on this, means adding potentially more issues once modified

[2018-09-24 15:03] Fourdee commented on #2088
Confirmed working for local and remote samba userdata directories.

Completed.

[2018-09-24 15:03] #2088 closed, assigned to Fourdee

[2018-09-24 15:04] Fourdee commented on #2091
@MichaIng

Works a charm 👍

Marking as completed.

[2018-09-24 15:04] #2091 closed, assigned to dynobot

[2018-09-24 16:11] Fourdee commented on #2087
![image](https://user-images.githubusercontent.com/7077026/45964115-ce721380-c01c-11e8-8c2f-a41ea05fb597.png)

[2018-09-24 16:12] Fourdee commented on #2087
Completed.

[2018-09-24 16:12] ZenoBell commented on #2087
Just for the reference . I tried another new install but i couldn't connect it to the wifi again . Moreover every time i was pasting the password automatically was closing the field with the password. At the end it couldn't connect even to a hotspot with no password at all. I proceed with the installation through ethernet , i rebooted and that time got everything flawlessly.

P.S. and now it bugge

[2018-09-24 17:47] symbios24 commented on #2089
i tried before with the phone,but its not possible to take a picture on a widescreen with all the info in it in such an old phone.i will wait for future fix for plex server but still i dont know if this failed messages affect the operation of the server.

The time synchronize trick worked the image gallery installed successful.

thanks anyway

[2018-09-24 21:06] Phil1988 commented on #2093
Thanks for your fast reply and thanks for the last point and picture.

On the "old" VMware Image (v6.14) I have this:
![1](https://user-images.githubusercontent.com/6054234/45978421-dee5b680-c03b-11e8-8e47-1029294dce1b.PNG)

While the new one (v6.16) has only this:
![2](https://user-images.githubusercontent.com/6054234/45978481-0472c000-c03c-11e8-8d65-6191ff171110.PNG)

In words:
CD/DVD, USB contr

[2018-09-24 22:06] Millichrome commented on #2085
Let me know if there is any way I can help with testing. I have a Raspberry Pi 3 B+ that I can test on and an ASUS tinker board as my "production" system.

I don't have a lot of experience with linux, but I would be interested in trying to write a compilation script for qBittorrent 4.x.

[2018-09-24 22:33] MichaIng commented on #2093
@Phil1988
Indeed I also actively removed all non-essential hardware from the VM to keep the image as slim as possible, according to: https://github.com/Fourdee/DietPi/issues/1505

Since, I guess everyone anyway wants to adjust VM hardware, core count, drive space and such, it should be okay to leave it like that. But yeah, quick start and being able to plug&play any USB device directly from VM win

[2018-09-25 00:53] alex-savin commented on #1829
@sergiud same here
SSD was not detected

[2018-09-25 12:34] MichaIng commented on #2083
@Fourdee

Ah this is great. So we can pre-patch everything besides broken network itself 👍.

Sounds great. I am thinking, if we should use sub-sub-versions for beta updates only and simply ignore them on master/release update check, or as well implement them for master releases (for smaller, properly still needed hotfix releases). As long as every system just checks it's own GitHub branch for curr

[2018-09-25 13:16] breneser opened #2094 "Cloudflare dns client ( for dns over https ) and Pihole configuration"
## Creating a software request:

Hi is it possible to add Cloudflare dns client: https://developers.cloudflare.com/argo-tunnel/downloads/
Would be fantastic to be able to make it work with Pihole out of the box

#### Give us some formal software information:
- Software title |  Cloudflare dns over https
- Short description | secure dns over https integrated with pihole?
- GitHub URL (if available)

[2018-09-25 13:50] MichaIng commented on #1390
@Fourdee @kevinshane
confirmed issue on Jessie VBox system, while it works fine on Stretch. Log gives:
[code]
Indeed, no memory cgroup on Jessie:
[code]
On Stretch:
[code]

Further check, the cgroup exists on Jessie, but is actively disabled:
[code]

This can be set via boot cmd line parameter. Nothing found in /etc/default/grub, but:
[code]
- `CONFIG_MEMCG_DISABLED=y` sounds at least like memory

[2018-09-25 14:54] MichaIng commented on #2093
@Fourdee
Still an issue on Jessie systems: https://github.com/Fourdee/DietPi/issues/2075

[2018-09-25 17:50] MichaIng commented on #350
@Fourdee
Solution should be similar to how we run Sonarr/mpd etc now, with own user but dietpi group to allow access to e.g. samba mounts and the other way round have file, created by transmission as dietpi group to allow other members access.

I am thinking, as editing systemd units always breaks updates for those files, maybe we should add a separate grouping task/function to dietpi-software (be

[2018-09-25 20:11] Fourdee commented on #2087
@sesshomaru86

Many thanks, i'll reopen for testing 👍

[2018-09-26 14:15] Fourdee commented on #2093
@MichaIng

Yep agree, we'll add the USB support back in by default for next batch of images.

It should be fine to install the openvmtools through APT, however, we'd need to test this on the next batch of images.

Yep, i'll set a Jessie system when I can, run some tests.

[2018-09-26 14:15] Fourdee commented on #2075
Note to self:
- Setup Jessie system, investigate issue.

[2018-09-26 14:18] MichaIng commented on #2075
@Fourdee
I found a perhaps cleaner solution: https://unix.stackexchange.com/a/239978

- Adding `Wants=network-pre.target` to pull in this target, which seems not to be pulled by default.
- Adding `Before=network-pre.target` to let it run before all networking services.
- Removing all other network targets+services from `Before=` to remove the dependency loop.

Works well here on Jessie VM, but sho

[2018-09-26 14:54] MichaIng commented on #2055
@nnovaes
Ui time has passed.

So the reason for bug report error is the very large /var/log dir, 115M all together, 47M daemon.log is veeery large. It might be even hard to read this out via `nano`.

Should work to read the last entries:
[code]

I think I would first clean this up:
[code]
Then let the system run for a while and investigate the new entries then.
- Perhaps `/var/log/debug` might be

[2018-09-26 14:57] Fourdee commented on #2075
@MichaIng

[code]

Tweaked the services, appears fine on Stretch:
- before https://dietpi.com/downloads/testing/before.html
- after https://dietpi.com/downloads/testing/after.html

Just need to test Jessie.

---

Jessie:
- 🈴 PREP > eth0 down
<img width="363" alt="capture" src="https://user-images.githubusercontent.com/7077026/46093703-f0e86600-c1af-11e8-9e96-99da13846503.PNG">
. ```networking.serv

[2018-09-26 15:21] sergiud commented on #1829
@alex-savin Thanks for the info. Which SSD have you tested?

By the way, FriendlyElec distros also do not detect my WD Green M.2 2280 SSD.

[2018-09-26 16:11] MichaIng commented on #2075
Nice tool btw.

[2018-09-26 17:17] Fourdee commented on #2075
@MichaIng

Went for the workaround for Jessie. Not ideal, however, all our official current images are Stretch.

Re-test using PREP
- 🈯️ Stretch
- 🈯️ Jessie

Completed.

[2018-09-26 17:17] #2075 closed, assigned to nobody

[2018-09-26 18:26] Fourdee commented on #2087
Testing with key:

- Appears fine in menu, and returning to menu
- Apply, then recheck key, key missing.

Ok, its due to init array from file.

[2018-09-26 18:44] MichaIng commented on #2075
@Fourdee
Okay, so found that basic.target and sysinit.target are by default added as required, which can be overridden via `DefaultDependencies=no`.
But I guess, this would be needed for ramdisk+ramlog as well, to completely resolve the loop. Not sure, if there is any needed service starting between local-fs.target and sysinit.target/basic.target on Jessie.

Why do ramdisk/ramlog actually start be

[2018-09-26 19:20] MichaIng commented on #2093
@Fourdee @Phil1988
I updated the creation procedure to not remove USB on both, VMware and VBox: https://github.com/Fourdee/DietPi/issues/1505

No hit to remove CD/DVD drive/controller anyway.

I would not mess with pre-installed repo vm tools. Better leave this to end user and repo version can be very outdated. WMware and VBox both support a more less automated install method, that assures a fully

[2018-09-26 19:20] Fourdee commented on #2087
[code]

[code]

[code]

[2018-09-26 19:45] MichaIng commented on #2089
@symbios24

We had some other case, where the process tool was not able to apply settings because of temporary spawned processes that disappear while process tool is working. But this was resolved with v6.15: https://github.com/Fourdee/DietPi/commit/14cba4e4cf840b7934a33a23d3ea01701c73e54a#diff-7e4ac76a426f5cc1dd4b18222d378606
- However there is still a smaller time window, where the process could

[2018-09-26 19:53] Random90 opened #2096 "DietPi-Drive_Manager | NTFS as userdata location, permissions issues with applications."
I have some trouble installing ownCloud using dietPi-software and configuring it to use external hdd.
I have used dietPi driver manager to mount external hdd with ntfs partition after installing ownCloud. Then i set User Data Location to that external drive. But owncloud web interface said something about wrong permissions in data folder.
Problem is, that driver manager forgot to add permissions a

[2018-09-26 21:13] Random90 commented on #2096
Did clean install, set everything, but after reboot system forgets permissions for mounted ntfs drive.
So, setting ntfs partition as user data storage should automaticly modify fstab with gid, umask etc for user dietpi.
Edit: after changing premissions via fstab to dietpi with umask 007, i get this error when trying to access web interface:
`Exception occurred while logging exception: Failed to co

[2018-09-26 21:29] MichaIng commented on #2073
@msongz @Fourdee

Could replicate it on Stretch VM:
- Fresh install
- Open web UI on port 1880
- Open settings > Manage palette
- Try to apply available `node-red-node-email` update:
[code]

I mark this as external bug, since we install node-red globally, exactly according to the official instructions: https://nodered.org/docs/getting-started/installation
_________
https://discourse.nodered.org/t/

[2018-09-27 13:13] Phil1988 commented on #2093
sounds good to me :)

thanks for taking this so serious :D

[2018-09-27 18:27] Fourdee commented on #2096
@Random90

Many thanks for the report 👍

We'll look into this as soon as we can.

[2018-09-27 18:31] Fourdee commented on #350
@MichaIng

Yep, this needs doing, i've set to low priority for now, as the application is functional.

[2018-09-27 18:48] Fourdee commented on #2087
Before:
![image](https://user-images.githubusercontent.com/7077026/46171751-62e8aa00-c299-11e8-86c9-7b1a4ab6f862.png)

After network apply:
![image](https://user-images.githubusercontent.com/7077026/46171758-6845f480-c299-11e8-9451-8bbf067e03db.png)

🈯️ ```aWIFI_KEY[$i]=$( echo ${aWIFI_KEY[$i]} | sed 's/\\/\\\\\\/g' )```

With 3 backslashes for 1 being the magic item, when sourcing a file into a v

[2018-09-27 22:01] Fourdee commented on #2087
Ok testing:
- WiFi key in router = ```testtest`"$1```
- Entered key = ```testtest\`\"\$1```
- 🈯️ Key saved correctly after applying and reloading.
- 🈴 Does not connect
- 🈯️ wpa_supplicant.conf, appears fine, as it should be
[code]
- 🈴 Also tried with wifi hotspot on smartphone, does not connect.

[2018-09-27 22:31] Fourdee commented on #2086
Completed.

However, as above, we only offer software rendering for the GPU at this time.

[2018-09-27 22:31] #2086 closed, assigned to Fourdee

[2018-09-27 22:34] Fourdee commented on #1844
@vcliment89

Thanks for the info 👍

Apologies for the delay.

The file ``` /etc/modprobe.d/disable_wifi.conf``` should be removed when you enable WiFi in ```dietpi-config```. Please can confirm that you did indeed enable WiFi via ```dietpi-config```, and, the file still remained?

- Local testing: 🈯️ Unable to replicate the file still existing after enabling WiFi.

[2018-09-28 18:01] Fourdee commented on #2096
#### Additional logs:
[code]

```/DietPi/dietpi/func/dietpi-set_software setpermissions``` not being applied.

---

Yep, same issue as Samba mounts, we need to define the fixed permissions during mount.

[2018-09-28 18:15] Random90 commented on #2096
As I was trying to fix it,i found out that defining fixed premissions for NTFS during mount of whole drive could lead to access denial to user data for other software. Maybe the solution is mounting specific folders with custom premission (i.e mysql:mysql for owncloud mysql data) after whole drive mount?
Or init script with chmod and chown after mounting ntfs with premission flag?

[2018-09-28 18:29] Fourdee commented on #2096
@Random90

Appears NTFS does not support setting any permissions on files, must be done during mount:
[code]

Yep, however we did the same for Samba, we'll do the same here with mounting permissions, then run some tests against software.

[2018-09-28 18:36] MichaIng commented on #2096
We actually do permissions check before userdata transfer: https://github.com/Fourdee/DietPi/blob/master/dietpi/func/dietpi-set_userdata#L125

@Random90
Was transferring the userdata via dietpi-drive_manager not aborted? Then we would need to investigate our check. Impossible to resolve all needed different permissions for our offered software with only the possibility to set these globally for th

[2018-09-28 18:43] Fourdee commented on #2096
@MichaIng

Yep, its looking that way.

different file/dir mode options for ntfs?
[code]

[2018-09-28 18:44] Fourdee commented on #2096
@MichaIng

Nope its not, because ```chown``` returns a 0
[code]

[2018-09-28 18:45] Random90 commented on #2096
In working external ext4 hdd, installation of owncloud creates two folders: mysql and owncloud_data:
[code]
With set premissions during mount mysql, owncloud_data and ubooquity would have the same premissions, making folder inaccessible by software that uses them.

@MichaIng

No, transfer to hdd was successful.

I suppose this is the best solution. Dietpi-drive_manager could also inform user of NT

[2018-09-28 18:51] Random90 commented on #2096
@MichaIng @Fourdee
Lets suppose we mounted NTFS drive with uid and gid 'dietpi'. Adding mysql, www-data and others to dietpi group. If we mount this NTFS with write access to groups, i.e 0770, this could work. Maybe even owncloud won't cry with

[2018-09-28 18:53] MichaIng commented on #2096
Okay so we need to check for permissions support the traditional way:
- Create test file
- Get current owner
- If current owner is root (should be), chown dietpi, otherwise try to chown root.
- Verify that owner changed accordingly.

I guess there is no separate check needed for chmod, right?

Of course we can also exclude some file systems directly, where we know that no permissions are supposed:

[2018-09-28 18:58] MichaIng commented on #2096
@Random90
Adding all possible software users to dietpi group and letting all the group access all those files is quite dangerous. There are many software's directories where you definitely only want the software's own user access. This is at least the case for mysql and www-data (webroot)! Other software with write access can not only damage e.g. the database unrecoverable but also change owner. T

[2018-09-28 19:27] Random90 commented on #2096
@MichaIng You are right, that is not good idea.

I've looked into ntfs-3g man page and there is one option:

permissions
--
  | Set  standard permissions on  created files and use standard access control. This option is set by  default when a user mapping file is present.

It seems that permissions can be set with this option present while mounting.
From the same manual:

So the solution is probab

[2018-09-28 19:53] MichaIng commented on #2096
@Random90
Ah good find!

This is great. But those permissions do not survive reboot?
If they do, this would be a way we can support NTFS. However the "new" permissions check above would anyway succeed then.

But if this does not survive on reboot, I am not keen to adding this and better unallow moving dietpi_userdata to NTFS directly. Especially on larger cloud directories with many files, in my c

[2018-09-28 20:09] Fourdee commented on #2096
#### As this also changes the above, our official stance is as follows:
To support moving of userdata, the target location **MUST** now support native linux filesystem permissions. The updated check for v6.17 will do this automatically.

As Sambado not support this fully (limited to fixed permissions for whole drive during mount options), to achieve userdata location on these devices, it will need

[2018-09-28 20:15] Random90 commented on #2096
@MichaIng

If they do, this would be a way we can support NTFS.

Another test. This time i've set only 'permissions' option, without specifying file_mode and others.
Result:

[code]

Permissions survived reboot 😃
@Fourdee
So it seems NTFS can be used to store userdata

I see at least one reason -  I have NTFS drive with more that 1TB data, that I hoarded over the years. I want these files to be av

[2018-09-28 20:17] Fourdee commented on #2096
@Random90

Hehe, done the same myself 👍

If this works, we can roll it out, it will then pass the permissions test. I'll run some tests.

[2018-09-28 20:21] Fourdee commented on #2096
@Random90

Appears to work a charm, great find 👍 💯
[code]

[2018-09-28 20:39] Fourdee commented on #2096
Re-test:
- Install owncloud
- Move userdata to ntfs drive
- 🈯️ bob's your uncle fanny's your aunt

---

@MichaIng

Hmm, I still think we need an permissions check override option, for those with samba mounts and music.
But we'd need to make the user aware its officially unsupported.

What do you think?

[2018-09-28 20:45] Fourdee commented on #1829
@alex-savin @sergiud @carlosedp

Hi guys,

I've sent an email to FriendlyElec, with link to this ticket, hopefully they can provide some assistance.

Unfortunately, I also lack any .M2 drives, unable to test. However, its on my shopping list.

[2018-09-28 20:58] MichaIng commented on #2096
@Random90

Very nice 👍.

@Fourdee

We already did the permissions check, thus at least wanted to not support non-permissions file systems. It is simply not possible to run Nextcloud, MySQL and e.g. media players/downloaders with such a userdata directory. So for my impression no override option, as this would only lead to follow up issues.

I would anyway never advice anyone to put whole userdata

[2018-09-28 22:03] MichaIng commented on #2087
@Fourdee
Sadly I have no chance to test/debug WiFi here 😞.

However my suggestions:
- `aWIFI_KEY[$i]="$( echo ${aWIFI_KEY[$i]} | sed 's/\\/\\\\\\/g' )"`
  - Since `sed` interprets it's own magic chars again, better use `${aWIFI_KEY[$i]//\\/\\\\}` to double backslashes etc.
- Currently `dietpi-wifi.db` creation/applying happens in both, `dietpi-config` and `dietpi-set_hardware`. I see the need curr

[2018-09-28 23:42] Atavic commented on #2094
Cloudflare is a massive tracking enviroment, but if you want to use it, see:
https://github.com/pi-hole/pi-hole/pull/2075#issuecomment-377965650

[2018-09-28 23:47] breneser commented on #2094
@Atavic Thanks for reminding me good mr 👍 I needed that 🎩

[2018-09-29 02:50] veljko commented on #804
@yumiris, thanks for building these, converting vmdk/ova image never worked for me. Hope it becomes official...

[2018-09-29 09:40] breneser commented on #2094
@Atavic Having checked this blog, they seem to be promising no logging, no tracking? Can I ask what your take on this is ? https://blog.cloudflare.com/announcing-1111/

[2018-09-29 19:05] Fourdee opened #2098 "DietPi-Bugreport | Fails due to syntax"
Odroid C2:
[code]

[2018-09-29 19:07] Fourdee commented on #2098
[code]

[2018-09-29 19:09] Fourdee commented on #2098
Completed.

[2018-09-29 19:09] #2098 closed, assigned to Fourdee

[2018-09-29 19:39] Atavic commented on #2094
Cloudflare is a bad CDN for the user's privacy:

https://github.com/privacytoolsIO/privacytools.io/issues/374#issuecomment-354477178
https://github.com/MoonchildProductions/UXP/issues/798#issuecomment-425661657
https://github.com/esdiscuss/esdiscuss.org/issues/285
https://github.com/bromite/bromite/issues/98
https://github.com/guardianproject/haven/issues/320#issue-348213762
and https://github.com

[2018-09-29 20:03] Fourdee commented on #2096
@MichaIng

Good points 👍

Yep, but the ```dietpi-software``` userdata move offers a "list all mounts".

Regardless, a working permissions test is the way it should of been from the start, now fixed. So lets mark this as completed.

[2018-09-29 20:03] #2096 closed, assigned to Fourdee

[2018-09-29 20:10] JasonYao commented on #2094
Not sure why @Atavic is using my personal dotfiles as an example here lol- pretty sure he's just a troll that did a search for any issues referencing `1.1.1.1` just to spout off.

Given a choice between Google's DNS where they actively and openly datamine, and Cloudflare's DNS where logs are deleted after 24 hours and anonymized before being sent to APNIC for research purposes, I'd be going with C

[2018-09-30 15:40] Atavic commented on #2094
There are other alternatives other than Google and Cloudflare.

[2018-09-30 17:51] Fourdee commented on #1390
@MichaIng

Could be a limitation with 3.x kernel, or, it was simply a new addition that wasn't set by default due a decision by Debian.

Either way. As this is an external issue, with workaround available, and, Stretch is our current supported platform, we should mark this as closed.

Yep, will move it to https://github.com/Fourdee/DietPi/issues/1928

[2018-09-30 17:51] #1390 closed, assigned to nobody

[2018-09-30 17:52] Fourdee commented on #1928
Docker info needs doing:
- https://dietpi.com/phpbb/viewtopic.php?f=8&t=5&start=110#p9120

[2018-09-30 18:31] Fourdee commented on #2067
🈯️ NFS supports permissions, at least on a Linux share:
[code]

[2018-09-30 18:37] Fourdee commented on #2067
🈴 Samba does not
[code]

However, now mounts with ```dietpi``` user and group, so in theory, userdata applications "should" work, however, this needs to be manually set/tweaked by the user, as it will fail the permissions test during userdata move as of v6.17, which is now required.

Completed.

[2018-09-30 18:37] #2067 closed, assigned to Fourdee

[2018-09-30 19:08] Fourdee commented on #2027
- IPv6 is now enabled during patch (via the methods we previously used to disable)
- IPv6 can no longer be disabled in DietPi scripts
- preferipversion settings have been removed. Allowing the system to handle this automatically.

Testing:
- 🈯️ x86_64
- 🈯️ ARMv7

Completed.

[2018-09-30 19:08] #2027 closed, assigned to Fourdee, MichaIng

[2018-09-30 19:35] Fourdee commented on #1827
Lets mark this as closed, as no further work has been made.

[2018-09-30 21:21] LexiconCode commented on #1144
@MichaIng This issue has Cropped up again as discribed in OP but with `/var/tmp`
    DietPi version | 6.15-14
    Distro version | Stretch
    SBC device | Odroid HC2

`level":2,"time":"2018-09-30T21:15:01+00:00","remoteAddr":"","user":"--","app":"no app in context","method":"","url":"--","message":"Temporary directory \/var\/tmp is not present or writable","userAgent":`

Edited for clarity

[2018-09-30 22:32] MichaIng commented on #1144
@LexiconCode
Thanks for reporting.

This is strange, since this should always be available and global r/w-able. The error above was due to subdir `/var/tmp/php_upload_tmp`.

Which webserver do you use, and can you please paste result of:
`ls -al /var/tmp`

[2018-09-30 22:55] LexiconCode commented on #1144
@MichaIng
I recognize that's not the exact same error but close enough in nature for fit within the issue.

Apache2

root@DietPi:~# ls -al /var/tmp
total 20
drwxr-xr-x  5 root root 4096 Sep 30 23:39 .
drwxr-xr-x 12 root root 4096 Aug 31 10:05 ..
drwxr-xr-x  3 root root 4096 Aug 27 02:11 dietpi
drwx------  3 root root 4096 Sep 30 22:45 systemd-private-82f40b17a88d40f6bba4300d82bfb94c-apache2.servic

[2018-09-30 23:22] Fourdee commented on #1927
Ok made a start on this code for this, basic code working well.

We end up with arrays of:
[code]

Which we can use to print some nice HTML stuff afterwards (which I have no clue where to start lol)

[code]

Temps not printing once added to array, but the original var is?

[2018-09-30 23:29] MichaIng commented on #1144
@LexiconCode

Strange, this is not how it should be. On all my machines the dir is 777 chowned. But the private apache2 tmp dir in place. I am not sure how exactly permissions for www-data are handled then, but could you simply try:
`chmod 777 /var/tmp`

[2018-09-30 23:50] LexiconCode commented on #1144
@MichaIng Time will tell but that seems to be a fix. 👍

[2018-09-30 23:53] MichaIng commented on #1144
@LexiconCode
Jep, please report back if it works.

Do you remember something you changed/installed before the error appeared?

[2018-10-01 06:51] symbios24 commented on #2089
Im on Dietpi v6.16 the systemctl shows a lot of things.that i cannot write here.it will be more easy to duplicate the process to see for your self.

[2018-10-01 10:35] troyane opened #2100 "NanoPi Neo Air"
## Creating an image request:

#### Give us some formal device information:
- Device name | FriendlyElec's NanoPi Neo Air (LTS)
- Official product URL | https://www.friendlyarm.com/index.php?route=product/product&path=69&product_id=151
- Official WIKI |  http://wiki.friendlyarm.com/wiki/index.php/NanoPi_NEO_Air
- GitHub resource URL (if available) | https://github.com/friendlyarm
- Image download

[2018-10-01 11:28] LexiconCode commented on #1144
@MichaIng looking over the logs this morning the workaround was successful.

This was a relatively new install. Another piece of dietpi supported software must have changed permissions as I did not make any alterations manually.  So when something is uninstalled or installed I'll have a better idea what it is if it reoccurs.

[2018-10-01 15:43] MichaIng commented on #2079
@Fourdee
We could make `G_WHIP_INIT` add delimiters automatically. So on array creation we only need to add the raw text.
Allows us to change it easily for all together, if something beautiful was found.

[2018-10-01 16:36] Fourdee commented on #2079
@MichaIng

Yep, thought the same already 👍 , but processing on large menu's may be an issue to add and re-shuffle the chars?

[2018-10-01 17:03] Fourdee commented on #2100
@troyane

Many thanks for the request 👍

We could use kernel/uboot from ```nanopi-neo-air_sd_friendlycore-xenial_4.14_armhf_YYYYMMDD.img.zip```, and create a Stretch rootFS.

I'll pick this up when I can.

[2018-10-01 18:46] MichaIng commented on #2083
Further thinking about pre-patch, downloaded via HTTP. Actually I am not too happy with this for security reasons. I know there are many other cases (3rd party software, non-HTTPS APT sources, ...) where simple HTTP is used, but I would like to use HTTPS where we have control.
- Theoretically someone evil could otherwise implement harmful code and end user has no chance to verify it is from us. Ma

[2018-10-01 18:54] MichaIng commented on #2079
@Fourdee

For `G_WHIP_MENU`:
[code]

For `G_WHIP_CHECKLIST`:
[code]

As very first step, before estimating windows size and such?

Just checked G_WHIP_INIT(). `((i=1;i<${#G_WHIP_MENU_ARRAY[@]};i=i+2|3))` can be also used there for some of the loops instead of current (($i%2|3) checks and such. Maybe the performance improvement of that can catch up with the performance loss due to the above a bid.

[2018-10-01 21:25] Fourdee commented on #1927
@MichaIng

Whoop whoop 🥂
![image](https://user-images.githubusercontent.com/7077026/46316762-efaca400-c5c8-11e8-9ede-fcfbf6bf8e07.png)

[2018-10-01 21:47] MichaIng commented on #1927
@Fourdee
Niiiice.

Maybe we can merge the results as additional columns into the "Devices" install count table, what you think?

[2018-10-01 23:41] MichaIng opened #2101 "RoonBridge | Change CPU affinity of "interrupt 62"+"63" for smoother playback"
Reference: https://dietpi.com/phpbb/viewtopic.php?t=4585

I have really no idea about that, just a guess into the blue that the idea is to adjust affinity of those two playback related modules to different CPUs/threads instead of having just one core overloaded.

Looks like these are no processes, where affinity can be applied via `dietpi-process_tool`?

[2018-10-02 05:22] kevkha commented on #2093
@MichaIng - wanted to report below issue.

With RPi3 fresh install 6.16 and upgrade from 6.14 to 6.16
[code]
On the upgraded one I was able to restore 6.14 and back to business with network connection.

For file not found issue this should work by changing this

From
[code]
To
[code]

[2018-10-02 07:24] kevkha commented on #1902
Recent update https://rocket.chat/2018/09/17/RC-Nextcloud-partnership-post/

[2018-10-02 13:37] MichaIng commented on #2093
@kevkha
Thanks for report and solution.

Just wanted to fix it, but Fourdee was faster and already fixed it days ago 😄: https://github.com/Fourdee/DietPi/commit/c8dcef0f629c84ecc59558adabdbbad6b52946e6#diff-93b9c3871f032c905ec8b4505d408ca9

[2018-10-02 15:43] Fourdee commented on #1927
@MichaIng

Good idea 👍

Only issue is, i'll need to create about 4/5 of these tables, as, adding all the info on 1 table makes it too squashed.

I'll have a play bit later.

---

Also really want it this way, but can't figure it out yet:
![image](https://user-images.githubusercontent.com/7077026/46360102-a90b8800-c662-11e8-8ad7-b0a5e1193107.png)

[2018-10-02 16:20] Fourdee commented on #1829
Hi all,

Friendlyelec mentions that only NVME based SSD's (eg: PCI-e. Not SATA) are supported on the hardware.

This is confirmed (@MichaIng finally treated myself to one!!!)
![image](https://user-images.githubusercontent.com/7077026/46362417-18d04180-c668-11e8-9b5d-9772117c0e68.png)

Hardware limited write speed on NanoPC-T4/RK (using 970 EVO)
![image](https://user-images.githubusercontent.com/70

[2018-10-02 16:45] lucario1001 commented on #1171
This will boot into the installer on the imtel compute stick STCK1A8LFC but the installer will fail because it's not detecting a mmcblk0 if your booting from a SD card but if I can find a way to edit the file to write it i can install it don't know if the wifi will work though because it's a Ubuntu only stick with custom realtek drivers for it

Specs:
Intel atom 1.33ghz turbo boost up to 1.83ghz
1

[2018-10-02 17:28] Fourdee opened #2102 "DietPi-Drive_Manager | NVMe support/tests"
Hardware limited write speed on NanoPC-T4/RK (using 970 EVO)
![image](https://user-images.githubusercontent.com/7077026/46362129-5aacb800-c667-11e8-875d-2bb7da5743f7.png)

6 partitions?
[code]

Samsung/NanoPC-T4 only?

nvme0n1    259:0    0 372.6G  0 disk
└─nvme0n1p1 259:1    0 372.6G  0 part

[2018-10-02 17:38] MichaIng commented on #1829
@Fourdee
Great, I just updated the fs expansion script as I found that indeed the partitions on NVMe drives follow naming scheme: https://github.com/Fourdee/DietPi/commit/eae7af9d50775d833c2c672a344f364df1b02ae5
`/dev/nvme[0-9]n[0-9]p[0-9]`

First integer might be controller number, second drive number and only third is partition number.

Could you confirm that in your case there is no partition t

[2018-10-02 17:40] MichaIng commented on #2102
Ah this confirms my question in the other topic. I will fix drive_manager accordingly, as currently it might try take `/dev/nvme0` as drive instead of `/dev/nvme0n1`.

Strange about the partition though... If these other ones are somehow always created, we should ignore them in drive_manager. Never found that case when doing naming scheme research 🤔.

[2018-10-02 17:49] frankdugan3 opened #2103 "DietPi-Config | WiFi connection fails, when eth + wlan are enabled"
## Creating a bug report/issue:

#### Required Information:
- DietPi version	| 6.16
- Distro version	| stretch
- Kernel version	| `Linux DietPi 3.16.57+ #1 SMP PREEMPT Sun Aug 19 15:27:56 CEST 2018 aarch64 GNU/Linux`
- SBC device		| Odroid C2 (aarch64)

#### Additional Information (if applicable):
- Locale for WiFi (and everything else) is US (english)
- Latest updates and firmware applied

#### S

[2018-10-02 17:54] Fourdee commented on #2102
@MichaIng

Just finished, will send commit.

To do:
- Figure out if the 6th partition is limited to Samsung or NanoPC-T4 only: https://github.com/Fourdee/DietPi/issues/2102#issue-366001513

[code]
Interesting, appears to match the same as MMC layout:
[code]

Appears to be NanoPC-T4 specific? Sent email to FE, waiting for response.

[2018-10-02 17:58] kevkha commented on #2093
@MichaIng Thanks. I did code-review and add comments there.

[2018-10-02 18:08] MichaIng commented on #1171
@lucario1001
The problem is, that x86 images expect the rootfs the be on `/dev/sda[0-9]` and `fstab` + bootloader need to be adjusted to boot into the correct partition.

Adjusting `/etc/fstab` to point to the right boot+root partition is easy, but I am not sure if `grub` (bootloader) can be easily manually patched. Usually there are some steps on the running system needed, including chroot into t

[2018-10-02 18:23] Fourdee commented on #1829
@MichaIng

Moved reply to: https://github.com/Fourdee/DietPi/issues/2102#issuecomment-426380222

[2018-10-02 18:24] Fourdee commented on #2102
@MichaIng

Yep, seems to make sense 👍

#### Zero all partitions, then disk
Seems NanoPC-T4 specific, i've already added a workaround for this in code.
[code]
Reboot

[code]

[2018-10-02 18:29] Fourdee commented on #2102
And we need to implement a Random R/W benchmark.
https://twitter.com/DietPi_/status/1047191607248936962

for i < 1000

dd if=/dev/zero of=/mnt/.bench_$i bs=4k count=1 & #probably finish before next loop... And, sequential result?

[2018-10-02 19:52] rolandoman commented on #1829
Has anyone succeeded in getting the two MIPI-CSI2 cameras working with DietPi on the NanoPC-T4? I have an application that requires stereo vision, and I don't want to move to Android. If anyone can point me in the right direction it would be much appreciated. I have played around with the vendor build from friendlyarm but their debian and ubuntu releases do not support the cameras. Thanks in advan

[2018-10-02 19:57] Fourdee commented on #1927
Some issues with server, needs a reboot:
[code]

[code]

[2018-10-02 20:08] Fourdee commented on #1927
@MichaIng

Server offline for backup.

Might also upgrade it to 4cores 4GB 😉 | wont let me upgrade, ticket sent. We can pay the difference (£5 + month)

[2018-10-02 20:09] MichaIng commented on #2103
@frankdugan3
Thanks for your report.

Hui took a while to even find this service in the code, as I never use WiFi with DietPi 😄.
[code]

As we do not source DietPi-Globals, we cannot use `G_DIETPI-NOTIFY` here. Error our side. Either we need to source globals or use simple `echo`. As output should just go to journal, I would just do echo, also to reduce init time and RAM usage of the service.

Als

[2018-10-02 20:28] frankdugan3 commented on #2103
@MichaIng Not sure where it breaks, but in the end something in the re-connection script ends up dropping the connection. `ip link` reports `wlan0` as down, and I can't ping anything outside localhost.

[2018-10-02 20:31] MichaIng commented on #1927
@Fourdee

Use `colspan` to spread a cell over multiple columns. `rowspan` could be used to spread the first "Device" cell over the first two lines then:

[code]
_______________

Hmm Cloudflare's Always Online does not work here 🤔.

[2018-10-02 20:48] MichaIng commented on #2103
@frankdugan3
Strange, it should only drop WiFi interface, if it could not ping the gateway. Then it should bring up the same interface. So if `$ADAPTER` should somehow be wrong, it should not affect the right interface.

But if `$WIFI_GATEWAY` was wrong, it would be in a connection loop, perhaps breaking after some time.

Can you please do the following:
- Disable WiFi monitor, and make WiFi work.

[2018-10-02 20:54] kevkha commented on #2093
@MichaIng Upgrade from 6.14 to 6.16 yields `NULL  | Use dietpi-config to setup a connnection`. This was on LAN adapter eth0 so suspect upgrade did not put the network info back?

[2018-10-02 21:00] Fourdee commented on #1927
Boom boom:
![image](https://user-images.githubusercontent.com/7077026/46376729-a030ab80-c68e-11e8-853d-8168c54b761c.png)

[2018-10-02 21:04] MichaIng commented on #2093
@kevkha
If I see correct above, you have a Stretch image, right? 🤔

Only other idea, what we changed about Ethernet network: https://github.com/Fourdee/DietPi/blob/testing/rootfs/etc/network/if-up.d/dietpi-disable_offload

Could you try to run this command manually?
`/etc/network/if-up.d/dietpi-disable_offload && echo "Exit code: $?"`
- `systemctl status networking` showed error in case this fails

[2018-10-02 21:07] frankdugan3 commented on #2103
OK, here's the full log from the time of login until getting a successful connection. It's long, so I'll comment up here.

I'm using DHCP. The reason my previous log shows connection is because I had it running for a long time before I checked the logs, and it apparently connected eventually.

When I have autoreconnect off, the WiFi connects **immediately** both on changing the settings via `dietp

[2018-10-02 21:11] MichaIng commented on #1927
@Fourdee
Looks nice.

However this could be presented much nicer on the new java survey page with nice charts.
Maybe @userdeveloper98 finds some time to implement this by times? 😜

[2018-10-02 21:13] Fourdee commented on #1927
Color me up sally:
![image](https://user-images.githubusercontent.com/7077026/46377398-6365b400-c690-11e8-8dd6-b4c74cdb00d0.png)

[2018-10-02 21:14] Fourdee commented on #1927
@MichaIng

Maybe @userdeveloper98 finds some time to implement this by times? 😜

Yep agree, we'll need to wait and see if @userdeveloper98  is up for it :)

[2018-10-02 21:24] kevkha commented on #2093
@MichaIng yep I have `DietPi_RPi-ARMv6-Stretch.7z` going to try again with above and update. Thx.

Update:
`/etc/network/if-up.d/dietpi-disable_offload && echo "Exit code: $?"` returns `0`
`systemctl status networking` shows *Active: inactive (dead)*

[2018-10-02 21:31] lucario1001 commented on #1171
i mean it there is a emmc inside of it its only 8gb and there is only 1 usb port on it so the only way to install it is thru a micro sd card slot but it does boot into the clonezilla installer but it does not detect the mmcblk0 because its on another location (ie mmcblk1) and the sd card is emmcblk2

[2018-10-02 21:40] docgalaxyblock opened #2104 "Cloudshell 1/2 Bug List"
Hi Fourdee
Like the last Bugreport id: f356d26d-a01a-4490-98d9-24eed509a7b0
A List of found Bugs:

- I have now Dietpi installed at my CS and CS2
Sometime like once a week the backlight works. Linke tonight

- You can only install a webserver by use the search function?! I couldn't find the pure nginx/apache/lighttpd at Software Optimized?!

- If dietpi-cloudhell is running on LCD, I could only ki

[2018-10-02 21:56] MichaIng commented on #1171
@lucario1001
Ahh, sorry, jep totally forgot that UEFI image is clonezilla installer 😅.

Hmm hope someone has more knowledge about Clonezilla and how to change the target drive, at least I couldn't find some related config file or such. I just see the iso `\DietPi_v6.0_NativePC-EFI-x86_64-Stretch.iso\home\partimag\DietPi\` containing image files that are named `mmcblk0`. Not sure if this mean that

[2018-10-02 22:05] sal666 commented on #1171
@lucario1001
Clonezilla can be tuned so that it will ask for the target device.
Take a look at my final update to this comment:  https://github.com/Fourdee/DietPi/issues/1171#issuecomment-391682301

[2018-10-02 22:13] MichaIng commented on #1171
@sal666

This is great. We should have this by default in our UEFI image.

Where exactly this "ask_user" needs to be added? I couldn't find any cfg file with boot device issue in our iso. Also your `grub.cfg` does not contain any boot device info, at least I could not find it.

[2018-10-02 22:34] Fourdee commented on #1927
Getting alot of this during update:
Was occurring before any of my changes.
[code]

---

[code]

[code]

---

[code]

[code]

lol?

Ok we need to check min/max.
[code]

[2018-10-02 22:38] sal666 commented on #1171
"ask_user" replaces the name of the target device.
If you use an installation media based on rEFInd as described above, the command to start Clonezilla is at refind.conf, but it's already patched to ask the use for the target device. Try following the described procedure to create a bootable pen drive and to perform the installation itself.
"grub.cfg" it's not used in this case. It's used in the c

[2018-10-02 22:46] MichaIng commented on #1927
@Fourdee
Jep known issues.

On earlier versions for it was possible that survey added an empty string as installed software ID. I guess it was due to first run survey, if not .installed file was created yet, or at least nothing yet marked as installed.

The other issue is due to DietPi subversion integer being wrong sometimes in updater. So DietPi is actually v6.10+, thus survey uploads new survey

[2018-10-02 22:47] Fourdee commented on #1927
[code]

[2018-10-02 22:48] Fourdee commented on #1927
@MichaIng

Adding checks for bad files and skipping them 👍

[code]

~Might possibly be the cause~ why only 1 benchmark result is showing, i've done 4, unsure yet:
https://dietpi.com/survey/#benchmark

Appears, the upload completes, but file does not exist on server.
[code]

[code]

Aha
http://www.manpagez.com/man/5/sshd_config/
MaxSessions

Idiot moment, resolved below 🈯️

[2018-10-02 23:06] lucario1001 commented on #1171
ok so good news bad news so good news it booted and asked me to where to install it
bad news it wont install becuase the destination is too small 7.6 gb emmc
disk image size is 31gb 😭

[2018-10-02 23:11] sal666 commented on #1171
Try this:
http://www.clonezilla.org/clonezilla-live/doc/02_Restore_disk_image/advanced/09-advanced-param.php

[2018-10-02 23:11] Fourdee commented on #1927
![image](https://user-images.githubusercontent.com/7077026/46382027-ceb78200-c6a0-11e8-9899-bcf943626fc9.png)

Completed, all issues resolved 🈯️

You can run a quick benchmark and upload with:
[code]

View results:
https://dietpi.com/survey#benchmark

[2018-10-02 23:13] Dr0bac commented on #2067
@Fourdee i have the same problem with radarr not importing movies but my hdd is external hdd connected directly to rpi3, it says in radarr logs:"
Couldn't import movie /mnt/dietpi_userdata/downloads/Avatar: Acess to the path "/mnt/dietpi_userdata/Plex/Movies/Avatar" is denied..
Then i changed user of /mnt/dietpi_userdata/Plex/Movies to radarr:root and now in radarr logs i get
Couldn't import movie

[2018-10-02 23:37] MichaIng commented on #2067
@Dr0bac
Thanks for your report. But this is a different issue. So not NFS or Samba is the problem in your case, but plex+radarr cross access.

So I guess, the files in flex folder are owned by plex:plex?
To allow access to most other software, installed via dietpi-software, you need to add radarr user to plex group and add plex as well to dietpi group, to allow access of plex to download and other

[2018-10-02 23:40] MichaIng commented on #350
Related: https://github.com/Fourdee/DietPi/issues/2067#issuecomment-426461043
- Plex has same issue than transmission.

[2018-10-02 23:43] lucario1001 commented on #1171
so it skips the error message but it still wont flash the image
`Failed to create a partition table on this disk: /dev/mmcblk1
    Is this disk too small: /dev/mmcblk1?`

[2018-10-02 23:44] Dr0bac commented on #2067
@Michalng
 Yes, different problem, but it started recently i guess when 6.14 update was installed.. no it's not plex:plex.. it's plex:root.. and it worked like that perfectly last 6 months..so i guess plex and radarr are in root group? So if radarr don't have permissions to download folder i must add it to dietpi group, not root group?

[2018-10-03 00:09] MichaIng commented on #2067
@Dr0bac

🤔 Okay this is bad. Hmm I would never want to add software run users to root group actually. Bad repo package default then... I hope for our fix in DietPi install script we can change it the way that files are created as plex:plex or plex:dietpi.
So yeah, in this case you have no other chance then adding radarr user to root group for now.

It should have worked until v6.12: https://github

[2018-10-03 00:21] MichaIng opened #2105 "DietPi-Update | Wrong whiptail dimensions when calling G_WHIP in patch_file"
Ref: https://github.com/Fourdee/DietPi/pull/2099#issuecomment-425925327
- Either STOUT (`>(tee ...)`) or STERR (`2>&1`) must not be redirected when calling `patch_file`, otherwise `tput` cannot get cols/lines info and thus `G_WHIP` windows have wrong dimensions.

[2018-10-03 07:12] jundar2001 opened #2106 "Baikal install error"
#### Details:
- Date           | Wed  3 Oct 08:09:32 BST 2018
- Bug report     | N/A
- DietPi version | v6.16
- Img creator    | DietPi Core Team
- Pre-image      | Raspbian Lite
- SBC device     | RPi B+ (armv6l) (index=1)
- Kernel version | #1123 Wed Jun 27 17:05:32 BST 2018
- Distro         | stretch (index=4)
- Command        | Connection test: http://raspbian.raspberrypi.org/raspbian
- Exit c

[2018-10-03 10:04] sal666 commented on #1171
Use -k1 to create partition table proportionally.
I've updated config files posted at the procedure shared above.

[2018-10-03 11:24] MichaIng commented on #2106
@jundar2001
Thanks for your report. Looks like a temporary server down.

Testing here works well (now), please retry with: `G_CHECK_URL http://raspbian.raspberrypi.org/raspbian`
If it works, then retry `dietpi-software` install.

[2018-10-03 11:40] MichaIng commented on #2104
@potter-91
Thanks for your report(s).

Yeah, you can only select a full webstack via dietpi-software menu. Do you require install the webserver (+PHP) only and not database?
You can do it like that:
- `dietpi-software list | grep <webserverOfYourChoice>` (apache, nginx or lighttpd)
- You will get the software ID of the wanted webserver, take that and:
- `dietpi-software install <ID>`
- This way no

[2018-10-03 15:47] MichaIng commented on #2054
Ref: https://wiki.debian.org/WiFi/HowToUse
- [x] Check `/etc/NetworkManager/NetworkManager.conf` for WiFi interface info to scrape
- [x] Check if netman really uses wpa_supplicant `/etc/wpa_supplicant/wpa_supplicant.conf` as backend, so we can keep SSID/authentication info.

[2018-10-03 16:01] docgalaxyblock commented on #2104
Hi MichaIng

The searchfunktion is easier ^^

Year this is the error
I use lan connections, except the PI0W

I made a new report, the last ist 3 weeks old
34ec6e9d-b85b-4be8-b36c-267adc14cf88

[2018-10-03 16:05] MichaIng commented on #2104
@potter-91

- Ah great, will recheck.

- Ah you mean to install webserver? Yeah might work as well, I am not yet too familiar with it 😆.

- Hmm can you see which script throws the error?
__________________
Bug report:
[code]
[code]
- RAMdisk looks fine. Also this would have lead to much more issues 😉.

[2018-10-03 18:05] lucario1001 commented on #1171
still does not work after with the new config file gives me the same error i re-did the usb also

[2018-10-03 18:24] sal666 commented on #1171
Seems like a bug in Clonezilla to me. I've also been trying and only works with destination drives of at least 16GB. It doesn't make sense because it fits in less than 1GB.
After restoring to a 16GB pen drive I've been able to reduce partitions and copying them to a 1GB pen drive using gparted. Not sure yet if it will work. If it does maybe tomorrow I'll be able to upload a new image.

[2018-10-03 19:00] k-plan commented on #1285
Hi,

have playing around a little bit with `PREP_SYSTEM_FOR_DIETPI.sh`.
Read in [Changelog](https://github.com/Fourdee/DietPi/blob/master/CHANGELOG.txt#L6), [`dietpi.txt`](https://github.com/Fourdee/DietPi/blob/master/dietpi.txt#L19) and [Getting started guide](https://dietpi.com/phpbb/viewtopic.php?f=8&t=9&p=9#p9)
we now need  `/boot/dietpi-wifi.txt` since v6.16.

After doing `PREP_SYSTEM_FOR_DIE

[2018-10-03 19:09] Dr0bac commented on #2067
@MichaIng
It's my fault that media folders are plex:root. I saw somewhere i guess on reddit that plex must be owner of media files so i can delete movies with it..also plex plugin subzero for subtitles can't work without changing permissions..
I tried first command and i got like you said
User=radarr
Group=dietpi
After second command i saw that download folder owner is dietpi:dietpi, but downloade

[2018-10-03 19:28] MichaIng commented on #1285
@k-plan
Hi, nice too see you here again 😃.

Actually
https://github.com/Fourdee/DietPi/blob/master/PREP_SYSTEM_FOR_DIETPI.sh#L1407-L1409
should lead to `dietpi-wifi.txt` being created. Did this not happen during your test?

An issue I could think is that private WiFi SSID/key could be stored inside. Either users should be informed about that, their current WiFi credentials from image creation syst

[2018-10-03 19:45] k-plan commented on #1285
Hi @MichaIng ,

Sadly no.

The device has no Wifi buildin, connected or Wifi connection configured.
So Wifi was disabled in `dietpi-config`
 But i have choose [`I require WiFi functionality, keep/install related packages`](https://github.com/Fourdee/DietPi/blob/master/PREP_SYSTEM_FOR_DIETPI.sh#L419).
Is this a problem?

Puuh... think that's not the best idea ... 😞

Yes, I will vote for this please

[2018-10-03 21:14] Fourdee commented on #2083
@MichaIng

Yep, its a catch 22. We need one to do the other.

Would be nice to have, but yep, "security" and "risk" of http for a pre-patch isn't worth it.

Nice idea 👍

There we could publish some current issues, important bugs and such, possibly based on distro, device and/or installed software of end user. Or simply inform about other interesting things. Stay closer in touch with users, who are

[2018-10-03 21:16] Fourdee commented on #2093
Locking this thread to keep it clean.

If you have an issue related (or not) to the above. Please check existing tickets, or, create a new one.

[2018-10-03 21:25] Fourdee commented on #1285
@k-plan

Hello you, long time no see, hope all is well? 😃

I believe there was a bug in the v6.16 PREP (and master branch), where it would not generate the dietpi-wifi.db file automatically, if it did not exist (whoopsie!)

This is now resolved in the v6.17 update (via testing branch currently). If you run PREP with testing branch, should be fine :)

[2018-10-03 21:49] k-plan commented on #1285
@Fourdee

Hi Dan,
I'm fine, thanks.

Sounds good, will try this, if I find some spare time.

Thanks.

Congratulations to @Fourdee and @MichaIng  for coding progress on your DietPi. Pretty nice work! ❤️

[2018-10-03 21:53] Fourdee commented on #2103
@frankdugan3

Yep, needs globals loaded in.

This appears to be working as intended? If no ping result, the service will drop and restart the WiFi adapter.
Its then down to the adapter to achieve a stable connection, which it has 10 seconds to achieve before next check.

Looks more like a slow DHCP + possible signal strength issue.
Try using a static IP, under flaky connections it removes the need

[2018-10-03 22:04] frankdugan3 commented on #2103
@Fourdee The signal should be pretty strong given that it's 3 ft away from the AP. I haven't had issues with slow DHCP with any other devices, and there's only a few things connecting to the AP. The same image is also being testing in a completely different location with a different brand of AP with another C2 and WiFi module (same model), and it's behaving exactly the same way. An older image wit

[2018-10-03 22:05] Fourdee commented on #2103
@frankdugan3

Yep, testing now.

[code]

[2018-10-03 22:22] Fourdee commented on #2103
Notes:
[code]

[code]

🈯️ Confirmed, ```dmesg``` full of constant reconnects.

Actually, the above is due to connecting on a hotspot, where the gateway scraped from active (eth0) is not available for ping on wlan.

[2018-10-03 22:42] Fourdee commented on #2103
So the issue appears to be, when both ```eth``` and ```wlan``` are enabled/active, with the wifi connection script, and, connections are on different subnetworks:
- Ping from wlan fails:
[code]

Causing the re-connection script to constantly reconnect.

---

Also fails to ping the gateway of wlan0, when on different subnetworks:
[code]

[2018-10-03 22:46] Fourdee commented on #2103
@frankdugan3

- Are both eth and wlan connections on the same networks? eg: 192.168.0.*
- Do the problems still occur when eth is disabled and system rebooted?

[2018-10-03 23:38] frankdugan3 commented on #2103
@Fourdee They are on the same networks. By disabled, do you mean configuration or just pull the plug? It definitely has the issue when eth is unplugged.

[2018-10-03 23:44] Fourdee commented on #2103
@frankdugan3

Thanks.

Interesting, what happens if you run these commands (please paste results):
[code]

```dietpi-config``` > Networking > Eth > disable

[2018-10-04 00:03] Fourdee commented on #2083
Ok in regards to changes:
#### ```testing``` > ```dev```
- v6.17 patch , change ```GITBRANCH=testing``` to ```GITBRANCH=dev```
- Clone ```testing``` to ```dev```
- Now work on ```dev```

[2018-10-04 00:35] frankdugan3 commented on #2103
@Fourdee Seems like if I disable eth, it has no problem disconnecting/reconnecting with `ifup wlan0`/`ifdown wlan0`.

The following was run with eth disabled and auto-reconnect enabled, and after a reboot:
[code]

[2018-10-04 02:06] Fourdee commented on #2083
@MichaIng

I've made a start on this: https://github.com/Fourdee/DietPi/issues/2083#issuecomment-426842537

Please do any work on the new 'dev' branch:
https://github.com/Fourdee/DietPi/tree/dev

[2018-10-04 02:13] Fourdee commented on #2103
@frankdugan3

Many thanks for testing 👍

So basically, running both ```eth``` and ```wlan``` causes ```wlan``` to fail any actual connections (eg: ping).

Ok, so we need to rule out if this is a hardware specific issue. I'll run the same tests on RPi, see if we can replicate.

If the issue is limited to C2, we can confirm its a hardware/kernel limitation, outside of our control. If the issue is de

[2018-10-04 04:55] F-ck-ngFedUp opened #2108 "PI ZERO NOT SUPPORTED"
A: Pi Zero has no WiFi or LAN. You have to use a USB Dongle.
B: There are no USB dongles supported without downloading a driver
C: An internet connection is required to download or install anything
D: Goto A

Also, you need a working DietPi installation to answer your forums registration question.... I can't get my installation working, and can't register for help either!!!

This was the only way

[2018-10-04 06:36] userdeveloper98 commented on #1827
Hey guys, I have some hardware problems with my home computer, will come back to this once I'll buy a new one 😃

[2018-10-04 09:41] MichaIng commented on #2108
@FuckingFedUp
Please check my answer in the forum: https://dietpi.com/phpbb/viewtopic.php?f=11&t=5113
Feature request included, to allow placing a deb package into /boot which will be installed on first run setup automatically.

Sorry, we had to recently change to DietPi related registration questions, as we got a real bot/spammers rush in the forum before, posting insecure links and such, without

[2018-10-04 10:26] Dr0bac commented on #2067
@MichaIng i don't know why i can't tag you manually..anyway i did what you asked me to do..

[2018-10-04 12:27] MichaIng commented on #2067
@Dr0bac
The folders should be created by transmission then. It has currently the same issue as plex. Check this: https://github.com/Fourdee/DietPi/issues/350#issuecomment-423763518

Please try:
Replace our custom transmission service (/etc/systemd/system/transmission-daemon.service) with the one provided in the link (this is package default), but add Group=dietpi beneath User=debian-transmission.

[2018-10-04 15:42] Lanneer487 opened #2110 "Process tool problem"
I tried updating transmission but it stops because of an error.
How can I fix this?

/DietPi/dietpi/.dietpi-process_tool: line 11: php-fpm: command not found
/DietPi/dietpi/.dietpi-process_tool: line 12: plexmediaerver: command not found
[ SUB2 ] DietPi-Process_tool > Apply
pgrep: only one pattern can be provided
Try `pgrep --help' for more information.
[FAILED] DietPi-Process_tool | Plex Media Se

[2018-10-04 16:08] MichaIng commented on #2110
@roelfoubert
Thanks for your report.

Please do:
[code]

This should resolve it. Cause is a rework we did on process tool with DietPi v6.8 where we actually reset the above config file, but somehow, most likely due to Linux async disk writes, it did not survive the reboot. Strange that there is no way until now that the kernel forces all held back writes to disk before shutting down 🤔.

[2018-10-04 17:17] MichaIng commented on #1927
@Fourdee
What do you think about creating results file in a shell source-able way, so it can be directly `cat` into the dietpi-survey upload file and sourced by other scripts as well. Generally I like to do this for most of our data/settings/results files, as sourcing should always be much faster then using `sed` or `grep` to catch content. Also the same values are then forced to have the same var

[2018-10-04 21:14] MichaIng commented on #2108
@F-ck-ngFedUp
So, lets go on with discussion here, as the driver for at least the second dongle you tried is pre-installed and should work.

Please plug 0BDA:8176 (RTL8188CU/RTL8192CU) for the following and post outputs here:
- First how did you actually configure/test the dongle? Can you list the steps here?
- Please try (after existing hung 1st run setup, when it complains missing network) `/Die

[2018-10-04 21:27] Dr0bac commented on #2067
@MichaIng thanks for your suport, but i don't see any link.. do you want me to add two lines in current transmission service file or i need to change that service file with the new one and add those lines..
But i can wait new dietpi update if you guys gonna fix it, it's not big deal..
Thanks

[2018-10-04 22:54] F-ck-ngFedUp commented on #2108
I connected things so many different ways now I can't remember every combination. Currently I have an official Pi power supply powering the Pi, and the powered USB hub powering everything else, which is currently only the keyboard and WiFi dongle.

I used Etcher to flash the img onto the card. I edited the text file in TextPad via the Windows machine I flashed the card with, and put my network cre

[2018-10-04 22:58] Fourdee commented on #2108
@F-ck-ngFedUp

Hi,

Looks like this chipset is working as intended.

Usually if DHCP fails, due to:
- Incorrect SSID/key entry
- Just outside a stable signal range
- Slow router which DHCP leases (try rebooting router)

If none of the above applies, does you key contain any of the following characters?

---

#### In terms of which WiFi chipsets are supported, we rely on the official kernel to achi

[2018-10-04 23:04] F-ck-ngFedUp commented on #2108
The entries are correct, that was the first thing I thought - a mistype. They are absolutely correct though.

The router is 4 feet away. My laptop is further away and reports 92% signal strength if I put the same dongle into my Windows 7 laptop.

The router is fine. I've rebooted it anyway, but the media centre PC, laptop, Smart TV, NAS and my mobile phone are all connected to it and it's giving m

[2018-10-04 23:06] Fourdee commented on #2108
@F-ck-ngFedUp

Very strange, does your WiFi key contain any of the following characters, these can cause issues which we have fixed in our next release?

[2018-10-04 23:19] F-ck-ngFedUp commented on #2108
No, my WiFi key was (as I just changed it) 64FriedTomatoes

[2018-10-04 23:19] F-ck-ngFedUp commented on #2108
I'm just downloading a fresh Raspbian Stretch Lite to see what happens...

[2018-10-04 23:23] Fourdee commented on #2083
Note to self:
- Code done
- Needs further testing
- RC version only used for 'beta' 'dev' branches. Master branch is always X.X.0

When we want to update 'beta' branch with new updates:
- Change ```.version``` 3rd line to ++ number
- Push 'dev' to 'beta'
- Users on 'beta' will then see an update
- Current subversion patch will be rerun

When we want to merge from 'beta'/'dev' to 'master
- Change `

[2018-10-04 23:34] F-ck-ngFedUp commented on #2108
No hardware changes at all, even the same MicroSD card - boot up, entered network credentials, running update and it's downloading things already. *shrug*
https://imgur.com/a/RZUcW6l

[2018-10-04 23:37] MichaIng commented on #2083
@Fourdee

Why not keep RC version for release? This would also allow beta users to update to most current stable, when switching branch setting. E.g. they just test 1st RC, then for some reason miss 2. and 3. and release. Then they want to switch to release. But update would now be shown if server version is X.X.0.

Ah but let me test and revisit the code first before I can give qualified feedback

[2018-10-04 23:39] Fourdee commented on #2083
@MichaIng

To allow us to reset RC versions for each subversion release. As the RC version is used to allow updates for 'beta' branch.

Ah I see what you mean, just let the RC version roll upwards and never reset? Should work fine aswell.
Might confused our users though:
- 6.17.0
- vs
- 6.17.29403

[2018-10-04 23:59] F-ck-ngFedUp commented on #2108
Just when I was about to give up for the night... I'VE GOT IT WORKING!!

I've also now done this three times, it's totally reproducible.

Installing the first time is complaining about the power management.
Running dietpi-config doesn't work - says connection available, but disconnected. Trying to go into setup crashes out with the power-management error.
Unplug USB hub, replug USB hub
Running die

[2018-10-05 00:24] Fourdee commented on #1927
@MichaIng

Yep, makes sense, i'll make the change.

[2018-10-05 00:40] MichaIng commented on #2108
@F-ck-ngFedUp
_______________________
Lol my reply came too late. However I'll leave it in place.

Still strange error, but glad the workaround works for you.
Perhaps an self-powered USB hub does not like max USB power setting?
@F-ck-ngFedUp
So the error appears now on every reboot? If yes, could you try to disable the max USB current setting in `dietpi-config` > `Advanced`  and see if this change

[2018-10-05 01:08] MichaIng commented on #2083
@Fourdee
I though to reset rc version to 0 on next subversion raise in dev branch.

Possible that dietpi-update needs little fix for this, although can't find a reason. But need to have a fresh look into it tomorrow. Idea:
- Check for available subversion update and apply in case.
- If no subversion is available, check for rc version update and reapply current subversion patch in case.
- After eve

[2018-10-05 01:23] Fourdee commented on #1927
@MichaIng

Done, cleaned up and now sourced vars.

Tested fine.

[2018-10-05 01:24] Fourdee commented on #1827
@userdeveloper98

Hope you get a new PC soon, would be excellent to have benchmark results available on the Java survey page 👍

[2018-10-05 02:36] Fourdee commented on #2103
Ok RPi tests:

#### Same network:
STATIC
- 🈯️ Pings fine
- 🈴 No gateway from ``` ip route```
[code]

#### Different networks (hotspot)
DHCP
- 🈴 Ping fails
[code]
- 🈴 No gateway from ``` ip route```

---

So it appears routing is limited, when 2 adapters are connecting. Only ```eth``` is usable, unless the ```wlan``` is on same network, which can route through ```eth```?.

[2018-10-05 02:47] Fourdee commented on #2103
So issue appears device wide.

Seems solution is to setup a routing table:
https://askubuntu.com/questions/868942/how-to-configure-2-network-interfaces-with-different-gateways

However, I do not know enough about it, to implement it at this time.

The current solution, is to ensure only 1 hardware network device is enabled. EG: once WiFi is setup, disable the ethernet device via ```dietpi-config``

[2018-10-05 02:49] frankdugan3 commented on #2103
OK, thanks for digging deep into it!

[2018-10-05 04:34] F-ck-ngFedUp commented on #2108
I wiped the Raspbian image when I re-flashed DietPi.

Could there be something in Raspbian that forces it to re-scan the USB devices? It seems to be removal and reinserting that solves the issue on DietPi - maybe something in raspi-config triggers that when executed? I'm guessing, if this hasn't happened with others, it's something specific to this chipset combination.

[2018-10-05 11:21] Lanneer487 commented on #2110
I get this, so still an error

root@RaspberryPi:~# dietpi-process_tool 1
[  OK  ] Root access verified.
Exception caught
Exception: [download_helper.cc:420] errorCode=1 Unrecognized URI or unsupported protocol: 0

Too many arguments
cron: can't lock /var/run/crond.pid, otherpid may be 1478: Resource temporarily unavailable
/DietPi/dietpi/.dietpi-process_tool: line 5: JackettConsole.exe: command no

[2018-10-05 15:42] MichaIng commented on #2110
Very strange, there are still the wrong entries in `.dietpi-process_tool`.

Could you please paste output of:
`cat /DietPi/dietpi/.dietpi-process_tool`

[2018-10-05 17:37] Lanneer487 commented on #2110
This is what I get

root@RaspberryPi:~# cat /DietPi/dietpi/.dietpi-process_tool
aria2c 0 0-3 SCHED_OTHER 0
avahi-daemon 0 0-3 SCHED_OTHER 0
cron 0 0-3 SCHED_OTHER 0
dropbear 0 0-3 SCHED_OTHER 0
JackettConsole.exe 0 0-3 SCHED_OTHER 0
proftpd 0 0-3 SCHED_OTHER 0
Radarr.exe 0 0-3 SCHED_OTHER 0
NzbDrone.exe 0 0-3 SCHED_OTHER 0
transmission-daemon 0 0-3 SCHED_OTHER 0
lighttpd 0 0-3 SCHED_OTHER 0
php-fp

[2018-10-05 18:00] MichaIng commented on #2110
@roelfoubert
Yeah that is the old style. And if you remove this file and rerun process tool, it looks the same again?

[2018-10-05 18:27] MichaIng commented on #2108
@F-ck-ngFedUp
No idea about USB rechecks on Raspbian. At least I am not aware of those and we would not remove them in DietPi image preparation. Only thing I can imagine is that some APT/deb package has this included. For this reason it makes sense we investigate on fresh Raspbian image, check boot/sys logs and see what happens there related to USB devices.
`usbutils` at least is present on DietPi

[2018-10-05 18:38] MichaIng commented on #2105
@Fourdee
Lol, raspi-config found the same issue as above with tput and redirection of STOUT and STERR: https://github.com/asb/raspi-config/blob/master/raspi-config#L11

They solve it with variables that estimate terminal size in the first place.

So yeah we could do:
[code]
And then make G_WHIP_INIT() use those values, if present instead of trying to re-estimate.

[2018-10-05 18:55] MichaIng commented on #2106
@jundar2001
Did it work meanwhile?

[2018-10-05 19:04] MichaIng commented on #2094
dietpi.com uses cloudflare as will for some weeks :thinking:. I think it's true that such is always a trade-off between security and privacy. There might be better solutions, but I would leave such decision to end user. See no reason to not offer that as on option into DietPi.

[2018-10-05 22:29] Fourdee commented on #548
@MichaIng

Server upgraded to 4GB + 4cores. But performance sucks.

Server was pretty much idle, 35 seconds for CPU test.

Gonna upgrade the CPU power rating + £4/month

EDIT: done
Now 13 seconds for CPU test!!!! 🥂

[2018-10-06 00:37] Lanneer487 commented on #2110
I always get the same error

[2018-10-06 00:46] Fourdee commented on #1827
Ok issue,

```dd``` reports in human readable automatically. So GB/s results can also be scraped.

Cant find a way to output ```dd``` with forced MB/s, so, we need to check and convert output manually:
[code]

🈯️
![image](https://user-images.githubusercontent.com/7077026/46565782-746e2980-c90b-11e8-9a90-61f552fe5de9.png)

[2018-10-06 01:55] Fourdee commented on #1827
ASUS TB, always fails to upload survey?
[code]

Missing from PREP, will send commit to resolve.

[2018-10-06 03:11] #1827 closed, assigned to MichaIng

[2018-10-06 03:25] F-ck-ngFedUp commented on #2108
To be honest, since it started working, I didn't want to mess with the settings again, lol

On Raspbian they've updated raspi-config - the second option is Network Options, and I think the second option again is WiFi - it just asks you for the network SSID and then the password, then goes back to the menu and is magically connected so you can run update.

I've got a few more MicroSD cards coming s

[2018-10-06 12:06] MichaIng commented on #1827
@Fourdee
Whoopsie, current RPi and VBox images are affected too?

Should we add `ssh.dietpi.com` to v6.16 patch on master branch, to fix the issue for users with 1st run update until v6.17 release?

[2018-10-06 14:53] MichaIng commented on #2067
@Dr0bac
Whole steps:
[code]
€: Ah, when you already used transmission, the config file will be owned by root, thus the following is needed to start the daemon with above:
`chown debian-transmission:debian-transmission /etc/transmission-daemon/settings.json`

I will also test now myself 🙂.
🈯️ Jep, now files are created correctly. We will add the group via:
[code]
This allows APT in case to update t

[2018-10-06 18:33] MichaIng commented on #1927
@Fourdee
Currently upload is done automatically, so no "optional uploads". Can we have a switch to have results saved locally or upload them? Or two separate selections for bench only and upload only?

I am thinking as well, if it is okay to bench single devices as well, e.g. CPU only, but then we need to handle empty entries in report.

And currently on VM, 1° CPU temperature is shown. Would be g

[2018-10-06 18:59] MichaIng commented on #2089
@symbios24
Fixed the plex issue: https://github.com/Fourdee/DietPi/commit/7abf38d3eae5596f229d612702f108fd87982e04
Changelog entry: https://github.com/Fourdee/DietPi/blob/17447c6061fd694b945d1879ab933ae8009790f6/CHANGELOG.txt#L29

It was due to plex processes having white spaces in their names, which broke `pgrep` PID checks.

Would be great if you could apply this tiny change as well to your `/Di

[2018-10-06 22:12] MichaIng commented on #2067
PR up for changing Plex + Transmission run as group "dietpi": https://github.com/Fourdee/DietPi/pull/2117

[2018-10-06 22:12] MichaIng commented on #350
PR up for changing Plex + Transmission run as group "dietpi": https://github.com/Fourdee/DietPi/pull/2117

[2018-10-07 00:42] sdubrick commented on #2075
I just wanted to mention that I was having issues with my Odroid C1 not connecting eth0 on startup in v6.16, and the workaround didn't fix it (see https://dietpi.com/phpbb/viewtopic.php?f=11&t=5116).  The changes @Fourdee checked in here DID fix it though, thanks.

[2018-10-07 01:11] MichaIng commented on #2075
@sdubrick
The `systemctl start networking` inside preboot script was the change that finally fixed it for Jessie systems (G_DISTRO=3), if one does not want to apply all those changes 😉: https://github.com/Fourdee/DietPi/blob/be64a2c84aae9215de1bce6d2684f2d84a1bbd1d/dietpi/preboot#L269-L274

[2018-10-07 04:55] Fourdee commented on #2089
@symbios24 @MichaIng

🈯️ Issue resolved for v6.17, with following commit:
https://github.com/Fourdee/DietPi/commit/3cddaed25cee948a9f1346df6f4e167149bec5d6#diff-7e4ac76a426f5cc1dd4b18222d378606

🈯️ Verified with local testing.

Completed.

[2018-10-07 04:55] #2089 closed, assigned to Fourdee, MichaIng

[2018-10-07 05:04] Fourdee commented on #1927
@MichaIng

The whole purpose of this was to reduce available options, and, support benchmark uploads via 1 menu item.

I removed the option to manually run CPU/rootfs/RAM as its contained within the suite option, which, we want users to run as share/view their results.

Yep, intended, its part of the survey. However, we should change the "Ok" to run bench, have it a "Yes/No":
![image](https://user

[2018-10-07 05:09] Fourdee commented on #1927
🈯️
![image](https://user-images.githubusercontent.com/7077026/46578438-f50a5400-c9f7-11e8-84a9-00585a8e3f73.png)

[2018-10-07 05:19] Fourdee commented on #2110
@roelfoubert

pgrep: only one pattern can be provided
Try `pgrep --help' for more information.

Is a known issue with v6.16, apologies.

It is resolved for v6.17: https://github.com/Fourdee/DietPi/issues/2089#issuecomment-427625930

We are hoping to open v6.17 beta testing to public users next week. Until then, the other option is to edit the following file:
[code]

Find the following line:
[code]

[2018-10-07 05:23] Fourdee commented on #2110
@roelfoubert

[code]

Which version of DietPi are you running? The above fix may not be the solution.

[2018-10-07 05:32] Fourdee commented on #2108
@MichaIng

[raspi-config.zip](https://github.com/Fourdee/DietPi/files/2453649/raspi-config.zip)

- Seems they are using ```wpa_cli``` to set ```wpa_supplicant.conf```
Adds following entry to  ```wpa_supplicant.conf```
[code]
- Does not support scanning for SSID's, must manually type in SSID.

[2018-10-07 06:29] Fourdee commented on #1927
Completed.

[2018-10-07 10:05] FusionPlmH opened #2118 "Update readme？？"
about the branch of dev ,beta ,stable

[2018-10-07 13:03] Lanneer487 commented on #2110
I'm using the latest version 6.16

[2018-10-07 13:06] Lanneer487 commented on #2110
changing the line in /DietPi/dietpi/dietpi-process_tool fixed my problem

[2018-10-07 13:34] MichaIng commented on #2110
@roelfoubert

I am confused now. Maybe there was some disk async reason for `/DietPi/dietpi/.dietpi-process_tool` not being updated, or patch went wrong. However if you face no error messages any more, process tool seems to have successfully overwritten it's config file for fix.
________________
There were two issues:

The fix above should have solved only this part of your posted terminal output:

[2018-10-07 13:39] MichaIng commented on #2089
Two fixes in parallel, however no problem, since both are exactly the same 😄.

[2018-10-07 13:53] MichaIng commented on #2108
@F-ck-ngFedUp

Ah so the error does not occur on reboot any more, was just present on first boot?
Jep then leave it as it is!

Okay, seems I am on an outdated raspi-config repo, since there are not network options inside 😄:
https://github.com/asb/raspi-config/blob/master/raspi-config#L952-L960
_____________
Jep this one is the correct one, whoopsie 😅: https://github.com/RPi-Distro/raspi-config

Th

[2018-10-07 15:22] MichaIng commented on #2118
@LeeMenHin
Info is available on: https://github.com/Fourdee/DietPi/blob/dev/TESTING-BRANCH.md
- But yet, not yet on default master branch. We will do that, once we officially announce the new beta testing system (+versioning and updateing). It is still in internal testing phase.

However file name could be updated (BRANCH_SYSTEM.md or something like that?) and/or the included info could be indeed

[2018-10-07 15:40] MichaIng commented on #1927
@Fourdee

Hmm, I still think we should allow to run benchmarks without upload. Even that our survey is anonym and safe, I don't like it from end user perspective to be forced to transfer any data. Nothing against reducing options for simplicity, but there should be always a choice, if it's about sharing your data.
E.g. I purged free version of 3dmark instantly from my Windows, after recognizing th

[2018-10-07 18:35] jundar2001 commented on #2106
Tried a reinstall, works perfectly. Thanks for the help!

[2018-10-07 18:35] #2106 closed, assigned to MichaIng

[2018-10-07 19:25] MichaIng commented on #2110
@Fourdee
The fix opened another issue:
[code]
Whole loop into need to be in double quotes, otherwise if process name matches multiple processes, their IDs will be in one line.

[2018-10-07 20:36] Fourdee commented on #2110
@MichaIng

Works fine for me on Stretch:
[code]

[code]

You running Jessie?

---

Neither of these work:
[code]

So, unless we can find out solution, we'd need to ```> tmp``` then read that.

[2018-10-07 20:43] MichaIng commented on #2110
@Fourdee
Hmm strange, issue appears on Jessie yes, dropbear process. Hmm actually the error makes sense, since without double quotes, all output is in one line, thus should be "591 6444" in this case 🤔.

However, `"$(pgrep -f "${aPROCESS_NAME[$i]}")"` (doubled double quotes) works in all cases. I am already fixing it, just doing some other stuff as well.

[2018-10-07 20:47] Fourdee commented on #2110
@MichaIng

So it does 👍  could of sworn I tried that earlier and it didn't work (probably not enough coffee!) 🤣. Working fine now with above :)

[2018-10-07 20:53] Fourdee commented on #1827
@MichaIng

Yep, done 👍 https://github.com/Fourdee/DietPi/commit/f30746e867bf2e8afdfe7486829060eb510f4d3c#diff-80dee702d26909604441f6260ba5ba00

[2018-10-07 20:54] MichaIng commented on #2110
Okay PR up: https://github.com/Fourdee/DietPi/pull/2119
- As well I replaced many awk/sed calls with ${varXXX} manipulations. Should speed up the script.

[2018-10-07 21:11] Fourdee commented on #1927
@MichaIng

Thought the same eariler.

~2 tests:~

Ok so:
- Opted in = automatic upload of scores
- Opted out = Prompt to opt in, if user still opted out, no upload, however, scores are now shown after test.

I'll make the change.

[2018-10-07 21:43] Fourdee commented on #2110
@MichaIng

Issues are now resolved, i'll mark this as closed.

[2018-10-07 21:43] #2110 closed, assigned to Fourdee, MichaIng

[2018-10-07 21:57] Fourdee commented on #1927
Completed.

[2018-10-07 21:57] #1927 closed, assigned to Fourdee, MichaIng

[2018-10-07 22:05] Fourdee commented on #2118
@MichaIng

Yep 👍

And we'd need to keep the old file, redirect to new one (as linked in forums etc)

I'll make the change
🈯️ https://github.com/Fourdee/DietPi/blob/dev/BRANCH_SYSTEM.md#steps-to-use-the-dietpi-beta-branch

[2018-10-07 22:07] Fourdee commented on #2118
@LeeMenHin

As @MichaIng mentioned, we are still developing the beta system for DietPi. We are aiming to release this to the public in the next few days. Once its ready, i'll post on our Twitter page with the info https://twitter.com/DietPi_

I'll mark this as completed.

[2018-10-07 22:07] #2118 closed, assigned to nobody

[2018-10-07 22:14] Fourdee commented on #2079
@MichaIng

Nice 👍

Although my issue is with any performance impact. The RPI 1/Zero is borderline slow with ```dietpi-software``` list generation. Any slower and it will become painful lol.

I think for simplicity and keeping current performance, we simply need to add ```:``` manually to ```G_WHIP``` items as we see them?

[2018-10-07 23:02] MichaIng commented on #2079
@Fourdee
Okay for now, as mentioned, there seem to be some other parts where we can improve performance. Then we do some tradeoff with the above 😉.

[2018-10-07 23:15] MichaIng commented on #2118
@Fourdee
We could also search the forum for links and fix them. In case of `TESTING-BRANCH.md` this should not be much, if anything.

[2018-10-08 00:27] MichaIng commented on #2085
@Millichrome
Btw. many thanks for your guide.

However some remarks, to have this running better on DietPi:
- For security reasons, run qbottorrent service with it's own user and for cross-access reason with group "dietpi". This allows download managers, sonarr and such, as well as media libraries/players to access the downloads of qbittorrent.
Add user: `useradd -rm qbittorrent -G dietpi -s /usr/

[2018-10-08 00:44] MichaIng opened #2121 "General | www-data in sudoers?"
@Fourdee
https://github.com/Fourdee/DietPi/blob/dev/dietpi/func/dietpi-set_software#L320-L327

What for do we need this?
For my impression it's a security issue, especially with NOPASSWD.

Should be never required for www-data to use sudo, besides, Allo GUI needs to access system function?
In case at least we should only add this to Allo GUI images.

[2018-10-08 02:06] MichaIng commented on #1144
@LexiconCode
Okay I added `chmod 777 /var/tmp` to our setpermissions function, which will run after every dietpi-software execution. As well it will be done on v6.17 update once:
https://github.com/Fourdee/DietPi/commit/9d494801393d43de43c7a0ead9ef649a41773f52
https://github.com/Fourdee/DietPi/commit/009f26a54bfef10f57e1e58ca68f346037d5d008

🈯️ Verified this being the default on fresh Debian insta

[2018-10-08 02:06] #1144 closed, assigned to nobody

[2018-10-08 02:34] james-b-nz commented on #2102
Hi,
I just installed DietPi on a NanoPC T4 with an Intel NVME 600p SSD. I can confirm that the 6 partitions exist by default for this configuration as well:

[code]

For anyone interested the results in the DietPi benchmark for the above drive is:

![intel_600p_benchmark_dietpi](https://user-images.githubusercontent.com/43942434/46590339-02fec880-cb0f-11e8-9756-b5cec5088d12.png)

[2018-10-08 12:20] DasClarky opened #2122 "RE: XU3/4 Autostart Network"
## Creating a bug report/issue: Network doesn't come up on start since 6.15.

#### Required Information:
- DietPi version	| 6.14
- Distro version	| `echo $G_DISTRO_NAME` or `cat /etc/debian_version`
- Kernel version	| `uname -a`
- SBC device		| oDroid XU4
- Power supply used	| (EG: 5V 1A RAVpower)
- SDcard used		| (EG: SanDisk ultra)

#### Steps to reproduce:

1. ... Turn the device on after 6.15

[2018-10-08 12:33] DasClarky commented on #2122
Made a script to restart it, working now on boot

[2018-10-08 17:28] lucario1001 commented on #1171
any news yet? @sal666

[2018-10-08 19:29] MichaIng commented on #1171
I reopen the issue:
- Maybe we can create a new official UEFI image, based on tweaked Clonezilla to allow target drive selection.
- Hopefully include a fix to allow install on at least 4GB drives. Should be possible, by reducing to included DietPi image first via e.g. zerofree and reducing partition size to minimum?
- However I have really no experience with Clonezilla sadly.

[2018-10-08 20:42] sal666 commented on #1171
@MichaIng
Good idea.
I've managed to create an image that is restorable to a drive as small as 1GB. It's just a question of taking the image from a smaller drive. It seems that Clonezilla is able to resize target partitions, but limits this to target drives not smaller than one half the source drive.

I was trying to upload an updated v6.16 image, but I don't know how to sysprep DietPi after updat

[2018-10-08 21:23] ghost opened #2124 "5Ghz hotspot on RPi 3B+ | Improved performance with wme + dietpi-process_tool"
## Creating a bug report/issue:

#### Required Information:
- DietPi version	| `v6.16`
- Distro version	| `9.4`
- Kernel version	| `Linux DietPi 4.14.70-v7+`
- SBC device		| `RPi3b+`

#### Additional Information (if applicable):
- Can this issue be replicated on a fresh installation of DietPi? yes

#### Steps to reproduce:

1. Install WIFI Hotspot
2. Configure it for 5Ghz
3. Start the Hotspot

###

[2018-10-09 05:36] Fourdee commented on #2121
@MichaIng

Agree, needs removing.

Cant remember the exact reason its been added, however, there would of been a valid reason for its addition.

Lets remove, then debug if a software title/feature fails because of it.

It originally was part of DietPi-Software:
https://github.com/Fourdee/DietPi/commit/ede9c9ca5e48219e58537f07b23c57496e6400b7#diff-75d41fd45b4a2b1cf68db90275ef7394

[2018-10-09 05:40] Fourdee commented on #2121
Patched for removal in v6.17 update.

Completed.

[2018-10-09 05:40] #2121 closed, assigned to nobody

[2018-10-09 06:18] Fourdee commented on #2124
Test:
- Internet = 100Mbit down 10Mbit up
- Client device = Redmi Note 4X
- 2.4GHz | 10-20Mbit down, 6Mbit up
- 5GHz | 30-55Mbit down, 6Mbit up
- Command to debug hostpad = ```/usr/sbin/hostapd -P /run/hostapd.pid /etc/hostapd/hostapd.conf -d``` | no errors found

The speed drops when this message appears (hostapd -d):

I was unable to notice this having any effect on my tests.
I did notice that s

[2018-10-09 08:00] Fourdee commented on #2102
@james-b-nz

Thank you for testing and confirming 👍

Ticket now resolved.

[2018-10-09 08:04] Fourdee commented on #2122
Reopened for testing.

[2018-10-09 08:11] Fourdee commented on #2108
Marking as closed due to:
- Unable to replicate
- User reports issue now resolved
- Added auto back-slashing for SSID saving to ```wifi.db```, as per KEY.

Please reopen if required.

[2018-10-09 08:11] #2108 closed, assigned to Fourdee, MichaIng

[2018-10-09 08:25] Fourdee commented on #1171
@lucario1001

To change from ```mmcblk0``` to ```mmcblk1```.

#### Write the image to USB stick/SD, before powering on.
- Edit ```/EFI/boot/grub.cfg```
-- Change all occurrences of ```mmcblk0``` to ```mmcblk1```
- Edit ```/syslinux/syslinux.cfg``` and do the same as above.

Now when you select ```mmcblk1``` from menu, it will install to ```mmcblk1```.

---

Outside of changing those entries (or we

[2018-10-09 08:31] Fourdee commented on #2101
62/63 IRQ appears to be USB bus.
[code]

🈯️
[code]

Following will have no effect as Odroid C2 only has 4 cores/logical threads???
[code]

---

Maybe we could add ```echo 4 > /proc/irq/63/smp_affinity``` if USB DAC is selected on Odroid C2.

---

Or, allow for ```dietpi-process_tool``` of:
[code]

[2018-10-09 09:07] MichaIng commented on #2122
Should be related to: https://github.com/Fourdee/DietPi/issues/2075

However I am thinking if workaround should be better placed into boot script instead of pre-boot, in case some devices need other network tasks to be done?

Also I think this is be something to address to Debian Jessie package maintainer. There should be some possibility to start a systemd service before network without causing a

[2018-10-09 12:45] sal666 commented on #1171
This is the image I've prepared:
[https://ufile.io/yp04k](https://ufile.io/yp04k)

 To install just unzip to an empty pendrive and then boot from it on target machine.

Basically it's [this image](http://dietpi.com/downloads/images/DietPi_v6.0_NativePC-EFI-x86_64-Stretch.iso) with this changes/additions:
1. Restorable on small disks (tested successfully on 1GB pen drives).
2. Destination drive is

[2018-10-09 13:41] MichaIng commented on #2122
@Fourdee
Whoopsie found an issue in how we applied the fix:
https://github.com/Fourdee/DietPi/blob/b2d16a6febf35da8be53dea17e5bfe3cff5555de/dietpi/preboot#L255-L257

This is inside: `Apply_DietPi_FirstRun_Settings()`
Of course it needs to be done on every boot.
- Also I will open PR to move this to boot instead of pre-boot, after all other possible network steps are finished.
- `killall -w dhclien

[2018-10-09 17:43] ghost commented on #2124
Fixed with wme + dietpi-process_tool settings! Thx

[2018-10-09 18:48] MichaIng commented on #2124
@piekay
Great it works!

What you mean by `wme`?

Note that your hostapd has now absolute max priority over every other task. Keep an eye on `htop` by times, how much CPU time is used by hostapd, especially, if you face performance decrease of other software.

[2018-10-09 19:04] MichaIng commented on #2101
@Fourdee

Sounds good. This means that it will only use CPU3? Couldn't it be configured to allow usage of all CPUs/threads actually?

Better not mess with is via dietpi-process tool, I think it's okay to solve this for those devices only, where we know it's an issue.

[2018-10-09 19:43] ghost commented on #2124
Wireless Multimedia Extensions

Add this to /etc/hostapd/hostapd.conf:
`wme_enabled=1
wme_ac_bk_cwmin=4
wme_ac_bk_cwmax=10
wme_ac_bk_aifs=7
wme_ac_bk_txop_limit=0
wme_ac_bk_acm=0
wme_ac_be_aifs=3
wme_ac_be_cwmin=4
wme_ac_be_cwmax=10
wme_ac_be_txop_limit=0
wme_ac_be_acm=0
wme_ac_vi_aifs=2
wme_ac_vi_cwmin=3
wme_ac_vi_cwmax=4
wme_ac_vi_txop_limit=94
wme_ac_vi_acm=0
wme_ac_vo_aifs=2
wme_ac_vo_cwmin=2

[2018-10-10 02:29] Fourdee commented on #2102
Friendly ARM have confirmed this is an issue with the kernel configuration. They have fixed it here:
https://github.com/friendlyarm/kernel-rockchip/commit/a3c93d1b469401211e66fdec965810c1a41087f9

@carlosedp

Any chance you'd be willing to update the NanoPC-T4 kernel for our images, to include the above fix?

Its not critical, as we have a workaround in DietPi code to compensate for block layout,

[2018-10-10 03:07] mdoary opened #2126 "Sickrage fresh install will not start"
## Creating a bug report/issue:

#### Required Information:
- DietPi version	1.16
- Distro version	stretch or 9.4
- Kernel version	Linux DietPi 4.14.70-v7+ #1144
- SBC device		RPi 3 Model B (armv7l)
- Power supply used	5V 2.5A
- SDcard used		SanDisk ultra)

#### Additional Information (if applicable):
- Software title	Sickrage
- Was the software title installed freshly or updated/migrated? Have te

[2018-10-10 13:01] MichaIng commented on #2118
We could also add/move those information to the Wiki instead. Perhaps it's better places there instead of being part of the update archive.

[2018-10-10 13:14] dummylabs opened #2127 "Drive Manager fails to switch / partition to read-only complaining to existing swap file while the swap is disabled"
#### Required Information:
- DietPi version	6.16
- Distro version	9,14
- Kernel version	Linux DietPi 4.14.73+ #1148 Mon Oct 1 16:41:23 BST 2018 armv6l GNU/Linux
- SBC device		RPi Zero W (armv6l)
- Power supply used	5V 2.5A Odroid Power Supply

#### Additional Information (if applicable):
- Can this issue be replicated on a fresh installation of DietPi: Yes

#### Steps to reproduce:
1. Disable swap

[2018-10-10 20:28] MichaIng commented on #2127
@dummylabs
Thanks for your report.

Jep indeed this is a bug our side. I also recognized that in drive_manager swap file flag (the `[x]`) is on, even that swap size is zero. It is just checked the (last stored/chosen) swap location, not the size.

As a quick fix, you can manuall edit the swap file location to at best a non-existing location, /dev/null or something, by editing `AUTO_SETUP_SWAPFILE_

[2018-10-10 21:33] MichaIng commented on #2126
@mdoary
Thanks for your report.

We will try to replicate.
_______________
🈴 Verified bug on Stretch VM:
[code]
- Something about the downloaded archive must have changed.

`drwxr-xr-x 7 root root      520 Oct  9 03:45 SiCKRAGE-master`
- Capitalization of Sickrage repo changed: https://github.com/SiCKRAGE/SiCKRAGE
- Since cases are ignored on web domains/paths, the download does not fail, but the

[2018-10-11 01:23] Fourdee commented on #2127
@MichaIng

Resolved with: https://github.com/Fourdee/DietPi/commit/45d74cbcab438ebc60fa136db9be2234c018a6ca & https://github.com/Fourdee/DietPi/commit/071a84f7dd54e9b6ccf294ffe66e6b098eef83e9

Passed testing.

[2018-10-11 01:23] #2127 closed, assigned to MichaIng

[2018-10-11 01:32] MichaIng opened #2130 "Xorg failing on XU4 with Stretch image"
## Creating a bug report/issue:

#### Required Information:
- DietPi version	| `v6.16`
- Distro version	| `Stretch`
- Kernel version	| `uname -a`
- SBC device		| `Odroid XU4`
- Power supply used	| (EG: 5V 1A RAVpower)
- SDcard used		| (EG: SanDisk ultra)

#### Additional Information (if applicable):
- Software title	| Xorg (related MATE desktop and Kodi failing)
- Was the software title installed

[2018-10-11 01:32] Fourdee commented on #2126
@MichaIng

👍

Been thinking we should rename our repo to DiETPi? 😉 😉 🤣

[2018-10-11 01:36] Fourdee commented on #2126
Test:
[code]

```SiCKRAGE.py```

[code]

[2018-10-11 02:21] Fourdee commented on #2126
Lots of changes needed in our install, due to ```pip install --user -U -r /mnt/ssd/dietpi_userdata/sickrage/requirements.txt```. Install also takes much longer (5min on NanoPC-T4).

Will send commit once testing passed.

And the reason it takes so long to build? Useless ```pip``` does not support multithreading in 2018:
![image](https://user-images.githubusercontent.com/7077026/46777182-8d5d4d00-c

[2018-10-11 04:19] Fourdee commented on #2126
Re-test:
- Install + setup torrent client + online docs check
- 🈯️ ARMv8
- 🈯️ x86_64

Completed. Resolved for v6.17

[2018-10-11 05:49] Fourdee commented on #2118
@MichaIng

If you get the time, go for it 👍

[2018-10-11 11:47] mdoary commented on #2126
What is the workaround until 6.17?

[2018-10-11 13:27] james-b-nz commented on #2102
I've built the latest kernel (4.4.143) from Friendly Elec's source and it does fix that issue:

![screenshot from 2018-10-12 01-43-09](https://user-images.githubusercontent.com/43942434/46806238-9829e780-cdc3-11e8-8e08-e2342919b0a3.png)

Modules are:

[code]

If anyone would like to test it updated image files (excluding rootfs):
~~https://wetransfer.com/downloads/985ba0d51f05f4004466bd74183f9b842

[2018-10-11 15:06] carlosedp commented on #2102
Sorry about the delay guys, I'll build the latest Kernel from Rockchip, 4.4.154. Just finishing up some stuff on my build VM.

[2018-10-11 16:32] S60Team opened #2131 "v6.16 | RPI v1B (256mb RAM)"
v6.16, RPI v1B (256mb RAM), using 8Gb MicroSDHC Class4:
Infinite INSTALL loop after install:
  nginx+sqlite, mc and vsftpd.
and selecting "not to send data".

[2018-10-12 00:29] MichaIng commented on #2131
@S60Team
Thanks for your report.

Can you give us some more details:
- What you mean with `mc`?
- Did you install these software via DietPi-Automation (dietpi.txt settings) on 1st boot? And install loop then, as after reboot, first run setup (+dietpi-software auto install) just runs again?

[2018-10-12 00:41] james-b-nz commented on #2102
So the default kernel config has the Mali driver configured for Android only, I've rebuilt 4.4.143 with the correct options.
Installed the XFCE desktop from dietpi-software and logged in as below:
![desktop](https://user-images.githubusercontent.com/43942434/46841328-a7408200-ce23-11e8-9af9-7597ef20b8b1.jpg)

I included openvswitch and ip_tables for @carlosedp and similar setups although I was aim

[2018-10-12 04:03] dangamboa commented on #1829
I just received my board today, for updating the kernel and such we need to use the rockchip tools? Or as usual using the dietpi software?

[2018-10-12 04:58] symbios24 commented on #2089
Hi, i dont get it what i type in the command line to fix the error?

[2018-10-12 09:02] Fourdee commented on #1829
@LieDanG

Our current image uses a modified kernel of FriendlyARM, provided and maintained by @carlosedp. It includes additions such as CIFS and NFS support.

If @carlosedp can provide an updated kernel, we will update the image. Kernel updates will require a fresh image write.

[2018-10-12 09:05] Fourdee commented on #2131
@S60Team

Hi,

Please also provide us with the make, model, volt, amperage of the PSU used.

[2018-10-12 09:06] Fourdee commented on #2126
@mdoary

None currently, due to the vast changes required to install and configure this software. You'll need to wait for v6.17 beta release (ETA few days).

[2018-10-12 09:17] Fourdee commented on #2124
@piekay

This should be fine for us to add by default (i'll run some tests on g/n), as for the others, needs further research and understanding before we implement.

---

Ok, appears ```wme_enabled=1``` only works with ```hw_mode=a```, g/n causes service to fail. I get between 45-60Mbps with  ```wme_enabled=1``` enabled.

I'll mark this as info/workaround.

[2018-10-12 09:29] Fourdee commented on #2124
I'll mark this as closed/info. Please reopen if required.

[2018-10-12 09:29] #2124 closed, assigned to Fourdee, MichaIng

[2018-10-12 09:51] Fourdee commented on #2130
@MichaIng

Thanks 👍

I'll setup a XU4 and run tests for this and https://github.com/Fourdee/DietPi/issues/2122

[2018-10-12 10:45] Fourdee commented on #350
Test:
- 🈯️ Sonarr > Transmission > Plex playback

@MichaIng

Works a charm, completed 👍

[2018-10-12 10:45] #350 closed, assigned to Fourdee, MichaIng

[2018-10-12 10:47] Fourdee commented on #2122
Unable to replicate on Odroid XU4 with our v6.14 Stretch image, updated to v6.16.

Regardless the network up during boot check added by @MichaIng, will prevent this from occurring in v6.17 for both Jessie and Stretch.

Marking as completed.

[2018-10-12 10:47] #2122 closed, assigned to Fourdee, MichaIng

[2018-10-12 11:16] Fourdee commented on #2130
Confirmed:
[code]

[2018-10-12 11:50] Fourdee commented on #2130
Ok, appears all drivers are installed correctly.

Tried everything in this thread:
https://forum.odroid.com/viewtopic.php?f=9&t=7101

No joy, ```startx -- :0 vt2``` starts X, but sticks in a loop with mouse flicker and blank screen.

This was working previously: https://github.com/Fourdee/DietPi/issues/1552#issue-299707234

No changes to xorg.conf or installed packages as far as I know. Possible a

[2018-10-12 13:14] Lanneer487 opened #2133 "Raspberry pi freezes"
I'm having a problem with my raspberry pi running dietpi. It freezes so al my services don't react and I have to unplug the power to restart. Can someone help me finding the cause?

[2018-10-12 13:24] carlosedp commented on #1829
Hey @Fourdee I've compiled the last Rockchip Kernel version 4.4.154 and uploaded it to: https://we.tl/t-241Gjd7EJN

I've built for the NanoPC-T4 and the Firefly RK3399 (they are named accordingly). Can you replace the files on the packageds here and https://github.com/Fourdee/DietPi/issues/1986 ? Just remember to rename the files to match the AndroidFlashTool config.

The modules are there too.

T

[2018-10-12 13:26] carlosedp commented on #2102
I've uploaded the Rockchip upstream Kernel version 4.4.154 on https://we.tl/t-241Gjd7EJN. Signaled @Fourdee to edit the install packages. Thanks @james-b-nz !

[2018-10-12 15:50] MichaIng commented on #2083
@Fourdee
Do we want to add branch info to `dietpi-banner`, e.g. into the version string line?
`DietPi v6.17.3 (beta)`/`(release)`/`(MichaIng/custom)`

Fourdee/master could be replaced by "release" and Fourdee/beta by "Beta" and "Fourdee/dev" by "development", but all custom owner/branches leave as "<owner>/<branch>". So users clearly know which DietPi version they use.

Only issue is, that we need

[2018-10-12 17:20] michelnas opened #2134 "Image | Kirkwood (armv5tel) devices"
Hi gents,
what a great Job already has been done by all contributers.
DietPi works excellent on my RasPi 2 device.

I wonder, why it is not possible to install it on my old Zyxel NSA310 NAS (CPU Kirkwood armv5tel).
I already installed Debian 9 (Stretch) successfully following the guide from Bodhi in the  [Doozan-Forum](https://forum.doozan.com/read.php?2,12096).

When I then tried to install DietP

[2018-10-12 17:42] dangamboa commented on #1829
I'll wait for the updated image, I tried flashing the current one but I only get a localhost login and can't get past of it, the friendlydesktop image boots fine so I'm not sure what's happening

[2018-10-12 19:23] MichaIng commented on #2134
@michelnas
Thanks for your request.

The issue is a bid similar to x32 (VM/Native PC) or EFI32 images. The answer given there, generally applies to ARMv5 as well: https://github.com/Fourdee/DietPi/issues/1854#issuecomment-401457209

- Jep, especially for older devices, e.g. x32 or ARMv5, DietPi would be great with it's aim to reduce resource usage.
- But sadly, adding support for a new architectur

[2018-10-12 19:30] MichaIng commented on #2133
@roelfoubert
Thanks for your report.

My first assumption would be insufficient PSU, too power consuming USB devices (e.g. SSDs) attached and such.
- Does the freeze occur after a certain time or when doing some special CPU intense task?
- Did another OS (e.g. Raspbian) run well without those issues and with same hardware/periphery attached?

Also please full the full bug report template, add the

[2018-10-12 19:35] MichaIng commented on #2057
We implemented this just the right time. Since Nextcloud v14.0.2 there appear admin panel warnings, if `.well-known/caldav|carddav` is not found 😄:
![dav_redirect](https://user-images.githubusercontent.com/28480705/46890304-a8df6980-ce66-11e8-9415-5a58ac164247.png)

Whoopsie, fixed wrong Nextcloud+Apache redirect conf: https://github.com/Fourdee/DietPi/commit/3d79bc418893ae7574876ccc38fef557f18ef0

[2018-10-12 21:15] michelnas commented on #2134
Hi MichaIng,
many thanks for your very fast feedback on that topic.
I can completely understand it in terms of supporting "outdated" hardware.
I posted a request of assist at the [Doozan Forum](https://forum.doozan.com/read.php?2,69754).
As I'm just a user (noob) I hope somebody of them can support.

I think that the Kirkwood hardware is strong enough to support most of the DietPi capabilities/opp

[2018-10-12 22:22] MichaIng commented on #1286
Next dangerous Raspbian repo bug:
<details>

[code]
</details>

- `perl` update, but required `libperl` update is missing
- `perl-base` update, but dependency update of it's dependants missing => all `perl-base` dependants will be removed on unattended apt-get dist-upgrade
- `libaprutil1` child package updates, but `libaprutil1` update itself forgotten...

Again, never faced something similar on D

[2018-10-13 01:59] MichaIng opened #2135 "DietPi-Globals | G_* functions do (again/still) not run with "sudo -i/-E""
🈴 Recheck:
[code]
🈯️ But:
[code]

[code]
- `-i` at least is not needed any more, since `dietpi-globals` are loaded now via bashrc instead of profile, thus on every interactive shell, not just login shells. `-i` makes sudo open a login shell (calls profile[.d/], `-s` just a normal interactive one (calls bashrc[.d/] only).
- But it seems a real interactive shell needs to open, which is not the case

[2018-10-13 05:18] MichaIng commented on #2079
PR to speed up G_WHIP: https://github.com/Fourdee/DietPi/pull/2136

[2018-10-13 09:14] Fourdee commented on #2079
@MichaIng

Thanks 👍

Issue with missing text:
https://github.com/Fourdee/DietPi/pull/2136#issuecomment-429524800

[2018-10-13 09:18] Fourdee commented on #1286
@MichaIng

From past experience, with RPi, wait for their official Buster image before we support it. They have their own repo, which they must iron out.

[2018-10-13 09:20] Fourdee commented on #2102
@carlosedp

Legend, thank you 👍

Reopened to update images.

---

Note to self:
- NanoPC, SD install, update rootfs to 6.16. Read, package rootfs for RK.

[2018-10-13 09:25] Fourdee commented on #2094
@MichaIng

Agree, will mark this as closed.

[2018-10-13 09:25] #2094 closed, assigned to nobody

[2018-10-13 09:32] Fourdee commented on #2083
@MichaIng

DietPi v6.17.3 (beta)/(release)/(MichaIng/custom)

I believe for dev/beta we can add additional info. But with master branch, leave as is to keep it clean:
[code]

Exactly 👍. I added a global for branch ```G_GITBRANCH```, we could probably do the same for ```G_GITFORK```.

Performance wise, should be faster to store/read the above info in ```.version``` as dedicated line. Might be worth

[2018-10-13 09:37] Lanneer487 commented on #2133
The freeze doesn't occur after a certain time but randomly.
I've installed the following software:
Netatalk
homebridge
plexmediaserver
sonarr
radarr
jackett
transmission
aria2
proftp
rpi-monitor
home-assistant

yesterdag I stopped a couple of services like sonarr and radarr and the pi stays online without any freeze. I think it's just a bit to much for 1 pi to handle.

[2018-10-13 11:42] Fourdee commented on #1285
Changes to PREP run script, for v6.17 release:
[code]

[2018-10-13 11:58] Fourdee commented on #2079
New format:
- ```:``` on all 2nd array items at start
- ```[ ]``` indicates a changeable option, with current value inside.
![image](https://user-images.githubusercontent.com/7077026/46905162-b7219a00-cee7-11e8-8b60-20ce3805d58f.png)

[2018-10-13 12:26] Fourdee commented on #2133
@roelfoubert

Depends on the hang. If its a soft hang (eg: delay due to CPU/IO overheads), that recovers over time, its fine and a limit of the device.

If the hang does not recover, could be due to faulty hardware.

Please state power supply used and SD card used.

[2018-10-13 12:27] Fourdee commented on #2083
🈯️ Updated ```.version``` to be source-able.

[2018-10-13 12:28] Lanneer487 commented on #2133
when it hangs it does not recover.
I use a original raspberry pi 2.5A power supply and use a usb as boot device

[2018-10-13 12:43] Fourdee commented on #2133
@roelfoubert

When the system has run for a bit, check ```htop``` for memory usage (take a screenshot).

May need to increase the swapfile size.

Which USB pen drive used?

[2018-10-13 12:59] Lanneer487 commented on #2133
now running for 1,5 hours
<img width="1920" alt="schermafbeelding 2018-10-13 om 14 56 58" src="https://user-images.githubusercontent.com/9874656/46905801-f6a4b200-cef8-11e8-98f2-53d9452c7bfa.png">

 i'm using this usb drive :https://www.integralmemory.com/product/fusion-usb-3-superspeed-small-metal-flash-drive

[2018-10-13 15:20] S60Team commented on #2131
mc is MidnightCommander. No, i've not used auto-install.
PSU is CinkeyPro USB 5v (2A + 1A, 2 ports).
PS: After re-formatting my sdcard i've tried to install OS again.
Installation was successful, but it it taken many time, because of some files was overwriting.

[2018-10-13 15:44] MichaIng commented on #2079
@Fourdee
Fixed with: https://github.com/Fourdee/DietPi/commit/6570a9949f84f18d68f8476061f1796814cfb25d

However somehow found another issue:
- $WHIP_MESSAGE is not shown, debug:
[code]
[code]
- `lines_required_whip_y` increase is lost outside the while read loop 🤔. Strange since we used this as well before...
- Found issue: `echo ... | while` seems to open subshell for the loop, and variables assi

[2018-10-13 16:05] MichaIng commented on #2083
@Fourdee
Great commit! Looks way more consistent like this. Tiny remark:
- Having this branch selection renders adding at least manual `G_GITBRANCH` export to PREP useless, besides one can cancel the whip menu.
- Furthermore we cannot assure that on every `G_GITOWNER` repo these branches are available.
- Easiest would be properly to only ask for this, if `G_GITBRANCH` and `G_GITOWNER` were not exp

[2018-10-13 16:55] MichaIng commented on #2083
@Fourdee
Sugar plums!, accidentally committed to dev instead of PR: https://github.com/Fourdee/DietPi/commit/f62675e0ceaf93d4720db22d2c4b29dddecb0888

However will do some testing with this.
**€:
🈯️ VM Jessie, from v6.17.3
🈯️ VM Stretch, from v6.17.3, from v6.0
🈯️ VM Buster, from v6.17.3**
____________
Needed to send some more commits to bring consistency inside and fix some patches that break the

[2018-10-13 20:50] Atavic commented on #2133
There's a PDF on the USB drive page:

Maybe you reached it?

[2018-10-14 00:14] MichaIng commented on #1827
@Fourdee
Just made some debugging and cleanup of survey files:
- 5 files contained version string `6.G_DIETPI_VERSION_SUB`
- 2 files contained version string `.12`
- 1 HW_ARCH_DESC `NULL`
- 1 HW_ARCH_DESC `(Unknown)`

Removed those rare cases, the first ones are most likely dev systems.

Then, for debugging installed software, I changed `aSOFTWARE_NAME[x]='NULL'` to `unset aSOFTWARE_NAME[x]` to fo

[2018-10-14 01:44] ezekini commented on #1246
I would really like this addition. Sickrage is going down badly and a huge part of sickrage users are moving to Medusa or SickChill.
https://www.reddit.com/r/sickrage/comments/9ll427/echelon_attempting_hostile_takeover_again/

[2018-10-14 01:46] ezekini commented on #2126
Beware of the problems sickrage is having right now. It may or may not be worth it to maintain this software option in Dietpi.....
https://www.reddit.com/r/sickrage/comments/9ll427/echelon_attempting_hostile_takeover_again/

[2018-10-14 02:23] Millichrome commented on #2085
I will try this out on my 3B+ and update the guide.

I am still learning linux. :) It makes sense to have different accounts for different services.

[2018-10-14 05:54] theAkito commented on #1285
Greetings,

I want to run this script on my Orange Pi i96, but this device has neither an HDMI nor a LAN interface, so I really rely completely on being able to SSH into this thing over Wi-Fi. How do I make sure that I can connect to the system, after all the _**existing software (APT) and user data will be deleted**_?
I really like the aforementioned idea of predefining user input.

[2018-10-14 10:25] LauWs commented on #1246
Please reopen and add Medusa to the software list.

[2018-10-14 14:08] MichaIng commented on #1285
@Akito13
Currently DietPi-PREP does not run reliably on WIFI-only devices without HDMI. Note: https://github.com/Fourdee/DietPi/blob/master/PREP_SYSTEM_FOR_DIETPI.sh#L5-L9

E.g. if `NetworkManager` is installed, it will be uninstalled, which drops the connection, thus SSH will be lost and script cancelled.
- Just found an open issue about this: https://github.com/Fourdee/DietPi/issues/2054

So eit

[2018-10-14 15:05] Fourdee commented on #2126
@ezekini

Not our concern or agenda. The software stays and Sonarr is also a choice 😉 😉

[2018-10-14 15:26] lupa18 opened #2139 "Error installing cryptsetup in rock64"
## Creating a bug report/issue:

#### Required Information:
- DietPi version	| 6.16
- Distro version	| stretch
- Kernel version	| Linux DietPi 4.4.77-rockchip-ayufan-136 #1 SMP Thu Oct 12 09:14:48 UTC 2017 aarch64 GNU/Linux
- SBC device		| 5V 3A
- Power supply used	| (EG: 5V 1A RAVpower)
- SDcard used		| Class 10 micro SD

#### Additional Information (if applicable):
- Software title	| apt / dpkg

[2018-10-14 16:37] MichaIng commented on #1980
I mark this issue as closed, since we addressed known time sync issues with past updates.

[2018-10-14 16:37] #1980 closed, assigned to nobody

[2018-10-14 16:44] MichaIng commented on #2023
@antiabed
I mark this issue as solved. Please feel free to reopen if we can/should do something when IPv6 is enabled via `dietpi-config`. Note that we handle IPv6 toggle differently now, to keep it enabled in kernel and just disable via `sysctl.conf` for network interfaces: https://github.com/Fourdee/DietPi/pull/2099

[2018-10-14 16:44] #2023 closed, assigned to Fourdee

[2018-10-14 16:51] MichaIng commented on #2055
I will mark this as closed due to missing user reply. However DietPi-Bugreport failed due to /var/log being very large, which might be a software title or system spamming to log due to an issue and being related to the freeze.

Feel free to reopen, especially if a certain misconfiguration can be identified, that we could fix our side.

[2018-10-14 16:51] #2055 closed, assigned to nobody

[2018-10-14 16:54] MichaIng commented on #2082
@symbios24
Thanks for your request. However not that it might take a while, as there are other interesting software requests in the pipe.

Also I think we will not implement any of those with v6.17 where we implement a new Beta system that needs to be announced and tested first.

[2018-10-14 17:03] MichaIng commented on #2139
@lupa18
Thanks for your report.

_( Error does not appear on Jessie or Buster. )_

To fix the issue:
[code]
🈯️
[code]
___________________
Strange that `busybox | busybox-static` is not simply added as package dependency...

On Buster this is the case:
- `cryptsetup` => `cryptsetup-initramfs`: https://packages.debian.org/buster/cryptsetup
- `cryptsetup-initramfs` => `busybox | busybox-static`: http

[2018-10-14 18:42] Fourdee commented on #548
@MichaIng

Beta released to public:
https://twitter.com/DietPi_/status/1051493658971779072

[2018-10-14 19:10] MichaIng commented on #548
@Fourdee
👍 🥂

To make it more attractive to users, we could add the info, that "beta" can be considered similar stable then prior "master"/release, since we internally test dev before merging. So the system is to further improve stability of "master"/release and avoid hotfix updates, not to publicly test in-development features or replace careful own testing by this.

Btw.:
- For the "testing" =>

[2018-10-14 19:28] MichaIng opened #2140 "Open beta v6.17 | Please help to improve stability before next release"
### New open beta launched: Please help bullet-prove testing the upcoming DietPi release!

**€€: Beta v6.17.9 is up with several fixes: https://github.com/Fourdee/DietPi/pull/2166 https://github.com/Fourdee/DietPi/pull/2167**

**€: Beta v6.17.7 is up, which fixed a few issues and resolved the need to manually rerun `dietpi-update` to apply v6.16 => v6.17 patch, see below.**
Related PR: https://git

[2018-10-15 00:09] MichaIng commented on #2079
Added to v6.17 milestone, so we not forget it an apply to scripts that we touch anyway:

[2018-10-15 00:35] dangamboa opened #2142 "NanoPC T4 | Won't boot with rootfs 0x000B2000, might with 0x00030000"
# Solution: https://github.com/Fourdee/DietPi/issues/2142#issuecomment-430492281

---

#### Required Information:
- SBC device		|  NanoPC-T4
- Power supply used	|  12V/2A

#### Steps to reproduce:
Downloaded and flashed image from https://github.com/Fourdee/DietPi/issues/1829#issuecomment-398324420

#### Expected behaviour:
Begin 1st run setup

#### Actual behaviour:
Only get a localhost login scr

[2018-10-15 01:08] MichaIng commented on #2142
@LieDanG
Thanks for your report. Good to open new issue to bring to attention.

I added v6.17 milestone so we do not forget to check, even it seems an image/kernel issue. Read in the other thread, that we can create a new image based on new available custom kernel.

[2018-10-15 02:58] Millichrome commented on #2140
I will this a go on my test 3B+ board.

[2018-10-15 11:58] Fourdee commented on #2131
@S60Team

Thanks for the info. I suspect unstable 5V on the PSU (check ```dmesg | grep undervolt``` ), and/or failing SD card.

To ensure hardware stability, and, full support from our end, please use:
- Official RPi PSU
- Well branded SD card (eg: Sandisk Ultra/Samsung EVO)

As i'am unable to replicate our end, and, a re-flash resolved the issue for you, i'll mark this as closed.

[2018-10-15 11:58] #2131 closed, assigned to Fourdee

[2018-10-15 12:06] Fourdee commented on #2133
@Atavic

Yep, if this is an RPi 3, CPU thermals do leak to USB ports + devices, could be overheating the USB drive which looks prone to overheating.

@roelfoubert

Ok, everything looks fine, no swapfile usage currently. However, RAM is nearly fully utilised due to Mono (Sonarr/Radarr) + Plex.

We could try running without debug mode, however I believe this makes more Sonarr/Radarr unstable.

Try i

[2018-10-15 12:36] Fourdee commented on #2142
@LieDanG

Thanks for the report, very strange, unable to replicate this here.

Could be a bad image write, any errors during write? Which tool are you using to write the images (eg: Android Tool provided in our download).

Regardless, I'am updating this image with new kernel by carlosp, will let you know when its ready for use.

[2018-10-15 13:18] Fourdee commented on #1829
Unable to dump rootfs from device after update. Start is ```0x000B2000```, fails everytime, even on para dump ```0 - 2```
http://chinagadgetsreviews.blogspot.com/2014/09/download-androidtool-v21.html

So, need to PREP, then:
- Backup rootfs
- Compress to tar.gz
- Save to rootfs.img.iso

---

- PREP'd
- ```apt-get update; apt-get install rsync -y```
-
[code]

[2018-10-15 13:37] Lanneer487 commented on #2133
It is a RPi 3.
I increased the swapfile.
<img width="1920" alt="schermafbeelding 2018-10-15 om 15 35 31" src="https://user-images.githubusercontent.com/9874656/46954130-10c4c880-d090-11e8-93ba-e45339d1007e.png">
a screenshot of cpu
<img width="881" alt="schermafbeelding 2018-10-15 om 15 36 55" src="https://user-images.githubusercontent.com/9874656/46954168-29cd7980-d090-11e8-8cfc-d08af4812536.png"

[2018-10-15 14:16] Lanneer487 commented on #2133
With the swapfile edited, the system is slower and the memory usage full.

[2018-10-15 14:42] Fourdee commented on #2142
@LieDanG

Image updated, tested working on my NanoPC-T4, please let me know if this resolves the issue:
https://dietpi.com/downloads/images/DietPi_NanoPCT4-ARMv8-Stretch.7z

[2018-10-15 14:43] Fourdee commented on #1829
@carlosedp

Legend, thanks for updating the kernel for NanoPC-T4. I've updated the image and works a charm:
https://dietpi.com/downloads/images/DietPi_NanoPCT4-ARMv8-Stretch.7z

[2018-10-15 14:45] IvanCaregnato commented on #1829
Hi guys, any chance to get Kodi available on it?

[2018-10-15 15:32] ezekini commented on #2126
Ok... so I updated today to beta v6.17.5 which describes this as fixed in the changelog (great addition to see the changelogs from the terminal), but after trying to install Sickrage, I recieved this error. I don't know if it has to do with a bad previous uninstall (Sorry for the weird format, I couldn't find this error in the logs)

DietPi Error Handler:
 /mnt/dietpi_userdata/sickrage/requirement

[2018-10-15 15:34] dangamboa commented on #2142
There are no errors and I'm writing the image using the Android Tool from your download

This time it says

Dietpi tty1
DiePi Login:

But it happens the same, login with root:dietpi does nothing it returns again to login screen

[2018-10-15 16:21] MichaIng commented on #2126
@ezekini
Thanks for your report. Indeed with the repo renaming and a new fork, there is quite some switching going on with this: https://github.com/Fourdee/DietPi/pull/2143

[code]
- Hmm not sure what causes the error (exit code != 0) here. Does it need to uninstall `simplejson`? php upgrade to 18.1 sound more like a suggestion than a requirement. We need to investigate.

[2018-10-15 17:21] sergiud commented on #1829
@IvanCaregnato I second that. However, this will require working GPU acceleration.

As a side note, I'm not able to run Kodi on FriendlyElec's stock Ubuntu flavored (Bionic) distribution. Kodi stutters heavily. Might be a GPU driver issue though.

[2018-10-15 17:23] IvanCaregnato commented on #1829
yes I've sadly noticed that...even on the "not update" RKMC is pretty unusable

[2018-10-15 18:34] MichaIng commented on #2142
@LieDanG
Hmm, bad that we cannot check autostart index or login script issues, since you cannot access local console easily...

Does login via SSH work, as it looks like you are trying on local console (tty1)?

[2018-10-15 18:48] MichaIng commented on #803
@Fourdee
To clean up old issues, do you have a chance to retest this, also if just an issue on Jessie, or on Stretch as well?

[2018-10-15 19:26] MichaIng commented on #2140
@Fourdee
I summed up all open bugs/known issues above.
Since we are in open beta phase, besides recent/urgent and newly reported issues, we could also have a look on older issues with lower priority.

Either stop with new features/larger enhancements until release, or do not merge them into current beta. So we use the beta phase to calm down dev a bid and instead concentrate on stability, testing

[2018-10-15 20:25] Millichrome commented on #2140
I successfully updated my ASUS tinker board to 16.17 beta. It runs PLEX, qbittorrent, Samba and Pi-hole. Not seeing any issues so far, all applications are working well.

I did have an issue when installing a fresh image of 16.17 beta on my 3B+. I downloaded the latest Raspberry Pi image and changed the channel to "beta" in dietpi.txt. However, when I connected via SSH, the terminal showed that I

[2018-10-15 20:34] dangamboa commented on #2142
@MichaIng
I can't use SSH since the board doesn't get an IP address from the router

It's weird, with the official Friendlyarm image everything works fine, could be a board revision unsupported with current kernel config?

I could try to use it to get some info if that helps

[2018-10-15 20:43] MichaIng commented on #2140
@Millichrome
Thanks for this report.

Indeed I imagine an issue when installing a fresh image and directly switch to beta branch:
- Currently when updating pre-v6.17 to v6.17, `dietpi-update` needs to be rerun manually to apply the new versioning system.
- The new DietPi code is already in place then, but the incremental patches were not yet done. So we manually set version string to v6.16.0 to al

[2018-10-15 21:16] Fourdee commented on #2142
@LieDanG

Interesting, could be a different ethernet chipset, however, carlosp kernel uses the latest FriendlyARM kernel, which, should be the same as FriendlyARM image.

Are you able to connect serial, dump the following command once logged in?
[code]

[2018-10-15 21:18] Millichrome commented on #2140
I see, so it's a purely visual thing. I do remember thinking that the installation process felt a bit more involved than a stable image. :)

[2018-10-15 22:01] MichaIng commented on #2140
@Millichrome
Jep issues are unlikely, but theoretically possible, especially when you choose several software titles for install on first login and/or the image has a very old DietPi version. Also if I checked to code right, currently a reboot after first run update is missing.
So theoretically code with missing incremental patches can lead to issues during dietpi-software applying initial setup a

[2018-10-15 22:52] dangamboa commented on #2142
I found an old usb serial adapter, this is what I get

[code]

After that I get some random characters but I can't type anything, it's from a fresh boot

[2018-10-16 01:47] MichaIng opened #2144 "Beta v6.17 | Autorun 2nd "dietpi-update" to apply v6.17"
Ref: https://github.com/Fourdee/DietPi/issues/2140#issuecomment-430005986
- When `v6.17` update runs on first boot, `dietpi-software` only applies update until `patch_file` terminates for manual re-run. Since terminated, `.update_stage` is not updated, thus `dietpi-software` does not know about applied update and does not force `reboot`. Also it offers to configure system, install software and fin

[2018-10-16 02:01] MichaIng commented on #2144
🈯️ Passed test
![update_test](https://user-images.githubusercontent.com/28480705/46988235-f9b9c100-d0f7-11e8-9f0b-5e5000e76829.png)
[code]

[2018-10-16 02:12] MichaIng commented on #2144
Little error:
[code]

**€: Fix + PR up: https://github.com/Fourdee/DietPi/pull/2145**

[2018-10-16 02:20] Millichrome commented on #2140
**Possible bug:**
WiFi installation doesn't start with a fresh beta image on my 3B+. The device didn't appear on the router WiFi client list during multiple checks after initialization.

Beta image installation via etherenet works great. I can switch to WiFi only after completing the installation via ethernet.

Trying a fresh Etcher image didn't help. I have previously installed DietPi via WiFi wi

[2018-10-16 02:37] MichaIng commented on #2140
@Millichrome
As of what I mentioned above and added to OT: Did you try to install via WiFi but master branch first, then apply beta update after first run setup?

It's too late now for me to go through it, but since we did some changes about WiFi with the last two releases, I think the missing reboot after initial update might lead to code inconsistencies.

About second Ethernet attempt:
- Did you

[2018-10-16 09:33] Fourdee commented on #2142
@LieDanG

Thanks 👍

Appears related to display port, I get the same errors.
[code]

Appears the resize script is failing ```dietpi-fs_partition_resize.service```
[code]

Looks like a bad image write. Try the following in android tool:
- Connect the device is MASKROM mode (Hold down the boot and power button's on the NanoPC, for roughly 2-5 seconds.)
- Lower level format
- Run (write the image)

If

[2018-10-16 09:36] Fourdee commented on #2133
@roelfoubert

System will run slower if its hitting the swap file due to full memory. However, it should not "freeze". Is the system running for a longer period of time without freezing?

[2018-10-16 09:40] Fourdee commented on #2102
Completed.

[2018-10-16 09:40] #2102 closed, assigned to Fourdee

[2018-10-16 09:44] Fourdee commented on #2026
Only outstanding images to do are Native PC, however, as 99% of those have HW clocks, this issue should not effect those installs.

As such i'll set to low priority for now.

[2018-10-16 09:52] Fourdee commented on #2126
🈯️ Interesting, fresh install on ASUS TB S, working fine + web GUI:
[code]

[2018-10-16 09:55] Fourdee commented on #2126
@ezekini

Which SBC device are you getting the error on?

Was this a manual uninstall you did yourself, or through ```dietpi-software```?

---

- 🈯️ Uninstall + reinstall test

[2018-10-16 10:11] Fourdee commented on #2139
@lupa18

Marking as closed with workaround provided by @MichaIng above.

If issues still persist, please reopen.

[2018-10-16 10:11] #2139 closed, assigned to nobody

[2018-10-16 10:18] Fourdee commented on #2083
@MichaIng

Yep, not sure why I did that lol 👍

Agree, will send commit.

[2018-10-16 13:42] MichaIng commented on #1286
@Fourdee

Yes in every case. I just like being on the edge (should go with Arch Linux, lol) and would like to have Buster support fully integrated into DietPi, before it's officially released to stable. So we can do concurrent release at best 😃.

For RPi official Buster images we anyway need to wait longer, until also https://archive.raspberrypi.org has Buster branch. If I remember right, this too

[2018-10-16 14:48] MichaIng commented on #2026
@Fourdee
How do you create native PC images? I have an old unused notebook and could do that. Anyway had the plan do use it for DietPi dev, also since it has WiFi of course.

But not sure how critical the used base system is and/or if some manual adjustments are needed to ensure/increase compatibility?
___________________
Simple practical issue, perhaps dump question:
- I flashed Debian netboot in

[2018-10-16 18:05] Atavic commented on #2133
I see two mono -debug instances. Which version of Mono is currently installed? I see this [issue](https://github.com/SynoCommunity/spksrc/issues/3470).

[2018-10-16 18:11] Lanneer487 commented on #2133
mono version 5.16.0.179

[2018-10-16 18:19] Atavic commented on #2133
So it ìs current version.

[2018-10-16 18:24] Lanneer487 commented on #2133
yes I think its just all too much for the pi.

[2018-10-16 18:30] Atavic commented on #2133
Radarr, sonarr and torrents: maybe trying to stop one of them may help finding the culprit?

[2018-10-16 18:46] ezekini commented on #2126
Hi @Fourdee. It's an _Odroid C2_. the uninstall/install process was always using `dietpi-software`

[2018-10-16 18:48] MichaIng commented on #2133
So since DietPi uses the official mono APT repo, an APT upgrade, triggered by dietpi update and software installs should resolv related memory leaks and we do not need to fix something about it.

@roelfoubert
I can't see the actual memory used numbers in your htop screen, no nor used swap values or grafical indicator that it is used. Can you check via: `cat /proc/swaps`

A swapfile should not show