[2017-10-07 14:38] Fourdee commented on #1176
@kotamotov
Hi,

Unfortunately, upgrading the kernel is a large comminuty effort and a huge undertaking, which also relies on the ARM manufacture's willingness to make it possible.

I believe currently, Allo are investigating this, but no ETA yet.

[2017-10-07 14:38] MichaIng commented on #1032
What is actually the benefit of Meveric's image as base for Odroid C2 image, compared to default Debian? If I understand right, Meveric basically tries the same than DietPi, purging Debian down to a minimal image. But DietPi already has a working process for all it's other images (besides RPi) and wouldn't it be easier to use the same base image for all devices (besides RPi, as Raspbian provides o

[2017-10-07 15:11] Fourdee commented on #1032
@MichaIng
With DietPi, we try to use official images (stability), then optimize and configure for DietPi.

We use Meveric's images for Odroid because of the following:
- He provides excellent Debian minimal images, ideal for DietPi
- He provides a repo, and maintains packages such as kernel updates, Kodi
- He is approachable, puts lots of his own time into his images and repo, we want to promote t

[2017-10-07 15:13] Fourdee commented on #475
@kotamotov

Hi, its 3.10 currently:
https://github.com/Fourdee/DietPi/issues/1176#issue-263619322

[2017-10-07 20:34] ghost commented on #686
@Bridouz  I used your gist as a great jumping off point to work on adding this. I made a few changes the biggest one is I used this systemd script for running as a daemon instead of writing the init script from dietpi-software

https://github.com/go-gitea/gitea/blob/master/contrib/systemd/gitea.service

@Facel3ss1 Check it out/Test it if you like
https://github.com/techdabbler/DietPi/blob/gitea-ad

[2017-10-07 21:59] lukecyca opened #1179 "Image Request: Artila Matrix-700"
[Artila makes nice rugged SBCs](http://www.artila.com/en/p_matrix.html). The 7xx series uses ATMEL ATSAMA5D35. The older 5xx series uses ATMEL AT91SAM9G20.

* http://www.artila.com/docs/Matrix-700/Matrix-700_Datasheet.pdf
* http://www.artila.com/docs/Matrix-504/Matrix-504_Datasheet.pdf

I have no idea is it is feasible to make DietPi run on them, but I would sure like to use DietPi instead of the

[2017-10-08 15:46] Fourdee commented on #1179
Hi,

Interesting device.

Unfortunately, this is probably not something we'll officially provide images for, due to limited market from our user base, and, unit cost to develop image is outside our reach.

If I can get my hands on one of the devices, we can probably do it, outside of that, you'd need to implement the image yourself:
https://github.com/Fourdee/DietPi/blob/master/PREP_SYSTEM_FOR_DIE

[2017-10-08 16:43] jbz-dev commented on #686
thanks for the fixes, rewrites and commits. I will test it tomorrow on my dietpi.

what do you think about creating a _git_ user @Fourdee ?

Is it OK or do you want to stick with `root` user only for now ?

[2017-10-08 18:15] ghost commented on #686
@Bridouz I look forward to hearing how your test goes. Also, if you have any notes on uninstallation I'd appreciate them. Removing the executable and data is easy it is the command to drop the db from mysql that I haven't tried hunting down yet.

@Fourdee when marking an install as needing a pre-requisite software package (ie mysql, git, openssh in this case) when the software (gitea) is un-instal

[2017-10-08 18:53] Fourdee commented on #686
@techdabbler

We don't remove shared pre-requisite/library software, during uninstalls, unless the user has specifically selected it for uninstall.

EG: Remove MPD, does not remove ALSA, as it could be needed for other install programs.
EG: Remove MPD, and user also selects ALSA for removal, removes both.
![image](https://user-images.githubusercontent.com/7077026/31319849-506cb644-ac62-11e7-81df-4

[2017-10-08 18:56] ghost commented on #686
@Fourdee Thanks. That is what I expected. Just want to make sure I'm doing uninstalls as complete as possible.

[2017-10-08 19:07] Fourdee commented on #1171
Z83:
![image](https://user-images.githubusercontent.com/7077026/31319952-3fb59d1e-ac64-11e7-859b-a8cf63bc1a20.png)

[2017-10-08 19:19] ghost opened #1182 "DietPi-Software | FuguHub x86_64"
A reminder to go back and added FuguHub for x86_64.

- [x] Add logic to change install url for arm vs x86_64
- [x] change install script path for x86_64 to http://FuguHub.com/install/FuguHub.linux.install
- [x] test. test. test.

Full instructions: http://fuguhub.com/blog/2009/08/FuguHub-for-Debian

[2017-10-08 22:59] ghost commented on #1091
@R1CH-T @Fourdee

I took your above notes and got it working for install and as much deletion as your notes mention. I threw it up into a gist for the moment (trying to not make messes with loads of merges right now).

https://gist.github.com/techdabbler/fe0fd4a78fac0bc8d141f6938d800272

I've tested it on x86_64 and it works. Need to test across ARM 6,7,8 to see if any of them don't work for start

[2017-10-09 08:26] pcmvanveen commented on #949
I own a U3. This is currently out of production for an update to 16.04. So I'll try it out.

[2017-10-09 12:29] MichaIng commented on #1032
Okay sounds reasonable :). Just asked since this seems to create some additional effort.

[2017-10-09 15:54] Fourdee commented on #1067
## Ok, testing required for NextCloud changes:
- https://github.com/Fourdee/DietPi/pull/1142
- https://github.com/Fourdee/DietPi/pull/1172

---

**Jessie:**
- 🈴 lighttpd (503 handle request error)
- 🈴 nginx ```Oct 09 17:29:43 DietPi nginx[1080]: nginx: [emerg] invalid number of arguments in "fastcgi_param" directive in /etc/nginx/sites-dietpi/nextcloud.config:42 || Oct 09 17:29:43 DietPi nginx[108

[2017-10-09 16:18] Fourdee opened #1183 "DietPi-Software | DLNA audio render/endpoint"

[2017-10-09 18:08] Fourdee commented on #1183
Binaries compiled and hosted on dietpi.com

Online doc:
http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=9012#p9012

[2017-10-09 20:03] Fourdee commented on #1183
Note to self:
- 🈯️ Ensure ALSA stream is free, when playback is not active.

[2017-10-09 20:11] jbz-dev commented on #475
@Fourdee

No wifi out of the box on Dietpi Stretch V156 image.

In dietpi-config onboard wifi is active but wifi module is not. Need to activate it (which install netplug) reboot and then I'm able to scan SSID.

Strange because on latest Raspbian image wifi works OOTB withou `netplug` package.

[2017-10-09 22:07] MichaIng commented on #1067
`#` Seems to be only allowed at the beginning of a line / without command before.
This should be also changed in nginx `nextcloud.config`
_____________________
Nginx:

Found this: https://stackoverflow.com/a/17760593
Seems that somehow you need two arguments for `try_files`, but `/dev/null` seems a valid 2. argument/workaround. Funny since this is the official provided config from Nextcloud admin

[2017-10-09 22:19] MichaIng commented on #475
Maybe due to recent debian 9.2 release? https://www.debian.org/News/2017/20171007

[2017-10-10 04:25] jbz-dev commented on #1067
Lighttp works OOTB, even if it's not currently  supported by Nextcloud.

[2017-10-10 11:46] k-plan opened #1185 "DietPi-Setup | Inital Setup via Wifi-Hotspot (dietpi-wifi)"

[2017-10-10 12:07] Fourdee commented on #475
@Bridouz

Confirmed, in testing i found 8/10 reboots results in scan failure:
```dmesg```
[code]

Its really early on in boot, and we do nothing differently for Jessie/Stretch in DietPi, not sure on cause yet.
Our RPi kernel is the same on both Jessie and Stretch.

Same errors with ```netplug``` removed.

[2017-10-10 13:18] Fourdee commented on #1183
Installed by default for all Allo GUI images, during v157 update.
Also available in ```dietpi-software``` for SSH/Term users

[2017-10-10 13:18] #1183 closed, assigned to Fourdee

[2017-10-10 18:36] R1CH-T commented on #1091
Thanks for taking a look at this @techdabbler.

I've just checked out your gist and it looks good. I will try it out when I get around to it; hopefully soon.

Please check out https://github.com/ondrej1024/crelay/issues/11 as I have asked @ondrej1024 to fix a couple of issues in Crelay, over there. I posted a demonstration there, of Crelay working with an 8-relay GPIO card, too.

Just let me know

[2017-10-10 20:00] jbz-dev commented on #1067
did a bit of testing today. Fixed fastcgi issues and blank nextcloud index page on nginx.

Will push a PR tomorrow.

[2017-10-10 21:50] MichaIng commented on #1067
@Fourdee

@Bridouz

Can someone teach me how to setup three virtual environments to start/stop on my RPi2, one with fresh DietPi Jessie + apache, one with DietPi Stretch + nginx, one with DietPi Stretch + lighttpd, to test fresh nextcloud installations 😆.
No really, I hope to find some time to investigate and do the topic and help to test and push development here for fresh systems. Sadly I can't

[2017-10-10 21:55] ghost commented on #1091
@R1CH-T Thanks. Looking further I see the crelay project actually provides the init.d and the conf file in the repo -- I didn't realize that.  I'll flip it over to those supported files when I get time (away from systemd script). It turns out that with systemd setup crelay -D appears running but I can't reach it via the web interface but manually it would work.

RE Conf file the real question is w

[2017-10-11 06:39] jbz-dev commented on #1067
@MichaIng

After a lot of testing, talks, search online we finally enabled php/opcache params and passed the security test on Nextcloud :)

Thus no errors in log so far 👍

# Fastcgi
[code]

# Opcache
Just need to add after https://github.com/Fourdee/DietPi/blob/testing/dietpi/dietpi-software#L8665

![opcachesuccess](https://user-images.githubusercontent.com/10825150/31425441-a5d40a48-ae5f-11e7-9cc

[2017-10-11 11:31] MichaIng commented on #1067
@Bridouz

[s]Yes opcache must not be set anywhere in `config.php`.[/s]
_€: I think I missunderstood: I remember removing backslashes, since there were three of them like `\\\OC\\\Memcache\\\APCu` and I know that one is enough. But maybe the way it is added, two backslashes are merged to one since it is also used for commands line line breaks `\n` etc. So I added one again which should fix it. Thx

[2017-10-11 11:31] jbz-dev commented on #686
Gitea working on DP Stretch Rpi3 :)

Do we stick with that `git` user creation or do we keep all software running with `root` @Fourdee ?

PS: I also have a nginx config for a redirection from `localhost:3000` to `server_name/gogs` if you want.

[2017-10-11 14:02] Fourdee opened #1188 "DietPi-Software | BubbleUPnP Server"
[code]

NB: requires package ```upstart-job```, not available in Stretch on RPi.

[2017-10-11 14:04] Fourdee opened #1189 "DietPi-Software | raspotify (Spotify connect client)"

[2017-10-11 14:18] Fourdee commented on #1067
@MichaIng
@Bridouz

Thanks guys, great work on this 👍 I'll re-run local tests today/tomorrow.

### Install a fresh image ready for testing
- Write a fresh DietPi image
- before boot, set ```gitbranch=testing``` in ```dietpi.txt```. Also set ```AUTO_Install_Enable=1``` if you want automated install

### Prep System for Backup:
Once the system is installed and updated
- Run ```dietpi-backup``` and s

[2017-10-11 14:53] Fourdee commented on #686
@Bridouz

Ideally, stick with the user as defined by the software, just be aware may need to set permissions for that user in ```/mnt/dietpi_userdata/SOFTWARETITLE``` if used and requires it.

I personally prefer to keep the installation URL's and ports stock, matching official docs. The only exception being http://0.0.0.0/pihole because it made sense :)
I recommend leaving redirection and customi

[2017-10-11 15:07] Fourdee commented on #1134
I'll mark this completed: https://github.com/Fourdee/DietPi/commit/435c72ddc2378b454cca133c815e464c1ef292c4

@gretel
I believe the following chars may of been used.
[code]

If not, please can you paste the password used so we can test and reopen ticket?

[2017-10-11 15:07] #1134 closed, assigned to nobody

[2017-10-11 15:18] ghost commented on #686
@Bridouz Good to hear it is working for you too. I just committed uninstall section. I haven't tested yet but would you mind giving it a test in RPi3 stretch for me? Once that is in place I think we are readying to pull request it.

[2017-10-11 16:59] MichaIng commented on #1067
Thx, as said, I want to do this inside a virtual environment on my RPi2 to not disturb my production installation.

[2017-10-12 14:42] Fourdee commented on #1067
### Re-tests:

**Jessie:**
- 🈯️ lighttpd |
- 🈺 nginx | http://0.0.0.0/nextcloud redirects to https://0.0.0.0/nextcloud/index.php/login and fails to load. Going to non https works http://0.0.0.0/nextcloud/index.php/login.
- 🈯️ apache2 |

**Stretch:**
- 🈯️ lighttpd |
- 🈺 nginx | http://0.0.0.0/nextcloud redirects to https://0.0.0.0/nextcloud/index.php/login and fails to load. Going to non https work

[2017-10-12 15:32] Fourdee commented on #1067
Hmm, I'd disagree with hard coding 128. We are setting memory cache size based on a percentage of total RAM, which is more optimized specific to the system?
![image](https://user-images.githubusercontent.com/7077026/31504662-ddb660a8-af6a-11e7-99b4-6c6bdff48a19.png)

And if this was to use the full 128MB available, 256MB systems would result in swapfile reliance, reducing performance.

**EDIT:**
S

[2017-10-12 16:21] Fourdee commented on #1067
@MichaIng
@Bridouz

#### Outstanding issues:
- Need to resolve the broken http > https redirects with Nginx conf:
https://github.com/Fourdee/DietPi/issues/1067#issuecomment-336159008
- Do we really want to hard define OPcache size as per nextcloud warning to ```128```? https://github.com/Fourdee/DietPi/issues/1067#issuecomment-336174724 | yep | https://github.com/Fourdee/DietPi/issues/1067#issueco

[2017-10-12 16:41] MichaIng commented on #1067
The point about the setting inside `/nextcloud` location directive is, that this (in case higher cache size) can not be exceeded by external scripts, it can just be filled with Nextcloud scripts. As the amount of them is limited, used opcache can hardly grow over 30 MB as just PHP scripts are cached.
My used opcache (opcache.php) is less than 20M and I have quite a lot of apps installed.

Thus the

[2017-10-12 21:52] molnarti commented on #475
i tried to install nextclout on the most recent RPi stretch image and got the following error

2017-10-12 23:48:32 (1.03 MB/s) - ‘/var/www/apc.php’ saved [38125/38125]

 [Info] Apt-get is processing, please wait...

E: Command line option 'i' [from -intl] is not understood in combination with the other options.
 [Failed] The apt cache may be corrupt, apt mirror offline, or you have held broken pac

[2017-10-12 21:58] MichaIng commented on #475
@molnarti Are you using testing branch? Try it with the newest version of dietpi-software, just replace your version of it. This error occurred during our Nextcloud installation optimization and was fixed with the recent PRs.

€: Ah just checked: RPi Stretch test image was created just after the first test upgrade of Nextcloud installation merged into testing branch, which produced this error. @Fo

[2017-10-13 13:54] Fourdee commented on #475
@MichaIng

Correct, when generating images I use the testing branch. Allows us to apply fixes to the image that are in devolpment.

But yes, seems this one caught the Nextcloud dev at a bad stage, regardless, will be fixed with v157 release, ETA next week.

@molnarti

**You can fix this issue (before the v157 is released) by doing the following:**
[code]
Nextcloud should now install.

[2017-10-13 14:24] Fourdee commented on #1067
@MichaIng

But yeah the chance stays and I am also not too happy with the situation that Nextcloud recommends these hard settings that prominent.

I agree.

Ok, lets go with what NextCloud recommends. Even though I believe its a recommendation that needs to be improved.

[2017-10-13 14:49] Fourdee commented on #1102
### Image updated for Release candidate:
#### - http://dietpi.com/downloads/images/DietPi_Rock64-arm64-(Stretch).7z

Includes latest kernel and fixes networking issues. Also includes working ayufan Rock64 repo (for kernel updates).

Existing users should reinstall with this image, as patching is not possible.

---

### ETA on Official Release:
Pending v157 being released due to fixes listed below.

[2017-10-13 15:22] Fourdee commented on #1102
Performance notes:
- SD, disappointing compared to RPi (17.5MB/s)
![image](https://user-images.githubusercontent.com/7077026/31553378-3597074c-b032-11e7-9616-982eeff2beba.png)
- LAN
[code]
- Heat eff. Impressive, no heatsink required for general use.
[code]

[2017-10-13 15:33] Fourdee commented on #1155
@MichaIng

👍
Confirmed, Raspbian and Debian Stretch :
https://packages.debian.org/stretch/motion
[code]

Also looks like the motion project has stopped devolpment:
https://github.com/Motion-Project/motion/releases

So yep, for Stretch we can install via apt. Package is latest version (4.0.1)

---

[code]

[2017-10-13 15:47] DeviantEng commented on #1102
Will be testing eMMC with this board early next week.

[2017-10-13 15:54] MichaIng commented on #1067
I totally agree! I will create a github issue about that, when I find time.

[2017-10-13 16:12] MichaIng commented on #1067
https://github.com/Fourdee/DietPi/pull/1191

Had to correct something:
- Enabling APCu and OPCache for CLI of course does not have any effect inside webserver configuration, because CLI "bypasses" these, so the info entry this should have solved, still shows up in Nextcloud log.
- Thus we need to set this globally in PHP configuration files. And as we anyway need to adjust them, I moved every PHP

[2017-10-13 16:22] Fourdee commented on #1155
Ok, install fixed.

Tests:
Could be camera failure (wouldnt be the 1st time), or issue with Stretch we need to resolve:
[code]

[2017-10-14 00:37] fredjedimaster opened #1192 "DietPi Software | Orange Pi Zero Plus does not show MotionEye"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version | ```cat /DietPi/dietpi/.version: v156
- SBC Device: Orange Pi Zero Plus
- Power supply used : 5v 2A Samsung original
- SD card used : Sandisk 16gb class 10)

#### Additional Information (if applicable):
- Software title: MotionEye
- Can this issue be replicated on a fresh installation of DietPi? Yes

#### Expected behavi

[2017-10-14 13:55] R1CH-T commented on #1091
It's odd that you cannot reach the web interface: Maybe a network issue at your end?
It works fine for me at the moment.

(TL;DR)
The top section of the config file (under [HTTP server]) is used to provide network settings and custom names for relays (i.e. the name of the device that you are turning on and off) and don't need altering unless you wish to do so. When a USB relay board is plugged in,

[2017-10-14 14:11] Fourdee commented on #1192
@fredjedimaster

Hi,

Its untested on this device, our main focus is RPi for this software as we support RPi camera in DietPi, hence disabled.

You can override this and force the install to test:
[code]

[2017-10-14 14:22] R1CH-T commented on #1091
I still have the test set-up that I demonstrated in the [Crelay issue page](https://github.com/ondrej1024/crelay/issues/11), so I just tried something out:

With all eight relays still connected to the GPIO ports, I ran crelay -D and accessed the web interface. All eight relays showed up and functioned correctly. I then plugged in my 2x relay USB board, refreshed the page and the interface immedia

[2017-10-14 14:42] Fourdee commented on #1158
Improved for v157: https://github.com/Fourdee/DietPi/commit/c6563a27bf3e58bdf27bbc1ac28a6dba936018cc#diff-1bbeaae6dce32a61c2d5f35c3ce5c971

[2017-10-14 14:42] #1158 closed, assigned to nobody

[2017-10-14 14:45] R1CH-T commented on #1065
Thanks for the heads-up @mpember.

I do actually remember hearing something about this a while back, but didn't have the chance to check it out. I'll have to look it over.

Did you manage to try it out, in the end?

[2017-10-14 14:47] fredjedimaster commented on #1192
Thanks for helping.

Did not work.

I got the following messages:

[code]

[2017-10-14 14:47] Fourdee commented on #1160
@techdabbler

Apologies, i've updated the link to current indexs 👍

[2017-10-14 14:50] Fourdee commented on #1155
Putting https://github.com/Fourdee/DietPi/issues/1155#issuecomment-336500461 down to my camera failure (this being the 2nd one lol).

Also tried:
- Jessie
- ```rpi-update``` kernel

Same issues.

As installation is now resolved, marking as closed.

[2017-10-14 14:50] #1155 closed, assigned to nobody

[2017-10-14 15:10] mpember commented on #1065
I did.  Since it was a bit of a hatchet job (by me), I can't be 100% sure that the steps are 100% accurate.  That said...

_Remove the old service configs.  The new codebase is not designed to use the fragmented service structure._
`sudo systemctl disable status-led.service`
`sudo systemctl disable status-led-on.service`
`sudo systemctl disable status-led-off.service`
`sudo systemctl disable statu

[2017-10-14 15:14] Fourdee commented on #1112
Confirmed, when using another update branch, other than default.

Due to DietPi only cloning with ```depth=1``` (attempt to keep install lightweight):
[code]

I'll remove the ```depth=1``` for v157. Fresh installs can then switch to any update branch:
![image](https://user-images.githubusercontent.com/7077026/31576801-8b2b7f08-b0fa-11e7-8e0f-c721395b4bd2.png)

[2017-10-14 15:15] Fourdee commented on #1112
Resolved for v157.

[2017-10-14 15:15] #1112 closed, assigned to Fourdee

[2017-10-14 15:30] Fourdee commented on #1160
@techdabbler
Running on x86_64:
[code]

Believe we can now mark this as completed?

[2017-10-14 15:39] kotamotov commented on #475
I can’t connect to my monitor 1600x900 to HDMI output of Sparky SBC properly.
Please explain how to set (change) desktop screen resolution for my monitor.
Bay default DietPi has 1024x600 for LXDE desktop. How to change it?
My monitor (display) has screen resolution 1600x900. Maybe it is possible to set 1280x720?
File uEnv.txt not help.

[2017-10-14 15:42] Fourdee commented on #870
Added in by @techdabbler for v157 👍

Tested with x86_64 and RPi 3:
Marking as completed.

[2017-10-14 15:42] #870 closed, assigned to nobody

[2017-10-14 15:48] Fourdee commented on #475
@kotamotov

Hi,

Default output of Sparky SBC is 1080p

We'll need to compile you a kernel.dtb overlay with the requested resolution, as it cant be changed outside of the file. I've sent the request over to Allo, will update you.

[2017-10-14 15:52] Fourdee commented on #1192
@fredjedimaster

[code]

[code]

[2017-10-14 15:54] Fourdee commented on #1065
@R1CH-T

Finally got one on order. Once it arrives i'll be able to get involved in this ticket.
https://twitter.com/DietPi_/status/914686122948689921

[2017-10-14 16:19] kotamotov commented on #475
Thank you in advance for your attention to this software problem for Sparky SBC!
I am waiting for your compilation!

[2017-10-14 16:26] ghost commented on #1160
Yes we can.

[2017-10-14 16:39] ghost commented on #1091
@R1CH-T

It works fine for me at the moment.

Interesting.  It works for me if I run crelay -D manually but if I allow it to autostart I don't see it.  Are you using autostart (ie - systemd) and what ARCH are you on? I'm testing on x86_64 I wonder if it works on ARM?

Great!

Are you comfortable with sending this into dietpi now with the above info or would you think it is better than hang tight u

[2017-10-14 17:05] Fourdee commented on #1160
Completed by @techdabbler , available for install in v157 👍

[2017-10-14 17:05] #1160 closed, assigned to nobody

[2017-10-14 19:21] fredjedimaster commented on #1192
Thanks...

Did not work.

Got this message:

Failed building wheel for pillow

And this:

Failed building wheel for pycurl

The headers or library files could not be found for zlib,
a required dependency when compiling Pillow from source.

Command "/usr/bin/python -u -c "import setuptools, tokenize;__file__='/tmp/pip-build-If6HLW/pillow/setup.py';f=getattr(tokenize, 'open', open)(__file__);code=f.

[2017-10-15 17:31] ghost commented on #1182
Done. Ready to PR.

[2017-10-15 20:32] kotamotov commented on #699
Hi  Fourdee!
I have one more question. Dietpi can't recognize my I2s DAC AK4495 connected to Sparky SBC+KALI.
What driver I need to install?
Here is my log file:
[    0.982476] pcm512x 2-004c: Failed to reset device: -6
[    0.983003] owl_i2c: owl_i2c_fifo_irq(): [i2c2] no ACK, fifostat 0x20013

[   11.397985] soc-audio soc-audio.1: ASoC: machine PianoDACPlus should use snd_soc_register_card()
[

[2017-10-16 13:45] vilhelmp opened #1194 "Uninstalling DietPiCAM while MotionEYE is installed removes required package `motion`"
## Creating a bug report/issue:
DietPi v.156
RPi 1
5v/1A power supply
microSD card w. adapter.
Jessie

#### Additional Information (if applicable):
- MotionEYE and DietPiCAM

#### Expected behaviour:
Uninstalling DietPiCAM while MotionEYE is installed should not remove the `motion` package.

#### Actual behaviour:
Uninstalling DietPiCAM removes the `motion` package when MotionEYE is installed.

##

[2017-10-16 17:48] Fourdee commented on #1194
Thanks for the report 👍
Confirmed, we'll take a look.

[2017-10-16 17:54] Fourdee commented on #1189
Install method: http://dietpi.com/phpbb/viewtopic.php?f=9&t=2352#p9167
[code]

[2017-10-17 15:04] #1170 closed, assigned to nobody

[2017-10-17 21:42] BryanSmithDev commented on #1102
Is 3.5mm audio a known issue? I get nothing but noise from it. However I am running video out HDMI so might that be the issue? HDMI claiming the audio over 3.5mm? I have selected 3.5mm in diet-pi config. I am on v156 however. The index issues that are fixed via v157 might have fixed this.

EDIT: Tried v157. Still no audio.

[2017-10-18 02:03] fredjedimaster commented on #1192
@Fourdee Thanks for the Help. Seems ccrisan does not get support for orange pi's board.

[2017-10-18 02:22] #1192 closed, assigned to nobody

[2017-10-18 03:06] ghost commented on #1182
Merged PR of these changes.

[2017-10-18 03:06] #1182 closed, assigned to nobody

[2017-10-18 13:16] Fourdee commented on #1192
@fredjedimaster

[code]

Find all software with 'cam' in its name
[code]

[2017-10-18 18:34] isso commented on #931
+1
Anything we can do to accelerate this?

[2017-10-18 20:49] Darwin-II opened #1197 "No sound on LDXE or Kodi"
## Creating a bug report/issue:

I recently installed DietPi and started to use it.

My problem is a lack of audio output. When I try to play a video, or an .mp3 file there is no sound. The same applies for games or anything with sound.

I have a Raspberry pi 3 model B running the latest install of DietPi (v150 Jessie) on a 32GB Sandisk ultra sd card.

[2017-10-19 13:45] Fourdee commented on #1197
@Darwin-II

Hi,

Thanks for the report.

Soundcards are disabled by default in DietPi to save on resources.

Please ensure the soundcard is enabled in:
```dietpi-config``` > Audio Options > Soundcard
![image](https://user-images.githubusercontent.com/7077026/31773857-f63c7b28-b4db-11e7-8d3d-4f9c3c8cef0f.png)

---

Please also ensure you are running the latest version of DietPi (v156):
[code]

---

[2017-10-19 13:53] Fourdee commented on #931
@iSsO
Ordered one on RS, should be here next week (back order)
![image](https://user-images.githubusercontent.com/7077026/31774331-491d555a-b4dd-11e7-81d0-97af98170c88.png)

[2017-10-19 14:59] Fourdee commented on #1067
@MichaIng

I'am going to remove the Nginx NextCloud site conf temporarily (due to https://github.com/Fourdee/DietPi/issues/1067#issuecomment-336159008), as we need to release DietPi v157 today.

I'll put it back in for v158
[code]

[2017-10-19 15:06] isso commented on #931
Great news, I've just ordered the newly announced PocketBeagle one, it will arrive next week as well.

I think they are using the same processor, but the pocket is using a integrated module (Octavo) instead of the bare IC.

Do you think DietPi can work on the pocket as well?

I can help in testing if you need to.

[2017-10-19 15:32] RobertCNelson commented on #931
For BeagleBoard.org, these devices share the same bootloader (v2017.09) and same kernel (v4.4.x-ti/v4.9.x-ti/v4.14.x-ti) just different device-tree binary.

Regards,

[2017-10-19 16:18] Fourdee commented on #686
@techdabbler Thanks for adding this in 👍

### Ready for testing, Install and uninstall:
- 🈯️ ARMv6
- 🈯️ ARMv7
- 🈯️ x86_64

### Web interface tests
Change
- MySQL user = ```root```
- MySQL PW = ```dietpi```

[2017-10-19 17:26] #1147 closed, assigned to nobody

[2017-10-19 17:41] MichaIng commented on #1067
Added nginx conf again by https://github.com/Fourdee/DietPi/pull/1191. Indeed the nginx nextcloud.config contains settings (fastcgi_param HTTPS on; and HSTS) that are just relevant/valid for SSL enabled systems.

If I understand right, fastcgi_param needs to be in case set for every sub location, so we can't set all of this in the default nginx ssl config, as it is possible with apache. So we need

[2017-10-19 21:05] #1197 closed, assigned to nobody

[2017-10-19 21:06] Darwin-II commented on #1197
Thank for the quick response. I now have sound working.

[2017-10-19 21:58] Darwin-II opened #1199 "Waveshare32 does not work with a waveshare 4" LCD."
Hello. I have been trying to use my waveshare 4" LCD with Diet Pi but it does not work properly. After installing Waveshare32 and rebooting my pi the screen shows three columns of text next to each other. There is also the secondary issue where Diet Pi freezes during the boot sequence.

I am using a Raspberry Pi 3 model B, a sandisk ultra 32GB and I have Diet Pi 157 on it.

[2017-10-20 13:32] rncwnd79 commented on #926
I can confirm this.
Issue 2 appears when there is not enough space on /boot..

[2017-10-20 15:22] Fourdee opened #1200 "Request | RT Kernel option"
Toggle option to enable/disable RT/Stock kernel.

RT: Real time

[2017-10-20 15:25] Fourdee opened #1201 "DietPi-Config | Samba Client does not parse spaces"

[2017-10-20 15:26] Fourdee opened #1202 "O!MPD | Fails to scrape/play files outside of /mnt/dietpi_userdata/Music"

[2017-10-20 17:10] Fourdee commented on #1202
Confirmed with all file types when audio is located on NAS/CIFS share.
Fine in YMPD:
![image](https://user-images.githubusercontent.com/7077026/31833231-dfcb9aa4-b5c1-11e7-9b2f-91099f0007d0.png)

[2017-10-20 17:48] Fourdee commented on #1202
Test, symlink ```/mnt/samba``` to ```/mnt/dietpi_userdata/Music/samba``` :
[code]

Then set ```/mnt/dietpi_userdata``` to library path in O!MPD.

🈯️ Works fine, file info scan takes much longer.

---

- If we disable ```media_dir``` entry in:
[code]
- 🈴 When browsing in O!MPD to select media directory, unable to progress past ```/```

Although the O!MPD web interface allows for media_dir browsing

[2017-10-20 21:55] Darwin-II opened #1204 "Diet Pi not recognising external storage"
I recently made the switch from Raspbian to Diet Pi and I saved all my data from Raspbian on a 16GB Sandisk Ultra. Now when I plug that SD card into my Raspberry Pi using a USB SD card reader Diet Pi does not recognise it.

So when I plug my SD card reader into my Raspberry Pi the machine does not recognise it.

When I plug it into my Raspberry Pi Zero (running Raspbian Lite) the machine does reco

[2017-10-20 22:40] sytone commented on #1163
I have a issue open on this with a proposal. I have played around and have a model I’ll push to my fork over th weekend.

[2017-10-20 22:41] sytone commented on #1145
I have a update for ha in progress to deal with python. I’ll be adding this next.

[2017-10-20 22:43] sytone commented on #1157
The approach I am going with is sourcing in bAsh files like libraries. Any issues with this? This way common variables can be shared as bAsh cannot handle objects so stuck with string manipulation

[2017-10-21 04:33] alfanovember commented on #759
Hello, I'm having some trouble with this.  On an rpi3, Using a fresh DietPi install from DietPi_RPi-armv6-(Jessie) and dietpi-update'd image,  I then copy/paste the commands into an ssh sessions.  Kernel headers and prereqs install okay,  driver download and unzips.  Sed commands are properly editing the makefile.  The make command fails with what looks like problem with a build target for the cur

[2017-10-21 05:05] lucario1001 commented on #931
still have my beagle bone black if you need help testing

[2017-10-21 13:15] Fourdee commented on #1067
Issue reported by user, needs investigation:
http://dietpi.com/phpbb/viewtopic.php?f=11&t=2369&p=9251#p9248

[2017-10-21 13:19] Fourdee commented on #1204
@Darwin-II
Sounds like a corrupt SD card. If SD card reader + SD socket on RPi's are unable to read it.

Are you referring to a image clone > SD card, or, DietPi-UserData moved to SD card?

[2017-10-21 13:36] MichaIng commented on #1067
- Realted to **PHP5**, thus **Jessie**
- `WARNING: Module pdo_mysql ini file doesn't exist under /etc/php5/mods-available`
- Earlier parts of his installation log could be interesting. Does he use mysql or mariadb, in both cases on PHP installation the `pdo_mysql` module should be installed: https://github.com/Fourdee/DietPi/blob/testing/dietpi/dietpi-software#L3716
- In both cases `pdo_mysql` is

[2017-10-21 16:50] k-plan opened #1205 "DietPi-Config | Typo in dietpi-config dialog"
Think you have missed write up here:

http://dietpi.com/phpbb/viewtopic.php?f=9&t=2145&p=9147#p9147

Auto size swapfile ([since v155 size is now set to "2048 - total memory"](https://github.com/Fourdee/DietPi/blob/master/CHANGELOG.txt#L87))

![171021-0002](https://user-images.githubusercontent.com/17237601/31853854-2f83194a-b690-11e7-903d-2bf1e097a781.gif)

[code]

Nice to see, that you have fixed

[2017-10-21 23:33] bartaspoz commented on #870
Hi, firstly, I couldn't find Docker in gui in optimized software list. Found ID and tried to install by:
dietpi-software install 162

And recieved bellow errors:
 Executing docker install script, commit: 490beaa
Either your platform is not easily detectable or is not supported by this
installer script.

And next:
Failed to stop docker.service: Unit docker.service not loaded.
sed: can't read /lib/s

[2017-10-22 02:28] enolp opened #1207 "DietPi-Update | Fails to update if PiHole installed (fixed in v156)"
## Creating a bug report/issue:
I propose using IPs instead URL domains when updating. Why? Currently I have installed pihole and dnsmasq as a DNS caching server, and when the update process begins, Dietpi-update stops all running services making dietpi.com unreachable because pihole and dnsmasq are deactivated. On the other hand, I have also dnscrypt installed but I verified it and I think it's n

[2017-10-22 05:15] R1CH-T commented on #1091
techdabbler

Sorry for taking a week to reply, but I simply forgot about it. I read your post last weekend, sat down to formulate a response and quickly fell asleep. I just re-opened and refreshed this tab in my browser and was astonished to realise that I hadn't actually responded to you.

I hope I can remedy that mistake. So...

I wish I'd spotted this sooner; but yes: I have been running `crela

[2017-10-22 08:36] tatoosh commented on #500
Any news to implement gitlab into dietpi?

[2017-10-22 09:12] borpin opened #1208 "Selecting 'Daemon + Drift' as ntp method does not set date"
## Selecting 'Daemon + Drift' as ntp method does not set date
#### Required Information:
- DietPi Version | 157
- SBC Device? OrangePi Zero
- Power supply used (EG: 5v 1A RAVpower)? Good!
- SD card used (EG: Sandisk ultra)? Kingston
- Distro (EG: Jessie) | ```uname -a```? Linux DietPi 3.4.113-sun8i #18 SMP PREEMPT Thu Jun 15 02:16:06 CEST 2017 armv7l GNU/Linux

#### Additional Information (if appl

[2017-10-22 12:18] bartaspoz commented on #870
A llittle followup. Managed to install docker manually from repo, but containers don't want to work, error during start as below:

could not create session key: function not implemented

Is there anything we can do?

Test platform: Odroid C2

[2017-10-22 12:28] bduisenov commented on #870
Hi @bartaspoz, I'm facing the same issue with docker installation. Neither can see the docker item in the list of dietpi-software

[2017-10-22 15:16] Dalto1 opened #1209 "DietPi-System | Nanopi Neo Air WiFi (AP6212A) support"
See this post for info :
[http://dietpi.com/phpbb/viewtopic.php?f=11&t=2205&p=9271#p9271](url)

[2017-10-22 16:43] ghost commented on #870
@bartaspoz - This is as expected and designed.  The official docker script doesn't support ARM8 so dietpi does not display the menu item on ARM8 devices and if you force install it will fail. It appears the Odroid C2 is ARM8.

@bduisenov ate you also on ARM8 or on a different arch?

[2017-10-22 16:54] bduisenov commented on #870
@techdabbler Armv8-A, Quad-Core ARM Cortex A53 64-Bit Processor

[2017-10-22 23:11] ghost commented on #870
@bduisenov - That makes sense then too. Def it is due to docker not officially supporting raspbian and arm8. I didn't do anything fancy but package up the official installer.  If anyone out there knows steps to get docker to work on raspbian arm8 I can add the steps to dietpi-software installer.

[2017-10-23 02:51] ghost commented on #1091
@R1CH-T Thanks for the reply. No worries on the delay at all.

Good to know that you are starting it manually in that means the systemd file I created isn't working. Oh well. I think I found the init file you original posted on the github repository so I can grab that out of the clone and use that instead of systemd. I imagine it works. So that should fix that problem.

As far as my question about

[2017-10-23 06:46] bduisenov commented on #870
@techdabbler got it, thanks for the explanation.

[2017-10-23 08:37] bartaspoz commented on #870
People say that probably enabling keychain functionality in the kernel is needed in order to get it work (error: could not create session key: function not implemented). The keychain is enabled by default on 3.18+ Kernel, and latest available for DietPI is 3.14+. I'm not an linux expert, can you tell us if updating kernel to 3.18+ is possible on DietPI?

Additionally, do you know why I'm receiving

[2017-10-23 13:02] bartaspoz commented on #870
@techdabbler you're right. But there is a possibility to install armhf on arm64, which I have done. Firstly you have to enable armhf architecture support on your C2 (don't remember how, done it some long time ago)

 And next, regarding Docker, you have to add new repo as below
deb [arch=armhf] https://download.docker.com/linux/debian jessie stable

And Install docker by:
apt-get install docker-ce

[2017-10-23 17:37] Fourdee opened #1210 "Squeezelite | DSD output fails"
Requires re-compile with DSD and ```-D``` in cmdline.

[2017-10-23 18:08] ghost commented on #870
@bartaspoz - This starts to sound like it is outside my wheel house.  I don't know anything about the kernel or how to replace it or update it in dietpi.

Nor do I know about the weird v157 to v156 message you are getting.

I'd recommend maybe you open up another current issue with arm8 and docker and see if anyone else is able to help you.  Continuing on this thread since it is marked closed seem

[2017-10-24 18:18] #695 closed, assigned to nobody

[2017-10-25 14:00] Fourdee opened #1211 "Allo GUI | Changing root PW prevents GUI login"
#### Cause = https://github.com/Fourdee/DietPi/issues/1211#issuecomment-347245505

[2017-10-25 14:05] Fourdee commented on #1211
If you experience this issue, please see the following post for more support information:
https://community.roonlabs.com/t/dietpi-allo-web-gui-now-available/32420/21?u=dan_knight

[2017-10-25 16:17] Fourdee commented on #1210
[code]

- 🈯️ ARMv6
- 🈯️ ARMv7
- 🈯️ ARM64
- 🈹 x86_64

[2017-10-25 17:34] Fourdee commented on #1210
Completed, resolved for v158.

[2017-10-25 17:34] #1210 closed, assigned to Fourdee

[2017-10-26 13:45] R1CH-T commented on #1065
@Fourdee
Cool.
Sorry, I missed this update. :(
I look forward to hearing your thoughts.

[2017-10-26 14:08] R1CH-T commented on #1091
There's no massive hurry to add this at the moment. Until the ["GPIO Fix" version](https://github.com/ondrej1024/crelay/tree/gpio_fix) is merged into the main branch of Crelay, it might be worth holding back a little while.

USB boards are detected and work "out of the box", so to speak. Any further modification is optional.

This seems wise at the moment.

[2017-10-26 14:25] Fourdee opened #1212 "Allo GUI | investigate support for S24_3LE bit depth"
If available in the following programs:
- 🈯️ Shairport-sync
- 🈯️ Squeezelite
- 🈺 MPD, additional S24_ modes not supported/documented (https://www.musicpd.org/doc/user/config_audio_outputs.html)

[2017-10-26 16:14] Fourdee commented on #1212
Completed, available in v158:
![image](https://user-images.githubusercontent.com/7077026/32064186-128b8bb2-ba71-11e7-8382-62cfbd440003.png)

[2017-10-26 16:14] #1212 closed, assigned to Fourdee

[2017-10-26 16:20] Heroldgray commented on #1188
Fantastic if you manage to add BubbleUPnP Server support (DietPi and Allo Web GUI).

[2017-10-26 16:20] Fourdee commented on #1201
Limitation, need to convert ```[space]``` into ```\040``` in ```/etc/fstab```
[code]

[2017-10-26 16:51] Fourdee commented on #1201
Completed.

[2017-10-26 16:51] #1201 closed, assigned to Fourdee

[2017-10-26 16:58] MichaIng commented on #1164
I did some research here and there and the `libpam-systemd` package starts the `systemd-logind` service and registers user sessions to it. There they can be scanned and manipulated by other pieces of software, which then need to depend on the package.

I didn't find any hint that package and service themselves provide any passive advantages, thus we should be able to remove them from default DietP

[2017-10-26 17:15] athlonxp78 commented on #475
@Fourdee Is posible to include some Recursive DNS Server like Unbound, Bind9 etc, preconfigured to working with Root Hints? Thanks!!!

[2017-10-26 18:08] Fourdee commented on #1205
@k-plan

legend 👍

Changes made :)

[2017-10-26 18:09] #1205 closed, assigned to Fourdee

[2017-10-26 18:21] Fourdee commented on #1067
Quick retest after: https://github.com/Fourdee/DietPi/pull/1191

- 🈯️ Lighttpd
- 🈴 Nginx (SSL redirect error)
- 🈯️ Apache2

[2017-10-26 18:24] Fourdee commented on #1145
Merged into testing branch : https://github.com/Fourdee/DietPi/pull/1191

Ready for testing:
https://github.com/Fourdee/DietPi/blob/master/TESTING-BRANCH.md#steps-to-use-the-dietpi-testing-branch

[2017-10-26 18:29] Fourdee commented on #475
@kotamotov

Apologies for the delay. Please see instructions below provided by Allo.

If unsure, let me know and i'll try to assist.

---

By default HDMI resolution takes auto mode.
To achieve 720p , kernel.dtb and u-boot-dtb.img  need to change.

On SD card insert on linux system, using DD copy flash u-boot-dtb.img
Fdisk –l  shows device sdx1 sdx2.   X is the letter a,b,c,d,e ….

 #dd if=u-boot-

[2017-10-26 18:31] MichaIng commented on #1067
Yes Nginx fix (ssl + non-ssl) was not yet done. I will ask on https://help.nextcloud.com for help to make a non-ssl nginx-nextcloud-config based on the one for ssl from https://docs.nextcloud.com, which we use moreless already.

Also a Lighttpd config would be nice. It works out of the box, but some security and compatibility settings could be beneficial, also disabling non-compatible modules for

[2017-10-26 18:37] Fourdee commented on #1164
@MichaIng

I can see this opening a huge can of worms lol. Maybe not now, but down the line.

Generally speaking, if we are not 100% sure what each of those packages do, and in what instances we would need them, I think its best we leave them in for now.

If we can achieve the above, then we can investigate.

[2017-10-26 18:40] Fourdee commented on #1157
@sytone

Hi,

Is this some new type of Bash that i'am unaware of, or, file name extension you plan to use? Or something else, unsure what you mean 😕

[2017-10-26 18:42] Fourdee commented on #1207
@enolp

Hi, as of v156, ```dietpi-update``` will restart the dnsmasq service if PiHole is installed: https://github.com/Fourdee/DietPi/issues/1138

This doesn't help with your current version (v146).  A quick/simple solution would be to uninstall PiHole, update DietPi, then reinstall PiHole.

Using IP's instead of URL's is out of the question. (eg: if we have a server move, IP change = game over f

[2017-10-26 18:46] Fourdee commented on #500
@tatoosh

Unfortunately, not something I can take on at the moment. Hopefully one of our source contributors can pick it up.

[2017-10-26 19:10] Fourdee commented on #1211
Unable to replicate my end, waiting for user sent bug reports to investigate.

[2017-10-26 19:58] sytone commented on #1157
Typo. :)

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Dan <notifications@github.com>
Sent: Thursday, October 26, 2017 11:40:21 AM
To: Fourdee/DietPi
Cc: Sytone; Mention
Subject: Re: [Fourdee/DietPi] Design: Using Zip based storage for multiple files. (#1157)

@sytone<https://github.com/sytone>

bAsh

Hi,

Is this some new type of Bash that i'am unaware of, or,

[2017-10-27 16:21] TheRaspyDev opened #1213 "dietpi-letsencrypt fails"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version | ```cat /DietPi/dietpi/.version```? 157
- SBC Device (EG: RPi 3)? RPi 2
- Power supply used (EG: 5v 1A RAVpower)? 5v 2.4A
- SD card used (EG: Sandisk ultra)? Kingston 16GB
- Distro (EG: Jessie) | ```uname -a```? Stretch --> Linux DietPi 4.9.52-v7+ #2 SMP Mon Oct 2 23:27:32 UTC 2017 armv7l GNU/Linux

#### Additional Infor

[2017-10-27 16:31] Fourdee commented on #1213
@TheRaspyDev

Thanks for the report, we'll try to replicate.

Can you confirm which locale you applied to the system?

[2017-10-27 16:35] Fourdee commented on #1213
Reference testing branch changes: https://github.com/Fourdee/DietPi/pull/1206

[2017-10-27 16:37] TheRaspyDev commented on #1213
Thanks for the fast reply. Just applied the default en-GB locales.

[2017-10-28 18:14] Fourdee opened #1215 "DietPi-Software | Add installation for AudioPhonics Pi-SPC"
https://www.audiophonics.fr/fr/kits-modules-diy/audiophonics-pi-spc-module-de-controle-alimentation-type-atx-pre-assemble-p-11125.html

[2017-10-28 18:45] Fourdee commented on #1215
Online Doc:
- 🈯️ http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=9359#p9359

[2017-10-28 21:07] Fourdee commented on #1215
Completed.

Cracking little device, allowing users to correctly physically soft power off the device (same as running ```poweroff```), without needing terminal access, or the naughty use of pulling the power cable out.

[2017-10-28 21:46] Fourdee opened #1216 "DietPi-Software | ExaGear (x86_32 emulation for ARM devices)"
It claims the ability to emulate x86_32 software inside a VM (eg: Wine + Windows), on ARMv7/8 devices.
Interested? ➕ :one:
https://docs.eltechs.com/install-and-configure-exagear-desktop/how-to-install-exagear-desktop-trial
https://eltechs.com/exagear-desktop-virtual-machine-for-raspberry-pi/
https://eltechs.com/run-wine-on-raspberry-pi/

Wine + Windows + Mp3 player with VST plugins (ozone isotope

[2017-10-29 13:40] mpember commented on #1065
It looks like the voicekit has been updated to contain a systemd service config file and the expected script name for the service will remain as **main.py** (in the **/mnt/dietpi_data/voice-recognizer-raspi/src** folder).

Since the instructions are to copy one of the examples to main.py, it may be worth chucking a note somewhere to inform users where to locate the files.  I understand that most D

[2017-10-29 13:50] mpember commented on #1183
Why did the update install this software on a system which previously didn't have it?

[2017-10-29 14:57] Fourdee commented on #1183
@mpember

Hi,

GMrender will be installed on all Allo GUI systems, to match the current version of Allo GUI interface and its pre-req software.

You can disable the service in the web interface, if not required.

[2017-10-29 15:18] Fourdee commented on #1194
Resolved for v158

[2017-10-29 15:18] #1194 closed, assigned to Fourdee

[2017-10-29 15:25] MichaIng commented on #1164
If `logind` is not available, a systemd service starts 5 additional `agetty` processes (VTs): tty2 - tty6

Logind seems to allow that they are created/removed on demand. If we assume general SSH login and just in emergency cases login directly to the SBC, the service can be masked to remove the additional processes: `systemctl mask getty-static.service`

https://unix.stackexchange.com/questions/56

[2017-10-29 15:28] #1215 closed, assigned to Fourdee

[2017-10-29 16:04] Fourdee commented on #1189
Unable to test playback as I lack spotify premium account, and, trial has already been used previously.
Service is running, install/uninstall functional.

[2017-10-29 16:06] Fourdee commented on #1189
online doc:
http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=9368#p9368

[2017-10-29 16:07] Fourdee commented on #1189
Stretch repo not available, will use jessie for all distros:
[code]

[2017-10-29 16:13] Fourdee commented on #1189
Marking as completed, however, unable to test audio playback at this time: https://github.com/Fourdee/DietPi/issues/1189#issuecomment-340273204

[2017-10-29 16:13] #1189 closed, assigned to nobody

[2017-10-29 16:26] Fourdee commented on #1164
@MichaIng

Currently we disable getty 2-6:
https://github.com/Fourdee/DietPi/blob/master/PREP_SYSTEM_FOR_DIETPI.sh#L448-L450

[2017-10-29 17:16] Fourdee commented on #1150
Ok, lets pull in the missing packages for ARMv7/v8 from various sources, prior to install.
A little messy/hacky, but will resolve the current install issue, at least for now.
Tests:
- 🈯️ ARMv8 Stretch
- 🈯️ ARMv7 Jessie
- 🈯️ ARMv7 Stretch
![image](https://user-images.githubusercontent.com/7077026/32146379-743c7ba0-bcce-11e7-84de-b0c1a39c1064.png)

[2017-10-29 17:35] Fourdee commented on #1150
Completed

[2017-10-29 17:35] #1150 closed, assigned to nobody

[2017-10-29 17:42] Fourdee commented on #1102
@BryanSmithDev

Thanks 👍  looks like the audio cards/devices have changed since last kernel.
[code]

Resolved for v158

[2017-10-29 18:10] Invictaz commented on #865
2.3.1 released. Thanks @Fourdee
https://tweakers.net/downloads/42607/sabnzbd-231.html

[2017-10-29 18:48] Fourdee commented on #1102
<img width="672" alt="rock64dp" src="https://user-images.githubusercontent.com/7077026/32147130-edd17bf4-bcd9-11e7-9fba-ae035d49769a.png">

[2017-10-29 18:51] Fourdee commented on #1102
Live on http://dietpi.com , with known outstanding issue with audio which will be patched in v158: https://github.com/Fourdee/DietPi/issues/1102#issuecomment-340279988

[2017-10-29 18:51] #1102 closed, assigned to Fourdee

[2017-10-29 20:38] MichaIng commented on #1213
Just found the reason for this error and corrected it by PR: https://github.com/Fourdee/DietPi/pull/1217#issuecomment-340265797

@TheRaspyDev
New apt packages for certbot on stretch are installed since exactly v157, but it was forgotten to let `dietpi-letsencrypt` choose the new binary for every web server.

To fix this you could get the new versions of `dietpi-letsencrypt` and the related part of

[2017-10-29 22:42] MichaIng commented on #1119
@Fourdee This can be closed by the way 😉.

[2017-10-29 23:10] MichaIng commented on #598
@Fourdee
Superseded by https://github.com/Fourdee/DietPi/issues/1146

As said there, would be nice if we `apt-mark manual` ALL packages before installing the required once. I just tried it with the virtualbox image and it worked quite well. I am just not sure if all usual necessary firmware is installed by [firmware-linux-nonfree](https://packages.debian.org/de/jessie/firmware-linux-nonfree).

[2017-10-30 01:11] mpember opened #1218 "DietPi-Update installed unexpected software"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version | ```cat /DietPi/dietpi/.version```?
Upgrading from 156 to 157

- SBC Device (EG: RPi 3)?
Raspberry Pi 3

- Power supply used (EG: 5v 1A RAVpower)?
Office Pi Foundation 5V 2.5A

- SD card used (EG: Sandisk ultra)?
Sandisk Ultra 8GB

- Distro (EG: Jessie) | ```uname -a```?
Linux google 4.9.52-v7+ #2 SMP Mon Oct 2 23:27:32

[2017-10-30 12:50] Fourdee commented on #1218
@mpember

Thanks for the report

Looks like a possible bug in our patcher, patch assumes your running the Allo GUI image. Can you please confirm this is the stock DietPi image, and not http://dietpi.com/phpbb/viewtopic.php?f=8&t=2317#p8868?

[2017-10-30 13:42] Fourdee commented on #598
@MichaIng

Thanks, i'll mark this as closed.

Firmware packages on all images are currently:
[code]

Yep, we could probably do this on image prep script, eg:
[code]

[2017-10-30 13:42] #598 closed, assigned to nobody

[2017-10-30 13:55] Fourdee commented on #1218
Unable to replicate on Stock DietPi image. Assuming user is running Allo GUI, waiting for confirmation.
https://github.com/Fourdee/DietPi/blob/master/CHANGELOG.txt#L41

[2017-10-30 13:55] mpember commented on #1218
It is a stock install that started with v150 (downloaded in August) and has been upgraded since then.  While I have installed a few other software packages, The only custom software on these units is the Google Assistant code and a few small scripts to provide functionality required by the Google AIY software.

Since it only appears to have happened on one of the two AIY units, I can't be exactly

[2017-10-30 14:01] mpember commented on #1218
I don't recall installing any 'optimized' software after the initial install.  The programs installed via the dietpi.txt setup were:

[code]
The rest of the software on the unit was installed using the regular **apt-get** method.  In the case of the Google AIY code, that was done with **git**.

[2017-10-30 14:10] Fourdee commented on #1218
@mpember

Thanks

I've been unable to replicate with:
[code]

Strange, the only reason it would be installed if the following returns ```1```:
[code]

**Can we get the dump of ```dietpi-update```?**
[code]

[2017-10-30 14:14] Fourdee opened #1219 "General | Update VM images to Stretch"
- 🈯️ VMware
- 🈯️ VirtualBox Many thanks @MichaIng !

[2017-10-30 14:19] #1119 closed, assigned to nobody

[2017-10-30 14:21] Fourdee commented on #1213
@MichaIng

Excellent, thanks.

PR merged. As this resolves the initial issue in this ticket, i'll mark as closed.

[2017-10-30 14:22] MichaIng commented on #1219
Manual upgrading VirtualBox image to Stretch worked without any error by the way.

At least for testing purpose a [QEMU](https://www.qemu.org/) image would be nice as well, as it provides "real" emulation of ARM processors and even natively provides a RPi2 machine. I tried to get the RPi2 DietPi image running on it, but it starts with boot loops (same as the default Raspbian Lite image). Something

[2017-10-30 17:22] Jlkam commented on #897
+1 RainLoop

[2017-10-30 17:22] Jlkam commented on #435
+1 hope we see this soon!

[2017-10-30 20:49] TheRaspyDev commented on #1213
Great stuff, thx a lot.
I'll try to rerun certbot again tomorrow.

[2017-10-31 12:10] mpember commented on #1218
Returns 0

This file does not exist on either of my Google units.  The directory is empty.

Since I have the ram logs set to be cleared every hour, all system logs have now been lost into the ether.

[2017-10-31 14:16] Fourdee opened #1220 "DietPi-Software | Jive Lite"
Squeezebox alternative with touchscreen interface:
https://github.com/ralph-irving/triode-jivelite

[2017-10-31 14:32] Fourdee commented on #1218
@mpember

👍 Thanks

Apologies, ```dietpi-update``` logging was only added recently (v157), updating from v156 would not have this feature, as ```dietpi-update``` script is not updated until the end of update:
https://github.com/Fourdee/DietPi/commit/cd1a3b59cd200d296b97019f9aff3ec56d930011#diff-c613a85da508fb885b67c34f9661e243

Following is not part of RAMlog:
[code]

Not sure where to go from her

[2017-10-31 16:27] tillcash commented on #208
How to make **java -Djava.awt.headless=true -jar /etc/jdownloader/JDownloader.jar &> /var/log/jdownloader.log &** run on startup ?

[2017-10-31 21:04] sovamakarosh commented on #949
Hello. How is the work going?

[2017-11-01 07:09] pcmvanveen commented on #949
It failed, I'm running odroid 16.04

Op dinsdag 31 oktober 2017 heeft Slava <notifications@github.com> het
volgende geschreven:

--
Met vriendelijke groeten,
Paul van  Veen
<http://chart.apis.google.com/chart?cht=qr&chs=350x350&chl=MECARD%3AN%3APaul+van+Veen%3BTEL%3A0622397173%3BEMAIL%3Apcm.van.veenn%40gmail.com%3B%3B>

[2017-11-02 06:16] 1021683053 opened #1221 "modprobe fbtft_device modprobe: ERROR: could not insert ': Invalid argument"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version | ```cat /DietPi/dietpi/.version```?
- SBC Device (EG: RPi 3)?
- Power supply used (EG: 5v 1A RAVpower)?
- SD card used (EG: Sandisk ultra)?
- Distro (EG: Jessie) | ```uname -a```?

#### Additional Information (if applicable):
- Software title?
- Can this issue be replicated on a fresh installation of DietPi?

#### Expect

[2017-11-02 06:17] #1221 closed, assigned to nobody

[2017-11-02 06:34] 1021683053 opened #1222 "Using rpi-source with DietPi kernel?"
Run `Dietpi-update` after reboot my waln0 can`t work.

i use :
[code]
error with:
[code]

Update before that  can use!

[2017-11-02 10:05] saiakash commented on #409
![d080c8f6-48fa-11e6-92ea-cc0f1c20fe48](https://user-images.githubusercontent.com/33314572/32320342-7471d1f2-bfe3-11e7-8286-06467ff6f96e.jpg)
how to hide or disable this screen when dietpi boot

[2017-11-02 10:06] saiakash commented on #409
how to hide or disable this screen when boot

[2017-11-02 12:06] MichaIng commented on #1164
I am not too deep inside this, but I guess the services DietPi already disables, are related to systemd-logind, which enables a tty creation on demand, if I understood right. The service I mentioned above is not active while logind active. It just got activated after removing libpam-systemd/thus logind to provide 6 ttys for just in case, since they can not be created anymore on demand. For pure ss

[2017-11-02 12:30] MichaIng commented on #1222
Hmm, since newest DietPi also includes a kernel version bump to 4.9.52, your error might be related to that.

Just in case could you try to rpi-update to the newest edge version again? Do system backup in any case before updating kernel or DietPi (dietpi-backup).

rpi-update can be also done via dietpi-config inside advanced.

[2017-11-02 18:23] Fourdee opened #1223 "DietPi-Software | moOde"
## Currently under testing:
### - https://github.com/Fourdee/DietPi/issues/1223#issuecomment-344674384

---

Now with FOSS license 👍

[2017-11-02 20:19] sfb2 commented on #1223
_soo wonderful, can´t believe its true_ ;-)_
(and on moodeaudio.org is now only this FREE 4.0 version..absolute wonderful)..
just at the minute i try to set it up; so many thx again **"Fourdee"** for leaving this info here !!
_(btw.:got it here to work; took about 3 and half hours ;-), but really works, absolute fabulous "tut"/recipe with no errors/absolute straight-forward->fantastic work by Tim/

[2017-11-02 21:52] douglasmiranda commented on #1102
I'm trying to run on my Rock64, but everytime dietpi-update runs I get the error:

insufficient space to run rootfs

(I'm using Etcher to flash the sd card)

[2017-11-02 22:12] molemantis commented on #1102
You need to resize your root partition to use all available disk space.

Here are the basic commands I used:

gdisk /dev/mmcblk1
w
Y

fdisk /dev/mmcblk1
d
choose / partition

n
choose / partition
w

partprobe
resize2fs /dev/mmcblk1p7 (7 being / )

[2017-11-03 06:32] douglasmiranda commented on #1102
Great! Thanks xD

[2017-11-03 21:07] TheRaspyDev commented on #1213
Works now like a charm.
Thx for your work!

[2017-11-03 21:07] #1213 closed, assigned to nobody

[2017-11-04 03:16] ghost commented on #475
I apologize if this is the wrong place to report this.

Latest stretch beta, I found that choosing to install OpenSSH over dropbear in dietpi-software doesn't actually remove dropbear. I was trying to connect to my Pi via SSHFS and it kept failing. Only until I checked my auth.log did I realize that I was still connecting via dropbear and it was still installed.

Thanks!

[2017-11-04 07:30] kurtjcu opened #1224 "orange pi Zero 2+ H5 - Wifi broken after installing lxde"
## Creating a bug report/issue:
Fresh Dietpi install
autoupgrades to 157 (cannot disable updates in dietpi.txt)
install lxde then wifi adapter is unable to be found (onboard)

#### Required Information:
- DietPi Version | ```cat /DietPi/dietpi/.version``` = 157
- SBC Device (EG: RPi 3) = orangepi zero 2+ h5
- Power supply used (EG: 5v 1A RAVpower) = 5v 3amp and samsung charger tested
- SD card use

[2017-11-04 07:42] kurtjcu commented on #1224
Just confirmed that it is not an issue with LXDE, wifi is broken in version 157
"no supported wifi hardware found." when using dietpi-config after upgrading to 157 without installing any additional software on a fresh install.

[2017-11-04 17:17] Fourdee commented on #1223
@sfb2

Yep, Tim has done an amazing job with the build-recipe 👍

[2017-11-04 20:28] kurtjcu commented on #1224
Problem is not with the update 157 but occurs with apt-get update && upgrade.

[2017-11-04 20:39] Fourdee opened #1225 "DietPi-Software | Owncloud URL 404"

[2017-11-05 10:04] kaffeekanne commented on #1107
Baikal is not developed anymore, so removing it from dietpi might be wise: [http://sabre.io/blog/2017/development-on-hold/](url)

[2017-11-05 10:09] kaffeekanne commented on #1108
Is radicale still considered? Development of Baikal is halted, and radicale seems to be the alternative with low resources needed. #1107

[2017-11-05 10:18] kaffeekanne commented on #1050
As public searx instances are often very slow due to heavy traffic it would be awesome to have this officially included in dietpi. Will probably install it by hand, but for the interested non expert an automated installation would be nice.

[2017-11-05 13:29] Fourdee commented on #208
@tillcash
Pop it in ```/etc/rc.local```, above the ```exit 0``` line.

[2017-11-05 13:59] Fourdee commented on #1223
### Goals

#### Step 1:
- Get everything working at a basic (as expected) level, Integrate into ```dietpi-software```as a optimized automated installation

#### Step 2:
- Ensure cross compatbility with existing DietPi scripts + moOde. Install may be limited to a moOde only install, and removes some compatibility with existing dietpi-scripts (as moOde will take over, eg: we both expect different en

[2017-11-05 14:13] Fourdee commented on #1223
### Install Notes/Issues:
- 🈯️ ```php-memcache``` required package | ```worker.php``` is not receiving/applying changes to system.
- 🈯️ DietPi ```/etc/rc.local``` overwritten by moOde, combine both.
- 🈺 moOde requires  entry/layout expected ```/boot/config.txt```? Will it work with DietPi's ```config.txt```? Combine both if needed?
-- 🈯️ DAC ```dtoverlay``` selection/addition appears fine
- 🈯️ (im

[2017-11-05 14:23] Fourdee commented on #1223
![image](https://user-images.githubusercontent.com/7077026/32415652-dbcf7d2e-c234-11e7-8877-1f5012f0a857.png)

[2017-11-05 23:04] MichaIng commented on #1067
MySQL and Nginx fixes: https://github.com/Fourdee/DietPi/pull/1226

[2017-11-05 23:20] MichaIng opened #1227 "[VM] DietPi-Config | Change terminal size/resolution on virtual machines"
I was annoyed by the tiny 640x480 terminal on VirtualBox images. Searching and trying around for a wile, I finally found a solution that works to adjust it: https://forums.virtualbox.org/viewtopic.php?f=3&t=33214#p152720

as an example.

Using this we could allow display settings via `dietpi-config` also on VMs.

[2017-11-05 23:32] kurtjcu commented on #1224
Currently have a working version by commenting out all the apt-get upgrade calls from within dietpi-config and dietpi-software scripts

[2017-11-06 02:19] TheOldPresbyope commented on #1223
Glad to see this push forward. You have an eagerly awaiting audience!

Count me as one willing to be a crashtest dummy for DietPi/moOde on RPi and Odroid not to mention other SBCs and VMs. I've been puttering with moOde on RPi since r2.6 and have used DietPi in several appliances. No problem with the Linux CLI.

Your Step 2: It would not trouble me if DietPi were limited to a "moOde only" install

[2017-11-06 02:46] rikardo1979 commented on #1223
nice to see you working on this. I am an long time MoOde user.
You can count me in for crash testing :P

[2017-11-06 20:23] Fourdee opened #1228 "General | Wikipedia page for DietPi"

[2017-11-07 13:33] MichaIng commented on #1067
Just switched my VMs to lighttpd. Works well out of the box. No X-Headers security warnings like with Nginx, so these headers seem to be set automatically here?

I tried to add location/url based 128 opcache memory:
`nano /etc/lighttpd/conf-available/99-nextcloud.conf`

Lets the opcache warning on admin panel disappear. But these setting will be set globally after visiting one Nextcloud page. Afte

[2017-11-08 08:35] molnarti commented on #1225
i would rather suggest to drop owncloud support altogether, nextcloud is a better alternative in each way. rather focus efforts where they can bring more benefits.

[2017-11-08 08:52] hiscorebob commented on #1145
I have tested the "testing" branch, and can confirm that the Problem is solved. Home assistant installs and runs as expected.

[2017-11-08 08:52] #1145 closed, assigned to nobody

[2017-11-08 13:36] R1CH-T commented on #1091
Just so you guys know, @ondrej1024 has merged the "GPIO Fix" branch into the master repository, so everything is working fine now: https://github.com/ondrej1024/crelay/issues/11#issuecomment-341722589

As for the patch allowing 16 GPIO relays, I need some more time for testing.

For now, Crelay should 'be good to go', so @Fourdee; if you have the time, the installation method worked out above shou

[2017-11-08 16:21] Fourdee commented on #1124
[code]

[code]

[2017-11-08 22:37] douglasmiranda commented on #719
Another common cause for these kind of errors is if you have some volume on /etc/fstab that you are mounting on boot and it fails. Sometimes it fails before the system mounts the first volumes.

So you wait a while and the system will let you inform your root password to enter in maintenance mode, then you can edit your /etc/fstab file, remove / comment the entries that may be the cause of error.

[2017-11-09 15:52] moodeaudio commented on #1223
Hi Dan,

Looking good!

-Tim

[2017-11-09 16:29] MichaIng commented on #1225
I just installed owncloud on VM Stretch with Lighttpd and faced several problems:

First of all about installation part: https://github.com/Fourdee/DietPi/blob/testing/dietpi/dietpi-software#L4005
- We use fix Debian 8 repository. Exactly since the last minor update (10.0.3), there is a Debian 9 repository available that should be used in case of Stretch: https://download.owncloud.org/download/rep

[2017-11-09 16:48] zub0r commented on #1042
+1
 @vsxen Did it work? Could you please explain how to use Odroid C2 image with K2 or at least provide some references? Thank you.

[2017-11-09 17:06] MichaIng commented on #1208
Jep, choosing 'Daemon + Drift' doesn't seem to have any effect. No service/process of ntp can be found active.

[2017-11-09 17:50] Kinder0083 commented on #1042
Hello. sorry it does not work.

2017-11-09 17:48 GMT+01:00 Martin Haviar <notifications@github.com>:

[2017-11-09 19:22] Fourdee commented on #1225
Confirmed, appears the ```.deb``` installation has changed, owncloud is now located in:
[code]

EDIT: and a million other things as @MichaIng spotted 👍

[2017-11-09 19:50] Fourdee commented on #1225
Ok, i'll send PR to fix the install, however,
@MichaIng has made some good points, further investigation for improved installation is required, as a new ticket.

[2017-11-09 19:53] Fourdee opened #1229 "DietPi-Software | Improve Owncloud installation"

[2017-11-09 19:54] Fourdee commented on #1225
Tested fix with Odroid C2. Install working correctly.

Will mark this as closed. Ticket for improved installation: https://github.com/Fourdee/DietPi/issues/1229

[2017-11-09 19:54] #1225 closed, assigned to nobody

[2017-11-09 20:02] Fourdee commented on #1208
Quick test on Odroid C2, unable to replicate:
[code]
![image](https://user-images.githubusercontent.com/7077026/32626986-d7c3a104-c588-11e7-8f7a-29322d7a4061.png)

Could be specific to our OPi Zero image.

[2017-11-10 00:00] MichaIng commented on #1208
- Okay, for the first, `dbus` need to be installed for systemd to initiate `systemd-timesyncd`
- On Jessie then the service is starting as expected.
- But on Stretch, it fails if `ntp` is still installed and active: https://superuser.com/questions/938926/systemd-timesyncd-service-start-fails
This error really just shows up on Stretch. On Jessie everything works, even if the mentioned `/usr/sbin/nt

[2017-11-10 03:32] MichaIng commented on #1229
@Fourdee **W8888, something went crazy with your fix:**
- For Stretch the installation location did not change, still is `/var/www/owncloud`!
- For Jessie I just tested, a bid confused: Also for Jessie the package `owncloud` does not exist anymore on ownClouds own repo, but there is an ancient version 7.x (recent is 10.x) in debian repo (just Jessie, not Stretch) that will be installed with very o

[2017-11-10 14:57] Fourdee opened #1230 "DietPi-Services | Improve 'status' command, to detail failed services"
```dietpi-services status```

[2017-11-10 14:58] Fourdee commented on #1230
![image](https://user-images.githubusercontent.com/7077026/32663933-93b790de-c627-11e7-9bb9-279abbecd1ec.png)

[2017-11-10 15:06] Fourdee commented on #1230
Completed.

[2017-11-10 15:06] #1230 closed, assigned to Fourdee

[2017-11-10 15:30] Fourdee commented on #1067
Test, NextCloud + Nginx + Odroid C2:
- 🈯️ @MichaIng 👍

[2017-11-10 15:36] Fourdee commented on #1227
@MichaIng

Yep, its a little small. Personally I use solely SSH.

Been a while since I last ran our VM, if I remember correctly, in VMware, you can define the screen resolution in the VMware GUI, prior to running the VM.

I'll verify when I get round to https://github.com/Fourdee/DietPi/issues/1219

[2017-11-10 15:39] Fourdee commented on #1122
Notes:
- Seems to occur 100% of time with RPi + Stretch image.

[2017-11-10 15:43] Fourdee commented on #1225
@molnarti

Whilst I agree NextCloud is generally better. We do like to offer choice in DietPi (where possible) and let the user decide.

[2017-11-10 15:44] Fourdee opened #1231 "Allo GUI Images | Update to V3"
- Includes critical stability patch for Sparky SBC, and, a few web interface optimizations.
- Existing installs, will be able to patch once v158 is released (Aiming for this weekend).

[2017-11-10 16:03] Fourdee commented on #1218
Unable to replicate. I'll mark this as closed for now as we require the update logs (added to v157 https://github.com/Fourdee/DietPi/issues/1218#issuecomment-340780688)

Please reopen if required.

[2017-11-10 16:03] #1218 closed, assigned to Fourdee

[2017-11-10 16:04] Fourdee commented on #1144
@MichaIng

Is this issue still occurring, after all the Nginx/NextCloud PR's?
https://github.com/Fourdee/DietPi/issues/1067

[2017-11-10 16:59] Fourdee commented on #1208
@MichaIng

Great find 👍

 In any case the ntp package is not necessary anymore, so should be purged if timesyncd is used

So in theory, we could simply ```apt-get purge ntp``` when user selects ```daemon + drift```, and visa versa, reinstall as needed?

[2017-11-10 17:00] thechildofroth commented on #1223
I'd love for the 'optionals' to be in there too.

But I do think there ought to be some consideration about how it interacts with DP as a whole (many of the technologies are already in DP) - let's face it getting MPD up and running with DP was never all that hard anyway!
So I think that if (for instance) one installs sharepoint sync using Moode, it should turn up ticked in the DP-software menu. Al

[2017-11-10 17:14] k-plan commented on #1228
@Fourdee

like to help you out, but it's a job for a  :gb:  native speaker

But some hints for missing links:

https://en.wikipedia.org/wiki/Raspberry_Pi#Operating_systems

https://en.wikipedia.org/wiki/Light-weight_Linux_distribution#Overview_of_distributions

(here a Wikipedia sub page link is missing)

-------------------

and here  a lack of links to http://dietpi.com/#download on some Wikiped

[2017-11-10 17:44] MichaIng commented on #1208
Jep, this also works on Jessie and we can keep installation slim this way. ntp pools need to be set in /etc/systemd/timesyncd.conf then.

But in terms of memory consumption ntp called by cron is still the preferred way, as systemd-timesyncd consumes up to 5M on my VMs + additional dbus memory.

[2017-11-10 17:52] MichaIng commented on #1144
Hmm totally forgot. Don't see it anymore on my machines, even not on my production system where nothing was affected by PRs... can be closed as for now.

[2017-11-10 17:58] MichaIng commented on #1227
Yeah, SSH is actually easier choice, at least for testing cases, as it enables copy/paste in headless terminal. Horrible that there is no solution on VirtualBox for this.

On VirtualBox I also didn't find any other possibility to adjust screen size, so there it is a way and does not hurt. Should be checked if there are interferes with vmware, if you choose screen size in the front.

[2017-11-10 18:25] MichaIng commented on #1164
systemd-timesyncd/timedatectl also needs dbus to start, which is offered as ntp option by DietPi. Another argument to keep it, and who knows which other systemd services depend on it/logind. We should really keep things as they are to prevent further surprises. Will mark as closed...

[2017-11-10 18:26] #1164 closed, assigned to nobody

[2017-11-10 18:40] MichaIng commented on #1133
Found another issue related to this:
Even that ipv6 module is blacklisted (which is what dietpi-config does on disabling IPv6), wget and apt sometimes (depending on repo) try to connect to IPv6 addresses. This was the case for me with owncloud installation via their own repo. I needed to adjust setting in /etc/.wgetrc to get repo key via wget and switching repo address from http to https somehow m

[2017-11-10 21:59] Fourdee commented on #1223
@thechildofroth

Thanks for the suggestions Roth, appreciate them as always. I will take them on board 👍

Our initial goal is to provide a moOde install that stays true to the build-recipe Tim created, and, supports official updates. We don't want to deviate too far away from this, without ensuring full support across moOde first and foremost, then DietPi.
Once thats completed and stable, we can l

[2017-11-11 02:03] MichaIng commented on #1157
Have the same idea, first to separate software installation from dietpi-software, but would skip the zip. DietPi files are small anyway, so zip is not necessary. But removing those conf files from ram would be a goal I am looking for. /opt/ would be an idea....

[2017-11-11 12:09] k-plan commented on #1230
Love it, very nice!

[2017-11-11 19:28] Fourdee commented on #1065
### Notes:
- online doc: http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=9486#p9486

[2017-11-11 20:20] Fourdee commented on #1065
Lightweight justice 😄
![image](https://user-images.githubusercontent.com/7077026/32693153-c5f5883e-c71d-11e7-9e6c-e4f6fbd9ec7a.png)

[2017-11-11 20:50] Fourdee commented on #1065
Pretty much done.

Will run one more test install to check installation and online guide.

[2017-11-11 20:56] Fourdee commented on #1065
@R1CH-T

I now see why the Google AIY kit is worth a purchase, so much fun 👍

[2017-11-11 23:39] mpember commented on #1065
Is there a need to have the service run as **root**?  Mine is working fine as the **dietpi** user.

[2017-11-12 13:06] wojtekkutylacc commented on #1223
I am eagerly awaiting this becoming available as an image. Great work, people, keep it coming :)

[2017-11-12 15:38] Fourdee commented on #1208
@MichaIng

👍 I'll add this to v159 milestone

[2017-11-12 16:34] Fourdee commented on #1065
Tested and completed.

[2017-11-12 16:54] Fourdee commented on #1231
Completed, images now live.
Releasing DietPi v158 now.

[2017-11-12 16:54] #1231 closed, assigned to Fourdee

[2017-11-12 17:06] Fourdee commented on #1229
@MichaIng

Good finds 👍 , i'll mark this as a bug and set v159 milestone.

[2017-11-12 19:54] borpin commented on #1208
It has been suggested to me that timesyncd may not work on a Read Only filesystem https://community.openenergymonitor.org/t/ensuring-emonpi-emonbase-time-is-synchronised-with-an-ntp-server/5487/11

Not sure if this is useful information or not.

[2017-11-13 16:16] emouawad commented on #875
Does that mean Orange Pi Win plus should also run?

[2017-11-13 16:33] Fourdee commented on #409
@saiakash

```dietpi-autostart``` > Console

[2017-11-13 19:26] Fourdee commented on #1208
Tested ```2``` > ```4``` > ```0``` > ```2``` > after all commits on:
- 🈯️ Jessie
- 🈯️ Stretch

[2017-11-14 03:15] MichaIng opened #1233 "[MariaDB] | unix_socket plugin prevents mysql -uroot login with other than root user"
Just realized during ownCloud/Nextcloud new testing installations, that with MariaDB (and therefore also MySQL since Stretch, as `mysql-server` package is meta for `mariadb-server-10.1` there) it is not anymore possible to run `mysql -uroot`, if you are not unix root user. On the other hand you also don't need to give password anymore. If logged into linux as root user, you can directly use `mysql

[2017-11-14 03:23] MichaIng commented on #1208
Works great, also tested with Jessie and Stretch VMs back and forth 🙂.

[2017-11-14 14:23] R1CH-T commented on #1065
Thank you so much for this, @Fourdee!

Also; thanks for your input, too, @mpember. It would not have been possible without you.

This stuff is going to be a moving target and is one of Google's top priorities, so I am in awe of what has been accomplished here.

I got lucky, in a way: When I subscribed to the MAGPI and got this kit, a year ago, I immediately jumped on the hype train. As the magazin

[2017-11-14 19:48] paulstephane opened #1234 "Allo USBridge not playing using Mosaic UV DAC"
## Creating a bug report/issue:
Reference code: adc52cd0-5767-4c2a-a8e9-f8a3f5d86857-0

Allo USBridge does not play to Mosaic UV Dac. RaspberryPi with DietPi plays correctly to the DAC. Allo USBridge plays correctly to another DAC.
With the USBridge to the Mosaic, the sound is a series of uninterrupted clicks.
Mosaic USB input is 1.0.

Addition: without the USBridge card, the Sparky plays to the D

[2017-11-15 08:53] twentyninehairs opened #1235 "Syncthing Update via web GUI"
Syncthing currently appears to not have write permissions to run automated updates due to the process located at /usr/bin, and running the user 'dietpi'.

What is the correct solution for this?  Do you think the bin install directory should be somewhere else that folder permissions can be finely tuned?

I think I would like to change the syncthing user to root while this is being resolved. But I'm

[2017-11-15 15:14] joaofl commented on #1235
What I did to get it working was to move the binary to the dietpi-user folder, and change its path on the corresponding dietpi-service.

I should do it for new installations as well.

[2017-11-15 15:19] joaofl commented on #1222
I had the same issue, but I think the issue is simpler than some kernel issue.

This happens since Dietpi included a service to monitor the wireless connections and reconnect if connection is lost (every 10 seconds). So, once you kill this service, the connection is lost.

So, whenever one tries to update, first thing Dietpi does it to stop all its services, including this one, which kills the con

[2017-11-15 16:17] Fourdee commented on #1208
@MichaIng

Excellent 👍

I'll mark this as completed.

[2017-11-15 16:17] #1208 closed, assigned to nobody

[2017-11-15 18:10] Fourdee opened #1236 "DietPi-Software | MPD 0.20.x"
- DSD support
- We will need to compile binaries, host on dietpi.com.
- Will also speed up moOde installation, due to pre-compiled binaries: https://github.com/Fourdee/DietPi/issues/1223#issuecomment-344674384

[2017-11-15 18:19] Fourdee opened #1237 "DietPi-Software | Squeezelite DSD"
User reports DSD playback not native. DoP only.
[code]

[code]

[2017-11-15 21:01] 1989gironimo commented on #926
My experiences so far:
- If I install the 4.9 image the XU4 stops randomly because of heat issues - the fan doesn't get triggered often enough to cool down the device (don't have this issue if I'm upgrading from 3.x and I can reproduce this behavior) - I cannot get past the installation routine because of this.
- If you upgrade from 3.x you have to change the firmware entry \boot\boot.ini -> exyno

[2017-11-15 21:29] joaofl commented on #926
The issue with the HD is there. It happens to me as well, and to some other people, as reported at the hardkernel forums.

This same issue manifests with the rootfs on the USB, causing  the problem you mentioned (that crashes everything).

In my case, I'm went back to the 3.10 kernel version, which is still more stable (but don't take the best out of the hardware).

The kernel  developers believe

[2017-11-16 00:36] twentyninehairs commented on #1235
Where is the script that loads the dietpi service? I looked, but haven't found it yet.

[2017-11-16 03:05] TheOldPresbyope commented on #1223
Followed your steps to test...on an RPi3B with ethernet connection

Forgot to time the installation but Moode client has just popped up and I can ssh into the host as well. Sweet.

I won't have time to exercise the installation until tomorrow, but this is very encouraging. Well done.

[2017-11-16 05:00] mrred128 commented on #94
DietPI would benefit greatly from zram. Swapping is much slower than ram compression.

The sad thing is it would be such a no-effort inclusion.

[2017-11-16 15:50] joaofl commented on #1235
it is located at `/etc/systemd/system/syncthing.service`

then you have move the executable to the dietpi_userdata folder, and edit the service file to look like:

[code]

make sure the config files are already located at the `-home=` dir

[2017-11-16 21:09] TheOldPresbyope commented on #1223
DietPi_v156_RPi-armv6-(Stretch).img failed to install on an RPi0W with ethernet connection.

After waiting a time, the nginx server came up with the default page. The install was left to cook while I did other things. Hours later, no change. Powered off and mounted the uSD card in a Linux Mint system. The (root)/var/log directory is nearly bare. I found DietPi-Automation.log in the (root)/root dir

[2017-11-16 22:32] sfb2 commented on #1223
_Just for info/to confirm:_
**_WORKS !!_** here on a RPI3 + (ES9028Q2M)..
absolut straight-forward, no issues, about 35-45min (most part time for MPD-compiling); unbelievable, such a wonderful script..so many thx !! ;-)
(PS.: (with the gear here->soundwise: not so fine/good/accentuated as normal DietPi+MPD (still very good), but also with no clicks/pops while volume changing in the UI in opposite

[2017-11-17 00:27] bobold commented on #1223
Installed and working on a Pi-1B.
Had a monitor attached to hdmi and confirmed start of installation. However, when I checked 3 hours later it had blanked and I had to assume the install had finished.
How about a 'completed, please reboot' message ?
Yes, I could have ssh-in and checked but the 2 times I tried to install previously the install stopped once I had ssh-in... means you've just got to g

[2017-11-17 00:33] sfb2 commented on #1223
yes..thx bobold..that was an "issue" here too..thought also about if its "stucked" or not..something like "Installed successfully..please reboot->(Enter)" or similar.. ;-)

[2017-11-17 13:14] tatoosh opened #1238 "Bootloop - Error line 302 0#NTPD: invalid number"
## Required Information:
- DietPi Version  158
- SBC Device  rpi zero
- Power supply used 5.1v 2a
- SD card used  Sandisk Ultra 8GB
- Distro (EG: Jessie) | 4.9.52+

## Info:
If i have not connected my USB LAN device i will end up in a boot loop that i can't break.
![img_20171117_123643](https://user-images.githubusercontent.com/3670907/32949013-828b52c6-cba1-11e7-9860-183e955f496d.jpg)

How to sol

[2017-11-17 13:38] tatoosh opened #1239 "(RPi zero) V158 DietPi and DietPi Jessie | WLAN Error for wireless request "Set Encode" (8B2A) :"
## Required Information:
- DietPi Version  158
- SBC Device  rpi zero
- Power supply used 5.1v 2a
- SD card used  Sandisk Ultra 8GB
- Distro (EG: Jessie) | 4.9.52+

## Error

My wifi is not working anymore.

## Reproduction

[code]

[2017-11-17 14:01] MichaIng opened #1240 "[Question] DietPi-Software | Nginx: "nginx-light" and no "xml-core" possible?"
Software to test with just `nginx-light` and without `xml-core` separately installed:
€: and without `php5-xsl` + `php(5)-cgi`
- [x] ownCloud: Jessie and Stretch 🈯️
- [x] Nextcloud: Jessie and Stretch 🈯️
- [x] phpMyAdmin: Jessie and Stretch 🈯️
- [x] Koel: Stretch and Jessie 🈯️
- [x] Ampache: Stretch and Jessie 🈯️
- [x] O!MPD: Stretch and Jessie 🈯️
- [x] Pydio: Stretch and Jessie 🈯️ Unrelated: Inst

[2017-11-17 14:54] Fourdee commented on #1223
#### Notes:
- 🈯️ Offer prebuild .debs of MPD (reduce install time): https://github.com/Fourdee/DietPi/issues/1236
- Inform user with dietpi-banner, when system is ready for the 1st time
- RPI Zero W / ARMv6: Fails during APT?: https://github.com/Fourdee/DietPi/issues/1223#issuecomment-345063301

[2017-11-17 14:56] Fourdee commented on #1236
Compiles:
- 🈯️ ARMv6
- 🈯️ ARMv7
- 🈯️ ARMv8
- 🈯️ x86_64

[2017-11-17 15:45] Fourdee commented on #1236
+OPUS
[code]

[2017-11-17 18:51] Fourdee commented on #1236
Todo:
- Verify DSD options in ```mpd.conf```, and, do not break mpd 0.19 on Jessie.
[code]

- dsd output options do not exist in 0.20.11. DSD patch required, limited to 0.19.X?
https://github.com/MusicPlayerDaemon/MPD/search?utf8=%E2%9C%93&q=dsd_native_type&type=
https://github.com/lintweaker/mpd-dsd-019/blob/master/0001-Extend-MPD-0.19.21-DSD-support.patch
- combo384 + DSD64 file still results in

[2017-11-17 19:45] Fourdee commented on #1238
@tatoosh

Please change/verify the value of ```boot_wait_for_network=``` in ```/DietPi/dietpi.txt``` to:
[code]

[2017-11-17 20:33] Fourdee opened #1241 "DietPi-Software | MPD: DSD native playback"

[2017-11-17 20:35] Fourdee commented on #1236
Marking as completed. 0.20.11 now live for Stretch.

DSD native playback requires further investigations and its own ticket:
https://github.com/Fourdee/DietPi/issues/1241

[2017-11-17 20:35] #1236 closed, assigned to Fourdee

[2017-11-17 20:38] MichaIng commented on #1233
Related to this, I made a bid research and leaned a bid about mysqls user and persmissions:

ownCloud/Nextcloud occ installation (if it has a mysql admin user with password login) creates a `'oc_admin'` (@'%') user and grant it privileges on nextcloud database. It also creates `'oc_admin'@'localhost'` but doesn't grant it access to nextcloud database:

`oc_admin@localhost` is something like a chil

[2017-11-17 20:39] Fourdee commented on #1240
@MichaIng

Unsure, cant honestly remember. If you do remove it, just do a quick test with nextcloud (or other web interface software) to ensure it doesn't break it.

[2017-11-17 20:44] molnarti commented on #1067
it seems that in v158 nextcloud cannot access the MySQL database, at least in case of lighttpd. see more details here: http://dietpi.com/phpbb/viewtopic.php?f=11&t=2475&p=9573#p9573

[2017-11-17 21:15] MichaIng commented on #1067
@molnarti
Jep, sorry for introducing this, wonder that I never faced during tests...
Fixes with: https://github.com/Fourdee/DietPi/pull/1242

[2017-11-17 21:18] MichaIng commented on #1233
Fixed by: https://github.com/Fourdee/DietPi/pull/1242

Should be kept in mind if any other database root access is necessary by other unix user.

[2017-11-17 21:18] #1233 closed, assigned to nobody

[2017-11-17 21:30] MichaIng commented on #1240
@Fourdee
Nextcloud and ownCloud do work well without it. Of course I can't test all web service software now 😆.

Another question about apt packages I find after nginx/lighttpd stack installation: https://github.com/Fourdee/DietPi/blob/master/dietpi/dietpi-software#L3814
php-cli and php-xsl are installed for non-apache stacks, but Nginx and Lighttpd are both configured to use php-fpm. Thus the oth

[2017-11-17 21:37] oparoz commented on #1238
I think you meant @tatoosh ?

[2017-11-17 22:47] MichaIng commented on #1229
Installation fix applied, taking into account the different distros: https://github.com/Fourdee/DietPi/pull/1243

We could also directly use manual archive download for all distros, but I have no idea how well the integrated updater works.

Configuration including occ installation, webserver configs etc. coming soon. We can do it similar to Nextcloud here. Only adding `1 => '*',` to `config.php` t

[2017-11-18 08:40] tatoosh commented on #1238
@Fourdee then my boot is delayed? I need a very fast boot for my music player project. Any other chance to solve this?

Here is my dietpi.txt:
[code]
maybe this is enough?

[2017-11-18 16:01] Fourdee commented on #931
Arrived 😄

#### Notes:
- Write EMMC to SD > https://elinux.org/BeagleBone_Black_Extracting_eMMC_contents#Alternatives
- Write SD to EMMC > https://elinux.org/Beagleboard:BeagleBoneBlack_Debian#Flashing_eMMC
- ```rsync dosfstools``` required?

_NB: BBB LEDS are blinding and distracting lol, like looking at the sun._

---

```fstab``` under SD boot (emmc is k1p1):
[code]
---

- 🈴 Our current removal

[2017-11-19 05:20] MichaIng commented on #1144
@Fourdee Error still there, just appeared on fresh Nextcloud installation

[2017-11-19 16:15] Fourdee opened #1244 "DietPi-Config | Nvidia driver: nouveau disable required for 750Ti"
And possibly other cards:

[2017-11-19 16:40] Fourdee commented on #1244
Fix applied, should be fine, however testing required to verify.

On a fresh installation:
- Edit ```/DietPi/dietpi.txt``` and set ```gitbranch=testing``` (bottom)
- Run ```dietpi-update```
- Install the driver and test
- If you plan to keep this installation, revert back to master. Edit ```/DietPi/dietpi.txt``` and set ```gitbranch=master``` (bottom)

[2017-11-19 17:09] vmavromatis opened #1245 "DietPi-Software | Bundle Pi-hole & PiVPN"
This is a feature request :)

With these two becoming a very popular option for RPi's (and the like) make it so that these two play nicely together.
There is a nice guide to make them work together https://itchy.nl/raspberry-pi-3-with-openvpn-pihole-dnscrypt and dnscrypt is surely nice, but if it's too much work it can be skipped. The other two however seem to work very well together (remote netwo

[2017-11-19 17:30] Fourdee commented on #1223
Test install with Stretch image and:
- RPi Zero W 🈯️

Unable to replicate the APT error @TheOldPresbyope. Please can you re-test?

![image](https://user-images.githubusercontent.com/7077026/32993385-34116144-cd4f-11e7-9185-b3aec168c2dd.png)

[2017-11-19 17:40] Fourdee commented on #1222
DietPi kernel does not provide headers/source in our binaries (reduces filesize/load on server).

To compile drivers with ```rpi-source```, you'll need to use ```rpi-update``` to revert to stock kernel as per @MichaIng suggestion.

Updating DietPi will also update kernel with latest DietPi kernel, until we have a system which allows for kernel selection, please keep this in mind.

I'll mark this a

[2017-11-19 17:40] #1222 closed, assigned to nobody

[2017-11-19 18:02] mho-ohm commented on #1223
RPi 2B here
Following install, I'm presented with a login request. I login, reboot and am asked to fill in my default credentials again. The Moode ascii art screen flashes by and I'm presented with the command line, with options to run dietpi-launcher, dietpi-config, dietpi-software, htop and cpu. No option to start the moode client. Am I missing something?

The /etc/dietpi/logs/dietpi-software_ap

[2017-11-19 18:16] Fourdee commented on #1223
@mho-ohm

Indicates installation now completed (we will add a notification in future). Should be running and accessible via web, try accessing it:
- http://dietpi.local
- http://192.168.0.100 (change ip as needed)

[2017-11-19 18:25] mho-ohm commented on #1223
Thank you, sir! Accessed it via my web browser on another computer on the same LAN. (This former volumio user should have known better.)

[2017-11-19 19:54] DDA78 opened #1246 "DietPi-Software | Medusa"
Can I propose inclusion of medusa in the software list, it has much more features then sickrage and more actively developed

https://github.com/pymedusa/Medusa

https://github.com/pymedusa/Medusa/wiki/Installation-&-Configuration-Guides

[2017-11-19 20:04] TheOldPresbyope commented on #1223
About to leave for a family party. I will retest with RPi0W in morning. Thanks for your efforts.

[2017-11-19 21:18] secpri commented on #926
The **(NR_4.x)_DietPi_OdroidXU4-armv7-(Jessie).7z** works so far seemly out of the box on an **ODROID HC-1**, very nice.

![hc1](https://user-images.githubusercontent.com/33813344/32995609-45bf8df8-cd77-11e7-8295-e491e5c53c16.JPG)

![4 9 24](https://user-images.githubusercontent.com/33813344/32995587-0cabf72c-cd77-11e7-9706-3cdaf149d003.JPG)

![cpu](https://user-images.githubusercontent.com/338133

[2017-11-20 13:29] rikardo1979 commented on #1223
great stuff @Fourdee ;)
Just installed with no problem on my RaspDAC(RPi2 I-Sabre 9023 TXCO)
Can access the MoOde webgui and adjust some settings. Some parts does not work and looks like hanging when trying to adjust, like adding sources. Trying to turn on UPnP or DLNA but no go. So understand is still not implemented?

Looking forward to new updates/improvements

Thank you

[2017-11-20 13:33] MichaIng commented on #1240
Made further investigation:
- On Jessie xml-core is recursive recommendation for nginx > nginx-full/extras > libxml2. Thus it will be automatically installed together with nginx at the moment, as long as recommendations are not yet excluded from auto installation.
- On Stretch it has gone, as far as I was looking recursively into the deps.
- By looking into this, I recognized the [nginx-light](htt

[2017-11-20 13:59] rikardo1979 commented on #1223
just tested playback from NAS (LAN). Not smooth, a lot of skipping every few seconds. htop shows nothing unusual, very low usage
![image](https://user-images.githubusercontent.com/2865379/33021785-f4e8e10c-cdfa-11e7-8343-e1eeddede29a.png)

[2017-11-20 14:10] MichaIng commented on #1229
Found complete installation (+database/config.php creation) and nginx+apache configs for ownCloud on Jessie and Stretch. Moreless similar to Nextcloud. Also recreated both configs from official docs. Not much changed, just some parent location directives added.

We can install both beside another, but then some redirections (acme+cal/carddav esprcially) and security headers are duplicated.

Securi

[2017-11-20 15:40] Fourdee commented on #1238
@tatoosh

0 will be fastest for boot, but will not wait for network.

Also, ensure new line after ```=0```, as per:
https://github.com/Fourdee/DietPi/blob/master/dietpi.txt#L159

[2017-11-20 16:26] Fourdee commented on #1223
@rikardo1979

Thanks for testing 👍

Thanks, i'll try to replicate.

Yep, not currently implemented, it is planned as we want to offer the full moOde experience. However, MPD only for now.

Yep, looks fine, possibly due to low audio/period buffers in MPD. What are the current settings?

[2017-11-20 16:31] TheOldPresbyope commented on #1223
Yes, now builds on my RPi0W. Don't know what happened the first time. I think the uSD card was ok but I used a new one just in case.

Also, my apology for the "shouting style" of my previous message. I should have previewed it. Then I would have noticed the github formatter had gone to town on what I thought was plain text but which inadvertently contained markup.

Next order of business: be able

[2017-11-20 17:02] Fourdee commented on #1223
@TheOldPresbyope

No need, its all good 👍.
EDIT: if you edit your original post, you'll see the formatting i've added : https://github.com/Fourdee/DietPi/issues/1223#issuecomment-345063301

WiFi is not functional on our Stretch image. We are trying to find the cause: https://github.com/Fourdee/DietPi/issues/475#issue-171250292

[2017-11-20 17:12] TheOldPresbyope commented on #1223
Curious. It works fine when we build moOde directly on 2017-09-07-raspbian-stretch-lite.

[2017-11-20 18:18] Fourdee commented on #1229
@MichaIng

Current IP address:
[code]

Domain/hostname:
[code]
https://www.tutorialspoint.com/unix_commands/hostname.htm

[2017-11-20 18:56] moodeaudio commented on #1223
Hi @k-plan,

Just to confirm that the download links were changed a while back.

Beta zips will be under
http://moodeaudio.org/downloads/beta/rel-stretch-rNNbN.zip

Production release will be under
http://moodeaudio.org/downloads/prod/rel-stretch-rNNN.zip

-Tim

[2017-11-20 19:08] k-plan commented on #1223
Hi Tim,

thanks for your hint. :+1:

Is it possible, you will leave some older versions online in the future?
Difficult to get always the last release by shell scripting.

Or is something like: http://moodeaudio.org/downloads/beta/rel-stretch-lastest.zip
 posible, which is always a link to the lastest release: http://moodeaudio.org/downloads/beta/rel-stretch-rNNbN.zip

Or can @Fourdee  do his own

[2017-11-20 19:31] 1989gironimo commented on #926
odroid released the final of kernel 4.14, but we have to wait until meveric updates his repository. Am I right?

[discussion in the odroid-forums](https://forum.odroid.com/viewtopic.php?f=146&t=27548)
...
[and here's the release information](https://forum.odroid.com/viewtopic.php?f=146&t=28895)

Really tempted to try the new version because of the hdd-fan not working on 3.1xx

[2017-11-20 19:52] chirohito commented on #1223
I've had some problems mounting NAS (moOde always pointing to /mnt/NAS/sharedfoldername and dietpi default samba mount is /mnt/samba) since while parsing mount string moOde uses text from "Source name" textbox instead "Remote directory". It played whole afternoon without problems or audiable (at least for me) skipping. I've bought another microSD for future playing with moOde on dietpi.

I would l

[2017-11-20 19:58] k-plan commented on #1223
Last testing for today:

[code]

[code]

[code]

[2017-11-20 21:47] moodeaudio commented on #1223
Hi @k-plan,

Probably best to host the file at DietPi. That way @Fourdee has control over the link. I'm keeping all the source code releases online. Ultimately they will be migrated to Moode git repo thats just been populated :-)

[2017-11-20 22:05] OpNop opened #1248 "(RPi2) V158 DietPi | After update to v158 Wifi stopped working"
#### Required Information:
- DietPi Version: v158
- SBC Device: Raspberry Pi 2 Model B
- Power supply used: 5v 3a
- SD card used: PNY Class 10 16GB
- Distro: Linux DietPi 4.9.62-v7+

#### Additional Information (if applicable):
- Can this issue be replicated on a fresh installation of DietPi?
 Yes
- Hardware in question:
 Edimax Technology Co., Ltd EW-7811Un 802.11n Wireless Adapter [Realtek RTL81

[2017-11-20 23:08] martintenor commented on #1223
Hi All,

I'm also one for seeing moOde on DietPi.
Thanks all for the great work.

I've installed the image on an rPi3b with a Terra-berry DAC2 (hifiberry-dac driver).
For NAS settings, I usually go with NFS, so I installed it via the dietpi-config, then added the source on moOde GUI. No dropout issues I can see during playback, even DSD files with converting on the fly to PCM.

I went ahead with i

[2017-11-21 10:14] tatoosh commented on #1248
I had same problems and opend issue #1239.
My problem is solved at the moment by the help of an USB LAN Adapter but i don't know why because i tested very much out ;)

[2017-11-21 10:16] #1238 closed, assigned to nobody

[2017-11-21 10:17] tatoosh commented on #1238
@Fourdee: solved by inserting blank ```after boot_wait_for_network=0 ```
So you habe to check your script please.

[2017-11-21 13:27] MichaIng commented on #1144
Hmm does only show up on my RPi2 system, the VMs (Jessie and Stretch) don't show this. Seems to be a platform specific issue/feature with this private tmp folder.

[2017-11-21 14:11] Fourdee commented on #1223
@k-plan

E: Unable to fetch some archives, maybe run apt-get update or try with --fix-missing?

Looks like a possible issue with APT mirror/connection/server issue at the time? I'll try to replicate today.

[2017-11-21 14:13] Fourdee commented on #1223
@chirohito

Thanks i'll check the NAS 👍

[2017-11-21 14:14] Fourdee commented on #1223
@moodeaudio

Yep no worries, we got the bandwidth 👍.

[2017-11-21 14:15] Fourdee commented on #1223
ToDo:
- Test NAS: https://github.com/Fourdee/DietPi/issues/1223#issuecomment-345810269
- 🈯️ Host moOde .zip on dietpi.com
- Implement all moOde supported software features (eg: Shairport-sync etc)

[2017-11-21 16:12] k-plan commented on #1223
@Fourdee

Hmm, possible. Start today completely from scratch.

And now it works! :smiley:
![moode_2017-11-21_162452](https://user-images.githubusercontent.com/17237601/33082968-627d0516-cede-11e7-962a-77e0d7b37721.png)

Think, I totally screwed it up by a lot of testing.
Nice work. :+1:

[2017-11-21 17:11] sfb2 commented on #1223
E: Unable to fetch some archives, maybe run apt-get update or try with --fix-missing?
Looks like a possible issue with APT mirror/connection/server issue at the time? I'll try to replicate today."

_had the same issue here..but with the beautiful dietpi-script i just rebooted after a while and after the wonderful "installed"-checks through the dietpi-scripts i was able to continue till finish.._

[2017-11-21 17:52] Fourdee commented on #1223
@sfb2

Thats very kind of you, really appreciate it 👍

For the moment, we are lucky enough to have sponsored hosted by MVS https://www.myvirtualserver.com/en
- 5TB/Month bandwidth

Should things change in the future, and the offer is still valid, i'll be in touch 😄

[2017-11-21 22:47] MichaIng commented on #1248
@tatoosh
After which update step did you face the issue? 157 -> 158 or are you also comming from an earlier version?

I just tired so see where exactly Wifi was touched on the last updates and for first short investigation just found on v157 update `DietPi-Config | Resolved syntax issues with wifi_disable_powersave.service` where the service to disable wifi power management was corrected: https://

[2017-11-22 04:49] TheOldPresbyope opened #1250 "(RPi3) V158 DietPi and DietPi Stretch | missing directory: /var/run/wpa_supplicant"
## Inoperative WiFi likely due to missing directory.

#### Required Information:
 ───────────────────────────────────────
 V158       | RPi 3 Model B (armv7l) also RPi0W (armv6l)
 ───────────────────────────────────────

- Power supply used: 5v/2a
- SD card used: MicroCenter housebrand class 10 8GB uSD
- Distro: Jessie | Stretch

#### Additional Information:
- Tried both DietPi_v150_RPi-armv6-(Jes

[2017-11-22 11:20] rikardo1979 commented on #1223
@Fourdee I have to test more but not easy to find some spare time now.
I have not changed any settings for playback. Was trying to stream FLAC from local NAS(SMB) and all on LAN as I dont use wifi anywhere in my music system.

[2017-11-22 12:02] MichaIng commented on #1250
Are you sure, this is connected to the other issues you linked? Did you otherwise see the same errors?
[code]
I am wondering why wpasupplicant does not create the folder by itself, as it should. But found some other older topics on web, where the same issue occured with this folder missing.

Let's see if your solution also works for the other. Many thanks for sharing this in every case! 😃.

[2017-11-22 12:04] rh1017 commented on #1223
Many thanks Daniel for your efforts with moOde automated install on DietPI. Much appreciated.

I installed DietPi + moOde on a 8 GB Sandisk Utra microSDHC Class 1  using a RPi3b. The installation went smoothly and took under 40 minutes.

Sound quality with a USB interface  (Focusrite Scarlett Solo  2nd Generation) is excellent. Media source is external USB Sata HDD. No dropouts or other artifacts

[2017-11-22 12:05] MichaIng commented on #1248
@OpNop
Did you try the solution of @TheOldPresbyope to manually create wpasupplicants execution folder and reconfigure wifi via dietpi-config?
`mkdir /var/run/wpa_supplicant`

[2017-11-22 12:05] MichaIng commented on #1239
@tatoosh
Did you try the solution of @TheOldPresbyope to manually create wpasupplicants execution folder and reconfigure wifi via dietpi-config?
`mkdir /var/run/wpa_supplicant`

[2017-11-22 13:49] TheOldPresbyope commented on #1250
Sorry, I was focused on the fact we couldn't bring up WiFi. Yes, the 8B2A error shows up once in journalctl output and displays the WiFi passphrase in clear text (I substituted x's for my 12-character passphrase), but the interface comes up and associates with my AP.

[code]
A web search turns up instances of people seeing these kinds of errors with various Linuxes over the years with no clear exp

[2017-11-22 15:29] Fourdee opened #1252 "Image Update | XU4 (due to EMMC 5.1 support)"
Available in latest kernel thanks to Meveric. Required to support the new EMMC 5.1 modules due to be sold by Odroid.

Image update required, to ensure EMMC 5.1 support from initial boot.

[2017-11-22 15:38] Fourdee commented on #1250
@TheOldPresbyope

Thanks for the report 👍

Lets get this confirmed via testing. AFAIK, we do not specifically remove this folder in any of our scripts.
https://github.com/Fourdee/DietPi/search?utf8=%E2%9C%93&q=%2Fvar%2Frun%2Fwpa&type=

Suppose there is no harm in us creating the dir, during WiFi modules activation 👍

[2017-11-22 16:03] Fourdee commented on #1241
Many thanks to @sudeep and PJotr for finding the correct ```mpd.conf``` settings combination.

Requires MPD "Native" output setting in web interface:
[code]

[2017-11-22 16:05] Fourdee commented on #1241
Completed.

[2017-11-22 16:05] #1241 closed, assigned to nobody

[2017-11-22 16:21] Fourdee commented on #1144
@MichaIng

Thanks, good find 👍

Seems the only solution is to manually edit each service to disable ```PrivateTmp```, no global options known:
https://www.maxoberberger.net/blog/2017/10/debian-9-private-tmp.html

[2017-11-22 16:26] Fourdee commented on #1144
Unable to replicate on Odroid C2 Stretch, lighttpd
![image](https://user-images.githubusercontent.com/7077026/33138220-e0d61b14-cfa1-11e7-9eb4-a82e03e2a891.png)

I'll mark this is a unable to replicate/possible known issue, low priority as this is only a warning in logs.

[2017-11-22 17:23] Fourdee commented on #931
### Performance:

- CPU: https://github.com/Fourdee/DietPi/issues/1253#issuecomment-346441545
- Network: 100MBit
- Heat Eff, unable to determine, CPU temp in kernel not implemented.
- Onboard EMMC:
![image](https://user-images.githubusercontent.com/7077026/33141045-d11cc49a-cfa9-11e7-8df2-8044484579a5.png)

[2017-11-22 18:24] Fourdee opened #1253 "DietPi-Config | CPU performance benchmark"
Add ability to benchmark CPU performance, using ```sysbench``` and a MAX prime value.

This will give users a rough idea of CPU performance, when we compare the total time against other systems.

[2017-11-22 18:50] Fourdee commented on #1253
### Sysbench testing (removed in favor of bash + int benchmark): https://github.com/Fourdee/DietPi/issues/1253#issuecomment-346881878

#### Odroid C2 (clearly "cheating" this test?):
![image](https://user-images.githubusercontent.com/7077026/33144705-de1e8a0a-cfb5-11e7-8819-c4f0e88bcf9a.png)

#### Z83-ii | Intel Atom Cherry Trail x5-Z8300
![image](https://user-images.githubusercontent.com/7077026/

[2017-11-22 18:53] Fourdee commented on #1253
Completed.

[2017-11-22 18:53] #1253 closed, assigned to Fourdee

[2017-11-22 19:14] Fourdee commented on #931
### How to flash EMMC (rev C):
- Boot system with DietPi on SD card (hold S2 during power on for 2-5 seconds)
- DietPi may reboot system automatically after updates, if so, hold down the S2 button again.
- Wait for ```dietpi-software``` screen to show, then exit.
- Edit ```/DietPi/uEnv.txt``` and enable line at bottom (remove ```#```) ```cmdline=init=/opt/scripts/tools/eMMC/init-eMMC-flasher-v3.sh

[2017-11-22 19:37] Fourdee commented on #931
Completed. Image now live.

[2017-11-22 19:37] #931 closed, assigned to Fourdee

[2017-11-22 19:42] Fourdee commented on #1245
@vmavromatis

Thanks for the request 👍

We've had a few users attempt this installation manually, would be great if we could automate this for them.

If noone else is able to take this on, i'll pick this up when I can (unsure at the moment, lack of time)

[2017-11-22 21:45] MrHohenheim opened #1254 "Image request Nanopi Fire2A , Fire3"
Hello, is it possible to get an Image from Dietpi for Nanopi Fire2A and Fire3

Fire2A
http://www.friendlyarm.com/index.php?route=product/product&path=69&product_id=205
Fire3
http://www.friendlyarm.com/index.php?route=product/product&path=69&product_id=206

and this 2 version have a LCD support
http://www.friendlyarm.com/index.php?route=product/product&path=81&product_id=167

Many thanks :)

[2017-11-22 21:46] Fourdee commented on #926
@1989gironimo

Meveric update 4.9 kernel recently:

http://fuzon.co.uk/meveric/pool/xu3/l/linux-image-4.9-armhf-odroid-xu3/
[code]

---

Odroid are classing this kernel as early testing ```Your system can be corrupted or malfunction with this bleeding edge kernel.```. Not sure why they are focusing on 4.14, when 4.9 seems stable?
https://odroidinc.com/blogs/news/odroid-xu4-kernel-4-9-ubuntu-image-

[2017-11-22 21:55] Fourdee commented on #1252
- 🈯️ Jessie 3.x http://dietpi.com/downloads/images/DietPi_OdroidXU4-armv7-(Jessie).7z
- 🈯️ Jessie 4.9 http://dietpi.com/downloads/images/no_release/(NR_4.x)_DietPi_OdroidXU4-armv7-(Jessie).7z

[2017-11-22 22:03] joaofl commented on #926
@Fourdee
Many people on their forum are reporting this issue with the USB3, which was said to be fixed on the 4.14.
I could not move to 4.9 due to these IO errors, which are really serious, and completely crash the system when root is on the USB

It also fixes issues with Kodi

[2017-11-22 22:46] GiffE opened #1255 "Home Assistant Service not starting"
#### Required Information:
- DietPi Version | ```cat /DietPi/dietpi/.version```? v158
- SBC Device (EG: RPi 3)? Odroid C2
- Power supply used (EG: 5v 1A RAVpower)?
- SD card used (EG: Sandisk ultra)?
- Distro (EG: Jessie) | ```uname -a```?

#### Additional Information (if applicable):
- Software title? Home Assistant
- Can this issue be replicated on a fresh installation of DietPi? Yes

#### Expec

[2017-11-23 09:44] saudade428 commented on #1223
I installed in RPI 1B,it's cost almost 1hour...(sd card is too slow..)XDD.
But, now it's can't rescan usb...
In ssh "df -h", /dev/sdb1 was exist.
----
11/24
oh... "mount -v /dev/sda1 /mnt/dietpi_userdata/Music/" ,than rescan! it's work!
but web execution is not really good.
however, it's can work! it's so exciting.

[2017-11-23 15:20] 1989gironimo commented on #926
@Fourdee
I've used exactly that kernel - this behavior isn't fixed on 4.9, even in the newest release of meverics kernel.
And in my opinion it's far from stable - like I've described before-> It has at least two severe bugs...
4.14 is the way to go, see:
[linklink](https://forum.odroid.com/viewtopic.php?f=146&t=27548&start=100)

[2017-11-23 21:21] Fourdee commented on #475
### WiFi

#### RL
[code]

#### DP
[code]

---

Something in the system_prep script is the cause (eg: packages), works fine until prep is completed, need to debug.
- 🈴 ```apt-get install -y libraspberrypi-bin libraspberrypi0 raspberrypi-bootloader --allow-change-held-packages```
- 🈴 104 = package removals only
- 🈴 105 = configuration only
- 🈯️ ```/etc/network/interfaces``` now incompatible? This is

[2017-11-23 21:23] Fourdee commented on #1252
Completed

[2017-11-23 21:23] #1252 closed, assigned to Fourdee

[2017-11-23 23:07] borpin opened #1256 "DietPi-Software | node-red: Add a soft link for config folder at install"
## Feature Request

### Background
Node-RED users expect to find their configurations etc in a folder ~/.node-red.  DietPi uses the folder /mnt/dietpi_userdata/node-red.  This folder location is required every time a node is added via npm to Node-RED.

### Solution
Add a soft link at install time from ~/.node-red to /mnt/dietpi_userdata/node-red

BTW, such a simple process to install Node-RED with

[2017-11-23 23:17] mho-ohm commented on #1223
Installed on a RPi2b with 2TB WD USB external hard drive attached. I haven't been able update or rescan the source and "df -h /dev/sda3" returns:
/dev/sda3       1.9T  951G  912G  52% /mnt/9ba037ef-a4c9-3093-a212-a9856378bfa8

[2017-11-23 23:22] MichaIng commented on #1067
Next PR ready to test: https://github.com/Fourdee/DietPi/pull/1251

Brought ownCloud installation onto the level of Nextcloud installation. Both are very similar, only a few necessary/possible differences. Thus I will further improve both together from now on.

[2017-11-23 23:26] MichaIng commented on #1229
Implemented: https://github.com/Fourdee/DietPi/pull/1251
ownCloud will now also install ready to use, with database configured, ownCloud occ-install etc.

Further improvements will be done together with Nextcloud. I renamed the old issue accordingly. This one could be closed now in favour of https://github.com/Fourdee/DietPi/issues/1067

[2017-11-24 12:45] MichaIng commented on #1144
@Fourdee
Just read a bid more about it: https://access.redhat.com/blogs/766093/posts/1976243 and http://0pointer.de/blog/projects/security.html

So basically the idea of this feature sounds totally reasonable to me:  Every service (that enables this) has it's own /tmp and /var/tmp folder, thus can't see any other tmp files and other services can't see it's tmp files. Enhances security significantl

[2017-11-24 15:25] ThomasKaiser commented on #1253
No, just you simply using exactly the wrong tool: `sysbench` can be used as a compiler benchmark but not to compare CPU performance of different systems/architectures.

An `arm64` Stretch binary running on RPi 3 will finish in less than 3.1 seconds (while upstream `arm64` binaries for Jessie take ~30% longer). With `sysbench` everything that matters are compiler switches and that's why you get dif

[2017-11-24 16:40] k-plan opened #1257 "DietPi-Config | Remove 'green LED' form LED Control for H3 devices"
http://dietpi.com/phpbb/viewtopic.php?f=11&t=2473&p=9685#p9683

for 3.x Kernels with Jessie on H3 devices (NanoPi Neo, NanoPi Air, OrangePi One, ...)

Perhaps it will be possible to do this by `$HW_MODE` in `/DietPi/dietpi/func/dietpi-led_control` because blue/red led trigger is working in 3.x Kernel for now.

With Mainline kernel images things have changed and will to-be develop.

[2017-11-24 16:56] Fourdee commented on #1257
@k-plan

Thanks 👍

In DietPi LED control, we pull the available LED options and their current values directly from kernel.
Once the current values are stored, they get applied during boot.

Then issue occurs

I believe in Gordons case, a kernel update has changed the available LED options/layout, causing the existing DietPi LED control settings to be "not as expected".

Quick solution, remove the

[2017-11-24 17:04] Fourdee commented on #1253
@ThomasKaiser

Whats the correct tool? 😄

Thanks for the info 👍

So in theory, the only way to ensure a consistent benchmark across platforms:
- We can compile our own ```sysbench``` binaries, ensuring compile options and GCC versions match (where possible) for each CPU arch.
- Find an alternative (but still the GCC version and compile options will be a factor across CPU arch's)
- Code my own bash

[2017-11-24 17:19] k-plan commented on #1257
@Fourdee

hmm ... same behaviour with my NanoPi Neo here.

Yes, I have started from scratch with last  `DietPi_v145_NanoPiNEO-armv7-(Jessie).img` from Feb-2017 and update  to Kernel `Linux NanoPi-Neo 3.4.113-sun8i #18 SMP PREEMPT Thu Jun 15 02:16:06 CEST 2017 armv7l ` during first boot up with:

http://dietpi.com/phpbb/viewtopic.php?f=11&t=2488

![](https://i.imgur.com/WoJAjvH.png)

But I will tes

[2017-11-24 18:43] Fourdee commented on #1253
## Multi-threaded bash integer benchmark:
#### DietPi users can simply run ```dietpi-config``` > Tools > Benchmark > CPU bench to run.
#### Split over total cores, to reach max value of ```1000000```. Lower time = faster.
- RPi Zero = 5 Minutes, 40 seconds ⏳
- RPi 3 = 24.2 seconds
- RPi 3 B+ = 20.6 seconds
- Rock64 = 19.5 seconds
- NanoPi K1+ (H5) = 18.76 seconds
- Odroid C2 = 16.8 seconds
- Z83-I

[2017-11-24 18:45] ThomasKaiser commented on #1253
There is none since it's all about use case. :)

I normally rely on `7z b` for a rough estimate of integer performance (and also memory bandwidth which influences results slightly) but on boards with low memory conditions `7z` might get killed by the kernel since allocating too much memory and then some use cases aren't really affected by above 'integer performance'.

Or the other way around: on c

[2017-11-25 00:00] MichaIng commented on #1144
Okay checked: Issue is also present on Debian Stretch Repo, thus it is: **Apache+Stretch**
Setting `upload_tmp_dir = /var/tmp` indeed solves the problem. We could do check for Apache+Stretch to set this different location during php installation.

[2017-11-25 02:04] MichaIng commented on #1163
Easy solution would be to move installation, configuration and uninstallation of every software into an own subfolder script and `source` that script at the right position of software id loop.

By sourcing instead of just running these scripts, it will be executed within the same terminal context, thus global variables and functions will be shipped as well.

nano ~/test
[code]

nano ~/sub/test
[co

[2017-11-25 08:27] 1989gironimo commented on #245
@xenfomation you won't complete this, won't you?

[2017-11-25 09:32] DDA78 commented on #1246
Hello,

Is the inclusion of this possible, any ETA

Thanks for the work you developers are doing.

[2017-11-25 11:54] k-plan commented on #1257
@Fourdee

check-back indication:

`root@NanoPi-Neo:~# reboot`

Power On => boot, green goes ON => then blinking 10x times (means ‘ready to login’ =  [heartbeat] for about 10 sec.) => then ON.

[code]

Double check it with OrangePi One:

[code]

Power On => boot, green goes ON => then blinking 10x times (means ‘ready to login’ =  [heartbeat] for about 10 sec.) => then ON.

[code]

Hmm ... this can

[2017-11-25 12:45] vmavromatis commented on #1245
@Fourdee many thanks for the response. If this ever does get implemented, it would make sense to tweak the iptables as well accordingly. (I'm still struggling with them, that's why I note this :P)

[2017-11-25 15:39] k-plan commented on #475
@Fourdee

possible fix with rpimonitor_2.11-r5_all.deb in DietPi v158 is new fixed [memory.conf](https://github.com/XavierBerger/RPi-Monitor/tree/devel/src/etc/rpimonitor/template) :

[code]

Old  network.conf from rpimonitor_2.11-r5_all.deb works well with DietPi_v156_RPi-armv6-(Stretch).img

[2017-11-25 17:08] Fourdee commented on #1223
@saudade428
@mho-ohm
Thanks for the reports with regards to USB drives. I'll investigate how moOde picks up USB drives, see if we can resolve.

[2017-11-25 17:10] k-plan commented on #1239
TESTING: DietPi v156 on RPi-Zero W

------------------

[code]
------------------

TESTING: DietPi v157 on RPi-Zero W

[code]
------------------

TESTING: DietPi v158 on RPi-Zero W

[code]
 ------------------

Hmm ... by my tests here I can not see or have any WiFi problems.

Have you:

- Auto Reconnect : Enabled  ?
- WiFi Country set correct ?
- more then on-board wifi chip in use ?
- very long o

[2017-11-25 17:19] moodeaudio commented on #1223
Hi @Fourdee,

USB drives are auto-mounted by udisks-glue to /media directory using the DISK_LABLE

/media/DISK_LABEL

Also a samba share block will be created in /etc/samba/smb.conf

[DISK_LABEL]
path = /media/DISK_LABEL
read only = No
guest ok = Yes

-Tim

[2017-11-25 17:43] Fourdee commented on #1223
@moodeaudio
Thanks Tim 👍

DietPi automatically mounts USB drives to ```/mnt/UUID_OF_PARTITION``` via ```/etc/fstab```. This would override ```udisks-glue ```.

Options:
- Disable ```dietpi-drive_manager``` auto mounting in ```/etc/fstab```, for moOde install (not ideal, core to DietPi operation/compatibility)
- User manually symlink (not ideal)
- Change ```mpd.conf``` to support ```/mnt``` (and al

[2017-11-25 18:36] MichaIng commented on #1144
On Stretch:
`root@192:~# cat /lib/systemd/system/apache2.service`

Nginx and php-fpm systemd services do not have this.
On Jessie apache is still init.d server:
`root@192:~# service apache2 status`

We could also specifically look for this entry in php-fpm/apache service file an chose upload_tmp_dir accordingly.

The more I read, the more I actually like PrivateTmp. Do dietpi serives also use the

[2017-11-25 19:01] Fourdee commented on #1219
- 🈯️ VMware is done: http://dietpi.com/downloads/images/DietPi_VmWare-x86_64-(Stretch).7z

[2017-11-25 19:51] Fourdee commented on #1229
@MichaIng

Great work 👍 Making as completed.

[2017-11-25 19:51] #1229 closed, assigned to nobody

[2017-11-25 19:58] Fourdee commented on #1257
@k-plan
[code]

DietPi-LED_Control looks correct, something else is changing the value during boot, and after DietPi LED control is run.

What happens if you reapply DietPi LED control manually?
[code]

[2017-11-25 20:31] k-plan commented on #1257
`root@NanoPi-Neo:~# reboot`

Power On => boot, green goes ON => then blinking 10x times (means ‘ready to login’ = [heartbeat] for about 10 sec.) => then ON.

[code]

`root@NanoPi-Neo:~# reboot`

... and clearance will starting similarly from scratch.

Yes!

... or is coded into kernel. Will test it.

[2017-11-25 20:38] tatoosh commented on #1239
Hi @k-plan.
- using rpi zero (without w) with this USB WLAN: https://www.rasppishop.de/Offizieller-Raspberry-Pi-Mini-WLAN-USB-Stick-Dongle
- auto reconnect is enabled
- \# in my wpa2 key

[2017-11-25 21:16] k-plan commented on #1239
Hi @tatoosh,

Possibly not the best idea. Can you please change this first and test again?

For testing I would suggest to set this on Disable

Can you please post:

`lsusb`

`dmesg | grep usbcore`

and when

`dmesg | grep xxx` -> xxx =  name of registered new interface driver

[2017-11-25 21:25] tatoosh commented on #1239
I don't know why, but with my configuration (i changed some system settings) it is working with the ```#``` in my **WPA2-Key**

[code]
dmesg | grep usbcore
[code]

the wlan USB dongle is in a wodden case ... i can only post this later ;)
But also with an other WLAN USB i had problmes by installing with preconfigured ```dietpi.txt``` on my pi zero starting with the newest image: **DietPi_v150_RPi-a

[2017-11-25 21:30] k-plan commented on #1239
@tatoosh

Is it solved without " # " in wifi-password?

[2017-11-25 21:33] tatoosh commented on #1239
hi @k-plan : yes, it is working nice. If you want i can reproduce the error in a few days.
By the way - what is the problmen with the **#** in a WPA Password?

iwconfig wlan0
[code]

Why is   Encryption key:off ?

[2017-11-25 21:39] tatoosh commented on #1239
@MichaIng
Thx. Yes the folder exists.

@k-plan
maybe the issue #1250 will solve it in v159.
I will reproduce it on a fresh install after releasing the new version - any date for this?

[2017-11-25 21:39] sfb2 commented on #1246
thx a lot..according to their github theres also a Medusa-"Docker"-image  for armhf too..->[https://hub.docker.com/r/lsioarmhf/medusa/](https://hub.docker.com/r/lsioarmhf/medusa/)

[2017-11-25 21:46] k-plan commented on #1239
brcmfmac is you wifi interface driver

.. but anyway.

If you edit `dietpi.txt` on a differnt device, please use a unix compatible editor like NotePad++, Notepad2, PS Pad, Nano, vim, Smultron ... but NOT Windows Editor (notepad.exe)!

Think same is happend here: https://github.com/Fourdee/DietPi/issues/1238#issuecomment-345980758

Will close Issue. Please reopen if needed.

[2017-11-25 21:49] tatoosh commented on #1239
Ok thx.

I used Notepadd++ as **UTF-8 without BOM**. But i will take a stranger look here next time. Good advice!

[2017-11-25 21:49] k-plan commented on #1239
Will close this Issue. Please reopen if needed. Thanks.

[2017-11-25 21:49] #1239 closed, assigned to nobody

[2017-11-26 07:20] blogabe commented on #1211
I'm having this issue and sent in a bug report: f4d3091c-b61c-4d4f-9539-54f8b48c935f-0

Also, I saw this when I tried to re-install update 159:
[code]

[2017-11-26 14:38] k-plan commented on #1257
@Fourdee

No different behave in all different kernels.

- `Linux 3.4.113-sun8i #10 SMP PREEMPT Thu Feb 23 19:55:00 CET 2017 armv7l GNU/Linux`

- `Linux 3.4.113-sun8i #18 SMP PREEMPT Thu Jun 15 02:16:06 CEST 2017 armv7l GNU/Linux`

- `Linux  3.4.113-sun8i #4 SMP PREEMPT Wed Nov 22 13:45:28 CET 2017 armv7l GNU/Linux`

**_BUT ..._**
_(have to use OrangePi One, because NanoPi is in business)_

------

[2017-11-26 16:18] blogabe commented on #1211
Forgot to mention, I'm logging into the DigiOne using SSH rather than directly plugging in a monitor/keyboard into the Pi.

[2017-11-26 17:42] Fourdee opened #1258 "DietPi-Update | Shows update available (when not), shows update available for lower version than current."
I've personally never seen this issue in testing, but may be related to slow network during boot and no clear of ```.update_available``` file.

[2017-11-26 18:24] Fourdee commented on #1202
Solution:
- 🈯️ Set ```/mnt``` to default MPD data directory, using symlink from ```/var/lib/mpd/music/MNT```. This will include all ```dietpi_userdata```, networked and USB drives.

- 🈴 O!MPD simply fails and halts scan, if it does not have access to any sub-directory inside ```/mnt``` MPD scan (Mopidy and others) are fine.:
![image](https://user-images.githubusercontent.com/7077026/33243188-34aa6

[2017-11-26 18:28] Fourdee commented on #1211
@blogabe

Many thanks for sending the bug report 👍

Can you please run the following commands to clear the MYSQL DB, and reinstall it:
[code]

After reboot, please try to login to the web interface.

[2017-11-26 19:58] MichaIng commented on #1258
Hehe, had this at least with testing branch on VMs, where update to _**same**_ version string was sometimes shown.  First thought, that this makes sense for testing, if new commits/PRs were merged, but then `dietpi-update` didn't want to because of version string match.

Thanks for solving!

[2017-11-26 20:47] Fourdee commented on #1202
Completed, patched for v159.

[2017-11-26 20:47] #1202 closed, assigned to Fourdee

[2017-11-26 20:50] Fourdee commented on #1258
This should now be resolved. ```.update_available``` always cleared prior to checking for updates.

Marking as completed.

[2017-11-26 20:50] #1258 closed, assigned to Fourdee

[2017-11-26 22:47] blogabe commented on #1211
Unfortunately that didn't work either.  I also tried doing it a second way where rather than reinstalling, i manually uninstall 160 and 159 then install 160.  Resent bug report.  That code is f4d3091c-b61c-4d4f-9539-54f8b48c935f-1

I changed the default password from "dietpi" to something else.  But I don't know if that impacts the mysql credentials so I used the second line as is w/ `-pdietpi`

T

[2017-11-27 12:59] MichaIng commented on #1036
@ghost

I am not too deep inside the technical details, but dietpi scripts assume some tmpfs mounts of `/boot/dietpi` to `/DietPi` e.g. to run, which are done during boot. No idea how/if this is handled on chroot.
Also on RPi the sdcard partitions have different /dev/ locations, usually `/dev/mmcblk0p1` for /boot and `/dev/mmcblk0p2` for root.
____________________
**About QEMU:**
I tried to start

[2017-11-27 13:08] MichaIng commented on #1219
@Fourdee
I could help to build the VirtualBox image. How do you start? Using the official Debian CD image and manually go through system preparation and finalize scripts?
https://cdimage.debian.org/debian-cd/current/amd64/iso-cd/

Also if I see the preparation script: Couldn't this be automated also by defining some hardware+distro variables at the top and run the `???` parts accordingly? Or is th

[2017-11-27 16:52] Fourdee commented on #1211
@blogabe

Currently the web interface uses the SSH2 PHP library, which requires hard coded password. Changing the root password will render the web interface dis-functional.

If you change the ```root``` password back to ```dietpi``` it should resolve the issue.
Lets us know if this resolves the issue, i'll then change this ticket accordingly, so we can investigate alternative PHP SSH library that

[2017-11-27 16:59] Fourdee commented on #1219
@MichaIng

Exactly this. If we did automate it, we'd need to check each command output for errors.

I've considered automating the installing as you mentioned with ```HW_MODEL``` etc, but we'd need to improve fstab generation in both ```prep``` and ```finalize``` scripts, that populates current mounts, then puts in our additional entries.
Possibly a few more things that put me off automating this,

[2017-11-27 17:28] Fourdee commented on #1257
@k-plan

👍 The LED control relies on solely the available kernel options and their stability. Theres even a few LED options available on RPi, that have no effect.

Yep, i'll update them when I can. Extremely time consuming to update all our images.
I'll tweak the patch file now to only generate 1 swapfile :)

Yep, glad we started this early, but still much to do to ensure stable experience, especi

[2017-11-27 17:37] Fourdee commented on #1220
Moved back to planning, to focus on Stretch and outstanding issues.

[2017-11-27 17:37] Fourdee commented on #1188
Moved back to planning, to focus on Stretch and outstanding issues.

[2017-11-27 17:59] blogabe commented on #1211
Ok.  Appreciate you investigating other libraries that remove this restriction.

I changed the root password back to `dietpi` and reran the above three steps.  I can confirm that this does work and after the reboot.  I'm able to log into the Allo Web GUI.

Thank you!

[2017-11-27 18:09] MichaIng commented on #1219
@Fourdee
Okay, will do. Another question: Is there a reason why some packges are purged first and reinstalled afterwards, e.g. clean config files or something?
I want to use the chance to do another image afterwards, testing things mentioned here: https://github.com/Fourdee/DietPi/issues/1146
for comparison and testing.

No idea, is the setup/hardware-imulation related stuff the same between VMwar

[2017-11-27 18:19] k-plan commented on #1257
@Fourdee

Yes, I have notice this as well. But nobody have claim this so stiff-necked before. :see_no_evil:
Shall I make a new issue for this? :speak_no_evil:  No, no, only joking. :smile:

Will you put H3 green_led options into rubbish bin?

Yes, I know this. So I have a long time reflected, if I should mention this.
 New users are very anxious for getting started with their new toys. So it's a b

[2017-11-27 18:49] k-plan commented on #1219
Yes, please.

Thank you very much.

Some user fiddling around with image  converting virtual disk here: https://github.com/Fourdee/DietPi/issues/804

http://www.sytone.com/2017/07/getting-a-dietpi-image-running-on-hyper-v/

They used [qemu-img for Windows](https://cloudbase.it/qemu-img-windows/).

But never test it.

[2017-11-27 21:52] Fourdee opened #1260 "DietPi-Software | SyncThing-Inotify Deprecation & Self Update Fails"
https://github.com/syncthing/syncthing-inotify#exclamationdeprecationexclamation

+ Investigate user reported issue:
http://dietpi.com/phpbb/viewtopic.php?f=11&t=2522#p9751

[2017-11-27 22:16] MichaIng commented on #1067
Setup Redis for transactional file locking ready to test: https://github.com/Fourdee/DietPi/pull/1261

[2017-11-27 22:41] DncrJim commented on #1150
As I mentioned in another post, Emby does not behave very well with mono 5.4.x, and one of the first requests by the developers when anything goes wrong is to downgrade to mono 4.8.1 (last supported), Downgrading already installed mono/emby tends to break things, at least for me. Unfortunately, even if I lock mono at that release, using the dietpi software installer tries to upgrade mono, and then

[2017-11-28 00:26] MichaIng commented on #1219
Interesting. Could save time of course, on the other hand we do not create images thaat often :wink:. But I am still thinking if the emulated hardware and thus dietpi steps are the same. On the other hand, all the config adjustment is anyway done on first run setup. If I find the time, I will create the image both ways and compare them.

[2017-11-28 15:07] TheOldPresbyope commented on #1250
Update:
I've been away for the last week.

Revisiting this issue, I've come to agree with @MichaIng. It seems to me the wpa_supplicant code ought to be creating this dynamic directory if it isn't present (/var/run is a symlink to /run, actually, so I probably should have said "/run/wpa_supplicant"). A running wpa_supplicant process writes its control socket there; user-space code like wpa_cli can

[2017-11-28 18:27] Fourdee commented on #1260
Completed and tested fine for v159. Also updated install to 0.14.40.

Existing user with issue will need to wait for v159 release (eta 1/2 weeks). Or, install via testing branch: https://github.com/Fourdee/DietPi/blob/master/TESTING-BRANCH.md#steps-to-use-the-dietpi-testing-branch

---
- 🈯️ Now installs to ```/etc/syncthing/*``` with appropriate permissions. Tested upgrade from 0.14.40 to rc6 fine

[2017-11-28 18:54] #1260 closed, assigned to Fourdee

[2017-11-28 19:22] Fourdee commented on #1219
@MichaIng

I was going to say "I forgot to remove them from removal" however,:
- Purging clears all configuration files, ensures we get clean configs to work with once reinstalled.

So no loss and maybe some gain 😄

[2017-11-28 19:32] Fourdee commented on #1250
@TheOldPresbyope

I'am currently working on Stretch and ```wpa_supplicant.conf``` network changes. I've not personally see any issues yet with ```/run/wpa_supplicant``` not existing, but i'll keep an eye on it.

[2017-11-28 19:36] Fourdee opened #1262 "DietPi-Config | Upgrade WiFi to use wpa_supplicant.conf"
The "correct" way to do it (or so i'am told), however, resolves issues with RPi onboard WiFi scan failure on Stretch:
https://github.com/Fourdee/DietPi/issues/475#issuecomment-346698969

[2017-11-28 19:36] Fourdee commented on #1262
REF: https://github.com/Fourdee/DietPi/issues/1250#issuecomment-347637636

[2017-11-28 19:37] Fourdee commented on #1262
#### ToDo:
- 🈯️ Update ```dietpi-config``` to new system
- 🈯️ Update ```boot``` and automated first run to new system
- 🈯️ Patch existing WiFi enabled users to new system
- 🈯️ Support keys WPA-PSK/WEP/NONE
- 🈯️ Removal of ```iw reg set```, in preference of ```wpa_supplicant.conf country=```
- Support auto detection of key type based on SSID results?
- 🈯️ Verify compatibility with hotspot install
-

[2017-11-28 19:54] secpri commented on #1235
I've solved it by:

Login via SSH as root, then just "sudo syncthing -upgrade",
restart Syncthing services (i've done over WebInterface)

![error-syncthing](https://user-images.githubusercontent.com/33813344/33341070-1065fada-d47e-11e7-8edf-5864b99bddd5.JPG)

[2017-11-29 02:40] MichaIng commented on #1219
@Fourdee
Hehe learning by doing: Some questions/remarks about installation:

Debian first run asks quite a lot of questions:
- All localize things (language, keyboard, WLAN,...) set to GB / en_GB.UTF_8
- Domain name? Should not matter yet, right? Just chose localhost.
- Enabled shadow passwords, seems good.
- Just kept root user with password "dietpi".
- Single partition with expending size up to

[2017-11-29 11:12] TheOldPresbyope commented on #1262
I agree and am closing #1250.

[2017-11-29 11:14] TheOldPresbyope commented on #1250
The work outlined in #1262 makes this issue moot. Closing.

[2017-11-29 17:39] k-plan opened #1263 "DietPi-System | Update images and shrink partition"
@Fourdee

Yes, will do my best to get it run for devices I have here. (e.g. NanoPi Neo, OPi One, Odroid C1, Pine64)
 Crying around doesn't change anything. So let's launch us into image update.

Have playing around a little bit with `finalise`. Nice script, so far so good.
_(Some little quirks, depending on tested devices, but let's move forward)_

Have some ideas, how to shrink ext4 partitions af

[2017-11-29 18:09] darky opened #1264 "DietPi-Software | WIFI Hotspot: pppoe support"
Seems now WIFI Hotspot suggests to use Ethernet direct connection only. But very often pppoe uses over Ethernet. Would be cool to support pppoe too.

[2017-11-29 21:34] MichaIng commented on #1219
Okay, leaned some things:
- x86 does not use /boot/config.txt nor boot.ini nor cmdline.ini
- To boot up correctly one just need to change /etc/fstab to correct UUID. Perhaps it would be easier to just replace this with /dev/sda1 for VM images.
- Before running finalise, I need to change (after interface name change to eth0) eth0 interface to auto. As allow-hotplug one of the earlier commands in fi

[2017-11-29 22:33] Fourdee commented on #1263
@k-plan

You'll need to resize partition manually (gparted), then ```zerofree``` it (to 0 free space, reducing 7z size).

I use a desktop (LXDE), and created this bash script:
Once you've saved SD/EMMC to a ```.img```:
- change ```IMAGE_FP``` and ```IMAGE_NAME``` accordingly.
- Run it
[code]

[2017-11-29 22:37] Fourdee commented on #1235
Fixed for fresh installations of Syncthing in v159 update (once released, eta 1/2 weeks):
Existing installs will need to uninstall + reinstall to ensure Syncthing updates are functional.
https://github.com/Fourdee/DietPi/issues/1260#issuecomment-347617816

Marking as completed.

[2017-11-29 22:37] #1235 closed, assigned to nobody

[2017-11-30 08:24] paulstephane commented on #1234
Issue solved by Allo
Can be closes

[2017-11-30 08:24] #1234 closed, assigned to nobody

[2017-11-30 14:34] MichaIng commented on #1263
Just offered a PR and rearranged especially package dealing to actively use apt-mark to get rid of unnecessary packages: https://github.com/Fourdee/DietPi/pull/1266

Would be great to automate it by moving secure steps to finalise step by step. Indeed some steps need careful checks dependent on machine to prevent bootloops, network break etc in between. But should be possible to solve.

Perhaps th

[2017-11-30 16:25] Fourdee commented on #1237
- 🈴 ```-D :u32be``` to runtime should do it, need to test. As Pjotr mentioned, appears the DSD patch is required to enable ```DSD_uX``` https://github.com/ralph-irving/squeezelite/blob/master/scripts/squeezelite-ralphy-dsd.patch#L11

- 🈯️ DSD output modes on my Combo 384, ```u32le``` works:
-- ```no setup``` ALSA stream is reported during failures.
[code]

[code]

### Recompile:
- 🈯️ ARMv6
- 🈯️ AR

[2017-11-30 16:36] Fourdee commented on #804
Reference:
http://dietpi.com/phpbb/viewtopic.php?f=9&t=2530&p=9781#p9781

[2017-11-30 17:18] chirohito commented on #1223
Volume control is not updated properly. For example when I turn volume up on M.A.L.P. app on smartphone ad open moode on PC in browser volume is still on last value updated through that same browser. Page refresh does not help.

BR!

[2017-11-30 18:12] Fourdee commented on #1237
### DietPi v159, enable native DSD in Squeezelite:
- edit ```/etc/systemd/system/squeezelite.service```
- replace the following line
[code]
Change ```u32be``` as needed, see below for available list.
- reload systemD ```systemctl daemon-reload```
- restart services ```dietpi-services restart```

#### Available DSD modes are:
[code]

[2017-11-30 19:08] Fourdee commented on #1262
Completed.

[2017-11-30 19:08] #1262 closed, assigned to Fourdee

[2017-11-30 19:28] Fourdee commented on #1255
Confirmed with C2.

[2017-11-30 19:29] Fourdee commented on #1255
[code]
Lacking ```build-essential``` pre-req

[2017-11-30 20:06] Fourdee commented on #1255
@GiffE
Many thanks for reporting this issue 👍

Resolved for v159, verified and tested on C2. Prior to v159 release, simply ```apt-get install build-essential```, prior to installing through DietPi-Software.

Completed.

[2017-11-30 20:06] #1255 closed, assigned to Fourdee

[2017-11-30 20:09] k-plan commented on #1263
@Fourdee

Fiddling around the hole day to shrink a PineA64 image as small as possible.
Use your script and tested as well a gparted-live-0.30.0-1-i686.iso live usb stick.
It's seem where is a "magic" boarder of 1.7 GB with gparted for this ext4 partition (ca. 1.2 GB are in use). Can't get it close to your 1.1 GB in DietPi_v145_PineA64-arm64-(Jessie).img. :cry:

Have tested here on  `Pine A64+ 1GB

[2017-12-01 09:35] MichaIng opened #1267 "DietPi Images | Build/Test RPi image with chroot?"
I already tried to get die DietPi RPi image running on a virtual arm using qemu. They even support a RPi2 machine now, but it does not work with the image and testing is unbelievable slow without hardware acceleration.

I have a RPi(2) at home, but it is my running home server also, thus I don't want to shut it down. So I am thinking if it would be possible to mount an usb stick with the image and

[2017-12-01 17:01] Fourdee commented on #1240
@MichaIng

Additional modules can be installed together with software as necessary. Switching between nginx versions is also easy, they flawlessly replace each other on Stretch and Jessie.

My main concern is the sheer amount of web based software titles we offer.
If we did switch to ```nginx-light```, we would need to, at the very least, test and ensure all web titles we offer, function with the

[2017-12-01 17:52] sfb2 commented on #1200
yeah, that would be very nice..
also please a patched/advanced kernel with extended 384khz-support..
because this is missing since v154 (at my feel ;-) )

[2017-12-01 17:53] MichaIng commented on #1240
@Fourdee
Yes you are right. That would make a lot of work. Maybe I will start a separate issue with list to check and fill this step by step as far as I find time to check.
Anyway this is a total non priority issue, just of interest for perfectionists :).

Same for xml-core. There I guess on Stretch at least it is not necessary anymore as it was removed from recommends of nginx package Jessie -> S

[2017-12-01 19:39] Fourdee commented on #1234
@paulstephane

Can be closes

Thanks. Apologies for not replying to this ticket, got lost in the pile :frowning_face:

[2017-12-01 19:49] Fourdee commented on #1256
Completed, v159 for new installations of node-red.

[2017-12-01 19:49] #1256 closed, assigned to Fourdee

[2017-12-02 17:52] k-plan opened #1268 "DietPi | Update images"
--------------

### - Images update (Jessie - Kernel: 3.x) :

_#### (Hint: - Dependent on hardware - can only do update for devices I own myself)_

--------------

- [x]  🈯️  `DietPi_v158_OrangePiOne-armv7-(Jessie).img`=> complete => **uploaded**
_Kernel Version : ( legacy - by armbian )_
- _Linux OrangePi-One 3.4.113-sun8i # 4 SMP PREEMPT Wed Nov 22 13:45:28 CET 2017 armv7l GNU/Linux_

.

- [x]

[2017-12-02 17:55] k-plan commented on #1263
Will you please delete this? I will try to build a new version.
Thanks.

[2017-12-02 17:56] k-plan commented on #1263
Close.

Please reopen if needed.

[2017-12-02 17:56] #1263 closed, assigned to nobody

[2017-12-02 19:31] MichaIng commented on #316
Just rechecked the error on fresh VirtualBox Stretch v158:
[code]
So issue persists.

But workaround with user notification, cancelling phpmyadmin installation to rechoose after reboot, works well.
I manually removed the prevention code to force parallel installation. Reboot and reselecting phpmyadmin for installation via dietpi-software also worked without issue.
Also it recognizes mariadb `unix_

[2017-12-02 19:56] MichaIng opened #1269 "DietPi-Software | MySQL: Fix or remove actual installation on Stretch?"
On Stretch, `mysql-server` changed into a meta package that actually installs MariaDB: https://packages.debian.org/de/stretch/mysql-server
It is the same for Raspbian.

I didn't recognize any real problem with this, as still MariaDB uses the same commands etc. but it might be confusing for user, that make their choice between the offered MariaDB and MySQL stacks and finally find the same database

[2017-12-02 21:23] Fourdee commented on #1263
@k-plan

Thanks.

Done 👍 . :
[code]

[2017-12-02 21:37] Fourdee commented on #1237
Completed.

[2017-12-02 21:37] #1237 closed, assigned to Fourdee

[2017-12-02 21:41] Fourdee commented on #1269
@MichaIng

I just checked, there really is no mysql package anymore available, thus we would need to switch to oracles repo: https://dbahire.com/how-to-install-mysql-server-on-debian-stretch/

Personally, i'd be happy to remove MySQL option from Stretch. Lets follow Debian on this.

[2017-12-02 23:56] Fourdee commented on #1250
Issue with our default SSID/KEY in ```dietpi-config```, prevents ifup + scan
[code]

[2017-12-03 00:43] Fourdee commented on #1250
Resolved

[2017-12-03 00:43] #1250 closed, assigned to nobody

[2017-12-03 02:09] TheOldPresbyope commented on #1223
@chirohito

The behavior you report doesn't concern the integration of moOde into DietPi. Rather it is the consequence of the design of moOde itself. You can take it up with the moOde developer, Tim Curtis, on the moOde thread on diyaudio.com

http://www.diyaudio.com/forums/pc-based/271811-moode-audio-player-raspberry-pi.html

Cheers

[2017-12-03 16:44] k-plan opened #1270 "DietPi-System | Quirks noticed by v158 image update"
----------
### General

- [x]  - a typo in `dietpi.txt`
[code]
since v155 size is now set to "2048 - total memory"
so it have to be:
[code]

.

- [x]  - missing feature in `dietpi-drive_manager` : exfat support
easy it fix, if you want:
`apt-get install exfat-fuse exfat-utils`
(_tested and work on updated images_)

.

- [ ]  - update `finalize`:
- automated delete of unwanted `.xxxx` files in `/bo

[2017-12-03 19:12] Fourdee commented on #1270
Thanks @k-plan,

I'll take a look at this after v159. Wrapping up v159 + Stretch currently.

[2017-12-03 19:13] k-plan opened #1271 "DietPi-System | ARMbian sources.list change"
@Fourdee

While updating the last image (NanoPi-Neo), this error occur:

[code]

[code]

http://apt.armbian.com/dists/jessie/InRelease

[code]

What shall/can we do? Remove `utils jessie-desktop` from the list?
Cross-check with last night build image on OrangePi One which was updated without any error:

Now it's the same error:

[code]

😢   😠   💩   👎

`k-plan@DietPi:~# ... stop building update ima

[2017-12-03 19:19] Fourdee commented on #1271
@k-plan

https://github.com/armbian/build/search?utf8=%E2%9C%93&q=armbian.list&type=Code

Try:
[code]

Failing that, we can remove ```utils``` and ```jessie-desktop``` via patch.

[2017-12-03 19:24] k-plan commented on #1270
@Fourdee

Okay.
If you willing to work on it, you can hack down the task list. 👍

[2017-12-03 19:39] k-plan commented on #1271
@Fourdee

[code]

[code]

For now, I only see` main/...` in [InRelease](http://apt.armbian.com/dists/jessie/InRelease)

[code]

👍  Nice!
Shall/can I do this in updated images by hand?

[2017-12-03 22:04] k-plan commented on #1271
@Fourdee

do some reseach: https://forum.armbian.com/topic/5355-unable-to-find-expected-entry-jessie-utilsbinary-armhfpackages-in-release-file/

I think, they have f... up on of their repository server.

https://apt.armbian.com/dists/jessie/

![171203-0006](https://user-images.githubusercontent.com/17237601/33530268-6661f896-d87d-11e7-9d82-7123694c2136.gif)

[code]

http://apt.uk.armbian.com/dists

[2017-12-04 16:31] k-plan commented on #1271
Nice,  repository server is fixed. :smiley:

https://apt.armbian.com/dists/jessie/

[code]
Will test it tomorrow with:  `deb http://apt.armbian.com jessie main jessie-utils jessie-desktop`

:+1:

[2017-12-05 22:01] MichaIng commented on #1067
All tasks are done, ready to test: https://github.com/Fourdee/DietPi/pull/1261

Lighttpd is a separate task. Not too hight priority as ownCloud/Nextcloud runs out of the box with it. Need someone for help, that has a bid experience with Lightpd configuration.

HTTP/2 discussion should be done separately. It is a question in how far webservers do support it (Nginx + Apache2 just since Stretch e.g.)

[2017-12-05 22:52] Fourdee commented on #1219
@MichaIng

After finalize:
I boot into a Linux env (eg: Hirens boot cd), then zerofree the disk, sets all free space to ```0```, resulting in much smaller compressed file.
```zerofree -v /dev/sda1```

http://www.hirensbootcd.org/download/

[2017-12-05 23:33] MichaIng commented on #1219
Used just another VirtualBox instance to manipulate the image.
Worked like a charm! New archive uploading, 180M instead of 318M 😃.

[2017-12-05 23:54] Fourdee commented on #1122
Notes v2:
[code]

[2017-12-06 01:46] MichaIng commented on #1067
Fixes and polish: https://github.com/Fourdee/DietPi/pull/1272

[2017-12-06 17:49] Beaujr opened #1273 "DietPi-Software | FFMPEG E: Unable to correct problems, you have held broken packages."
## Creating a bug report/issue:

#### Required Information:
- DietPi Version | ```158```?
- Odroid XU 4
- 5V 6A
- PNY Elite-X U3 32GB
- Distro (EG: Jessie) | ```Linux DietPi 3.10.105+ #1 SMP PREEMPT Mon Aug 7 10:09:24 CEST 2017 armv7l GNU/Linux```?

#### Additional Information (if applicable):
- FFMPEG
- Can this issue be replicated on a fresh installation of DietPi? YES.

Unable to install FFMPEG

[2017-12-06 18:25] MichaIng commented on #1273
The reason is that `ffmpeg` just exists in Stretch and Jessie backports: https://packages.debian.org/stretch/ffmpeg
As backports are by default added to apt sources, but handled with low priorities, apt requests recognize it to install, but finds too low versions/non-existence of its dependencies inside the (stable) Jessie repo.

So you need to force that apt also pulls the dependencies from jessi

[2017-12-07 12:01] k-plan commented on #1271
- Done
- Works
- building updated ARMbian images now

Close.

[2017-12-07 12:01] #1271 closed, assigned to nobody

[2017-12-07 14:25] exside commented on #1143
Anything that would help making this real? Sending you one @Fourdee ?

[2017-12-07 15:27] kaytata commented on #1223
With rp3b + Allo Kali + Piano 2.1dac Moode works very well in Dual Mono mode. Could not make it work in subwoofer mode though. either 2.1 or 2.2. When setting is applied, it automatically switches back to dual mono mode. Any thoughts?

Major difference with volumio I find is that the discovery of my attached 2tb external hd is super quick, a couple of minutes compared to 4-5 hours on volumio.

[2017-12-07 16:33] kaytata commented on #1223
@moodeaudio
Thanks Tim for the solution. Works like a charm. Cheers.

[2017-12-07 16:40] Fourdee commented on #1223
@moodeaudio
Thanks Tim,

This should of been in our RPi kernel package, i've added it back in, fixed for new installations.

[2017-12-07 16:55] Fourdee commented on #1273
@MichaIng

Confirmed on my XU4 👍

https://manpages.debian.org/stretch/apt/apt_preferences.5.en.html

[code]

[code]

🈯️

[2017-12-07 17:24] Fourdee commented on #1273
I'll apply the fix for XU4 Jessie for now. If we see this error on other devices/distros, we'll need to investigate a wider fix.

[2017-12-07 17:37] Fourdee commented on #1273
Tested on XU4, completed.

[2017-12-07 17:52] MichaIng commented on #1273
@Fourdee

Does this also ensure that dependencies are pulled from backports? I remember that for pulling redis-server from stretch-backports on RPi, I needed to add it's dependency redis-tools also to the preferences package list.

[2017-12-07 18:00] Fourdee commented on #1122
Due to outdated code, when ```dietpi-uninstall``` existed as a separate script to ```dietpi-software```

[2017-12-07 18:11] Fourdee commented on #1122
Test:
- 🈯️ Odroid C2 Stretch

[2017-12-07 18:15] Fourdee commented on #475
### ToDo:
- 🈯️ Resolve for Chromium-Browser under root
-- 🈯️ Running ```chromium-browser --temp-profile --no-sandbox``` from cmdline is fine
-- Running ```chromium.desktop``` with the above ```Exec``` conditions, gets ignored
-- 🈯️ ```echo "WARNING: \$CHROMIUM_USER_FLAGS is deprecated. Instead, update CHROMIUM_FLAGS in ~/.chromium-browser.init```
- Update image
- 🈯️ Re-Test main software titles
--

[2017-12-07 19:08] k-plan commented on #475
@Fourdee

Good idea.

But what will you do with old and outdated Jessie images?

Freeze kernel, firmware, and dietpi version (to which?) and cancel support?

[2017-12-07 21:01] Fourdee commented on #1273
@MichaIng

Yep for ```redis-server```, unsure for deps, 600 is a higher priority:
[code]

Before hand:
[code]

So, to be consistent with default system-wide settings, its probably best I lower the Meveric repo, instead of increasing the backports.

[2017-12-07 21:02] Fourdee commented on #1122
Failed on:
- 🈴 RPi 3 Stretch

[2017-12-07 21:11] Fourdee commented on #1273
🈯️ Tested:
[code]

[2017-12-07 21:11] #1273 closed, assigned to nobody

[2017-12-07 21:17] Fourdee commented on #475
@k-plan

Freeze kernel, firmware, and dietpi version (to which?) and cancel support?

I'll leave the existing Jessie code in DietPi.

Support wise, we will support both, at least until Stretch has been stable for a month without any reported issue. At that point, we'll lower support priority for Jessie, in favor of Stretch.

In regards to our other Jessie images, (eg: Odroid, NanoPi's etc), we'll

[2017-12-07 21:30] MichaIng commented on #1273
@Fourdee
Ah, meveric repo explains different behaviours.

But I am wondering, as now I find all dependencies including right versions on meveric: http://fuzon.co.uk/meveric/dists/jessie/backports/binary-armhf/Packages

Maybe this was just a temporary issue during updating ffmpeg and all related dependency packages on repo?

[2017-12-07 21:40] Fourdee opened #1274 "DietPi-RPi Kernel | Add support for XMOS DACs, missing from stock RPi"
[code]

+ Various others (research)

[2017-12-07 22:05] k-plan commented on #1268
@Fourdee

Any interest for `DietPi_v158_RPi-armv6-(Jessie).img` with last `dietpi_rpi_kernel_4.9.zip`?

.

- [x]  -  🈯️    `DietPi_v158_RPi-armv6-(Jessie).img` => complete => **uploaded**
_Kernel Version : ( mainline LTS - by Fourdee )_
_Linux RPi 4.9.62+ # 1 Fri Nov 17 22:37:52 GMT 2017 armv6l GNU/Linux_
.

_Edit:_
[The RPI image stuck on v150](http://dietpi.com/phpbb/viewtopic.php?f=9&t=2543)

W

[2017-12-07 22:16] MichaIng commented on #475
Yeah and by times, if we are too annoyed to always consider both distros and Stretch has proven stable on all devices, we can do something similar than done with wheezy: https://github.com/Fourdee/DietPi/tree/wheezy-final-v120
A final image where we could disable dietpi-update.

[2017-12-07 22:29] k-plan commented on #1130
@Fourdee

Yes, sorry, and this is part of the problem.
There is no '`tmp`' (in RAM '`tmpfs`')
Notice this first on both of my Allwinner H3 ARMbian based devices.

[code]

[code]

Same behaviour with RPi Zero W:

[code]

[code]

------------------------

**Cross-check:**

**RPi3**

[code]
and

**Odroid C2** (and Odroid C1)

[code]

But better we close this old issue.

[2017-12-07 22:50] k-plan commented on #475
I would prefer to do this NOW!

... but this time as well freeze kernel, firmware, headers, ...

And let the orphaned devices freeze, no one has time to work on or will work on in the future.

Too many building lot for too little facilitator ... as always the same problem.
Be frightened of @Fourdee  get break down and without him, there will be no DietPi any more.

DietPi has highly grown up and o

[2017-12-07 23:23] MichaIng commented on #475
@k-plan
Generally I agree to look forward now. But first we need to get rid of the final issues with Stretch, in my opinion.
For the moment, considering the distro is still affordable for me.
About devices, no idea. I guess it just depends on someone, who has the device available for building/testing and is willing to do regular image updates.

Focus on Stretch:
@Fourdee

**fail2ban**
- `touch /va

[2017-12-08 00:00] MichaIng commented on #894
@Fourdee
Close, as the effort does not make any sense anymore, where MySQL installation is not possible through Stretch repo.
Migration is possible and simple: https://mariadb.com/de/node/546
We could force that through patchfile or encourage people to migrate.

€: Ah, of course preference for MariaDB <> SQlite would be still nice. And there are other databases, like postresql, we could add.

[2017-12-08 00:27] MichaIng commented on #1067
@Fourdee
- As configuration provides many steps, should we `echo '[info] ...'` what we do, to inform users and also enable easier bug tracking that way?
- Another idea, as I already implemented occ/ncc command shortcuts: We could inform users about those, by adding them to the default `dietpi-banner`, if Nextcloud respectively ownCloud is installed:
`echo -e "\e[1m occ\e[0m  = Shortcut for ownClou

[2017-12-08 01:13] k-plan commented on #1268
@Fourdee

Bonus:

- [x] ￼ 🈯️  `DietPi_v158_OdroidC2-arm64-(Jessie).img` => complete => **uploaded**
_Kernel Version : ( legacy - by meveric )_
- _Linux Odroid-C2 3.14.79+ # 1 SMP PREEMPT Sun Jul 23 00:04:44 CEST 2017 aarch64 GNU/Linux_

But with some quirks, see: #1270

(_Edit: moved over to "Quirks noticed by v158 image update"_)

[2017-12-08 13:28] sunnythaper opened #1277 "DietPi-Software | Sonarr: NZBDrone Error 100"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version | ```cat /DietPi/dietpi/.version```?
158

- SBC Device (EG: RPi 3)?
Odroid C2

- Power supply used (EG: 5v 1A RAVpower)?
Manufacturer supplied power supply

- SD card used (EG: Sandisk ultra)?
Sandisk Ultra 32gig

- Distro (EG: Jessie) | ```uname -a```?
Linux PlexServer 3.14.79+ #1 SMP PREEMPT Sun Jul 23 00:04:44 CEST 201

[2017-12-08 15:00] k-plan commented on #1130
Please reopen, if needed or someone will work on it. Thanks.

[2017-12-08 16:00] opnwrt4lede commented on #1277
Just to confirm. Have the exactly same Error message (Error 100). My SBC Device is a OPiPC2.

Tried two times - same result:

                                                           │ Apt-get has failed:                                                │
                                                          │  - Apt string = nzbdrone                                           │

[2017-12-08 16:33] k-plan commented on #1268
@Fourdee

Question to https://github.com/Fourdee/DietPi/issues/1268#issuecomment-350108752

Started update image building on RPi Zero W:

- on auto-update from DietPi v150 => v158 `dietpi_rpi_kernel_4.9.zip` will be install with new `kernel 4.9.62` and `firmware` updates

- directly after this, automated `apt-get update` installed updated fimware files

1. - [ ]  - is it safe to remove/delet old k

[2017-12-08 17:34] MichaIng commented on #1268
@k-plan
- The kernel backups are held, in case you get serious boot problems or similar issues after new kernel installation, also if kernel is just custom/buggy or something.
So if you do not face issues like that, and especially since we use 4.9.62 already since a whole on our devices, it is safe to remove to old ones. Especially for new images we want to have them slim and clean.
- Generally ov

[2017-12-08 17:47] sunnythaper commented on #1277
@opnwrt4lede thanks for confirming! I've tried the suggestions as well and still have the issue :/

[2017-12-08 18:47] Fourdee commented on #1277
@sunnythaper

Thanks for the report.

Just ran a quick test on:
- 🈯️ Odroid C2 + Stretch, working fine
- 🈯️ XU4 + Jessie fine.

Unable to replicate on fresh installation.

I'll nudge this to v160 for further investigations, and check the bug report. As I am unable to replicate on fresh install, I can only suggest a quick solution is to try the same in the mean time.

[2017-12-08 18:50] k-plan commented on #1268
@MichaIng

👍

Danke Michael für deine Antwort. Wenn ich die Zeichen richtig deute, dürftest du Deutsch verstehen. Daher die Antwort so, weil mir das Schreiben somit deutlich leichter fällt.
Schön, dass du Dich hier so großartig einbringst.

- Habe  die Kernel 4.9.27 Module jetzt gelöscht und testweise das neu erstellt Image probiert. Geht soweit.

- War etwas verwirrt, da ich in den letzten Tage s

[2017-12-08 19:07] Fourdee commented on #475
@MichaIng && @k-plan

A final image where we could disable dietpi-update.

I completely forgot about our Wheezy Final image 👍

We'll do the same for each of our Jessie images, once their Stretch replacement has been proven stable for at least a month.

[2017-12-08 19:16] Fourdee commented on #1130
@k-plan

There is no 'tmp' (in RAM 'tmpfs')
Notice this first on both of my Allwinner H3 ARMbian based devices.

Yep, we disable ```/tmp``` as RAM for <= 512MB devices, during 1st run: https://github.com/Fourdee/DietPi/issues/1027

[2017-12-08 19:17] k-plan commented on #475
@Fourdee

... and I have done testing to update Wheezy Final image, but if you explicate a 'Update firmware' via `dietpi-config` it's will become completely useless .... 😃   👎

[2017-12-08 19:28] Fourdee commented on #1130
I'll add a check in for ```/tmp``` as ```tmpfs``` before allowing to run RAM bench.

[2017-12-08 19:30] k-plan commented on #1130
@Fourdee

👍  thanks for the link! 😃

😢  who the hell needs Microsoft's .NET Framework on his linux SBC ?
I'm happy to to be rid of this on my desktop  !   👍  😄

Will be nice you disable this for the affected devices. 👏

[2017-12-08 19:31] Fourdee commented on #1130
![image](https://user-images.githubusercontent.com/7077026/33781903-5a2b611e-dc4e-11e7-8ad6-b7a0be482811.png)

[2017-12-08 19:32] MichaIng commented on #475
Yes, if we drop support, dietpi-update and firmware updates need to be disabled. Hint about that could be given via dietpi-banner.
Users can than decide to stay on distro version and update by themself packages via apt etc. on own risk or switch to new image. After backup, apt upgrade by editing sources.list could be also tried. Work well for me on VirtualBox Jessie, but can easily fail/produce is

[2017-12-08 19:33] k-plan commented on #1130
Wow, that was now a super quick fix after 4 month!

Many thanks! 💯  👍

[2017-12-08 19:38] Fourdee commented on #1130
🈯️ Tested on RPi Zero.

Completed.

[2017-12-08 19:38] #1130 closed, assigned to Fourdee

[2017-12-08 19:44] k-plan commented on #475
@MichaIng

can you please do this in https://github.com/Fourdee/DietPi/tree/wheezy-final-v120 ?

If so, I willing to build a last final updated image: `DietPi_v120_RPi-armv6-(Wheezy).img` with the last security fixes, which start without auto-update.

Thanks.

[2017-12-08 20:12] Fourdee commented on #894
@MichaIng

Yep, i'll leave it open for now, however, this feature will only work with full SQL compatible software, that could directly replace MariaDB for our software installations.
SQlite is its own installation.

[2017-12-08 20:20] MichaIng commented on #475
Do you think this still matters? I am a bid afraid we open a barrel with this. As we do not support wheezy for so long, there might be several issues after doing a simple `apt-get upgrade`.
I don't believe there are many users still on wheezy.

We should concentrate on bringing up Stretch for all devices now and keep the mentioned things in mind for the final Jessie update.

[2017-12-08 20:24] Fourdee commented on #475
@k-plan

Add a line here:
https://github.com/Fourdee/DietPi/blob/wheezy-final-v120/dietpi/dietpi-banner#L75

eg: ```echo -e "This image is no longer supported, etc etc"```

[2017-12-08 20:32] k-plan commented on #475
Hmmm ... only as a 'proof-of-concept' for the last jessie final fix.

YES! 👍  😃

But I see so many bug as well with jessie and I 'm not able to fix a single one by myself 😢

😄  I will have a look, if I find some spare time, but I will then do this outside of your github repository.
But let me first screw up RPi jessi image .... 😉

... and now back to topic:  Debian Stretch

[2017-12-08 20:47] Fourdee commented on #834
Confirmed working on our Stretch image with our latest 4.9.62 kernel: https://github.com/Fourdee/DietPi/issues/475

Marking as completed, Stretch image will be released at weekend.

[2017-12-08 20:47] #834 closed, assigned to nobody

[2017-12-08 20:51] Fourdee commented on #1122
@k-plan confirms issue occurs without use of dietpi-automation:
http://dietpi.com/phpbb/viewtopic.php?f=11&t=2542&p=9846#p9844

[2017-12-08 21:00] k-plan commented on #1122
@Fourdee

only for the sake of completeness:
- I have done this by DietPi inital setup assistent and choose OpenSSH by hand, because I want to see what's happend. But I can't see any messages or get logs.
- it's happend on Jessie with RPi image.
- if I remember correct, it has working correct on NanoPi Neo, Odroid, OrangePi and PinA64.
But I have done this so many times in the last days, so I can'

[2017-12-08 21:49] Fourdee commented on #475
#### AmiBerry:

- Jessie binary fails to run, process hangs, black screen.
- Compile on Stretch:
[code]

[code]

[code]

- 🈴 Compile of dev branch, SDL1, run binary = returns to cmdline, no errors/info.

Ok this needs much longer than I have time available at the moment, and, its probably best we wait for the next official release.
I'll mark this is a known issue with Stretch image (Amiberry websi

[2017-12-08 22:15] sunnythaper commented on #1277
Thank you, @Fourdee !

[2017-12-08 22:45] k-plan commented on #1122
Testing:

- fresh image auto-updated => v158

- first change to 'Full:  Logrotate and Rsyslog" => installed => auto-reboot

- switching now from `Dropbear` => `OpenSSH` => auto installed / uninstall => auto-reboot
works and got some logs:
[code]

[code]

- switching back to `Dropbear` and  `DietPi-Ramlog #2 ` => auto installed / uninstall => auto-reboot

[code]
works but now where are some issue:

[2017-12-08 23:51] Fourdee commented on #1122
Think i've found a part of the issue. Appears ```.installed``` and a few other files are not being cleared during ```finalize``` in our images:
![image](https://user-images.githubusercontent.com/7077026/33789723-a8680304-dc72-11e7-8029-0d242ea2a649.png)

[2017-12-09 00:10] Fourdee opened #1278 "DietPi-Software | Resolve AmiBerry Stretch install"

[2017-12-09 00:23] Fourdee opened #1279 "Finalize | Investigate why DietPi .* files are not being cleared"

[2017-12-09 00:24] k-plan commented on #1122
Is this cause the problem?

`aSOFTWARE_INSTALL_STATE[0]=2`

What can we do? All my images are ready and uploaded. Can you clear the file or should i do?

We only need this:

![171209-0002](https://user-images.githubusercontent.com/17237601/33790341-ade9a988-dc7f-11e7-892f-02137abeb519.gif)
Correct?

[2017-12-09 00:28] Fourdee commented on #1122
@k-plan

This is the OpenSSH client, which is also installed with OpenSSH server. So we mark is as installed aswell.

Yep, thats how it should look 👍 Must of been a bug with ```finalize``` a while back thats been fixed. I'll confirm with testing it: https://github.com/Fourdee/DietPi/issues/1279

[2017-12-09 00:31] Fourdee commented on #1122
#### dietpi.txt automation tests for SSH server choice OpenSSH:
- 🈯️ RPi 3 Stretch | tested twice
- 🈯️ Odroid C2 Jessie

[2017-12-09 00:36] Fourdee commented on #1279
#### Tests:
- 🈯️ RPi 3 Stretch | tested twice
- 🈯️ Odroid C2 Jessie
[code]

[2017-12-09 00:43] Fourdee commented on #1279
Appears this was resolved a while back. Marking as completed.

[2017-12-09 00:43] #1279 closed, assigned to Fourdee

[2017-12-09 00:50] Fourdee commented on #1122
Appears the left over ```.installed``` file on some images may of been the cause. We now reset choice system installed states to defaults during 1st run to overcome this.

Completed.

[2017-12-09 00:50] #1122 closed, assigned to Fourdee

[2017-12-09 00:54] k-plan commented on #1122
@Fourdee

- cleared all bother files in my build images for now by hand.
But hashes don't fit any more. 😢
So will repack and upload this tomorrow. Must get sleep now.

[2017-12-09 01:46] Fourdee commented on #1122
@k-plan

The following image is correct: https://github.com/Fourdee/DietPi/issues/1122#issuecomment-350405872

Which images that you have complete, were not the case?

[2017-12-09 01:48] Fourdee commented on #1273
@MichaIng

Appears that way, hopefully. We'll soon find out and be able to resolve if other software titles are effected by this change.

[2017-12-09 02:03] Fourdee commented on #1257
@k-plan

I become scared, if see here 224 open issue, over 40 different supported devices, more then 150 installable pieces of software and only one main service coder ...

Yep, i've been considering dropping all images excluding:
- RPi
- Odroid
- Sparky
- Pine
- PC/VM
- BBB
- Asus TB

So basically all the NanoPi, BPi, OPi (which are far too many, they make a board every week it seems lol) images.

[2017-12-09 02:09] Fourdee opened #1281 "DietPi-General | Restructure of supported images"
For discussion/consideration.

[2017-12-09 02:23] Fourdee opened #1282 "DietPi-Software | Pi-Hole - Lost connection to API"
- Revisit installation. Appears alot has changed with PiHole and its install.
[code]
- Install after webservers, to avoid PiHole pre-installing deps? 🈯️ already the case.
- ~Loop install script, request user confirmed competition. Prevents accidental exit of PiHole script assuming its ok~. :u6307: Check exit code

[2017-12-09 03:55] oakbrad opened #1283 "Transmission not stable / crashes with 100+ torrents"
## Creating a bug report/issue:

Transmission runs fine until I add over 100+ torrents, and then becomes unstable and crashes constantly. These torrents are pretty much all inactive, not actively downloading or uploading (long term seeding).

#### Required Information:
- DietPi Version | 158, although same behavior on 157 with the older version of Transmission
- SBC Device (EG: RPi 3)? Odroid XU4

[2017-12-09 14:57] Invictaz commented on #1257
Maybe just focus on fixing issues. There are a lot of devices already. Adding more isnt a viable option. Software is always a thing. With 150 pieces we are at the limit now what is maintainable.

[2017-12-09 15:42] k-plan commented on #1282
@Fourdee

Yes, correct.

Sorry, habe wenig Zeit im Moment. Daher auf Deutsch. Musst du halt ein wenig nach Übersetzung googlen. Geht mir auch meist so. 😃

Was ich bis dato feststellen konnte, ist das Problem ein wenig vielschichtiger.
Bis Pi-Hole v3.1x hat das erneute anstoßen der pihole Installation über `dietpi-software` immer funktioniert.
- `pihole -r` funktionierte nie.
- `pihole -up` funktio

[2017-12-09 17:07] MichaIng commented on #1282
@Fourdee
@k-plan
Jep fails, because apt php-cgi and php-sqlite3 fails somehow to install.
[code]
I just did manual apt install php-cgi php-sqlite3 and after that it worked, including working web interface etc:
[code]
So solution is to simply install those two packages (like above on Stretch, php5-cgi + php5-sqlite3 on Jessie) before running `./install.sh`

[2017-12-09 17:30] k-plan commented on #1268
@Fourdee

all images fixed and uploaded is running (..._lastest-try)

Quirks for RPi you get tomorrow. (_edit: done_ #1270 (comment))

Must leave my home now ... bye

[2017-12-09 17:31] k-plan commented on #1268
Closed for now. (what a mess ...) 😉

[2017-12-09 21:28] Fourdee commented on #1219
@MichaIng

Just tried the VirtualBox image you created, works a charm, great work and many thanks 👍

All uploaded and switched in http://dietpi.com

[2017-12-09 21:29] Fourdee commented on #1219
Completed, thanks again @MichaIng for creating the VirtualBox image 👍

[2017-12-09 21:29] #1219 closed, assigned to nobody

[2017-12-09 21:55] Fourdee commented on #1282
notes:
[code]

- 🈯️ Added exit code check for PiHole script, if fails, DietPi flags as not installed.
- 🈺 Odroid C2 Stretch, PiHole install script is unable to obtain IP address. Due to additional ```??? ???``` entries and use of ```awk```. Workaround is for user to enter the IP address manually, when asked. Other devices are fine.
[code]
- 🈯️ Jessie
- 🈯️ Stretch

[2017-12-09 22:36] Fourdee commented on #1282
@MichaIng

Legend :+1: https://github.com/Fourdee/DietPi/issues/1282#issuecomment-350490524

Completed.

[2017-12-09 22:36] #1282 closed, assigned to nobody

[2017-12-09 22:38] MichaIng commented on #1281
I just created a single image so far, so have limited experience about how much work it does to support that much devices.
Indeed it took some time to create the image, but also I needed to learn how to deal with Debian installation questions and other things, one would have known, creating images more often.

But my impression is, that one special strength about DietPi is, that it does support so

[2017-12-09 23:02] MichaIng commented on #1268
@k-plan
Hehe, ja richtig, wie auch immer geschlussfolgert, ich heiße allerdings wirklich nur "Micha" ohne "el" 😉.

Ich war beim Erstellen des VirtualBox images auch etwas am überlegen bzgl. APT Kernel vs DietPi Kernel. Keine Ahnung wie stabil `linux-image*` normalerweise ist, allerdings denke ich, dass es grundsätzlich laufen sollte. Falls wir nicht aktiv neuere Kernels via `dietpi-update` impleme

[2017-12-09 23:33] Fourdee commented on #686
Online Doc:
- 🈯️ http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=9863#p9863

[2017-12-10 00:11] Fourdee commented on #686
Tests:
- 🈯️ ARMv7
- 🈯️ ARMv8
- 🈯️ x86_64

Completed.

[2017-12-10 00:11] #686 closed, assigned to nobody

[2017-12-10 00:16] Fourdee commented on #1114
I added the ability to ```mask/unmask``` services using:
```dietpi-services mask servicename```

https://github.com/Fourdee/DietPi/blob/testing/dietpi/dietpi-services#L16

This will prevent it from running. We cant use ```disable``` as DietPi relies on this to take over control from SystemD.

[2017-12-10 00:17] Fourdee commented on #1114
Reopened to consider:

dietpi-services restart apache

[2017-12-10 00:30] Fourdee commented on #1114
![image](https://user-images.githubusercontent.com/7077026/33800926-07702252-dd43-11e7-9367-0b629f27c16c.png)

[2017-12-10 00:33] ReanimationXP commented on #1114
Thanks for implementing this. I'd like to suggest the term `mask` be changed to something else more akin to `disable`.  Without reading this thread, even with the help above, I'm completely unclear on what that functionality would do.

[2017-12-10 00:34] Fourdee commented on #1114
@ReanimationXP

Agree 👍

[2017-12-10 00:38] ReanimationXP commented on #1114
I assume what is happening is all dietpi-services are separate from the list of systemd services, and thus you are enabling/disabling within the context of dietpi, correct? If so, I think disable still applies, just perhaps with an asterisk that `enable`, `disable`, and any other related commands cannot be used on systemd services without importing/converting them into the dietpi context.

If it's

[2017-12-10 00:40] Fourdee commented on #1114
@ReanimationXP

- ```enable/disable/stop/start``` will work for any SystemD service.
- Items marked (all services), will only effect services known to DietPi: https://github.com/Fourdee/DietPi/issues/1114#issuecomment-350516067

[2017-12-10 00:43] ReanimationXP commented on #1114
I'm still confused then. I was drawing my conclusions from this comment:

Back to wording, `activate`/`deactivate` or `mark`/`unmark` might be good alternatives to mask/unmask.  Only problem there is `active` might infer running state.

[2017-12-10 00:46] ReanimationXP commented on #1114
I see what you're saying now.. that `disable` when applied to a systemd service would take a different action.  Applied to a dietpi-service, `disable` would be functionally the same as `mask`.  Perhaps that could just happen silently if they attempt a `disable`/`enable` on a known dietpi service?

[2017-12-10 00:53] Fourdee commented on #1114
![image](https://user-images.githubusercontent.com/7077026/33800974-82bccb4e-dd44-11e7-97e7-13b5b8ff1eb5.png)

[2017-12-10 00:56] ReanimationXP commented on #1114
erhm, k now confused again. lol.  Assuming there was already a cron service in systemd, what happened to it when you symlink it to dev/null?

[2017-12-10 00:56] Fourdee commented on #1114
@ReanimationXP

Disables it, prevents it from running. Enabling it will restore the service and remove /dev/null symlink:
https://askubuntu.com/questions/816285/what-is-the-difference-between-systemctl-mask-and-systemctl-disable

[2017-12-10 00:58] ReanimationXP commented on #1114
Well, right, but was it not overwritten?  Where did it go should they want to add it back manually?  (Forgive my ignorance, I'm a Windows guy.)

[2017-12-10 01:00] Fourdee commented on #1114
@ReanimationXP

When you mask a service, a symlink is created from /etc/systemd/system to /dev/null, leaving the original unit file elsewhere untouched. When you unmask a service the symlink is deleted.

```dietpi-services disable XXX``` = mask
```dietpi-services enable XXX``` = unmask

[2017-12-10 01:00] Fourdee commented on #1114
Marking as completed.

[2017-12-10 01:00] #1114 closed, assigned to Fourdee

[2017-12-10 01:13] Fourdee opened #1285 "PREP_SYSTEM_FOR_DIETPI.sh | Automate"
## Status: Beta

### What is this?
- This script will install and convert any _'bloated'_ Debian/Raspbian installation, into a lightweight DietPi system.

### What this script does NOT do:
- Support converting existing installed software (eg: nextcloud, Plex Media Server) over to the DietPi system.
**All existing software (APT) and user data will be deleted.**

---

### Step 1: Ensure a Debian/Ras

[2017-12-10 01:19] Fourdee commented on #1267
@MichaIng

I have absolutely no experience with qemu. I've always preferred to create the image native to minimize potential issues (and inexperience) with qemu.

However, i'am always up for something new, if it shows the ability to speed up our image creation process.

[2017-12-10 01:27] MichaIng opened #1286 "DietPi | Debian Buster"
### VMware/VirtualBox Buster images: https://dietpi.com/downloads/images/
- _Approx release: Summer 2019_
- _Transition and soft freeze have been applied._
- _Full freeze planned on 13. March 2019: https://wiki.debian.org/DebianBuster_
___________________
### Buster VM (x64_86) rough install tests
🈯️ `dietpi-software install {1..23}`
🈯️ `dietpi-software install {24..40}` (-27, not supported on VM)

[2017-12-10 01:43] Fourdee commented on #1268
@k-plan

Many thanks for doing these images 👍
I've downloaded them all, I will test each one and upload to dietpi.com.

[2017-12-10 01:45] Fourdee commented on #1268
@k-plan

There a few multiples, just to confirm ```_lastest-try.7z``` are the correct/final images?

[2017-12-10 02:03] Fourdee commented on #475
### RPi Stretch image is now live and default on https://dietpi.com

[2017-12-10 02:08] Fourdee commented on #1281
@MichaIng

👍

Maybe a solution would be to class these images as **lower priority**, and make user aware of?:
- These images may experience issues, related to kernel bugs/drivers outside of our control, and their stability is not guaranteed
- No GPU/I2S/I2C supported
- Limited support for these images and specific issues related to the device.
- These Images will not be updated regularly, and may

[2017-12-10 02:11] Fourdee opened #1287 "v159 Release"
### ToDo:
- 🈯️ Switch to RPi Stretch image on dietpi.com https://github.com/Fourdee/DietPi/issues/475#issuecomment-350519670
- 🈯️ Create/upload Allo GUI RPi Stretch image, to replace Jessie version
-- 🈯️ Test updates of existing installations
- 🈯️ Update Allo GUI Sparky image
-- 🈯️ Test updates of existing installations
-- 🈯️ update forum links
- 🈯️ Xmas Tree? 🎄
- 🈯️ Merge https://github.com/Fourd

[2017-12-10 02:11] Fourdee commented on #1287
~Release will now be done Monday evening, ran out of time today.~

Nope, we made it :)

[2017-12-10 02:15] Fourdee opened #1288 "DietPi-Services | stop/start dietpi-wifi-monitor drops connection"
User reports with ```dietpi-backup```, but this should be triggered with ```dietpi-services``` commands.

[2017-12-10 14:53] k-plan commented on #1281
@MichaIng

Do this for a VM is relatively fast, if you don't own ten years old hardware like me.
And if I remenber correct, VM are appears relative late in DietPi timeline and was in bottom line a helping tool for developer, not for enduser.

Messing around with several SBC, SD card, old images versions be a mess, a very slow and time-consuming process.
I can send you a OrangePi One and some SD ca

[2017-12-10 15:41] k-plan commented on #1281
The main problem in my eyes is, things have change over the time so many times:

- from all RPi's plus all Odroids over to support every low-cost china rubbish one-man-show SBC and now new player on the market like Sparky, Asus Tinkerboard, Pine, Allo, Just-Boom,  plus Native PC ( + UEFI) , varying VM's

- changes on software focus from time to time,
over form basic stuff and very cool project spe

[2017-12-10 16:59] k-plan commented on #1268
@Fourdee

Yes. All with:

`##DietPi_ ...  -(Jessie)_lastest-try.7z`

[code]

`''DietPi_ ...  -(Jessie)_lastest-try.7z` was only a typo while in rush and uploading, I can't delete  it later.

As always, everything is without engagement or guarantee, but the best I can do. 😃

Happy testing.

[2017-12-10 17:13] k-plan commented on #1268
@MichaIng

Hallo Micha,

ja, das mit den Firmware und Kernel Fixierung sehe ich genauso.
Daher habe ich deinen Vorschlag auch hier mit eingearbeitet: https://github.com/Fourdee/DietPi/issues/1270#issue-278797206

kp ... ?  => Kein Plan? (🇬🇧  = dunno)  |  Das ist jetzt aber mein Pseudonym !  😃

But now better back to english before @Fourdee get a crunch.

cu
dunno (k-plan)

[2017-12-10 17:25] MichaIng commented on #1281
@Fourdee
Do you have download statitics of images?
I am personally not a friend of data collection, but it would be interesting to know which software is actually used how much? Any other way we can derive that?

[2017-12-10 17:30] k-plan commented on #1281
@MichaIng

Yes we, I or you can do this by [DietPi Survey](http://dietpi.com/phpbb/viewtopic.php?f=8&t=20&sid). But, as always, it's very time consuming to get a statistic out of this.
Shall I do this, if I get some spare time?

[2017-12-10 20:31] MichaIng commented on #1281
"Shall I do this, if I get some spare time?"
Ah great, yes, if we already thinking about dropping ancient software, it should be a helpful guideline.

Generally, I like the idea to mark certain devices and software as low priority/no active development and imform users about this (instead of completely remove it). That way we can also ask for maintainers, people who use the device/software and are

[2017-12-10 20:57] Fourdee commented on #1067
@MichaIng

Yep, great idea, the more info for the user the better for them, and, us quick debugging 👍
[code]

Would also reduce the need for comments in ```dietpi-software```, replaced by info messages.

echo -e "\e[1m occ\e[0m = Shortcut for ownClouds 'sudo -u www-data php /var/www/owncloud/occ'"
or something like that.

I'd prefer to keep the banner as clean as possible. Ideally, we should put t

[2017-12-10 21:03] MichaIng commented on #1067
@Fourdee
Will add notifications and write some doc tomorrow. Yes good idea, sometimes I forget that dietpi.com + forum was also for me the first info point.

[2017-12-10 21:16] k-plan commented on #1281
I like as well to see this.

And please as well a traffic statistic for the past 12 month `dietpi.com` generate.

But only @Fourdee  can share this information with us.

[2017-12-10 21:19] MichaIng commented on #1285
Just in theory: If we really get this automated secure for at least some devices, this means we do not necessarily need to create images for those. We could just provide the preparation script to upgrade any Debian system into DietPi. By use of apt-mark, as suggested here: https://github.com/Fourdee/DietPi/pull/1266, we would be sure that possibly disturbing software is removed and provide our own

[2017-12-10 22:00] k-plan commented on #1281
@MichaIng
@Fourdee

Device and Version statistic by `DietPi Survey`
But please keep in mind, only devices will be count which:

- users have decide to share this information with us
- devices are online and have a working internet connection

--------------

cute-of date: 10-12-2017

### Installations:

**58,113**

-------------

### Debian Releases

**Debian 8  "Jessie":**
56,740

**Debian 9  "St

[2017-12-10 22:49] k-plan commented on #1281
@MichaIng

[code]
wow ... :flushed:

Hmmm ... :pensive:

[code]
😃

😉

[2017-12-10 23:18] k-plan commented on #1287
Yes, please .... :laughing:

:speak_no_evil:

[2017-12-10 23:22] Fourdee commented on #1067
@MichaIng

Although, I am adding in a Xmas tree this year :rofl: 👍
https://github.com/Fourdee/DietPi/commit/e30065df70498b57e063aa76678c0fb11245dea1

[2017-12-10 23:23] Fourdee commented on #1287
@k-plan
![image](https://user-images.githubusercontent.com/7077026/33810796-276c7b96-de01-11e7-940d-4cbfa40507af.png)

[2017-12-10 23:29] k-plan commented on #1287
@Fourdee

Very nice! 👍

Good to see, you don't lose one's  humour! 😄

[2017-12-10 23:29] Fourdee commented on #1287
@k-plan

Trying, although its really salty recently lol

[2017-12-10 23:46] Fourdee commented on #1287
Completed.

Thanks @k-plan and @MichaIng for all your contributions this release, really appreciate it 👍

[2017-12-10 23:46] #1287 closed, assigned to Fourdee

[2017-12-10 23:47] Fourdee commented on #1285
@MichaIng

As running systems are, yeah running, we could extract boot critical information (especially fstab/boot.ini/network details) from the running system in case and create our configs around those.
Hehe just a little optimistic view into the feature

I like where this is going 👍

[2017-12-11 00:02] Fourdee commented on #1281
@k-plan
NB: Survey files are from March 2017 - Present day ~11th~ 10th (Dec 2017):)

[2017-12-11 00:05] Fourdee commented on #1281
@k-plan
- Webserver report, from 10th Dec - Present Day (11th): http://dietpi.com/report.html
- Previous to that: http://dietpi.com/report2.html

[2017-12-11 00:15] k-plan commented on #1281
@Fourdee

yes, correct 21-03-2017. But online device will refresh their report from time to time.

no, 10-12-2017 18:31 , because I have to download them to get it seached ... no rights to do this on your server. And please let it as it is. It's okay.

Thanks for the report! 👍

[2017-12-11 00:17] Fourdee commented on #1281
@k-plan

I changed ```.``` in your post, hope you do not mind? 11.890 users is 11 users lol (from my eyes) 😄

You have every right 👍

[2017-12-11 00:27] k-plan commented on #1281
https://de.wikipedia.org/wiki/Wikipedia:Schreibweise_von_Zahlen#Dezimaltrennzeichen

We don't live on a island, but is okay! 😄

Was only decimal point to get it more readable here. But for sure 🇬🇧  next time. Promised.

[2017-12-11 08:25] Master92 commented on #1288
Had the same issue when running software installation with `dietpi-software`.

Last output is:
[code]
After that, the connection drops and won't automatically reestablish.

#### Required information:
- DietPi Version: 158 and 159
- SBC Device: Pine A64+ 1GB

#### Update:
When commenting out ```dietpi-wifi-manager``` in ```/DietPi/dietpi/dietpi-services``` as suggested, the bug doesn't occur anymor

[2017-12-11 09:31] Dinesh3219 opened #1290 "DietPi-Software | Plexmediaserver: installed but launches only as Plex Web"
Hi,
I installed plexmediaserver on my odroid xu4 from dietpi-softwares but when i launch IPaddress:32400 it only launches as a web client and not as a server. Is there any way to fix this.

Thank you for your guidance.. i think i am doing something wrong..

[2017-12-11 14:08] MichaIng commented on #1281
Do I interpret this right? Average DietPi user is RPi owner, running Nextcloud? Hmm I am soo totally average it seems 😭 😆.

Note to myself: Opt out survey with my testing VMs 😉.

[2017-12-11 14:15] FusionPlmH opened #1291 "Cant finidh firsh setup get stuck"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version |158
- SBC Device rpi3
- Power supply used5v2a
- SD card used samsung ultra 32gb
- Distro (EG: Jessie) |stretch

#### Additional Information (if applicable):
 DietPi-Software
─────────────────────────────────────────────────────
 Mode: Update & upgrade APT
 Please wait...

Get:1 https://www.mirrorservice.org/sites/archive

[2017-12-11 14:16] #1291 closed, assigned to nobody

[2017-12-11 14:43] tatoosh opened #1292 "DietPi-Automation | Outdated dietpi.txt is not completely updated, during patching."
Test on Raspberry B+ and Raspberry Pi Zero W

Image: v158 - DietPi_v158_RPi-armv6-(Stretch)
Problem:
Pi Zero W: my WLAN isn't working so i tried with PiB+ with plugged ethernet adapter.
Ethernet is also not working. I have to enable the Ethernet Adapter in dietpi-config.

[2017-12-11 14:49] ghost opened #1293 "Failed to execute operation: Activation of org.freedesktop.systemd1 timed out"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version | ```cat /DietPi/dietpi/.version```? 158
- SBC Device (EG: RPi 3)? NanoPi M1
- Power supply used (EG: 5v 1A RAVpower)? 5V 3A Rydges SpeedPower
- SD card used (EG: Sandisk ultra)? Sandisk 32GB
- Distro (EG: Jessie) | ```uname -a```? Linux S001 3.4.113-sun8i #4 SMP PREEMPT Wed Nov 22 13:45:28 CET 2017 armv7l GNU/Linux

####

[2017-12-11 17:53] TerryE opened #1294 "DietPi-Software | Node-RED: Run under nodered?"
#### Required Information:
- DietPi Version: 159
- SBC Device: RPi 3
- Power supply used: RPI 3 standard 5V 2.5A
- SD card used:  Sandisk ultra 8Gb + USB attached Kingston UV400 120Gb SSD
- Distro: 4.9.62-v7+ armv7l GNU/Linux

#### Additional Information (if applicable):
- Node-red
- Standard DietPi install

#### Expected behaviour:

Node red is intended to be run from an unprivileged service acco

[2017-12-11 18:24] k-plan commented on #1292
@tatoosh

Ethernet is enable by default in `dietpi.txt`, Nothing is to do.

[code]

Extra testing now:

### RPi Zero W (armv6l)

- [x] Automated installation - Wifi only - DHCP  - (works)

- [x] Manual Installation - Wifi only - static IP address - (works)

- [x] Automated installation - Ethernet USB Adapter - DHCP  - (works)

- [x] Automated installation - Ethernet USB Adapter - static IP address

[2017-12-11 18:47] k-plan commented on #1292
@Fourdee

BTW: (and nothing to do with this issue!)
 What I personally really dislike with `DietPi_v158_RPi-armv6-(Stretch).img` :
Why to update `dietpi_rpi_kernel_4.9.zip	07-Dec-2017 17:36	   77M` on a image `DietPi_v158_RPi-armv6-(Stretch).img   10-Dec-2017 02:47	 631,2M` at inital boot up :interrobang:

- Yes, I have a flat-rate
- Yes, my internet connection is fast
1. But network, especially W

[2017-12-11 19:22] k-plan commented on #1294
@TerryE

Hi,
can you please share with us:

`cat /etc/debian_version`

Nice, thanks. We are excited.

[2017-12-11 20:39] tatoosh commented on #1292
thx @k-plan for your answer and time. i think i started with an old version of dietpi.txt - sorry for that.
Now i am testing with new dietpi.txt on Pi3 Wifi only - worked very nice!
Good work for v159! Thanks a lot

[2017-12-11 20:49] k-plan commented on #1292
This congratulations must be directed to @Fourdee  and  @MichaIng , not to me. 😄

Nice to hear it will work for you now. 👍

[2017-12-11 22:54] Fourdee commented on #1292
@k-plan

Why to update dietpi_rpi_kernel_4.9.zip 07-Dec-2017 17:36 77M on a image DietPi_v158_RPi-armv6-(Stretch).img 10-Dec-2017 02:47 631,2M at inital boot up ⁉️

Kernel should not be updated during 1st run of this image, as it should match the current, i'll run tests to verify.

[2017-12-11 22:59] Fourdee commented on #1292
@tatoosh

That would explain it.

We patch dietpi.txt incrementally during dietpi-update, if your using a older dietpi.txt than the image version, the patching may miss some critical additions.

Solution is to always use the dietpi.txt, sourced from the image you are writing. This will ensure patching is correct.

I'll see if we can improve this to patch previous versions.

[2017-12-12 00:15] Fourdee commented on #1292
Runs during ```dietpi-update``` to add missing ```dietpi.txt``` entries:
![image](https://user-images.githubusercontent.com/7077026/33860612-922e3e58-ded1-11e7-87f6-5b3dcedbe33a.png)

[2017-12-12 00:49] TerryE commented on #1294
8.0

This install was only done a few days ago.

[2017-12-12 01:07] Fourdee commented on #1292
Completed.

[2017-12-12 01:07] #1292 closed, assigned to Fourdee

[2017-12-12 01:51] Fourdee commented on #1294
@TerryE

Thanks for the information, confirmed we currently use ```root``` for this installation:
https://github.com/Fourdee/DietPi/blob/master/dietpi/dietpi-software#L9742-L9764

[2017-12-12 02:25] DarkElvenAngel commented on #1294
I Have two installations where I use node-red my main NAS server and a Kodi box.  It was a simple task to add a node-red user and setup sudo on my NAS. However it can be very convenient to have node-red running under root as it does on my Kodi box where I use it to shutdown and reboot the system.

I would suggest having an option to have node-red run under either it's own user or root

[2017-12-12 02:36] DarkElvenAngel opened #1295 "DietPi-Software | Kodi: RPi Zero W crashes at boot"
## Creating a bug report/issue:

#### Required Information:
- DietPi 159
- Raspberry Pi 0w
- Power Supply 5v 2.5Amp Belkin
- SD card used NOOBS 8Gb
- Distro Stretch

#### Additional Information (if applicable):
- Kodi
- Can this issue be replicated on a fresh installation yes

#### Expected behaviour:
Boot to Kodi menu

#### Actual behaviour:
ERROR MESSAGE
Illegal command (core dumped)
Then stuck

[2017-12-12 02:56] DarkElvenAngel opened #1296 "DietPi-Software | Plymouth"
I would like to request the addition of Plymouth to DietPi as an option to set up a splash screen.

I feel this package would need inclusion to the optimized list as it has a potential to break the installation or be broken by updates

[2017-12-12 03:29] Fourdee commented on #1285
@MichaIng

I've not looked into manual holding packages yet. I'am simply converting the old script into automated. Then we can work on it.

[2017-12-12 09:30] TerryE commented on #1294
@DarkElvenAngel , you do *not* need to run Node red as root to do this, but you do need to learn how to use sudoers.

[2017-12-12 12:09] TerryE opened #1297 "The DietPi installation does not follow the *nix Filesystem Hierarchy Standard"
This is a general configuration / architectural issue that started out as a comment in #1294, but this has a wider scope so it really merits its own issue.

### Expected behaviour:

Linux adopts a convention [Filesystem Hierarchy Standard](https://en.wikipedia.org/wiki/Filesystem_Hierarchy_Standard) (**FHS**)  for what is type of files are located in `/etc`, `/usr/local/lib`,`/var/lib`.  DietPi sh

[2017-12-12 12:11] TerryE commented on #1294
@Fourdee Dan, the DietPi installation sometimes uses a convention which isn't aligned to normal Linux practices. I've raised this as a separate issue #1297

[2017-12-12 12:31] k-plan commented on #1297
Until @Fourdee give any comment:

### Lock conversation on this issue.

Locking the conversation means:
- Other users can’t add new comments to this issue.
- You and other collaborators with access to this repository can still leave comments that others can see.
- You can always unlock this issue again in the future.

[2017-12-12 15:51] pablopoo opened #1298 "DietPi-Software | PHP-FPM: fails to fork multiple processes on single core systems"
## Creating a bug report/issue:

Pi-hole timeout when tries to show the block page for blocked domains.

The block page (/var/www/html/pihole/index.php) internally calls a php script on the same server using an http request, but php5-fpm is configured with only 1 server and 1 child process ( /etc/php5/fpm/pool.d/www.conf ) , so the call timeout because can't fork any more process to reply that sel

[2017-12-12 18:45] Yury-MonZon commented on #1288
It is weird, but for dietpi-update it didn't work.
Info here: http://dietpi.com/phpbb/viewtopic.php?f=11&t=2547&p=9918#p9918

[2017-12-12 19:51] yuret opened #1299 "DietPi-Software | Wifi Hotspot not working out of the box. RPi3"
## Creating a bug report/issue:
hostapd wont start and the log is:

Dec 13 17:07:07 DietPi hostapd[943]: Starting advanced IEEE 802.11 management: hostapd/usr/sbin/hostapd: error while loading shared libraries: libssl.so.1.0.0: cannot open shared object file: No such file or directory
Dec 13 17:07:07 DietPi hostapd[943]:  failed!

OpenSSL> version
OpenSSL 1.1.0f  25 May 2017
OpenSSL>

#### Require

[2017-12-12 21:45] MichaIng commented on #1285
@Fourdee
Great work so far, like the idea of setting options by whiptail, first steps into end user direction 😄.

Just consider: https://github.com/Fourdee/DietPi/pull/1266

If you generally like the idea, I will recreate the PR for the automated script. Other small adjustments based on https://github.com/Fourdee/DietPi/issues/1219#issuecomment-347734540 and following as well.

Just tell, after yo

[2017-12-12 23:53] DarkElvenAngel commented on #1294
@TerryE your exactly right I don't need to run as root I just never bothered to set my Kodi box to run as it's own user

[2017-12-12 23:58] DarkElvenAngel commented on #1294
@Fourdee I have already set up and run node-red as it's own user would there be a good place to post my setup?

[2017-12-13 07:52] Master92 commented on #1288
Did you update your system after commenting out ```dietpi-wifi-manager``` and before updating again?
Seems like the ```/DietPi/dietpi/dietpi-services``` file gets replaced by each version-upgrade.

[2017-12-13 09:36] Fourdee commented on #1285
~Ok, so the new package removal system:~
#### Scraped, in favor of @MichaIng APT removal method.
- ~We provide a list of essential minimal packages that must be installed for DietPi~
- ~The script then finds all the dependencies for each package we need and stores it into an array~
- ~Package removal list, is generated by comparing the currently installed, to the array we generated. If any package

[2017-12-13 09:41] Fourdee opened #1301 "DietPi-Set_Hardware | Set aotg.aotg1_speed uEnv.txt if USB-DAC on Sparky"
```aotg.aotg1_speed``` compatibility setting for USB 1.1, when USB-DAC configured::
Applied during patch, and when user selects ```usb-dac```.

[2017-12-13 09:43] Fourdee opened #1302 "Allo GUI v1 > v4 | Setting USB-DAC resets to "NONE""

[2017-12-13 09:47] Fourdee opened #1303 "DietPi-Software | Shairport fails to install"
![image](https://user-images.githubusercontent.com/7077026/33932565-28460244-dfeb-11e7-8c87-e0cc82e8c1a9.png)

Due to additional Jessie packages we pull in via net, no longer available from URL.

Host on DietPi.com

[2017-12-13 09:54] Fourdee opened #1304 "Roon > Shairport-Sync plays for 20mins, then fails."
Could be related to https://github.com/Fourdee/DietPi/issues/1303
And/Or .conf changes in latest release, verify.

[2017-12-13 10:28] Yury-MonZon commented on #1288
Nope. I was on v158, commented it out and tried to update to v159. After it disconnected I had to power cycle it to reboot. Then checked that it is still commented out and tried to run the update again with the same results.
monzon@MZ-Cloud:~ $ cat /DietPi/dietpi/dietpi-services | grep wifi
                #'dietpi-wifi-monitor'

[2017-12-13 10:33] Fourdee commented on #1297
@TerryE

Many thanks for the info 👍

I'll browse through FHS and make a decision on if we are adopt it. I'll post here once I have a answer :)

[2017-12-13 10:37] Fourdee commented on #1294
@DarkElvenAngel

Thanks for the offer, by all means post if you are willing to share 👍

[2017-12-13 10:53] tatoosh commented on #1292
Thx @Fourdee

[2017-12-13 11:08] Fourdee commented on #1288
@Master92

Correct, all DietPi scripts are replaced during the upgrade 👍

#'dietpi-wifi-monitor'

@Yury-MonZon

Bizarre,

Does connection drop (as per https://github.com/Fourdee/DietPi/issues/1288#issuecomment-350653480) occur when you run the commands full path?
[code]