[2016-06-19 11:17] avs-code commented on #337
I don't understand this "if you could rearrange the order"

Set DHCP mode on in dietpi-config

My key its similar to this: bAZkp&\D7XfqnrcQpJvLIgG]},c>P'XCEL$#!.CQRHaN??KywO2YIn!AXM:(o)J WPA/WPA2 504 bits 63 characters

My router options:
Encryption:  *WPA/WPA2 -   Only WPA2  -  WEP  -  Disabled
Type: *key(min 8 characters) - Hex(64digits)
My selection with *

With a easy numeric key: 123456789 th

[2016-06-19 12:34] k-plan commented on #376
@Fourdee
- updating to the last v.120 testing build.
- disable and re-enable `Bluetooth` and `WiFi` via `dietpi-config`

[code]

![160619-0001](https://cloud.githubusercontent.com/assets/17237601/16177320/442f1c7e-3629-11e6-9ff4-a34fe74b858c.gif)

![160619-0002](https://cloud.githubusercontent.com/assets/17237601/16177325/5efbec76-3629-11e6-9eff-6c1b4e756477.gif)

![160619-0003](https://cloud.gith

[2016-06-19 13:56] Fourdee commented on #337
@arv187

Try putting the key manually into /etc/network/interfaces, replace the following lines:

[code]

Then reboot (ideally), or `ifup wlan0`. If that still fails, try without the quotes (")

[2016-06-19 13:59] Fourdee commented on #376
@k-plan
Thanks, i'll take a look :+1:

[2016-06-19 16:42] avs-code commented on #337
With " say me invalid argument

Ok, I think that i found the issue.

With wicd was working even rebooting, but when I shutdown yesterday at night and power on today, wifi device is on, but not connect.

I go to my config router, in LAN/dhcp static when i have a static ip to my wifi dongle, **never fail**, only with diet-pi, I dont know why... ¿May be that take host name not only mac wifi dongle, a

[2016-06-20 11:44] Fourdee commented on #376
#### Fresh installation of the testing branch on RPi 3. 1st run setup completed.

Enabled Bluetooth via `dietpi-config`:

[code]

Enabled WiFi via `dietpi-config`:

[code]

#### All appear to be working ok

#

#### Reboot

#

Bluetooth:

[code]

WiFi:
![image](https://cloud.githubusercontent.com/assets/7077026/16192831/85ae6226-36e3-11e6-91a3-77e625768c17.png)

[code]

#### All appear to be workin

[2016-06-20 12:56] Fourdee commented on #337
In `dietpi-config` and whilst connected in DHCP mode:
- select "change mode" STATIC
- then select "Copy current IP to static"
- Select "apply".

This will copy your working DHCP IP addresses and use them for STATIC IP.
Would be interesting to see if this works.

[2016-06-20 13:04] Fourdee opened #382 "DietPi Image/zip | Naming system"
As suggested by @rhkean :+1:

Img naming:

[code]

Img naming:

[code]

Once all DietPi images have been updated to 120 and 120 is released, I'll go through all files and download links as needed.

note to self: I've created a single page/url for download links, update all references/links to use this: http://dietpi.com/download

Status (Also status for all images updated to v120):
- :u6307: | pin

[2016-06-20 13:20] Fourdee commented on #380
Updates on mali driver:

http://forum.pine64.org/showthread.php?tid=587&pid=12614#pid12614

[2016-06-20 13:25] rhkean opened #383 "Update PineA64 image with new ATF Blob"
http://forum.pine64.org/showthread.php?tid=99&pid=12817#pid12817

this is taken care of with the`dietpi-config` -> `update firmware` option, but I believe it best to apply it to the latest images by default.

[2016-06-20 13:36] Fourdee commented on #383
@rhkean

Yep :+1:
Might be worth putting this update in the patch file aswell to force it for existing installations?

[2016-06-20 13:57] avs-code commented on #337
When I talked about static dhcp list I was talking about a config page in my router.
Then, you want that I set dhcp mode to static and copy the current ip to static (in dietpi-config),
Do i have keep the static dhcp ip assigned to my wifi dongle in my router to test?

P.S: I did, and work, but I saw that ethernet was connected and in static too (I didn't have my ethernet cable plugin) then I set e

[2016-06-20 14:16] rhkean commented on #383
hmm... I thought I had done that, but I just checked and it's not there.... must've been one of my test images

[2016-06-20 16:02] Fourdee commented on #337
@arv187

Looks like router is failing to completed the DHCP request for IP. Check your router settings, most specifically conflicting address reservation for DHCP.

Yep, Its probably easier to set reserved IP's in your router and use DHCP on the devices. I do this for all my devices (i have about 30 entries lol). Either way, has the same effect as using a static IP on the device.

[2016-06-20 16:15] avs-code commented on #337
Error is normal, not ethernet cable there. The strange was see connected status and static hehe.

[2016-06-20 18:24] k-plan commented on #376
@Fourdee

Yes, I can/will do this, when I am back at home. Sorry, but not today.

[code]

WiFi country code is set to `DE`, channel is:

[code]

![wifi](https://cloud.githubusercontent.com/assets/17237601/16205115/9612eac6-3722-11e6-9e61-7ff57ef619a6.gif)

YES, after 1st run setup, with automated installation of mc, iperf, mtr-tiny and tcpdump.

- dietpi.txt (it is the versoin of the testing branc

[2016-06-20 18:38] k-plan commented on #382
Hmm,

Don't like`DietPi_${Board}-${arch}-(${distro}).7z`.
I think, I know, why you like to do this.

Will favor`DietPi_${dietpiversion}-${Board}-${arch}-(${distro}).7z` and you link on http://dietpi.com/download to `DietPi_${Board}-${arch}-(${distro})-{latest}.7z` and have a symbolic link to the latest version. So you can leave old version on-line in `http://dietpi.com/downloads/images/`, please.

[2016-06-20 18:57] rhkean commented on #382
my only concern was that the x64 images have the arch after the board name, but the arm64 images have it after the distro

[2016-06-20 19:01] Fourdee opened #384 "XU4 | Automation install fails"
As per email from @rhkean

[2016-06-20 19:47] Fourdee commented on #382
Quicker to create the images lol :)

I agree with the addition of version numbers for .7z files. Then we can just give users the link (as you mentioned) above to download the latest version.

Although a good idea, I'd like to ensure the user always downloads the "latest" image where possible. We dont want users downloading v90 and having to update 30+ DietPi versions. The shorter the installation

[2016-06-21 14:43] k-plan commented on #382
Wow, one suggestion and so keenly reactions.  :smile:

Sorry, no hard feelings for just anybody.

@rhkean

Yes, my first phrase was a little bit short and harsh. I personally only miss the version-no. in packed file name.
But you are right with the architecture mark, it was inconsistent.

@Fourdee

Nice, thank you. :+1:  :smiley:

And I respect your reasons, to not provide outdated images any more

[2016-06-21 14:59] rhkean commented on #382
@k-plan
No hard feelings.... I didn't take anything harshly at all. :smile:

I've been so swamped at work that I'm sure my comments have probably also come across as short and/or harsh.  And, if so, I apologize.

All just open discussion as far as I can tell.  :+1:

[2016-06-21 15:08] Fourdee commented on #382
@k-plan @rhkean
"Love is in the air" :dancer: :dancers: lol

All jokes aside (sorry, couldn't resist lol). All feedback is good feedback. Helps make DietPi better, so :+1:  :+1:  to both of you :)

[2016-06-22 15:10] Fourdee commented on #343
v120 SBC images completed.

[2016-06-22 15:10] #343 closed, assigned to Fourdee

[2016-06-22 17:03] Fourdee commented on #382
@k-plan

New .7z file naming + images.
![image](https://cloud.githubusercontent.com/assets/7077026/16275817/a2d2ec66-38a3-11e6-979a-6e7d580cc222.png)

@rhkean
I changed aarch64 to arm64. I think it works better with the other arm32 archs armv[0-9], what you think?

[2016-06-22 17:07] Fourdee commented on #376
@k-plan
Thanks again :+1: , very strange, i'll take another look and see if I can replicate it.

[2016-06-22 17:22] Fourdee commented on #376
Bluetooth was still enabled for me. Must be a service failing.

@k-plan Any chance I could SSH into this system and debug? Or even VNC/Remote desktop, you'll be able to see what I'am doing.

[2016-06-22 18:14] rhkean commented on #382
I don't have a preference.  I only used aarch64 to be consistent with #341

Will you include links for "latest"?
DietPi_latest_PineA64-arm64-(Jessie).7z  --> DietPi_v120_PineA64-arm64-(Jessie).7z

[2016-06-22 19:36] Fourdee commented on #382
@rhkean
Prior to v120 release, i've uploaded them to: http://dietpi.com/downloads/testing/

Yep, i'll maintain the version URL links on webpage: http://dietpi.com/download
The above URL is now "the main link/place for users to download DietPi".

I updated all the forum links today to point to http://dietpi.com/download: http://dietpi.com/phpbb/viewtopic.php?f=8&t=9

Note to self:
Update sourceforg

[2016-06-22 20:41] rhkean commented on #382
so, will I be able to do this in a script?

[code]

or should I add a piece of code that pulls the version number from github?

[2016-06-23 11:36] Fourdee commented on #382
@rhkean

I usually clear out the testing folder. So once v120 is released, i'll move those images to http://dietpi.com/downloads/images section.

We dont always create a updated image for each DietPi version due to the time involved to complete them. Sometimes we update 1 image (eg: due to OrangePi PC root exploit) if needed.

So in other words, to get the latest image, your best bet would be to s

[2016-06-23 13:15] Fourdee opened #385 "End support for Wheezy images"
I have created a final Wheezy image that has its own Git branch (https://github.com/Fourdee/DietPi/tree/wheezy-final-v120).

http://dietpi.com/downloads/images/DietPi_v120_RPi-armv6-(Wheezy).7z.

[2016-06-23 13:16] Fourdee commented on #385
Documentation updated, image completed: http://dietpi.com/phpbb/viewtopic.php?f=9&t=432&p=1898#p1898

[2016-06-23 13:16] #385 closed, assigned to Fourdee

[2016-06-23 14:51] axel-h commented on #343
I agree that there is really not need to run a login prompt there. But aside from this, dies the console really eat this much resources?
But can we get a message "serial console disabled" at least then? Seems I'm coming from a completely different background and I've see too many cases where the serial console prints "loading kernel..." and then nothing - which usually means the kernel has crashed

[2016-06-23 16:49] Fourdee opened #386 "DietPi-Software | Add support for HiFi (MPD + YMPD) for arm64 devices"
As title.

[2016-06-23 16:49] Fourdee commented on #386
Compiled MPD and YMPD for arm64 devices: https://github.com/Fourdee/DietPi/commit/c401080f5a349f82d9ac96b9dee088db6b131cc4
- MPD will now use the default soundcard on system.

Completed.

[2016-06-23 16:49] #386 closed, assigned to Fourdee

[2016-06-23 18:53] rhkean commented on #382
ok, I disagree with putting the version number in the 7z filename, then.  The reason for suggesting the naming convention was to facilitate automation as noted above:  DietPi_${Board}-${Arch}-(Jessie).7z

adding the version number into the .7z filename prevents automation, since wget doesn't support wildcards in the URL.

Addionally, since the download will only provide the latest image, and the .

[2016-06-24 11:26] Fourdee commented on #382
@rhkean
Seems Curl doesn't support wildcards either, at least not natively http://apple.stackexchange.com/questions/60360/use-curl-to-download-images-from-website-using-wildcard.

I think @k-plan wanted to know the image version, before downloading the file and having to extract it. But as DietPi updates automatically at 1st run, the version number of the image has less value.

I'am going to have

[2016-06-24 12:09] Fourdee commented on #384
Will move this to 121, need to get 120 out the door.

[2016-06-24 12:20] Fourdee commented on #382
Ok, i'll get virtualbox image updated.

@xenfomation
Any chance you would be up for updating the Xenserver image?

[2016-06-24 13:28] Fourdee commented on #382
Done: http://dietpi.com/downloads/testing/

[2016-06-24 13:28] #382 closed, assigned to nobody

[2016-06-24 13:31] Fourdee commented on #383
@rhkean
I think this ticket is now completed with the updated Pine image? Please close if it is :+1:

[2016-06-24 13:33] rhkean commented on #383
applied to V120 image

[2016-06-24 13:33] #383 closed, assigned to rhkean

[2016-06-24 13:49] Fourdee commented on #311
I've reverted this change, didn't like it, and it was a bit rushed to be honest. I've updated the online docs (http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=174#p174) for now, but i'll take a fresh look after v120 is released.

[2016-06-25 17:40] k-plan opened #388 "DietPi-Software | Mate Desktop on RPi3"
- `DietPi- ...` links on Mate Desktop didn't work:

![rpi-3-test linux 06252016-18 25 07](https://cloud.githubusercontent.com/assets/17237601/16358152/cc87f46a-3b0b-11e6-9d25-1eafa6c99494.png)

solution:

`root@RPi-3-test:~# apt-get install xterm`

![rpi-3-test linux 06252016-19 23 17](https://cloud.githubusercontent.com/assets/17237601/16358169/41d20e22-3b0c-11e6-8a9c-0fe5d1f1db2b.png)

---
- Fil

[2016-06-25 17:55] k-plan opened #389 "DietPi-Image | v.120"
- Download:  http://dietpi.com/downloads/images/DietPi_RPi-armv6-(Jessie).7z
- unpacked: `DietPi_v120_RPi-armv6-(Jessie).img`
- Write on sd-card and starting
- first thing which will be preformed is a update from v.119 => v.120

[code]

As far as I can see in the image files for Odroid C1 v.120  and Odroide C2 v.120 is is the same ....

[2016-06-25 18:13] k-plan commented on #376
Sorry for the late reply, a long hard week with a lot of work ...

Testing clean install with the brand new v120 - The big one! on RPi3.

Same result. Switching many times between Bluetooth on-off and WiFi on-off.
Some times Bluetooth enabling fails.
But the is no regularity distinguishable.

When switching Bluetooth off-on and the terminal windows appears noticeable longer such as switching befor

[2016-06-25 18:46] Fourdee commented on #389
@k-plan

Yep this is expected.
When we finalize the image, we drop the version number by 1. This allows us to create the image at a specific time during v120 devolpment, then run any final patches during v120 update.

If we are being clinical, i agree, the images should be called v119. But as our update system runs during 1st run, they will always be updated to v120. Technically speaking, the imag

[2016-06-25 18:52] k-plan commented on #389
😄

[2016-06-25 18:52] #389 closed, assigned to nobody

[2016-06-25 19:51] ghost opened #390 "DietPi-Update And UserData Problem"
1) I cant use dietpi-update it gives this error. I am absouletly sure about my internet connection is good
![aaaa](https://cloud.githubusercontent.com/assets/20144485/16358765/e10a5458-3b26-11e6-8324-5a990eb8a02f.PNG)
after exit from updates;
![a11](https://cloud.githubusercontent.com/assets/20144485/16359085/d83f993c-3b30-11e6-8a44-6e0e4df6e270.PNG)

2) im taking user data error when i click the

[2016-06-26 10:47] Fourdee commented on #390
@yunussandikci
Thanks for the report, looks like a possible issue with `^M` EOL.

Would please to send us a bug report? Please see here for instructions: http://dietpi.com/phpbb/viewtopic.php?f=8&t=499&p=2184#p2184

[2016-06-26 10:52] Fourdee commented on #390
Note to self:

[2016-06-26 15:07] Fourdee opened #391 "DietPi-Software | Add installation option for Gogs"
As title: https://gogs.io/

[2016-06-26 15:08] Fourdee commented on #391
docs: http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&start=70#p2187

[2016-06-26 15:37] Fourdee commented on #391
Completed, available from v121.

[2016-06-26 15:37] #391 closed, assigned to Fourdee

[2016-06-26 15:56] ghost commented on #390
@Fourdee
My reference code is 4e2c7da6-a3f7-4a75-bce1-231c7b6151c9-0
Note : Dont forget to look for that i mentioned "**2**" bugs :)
Thanks :)

[2016-06-26 18:42] Fourdee commented on #388
@k-plan
Thanks for the report and solutions, i'll take a look :+1:

[2016-06-26 18:45] Fourdee commented on #376
@k-plan

No worries, hopefully you had a good weekend to make up for it ? :)

Thanks. I'll send you an email @k-plan :+1:

[2016-06-26 18:46] Fourdee commented on #390
Noted and thanks for doing the bug report  :+1: . I will look into this tomorrow and get back to you.

[2016-06-26 18:54] Fourdee opened #392 "DietPi-Software | Webmin"
http://www.webmin.com/

Notes to self:
will this work with DietPi's lightweight networking (/etc/network/interfaces)? Test all features.

[2016-06-27 10:44] MCosta2016 opened #393 "Update from v.115 to v.119 don't work"
Hello to everibody, this is my first time that i write on github: please be patient.
Like in the object, i have problem on updating Dietpi insatllation on my raspbery.
I try to attach bug report .
But i have to return at home from work in the evening.
Thak you in advance.
For the moment Bye .
Marco.

[2016-06-27 11:13] Fourdee commented on #390
For my reference, possible same issue: https://github.com/Fourdee/DietPi/issues/393

[2016-06-27 11:15] Fourdee commented on #393
@MCosta2016

Hi Marco, thanks for posting here (Twitter is a nightmare with 140 char max lol). :+1:

If you can get the bug report sent and reply with reference code, when you can, i'd be grateful :)
Link to guide for sending the bug report: http://dietpi.com/phpbb/viewtopic.php?f=8&t=499#p2184

[2016-06-27 11:38] Fourdee commented on #390
Looks your dietpi.txt has dos line endings (bottom right):
![image](https://cloud.githubusercontent.com/assets/7077026/16378376/7d045e16-3c63-11e6-9c8a-367ff90002d9.png)

I've checked DietPi_v120_RPi-armv6-(Jessie).img. The dietpi.txt file contained inside is unix line endings.

[2016-06-27 11:48] Fourdee commented on #390
@yunussandikci

Please run the following command to convert line endings:

[code]

[2016-06-27 11:55] Fourdee commented on #390
#### Testing / Notes to self:

Flip incorrectly detects bash scripts as binary files:

[code]

dos2unix seems better excluding `dos2unix: Binary symbol 0x15 found at line 50 dos2unix: Skipping binary file /DietPi/dietpi/dietpi-uninstall`:

[code]

Could probably get away with forcing the conversion as there are no binary files in `/DietPi`. Aside from text/scripts, the only other file format is .p

[2016-06-27 12:24] Fourdee commented on #390
@yunussandikci
Some questions:
- Where did you download the compressed image (url)?
- Once decompressed, which version is in the image file? (eg: DietPi_v120_RPi-armv6-(Jessie).img)
- Which program did you use to write the image to SD card? And, OS of that system.
- Did you modify the /boot/dietpi.txt file prior to booting (eg: setting swapfile size)?

Thanks.

[2016-06-27 12:31] ghost commented on #390
1) I downloaded image from this url "http://dietpi.com/downloads/images/DietPi_RPi-armv6-(Jessie).7z"
2) DietPi_v120_RPi-armv6-(Jessie).img
3) Win32  Disk Imager 0.9.5 with Windows 10 Pro 64Bit
4) I modified only this lines with Notepad++ ;

Wifi_Enabled=1
Wifi_SSID=YunusErk
Wifi_KEY=password
Use_Static=1
Static_IP=192.168.0.100
Static_Mask=255.255.255.0
Static_Gateway=192.168.0.1
Static_DNS=8.8.8

[2016-06-27 12:38] ghost commented on #390
I dont really know much about  "what is dos line endings" or something you mentioned :(  I made some changenings in dietpi.txt because i dont have ethernet cable, im doing my installation with ssh over wifi. What should i do when i want to make fresh installation,
Should i change change my eol conversation setting to UNİX/OSX on notepad++ ? am i right? was it the problem ?
Thanks :)

[2016-06-27 13:02] Fourdee commented on #388
Great work @k-plan, all issues now resolved and patched in v121 :+1:

Also resolved following by setting execute permissions during install:

[code]

![image](https://cloud.githubusercontent.com/assets/7077026/16380369/8e73c2bc-3c6e-11e6-8113-b5532dc2afe2.png)

[2016-06-27 13:10] Fourdee commented on #390
@yunussandikci
Thanks. Yes it looks like the modifications to dietpi.txt somehow converted the line endings to dos.

I'll code something into v121 that will automatically convert that file and a few others. Should prevent this from occurring in the future.

For now, you can set EOL Unix in notepad++ here:
![image](https://cloud.githubusercontent.com/assets/7077026/16380770/e1287c44-3c70-11e6-8389-

[2016-06-27 13:33] ghost commented on #390
I'm sorry about my ignorance :/ And really thank you for effort. Best RPi Distro Ever! :+1:

[2016-06-27 13:33] #390 closed, assigned to Fourdee

[2016-06-27 13:57] Fourdee commented on #390
@yunussandikci

Not at all! I didn't know what line endings were when I started DietPi lol. Had a few similar issues myself, and took me a while to figure it all came down to line endings.

I've updated DietPi to automatically apply unix line endings to dietpi.txt and core user files during boot. It wont take effect until the user has updated DietPi to v121, or, when we next update the images. So,

[2016-06-27 14:39] Fourdee commented on #375
No response from user. I will assume resolved as unable to replicate.

[2016-06-27 14:39] #375 closed, assigned to nobody

[2016-06-27 14:42] Fourdee commented on #361
@xenfomation
Apologies JK, I somehow missed this one. I think the "Editors" description we use is fine. I'll mark this as closed. Please reopen if needed.

[2016-06-27 14:42] #361 closed, assigned to nobody

[2016-06-27 14:47] Fourdee commented on #320
@xenfomation

We will continue to offer both MySQL and MariaDB as options in webserver stacks. All comes down to user preference and letting them choose.

I'll mark this as closed, please reopen if required.

[2016-06-27 14:47] #320 closed, assigned to nobody

[2016-06-27 14:49] GaM3r2Xtreme opened #394 "bluetoothctl | Broken during update from v119 to v120"
I've been using the interactive command bluetoothctl in order to have an expect script automate a connection with a Wii U Pro Controller. This worked great on a RPi 1 B+ paired with a bluetooth dongle, but once I ran an update to the v120 firmware, this command no longer responds when executed manually. It seems like the program runs, but any commands given can not be seen or passed.

I have notic

[2016-06-27 14:50] Fourdee commented on #261
As Kodi issue has its own ticket: https://github.com/Fourdee/DietPi/issues/380. I'll mark this as closed, great work on this @rhkean :+1:

[2016-06-27 14:50] #261 closed, assigned to rhkean

[2016-06-27 15:12] Fourdee commented on #394
@GaM3r2Xtreme

Thanks for the report.

On the RPi3 running v120, Can you please paste the results of the following:

[code]

Can you try running the following commands please aswell:

[code]

Then `power on`

[2016-06-27 15:39] Fourdee opened #395 "DietPi-Cloudshell | sticks on a screen with an error message if NFS shares are not available"

[2016-06-27 16:21] Fourdee commented on #395
Notes:
Custom mount location for NFS: `/mnt/Multimedia`. Applied to `STORAGE_USB_PATH=` as set in savefile.

[2016-06-27 17:01] MCosta2016 commented on #393
ad58354b-6571-438d-89fe-670466dcfa40-1 this is the reference code i get from dietpi: i hope i do everithing you need to help me! Thanks.

[2016-06-27 18:47] Fourdee commented on #393
@MCosta2016

Thanks for the report. :+1:
It looks like the same issue as this git ticket: https://github.com/Fourdee/DietPi/issues/390

Please can you try the following commands:

[code]

Also, i'd appreciate it if you could answer the following questions:
- Did you make any changes to the `/boot/dietpi.txt` file before booting for the 1st time?
- Which OS did you write the DietPi image on (eg: Wi

[2016-06-27 19:53] artuross opened #396 "Auto reconnect WiFi after AP (router) drops."
Hey,

I noticed that DietPi won't connect to WiFi if the network is not available at the time of boot.

I just installed this distro on my Raspberry Pi 3, there is no software installed, only basic configuration. I have configured WiFi (through Ethernet) and it has connected to it (I saw traffic on my router). Then I rebooted Pi, also worked. Then I rebooted router, and there was no IP lease on DH

[2016-06-28 05:24] GaM3r2Xtreme commented on #394
Alright, so I've gone ahead and flashed a card using the latest .img file and popped it into the RPi 3. DietPi v120 on RPi 3 works as intended for the bluetoothctl command. This is after bluetooth is enabled within dietpi-config. I have attached the output you requested coming from v120 on the RPi 3 as [RPi3_output.txt](https://github.com/Fourdee/DietPi/files/336318/RPi3_output.txt) (github keeps

[2016-06-28 10:41] MCosta2016 commented on #393
Good morning everibody, i' m enjoy because all works well.
After i try the command below, i get immediately update to v.120
Then, i retry ea fresh installation without modify dietpi.txt and all works fine.
So, in order to replay your questio i use win32disk imager to create bootable sd with S:O windows 7 ultimate updated.
But i think that the problem was create by using wordpad to modify dietpi.tx

[2016-06-28 10:43] MCosta2016 commented on #393
For example, at reboot appear...
![dietpi11](https://cloud.githubusercontent.com/assets/20165457/16412688/e5c4a116-3d2d-11e6-9f32-176466b8c520.jpg)

[2016-06-28 11:03] MCosta2016 commented on #393
ohhhhh plex server don't work
It is related with the error attached before ?
Transission start
....

[2016-06-28 11:24] Fourdee commented on #396
@artuross

Hi, did you use dietpi-config to change network settings?

Can you paste the results of the following please (hide any wifi keys):

[code]

[2016-06-28 11:32] Fourdee commented on #393
@MCosta2016

Yep. I've added some code to prevent this occurring from v121 onwards: https://github.com/Fourdee/DietPi/issues/390#issuecomment-228753085

Plex server requires en.US-UTF8 locale to be installed and the default locale. There should be a prompt when installing Plex to apply those changes.
Please check the active locale with `locale`. You can change it in dietpi-config > language and re

[2016-06-28 11:35] Fourdee commented on #393
@MCosta2016
https://cloud.githubusercontent.com/assets/20165457/16412688/e5c4a116-3d2d-11e6-9f32-176466b8c520.jpg
This can safely be ignored, but i'll take a look. Are you running desktop via VNC server?

[2016-06-28 11:39] Fourdee opened #397 "DietPi-Software | XFCE Desktop"

[2016-06-28 11:42] Fourdee opened #398 "DietPi-Config | Add display options for Pine A64"

[2016-06-28 11:52] Fourdee commented on #398
@rhkean
Would appreciate your input on this if you can :+1:. Is changing display resolution even possible at the moment?

[2016-06-28 11:57] MCosta2016 commented on #393
Are you running desktop via VNC server?  --- Yes

[2016-06-28 12:25] Fourdee commented on #394
@GaM3r2Xtreme

Interesting, thanks for results.

There is a way of updating from v115 to v119, but it will require manual input. I'll leave this ticket open and see if I can replicate the issue.

Excellent :+1:

[2016-06-28 12:28] rhkean commented on #398
@Fourdee
I believe that I saw some threads on the pine forum regarding this, but I didn't get a chance to follow up on it, so I'm not 100% sure

[2016-06-28 12:49] Fourdee commented on #394
v115 > v119 test. Appears working:

[code]

v119 > v120:

[code]

Status in dietpi-config = Enabled

I can't seem to replicate the issue on a fresh image, but thats not to say it doesn't exist. It could be some weird and wonderful installation combination or settings while you were on v119, that may of interfered with the patch system.

Either way, as you have resolved the issue with latest image

[2016-06-28 12:50] #394 closed, assigned to Fourdee

[2016-06-28 13:05] MCosta2016 commented on #393
ok, i replace locale and now it is ok!
Good
Now i have to install internet key lte 4g e392 huawei for internet connection.
then i need to create a bridge between key and eth0 to permit at the entire lan ( pc and AP) to connect to the web
But ... there is a but, i need a data control block from 08.00 am to 00.00 pm to not exceed 1gb by day, free for 00.10 am to 7.50 am.
So i think to use        htt

[2016-06-28 15:06] MCosta2016 commented on #393
I would like to use this method...

So for all out there that need to get it working on trisquel (in my case a Huwaei E392 LTE Usb Modem (from TMN Portuguese provider)) here's how:
type in terminal as root (or sudo the commands):
lsusb -v | less
Get the vendor and product ID from the result of the above command.
Like: Bus 003 Device 003: ID 12d1:1505 Huawei Technologies Co., Ltd. E398 LTE/UMTS/GSM

[2016-06-28 15:28] Fourdee commented on #397
Completed, available for v121:
http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&start=70#p2203

[2016-06-28 15:28] #397 closed, assigned to Fourdee

[2016-06-28 15:35] Fourdee commented on #393
@MCosta2016

This is not a feature we support in DietPi at the moment (I don't own a mobile/sim based device to test/implement it). So you would need to check online guides for setting this up.

As DietPi soley uses the `/etc/network/interfaces` file for lightweight networking, I think "Installation with PPP and /etc/network/interfaces" would be a good place to start: https://wiki.debian.org/Modem

[2016-06-28 15:37] Fourdee commented on #388
@k-plan
As I've completed my tests and everything appears resolved, I'll mark this as completed, but please reopen if required. Good job :+1:

[2016-06-28 15:37] #388 closed, assigned to nobody

[2016-06-28 15:43] Fourdee opened #399 "DietPi-Software | Kodi will not run."

[2016-06-28 16:08] MCosta2016 commented on #393
Ok, i try to understand, but i'm in difficult because i have the translation correct to made before..
Don't worry, but what do you think about...http://netramon.sourceforge.net/ita/
I have to use gedit to install .deb package ?
many thanks

[2016-06-28 17:24] ghost opened #400 "Xfce | Software Request"
As a normal raspberry pi user for torrent and media box, i wish dietpi had a option for install latest Xfce desktop environment. Because its lightweight, more user friendly and eye candy and its more comprehensive for using raspberry as remote desktop. So if there is chance can you include it? It's just a idea, but if it will be included i will be so happy. Thanks :)

[2016-06-28 18:02] Fourdee opened #401 "DietPi-Software | Cant install WiFi hotspot with Pine A64 + Addon wifi board."
As title. Fails criteria check.

[2016-06-28 18:03] Fourdee commented on #401
Resolved. Refresh DietPi networking file after enabling modules.

[2016-06-28 18:03] #401 closed, assigned to Fourdee

[2016-06-28 19:07] Fourdee commented on #400
@yunussandikci
Great timing :+1:  completed this today lol. XFCE will be available in v121: https://github.com/Fourdee/DietPi/issues/397

[2016-06-28 19:07] #400 closed, assigned to nobody

[2016-06-28 19:19] ghost commented on #400
omg I LOVE YOU! ahahah

[2016-06-28 19:39] artuross commented on #396
Hey, yes, I did use dietpi-config.

I just noticed that 2 of 3 leased IP from DHCP, I guess `ntp` might have run and it forced networking to connect to WiFi.

Still, I'd love to have them connecting to network as soon as there is one (or checking for available network every few minutes).

cat /etc/network/interfaces

[code]

ifconfig -a

[code]

route

[code]

dpkg -l | grep -ci -m1 netplug

[code

[2016-06-29 12:50] Fourdee commented on #396
@artuross

Thanks for the results. All looks in order.

So if I'am reading this right, WiFi is not reestablishing connection, when:
- the router (SSID) drops and comes back on again.
- SSID wasn't available during boot, but is later on.

Let me know if this is correct and i'll see if we can sort something.

[2016-06-29 13:13] artuross commented on #396
@Fourdee

Yes, this is correct, connection is not established for both of pointed scenarios.

[2016-06-29 15:39] Fourdee commented on #399
Due to shift from fbdev to X11 with recent mali driver release. Many thanks to Meveric for his help on this one:

[2016-06-29 15:45] rhkean commented on #399
so, is it fixable?

[2016-06-29 15:57] Fourdee commented on #399
@rhkean Yep, just testing now

[2016-06-29 16:37] Fourdee commented on #399
notes:
- :u55b6: boot.ini `setenv vout "dvi"` now disables hdmi audio. So this must now be commented out.
- :u6307: Kodi 32bit works from console.
- :u55b6: Kodi 24bit from console visually appears slower and stutters. 32bit is alot smoother.
- :u5408: LXDE 24bit fails on xorg.
- :u55b6: LXDE 32bit desktop fine. Kodi stutters and flashes in menus. Desktop visible in video playback. ![img_20160629_

[2016-06-29 17:57] Fourdee commented on #399
notes:
- 32bit is now default. Required for optimal performance in Kodi and allows for working Desktops.
- `setenv vout "dvi"` is now commented out by default to allow HDMI audio.
- `xcompmgr -a` is set when user runs Kodi from any Desktop. Prevents stuttering/flashing in Kodi menus and prevents laggy audio in pulseaudio desktops (eg: MATE).

The main question is patching:
- Due to so many needed

[2016-06-29 19:41] Fourdee commented on #399
The above commit should cover patching. But i'll test it tomorrow from 120 master with Kodi+LXDE installed > 121 testing.

Reason for boot.ini overwrite:
Patching boot.ini would be risky due to far too many additions and changes at various lines, and, I honestly don't have the time at the moment to code around it :-1: . Also contains the new "nographics" (headless) option which i'll add to dietpi-

[2016-06-30 04:40] bhaveshgohel opened #402 "[DietPi Update Error] - Obtained server value from github is invalid!"
Hello @Fourdee ,

Today when i update my Raspberry Pi I get the bellow error message. I tried again but same error.

![dietpi-update-error](https://cloud.githubusercontent.com/assets/5253753/16476934/78998d58-3eaa-11e6-9dba-57edd1d7041a.png)

OS: DietPi v116 [Debian Jessie]
Hardware: Raspberry Pi 3

I'll be happy to provide more info if needed. :smiley:

[2016-06-30 11:19] Fourdee commented on #402
@bhaveshgohel
Thanks for the report.

Excellent :+1:
I mainly need to see `/DietPi/dietpi.txt`, but, its probably best to send us a bug report as this will upload the majority of DietPi settings including dietpi.txt: http://dietpi.com/phpbb/viewtopic.php?f=8&t=499

[2016-06-30 12:40] Fourdee commented on #399
Patch tests completed. Resolved for v121.
Marking as closed :)

[2016-06-30 12:40] #399 closed, assigned to Fourdee

[2016-06-30 12:53] bhaveshgohel commented on #402
@Fourdee : Bug Report Sent! :+1:

Where can i send you the "Reference CODE"?

[2016-06-30 13:19] Fourdee commented on #402
@bhaveshgohel
On here will be good :+1:

[2016-06-30 14:02] Fourdee commented on #393
@MCosta2016

To install deb packages:
`dpkg -i package.deb`

[2016-06-30 14:02] Fourdee commented on #393
As the original issue has now been resolved, i'll mark this as closed.

[2016-06-30 14:02] #393 closed, assigned to Fourdee

[2016-06-30 14:16] Fourdee commented on #376
@k-plan
I sent you an email a few days ago, might of gone to your spam folder, please let me know if you got it :)

[2016-06-30 14:37] Fourdee commented on #395
Taking this out of milestone as we don't support or have any NFS features in DietPi at the moment (eg: only applies to custom NFS setups)

[2016-06-30 14:38] Fourdee commented on #376
Will take this out of milestone for now.

[2016-06-30 14:40] Fourdee commented on #357
Taking this out of milestone. @xenfomation please let me know if you can still complete the config?

[2016-06-30 15:02] Fourdee commented on #311
@k-plan
PiHole will automatically update the adlist on a weekly basis via `/etc/cron.weekly/pihole_adlist_update`

[2016-06-30 15:06] ghost opened #403 "DietPi-Software | MineOS fails to start/copy server profiles "Error 127""
_A report from [MineOS](https://discourse.codeemo.com/t/dietpi-mineos-server-start-failed/1375) forums by chooch79._

 After I accept the EULA and click "Start" server, I get "[servername] start failed 127." I also tried to click "Copy profile to live server files" and get the error "[servername] copy_profile failed 127."

_The author and maintainer of MineOS (Hexparrot) suggested resolution_

"It

[2016-06-30 15:37] Fourdee commented on #403
@Zone22
Thank you for letting me know. :+1:

Resolved for v121:
I've added rsync to the default package list for MineOS, and, existing MineOS installations will be patched during dietpi-update.

Commit: https://github.com/Fourdee/DietPi/commit/ccdb8d94287229f94b2b8ccf6ce2eedab9d2042e

[2016-06-30 15:37] #403 closed, assigned to nobody

[2016-06-30 17:06] Tzimovo opened #405 "DietPi Update 120 to 121 on XU4/C1 results in failure to boot."
Hi,
unfortunately the latest update bricks my Odroid-XU4 because for some reason the update installs at least the Odroid-C2 UBoot config (in boot.txt ODROIDC2-UBOOT-CONFIG). Not sure if the kernel is also from the C2, at least the system does no longer start at all and the heartbeat led does not show any activity.
Is there anything I can try to prevent this?
Cheers and keep up the good work on thi

[2016-06-30 17:45] rhkean commented on #405
Please change the title.  You can't [brick](https://en.wikipedia.org/wiki/Brick_%28electronics%29) an arm sbc.

Based on your description, it appears that the `boot_c2.ini` file got copied over your `boot.ini`.  It should be the `boot_xu4.ini` file.

pull the xu4 file from [here](https://raw.githubusercontent.com/Fourdee/DietPi/master/boot_xu4.ini) and save it to the FAT partition of the uSD card

[2016-06-30 17:57] rhkean commented on #405
@Fourdee
I wasn't following closely as you were addressing #399.  Was that an Odroid-C2 specific fix?

It looks like the v121 patch file needs a `$HW_MODEL` test [HERE](https://github.com/Fourdee/DietPi/blob/master/dietpi/patch_file#L957-993).

[2016-06-30 18:32] Fourdee commented on #405
@Tzimovo
Many thanks for bringing this to our attention :+1:

@rhkean

Yep, major f**\* up on my part. So apologies to those users this has affected.

I've released v122 which will stop this from occurring. Existing installations affected by this, i'll address here in a minute.

[2016-06-30 18:38] Fourdee commented on #405
#### If your system has been affected by this patch, please do the following to replace the boot.ini file:
- Power off system and plug SD/EMMC media into a USB capable reader/writer.
- Download one of the the following file for your device:
  - XU4 = https://raw.githubusercontent.com/Fourdee/DietPi/master/boot_xu4.ini
  - C1 = https://raw.githubusercontent.com/Fourdee/DietPi/master/boot_c1.ini
- R

[2016-06-30 18:55] Tzimovo commented on #405
@Fourdee Gonna try this out now.
@rhkean According to your linked article it would even fit HARD BRICKED because not even the heartbeat was there, fan not moving. But well, the changed description fits too. :P
_edit_ Looking good so far, it's downloading packages now.

[2016-06-30 19:11] Fourdee commented on #405
The definition of bricked or not, is irreverent to me. A failure to boot after an update should never of happened, I can only apologise to those it has affected.
I'll be changing the way we do releases from now on to prevent this from occurring in the future.

Let us know if you have any issues. :+1:

[2016-06-30 19:33] rhkean commented on #405
@Tzimovo
Thank you for changing the title.

And, just to explain.... mainly because the term _bricked_ carries with it the connotation of _not fixable_, and it's probably best to not have that in the title of a bug report

---

it's not considered bricked, because there is no firmware to corrupt.  u-boot based systems load everything from disk... including the firmware.  If the disk gets corrupt o

[2016-06-30 20:36] k-plan commented on #311
Me too. Didn't like this. Better to have independent configurations for DNS server.

Nice! 😄  Will have a look, after our remote session.

[2016-06-30 22:43] Tzimovo commented on #405
I think you can safely close this one. The XU4 is happily up and running again!

As a sidenote: the automatic installer did seem to work fine too - apart from me having to log in once and start it - which could have been because of the interruption due of the incorrect ini file. I'll verify that again tomorrow with another SD card.

So the XU4 is definitely "un-bricked" again in the very words of

[2016-07-01 00:08] MCosta2016 commented on #393
OK Thank you.

[2016-07-01 11:04] Fourdee commented on #405
@Tzimovo

Excellent. Thanks for getting back to us :+1:

Closing ticket. Please reopen if required.

[2016-07-01 11:04] #405 closed, assigned to nobody

[2016-07-01 12:19] chrisvella commented on #266
Checkout [Mycroft](https://github.com/MycroftAI/mycroft-core)
Open source, and reasonably functional already. Very excited to see where this project goes.
Its developed on ubuntu so it shouldn't be much work to get it running on debian at all.

As far as automation goes you would need to write a mycroft skill to do whatever task you required.

[2016-07-01 13:08] ghost opened #407 "Xfce | Update Request"
Hi again. i just installed v121 and xfce. But it is little ugly and old. i tried some themes on apparence but nothings changed(i think it's a bug) and i figured out it was the version 4.10 that relased 4 years ago. Can we update it to 4.12? and how can we change theme? Thanks, nice distro :)

[2016-07-01 14:07] Fourdee commented on #396
@artuross
Can you try the following from this page and see if you get the same result: http://raspberrypi.stackexchange.com/a/5341

[2016-07-01 16:19] Fourdee commented on #398
uEnv.txt

[code]

List of available options: https://github.com/longsleep/sunxi-disp-tool#available-hdmi-output-names

[2016-07-01 16:37] Fourdee commented on #398
Gonna leave the non-refresh rate options out, else, just looks more confusing.
![image](https://cloud.githubusercontent.com/assets/7077026/16528091/80f02d82-3fb2-11e6-8672-dd34c42fa165.png)

[2016-07-01 16:51] Fourdee commented on #398
Done, available for v123. Tested 1080i60 720p50 720p60 and 1080p60. I'll test 4K in a few years, when they are affordable and the world catches up with the extra bandwidth lol

[2016-07-01 16:51] #398 closed, assigned to nobody

[2016-07-01 21:29] artuross commented on #396
Works, thanks a lot.

[2016-07-01 21:29] #396 closed, assigned to Fourdee

[2016-07-02 22:40] ghost commented on #407
Why dont you tell anything :(

[2016-07-03 06:04] rhkean opened #408 "replace php5-mysql with php5-mysqlnd when installing mariadb"
phpmyadmin displays this error message when using php5-mysql client to access a MariaDB database:
`Your PHP MySQL library version 5.5.44 differs from your MySQL server version 10.0.20. This may cause unpredictable behavior`

per this [post](http://dba.stackexchange.com/questions/109072/your-php-mysql-library-version-5-5-44-differs-from-your-mysql-server-version-10), it can be resolved by using the

[2016-07-03 11:25] Fourdee commented on #407
@yunussandikci

Because I have a real life outside of DietPi that needs maintenance. lol ;)

Ok, so, 4.12 is not available in the Jessie (stable) repo.

Few options:
- Upgrade your installation from Jessie (stable) to Stretch (testing). Untested and I cant guarantee DietPi will still function, let alone the device.
- Compile 4.12 from source.
- Find another Repo that offers 4.12 arm binaries. Poss

[2016-07-03 11:57] Fourdee commented on #376
@k-plan
I managed to replicate the same error (took a while lol):+1:
Ran some tests today to try and debug why the bluetooth hciattach service is failing "sometimes".

So instead of trying to start the hciuart service, i modified the code to run the command manually:

[code]

All we get from hciattach output is:

[code]

So again, nothing really to go on.

But if we run the command after it fails,

[2016-07-03 12:23] Fourdee commented on #376
Workaround, restart service at most 3 times if it fails:

[code]

Test results:

[code]

Not ideal, but it works.

[2016-07-03 12:45] k-plan commented on #376
@Fourdee

Thanks! So I have getting self-doubt on my sense over the time ... thinking I have illusion. 😄

Should I manual edit `nano /DietPi/dietpi/func/dietpi-set_wifi_bt` and test it?

Or will you put it in :

[code]

❓

[2016-07-03 13:01] Fourdee commented on #376
@k-plan
I've uploaded it to testing branch, so you could run to update:

[code]

Then give it a whirl in dietpi-config, or,

[code]

[2016-07-03 13:06] k-plan commented on #376
[code]

[2016-07-03 14:00] k-plan commented on #376
Some mods:

[code]

Result:

![160703-0001](https://cloud.githubusercontent.com/assets/17237601/16545832/12094a80-4137-11e6-98e8-af66f56dde40.gif)

😃

[2016-07-03 14:11] Fourdee commented on #376
@k-plan
Love the extra info and colours. :+1:  I'll add that in so it matches this style:
![image](https://cloud.githubusercontent.com/assets/7077026/16545905/65054128-4130-11e6-9144-5ec2ca4e41ee.png)

[2016-07-03 14:18] k-plan commented on #376
@Fourdee

Yes! 👍

You are the men for styling - I have only hunting the bugs  .... 😆

_BTW: this will be as well helpful for:_

[code]

[2016-07-03 15:34] k-plan opened #409 "DietPi-Cloudshell | Support for Odroid C1 / C1+ / C0 (and RPi ?)"
Hi,

is it possible to integrate all needed drivers (e.g. [notro/fbtft](https://github.com/notro/fbtft) ...) and configurations in DietPi, so it is possible to use DietPi-Cloudshell with Odroid C1 / C1+  / C0 and [Hardkernel 3.2inch TFT+Touchscreen Shield](http://www.hardkernel.com/main/products/prdt_info.php?g_code=G142060963922) by default?
Enable/disabling this feature support by `dietpi-config

[2016-07-03 16:22] k-plan commented on #407
sorry, but what is the meaning of "_**diet**_" in "_**DietPi**_"?

For me, it's not to have the possibility for 4 desktop environment like:
- [LXDE - Highly optimised lightweight desktop without the "bloatware".](http://dietpi.com/phpbb/viewtopic.php?f=8&t=5#p42)
- [Mate - Popular Gnome 2 desktop.](http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&start=60#p2073)
- [GnuStep - Alternative/unique deskto

[2016-07-03 18:49] k-plan commented on #311
@Fourdee

testing on fresh install Odroid C2 (v.122 with lighttp):

error message:
`Refresh lists in dnsmasq...sed: can't read /etc/dnsmasq.d/01-pihole.conf: No such file or directory
 done!`

[code]

[2016-07-03 19:08] Fourdee commented on #311
@k-plan
From what I can tell, `01-pihole.conf` is written to once, but not read from in `gravity.sh`. https://github.com/pi-hole/pi-hole/blob/master/gravity.sh#L316. So it doesn't really effect the update.

Either way, lets fix the error:

[code]

Run gravity again:

[code]

[2016-07-03 19:11] k-plan commented on #311
@Fourdee

[code]

Look okay for now.  👍

[2016-07-03 19:27] Fourdee commented on #376
Working on a function script so we can use a "global" style, across all DietPi scripts. should clean up the code and keep everything identical :
![image](https://cloud.githubusercontent.com/assets/7077026/16547177/5f75e326-415c-11e6-8d9e-3d35cdc73bc5.png)
Been meaning to do this for a while, nows the perfect time :+1:

[2016-07-03 19:30] Fourdee opened #410 "DietPi-Software | RPi Monitor. Add support for USB Drive"
Request and solution provided by Rich.

[2016-07-03 19:36] Fourdee commented on #311
@k-plan
Excellent :+1:
I'll get this added to patch and when installed with dietpi-software.

[2016-07-03 19:50] k-plan commented on #405
@Fourdee

Update to v.122 break my display output ...
- write `DietPi_v120_OdroidC2-arm64-(Jessie).img` on sd-card
- edit `boot.ini` file, so it will work with my LCD monitor

[code]
- booting up with the new image on sd-card
- auto updating from v.119 to v.122 running on first boot
- auto reboot
- darkness on my LCD monitor (no signal ...)

Can't see any more, if C2 is booting or `DietPi-Automati

[2016-07-03 21:45] k-plan commented on #311
@Fourdee

after a reboot or `dietpi-services restart` , it seem to be not so easy:

[code]

Will starting from scratch.

https://github.com/pi-hole/pi-hole/wiki/Changelog#25---2016-02-01

[2016-07-04 02:12] t41photo commented on #281
Getting the same message as described above - the script "/var/www/dietpicam/macros/error_hard.sh: Permission denied"  that has no x is a reboot now??

would love to sort it but would like to hear if you have a solution. Thanks - will followup, Wayne

![screenshot from 2016-07-03 21 04 30](https://cloud.githubusercontent.com/assets/20273345/16549232/ac9637ba-416a-11e6-947d-a69cf959201f.png)

[2016-07-04 11:33] Fourdee commented on #281
@t41photo
Thanks for the report.

Which RPi model and DietPi image/version (eg: v120 Jessie) are you using?

[2016-07-04 11:37] Fourdee commented on #311
@k-plan

[code]

If its not too late, can you:
`cat /etc/dnsmasq.d/01-pihole.conf | sed -n 34p`

[2016-07-04 12:09] k-plan commented on #311
@Fourdee

:smiley:

Yes, have experiment yesterday night a lot, but after uncomment line 34 comes the next error messages appears ...

But anyway, have a running config now. Not sure, if is a "_proper solution_" , but after `reboot` or  `gravity.sh` or `dietpi-services restart` dnsmasq starts without error message and Pihole is working for now.

[code]

[code]

[code]

![pihole](https://cloud.gith

[2016-07-04 12:17] t41photo commented on #281
Dan,

PRi model : RPi 2 Model B (armv7l)
Jessie: V122 ( I think ) straight from the root logon message.

Addition info: I am using it without screen, keyboard and mouse - wireless
only. All is good that way.

Great package and lots of effort on your part. Very cool. I did add a user
and installed "vi" ( retired sys admin - getting back into the unix like
world).

root@DietPi:/etc# cat /proc/versio

[2016-07-04 12:42] k-plan commented on #311
@Fourdee

Quick-test:

`root@Odroid-C2:~# cp /etc/dnsmasq.d/01-pihole.conf /etc/dnsmasq.d/01-pihole.conf.bac`

[code]

[code]

[code]

[code]

[2016-07-04 13:20] Fourdee commented on #281
@t41photo
Thanks for the info Wayne :+1:

I was unable to replicate the issue on a clean installation. So I'll need some more info on your system.

Can you please send a bug report, this will upload DietPi settings that I'll need and hopefully resolve this: http://dietpi.com/phpbb/viewtopic.php?f=8&t=499

Please copy and paste the reference in your reply.

[2016-07-04 14:03] t41photo commented on #281
ticket generated:
a3efb311-4481-4b5f-b421-7035b88a1c72-0

thanks again

On Mon, Jul 4, 2016 at 9:20 AM, Dan notifications@github.com wrote:

[2016-07-04 15:57] Fourdee commented on #376
@k-plan
![image](https://cloud.githubusercontent.com/assets/7077026/16565900/664bb570-4208-11e6-89e5-c430841672d1.png)

[2016-07-04 18:32] Fourdee commented on #281
@t41photo
System configuration is fine. `raspimjpeg` is also actively running on your system.

So lets check those permissions.
`/var/www` directory structures and file permissions are not included in the bug report, so, please can you run the following:

[code]

Then upload (or paste)`/root/send_to_dietpi.txt` here.

[2016-07-04 18:41] t41photo commented on #281
Here's the paste - I did unistall lighttdt in favour of nigx web service

-rw-r--r-- 1 www-data www-data  38K Jul  4 14:30 /var/www/apc.php
-rw-r--r-- 1 www-data www-data  119 Jul  3 17:32
/var/www/dietpicam/cam_get.php
lrwxrwxrwx 1 www-data www-data   22 Jul  3 17:32 /var/www/dietpicam/cam.jpg
-> /run/shm/mjpeg/cam.jpg
-rw-r--r-- 1 www-data www-data 1.2K Jul  3 17:32
/var/www/dietpicam/cam_pic_ne

[2016-07-04 19:00] Fourdee commented on #311
@k-plan
Great stuff :+1:

Yep, `/etc/dnsmasq.d/01-pihole.conf` isn't required for the DietPi installation, mainly because we just use the normal configuration file `/etc/dnsmasq.conf`.

I need to update the PiHole installation to latest version, so i'll go through and check if we should add `/etc/dnsmasq.d/01-pihole.conf` to our installation. Either way, `gravity.sh` expects it to exist, so for th

[2016-07-04 20:07] Fourdee commented on #311
@k-plan

We don't need the contents of the file for our installation as we soley use `/etc/dnsmasq.conf`. So resolved with:

[code]

[code]

[2016-07-05 01:30] t41photo commented on #281
Dan,

error message in log file agrees with permissions on Macros

Seems that there should be more macros in /var/www/dietpicam/macros  as
described in /etc/raspimjpeg (the config file) and the ones that are there
don't have +x -not able to run.

-rwxrwxrwx 1 www-data www-data 3836662 Jul  4 19:48
/var/www/dietpicam/scheduleLog.txt
wayne@DietPi:~ $ tail -n20 /var/www/dietpicam/scheduleLog.txt
{201

[2016-07-05 11:12] Fourdee commented on #281
@t41photo

2 files for me in macros/*, same as your installation.

[code]

EDIT:
I went over the installation code, we apply `chmod -R 777` to the data directory only. `chown -R www-data:www-data` to `/var/www/dietpicam`

-x for me on `/var/www/dietpicam/macros/error_hard.sh` and still functions. Strange.

[code]

Are you using a NTFS USB drive? and, can you paste results of following please:

[co

[2016-07-05 11:16] k-plan opened #411 "DietPi - Cloudshell v6 | Run + Skip intro doesn't work"
@Fourdee

`:~# dietpi-cloudshell 2` doesnt' work. (nothing happens)

Tested on Odroid C2 and RPi 3.

[2016-07-05 11:31] Fourdee commented on #281
@t41photo

found this in your lighttpd logfile. Looks like raspimjpeg might not be starting correctly.

[code]

The camera stream `/dev/shm/mjpeg/*` is created and updated by `raspimjpeg` when it runs:

[code]

Lets check raspimjpeg for outputs. Please can you run the following and paste results of raspimjpeg  output:

[code]

[2016-07-05 11:54] Fourdee commented on #411
@k-plan
Good find :+1:

I've updated the dietpi-cloudshell script with commit above to fix this.

[2016-07-05 12:04] t41photo commented on #281
Dan,

I'll check those but I did try to stop and restart the dietpi-services as
root and the start got stuck looping and prompting for sudoers password.

I checked the sudoers config and there's a pi but no www-data - haven't
tried with a change yet.

8:01am here breakfast first.

Thanks again. Wayne

Could be different with the Pi Cam as opposed to the USB one

On Tue, 5 Jul 2016 7:32 am Dan, not

[2016-07-05 12:10] Fourdee commented on #281
@t41photo

Early bird lol :+1:

No rush Wayne, as and when you can.
If your short on time, this is the command I'd like you to run 1st and paste output:

[code]

[2016-07-05 12:22] Fourdee commented on #409
@k-plan
Excellent idea. Same resolution as cloudshell screen 320x240 aswell.

My only concern is these screens are not HDMI. I read somewhere that some of these screens will only display during X session and not framebuffer. Not sure if thats true or not, but having one of these devices to impliment/test would be fun.

Only downside is this requires a kernel driver for RPI, so i'd need to compile

[2016-07-05 12:58] Fourdee commented on #408
@rhkean

Just want to confirm php5 packages to install:
MYSQL = php5-mysql
MARIADB = php5-mysqlnd
?

[2016-07-05 13:19] rhkean commented on #408
I have tested that combination... and yes.

I was going to test php5-mysqlnd with MYSQL also, because I think it will shrink the footprint, but I didn't get a chance to this weekend.

[2016-07-05 13:54] Fourdee commented on #410
Added to dietpi-software and patch file for USB drive installations.

[2016-07-05 13:55] #410 closed, assigned to Fourdee

[2016-07-05 14:12] Fourdee commented on #408
@rhkean
Ok, so for now in dietpi-software:

[code]

[2016-07-05 14:15] Fourdee commented on #376
Ok, failed bluetooth hciuart issue now resolved with service check, marking this as closed

[2016-07-05 14:15] #376 closed, assigned to Fourdee

[2016-07-05 14:17] Fourdee commented on #411
Tested and working fine here. I'll mark as closed, @k-plan please reopen if needed.

[2016-07-05 14:17] #411 closed, assigned to Fourdee

[2016-07-05 14:33] Fourdee commented on #407
Sorry @yunussandikci , but i'am going to mark this as closed. I just don't have the time to compile, test, and then support XFCE 4.12 at the moment. I know 4.10 is "old", but it is classed as "stable".

If anyone comes across a 4.12 repo with ARM binaries, or is willing to compile this for ARM devices, i'am all ears and please reopen the ticket.

[2016-07-05 14:33] #407 closed, assigned to nobody

[2016-07-05 15:10] k-plan commented on #411
@Fourdee

wow, this fix was very quick! :smiley:  Thanks!

[code]

edit, testing and it works on C2. :+1:

[2016-07-05 15:21] k-plan commented on #409
@Fourdee

Yes.

Me too .... :smile:

Have tested it with Odroid C1+
- work out-of-box with Hardkernels Ubuntu 14.04 image
- can't get it on work with [Auto start console mode](http://odroid.com/dokuwiki/doku.php?id=en:c1_tft_autoconsole)
- doesn't work with DietPi on C1+

Let*s do so. Any suggestions? On RPi B+ or Odroid C1+?

Thanks!

[2016-07-05 15:30] k-plan commented on #311
@Fourdee

hmm, don't we need it for some "_new features_" like:

:grey_question:

[2016-07-05 15:43] Fourdee opened #412 "DietPi-Software | WebIOPi does not function with RPi 3"

[2016-07-05 15:44] Fourdee commented on #412
https://dietpi.com/phpbb/viewtopic.php?p=2245#p2245

[2016-07-05 15:45] Fourdee commented on #412
Also fixed this issue:
- DietPi-Software | WebIOPi: Build-essential is now installed automatically with this program. Prevents a failed compile and installation due to missing gcc packages.

[2016-07-05 16:08] t41photo commented on #281
Dan,

Lunch break,

dietpi-services stop

result:
root@DietPi:~# dietpi-services stop

 DietPi-Services
 Mode: stop
 Please wait...
Ok | cron
Ok | nginx
Ok | php5-fpm
Ok | mysql
Ok | RaspimJpeg

root@DietPi:~# raspimjpeg
start monitoring for pid: 2376
{2016/07/05 12:00:01} start monitoring for pid: 2376
RaspiMJPEG Version 5.5.2
mmal: mmal_vc_component_create: failed to create component
'vc.ril.cam

[2016-07-05 16:31] Fourdee commented on #281
@t41photo

Lol, yep, i missed that you had a USB camera. I automatically assumed you'd be using the RPi cam.

As far as i know raspimjpeg only supports the official RPi camera. The errors you received below confirms this:

[code]

Excellent. Don't make any changes to the configs or file permissions. When you plug the camera in, i'am pretty confident it will work straight away :)

[2016-07-05 16:37] Fourdee commented on #311
We don't want it to read a different file. /etc/pihole/gravity.list always contains the block list generated from gravity.sh.

Not needed, as per the documentation here (Optional: Change the DNS server that Pi-hole uses:): http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&start=20#p174 we use the dnsmasq.conf file

Although rsyslog is not installed on DietPi unless you manually install it or change lo

[2016-07-05 16:57] Fourdee commented on #409
Ok, found the driver for RPi: http://www.waveshare.com/w/upload/2/24/LCD-show-160520.tar.gz

I'll go through it and get back to you with steps needed to "hopefully" get it working :)

edit: milestone so I dont forget ^^

[2016-07-05 19:03] k-plan commented on #311
BTW: I forgot, rsyslog has a "lttle" Bug in Raspbian Jessie. It will spam the logfile with "_"rsyslogd-2007: action 'action 17' suspended, ..._"

Solution:

http://blog.dantup.com/2016/04/removing-rsyslog-spam-on-raspberry-pi-raspbian-jessie/

or

[https://github.com/RPi-Distro/repo/issues/28](http://tiny.cc/3v7pcy)

[2016-07-06 11:55] Fourdee opened #413 "DietPi-Software | QBitTorrent"
Server only, no GUI interface:
https://github.com/qbittorrent/qBittorrent/wiki/Setting-up-qBittorrent-on-Ubuntu-server-as-daemon-with-Web-interface-%2815.04-and-newer%29

[code]

[2016-07-06 12:45] rhkean opened #414 "New Odroid XU4 Debian Base Image with 4.6 kernel"
http://linuxfactory.or.kr/dokuwiki/doku.php?id=yet_another_debian_ubuntu_release_for_odroid-xu4&&ckattempt=1

I just got word of this today and will be looking into it over the next week or so.  May steal the kernel... may rebuild the image... may do nothing....

but, I wanted to share.

[2016-07-06 14:59] Fourdee commented on #414
@rhkean
Legend :+1: . Hopefully this will improve the 300mbit~ ethernet we have now ?

[2016-07-06 15:08] Fourdee commented on #412
Completed.

[2016-07-06 15:08] #412 closed, assigned to Fourdee

[2016-07-06 16:10] rhkean commented on #414
How do you test ethernet?  I'll check on my.  I'm running a 4.2 kernel at the moment.

[2016-07-06 16:20] Fourdee commented on #414
@rhkean
`apt-get install iperf`

https://www.veritas.com/support/en_US/article.HOWTO64302

You'll need 2 machines. 1 acts as receiver, other acts as the sender of data.

[2016-07-06 16:39] rhkean commented on #414
what's the performance on a RPi-2?
or, I guess I can hard-wire my laptop....  something faster, so I know that I'm testing the SBC

[2016-07-06 16:41] Fourdee opened #415 "DietPi-Software | MATE, no sound on C2"

[2016-07-06 16:57] Fourdee opened #416 "DietPi-Software | SickRage"

[2016-07-06 17:02] rhkean commented on #416
yeah, we can do that... It's written in Python and runs similarly to CouchPotato and HeadPhones.  I used to run it before I found Sonarr.

I'll work on these next week while the Mrs. is out of town.  I've already got a media-server-common that is the base to all 3.

[2016-07-06 17:17] Fourdee commented on #416
@rhkean

Excellent :+1:  I installed it just to take a look, havn't a clue how to use it lol

[2016-07-06 17:29] rhkean commented on #416
Yeah.  Installation is pretty straight forward.

Configuration, however will require a usenet search index server.  Most of those are not free.

I'll find one that's free to use for basic setup and then document the recommendation to get an account on a non-public index server

[2016-07-06 17:45] Fourdee commented on #415
When pulseaudio is installed, we need to remove the asound.conf as it breaks all audio.

Tested with MATE:
- Kodi sound is fine
- amarok music player fine

ToDo:
- remove asound.conf when `dpkg -l | grep -ci -m1 'pulseaudio'` is installed.

[2016-07-06 18:32] Fourdee commented on #414
@rhkean

All RPi's are 100mbit, so 10-12mb/s max (yep, i know, years behind every other SBC)

C2 can sustain 880mbit, 110mb/s

Pine A64+ is gigabit, i get around 550mbit: http://forum.pine64.org/showthread.php?tid=1068&pid=14466#pid14466

XU4 is gigabit capable, but i've only been able to achieve 280mbit 35mb/s

[2016-07-06 18:43] rhkean commented on #414
show off... I have to keep mine on a 100mbit switch to prevent it from hanging.  come to think of it... I'll have to do some perf tests with the 2nd one and see if its isolated to my first board.

I've never tested the network on my XU4, because it streams high-def to 4 clients simultaneously without a stutter.  So, I just assumed it was fast enough... :)

[2016-07-07 11:13] Fourdee commented on #414
Hehe, yep, no problems with the ones I've got.
it would be interesting if it is a hardware issue. Could explain why er0l is having throughput issues

[2016-07-07 19:26] Fourdee opened #417 "DietPi-Software | Plex Remote Transcoder"
Note to self: Test installation guide by Luzi.

[2016-07-07 22:47] ghost commented on #168
Slight poke.
Soon I'll be testing
https://github.com/seafile/seafile-server-installer/issues/81

[2016-07-08 06:20] septs commented on #109
![](https://cloud.githubusercontent.com/assets/3842474/16679018/1bfabd9c-4517-11e6-8137-e48a601ef29c.gif)

[2016-07-08 10:29] Fourdee commented on #109
@septs

Can you please paste results of:

[code]

And:

[code]

PS. What program did you use to record screen to .gif, its awesome :)

[2016-07-08 10:59] Fourdee commented on #168
@Zone22

Poke away :+1: This one slipped the net.

I've been through my notes, this is a big one to implement as I'am basically having to rewrite their installation script line by line (https://github.com/seafile/seafile-server-installer/blob/master/seafile_v5_debian), then convert it to DietPi.
I'll add this to v123, but it may be nudged to v124 depending on how good my notes are lol :)

[2016-07-08 11:47] Fourdee commented on #281
I'll mark this as closed. @t41photo Please reopen if you experience issues with the official RPi camera.

[2016-07-08 11:47] #281 closed, assigned to nobody

[2016-07-08 11:52] Fourdee commented on #413
Completed: http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&start=70#p2272

[2016-07-08 11:52] #413 closed, assigned to nobody

[2016-07-08 11:56] septs commented on #109
later, several attempts by the update

---

Re: record screen:
Ubuntu see https://wiki.ubuntu.com/CreatingScreencasts
Windows/OS X see http://www.cockos.com/licecap/

[2016-07-08 12:11] Fourdee commented on #408
Tested ok with Lighttpd, mariadb, php5-mysqlnd, phpmyadmin and owncloud. Marking as closed:

[code]

[2016-07-08 12:11] #408 closed, assigned to nobody

[2016-07-08 12:18] Fourdee opened #418 "DietPi-Software | Cant access Lighttpd + PhpMyAdmin"
As title.

[2016-07-08 12:19] Fourdee commented on #418
Caused by missing symlink from `/usr/share/phpmyadmin` to `/var/www/phpmyadmin` during installation.

[2016-07-08 12:20] Fourdee commented on #418
Resolved. NB: Apache is the only exception and does not require the symlink.

[2016-07-08 12:20] #418 closed, assigned to Fourdee

[2016-07-08 12:35] Fourdee commented on #409
@k-plan , this is for the 3.2 screen:

First, backup your system. So you can restore as needed.

[code]

Add these to bottom of  `/DietPi/config.txt`

[code]

Overwrite `/boot/cmdline.txt` with:

[code]

Put this file into `/boot/overlays` http://dietpi.com/downloads/conf/waveshare32b-overlay.dtb

[2016-07-08 14:58] Fourdee commented on #109
Nice:
![test](https://cloud.githubusercontent.com/assets/7077026/16691489/c1734070-4524-11e6-97ba-87ac04a97f2e.gif)

[2016-07-08 15:38] rhkean commented on #414
well.... this will take me a few days... :cry:

I was replacing the heatsink on my XU4 last night and knocked 2 capacitors off of the bottom of the board.  :sob: :sob:

luckily, they're just part of the USB3_0 subsystem, which is the external USB3 ports.  I had to move my hard drives over to the USB2 bus until I can re-attach them.  :crying_cat_face:

[2016-07-08 17:21] Fourdee commented on #414
@rhkean

Gutted :( easily done, especially with those tiny heatsink clips right next to components. I think I scratched a few on mine with the pliers lol.

Did you have any issues getting the heatsink unstuck? I had to get it upto 80'c before the sticky would detach without taking the ARM chip with it lol.

[2016-07-08 17:47] rhkean commented on #414
fortunately, I have a good soldering iron.  :smile:   Took all my willpower not to try to fix it last night.  It was about midnight when it happened.... I would have destroyed the board for sure if I had tried to take a soldering iron to it that late at night.  :laughing:

that was tricky, but I was expecting it.  So, just a little constant, prying pressure under the corner and it gave way.  I jus

[2016-07-08 17:48] rhkean commented on #414
What I need is a REALLY good Hi-res pic of the area to make sure that I put that tiny capacitor back where it belongs.

[2016-07-08 18:31] k-plan commented on #409
@Fourdee

Testing on RPi3, starting from the scratch with `DietPi_v120_RPi-armv6-(Jessie).img` on another sd-card:

[code]

[code]

[code]

[code]

Result:
- HDMI output work but ...

![waveshare-rpi](https://cloud.githubusercontent.com/assets/17237601/16697631/e4366efe-454a-11e6-9fbf-0a4dad248928.jpg)

[code]

[2016-07-08 20:26] Fourdee commented on #414
@rhkean

lmao.

My XU4 is doing backups tonight, but if you seriously want the image, let me know and i'll take it tomorrow.

[2016-07-08 20:29] Fourdee commented on #409
@k-plan

Thanks for the results, although, white screen of brilliance lol

Looks like I missed something, i'll take another look and let you know.
Very tempted to buy the screen, but, i've got a BananaPi Pro sample board arriving soon. Yes its free, but it isn't, minimal UK customs import tax of £8 and "handling fee" of £7-8 :-1:

[2016-07-08 20:32] rhkean commented on #414
I'll let you know after I take a look at it tonight under better lighting.  It might be a simple fix.

Also, as of today, I've got 4.6.0 and 4.7.0-rc6 kernel builds that boot and initialize the HDMI output!

[2016-07-08 20:45] k-plan commented on #409
@Fourdee

For a customs tariff number  declared "developer sample" ?  Sorry, but ![smiley_emoticons_eazy_kotz_graete](https://cloud.githubusercontent.com/assets/17237601/16700859/7ad62f3c-455c-11e6-913a-8f0ca22ab660.gif)

Don't trouble your head about it.
Until it possibly work, I will do this :
![dietpi-cloud_shell_c2](https://cloud.githubusercontent.com/assets/17237601/16700931/1897a818-455d-11e

[2016-07-09 10:29] Fourdee commented on #409
@k-plan

Yep, minimal fee of any imported package from outside EU. Theres also a 20% VAT charge on the declared total price of the items, if its over £15 lol.

Looks epic and excellent guide :+1: , I've got to give this a go.

[2016-07-09 11:28] Fourdee commented on #300
I'll grab this, its 1.2 currently. Time to get compiling:
:u6307: armv6
:u6307: armv7+
:u6307: arm64
:u55b6: x86_64 | Leaving this one out as netdata is disabled, and, seems pointless to monitor stats from within the emulated machine.

[2016-07-09 16:09] Fourdee commented on #300
Netdata on RPi 1 really isnt a good idea (idle 900mhz) lol:
<img width="719" alt="untitled" src="https://cloud.githubusercontent.com/assets/7077026/16708832/da720b64-45f7-11e6-922d-c0e11d124221.png">

[2016-07-09 16:15] Fourdee commented on #300
Completed: https://github.com/Fourdee/DietPi/commit/1ce2f5043133cd1a1f1481ba9a55affbbecdd21c

[2016-07-09 16:15] #300 closed, assigned to Fourdee

[2016-07-09 17:10] k-plan commented on #409
@Fourdee

Yes, it seem so.

Do another test on RPI B+ starting from scratch.

Use `root@RPi_Display:~# wget http://www.waveshare.com/w/upload/2/24/LCD-show-160520.tar.gz`
and copy file over by hand :

[code]

and edit

[code]

No sure, if we need all that stuff ....

But, after reboot:

![dpcs-cpu-pi](https://cloud.githubusercontent.com/assets/17237601/16709142/454fb44e-4608-11e6-8618-1b9f9ba139f2

[2016-07-09 19:03] Fourdee commented on #409
@k-plan

Great work :+1: !. Looks awesome

The screen blank issue, few resolutions:
- Run `setterm --blank 0 --powersave off` on the physical system, before running dietpi-cloudshell. I've been unable to get this to work over SSH. Seems it must originate from the screen you want to set powersaving for.
- use `dietpi-autostart` and select `dietpi-cloudshell` as the option. This runs the above comma

[2016-07-09 19:10] Fourdee commented on #409
@k-plan

Yep: http://forum.odroid.com/viewtopic.php?f=138&t=19948&p=138189&hilit=blank#p138189

Try adding `consoleblank=0` to `/boot/cmdline.txt`

[2016-07-10 12:50] Fourdee commented on #415
The correct solution is to define the default sink for Pulse (many thanks to Meveric). This means we don't need to remove the asound.conf

[code]

Patched for v123.

[2016-07-10 13:02] #415 closed, assigned to Fourdee

[2016-07-10 13:49] k-plan commented on #409
@Fourdee

Yes, this will works on RPi B+ 😄

💡  - I like the idea that the display is going off after some time. Don't need it, if I am not at home and it will save power consume as well. When I need it back, taping on screen or push on of the three buttons to wake it up, will be nice. If you have added a keyboard to the RPi, a keystroke will wake display up (tested). But so you need more power con

[2016-07-11 13:26] Fourdee opened #420 "DietPi Image | BananaPi Pro"
Many thanks to Mattia for making this possible :+1: . He sent a request to Lemaker for the sample board, and here it is: https://twitter.com/DietPi_/status/749932814439710720

[2016-07-11 14:56] rhkean opened #421 "nano replacement..."
http://www.theregister.co.uk/2016/07/11/in_mourning_for_nano_chap_crafts_1kloc_text_editor/

https://github.com/antirez/kilo

[2016-07-11 16:06] rhkean commented on #414
gonna take me a bit longer on the USB3 testing... :sob:

I knocked 2 capacitors and a ferrous blob (inductor) off the board... and loss the inductor.

fortunately, it is only affecting the USB3 ports.  I moved the USB3 hub over to the USB2 port.... sigh...
gotta order a new board.

[2016-07-11 17:14] Fourdee opened #422 "DietPi-Software | Syncthing"
Prebuilt deb packages: http://apt.syncthing.net/

[2016-07-11 17:17] Fourdee opened #423 "DietPi-Software | NextCloud"
https://nextcloud.com/install/#instructions-server

[2016-07-11 17:41] k-plan commented on #420
Nice.
Congratulations and have a lot of fun with the new device.

[2016-07-11 17:58] k-plan commented on #421
Hmm ... please don't replace nano, please add Kilo, if you can.

It's a brand new "_toy project_" , like the coder self announce here:  http://antirez.com/news/108

[2016-07-11 18:30] rhkean commented on #421
nano must GO!!!!

(hehe... just kidding)

[2016-07-11 18:32] Fourdee commented on #421
1272 lines, dam impressive. True lightweight justice :+1:

But, I just cant live without:

[code]

[2016-07-11 18:37] Fourdee commented on #420
@k-plan
Still cost me £16 for import tax lol

I'am actually really impressed with the build quality of the board. I'd even go far as to say its up there with the RPi and Odroid's. Perfect PCB cut, soldering is spot on, none of that "leakage" on the PCB. High quality SBC that even has a SATA port, awesome :)

https://goo.gl/photos/FcyaoEgNewQvTLoN6

As for the OrangePi PC and a few others, well, le

[2016-07-11 18:40] Fourdee commented on #414
Gutted. Not the cheapest SBC on the market to replace lol :(

[2016-07-12 00:10] rhkean commented on #414
So true...

[2016-07-12 05:13] Stickerpants opened #424 "DietPi utility aliases fail to work with sudo"
Fourdee note:
#### Implement these changes:

https://github.com/Fourdee/DietPi/issues/424#issuecomment-232934861
#

This is mostly for awareness, since it's a pretty minor detail. As explained [in this post](http://askubuntu.com/a/22043), it seems like aliases fail to expand when they are not the first word in a call.

As a result, attempting to call `sudo dietpi-config` (like it instructs you to,

[2016-07-12 11:06] Fourdee commented on #424
@Stickerpants

Yep, using the full path is one resolution, although, we shouldn't rely on the the user to type it, every time they want to run a DietPi script. Its a bit long :)

@Stickerpants
Like this?

[code]

[2016-07-12 11:33] Fourdee commented on #424
@Stickerpants

I read the link :+1: , yep, so if we add the code below to `/etc/bash.bashrc`, after logging back in, the space after sudo allows for other alias to be triggered.

[code]

`sudo dietpi-config` now works.

So this will need to be patched in the patch_file.

[2016-07-12 20:37] Stickerpants commented on #424
Yup, I do agree that aliasing `sudo` is likely the cleanest way to address this. Thank you @Fourdee!

[2016-07-12 21:17] rhkean commented on #424
I think a cleaner way might be too add `/DietPi/dietpi` to the PATH search.

This can be done in `/etc/profile` as:
`PATH="$PATH:/DietPi/DietPi"`

Just before the `export PATH` statement.
Then we don't need to alias any of them

[2016-07-12 21:48] Othou opened #425 "DietPi-Software | OpenVPN Client with killswitch"
Anyway to get OpenVPN client in DietPi? So you could just throw in .ovpn file in and the text file with login information and it would work? And trustable killswitch would be nice! Mostly looking for running for btsync server in a place where p2p networking is forbidden. You would be awesome if you would make that work with killswitch! I would donate you some money right away if ya make that work

[2016-07-13 04:42] bhaveshgohel commented on #402
@Fourdee : I'm planning to backup this OS and completely install the latest one. So if anything is there i can switch between that OS and we can debug it. :)

[2016-07-13 10:52] Fourdee commented on #424
@rhkean

Great idea :+1:.

Gutted, sudo doesn't appear to work with defined PATH:

[code]

Ok, unless anyone has another idea or a possible fix for `PATH`, we'll go with the alias option to fix sudo.
I'll add to patch file. Alias also allows us to essentially control/limit what `dietpi-` scripts are available for the user.

[2016-07-13 11:53] rhkean commented on #424
it has to be in root's path.

[code]

yeah.... good point.... you don't want an end-user running `finalise` like I just did.  :laughing:

[2016-07-13 12:08] Fourdee commented on #409
@k-plan

Something turned up today which I dont remember ordering lol. I think i have you to thank for sending this? ? :+1: :dancer:

![img_20160713_125842](https://cloud.githubusercontent.com/assets/7077026/16802874/d080c8f6-48fa-11e6-92ea-cc0f1c20fe48.jpg)

[2016-07-13 12:39] Fourdee commented on #409
Cant get it to work with X11 yet.

@k-plan
Heres installation code on a default dietpi installation:

[code]

[2016-07-13 12:46] rhkean commented on #424
This stackoverflow discussion appears to have the sudo PATH answers, but I won't have time to read it until this evening.

http://stackoverflow.com/questions/257616/sudo-changes-path-why

[2016-07-13 13:06] Fourdee commented on #424
lol.

[2016-07-13 13:09] Fourdee commented on #409
@k-plan
Resolved device being displayed on 2 lines.
![img_20160713_140519](https://cloud.githubusercontent.com/assets/7077026/16804364/66c35e3e-4903-11e6-8ab3-8fd30da65109.jpg)

[2016-07-13 13:32] Fourdee commented on #420
Doc: http://dietpi.com/phpbb/viewtopic.php?f=8&t=534&p=2324#p2324

[2016-07-13 15:18] rhkean commented on #420
I think that's crazy -- about a 50% import tax -- , and I wonder how much will it cost after all of the "Brexit" dust settles?

[2016-07-13 15:36] Fourdee commented on #420
@rhkean

£8 goes to HMRC (import tax minimal fee)
DHL/Fedex all charge £8-9 "handling fee"

Brexit, whats this all about :P. Hopefully it cant get any worse lol

[2016-07-13 15:45] Fourdee commented on #420
Issues with wifi:
http://forum.armbian.com/index.php/topic/1608-bpi-pro-wifi-seems-active-but-fails/#entry12426

[2016-07-13 19:28] Stickerpants opened #426 "Dropbear logging - potential bug?"
I was looking for the logfile for dropbear the other night, and I ran across something that might be a bug. Here's some relevant config info first:
- Default dropbear, only thing changed is the config file for it
- Using logging solution 2 (Write to ramdisk, persist to SD card periodically)

Based on what I can see in `/etc/dropbear/log`, there's a `run` script that want to execute the line `exec

[2016-07-13 21:16] ghost commented on #425
Are you the owner of the network and are you only using it for legal p2p content?

[2016-07-13 21:27] Othou commented on #425
Well the thing is that we have been using btsync to transfer some video project files and now i'm moving to student dormitory where p2p is blocked. Not that im transfering stuff in there all the time, nope. Just every now and then. Asked for a killswitch so i would not get banned or anything. TL;DR: No. Yes.

[2016-07-13 23:42] rhkean commented on #424
my proposed fix is to
1.  add `/DietPi/dietpi` to the secure_path in the `sudoers` file
2.  add `/DietPi/dietpi` to the PATH in `/etc/profile`
3.  in `dietpi-services` when the `dietpi-*` files are copied to `/DietPi/dietpi` directory, perform a `chmod 744 /DietPi/dietpi/dietpi-*`  (or some variant that makes sense for limiting which scripts are executable)

this will
1.  allow for `sudo` use
2.

[2016-07-14 10:55] Fourdee commented on #424
1. Yep, maybe we can pop something in `/etc/sudoers.d/dietpi`. I tried `Defaults secure_path="/DietPi/dietpi"` has no effect. Any ideas?
2. Yep.I think we should again put something in .d `/etc/profile.d/dietpi`
3. I  can do this with DietPi-Ramdisk, create a list of scrips that we can `chmod -x` during boot.

[2016-07-14 14:32] k-plan commented on #409
@Fourdee

Sorry, yes - guilty.  :smile:

Sorry, but can't order it from amazon.uk, because of a missing credit card.
Comes it from here? [SB Components Ltd.](https://shop.sb-components.co.uk/collections/waveshare/products/3-2-inch-resistive-touch-screen-tft-xpt2046-lcd-lcm-custom-raspbian-system-co)
It is the only shop I can find in GB, who has it in stock and was able to pay it from here and deli

[2016-07-14 15:02] k-plan commented on #420
This problem is caused by dispatcher or lemaker. If device is correct declared with a [CN22](http://www.royalmail.com/sites/default/files/CN22_01.pdf) as "commercial sample" and have a pro forma invoice on the outside ( value of goods < 50 €  /  invoice total = 0 € ) and  the    hint on the device "SAMPLE - NOT FOR SALE" you don't have to pay any taxes. And if so, DHL/Fedex/RoyalMail can't  impose

[2016-07-14 15:15] Fourdee commented on #409
@k-plan

Cant thank you enough, legend, love it :)
I owe you one. I'l have to get you a bottle/beer one day :)

The plan is to add this into dietpi-config somewhere. So users can select it and have it automatically installed and configured.

I just need to resolve the X11 support, then try and get it working on the Odroids.

You did a great job tracking that one down, thanks again. And yes, no imp

[2016-07-14 15:17] Fourdee commented on #420
@k-plan

You are a legend :+1: . I'll try to request this for next time and see what happens.

[2016-07-14 15:31] Fourdee commented on #420
SATA confirmed working.

Although we still have outstanding issues with onboard WiFi.  I'll mark this as closed for now and create a separate git ticket for the WiFi.

The image will be available with v123 release.

[2016-07-14 15:31] #420 closed, assigned to Fourdee

[2016-07-14 15:38] k-plan commented on #409
@Fourdee

That's what I want to hear. Same device and nothing to pay for you. Very good. :+1:  :smiley:

No, no.
We have to thank you for maintain DietPi and implementing so many feature or supporting different hardware.

Thanks for your time, patience, staying power, nerves of steel and having a ear for everyone wishes.

[2016-07-14 15:41] Fourdee commented on #424
@rhkean
Above commit is not final for sudo fix. I put the it in a few days ago and we can change as needed.

[2016-07-14 15:48] Fourdee commented on #168
Sorry guys, going to have to move this one out of v123 for now.  I just havn't had any quality time to sit down, get in the zone and implement this without RL distractions. Theres a lot of code to siv through and I want to do it justice.

[2016-07-14 17:08] Fourdee commented on #409
@k-plan

Got X11 working on RPi fbdev, its cute! lol:
![image](https://cloud.githubusercontent.com/assets/7077026/16848454/ccb8fb6e-49ed-11e6-8c58-f07b4d5631e1.png)

[code]

[2016-07-14 17:50] rhkean commented on #424
we'll have to actually edit the `/etc/sudoers` file as such:

[code]

might need to wait for the next full image.... that file doesn't like to be edited.

[2016-07-14 18:05] Fourdee commented on #311
Note:
run this during rsyslog installation on RPi. Needs testing to verify pre and post results.

[code]

This command to remove from a start>finish may come in handy for: https://github.com/Fourdee/DietPi/issues/424#issuecomment-232632359

[2016-07-14 18:06] Fourdee commented on #424
@rhkean

Yep, so i've seen `visudo`. I'll take a look.

[2016-07-14 18:26] Fourdee commented on #424
from`/etc/sudoers`

This is non-sense. The file can be written to directly without `visudo`. Even works with `sudo sed`:

[code]

[2016-07-14 19:00] Stickerpants commented on #424
The reason why it says "must" is mostly a "don't shoot yourself in the foot" scenario - `visudo` syntax checks `/etc/sudoers` to ensure that everything is correct before allowing you to save and exit.

This is to prevent you from locking yourself out by breaking `sudo` - imagine if you did `sudo vim /etc/sudoers`, and then broke it without having direct access to `root`.

[2016-07-14 19:06] Fourdee commented on #424
@Stickerpants

Aha, now it makes sense. A end-user countermeasure to prevent breaking Sudo. Thanks for the info :+1:

I'll make sure to test the pattern match patch for `/etc/sudoers` on all devices prior to release.

[2016-07-14 19:20] k-plan commented on #409
@Fourdee

Nice! 😄

Hmm, if you really want to run a desktop on 3.2 '' display something like `matchbox-keyboard` and `xinput_calibrator` for using the stylus will be obligation.

![160714-0001](https://cloud.githubusercontent.com/assets/17237601/16852283/c14f0f38-4a07-11e6-9e80-5f19bf4b5a5a.gif)

I think, use it for DietPi Cloudshell on a 3.2'' display , its more than enough.

But yes, its a nice

[2016-07-14 20:42] rhkean commented on #424
I'd be interested to know how you got sed to edit a file with `-r--r-----` permissions.   :laughing:

[2016-07-14 23:32] Stickerpants commented on #426
I figured it out, it was an issue on my end. If `rsyslog` is installed, then dropbear properly logs to `/var/log/auth.log`. My mistake!

[2016-07-14 23:32] #426 closed, assigned to nobody

[2016-07-15 10:24] Fourdee commented on #426
@Stickerpants
rsyslog is not installed by default on DietPi systems to save resources.

You can either manually install it (as you did), or, select full logging mode which will also install it: http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&start=20#p68

I've updated the doc above to mention rsyslog, should prevent other users getting into a similar situation :+1:

[2016-07-15 10:48] Fourdee commented on #424
Yep, I ran sudo as root :wink:

Its ok though, i got reported for trying another user lmao

[code]

[2016-07-15 12:04] Fourdee commented on #424
Ok, so there is a risk with users running `sudo dietpi-update` on this.
I'll revert the changes back to alias for now.

I'll also move this ticket to another milestone (https://github.com/Fourdee/DietPi/milestone/25) so we can implement these changes during the next major image release.

Notes:
- Remove all alias from `/etc/bash.bashrc`
- Add dietpi path to sudoers

[code]
- Add dietpi path to `/e

[2016-07-15 16:13] Fourdee commented on #409
@k-plan
Good news, got it working on C1. There is a C1 under there, promise.
The waveshare32 is the same as the Odroid model: http://odroid.com/dokuwiki/doku.php?id=en:c1_lcdshield

[code]

![image](https://cloud.githubusercontent.com/assets/7077026/16880889/62e46210-4aaf-11e6-96a5-ef20fd6b5184.png)

[2016-07-15 22:50] k-plan commented on #409
@Fourdee

In some rare cases after `modprobe spicc` the prompt does not appears back.
After this, when now starting `dietpi-cloudshell` after some scense toggle

![fullsizerender-3 2](https://cloud.githubusercontent.com/assets/17237601/16890444/096c2ec6-4aef-11e6-90e6-db747732e1fe.jpg)

[2016-07-16 05:32] rhkean commented on #414
ran a couple tests tonight between 2 XU4 boards

| client kernel | server kernel | result |
| --- | --- | --- |
| 3.10.96 | 4.6.3 | 525 mbps |
| 4.6.3 | 3.10.96 | 280 mbps |
| 4.6.3 | 4.6.3 | 340 mbps |
| 4.6.3 | 4.6.3 | 280 mbps |
| 4.6.3 | 4.6.3 | 420 mbps |
| 4.6.3 | 4.6.3 | 485 mbps |

I'll try both boards against another system tomorrow

[2016-07-16 10:48] Fourdee opened #427 "v123 | PiHole web requests update"

[2016-07-16 12:02] Fourdee commented on #427
Yet again they are using their "temporary installation directory" `/etc/.pihole` in their code.

[2016-07-16 12:52] Fourdee commented on #427
Ok, we'll hard code the version numbers in. Else, we have to install git.

[code]

Replace in https://github.com/Fourdee/AdminLTE/commit/5d348d5c11709e4213d1747c751c3a789ee6841f

[2016-07-16 14:22] k-plan commented on #427
@Fourdee
- short test on Odroid C1+
- update to last `gitbranch=testing`
- `dietpi-uninstall` PiHole => `dietpi-software` PiHole

Results: - looks good so far 😄

![160716-0003-down](https://cloud.githubusercontent.com/assets/17237601/16895265/50de4d02-4b71-11e6-9ab6-14768eec1f86.gif)

[2016-07-16 14:31] Fourdee commented on #409
@k-plan

Updated testing branch. On a fresh install, you can install the waveshare32 device with:

[code]

I've tested RPi3 and C1 :)

And to remove it

[code]

[2016-07-16 14:32] Fourdee commented on #427
Whitelist and Blacklist additions are not working from the web, looking into it.

[2016-07-16 14:38] k-plan commented on #409
@Fourdee

to reproduce this "phenomenon":
- power on your device
- login in via ssh to Dietpi and do

[code]
-  start via ssh `dietpi-cloudshell`  on Main Screen (tty1).
- do a `reboot` or `poweroff`

seems to be a problem with first initialisation after a reboot or we had better to stop "fbdev" before rebooting. But don't know, how to do this.

_edit: sorry, see it to late_

_will give it a try.

[2016-07-16 14:43] Fourdee commented on #409
@k-plan

Shouldn't occur using this script, we write directly to modprobe.d and on Odroids, we map the console fb to display during boot.

[2016-07-16 15:05] Fourdee commented on #427
notes to self:

[code]

gravity is restarting dnsmasq during installation? Route table/internet access temp drop?
Yep, lets kill dnsmasq and wait for it to terminate after running gravity.

[2016-07-16 15:15] Fourdee commented on #427
@k-plan
Whitelist/blacklist now functions through web interface.

[2016-07-16 15:16] Fourdee commented on #427
Completed, please reopen if required.

[2016-07-16 15:16] #427 closed, assigned to Fourdee

[2016-07-16 17:10] k-plan commented on #409
@Fourdee

Cool, running at boot-time. 💯

Very nice and smooth installation on Odroid C1+ . Love it!

Kudos to Dan!

[2016-07-16 18:38] rhkean commented on #414
Just my luck...
My work laptop has a firewall installed and I don't have the rights to open the port for testing
And my wife's laptop's wired NIC is only 100mbit

Oddly, using my wife's wifi as the server and the new xu4 as client, it tested at only 330mbps and the old xu4 tested at 540mbps

[2016-07-17 01:54] rhkean commented on #414
final testing with iperf3
XU4 server, Ubuntu x86_64 client:  985mbps
XU4 client, Ubuntu x86_64 server:  starts out around 950mbps, but settles down around 340mbps

[2016-07-17 10:56] Fourdee commented on #414
@rhkean
Thanks Rob,
I'll run the test on my XU4 + 1Gbit network today to compare. Any chance you can send the kernel/compile notes over?

[2016-07-17 15:36] Fourdee commented on #311
@k-plan

Looks like they fixed it in the repo.

full logging mode, or:

[code]

RPi3 Jessie and Odroid C2 (thought may as well check official jessie repo):

[code]

#

Forgot to mention, the new `pihole` binary commands are now in:

[code]

I've commented out the commands that should not be run on the DietPi installation, they may even break our installation as they expect the installation to be c

[2016-07-17 15:45] rhkean commented on #414
will this do?

assumes running as root, builds in `/usr/src` directory (also patches in AUFS as a module)

save as:  `buildkernel.sh`
for a kernel with version `4.6.3-odroidxu4-1` from tobetter's repository:
`buildkernel.sh -f -r tobetter -b "odroidxu4-v4.6" -v 4.6.3 -x 1`
or
`buildkernel.sh -h`

[code]

[2016-07-17 15:46] Fourdee commented on #311
@k-plan
I'll mark this as closed, if i missed anything please reopen :+1:

[2016-07-17 15:46] #311 closed, assigned to nobody

[2016-07-17 15:47] Fourdee commented on #409
@k-plan

Waveshare32 (all RPI + Odroids) and Odroid-Cloudshell (XU4 only) are available in `dietpi-config` under Display options > LCD panel.

[2016-07-17 15:47] #409 closed, assigned to Fourdee

[2016-07-17 16:04] rhkean commented on #414
you'll need to edit the `boot.ini` file.  I suggest this, so you only have to change the version in the future:

[code]

[2016-07-17 16:09] rhkean commented on #414
also:

`echo "11" > /etc/.dietpi_hw_model_identifier`

[2016-07-17 17:43] Fourdee commented on #414
@rhkean
Thanks Rob :+1:
Managed to get v123 out the door, but i'am out of time today. Will take a look start of next week :)

Edit: milestone so I dont forget :)

[2016-07-17 17:47] Fourdee opened #429 "Pine A64 | Fails to boot a second time on fresh installation"
I'am unable to replicate this on any of my Pine A64 devices.

[2016-07-17 17:50] Fourdee commented on #429
http://pastebin.ca/3660158

[code]

[2016-07-17 17:54] Fourdee commented on #429
@rhkean
Possible uEnv.txt entry? any ideas?

[code]

[2016-07-17 19:38] ghost commented on #429
the is RNeese on the latest img did you updated the bootloader when you updated the kernel ?

[2016-07-18 11:05] Radoslaw-K opened #430 "Supervisors folder created in /var/log doesn't survive a reboot"
An app that I'm running on DietPi uses supervisor that requires `/var/log/supervisor` directory to run. This directory is created initially when I install my app and everything works fine. But when I reboot my Raspberry PI that directory disappears and my app doesn't start.

There is a fix :
in`/etc/init.d/supervisor`
I added

[code]

Which solves the issue. Please investigate this bug and reply w

[2016-07-18 11:42] Fourdee commented on #429
@kb3vgw

Yep, uboot is updated as well as kernel. We use Longsleeps update script.

Any chance you can take a picture of the front and back of your Pine and paste it in here? I'am after the revision codes and mgf date.

[2016-07-18 11:54] Fourdee commented on #430
@Rkieltyka

Hi, I am unable to replicate this issue on Odroid C2:

[code]

[code]

I'll need some more information on your system. Please can you send us a bug report? http://dietpi.com/phpbb/viewtopic.php?f=8&t=499

[2016-07-18 12:20] Radoslaw-K commented on #430
As requested : 47cb7af2-e9b2-4828-a087-9a6ab7226534-0

[2016-07-18 13:22] ghost commented on #429
A64-DB-rev-d
2016-03-21

On Jul 18, 2016 6:42 AM, "Dan" notifications@github.com wrote:

[2016-07-18 14:03] Fourdee commented on #430
@Rkieltyka
Thanks.

Everything looks fine.

By any chance did you have a power cut, or any loss of power on the device, that would not allow a full shutdown or reboot?
This would affect dietpi-ramlog and could prevent it from saving `/var/log/*` to disk. So any changes to `/var/log/*` would not be restored after boot.

[2016-07-18 14:46] Fourdee commented on #429
@kb3vgw
All mine are Rev B. I doubt its a board issue. But unless we can get another user with the same Rev and mgf date, no way of knowing.

Ok, I know you've done alot of tests on your own already, but I'd like to get a list of results that we can work from.

Can you please run the following tests. One at a time. Then let me know the results for each:

#### First
- Download and extract the DietP

[2016-07-18 15:10] Fourdee opened #431 "DietPi-Config | WiFi country code not being applied sucessfully"
As title

[2016-07-18 15:12] Fourdee commented on #431
Cause: `iw reg set` does not allow for lower case country code entries `gb`. It must be in uppercase `GB`.

[2016-07-18 16:07] ghost commented on #429
ok that works but we still have the issue of the serial terminal failing after the mmc 2 point. but it does boot and run

[2016-07-18 16:08] ghost commented on #429
when you boot the 123 its saying its a 122 img and then goes into update mode btw.

[2016-07-18 17:28] k-plan commented on #429
@kb3vgw

I had  the equal question. :smile:

Answer: https://github.com/Fourdee/DietPi/issues/389#issuecomment-228564487

[2016-07-18 18:52] joaofl commented on #422
/etc/init.d/syncthing script for Raspberry Pi (or any Ubuntu/Debian)

https://gist.github.com/arudmin/5a13e9105814c3f568ec

[2016-07-18 19:05] Fourdee commented on #422
@joaofl Thanks.
Bumped to v124. I keep getting asked for this one, so lets get it in :+1:

[2016-07-19 10:37] Fourdee commented on #429
Which test provided this outcome?

[2016-07-19 11:05] #431 closed, assigned to Fourdee

[2016-07-19 11:11] Fourdee commented on #422
Package availability notes (http://apt.syncthing.net/):
- :u55b6: ARMv6
- :u6307: ARMv7
- :u5408: ARM64 | Not available

[code]
- :u55b6: x86_64

Edit, scrap repo. We'll use the tar binary blobs.

[2016-07-19 12:37] Fourdee commented on #422
This program is awesome, although, a little reading is needed by end user to understand how to set it up.
![image](https://cloud.githubusercontent.com/assets/7077026/16949999/dbdc3d88-4db5-11e6-9ad8-f2fda49a0412.png)

[2016-07-19 13:18] joaofl commented on #422
More or less I would say. The basics are almost plug and play. You only
need the others device key to pair the two clients. Then, adding folders
and sharing them comes as an option at each device you add.

If I can help on something, let me know.

No dia terça-feira, 19 de julho de 2016, Dan notifications@github.com
escreveu:

[2016-07-19 13:25] ghost commented on #429
Adding the boot file

On Jul 19, 2016 5:37 AM, "Dan" notifications@github.com wrote:

[2016-07-19 13:40] Fourdee commented on #422
@joaofl
With our install, i've allowed access over LAN.

[code]

How do you run your setup? eg: Do you use web interface over LAN, external access through port forwarding?

I created a systemd service for this also:

[code]

[2016-07-19 13:48] joaofl commented on #422
That is good. I would also enable enable https for the web gui, and disable the "open browser" option, otherwise it will get launched at one's desktop, if they have it.

Want me to send you a config file example?

[2016-07-19 13:52] Fourdee commented on #422
@joaofl

Please if you can. Remove any passwords/auth keys etc before posting.

[2016-07-19 14:41] Fourdee commented on #422
Docs: http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=2363#p2363

[2016-07-19 14:55] Fourdee commented on #429
@kb3vgw

DietPi disables serial console by default to save resources. You can enable it again by running:

[code]

Its also in `dietpi-config` > advanced options

Thanks :+1: , looks like it might be the partition resize during 1st (which was disabled on that boot file). I also disabled a few other options.

#### Test 4

i'd like to run the same test again with only partition resize disabled to ve

[2016-07-19 15:02] joaofl commented on #422
@Fourdee

Follows an example of config file.

It enables secure remote access to the Web-GUI, which is very important for headless setups.

[config.xml.zip](https://github.com/Fourdee/DietPi/files/371742/config.xml.zip)

***Forgot to mention: this config file is from Syncthing version 0.14, released today, and is incompatible with the previous version.

[2016-07-19 15:41] Fourdee commented on #422
@joaofl
thanks, pretty much identical. I've added `<startBrowser>false</startBrowser>` config.xml.

Note to self: arm64 install is not applying GUI user/password. Danger prompt remains. armv6+ fine.

[2016-07-19 15:47] joaofl commented on #422
@Fourdee
It is identical, but to every major release, back compatibility is broken for other reasons, and for that they keep the config file version at the header: "configuration version="15""
And this would make it incompatible with 0.13.xx. But anyway, dietpi will start from 0.14, so it doesn't matter, but could create a bug, since you are working on it right now that they did this release.

[2016-07-19 15:53] joaofl commented on #422
@Fourdee
Forgot to answer your question: "How do you run your setup? eg: Do you use web interface over LAN, external access through port forwarding?"

Yes. I use no-ip + port forwarding

[2016-07-19 16:18] Fourdee commented on #422
@joaofl

During installation, we get syncthing to generate the config. Then we only change specific values in the config.xml. So in theory, unless those variable names change in config.xml, the version should have no effect on the installation.

I'll also disable automatic upgrades aswell in the config.

[2016-07-20 10:57] Fourdee opened #432 "check_connection | Increase timeout"

[2016-07-20 15:31] Fourdee commented on #432
Increased to 10seconds (from 7)

[2016-07-20 15:31] #432 closed, assigned to Fourdee

[2016-07-20 15:52] Fourdee commented on #422
Completed.

[2016-07-20 15:52] #422 closed, assigned to Fourdee

[2016-07-20 17:21] avs-code opened #433 "wordpress 404 Not Found nginx"
When I do click in a wordpress page I obtain  this error (Permalink-postname mode):
404 Not Found
nginx

Only if I set permalinks in simple/plain mode work well.

http://tenpi2.ddns.net/phpinfo.php
/etc/nginx/nginx.conf --> http://pastebin.com/pkahCuMZ
/etc/nginx/wordpress.conf /etc/nginx/sites-available /etc/nginx/sites-dietpi --> http://pastebin.com/G4hMhcEC

In a support from a plug-in theme th

[2016-07-21 08:34] Radoslaw-K commented on #430
I did not have any power cut or loss of power , when I reboot I do it from command line.

[2016-07-21 11:19] Fourdee opened #434 "DietPi-Software | Update Hostapd"
Compile latest version for ARMv6+.

ARM64 i did previously and is active in dietpi-software: http://dietpi.com/downloads/binaries/all/hostapd_2.5-arm64.zip

[2016-07-21 19:11] Fourdee commented on #434
Notes:

[code]

 `driver=rtl871xdrv` works for `RTL8188CUS`.  `driver=rnl80211` doesnt.

Realtek chipsets (nb: other models not tested) require `driver=rtl871xdrv`. so we need to rely that to the user in docs.

[2016-07-22 12:26] Fourdee commented on #434
Notes:
- RTL8188C\* patch requires `CONFIG_DRIVER_NL80211` to be disabled to function

[code]

So in other words, I need to compile 2 binaries each for armv6 armv7 arm64. One for RTL8188C\* (popular) and one for nl80211 supported devices.

[2016-07-22 15:42] Fourdee commented on #434
Completed, available in v124.

[2016-07-22 15:42] #434 closed, assigned to Fourdee

[2016-07-22 16:18] Fourdee commented on #429
For reference, email of @kb3vgw results:

[code]

[2016-07-22 16:25] Fourdee commented on #429
@kb3vgw
I still believe this issue is caused by a unstable PSU and/or SD card that corrupts the filesystem on resize.
We use the same resize script for all DietPi boards that targets the 2nd partition `/dev/mmcblk0p2`. So if the resize was "wrong", all boards would be effected. I've not received any reports of a failed partition resize from any of our users.

In a previous email, you mentioned tha

[2016-07-22 17:15] ghost commented on #425
What do you mean by kill switch and how would you want it to function?

It's very unlikely that the team DietPi would make something so custom although there might be methods which you are not aware of to do exactly with what you want using the SSH terminal.

[2016-07-22 17:32] ghost opened #435 "DietPi-Software | FireFox Sync 1.5 Server"
Although this is limited to Firefox it would be nice to find something that worked for Chrome and FF.

 FireFox Sync allows users devices to access Firefox browsing history, bookmarks, and recent tabs.
https://github.com/mozilla-services/syncserver
https://docs.services.mozilla.com/howtos/run-sync-1.5.html#howto-run-sync15

[2016-07-22 17:34] ghost commented on #433
First off always update to the latest from V119 to V123.

[2016-07-22 17:55] Fourdee commented on #433
@arv187

Seems to work for me on C1 + DietPi v123:
![image](https://cloud.githubusercontent.com/assets/7077026/17066094/58237472-503d-11e6-89d9-17ee2232872f.png)

I'll test on RPi 2, just to make sure. Yep thats fine aswell.

[2016-07-22 18:11] Fourdee commented on #433
@arv187

Comparison of phpinfo, mines on the left: https://www.diffchecker.com/2fxkwoad

Have you made any manual changes to configuration files or manual apt-get installations, prior to the issue occuring?

[2016-07-22 18:49] avs-code commented on #433
The version of system is old (in reference to my first post), yesterday I update the dietpi version and update firmware, uninstalled\* wordpress and ftp software with dietpi-uninstall command and after install it again.
Linux DietPi 4.4.15-v7+ #897 SMP Tue Jul 12 18:42:55 BST 2016 armv7l GNU/Linux
I have not change manually nothing, I think.

Seems that i have addiotionally this /etc/php5/fpm/conf

[2016-07-22 20:09] Fourdee commented on #433
@arv187

Yep, they are fine, just additional php modules.

Try selecting all `WEBSERVER_*` entries aswell as `WORDPRESS` in `dietpi-uninstall`. Then reinstall with dietpi-software.

Failing that, try checking wordpress is installed, and its permissions:

[code]

And, try checking nginx log file for any clues after receiving the 404:

[code]

As a last resort, reinstall with a fresh image write.

[2016-07-22 22:09] avs-code commented on #433
I think that uninstall module remove a important piece to uninstall mysql database, I had errors.
I cant access to phpmyadmin, when i write my credentials:

[code]

I cant continue with wordpress instal if i not know the right database access data.

Nothing:

[2016-07-23 10:27] Fourdee commented on #433
Can you upload the mysql conf file? I think its in `/etc/mysql/*.conf`

Default username and password for all sql DB's in dietpi is.
user = root
pw = dietpi
I think the mysql conf may be causing this issue.

Possibly holding broken packages or a dependency issue. Try running `apt-get install -f`

[2016-07-23 10:41] Fourdee commented on #430
@Rkieltyka

Thanks.

As the original issue is now resolved with your modified service, and, i'am unable to replicate the issue, i'll mark this as closed.
Hopefully this is a "one off" occurrence, but should a similar issue appear, please reopen the ticket and let us know.

[2016-07-23 10:41] #430 closed, assigned to Fourdee

[2016-07-23 11:01] avs-code commented on #433
Yes I try with default login data but and with my new root pass, same error.

My mysql.conf [http://pastebin.com/A8kz0JSE](url)

I go to restore a backup, I will inform you later. :+1:

[2016-07-23 11:02] Fourdee commented on #414
notes:

XU4 (3.10.96+) <> C2

[code]

[2016-07-23 11:15] Fourdee commented on #414
Had to clock her down a bit, she was a little "toasty" lol:
`make -j $(nproc --all)` = 8

![image](https://cloud.githubusercontent.com/assets/7077026/17077651/29102076-50cf-11e6-9469-200a7a1797e9.png)

[2016-07-23 13:22] Fourdee commented on #337
Outdated ticket, marking as closed. Please reopen if required.

[2016-07-23 13:22] #337 closed, assigned to nobody

[2016-07-23 13:23] Fourdee commented on #319
Outdated ticket, marking as closed. Please reopen if required.

[2016-07-23 13:23] #319 closed, assigned to Fourdee

[2016-07-23 13:24] Fourdee commented on #325
Implemented with dietpi-notify. https://github.com/Fourdee/DietPi/blob/master/dietpi/func/dietpi-notify

[2016-07-23 13:24] #325 closed, assigned to nobody

[2016-07-23 13:25] Fourdee commented on #353
Outdated ticket, making as closed. Please reopen if required.

[2016-07-23 13:25] Fourdee commented on #309
Minus the missing documentation, making as closed.

[2016-07-23 13:25] #309 closed, assigned to nobody

[2016-07-23 13:26] Fourdee commented on #297
Outdated ticket, making as closed. Please reopen if required.

[2016-07-23 13:26] #297 closed, assigned to nobody

[2016-07-23 13:30] Fourdee commented on #362
I want to keep the banner lightweight and clean as possible. We currently have the IP address in there. Adding more stats means more processing and more mess.

We also have dietpi-cloudshell stats for those users who want it: http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&start=20#p204

Marking as closed. Please reopen if required.

[2016-07-23 13:30] #362 closed, assigned to Fourdee

[2016-07-23 13:32] Fourdee commented on #165
Marking as closed as we use the ARMbian kernel now.

[2016-07-23 13:32] #165 closed, assigned to nobody

[2016-07-23 13:32] Fourdee commented on #144
Outdated, marking as closed. Please reopen if required.

[2016-07-23 13:32] #144 closed, assigned to nobody

[2016-07-23 13:33] Fourdee commented on #134
Outdated and no progress, marking as closed. Please reopen if required.

[2016-07-23 13:33] #134 closed, assigned to nobody

[2016-07-23 13:34] Fourdee commented on #131
As we use the ARMbian kernel, this is outdated. Marking as closed. Please reopen if required.

[2016-07-23 13:34] #131 closed, assigned to nobody

[2016-07-23 13:36] Fourdee commented on #402
Assuming issue has not occurred on fresh install. Marking as closed, please reopen if required.

[2016-07-23 13:36] #402 closed, assigned to nobody

[2016-07-23 14:19] Fourdee opened #436 "DietPi-Software | Emby now requires FFmpeg to be installed"
As title:

[2016-07-23 14:32] #436 closed, assigned to Fourdee

[2016-07-23 14:32] Fourdee commented on #436
Tested on RPi 3. No longer asks for FFmpeg during Emby wizard.

[2016-07-23 15:16] WolfganP commented on #436
Tested workaround with manual ffmpeg installation on RasPi2, it worked as well.

[2016-07-23 17:54] Fourdee opened #438 "DietPi-Software | baikal - can not (re)start mysql"

[2016-07-23 18:07] k-plan opened #439 "DietPi-Config | RPi3 LCD Panel addon: waveshare32 don't work"
@Fourdee
- fresh install with auto-update to:

[code]
- after activate LCD Panel in `dietpi-config` and reboot

white backlighted  display become black, but no output (hdmi works)

[code]

[code]
- after :

`root@DietPi:~# wget http://www.waveshare.com/w/upload/2/24/LCD-show-160520.tar.gz`
`tar xvf LCD-show-160520.tar.gz`
`cd LCD-show/`
`./LCD32-show`
- followed by a auto-reboot

it fire up with D

[2016-07-23 18:16] Fourdee opened #440 "General | FStrim causing corrupt filesystem"
Although unproven, since this has been running as a daily task for our users, the number of filesystem corruptions has increased from our users.

I believe this to be the cause. FStrim will be disabled until further testing can be completed.

[2016-07-23 18:42] stdusm opened #442 "Gogs don't work after install."
blank page on http://192.168.0.100:3000/.
output of **cat gogs_daemon.log**:

[2016-07-23 18:47] Fourdee commented on #439
@k-plan
I did a fresh install of v124 (edit: v125) and duplicated your steps, its running fine here.

Did you make any changes to `config.txt` before booting up?

Bizarrely, i get the same error messages, although its displaying term fine:

[code]

![image](https://cloud.githubusercontent.com/assets/7077026/17079637/4e4828a4-510e-11e6-9962-b2c4fae2aaa4.png)

And yes, my office is ontop of a freeze

[2016-07-23 18:55] k-plan commented on #439
@Fourdee

no, no burn `DietPi_v120_RPi-armv6-(Jessie).img` to sd-card, put it direct in RPi3 and fire it up ... (tested twice!)

But I will download image again and burn it to sd-card and will repeat the test.

[2016-07-23 18:57] Fourdee commented on #439
Thanks @k-plan :+1:  . Please let me know the results.

[2016-07-23 19:00] Fourdee commented on #442
@stdusm

Thanks for the report :+1:

I think this is due to you running Dropbear and the `ssh-keygen` binary might only be installed with OpenSSh server.

Can you paste the results of:

[code]

And

[code]

[2016-07-23 19:40] k-plan commented on #439
tested again (twice)
- download image and let 7zip test archive (say-i.o.)
- unpack
- md5 sum: DietPi_v120_RPi-armv6-(Jessie).img) = e55125f885392621901e9a5280456dad
- burn to sd card (null changes) and unmount
- put in RPI3, start up, auto update from v.119 => v.125 , auto-reboot
- finish first install dialog without changing anything => auto apt-get update => auto-reboot
- `dietpi-config` only a

[2016-07-23 19:55] k-plan commented on #439
@Fourdee

[code]

new and working:

[code]

https://github.com/Fourdee/DietPi/blob/master/dietpi/func/dietpi-set_hardware#L165

`root@DietPi:~# sed -i 's/rootwait/rootwait fbcon=map:10 fbcon=font:ProFont6x11 logo.nologo /' /boot/cmdline.txt`

[2016-07-23 20:25] k-plan commented on #439
@Fourdee
- tested: switching to 'none' - reboot - white display
- tested: switching  form 'none' to 'waveshare32'  - reboot - login screen on LCD display

work now - done!

_PS:
Your bash scripts are really very cool - but understanding, reading and searching (e.g. typos) is  living hell (pain in the ass)._

Sorry, take pity on you. 😃

[2016-07-23 20:48] k-plan commented on #442
running Dropbear:

[code]

[code]

[2016-07-23 20:53] k-plan commented on #442
running OpenSSH:

[code]

![160723-0001](https://cloud.githubusercontent.com/assets/17237601/17080248/4b6f7852-5128-11e6-855f-a953fa73d579.gif)

---

![160723-0002](https://cloud.githubusercontent.com/assets/17237601/17080364/697ec01a-512c-11e6-94cf-5ac17ccb8923.gif)

I personally would preferred

`ENABLE_CAPTCHA         = false`

`DISABLE_GRAVATAR = true`

because I can't disable it in web-config

[2016-07-24 09:30] stdusm commented on #442
**root@MediaServer:~# find / -type f -name ssh-keygen***

**root@MediaServer:~# cat /DietPi/dietpi/.installed | grep '=2$'****

[2016-07-24 09:38] stdusm commented on #442
Installing OpenSSH solved the problem, thanks a lot.

[2016-07-24 09:44] avs-code commented on #433
In my first attempt (after my first post) I could update update software and firmware, but 404 error still there.
I restored my backup and now I do havent network, no connect via wifi (I need upgrade drivers because new kernel) and not connect via ethernet:

1Restoring backup image ok
2updating firmware ok
3reboot ok
4network Not ok

1Restoring backup image ok
2updating software ok
3updating firmw

[2016-07-24 10:34] Fourdee commented on #442
@stdusm

Excellent :+1:.

Note to self: message prompt if dropbear.

[2016-07-24 11:09] Fourdee commented on #439
@k-plan

Yep, i couldn't figure out a way of adding that to the end of the existing line, so it uses a pattern match.

Excellent :+1:

Lol, yep. No spell checker in notepad++ at the moment. Probably a good time for me to try a plugin :)

I'll mark this as closed, but please reopen as needed.

[2016-07-24 11:09] #439 closed, assigned to nobody

[2016-07-24 11:37] k-plan commented on #442
... _or deinstall dropbear with message and install openSSH, if gogs is selected for installation_ 😉

[2016-07-24 12:55] Fourdee commented on #442
Done:
![image](https://cloud.githubusercontent.com/assets/7077026/17083876/6df93660-51a5-11e6-8483-7684941282c5.png)

Also updated gogs installation to use latest binary download links: https://dl.gogs.io/

[2016-07-24 12:55] #442 closed, assigned to nobody

[2016-07-24 12:58] Fourdee commented on #440
Disabled as of v125.

Note:
Requires testing to prove stability before we add this back in.

[2016-07-24 16:12] avs-code commented on #337
Sorry to reopen this issue, today I have had again this issue,
DNS server was set in 0.0.0.0.0 by default and set to google 8.8.8.8 8.8.4.4 not worked.
But simply **I set manually DNS server with mi router IP and work** again, after unplug ethernet set wifi in dhcp, reboot and wifi working.
So, I think that is the walkthrough to me to solve this issue.

[2016-07-24 17:57] avs-code commented on #433
Ok, fixed installation issues at the moment, continuing with 404 error:

[code]

cat /var/log/nginx/error.log
The file is blank.

[2016-07-24 18:10] k-plan commented on #439
@Fourdee

I think, you have miss problem/solution.

You have only a typo in your scripts (branch `master` as well in `testing`):

https://github.com/Fourdee/DietPi/blob/testing/dietpi/func/dietpi-set_hardware#L165

https://github.com/Fourdee/DietPi/blob/master/dietpi/func/dietpi-set_hardware#L165

Fourdee - `dietpi-set_hardware` (_not working - please test it by yourself_):

[code]

must be (worki

[2016-07-24 21:04] stdusm opened #443 "Wifi Country Code change error"
Always get: **"Country code (GB/US/etc..) could not been applied. Please check the country code and try again."**

**root@MediaServer:/etc/hostapd# cat hostapd.conf**

Adding line "_country_code=GB_" to _/etc/hostapd/hostapd.conf_ + services restart didn't solved the problem.
**Note:** I am using Banana Pi M3 (bcmdhd).

[2016-07-25 11:27] Fourdee commented on #443
@stdusm

Which image did you use?

Try:

[code]

It may be wlan0 is preventing the reg change. Find the module ap621\* in /etc/modules and comment it out:

[code]

Reboot.

Check if wlan1 is now wlan0:

[code]

Change `interface=wlan0` and restart services.

[2016-07-25 11:30] Fourdee commented on #433
@arv187

Are you using Ramlog mode 1 (default)?: http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&start=20#p68

Try full logging mode to debug log files.

[2016-07-25 11:41] Fourdee commented on #439
@k-plan

Got ya :) Spot on :+1:

[code]

Fixed with commit below.

[2016-07-25 11:48] Fourdee opened #444 "DietPi-Software | LEAP Installation with error:100 in MariaDB"

[2016-07-25 19:49] stdusm commented on #443
@Fourdee

From here http://www.banana-pi.org/m3-download.html

---

Result :

[code]

---

No module a621, I used **modprobe bcmdhd** to enable wifi.

---

[code]

---

It seems that problem is in image or hardware that I am using, apologize for wasting your time with that

[2016-07-26 15:58] joaofl opened #445 "Blynk Server for IoT"
A very nice initiative for IoT is called [Blynk](http://www.blynk.cc/), and they provide their server code to be run in you own server for privacy concerns. Have it installed at my dietpi xu4, and would be great to have it listed at dietpi-software.

They provide an Android iOS app to interface with your raspberry/arduino/esp8266, through an onlline server of yours.

it requires java (openjdk8), a

[2016-07-26 15:59] joaofl commented on #435
I had it once, but I no longer found means of configuring my Firefox with a custom server address. How can it be done?

[2016-07-26 16:20] Fourdee opened #446 "C2 | Kodi crashes when viewing system info"

[2016-07-26 16:23] Fourdee opened #447 "C2 | No HDMI sound via ALSA"

[2016-07-26 16:28] #447 closed, assigned to Fourdee

[2016-07-26 16:28] #446 closed, assigned to Fourdee

[2016-07-26 19:44] #443 closed, assigned to nobody

[2016-07-27 10:39] Fourdee opened #448 "DietPi-Software | Web Dashboard for DietPi"
### **ADMIN EDIT**

Dashboard is available for testing, see https://github.com/ravenclaw900/DietPi-Dashboard#installation for instructions.

#

Base:
- Must not require a webserver stack (implies self contained website). eg: Websockets and Bootstrap/JS
- Lightweight (minimal cpu and memory usage)

Main DietPi programs for web implementation:
- DietPi-Software
- DietPi-Config

Additional features:

[2016-07-27 12:58] rhkean commented on #448
brainstorming.....  this can probably be done with python.  Couchpotato and NzbHydra use python and have decent simple web interfaces.  But, so does netdata and it's written in C.

[2016-07-28 01:24] tr0yspradling commented on #448
I plan on taking a stab at this with Python/Flask.

[2016-07-28 10:19] Fourdee commented on #448
@tr0yspradling

Excellent :+1:

We will need to change alot of the DietPi code to truly accommodate the web dashboard, but either myself or @rhkean can do this alongside @tr0yspradling's work.
If you have any progress, let us know.

[2016-07-28 10:27] Fourdee commented on #448
@rhkean

YMPD is also written in C: https://github.com/notandy/ympd

[2016-07-28 11:32] Fourdee commented on #444
Resolved by user. Confirmed working during my tests. Possible Raspbian mirror/repo temporary issue: http://dietpi.com/phpbb/viewtopic.php?f=9&t=558&p=2433#p2433

[2016-07-28 11:32] #444 closed, assigned to nobody

[2016-07-28 12:05] WolfganP commented on #448
Great idea. I think that the system will benefit more if it's designed extensible from the start, so it can be tailored for custom system commands or headless operation (ie one button remote system shutdown/restart, modules commands -ie minidlna db rescan-, etc)

[2016-07-28 12:21] Fourdee commented on #438
Unable to replicate. Possibly caused by the daily FStrim corrupting filesystem prior to v125: http://dietpi.com/phpbb/viewtopic.php?f=11&t=555&p=2436#p2436

[2016-07-28 12:24] Fourdee opened #449 "DietPi-Config | Odroid Firmware updates"
`apt-get dist-upgrade` is required to update the kernel and image fully.

[2016-07-28 12:25] Fourdee commented on #449
Enabled in dietpi-config.

[2016-07-28 12:25] #449 closed, assigned to nobody

[2016-07-28 12:41] Fourdee opened #451 "DietPi-Services | smbclient being picked up as samba server"
Due to `dpkg -l` check for "samba", when only smbclient is installed.

[2016-07-28 18:23] Fourdee commented on #448
@WolfganP

Yep, ideally i'd like a system where users can either use the web dash, or, terminal for all DietPi features.
So for example, we could have a DietPi-Software page where the user can install software from a list, then follow a link to the docs. Basically a duplicate of the whiltail menu, but in a better web format. Possibilities are endless.

 I recently added code that allows for automa

[2016-07-28 19:03] rhkean commented on #448
terrific idea.  The trick, I think, will come in finding a way to do this that maintains the small footprint that is at the heart of DietPi

[2016-07-28 19:51] rhkean opened #452 "NewEgg Deal..."
http://promotions.newegg.com/neemail/guerrilla/LP/16-Jul/index-landing_wave_27.html

Qty: 3 U1 - uSD - 16Gb  $10.99 + $2.88 shipping

@Fourdee not sure if you can take advantage of this
@xenfomation
@k-plan

soooo.... totally abusing the Issues functionality of github here.... :laughing:

[2016-07-28 20:06] WolfganP commented on #448
Ideally it should just be a different UI for using the existing installation / config scripts, with the ability to add user scripts / commands / recipes somehow (to avoid reinventing the wheel and having to reimplement the current / tuned dietpi-\* specific scripts).

[2016-07-29 00:28] tr0yspradling commented on #448
I've created [DietPi-Dashboard](https://github.com/tr0yspradling/DietPi-Dashboard). It's a skeleton project at the moment, but I'll have some progress up soon.

I've decided to use CherryPy instead of Flask, but I'm curious, should we reverse proxy through NGINX or use the standalone server with CherryPy?

[2016-07-29 10:47] Fourdee commented on #452
@rhkean HMRC (the tax man) can take advantage of this if I was to buy one. lol

I personally use for all DietPi testing (excluding the Odroids, due to EMMC being miles faster):
- Sandisk Extreme 16GB UHS 3.
  - 45MB/s~ write speed.
  - 90MB/s~ read speed
  - £10.50 on amazon uk:
    https://www.amazon.co.uk/SanDisk-Extreme-microSDHC-Frustration-Packaging/dp/B013P1M49A/ref=sr_1_1?ie=UTF8&qid=146978

[2016-07-29 11:14] Fourdee commented on #448
@tr0yspradling

That was quick, looking forward to seeing it progress :+1:

I would prefer it didn't required a webserver, self contained in a standalone server would be ideal.

[2016-07-29 11:17] Fourdee commented on #448
@WolfganP

Yep.
To start off with, we'll start small and see what the dash can do. In time, we can always add more to it. I have this vision of making DietPi completely web interfaced, but at this time, its just an idea. We'll see how it goes :)

[2016-07-29 13:18] rhkean commented on #452
I use Samsung Pro's on my "production" systems.  On my test setups, unless I'm doing a performance or speed test, I use cheaper cards.

I have several ADATA uSD cards that have survived multiple phone generations and are still going strong now that I've moved them to my SBC hobby.  :smile:

[2016-07-29 19:40] tr0yspradling commented on #448
Right now I'm working on syncing live system information with [python-socketio](https://github.com/miguelgrinberg/python-socketio) and displaying it with [Chart.js](https://github.com/chartjs/Chart.js). Once I finish that, I'm going to add process & software package management.

[2016-07-30 11:51] Fourdee opened #453 "DietPi-Software | Coding improvements (convert to array system)"
As title, means we can do stuff like this:
![image](https://cloud.githubusercontent.com/assets/7077026/17270163/4352120c-5654-11e6-9bd9-047abd7c10c0.png)

[2016-07-30 22:33] nicothyrael commented on #380
Hi!
As the Mali driver was updated, can you re-enable Kodi to be tested?
[http://forum.pine64.org/showthread.php?tid=587&page=12](url)

Thanks!

[2016-07-31 10:11] Fourdee commented on #380
@nicothyrael
Yep :+1:
.

Not sure if its released via Longsleeps kernel upgrade script yet, i'll take a look.

Notes to self:
Build script with Mali DRM driver: https://github.com/longsleep/build-pine64-image/commit/81bca181179dbcf5c82ae0a35b83ddcc2c04b9fd

Kernel source with Mali DRM driver: https://github.com/longsleep/linux-pine64/commit/f79eb809916be7ec7ef30c860b08bdde3c8c2dd8

[2016-07-31 10:42] Fourdee opened #454 "DietPi-Software | VNC4 (+auto lxde), breaks Kodi"

[2016-07-31 11:00] Fourdee opened #455 "DietPi | Add support and optimisations for Banana Pi M1"

[2016-07-31 14:11] LukasBombach commented on #116
Hi, Pine64 user here. Any hope ARM64 will be supported at some point?

[2016-07-31 14:31] LukasBombach commented on #116
Btw, for people like me still looking to install Plex Media Server, it can be done the "normal" way still, like this: https://gist.github.com/LukasBombach/2943fc2a1cb5fd4bbd1c3e6b477ce033

[2016-07-31 19:21] ghost commented on #168
so what does it mean that this ticket has moved to prototyping?

[2016-08-01 12:41] Fourdee commented on #453
Turns out DietPi can install over 100 programs lol

[code]

[2016-08-01 15:08] avs-code commented on #433
Now i have select Full log, but error.log still in blank.
Im trying do this, but routes are diferents. [https://www.digitalocean.com/community/questions/enabling-nginx-mod_rewrite](url)

edit: I tried this at end of file /etc/nginx/nginx.conf

location / {
index index.php index.html index.htm;
try_files $uri $uri/ /index.php?$args;
}
location /wordpress/ {
try_files $uri $uri/ /wordpress/index.php

[2016-08-01 19:05] Fourdee commented on #168
@Zone22

https://github.com/Fourdee/DietPi/milestone/11

At the moment, its in progress, but on hold.

[2016-08-02 06:42] gstrauss commented on #205
I'm a little late to the party, but wanted to add a note about lighttpd 1.4.41 (released 2016-07-31).
If you have any feedback or suggestions, feel free to open an issue at https://github.com/lighttpd/lighttpd1.4/

**lighttpd can scale to multiple CPUs.  :)**

@Fourdee wrote above that lighttpd is single threaded.  This is true in the default configuration, although lighttpd does scale to multiple

[2016-08-02 10:54] Fourdee commented on #116
@LukasBombach :+1:

Does the armhf binary work on your Pine A64, when running arm64/aarch64 OS `uname -a`?
If so, this indicates the kernel and ARM supports 32 bit execution. Then we can get PMS added for the Pine boards.

[2016-08-02 11:29] Fourdee commented on #205
@gstrauss

Thank you for the info. :+1: I will be giving this a spin :dancer:

I think its best we add this to the documentation as a user option, rather than apply `server.max-worker = i` to the installation code.

I've updated the DietPi documentation and referenced @gstrauss 's post above.
http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=1549#p1549

@gstrauss is this a new feature for `1.4.41`?

[2016-08-02 11:52] Fourdee commented on #453
#### New command line options for dietpi-software, example usage:

Automated Install software: Curlftp, Midnight commander, Alsa, Owncloud. No user inputs required, no reboot.

[code]

#### DietPi-Uninstall has been removed

Software can now be uninstalled from DietPi-Software:
![image](https://cloud.githubusercontent.com/assets/7077026/17327452/fdb7489e-58af-11e6-940e-b43088eecf69.png)

[2016-08-02 11:53] gstrauss commented on #205
`server.max-worker` is not new -- it's available in every single version of 1.4.x.

I do still recommend lighttpd 1.4.41 :)

[2016-08-02 19:24] joaofl commented on #414
I would definitely appreciate it

[2016-08-02 19:32] rhkean commented on #414
yup... at full speed (2GHz), I couldn't do more than -j=4

not sure which would be faster... -j8 at 1GHz or -j4 at 2GHz

[2016-08-02 23:17] moogu12 commented on #339
I am very excited to hear you are going to do this.  I have had a heck of a time getting nzbget working properly on my pine64.  I am new to linux in general and any automated installs is greatly appreciated.

[2016-08-03 13:35] ruscogit opened #456 "Changes to /boot/config.txt are reset on reboot."
I can't seem to get this file to keep its changes after a reboot.

[2016-08-03 13:38] Fourdee commented on #453
Progress pics:
![image](https://cloud.githubusercontent.com/assets/7077026/17367429/bf98d540-5987-11e6-830a-cbaf58d39643.png)
![image](https://cloud.githubusercontent.com/assets/7077026/17367435/c4e7ca7e-5987-11e6-8c82-07e2cec4c240.png)
![image](https://cloud.githubusercontent.com/assets/7077026/17367451/d6aeef30-5987-11e6-9f03-1e7e84ed88ba.png)

[2016-08-03 14:18] Fourdee commented on #456
@ruscogit

https://github.com/Fourdee/DietPi/blob/master/config.txt#L1-L2

DietPi moves common setting files to Ramdisk during boot, increasing performance and flash lifespan.
So when powered on, you need to edit `/DietPi/config.txt`

[2016-08-03 14:18] #456 closed, assigned to nobody

[2016-08-03 17:01] ruscogit commented on #456
Thanks for the quick response!

[2016-08-03 18:46] k-plan commented on #174
@Fourdee

http://dietpi.com/phpbb/viewtopic.php?f=11&t=566

[2016-08-03 19:04] Fourdee commented on #174
@k-plan  :+1:

Thanks. I'll take a look, working on automation at the moment.

[2016-08-03 21:01] LukasBombach commented on #116
I'm not so Linux-savvy (I'm a programmer though, so you can tell me in technical terms), how would I go and try that?

[2016-08-04 10:54] Fourdee commented on #116
@LukasBombach

Sorry, basically, i'am asking if doing this installation results in a working Plex installation? I've not had a chance to try it myself yet :
https://gist.github.com/LukasBombach/2943fc2a1cb5fd4bbd1c3e6b477ce033

[2016-08-04 11:34] LukasBombach commented on #116
It worked for me on my Pine64 using
- The latest Ubuntu created by the Pine team
- The latest Debian created by the Pine team
- And of course DietPi

[2016-08-04 12:17] Fourdee opened #457 "DietPi-Software | Add PMS for Pine A64"

[2016-08-04 12:54] Fourdee commented on #451
Although it returns failed, has no impact on system.

[2016-08-04 14:10] Fourdee opened #458 "NanoPi Neo | Add support and image for DietPi"
Using ARMbian build tools for this one.

Many thanks to @k-plan for sending me the board!

[2016-08-04 14:17] rhkean commented on #458
Run away!  Run away!

:laughing:

[2016-08-04 14:18] Fourdee commented on #458
@rhkean

Lol, I cant, its too cute: https://twitter.com/DietPi_/status/761172953161752578
![img_20160804_125721](https://cloud.githubusercontent.com/assets/7077026/17405232/a9beb594-5a56-11e6-809f-d27fa84fe7b9.jpg)

[2016-08-04 14:31] Fourdee commented on #457
Completed. Confirmed working for both Pine A64 and Odroid C2.

[2016-08-04 14:31] #457 closed, assigned to nobody

[2016-08-04 14:32] rhkean commented on #458
It'll be interesting to see just how "Pi-compatible" it actually is.

[2016-08-04 14:39] Fourdee commented on #116
@LukasBombach Done, PMS will be available for Pine in v127. Many thanks for the installation code :+1:

[2016-08-04 15:01] Fourdee commented on #458
@rhkean

Where did you see this, got a link?

[2016-08-04 15:01] Fourdee commented on #458
Image completed: http://dietpi.com/downloads/images/DietPi_NanoPiNEO-armv7-(Jessie).7z

[2016-08-04 15:35] LukasBombach commented on #116
Woop woop, awesome!

[2016-08-04 15:37] rhkean commented on #458
If you use "Pi" in the name, I expect a certain level of compatibility.   That being said, I reread the feature list... it just states pi-gpio compatibility.

I like the nanopi-M3 specs....  It looks like it has potential.   (then again, so does the C.H.I.P., but I won't have one of those for a few more months)

I wish more SBC's were adding USB3, though.

[2016-08-04 16:32] Fourdee commented on #458
Completed. image live in http://dietpi.com/download
NB: GPIO is currently untested.

[2016-08-04 16:32] #458 closed, assigned to Fourdee

[2016-08-04 16:44] k-plan commented on #458
http://wiki.friendlyarm.com/wiki/index.php/NanoPi_NEO#Layout

Hmm, please specified "Pi-compatible"?
- Crappy network implementation via USB ?
- Over-clocking CPU by vendor to  produce more heat then agreeable? (RPi-3)

Sorry :smile:  just tease the most selling SOC ever.

Really nice  Samsung S5P6818 Octa-Core Cortex-A53 CPU with 400M Hz - 1.4G Hz, but I don't like the idea for active cooling:
ht

[2016-08-04 16:54] Fourdee commented on #458
@rhkean @k-plan
All Raspberry Pi (but really its down to Broadcom) need to do is upgrade the ARM to USB3 hub on chip. Then we can have gigabit network through the USB3 bus. Instead of through this crappy USB2 bus that all RPI's suffer with since the dawn of time.

The XU4 is one hot puppy, thats for sure lol

[2016-08-04 16:58] Fourdee commented on #453
Done.

[2016-08-04 16:58] #453 closed, assigned to Fourdee

[2016-08-04 17:20] k-plan commented on #458
@Fourdee

Congratulations. Very quick implementation of DietPi running Debian Jessie.
Have you used the [armbian nanopineo.fex file](http://forum.armbian.com/index.php/topic/1580-nanopi-neo/#entry12364)?

Until now, where was only the official nanopi-neo-core-qte-sd4g-20160704.img  running UbuntuCore with Qt-Embedded  and a armbian NanoPi Neo test image.

[2016-08-04 17:32] Fourdee commented on #458
@k-plan
I built the image with ARMbian build tools, selecting nanopim1 (same H3). Copied the nanopineo.bin to /boot/script.bin. Worked a treat.

[2016-08-04 17:37] rhkean commented on #458
@Fourdee --- Show off!!!

1 day!!!!   It took me 2 weeks to add Pine64 support

[2016-08-04 19:20] Fourdee commented on #454
Notes:

Most likely an issue with service vncserver starting before Kodi on screen 0, although, I was unable to replicate the same issue.

When having Kodi as the autostart option, it starts 1st and prevents vncserver from running.

[code]

Changing the VNCserver screen to :1 allows both Kodi and vncserver to run:
In dietpi.txt

[code]

Note to self: Still need to verify Kodi is running on monitor

[2016-08-05 10:14] Fourdee commented on #454
Replicate and test installation:

[2016-08-05 14:01] avs-code commented on #433
any idea where i must write that location?

[2016-08-05 14:16] Fourdee commented on #454
As all appears to be working with the VNC screen change, I will mark as closed for now.

[2016-08-05 14:16] #454 closed, assigned to Fourdee

[2016-08-05 14:30] Fourdee commented on #433
@arv187

No idea, sorry. I'am not Nginx savvy.

To enable logging in Nginx edit `/etc/nginx/nginx.conf` as per https://www.nginx.com/resources/admin-guide/logging-and-monitoring/

Warning logging:

[code]

Access logging, comment the following:

[code]

[code]

### Heres the default DietPi nginx.conf, with access logging and warning logging enabled:

http://pastebin.com/kX47URhi

[2016-08-05 15:19] Fourdee commented on #174
Locale is fixed:

Starting from en_GB:

[code]

After reboot:

[code]

Also updated dietpi.txt docs to explain `AUTO_Locale=` will only support 1 entry.

Timezone is being applied correctly during automation. Tested on RPi.

[2016-08-05 15:21] Fourdee commented on #174
Fixed for v127. Requires v127 image which i'll create prior to v127 release.

[2016-08-05 15:21] #174 closed, assigned to nobody

[2016-08-05 16:10] Fourdee commented on #380
http://forum.pine64.org/showthread.php?tid=587&pid=17035#pid17035

[code]

[code]

Looks like its going be one of those "hacky hacky, workaroundy" jobs to get it working on Jessie :-1:

[2016-08-05 18:42] Fourdee opened #459 "Give credit for the base images/tools we use to make our DietPi image possible"
BPI Pro, BPI M2+, NanoPi Neo

eg:
dietpi-banner
DietPi + armbian

[2016-08-05 18:44] Fourdee opened #460 "Upgrade all DietPi images to v127"
Mainly to support the new automation changes: http://dietpi.com/phpbb/viewtopic.php?f=11&t=567#p2477

:u6307: C1
:u6307: C2
:u6307: XU3/4
:u6307: RPi
:u6307: OPi-PC
:u6307: Pine64
:u6307: BPi M2+
:u6307: BPi Pro
:u6307: NanoPi NEO
:u6307:  VMware

Note to self:
Images uploaded to testing folder. Move after v127 git release.

[2016-08-06 00:34] nicothyrael commented on #380
This worked for me:
1. Update kernel and uboot with longsleep scripts.
2. Reboot
3. sudo apt-get install -y software-properties-common
4. sudo add-apt-repository -y ppa:longsleep/ubuntu-pine64-flavour-makers
5. sudo apt-get update
6. sudo apt-get upgrade
7. sudo apt-get dist-upgrade
8. sudo apt-get install xserver-xorg-video-armsoc-sunxi

but still get:

the following packages have unmet dependenc

[2016-08-06 08:40] k-plan commented on #459
@Fourdee

I like the idea and it's correct to give them credits for working on the Debian device specific base system. 👍

Hmm, but what is with all Odroid ?
Credits for meveric and hardkernel?

All Pine64? Credits for rhkean and longsleep?

All Orange Pi? Credits for t.kaiser and armbian?

VirtualBox ? Credits for xenfomation?

I think, it's don't narrow your effort to get DietPi on work for so ma

[2016-08-06 11:09] Fourdee commented on #459
Great idea :+1:

I couldn't apply this to our VM's as they all have the same HW_MODEL index. I'll have another think.

I wanted to try and get this in very top of the banner, but it would mean increasing the width of the banner top section (It fits perfectly now in 320x240 eg: waveshare).

so i'll pop it here:
![image](https://cloud.githubusercontent.com/assets/7077026/17456402/635aac9c-5bce-11e6-

[2016-08-06 13:43] k-plan commented on #459
@Fourdee

I think it's okay.

Please no .... 😨

[2016-08-06 17:40] Fourdee commented on #459
Ok, think i got everyone minus Xenformation. This is due to HW_MODEL being the same for all VM images, so no way to identify if its VMware/VirtualBox/Xenserver.

[2016-08-06 17:40] #459 closed, assigned to nobody

[2016-08-07 15:58] Fourdee commented on #380
Ok lets try upgrading to stretch, rather than create a endless list of dependency workarounds.

On a fresh DietPi installation:

[code]

Kodi runs, but its < 1fps (software render), screen keeps cycling signal.

[code]

Boot log:

[code]

[2016-08-07 16:12] Fourdee commented on #380
xinit startx

[code]

/usr/lib/aarch64-linux-gnu/dri/armsoc_dri.so

[2016-08-07 16:27] Fourdee commented on #380
Moving this out of milestone. This is going to take much longer than expected. Could really do with some input/suggestions if anyone has it.

[2016-08-07 16:42] Fourdee commented on #460
Done, images live.

[2016-08-07 16:42] #460 closed, assigned to Fourdee

[2016-08-07 19:23] Fourdee opened #462 "Google Chrome | Prevent use of backspace"
As per Google Chrome: https://www.engadget.com/2016/05/20/google-tests-killing-backspace-chrome/, we are delighted to assist the minority. Now when you accidentally press X to close the window, it wont close!

Instead, you have to press alt+f4.

Next week, we will fix an issue where users are accidentally pressing alt+f4.

^^ Annoyed sarcasm.

[2016-08-07 23:40] alex9099 opened #463 "How to connect to wifi without internet?"
Hi i recently installed diet pi and i have to say it is very good... but there is a problem, when using dietpi-config to connect to wifi it tries to download netplug but as it is obvious there is no wired connection (thats why i'm trying the wifi one)
What can i do? I can connect to a wired network but not that soon :(

Edit: also it says that it has a network connection (wifi: availible/enabled/c

[2016-08-08 09:05] k-plan commented on #463
Hi  alex,

can you please provide output from terminal:

`:~# ip a`

`:~# route -n`

`:~# cat /etc/network/interfaces`

How have you tested internet connectivity? Via`dietpi-config`?

On which device is DietPi running?

[2016-08-08 09:33] Fourdee commented on #463
@alex9099

netplug is only installed to allow both eth and wlan devices to work simultaneously.

Disable the eth adapter. Simply go into Ethernet menu and select Disable.
Also, under the WiFi menu, make sure you set the country code.

[2016-08-08 10:55] Fourdee opened #464 "DietPi-Software | MySQL fails to start if installed a second time"
due to

[code]

Repeat installations results in:

[code]

Many thanks to David Henry for reporting this via bugreport.

[2016-08-08 10:58] Fourdee commented on #464
Resolved for v128

[2016-08-08 10:58] #464 closed, assigned to Fourdee

[2016-08-08 14:28] k-plan commented on #463
netplug is more for automated user comfort., see: https://github.com/Fourdee/DietPi/issues/261#issuecomment-217988286

:smile:  ... if you don't need or use this at the moment. :+1:

[2016-08-08 21:19] LarsNorgaard commented on #455
DietPi works on the BananaPi m1, but the diet script won't show the cpu temperature.
Also the min freq could be set lower, to save some mW.

[code]

[2016-08-09 14:50] LarsNorgaard commented on #455
@Fourdee The Banana Pi and Banana Pi Pro are identical except the wifi/bluetooth chip. Everything else is the same :)

[2016-08-09 17:12] Fourdee opened #465 "BPi Pro | CPU temp unknown."
[code]

[2016-08-09 17:16] Fourdee commented on #455
@LarsNorgaard
There are some differences, at least in the .fex: https://www.diffchecker.com/yd8b2luc

But looks like mostly GPIO stuff.

Ok, lets create a ticket and i'll look into the CPU temp issue: https://github.com/Fourdee/DietPi/issues/465

We use ARMbian for the BPi images. AFAIK, the min/max clock speeds, voltage regulation are tweaked by ARMbian and proven stable.
If you want to try lower

[2016-08-09 18:12] LarsNorgaard commented on #455
@Fourdee
The Diff you linked to has the wrong Banana Pi model :)
https://www.diffchecker.com/diovxwvf

It's the Banana Pi and the Banana Pi Pro I'm referring to. But yeah, those two models aren't identical either, but only seems to be changes to the GPIO pins and what LCD display is supported.

Is there any way to build DietPi myself from sources but with the fex for the Banana Pi?

[2016-08-09 18:57] ghost commented on #168
What's making this difficult to work on either from a time or technical aspect?

[2016-08-09 19:12] Fourdee commented on #455
Before you start, make sure the following are in `/boot/`
https://github.com/Fourdee/DietPi/blob/master/dietpi.txt
https://github.com/Fourdee/DietPi/blob/master/config.txt

Make sure all the following files and directories are in `/boot/dietpi/`
https://github.com/Fourdee/DietPi/tree/master/dietpi

The following assumes a Jessie server image installation. Converting and optimizing it for DietPi.

[2016-08-09 19:26] Fourdee commented on #168
Both real life distractions and time at the moment.
As I explained previously, I'd need to go through their entire sourcecode line by line for their current automated installation. As this is Nginx only, i'd also need to implement support for both Lighttpd and Apache2 installations for our users.
Not only is this a big task, we already have Owncloud and Pydio available in DietPi. Another "variant"

[2016-08-10 11:57] #462 closed, assigned to Fourdee

[2016-08-10 11:57] #452 closed, assigned to nobody

[2016-08-10 14:01] #465 closed, assigned to Fourdee

[2016-08-10 14:39] WolfganP commented on #372
Just for statistics, it happened to me as well while on v126. dietpi.txt got corrupted somehow, the wget command above solved the issue and dietpi-update run without issues after.

[2016-08-10 16:34] k-plan commented on #455
@Fourdee

Sorry, but what is the topic here?

or

:question:  :confused:

[2016-08-10 16:38] Fourdee commented on #455
I got carried away lol, feel free to slap me :+1:
Should be DietPi-Software | OMV Open Media Vault

[2016-08-10 17:26] Fourdee opened #468 "DietPi-Software | Update Owncloud to v9"
Currently only v8.x is available using the OpenSuse repo.

[2016-08-11 10:18] Fourdee opened #469 "DietPi-Config | Add multiple options for display refresh rates (eg: 4K 24hz)"

[2016-08-11 11:05] Fourdee commented on #469
![image](https://cloud.githubusercontent.com/assets/7077026/17586805/e4e84256-5fbb-11e6-88ec-acb27aa7bb52.png)

[2016-08-11 11:23] #469 closed, assigned to Fourdee

[2016-08-11 11:25] Fourdee commented on #438
No response from user. Marking as closed, please reopen if required.

[2016-08-11 11:25] #438 closed, assigned to Fourdee

[2016-08-11 11:25] Fourdee commented on #433
Marking as closed. Please reopen if required.

[2016-08-11 11:25] #433 closed, assigned to nobody

[2016-08-11 11:25] Fourdee commented on #429
No response from user. Marking as closed. Please reopen if required.

[2016-08-11 11:25] #429 closed, assigned to nobody

[2016-08-11 11:28] Fourdee commented on #384
Unable to replicate with the revamped automation upgrade: https://github.com/Fourdee/DietPi/issues/453
 Marking as closed.

[2016-08-11 11:28] #384 closed, assigned to Fourdee

[2016-08-11 11:34] Fourdee commented on #372
@WolfganP
Thanks for the info :+1:

Did you by any chance save a copy of the corrupted dietpi.txt? It may give us some clues as to what caused it to corrupt.

[2016-08-11 14:13] Fourdee commented on #468
Possible upgrade method by John:

[2016-08-11 15:07] Fourdee commented on #468
Test with all webserver base stacks:
:u6307:  Apache2
:u6307:  Nginx
:u6307:  Lighttpd

[2016-08-11 15:44] Fourdee commented on #468
### Hilarious, failed integrity check on a user configurable file.

![image](https://cloud.githubusercontent.com/assets/7077026/17594783/67a10270-5fe2-11e6-88d4-5268f428d15a.png)

So then we increase the upload size in the file with these settings during our installation:

[code]

And we get:

[code]

### So there is currently 2 things that cannot be done until the 1st run, end user Owncloud web s

[2016-08-12 13:18] Fourdee commented on #176
0.9.3 isn't available as a release, we'll try 0.9.4 https://github.com/rakshasa/rtorrent/releases

[2016-08-12 13:48] Ardakilic commented on #176
@Fourdee Try these:

[code]

Old libtorrent website was wiped so the older releases are unavailable at the moment. But these mirror works as it should and hashes match.

[2016-08-12 15:37] Fourdee opened #470 "General | Improve new user UEX with better info on what DietPi is and does."
Note to self:
Go through Henry's post and add to existing documentation/website.

[2016-08-13 11:24] Fourdee commented on #176
@Ardakilic
rtorrent packages available in apt-get is version 0.9.2. So I'll start with that 1st for testing.

Is there any major improvements/fixes in 0.9.3 that make it worth compiling?

[2016-08-13 11:36] Ardakilic commented on #176
@Fourdee Well I always compile because of xmlrpc-c support which is important to make it connect to other applications and WebUI to manage it. Most how-to guides cover it.

Before compiling, I first install dependencies:

[code]

Then  then compile xmlrpc-c (svn master or superstable release):
https://sourceforge.net/projects/xmlrpc-c

[code]

Then I compile libtorrent and rtorrent in this order.

[2016-08-13 12:14] Fourdee commented on #176
@Ardakilic

Thanks. :+1:

I have rtorrent 0.9.2 from apt, and rutorrent 3.7 running well on lighttpd:
![image](https://cloud.githubusercontent.com/assets/7077026/17643086/f6a30fe8-6156-11e6-854a-4e4e11df1d43.png)

So i'd assume the apt rtorrent package has been compiled with xmlrpc-c?

I'd appreciate it :+1:

Yep, just going to finish off draft installation code, then i'll give it a whirl.

[2016-08-13 12:25] Ardakilic commented on #176
@Fourdee Well last time I checked it wasn't. Or maybe I did something wrong back then and rutorrent doesn't need xmlrpc-c, I don't know and never digged there to be honest since I need both webui and 3rd party client support, and these guided told me "not to apt-get" for rtorrent. That was the main reason I'm always compiling. For the time being for most people it's usable then :+1:

Also, just as

[2016-08-13 14:54] Fourdee commented on #176
Yep, i'am all for compiling. But, if we compile, we have to compile and support for:
- ARM64
- AMD64
- ARMv6
- ARMv7+ (optional, but we generally do it)

So if we can avoid having to do it, it saves alot of time lol. I believe 0.9.2 is fine for now, as our target was 0.9.3.

Ah, i see. So if i'am correct, the web configuration is needed to:
- Create a username/password for ip/rutorrent web login
-

[2016-08-13 15:57] Ardakilic commented on #176
Hello,

This is my nginx config:

[code]

I also have  `system.umask.set = 002` on my .rtorrent.rc for other users in same group to interact properly with the files.

As for your previous question for rpc: Yes for both. Please see my nginx config for example.

This is the apache2 equivalent of that /rpc2 mount:

[code]

I also add a second layer of authentication layer for apache rpc2 mount, it be

[2016-08-13 16:17] k-plan commented on #455
@Fourdee

No, I don't want to slap you, really.

Your former comment are absolutely interesting and cool. 👍
Search for something like this and want to read it very much.
But only the title is wrong, so nobody will find this things back again.

So please modify title and make a new issue for OMV Open Media Vault.
_(You are the owner, I can't do such things)_

[2016-08-13 19:15] k-plan opened #471 "DietPi-Config | Overclocking for RPi Zero v1.3"
@Fourdee

[code]

with default  `/boot/config.txt` from _RASPBIAN JESSIE LITE_

[code]

![160813-0002](https://cloud.githubusercontent.com/assets/17237601/17644976/2b41a9ee-6198-11e6-9f85-fe07ea7fa68b.gif)

But in `dietpi-config` it will show:
![160813-0005](https://cloud.githubusercontent.com/assets/17237601/17644985/672a9e7a-6198-11e6-8996-972285444d06.gif)

`dietpi-config` works, so you can/wil

[2016-08-14 12:11] Fourdee commented on #471
@k-plan

Great find :+1:

Also found a few other issues while i was fixing that lol:
- RPi 2/3/Zero will now show correct sdram speed (450mhz default) in overclocking menu
- RPi 2 overclocking sdram speeds are now set to 450mhz (default for device)

[2016-08-14 12:35] k-plan opened #472 "General | Preferring IPv4 over IPv6 for apt-get"
@Fourdee

Modern GNU/Linux systems prefer IPv6 addresses over IPv4 when being presented with a choice. As an example, Debian’s apt-get update over IPv4 and IPv6.
### **Problem:**

If your  local network has dual-stack and using for example a [IPv6 tunnel broker](https://en.wikipedia.org/wiki/Tunnel_broker)  to get full IPv6 support, apt source mirrordirector.raspbian.org can/will redirect to a slo

[2016-08-14 12:57] k-plan commented on #471
@Fourdee

Yes! 😄

Testing on RPi 3 v.128:

![160814-0001](https://cloud.githubusercontent.com/assets/17237601/17649200/c61036a2-622e-11e6-9c37-0b1abd36d601.gif)

and now with v.129:

![160814-0002](https://cloud.githubusercontent.com/assets/17237601/17649204/ecf4ba90-622e-11e6-9c16-61837c65f9a7.gif)

![160814-0003](https://cloud.githubusercontent.com/assets/17237601/17649208/f78ba324-622e-11e6-980

[2016-08-14 13:35] Fourdee commented on #471
@k-plan

Excellent :+1:

RPi 2:
![image](https://cloud.githubusercontent.com/assets/7077026/17649325/7faf06b0-622a-11e6-9fa4-703095aaacbc.png)

RPi 1 256mb:
![image](https://cloud.githubusercontent.com/assets/7077026/17649389/5714681a-622c-11e6-8ec0-7b09513405fa.png)

[2016-08-14 13:35] #471 closed, assigned to Fourdee

[2016-08-14 13:41] Fourdee commented on #468
Note to self:
Update documentation with additional 1st run setup steps, as its not possible to automate them during installation, currently in Owncloud.

[2016-08-14 13:41] Fourdee commented on #463
Marking as resolved. Please reopen if required.

[2016-08-14 13:41] #463 closed, assigned to nobody

[2016-08-14 15:13] Fourdee commented on #176
@Ardakilic
Many thanks for the config and info, appreciate it. :+1:

Having a little issue with it at the moment, heres the Nginx specific configuration code, based on yours:

[code]

Log:

[code]

[code]

[2016-08-14 15:25] Fourdee commented on #176
Fixed `*2 FastCGI sent in stderr` by adding document_root:

[code]

Just this one

[code]

[2016-08-14 15:27] Ardakilic commented on #176
@Fourdee Hmm maybe your script identifies $ in the script as variable. How about escaping them ?

Could you please dump the /etc/nginx/sites-enabled/rutorrent file for me ?

Meanwhile, try this:

[code]

Btw, not ARM but i3 x64, and works nice directly from my current Debian Jessie server.

![screenshot_7](https://cloud.githubusercontent.com/assets/2063957/17650082/d860ff12-624c-11e6-813b-a1464068

[2016-08-14 15:29] Fourdee commented on #176
Yep, I completely forgot to escape those entries lol

[2016-08-14 16:56] k-plan opened #473 "RPi 3 | Build-in WiFi doesn't connect"
@Fourdee
- RPi 3 with DietPi v.128 (fresh install from DietPi_v127_RPi-armv6-(Jessie))

Problem:
- does not connect with build-in WiFi to accesspoint via `dietpi-config`
- reboot with correct configured WiFi

dmesg output:

[code]

disable WiFi via `dietpi-config`

[code]

enable  WiFi via `dietpi-config`

[code]

[2016-08-14 18:35] Fourdee commented on #473
@k-plan
Thanks, i'll look into it :+1:

[2016-08-15 11:40] Fourdee opened #474 "DietPi + AmiBerry | Optimized installation for Uae4arm"
#### Collaboration with the creator of AmiBerry (Dimitris):

https://blitterstudio.com/amiberry/
#### Notes:

RetroPie claim uae4all2 is quicker than uae4arm: https://github.com/retropie/retropie-setup/wiki/Amiga#emulators-uae4all2-uae4arm
https://github.com/RetroPie/uae4all2
### Legend

:u5408: = Not started
:u55b6: = In progress
:u6307: = Completed
### Compile for:

:u6307: ARMv6 (RPi 1, if perf

[2016-08-15 20:07] Fourdee opened #475 "DietPi | Debian Stretch Status"
### Images now Stretch by default:
**ADMIN EDIT: All images are now Buster by default, hence invalid links have been removed.**

---

### Stretch Status Odroid C2: https://github.com/Fourdee/DietPi/issues/1032

---

### Stretch Status Raspberry Pi:

### 🈯️ Now live and default image for DietPi on RPi.

#### Hardware
- 🈯️ RPi 3 Bluetooth:
- 🈯️ RPi 3 WiFi : https://github.com/Fourdee/DietPi/issues/1

[2016-08-15 20:28] k-plan commented on #475
Puhh,

reading, Debian Stretch will start over after Kernel 4.10 is released.

https://wiki.debian.org/DebianStretch

If I see the timeline, it will be end of 2017 until official Stretch release.
But good to know, you have a milestone.

Till then, let's go for hunting and fixing some bugs in Dietpi. 😃

[2016-08-16 01:57] Gravesy83 commented on #339
I'm also fairly interested in this, since i've been slowly moving all my mediacenter and filesharing related software off of my desktop and onto my Raspberry Pi servers, and compiling CouchPotato and NZBGet has been a royal pain in the backside.

[2016-08-16 11:13] Fourdee commented on #176
@Ardakilic
I can not get this to work with Nginx. No password prompt.

Simple default config `/etc/nginx/sites-available/default
`, following instructions from https://www.digitalocean.com/community/tutorials/how-to-set-up-password-authentication-with-nginx-on-ubuntu-14-04 and https://www.howtoforge.com/tutorial/basic-http-authentication-with-nginx/ and http://kbeezie.com/protecting-folders-with-n

[2016-08-16 11:14] midwan commented on #474
UAE4All2 does not have JIT, 68040 or Picasso96 emulation, among other things. UAE4Arm is a newer build based on UAE4All but adds several new features (but also maybe some bugs):
https://github.com/lubomyr/uae4arm/blob/master/Readme_Pandora.txt

The main differences to UAE4ALL:
- Different 68000 core (newcpu instead of FAME/C) with support for 32 bit addressing mode
- Support for 68030 and 68040 cp

[2016-08-16 11:21] Ardakilic commented on #176
@Fourdee Could you please dump the output of "sudo nginx -t" ?

So it works and no password prompt given, or does it not work at all ?

Edit: If a domain cannot be assigned, for easier use and getting rid of subfolder, I usually change the port from 80 to something else.

[2016-08-16 11:24] Fourdee commented on #176
@Ardakilic No password prompt, rutorrent web works fine, not tested android client yet

Just doing a clean installation, 1 sec

[2016-08-16 11:27] Ardakilic commented on #176
Does `sudo nginx -t` give any errors ?

What's the owner and group of the /etc/nginx/.htpasswd file ?

Assuming your nginx user is `www-data` , could you please type and see if can be accessed by web user?

`sudo -u www-data cat /etc/nginx/.htpasswd`

[2016-08-16 11:35] Fourdee commented on #176
[code]

[code]

[code]

#

Fixed it, replaced `htpasswd -cb /etc/nginx/.htpasswd root dietpi` with your method:

[code]

[2016-08-16 11:37] Ardakilic commented on #176
@Fourdee  oh, good to know :) to be honest It's been a while since I've made a htpasswd file with htpasswd command. I use openssl command or that online site depending on my laziness 😄

[2016-08-16 11:39] Fourdee commented on #176
@Ardakilic
Transdroid working with rtorrent :+1:

[2016-08-16 11:40] Fourdee commented on #176
Ok, i'll wrap up the code for Nginx and send the commit. You can then test the installation if you like.

[2016-08-16 11:41] Ardakilic commented on #176
@Fourdee Awesome! Great to know it's working! 🎉

Of course! I can test on ODROID-XU4 and Raspberry Pi 2. Just let me know when to download.

[2016-08-16 12:37] Fourdee commented on #176
@Ardakilic
Ok, Nginx code is in there, simply follow this guide to install from testing branch: https://github.com/Fourdee/DietPi/blob/master/TESTING-BRANCH.md

Have 2 issues outstanding:

[code]

I'll look at Apache2 implementation and testing.

[2016-08-16 12:39] Ardakilic commented on #176
@Fourdee just install `curl` and `unrar` from repository and restart services. Both should be fixed. This is not mandatory but is required if you use these two rutorrent plugins. I'd suggest to leave them uninstalled to be honest (maybe add a note on installation page?).

Ok then, I'm currently at work. I'll try to test this evening 👍

[2016-08-16 12:42] Fourdee commented on #176
@Ardakilic

Strange, curl is already installed, i'll take a look.

[code]

[2016-08-16 12:43] Ardakilic commented on #176
@Fourdee Try installing php5-curl or php7.0-curl then depending your PHP version and restart fpm.

[2016-08-16 13:01] Fourdee commented on #474
@midwan

Great to have you onboard for this one, cant wait :+1:

Does uae4arm-rpi run on X11 or FB?
We are still yet to implement the X11 mali drm drivers for Pine 64: https://github.com/Fourdee/DietPi/issues/380

Excellent, I'll host these on http://dietpi.com so we can use them in the installation. I've sent you an invite to a dropbox share we can use as a temp upload location.

Awesome, once yo

[2016-08-16 13:13] midwan commented on #474
uae4arm-rpi is customized (from the main uae4arm which uses SDL) to use dispmanx on the Pi, for direct access to the display hardware. It gives somewhat better performance than using SDL. The code has pieces that control this based on a declared variable, so the SDL parts are also still in place from what I've seen.

I'm not sure what we can use for the Pine yet, as I haven't seen much of the low-

[2016-08-16 13:29] Fourdee commented on #176
Raspbian only:

[code]

[2016-08-16 14:18] Ardakilic commented on #176
Hmm you may need to get pre-compiled (deb or binary) file or get the source and compile yourself then.

Building source should be like this:

[code]

But the better way is to download from [rarlab](http://www.rarlab.com/rar_add.htm) directly, there is a package for almost any platform there:

[code]

So this way rar 5.x format will be supported and you won't be adding sources repository which will

[2016-08-16 14:30] Fourdee commented on #176
status:

Lighttpd
Web PW =  :u6307:
Transdroid = :u6307:

Nginx
Web PW = :u6307:
Transdroid =  :u6307:

Apache2
Web PW = :u6307:
Transdroid = :u6307:

Note to self:
:u5408: uninstall, add sed removal code for `#RUTORRENT_DIETPI` in `/etc/lighttpd/lighttpd.conf`

:u5408: Online docs
- lighttpd :u5408: Change password:

[code]
- Apache2 :u5408: Change password:

[code]
- Nginx :u5408: Change passwor

[2016-08-16 14:30] Ardakilic commented on #176
Oh and, mediainfo may be overkill if you'd ask me. That will possibly bring tons of dependencies and since I don't care so I never install. So un-dietish.

You don't have to favor dependencies for every rutorrent plugin. Instead, I'd prefer you echoing steps to install them.

[2016-08-16 14:32] Fourdee commented on #176
@Ardakilic

FFmpeg is the worst offender :)

I'll leave them in for now, testing, possibly take them out prior to release.

[2016-08-16 14:34] Ardakilic commented on #176
@Fourdee Exactly :) Them being left out at the release would be great then.

[2016-08-16 17:48] bobokun commented on #339
Also very interested in this. I have compiled CouchPotato and Sonarr along with rutorrent/rtorrent on my odroid c2 but it took a lot of time and effort to do. Automating this along will be very useful!

[2016-08-16 17:52] rhkean commented on #339
I'll start working on this over the weekend.

(sorry for the delays, guys)

[2016-08-16 22:00] blindpet commented on #339
I have some code that should help you out - my installer for media servers automates the installation for a lot of the popular automation software. CouchPotato, Sonarr and NZBGet are not compiled as they do not need to be unless outdated guides are being followed - some extensions for CP to speed things up are compiled (libxml but are not necessary). I do not use rtorrent so that is not included.

[2016-08-17 10:16] midwan commented on #474
I've just added the uae4arm-rpi binaries in the dropbox folder. I have compiled a version for RPI1, 2 and 3 so you'll find 3 executables in the archive named accordingly. I've also included the expected folder structure, so that this archive can simply be extracted somewhere and it's ready to go (you still need to add the ROMs and disks/HDFs/whatever of course).

How do we plan to keep them up-to-

[2016-08-17 11:32] Fourdee commented on #474
@midwan

Excellent :+1:

I'd like to make a few changes to `adfdir.conf` if thats ok?:

[code]

This will allow us to install to `/etc/uae4arm-rpi`. `/mnt/dietpi_userdata` allows users to have their roms stored on USB drive/SDcard/custom location as set in `dietpi-software`. DietPi automatically symlinks this directory if located off SDcard: http://dietpi.com/phpbb/viewtopic.php?f=8&t=478
Fileserv

[2016-08-17 11:36] Fourdee commented on #474
I'll get the dietpi-software code added later today for the installation. I'll then give you the instructions for how to test the installation on the testing branch :)

[2016-08-17 11:50] midwan commented on #474
OK with modifying the .conf file, it's a default template anyway. :)

Up to now, the archive has been the same (only the binaries inside it changed, directory structure was the same). I'm thinking if in the future we should give the users the option to choose the version installed, between say a cutting-edge but experimental version and an older but more stable one. In that case, we'll need to ver

[2016-08-17 12:34] Fourdee commented on #474
Sounds good, I think we should use a version id on the binary.zip. Allows us to control the updates, and generally good practice to separate the versions.

Yep, i'd be up for that aswell.
We can create two installations, one for binary and one for source. Lets get the binary installation done 1st and go from there. Depending on when v129 is released, if need be, we can look at adding the source co

[2016-08-17 12:44] midwan commented on #474
It works fine with the latest kernel and system updates (so you can do apt-get upgrade and apt-get dist-upgrade without fear), I was referring to the GPU firmware upgrade only: rpi-update (https://github.com/Hexxeh/rpi-update)

[2016-08-17 13:10] yunfan opened #476 "please update the video4linux support for opi"
hi i found that dietpi on my opi pc can not support fetch mjpg directly from the uvc module
while the same module could be fetch mjpeg on my pc

so i doubt its the video4linux's problem, could you guys fix it?

[2016-08-17 16:31] Fourdee commented on #474
@midwan
I get a black screen after selecting start from the menu, is this the issue with 4.4 kernel you were mentioning earlier, or possibly something else?

I also tried with 4.1.21, same issue.

[code]

[2016-08-17 17:05] Fourdee commented on #474
@midwan

Ok initial sourcecode is done. Some notes for testing:
- No change to kernel version, until we know which kernel version is stable.
- I've enabled the auto start boot service for testing purposes.

### Heres how to install it on DietPi, using testing branch.

#### Method 1 - Automated installation from fresh image:
- Write DietPi image
- Save this file
  [dietpi.txt](https://github.com/Fo

[2016-08-17 18:29] Fourdee commented on #474
@midwan
I completely forgot GPU memory split, 128MB gpu required for uae4arm?

[2016-08-17 19:24] midwan commented on #474
Yeap, it won't work with the default 16MB (I tested it also, you get a black screen and the system hangs). Using 128MB is enough to make it work in my tests, it boots into my Workbench 3.1 HDF normally. No change in the current kernel is required.

I'll get the testing branch version and test things out there as well. From a first investigation, it seems that the dietpi.service takes roughly 4 sec

[2016-08-17 19:52] Fourdee commented on #474
@midwan
- 128MB GPU will be set during installation
- Boot speed, yep.
  Lets try starting uae4arm before dietpi-service. It should be ok as uae4arm doesn't use `/var/log`. The only possible downside would be if the user has `/mnt/dietpi_userdata` set to a network share. So if needed we could have 2 autoboot options "normal" (run uae4arm after everything has finished) and fast (the current mode us

[2016-08-18 11:56] Fourdee commented on #176
@Ardakilic
All done, many thanks for your help on this one, wouldnt of been possible without it, great work :+1:

Docs: http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=2603#p2603

Marking this as closed.

[2016-08-18 11:56] #176 closed, assigned to nobody

[2016-08-18 12:23] Fourdee commented on #468
Completed, docs updated: http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=47#p47

[2016-08-18 12:23] #468 closed, assigned to Fourdee

[2016-08-18 12:33] midwan commented on #474
What would the implications be if the user has set /mnt/dietpi_userdata to a network share? I mean of course they won't be available until the networking service is up, but do you see anything that would block uae4arm from starting if it's configured that way?

Unless there's something that would interfere with that, then it's ok if it runs in the background (in parallel with uae), the same as the

[2016-08-18 12:46] Ardakilic commented on #176
@Fourdee Awesome! Glad to hear it's implemented, thank you for your hard work! 🎉 💃 I'll try as soon as possible and let you know!

[2016-08-18 13:06] Fourdee commented on #474
I think the only issue would be for the user, example:
- System boots
- uae4arm menu is loaded
- User is loading roms from a network share (/mnt/Samba, or any other network location), and the network filesystem mount has not completed yet. The user may say "where the hell did my roms go" :)
  It probably wouldn't happen, but there is a chance it can.

If we wanted to avoid this, I believe we can s

[2016-08-18 13:58] Fourdee commented on #474
@midwan
Any objections if we use?
- `/mnt/dietpi_userdata/uae4arm-rpi/roms/` = ROM directory
- `/mnt/dietpi_userdata/uae4arm-rpi/kickstarts/` - Kickstarts
- `/mnt/dietpi_userdata/uae4arm-rpi/savestates/` - savestates
- `/mnt/dietpi_userdata/uae4arm-rpi/screenshots/` - screenshots

I'll also create symlinks for each, from `/etc/uae4arm-rpi/folder` to `/mnt/dietpi_userdata/uae4arm-rpi/folder`

`/mnt

[2016-08-18 15:00] Fourdee commented on #474
@midwan
RPi 3 on DietPi install (used GIMP to convert the .svgz, not sure what happened there lol):
![image](https://cloud.githubusercontent.com/assets/7077026/17778683/cd181600-655c-11e6-8e9d-e2b2d8bcbef2.png)

[2016-08-18 17:21] ThomasKaiser opened #477 "Improved NEO settings"
Just FYI, I did a lot of testing regarding consumption, temperatures and so on and at Armbian we came up with new NEO settings. We come out of u-boot with 480/408 MHz (cpu/DRAM) and limit maximum cpufreq to 912 MHz since this ensures that the SoC will be fed with 1.1V VDD_CPU all the time and also some more heavy tests always ended up in NEO deadlocking when allowing 1200 MHz (on 4 different NEOs

[2016-08-18 17:46] Fourdee commented on #477
@ThomasKaiser

Thanks for letting us know :+1:
Is this active in the .fex yet https://github.com/igorpecovnik/lib/blob/master/config/fex/nanopineo.fex,?

Doesn't sound good for the board. Hardware limitation/design defect?
Its a shame, I think the NanoPi NEO is a stunning device, yes H3 and not 1GBit ethernet, but its an impressive headless miniature SBC and cheap as chips.

[2016-08-18 18:40] midwan commented on #474
I did some quick tests today:
- Updating to the latest firmware does not break uae4arm, at least not in DietPi. Perhaps in my earlier tests I had forgotten to check the memory split and that's why I got the black screen problem. In any case, it does not seem to be an issue.
- I tested a new compile of uae4arm in which I had added an extra resolution in the Picasso96 modes: 1920 x 1080 (1080p). It

[2016-08-18 19:33] k-plan commented on #477
@ThomasKaiser

thank you very much. Interesting comparison and testing results. 👍
You on the way for a Allwinner H3 guru. 😃

[2016-08-18 19:37] midwan commented on #474
I've just tested the "testing" branch, good work in automating everything! :)

I compared the startup times with systemd-analyze and converted the plots from both DietPi "testing" and my own AmiBerry:

DietPi:
![dietpi-testing](https://cloud.githubusercontent.com/assets/3877365/17787639/3fb60244-658a-11e6-82a9-db3a16f9d469.png)

AmiBerry:
![amiberry-startup](https://cloud.githubusercontent.com/ass

[2016-08-18 19:57] midwan commented on #474
Good news, I managed to speed it up further! 👍

Adding `boot_delay=0` in the `config.txt` saves us 1 second, since by default it waits for 1 second until the SDcard is ready before it boots. I haven't seen any problems with my cards with setting this to 0, but they may be an issue potentially with low quality cards.

After modifying the boot_delay, I went on to further speed things up in the booti

[2016-08-18 20:23] ThomasKaiser commented on #477
Well it's not meant for HPC but for an IoT node or small headless device. I think some design decisions like single bank DRAM configuration or LDO regulators instead of buck converters limit the use cases but hey... it's tiny and when used with the right settings everything is ok.

The above is the correct fex but as already said we use a different u-boot configuration and board/cpufreq config as

[2016-08-18 20:27] midwan commented on #474
One more modification which seemed to speed things up a bit, but not very consistently during reboots:
Set the default boot mode to console:

[code]

The best results I got after a few tries, were these:
![dietpi-consoleboot](https://cloud.githubusercontent.com/assets/3877365/17789520/d2f8a590-6592-11e6-9dc1-280644be4f4e.png)

you may want to test this one on your end as well though. ;)

[2016-08-19 11:14] Fourdee commented on #474
@midwan
Impressive results :+1:  If i'am reading this right, roughly 2.42~ - 2.46~ seconds boot time?

Ok, so, I'am going to work on the `dietpi-autostart` options today. Based on your results, heres what I've planned:

#### Option 1: Uae4arm (fast boot)

< 3 seconds. Fastest possible boot time to uae4arm. May be unstable with certain SDcards.
- Your startup systemD service
- `boot_delay=0` in the

[2016-08-19 11:23] midwan commented on #474
Regarding the `console=tty3` option, it doesn't actually disable it entirely. It just moves them to tty3, which can be accessed with Ctrl-Alt-F3 if you want to.
It doesn't have to be enabled by default, but what about having it as an option (for those novice Linux users who don't want to see those messages)? Perhaps only an option if you select the "fast boot" method?

[2016-08-19 11:37] Fourdee commented on #474
Yep, but most novice users wouldn't know how to do that :) If the boot fails, they would be staring at their monitor with a blank screen and probably say "its broken" lol.

Ok, lets make "fast boot" to your specs. We can always add a whiptail message, highlighting the benefits of using this mode, and, possible drawbacks (eg: `boot_delay=0` might break SDcard boot)?

[2016-08-19 11:43] midwan commented on #474
I have never seen boot fail due to `boot_delay=0` (yet), but theoretically it would probably mean that the boot device was not found because it needed more time to initialize, and the whole process would stop there - unless it retries after a bit.
The worst case scenario would be that the user can't boot from that card anymore. They'd need to plug it to another working machine and edit the config.

[2016-08-19 11:52] Fourdee commented on #477
@ThomasKaiser

[code]

[code]

Looks like thermal throttling is kicking in on mine < 10 seconds in:
Governor = performance

[code]

[2016-08-19 12:45] Fourdee commented on #474
Perfect:

![image](https://cloud.githubusercontent.com/assets/7077026/17810100/e854f792-6612-11e6-8ea8-3f549d6a1b63.png)
![image](https://cloud.githubusercontent.com/assets/7077026/17810105/ec342a36-6612-11e6-846a-a85120aa3235.png)
![image](https://cloud.githubusercontent.com/assets/7077026/17810110/f01bd25c-6612-11e6-8a5c-b749e3fc6be8.png)
![image](https://cloud.githubusercontent.com/assets/70770

[2016-08-19 12:50] midwan commented on #474
👍 Looks good!

[2016-08-19 12:52] Fourdee commented on #474
@midwan
I just need to add in these options to the code: https://github.com/Fourdee/DietPi/issues/474#issuecomment-240992216

Heres the updated automated installation config for uae4arm with autoboot 6 set (fast boot):
[dietpi.txt](https://github.com/Fourdee/DietPi/files/426988/dietpi.txt)

[2016-08-19 12:52] midwan commented on #474
Thanks, I'll test it out and get back to you!

[2016-08-19 13:32] Fourdee commented on #474
Yep, confirmed. Seems very inconsistent in which combination of settings actually works, and when. Either that, or I've misunderstood the menu lol

[2016-08-19 14:25] Fourdee commented on #473
@k-plan

I can't replicate this. WiFi works everytime for me.

Although, did get some warnings in dmesg aswell:

[code]

But good news, i fixed stats for RPi onboard wifi while I was there lol:
![image](https://cloud.githubusercontent.com/assets/7077026/17812940/2fcbe9e2-6621-11e6-8756-ae50dfdb5cbc.png)

[2016-08-19 15:30] ThomasKaiser commented on #477
To be expected since idle temperature was already just 7°C below first thermal trip point -- please keep in mind that [when using mainline u-boot with legacy H3 kernel for whatever reasons thermal readouts are somewhat off](http://forum.armbian.com/index.php/topic/1850-pi-fan-issues-on-orange-pi-pc/?p=14263), so having some safety headroom is important.

Well, I hope that's not default? `Interacti

[2016-08-19 15:57] Fourdee commented on #477
@ThomasKaiser

Hehe, no we dont use `performance` by default. The only images I know that do, are the official Odroid Ubuntu images.

`ondemand` is default on all DietPi images with a 25ms sampling rate (25000)  `/sys/devices/system/cpu/cpu"$i"/cpufreq/ondemand/sampling_rate` and 2 second before down sampling (80) `/sys/devices/system/cpu/cpu"$i"/cpufreq/ondemand/sampling_down_factor`.

We also se

[2016-08-19 16:04] Fourdee commented on #477
@ThomasKaiser

Curious, if 80'c is the thermal limit, and we get 73'c readout, hows does the kernel know its 80'c, or is thermal throttling controlled by the H3 SoC on a hardware level?

[2016-08-19 16:53] ThomasKaiser commented on #477
It's Allwinner's budget_cooling stuff, so it's a driver reading fex settings and taking care of CPU/GPU throttling according to settings (search for `ths` and `cooler` in fex file). In short: You define thermal trip points (temperatures) that lead to different states (throttling down or shutting down CPU cores). This mechanism in Allwinner's BSP 3.4.x kernel is the same for H3, A64 and (in case yo

[2016-08-19 18:12] k-plan commented on #473
- Starting from the schrach: RPi 3 with DietPi v.128 (fresh install from DietPi_v127_RPi-armv6-(Jessie))
- `dietpi.txt` `config.txt` `cmdline.txt` without any changes, no automated install
- auto-update to v.128 on first bootup => auto reboot
- first install config dialog, no usb device, selecting only "MC" and "DietPi-Ramlog #2" for install     => auto reboot
-  `dietpi-config` selecting "WiFi"

[2016-08-19 18:31] Fourdee commented on #473
@k-plan

You probably have already checked this, but just incase:
Are you using `dtoverlay=sdhost,overclock_50=xx` in `config.txt`?

[2016-08-19 18:35] k-plan commented on #473
@Fourdee

No! As written before, all stock and no changes.

[2016-08-19 18:38] Fourdee commented on #473
@k-plan
I only asked, because I've done it a few times. Wondering why WiFi didn't work lmao ;)

[2016-08-19 18:54] Fourdee commented on #477
@ThomasKaiser

If the cpu load and overheads affects sampling rate ticks consistency, or the ability to sample, then yes. Although I wouldn't know.

Interesting, but for non-GPIO users, a realtime enabled kernel with a realtime hardware clock would be more beneficial for "time critical stuff"?

Or, for the same effect using a lower clock and possibly lower vcore:

[code]

This I didn't know. Will

[2016-08-19 20:20] k-plan commented on #473
Didn't work as well.

It's seem so, on board wifi is fu ... up.

Why? Hmm ... can't say exactly. Have tested the "new" RPi 3 Boot Mode MDS: https://www.raspberrypi.org/documentation/hardware/raspberrypi/bootmodes/msd.md

[code]

But anyway. Have now blacklisted `blacklist brcmutil` and `blacklist brcmfmac`.
When tested with a USB WiFi stick and this one works immediately.

I am so sorry Fourdee, w

[2016-08-19 20:20] #473 closed, assigned to Fourdee

[2016-08-19 21:13] Fourdee commented on #473
@k-plan

No worries :+1:
A Raspberry Pi with a hardware failure? Not something you hear often, might be worth poking RPi for a free replacement ;)?

[2016-08-20 06:56] Gabba35 commented on #354
I am also very interested in this and I have made a comment in that thread. I have made a small donation.

I recall reading something about not being able to use Perl 5.22 on the Odroid C2.

[2016-08-20 13:50] Fourdee commented on #354
#### The issue:

LMS will not run due to "missing or failed" loading of Perl modules.

[code]

[2016-08-20 13:50] Fourdee commented on #354
#### Notes: Attempt 1:

apt-get install missing perl modules, using this package list: https://packages.debian.org/jessie/perl/

:u6307: XML::Parser::Expat

[code]

:u55b6: HTML::Parser | Already installed, no effect

[code]

:u55b6: DBI |  installs, no effect

[code]

:u6307: JSON::XS

[code]

:u55b6: Sub::Name | Installs, no effect

[code]

:u55b6: YAML::XS | Installs, no effect

[code]

:u55b6:

[2016-08-20 16:39] Fourdee commented on #354
#### Notes:

Following instructions from binary:

[code]

Same issues as per: https://github.com/Logitech/slimserver-vendor/issues/9. Even with the updated config.x files. Fails to build.

[code]

[2016-08-20 16:46] Fourdee commented on #354
#### Notes:

Build CPAN modules:

[code]

nts, check paths

[2016-08-20 21:14] Ardakilic commented on #116
Just a heads-up. I've installed from that dev2day repo above just fine on ODROID-XU4 to DietPi. I wonder how it's handled but the current one on DietPi is a bit behind I guess.

[2016-08-21 10:42] Fourdee commented on #116
@Ardakilic
DietPi currently uses the dev2day repo for PMS on ARM devices: https://github.com/Fourdee/DietPi/blob/master/dietpi/dietpi-software#L3978-L4039

[2016-08-21 10:44] Ardakilic commented on #116
@Fourdee Oh my mistake then, totally missed that x86_64 sign :+1:

[2016-08-21 12:45] k-plan opened #478 "DietPi-Software | pi-hole/AdminLTE update hint"
@Fourdee

![160821-0001](https://cloud.githubusercontent.com/assets/17237601/17837236/7a3d78e6-67ad-11e6-8eb0-499a94b44ed4.gif)
really annoying.

[2016-08-21 14:05] Fourdee commented on #478
@k-plan

Yep. I'am going to have a rethink about Pihole on DietPi and how we install it. Possibly get rid of our Pihole/fork and use their master branches.

Whats the update link target URL?

[2016-08-21 14:11] Fourdee opened #479 "DietPi-Software | Revisit and test Letsencrypt (Certbot) with Lighttpd"
Using aar0nism's guide posted above.

Currently we only allow installation on apache2.

[2016-08-21 14:14] #357 closed, assigned to xenfomation

[2016-08-21 14:15] #351 closed, assigned to nobody

[2016-08-21 14:16] k-plan commented on #478
@Fourdee

https://github.com/pi-hole/AdminLTE/releases

changes: https://github.com/pi-hole/AdminLTE/wiki/Changelog

![-16827203](https://cloud.githubusercontent.com/assets/17237601/17837718/f6ec44f0-67ba-11e6-94cf-f0984fa88280.png)

_new logo, used ram in footer, cpu temp. in header, ... but no new pi-hole version_

[2016-08-21 14:17] Fourdee commented on #41
As of v128, DietPi-Software has been re-written to use a self contained array/DB system : https://github.com/Fourdee/DietPi/issues/453.
SQL DB is no longer required.

[2016-08-21 14:17] #41 closed, assigned to nobody

[2016-08-21 14:48] k-plan commented on #478
@Fourdee

... is the alert popup on every refresh : https://github.com/pi-hole/AdminLTE/blob/master/header.php#L96

... and three PayPay donation links on one single webpage!
... and loading "https://www.paypalobjects.com/en_US/i/scr/pixel.gif" on every refresh!

I`m back on my old (modded) Pi-hole 2.6.3 ...

![160821-0004](https://cloud.githubusercontent.com/assets/17237601/17837953/9421b462-67c0

[2016-08-21 17:51] Fourdee commented on #474
@midwan
I've just released v129 and nudged this to v130 so we can continue work on it.
I just want to make sure we get the installation perfect, and, gives us some extra time.

[2016-08-22 10:25] Fourdee commented on #354
Finally getting somewhere:
![image](https://cloud.githubusercontent.com/assets/7077026/17851664/127b611a-685b-11e6-9e73-bb8add5a7a4d.png)

[2016-08-22 16:00] WolfganP commented on #238
FYI, RPI_Monitor releases v2.11 into production https://github.com/XavierBerger/RPi-Monitor/releases/tag/v2.11

[2016-08-22 16:59] Fourdee commented on #238
@WolfganP
Thanks for letting us know.

DietPi v130 will install 2.11, although, it appears to break Rich's USB drive additions: https://github.com/Fourdee/DietPi/issues/410

![image](https://cloud.githubusercontent.com/assets/7077026/17863621/3736f6c2-6892-11e6-93c8-36b0f7307e05.png)

[2016-08-22 17:04] Fourdee commented on #354
Current issues:
- Music scan does not work, scan does not return any results.

[code]

[2016-08-22 17:12] Fourdee commented on #354
@Gabba35
Looking good, should make v130 release:
![image](https://cloud.githubusercontent.com/assets/7077026/17863982/f9c5cce4-6893-11e6-930b-0c627abe5bc1.png)

[2016-08-22 18:49] midwan commented on #474
Sure, no problem. :)
Could we add some sort of reference to AmiBerry in this?

[2016-08-23 09:49] Fourdee commented on #474
@midwan

Yep no worries.
I'll also mention the collab with AmiBerry in the changelog, and the online docs. If you can think of anything else, and/or have a preferred wording/description, please let me know.

#### I believe all that is left on this ticket is:

:u5408: Online documentation.
:u5408: ? Installation option to compile Uae4ARM (I'll need any notes you have on building)
:u5408: ? Possibil

[2016-08-23 10:41] Gabba35 commented on #354
Thanks a lot Fourdee! Looks like you've cracked it! Seems like it wasn't too straight forward. What were the main issues (in fairly lay language!)?

[2016-08-23 11:35] midwan commented on #474
Great!
I've been working on setting up an environment to allow me to further develop uae4arm these days, and yesterday I reached the first milestone: a working cross-compiler with the ability to remote debug the emulator. Now I can start fixing some of those bugs and try to merge in the latest WinUAE sources from the various pieces.

I have a Pine64 so I will try to port it over to that as well.

[2016-08-23 17:37] Fourdee commented on #354
@Gabba35

C2 LMS+Squeezelite working perfectly. Will be available in DietPi v130.

LMS uses Perl CPAN modules. As far as I can tell, LMS do not bundle the ARM64 binaries for these in their 7.9 deb package. Notice the ARM-hf (ARM32), i386 (32bit PC), x86_64 (64bit PC) but no ARM64.
![image](https://cloud.githubusercontent.com/assets/7077026/17902521/982c9a04-695f-11e6-8a7f-03f80e2eb66e.png)

So bas

[2016-08-23 17:39] k-plan commented on #448
Hi,

are where any news? Thanks.

[2016-08-23 17:41] Fourdee commented on #354
Note to self:
Test Pine A64

Edit:
Working fine

[2016-08-23 17:51] Fourdee commented on #474
@midwan

Excellent :+1:, sounds like a awesome setup. Would be great to see any improvements to Uae4ARM.

Brilliant, I can test the Odroid C2 at my end (ARM64) with your binaries.

Usually, I just add a new post for the documentation on our PhpBB forums: http://dietpi.com/phpbb/viewtopic.php?f=8&t=5#p5 (I'd like to have a better/cleaner system for the online docs, but it works for now)
I can also

[2016-08-23 19:09] Fourdee opened #481 "rpi-update 4.4.19 breaks RPi 2 boot?"

[2016-08-24 11:18] Fourdee commented on #472
@k-plan

Considering an option called:
- Pefer IPv4/6 in `dietpi-config`.

This way, we can apply to apt-get now, then we can add other programs/network configs (if we find any) at a later date?

[2016-08-24 11:38] Fourdee commented on #472
@k-plan

Seems to work (I dont have a IPv6 network). Will add to dietpi-config.
![image](https://cloud.githubusercontent.com/assets/7077026/17929263/38b02cd8-69f7-11e6-94b2-eac64313e987.png)

[2016-08-24 12:14] Fourdee commented on #472
@k-plan

Think I may leave this option out of `dietpi-config`. Its very "custom/advanced" and most users don't need this option.
It will most likely confuse the user, especially considering we already have a IPv6 toggle option in there.
Whats your thoughts?

For now, you can set this via:

[code]

To have this applied on a fresh image automatically, in `dietpi.txt`, set https://github.com/Fourdee/

[2016-08-24 12:37] Fourdee commented on #354
Completed. LMS+Squeezelite Available in v130 for ARM64 devices.

[2016-08-24 12:37] #354 closed, assigned to Fourdee

[2016-08-24 12:56] Fourdee commented on #481
Working fine my end:
![image](https://cloud.githubusercontent.com/assets/7077026/17931286/98ddfe40-6a02-11e6-8b93-207c443bb9a0.png)
Will discuss with user on forum,.

[2016-08-24 12:56] #481 closed, assigned to Fourdee

[2016-08-24 14:45] Fourdee commented on #448
Note to self:

Libaries:
- https://www.webtoolkit.eu/wt
- http://cppcms.com/wikipp/en/page/main

IDE's:
- VS2015 + https://visualstudiogallery.msdn.microsoft.com/725025cf-7067-45c2-8d01-1e0fd359ae6e
- http://www.linuxandubuntu.com/home/8-best-ides-or-code-editors-for-linux
- https://code.visualstudio.com/

[2016-08-24 17:42] k-plan commented on #472
@Fourdee

It is okay for me. Yes, very special feature, only for people who have or use a dual stack network .
But IPv6 is the future - IPv4 is dead. :smile:

 `/DietPi/dietpi/func/dietpi-set_hardware preferipversion ipv4`

puh, very long for typing in, but anyway.
I have a look into your code and `dietpi.txt`

[code]

precise/clearly/better it will be at the moment to say "all" or "both":

[code]

[2016-08-25 00:48] Gabba35 commented on #354
Awesome, thanks for the explanation. Putting it all together would have been way beyond what I am capable of. Thanks so much for getting it working!

[2016-08-25 02:09] tr0yspradling commented on #448
I'll be updating the repository tonight. I'll post back here when I do.

[2016-08-25 02:10] tr0yspradling commented on #448
@Fourdee I considered using [Crow](https://github.com/ipkn/crow).

[2016-08-25 03:35] tr0yspradling commented on #448
I haven't been able to get as much done as I hoped, I had another project taking up most of my time.

Check out [DietPi-Dashboard](https://github.com/tr0yspradling/DietPi-Dashboard) to see what's there. It needs cleaned up and reorganized a little, some of the major features aren't implemented yet.

[2016-08-25 09:43] Fourdee commented on #354
@Gabba35
We still have a bit to do on v130 before its released: https://github.com/Fourdee/DietPi/milestone/31

In the mean time, you can do a install of LMS by using the testing branch: https://github.com/Fourdee/DietPi/blob/master/TESTING-BRANCH.md#steps-to-use-the-dietpi-testing-branch
I'd recommend using a different SDcard if you use the testing branch.

[2016-08-25 10:08] Fourdee commented on #448
@tr0yspradling

No worries :+1:

I'am a bit of a Python "n00b" (Its like reading an Alien language for me, with a few English letters and numbers in-between lol) , but i'll give it a whirl, `run.py` to launch?

[2016-08-25 10:39] Fourdee commented on #448
Notes: Quick install deps and run:

[code]

@tr0yspradling Expected?

[code]

[2016-08-25 10:46] Fourdee commented on #472
@k-plan

:+1:

Maybe `auto`? As in "Let the system decide"?

[2016-08-25 11:58] k-plan commented on #472
@Fourdee

:+1:  Yes, or maybe `any`?  Still better then `all` or `both`.

:smile:

[2016-08-25 12:38] Fourdee commented on #478
Now i remember why we have a fork.
- Their install script (https://github.com/pi-hole/pi-hole/blob/master/automated%20install/basic-install.sh) only allows for Lighttpd.
- `/var/www/html`, we use `/var/www/pihole`
- We dont need to install Git packages.

Ideally, I'd like to rewrite their basic_install.sh script, allow for either Lighttpd/Nginx/Apache2, would make this installation much simplier.

[2016-08-25 12:39] Fourdee commented on #472
@k-plan
Went for `auto`, but your right, `none` wasn't good :+1:

[2016-08-25 15:45] tr0yspradling commented on #448
The application depends on several python packages. The python package index can be installed with
`sudo apt install python-pip`
and the dependencies can be installed by running
`sudo pip install -r requirements.txt`

I'm creating a virtualenv and startup script for it now. I'll update when I've finished my modifications.

[2016-08-25 17:45] k-plan commented on #478
@Fourdee

tested on Pine64 with nginx webserver:
- update notification has gone :smile:
- click on `Pi-hole` in top right corner doesn't open a pop-up like on your screen-shot
- `Temp:` didn't work on Pine64

![pihole](https://cloud.githubusercontent.com/assets/17237601/17979723/64e18fa8-6afc-11e6-9a58-19dec3786572.gif)

[2016-08-25 18:27] Fourdee commented on #478
@k-plan
No menu seems to be related to Nginx.

Temp issue related to PineA64, fine on C2.

I dont have a Pine setup at the moment, whats the values of:

[code]

[2016-08-25 20:50] tr0yspradling commented on #448
Check [DietPi-Dashboard](https://github.com/tr0yspradling/DietPi-Dashboard). Executing `./start` should work.

[2016-08-26 10:56] thehijacker commented on #339
I too am very interested in having automated install of:
- NZBGet
- SickRage
- Headphones
- CouchPotato

Please let me know if I can help with any kind of testing. I am using Orange Pi PC image.

[2016-08-26 11:31] Fourdee opened #482 "DietPi | Create image for NanoPi M2"
Many thanks to @k-plan for sending the board (and some Haribo :laughing: ) :+1:

[2016-08-26 11:35] Fourdee commented on #482
No ARMbian support for this one (yet), so i'll try the official Debian images.

[2016-08-26 14:09] Fourdee commented on #448
@tr0yspradling

Tried on my test rig (Odroid C2, ARM64):

[code]

I'll power up a RPi and try it.

[2016-08-26 14:34] Fourdee commented on #448
@tr0yspradling

I love where this is going. This is exactly what DietPi needs. Great work :+1:
![image](https://cloud.githubusercontent.com/assets/7077026/18009068/98c183ae-6ba2-11e6-988b-f67f305f0e0a.png)

Ps. you should put "DietPi-Dashboard created by tr0yspradling/realname" in the footer ;)

[2016-08-26 14:58] Fourdee commented on #482
Image is done and available on http://dietpi.com/download

Need to try and fix:
- CPU temp readouts

Cant be right:

[code]

Feels like 65'c+ on touch.

Doesn't look like we will be able to measure CPU temp for this device. `/sys/devices/platform/nxp-adc-tmp.0/temp_*` always return same values. Cant find another other `/sys/` locations with `temp` or `thermal` in the name.

[2016-08-26 17:17] tr0yspradling commented on #448
I'll have to go through and check the supported architectures for each supported platform. I didn't think of that.

I should have done this from the start, but I'll go through and pull the data from the special file: `/proc/cpuinfo`

[2016-08-26 17:17] tr0yspradling commented on #448
We should start reporting issues to the dashboard repository so it's more organized.

[2016-08-26 17:55] Fourdee commented on #448
@tr0yspradling

Good call :+1:
I'd like to add a few tickets with features I'd like to see, and discuss their implementation if thats ok?

[2016-08-26 17:56] tr0yspradling commented on #448
Absolutely. Check your email!

[2016-08-26 18:56] WolfganP commented on #448
Looks great guys, good work

[2016-08-27 05:19] bhaveshgohel commented on #448
@tr0yspradling Neat and clean, that's what needed! Awesome! :+1:

[2016-08-27 10:11] Fourdee commented on #482
Marking this as done. Unfortunately, no CPU temp readouts available at this time.

[2016-08-27 10:11] #482 closed, assigned to Fourdee

[2016-08-27 14:01] Fourdee opened #483 "DietPi-Software | Provide links to online docs for installed software"
As title.

Had to get links added to an array anyway (prep for dashboard scraping: https://github.com/tr0yspradling/DietPi-Dashboard/issues/1), so thought, why not :)

[2016-08-27 14:02] Fourdee commented on #483
Available in the Help! section (Scrollbar is hidden, cant find out why lol):
![image](https://cloud.githubusercontent.com/assets/7077026/18027880/256986fc-6c67-11e6-8c89-ab383df3e388.png)

And:

[code]

[2016-08-27 14:20] Fourdee commented on #483
Although scrollbar still hidden ( I have no idea why and cant find a solution)
Marking as completed.

[2016-08-27 14:20] #483 closed, assigned to Fourdee

[2016-08-27 14:40] k-plan commented on #482
@Fourdee

yes, I didn't find any CPU Temp. value. Perhaps something in the prebuild debian image/kernel is missing.

And the ext4 boot partition is as well annoying.

Yes, correct. My [Pyrometer](https://en.wikipedia.org/wiki/Pyrometer) shows up as well something like that. Better to put on a heatsink for Samsung Cortex-A9 S5P4418 CPU.

But anyway, nice job Fourdee. 👍

[2016-08-27 14:47] Fourdee commented on #478
@k-plan

Yep, something I broke on our fork. Will take a look.

[2016-08-27 14:55] k-plan commented on #478
@Fourdee

sorry, but my Pine64 is 50 miles away and offline. So i can do it earliest next week.

But, if I remember it correct, it was:

[code]

Verify it next week.

[2016-08-27 14:56] Fourdee commented on #478
@k-plan
Turns out Java script needs quotations lol

Fixed :)

PiHole must be pulling temp in a different way, I'll test on Pine here and check.

[2016-08-27 15:14] Fourdee commented on #482
@k-plan

Yep, I know, same here.
If i get some time, i'll look at compiling from scratch using: http://wiki.friendlyarm.com/wiki/index.php/NanoPi_M2#Make_Your_Own_OS_Image and hopefully set vfat and fix cpu temp readout.

I'll add a Pyrometer to my wish list lol :+1: I've got a spare RPi heatsink, tiny, but should be better than nothing :)

[2016-08-27 15:33] Fourdee commented on #478
Done, temp readout now working on Pine A64,  I'll send a PR to Pihole with above changes.

[2016-08-27 15:33] #478 closed, assigned to Fourdee

[2016-08-27 15:55] Fourdee commented on #478
https://github.com/pi-hole/AdminLTE/pull/129

[2016-08-28 08:31] midwan commented on #474
I've just updated the uae4arm binaries on Dropbox. The latest version incorporates some bugfixes and some code that should help fix the LED problems with a Keyrah adapter if you have it.

They are also smaller in size, since I compressed the executable (it will decompress itself during runtime).
I haven't changed the RPI-1 binary, since I'm still trying to compile that one correctly. The changed o

[2016-08-28 11:58] Fourdee commented on #474
@midwan

Nope, but I ended up browsing http://amigakit.com/ for a good half hour lol.

Excellent :+1:  i've uploaded the new zip to dietpi.com. Next time you install from testing branch, it will use your updated zip.
I'll run a test install today on RPi 3.

Any updates on documentation, or still in the works?

[2016-08-28 11:59] midwan commented on #474
I'll work on the docs later today, should not take too long.

On Aug 28, 2016 13:58, "Dan" notifications@github.com wrote:

[2016-08-28 13:06] Fourdee commented on #474
@midwan

Appears Uae4ARM doesn't support/display symlinks when browsing filesystem.

So, datapaths for user uae4arm data (roms/kickstarts etc) are:
- SDcard only = `/mnt/dietpi_userdata/uae4arm-rpi`
- USB drive installed via DietPi = `/mnt/usb_1/uae4arm-rpi`

[2016-08-28 14:44] k-plan commented on #477
@Fourdee

playing around with NanoPi NEO, with mounted [FriendlyARM heat sink](http://www.friendlyarm.com/index.php?route=product/product&product_id=134).

Using fresh installed DietPi V129  image.

[code]

Installed via `dietpi-software` : `Build-Essentials` and `Git Client`
Installed via `apt-get` :  `cpufrequtils` and `sysbench`

Reading this: http://www.cnx-software.com/2016/03/17/rpi-monitor-

[2016-08-28 15:54] Fourdee commented on #474
@midwan

#### Questions:
- AROS KS ROM (built-in) does not work for me. Just get red lines on screen. Is this expected?
- Can we provide Kickstarter roms files (eg: 1.3) with our installation, is it legal?

#### From my testing. To successfully run uae4arm:
- Start uae4arm via `systemctl start uae4arm-rpi` (if not set for autostart during boot)
- Select "Load autostart.uae" (This never auto loads

[2016-08-28 16:20] Fourdee commented on #477
@k-plan

Epic testing and report :+1:

Was 16 seconds quicker.
I'am just wondering if we should switch to interactive for all DietPi images by default?
If we can test some of the main boards (eg: RPi), and verify they have improved results with interactive, seems logical?

Looks like those settings are now default in ARMbian neo.fex https://github.com/igorpecovnik/lib/commit/95fa82256fe3fdf6db0e2f

[2016-08-28 16:39] ThomasKaiser commented on #477
It's really great that you provided the screenshots since this makes it more easy to explain the mistakes made when testing.

First: sysbench is crap as used now. Always. You find all reasons here: http://forum.armbian.com/index.php/topic/1748-sbc-consumptionperformance-comparisons/

You started with ondemand governor and then switched to interactive. Useless for this mode of operation since throt

[2016-08-28 16:57] midwan commented on #474
Regarding the data paths:

UAE4arm is compiled with predefined search paths for the "data" folders, expecting them to be in the same folder the binary is in. So the structure should look like this:

uae4arm-rpi
data/
conf/
kickstarts/
savestates/
screenshots/

We could change that in the compiled binary if it makes sense, but usually it's fine if you keep things together. Anything extra, such as p

[2016-08-28 17:16] k-plan commented on #477
@ThomasKaiser

👍  yes you are totally right!

Sollte auch kein "wirklicher" Test sein, der deinen das Wasser reichen kann.
War nicht meine Absicht oder mein Ziel. Kann ich auch gar nicht.
Man sollte vielleicht im Auge behalten, ich bin einfacher "noobs" oder "DAU" mit Null Komma Nix  Ahnung von Linux, Kernel, Programmierung, Entwicklung Scripting oder was auch immer. Schon das nachzumachen oder nu

[2016-08-28 17:34] k-plan commented on #477
@Fourdee

hmm, did this, because tkaiser wrote:

If you have a look on the screenshots, you can see, what he wants do say.
Governors strategie do change things in VCore, Cooling State, DRAM Freq. and max. CPU Freq.
And for sunix devices , where can be take influence on this via `script.bin`.

[code]

RPi, Odroid, etc. do this by other ways. So without a really in-deep testing (by Thomas Kaiser) we

[2016-08-28 17:46] midwan commented on #474
Hi Dan,
I'm attaching the first documentation file here, hope that's ok.
I've marked some areas with yellow so we can work on those and update them accordingly. Let me know if we should include any additional info or if you have any comments on this. It's a first draft, we could improve it further with some input (and coffee). :)

The format is .odt, I assume that's OK? If not, let me know what fo

[2016-08-28 17:55] Fourdee commented on #474
@midwan

Yep, as dietpi uses a single location for userdata `/mnt/dietpi_userdata`, during installation we create symlinks to replace the following folders:

[code]

So in general terms, those folders exist in `/etc/uae4arm-rpi/`, but are pointing to `/mnt/dietpi_userdata/uae4arm-rpi/[foldername]`
But as I mentioned earlier, uae4arm (at least the front end) cannot see or browse symlinks. So could

[2016-08-28 19:35] Fourdee commented on #474
@midwan
Nice documentation :+1:

Based on your documentation, I tried to replicate what a new user would need to do, step by step.
I ended with up this: http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=64#p64

Aside from 'First Run Setup', all items in RED are areas I'd like to discuss/improve. If you have any other areas you'd like to discuss, please let me know.