[2018-11-16 19:38] Fourdee commented on #2223
#### Test logs to /dev/null
[code]

- 🈴 Check GUI logs page, causes application to crash.

[2018-11-16 19:40] Fourdee commented on #2223
Ok, lets go with .```txt``` logs only to ```/var/log/sonarr```?

Appears .db always logs everything, regardless of log level.

[2018-11-16 23:58] Dr0bac commented on #2223
@Fourdee

Logs can be cleared from sonarr web ui.. maybe we can trigger that every ??? minutes within config file or similar..

**Clearing Logs**

**You can clear log files and the logs database directly from the UI, under System -> Logs -> Files and System -> Logs respectively**

Also is there a way to store those nzbdrone.db and logs.db files in ram without deleting it every ??? minutes..those f

[2018-11-17 07:15] optio50 commented on #2241
Seems to work. Thanks :-)

[2018-11-17 09:49] janbildsoehansen opened #2254 "on uninstall of netdata.. is delete my etc file folder.!"
## Creating a bug report/issue:
sory for my bad english :/

want to delete netdata thru my dietpi software uninstaller just to install it again but after starting my uninstall of netdata sudenly it stop and made a erorr of some sort made a reboot not thinking more about it and then i cant boot up it says im missing some files

but the disk to my mac and can se that im missing my etc file folder no

[2018-11-17 09:56] Micha-Btz commented on #2249
this script should do what I want. If /DietPi/dietpi/.update_available is created, the script send me an email.

root@DietPi:~#  cat /etc/cron.daily/update
[code]

[2018-11-17 11:39] FlameFireling commented on #2250
I installed it using "apt-get install" from the raspbian repository.

[2018-11-17 17:04] Fourdee commented on #2254
@janbildsoehansen

Many thanks for the report 👍

We'll need some more details to assist.

Please can you confirm:
- DietPi image used (eg: NativePC)?
- Hardware used (eg: Raspberry Pi 3)?
- Additional software installed on the system?
- Any manual changes to system, outside of DietPi scripts?

---

The current uninstall script, would not remove ```/etc``` from the system:
[code]

I suspect a files

[2018-11-17 17:39] Fourdee commented on #2223
@Dr0bac

Great idea, but I don't believe we can, lack any API/CLI for web control outside of its webpage.
No documentation on the available config.xml options either from what I can see.

Could work, we can move to /var/log and exclude the ```db``` files from clear. Only issue is memory usage. Although, we have a 2GB - RAM swapfile, so we should be covered.

Hmm, but if system left on for X days,

[2018-11-17 18:58] Fourdee commented on #2223
Radarr/Sonarr/Lidarr:
🈯️ Install
🈯️ log clear + UI fine
🈯️ Reinstall

[2018-11-17 22:21] Fourdee commented on #2211
Beta testing now live for v6.18 release:
https://t.co/1fEdFPyBya

Will try and wrap up a few more tickets in the next few days.

[2018-11-18 03:38] Kreeblah opened #2256 "ODROID 3.5" LCD shield backlight not turning on with the current kernel"
## Creating a bug report/issue:

#### Required Information:
- DietPi version	| v6.17.12
- Distro version	| stretch
- Kernel version	| `Linux DietPi 3.16.57+ #1 SMP PREEMPT Sun Aug 19 15:27:56 CEST 2018 aarch64 GNU/Linux`
- SBC device		| Odroid C2 (aarch64)
- Power supply used	| https://ameridroid.com/products/5v-2a-power-supply
- SDcard used		| https://ameridroid.com/products/emmc-module-c2-linux-

[2018-11-18 06:28] panjisn commented on #2087
I am so confused about how to put the correct wifi key.. why should we need to type so weird character ? if my wifikey is "wakanda" how should i type ?

[2018-11-18 09:50] optio50 opened #2257 "PREP_SYSTEM_FOR_DIETPI.sh fails because https is enabled in sources.list"
PREP_SYSTEM_FOR_DIETPI.sh
Method https has died unexpectedly
fails because sources.list https is enabled before during and after install of DietPi
Hardware is Odroid U3 with https://oph.mdrjr.net/meveric/images/Jessie/Debian-Jessie-1.1-20170515-U.img.xz
Debian Jessie & DietPi upgrades to Stretch
Kernel 3.8.13.30

I was able to complete the install by simultaneously starting another login and modif

[2018-11-18 13:07] Dr0bac commented on #2223
@Fourdee i asked with others about this issue sonar devs..and here is conversation, if you want to understand more about problem

https://github.com/Sonarr/Sonarr/issues/2373

[2018-11-18 13:56] janbildsoehansen commented on #2254
yaa i can understand it wound. but after put the disk to my mac i can see that im missing my etc folder :(

im using dietpi 6.17.12 on a PC

and hade some software installed not sure what exactly..
but i have the "dead" disk still in hop i can bring it back..

have a con job running for one of my website thats it..

[2018-11-18 14:55] MichaIng commented on #2254
@janbildsoehansen
Did you use your mac to check for disk corruption? Not sure if it can on ext4 file system?

Perhaps on reboot (which then failed), related file inodes were unlinked. They are usually placed into `/lost+found` then. So if you find many files (with moreless random number names) inside this folder, the file system got corrupted and those files got unlinked from their place within th

[2018-11-18 15:06] janbildsoehansen commented on #2254
no just install fuse on my mac to open the disk like a usb and get some of my hosted website files.
cant access the lost+found folder
im just gonna redo the work on a new install :(

<img width="821" alt="skaermbillede 2018-11-18 kl 15 59 10" src="https://user-images.githubusercontent.com/31623630/48674391-e1e8b900-eb4b-11e8-8204-78a18be04e14.png">

[2018-11-18 15:40] MichaIng commented on #2223
@Dr0bac
I also added my two cents there. Since SQLite it the database system of choice, which will not change fast or ever, at least some more flexibility for end user would be great: Allow to choose txt-only logging and allow to choose own background job schedule.

But the devs are right, that it's also about the chosen drive and server system in general. Such things as a database should be neith

[2018-11-18 15:54] MichaIng commented on #2257
@optio50
Thanks for your report.

Ahh I remember seeing this error some time ago, but cannot find related issue or remember how we solved it.

- Can you paste the related part of the terminal output, to let us see on which APT call this happened?
- Can you verify `apt-transport-https` and `ca-certificates` packages are installed: `dpkg-query -s apt-transport-https ca-certificates`

So this error a

[2018-11-18 16:07] MichaIng commented on #2087
@panjisn
If your password is "`wakanda`", so does not include any special characters, there shouldn't be any issues.

If your password contains one of $ \` " \ , then on current v6.17 your need to escape those via backslashes, e.g. "`w$k\nd"`" should be "`w\$k\\nd\"`" then, to have the password correctly stored and assigned to wpa_supplicant.

With v6.18 we changed the way the pw string is stored

[2018-11-18 16:17] Dr0bac commented on #2223
@MichaIng thanks for suggestions.. I download/watch movies pretty rarely..external hdd is spinning maybe 2-4 hours in one day, some days it's not spinning at all.. this is good for power consumption..that's the main reason i bought raspberry pi..because is very cheap to leave it on power 24/7.. also i'm afraid my hdd will not last few years with constant read/write access 24/7, my hdd is cheap ext

[2018-11-18 16:19] MichaIng commented on #2254
@janbildsoehansen
Ah okay no full root access to the drive it seems 🤔. No idea how to solve this on mac, on another Linux system you can access those directories and as well do a file system check for error.

But since /etc indeed is completely missing, I am pretty sure it is due to disk corruption and will be hard or impossible to fix without an available `dietpi-backup`.

On SBCs with SDcard you

[2018-11-18 16:27] MichaIng commented on #2256
@Kreeblah
Thanks for your report and research+solution. Indeed we currently add the path with `platform/` inside: https://github.com/Fourdee/DietPi/blob/dev/dietpi/func/dietpi-set_hardware#L850-L869

They mention this changed with Ubuntu 18.04 but I guess it's about the kernel version. We either need to verify, that on all our images the required kernel will be installed (at least with first run u

[2018-11-18 16:32] MichaIng commented on #2250
@FlameFireling
Okay, usually APT packages should place their binaries correctly. Might I ask which software it is, so I can try to replicate? Perhaps there is something wrong with your $PATH variable.

Paste output of `echo "$PATH" && which -a binary`

[2018-11-18 16:51] MichaIng commented on #2223
@Dr0bac
Ah yeah, this drive doesn't look like one that is made for 24/7 uptime. You can have luck for years or unluck with this, no chance to predict, I guess 😉. But if you have sensitive/important data on the drive, that should never get lost, I guess it's better to use something different.

Me e.g. use a WD Red (~4-5 years old now) to store cloud files databases and such. MariaDB caching and stu

[2018-11-18 18:03] Fourdee commented on #2087
We can actually mark this as completed. Testing passed, no need to escape chars in v6.18.

[2018-11-18 18:03] #2087 closed, assigned to Fourdee

[2018-11-18 18:27] janbildsoehansen commented on #2254
okay i have a new install of dietpi i can run on a new ssd if it is..

is on a ssd the dietpi is installed...

im just gonna make alle the work again on a new install..

[2018-11-18 18:55] MichaIng commented on #1913
Pydio APT repo is available, but for x86 only: https://download.pydio.com/pub/linux/debian/dists/stretch/main/

Stay with archive, to not further split/complicate install method.
_______________
Download available from GitHub: https://github.com/pydio/pydio-core/releases
and from pydio.com: https://download.pydio.com/pub/core/archives/

Official current release is 8.2.2 from 11.10., but the archiv

[2018-11-18 19:40] Fourdee commented on #2223
```.db```* files also moved to ```/var/log```. They are not cleared, excluded from ```dietpi-logclear```.

Tests:
- 🈯️ All GUI + Reboot to clear ```.db``` files.

[code]

[2018-11-18 19:40] #2223 closed, assigned to Fourdee, MichaIng

[2018-11-18 19:50] Fourdee commented on #2215
@MichaIng

Great work on this 👍

I believe we can now mark this as completed. DietPi password supports special chars in v6.18.

[2018-11-18 19:51] Fourdee commented on #2220
Ok, for now lets add this info the online docs:
- 🈯️ Sonarr
- 🈯️ Radarr
- 🈯️ Lidarr

arr arr arr 🤣

[2018-11-18 19:59] Dr0bac commented on #2223
@Fourdee thank you for moving log files to ram storage.. i will track how it's behave.. But you didnt include most active ones in your code..

-rw-r--r-- 1 sonarr dietpi  32K Nov 18 19:41 nzbdrone.db-shm
-rw-r--r-- 1 sonarr dietpi 170K Nov 18 19:41 nzbdrone.db-wal
...........................are the worst ones, they are updating every minute

lrwxrwxrwx 1 sonarr dietpi   27 Nov 18 18:14 logs.db-shm

[2018-11-18 20:24] MichaIng commented on #2215
I will reopen to remind myself about one last fix:
- Extended regex use `|` within `(option1|option2)`. With `$4`, the setting it is added via `sed -i '0,\|$4|s||$2|'` so `|` is used as delimiter, which breaks the use of `( | )`. It is possible to escape `|` in `$4`, but not good to have this required. Better use some non-ext-regex character as sed delimiter and escape this as usual then in all th

[2018-11-18 20:36] Fourdee commented on #2220
Will mark as completed. Cant see a viable way to automate this in our setup currently.

[2018-11-18 20:36] #2220 closed, assigned to Fourdee, MichaIng

[2018-11-18 20:39] Fourdee commented on #2223
@Dr0bac

nzbdrone.db-wal - update every minute
nzbdrone.db - update every 15 minutes

I believe these are the database files for added series, status etc? Not log files.

We cant really place these in ```/var/log```, if I'am correct, a reboot will clear all user settings + added series.

[2018-11-18 20:45] Fourdee commented on #2257
Strange, Jessie is set to http in DietPi code:
- https://github.com/Fourdee/DietPi/blob/master/dietpi/func/dietpi-set_software#L158-L167

Apt mirror applied before any ```G_AG``` commands
- https://github.com/Fourdee/DietPi/blob/master/PREP_SYSTEM_FOR_DIETPI.sh#L580

https Only enabled for Stretch+
- https://github.com/Fourdee/DietPi/blob/master/PREP_SYSTEM_FOR_DIETPI.sh#L865-L870

Image contains

[2018-11-18 20:53] Fourdee commented on #2257
Ah yes, I see.

```DISTRO_TARGET=stretch```, and ```G_DISTRO=$DISTRO_TARGET G_DISTRO_NAME="$DISTRO_TARGET_NAME" G_HW_MODEL=$G_HW_MODEL G_RUN_CMD /DietPi/dietpi/func/dietpi-set_software apt-mirror 'default'``` before pre-req packages are installed ```apt-transport-https```?

[2018-11-18 20:57] Fourdee commented on #2257
Pre-req ```apt-transport-https``` at start of script should fix it, requires testing to confirm:
https://github.com/Fourdee/DietPi/commit/d5dca2512d98412a66892585e582cd9e51b0776b

Dev branch PREP with updated code:
[code]

@optio50
Any chance you would be willing to re-try PREP on  https://oph.mdrjr.net/meveric/images/Jessie/Debian-Jessie-1.1-20170515-U.img.xz using the above updated code and see

[2018-11-18 21:50] Dr0bac commented on #2223
You are correct.. i stoped radarr service and moved these files from appdata and started radarr after that..settings were reverted to default state also movies were disapeared..
its a bummer, nzbdrone.db-shm and nzbdrone.db-wal are worst ones in appdata folder

[2018-11-18 21:59] Dr0bac commented on #2223
One last request.. i always download movies and tv shows manually, also i have script that delete movies from radarr upon successuful download..so in most times these database files don't need to be up to date..
Can you tell me how can i put these 3 files in ram
And to backup these files from ram to sd card 2 times a day..and after restart before radarr service start to copy back to ram these file

[2018-11-18 23:07] optio50 commented on #2257
Fresh install

Fails at Step 5

DietPi-PREP: G_AGI: apt-transport-https apt-utils bash-completion bc bzip2
│ ca-certificates console-setup cron curl debconf dirmngr ethtool fake-hwclock gnupg
│ htop iputils-ping isc-dhcp-client kmod locales nano p7zip-full parted psmisc
│ resolvconf sudo systemd-sysv tzdata udev unzip usbutils wget whiptail crda
| firmware-atheros firmware-brcm80211 firmware-iwlwi

[2018-11-18 23:57] slim0287 commented on #2052
I'm looking forward to Wireguard in Dietpi as well.  Currently I run an OpenVPN server on Dietpi, however from what I have read Wireguard will be a better implementation for my use case.

[2018-11-19 00:10] optio50 commented on #2257
Well after several more attempts I still cant get the revised PREP_SYSTEM_FOR_DIETPI.sh
So I locked down the  sources.list with chattr +i and it completed successfully. However, still has erros and the banner never comes up.

So I left the chattr +i in place  and retried with the original published git PREP_SYSTEM_FOR_DIETPI.sh
Complet successfully rebooted proceded with minimal install and all se

[2018-11-19 00:23] optio50 commented on #2257
May or may not be related to previous issue with https.
Pi-Hole install

[FAILED] '/etc/init.d/pihole-FTL' does not exist or cannot be written to by current user.                            │
│
│ Please verify the existance of the file, retry with proper permissions or apply the setting manually:                │
│         # Required-Stop: $network $remote_fs

[2018-11-19 00:49] MichaIng commented on #2257
@optio50
This means Pi-hole did not install successfully, right? Otherwise the file would be in place. Looks like the installer failed.
I guess it should, if APT fails, as it also does+requires some APT package installs. But to verify that, we would require install log. Pi-hole should show about what failed an what succeeded.

[2018-11-19 01:24] optio50 commented on #2257
its gotta be https related.
owncloud fails too
 INFO ] DietPi-Software | G_THREAD_WAIT_0 | wget https://download.owncloud.org/community/owncloud-latest.zip -O 47.zip
[ INFO ] DietPi-Software | G_THREAD_WAIT_0 | wget https://download.owncloud.org/community/owncloud-latest.zip -O 47.zip
[ INFO ] DietPi-Software | G_THREAD_WAIT_0 | wget https://download.owncloud.org/community/owncloud-latest.zip -O 4

[2018-11-19 01:33] MichaIng commented on #2257
@optio50
Seems to be.

The part before this messages is the interesting one, the ones you posted are expected, depending on how much time the APT install (attempt) took.

As said I faced this error once and it required a special solution. Have to do some research to find the needed hints/remember what it was.

Can you please paste content of all your source files:
[code]

[2018-11-19 09:54] FusionPlmH opened #2260 "Image | NanoPi NEO4"
detail：
http://wiki.friendlyarm.com/wiki/index.php/NanoPi_NEO4

ADMIN EDIT: Vote for it on FeatHub: https://feathub.com/MichaIng/DietPi/+2

[2018-11-19 10:29] optio50 commented on #2257
I lost heart in the process. I installed Ubuntu Mate 16.04 on the Odroid U3 and then installed Pi-Hole.
I only have one emmc for the U3 and I just got the Ubuntu Mate 16.04 running pretty good.
I can dig up a microsd and do some more testing this week if you want to pursue this.

[2018-11-19 15:31] MichaIng commented on #2257
@optio50
I understand.

Did more research and indeed the error often appears due to faulty packages. So either apt-transport-https or the apt package itself seem to be faulty.

Solution could be to switch to http:// sources and reinstall both packages:
apt install --reinstall apt apt-transport-https

Others also reported that it could only be fixed by purging the pachage(s) first and do a fresh in

[2018-11-19 16:38] Fourdee commented on #2257
@MichaIng

Nope ☹️. Although, could try replicating on XU4 jessie image, will have a stab when I get some time.

[2018-11-19 18:42] Fourdee opened #2261 "Pinebook 1080p"
Notes:

#### Ayufan
[code]

[code]

---

#### Neon

enable display
[code]

[code]

```40-pine64-armsoc.conf```
```xinit startx```
[code]

```40-pine64-armsoc.conf```
```startx```
[code]

[code]

No driver:
- xinit and non, cause kernel dump.

[2018-11-19 20:58] Fourdee commented on #2261
#### Ayufan 2 / Buster:

https://github.com/ayufan-pine64/linux-build/releases/download/0.7.30/linux-pine64-package-0.7.30.deb
[code]

Battery:
[code]

---

#### GPU armsoc
[code]

[code]

[code]

https://launchpad.net/~ayufan/+archive/ubuntu/pine64-ppa/+packages

- https://launchpad.net/~ayufan/+archive/ubuntu/pine64-ppa/+files/libmali-sunxi-dev_1.2-1ayufan5~bionic5_arm64.deb
- https://launchpad.

[2018-11-19 22:20] jakimfett opened #2263 "META | Developer Entry Point?"
Currently, there doesn't seem to be a place where the development pipeline (edit, build, test, tweak, repeat) is documented, or really even defined.

There's [small](https://github.com/Fourdee/DietPi/blob/dev/CONTRIBUTING.md) bits [scattered](https://github.com/Fourdee/DietPi/blob/dev/BRANCH_SYSTEM.md#steps-to-use-the-dietpi-dev-branch) around, but there doesn't appear to be a "getting started" do

[2018-11-19 23:14] Fourdee commented on #2263
@jakimfett

Hi,

Image build script is located: https://github.com/Fourdee/DietPi/issues/1285#issue-280771944
https://github.com/Fourdee/DietPi/blob/master/PREP_SYSTEM_FOR_DIETPI.sh

In short:
- Send all PR's to ```dev``` branch
- If your PR contains code changes (eg: install change for Nextcloud), it should be tested on SBC/VM on Debian Stretch before requesting review.
- PR's also need to be con

[2018-11-19 23:34] Fourdee commented on #1913
ASUS TB Stretch install + GUI use test:
- 🈯️

Loving the file drag + drop feature in GUI 😃

Thanks @MichaIng

Although I still received the following:
![image](https://user-images.githubusercontent.com/7077026/48741613-ab966100-ec53-11e8-8e19-5aa2e2542e45.png)
[code]

[2018-11-20 01:32] msdos commented on #2211
I think this process of "open beta" could have a line in README.md, and an information about https://github.com/Fourdee/DietPi/blob/dev/BRANCH_SYSTEM.md#steps-to-use-the-dietpi-beta-branch for devs as well.

[2018-11-20 01:32] msdos commented on #2246
Should this information be somehow referenced in README.md?

[2018-11-20 01:33] msdos commented on #2263
Should this last bit of information added by @Fourdee be added to https://github.com/Fourdee/DietPi/blob/dev/BRANCH_SYSTEM.md#steps-to-use-the-dietpi-dev-branch?

[2018-11-20 01:36] msdos commented on #2219
I'm using 6.17.2 and all applications that use Mono are broken.

[2018-11-20 02:12] msdos commented on #2219
I used the workaround proposed here (and https://github.com/Fourdee/DietPi/pull/2235/files): edited all `/etc/systemd` service files related to sonarr, lidarr, jackett and radarr to call mono using `-O=-aot`.

[2018-11-20 07:32] qq24021438 opened #2264 "Dietpi-software is very slow."
I find that dietpi-software installs software very slowly, and has been WGet all the time. How to modify the WGet link of the software? Let it be installed faster?

[2018-11-20 14:30] MichaIng commented on #2263
It fits better to https://github.com/Fourdee/DietPi/blob/dev/CONTRIBUTING.md from my point of view, but would overload it perhaps. My suggestion is to start using the Wiki and define/add such information with more details there. Then add a link to the above md to the Git coders section.

[2018-11-20 14:44] MichaIng commented on #2264
@qq24021438
You mean the downloads take long to finish?
Whether it's fast or slow of course depends on the download source and your network speed. DietPi has no influence on this, since it's using the GNU/Linux default methods anyway.

Which software title you mean in particular, any example hat took very long/downloaded very slow?
If you find a faster download mirror in a special case, you could

[2018-11-20 14:47] MichaIng commented on #2243
@davidhq
Since you could easily resolve it on your system and we are not able to replicate it, I guess we can close this topic?
Feel free to reopen, if required and we keep it in mind, if any other user reports similarly, to then investigate deeper.

[2018-11-20 14:47] #2243 closed, assigned to nobody

[2018-11-20 15:11] MichaIng commented on #2237
Okay went on with testing:
- Made `set_cpu` and `set_led` being bg jobs again and added `G_DEBUG=1` to top of preboot.
- Suddenly I also received the `getcwd` errors, but not consistently. One time they showed up for one of set_cpu/led only, one time it showed up for both.
- It always throws on `shell-init` (init of bg job) and on `chdir` (when G_INIT want's to `cd` into subscript working dir).

A

[2018-11-20 15:55] MichaIng commented on #2256
@Kreeblah @Fourdee
Added PR for auto detection: https://github.com/Fourdee/DietPi/pull/2265
Theoretically it can still fail, when APT update to the new kernel version is done. Then user would need to re-enable the LCD without an LCD (e.g. after reboot). Not sure if we can assume that on Jessie the config files remain the same and on Stretch, with next dietpi-update, APT updates the kernel accordin

[2018-11-20 16:18] MichaIng commented on #2211
@msdos
How exactly do you want to have it mentioned? Since everyone can freely switch to `beta` branch, it is obviously opened.
We could add an info that we will inform via GitHub, forum and Twitter about new "`Beta phases`", which means feature stop and bugfix concentration?

Note, that we introduced the beta branch just with the last release, so we are learning/testing how to use it best ourselv

[2018-11-20 16:33] Fourdee commented on #2256
C2
[code]

[code]

🈯️
[code]

[2018-11-20 16:56] MichaIng commented on #2256
@Fourdee
Do you have a chance to check on Jessie?

[2018-11-20 17:01] Fourdee commented on #2256
@MichaIng

1 sec, fails on install due to not modprobe, dir not available.

[2018-11-20 17:09] Fourdee commented on #2256
Testing https://github.com/Fourdee/DietPi/commit/5c1e0f88e0c4183c5be4130cd8ce245304137da5:
- 🈯️ C2 Stretch
- C2 Jessie

[2018-11-20 17:24] Fourdee commented on #2237
@MichaIng

Excellent debugging + fix 👍

Maybe we could try ```G_THREAD_START``` on these and ```G_THREAD_WAIT``` before exit, i'll run some tests.

[2018-11-20 17:33] Fourdee commented on #2237
@MichaIng

🈯️ ```G_THREAD_*```
![image](https://user-images.githubusercontent.com/7077026/48791768-6a04c500-ecea-11e8-9a18-24c9d0e005ba.png)

[2018-11-20 17:38] MichaIng commented on #2256
@Fourdee
Ah makes sense. Is anyway food to use modprobe where possible, so we can start service directly skip reboot requirement as well?

[2018-11-20 17:41] MichaIng commented on #2237
@Fourdee
Ah lol jep, totally forgot that we already have the function set for this 👍.

Jep should totally work with this. However thread internal output is missing then and still the question is, if there is really a boot time benefit with this. Needs to be tested on non-VM, I guess, where set_cpu/led really apply changes.

Btw. to have further boot ouput, remove `quiet` from `/etc/default/grub` b

[2018-11-20 17:42] Fourdee commented on #2256
@MichaIng

In theory yep 👍

[2018-11-20 17:51] jakimfett commented on #2263
It seems to me like having `CONTRIBUTING.md` contain a sentence or two on the dev process, and then links to next steps, would make sense. Definitely want to keep the file concise, tho.

Thoughts on using an in-repo knowledge management (eg, something markdown based, in a `docs` folder) rather than locking into Github's wiki system?

Very much looking forward to playing with this.

[2018-11-20 17:56] Fourdee commented on #2237
Testing:
- 🈯️ ARMv8 + 🈯️ settings applied
[code]

[2018-11-20 18:23] MichaIng commented on #2215
Commit merged: https://github.com/Fourdee/DietPi/commit/471d0b5295133ea66c660403538278987b179159
- Testing 🈯️
- Issue can occur, when using `abc\/abc` within $1 or $4. However this is theoretically covered by error prompt that does not list forward slash as char that needs to be escaped. The backward slash needs to be escaped, if wanted literally, `abc\\/abc` works, the forward slash does not, `ab

[2018-11-20 19:05] #2215 closed, assigned to MichaIng

[2018-11-20 19:14] MichaIng opened #2266 "META | Cleanup obsolete branches/files"
@Fourdee
As a cleanup step, I merged the `dietpi-fan_control` script from it's own branch into main line `.meta` folder, also to have it a bid more prominent. I am still aiming to work on this by times 😉.

What do you think about removing the obsolete Wheezy branch as well? Old version can theoretically always accessed/recovered from commit history, so this only has affect on running Wheezy system

[2018-11-20 19:24] MichaIng commented on #1286
Needed to switch to PHP7.3 to have all modules available: https://github.com/Fourdee/DietPi/pull/2259
- Possibly incompatibilities of PHP using software possible. Jep Buster is still "testing" 😉.

<s>On RPi this currently fails, since php-apcu/redis/igbinary are not yet on PHP7.3 version in Raspbian repo 🙄.</s> 🈯️ **Raspbian APCu+Redis modules on PHP7.3 now as well**

[2018-11-20 19:41] MichaIng opened #2267 "DietPi-Software | Grafana: Passwords with special chars are added wrong"
Ref: https://dietpi.com/phpbb/viewtopic.php?f=15&t=5248&p=15446#p15446

`;` and `#` have to be escaped via tripple "double quotes" around the whole string. This seems to be the case for all setting values, containing these characters, so we should apply it by default: http://docs.grafana.org/installation/configuration/#password

[2018-11-20 19:52] msdos commented on #2263
@jakimfett  IIRC, some projects use https://readthedocs.org because you can host your documentation in a docs folder and, when pushing to it, automatically update it using web hooks.

`requests`, a highly used library in the Python world uses this approach.

https://readthedocs.org/projects/requests/
https://github.com/requests/requests/tree/master/docs

[2018-11-20 20:04] garret commented on #2238
Hello everybody, I believe to be the main responsible to have found out about this bug (https://dietpi.com/phpbb/viewtopic.php?f=11&t=5227) but to me the workaround does not work.
Do you know if there is a solution or if you want I can paste some logs if you tell me which commands to give. Sorry, I am very newbie to Docker.

[2018-11-20 20:12] Fourdee commented on #2256
Jessie working fine 👍

[code]

Completed. Thanks @MichaIng

[2018-11-20 20:12] #2256 closed, assigned to MichaIng

[2018-11-20 20:36] davidhq commented on #2243
Ok, I agree... and as you said, you simplified something so I look forward to not having this issue with a new release :) If I do, I'll write here.. thank you so far!

[2018-11-20 20:41] Fourdee commented on #2261
```60-xserver-xorg-video-armsoc-sunxi.rules```
[code]

[code]

[code]

[code]

Mali blobs:
[code]

[code]

[code]

No error, but hang.
[code]

[2018-11-20 21:06] MichaIng commented on #2267
Solved via: https://github.com/Fourdee/DietPi/commit/1fb6414aa26e3ac3f2017e72b942bc6b753181b6
- Whoopsie, actually wanted to add this via PR. However fix is very straight forward according to docs, works with simple PWs as well.
____________
Further testing:
🈯️ Reinstall preserving existing database/plugin dir
🈯️ Uninstall
🈯️ Fresh install
🈯️ WebUI, login
🈯️ Update via APT. In case we update repo/

[2018-11-20 21:35] MichaIng commented on #2211
Referenced Beta in forum: https://dietpi.com/phpbb/viewtopic.php?f=9&t=5254

[2018-11-20 21:48] Fourdee commented on #2246
@msdos

Yep, or Wiki/Forum link. We need to cover this somewhere 👍

[2018-11-20 21:55] MichaIng commented on #2007
@Fourdee
Don't get it, just retested with dedicated RPi as client:
1. Install Pi-hole on Stretch VM (default Lighttpd)
2. Enter local router/gateway as DNS server, otherwise follow installer defaults (+web UI etc.)
3. Choose YES when blocking page prompt appears.
... install finishes, pihole-FTL service starts automatically
4. Choose Stretch VM IP as DNS server via /etc/resolv.conf on RPi.
5. Add

[2018-11-20 22:10] ayufan commented on #2261
You cannot add `sunxidrm` when `disp`/`hdmi` is loaded. You should blacklist the `disp`/`hdmi` before.

[2018-11-20 22:20] Fourdee commented on #2261
@ayufan

Thank you 👍 Trying it now.

Notes:
[code]

[code]

[code]

[2018-11-20 22:21] MichaIng commented on #2266
Another thing: GitHub page header still shows: `Lightweight justice for your single-board computer. http://dietpi.com`
- Note http instead of https 😉. Minor one but should be easy to fix as well.

[2018-11-20 22:24] CorentinDy opened #2268 "Why native pc images are still beta ?"
Hi,
I am wondering why the images for pc are still in beta, is there a buglist or is it just not fully tested to report if there are bugs?

Thx for this repo ;)

[2018-11-20 22:28] Fourdee commented on #2261
@ayufan

DRM appears loaded, but permission denied:
[code]

[code]

[code]

[code]

[code]

---

Also tried putting blobs in
[code]

with:
[code]
??
[code]

[2018-11-20 22:35] MichaIng commented on #2268
@CorentinDy
Good question 😃. Actually the BIOS/CSM images could be taken out of beta from my point of view. Of course the amount of different systems is very large, so on special hardware something might not work. But generally we didn't face much issues, AFAIK.

But UEFI/GPT images should stay beta for now. There are still manual steps required via CloneZilla installer and the method worked not r

[2018-11-20 23:02] Fourdee commented on #2268
@MichaIng

Yep 👍

The main reason for leaving the "Beta" flag in there, is simply due to the sheer variation of x86_64 CPUs/setups/GPU's etc. And the fact, we cannot offer a like for like RPi experience on every x86_64 system due to that.

But yes, the core images are stable and should be removed from beta status.

[2018-11-20 23:04] Fourdee commented on #2266
@MichaIng

Good spot, although we have a redirect via certbot! 😃

[2018-11-20 23:05] MichaIng commented on #2266
@Fourdee

Jep, visual only 😄.

[2018-11-20 23:07] Fourdee commented on #2211
@MichaIng

Yep agree 👍

I've been aiming to only push dev > beta, prior to "open beta (eg: when we twitter post)" when a significant change is made (eg: nextcloud install fix). Aside from that, yep, dev > beta branch should only be merged after our initial testing is passed, not before (which we do already).

[2018-11-20 23:12] Fourdee commented on #2267
Install + use test
- ARMv8 | pw=dietpi
[code]
-- GUI login 🈯️

[2018-11-20 23:15] Fourdee commented on #2267
Install + use test:
- ARMv8 | pw =$&\\"moocow
-- 🈯️ GUI login
[code]

[2018-11-20 23:16] Fourdee commented on #2267
@MichaIng

Testing passed, great work 👍 🥇

[2018-11-20 23:17] Fourdee commented on #2267
Reinstall patch?
~Or probably best to manually uninstall + install for affected users?~

Looks safe + testing passed
[code]

[2018-11-20 23:20] MichaIng commented on #2267
@Fourdee
Patch not required from my point of view.

Users who have this installed are either not affected or fixed it manually, obviously :wink:.

So this is only important for fresh installs when global password is applied.

[2018-11-20 23:29] MichaIng commented on #1818
Moved from own branch to main branch line `.meta/` dir: https://github.com/Fourdee/DietPi/commit/2d9e9e3bd40daa15a10075490baedd4386bf7242

[2018-11-20 23:47] MichaIng commented on #1740
Not sure where I found/reported this:
- On x86, fsck is done via initramfs and on Jessie, the created flag (don't remember location of this currently) prevents other fsck methods (on later boot stage) from being done. Nothing shows up in boot log then (dmesg/journalctl) as well then.
- On Stretch, there is generally systemd-fsck available, which does rootfs check on reboot, if requested by one of

[2018-11-21 02:48] msdos opened #2269 "Can some ideas from AtoMiC-ToolKit be used in DietPi?"
Don't know why but I came across https://github.com/htpcBeginner/AtoMiC-ToolKit

Maybe some ideas of this project can be used in DietPi, so I posting it here. However, I don't suggest installing both since dependency management can become a real nightmare.

[2018-11-21 13:53] CorentinDy commented on #2268
Good to know for the UEFI one ! Thank's for the answer !

[2018-11-21 16:57] troyane opened #2270 "NanoPi NEO Air | fbtft missing"
## Creating a bug report/issue:

I'm writing this since I can't find any related issue and/or forum thread.

Execution of next command shows that fbtft module is missing. Isn't it an essential part of Linux for 4.14 kernel?

[code]

#### Required Information:
- DietPi version	| `G_DIETPI_VERSION_CORE=6 G_DIETPI_VERSION_SUB=17 G_DIETPI_VERSION_RC=12 G_GITBRANCH=master G_GITOWNER=Fourdee`
- Distro v

[2018-11-21 19:03] Fourdee commented on #2268
Will reopen to remind me to make the change :)

[2018-11-21 19:05] Fourdee commented on #2268
🈯️ dietpi.com
🈯️ https://github.com/Fourdee/DietPi/issues/1171#issuecomment-336522021

[2018-11-21 19:05] #2268 closed, assigned to nobody

[2018-11-21 19:07] Fourdee commented on #2270
@troyane

Hi,

Which device are you running?

[2018-11-21 19:17] Fourdee commented on #2269
@msdos

Interesting project, thanks for sharing 👍

Generally speaking, with DietPi we like to do things "our own way" and find the best way of achieving it through testing and available knowledge.
I personally try to avoid looking at others projects, try to figure it out in our own way.

Regardless, the project looks interesting. Similar goals of the projects as DietPi-Software, but very different

[2018-11-21 20:27] troyane commented on #2270
@Fourdee Sorry I've missed that field. Already updated issue. Its `NanoPi NEO Air`.

[2018-11-21 22:48] Fourdee opened #2271 "PREP | dietpi-globals returns exit code 1"
[code]

[2018-11-21 22:57] Fourdee commented on #2271
[code]

[2018-11-21 23:07] Fourdee commented on #2271
13th Nov commit is fine:
https://github.com/Fourdee/DietPi/commit/48017eb6dbd626d19f92e581b460331d03aa6d6a#diff-03a4faa1a3aeff0af60938482f5791b3

And fine:
https://github.com/Fourdee/DietPi/blob/41f3854f30e19c46cd5111617ea718211193a592/dietpi/func/dietpi-globals

---

Fails:
https://github.com/Fourdee/DietPi/blob/beff8ec96efa2d3d19ce568f258a69ea1d5cb3f7/dietpi/func/dietpi-globals

---

Issue is wi

[2018-11-21 23:14] Fourdee commented on #2271
Interesting:
- 🈯️ exit code 0
[code]

- 🈴 exit code 1
[code]

[2018-11-21 23:19] MichaIng commented on #2271
@Fourdee
Hmm, just re-comment the line or remove. Strange though.

I would not do (( $G_DEBUG )) as this would require it to be always defined. Would like to have as few as possible variable definitions required, which means to check via [[ ]] in most cases to allow var being unset.

Especially in terminal would be great to allow as much `unset` as possible.

€: How did you check? Didn't know sour

[2018-11-21 23:24] MichaIng commented on #2271
@Fourdee
Ah lol my last thoughts lead me to the right point:
[code]

This is no exit code of the script, it is just the "result" of the check 😄. So totally expected.
As I though, sourcing scripts do not have an exit code, but in case just the result of the last command or check.

... ah, this also means we cannot check, if sourcing went fine or not, or at least it would require a `true` at the end

[2018-11-21 23:33] Fourdee commented on #2271
@MichaIng

Should be fine as script is in memory, any syntax errors will display during load, even if a function is not used yet.

We could just ```return 0``` at end of globals to resolve I believe.

[2018-11-21 23:35] MichaIng commented on #2271
@Fourdee

Ah jep forgot 👍.

~return is only allowed in functions~
**€: Ah lol `or sourced script`, great 😄.**

[code]
`true` works (**€: as well**) and does overwrite any previous exit code.

[2018-11-21 23:37] Fourdee commented on #2271
@MichaIng

[code]

[code]

[2018-11-21 23:39] MichaIng commented on #2271
@Fourdee
Okay, then revert to `[[ $G_DEBUG == 1 ]]` check to allow this being unset?

[2018-11-21 23:41] Fourdee commented on #2271
@MichaIng

Fixed with commit https://github.com/Fourdee/DietPi/commit/54477861aa20dfa41550e50885c39fe92d2b0335

Trigger last command as null, which always returns exit code 0

ref: https://unix.stackexchange.com/questions/118217/chmod-silent-mode-how-force-exit-code-0-in-spite-of-error

[2018-11-21 23:46] MichaIng commented on #2271
Btw:
Yesterday night I finally read about the biggest benefit of wrapping whole scripts into `{` ... `}`.
I was always a bid sceptic, since most of our scripts are in memory (tmpfs) anyway and pre-parsing the whole script takes more init time.
- Scripts not being pre-parsed can be parsed partially, e.g. functions only, if they are actually called. E.g. would speed up set_software/hardware scripts

[2018-11-21 23:56] MichaIng commented on #2271
[code]
😆

[2018-11-21 23:57] Fourdee commented on #2271
@MichaIng

Yep, one of the main reasons for doing the ```{}```. The other was to load into memory before we had a DietPi-RAMdisk (years ago).

But the benefit of loading the script as it is, into memory without a chance of in-runtime change is a must. Also the ability to report any syntax errors in the whole script during load is hugely beneficial for our side.

[2018-11-22 00:01] Fourdee commented on #2271
Ok, lets mark this as completed.

[2018-11-22 00:01] #2271 closed, assigned to Fourdee, MichaIng

[2018-11-22 00:16] Fourdee commented on #1740
@MichaIng

The idea I had to cover all systems was:
- During boot at local-fs.target once rootfs is mounted
- Copy fsck binary somewhere off the rootfs (/tmp?)
- service which unmounts rootfs, runs ```/tmp/fsck```, then remounts
- disable service

However, don't believe you can unmount rootfs once its mounted in any case.

[2018-11-22 00:22] MichaIng commented on #1740
@Fourdee
Would be elegant, but also intrusive. I am not sure if unmounting also affects other mounts somehow? And perhaps there can be some background processes active during boot that would fail then 🤔.

We could test it, but if `> /forcefsck` works reliable on all systems, I would stick with this proven method.

[2018-11-22 00:24] Fourdee commented on #2261
https://wiki.debian.org/InstallingDebianOn/Pine64.org/Pinebook
https://packages.debian.org/buster/atf-allwinner

Ok, no joy with ```armsoc```, however, we should at least be able to get software rendering to work with ```fbdev```. Will re-test.

[2018-11-22 10:51] Dr0bac commented on #2223
@Fourdee
I tested database symlinks and everything works, can i just ask you few questions, before i automate everything

I will copy nzbdrone files to var/log/sonarr with crontab reboot option, i see in your code that you created sonarr folder in /var/log for log files.. So i need to know:

1. does crontab reboot is happening after sonarr folder is created in var/log, i ask to know if i need to c

[2018-11-22 12:13] MichaIng commented on #2223
@Dr0bac
DietPi-RAMlog will create an empty file structure of /var/log on disk on shutdown and restores it on boot. So no need to manually re-create the folder :smiley:.
But I am not sure what you mean by crontab reboot option? You mean a reboot initiated by a cron script?

I am pretty sure the rcX.d scripts are initiated before any unmount is done, thus also before /var/log is cleared (related tmp

[2018-11-22 13:04] MichaIng opened #2273 "DietPi-Software | Tautulli: chown install folder missing?"
Ref: https://dietpi.com/phpbb/viewtopic.php?f=11&t=5256&p=15467#p15467

PR up: https://github.com/Fourdee/DietPi/pull/2274

Needs reinstall fix as well, as currently new folder will fail to move. Handling depends on availability of internal update mechanisms or if git client/command should be used.
____________
For macOS it is at least possible to install without git client: https://github.com/Tau

[2018-11-22 13:43] Dr0bac commented on #2223
@MichaIng no i dont want to reboot with script
I want to add script to crontab -e to execute after reboot, script will copy data files from backup folder to var/log/sonarr
But i saw that Fourdee added code to exclude .db files from deleting in /var/log? See this commit.. Am I right?
6f758f0b68b6025c7a9d0b0e2a0fd794903242bc

[2018-11-22 14:13] Fourdee commented on #2223
@Dr0bac

6f758f0

Correct, any file with ```*.db*``` will be excluded from the hourly log clear.

If crontab runs after dietpi-services, should be fine.

You are trying to achieve moving the core database to RAM during boot, then save to disk during shutdown? Great idea, but the only issue to worry about, is, if you have a power failure, database will revert back to its previous state.

Hmm, the b

[2018-11-22 15:06] MichaIng commented on #2223
Ah jep now I fully understand. Makes sense, so backup .db log on shutdown and recover on boot. Couldn't we just add this to sonarr service ExecPreStart/Stop? But would run then on every dietpi-service handling... Perhaps recover only, if /var/log .db files are empty (on boot). But not sure how to have the backup only done on shutdown, if required.

Otherwise optional additional service that is han

[2018-11-22 15:09] Dr0bac commented on #2223
@Fourdee yes, on power failure latest database will be lost..and system will restore database from last sucessuful restart/shutdown after next power on..
That's why i will put same backup script to sonarr post processing script (script will be triggered on episode download) i download everything manually so if power failure happen, i will not lose anything, but some users who have everything autom

[2018-11-22 15:19] MichaIng commented on #2223
Not sure how well cron can handle service dependencies. Never used this for (re)boot/shutdown scripts. Generally I would use systemd units for this.
Trigger additional db backups on sonarr downloads and/or regularly via cron job, to prevent data loss on lower loss.

Since dietpi-services starts the cron service last, I guess it is with current implementation not possible to have it starting someth

[2018-11-22 16:47] Fourdee commented on #2223
Core script done:
https://raw.githubusercontent.com/Fourdee/DietPi/dev/dietpi/misc/dietpi-arr_to_RAM

Must be run manually to transfer to RAM:
[code]

Save to disk before shutdown:
[code]

May edit to a service, if time permits.

---

Test:
[code]

[2018-11-22 17:41] Fourdee commented on #2261
Disabled xorg.conf's:
- 🈴 ```sunxidrm```
- 🈴 ```hdmi + disp```

---

[code]
- 🈴 ```sunxidrm```  | black screen
[code]
- 🈴 ```hdmi + disp```
[code]

---

#### Fbturbo + UMP:
- 🈴 ```sunxidrm``` | black screen
[code]
- 🈴 ```hdmi + disp```
[code]

---

#### Mali
http://linux-sunxi.org/Mali_binary_driver#Installing_the_Mali_userspace_driver
🈴
[code]

[2018-11-22 18:19] Fourdee commented on #2261
```lightdm``` (previously ```startx```)
[code]
- 🈴 login = black screen
- 🈴 ```sunxidrm``` black screen
- 🈴  ```hdmi+disp``` | returns back to login screen, same issue as https://github.com/ayufan-pine64/linux-build/releases/download/0.7.30/bionic-lxde-pinebook1080p-bspkernel-0.7.30-140.img.xz
[code]
https://github.com/allwinner-zh/linux-3.4-sunxi/blob/master/sound/soc/sunxi/hdmiaudio/sndhdmi.c#L1

[2018-11-22 18:52] Fourdee commented on #2261
#### Try kernel+uboot from KDE neon image with DietPi RootFS:
[code]
- Hide wlan1

---

[code]

---

🈯️ Fbdev with ```hdmi + disp```
🈯️ Fbturbo with ```hdmi + disp```
🈴 armsoc with ```sunxidrm```
[code]

Debian support for mali 400 in sid only:
https://wiki.debian.org/MaliGraphics

---

🈴 Sound
[code]
https://github.com/allwinner-zh/linux-3.4-sunxi/blob/master/sound/soc/sunxi/hdmiaudio/sndhdmi.c#L

[2018-11-22 21:03] Fourdee commented on #2261
So, results:
@ayufan
- Sound works on your kernel 👍
- ```hdmi+disp``` fails with ```[   38.907508] [DISP] disp_ioctl,line:1622:para err in disp_ioctl, cmd = 0x0,screen id = 65536```, under ```fbdev``` and ```fbturbo```.
- Unable to get ```armsoc``` working currently with Debian, however, ```fbdev``` + ```fbturbo``` does work using the kde neon kernel.

[2018-11-22 22:17] MichaIng commented on #2239
Votes for Medusa: https://dietpi.com/phpbb/viewtopic.php?f=12&t=3024

[2018-11-23 00:09] Dr0bac commented on #2223
@Fourdee Thank you for making this. Can you make some changes. In current way script behave like this

first we backup nzbdrone.db to nzbdrone.db.bak
`cp /mnt/dietpi_userdata/sonarr/nzbdrone.db /mnt/dietpi_userdata/sonarr/nzbdrone.db.bak`

then we copy nzbdrone.db to ram and delete it from dietpi_userdata
`cp /mnt/dietpi_userdata/sonarr/nzbdrone.db /tmp/sonarr/nzbdrone.db`
`rm /mnt/dietpi_userdata

[2018-11-23 01:02] MichaIng commented on #2269
Sadly looks dead, some definitely broken installers (Sickrage 😄) and such, no commit for half a year (besides meta).

What I like is the backup&restore for all apps, this is something I also wanted to add for more apps.
But stuck after Next/ownCloud 😆: https://github.com/Fourdee/DietPi/blob/master/.meta/dietpi-cloud-migration

What they use and I find helpful as well: https://feathub.com/
Makes it

[2018-11-23 01:20] msdos commented on #2269
All efforts are now into https://github.com/GhostWriters/DockSTARTer. Since DietPi is not using Docker as heavy as this project, I referenced just https://github.com/htpcBeginner/AtoMiC-ToolKit.

[2018-11-23 01:39] MichaIng commented on #2269
Ah okay, jep much easier to maintain, but also less useful, since starting with docker and install apps there is already quite easy, AFAIK. Not too much benefit to have another helper tool layer on top from my point of view 😄.

Yeah all kind of isolation/virtualization/container solutions is the opposite of what DietPi is aiming for: Native bare integration of software titles into Linux for highes

[2018-11-23 13:18] MichaIng commented on #2273
@Fourdee
Do you have a Plex.tv account?

[2018-11-23 13:25] MichaIng commented on #2264
I will mark this issue as closed. Feel free to reopen or ask further questions, if required.

On case of a certain software title, where a better download link is available, we will check and change in case.

[2018-11-23 13:25] #2264 closed, assigned to nobody

[2018-11-23 13:39] MichaIng commented on #2263
Ideas I have is to use the GitHub wiki mainly for developer and super user information:
- Add an image creation procedure for every device (added partly when there is time). A start can be taken from: https://github.com/Fourdee/DietPi/issues/1505
- Add deep core system information about which Linux/GNU/Debian features we use/require, how we in case implement/change them and which additional core f

[2018-11-23 21:50] ibnbd opened #2275 "TinkerOS_Debian V2.0.8"
Tinker OS has new version, as I can see the beta at `v6.18.9`. Hopefully you will consider adding latest TinkerOS for `v6.18` final release.

Thank You

[2018-11-24 03:12] Fourdee commented on #2223
@Dr0bac

Hmm, should not occur:
- Script will only copy from ```/mnt/dietpi_userdata/sonarr/nzbdrone.db``` if its not a symlink. Else, if it is a symlink, it go down the backup route.
- ```/tmp``` is cleared during power off state
[code]

[2018-11-24 03:14] Fourdee commented on #2223
@Dr0bac

Yep 👍 was thinking about a background script which updates the ```.bak``` on a hourly basis.

Although, could just run a cron job that does following every hour:
- Downside is service restarts during the process, but handled via same script.
[code]

[2018-11-24 03:50] Fourdee commented on #2007
@Fourdee

Might be a DNS cache/routing issue my end.

Ok, retest:
- ASUS TB with pihole + blocking page lighttpd
- Odroid C2 with static IP + dns setup for ASUS TB. + vnc + chromium

- 🈯️ ```curl -v http://www.microsoft.com```
[code]
- 🈴 ```curl -v https://www.microsoft.com```
[code]

Seems https is not redirected to blocking page. Verified results in Chromium.

Known issue, requires SSL cert on P

[2018-11-24 04:03] #2007 closed, assigned to Fourdee, MichaIng

[2018-11-24 04:06] Fourdee commented on #2237
Marking as completed. Issue is now resolved by waiting for background threads to finish, before script exit.

[2018-11-24 04:06] #2237 closed, assigned to Fourdee

[2018-11-24 04:15] Fourdee commented on #1913
Hmm, appears to be working fine. Pydio setup does not seem to actually check the URL:
- 🈯️ Lighttpd http://192.168.0.118/pydio/data/
[code]

[2018-11-24 04:56] Fourdee commented on #1913
🈴 mysql.service starting with mariadb.service, causes hang on ```dietpi-services start```
[code]

🈯️ ```rm /etc/init.d/mysql; systemctl daemon-reload```

[2018-11-24 05:40] Fourdee commented on #1913
Ok, retest of Pydio setup page results + reboot:
- 🈯️ Lighttpd
- 🈯️ Nginx
- 🈯️ Apache2

Testing passed. Completed.

[2018-11-24 05:40] #1913 closed, assigned to MichaIng

[2018-11-24 11:55] Dr0bac commented on #2223
@Fourdee thank you for clarify to me..i was reading your output message..

No need for sonarr service to stop every hour, we can just put in crontab

`/tmp/sonarr/nzbdrone.db /mnt/dietpi_userdata/sonarr/nzbdrone.db.bak`

nzbdrone.db.bak is inactive so no harm to change it every hour

But i will put that command in sonarr post processing script, because i dont want to wake my hdd every hour.. when

[2018-11-24 17:35] MichaIng commented on #2254
@janbildsoehansen
I will mark this issue as closed. Feel free to reopen, in case it reappears.

As said, take care to regularly do `dietpi-backup`, especially before doing deeper system changes.

In case the issue was really related to file system corruption, for a while have a regular look at `dmesg` output, where file system errors are reported. For example:
[code]
If such errors appear you can

[2018-11-24 17:35] #2254 closed, assigned to nobody

[2018-11-24 23:09] janbildsoehansen commented on #2254
thanks will remember in the future :) thanks for the respons

[2018-11-24 23:10] MichaIng commented on #2202
Checked a bid:
- Shared folder possible after installing vbox guest additions. Works a charm then.
- `dietpi-drive_manager` does not recognize them, although I though it will catch it as network drive, since mount "source" is just the custom name of the shared folder.
- I didn't find a way to explicitly check for such mounts (mounted or attached), since lsblk/blkid does not list them. Similar to `

[2018-11-24 23:40] MichaIng commented on #2163
According to error message this issue is not related to: https://github.com/Fourdee/DietPi/issues/2238
- The drop of `fd://` support seems to be due to a very recent APT update between 2 - 3 weeks then.

@Fourdee
We should try to replicate on other NanoPi and in case drop Docker install options for those devices.
Additionally we can send feature request to FriendlyARM to have required kernel modul

[2018-11-24 23:53] Fourdee commented on #2100
Our image is now live, completed.

[2018-11-24 23:53] #2100 closed, assigned to Fourdee

[2018-11-24 23:53] Fourdee commented on #2270
@troyane

Appears the kernel module is missing from the official FriendlyARM pre-image we used.

Have you had any success with ARMbian by removing the ```network-manager``` package, setting up WiFi via ```/etc/network/interfaces```, then running DietPi PREP?
https://github.com/Fourdee/DietPi/issues/2210#issuecomment-435687637

Also enable serial console flag after PREP is finished:
https://github.

[2018-11-25 00:02] MichaIng commented on #2231
Will mark as closed. Issue DNS and/or GitHub server, as mentioned by Fourdee.
E.g. GitHub had server issues ~3 weeks ago.

[2018-11-25 00:02] #2231 closed, assigned to nobody

[2018-11-25 04:48] Jasonb11 opened #2279 "[dupe] Error installing Nextcloud"
#### Details:
- Date           | Sat 24 Nov 23:41:14 EST 2018
- Bug report     | N/A
- DietPi version | v6.17.12 (Fourdee/master)
- Img creator    | DietPi Core Team
- Pre-image      | Raspbian Lite
- SBC device     | RPi 3 Model B+ (armv7l) (index=3)
- Kernel version | #1159 SMP Sun Nov 4 17:50:20 GMT 2018
- Distro         | stretch (index=4)
- Command        | ncc maintenance:install
- Exit code

[2018-11-25 05:34] MichaIng opened #2282 "DietPi-Software | Docker: Repo version bug on RPi"
Ref:
- https://dietpi.com/phpbb/viewtopic.php?f=11&t=5227&start=10
- https://github.com/moby/moby/issues/38175#issuecomment-439733278

Not related to the fd:// issue, but a dedicated issue with most recent repo version on RPi it seems. Manual downgrading seems to work.
_________
To freeze version, until repo has the fix:
[code]
Install last workking version: `G_AGI docker-ce=18.06.1~ce~3-0~raspbia

[2018-11-25 05:40] MichaIng commented on #2279
Known issue. Fixed with v6.18, which will be released today, most properly.

To fix it now read: https://github.com/Fourdee/DietPi/issues/2192#issuecomment-433711737

Will mark this as closed.

[2018-11-25 05:40] #2279 closed, assigned to nobody

[2018-11-25 10:58] stogoh commented on #497
How can I enable/install the OpenGL driver for the Tinkerboard? The setting `Dietpi-Config > Display > Resolution` is not available.

[2018-11-25 11:38] joaofl commented on #350
I know you have closed this, but I wanted to ask you what you think about the approach I gave to the problem you mentioned above.
First is, instead of running the daemon with the transmission user, I changed it to dietpi, which makes things much easier later.
And I also made my own copy of the settings file, to which I'm pointing when running the service. This avoids those catchy issues with the c

[2018-11-25 11:51] joaofl commented on #350
The complete service config is below:
[code]

[2018-11-25 14:07] joaofl commented on #422
@Fourdee

After long time, while setting up my new cloud, I decided to give this issue a try. I already managed to get the password generated and hashed according to the algorithm syncthing use to hide the plain text inside the config file. Now its a matter of inserting this line inside into the setup. However, I'm not really sure about the exact right approach.

In the following 2 lines, I instal

[2018-11-25 15:09] joaofl opened #2283 "Nextcloud Fails to Install"
#### Details:
- Date           | Sun 25 Nov 15:02:50 WET 2018
- Bug report     | N/A
- DietPi version | v6.17.12 (Fourdee/master)
- Img creator    | n/a
- Pre-image      | n/a
- SBC device     | Native PC (x86_64) (index=21)
- Kernel version | #1 SMP Debian 4.9.88-1+deb9u1 (2018-05-07)
- Distro         | stretch (index=4)
- Command        | ncc maintenance:install
- Exit code      | 1
- Software t

[2018-11-25 15:14] MichaIng commented on #422
@joaofl
I hope there is a way without python-bcrypt? Since Syncthing does not rely on it, it should be. I am not keen to install whole python dependency chain just for this 😉.

<s>@Fourdee

We should re-enable, generally. Rely on internal updater handle/updating existing config correctly. If users update via dietpi-software reinstall, this might break thinks instead, since internal config/database

[2018-11-25 15:18] MichaIng commented on #2283
@joaofl
Thanks for report.

However please search for existing issues, there are about 20 of the exactly same error across GitHub and dietpi.com forum now 😉: https://github.com/Fourdee/DietPi/issues/2279

We really need to release v6.18 to have this fixed 😄.

[2018-11-25 15:18] #2283 closed, assigned to nobody

[2018-11-25 15:27] joaofl commented on #422
@MichaIng
I tough python3 was there by default. It actually was already in my PC DietPi image.

It seems that there is no native bcrypt. From what I've read, one can get it from the `apache-utils` package:

I presume Syncthing uses some Go packages for that. No?

@MichaIng
Regarding your second comment, even if we disable auto-upgrade, there still a pop-up message in the web interface that allows

[2018-11-25 15:31] joaofl commented on #2283
I actually did search, but not found it :open_mouth:

[2018-11-25 15:40] joaofl commented on #2283
I searched for the open issues only :sob:

[2018-11-25 15:47] MichaIng commented on #422
@joaofl
Ah, so this option is only for really applying the update, while update checks are anyway done regularly?

Jep then I agree to leave it disabled.

No idea. Since it comes with a large binary only that runs without any dependencies, it is possible that some libraries are included to achieve this.
**€: `bcrypt.GenerateFromPassword([]byte("pass"), 0)`**
Interesting: https://bugs.debian.org/cg

[2018-11-25 17:03] MichaIng commented on #2283
@joaofl
No problem, just a hint 😉.

[2018-11-25 17:22] Fourdee commented on #350
@joaofl

Transmission now runs under ```debian-transmission``` user and ```dietpi``` group permissions. Both should allow full access to userdata download directory.

[2018-11-25 18:49] MichaIng commented on #350
systemd unit is APT install default now, dietpi group added via separate file: `echo -e '[Service]\nGroup=dietpi' > /etc/systemd/system/transmission-daemon.service.d/dietpi-group.conf`
Config file thus is left in APT install default location: `/etc/transmission-daemon/settings.json`
- As long as we install via APT, I would touch as few things as possible, to allow APT updating everything as requir

[2018-11-25 19:32] Fourdee commented on #2267
@MichaIng

Great work, local testing passed, will mark as completed 👍

[2018-11-25 19:32] #2267 closed, assigned to MichaIng

[2018-11-25 19:33] Fourdee commented on #2218
No response from user, will mark as closed. Will reopen if user replies.

[2018-11-25 19:33] #2218 closed, assigned to nobody

[2018-11-25 19:37] Fourdee opened #2286 "dietpi-firstrun-setup.log | excessive/unclean output"

[2018-11-25 19:38] Fourdee commented on #2181
Resolved on latest RPi image, passed our local testing. Will mark as completed.

Please reopen if the issue still occurs on latest image: https://github.com/Fourdee/DietPi/issues/2181#issuecomment-433722969

@troyane
Thanks for the report 👍

Appears dietpi-notify animation is causing most of this. Will open a new ticket and see if we can clean it up: https://github.com/Fourdee/DietPi/issues/2286

[2018-11-25 19:38] #2181 closed, assigned to borpin, Fourdee

[2018-11-25 19:40] Fourdee commented on #2169
Completed.

Autohide X11 cursor option will require a new ticket + enough user interest to warrant our implantation.

[2018-11-25 19:40] #2169 closed, assigned to Fourdee

[2018-11-25 19:43] Fourdee commented on #2275
@ibnbd

Thanks, we'll check and redo image if its running a earlier tinkerOS version.

[2018-11-25 19:45] Fourdee commented on #2135
@MichaIng

~Is solution here?~ Ah confirmed, see the issue.
[code]

Run on its own, elevates user to root, run with other G commands fails.
```G_SUDO```

[2018-11-25 19:47] ibnbd commented on #2275
@Fourdee thank you very much

[2018-11-25 19:50] Fourdee commented on #2273
@MichaIng

Have the free account, not the paid subscription model.
Free account is created when Plex is installed, then goto the GUI to register.

[2018-11-25 20:27] MichaIng commented on #2273
@Fourdee
Was able to verify internal updater based on git client though docs and finished PR accordingly.

[2018-11-26 10:59] troyane commented on #2270
@Fourdee your suspicions came true. On newly installed Armbian without network-manager and after successful execution of  DietPi PREP there was `fbtft`, see screenshot attached:
![fbtft_dietpi_armbian](https://user-images.githubusercontent.com/477468/49009964-8e452380-f17a-11e8-975e-2ad0dd7b0e8d.jpg)

---
Correct me if I'm wrong -- you've used nanopi-neo-air_sd_debian-nas-jessie_4.14_armhf_2018091

[2018-11-26 15:50] MichaIng commented on #2286
Hmm, in some cases the carriage return \r also overwrites the line in log file, sometimes not and the single animation prints take one line each.

I'm currently not sure what this depends on. `tee` vs direct forwarding to log file could be tested. Send to log from systemd units should be no issue since animation is only done on interactive shells.

During whole first run setup we need it interacti

[2018-11-26 16:10] aaro668 opened #2288 "Prep-Script on Orange Pi Zero (H2+) WIFI not working"
## Creating a bug report/issue:

#### Required Information:
- DietPi version	| `cat /DietPi/dietpi/.version`
G_DIETPI_VERSION_CORE=6
G_DIETPI_VERSION_SUB=17
G_DIETPI_VERSION_RC=12
G_GITBRANCH=master
G_GITOWNER=Fourdee

- Distro version	| `echo $G_DISTRO_NAME` or `cat /etc/debian_version`
stretch 9.6
- Kernel version	| `uname -a`
Linux DietPi-test-OPI0 4.14.78-sunxi #412 SMP Fri Oct 26 11:37:04 CES

[2018-11-26 17:45] OE333 opened #2289 "alsa-base missing"
Hello,
I just upgraded to 6.18.12 (beta) and found my USB DAC not working properly any more.

My findings so far:
dpkg -l  shows that alsa-base seems not to be installed (but alsa-utils is installed).

Trying to install alsa via dietpi-software does not change the situation.

Trying to install alsa-base via 'apt-get install alsa-base'  brings error message: "Package alsa-base is not available....

[2018-11-26 19:08] Fourdee commented on #2289
@OE333

Hi,

If you updated when the DAC was unplugged/powered off, the detection may have failed and reset the soundcard on system.

```alsa-utils``` is the only package required, contains the alsa libs

Try re-selecting USB DAC in ```dietpi-config``` > Audio options. Reboot system and check sound is functional.

If problems persist, please send us a bug report
[code]

[2018-11-26 19:58] MichaIng commented on #2288
@aaro668
Thanks for your report.

Jep it's a known issue when running DietPi-PREP with WiFi connection (SSH) and NetworkManager was installed previously. For this reason currently Ethernet connection is required to have the install done reliable.

However to verify this is really your issue:
- Was the WiFi (SSH) connection dropped during DietPi-PREP running?
- Check whether the `network-manager` i

[2018-11-26 20:03] MichaIng commented on #2273
I mark this as closed, since it worked for you during tests, ARMv8 including.

[2018-11-26 20:03] #2273 closed, assigned to Fourdee, MichaIng

[2018-11-26 20:08] Fourdee commented on #2211
Thanks to all Beta testers, v6.18 live, completed.

[2018-11-26 20:08] #2211 closed, assigned to Fourdee, MichaIng

[2018-11-26 20:08] MichaIng commented on #2211
Released, will close 🎆 🍾

[2018-11-26 20:09] aaro668 commented on #2288
The issue is not with ssh being dropped....I was ssh through Ethernet, but after running prep script I couldn't set up and use Wi-Fi.....

Aaron Martin

[2018-11-26 20:53] Fourdee commented on #2270
@troyane

Yes, we previously offered ARMbian based images for most of our SBC's in the past. However, things did not work out between our projects.

Maybe in the future that might change, but for now we only use official FriendlyARM pre-images (+kernel).

[2018-11-26 20:58] pshempel commented on #1829
This does not provide a serial console to login, it does give output, but no input. It just does
                                                                                                                                               }
                                                                                                                                                         ]
as

[2018-11-26 22:16] Twilight0 commented on #2288
Same here, I prepared image on Orange Pi Zero H2+ two days ago and wifi is "Not Found". I had run the PREP script with ethernet.

[2018-11-26 22:26] Twilight0 opened #2293 "Fatal Error Zend OPcache cannot allocate buffer for interned strings"
## Creating a bug report/issue:

Cannot install any software after 6.18 update.

#### Required Information:
- DietPi version	| `cat /DietPi/dietpi/.version`

[code]

- Distro version	| `echo $G_DISTRO_NAME` or `cat /etc/debian_version`

stretch

- Kernel version	| `uname -a`

Linux DietPi 4.14.78-sunxi #412 SMP Fri Oct 26 11:37:04 CEST 2018 armv7l GNU/Linux

- SBC device		| `echo $G_HW_MODEL_DESCR

[2018-11-26 22:34] aaro668 commented on #2288
A bit more detail here.....
With the Armbian install the Wifi IS working fine, I believe it has Network Manager, as  I can configure wireless network using nmtui command.
The SSH connection was not dropped during DietPi-PREP, as I was connected over ethernet/serial.
After DietPi-PREP is finished and first boot setup is done I cannot get WIFI set up and working.....
Maybe I need to do it manually s

[2018-11-26 22:52] MichaIng commented on #2293
@Twilight0
Thanks for your report.

The command that fails is: `php -r 'print(PHP_INT_MAX);'`
Works well here on VirtualBox Stretch and `dietpi-software install 63` went through without error:
[code]

Something with PHP OPcache module seems to be broken.

OPcache can be configured via: `opcache.interned_strings_buffer` in `php.ini`/`opcache.ini`. The only case where we touch this is on Nextcloud i

[2018-11-26 23:08] Twilight0 commented on #2293
I am sorry but I get frustrated easily sometimes and re-installed DietPi from scratch. I 'll provide report if necessary from the fresh install or close and comment it if everything is fine.

[2018-11-27 00:06] aaro668 commented on #2288
Another thing that I noticed was that htop interface changes.....
This is how htop looks with fresh install of Armbian:
![image](https://user-images.githubusercontent.com/34253498/49049704-24467180-f1ae-11e8-899c-8a5fb1e119f5.png)
And this is how htop looks after I run DietPi-PREP:
![image](https://user-images.githubusercontent.com/34253498/49049748-4b04a800-f1ae-11e8-9b49-44d043c1f163.png)
Maybe

[2018-11-27 00:50] MichaIng commented on #2288
@aaro668
The default `htop` does not support CPU temps and frequencies. This seems to be a custom version, e.g.:
- https://github.com/avafinger/htop (amd64+arm64 only)
- https://github.com/wbenny/htop (armhf only)

I forwarded this request (was already done earlier) to the developer of the official `htop`. Of course the request did already exist 😉: https://github.com/hishamhm/htop/issues/163
- The

[2018-11-27 01:00] aaro668 commented on #2288
@MichaIng
Thanks for the htop info, this is not a deal breaker for me, I just thought I would mention it here as I noticed it at the same time as I found the Wifi problem.
Have you checked in about the Wifi yet? Maybe I need to enable Wifi another way?

[2018-11-27 01:18] MichaIng commented on #2288
NB: There is already on open PR for CPU freq, but no progress for a while 😢: https://github.com/hishamhm/htop/pull/592

About WiFi:
- How did you try to configure WiFi? `dietpi-config`?
- Please check if the interface is up and connected to the AP: `ip a` / `ip r`
- If not, check available network cards: `ls -Al /sys/class/net/` or `cat /proc/net/dev`
- Then check which one is configured in `cat /

[2018-11-27 09:20] Twilight0 commented on #2288
I tried to manually modprobe its module today:

`sudo modprobe xradio_wlan`

Then I read these things in the dmesg:

 [   12.736501] xradio_wlan mmc1:0001:1: Direct firmware load for xr819/sdd_xr819                                                               .bin failed with error -2
 [   12.736514] xradio_wlan mmc1:0001:1: Falling back to user helper
 [   12.906360] Generic PHY 0.1:01: attached

[2018-11-27 09:26] Twilight0 commented on #2293
I will close this issue as it looks like it is ok on fresh installations. I had tweaked something according to this comment when tried to installed nextcloud on 6.17, probably something broke: https://github.com/Fourdee/DietPi/issues/2192#issuecomment-433711737

[2018-11-27 09:47] Twilight0 commented on #2293
Reopening this issue... yeah I tried installing nextcloud once again since you claim it has been fixed for 6.18.
And it failed gloriously with the same error. And yes I tried this after re-installing **php7.0-opcache**.

So this is the output of `grep 'opcache.interned_strings_buffer' /etc/php/7.0/*/*.ini /etc/php/7.0/*/*/*.ini`:

[2018-11-27 10:39] aaro668 commented on #2288
@MichaIng
I use dietpi-config, then "Network Options: Adapters"
![image](https://user-images.githubusercontent.com/34253498/49075999-01e04280-f206-11e8-9633-d02c63f48109.png)
Then I select "Change Wireless Network Settings"
![image](https://user-images.githubusercontent.com/34253498/49076049-21776b00-f206-11e8-9300-4be7dd65e938.png)
Then I select OK
![image](https://user-images.githubusercontent.c

[2018-11-27 11:02] aaro668 commented on #2288
Here is output from ls /lib/firmware with fresh Armbian install:
![image](https://user-images.githubusercontent.com/34253498/49077665-dfe8bf00-f209-11e8-95a8-0bf14f0e2369.png)
And here is the output after running DietPi-PREP :
![image](https://user-images.githubusercontent.com/34253498/49077717-03ac0500-f20a-11e8-8e0f-ba1fb3924f7d.png)

It looks like there were a lot added, but the xr819 is missin

[2018-11-27 11:24] aaro668 commented on #2288
So......I copied the xr819 directory from here: https://github.com/armbian/firmware
Into the local /lib/firmware/ directory, restarted the system, and now I have this:
![image](https://user-images.githubusercontent.com/34253498/49078819-0fe59180-f20d-11e8-82c7-ae253a94317f.png)

[2018-11-27 11:33] aaro668 commented on #2288
So, copying the xr819 directory into /lib/firmware/ directory I am now able to connect to an SSID.
Is this a bug in DietPi-PREP?

[2018-11-27 12:56] MichaIng commented on #2293
@Twilight0
Thanks for testing. Jep this issue is a different one than: https://github.com/Fourdee/DietPi/issues/2192#issuecomment-433711737

We will have to do some research about when/why this issue can occur. I am stuck currently since everything looks as expected.

Just, because this is the only place where we touch OPcache settings, can you try to comment all `opcache.*` lines inside `/etc/php

[2018-11-27 13:16] MichaIng commented on #2293
https://bugs.php.net/bug.php?id=72720
SHM is full? They don't mean `/dev/shm`, I guess.
________________
https://forums.zend.com/viewtopic.php?t=113253
`memory_limit`, must this in case be as large as `opcache.memory_consumption` + `opcache.interned_strings_buffer`, so being an overall limit? But actually no chance to hit that with Nextcloud 🤔.
_______________
@Twilight0
Okay some more to check, g

[2018-11-27 13:49] MZorzy commented on #2072
Upgraded DietPI to v6.18.4, rebbot, now homeassistant don't start
(worked on 6.17.x) . command line to launch ?

dont work with service home-assistant start
look same here https://dietpi.com/phpbb/viewtopic.php?f=11&t=5264

[2018-11-27 14:18] MichaIng opened #2294 "DietPi-Software | Plex Media Server: Update x86 download link; Use HTTPS for ARM repo"
x86: https://www.plex.tv/media-server-downloads/#plex-media-server
ARM repo available in HTTPS: https://dev2day.de/pms/dists/stretch/main/binary-armhf/Packages
- [x] Needs testing, especially on Jessie, which throw errors by times on HTTPS APT repos.

Further notes:
- There seem to be an armel package on the official download server, offered as well on Plex control panel, with scheme: `https://dow

[2018-11-27 14:45] MichaIng opened #2295 "DietPi-Software | Certbot: Does not detect Apache module"
Ref: https://dietpi.com/phpbb/viewtopic.php?f=11&t=5262&p=15524#p15524
- Reported and verified on x86.

Is Apache mod-php meant? Is installed and working fine.
Is CertBot internal Apache (auth/inst) module meant?

[2018-11-27 16:23] MichaIng commented on #2295
Ah, I think I installed certbot first, apache afterwards. Then python-certbot-apache is not installed.

Needs detection on Apache/Nginx install as well.
Will retest.
**€: 🈯️ Jep, python-certbot-apache/nginx is not installed, if certbot is installed first, the webserver afterwards.**

[2018-11-27 18:55] stogoh opened #2296 "DietPi-Software | Chromium: Newest version fails on Tinkerboard"
## Creating a bug report/issue:

#### Required Information:
- Distro version		| 9.6
- Kernel version		| Linux DietPi 4.4.103+ #1 SMP Fri Jun 22 16:14:49 CST 2018 armv7l GNU/Linux
- SBC device			| Asus Tinker Board (armv7l)
- Power supply used	| 5V 3A
- SDcard used			| SanDisk ultra 16GB

#### Additional Information (if applicable):
- Software title	| Chromium
- The software is a fresh install
- Th

[2018-11-27 20:40] LexiconCode opened #2297 "DietPi-Software | PiHole: Does not finish installing after setting new password."
## Creating a bug report/issue:

#### Required Information:
- DietPi version	| `cat /DietPi/dietpi/.version`
G_DIETPI_VERSION_CORE=6
G_DIETPI_VERSION_SUB=18
G_DIETPI_VERSION_RC=14

- Distro version	| `echo $G_DISTRO_NAME` or `cat /etc/debian_version` stretch
- Kernel version	| `uname -a`
- SBC device		| `echo $G_HW_MODEL_DESCRIPTION` or (EG: RPi3)
- Power supply used	| (EG: 5V 1A RAVpower) Officia

[2018-11-27 20:59] LexiconCode commented on #2297
I was able to reset password using a much shorter less complex password.  I'm guessing there something wrong with long computer passwords.

[2018-11-28 00:38] davidhq opened #2298 "Chromium - Dedicated use, without desktop : No such file or directory"
## Creating a bug report/issue:

#### Required Information:
- DietPi version	| `cat /DietPi/dietpi/.version`

#!/bin/bash
G_DIETPI_VERSION_CORE=6
G_DIETPI_VERSION_SUB=18
G_DIETPI_VERSION_RC=14
G_GITBRANCH=master
G_GITOWNER=Fourdee

- Distro version	| `echo $G_DISTRO_NAME` or `cat /etc/debian_version`

9.6

- Kernel version	| `uname -a`

Linux DietPi 4.14.79-v7+ #1159 SMP Sun Nov 4 17:50:20 GMT 201

[2018-11-28 03:54] msdos commented on #2269
I'm closing this issue since you now know this alternative exists.

[2018-11-28 13:42] denni-isl commented on #2086
Did work like a charm.    Quick fix.  Thanks!

[2018-11-28 16:29] Fourdee commented on #2297
@LexiconCode

Thanks for the report 👍

Please can you provide a rough example of the password used?

[2018-11-28 16:34] Fourdee commented on #2288
@aaro668

Custom firmware provided by the ```armbian-firmware``` package conflicts with default Debian packages, and, Debian packages lacks the custom firmware.

I'll fix PREP to detect ARMbian and prevent firmware removal/changes.

[2018-11-28 16:36] aaro668 commented on #2288
@Fourdee
Thanks, let me know when fix is ready to test, then I will go through and make sure it is working here.

[2018-11-28 17:03] Fourdee commented on #2288
@aaro668

Thanks 👍

Ok code done, available via dev branch, use below PREP:
[code]

[2018-11-28 17:24] Fourdee commented on #2261
#### How to install to eMMC, once DietPi is running on the SD card:

[code]
- Power off
- Eject SD
- Power on

[2018-11-28 18:29] aaro668 commented on #2288
@Fourdee
Which of these 3 options should I select?
I usually use the top one, but your reference to dev branch makes me think I should maybe select the 3rd item?

[2018-11-28 19:19] Fourdee commented on #2261
Image now live:
https://twitter.com/DietPi_/status/1067860201158651904

Completed.

[2018-11-28 19:19] #2261 closed, assigned to Fourdee

[2018-11-28 19:45] Fourdee commented on #2298
@davidhq

Many thanks for the report 👍

I'll try to replicate.

[2018-11-28 19:46] Fourdee commented on #2298
@davidhq

Just a quick question, have you installed Chromium in ```dietpi-software```? Although you can select the autostart option, it will not install the software, that needs to be done in ```dietpi-software```.

[2018-11-28 19:46] Fourdee opened #2299 "Pinebook Info"
### Info:

#### The DietPi image for Pinebook A64 has the following software installed:
Its aim is to provide the fastest possible desktop experience, using lightweight software and  optimisations.
- LXDE (lightweight desktop)
- Firefox-esr
- DietPi lightweight programs to get the most from your system (eg: ```dietpi-launcher```)

Additional info:
- 172MB RAM usage only
- OpenGL ES supported
- Ker

[2018-11-28 19:46] #2299 closed, assigned to Fourdee

[2018-11-28 19:57] Fourdee commented on #2288
@aaro668

Master should be fine, updated PREP script is already loaded.

[2018-11-29 11:56] davidhq commented on #2298
Hi! You are right, sorry, didn't realize this... maybe you could add a small comment that this has to be done? I mean, it is obvious but maybe someone (like me) would assume this is already in base image and you just set it to autostart...

So from this perspective the issue is solved but if you don't mind I'd like to add a small question: everything works except I cannot make use of full horizont

[2018-11-29 12:16] joyeriastv opened #2300 "Python script at startup (dietpi config) will never let you abort it"
## Creating a bug report/issue:

I am not sure if this is a bug, but  dietpi soft should have an option like boot up types before running that script at startup to revert it, does it have?

I have a python script running without login at startup, created with the dietpi options (last one) to run anything at startup, now I cant even close it with Ctrl+C, how can I revert it without using a second l

[2018-11-29 12:23] davidhq commented on #2298
Something else that is interesting and suggests that the missing setting could be somewhere in where you manage the starting of Chromium?

When I tap outside of "acknowledged" area, I get an "X" instead of a normal (/text entry) pointer cursor..
![img_5941](https://user-images.githubusercontent.com/3899/49221570-d1510200-f3d9-11e8-8240-1293c996b6ae.JPG)

Seems that in general the whole area is ena

[2018-11-29 13:06] MichaIng commented on #2300
@joyeriastv
<s>You man you use dietpi-postboot with /var/lib/dietpi/postboot.d/* to start your script?

Since postboot is started via systemd unit, is is executed non-interactively outside of terminal. You should only use this for oneshot scripts that themself exit. If you want to start a script that stay running interactively, you should do start on login, e.g. via: /etc/profile.d/*.sh
I'm not aw

[2018-11-29 14:22] adamotte opened #2301 "RPI SBC | RPi 3 Model A+"
## Creating an image request:

#### Give us some formal device information:
- Device name | **Raspberry Pi 3 Model A+**
- Official product URL | https://www.raspberrypi.org/products/raspberry-pi-3-model-a-plus/
- GitHub resource URL | https://github.com/raspberrypi
- Image download URL | https://www.raspberrypi.org/downloads/

If default image is not working as this and need some tweaking...

[2018-11-29 15:42] MichaIng commented on #1814
@Fourdee
Finally Stretch C2 Kodi issue seems fixed by Meveric: https://dietpi.com/phpbb/viewtopic.php?f=11&t=5282&p=15568&sid=16232ea848e9194e0db86b2fcdb96e5c#p15545

Perhaps we need to adjust our install script accordingly?

[2018-11-29 15:47] MichaIng commented on #2301
@adamotte
Thanks for your request. Actually the RPi image should work for all RPi versions. Did you face any issues with it?

But indeed or hardware model identifier script does not identify model 3 A+ currently.

Could you paste the result of: `cat /proc/cpuinfo`
So we can implement based on that info.

But the image should still work?

[2018-11-29 15:58] MichaIng commented on #2296
@Stogoh
Thanks for your report. We will investigate.

[2018-11-29 16:11] stogoh commented on #2296
@MichaIng
**Sidenote**
I had the same problem with TinkerOS after `sudo apt-get upgrade`. But when I just use the image which is online and **not** update it, then chromium is working. Maybe some package is getting updated and then does not work anymore.

[2018-11-29 18:10] MichaIng commented on #2296
Thanks for the info. So we need to check which version still works, what changed and what we need to adjust e.g. in xorg.conf to get it running again.

[2018-11-29 18:14] MichaIng commented on #2298
Good point about autostart vs installed software.
Where a certain software install is required, we should check for install status and in case inform user, offering to run the install directly via whiptail menu.

[2018-11-29 18:49] craviee opened #2302 "DietPi-Config | Change the number of WiFi Slots in Wireless Network Options"
It is possible to change the number of WiFi Slots from 5 to 10 or 20?

I tried to change the variable MAX_SSID_SLOTS of /boot/dietpi/func/dietpi-wifidb to 10 but nothing happened, and when I reboot the system the variable returns to the default 5.

[2018-11-29 18:58] MichaIng commented on #2302
@craviee
You need to adjust the value within `/DietPi/dietpi/func/dietpi-wifidb`. On reboot this will be ported to `/boot/dietpi/func/dietpi-wifidb` as well.

But a `dietpi-update` will revert of course.
My aim, perhaps can be done for v6.19, is to have no static max slot amount, but simply start with one slot. Then have a button within `dietpi-wifidb` menu to add an additional slot up to no limit

[2018-11-29 19:01] craviee commented on #2302
This fully resolves my issue.
May I close this issue?

[2018-11-29 19:04] MichaIng commented on #2302
Thanks for feedback, yes you can close. The feature/improvement will be done via separate issue.

[2018-11-29 19:14] #2302 closed, assigned to nobody

[2018-11-29 19:25] LexiconCode commented on #2297
I5#l@qQUT&G7@Om5M8aGZ1pH#^u8qs*fof6KdPz0*yZzrZ9pisyCHfxX@I*fXrGn^a2

[2018-11-29 21:03] MichaIng commented on #2300
Okay, just read the issue on the forum (I guess this is yours as well?): https://dietpi.com/phpbb/viewtopic.php?f=11&t=5285

I understood now that it is not only a question but urgent help request 😉.
If you added the script to autostart via `dietpi-config`, then it must be `dietpi-autostart`, which starts the script via systemd unit prior/regardless of login.

To stop it: `systemctl stop dietpi-au

[2018-11-29 21:13] Fourdee commented on #2298
@davidhq

Please try editing:
[code]

Change the following line to below:
[code]

Save changes and reboot, see if that resolves the issue.

- 🈯️ Worked for me ```--window-size=$RES_X,$RES_Y --start-fullscreen```

[2018-11-29 21:16] Fourdee commented on #2296
@Stogoh

Looks like an issue with GPU accell, as a workaround for now, try disabling the glamor driver:
[code]

[2018-11-29 21:20] Fourdee commented on #1814
@MichaIng

No change needed. Updated APT package resolves issue ^^.

https://forum.odroid.com/viewtopic.php?f=138&t=27449&p=239490#p239490

[2018-11-29 21:34] MichaIng commented on #1814
@Fourdee
Perfect. If we now can resolve the XU4 Stretch Xorg issue (https://github.com/Fourdee/DietPi/issues/2130), I would say we can take off Jessie images, or move them to some "legacy" subdir.

From my point of view, we can also disable the Jessie option within DietPi-PREP (still allow dist upgrade from base Jessie to DietPi Stretch) and encourage existing Jessie users to switch to Stretch.

W

[2018-11-29 21:51] stogoh commented on #2296
I have now disabled the driver, but now it fails to initialize xserver. So I‘m suck in the console right now.

[2018-11-29 21:58] Fourdee commented on #2296
@Stogoh

Updating our TinkerOS image, i'll take a look in the next hour or two.

[2018-11-29 22:06] Fourdee commented on #2298
@davidhq

~If you could confirm the follow change works on your system, i'd be grateful:~

[2018-11-30 02:07] Fourdee commented on #2288
Firmware issues resolved in PREP ```dev``` and by selecting install branch ```dev``` only. Due to master branch pre-req firmware during wifi set.

Completed, passed local testing.

[2018-11-30 02:07] #2288 closed, assigned to nobody

[2018-11-30 03:01] Fourdee commented on #2275
Currently 2.0.7, due to WiFi issues, will retry with 2.0.8.

2.0.8, WiFi test + reboot:
- 🈯️
![image](https://user-images.githubusercontent.com/7077026/49266054-9b009a80-f44c-11e8-8225-657d1ae54893.png)

[2018-11-30 03:11] Fourdee commented on #2296
Confirmed issue: https://tinkerboarding.co.uk/forum/archive/index.php/thread-1735.html

@Stogoh
To return X back to working state:
[code]

[2018-11-30 03:20] Fourdee commented on #2275
Image live:
https://dietpi.com/download

Completed.

[2018-11-30 03:20] #2275 closed, assigned to Fourdee

[2018-11-30 03:20] Fourdee commented on #2296
Still occurs with v67...
[code]

Same with egl flag removed.

[2018-11-30 04:37] Fourdee commented on #2301
DietPi naming for 3A+ will be fixed in v6.19.  https://github.com/Fourdee/DietPi/commit/2c584c17c012b8d15f839c97717c9c50aa3d0911

@adamotte
Image should work out the box with 3A+. However, if you can confirm, i'd be grateful.

[2018-11-30 06:04] Fourdee commented on #2296
Note to self:
- Image updated to mainline (in testing folder)
- midgard driver with EGL support
- Confirmed Kodi support
- Confirmed Chromium under autostart support
- Do not release until v6.19 is live, due to dev prep'ed and desktop changes

ref: https://github.com/Fourdee/DietPi/commit/fc823eb63c6797cc6fd99ed88d9f6ca01158070d

[2018-11-30 06:48] Fourdee commented on #2298
@davidhq
Found the issue, was able to replicate with ASUS TB, solution is to copy and paste all the below code into terminal:
[code]

[2018-11-30 06:56] Fourdee commented on #497
@Stogoh

OpenGL ES with midgard will be available in our updated image ETA few days, once Xserver is installed:
https://github.com/Fourdee/DietPi/issues/2296#issuecomment-443101227

[2018-11-30 07:00] Fourdee commented on #2297
@LexiconCode

Epic, thanks. Will run some tests 👍

Our end 🈯️ https://www.diffchecker.com/XX67Ysyl
[code]

Hmm, seems fine in v6.18:
- UI login 🈯️
![image](https://user-images.githubusercontent.com/7077026/49273885-66053f80-f46e-11e8-8a94-168b23908fb3.png)

@LexiconCode
Password appears fine in our tests, maybe github is converting some chars, please could you place the password you originally use

[2018-11-30 08:24] Fourdee commented on #2293
Issue appears limited to this device + pre-image. Could be a PREP issue (unlikely if everything else is working fine)

@Twilight0

Which pre-image/image did you use for the OPi Zero?

[2018-11-30 08:33] Micha-Btz commented on #2249
For me it is solved, so I close this issue. If you want create a solution for all users, please reopen.

[2018-11-30 08:33] #2249 closed, assigned to nobody

[2018-11-30 08:40] Fourdee opened #2305 "Update Allo GUI images"
Note:
- Updating current image from v6.16 to v6.18 breaks OMPD
- reinstall should recreate database
- user unable to login, cookie session error

---

- GMrender service, once disabled, unable to re-enable.

[2018-11-30 08:48] Fourdee commented on #2072
@MZorzy

Possible python version issue, from what I can translate + google.

- Which device are you running (EG: RPi)? I'll try to replicate.
- Any manual changes to system outside of DietPi programs?
- Any other software installed from ```dietpi-software``` (eg: Kodi)?

[2018-11-30 09:41] adamotte commented on #2301
My ticket was just to keep in mind this new device and double check if, has you said, it works out of the box.
He is not available yet in my country, i will buy it as soon as i can.

[2018-11-30 10:48] davidhq commented on #2298
testing right now, first run wasn't successful, when I replaced the new autostart file, chromium didn't start, device stayed in terminal... I'll try to find the reason and let you know

[2018-11-30 10:54] davidhq commented on #2298
it actually did work, I made a mistake... so, for now it looks much better... will test some more if there is any other problems, otherwise I think this resolves the issue....

[2018-11-30 11:26] davidhq commented on #2298
My report: works great but I still need to hide the mouse cursor, is there a good way to put:

    xserver-command = X -nocursor

somewhere? I used to put this in `/etc/lightdm/lightdm.conf` before...

And doing this:

    xinit -nocursor $FP_CHROMIUM $CHROMIUM_OPTS

causes Chromium to not boot :(

`Fatal IO error 11 (Resource temporarily unavailable) on X server ":0" ...`

[2018-11-30 13:49] MZorzy commented on #2072
Hi @Fourdee ,
i'm on DietPi_VirtualBox-x86_64-Stretch from your site.
start as dietpi 6.17, added pihole (it work), reboot, than added home-assistant (it work).
no other software.

after upgrade dietpi from 6.17 to 6.18 pihole working as usual, but home-assistant don't autostart

de-installed homeassistant. rm /home/homeassistant/.cache, dietpi-software install 157, reboot, now work again.

[2018-11-30 15:16] Twilight0 commented on #2293
Armbian's one. Stable PREP script & stable Dietpi release. Will report back when I have time to test things out.

[2018-11-30 15:31] MichaIng commented on #2293
@Twilight0
Could you please paste the output of above mentioned commands? If all this is as expected, perhaps there is a sysctl.conf/sysctl.d/*.conf entry that somehow limits memory allocation. Not sure what's possible there.
And could you send a bug report?

But perhaps it's easiest of @Fourdee can try to replicate, if you have a OPi Zero there? Even it is an issue with a non-officially supported

[2018-11-30 20:57] Twilight0 commented on #2293
@MichaIng: OK

`grep 'memory_limit' /etc/php/7.0/*/*.ini /etc/php/7.0/*/*/*.ini`

`grep 'opcache.memory_consumption' /etc/php/7.0/*/*.ini /etc/php/7.2/*/*/*.ini`

grep: /etc/php/7.2/*/*/*.ini: No such file or directory

`grep 'apc.shm_size' /etc/php/7.0/*/*.ini /etc/php/7.2/*/*/*.ini`

`df`

`free -m`

However these are after clean install plus a few things without Nextcloud marked, because in cas

[2018-12-01 03:56] Fourdee commented on #2072
@MZorzy

Strange, must of been an APT upgrade that caused the issue. No patch reinstall from v6.17.

Ok, we'll try to replicate this on our VM.

[2018-12-01 07:19] Fourdee commented on #2072
Test:
- VB fresh image
[code]
- Do not update to v6.18
- Install Pi-hole + HA
- Update to v6.18 🈯️ | no issues
- Reinstall Python via APT (to test APT update cause) 🈯️  | no issues
[code]

@MZorzy

Was unable to replicate in our testing, unsure as to cause your end. However, as the issue is now resolved on your system, i'll mark this as resolved.
If problems persist in the future, please let us kn

[2018-12-01 07:19] #2072 closed, assigned to Fourdee

[2018-12-01 07:26] Fourdee commented on #2298
@davidhq

Try:
[code]

Then add the following line before ```xinit $FP_CHROMIUM $CHROMIUM_OPTS```
[code]

Cursor should disappear after 5.1 seconds.

[2018-12-01 07:28] Fourdee commented on #2298
As the original issue is now resolved. I'll mark this as closed. However, please reopen if required.

@davidhq

Please let us know if unclutter works for you, if so, we can add it into the code:
https://github.com/Fourdee/DietPi/issues/2298#issuecomment-443406683

[2018-12-01 07:28] #2298 closed, assigned to Fourdee

[2018-12-01 07:30] Fourdee commented on #2301
@adamotte

He is not available yet in my country, i will buy it as soon as i can.

Yep, thank you for the heads up 👍

I'll order one when I can and verify. Unless someone else can confirm its fine.

[2018-12-01 10:33] davidhq commented on #2298
OK, thank you.

Regarding unclutter: I didn't want to use that since I have experience with this better solution as mentioned:

https://raspberrypi.stackexchange.com/questions/53127/how-to-permanently-hide-mouse-pointer-or-cursor-on-raspberry-pi

Can you please see where and how this can be achieved here, then you could add option for that...

[2018-12-01 14:51] ghost commented on #2103
I'm not sure if this is a solution and my test is on a RPi not a Ordroid C2 but according to this: https://www.raspberrypi.org/forums/viewtopic.php?p=1073973#p1072266 dhcpcd5 should be able to handle the situation. I replaced isc-dhcp-client with dhcpcd5 and have done a local test and am able to ping on both adapters. If I have misunderstood the issue (I didn't read into it all :-)) then just igno

[2018-12-01 16:23] symbios24 opened #2306 "Chromium Browser Runs Half Screen"
Hello i`m using latest DietPi Version 6.18 in a Raspberry Pi3B

I installed Chromium Browser and after i set i to auto-start standalone

and it only shows in half of my screen on the left side i have a fullhd 22" screen  the other half is black

i had this bug in 6.17 version also it looks like is not fixed yet

Thanks

[2018-12-01 18:35] k-plan opened #2307 "DietPi-Update | Failed with PiHole as DNS Serever using some Filterlist"
Required Information:

- DietPi version	| `cat /DietPi/dietpi/.version`

[code]
- Distro version	| `echo $G_DISTRO_NAME or cat /etc/debian_version`
[code]
- Kernel version	| `uname -a`
`Linux-3 4.14.79-v7+ #1159 SMP Sun Nov 4 17:50:20 GMT 2018 armv7l GNU/Linux`

- SBC device	| `echo $G_HW_MODEL_DESCRIPTION`
`RPi 3 Model B+ (armv7l)`

- Power supply used	| (EG: 5V 1A RAVpower)
`RaspBerry Pi 3 Offic

[2018-12-01 22:10] MichaIng opened #2308 "DietPi-Software | Pydio: Pretty URL rewrite required for sync clients"
https://dietpi.com/phpbb/viewtopic.php?f=11&t=484&p=15596&sid=79a48e972c5bbda81778deff5b9ef565#p15596

[2018-12-01 22:18] MichaIng commented on #1634
Required for Pydio client sync: https://github.com/Fourdee/DietPi/issues/2308

[2018-12-02 01:41] Fourdee commented on #2306
@symbios24

This is resolved in v6.19, please see below for info and a solution you can apply now:
https://github.com/Fourdee/DietPi/issues/2298#issuecomment-443108829

[2018-12-02 01:41] #2306 closed, assigned to nobody

[2018-12-02 01:48] Fourdee commented on #2307
@k-plan

Hello you, long time no see 👍 Hope all is well?

Strange, working fine here, could be a DNS issue, what happens if you do:
[code]

Whats your DNS set to, Pihole installed?

[2018-12-02 02:29] Fourdee commented on #2130
Strange, desktop
- ```startx -- :1``` 🈯️ over SSH
[code]
- Fails in autostart 🈴
- ```/etc/rc.local``` ```startx```  🈯️
- ```sleep 5 && startx &``` in ```login``` 🈯️

Strange, udev (with its mali permission rules) start well before ```login```. Unsure of cause, will apply the workaround.
🈯️ Kodi running fine.

[2018-12-02 03:07] Fourdee commented on #2130
Resolved in v6.19 in ```login``` script when using ```dietpi-autostart``` under desktop login.

Workaround to launch via local term is:
[code]

[2018-12-02 03:07] #2130 closed, assigned to Fourdee

[2018-12-02 03:15] Fourdee commented on #1829
@pshempel

Hi,

Serial console is disabled after initial boot up. You can override this by setting ```CONFIG_SERIAL_CONSOLE_ENABLE=1``` in ```/boot/dietpi.txt``` before 1st run of the device.

This does not occur in our local testing, possible a bad image write, insufficient PSU?

```AUTO_SETUP_GLOBAL_PASSWORD=``` in ```dietpi.txt``` is an automation option. After 1st run setup, the plain password

[2018-12-02 07:35] tenorable opened #2310 "Nextcloud Talk Install Fail"
#### Details:
- Date           | Sun  2 Dec 01:13:04 CST 2018
- Bug report     | N/A
- DietPi version | v6.18.14 (Fourdee/master)
- Img creator    | DietPi Core Team
- Pre-image      | Raspbian Lite
- SBC device     | RPi 3 Model B+ (armv7l) (index=3)
- Kernel version | #1159 SMP Sun Nov 4 17:50:20 GMT 2018
- Distro         | stretch (index=4)
- Command        | ncc maintenance:mode --off
- Exit c

[2018-12-02 08:24] symbios24 commented on #2306
thanks one more question i have set the chromium to autostart but i cannot exit to apply the fix is there a way to exit ? or is there a way to cancel to autostart ?

[2018-12-02 10:50] k-plan commented on #2307
@Fourdee

_Hey Dan, more or less at the moment.  Hope all is well on your side._

Thanks for your reply.

Yes, piholed. Yes, redirection to `https://codeload.github.com/Fourdee/DietPi/zip/master` is blocked by :
[code]

But I don't understand, why `dietpi-update` then didn't use the mirror:
https://github.com/Fourdee/DietPi/blob/master/dietpi/dietpi-update#L91-L94

[2018-12-02 15:03] MichaIng commented on #2308
@Fourdee
I will add this to v6.19 now:
- Lighttpd according to solution in forum. Hope user can verify it's working there (with Windows client). I tested with another DietPi VM as client. Connection worked (without not), but last step to start dir sync somehow didn't start it. Pressing the button didn't have an effect. Not sure if something is missing for the client binary, since I just installed

[2018-12-02 15:07] MichaIng commented on #1634
Same solution for Pydio works for Nextcloud as well, to reach the pages via URL without /index.php/. But what is not working is that the links inside Nextcloud WebUI open pages with pretty URLs as well.  Not sure if this is part of the front controller directive. Will delay this to v6.20. Only Pydio will be done in v6.19.

[2018-12-02 15:10] MichaIng commented on #2310
@tenorable
Thanks for your report. Will investigate.

The `ncc` command is added by us as global function as shortcut for `sudo -u www-data php /var/www/nextcloud/occ`

Did you install Nextcloud via `dietpi-software` as well?
**€: Should have been, otherwise `dietpi-software` would have rerun Nextcloud install 🤔**
Actually regardless how Nextcloud was installed: If it is placed in `/var/www/nextcl

[2018-12-02 15:25] pshempel commented on #1829
I am using the onboard 16G  MMC. I have installed Armbian and I have no
problems with that working. I would prefer Dietpi as it usually has better
support for the hardware.
BTW, this is on of two of these devices that have the same issues.

The PSU are both the models sent with the device
12V DC 5 amp

No sdcard

Nothing attached to it except serial.
Serial does work for the input on the system as

[2018-12-02 15:52] Gill-Bates opened #2311 "Unstable Internet Connection with Raspberry Pi Zero with 6.18"
Hey Guys,

I am using an Raspberry Pi Zero W and connect it with Wifi. When I keep IPv6 enabled, the Internet connection is very unstable. When I turn IPv6 off - everything works fine.

Is this a known issue?

[2018-12-02 15:59] MichaIng commented on #2311
@WTFMaster
Thanks for your report.

When you enable IPv6, do you completely disable IPv4 on local network, so the Pi has no IPv4 address assigned at all?

It is known that DietPi currently relies on a local IPv4 network, at least, besides IPv6, there need to be an IPv4 address assigned to the network adapter/interface as well.

This is something we need to work on, to allow using IPv6 network only

[2018-12-02 17:36] MichaIng commented on #2308
Just found: https://github.com/Fourdee/DietPi/issues/297
~That actually gives a hint about the different required rewrite rules... Why there is no official doc about this, which all seems to be required... 🤔~
**€: Nope, outdated according to: https://pydio.com/en/docs/kb/system/installing-debiannginx**
_______
No official hints here: https://pydio.com/en/docs/kb/system/installing-linux-distributio

[2018-12-02 19:13] MichaIng commented on #2308
### Lighttpd

Gave up in Linux client. Most properly some library is missing.

🈯️ Test with Windows client succeeds with:
[code]
- Added more access denials according to `.htaccess` files. Will add again more.

[2018-12-02 20:50] MichaIng commented on #2308
### Nginx

Nginx example conf... to a while to find it 😆: https://github.com/pydio/pydio-core/blob/develop/core/src/nginx.conf.sample

Sadly even with redirection statement from this sample, sync on Nginx does not work 🤔

🈯️ `try_files $uri $uri/ /pydio/index.php?$args;`
- Checks for file/folder existence, otherwise rewrites to index.php with args attached. This is the way to go with ~modern (actu

[2018-12-02 22:22] MichaIng commented on #2308
Done:
- Lighttpd: https://github.com/Fourdee/DietPi/commit/6537620a91e6923d1853c549df683aea6b46a693
- Nginx: https://github.com/Fourdee/DietPi/commit/3471de975283e5f489d4fef3c75d5334ffd72526

🈯️ Passed Windows client connection, sync and public shares
- [x] Jessie Lighttpd | Requires mod_rewrite via `lighttpd.conf,` since `rewrite.ini` is not yet available
  - 🈯️ Done: https://github.com/Fourdee/D

[2018-12-02 22:58] tenorable commented on #2310
It did not go fine at first because some of the config files from the
previous attempt were there, but after deleting then it went OK. Any advice
on how to get the mobile app to talk with the server? Having trouble with
that. Say malfigured server when the app tries to connect.

Thanks,
Kevin

On Sun, Dec 2, 2018, 9:10 AM MichaIng <notifications@github.com wrote:

[2018-12-03 04:55] Fourdee opened #2313 "General | Enable Serial console by default for our images."
REF: https://github.com/Fourdee/DietPi/issues/1829#issuecomment-443515783

automation entry is mostly missed by users. Some cases it cannot be set easily (ext4 FS by windows users, NanoPC T4 requires RK tools extract, loopback and rebuild)

- Enable Serial console by default for our images.
- 🈯️ May add a prompt in ```dietpi-software``` to offer user to disable it on 1st run.

[2018-12-03 05:26] Fourdee commented on #1829
@pshempel

the strange symbols

Yep, the serial connection is a "strange" baud rate 1500000, check below:
https://github.com/Fourdee/DietPi/issues/1519#issuecomment-368251442

You'll need to extract the image with RK tools, mount to loopback and modify the file, then re-pack with RK tools.

EMMC partitions may not show up when using SD, due to boot method of device.

---

REF: https://github.com/F

[2018-12-03 05:57] Fourdee commented on #2313
Code done, will update images on a as-needed basis.

[2018-12-03 05:57] #2313 closed, assigned to Fourdee

[2018-12-03 06:52] Fourdee commented on #2306
@symbios24

SSH would be preferred.

Or on local machine, use CTRL+ALT+F2

[2018-12-03 07:06] Fourdee commented on #2311
@WTFMaster

Very strange, IPv6 is having this effect.

After boot, try:
[code]

See if that improves stability.

Also please check the signal strength in ```dietpi-config```, or,
[code]

[2018-12-03 07:10] Fourdee commented on #2307
@k-plan

Strange, no block with default Pi-hole install in my testing, custom additions?

Try disabling the github entries ```#``` in ```dietpi-update```
https://github.com/Fourdee/DietPi/blob/master/dietpi/dietpi-update#L77-L103

Then re-run the update. That will switch to DietPi mirror.

[2018-12-03 07:13] symbios24 commented on #2306
thanks by the way also firefox esr can be done the same way like chromium (autostart) i have tried it
if you want to add it on a later update

[2018-12-03 07:19] Fourdee commented on #2306
@symbios24

if you want to add it on a later update

Default Firefox-esr is not compiled with ALSA, requires pulseaudio, no sound for our systems. Very unlikely we'd implement autostart feature as we'd also need to compile + maintain Firefox-esr for all CPU archs and distros.
https://www.linuxquestions.org/questions/slackware-14/firefox-in-current-alsa-sound-4175622116/

[2018-12-03 07:39] k-plan commented on #2307
@Fourdee

Yes, see above.

Add https://urlhaus.abuse.ch/downloads/text/ to your pihole blocklist.
About this list: https://urlhaus.abuse.ch/
And yes, normaly it should only block this:
[code]

Yes, indeed! Comment [line 93](https://github.com/Fourdee/DietPi/blob/master/dietpi/dietpi-update#L93) out  suffice.
But why to have a mirror, if it will never be used? 😉

[2018-12-03 07:46] Fourdee commented on #2308
🈯️ Test install Lighttpd , not tested Sync client yet.

[2018-12-03 07:51] Fourdee commented on #2307
@k-plan

Strange, should fail and switch to the backup mirror:
https://github.com/Fourdee/DietPi/blob/master/dietpi/dietpi-update#L107-L112

It must be able to download https://github.com/Fourdee/DietPi/blob/master/dietpi/dietpi-update#L79, but not the ZIP.

[2018-12-03 08:48] k-plan commented on #2307
@Fourdee

No, it will not fail. `https://raw.githubusercontent.com/ ....` is reachable.
But `https://github.com/Fourdee/DietPi/archive/master.zip` is a server side redirecton by github to `https://codeload.github.com/Fourdee/DietPi/zip/master`
and `https://codeload.github.com/....` will be blocked by pihole. So:

[code]

By this way, it was no big deal for me to solve this problem for my personal

[2018-12-03 09:48] MZorzy commented on #2072
unable to reproduce me too, VB fresh image auto upgrade to 6.18.14 then reboot.
i will check if HA don't start from 6.18.x to 6.19.x
thx MZorzy.

[2018-12-03 10:43] Fourdee commented on #2307
@k-plan

Not much we can do about Github's redirect.

We could add an option in ```dietpi-update``` to force selecting between Github and DietPi mirror?

[2018-12-03 15:46] MichaIng commented on #2310
@tenorable
Do calls from browser to browser work well? Then desktop browser to WebRTC capable mobile browser?
Does either the Nextcloud log or turn server log (/var/log/turn_*.log) give some hint?

Will try with fresh setup as well.

[2018-12-03 18:03] tenorable commented on #2310
So, what I did for the mobile app was uninstall it, deleting the previous
files, and then reinstalled it.  Then it seemed to work OK, but took a long
time to finally get in and sync.

Thanks,
Kevin

On Mon, Dec 3, 2018 at 9:46 AM MichaIng <notifications@github.com> wrote:

[2018-12-03 22:44] St3S0f opened #2315 "Please enable cgroups memory in the kernel"
## Creating a feature request:
can cgroups memory be enabled in the kernel?

#### Is your feature request related to a problem? Please describe:
cgroups memory is a prerequisite to install kubernetes

#### Additional context:
[code]

[2018-12-04 04:16] Fourdee commented on #2308
Need to verify:
- Sync clients functional with:
-- 🈯️ Lighttpd after reboot or ```service lighttpd force-reload```
-- 🈯️ Nginx
-- 🈯️ Apache2

Update online doc:
- 🈯️ https://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=1064#p1064

Then we can mark this as completed.

[2018-12-04 04:56] Fourdee commented on #2308
@MichaIng

Works a charm, great work 👍

[2018-12-04 04:56] #2308 closed, assigned to MichaIng

[2018-12-04 05:15] Fourdee commented on #2315
@1uc4

Hi, many thanks for the request 👍

Unfortunately, we do not offer custom kernels at this time. All ours kernels are provided by manufacture, or, community.

You'd need to build the kernel with custom changes, as per your requirements.

[2018-12-04 05:15] #2315 closed, assigned to nobody

[2018-12-04 09:07] Fourdee commented on #2305
Images in testing.

[2018-12-04 09:34] Maldus512 opened #2318 "Pinebook | Suspend to RAM not working"
#### Required Information:
- DietPi version	| `cat /DietPi/dietpi/.version`
[code]

- Distro version	| `echo $G_DISTRO_NAME` or `cat /etc/debian_version`
    `stretch`
- Kernel version	| `uname -a`
     `Linux DietPi 4.19.2-sunxi64 #92 SMP Thu Nov 22 19:26:30 CET 2018 aarch64 GNU/Linux`
- SBC device		| `echo $G_HW_MODEL_DESCRIPTION` or (EG: RPi3)
     `Pinebook 1080p (aarch64)`
- Power supply used

[2018-12-04 09:37] Fourdee commented on #2318
@Maldus512

Hi,

Many thanks for the report 👍

Known issue (apologies forgot to list it), should be resolved with 4.20 kernel. We need to wait :)

[2018-12-04 09:38] Maldus512 commented on #2318
@Fourdee
Hi,
I suspected it, but couldn't find any reference. I'll gladly wait for the next release, thank you.

[2018-12-04 13:38] k-plan commented on #2307
@Fourdee

`Unable to replicate ☕️`

Really? I have explain it twice what is to do and it persistent exist on all my devices not only RPI3B+ I have test it at last.

Sorry, last trying now.

[code]
The problem is your `DietPi-Update | Checking mirror` =>  `DietPi-Update | Using update server`

https://github.com/Fourdee/DietPi/blob/master/dietpi/dietpi-update#L107-L128

You have to check reachabili

[2018-12-04 13:38] k-plan commented on #2307
Closed and change title to a fittingly description.

[2018-12-04 13:38] #2307 closed, assigned to nobody

[2018-12-04 17:08] ghost opened #2319 "Initial install fail - Odroid HC1"
## Creating a bug report/issue:
#### Details:
- Date           | Mon 10 Sep 07:09:19 EDT 2018
- Bug report     | N/A
- DietPi version | v6.14
- Img creator    | DietPi Core Team
- Pre-image      | Meveric
- SBC device     | Odroid XU3/XU4/HC1/HC2 (armv7l) (index=11)
- Kernel version | #1 SMP PREEMPT Thu Aug 23 05:59:33 UTC 2018
- Distro         | stretch (index=4)
- Command        | Connection tes

[2018-12-04 17:39] MichaIng commented on #2310
@tenorable
Okay did some local testing here, generally it works. On local network connection is very fast, though outside of local network via TURN server indeed takes longer. This highly depends on how the TURN server (your Nextcloud server) is connected to www, NAT, router and firewall setup.

The job of the TURN server is to navigate traffic through different NAT setups successfully, which is o

[2018-12-04 17:40] GulyFMG opened #2320 "DietPi-Software | Steam Link"
Creating a software request:
Give us some formal software information:

    Software title | Steam Link now in BETA on Raspberry Pi
    Short description | Steam Link now in BETA on Raspberry Pi
    GitHub URL (if available) |
    (Official) install documentation | https://steamcommunity.com/app/353380/discussions/0/1743353164093954254/

Are there similar/alternative software titles available with

[2018-12-04 17:40] #2310 closed, assigned to MichaIng

[2018-12-04 17:47] MichaIng opened #2321 "DietPi-Software | Nextcloud Talk: Minor install fix/enhancement and disable logging"
Reference:
- https://github.com/Fourdee/DietPi/issues/2310
- https://groups.google.com/forum/#!topic/turn-server-project-rfc5766-turn-server/k1VzO8blRiQ
- [x] By default disable all coturn logging via service.d execution command extension. Otherwise at least every service start, one log file is created.
- [x] If I understood correct, turnserver.conf settings will, if set, overwrite cmd options. Ve

[2018-12-04 18:32] MichaIng opened #2322 "DietPi-Software | Blynk: Migrate existing installs to new dir structure"
Ref: https://github.com/Fourdee/DietPi/pull/2287

Not actually a bug yet, but potentially:
- Currently reinstall would place the binary (jar) into the previous data dir and set new data dir to subdir.
- So for user, data seem lost and install dir is messed.

If someone reinstalls Blynk via dietpi-software on v6.19, solution to mostly restore previous stage is:
[code]
But old `server.properties` co

[2018-12-04 18:51] MichaIng commented on #1510
## `mawk` vs `gawk`
_Ref: https://github.com/Fourdee/DietPi/issues/2323_

### Large files

#### mawk
[code]

#### gawk
[code]

### Small files

#### mawk
[code]

#### gawk
[code]

### Result
- gawk takes 5 ms more init time that mawk

### Large input string

#### mawk
[code]

#### gawk
[code]

### Result
- Even larger absolute difference here.

[2018-12-04 19:14] LexiconCode commented on #2297
I'll get back to you as soon as I have access to the system

[2018-12-04 19:14] MichaIng opened #2323 "Coding | Use "mawk" instead of "awk" for consistency and performance"
On a fresh system, only `mawk` is installed and linked for `awk` implementation:
[code]

When installing `gawk`, the default is replaced by it:
[code]

`gawk` is e.g. installed as dependency with MariaDB: https://packages.debian.org/stretch/mariadb-server-10.1

`mawk` on Debian is marked as `required`, thus is available on all Debian systems and will never be autoremoved:
[code]

`gawk` on the oth

[2018-12-04 19:29] MichaIng commented on #2319
@rlamans
Thanks for your report.

Just to clarify:
- This was after 1st auto setup went fine, `dietpi-software` auto prompt and then you optionally chose your software to install and hit `Go >> Install`?

First check, if this is generally a DNS server issue or only a temporary deb.debian.org issue: `ping dietpi.com`
- This should correctly resolve to an IP and succeed. If it doesn't then it's a ge

[2018-12-04 19:32] MichaIng commented on #2320
@GulyFMG
Thanks for your request. We'll see if we can implement. However there are some other requests in the pipe that I personally would give more priority.

Help, e.g. via PR for implementation highly welcome as always 😉.

[2018-12-04 19:47] GulyFMG commented on #2320
No problem, since its a beta release. But thank you for considering it.

[2018-12-04 20:55] MichaIng commented on #2322
PR ready for testing: https://github.com/Fourdee/DietPi/pull/2324

[2018-12-05 05:40] studioai opened #2325 "DietPi-Software | Inform users, if we update existing conf.d/dietpi-*.conf files"
## Creating a bug report/issue:
I just updated DietPi to 6.19.5 from previous version, then Nginx Reverse proxy stopped working.
other .conf in etc/nginx/seites-deitpi which is not using Reverse proxy works well.

Here's one of my reverse proxy .conf

`location /git/
{
        proxy_pass    http://localhost:3000/;
        proxy_set_header    Host    $host;
        proxy_set_header    X-Real-IP

[2018-12-05 08:33] dezren39 commented on #2163
Docker does work with Armbian. No luck with default kernel so far. Thanks again. I hope compatibility can be figured out as I like the project. Let me know if / when you have any need for testing. Hopefully FriendlyARM patches!

[2018-12-05 10:43] ghost commented on #2319
Yep - initial install problem - self imposed. I think I had a problem because I edited the Dietpi file. Reloaded the op sys, edited the Dietpi file (paying close attention to detail) and all is well. I had a comma between two DNS servers and noticed it when editing Dietpi the second time.

Thanks for the quick response ...

[2018-12-05 10:43] #2319 closed, assigned to nobody

[2018-12-05 13:01] MichaIng commented on #2319
@rlamans
Thanks for reply. Had not in mind that indeed you can actively choose the DNS with static IP via `dietpi.txt`. Great it worked with syntax correction.

[2018-12-05 17:08] MichaIng commented on #2325
@studioai
I just checked what we patched with the update. Although we changed some config file names, we did not patch content or something and nothing should affect proxy handling. Only thing I can imagine is that nginx APT package update changed something about the syntax? Do you remember if the nginx package was updated during dietpi-update as well? You can check `cat /var/tmp/dietpi/dietpi-upd

[2018-12-06 06:33] 19eighties opened #2328 "Jackett will not load"
## Creating a bug report/issue:

Jackett no longer launches after update to 6.18 and 6.19.

#### Required Information:
- DietPi version	| v6.19.5
- Distro version	| stretch
- Kernel version	| Linux DietPi 4.4.77-rockchip-ayufan-136 #1 SMP Thu Oct 12 09:14:48 UTC 2017 aarch64 GNU/Linux
- SBC device		| Rock64 (aarch64)
Power supply used	| 12V 3A
- SDcard used		| EMMC

#### Additional Information (if

[2018-12-06 08:02] Fourdee commented on #2328
@19eighties

Many thanks for the report 👍

We'll try to replicate.

[2018-12-06 08:20] adamotte opened #2331 "Asus TB | PS3 Eye camera not working"
#### Required Information:
- DietPi version	| `6.19.6`
- Distro version	| `9.6`
- Kernel version	| `Linux DietHA 4.4.71+`
- SBC device		| `Asus Tinker Board (armv7l)`
- Power supply used	| `Ankru 5V 3A`
- SDcard used		| `No`
- eMMC                   | `Yes`

#### Additional Information (if applicable):
- Software title	| `MotionEye`
- Was the software title installed freshly or updated/migrated? |

[2018-12-06 08:26] MZorzy commented on #2072
updating (patch_fix with no reboot) to 6.19.6 kill HA , can not connect to IP:8123.
but work again only after reboot.

[2018-12-06 08:38] Fourdee commented on #2328
@19eighties

Unable to replicate in local testing. Please can you send us a bug report:
[code]

[2018-12-06 09:47] studioai commented on #2325
@MichaIng
Thanks for your reply.
I remember there was no nginx update during Dierpi update process for sure.

There's a conflict on config files for pydio because I have redirection config for pydio already and 6.19.5 adds a config for pydio automatically.  So, I just delete my old one. and It works again.

[2018-12-06 14:09] MichaIng commented on #2325
@studioai
Thanks for feedback.

Ah jep, we solved all web UI warnings and rewrites (for client access) with last update and triggered reinstall to push those changes to live configs.

It is actually a good point, that if we do such the user should be informed to check if custom configs and our additions conflict or things are doubled/obsolete and such. We already improved the way main config files

[2018-12-06 14:38] MichaIng commented on #2321
Harder than I thought:
- `coturn` even on Buster is still a init.d service
- Generated systemd unit has `ExecStart=/etc/init.d/coturn start` instead of starting the turnserver binary directly, so no chance to add arguments via `coturn.service.d`.
- Manual edit of init.d service of course is possible, but I don't like it, since this blocks automated updates of this file via APT.

Actually this is s

[2018-12-06 15:38] MichaIng commented on #2269
@Fourdee
What you think about using: https://feathub.com/

[2018-12-06 15:44] MichaIng commented on #1814
@Fourdee
I believe we can close this, or do you want to run further tests?

[2018-12-06 18:00] MichaIng commented on #2250
@FlameFireling
Did you solve it meanwhile?

[2018-12-06 18:18] stogoh commented on #2296
Well. I just updated to the newest version of DietPi and the problem returns again.

[2018-12-06 18:22] MichaIng opened #2332 "General | Drop Jessie support"
Since all remaining Stretch related bugs are solved (mainly Odroid C2 Kodi HW acceleration + desktop Xorg start), we should take out all Jessie images from official download source. As well we should disable support in DietPi-PREP, only allowing to upgrate Jessie images to Stretch.

However they could be kept in e.g. legacy sub dir, but then with a README.txt that they are not recommended and supp

[2018-12-06 22:09] MichaIng commented on #2321
Ah great:
[code]
So `DAEMON_ARGS` can be set inside /etc/default/coturn to override startup logging.

🈯️ Testing:
[code]

Perfekt. Disable logging via environment file and config file as default. If user manually enables logging, this will overwrite the environment settings 😃.

[2018-12-06 22:57] MichaIng commented on #2321
PR up: https://github.com/Fourdee/DietPi/pull/2333

[2018-12-07 19:58] 19eighties commented on #2328
Thanks for looking into it.

Just sent: Bug report sent, reference code: 08f012d0-1e7f-41f7-af5e-d7d1a1701913

[2018-12-07 20:56] MichaIng commented on #2294
PR up: https://github.com/Fourdee/DietPi/pull/2334

[2018-12-08 22:27] MichaIng commented on #1740
#### Retest
🈯️ VM Jessie:
[code]
🈯️ VM Stretch
[code]
🈯️ VM Buster
[code]

- So on VM this works well. I guess it should be the same on all x86 machines via initramfs.

🈯️ Native x86 Stretch notebook

- Okay so the `deprecated` warning seems to occur just on RPi, where `fsck.mode=force` _can_ be applied to cmdline.
_____________
On ~Stretch+~ (**€: Rechecked, seems to be implemented into Jessie as

[2018-12-09 03:42] MichaIng commented on #1740
PR up: https://github.com/Fourdee/DietPi/pull/2335

[2018-12-09 05:29] Node815 opened #2336 "DietPi-Software | Uninstalling netdata breaks system"
#### Details:
- Date           | Sat  8 Dec 21:21:09 PST 2018
- Bug report     | N/A
- DietPi version | v6.19.6 (Fourdee/master)
- Img creator    | DietPi Core Team
- Pre-image      | Raspbian Lite
- SBC device     | RPi 2 Model B (armv7l) (index=2)
- Kernel version | #1159 SMP Sun Nov 4 17:50:20 GMT 2018
- Distro         | stretch (index=4)
- Command        | G_AGP: netdata
- Exit code      | 100

[2018-12-09 14:31] MichaIng commented on #2336
@PDXUser
Thanks for your report.

Strange, `ldconfig` and `start-stop-daemon` should be fixed parts of the core system.
_________
Just tried it here. And jep, somewhere on uninstall, the binaries from $PATH suddenly not available anymore 🤔:
[code]
`$PATH` var is good, binaries still in place, but somehow they are not searched in every dir:
[code]
- `which` is available ....
BOOM, `/usr` path has b

[2018-12-09 14:45] MichaIng commented on #2336
Due to: `useradd -r netdata -c netdata -s /usr/sbin/nologin -d /`
- Users home dir is root. That is nogo, for several reasons!

On uninstall: `userdel -rf netdata`
- Script attempts to remove users home dir, so root...

Okay this is serious. As long as I can see, only `/usr` got removed, everything else untouched. But this already breaks system functionality completely.

@PDXUser
Do you have a bac

[2018-12-09 15:13] MichaIng commented on #2336
ToDo:
- [x] Why do we actually create `netdata` user if the service runs as root? https://raw.githubusercontent.com/Fourdee/DietPi/dev/.conf/dps_65/netdata.service
High likely required to gather all the information from system.
**€: Nope, official installer runs it as netdata user:**
[code]
- `netdata:x:999:999:netdata:/var/lib/netdata:/usr/sbin/nologin` Users home dir at `/var/lib/netdata` which

[2018-12-09 16:04] MichaIng commented on #2254
High likely the issue is related to: https://github.com/Fourdee/DietPi/issues/2336

Very critical, perhaps we have to patch this with another hotfix v6.19.7, since it destroys the system!

[2018-12-09 16:10] MichaIng commented on #2336
PR up: https://github.com/Fourdee/DietPi/pull/2337

[2018-12-09 17:17] Node815 commented on #2336
Not really worried in my case about having a backup - because it was a completely fresh install, so I really did not have a full installation going.

[2018-12-09 17:31] MichaIng commented on #2336
@PDXUser
Okay, so at least it is no big deal to do a fresh install then. Big sorry to have a system destroying uninstaller in code currently. Sadly Fourdee is not available for a few days. I am thinking how to handle this best.

To fix the issue for now, although, since you uninstalled netdata, you most likely do not want to install it again:
`sed -i 's/userdel -rf netdata/userdel netdata/g' /Diet

[2018-12-09 17:51] janbildsoehansen commented on #2254
I'm not sure if its related have again idea :/

was because netdata would not really update when I pressed the button. so
just wanted to uninstall it through the dietpi software program as i have
done with other programs.
I did not know what happened but there was an error under the uninstall
without thinking about it and I just restarted it.
and my system wound start up.
and efter setting the har

[2018-12-09 18:21] MichaIng commented on #2254
@janbildsoehansen
Jep, this exactly is the linked issue. dietpi-software uninstall netdata currently attempts to remove the whole file system... This stops, when if fails due to some file currently in use. In case of the linked issue, /usr was removed until it stopped, in your case /etc and perhaps already some other subdirs. Both are system critical and removing it will lead to system being unusa

[2018-12-09 20:32] MichaIng commented on #2300
Will mark as closed, since question has been answered/issue solved. Feel free to reopen, if required.

[2018-12-09 20:32] #2300 closed, assigned to nobody

[2018-12-09 21:12] MichaIng commented on #2282
Alternative fix:
- Instead of freeze version to v18.06.1, better only skip faulty v18.09.0?
- This allows APT to update, as fast as a newer version is available:
[code]

[2018-12-09 22:53] Atavic commented on #2332
They should be kept for some time.

[2018-12-09 23:00] MichaIng commented on #2332
@Atavic
Thanks for suggestion.

Do you have a reason for that? Is there anything that works better on a certain Jessie setup, or works on Jessie only?

Of course DietPi code support for Jessie should stay longer, but the question is, if there is any reason to still ship Jessie on fresh images, which would further delay the possibility to move on with the code as well.

[2018-12-09 23:17] Atavic commented on #2332
No reasons except the doubt that you clarified:

Debian has this page: https://www.debian.org/releases/jessie/debian-installer/

So it could be fine to have it still available for a while, even if superseded by following versions.

[2018-12-09 23:23] MichaIng commented on #2332
@Atavic
Jep, code support is a different thing and should depend on the actual amount of Jessie users that we still have.

For now it's just about preventing new users from installing a fresh Jessie DietPi image. It is not only our code support, but also that support by other 3rd party software will be dropped by times. So there are other disadvantages rising by times, outside of our control, if o

[2018-12-10 14:37] Fourdee commented on #2332
@MichaIng

Yep agree, no benefit to Jessie over Stretch. And it increases our level of support effort which should be spent elsewhere (eg: buster).

My preference:
- Drop all Jessie images
- During update, if Jessie, update to latest version at time we drop (eg: v6.20), then prevent further updates (allows us to remove Jessie code in future updates). Might need a new branch, mmm, needs additional

[2018-12-10 14:46] Fourdee commented on #2311
No response, will mark as closed. Please reopen if required.

[2018-12-10 14:46] #2311 closed, assigned to nobody

[2018-12-10 14:47] Fourdee commented on #2305
Images now live. Completed.

[2018-12-10 14:47] #2305 closed, assigned to Fourdee

[2018-12-10 14:48] Fourdee commented on #2289
No response. Please reopen if required.

[2018-12-10 14:48] #2289 closed, assigned to Fourdee

[2018-12-10 14:57] MichaIng commented on #2282
### Test on VM Stretch:

#### After installing docker with current code:
[code]
🈴 Did not downgrade. After manual downgrade, did upgrade.

Damn, older `docker-ce` packages are in place, but not `docker-ce-cli`.

Manual downgrade of `docker-ce` works, but `docker-ce-cli` will be removed due to version incompatibility.

Old version does not depend on cli:
[code]

Ahh, new version starts with `5:`:
[

[2018-12-10 19:10] Atavic commented on #2332
Isn't the prompt warning enough?

[2018-12-10 20:41] MichaIng commented on #2238
Lol, on official repo, `fd://` is again in service file, working well now on Stretch...
Indeed best to not touch service file directly, if it is changed back and forth 😄.

[2018-12-10 21:03] MichaIng commented on #2336
Fixed with just released v6.19.7

Will close this issue. Further enhancements on netdata install will be done for v6.20

[2018-12-10 21:03] MichaIng commented on #2282
Fix released with v6.19.7. Will mark as closed.

[2018-12-10 21:03] #2282 closed, assigned to nobody

[2018-12-10 21:46] MichaIng commented on #2332
@Atavic
When it's about removing Jessie support from code, a final update is required to prevent further updates of Jessie systems to unsupported code.

We did something similar when dropping wheezy support: https://github.com/Fourdee/DietPi/tree/wheezy-final-v120
- A last update was done to final wheezy branch, further updates from there blocked with information that a new image is required.

A s

[2018-12-10 22:45] MichaIng opened #2339 "DietPi-Software | Deluge: Set 775 permissions/002 UMask by default on install"
Ref: https://dietpi.com/phpbb/viewtopic.php?f=11&t=5317

Similar to what we did for transmission and other downloaders, to allow other software (e.g. Sonarr) picking up the downloads automatically.

[2018-12-11 03:35] MichaIng commented on #2332
One issue:
- For Odroid C1 we only have a Jessie image, because also Meveric offers only a Jessie image: https://forum.odroid.com/viewforum.php?f=114
- About mali drivers and Kodi support on manually distr-upgraded Meveric Jessie image: https://forum.odroid.com/viewtopic.php?f=114&t=30053
  - It could be tested, if new required packages are in Meverics repo, but I doubt.
________________
- [x] Mov

[2018-12-11 16:29] symbios24 opened #2340 "Wifi/Tor hotspot/Cuberite install error"
Hi, Im using latest dietpi 6.19 on a raspberry pi 3B

I tried to install wifi hotspot and tor hotpot and i get an error saying that some addresses are not trusted

also i tried to install the Cuberite software and i got the same error about trusted etc.

[2018-12-12 07:29] symbios24 commented on #2340
anyway too many errors i managed to complete the install with the systemctl start systemd-timesyncd
but after i got another dhcp error and when it was finish the installation the hotspot was not available you need to replicate the install to see the errors

Thanks

[2018-12-12 08:03] msongz opened #2342 "DietPi-Software | etherpad-lite"
## Creating a software request:

#### Vote for it on FeatHub: https://feathub.com/MichaIng/DietPi/+23

#### Give us some formal software information:
- Software title |  etherpad-lite
- Short description |  Really real-time collaborative document editing
- GitHub URL (if available) | https://github.com/ether/etherpad-lite
- External URL (if available) | http://etherpad.org/
- (Official) install do

[2018-12-12 13:12] mukamuk1 opened #2344 "dietpi-update not working on Tinker Board."
## Creating a bug report/issue:

#### Required Information:
- DietPi version	6.18.14
 - Distro version	stretch
- Kernel version	Linux Tinkerbox 4.4.103+ #1 SMP Fri Jun 22 16:14:49 CST 2018 armv7l GNU/Linux
- SBC device		Asus Tinker Board (armv7l)

#### Additional Information (if applicable):

#### Steps to reproduce:
1. run dietpi-update

#### Expected behaviour:
update should happen

#### Actual

[2018-12-12 14:17] MichaIng commented on #2344
@mukamuk1
Thanks for your report.

Okay there seem to be two issues:
- `awk` throwing segmentation faults. Note that by default on Debian/DietPi systems, `mawk` is used/symlinked to `awk` location. When `gawk` is installed, it will override, e.g. as dependency. It is installed e.g. with MariaDB due to dependency tail.
You can check, which `awk` is used by following the symlinks: `readlink -f $(whi

[2018-12-12 14:26] MichaIng commented on #2342
@msongz
Thanks for your request. We'll have a look, when we can.

[2018-12-12 15:56] GrahamEnigma opened #2346 "Upgrade to .17 wipes wifi settings on RPi 3"
## Creating a bug report/issue:

#### Required Information:
- DietPi version	| `cat /DietPi/dietpi/.version`
- Distro version	| `echo $G_DISTRO_NAME` or `cat /etc/debian_version`
- Kernel version	| `uname -a`
- SBC device		| `echo $G_HW_MODEL_DESCRIPTION` or (EG: RPi3)
- Power supply used	| (EG: 5V 1A RAVpower)
- SDcard used		| (EG: SanDisk ultra)

#### Additional Information (if applicable):
- So

[2018-12-12 16:10] GrahamEnigma commented on #2346
Upgrading via dietpi-update appears to wipe existing wi-fi settings out.

Using the network configurator shows the (correct) entered settings for SSID and Password, but the default IP is assigned, despite DietPi claiming to be connected to the corrct SSID.

Mounting the card on MacOS, this is the dietpi.txt file that is extant (after the upgrade and after setting the SSID and password via the conf

[2018-12-12 20:03] Elijahg opened #2347 "dietpi-unsupported_terminal.sh | Support for non-bash terminal sessions"
## Creating a bug report/issue:

Updating from v6.17.12 to v6.19.7 fails. There seems to be a problem with the /etc/profile.d/unsupported_terminal.sh script, I've had a peek in it but it seems fine so not really sure what's going on!

#### Required Information:
- DietPi version	|
G_DIETPI_VERSION_CORE=6
G_DIETPI_VERSION_SUB=17
G_DIETPI_VERSION_RC=12
- Distro version	|  stretch
- Kernel version	|

[2018-12-12 20:25] MichaIng commented on #2347
@Elijahg
Thanks for your report.

Very strange, just tested the current script and it works as expected here, no syntax errors, whiptail menu pops up, if $TERM variable is unsupported, also https://www.shellcheck.net/ does not show any real syntax error.

Strange that `spamassassin` calls these scripts with `su`, obviously as login-shell. Question is with which user 🤔.

First check, if your script

[2018-12-12 20:40] mukamuk1 commented on #2344
gawk was installed and reinstall fails with same errors.

I have not transferred dietpi_userdata after installation and as far as I remember I have not used any usb-drives on this Dietpi-installation.

[code]
And:
[code]

Your fix did not help and logs contain no new errors :-/

This propably wont help but here is /var/log/mysql/error.log

[code]

[2018-12-12 21:00] MichaIng commented on #2344
@mukamuk1
Please try the following:
[code]
Issue might be that the binaries were already updated, but not yet the tables. The first command should fix this. Then retry APT install to finish any other setup steps.

[2018-12-12 21:10] Elijahg commented on #2347
Thanks for the quick reply @MichaIng!

My version doesn't match the one in v6.19.7, but is identical to the 6.17.12. Perhaps the updater script should have replaced this file by the time it had tried to install spamassasin?

If there's any further investigation you'd like me to do I'll hold off updating for a bit! Thanks again!

[2018-12-12 21:11] mukamuk1 commented on #2344
[code]

[2018-12-12 21:41] St3S0f opened #2348 "RockPro64 updates automatically on 1st boot, reboots on his own, does not start anymore"
## Creating a bug report/issue:
RockPro64 updates automatically on 1st boot, reboots on his own, does not start anymore

#### Required Information:
- DietPi version	| v6.14 --> v6.19
- Distro version	| `echo $G_DISTRO_NAME` or `cat /etc/debian_version`
- Kernel version	| `uname -a`
- SBC device		| RockPro64
- Power supply used	| ROCKPro64 12V 3A EU POWER SUPPLY (from Pine store)
- SDcard used		| 3

[2018-12-12 22:16] MichaIng commented on #2347
@Elijahg
Ah jep APT upgrade is done before downloading new DietPi code, which is also reasonable.
But still, the code actually is fine. Needs investigation in which cases, e.g. sudo/su with different user, it might fail. Can't find a reason currently, since full bash environment is (or should be) loaded on every login-shell 🤔. Will try to replicate with `spamassassin` as well.

Actually, since it

[2018-12-12 22:25] MichaIng commented on #2344
Err, MySQL needs to run already.

Just searched the web for this error. Could you try this: https://stackoverflow.com/a/31695983
- `mysqld --skip-grant-tables`  start daemon regardless of error. Since this runs in foreground, you need to do following steps on another terminal.
- `mariadb` to access MariaDB console
- `repair table mysql.user use_frm;` to repair the mentioned `user` table
- `exit`
-

[2018-12-12 22:26] Elijahg commented on #2347
Something actually that I forgot to mention @MichaIng is I use zsh instead of Bash as my shell. That shouldn't in theory make any difference though since the scripts run under Bash.

I've removed it and updated successfully :) Many thanks for your help!

[2018-12-12 22:57] LexiconCode commented on #2297
2Qs55DRYwH1J5q1LttY778DyY3PaetKSxzAMNu4kX7OCFnQhYboh2Toi95EHVx9FHDJyhrS6D64iUGAUDo4H7nb0DqRi8NK7uNVrZxAe4SB5fhrKcEg0TuFiR2Ad5mRj

[2018-12-12 23:11] MichaIng commented on #2347
@Elijahg
Ahh interesting. Jep now it makes sense:
- `/etc/bash.bashrc` => `/etc/bashrc.d/*.sh` is only loaded on interactive bash sessions and also called from `/etc/profile` only if in bash session. So in your case `dietpi-globals` are not loaded and no DietPi login banner is shown on login, right?
- Only `dietpi-unsupported_terminal.sh` is placed in `/etc/profile.d/`, since it is required just o

[2018-12-12 23:21] mukamuk1 commented on #2344
Blaaah, every table in whole database was corrupted. Some of them I could repair but most of them was beond hope. So I removed mariadb from DietPi and re-installed it. Now everything is fine.

There must have been some kind of trouble with change from mysql to mariadb. I did dietpi-update few weeks ago and didnt use tinkerboard after that until today. You could re-test move from mysql to mariadb w

[2018-12-13 13:03] oscarstv commented on #1171
Guys, "where" are we? What boot manager are we using?

I have downloaded the image, and installed it (method 2) into my Alfawise Z83V (it's like the Beelink), it's x5-z8350, 64-bits UEFI. I've installed it into a 64 GB USB drive, and now trying to use it with an external HDD drive. I'm having troubles with the EFI boot question.
If I boot Windows from eMMC having the USB drive connected, it's OK;

[2018-12-13 14:04] MichaIng commented on #2348
@1uc4
Thanks for your report.

I hope Fourdee finds some time to replicate, since it don't have a RockPro64 here.

[2018-12-13 14:16] Fourdee commented on #2346
@GrahamGIGA

Hi Graham,

Many thanks for the report 👍

In ```dietpi-config``` under WiFi options, please can you toggle:
- ```Change Mode: DHCP```
- ```Save changes```

Once completed, WiFi should now be connected to network, at which point please can you send me a bugreport:
[code]

Also, can you remember which version of DietPi you were running, prior to the update?

---

The ```dietpi.txt``` op

[2018-12-13 14:17] MichaIng commented on #2346
@GrahamGIGA
Thanks for your detailed report.

€: Lol same time answer :smile:

Note that we changed where to set WiFi SSID and credentials to dietpi-wifi.txt on first boot. I have to check whether we correctly port existing settings from dietpi.txt on update.

If you set WiFi settings afterwards and you don't choose DHCP, but static IP, use the "copy" option to copy currently applied IP and such i

[2018-12-13 14:20] Fourdee commented on #2348
@1uc4

Many thanks for the report 👍

I suspect APT package kernel/uboot update causing this, will verify with local testing.

[2018-12-13 15:06] Fourdee commented on #2348
Notes:
- No kernel/uboot packages updated. Only standard Debian packages.
- Working fine after reboot.

Unable to replicate on my board with EMMC or SD. Regardless, will update the image based on Ayufan's latest:
- 0.7.9 our current image
- 0.7.11 Ayufan latest

[2018-12-13 15:51] St3S0f commented on #2348
Thanks for looking into it.

I will try plugging in the serial console tonight (will be my 1st time) to see if I can grab some additional output and attach it to this thread.

Some additional info:
- Board is v2.1, 4GB
- Boot form SD card, no eMMC module present on the board

[2018-12-13 16:38] GrahamEnigma commented on #2346
Hi Dan,

I had missed the change to static - thanks.

There is something very odd going on here.  I now have the Pi working again, with an assigned IP of .252, which is fine EXCEPT that the DHCP server [should] allocates a predefined IP based on the device.  The setting in the server appeared to be correct, but was ignored.

I'll run the pi as is for a couple of days.

You have bug report:  Bug re

[2018-12-13 16:41] GrahamEnigma commented on #2346
One final, final (?) comment on wireless.  On the 3B there is an on card wireless and I have a Rosewill USB dongle plugged in.  This is for reliability, the onboard was (is?) poor in earleir versions.  When I diasble onboard wifi what am I disabling - the built in or all?

The dongle isn't distnguished in the setup menu.

Cheers

[2018-12-13 16:59] Fourdee commented on #2348
@1uc4

Serial debug would be ideal.

In the mean time, i've updated our image based on Ayufan 0.7.11:
https://dietpi.com/downloads/images/DietPi_RockPro64-ARMv8-Stretch.7z

Please let us know if this resolves the issue.

[2018-12-13 18:11] Fourdee commented on #2346
@GrahamGIGA

Hi,

You'll need to verify the MAC address of the USB WiFi device matches .252 in the router control panel. Failing that, i'am unsure as router setup varies.

Sudo is only required if logged in with the dietpi user ```dietpi```.  If you login as root, ```sudo``` is not required.

Onboard WiFi on the RPi is not as good as some USB dongles, however, as long as the range is acceptable, o

[2018-12-13 18:23] Fourdee commented on #2346
Current image is v6.17 and that is all I have on backup at the moment, so unable to test v6.14 or lower images with this.

However, I did extensive testing with the ```wifi-db``` switch prior to release and everything passed. RPi image was then updated at v6.17 and includes the new ```wifi-db``` system.

The v6.15 patch to ```wifi-db``` only sets the db, not static IP. And it does appear to have w

[2018-12-13 21:08] St3S0f commented on #2348
It does. :clap:

I repeated the exact same steps, now on 1st boot it upgrades from v6.18 --> v6.19.7.
On reboot it does not come up, no white led turns up. Power button and Reset button don't help. An unplug-plug of the power connector with a pause of about 15-20sec in-between does the trick.

I will perform the procedure again on my second board and then try to see if I can capture serial debug o

[2018-12-13 21:46] Atavic commented on #2342
Actually it has no alternatives, except for a full LAMP Stack.

[2018-12-13 22:18] St3S0f commented on #2348
@Fourdee : Does a soft reboot work on your setup? Or can you also reproduce this behavior?

Here's the serial console output after issuing a reboot command, which fails to boot:
[code]

[2018-12-14 01:45] MichaIng opened #2350 "DietPi-Config | Fix HDMI boost setting on RPi"
Ref: https://github.com/Fourdee/DietPi/pull/2349#issuecomment-447169037

[2018-12-14 04:58] elleto opened #2351 "DietPi-Software | X.org: Still failing on XU4 with stretch image"
## Creating a bug report/issue:
MATE desktop still cannot run
Xorg still giving error

#### Required Information:
- DietPi version	| 6.19.7
- Distro version	| debian stretch
- Kernel version	| Linux Dietpi 4.14.66+ #1 SMP PREEMPT thu Aug 23 2018 armv71 GNU/Linux
- SBC device		| Odroid XU4
- Power supply used	| 5v4A adaptor supply
- SDcard used		| 64gb SanDisk ultra

#### Additional Information (if

[2018-12-14 05:52] elleto commented on #2351
more info : additional errors when installing MATE on odroid xu4
![mateinstallodriodonlyer1](https://user-images.githubusercontent.com/44423341/49985584-7279b400-ffa7-11e8-86ae-1d006c491d8a.jpeg)
![mateinstallodriodonlyer2](https://user-images.githubusercontent.com/44423341/49985587-7279b400-ffa7-11e8-9d20-4ea70c88e1c8.jpeg)
![mateinstallodriodonlyer3](https://user-images.githubusercontent.com/444

[2018-12-14 07:57] symbios24 opened #2352 "Amiberry Fails to boot"
Hello
I installed amiberry on the latest DietPi 6.19 in a Raspberry Pi3B installation ask me to set it to auto-start so i did.but after installation has finished amiberry is not starting
by doing a systemctl i see that the Amiberry service failed to start
I set in the dietpi-config in the auto-start section the normal boot for amiberry and i reboot
now i see in the Processes that dietpi diplays af

[2018-12-14 13:29] Fourdee commented on #2352
@symbios24

Thanks for the report 👍

We'll try to replicate.

[2018-12-14 13:39] MichaIng commented on #2351
@elleto
Thanks for your report.

In the first place there seem to be an issue with the DNS settings, since the URLs are definitely available, e.g.: https://raw.githubusercontent.com/Fourdee/DietPi/master/.conf/desktop/wallpapers/dietpi-logo_1080p.png

- Please verify that also `ping raw.githubusercontent.com` fails with name resolution.
- How did you setup your network, DHCP or static IP?
- If DHC

[2018-12-14 14:44] Fourdee commented on #2352
@symbios24

Unable to replicate on fresh install and local testing (RPi 3B).

Please can you check:
- ```dietpi-config``` > display options > GPU mem split is 128MB or higher
- ```dietpi-config``` > display options > Resolution > Ensure OpenGL is not being used

If problems persist, please send me a bug report and i'll check system configuration:
[code]

[2018-12-14 14:54] MichaIng commented on #2079
There are now several menus, where the values are shown within the menu entries and above in whiptail text again: When adding the value to the menu entry, we should remove the related text above.

From code side, with last PRs I added real linebreaks to long whiptail texts (replacing `\n`) to make it more readable and reduce the need to scroll left and right within code.

[2018-12-14 19:45] alexthe-red commented on #1556
FWIW I experienced the error:
`DietPi homeassistant-start.sh[2025]: ModuleNotFoundError: No module named 'pytz'`
today while updating homeassistant and dietpi on Odroid C2. @WineSoaked 's suggestion of

 `cat << _EOF_ > /etc/apt/preferences.d/backports
Package: *
Pin: release a=jessie-backports
Pin: origin "fuzon.co.uk"
Pin-Priority: 99
_EOF_`

followed by running
`sh updatehs.sh`
 from /srv/homea

[2018-12-14 21:06] GrahamEnigma commented on #2346
Hi Dan,

Well the system definitely changed the DHCP setting to "static" AND headless during the update :-)

[2018-12-14 21:13] GrahamEnigma opened #2353 "Version 6.12 dietpi-update fails"
## Creating a bug report/issue:

#### Required Information:
- DietPi version	| `cat /DietPi/dietpi/.version`
- Distro version	| `echo $G_DISTRO_NAME` or `cat /etc/debian_version`

root@Roon-Master-Bed:~# echo $G_DISTRO_NAME` or `cat /etc/debian_version
-bash: or: command not found
stretchcat /etc/debian_version
root@Roon-Master-Bed:~#

- Kernel version	| `uname -a`

uname -a
Linux Roon-Master-Bed

[2018-12-14 22:22] pmwals09 opened #2354 "Can't update"
#### Details:
- Date           | Fri 14 Dec 22:11:07 GMT 2018
- Bug report     | N/A
- DietPi version | v6.16
- Img creator    | n/a
- Pre-image      | n/a
- SBC device     | RPi 3 Model B (armv7l) (index=3)
- Kernel version | #1159 SMP Sun Nov 4 17:50:20 GMT 2018
- Distro         | stretch (index=4)
- Command        | G_AGUG
- Exit code      | 100
- Software title | DietPi-Update

#### Steps to r

[2018-12-14 23:26] MichaIng commented on #2294
HTTPS repo works on Jessie, will mark as closed.

[2018-12-14 23:26] #2294 closed, assigned to MichaIng

[2018-12-15 06:25] symbios24 commented on #2352
Thanks,can you release an updated image of Amiberry ??

[2018-12-15 08:12] symbios24 commented on #2352
i have just send you the bug report.

[2018-12-15 14:02] symbios24 commented on #2352
the problem happens if i install Amiberry from Dietpi it self if i use the pre-made Dietpi amiberry image the problem is not there.
so the bug is in the DietPi Image

[2018-12-15 14:37] oscarstv commented on #1171
Hi. guys.
SOLVED.

I installed rEFInd in a USB drive. It is detected by the computer's UEFI. I select it to boot as 1st option. When it boots, I can select Dietpi or Windows, both cases work. And that's all!

This z5-8350 has a performance very close to my Odroid C2; the main difference is the USB 3.0 port, that gives me 100/67 Mbps R/W speeds, when I benchmark with 100 MB. With 1000 MB dietpi's b

[2018-12-15 15:00] Fourdee commented on #2354
@pmwals09

Hi,

Could be hardware related issue, however, please try reinstalling mono:
[code]

[2018-12-15 15:46] louisefindlay23 commented on #2353
I have the same error.

[2018-12-15 15:57] Fourdee commented on #2352
@symbios24

Very strange, I duplicated your system setup and was unable to replicate the issue. This was also using the latest DietPi standard image + installing AmiBerry on-top.

GPU mem check outs, all packages installed.

Hmmm, the only difference is you have a USB device attached. However, unless there is a power/hardware related issue, this should not have any effect.

As i'am unable to repli

[2018-12-15 16:03] Fourdee commented on #2353
@GrahamGIGA @louisefindlay23

This indicates a possible hardware related issue with PSU/SD card.
Please list:
- Power supply used
- SD card used

Please can you both replicate the error, then paste results of:
[code]

[2018-12-15 16:07] Fourdee commented on #2346
@GrahamGIGA

Is this the same system, PSU and SD card as: https://github.com/Fourdee/DietPi/issues/2353?

If not, please can you list the above for this system also?

[2018-12-15 16:08] Fourdee commented on #2079
@MichaIng

Yep, agree 👍

[2018-12-15 16:11] GrahamEnigma commented on #2346
No, this is a differemt system.  Now working fine after the "fix" to the static IP and headless settings.

[2018-12-15 16:13] GrahamEnigma commented on #2353
[code]

[2018-12-15 16:24] GrahamEnigma commented on #2353
Sorry about the strikethrough, no idea why GH does that on a standard paste....

SD Card Sandisk Ultra 32GB

Power supply is a brick, I believe this one: High Quality Power Charger Input: 100-240V 50/60Hz Output: 19V 4.74A 90W Connector size: 5.5 x 2.5mm

[2018-12-15 18:49] symbios24 commented on #2352
i dont thing it has to do with the usb keyboard/mouse i have connected or with the genuine rpi power adapter since it works fine with the pre-made amiberry image but not with the stock dietpi image,it just does not start the amiberry service at all.

[2018-12-16 08:55] symbios24 commented on #2352
its not possible to open a port since i`m taking internet from a neighbor with wifi.

[2018-12-16 10:05] symbios24 commented on #2352
since the pre-made amiberry image is old eg dietpi 6.6 this has to do something with it.for example something other is pre-installed there that makes work

How can i Install an older amiberry version 2.18.1 with sdl1 ??

Thanks

[2018-12-16 14:52] Fourdee commented on #2353
@GrahamGIGA

[  479.193328] mmc0: data blocks 150 blksz 200 - err 0
[  479.193338] mmc0: stop op 12 arg 0x0 flags 0x95 - resp 00000000 00000000 00000000 00000000, err 0
[  479.193343] mmc0: =========== REGISTER DUMP ===========
[  479.193348] mmc0: SDCMD  0x00004052
[  479.193353] mmc0: SDARG  0x00c7d7b8
[  479.193359] mmc0: SDTOUT 0x017d7840
[  479.193364] mmc0: SDCDIV 0x00000003
[  479.193369] m

[2018-12-16 14:54] Fourdee commented on #2353
@GrahamGIGA

Add three tilde keys above and below the code you pasted.

[2018-12-16 14:59] Fourdee commented on #2348
@1uc4

SPL: failed to boot from all boot devices

Thanks for the serial debug 👍

Yep, appears filesystem issue. Could be kernel related (latest image may resolve mmc/sd instability).

I also have a v2.1 rev board, was unable to replicate the issue you experienced. Very strange. I suspect kernel/stability issue during filesystem resize.

As the updated image resolved the issue, i'll mark this as cl

[2018-12-16 14:59] #2348 closed, assigned to Fourdee

[2018-12-16 15:24] GrahamEnigma commented on #2353
Hi Dan, when using a HAT with a builtin amplifier (as is the case here) the RPi power supply doesn't cut it as the power requirements are higher.

I'll reformat the card and reconfigure, but it may be that a warning is required that a config such as mine may not be a suitable dietpi setup?

Cheers

[2018-12-16 16:34] louisefindlay23 commented on #2353
I get Write error - write (28: No space left on device) IO Error saving source cache The package lists or status file could not be parsed or opened. I used df -h and I have over 70% left and I still get it on a free reinstall

[2018-12-16 21:19] MichaIng commented on #2295
Fixed with: https://github.com/Fourdee/DietPi/commit/4fa045e60fa2b868abbf8ebeb5eeeef21ba1eafe

[2018-12-16 23:12] MichaIng opened #2356 "DietPi-PREP/1st boot quirks"
![1](https://user-images.githubusercontent.com/28480705/50059942-bd552080-018d-11e9-8f4d-c8c0c62d3104.png)
- `DietPi-RAMlog` fails to start on 1st boot, properly because it starts before `dietpi-fs_partition_resize` has finished.
  - This leads to all logs added on 1st initial `dietpi-software` run will be lost, since `dietpi-ramlog 1` is not called anymore.
  - This again leads to e.g. Apache, ch

[2018-12-17 00:31] MichaIng commented on #2356
### Current state:
[code]
### Found the reason:
[code]
- Leads to EXIT_CODE=1 due to `[[ -d $FP_DIETPI_RAMLOG_SAVE ]]` "fails", since on my last PREP PR, RAMlog disk storage is not preserved. Easy to fix!

### Resolved with: https://github.com/Fourdee/DietPi/commit/e1288c4b1140657eaa8cd4611af9c19183124482
- But actually it would be best to find a way to force shutdown phase being executed, even if

[2018-12-17 02:05] elleto commented on #2351
ok will try it and get back to you
thanks

[2018-12-17 02:43] elleto commented on #2351
![ping issue](https://user-images.githubusercontent.com/44423341/50063625-21a4ce00-01e8-11e9-8608-8391ecf4b488.jpeg)
 i checked the ping and have no issue reaching out to the githubuser content, DNS server and google.
after which i tried to reinstall MATE with the command given.
![download error](https://user-images.githubusercontent.com/44423341/50063660-59137a80-01e8-11e9-8dd9-e180f75dbf13.jpeg)

[2018-12-17 03:42] elleto commented on #2351
i managed to bypass the download issues by using a different wan network. but  i still end up with the xorg error.
![xorg error](https://user-images.githubusercontent.com/44423341/50065229-574db500-01f0-11e9-851a-d349c67d437f.jpeg)

and if i use dietpi-autostart i get this
![black loading screen](https://user-images.githubusercontent.com/44423341/50065284-c2978700-01f0-11e9-8161-a75cd183c9e4.jpeg)

[2018-12-17 04:12] MichaIng commented on #2356
PR init to harden the boot order: https://github.com/Fourdee/DietPi/pull/2357 (WIP!)

[2018-12-17 15:59] Fourdee commented on #2352
@symbios24

We only provide the SDL2 version currently.

```DietPi_v6.6_RPi-ARMv6-Stretch_AmiBerry.img``` is actually an automated install image. AmiBerry is installed in exactly the same was as stock DietPi image, once it updates to latest version during 1st run.

Ok, no worries, however, not much we can do our end to assist with debug/resolution.

[2018-12-17 16:11] Fourdee commented on #2353
@GrahamGIGA

Ah, is this one of those 15v AMP HAT's that also powers the RPi? If so, could be a design flaw with the HAT, or, the PSU is not sufficient enough?

Other causes could be unexpected power loss to the device (eg: power cut or hard power cycle).

---

@louisefindlay23

Very strange, would you be able to send us a bug report?
[code]

[2018-12-17 16:31] Fourdee commented on #2339
No settings on conf available.

🈯️ systemd service
[code]

[code]

[2018-12-17 16:35] Fourdee commented on #2339
Completed.

[2018-12-17 16:35] #2339 closed, assigned to Fourdee

[2018-12-17 16:46] Fourdee commented on #2328
@19eighties

Apologies for the delay.

[code]

Appears filesystem issue has occurred, may be the underlying cause of the issue.

Please can you verify PSU and SD/EMMC used?

---

[code]

Service running fine. Although mono errors in log.

---

@19eighties
Could be a bug in Jackett itself, please try reinstalling the application:
[code]

[2018-12-17 17:09] Fourdee commented on #2350
@MichaIng

Tweaked the options to provide more of them.

![image](https://user-images.githubusercontent.com/7077026/50102995-7f540d00-021e-11e9-8d2e-adb4c218f17c.png)

Tested passed, completed.

[2018-12-17 17:09] #2350 closed, assigned to MichaIng

[2018-12-18 23:31] MichaIng opened #2358 "DietPi-FS_partition_resize | Issues on Jessie and VirtualBox in general"
Ref: https://github.com/Fourdee/DietPi/pull/2357#issuecomment-448335954
- On Jessie, `sfdisk -fN1 /dev/sda <<< ',+,,,'` partition resizing makes image unbootable.
- Reason is, that an `fdisk` partitioned disk is affectively shrunken a tiny bit, on Jessie only, not on Stretch and above and FS cannot be shrunken on a mounted drive, but only on external system, which recovers boot-ability.

So on Jes

[2018-12-19 00:56] MichaIng commented on #1286
VirtualBox: TTY1 terminal resolution always resets to ~800x600 or something like this, after TTY is taken over from boot/kernel.
When commenting the `GRUB_GFXPAYLOAD_LINUX=keep` setting, then the resolution goes down to VBox default 640xsomething in between, so this is still correct/works. But when TTY1 service takes over the terminal, there seem to be an additional setting somewhere that applies

[2018-12-19 01:54] MichaIng commented on #1286
Last update wave on Debian+Raspbian Buster, including systemd + many libraries, breaks Dropbear. Once logged out, connecting via SSH fails. Restart of Dropbear service resolves it.

Damn, I locked out myself from my RPi with this 🤣.

[2018-12-19 13:35] symbios24 commented on #2352
Can you also add to the chromium browser installation the rpi-chromium-mods package (flash plugin and adblocker) i see that is missing.

Thanks

[2018-12-19 14:32] MichaIng commented on #2352
@symbios24
Should be possible. Just take care that these mods do not install some RPi-desktop UI related packages as dependencies, which would not fit do our non-RPi desktop.

[2018-12-19 18:49] MichaIng commented on #2347
@Fourdee
What do you think?

On the one hand, keeping everything bash-only code is the consistent way here. So all terminal session related scripts/globals require bash and we don't need to take care different compatibilities/syntax. No big deal to move the above script to bashrc.d. It is only loaded on interactive shells and theoretically not only the SSH client but as well some broken/wrong term

[2018-12-19 19:22] MichaIng commented on #1163
@Fourdee
While at first I had the very same idea I am not to sure anymore whether I would like `dietpi-software` split. The effort to search and change install methods would massively increase, if one has to open single files for each software title.

But I have some other ideas about decreasing the script size:
- Adding more install methods to `Download_Install()`, e.g. direct script download + e

[2018-12-20 12:59] symbios24 commented on #2352
It does not install anything else its safe,
i have tried it i works fine,it also plays 1080p videos from youtube smooth
Is Sickrage removed ? i dont see it in the list to install it.
Can you please release an updated image for Amiberry ??

Thanks

[2018-12-20 14:44] MZorzy commented on #1833
how to skip re-download pytohn 3.6.3 and re-install it?
it say "already exist" and then ask "continue with installation? (y/N)"

[2018-12-20 22:39] djmeeks opened #2359 "DietPi-Software | Nextcloud "First Run Wizard" is missing/ doesn't initiate"
## Creating a bug report/issue:

#### Required Information:
- DietPi version	|
G_DIETPI_VERSION_CORE=6
G_DIETPI_VERSION_SUB=19
G_DIETPI_VERSION_RC=7
G_GITBRANCH=master
G_GITOWNER=Fourdee
- Distro version	| stretch
- Kernel version	|
Linux DietPi 4.4.154-1124-rockchip-ayufan-ged3ce4d15ec1 #1 SMP Mon Oct 22 20:59:41 UTC 2018 aarch64 GNU/Linux
- SBC device		| RockPro64 (aarch64)
- Power supply used	|

[2018-12-20 23:53] CollinChaffin opened #2360 "Genius using the only archive format NOT supported by ESXi for the VMware image!"
Title sums it up - brilliant distro but boy would it be nice to only have to upload a mere 100mb to my ESXi like lightning and just quickly unzip, unrar, untar, etc.....but of course there is no native support for the one archive image selected for some reason for the VMware image - 7zip - on ESXi, and never has been.

Since I searched and did not see any existing request (very surprising) I'll pu

[2018-12-21 19:06] Fourdee commented on #2360
@CollinChaffin

Makes sense, we'll update the images to use .zip.

[2018-12-21 19:46] Fourdee commented on #2360
Completed.

https://dietpi.com/download

[2018-12-21 19:46] #2360 closed, assigned to nobody

[2018-12-22 11:14] Fourdee commented on #2359
@minnux

@MichaIng 's answer is better 😄 https://github.com/Fourdee/DietPi/issues/2359#issuecomment-449563163

---

Hi,

DietPi install of Nextcloud automates the initial setup with user + password as set during 1st run of system setup.

The default data directory is:
[code]

In DietPi we have a system called userdata (https://dietpi.com/phpbb/viewtopic.php?f=8&t=478). Nextcloud data directory can

[2018-12-22 11:15] MichaIng commented on #2359
@minnux
That is the expected behaviour on our install.

The first run wizard is to setup database and admin user, but we already do this for you during our software config step. Simply log in via "admin" "dietpi", respectively the global password you chose on DietPi first run or dietpi.txt. Check out: https://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=3026#p3026

This prevents you from setting up th

[2018-12-22 12:08] Fourdee commented on #1163
@MichaIng

Agree, each file would need to load globals, download the file during install. Generally will slow the installation down.

I also prefer it all in ```dietpi-software```, runs well currently. The only reason we might need to split to install files, is if we reach a significant software number (eg: 200+), in which performance should be equal.

Yep, good idea to simplify code 👍

Makes sens

[2018-12-22 12:34] MichaIng commented on #1163
@Fourdee

This could be resolved by sourcing the files instead of calling them as sub shell. This also prevents us from the need to estimate PHP version and such `dietpi-software` wide variables.

Jep, code and menu can be handled individually.
On the long term, we could merge the menus as well and perhaps remove some very basic software titles (libraries, very simple dependencies) from having an

[2018-12-22 15:52] djmeeks commented on #2359
Hello and thank you for the reply. These are the steps I have tried so far.

1. Install dietpi, format external drive via drivemanager, move user data to external drive via drivemanager, install Nextcloud.

Nextcloud errors out during install and fails to install.

2. Install dietpi, install Nextcloud, format external drive, move user data via drivemanager.

Nextcloud directory still shows EMMC be

[2018-12-22 16:09] MichaIng commented on #2359
@minnix

Note that userdata is moved via symlink, so Nextcloud does not know that the actual location is on external drive.

Many users did already report the issue to install Nextcloud when userdata was already moved. We were still not able to reproduce the issue. It was the MariaDB install that actually failed, right?
**€: Just tried it again:**
- **Fresh install**
- **Move userdata to dedicated

[2018-12-23 00:41] MichaIng opened #2362 "DietPi-Software | myMPD: Use latest release via api.github.com"
... instead of master or fixed history point: https://api.github.com/repos/jcorporation/myMPD/releases/latest

[2018-12-23 04:22] djmeeks commented on #2359
I'm sorry it's the holidays and I don't have much time but wanted to at least get back to you with some info since you've been so kind as to help me so far and for providing this wonderful software.

External HDD is powered by external power and is 2 TB Western Digital formatted as ext4, GBT, and I formatted using entire disk instead of partition using drive_manager. Maybe using partition option i

[2018-12-23 05:42] Kreeblah opened #2363 "DietPi-Software/LetsEncrypt | acme.sh"
## Creating a software request:

#### Vote for it on FeatHub: https://feathub.com/MichaIng/DietPi/+28

#### Give us some formal software information:
- Software title | acme.sh
- Short description | Let's Encrypt client written in shell scripts
- GitHub URL (if available) | https://github.com/Neilpang/acme.sh
- External URL (if available) | https://acme.sh
- (Official) install documentation | http

[2018-12-23 14:35] MichaIng opened #2364 "DietPi-Backup/Sync | Add network target support"
Ref: https://dietpi.com/forum/t/backup-and-restore-to-network/2782

Should be easy to apply, since we use rsync already with native network support:
- New menu entry: Add network target
- Add host/URL > G_CHECK_URL > Add credentials > dry run/creds check? > store info/sync

[2018-12-23 14:53] MichaIng opened #2365 "DietPi-Software | Kodi: Increase default gpu_mem to 512 on 1024M devices"
Ref: https://dietpi.com/phpbb/viewtopic.php?f=12&t=5341

[2018-12-23 15:19] MichaIng commented on #1171
Perhaps something to have a look at: https://dietpi.com/phpbb/viewtopic.php?f=11&t=5316
Related: https://bbs.archlinux.org/viewtopic.php?pid=1678446#p1678446

[2018-12-23 15:59] MichaIng commented on #2359
@minnux
No worries, enjoy holidays 😃!

The info was already helpful, so default FS+partition table.
I will retry to format the whole drive as well, but AFAIK there is no difference, as long as you use a single partition anyway. Formatting whole drive will create a new partition table with one single partition.

On VM I used USB1 due to lack of VBox extension package, but will retry with it, just t

[2018-12-23 16:57] MichaIng commented on #2363
@Kreeblah
Thanks for your request.

Jep we had this suggestion in the past. Actually my plan is to create a new `DietPi-TLS` script. This should allow to:
- Create self-singed certificate
- Get LetsEncrypt cert via certbot
- Get LetsEncrypt cert via acme.sh
- Enable/Disable HTTPS/TLS encryption for all webservers and other software titles individually

It makes sense then to allow DNS validation m

[2018-12-24 00:44] MichaIng commented on #1286
🈴 Current ownCloud 10.0.10 does not support PHP7.3 => Disabled on Buster for now: https://github.com/Fourdee/DietPi/pull/2361/commits/a454034c0060f815e88deee8048bb89404b43ac2
_________
~🈴 New dependency issue on Raspbian Buster: Python3 upgraded to v3.7, but python-certbot(-apache|-nginx)? not yet updated accordingly and would be removed for this reason, if python uprgade was forced.~ **€: Resolve

[2018-12-24 01:00] MichaIng opened #2367 "DietPi-Software | ownCloud/Nextcloud: PHP7.0 support will be dropped soon"
ownCloud, as well as Nextcloud, plan to drop PHP7.0 support soon.

On ownCloud this will be upcoming v10.1: https://doc.owncloud.org/server/administration_manual/installation/system_requirements.html **EDIT: ownCloud 10.1 still supports old PHP versions but not yet PHP7.3! Also v10.2 will not yet support PHP7.3!**
Nextcloud v15 already shows a warning on admin panel, v16, expected until mid of 201

[2018-12-24 14:36] Fourdee commented on #2367
@MichaIng

Interesting, NC/OC must require features from php 7.1+.

In theory, a sub version of PHP should not break software. However, if we were to offer 7.2 installs on Stretch, we need to do some extensive testing.

Appears all archs are supported via this repo:
https://packages.sury.org/php/pool/main/p/php7.2/
https://linuxhostsupport.com/blog/how-to-install-php-7-2-on-debian-9/

@MichaIng

I

[2018-12-25 02:01] MichaIng commented on #2367
@Fourdee
Jep Ondrej is official PHP package maintainer anyway, so the repo/packages themselves are trustworthy and should work fine themselves.

But on Debian repo, it is guaranteed that all software is compatible with the offered PHP version, which is not the case for any newer version from outside of Debian repo of course. So jep, requires intense testing, and I already know that ownCloud curren

[2018-12-25 22:50] MichaIng commented on #2351
@elleto
Okay, according to the error message, it is not related to the previous issue #2130
Due to lack of XU4 I can't test here, hope @Fourdee finds some time soon.

About the download issues:
Do you have an idea about the reason for name resolution errors with your prior WAN? If is simply has an outdated or unreliable DNS table, then similar things should happen to all other devices. Since GitHu

[2018-12-25 23:07] #2269 closed, assigned to nobody

[2018-12-25 23:23] MichaIng commented on #2205
Where the hack did I get Samsung Exynos from?? It's: `Intel Celeron (Gemini Lake) J4105`, so clearly x86, which means that your x86 image will work just will.
Will mark this issue as closed.

[2018-12-25 23:23] #2205 closed, assigned to nobody

[2018-12-25 23:29] MichaIng commented on #2260
Added to FeatHub, feel free to leave a vote: https://feathub.com/MichaIng/DietPi/+2

[2018-12-25 23:38] MichaIng commented on #1062
@Fourdee
I guess there is still work to do on this?
If it is not working reliably currently on we don't find the time to fix, we should properly disable it for now?

[2018-12-25 23:43] MichaIng commented on #1091
Added to FeatHub: https://feathub.com/MichaIng/DietPi/+3

[2018-12-25 23:45] MichaIng opened #2368 "FeatHub | Vote for or add your requests for DietPi"
We added DietPi to **FeatHub**: https://feathub.com/MichaIng/DietPi
Will go through our open requests and add them there. Hope this gives us a better overview and priorities.

#### Please always open an issue/request on [GitHub](https://github.com/MichaIng/DietPi/issues) as well to discuss and develop!

@Fourdee
Hope you agree 😉.

[2018-12-25 23:56] MichaIng commented on #1463
Added to FeatHub, feel free to vote for it: https://feathub.com/MichaIng/DietPi/+4

[2018-12-26 00:00] MichaIng commented on #1701
Added to FeatHub, feel free to vote for it: https://feathub.com/MichaIng/DietPi/+5

[2018-12-26 00:13] MichaIng commented on #1813
Most likely we will implement the Bitcoin node first according to user counts.
Install instructions: https://github.com/bitcoin/bitcoin/blob/master/doc/build-unix.md

Added to FeatHub, feel free to vote: https://feathub.com/MichaIng/DietPi/+6

[2018-12-26 00:21] MichaIng commented on #1838
Added to FeatHub, feel free to vote for it: https://feathub.com/MichaIng/DietPi/+7

[2018-12-26 00:31] MichaIng commented on #1902
Added to FeatHub, feel free to vote for it: https://feathub.com/MichaIng/DietPi/+8

[2018-12-26 00:37] MichaIng commented on #1918
Added to FeatHub, feel free to vote for it: https://feathub.com/MichaIng/DietPi/+9

[2018-12-26 00:39] MichaIng commented on #1971
Added to FeatHub, feel free to vote for it: https://feathub.com/MichaIng/DietPi/+10

[2018-12-26 00:45] MichaIng commented on #1975
Added to FeatHub, feel free to vote for it: https://feathub.com/MichaIng/DietPi/+11

[2018-12-26 00:48] MichaIng commented on #2019
Added to FeatHub, feel free to vote for it: https://feathub.com/MichaIng/DietPi/+12

[2018-12-26 00:51] MichaIng commented on #2045
Added to FeatHub, feel free to vote for it: https://feathub.com/MichaIng/DietPi/+13

[2018-12-26 00:55] MichaIng commented on #2052
Added to FeatHub, feel free to vote for it: https://feathub.com/MichaIng/DietPi/+14

[2018-12-26 01:03] MichaIng commented on #2082
Official link: https://www.spigotmc.org/wiki/about-spigot/

Added to FeatHub, feel free to vote for it: https://feathub.com/MichaIng/DietPi/+15

[2018-12-26 01:23] MichaIng commented on #2157
URL: https://www.open-iscsi.com/
GitHub: https://github.com/open-iscsi/open-iscsi
iSCSI protocol (RFC 7143): https://tools.ietf.org/html/rfc7143

Added to FeatHub, feel free to vote for it: https://feathub.com/MichaIng/DietPi/+16

[2018-12-26 01:31] MichaIng commented on #2183
@wallace11
No development on greg for more than two years. Isn't there a solution that is still in active development?

[2018-12-26 01:33] MichaIng commented on #2239
Install instructions: https://github.com/pymedusa/Medusa/wiki/Medusa-installation-Ubuntu-15

Added to FeatHub, feel free to vote for it: https://feathub.com/MichaIng/DietPi/+17

[2018-12-26 01:46] MichaIng commented on #2244
Added to FeatHub, feel free to vote for it: https://feathub.com/MichaIng/DietPi/+18

[2018-12-26 01:48] MichaIng commented on #2245
Added to FeatHub, feel free to vote for it: https://feathub.com/MichaIng/DietPi/+19

[2018-12-26 01:51] MichaIng commented on #2251
URL: https://www.minetest.net/
GitHub: https://github.com/minetest/minetest
Feel free to vote for it on FeatHub: https://feathub.com/MichaIng/DietPi/+20

[2018-12-26 01:54] MichaIng commented on #2252
Many thanks for your request.

URL: https://i3wm.org/
GitHub: https://github.com/i3/i3
Vote for it on FeatHub: https://feathub.com/MichaIng/DietPi/+21

[2018-12-26 02:09] MichaIng commented on #2363
Added to FeatHub, feel free to vote for it: https://feathub.com/MichaIng/DietPi/+28

[2018-12-26 02:22] MichaIng commented on #1674
Added to FeatHub, feel free to vote for it: https://feathub.com/MichaIng/DietPi/+24

[2018-12-26 02:31] MichaIng commented on #1967
Added to FeatHub, feel free to vote for it: https://feathub.com/MichaIng/DietPi/+25

[2018-12-26 02:42] wallace11 commented on #2183
Wow, Greg has been serving me so well I haven't noticed that...

On Wed, Dec 26, 2018 at 10:31 AM MichaIng <notifications@github.com> wrote:

[2018-12-26 02:44] MichaIng commented on #1987
Will close this issue, since we got no further votes, I only opened this, since I found out support for apt-fast when checking old code and when reviewing the above tests, I hardly believe that this is a real benefit for anyone out there.

[2018-12-26 02:44] #1987 closed, assigned to nobody

[2018-12-26 02:46] MichaIng commented on #2226
Added to FeatHub, feel free to vote for it: https://feathub.com/MichaIng/DietPi/+26

[2018-12-26 03:08] MichaIng commented on #2183
@wallace11
It is not necessarily an knockout argument, especially for using the software. More problems usually appear when building the software, due to outdated function calls, old library dependencies and such. There are already some open issues and PRs about obsolete python3 calls and such 🤔.

However I added it to our new FeatHub page, let's see it there is more interest for it: https://feath

[2018-12-26 03:48] Kreeblah commented on #2363
Um, did that comment get left on the wrong issue?  That link points to an entry for Etherpad.

[2018-12-26 04:16] MichaIng commented on #2239
Further reading: https://www.reddit.com/r/sickrage/comments/9myqx0/can_some_give_me_a_run_down_on_what_is_going_on/
- So indeed SickChill is the real prior SickRage.
- However Medusa is an older fork, so should be more stable/settled in terms of devs and dev.
- The additional feature are just from the side of a Medusa dev, but really, I believe this is the best way to go.

PR up: https://github.co

[2018-12-26 05:01] MichaIng commented on #2363
@Kreeblah
Whoopsie, fixed!

[2018-12-26 09:39] Fourdee commented on #1838
@MichaIng

Great idea, nice one 👍

[2018-12-26 09:41] Fourdee commented on #2368
@MichaIng

Yep, love it, nice idea 👍

[2018-12-26 17:21] tillcash opened #2370 "DietPi-Software | WiFi Connect"
Creating a software request:

Give us some formal software information:
- Software title | WiFi Connect
- Short description | Easy WiFi setup for Linux devices from your mobile phone or laptop
- GitHub URL (if available) | https://github.com/balena-io/wifi-connect
- (Official) install documentation | https://github.com/balena-io/wifi-connect#installation

[2018-12-26 21:27] Oeil2L opened #2371 "DietPi-Software | Testing Kodi 18 (Leia)"
Hello

I use Dietpi with Jdownloader (Manual install), Pihole, Plex and Kodi (V17) and everything works perfectly.

If someone can help to install kodi Leia release (V18), i appreciate.

I'm not sure package exist:
https://tracker.debian.org/pkg/kodi

[2018-12-27 08:09] 19eighties commented on #2328
I did a reinstall and now Jackett works again.

[2018-12-27 08:09] #2328 closed, assigned to Fourdee

[2018-12-27 17:02] MichaIng commented on #2347
Close, since this has been resolved with above PRs.

[2018-12-27 17:02] #2347 closed, assigned to nobody

[2018-12-27 17:28] Fourdee commented on #2336
All systems, receive current error when accessing web interface on remote system (notice the 2x ```//```):
[code]

Fixed with:
[code]

[2018-12-27 17:43] #2336 closed, assigned to nobody

[2018-12-27 17:45] MichaIng commented on #2371
@Oeil2L
It should be available in Debian Buster (testing) repo soon, but I don't believe it is backported to Stretch.

If you really want to go with Leia (still in RC), you need to build it manually: https://github.com/xbmc/xbmc/blob/master/docs/README.Linux.md

Note that you **don't** need to install/use "`git` (--clone)" at all to get the code. You can simply download the latest archive manually

[2018-12-27 20:59] MichaIng opened #2372 "Image | Limbo VM (for Android)"
## Creating an image request:

#### Forum reference: https://dietpi.com/forum/t/req-android-pc-emulator-tablet-becomes-home-automation-box-dashboard/2801

#### Give us some formal device information:
- Device name | Limbo VM
- Official product URL | https://sourceforge.net/projects/limbopcemulator/
- GitHub resource URL (if available) | https://github.com/limboemu/limbo

#### Is the SBC officially

[2018-12-28 06:33] miguipda commented on #1245
Hi,

great to read this should be considered to be impemented in DietPi.
I will wait it soon ;-)

[2018-12-28 09:57] MZorzy opened #2374 "DietPi-Software | Home Assistant: Skip (re)installing pyenv/Python"
not a bis issue but every time
dietpi-software reinstall 157
it ask to reinstrall python 3.6.3 y/N , if No it end and not upgrade. if y ... redownload with lot of time consumping.

may be an option to check if exist 3.6.3 and skip OR continue upgrade/reinstall  ?

[2018-12-28 17:31] MichaIng commented on #2374
@MZorzy
Thanks for your request.

Python is installed within `pyenv`. Requires investigation in how to check for installed python version within `pyenv`. In question, to be failsafe, always (re)install Python at least assures functionality.

Why actually do you need to reinstall HA that often, that Python reinstall is an issue?

The related code line is: `su --shell /bin/bash --command "cd $ha_use

[2018-12-28 17:44] MichaIng commented on #2374
Further research:
- `pyenv` actually is a Python version manager only. If HA is compatible with the one, installed by default via repo, it should work without pyenv?

- 3.5.3 available on Stretch: https://packages.debian.org/de/stretch/python3, so `pyenv` should be only required on Jessie.
- Actually I would drop support on Jessie to simplify the install code, just keep support (and uninstall code

[2018-12-28 18:47] djmeeks commented on #2359
Ok sorry for the delayed reply. I started over, reinstalled dietpi, and reformatted the HDD. I noticed that (I think) partition or whole drive option was missing now in the drive manager when I reformatted, and (I think) mariadb loads before php when installing Nextcloud. It was going by so fast that I didn't have time to take notice. Whatever changed though, it seems to have worked. Everything is

[2018-12-28 21:37] MichaIng commented on #2359
@minnux
I also recognized the issue with Nextcloud Talk. It is due to installing apps via `occ` command requires Redis to run and we start MariaDB only. Fixed with: https://github.com/Fourdee/DietPi/pull/2333/commits/d0f5827ca8e2e749eb0eb2feadc2f7b881f1f131

Great that it finally worked. How did you do it now, move userdata before or after Nextcloud install?

[2018-12-28 21:47] djmeeks commented on #2359
I booted a fresh install of dietpi, went through the menus, but didn't install anything, then exited dietp-launcher at which point it says it will reboot . After reboot I used drive_manager to format the external drive to ext4 gpt, rebooted again, after startup I then moved userdata to external drive, tested data throughput, looked good so rebooted again (I voluntarily rebooted quite a bit just be

[2018-12-28 21:49] MichaIng commented on #2340
@symbios24
Thanks for your report and sorry for the late reply.

Since you say there are errors about trusted addresses and starting timesyncd fixed it, I guess it was indeed due to system clock out of sync. Then SSL certificates may be "too new" (not yet valid from system view) to accept.

In this case `dietpi-software` should exit when APT package install (or wget download) returns error, so the

[2018-12-28 21:54] MichaIng commented on #2359
@minnux
Okay great. It leaves the question open for me, why MariaDB in some cases fails to install with moved database. I am still thinking about switching the install procedure as mentioned above, but actually would love to find out the root cause.

Reboot after drive formt and moving userdata should be not required. However it does not hurt either and for sure is more failsafe 👍.

[2018-12-28 21:56] djmeeks commented on #2359
Yes I figured I went overboard with the reboots but I was so tired of re-installing I didn't want any f ups this time lol.

[2018-12-28 22:29] MichaIng commented on #1864
Played a bid around:
- ~https://bettercodehub.com requires admin access, no cannot be used as contributor.~
  - **As I am repo owner now I could have a closer look. It just does very rough assumptions about script/block/loop sizes and such that mostly do not fit our coding style and needs.**
- https://www.codefactor.io allows to be used as contributor. But it identifies only files with `.sh`/`.bas

[2018-12-29 12:59] Oeil2L commented on #2371
Hello MichaIng

Thx for your support. I tryied but compile for me was too complex (a lot of error message)

I applied this method:
https://www.raspberrypi.org/forums/viewtopic.php?f=35&t=222954
But kodi V18 is RC1 only version and i can't find a way to work with the Netflix Addon.

Continuing digging.

[2018-12-29 13:26] MichaIng commented on #2371
@Oeil2L
Great link, having an up-to-date testing repo is of course easier.

I just checked what we do on Kodi install:
- Install `libnfs8` and `libcec4` for NFS and CEC support
- Apply some udev rules: [/etc/udev/rules.d/99-dietpi-kodi.rules](https://github.com/Fourdee/DietPi/blob/dev/.conf/dps_31/99-dietpi-kodi.rules), although this should not even be required, if we run it as root (below)
- Make

[2018-12-29 13:55] MichaIng commented on #869
I guess Debian armhf packages do not (fully) support RPi?
E.g. https://packages.debian.org/buster/libx265-165

[2018-12-29 16:17] MichaIng opened #2375 "DietPi-Software | OpenSSH: Host key regeneration quirks"
Just tested OpenSSH install over Dropbear SSH session on Stretch. Works well, session is not closed, no port 22 permission issues as reported here: https://dietpi.com/phpbb/viewtopic.php?p=15868#p15868
- [ ] Need to check how/when this might occur

However, at least on Stretch I found the following issues:
- Key naming has changed and new key types available:
[code]
  - So our old key removal and

[2018-12-29 17:23] MichaIng commented on #2375
Dropbear even converts existing OpenSSH keys:
[code]
- [x] Check, if same method works on Dropbear:
  - On Jessie and Stretch rsa, dss and ecdsa is possible, but on Jessie, only rsa and dss is generated via `dpkg-reconfigure`, so manually create ECDSA there.
______
Reverse install testing 🈯️ Dropbear => OpenSSH, OpenSSH => Dropbear both work without issues here
_______
`/etc/ssh` is always fully r

[2018-12-29 18:51] Oeil2L commented on #2371
@MichaIng

I know but before I post, I reinstall my backup to be sure and apply only the commands indicated in https://www.raspberrypi.org/forums/viewtopic.php?f=35&t=222954
and the Dietpi Kodi version was updated to RC1 git N°xxxx, but the Add-on:InputStream Adaptive was not present.

(In my initial tests, I try a lot of tuto and this last link, but the install of kodi was dirty (same RC1 but Add

[2018-12-29 18:52] MichaIng commented on #2375
PR is up: https://github.com/Fourdee/DietPi/pull/2376
**€: Merged into `dev`**

[2018-12-29 19:23] MichaIng commented on #2371
@Oeil2L
Note sure how RC1 is installed then, perhaps some internal mechanism, however since DietPi does no related changes to the default APT install, I guess the Netflix app issue is outside of DietPi, but part of the custom repo package, which is not up-to-date (as RC3 is upstream). And users already commented in the link about issues and changes with Netflix API.

However one thing you could ch

[2018-12-29 19:32] mfeif opened #2377 "DietPi-Software | MPD: (Re)enable NFS and SMB storage plugins"
## Creating a bug report/issue:

I just upgraded to 6.19 from 6.10. I was using MPD with a remote database of music, running over nfs to a linux server on the LAN. Note that mpd has its own [built-in nfs client stuff](https://www.musicpd.org/doc/html/plugins.html?highlight=nfs#nfs) not via a filesystem mount. This worked on DietPi 6.10. Now, I get this:

[code]

It looks like maybe someone disable

[2018-12-29 19:43] mfeif opened #2378 "DietPi-Software | MPD: Can't find conf file after upgrade from 6.10 --> 6.19"
## Creating a bug report/issue:

MPD can no longer start, because it can't find its conf file:
[code]
/etc/mpd.conf is in place
/lib/systemd/system/mpd.service has some conflicting info. Note that it's forcing the binary to see /etc/mpd.conf but ALSO is telling it to look in /etc/default/mpd (which has its own configuration about where to put the conf file). Also, I think that those directories in

[2018-12-29 19:46] mfeif commented on #2377
For reference, here's `mpd -V` on an Ubuntu 18.10 box:

[code]

[2018-12-29 20:05] MichaIng commented on #2377
@mfeif
Just rechecked and jep, on Stretch we install a self-compiled package with newer version (0.20.21 vs 0.19.21 on Stretch repo) where the NFS protocol is not implemented.

I am not sure now if this was different in the past, however multiple reinstalls within update path show that most likely not only the config file has changed. Sadly I just now on DietPi v6.20 dev I managed to clean up the

[2018-12-29 20:18] MichaIng commented on #2378
@mfeif
Thanks for your report.

Jep indeed this is somehow confusing. However the comment in `/etc/default/mpd` states that it is meant to be like that. I will just retry if really the environment file is required, if `EnvironmentFile=/etc/default/mpd` is removed from systemd unit as well.
________________

This is only a failsafe thing and should not break anything, since only group is changed. A

[2018-12-29 20:26] MichaIng commented on #2377
Default Stretch repo install:
[code]
- Since the config file does not need to be included, it for my impression verifies that the package need to be compiled with those ~protocol support~. **€: It's the storage plugins:**
Debian repo:
[code]
vs DietPi
[code]

@Fourdee
Any chance we have our binaries updated with smbclient and nfs storage plugins, and if already also to current upstream version?
__

[2018-12-29 21:15] MichaIng commented on #2378
Actually no issue here with removing `/etc/default/mpd` and `EnvironmentFile=` in systemd unit.

It is possible to use the default Stretch systemd unit with additional hardenings, only binary needs to be adjusted to /usr/local/bin:
[code]
_______________
Ah and RuntimeDirectory NEEDS to be pre-created and chowned to run user defined in `/etc/mpd.conf`. The default Debian repo install creates it wi

[2018-12-29 22:36] MichaIng commented on #2371
@Oeil2L
Another question: Does Kodi v18 play H.265 natively, could you test this?

[2018-12-29 22:39] MichaIng opened #2379 "DietPi-Software | Kodi H.265 support"
Seems to be not supported on Kodi 17. Kodi 18 is close to release, but will surely not be backported to Debian Stretch repo, but at least hopefully to Meverics Odroid repo/backports.

However perhaps it's possible to add H.265 support also to older versions. Or is this a matter of the OS/libraries and not necessarily Kodi itself? Not the topic I know much about 😉.

Ref Kodi v18 test: https://githu

[2018-12-29 23:42] Oeil2L commented on #2371
For sure the Netflix issue is outside of Dietpi (for the moment;) ), i'll see with a more recent version RC3/RC4 or V18.0 later on DietPi.

Netflix work perfectly on libreelec/Kodi RC3.

Kodi support H265 without problem only some limites can appear on Raspberry because the bitrat or Profiles compression:
https://kodi.wiki/view/Features_and_supported_formats

I use Kodi on Mecool M8S (android box

[2018-12-30 16:24] MichaIng commented on #1510
### Another `subshell` vs `command assembly` on `sh` (dash) vs `bash`
[code]

#### Little benefit, when we use bash syntax:
[code]

However, just wanted to verify that **cron** should use:
`25 1    * * *   root    test -x /usr/sbin/anacron || { cd / && run-parts --report /etc/cron.daily; }`
instead of
`25 1    * * *   root    test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.dail

[2018-12-30 16:31] FaserF commented on #2320
Would love to see this! And btw it is out of Beta already :)

[2018-12-30 18:13] MichaIng opened #2380 "META | Commit changes directly to Debian repo"
If we find improvements for certain Debian packages that are not really a bug, instead of using the [bug tracker](https://www.debian.org/Bugs/), I found the [Debian GitLab page](https://salsa.debian.org/) can be used, e.g.: https://salsa.debian.org/debian/cron/merge_requests

Just a quick note to devs/contributors to keep in mind. It is always better to share a benefit across all Debian users inst

[2018-12-30 20:34] MichaIng commented on #2378
I opened a PR to address the above: https://github.com/Fourdee/DietPi/pull/2381

I have not yet a clue, why on default Debian package install, the "`mpd`" command finds the config file automatically and when our manually compiled package is installed, it does not.
Perhaps this is also something that can be set/changed when compiling?

[2018-12-31 01:33] MichaIng commented on #2051
Further ideas about that:
- Extend `DietPi-Sync` to allow adding multiple slots.
- Settings are saved via arrays, similar to `DietPi-WiFiDB`, but (as I already plan to implement there), starting with only one or zero slots and allowing to add them via main menu option.
- The main menu then allows to select and add slots only. What is currently in main menu is then part of the slot menus.
- Add a r

[2018-12-31 03:36] Elijahg commented on #2347
@MichaIng, apologies for not replying before - I for some reason only got an email notification when you closed the issue 🤔 I realise it's no longer a problem but for completeness here's that I would have said!

I was actually sourcing /etc/bashrc.d/dietpi-login.sh when logging in - it's in my .zshrc.

That would explain why when sourcing it via my .zshrc it was being executed with zsh, not bash.

[2018-12-31 05:11] MichaIng commented on #2347
@Elijahg

Interesting, `dietpi-login.sh` sources `/DietPi/dietpi/dietpi-globals` and these should throw the same `Syntax error: "(" unexpected` as `dietpi-unsupported_terminal.sh` does. It as well defines arrays that way: https://github.com/Fourdee/DietPi/blob/master/dietpi/func/dietpi-globals#L591

This made me reading a bid about `zsh`. Actually the syntax error does not come from `zsh`, but ind

[2018-12-31 05:18] LexiconCode commented on #2051
Why not make UrBackup Server a part of the install with a its Linux client. Well it's not as system resource friendly dietpi-backup but it's incredibly robust and reliable which is what you want with the backup system.

[2018-12-31 05:29] MichaIng commented on #1245
@LexiconCode
It's more-less the same: Auto configure Pi-hole and a VPN server (optionally with dnscrypt) to allow e.g. your mobile phone or notebook externally being ad-blocked? But I did not yet add it to our FeatHub page, if you were thinking about this.

[2018-12-31 12:05] tillcash opened #2382 "Wrong timestamp in Pi-hole query log"
Required Information:
- DietPi version	| v6.19.7
- Distro version	| stretch / 9.6
- Kernel version	| Linux DietPi 4.14.90-v7+ #1183 SMP Fri Dec 21 14:03:50 GMT 2018 armv7l GNU/Linux
- SBC device		| RPi 3 Model B (armv7l)
- Power supply used	| 5V 1A RAVpower
- SDcard used		| SanDisk

Additional Information (if applicable):
- Software title	| Pi-hole
- Was the software title installed freshly or upd

[2018-12-31 16:35] Fourdee commented on #2239
Install test + download test with transmission + Medusa web update test + uninstall test:
- 🈯️ ARMv7
- 🈯️ ARMv8

@MichaIng

Works a charm, nice one 👍

Forum doc matches, just need to
- change references to Medusa from Sickrage and images

- 🈯️ Forum https://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=3327#p3327
- 🈯️ dietpi.com https://dietpi.com/dietpi-software.html

[2018-12-31 16:57] Fourdee commented on #2382
@tillcash

Many thanks for the report 👍  we'll try to replicate and investigate.

[2018-12-31 17:01] Fourdee commented on #2382
@tillcash

Appears to be a documented issue. Please can you try the following commands in this post?
https://discourse.pi-hole.net/t/query-log-entries-getting-wrong-time-stamp/8114

Optional: Might be advisable to backup system before hand with:
[code]

Then run repair:
[code]

Then verify if timestamps are valid.

[2018-12-31 17:17] Fourdee commented on #2378
@MichaIng

[2018-12-31 18:39] MichaIng commented on #2378
@Fourdee
Jep, I also found that. However `dietpi` group should be now sufficient since we mount samba drives as `dietpi` group now with 77X permissions?
- https://github.com/Fourdee/DietPi/blob/dev/dietpi/dietpi-drive_manager#L1827

[2018-12-31 23:33] midwan commented on #1844
@Fourdee
Sorry to resurect this one, but I just run across it again. My SDcard got corrupt and I had to re-install my Pine64 from scratch with the latest DietPi image.

Here are the symptoms I noticed:
- After the initial startup (and after the self-update function), when going into Dietpi-config, in the Adapter options the Wifi module is shown as "Enabled" but "Not found". Any attempts to use it

[2018-12-31 23:40] midwan commented on #1844
Update: the same error comes up if I manually try to run `apt update` on the console.

[2019-01-01 05:30] tillcash commented on #2382
Facing the issue only in Firefox because of tweak the privacy.resistFingerprinting preference in about:config.
Reverting the changes fixed the issue.

[2019-01-01 07:10] Stefan3v opened #2383 "DietPi-Software | Nextcloud: Install broken with Apache webserver"
#### Details:
- Date           | Mon 31 Dec 21:50:48 GMT 2018
- Bug report     | N/A
- DietPi version | v6.19.7 (Fourdee/master)
- Img creator    | DietPi Core Team
- Pre-image      | Raspbian Lite
- SBC device     | RPi 3 Model B (armv7l) (index=3)
- Kernel version | #1159 SMP Sun Nov 4 17:50:20 GMT 2018
- Distro         | stretch (index=4)
- Command        | cp -f /DietPi/dietpi/conf/apache.next

[2019-01-01 12:33] #2382 closed, assigned to nobody

[2019-01-01 18:45] d-tamm commented on #2367
This affects not only the main Nextcloud/Owncloud installation. Also some addons have their own requirements on php, e.g. passwords (https://apps.nextcloud.com/apps/passwords) requires php >= 7.1.0. Therefore, these addons cannot currently be used in a standard DietPi installation. I will try to follow the instructions in @Fourdee's links and try to get a more recent php up and running. Otherwise

[2019-01-01 18:52] cyberlussi opened #2384 "DietPi-Software | Mopidy playlists not working due to wrong config/missing permission"
I am new to dietpi and mopidy but it seems for me that  playlists are not working in the vanilla dietpi setup of mopidy. I have a workaround (see below) but I am not sure whether this is perfect under all circumstances. I mean, I do not know whether mopidy-m3u is then still able to scan for m3u below the music directory or not ...

#### Required Information:
- DietPi version	| 6.19.7
- Distro vers

[2019-01-02 09:29] MichaIng commented on #2384
@cyberlussi
Thanks for your report.

**EDIT: In short: Your solution is just fine.**
You can also use `/mnt/dietpi_userdata/Music` for playlist, which is `dietpi` owned but writeable for `mopidy` user as well, which should be inside the `dietpi` group. Although have to check. We run: `useradd -rM mopidy -G dietpi,audio -s /usr/sbin/nologin`, but it looks like this user already exist after APT inst

[2019-01-02 11:58] krishnasen2401 commented on #1542
it would be good as it will be easy to create wifi hotspot by bridging

[2019-01-02 14:00] cyberlussi commented on #2384
Thank you for the extensive answer. So effectively it should work with my proposed workaround and also with yours. Using the already existent Music dir makes sense.
So I changed mopidy's m3u/playlists_dir to `/mnt/dietpi_userdata/Music`. But at least in my installation [Edit: 6.19.7] the group `dietpi` does **not** have `mopidy` as member: `getent group dietpi` gives `dietpi:x:1000:` and mopidy co

[2019-01-02 16:20] volpone opened #2386 "DietPi-Software | Allo Web Gui - SqueezeLite DSD - DoP KO"
#### Required Information:
- DietPi version: 6.19.7 master
- Distro version: stretch
- Kernel version: Linux USBridge 3.10.38
- SBC device: Sparky SBC (armv7l)

#### Steps to reproduce:
- Using T+A DAC8DSD (Amanero USB, DoP only, no native DSD with Linux) and also same behavior with RME ADI-2 DAC
- Using Allo Web Gui
- Web Gui SqueezeLite output is set to **[DSD Native Output:] "disabled"**
- Play

[2019-01-02 16:37] MichaIng commented on #2384
@cyberlussi
Jep, we used `useradd` with option to define user groups and such, but the (new) APT install already creates the user, which is why we need to use `usermod`. I resolved that with the PR. I guess either this changed with moreless recent Mopidy versions or we used a different install method in the past (e.g. build from source), which did not include the user creation.

[2019-01-02 17:27] volpone opened #2387 "HQPlayer NAA (networkaudiod) upgrade from 3.5.4 to 3.5.5"
HQPlayer NAA (networkaudiod) version is 3.5.4-38 in last DietPi released version (6.19.7).
NAA has been upgraded from 3.5.4-38 to 3.5.5-39
See: https://www.signalyst.eu/bins/naa/linux/stretch/
Thank's for your work !

[2019-01-02 18:30] MichaIng commented on #2387
@volpone
Thanks for the info. We will patch for v6.20.

Hmm would be great if there was a way to automatically grab the latest release 🤔.

[2019-01-02 19:59] MichaIng commented on #2383
@Stefan3v
Many thanks for your report.

Jep we forgot to apply our new config download system to this very single case: Nextcloud Apache config.

Fixed with: https://github.com/Fourdee/DietPi/commit/d61ec6cf4ad06ec529dff7a2180e305fbd7fc65a

To fix this in your case, run the following command:
`sed -i 's|G_RUN_CMD cp -f /DietPi/dietpi/conf/apache.nextcloud.conf|dps_index=$software_id Download_Insta

[2019-01-02 20:25] MichaIng commented on #2367
@d-tamm
Damn, so to allow full features, we need to enable higher PHP versions earlier than I was hoping. I guess there are as well other software titles that earlier/later drop PHP7.0 support.

This is a basic issue of Debian then, as long as they do not update the PHP version on stable branch, which I doubt.

The problem on the other end is still that we don't know which other software titles mi

[2019-01-02 20:27] Fourdee commented on #2387
@volpone

Thanks for heads up 👍

@MichaIng

Yep, would be nice to have a latest version link, however, for now i'll manually set the latest version.

[2019-01-02 20:27] Fourdee commented on #2387
Completed: https://github.com/Fourdee/DietPi/commit/2c767921ba7458de9b431011b611e9c1a31a7c1f

[2019-01-02 20:27] #2387 closed, assigned to Fourdee

[2019-01-02 20:31] Fourdee commented on #1814
@MichaIng

Yep its resolved, verified with setting up my dads Odroid C2 + Kodi system 👍

[2019-01-02 20:31] #1814 closed, assigned to Fourdee

[2019-01-02 20:35] Fourdee commented on #2377
@MichaIng

Yep, i'll update the binaries.

Latest version = https://www.musicpd.org/download/mpd/0.21/mpd-0.21.3.tar.xz

- 🈯️ ARMv6
- 🈯️ ARMv7
- 🈯️ ARMv8
- 🈯️ x86_64

Fail
- Fails: ```option('systemd', type: 'feature', description: 'systemd support')``` ```libsystemd-dev``` installed.
- And ```option('upnp', type: 'feature', description: 'UPnP client support')```

Will retry with 0.20

---

Legend

[2019-01-02 22:03] mfeif commented on #2377
Thanks guys!

[2019-01-02 22:09] MichaIng commented on #2377
@Fourdee

Strange, although no big issue since we create the systemd unit ourself on install? I guess this option would just implement the systemd unit into the installer/deb package?
**EDIT: Ah, did you install `libwrap0-dev` as well? At least it is in the same line of the listed build dependencies: https://www.musicpd.org/doc/html/user.html#compiling-from-source**

UPnP for sure requires `libupn

[2019-01-02 22:59] SaturnusDJ opened #2388 "DietPi-Software | Docker logging to RAM/journald"
Correct me if I am wrong but:

I found that docker containers log to  _/mnt/dietpi_userdata/docker-data/containers/[Container ID]/[Container ID]-json.log._ This is on non tmpfs, thus SD card in many cases.

DietPi by default has journald as logger log to _/run/log_, which is tmpfs.

Docker can logs can be passed to journald.
Therefor on a stock DietPi the /etc/docker/daemon.json file should look l

[2019-01-02 23:18] Fourdee commented on #2377
@MichaIng

Yep, was installed. Reverted back to to 0.20.X for now.