[2016-08-28 20:17] midwan commented on #474
Good work there! 👍

Regarding the items in RED:
- Donations: Sure, no problem with that. :)
- Disclaimer: kind of obvious really, we could just mention that we don't supply any Kickstart ROMs or other copyrighted material (that should keep the lawyers away), that should cover it.
- Image: I was planning to make a proper logo, but haven't gotten to it yet. Can we update it later if necessary?
- Kic

[2016-08-28 20:25] Fourdee commented on #477
@ThomasKaiser

Ok, which alternative would you recommend?

So forcing the 912MHz max clock is irreverent, unless the user wants to only lower power consumption? You are saying the device can and will run to the 1200MHz clocks? I assume with thermal throttling protecting the H3 from high temps?

Ondemand sampling could be a factor in those results. Possibly the `Ondemand` sampling uses more CPU tim

[2016-08-29 09:04] ThomasKaiser commented on #477
Just two quick notes: Please read again through [last posts of this thread](http://forum.armbian.com/index.php/topic/1748-sbc-consumptionperformance-comparisons/#entry14439) to get the idea what might happen when NEO will run at above 912 MHz (it's more about preventing deadlocks than anything else since the thermal behaviour of this board is so different than the other H3 devices).

And if you th

[2016-08-29 12:09] midwan commented on #474
Here's an updated logo, since a friend was kind enough to design it for me:
![amiberry logo](https://cloud.githubusercontent.com/assets/3877365/18050979/24b4447c-6df2-11e6-9b31-7575b1c9c38b.jpg)

[2016-08-29 12:21] Fourdee commented on #474
@midwan

Epic image. I may ask your friend to create one for DietPi lol! It looks excellent :+1:

Updated: http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=64#p64

We apply the paths directly to the `/etc/uae4arm-rpi/conf/adfdir.conf` and `/etc/uae4arm-rpi/conf/autostart.uae` during installation, but it doesn't seem to find or list any content, unless the user browses Roms and Kickstarts.
I also tr

[2016-08-29 12:29] midwan commented on #474
I'm not sure the adfdir.conf file is actually used, I found it there in the original archive so I kept it, but I will have to check the source code to be 100% sure. It may be irrelevant and we can throw it away if that's the case.

The *.uae files are certainly used and whatever is in them should be loaded/respected though. If there's a bug in loading the input settings, we'll have to get it fixed

[2016-08-29 12:54] Fourdee commented on #474
@midwan

As far as I can tell, `adfdir.conf` gets used for:
- Default paths (left hand side menu 'PATH' option)

[code]
- When user browses filesystem (eg: ... button)

[code]

I've updated the paths in this file and now Kickstarts are being listed automatically on 1st run!
The paths in this file require a slash after the last directory `/`, else, doesn't work.

Lets go with `floppy_images`, user

[2016-08-29 13:32] Fourdee commented on #474
@midwan

I think we can improve performance in Uae4ARM by setting 480p resolution if user selects Uae4arm autoboot option.
Framebuffer size has a direct impact on RAM performance as framebuffer (display) shares the same memory and bandwidth: https://www.raspberrypi.org/forums/viewtopic.php?p=104973&sid=44bbe222489dcc082fcdf6faeccef711#p104973

So in theory, the smaller the resolution, the faster t

[2016-08-29 14:00] 467815891a opened #484 "Got display problem after kodi exit"
I setup v129 on my Rasberrypi2.Use VGA to HDMI Cable connect to my monitor(1366_768).
I modify /boot/config.txt and force Raspberrypi output with 1366_768 resolution.It works well.
I am sure my Raspberrypi got enough current and VGA to HDMI Cable got External power.
I used dietpi-software to install kodi. kodi plays video perfectly.But after I exit kodi,I only saw my desktop in a flash,and soon it

[2016-08-29 16:07] Fourdee opened #485 "DietPi-Config | Add RPi 3 Overclocking profiles"
1.2ghz
400mhz
0 overvolt

[code]

1.25ghz
500mhz
3 overvolt

[code]

1.3ghz
400mhz
3 overvolt

[code]

1.2ghz
500mhz
3 overvolt

[code]

1.2ghz
550mhz core
3 overvolt

[code]

1.3ghz
575mhz core
5 overvolt

[code]

1.35ghz
575mhz core
6 overvolt

[code]

1.3ghz
600mhz core
6 overvolt
Unstable - Screen flickers.

[code]

[2016-08-29 16:25] Fourdee commented on #485
75'c thermal limit

#### No overclock

69.8963

#

1.3ghz
400mhz
3 overvolt
64.6327

#

1.4ghz
400mhz
5 overvolt
No boot

#

1.325ghz
400mhz
4 overvolt
63.2839

#

1.35ghz
400mhz
4 overvolt
62.1129

#

1.375ghz
400mhz
4 overvolt
Hard lock

#

1.375ghz
400mhz
5 overvolt
Hard lock

#

RPi 3 likes "gentle" overclocking. core_freq overclocking creates far too much heat to gain any performance.

[2016-08-29 16:49] Fourdee commented on #485
New Profiles:
![image](https://cloud.githubusercontent.com/assets/7077026/18059516/2ed72cc0-6e11-11e6-8937-ae458bf9d01a.png)

I'll test high over next few days for stability. If fail, drop it from list.

[2016-08-29 18:29] Fourdee commented on #484
@467815891a

Looks like a possible bug with the "black screen kodi on exit" workaround we use on RPi: https://github.com/Fourdee/DietPi/blob/master/dietpi/misc/start_kodi#L34-L40

I'll take a look. Thanks for report :+1:

[2016-08-29 18:42] midwan commented on #474
Not a bad idea, as long as the user is still able to use higher resolutions if they want to.
For example, I use my Workbench at FullHD resolution - it's great for working on graphics apps, coding, multitasking, etc.

For games, you certainly don't need more than 480p of course.

On another matter, there seems to be a bug in Raspbian installations which makes the Scroll Lock key non-functionaly (th

[2016-08-29 18:53] Fourdee commented on #477
@ThomasKaiser

Ok, so lets break theses links and posts down. Your findings are:
1. In your opinion, Sysbench is crap.
2. Sysbench results can be varied, depending on the compiler options used to create the Sysbench binary. One could say, to ensure "accurate results" across same CPU architectures, you should compile the binary yourself and use that binary on each tested device.
3. Comparing benchm

[2016-08-29 21:25] WolfganP commented on #448
@Fourdee Looking at your instructions, I think it's easier to install (and keep updated) via git

[code]

Anyways, I assume that the way to access the Dashboard is via a desktop browser and http://raspi-ip:9090 ?

[2016-08-30 00:56] 467815891a commented on #484
Thanks for reply, I am very appreciated for your work!

[2016-08-30 09:20] Fourdee commented on #448
@WolfganP

Yep.
We prefer to download the zip instead of using git clone in `dietpi-software`. Reason being additional packages are required to use `git clone`.

Yep, thats the plan. I think the current port is 8080, but this may change.

[2016-08-30 10:57] #485 closed, assigned to Fourdee

[2016-08-30 10:57] Fourdee commented on #485
Final profiles:
![image](https://cloud.githubusercontent.com/assets/7077026/18086683/fdbf9c2e-6ea8-11e6-9d4a-f8d8cf896583.png)

[2016-08-30 11:06] Fourdee commented on #474
@midwan

As far as I can tell, the emulator supports max 768x270 resolution via GUI. I did try raising these to 1080p (1920x1080) in `autostart.aue`, but locked up emulator on start. Maybe I missed something?
480p is 858x480p, so still higher than max uae4arm rendering resolution.

The RPi always outputs at 1080p, but the framebuffer size determines internal rendering (actual visible) resolution.

[2016-08-30 15:11] joaofl commented on #392
Its a great tool. Have tested on my odroid xu4 running Dietpi. Tested quiet a lot of tools: admin pages for ProFTP Server, Apache, MySQL, bandwidth monitor (only tested on eth0. Requires rsyslog package). Everything I've tested is working so far.

Very easy to install and configure:

Depends on:
apt-get install perl libnet-ssleay-perl openssl libauthen-pam-perl libpam-runtime libio-pty-perl apt-sh

[2016-08-30 15:44] midwan commented on #474
The config window is hardcoded to show at a specific resolution, but the actual Amiga screen that opens up is not, at least if you use Picasso96. If you use the Picasso96 RTG drivers from Workbench, you can open up a screen up to the maximum resolution your host system provides (1080p in the case of Pi).

FYI: Amiga PAL is 720x576 with overscan for example. Normal "HighRes" is 640x256 and that's w

[2016-08-30 17:03] Fourdee commented on #474
@midwan

Excellent :+1: I'am still yet to spin up workbench, successfully hehe :)
Configuration for the RPi framebuffer?

This will set RPi framebuffer to 480p

[code]

1080p if you want to return to this.

[code]

[2016-08-30 18:37] Fourdee commented on #484
@467815891a

Yep, seems the workaround is no longer needed. Possibility added to Kodi binary.

I'd appreciate it if you can confirm this update has resolved the issue.
Please run the following command:

[code]

Then launch Kodi from your desktop, followed by exit.

[2016-08-30 18:55] Fourdee commented on #474
Note to self:
Move and symlink `conf/`` to userdata dir. Basically means uninstall = No loss of saved configs.

[2016-08-31 00:34] joaofl opened #487 "External USB3 hard drive reset"
I'm use a XU4 with USB3, connected to a WD Elements of 2TB external HD. It happens that, whenever it gets stressed, it sporadically resets, together with an audible "tick" coming from it (what causes bad blocks, low life span, and consequently data loss).

Searching around, the best clue I found was this:
http://forums.debian.net/viewtopic.php?f=7&t=117061
due to a bug with the driver of the conve

[2016-08-31 01:29] joaofl commented on #487
Sometimes I get what seems to be some bad blocks:

[code]

[2016-08-31 10:25] Fourdee commented on #487
@joaofl

Sounds like power requirements for the USB drive are not being met at load:
- Whats the amp rating of the drive (eg: 750ma)?
- 2.5 inch or 3.5 inch external drive?
- Host (USB) powered or dedicated PSU?
- PSU used on XU4?

I'am compiling the 4.7 tobetter kernel now:
http://odroid.com/dokuwiki/doku.php?id=en:xu4_building_kernel
https://github.com/tobetter/linux/tree/odroidxu4-v4.7.

As you

[2016-08-31 11:31] Fourdee commented on #414
I've compiled and hosted the tobetter XU4 4.7.0 Kernel

Notes:
- Cloudshell display not functional
- Network throughput:
  - 23MB/s Read
  - 33MB/s Write

To install on DietPi:

[code]

[2016-08-31 11:32] Fourdee commented on #487
@joaofl
I've compiled and hosted the tobetter 4.7.0 kernel (instructions https://github.com/Fourdee/DietPi/issues/414#issuecomment-243736813). Looks good here
![image](https://cloud.githubusercontent.com/assets/7077026/18127235/032fef96-6f77-11e6-8b23-7f12c01c9298.png)

[2016-08-31 11:40] Fourdee commented on #472
Marking this as completed. Please reopen if required.

[2016-08-31 11:41] Fourdee commented on #484
Tested and working for me on RPi3.

@467815891a I'll mark as closed, please reopen if required.

[2016-08-31 11:41] #484 closed, assigned to Fourdee

[2016-08-31 12:06] Fourdee commented on #477
[code]

No heatsink. Thermal throttling is working correctly:
- Drops clocks to 816mhz @ 70'c.
- Drops clocks to 720mhz @ 75'c

Running stable 30+ minutes.

[2016-08-31 14:04] ThomasKaiser commented on #477
The problem is most probably located between heatsink and board. I wrote I used FA's heatsink. This one does a great job since it spreads heat away from SoC through the thermal pad. All other PCB components around get less airflow and are therefore more prone to overheating than before.

Please touch [U7](http://forum.armbian.com/index.php/topic/1781-debian-vs-ubuntu-on-nanopi-neo/?p=13886) nearby

[2016-08-31 14:25] joaofl commented on #487
@Fourdee thanks for the responsive and efficient support.

from "lsusb -v" I get MaxPower 224mA

2.5, host powered, with the original 3A power supply from hardkernel. From some forums, I saw people  able to power their external hd from the host usb with no problem. There are some issues related to dirty on the USB3 pins on the connector, but I have cleaned them to make sure.
I tough it was current

[2016-08-31 14:48] joaofl commented on #414
Just tried it remotely, but it did not reboot. Maybe I need a hard reset?

A doubt is: when I run  "apt-get autoremove --purge -y" it removes the uboot. Is that supposed to happen? Or just by extracting the package I'm already replacing it?

I'm afraid I've killed it. Later today I'll unplug and plug it again to check it it's heart beats, and how to possibly bring it alive again.

[2016-08-31 15:46] Fourdee commented on #477
@ThomasKaiser

:+1:

Your right, i'd say U7 runs 25'c+ hotter than what the H3 is throwing out.

![image](https://cloud.githubusercontent.com/assets/7077026/18135621/6c8b5f0c-6f9a-11e6-8de2-a5ce3d12b042.png)

I attached a heatsink to H3 and U7 with thermal adhesive tape
So with heatsink on the H3, thermal throttling occurs:
- 1008Mhz @ 65'c
- 818Mhz @ 70'c
  Levels out around 68-72'c

But touching

[2016-08-31 16:08] Fourdee commented on #487
@joaofl

I just tested my 750mA drive powered down, idle, then with a file copy. I get same results each time:

[code]

https://www.amazon.co.uk/Elements-Portable-External-Drive-WDBU6Y0020BBK-EESN/dp/B00D0L5BH8
They claim its USB2.0 compatible so its <=500mA, but i'd imagine its higher than 224mA when active.

The current HK PSU is 5v/4amp? I had unstable issues with that PSU and had to change it

[2016-08-31 16:25] Fourdee commented on #414
@joaofl

It should reboot fine.

Its a tools package, so it shouldn't be required:
https://packages.debian.org/jessie/u-boot-tools

The extracted zip will replace the files and kernel image packages we removed earlier.

I'll look into it and see if i can replicate the failed reboot.

[2016-08-31 16:42] Fourdee commented on #414
@joaofl

Seems to work fine for me.
From 3.x kernel installation, I ran same commands https://github.com/Fourdee/DietPi/issues/414#issuecomment-243736813. Boots to 4.7 straight after reboot.

If its not working after a hard power cycle, try removing the USB drive, then power on again.
Failing that, plug SD card into PC and send a screenshot of `/boot` folder contents please, showing size/modified

[2016-08-31 16:51] joaofl commented on #414
@Fourdee
Follows the screenshot. It did not boot with or without the hd.
At a certain point it was replying pings, but not accepting ssh. Without the hd, none of both worked.

![selection_001](https://cloud.githubusercontent.com/assets/8092452/18139644/40f90d3e-6faa-11e6-94d5-a2f1b7686103.png)

[2016-08-31 17:45] joaofl commented on #414
Does that mean that kernel did not get replaced properly?

[2016-08-31 17:51] Fourdee commented on #414
@joaofl

Possibly, was that screenshot taken on a Linux machine?

Any output/errors on HDMI?

[2016-08-31 17:59] midwan commented on #474
Confirmed: user can switch resolution normally within the emulation, even to higher ones than 480p when the framebuffer is set to such.

So we can add that modification as well.

I've located a bug in uae (or perhaps it's Raspbian) with the CapsLock/NumLock keys. If you start the emulation from a console (i.e. no X is loaded) then those keys do not respond as expected (Caps Lock does not turn on t

[2016-08-31 18:04] Fourdee commented on #474
@midwan

Xinit should work for this, creates a X instance, for the program command following it, try (from term, no desktop):

[code]

[2016-08-31 18:08] joaofl commented on #414
Screenshot from a Linux Mint 18

Here is the output from the hdmi. It fails with the dev-mmcbl1...
Maybe I had the file permissions messed up.

![img_5805](https://cloud.githubusercontent.com/assets/8092452/18140567/0241311c-6fae-11e6-87dd-38e7ba769182.JPG)

[2016-08-31 18:15] midwan commented on #474
It does indeed! Thanks for that!

Now I can cleanup the code a bit, finally!

[2016-08-31 18:17] Fourdee commented on #474
@midwan
Excellent.
I'll create a script to detect if `xinit` needs to be run, then add to the `uae4arm-rpi` service.

[2016-08-31 18:33] Fourdee commented on #414
@joaofl

Partition 1 (`/boot`) is fat16/32, so no permissions are possible on that filesystem. Basically a "anyone is welcome" filesystem lol

Return the XU4 to the screenshot state.
Type in your password (eg: dietpi), then run command below and take another shot:

[code]

In the mean time, i'll zip up a 3.x\* kernel you can unzip to SD card and hopefully return this to working order.
Notes to sel

[2016-08-31 18:50] Fourdee commented on #414
@joaofl

Revert back to 3.x:
- Download http://dietpi.com/downloads/testing/XU4_3.x_joaofl.7z
- Extract it on your Linux Mint machine, anywhere.
- Plug in the XU4 SD card on your linux machine
- From the extracted files, copy `boot` folder to the SD cards 1st partition (fat).
- From the extracted files, copy `lib` folder to the SD cards 2nd partition (ext4).

If you are unsure, do NOT do any of th

[2016-08-31 18:50] midwan commented on #474
👍 Awesome!

[2016-08-31 18:54] joaofl commented on #414
@Fourdee

Is it an attempt to save my previous machine, or you want to test something?
Because if it is for restoring my stuff, no worries, I can start a new one with no harm (good chance to clean the junk).

If you want to test something, let me know and I follow the steps.

[2016-08-31 19:43] Fourdee commented on #414
@joaofl

Bit of both.
Be nice to find out if reverting back to 3.x resolves the issue. Could indicate an issue with SDcard support on 4.7.

Either way, fresh install never fails :+1:

If you do get a chance and want to test further:
Do a fresh install, run through the DietPi initial setup and install nothing extra, then try 4.7 again: https://github.com/Fourdee/DietPi/issues/414#issuecomment-24373

[2016-09-01 10:18] ThomasKaiser commented on #477
I don't know. I can only do some testing and hope to learn in the meantime to document everything that's necessary for more knowlegeable people like me (when it comes to electronics) to draw the right conclusions. Maybe it's the result of a combination of more than one issue and it's FA's issue anyway. We're happy with the 912 MHz max already and in case Armbian users want to push the envelope the

[2016-09-01 12:35] Fourdee commented on #474
@midwan

#### Updates:
- Fix cap/num lock keys.
  Updated uae4arm service to run a script, which checks and launch `xinit` if no Xserver is currently running: https://github.com/Fourdee/DietPi/blob/c6eda6633ba96eb43601ad0a5ece0c9ea825fc8a/dietpi/dietpi-software#L5685-L5699
- Xserver now installed with AmiBerry installation (for `xinit`)
- `conf` folder now moved to user_data folder. User created c

[2016-09-01 12:50] ghost opened #488 "DietPi C2 | fdisk utility cannot create a partition table > 2 TB."
I have a 4 TB external hard drive hooked up to Odroid - C2. When formatted only 2 terabytes are available. Some research illuminates that technically the fdisk utility cannot create a partition table larger than 2 TB.

Technical details

The solution is to use GNU parted command with GPT. It supports Intel EFI/GPT partition tables. You
must include GPT support in kernel in order to use GPT. If you

[2016-09-01 13:16] ghost commented on #487
In general the if hard drive is physically failing it can pull more power causing symptoms as described. Most likely it is insufficient power supply feeding the board as already stated.

[2016-09-01 14:45] joaofl commented on #487
You guys were right, it was caused by lack of current. But what is strange is the fact that it was working smoothly for almost one year now... It may be some aging issues.

I had one of this 10A [power supply](http://www.aliexpress.com/item/Hello-Fish-5V-10A-50W-Led-Strip-Light-Transformer-5V-Switching-Power-Supply/32607035187.html?spm=2114.01010208.3.10.JpgLYp&ws_ab_test=searchweb201556_0,searchw

[2016-09-01 14:45] #487 closed, assigned to nobody

[2016-09-01 15:41] ghost commented on #168
I'll continue to make crack at it you can leave me what you have done thus far...
Really I see the script is something maybe to be used beyond Seafile CE. It could be used as a standard set up server applications behind a reverse proxy with secure settings per application. This would obviously grow as we have time to incorporate best practice and server applications.

While I can work on puzzling

[2016-09-01 15:52] ghost opened #489 "DietPi-Software C2 | Fail2Ban blocks SSH access by default."
The current set up of Fail2Ban seems to be blocking SSH access upon install on C2.
Uninstalling Fail2Ban resolves the issue. If you need more details ask.

[2016-09-01 18:05] Fourdee commented on #489
@Zone22
Will take a looks, thanks for reporting :+1:

[2016-09-01 18:07] Fourdee opened #490 "DietPi-Software | Explain how to add new installations to the sourcecode (for contributors)"
As per @zone22's suggestion: https://github.com/Fourdee/DietPi/issues/168#issuecomment-244120375

[2016-09-01 18:08] Fourdee commented on #168
@Zone22

I have no idea what state my notes are in. So it would probably be best to start from scratch, but here they are:

[code]

Excellent idea, i'll sort that out :+1:

[2016-09-02 07:02] thehijacker commented on #339
Couldn't wait. I have all four apps running on my DietPi server. If you need any tips on how to run them, let me know.

[2016-09-02 10:05] Gravesy83 commented on #339
Personally it's more about not having to tinker with it on my own minimal install images than anything else, so i'll gladly wait for the day this gets implemented on DietPi, in the meantime i'll just use these on a seperate server.

@blindpet : I always compile from source when not using a plug and play setup, i'm simply too used to stuff breaking whenever i didn't (back when Linux was still the n

[2016-09-02 10:27] rhkean commented on #339
sorry guys, work and family obligations keep consuming me.  I'll get to this as quickly as I can

[2016-09-02 10:39] blindpet commented on #339
@Gravesy83 my installer pretty much runs all stuff from source or uses the official repos (in the case of sabnzbd and nzbget). I've spent a lot of time on similar issues you have described so the installer practically eliminates these issues. For example you can update everything from the github source from within the respective service's web interfaces.

@rhkean if you do use my installer's code

[2016-09-02 11:09] Fourdee commented on #474
@midwan

I think we are nearly there?
Lets try and get this finished up for v130, if i've missed any, please let me know:
- :u5408: Optional: Installation for other devices (eg: Odroids). We can do this after v130 is released. Possibly add it in for v131 if you are up for it? I can test on all devices, code it into DietPi etc, I just need the compiled binaries.
- :u55b6: Issue/bug: autostart.aue d

[2016-09-02 11:24] midwan commented on #474
Yes, I think we're quite close. I've been busy making (small) modifications to uae4arm, in order to fix a few things:
- It now opens the config window in a resolution just enough for the GUI dimensions, instead of duplicating whatever screenmode you had. So you can boot your console to 1080p for example and the GUI will still open up at 480p to display. This looks nicer and is also faster (more re

[2016-09-02 12:04] rhkean commented on #339
I'll try to take a look at your stuff, but I already have combined scripts to install everything (sonarr, nzbget, couchpotato, & headphones) on top of DietPi.  I just have to separate them out for individual installs and remove my personal customizations (like different port numbers).  They also take steps to safely install the python 2.7 packages without stepping on python 3 stuff.

but, rest ass

[2016-09-02 12:48] Fourdee commented on #474
@midwan

Yep, 2 options:
- Netinstall: DietPi image with the automated installation flags pre-setup in`/boot/dietpi.txt`.
  - :u6307: Everything is installed and configured automatically on first run with no user inputs.
  - :u6307: The image will always update to latest DietPi version on 1st run, so, we will never need to update the image itself.
  - :u55b6: Requires a network connection for the

[2016-09-02 12:57] midwan commented on #474
The Netinstall option sounds great, how do we go about preparing that? It would be great if I could test the whole thing on my side, from start to end.

For benchmarking, I opted to use a tool from within the emulator that does a variety of tests, including low level stuff (like CPU, Memory, Disk speed, Graphics) but also real-life application performance, using some well known applications to per

[2016-09-02 13:15] Fourdee commented on #474
Doing image now , will post link when up.

Excellent :+1:  i'll take a look

[2016-09-02 14:08] Fourdee commented on #474
@midwan

#### Ok, steps for automated installation image:
- Download image: http://dietpi.com/downloads/images/DietPi-AmiBerry_RPi-armv6-(Jessie).7z
- Write image
- Set testing branch: (As we are still in testing. This wont be needed once v130 is released)
  - Open `/boot/dietpi.txt` and change `gitbranch=` to `gitbranch=testing` (bottom of file).
- Plug in Ethernet, OR optionally set WiFi in `/bo

[2016-09-02 14:31] Fourdee commented on #489
Had a RPi 3 testbed setup, was unable to replicate with:
- rpi 3
- dropbear

Will test C2.

@Zone22
Which SSH server did you have installed?

[2016-09-02 14:50] Fourdee commented on #489
@Zone22

Working fine on C2 + OpenSSH for me.

#### On a fresh boot, with fail2ban just installed and unable to login over ssh:

What is status of service:

[code]

And logfile contents:

[code]

[2016-09-02 14:51] midwan commented on #474
Great, I'll test this as soon as I can!

[2016-09-02 15:03] ghost commented on #489
@Fourdee
I'm backing up the SD card to an image. Then I will reimage a fresh install and report back soon.

[2016-09-02 15:57] ghost commented on #489
Actually I get a crash upon reboot during install which I didn't notice Because the C2 wasn't hooked up to a monitor. Which gave the appearance of Fail2Ban blocking SSH when it was a system crash. After a hard reset everything functions as expected. I've sent a bug report linking back to this post so you have all the logs.  Reference CODE: f794c177-1044-4061-9246-f53665a51567-0

Replication proced

[2016-09-02 16:02] Fourdee commented on #490
@zone22

## Adding new software to DietPi-Software.

### For this example we will add Owncloud to DietPi-Software:

To get a full list of current DietPi-Software installation options:

[code]

#### Obtain a unique installation Index for this software:

Run the following command, make a note of this number.

[code]

A unique Index of `47` will be used in this guide.

#### Choose a category index fo

[2016-09-02 16:19] #490 closed, assigned to Fourdee

[2016-09-02 16:37] Fourdee commented on #489
@Zone22

Unable to replicate the crash. Everything working.
I just wondering if the image may be corrupt, i'll run a fscheck on image.

EMMC or SD?
Official HK PSU?

[2016-09-02 16:44] Fourdee commented on #489
Image checks out fine, I run it prior to image resize. Terminal error is due to vfat (partition 1) not supporting fscheck:
![image](https://cloud.githubusercontent.com/assets/7077026/18211289/dc42db72-7134-11e6-9c01-2cf0c8503198.png)

Partition 1:
![image](https://cloud.githubusercontent.com/assets/7077026/18211442/74d809f2-7135-11e6-9979-a8f311a0b3a0.png)

[2016-09-02 16:54] ghost commented on #489
EMMC or **SD** a class 10 Samsung
As for the power supply I think that might be our problem although I need to test. I had thought my Motorola charger was to DC 5Volt / 2A output when indeed it is DC 5Volt / 1,150 mA = 1.15A.

I wonder if there's some sort of stress testing tool for ARM (like prime 95 but for PC) that could be integrated into DietPi-launcher. That would be useful for ferreting out

[2016-09-02 17:39] Fourdee opened #492 "DietPi-Config | Add Stress Test"
As per @zone22's suggestion: https://github.com/Fourdee/DietPi/issues/489

Tests for stability. Must test:
- CPU
- Filesystem IO
- RAM

[2016-09-02 17:39] Fourdee commented on #489
Yep, highly possible cause.

@Zone22

Stress Test. A really really good idea, great suggestion! :+1: https://github.com/Fourdee/DietPi/issues/492

[2016-09-02 17:41] ghost commented on #391
Is it available on arm64?

[2016-09-02 21:40] midwan commented on #474
I've just finished cleaning up and compiling new binaries for the emulator. I run several benchmarks and they all work well, no problems in any operations and they seem slightly faster than the original builds from Chips-fr. Not a huge difference, but still... :) The biggest difference seemed to be in some graphics operations, probably due to the NEON optimizations for the Pi 3 vs the Pi 2 process

[2016-09-03 07:52] ghost opened #493 "Embed Gitter into README.md"
Gitter is a chat and networking platform that helps to manage, grow and connect communities through messaging, content and discovery. Utilize Gitter https://gitter.im/ on DietPi Github page.

[2016-09-03 08:07] midwan commented on #474
I'm testing the image today. I run across one problem early on:
- The WiFi doesn't seem to work at first boot. I enabled it in the dietpi.txt as per your instructions, but it didn't seem to connect. During boot, I got several "Testing connection to http://mirrordirector.raspbian.org/raspbian/" messages, and after 20 attempts it stopped with a "Connection test failed".
- After manually rebooting, i

[2016-09-03 11:29] Fourdee commented on #474
@midwan

Which:
- Raspberry Pi Model (eg: 3)?
- WiFi device (eg: Onboard RPi3, or, edimax USB nano wifi)?
- WiFi country code (eg: what country you are currently living in)?
- WiFi channel used by your router (eg 1-13)?

The `/etc/uae4arm-rpi/conf` folder is symlinked (points to) `dietpi_userdata`:

[code]

This works. It only seems to be Uae4arm's ability to browse symlinks within the GUI that is

[2016-09-03 11:45] midwan commented on #474
I'm testing this on a RPi3, with the builtin Wifi. Sorry I didn't mention it before. :)
Wifi details:
- Country: Sweden
- Channel: 9

This only happened during the first boot after flashing the image. Ever since I rebooted (after the initial failure), the Wifi works.
- Conf folder:
  You're right that the conf folder is symlinked, I was referring to the `adfdir.conf` file contained there. It conta

[2016-09-03 12:29] Fourdee commented on #474
@midwan
HDF folder now symlinked during installation:

[code]

`autostart.uae` updated in uae4arm-rpi_v1.zip
NB: I had to re-enable the GUI: `use_gui=yes`

[2016-09-03 12:31] midwan commented on #474
Doh, sorry about the GUI, I forgot to change that back. :P

[2016-09-03 12:58] Fourdee commented on #474
@midwan

I'll test WiFi installation, see what went wrong.

Done, updated zip. `config_path=` will be set to userdata directory during installation.

#### Performance

I've also noticed the internal resolution set in uae4arm plays a major factor in framerates. In elite low framerates were 720x270 @ 5fps, 320x200 was about 30fps.
Whats a low resolution that would be good for most games (ideally to

[2016-09-03 13:28] Fourdee commented on #474
@midwan
Fixed WiFi, I'll need to create an updated image. Will let you know when its up.

[2016-09-03 13:33] midwan commented on #474
Great news!
And I've made some progress with the Pi Zero version, I'll try to compile it soon to see if it works with Picasso96 support now.

[2016-09-03 14:08] Fourdee commented on #474
@midwan
Excellent :+1:

Ok, image updated: http://dietpi.com/downloads/images/DietPi-AmiBerry_RPi-armv6-(Jessie).7z
Tested with WiFi installation, working great :)

I've updated the steps to set WiFi before booting (added WiFi country code): https://github.com/Fourdee/DietPi/issues/474#issuecomment-244384847. Very important, enables higher WiFi power and channels for selected country.

I'll add th

[2016-09-03 14:18] midwan commented on #474
Great work with the WiFi, I'll test the fresh image a bit later again.

Regarding resolution: The emulator should switch resolution according to what is requested, between HighRes, LowRes, their Laced equivalents and of course, Picasso96 modes. Did you see anything different that I'm missing? Or did I misunderstand your question?

[2016-09-03 14:30] midwan commented on #474
More good news: The Pi Zero officially has Picasso96 support now! 🏆

[2016-09-03 14:32] midwan commented on #474
I've just uploaded the current binaries in the Dropbox folder.
The known bug with the keyboard I mentioned is still there however. If I manage to fix it, I'll post an update here.

Edit: I just noticed that Chips-fr has added some changes, I'll merge those in and re-deploy the binaries in a bit.

Edit2: Ok, uploaded.

[2016-09-03 15:19] Fourdee commented on #474
@midwan

Yep, I found the framerate visually improved (roughly x2+) when using 320x256 in elite II, compared to 640x256. I'll need to run some GFX benchmarks to verify, but its certainly faster.
Most likely, rendering interlaced lines uses up as much render time, as the ones without?

Great stuff, `autostart.uae` now loads inputs automatically on 1st run!!!!! :+1: :+1:

EDIT:
Silly question, what

[2016-09-03 16:15] ghost opened #494 "DietPi-Software | UrBackup Server and Client"
The Server has Arm and Arm64 builds

UrBackup is an easy to setup Open Source client/server backup system, that through a combination of image and file backups accomplishes both data safety and a fast restoration time.

File and image backups are made while the system is running without interrupting current processes.

UrBackup also continuously watches folders you want backed up in order to quick

[2016-09-04 09:40] Fourdee commented on #391
@Zone22
Yep its disabled for ARM64: https://github.com/Fourdee/DietPi/blob/testing/dietpi/dietpi-software#L744
Gogs do not currently offer the ARM64 binary as a download: https://dl.gogs.io/

[2016-09-04 10:32] Fourdee commented on #493
@Zone22
Great idea, but i'am not sure at the moment.
If this will help reduce the time I have to spend supporting our users across multiple sites, i'am all in. But at the moment I have enough on my plate keeping these monitored and providing replies:
- Git
- Forums: http://dietpi.com/phpbb/
- RPi forum: https://www.raspberrypi.org/forums/viewtopic.php?f=63&t=100976
- C1: http://forum.odroid.com/vi

[2016-09-04 10:52] Fourdee commented on #494
@Zone22
Looks good :+1:  i'll take a look in v131.

[2016-09-04 10:54] Fourdee commented on #489
@Zone22
I'll mark this as closed due to 1A~ PSU. Please reopen if required.

[2016-09-04 10:54] #489 closed, assigned to Fourdee

[2016-09-04 11:31] k-plan commented on #493
@Fourdee

No, I think it will enlarge support effort.

It is   currently  more when we can fulfill.

But gitter is nice for chatting with other DietPi supporter and developer. (closed group)

[2016-09-04 11:42] Fourdee commented on #492
`dietpi-config` > tools > Stress Test

[code]

![image](https://cloud.githubusercontent.com/assets/7077026/18230739/0fae42d0-729d-11e6-80b1-4bd603d1e3f0.png)

And it works, just killed my overclocked RPi 3 lol

[2016-09-04 11:59] #492 closed, assigned to Fourdee

[2016-09-04 12:43] k-plan commented on #492
@Fourdee

nice work! 😄  👍

_**Testing result on NanoPi NEO:**_

![160904-0006](https://cloud.githubusercontent.com/assets/17237601/18231023/47be5592-72ad-11e6-8c32-1713a9336cf6.gif)

![160904-0005](https://cloud.githubusercontent.com/assets/17237601/18231027/525e58b2-72ad-11e6-8b4c-3c16017b3cd9.gif)

![160904-0003](https://cloud.githubusercontent.com/assets/17237601/18231028/5e1c6536-72ad-11e6-8e3

[2016-09-04 13:29] k-plan opened #495 "DietPi-Software | OMV Open Media Vault"
_Please note:_
https://en.wikipedia.org/wiki/OpenMediaVault#Release_history
- _Current openmediavault v2.2.6 (Stone Burner) only  support Debian 7 (Wheezy)_
- _Next version openmediavault v3.x (Erasmus) will support Debian 8 (Jessie), but it is still in beta for now ..._

[2016-09-04 14:45] Fourdee commented on #448
@tr0yspradling
Looks like you deleted your repo for this? https://github.com/tr0yspradling/DietPi-Dashboard

Heres the C++ version i've started: https://github.com/Fourdee/DietPi-Dashboard
Managed to pull all the DietPi-Software data into c++. Can now install software from it. Time to start on the web side.

[2016-09-04 16:49] Fourdee commented on #474
@midwan

Unless we have any further changes to make, lets run some final tests and get this released:
- :u6307: Automated installation test using DietPi-AmiBerry image (http://dietpi.com/downloads/images/DietPi-AmiBerry_RPi-armv6-(Jessie).7z) + set WiFi to test both at same time (RPi 3).
- :u6307: Manual installation test using DietPi standard image (http://dietpi.com/downloads/images/DietPi_RPi-a

[2016-09-04 18:13] Fourdee commented on #474
@midwan
All tests completed. We are good to release at the current state, just need your confirmation.

[2016-09-04 18:28] Fourdee opened #496 "Emby won't install on XU4 DietPi v129"

[2016-09-04 18:42] midwan commented on #474
Awesome!
I'm working on fixing that bug in uae, but I assume we can always push it
out later with an update?

What did you think about the resolution? Wasn't the window placed on the
top left corner of you screen when starting it with xinit?

On Sep 4, 2016 20:13, "Dan" notifications@github.com wrote:

[2016-09-04 18:57] Fourdee commented on #474
Yep, we can patch users system with any updates in the next DietPi release (v131).
If all goes to plan, v130 will be released tomorrow. So if you manage to get that bug fixed before hand, just let me know and I'll try and get it added before we release.

I tested both 640x256 and 320x256 from autostart, full screen and seems fine. I have not tested via a Desktop. I'll run that test tomorrow just t

[2016-09-04 22:08] midwan commented on #474
I've finally located the source of the bug, and working on a solution now. I might manage to fix it before tomorrow, so I'll let you know after I've tested it.

Regarding the resolution, here's what I saw:
- If you start uae4arm using xinit, then it opens at a resolution identical to your framebuffer (or X). Since the GUI is now changes to take up only as much as it needs, if the resolution is hig

[2016-09-05 10:50] Fourdee commented on #474
@midwan

Excellent, i've updated zip and reinstalled, working well.

Yep confirmed. GUI size/location is affected by framebuffer size when running under X.

Yep. If the user selects any uae4arm autostart option in `dietpi-autostart`, DietPi will set 480p for framebuffer automatically.

Caps lock LED is only working for me when using `xinit`.  I think for now, we keep the `xinit` launch. We can alw

[2016-09-05 11:07] midwan commented on #474
Thanks for confirming the resolution issue. I agree that we should stick with the xinit method for now, until we get it working without that need later on.

How did you get to the black screen problem? Just normally exiting the emulation with F12 - then Quit?
Does it happen consistently?

If you can give me some steps to recreate this, we might figure out what's happening...

[2016-09-05 11:39] Fourdee commented on #474
@midwan

Yep, so on a fresh install of the DietPi+AmiBerry image run (use another SDcard):

[code]

When on the desktop, open System > LXterminal run:

[code]

When uae4arm GUI pops up, click the Quit button. Black screen everytime. At least on my RPi 3.
I believe it has something to do with uae4arm changing the resolution causing framebuffer to be "lost".

I tried the above fix mentioned by dom p

[2016-09-05 12:44] Fourdee opened #497 "DietPi-Config | Add RPi OpenGL driver"
As title. OpenGL support.

[2016-09-05 13:49] midwan commented on #474
OK, one more question: Is this a problem with the latest uae4arm build only as far as you know?

[2016-09-05 14:04] Fourdee commented on #497
available in:
dietpi-config > display > resolution

tested with `glxgears`: 60fps woop woop! 24fps on fb

tested with `/usr/games/neverball`
`apt-get install neverball`

[2016-09-05 14:04] #497 closed, assigned to Fourdee

[2016-09-05 14:32] Fourdee commented on #474
@midwan

I'll reserve v131 for AmiBerry hotfixes/bug fixes. So anything that doesn't make it into v130, we can release it in v131 within a day or two if needed.

I'am a bit annoyed with the desktop + uae4arm = black screen on exit. But the DietPi+AmiBerry image users will be fine. So i'am not too concerned at the moment.

@midwan
I'll do a last pass on the DietPi-AmiBerry image installation and te

[2016-09-05 14:33] Fourdee commented on #474
Only tested with the latest binary you uploaded last night. Do you have any RPi 3 previous binaries I can test?

[2016-09-05 14:36] midwan commented on #474
I'll have to test the issue you mentioned when I'm home a bit later.

You should be able to see the earlier versions of the binaries from your Dropbox folder, using the History?
If you can't, let me know and I'll locate an earlier version to test with.

[2016-09-05 15:06] Fourdee commented on #474
@midwan

:+1:
I've tested the 1st uploaded version on RPi 3 (August 17, 2016 | 3MB | latest is 1.4MB~):
:u6307: Exits fine from desktop :+1:

I'll put the release on hold until we can get this fixed. Now we know the issue originates from the binary.

[2016-09-05 17:10] ghost commented on #493
I think if you were to purposely drive communication from the various Forums to Gitter you could actually decrease the support effort. If you only use the Forums for posting information and only offering support through Gitter and Git. Although at the end of the day you guys should do what you think is best.

If you guys wanted to create a developer and supporter group using  [Slack](https://slack

[2016-09-05 17:56] Fourdee commented on #493
@Zone22

Good point :+1:

I'll set Gitter up and give it a spin :)

[2016-09-05 18:05] Fourdee commented on #495
Erasmus binaries: http://packages.openmediavault.org/public/dists/erasmus/main/

[2016-09-05 19:49] midwan commented on #474
Thanks for that info. It shouldn't be hard to find what's causing this then, I'll start looking into it now.

[2016-09-05 20:37] midwan commented on #474
Interesting: I followed your instructions to recreate the problem, and I noticed something:

uae4arm is already running by the time you start into LXDE, with the service. If you open htop you'll see it in the top taking up 99% of CPU time.

Are you aware of that and did you stop it before re-running it?

**Edit:** it doesn't solve the issue of course. ;)
I also noticed that the problem is only app

[2016-09-05 20:54] midwan commented on #474
Bug fixed. :)

I'll compile and deploy updated binaries for all versions as soon as I test this in a few more scenarios.

**Edit:** New binaries in Dropbox. I've included a SHA-256 checksum file for the archive, to help keep track of each version since they have the same name. Let me know if that helps or if you prefer another method.

Changes in this build:
- Restored the screen opening to the pr

[2016-09-06 12:48] Fourdee commented on #474
@midwan

Ah yes, lol, this is because I didn't set the autostart option correctly (`echo 2 > /DietPi/dietpi/.dietpi-autostart_index`). This doesn't disable the uae4arm-rpi service. Should of been `/DietPi/dietpi/dietpi-autostart 2`. But good spot :+1:

Excellent work :+1: :+1: . Exits to desktop perfectly :dancer:

@midwan

#### Ok, few last questions:
- Default keys for keyboard as a joystick, fr

[2016-09-06 13:10] midwan commented on #474
@Fourdee you're right on the default keyboard layout.

Regarding the floppy emulation: higher speed will work fine in may (most?) cases, except the weird ones which expected the floppy speed to be fixed and had hardcoded stuff based on that. I don't think there are many such cases, but there could be some demo/game that has a problem with a faster floppy speed.

Of course, it can always be changed

[2016-09-06 15:13] Fourdee commented on #474
Excellent, I've set floppy speed `800%` by default in the `autostart.uae`:
- Updated zip
- Updated doc: http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=64#p64

Excellent, let me just check everything is wrapped up my end, then I'll send the merge to master branch. May be a couple of hours, but i'll let you know when v130 is released. Then you can release the image to public :)
:u6307: Final instal

[2016-09-06 15:48] Fourdee commented on #474
@midwan
All done, v130 is released.
The DietPi-AmiBerry installation image can now be used: http://dietpi.com/downloads/images/DietPi-AmiBerry_RPi-armv6-(Jessie).7z

#### Final instructions for users of the automated installation image:
- Download image: http://dietpi.com/downloads/images/DietPi-AmiBerry_RPi-armv6-(Jessie).7z
- Write image
- Plug in Ethernet, OR optionally set WiFi in `/boot/dietp

[2016-09-06 15:48] #474 closed, assigned to Fourdee

[2016-09-06 17:20] midwan commented on #474
@Fourdee Fantastic! Our work will finally be enjoyed by more people! :)

I'll prepare a proper announcement and post it on the official Amiberry page. I'll keep working on improving uae4arm-rpi, and will let you know when I have new updates that can be pushed to users.

I'd like to return the kind words, it's been great fun working with you as well. Professional, quick to respond and experienced i

[2016-09-06 18:52] midwan commented on #474
For the record, here's the official page: http://blitterstudio.com/amiberry/

[2016-09-06 19:00] midwan commented on #474
One thing that came up from users rather quickly:
- They can't connect with SSH to transfer files, because we don't have the proper SSH Server enabled by default. I know that if you install it from the dietpi menu it works, but it's an extra step which they didn't have to take with other distros.

Could we have that instead of Dropbear enabled when Amiberry is configured?

Question 2: Is it possib

[2016-09-06 19:24] ghost commented on #490
Note to others you can use FTPs to transfer your edited files into an existing Dietpi installs in for testing purposes. An alternative to using your own get repository testing branch.

@Fourdee
What are the files such as DietPi-Software written as?
I would like to set up a debugger but I'm unsure of what language per se to set up for.

[2016-09-06 19:57] jma-9code opened #500 "DietPi-Software | Add Gitlab CE"
Hi,
May be this software package interest some peoples (me included) :
https://about.gitlab.com/downloads/#raspberrypi2

With arm64/aarch64 support for odroid-c2 plz :)

[2016-09-06 20:37] Fourdee commented on #490
@Zone22

Bash / Unix Shell.

As for debugging bash, the only one I know and use is: http://www.shellcheck.net/

[2016-09-06 21:30] midwan commented on #500
This is really good! Thanks for the heads-up!

[2016-09-07 03:17] ghost commented on #500
Me 3

[2016-09-07 04:08] bhaveshgohel commented on #500
The steps provided in the [link](https://about.gitlab.com/downloads/#raspberrypi2) is also work on Pi3. i have tested it on dietpi.

[2016-09-07 09:06] k-plan commented on #474
@midwan

Quick and easy by user:
- edit  the line in `/boot/dietpi.txt` before the first booting to:

  `AUTO_DietpiSoftware_SSHServerIndex=-2`

https://github.com/Fourdee/DietPi/blob/master/dietpi.txt#L47

Some line down. user can as well trigger samba or ftp server installation by first booting.
**_DietPi-Automation_** is one of the coolest feature for setting up by users requirements.
http://di

[2016-09-07 09:18] midwan commented on #474
Thanks for the suggestion, I've added that as a note in the page (and the announcements).

[2016-09-07 12:01] Fourdee opened #501 "DietPi + AmiBerry | Auto usbmount"

[2016-09-07 12:02] Fourdee commented on #474
@midwan

Excellent write up and thanks for all the DietPi mentions :+1:

#

Dropbear SSH server is installed by default. Although its lightweight, it lacks SCP/SFTP file transfer support when compared to OpenSSH server.

Yep no problem. This image can be customized as per @midwan's request.
@midwan If you want this by default for your image, just let me know and I'll update the image with OpenSSH

[2016-09-07 12:06] Fourdee commented on #501
@midwan

#### Q: Are the users trying to:
- Copy their .rom/.adf from a USB drive to the SD card?

or
- Run .rom/.adf directly from an existing USB drive?

or
- Both?

[2016-09-07 12:07] midwan commented on #474
Can we please have OpenSSH installed by default in the dedicated AmiBerry image? It would simplify things a lot, since most users expect to be able to transfer files over via SSH. That's also the case with other similar images (e.g. Amibian, previous version of AmiBerry, etc.)

I've already made a note about existing installations, and even customizing the dietpi.txt for those who want it installe

[2016-09-07 12:09] midwan commented on #501
The most common scenario will be to:
- Plug in USB device which contains ROMs, ADFs, HDFs, etc.
- Copy those on the SD Card for use with the emulator

Many people prefer to get a large sd card (e.g. 8 or 16GB) and store everything in it, so they don't have to plug in anything extra after that.

Of course, the option to have the external USB device used "as-is" is very good, but most users are not

[2016-09-07 12:56] Fourdee commented on #501
#### Notes: usbmount

:u6307: | Existing dedicated USB drive setup with DietPi
- Automatically mounts USB drive as per fstab, when plugged in.
- Mount location is correct `/mnt/usb_1`

:u6307: : | No existing USB drive
- Automatically mounts USB drive to `/media/usb0`

Works in harmony with `/etc/fstab`, great stuff.

[2016-09-07 13:02] Fourdee commented on #501
Notes to self:
Increases filesystem total by 606KB.
Install by default on all DietPi systems?

[2016-09-07 13:16] midwan commented on #501
Please check if you've also got filesystem support available, for FAT16, FAT32, NTFS...

[2016-09-07 13:21] Fourdee commented on #501
Yep. Our image supports vfat/ntfs/ext\* as standard.
However, ntfs isnt enabled by default in usbmount.conf:

[code]

I'll add that in and test ntfs. https://github.com/rbrito/usbmount#the-special-case-of-fuse-filesystems

USBmount + ntfs does not currently work in Jessie, workaround:
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=774149#177

[2016-09-07 13:47] Fourdee commented on #501
NTFS support for USBmount on Jessie, based on: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=774149#177

[code]

Result

[code]

Write test

[code]

And now, just stopped working:

[code]

#

Formatted to NTFS and provided a disk label `test`

[code]

But not visible in `df`

Intermittent results with NTFS.

[2016-09-07 14:35] Fourdee commented on #501
Ok could probably do this with just systemD using auto FStype and automount:

[code]

[2016-09-07 15:19] Fourdee commented on #501
Only downside is:
- Cant use `permissions` mount attribute thats used only by NTFS drives. As this prevents other FS types from mounting (eg: ext4).

[2016-09-07 15:26] Fourdee commented on #501
Done, automount works with:
- NTFS
- VFAT
- EXT*

Also worth noting these changes will help with setting up multiple drives: https://github.com/Fourdee/DietPi/issues/271

EDIT: And this will be patched on users system during v131 `dietpi-update`
EDIT2: And mount locations will be `/mnt/usb_[index]`

[2016-09-07 15:26] #501 closed, assigned to Fourdee

[2016-09-07 15:29] Fourdee commented on #271
Note to self:
Create a system that allows
- uses to add 1 USB drive at a time
- Have that drive formatted if needed
- Use `UUID` to replace `fstab` entry

Max 5 drives with new system.

[code]

[2016-09-07 15:35] Fourdee opened #502 "DietPi + AmiBerry | Use OpenSSH server by default on image"
Requires new image: https://github.com/Fourdee/DietPi/issues/474#issuecomment-245259988

[2016-09-07 15:36] Fourdee commented on #474
@midwan
Ticket for OpenSSH: https://github.com/Fourdee/DietPi/issues/502

[2016-09-07 15:59] Fourdee commented on #502
#### notes:
- Updated from 4.4.16 > 4.4.19 firmware
- Added OpenSSH server flag in `dietpi.txt`
- Tested image installation :u6307:
- Uploaded image download: http://dietpi.com/downloads/images/DietPi-AmiBerry_RPi-armv6-(Jessie).7z

@midwan

Done, new image that will install OpenSSH server by default is available: http://dietpi.com/downloads/images/DietPi-AmiBerry_RPi-armv6-(Jessie).7z

Please not

[2016-09-07 16:00] k-plan commented on #473
.

:smiley:  :+1:

[2016-09-07 16:01] midwan commented on #502
Awesome, thank you for the quick response!

On Sep 7, 2016 17:59, "Dan" notifications@github.com wrote:

[2016-09-07 16:03] #502 closed, assigned to Fourdee

[2016-09-07 16:19] Fourdee commented on #474
@midwan
Not sure if your on twitter, did this tweet: https://twitter.com/DietPi_/status/773555280793698304

[2016-09-07 16:25] midwan commented on #474
Thanks! :)

On Sep 7, 2016 18:20, "Dan" notifications@github.com wrote:

[2016-09-07 17:35] Fourdee commented on #496
Unable to replicate. Installed on XU4 fine. Working web interface.

Will contact user via forum.

[2016-09-07 17:35] #496 closed, assigned to Fourdee

[2016-09-07 17:57] Fourdee commented on #494
notes:
compile needed for ARM64 and armv6

[2016-09-07 18:33] k-plan opened #503 "DietPi-Software | Mode: Automated reinstall ?"
@Fourdee

just updated to v130

[code]

Hmm, new feature?
It it possible to use this for update (Automated reinstall) more installed software, e.g. pi-hole without loosing  approach and data?

Think it is in some cases better when do a `dietpi-software => uninstall` and trigger a brand new installation again.

[2016-09-07 18:57] Fourdee commented on #503
@k-plan

Its mainly for patching purposes and making my life easier ;).
So instead of having to check if the user has program X installed, we can just run `dietpi-software reinstall 108`. If the program is installed, it will run the installation procedure again (over the top of the existing one), effectively updating it.
Its untested on Pihole and other programs at the moment, but yes, thats the i

[2016-09-07 19:26] Fourdee opened #504 "DietPi-Software | Hesk"

[2016-09-08 03:48] bhaveshgohel commented on #473
@k-plan @Fourdee : I just tested yesterday with the latest build fresh install and it work out-of-the-box on RPi3! :smiley:

[2016-09-08 13:49] Fourdee commented on #271
![image](https://cloud.githubusercontent.com/assets/7077026/18351769/67bc3ae8-75d3-11e6-8d13-bececbee9655.png)
![image](https://cloud.githubusercontent.com/assets/7077026/18351772/6c0d006e-75d3-11e6-9ad5-5044eb39009c.png)

[2016-09-08 14:58] k-plan commented on #271
@Fourdee

looks very good! :+1:

Can we get R/W support for FAT16, FAT32, NTFS, EXT2/3/4 and HFS+ ?

[2016-09-08 15:22] k-plan commented on #503
@Fourdee

Cool and very nice implemented. :smiley:

Ask for pi-hole, because you hold a own DietPi fork of it.
Since v.2.9 they have a new update feature:

https://github.com/pi-hole/pi-hole/wiki/Changelog

[code]

So, either user will use this, or better we get something similar to update with your fork and disable `pihole -up` and `pihole -ud`

Otherwise continuous mischief come about. (see upda

[2016-09-08 15:33] Fourdee commented on #271
@k-plan

Already supported on our image by default.

What filesystem is this? lol

[2016-09-08 16:04] Fourdee commented on #271
@k-plan
Initial code is done, it can be run with:

[code]

Going to need lots and lots of testing and debugging with various drives and combinations. If you try it, expect lots of bugs at the moment. So only use on blank drives.

[2016-09-08 16:07] Fourdee commented on #271
Notes to self:
- after format UUID is changed. need to reset /etc/fstab uuid entries if set

[2016-09-08 16:16] k-plan commented on #271
@Fourdee

:smiley:   [hfsplus](https://en.wikipedia.org/wiki/HFS_Plus)

[code]

 But with usb-automount?  https://github.com/Fourdee/DietPi/issues/501#issuecomment-245317621

[code]

But anyway. Please finish your awesome work first, so I will be able to test it. Or do we need a new image version  for this lovely  feature?

[2016-09-08 16:22] Fourdee commented on #271
:+1:
I'll probably add this to our image by default to enable hfs support.

[2016-09-08 16:40] Fourdee commented on #271
@k-plan

Ok i've added hfs+ support to all DietPi images by default:
![image](https://cloud.githubusercontent.com/assets/7077026/18358080/4ff4e9d8-75eb-11e6-9042-708be7a3c784.png)

[2016-09-08 17:12] Fourdee commented on #503
Yep, sounds good :+1:

Ok, so next PiHole release, i'll aim for the reinstall feature and see if we can pull it off. Basically, automatic Pihole upgrades during our updates.

I'll make a note a look into `pihole -v` and missing version numbers in the footer. But it will have to wait until the next PiHole release. Can do it all at the same time.

[2016-09-08 17:20] k-plan commented on #271
@Fourdee

Thanks, but you don't have to do that only for me. :smile:

Yes, I think it's a good decision, where is a world aside from Windows and Linux. :wink:

---

Quick and dirty test. It works great so far. :+1:

Only downside: the boot up time will increase with 5 devices (not connected or active)  in`/etc/fstab`
Hmm .... is it possible user can active/disable the numbers of entries in  in`/et

[2016-09-08 17:44] k-plan commented on #503
Totality agree! :100:

Yes Sir, please do one thing after the other. :+1:

[2016-09-08 21:13] Bolo92 opened #505 "/DietPi - empty directory"
Hi,

After reboot my raspberrypi with DietPi v129 or v130 won't get the IP address from DHCP.
When i plugin HDMI cable to raspberry i noticed that many errors shows up and one of these is that there is no files in /DietPi/ directory.

Recently i made a few changes to Linux, but i don't remember to remove some files or similar.
I changed /etc/fstab (add automatic mount via hubic) and i added /var/r

[2016-09-09 10:16] Fourdee commented on #505
@Bolo92

`/DietPi` is mounted to RAMdisk during boot. It copies the files from `/boot`. So looks like those files are missing, or, removal of mount point in `/etc/fstab`

If `/boot/dietpi/*` has been deleted (or `/DietPi` when powered on), I'd recommend a reinstall as all your DietPi settings and installed software list will be lost.
You could try and replace the DietPi scripts in `/boot`, but, yo

[2016-09-09 12:17] Bolo92 commented on #505
Yeah, unfortunately /boot/dietpi/\* is empty :/
Shit, i was thinking about backups ;)

DietPi settings i can recreate. What about the installed software - you mean that i lost only the software list in DietPi-software script?

[2016-09-09 12:45] Fourdee commented on #246
Notes to self:
- :u6307: More testing of both server + client required
- :u6307: Security: Add docs to explain how to limit users by IP address > http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=2821#p2821

[2016-09-09 13:01] Fourdee commented on #246
![image](https://cloud.githubusercontent.com/assets/7077026/18387665/d8eb7a72-7695-11e6-8211-9a9aa8a6abf6.png)

[2016-09-09 13:25] Fourdee commented on #246
Done.
- NFS server | dietpi-software > DietPi-Optimized
- NFS client | dietpi-software > Linux | dietpi-config > networking options: NAS

Added to DietPi.

NB: Not added to fileserver choice system.

[2016-09-09 13:25] #246 closed, assigned to Fourdee

[2016-09-09 13:44] Fourdee commented on #505
@Bolo92

The `/boot/dietpi/.installed` file contains the status of what software is installed. Its mostly uses an array system.

Important DietPi files:
- `/boot/dietpi.txt` | DietPi global/automation settings
- `/boot/config.txt` | RPi settings
- `/boot/dietpi/.*` | Unique files for your installation, that DietPi generates, to store various settings and information.

I highly recommend you reinst

[2016-09-09 13:51] Bolo92 commented on #505
@Fourdee Ok, i will reinstall DietPi after i make a backup of /etc and similar to have backups of my configuration files.
Thanks for your time and help ;)
Cheers

[2016-09-09 13:51] #505 closed, assigned to nobody

[2016-09-09 16:57] Fourdee commented on #395
#### Cause:

`df` will hang (endless) when the NFS server is unavailable. We use `df` to scrape disk size/usage etc.

[2016-09-09 16:59] Fourdee commented on #395
Notes:
Run `df` as another thread, check if our temp file gets created, if not, while loop with 5 seconds wait and terminate thread.

[2016-09-09 17:45] Fourdee commented on #395
http://unix.stackexchange.com/questions/31979/stop-broken-nfs-mounts-from-locking-a-directory

[2016-09-09 19:02] k-plan commented on #503
https://github.com/pi-hole/AdminLTE/blob/master/footer.php#L7

![160909-0001](https://cloud.githubusercontent.com/assets/17237601/18399198/37ec490e-76d0-11e6-8179-0760fab44535.gif)

😀  😀  😀

But please don`t stress you. It must and should be "_all-for-fun_ "

[2016-09-09 20:08] Fourdee opened #506 "NanoPi T3 | Generate hw_model"

[2016-09-09 21:59] k-plan commented on #271
@Fourdee

Yes, Sir.  😃

hmm, I think we need  to have a look. RPi Zero `dmesg` output - if no usb storage is connected:
(only a keyboard and usb-network adapter)

[code]

NanoPi Neo`dmesg` output - no usb device connected

[code]

[2016-09-10 09:12] maximm07 commented on #488
I also have this problem with 5TB drive..any chance this enhancement getting into v.131?

[2016-09-10 12:10] Fourdee commented on #271
Yep. Just need to check if we can re-enable in fstab and have the auto detection working without a reboot or manual intervention.

Lol. No idea, but I heard if you eat one every day, keeps the doctor away :wink:

Interesting its timing out. I need to:
- :u6307: Check if a timed-out job prevents auto detection working in future = Nope
- Boot time with and without X auto mounts.

[2016-09-10 13:14] Fourdee commented on #488
@maximm07 @Zone22

I'll take a look in v131, but cant promise anything. Code should be easy, but, we may hit issues with kernels not having GPT enabled by default on various devices. Could be a nightmare.

[2016-09-10 13:52] Fourdee opened #507 "Odroid C2 | Image corruption partition 1"
Partition 1 (`/boot`) of our v127 C2 image is corrupt.
Revert back to the v123 image, update to v130 and upload to dietpi.

[2016-09-10 13:56] Fourdee commented on #507
Completed: http://dietpi.com/downloads/images/DietPi_OdroidC2-arm64-(Jessie).7z

Cause unknown, but most likely due to automatic FStrim causing corruption, which is now disabled: https://github.com/Fourdee/DietPi/issues/440

[2016-09-10 13:56] #507 closed, assigned to Fourdee

[2016-09-10 13:58] Fourdee commented on #488
RPi kernel GPT support = :u6307:

[code]

[2016-09-10 15:46] Fourdee commented on #488
:u6307: Odroid C2:

![image](https://cloud.githubusercontent.com/assets/7077026/18411727/61ddf7ee-7775-11e6-82b3-64a75db856ab.png)

![image](https://cloud.githubusercontent.com/assets/7077026/18411728/64ba67d6-7775-11e6-8b77-0627cad8d02d.png)

Reboot:

[code]

[2016-09-10 16:09] Fourdee commented on #271
## Ok bootup time:
- Device = C2
- Static IP
- Performance Gov
- `echo -e "$(cat /proc/uptime)" > /var/log/bootuptime` at end of `/etc/rc.local` (Might as this as standard, pretty cool stats). "The first number is the uptime in seconds... "

#

#### NO auto mounts enabled:
- Result = 10.52s
- Result = 10.58s
- Result = 10.57s

#### 20 auto mounts enabled | No devices attached:

[code]
- Result = 1

[2016-09-10 16:23] ghost commented on #488
@Fourdee do you need this tested on the pine 64 and Odroid xu4?

[2016-09-10 17:30] Fourdee commented on #271
Trying slot system:
![image](https://cloud.githubusercontent.com/assets/7077026/18412381/a3d9b516-7784-11e6-81d9-69428f67713e.png)

probably easier to just enable all slots (uncomment fstab entry) during load, then disable (comment fstab entry) unused on exit lol.

[2016-09-10 19:05] Fourdee commented on #271
https://github.com/Fourdee/DietPi/commit/d023af2b5040686a16681564932f73e5e18b8023

Ok, so:
- 1 automount is enabled on all DietPi systems by default
- `dietpi-drive_manager` will automatically enable all automounts during start
- `dietpi-drive_manager` will automatically disable unused automounts during exit.

[2016-09-10 19:49] Fourdee commented on #488
@Zone22

Would be great if you could. :+1: Needs lots of user testing and 500GB is the biggest drive I have lol :laughing:
Use blank USB drives with no personal data, might be a few bugs we need to iron out.

Its on testing branch at the moment, so you'll need this: https://github.com/Fourdee/DietPi/blob/master/TESTING-BRANCH.md

[2016-09-10 20:07] Fourdee commented on #506
Completed.

[2016-09-10 20:07] #506 closed, assigned to Fourdee

[2016-09-11 10:38] Fourdee commented on #395
Pending testing results from John:
- NFS timeouts in `/etc/fstab`
- Updated `dietpi-cloudshell` script that monitors `df` for hang (+ thread + control)

[2016-09-11 18:35] Fourdee opened #508 "Odroid C2 | Fails to boot after updates"
`apt-get upgrade -y` during the update process results in:
'uboot' package update without 'linux-image' at the same time = failed boot.
We currently hold 'linux-image*' packages.

[2016-09-11 18:49] Fourdee commented on #508
#### Issue 1 cause:

`apt-get update` wasn't being called prior to `dietpi-update`. v130 C2 image is only affected. Due to recent removal of `dietpi-apt-get_update` in DietPi sourcecode.

[2016-09-11 19:04] Fourdee commented on #508
#### Issue 2 cause:

Upgrading `uboot` without `linux-image*` causes failed boot. Due to `linux-image*` packages being held.
This was done to prevent kernel updates with `boot.ini` required changes (eg: change from C2 fb to X11 driver and new `boot.ini` options/layout) breaking boot.

[2016-09-11 19:16] Fourdee commented on #508
#### Issue 1 FIX:

New C2-R2 image that contains the `apt-get update` code, prior to `dietpi-update` running:
http://dietpi.com/downloads/images/DietPi_OdroidC2-arm64-(Jessie).7z

[2016-09-11 19:21] Fourdee commented on #508
#### Issue 2 FIX:

We will no longer hold `linux-image*` packages, on any Odroid systems.

As C2 X11 GPU driver work is now "completed" and stable, we can only hope no major `boot.ini` changes in the future that would prevent a boot.

[2016-09-11 19:21] #508 closed, assigned to Fourdee

[2016-09-11 20:46] k-plan commented on #271
Just fresh update to testing branch.
- one usb stick with one FAT partition connected

[code]

`root@OrangePI-ONE:~# dietpi-drive_manager`

![160911-0008](https://cloud.githubusercontent.com/assets/17237601/18420219/cac923c0-786d-11e6-8056-2a372bfa1c57.gif)
- push `<ok>`

![160911-0007](https://cloud.githubusercontent.com/assets/17237601/18420302/8c32a60c-786f-11e6-8cd2-91c811354664.gif)
- exit an

[2016-09-12 11:50] Fourdee commented on #271
@k-plan

Yep, I broke it, apologies. :disappointed:. All fixed now :+1:

[2016-09-12 12:27] Fourdee commented on #395
End user reports issue resolved with updated `dietpi-cloudshell` script

[2016-09-12 12:27] #395 closed, assigned to Fourdee

[2016-09-12 13:03] Fourdee commented on #479
@montreuilg

Excellent :+1:
If you would be willing to test a LLSP installation using aar0nism's guide: http://dietpi.com/phpbb/viewtopic.php?f=9&t=603&p=2625#p2624, then report results, this will help speed things up.

Note to self:
`--cert-only` and modify Apache2/Nginx/Lighttpd configurations in DietPi, rather than the certbot installer?

[2016-09-12 15:03] k-plan commented on #271
@Fourdee

![dr-mgnt](https://cloud.githubusercontent.com/assets/17237601/18440771/aa3e9674-790a-11e6-94c6-0c6cef2df3c5.gif)

:smiley:

Now I can test, what's happens, if usb stick has two partitions.

[2016-09-12 15:10] Fourdee commented on #479
Lighttpd code is done, aar0nism's guide was spot on. Just tested with 2 certs. Had to buy a 99p domain lol.

@montreuilg
I'll send the commit and let users know when its ready for testing.

![image](https://cloud.githubusercontent.com/assets/7077026/18441028/440e6250-7903-11e6-99fd-f45319692791.png)

![image](https://cloud.githubusercontent.com/assets/7077026/18441056/5f1e9010-7903-11e6-8aeb-cc6bb

[2016-09-12 15:24] Fourdee commented on #479
@montreuilg

Good to go.

#### If you (and/or anyone else) could test Lighttpd and Cerbot using the testing branch, i'd be grateful:
- Setup a new installation of DietPi for testing branch: https://github.com/Fourdee/DietPi/blob/master/TESTING-BRANCH.md
- `dietpi-software` select LLSP for installation
- `dietpi-software` select Certbot for installation
- Start the installation
- After reboot, run

[2016-09-12 15:37] Fourdee commented on #271
@k-plan

Excellent :+1:

Only the 1st partition is mounted.
I want to try and avoid the route of supporting multiple partitions. Makes it more complicated for the end user, and, would require alot more coding to support the partitions. We'd end up with:

[code]

And basically a whiptail version of `gparted` lol

#### The main goal of this script is to allow users to:
- Mount/dismount drives on the

[2016-09-12 15:40] ghost commented on #488
I'll test as soon as my power supply comes in 2 to 4 days.

[2016-09-12 15:51] ghost opened #509 "DietPi-Drive Manager | Move SD to USB"
The proposal involves moving all data a USB medium with the exception of the boot loader on the SD card. This differs from the current system which involves Symbolic links to store application data on external media. With the proposal the entire OS would reside on the external medium.
This has a few benefits for high read write applications that utilize databases. In addition it simplifies backup.

[2016-09-12 15:54] ghost commented on #494
Just a quick note the client needs compiling there are ARM64 and armv7 server packages

[2016-09-12 16:02] Fourdee commented on #509
@Zone22

Good suggestion :+1:

#### Me blabbing on:

My issue is i have a C2 + EMMC (my 24/7 test rig) that does 120MB/s~ write speed lol. So for me, the EMMC is a USB drive. Its also faster than a USB 2.0 port + drive (USB 2.0 = 30-40MB/s R/W Max).

But yes, had a few people ask about this in the past, so i'll look into it when possible, will need different code for devices eg: RPi/Odroid.

Howev

[2016-09-12 16:22] ghost commented on #509
I agree in fact I have it for my odroid xu4. Although it costs $22.95 +8 dollars shipping For the 8 GB version.

In the event of the features implemented depending on what the read/write performances for odroid xu4 USB 3.0. I might if it's worth switching EMMC to the C2.

That being said I think we both agree that there is some different use cases for the feature.

[2016-09-12 17:22] k-plan commented on #271
@Fourdee

Hmm, yes Sir. More work for you and really complex coding.

Hmm, can we do this in a other way?
- automount 1. partition from fist device by default. Thinking, what's good. :+1:

[code]
- if  call up `dietpi-drive_manager`, it will show it as mounted:
  ![hfs](https://cloud.githubusercontent.com/assets/17237601/18444959/a643fcce-791b-11e6-87e5-03274ea5e350.jpg)
- now, if user hit `Refres

[2016-09-12 17:59] k-plan commented on #509
Hmm, nice idea. It will work with Odroid and RPi devices.

http://dietpi.com/phpbb/viewtopic.php?p=1720#p1720

http://dietpi.com/phpbb/viewtopic.php?p=1655#p1655

But you will get in trouble, if your device will start via:

[code]

like Orange Pi (PC), NanoPi Neo, Orange Pi One, BananaPi and many other Allwinner SOC will do.

After you have change `setenv bootargs "root=/dev/mmcblk0p2  ... "` in `

[2016-09-12 18:17] k-plan commented on #509
@Fourdee

Hmm, but only the new v.5 eMMC (32GB) with a Odroid C2. (red square on it)

http://odroid.com/dokuwiki/lib/exe/fetch.php?cache=&media=en:emmcreference2.jpg

http://odroid.com/dokuwiki/doku.php?id=en:emmc_reference_chart#emmc_modules_for_current_running_products_2016

But put this on your C1+ and you get a nasty surprise ...

Most of my on-board-eMMC by manufacture (e.g. BeagleBone Black,

[2016-09-13 14:14] Fourdee opened #510 "DietPi-Software | Add disclaimer when PiHole is selected"
https://github.com/pi-hole/pi-hole/issues/680#issuecomment-246679079

To the effect of:
- Modified version of PiHole for DietPi
- Not endorsed by PiHole
- Please contact DietPi for support with this installation

[2016-09-13 14:38] Fourdee commented on #509
For reference, John kindly shared his experience with going from SD to USBHDD:
http://dietpi.com/phpbb/viewtopic.php?f=9&t=655&p=2875#p2842

[2016-09-13 16:10] k-plan commented on #509
@Fourdee

Hmm, have you test [RPi-3 Boot from Mass Storage Device (MSD)](https://www.raspberrypi.org/documentation/hardware/raspberrypi/bootmodes/) ?

First, it is still BETA ( https://www.raspberrypi.org/blog/pi-3-booting-part-i-usb-mass-storage-boot/ )
and only works with RPi 3 after patching One-Time Programmable (OTP) memory.
https://www.raspberrypi.org/documentation/hardware/raspberrypi/bootm

[2016-09-13 17:33] Fourdee commented on #509
I've not tested any methods yet lol :wink:, but will certainly try this one when I make a start on it. Great writeup :+1:

I'am trying to find a schematic/diagram of the RPI's ARM, no luck so far (eg: like this one for C2: http://dn.odroid.com/homebackup/20160203/s_C2blockdiagram.jpg).
I'am curious to know if the SDIO is routed through the shared USB hub on the ARM. Ethernet goes through the share

[2016-09-13 18:48] k-plan commented on #509
http://www.jeffgeerling.com/blog/2016/how-overclock-microsd-card-reader-on-raspberry-pi-3

Hmm, if I read this correct SD reader clock speed  is bundled at VideoCore IV subsystem (400 MHz)

If SD reader went through  usb hub, `dtoverlay=sdhost,overclock_50=100` will as well overclock usb host.

I don't think so, but you can test it.

[2016-09-13 20:05] maximm07 commented on #488
I can test with C2 and 5TB WD drive. What kind of tests are required?

[2016-09-13 21:00] EraYaN opened #511 "DietPi-Software | FFmpeg install misses libmp3lame dependency."
When FFmpeg is installed on the latest version and ran the following output is shown:

[code]

after installing lame manually (the package) the error goes away.

[2016-09-13 21:04] midwan opened #512 "DietPi | Add option to format external USB drive as FAT32/NTFS"
This suggestion came from several AmiBerry users, but I believe it might interest others as well.
Instead of offering only ext4 as the filesystem for the external USB drive, an option to format it and use it as FAT32 or NTFS should also be available.

That way, users could easily also use it on a Windows machine.

If this causes some features not to work, e.g. symlinks inside the USB drive, we cou

[2016-09-13 21:06] midwan opened #513 "DietPi + AmiBerry | Prompt users to format and use external USB device during first boot"
The prompt that exists in a standard DietPi installation, would also be useful in an AmiBerry autoboot installation.

Users should be prompted to format/use an external USB device if they wish, during installation.
Preferably, this should be combined with #512 also.

[2016-09-14 11:40] Fourdee commented on #488
@maximm07

Excellent :+1:

#### Please do the following to test your drive:

This test will format your drive, so don't continue if you have data on the drive you want to keep.
- Unplug the USB drive from the system before hand.
- Follow these steps to install a DietPi image using the testing branch: https://github.com/Fourdee/DietPi/blob/master/TESTING-BRANCH.md
- Once the system is finished inst

[2016-09-14 12:00] Fourdee commented on #510
![image](https://cloud.githubusercontent.com/assets/7077026/18511358/2f92ce46-7a7b-11e6-8033-491d259ba235.png)

Completed.

[2016-09-14 12:00] #510 closed, assigned to Fourdee

[2016-09-14 12:07] Fourdee commented on #511
@EraYaN
Thanks for the report.

Which device are you running DietPi on?

[2016-09-14 12:09] Fourdee commented on #512
Ties in with: https://github.com/Fourdee/DietPi/issues/271

[2016-09-14 12:09] Fourdee commented on #513
Ties in with: https://github.com/Fourdee/DietPi/issues/271

[2016-09-14 12:28] Fourdee commented on #512
@midwan

Yep, symlinks is the main factor, `dietpi-backup` requires symlinks and will prevent use on non EXT drives. Aside from that, I think we should be fine.

Minor considerations:
NTFS = Higher CPU usage and slower performance (spawns a running process)
FAT32 = 4GB filesize limit | 2TB max volume

[2016-09-14 13:33] Fourdee commented on #512
![image](https://cloud.githubusercontent.com/assets/7077026/18514112/21cb37b4-7a88-11e6-8901-93191ad304d4.png)

edit: pppppppppp

[2016-09-14 13:40] Fourdee commented on #512
@midwan
Completed. `dietpi-drive_manager` can now format ext4/ntfs/fat32.

I'll take a look at https://github.com/Fourdee/DietPi/issues/513. Most likely prompt user and run our new `dietpi-drive_manager` so they can setup drive.

[2016-09-14 13:40] #512 closed, assigned to Fourdee

[2016-09-14 13:41] Fourdee commented on #271
Format filesystem type options:

![image](https://cloud.githubusercontent.com/assets/7077026/18514383/53d21696-7a89-11e6-8211-0af29471f4c9.png)
![image](https://cloud.githubusercontent.com/assets/7077026/18516333/73600bf6-7a90-11e6-9416-7b1c2b7f173a.png)

[2016-09-14 14:48] EraYaN commented on #511
A Raspberry Pi Model B (512MB)

[2016-09-14 14:50] k-plan commented on #271
[code]

:question:

[2016-09-14 16:17] Fourdee commented on #271
@k-plan

Means installing additional packages as you mentioned earlier. Suppose we could `apt-get install` it when the user selects it.

Lemme take a look. Might make the selection menu too big: https://cloud.githubusercontent.com/assets/7077026/18516333/73600bf6-7a90-11e6-9416-7b1c2b7f173a.png

[2016-09-14 16:21] Fourdee commented on #513
Ok, i've added a question prompt, which enables the user to run the new `dietpi-drive_manager` during installation.
This program allows for mount/dismount/format etc.

note to self: create an online doc for this program, it is a bit more advanced than the previous system.

[2016-09-14 16:43] Fourdee commented on #271
@k-plan
Done, HFS+ format support is in, only issue is:
- `mkfs.hfsplus` does not generate a UUID for drive.

![image](https://cloud.githubusercontent.com/assets/7077026/18521107/b6e91acc-7aa2-11e6-8797-41126830c6bf.png)

Tried:

[code]

Might be a hfsutil command, i'am yet to find it.

[2016-09-14 16:44] k-plan commented on #271
[code]

Yes!  :smiley:

---

:wink:

`tune2fs: Bad magic number in super-block while trying to open /dev/sda
`

wrong command/tool:

https://wiki.ubuntuusers.de/UUID/

[code]

[code]

[code]

[code]

Testing (UUID generate by mkfs.hfsplus)

[code]

[2016-09-14 22:14] ghost commented on #271
Depending on your ability would you consider adding btrfs file system?

 Although Ext4 seems to be the better choice on a desktop system since it is already present as a default file. Btrfs has many good features for server environment and it is robust protection against data corruption.

– Writable and read-only snapshots
– Checksums on data and metadata (crc32c): this is great in my view, as eve

[2016-09-15 06:25] midwan commented on #512
@Fourdee you have a typo there in the screenshot, in case you didn't notice:
Recommended if you plan to use this drive **soley** on this system

should be **solely** I believe?

[2016-09-15 08:50] k-plan commented on #271
Testing:

![160915-0002](https://cloud.githubusercontent.com/assets/17237601/18543772/c2337b40-7b31-11e6-9764-c6991fb8cbcf.gif)

![160915-0003](https://cloud.githubusercontent.com/assets/17237601/18543782/d2d24620-7b31-11e6-842d-327cecca5a21.gif)

![160915-0004](https://cloud.githubusercontent.com/assets/17237601/18543796/e6b7732c-7b31-11e6-9147-4e77e625fda1.gif)

![160915-0005](https://cloud.gith

[2016-09-15 11:17] Fourdee commented on #271
@Zone22

Sounds good :+1: I'll try and add it in.

@k-plan

You have UUID on your method :smile:  :+1:

https://github.com/Fourdee/DietPi/blob/531bcb011687ea3f7a71ba92daa8bceb37a91cfb/dietpi/dietpi-drive_manager#L225-L226
`${aDRIVE_MOUNT_SOURCE[$INDEX_DRIVE_BEING_EDITED]}` would be `/dev/sda1`

When I ran just `mkfs.hfsplus /dev/sda1`, it had no filesystem. Could be I missed something.
I'll try vf

[2016-09-15 11:45] Fourdee commented on #271
@k-plan
Yep.
Not sure why I did that lol. Removal of `hformat` did the trick, UUID now working for `hfs+` format. Thanks @k-plan :+1:

[2016-09-15 12:06] k-plan commented on #271
@Fourdee

Ahh, see your problem. If you don't have a partition table with minimum 1 partition on your device,

[code]

`mkfs.hfs` will format `sda` without a partition.

[code]

And now you run in trouble ....

[2016-09-15 12:08] Fourdee commented on #271
@Zone22
BTRFS format support is in :+1:

Had to reduce the menu desc text a little. I'll put all that info into the online doc for DietPi-Drive_Manager and link it there.
![image](https://cloud.githubusercontent.com/assets/7077026/18549272/743adffa-7b45-11e6-958a-8f12e097e7ad.png)

@k-plan

That must of been what I did :+1:  lol.

[2016-09-15 12:14] k-plan commented on #271
@Fourdee

short description behind menu please, like before?

![image](https://cloud.githubusercontent.com/assets/7077026/18516333/73600bf6-7a90-11e6-9416-7b1c2b7f173a.png)

[2016-09-15 12:38] Fourdee commented on #271
@k-plan

Yep, it would be nice to have, but then the height would be too big.
I try and keep all whiptail displays under 24 rows (its 21 currently). Mainly for SSH users so they dont need a massive SSH window :)

I'll add a URL link and insert that to menu. will cover all options, similar to: http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&start=20#p68

EDIT:
Or did you mean the menu options at bott

[2016-09-15 12:51] Fourdee opened #514 "Image | OrangePi One"
@k-plan
Think you might have something to do with this turning up in the post today? :+1: :tada:
Thank you :smile:

[2016-09-15 12:55] k-plan commented on #271
@Fourdee

no, you missed me. :smiley:

[code]

or something like that ....   :wink:

[2016-09-15 13:04] k-plan commented on #514
@Fourdee

Yes. Have a look in your survey directory.
It's not perfect, we have to work on it. (serial, leds, resolution, GPU support,....)

[2016-09-15 13:11] Fourdee commented on #514
@k-plan

Found it, looks good, going through your notes now :+1:

Do you have a cross compiler setup? I can give you my virtual machine with one setup for ARMbian if you need one?

[2016-09-15 13:35] k-plan commented on #514
@Fourdee

no thanks. No clue for cross compiler.  :smiley:

 virtual machine? -only vbox-

H3 almost identical. You have done all the work. Your uboot (uInitrd) and zImage  works.

![opi-one](https://cloud.githubusercontent.com/assets/17237601/18551692/e4a91f9a-7b59-11e6-8314-9f0c89fd98a5.gif)

[2016-09-15 13:42] Fourdee commented on #514
@k-plan

I did that before I read your notes, you did all the work also lol.

I've reverted the source code changes, want you to do them and get credit for it :+1: Do you know how to send a pull request with git? If not i'll walk you through it.

I'll update the `/boot` image with your changes also.

#

Honestly, its easy with ARMbian build tools, this is all you do on the VM:

[code]

[2016-09-15 14:02] Fourdee commented on #271
@k-plan
Mmmm, not sure with `|`?
![image](https://cloud.githubusercontent.com/assets/7077026/18552674/5e836e9c-7b55-11e6-8f17-175cf11a9720.png)

[2016-09-15 14:11] Fourdee commented on #271
@k-plan

Works

[code]

[2016-09-15 14:15] k-plan commented on #514
@Fourdee

git? No Thanks. :smiley:

Anti-coder don't need git. Sorry, I haven't got a clue.

Better you do this in your way. No skill in coding stuff or tools.
I only can "google" and "try and error".

Sorry. But if I will told this to you before, you don't have a "Christmas surprise" now. :santa: :snowman:

:wink:

[2016-09-15 14:21] Fourdee commented on #514
@k-plan

Yes you do, your notes are spot on.

VNC session and i'll get you setup with Git and walkthrough? :)

[2016-09-15 14:46] k-plan commented on #514
@Fourdee

Notes in German you can get at much as you want.

But coding and writing in English - no way. I am so sorry, take more time and knowledge I ever will have.

Yes, I am very unhappy that you will be a single-player, a one-man-show at the moment, but I can not help you out.
Ich tue was ich kann, aber leider ist im Moment nicht mehr drin. Wie sieht es mit Deutsch aus?

[2016-09-15 14:48] Fourdee commented on #514
@k-plan

No worries. :+1:
I know the language barrier is a pain, but you do great.
If you change your mind, let me know and we'll sort it :)

[2016-09-15 14:50] k-plan commented on #271
@Fourdee

< Mmmm, not sure with`|`?

Looks okay, until ...

`3 : HFS+   |   Mac OS X (Intel Mac default file system)`

[2016-09-15 15:03] Fourdee commented on #514
Ok notes:
:u5408: | Desktop (probably due to sunxi_no_mali_mem_reserve)
:u5408: | Kodi, we havn't implemented this for any H3 device yet.

[2016-09-15 15:04] k-plan commented on #514
@Fourdee

You will be the first how will know it. :100:

Will you really want to support this Orange Pi One? It was a gift, without a commitment.

I personally think, we don't to get bogged down with to many devices and to many different software.
You can/will/should  make for your self some thoughts of generally target course.

(e.g. Platform for playing games, file server, productive tools, ...)

[2016-09-15 15:11] Fourdee commented on #514
@k-plan

Yep, thank you :+1:
I actually enjoy adding them into DietPi, gives me a chance to have some fun hehe

Agree.
I think I could improve the source to reduce the workload, especially on all the H3 devices we have.

We could also try having just one H3 image, then tell users how to update the `script.bin` (might be some other files, not sure) for their device. Would save me having to make 5+

[2016-09-15 15:14] k-plan commented on #514
@Fourdee

Have tested Kodi (OpenELEC for OrangePi) and think H3 devices not a good choice.

Burn down your device and much problems at the moment.

http://wiki.orange314.com/Openelec_for_Orange_Pi

http://www.orangepi.org/orangepibbsen/forum.php?mod=viewthread&tid=648&extra=page%3D1
- cooling
- HDMI-CEC
- addons
- sound
- changing resolution
- switching HDMI, TV, DVI output.
- ....

But https://gi

[2016-09-15 15:36] k-plan commented on #514
@Fourdee

That's was the idea behind it. Reduce work. H3 image without `script.bin` but in this way, you get some new problems. (e.g. identify devices via `/etc/.dietpi_hw_model_identifier`)
Yes, possible to put it on `dietpi.txt` or  somewhere else, but so you will get new trouble.

No, not for this.

Yes that's the most important. FUN !  :smiley:

If it make no fun any more, we should leave the

[2016-09-15 16:01] k-plan commented on #514
**Notes:**

=> you have to put a heath sink on CPU !

---
- **Serial** (unsure with parameter in `boot.cmd`)

`setenv bootargs "console=tty0 .....`

---
- **Display output** (DVI / HDMI)
  Have you tested HDMI display with "my" `script.bin`?
  Can't test with original  `script.bin.bac`. Have only a DVI display for testing. Family LCD TV with HDMI input is forbidden!

---
- **LED**:
  Have set it n

[2016-09-15 17:30] Fourdee commented on #514
Yep, good point. I think I can pull it off. Had a look at the DietPi code eariler, should be doable with 1 HW_MODEL for all H3 devices, theres alot of repeated code in there for all H3 devices. Yes we lose the board name, but it would save me many hours of image creation.
Just need to confirm with ARMbian if `script.bin` is the only unique item per all H3 boards. Really depends on that.

@k-plan
P

[2016-09-15 17:56] Fourdee commented on #514
@k-plan
Asking the devs at ARMbian for hopefully some answers to these questions: http://forum.armbian.com/index.php/topic/2033-question-h3-unified-imaging/

[2016-09-15 18:00] k-plan commented on #514
@Fourdee

Sorry I don't drink (and drive).

Black Jack?  Vampire Vape?

Only know is this: http://vampirevape.de/product/black-jack-aroma-30ml/
... but never tested it.

Or do you think on something like:
![66c35e3e-4903-11e6-8ab3-8fd30da65109](https://pbs.twimg.com/media/CqzUdwAW8AAUout.jpg)

:smiley:

Update:  https://github.com/Fourdee/DietPi/issues/514#issuecomment-247371589

... but I think,

[2016-09-16 11:18] Fourdee commented on #514
@k-plan

Yep, good plan :+1:
I'll release OPi One as a standard DietPi image with v131. Then after v131, will take a look unified H3 image.

You vape? what mg (eg: 18mg)?

[2016-09-16 11:19] Fourdee commented on #514
Note to self:
:u55b6: Check DVI works on HDMI @k-plan's `script.bin` | Black is replaced by green, corrupt.
:u6307:  Run a final test on OPi One image + installation.
:u6307: Online doc: http://dietpi.com/phpbb/viewtopic.php?f=8&t=676

[2016-09-16 12:57] Fourdee commented on #488
I'll mark this as closed, successful in my testing.

@Zone22 @maximm07
Pending results from your tests, please reopen if you experience any issues.

[2016-09-16 12:57] #488 closed, assigned to Fourdee

[2016-09-16 12:59] Fourdee commented on #479
Successful in my testing. Marking this as closed.

Please reopen if required.

NB: No Nginx support yet, if we get requests for this, i'll look into it.

[2016-09-16 12:59] #479 closed, assigned to nobody

[2016-09-16 13:04] Fourdee commented on #511
@EraYaN
Thanks. Fixed in v131 :+1:

[2016-09-16 13:04] #511 closed, assigned to Fourdee

[2016-09-16 13:34] Fourdee commented on #513
Online doc: http://dietpi.com/phpbb/viewtopic.php?f=8&t=673&p=2898#p2898

@midwan
Users can follow

#### 'How do i setup a dedicated drive for DietPi and user data?'

in the link above, when they are prompted during installation to setup a USB drive.

[2016-09-16 15:12] Fourdee commented on #271
Ok, I think this now completed. Stable results during multiple testing. Marking as closed.
Please reopen if required.

[2016-09-16 15:12] #271 closed, assigned to Fourdee

[2016-09-16 15:24] Fourdee commented on #513
@midwan
During installation, user will be prompted for setting up a USB drive. Video example of what user will see (minus the ssh and commands), and do:
https://youtu.be/U7YhVpAV3dI

After exit, AmiBerry will continue installation.

[2016-09-16 16:25] k-plan commented on #514
@Fourdee

Tomorrow?

---

OT @Fourdee

yes.

:fearful:  Puh, no, it's too much for me. Sorry I'm a wuss.  :smiley:
Mixed up my own base liquids with some flavour.

[2016-09-16 17:33] Fourdee commented on #514
Most likely Sunday, depends how many tickets I nudge to v132 lol :)

Not wuss :smile: . Wish i didn't have to vape if i'am honest (smoker 20 day) :disappointed:

[2016-09-17 09:28] k-plan commented on #514
Hmm, now I think it wasn't such a good idea.
Images are use `apt.armbian.com`. My test OPi-one based on your OPi (PC) image.
So I get a update by `apt-get upgrade` today.
Not really sure, if this will work correct under every circumstances.
(e.g. `zImage` and  `script.bin` are no links on `/boot` FAT partition, `uInitrd`, missing `/boot/bin/` ... )

Here is the output:

[code]

[2016-09-17 12:23] Fourdee commented on #494
Was about to start testing the server:
![image](https://cloud.githubusercontent.com/assets/7077026/18608159/b3688200-7cd9-11e6-8ba4-cf66dfcffcf1.png)

Edit:
non-MSI installer is fine: https://hndl.urbackup.org/Client/2.0.32/UrBackup%20Client%202.0.32.exe
Clearly "Only for up-to-date Windows" doesn't include Windows 10?!?!?

[2016-09-17 13:30] Fourdee commented on #494
Annoyances:
- You cant stop backups on the client, with the client program
- Clicking the Stop button on a active backup, most of the time, doesn't stop the backup
- Clients ignore the server settings of, `disabled auto file and image backups`. Client does what it wants.
- Client always wants to resume, runs indexing (10+ mins), then checks if the server activity actually exists. Then stops.
- Var

[2016-09-17 13:52] k-plan commented on #494
@Fourdee

Yes, by my tests as well, server looks good. But only the look of web interface, can't really test, because ...

Client for Windows (_yes, it's not my world_), testing with Win 7 64 Bit,  is crap!
Sorry,  investing no more time into this. 👎

[2016-09-17 14:16] Fourdee commented on #494
Server:
- ARMv7+ / AMD64 = Deb
- ARM64 = Sourcebuild | Unable to find a config setting in `/etc/default/urbackupsrv` or another config location for backup directory (set to `C:\` by default)

[2016-09-17 15:18] Fourdee commented on #494
To Do:
- 🈴 Client? No. Has its own installation script. Will link to client installs in docs.

[code]
- 🈯 Uninstall code
- 🈯 Online Docs: http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=65#p65
- 🈺 Would be nice: ARM64. Find a way to set default backup directory | No method found.

[2016-09-17 15:58] ghost commented on #494
@Fourdee @k-plan
Well I'm open to an alternatives.

The following are open source multiplatform solutions but further investigation is needed for arm support
[Bacula](http://blog.bacula.org/what-is-bacula/)
[Backuppc](http://backuppc.sourceforge.net/)
[Amanda](http://www.zmanda.com/amanda-enterprise-edition.html)

[2016-09-17 17:14] k-plan opened #515 "DietPi | WiFi connection with static IP address fail"

[2016-09-17 18:01] Fourdee commented on #515
New image should solve this. But i'll test.

[2016-09-17 18:14] k-plan commented on #515
Ready to go with my RPi B+, RPi Zero or RPi 3 for your new image. 😄

Please tell which device to use.  👍

[2016-09-17 18:35] Fourdee commented on #515
@k-plan

Just did a test on RPi3 (haven't created the image yet, just a test), DHCP automation is fine, but static still fails to connect, same as reported 0.0.0.0 etc.
Weird.

I'll need to look into it, hoping it might be a kernel/firmware issue lol. 4.4.19

@k-plan
If you get a chance, would you be able to test RPi 1/2 with USB wifi dongle on v130. Not the automation side, just static IP on a co

[2016-09-17 18:43] k-plan commented on #515
Static IP on Wifi dongle by RPI B+ did not work. (switching from DHCP)
Staitic IP on wire connection as well as DHCP wired work. (Both active WiFi=DHCP / Wired=static or DHCP)

But I will start from the scratch .... with v130 without any mod and first only with a wired connection.

[2016-09-17 18:49] Fourdee commented on #515
@k-plan
Thanks 👍 , but no rush, will be tomorrow for me.
Just tried 4.4.21 on RPi 3. Same issue.

[code]

PS, i hate these new emotes. Bring back my yellow thumbs up! lol
![image](https://cloud.githubusercontent.com/assets/7077026/18610288/072ba1b6-7d10-11e6-814a-eed32aa43bc7.png)

[2016-09-17 18:55] Fourdee commented on #515
@k-plan

Think i got it.

[code]

Remove `metric 0` and `metric 1` from `/etc/network/interfaces`

Now static IP works, on my RPi 3. Connection working `ping google.com`

[2016-09-17 18:56] k-plan commented on #515
v.130 on RPi B+ wired connection (DHCP) not touch dietpi.txt:

[code]

work!  👍

[2016-09-17 19:03] k-plan commented on #515
@Fourdee

oh, oh ... but no metric no https://github.com/Fourdee/DietPi/issues/265

[2016-09-17 19:14] Fourdee commented on #515
@k-plan

Yep 😞. I need to re-run the tests again to confirm. But looks like we might need to find another alternative to `ifmetric`?

Now off to play Descent 2 (was Tron 2.0 last month) for 30 minutes before son goes bed, woop woop 😃

[2016-09-17 19:48] k-plan commented on #515
@Fourdee

http://0pointer.de/lennart/projects/ifmetric/ifmetric.8.xml

http://metadata.ftp-master.debian.org/changelogs//main/i/ifmetric/ifmetric_0.3-3_changelog

Hmm, no. It's time to use the "new" _primary network configuration tools_   😱

[code]

iproute2:  https://wiki.linuxfoundation.org/networking/iproute2

http://www.policyrouting.org/iproute2.doc.html

http://xmodulo.com/linux-tcpip-networ

[2016-09-18 13:15] Fourdee commented on #513
Tested with v130 + testing branch (v131). Prompt working fine. Marking as closed.

[2016-09-18 13:15] #513 closed, assigned to Fourdee

[2016-09-18 15:02] Fourdee commented on #515
@k-plan

For now, we will remove metric and ifmetric during patch. I'll reopen https://github.com/Fourdee/DietPi/issues/265 so we can "start again" lol 👍

[2016-09-18 15:03] Fourdee commented on #265
Removal of ifmetric to fix: https://github.com/Fourdee/DietPi/issues/515#issuecomment-247798038, breaks this ticket.

New method required.

[2016-09-18 15:06] Fourdee commented on #515
Nearly forgot.

Fix automation needs new image: 🈯 http://dietpi.com/downloads/testing/DietPi_RPi-armv6-(Jessie).7z

[2016-09-18 15:06] k-plan commented on #515
@Fourdee

Testing:
-  with two interfaces with static ip addresses (same broadcast domain)
- `ifmetric` and `netplug` installed

`/etc/network/interfaces`

[code]
- have a look at `ip route show`    👍
- test with `ping dietpi.com` and unplug/plug in ethernet cable     👍
- output of `dmesg`     👍

now we must have a look in:
- one interface static / on interface dhcp
- both interface dhcp

[2016-09-18 16:19] k-plan commented on #515
@Fourdee

Testing:
- with one interfaces with static ip addresses, second with dhcp (same broadcast domain)
- `ifmetric` and `netplug` installed

`/etc/network/interfaces`

[code]
- have a look at `ip route show` 👍
- test with `ping dietpi.com` and unplug/plug in ethernet cable 👍
- output of `dmesg` 👍

[2016-09-18 17:11] k-plan commented on #515
@Fourdee

Testing:
- with two interfaces with dhcp (same broadcast domain)  👎
- testing with iptable2 Policy Routing 👎
  Possible, it's a problem with my skill. 😞

Yes, revert to v115 practice of either wired or wifi 😢

[2016-09-18 17:15] Fourdee commented on #515
@k-plan

v131 image. Static IP WiFi automation should now work correctly:
http://dietpi.com/downloads/testing/DietPi_RPi-armv6-(Jessie).7z

[2016-09-18 18:20] k-plan commented on #515
@Fourdee

Tested on RPi B+ with wifi adapter and non wired connection.
- static wifi ip, Ethernet disable, full manually installation => work 👍
- static wifi ip, Ethernet disable, automated installation => work 👍

after reboot it is a DietPi v130

![160918-0001](https://cloud.githubusercontent.com/assets/17237601/18617967/ae99f570-7ddc-11e6-9117-98085baf4235.gif)

Hint: are you living now in USA?

[2016-09-18 18:29] Fourdee commented on #515
@k-plan

I wish, furthest I'am going is Skegness lol (daytona USA arcades!): http://www.skegness.net/

I'll redo the image with those removed. Not sure how they got there. Good spot 👍

I tested on RPi3 with onboard WiFi and static, worked for me. Was hoping to get v131 out today, but its most likely Monday/Tuesday now.
Pretty confidant we have resolved the issue. I'll get v131 wrapped up 1st, then

[2016-09-18 18:40] k-plan commented on #515
@Fourdee

I wonder, because noting set in `dietpi.txt`

[code]

.. and it is set to `GB` if it is boot up after installation.

[code]

[2016-09-18 18:52] Fourdee commented on #515
@k-plan

https://github.com/Fourdee/DietPi/blob/master/dietpi/finalise#L110-L111

Should be 00, i'll change that.

Note to self:
Bring up wifi to set this before finalize.

[2016-09-18 18:54] tohax commented on #515
v131 image did not solve problem for me. Connection test failed again, but now there is a proper ip address in dietpi banner, there was emty field before.

[2016-09-18 18:57] Fourdee commented on #515
@tohax

Raspbian mirror director was offline for me. I had to change to a static mirror.

Try:

[code]

[2016-09-18 19:00] tohax commented on #515
i'll try and report tomorrow. need to sleep.

[2016-09-18 22:12] WolfganP commented on #409
I found an old monochrome LCD 20x4 chars display in a drawer (Winstar WH2004A like https://www.adafruit.com/product/198), and connected successfully to my headless DietPi.
I want to use it for system stats initially, but looking at the dietpi-cloudshell code and forum comments, I couldn't determine if it accepts simpler, character oriented displays like the one I use.
Any confirmation? If not, any

[2016-09-19 04:34] tohax commented on #515
it's alive!!! Everything works fine. Thank you.

[2016-09-19 05:10] oshank opened #516 "Changing ssh server software"
I have come across an issues of sorts with the removal of dropbear. Currently I am running a Pi 3 with v129 and a constant VPN connection. I was planing on using ssh keys to connect to the Pi but was having issues with setting the public key on the Pi. So, I decided to replace dropbear with OpenSSH using the dietpi-software interface and came across an interesting error.

So I found out prior to t

[2016-09-19 07:11] k-plan commented on #515
@Fourdee

Hmm, I would say, locales, keyboard, time zone, country code =>> GB

what's consistent, because Fourdee + DietPi = 🇬🇧

😄

[2016-09-19 09:33] maweki opened #517 "Snapcast client"
Snapcast is a solution to play synchronized audio on multiple devices. It even supports multiroom using multiple servers.

I already created an ansible playbook to install snapcast client (the one that plays the audio). Since most of the clients I want to install it to, will be running dietpi anyways, would it be time well spent for me if I would create an installer for dietpi-software? Is this so

[2016-09-19 10:44] Fourdee commented on #517
@maweki

We currently have shairport-sync (airplay) installation in DietPi, which does multiroom sync: http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=1221#p1221

By all means, go for it 👍 . If there are any issues, I'll let you know so they can be resolved.

Info:
- https://github.com/Fourdee/DietPi/issues/490#issuecomment-244416570 (how to add software to dietpi-software script)
- Use the testin

[2016-09-19 10:56] Fourdee commented on #515
@k-plan

Would be nice for me lol.
But, I can see people "kicking off" with the legality of a GB wifi region, in a country that its against the law to use. So, must really set 00 for WiFi.

[2016-09-19 10:59] Fourdee commented on #516
@oshank

Ah I see, so the Dropbear program was removed, regardless of the failed installation of OpenSSH server?

I'll look into this, prevent it uninstalling on a failed install. Thanks for letting us know 👍

[2016-09-19 11:06] Fourdee commented on #409
@WolfganP

DietPi-Cloudshell is coded to display on a 320x240 resolution screen, or greater.

The 20 char width and 4 lines would be a challenge to fit stats in there. Most of DietPi-Cloudshell would need to be rewritten to accommodate it.

As I dont own one of these 20x4 displays, implementing it would not be possible at this time.
Also, as HAT's like the waveshare are possibly cheaper, for me, i

[2016-09-19 11:20] ghost commented on #479
Thanks but, Oups, i am not on the same beat as you guys are it seems! I was going to check that today, i had a few hours of playtime... 🔢 :-)

I'll reinstall and keep on trying to make that small tft working then :-(

 One thing I'll take time to look at and i think you should too for developpers: [RethinkDB](https://www.rethinkdb.com/docs/quickstart/) It would be great to have it as part of an IO

[2016-09-19 12:31] Fourdee commented on #515
@k-plan

Although, I just checked the official Raspbian image, it has this set to GB by default. I'am game. We'll set to GB by default on all DietPi images.

[2016-09-19 13:31] WolfganP commented on #409
Thanks @Fourdee. Just for my reference, does Cloudshell relies heavily in the 320x240 resolution as it's managed as a graphical display, or once initialized (and set up the font size) you consider it to be a W x H char terminal (and just spit X chars' text lines)?

[2016-09-19 13:46] Fourdee commented on #515
@tohax

Excellent thanks for letting us know 👍

Marking this as closed.

[2016-09-19 13:46] #515 closed, assigned to Fourdee, k-plan

[2016-09-19 14:21] oshank commented on #516
Yep! That is exactly what happened!

[2016-09-19 14:25] Fourdee commented on #494
@Zone22

They sound good, but they all need testing to find the "best one". If you can pick one alternative to investigate, create a ticket and we will take a look at adding it in the future.

[2016-09-19 14:25] Fourdee commented on #494
Marking this as closed: http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=65#p65

[2016-09-19 14:25] #494 closed, assigned to nobody

[2016-09-19 14:38] Fourdee commented on #409
@WolfganP

Its coded to fit in a 320x240 resolution when using the font:

[code]

couldn't find any bigger ones :)

Its basically a lightweight terminal program that prints to the terminal (tty1). No Xserver. We dont check the users current row/lines if thats what you mean?

[2016-09-19 14:41] Fourdee commented on #212
@k-plan

Sorry Frank. Going to have to nudge this one again. Still no access to a IPv6 network at my end, would make implementing and testing this a nightmare.

[2016-09-19 14:48] WolfganP commented on #409
Thanks @Fourdee When I saw the screenshots of the waveshare32 display, all screens shown seems to be 25x8 chars long, so my thinking went to write a different display initialization routine, and then restrict cloudshell output to 20x4 display boundaries.
Do you think it may work?

[2016-09-19 15:32] Fourdee opened #518 "RPi | Mirror director is unreliable and unstable"
Slow connections, unstable, unreliable, was offline this Sunday.

Resolution, we will use the Oxford UK mirror by default:

[code]

I did look at hosting a mirror on DietPi.com. But I dont have 250GB+ space they recommend: https://www.raspbian.org/RaspbianMirrors

[2016-09-19 15:46] Fourdee opened #519 "DietPi-Config | Add option to select a Raspbian/Debian Apt Mirror."
As per the recent Raspbian Mirror Director removal: https://github.com/Fourdee/DietPi/issues/518

Give users a way to easily change from a list of mirrors.

[2016-09-19 15:46] Fourdee commented on #518
Default on v131 RPi images.

[2016-09-19 15:46] #518 closed, assigned to Fourdee

[2016-09-19 16:03] Fourdee commented on #409
@WolfganP

Yep in theory, you could cap the string length to 20 chars. eg: Instead of `echo` (see below link), create an array of strings and something like:

[code]

This is the sourcecode for storage scene print. https://github.com/Fourdee/DietPi/blob/master/dietpi/dietpi-cloudshell#L863-L873
So you could create a `if` statement for 20x4 screens and duplicate the lines you want to print on it.

[2016-09-19 16:07] Fourdee opened #520 "Release v131"
- 🈯 dietpi.com | move images in testing (http://dietpi.com/downloads/testing/) to live
- 🈯 dietpi.com | add entry for OPi One download
- 🈯 AmiBerry image test: completed.

[2016-09-19 16:09] Fourdee commented on #514
https://github.com/Fourdee/DietPi/issues/520

[2016-09-19 16:09] #514 closed, assigned to Fourdee, k-plan

[2016-09-19 16:28] Fourdee commented on #520
@Midwan

Here are the current v2 installed binaries, and their creation date (should be latest):

[code]

Would you also be able to test the updated AmiBerry image installation (works for me, but would like the go ahead from you): http://dietpi.com/downloads/testing/DietPi-AmiBerry_RPi-armv6-(Jessie).7z ?

Includes these main tickets:
- https://github.com/Fourdee/DietPi/issues/513
- https://github

[2016-09-19 18:24] midwan commented on #520
@Fourdee I'll be testing these tonight.
Meanwhile, another bug in the GUI navigation was reported earlier today, so I'd like to fix that as well and provide you with new binaries. It should be ready later tonight or tomorrow at the latest, if that's ok?

[2016-09-19 18:58] Fourdee commented on #520
@midwan

If you can get it to me before tomorrow evening, all good and i'll update it before release 👍

[2016-09-19 18:59] midwan commented on #520
Done!

[2016-09-19 21:28] midwan commented on #520
@Fourdee
New binaries are now uploaded. These include the fixes for the keyboard Navigation in the GUI, which caused freezes.

[2016-09-20 12:07] Fourdee commented on #520
@midwan

👍
New zip uploaded. I will run a test AmiBerry image installation before release.

[2016-09-20 17:11] #520 closed, assigned to Fourdee

[2016-09-20 19:03] k-plan commented on #514
@Fourdee

OrangePi One is missing in: [README.md ](https://github.com/Fourdee/DietPi/blob/master/README.md)

[2016-09-20 19:16] Fourdee commented on #514
@k-plan

Sorted, good spot 👍

[2016-09-20 20:38] Fourdee opened #522 "DietPi-Software | clean up smb.conf"

[2016-09-21 02:59] oshank commented on #425
I have exactly what you want. I was in a similar situation as you, followed this tutorial, https://gist.github.com/superjamie/ac55b6d2c080582a3e64. Made a few scripts to flush iptables and make sure that the VPN is always connected. Check out the comment towards the bottom with the script to flush and set the iptables.

[2016-09-21 03:39] ghost commented on #425
That's an interesting tutorial thanks for posting. Although I would keep in mind it will slow your connection to the Internet and your internal network down due to the 100 Mb ethernet port on the raspberry pi.

[2016-09-21 04:02] oshank commented on #425
This is true, I do not get great speed. Close to 2 or 3 MB down with transmission.

[2016-09-21 04:37] ghost commented on #494
@k-plan I see your frustration and also there updating the client soon. Take a look at their blog!
http://blog.urbackup.org/

[2016-09-21 04:50] ghost opened #523 "DietPi-Drive Manager | Loss of file/folder permissions during move of user data"
Upon following [instructions](http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=65#p65) when setting the file path to "/mnt/dietpi_userdata/urbackup" or "/mnt/usb_1/urbackup".

Error code suggests UrBackup application does not have the proper permissions to write to urbackup folders.

**Error as detailed in web interface.**
The directory where UrBackup will save backups is inaccessible. Please fix t

[2016-09-21 12:13] Fourdee commented on #523
@Zone22

Great report 👍

We actually set permissions for the data store directory during installation:

[code]

Most likely, we need to apply to the physical location `/mnt/usb_1` aswell as the symlink `/mnt/dietpi_userdata`. I'll run a test to check.

[2016-09-21 15:00] Fourdee opened #524 "DietPi-Software | DXX-Rebirth. Descent 1/2."
As title.

[2016-09-21 16:42] Fourdee commented on #523
@Zone22

Tested on a fresh installation, Odroid C2. Permissions for me, are set correctly during installation:

[code]

Which:
- device?
- format type on usb drive?

[2016-09-21 16:54] ghost commented on #523
dietpi-drive_manager was used.
- Odroid C2
- btrfs

[2016-09-21 17:21] Fourdee commented on #524
Completed.

[2016-09-21 17:21] #524 closed, assigned to Fourdee

[2016-09-21 18:00] ghost commented on #523
@Fourdee
I'm experiencing the same issues with owncloud as well with file permissions.
The use of 'dietpi-drive_manager' resets permissions.

[2016-09-21 20:25] Fourdee opened #525 "DietPi-Update | Add warning regarding system updates, or, dietpi-backup force"
To prevent issues such as: http://dietpi.com/phpbb/viewtopic.php?f=11&t=689

The benefit of DietPi is we use standard linux configurations and commands. The downside is we can't possibly accommodate/predict every possible combination of end user manual and custom configurations to linux system files, during the update.
#### Therefore, we either:
- Add a warning regarding updating DietPi. Stating t

[2016-09-22 12:51] Fourdee commented on #525
This should cover it. `dietpi-update` when update is available:
![image](https://cloud.githubusercontent.com/assets/7077026/18748769/b449391c-80cb-11e6-8a11-c0629559517c.png)

[2016-09-22 14:36] Fourdee commented on #523
@Zone22

Ok, did the following test on fresh installation:
- Format drive to btrfs (userdata automatically moved during 1st run to `/mnt/usb_1`)
- Install Owncloud and UrBackup

Permissions set fine for me:

[code]

@Zone22
With owncloud, did you use `/mnt/dietpi_userdata/owncloud_data` during the wizard, as per http://dietpi.com/phpbb/viewtopic.php?f=8&t=5#p47?

Again urbackup looks fine.

Is the

[2016-09-22 15:27] Fourdee commented on #525
Marking as closed.

[2016-09-22 15:27] #525 closed, assigned to Fourdee

[2016-09-22 15:48] #451 closed, assigned to nobody

[2016-09-22 15:49] #522 closed, assigned to nobody

[2016-09-22 15:53] Fourdee opened #526 "DietPi-Software | Chromium with HW accell"

[2016-09-22 15:54] Fourdee commented on #526
Currently (red = disabled, yellow = issue):
- Url to check status = chrome://gpu
- 🈯 RPi 2/3 using RPi openGL driver.
- 🈺  Pine A64 ARM64.
  - Software render.
- 🈺 Odroid C2 ARM64.
  - Hardware render with OpenGLES.
  - Playback stutters after exiting full screen.
  - Mouse flickers

[2016-09-23 03:47] ghost commented on #523
@Fourdee
I apologize for this being so irksome.

I've also tested this repeatedly with a fresh install.  I'm at a bit of a loss.

Reading your above post this stuck out to me in bold.
'''Format drive to btrfs (userdata **automatically** moved during **1st run to** /mnt/usb_1)'''

I didn't realize there was an option for the first run experience to format btrfs/GPT  and move user data automatically

[2016-09-23 09:41] Fourdee commented on #523
@Zone22

We have a var in `dietpi.txt`: `dietpi_userdata_basedirectory=Auto`https://github.com/Fourdee/DietPi/blob/master/dietpi.txt#L171-L176

In DietPi-Software:
If the var is `Auto` during 1st run setup, and, a USB drive is attached and mounted (regardless of filesystem type), DietPi will automatically setup your user data for `/mnt/usb_1`. If not, it stays on SD.

If the drive source is FAT, t

[2016-09-23 10:32] Fourdee commented on #523
Ok, found it:
- Permissions are not preserved during moving of user data, across multiple filesystem types.
- If the drive is FAT or HFS+. Urbackup throws the permission error. Cant set permissions on FAT or HFS+ drives.

Options:
-  🈴 disable FAT/HFS+ formatting and support. Nope.
-  🈺 find a way to mount FAT/HFS+ drives that ignores permissions and allows all access.
-  🈴 `cp` and preserve permi

[2016-09-23 14:08] Fourdee commented on #523
To cover all filesystems:
- USB drives will be mounted with no permissions in `/etc/fstab` by default.

To cover moving of user data back to SD:
- After the data transfer is completed, `dietpi-software setpermissions` will be run which re-applies permissions for known software.

I've tested with Owncloud + FAT/BTRFS/EXT4 formats and moving user data across all of them and back to SD. All working f

[2016-09-23 15:31] Fourdee commented on #516
@oshank

DietPi v132:
`dietpi-software` will now exit on a failed apt installation, rather than continue. This will prevent any further changes (including uninstalls) from occurring.

[2016-09-23 15:52] #516 closed, assigned to Fourdee

[2016-09-23 18:14] Fourdee commented on #523
EXT4 mounts fail if `umask=0000` is set. Further testing required.

[2016-09-24 10:41] Fourdee opened #527 "DietPi-Software | NoMachine fails to install"
Due to broken/removed URL links for download by nomachine.
Host on DietPi.com

[2016-09-24 10:57] Fourdee commented on #523
EXT4 source, copy existing user/chmod permissions:
- 🈺  ntfs. No user permissions copied or supported by default mount options. However, defaults to 777 (all access)
- 🈺 btrfs. Yes, but requires `cp -p`
- 🈴 vfat.
- 🈺 hfs+.  Yes, but requires `cp -p`

[2016-09-24 11:49] Fourdee commented on #523
Reworked moving userdata:
- DietPi will attempt to preserve existing file permissions, if supported by target filesystem.
- At the end of the transfer, DietPi-Software will apply user file/folder permissions for known software in the database.

To Do:
- Work out a way of mounting FAT32 and with no permissions, without breaking auto mount system (eg: ext4 fails to mount)
  Not much can be done abou

[2016-09-24 12:55] #523 closed, assigned to Fourdee

[2016-09-24 12:56] Fourdee commented on #527
https://github.com/Fourdee/DietPi/commit/cd0888cfc5ee458c62c33df8fe8846961eba2bf9

[2016-09-24 12:56] #527 closed, assigned to Fourdee

[2016-09-24 14:25] Fourdee commented on #526
As mentioned in the Online docs: http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=3011#p3011. Performance may vary per device:

[2016-09-24 14:25] #526 closed, assigned to Fourdee

[2016-09-25 05:05] pfeerick opened #528 "Pine A64 | Bluetooth support for add-on module"
[I'll add the link here to the pine64 forum post once it is available]

When trying to enable on the Bluetooth on the DietPi distro using the same steps that worked for the Debian Jessie distro, I had no luck. You can see the [steps needed here (from my notes)](https://www.evernote.com/shard/s1/sh/cb4b9f07-e182-4abf-8ee3-5db105192626/3a8d6c901cc8acab).

I have come to believe after examining the `

[2016-09-25 09:02] sootstone commented on #423
This would be cool! It might just be that OwnCloud is frustrating enough that any alternative seems like a good idea, but I do prefer the look of where this is heading. Let me know how it's going, I'd be happy to help!

[2016-09-25 13:00] Fourdee commented on #423
- 🈯 Lighttpd
- 🈯 Nginx
- 🈯 Apache2
- 🈯 Data store = `/mnt/dietpi_userdata/nextcloud_data`
- http://ip/nextcloud
- username = admin
- pass = dietpi
- 🈯 online doc = http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=3026#p3026

[2016-09-25 14:40] Fourdee commented on #423
@sootstone
Completed. Available in next release (DietPi v132).

[2016-09-25 14:40] #423 closed, assigned to Fourdee

[2016-09-26 01:04] joaofl commented on #269
The same is happening here with my XU4. But noting that I don't use cloudshell, neither CEC.
The issue is the same: interface lack of responsiveness after some time idle.

This means: a send arrow commands, and the interface reacts sometimes 1 minute later. But if u send many commands, they actually get buffered, and are executed suddenly all at once.
It take a while to navigate to a file, but onc

[2016-09-26 01:17] mknrls commented on #392
will this be added sometime soon or still being tested?

[2016-09-26 07:58] DasClarky commented on #269
To add I never resolved this and stopped using Kodi but would love to be able to again.

[2016-09-26 11:27] Fourdee commented on #269
@joaofl @hydrouk

Hi guys,

Thanks for letting us know 👍

I'll need to run some tests to try and replicate. Some questions:
- What media are you guys playing, h264?
- Roughly how long before you experience input latency? (eg: 1hour of play, then arrow keys are delayed)
- Roughly how long before you experience input hang/buffering?

note to self: Seems to crop up alot, dropping frames, need to look

[2016-09-26 11:56] Fourdee opened #530 "Note to self: awl image"

[2016-09-26 12:38] DasClarky commented on #269
I play all kinds of media from local and remote locations

[2016-09-26 12:56] joaofl commented on #269
@Fourdee
like  hydrouk sayd, I also play all kinds of media, and it doesn't seem to
be related to that. But I'll take a look.

I would say that in 2hrs, you can already feel it. For example, after
watching  a movie.

I notice that very often, CPU usage is around 10 to 25% even when doing nothing, which means that
its taking almost 100% of one of the 8 cores. Seems to be some overflow, or
some infi

[2016-09-26 15:24] ghost opened #531 "DietPi-First Run Setup | USB drive fails to format."
Tested on a fresh installation, Odroid C2. with v132

Previously Formatted Hard Drive:
GTP
btrfs

[code]

Happens during _first run_ when setting up the hard drive.

[2016-09-26 16:54] joaofl commented on #269
@Fourdee
Just to confirm the last media I played is coded H264 MPEG 4 AVC

[2016-09-26 17:00] joaofl commented on #269
@Fourdee
Forgot to mention another issue/symptom I'm having, which I'm not sure is related to that or not.

Sometimes, in the middle of the video playback, the image simply freezes, but the audio and subtitles playback continues. To solve the issue I have to rewind before the freezing point, and play it again. Not aways works. It seems that I have to rewind enough to force some re-caching, otherwi

[2016-09-27 10:08] Fourdee opened #532 "DietPi-Software | Installing Kodi clears asound.conf/no sound"

[2016-09-27 10:09] Fourdee commented on #531
@Zone22
Thanks, will take a look 👍

[2016-09-27 10:18] Fourdee commented on #392
@mknrls

Not started yet. I'll take a look at @joaofl notes .

[2016-09-27 13:14] Fourdee commented on #392
No ARM64 packages in repo: http://download.webmin.com/download/repository/dists/sarge/contrib/

Will use `wget http://www.webmin.com/download/deb/webmin-current.deb -O package.deb` instead

[2016-09-27 14:00] sootstone opened #533 "dietpi.txt | Global password var: To be used in software installations, and, root password set on 1st run."
As described here https://dietpi.com/phpbb/viewtopic.php?p=3045#p3045

A solution might be to have a window after choosing to install 'Nextcloud' that gave you the option to change the default values for installing Nextcloud via the command line if required, if this is possible.

Something along these lines:

[code]

[2016-09-27 14:21] sootstone commented on #533
Potential problem with not being able to change "dietpi" as root password for MySQL database before installation (no prior webserver installed).

[2016-09-27 14:39] Fourdee commented on #532
Unable to replicate, will post on forum.

[2016-09-27 14:39] #532 closed, assigned to Fourdee

[2016-09-27 15:06] Fourdee commented on #531
Will set GPT partition format as default to support larger drives.

[2016-09-27 15:29] ghost commented on #533
I think it would be prudent to allow users to put their preference for root passwords either for the system And/or MySQL database per database in dietpi.txt. This would be used during the first run set up to automatically install software along with the desired root and database passwords.

[2016-09-27 15:37] ghost commented on #392
Webmin Is pretty robust but I've had to find alternatives in the past. In part because Webmin and some major security flaws that are unresolved and It's bloated. That being said to each their own.

If an alternative is needed check out [Ajenti](http://ajenti.org/). It's open source. very lightweight, runs on Debian, Ubuntu, CentOS/RHEL, FreeBSD (experimental), Raspbian. The icing on top of the cak

[2016-09-27 15:48] ghost commented on #531
Would it be possible to define the filing system and partition format in dietpi.txt for first boot?
A check would be needed if the filing system and partition format already exists. In that case it would skip formatting.

[2016-09-27 15:51] #493 closed, assigned to nobody

[2016-09-27 16:37] sootstone commented on #533
@Zone22

Agree, that sounds good.

[2016-09-28 10:38] Fourdee commented on #533
@Zone22 @sootstone
Yep, great suggestion, I think we could do a `global_password=xxxx` in `dietpi.txt` and apply to all software and root login.

[2016-09-28 10:46] Fourdee commented on #392
@Zone22

Looks interesting 👍  Please create a Git ticket and i'll look into it.

[2016-09-28 10:48] Fourdee commented on #531
@Zone22

Good suggestion 👍, should be fine.  Please create a separate Git ticket for this.

[2016-09-28 10:52] #392 closed, assigned to Fourdee

[2016-09-28 10:52] #531 closed, assigned to Fourdee

[2016-09-28 12:00] Fourdee commented on #440
Leaving this as disabled. Not worth the risk of creating possible filesystem corruption to users system.

[2016-09-28 12:00] #440 closed, assigned to nobody

[2016-09-28 12:08] Fourdee opened #534 "DietPi-Software | Emby fails to install (mono repo, armv6)"
Caused by mono repo + packages:

[code]

[2016-09-28 12:12] Fourdee commented on #283
libcec3 now installed with Kodi.

[2016-09-28 12:12] #283 closed, assigned to rhkean

[2016-09-28 12:15] #421 closed, assigned to nobody

[2016-09-28 12:31] Fourdee commented on #477
When creating DietPi images, based on ARMbian, we always use the default fex settings.
As far as I can tell 912MHz is not currently enforced by ARMbian: https://github.com/igorpecovnik/lib/blob/e6903c1fd4cbec222a2e584db906fc9c92e20a22/config/fex/nanopineo.fex#L738-L752

Please correct me if i'am incorrect.

[2016-09-28 12:31] #477 closed, assigned to nobody

[2016-09-28 12:36] ThomasKaiser commented on #477
912 MHz is default for both NEO and AIR. As already explained we use `cpufrequtils`. Users are free to do whatever they want, we even include a tool called `h3consumption` to adjust this to get really lightweight operation on all supported H3 devices or to allow NEO/AIR users override our defaults.

BTW: NEO PCB rev 1.1 fixed heat issues partially and I would assume that's the same with AIR.

[2016-09-28 12:57] Fourdee opened #535 "General | Consider Interactive as default CPU gov"
Interactive on default settings appears more responsive, than Ondemand with 50% throttle up usage and 25ms sample rate (Default on Raspbian is 100ms).

Tested on Odroid C2:

[code]

Another simple test to check response times:

[code]

Ondemand:

[code]

Interactive:

[code]

[2016-09-28 14:14] Fourdee commented on #535
Visibly more responsive on various devices.

[2016-09-28 14:15] #535 closed, assigned to Fourdee

[2016-09-28 14:34] ghost opened #536 "DietPi-Software | Add Ajenti a web admin panel"
A web admin panel [Ajenti](http://ajenti.org/). It's open source. very lightweight, runs on Debian, Ubuntu, CentOS/RHEL, FreeBSD (experimental), Raspbian. The icing on top of the cake is the the web UI is a nice modern polished look and doesn't damage your existing configuration files.

[2016-09-28 14:35] Fourdee commented on #535
RPi kernel lacks Interactive:
![image](https://cloud.githubusercontent.com/assets/7077026/18917830/cf0081ba-8590-11e6-97e9-87e4ffbb93b7.png)

[2016-09-28 14:37] ghost opened #537 "Dietpi.txt | Set filing system and partition format for 1st run."
Set filing system and partition format in dietpi.txt for first boot. A check would be needed if the filing system and partition format already exists. In that case it would skip formatting.

[2016-09-28 15:11] Fourdee commented on #534
Test install on RPi 3 was successful. Issue seems limited to armv6 support/packages.

[2016-09-28 15:58] Fourdee commented on #181
REQUIRES:
- NODEJS
- L*SP
- Python
- build-essential
- GIT
- `ucf`

[code]

[code]

😆, wtf, couldn't be more wrong if it tried:

[code]

[2016-09-28 16:21] ghost commented on #533
@Fourdee
Would it be too much trouble to have a separate password for the root and databases.
root_password=xxxx in dietpi.txt apply root login.
global_database_password=xxxx in dietpi.txt apply to all software.

[2016-09-28 16:39] joaofl commented on #536
Some relevant info:

Missing dependencies:
apt install python-dev python-pip
pip install gevent --upgrade

They have an automated installing script, that includes the generating self-signed certificate, and service installing, by running:
wget -O- https://raw.github.com/ajenti/ajenti/1.x/scripts/install-ubuntu.sh | sh

from: [here](http://support.ajenti.org/topics/1121-installing-on-ubuntu/)

Conf

[2016-09-28 16:47] Fourdee commented on #533
@Zone22

Should be fine. Great idea 👍

[2016-09-28 17:35] Fourdee commented on #181
RPi 3 + Odroid C2, fails to build

[code]

[2016-09-29 09:23] ideomux opened #538 "Gogs documentation and port forwarding clarification"
Everything works great. Include a step mentioning forwarding port 3000 TCP would be helpful.

[2016-09-29 12:26] Fourdee commented on #534
Not much we can do about this from our end, will need to wait for package/repo maintainers to provide a fix (or support) for armv6.

[2016-09-29 15:04] Fourdee commented on #533
Notes:

[code]

Software passwords changed to `$GLOBAL_PW`
- 🈯 MySQL
- 🈯 MariaDB
- 🈯 PhpMyAdmin
- 🈯 RaspControl
- 🈯 Cuberite
- 🈴 qBitTorrent `WebUI\Password_ha1=@ByteArray(5e434b0004be6970cf8878fcf929baba)` | Will always be `dietpi`, cant find a method to convert string to ha1
- 🈯 Transmission
- 🈯 Deluge
- 🈯 Nextcloud

[2016-09-29 18:59] Fourdee commented on #533
@Zone22 @sootstone

May need to reconsider having 2 vars here. Some software installations use the root login (eg: samba/proftpd), others will use the global password (eg: mysql).
This will only confuse the user and I can see users changing 1 password, but not the other.
Documentation wise, this is also a nightmare.

I believe 1 global password should be used. A simplified experience for the user.

[2016-09-29 20:55] sootstone commented on #533
@Fourdee

I sort of agree, while I would personally like to have two separate passwords for security reasons, this would complicate the user experience. Any passwords the user wished to change, could still be done manually. Would this mean keeping the option to change the root password in dietpi-config?

Just wanted to check since the topic of this issue has changed since I started it (which I'm f

[2016-09-30 11:12] Fourdee commented on #533
@sootstone

Yep. I'll add a notice when changing password, inform the user that software which uses the system `root` account, will be affected by a password change.

With NextCloud, the default username when loading the web interface for the 1st time is `admin`. The username is already in the text box. So it felt unnecessary to change it from `admin` to anything else.

In regards to having a user

[2016-09-30 12:01] Fourdee commented on #537
@Zone22

We already have a AUTO_format feature in `dietpi.txt`:

So currently:
- User creates file `/boot/Automation_Format_My_Usb_Drive` before 1st boot
- Boots system
- DietPi will wait for attached drive, then format EXT4
- GPT partition type (as of v133)
- Does not check for existing partition, format only. Checking for this could be risky, if the detection fails on say a unknown filesystem, t

[2016-09-30 12:11] Fourdee commented on #534
Disabled Emby installation option for ARMv6.

[2016-09-30 14:49] ghost commented on #533
@Fourdee
First off I think you should do what you think is best for the project. Although here's my two cents. I can see the issue of the complicating things for the end-user. The default password is what it has been thus far 'dietpi'. The average user has been fine with this and it should stay that way. Dietpi.txt is more of an advanced config. Therefore I think it's reasonable to expect a higher

[2016-09-30 14:54] Fourdee commented on #519
![image](https://cloud.githubusercontent.com/assets/7077026/18995885/2cb684f8-8726-11e6-8dd7-e5b65176894a.png)
![image](https://cloud.githubusercontent.com/assets/7077026/18995890/302120bc-8726-11e6-8d1b-ed3098a496d7.png)

[2016-09-30 14:54] #519 closed, assigned to Fourdee

[2016-09-30 15:00] ghost commented on #537
I don't understand this step. Why would the user need to create the file?

Otherwise it seems great to me.

[2016-09-30 15:09] Fourdee commented on #537
@Zone22

To prevent abuse, misuse and accidentally formatting their drive.
I also would prefer `AUTO_Format_Drive=1`, but by forcing the user to create a file named `Automation_Format_My_Usb_Drive`, should prevent accidental formatting and user going "OMG DIETPI DELETE MY DRIVE, WTF BBQ" on social and giving DietPi a bad name 😉

I'll add `AUTO_Dedicated_Usb_Drive_Format_Filesystem=` in.

[2016-09-30 15:30] Fourdee commented on #537
Completed.

[2016-09-30 15:30] #537 closed, assigned to nobody

[2016-09-30 15:31] Fourdee commented on #538
@ideomux

For external access to gogs web interface?

[2016-09-30 17:52] Fourdee commented on #266
Jasper

[code]

[2016-09-30 18:08] sootstone commented on #533
@Zone22 @Fourdee

Agree you should do what is best for the project, while I think it's very kind, please don't feel the need to add possibly unwanted features just for my sake.

As a reference, I've been using DietPi on and off for about 4 months and have installed it probably 15+ times, I only just found out about dietpi.txt through this thread.

[2016-10-01 09:22] ideomux commented on #538
yes. (though I guess it's safe to assume most users would understand port forwarding)

[2016-10-01 15:36] thechildofroth opened #539 "No Local Sound"
Having issues with no local sound from Subsonic/DAC again, can't see any issues with config

Bug report filled: 007bb5db-ab02-4525-9a09-589253418eba-1

root@subsonic:~# aplay -l
***\* List of PLAYBACK Hardware Devices ****
card 0: sndrpihifiberry [snd_rpi_hifiberry_dac], device 0: HifiBerry DAC HiFi pcm5102a-hifi-0 []
  Subdevices: 0/1
  Subdevice #0: subdevice #0

root@subsonic:~# cat /etc/asound

[2016-10-02 08:02] RajatNair opened #540 "DietPi-DriveManager does not auto detect more than one partition on external USB"
Hi,

Just wanted to report that the DietPi-DriveManager is only detecting 1st/1 partition from an external USB drive - during initial setup and later while using "refresh" feature.

I manually mounted the partition onto /mnt/usb_4 and re-ran refresh but "Slot 4" did not get filled (Slots 1 - 3 contained external USB drives with 1 partition)

Additional info -
Running on OdroidC2 - DietPi v132

[2016-10-02 08:35] hadifarnoud commented on #277
would be great to have this option in config as well.

[2016-10-02 11:38] Fourdee commented on #533
@sootstone

dietpi.txt | Applied during installation

[code]

Yep, its one of those hidden goodies 👍

[2016-10-02 11:58] Fourdee commented on #540
@RajatNair

Thanks for the report.

This is by design.
Its mainly to simplify the user experience. We expect users to use the whole drive (eg: external WD elements) with DietPi.
By adding partition support into `dietpi-drive_manager` it would complicate the interface massively, confusing most users.
We would also have to generate multiple `/mnt/usb_1p[0-9]` mount points, and add auto mount in fsta

[2016-10-02 11:58] #540 closed, assigned to nobody

[2016-10-02 12:03] Fourdee commented on #538
@ideomux

Added to Docs 👍
Not sure if UDP is needed, but no harm.

[2016-10-02 12:03] #538 closed, assigned to nobody

[2016-10-02 12:05] Fourdee commented on #277
@hadifarnoud

In `dietpi-config` and `dietpi.txt`  to enable/disable screen blanking?

[2016-10-02 13:01] Fourdee opened #541 "DietPi-Config | Add ability to tweak ondemand sampling rates"
Mainly for RPi as it does not have interactive CPU gov.
![image](https://cloud.githubusercontent.com/assets/7077026/19020714/9fd0e036-88a8-11e6-8dfa-8d191f861984.png)

[2016-10-02 13:01] #541 closed, assigned to Fourdee

[2016-10-02 13:34] Fourdee commented on #539
@thechildofroth

Strange, everything looks ok. Did you use dietpi-config to set the soundcard?

Does `speaker-test -c2` output any audio or errors?

[2016-10-02 13:35] RajatNair opened #542 "Documentation update for Samba"
Was following instructions documented here - http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&start=10#p56 for Samba. After making changes to conf file and trying to start the service using -
`service samba start`
following error was throw -

`service smbd start` or `systemctl restart smbd` works.

Guess we should update Samba docs.

[2016-10-02 13:45] Fourdee commented on #542
@RajatNair

Great find, you've also uncovered a bug 👍

`smbd` and `nmbd` services were not being applied correctly by `dietpi-services`

I've updated online doc: http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=56#p56
`systemctl restart smbd nmbd`

[2016-10-02 13:48] #542 closed, assigned to Fourdee

[2016-10-02 13:59] #533 closed, assigned to Fourdee

[2016-10-02 14:15] RajatNair commented on #542
I just came back to add that dietpi-services was throwing an error cause of Samba service -

While @Fourdee already fixed it. That was quick! Nice work 👍

[2016-10-02 16:36] Fourdee opened #543 "DietPi-Software | ruTorrent not saving changes to "$HOME"/.rtorrent.rc"

[2016-10-03 00:57] Dalto1 commented on #534
Dont know if this can help, but i think i got mono on my pine64

http://dietpi.com/phpbb/viewtopic.php?f=11&t=720

[2016-10-03 10:59] Fourdee commented on #543
Strange, even when we:
- `declare FP_DIETPI_USERDATA_DIRECTORY='/mnt/dietpi_userdata'`
- move the config outside of `/root`
- give it `www-data` and `775` permissions
- run rtorrent with custom config location `/usr/bin/rtorrent -n -o import=$FP_DIETPI_USERDATA_DIRECTORY/.rtorrent.rc`

does not save changes to `port`:

[code]

[code]

[2016-10-03 12:16] Fourdee commented on #534
@Dalto1

Legend 👍

ARM64 works, but armv6 still fails on beta branch:

[code]

[2016-10-03 13:35] Fourdee commented on #543
As per: https://github.com/Novik/ruTorrent/issues/1331#issuecomment-251084431

Settings made in ruTorrent are not saved. Applied only to the current instance of rTorrent.
ruTorrent currently lacks the feature of saving settings to the `.rtorrent.rc` rTorrent config file.

Users will need to manually edit `"$HOME"/.rtorrent.rc`

[2016-10-03 13:35] #543 closed, assigned to nobody

[2016-10-03 14:07] Dalto1 commented on #534
Yeah, i read to fast LOL. but still helped you for ARM64 :)

[2016-10-03 16:33] thechildofroth commented on #539
Aha, sorry please close / delete / mark as fixed

User error

/redface

On 2 October 2016 at 14:34, Dan notifications@github.com wrote:

[2016-10-04 01:53] tmose opened #544 "PINE64 | 1Gbit network unstable"
When installing the latest version of DietPI on pine 64 2 gig the installer goes into a never ending loop.  This only seems to happen with the newest installer and not a previous version.

[2016-10-04 03:27] pfeerick opened #545 "DietPi-Software | UrBackup default backup directory"
Just did an update to v132 on a Pine64, and thought I'd install some more software bits whilst I was at it. I installed UrBackup, and noticed when I started it up the first time that it had the following error message.

[code]

I can see that a directory was created under /mnt/dietpi_userdata/urbackup, and the [installation instructions do mentioned changing the path](http://dietpi.com/phpbb/viewt

[2016-10-04 08:57] pfeerick opened #546 "DietPi-Software | nginx maximum upload size"
After upgrading to v132, I tried out Pydio with a nginx webserver backend, and I encountered an error ([413 request entity too large](http://www.cyberciti.biz/faq/linux-unix-bsd-nginx-413-request-entity-too-large/)) when uploading files larger than 2MB. It appears to be a bug (or a feature if you look at it that way) in the nginx configuration. Editing `/etc/nginx/nginx.conf` to have `client_max_b

[2016-10-04 10:29] Fourdee commented on #546
@pfeerick

Great find, thanks for letting us know 👍 I'll add that into the nginx conf by default.

Confirmed with NextCloud + Nginx.  `client_max_body_size` must be set, else, 2MB upload limit.

[2016-10-04 12:20] Fourdee commented on #546
Ok, done.

`client_max_body_size` will be set to same value as `php_max_upload_size="$(( $(php -r 'print(PHP_INT_MAX);') / 1024 / 1024))M"`

Thanks again @pfeerick , great stuff 👍

[2016-10-04 12:20] #546 closed, assigned to pfeerick, Fourdee

[2016-10-04 14:42] Fourdee commented on #544
@tmose

Thanks for the report.
Is this in regards to the automatic "first run setup" of DietPi, or, installing software in `dietpi-software`?

[2016-10-04 14:49] Fourdee commented on #545
@pfeerick
Yep, although, i was unsuccessful in finding a urbackup configuration file/method/option , to have `/mnt/dietpi_userdata` applied by DietPi.

I'll need to take another look

[2016-10-04 15:49] tmose commented on #544
I have not been able to get past it so it would be on the "first run setup".

Thomas M. Ose
Ose Micro Solutions, Inc.

On Tue, Oct 4, 2016 at 9:42 AM, Dan notifications@github.com wrote:

[2016-10-04 19:21] Fourdee opened #547 "BPi M2+, onboard WiFi not functional"
Resolve broken WiFi to remove from beta status

[2016-10-05 08:54] pfeerick commented on #546
No worries... thanks for the quick patch! :D I was hoping you'd use the PHP max upload size value for that also!  👍

[2016-10-05 10:27] pfeerick commented on #545
Yeah, when I went digging around for config files, it looked like it was probably a database file, so I thought it was probably a 'too hard to change' value so thus only worthy of a first run configuration note.  After a little more digging around, I came across [this documentation on the config database](https://urbackup.atlassian.net/wiki/display/US/Troubleshooting+UrBackup+Server+Database), so

[2016-10-05 13:44] Fourdee commented on #544
@tmose

I was unable to replicate the endless loop in my tests on v127 Pine image. Installed fine from start to finish.

Is there any chance you could provide more information on the endless loop, and/or, take a screenshot/picture if possible?

[2016-10-05 13:56] Fourdee commented on #547
module `dhd` hangs system on `modprobe dhd`
boot `systemd-rftimerkill` fails, stuck in endless loop. Most likley `dhd` module.

[code]

[2016-10-05 15:10] tmose commented on #544
Dan,

I will try again and see what I can capture.  Is there a log file created
that I can send you.

The install worked on one board but loops on a 2 gig and 1 gig board.

Thomas M. Ose
Ose Micro Solutions, Inc.

On Wed, Oct 5, 2016 at 8:44 AM, Dan notifications@github.com wrote:

[2016-10-05 15:13] tmose commented on #544
Dan ,

One more bit of info,  I am using a ScanDiskUltra 32gb class10 and no wifi
or bluetooth.

Thomas M. Ose
Ose Micro Solutions, Inc.

On Wed, Oct 5, 2016 at 10:10 AM, Thomas Ose tmo@osemicro.com wrote:

[2016-10-05 17:08] tmose commented on #544
Dan,

Just finished a clean install of v127.  After agreeing to the software
license, the install goes back to the command line and loops.  I then
entered ^C to interrupt the loop and then restarted DietPi-Software.  Did
not select any options and started the install.  At the command prompt I
got the following error "Failing Apt-get simulation".  I then did a
"apt-get install -f" followed by a "ap

[2016-10-05 17:58] tmose commented on #544
Dan,

Thought things were good but tried to install mate and it failed badly now
not recognizing keyboard after reboot.   I will wait until you look at this
before trying again.

Thomas M. Ose
Ose Micro Solutions, Inc.

On Wed, Oct 5, 2016 at 12:08 PM, Thomas Ose tmo@osemicro.com wrote:

[2016-10-05 19:02] Fourdee commented on #544
@tmose

Hi Thomas, thanks for the updated information.

It looks like a possible network related issue. Possibly dropping connection from time to time.

This could indicate a hardware failure or insufficient power supply.

Thomas:
- Which make/model of power supply are you using in these tests? (eg: 5v 2amp Samsung phone charger)
- It might be worth trying other power supplies (if you have one ava

[2016-10-05 19:15] Fourdee opened #548 "Personal notes | My little file"
#### dietpi-update mirror
Can be dietpi.com. So:
- Release update
- Download https://github.com/MichaIng/DietPi/archive/master.zip > ```/var/www/downloads/dietpi-update_mirror/master/```
- Download https://github.com/MichaIng/DietPi/raw/master/dietpi/server_version > ```/var/www/downloads/dietpi-update_mirror/master/```

[code]

#### Odroid Magazine Mirror:
- update - ```/var/www/downloads/misc/od

[2016-10-06 11:38] Fourdee commented on #545
Found the value, cant seem to change it (i'am SQL novice):

[code]

Might be easier just to create the `.db` with the settings we need, then copy it during installation. This would also cover if the sql db isnt generated until web interface is accessed for 1st time.

[2016-10-06 19:14] Fourdee commented on #539
@thechildofroth

No worries. Thanks for letting us know 👍

[2016-10-06 19:14] #539 closed, assigned to nobody

[2016-10-06 19:27] Fourdee commented on #544
@tmose

1GB installed fine aswell for me. Unable to replicate the loop.
If you can get back to me regarding the following questions: https://github.com/Fourdee/DietPi/issues/544#issuecomment-251767824, when you can, i'd be grateful.

[2016-10-06 19:45] tmose commented on #544
Dan,

I tried again and this time did not use the ethernet connection but
connected the wifi card I had.  With wifi everything worked as expected. I
now think that my problem may be related to the faulty network chip issue
others were seeing, and may explain why under other distros I was only
getting 100 connection.

Any way to switch the network connection down to 100m, I can install with
Wifi bu

[2016-10-07 11:30] Fourdee commented on #544
@tmose

Ah yes, remember seeing a few forum posts on network issues. its also been confirmed by Pine officially as an issue.

http://forum.pine64.org/showthread.php?tid=835&pid=19704#pid19704

So your boards can still be used, i'll make a option in `dietpi.txt` that will force 100Mbit when set. Give me a day or two and i'll let you know when its ready for testing.

[2016-10-07 14:04] Fourdee commented on #544
@tmose

Ok, new image ready for testing where we can force 100mbit, please do the following:
- Download updated image: http://dietpi.com/downloads/testing/DietPi_PineA64-arm64-(Jessie).7z
- Extract and write to a SD card
- Before powering on. Open up `/boot` (the SDcard) and then open the file `dietpi.txt`
- Find this line and change the value to  `Ethernet_Force_Speed=100` (near the top)
- Save c

[2016-10-07 14:28] tmose commented on #544
Dan,

Will try to get to this over the weekend and get back to you with results.

Thanks for all the help.

Thomas M. Ose
Ose Micro Solutions, Inc.

On Fri, Oct 7, 2016 at 9:04 AM, Dan notifications@github.com wrote:

[2016-10-07 15:33] Fourdee commented on #545
Generated a .db, copied over the .db after a clean installation, doesn't like it, need another method:

[code]

[2016-10-07 16:55] tmose commented on #544
Dan,

Actually got some time to install.  Install works great with setting to
100.  Did notice Firefox did not start correctly but will work on that and
getting my application to run later.

Thanks again for all the help.

Thomas M. Ose
Ose Micro Solutions, Inc.

On Fri, Oct 7, 2016 at 9:28 AM, Thomas Ose tmo@osemicro.com wrote:

[2016-10-07 18:08] Fourdee commented on #544
@tmose

Excellent, thanks for letting us know 👍

Firefox binary on ARM64 is broken (segmentation fault if i remember correctly), same issues on Odroid C2. As a alternative, try installing Chromium instead:

[code]

[2016-10-08 00:16] pfeerick commented on #545
Hey... I was happy to complain about the problem... never said I was going to fix it! :-P

Ok, so I went and poked around sqlite, and bashed my head against a howto guide or two, and this is what I have come up with. Basically, you are updating something in the settings table to the value of /mnt/dietpi_userdata/urbackup when the key is backupfolder. Hence, you are updating the  backupfolder entry

[2016-10-08 10:13] Fourdee commented on #544
Marking this as closed. Please reopen if required.

[2016-10-08 10:13] #544 closed, assigned to Fourdee

[2016-10-08 11:32] Fourdee commented on #545
@pfeerick

😆 If it works, full credit to you in changelog, and, I owe you a beer 👍

`.deb` installation is `/var/urbackup/backup_server_settings.db`.
Sourcebuild (ARM64) is `/usr/local/var/urbackup/backup_server_settings.db`

Although, with `.deb` install, we set the following:

[code]

So its
- Only sourcebuilds (ARM64) that needs the sql change.
- Also need to install `sqlite3` during installati

[2016-10-08 11:49] #545 closed, assigned to pfeerick

[2016-10-08 13:28] Fourdee commented on #530
Back to forums.

[2016-10-08 13:28] #530 closed, assigned to Fourdee

[2016-10-09 00:03] pfeerick commented on #545
Fair enough... as you say, it looks like the database is in a state of flux during the first-run phase, so whilst the changes worked for me after that process, it b0rks things if you run it beforehand. And I only encountered it as the deb builds let you set the path, and that is only required on the ARM64 arch (hopefully not for too much longer). I suppose I could have a look at the initial databa

[2016-10-09 10:51] CGarces opened #550 "Add support for generic S905 devices"
Dietpi has support for Odroid C2 that use S905 soc.
Will be great add support for generic S905 and S905x devices sell as Android boxes.

Currently exist several builds from other projects that can be used as reference.

http://forum.armbian.com/index.php/topic/1143-armbian-for-amlogic-s905/
https://github.com/kszaq/LibreELEC.tv

The mainstream LibreELEC kernel 3.14 looks very good and is frequentl

[2016-10-09 12:03] Fourdee commented on #550
@CGarces
At 1st, i thought "We dont want to support this, its not worth it". Then I seen the price of one of these devices (£28).

Interesting, £28 for a Odroid C2 + Case + PSU + EMMC + WIFI: https://www.amazon.co.uk/Android-Amlogic-Cortex-Loaded-Player/dp/B01GPFEU8Q/ref=sr_1_1?s=electronics&ie=UTF8&qid=1476013925&sr=1-1&keywords=s905

So with DietPi currently, we setup our images on-top of existi

[2016-10-09 18:52] Fourdee commented on #475
`dietpi-drive_manager` hangs at start with Stretch for roughly 30 seconds.
- This occurs when `auto` entries for non-existent drives are enabled in `/etc/fstab`, in combination with ```x-systemd.automount```
- Setting ```ext4``` for each drive resolves the issue. Which is unexpected?

SystemD, hangs commands such as ```df``` (which our script uses), until systemD times out waiting for drives.
- Fi

[2016-10-11 14:03] Fourdee commented on #475
#### Notes:
- `dropbear` now supports SCP/SFTP by default (YAY!)
- PHP upgraded to php7

#

#### Webserver stack tests:

Jessie testing:
- Lighttpd + nextcloud = yes
- nginx + nextcloud = yes
- apache2 + nextcloud = yes
- nginx + owncloud = yes

Stretch testing:
- Lighttpd + Nextcloud = yes | old apc.php not functional, phpinfo shows enabled and active.
- nginx + nextcloud = yes
- apache2 + nextcl

[2016-10-11 18:01] Fourdee opened #551 "DietPi-Software | PiHole not blocking adverts"

[2016-10-11 18:28] keiser1080 commented on #312
@Thomas

This issue is closed.
Dietpie use no more loboris.
Dietpie use armbian.

Le 11 oct. 2016 7:02 PM, "Thomas Kaiser" notifications@github.com a
écrit :

[2016-10-11 20:22] keiser1080 commented on #312
I   better understand. I have no time to play with my orange pi or to test
anything.
But i remembrer the first thing i do when i have install dietpie, is to
create my user, and i think i have tested using my user and i can't promot
to root using the bug after the update.

Le 11 oct. 2016 8:43 PM, "Thomas Kaiser" notifications@github.com a
écrit :

[2016-10-11 21:17] ThomasKaiser commented on #312
@keiser1080

So you trust in default security settings of the distro you chose?

But is this supposed to have any real effect on a distro that relies on 'everything should be done as root' anyway? DietPi stores sensitive information in world-readable files by default (since the main dev might not be able to imagine that not everyone wants to do his daily work as root?). Does privileges separation

[2016-10-11 21:55] keiser1080 commented on #312
Every distro have avantages & disavnetage.
Dietpie is not fucused on the security.
I like dietpie because it is light, and it come wich a lot of usefull tools.
I have a lot of respect for the work done by fourdee.
I know it's a lot of time for a single men.

I think the security is not an issue you can create a non privilegied user,
But again you are free to chose another distri more focused on th

[2016-10-11 22:13] ThomasKaiser commented on #312
Absolument! But it's important to know them.

You know that you started this issue here with a link to my forum post? At the time we (Armbian team) were pretty confident that this issue is not that much of an issue at all (at least for the average user). We have the infrastructure to fix such stuff within hours but if that would've been not the case... we would've provided a work-around since it's

[2016-10-11 22:22] keiser1080 commented on #312
Yes i remembrer you.
You are very active in armbian forum.

I dont think it's censor, maybe  is not the best place to talk about this.
This discutions is more suitable on a forum.

Le 12 oct. 2016 12:13 AM, "Thomas Kaiser" notifications@github.com a
écrit :

[2016-10-12 12:49] Fourdee commented on #312
@ThomasKaiser

Not sure you are aware, but this ticket has been closed for over 5 months. If you had an issue with the way this ticket was handled, why didn't you make that clear when the ticket was active?

#

When I was taking time out of the DietPi project to help contribute to ARMbian source code, you continually raised comments of "not best security practice" in relation to DietPi. I asked yo

[2016-10-12 13:40] Fourdee opened #552 "DietPi-Software | ShairPort sync: Not visible as playback device on Mac & i[phone/pad]"

[2016-10-12 13:45] Fourdee opened #553 "DietPi-Software | iRedMail"

[2016-10-12 14:12] Fourdee opened #554 "DietPi-Software | Kodi fails with apt error"
Issue will be resolved with v134 release, however, fix can be applied on XU4's now by running the following command:

[code]

Then rerun `dietpi-software` and select Kodi for installation.

[2016-10-12 14:19] Fourdee commented on #554
Packing naming issue and conflict on XU4 with `libcec3*`.

XU4:

[code]

RPi:

[code]

[2016-10-12 14:36] Fourdee commented on #554
DietPi-Software software will no longer terminate, if libcec fails to install.
If `libcec3*` fails, `libcec3` install will be attempted.

[2016-10-12 14:36] #554 closed, assigned to Fourdee

[2016-10-12 14:53] Fourdee commented on #551
notes:
- DietPi-Software installation of PiHole is sucessful.
- The issues occur when using the curl method for official installation:
  `curl -L https://install.pi-hole.net | bash`
- Could be a DietPi issue, or PiHole official installer issue, needs further debugging.

[2016-10-12 14:56] Fourdee commented on #551
1st run of `gravity.sh` by official installer script:

[code]

System IP address is missing from the generated list in `/etc/pihole/gravity.list`, causing dnsmasq to fail loading the list: http://dietpi.com/phpbb/viewtopic.php?f=11&t=739&p=3218#p3225

Re-running `gravity.sh` resolves the issue: http://dietpi.com/phpbb/viewtopic.php?f=11&t=739&p=3218#p3226

basic-install.sh

[code]

[2016-10-12 15:13] Fourdee commented on #552
Unfortunately, I do not own any Apple products, so unable to test on those devices.

Although, the installation appears to be working correctly with AirFoil which uses AirPlay protocol:
![image](https://cloud.githubusercontent.com/assets/7077026/19315731/badef674-9096-11e6-8bde-fc1a5f022d3c.png)

[2016-10-12 16:50] Fourdee commented on #551
Replicated issue using Raspbian lite image + `curl -L https://install.pi-hole.net | bash`.

Will contact Pihole and let them know.

[2016-10-13 11:40] #551 closed, assigned to Fourdee

[2016-10-13 19:22] sootstone opened #555 "DietPi-Software | mailcow"
Know there is an interest in having a mailserver on DietPi, this could be an(other) option:
[https://github.com/andryyy/mailcow](https://github.com/andryyy/mailcow)

[2016-10-15 03:12] sytone opened #556 "DietPi-Software | Home Assistant"
This is a python based home automation platform. I am running it on my PINE64 board on dietpi.

I have had a quick look at the install scripts and may take this on myself. Suggestions on how to approach and good examples so I can cover install and updates.

https://home-assistant.io/

[2016-10-15 12:13] maxtox opened #557 "Integrating ioBroker.net in Homeautomation"
Hi,

could you please integrate ioBroker in Homeautomation...

it is quiet simple script.

depends on system we have to install node.js, pyton and buil-essentials (which is already a part of dietpi software i think):

Install Node.js

[code]

reference here...

http://www.iobroker.net/?page_id=5347&lang=en

After installation of node.js the command “node -v” should show the node.js version. if not

[2016-10-15 18:13] Fourdee opened #558 "XU4 fails to power on"
As reported by some XU4 users: http://dietpi.com/phpbb/viewtopic.php?f=11&t=707&p=3337#p3337

Unable to replicate on my system.

[2016-10-16 14:03] Fourdee commented on #416
Docs: http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=3327#p3327

[2016-10-16 14:09] Fourdee commented on #416
Completed

[2016-10-16 14:09] #416 closed, assigned to Fourdee

[2016-10-16 14:45] Fourdee commented on #556
@sytone

Looks interesting, if you wish to add this into DietPi-Software yourself, here is a walkthrough of the source code to complete this: https://github.com/Fourdee/DietPi/issues/490#issuecomment-244416570

[2016-10-16 16:30] Fourdee commented on #558
Re-created the DietPi image from scratch. On the off chance we had some corruptions on the base image due to FStrim a while back: http://dietpi.com/downloads/testing/DietPi_OdroidXU4-armv7-(Jessie).7z

Requires user testing: http://dietpi.com/phpbb/viewtopic.php?f=11&t=707&p=3361#p3361

Failing the above, would require users to test with Meveric's base image and try to replicate issue.

[2016-10-16 18:43] jbz-dev opened #560 "Dietpi-Software : Wallabag ?"
Hi,

I think wallabag could ne a good software to have on Dietpi.

Wallabag is a self-hostable software for saving web pages ans articles to read them later (FOSS alternative to Pocket)

http://doc.wallabag.org/en/latest/user/installation.html#requirements

It's a self hostable application for saving web pages.

[2016-10-16 18:58] ghost opened #561 ".Net Core Server Application"
I think dietpi should have an option for installing .net core service for using raspberry pi as a asp.net web server. Thanks

[2016-10-16 19:17] biccy commented on #558
Yep, with the newly downloaded image, I can now use the poweroff command or just pull the power and the XU4 boots up fine afterwards every time. Previously it NEVER booted again once I ran poweroff or pulled the power (it only rebooted with the reboot command).

[2016-10-16 19:28] Fourdee commented on #558
@biccy
Excellent, thanks for testing and letting us know 👍

I'll move this and replace the current image download.

[2016-10-17 02:27] nphil commented on #558
Good to hear, I would assume this requires a clean flash of the OS image again? As in, any chance of an update to fix it?

[2016-10-17 11:56] Fourdee commented on #558
@nphil
Will need a clean install, unfortunately. Most likely the partitions and/or table on our previous image is corrupt/misaligned which is causing the no boot issue.

[2016-10-17 18:27] Fourdee opened #563 "DietPi-Software | WiringOP support for H3 chipsets"

[2016-10-17 19:00] Fourdee opened #564 "General | 8192CU limited to 72.2Mbit"

[2016-10-18 00:41] bobokun commented on #339
Any update on this? Is there any way we can help? I haven't contributed to github before but I would like to help out in whatever way I can to get this working :) I'm sure it would benefit the community a lot for dietpi users.

[2016-10-18 09:41] jbz-dev commented on #560
That's how I managed to install Wallabag and run it with Lighttp :

`cd /var/www/`
`wget http://wllbg.org/latest-v2-package && tar xvf latest-v2-package`
`mv latest-v2-package wallabag`
`chown -R www-data:www-data /var/www/wallabag/var`
`chown -R www-data:www-data /var/www/wallabag/bin`
`chown -R www-data:www-data /var/www/wallabag/app/config`
`chown -R www-data:www-data /var/www/wallabag/vendor`

[2016-10-18 15:10] Fourdee opened #566 "General | Grant under-priv users access to serial by default"
To be consistent across all DietPi images.

[2016-10-18 15:18] Fourdee opened #567 "OPi one | WiFi not functional after dietpi-update"

[2016-10-18 15:29] Fourdee commented on #567
Fresh image with dietpi.txt wifi entries and country codes:
- WiFi works on first run. This is due to DietPi taking control of `ifdown/up` during 1st run.
- dietpi-update
- reboots
- WiFi is down.
- `lsmod` shows 8188eu fine
- Last entry in `dmesg` for RTL is: https://github.com/Fourdee/DietPi/issues/567#issuecomment-254547214
- unplug wifi and plug back in = 🈯️
- `ifdown wlan0; ifup wlan0` = 🈯️
-

[2016-10-18 15:37] Fourdee commented on #567
[code]

[2016-10-18 18:11] sootstone opened #568 "PiHole - password protect admin page"
@pi-hole have a solution for password protecting the web admin page of pi-hole on a lightttpd [http://jacobsalmela.com/password-protect-a-lighttpd-web-server-on-a-raspberry-pi-using-mod-auth/](http://jacobsalmela.com/password-protect-a-lighttpd-web-server-on-a-raspberry-pi-using-mod-auth/)

Might be impossible, but would there be a way to add that kind of functionality into DietPi for other webser

[2016-10-18 18:20] justin0a0 commented on #558
I experienced this issue this morning using the old (127) image when I hit the power button.
Used the new image and no issues with it so far issued poweroff and used the button reboots went fine.

[2016-10-18 18:23] Fourdee commented on #567
Clearly some differences in active modules even with same `/etc/modules` file and no blacklists in `/etc/modprobe.d/` (note size of `8188eu` and addition of `sunxi_cir` in latest ARMbian image)

Possibly updated since we built our 1st image with ARMbian. Will use latest ARMbian build and convert to DietPi then re-test.

Latest ARMbian

[code]

DP:

[code]

[2016-10-18 18:30] ghost opened #569 "DietPi l Software - Use URL shortener to dynamically keep urls updated"
This way we can push updates with out having to release a new version of dietpi.

[2016-10-19 10:35] peakyc opened #570 "VPN"
Hi Guys,

Firstly well done on the project - it is easily my favourite distro for Pi atm.

Whilst I can understand the emphasis for the project seems to be ease of setup I think the VPN installation could be slighty improved with little or no increase in difficulty for the user.

Before testing DietPi i was using a script from http://www.pivpn.io/ and https://github.com/pivpn to install openvpn.

[2016-10-19 11:14] peakyc commented on #570
NB: If you plan on testing this please install lsb-release first to fix the problem with DietPi not being detected properly as debian jessie.

[2016-10-19 11:39] Fourdee commented on #558
@nphil @justin0a0 @biccy
Thanks guys for your help testing! 👍
We can now mark this one as resolved.

[2016-10-19 11:39] #558 closed, assigned to Fourdee

[2016-10-19 14:05] Fourdee commented on #567
Ok, latest ARMbian build converted to DietPi image.

WiFi requires the user to "login" on tty1 before the wifi becomes available 😕

[code]

[2016-10-19 14:23] CGarces commented on #550
- [x] Install & Boot from ARMBian
- [ ] Install Diet PI
- [ ] Configure WIFI
- [ ] Remote IR
- [ ] Get KODI working properlly

Ok, small progress I have executed  PREP_SYSTEM_FOR_DIETPI.sh with some errors.

See [full log](http://pastebin.com/V7dgg1Kn)

http://mirror.ox.ac.uk give me a 404 so I have used http://archive.raspbian.org/raspbian. BTW not is valid for aarch64.

I get some errors related

[2016-10-19 14:35] Fourdee commented on #550
@CGarces

This can't currently be run as a script, manual copy and paste. I'll make a note in the file to prevent other users doing the same.

I'd suggest starting again from the ARMbian image. Manually go through PREP_SYSTEM_FOR_DIETPI.sh.

[2016-10-19 14:37] CGarces commented on #550
This can't currently be run as a script? so how should be run? I don't get you.

[2016-10-19 14:40] Fourdee commented on #550
@CGarces
Read through the file, line by line. Copy and paste the commands.

When you reach sections with the following, copy and paste the whole code in 1:

[code]

[2016-10-19 15:35] CGarces commented on #550
Ok  understood.

I haven't read the head of the file that said.
**copy the following files and folders to /boot/ https://github.com/Fourdee/DietPi**

And.. `cat << _EOF_ > /etc/apt/sources.list` is overwriting the   /etc/apt/sources.list so I have executed the script with  http://archive.raspbian.org/raspbian, that I don't need in any case.

Created #571 for people that not read the documentation.

[2016-10-19 16:46] CGarces commented on #550
I'm really confused with PREP_SYSTEM_FOR_DIETPI.sh
Even executing it Line by line looks like files at `/boot/dietpi/` should be at `/DietPi/dietpi/` but I not see any cp or mv or symlink

[2016-10-19 17:57] Fourdee commented on #550
@CGarces

DietPi-RamDisk (`/DietPi`) isn't started until: https://github.com/Fourdee/DietPi/blob/master/PREP_SYSTEM_FOR_DIETPI.sh#L158-L163

So before that point, we have to call physical location `/boot`, afterwards we call the Ramdisk location `/DietPi`

 PREP_SYSTEM_FOR_DIETPI.sh is designed to be executed from start to finish. Everything is in the correct order :)

[2016-10-19 18:36] CGarces commented on #550
Ok I found the error after execute the process step by step in a clean image.

The service not was started correctly

`service dietpi-service start`

Due a error on dietpi-ramdisk, chmod +x is need.

`chmod +x /boot/dietpi/dietpi-ramdisk`

Also I have fixed the dietpi-logclear

`chmod +x /boot/dietpi/dietpi-logclear`

How you copy the files from `https://github.com/Fourdee/DietPi`?

Probably you h

[2016-10-19 20:27] CGarces commented on #550
After execute again the script from #571 the system _looks like_ is booting. I think that no image is send to HDMI.
Any ideas to test what is happening?

[2016-10-20 12:02] Fourdee commented on #569
@Zone22

Great idea, makes sense. But, there is possible issues with updating the download links through master branch:
- When some software installations are updated, the installation procedure might need to be changed, possible outcome of failed installation. (eg: Owncloud now requires `php5-pewpew` to be installed).
- With software where we have made a pre-defined SQL DB or config (eg: ampache)

[2016-10-20 12:10] Fourdee commented on #550
@CGarces

With fat16/32 `/boot` partition, this shouldn't be needed. fat16/32 doesn't support permissions.

[code]

For EXT4 etc, can run `chmod +x -R /boot` beforehand. I'll put in the sysprep script.

Not sure, are you able to boot the base ARMbian image on the device and get a screen output?

[2016-10-20 12:11] Fourdee commented on #550
@CGarces

ARMbian build tools (if you used them), the process I use (sets FAT32 `/boot` partition). DietPi needs 2 paritions.

[code]

[2016-10-20 14:02] peakyc commented on #570
Just a quick update on this.

The only issue I have had so far when testing this on DietPi depended on when i installed PiVPN - after or before installing various other software using dietpi-software.

If you have a DNS issue after installing where by you can connect to the VPN but not resolve domain (google.com or anything else) try this:

sudo iptables -t nat -A POSTROUTING -s 10.8.0.0/24 -o eth

[2016-10-20 16:33] ghost commented on #569
Makes a lot of sense.

[2016-10-20 16:33] #569 closed, assigned to nobody

[2016-10-20 19:43] CGarces commented on #550
The ARMBian image boots without problem

The image used was
Armbian_5.21_Amlogic-s905x_Debian_jessie_3.14.29_desktop_20161018.img.xz

At https://yadi.sk/d/srrtn6kpnsKz2/Linux/ARMBIAN

This is the structure to the device that contains my ARMBian

[code]

[2016-10-20 20:26] CGarces commented on #550
The /dev/sda1 not is mounted.

[code]

Will try to mount the partition and try the script again.

[2016-10-21 07:01] ideomux opened #572 "Webmin login password === root password at time of webmin install"
Suggesting clarification of webmin documentation
<img width="448" alt="screen shot 2016-10-20 at 11 56 56 pm" src="https://cloud.githubusercontent.com/assets/15969369/19589425/031dee0a-9721-11e6-8001-8f4cddfe399c.png">

[2016-10-21 14:02] Fourdee commented on #572
@ideomux

Tested and confirmed, webmin password is root password at time of install. Great spot 👍

Updated:
![image](https://cloud.githubusercontent.com/assets/7077026/19601004/52fa2ca8-979f-11e6-9d85-ad81116a81c1.png)

Will mark as closed.

[2016-10-21 14:02] #572 closed, assigned to nobody

[2016-10-21 19:33] Fourdee opened #573 "DietPi-Software | XPRA"
Has "seamless mode" which basically only renders/updates the window of a target app on server.

[2016-10-22 11:14] Fourdee opened #574 "DietPi-Config | LCD addon: Odroid 3.5inch Touchscreen Shield"

[2016-10-22 11:19] Fourdee commented on #566
Udev rule?

[code]

Works a treat, for 5 seconds after reboot, then gets reset?:

[code]

Same issue with:

[code]

group dialout changes to tty after boot has completed. Cant find cause.

[2016-10-22 11:39] Fourdee commented on #574
- 🈺 C1+: Unable to test, only have a C1 (not plus). But same code as C2, so should be fine.
- 🈯️ C2: fb + x11
- 🈯️ XU4: fb + x11

[2016-10-22 13:28] Fourdee commented on #574
Completed.

[2016-10-22 13:28] #574 closed, assigned to Fourdee

[2016-10-22 13:58] Fourdee commented on #564
Edimax Nano (EW-7811Un)
Able to achieve:
- 150mbit with 40mhz width 2.4GHz
- 72.2mbit with 20mhz width 2.4GHz

[code]

Expected results of device capabilities: http://us.edimax.com/edimax/merchandise/merchandise_detail/data/edimax/us/wireless_adapters_n150/ew-7811un/

[2016-10-22 14:08] Fourdee commented on #564
Most likely 20mhz setting in router, waiting for response.

[2016-10-22 14:46] Fourdee commented on #550
@CGarces

#### EDIT: Ignore below, i'll open the image file and check fstab

I'd like to check the mount paths on that image. On the android box with ARMbian image installed, can you please paste results of:

[code]

[2016-10-22 14:50] Fourdee commented on #550
@CGarces

Image (`Armbian_5.21_Amlogic-s905x_Debian_jessie_3.14.29_20161021`) has 2 paritions, 1st is FAT, so should be fine.

Yep, so `/boot` (1st partition) is not mounted on the image `/etc/fstab`:

[code]

So you'll need to edit `/etc/fstab` to add the `/boot` entry.
But we'll need to see results of the following on the installed android system with ARMbian image, to get the physical mount loc

[2016-10-23 09:30] redfast00 commented on #570
@peakyc this should be fixed now. Let me know if you still have problems.

[2016-10-23 11:46] Fourdee commented on #570
@peakyc I'll take a look 👍
If all goes well, we could add PiVPN as a new installation option, along side the existing OpenVPN one, to give the users a choice.

We've had a few users ask for more configurations to the OpenVPN installation, PiVPN installer looks like the ticket.

[2016-10-23 13:22] Fourdee commented on #570
@peakyc @redfast00
PiVPN is excellent 👍

Few issues:
- Choose user only displays no users (excludes root) (https://github.com/pivpn/pivpn/blob/d900efe49bf7f9b06d85129393571e08c7e2dce1/auto_install/install.sh#L134-L166):
  ![image](https://cloud.githubusercontent.com/assets/7077026/19626516/c23541e2-992b-11e6-99d8-c1bd488ce409.png)
  - This also results in `pivpnUser` being null, results in attempt

[2016-10-23 13:22] GeoWebDevCom opened #575 "DietPi and VestaCP or Sentora or Ispconfig"
Can you add support for vestaCP as well or ispconfig or sentora

[2016-10-23 14:04] Fourdee commented on #570
Ok done, PiVPN is awesome.

@peakyc

Any chance you would be willing to test the installation on our testing branch?
Instructions here: https://github.com/Fourdee/DietPi/blob/master/TESTING-BRANCH.md#steps-to-use-the-dietpi-testing-branch

[2016-10-23 15:36] peakyc commented on #570
Hi @redfast00 and @Fourdee .

Thanks for taking a look at this.

Yeah sorry I forgot to say that prior to install I created a new user.

I would love to test it for you. My Pi is in use ATM so can only test in a VM until later. As soon as I can test on my pi (rpi 3) I will get back to you.

Obviously full credit to the PiVPN guys for their work on this (I thought it was awesome too).

Glad I could

[2016-10-24 01:47] mok-liee opened #576 "Deactivate internal WiFi an activate external WiFi"
Hi,

i have an edimax ew-7811uac 5ghz wlan stick. I tried to deactivate the internal wifi. but i cant activate the external stick for using this for the hotspot feature.

is it possible to make a "choose device" point in the wifi menue?

another thing... if the hotspot feature is activated an configured, there is no option to deactivate wifi.

hoe u can help me again.

greetings mok

[2016-10-24 13:28] Fourdee commented on #563
This is alot more involved than originally thought. As mentioned by Pete on forums, GPIO assignments are likely to be different for various boards. So, the WiringOP source code will need to be modified and tested.

I don't really have the time (and minimal GPIO experience) to take this on at the moment.

[2016-10-24 15:34] Fourdee opened #577 "DietPi-Config | Add support for JustBoom soundcards"
High-end audiophile sound cards available from Pi Supply: https://www.pi-supply.com/brand/justboom/

[2016-10-24 15:47] ghost commented on #509
@Fourdee
Would there be a possibility to add this to v135?

[2016-10-24 15:59] shawaj commented on #577
Thanks :-)

[2016-10-24 16:14] Fourdee commented on #509
@Zone22

Not for v135, stacked up already. I'll add it to v136 and take a look after v135 is released.

[2016-10-24 18:37] Fourdee opened #578 "DietPi-Software | Mopidy"

[2016-10-24 18:43] Fourdee commented on #576
@mok-liee

Hi Mok,

Currently, DietPi assumes the user would like to use the internal WiFi features of their RPi 3, essentially, its hard coded for that. So i'll need to look into this and create a feature which allows for specifying another device, if detected by system.

Thanks 👍, i'll take a look.

[2016-10-25 00:13] sootstone opened #579 "DietPi Software | Block IPv6 Ads with PiHole"
Can the DietPi version of Pi-Hole block IPv6 adverts? All AAAA records are getting through according to the Query Log on the Pi-Hole web interface.

[2016-10-25 14:47] Fourdee opened #580 "DietPi-Software | Update MPD to 0.19.19 and include SOXR support for all SBC's"
As title.

[2016-10-25 14:49] Fourdee commented on #580
MPD compile, host .deb's on DietPi.com and update sourcecode links:
- 🈯️ ARM64
- 🈯️ ARMv7
- 🈯️ ARMv6

[2016-10-25 15:08] Fourdee opened #581 "Create JustBoom DietPi Image"
As Title:
- Automated installation image
- Install MPD + YMPD (HiFi)
- Install Shairport Sync
- install Samba Server
- Set soundcard to justboom-*
- Enable SOXR upscaling and 384khz/32bit output (performance permitting)

dietpi.txt automation entries:
- 🈯️ `AUTO_Install_Enable=1`
- 🈯️ `AUTO_DietpiSoftware_Install_ID=32` MPD + YMPD (HiFi)  http://dietpi-justboom.local:1337
- 🈯️ `AUTO_DietpiSoftware

[2016-10-25 15:09] Fourdee commented on #581
notes:
- Get current format of ALSA stream `hw:1,0`: `cat /proc/asound/card*/pcm0p/sub0/hw_params`

performance tests:
- RPi 3 | 384khz 32bit SOXR "very high" = 40% cpu

[2016-10-25 15:18] Fourdee commented on #581
Ticket ties in with:
- https://github.com/Fourdee/DietPi/issues/580
- https://github.com/Fourdee/DietPi/issues/577

[2016-10-25 15:19] Fourdee commented on #552
Does anyone have a Apple device and would be willing to help test it with shairport sync?

[2016-10-25 16:53] sootstone commented on #568
Seems like the pi-hole people are working on a way to password protect [https://discourse.pi-hole.net/t/password-protect-the-dashboard/223](https://discourse.pi-hole.net/t/password-protect-the-dashboard/223)

[2016-10-25 17:04] #580 closed, assigned to nobody

[2016-10-25 19:01] joaofl commented on #269
Adding: If I go and check the system log, thats the error the video playback dumps:

[code]

[2016-10-25 19:28] Fourdee opened #582 "DietPi-Cloudshell | Support for multiple USB external drives and stats"

[2016-10-25 21:29] sootstone commented on #579
Checked against the standard (Jessie Lite) Pi-Hole install and AAAA ads were blocked, there were quite a few! The install allows you to choose between ipv4, ipv6, or both.

[2016-10-26 11:13] Fourdee commented on #579
@sootstone

Thanks 👍 I'll take a look, see whats up.

[2016-10-26 12:21] Fourdee commented on #579
@sootstone

gravity.sh uses:

[code]

But the codes completely changed in the next PiHole update.

Looks like the official installer is now required, it generates files and configs (eg: current IP address, IPv6 enabled etc) during its installation that are used by `gravity.sh`, rather than obtained at runtime.

This is a good time as any to look at dropping our installation and using the official

[2016-10-26 13:38] #536 closed, assigned to nobody

[2016-10-26 13:52] Scoindy commented on #552
yip I'm happy to help test; have an iphone and an ipad running ios10 and until I decide for certain that I'm fed up with the 'iosification' of osx and install linux on my macbook pro I can test with that too. I'll get a fresh installation of dietpi with shairport sync running on a pi now

[2016-10-26 14:31] Fourdee opened #583 "DietPi-Software | PiHole to use official installer"
As title, reasons: https://github.com/Fourdee/DietPi/issues/579#issuecomment-256330893

[2016-10-26 14:37] #579 closed, assigned to Fourdee

[2016-10-26 14:41] Fourdee commented on #583
There is still minor changes we need to apply post install:
- PiHole overwrites the default `lighttpd.conf` (https://github.com/pi-hole/pi-hole/blob/master/advanced/lighttpd.conf.debian), limiting the webserver to directory `/var/www/html`. With DietPi, we use `/var/www`.
- PiHole uses the 404 error handler `server.error-handler-404 = "pihole/index.html"` for advert redirect page. To support Nginx

[2016-10-26 14:45] #583 closed, assigned to Fourdee

[2016-10-26 14:46] Fourdee commented on #503
PiHole now uses official installer, making this as closed. https://github.com/Fourdee/DietPi/issues/583
Reinstall features of DietPi for all programs are still in devolpment.

[2016-10-26 14:46] #503 closed, assigned to nobody

[2016-10-26 14:47] Fourdee commented on #570
I'll mark this as closed, installation is successful.

@peakyc
Please reopen if required.

[2016-10-26 14:47] #570 closed, assigned to nobody

[2016-10-26 14:49] Fourdee commented on #552
@Scoindy
Legend, thank you, appreciate it 👍

[2016-10-26 15:15] Fourdee commented on #564
Rapsbian + Edimax nano:

[code]

Try force load of 8192eu:

[code]

[code]

Unable to replicate, must be specific to TP-WN822n adapter used by end user. Will require further tests by end user which i'll post on forums. Will move out of milestone whilst we wait test results.

[2016-10-26 15:42] Scoindy commented on #552
**@Fourdee**
have just tested on both my iphone and ipad and it's working perfectly with HDMI audio.

Steps to test:
1. downloaded latest diet-pi image
2. booted, configured wifi, locale, rebooted
3. updated to v134
4. installed shairport-sync, vim, open-ssh, set logging to full
5. started ios music application, played mp3, hit airplay icon and selected Shairport Sync on Dietpi

Is there anything

[2016-10-26 15:54] Fourdee commented on #552
@Scoindy
Excellent, thanks for running the test, really appreciate it 👍

The end user reported the shairport player was not available after a reboot. His avahi-daemon logs also indicated a termination.

#### If you could test the following i'd be grateful:

Install syslog so we can track avahi logs:

[code]

After reboot:
- Check you can stream audio from your apple device to DietPi system.
- past

[2016-10-26 16:36] Scoindy commented on #552
**@Fourdee**
still good after a reboot...

![img_0015](https://cloud.githubusercontent.com/assets/21999875/19734106/c760bd7a-9c02-11e6-8c55-22d68a20552d.PNG)

I did receive the same message as the end user when I rebooted:

`shairport-sync[936]: avahi client failure`

but I assume that's just because networking went down before shairport-sync and it's just reporting lost connectivity.
I'm not too

[2016-10-26 17:18] Scoindy commented on #552
...still working OK if I disable wifi and use eth0

[2016-10-27 11:24] Fourdee commented on #552
@Scoindy

Great testing and debugging, really appreciate it 👍

I'am just wondering if the user has WiFi + Ethernet enabled at the same time, maybe this is throwing shairport sync/avahi-daemon off.

DietPi takes control of avahi-daemon and shairport sync services (https://github.com/Fourdee/DietPi/blob/master/dietpi/dietpi-services). They are launched after SystemD is finished, using the service `/

[2016-10-27 11:57] Scoindy commented on #552
**@Fourdee**
I've spent a bit of time trying to replicate Guggele’s issue and I'm more puzzled then when I started. With my build, both avahi and shairport come up correctly every time I start the system, and airport works perfectly. I did notice some odd behaviour with the shairport-sync process if I deliberately stop the avahi-daemon to try and mimic the service apparently falling over on Guggel

[2016-10-27 12:13] Scoindy commented on #552
@Fourdee

...didn't read your latest post in time...

I couldn't work out why there were .service files and /etc/*conf files, but the .service files were disabled. Just had a look at your code and it makes more sense now.

I must say that I managed to have both NICs running at the same time I think on the first installation I did, and it caused me a few issues with connectivity and services until

[2016-10-27 13:38] Fourdee commented on #581
### 192khz 32bit Output and SOXR upscaling Tests:

🈯️ RPi 3 | 192khz 32bit + SOXR up-sampling VH:

[code]

🈯️ RPi 2, limited to 1x 900mhz core `isolcpus=0,1,2` | 192khz 32bit + SOXR up-sampling VH:
- 27% cpu, 50% peak.

All RPi's can handle SOXR VH @ 192khz 32bit

[2016-10-27 13:56] redfast00 commented on #570
@Fourdee You no longer have to create a non-root user. If there isn't one, PiVPN now prompts you to create one. (See https://github.com/pivpn/pivpn/pull/136)

[2016-10-27 15:47] Fourdee commented on #577
Testing:
- 🈯️ Justboom-dac
- 🈯️ Justboom-digi | Tested with 96khz 32bit with DAC unit over optical

[code]

[2016-10-27 18:03] Fourdee commented on #581
Control/config menu
![image](https://cloud.githubusercontent.com/assets/7077026/19782914/d5ea93fe-9c87-11e6-9bbf-9367e1c80291.png)

[2016-10-28 14:45] Fourdee commented on #581
http://dietpi.com/phpbb/viewtopic.php?f=8&t=800&p=3544#p3544

[2016-10-28 20:43] 0-kaladin commented on #570
Awesome work guys!  Glad to see this spreading!

[2016-10-29 10:38] Fourdee commented on #581
Completed, image now live: http://dietpi.com/downloads/images/DietPi-JustBoom_RPi-armv6-(Jessie).7z

[2016-10-29 10:38] #581 closed, assigned to Fourdee

[2016-10-29 11:09] Fourdee commented on #552
@Scoindy

Yep, sounds like the best move, you up for posting on forums?
User will need to install rsyslog, reboot, try to connect and then log file should be filled with lots of goodies `cat /var/log/syslog` :)

Failing that, could be a LAN configuration issue (on devices, or router) that is causing this to fail.

[2016-10-29 11:19] Fourdee commented on #566
Ok, we have roughly 0.1% serial users, and, this occurs on Raspbian, so marking this as no fix. Workaround below.

Underprivileged users need to add the user to `tty` group `usermod -a -G tty userName` then set the following permissions during boot with (RPi) `chmod 660 /dev/ttyAMA[0-9]`

[2016-10-29 11:19] #566 closed, assigned to nobody

[2016-10-29 12:40] #455 closed, assigned to nobody

[2016-10-29 12:40] #476 closed, assigned to nobody

[2016-10-29 12:49] Fourdee commented on #424
This appears to be working fine, with a underpriv user and:

[code]

/etc/bash.bashrc
`alias sudo='sudo '`

Marking as closed.

[2016-10-29 12:49] #424 closed, assigned to nobody

[2016-10-29 12:50] #192 closed, assigned to nobody

[2016-10-29 15:04] Fourdee opened #585 "DietPi-JustBoom | Disabling EQ and rebooting renders in no sound output"
Due to setting dtoverlay with `dtoverlay=justboom-dac-noeq`

[2016-10-29 15:06] Fourdee opened #586 "DietPi-Config | Setting JustBoom soundcard multiple times, results in multiple dtoverlay= entries"
As title `config.txt`

[2016-10-29 19:28] Fourdee opened #587 "DietPi-Software | Add installation option for Tarts sensor"

[2016-10-30 05:51] Scoindy commented on #552
**@Fourdee**

yip sure; post [here](http://dietpi.com/phpbb/viewtopic.php?f=11&t=746#p3564)

[2016-10-30 14:21] Fourdee commented on #586
Completed.

[2016-10-30 14:21] #586 closed, assigned to Fourdee

[2016-10-30 14:21] Fourdee commented on #585
Completed.

[2016-10-30 14:21] #585 closed, assigned to Fourdee

[2016-10-30 15:44] Fourdee commented on #578
No ARM64 binaries available from Mopidy repo.
Mopidy is available for ARM64 in Debian Jessie repo, however, its outdated and does not detect pip installed web extensions.

Disabled for ARM64.

[2016-10-30 16:22] Fourdee commented on #578
To do:
- Test installation 🈯️
- Online doc 🈯️  http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&start=80#p3611

IP:6680

[2016-10-31 17:19] rubinkazan opened #588 "Diet Pi Failing to Update"
Current Version: 134
Server Version: 135

When running ` dietpi-update`
The following occurs:
DietPi-Update
─────────────────────────────────────────────────────
 Mode: Checking for DietPi updates
 Please wait...

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100     5  100     5    0

[2016-10-31 18:44] Fourdee commented on #588
@rubinkazan

Hi, thanks for letting us know.

I'd like to check your system setup, could you please try sending a bug report: http://dietpi.com/phpbb/viewtopic.php?f=8&t=499#p2184

Thanks.

[2016-10-31 19:02] rubinkazan commented on #588
@Fourdee
My reference code: c76b1794-eec9-4743-8fa4-dac5308124ee-0
However I doubt it would be of any use as I received this error when following instructions from that URL.

[Info] Uploading bug report, please wait...
--19:00:34-- `bugreport-c76b1794-eec9-4743-8fa4-dac5308124ee-0.zip'
    => ftp://dietpi-survey:xxxxx@185.101.92.145:21/bugreport-c76b1794-eec9-4743-8fa4-dac5308124ee-0.zip
Connectin

[2016-10-31 19:35] Fourdee commented on #588
@rubinkazan
Thanks, yes it looks like you have no route to github, so failed.

Can you paste results of the following please:

[code]

[2016-10-31 19:38] Fourdee opened #589 "DietPi-Services | NoIP2 fails to start"

[2016-10-31 19:39] Fourdee commented on #589
When using the SysInit service:

[code]

User testing SystemD service replacement:

[code]

[2016-10-31 20:21] rubinkazan commented on #588
Kernel IP routing table
Destination     Gateway         Genmask         Flags Metric Ref    Use Iface
default         192.168.2.1     0.0.0.0         UG    0      0        0 eth0
default         192.168.2.1     0.0.0.0         UG    202    0        0 eth0
192.168.2.0     \*               255.255.255.0   U     202    0        0 eth0
root@PiyoteQueen:~# ifconfig -a
eth0      Link encap:Ethernet  HWa

[2016-11-01 11:41] Fourdee commented on #589
Tested personally, working fine:

[code]

[2016-11-01 11:43] #589 closed, assigned to Fourdee

[2016-11-01 12:43] #578 closed, assigned to Fourdee

[2016-11-01 13:23] Fourdee opened #590 "DietPi-Set_Hardware | Setting WiFi country code when WiFi is disabled, reports failed status"

[2016-11-01 13:29] Fourdee commented on #590
Resolved. Only apply `iw reg set` when WiFi module `cfg80211` is enabled.

[2016-11-01 13:29] #590 closed, assigned to Fourdee

[2016-11-01 18:17] Fourdee commented on #588
@rubinkazan

Weird, looks like you cant access anything outside your network.

Please try:

[code]

And please can you paste results of (remove any WIFI KEYS):

[code]

[2016-11-01 20:27] rubinkazan commented on #588
Result from pinging google:
PING google.com MY IP 56(84) bytes of data.
64 bytes from MY IP : icmp_seq=1 ttl=58 time=35.0 ms

--- google.com ping statistics ---
1 packets transmitted, 1 received, 0% packet loss, time 0ms
rtt min/avg/max/mdev = 35.019/35.019/35.019/0.000 ms

Result of cat
#/etc/network/interfaces
#Please use DietPi-Config to modify network settings.

# Local

auto lo
iface lo inet

[2016-11-02 12:14] Fourdee commented on #588
@rubinkazan

Thanks.

MY IP? Was that your external IP address?

Can you please try the following:
- `dietpi-config` > Networking Options: Adapters > Ethernet | Set `DHCP` and save changes
- `dietpi-config` > Networking Options: Adapters > WiFi | Set `Disabled` and save changes
- `ping -c 1 google.com`
- `ping -c 1 github.com`

[2016-11-02 14:58] rubinkazan commented on #588
Yup, MY IP was my external IP.
Having a slight problem at the moment when running dietpi-config, it just blinks my terminal window with a bunch of special characters (?*#) etc. This hasn't happened before btw

[2016-11-02 15:54] Fourdee commented on #582
New additional storage scenes, supports 5 USB/Custom mount locations:
![image](https://cloud.githubusercontent.com/assets/7077026/19936169/95e4600a-a114-11e6-991c-0a3137c508e9.png)

Storage mount locations can be changed in menu:
![image](https://cloud.githubusercontent.com/assets/7077026/19936285/e847d732-a114-11e6-8064-eee039051f7b.png)

[2016-11-02 16:37] Fourdee commented on #582
Completed, waiting for John to test. http://dietpi.com/phpbb/viewtopic.php?f=12&t=786&start=10#p3634

[2016-11-02 16:43] Fourdee commented on #588
@rubinkazan

Shouldnt be that.

Are you able to take a screenshot / image of the above?

You can reset the network settings file and revert back to eth0 using DHCP (default), with:

[code]

After the above, try a reboot and re-run the pings from https://github.com/Fourdee/DietPi/issues/588#issuecomment-257847784

[2016-11-02 17:12] #577 closed, assigned to Fourdee

[2016-11-02 17:16] Fourdee commented on #577
@shawaj
All done. Now everyone can wake their neighbors up lol 💃

[2016-11-03 16:48] ghost commented on #475
I think I'll hold off on my projects until this is implemented. Otherwise it requires a reformat.

[2016-11-03 17:22] Fourdee commented on #475
@Zone22

This wont be ready for a while, need to test and fix every installation. I may release the image under alpha, but wont be for a few weeks.

[2016-11-03 17:59] rubinkazan commented on #588
Restarting the Pi twice solved my issue of being unable to access dietpi-config
Followed instructions from #588 (comment).  I do not have an internet card so the disabling WiFi option was not available. I am already using DHCP as I am hosting a site. When running the config, it initially gave me a list of errors underneath WiFi, foolishly I copied them but overwrote them by copying something else

[2016-11-03 18:04] rubinkazan commented on #588
Did another restart and the ping's seemed to work
root@PiyoteQueen:/etc/pihole# ping -c 1 google.com
PING google.com (216.58.201.46) 56(84) bytes of data.
64 bytes from lhr35s04-in-f14.1e100.net (216.58.201.46): icmp_seq=1 ttl=48 time=204 ms

--- google.com ping statistics ---
1 packets transmitted, 1 received, 0% packet loss, time 0ms
rtt min/avg/max/mdev = 204.141/204.141/204.141/0.000 ms
root@P

[2016-11-04 13:15] Fourdee commented on #588
@rubinkazan

I've updated DietPi-Update to use the dietpi.com mirror.

Please do the following and let me know if update is successful:

[code]

[2016-11-04 16:09] rubinkazan commented on #588
root@PiyoteQueen:~# wget http://dietpi.com/downloads/testing/dietpi-update -O /DietPi/dietpi/dietpi-update
--1970-01-01 22:30:01--  http://dietpi.com/downloads/testing/dietpi-update
Resolving dietpi.com (dietpi.com)... 185.101.92.145
Connecting to dietpi.com (dietpi.com)|185.101.92.145|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 11707 (11K)
Saving to: ‘/DietPi/dietpi/d

[2016-11-04 16:11] Fourdee commented on #588
@rubinkazan
Excellent,

And when you try to update?

[code]

[2016-11-04 16:11] rubinkazan commented on #588
Followed by dietpi-update.
Successfully Updated from v134-v136.
Thank you for the quick response and help!

[2016-11-04 16:13] Fourdee commented on #588
@rubinkazan

Excellent, looks like a github/ssl specific issue. We will use dietpi.com as the default update mirror from v137 onwards :)

The update script gets replaced during the update, so make sure you copy the patched script, before updating to v137 (when its released):

[code]

[2016-11-04 18:11] Fourdee opened #592 "DietPi-Software | Add tonido"

[2016-11-04 18:46] #588 closed, assigned to nobody

[2016-11-05 16:17] Fourdee opened #593 "DietPi-Software | Roon"

[2016-11-05 17:22] GeoWebDevCom commented on #575
Sentora Panel works great with dietpi (please have a look at it to optemize it for dietpi) i have on my profile the modified installer of sentora

Only issue that i facing is postfix not working and can't move the hostdata to mnt/usb_1 (external hdd)

All this is done on a odroid xu4

[2016-11-06 10:51] midwan opened #596 "Pine64 - Font does not show cursor"
I noticed that the default font is changed during boot, on a Pine64 installation.
The replacement font is thinner (which is fine) but does not display the cursor at all, which makes it tricky to know where you are when navigating through text-based menus, editors or similar interfaces.

I couldn't find an option to restore the default font  in the dietpi-config.

Could we either:
a) leave the defa

[2016-11-06 12:33] Fourdee commented on #596
@midwan

As far as DietPi goes, disabling the fb console cursor and font size, isn't something we've changed. I believe the missing cursor is a limitation with the framebuffer using the Longsleep kernel/image (which DietPi for Pine64 is built on).

I've also noticed this on the Odroid images, some reading here:
http://forum.odroid.com/viewtopic.php?f=117&t=11758#p82647

Another possible solution c

[2016-11-06 12:34] Fourdee commented on #596
@midwan

Have you tried other fonts, do any of them provide a cursor?

[2016-11-06 12:37] midwan commented on #596
@Fourdee
I haven't tried any other fonts, but while playing around with it I noticed something.
If you upgrade the firmware (which upgrades the kernel), then after the eventual reboot the font is changed again to something closer to the standard "default" font. But the cursor is still missing nevertheless.

I think I caught a glimpse of the boot messages mentioning a font change originally, that's

[2016-11-06 13:39] Fourdee commented on #596
@midwan

This workaround works, copy paste all. Blue cursor set after login (`.bashrc` is executed during login):

[code]

[2016-11-06 17:47] Fourdee commented on #576
Onboard WiFi can now be disabled/enabled from `dietpi-config`.

NB:
- Requires a reboot to take effect

![image](https://cloud.githubusercontent.com/assets/7077026/20040093/0ce0d3dc-a449-11e6-964f-bedd3608ef9c.png)

[2016-11-06 18:05] Fourdee commented on #576
Completed.

[2016-11-06 18:05] #576 closed, assigned to Fourdee

[2016-11-07 13:20] Fourdee commented on #509
Ok, going with @k-plan 's implementation (http://dietpi.com/phpbb/viewtopic.php?f=9&t=396&p=1713#p1720) to cover RPi and Odroid devices.

There will be some limitations (subject to any changes):
![image](https://cloud.githubusercontent.com/assets/7077026/20238751/22247c76-a8ea-11e6-90c1-363227e1c34a.png)

[2016-11-08 16:51] Jurlind opened #597 "Image for RaspberryPi's (all models) seems to be broken"
Hi,

I have tried to mount the iso or to open it with winrar, and I get the same result, namely that the image is broken. Any suggestions how to deal with this problem on a Windows platform? Actually, I tried win32disk however it modifies the size of the sd card, which makes the installation impossible, as there is no enough space on the disk anymore.

Cheers.

[2016-11-08 16:55] Fourdee commented on #597
@Jurlind

Try:
- Downloading the image again: http://dietpi.com/downloads/images/DietPi_RPi-armv6-(Jessie).7z
- Extract the compressed image file with 7zip (http://www.7-zip.org/download.html)
- Open win32diskimager
  - Select the extracted `.img` file
  - Click `write`

DietPi automatically resizes the filesystem during 1st run. Allowing full use of your SD card capacity.

[2016-11-08 17:00] trajano opened #598 "[dupe] Many libraries are marked as "manual""
`apt-mark showmanual` lists the manually installed packages.  I think it's best that this list be examined to make sure that packages that do not need to be loaded are not explicitly loaded in order to further reduce the space needed.

[2016-11-08 17:17] Fourdee commented on #598
On the current DietPi-RPi image v136, some obvious ones we can remove:

[code]

[code]

[2016-11-08 17:37] Jurlind commented on #597
Hi Fourdee,

thanks for your quick response. It seems that the installation is still failing, with error code 100. I am guessing that it is due to the size of the sd card, 1GB. I will try with a larger sd card, and will let you know, if this solves the problems I had. However, it definetly goes further in the installation by following your suggestion. Note that using 7zip, did not solve the proble

[2016-11-08 18:20] trajano commented on #598
Here is my query

[code]

[2016-11-08 18:33] trajano opened #599 ""build image" instructions"
I read that in the README.md that this is just a bunch of shell scripts, but I can't find the specific script used to build the images.  Perhaps a Wiki page with a build guide would help people to get started.  Specifically I wanted to try if I can run it through Travis CI.

[2016-11-08 18:36] trajano commented on #598
You should probably update https://docs.google.com/spreadsheets/d/1mDHGZC-H6tU6_O8kuLTG8d4A8Nt7lV1Q7MXTR_6qw30/edit#gid=0 when you finish unmarking these packages :+1:

[2016-11-09 11:54] Fourdee commented on #599
@trajano

Image prep is currently a manual process, please see here: https://github.com/Fourdee/DietPi/blob/master/PREP_SYSTEM_FOR_DIETPI.sh

[2016-11-09 17:33] sootstone opened #600 "DietPi-Software | Installing pi-hole changes IPv6 address."
This has no adverse effects as far as I can tell, but is just strange. Before installing pi-hole I have one global static IPv6 address ('A'), it is same regardless of how many times I reinstall. When I install pi-hole and choose to block IPv6 adverts, the installation says it will use the same address ('A') to block adverts. DietPi then reboots and its IPv6 address has changed to something else ('

[2016-11-10 05:01] bhaveshgohel opened #601 "[Discuss] Semantic Versioning in DietPi."
Hello @Fourdee ,
Today when i ssh to my RaspberryPi i see a message like  "Run now to update DietPi (from V132 to V136)."
And i wonder will this update are minor or major update to current version. Will upgrading breaks some things?

![dietpi](https://cloud.githubusercontent.com/assets/5253753/20165061/097a581e-a730-11e6-9310-e973f86164c5.jpg)

I agree i can see the changelog file and guess the ch

[2016-11-10 11:50] Fourdee opened #602 "Image: NanoPi Neo Air"

[2016-11-10 11:51] Fourdee opened #603 "Image: NanoPi M1"

[2016-11-10 11:56] Fourdee commented on #597
@Jurlind

Possibly, although 1GB should be fine for a default/minimal installation of DietPi RPi image.

If the error 100 occurs again, please can you take a screenshot / image / note of the onscreen information?

[2016-11-10 14:03] trajano opened #604 "PermitRootLogin appears twice in sshd_config"
I recently switched from DropBear to OpenSSH (so I can have the SFTP protocol) and I noticed that `PermitRootLogin` appears twice in /etc/ssh/sshd_config.  I am not sure if it is just my installation or if it is a common issue.

[2016-11-10 19:32] attzonko commented on #353
Has this been fixed? I hit this same issue when I installed haproxy today using dietpi-software

I am running DietPi version 136

[2016-11-10 20:00] Fourdee commented on #582
Re John results:
http://dietpi.com/phpbb/viewtopic.php?f=12&t=786&start=20#p3751

[2016-11-10 20:32] Fourdee commented on #353
@attzonko

Thanks for letting us know. 👍
I'll take a look.

[2016-11-10 20:53] attzonko commented on #353
By the way the workaround suggested by @crazyquark on May 24 corrected the issue for me.

[2016-11-11 11:54] Fourdee commented on #600
@sootstone

Sounds like PiHole may be setting the IPv6 static IP incorrectly? DietPi only changes IP address in `dietpi-config` and is end user driven.

I dont have a IPv6 capable network to confirm. So, you'd need to check `/etc/network/interfaces` for any changes, before and after PiHole has been installed (and before DietPi reboots system).

[2016-11-11 11:58] Fourdee commented on #604
@trajano

Good find 👍

I think our sed pattern match may be triggering a commented line, mentioning the same name:

[code]

Edit:
Yes it is:

[code]

[2016-11-12 12:18] Fourdee commented on #604
Fixed for v137, marking as closed.

[2016-11-12 12:18] #604 closed, assigned to Fourdee

[2016-11-12 12:52] Fourdee commented on #509
Testing:
- RPi 🈹
- Odroid (any, same code for all) 🈯️

[2016-11-12 15:10] Fourdee commented on #509
Completed.

[2016-11-12 15:10] #509 closed, assigned to nobody

[2016-11-12 15:19] Fourdee commented on #603
http://dietpi.com/phpbb/viewtopic.php?f=8&t=857#p3827
http://dietpi.com/download

[2016-11-12 15:19] Fourdee commented on #603
Completed, available for download.

[2016-11-12 15:19] #603 closed, assigned to Fourdee

[2016-11-12 15:22] Fourdee commented on #601
@bhaveshgohel

Excellent idea 👍

[2016-11-12 19:49] trajano opened #605 "reduce mysqld usage"
This goes by the assumption that the usage of MySQL would be a little less than a normal server, we can reduce the amount of memory being used by limiting some resources.  In my case, I added the following file ` /etc/mysql/conf.d/reduce_resources.cnf` which contains

<pre>
[mysqld]
key_buffer=8M
max_connections=30
query_cache_size= 8M
query_cache_limit= 512K
thread_stack= 128K
</pre>

More info i