[2017-02-18 13:23] Fourdee commented on #754
Completed (again)

[2017-02-18 13:23] #754 closed, assigned to nobody

[2017-02-18 13:30] Fourdee commented on #766
@WolfganP

Yep, ```ntpd -gq``` is launched during boot ```/DietPi/boot```, and, in ```/etc/cron.daily/dietpi```. Both of these rely on ```/DietPi``` being available.

[2017-02-18 14:02] Fourdee commented on #766
All seems to be working correctly on a fresh install.

```timesyncd``` is disabled by default as DietPi will launch ```ntpd -gq```:
[code]

[code]

This is run during boot and daily cron: https://github.com/Fourdee/DietPi/issues/766#issuecomment-280845691

Also tested our ```/etc/cron.daily/dietpi``` job. All appears fine:
[code]

[2017-02-18 14:06] Fourdee commented on #766
@despicablebapple

I believe you were right, this appears limited to your customized setup.

In future, I'd highly recommend using our implemented ```dietpi-config``` > Time sync mode, to apply your required timesync mode. Using ```disabled``` would allow you to manually configure a method of your choice, outside of DietPi:
![image](https://cloud.githubusercontent.com/assets/7077026/23093750/4c948

[2017-02-18 14:06] #766 closed, assigned to nobody

[2017-02-18 14:25] Fourdee commented on #761
Tests:
- 🈯️ Fresh install of ```llap: lighttpd | mariadb | php```
- 🈴 Install of ```llmp: lighttpd | mysql   | php``` on top (asking for trouble lol):
[code]

As expected, installing MySQL ontop of MariaDB (and visa versa) will cause issues with package conflicts. You should only have one or the other installed.

[2017-02-18 14:48] Fourdee commented on #761
Ok, i've added some code that will not allow MariaDB and MySQL to be installed, at the same time.
- if both are selected, MySQL is preferred over MariaDB.

This should prevent any re-occurrence of the issue @egrueda has experienced.

I believe this is also linked to the following ticket:
https://github.com/Fourdee/DietPi/issues/762

[2017-02-18 14:59] Fourdee commented on #761
- 🈯️ Tested

@egrueda
Although this doesnt help your current installation state, this will be prevented from v145 onwards. If you are unable to fix the package conflicts manually, i'd recommend a fresh install, and, only selecting either MySQL or MariaDB.

I'll mark this as closed, please reopen if required.

[2017-02-18 14:59] #761 closed, assigned to nobody

[2017-02-18 14:59] #762 closed, assigned to nobody

[2017-02-18 15:03] Fourdee commented on #751
The updated ```dietpi-drive_manager``` code also fixes hang issue with ```stretch```:
https://github.com/Fourdee/DietPi/issues/475#issuecomment-252504800

[2017-02-18 15:33] cellulosa commented on #769
@Fourdee thanks for your reply. Unfortunately I don't have any external monitor, but I can see the Pi not doing anything (it keeps the red light and no other blinking appears). Maybe something happened to the boot partition? When I run `fsck` it returns `Unable to read directory (Input/output error)`.

- Raspberry Pi Model B 512 MB RAM
- SDHC Sandisk Ultra 30 MB/s 16GB
- iZKA micro USB Mains Power

[2017-02-18 15:46] Fourdee commented on #751
- 🈯️ done | ~~SD to USB is disabled and needs rewrite, not compatible with new system.~~

[2017-02-18 15:46] Famicoman opened #770 "DietPi | Add support and optimizations for CHIP"
Are there any plans to support the $9 CHIP computer?
https://getchip.com/pages/chip

[2017-02-18 15:49] Fourdee commented on #767
[code]

[code]

[code]

[code]

No errors, but display is hung after ```xinit``` (no desktop)
[code]

[2017-02-19 11:31] Fourdee commented on #770
@Famicoman

Hi, thanks for the request.

If we can get our hands on one, yes. Although it works out at roughly £30 after shipping + import tax to UK :frowning_face:

I'll send CHIP an email, see if they would be willing to send us a dev sample board, allowing us to achieve an DietPi image and support for this device. Failing that, we would need to achieve funds from donations.

[2017-02-19 11:38] Fourdee commented on #770
Tweet, should get more attention than email, show your support and should help get things rolling 👍 : https://twitter.com/DietPi_/status/833279357380591617

[2017-02-19 16:10] Famicoman commented on #770
Thanks guys, hope they end up sending one your way!

[2017-02-20 07:26] tusharvb19 commented on #688
I need the solution to use dietPi as a my deafult os. Can someone try and help me to get it working!
(sic)

[2017-02-20 15:03] Fourdee opened #771 "RPi | Kodi + MPG2 WVC1 Codec, not functional"
eg: dvd iso

[2017-02-20 15:04] Fourdee commented on #771
I'll purchase codecs and test

[2017-02-20 15:14] Fourdee commented on #771
decode_MPG2=0x46de3941
decode_WVC1=0xf402b3ea
If you want to verify that the codecs are now enabled, the following commands will report their status:
vcgencmd codec_enabled MPG2
vcgencmd codec_enabled WVC1

S: ```00000000088e535b```

[2017-02-20 15:22] Fourdee commented on #769
@cellulosa

Thanks for the info.

This stands out as a possible cause (we recommend official RPi PSU with at least 2A), however, we did experience some issues linked to image corruption on a few of our previous images, that may of caused this to occur over time:
https://github.com/Fourdee/DietPi/issues/719#issuecomment-277533451

This should now be resolved, using our updated image ```DietPi_v143_

[2017-02-20 15:37] Fourdee commented on #751
- 🈯️ Done, rootfs move supports any partition | ~~Issue with moving rootFS back to ```p2``` as we require clear of partition tables~~

[2017-02-20 17:31] Fourdee commented on #751
RootFS move tests:
- 🈯️ C2  ```/dev/mmcblk0p2``` > ```/dev/mmcblk1p1``` > ```/dev/mmcblk0p2```
- 🈯️ RPi  ```/dev/mmcblk0p2``` > ```/dev/sda1``` > ```/dev/mmcblk0p2```

[2017-02-20 19:27] Fourdee commented on #751
Notes:
- 🈯️ Done | ```/mnt/usb_1``` was hardcoded throughout DietPi scripts as USB drive location. Lets remove this from all scripts, and plan to add a system where we can list all available mounts + offer selection, across various software (eg: dietpi-backup > select usb drive)

---

Removed/modified features, due to spring clean, and, updated code for how DietPi handles external drives :
- 🈯️ Fu

[2017-02-20 21:47] cellulosa commented on #769
@Fourdee thanks for the support.

Running `cat /etc/.dietpi_image_version` on the Pi returns `142`.

I have now downloaded the updated image `DietPi_v143_RPi-armv6-(Jessie).img`. How do you recommend to proceed to manually update the Pi?

[2017-02-20 23:55] oshank opened #772 "Multiple drives; removed one"
I had 2 USB HDD's set up for a while with no issues, I moved all the userdata to the HDD I plan on keeping attached to the Pi. I shutdown and removed the other drive. After rebooting I cannot access dietpi-software or dietpi-drive_manager. It keeps getting hung up on something and will not provide me with an interface. It also has a hard time shutting down with only one drive plugged in. With both

[2017-02-21 00:02] oshank commented on #772
Well I might have solved it already; with both drives mounted, I went into drive_manager and changed the mount type to UUID and had it always mount to /mnt/usb_2/.

[2017-02-21 00:04] oshank commented on #772
Just kidding, it remounted to usb_1 rather than usb_2, I have somehow mounted it to both usb_1 and usb_2.

[2017-02-21 22:21] floydianslips opened #773 "Error upon installation"
Only trying to install LXDE and Chromium:

Apt-get has failed:                                                │
     │  - Apt string = xcompmgr xterm xinit xauth xserver-xorg dbus-x11   │
     │ xfonts-base x11-xserver-utils x11-common x11-utils                 │
     │ --no-install-recommends                                            │
     │  - Error code = 100

[2017-02-22 05:13] ParaplegicRacehorse commented on #229
Use case for write protection: thin clients and high availability fail-over server systems and anything else that might want or need to have most of its filesystem served to it over the network.

[2017-02-22 09:22] ralienpp opened #774 "[dupe] Read-only root partition"
It would be of great benefit for the longevity and survivability of the system, if it could be guaranteed that it would always boot to a known clean state that cannot be affected by anything. This is especially relevant for contexts where power outages are common, or if some processes write to disk often.

Third party stuff and generated data files should be stored in the user's home directory on

[2017-02-22 10:09] PromoFaux commented on #753
Just FYI, there was a line added to our `lighttpd.conf` that allows users to add their own customisations in `/etc/lighttpd/external.conf`, so that we would no longer overwrite any custom configs that people had set up. Seems a good compromise for now?

https://github.com/pi-hole/pi-hole/pull/704

(btw. incoming question for you over on our repo :wink:)

[2017-02-22 14:47] Fourdee commented on #751
#### Removal of hard coded USB drive selection throughout DietPi scripts,  change to list of active mounts.

Following programs, has a ```list``` option for active mount locations, with menu selection:
- DietPi-Backup
- DietPi-Sync
- DietPi-Software > Userdata location

![image](https://cloud.githubusercontent.com/assets/7077026/23216444/e5b930b4-f90d-11e6-9765-57b55657b1c3.png)

![image](https://

[2017-02-22 15:01] Fourdee commented on #774
@ralienpp

Thanks for the suggestion and info 👍 , as we already have a ticket with this request, i'll mark this one as dupe.

Here is the original ticket: https://github.com/Fourdee/DietPi/issues/229

[2017-02-22 15:01] #774 closed, assigned to nobody

[2017-02-22 15:31] Fourdee commented on #770
Received a few donations, ordered a CHIP kit for $43. On back order for Q1.

[2017-02-22 17:09] Fourdee commented on #751
ToDo, online docs:
- 🈯️ Over complicates setup for new users. I will leave this out of 1st run guide | ~~Change step 5 from: http://dietpi.com/phpbb/viewtopic.php?f=8&t=9 to Optional setup USB/userdata ~~
- 🈯️ Update all references of ```/mnt/usb_1``` in online docs to ```/mnt/uuid-of-device```
- 🈯️ Update image for http://dietpi.com/phpbb/viewtopic.php?f=8&t=478 and reference setup drives with ``

[2017-02-22 17:44] Fourdee commented on #773
@floydianslips

Thanks for the report 👍

Which device is this running on?

[2017-02-22 17:48] Fourdee commented on #769
@cellulosa

Ah yes, so this could be caused by the image, apologies for that, although, still cant rule out PSU.

For fresh installations, DietPi updates automatically during 1st run to latest version.

If indeed the SD card is unreadable, and no info is available on HDMI output during boot, a fresh install is the only option.

We could attempt to recover user data (eg: nextcloud files etc) from y

[2017-02-22 17:51] Fourdee commented on #772
@oshank

Hi,

Thanks for the report 👍

Yes, when not using UUID mount type, and 2 usb drives, the mount target location "could" change/swap during subsequent reboots. Using UUID with multiple drives is highly recommended to ensure same mount target forever.

In DietPi v145 (in devolpment), we have made significant changes to ```dietpi-drive_manager``` and UUID is now set for new drives, by default

[2017-02-22 18:30] floydianslips commented on #773
Raspberry Pi 3. I spent a couple hours trying to get past this error. Tried LXFE and received errors as well. Never could get anything running on it. Please let me know if there is any way to help on this.

[2017-02-22 19:36] cellulosa commented on #769
@Fourdee it's ok I will just do a fresh install. Thanks for your help!

[2017-02-22 22:18] oshank commented on #772
`blkid`
/dev/mmcblk0p2: UUID="859cf567-e7d3-4fa7-82b8-cb835cd272c6" TYPE="ext4" PARTUUID="0313e829-02"
/dev/sda1: UUID="18775961-fe7e-4fe4-9527-f6e95883d7b9" TYPE="ext4" PARTLABEL="primary" PARTUUID="f2823ed5-844c-42e6-b971-688cdd601762"
/dev/mmcblk0: PTUUID="0313e829" PTTYPE="dos"
/dev/mmcblk0p1: SEC_TYPE="msdos" LABEL="boot" UUID="70D8-A768" TYPE="vfat" PARTUUID="0313e829-01"

`cat /etc/fstab`
#

[2017-02-23 12:12] kutysam commented on #635
The original issue lies in here.
[code]
I don't think this 'fix' is working very well =/

[code]

The service is loaded. but the device isn't connected to the wifi yet.
modprobe launched successfully when i do lsmod.

To activate wifi I have to manually
/bin/bash -c 'iwconfig wlan0 power off'
/bin/bash -c 'ifup wlan0'

Might i suggest a timer?
[code]
It's working for me this way. Just have to wait

[2017-02-23 14:51] Fourdee commented on #635
@kutysam

Many thanks 👍
Yep, the current ```xradio_wlan``` driver is somewhat "flaky". Although, its been a while since we last built the base image using ARMbian build tools.
If I can get my OPi Zero to work (I think its completely dead, no serial, will test another adapter), i'll rebuild and test latest image/driver, hopefully its been "improved" since the last.

sudo ping -s 1 -i 0.2 <orangePiW

[2017-02-23 14:53] aliosa27 commented on #635
I'll rebuild the base image over the next day or so. My wifi stays active so I never notice it go down.. pesky wifi

[2017-02-23 15:29] kutysam commented on #635
i discovered this 'ping' thing when i was using motion https://motion-project.github.io/

I was wondering, why did my ping become 1-2ms when i was streaming... and soon i realize, mjpeg streams really fast and multiple times within 1 second. So yeap.

Please do put in the 10second sleep function! Otherwise, it may not connect to wifi when the system comes online.

and perhaps you can put this note

[2017-02-23 16:19] Fourdee commented on #751
@midwan

The recent changes here will effect the AmiBerry automated image. All prompts to setup an external drive has now been removed from 1st run setup.
As of DietPi v145, users can setup external drives and move "user data" (eg: where roms/kickstarts are stored) by running ```dietpi-software``` from command line and selecting ```User Data``` option. After installation is completed.

Pics + step

[2017-02-23 16:30] Fourdee commented on #751
Completed.

[2017-02-23 16:33] Fourdee commented on #772
@oshank

Thanks, that looks fine, USB drive will always mount to ```/mnt/usb_1```. The other drive is not attached, if you want to attach it, using ```dietpi-drive_manager``` to set it up should be fine. Just make sure to set mount type to UUID.

[2017-02-23 16:35] Fourdee commented on #771
http://www.deniscarl.com/dvdtest/

[2017-02-23 16:57] aliosa27 commented on #770
I have tried to do this on my chip's a few times, however things break when trying to recreate a ubifs from the installed, trimmed system, ill tackle this over the next week. time off work!

[2017-02-23 17:04] Fourdee commented on #771
Unable to replicate:
[code]
http://www.deniscarl.com/dvdtest/videotest.zip works fine from kodi.

Will refer back to user, making as closed.

[2017-02-23 17:04] #771 closed, assigned to nobody

[2017-02-23 19:13] Fourdee commented on #635
@kutysam

Done 👍 , i've updated the workaround service.
Although, just bear in mind, as this is a oneshot service, it will delay boot by an additional 10 seconds. This is due to SystemD waiting for oneshot's to complete, before continuing to the next service.

@aliosa27

If you could do this, would be really grateful 👍

[2017-02-23 19:14] Fourdee commented on #773
@floydianslips

Thanks 👍

I'll run a test here to try and replicate.

notes:
[code]

[2017-02-23 19:20] Fourdee commented on #773
@floydianslips

Ok, appears to work fine here on fresh DietPi install with RPi 3, may be limited to your current installation and package combination, or, apt mirror.

We'll need to debug this manually, **please run the following commands and paste results:**
[code]

[2017-02-23 21:38] floydianslips commented on #773
I needed to commonadeer that SD card for another project unfortunately.
I have tried a new card and just LXDE and it worked swimmingly. Sorry
about that, I should have tried to keep that card.

If it helps the card is a Lexar 300x 16GB. I will try to load it on
their again when I get a chance to test it. My goal with Diet Pi is to
install Internet-in-a-Box (XSCE) on it. We are developing it to wor

[2017-02-24 04:52] tohjg commented on #755
im facing the same issue just few minutes. dietpi-software try to fetch 'http://ftp.debian.org/debian'. i tried to put the link to the browser and return 404. i replaced 'http://ftp.debian.org/debian' with 'http://ftp.debian.org/debian/' in /etc/apt/sources.lst. it works! where can i commit 'source.lst'?

[2017-02-24 10:18] tohjg opened #775 "pihole: web admin's setting not able to start/enable dhcp server"
issue transfer from [pihole](https://github.com/pi-hole/pi-hole/issues/1264)

[2017-02-24 12:50] Fourdee commented on #755
Confirmed, they must of changed their webserver settings overnight lol.

Ok, few locations to change:
- dietpi-config | Where users can select apt mirror: https://github.com/Fourdee/DietPi/blob/testing/dietpi/dietpi-config#L3971-L3990
- image prep | https://github.com/Fourdee/DietPi/blob/testing/PREP_SYSTEM_FOR_DIETPI.sh#L72-L77
- Patch system | For existing installations, we'll need to patch for

[2017-02-24 13:04] Fourdee commented on #775
@tohjg

chmod 4755 /usr/bin/sudo

Which device was this on? As far as I know, we dont specifically change ownership/uid bit of ```sudo```, defaults should be functional and not require a change.

[2017-02-24 13:42] tohjg commented on #775
i'm using [pine64](https://www.pine64.org/?product=pine-a64-board-1gb) 1gb board.

[2017-02-24 13:51] Fourdee commented on #751
Lets also update ```dietpi-cloudshell``` storage menu, to use the new mount list selection system.

[2017-02-24 13:53] Fourdee commented on #751
Done.

[2017-02-24 13:53] #751 closed, assigned to Fourdee

[2017-02-24 14:05] Fourdee commented on #767
Seems regardless of xorg.conf:
[code]

Always uses ```fb0```:
[code]

[code]

---

Same with:
[code]

[2017-02-24 14:23] meoow commented on #596
@Fourdee
The commands above `tput cnorm` are required to run only once, and if you run `tic terminfo.txt` in root privilege, the configuration will be system-wide. `tput cnorm` is the sole command you need to run every time after you logged in. (or put it in somewhere like /etc/profile of course)

[2017-02-24 14:26] Fourdee commented on #767
- 🈯️ ```mv /usr/share/X11/xorg.conf.d/99-fbturbo.conf /usr/share/X11/99-fbturbo.conf```

You'd think putting waveshare xorg, before the above would work, but no...
[code]

---

xinput calibration is way off, x/y are inverted...
- ```config.txt``` ```swapxy=1``` has no effect
- ```/etc/X11/xorg.conf.d/99-waveshare32_calibration.conf```  ```Option  "SwapAxes"      "1"``` no effect

```/etc/X11/xorg.

[2017-02-24 16:05] midwan opened #776 "DietPi-Software | Upgrade Pi-Hole to the latest version"
Is there a reason that Pi-hole is still on v2.9.5, while the are several versions after that available?

The current latest one is v2.12.1: https://github.com/pi-hole/pi-hole/releases

[2017-02-24 16:13] Fourdee commented on #776
@midwan

Once installed, PiHole needs to be updated manually as it overwrites the ```lighttpd.conf```. i'd also recommend making a system backup before running this ```dietpi-backup```, as we cant predict/control what ```pihole -up``` will do:
[code]

[2017-02-24 16:14] midwan commented on #776
Yeap, I read that in the forum post.. but I was wondering why installing it from scratch using Dietpi-Software doesn't install the latest version?

Also, is it normal that I don't see a Login link in the Pi-hole web interface?

[2017-02-24 16:15] Fourdee commented on #776
Strange, ```dietpi-software``` does run the official installation script during install, it should be latest version:
http://install.pi-hole.net

Should be located on the left hand side. Is this a fresh installation of PiHole recently?

[2017-02-24 16:17] midwan commented on #776
When I installed it it got v2.9.5, maybe if I remove it and install it again it would get the latest one (didn't test that). :)

This is what I see on the left hand side:
![image](https://cloud.githubusercontent.com/assets/3877365/23311075/118f6d04-fab5-11e6-8924-f26c186a2168.png)

[2017-02-24 16:19] Fourdee commented on #755
Hmm, seems uk mirror doesn't require the ```/```, only master mirror:
[code]

Lemme add it in anyway:
🈯️ Fine
[code]
Yep, so we can change all ftp.*.debian.org references to include the ```/``` at end of url.

[2017-02-24 16:23] Fourdee commented on #776
Yep, uninstall and install though ```dietpi-software``` would work.

In older versions, the login option is in the top right hand corner, the PiHole button (i believe).

Just did a fresh install, Pi-hole Version v2.12.1 Web Interface Version v2.4, login button is on left hand side.

[2017-02-24 16:24] midwan commented on #776
Hm, I'll try a clean re-installation to see if it helps then

[2017-02-24 16:34] Fourdee commented on #596
@meoow

Thanks for the info 👍

[2017-02-24 16:54] midwan commented on #776
OK, re-installing from scratch works.

Note: the site is now accessible under <IP>/admin instead of <IP>/pihole, you may want to update the documentation on the forum... ;-)

[2017-02-24 16:54] #776 closed, assigned to nobody

[2017-02-24 16:54] Fourdee commented on #755
Ok, this is currently effecting all non-RPi images. We need to get this fixed and released asap. @tohjg have you made a start on any pull requests/commits? If not, let me know and i'll make a start.

I've posted a quick fix for users on forum:
http://dietpi.com/phpbb/viewtopic.php?f=11&t=1373#p5810

[2017-02-24 16:55] LexiconCode opened #777 "[dupe] DietPi - Requests Internet access during installation when internet connection is functional"
Dietpi: 144
Odroid C2

During the installation process DietPi Internet access during installation when internet connection is functional.

[code]

"Run the Internet Connection Test"  it report  "Internet     : Online "

Additionally verified by...
[code]
Initially I thought this may be related to Pihole
I've changed my hostname to the website base URL but have redacted for privacy.  It would look

[2017-02-24 17:00] Fourdee commented on #776
@midwan

It should be available under both. We create a symlink for /pihole to /admin aswell. So either should work:
ip/pihole
ip/admin

^^ I personally prefer ip/pihole 😉

[2017-02-24 17:05] Fourdee commented on #777
@LexiconCode

Thanks for the report, this is a known issue:
https://github.com/Fourdee/DietPi/issues/755#issuecomment-282203823

We'll get this fixed for v145, in the mean time, quick solution is here:
http://dietpi.com/phpbb/viewtopic.php?f=11&t=1373#p5810

I'll mark this as closed (dupe)

[2017-02-24 17:05] #777 closed, assigned to nobody

[2017-02-24 17:07] Fourdee commented on #755
Interesting report from another user, reordering lines in ```/etc/apt/sources.list``` also resolves it due to connection test using 1st line.
http://dietpi.com/phpbb/viewtopic.php?f=11&t=1373#p5798

Below provides a ```404``` via a webrowser (and our connection check using ```--spider```, but ```apt-get update``` still works fine.
http://ftp.debian.org/debian

---

Notes, patch:
[code]

[2017-02-24 17:14] LexiconCode commented on #777
@Fourdee
The suggested fix may cause the following error when running 'apt-get update'

W: GPG error: http://www.deb-multimedia.org jessie InRelease: The following signatures couldn't be verified because the public key is not available: NO_PUBKEY 5C808C2B65558117

Which can be fixed by
apt-get install deb-multimedia-keyring

[2017-02-24 17:15] midwan commented on #776
Yeap, but it comes up with this:

![image](https://cloud.githubusercontent.com/assets/3877365/23313251/3a513e68-fabd-11e6-8dc0-006149ba730a.png)

[2017-02-24 17:15] Fourdee commented on #777
@LexiconCode

Yep, this doesn't exist on our image, it appears its pulled in during ```apt-upgrade``` possibly from one of Meveric's packages:
![image](https://cloud.githubusercontent.com/assets/7077026/23313260/e2660484-fab4-11e6-92f6-8405e56b2290.png)

Afterwards:
[code]

[2017-02-24 17:20] Fourdee commented on #776
@midwan

Weird lol. Didn't happen for me on Chrome, which browser?

[2017-02-24 17:25] midwan commented on #776
@Fourdee
I tried it with Chrome... :) The block is from PiHole itself it you notice, and that's why it has the option to whitelist it. However, when I try to whitelist it from here it fails with an "unknown error".

It's not a big deal for me, as I can use the /admin page without a problem. Just thought that you should know in case other people come across this.

[2017-02-24 17:30] LexiconCode commented on #777
Fyi: 	nextcloud-11.0.1.zip is available

[2017-02-24 17:31] Fourdee commented on #776
@midwan

Aye, thanks 👍

Its one of those days lol...
![image](https://cloud.githubusercontent.com/assets/7077026/23313807/22e178f2-fab7-11e6-8d4a-876673a048ff.png)

Although, not sure why PiHole is even blocking this for you, doesn't exist in gravity list:
[code]

[2017-02-24 17:46] Fourdee commented on #755
- 🈯️ Ensure check connection works with ```/``` addition, on all mirrors, not just global:
[code]

[2017-02-24 17:49] Fourdee commented on #755
- 🈴 Fresh install patch test C2

Connection test runs before ```dietpi-update```. I'll need to update all our non-rpi images, thanks debian.org!

[2017-02-24 18:15] Fourdee commented on #688
@tusharvb19

Unfortunately, anything beyond standard serial connection for remote tty, is not something I have experience with. I cannot offer any assistance in this case.

[2017-02-24 18:59] Fourdee commented on #755
## Information for our users:

To check for a valid connection, DietPi will run a ```wget --spider``` connection test on the 1st url entry in ```/etc/apt/sources.list```.  If this returns a ```404```, the test is considered a failure.
As of a few days ago, Debian.org has modified their webserver configuration, requiring an additional ```/``` at the end of the URL (many thanks to @tohjg for solutio

[2017-02-24 19:26] LexiconCode commented on #777
@Fourdee Thank you!

[2017-02-24 23:57] #772 closed, assigned to nobody

[2017-02-25 07:01] tusharvb19 commented on #688
The serial ports are there ttys1but I am not able to get it working for serial interface..it shows could not configure port/io error!

[2017-02-25 14:34] Fourdee opened #778 "Update all images to v145"
To resolve:
https://github.com/Fourdee/DietPi/issues/755#issuecomment-282374707

Although, may as well do RPi images aswell.

Images:
- I 🈯️ | Z 🈯️ | Live 🈯️ | RPi Jessie
- I 🈯️ | Z 🈯️ | Live 🈯️ | RPi Stretch
- I 🈯️ | Z 🈯️ | Live 🈯️ | C1
- I 🈯️ | Z 🈯️ | Live 🈯️ | C2
- I 🈯️ | Z 🈯️ | Live 🈯️ | XU4
- I 🈯️ | Z 🈯️ | Live 🈯️ | Sparky
- I 🈯️ | Z 🈯️ | Live 🈯️ | Pine A64
- I 🈯️ | Z 🈯️ | Live 🈯️ | OPi one
-

[2017-02-25 17:57] Fourdee commented on #777
@LexiconCode

Thanks 👍

Lets use:
https://download.nextcloud.com/server/releases/latest-11.zip

[2017-02-25 18:00] Fourdee opened #779 "DietPi-Software | NextCloud, always install latest subversion"

[2017-02-25 18:00] Fourdee commented on #779
Commit: https://github.com/Fourdee/DietPi/commit/4f85911200c873f18c890a1e3a231faa585d8e29

[2017-02-25 18:00] Fourdee commented on #779
Completed

[2017-02-25 18:00] #779 closed, assigned to nobody

[2017-02-25 21:09] midwan opened #780 "Pine64 | Incorrectly reporting No internet connection"
Fresh install of v142, updated to v144 on a Pine64.
I've enabled both Ethernet and Wifi, the Interent Test in the Adapters config screen works fine.
Apt-get works fine as well, and I was able to update the firmware from the menu also.

However, Dietpi-Software reports "No internet connection" when it attempts to start installing my selected applications, and refuses to continue.

Is this a known i

[2017-02-25 21:11] midwan commented on #780
I guess this is due to #755 then ?

[2017-02-25 21:14] midwan commented on #780
Confirmed, the fix mentioned helped resolve the issue. Sorry :)

[2017-02-25 21:14] #780 closed, assigned to nobody

[2017-02-26 07:45] mmikel commented on #738
changing ttyS1 to ttyS3 in /etc/default/ap6212 was help me....

[2017-02-26 09:04] ThomasKaiser commented on #738
@mmikel this works out of the box with an uncrippled Armbian installation: https://github.com/igorpecovnik/lib/blob/50882530628faffe9c97f015569a31d16f5ceb47/scripts/firstrun#L217-L218

[2017-02-26 13:22] Fourdee commented on #738
@mmikel

Thanks 👍

Appears the ARMbian ```firstrun``` script failed to execute this correctly, on last image build. I'll rebuild the image and see if this has been fixed:
https://github.com/igorpecovnik/lib/issues/603

[2017-02-26 13:24] Fourdee commented on #780
@midwan

Thanks for report, your spot on 👍

Aiming to have the Pine A64 image updated today, with the fix applied:
https://github.com/Fourdee/DietPi/issues/778

[2017-02-26 15:07] Fourdee commented on #778
- 🈴 OPi Zero board failure. No boot, serial, leds. Unable to complete.

[2017-02-26 17:31] Fourdee commented on #780
@midwan

Pine image updated to v145:
http://dietpi.com/downloads/images/DietPi_PineA64-arm64-(Jessie).7z

Contains fix for this ticket, and latest firmware/kernel from longsleep (104)

[2017-02-26 19:44] midwan commented on #780
Awesome, thanks!

[2017-02-26 19:51] mzeichner commented on #755
An alternative fix that might help some people is:

 in the file dietpi.txt that runs at first startup change the line that reads:

Apt_Debian_Mirror=http://ftp.debian.org/debian

to

Apt_Debian_Mirror=ftp://ftp.debian.org/debian

[2017-02-27 10:07] taner1 commented on #778
will this update rolls with 4.10 mainline kernel for opi zero? im waiting for it

[2017-02-27 12:27] Fourdee commented on #778
@taner1

Unfortunately not from my end as my board is dead. Would need someone else to generate image while I wait for replacement.

[2017-02-27 13:51] Fourdee commented on #778
@taner1

Although saying that, ARMbian may release 4.10 as a package install via their repo.

[2017-02-27 16:11] Fourdee opened #781 "General | ARMbian built images, remove log2ram"
Conflicts with DietPi-RAMlog.

[2017-02-27 16:12] Fourdee commented on #781
Completed

[2017-02-27 16:12] #781 closed, assigned to nobody

[2017-02-27 16:21] Fourdee opened #782 "DietPi-Software | XSCE School Server"

[2017-02-27 16:22] Fourdee commented on #773
@floydianslips

for Diet Pi?

Interesting software 👍  I'll create a ticket and take a look when possible.
https://github.com/Fourdee/DietPi/issues/782

Thanks for letting us know. I've not tried Lexar SD cards yet, Sandisk seem to be the leader in stability on SBC's (even though they do not officially support use in SBC's lol 😉 ), only ever had 1 Sandisk fail since the start of DietPi.

[2017-02-27 19:39] floydianslips commented on #773
Thanks. You have any plans on adding ansible as an install option?

On Feb 27, 2017 8:22 AM, "Dan" <notifications@github.com> wrote:

@floydianslips <https://github.com/floydianslips>

Are there any plans to have Ansible as an install option in the future
for Diet Pi?

Interesting software 👍 I'll create a ticket and take a look when possible.
#782 <https://github.com/Fourdee/DietPi/issues/782>

—

[2017-02-27 20:28] taner1 commented on #778
I tried to install it via apt but my goal is getting wifi ap+sta mode so will this update also install mainline ported xradio module or does it conflicts?  I cant figure it out because kernel headers filled my 1gb disk.  btw how can i delete old kernel files i tried cleaners and apt autoremove clean things but nothing done :)

[2017-02-27 22:33] cellulosa commented on #769
@Fourdee I have now bought the [Raspberry Pi Official Universal Power Supply Unit](https://www.amazon.co.uk/dp/B00MBH6XNS/ref=pe_1909131_77697121_tnp_email_TE_AMZLdp_1) and re-formatted the SD drive with the updated image `DietPi_v143_RPi-armv6-(Jessie).img`. However, after the first reboot (after updates) the Pi does not boot anymore. Still something wrong after patch `144`:

     (...)

     [Ok

[2017-02-28 12:48] Fourdee commented on #769
#### Before writing the image, lets also complete a full format on the SD card:
- download SD formatter https://www.sdcard.org/downloads/formatter_4/eula_windows/index.html
- Extract and Run
- Goto options, and select the following
![image](https://cloud.githubusercontent.com/assets/7077026/23405762/b7ed1178-fdb3-11e6-8a6b-7b7e5e001a7d.png)
- Ensure correct drive is selected for card, then format

[2017-02-28 13:13] Fourdee commented on #778
@taner1

Manually is best way.
- Remove the oldest version from (if 2 or more entries):
[code]

- On some images, also check boot for duplicate files with different versions:
[code]

If you are modifying the kernel, you may wish to put the ARMbian packages on hold. This would allow you to used the ported xradio_wlan driver without kernel being updated.

Not sure which package exactly, but you can

[2017-02-28 15:11] were55 opened #783 "Emby Server"
Hello, I'm trying to install Emby server on RPi 2 but I have some problems, I tried different sources with the same error:
Apt-get has failed:
- Apt string = emby-server embymagick
- Error code = 100
- Software Title = Emby Server: web interface media streaming server

[2017-02-28 16:13] Fourdee commented on #783
@were55

Hi,

Thanks for the report 👍

I'll try to replicate.

[2017-02-28 16:45] Fourdee commented on #783
Unable to replicate on fresh install.

@were55

Issue may be limited to your current installation/package combination. We'll need your assistance to debug this manually to find a solution.

Please can you run the following commands, and paste results of the errors (or take a picture):
[code]

[2017-02-28 17:46] Fourdee commented on #778
Although DEV (4.9) offered excellent results with Nano Pi Neo's, the recent 4.10 update via ARMbian repo renders it unusable (breaks USB detection).

Making the decision to revert all DEV (4.x mainline) images to STABLE (3.x). We may offer DEV (4.x) as an alternative, but not for our main image.

Images effected by the revert:
- 🈯️ BPi Pro
- 🈯️ NanoPi Neo
- 🈯️ NanoPi Air

[2017-02-28 17:50] Fourdee commented on #742
Marking this as closed, due to revert from DEV (4.9) to STABLE (3.x) for our main images:
https://github.com/Fourdee/DietPi/issues/778#issuecomment-283112473

[2017-02-28 17:50] #742 closed, assigned to nobody

[2017-02-28 18:08] were55 commented on #783
Hi Fourdee,

thanks for reviewing that. Here is the output:

root@DietPi:~# apt-get install emby-server embymagick
Reading package lists... Done
Building dependency tree
Reading state information... Done
Some packages could not be installed. This may mean that you have
requested an impossible situation or if you are using the unstable
distribution that some required packages have not yet been crea

[2017-02-28 18:15] Fourdee opened #784 "DietPi-Software | OpenBazaar fails to run"

[2017-02-28 18:29] Fourdee commented on #783
@were55

Yep, possibly repo your using for install of TVheadend is effecting this install.

Ok, we can try to modify the repos and see if we get success with install of Emby.

First things 1st, backup your system and userdata
[code]

We'll need to see your apt sources next:
[code]

[2017-02-28 20:40] were55 commented on #783
Fourdee,

Sorry for delay, I was out. Here is the output:

[code]

[2017-02-28 23:40] JohnMacrae opened #785 "Webmin Install issue"
I have a new installation (today) with Mosquitto, Node Red and a few nodes on a PI3 with USB drive configured.  I thought I had selected Webmin when installing NR etc but it wasn't running or responding to commands so I decided I had forgotten and decided to install it from the Software menu.  It stopped when 'unpacking webmin'.  Eventually, after some hours, I took the chance of a reboot.  Now, w

[2017-03-01 00:58] JohnMacrae commented on #785
Problem solved by running: dpkg --remove --force-remove-reinstreq webmin and then reinstalling

[2017-03-01 11:06] cellulosa commented on #769
@Fourdee

Thank you. By following your process and formatting the SD cart and then installing the updated RPi image it all worked.

[2017-03-01 11:06] #769 closed, assigned to nobody

[2017-03-01 13:17] Fourdee commented on #785
@9H5G

Hi,

Thanks for the report, i'll see if we can replicate your installation and the issue on a test system.

Webmin/Node red/Mosq
[code]

[2017-03-01 13:30] JohnMacrae opened #786 "Clock check?"
This definitely an enhancement.  DietPi is attractive since its leaner all round.  I also chose it since I have very poor/unreliable network connectivity as I travel.  Often this means that NTP is inaccessible.

On the first boot, Dietpi checks for NTP time and if not received, the system clock is set to the time and date of the OS release. DietPi then rushes off to get updates automatically and y

[2017-03-01 13:38] Fourdee commented on #783
@were55

Thanks

Depends: mono-devel (>= 4.6) but it is not installable

Ran another test with ```deb http://mirror.umd.edu/raspbian/raspbian jessie main contrib non-free rpi``` as per yours, still installs fine.

Ok, lets check contents of:
[code]

And, do you receive any errors when updating apt?
[code]

Lets also check if those packages exist in apt-cache after the update:
[code]

[2017-03-01 13:39] Fourdee commented on #786
@9H5G

Great idea 👍  i'll flag this for v146 milestone.

[2017-03-01 13:50] were55 commented on #783
Fourdee,

apt-get update runs fine, here is the output of the others commands:
[code]
thanks

[2017-03-01 13:56] Fourdee commented on #785
@9H5G

I was unable to replicate issue on fresh install (+ Webmin/Node red/Mosq), all software installs and functions successfully.

Very strange, I assume no errors, simply system hangs on unpacking? If so, from my experience, this is an indication of a possible hardware failure (PSU / SD card).

Which:
- PSU used?
- SD card used?

[2017-03-01 13:58] Fourdee commented on #784
Confirmed on C2. Install log:
http://pastebin.com/4mc6y47H

[2017-03-01 14:25] Fourdee commented on #783
@were55

emby-server - Emby Server is a home media server.
emby-server-beta - Emby Server is a home media server.
emby-server-dev - Emby Server is a home media server.

Looks fine, packages exist, should install, lets try reinstall of Emby:
[code]

If it fails again:
[code]

And paste results of:
[code]

[2017-03-01 14:32] were55 commented on #783
@Fourdee

output:

root@DietPi:~# dietpi-software reinstall 41
 [Info] Initializing database, please wait...
 [Info] Reading database, please wait...

 DietPi-Software
─────────────────────────────────────────────────────
 Mode: Automated reinstall
 Please wait...

 [Info] 41: Emby Server is not currently installed
 [Info] The program must be installed, before reinstall can be used
 [Ok] No change

[2017-03-01 14:34] Fourdee commented on #783
@were55

😃
[code]

[2017-03-01 14:43] Fourdee commented on #784
Looks like ```pip``` is up the fritz:
[code]

- 🈯️ solution, install latest pip: https://github.com/pypa/setuptools/issues/937#issuecomment-277276387

---

Software we install that uses pip:
- 🈯️ mopidy
- 🈯️ openbazaar
- 🈯️ emonhub

.
- 🈯️ Create new linux software entry for ```pip```, add prereq to above software

[2017-03-01 14:49] were55 commented on #783
@Fourdee

Is the same, (I don't remember we changed something to expect anotehr output, maybe I missed something):

`(Reading database ... 38168 files and directories currently installed.)
Preparing to unpack libjpeg8.deb ...
Unpacking libjpeg8:armhf (8d1-2) over (8d1-2) ...
Setting up libjpeg8:armhf (8d1-2) ...
Processing triggers for libc-bin (2.19-18+deb8u7) ...
 [Info] Apt-get is processing, p

[2017-03-01 14:50] Fourdee commented on #783
@were55

Nope we didn't, everything is in order as far as I can see.

Run and paste results of:
[code]

[2017-03-01 15:04] were55 commented on #783
@Fourdee

output:

root@DietPi:~# apt-get install -f
Reading package lists... Done
Building dependency tree
Reading state information... Done
0 upgraded, 0 newly installed, 0 to remove and 5 not upgraded.

[2017-03-01 15:26] WolfganP commented on #786
If it fails on first attempt with currently configured servers, maybe a second try with the global servers at 0.pool.ntp.org or 1.pool.ntp.org is worthy.

[2017-03-01 16:20] Fourdee commented on #784
Completed.

[2017-03-01 16:20] #784 closed, assigned to nobody

[2017-03-01 16:57] JohnMacrae commented on #785
Hi Dan,
Yes, very odd.  I have a 3A PSU and use new(ish) genuine 16gb Sandisk
ultra.  I suspect maybe a bad download followed by a power reset did the
damage. Was really flagging up that the advice given when the apt
simulation fails could include the line above if all else fails?

Thx for your quick reply.

Kind Regards
John

On 1 March 2017 at 08:56, Dan <notifications@github.com> wrote:

[2017-03-01 16:57] Fourdee commented on #445
Fails connection test...
[code]

- 🈯️ https://github.com/blynkkk/blynk-server/releases
- 🈴 https://github.com/blynkkk/blynk-server/releases/download

[2017-03-01 17:05] Fourdee commented on #445
online doc: http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=5901#p5901

[2017-03-01 17:20] Fourdee commented on #445
Commit: https://github.com/Fourdee/DietPi/commit/045284afc43488822e83c549de2bb924362eaa32

[2017-03-01 19:17] Fourdee opened #787 "RPi Zero W | Add Support onboard WiFi"

[2017-03-01 19:27] Fourdee commented on #787
Waiting for response/stock details from PiSuppy:
https://twitter.com/DietPi_/status/837020769502826505

Ordered one from another supplier, be here within 5 days (hopefully).

[2017-03-02 00:27] JohnMacrae opened #788 "Pip and Paho"
Another enhancement?
If we have the option to install Mosquitto it would be good to be able to install pip and paho as well.

Also, along with the GPIO options it would be good to include smbus?

Thx :)

[2017-03-02 10:26] kronflux commented on #475
I'd like to note that(although I'm using a manually updated PineA64) v145 produced an error with Fail2Ban for me.
Apt-get has failed:
│  - Apt string = fail2ban --no-install-recommends
│  - Error code = 100
the console produced this:
Job for fail2ban.service failed because the control process exited with error code.
See "systemctl status fail2ban.service" and "journalctl -xe" for details.
invoke-r

[2017-03-02 14:18] Fourdee commented on #445
Just about to finish off the online doc, http://blynk.cc is down lol, typical.

[2017-03-02 15:11] Fourdee commented on #788
@9H5G

Python-Pip?:
We've added this to linux software entry in ```dietpi-software``` for v145: https://github.com/Fourdee/DietPi/issues/784#issuecomment-283358538

[2017-03-02 18:04] Fourdee commented on #778
Completed

[2017-03-02 18:04] Fourdee commented on #755
All images have been updated with the fix, v145 will patch existing installs.

Completed.

[2017-03-02 18:04] #755 closed, assigned to nobody

[2017-03-02 18:06] Fourdee commented on #719
No further reports using the updated images. All images have now been updated using our new image creation procedure and force ```sync``` in ```dietpi-ramlog```.

Marking as closed. Will reopen if further reports come in, using the latest DietPi v145 images.

[2017-03-02 18:06] #719 closed, assigned to nobody

[2017-03-02 18:54] Fourdee commented on #445
Completed.

[2017-03-02 18:57] oshank commented on #445
Thanks!

[2017-03-02 19:00] Fourdee commented on #783
@were55

Thanks.

Really strange, everything is setup correctly as far as I can see.

deb http://download.mono-project.com/repo/debian beta main

So, issue appears to be mono repo, complaining packages are not available for install, yet, repo is active on your system.

Silly question, but, can you access http://download.mono-project.com/repo/debian on your network?

And also please paste results:

[2017-03-02 19:04] Fourdee opened #789 "DietPi-Software | Ansible"

[2017-03-02 19:04] Fourdee commented on #773
@floydianslips

Do now, lol 😄
https://github.com/Fourdee/DietPi/issues/789

Marking this as closed (that is enough requests for 1 ticket lol 😉 )

I'll do some research when I start, but, in simple terms what does ansible actually do?

[2017-03-02 19:04] #773 closed, assigned to nobody

[2017-03-02 19:05] Fourdee commented on #765
@trajano

Apologies for delay, which device was this on?

[2017-03-02 19:06] trajano commented on #765
Raspberry Pi 3

[2017-03-02 19:06] trajano commented on #765
But it should be common across should it not?

[2017-03-02 19:07] Fourdee commented on #763
I'll attempt a rebuild of official kernel/uboot:
http://wiki.friendlyarm.com/wiki/index.php/NanoPi_M3#Make_Your_Own_OS_Image

However, if the issue still persists, its outside my area of expertise, would need additional assistance from FriendlyARM.

[2017-03-02 19:09] Fourdee commented on #765
@trajano

Yes, but i like to replicate same tests, on same device.

[2017-03-02 19:10] trajano commented on #765
Do you have a branch that shows how you did it so I can look at the specific commits that fix it?  (i.e. a pull request)

[2017-03-02 19:12] Fourdee commented on #765
Not sure what you mean? Although, I've not made any commits yet (or previously) that would effect this ticket (AFAIK).

[2017-03-02 19:14] trajano commented on #765
You haven't but I kind of want to know what approach you took or are planning to take just to learn from it.

[2017-03-02 19:14] Fourdee commented on #765
@trajano

Just to clarify, ```touch /forcefsck``` has no effect on **starting** a filesystem repair at next boot?

No idea yet, i'll do some testing/investigating and keep you in the loop.

[2017-03-02 19:15] trajano commented on #765
It does not fix anything from what I can tell because the file system is still corrupted.  However, if I take the SD card out and do an fsck from another machine it will repair it.

[2017-03-02 19:20] Fourdee commented on #765
Notes:
- Purposefully corrupt a filesystem: http://superuser.com/a/1019495

[2017-03-02 19:21] trajano commented on #765
Just do something simple like do a git clone and unplug would work too.

[2017-03-02 19:43] were55 commented on #783
@Fourdee

I have access to repo inside my network. The result of apt-cache search mono-runtime is nothing :-(

Let me know when you can take a look to allow you access.

thanks

[2017-03-02 20:12] lavrentiy opened #790 "[dupe] Pi ZeroW: Wifi Not found in dietpi-config"
Using a Pi Zero Wifi edition the on board wifi chip can not be found.

[2017-03-03 13:40] Fourdee commented on #790
@lavrentiy

Thanks for the report.

I have one on order, we'll get that fixed when it arrives, please see this ticket for status:
https://github.com/Fourdee/DietPi/issues/787

I'll mark this closed (dupe).

[2017-03-03 13:40] #790 closed, assigned to nobody

[2017-03-03 13:46] Fourdee commented on #785
@9H5G

simulation fails could include the line above if all else fails?

Yep, good idea,

I'll see if we can include the apt output in the error message/log file.

[2017-03-03 14:17] Fourdee opened #791 "DietPi-Software | Improve verbosity of apt errors"

[2017-03-03 14:18] Fourdee commented on #785
@9H5G

Ticket: https://github.com/Fourdee/DietPi/issues/791

I'll mark this ticket as closed. Please reopen if required.

[2017-03-03 14:18] #785 closed, assigned to nobody

[2017-03-03 14:20] Fourdee commented on #791
Adding:
- 🈴 ```| tee "$FP_APT_LOG"``` to apt command always results in 0 exit code

[code]

---

Screen:
[code]

Tee log:
[code]

🈯️ Capture stderr in output:
[code]

---

Really want to put the log into the whiptail menu, with scrollbar, but scrollbar is never drawn correctly, ESC/TAB+ENTER required to exit may confuse user:
[code]
![image](https://cloud.githubusercontent.com/assets/7077026/23555

[2017-03-03 15:38] Fourdee commented on #791
Ideally, wanted to print log contents in whiptail menu with scroll bars, however, scroll bar never renders correctly (bug in whiptail?), and, ESC/TAB+ENTER to exit is non standard, may confuse user.

We may need to look at moving to ```dialog``` in the future.

Completed.

[2017-03-03 15:38] #791 closed, assigned to Fourdee

[2017-03-03 18:56] Fourdee commented on #765
@trajano

Appears the RPi default is to disable fsck repair on startup:
[code]

Enable:
[code]

Test:
[code]

Seems is ```touch /forcefsck``` deprecated:
[code]

```/boot/cmdline.txt``` add ```fsck.mode=force```.

[2017-03-03 18:57] trajano commented on #765
So just run the `sed` ... and add the fsck.mode=force (which I think is already there) then everything should be fine then?

[2017-03-03 19:08] Fourdee commented on #765
@trajano

From what its telling me, i believe simply adding ``` fsck.mode=force``` to ```/boot/cmdline.txt``` will force a fsck and repair on each boot. Not sure if the ```sed``` is needed, would need testing.

I did try the DD method, it upgraded my 16GB SD to 53ZB lol, completely broken filesystem beyond any testing:
[code]

[2017-03-03 19:14] trajano commented on #765
But I think that's what we already have is it not?  (Sorry dont' have the device on me at the moment) but SSHing to it I can see

`dwc_otg.lpm_enable=0 console=serial0,115200 console=tty1 root=/dev/mmcblk0p2 rootfstype=ext4 elevator=deadline fsck.mode=force fsck.repair=yes rootwait`

However, I still get the errors like this on `dmesg` ...

[code]

[2017-03-04 14:13] Fourdee commented on #783
@were55

If you can setup external SSH access to the device in question, then send the details to:
daniel.knight@dietpi.com

I should be able to take a look today/tomorrow.

[2017-03-04 16:28] tido- commented on #463
my Zero with 4.4.44 Kernel and a WiFi dongle RT5370 on the USB-Hub is now online - after 2-3hours.
In order to do so, I was not allowed to change manually the `/etc/network/interfaces` everything had to be done via dietpi-config. Now in `interfaces` my WiFi password is written in plain Text.
Only this way I was able to bring up the connection, all the information I stored about the access-point in

[2017-03-04 17:17] Fourdee commented on #463
@tido-

If you are using DietPi-Config to setup WiFi, currently, it will use solely ```/etc/network/interfaces```.

If you require a different implementation of WiFi creds, you can complete this manually without using ```dietpi-config```, in a method of your choosing, that suits your security requirements.

[2017-03-04 17:41] Fourdee opened #793 "DietPi-Software | Gogs fails to install"
Gogs have renamed/replaced URL's for latest binaries, need updating:
https://dl.gogs.io

[2017-03-04 17:43] Fourdee commented on #793
Links for armv6 (rpi 1) is no longer available:
https://dl.gogs.io/gogs_latest_linux_arm.zip

We'll need to use:
https://dl.gogs.io/gogs_v0.9.141_linux_armv6.zip

As https://dl.gogs.io/raspi2_armv6_latest is RPi 2+ only

[2017-03-04 18:00] Fourdee commented on #793
Completed, tested with RPi 3

[2017-03-04 18:00] #793 closed, assigned to nobody

[2017-03-04 18:11] dschwarting commented on #725
I've testet the latest DietPi image v145 for NanoPi M2 devices to see if the "NanoPi M2 stucks at 1GHz" bug persists. It did persist. Here are the results...

 V145       | NanoPi M2/T2 (armv7l)

root@DietPiTest:~# uname -a
Linux DietPiTest 3.4.39-s5p4418 #4 SMP PREEMPT Thu Aug 11 13:54:36 HKT 2016 armv7l GNU/Linux

cat /sys/devices/system/cpu/cpu0/cpufreq/stats/time_in_state
1400000 1380
1200000

[2017-03-04 23:24] WolfganP commented on #769
I suffered a booting issue with a brand new v144 image burn and boot installation on a RPi2.
Burned the image to an SD card, started configuring it, used for a while, and after that the system didn't boot (just a few green led indications of storage being read, but no display on HDMI so I don't know where the system stands up, as no FTP either)

I removed the the SD card and analyzed it. The FAT p

[2017-03-04 23:49] WolfganP opened #794 "/usr/bin/sudo and setid missing"
I just burned the latest img for Raspberry Pi available on the site (it boots as v144) and noticed that on 1st boot sudo fails on "sudo: /usr/bin/sudo must be owned by uid 0 and have the setuid bit set".
The executable is actually owned by root:root, but setid flag is not set (solved via 'chmod 4755 /usr/bin/sudo')
I wonder if it's not a side effect of the recent reworking of the images?
Thx, Wolf

[2017-03-05 02:30] Grayda opened #795 "Resolution not set correctly when using display_rotate"
I'm building a smart mirror using an old Raspberry Pi 1 I have laying about. The display needs to be rotated 90°, so I set `display_rotate=1` in `/boot/config.txt`. When I boot up, it displays as expected (the boot screen text reaches from the top of the display right down to the bottom) but as soon as it hits the DietPi part, the display only stretches a small portion, as though the display has b

[2017-03-05 09:09] Fourdee commented on #794
@WolfganP

I wonder if it's not a side effect of the recent reworking of the images?

Strange, seems this isn't the 1st report:
https://github.com/Fourdee/DietPi/issues/775#issuecomment-282286311

We actually use the official RPi Jessie Lite image as a base, then prep it for DietPi. As far as I know, we make no changes to ```/usr/bin/sudo```. So, this must of been default on the RPi lite image we

[2017-03-05 09:10] Fourdee commented on #794
@WolfganP

Great stuff 👍 I'll get this patched for v146

[2017-03-05 09:21] Fourdee commented on #795
@Grayda

You'll need to apply this change in ```/DietPi/config.txt```. This is the DietPi-RAMdisk location and will save to ```/boot/config.txt``` on reboot.

I also believe ```display_rotate=1``` may require increased GPU memory to function, so if it still fails, try increasing GPU memory share to 128MB.

[2017-03-05 10:32] Grayda commented on #795
I changed the line outside of DietPi (plugged the SD card into my computer and made the change on the /boot partition), so the necessary change was already there, and in /DietPi/config.txt. Just to be on the safe side, I formatted the card, installed DietPi again and made the change on /DietPi/config.txt only. Rebooted, confirmed the image was rotated.

I also upped the memory and ran the firmware

[2017-03-05 13:03] Fourdee commented on #795
@Grayda

Thanks for the info 👍

I'll run some tests here. See if we can find a solution.

[2017-03-05 13:11] Fourdee commented on #794
Lets apply it to all devices, as Pine seems to be effected also: https://github.com/Fourdee/DietPi/issues/775#issuecomment-282286311

[2017-03-05 13:12] Fourdee commented on #794
Completed.

I'll create another ticket for dietpi user and link it here.

[2017-03-05 13:12] #794 closed, assigned to nobody

[2017-03-05 13:13] Fourdee opened #796 "User | Create DietPi user"
Prep for changing from ```root``` to ```dietpi``` user: https://github.com/Fourdee/DietPi/issues/896
- All software installs (- ```www-data```)
- Default login

For now, create a DietPi user to allow testing.

[2017-03-05 13:13] Fourdee commented on #794
@WolfganP

https://github.com/Fourdee/DietPi/issues/796

[2017-03-05 13:37] Fourdee commented on #795
~~Strange, cant get rotation to work at all on my RPi 1 B. ```display_rotate=1``` and 128MB GPU split.~~

@Grayda

~~Can you link your ```config.txt``` please?~~

User error, ok replicated issue with our kernel and latest from ```rpi-update```.

[2017-03-05 13:42] Fourdee commented on #795
@Grayda

Found the solution, you also need to flip values of ```framebuffer_width=``` and ```framebuffer_height=```:
eg: 720p, + 90 rotation is
```/DietPi/config.txt```
[code]

[2017-03-05 14:01] WolfganP commented on #796
@Fourdee Thx for this enhancement. As I commented in https://github.com/Fourdee/DietPi/issues/794, as per http://dietpi.com/phpbb/viewtopic.php?f=9&t=22 I think the best will be to *add* an unprivileged user ('pi' is a good candidate as it will allow easier transition for raspbian users) rather than replace 'root' (as many existing dietpi users are already using this setup)
This way I think it wil

[2017-03-05 16:24] sootstone opened #797 "DietPi-Software | Koel"
Audio streaming service similar to Ampache - https://github.com/phanan/koel

[2017-03-05 20:23] elRadix commented on #797
yes, please include this.

I tried to install this, but failed

[2017-03-06 00:09] phonicmouse opened #798 "DietPi-Software | Add Tor automated installer (and also "arm", tor's monitoring software)"
A simple Tor installation, with `arm` tool included.

[2017-03-06 10:44] sootstone opened #799 "DietPi-Software | October"
Thought if [Koel](https://github.com/Fourdee/DietPi/issues/797) is accepted into DietPi, it could be worth adding other software built with Laravel, such as October - https://github.com/octobercms/october

[2017-03-06 17:11] phonicmouse opened #800 "DietPi-Software | hack.chat"
hack.chat, a simple and lightweight chat built on top of Node.js:

- [https://hack.chat/](https://hack.chat/)

- [https://github.com/AndrewBelt/hack.chat](https://github.com/AndrewBelt/hack.chat)

[2017-03-06 17:12] phonicmouse commented on #797
+1 for this, it would be very useful

[2017-03-07 10:44] Grayda commented on #795
Gave it a shot last night and it works great. Thanks for the tip!

[2017-03-07 10:44] #795 closed, assigned to nobody

[2017-03-07 12:42] Fourdee commented on #787
- 🈯️ Update DietPi RPi Kernel required
- 🈯️ Update RPi image required Jessie & Stretch

[2017-03-07 18:24] floydianslips commented on #773
It is a process automation tool basically. We use it to install and
enable all the components of our software. ie: moodle, kiwix server, web
server, etc.

On 2017-03-02 11:04 AM, Dan wrote:

[2017-03-08 06:58] Electron752 opened #801 "Possibly distribute arm64 kernel for RPI 3"
I was wondering if you have any interest or plans to offer the ability to distribute a arm64 kernel for the RPI 3.

Arm64 support for the RPI 3 is still very experimental, but it's starting to approach the ability to be taken seriously.

[2017-03-08 11:37] Fourdee commented on #773
@floydianslips

Thanks.

I'll need to run some tests and see if Ansible will be compatible with DietPi, and visa versa.

[2017-03-08 11:42] Fourdee commented on #801
@Electron752

Thanks for the request 👍

It really depends on how stable/reliable it is on a users system. As, we would need to also support it and the users installations.

I'll make a note to compile the ARM64 kernel and test it. Then go from there.

[2017-03-08 11:51] Fourdee opened #802 "DietPi-Drive Manager | Add support for F2FS"

[2017-03-08 12:23] Fourdee commented on #787
Fresh compile of RPi Kernel 4.4.50 (https://github.com/raspberrypi/linux/tree/rpi-4.4.y), no WiFi. Even when installed on the latest Raspbian image, which works prior to kernel replacement.

- 🈯️ Raspbian:
[code]

- 🈯️ Use following from Raspbian image (updated):
[code]

[2017-03-08 13:44] Fourdee commented on #787
- 🈯️ BT test:
[code]

[2017-03-08 13:49] Fourdee commented on #475
ToDo:
- 🈯️ Update image (RPi Zero W support), new image live.

[2017-03-08 13:49] Fourdee commented on #787
New image live, completed. Will update Stretch image at a later date: https://github.com/Fourdee/DietPi/issues/475#issuecomment-285044983

[2017-03-08 13:49] #787 closed, assigned to nobody

[2017-03-08 16:25] Fourdee commented on #783
Thanks to @were55 for allowing us remote session to debug this

Notes:
- All ```mono-*``` packages are not available via apt, yet, should be.
- Apt sources are spot on.
- I had to manually pull in the required ```mono-*``` packages from http://download.mono-project.com/repo/debian/pool/main/m/mono/ and ```dpkg -i *.deb```
[code]
- RPi 2, try to replicate issue on a test system. If unable, this iss

[2017-03-09 11:19] Fourdee commented on #786
We actually run ntpd with the following cmdline:
[code]

This should always allow for large adjustments to times, that are much further in the future. I believe the issue is simply ```ntpd``` not completing the sync, prior to ```dietpi-software``` doing its thing.

I'll add a system which checks for the exit status of ```ntpd```, delay ```dietpi-software``` starting any installations accordingly.

[2017-03-09 11:22] JohnMacrae commented on #786
OK Dan,

I suspect that the occasional user will still want a way to carry on if his
network does not pernit ntpd to operate correctly though.

Kind Regards
John

On 9 March 2017 at 06:19, Dan <notifications@github.com> wrote:

[2017-03-09 12:30] Fourdee commented on #786
Notes:

- If ```dietpi-software``` is launched and ```ntpd``` process is not completed, or, has a non zero exit code (eg: failed):
![image](https://cloud.githubusercontent.com/assets/7077026/23750555/6ec04808-04c5-11e7-8520-a04d44244c2d.png)
- We don't check for non-ntpd/manual timesync setups (eg: systemd-timesyncd)

[2017-03-09 13:29] Fourdee commented on #786
Completed

[2017-03-09 13:31] Fourdee commented on #786
@WolfganP

If we can use 100.x 101.x lets add these in by default in patch, else, could be tricky to safely patch.

---

- 🈯️ Already default on C2 and RPi's, although contains ```debian.```, still uses main ```ntp.org``` server:
[code]

Marking as completed, again 😃

[2017-03-09 13:34] #786 closed, assigned to nobody

[2017-03-09 14:27] JohnMacrae commented on #396
This does not work for me.  /etc/ifplugd/ contains action_wpa only

[2017-03-10 12:03] Fourdee commented on #782
Notes:
- Relies on Ansible (system deployment tool) to install various software, configurations and settings https://github.com/Fourdee/DietPi/issues/789
- Installs Apache2

[2017-03-10 12:38] Fourdee commented on #789
Not compatible with DietPi.

Ansible is a complete system deployment tool to allow for automated setup of a system, programs etc. Its essentially, in its own way, similar to DietPi and what we do.
Unfortunately, we have no way of controlling Ansible, it would be impossible to support it along side DietPi, and visa versa.

Marking as no fix.

[2017-03-10 12:38] #789 closed, assigned to nobody

[2017-03-10 12:39] Fourdee commented on #782
Making this as no fix due to Ansible requirement for setup of XSCE: https://github.com/Fourdee/DietPi/issues/789#issuecomment-285659114

[2017-03-10 12:39] #782 closed, assigned to nobody

[2017-03-10 13:52] Fourdee commented on #475
@kronflux

Looks like an issue with apt, or a bug with the ```fail2ban``` package. Fails to install on RPi 3, at a basic ```apt-get install``` level:
[code]

[2017-03-10 14:21] Fourdee commented on #783
Unable to replicate on RPi 2. Although, we cant find the cause on user's system, I believe issue is limited/unique to users current installation.

Marking as closed.

[2017-03-10 14:21] #783 closed, assigned to Fourdee

[2017-03-10 14:34] Fourdee commented on #802
F2FS:
- 🈯️ Supports symlinks and permissions :clinking_glasses:
[code]

[2017-03-10 15:17] Fourdee commented on #802
rootfs transfer f2fs tests:
- 🈴 c2, even with ```rootfstype=f2fs```, fails at ```uboot time: 3809159 us ▒▒▒```, everytime. gnd is fine.
- 🈯️ RPi

So, Odroid = EXT4 only.

[2017-03-10 16:12] Fourdee commented on #778
- 🈯️ OPi Zero arrived, rebuild and update image
- Test issues reported here: http://dietpi.com/phpbb/viewtopic.php?f=11&t=1449&p=6034#p6034
🈯️ Onboard sound works fine through expansion board.
🈯️ No installation errors. Will need more info on specific software title user selected.

[2017-03-11 11:14] Fourdee commented on #778
https://i.imgur.com/KpeIJP0.gifv lol

[2017-03-11 13:02] Fourdee commented on #778
OPi Zero v145 image live: http://dietpi.com/downloads/images/DietPi_OrangePiZero-armv7-(Jessie).7z

[2017-03-11 13:02] #778 closed, assigned to Fourdee

[2017-03-11 13:08] Fourdee commented on #802
How to change RPi RootFS to F2FS in ```dietpi-drive_manager```:
- transfer rootfs to another drive
- transfer rootfs back to mmc_p2, select format type ```f2fs```

[2017-03-11 13:08] Fourdee commented on #802
Completed

[2017-03-11 13:08] #802 closed, assigned to Fourdee

[2017-03-11 13:09] Fourdee opened #803 "DietPi-Set_Hardware | WaveShare32: Input axis inverted"

[2017-03-11 13:10] Fourdee commented on #767
X is now functional, input axis is still an issue, new ticket: https://github.com/Fourdee/DietPi/issues/803

Marking this as completed.

[2017-03-11 13:10] #767 closed, assigned to nobody

[2017-03-12 03:02] JohnMacrae commented on #368
I'll be very happy when this is made available :) Please? :)

[2017-03-12 05:14] i2064 commented on #775
I am also experiencing this problem on a fresh install of DietPi and Pi-hole on Raspberry Pi 3.

I used the DietPi installer to install Pi-hole and the ad-blocking feature is not working. Clicking the Enable button on the left-side menu has no effect and setting "DHCP server enabled" is also ineffective.

I traced the php code to the following statement in `/var/www/html/admin/api.php`:

`exec('su

[2017-03-12 16:34] Fourdee opened #804 "Image | Hyper-V (User image available)"
## User image available at: https://github.com/yumiris/DietPi.Hyper-V

<s>Vote for it: https://feathub.com/MichaIng/DietPi/+1</s>

[2017-03-12 16:39] Fourdee opened #805 "DietPi Image | VMware x32"

[2017-03-12 16:41] Fourdee opened #806 "DietPi Image | ASUS Tinker Board"
Funding required for board purchase:
![image](https://cloud.githubusercontent.com/assets/7077026/23833805/ba03f448-0742-11e7-9703-a7eb2a357cce.png)

[2017-03-13 08:44] JimLee1996 commented on #804
I've converted virtual disk of VMware(VMDK) to Hyper-V disk(VHD), and it works well Hyper-V host running on Windows Server 2008 R2.
### Download link
[Google Drive](https://drive.google.com/file/d/0B_QhPFq6vCVrNDJIaERuYjBTdTg/view?usp=sharing)

[2017-03-13 10:35] Fourdee commented on #804
@JimLee1996

Legend 👍

Thanks for sharing

[2017-03-13 10:46] Fourdee commented on #775
@i2064

Thanks for the report, i'll see if we can replicate at our end.

[2017-03-13 11:25] Fourdee commented on #775
@i2064

Fresh install with v146 (which includes sudo permissions fix: https://github.com/Fourdee/DietPi/issues/794):
[code]

Disable in web interface:
[code]

Also appears to be working with v146

Looks like https://github.com/Fourdee/DietPi/issues/794 is the cause, this is already fixed for v146. I'll try and get v146 released in the next few days, apologies for the inconvenience.

Marking as res

[2017-03-13 11:25] #775 closed, assigned to nobody

[2017-03-13 11:36] Fourdee commented on #765
@trajano

Apologies for the delay.

Ok, we should probably check the syslog fsck logs for any info.
[code]

Set ```/boot/cmdline.txt```:
[code]

Check logs
[code]

[2017-03-13 11:55] Fourdee commented on #763
[code]

Although
[code]

Lets try also enabling:
[code]

---

- 🈯️ Works a treat:
[code]

[2017-03-13 12:28] Fourdee commented on #763
Kernel update will be installed during patch.

Completed.

[2017-03-13 12:28] #763 closed, assigned to nobody

[2017-03-13 12:39] Fourdee commented on #414
Update, Odroid are officially developing 4.9 kernel for XU4, still in testing:

http://forum.odroid.com/viewtopic.php?f=146&t=26007

[2017-03-13 17:05] Fourdee commented on #738
Our updated image should be functional with BT, i'll run a test:

[2017-03-14 12:30] #738 closed, assigned to nobody

[2017-03-14 12:52] Fourdee opened #808 "DietPi-Config | Add support for Soekris DAM1021 DAC"
Using ```rpi-dac``` overlay

[2017-03-14 12:53] Fourdee commented on #808
[code]

[2017-03-14 12:57] Fourdee commented on #808
#### User test:

Update DietPi scripts:
[code]

Select ```rpi-dac``` card in:
```dietpi-config``` > audio > sound card

Reboot system, test sound with:
[code]

[2017-03-14 18:04] mzeichner opened #809 "Re: Please help; Ampache not functioning"
Reference CODE: d58612fa-b924-40a4-8500-c236a83fd7cf-0

[2017-03-15 02:00] joaofl commented on #445
@Fourdee

I was testing the Blynk server today, but could not access the admin page from a remote pc, because by default, it is enable to local only.

Also, by not having a config file, limits on doing other customizations.
So I did some minor changes to the dietpi-software install script to address this issue.

I only missed adding a line to replace a line in the config file (sed -i   afraid of m

[2017-03-15 11:01] Fourdee commented on #809
@mzeichner
Thanks 👍

I'll take a look.

Notes:
- LAMP
- MySQL running fine:
[code]
- DietPi v144
- Userdata USB
[code]
- SQL/Apache2 logs are clear

[2017-03-15 11:34] Fourdee commented on #809
@mzeichner

Everything appears fine, lets try a reinstall to drop sql DB and regenerate, also log output for further debugging.

#### Please run the following commands:

Uninstall and log output:
[code]

Install and log output:
[code]

#### Retry http://ip/ampache, if still failing, please upload the log file:
[code]

[2017-03-15 12:11] Fourdee commented on #445
@joaofl

Thanks for the report and changes 👍

Would you be able to send a pull request for the changes, here on git? Please use the following **testing** branch when sending the pull request:
https://github.com/Fourdee/DietPi/tree/testing

[2017-03-15 13:45] joaofl commented on #445
I think I did it right this time.

https://github.com/Fourdee/DietPi/pull/810

[2017-03-15 20:57] pcktm opened #811 "DietPi not installing due to dpkg error"
I don't really know what's happening, but will attach logs.
[logs.txt](https://github.com/Fourdee/DietPi/files/845983/dietpi.txt)

[2017-03-16 10:23] Zac610 commented on #811
Seems a mirror error, try to change mirror

[2017-03-16 11:02] Fourdee commented on #811
@PuciekTM

Thanks for the report 👍

Setting up alsa-base (1.0.27+1) ...
Setting up libasound2-data (1.0.28-1+rpi2) ...
Setting up libasound2:armhf (1.0.28-1+rpi2) ...
Processing triggers for libc-bin (2.19-18+deb8u7) ...
Setting up libsamplerate0:armhf (0.1.8-8) ...
Processing triggers for libc-bin (2.19-18+deb8u7) ...

Appears running the request ```dpkg --configure -a``` command has resolved the

[2017-03-16 12:38] guidol70 opened #812 "No HDMI-Audio with DietP&Amiberry on Pi3 while forcing Audio to HDMI via config.txt"
On the DietPi V145 with Amiberry I didnt get any Sound via HDMI in the AMIGA Emulation.
Neither in the normal HDMI-Configuration nor in the advanced/enhanced HDMI-Configuration.
I did force in the normal settting the HDMI Conenction AND in the config.txt via
hdmi_drive=2
hdmi_force_edid_audio=1

but I did only get sound from Amiberry via the analog 3.5mm analog connector.
As test I configured a US

[2017-03-16 12:50] JohnMacrae opened #813 "Failed to start reboot.target: on update to 146"
Hi - the update ran fine but this message appeared after the reboot command:

Failed to start reboot.target: Connection timed out

Broadcast message from root@AG on pts/0 (Thu 2017-03-16 12:42:23 UTC):

The system is going down for reboot NOW!

After the reboot, I'm encouraged to run the update again.

[2017-03-16 13:05] Fourdee opened #814 "DietPi Image | NanoPi Neo 2"
- 1GBit eth
- 64bit H5 ARM CPU

http://www.friendlyarm.com/index.php?route=product/product&product_id=180

Awaiting delivery.

[2017-03-16 13:34] Fourdee commented on #806
Funded by donation (Thanks Ioan!):
On order, awaiting arrival.

[2017-03-16 17:28] Fourdee commented on #812
@guidol70

Thanks for the report 👍

I'll try to replicate the issue at our end.

[2017-03-16 17:32] Fourdee commented on #813
@9H5G

Thanks for the report 👍

Appears something (SystemD service) is preventing system from rebooting gracefully.

Which device is this on?

Lets also check status of DietPi-RAMlog/disk:
[code]

[2017-03-16 22:15] JohnMacrae commented on #813
Hi Dan,

Its a Pi3 with one USB drive configured and a USB serial in use.

The RAMlog:

root@192.168.43.7's password:

The programs included with the Debian GNU/Linux system are free software;
the exact distribution terms for each program are described in the
individual files in /usr/share/doc/*/copyright.

Debian GNU/Linux comes with ABSOLUTELY NO WARRANTY, to the extent
permitted by applicable l

[2017-03-17 11:04] Fourdee commented on #759
User testing:
https://community.roonlabs.com/t/dietpi-creating-a-lean-and-mean-roon-bridge/13908/436?u=dan_knight

[2017-03-17 11:42] Fourdee commented on #812
Unable to replicate on fresh install. HDMI output utilized.

@guidol70

Just few things we can check:
- During initial install, was the HDMI connected and TV powered on? RPi will output to 3.5mm if no HDMI detected.
- With these settings, applied to ```/DietPi/config.txt``` (please check) , ```hdmi_drive=2 hdmi_force_edid_audio=1``` is the sound still not functional on HDMI?

[2017-03-17 15:01] Fourdee commented on #768
I'll also
- Build aria2 binaries and host on http://dietpi.com, for fast install
70MB binary ```root@DietPi:~/aria2-release-1.31.0# ls -lha src/aria2c
-rwxr-xr-x 1 root root 70M Mar 17 15:17 src/aria2c``` "aria2 is a lightweight" is "questionable" 😄
🈯️ ARMv6
🈯️ ARMv7+
🈯️ ARM64
🈯️ x86_64
- 🈯️ install web interface by default, and setup aria2 for that: https://github.com/ziahamza/webui-aria2
- 🈯️ on

[2017-03-17 15:11] Fourdee opened #815 "DietPi Image | OPi Lite"
Dev sample en route (thanks Steven), awaiting arrival.

[2017-03-17 16:00] joaofl commented on #815
@Fourdee

Do you think you can share some of the steps on porting and creating an image from dietpi to a new board?

I got a sample from this Roseapple pi, which I would like to give it a try. It is quiet powerful and has USB3.

http://roseapplepi.org/

[2017-03-17 16:38] Fourdee commented on #768
Slick web ui
![image](https://cloud.githubusercontent.com/assets/7077026/24053204/2e36f860-0b30-11e7-9cc6-e91d210db7d1.png)

[2017-03-17 16:56] Fourdee commented on #815
@joaofl

Yep, you'll need to start with a minimal Debian Jessie image, or, build one with ARMbian build tools (https://github.com/igorpecovnik/lib). I can compile this if needed, just let me know.

Then you can prep system for DietPi:
https://github.com/Fourdee/DietPi/blob/master/PREP_SYSTEM_FOR_DIETPI.sh

[2017-03-17 18:26] Fourdee opened #816 "DietPi-Backup | Add support for compressed backup/restore"
eg: mybackup.zip, to any location (for purpose of non-symlink/permissions file-systems)

[2017-03-17 18:32] Fourdee opened #817 "DietPi-Software | YaCy Search Engine"
http://yacy.net/en/index.html

Notes:
- May have issues with JDK 7 requirement. DietPi installs Oracle JDK 8.

[2017-03-17 20:46] guidol70 commented on #812
The HDMI was connected and powered.
Boot RPi3 did output to the 3.5mm in several HDMI-config.
Yes I did use these 2 settting in the /DietPi/config.txt - and had success
with hdmi_drive=2 on Amibian.
Didnt need hdmi_force_edid_audio=1

Normally I copy this setting out of my blog and uncomment it:
https://lehwalder.wordpress.com/category/raspberry-pi/
And on this page is typed OK....

Hmmm - couldnt

[2017-03-18 11:51] Fourdee commented on #768
Issues with webui. As of install today, blank page:
https://github.com/ziahamza/webui-aria2/issues/318#issue-215188168

EDIT: now resolved.

[2017-03-18 12:14] Fourdee commented on #812
@guidol70

With these settings applied, HDMI audio is now functional?

[2017-03-18 12:23] Fourdee commented on #445
@joaofl
Awesome 👍
![image](https://cloud.githubusercontent.com/assets/7077026/24071958/ac6faf06-0bd5-11e7-8b3e-74303c6a8e17.png)

I'll update online docs once our hosting provider is back online, then mark this as completed.

[2017-03-18 12:30] Fourdee commented on #813
@9H5G

Just quickly, can you test reboot with this unplugged? Have a hunch. If problems still persist, we'll need to debug systemD further.

[2017-03-18 12:42] Fourdee commented on #445
Online doc updated: http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=5901#p5901

Great work @joaofl, marking this as completed 👍

[2017-03-18 12:42] #445 closed, assigned to nobody

[2017-03-18 12:56] Fourdee commented on #817
debs:
http://www.yacy-websuche.de/wiki/index.php/En:DebianInstall

tar.gz install is better.

- 🈯️ Oracle JDK 8
- 🈯️ Create systemD service
- 🈯️ Online Doc: http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=6202#p6202
- 🈺 Constant BG CPU hog, Odroid C2, use of DietPi-Process_Tool recommended, made note in online doc ^^:
![image](https://cloud.githubusercontent.com/assets/7077026/24072242/fa97159c-0b

[2017-03-18 13:38] JohnMacrae commented on #813
I think we'll need to do some more debugging :/ Tried with the USB serial
cable disconnected but with the 2 USB drives still plugged in and it failed
exactly the same Dan.

Kind Regards
John

On 18 March 2017 at 08:30, Dan <notifications@github.com> wrote:

[2017-03-18 13:43] Fourdee commented on #817
Completed.

[2017-03-18 13:43] #817 closed, assigned to Fourdee

[2017-03-18 13:56] Fourdee commented on #813
@9H5G

Gutted, ok lets try rsyslog 1st, see if that shows up anything. We'll need to change logging mode to ```Full```:
```dietpi-software``` > Log System > Full > ```Go >> Start install```

Once DietPi-Software "reboots", "reboot" system again, then lets see logfile:
[code]

[2017-03-18 13:58] Fourdee commented on #808
Confirmed working by user with DAC.

Marking as completed.

[2017-03-18 13:58] #808 closed, assigned to Fourdee

[2017-03-18 14:35] JohnMacrae commented on #813
Here you go!

[code]

Kind Regards
John

On 18 March 2017 at 09:56, Dan <notifications@github.com> wrote:

[2017-03-18 15:23] guidol70 commented on #812
Yes - but in Amibian (as I did write) - but not in DietPi&Amiberry

2017-03-18 15:14 GMT+03:00 Dan <notifications@github.com>:

[2017-03-18 21:16] rulenma opened #818 "RPi Zero W | onboard WiFi not found"
Hi,

hopefully Iam right here

#787

doesn`t work for me.
Iam running a fresh installation of 146 on the RPi zero w and it says "wlan0 No such device"
But in the config Wifi is enabled.
Anything else that I can do?
Iam searching for the right command to see if I can see that device, but I don't know the command and the name of the device.

Anyone has experience with the wifi modul on the zero w?
T

[2017-03-19 10:49] Fourdee commented on #818
@rulenma

Thanks for the report 👍

For the RPi Zero W, we identify onboard WiFi capability by hardware revision code. I'am just wondering if your Zero W has a new/unknown code to us.

Please can you run the following command, and paste result:
[code]

[2017-03-19 11:33] Fourdee opened #819 "DietPi-Software | Update Shairport Sync binaries"
https://community.roonlabs.com/t/dietpi-creating-a-lean-and-mean-roon-bridge/13908/451?u=dan_knight

[2017-03-19 11:33] Fourdee commented on #819
- 🈯️ ARMv6
- 🈯️ ARMv7+
- 🈯️ ARM64
- 🈯️ Test SOXR performance, enable by default. 7% CPU usage on RPi Zero. Audible reduces low floor hiss.

[2017-03-19 11:40] rulenma commented on #818
Thanks for the reply.

`root@DietPi:~# cat /proc/cpuinfo | grep 'Revision' | awk '{print $3}'`
`9000c1`

[2017-03-19 12:36] Fourdee commented on #819
Completed

[2017-03-19 12:36] #819 closed, assigned to nobody

[2017-03-19 12:49] Fourdee commented on #819
User test notes:
[code]

[2017-03-19 12:56] Fourdee commented on #818
@rulenma

Thanks 👍

Appears to be correct, must be something else throwing this out. We'll need to debug.

editing...

[2017-03-19 13:08] Fourdee commented on #818
@rulenma

Ok, lets try re enabling WiFi modules again, please run the following commands:
[code]

Now try dietpi-config again and attempt to enter WiFi menu:
[code]

If this still reports no hardware found, please take a screenshot/picture of the following commands:
[code]

[2017-03-19 13:15] Fourdee commented on #813
@9H5G

Thanks for the log. Cant see anything out of the ordinary, SystemD reports no issues:
[code]

Did the system reboot successfully on its own?

Ok, think its best we get a bug report to allow us to check system configuration/settings. Please complete the following:
http://dietpi.com/phpbb/viewtopic.php?f=8&t=499#p2184

[2017-03-19 14:26] Fourdee commented on #759
User confirmed working with his adapter. Making this as completed. Will create a tutorial on forums:
http://dietpi.com/phpbb/viewtopic.php?f=15&t=1502&p=6223#p6223

[2017-03-19 14:26] #759 closed, assigned to nobody

[2017-03-19 15:29] Mister-XY opened #820 "Dietpi OrangePi PC H3 New kernel?"
Hello, is it possible that you build a Test Version for OrangePi PC with a new 4x Kernel?

[2017-03-19 15:43] rulenma commented on #818
The eth0 is an usb ethernet adapter.
Here the screenshots:

![pic0](https://cloud.githubusercontent.com/assets/26508818/24082274/1365ea34-0cc3-11e7-8158-61bbc7d3a009.JPG)
![pic1](https://cloud.githubusercontent.com/assets/26508818/24082279/1f64df84-0cc3-11e7-90fa-c1f4a1bc1085.JPG)
![pic2](https://cloud.githubusercontent.com/assets/26508818/24082282/27892436-0cc3-11e7-9630-77e4bc4916c0.JPG)

[2017-03-19 16:43] Fourdee opened #821 "DietPi-Software | Enable upnp (dlna client) for MPD"
Requires compile:
- 🈯️ ARMv6
- 🈯️ ARMv7+
- 🈯️ ARM64
- 🈯️ We'll also need to install avahi-daemon by default with MPD for network discovery.

[2017-03-19 16:48] Fourdee commented on #818
@rulenma

Thanks.

Please unplug this and reboot system. then check ```dietpi-config``` again.

[2017-03-19 17:30] Fourdee commented on #820
@Mister-XY

OPi images are built with ARMbian build tools, and optimized for DietPi.

We do not provide images for dev kernel (4.x mainline) at this time (-RPi). We did try it in the past, however, as this is a testing/dev branch, future kernel updates from ARMbian repo broke basic features. No fault of ARMbian, but too unstable for our end users.

If/when stable branch reaches 4.x kernel, we'll u

[2017-03-19 17:30] #820 closed, assigned to nobody

[2017-03-19 18:04] rulenma commented on #818
@Fourdee

Thanks, but same results.
Now I see some errors with the eth0, that the device could not be found...
Is there any way to install it fresh but with 146?
Didn`t find the image yet, so I needed to use the usb ethernet adapter.

Any more ideas?
In raspbian it works fine. But I want to use it with DietPi because its so great <3 and I almost have it on all my devices :-)

[2017-03-19 20:36] Mister-XY commented on #820
Ok thats not so good, i need a dvb-t2 driver.

[2017-03-19 21:48] joaofl commented on #445
@Fourdee ,thanks for that. I hope I can contribute further on. :+1::+1::+1:

[2017-03-19 22:02] joaofl opened #822 "DietPi Image | Roseapple Pi"
Some time ago I got a sample of the [Roseapple Pi](http://roseapplepi.org/index.php/spec/) board, which is another Pi kind of board, but counts with a quad core A9, with USB3 and 2Gb DDR3 RAM. They were giving away many samples of their board, in a attempt to get to the market.

In this sense, it would be nice to have DietPi for it, and I would like to contribute on it if I can.

From: https://git

[2017-03-19 22:04] joaofl commented on #815
@Fourdee
I'll give it a try on my spare time then. I'm really interested on learning more about..

For this reason I started another thread for that only: https://github.com/Fourdee/DietPi/issues/822
Thanks for the support!

[2017-03-19 22:12] joaofl commented on #822
@Fourdee

He actually already have it compiled, with kernel v3.10. Not sure if there are newer releases by the manufacturer, and if it is worth trying anything like that, and if there is any need of recompiling it?

Let me see how far can I go on those steps from PREP_SYSTEM file,  and in case of doubts, I bother you here :)

[2017-03-19 22:33] joaofl commented on #664
I actually though about this as well this week, after configuring it for Transmission in Apache.
I'm not sure on the other servers, but on Apache it is quiet simple to do.
(There is a simple step by step here: http://www.htpcbeginner.com/transmission-apache-proxy-setup/)

In this case, a script would need to append some extra proxy config for each app installed.
First run it it install the modules

[2017-03-20 01:25] joaofl commented on #822
With current Armbiam release, I could only get 18.4Mb/s transfer through USB3 using the command:
sync; dd if=/dev/zero of=tempfile bs=1M count=2048; sync

It also constantly produces the following warning:

It seems that some changes were made in the kernel to get rid of this error. Haven't seen anything about the USB limitation so far.

This is the repo with the latest kernel source: https://gith

[2017-03-20 11:23] Fourdee commented on #818
@rulenma

Is there any way to install it fresh but with 146?
Didn`t find the image yet, so I needed to use the usb ethernet adapter.

Ok thanks.

Our updated RPi image (DietPi_v145_RPi-armv6-(Jessie).img) contains the Zero W WiFi support and "should" be functional. Just to make sure latest image is used, please can you re-download this image and write it again?

Direct link to image DL: http://die

[2017-03-20 11:38] Fourdee commented on #592
Limited by provided binaries (no source available):
http://www.tonido.com/tonidodesktop_downloads/#desktop
- 🈴 ARMv6 https://github.com/Fourdee/DietPi/issues/592#issuecomment-290687642
- 🈯️ ARMv7
- 🈯️ x86_64

[2017-03-20 11:40] Fourdee commented on #806
Arrived, time to crack on 😃

[2017-03-20 12:04] Fourdee commented on #806
Notes:

- WifI ```8723bs```
- Xorg: ```/etc/X11/xorg.conf.d/20-modesetting.conf```
[code]
[code]
- Alsa:
- 3.5mm = ```hw:0,2```
- hdmi = ```hw:1,0```
[code]
- Apt:
```/etc/apt/sources.list.d/linaro-overlay-repo.list```
[code]
``` /etc/apt/sources.list.d/testing.list ```
[code]

[2017-03-20 13:14] Fourdee commented on #806
Performance:
- HDMI Limited to 1080p. Not native 4K.
- Network throughput
[code]
- Heat eff 70'c 1 min burn
- SD IO, Sandisk Extreme ```Flash Storage : Write = 37.9 MB/s | Read = 56.2 MB/s```
- Dual channel DDR3 is awesome: ```RAM           : Write = 541 MB/s | Read = 714 MB/s```
- WiFi range/strength is poor with onboard antenna: ``` Signal level=-76 dBm```

[2017-03-20 13:36] Fourdee commented on #806
GPU:
Not available via optional linaro/testing repos.
[code]

https://github.com/rockchip-linux/libvdpau-rockchip/blob/master/debian/control

Packages available on Official image ```/packages```

Regardless, official image v1.4 GPU is buggy for me. Desktop loads, 5 seconds later black screen and no signal reported on HDMI output. No issues in ```/var/log/Xorg*```.

We'll disable GPU for the time b

[2017-03-20 13:47] JohnMacrae commented on #813
Sorted - cd245aa7-6883-413c-b41e-adee2a86a612-0

[2017-03-20 14:37] rulenma commented on #818
@Fourdee

Thanks a lot for that.
Now it`s working. But I don`t know why it didn`t work in the other version...

What is your experience with the wifi modul in the zero w, if I may ask.
My zero is about 1m away from the WiFi AP and Iam having lots of ping timeouts. The signal is also bad. Better not talk about the rest :-)
Regards

[2017-03-20 14:53] Fourdee commented on #806
GPS installed by default on official image... interesting
![image](https://cloud.githubusercontent.com/assets/7077026/24105471/e24c13d2-0d7c-11e7-99a5-4daca592910b.png)

[code]

[2017-03-20 15:00] Fourdee commented on #818
@rulenma

Zero W support was added to the v145 image with modified date 8th March. Is it possible you used an image that was older than this? In which case WiFi would not be supported on Zero W.

If not, may just be a bad image write.

Mine runs really well, no issues so far and similar range results to RPi 3 onboard.

May be worth checking ```iwconfig``` for signal stats on the Zero W.

[2017-03-20 19:18] Fourdee opened #823 "OPi PC Plus | Image > EMMC issues"
Device is OPi **PC** Plus, not simply Plus: https://github.com/MichaIng/DietPi/issues/823#issuecomment-288157733

---

As reported by user, run local test to confirm:
http://dietpi.com/phpbb/viewtopic.php?p=6259#p6259

[2017-03-20 19:32] Fourdee commented on #822
@joaofl

Looks like your on a roll, great stuff, keep us updated and if any issues (eg: system prep), let me know👍

I did look at purchasing one of these boards (specs look really good on paper), however, page not found lol :frowning_face:
http://roseapplepi.org/index.php/purchase/
![image](https://cloud.githubusercontent.com/assets/7077026/24117949/fc0b043c-0da3-11e7-84a5-1a7f105f15db.png)

[2017-03-20 19:39] joaofl commented on #822
@Fourdee
They look a bit bit decadent. Like Igor was saying, some of this companies rely on community development for their business to work... Pity.

I can provide you the email I asked the sample for, and I'm sure they provide you one in case they are still giving some away.

[2017-03-21 01:46] joaofl commented on #822
@Fourdee
Could you get USB3 to work full speed on this Sparky Allo board? https://github.com/Fourdee/DietPi/issues/699

Because they use the same chip as Roseapple Pi. The issue is that at the armbian distro uses the kernel from lemaker, which does not support USB3.
https://github.com/LeMaker/linux-actions

It seems that the kernel by sparky (the one used on Sparky Allo) support USB3... At least t

[2017-03-21 09:37] Mister-XY opened #824 "Diet Pi Image for Banana Pi"
Hello, is it possible to get an Image from Dietpi for Banana Pi?
Here is an ARMBian Version for it
https://www.armbian.com/banana-pi/

[2017-03-21 11:25] Fourdee commented on #821
[code]

[2017-03-21 12:02] Fourdee commented on #821
### Enable UPNP client on MPD, Requires DietPi v147:

This must be enabled by the user, as disables existing database. To enable, add following to ```/etc/mpd.conf```:
[code]
Also need to comment out:
[code]

else
[code]

Restart services:
[code]
---

< v147, Test this installation by reinstalling MPD:
[code]

[2017-03-21 12:03] Fourdee commented on #821
Completed

[2017-03-21 12:03] #821 closed, assigned to nobody

[2017-03-21 12:33] Fourdee commented on #822
@joaofl

Please if you could, worth a shot daniel.knight@dietpi.com

I dont have any USB3 devices that are capable of testing anywhere near full potential.  I've ordered a USB3 flash drive 150MB/s, should be here tomorrow and i'll test then :)

Different ARM chips and most likely different USB device paths on both SBC? although, no idea if i'am honest, you probably know more than I do when it come

[2017-03-21 13:14] Fourdee commented on #806
Completed:
http://dietpi.com/#download

[2017-03-21 14:07] Fourdee commented on #768
Completed.

[2017-03-21 14:07] #768 closed, assigned to Fourdee

[2017-03-21 14:10] Fourdee commented on #812
@guidol70

Thanks 👍

I'll run some further tests here with your settings applied:

Tests:
- 🈯️ ```hdmi_drive=2``` + ```hdmi_force_edid_audio=1```

[2017-03-21 14:20] Fourdee opened #825 "General | 0.UTF-8 locale error"
As reported by some users, may be linked to changing default locale on system

[2017-03-21 14:22] Fourdee commented on #825
As per John's solution (http://dietpi.com/phpbb/viewtopic.php?f=11&t=970&p=6309#p5766). If we can grab default system locale, then pump into ```/etc/environment```, may resolve:
[code]

[2017-03-21 14:42] Fourdee commented on #825
[code]

- 🈴 New default locale, is not updated (above cmd), until reboot
- 🈯️ ``` cat /etc/default/locale | grep -m1 '^LANG=' | sed 's/.*=//'```

[2017-03-21 15:11] joaofl commented on #822
@Fourdee

This isn't true... I'm pretty much venturing into this area in order to learn. My deal is with low level embedded systems (no OS, or few Kb ones), but I want to get to know linux more in depth.

But in any case, If I cant figure out how to make the USB3 to work any bit faster, I'll try to get the dietpi image done for the board it as it is by armbian.

Another doubt: How did you get the

[2017-03-21 15:41] Invictaz commented on #806
Well done. Impressive how fast you did it. Was it because the official blob for the GPU and the CPU distro already available from Rockchip?

[2017-03-21 15:55] Fourdee commented on #806
@Invictaz

Thanks 👍 We actually used the official ASUS v1.4 image, stripped it (and then some) then optimized for DietPi.

Once we had the info on WiFi/BT modules and various other things, DietPi is coded to allow for new boards fairly quickly. Just a case of adding new code and done.

Just bear in mind, GPU features are not support yet in DietPi for this image, due to:
https://github.com/Fourdee/

[2017-03-21 16:15] DenisFromHR commented on #823
My isue is with the OrangePi **PC Plus**, not the OrangePi Plus - so, not quite the same hardware. Perhaps that is the core of the problem?

[2017-03-21 17:13] phonicmouse opened #826 "DietPi-Software | Add shoutcast/icecast server"
✌

[2017-03-21 21:46] mmagnetix commented on #806
@Fourdee 👍

receiving the board this week. how does the sdcard perform? the controller is UHS-I might speed things up?

Regards,
Magnetix

[2017-03-22 01:50] Invictaz commented on #824
Yeah, I hope Allwinner A10 / A20 support is coming. Not all hardware acceleration is working yet but at least it's a start. A lot has changed since 2013/2014 and Cedrus has some libvdpau implementation.

https://github.com/linux-sunxi/linux-sunxi
http://linux-sunxi.org/Cedrus
http://linux-sunxi.org/Sunxi-cedrus
http://linux-sunxi.org/Cedrus/libvdpau-sunxi
https://github.com/codesnake/aml-mali
http

[2017-03-22 01:51] Invictaz commented on #806
@Fourdee

Still too bad there is no Allwinner A10 build. I really could use it.
Some people said that the libvdpau and GPU support is now there partially.

See also my links on issue #824

[2017-03-22 02:03] Invictaz commented on #731
Movian has source here:

https://github.com/andoma/movian

[2017-03-22 09:58] DenisFromHR commented on #823
that did it, thanks :)
We can mark this as solved...

[2017-03-22 10:25] Fourdee commented on #825
Pilovali had this issue and reported a full SD format and rewrite of image, resolved it. May be linked to a bad image write.

[2017-03-22 10:36] Fourdee commented on #823
@DenisFromHR
Excellent, apologies for the incorrect initial support, due to board mixup on this one.
Thanks for letting us know results 👍

[2017-03-22 10:36] #823 closed, assigned to nobody

[2017-03-22 11:17] Fourdee commented on #825
Marking as completed, although, wont know until v147 release and new installs / change locale if this resolves issues for users reporting ```0.UTF-8```, as, unable to replicate this on any system.

[2017-03-22 11:17] #825 closed, assigned to nobody

[2017-03-22 11:38] Fourdee commented on #812
@guidol70

Still unable to replicate lack of HDMI audio in my tests, even with  ```hdmi_drive=2``` + ```hdmi_force_edid_audio=1```.

Can you provide me with the modified ```config.txt``` you are using on DietPi+AmiBerry, that fails with HDMI output please?

Also, can you confirm if you used the special DietPi+AmiBerry image your installation?
- http://dietpi.com/downloads/images/DietPi-AmiBerry_RP

[2017-03-22 12:19] Fourdee commented on #760
Ok, tests:

- 🈴 DietPi | Logged in as user ```amiberry``` = No caps/scroll/num lock updates. Same as running under ```root```.
- 🈴 Raspbian Lite | logged in as user ```pi``` = No caps/scroll/num lock updates. Same as running under ```root```.
- 🈯️ Both | LED's work outside of ```uae4arm-rpi```
- 🈯️ Both | Launch binary with ```xinit```, all LED's functional

[2017-03-22 12:45] Fourdee commented on #760
@midwan

Apologies for the delay on this.

I can not get LED's to work, unless we use ```xinit``` to launch a X display with AmiBerry: https://github.com/Fourdee/DietPi/issues/760#issuecomment-288381563

I've pretty much exhausted my options here and possible tests. There must be something related to SDL under FB that prevents LED functionality?

[2017-03-22 13:11] Fourdee commented on #806
@mmagnetix
Oh yes it does, SDIO 3.0 is really nice, Sandisk Extreme 32GB 60MB/s write rated
![image](https://cloud.githubusercontent.com/assets/7077026/24199292/e94e9a6c-0f00-11e7-9ea5-69ac766c5523.png)

May get better performance on higher speed card, although, I doubt it will touch Odroid's EMMC 150MB/s

[2017-03-22 13:34] mmagnetix commented on #806
@Fourdee

Awesome. The goal of Asus is almost there (to be a Raspberry PI killer) Hopefully the GPU driver issue is corrected in the next couple of days. Then Odroid C2 has competition.

the heatsink in the package is it enough to keep the CPU <85c or is did the CPU throttle kicked in?

[2017-03-22 13:37] Fourdee commented on #822
@joaofl

We used a premade uboot/kernel provided by Allo on their Ubuntu image, then replaced RootFS with Jessie and added systemD init to ```uenv.txt```:
```init=/lib/systemd/systemd```

[2017-03-22 16:39] joaofl commented on #822
@Fourdee

I was trying to build the DietPi image yesterday, but I had an issue when I got to:

`#FSTAB`
`cp /boot/dietpi/conf/fstab /etc/fstab`
`systemctl daemon-reload`
`mount -a`

In this code, you assume I already have 2 partitions, one with the boot, right? But in fact, from Armbian's image, I only have the mmc1 mounted at the root "/". And if I run mount -a after copying dietpi's fstab, It me

[2017-03-22 18:33] midwan commented on #760
@Fourdee
No worries, I've been quite busy with the SDL2 version in the meantime (trying to get it stable enough for release).

I'll have to refresh my memory on what I saw with this, which means I'll need to setup a fresh environment to test with. From what I remember, it seemed to work fine in stock Raspbian (and Raspbian-based, like RetroPie) distros, which run under the user "pi", but not in Di

[2017-03-22 21:45] mmagnetix opened #827 "BUG reported: Reference CODE: 7a714c54-a3c8-4328-99cb-dd694b2cc498-0"
Hi,

No system log messages are created on the Odroid XU4.

I was working on building an secure Email server with MTA Postfix TLS and tried to troubleshoot postfix and discovered that there were no system logs created.

[2017-03-22 22:09] mmagnetix commented on #827
rsyslog service is not running and can't be started files/scripts are missing

Running from the Odroid XU4 (software release 1.46)

root@mx:~# systemctl status rsyslog
● rsyslog.service
   Loaded: not-found (Reason: No such file or directory)
   Active: inactive (dead)

root@mx:~# systemctl start rsyslog
Failed to start rsyslog.service: Unit rsyslog.service failed to load: No such file or director

[2017-03-22 22:12] mmagnetix commented on #827
Problem does not occur on Pine64 (software release 1.46)

root@mx:/var/log# systemctl status rsyslog
● rsyslog.service - System Logging Service
   Loaded: loaded (/lib/systemd/system/rsyslog.service; enabled)
   Active: active (running) since Sat 2017-03-18 20:17:05 CET; 4 days ago
     Docs: man:rsyslogd(8)
           http://www.rsyslog.com/doc/
 Main PID: 592 (rsyslogd)
   CGroup: /system.slice/

[2017-03-23 00:50] joaofl commented on #822
@Fourdee
I saw that you had this problem before in https://github.com/Fourdee/DietPi/issues/345.

So I changed to BOOTSIZE=64, compiled, burned it, and mounted the sd to change the other files and copy dietpi stuff.

The thing is, I can not find `do_expand`, neither  `ln -sf /boot/bin/*.bin /boot/script.bin `

It seems to have moved to /etc/init.d/resize2fs. So I commented this two lines:

[code]

[2017-03-23 01:23] joaofl commented on #822
I keep getting this error:

[   30.600191] drivers/video/owl/backlight/owl_pwm_bl.c/owl_backlight_is_on: get backlight failed!

[code]

I'm using ID 70 from sparky for now. All dietpi tools I've tested so far work.

[2017-03-23 01:38] joaofl commented on #822
Got some surprising performance numbers:

![image](https://cloud.githubusercontent.com/assets/8092452/24228016/53763b80-0f69-11e7-8766-ed4750bd2336.png)

After all, USB3 works, for reading only! Does it make any sense?
Because with the same HD on my notebook, I get 150MB/s for R/W... So the bottleneck is not at the USB HD controller.

[2017-03-23 10:53] Fourdee commented on #827
@mmagnetix

Hi,

syslog is not installed on DietPi by default, this is to save on excessive logging to RAM. Aimed at the majority of our users who do not require intense logging.

More info here:
http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&start=20#p68

You can install syslog by either:
- Apt | ```apt-get install rsyslog```
- Change logging mode to full ```dietpi-software``` > Log System > Full.

[2017-03-23 11:37] Fourdee commented on #822
@joaofl

Great work, looking good 👍

I assigned 100 for the Asus tinker board, so next group would be 110 for this board: https://github.com/Fourdee/DietPi/blob/testing/dietpi/dietpi-obtain_hw_model#L105-L109

https://github.com/Fourdee/DietPi/pull/828 also needs to be sent to the ```testing``` branch.

As ```HW_MODEL``` 110 is to be used, you'll also need to increase the array size for DietPi-Sof

[2017-03-23 12:24] Fourdee commented on #806
@mmagnetix

Yep, hopefully. I will test the board on another monitor, just incase its an EDID/auto detect issue.

Seems fine, I did a quick 1min CPU burn (8 threads) and only reached 70'c. So in terms of real-world server usage, should never hit thermal throttling unless at full load for 10+ mins.

For me, the C2 is still a much better board. Especially for Kodi usage:
- C2: 4K resolution
- Asus:

[2017-03-23 13:24] Fourdee commented on #806
Official v1.4 Asus TB image:

- 🈺 Interesting, on another TV, i still get the same screen blank after 5 seconds in desktop, however, it does return signal after another 5 seconds.
- 🈺 Chromium + Youtube performance under ```egl``` is dreadful, 720p@30fps = 5-10fps
- 🈺 Kodi Playback (Bunny 1080p@60fps) is jittery, possible vsync issue (tearing), 100% CPU usage @ 1.5GHz

Yep, think we'll have to wai

[2017-03-23 13:58] Fourdee commented on #760
@midwan

Thanks 👍

I confirmed both on Raspbian Lite and DietPi, same issues with FB and lack of LED response. Maybe RetroPie is doing something different, or even running it under X, mmm.

Yep i've seen, looking forward to seeing this run under SDL2. Any ETA on when possible release may be ready for testing?
We could even roll out a pre-release optional install for our DietPi users (eg: AmiBerry

[2017-03-23 15:45] mmagnetix commented on #827
Ok.rsyslog package is by default installed on the DietPI image of the Pine64.Therefor I assumed that the package was broken. Thanks for the heads up.Regards,Magnetix.Op 23 mrt. 2017 11:53 schreef Dan <notifications@github.com>:@mmagnetix
Hi,
syslog is not installed on DietPi by default, this is to save on excessive logging to RAM. Aimed at the majority of our users who do not require intense loggi

[2017-03-23 15:48] mmagnetix commented on #806
Looks like a hdmi resolution mode issueDid you tried all resolutions to check if it stablized on say 720p.Op 23 mrt. 2017 14:24 schreef Dan <notifications@github.com>:Interesting, on another TV, i still get the same screen blank after 5 seconds in desktop, however, it does return signal after another 5 seconds.
Chromium + Youtube performance is dreadful, 720p@30fps = 5-10fps

—You are receiving th

[2017-03-23 17:24] guidol70 commented on #812
No I cant provide it anymore :( I did re-use the SD-Card with Amibian.

I can confirm I did use the special DietPi+Amiberry Image weeks
ago....after update it did show me V145

If no one else got this problem....close it. If it was a real problem to
more users they had left also a info....

Thanks for the search....

2017-03-22 14:38 GMT+03:00 Dan <notifications@github.com>:

[2017-03-24 06:01] shellshocker opened #830 "DietPi.com | TLS/HTTPS"
There is no TLS-cert on the website and also no checksum to verify the image. From a security perspective -> this is bad. ;-)

[2017-03-24 12:02] Fourdee opened #831 "DietPi Images | CRC/MD5 hash for all images"

[2017-03-24 12:02] Fourdee commented on #830
@shellshocker

Thanks for the feedback 👍

- We'll get the TLS cert and https redirect added to dietpi.com with cerbot. We need to migrate our server anyway (upgrade to Jessie from Wheezy), will do that at the same time.
- CRC/MD5 hash for images: https://github.com/Fourdee/DietPi/issues/831

[2017-03-24 12:17] Fourdee opened #832 "DietPi-Software | Update NetData Binaries 1.6"

[2017-03-24 12:21] Fourdee commented on #827
@mmagnetix

Ah, must of slipped the net on this one, thanks for letting me know we'll get that fixed 👍

[2017-03-24 12:45] Fourdee commented on #832
- 🈯️ ARMv6
- 🈯️ ARMv7+
- 🈯️ ARM64
- 🈯️ AMD64 << yep, VM install now available

[2017-03-24 12:56] shellshocker commented on #831
Please use SHA-256 or higher for the checksum. MD5 is old and broken.

[2017-03-24 12:58] mikolaj24 opened #833 "gogs not installing"
Probably change urf for blob zip binary install
https://dl.gogs.io/gogs_v0.9.141_raspi2.zip

install info https://www.linode.com/docs/applications/development/install-gogs-on-debian-8-jessie/

[2017-03-24 13:05] Fourdee commented on #832
Multitasking r'us:
![image](https://cloud.githubusercontent.com/assets/7077026/24295425/9333eb08-1092-11e7-8cd3-e5c88fd1f803.png)

[2017-03-24 13:10] Fourdee commented on #832
Completed.

[2017-03-24 13:10] #832 closed, assigned to Fourdee

[2017-03-24 13:35] Fourdee opened #834 "DietPi-Set_Hardware | RPi OpenGL hangs xinit"
Complete system lock, unresponsive, possible driver issue.

### Workaround/Fix: https://github.com/Fourdee/DietPi/issues/834#issuecomment-291507267

[2017-03-24 13:37] Fourdee commented on #834
Temp solution, disable openGL:
[code]

Fresh installs of v147:
- We've disabled activating OpenGL during the Chromium installation for now.

[2017-03-24 13:42] Fourdee opened #835 "DietPi-AutoStart | Add Chromium option (without desktop)"

[2017-03-24 13:44] Fourdee commented on #834
Thanks to @midwan 👍  confirmed on latest firmware:

[2017-03-24 13:53] mikolaj24 opened #836 "After dietpi-update i lost /Dietpi/*"
-bash: /DietPi/dietpi/login: No such file or directory

i only run dietpi-update

System working but not stability (i lost www too)

[2017-03-24 14:01] Fourdee commented on #835
Notes:
- To use full screen, chromium must be launched from a desktop 1st to update window dimensions, in config. Else, https://superuser.com/a/538450

[2017-03-24 14:06] Fourdee commented on #835
Interesting, extremely lightweight:
![image](https://cloud.githubusercontent.com/assets/7077026/24297541/107cb09c-109b-11e7-853d-3feba2cffabe.png)

[2017-03-24 14:06] Fourdee commented on #835
Completed.

[2017-03-24 14:06] #835 closed, assigned to Fourdee

[2017-03-24 14:08] Fourdee commented on #809
No response.

@mzeichner

I'll mark this as closed, please re-open if required.

[2017-03-24 14:08] #809 closed, assigned to Fourdee

[2017-03-24 14:18] Fourdee commented on #836
@mikolaj24

Most likely a filesystem corruption has occurred. This is usually linked to unstable/insufficient hardware PSU/SDcard.

Which?:
- Device used (eg: RPi 3)
- PSU used (eg: 5v/1A)
- SD card used (eg: Toshiba class 8)

[2017-03-24 14:20] mikolaj24 commented on #836
my power is 1A, Orange Pi zero 512

i use poweroff from commandline  to close server.

how i can check my SD producent

is any chance to copy back this files? Server working but www and other services are down
/Dietpi is tempfs, meybe i can mount it manualy?

[2017-03-24 14:32] JohnMacrae commented on #813
The update to 147 ran without error. Rebooting shows v147. I think we can close this one.

[2017-03-24 14:46] Fourdee commented on #813
@9H5G

Thanks. 👍

Still unsure as to what the cause of this was. But if it reoccurs, please reopen ticket and we'll investigate it further.

[2017-03-24 14:46] #813 closed, assigned to nobody

[2017-03-24 15:20] Fourdee commented on #815
Board arrived.

[2017-03-24 15:21] Fourdee commented on #815
- 🈯️ Excellent signal strength/range with onboard WiFi, impressive, 150MBit:
[code]

- 🈯️ 1 http://dietpi.com/phpbb/viewtopic.php?f=8&t=1559&p=6391#p6391
- 🈯️ image: http://dietpi.com/downloads/images/DietPi_OrangePiLite-armv7-(Jessie).7z
- 🈯️ dietpi.com updated http://dietpi.com/download

[2017-03-24 15:36] Fourdee commented on #836
@mikolaj24

Boardline sufficient I believe for that device. Its most likely an unstable 5v that is causing the problem.
We highly recommend the Official RPi 5v/2A PSU, for all MicroUSB powered boards.

/Dietpi is tempfs, meybe i can mount it manualy?

I personally wouldnt recommend attempting to fix this installation. The filesystem corruption appears to be in a bad state, and any "fix" could be s

[2017-03-24 15:43] joaofl commented on #822
Thanks @Fourdee

I'll give one last try on disabling the backlight thing on the kernel, then I'll send you the image.
I'll also give a try on installing the GPU drivers: http://wiki.linux-xapple.org/w/index.php/How_to_Install_GPU_binary_driver

I had a bit of trouble resizing the image. Can you give a tip o this?
Using gparted (UI), but it does not allow resizing the image too small, to keep only

[2017-03-24 16:29] Fourdee commented on #815
Completed.

[2017-03-24 16:29] #815 closed, assigned to Fourdee

[2017-03-24 17:24] mikolaj24 opened #838 "wifi Country"
I cant set my country in diet-config wifi
I get

Country code (PL) could not been applied. Please    │
                       │ check the country code and try again.

[2017-03-24 17:25] #836 closed, assigned to nobody

[2017-03-24 20:51] WolfganP commented on #796
@Fourdee Dan, any version target for this enhancement? Anything we can do from our side to help?
Thx, Wolf

PS: this is the "recipe" I follow to add a plain user 'pi' to a fresh dietpi install:

	mkdir /home; mkdir /home/pi
	useradd --group 100 --uid 1000 --shell /bin/bash --home /home/pi pi
	## apt-get install sudo
	chmod 4755 /usr/bin/sudo     // solved on https://github.com/Fourdee/DietPi/issue

[2017-03-25 13:07] Fourdee commented on #838
@mikolaj24

```iw reg set``` (used by DietPi-Config) does not work in all instances, depends on kernel version and WiFi chipset used.

Please try this alternative method:
[code]

Then check with:
[code]

[2017-03-25 13:19] Fourdee commented on #822
@joaofl

This because it uses resize2fs without the -f option.

Yep, sometimes you need to resize it a few times in Gparted. eg: reports 500MB min, try 1000MB, then try 800MB etc.
This normally occurs when the image has multiple small files. I believe Gparted is simply reading the size of each file, instead of calculating the actual file size on disk, although I could be wrong.

I made a little sc

[2017-03-26 09:37] pcktm commented on #811
This time something else broke. I don't know what's happening.

[logs.txt](https://github.com/Fourdee/DietPi/files/870660/logs.txt)

[2017-03-26 10:55] Fourdee commented on #811
@PuciekTM

make: Warning: File '../../../../../../../../root/.node-gyp/7.7.4/include/node/common.gypi' has modification time 4244079 s in the future

Looks like the system time is incorrect, causing node-red and npm to fail install.

Lets check system date:
[code]

And if NTPD is enabled (default on with all DietPi images ```=2```):
[code]

Lets ensure no other NTPD processes are still running:
[c

[2017-03-26 10:58] Fourdee commented on #796
@WolfganP

Thanks 👍

I'll flag this for v149, although, we may need to push it further depending on outcome of this ticket. Depends if new images are required (patch may be too risky)

[2017-03-26 11:02] Fourdee commented on #812
@guidol70

Thanks for the info.

Unfortunately, as I can't replicate this issue on 2 of my TV's with fresh/untouched DietPi-AmiBerry installs, there is not much I can do in regards to offering assistance at this stage.

I'll mark this as closed, however, if you have any more info on the issue, please reopen and let us know.

Just encase, I'd also recommend trying a fresh install of the DietPi-AmiB

[2017-03-26 11:02] #812 closed, assigned to nobody

[2017-03-26 11:05] Fourdee commented on #833
@mikolaj24

Thanks.

Appears Gogs has renamed/moved their "latest" binary links, yet again 👎
https://github.com/Fourdee/DietPi/issues/793

[2017-03-26 11:09] Fourdee commented on #833
We'll host binaries on DietPi.com. Whoever maintains https://dl.gogs.io/ needs a slap.

[2017-03-26 11:40] Fourdee commented on #838
We'll apply to ```ieee80211_regdom=```, as well as ```iw reg set```.

[2017-03-26 11:50] Fourdee commented on #833
@mikolaj24

Fixed for v148, you can patch now with:
[code]

[2017-03-26 11:50] Fourdee commented on #833
Completed.

[2017-03-26 11:50] #833 closed, assigned to nobody

[2017-03-26 14:32] WolfganP commented on #796
Thanks @Fourdee , but maybe a two step implementation is the best way to go (ie 1st create the user without any changes to packages install and let [human] users play with it and test the environment (like I did above, just creating the user and enabling it for some services like samba), 2nd work on the packages and root restrictions (force the move to unprivileged user)

[2017-03-26 15:15] mmagnetix commented on #806
I heard some rumors that the Tinker Board works OK (desktop/Kodi) with mainline Kernel 4.11.

[2017-03-26 15:29] k-plan opened #839 "DietPi Software | PiHole: "Queries over time" show only graph 1 hour"
![170326-0001](https://cloud.githubusercontent.com/assets/17237601/24332193/a28200a2-1242-11e7-8f63-f7bb5533f220.gif)

Tested devices:

- RPi Zero W
- NanoPi Neo
- RPi3
- OrangePi One

DietPi Version:

- v1.46
- v1.47

Installed software:

- SSH Server: Dropbear
- File Server: None
- Log System: DietPi-Ramlog #2
- Webserver Preference: Lighttpd
- User Data Location: SD/EMMC | /mnt/dietpi_userdata

[2017-03-26 15:34] Fourdee commented on #839
@k-plan

Thanks for the report 👍

There is an exclusion for PiHole's log file clearing with DietPi-Ramlog. It should allow for 24 hour logs. Let me run some tests here and check source.

edit:

Most likely this, Mode 2 probably moving the log contents, before 24h check is done.

---

Notes:
- Option 1: exclude PiHole logs from backup in Mode 2
- Option 2: 24h timer before backup of logs and clear

[2017-03-26 15:47] k-plan commented on #839
@Fourdee

yes, I noticed this, but can't understand or debug, what your script is doing ... sorry for my disability. 😃

On the outdated PiHole installation, with  Ramlog 2, graphing will works like a charm.
Noticed as well, that here is no "preamble" in the log-file and it will always start at `00:00:xx` :

[code]

[2017-03-26 15:59] Fourdee opened #840 "DietPi-Software | NTPD wait tweaks"
- 🈯️ Disable wait (assume failed) instantly, if no connection is available on adapters
- 🈯️ Re-run ntpd completion check again, prior to ```Run_Install()``` (eg: user enters WiFi creds, reloads dietpi-software). If no connection is still available at this point, ```Check_Connection()``` will prevent progress, before NTPD status is checked.

[2017-03-26 16:06] Fourdee commented on #796
@WolfganP
Sounds good 👍

[2017-03-26 16:45] k-plan commented on #840
@Fourdee

occur this only, if WiFi (WLAN) configured to use DHCP client?

If so, it will be worth to test a option `raspi-config` use:

![170326-0003](https://cloud.githubusercontent.com/assets/17237601/24333207/0c4823a2-1254-11e7-8b2b-0ad327142cde.gif)

Please take a look here:

https://github.com/raspberrypi-ui/rc_gui/blob/bf829a6cd4a130eaa421e1a39cee6388301f8414/raspi-config#L854

-------------

[2017-03-26 17:14] k-plan commented on #831
To check, if a downloaded and extracted image is corrupt? No.
SHA-256 is very bulky for human reading.
So please offer both checksum in one file, so human or software can decide, which one to use.
Most will do so.

[2017-03-26 17:53] Fourdee commented on #840
@k-plan

Thanks 👍

Notes:
- ```route | grep -m1 -ci '[[:space:]]UG[[:space:]]'```

[2017-03-26 18:39] Fourdee commented on #839
@k-plan

Yep, checked code, looks fine. Shouldn't trigger a clear unless previous day.

Thanks, i'll check 👍

[2017-03-26 19:01] k-plan opened #841 "DietPi-Software | DietPi-Cam (RPi Cam Control v6.2.29): No timelaps video convert"
Tested Hardware:

- RPi Zero W
- [RPi Cam v1.3](http://www.waveshare.com/product/rpi-camera-c.htm)
- or [Raspberry Zero mini Camera (JT-ZERO-V2.0)](http://www.waveshare.com/rpi-zero-v1.3-camera.htm)

Software:

- DietPi v1.47
- DietPi Cam (RPi Cam Control v6.2.29) installed via `dietpi-software`
- Web-server: lighttp

Both cams are up and running fine with DietPi Cam.
Can take pictures, timelaps a

[2017-03-26 19:12] k-plan commented on #839
The first screenshot is taken from this device (NanoPi v146)

[code]

But it's the same, as well on RPi Zero W or OPi One (latest image version) updated to v147,
running Pi-hole  v2.13.2 with Admin-LTE v2.5.2

[2017-03-27 10:40] Fourdee commented on #839
Tests with Ramlog mode 2:
- 🈯️ Confirmed worked on DietPi v142 system. ~~Possible log format has changed in later version of PiHole, which will break scrape. Will test.~~
- 🈯️ Fresh install of v147 system
![image](https://cloud.githubusercontent.com/assets/7077026/24358726/f9705ce4-12f9-11e7-9edf-796dc8c9eb67.png)

[2017-03-27 11:05] Fourdee opened #842 "DietPi-Config | Option to allow for infinite wait on net connection during boot"

[2017-03-27 11:06] Fourdee commented on #840
@k-plan

This already exists in our boot script: https://github.com/Fourdee/DietPi/blob/master/dietpi/boot#L235-L260

Although, it will time out after 10 seconds of waiting. I'll add an option in ```dietpi-config``` to allow infinite wait: https://github.com/Fourdee/DietPi/issues/842

[2017-03-27 11:31] Fourdee commented on #548
Clear all comments in a script, that start with whitespace and are 1st entry on line (excludes ^#):
- _Will help reduce size of DietPi scripts in RAMdisk_
[code]

[code]

[2017-03-27 12:02] Fourdee commented on #842
- ```dietpi-config``` Network Options: NAS/Misc
![image](https://cloud.githubusercontent.com/assets/7077026/24355383/a2cc2104-12ed-11e7-8ca6-593479f060a4.png)

[2017-03-27 13:09] Fourdee commented on #842
- 🈯️ To ensure remote/failed drives are mounted, after connection is established during boot, we could simply add this as a failsafe to bring mount up:
[code]

Tested with:
- infinite wait on net ```boot_wait_for_network=2``` ```/DietPi/dietpi.txt```
- eth unplugged during boot. Plug back in, mounts smb share.

Works a treat.

[2017-03-27 13:18] Fourdee commented on #840
Implemented changes as per: https://github.com/Fourdee/DietPi/issues/840#issue-217061769

Completed.

[2017-03-27 13:18] #840 closed, assigned to Fourdee

[2017-03-27 13:18] Fourdee commented on #842
Completed.

[2017-03-27 13:18] #842 closed, assigned to nobody

[2017-03-27 13:34] Fourdee commented on #839
@k-plan

Really strange, I cant seem to replicate this on RAMlog mode 1/2. PiHole logs are only cleared if day ```!=``` today, or 5MB limit.

Just wondering if your PiHole log file is hitting 5MB> in size? in which case, it will be cleared to free up RAMlog (20MB tmpfs max):
https://github.com/Fourdee/DietPi/blob/master/dietpi/dietpi-logclear#L128-L136

Other thing could be ```locale``` related, c

[2017-03-27 14:09] Fourdee commented on #592
Cannot  get sync client to work:
- 🈴 local ip
- 🈴 web url
![image](https://cloud.githubusercontent.com/assets/7077026/24360483/52fbfd2c-12ff-11e7-9fc7-4d3025826d5f.png)

[code]
[code]

- 🈺  Have to also change plugin manifests: ```/etc/tonido/plugins/*/manifest.xml```. Still unable to login with sync client.

[code]

- 🈴 Web file uploads fail: ```16:25:45:617 [6] [Dispatcher]:E: No Message Handler

[2017-03-27 14:28] k-plan commented on #839
@Fourdee

No, it's only my personal test device for my single computer.
Rest of the hole network use the old PiHole installation on a other device.

[code]

[code]

[code]

But anyway ... shall we start form the scratch?  _(hope it is the last time, I do this ...)_
Which device? NanoPi Neo (v.1), OPi One or RPi Zero (W)?
Last image version? Update to last DietPi?
RAM-Log 2? May I change locale to

[2017-03-27 16:53] k-plan commented on #839
@Fourdee

OPi One installation:
- image:  DietPi_v145_NanoPiNEO-armv7-(Jessie).img

Software:
- RAM Log 2
- lighttp
- mc
- PiHole

[code]

- first PiHole installation on OPi-One failed/stop (before dialog for asking to install Admin-LTE), show in terminal `Fail in /DietPi/dietpi/dietpi-software line 7xxx` (if i remember correct),
follow by a automated reboot, PiHole was not installed (tested: `pih

[2017-03-27 17:33] k-plan commented on #839
@Fourdee

RPi-Zero-W installation:

- image:  DietPi_v145_RPi-armv6-(Jessie).img

Software:

- RAM Log 2
- lighttp
- mc
- PiHole

[code]

- PiHole installation on RPi-Zero-W works without a problem.

After automated reboot, PiHole works.

Setup Pihole:
`cp /etc/pihole/adlists.default /etc/pihole/adlists.list`
`nano /etc/pihole/adlists.list`
`pihole -g`

![170327-0003](https://cloud.githubuserconte

[2017-03-27 20:41] k-plan commented on #839
for testing:
 - unselect locale de_DE on same RPi Zero W and reboot

[code]

![170327-0006](https://cloud.githubusercontent.com/assets/17237601/24377014/2a612b50-133e-11e7-901a-d166e6c5f496.gif)

No, choose, add and switch `locale=de_DE` to default and you can see the magic ... 😃

___________________

BTW: _Hope, with "Pi-hole FTL engine" all become better._ 😃

[Coming Soon To A Pi-hole Near You:

[2017-03-28 00:05] joaofl commented on #822
@Fourdee :+1:  Your script works nice.

If installed before the user interface (tasted with MATE), the GPU wont work.
One have to remove it from the blacklist, and reinstall it (from http://wiki.lemaker.org/LeMaker_Guitar:GPU_hardware_acceleration).
After enabled the GPU driver, MATE loads fine, but not KODI. However, I did not test if it is working fine yet. So it was not included in the image an

[2017-03-28 10:47] Fourdee commented on #822
@joaofl

Excellent, great work on this 👍

Unfortunately, I cant test it here yet (no word on sample board). Although, i've check the image contents, looks spot on.

Is the image good to go? I'll get this hosted on dietpi.com and update site with this release.

[2017-03-28 10:55] Fourdee commented on #839
@k-plan

Thanks, i'll check 👍

Looks like a change from php to C: https://github.com/pi-hole/FTL/blob/master/main.c should make for much reduced query times, espically with use of multithreading: https://github.com/pi-hole/FTL/blob/master/main.c#L43-L49

If IO on log file has any impact on query time, it "should" run faster on DietPi (RAMlog) 😉

[2017-03-28 10:58] Fourdee commented on #839
@k-plan

https://github.com/pi-hole/FTL#pi-hole-ftl

Yep, and Sonic is copyright of SEGA lmao

[2017-03-28 11:02] Fourdee opened #843 "DietPi Image | NanoPi M1+"

[2017-03-28 11:30] Fourdee commented on #814
ARMbian dev 4.x branch only for H5, lets hold packages (prevent apt-upgrade and possible buggy kernel update):
[code]

[2017-03-28 12:09] Fourdee commented on #814
Notes:
- 🈯️ H5 is much more responsive than the H3. Doesn't have a noticeable "delay" in processing/command exec the H3 has.
- 🈴 CPU freq/scaling not supported in kernel (yet):
[code]
- 🈯️ Network throughput:
[code]
- 🈺 SD performance just above RPi (Sandisk Extreme 32GB uhs-3 rated at 60MB/s write):
![image](https://cloud.githubusercontent.com/assets/7077026/24455845/f37b7ea0-1488-11e7-8ccc-24aa3

[2017-03-28 12:14] joaofl commented on #822
@Fourdee
I guess they went bankrupt, and can not afford samples anymore :(
But it may be useful for people who got this board somehow. I hope it is.

Yes, It seems to be good to go. I have tasted the installation of MATE desktop and a couple of other scripts, and worked straight on. Maybe I forgot to delete bash history, but thats not a big deal anyway.

[2017-03-28 13:58] joaofl commented on #822
I intend to add the correct CPU temperature info, which is still not shown by "cpu" command.
Maybe for the next release? Show I keep this issue open?

[2017-03-28 14:53] k-plan commented on #839
Only change default locale=en_GB didn't help. Must remove all other language support.

--------

Flat file support will decease. Running database in RAMlog? 😉

[2017-03-28 17:10] aliosa27 commented on #843
i'll work on this one

[2017-03-29 01:51] blamoo opened #844 "apt-get install python error: "files list file for package 'libisccfg-export90' is missing final newline""
Happened on a Raspberry Pi 3 fresh installation.

Steps:
- Installed DietPi_v145_RPi-armv6-(Jessie).img on a 2GB SD
- Configured wireless networking using keyboard + HDMI monitor
- Moved to SSH to continue installation
- Installed and configured no-ip client (haven't tested without it, maybe isn't related to the problem)
- Changed APT mirror to "Global"
- Completed the initial setup and restarted

[2017-03-29 02:04] trajano commented on #830
Please fix the title so it shows TLS not TSL.

[2017-03-29 02:30] blamoo commented on #844
nvm, i couldn't boot the system after that irresponsible "delete all the files" thing.

i'll recover them from a backup, analyze the deleted files and update this issue later.

[2017-03-29 04:43] blamoo commented on #844
For some reason, the file `/var/lib/dpkg/info/libisccfg-export90.list` was filled with 0x00 bytes. I've mounted the original image and the file is okay.
It looks like something happened after the installation.. I'll test a bit more tomorrow, maybe the SD card isn't healthy or whatever...

BTW, this fixes the problem:
[code]

Edit: It happened again, now with my .bashrc file. It's filled with 0x00

[2017-03-29 09:52] Fourdee commented on #822
@joaofl

👍 It will be.

Excellent, i'll get this uploaded and dietpi.com updated

Maybe for the next release? Show I keep this issue open?

Probably best to create another ticket for this. I'll reopen this ticket to remind me for dietpi.com update

[2017-03-29 10:06] Fourdee commented on #844
@blamoo

Edit: It happened again, now with my .bashrc file. It's filled with 0x00 bytes.

Hi, Thanks for the report.

If this is occurring on random files, I believe its due to filesystem corruption. Usual causes are:
- Unstable PSU
- Unstable SD CARD

Which of the above are you using on this system?

With some SD cards, users have reported completing a full format on the SD card, prior to image w

[2017-03-29 10:09] Fourdee commented on #843
@aliosa27

Thanks 👍
Unfortunately, I finished the image yesterday but didn't get a chance to update here. Apologies for that. Although, if you could test it on your system aswell, I'd be greatful.

I'll get it uploaded today with: https://github.com/Fourdee/DietPi/issues/814 and let you know.

[2017-03-29 12:11] blamoo commented on #844
This SD card was from a an old Nokia C3 phone. I have tested it with `badblocks -v /dev/sdb -wsvt 0xAA`, no errors.

The PSU is the original charger from a Samsung S3, 5V@1A. I'll test it with a different PSU too.

[2017-03-29 13:29] Fourdee commented on #822
@joaofl

Image is live 👍 :
http://dietpi.com/download

Stats bar, same CPU as Sparky SBC. Is this clocked at 1.1GHz also? And, whats heat like idle/load?

[2017-03-29 13:38] Fourdee commented on #814
Completed, image live on http://dietpi.com

[2017-03-29 13:38] #814 closed, assigned to nobody

[2017-03-29 13:39] Fourdee commented on #843
Completed, image live on http://dietpi.com

[2017-03-29 13:39] #843 closed, assigned to nobody

[2017-03-29 13:55] Fourdee commented on #844
@blamoo

1A is not sufficient, you need at least 5V/2A for RPi 3. Also, phone chargers are not recommended as most lack the stable 5V under load.

I think another PSU and fresh write of image should resolve this.

[2017-03-29 14:36] blamoo commented on #844
I'll test with the 5v line of a computer PSU then...

[2017-03-29 16:25] Fourdee commented on #716
Test/build our RPi kernel with new AudioPhonics driver

[2017-03-29 16:27] Fourdee opened #845 "DietPi-Config | Soundcard: Support NanoHAT for NanoPi's"
https://forum.armbian.com/index.php?/topic/3596-nanohat-pcm5102a-for-nano-pi-neo-air/

[2017-03-29 16:28] Fourdee commented on #844
@blamoo

via USB ? still wont be enough unfortunately, USB 2 0.5A, USB 3 0.9A.

Molex 5V? Worth a shot 😉

[2017-03-29 16:33] Fourdee commented on #839
@k-plan

Got it:
- en_GB default:
[code]
- de_DE default with en_GB installed:
[code]

This will cause scrape to miss those entries, removing them.

I'll try a fix.

- 🈯️
[code]

[2017-03-29 16:37] Fourdee commented on #839
@k-plan

This commit should do it:
https://github.com/Fourdee/DietPi/commit/3a6c6a3b1cf5fff8d69103a9fd78507b43b80419

[2017-03-29 16:53] k-plan commented on #839
@Fourdee

Test is running on one device.
We have to wait a little bit and see what's happens.

Thanks.

[2017-03-29 17:00] blamoo commented on #844
Bingo! 16 amps :D
![image](https://cloud.githubusercontent.com/assets/2050451/24466571/b8d3b0e8-1487-11e7-96f7-293dafa7047b.png)

[2017-03-29 17:03] k-plan opened #846 "DietPi-Config | Soundcard: Support pHAT BEAT for Raspberry Pi's"
Product:

https://shop.pimoroni.com/products/phat-beat

https://shop.pimoroni.com/products/pirate-radio-pi-zero-w-project-kit

Code on Github:

https://github.com/pimoroni/phat-beat

https://github.com/pimoroni/clean-shutdown

https://github.com/pimoroni/phat-beat/tree/master/projects/vlc-radio

[2017-03-29 17:09] joaofl commented on #822
@Fourdee

Yes. I was always touching the heatsink to feel the temperature, and honestly, it runs really cool. I read some people having overheating problems by running it at 1.3 GHz.

I'll fix it and push to test asap.

[2017-03-29 17:18] Fourdee commented on #844
@blamoo

Epic 👍 😆

Can you read volts on that device aswell?

[2017-03-29 17:25] Fourdee commented on #846
@k-plan

Looks great, i'll get one ordered. Had my eye on this one aswell for a while: https://shop.pimoroni.com/products/speaker-phat

Lets get them both added :)

[2017-03-29 17:33] Fourdee commented on #846
Worth a shot, lets see:
https://twitter.com/DietPi_/status/847139159672324096

[2017-03-29 20:43] blamoo commented on #844
Sure:

![photo_2017-03-29_17-42-33](https://cloud.githubusercontent.com/assets/2050451/24475691/26ebcaf6-14a7-11e7-9858-c26aff8a0098.jpg)

[2017-03-29 21:06] blamoo commented on #844
The same problem happened with a different file now: /var/lib/dpkg/info/libirs-export91.list

[2017-03-30 09:13] Fourdee opened #847 "DietPi Image | Offer unsupported dev 4.x Neo Air"
http://dietpi.com/downloads/images/no_release/

Mainly for improved WiFi stability, vs 3.x

[2017-03-30 09:15] Fourdee commented on #847
If stable in testing, look at holding packages by default, as per NanoPi NEO2: https://github.com/Fourdee/DietPi/issues/814#issuecomment-289741301

[code]

[2017-03-30 11:25] k-plan commented on #839
Testing:

- switch locale language back to my default de_DE:

![170330-0001](https://cloud.githubusercontent.com/assets/17237601/24501057/3bae3130-1548-11e7-9960-caa556649a27.gif)

- apply your commit by hand:

[code]

- reboot the device

- de_DE default with en_GB installed:

[code]

[code]

[code]

- AdminLTE:

![170330-0003](https://cloud.githubusercontent.com/assets/17237601/24501530/23f84a9c

[2017-03-30 11:33] Fourdee commented on #839
@k-plan

Thanks, looks to be working with the change?

I believe you need to remove the ```;```, else, doesn't get applied to next command
[code]

I left my C2 running today with the code change, ```de_DE``` default locale, seems to be working, logs from 01:00 onwards:
![image](https://cloud.githubusercontent.com/assets/7077026/24502294/12251a20-1545-11e7-9bdf-14e085ce7296.png)

Think we can mark

[2017-03-30 12:52] k-plan commented on #839
@Fourdee

Only copy your command from [here](https://github.com/Fourdee/DietPi/issues/839?_pjax=%23js-repo-pjax-container#issuecomment-290146796) 😃

But yes, you're right:

[code]
- My new testing default locale (zh_CN.utf8):

[code]

😄  _( ... and British form a Dane - nice!)_ :rofl:

yes, I think so. It seem to be working on my Chinese locale RPi-Zero_W now.

![170330-0005](https://cloud.githubu

[2017-03-30 13:11] Fourdee commented on #847
http://dietpi.com/downloads/images/no_release/(NR_4.x)_DietPi_NanoPiNEOAir-armv7-(Jessie).7z

[2017-03-30 15:33] k-plan commented on #839
@Fourdee

**Testing results:**

- RPi-Zero W (zh_CN.utf8):

![170330-0006](https://cloud.githubusercontent.com/assets/17237601/24512319/8dd15b56-156e-11e7-9be1-84ea57aa17bd.gif)

- OrangePi One (de_DE.utf8):

![170330-0007](https://cloud.githubusercontent.com/assets/17237601/24512374/af35fa9a-156e-11e7-8fe3-2c6c83fbc92f.gif)

- NanoPi Neo v.1 (de_DE.utf8):

![170330-0008](https://cloud.githubuserc

[2017-03-30 15:33] #839 closed, assigned to nobody

[2017-03-30 15:40] joaofl opened #848 "DietPi Software | CPU temperature not shown on Roseapple Pi"
CPU temperature is not shown by the "cpu" command.

Have to take a look at that. Must be the same as for the sparky board.

[2017-03-30 16:18] Fourdee commented on #848
@joaofl

Sparky CPU temp is a little different, has a special case:
https://github.com/Fourdee/DietPi/blob/master/dietpi/dietpi-cpuinfo#L73-L82

https://github.com/Fourdee/DietPi/blob/master/dietpi/dietpi-cpuinfo#L59

[2017-03-30 16:20] joaofl commented on #848
@Fourdee
Thanks for the link
I'll also check out how it is done on the Armbian distribution. It works there.

[2017-03-30 16:21] Fourdee commented on #839
@k-plan

Yep, my bad 👍

[2017-03-30 19:04] blamoo commented on #844
Tested again today, the same problem happened with the latest Minibian.

It looks like a hardware failure. I'll test again with a different SD card...

[2017-03-31 02:16] blamoo commented on #844
Okay, it looks like it was just because of a bad SD Card... Thanks anyways :)

[2017-03-31 02:16] #844 closed, assigned to nobody

[2017-03-31 05:41] Mister-XY commented on #824
And now?

[2017-03-31 06:06] woulf opened #849 "odroid apt repository timeout"
Hello, since yesterday apt-get update give me some errors about http://fuzon.co.uk/meveric/ tree.
I tried checking with http://dietpi.com/meveric with no luck
Should i directly use meveric apt repository? (http://oph.mdrjr.net/meveric/)
I there a new url i should use in my source.list?

i'm running v147 on both c2 and xu4

edit: attached log
[log.txt](https://github.com/Fourdee/DietPi/files/884768

[2017-03-31 07:03] woulf commented on #770
I have an unused chip and hdmi shield if it can help

[2017-03-31 09:30] Fourdee commented on #849
@woulf

Thanks for the report 👍

Yep, appears the server has stalled and is in "offline" state. Strange, usually it restarts itself. Its been rebooted and is now back up and functional.
http://fuzon.co.uk/meveric/

[2017-03-31 10:12] woulf commented on #849
Everything working as expected
thanks!

[2017-03-31 10:12] #849 closed, assigned to nobody

[2017-03-31 11:25] Fourdee commented on #592
- 🈴 ARMv6:
[code]

[2017-03-31 11:41] Fourdee commented on #847
Completed.

[2017-03-31 11:41] #847 closed, assigned to Fourdee

[2017-03-31 17:34] Fourdee commented on #822
@joaofl

I'll mark this as closed (image is now live) 👍

For reference:
https://github.com/Fourdee/DietPi/issues/848

[2017-03-31 17:34] #822 closed, assigned to joaofl

[2017-04-01 11:08] Fourdee opened #850 "DietPi-Software | AmiBerry SDL2"
Additional installation to SDL1 version.

[2017-04-01 11:14] Fourdee opened #851 "DietPi-Software | Removal of OMV, due to incompatibly with DietPi (eg: NextCloud install)"
Incompatible with DietPi:
http://dietpi.com/phpbb/viewtopic.php?f=11&t=1435&p=6524#p5976

[2017-04-01 11:30] Fourdee commented on #826
Darkice (audio input) + Icecast (streaming server) looks a good combo:
- https://github.com/rafael2k/darkice
- https://github.com/xiph/Icecast-Server

[2017-04-01 12:01] Fourdee commented on #592
Tests + sync client:
- 🈯️ AMD64
- 🈺 ARMv7, sync still fails to connect with ```[Dispatcher]:E: Token not found in List:```: https://github.com/Fourdee/DietPi/issues/592#issuecomment-289464754. John reports sync app is not compatible with ARMv7: http://dietpi.com/phpbb/viewtopic.php?f=15&t=824&p=6525#p6525 | Will makea  note on online doc

[2017-04-01 12:20] Fourdee commented on #592
Online doc:
http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=6476#p6476

Completed.

[2017-04-01 12:20] #592 closed, assigned to nobody

[2017-04-01 13:28] k-plan commented on #851
@Fourdee

https://github.com/Fourdee/DietPi/issues/721#issuecomment-274515323

Yes, drop it from the list now.

Problem are inexperienced user.
They don't have any idea what they really need or want, playing around, don't read, think or glean, but instantly open a new forum thread or a ticket.

Sorry.
Effort for support will kill the benefit.

[2017-04-01 14:12] Fourdee commented on #826
![image](https://cloud.githubusercontent.com/assets/7077026/24579431/929a7890-16ed-11e7-8691-6bccf94d3e9b.png)

[2017-04-02 10:11] Fourdee commented on #826
Online doc:
http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=6526#p6526

[2017-04-02 10:50] Fourdee commented on #826
Test (Wish I had a mic lol):
- 🈯️ Sparky + Allo Piano 2.1 (overkill) > RPi 3 + USB DAC mic input > Web stream
![image](https://cloud.githubusercontent.com/assets/7077026/24586506/b1e7388e-179a-11e7-9075-b088c209f205.png)

[2017-04-02 10:52] Fourdee commented on #826
Completed

[2017-04-02 10:52] #826 closed, assigned to Fourdee

[2017-04-02 11:21] Fourdee commented on #841
Notes:
[code]

[code]

Looks like multifilesrc is part of ```good``` plugin set:
https://gstreamer.freedesktop.org/data/doc/gstreamer/head/gst-plugins-good-plugins/html/gst-plugins-good-plugins-multifilesrc.html
[code]

[code]

omxh264enc is part of:
[code]

[code]

[code]

[2017-04-02 11:46] k-plan commented on #841
Fiddle around a little bit with [motioneye](https://github.com/ccrisan/motioneye).

So I noticed, where is a newer `precompiled ffmpeg_3.1.1-1_armhf.deb`  for Raspian.
https://github.com/ccrisan/motioneye/wiki/Install-On-Raspbian

Nice peace of software with a slick web interface.
Focal point are surveillance camera, but it will support Raspberry PI camera module, most USB cameras, IP (network) ca

[2017-04-02 11:59] Fourdee commented on #851
@k-plan

Agree with you completely, and, DietPi can do most of what OMV does anyway, if not "better" (smaller footprint). I'll disable the install for now.

[2017-04-02 12:01] Fourdee commented on #851
Install disabled. Marking as completed.

[2017-04-02 12:01] #851 closed, assigned to nobody

[2017-04-02 12:03] phonicmouse commented on #826
Awesome!!! Thanks ✌

[2017-04-02 12:05] Fourdee commented on #826
@phonicmouse
No worries.
Will be available in v148 update once completed/released (1 week ish 😄 )

[2017-04-02 12:11] Fourdee opened #852 "DietPi-Software | VirtualHere"
https://www.virtualhere.com/home

Basically share USB devices over the network, as if they were physically connected locally.

[2017-04-02 12:15] Fourdee commented on #841
@k-plan

Interesting, thanks 👍

Seems we already have a request for this aswell:
https://github.com/Fourdee/DietPi/issues/718

[2017-04-02 12:34] tatoosh commented on #852
Nice, it works very good with deitpi by installing manually and adding systemd service.

[2017-04-02 12:38] Invictaz commented on #826
Great

[2017-04-02 12:45] phonicmouse commented on #826
🤘

[2017-04-02 13:02] phonicmouse commented on #800
If it can be useful...i think that for you could be easier if  you use pm2 to install and manage nodejs apps:
[https://github.com/Unitech/pm2](https://github.com/Unitech/pm2)

I also think it could be a useful software to add.
@Fourdee

[2017-04-02 13:03] phonicmouse commented on #852
+1 for this

[2017-04-03 12:56] Fourdee commented on #718
- Online doc: http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&start=100#p6610

[2017-04-03 14:14] Fourdee commented on #718
Excellent peice of software, impressive.

[2017-04-03 14:14] Fourdee commented on #718
Commit:
https://github.com/Fourdee/DietPi/commit/324b6b8dfd64363abc687d3a51d7f7ba58ba0eda

Completed.

[2017-04-03 14:14] #718 closed, assigned to Fourdee

[2017-04-03 14:38] lodgnewt commented on #718
Thank you very much!

[2017-04-03 16:21] Fourdee opened #853 "OPi Zero | WiFi Hotspot not functional"

[2017-04-03 17:31] Fourdee commented on #853
As per: https://github.com/Fourdee/DietPi/issues/635#issuecomment-266006050

Manually cycling the adapter during boot, resolves issue. Marking this as workaround/fix using link above.

[2017-04-03 17:31] #853 closed, assigned to nobody

[2017-04-03 20:32] phonicmouse commented on #500
Isn't this too heavy for a poor raspberry?

[2017-04-04 10:16] Fourdee opened #854 "DietPi-Software | OctoPrint: MJPG-Streamer/RPi Cam support on RPi"
https://github.com/foosel/OctoPrint

Testers (who own a 3D printer) will be required before we start, please post interest here if you can assist us with testing.

[2017-04-04 11:02] Fourdee commented on #831
Current:
[hash.txt](https://github.com/Fourdee/DietPi/files/892852/hash.txt)

For all future image updates, i'll include the hash inside the zip file.

[2017-04-04 11:06] Fourdee commented on #838
@mikolaj24

Did this work for you? https://github.com/Fourdee/DietPi/issues/838#issuecomment-289210613

[2017-04-04 11:10] Fourdee commented on #760
Reference:
https://github.com/Fourdee/DietPi/issues/850

[2017-04-04 13:15] Fourdee opened #855 "DietPi-Software | CloudPrint"
I do not own a printer (yet) 😆

[2017-04-04 13:36] Fourdee commented on #834
Kernel tests:
- 🈴 RPi Official via apt: ```4.4.50```
- 🈯️ rpi-update: ```4.9.20```

Clearly an issue with the kernel, OpenGL broken currently in  ```4.4.x```

Not much we can do about this at the moment.  Our DietPi kernel is  ```4.4.x```, inline with official kernel via apt (stable). I'am not keen on bumping upto to ```4.9.x``` just yet, still in heavy dev/testing.

Will mark as known issue with

[2017-04-04 13:39] Invictaz commented on #855
If it works on the Zero / Zero W would be great. Hopefully also with HTTPS and low memory footprint.

[2017-04-04 13:53] JohnMacrae opened #856 "Pi zero W hotspot instructions"
I tried the software install for wireless hotspot but of course there's no Ethernet. Is there an alternative method please. If so, please update software web page. The 😁

[2017-04-04 13:55] Fourdee commented on #834
### Workaround/Fix: Update RPi kernel to ```4.9```
NB: This will remove support for Allo Piano 2.1 and BOSS DAC's, 192KHz HDMI output.

[code]

[2017-04-04 13:57] Fourdee commented on #834
@midwan

Looks like ```4.9``` kernel install is solution for OpenGL functionality: https://github.com/Fourdee/DietPi/issues/834#issuecomment-291501770

[2017-04-04 14:03] Fourdee commented on #856
@9H5G

Our WiFi hotspot install is designed for internet routing and requires:
- 1x WiFi
- 1x Ethernet

If you want a hotspot without network routing, you'll need to manually install it and set it up as needed.

[2017-04-04 14:12] Fourdee commented on #855
Notes:
- 🈯️ Online doc: http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&start=100#p6630

[2017-04-04 14:44] Fourdee commented on #855
- 🈴 ARM64:
[code]
- 🈺 ARMv6 needs testing. Cloud service seems happy, but unable to test with printer to verify.

[2017-04-04 14:47] JohnMacrae commented on #856
Ok. Thx. Will your install work as a local router if the ethernet is
removed after installation?

On 4 Apr 2017 10:03, "Dan" <notifications@github.com> wrote:

[2017-04-04 14:49] Fourdee commented on #855
Needs testing by user with printer (I do not own one) :
[code]

---

- Requires testing branch install:
https://github.com/Fourdee/DietPi/blob/master/TESTING-BRANCH.md
- install CloudPrint with
```dietpi-software install 137```
- Continue configuration as per **STEP 2**: https://davesteele.github.io/raspberrypi/2016/04/23/raspberry-pi-cloudprint/
- CUPS web interface login
user = root
pw = dietpi

[2017-04-04 14:55] Fourdee commented on #856
removed after installation?

@9H5G

Should be fine, give it a whirl :)

[2017-04-04 16:30] Fourdee opened #857 "DietPi-Software | Filerun"
NextCloud alternative, PHP

http://www.filerun.com/demo
http://www.filerun.com/download
http://blog.filerun.com/how-to-install-filerun-on-ubuntu-16/

[2017-04-04 19:41] midwan commented on #834
@Fourdee
However, I found that going to kernel 4.9 broke the ability to start SDL2 applications from the console (i.e. not from within X11). Not just Amiberry, but any test code I tried. They all failed to find a render driver, even when run with xinit.

Maybe you'll have better luck and I did something wrong, but I tried it several times with the same result always... :(

[2017-04-05 02:59] joaofl commented on #848
@Fourdee
Your suggestions worked right on. I've made a pull request to fix that: https://github.com/Fourdee/DietPi/pull/858

So I think I can close the issue.

[2017-04-05 03:00] #848 closed, assigned to joaofl

[2017-04-05 03:19] joaofl commented on #848
I've run a 5 min strees test from dietpi, and here is what I've got. It kind of runs cool.

It seems to stabilize around 60, but it is probably worth testing it for longer.

[code]

[2017-04-05 10:18] Fourdee commented on #834
@midwan

Thanks for the heads up 👍, very strange. I'll reference this to ticket:
https://github.com/Fourdee/DietPi/issues/850

[2017-04-05 10:37] Fourdee commented on #848
@joaofl

Great work. Temps look good 👍

[2017-04-05 10:47] Fourdee commented on #855
Confirmed working, thanks Sciamano  :
http://dietpi.com/phpbb/viewtopic.php?f=12&t=1624&p=6644#p6636

[2017-04-05 11:24] Fourdee commented on #838
I'll mark this as closed.
We now apply ```iw reg set``` and ```ieee80211_regdom=```. Aside from any module params, this is it in terms of applying country code, then, its up to kernel support for the WiFi chipset.

[2017-04-05 11:36] Fourdee commented on #855
Completed.

[2017-04-05 12:20] Fourdee commented on #841
Cant get gstreamer to convert images to video, not sure if syntax is correct, but this everytime:
[code]

[code]

Nope:
[code]

[code]

[2017-04-05 14:01] midwan opened #859 "DietPi-Config | Option to rotate RPi LCD touchscreen"
It would be great if we had the option to rotate the RPI LCD (touch)screen.
Some cases require that you flip them 180 degrees, and that can be accomplished by entering the following line in /boot/config.txt:

lcd_rotate=2

Note that this takes care of rotating the touch input as well, in contrast to:

display_rotate = 2

which would rotate the display, but not the touch input layout.

[2017-04-06 00:43] joaofl commented on #422
@Fourdee

I was thinking these days about moving my syncthing config folder to the dietpi_userdata folder. This because, in case i have that folder on a pen drive over USB3, I can get much faster indexing, db r/w operations, etc...

In this sense, what do you think of having the config folder inside dietpi_userdata? I saw that it can become a bit tricky because of the inotify and this API key, but

[2017-04-06 02:29] aesirteam opened #860 "NanoPi Neo support linux kernel 3.8+, need use docker image"

[2017-04-06 06:57] aesirteam commented on #860
http://dietpi.com/downloads/images/no_release/(NR_4.x)_DietPi_NanoPiNEO-armv7-(Jessie).7z

Kernel: 4.10.3-suni8
root@DietPi:~# docker info
Containers: 0
 Running: 0
 Paused: 0
 Stopped: 0
Images: 0
Server Version: 17.04.0-ce
Storage Driver: overlay2
 Backing Filesystem: extfs
 Supports d_type: true
 Native Overlay Diff: true
Logging Driver: json-file
Cgroup Driver: cgroupfs
Plugins:
 Volume: local

[2017-04-06 06:57] #860 closed, assigned to nobody

[2017-04-06 08:06] Fourdee commented on #855
cloudprint package is available in Jessie repos, investigate and convert from Dave Steele's repo if functional ( 🈯️ +ARM64 binaries):
http://dietpi.com/phpbb/viewtopic.php?f=12&t=1624&p=6660#p6659

- 🈴 Fails, outdated auth system used in binary? http://dietpi.com/phpbb/viewtopic.php?f=12&t=1624&start=10#p6688

[2017-04-06 08:31] Fourdee commented on #422
@joaofl

In this sense, what do you think of having the config folder inside dietpi_userdata?

Yep, makes sense 👍 . If the DB is movable, DietPi user data directory should be the target.
We did this for MySQL recently, would be great if we can follow this up with other software, that has its own internal DB/files.

[2017-04-06 12:59] Fourdee commented on #716
Looks good, untested currently (lack board):
[code]

[2017-04-06 14:15] Fourdee commented on #716
Will nudge to v149, pending testing.

[2017-04-06 15:04] trs79 commented on #716
I'm curious, are the i_sabre_k2m and i_sabre_codec kernel modules open source? My understanding was there were no  native drivers for this board (due to restrictions by ESS)

[2017-04-06 16:23] Fourdee commented on #716
@trs79

As far as i'am aware, the AudioPhonics driver uses generic I2C registers which are not restricted by ESS. However, I'd recommend emailing AudioPhonics to get more info.

[2017-04-06 16:53] Fourdee opened #861 "DietPi-Config | Option to change colour scheme of DietPi"
eg:
- Radioactive green
- Purple

![image](https://cloud.githubusercontent.com/assets/7077026/24766098/f6d8406e-1af1-11e7-8e58-8ac5a1d16ebf.png)

From bash colour codes.

[2017-04-06 17:26] trs79 commented on #716
That makes sense. Did AudioPhonics provide you with the drivers directly? I had emailed them a while back and they had mentioned a DietPi solution was in the works but I hadn't heard from them about it since.

[2017-04-07 08:19] aesirteam opened #862 "How do img file flash to eMMC of NanoPi Neo Air?"
How do img file flash to eMMC of NanoPi Neo Air?

[2017-04-07 09:37] Fourdee opened #863 "DietPi-Software | Spotify Connect"
https://github.com/Fornoth/spotify-connect-web

ARMv7 only.

[2017-04-07 09:59] Invictaz commented on #731
Is there a Milestone on this?

[2017-04-07 10:03] Invictaz commented on #335
@arv187 Why would you need a ODPS server? It serves the metadata yes but what does it more than FTP or HTTP?

[2017-04-07 10:04] Fourdee commented on #862
@aesirteam

Install DietPi on the eMMC (you must have DietPi up and running on a SDcard prior to this):
[code]

[2017-04-07 10:08] Fourdee opened #864 "DietPi Image | Update NEO NR 4.x image"

[2017-04-07 10:20] Fourdee opened #865 "DietPi-Software | SabNZBd"
https://github.com/Fourdee/DietPi/issues/731#issue-202979307

[2017-04-07 10:23] Fourdee commented on #731
@Invictaz

Not yet unfortunately, v149 milestone is pretty stacked already:
https://github.com/Fourdee/DietPi/milestone/51

I've split SabNZBd into another ticket:
https://github.com/Fourdee/DietPi/issues/865

I may be able to get SabNZBd in for v149 if you like? Movian would need to wait until v150 at the earliest.

[2017-04-07 11:41] avs-code commented on #335
Info about autor, genre, sinopsis, image, search function, a catalog.
An Example:
https://lh3.googleusercontent.com/_lG58t3XWd3c/TcN0Bpytj3I/AAAAAAAAAEw/VAfVlHr8L3U/s800/cs_list.jpeg

[2017-04-07 12:17] Fourdee commented on #864
Image updated:
http://dietpi.com/downloads/images/no_release/(NR_4.x)_DietPi_NanoPiNEO-armv7-(Jessie).7z

[code]

[2017-04-07 12:17] #864 closed, assigned to nobody

[2017-04-07 16:22] Invictaz commented on #731
@Fourdee Would be great SABNZBd for 149.

Would hope Movian for 150 then.

[2017-04-07 19:59] tatoosh commented on #857
+1

[2017-04-08 08:43] lucser68 opened #866 "DietPi-Software | NAA daemon Odroid C2"
On ODROID C2 with DietPi v147 diet-software NAA demon not available.

[2017-04-08 11:10] Fourdee commented on #866
@lucser68

Hi,

NAA Daemon is not available for ARM64 devices at this time, as we lack the ARM64 binaries offered by HQPlayer devs.
https://community.roonlabs.com/t/hqp-naa-raspberry-pi/6140/180?u=dan_knight

I did try running ARMv7 binaries, but ended up in a messy dependency war:
https://github.com/Fourdee/DietPi/issues/674#issuecomment-269810358

[2017-04-08 11:14] Fourdee commented on #716
@trs79

Yep, as I do not know the status of this driver in terms of open source, its not for me to distribute source. It may be worth sending another email to AudioPhonics, requesting updated status of their driver.

[2017-04-08 11:20] Fourdee commented on #831
Marking as completed.

Until we update all image downloads, and the zip contains a ```hash.txt```, see https://github.com/Fourdee/DietPi/files/892852/hash.txt for current hashes.

[2017-04-08 11:20] #831 closed, assigned to nobody

[2017-04-08 11:28] Fourdee commented on #855
- Jessie repo versions:
[code]

[code]

- Dave Steele Repo:
[code]

[code]

- Stretch Repo:
Contains ```cps-auth```:
https://packages.debian.org/stretch/all/cloudprint-service/filelist

Debs:
http://ftp.us.debian.org/debian/pool/main/c/cloudprint/cloudprint-service_0.14-8_all.deb
http://ftp.us.debian.org/debian/pool/main/c/cloudprint/cloudprint_0.14-8_all.deb
[code]
Lets avoid dependency wars on t

[2017-04-08 11:46] Fourdee commented on #859
@midwan

Thanks 👍

We'll get this added for v149.

[2017-04-08 11:59] Fourdee commented on #855
Ok, so we'll use Dave Steele's repo for Jessie. Stretch will use Debian repos for install and support ARM64.

[2017-04-08 12:23] Fourdee commented on #855
Completed.

[2017-04-08 12:23] #855 closed, assigned to nobody

[2017-04-08 12:28] Fourdee commented on #855
Reference, Stretch support: https://github.com/Fourdee/DietPi/issues/475

[2017-04-08 13:18] Fourdee commented on #841
Lets try using FFmpeg and conversion instead:
[code]

Works, but runs out of memory after 6 images.

Don't have the time to fiddle with this further at the moment. Motion Eye is now available as an alternative with working timelapse.

Marking this as a known issue for now.

[2017-04-08 13:29] Invictaz commented on #865
Don't forget to include SABYenc, a module for CPU limited devices like the Raspberry Pi. It's new in the V2.0 RC version.

https://sabnzbd.org/wiki/installation/sabyenc.html

[2017-04-08 14:08] Invictaz commented on #718
@Fourdee is it possible to use all sorts of USB camera's?

[2017-04-08 14:18] Invictaz commented on #731
@Fourdee

Please see these additional instructions to build it for Raspberry Pi. Don't know about the other systems (OrangePi etc).

https://movian.tv/boards/23/topics/10345?r=10755

[2017-04-08 14:30] Invictaz commented on #335
@arv187

But most e-readers with wifi option don't have the high specced webbrowser to view this?
At least last time when I setup my ODPS in Calibre and browsed to it from my e-reader it looked like a mobile site, a very barebones look.

[2017-04-08 16:00] Fourdee opened #868 "DietPi-RAMLog | Support 24H clear for PiHole FTL"

[2017-04-08 16:02] Fourdee commented on #868
```/var/log/pihole-FTL.log```

[2017-04-08 16:09] Fourdee commented on #731
@Invictaz
Thanks for the info, will come in handy 👍

[2017-04-08 16:11] Fourdee commented on #718
@Invictaz

Yep, as far as i'am aware any standard USB camera should (untested) work with Motion Eye.

[2017-04-08 16:29] midwan commented on #859
Great! :)

[2017-04-08 17:04] Fourdee commented on #859
@midwan
On the RPi Touchscreen (I lack one for testing), when using ```lcd_rotate=1``` or ```3```, do also need to flip the ```framebuffer_width``` and ```framebuffer_height``` values to get full screen FB (as per HDMI and ```display_rotate```)?

[2017-04-08 17:08] midwan commented on #859
@Fourdee I never had to use those values, so I'm not sure. I can run a test though a bit later and let you know.

I usually have lcd_rotate=2 to flip the screen 180 degrees, which is required for several cases ;)

[2017-04-08 17:16] Fourdee commented on #859
@midwan

Thanks, would be a great help 👍

[2017-04-08 17:52] WolfganP commented on #475
@Fourdee As a suggestion, as I don't know if you're using a custom build for ffmpeg, but if yes; it may be worthy to include the openmax functionality to include hardware assisted encoding (as in https://github.com/legotheboss/YouTube-files/wiki/(RPi)-Compile-FFmpeg-with-the-OpenMAX-H.264-GPU-acceleration)

[2017-04-08 22:29] lucser68 commented on #866
Thank you for information. At the moment is running in a mixed environment. On Odroid C2 i have installed dietPi v147, then add arch armhf but trying to install NAA from Signalyst repository ended as you said in a list of broken dependencies. Next I've changed jessie to stretch in apt list and update, upgrade...... install NAA. for the moment is running but in future I think that any update could

[2017-04-08 22:29] #866 closed, assigned to nobody

[2017-04-09 09:15] Fourdee commented on #475
@WolfganP

Legend 👍  this should help Emby server performance which uses FFmpeg.
https://github.com/Fourdee/DietPi/issues/869

[2017-04-09 09:17] Fourdee opened #869 "DietPi-Software | FFmpeg: Enable HW encoding (RPi)"
### ADMIN EDIT
#### Please help testing the new RPi packages: https://github.com/MichaIng/DietPi/issues/869#issuecomment-490047405
[code]
_______________
Requires binary compiles:
https://github.com/Fourdee/DietPi/issues/475#issuecomment-292734524

Programs such as Emby, should benefit vastly from this.

[2017-04-09 10:40] Fourdee commented on #869
RPi devices (all distros) will now install our compiled FFmpeg binary with OpenMAX enabled.

[2017-04-09 11:00] Fourdee opened #870 "DietPi-Software | Docker"

[2017-04-09 11:05] Fourdee commented on #868
Completed.

[2017-04-09 11:05] #868 closed, assigned to Fourdee

[2017-04-09 11:13] Fourdee commented on #852
- ARMv6+: https://virtualhere.com/sites/default/files/usbserver/vhusbdarm
- ARM64: https://virtualhere.com/sites/default/files/usbserver/vhusbdarm64
- AMD64: https://virtualhere.com/sites/default/files/usbserver/vhusbdx86_64

[2017-04-09 11:40] Fourdee commented on #852
- 🈯️ Online Doc: http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=6709#p6709

Virtual Here is excellent, really impressed.
![image](https://cloud.githubusercontent.com/assets/7077026/24836989/b91ea006-1d21-11e7-9b3a-2d4ee0cfa2e2.png)

[2017-04-09 11:59] Fourdee commented on #852
Ok, there is a minor issue with attached USB drives.
- 🈺 Virtual here will unmount and take over all USB drives on system, excluding those in-use  (eg: DietPi user data)
- 🈴 Using the USB drive in client, will unmount the drive, regardless of if its in-use or not. (no longer shown in ```blkid``` and ```df```)

In other words, dont use mounted drives in the client, will make users aware in online d

[2017-04-09 12:18] Fourdee commented on #852
Completed.

[2017-04-09 12:18] #852 closed, assigned to nobody

[2017-04-09 12:23] phonicmouse commented on #870
+1

[2017-04-09 14:06] Fourdee commented on #869
Tests:
- 🈯️ ARMv6
- 🈯️ ARMv7
- 🈯️ Stretch

#### Emby + OpenMAX enabled in transcode options:
- 1080p, no stuttering :clinking_glasses:
![image](https://cloud.githubusercontent.com/assets/7077026/24861687/860bdb2c-1df1-11e7-83c5-3aafdad0825a.png)

[2017-04-09 19:41] k-plan commented on #846
- pHAT BEAT Web-Radio based on [Mopidy](https://learn.pimoroni.com/tutorial/sandyj/streaming-spotify-to-your-pi) with [ODROID-SHOW2](http://www.hardkernel.com/main/products/prdt_info.php?g_code=G141743018597) as display:

![2017-04-09 20-12-13](https://cloud.githubusercontent.com/assets/17237601/24840231/cb1b4528-1d69-11e7-9243-38b881e4046d.jpg)

- autoplay specify playlist, after device has boot

[2017-04-09 19:51] k-plan commented on #841
Yes, let well alone! 👍

Motion Eye? Yes! 😃

Because it is now documented ...  will closed.

[2017-04-09 19:51] #841 closed, assigned to nobody

[2017-04-09 20:43] msdos commented on #246
I had some problems when using the NFS client in Dietpi. When trying to configure, giving my NFS server ip, the following message is shown (it's really fast):

[code]

After some help from these guys http://unix.stackexchange.com/a/205736 and http://dietpi.com/phpbb/viewtopic.php?f=11&t=791, I edited `/etc/fstab` and changed to

[code]

And now it's working. Would it be the case to add an option i

[2017-04-10 02:13] lavadrop opened #871 "AmiBerry | Install fails after first boot with timeout from server"
I downloaded the latest Amiberry image and restored it to a brand new Samsung EVO Select MicroSD. I put it on my RPi 3 and turned it on. The script went fine until the first reboot; after rebooting, the script timed out connecting to the ox.ac.uk server after 20 tries and halted. I rebooted it from the CLI and same thing happened.
Here's the error:

/DietPi/dietpi/dietpi-software: line 10586: /Die

[2017-04-10 07:11] aesirteam commented on #862
Step 1: Copy  .img file to SD  /opt path;
Step 2: Power On, login, fdisk eMMC
  fdisk /dev/mmcblk2
  d->n->p->...->w
  mkfs.fat /dev/mmcblk2p1
Step 3: blkid /dev/mmcblk2
Step 4:  dd if="$(ls | grep -m1 'DietPi_v'*'.img')" of=/dev/mmcblk2

but tty console output error:

Starting kernel ...

Uncompressing Linux... done, booting the kernel.
Loading, please wait...
Begin: Loading essential drivers ...

[2017-04-10 09:02] Fourdee commented on #846
@k-plan

Epic 👍

Try moving this line:
https://github.com/pimoroni/clean-shutdown/blob/master/daemon/usr/bin/cleanshutd#L65

To, below the ```fi``` line:
https://github.com/pimoroni/clean-shutdown/blob/master/daemon/usr/bin/cleanshutd#L66

eg:
[code]

[2017-04-10 09:07] midwan commented on #859
@Fourdee

Had a chance to test this:
lcd_rotate only has an effect if specified with value "2" (rotate 180 degrees).
For other scenarios (e.g. Portrait mode) we have to use display_rotate with any extra options.
Relevant thread: https://www.raspberrypi.org/forums/viewtopic.php?f=108&t=120793

[2017-04-10 09:13] Fourdee commented on #859
@midwan

Legend, thank you 👍

[2017-04-10 09:16] aesirteam commented on #862
According to your instructions， operation succeeded!!!
thank you very mach!

[2017-04-10 09:16] #862 closed, assigned to nobody

[2017-04-10 10:56] Fourdee commented on #859
Completed.

[2017-04-10 10:56] #859 closed, assigned to nobody

[2017-04-10 11:25] Fourdee commented on #871
@lavadrop

Thanks for the report 👍  i'll see if we can replicate here.

[2017-04-10 13:11] nalakawula opened #872 "How to connect dietpi to matlab 2016b"
Hi, i love dietpi. I want to connect my raspberry pi 3 with matlab 2016.
Matlab provide raspbian with pre installed software to run matlab. But i don't want to format my sdcard and change to raspbian, i want to use dietpi. How to do that?

thanks

[2017-04-10 13:22] Fourdee commented on #246
@msdos

Thanks for the feedback and solution 👍 I'll get this information added in the script.

[2017-04-10 15:46] Fourdee commented on #871
@lavadrop

Test install fine.

Did you connect ethernet prior to powering on? If so, could be a slow dhcp/connection failing before the time runs out.

If the time runs out, you can retry launching the installer by running:
[code]

If problems persist, try changing the APT mirror:
[code]
- Network Options: NAS/Misc
- Apt Mirror

[2017-04-10 17:55] lavadrop commented on #871
The RPi is connected before powering up. The timeouts are instant. After it drops me back to the shell, I can ping ox.ac.uk from the Pi. I'll try changing the mirror later tonight.

[2017-04-11 05:27] lavadrop commented on #871
I tried 2 different cards several times, changing the txt files for wifi and locale and 3-4 times the script kept failing, either by timing out or by failing to expand the file system. I'm on a mac so I used ApplePi-Baker; apparently the program is failing to write directories and/or correct permissions when writing an image compressed with 7zip. I unzipped the Amiberry image and wrote the img wit

[2017-04-11 06:38] Darknet opened #873 "Asus TinkerBoard + Kodi Installation missing"
HI

I tries to download the image for thinker board, but the installation for kodi is not available in diet-setup

Thanks in advance

[2017-04-11 09:55] Fourdee commented on #873
@Darknet

We found the official GPU driver unstable and under-performing. Its been disabled until Asus/ASrock can provide an improved driver:
https://github.com/Fourdee/DietPi/issues/806#issuecomment-288717781

[2017-04-11 10:20] Fourdee commented on #871
@lavadrop

Thanks, under WiFi with slow establishing connection, 20 seconds may not be enough. We do have an option that will force an endless wait in ```/boot/dietpi.txt```:
[code]

This will prevent slow establishing connections from failing the 20 second test, as the system will not continue booting until connection is established.

[2017-04-11 11:27] Fourdee commented on #865
Notes:
- Jessie apt = ```sabnzbdplus (0.7.18-1)``` | git ```2```
-  http://192.168.0.105:8080/sabnzbd
- ```.sabnzbd/sabnzbd.ini``` https://sabnzbd.org/wiki/advanced/command-line-parameters
- ```python /etc/sabnzbd/SABnzbd.py -f /etc/sabnzbd/sabnzbd.ini```
- 🈺 Stuck in wizard loop... If API keys removed from our config template, keys only get generated if no config file exists. | 🈯️ run binary, gen

[2017-04-11 12:11] Fourdee commented on #850
Compiles:
- SDL2 ARMv6
- 🈺 SDL2 ARMv7

[code]

[code]

🈴 ~~Hopefully due to SSH~~
[code]

References:
https://www.raspberrypi.org/forums/viewtopic.php?f=67&t=122525
https://solarianprogrammer.com/2015/01/22/raspberry-pi-raspbian-getting-started-sdl-2/
http://interactivesoundmachine.blogspot.co.uk/2016/03/how-to-install-clean-and-optimized.html

---

Test app:
[code]

[code]

[code]

[code]

---

🈴

[2017-04-11 13:30] Fourdee opened #874 "DietPi Image | OrangePi Prime"

[2017-04-11 13:31] Fourdee opened #875 "DietPi Image | OrangePi Win"

[2017-04-11 13:31] Fourdee opened #876 "DietPi Image | OrangePi Zero Plus 2"
Interesting:
H3 and a H5 version

[2017-04-11 13:32] Fourdee opened #877 "DietPi Image | OrangePi 2G IoT"

[2017-04-11 15:51] lavadrop commented on #871
Thanks, will have that in mind if I use wifi instead

[2017-04-11 21:05] WolfganP commented on #769
@Fourdee After having issues with booting again after a reboot (RPi2 read the SDcard for several seconds and then nothing, not even reach initializing the HDMI display for further troubleshooting), I analyzed the SDcard and everything on the FAT partition seems OK, but I can't open the rootfs partition on a PC. Is it an standard ext4 partition or did you protect/disguise it somehow?
Thx.

[2017-04-12 11:37] JohnMacrae opened #880 "Force reboot after Hostname change"
Its possible to change the hostname in -config and go straight on to install LAMP/LASP etc. Theresult can be this: make-ssl-cert: Could not get FQDN, using "AG".
make-ssl-cert: You may want to fix your /etc/hosts and/or DNS setup and run
make-ssl-cert: make-ssl-cert generate-default-snakeoil --force-overwrite
make-ssl-cert: again.

Which is undesireable for a beginner (or many of us who won't know

[2017-04-12 12:12] Fourdee commented on #818
@rulenma

I'll mark this as resolved. Please reopen if required.

[2017-04-12 22:58] Invictaz commented on #865
@Fourdee Amazing you got it working. I'm really happy.

One question isn't 0.7 a bit old? That was launched in 2014.

https://tweakers.net/downloads/33035/sabnzbd-0718.html

[2017-04-13 08:06] and09 opened #881 "DietPi-Software | Atom editor"
Please add atom editor (markdown and other)
http://raspberrypi.stackexchange.com/questions/55031/install-atom-editor-on-raspberry-pi

[2017-04-13 08:09] and09 opened #882 "sss"

[2017-04-13 08:09] #882 closed, assigned to nobody

[2017-04-13 08:48] Fourdee commented on #865
@Invictaz

Yep, we wont be using apt-get for this one, we'll pull in from git (v2.0.0):
https://github.com/sabnzbd/sabnzbd/releases

[2017-04-13 08:53] Fourdee commented on #881
@and09

Looks great 👍. I'll get it added when possible.
https://github.com/atom/atom/blob/master/docs/build-instructions/linux.md

[2017-04-13 08:55] Fourdee commented on #880
@9H5G

Thanks for the report and suggestion. The reboot prompt is disabled on 1st run install in ```dietpi-config```, so this could be an issue.
I'll add a reboot prompt straight after changing hostname. It will be optional yes/no choice, but i'll make it highly recommended.

[2017-04-13 09:01] Fourdee commented on #769
@WolfganP

All our images use a standard ext4 partition on partition 2. If your system supports ext4, it should be visible. If not, it sounds like a failed image write or unstable SD card.
![image](https://cloud.githubusercontent.com/assets/7077026/24997872/2255c638-2030-11e7-8054-945a00896524.png)

Have you tried: https://github.com/Fourdee/DietPi/issues/769#issuecomment-283030267 (or ```dd if=/d

[2017-04-13 09:19] Fourdee commented on #865
Completed.

[2017-04-13 09:19] #865 closed, assigned to nobody

[2017-04-13 09:21] Fourdee commented on #871
@lavadrop

I'll mark this as resolved. Please reopen if required.

[2017-04-13 09:21] #871 closed, assigned to nobody

[2017-04-13 09:35] Fourdee commented on #880
![image](https://cloud.githubusercontent.com/assets/7077026/24999319/f4b25d22-2034-11e7-9fe7-ceb4d9af0fa1.png)

[2017-04-13 09:40] Fourdee commented on #880
Completed.

[2017-04-13 09:40] #880 closed, assigned to nobody

[2017-04-13 15:34] Fourdee commented on #850
@midwan

Cannot get SDL window to init.
Which system + setup have you run with SDL2 + RPi and its working? eg: RetroPie image + SDL2 install? I can then replicate install and see whats needed/missing.

[2017-04-13 15:45] midwan commented on #850
@Fourdee
I've tested it in Raspbian, RetroPie and DietPi. :)

The key ingredients are:
1) install the SDL2 package from the RetroPie repo, as per the instructions in the Amiberry SDL2 readme
2) have the "Legacy" driver enabled in raspi-config, not OpenGL. Unfortunately I haven't found a way around this one, but OpenGL causes all SDL2 windows to fail to initialize from the console - they do work if

[2017-04-13 16:21] Fourdee commented on #850
@midwan

Legend 👍  thanks:
https://github.com/midwan/amiberry/blob/sdl2/README.md

---

Different errors:
[code]

---

- 🈴 test:
[code]

[code]

- 🈴  4.9 kernel
[code]

[2017-04-13 21:31] tatoosh opened #883 "[dupe] ReadOnly Filesystem"
Add an option to set the filesystem readonly, so a power down will not currupt SD card on raspberry pi.
Source: https://hallard.me/raspberry-pi-read-only/ or German: https://kofler.info/raspbian-lite-fuer-den-read-only-betrieb/

[2017-04-14 10:23] Fourdee opened #884 "DietPi-CPUinfo | Support for Freezer mode"

[2017-04-14 10:25] Fourdee commented on #883
@tatoosh

Thanks for the request, we already have a ticket for this:
https://github.com/Fourdee/DietPi/issues/229

I'll mark this as [dupe] and closed.

[2017-04-14 10:25] #883 closed, assigned to nobody

[2017-04-14 12:44] tatoosh commented on #368
must have feature ;)
here are nice snippets for scanning: http://stackoverflow.com/questions/17809912/parsing-iw-wlan0-scan-output

[2017-04-14 14:20] and09 commented on #881
atom is beter than nano or gedit

[2017-04-15 15:15] WolfganP commented on #719
Just to report that I lost /Dietpi folder again today. Something weird about chown in the logs:

[code]

[2017-04-16 10:49] Fourdee opened #885 "DietPi-Config | Add support for VC1 MPEG2 RPi key entry"
[code]

[2017-04-16 10:52] Fourdee commented on #719
@WolfganP

Thanks for the report,

This is for the RAMlog, we have a special case permission for tor log files, safe to ignore.

Whats the status of RAMdisk ```/DietPi```?:
[code]

[2017-04-16 11:25] Fourdee commented on #884
Changed to ```$HW_MODEL``` identify.

As far as i'am aware, Pine is the only board which uses 2 digit temp readout.

Marking as completed.

[2017-04-16 11:25] #884 closed, assigned to nobody

[2017-04-16 11:25] Fourdee commented on #869
```libmp3lame libfdk-aac libx264```
[code]

Completed.

[2017-04-16 11:44] Fourdee commented on #811
@PuciekTM
Marking as closed. Please reopen if required.

[2017-04-16 11:44] #811 closed, assigned to nobody

[2017-04-16 12:37] Fourdee commented on #827
Does not exist on current image (v145):
[code]

Marking as resolved.

[2017-04-16 12:37] #827 closed, assigned to nobody

[2017-04-16 12:59] Fourdee commented on #876
#### H3:
- Boot hangs after ```[13.x]``` ```g_serial```, for roughly 3 minutes.
- initial automation, subsequent reboots connection fails ```ifdown wlan0; ifup wlan0``` required to reconnect wlan (as per nanoPi Air workaround for 3.x and ```dhd```).

[code]
- ```bmp085``` = BMP085 Barometric Pressure/Temperature/Altitude Sensor?!?
- 🈯️ Fixes slow boot: ```echo -e "blacklist bmp085" > /etc/modprobe

[2017-04-17 11:33] Fourdee commented on #876
#### OPi Zero 2 Plus (H3)
- 🈯️ http://dietpi.com/downloads/images/DietPi_OrangePiZero2PlusH3-armv7-(Jessie).7z

EMMC:
![image](https://cloud.githubusercontent.com/assets/7077026/25088400/0377d65c-236e-11e7-9685-d65357cfa311.png)

Install DietPi on the eMMC (you must have DietPi up and running on a SDcard prior to this):
[code]

[2017-04-17 11:49] Fourdee commented on #796
notes:
[code]

[2017-04-17 11:58] WolfganP commented on #796
@Fourdee you may use the condensed syntax for usermod:

`usermod -a -G group1,group2,group3 username`

[2017-04-17 11:59] Fourdee commented on #850
Note to self:
- update http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=64#p64 replacing all ```uae4arm``` references with ```amiberry```, due to name/dir changes for install (```/etc/amiberry```)

[2017-04-17 13:35] Fourdee commented on #850
@midwan

Finally sussed it, my original SDL2 compiles were fine. User error forgetting to increase GPU mem split lol 😭 .

+ x2/3 framerate with SDL 2 (Elite / Indy 500), great work, smooth as a baby's bum 👍

- SDL1 + SDL2 dual installs are compatible.

[2017-04-17 14:00] Fourdee commented on #869
Needs recompile with prefix ```--prefix=/usr```, else ```/usr/local/lib``` and ```export LD_LIBARY_PATH``` required.

[2017-04-17 14:14] Fourdee commented on #850
AmiBerry SDL2 compile:
[code]

- RPi1
- RPi2
- RPi3

[code]
https://wiki.libsdl.org/SDL_PixelFormatEnum

[code]

- 🈯️ Install compiled SDL2 debs, must not have following disabled ```-disable-video-x11 --disable-video-opengl```

---

RPi 1:
[code]

[2017-04-17 17:49] radimsejk opened #886 "GDBus.Error RPi 3"
Here is the Reference code for my issue: 236f2941-36a9-4e5d-8352-748394a43144-0
When the LXDE is started (automatically after boot) this message is shown:

What should I do?

[2017-04-17 18:55] taner1 opened #887 "Using btrfs filesystem"
Is it possible to use btrfs for system partition? I dont see any distro using it but it does have compression for getting more free space and implies wear level algorithm that extends lifespan of sd cards. Also for some benchmarks its faster than obsolote fat32 filesystem.

[2017-04-17 19:15] Invictaz commented on #824
@Mister-XY we wait for @Fourdee
Since there is a ton of other work to do it might take a while. Since there are already ARMBIAN packages available for A10/A20 it might be possible. The LIBVDPAU-SUNXI is the hardest to get right since there is a lot of repo's and info but no real mainlining. In order to not violate the GPL DietPi can only use the open sourced efforts and not the closed source binar

[2017-04-17 19:22] midwan commented on #850
@Fourdee
The neon_helper is a version for newer ARM processors only, but I'm working towards phasing it out completely since I didn't see any noticeable speed improvements when using that vs C++ code optimized by the compiler.

The alternative is the "arm_helper" file from the SDL1 archive, it contains versions of the same functions for the older CPU of the Pi 1/Zero.

[2017-04-17 20:17] Invictaz commented on #887
Is it better than the F2FS used in modern Androids now? Is it backwards compatible so other computers an see it?

[2017-04-18 08:13] jhonoryza commented on #877
waiting for this ..:)

[2017-04-18 09:36] Fourdee commented on #886
@radimsejk

Thanks for the report.

Can you try installing policy kit to see if the error is disabled?
[code]

[2017-04-18 09:40] radimsejk commented on #886
This is output in the terminal when I try to install it (and it is the same with the -f flag):
`root@PiBlet:~# apt-get install policykit-1
Reading package lists... Done
Building dependency tree
Reading state information... Done
You might want to run 'apt-get -f install' to correct these:
The following packages have unmet dependencies:
 policykit-1 : Depends: libpolkit-backend-1-0 (= 0.105-15~deb8u

[2017-04-18 09:43] Fourdee commented on #886
@radimsejk
Thanks,

Same with?:
[code]

Which device?

[2017-04-18 10:11] Fourdee commented on #850
@midwan

Thanks, although i have no idea how to go about achieving this, any pointers/steps? :)

Or even better, do you have a rpi1 compiled binary available you could upload? Only one i'am missing.

[2017-04-18 10:14] radimsejk commented on #886
Yeah, it worked. Thank you :)

[2017-04-18 10:22] Fourdee commented on #850
Notes:
If SDL2 is complied with OpenGL enabled, and, OpenGL not installed:
[code]

Either way, i've compiled both with OpenGL and X11 enable/disabled in our package:
http://dietpi.com/downloads/binaries/rpi/sdl2_rpi.7z

Our installer will install non OpenGL, X11 SDL2.

[2017-04-18 10:29] Fourdee commented on #850
SDL2 available from ```dietpi-autostart```:
![image](https://cloud.githubusercontent.com/assets/7077026/25126449/4a32df30-242a-11e7-84c2-6ae01cc4a9ba.png)

And
[code]

[2017-04-18 11:31] Fourdee commented on #850
Weird, this just appeared, i'll add font to our zip.
[code]

[2017-04-18 11:49] midwan commented on #850
@Fourdee
It's a recent change, the font has been replaced with something more Amiga-like. The color scheme in the GUI is also updated, and I am currently working on enabling custom mapping of any key to functions like "enter GUI", "Quit" and eventually Custom Controls.

The next step will then be to allow custom mapping of any controller button to those functions as well.

Things are moving rather

[2017-04-18 11:56] taner1 commented on #887
I dont know if its better than f2fs because there is no comparison between two but f2fs has no transparent compression support and btrfs is more mature than it.Also im using btrfs on my laptop and its supported since linux kernel 2.6. While dietpi focus on lower footprint i think btrfs is more suitable on this purpose.

[2017-04-18 12:03] Fourdee commented on #850
@midwan

Aye, no worries, great to see Amiberry progress quickly 👍

We'll most likely have to stick with ```xinit``` for this, this ensures input grab, regardless of tty. I've tried various bash/systemD options and "hacks" to control input, no joy.

[2017-04-18 12:09] WolfganP commented on #887
There's an interesting discussion in https://github.com/raspberrypi/linux/issues/1761 , it seems that implementing btrfs in raspbian and derivatives requires high maintenance for now.

[2017-04-18 14:27] WolfganP commented on #869
@Fourdee could you please share how can we install this custom version for testing? Thx in advance.

[2017-04-18 19:28] Fourdee commented on #869
@WolfganP
Once re-compiled (should be done tomorrow), testing branch install can be used. I'll let you know when its ready + instructions.

[2017-04-18 19:30] Fourdee commented on #886
Reopened for testing/investigation and possible fix in ```dietpi-software```

[2017-04-18 22:14] midwan commented on #850
@Fourdee
Forgot to mention that there are 2 more files added in the `data `directory:

1. cursor.bmp
2. cursor-x2.bmp

[2017-04-19 10:43] Fourdee opened #888 "DietPi image | OpenVZ"

[2017-04-19 11:48] Fourdee commented on #850
@midwan

Thanks, updated 👍

SDL2 leaks to desktop aswell. Think we may have to recompile with the patch.

https://github.com/midwan/amiberry/issues/78#issuecomment-294785415

May replicate with the systemD service we use to launch this, i'll have to test.
Yep, leaks to console, unless launched from main TTY.
- ```xinit``` using our non-RetroPie SDL2 binaries is the only solution to cover autostart

[2017-04-19 11:58] Fourdee commented on #869
@WolfganP

Ready for testing, you could install the updated FFmpeg binaries with simply:
[code]

[2017-04-19 12:14] Fourdee commented on #886
Unable to replicate on a fresh LXDE installation Marking as closed.

[2017-04-19 12:14] #886 closed, assigned to nobody

[2017-04-20 01:37] msdos commented on #254
The link above is broken, had to check https://web.archive.org/web/20160831163959/http://fuzon.co.uk/phpbb/viewtopic.php?f=8&t=5&p=1529

[2017-04-20 10:09] Fourdee commented on #254
@msdos

Yep, we changed our domain name a while back. Fuzon.co.uk redirect was removed a few months ago. New link is:
http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=1529#p1529

[2017-04-20 12:06] Fourdee commented on #796
@WolfganP

Ok, heres whats done (available in testing branch https://github.com/Fourdee/DietPi/blob/master/TESTING-BRANCH.md):
- 🈯️ New user ```dietpi``` with password ```dietpi```
- 🈯️ Same permissions as ```pi``` user
- 🈯️ DietPi user data directory (```/mnt/dietpi_userdata```): user ```dietpi``` permissions applied during ```dietpi-software``` installs, excluding any custom permissions (```www-

[2017-04-21 06:38] phonicmouse opened #889 "DietPi-Software | Add MongoDB Server"

[2017-04-21 06:40] phonicmouse opened #890 "DietPi-Software | Add RethinkDB Server"
It's useful to write real-time apps

[2017-04-21 06:41] phonicmouse commented on #890
https://www.rethinkdb.com/docs/install/raspbian/

[2017-04-21 09:50] Fourdee commented on #850
ToDo:
- 🈯️ Update online docs with reference to ```/etc/amiberry``` instead of ```uae4arm```
- 🈯️ Inform users of inability to run SDL2 under desktop.
- 🈯️ Update AmiBerry image to v148: http://dietpi.com/downloads/images/DietPi-AmiBerry_RPi-armv6-(Jessie).7z
- 🈯️ Final install/run tests of SDL1/2 versions

http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=64#p64

[2017-04-21 10:55] Fourdee commented on #875
Dev image, hold uboot/kernel packages:
[code]

---

- 🈴 CPU frequency / Gov's not supported by kernel. Running in hotplug mode.
- 🈴 No known thermal zones ```/sys/class/thermal/thermal_zone*```
- 🈴 Onboard WiFi modules loaded ```brcmfmac```, device does not exist (possibly linked to: https://github.com/igorpecovnik/lib/commit/a09111c40722c9d508a01ebe4f44f88af08e8530)
- 🈴 Onboard BT not functional

[2017-04-21 12:29] Fourdee opened #891 "DietPi-Software | Support H3 GPU + Kodi"
https://ua3nbw.ru/all/kodi-17-1-krypton-na-orange-pi-s-opengl-es-2-0/
http://linux-sunxi.org/Mali_binary_driver

[2017-04-21 12:43] Fourdee opened #892 "DietPi-Config | Add support for Auto Swapfile size"

[2017-04-21 12:47] Fourdee commented on #892
Auto is now the default for all systems.

Patch will only apply Auto if ```Swapfile_Size``` is unchanged from default ```100``` in ```dietpi.txt```

![image](https://cloud.githubusercontent.com/assets/7077026/25278021/f832afbe-2698-11e7-81f7-fcac314f1a67.png)

[2017-04-21 12:48] Fourdee commented on #892
Completed

[2017-04-21 12:48] #892 closed, assigned to Fourdee

[2017-04-21 12:52] Fourdee commented on #869
Marking as completed.

@WolfganP
If you run any tests, please let me know if any issues.

[2017-04-21 13:01] Fourdee commented on #760
@midwan

Confirmed ```xinit``` resolves CAPS/NUM LEDS in **SDL1**. But this is only useful when running from boot.

i'll also try to tweak the service, to check for X from a running desktop, and, launch non ```xinit``` when needed. I think we did this previously, a while back.

Want me to apply ```xinit``` default for SDL1?

[2017-04-21 17:52] Fourdee opened #893 "DietPi-Software | XU4 + Kodi. Black screen."

[2017-04-21 18:01] Fourdee opened #894 "DietPi-Software | DB preference (MariaDB/???)"
Similar to Webserver preference option:

[2017-04-21 18:03] Fourdee opened #895 "DietPi-Config / DietPi-Software | Dynu DNS"

[2017-04-21 18:47] mims92 commented on #893
My reference code: ca4267a7-4228-41ef-8c23-c4b3ba165aa2-0

[2017-04-21 20:01] ghost commented on #894
Cheers @Fourdee ! Seems like something that could be beneficial to DietPi users :)

[2017-04-22 10:49] Fourdee commented on #796
Ok, done: https://github.com/Fourdee/DietPi/issues/796#issuecomment-295709065

@WolfganP
Yep, we'll need to split this into 2 stages as you recommended 👍

I'll mark this one as closed, then create another to replace default ```root``` to ```dietpi``` user. This will require a complete reset of images, too risky to patch existing systems.

[2017-04-22 10:49] Fourdee opened #896 "General | Change default user to dietpi"
currently ```root```

[2017-04-22 10:49] #796 closed, assigned to nobody

[2017-04-22 10:54] Fourdee commented on #861
Seems a waste of dev time, and, will slow down scripts (due to parsing of colour code stored in settings file, prior to its print). Cant see anyone using this feature.

I'll mark this as closed.

[2017-04-22 10:54] #861 closed, assigned to Fourdee

[2017-04-22 11:17] Fourdee commented on #850
Completed.

@midwan
I'll keep an eye on SDL2 devolpment. But if you can give me a heads up on major releases, we can roll that out to our DietPi users during updates.

Great work on SDL2, Amiberry smooth as butter now 👍

[2017-04-22 11:17] #850 closed, assigned to nobody

[2017-04-22 12:41] Fourdee commented on #893
Unable to replicate on test system. Will check bug report.

[2017-04-22 13:20] Fourdee commented on #893
[code]

@mims92

Lets try EDID display modes, in ```/DietPi/dietpi.txt```, change existing entry ``` setenv videoconfig``` to line below
[code]

And force HDMI plugged in:
[code]

[2017-04-22 14:14] WolfganP commented on #869
Will do @Fourdee

[2017-04-22 15:02] midwan commented on #760
@Fourdee
Just to be clear, we are talking about the functionality of using them as activity LEDs (e.g. HDD activity, Floppy, Power, etc), right?

I don't mind if we start it with `xinit `if that makes it work. Most of the focus is on the newer SDL2 version which will eventually replace the older one anyway :)

[2017-04-22 15:03] midwan commented on #850
@Fourdee
Thanks, of course I'll notify you of any major changes/releases. For now I'm focusing of fixing some bugs, since I wouldn't want to release something that has annoying issues.

Good work integrating this in DietPi! :)

[2017-04-22 17:58] phonicmouse commented on #894
+1

[2017-04-22 23:13] mims92 commented on #893
Still a black screen.

Here is the log of /var/log/Xorg.0.log
[code]

[2017-04-23 11:51] Fourdee commented on #760
@midwan

Yep, keys are fully functional, however, LED status only works with ```xinit```.

Yep, SDL2 is the way forward (performance is much improved), and your progressing it fast 👍 . I'll make the change to SDL1 to use ```xinit```.

[2017-04-23 13:47] Fourdee commented on #863
And the wait begins:
![image](https://cloud.githubusercontent.com/assets/7077026/25314039/b97035f2-2833-11e7-842a-8ae4183ce493.png)

[2017-04-23 14:01] Fourdee commented on #645
#### Why is the image version I download, not the latest?
- Regardless of the image version used, DietPi updates to the latest version automatically on first run.

[2017-04-23 14:10] Fourdee commented on #760
Completed.

Note: LED's will only function when launched from console/autostart, not existing X session.

[2017-04-23 14:10] #760 closed, assigned to Fourdee

[2017-04-23 14:29] Fourdee commented on #893
@mims92

Thanks.

Lets check installed EGL, please paste results:
[code]

It should match:
[code]

Also, try purging/reinstalling GPU drivers:
[code]

[2017-04-23 14:38] Fourdee commented on #893
@mims92

You also have some additional mesa packages:
[code]

Try removing these:
[code]

[2017-04-23 14:51] mims92 commented on #893
@fourdee

I ran `find /usr/lib -name libEGL*` and the output is the same.

Uninstalling
[code]
would remove Kodi.

Here is my Xorg.conf:
[code]

[2017-04-23 15:50] Fourdee commented on #893
@mims92

Yep, thats fine:
https://github.com/Fourdee/DietPi/blob/master/dietpi/conf/xorg_xu4.conf

All your installed packages/settings appear to be in order. I believe this may be a simple case of incompatibly with your TV/XU4, as, I was unable to replicate this issue in our tests. Have you tried other images (eg: Official HK ubuntu / Meveric) in the past? If so, did they work?

We can assume Kod

[2017-04-24 14:54] mims92 commented on #893
I've an eMMc with Android installed on it it was fine. I can see the console on my TV as well.

I will try by lowering the resolution and maybe change some settings.

Reinstalling would take some times because of all the installed software (I'm lazy I know).

I will post my findings if any.

[2017-04-25 11:38] p3p1 commented on #625
I don't know if it's possible open again this ticket, but I have this problem, on a Odroid XU4, of the audio over HDMI using Kodi, installed through `dietpi-software`. Can you investigate?

[2017-04-25 11:45] Fourdee commented on #625
@p3p1

Thanks for the report.

I'd like to check your system settings/installed packages. Please can you send us a bug report?
http://dietpi.com/phpbb/viewtopic.php?f=8&t=499

[2017-04-25 11:46] p3p1 commented on #625
I will send you the report in couple of hours.

[2017-04-25 11:59] Fourdee opened #897 "DietPi-Software | Roundcube/Rainloop"
http://dietpi.com/phpbb/viewtopic.php?f=12&t=1828#p7022
https://github.com/roundcube/roundcubemail

[2017-04-25 18:00] p3p1 commented on #625
Bug report send. Reference code: 3b7de7c5-6117-4842-8212-1a36256df7f9-0

[2017-04-26 01:50] tweak42 opened #898 "Pihole web admin not saving settings"
Clean install of DietPi v148, installed only PiHole.

The pihole web admin does not save any settings changes.  Cannot make any changes to the white and black lists.  Status shows unknown instead of active or offline.

Manual pihole install using 2017/4/10 Raspbian lite worked correctly.

[2017-04-26 10:41] Fourdee commented on #898
@tweak42

Thanks for the report.

Unable to replicate on a fresh installation of v148, all web interface changes are saved:
![image](https://cloud.githubusercontent.com/assets/7077026/25430544/ff81b848-2a74-11e7-8992-5228504a72dc.png)

Can you please confirm:
- Which versions of PiHole you are running (bottom right of web interface)
- Device used
- ```pihole status```
- Webserver preference (if ch

[2017-04-26 12:27] Fourdee opened #899 "XU4 | Prep for 4.9 kernel | Offer test image"
### 4.9 kernel image for TESTING purposes only:
#### - http://dietpi.com/downloads/images/no_release/(NR_4.x)_DietPi_OdroidXU4-armv7-(Jessie).7z

---

Meveric's repo/packages is changing to 4.9 kernel. Test and update images/patch existing systems.
_Many thanks to meveric for the heads up and additional info_
- uuid of rootfs required for boot

[2017-04-26 12:27] Fourdee commented on #414
https://github.com/Fourdee/DietPi/issues/899

[2017-04-26 12:27] #414 closed, assigned to nobody

[2017-04-26 14:12] Fourdee commented on #876
### H5:

- 🈯️ Image live:
http://dietpi.com/downloads/images/DietPi_OrangePiZero2PlusH5-arm64-(Jessie).7z

---

Install DietPi on the eMMC (you must have DietPi up and running on a SDcard prior to this):
[code]

---

- https://github.com/armbian/build/issues/660
- No WiFi hardware found, in ```dmesg```, ```brcm*``` modules are loaded.
- ```poweroff``` results in reboot with prompt to press any key

[2017-04-26 14:44] mims92 commented on #893
On my rapsberry pi (dietpi also), it is working.
Same cable, same tv

[2017-04-26 17:27] Fourdee commented on #874
Dev image, uboot/kernel packages on hold:
[code]

[2017-04-27 01:23] tweak42 commented on #898
Pi-hole Version v2.13.2  Web Interface Version v2.5.2
Device: Raspberry Pi3
[code]
[code]
![pihole](https://cloud.githubusercontent.com/assets/12165451/25463660/a78e5096-2aac-11e7-8721-fab1bec60246.png)
Enable and Disable show on the sidebar menu. (see attached pic) Selecting Disable does not actually disable, verified by # pihole status
Some error.log messages are generated from attempting to sav

[2017-04-27 06:13] msdos commented on #254
If fuzon.co.uk is still in your hands, it would be nice to redirect to dietpi.com (since the other parameters are the same it wouldn't be difficult).

If you don't want to mess up with `mod_rewrite` and such, you can use cloudflare in this domain and use their redirect feature - it's free and it works flawlessly.

https://support.cloudflare.com/hc/en-us/articles/200172286-How-do-I-perform-URL-forw

[2017-04-27 10:12] Fourdee commented on #254
@msdos

fuzon.co.uk is now in use on another server, EU Odroid apt mirror for Meveric's repo:
http://fuzon.co.uk/meveric/

[2017-04-27 10:26] Fourdee commented on #874
- 🈴 WiFi not functional. Modules are loaded (```rtl8723bs``` not available), no results from ```dmesg```
[code]

- 🈴 HDMI/3.5mm sound not functional (h3 codec???). Mainline effort reports audio codec in 4.12 kernel: https://linux-sunxi.org/Linux_mainlining_effort#Status_Matrix ```4.10``` currently on ARMbian dev branch.

[code]

[2017-04-27 10:31] Fourdee commented on #898
@tweak42

Thanks for the log and info, i'll take a look 👍

---

notes:

line 92:
https://github.com/pi-hole/AdminLTE/blob/master/api.php#L92

line 116:
https://github.com/pi-hole/AdminLTE/blob/master/api.php#L116

savesettings.php 198:
https://github.com/pi-hole/AdminLTE/blob/master/scripts/pi-hole/php/savesettings.php#L198

[2017-04-27 10:38] Fourdee opened #900 "DietPi Kernel | 384KHz"
Notes:
- 🈴 check 4.9 kernel if its been applied by default
- compare any RPi 384KHz kernel against std, then create diff patch for ours. (if one even exists https://github.com/DigitalDreamtimeLtd/linux/tree/rpi-4.4.y-alsa-384k-with-def)

[2017-04-27 12:07] Fourdee commented on #874
- 🈯️ Image: http://dietpi.com/downloads/images/DietPi_OrangePiPrime-arm64-(Jessie).7z
- Doc: http://dietpi.com/phpbb/viewtopic.php?f=8&t=1839

[2017-04-27 16:06] 467815891a opened #901 "Got error: UpnpInit() faild"
fresh reinstalled v148 on my RaspberryPi 2.
First,I choose [gmediarender](https://github.com/hzeller/gmrender-resurrect) to be UPnP client,After running gmediarender,I got error -- UpnpInit() failed: UPNP_E_OUTOF_SOCKET.
Then,I try to use [mpd](https://github.com/Fourdee/DietPi/issues/821#issuecomment-288057932),I got the same error -- fatal_error: UpnpInit() failed: UPNP_E_OUTOF_SOCKET.
It seems

[2017-04-27 16:08] joaofl commented on #899
Hi Fourdee. Can I help on something with this task?

I may have some free time soon, maybe to test this and improve that config dir thing we discussed about syncthing.

[2017-04-27 16:45] Fourdee commented on #898
@tweak42

I'am still unable to replicate this at our end. I think your installation may have suffered from a temporary loss of connection, or, PiHole has fixed a possible issue since you installed.

Lets try reinstalling first:
[code]

Now reinstall in
[code]

---

Failing the above, please try a fresh image write and select only PiHole for installation.

[2017-04-27 16:58] Fourdee commented on #900
#### 384KHz tests

- 🈯️ Allo BOSS DAC:

[code]

![image](https://cloud.githubusercontent.com/assets/7077026/25497588/05a2ff3a-2b7d-11e7-8b51-2bce02c7fb0a.png)

---

- 🈯️ JustBoom-DAC:
[code]

---

ToDo:
- 🈯️ Upload new kernel
- 🈯️ Remove 384KHz non-dietpi kernel option in ```dietpi-config``` as now default in ours.
- 🈯️ Update Aaron / Ioan

[2017-04-27 17:13] Fourdee commented on #899
@joaofl

By all means, thanks for offering 👍
Once i figure out how will we patch uuid in ```boot.ini``` and ```fstab``` to replace ```/dev/mmcxxxx```, should be good to test.
I'll also create a new image with the kernel installed, for testing.

[2017-04-28 00:37] phonicmouse opened #902 "DietPi-Software | In additional software, under network monitoring add "slurm""
Very powerful
![slurm08](https://cloud.githubusercontent.com/assets/12597068/25509753/9003a3bc-2bbb-11e7-94ba-6ec511523d94.jpg)

[2017-04-28 04:54] phonicmouse opened #903 "DietPi-Software | In additional software, under network monitoring add "bmon""
[https://github.com/tgraf/bmon](https://github.com/tgraf/bmon)
![bmon_big_2](https://cloud.githubusercontent.com/assets/12597068/25514750/4dbb018e-2bdf-11e7-8bf7-b23e996362f4.png)

[2017-04-28 10:05] tweak42 commented on #898
Tried each of the following and still end with the same error log and any changes in the web admin do not save.

Uninstall Pi-hole, then reinstall.
Downloaded and flashed a new dietpi image, installed Pi-hole with all defaults
Clean Pi-hole install using nginx and apache

[2017-04-28 11:03] Fourdee commented on #900
Kernel will be patched for users in v149 update.

Completed.

[2017-04-28 11:03] #900 closed, assigned to nobody

[2017-04-28 11:41] Fourdee commented on #898
@tweak42

Really strange, I've ran fresh default installs on Odroid C2/RPi3/OPi Prime, still unable to replicate the issue and errors in log (https://github.com/Fourdee/DietPi/issues/898#issuecomment-297676556).

During the dietpi-software installation, did you notice any errors on screen, from DietPi and/or PiHole installer?

[2017-04-28 11:43] Fourdee commented on #863
Well, no response from app key request, will give it another few days then cancel trial account and mark as untested.

[2017-04-28 12:42] Fourdee commented on #874
Completed.

[2017-04-28 12:42] #874 closed, assigned to nobody

[2017-04-28 12:47] Fourdee commented on #845
Unfortunately, this isnt something I have the time to pick up at the moment.

As ARMbian currently doesn't support this device by default in their kernel and fex.
Fex and kernel changes would be required. This also means custom kernel builds for all NanoPi Neo boards. The maintenance of this is alone is too time consuming for 1 DAC.

Nudging out of milestone for now.

[2017-04-28 13:04] Fourdee commented on #875
Other than headless eth server usage, not much use for this board currently, hopefully ARMbian guys can improve support on this board in the future.
Completed.

[2017-04-28 13:04] #875 closed, assigned to Fourdee

[2017-04-28 15:57] nicbkw commented on #870
+1

[2017-04-28 17:49] Invictaz opened #905 "0bytes free space, causes kernel clean/extraction to fail, results in no boot"
Was trying to update from 146 to 149.
Gives "package.zip" cannot be written or some thing like that
I typed "reboot" after it said 149 was installed.

Now only gives 3x led blip and refuses to boot....

https://twitter.com/W00fer/status/858013761323409408

[2017-04-28 18:03] Invictaz commented on #905
There is no serial output on 115200 so I cannot investigate what is wrong during boot.
Normally I have serial output there.

[2017-04-28 18:03] greencopper opened #906 ""su" isn't working"
I have just downloaded and installed DietPi on an ODROID XU4 and everything works perfectly except for "su".

I log in to the box using OpenSSH. Afterwards I do "su" to become root. I get the password prompt, but even though the correct password is entered, it fails with an authentication error.

Logging in as root using SSH works.

Kind regards

[2017-04-28 18:38] tweak42 commented on #898
Tried from scratch again this morning, and it now works.  One thing that changed was dietpi detected a new version (v149), on 1st boot, updated itself and rebooted before presenting the software install menu.

The current Raspi image available for download is DietPi_v148_RPi-armv6-(Jessie).img

[2017-04-28 18:59] Fourdee commented on #906
@greencopper

Thanks for the report 👍

I've got a few XU4 jobs to complete over the next few days, i'll check this at the same time.

[2017-04-28 19:06] Fourdee commented on #905
@Invictaz

Thanks for the report 👍

It sounds like a possible filesystem corruption has occurred on the SD card. Resulting in a read only filesystem at some point to prevent further damage. This is usually caused by failing hardware.

Which:
- SD card used?
- PSU used?
- Any power cuts recently you are aware of?

The 3x LED blips are caused by: http://elinux.org/R-Pi_Troubleshooting#Green_LED_blin

[2017-04-28 20:18] Invictaz commented on #905
Sdcard used is ADATA 16GB microsd
Psu is Samsung tablet adapter 2 amps.

[2017-04-29 01:18] greencopper opened #907 "mount: unknown filesystem type 'xfs'"
I have installed xfsprogs and wanted to mount a XFS drive on the XU4.

[code]

I suspect this is a custom kernel and the XFS module hasn't been compiled in?

[code]

Kind regards.

[2017-04-29 03:34] greencopper opened #908 "mount: wrong fs type, bad option, bad superblock on /dev/sda1"
I wanted to have a seagate disk spin down, but due to the journal settings of ext4 the drive continuously works.

On way to overcome this is by using XFS as a filesystem, but since that isn't working, I did the following:

[code]

This works and makes the disk spin down. However, now it cannot be mounted on the XU4.

[code]

If I mount the disc on my regular Linux distro then there isn't a problem

[2017-04-29 12:19] Invictaz commented on #905
@Fourdee how to make an img of the sdcard. I have various raw img backup programs but don't know which you like best (Windows 7)

[2017-04-29 13:11] Fourdee commented on #898
@tweak42

Excellent.

Yep, DietPi updates automatically during 1st run. Although, we didnt change anything related to PiHole in this version, and our tests in v148 were sucessful.

I think we can put this one down to the SBC/internet gremlins (they do exist 😉) I'll mark this as resolved, please reopen if required.

[2017-04-29 13:11] #898 closed, assigned to nobody

[2017-04-29 13:39] Fourdee commented on #885
Notes:

RPi 3 v1:
[code]

Status:
[code]

[2017-04-29 13:55] Fourdee commented on #885
Completed.

[2017-04-29 14:01] Fourdee commented on #899
#### Patch Notes / Prep for 4.9 kernel install:

- 🈯️ Replace  ``` /dev/mmcblk0p*``` in ```/etc/fstab``` + ```boot.ini``` with UUID as required by 4.9 kernel+uboot
[code]

---
#### GPU driver changes:

Make sure you set option "NoFlip" "true" in /etc/X11/xorg.conf to make sure vsync is working where it's required.

[code]

---

#### Install 4.9 kernel:
[code]

- SD: SystemD fails boot waiting on m