[2018-03-02 17:10] Fourdee opened #1576 "DietPi-Banner | Improve notification when no eth/wlan found"
Previously, this would report an error with eth0 when no adapter was available.

[code]

[2018-03-02 17:17] Fourdee commented on #1576
Completed.

[2018-03-02 17:17] #1576 closed, assigned to Fourdee

[2018-03-02 17:42] Fourdee commented on #1546
To be added:
- 🈯️ ```G_WHIP_INPUTBOX```
- 🈯️ ```G_WHIP_MENU```
-- test
[code]
- 🈯️ ```G_WHIP_CHECKLIST```
-- test
[code]

[2018-03-02 17:54] Tnnuy-sv opened #1577 "(rpi3) qBittorrent Bug Gui"
good afternoon ! my qBittorrent spent 4 days following work without shutting down with 37 torrents stopped working the gui part, in the torrents they seem to be sowing I simply can not get in ... raspberry pi 3
<a href="http://tinypic.com?ref=2dt9aw1" target="_blank"><img src="http://i68.tinypic.com/2dt9aw1.jpg" border="0" alt="Image and video hosting by TinyPic"></a>

<a href="http://tinypic.com?

[2018-03-02 18:42] MichaIng commented on #1560
@d4f2
Okay thanks for testing. Maybe the older versions of openvpn handled absence of IPv6 different, without throwing errors. Actually I am wondering if it is possible to use it just with IPv4 as well by pre-configuring/choosing different option within PiVPN install dialogs. Otherwise we could simple force enabling of IPv6 during our installation script and inform user about that. I will have a l

[2018-03-02 18:45] k-plan commented on #1560
@MichaIng

Wir vermischen hier noch mehr Dinge würde ich meinen. :smiley:

**"Verschiedene" DHCP-Server**

OpenVPN / PVPN:
Können in zwei verschiedenen Modi betrieben werden.
 -  mit TAP Interface (eine Layer 2 (MAC Adressen basierte) gebridgete Verbindung zwischen Client und VPN-Server angebundenen Netzwerk)
- mit TUN Interface (eine Layer 3 (IP Adressen basierte) geroutete Verbindung zwischen Cl

[2018-03-02 18:55] Fourdee commented on #1546
mmm, set result var has no effect, but echo $? works...
[code]

🈯️ ```; echo $? > /tmp/.G_WHIP_MENU_RESULT``` works, then ```result=$(cat /tmp/.G_WHIP_MENU_RESULT)```

[2018-03-02 19:02] k-plan commented on #1560
@MichaIng

PiVPN installer handle this different in the paste.
Can't say this exactly, because I dislike and use OpenVPN.

https://community.openvpn.net/openvpn/wiki/IPv6

[code]

[code]

[code]

[2018-03-02 19:22] Fourdee commented on #1577
@tnnuyri

Hi,

Some issues here:
- You have disabled the swapfile. Not recommended and may cause "out of memory" errors + further issues due to that. Especially with large amounts of active torrent files.
- You have installed 2 BitTorrent clients. Ideally, you should only ever install 1 BitTorrent client (either Deluge or QBitTorrent)

Try a system reboot, see if the web interface returns.

[2018-03-02 19:26] Tnnuy-sv commented on #1577
Yes ! Whenever I reboot it is active again, I would like to know why this happens .. As for swapfile I did not disable it, I did the standard install of dietpi without changing these things I just connected an external disk by usb... tks

edit : I'll try to activate swapfile

[2018-03-02 19:28] Fourdee commented on #1574
@symbios24

Swapon failed due to IO error.

Please try with and capture output:
[code]

And if you can:
[code]

Could possibly be a file-system corruption, but we'll know more after the above.

@MichaIng Your idea to add global error handling is a good one. 👍

[2018-03-02 21:36] cuph62 commented on #1500
I used the vmdk of the Vmware succesfully,
after converting the vmdk  to qcow2, this worked flawlessly in Proxmox

[2018-03-02 22:25] MichaIng commented on #1560
@k-plan @Fourdee
Haha, I just found some more things, that got mixed up:
- Why actually `dhcpcd5` is installed and active, at least on Debian images, by default, where we use `ics-dhcp-client` by default? On my Buster Raspbian RPi there at least is no dhcpcd5 installed, seemed to be autoremoved there.
- These are two different DHCP clients, `dhcpcd5` more passiv, without active background process

[2018-03-02 22:59] MichaIng commented on #734
I mark as closed due to: https://github.com/Fourdee/DietPi/pull/1459

[2018-03-02 22:59] #734 closed, assigned to nobody

[2018-03-02 23:36] MichaIng commented on #1477
Note: `/etc/profile(.d/) ` is not called on "non-login shells". By default, using `screen` does not open a login shell, thus profile(.d) is ignored. `~/.bashrc` instead is called also by non-login shells. `screen` can be forced to open a login shell by:
[code]
Hah funny, `~/.screenrc` is per-user again, so:
[code]

€: Note2: Actually wrong topic...
- Use `/dev/shm/`?
[code]

[2018-03-03 08:06] symbios24 commented on #1574
Here is the capture

https://image.ibb.co/cYbmF7/2018_03_02_22_02_55.jpg

[2018-03-03 10:18] k-plan commented on #1560
@MichaIng

Vielleicht habe ich mich nicht deutlich genug ausgedrückt.
- bei `dnsmasq` von Pi-Hole ist die DHCP Server Funktion per default deaktiviert, bei jeder Installation. Da muss erst der Nutzer etwas aktivieren und konfigurieren bevor dieser läuft. Wenn man einen Blick in `root@RPi-Zero:~# cat /etc/dnsmasq.conf | grep dhcp` wirft, kann man sehen, dass die Funktionen auskommentiert sind.

- `

[2018-03-03 10:19] k-plan commented on #1560
@MichaIng

-------------

yes, nice finding. 👍
Noticed this now here as well.
We should decide to use only one on all devices.

RPi v6:

[code]

Orange-Pi-One v6 (test-build):

[code]

Odroid-C1 v6:

[code]

-----------

---- ONLY for reference ----

OLD ARMbian based build

[code]

OLD Odroid based build

[code]

[2018-03-03 11:20] symbios24 opened #1579 "Software Request FruityWifi"
Hello, can you add to your software list the FruityWifi (wireless network auditing tool)
it look very interesting

https://github.com/xtr4nge/FruityWifi

[2018-03-03 11:40] k-plan commented on #1560
@MichaIng

Wie schon gesagt, ich sehe nur zwei Optionen:
- entweder implementiert man alle IPv6 Konfigurationsmöglichkeiten in `dietpi-config` vollständig.

- oder man lässt IPv6 laufen, da Dual Stack Support heute Standard des Betriebssystems und entfernt die Möglichkeit diesen zu deaktivieren. IPv6 konfiguriert sich eigentlich im Hintergrund von alleine richtig. Das war auch ein Ziel bei der Ein

[2018-03-03 11:51] juliocoliveira opened #1580 "NTP error"
## Creating a bug report/issue:
Using username "root".

The programs included with the Debian GNU/Linux system are free software;
the exact distribution terms for each program are described in the
individual files in /usr/share/doc/*/copyright.

Debian GNU/Linux comes with ABSOLUTELY NO WARRANTY, to the extent
permitted by applicable law.
[  OK  ] Root access verified.
 ───────────────────────────

[2018-03-03 12:00] k-plan commented on #1450
@Fourdee

Hmm ... have you see this?

`https://github.com/pivpn/pivpn/issues/475`

[2018-03-03 12:04] ichbestimmtnicht commented on #1580
I experienced the same problem and waiting for about 2-3 min solved the problem for the first boot. After that i got this error some times moore before i figured out to adjust the timeserver in dietpi-config and it worked fine.

Still fix this bug for first time installation pls.

[2018-03-03 12:05] juliocoliveira commented on #1580
I ran the command but: -bash: dietpi-config: command not found

[2018-03-03 13:41] ChargingBulle commented on #830
any update on this?
It can't take nearly a year to upgrade to HTTPS...

[2018-03-03 14:02] Fourdee commented on #1580
@juliocoliveira

[code]
Networking Options: NAS/MISC > NTP mirror

Once completed, to resume setup
[code]

---

notes:
- Load DietPi-Globals before login script?
- Change prompt on failure to include ```dietpi-config``` as an option to change NTP mirror?
- Dbus?
[code]

[2018-03-03 14:10] juliocoliveira commented on #1580
Changed the mirror but still the Dbus error

[2018-03-03 14:11] Fourdee commented on #1574
@symbios24

- Which DietPi image did you use to install this system? eg: DietPi_v6.2_RPi_xxxx.img
- Did you modify for Berryboot?
- SD card used?
- Power Supply used?

Try:
[code]

Failing the above, it may be an idea to try a fresh image write.

[2018-03-03 14:12] Fourdee commented on #1580
@juliocoliveira

Thanks, we'll check that.

NTPD Mirror now functional?

[2018-03-03 14:16] juliocoliveira commented on #1580
you mean the NTP mirror selector? it removed the ntp package and emptied the /etc/ntp.conf
And tried to install and configure the NTP manually and got this:
[code]

[2018-03-03 14:33] Fourdee commented on #1580
@juliocoliveira

Yep.

Upon selecting the following option, ntp is installed:
![image](https://user-images.githubusercontent.com/7077026/36935431-93996b7e-1eef-11e8-9844-b4bfdcb5b29b.png)

Only when selecting the following (+option 4) "Advanced options" > "Time sync mode", will NTP be removed:
![image](https://user-images.githubusercontent.com/7077026/36935436-b1b29b3a-1eef-11e8-8502-9e305465070c.

[2018-03-03 14:52] juliocoliveira commented on #1580
i can't fix it, i disabled the ntp.

[2018-03-03 14:53] symbios24 commented on #1574
i use the latest 6.2
it is a berryboot image
8GB Toshiba class 10 UHS-1 micro sd
2amp supply

[2018-03-03 15:04] Fourdee commented on #1580
@juliocoliveira

Ok 👍

We'll improve the error handling for v6.3, give the user more options to resolve NTPD issues on their network when it occurs:
![image](https://user-images.githubusercontent.com/7077026/36935790-1648ff04-1ef4-11e8-8cc3-b25e6a50cc6b.png)

[2018-03-03 16:24] symbios24 commented on #1574
the command
rm /var/swap
/DietPi/dietpi/func/dietpi-set_dphys-swapfile 512 /mnt/swap

does not enable the swap i get the same error as in the photo: https://image.ibb.co/cYbmF7/2018_03_02_22_02_55.jpg

what is the problem the berryboot image?

i did a fresh install on this image

[2018-03-03 16:56] k-plan commented on #1580
@Fourdee

hmm .. what does thies mean? Hard reset as synced and disable forever?
This should really be the last chance ...

Can it be a option, user can set `date` once manually via `whiptail` dialog?
`date 030317492018` ?
So  installation or inital setup can move forward?

~~BTW:
Don't believe, most user will know difference between `NTPD` and `Systemd-timesyncd` (first boot up). Or will `NTPD Mo

[2018-03-03 19:29] Fourdee commented on #1546
Auto whiptail scaling based on screen dimensions and internal content:
test/notes:
[code]

[code]

[2018-03-03 19:34] MichaIng commented on #1580
@Fourdee
I just tested to switch to timesyncd as well:
- Failed as well with `Failed to create bus connection: No such file or directory` after every of the 30 attempts.
- I found the service disabled and inactive, we just use `timedatectl set-ntp true` when choosing mode 4 via dietpi-config, there also on manual execution the error occurs: https://github.com/Fourdee/DietPi/blob/testing/dietpi/fun

[2018-03-03 19:36] Fourdee commented on #1546
Automatic scaling of G_WHIP based on:
- Screen size
- Text message size (total lines and character count against screen X)
- Prints maximum Z options (eg: menu) available against the screen size total.

![image](https://user-images.githubusercontent.com/7077026/36938466-d8905a4c-1f19-11e8-9a37-0d917f286a94.png)

![image](https://user-images.githubusercontent.com/7077026/36938468-e4a66f4c-1f19-11e8

[2018-03-03 20:08] Fourdee commented on #1546
Pretty much done, just needs rolling out across all DietPi scripts.

[2018-03-03 20:10] Fourdee commented on #1577
@tnnuyri

Ah, this is standard as of v6.0+. Which DietPi version are you running?

You can remove unneeded software in ```dietpi-software``` > Uninstall

[2018-03-03 20:13] Fourdee commented on #1574
@symbios24

Not sure, but searching the net shows this is an issue limited to BerryBoot.

We do not officially provide support for BerryBoot images of DietPi (we do not create them), however, our user community has been successful in creating them for testing:
https://github.com/Fourdee/DietPi/issues/1545

Please continue this discussion in the above ticket. I'll mark this as closed in favor of ht

[2018-03-03 20:13] #1574 closed, assigned to nobody

[2018-03-03 20:23] Fourdee commented on #1580
@k-plan

This should really be the last chance ...

Yep, last resort. Basically allows the system to run with DietPi scripts, and, without updating the time.

date 030317492018 ?

👍

Yep, we could replace ```override``` with this option.

@MichaIng

dietpi-software uninstall 106
add timesyncd config
systemctl daemon-reload should not be necessary, as we adjust timesyncd config and not it's service

[2018-03-03 20:27] MichaIng commented on #1560
Okay I will close this, as TOs issue is solved by enabling IPv6. I open new issues about the two other topics.

[2018-03-03 20:27] #1560 closed, assigned to nobody

[2018-03-03 20:52] Fourdee commented on #1450
@k-plan

Looks suspect (new account to post that one message). I'll run a test anyway to verify.

This is new:
![image](https://user-images.githubusercontent.com/7077026/36939232-53b13dda-1f25-11e8-965c-cceeaad0c9aa.png)

- 🈯️ Both options are = fine:
[code]

[2018-03-03 22:32] MichaIng opened #1581 "Network | Replacing 'networking', 'resolvconf' and 'dhclient' by 'systemd-networkd' + 'systemd-resolved'"
As of discussion here: https://github.com/Fourdee/DietPi/issues/1560#issuecomment-370070468

Summary:
- In many of our images two DHCP clients are installed: `isc-dhcp-client` (expected, DietPi dependency, `dhclient` process) and `dhcpcd5` (not expected, survives `apt autoremove` for unknown reason, shows error about wrong configures `/etc/network/interfaces`, `dhcpcd` process).
- We should decide

[2018-03-04 07:30] ernesternest commented on #1223
Hi Fourdee, I wonder, if you are still planning to work on that issue. I switched from a PI to an Allo USB bridge, which contains an Allo Sparky, due to SQ reason. It is so much better, that I can't go back. But I really liked the look and performance of Moode :-) and so I would really be happy if this would be continued here.

Cheers

[2018-03-04 07:36] symbios24 commented on #1574
sorry i did not realize about berryboot since its the same OS.
Do you know with software/s use/need swapfile??

[2018-03-04 12:58] sjdaniel10 opened #1582 "Subsonic 6 broken link"
DietPi-Software: Connection test:
                                                                            │ https://sourceforge.net/projects/subsonic/files/subsonic/6.1.3/subsonic-6.1.3.deb
                                                                            │ /download
                                                                            │  - exit_code = 8

[2018-03-04 13:56] MichaIng commented on #1510
@Fourdee
**Add empty files/assure existence**
- Not that it takes much time anyway, but yeah still interesting:
[code]
- I thought, `touch` should be the fastest command to create an empty file, as it does not "change" the file. But it is extremely the opposite way. I found a good explanation for this: https://unix.stackexchange.com/a/123850 => `echo` is bash builtin!
- echo [-e] ''/"" all are the

[2018-03-04 14:21] tordenflesk opened #1584 "Webmin.com down. webmin-current.deb mirrir?"
#### Required Information:
- DietPi Version | v6.2
- SBC Device     | Odroid XU3/4 (armv7l) (index=11)
- Distro         | jessie (index=3)
- Command        | Connection test: http://www.webmin.com/download/deb/webmin-current.deb
- Error Handler  | G_ERROR_HANDLER

#### Additional Information (if applicable):
- Software title | DietPi-Software

#### Expected behaviour:

Install webmin
#### Actual b

[2018-03-04 14:36] Fourdee commented on #1582
@sjdaniel10

Thanks for the report 👍

Confirmed, link is no longer available. We'll take a look.

[2018-03-04 14:37] Fourdee commented on #1575
@roelfoubert

Thanks for the report, i'll try to replicate.

[2018-03-04 14:41] sjdaniel10 commented on #1582
cool! Thanks for the speedy response! glad i could help 👍

[2018-03-04 14:45] Fourdee commented on #1582
http://www.subsonic.org/pages/download2.jsp?target=subsonic-6.1.3.deb
We'll host on dietpi.com.

[2018-03-04 14:55] MichaIng commented on #1582
Jep no files of the project are available right not on sourceforge and also the download button ends with 404: https://sourceforge.net/projects/subsonic/

Maybe just temporary, but also as SubSonic is not open source anymore, I can just encourage everybody to think about switching to AirSonic, which is after LibreSonic death the current active fork: https://github.com/airsonic/airsonic

 @Fourdee

[2018-03-04 15:05] Fourdee commented on #1582
@sjdaniel10

Resolved link for Subsonic 6 in v6.3.

v6.3 will be released in the next few days.

---

@MichaIng

👍 I'll do it now

[2018-03-04 15:16] sjdaniel10 commented on #1582
wow @MichaIng @Fourdee , i don't think i have received speedy, accurate and help support like this.... well ever! keep it up, will look out for the update 👍

[2018-03-04 15:43] Fourdee opened #1585 "DietPi-Software | Replace SubSonic 5 with AirSonic"

[2018-03-04 15:43] #1582 closed, assigned to Fourdee

[2018-03-04 15:45] Fourdee commented on #1585
Install/run test, ~no web interface:~
http://192.168.0.112:8080/airsonic 🈯️
- admin
- admin

Gotta love Java for being "efficient"... 😉

[code]

Can't see a way of setting the userdata location, subsonic command line options do not work/exist:
[code]

- Run as root as shared ```ffmpeg``` binary is also root owned.

[2018-03-04 16:41] Fourdee commented on #1585
Online doc : http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=11280#p11280

[2018-03-04 16:59] Fourdee commented on #1585
Completed.

[2018-03-04 17:01] Fourdee commented on #1585
Patch removal of 33

[2018-03-04 17:02] #1585 closed, assigned to Fourdee

[2018-03-04 17:04] Fourdee commented on #1579
@symbios24

Thanks for the request 👍

We'll reopen if our users show interest in this software.

[2018-03-04 17:04] #1579 closed, assigned to nobody

[2018-03-04 17:09] Fourdee commented on #1584
@tordenflesk

Hi,

Appears to be working fine currently, although the redirect is slightly slow:
[code]

Please can you retry the software installation?

[2018-03-04 17:15] tordenflesk commented on #1584
I don't see the point when webmin.com is down.
http://www.isitdownrightnow.com/webmin.com.html
http://downforeveryoneorjustme.com/webmin.com

On 04.03.2018 18:09, Dan wrote:

[2018-03-04 17:20] MichaIng commented on #1585
👍 Wow that was fast, nice work!!

[2018-03-04 17:25] Fourdee commented on #1452
🈯️ Test with Pine installer:
[code]

[2018-03-04 17:33] janbildsoehansen opened #1587 "do you always have to run dietpi from and usb..?"
## Creating a bug report/issue:
wanna install the x86 on a computer but how do i make it boot from the ssd only with out the usb

#### Required Information:
- DietPi Version | ```cat /DietPi/dietpi/.version```?
- SBC Device (EG: RPi 3)?
- Power supply used (EG: 5v 1A RAVpower)?
- SD card used (EG: Sandisk ultra)?
- Distro (EG: Jessie) | ```uname -a```?

#### Additional Information (if applicable):

[2018-03-04 17:33] Fourdee commented on #1584
@tordenflesk

![image](https://user-images.githubusercontent.com/7077026/36948396-2dbd0386-1fd2-11e8-8b6e-79db992359bb.png)

[2018-03-04 17:37] Fourdee commented on #1575
Test:
- ```max-connection-per-server > 3 (1)```
- Save changes
- reboot
- 🈴 Reverts to 1

Confirmed. I'll take a look.

[2018-03-04 17:50] Fourdee commented on #1575
Looks like a limitation with aria2-webui:
https://github.com/ziahamza/webui-aria2/issues/164#issuecomment-151669830
https://github.com/XUJINKAI/aria2-with-webui/issues/3#issuecomment-324953489
🈴 Has no effect, file not updated https://github.com/ziahamza/webui-aria2/issues/36#issuecomment-11328963

no aria2.conf exists, ```--conf-path=``` https://github.com/hzamani/aria2web/blob/master/config/aria

[2018-03-04 18:29] Fourdee commented on #1587
@janbildsoehansen

#### Method 1:
- Plug the SSD into a USB <> SATA converter.
- Write the DietPi image to the SSD.
- Remove SSD from the USB <> SATA converter.
- Plug SSD back into PC and power on.

#### Method 2:
- ```dd```, TBA

[2018-03-04 18:31] janbildsoehansen commented on #1587
Thanks for the quick response :D i will try so :)

best regards Jan

2018-03-04 19:29 GMT+01:00 Dan <notifications@github.com>:

--

[2018-03-04 18:36] elRadix commented on #1452
same issue as  https://github.com/Fourdee/DietPi/issues/1511

[2018-03-04 19:05] Fourdee commented on #1575
@roelfoubert

Workaround will be available once DietPi v6.3 is released, by editing the ```/var/lib/dietpi/dietpi-software/installed/aria2.conf```: https://github.com/Fourdee/DietPi/issues/1575#issue-301808769

ETA few days (mid next week) for DietPi v6.3.

Completed.

[2018-03-04 19:05] #1575 closed, assigned to Fourdee

[2018-03-04 19:08] Fourdee commented on #1452
@elRadix

Could be a possible partition issue with the pre-image we use: https://github.com/ayufan-rock64/linux-build/releases/download/0.5.15/stretch-minimal-rock64-0.5.15-136-arm64.img.xz

@elRadix

Does the rootFS resize function with an SD card?

[2018-03-04 21:10] Fourdee commented on #1546
Marking as completed, all items added, i'll roll ```G_WHIP``` out throughout all scripts gradually (will take some time).

[2018-03-04 21:10] #1546 closed, assigned to Fourdee

[2018-03-04 21:21] Fourdee commented on #1566
Radarr have updated their binary, resolves outstanding issues with latest mono library:
- 🈯️ Sonarr
- 🈯️ Radarr

Patched re-installs for v6.3, ETA release March 7th. Completed.

[2018-03-04 21:21] #1566 closed, assigned to Fourdee

[2018-03-05 11:34] Tnnuy-sv commented on #1577
I'm using version v6.2 !! I think the swapfile is shut down because I use the disk in NTFS format, I'll try to put it in ext4, just wanted to know if the error was out of memory, I have other mini pcs like tinker board, odroid c2, odroid xu4

edit :Do you think the error is caused by the lack of memory?

[2018-03-05 13:04] eogextreme commented on #1500
Thanks cuph62,

I will try to convert it, though it would be nice if @Fourdee could make the qcow2 available on the Dietpi downloads section <hint> :)

[2018-03-05 13:56] Fourdee opened #1588 "NanoPi Neo"

[2018-03-05 17:48] Fourdee commented on #1588
- 🈯️ Image: based on FriendlyARM official image: http://dietpi.com/downloads/images/DietPi_NanoPiNEO-ARMv7-Buster.7z
- 🈯️ Update dietpi.com

[2018-03-05 17:53] skane165 commented on #1569
Hello user have replied 4 days ago =P

[2018-03-05 19:20] Fourdee opened #1589 "DietPi-Software | Aria2 update binaries"

[2018-03-05 19:54] Fourdee commented on #1580
@MichaIng

Had to change the detection of completion of timesync:
[code]

The downside is, if the log entries truncate in systemd, our check for successful sync, will fail.

We need a better way of detecting its completion. as ```timedatectl status``` cannot be used without ```dbus```.

We may need to install ```dbus``` along side ```systemd-timesyncd```

[2018-03-05 19:55] Fourdee commented on #1580
Setting high, to prevent me getting side tracked with other tickets :)

[2018-03-05 20:25] MichaIng commented on #1580
@Fourdee

Jep thought the same. Actually everything _could_ be managed without `dbus`:
- `timedatectl set-ntp true` does nothing more than:
`systemctl enable systemd-timesyncd && systemctl start systemd-timesyncd`
- `timedatectl status` can be replaced as you mentioned.
You could use `systemctl status systemd-timesyncd | grep -q 'Status: "Synchronized to time server'` which will high likely not be

[2018-03-05 21:17] Fourdee commented on #1580
@MichaIng

Agree 👍

Yep, would be nice to remove NTP, however, I remember a while back systemd-timesync took nearly 2/3X longer to sync than NTP in my tests. May be a configuration issue (the old one), but yep, I'll look at removing NTP and switching to systemd-timesync if its viable.
But then, ```dbus``` installed by default, larger image (1MB, not too bad)

---

🈴 30-60 seconds to sync on RPi wi

[2018-03-06 02:03] JimLee1996 commented on #1588
Awesome!

[2018-03-06 11:59] JimLee1996 commented on #1588
[Bug Report]Dietpi-Software

![tim 20180306195822](https://user-images.githubusercontent.com/15334330/37031170-c094ff04-2178-11e8-82de-709e0fc4b39f.png)

[2018-03-06 16:21] Fourdee commented on #1588
@JimLee1996

Thanks for the report 👍

Which software title/s did you select for install?

[2018-03-06 18:17] Fourdee commented on #1580
@MichaIng

Ok, will leave NTP in for now (due to https://github.com/Fourdee/DietPi/issues/1580#issuecomment-370569005), i did make all the changes in a new branch to test:
https://github.com/Fourdee/DietPi/commit/29e7f53443ed0337301582cf31626dc19d7aafa9

[2018-03-06 18:35] Fourdee commented on #1588
@JimLee1996

The issue https://github.com/Fourdee/DietPi/issues/1588#issuecomment-370759100 will be fixed in v6.3 update, should be released tomorrow.

I'll mark this as completed.

[2018-03-06 18:35] #1588 closed, assigned to Fourdee

[2018-03-06 19:59] #1580 closed, assigned to Fourdee

[2018-03-06 20:02] Fourdee commented on #1569
@skane165

Hi, we are busy with the v6.3 release for tomorrow.

I lack the device to test the driver install.
When I'am able, i'll check the driver install code and see if anything crops up that may offer a solution.

[2018-03-06 20:07] Fourdee commented on #1587
@janbildsoehansen

I'll mark this as closed, question answered. Please reopen if required.

[2018-03-06 20:07] #1587 closed, assigned to nobody

[2018-03-06 20:08] #1584 closed, assigned to nobody

[2018-03-06 20:09] Fourdee commented on #1577
@tnnuyri

I believe so. Adding swapfile and sticking with 1 bittorrent client should resolve.

[2018-03-07 01:02] JimLee1996 commented on #1588
In optimized software->nginx mariadb php.

[2018-03-07 04:01] reigelgallarde commented on #1542
my way of doing this was with udev... haha I've swap wlan1 and wlan0... might not be a great solution but works for me.

[2018-03-08 02:54] TheRinger opened #1591 "ntp behind http/tcp proxy"
NTP service is using UDP protocol to sync the time. So HTTP/TCP proxy may not work for it.
An alternative for this is htpdate package available in debian/ubuntu repos, it would allow bootstrapping installs behind http/tcp proxies.

[2018-03-08 06:54] ragadeeshu opened #1592 "Upgrade from 6.2 to 6.3 resets dietpi user password"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version | ```cat /DietPi/dietpi/.version```?
6.2 to 6.3
- SBC Device (EG: RPi 3)?
Asus tinkerboard
- Power supply used (EG: 5v 1A RAVpower)?
Rpi official power supply
- SD card used (EG: Sandisk ultra)?
Some fast toshiba thing
- Distro (EG: Jessie) | ```uname -a```?
Linux DietPi 4.4.71+ #1 SMP Wed Nov 15 14:31:48 CST 2017 armv7l

[2018-03-08 09:21] skane165 commented on #1569
Oki np =)

[2018-03-08 11:29] MichaIng commented on #1592
@ragadeeshu
Thanks for your reports. Yes that is true, to implement a new boot service we rerun the core environment script, which also resets dietpi password: https://github.com/Fourdee/DietPi/blob/master/dietpi/func/dietpi-set_core_environment#L45

@Fourdee
Maybe we can check for user existence first before resetting/setting password. Generally I think setting core environment might reset too mu

[2018-03-08 12:03] theverymrp opened #1593 "Failed update to 6.3 from 6.2"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version | v6.2
- SBC Device     | RPi 2 Model B (armv7l) (index=2)
- Distro         | stretch (index=4)
- Command        | G_AGUP
- Error Handler  | G_ERROR_HANDLER

#### Additional Information (if applicable):
- Software title | DietPi-Software

#### Expected behaviour:
update completes

#### Actual behaviour:
update fails

####

[2018-03-08 12:17] MichaIng commented on #1593
@theverymrp
Thanks for your report. I am afraid the fix for your issue is provided with the update, but AFTER the issue already occurs and leads to failure: https://github.com/Fourdee/DietPi/blob/master/dietpi/patch_file#L328

Ref: https://github.com/Fourdee/DietPi/issues/1388

Please do the following before running dietpi-update:
`G_AGI dirmngr`

I am wondering why this suddenly appeared, as befo

[2018-03-08 13:36] theverymrp commented on #1593
thanks @MichaIng. I've done as requested but am now facing a second issue. I can't run dietpi-update/config/launcher anymore, command not found :(

[2018-03-08 13:57] Fourdee commented on #1592
@MichaIng

Yep, agree 👍
Manual patch changes from v6.3 onwards, avoiding the use of ```dietpi-set_core_environment``` during patches.

We'll need to leave the current entries for ```dietpi-set_core_environment``` in the v6.3< patch file, as it will be near impossible to back track all the manual changes required, most likely creating more issues down the line.

Yep 👍 , we can avoid the password re

[2018-03-08 14:00] Fourdee commented on #1592
@MichaIng
Sent commit: https://github.com/Fourdee/DietPi/commit/b20014b2e19a72a37eb44919c630e8b8673cbd2d

[2018-03-08 14:48] MichaIng commented on #1593
@theverymrp
Ah I guess this is due to new updated files are already in place but new necessary service was not yet implemented as part of patch_file process, leading to missing sourceing of dietpi-globals.

Please do:
`source /DietPi/dietpi/func/dietpi-globals`

[2018-03-08 14:59] Fourdee commented on #1593
@theverymrp

Lets check space, please paste results:
[code]

@MichaIng

Yep 👍 I'll setup a system and replicate the issue, just want to runs some checks.

[2018-03-08 15:02] theverymrp commented on #1593
@MichaIng perfect, that worked and update now successfully completed :)

@Fourdee

Filesystem              Size  Used Avail Use% Mounted on
/dev/root                30G  1.5G   27G   6% /
devtmpfs                484M     0  484M   0% /dev
tmpfs                   489M  8.0K  489M   1% /dev/shm
tmpfs                   489M  6.4M  483M   2% /run
tmpfs                   5.0M     0  5.0M   0% /run/lock

[2018-03-08 15:04] MichaIng commented on #1593
Ah tats true, just saw the GPG error on apt update and remembered the issues users faced with missing dirmngr.

@theverymrp
Okay good, whyever the space error message appears then. Seems like a snake biting it's own tail. No apt update without dirmngr with some repos and no dietpi update with fix included without apt update. Hmm I think best solution it then to allow finish of update even if G_AGU

[2018-03-08 15:13] Fourdee commented on #1593
@theverymrp

Thanks. 👍

@MichaIng
0 swapfile (tmpfs out of space?), believe this is only on the RPi v6.2 image (bug, swapfile gen set to 0). But we should patch for auto swapfile size and regen during v6.4 just to make sure.

[2018-03-08 15:43] Fourdee commented on #1593
@MichaIng

Yep, Warnings do not cause ```G_AGUP``` to fail, only the errors, which I believe are related to 0 swapfile and tmpfs out of free space:
[code]

[2018-03-08 16:52] Elluminatus opened #1594 "Problem with PREP_SYSTEM_FOR_DIETPI.sh Failure"
#### Required Information:
- DietPi Version | v.
- SBC Device     | NULL (index=22)
- Distro         | jessie (index=3)
- Command        | G_AGDUG
- Error Handler  | G_ERROR_HANDLER

#### Additional Information (if applicable):
- Software title | DietPi-PREP_SYSTEM_FOR_DIETPI

#### Expected behaviour:
packages shoukd be authenticated

#### Actual behaviour:
packages cannot be authenticated

#### S

[2018-03-08 17:30] MichaIng commented on #1594
@Elluminatus
Thank you for your report.

We define the `--force-yes` (on Stretch+ `--allow-unauthenticated` and others) options but do not apply them within `G_AGDUG` function. Might be due to possible issues of applying all of them, as they are a bid dangerous, or we just forgot it: https://github.com/Fourdee/DietPi/blob/master/dietpi/func/dietpi-globals#L1438-L1463

Please try the following, fro

[2018-03-08 17:48] Fourdee commented on #1594
@MichaIng

Probably forgot 😃. I'll add it back in.

[2018-03-08 17:53] Fourdee commented on #1594
@Elluminatus

Which device are you running, and, which Debian pre-image was used?

[2018-03-08 18:12] Fourdee commented on #1594
@MichaIng

Those should cover it I believe for stock debian repo. Additional added repos must have key installed, where available.

[2018-03-08 20:13] MichaIng commented on #1227
Further notes:
- If on WMware the within grub applied resolution is higher than the maximum allowed by WMware settings, it results just the WMware/machines default of 800x600 (even if higher maximum is allowed).
- Same for unsupported resolutions on WMware and VirtualBox.
- VirtualBox however seems to have a hard limit of 1600x1200, where higher or disabled maximum settings as well as other settin

[2018-03-08 20:26] MrGlasspoole opened #1595 "Remove login?"
Is it possible to remove the login and DietPi output?
![login](https://user-images.githubusercontent.com/2067170/37174464-dba02aa4-2316-11e8-914a-c48ca421f872.jpg)

I already have:
`quiet splash plymouth.ignore-serial-consoles logo.nologo consoleblank=0 loglevel=1`
in the cmdline.txt.

It would be nice to only see it if a keyboard is attached.

[2018-03-08 21:49] Soulguard commented on #557
Yes, would be very nice if you integrate iobroker to Homeautomation!
Interest peaks ;)

btw. thank you for your fantastic dietpi image!

[2018-03-08 22:13] MichaIng commented on #1510
[code]
- Minimal, but there is a difference 😄.

[2018-03-08 23:17] MichaIng commented on #1581
@Fourdee
Forgot to add the fast fix to v6.3, so PR now there for v6.4: https://github.com/Fourdee/DietPi/pull/1597

I will change aim of this issue now for prototyping with `systemd-networkd`. The difference between `dhcpcd` and `dhclient` seems in the end not too big, thus does not make sense to switch this with all the risk this might have for existing devices.

[2018-03-08 23:22] ccc0der opened #1598 "3.5 inch LCD white screen"
Hello.
I'm trying to set up the [3.5 inch LCD with touch screen](https://ru.aliexpress.com/item/2016-Original-3-5-LCD-TFT-Touch-Screen-Display-with-Acrylic-Case-Compatible-for-Raspberry-Pi/32701628698.html?spm=a2g0s.9042311.0.0.qbVYhv). It was working in both Raspbian and Ubuntu Mate.
But after installing drivers (I tried 3 versions: 170703, 160715 and 151102) I always get the same white screen an

[2018-03-09 08:37] symbios24 opened #1599 "DietPi-Config | Option to switch Wifi/Tor Hotspot"
Hello i installed both Wifi Hotspot / Tor Hotspot in latest dietpi for RaspberryPi3 if i want o use only the WiFI Hotspot without the Tor how can i do it without uninstalling the Tor?

Thanks

[2018-03-09 12:30] MichaIng commented on #1581
🈯️ Network + DHCP sync works well on **VM Jessie**
🈯️ **VM Buster**
🈯️ **VM Stretch**

Steps to apply networkd with internal DHCP server:
[code]

Generally these services can be stopped/disabled/ran as oneshot on stationary servers. I would offer handling like NTP:
1. Just run on startup, stop after network is there. E.g. keep enabled to allow early boot network, then stop within DietPi-Boot, afte

[2018-03-09 14:32] LexiconCode opened #1600 "DietPi-Software | New version of UrBackup server available (2.2.7)"
There is a new version of UrBackup server available (2.2.7). Download it [here](http://www.urbackup.org/download.html).

#### Required Information:
- DietPi Version 6.3
- SBC Device (EG: C2)
- Distro (Jessie)

#### Additional Information (if applicable):
- Software title?
- Can this issue be replicated on a fresh installation of DietPi?

[2018-03-09 14:33] LexiconCode commented on #1600
How would you recommend upgrading UrBackup?

[2018-03-09 14:52] LexiconCode commented on #1552
If Kodi/GPU is holding up Odroid Stretch could you release without if it could be updated with DietPi later?

[2018-03-09 14:56] Fourdee commented on #1552
@LexiconCode

C2 Stretch is done (minus GPU/KODI):
http://dietpi.com/downloads/images/DietPi_OdroidC2-ARMv8-Stretch.7z

I've plans to do the XU4 and C1 stretch images aswell (minus GPU/KODI). Will post them here when completed.

[2018-03-09 15:07] Fourdee commented on #1600
@LexiconCode

Thanks for the heads up 👍

Updates are handled by us, via patched re-installs.

I'll update the install versions and run a patch for v6.4

[2018-03-09 15:11] Fourdee commented on #1600
@LexiconCode

Completed, 2.2.8 will be installed during patch: https://github.com/Fourdee/DietPi/commit/0fd3bf315f2f0c538027a39b22c19d7d95d33159

v6.4 is planned for release today.

[2018-03-09 15:11] #1600 closed, assigned to Fourdee

[2018-03-09 17:02] MichaIng commented on #1595
@MrGlasspoole
<s>The DietPi login screen is handled within `~/.bashrc` => `/DietPi/dietpi/login`. Besides the visual output it does some other useful/necessary/wanted steps, thus it should not be removed!
But you could disable the visual output to screen by editing .bashrc:
`sed -i 's|/dietpi/login|/dietpi/login &> /dev/null|' /root/.bashrc`</s>

Whoopsie, it's about the postboot screen:
After v6.

[2018-03-09 17:36] Fourdee commented on #1599
@symbios24

Its a little complicated, due to the iptables that are configured for Tor, during installation.

Currently, to switch, you need to remove Tor, which also removes WiFi hotspot as it needs to flush everything. Then reinstall WiFi Hotspot.

[2018-03-09 17:43] Fourdee commented on #1595
I believe @MichaIng answer should offer a solution.

I'll mark this as closed, due to the following:
- DietPi boot messages are part of the DietPi experience.
- We do not officially endorse/support removing the DietPi boot messages.

[2018-03-09 17:43] #1595 closed, assigned to nobody

[2018-03-09 17:46] Fourdee commented on #1598
@ccc0der

Hi,

How are you installing the drivers? We'll need to see what commands/scripts are run to assist.

[2018-03-09 18:14] Fourdee commented on #1593
Resolved after v6.4 patch.

[2018-03-09 18:14] #1593 closed, assigned to nobody

[2018-03-09 18:14] Fourdee commented on #1592
Resolved for v6.4.

[2018-03-09 18:14] #1592 closed, assigned to Fourdee, MichaIng

[2018-03-09 18:14] Fourdee commented on #1567
Done.

[2018-03-09 18:14] #1567 closed, assigned to Fourdee

[2018-03-09 19:45] ghost commented on #1599
@symbios24` as @Fourdee answered, it depends upon the iptaples config.

for TOR:
     `sudo iptables -t nat -A PREROUTING -i wlan0 -p tcp --dport 22 -j REDIRECT --to-ports 22`
     `sudo iptables -t nat -A PREROUTING -i wlan0 -p udp --dport 53 -j REDIRECT --to-ports 53`
     `sudo iptables -t nat -A PREROUTING -i wlan0 -p tcp --syn -j REDIRECT --to-ports 9040`

for only Hotspot:
    `sudo sysctl -

[2018-03-09 20:11] ghost commented on #1594
@Fourdee just a lil hint upon version numbering: Just use something like 6.3.1 for low updates and 6.x for higher and better fixes and updates! ;)
If you'll just use more than 6.x updates, i'll guess we'll see 7.x by June'18 :octopus:

[2018-03-09 20:18] ghost commented on #1594
Debian Buster may be a solution..... as myself if i use "Buster" upon Stretch with "Prep", i have no problmes so far..... is it only myself?

[2018-03-09 20:49] MichaIng opened #1602 "DietPi-Set_dphys-swapfile | Failure with option 1"
#### Required Information:
- DietPi Version | v6.3
- SBC Device     | RPi 2 Model B (armv7l) (index=2)
- Distro         | buster (index=5)
- Command        | dphys-swapfile setup
- Error Handler  | G_ERROR_HANDLER

#### Additional Information (if applicable):
- Software title | DietPi-dphys-swapfile

#### Expected behaviour:
Swapfile should be renewed

#### Actual behaviour:
Program fails on `dphy

[2018-03-09 21:27] ccc0der commented on #1598
@Fourdee
I used all drivers from [here](http://www.raspberrypiwiki.com/index.php/How_to_use_LCD_driver).
I started from [170703](http://www.raspberrypiwiki.com/index.php/File:LCD-show-170703.tar.gz). I unzipped it in the home folder, and then I run LCD35-show. After installing it automatically reboots, and the 3.5 screen is still not working.
I repeated all actions with [151102-V2](http://www.rasp

[2018-03-09 22:23] MichaIng commented on #1602
On VM the command does not fail, but the file is not removed as well:
[code]

Maybe just on RPi, maybe just or in combination with swapfile on external drive, the command fails. But on every device removal of swapfile does not work. Somehow it does work if done manually. But within script `dphys-swapfile uninstall` seems to be necessary:
[code]

[2018-03-09 23:04] MichaIng commented on #1594
@SuBLiNeR @Fourdee

I thought about the same, doing some subsub versioning for hotfix updates. But as it does not affect function, I would keep this with low priority in mind 😉.

Distro upgrades always bear the risk of errors, I guess the APT package and system dependencies are just too complex to totally avoid. `--force-yes` (on Jessie) respectively `--allow-unauthenticated` (Stretch and afterwar

[2018-03-10 03:54] TheExpertNoob commented on #1511
Sorry I'm late to this party, but I used Windows' WinDiskImager to image the eMMC with the adapter just as I would a micro SD card with no issues.

[2018-03-10 04:15] TheExpertNoob opened #1603 "Kodi on Rock64"
#### Required Information:
- DietPi Version? **v6.4**
  but reads:
  6
  4
- SBC Device? **Rock64 (4Gb)**
- Power supply used? **5v 3A**
- SD card used? **N/A eMMC (16Gb)**
- Distro? **Linux DietPi 4.4.77-rockchip-ayufan-136 #1 SMP Thu Oct 12 09:14:48 UTC 2017 aarch64 GNU/Linux**

#### Additional Information (if applicable):
- Software title? **Kodi**
- Can this issue be replicated on a fresh inst

[2018-03-10 04:18] TheExpertNoob commented on #1603
haha, should have read the CHANGELOG

[2018-03-10 05:16] Drew80 opened #1604 "Desktop not working Pine64"
## Creating a bug report/issue:
Desktop Environment not loading on Pine 64 A+

#### Required Information:
- **DietPi Version |** v6.4
- **SBC Device |** Pine64 A+ 1GB (Kickstarter edition)
- **Power supply used |** 5v 2.5A bought from Pine.org
- **SD card used |** Adata 16gb class 10
- **Distro |** Linux DietPi 3.10.104-2-pine64-longsleep # 113 SMP PREEMPT Thu Dec 15 21:46:07 CET 2016 aarch64 GNU/

[2018-03-10 07:10] symbios24 commented on #1599
Hi, thanks for the response it will be nice to add an option inside the dietpi-config to switch between normal hotspot and tor

[2018-03-10 11:05] ChargingBulle opened #1605 "Default Nextcloud install doesn't use configured userdata"
#### Required Information:
- DietPi Version | **6.2**
- SBC Device | **Raspberry Pi 3b**
- Power supply used | **direct to wall socket**
- SD card used | **SanDisk 16 GB**
- Distro | **Linux cloud 4.9.59-v7+ #1047 SMP Sun Oct 29 12:19:23 GMT 2017 armv7l GNU/Linux**

#### Additional Information (if applicable):
- **NextCloud 13** on **Lighthttpd**
- Can this issue be replicated on a fresh installat

[2018-03-10 11:20] ChargingBulle opened #1606 "[dupe] HTTPS for dietpi.com (SSL for the website, downloads, forum, ...)"
dietpi.com lacks HTTPS support.
It just doesn't feel right to download images via insecure connections
(```http://dietpi.com/downloads/images/DietPi_RPi-ARMv6-Stretch.7z```)

[2018-03-10 11:47] phdelodder opened #1607 "External drive containing userdata isn't automounted"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version | **6.4**
- SBC Device | **Rock64**
- Power supply used | **Original Wall Socket**
- SD card used | **SanDisk 16GB**
- Distro (EG: Jessie) | `Linux copperhead 4.4.77-rockchip-ayufan-136 #1 SMP Thu Oct 12 09:14:48 UTC 2017 aarch64 GNU/Linux`

#### Additional Information (if applicable):
- Software title? **dietpi-drive_man

[2018-03-10 12:28] ChargingBulle commented on #1605
⚠️ When I first installed NextCloud on DietPi 6.2 I had trouble connecting to the MariaDB. [This YouTube video shows the same misconfig at about 1:50](https://www.youtube.com/watch?v=O8h_Dlf2MOA).
I just tried with 6.4 again and NextCloud was set up correctly (including admin account with password "dietpi".

### Cannot reproduce error!

~

What I did:

(1) Fresh SD Card flash with following image:

[2018-03-10 12:28] #1605 closed, assigned to MichaIng

[2018-03-10 13:18] ChargingBulle opened #1608 "DietPi-Software | Option to allow access to single website on webroot"
When installing a `$webthing` dietpi serves this service via `/$webthing` (for example `/wordpress` when installing Wordpress), leaving `/` as the default webserver post-install page.
That's all fine when installing multiple optimized software packages but odd when installing only a single one.

I'd like to have an option **"serve `$webthing` at root"** in the dietpi setup.
Bitnami has a `bnconfig

[2018-03-10 13:23] ChargingBulle commented on #1607
#1605 _maybe_ related?

[2018-03-10 13:30] Fourdee commented on #1606
@JonasDralle

Hi,

Thanks for the feedback.

We already have a ticket request for this feature, i'll mark this as closed in favor of:
https://github.com/Fourdee/DietPi/issues/830

[2018-03-10 13:30] #1606 closed, assigned to nobody

[2018-03-10 13:35] MichaIng commented on #1608
@JonasDralle
Thank you for your feature request. I already thought the same when another user wanted to have Nextcloud available on web root. This totally makes sense if you do not plan to install other web services besides. Currently if user configures its webserver manually for this, it will break further web service installations by dietpi-software.

It might be thinkable to implement a variabl

[2018-03-10 13:37] Fourdee commented on #1607
Due to ```CONFIG_AUTOFS4_FS=n``` in kernel config I believe, with the pre-image/kernel we use: https://github.com/ayufan-rock64/linux-build/releases/tag/0.5.15

Which is out of our control unfortunately.

### Workaround is to remove the automount option from fstab:
@phdelodder

[code]

[2018-03-10 13:38] Fourdee commented on #1607
I'll see if we can add a workaround/autofs4 detection in our sourcecode.

[2018-03-10 14:18] Fourdee commented on #1607
#### Resolved for v6.5:
- DietPi-Drive_Manager | Resolved an issue where x-systemd.automount would fail if autofs4 was disabled in kernel/modules (eg: Rock64). x-systemd.automount is now disabled for systems which fail autofs4 detection: https://github.com/Fourdee/DietPi/issues/1607
- Fix applied during patch.

I'll mark this as closed.

@phdelodder
Please let us know if problems persist after run

[2018-03-10 14:18] #1607 closed, assigned to Fourdee

[2018-03-10 14:21] Fourdee commented on #1604
@Drew80

Thanks for the report 👍 , looks like fbturbo driver being outdated against Xorg. We'll take a look.

[2018-03-10 14:41] Fourdee commented on #1603
@TheExpertNoob

Hi,

Thanks for the report.

GPU features are disabled for the Rock64 (and Kodi), we do not support it currently.

~I'll edit ```dietpi-software``` to disable Kodi for this device.~ Its already disabled, did you install Kodi via ```apt```?

[2018-03-10 14:51] TheExpertNoob commented on #1603
yes I did.

After the fact I read over
https://github.com/Fourdee/DietPi/issues/380
since its dated, I may look over the repositories mentioned and see if anything has been updated, and maybe help out in getting GPU working if modules build properly.
Hopefully get something working at least at 1080p 30fps and not 0.5 fps :-D

[2018-03-10 15:25] Fourdee commented on #1604
@Drew80

Binaries updated for Stretch, please run the following command to reinstall Xserver + fbturbo drivers:
[code]

Please let us know if this resolves.

[2018-03-10 15:40] Fourdee commented on #1602
@MichaIng

Confirmed, good spot 👍

Notes (i'll edit/add more during testing):
[code]

---

remove dphys-swapfile, handle this in our scripts ourselves?
https://askubuntu.com/a/126049

[2018-03-10 15:46] phdelodder commented on #1607
@Fourdee the workaround fixed the issue.

[2018-03-10 16:03] Fourdee commented on #1598
**LCD35-show:**
_I've seen some "bad" bash scripts in my time, but this is pure dedication lol._
- ```/boot/config.txt``` is completely overwritten, this may cause issues with expected scrapes from DietPi if the file lacks default RPi items.

Ok, I believe the solution here is to copy /boot/config.txt to DietPi-RAMdisk after running ```./LCD35-show``` eg:
- Install driver ```./LCD35-show```
- ```c

[2018-03-10 16:38] Drew80 commented on #1604
@Fourdee

YES! That did it.  I don’t have time this morning to test it out with LXDE, but I will have time to double check it this weekend on a fresh install.

Thank you so much Finally can move forward with my magic mirror project on the Pine64

Which would be nice as an install option / feature request.

I found this on the MagicMirror.builders website  So I’m going to be giving it a try

https:

[2018-03-10 17:40] kevinshane commented on #1551
+1 yes please, looks like it's very nice sbc

[2018-03-10 18:45] ccc0der commented on #1598
@Fourdee
I tried copying after installing both 151102-V2 and 170703 virsions, but it still not working

[2018-03-10 21:24] Drew80 commented on #1604
@Fourdee
I did a fresh install on the same brand of SD card (ADATA 16GB) and installed LXDE expecting the same issue however it installed fine this time.  I was unable to reproduce the error I was getting with LXDE the first time but I can confirm that both LXDE & MATE have been installed and working on the Pine64 A+ 1G board with DietPi v6.4  Hopefully the bug will get it's self worked out but at

[2018-03-11 03:11] Drew80 opened #1609 "MagicMirror support"
I stumbled across this the other day.  I was hoping we could get this as an install option for the DietPi.

DietPi running Magic Mirror on arm64 boards (Pine64+, Rock64, Odroid C2).  I have been trying to get it to work however my Linux Foo is not very good.  I can test but I thought with all of the boards DietPi supports it would be a great project and new feature to DietPi OS.

https://github.co

[2018-03-11 06:49] symbios24 commented on #1599
Thank you but with my myopia will take me half a hour to write this every time, if you can add this option in the config sometime in the feature will be nice thanks

[2018-03-11 09:54] raibtoffoletto commented on #1602
Hey guys,
I was attempting to install DietPi and also got the same error.
I'm not sure if it is because I'm attempting to install it on a 2gb SD
(my 16gb died yeterday), I can try later in a bigger one to check if its
not just lackage of disk space since my disk is like this:

Filesystem     1K-blocks    Used Available Use% Mounted on
/dev/root        1817488 1801088         0 100% /

==LOG==

###

[2018-03-11 13:03] MichaIng commented on #1605
@JonasDralle
Thanks for your report and positive feedback after all 👍.

The issue you faced first occurs if something went wrong with the Nextcloud command line installation: https://docs.nextcloud.com/server/13/admin_manual/configuration_server/occ_command.html#command-line-installation-label
This includes database and database user creation and setting up data folder. But if somehow on MariaDB i

[2018-03-11 14:24] Fourdee commented on #1604
@Drew80

Hi Drew,

Yep, this is because we updated the binaries on dietpi.com which get downloaded during the install of v6.4.

Thanks for testing this and confirming resolved 👍 . I'll mark this as completed.

[2018-03-11 14:24] #1604 closed, assigned to Fourdee

[2018-03-11 14:25] Fourdee commented on #1609
@Drew80

Many thanks for the request, looks interesting 👍

As with all software requests, we initially mark them as closed, then await interest from our community before reopening and investigating.

[2018-03-11 14:25] #1609 closed, assigned to nobody

[2018-03-11 14:30] Fourdee commented on #1602
@raibtoffoletto

Hi,

DietPi requires a 4GB minimum SD card, to ensure a stable experience and sufficient swapfile based on total memory: http://dietpi.com/phpbb/viewtopic.php?f=8&t=9#p9

Previously, it was possible to set swapfile size to 0 in ```dietpi.txt```, however, due to previous issues with swapfile generation on some images, we had to forcefully recreate them for all devices in v6.4 patch

[2018-03-11 14:32] Fourdee commented on #1602
@raibtoffoletto

Try running the following command to revert swapfile to 0MB:
[code]

[2018-03-11 20:26] mzeichner commented on #1355
Is there anyplace (link to) that I can find detailed instructions on how I can update an rpi3 running version 158 to 160?

[2018-03-11 21:23] raibtoffoletto commented on #1602
@Fourdee
Thanks a lot! I'm so sorry, I didn't see the 4gb requirement on the instructions.
(I was looking at an out-of-date guide somewhere and I didn't check it).

Anyway, I managed by copying var/ to an external usb and edit it to mount via /etc/fstab before first boot.
The install went without problems.

The problem was that with the swap error, the installation breaks and I don't have access a

[2018-03-12 10:52] kevinshane commented on #1551
Hi @Fourdee Dan, I've falshed the NanoPi Neo image http://dietpi.com/downloads/images/DietPi_NanoPiNEO-ARMv7-Stretch.7z into the NanoPi Duo, it's working great even the image says support Neo only, please consider modifying the Neo image to suit for Duo, also please add transfer rootfs to ssd function (armbian and ubuntu currently already supported) It's very important for such a small board like

[2018-03-12 16:13] k-plan commented on #1570
No reply so far, i'll mark as closed.
However, please reopen if required.
Thanks.

[2018-03-12 16:13] #1570 closed, assigned to nobody

[2018-03-12 16:25] Fourdee commented on #1602
@MichaIng

Resolved:
https://github.com/Fourdee/DietPi/blob/testing/dietpi/func/dietpi-set_dphys-swapfile#L102-L124
- Removed dphys-swapfile
- Do it ourselves in script above
- ```faallocate``` for speedy swapfile generation. Downside is possible fragmentation, however, shouldnt affect solid state drives.

Tested:
- 🈯️ 1 /var/swap > 1 /mnt/dietpi_userdata/.swap
- 🈯️ 1 /mnt/dietpi_userdata/.swap >

[2018-03-12 16:25] MichaIng opened #1610 "Odroid HC2"
Am I right, that Odroid HC2 is just a XU4 with 3,5" HDD holder, thus we can officially add HC2 to download and preparation script list as well?

[2018-03-12 16:28] Fourdee commented on #1610
@MichaIng

Yep, XU3/XU4/HC1/HC2 are all the same device in relation to kernel and image.

Our XU4 image covers all the above.

[2018-03-12 16:29] MichaIng commented on #1610
@Fourdee
Great, just wanted to be sure, if questions appear in forum/here. /close

[2018-03-12 16:29] #1610 closed, assigned to nobody

[2018-03-12 16:30] Fourdee commented on #1610
@MichaIng

👍

I've updated http://dietpi.com/download with HC2 ref

[2018-03-12 16:56] MichaIng commented on #1602
@Fourdee
Very good, I thought already the same, after some research, that the main benefit of `dphys-swapfile` seems to be the automatic swap size determination, which we anyway choose ourself. Thus should be possible to skip this package and use native swap file methods of `mount`.

This eliminates other ideas I had to install/uninstall `dphys-swapfile` on setting/removing swapfile, e.g. for VMs,

[2018-03-13 04:15] MichaIng commented on #1591
@TheRinger
Thanks for your request.

Actually we plan to fully switch to systemd-timesyncd, but as far as I could find out, the issue is the same there.

If considering an alternative to sync through proxies, I would take a look at tlsdate: https://github.com/ioerror/tlsdate
Secure TLS connection at least. What I don't like about both projects, is that they are not actively developed for years...

[2018-03-13 06:53] msongz opened #1612 "how to prevent dietpi lcd screen from sleeping?"
dietpi 6.4
not running cloudshell , just console
pi 2
a kedei screen plug on

will dim after about minutes

[2018-03-13 11:25] chips023 opened #1613 "Squeezebox not running!"
dietpi 6.4
Squeezebox  not running
==================================

root@DietPi:~# squeezeboxserver --d
# **/usr/bin/perl: symbol lookup error: /usr/share/squeezeboxserver/CPAN/auto/EV/EV.so: undefined symbol: Perl_xs_apiversion_bootcheck**
=======================================

root@DietPi:~# service logitechmediaserver start
Failed to start logitechmediaserver.service: Unit logitechmediaser

[2018-03-13 15:10] Fourdee commented on #1602
@MichaIng

Yep to both 👍

I also missed a few things in dietpi-software. I'll make the changes and send a commit.

[2018-03-13 15:21] MichaIng commented on #1510
### grep file vs variable

**grep here string:**
<details>

[code]
</details>

**grep RAM disk file:**
<details>

[code]
</details>

**echo grep**
<details>

[code]
</details>

Interesting, if searching a long string, it is more efficient to grep it from RAM (!!) disk file, instead of echo or here string, I guess because in the latter cases the whole string must be handled/written again every loop

[2018-03-13 16:05] MichaIng opened #1615 "General | New screen clear method to reliably preserve command history"
Sometimes I want to recheck the bash history, especially after `dietpi-software` installation/uninstallation runs or `dietpi-config` executions, but many of our scripts include a `clear` command, which removes the history completely.

I would like to replace `clear` completely with `printf '\ec'`, which clears the current visible screen as well, but preserves the history and therefore allows scoll

[2018-03-13 16:57] MichaIng commented on #944
PR: https://github.com/Fourdee/DietPi/pull/1616

Merged, I mark as closed

[2018-03-13 19:15] Fourdee commented on #1613
@hifitime

Hi,

Thanks for the report.

Which device are you running this on?

[2018-03-13 19:21] Fourdee commented on #1613
notes:
[code]

[2018-03-13 19:29] #944 closed, assigned to nobody

[2018-03-13 19:51] Fourdee commented on #1612
@msongz

Hi,

Try adding ```consoleblank=0``` to ```/boot/cmdline.txt```, then reboot system.

[2018-03-13 22:33] grenzor opened #1617 "Weird characters when typing special characters"
When I try to type some special character it never types it but instead types some other random character. For example when `/` key is typed it types `-` and for other special character keys it types other stuff as shown in screenshot below. Makes it almost impossible to use terminal commands. Letters and numbers type out just fine.

Screenshot: https://i.imgur.com/Zl5uJGE.png

Using the latest Di

[2018-03-13 22:40] Fourdee commented on #1615
@MichaIng

Yep sounds good 👍
Originally ```clear``` was used to minimize any background onscreen text (and text flash at top of screen) during menu navigation.

[2018-03-13 22:42] MichaIng commented on #1617
@grenzor
Thanks for your report.

Jep, that was a mistake by me, leaving german keyboard layout which does not get overwritten by dietpi.txt default "gb" (UK layout) during 1st run setup. To fix you should be able to just switch keyboard layout from within `dietpi-config`.

This issue is fixed with the newest VirtualBox image, uploaded yesterday: http://dietpi.com/downloads/images/

[2018-03-13 22:50] MichaIng commented on #1340
@Fourdee
To come back to this topic:
- **NoMachine**: version 6 available, as well as RPi3/ARMv8 version: https://www.nomachine.com/de/download/linux&id=29&s=Raspberry
  - Tested successfully on VM with: http://download.nomachine.com/download/6.0/Linux/nomachine_6.0.78_1_amd64.deb

[2018-03-13 22:58] grenzor commented on #1617
Thanks, changed keyboard layout and all is fine now.

[2018-03-13 22:58] #1617 closed, assigned to MichaIng

[2018-03-13 23:01] MichaIng commented on #1554
I'll mark this as closed, as TOs issues have been resolved. Feel free to reopen if needed.

[2018-03-13 23:01] #1554 closed, assigned to MichaIng

[2018-03-13 23:07] MichaIng commented on #1561
@DanielSSilva
Were you able to get your python script running via cron?

[2018-03-14 01:53] MichaIng commented on #1227
PR is up: https://github.com/Fourdee/DietPi/pull/1618

[2018-03-14 02:37] chips023 commented on #1613
I tried to remove squeezebox through the control panel and then through sudo dpkg-i logitechmediaserver_7.9.1~1520781386_arm.deb Then, it works fine.

[2018-03-14 06:44] parthgujar opened #1619 "Dietpi Auto-Config over UI"
This is more like a enhancement/feature request. I think it would help beginners all over the world who want to get started with rpi/clones.
The two options on top of my mind are
1. Using MQTT publisher-subscriber model, we could possibly let devices in local network discover a fresh install and configure the O.S (dietpi-software, dietpi-software) with a Android/iOS app over MQTT.
2. Create a http

[2018-03-14 12:37] ezekini opened #1620 "Shairport-sync not working on fresh install"
#### Required Information:
- DietPi Version: 6.4
- SBC Device: ODROID C2
- Power supply used: Generic
- SD card used: eMMC by Hardkernel
- Distro: `Linux DietPi 3.14.79+ #1 SMP PREEMPT Sun Jul 23 00:04:44 CEST 2017 aarch64 GNU/Linux`

#### Expected behaviour:
process should start normally.

#### Actual behaviour:
The process doesn't start apparently due to some problem with libraries libssl.

root

[2018-03-14 13:41] MichaIng opened #1621 "Credits | Rework to separate DietPi code, base image and final image creator"
According to: http://dietpi.com/phpbb/viewtopic.php?f=9&t=2960&p=11407#p11407

@k-plan mentioned an important point about current credits appearance:
- http://dietpi.com/phpbb/viewtopic.php?f=9&t=2960#p11396
- http://dietpi.com/phpbb/viewtopic.php?f=9&t=2960#p11402

We should rework credits to reflect:
1. Who is responsible for DietPi frontend (coding)
2. Who is responsible for base image.
3. Who

[2018-03-14 15:16] LexiconCode opened #1622 "DietPi-LetsEncrypt | Support multiple domains"
[Let's Encrypt](https://community.letsencrypt.org/t/acme-v2-and-wildcard-certificate-support-is-live/55579) now supports wildcard certificates this would be the preferred way to integrate into the diet pi platform and simplify Web servers.

[2018-03-14 15:30] DanielSSilva commented on #1561
Yes I did :) There was also a misunderstanding on my side because i've set it as 1 * * * * * and thought it would run every minute, instead it runs only at the first minute each hour...
It has been fixed. Thank you :D

[2018-03-14 16:29] Fourdee commented on #1561
Marking as resolved. Please reopen if required.

[2018-03-14 16:29] #1561 closed, assigned to nobody

[2018-03-14 16:30] Fourdee commented on #1620
@ezekini

Thanks for the report 👍

We'll try to replicate.

[2018-03-14 16:30] Fourdee commented on #1620
Notes:
```libssl.so.1.1``` due to stretch compiles, Odroid C2 running Jessie ```1.0```.
- https://packages.debian.org/stretch/libssl1.1

[2018-03-14 16:36] Fourdee commented on #1620
@ezekini

Please run the following commands (copy paste all) to fix this for C2 now:
[code]

We'll also get this resolved for v6.5 update.

[2018-03-14 17:11] Fourdee commented on #1621
@MichaIng @k-plan

Yep all good points. 👍

Open to suggestions, @MichaIng how you like your name mentioned? 😃

Who created the final image by using base image above and DietPi-Prep.

We could do a inputbox prompt during PREP. Requesting "Please enter your name", this could then be displayed in the DietPi banner (as opposed to ```Created by : Daniel Knight```)?
Also while loop on input box to force

[2018-03-14 17:12] Fourdee commented on #1620
Resolved for v6.5.
Workaround for v6.4 + C2 now = https://github.com/Fourdee/DietPi/issues/1620#issuecomment-373088691

[2018-03-14 17:12] #1620 closed, assigned to Fourdee

[2018-03-14 17:25] k-plan commented on #1621
@MichaIng

Erst einmal Danke für die Beachtung und Verständnis des Themas.

Eigentlich wollte diese Diskussion von Anfang an aus dem Weg gehen.

Daher auch die damalige Ansage, `PREP_SYSTEM_FOR_DIETPI.sh` gehört nicht in End-User Hände.
Aber es wurde anders entschieden. Gut, damit könnte ich leben. Die Mehrzahl wird es eh' nicht hinbekommen. Sie sind einfach zu bequem oder wurde von uns zu sehr ve

[2018-03-14 17:28] MichaIng commented on #1622
@LexiconCode
Thanks for the hint. If I understand right, than this feature is letsencrypt server side, thus is supported with older CertBot (Debian repo) versions as well, by just providing the domain with wildcard.
- This would need testing, e.g. by dry-run.

As we use the entered domain as well for webserver configuration, we would need to introduce an additional field for domain with wildcard (

[2018-03-14 17:48] ezekini commented on #1620
You are fast! Thank you for the workaround. Long live diet-pi and happy pi day

[2018-03-14 17:52] k-plan commented on #1621
Yep! :100:  :+1:

Not could ... it is must! Without no PREP !

[code]

But this only produce unnecessary workload.
Disallow spreading the world with unsupportable versions.

Correct. For personal use and for your self, it's no problem.
https://github.com/Fourdee/DietPi#dietpi-gplv2-license

But:

Same for the  base image and you have to mention, who is the owner, maker, builder, authors, contribut

[2018-03-14 18:24] Fourdee commented on #1621
@k-plan

The quality level of the questions is underground. Of course, posting is much easier than trying to find an answer.
Almost all answers can be answered by reading in the forum or searching the internet.
The "community" just does not work. And not just since yesterday.

Yep agree.
I'am tempted to disable the forum registrations and revert back to Github for support. The forum is simply a sp

[2018-03-14 18:38] Fourdee commented on #1619
@parthgujar

We had a look at creating a fully featured GUI/web front-end for DietPi in the past, which could replace the whiptail system. However, its a huge undertaking and would require collaboration with web coder/s (which we lack) to pull it off.

In short, its a feature I'd love to have in DietPi, however, due to the time involved to pull it off, it would most certainly impact our current su

[2018-03-14 18:38] #1619 closed, assigned to nobody

[2018-03-14 18:46] ghost commented on #1621
Hi there @all
first thing what should be done at least is to set dietpi.com as an https-site with working SSL and maybe md5's or GPG's provided downloads so ppl will more head over to #DietPi as an alternative to Raspbian Lite images.
In my opinion the DietPi is the most affordable image for the ppl who are familiar with the CLI and not addicted to GUIs.
The ppl who are asking different questions

[2018-03-14 18:52] k-plan commented on #1621
@Fourdee

puuh ...  I really don't know.

Hmm ... github is not a forum or user friendly platform.
It's more difficult to handle. For user and for us.
Most user are incapable to fill your template or copy your great new error message system in here.
I dislike this idea. Sorry.

That's correct! :+1:

Think ever one know, want can be done.
But you have said:  `You can also host the images (unofficia

[2018-03-14 19:32] Fourdee commented on #1340
@MichaIng

Thanks.

Binaries updated https://github.com/Fourdee/DietPi/commit/30e8eb58bdc5f36d52d1455fafc5ae9454bc4fe1, tested RPi 3 with 6.0.78:
- 🈯️

[2018-03-14 22:48] Fourdee commented on #1602
Completed.

[2018-03-14 22:48] #1602 closed, assigned to Fourdee, MichaIng

[2018-03-14 22:50] Fourdee commented on #1577
Marking as closed. Please reopen if required.

[2018-03-14 22:50] #1577 closed, assigned to nobody

[2018-03-15 01:22] MichaIng commented on #1621
@Fourdee @k-plan @SuBLiNeR
Oh wow, my intention was not to start such a deep discussion, thought it a bid easier, but okay.

1. **Resharing/GPL**
As far as I know/understand (fast check wikipedia) and also as I like it, the GPL licence clearly allows free usage and resharing of the product, as long as the user/resharer applies the same GPL licence again. Resharing always bears the risk, that end u

[2018-03-15 02:48] chips023 commented on #1613
I tried to remove squeezebox through the control panel and then through
dpkg -i logitechmediaserver_7.9.1~1521043527_arm.deb

Then, it works fine.

[2018-03-15 02:56] chips023 commented on #1613
May be a problem with the Logitechmediaserver_7.9.1~15xxxxx_all.deb installation package on the dietpi.com server?

[2018-03-15 10:07] chips023 commented on #1613
maby  the problem is  http://dietpi.com/downloads/binaries/all/DietPi-LMS7.9-CPAN_arm64.zip

[2018-03-15 12:47] MichaIng commented on #1505
Great hint from WarHawk: http://dietpi.com/phpbb/viewtopic.php?f=9&t=2960&p=11428#p11421
- Seems possible to automate most Debian installer steps. I will have a look how to handle and integrate this exactly: https://www.debian.org/releases/stable/amd64/apbs01.html.en#preseed-methods

€: Effort seems too high, especially since you need to redo this for every new `mini.iso` release and every distro

[2018-03-15 12:58] nakulbende opened #1623 "Can not update to version 6.4"
## Issue:

I can not update to 6.4. I have run all the apt commands to get any dependencies, made sure  I have internet and I can ping dietpi.com. Here is the output:

[code]
#### System Information:
- DietPi Version | 6.1
- RPi 3
- 5v 2.5A
- Sandisk ultra

#### Possible error?
If you notice, the update script can connect to dietpi.com initially, but not the second time around. Any thoughts? Can s

[2018-03-15 15:41] Fourdee commented on #1621
@MichaIng

Yep, had the same thoughts, looks good 👍

Run the whiptail prompts in PREP, then create a file in ```/DietPi/dietpi/.prep_info``` which we can scrape from ramdisk and banner?

Yep

@SuBLiNeR
Not only do we need SSL, but also a webserver upgrade. We need to migrate from Wheezy to Stretch, without downtime. So i'll discuss with the hosting provider and see if they can offer us another ser

[2018-03-15 16:19] Fourdee commented on #1613
@hifitime

Confirmed issue is limited to ARMv8 under Debian Stretch:
[code]

Leave it with us, we'll try to resolve.

[2018-03-15 17:17] k-plan commented on #1623
@nakulbende

Yes.

Is fixed with DietPi v6.2 update.

https://github.com/Fourdee/DietPi/commit/640ff4f03300772be2f694ef371e75ba5070b0f9

To get `dietpi-update` running now, please edit as `root`:

`root@Odroid-C1:~# nano /DietPi/dietpi/dietpi-services`

and rem out (#)  line 53:

[code]

Save file, and start `dietpi-update`

[2018-03-15 18:44] Fourdee commented on #1613
@hifitime

Will be fixed for v6.5.

Please try the following to resolve now (copy and paste all):
[code]

[2018-03-15 18:51] Fourdee commented on #1613
Resolved for v6.5:
- 🈯️ C2 + Jessie
- 🈯️ C2 + Stretch

[2018-03-15 18:51] #1613 closed, assigned to Fourdee

[2018-03-15 18:51] k-plan commented on #1621
@Fourdee

Had to sleep over this.
Vote for leave it online.
Why? All your documentation and discretion for DietPi is there.
Will be a lot of work to get and host it somewhere else.
And dislike, to get totally depend from a third party platform.
If github will change their terms of use  or want to get paid for their service  ....

@MichaIng

Sehe, du hast dich belesen und auch Gedanken gemacht. :+1

[2018-03-15 21:30] nakulbende commented on #1623
Commented out line 53 - still got the same error. I tried rebooting and restarting the update file. Here is a screenshot of the file:

![image](https://user-images.githubusercontent.com/8712050/37492099-66d0ddda-2876-11e8-8599-1a0f75d2ba2e.png)

[2018-03-16 08:25] luikismi commented on #1427
I have same problem with an orange pi win plus...
I have wifi but i can´t use ethernet, i can´t receive IP, if i use static address it doesn't work too.
I tried in debian,linux server, linux desktop.... with the same result..
Any idea?

[2018-03-16 08:59] k-plan commented on #1623
@nakulbende

1.) -  Can you please share the output again?

-----

[code]
2.) - Is WAN (internet) connection of your RPi via a VPN Tunnel Provider?

----------

3.) - Can you please show:

- ping ip address of your default gateway (router): `root@RPi:~# ping "ip-address-of-your-router"`

- look at you RPi ip address: `root@RPi:~# ip address`

- look at your RPi Kernel IP routing table: `root@RPi:~

[2018-03-16 11:43] nakulbende commented on #1623
My Ethernet connection is directly from the router - the openvpn client actually uses RPi as a host for me to VPN into my network from outside.

Here is the ping output:
[code]
IP address output (my DCHP gives static address to alll):
[code]
Routing table:
[code]

Namesevers: (First one is raspPi itself, as I use pi-hole. But the second one is quad-8)
[code]

Here is the ``dietpi-update`` output:

[2018-03-16 11:58] nakulbende commented on #1623
Oh wait, I just removed DNS servers from my router settings, and it worked! Looked like it was forced to take the fist DNS name server, and did not go to the backup one.

[2018-03-16 12:41] nakulbende commented on #1623
Actually, should not have spoken so soon. I got an error, and when it rebooted, it is on v6.2. Once I get home, I will get the error dump.

I guess as far as this issue goes, we can close it (?) I will open a new one for my update woes.

[2018-03-16 14:32] Fourdee commented on #1623
@nakulbende

I guess as far as this issue goes, we can close it (?) I will open a new one for my update woes.

Continue with this ticket, we can edit the title if needed 😃

[2018-03-16 15:04] damufo commented on #1452
Hello:
Update: flashed by etcher-1.3.1-linux-x86_64
Same problem on rock64 4GB
/dev/mmcblk0p7   466M  453M     0 100% /media/dani/linux-root
/dev/mmcblk0p6   100M   41M   60M  41% /media/dani

![captura de pantalla_2018-03-16_16-03-18](https://user-images.githubusercontent.com/4057369/37527980-ab72933a-2933-11e8-8604-e76e3d979bc6.png)
/boot

[2018-03-16 15:42] Fourdee commented on #1452
Confirmed GPT table corruption. Will try recreating image.

Interesting, running Gparted through the pre-image results in:
![image](https://user-images.githubusercontent.com/7077026/37530776-44230350-2932-11e8-85f9-a7f37c469f65.png)

[code]

[2018-03-16 15:47] damufo commented on #1452
Hello:
Update: flashed by etcher-1.3.1-linux-x86_64
on debian stretch

[2018-03-16 16:51] k-plan commented on #1623
@nakulbende

You have several problems. But point by point.

----------

[code]
Looks good for now.
`dnsmasq` will not be stopped any more, while `dietpi-update` is running.
You have edit `/DietPi/dietpi/dietpi-services` correct and it is working. :+1:

-------------------

Okay. OpenVPN tunnelling is not you problem at the moment. :+1:

---------------

Okay, you default gateway is reachable :+1:

[2018-03-16 17:27] nakulbende commented on #1623
Hey @k-plan , thanks a lot. I will go home and redo this (for some reason, my VPN client is not working, so I can't VPN in and do changes from work. I remember restarting the pi after update to 6.2, so we will see).

Some small questions:

So only here? `Change Mode    STATIC`

And Manually set this? `Static Gateway 192.168.0.1 `

Will do. Out of curiosity, DHCP is giving the pi a static address,

[2018-03-16 18:40] orchardaudio opened #1626 "Please add ApplePi DAC support"
Hello,

Please add ApplePi DAC overlay to your system.

Thanks;
Leo

#### Required Information:
- DietPi Version: All Versions
- SBC Device: All Raspberry Pi Devices
- Power supply used: 5V 3A or 5.25V 3A
- SD card used: Any SD Card
- Distro (EG: Jessie) | Jessie

#### Expected behaviour:
Add overlay so that ApplePi DAC driver can be loaded with config.txt file similar to official Raspian release.

[2018-03-16 19:15] Fourdee opened #1627 "Image update | Support RPi 3 B+"

[2018-03-16 19:15] Fourdee commented on #1627
Completed:
http://dietpi.com/download

[2018-03-16 19:25] Fourdee commented on #1627
Kernel dump/hang when enabling WiFi modules in ```dietpi-config```
- 🈯️ ```/DietPi/dietpi/func/dietpi-set_hardware wifimodules onboard_enable```
- 🈯️ ```/DietPi/dietpi/func/dietpi-set_hardware wifimodules enable```
- 🈯️ ```/DietPi/dietpi/func/dietpi-set_hardware wificreds set```
- 🈴 ```systemctl restart networking``` loss of SSH and all network devices (lo only)
- 🈴 ```wlan0     Interface doesn't

[2018-03-16 19:50] k-plan commented on #1623
@nakulbende

Yes! It is whiptail menu. Move with courser keys and press enter to edit.

After this and hit `Save Changes (Restart Networking)`

your settings should look like this and `#Please use DietPi-Config to modify network settings.`:

`root@RPi-Zero:~# cat /etc/network/interfaces`

[code]

Pi-Hole installation told you to set a static ip to get work properly.

This is a little bit outdated,

[2018-03-16 19:52] Fourdee commented on #1626
@orchardaudio

Hi,

Thanks for the request. Overlay appears to be in current APT kernel:
[code]

I'll add this to ```dietpi-config```.

---

[code]

[2018-03-16 20:18] Fourdee commented on #1626
Completed, available as option in ```dietpi-config``` with DietPi v6.5. ETA 1-2 weeks release.

[2018-03-16 20:18] #1626 closed, assigned to Fourdee

[2018-03-16 20:59] #1227 closed, assigned to MichaIng

[2018-03-16 22:35] nakulbende commented on #1623
So, not sure what just happened. I tried to login with SSH, and this is what I got.

[code]

None of the dietpi-xxx commands work. What is wrong with my dietpi? I did take a backup using dietpi-backup, if needed.

[2018-03-16 23:37] MichaIng commented on #1615
PR is up: https://github.com/Fourdee/DietPi/pull/1629

Would be nice if someone could test this on SBC local terminal.
- e.g. "/DietPi/dietpi/dietpi-banner 1" should clear the current terminal screen but preserve scollback buffer without including whiptail dialogs.

[2018-03-17 13:04] Elluminatus commented on #1594
Hi I am using a banana pi m3 with a raspbian jessie using kernel BPI-M3 kernel 3.4
See here: http://forum.banana-pi.org/t/bpi-m3-new-image-raspbian-jessie-bpi-m3-img-2016-07-13/2009

Hope this might help?

[2018-03-17 13:46] Elluminatus commented on #1594
1st) Okay i tried it again. Now it seems like the whole process is runing through. But when i try to reboot after the system told me to do, the system restarts and I can see 4 failures in red passing by, but to fast to read. The last entry is rebboting, the system reboots a 2nd time,and... the system is not starting. The heartbeat led is blinking 3 to 4 times and the banana pi logo shows up, but t

[2018-03-17 16:56] MichaIng commented on #1568
@dirtyharrywk
Is your issue still present?

[2018-03-17 17:13] dirtyharrywk commented on #1568
No.  I started over using something other then Diet Pi.  I may try again using a new micro as card. Thank you!

[2018-03-17 18:24] k-plan commented on #1568
Closed.

However, please reopen if required.
Thanks.

[2018-03-17 18:24] #1568 closed, assigned to MichaIng

[2018-03-17 19:01] k-plan opened #1630 "DietPi-Image | DietPi-Automation < v6.2"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version

DietPi-image < v6.2

#### Additional Information (if applicable):
- Software title?

DietPi-Automation

- Can this issue be replicated on a fresh installation of DietPi?

only on fresh image installation

#### Expected behaviour:

- Automated setup a fresh installation during first boot up

#### Actual behaviour:

- Need

[2018-03-17 19:47] k-plan opened #1631 "DietPi-config | enable Wifi on RPi Zero W"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version | ```cat /DietPi/dietpi/.version```?
- SBC Device (EG: RPi 3)?

[code]

- Power supply used (EG: 5v 1A RAVpower)?

official RPi PSU 5.1 V / 2.5 A

- SD card used (EG: Sandisk ultra)?

SanDisk Mobile Ultra 4GB

- Distro (EG: Jessie) | ```uname -a```?
[code]

Base:
`DietPi_v6.0_RPi-ARMv6-Stretch.img ` => updated to v6.4

-

[2018-03-17 20:32] TheRinger commented on #1591
I'll do some reading about systemd-timesyncd. Comcast's public internet gateway (xfinitywifi) in the United States blocks udp so I ended up using htpdate in order to sync.

[2018-03-18 01:21] CyberWeapon commented on #1631
"Why -bash: gettext.sh: No such file or directory?"
The error is because the gettext package is not installed. I had the same issue and 'apt install gettext' solved it. I started with a fresh install and didn't see the error. It showed up after I added software (Node-Red, I2C, RPI.gpio and WiringPi). The message is coming from the /etc/profile.d/wifi-country.sh file which is part of the raspberryp

[2018-03-18 03:01] MichaIng commented on #1557
Note for myself: https://www.linuxquestions.org/questions/debian-26/using-dist-upgrade-to-upgrade-from-debian-to-ubuntu-583736/

[2018-03-18 11:44] pgferr opened #1632 "no open-ssh on "DietPi_OdroidC2-ARMv8-Stretch.7z""
in optimezed software i found only dropbear and i have problem connecting by winscp with sftp protocol. If i use "DietPi_OdroidC2-ARMv8-Jessie.7z" is available also open-ssh. Is there any issue?

#### Required Information:
- DietPi Version 6.4
- SBC Device odroid c2
- Power supply used (EG: 5v 1A RAVpower)?
- SD card used samsun 64
- Distro stretch

#### Additional Information (if applicable):
ope

[2018-03-18 12:35] pgferr opened #1633 "apache installation non recognized from "optimized-software""
i am using "DietPi_OdroidC2-ARMv8-Stretch.7z"  and i have installed lamp (maria db) server environment. But in management script there are two prpblems: apache installation is not recognized from "optimized-software"
I can see only lighttpd and i cannot install phpmyadmin?
tks

#### Required Information:
- DietPi Version | 6.4
- Distro stretch
#### Additional Information (if applicable):
- Softwar

[2018-03-18 13:26] k-plan commented on #1633
@pgferr

can you please show us your first screen of `dietpi-software` ?

example:

![180318-0001](https://user-images.githubusercontent.com/17237601/37566361-4d691652-2ab8-11e8-88e3-10ace2d1fd5b.gif)

and output of:

`dietpi-software list | grep "| =2"`

[2018-03-18 13:35] k-plan commented on #1632
@pgferr

![180318-0002](https://user-images.githubusercontent.com/17237601/37566403-e4c7b9f4-2ab8-11e8-90a2-5a4e522bb270.gif)

![180318-0004](https://user-images.githubusercontent.com/17237601/37566410-ef828810-2ab8-11e8-80a9-ca65719bb516.gif)

You have to change SSH Server choice here.
After hit < `OK` > you have to choose `Install` hit < `OK` >

![180318-0006](https://user-images.githubuserconte

[2018-03-18 13:45] k-plan commented on #1631
@CyberWeapon

Thanks for your answer and the hint to `/etc/profile.d/wifi-country.sh` 👍

Here it's started with a fresh install and try to configure wifi first time.
It is no additional software installed.

So let us hope @Fourdee and @MichaIng  can fix it. 😉

As well with `firmware-ralink` and `ntp.service` error message ...

[2018-03-18 13:55] k-plan commented on #1594
@Elluminatus

Without a the output of serial port while boot up (or not) you will never will get closer to the issue.

http://linux-sunxi.org/Sinovoip_Banana_Pi_M3#Adding_a_serial_port

[2018-03-18 14:10] msongz opened #1634 "DietPi-Software | Enable URLs without "/index.php/" for more software title + webserver combinations"
lighthttpd

the link like : `pi2/wordpress/post-name` will not works
but : `pi2/wordpress/index.php/post-name` will work

something about mod_rewrite configuration
any help ?

[2018-03-18 14:37] Fourdee commented on #1627
Other notes:
- 500MHz RAM vs 450MHz on RPi 3
[code]

[2018-03-18 15:03] pgferr commented on #1632
i need php7 for moodle 3.4 and php7 is avilable only for stretch:
also if i use apache 2 i cannot see it.

open ssh is absolutely unavailable

2018-03-18 14:35 GMT+01:00 k-plan <notifications@github.com>:

[2018-03-18 15:53] Fourdee commented on #1630
@k-plan

👍

Confirmed, auto login results in ```G_USER_INPUTS=1```, however, code overwrites this during 1st run:
https://github.com/Fourdee/DietPi/issues/1630#issuecomment-374010963

[2018-03-18 16:04] Fourdee commented on #1630
Existing code should prevent this, ~missing from v6.2?~
- In v6.0 https://github.com/Fourdee/DietPi/blob/14409f2cd8ce9d9894d3fb21ec5f09c26a4041ae/dietpi/login#L221-L237

[2018-03-18 16:13] k-plan commented on #1632
@pgferr

1. - http://dietpi.com/#download => is only `DietPi_v6.0`_**OdroidC2**`-ARMv8-`**Jessie**`.img` at the moment. So this is supported.

2. - `DietPi_v6.2_OdroidC2-ARMv8-Stretch.img` is unready beta/testing image not fully supported.

open-ssh is absolutety working on Odroid C2 DietPi v6.4 - Stretch.
unable to see any problems:

[code]

![180318-0007](https://user-images.githubusercontent.co

[2018-03-18 16:45] Fourdee commented on #1615
Scroll local term RPi 3:
- 🈯️ Shift + Page up/down

@MichaIng

[2018-03-18 16:47] Fourdee commented on #1623
@nakulbende

Please paste results:
[code]

[2018-03-18 17:33] MichaIng commented on #1615
@Fourdee
Great, happy here as well to have the full scroll buffer chosen within PuTTY at all time 😃.

[2018-03-18 19:44] Fourdee commented on #1630
Test:
- 🈯️ RPi 3 > PREP > v6.0 > ```AUTO_SETUP_AUTOMATED=1``` > ```reboot```

@k-plan
Which image/device used?

[2018-03-18 19:45] Fourdee commented on #1615
Completed, @MichaIng  👍

[2018-03-18 19:59] k-plan commented on #1630
@Fourdee

[code]

- RPi Zero W

- `/boot/dietpi/login`

[code]

https://github.com/Fourdee/DietPi/blob/7eb498447680b05a8a81dc84d83afc0ddcbac41c/dietpi/login#L218-L224

[2018-03-18 20:25] k-plan commented on #1630
@Fourdee

before you ask:

Yes, I have noticed, you have uploaded a new one, while you are working on RPi 3 B+ support.

I want to check what is the different/problem with `DietPi_v6.4_RPi-ARMv6-Stretch.img`

(see: http://dietpi.com/phpbb/viewtopic.php?f=11&t=2970)

Have downloaded and install `DietPi_v6.2_RPi-ARMv6-Stretch.img` at Thursday. It install and works fine for me without any problems, e

[2018-03-18 22:10] k-plan opened #1636 "DietPi-Config | Testing - v6.5 Layout"
Layout `dietpi-config` whiptail menu:

Dietpi v6.4:

![180318-0009](https://user-images.githubusercontent.com/17237601/37571768-5adaa00a-2b01-11e8-800a-aa31bf318411.gif)

Dietpi v6.5:

![180318-0008](https://user-images.githubusercontent.com/17237601/37571772-786c0f0a-2b01-11e8-81d9-29a2e1a8b57c.gif)

[2018-03-18 22:43] midwan commented on #1410
@Fourdee
Amiberry v2.18 is now online! :)
https://github.com/midwan/amiberry/releases

- Improved audio latency
- Unique new feature: WHDLoad booter! (check the wiki for details)
- Bugfixes in various places

[2018-03-19 05:43] msongz opened #1637 "want to add a login info "df -h""
i want to know what size left of my storage every login

`df -h | grep '/dev/root'| awk '{ print $4 }'`

so, how to add it to the /DietPi/dietpi/login script ?

[2018-03-19 05:57] msongz commented on #1637
I add it to the bottom of .zshrc to work around
thank you

[2018-03-19 05:57] #1637 closed, assigned to nobody

[2018-03-19 08:54] k-plan commented on #1552
@Fourdee

- C2 | 🈯️ img | 🈯️ gpu | 🈴 Kodi | 🈴  pivpn

![180319-0001](https://user-images.githubusercontent.com/17237601/37586049-6ffd045a-2b5b-11e8-9796-a6947702c63b.gif)

Need for VPN, so I install:

[code]

![180319-0002](https://user-images.githubusercontent.com/17237601/37586335-4f021d5c-2b5c-11e8-8976-0cdf85642c15.gif)

[2018-03-19 10:56] Gokujo commented on #1565
@Fourdee is this feature now integrated in v6.4?

[2018-03-19 11:02] xmijo commented on #1627
I'm getting some kind of kernel-related? error after issuing the reboot command where it will print a stack trace and freeze indefinitely. Not sure how to reproduce because it seems to happen randomly.

This is with the latest image on a Pi 3 B+.

[2018-03-19 11:33] Elluminatus commented on #1594
Hi thank you for the hint. I found a usb to uart adapter and monitored the output: See here:

`
## Booting kernel from Legacy Image at 48000000 ...
   Image Name:   Linux-3.4.39-BPI-M3-Kernel
   Image Type:   ARM Linux Kernel Image (uncompressed)
   Data Size:    5717288 Bytes = 5.5 MiB
   Load Address: 40008000
   Entry Point:  40008000
   Verifying Checksum ... OK
   Loading Kernel Image ... OK

[2018-03-19 11:37] Gokujo opened #1638 "NoMachine is currupt"
#### Required Information:
- DietPi Version | 6.4?
- SBC Device RPi 3
- Distro | ```Linux DietPi 4.9.80-v7+ #1098 SMP Fri Mar 9 19:11:42 GMT 2018 armv7l GNU/Linux```

I tried to install NoMachine, but it failed.
![2018-03-19 12_36_40-192 168 13 22 - putty](https://user-images.githubusercontent.com/19776684/37593450-53678808-2b72-11e8-8bfc-0a20f3a1f6be.png)

[2018-03-19 12:43] k-plan commented on #1638
@Gokujo

Your device has a DNS or network connection problem.

`nomachine_6.0.78_1_armhf.deb` is online and fine:

[code]

Please check you DNS or internet connection from your device for example by:

[code]

[2018-03-19 12:46] Gokujo commented on #1638
@Fourdee some mystery... it works now... there are no problems in the line

[2018-03-19 12:55] woiza opened #1639 "Orange Pi i96 image"
Any plans to release an image for Orange Pi i96?

https://www.96boards.org/product/orangepi-i96/

[2018-03-19 13:43] symbios24 opened #1640 "[lacking template/info]"
Hi, i used latest DietPi 6.4 and installed the wifi hotspot software
after installation has finished and rebooted i see that the start: isc-dhcp-server is failed to start and the hotspot is not created,also when i go to the network options to change the country code from gb to us it tells me that country code cannot be changed.

[2018-03-19 14:10] Fourdee commented on #1639
@woiza

Hi,

Thanks for the request 👍

We will not be able to provide a image/support for this device at this time. However, you can use DietPi-PREP on any Debian pre-image to create your own DietPi installation:
https://github.com/Fourdee/DietPi/issues/1285#issue-280771944

[2018-03-19 14:10] #1639 closed, assigned to nobody

[2018-03-19 14:13] Fourdee commented on #1627
@xmijo

Thanks for the report 👍
I can confirm we are able to replicate the same issues.

We are unsure the cause at the moment, however, learning towards possible kernel teething issues.

Linked to: https://github.com/Fourdee/DietPi/issues/1631#issuecomment-373965406

[2018-03-19 14:17] xmijo commented on #1627
I just edited my post, I see now that you guys are already aware of the wifi issues and the boot error messages seem to have disappeared after a re-image. Not sure what caused it in the first place but seems to work fine now. But if you were able to replicate it was probably not an isolated incident..

[2018-03-19 14:28] symbios24 commented on #1640
there was also an error upon isc-dhcp-server installation an exiting code

[2018-03-19 14:32] xgpt opened #1641 "Spelling on home webpage."
Website has "accessable" which should be accessible. Right on the Raspberry Pi description. Please forward issue to web dev team prior to marking as closed.

[2018-03-19 14:54] Fourdee commented on #1631
1. 🈯️ resolved
2. 🈯️ resolved
3. ```Why try wifi to start and Failed to try-restart ntp.service: Unit ntp.service not found.```
@k-plan
Cant seem to replicate this or find any reference to ntp service in our code. standard timesync mode used in dietpi-config?

[code]

[2018-03-19 14:59] Fourdee commented on #1641
@xgpt

Good spot, thanks 👍

Changes made. Completed.

[2018-03-19 14:59] #1641 closed, assigned to Fourdee

[2018-03-19 15:12] Fourdee commented on #1637
Another option, DietPi-Autostart > custom:
![image](https://user-images.githubusercontent.com/7077026/37603991-db8389f2-2b87-11e8-9ca0-3e0f75ce3ed8.png)
![image](https://user-images.githubusercontent.com/7077026/37604014-e92a953c-2b87-11e8-9827-44f8c20ccbe6.png)

[2018-03-19 15:15] Fourdee commented on #1636
@k-plan

Due to roll out of G_WHIP in DietPi code. This automatically scales window based on screen dimensions against text lines and optional content: https://github.com/Fourdee/DietPi/issues/1546#issuecomment-370173876
Allows us to remove the hard defined whiptail scaling.

#### Completed:
- 🈯️ DietPi-Software
- 🈯️ DietPi-Cron

#### Started
- DietPi-Config

I'am rolling this out gradually in the

[2018-03-19 15:24] Fourdee commented on #1594
@Elluminatus
Thanks 👍

Notes:
[code]

After running PREP, and before rebooting, please try disabling FS expansion:
[code]

Also, if we can get the following before the reboot, may help:
[code]

[2018-03-19 15:28] Fourdee commented on #1638
@Gokujo

Thanks for the report 👍

If not DNS, we could also put this down to possible issue with our host provider during install. However, seems fine now and i'll mark this as resolved.

[2018-03-19 15:28] #1638 closed, assigned to nobody

[2018-03-19 15:37] Fourdee commented on #1640
@symbios24

Hi,

When creating a ticket, a template will be created that allows you to fill out information that we can use to assist. Without this information in the 1st instance, it will involve a lot of back tracking to find a probable cause.

![image](https://user-images.githubusercontent.com/7077026/37605577-630c9820-2b8b-11e8-9e1b-d179ce360ad3.png)

Please create a new ticket and fill out th

[2018-03-19 15:37] #1640 closed, assigned to nobody

[2018-03-19 15:40] #1612 closed, assigned to nobody

[2018-03-19 15:41] Fourdee commented on #1565
@Gokujo

Still pending full support: https://github.com/Fourdee/DietPi/issues/1549

Currently, basic support only via PREP and use of dietpi.txt automation.

Outside of that, manual system entries/configuration are required.

[2018-03-19 15:47] xgpt commented on #1528
https://help.ubuntu.com/community/MiniDLNA << I used this successfully to help me out on a non-dietpi installation, old information, but maybe useful for adapting for use for y'all :smiley:

[2018-03-19 16:29] k-plan commented on #1636
@Fourdee

Ahh ... okay. Make sense. :+1:

A little side note:
 - it will looks not so puzzling, if you will centred the first line ( `Hardware : RPi Zero W` ) as well, so it will  look more like the old whiptail dialogue before.

![2018-03-19 17-43-53](https://user-images.githubusercontent.com/17237601/37609411-571b9090-2b9d-11e8-9699-1eb67991b6f8.png)

Can we close this ticket?

[2018-03-19 16:46] MichaIng commented on #1627
I also faced the missing gettext.sh message. Can investigate this evening.

[2018-03-19 16:53] k-plan commented on #1631
@Fourdee

:cry:

[code]
:wink:

![2018-03-19 17-35-59](https://user-images.githubusercontent.com/17237601/37609562-b07a4a46-2b9d-11e8-858e-9f167b41b0b3.png)

[code]

[code]

[2018-03-19 17:08] k-plan commented on #1630
@Fourdee

- found another `DietPi_v6.0_RPi-ARMv6-Stretch.img` (I now have three different v6.0 img for RPi!)

[code]

If you are sure, where is no DietPi v6.0 for any device to download, < `20/01/2018`, we can close this ticket. Can't download, unpack and check all available `DietPi_v6.0_xxx-ARMxxx-xxxx.7z` for all different devices at the moment.
Thanks.

[2018-03-19 17:15] k-plan commented on #1627
@MichaIng

https://github.com/Fourdee/DietPi/commit/5fda19cdf8879e04eab72fabe0324f0144c3dc8d

Hope this will not open a new case full of worms. :smile:

But: `Why try wifi to start and Failed to try-restart ntp.service: Unit ntp.service not found.` is still open, if you have spare time: https://github.com/Fourdee/DietPi/issues/1631#issuecomment-374240509

_Edit: - or you want to have some fun:_ [R

[2018-03-19 17:17] Elluminatus commented on #1594
@fordee:
Here are the outputs:

blkid:
root@bpi-iot-ros-ai:/home/pi# blkid
/dev/mmcblk0p1: SEC_TYPE="msdos" LABEL="BPI-BOOT" UUID="CE95-5411" TYPE="vfat" PARTUUID="000bc5c9-01"
/dev/mmcblk0p2: LABEL="BPI-ROOT" UUID="4e362d90-5b5d-4e56-bdc8-493003f13ef7" TYPE="ext4" PARTUUID="000bc5c9-02"
/dev/sda1: LABEL="Volume" UUID="98E440A0E440830C" TYPE="ntfs" PARTUUID="b5b1c71d-01"
/dev/mmcblk1p1: SEC_TYPE="

[2018-03-19 19:55] Fourdee commented on #1627
Reference, confirmed kernel dump/crash on Raspbian:
 https://www.raspberrypi.org/forums/viewtopic.php?f=28&t=207997#p1288529

Seems a possible hardware issue, bad batch?
https://www.raspberrypi.org/forums/viewtopic.php?f=28&t=207997&start=25#p1288697

[2018-03-19 20:03] Fourdee commented on #1636
@k-plan

Can't centre the text in whiptail, we'd need to resize X based on max string length per line.

Would be nice to have implemented, leave ticket open for now, i'll see if I can get round to it.

[2018-03-19 20:28] nakulbende commented on #1623
Hey all,

So - I basically lost access to SSH altogether after i posted last time. When I connected it to the a screen, I saw a Ext4-fs error (something like can not find itable). I powered off my Pi, and tried to open the SD card on my computer, but it was corrupted. I can see some files, but even config.txt and contents of dietpi folder were missing! Seems like my SD card was corrupted while I h

[2018-03-19 20:39] FabioLolix commented on #1503
Fresh install version 6.4

Installed nextcloud, systemctl status for mysql and  mariadb

**mariadb**

● mariadb.service - MariaDB database server
   Loaded: loaded (/lib/systemd/system/mariadb.service; disabled; vendor preset: enabled)
   Active: inactive (dead)
root@DietPi:~#

**mysql**

● mysql.service - LSB: Start and stop the mysql database server daemon
   Loaded: loaded (/etc/init.d/mysql; g

[2018-03-19 21:26] nakulbende commented on #1623
Sorry - this was scrolling really fast, so I could only capture this much.

![untitled](https://user-images.githubusercontent.com/8712050/37623297-94b0bd98-2b9a-11e8-973e-b5f87fd63f42.png)

[2018-03-19 22:18] MichaIng commented on #1503
@FabioLolix
Note: You should really move your userdata first and install software afterwards, just to not need to move "sensible" data like databases and larger amount of data.

But on the other hand, as all our software titles can still access their data on the same path /mnt/dietpi_userdata/ which then symlinks to the new location, it should work.

Let's go through it:
- mariadb.service disabled

[2018-03-19 22:46] symbios24 commented on #1640
did you try to install hotspot your self to see if it works? neither my card or power supply have problems installing hotspot on older dietpi version working fine,its v6.4 that has the problem

[2018-03-20 02:27] TheExpertNoob commented on #1603
Placing link here for future referencing and experimentation.
https://github.com/ayufan-rock64/linux-build/blob/master/recipes/video-playback.md

[2018-03-20 07:33] MichaIng commented on #1636
If dialog size and text length is known, we could calculate how much space we need to add to beginning of header string to make it look aligned to centre.

Or set max dialog length based on header/text length.

[2018-03-20 07:39] MichaIng commented on #1634
@msongz

Nextcloud and ownCloud nginx configs contain a line to enable front controller which enables pretty URLs without /index.php/: https://github.com/Fourdee/DietPi/blob/master/dietpi/conf/nginx.sites-dietpi.nextcloud.config#L52

Should be possible for Lighttpd as well, we just need to verify the right syntax. Then we can also add this e.g. to new Nextcloud/ownCloud installations.

[2018-03-20 08:04] k-plan commented on #1623
@nakulbende

- you can check status of the essential service, which must run in the background, to get all dietpi scripts to work:

[code]

or you can proof it with:

[code]

Can't explain it better when in the header comments of the script.:

https://github.com/Fourdee/DietPi/blob/master/dietpi/dietpi-ramdisk#L3-L21

[code]

and the result:

[code]

A good decision.
After your previous post `...

[2018-03-20 08:43] msongz commented on #1634
@MichaIng @Fourdee
[code]
finally fix that !

[2018-03-20 08:51] k-plan commented on #1623
@Fourdee

We have to take a look on it.

[code]

![180320-0001](https://user-images.githubusercontent.com/17237601/37644479-42f9d680-2c24-11e8-98b7-add681a82d02.gif)

Uppps ...

[2018-03-20 10:33] xmijo commented on #1627
Has anyone else experienced kernel freezing (occasionally, not every time) when issuing the reboot command? Or did I also get a faulty unit

[2018-03-20 10:41] Gabba35 commented on #1502
Am also having this issue (exit code:100, version 6.4). Thanks for working on it Fourdee.

[2018-03-20 11:28] MichaIng commented on #1634
Thanks, I can adapt this for ownCloud + Nextcloud as well :+1:.

I will check if enabling front controller works as well, as then we could do this for several web services at once.

[2018-03-20 15:40] Fourdee commented on #1630
@k-plan

👍

I've checked the current 6.0 images (Asus TB/C1/C2/Sparky), all have the updated code (https://github.com/Fourdee/DietPi/issues/1630#issuecomment-374010963).

DietPi_v6.0_RPi-ARMv6-Stretch.img must of been a very early pre-v6.0 image before we added the automation code needed. As all images the current images have been checked, i'll mark this as closed.

[2018-03-20 15:40] #1630 closed, assigned to Fourdee, k-plan

[2018-03-20 15:43] Fourdee commented on #1640
@symbios24

Installed WiFi hotspot on RPi 3 v6.4. Installs and runs fine.

As explained here (https://github.com/Fourdee/DietPi/issues/1640#issuecomment-374256688) we'll need the required information to assist more efficiently.

[2018-03-20 15:47] Fourdee commented on #1636
@MichaIng

👍

My only concern (both methods) is the processing required to check each line of text for its length, and, all the menu/checklist entries (eg: dietpi-software 100+ ). I feel the tradeoff may overall slow the whiptail loading times.

[2018-03-20 15:58] Fourdee commented on #1627
Unsure, however, i'll re-create our DietPi image using a RPi 3 (non-plus) just to be sure.

[2018-03-20 16:42] Fourdee commented on #1627
Image updated, same random instability issues for me.
1/5 reboots results in instant kernel dump. There is no consistency to it.

Cant be 100% sure, but I believe its an issue with the LAN chip. Always referenced in kernel dumps, and, happens during systemD ifdown of networking.
[code]
![lan](https://user-images.githubusercontent.com/7077026/37671580-eda668f2-2c63-11e8-9d5a-1d0cbb115565.jpg)

[2018-03-20 16:45] k-plan commented on #1627
@Fourdee

by this, can you please check wifi connection on RPi 3 (non-plus)?
Lack of hardware at the moment.

[Can't get wifi working on RPI3](http://dietpi.com/phpbb/viewtopic.php?f=11&t=2970)

[WiFi Problems (RPi 3)](http://dietpi.com/phpbb/viewtopic.php?f=11&t=2976)

[2018-03-20 16:48] Fourdee commented on #1627
@k-plan

Yep, just tested fine with v6.4 image on RPi 3 (non-plus).

[2018-03-20 17:07] vvv-ca commented on #947
It seems that the login command is still in bashrc and it still causes issues with scp? Is there going to be a fix for this?
Thanks!

[2018-03-20 17:15] Fourdee commented on #1410
@midwan

👍 💘

Great work as always and thanks for the heads up. We'll patch the 2.18 update for existing installations, in our v6.5 release (ETA 1 week).

[2018-03-20 17:34] Fourdee commented on #947
@vvv-ibm

Hi,

Which SSH server installed and client used?

[2018-03-20 17:40] vvv-ca commented on #947
openssh-server              1:7.4p1-10+deb9u3
openssh-client                1:7.6p1-4
dietpi 6.4

[2018-03-20 18:57] ghost opened #1642 "[LeMaker Guitar] DietPi on Debian Stretch (old kernel)"
### Creating a bug report/issue: Not needed! It is just a placeholder (or shld be one for those are struggling with the "LeMaker Guiter" etc.

#### Required Information:
- DietPi Version | 6.4
- SBC Device (EG: RPi 3)? LeMaker Guitar
- Power supply used (EG: 5v 1A RAVpower)? 12V 5A = if not using this PSU, it won't boot anyways
- SD card used (EG: Sandisk ultra)? PNY 16 GB (class 10)
- Distro (EG:

[2018-03-20 19:59] nakulbende commented on #1623
Hey all,

I soon went with ngix, I wish I chose that in the config file as you said - because now I keep getting this error when i install some apps (I was installing iptraf and some other network monitoring things when this happened). It seems like it does not remember that I uninstalled Lighttpd and installed ngix.

![webservers](https://user-images.githubusercontent.com/8712050/37679553-9d8d647

[2018-03-20 20:14] ghost commented on #1631
It seems like the user is not using the internal WiFi, but is using an USB-Key maye. If not using provided Wifi by the Zero W (WH) itself, there is no problem at all with DietPi. It may be a damaged board or whatever finally.....

[2018-03-20 21:43] nakulbende commented on #1623
@k-plan  and @Fourdee : If it helps, here is a partial log for my installation, during which I believe webserver was creating issues. I might be wrong.

[code]

[2018-03-20 22:08] thiagobucca opened #1643 "Disable swap during update to 6.4"
Hi,

I'm trying to update from 6.3 to 6.4 but i'm having some issues because of the size of my SD Card (2GB). I only have 506MB left on my SD Card, and the update process fails during swap partition creation. Is there a way to disable the swap during the update so i can update my build without moving to a bigger SD Card?

Thanks in advance!

#### Required Information:
- DietPi Version | ```6.3```

[2018-03-21 13:29] bopnrgi commented on #1643
Same problem here, my swap is disabled but update fail and crash the card

[2018-03-21 15:05] Fourdee commented on #1642
@SuBLiNeR

Thanks for the feedback and info 👍

I'll mark this as closed.

[2018-03-21 15:05] #1642 closed, assigned to nobody

[2018-03-21 15:14] Fourdee commented on #1643
Hi,

DietPi requires a 4GB minimum SD card, to ensure a stable experience and sufficient swapfile based on total memory: http://dietpi.com/phpbb/viewtopic.php?f=8&t=9#p9

Previously, it was possible to set swapfile size to 0 in dietpi.txt, however, due to previous issues with swapfile generation on some images, and, issues with insufficient ```/tmp``` tmpfs size, we had to forcefully recreate them

[2018-03-21 15:14] #1643 closed, assigned to nobody

[2018-03-21 17:10] enwi opened #1644 "Ramdisk image is corrupt or invalid after reboot"
#### Required Information:
- DietPi Version 6.2
- SBC Device Odroid HC1
- Power supply 5V 5A
- SD card used Londisk extreme 16GB
- Distro jessie

#### Additional Information (if applicable):
- Can this issue be replicated on a fresh installation of DietPi?
Not sure

#### Expected behaviour:
Device should start normally after reboot.

#### Actual behaviour:
Device failing to reboot due to "Ramdisk

[2018-03-21 17:14] thiagobucca commented on #1643
Hi

@Fourdee Sorry to reopen this, just one more question:

If i rebuild all my system directly on top of v6.5, i will be able to update to further versions with my 2GB card by disabling swap in dietpi-config?

Thank you

[2018-03-21 19:03] LexiconCode commented on #1552
As soon as you have an image for Odroid XU4 an Odroid N2 I will test as well.

[2018-03-21 20:47] Fourdee commented on #1644
@enwi

Thanks for the report 👍

I suspect filesystem corruption due to system instability, however, we'll run a local test on latest kernel to verify stable.

In short, you'll need to run a reinstall.

[2018-03-21 20:50] Fourdee commented on #548
hmm

```dietpi-update```

https://raw.githubusercontent.com/Fourdee/DietPi/testing/dietpi/server_version-6
[code]

[2018-03-21 22:07] Fourdee opened #1645 "DietPi-Software | Mate + VNC4 = grey screen"

[2018-03-22 00:41] qu-crypt commented on #806
do you have any update on this? Is there any hope that the GPU issue is going to be fixed?

[2018-03-22 09:55] clarky0000 commented on #865
Im getting this in sabnzbd GUI and .rar archives are not being unzipped...

Your UNRAR version is 0.00, we recommend version 5.00 or higher.<br />

When i try to install unrar-free
-------------------------------
root@DietPi:~# apt-get install unrar-free
Reading package lists... Done
Building dependency tree
Reading state information... Done
unrar-free is already the newest version (1:0.0.1+cvs201

[2018-03-22 13:59] Fourdee commented on #865
@clarky0000

Hi, ```unrar``` (non-free) is not available in the Raspbian repos. Try manually install it from Debian:
[code]

[2018-03-22 18:14] microbiomeparty opened #1646 "Diet-pi issue with attempted restore from backup"
#### Required Information:
- DietPi Version | v6.2
- SBC Device     | RPi 3 Model B (armv7l) (index=3)
- Distro         | stretch (index=4)
- Command        | rsync -alHpvP --delete --log-file=/var/log/dietpi-backup.log /mnt/dietpi-backup/dietpi-backup_userdata/ /mnt/kranghole/dietpi_userdata/
- Error Handler  | G_ERROR_HANDLER

#### Additional Information (if applicable):
- Software title | DietP

[2018-03-22 18:16] microbiomeparty commented on #1646
Also, with attempted repeat of dietpi-backup restore, got this error-handler message:
<img width="516" alt="screen shot 2018-03-22 at 2 15 46 pm" src="https://user-images.githubusercontent.com/37670514/37789947-994f5aec-2ddb-11e8-92bc-74d31890e599.png">

[2018-03-22 18:28] Fourdee commented on #1646
@microbiomeparty

Hi,

I suspect filesystem limitation on ```/mnt/kranghole```, which filesystem type is on this disk?
```blkid```

[2018-03-22 18:31] microbiomeparty commented on #1646
Thanks for the quick reply, it is a 4 terabyte western digital external drive formatted as ext4

[2018-03-22 18:41] MichaIng commented on #1594
@Elluminatus
The error messages you faced (besides DietPi-RAMlog) appear due to failed DietPi-RAMdisk.
Could you show output of
- `systemctl status dietpi-ramdisk`
- `journalctl -u dietpi-ramdisk`
- /var/tmp/dietpi/logs/dietpi-ramdisk.log
- /var/tmp/dietpi/logs/dietpi-ramlog.log

And could you try to start RAMdisk manully, maybe this gives more output: `/boot/dietpi/dietpi-ramdisk 0`

[2018-03-22 19:48] enwi commented on #1644
@Fourdee  Which I've already done. Thankfully I had the rootfs on the external drive, so I just needed to reinstall dietpi on the micro sd to get a working init ramdisk and copy my boot.ini from the old installation to the new one. So now everything is up and running again!

[2018-03-22 20:06] Fourdee commented on #1646
@microbiomeparty

Ok, disable swapfile:
[code]

And lets find the swapfile it mentions:
[code]
It should be safe to remove it, if unsure post results here.

Then rerun the restore. Use ```dietpi-config``` > advanced > to setup a new swapfile.

[2018-03-22 20:28] Fourdee commented on #1644
@enwi

Confirmed working HC1 here with latest kernel upgrade. I'll mark this as closed due to potential hardware issue.

[2018-03-22 20:28] #1644 closed, assigned to nobody

[2018-03-22 21:15] wuxmedia commented on #1445
not sure it's useful but I had the same thing until I edited the /etc/ntp.conf with nano - it had a bunch of /@?@? in the file just before the server list, I deleted those and everything ran normally... I have of course deleted the file, no idea if it was me that added them - or it was there already (I did look at the file fairly sure I didn't spam it and save it )

[2018-03-22 21:53] Zvezke commented on #1627
From reading the posts above, I understand that there are various issues - but I also understand that the latest version of DietPi should be bootable on 3B+.
I've downloaded (DietPi_v6.0_RPi-ARMv6-Stretch.img), flashed and attempted to boot, but no.
Am I missing something?

[2018-03-23 01:12] microbiomeparty commented on #1646
thanks so much for the help, after a hard shutdown (which may have cleared the swap file), the restore worked.

[2018-03-23 11:10] xmijo commented on #1627
@Zvezke The latest version of DietPi is 6.4, not 6.0. Get the latest version from [dietpi.com/download](http://dietpi.com/download)

[2018-03-23 12:31] Zvezke commented on #1627
@xmijo Thanks for replying, Xmijo. I only see one option to download - choosing 'Download image' - which automatically starts downloading 'DietPi_RPi-ARMv6-Stretch.7z'. Is there a way to choose v6.4?
![image](https://user-images.githubusercontent.com/10761510/37828946-75b8f288-2e9d-11e8-9fa1-3bc76964c252.png)

[2018-03-23 15:12] Fourdee commented on #1627
@Zvezke

The version number is listed inside the .7z file. Download the file and you'll see its v6.4 :)

[2018-03-23 15:14] Fourdee commented on #1646
@microbiomeparty

Great to hear 👍

I'll mark this as closed. Please reopen if required.

[2018-03-23 15:14] #1646 closed, assigned to nobody

[2018-03-23 15:24] Fourdee commented on #1645
Resolved for v6.5.

Workaround for v6.4:
- edit ```/root/.vnc/xstartup```
- replace ```x-window-manager &``` with ```/usr/bin/mate-session &```
- save
- restart service ```systemctl restart vncserver```

[2018-03-23 15:24] #1645 closed, assigned to Fourdee

[2018-03-23 15:32] Zvezke commented on #1627
Oh, indeed it is. Sorry for the inconvenience.

[2018-03-23 15:52] Fourdee commented on #1632
Marking as closed, please reopen if required.

[2018-03-23 15:52] #1632 closed, assigned to nobody

[2018-03-23 17:15] Elluminatus commented on #1594
**systemctl status dietpi-ramdisk**

root@bpi-iot-ros-ai:/home/pi# systemctl status dietpi-ramdisk
● dietpi-ramdisk.service - DietPi-RAMdisk
   Loaded: loaded (/etc/systemd/system/dietpi-ramdisk.service; enabled; vendor p
reset: enabled)
   Active: inactive (dead) since Fri 2018-03-23 16:55:04 GMT; 8min ago

Mar 23 16:53:11 bpi-iot-ros-ai systemd[1]: Starting DietPi-RAMdisk...
Mar 23 16:53:12 bpi-

[2018-03-23 18:40] Fourdee commented on #1594
noring: Operation not supported

https://github.com/systemd/systemd/issues/5236#issuecomment-277779394?

[2018-03-23 19:33] Elluminatus opened #1647 "WiringPi not available on BananaPi M3 over prep"
## Creating a bug report/issue:
The Programm wiringPi and other bananaPi spezific programms  are not available
over the software installer when you install dietpi on a banana pi m3 via the prep script.

#### Required Information:
- DietPi Version | 6.4.
- SBC Device (Banana Pi M3)
- Power supply used (5v 2,5A RAVpower)?
- SD card used (transend 8gb)?
- Distro (stretch)

#### Additional Information

[2018-03-23 19:37] Elluminatus commented on #1594
But so far: Seems like dietpi 6.4. is runing on a banana pi m3 great work!

[2018-03-23 19:37] Fourdee commented on #1647
@Elluminatus

Hi,

#### Currently, WiringPi via ```dietpi-software``` is only supported for the following devices:
- RPi
- Odroids (all)
- BPi Pro

You can try following the install guide here:
- ```G_AGI git build-essential```
- http://forum.banana-pi.org/t/how-to-banana-pi-bpi-m3-install-bpi-wiringpi/1056

As WiringPi is a specific compile per device, we simply cant offer support for them all.
A

[2018-03-23 19:37] #1647 closed, assigned to nobody

[2018-03-23 19:42] Elluminatus opened #1648 "question: move system from a sd card to emmc by dietpi"
Hi when you own a system like a sbc odroid or a banana pi with a build in emmc it might
be useful to move the whole system from da card to emmc with a dietpi config entry like
mobbing userdata to an other harddisk.

Is this possible?

Greetings Elluminatus

[2018-03-23 20:20] Elluminatus commented on #1647
After installing

- apt-get  install make
- apt-get install gcc
- apt-get install build-essentials

it worked for me. Thank you

[2018-03-23 20:47] Fourdee commented on #1519
Alpha test image available: https://github.com/Fourdee/DietPi/issues/1519#issue-297886100

[2018-03-24 18:03] Fourdee commented on #1627
WiFi solution is:
[code]

Once run, WiFi + scan is now functional. Seems a permanent setting on subsequent reboots, once applied.

[2018-03-24 18:28] Fourdee commented on #1627
WiFi fixed: https://github.com/Fourdee/DietPi/commit/02e1f6bebb09a93c89e896fb7b606f25ee8952db

My device works fine with LAN disabled and WiFi use only. But, i will be sending it back due to fault:
https://github.com/Fourdee/DietPi/issues/1627#issuecomment-374669173

Completed.

[2018-03-24 18:28] #1627 closed, assigned to Fourdee

[2018-03-24 18:57] xmijo commented on #1627
Great news that wifi is fixed

Is the kernel hang on reboot the reason for returning your device @Fourdee ? Do the issues persist on regular Rasbian, too? (Haven't got access to my device atm so cannot test it myself)

[2018-03-25 12:03] ghost commented on #1648
Good question, i tried this already with the "dd" command but it won't boot afterwards, as there must be some different uBoot settings to be done i guess.
Maybe, we'll get an unified solution for this to work.
@Fourdee : if i setup DietPi from an eMMC loaded system (Jessie), i always get an fail because of missing D-BUS services or similar. Why?

[2018-03-25 15:29] Fourdee commented on #1631
@k-plan

I'll mark this as closed, as unable to replicate https://github.com/Fourdee/DietPi/issues/1631#issuecomment-374284550 in v6.5 testing branch.

If problems persist with v6.5 after release, please reopen with detailed steps so we can try and replicate.

[2018-03-25 15:29] #1631 closed, assigned to Fourdee, k-plan

[2018-03-25 15:35] Fourdee commented on #1594
@Elluminatus

Is https://github.com/Fourdee/DietPi/issues/1594#issuecomment-375737860 still an issue?
If it is, its most likely due to the lower kernel version and "fluffy" pre-image used (the BPi images are a mess). The PREP script has been flawless in my testing across multiple devices and setups.

[2018-03-25 15:36] MichaIng commented on #1648
Ref: https://askubuntu.com/questions/3402/how-to-move-boot-and-root-partitions-to-another-drive

Jep, the bootloader needs adjustments after `dd` root + boot partition onto the other drive. The procedure depends on which (kind of) bootloader is used, grub or uboot or RPi or whatever, so there is no unified solution as far as I can see, it depends on the machine/system.

[2018-03-25 17:01] Fourdee commented on #1462
- 🈯️ Service ordering done: https://github.com/Fourdee/DietPi/issues/1462#issuecomment-368958753
- 🈯️ Uninstall ordering done: https://github.com/Fourdee/DietPi/pull/1586

@MichaIng Great work 👍, can we mark this as closed?

[2018-03-25 17:03] Fourdee commented on #1558
Notes:
- As far as I can tell, the only reason this may be occurring from our side, is:
-- due to removal of ```dbus``` in PREP. However, it is installed via APT during LXDE install. Is it possible removing Dbus initially is the cause?
I'll need to confirm/exclude this by doing a PREP without removal of DBUS and retest.

[2018-03-25 17:17] MichaIng commented on #1462
@Fourdee
I am just at the same topic right now, actually ordering services atm. found some other issue while doing this 😄. I will just post final results here fore completeness and then mark as closed.

€: PR: https://github.com/Fourdee/DietPi/pull/1650

[2018-03-26 05:50] MichaIng commented on #1636
@Fourdee
Yeah didn't see that the "header" in G_WHIP_MENU is message body, which can be of several lines of course. We would need to handle \n the as well... Might be better than to solve it by G_WHIP_SIZE_X_MAX in urgent cases then.

[2018-03-28 15:48] Fourdee commented on #1594
I'll mark this as closed, as the original issue has been resolved (https://github.com/Fourdee/DietPi/issues/1594#issue-303552262).

If (https://github.com/Fourdee/DietPi/issues/1594#issuecomment-375979423) is still occurring, please reopen.

[2018-03-28 15:48] #1594 closed, assigned to Fourdee, MichaIng

[2018-03-28 16:54] ghost opened #1651 "[REQUEST] Banana Pi M2 Berry - Support / Help with PREP-Script"
Hallo together,

yesterday i got a BananaPi M2 Berry gifted and start playing around with it. I found some different based Debian Stretch images, which depend on an old kernel (Guess, yes i know support by BPi is shit), but on mine search i found some images (https://drive.google.com/drive/folders/0B_YnvHgh2rwjR0JsaUltalFXanc) which work quite well.
For myself i thought, i may able to convert this

[2018-03-28 17:31] Fourdee commented on #1651
@SuBLiNeR

Hi,

Any chance you could copy/paste the whole terminal output during PREP? With that info, would should be able to debug it.

Most likely a kernel package/dep being removed thats required for basic boot. For this, we'll need to see the full list of packages, prior to running PREP:
[code]

[2018-03-28 17:46] ghost commented on #1651
@Fourdee Hold on please, just preparing another image to just let it re-run.

Output fo dpkg --get-selections: https://pastebin.com/zLVfc2YA - line 413 to 416 (?)

Do you need the output of failed message, too? I used this on a reduced debian image. If i do this on a modified Raspbian installation, the whole PREP runs well, but device won't boot afterwards... just saying.

Message from console:
##

[2018-03-28 19:57] Fourdee opened #1653 "RetroPie | How to install on a DietPi system"
## Install and configure RetroPie on a DietPi RPi system.

### Initial setup/configuration
We recommend doing this on a fresh installation, with no changes to the initial ```dietpi-software``` screen.
[code]

### Run RetroPie setup
[code]
- Say ```Yes``` to all prompts regarding ```root``` not having access to ```video``` (which is false).
- Select ```Basic Install``` and confirm its installation

[2018-03-28 20:00] Fourdee opened #1654 "Cron | journalctl shows CRON job gets repeatedly called once every minute."

[2018-03-28 20:39] ghost opened #1655 "[dupe] DietPi 6.5 - apt-get errors... ?"
# Dupe: https://github.com/Fourdee/DietPi/issues/1659

---

## Creating a bug report/issue:

#### Required Information:
- DietPi Version | 6.5
- SBC Device (EG: RPi 3)? RPi3

apt-get update gets you IGN or Error on fetching files from source.

1) did run apt-get update
2) did run apt-get upgrade
3) reboot
4) did dietpi-update (no stranged things happend)
5) reboot - after dietpi was succesful upda

[2018-03-29 07:15] rawwalk13 commented on #1655
I got the same problem today on my RPI2 & RPI3.
What i did is just add another working repo to the /apt/sources.list

That solved the problem instantly,  although i dont know if that was the right thing to do .

[2018-03-29 12:55] MichaIng opened #1656 "DietPi-Update v6.5 | Allo firmware installed on non-AlloGUI RPi?"
@Fourdee
https://github.com/Fourdee/DietPi/blob/testing/dietpi/patch_file#L529-L538
Shouldn't this be done just on RPi's that use AlloGUI?

[2018-03-29 14:28] bokiroki opened #1658 "Deluge error"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version  -  v6.5
- SBC Device  -  RPi 3 Model B (armv7l)
- Power supply used  -  official raspberry pi power supply
- SD card used  -  samsung evo+ 32 gb,    user data is on external hard drive

Dietpi is installed yesterday, with samba, deluge, sonarr, radarr, plex..

i got this failed message on Deluge few times after install..

[2018-03-29 15:21] MichaIng opened #1659 "Raspbian mirror changed to "raspbian.raspberrypi.org""
# Workaround: https://github.com/Fourdee/DietPi/issues/1659#issuecomment-377301370

---

I just found the new version of `raspberrypi-sys-mods` trying to auto-adjust the Raspbian mirrors from [archive.raspbian.org](http://archive.raspberrypi.org) and [mirrordirector.raspbian.org](http://mirrordirector.raspbian.org) to [raspbian.raspberrypi.org](http://raspbian.raspberrypi.org) on APT upgrade.

All

[2018-03-29 15:26] Fourdee commented on #1656
@MichaIng

As this card can be installed via ```dietpi-config```, ideally, we need it preinstalled for all.

Although, we could do a "ondemand net install" of the firmware through ```dietpi-set_hardware```, for those cards, if needed.

[2018-03-29 15:31] MichaIng commented on #1656
@Fourdee

Jep, would prefer that way, keeping image/systems as slim as possible. But no need for urgent patch, as the firmware is just ~500k.

[2018-03-29 15:31] Fourdee commented on #1658
@bokiroki

Thanks for the report 👍

Could just be the process has been swapped with another during the time we apply the tool. Or, the process does not support change. I'll try to replicate here.

Most likely a Windows specific issue (https://community.spiceworks.com/topic/1404239-windows-10-not-remembering-shared-network-drive-login-credentials).

Try mapping the drive: https://www.techrepublic.c

[2018-03-29 15:44] Fourdee commented on #1658
Confirmed. Although process appears to be running, most likely a swap in processes during launch.
Second run of ```dietpi-process_tool 1``` is fine.

[2018-03-29 16:37] Fourdee commented on #1658
🈯️ Resolved for v6.6 (and patched) using systemD forking process (which waits for the fork to complete):
[code]

[2018-03-29 16:37] #1658 closed, assigned to Fourdee

[2018-03-29 16:42] Fourdee commented on #1659
Notes:
- ```raspberrypi-sys-mods``` patch breaks ```/etc/apt/sources.list```
[code]

[code]

[2018-03-29 16:44] Fourdee commented on #1655
@SuBLiNeR @rawwalk13

Thanks for the report 👍

Confirmed, when upgrading ```raspberrypi-sys-mods``` package which fails to correctly apply the patch (not our bug, but we'll attempt fix).
https://github.com/Fourdee/DietPi/issues/1659

I'll mark this as closed in favor of https://github.com/Fourdee/DietPi/issues/1659

[2018-03-29 16:44] #1655 closed, assigned to nobody

[2018-03-29 16:56] Fourdee commented on #1659
#### Temp workaround/fix for those who have run ```apt-get dist-upgrade```, and, are unable to update APT:
- Example of error: https://github.com/Fourdee/DietPi/issues/1659#issuecomment-377297103
- copy/paste all
[code]

[2018-03-29 16:57] Fourdee commented on #1655
@SuBLiNeR @rawwalk13
Temp fix for now, to get it working until we can fully resolve:
https://github.com/Fourdee/DietPi/issues/1659#issuecomment-377301370

[2018-03-29 16:57] ghost commented on #1659
why don't they know about this bug at theirs repo?

[2018-03-29 17:01] Fourdee commented on #1659
@SuBLiNeR

Feel free to tell them 😃

Its a terrible patch (which is rare for RPi) and does not accommodate any changes to ```/etc/apt/sources.list```. I can only assume it works with Raspbian untouched (untested).

[2018-03-29 17:09] ghost commented on #1659
@Fourdee that's why it wasn't working:
it was this in mine: https://www.mirrorservce.org/...... ?
Now as i edited it to only go directly to via http://rasbian.raspberry.org it is working...

[2018-03-29 17:57] MichaIng opened #1660 "DietPi-Software | Whoopsie: G_WHIP implementation broke menu uninstall array, Hotfix!"
@Fourdee
https://github.com/Fourdee/DietPi/commit/0767ef022230ab06f926f1be6781cd23939a3205

I felt free to directly merge this into master. The implementation of G_WHIP into uninstall menu broke the array, leading to nothing get's uninstalled. Tested and works as expected again.

Hmm, do we need hotfix update for this as well, as many user must have updated already?

[2018-03-29 18:01] ghost commented on #1660
Hotfix.... v6.5a ... ;)

[2018-03-29 18:28] MichaIng commented on #1660
@SuBLiNeR
Jep, we will see, but as the fix is tiny, clean, easy to test and only called from a single UI element, I thought it is best to directly fix this for current updates.

But indeed, maybe we need hotfix update again, as this is quite a basic feature 😆. Currently no subsubversions or letters inside version string are supported. Would need some dietpi-update rework to implement. And as this

[2018-03-29 18:44] MichaIng commented on #1659
@SuBLiNeR @Fourdee
Yeah it is not exactly a bug at their repo, it is just an absolutely negligent way of adjusting a config file 👎!!
Just sed `{mirrordirector,archive}.raspbian.org` sting within sources.list without assuring that it is not part of another URL like in our case... This even breaks sources.list if `https://archive.raspbian.org` was used.

As I use another mirror, I didn't face this b

[2018-03-29 19:34] MichaIng commented on #1286
🈯️ <s>Deluge is not available in Debian Buster repo, thus fails to install:</s> Now availabe: https://packages.debian.org/buster/deluge
🈯️ RPi: But it is available on Raspbian Buster repo 🤔.

Possible would be installation from source, but I will not touch this until Buster is moved into stable branch.
__________________
🈯️  timedatectl output changed, thus run_ntpd status fails: **=> fixed with:

[2018-03-29 20:00] ghost commented on #1651
Any news yet? Are there any more informations required upon my request? Any intentions?

Please feel free to contact me... :)

[2018-03-29 20:00] MichaIng commented on #1654
https://github.com/ayufan-rock64/linux-build/blob/master/package/root/etc/cron.d/make_nas_processes_faster

Part of Rock64 image, ugly implementation, spammy like this, not needed for users that don't use these NAS services, should be enough to call the command ONCE after boot, or am I wrong?

@Fourdee
Do we wan't to remove that file on DietPi-Prep? Or `mv /etc/cron.d/make_nas_processes_faster /et

[2018-03-29 23:19] bokiroki opened #1662 "Difference in disk space through programs and folder ownership"
# Solution: https://github.com/Fourdee/DietPi/issues/1662#issuecomment-379075710

---

Latest v6.5, raspberry pi 3, user data on external 2.5 hard disk (1 tb)

Hi, sorrry can i ask two more questions..

first one is: i saw difference in disk space displaying from different programs..
user data is on external hard drive and hard drive is empty

![untitled222](https://user-images.githubusercontent.c

[2018-03-30 07:48] buffalo0207 opened #1663 "Patchfile Update Issue 6.4 to 6.5"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version | v6.4
- SBC Device     | Asus Tinker Board (armv7l) (index=52)
- Distro         | stretch (index=4)
- Command        | G_AGP: dphys-swapfile
- Error Handler  | G_ERROR_HANDLER

#### Additional Information (if applicable):
- Software title | DietPi-Patchfile

#### Expected behaviour:

#### Actual behaviour:

#### Steps to

[2018-03-30 10:07] MichaIng commented on #1654
Okay also present on NanoPi Neo, we have to check where this comes from, base image or some APT package update and check if this is really helpful for file severs or not..
Pine64 possibly affected as well. Often shows up in combination with openmediavault...

[2018-03-30 15:04] MichaIng opened #1664 "DietPi-Backup/Sync | Check for sufficient free space before rsync"
Due to this issue http://dietpi.com/phpbb/viewtopic.php?f=11&t=2999 and also thoughts I already had, we can maybe implement some (rough?) free space check on dietpi-backup/sync destination before executing. 0 free disc space can lead to quite a lot of following errors/issues besides leaving user with a broken unrecoverable backup.

I started with:
[code]
Wanted to add include/exclude list then, fi

[2018-03-30 15:27] Fourdee commented on #1660
@MichaIng

Yep, Once we sort out https://github.com/Fourdee/DietPi/issues/1659#issuecomment-377301370, we'll do a hotfix for v6.6

Yep nice one 👍

[2018-03-30 15:37] MichaIng commented on #1662
@bokiroki
We scrape our values from `df -Ph`, could you check and verify Size/Used within DietPi-Drive_Manager is identical to this commands output?
`df -h` output uses GiB/MiB and I am pretty sure that Radarr does as well, as the numbers fit perfectly (`df` rounds up).

As the values for Radarr and Deluge are exactly the same, this seems not to be `wrong`, but they seem to calculate different, pe

[2018-03-30 15:46] Fourdee commented on #1660
@MichaIng

I assigned you to ticket, but for the record its probably my whoopsie! 🤣 👍

[2018-03-30 15:56] yuret commented on #1663
Same problem on RPI3. After that shows on login:
 ───────────────────────────────────────
 DietPi     | 18:54 | Fri 30/03/18
 ───────────────────────────────────────
 v6.5       | RPi 3 Model B (armv7l)
 ───────────────────────────────────────
 NULL       |
 ───────────────────────────────────────
And external Wi-Fi module stops working:
[   18.670513] ieee80211 phy0: rt2x00lib_request_firmware: I

[2018-03-30 16:09] Fourdee commented on #1664
@MichaIng

You may want to check out ```G_CHECK_FREESPACE``` in globals, could be useful here?

[code]

EG:
[code]

Yep, physical size on disk is always larger than total file size, due to block size (4K steps)

[2018-03-30 16:19] Fourdee commented on #1659
Ok: https://github.com/Fourdee/DietPi/commit/786e4d48395a4cf9ee595b888e7ef7bafb04fd18
- Existing images should be fine, we do not run ```G_AGDUG```, which is the only way to install the updated ```raspberrypi-sys-mods``` package currently.
- Patch will run ```G_AGDUG``` to force the update, then reset ```/etc/apt/sources.list``` with the new default ```http://raspbian.raspberrypi.org/raspbian```

[2018-03-30 16:23] Fourdee commented on #1659
@MichaIng

Yep, so i went for forced upgrade to cause the issue, then reset to new default ```http://raspbian.raspberrypi.org/raspbian``` (cover all) https://github.com/Fourdee/DietPi/issues/1659#issuecomment-377561175

[2018-03-30 16:27] MichaIng commented on #1659
@Fourdee
Jep, I thought wrong, this is the only way, great job 😃! (removed above, to avoid confusion 😆)

[2018-03-30 16:32] Fourdee commented on #1659
Ok, great work on this @MichaIng 👍

Tested RPi with patch, running fine. I'll mark this as completed. We'll need to keep an eye out for when/if ```http://raspbian.raspberrypi.org/raspbian``` goes ```https```, then update accordingly.

[2018-03-30 16:32] #1659 closed, assigned to Fourdee, MichaIng

[2018-03-30 16:34] bokiroki commented on #1662
i just check it and results for df -Ph and df -h are the same..

![fddg](https://user-images.githubusercontent.com/19166918/38145135-2004390a-3448-11e8-8d48-716503764533.png)

DietPi-Drive_Manager show the same total size and used size..

![ddd](https://user-images.githubusercontent.com/19166918/38145169-41ebd35c-3448-11e8-8d01-6e86c6328af0.png)

And Deluge is showing me the same (almost) availabl

[2018-03-30 16:44] Fourdee commented on #1659
REF: https://twitter.com/DietPi_/status/979761183359107077

[2018-03-30 16:54] MichaIng commented on #1664
@Fourdee
`G_CHECK_FREESPACE` 👍, ah but in this case the old backup size has to be added to free space.

Okay so this will be the reason. Hmm so I have currently no idea how to precisely check the resulting backup size, especially since block size could be different on different devices...

On the other hand, if it is that close, anyway some cleanup should be done. So I guess easiest would be indee

[2018-03-30 17:02] Fourdee commented on #1663
@buffalo0207

Thanks for the report 👍

insserv: warning: script 'K16halt' missing LSB tags and overrides
insserv: Script console-setup.sh is broken: missing end of LSB comment.
insserv: exiting now!
update-rc.d: error: insserv rejected the script header
dpkg: error processing package util-linux (--configure):

Strange, appears the service script used by ```util-linux``` is broken.

Please paste re

[2018-03-30 17:04] Fourdee commented on #1663
@buffalo0207

You'll need to install this package for the firmware (https://packages.debian.org/stretch/firmware-misc-nonfree):
[code]

We no longer install this package by default for SBC's as its mostly nvidia/intel and PC based items.

[2018-03-30 17:19] MichaIng commented on #1662
@bokiroki
Just checked on my server: I also always have some discrepancy between `Size` minus `Used` and `Avail`. It seems that depending on drive (type etc.) some needed / system used free space is reserved. Indeed in your case this seems to be quite much. As said after remounting the drive this might change.

The `-P` option of `df` just assures output in some POSIX format, I also see no differe

[2018-03-30 17:52] bokiroki commented on #1662
So i moved user data from external hdd to sd card and unmounted than mounted - nothing changed
then unmounted and mounted and restarted rpi - nothing changed
followed this steps few times - nothing changed
than i tried to Mount Method : Change from UUID to /dev/sd and unmount, mount - nothing again..

So this didn't fixed my issue :neutral_face:

Also, this is my 5th or 6th install of dietpi on rp

[2018-03-30 17:56] Fourdee commented on #1654
@MichaIng

I believe, we should remove the file on all images, let ```dietpi-process_tool``` (and the user) handle it.

Interesting. cant see it in ```openmediavault_0.2.3_all.deb```, but there are multiple packages i've not checked.

In the preimage used (nanopi-neo_debian-nas-jessie_4.14.0_20171218) OMV is installed, so it must be a OMV addition.

Either way, lets remove the file from all images

[2018-03-30 18:27] MichaIng commented on #1654
@Fourdee

Jep, I think so, PR is up 😃: https://github.com/Fourdee/DietPi/pull/1665

[2018-03-30 18:30] MichaIng commented on #1662
@bokiroki
I would not see it as issue. It is quite normal that not all theoretical free space can be used.
As `df`, Deluge and Radarr all show the same values, this seems to be totally correct and fine.

[2018-03-30 18:42] Fourdee commented on #1660
Uninstall test passed 🈯️

I'll mark this as resolved, thanks @MichaIng 👍

[2018-03-30 18:42] #1660 closed, assigned to MichaIng

[2018-03-30 18:48] Fourdee commented on #1633
No response/unable to replicate, marking as closed. Please reopen if required.

[2018-03-30 18:48] #1633 closed, assigned to nobody

[2018-03-30 19:42] MichaIng opened #1666 "General | Switch from "net-tools" to "iproute2" commands"
- Both packages provide commands with the same purpose: https://philosophos.github.io/articles/20170411~net-tools-VS-iproute2/
- `iproute2` is dependency for some core packages, e.g. `ifupdown`, `resolvconf` and `mariadb-server-10.1`.
- `net-tools` has very rare and uncommon dependents.
- `iproute2` is actively developed, while `net-tools` is not any more, being considered as replaced:
  - https:/

[2018-03-30 20:04] Fourdee commented on #1653
As much as i'd love to have a pre-made DietPi + RetroPie image, it simply adds further maintenance our end, which I lack time for.
As far as I can tell, RetroPie does not support automated installs, if it did, we could of added this back into ```dietpi-software```
As such, i've changed this to a guide.

[2018-03-30 20:09] bokiroki commented on #1662
@MichaIng i investigated a little and found that ext4 filesystem reserve 5% of space..
https://askubuntu.com/questions/249387/df-h-used-space-avail-free-space-is-less-than-the-total-size-of-home
someone found comment from ext4 maker https://askubuntu.com/questions/19504/reasonable-size-for-filesystem-reserved-blocks-for-non-os-disks
and here is how to reduce reserved size https://viewsby.wordpress

[2018-03-30 21:28] #1653 closed, assigned to Fourdee

[2018-03-31 02:07] unclehowell commented on #139
This seems to work for me:

AUTO_SETUP_NET_ETHERNET_ENABLED=1
AUTO_SETUP_NET_WIFI_ENABLED=0
AUTO_SETUP_NET_USESTATIC=1
AUTO_SETUP_NET_STATIC_IP=192.168.87.10
AUTO_SETUP_NET_STATIC_MASK=255.255.255.0
AUTO_SETUP_NET_STATIC_GATEWAY=192.168.87.1
AUTO_SETUP_NET_STATIC_DNS=10.0.0.1
AUTO_SETUP_NET_HOSTNAME=dietpi
AUTO_SETUP_NET_ETH_FORCE_SPEED=0
AUTO_SETUP_SWAPFILE_SIZE=0
AUTO_SETUP_AUTOMATED=1
AUTO_SETU

[2018-03-31 05:55] MichaIng commented on #1662
@bokiroki
Ah yeah that is true, totally forgot about this. The 5% also helps to avoid disk fragmentation, but on 1+ TB drives this is probably a bid much reserved.

 tune2fs -m 0 /dev/sdc1   sets this to 0%. We could add this feature to DietPi-Drive_Manager for non root/boot devices.

[2018-03-31 06:17] skane165 opened #1667 "[dupe] raspberrypi-sys-mods patch breaks /etc/apt/sources.list"
#### Required Information:
- DietPi Version | v6.5
- SBC Device     | RPi 3 Model B (armv7l) (index=3)
- Distro         | stretch (index=4)
- Command        | Connection test: https://www.mirrorservice.org/sites/raspbian.raspberrypi.org/raspbian
- Error Handler  | G_ERROR_HANDLER

#### Additional Information (if applicable):
- Software title | DietPi-Software

#### Expected behaviour:

#### Actual

[2018-03-31 07:19] ghost commented on #1667
@skane165 Hi there, this problem was already discussed here. See this for reference and you'll have it fixed for now https://github.com/Fourdee/DietPi/issues/1659 - this will fix the problem immediately. :+1:

[2018-03-31 09:57] darioristic opened #1668 "DietPi issuse"
#### Required Information:
- DietPi Version | v6.3
- SBC Device     | RPi 3 Model B (armv7l) (index=3)
- Distro         | stretch (index=4)
- Command        | Connection test: https://www.mirrorservice.org/sites/archive.raspbian.org/raspbian
- Error Handler  | G_ERROR_HANDLER

#### Additional Information (if applicable):
- Software title | DietPi-Software

#### Expected behaviour:

#### Actual beh

[2018-03-31 10:13] paulstephane opened #1669 "USB 1.0 DAC on Nanopi"
## Creating a bug report/issue:

Hello, on the nanopi neo image there seems to be no possibility to activate the USB audio as a USB 1 driver, similar to what can be done on the sparky board (changing uEnv file)
#### Required Information:
- DietPi Version | ```cat /DietPi/dietpi/.version```?
- SBC Device (EG: RPi 3)?
- Power supply used (EG: 5v 1A RAVpower)?
- SD card used (EG: Sandisk ultra)?
- Di

[2018-03-31 14:10] Fourdee commented on #1668
@darioristic

Hi,

Appears to be online here. If the problem still persist, please can you answer the following:
- Is PiHole installed?
- Paste results of ```route```
- DHCP or STATIC IP? Check in ```dietpi-config``` > Networking Options: Adapters

[2018-03-31 14:13] Fourdee commented on #1667
I'll mark this closed, solution via @skane165 post https://github.com/Fourdee/DietPi/issues/1667#issuecomment-377672803

[2018-03-31 14:13] #1667 closed, assigned to nobody

[2018-03-31 14:36] Fourdee commented on #1654
@MichaIng

Many thanks for the fix 👍 . I'll mark this as closed PR should resolve: https://github.com/Fourdee/DietPi/pull/1665

[2018-03-31 14:36] #1654 closed, assigned to MichaIng

[2018-03-31 14:44] Fourdee commented on #1462
@MichaIng

Done: https://github.com/Fourdee/DietPi/commit/e7c1f6164fabe746c75ced70504a8359740eba47
This brings the webserver ordering to same as previous (eg: v6.3). I'll mark this as closed, however, please reopen if required or needs adjusting.

[2018-03-31 14:44] #1462 closed, assigned to Fourdee, MichaIng

[2018-03-31 14:52] Fourdee commented on #1552
XU4 Stretch RC image by Meveric:
http://fuzon.co.uk/meveric/images/Stretch/Debian-Stretch-1.0~RC1-20180324-XU3-XU4.img.xz

[2018-03-31 15:01] MichaIng commented on #1462
@Fourdee
Whoops, did I write it that way? Can't find my comment anymore I meant database should be started first, webserver last. The pre 6.3 state caused the errors, as webserver (respectively PHP connector) want to, but can't access database then.

I already tested it on VM and RPi, works fine and resolves error messages.

Commit: https://github.com/Fourdee/DietPi/commit/3a287e2338ce592cb4ce03ca

[2018-03-31 15:02] MichaIng opened #1670 "DietPi-Boot | Dropbear: Host key loading error on startup"
#### Additional Information (if applicable):
- Dropbear
- Can this issue be replicated on a fresh installation of DietPi? Jep

#### Expected behaviour:
- Dropbear boots/starts without error message

#### Actual behaviour:
[code]

#### Extra details:
- DietPi-Boot removes all Dropbear host keys and regenerates a new RSA key on first run: https://github.com/Fourdee/DietPi/blob/testing/dietpi/boot#L3

[2018-03-31 15:18] Fourdee commented on #1462
@MichaIng

Legend thank you 👍

https://github.com/Fourdee/DietPi/pull/1650#issuecomment-377008918, although, I probably misread/understood it entirely 😃

[2018-03-31 20:23] paulstephane commented on #1669
Linux DietPi 4.14.0 #1 SMP Mon Dec 18 11:43:22 CST 2017 armv7l GNU/Linux
Dietpi version 6.5

[2018-03-31 21:22] MichaIng commented on #1666
Replacements, some even simpler via `/sys/class/net` 😄:

### netstat ###
🈯️ https://github.com/Fourdee/DietPi/blob/testing/dietpi/dietpi-cloudshell#L705-L707
- `mtu_size=$(cat /sys/class/net/"$NETWORK_DETAILS_ADAPTER"/mtu)`
- `network_usage_current_recieved=$(cat /sys/class/net/"$NETWORK_DETAILS_ADAPTER"/statistics/rx_bytes)` Actually as the bytes can be scraped here, mtu value is not necessary an

[2018-04-01 06:35] SmoothSilence opened #1672 "Orange pi zero updgrade from Armbian Debian Jessie to DietPi"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version | ```DietPi Beta(I think) for "othet" SBC```
- SBC Device (Orange Pi zero H2+ (512))
- Power supply used (5v 2A )
- SD card used (Sandisk ultra 16 Gb class 10 I)?
- Distro (Armbian-Debian-Jessie)

#### Additional Information (if applicable):
- Software title?
- Can this issue be replicated on a fresh installation of DietP

[2018-04-01 07:00] Thram commented on #1495
Couldn't make it work flashing the microSD on Mac. Works for version v145 though. Are you planning to do a new release of the image?

[2018-04-01 08:07] ghost commented on #1672
@SmoothSilence Hi there, if you like to go from ARMBIAN to DietPi, you should do following steps:

1) Get actual latest image for your device (OPi Zero) best is Debian (Stretch) - https://dl.armbian.com/orangepizero/archive/Armbian_5.38_Orangepizero_Debian_stretch_next_4.14.14.7z
2) after succesful boot into "armbian", do a firmware update via armbian-config & reboot!!!
3) manually install the abo

[2018-04-01 08:25] ghost commented on #1669
@paulstephane I suggest you're using an armbian install as base? - see for reference: http://dietpi.com/phpbb/viewtopic.php?t=1896 - there is a problem with these dev-kernels and i'm not sure if this is the problem at least for your case...

[2018-04-01 08:29] ghost commented on #1668
@darioristic @Fourdee Same procedure as everytime - ppl should read your fix upon this problem... it's not the PiHole stuff - it is the problem of the changed repo in the sources.list.

-> nano /etc/apt/sources.list and change the entry to http://raspbian.raspberrypi.org/raspbian #1659

[2018-04-01 13:40] MichaIng commented on #1608
Note:
- Easiest would be perhaps to use mod_alias
  - Lighttpd:
[code]
  - Apache: `Alias / "/var/www/nextcloud"`
  - Nginx: http://nginx.org/en/docs/http/ngx_http_core_module.html#alias
[code]

But it needs adjustments of webserver location config and in case web service config as well, e.g. ownCloud/Nextcloud `config.php`. Not too fast to implement...
________________
Alternative:
- Rewrite rule

[2018-04-01 15:19] MichaIng commented on #1670
PR merged, mark as closed.

[2018-04-01 15:19] #1670 closed, assigned to MichaIng

[2018-04-01 16:12] Fourdee commented on #1636
Agree. I've set a limit for all exit prompts.
![image](https://user-images.githubusercontent.com/7077026/38175160-c6b6ac00-35cf-11e8-84ed-39e35f9bad2f.png)

[2018-04-01 17:05] unclehowell opened #1674 "DietPi-Automation | Allow to turn first DHCP assigned IP into static IP"
This is a feature request for a solution which will make the dynamic IP static during first run. I was hoping to modify the dietpi.txt to allow the pi to receive the IP address and gateway from the router it is connected to then immediately make it static , but with full autonomy without having to enter the menu etc

ADMIN EDIT: Vote for it on FeatHub: https://feathub.com/MichaIng/DietPi/+24

[2018-04-01 17:06] Fourdee commented on #1636
I'll leave the remaining whiptail menus as automatic X max size for now. Yes, we could hard limit them all, however, should we send a commit that exceeds limits, adds additional checks that defeats the purpose of G_WHIP (to make whiptail + dev simple and effective)

Automatic X scaling based on input text contents is also a no go, due to the additional processing required to check each line of tex

[2018-04-01 17:06] #1636 closed, assigned to Fourdee, k-plan, MichaIng

[2018-04-01 17:21] Fourdee commented on #1674
@unclehowell

Interesting idea, thanks for the request 👍

My only concerns is the router providing the copied IP to another DHCP client, at some point in the future, causing IP conflict.

[2018-04-01 17:47] MichaIng commented on #1674
Jep I actually do the same manually, as my router provides permanent IPs for known devices. By this DHCP server does not need to run etc.

This should only be an optional feature, as suggested via dietpi.txt, in cases user knows that the provided IP will always be reserved for DietPi device.

[2018-04-01 17:54] Fray2000 opened #1675 "firmware-misc-nonfree required for Ralink WiFi devices"
#### Required Information:
- DietPi Version 6.5
- SBC Device: RPi 2 B+
- Power supply used 5v 3A
- SD card used 8GB from Microdrive
- Distro Dietpi 6.5

#### Additional Information (if applicable):
The key is detected by ''lsusb'' command and perfectly worked in the 6.4

#### Output :

#### Bus 001 Device 042: ID 07d1:3c03 D-Link System AirPlus G DWL-G122 Wireless Adapter(rev.C1) [Ralink RT2571W]

[2018-04-01 18:22] paulstephane commented on #1669
I will look into it, thanks

[2018-04-01 18:22] #1669 closed, assigned to nobody

[2018-04-01 18:27] Fourdee commented on #1675
@Fray2000

Thanks for the report, hopefully its just the firmware that required. This is no longer installed by default for ralink, as ```firmware-misc-nonfree``` contains mostly intel/nvidia firmware.

Please try installing the package, reboot system then retry:
[code]

--

NB: i'll make ```firmware-misc-nonfree``` default install for future images.

8MB, but, needed to prevent user having issues

[2018-04-01 18:29] ghost commented on #1675
i guess it should be the package called firmware-ralink ... isn't it?

---this was for Jessie. @Fourdee's is the correct one! Whoopsie!

[2018-04-01 18:29] Fray2000 commented on #1675
i m installing it right now, wait a sec

2018-04-01 20:29 GMT+02:00 li0nic <notifications@github.com>:

[2018-04-01 18:31] Fray2000 commented on #1675
it does not work

2018-04-01 20:29 GMT+02:00 Francesco Leo <francescomaria.leo@gmail.com>:

[2018-04-01 18:32] ghost commented on #1675
@Fray2000 in console try to install via this:
`apt-get install firmware-misc-nonfree`

don't forget to reboot after... ;)

[2018-04-01 18:33] Fourdee commented on #1675
@SuBLiNeR

Yep, Stretch:
```firmware-ralink``` is a virtual package for ```firmware-misc-nonfree```
https://packages.debian.org/stretch/firmware-ralink

[2018-04-01 18:36] ghost commented on #1651
@Fourdee Do you need anything else for this task being done? I really like to have a DietPi on the BPi M2 Berry than using only a Debian Stretch Lite image....

[2018-04-01 18:37] Fray2000 commented on #1675
Perfect, it works thanks ! and is it possible to insert a command in the dietpi.txt file after burning the image  to install this package on first boot?

[2018-04-01 18:45] Fourdee commented on #1675
@Fray2000

We'll update the image to v6.6 and include the package by default. Few days.

[2018-04-01 18:49] unclehowell commented on #1674
I think I'll have to use the custom script part of dietpi.txt to get the IP its been assigned and then use it to create a static. But I want to try and keep within the parameters dietpi gives us to avoid deviating from their insisted methods of modifications , for as long as possible.

[2018-04-01 18:59] Fray2000 commented on #1675
@Fourdee Thanks

[2018-04-01 19:05] Fourdee opened #1676 "Update RPi image"

[2018-04-01 19:05] Fourdee commented on #1675
I'll mark this as closed.

New ticket for image update: https://github.com/Fourdee/DietPi/issues/1676

[2018-04-01 19:05] #1675 closed, assigned to Fourdee

[2018-04-01 19:38] Fourdee commented on #1651
@SuBLiNeR

Think I know what needs to be done, as package isn't available in any of the repos on system, well need to apt-mark the package instead of install it. We'll need to do this in the script.

1 min i'll sent commit and instructions.

[2018-04-01 19:49] Fourdee commented on #1651
@SuBLiNeR

Done, try:
[code]

[2018-04-01 19:55] Fourdee commented on #1515
REF: https://github.com/Fourdee/DietPi/issues/1653

[2018-04-01 20:27] Fourdee commented on #1515
Notes: Could require Debian Stretch for Odroid C2?

Wiki states Ubuntu image required: https://github.com/RetroPie/RetroPie-Setup/wiki/Odroid-C1-C2#download-ubuntu-image-for-odroid
https://retropie.org.uk/docs/Odroid-C1-C2/

[2018-04-01 20:55] ghost commented on #1651
@Fourdee Hi there... i hope that's not an April's fool... Gonna try it by tomorrow morning. I'll head back to you if it works! :100:

[2018-04-01 20:56] ghost commented on #1676
hmmmm.... why is v6.6 on testing and "master" ?

[2018-04-01 20:57] MichaIng commented on #1676
@SuBLiNeR
v6.6 was just released some minutes ago, give us some chance to adjust the version strings 😉.

[2018-04-01 22:32] Fourdee commented on #1515
Odroid C2 Stretch:
[code]

The only related packages I can find are in buster:
https://packages.debian.org/buster/mali-t62x-fbdev-driver

This may work?
http://deb.odroid.in/c2/pool/main/m/mali-fbdev/

![image](https://user-images.githubusercontent.com/7077026/38178160-c7abeb0e-3604-11e8-9b3f-5f73fc7bef21.png)
![image](https://user-images.githubusercontent.com/7077026/38178165-d02952bc-3604-11e8-8

[2018-04-01 23:11] Fourdee commented on #1676
Completed:
http://dietpi.com/downloads/images/DietPi_RPi-ARMv6-Stretch.7z

[2018-04-01 23:11] #1676 closed, assigned to Fourdee

[2018-04-02 06:54] ghost commented on #1651
@Fourdee Hi Fourdee, hell yes, it is now going to install without any error, but the result after 1st reboot is, that i'm falling into a reboot-loop after the first start. The device is booting up and than stops somehow the CPUs so there is no coming even through to boot up normally. I think there is some uBoot-Loader settings in uENV.txt or whatever, which is blocking to boot the system itself.

[2018-04-02 08:21] yonesmit opened #1678 "Error running dietpi-update"
#### Required Information:
- DietPi Version | v6.5
- SBC Device     | RPi 2 Model B (armv7l) (index=2)
- Distro         | stretch (index=4)
- Command        | G_AGI: firmware-misc-nonfree
- Error Handler  | G_ERROR_HANDLER

#### Additional Information (if applicable):
- Software title | DietPi-Patchfile

#### Expected behaviour:

#### Actual behaviour:

#### Steps to reproduce:

#### Additional lo

[2018-04-02 14:37] unclehowell commented on #670
Can we re-open this. Why not have PIXEL with Dietpi-Pi? What's the issue?

[2018-04-02 16:42] Fourdee commented on #1678
@yonesmit

Thanks for the report 👍

Appears to be a issue with the RPi repo server during download (timeout). Please retry ```dietpi-update```.

URL is working here: https://archive.raspberrypi.org/debian/pool/main/f/firmware-nonfree/firmware-misc-nonfree_20161130-3+rpt3_all.deb

[2018-04-02 16:45] Fourdee commented on #1651
@SuBLiNeR

Gutted.
As I lack the device to try this myself, we'd need to see the serial console output to debug in this case.

[2018-04-02 16:50] hoobatoo commented on #1185
[DietPi Forum Post](http://dietpi.com/phpbb/viewtopic.php?f=12&t=2310#p10305)

I wonder if this wifi autohotspot could be incorporated somewhat easier into dietpi? http://www.raspberryconnect.com/network ... et-routing

The service calls a script that checks for presence of the SSID entered into wpa_supplicant.conf, and if not present then starts hostapd and dnsmasq and creates a hotspot. It prese

[2018-04-02 17:10] Fourdee opened #1679 "Update Allo GUI images"

[2018-04-02 17:17] Fourdee commented on #1515
[code]

Appears ```mali450-odroid``` is the same package:
[code]

[2018-04-02 17:30] ghost commented on #1651
hell yes, that's what i'm missing... just have to get one. as of this, i think we do this on hold!

[2018-04-02 18:36] yonesmit commented on #1678
I tried to run dietpi-update again. And the result is:
<code>
[  OK  ] Root access verified.
[ INFO ] DietPi-Drive_Manager | Checking RootFS R/W access. Please wait...
[  OK  ] DietPi-Drive_Manager | RootFS R/W access.

 DietPi-Update
─────────────────────────────────────────────────────
 Mode: Checking for DietPi updates

[ INFO ] DietPi-Update | Checking Mirror : http://dietpi.com/downloads/diet

[2018-04-02 22:04] Fourdee commented on #1515
Tried following, failed lvl10 init SDL
[code]

[2018-04-03 00:51] Fourdee commented on #1678
@yonesmit

Set the version to 6.5, then redo the update, just to make sure it completed:
[code]

[2018-04-03 04:29] mgherghi opened #1680 "Unable to generate a working swap"
## Creating a bug report/issue:
I cant seem to create a swap , i have tried manually creating one using fallocate and then mkswap and swapon, but when i enter the swapon /var/swap command it gives me an error saying no such file. I have already made the swap and used chmod 600 to make it r/w . The swapfile is there , but the system will not allow me to use it as a swap..  What am I doing wrong ?

[2018-04-03 05:09] mgherghi commented on #1680
Nvm , i figured out it was because i formatted mmcblk0p2 to f2fs and that was causing the issue .  Is there a reason why f2fs wont work with swap ?

[2018-04-03 06:20] yonesmit commented on #1678
I set the version to 6.5 and ran again the update procedure. The process went correctly without errors.
Thanks for your support.
Best Regards,

[2018-04-03 08:06] MichaIng commented on #1680
@mgherghi
Just a quick search: https://wiki.archlinux.org/index.php/swap
[code]
We use fallocate within our script: https://github.com/Fourdee/DietPi/blob/master/dietpi/func/dietpi-set_dphys-swapfile#L114

@Fourdee
Do we want to provide wider filesystem support by adding fs check and use `dd` in case, as suggested within link above?

Just to be sure, we would need to test this again, if it is real

[2018-04-03 09:34] MichaIng commented on #1678
@yonesmit
Great, will mark as closed. Just for the record: If something went wrong during dietpi-update process but it still runs through (adjusting version string), we just implemented an option to rerun the current patch, so no need to manually adjust `.version` anymore 😉: `dietpi-update -1`

[2018-04-03 09:34] #1678 closed, assigned to nobody

[2018-04-03 09:40] MichaIng commented on #1668
@SuBLiNeR
Not in this case, the mirror URL is still correct, seemed to be a temporary unavailable `www.mirrorservice.org` or indeed some network configuration issue.

But to avoid any future issue with this, it is no bad idea to anyway adjust `/etc/apt/sources.list` accordingly, if already touching the system 🙂.

@darioristic
Just for reference, what we talk about: https://github.com/Fourdee/DietP

[2018-04-03 10:06] MichaIng commented on #1623
@nakulbende
Hui, sorry for late reply from our side. Did you managed it in between?

From both of your logs I see at least two webservers installed at the same time. `dietpi-software` should warn to just select one webserver stack, recommending to just select the webserver preference and the frontend software you need, letting DietPi automatically choose the right webserver stack. But it does not

[2018-04-03 13:22] symbios24 opened #1681 "[dupe] OpenJDK 8 error"
Hello

Upon installation of Nukkit i got an OpenJDK 8 file not found error

can you replicate the install to verify the problem?

Thanks

[2018-04-03 16:25] Fourdee commented on #1680
@MichaIng

Yep 👍

We can use following to detect filesystem type for the target swap location:
[code]

Or this seems better:
[code]

[2018-04-03 16:35] Fourdee commented on #1680
https://github.com/Fourdee/DietPi/commit/1c4b7d94fa5b7d95f331ca875ba237b6274b5aed should do it. Once i've setup a test system i'll verify.

[2018-04-03 17:15] Fourdee commented on #1680
🈯️
[code]

[2018-04-03 17:15] Fourdee commented on #1680
Resolved for v6.7.

@MichaIng Great job on finding the cause 👍

[2018-04-03 17:15] #1680 closed, assigned to Fourdee, MichaIng

[2018-04-03 17:33] Fourdee commented on #1681
@symbios24

Which device is this running on?

[2018-04-03 17:36] Fourdee commented on #1678
@MichaIng

Forgot about this, nice one 👍

[2018-04-03 20:54] Fourdee commented on #1679
Completed.

[2018-04-03 20:54] #1679 closed, assigned to Fourdee

[2018-04-03 21:00] ghost commented on #1681
JRE or JDK version? For myself i tried this, as this is always working for me if i had to setup the OpenJDK JRE - https://tecadmin.net/install-java-8-on-debian/

[2018-04-04 06:35] symbios24 commented on #1681
Its running in a Raspberry pi 3 not 3b+ on latest DietPi v6.6. Its OpenJDK 8 + JRE Library i uploaded the picture with the error in the link under:
https://ibb.co/g69ASH

[2018-04-04 10:05] royspeed opened #1682 "openjdk-8-jdk/Nukkit fails to install on RPi"
# Workaround : https://github.com/Fourdee/DietPi/issues/1682#issuecomment-378664539

---

## Creating a bug report/issue:

#### Required Information:
- DietPi Version | ```cat /DietPi/dietpi/.version```?
- SBC Device RPi 3
- Power supply used 5v 5A
- SD card used Sandisk ultra32 Gb & 2Gb
- Distro (EG: Jessie) | ```uname -a```?

#### Additional Information (if applicable):
- Software title Nukkit
-

[2018-04-04 14:06] finasfinas opened #1683 "no support for native ext4 encryption in rpi dietpi 6.6"
## Creating a bug report/issue:

Support for native ext4 encryption has been added to the kernel since version 4.1. It is enabled with CONFIG_EXT4_ENCRYPTION=1

A running kernel can be checked for support by looking at the existence of the following file:
/sys/fs/ext4/features/encryption
If this file does not exist, then the kernel has been compiled without the CONFIG_EXT4_ENCRYPTION option and th

[2018-04-04 15:11] ghost commented on #1683
Hmm... ever tried to look for this via google? -

1. https://github.com/NicoHood/NicoHood.github.io/wiki/Raspberry-Pi-Encrypt-Root-Partition-Tutorial

2. https://esther.codes/post-cryptsetup_raspberry/

3. https://carlo-hamalainen.net/2017/03/12/raspbian-with-full-disk-encryption/

4. https://paxswill.com/blog/2013/11/04/encrypted-raspberry-pi/

Some are old, some are new.... but it should work if

[2018-04-04 15:56] finasfinas commented on #1683
There are many ways to encrypt a filesystem or a directory. There is no way that is best in all aspects than all the others.
Native ext4 encryption has two strengths:
- it is faster
- is has a lower memory footprint
- it is easy to implement
- it will probably be default on next version of ubuntu

Regardless of this, the fact is that there is no support on dietpi/raspian because of the lack of a k

[2018-04-04 16:00] Fourdee commented on #1681
@symbios24

Thanks 👍 , same issue as https://github.com/Fourdee/DietPi/issues/1682. I'll mark this as closed in favor of the other ticket.

[2018-04-04 16:00] #1681 closed, assigned to nobody

[2018-04-04 16:01] Fourdee commented on #1682
@royspeed

Thanks for the report 👍

We'll investigate.

[2018-04-04 16:26] Fourdee commented on #1682
notes:
[code]
- This is an external bug, straight forward installation of ```openjdk-8-jdk``` fails. Seems to have happened in the past: https://www.raspberrypi.org/forums/viewtopic.php?t=197824

[2018-04-04 16:33] ghost commented on #1683
@finasfinas I suggest you to closes this Issue because it isn't a general issue of DIetPi itself. It is a more relevant issue and task which you may ask better at the ppl of the raspbian building team.

This is nor a problem of DietPi nor a problem which i guess could the team resolve. Best is, as said, to open a new issue at the raspbian site. :)

[2018-04-04 16:35] Fourdee commented on #1682
## Workaround:
#### Run the following commands BEFORE installing Nukkit, or, OpenJDK:
[code]

Confirmed RPi repo is only affected by this issue.

---

mmm, temp issue with repo.

[code]

And this install JDK 9 ```openjdk-9-jre-headless```

- ```ca-certificates-java``` is required for ```openjdk-8-jre-headless``` to succeed, however, installs ```openjdk-9-jre-headless```
-  ```openjdk-8-jre-headles

[2018-04-04 16:35] ghost commented on #1668
@MichaIng
But this is how i solved this even before #1659 was than marked as being temp solved. Nah, the mirrorservice.org is always a bottleneck since the past.... :1st_place_medal:

[2018-04-04 16:42] finasfinas commented on #1683
I already did. I opened a ticket here because I don't know what kernel dietpi uses. Does it use the one from raspbian or is it custom made by dietpi team?

[2018-04-04 16:53] ghost commented on #1683
@finasfinas it uses the one which is being delivered by raspbian/debian as standard - 4.14.30 is the actual one. The DietPi-team is not self-compiling kernels for theirs distro.

[2018-04-04 16:54] finasfinas commented on #1683
cool, thanks for the info. I will close this bug report and proceed in raspbian.

[2018-04-04 16:54] #1683 closed, assigned to nobody

[2018-04-04 17:24] Fourdee commented on #1683
@finasfinas

We use the same kernel as Raspbian via APT. It if fails here, it will also fail on Raspbian.

You'll either need to compile your own kernel, or, contact Raspbian to request the feature you require as standard.

[2018-04-04 17:31] Fourdee commented on #1682
As workarounds go, not ideal as ```openjdk-9-jre-headless``` is installed, however, this fixes the installation error with the ```openjdk``` package in Raspbian repo, and, will be applied to v6.7.

Completed.

[2018-04-04 17:31] #1682 closed, assigned to Fourdee

[2018-04-04 17:52] tomillr commented on #1285
I'd like to use this script to install DietPi on an Intel Apollo Lake-based x64 system with build in eMMC storage (Beelink AP34).
Unfortunately, I can't seem the system to boot the Debian netinstall linked to above. Is there a way to get Debian to run on this system?

[2018-04-04 18:20] Fourdee commented on #1502
Resolved for v6.7.

[2018-04-04 18:20] #1502 closed, assigned to Fourdee

[2018-04-04 18:29] Barishhh commented on #1502
👍

[2018-04-04 18:33] DmitryMyadzelets commented on #1452
Having the same error message on the very first start of Rock64 with 16MB SD card.
The image is `DietPi_v6.0_Rock64-ARMv8-Stretch.img`. After writing with `dd` to SD:
[code]
On the Rock64, after booting and the failure:
**root@DietPi:~$ df -h**
[code]
**root@DietPi:~$ fdisk -l**
[code]
**root@DietPi:~$ cat /var/tmp/dietpi/logs/fs_***
[code]

[2018-04-04 18:35] Fourdee commented on #1285
@tomillr

Using **Method 2: UEFI beta x86_64 image:** should work fine on the AP34:
https://github.com/Fourdee/DietPi/issues/1171#issuecomment-336522021

I use this on the Z83-II.

[2018-04-04 18:44] tomillr commented on #1285
Already tried Method 2 as well. It just crashed the system to a non-blinking cursor.

[2018-04-04 18:51] DmitryMyadzelets commented on #1511
Run `resize_rootfs.sh` from the console. For some reason it fails to do automatically, for now.

[2018-04-05 03:34] DrJeff opened #1687 "Nodered User add to GPIO"
Node Red needs the user `nodered` to be added to the GPIO group or gpio doesn't work I used this
[code]
Hope it helps anyone else stuck with no GPIO control

[2018-04-05 08:33] MichaIng commented on #1662
@Fourdee
What you think? When formatting dives via DietPi-Drive_Manager to ext4, which are then obviously non root and non boot, reduce reserved 5% to e.g. 1% or based on partition size (reduce fragmentation) to something between 1 and 5 percent? Could do some investigation which value makes sense here.

Also feature to reduce/adjust this afterwards for non root/boot would then be nice.

Ref: http

[2018-04-05 12:42] MichaIng opened #1688 "DietPi-Set_Software | Add ability to allow local time server as time sync mirror"
I just recently recognized, that my router serves as time sync mirror within my local network, while itself syncs regularly with configured external time server, e.g. preconfigured by ISP.
In such setups it should be beneficial for DietPi to sync with the local server instead of external as well.

When entering the local network address into `dietpi-config` ntpd mirror, it is added the wrong way,

[2018-04-05 13:27] MichaIng commented on #816
Ref: https://help.ubuntu.com/community/BackupYourSystem/TAR
https://wiki.archlinux.org/index.php/Full_system_backup_with_tar

The problem is, using tar or any other compression tool directly, results in everything is backed up/transferred instead of just the changed files. Perfect would be if the tool compares state of backed up files within archive and then like rsync just adds the changed files

[2018-04-05 16:59] Fourdee commented on #816
@MichaIng

Yep, agree 👍
Rsync cannot be piped or compressed in realtime. Only the end result can be compressed, defeating the purpose by requiring 2x~ backup size and additional resource usage.

[2018-04-05 17:00] Fourdee commented on #1687
@DrJeff

Thanks for the heads up 👍

We'll apply this fix to v6.7.

[2018-04-05 17:06] Fourdee commented on #1687
Resolved for v6.7 + patched during update.

@DrJeff
Thanks again 👍

[2018-04-05 17:06] #1687 closed, assigned to Fourdee

[2018-04-05 17:19] bokiroki opened #1689 "Deluge daemon is not running"
I'm on last version 6.6 on raspberry pi 3.
last week i reported this issue.
https://github.com/Fourdee/DietPi/issues/1658
This issue is fixed, but now, in latest version i noticed when i restart raspberry pi, or if i'm not using deluge to often, and when i go to deluge web server, it says that deluge is offline, i can't connect.. when i click on start daemon, i can than connect to it..
my problem

[2018-04-05 17:27] Fourdee commented on #1689
@bokiroki

Thanks for the report 👍

As we are unable to replicate in local testing, we'll need to debug the logs

When the issue occurs (eg: offline) please paste the results of these commands:
[code]

[2018-04-05 17:34] Fourdee commented on #1662
@MichaIng

Agree 👍

I'd even go as far to say 0% for formatting. As rootFS can never be formatted, should be fine, to apply to all formats on ext4:
[code]

[2018-04-05 17:38] bokiroki commented on #1689
When i entered cat /var/log/deluged.log nothing happened

when i entered those commands, deluge was running and downloading files..
do you want to enter those commands when i restart dietpi and see that daemon is not running?

root@DietPi:~# cat /var/log/deluged.log
root@DietPi:~# dietpi-services status
[  OK  ] Root access verified.

 DietPi-Services
──────────────────────────────────────────────

[2018-04-05 17:39] Fourdee commented on #1662
@MichaIng

Quick commit sent for 0% ext4 formatting, feel free to tweak/change as needed https://github.com/Fourdee/DietPi/commit/43a97fc1d206121304d5bdb928f2ae6038f8d3f0

[2018-04-05 17:42] Fourdee commented on #1689
@bokiroki

Strange, service reports inactive.

Yes please 👍

[2018-04-05 17:57] bokiroki commented on #1689
I restarted twice and didn't had any problems (entered deluge web without issues)..i will try again after few hours, and when i see that daemon is not running, i will run those commands and report..

[2018-04-05 18:02] Fourdee commented on #1689
@bokiroki

I've managed to replicate the issue here. Seems there are two issues we need to resolve:
- enable ``` ENABLE_DELUGED=1``` in ```/etc/default/deluged```, else sometimes it will fail to run.
- Set service to run non-daemonized and re-use simple service type again.

#### Apply the above: Copy and paste all
[code]

This resolves the issue locally for me, however, if you could test this and

[2018-04-05 18:15] bokiroki commented on #1689
Sorry but i dont know how to do this?
i entered in terminal ENABLE_DELUGED=1
what then, in what file i paste this text?
Also can you tell me for when is planned release off version 6.7?
Thanks

Edit: my mistake, so deluged is file..
I changed ENABLE_DELUGED=0 to ENABLE_DELUGED=1 in file
than i did paste all of that text beneath that
Is this correct?

[2018-04-05 18:22] Fourdee commented on #1689
@bokiroki

Simply select/highlight all the commands, copy, then paste directly into SSH window.

Few days hopefully.

[2018-04-05 18:26] Fourdee commented on #1663
No response, marking as closed. Please reopen if required.

[2018-04-05 18:26] #1663 closed, assigned to nobody

[2018-04-05 18:27] Fourdee commented on #1651
@SuBLiNeR

I'll mark this as closed + known issue for now. Should I be able to get my hands on the device, or you can run serial debugging, we'll reopen and investigate further.

[2018-04-05 18:27] #1651 closed, assigned to nobody

[2018-04-05 18:30] bokiroki commented on #1689
sorry, one more question. Is it normal for samba to have that many daemons?
![untitled](https://user-images.githubusercontent.com/19166918/38384678-146fd1e0-3910-11e8-982f-2abd35435b1f.png)

[2018-04-05 18:31] Fourdee commented on #1515
I'll mark this as closed due to the following:
- RetroPie Wiki specifies Ubuntu image must be used.
- Seems incompatible with Debian Stretch + Meveric's repo currently.
- Outside our support range.

[2018-04-05 18:31] #1515 closed, assigned to nobody

[2018-04-05 18:46] Fourdee commented on #1689
@bokiroki

Interesting, I tried to limit this with the following in ```/etc/samba/smb.conf```, however, it has no effect, still 4 processes :

https://www.samba.org/samba/docs/current/man-html/smb.conf.5.html

This parameter limits the maximum number of smbd(8) processes concurrently running on a system and is intended as a stopgap to prevent degrading service to clients in the event that the serv

[2018-04-05 19:00] Fourdee commented on #1689
@bokiroki

We do not load local printers in our ```smb.conf``` by default, so you can apply the following to remove 1 additional process and fully disable printing:
[code]

I've applied the above to DietPi v6.7 by default.

[2018-04-05 19:27] Fourdee commented on #1511
EMMC works fine in local testing.

Marking closed in favor of : https://github.com/Fourdee/DietPi/issues/1452.

[2018-04-05 19:27] #1511 closed, assigned to nobody

[2018-04-05 19:27] Fourdee commented on #1503
No response, marking as closed. Please reopen if required.

[2018-04-05 19:28] #1503 closed, assigned to nobody

[2018-04-05 19:30] Fourdee commented on #1211
Marking as closed due to the following:
- https://github.com/Fourdee/DietPi/issues/1211#issuecomment-347245505
- Lack of time to invest/research in rewriting the web interface with a different SSH library, that allows for password changes.

[2018-04-05 19:31] Fourdee commented on #949
Marking as closed due to:
- Product discontinued
- PREP offers a method to convert pre-image of debian into DietPi: https://github.com/Fourdee/DietPi/blob/master/PREP_SYSTEM_FOR_DIETPI.sh

[2018-04-05 19:31] #949 closed, assigned to nobody

[2018-04-05 19:32] Fourdee commented on #907
Marking as closed due to:
- Kernel (outside of our support range)

[2018-04-05 19:32] #907 closed, assigned to nobody

[2018-04-05 19:33] Fourdee commented on #770
Marking as closed due to the following:
- I lack the device, and, have no plans to purchase one currently.
- PREP can be used to convert an existing Debian pre-image into DietPi: https://github.com/Fourdee/DietPi/blob/master/PREP_SYSTEM_FOR_DIETPI.sh

[2018-04-05 19:33] #770 closed, assigned to nobody

[2018-04-05 19:36] Fourdee commented on #713
Marking as closed due to the following:
- We now use the stock Raspbian kernel via APT
- We no longer provide custom kernels due to lack of man hours, and, as such this is outside of our support scope.

[2018-04-05 19:36] #713 closed, assigned to nobody

[2018-04-05 19:38] Fourdee commented on #665
Marking as closed due to:
- No activity/interest from our user base or dev team.

[2018-04-05 19:38] #665 closed, assigned to nobody

[2018-04-05 19:38] Fourdee commented on #664
Marking as closed due to:
- No activity/interest from our user base or dev team.

[2018-04-05 19:38] #664 closed, assigned to nobody

[2018-04-05 19:40] Fourdee commented on #245
Marking as closed due to:
- No activity and minimal interest from our user base.

[2018-04-05 19:40] #245 closed, assigned to nobody

[2018-04-05 19:41] Fourdee commented on #1244
Marking as closed due to:
- No activity.
- Inability to locally test 750Ti. I own a 1050Ti only, which is fully functional.

[2018-04-05 19:41] #1244 closed, assigned to nobody

[2018-04-05 19:42] Fourdee commented on #1125
Marking as closed due to:
- inactivity
- Pre DietPi v6.x

[2018-04-05 19:42] #1125 closed, assigned to nobody

[2018-04-05 19:44] Fourdee commented on #1106
As of v6.6, RPi's currently install our non-free binary by default:
http://dietpi.com/downloads/binaries/all/unrar_5.3.2-1+deb9u1_armhf.deb

[2018-04-05 19:44] #1106 closed, assigned to nobody

[2018-04-05 19:45] Fourdee commented on #1149
Marking as closed due to:
- Inactivity, lack of interest from our user base and/or dev team.

[2018-04-05 19:45] #1149 closed, assigned to nobody

[2018-04-05 19:48] Fourdee commented on #1099
As mono is a shared library, installed for many programs in ```dietpi-software```, changing the version for one specific item, may break other software installations that use mono.

As such, we'll stick with the mono version as provided by its repo.

I'll mark this as closed.

[2018-04-05 19:48] #1099 closed, assigned to nobody

[2018-04-05 19:55] Fourdee commented on #1088
http://www.nvidia.co.uk/download/driverResults.aspx/133321/en-uk

Agree, also:
Unable to find a URL link, that links to the latest driver download. EG: we'd need to use a specific driver that would require manual updates to the link over time, that will always be behind the latest version:
http://www.nvidia.co.uk/content/DriverDownload-March2009/confirmation.php?url=/XFree86/Linux-x86_64/390.48/NV

[2018-04-05 19:55] #1088 closed, assigned to nobody

[2018-04-05 19:57] Fourdee commented on #1028
Marking as closed due to:
- This ties in with our native PC image and should be functional: https://github.com/Fourdee/DietPi/issues/1171#issuecomment-336522021

[2018-04-05 19:57] #1028 closed, assigned to nobody

[2018-04-05 19:58] Fourdee commented on #955
Marking as closed due to inactivity. Please reopen if required.

[2018-04-05 19:58] #955 closed, assigned to nobody

[2018-04-05 19:59] Fourdee commented on #953
Marking as resolved:
https://github.com/Fourdee/DietPi/issues/953#issuecomment-364833858

[2018-04-05 19:59] #953 closed, assigned to nobody

[2018-04-05 20:01] Fourdee commented on #990
Marking as closed due to:
- inactivity
- This appears to be a kernel issue with 4.9
- 4.9 kernel is no longer supported/developed by Odroid. 4.14 will be provided with Stretch image

[2018-04-05 20:01] #990 closed, assigned to nobody

[2018-04-05 20:04] tomillr commented on #1171
Tried to boot the x64 EFi-build on a Beelink AP34 (Apollo Lake, internal eMMC) but the machine crashes with a non-blinking cursor right after selecting the UEFI usb drive from the bootloader of the machine.

Could it be that there's a difference between the Atom and Apollo Lake-based CPUs?

In fact, the only Linux distro I've been able to get to boot on the machine is one made by [Linuxium](http:/

[2018-04-05 20:25] MichaIng commented on #1662
@Fourdee
Jep simple but effective. Also /boot cannot be formatted as I can see, and even if, /boot is in most cases (always?) fat, not ext4 and also a moreless static partition with no need for reserved blocks as well.

We could add an additional drive menu entry/toggle to release reserved blocks on existing (formatted + used) drives. Add it, if file system is ext4 and format is possible (thus no

[2018-04-05 20:27] Fourdee commented on #1487
🈯️ Resolved for v6.7, 128MB is required, applied automatically by dietpi-config if lower than 128.
[code]

[2018-04-05 20:27] #1487 closed, assigned to Fourdee

[2018-04-05 20:32] Fourdee commented on #1171
@tomillr

Yep, appears to be an issue with either the CPU and/or device (or BIOS limitation) itself. Modifications are required:
http://rglinuxtech.com/?p=2021

---

notes:

https://wiki.debian.org/UEFI#Support_for_mixed-mode_systems:_64-bit_system_with_32-bit_UEFI
[code]

[2018-04-05 20:49] Fourdee commented on #1662
@MichaIng

👍 😃

Yep agree 👍

~I've lost track of where we are in this ticket is, but this should now resolve the original issue (https://github.com/Fourdee/DietPi/issues/1662#issue-309933014), once drive is formatted again? Can we mark as closed?~

I'll run a test.

---

Looks good, nice one @MichaIng 👍 :
![image](https://user-images.githubusercontent.com/7077026/38391528-6100b1da-391c-11e8-9a6f-4

[2018-04-05 21:02] Fourdee commented on #1662
Resolved for v6.7. Future EXT4 formats in ```dietpi-drive_manager``` is now defaulted to disable reserve blocks.

@bokiroki

As per @MichaIng solution, for existing disks, you can disabled the reserve blocks to unlock full capacity of disk:
[code]

[2018-04-05 21:02] #1662 closed, assigned to Fourdee, MichaIng

[2018-04-05 21:07] Fourdee commented on #1689
Marking as resolved for v6.7, https://github.com/Fourdee/DietPi/issues/1689#issuecomment-379024795 passed local testing.

@bokiroki

If you try the above, and/or have any issues, please reopen this ticket and let us know.

[2018-04-05 21:07] #1689 closed, assigned to Fourdee

[2018-04-06 10:26] Fray2000 opened #1690 "Cannot change the "CPU Min Freq Limit""
## Creating a bug report/issue:

#### Required Information:
- DietPi Version 6.6
- SBC Device RPi 2 B+
- Power supply used 5v 3A
- SD card used Microdrive 8GB [Classe 10]
- Distro Dietpi 6.6

#### Expected behaviour:
Ability to select the CPU Min Freq Limit

#### Actual behaviour:
It crashes with this error  ;

/DietPi/dietpi/dietpi-config: array assign: line 1916: syntax error near unexpected tok

[2018-04-06 11:15] MichaIng commented on #1690
@Fray2000
Oh yeah, this looks like a typo, thanks for reporting this, I will send commit to fix it for v6.7. You can fix it manually until then:
- Find these lines within your `/DietPi/dietpi/dietpi-config`: https://github.com/Fourdee/DietPi/blob/master/dietpi/dietpi-config#L1916-L1923
- Replace the `=+=` that occurs two times there with `+=`, so the first equality character is wrong there, causin

[2018-04-06 11:33] MichaIng commented on #269
Is kernel 4.14 stable now on Odroids? Can't exactly assure from here, but they are talking about "release" at least: https://forum.odroid.com/viewtopic.php?f=146&t=28895

[2018-04-06 11:47] MichaIng commented on #528
@Fourdee
The link provided by @pfeerick includes some other steps after `start_bt.sh`: https://www.evernote.com/shard/s1/sh/cb4b9f07-e182-4abf-8ee3-5db105192626/3a8d6c901cc8acab
- "...it configures the BT module and makes it available for use": `./rtk_hciattach -n -s 115200 /dev/ttyS1 rtk_h5 &` (needs to run in background, hmm serial tty needs to be active, then (?)...)
- "Remove soft block, scan

[2018-04-06 12:33] MichaIng commented on #639
@Fourdee @k-plan
Yey another great construction site 😃.

I would follow @k-plan's arguments about LCD Panel and Bluetooth:
- LCD Panel is also some sort of display, otherwise displays are peripheral as well, where the "Display" category also contains some settings that could fit into "Performance". Finally as there are some more settings related to device visual output that need to be configured t

[2018-04-06 13:02] MichaIng commented on #1510
@Fourdee
### `return` value + function return check vs. `echo` value + arithmetic result check ###
[code]
- Clear winner is using `return` for checks, e.g. `G_CHECK_FREESPACE`/`G_CHECK_VALIDINT`, also it doesn't matter is echo/return 1 or 0 and check for for yes/no, I verified, that both functions do the `&& echo 0` 😉.
- Again with both negative results, thus no `&& echo 0`
[code]
- Looks like the

[2018-04-06 17:26] tomillr commented on #1171
Sounds like exactly the same behavior on my system.

Using the 'isorespin.sh' script I'm able to get an Ubuntu iso to boot properly on the Apollo Lake system. The process the author uses is also described on the website. [LINK](http://linuxiumcomau.blogspot.com/2017/06/customizing-ubuntu-isos-documentation.html)

Any chance of getting this fixed somehow? Maybe it's possible to adopt the method lin

[2018-04-06 17:57] Fourdee commented on #1510
@MichaIng

Nice one 👍. I'll try to keep that in mind 😃

[2018-04-06 18:33] Fourdee commented on #269
@MichaIng

Unsure and untested. Meveric has installed 4.14 for his XU4 stretch image, so, ours will be that by default aswell.

We'll probably leave Jessie image running 3.x, as a fall back if problems occur.

[2018-04-06 18:59] jednano commented on #871
@lavadrop I can't find your email address anywhere. I have a question for you. Will you please contact me at jedmao@outlook.com?

[2018-04-07 16:47] ghost opened #1691 "Kernel panic on boot"
Not sure what happened, my RPi 3 was working dandy yesterday. Today it was unresponsive and a reboot produces the following error messages and hangs. I was on 6.6 before

https://imgur.com/a/htt5w

[2018-04-07 18:15] Fourdee commented on #1171
@tomillr

Seems the AP34 BIOS is 32bit, hence the need for all these software changes.

Unable to find a 64bit BIOS update from beelink.

Unfortunately, Its not something I can start at the moment, and, I also lack the device for testing. The only thing I can suggest is to also try contacting Beelink for a 64bit BIOS update.

[2018-04-07 18:29] Fourdee commented on #1691
@gpioneer90

Looks like a filesystem corruption on RootFS, usually due to:
- Power loss
- Insufficient PSU
- Unstable SD card

You'll probably want to reinstall the system from scratch. Please use a well branded SD card (eg: Sandisk) and official RPi PSU for stability.

I'll mark this as closed due to it being a hardware/power issue.

[2018-04-07 18:29] #1691 closed, assigned to nobody

[2018-04-07 18:32] Fourdee commented on #1690
Confirmed working on RPi 3.

@MichaIng

Legend, many thanks for fixing this 👍

[2018-04-07 18:32] #1690 closed, assigned to MichaIng

[2018-04-07 19:07] ghost commented on #1691
It all came in a pack from Fry's (a well known electronics retailer in the US). Bummer. Worth posting though in the rare case something is up with 6.6 and more people have this problem (hopefully not).

[2018-04-07 20:07] k-plan commented on #1623
@MichaIng

Hmm... habe da einmal ein wenig herum gespielt.
Der zweite `webserver` `lighttpd` kommt von `pihole` Installer.
Spielt auch keine Rolle, ob man via `dietpi-software` installiert oder nicht.

Test:

- Frisches Images ohne jegliche Zusatzsoftware
- in `dietpi-software` =>>  nun `Webserver Preference : Nginx` ausgewählt
![180407-0001](https://user-images.githubusercontent.com/17237601/3845

[2018-04-07 20:20] Fourdee commented on #1322
As mono is a shared library, installed for many programs in dietpi-software, changing the version for one specific item, may break other software installations that use mono.

As such, we'll stick with the mono version as provided by its repo.

I'll mark this as closed.

[2018-04-07 20:20] #1322 closed, assigned to nobody

[2018-04-07 20:27] Fourdee commented on #1672
No response, marking as closed. Please reopen if required.

[2018-04-07 20:27] #1672 closed, assigned to nobody

[2018-04-07 20:27] Fourdee commented on #1668
No response, marking as closed. Please reopen if required.

[2018-04-07 20:27] #1668 closed, assigned to nobody

[2018-04-08 05:23] blogabe commented on #1211
anything i can do to help?

[2018-04-08 10:55] symbios24 opened #1692 "Tor Hotspot is not Working"
Hi,
Using latest Dietpi v6.6 with a Raspberry pi 3 i installed wifi hotspot is working fine
i installed tor hotspot the hotspot is not visible/available,is not shown on any wifi device computer/smartphone
as i see in the dietpi process screen the hot-spot or tor hotspot are not there
the dietpi-services are started ok isc-dchp-server,hostapd,cron

in other words the tor hospot is not working

[2018-04-08 11:23] symbios24 commented on #1692
Update: if tor is installed together with wifi hotspot its not working if its installed separate :eg first hotspot and then tor its working.

[2018-04-08 15:25] k-plan commented on #1688
Hi @MichaIng ,

Richtig. 😃
Und ich mag die Idee, einen lokalen NTP Server zu nutzen und konfigurieren zu können.

Puh ... das wird komplex bei der Endnutzer Konfiguration. Weiss nicht, ob das etwas für unbedarfte Quereinstiger ist. Klingt mir mehr nach einer "Entwickler"-Lösung.
Vorteil den ich noch sehe, man muss nichts im `dietpi.txt` Handling ändern und in `dietpi-globals` anpassen.
Ob ich mich

[2018-04-08 19:34] tomillr commented on #1171
Already tried to convince Beelink a couple of times but it doesn't seem like they are interested in support their devices.

How about a donation of 100 bucks so that you can get your hands on an Apollo Lake device?

[2018-04-08 19:48] Fourdee commented on #1688
@MichaIng @k-plan

Maybe a simple solution, could we not just add the current IP gateway (eg: router) to the server list automatically?
[code]

My router doesnt support NTP, however, it still passed via external pool server.

EDIT:

We could also have a ```dietpi.txt``` entry with:
[code]

Then additional ```dietpi-config``` option to change it?

[2018-04-08 20:30] k-plan commented on #1688
@Fourdee

😃  - yes it's simple. But I think, @MichaIng  want to avoid traffic and to pester public ntp server  with his LAN devices ...

But I have here more when one SNTP server for highly available in local area network.
What should I do?
And if I want to ask my local ISP for NTP, because he response quicker when pool.ntp.org server, what should I do?

Most network devices only support SNTP serv

[2018-04-08 21:31] Fourdee opened #1693 "DietPi-Config | SMBclient fails to mount"
[code]

Due to following entry (man pages state this is the default):
[code]

Only affects:
- 🈴 RPi Stretch
- 🈯️ Debian Stretch is fine.

Also seems RPi hides folders/files starting with ```#```, but we can still navigate to them:
[code]

[2018-04-08 21:43] ghost commented on #1446
Unfortunately, the installation problems I had with Node Red, reported with Dietpi version 6.1 of , have also been re-presented with version 6.6.

The hardware in his is exactly the same, the errors ... too. :(

[2018-04-08 22:09] Fourdee commented on #1693
Solution by our community💘
http://dietpi.com/phpbb/viewtopic.php?f=11&t=3004#p11703

```vers=1.0``` resolves missing folders. We'll apply it by default.

[2018-04-08 22:17] Fourdee commented on #1693
Completed. Fix will be applied when samba client is run again in ```dietpi-config```.

[2018-04-08 22:17] #1693 closed, assigned to Fourdee

[2018-04-08 22:29] Fourdee commented on #1446
@bkappa

Just ran a fresh install test on v6.6, appears to be working fine:
![image](https://user-images.githubusercontent.com/7077026/38473239-92ea2c98-3b84-11e8-936e-8874fc6530b4.png)

Please verify the following folder exists:
[code]

[2018-04-09 05:55] ghost commented on #1446
root@LRed:~# ls -lha /home/nodered
totale 16K
drwxr-xr-x 4 nodered nodered 4,0K apr  9 07:38 .
drwxr-xr-x 4 root    root    4,0K apr  9 07:32 ..
drwx------ 3 nodered nodered 4,0K apr  9 07:32 .config
drwxr-xr-x 4 nodered nodered 4,0K apr  9 07:38 .npm

[2018-04-09 05:59] ghost commented on #1446
![error](https://user-images.githubusercontent.com/36029522/38481605-f0503dea-3bcb-11e8-8a33-d8b1b78c2a35.png)

[2018-04-09 07:13] jvdneste commented on #368
Wouldn't even need scanning, just failover. Connect first, if fail, connect second, etc. Though scanning would perform better, it's just an optimization.

[2018-04-09 14:19] MichaIng commented on #1623
@k-plan
Hmm, this is new... Looks like we need to block the installation of PiHole, if another webserver than Lighttpd is installed. The other way round, we need to force Lighttpd installation (ignoring user preference) via dietpi-software (so we can track) as pre-req for PiHole, as long as there is no possibility to convince PiHole on installation/update, that another webserver is already present

[2018-04-09 14:36] MichaIng commented on #1375
@k-plan @Fourdee
Ah found it, seems it has become even more complicated as Lighttpd is installed now by PiHole install script, which breaks other web servers in case?

I see the idea of recovering our lighttpd config was already there. Perhaps it is possible to use pihole-FTL.service.d/dietpi.conf to include ExecStartPre and ExecStopPost to backup and recover the current lighttpd config: https://g

[2018-04-09 15:05] MichaIng commented on #1688
@k-plan @Fourdee
Jep, the idea was to avoid traffic and perhaps reduce sync time by allowing to just sync with local NTP server. I am not sure how it is handled, if the local IP/host is just added to the servers list.

As dietpi.txt design currently always has all settings set, it would need three settings all together then:
- `CONFIG_NTP_MIRROR_MODE=local`/pool
- `CONFIG_NTP_LOCAL_MIRROR=gateway`

[2018-04-09 16:08] MichaIng commented on #1313
@LexiconCode
The current implementation should allow other services to use port 80 as well, as PiHole web ui ist just available via `.../pihole` sub location. But currently PiHole reconfiguration and update breaks this, as it reapplies it's own Lighttpd config, at least if there is an update for the web ui available.
_€: Ah if really another process/service (besides webserver) needs to bind to por

[2018-04-09 18:52] k-plan commented on #1375
@MichaIng

https://discourse.pi-hole.net/t/how-do-i-revert-to-a-previous-version-of-pi-hole/7168

or

[code]

BTW:

- you should have a look onto upcoming new FTLDNS™ Pi-hole’s Faster Than Light Domaon Name Service

https://pi-hole.net/2018/02/22/coming-soon-ftldns-pi-holes-own-dns-dhcp-server/

https://pi-hole.net/2018/03/24/help-us-beta-test-ftldns/

![2018-04-09_205028_172 16 10 50](https://use

[2018-04-10 16:02] ghost opened #1695 "Error in DietPi-Config, settings low freq to min. manually"
## Creating a bug report/issue:
dietpi-config error while trying to set minimum frequency to device!

#### Required Information:
- DietPi Version | ```cat /DietPi/dietpi/.version```? 6.6
- SBC Device (EG: RPi 3)? OrangePi / Raspberry Pi 2 / BananaPi
- Power supply used (EG: 5v 1A RAVpower)? Original PSU with 5V 2.1A
- SD card used (EG: Sandisk ultra)? SanDisk EXTREME
- Distro (EG: Jessie) | ```una

[2018-04-10 16:16] MichaIng commented on #1375
@k-plan @Fourdee
Ah good news, this might solve the Stretch incompatibility due to dnsmasq version, we will see.
**€: Jep indeed:**

**Ref: https://pi-hole.net/2018/03/24/help-us-beta-test-ftldns/**

Good that the service name did not chance, thus the same hooks can be used.
So far I have this:
[code]
- Now forcing reinstall:
[code]
- As can be seen, lighttpd fails due to port already used by apac

[2018-04-10 16:27] MichaIng commented on #1695
@SuBLiNeR
Thanks for your report. Jep this accidental typo is known: https://github.com/Fourdee/DietPi/issues/1690
Fixed for v6.7 and until then you can fix by yourself: see link ⬆️

[2018-04-10 17:56] MichaIng opened #1696 "DietPi-Software | Pi-hole: Solve issues with internal installer/updater"
Let's focus on this and get it solved for v6.7:
New issue to merge: https://github.com/Fourdee/DietPi/issues/1313 + https://github.com/Fourdee/DietPi/issues/1375 + https://github.com/Fourdee/DietPi/issues/1623

Pi-hole internal installer and updater breaks DietPi with the following:
- Installs `lighttpd`, even if other webserver is already present, causing one to fail.
- Overwrites `lighttpd.conf`

[2018-04-10 17:57] MichaIng commented on #1313
Close in favour of https://github.com/Fourdee/DietPi/issues/1696

[2018-04-10 17:57] #1313 closed, assigned to nobody

[2018-04-10 17:57] MichaIng commented on #1375
Close in favour of https://github.com/Fourdee/DietPi/issues/1696

[2018-04-10 17:57] #1375 closed, assigned to nobody

[2018-04-10 17:57] MichaIng commented on #1623
Close in favour of https://github.com/Fourdee/DietPi/issues/1696

[2018-04-10 17:57] #1623 closed, assigned to nobody

[2018-04-10 18:00] ghost commented on #1696
btw... i can't simulate this behaviour, I've installed pihole since v6.1 and than again with 6.3 freshly after i messed stuff badly....
I've never had any problems on mine 2 RPi3 upon this. Never seen any errors...
Would you mind to explain it a bit more?

[2018-04-10 18:01] ghost commented on #1695
Totally forget that i've read this two days ago.... Shame on me!

[2018-04-10 18:01] #1695 closed, assigned to nobody

[2018-04-11 06:53] symbios24 opened #1697 "Plex media server Additional Info"
Hello, i was wondering if you can put any additional Info about Plex Media Server about how to Host files from the server over Wifi. since the setup its only hosting over Lan.
Or its just as easy as installing WiFi HotSpot with plex server and thats it?
and also suggest some plex clients apps

Thank you

[2018-04-11 21:56] Fourdee commented on #1697
@symbios24

It should work under hotspot fine, although untested. You'd need to install it and try. Let us know if any issues.

[2018-04-11 22:00] Fourdee commented on #1446
![image](https://user-images.githubusercontent.com/7077026/38645430-edfff992-3ddb-11e8-81b2-54875c15af23.png)

@bkappa

Lets check the logs, after you receive the failure, please paste results:
[code]

You should see something along the lines of:
[code]

[2018-04-12 01:36] Fourdee commented on #1621
![image](https://user-images.githubusercontent.com/7077026/38651653-49a521aa-3dfa-11e8-9305-11b3b74ce816.png)

[2018-04-12 01:36] Fourdee commented on #1621
Completed.

[2018-04-12 01:36] #1621 closed, assigned to Fourdee, k-plan, MichaIng

[2018-04-12 01:39] Fourdee commented on #1621
@MichaIng @k-plan

When using PREP, enter following image creator name (number):

- Micha = 1
- K-Plan = 2

[2018-04-12 02:42] Fourdee commented on #1696
Yet more workarounds, endless cycle unfortunately.

Ideally, we need to work on the Pi-Hole install script itself, add command line option support for disabling setup of any webserver. Also uninstall ```isc-dhcp-client``` on debian if required.

In the perfect world, add support for selecting a choice webserver to use, however, I don't currently have the time for this and i feel i'd only end up co

[2018-04-12 04:43] clarky0000 commented on #865
Thanks for you help on that. Im also getting these messages in sabnzbd:

_yenc module... NOT found!
SABYenc disabled: no correct version found! (Found v3.3.2, expecting v3.3.1)

Can I disregard those?

[2018-04-12 12:20] MichaIng commented on #1696
@Fourdee
Jep indeed, it's more a hackaround, but at least it's one that, as far as I could test, works reliable. The service name of pihole-FTL does not change (soon) and stops/starts before and after any update/reinstall etc.

The issue with directly editing their scripts is:
- that it leads to a huge maintenance effort to keep it up to date, since pi-hole seems to develop quite actively, just se

[2018-04-12 12:29] MichaIng commented on #1696
@SuBLiNeR
As long as you install it with Lighttpd (DietPi default as well) and do not use `pihole -up` / `pihole -r` to update or reconfigure it, you will not face any issues.
Our installation script already handles the initial replacement of `lighttpd.conf` to make pi-hole web ui available at `my.domain.org/pihole` instead of `my.domain.org`, allowing other web services to be reachable as well. B

[2018-04-12 13:04] MichaIng commented on #1621
@Fourdee
Looks great, also nice solution to prevent the usage of our names 👍.
2 Lines more, but still fully fits onto VirtualBox default resolution terminal 😄:
![new_credits](https://user-images.githubusercontent.com/28480705/38678895-a07b3376-3e62-11e8-9ae3-acc9d3c46b93.png)

[2018-04-12 17:36] k-plan commented on #1621
@Fourdee

... and what is with:
- Fourdee = 3

:question:  :fearful:

But joking aside.

1.) Hmmm ... I personally would prefer:

-  DietPi Project Team = 0

and finish.
No need to edit, if anything will change in future.
And, because Fourdee have to upload the image to dietpi.com, he always know, who as build it from DietPi Project Team.

2.) No need to give `additional credits` to k-plan (me), b

[2018-04-12 17:43] dnalor opened #1698 "Odroid C2 / Kodi crash"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version ? 6
- SBC Device (EG: RPi 3)? Odroid C2
- Power supply used (EG: 5v 1A RAVpower)? Standard
- SD card used (EG: Sandisk ultra)? emmc
- Distro (EG: Jessie) | ```uname -a```? Linux DietPi 3.14.79+

#### Additional Information (if applicable):
- Software title? Kodi
- Can this issue be replicated on a fresh installation of Di

[2018-04-12 18:38] k-plan commented on #1696
@MichaIng

Hmm ... no. They  install and use `dhcpcd5` to set a static ip address on Raspbian. But correct, only one time. After this, no need any more.

It will change some lines in  `/etc/dhcpcd.conf`, which doesn't exist on DietPi, because here` isc-dhcp-client` is used. Config file is in :
[code]

https://github.com/pi-hole/pi-hole/blob/master/automated%20install/basic-install.sh#L645-L667

ht

[2018-04-12 18:44] MichaIng commented on #1621
@k-plan
I guess Daniel Knight / Fourdee = 0 😉.

Agree with "DietPi Project Team = 0" or "DietPi Project Official" or something. In the end issues with images from us three should be addressed the same way (here or forum) anyway.

Additional credits:
Hehe, DietPi would run with Fourdee alone as well. But as long as we have official contributors, helping the one or the other way, it's fine to give c

[2018-04-12 19:02] k-plan commented on #1698
@dnalor

Can you please provide output of:

`root@Odroid-C2-Stretch:~# cat /etc/os-release`

[2018-04-12 19:55] dnalor commented on #1698
@k-plan
[code]

[2018-04-12 22:04] MichaIng commented on #1696
@k-plan

Hmm, it tells dhcpcd to use a static IP / not lease IP via DHCP, doesn't it? But nothing else reads dhcpcd.conf... Would be also possible to do this via /etc/network/interfaces (ifupdown) without any DHCP server installed and even if, they would be inactive (dhclient needs `...inet dhcp`, dhcpcd need `...inet manual`, whereas `inet static` disables all DHCP leases AFAIK).
But using /etc/n

[2018-04-12 22:50] Fourdee commented on #865
https://sabnzbd.org/wiki/installation/sabyenc.html

@clarky0000

Seems your current install requires a specific version, run the following command to achieve it:
[code]

verify with:
[code]

Where did you receive that error, which logfile?