[2018-07-06 17:43] MichaIng commented on #1902
@kevkha
Thanks for your request. Huiii, it seems that there are several different installation methods depending on the device/system. We would need to stick with a method, that is similar on all devices: https://rocket.chat/docs/installation/manual-installation/debian/

First we need to add `MongoDB`, the other prereqs are already supported by `dietpi-software`.
The following steps need much test

[2018-07-06 18:02] kevkha commented on #1902
Thanks @MichaIng. Sounds good. I can help with deployment and testing as needed.

[2018-07-06 18:08] hellfirehd commented on #1896
It's been running (and working hard) all night long.  We can give it some more time if you like but I'm satisfied that it's performing as well on the ODroid as it did on my x86_64.

Sadly, the same change did not help Radarr.  It's still crashing like crazy and I suspect it's probably to do with mediainfo.

[2018-07-06 18:12] Taloth commented on #1896
Radarr uses pretty much the same code for calling mediainfo, so get me a ~100 line console log with Trace log level enabled and we should be able to confirm whether mediainfo is involved in those crashes.

[2018-07-06 21:05] userdeveloper98 commented on #1827
Hey guys, I have something for you !
Check it out: https://files.fm/u/skzgfequ
Extract, run (`java -jar dietPiSurveyDemo.jar`), open http://localhost:8080/survey.xhtml.
(You need java installed and port 8080 free)
Hope you will like it :+1:

[2018-07-07 00:24] mgherghi opened #1904 "[dupe] Cant mount NFS on Rpi"
│ DietPi-Drive_Manager: mount -t nfs -o port=2049 192.168.1.1:/ /mnt/nfs
                  │  - Exit code: 32
                  │  - DietPi version: v6.11 | HW_MODEL:3 | HW_ARCH:2 | DISTRO:4
                  │  - Image creator: DietPi Core Team
                  │  - Pre-image: Raspbian Lite
                  │
                  │ Log file contents:
                  │ mount.nfs: Protocol not sup

[2018-07-07 07:50] userdeveloper98 commented on #1876
a heavyweight solution, hard to debug and investigate the cause of different problems.
Can be replaced with a single python script.

[2018-07-07 07:50] #1876 closed, assigned to nobody

[2018-07-07 11:29] Lanneer487 opened #1905 "Harddrives automount problem"
I changed to boot my pi on usb. But now the other drives connected via usb wont be mounted. they are connected but not selectable in dietpi-drive_manager. How can I fix this?

[Disks.txt](https://github.com/Fourdee/DietPi/files/2172714/Disks.txt)

[2018-07-07 13:58] Fourdee commented on #1905
@roelfoubert

Hi,

Thanks for the report 👍

We'll need to get some more info.

Please paste results:
[code]

Also, are these USB drives powered via USB, or, dedicated PSU (eg: 3.5inch drives)?

[2018-07-07 14:07] Fourdee commented on #1904
@mgherghi

Hi, thanks for the report 👍

We are currently looking into this, however, we do need users with NFS v2/3 to assist us with testing.

#### Please can you try the following, one at a time and see which (if any) connect:
[code]

#### Please paste your results in the following ticket: https://github.com/Fourdee/DietPi/issues/1898
I'll mark this as closed (dupe)

[2018-07-07 14:07] #1904 closed, assigned to nobody

[2018-07-07 14:27] MichaIng commented on #1898
@Fourdee
Just checked, what we made different with earlier versions. We added the `fstab` entry identically, just `nfs4` type, but `nfs` however should solve more than break.

But we didn't mount the nfs drive explicitly, but just called `mount -a` maybe via fast it is mounted a bid different, then we do now? So users @mgherghi with the protocol error could just try `mount -a` and if this works, m

[2018-07-07 15:09] Fourdee commented on #1827
@userdeveloper98

I tried it using remote connection, hangs on loading white page.

Works great on localhost, looks good 👍 :
![image](https://user-images.githubusercontent.com/7077026/42412228-066293ba-8200-11e8-95d0-8c730507e1a2.png)

How are you scraping the data? Directly from https://dietpi.com/dietpi-software.html?

[2018-07-07 15:11] Fourdee commented on #1896
@hellfirehd

Many thanks for confirming resolved with Sonarr 👍

@Taloth

Yep, i'll get this applied 👍

[2018-07-07 15:17] Fourdee commented on #1896
For v6.12:
- Removed ```--optimize=all --server``` for all our Mono launched applications.

@hellfirehd

Would be great if you could help assist with this 👍

[2018-07-07 15:43] Fourdee commented on #1452
@olluz @origamins

I was unable to replicate the issue you reported, auto expansion works as intended.

I used the following (latest) image:
https://dietpi.com/downloads/images/DietPi_Rock64-ARMv8-Stretch.7z

With win32diskimager to write.

#### Please can you retry the above, if problem persists, please let us know and i'll reopen the ticket.

[2018-07-07 15:43] #1452 closed, assigned to Fourdee

[2018-07-07 15:46] userdeveloper98 commented on #1827
@Fourdee

I used hardcoded values just for the sake of demo...
If you like it we can do a real one...

[2018-07-07 15:52] Fourdee commented on #1827
@userdeveloper98

If you like it we can do a real one...

By all means, if this is something you want to do and works well, we can add it to the server.
Ideally, if you can scrape from https://dietpi.com/dietpi-software.html directly, it would be best, although, if you do go ahead, we could export the data values as a .txt download?

The only issue is I have 0 knowledge of Java, so all maintenance

[2018-07-07 15:56] Fourdee commented on #1898
@MichaIng

I'am hoping this user can assist us with testing, hopefully find a solution for NFSv3, then I can implement into drive_man, as per the Samba method.

[2018-07-07 16:01] Fourdee commented on #1898
Notes:

NFS v3 server:
https://unix.stackexchange.com/q/205403/98891
```RPCNFSDCOUNT="8 --no-nfs-version 4"```
Unable to mount with all possible options...

[2018-07-07 16:46] Fourdee commented on #1892
Test:
- 🈴 ```apt-get dist-upgrade``` Does nothing in relation to kernel update
[code]

manual pkg install:
[code]

- 🈯️ root@DietPi:~# uname -a
Linux DietPi 4.4.126-rockchip-ayufan-239 #1 SMP Sun May 27 18:38:24 UTC 2018 aarch64 GNU/Linux
[code]

[2018-07-07 16:56] Fourdee commented on #1892
Ok, I'll check preimage, see if its our issue:
- ```fstab``` ```LABEL=boot /boot/efi vfat defaults,sync 0 0``` | missing from our image 🈴

I'll redo the image:

---

- 🈴 stretch-minimal-rock64-0.7.3-1040-arm64.img, fails to even complete boot, hangs on "waiting for device LABEL=linux-root", tried it twice. eMMC and SD.

[2018-07-07 17:39] Lanneer487 commented on #1905
The drives I use are the same I used before I boot on a usb drive so I know they work.
One is another usb stick and the other is an usb powerd external harddrive.
[drives 2.txt](https://github.com/Fourdee/DietPi/files/2172947/drives.2.txt)

[2018-07-07 18:16] Lanneer487 commented on #1905
I copied the partitions from my old sd card to my usb with gparted and everything worked like previous

[2018-07-07 18:39] Fourdee commented on #1905
@roelfoubert

Thanks for additional logs 👍

Its picking the items up as unmounted:
[code]

If you run ```dietpi-drive_manager```, do the drives appear in the list (if not, please can you take a screenshot). If they appear in the list, simply select each drive, and select ```Mount```.

DietPi-Drive_Manager no longer automatically mounts newly detected drives. They must be done manually. Once mounte

[2018-07-07 18:42] Lanneer487 commented on #1905
The drives didn't appear in the drive manager menu but I can't take a screenshot because I fixed it by cloning a previous sd card

[2018-07-07 18:47] Fourdee commented on #1905
@roelfoubert

Ok, i'll try to setup a device that matches your setup, see if we can replicate.

Note to self:
- Lacks primary partition ```/dev/sdX``` on all drives?

[2018-07-07 18:54] MichaIng commented on #1827
@Fourdee
You mean scraping from dietpi.com/survey right? ;)

@userdeveloper98
Looks really nice, great work. Remote access from VM host to VM guest worked all here.
Ideally of course would be it running on dietpi.com and directly reading data from survey upload directory to replace current static dietpi.com/survey

Only concerns: It runs as java, so the server needs to have java installed and run

[2018-07-07 19:10] Fourdee commented on #1905
@roelfoubert

I've enabled some debugging output for drive_manager, please can you download the updated script:
[code]

Then run in debug mode:
[code]

Once completed, it will print out lots of drive information. Please copy and paste everything you see into this ticket. With this info, would should be able to debug/resolve much quicker.

[2018-07-07 21:44] Lanneer487 commented on #1905
Now everything works so I don't think you will see the problem in the logs. I wanted to restore a backup on a new installation on a usb stick and then I had the problem.

[2018-07-07 22:50] MichaIng commented on #1801
Started to implement this in combination with an unified download + install function for non-APT installs: https://github.com/Fourdee/DietPi/pull/1906

[2018-07-07 23:06] MichaIng commented on #1892
@Fourdee
[code]
- Error makes sense, if EFI partition is not mounted there, but might be our APT force-old-conf rule an issue here as well, e.g. `extlinux.conf` needs edit to force correct kernel upload to EFI partition/handling? Maybe worth to having a look into this file (before and after kernel upgrade without rule), also as `ayufan` asked for it's content in the other thread.

[2018-07-07 23:10] duncansimpson commented on #1898
I'm seeing the same thing since upgrading to 6.11 per my post here.

https://dietpi.com/phpbb/viewtopic.php?f=9&t=4169&start=10#p13427

Happy to provide more details or test fixes.

[2018-07-07 23:57] MichaIng commented on #1898
@duncansimpson
Thanks for joining here. Good to here again, that it worked pre v6.10.

**Trace again how we added NFS pre v6.10:**
- https://github.com/Fourdee/DietPi/blob/3dd53f29bdcd90b1a51d8efb620bbff2d049524f/dietpi/dietpi-config#L5549
- https://github.com/Fourdee/DietPi/blob/3dd53f29bdcd90b1a51d8efb620bbff2d049524f/dietpi/func/dietpi-set_nfsclient#L44
  - fstab entry: `ip.of.nfs.server:/ /mnt

[2018-07-08 12:55] PoldiMUC opened #1907 "Dietpi-Update Problems on 2 Systems"
## Creating a bug report/issue:
Dietpi-Update Problems on 2 Systems

#### Required Information:
                                 System 1 and System 2
- DietPi version	| 6.4 and 6.9
- Distro version	| stretch 9.4 and stretch 9.4
- Kernel version	| Linux DietPi 4.9.80-v7+ #1098 SMP Fri Mar 9 19:11:42 GMT 2018 armv7l GNU/Linux and Linux FHEM 4.14.34-v7+ #1110 SMP Mon Apr 16 15:18:51 BST 2018 armv7l

[2018-07-08 13:10] PoldiMUC commented on #1907
After several reboots the update at System 2 works now. So only the problem on system 1 is actual.
Greetings

[2018-07-08 13:28] burgyman commented on #1892
@Fourdee not sure I'm following, can I run below to upgrade to latest kernel?
[code]

[2018-07-08 14:12] MichaIng commented on #1907
@PoldiMUC
Thanks for your report.

### System 2
- https://github.com/Fourdee/DietPi/blob/9039399bbebba61285e77618b86c6523e660693e/dietpi/dietpi-update#L205
- `/tmp/dietpi-update` (`$FILEPATH_TEMP`) is not available
- But it's created at beginning of script: https://github.com/Fourdee/DietPi/blob/9039399bbebba61285e77618b86c6523e660693e/dietpi/dietpi-update#L278
- ... and was successfully used to o

[2018-07-08 14:21] butterbrot21 opened #1908 "Certbot + NoIP: no connection via dns-domain - (nextcloud works)"
Hey,
unfortunately i can't connect to the web-gui/software via NoIP domain.
I have tried with Lighttpd and Nginx. In both cases I could only connect to nextcloud (with dns-domain and ssl). For all others there is an error. The required ports are open.
I only have a free Account on NoIP, but i read here on GitHub it works without premium for some time.

#### Required Information:
- DietPi version	|

[2018-07-08 14:34] Fourdee opened #1909 "Info : In response to mayan-edms.com"
### We take security very seriously at DietPi:
If any claims can be made (that contain proof, and, factual information to back it up), we will investigate it and resolve with the highest priority.

However, the only reasons I can find for this person to make this claim, is based on two comments on the post, with no valid proof or factual information to back them up ("here-say").

# Comment 1:
<img

[2018-07-08 14:34] MichaIng commented on #1908
@butterbrot21
Thank you for your report.

Actually this behaviour is somehow expected. CertBot/`dietpi-letsencrypt` by default applies the certificates and SSL configuration to the webservers only, Lighttpd in your case. Connecting to this webserver through the ports it listens to (80+443) therefore works + SSL redirection.

Koel and Emby bring and run their own embedded webservers, which can be s

[2018-07-08 14:41] PoldiMUC commented on #1907
Thank You for your fast reply.
I don`t understand what you want to say to system 2. But it works now fine so perhaps it will help you if someone have similar problems.

On System 1 i got following when i run the things you ask for:

root@DietPi:~# cat /etc/systemd/system/dietpi-ramdisk.service
[Unit]
Description=DietPi-RAMdisk
After=local-fs.target boot.mount
Before=rsyslog.service syslog.service

[2018-07-08 14:51] MichaIng commented on #1909
@Fourdee
Not very fact based, more emotional Trump like argumentation, otherwise just very bad journalism, mentioning exactly the points that we just took care about (as you mention very well above).

It is a quite common issue, that if you take care security and privacy concerns and make things more transparent, inform users etc., the impression is "Huh, data is collected?" "Huh, I should have ch

[2018-07-08 15:08] MichaIng commented on #1909
Indeed, larger dev team, although kernel development included, but they do not have to take care all the software offer related parts, which break our stability by times, if a new different behaving update with different dependencies e.g. appears.

It is a shame, actually ARMbian and DietPi could enhance each other very greatly like backend / frontend. With some nice communication, clear different

[2018-07-08 15:12] butterbrot21 commented on #1908
Ah ok I understand, that makes sense.
Thanks a lot for the quick detailed answer! SSL for nextcloud/pydio is completely enough.

For Koel etc. it would be nice to connect just with http.
I have a AVM FritzBox 7360 wth Port Forwarding (8000/TCP)
For know im not able to connect with  `http://domain.net:8000`. Can this happen becouse
of the hsts+redirect on with cerbot?

One last question^^  IP trans

[2018-07-08 15:24] Fourdee commented on #1892
@burgyman

Yep apologies, as a temp solution, once ```linux-firmware-image-4.4.126-rockchip-ayufan-239``` is installed via APT you can run those commands.

[2018-07-08 15:32] butterbrot21 commented on #1908
After a few try, I see that `http//example.net:8000` automatically convert to `https`, resulting in the 404 Not Found with an active letsEncrypt Certificat

Does certbot work in between or do I have to set more in the router like port forwarding e.g. 8000 to 8000 to the ip from my odroid?

I have one more question about nextcloud, I hope it's ok? :)
Is nextcloud protected by default with failtoban

[2018-07-08 15:36] Fourdee commented on #1907
@PoldiMUC

In regards to System 1:
```Dietpi-bugreport-no: 7b0541df-5216-4f92-acae-120818727f91-0```. I was unable to find this on our server.
I believe its a hardware instability (SD card issue), however, check the following for any errors:
[code]

---

@MichaIng

We already force a ```sync``` on the ramdisk: https://github.com/Fourdee/DietPi/blob/master/dietpi/dietpi-ramdisk#L141-L149

So yep, I

[2018-07-08 15:39] burgyman commented on #1892
Worked great!
[code]

[2018-07-08 15:43] Fourdee commented on #1907
On Linux, sync is only guaranteed to schedule the dirty blocks for writing; it can actually take a short time before all the blocks are finally written. The reboot(8) and halt(8) commands take this into account by sleeping for a few seconds after calling sync(2).

Hmm, so there is no guarantee that sync will complete the changes?
We could add additional ```sleep``` but this is no real solution, an

[2018-07-08 15:44] MichaIng commented on #1907
@PoldiMUC
Don't mind about my `System 2` comments, it's more a collection of my thoughts 😄. As the update finally went well, it will be hard to track down the real reason anyway.

Is this really the last entry in `/var/tmp/dietpi/logs/dietpi-ramdisk.log` or was it just capped at the end? Last entry should be dated to last startup, otherwise it would be a hint that `dietpi-ramdisk` service is no co

[2018-07-08 15:48] Fourdee commented on #1907
@MichaIng

I considered adding ```-v``` to ```cp``` commands in ```dietpi-ramdisk```:
[code]
However, any errors would already be printed in the logs. This would only add to the logfile size and disk write usage.

[2018-07-08 16:05] MichaIng commented on #1907
@Fourdee

I think, if there would be a reliable way to determine when disk changes are synced completely, those commands would already use them(?).
This seems to be lowest kernel/hardware level.

Jep, AFAIK `cp` etc. have no chance to notice if a file change was done on disk level or I/O buffer.

@PoldiMUC
If I/O buffer on slow SDcard is really the issue, you could test the following:
[code]
This

[2018-07-08 16:10] PoldiMUC commented on #1907
I will do a backup from System 1 and write it on a fresh new SD-Card. I hope that will solve the problem. But cause the system is ~600km away it will take a little time.
I will report the result.

Thank you all for your quick and big support.
;-)

@Fourdee
Here the results you ask for:

root@DietPi:~# dmesg | grep mmc
[    0.661401] mmc-bcm2835 3f300000.mmc: could not get clk, deferring probe
[

[2018-07-08 16:15] Fourdee commented on #1905
@roelfoubert

Ah I see. Yep, this will restore a lower version of DietPi, and, your previous ```/etc/fstab``` entries which may of caused the issue.

Ideally, backups should be only created/restored on the same system. Restoring a backup of another system with different hardware/devices, may create issues if they do not exist on the restored system.

I'll mark this as closed, please reopen if requ

[2018-07-08 16:15] #1905 closed, assigned to Fourdee

[2018-07-08 16:18] Fourdee commented on #1877
## Software titles that currently use ```root```:
Legend
- 🈯️ Changed and passed install/run testing
- 🈹 Changed, pending testing.

#### Items
- 🈯️ 128 MPD | target = ```mpd```
- ️🈯️ 32 YMPD | target = ```ympd```
- 🈯️ 118 Mopidy | target = ```mopidy```
- 🈯️ 39 MiniDLNA | target = ```minidlna```
- 118 AmiBerry |  No change
- 🈯️ 33 AirSonic | target = ```airsonic```
- VNC servers/Desktop | No change

[2018-07-08 16:22] MichaIng commented on #1908
@butterbrot21
Hmm, CertBot itself does not interact with the connection at all. It is just the webservers that forces redirection. In your case `/etc/lighttpd/conf-enabled/redirect.conf` is responsible to make Lighttpd redirect all traffic to HTTPS. But this as said does only affect connections Lighttpd listens to, thus 80 and 443, not 8000.

In the router of course you need to forward incoming po

[2018-07-08 16:35] MichaIng commented on #1907
Not sure, about the first /root readonly, as it then got remounted.

@PoldiMUC
Could you do:
[code]

[2018-07-08 16:39] PoldiMUC commented on #1907
Hi MichaIng
here the results:

root@DietPi:~# umount /boot

root@DietPi:~# fsck mmcblk0p1
fsck from util-linux 2.29.2

root@DietPi:~# mount /dev/mmcblk0p1 /boot

root@DietPi:~# lsblk
NAME        MAJ:MIN RM  SIZE RO TYPE MOUNTPOINT
mmcblk0     179:0    0 14.7G  0 disk
├─mmcblk0p1 179:1    0 41.5M  0 part /boot
└─mmcblk0p2 179:2    0 14.7G  0 part /

root@DietPi:~# dmesg | grep mmc
[    0.661401] mm

[2018-07-08 16:42] MichaIng commented on #1877
@Fourdee
What do you think about making `dietpi` a system user only (new images only), to run software that needs shared data access? Otherwise as in fact it has root permissions via sudo without password, there is no security benefit in comparison to root. And users, that want to access terminal/SSH not as root, will create their own user anyway, as they do already now.

Alternative:
- Let softwa

[2018-07-08 16:48] Fourdee commented on #1877
@MichaIng

Yep, lets try it 👍

[2018-07-08 16:58] MichaIng commented on #1907
@PoldiMUC
Hehe sorry forgot to add `/dev/..` in the fsck command. The following should run proper fsck:
[code]
But as `umount /boot` does work as well (as long as drive is mounted there), the error message indicates already an issue there:
`[17201.127033] FAT-fs (mmcblk0p1): Volume was not properly unmounted. Some data may be corrupt. Please run fsck.`

But no readonly flag at least: `mmcblk0p2 17

[2018-07-08 17:10] PoldiMUC commented on #1907
fsck say:
0x41: Dirty bit is set. Fs was not properly unmounted and some data may be corrupt.
it ask me "remove dirty bit" or no action?
is that repair or someting else so can i do it?

[2018-07-08 17:18] MichaIng commented on #1907
@PoldiMUC
Dirty bit is set, if the kernel thinks it might be good to check the system and AFAIK should lead to an automated check on reboot.
So reason should be the `not properly unmounted`. You can agree to remove it.

[2018-07-08 17:28] PoldiMUC commented on #1907
So i do this:
root@DietPi:~# fsck /dev/mmcblk0p1
fsck from util-linux 2.29.2
fsck.fat 4.1 (2017-01-24)
0x41: Dirty bit is set. Fs was not properly unmounted and some data may be corrupt.
1) Remove dirty bit
2) No action
? 1
Perform changes ? (y/n) y
/dev/mmcblk0p1: 255 files, 45399/83705 clusters

root@DietPi:~# mount /dev/mmcblk0p1 /boot

root@DietPi:~# dmesg | grep mmc
[    0.661401] mmc-bcm2835

[2018-07-08 17:35] butterbrot21 commented on #1908
thanks for the info and help! 1 Year, thats a long time  :)

I am currently reinstalling, completely fresh.
I'm going to leave redirect and HSTS off this time and in addition clear my browser cache/cookis.

A tool for self-signed certificates would be cool^^ Probably not worth it, because as you already said most of the software takes care of it or it has no real sense.

I'll report when everythin

[2018-07-08 17:50] Solmester opened #1910 "DietPi-LetsEncrypt | Option to disable HTTPS"
Where do "dietpi-letsencrypt" store the certificate? i need to remove it.

[2018-07-08 17:57] MichaIng commented on #1908
@butterbrot21
Yeah, as said, might be that the browser you used to access to the server still has it's HSTS bits set, or possibly they are even applied to the OS, not sure how this is handled. In case try another browser and/or access by mobile phone or something to be really sure.
Checking Debian:
[code]
- `wget` as it's own HSTS list on user basis, this is how it looks like. Okay easy to reset h

[2018-07-08 18:00] MichaIng commented on #1910
@Solmester
`/etc/letsencrypt` default of certbot.
But note that webservers will fail afterwards. You would need to recover non-SSL configuration in case.

[2018-07-08 18:04] Fourdee commented on #1877
MPD/YMPD: https://github.com/Fourdee/DietPi/commit/89164b0696f4c9102192631607716ee93cb86309

[2018-07-08 19:28] Solmester commented on #1910
I am looking in the Configuration folder of lighttpd ( /etc/lighttpd/lighttpd.conf) and don't see where to remove ssl, it it the right path?

[2018-07-08 19:42] butterbrot21 commented on #1908
yap you're right^^
With chrome(used with HSTS) it does not work. Here it is still redirected to https :)

With edge/firefox it works.

Now I was really looking forward to the evening but nonono,
plex makes trouble this time xD

I can connect to plex an login works. When i tried to chose a directory an endless waiting loop pops up.

I use a Wd-Red 2TB, which is also formatted and mounted via drive-

[2018-07-08 19:42] MichaIng commented on #1910
On Lighttpd to revert:
[code]

[2018-07-08 19:44] MichaIng commented on #1908
@butterbrot21
I am running some test installations anyway currently. Will add plex media server for the next and see if I can replicate.

[2018-07-08 19:53] butterbrot21 commented on #1908
Sorry!I can sleep in peace 👍.
After a reboot and browser change everything works. No problem with Plex!

[2018-07-08 21:05] Solmester commented on #1910
Thank you very much for the help!

[2018-07-08 21:14] Solmester commented on #1910
Btw: now it force me to use https on "https://192.168.1.13/owncloud" but not on "http://192.168.1.13/wordpress", is there a setting i need to change?

[2018-07-08 21:54] lupa18 opened #1911 "HomeAssistant Nmap tracker stop working after update diepi"
## Creating a bug report/issue:

#### Required Information:
- DietPi version	| 6.11
- Distro version	| 9.4
- Kernel version	| Linux DietPi 4.4.77-rockchip-ayufan-136 #1 SMP Thu Oct 12 09:14:48 UTC 2017 aarch64 GNU/Linux
- SBC device		| Rock64 (aarch64)

#### Steps to reproduce:
1. Update dietpi
2. (net-tools is uninstalled)

#### Expected behaviour:
nmap trakcer should work

#### Actual behaviour:

[2018-07-09 01:12] Fourdee commented on #1911
@lupa18

Apologies, we'll get this resolved for v6.12.

In the mean time, please install net-tools:
[code]

[2018-07-09 01:14] Fourdee commented on #1909
Marking as closed.

[2018-07-09 01:14] #1909 closed, assigned to Fourdee

[2018-07-09 01:17] Fourdee commented on #1794
Not possible, at least from my end.

We lack the time required to implement this, as we are forced to focus on other items, marking as closed.

[2018-07-09 01:20] Fourdee commented on #1824
No response and unable to replicate, marking as closed.

Assuming incorrect output bit-depth is set.

[2018-07-09 01:20] #1824 closed, assigned to nobody

[2018-07-09 01:22] Fourdee commented on #1815
@zzlinwq

Apologies for the delay.

Unfortunately, we can only support WiFi devices on the boards we provide images for.

[2018-07-09 01:22] #1815 closed, assigned to nobody

[2018-07-09 01:22] mgherghi commented on #1898
So what should i do ?

[2018-07-09 01:23] Fourdee commented on #639
Will get completed as/when i'am able.

In the mean time, this can be closed.

[2018-07-09 01:23] #639 closed, assigned to nobody

[2018-07-09 01:24] Fourdee commented on #609
Outdated, marking as closed, please reopen if required.

[2018-07-09 01:24] #609 closed, assigned to nobody

[2018-07-09 01:26] Fourdee commented on #873
Not possible, Debian Stretch lacks Kodi support for Rockchip. Rockchip lacks Kodi available binaries for Debian Stretch.
We lack the time required to invest implementation.

Marking as closed.

[2018-07-09 01:26] #873 closed, assigned to nobody

[2018-07-09 01:27] Fourdee commented on #1042
Marking as closed.

If we receive, or are able to obtain this device, we'll open for image implementation.

[2018-07-09 01:27] #1042 closed, assigned to nobody

[2018-07-09 01:29] Fourdee commented on #269
Ticket cleanup.

If you experience the issue mentioned in this ticket, please reopen.

[2018-07-09 01:29] #269 closed, assigned to Fourdee

[2018-07-09 01:29] Fourdee commented on #680
Ticket cleanup.

If you experience the issue mentioned in this ticket, please reopen.

[2018-07-09 01:29] #680 closed, assigned to nobody

[2018-07-09 01:29] Fourdee commented on #896
Marking as closed, in favor of: https://github.com/Fourdee/DietPi/issues/1877

[2018-07-09 01:29] #896 closed, assigned to nobody

[2018-07-09 01:30] Fourdee commented on #1143
Marking as closed.

If we receive, or, are able to obtain the device, we'll reopen for image implementation.

[2018-07-09 01:30] #1143 closed, assigned to nobody

[2018-07-09 01:32] Fourdee commented on #1185
Marking as closed.

Although i'd love to have this implemented, with lack of time and higher priority tickets, not possible currently with lack of interest.

[2018-07-09 01:32] #1185 closed, assigned to nobody

[2018-07-09 01:33] Fourdee commented on #1565
Marking as closed in favor of: https://github.com/Fourdee/DietPi/issues/1549

[2018-07-09 01:33] #1565 closed, assigned to nobody

[2018-07-09 01:34] Fourdee commented on #1531
Marking as closed.

We currently support 64bit x86_64 systems with 64bit EFI and/or BIOS and/or EFI under CSM.

[2018-07-09 01:34] #1531 closed, assigned to nobody

[2018-07-09 01:35] #1603 closed, assigned to Fourdee, TheExpertNoob

[2018-07-09 01:37] Fourdee commented on #1591
I'll mark as closed.

However, if this is still an issue for any user, please reopen.

[2018-07-09 01:37] #1591 closed, assigned to nobody

[2018-07-09 01:38] Fourdee commented on #1557
@MichaIng

I'll mark this as closed, as we are only focused on pure Debian.

However, please reopen if you want to continue work on this. I'am just trying to clean up some old tickets :)

[2018-07-09 01:38] #1557 closed, assigned to MichaIng

[2018-07-09 01:41] Fourdee commented on #1517
Marking as closed in favor of: https://github.com/Fourdee/DietPi/issues/1542

[2018-07-09 01:41] #1517 closed, assigned to nobody

[2018-07-09 01:41] #1551 closed, assigned to nobody

[2018-07-09 01:42] Fourdee commented on #1528
No review required, the current online doc covers the status page, and, a link to available upnp clients:
https://dietpi.com/phpbb/viewtopic.php?f=8&t=5#p49

[2018-07-09 01:42] #1528 closed, assigned to nobody

[2018-07-09 01:44] Fourdee commented on #1254
We require either:
- Funding (via donations) to purchase the device
- Dev sample board sent via manufacture

Before we can implement an image + support.

[2018-07-09 01:44] #1254 closed, assigned to nobody

[2018-07-09 01:44] #1856 closed, assigned to nobody

[2018-07-09 01:46] Fourdee commented on #1843
@midwan
Apologies, not possible from our end currently.

Marking as closed.

[2018-07-09 01:46] #1843 closed, assigned to nobody

[2018-07-09 01:46] #1835 closed, assigned to nobody

[2018-07-09 01:48] Fourdee commented on #1766
I see no reason for this currently, as the majority of our users have RAMlog installed:
https://dietpi.com/survey/

I'll mark as closed, however, please reopen if required.

[2018-07-09 01:48] #1766 closed, assigned to nobody

[2018-07-09 01:50] #645 closed, assigned to nobody

[2018-07-09 01:51] Fourdee commented on #1080
Marking as flagged for removal due to low install count.

[2018-07-09 02:19] Fourdee opened #1912 "DietPi-Software | DietPi EDMS"

[2018-07-09 02:30] Fourdee commented on #1912
Fork: https://github.com/Fourdee/mayan-edms

[2018-07-09 02:31] Fourdee commented on #1912
License pre-reqs:
https://tldrlegal.com/license/apache-license-2.0-(apache-2.0)
- Interesting, we could profit from this, similar to the creator charging for end user support (even if its a bug their end).
![image](https://user-images.githubusercontent.com/7077026/42427810-7e5ff53c-8328-11e8-98da-2d4d8f20dd05.png)

[2018-07-09 02:33] Fourdee commented on #1912
- 🈴 TM check | no valid TM in UK database. N/A, we can use 'Mayan EDMS' if required.
![image](https://user-images.githubusercontent.com/7077026/42427888-e1e8c26e-8328-11e8-8e51-2d2b07315729.png)

[2018-07-09 02:35] Fourdee commented on #1912
- 🈴 Include copyright | Expired in 2015: https://github.com/mayan-edms/mayan-edms/blob/master/LICENSE#L1
![image](https://user-images.githubusercontent.com/7077026/42428041-92d7f874-8329-11e8-9916-27a644ab0f72.png)

[2018-07-09 03:08] Fourdee commented on #1912
```armbianmonitor u``` ```armbianmonitor U```

Which contains:
https://github.com/armbian/build/blob/fc07886a1d5e5013bc27b58cb30d5e3d218e5da9/packages/bsp/common/usr/lib/armbian/armbian-hardware-monitor#L66-L111
https://github.com/armbian/build/blob/fc07886a1d5e5013bc27b58cb30d5e3d218e5da9/packages/bsp/common/usr/lib/armbian/armbian-hardware-monitor#L23-L31

Uploaded to a public off-site pastebin

[2018-07-09 07:19] userdeveloper98 commented on #1827
@MichaIng  @Fourdee

Agree, where is survey upload directory?

It's a very dirty draft, it contains a lot of things that are not needed.
Also, by default, it takes as much as it can for the cache, but it can be fine-tuned to specific requirements
A more lightweight version will be built once we agree on all details and preferences 😉

It would be great!
It potentially can update itself very efficie

[2018-07-09 07:48] duncansimpson commented on #1898
@MichaIng

WRT the subpaths and fstab entries, yes I need to use subpaths in this case, because I have a range of nfs shares on the remote server and I don't need/want all of them visible on my Pi.  I added these entries many months ago, and they have been working fine through numerous upgrades of DietPi until I upgraded from 6.9 to 6.11.  No other changes were made during the most recent upgrade,

[2018-07-09 08:24] burgyman commented on #1892
After the upgrade I can't see the Sdcard anymore (64 GB, Ext3)
@Fourdee any ideas if it could be an issue related with the upgrade or a kernel bug?

[2018-07-09 09:42] userdeveloper98 commented on #1877
@MichaIng  @Fourdee
Great work guys !! 👍

I would prefer to be even more specific.
Ex: `minidlna` can have read-only access to media files, because it will stream files but will not change it.
`QbitTorrent ` should have read/write access to files, because it will modify/read files.
etc..

[2018-07-09 10:45] matbar87 commented on #1901
Script always had a name "backup" (without .sh), I change "#!/bin/sh" to "#!/bin/bash" in script too, and this script has owned by root. My "test" script from last post working now too.

I tried everything, but still is not working. I change script to print to log file after finish one job and I saw that script starts, but backup isn't start or finished (dietpi-backup.log is empty), because can't

[2018-07-09 11:21] MichaIng commented on #1910
@Solmester
Hmm, did you enable HSTS (did `lighttpd-disable-mod dietpi-hsts`/`rm /etc/lighttpd/conf-available/99-dietpi-hsts.conf` complain file/mod not being available)?

HSTS makes the browser remember that it must always connect to this page via HTTPS. Please try to use another browser to access ownCloud and see if it works there.

Or did you change anything within ownCloud settings, / `/var/www

[2018-07-09 11:57] MichaIng commented on #1827
@userdeveloper98

- `/home/dietpi-survey/survey/`
- Not sure what is possible with the embedded webserver. Ideally would be, the webserver being somehow uncoupled from report page creation, e.g. background process needs read access of course, but webserver user just having access to the produced database/webpage.

- DietPi-Survey and Bugreport use an unique ID in hardware ID style, check `/DietPi/

[2018-07-09 12:01] MichaIng commented on #1898
@duncansimpson
Not sure, but I think on update the fstab file got recreated, as well as the network drive entries. So the path got removed. Please try to manually re-add it within fstab and `mount -a`.

So we need to allow adding paths for the target server on v6.12, perhaps via separate input field or included within IP input field.

[2018-07-09 12:03] MichaIng commented on #1892
@burgyman
I don't think it's a kernel bug, since this is a stable release.

`lsblk` does not contain the SD at all?

[2018-07-09 12:11] MichaIng commented on #1877
@userdeveloper98
Jep, good point. If we already have separate software users, then limit their permissions to what is really needed.

Hmm but via groups currently not sure how to achieve.

If `dietpi_userdata/Music` is dietpi:dietpi 640 and software user is in dietpi group, then software can just read
660: software can always write as well
664: everyone can read and just software within dietpi gro

[2018-07-09 13:27] burgyman commented on #1892
@Michalng no it doesn't (I have 2 HDs and 32GB eMMC)

[code]

[2018-07-09 13:49] MichaIng commented on #1901
@eljotx
So again, just to be sure:
- If you execute manually `/DietPi/dietpi/dietpi-backup 1` is successfully runs through?
- If you run `G_USER_INPUTS=0 /DietPi/dietpi/dietpi-backup 1` is works without any error as well, showing something like:
<details>

[code]
</details>

- Running the exact command row from the script

[code]
works as well, showing all got executed and finished in `/mnt/rpi/ba

[2018-07-09 14:00] MichaIng commented on #1080
@Fourdee
Makes sense with our install method. The used repo points to wheezy: http://dist.jriver.com/latest/mediacenter/mediacenter22native.list
- <s>Could be tested it Jessie, Stretch dist is available as well, but I doubt, since the below:</s>
- http://dist.jriver.com/stable/mediacenter/mediacenter24.list Jessie repo available.
- Stretch repo as Beta: http://dist.jriver.com/beta/mediacenter/medi

[2018-07-09 14:13] matbar87 commented on #1901
I tested as you show and on every your question: yes, everything working when I start it manually.
I tested it with run-parts command, but it is still working - when I do it manually.

My script is listed after use `run-parts --test /etc/cron.daily`

If I add G_USER_INPUTS=0 and start script manually, should I see the screens (whiptail) with information about log etc.? Because I see it always.

[2018-07-09 15:41] MichaIng commented on #1901
@eljotx
`G_USER_INPUTS=0` just disables whiptail menus to show. Information is just shown as terminal messages and questions are answered as "no" (cancel in case of insufficient free space check, no log view).

To force it for the script, you need to either export it before executing script:
[code]
or easier just directly give it over: `G_USER_INPUTS=0 /DietPi/dietpi/dietpi-backup 1`

I just recog

[2018-07-09 17:31] Fourdee commented on #1080
@MichaIng

Yep, the software is somewhat buggy at its core, and, with the low install count (2 currently: https://dietpi.com/survey/), not worth our time implementing and providing support for, I believe.

[2018-07-09 17:36] Fourdee commented on #1892
@burgyman

Is the SD card plugged into a SD card USB reader, or, the device itself. It could be the kernel has changed the way this functions.

Might be worth checking dmesg for any info (paste whole contents and we'll check):
[code]

Might also require a .dtb update, i'll check this later today.

[2018-07-09 17:50] matbar87 commented on #1901
First I test `G_USER_INPUTS=0` and if I start script manually, log:
`This environments allows user inputs`
else if start by cron:
`This environment does not allow user inputs`

Next I try to change my script to this:
[code]

and dietpi-backup.log is still empty, but backup.log:

when cron started and automatically start this script:
[code]

when I started script manually:
[code]

[2018-07-09 18:01] matbar87 commented on #1901
It's very annoying... next, my script only has:

[code]
and still not working if this script is started by cron.

Problem is still with dietpi-backup started by cron from v6.10. I think that is problem with changes did you made in v6.10 in dietpi-backup script.

dietpi-backup.log is still empty

[2018-07-09 18:58] MichaIng commented on #1901
@eljotx
Thanks for your testing effort.
I will go through our changed. Have no clue so far. At least according to your tests, the script is actually not hanging (whiptail/G_USER_INPUTS is not the issue), but failing.

[2018-07-09 19:11] Fourdee commented on #1877
qBitTorrent requires a local user account with login creds, as it uses:
- WebUI\LocalHostAuth=true
- home directory of user for config.

Group require in service for file saves:
User=qbittorrent
Group=dietpi

[2018-07-09 19:28] duncansimpson commented on #1898
@MichaIng

I don't know if the fstab got recreated on upgrade, I didn't check the timestamp on it, however straight after the upgrade I noticed that my remote shares weren't connected.  So I checked fstab and saw my entries _were still there_, intact with the sub paths still there also, so I know the update did not remove the entries and did not remove the subpaths.

`mount -a` doesn't remount the

[2018-07-09 20:02] burgyman commented on #1892
@Fourdee
SD card is inserted directly in the device (used mainly for dietpi-backup)

[code]

Also noticed that on login I get the following NULL error below
[code]

[2018-07-09 20:20] Fourdee commented on #1827
@MichaIng

Hmm, actually easy to test with dedicated branch

No idea, buts its a good idea 👍

[2018-07-09 20:21] Fourdee commented on #1877
Son/rad arr, require home user dir?
[code]
https://github.com/Sonarr/Sonarr/wiki/Command-Line-Options

🈯️ Fixed by setting ```-data=/mnt/dietpi_userdata/PRORGAM```

[2018-07-09 20:22] MichaIng commented on #1898
@duncansimpson
Last I can think of: We removed `net-tools` from DietPi core dependencies. Nowadays it is/should be replaced everywhere by `iproute2`, but who knows if somehow old tools/methods use `net-tools` commands, especially as we talk about old NFS versions. Although we did not purge the package, just autoremoved in case it is no dependency of any other installed package, it is worth trying:

[2018-07-09 21:40] MichaIng opened #1913 "DietPi-Software | Pydio: Install rework needed, currently intrusive Apache only config"
Pydio currently configures Apache2 webserver only and PHP + Apache configuration files in an intrusive way. Needed is:
- Download from always up-to-day source: https://download.pydio.com/pub/core/ci/pydio-latest.tar.gz
  - tar.gz due to smaller download size and possible surviving user permissions
- Webserver dependent pydio-only configuration file, containing php_(admin_)value fcgi output_bufferi

[2018-07-09 22:14] duncansimpson commented on #1898
Thanks @MichaIng

I'm at work at the moment (NZ Time), I'll try that tonight (about 8hrs from now).

FYI I'm using a RPi 3, however I also have an older 2B I can tinker with if necessary, just need to find a spare SD card somewhere.

[2018-07-10 03:18] 1activegeek commented on #918
Hey guys, sorry to potentially necro this - but what was the end result and value here around the logging? I only ask as I'm about to open an issue with PiHole team on their repo for something happening to me. I just want to rule out the logging being the issue, but it could potentially be the issue.

Short - The block page is no longer the actual blockage, just a white page saying blocked by piho

[2018-07-10 07:10] MichaIng commented on #918
The white block page is actually an issue of the DietPi implementation, but it means that it actually works at least. Please see and switch to the opened Pi-hole issue here on DietPi GitHub, I found some workaround for now, but not yet implemented. We are waiting for next Pi-hole release which brings a less intrusive installation method. I will recheck later, currently just on mobile :wink:.

[2018-07-10 07:20] duncansimpson commented on #1898
@MichaIng

I tried `apt install net-tools`, no improvement unfortunately:

[code]

Note as mentioned earlier I have 4 nfs entries in fstab, hence 4 messages.

[2018-07-10 07:57] userdeveloper98 commented on #1877
@Fourdee

We can use the same trick as I did for gogs and Jackett https://github.com/Fourdee/DietPi/pull/1895

in Service file write:
`WorkingDirectory=/opt/jackett`
`Environment=USER=jackett HOME=/opt/jackett`

You will need to replace `/opt/jackett` with actual install path of the application
It will make them think that the home folder is the folder where the app is installed. Nice and compact.

[2018-07-10 08:58] sergiud opened #1914 "run-parts: /etc/cron.hourly/dietpi exited with return code 1"
## Creating a bug report/issue:

#### Required Information:
- DietPi version	| `6.11`
- Distro version	| stretch
- Kernel version	| `4.14.32+`
- SBC device		| `Odroid XU3/XU4/HC1/HC2 (armv7l)`
- Power supply used	| 15V 4A
- SDcard used		| eMMC

#### Additional Information (if applicable):
- Software title	| cron

#### Steps to reproduce:

1. Install OpenMediaVault
2. Enable e-mail notifications

#

[2018-07-10 11:16] MichaIng commented on #1914
@sergiud
Thank you for your report.

Let's see, which part failed, call the following and post results:
`/DietPi/dietpi/func/run_ntpd 1`

Which logging mode did you choose, hourly clearing (mode -1) or hourly clearing with persistent storage (mode -2)?
`/DietPi/dietpi/dietpi-logclear 1` in case of mode -1, which will just clear all log files
`/DietPi/dietpi/dietpi-logclear 0` in case of mode -2, w

[2018-07-10 11:23] sergiud commented on #1914
`/DietPi/dietpi/func/run_ntpd 1` result:

[code]

I use the default logging mode. More specifically, Log System in `dietpi-software` states `DietPi-Ramlog #1`. @MichaIng  Is this the info you are looking for?

[2018-07-10 11:30] MichaIng commented on #1914
In this case run: `/DietPi/dietpi/dietpi-logclear 1`

[2018-07-10 11:38] userdeveloper98 commented on #1827
@MichaIng

I mean the folder where all concatenated survey reports are, from all users.
I saw a sample when I opted in, but I don't really know how all reports together will look like.
Is that somehow parsed/formatted matched to UniqID or just appended, etc...

I need a sample of the file which application will need to read -> parse -> draw charts.
Ideally, it will be the latest version of the fil

[2018-07-10 11:38] sergiud commented on #1914
Result:
[code]

[2018-07-10 11:44] sergiud commented on #1914
Additional info: running `sudo /etc/cron.hourly/dietpi ; echo $?` outputs 0. Hence, I'm not sure where the error stems from. The only time I can reproduce the problem is if I run `/etc/cron.hourly/dietpi` not as root.

[2018-07-10 12:31] MichaIng commented on #1914
@sergiud
Thanks for the info.

Hmm the /etc/cron.* folders are definitely run as root:
[code]

You could manually run what cron does and see if this works: `run-parts --report /etc/cron.hourly`

We have another opened issue with cron and one of our scripts. I don't think there is a connection, but just in case I link it here: https://github.com/Fourdee/DietPi/issues/1901

I saw you installed OMV.

[2018-07-10 12:59] MichaIng commented on #1827
@userdeveloper98
This gives you the file name of your upload, based on DietPi created hardware ID: `echo $(sed -n 5p /DietPi/dietpi/.hw_model).txt`

Those uploaded files are placed within the mentioned folder and not changed there. They are just parsed/sourced by the survey-report script to create the static html page.

I just searched a bid about retrieving a bullet prove unique hardware ID, and

[2018-07-10 13:42] 1activegeek commented on #918
@MichaIng ya thats the only good thing I took from it! 😉 I was running free and clear from a container on a server, but wanted to switch it off the container for other reasons. I have the R64 running HASS, so I figure it's an easy little add on. Also complicated things with Cloudflare DoH setup, which I had to undo for other issues.

Ok are you referencing #1696? I came upon that, but saw how long

[2018-07-10 14:23] MichaIng commented on #1901
Made some own testing:

`[......] Checking for (elevated) root access`

After commenting root user check, within `dietpi-backup`, executing it via cron leads to:
`[FAILED] RootFS is currently Read Only, unable to continue.`
But:
[code]

[2018-07-10 15:05] Fourdee commented on #1877
Sonarr/Radarr/Sickrage patch enable:

Mmm, where is the config saved, pre-```-data=/mnt/dietpi_userdata/PRORGAM```?
[code]

🈯️
[code]

 pre-```-data=/mnt/dietpi_userdata/PRORGAM```

[code]

[code]

[2018-07-10 15:05] Fourdee commented on #1877
🈯️ We need to purge mono from ```/tmp``` after its installed.
[code]

[2018-07-10 15:32] Fourdee commented on #1877
Hmm:
[code]
3=straight after ```Run_Update```

🈯️ ```Run_Update | tee -a $FP_LOG``` is causing this, removing ```tee``` resolves.

[code]

🈴 Works, but roughly twice the performance hit during script exec
[code]

![image](https://user-images.githubusercontent.com/7077026/42520702-d41e7674-845e-11e8-911b-f7e0a258e711.png)

[2018-07-10 15:33] MichaIng commented on #1901
@eljotx

`tput` is the issue:
`tput: No value for $TERM and no -T specified`
- Interesting, as we called that with v6.9 as well 🤔.

Fix: https://github.com/Fourdee/DietPi/commit/82ac7b32d32dca9db4fdb824c7ead80174844090

[2018-07-10 16:04] MichaIng commented on #1914
@sergiud
I just tracked down the other issue with cron and DietPi jobs. It should not be related to your issue, as these jobs do not call the harmful function, but at least worth trying, if the above does not give a hint: https://github.com/Fourdee/DietPi/commit/82ac7b32d32dca9db4fdb824c7ead80174844090

[2018-07-10 16:09] MichaIng commented on #1898
@duncansimpson
Okay, so we can sort out `net-tools` 👍.

[2018-07-10 17:55] Fourdee commented on #1877
rtorrent requires access to:
[code]

[code]

[2018-07-10 19:53] Fourdee commented on #1827
Yep, by all means 👍
As long as the folder is not installed on DietPi systems, or, can be removed during the ramdisk update.

[2018-07-10 19:56] Fourdee commented on #918
@1activegeek

Hi,

Currently, we are waiting for the next release (or pre-RC) of Pi-Hole.
Once that is out, we can review what needs to be done our end and rewrite/update the installation, hopefully, getting all these outstanding items resolved:
https://github.com/Fourdee/DietPi/issues/1696

[2018-07-11 05:07] Hax4us commented on #1883
Go to __Application > settings > Display__ then change resolution

[2018-07-11 05:07] #1883 closed, assigned to nobody

[2018-07-11 05:11] Hax4us commented on #1760
Thnx @fourdee ..I were waiting for this :)

[2018-07-11 05:21] Hax4us commented on #1760
But it is not working for me @Fourdee I copy pasted your command in terminal but same results

[2018-07-11 12:51] MichaIng commented on #1827
@userdeveloper98
Here the current script we use: https://github.com/Fourdee/DietPi/blob/testing/.meta/survey_report

[2018-07-11 13:43] Fourdee commented on #1760
@Hax4us

Strange, lets check it got applied, and other stuff. Please paste results:
[code]

[2018-07-11 14:18] Hax4us commented on #1760
[code]

[2018-07-11 19:20] Fourdee commented on #548
@MichaIng

Kids broke my glasses beyond repair 👎 . Can't see anything past 5cm in front of my face 🤣

I'am going to be out of commission for at least a few days, until new glasses arrive.

v6.12 rolled forward to next week.
Feel free to apply commits as you need them, including PR's. I can check everything (if needed) when I return.

[2018-07-12 01:59] gittusmaximus opened #1915 "Odroid C2 Unable to find expected entry 'main/binary-arm64/Packages' in Release File"
# Workaround: https://github.com/Fourdee/DietPi/issues/1915#issuecomment-405341067

---

#### Details:
- Date           | Wed 11 Jul 13:21:35 -12 2018
- Bug report     | N/A
- DietPi version | v6.11
- Img creator    | ETCHER
- Pre-image      | n/a
- SBC device     | Odroid C2 (aarch64) (index=12)
- Kernel version | #1 SMP PREEMPT Sun Jul 23 00:04:44 CEST 2017
- Distro         | jessie (index=3)
-

[2018-07-12 02:26] gittusmaximus commented on #1915
Changing my sources like this: https://dietpi.com/phpbb/viewtopic.php?t=1373#p5798
also didn't work.

As evidenced by my wall of text I am a noob and so this is quite far out of my ability level.
I've noticed this issue with other users recently hence posting here in such detail.

This is what I got when checking sources.list
[code]
Will leave it for now till someone more knowledgeable comes along

[2018-07-12 08:32] sergiud commented on #1914
I will test the proposed change shortly. Thank you!

There is also the following issue as well, possibly related to my initial report. Namely,

[code]

I never changed the rights for `/var/log`, so I wonder what can cause this and whether the issues are related.

[2018-07-12 12:57] userdeveloper98 commented on #1827
@MichaIng
Thanks a lot for the script!
Now it's crystal clear how everything works. 😃

[2018-07-12 13:12] MichaIng opened #1917 "DietPi-Software | SABnzbd: Pre-install language files for end user"
## Creating a feature request:

#### Is your feature request related to a problem? Please describe:

- First web UI access shows:

#### Describe the solution you'd like:

- Tested successfully on VM-Stretch:
[code]

#### Describe alternatives you've considered:

- As the command is relatively trivial, we could also leave this to end user and provide a more lightweight install by default.

[2018-07-12 17:02] FusionPlmH opened #1918 "DietPi-Software | LXQt desktop"
It is possible to install Lxqt onboth device ？ Because seem lxqt modern then lxde more light weight and less resources use 。Please help if it possible to add in dietpi-software（sorry about my English）（A user from Hong Kong)

ADMIN EDIT: Vote for it on FeatHub: https://feathub.com/MichaIng/DietPi/+9

[2018-07-12 19:02] 1activegeek commented on #1696
@Fourdee don't know if this is specifically related - but I found an issue with logs currently from piHoles extra logging with dnsmasq. I know I obviously mentioned this on other thread - just coming here to keep in the loop. I had opened an issue with PH guys who helped me identify something that was majorly problematic it would seem. My /var/log directory has filled up completely 100%.

See here

[2018-07-12 19:50] MichaIng commented on #1918
@LeeMenHin
Thanks for your request.

Indeed LXQt seems to be interesting. Lubuntu 18.10 switches as well. Some complaints are that it is (still) a bid buggy.

I will do some test installation and see if it works well with our software offer. But there is much to do besides, so could take a time from my side 😉.

[2018-07-13 06:12] BerndKohl commented on #1915
Having the same problem!
Please fix as I am no longer able to update Dietpi or any other piece of software in my Odroid.

[2018-07-13 09:17] mukamuk1 opened #1920 "Dietpi-software/apt-get crashes"
#### Details:
- Date           | Fri 13 Jul 09:56:39 BST 2018
- Bug report     | N/A
- DietPi version | v6.11
- Img creator    | mukamuk1
- Pre-image      | Rasbian 5.41 kernel 4.4.119
- SBC device     | Asus Tinker Board (armv7l) (index=52)
- Kernel version | #2 SMP Thu Mar 8 07:04:46 CET 2018
- Distro         | stretch (index=4)
- Command        | G_AGI: bash-doc -s
- Exit code      | 100
- Soft

[2018-07-13 09:31] gittusmaximus commented on #1920
Sounds like the same problem here https://github.com/Fourdee/DietPi/issues/1915

[2018-07-13 13:43] FusionPlmH commented on #1918
thx a lot bro always support you。 If here i can help

[2018-07-14 10:13] MichaIng opened #1921 "DietPi-Software | Xserver + Java uninstall inteference"
#### Details:
- Date           | Sat 14 Jul 11:19:53 CEST 2018
- Bug report     | N/A
- DietPi version | v6.12
- Img creator    | DietPi Core Team
- Pre-image      | Debian netboot
- SBC device     | Virtual Machine (x86_64) (index=20)
- Kernel version | #1 SMP Debian 3.16.56-1+deb8u1 (2018-05-08)
- Distro         | jessie (index=3)
- Command        | G_AGP: xcompmgr xterm xinit xauth xserver-xorg

[2018-07-14 10:16] MichaIng commented on #1921
- We shall not purge `x11-common` on Xserver uninstall, better `apt-mark auto`.
- As well we shall uninstall Java before Xserver (?).

Minor: `lxlock` is not available on Jessie. It is never actively installed, thus we don't need to actively purge.

[2018-07-14 11:08] MichaIng commented on #1920
@mukamuk1
Thanks for your report.

Your log directory is full. That should usually not occur with `dietpi-ramlog` enabled, as it clears the log directory every hour.

Can you paste result of
[code]
to check which log takes so much space and which software (e.g. the related one) you installed via `dietpi-software`.

___________
Quick solution would be to manually do the dietpi-ramlog clean step
`di

[2018-07-14 11:21] MichaIng commented on #1915
@gittusmaximus
Thanks for your report.

Indeed `binary-arm64` subfolder and `InRelease` entries are not available within the Debian security repos:
http://security.debian.org/debian-security/dists/jessie/updates/main/
http://security.debian.org/dists/jessie/updates/main/

But `binary-all` instead, which should be successfully used here.

@BerndKohl
Just to be sure, you also use an ARMv8/aarch64/ar

[2018-07-14 14:39] mukamuk1 commented on #1920
``
root@DietPi:/var/log# G_TREESIZE /var/log
20.0 MB /var/log
132.0 KB /var/log/nginx
64.0 KB /var/log/redis
8.0 KB /var/log/letsencrypt
4.0 KB /var/log/postgresql
0.0 KB /var/log/samba
0.0 KB /var/log/ntpstats
0.0 KB /var/log/news
0.0 KB /var/log/fsck
0.0 KB /var/log/apt
0.0 KB /var/log/apache2
``
and
``
root@DietPi:/var/log# grep '=2' /DietPi/dietpi/.installed
aSOFTWARE_INSTALL_STATE[7]=2
aSOFTW

[2018-07-14 15:07] BerndKohl commented on #1915
echo $G_HW_ARCH
3

apt-get clean && apt-get update
Ign http://fuzon.co.uk jessie/main Translation-en
Fetched 756 kB in 12s (59.1 kB/s)
W: Failed to fetch http://deb.debian.org/debian-security/dists/jessie/updates/InRelease  Unable to find expected entry 'main/binary-arm64/Packages' in Release file (Wrong sources.list entry or malformed file)

E: Some index files failed to download. They have been

[2018-07-14 15:22] Fourdee commented on #1915
Unable to replicate on C2 with Stretch. Assuming this is Jessie limited issue.

🈯️ Architectures: amd64 arm64 armel armhf i386 mips mips64el mipsel ppc64el s390x

🈴 Seems they removed ARM64 binaries | Architectures: amd64 armel armhf i386

[2018-07-14 15:24] Fourdee commented on #1915
This is an external bug, however, we'll try to find a solution.

A very quick workaround, would be to remove the offending entry from ```/etc/apt/sources.list```:
[code]

[2018-07-14 15:32] Fourdee commented on #1920
@mukamuk1

Strange, this does not add up. Are we missing a few entries? (eg: apache2). Or unstable system/memory corrupting tmpfs?

Ideally, we need to see the contents of the logs, however, sending a bug report may fail due to 0 free space on ```/var/log```.

#### Please run the following:
[code]

#### Then upload the log files from ``` /root/logfile_storage/``` somewhere that we can view.

####

[2018-07-14 15:44] MichaIng commented on #1920
@mukamuk1 @gittusmaximus
Ah `G_TREESIZE` only shows folder sizes, not file sizes, sorry please show instead (before doing dietpi-logclear):
`ls -al /var/log`

`dietpi-bugreport` fails because of this large `/var/log`, as we allow just 10M maximum upload size. Hmm we should actually increase this, if we allow /var/log size of 20M?

Hmm, okay makes sense. `/var/log` should be not mounted from tmpfs

[2018-07-14 16:03] MichaIng commented on #1914
@sergiud
Yeah, the logrotate issue is well known. I also found the log files being created by the software with a certain user/group and `/etc/logrotate.d/<name>.log` addition not containing the needed user/group entries to handle this. Not sure why the package maintainers never took care about this, as it's within their responsibility 😉.

But also `dietpi-ramlog` needs some review. We pre-create

[2018-07-14 17:10] mukamuk1 commented on #1920
Sorry, I cleared logs already. So no logs to send to you :-(

Big logfile was syslog and daemon.log in Dietpi1 and it was full of errors from my mastodon installation and motioneye (motion is not working on Asus TB). Both logs contains basically same errors from same sources. Dietpi2 had big pihole.log.

Remember that same situation was in 2 dietpi installations with totally different software mix

[2018-07-14 20:29] narolski opened #1922 "Radarr fails to run after update"
## Creating a bug report/issue:

#### Required Information:
- DietPi version	| 6.11
- Distro version	| stretch
- Kernel version	| Linux DietPi 4.14.52-v7+ #1123 SMP Wed Jun 27 17:35:49 BST 2018 armv7l GNU/Linux
- SBC device		|  RPi 3 Model B (armv7l)
- Power supply used	| Aukey (5V, 3A)
- SDcard used		| Samsung Evo

#### Additional Information (if applicable):
- Software title	| Radarr
- Was the s

[2018-07-14 21:44] BerndKohl commented on #1915
sorry for this silly question: but how do I do this? Simply putting a #  in front of the offending entry didn't do the trick...

[2018-07-14 21:51] BerndKohl commented on #1915
ok, I got it. Had to remove this entry:

Is it safe now to call DietPi-update or will it break something?

[2018-07-14 23:30] gittusmaximus commented on #1915
No change in issue, same as BerndKohl

removed offending line from sources.list
and apt-get update works without sending that error message.

Just tried installing new software and the issue seems to have gone.
ie G_AGUP doesn't send exit code 100 and it installs new software.

[code]

Thanks very much @Fourdee  and @MichaIng  , appreciate your time and help providing a workaround for this problem

[2018-07-15 08:23] kmakisara commented on #1901
This patch also fixes another problem: "run_ntpd 1" run by cron daily or hourly does not sync the time (the timestamp of /var/lib/systemd/clock does not change).

[2018-07-15 09:36] BerndKohl commented on #1915
Successfully upgraded DietPi from 6.9 to 6.11 after having removed the offending line.

Thanks for your support on this!

[2018-07-15 09:47] MichaIng commented on #1901
@kmakisara
Jep you are right, this makes sense.
Just to avoid manual script edit to apply fix, all with the same issue should do: `wget https://raw.githubusercontent.com/Fourdee/DietPi/82ac7b32d32dca9db4fdb824c7ead80174844090/dietpi/func/dietpi-globals -O /DietPi/dietpi/func/dietpi-globals`

I think some of our opened issues are related to this. If `run_ntpd` within cron.hourly fails, `dietpi-logc

[2018-07-15 09:55] Hax4us commented on #1760
Any progress here ?

[2018-07-15 11:40] MichaIng commented on #1901
Further testing on this:
[code]
- `$TERM` on cron is set to `dumb`
- `tput` claims there is no value for the variable, even it is, although invalid.
[code]
- As invalid $TERM does not lead to any error (just leads to no tput output), cron tput error seems to be related to missing `-T`, `[[ -t 0 ]]` results in false. Maybe also this behaved differently before. Last `ncurses-bin` APT update on 2018-

[2018-07-15 11:49] MichaIng commented on #1920
@mukamuk1
Okay, it seems indeed that your issue is related to this: https://github.com/Fourdee/DietPi/issues/1901#issuecomment-405075590
- Please try: `wget https://raw.githubusercontent.com/Fourdee/DietPi/82ac7b32d32dca9db4fdb824c7ead80174844090/dietpi/func/dietpi-globals -O /DietPi/dietpi/func/dietpi-globals`
- Afterwards the cron jobs should succeed in cleaning the log directory regularly.

[2018-07-15 11:53] MichaIng commented on #1914
@sergiud
Fast fix for initial issue, at least it finally appears that this is the reason for all issues with cron calling DietPi scripts: `wget https://raw.githubusercontent.com/Fourdee/DietPi/82ac7b32d32dca9db4fdb824c7ead80174844090/dietpi/func/dietpi-globals -O /DietPi/dietpi/func/dietpi-globals`

[2018-07-15 12:28] MichaIng commented on #1922
@maxster256
Might be related to: https://github.com/Fourdee/DietPi/issues/1896
- Please try to remove `--optimize=all --server` from
  - `/etc/systemd/system/radarr.service`
  - `/etc/systemd/system/sonarr.service`
  - `/etc/systemd/system/jackett.service`, if you installed it
- and then restart these services.

Also the full output of mono trying to start the service(s) would be helpful:
`journal

[2018-07-15 12:31] MichaIng commented on #1901
Test on v6.9:
[code]
- Error shows up, but script resumes.

APT update contains no cron and/or ncurses (reducing by tested unrelated packages):
- Even after `apt-get dist-upgrade` and reboot, cron does not stop execution after tput error:
[code]
- `dietpi-update` to v6.11 master: Veeery strange, still no issue...
[code]
- Adding dietpi-backup execution:
[code]
- Script fails but cron job goes on.

[2018-07-15 13:55] MichaIng commented on #1901
Related change identified: https://github.com/Fourdee/DietPi/blob/master/dietpi/func/dietpi-globals#L266
`local lines=$(( (${#input_string}+6)/$(tput cols) ))` leads to whole script exit, while (previous)
[code]
showed the error, but allowed script to go on (see above).

Fix https://github.com/Fourdee/DietPi/commit/82ac7b32d32dca9db4fdb824c7ead80174844090 works and is also the cleanest solution, a

[2018-07-15 14:34] MichaIng opened #1923 "Important | Issues with cron jobs calling DietPi scripts"
Related issues:
- https://github.com/Fourdee/DietPi/issues/1901
- https://github.com/Fourdee/DietPi/issues/1914
- https://github.com/Fourdee/DietPi/issues/1920

This is a fix everyone should apply, as it breaks DietPi's own cron jobs to work (clearing `/var/log` hourly + time sync). Currently most cron jobs, executing DietPi scripts, will exit with error.

### Fast fix to apply, which will be part

[2018-07-15 14:35] MichaIng commented on #1901
@eljotx @kmakisara
To clean up a bid I opened a new issue, please try to apply the fix mentioned there and report back, if it solves all issues: https://github.com/Fourdee/DietPi/issues/1923

I will close this issue in favour of the new one.

[2018-07-15 14:35] #1901 closed, assigned to nobody

[2018-07-15 14:36] MichaIng commented on #1914
@sergiud
To clean up a bid I opened a new issue, please try to apply the fix mentioned there and report back, if it solves all issues: https://github.com/Fourdee/DietPi/issues/1923

I will close this issue in favour of the new one.

[2018-07-15 14:36] #1914 closed, assigned to nobody

[2018-07-15 14:37] MichaIng commented on #1920
@mukamuk1
To clean up a bid I opened a new issue, please try to apply the fix mentioned there and report back, if it solves all issues: https://github.com/Fourdee/DietPi/issues/1923

I will close this issue in favour of the new one.

[2018-07-15 14:37] #1920 closed, assigned to nobody

[2018-07-15 14:39] Fourdee commented on #1893
No response, marking as closed.

Should be resolved with v6.12 via SMB version detection during mounting (https://github.com/Fourdee/DietPi/commit/4a9ad692c99981528e8eec11ac113f40693b5592).

[2018-07-15 14:39] #1893 closed, assigned to Fourdee

[2018-07-15 14:50] Fourdee commented on #1080
Done.

[2018-07-15 14:50] #1080 closed, assigned to Fourdee

[2018-07-15 15:13] Fourdee commented on #1877
@MichaIng

Great work keeping the DietPi ship running while I was away 👍 🥇 Really appreciate it.

My new glasses are on, -10.25 and -9.75 lol. I'll try and get this wrapped today. Once done, all items need install testing again just in-case.

[2018-07-15 17:12] Fourdee commented on #1877
Ok done.

🈯️ Reinstalls of all items + patch testing passed

I'am not going to touch Docker, do not have enough experience with it, or even use it.

[2018-07-15 17:12] #1877 closed, assigned to Fourdee, MichaIng, userdeveloper98

[2018-07-15 17:13] Fourdee commented on #1912
More important things to do than troll a troll.

[2018-07-15 17:13] #1912 closed, assigned to Fourdee

[2018-07-15 18:40] MichaIng commented on #1915
@gittusmaximus @BerndKohl
The offending line contains the the Debian security update repository: https://www.debian.org/security/
It provides security relevant APT package updates a bid earlier than the main repo/mirror and allows admins of extremely importantly running servers to e.g. update security patches only, while leaving all other APT packages untouched to reduce risk of server downs. But

[2018-07-15 19:57] Fourdee opened #1924 "DietPi-RAMlog | Additional work for disabling"

[2018-07-15 20:02] Fourdee commented on #1918
Qt a great library, however, it has a vast number of pre-reqs, could result in a bulkier (and possibly slower) installation than current.

[2018-07-16 04:12] aliosa27 commented on #1143
Reopening. I did the work for this device a while ago, and have been using it ever since, ill start clean and have a beta in a few days

[2018-07-16 04:13] aliosa27 commented on #1143
I guess I cant reopen it, but ill geterdone

[2018-07-16 06:35] MOHELLEBI opened #1925 "APT | Package 'bash-doc' has no installation candidate"
#### Details:
- Date           | Mon 16 Jul 08:32:17 CEST 2018
- Bug report     | N/A
- DietPi version | v6.11
- Img creator    | DietPi Core Team
- Pre-image      | Raspbian Lite
- SBC device     | RPi 3 Model B (armv7l) (index=3)
- Kernel version | #1123 SMP Wed Jun 27 17:35:49 BST 2018
- Distro         | stretch (index=4)
- Command        | G_AGI: bash-doc -s
- Exit code      | 100
- Software t

[2018-07-16 06:53] sergiud commented on #1923
Great! This eliminated hourly error notifications by OMV for me.

[2018-07-16 08:35] MichaIng commented on #1925
@MOHELLEBI
Please try:
[code]
Maybe it is also a temporary issue with the Raspbian repo.
On Raspbian Buster it works here, but have no RPi on Stretch to assure.

Did you switch your APT sources? You can reset it via:
`dietpi-config` > `Network Options: Misc` > `APT mirror` > there choose, if in doubt, `Global (raspbian.raspberrypi.org)`

[2018-07-16 08:59] kmakisara commented on #1923
Time sync hourly works without problems.

[2018-07-16 09:13] MichaIng commented on #1877
@Fourdee
Yey, you resolved the wrong version number issue. I also wanted to open an issue about that since I just faced it again. Leads also to wrong https://dietpi.com/survey statistics, I believe.

[2018-07-16 11:14] matbar87 commented on #1923
Nice! After fix, cron with dietpi-backup (#1901) is working well.

[2018-07-16 14:10] rickers1960 commented on #1915
ok, I got it. Had to remove this entry:

deb http://deb.debian.org/debian-security/ jessie/updates main contrib non-free

Apologies but I am a complete novice, can someone help explain how to remove this entry in order that i may update my C2,         I am putty.exe to connect to my C2.

thanks in advance .

[2018-07-16 14:26] MichaIng commented on #1915
@rickers1960
Fast solution, after logging into SSH terminal, copy and return:
`sed -i '/debian-security/d' etc/apt/sources.list`

In order to learn a bid about navigating and editing through Linux:
_NB: If you don't log in with root user, you need to add `sudo ` to beginning of the terminal commands, at least `nano ...` => `sudo nano ...`, to gain root permissions for editing the file._
- `cd /etc

[2018-07-16 14:55] Fourdee opened #1926 "Image | NanoPi Fire3"
Many thanks to FriendlyElec for sending us dev sample boards!

[2018-07-16 14:57] rickers1960 commented on #1915
Thanks for the quick reply , I am logging in with root .

I have removed the problem line but still unable to complete update .

Please see attached file

[DietPi.docx](https://github.com/Fourdee/DietPi/files/2198096/DietPi.docx)

Any ideas on what is wrong ?

[2018-07-16 15:26] Fourdee commented on #1143
@aliosa27

Excellent, this would be great 👍 . I'll keep an eye on this ticket and reopen once you have completed the image for testing.

[2018-07-16 15:29] MichaIng commented on #1915
@rickers1960
Connection to fuzon mirror of meverics repo is failing.

@Fourdee
I can't ping the domain, is this correct?
https://github.com/Fourdee/DietPi/blob/master/PREP_SYSTEM_FOR_DIETPI.sh#L601

[2018-07-16 15:32] Fourdee commented on #1915
@MichaIng

Its back up and running, it runs on the older MVS account system, Paypal payments are manual. Error my end:
![image](https://user-images.githubusercontent.com/7077026/42767809-e2768886-8915-11e8-813d-a16f52eb1180.png)

[2018-07-16 16:03] rickers1960 commented on #1915
Thanks to both , I have now updated to 6.11

[2018-07-16 16:45] Fourdee commented on #1926
Notes:
- Using pre-image with Debian RootFS replace:
s5p6818-lubuntu-desktop-xenial-4.4-armhf-YYYYMMDD.img.zip
🈴 No terminal HDMI output. Only the FriendlyARM boot logo is displayed. sets 720p but no text.

[2018-07-16 17:54] Fourdee commented on #1926
🈴 Idle CPU.  Provided heatsink and thermal pad installed:
[code]

Hits 80'c (thermal throttling) during our 10 second CPU benchmark.

![image](https://user-images.githubusercontent.com/7077026/42774584-f89bf42a-8929-11e8-943d-ce088e1b2eeb.png)

🈴 Appears CPU voltage scaling is fixed at max voltage. Scaling CPU has no effect on CPU temps:
[code]

[2018-07-16 18:27] Fourdee commented on #1926
Email sent to FriendlyARM regarding these issues. Will put this on hold until we get a response.

[2018-07-16 18:34] Fourdee commented on #1915
Ok, I think we can assume Debian Security Repo has dropped support for ARM64 on Jessie. I'll apply a patch removal for v6.12.

[2018-07-16 18:42] MichaIng commented on #1915
@Fourdee
Maybe add Meveric APT mirror to `dietpi.com`, so on the long hand you can close the other domain+MVS?

About Debian security mirror, jep it seems. I can't believe it 🤔.

[2018-07-16 18:43] Fourdee commented on #1915
### Workaround:

[code]

[2018-07-16 18:45] Fourdee commented on #1915
@MichaIng

Yep, issue is HDD space, and, I also give full access to Meveric for this server (least we can do to support his work over the years):
[code]

[2018-07-16 19:14] Fourdee commented on #1915
Completed.

[2018-07-16 19:14] #1915 closed, assigned to Fourdee, MichaIng

[2018-07-16 19:18] Fourdee commented on #1922
@MichaIng

Yep, this is same issue. I'll mark this as closed in favor of : https://github.com/Fourdee/DietPi/issues/1896

@maxster256

A fix is coming this week in v6.12. In the mean time, please see https://github.com/Fourdee/DietPi/issues/1922#issuecomment-405088725

[2018-07-16 19:18] #1922 closed, assigned to nobody

[2018-07-16 19:23] Fourdee opened #1927 "META | DietPi-Benchmark optional uploads"
Similar to dietpi-survey. Have an option to run:
- RootFS transfer rate
- CPU performance
- RAM performance

Then option to upload scores to http://dietpi.com/benchmark
Simple database to compare your scores against HW models etc.

@MichaIng
Thoughts?

[2018-07-16 19:24] Fourdee commented on #1927
REF: https://github.com/Fourdee/DietPi/issues/1253#issuecomment-346881878

[2018-07-16 19:25] Fourdee commented on #1896
Running stable after removal of ```--optimize=all --server```.

This will be patched during the v6.12 update. ETA this week/soon.

Completed.

[2018-07-16 19:25] #1896 closed, assigned to nobody

[2018-07-16 19:39] LexiconCode opened #1928 "DietPi-Software | Missing user docs"
Missing Minio details for installation options [DietPi-Software | Details for ALL installation options](https://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=9121#p9121)

Details like...

[2018-07-16 19:40] MichaIng commented on #1927
@Fourdee
Nice idea. We can combine this with `dietpi-survey`, e.g. `dietpi-benchmark` allows user to choose upload, then creates some flag (which could be simply the data within /tmp/dietpi-benchmark/upload.txt) and starts dietpi-survey. dietpi-survey then checks for the flag and in case adds benchmark results die survey upload.

Hmm, but needs different handling, as relation between device data a

[2018-07-16 19:41] Fourdee commented on #1928
@LexiconCode

Thanks for the report 👍

Yep confirmed. I lack any experience with Minio, so we'll open up for investigations.

[2018-07-16 19:50] Fourdee commented on #1927
@MichaIng

Excellent 👍

Once https://github.com/Fourdee/DietPi/issues/1768 is completed, i'll make a start on this.

[2018-07-16 19:52] Fourdee commented on #1923
Ok, lets mark this as closed. Resolved for v6.12 (great work @MichaIng 👍 ). In the mean time, solution = https://github.com/Fourdee/DietPi/issues/1923#issue-341325599

[2018-07-16 19:52] #1923 closed, assigned to MichaIng

[2018-07-16 19:53] Fourdee commented on #1747
Moving this out of milestone for the following reasons:
- Low priority. Does not effect usage of RPi cam software currently.
- This is an additional feature request, which requires further investigations at a later date when time permits.

[2018-07-16 19:55] Fourdee commented on #1900
I'll mark this as closed, as the issue is hardware (PSU/SD) related, and, we are unable to replicate in our testing.

However @zicmama , please reopen if required.

[2018-07-16 19:55] #1900 closed, assigned to nobody

[2018-07-16 20:24] Fourdee commented on #1768
Note:
- From Pydio onwards:
-- _0.jpg
-- URL link + header name

[2018-07-16 23:47] carlosedp commented on #1829
I just flashed this image into my NanoPC-T4 but the included kernel has no modules (no Iptables, OpenVSwitch). How can I update to a new or alternate kernel that contains the modules?

I tried to install "linux-image-arm64", it installs and places the `vmlinuz, initrd` files into` /boot` but the board doesn't boot from these images. What's the correct procedure?

Thanks

[2018-07-17 09:47] MichaIng commented on #1918
Just tried it out on VM. Works fine so far.

**About the package size:**
RPi (LAMP server + full featured Nextcloud installed):
- `apt install lxqt xserver-xorg xinit` => `479 MB of additional disk space will be used.`
- `apt install lxqt-core xserver-xorg xinit` => `366 MB of additional disk space will be used.`
- `apt install lxde xserver-xorg xinit` => `401 MB of additional disk space will be u

[2018-07-17 10:31] MichaIng commented on #1921
PR is up: https://github.com/Fourdee/DietPi/pull/1930
🈯️ Tested on Stretch and Jessie

[2018-07-17 10:40] MichaIng commented on #1760
@Fourdee
Just to not forget, here seems to be still something done. Hmm `G_CONFIG_INJECT '^8723bs' '8723bs' /etc/modules` would just change something, if the current line is `8723bs<and_something_else_here>`, is this the case/intention?

[2018-07-17 11:49] amk221 opened #1931 "First run"
## Creating a bug report/issue:

First run complains about requiring sudo

#### Required Information:
- DietPi version	| `6.11`
- Distro version	| `stretchcat`
- Kernel version	| `Linux DietPi 4.14.52-v7+ #1123 SMP Wed Jun 27 17:35:49 BST 2018 armv7l GNU/Linux`
- SBC device		| `RPi 3 Model B (armv7l)` or (EG: RPi3)
- Power supply used / SDcard used		| Whatever comes with DigiOne Player

#### Steps

[2018-07-17 12:39] amk221 commented on #1931
Apologies, I should have used `DietPi_RPi-ARMv7-Stretch_AlloGUI.7z` instead of `DietPi_RPi-ARMv6-Stretch.7z`. Works fine with that.

[2018-07-17 12:39] #1931 closed, assigned to nobody

[2018-07-17 12:58] MichaIng commented on #1931
@amk221
Yeah a bid confusing, since usually for RPi2/3 you as well use ARMv6 images/packages due to Raspbian, but in this case ARMv6 is really just for RPi1.

[2018-07-17 13:45] MichaIng commented on #1827
@Fourdee
What do you think about weekly or monthly `dietpi-survey 1` executions to allow us removed obsolete uploads?

[2018-07-17 14:35] MichaIng commented on #1911
Fixed: https://github.com/Fourdee/DietPi/commit/f359dad0c26c379bca37ac50ef17966a03c8619f

[2018-07-17 15:46] MichaIng commented on #1898
@duncansimpson
Which machine/SBC do you use/faced the issue on?
Did you try to manually install/downgrade `nfs-common` package to an earlier version: http://ftp.uk.debian.org/debian/pool/main/n/nfs-utils/

Otherwise I am out of ideas, since I can't see anything any more that changed from v6.9 to v6.11:
- `net-tools` sorted out
- `mount` command tried with old and new and various alternative argume

[2018-07-17 16:47] MichaIng commented on #1880
Retest on VM Jessie:
<details>
<summary>Terminal output</summary>

[code]
</details>
<details>
<summary>end of debug.log</summary>

[code]
</details>

Switch to Node v8: `npm install -g n && n 8`:
[code]

Using alternative method to install NodeJS via repo:
[code]
- Fails with same error
- Creating manually `/mnt/dietpi_userdata/mineos/minecraft/node_modules/nyc/node_modules/amdefine` just throws

[2018-07-17 17:32] MichaIng commented on #1880
Restart from scratch, using official Node v8 install method directly:
[code]
🈯️ Install succeeds. Above install method creates node binary at expected location, thus `ln -s /usr/bin/node /usr/local/bin/node` is needed or `sed -i '/^command=/c\command=/usr/local/bin/node webui.js' /etc/supervisor/conf.d/mineos.conf` needs to be removed from configuration script.

@Fourdee
Since this is at least the

[2018-07-17 17:36] LexiconCode opened #1933 "DietPi-Software | Nextcloud - Web server fails to properly redirect to request app password from nextcloud client"
#### Required Information:
- DietPi version	|  6.11
- Distro version	| debian stretch
- SBC device		| Odroid NC2
- Power supply used	| Official power supply
- SDcard used		| SanDisk ultra

#### Additional Information (if applicable):
- Software title	| Nextcloud
- Was the software title installed freshly or updated/migrated?
Fresh install
- Can this issue be replicated on a fresh installation of D

[2018-07-17 17:57] MichaIng commented on #1933
@LexiconCode
Thanks for your report. I try to replicate.

Which Nextcloud desktop client you use? Linux, Windows or MacOS? Current version I assume?
I try to replicate on Stretch VM.

As we use (mostly) the Nginx configuration from https://docs.nextcloud.com, it is possible that this needs to be addressed to https://github.com/nextcloud/ directly. But let's investigate first.

[2018-07-17 18:09] LexiconCode commented on #1933
@MichaIng
I'm using the Windows client the latest version. As long as the client supports the feature I assume it would be the same unexpected behavior across all client.

[2018-07-17 18:21] LexiconCode commented on #1933
I can confirm this issue exists on Odroid NC2 and Odroid C2 running the same configuration.

[2018-07-17 19:42] Fourdee commented on #1829
@carlosedp

Thanks for the report 👍

I'll take a look at our image and pre-image used. Will reply once I have an answer.

[2018-07-17 19:47] Fourdee commented on #1827
@MichaIng

Weekly cron job to automate sending of the survey if opted in?

Not sure, I doubt users would be welcomed to this. Ideally, it should only be run during installs/updates?

[2018-07-17 19:51] MichaIng commented on #1933
Can confirm issue as well on Lighttpd and Apache2:
- Initial link: `http://192.168.178.29/nextcloud/index.php/settings/personal?sectionid=security#apppasswords`
- Redirects to `http://192.168.178.29/nextcloud/index.php/apps/files/?dir=/&fileid=2`
- Should redirect to `http://192.168.178.29/nextcloud/index.php/settings/user/security`

I believe this is since the merge of user and admin settings. Th

[2018-07-17 19:52] MichaIng commented on #1827
@Fourdee
Jep, also sending empty file if opt out. I don't see another way to safely identify obsolete uploads.

[2018-07-17 20:07] Fourdee commented on #1827
@MichaIng

Yep, same here. We lack any method of unlinking the device, when its no longer in use. The only thing I can think of is a simple "This system is no longer going to be used" option, which would remove the survey, however, relies on the user doing it, and, not abusing it.

[2018-07-17 20:09] Fourdee commented on #1918
@MichaIng

Yep agree 👍  Offer it as an additional selection.

[2018-07-17 20:09] carlosedp commented on #1829
I have recompiled the 4.4 kernel from FriendlyArm and enabled/compiled a bunch of modules that are needed for Docker.

I can upload them if you want. It's a matter of replacing kernel.img and adding the modules (from a tar.gz) to the rootfs.img.

[2018-07-17 20:10] LexiconCode commented on #1927
Consider implementing this into the stats for each device under the download section of dietpi.com
It's very hard to get a picture of real-world performance of a SBC before purchase not to mention accessory hardware performance in relation to a particular SBC.

[2018-07-17 20:22] Fourdee commented on #1829
@carlosedp

Would be excellent if you could? I can update the image files here and re-upload.

Any chance you enabled CIFS kernel option for your kernel? On the pre-image we used from FriendlyARM, it was not enabled ☹️

EDIT:
I just checked the rootfs.img of the latest pre-image from FriendlyARM, appears the modules are now there and missing from our image, good spot 👍

[2018-07-17 20:26] MichaIng commented on #1827
@Fourdee
Nothing we can rely on.
I mean it's not a really bid issue, the ratios between used devices and software will be not affected too much, and we could simply assume a max time before marking the related upload as obsolete, e.g. 3 months (?), so old files will not grow unlimited. But for statistic and development reasons and the possibilities with @userdeveloper98 's solution, we should not

[2018-07-17 20:26] Fourdee commented on #1927
@LexiconCode

Great idea, love it 👍 We'll definitely consider doing this.

My PHP experience is somewhat limited, so we may have to simply link the URL in the downloads section.

[2018-07-17 20:48] Fourdee commented on #1911
@MichaIng

🈯️ Test install ARMv7, looks good 👍
[code]

[2018-07-17 20:49] Fourdee commented on #1760
@MichaIng

On the ASUS TB, the modules file is blank, so we just need to add this by default:
[code]

Then our blacklist overrides it, when WiFi is disabled in DietPi:
[code]

@Hax4us
Apologies for the delay, is this still an issue you are experiencing?

[2018-07-17 20:57] Fourdee commented on #1760
🈯️ Fresh install + WiFi test after reboot:
[code]

Dmesg diff: https://www.diffchecker.com/UB3Zhvn9

[2018-07-17 21:07] Fourdee commented on #1760
Notes:
- Connects fine, but this appears to be the issue for @Hax4us  ```OnDeAuth```
[code]

@Hax4us
Try setting the following, then reboot system. Default is ```GB``` for DietPi systems, change this if you have set a different country code.
```G_CONFIG_INJECT 'REGDOMAIN=' 'REGDOMAIN=GB' /etc/default/crda```

[2018-07-17 21:39] Fourdee commented on #1926
#### Ok, regarding the HDMI no terminal output issue:
Appears tty1 is disabled in kernel/bootloader. tty2 is functional and can be switched with:
- CTRL+ALT+F2

[2018-07-17 22:26] Fourdee commented on #1926
Completed, image live.
https://twitter.com/DietPi_/status/1019346392135938048

NB: CPU temp readout fixed in v6.12 update.

[2018-07-17 22:26] #1926 closed, assigned to Fourdee

[2018-07-17 22:34] carlosedp commented on #1829
I've uploaded the files to: https://we.tl/n7JXaEHKAH

Here is the list of modules I compiled. If you need any additional ones let me know so I can rebuild it:

[code]

[2018-07-17 22:36] Fourdee commented on #1898
@MichaIng

The only thing I can suggest (if not already done), is for @duncansimpson  and @mgherghi try mounting all the possible NFS v2/v3 modes, eg:
[code]

Failing that, i'am out of ideas. I have minimal real world NFS experience, only basic configuration and installation.

I did attempt to replicate a v2/v3 server for testing, but unsuccessful: https://github.com/Fourdee/DietPi/issues/1898#iss

[2018-07-17 22:47] Fourdee commented on #1911
@MichaIng

I'll mark this as closed, appears completed (https://github.com/Fourdee/DietPi/issues/1911#issuecomment-405722726). Please reopen if required 👍

[2018-07-17 22:47] #1911 closed, assigned to Fourdee

[2018-07-17 22:50] carlosedp commented on #1829
I found another issue where the kernel does not have cgroups enabled for memory. Will check for a solution and update you soon.

[2018-07-17 22:50] Fourdee opened #1934 "v6.12 - Pre-Release tasks"
Note to self:
- Test Allo GUI images with updates to MPD etc.

[2018-07-17 22:54] Fourdee commented on #1829
@carlosedp

Legend, many thanks for this 👍

Ok, no worries. I'll nudge this to v6.13, will take a look after v6.12 is released (ETA tomorrow) and get the images updated our end.

[2018-07-17 22:57] Fourdee commented on #1880
@MichaIng

Fully revert to Node 8

Yep I agree 👍 , then offer alternative versions at a later date in the future?

Only issue is we'd need to fully this test with all node pre-req programs, and, somehow patch existing users down to this version (we could probably uninstall then install again I believe for this).

[2018-07-17 22:59] carlosedp commented on #1829
Fine! Just saw I didn't enable memory cgroups on the kernel compilation. The default from FriendlyArm didn't have it either... Do you see anything other missing so I can add?

[2018-07-17 23:32] Fourdee commented on #1924
https://github.com/Fourdee/DietPi/commit/e85f2efa39bd7d3867f06a804149c47c45c3170e

[2018-07-18 00:06] Fourdee commented on #1924
Retests:
- ```/var/tmp/dietpi/logs/dietpi-ramlog_store/``` exists with content, after disabled and 2nd reboot. Due to ```dietpi-ramlog``` being disabled, however, systemD runs stop on this service regardless.

Aside from the above its fine.

[2018-07-18 00:21] Fourdee commented on #1924
NB: if not resolved https://github.com/Fourdee/DietPi/issues/1924#issuecomment-405766368, ```Type=forking``` does not wait for the process to finish?
Change to ```oneshot``` for disable service.

[2018-07-18 03:18] mgherghi commented on #1898
root@DietPi:/mnt# mount -t nfs -o vers=2,port=2049 192.168.1.1:/Seagates /mnt/nfs
mount: wrong fs type, bad option, bad superblock on 192.168.1.1:/Seagates,
       missing codepage or helper program, or other error
       (for several filesystems (e.g. nfs, cifs) you might
       need a /sbin/mount.<type> helper program)

       In some cases useful info is found in syslog - try
       dmesg | tai

[2018-07-18 04:51] ludji49 opened #1935 "Update nexcloud"
Création d'un rapport de bogue ou d'un problème :

###### Informations requises :
- Version DietPi | `paste -sd '' /DietPi/dietpi/.version`. 6.11
- Version Distro | `echo $G_DISTRO_NAME` ou `cat /etc/debian_version`.
- Version du noyau | `uname -a`.
- Dispositif SBC | `echo $G_HW_MODEL_DESCRIPTION` EG : RPi3
- Alimentation utilisée | EG : 5V 1A RAVpower
- Carte SD utilisée | EG : SanDisk ultra

Re

[2018-07-18 07:07] duncansimpson commented on #1898
Hi guys,

In my case this is all on a Pi 3.

Here's NFSv3 test

[code]

And v2 test:

[code]
Is there a 6.9 image I can revert back to, in order to confirm that still works?

[2018-07-18 07:30] duncansimpson commented on #1898
WRT to the request earlier to rollback to the 2017 version of `nfs-common` which is 1.3.4-2.1.  I can't because that is the version in place already.

[code]

trying to install the 2018 version, 1.3.4-2.2 fails:

[code]

And checking the current version by trying to install it again:

[code]

And `apt-get update` doesn't find it either

[code]

[2018-07-18 10:01] MichaIng commented on #1924
@Fourdee
I will test.

https://manpages.debian.org/stretch/systemd/systemd.service.5.en.html#OPTIONS
So for our needs, forking and oneshot both have the effect (compared to default=simple), that ExecStart needs to finish before systemd starts follow-up units. In our case of dietpi-ramlog/ramdisk services, oneshot actually fits better, since we do not start a daemon within the scripts. But without

[2018-07-18 10:48] #1921 closed, assigned to MichaIng

[2018-07-18 10:53] MichaIng commented on #1880
@Fourdee
For now maybe it's easier to add Node 8 as new install option and just verify again that it's working (duet to different install method) with Koel.
As long as all other software titles work with the current version/install method, we should not change something there.

We could call the new install NodeJS legacy e.g., then it's clear that it should only be seen as a compatibility fallback

[2018-07-18 11:10] ludji49 commented on #1935
![screenshot-nextcloud-myweb ddns net-2018 07 18-06-44-34](https://user-images.githubusercontent.com/10480101/42878039-f385b8dc-8a8b-11e8-86f4-43009a672a8e.png)

[2018-07-18 11:31] MichaIng commented on #1935
@ludji49
`.well-known` folders are added by various web services and scripts, nothing to worry about.
Simply move it outside your Nextcloud folder and inside again after update has finished:
`mv /path/to/nextcloud/.well-known /tmp/`
Update Nextcloud via web updater
`mv /tmp/.well-known /path/to/nextcloud/`

[2018-07-18 12:01] MichaIng commented on #1898
@duncansimpson
Okay, Raspbian is one version behind then. The chance that this was the reason converged to zero anyway.

To test v6.9 handling please do the following:
[code]
Enter IP and in case adjust the /etc/fstab entry with the full path info.
That would recover at least fstab and nfs drive handling of v6.9.
To revert:
[code]

To fully revert to v6.9, if you have no backup somewhere, would be

[2018-07-18 13:54] MichaIng commented on #1880
Okay, actually the Koel solution works for MineOS as well. Node 8 just needs to be installed directly instead of failed Node 10 install attempt 😄.

Will test on all Distros:
🈯️ Jessie
🈯️ Stretch
🈯️ Buster

€: Okay commit added: https://github.com/Fourdee/DietPi/commit/8289982c50474ed7009a7f53a819e9866556680d
This should be it, but test on non x86_64 would be best, just to be sure.

[2018-07-18 14:50] Hax4us commented on #1760
@Fourdee still not working , maybe it will work after fresh installation ? Where is latest image ?

[2018-07-18 14:52] Hax4us commented on #1760
Still old `SET failed blah blah.` error

[2018-07-18 15:11] Fourdee commented on #1924
Hmm, think we could simplify this a little. With disabling ```dietpi-ramlog``` we risk something going wrong for the user and their logs.

Basically, its part of the DietPi system. Maybe we should simply detect if running in RAM or DISK mode, and inform the user in ```dietpi-ramlog``` about which mode is running?

EDIT: I don't like the current method, its messy. The previous method has risk durin

[2018-07-18 15:28] MichaIng commented on #1924
@Fourdee
Hmm, if I am not thinking wrong, then disabling/enabling the service does not include some risk, it is toggle mounting tmpfs to /var/log, which in both directions needs proper copy of /var/log file/folder skeletons.

For this reason, toggle in both directions, should call `/DietPi/dietpi/dietpi-ramlog 1` directly and assure that on usual boot it is called again. As toggle in both directio

[2018-07-18 15:45] Fourdee commented on #1924
@MichaIng

Yep agree, I just need more coffee in my system 🤣

Resolved with:
https://github.com/Fourdee/DietPi/commit/ac6e524cf30aa4087a0ddef9b9765499c7d6f052

[2018-07-18 15:52] Fourdee commented on #1924
Hmm,

ramlog > full
full < ramlog

- 1st test 🈯️
- 2nd test 🈴 service still reported as enabled, but does not run? | ```/var/tmp/dietpi/logs/dietpi-ramlog_store/``` still exists.
[code]

I'll do a bash script and try and debug this.

[code]

```Jul 18 17:19:48 DietPi systemd[1]: Dependency failed``` either:
- ```dietpi-ram*``` not started
- ```dietpi-ramlog``` being stopped during run, causes this

[2018-07-18 16:26] MichaIng commented on #1924
@Fourdee
[code]

Works:
- `Require=dietpi-ramlog` in combination with `systemctl stop dietpi-ramlog` as first command leads to service terminates itself.
- The service does not require ramdisk either, does it?
- I also removed `systemctl daemon-reload`, as I am not sure if this could cause issues, when called during systemd run.

[2018-07-18 16:30] Fourdee commented on #1924
@MichaIng

Yep confirmed. 👍

systemctl stop dietpi-ramdisk does, uses ```/DietPi``` in the service

Just doing some further tests, will send commit in a few.

---

🈯️ test 1 >
[code]

🈯️ test 2 >
[code]

[2018-07-18 16:32] MichaIng commented on #1924
@Fourdee
Ah yes sure, so `Require=dietpi-ramdisk` should stay.

[2018-07-18 16:39] Fourdee commented on #1924
Good to go: https://github.com/Fourdee/DietPi/commit/00fc31b3970d335f685e060e16e11ae40e7da2be

Passed testing my end: https://github.com/Fourdee/DietPi/issues/1924#issuecomment-405993612

[2018-07-18 17:04] MichaIng commented on #1924
@Fourdee
Jep works fine now here as well 👍.

[2018-07-18 17:05] Fourdee commented on #1880
ARMv7 Stretch, MineOS + NetData:
[code]
Doesn't support symlinks?

Ah ```./generate-sslcert.sh``` runs before ```mkdir```

🈴 ```linux-x86.tar.gz```?
[code]

🈺 Christ, 2nd test is fine, weird. We have no G_HW_ARCH usage here, so appears the nodejs install script is to blame.
[code]

---

[code]

[2018-07-18 17:09] Fourdee commented on #1924
Completed.

[2018-07-18 17:09] #1924 closed, assigned to Fourdee, MichaIng

[2018-07-18 17:12] MichaIng commented on #1880
@Fourdee
Ah, I was already wondering why the error about missing dir still occurs after pre-creating it. So we move to in front of `./generate-sslcert.sh` 👍.

Strange, but Node 10 is the correct ARMv7 version?

[2018-07-18 17:15] Fourdee commented on #1880
@MichaIng

Yep:
[code]

[2018-07-18 17:45] MichaIng commented on #1880
Okay, retested successfully here. Hmm Node installs/builds stay a bid unreliable, but it's the best we can do?

€: `error: <class 'socket.error'>, [Errno 2] No such file or directory: file: /usr/lib/python2.7/socket.py line: 224` stays, but can't see any negative effect.

[2018-07-18 17:58] Fourdee commented on #1880
@MichaIng

Yep, outside our control.

Just trying to run MineOS as non-root, will send commit if successful.

supervisor process reports ```root``` user, however, if we do not set the following:
[code]
MineOS fails to load:
[code]
So we can assume that under the hood of supervisor, mineOS is running as non-root user. However, web login fails and renders a ```ERR_EMPTY_RESPONSE```, ~so back to root

[2018-07-18 18:46] Fourdee commented on #1880
🈯️ Test install passed.

Completed.

[2018-07-18 19:02] ludji49 commented on #1935
I just don't understand moving out of your Nextcloud folder and inside
With the cmd putty

[2018-07-18 19:52] okoestner opened #1937 "Auto Setup does not work"
I try to auto setup my raspi with the above copied dietpi.txt. The setup terminates with an error when trying to install the phpmyadmin package.

I am installing the following image: DietPi_v6.8_RPi-ARMv6-Stretch.img

dietpi.txt
===========

[code]

[2018-07-18 20:09] Fourdee commented on #1937
@okoestner

Hi,

Thanks for the report 👍

This is an known limitation/issue when installing phpmyadmin and lighttpd at the same time:
https://github.com/Fourdee/DietPi/issues/316#issuecomment-217469692

---

Until either we (or external sources) are able to resolve the issue, please try running with nginx/apache 2 stacks:
[code]

You can then remove the lighttpd stack, DietPi will automatically in

[2018-07-18 20:11] Fourdee commented on #1907
General cleanup, i'll mark this as closed due to hardware related issues. If problems persist, please let us know.

[2018-07-18 20:11] #1907 closed, assigned to nobody

[2018-07-18 20:13] Fourdee commented on #1934
MPD
[code]

[code]

OMPD contains via our previous install:
[code]

[2018-07-18 20:26] Fourdee commented on #1934
Library update required by user.
🈯️ https://github.com/Fourdee/DietPi/commit/5957a45b5286ec8c2fbeb147b72c8df74f1ae963
O!MPD fails to read file info, however, MPD plays it fine:
[code]

mmm
[code]

---

GMrender 🈯️ https://github.com/Fourdee/DietPi/commit/6c4d2b2168d7e0dca64ab583ae48e42832c6d62d
[code]

[2018-07-18 20:57] Fourdee commented on #1934
Completed.

[2018-07-18 20:57] #1934 closed, assigned to Fourdee

[2018-07-18 23:07] duncansimpson commented on #1898
Backup current SD card or simply replace with another one for testing of course.

Thanks @MichaIng.  I have a spare SD card so I'll try that tonight.

[2018-07-19 08:54] duncansimpson commented on #1898
@MichaIng

I dug out my spare SD card, put the 6.9 image on there, let it do its thing after first boot, completed the install, then installed nfs-client via dietpi-software and rebooted.

Results of nfs connection test were successful:

[code]

Note this is the same version of nfs-common as was present on the 6.11 SD card.

Next I upgraded DietPi on the spare SD card from 6.9 to 6.11 and redid th

[2018-07-19 08:57] duncansimpson commented on #1898
Note the tests I just did were on an old Pi Model B connected to the same switch as the Pi3, so I think that also rules out hardware fault or network issues.

[2018-07-19 09:21] MichaIng commented on #1898
@duncansimpson
Great test.

That also proves, that it is totally outside of `dietpi-drive_manager` or the way we attempt(ed) mounting. So no need to check in this direction. Nice also to see how `mount.nfs` itself tries all versions from 4.2 down to 3, UDP and TCP.

How did you prevent the automated `dietpi-update` on first boot? Was there some APT upgrade done before you tested it on 6.9, or bett

[2018-07-19 11:43] MichaIng commented on #1898
Took a while until I found `netbase` to be needed for NFS server to work. On Jessie this is not installed as dependency of nfs-kernel-server, as on Stretch+.
Taking into account the config bug within the link above, I have now a NFSv3 only server on a Jessie VM and could replicate the connection issue from another Stretch VM.

Installing `netbase` as well on the NFS client side, the connection fai

[2018-07-19 13:04] MichaIng commented on #1898
Okay added commit. I hope it solves the issue for you guys as well: https://github.com/Fourdee/DietPi/commit/f56c1803c16256a782bfece3ebde8090a810bd47

@Fourdee
Ideally we somehow need to check within drive_manager if NFS server is v4 or v3 (and below) to additionally let user add path to NFS export conditionally, as:
- With path, client will always connect via NFSv3, even that NFSv4 is supported.

[2018-07-19 14:24] MichaIng commented on #1935
@ludji49
1. Copy the command into your putty terminal:
`mv /path/to/nextcloud/.well-known /tmp/`
2. Update Nextcloud as your tried
3. Copy next command into your putty terminal:
`mv /tmp/.well-known /path/to/nextcloud/`

[2018-07-19 15:59] ludji49 commented on #1935
there is an error on the writing of the command
![2018-07-19_175538](https://user-images.githubusercontent.com/10480101/42954625-80274bec-8b7d-11e8-982e-a298399896d5.png)

[2018-07-19 17:31] MichaIng commented on #1935
@ludji49
Ah sorry, `/path/to/nextcloud/` should be replaced with the path to your nextcloud directory. On DietPi it should be then:

`mv /var/www/nextcloud/.well-known /tmp/`

and after Nextcloud update: `mv /tmp/.well-known /var/www/nextcloud/`

[2018-07-19 18:09] MichaIng commented on #1937
@okoestner
It works, if you install Lighttpd stack first, after this is done and reboot, your can manually install phpMyAdmin. This is the workaround with user notification that we do on interactive installs. But of course on non-interactive installs this does not show up.

@Fourdee
Maybe we should silently deselect phpMyAdmin on automated first run installs? Currently this is just effective when

[2018-07-19 18:19] ludji49 commented on #1935
Update done, but for the next update I have to go through this command
mv /var/www/nextcloud/.well-known /tmp/
and after Nextcloud update: mv /tmp/.well-known /var/www/nextcloud/

![2018-07-19_201637](https://user-images.githubusercontent.com/10480101/42962057-00b61bae-8b91-11e8-94ee-a8b1b8b65149.png)

[2018-07-19 19:47] duncansimpson commented on #1898
Thanks @MichaIng, I did a quick test adding `netbase` this morning, on my 6.11 test Pi, and that also fixes the problem for me:

[code]

WRT:

I also found I had to add `nofail` in the fstab entries I had added manually, to prevent boot hangs if the remote share is down.  So my manual fstab entries use `auto,nofail`.

[2018-07-19 21:41] Fourdee commented on #1937
@MichaIng

Not a bad idea 👍 , at least until we can do the below.

Yep, although, its been a year or two, we'd need to review and re-investigate it fresh again, before we do.

[2018-07-19 22:47] MichaIng commented on #1898
Okay, `nofail` added to network drives as well. Only thing that is outstanding is:
- NFSv3 needs the path to the export dir added to `mount` command and `fstab` entry.
- NFSv4 needs just `<IP>:/`. If path is added, v4 connection attempts will fails and connection will be v3. If server is v4 only, then connection will completely fail.

Thus, currently `dietpi-drive_manager` cannot be used to add v3

[2018-07-19 22:47] #1898 closed, assigned to MichaIng

[2018-07-19 22:56] Fourdee commented on #1917
@MichaIng

Yep I agree.

Although it only takes 2 seconds on a ASUS TB:
[code]

I'll add this by default.

---

Done and test install passed 🈯️
@MichaIng Great work on solution 👍

[2018-07-19 22:56] #1917 closed, assigned to Fourdee, MichaIng

[2018-07-19 23:49] MichaIng commented on #1935
@ludji49
That's true.

One of the negative sides of having webroot within /nextcloud directory. Other software tends to place file into webroot, which Nextcloud then identifies as integrity check violation. They already added much of the "well known" files/folders to be excluded for this, but for some reason `.well-known` still breaks updates.

You could check what is inside and if it's needed: `l

[2018-07-20 00:22] Kreeblah opened #1939 "Roon bridge not working on v6.12"
## Creating a bug report/issue:

#### Required Information:
- DietPi version	| 6.12
- Distro version	| stretch
- Kernel version	| Linux DietPi 3.16.56+ #1 SMP PREEMPT Wed Apr 18 16:59:34 CEST 2018 aarch64 GNU/Linux
- SBC device		| Odroid C2 (aarch64)
- Power supply used	| https://ameridroid.com/products/5v-2a-power-supply
- SDcard used		| https://ameridroid.com/products/emmc-black-module-c2-linux-

[2018-07-20 00:47] MichaIng commented on #1939
@Kreeblah
I just recognized and emergency fixed an issue, where `/var/log` ramlog entry was added to fstab during update, even that this was not selected before.

Did you use `dietpi-ramlog` before? If not, please manually remove the entry in `/etc/fstab` again and reboot to recover the old logs.

But that should actually not prevent the service from starting and especially not break something on

[2018-07-20 00:51] Kreeblah commented on #1939
@MichaIng - Yep, that did it.  After doing what you suggested with making that directory with the right permissions and linking it, the Roon bridge software works just fine.

[2018-07-20 00:56] MichaIng commented on #1939
Thanks for the feedback. Hmm I am thinking to fix this within current master as well 🤔. Actually not good practice to change branch after release...

€: Okay, did fix on master branch as well, as dietpi-update otherwise breaks all current RoonBridge installs. I hope you are the only one ran into it 😉. I mark as closed.

[2018-07-20 01:06] #1939 closed, assigned to nobody

[2018-07-20 04:53] ludji49 commented on #1935
Thank you very much .......

[2018-07-20 08:13] mgherghi opened #1940 "DietPi-Drive_Manager | Add correct NFSv3 fstab entry handling"
so after the most recent update i think nfsv3 is working but when i mount the share it gives me the following error:

mount.nfs: access denied by server while mounting 192.168.1.1:/

[2018-07-20 08:13] mgherghi commented on #1940
everything is setup properly on the server side, because i have another client setup using the same method

[2018-07-20 11:03] camelreef opened #1941 "Roon Bridge service migration to own user - Files permissions prevent start of service"
#### Required Information:
- DietPi version	| 6.12
- Distro version	| stretch
- Kernel version	| Linux RPi-Salon 4.14.52-v7+ #1123 SMP Wed Jun 27 17:35:49 BST 2018 armv7l GNU/Linux
- SBC device		| RPi 2 Model B (armv7l)
- Power supply used	| Official RPi PS, 2.5A 5V
- SDcard used		| SanDisk ultra

#### Additional Information (if applicable):
- Software title	| Roon Bridge
- Was the software title

[2018-07-20 11:12] MichaIng commented on #1941
@camelreef
When did you update your DietPi? Yesterday I did an emergency fix about this issue, but that was about 2 hours after release: https://github.com/Fourdee/DietPi/issues/1939
Checking your bug report, it seems you updated just during this two hours, which should be at least 11 hours ago. Can you confirm? Otherwise I need to recheck.

But the fix is at least easy:
[code]

[2018-07-20 11:17] camelreef commented on #1941
I did the upgrade 1-2 hours ago only, so after the window.

The fix you've given me does indeed work, Many thanks for that!

[2018-07-20 11:28] MichaIng commented on #1941
@camelreef
Thanks for feedback. Hmm that is strange. Current update should include all the steps above:
- https://github.com/Fourdee/DietPi/blob/master/dietpi/dietpi-software#L8904-L8912
- https://github.com/Fourdee/DietPi/blob/master/dietpi/dietpi-software#L7777

But checking your bug report, your `dietpi-software` is on the stage before the hotfix. Hmm not sure about caching issues here 🤔.

Chec

[2018-07-20 11:29] antonellocaroli opened #1942 "process tool applies changes only to the father process"
## Creating a feature request:

process tool applies changes only to the father process

process tool applies changes only to the father proces,
this is normal, is it a technical choice? Is that so?

if I assign a cpu (affinity) to a player, only the father process is associated ... the child processes are not ...
I do not know this is normal

[2018-07-20 11:34] MichaIng commented on #1941
Ahhh, forgot the master mirror on dietpi.com: https://dietpi.com/downloads/dietpi-update_mirror/master/
Will bring it up to date!

Okay done, at least this will prevent the issue for all updating from now on. I will keep this issue open, in case other user already ran into it.

[2018-07-20 11:42] camelreef commented on #1941
YAY! Glad to have been a trigger!
Thanks for DietPi, I love it!

Used at home this way:
Redhill, UK - http://www.youplala.net/wp-content/uploads/2018/02/2018021201-Multimedia-Setup.pdf
One additional baby bedroom with SqueezeLite and motionEye
All with netdata monitoring

And in other places these ways:

Around Seattle, USA - https://www.youplala.net/wp-content/uploads/2017/12/2017121501-Music-Sys

[2018-07-20 11:50] MichaIng commented on #1940
@mgherghi
Jep that is a known issue. Hmm we should have made this a bid clearer in changelog 🤔:
See: https://github.com/Fourdee/DietPi/issues/1898#issuecomment-406437446

So you manually need to add the path to the NFS export to the clients `/etc/fstab` entry. We will add full NFSv3 functionality to `dietpi-drive_manager` with v6.13. As it is a bid hacky to get this to work, we couldn't resolve it

[2018-07-20 11:57] MichaIng commented on #1941
@camelreef
I really just use a tiny part of SBC potential. It is always nice, involving with DietPi, to get known with the full potential of the software offer. Great what roon, kodi etc. developers do and great that we can help a bid to spread this nice software to people 😍.

[2018-07-20 14:34] leviticus1 commented on #1171
i ve flashed dietpi img/iso im a noob and there is no gui no cusror nothing, etcher confirns success but nothing can anyone help me get this sorted thanks any advice will do i know how to use the terminal ect

[2018-07-20 14:36] leviticus1 commented on #1171
a fat arse pi needs compiling

[2018-07-20 15:46] Fourdee commented on #1941
@MichaIng

Great work on the fast fix for this 👍

Very strange, how this passed local testing for me without issues during dev. I must of missed something, so apologies from my side.

Ok, lets do a v6.13 hotfix today/tomorrow, just to ensure all users are updated with the hotfix.

[2018-07-20 15:47] Fourdee commented on #1829
@carlosedp

From my side, only CIFS is critical for our user base. However, its your kernel, feel free to add items that would benefit our users.

[2018-07-20 15:58] MichaIng commented on #1941
@Fourdee
Yeah, I was hoping to prevent a needed hotfix version, but forgot that DietPi code is downloaded from `dietpi.com`. There should not be much affected due to numbers of RoonBridge installs and updates over the night, but at least all which updates during the night will face an error when installing RoonBridge (new) and some will have tmpfs on `/var/log` who don't chose/uninstalled dietpi-r

[2018-07-20 16:00] carlosedp commented on #1829
Done, after a ton of testing I've compiled a Kernel that contains most needed modules for Docker, Kubernetes, Weave overlay network, NFS, CIFS and many others.

[code]

The files can be downloaded on https://we.tl/E2d2n7RqSD and replaced on the DietPi package.

Also I found out that the `/etc/machine-id` that's on the rootfs is static and not generated dynamically. In my case, Weave Net (an overla

[2018-07-20 16:24] Fourdee commented on #1941
@MichaIng

Yep, agree 👍

[2018-07-20 16:28] carlosedp commented on #1829
One question @Fourdee , I have a Firefly Rk3399 board and would like to build the DietPi image for it. What are the steps required to do it? I'm already planning to rebuild the kernel with similar parameters as the Nano-T4.

I also plan to use the same steps to build for the OrangePi 3399 and in some weeks the RockPro64 that I will receive. I'm reviewing the boards for my articles on Kubernetes cl

[2018-07-20 17:09] Neoderek opened #1943 "Installing nextcloud, fail on mariadb install"
#### Details:
- Date           | Fri 20 Jul 17:52:55 BST 2018
- Bug report     | N/A
- DietPi version | v6.11
- Img creator    | DietPi Core Team
- Pre-image      | Raspbian Lite
- SBC device     | RPi 3 Model B (armv7l) (index=3)
- Kernel version | #1123 SMP Wed Jun 27 17:35:49 BST 2018
- Distro         | stretch (index=4)
- Command        | G_AGI: mariadb-server
- Exit code      | 100
- Software

[2018-07-20 17:20] Fourdee commented on #1801
Ok, looks good, nice work, very impressive 👍

I see what your trying to do with ```URL_LIST```, allowing check of all URL's prior to install, however, I'd personally remove this to keep the code simple, and simply run a command for each item, eg:
[code]

Reasons:
- Even if we pre-check all URLS's at the start, it may fail when it comes to actually downloading it. Ideally, check straight before dow

[2018-07-20 17:24] mgherghi commented on #1940
I apologize but how should i add the path in fstab ?

[2018-07-20 18:02] Fourdee commented on #1801
Notes:

Some issues with G_THREAD_WAIT:
[code]

Works on retry.

Seems is not pulling the PID correctly.
[code]

1st thread is fine, additional threads fail, var not cleared?
[code]

[2018-07-20 18:14] MichaIng commented on #1801
@Fourdee
Jep, this is also why I marked URL_LIST as optional first. I just saw some installs checking all related URLs first and though that the idea is actually good, so before any download and installation is started, it first checks for all URLs still up-to-date/available. Otherwise you might have a messy half completed installation that could have been avoided.
Download can still fail, but it

[2018-07-20 18:20] MichaIng commented on #1940
@mgherghi
That depends on the NFS server, where the location of the shared folder is found within file system.

On default DietPi NFS server setup it would be:

`192.168.1.1:/mnt/dietpi_userdata` instead of just `192.168.1.1:/`

Which other client setup you have and how exactly did you add the NFS drive there?

[2018-07-20 18:23] Fourdee commented on #1801
@MichaIng

Fixed with  https://github.com/Fourdee/DietPi/commit/f161b6fed6fa85aa5cf43b6ed92837c46fcf3cc9
[code]

[2018-07-20 18:56] Fourdee commented on #1801
Notes:
- fixed RPi failed install of WiringPi due to downloading web page, instead of file, now hosted on DietPi.com
- Autodetect file extension type with Download_Install. Only downside is all links must be full links, no redirects. I've checked/updated all items in script and we should be fine.
- use ```G_THREAD_START``` for all downloads in Download_Install, regardless if there is no ```DEPS_LI

[2018-07-20 20:04] Fourdee commented on #1941
REF: https://community.roonlabs.com/t/dietpi-roonbridge-issues/46535/8?u=dan_knight

[2018-07-20 20:08] Fourdee commented on #1801
```package_list+=" $PHP_APT_PACKAGE_NAME-sqlite*" #wildcard for version (eg:3)```
~Doesnt like the wildcard? does not get installed. Looking into it now.~

Hmm has something changed, php7.0-sqlite3 not getting installed unless sqlite is installed. Breaks most php-sql related programs:

Koel
[code]

---

Node still installing x86 on ARMv8.
[code]

arm64 binaries exist (https://nodejs.org/dist/v8.11

[2018-07-20 20:27] giulio92 opened #1944 "Unable to install latest DietPi version"
#### Details:
- Date           | Fri 20 Jul 22:23:56 CEST 2018
- Bug report     | N/A
- DietPi version | v6.12
- Img creator    | DietPi Core Team
- Pre-image      | Raspbian Lite
- SBC device     | RPi 3 Model B (armv7l) (index=3)
- Kernel version | #1123 SMP Wed Jun 27 17:35:49 BST 2018
- Distro         | stretch (index=4)
- Command        | G_AGUP
- Exit code      | 100
- Software title | DietP

[2018-07-20 21:02] Fourdee commented on #1943
@Neoderek

Hi,

Thanks for the report 👍

[code]

The system is currently running as read only. If you have not specifically set this yourself, I estimate a hardware issue causing filesystem failure.

Please post the following in your reply:
- Any recent power cuts, and/or, hard resets of power (eg: pulling the power cable out when powered on)?
- PSU used (make and model)
- SD card used (brand and

[2018-07-20 21:08] Fourdee commented on #1944
@giulio92

Hi thanks for the report 👍

Were any changes made to ```dietpi.txt``` prior to running the system for the 1st time?

Please can you also paste results of the following:
[code]

It may also be a temp issue with local/remote network, please try running the following command:
[code]

If the above command works, resume setup with:
[code]

Note to self:
Link appears to be functional http://r

[2018-07-21 01:15] Neoderek commented on #1943
Hi Fourdee,

I don´t do nothing special to change my sistem to read only.

    Any recent power cuts, and/or, hard resets of power (eg: pulling the power cable out when powered on)? ** Can be possible, and i had internet problems last weeks.**
    PSU used (make and model) **Raspberry pi official psu**
    SD card used (brand and size) **It's samsumg, 10 category, 32 Gb**
    dmesg | grep ext

[

[2018-07-21 07:25] giulio92 commented on #1944
Hi @Fourdee,

I made no changes to `dietpi.txt`, here's the `cat /etc/apt/sources.list` result:

[code]

and here's `G_AGUP`'s

[code]

I was able to install DietPi without issues in the past

[2018-07-21 10:23] MichaIng commented on #1944
@giulio92
It seems to be a network issue on your side. All links and files open and resolve fine here.

Are you able to ping other web resources, e.g. `ping dietpi.com`?
Do you have a working DNS server configured: `cat /etc/resolv.conf`?

You can also use `dietpi-config` to review and reset your network configuration.

[2018-07-21 10:29] MichaIng commented on #1942
@antonellocaroli
Thanks for your report.

This can happen, if the father process and the child processes have different process names. The process tool checks for certain names to handle. Which process is it in your case?

Perhaps we can make the tool more intelligent to always detect all child processes, but we have do dig into it.

[2018-07-21 11:06] antonellocaroli commented on #1942
in fact I was trying processtool on another distro (gentoo / open-rc), maybe that's the fact.

that dietpi uses system ... and type for squeezelite there is only one process ...
instead I find 4

[2018-07-21 11:35] Hax4us commented on #1760
@fourdee I can confirm that same problem is exist in my TB DietPi 6.12

[2018-07-21 11:49] Hax4us commented on #1760
It worked only first time after flashing new image and I did some things like installing some tools and LXDE ,and in each reboot WiFi was working but after shutdown same problem ......😑😑

[2018-07-21 11:55] Hax4us commented on #1760
What the hell is going on in my TB now after reboot it works but idk why and how,  well I will report back in case of same problem ..

[2018-07-21 12:07] FusionPlmH commented on #1918
Very nice to hear about working on . Stay and wait
~

[2018-07-21 14:56] burgyman opened #1946 "DietPi-Software | MiniDLNA: Update to post-APT version with additional features"
Hi,
On top of DietPi I have installed [Entware](https://entware.net/about.html) because of the improved version of MiniDLNA:
- supports on-the-fly Thumbnail extraction and generation (requires ffmpeg)
- option to select a PNG image to use for an icon
- db rescan and rebuild

Package list: http://bin.entware.net/armv7sf-k3.2/Packages.html

Any chance to update MiniDLNA to the same version or with s

[2018-07-21 15:04] Hax4us commented on #1760
Again same problem. It is very unstable for me :(

[2018-07-21 15:17] sergiud opened #1947 "/etc/cron.hourly/dietpi fails to remove /var/lib/dietpi/dietpi-ramlog/storage/"
## Creating a bug report/issue:

#### Required Information:
- DietPi version	| `6.12`
- Distro version	| `stretch`
- Kernel version	| `4.14.32+`
- SBC device		| Odroid XU3/XU4/HC1/HC2 (armv7l)
- Power supply used	|  15V 5A
- SDcard used		| eMMC

#### Additional Information (if applicable):
- Software title	| cron

#### Steps to reproduce:

1. Enable notifications in OpenMediaVault
2. Update from 6

[2018-07-21 15:32] MichaIng commented on #1947
@sergiud
Thanks for your report.

We changed dietpi-ramlog storage location but forgot to adjust this within cron job: https://github.com/Fourdee/DietPi/commit/e85f2efa39bd7d3867f06a804149c47c45c3170e#diff-9beb868c8b43c2fb4363fc06b6fab912

The error message is harmless, this part of the cron job uncritical, just intended to be failsafe. Adding directory existence check is a good idea anyway 👍.

We

[2018-07-21 17:41] Fourdee commented on #1946
@burgyman

Many thanks for the request 👍

Currently all devices will install MiniDLNA from APT.

For this to be possible, we need to compile, provide and maintain binaries for:
- ARMv6
- ARMv7
- ARMv8
- x86_64

As such, i'll mark this as low priority for now.

---

In regards to refresh/rescan DB, this can be done already:
https://dietpi.com/phpbb/viewtopic.php?f=8&t=5#p49
[code]

[2018-07-21 17:50] Fourdee commented on #1942
@antonellocaroli

Hi,

All our scripts require Debian currently to function correctly. It's also not advised to use single DietPi scripts, without 1st running PREP on the system, as DietPi is a complete script system and expects/requires additional script functions contained within other files.

Regardless,

We check for all available processes that match ```aPROCESS_NAME```:
https://github.com/Fo

[2018-07-21 17:50] Fourdee commented on #1942
@MichaIng
~Known issue?~

Confirmed:
![image](https://user-images.githubusercontent.com/7077026/43038815-9eb0d0f0-8d18-11e8-8a7d-d600341d0b22.png)

Appears kernel/user-land threads are not applied?

---

Same PID, different SPID:
[code]

Unsure how to determine if SPID uses PID applied values?
[code]

[2018-07-21 18:14] MichaIng commented on #1942
@Fourdee
Ah sorry, I remember saw once process tool failing to set nice for a related process (logging daemon, other sub/side process), where the name was totally different. Thought this is related. But hum yeah this is a different case. Didn't know SPID and these kind of sub processes. So far, thinking about webserver, PHP etc, all had different PIDs. Hmm yeah lets investigate and see if we can a

[2018-07-21 18:14] Fourdee commented on #1942
Ok, we can at least ```renice``` to SPID directly.

🈯️ This works applying to PID group ```-g```:
[code]

![image](https://user-images.githubusercontent.com/7077026/43038906-4edc2294-8d1a-11e8-9f50-7cb276ed22c3.png)

---

```taskset```
-a, --all-tasks         operate on all the tasks (threads) for a given pid
same for ```chrt```

[2018-07-21 18:21] Fourdee commented on #1942
🈯️  taskset:

requires ```p``` and ```a```
[code]

[code]

[2018-07-21 18:30] Fourdee commented on #1942
@antonellocaroli

Apologies for slamming the "we dont support your distro" initially. From past experience we have to clearly define what we support, else, it becomes impossible.

Great find on this bug and many thanks for reporting it 👍

The updated script is available here, which now applies to all child threads:
https://raw.githubusercontent.com/Fourdee/DietPi/926ebe115c8f64b775b39877e621614dce

[2018-07-21 19:18] Fourdee commented on #1943
@Neoderek

Thanks for the info 👍

The issue is with the rootFS. Read-Only is applied by the kernel automatically when an issue occurs to prevent damage.

So it would appear either a power issue has occurred, or, the SD card itself is failing.

As you are using the official PSU (i assume 5V/2.5A version?), this should be more than enough to power USB drive (1.2A max shared across all USB sockets).

[2018-07-21 20:28] Fourdee commented on #1829
@carlosedp

In all honesty, I have no idea. We rely on existing pre-images including the kernel and bootloader, we do not currently create our own.

Thanks for updating the files  👍 . I've downloaded them and i'll try to implement them into our image over the next few days.

[2018-07-21 20:32] carlosedp commented on #1829
Actually I successfully created the image for the Firefly. Compiled the Firefly kernel to it with all parameters from the NanoT4 (modules and all). I tried with the FriendlyARM kernel but if froze on heavy network test, probably some DTB messed up.

I successfully flashed it all with DietPi Rootfs and it's working perfectly. If you want I can sent the package to you. Let me do a couple more tests.

[2018-07-21 23:02] carlosedp commented on #1829
@Fourdee , just please test with your cases before using this image. There might be a couple of things I didn't test on video subsystems or WiFi. Let me know if you find something wrong.

[2018-07-21 23:06] antonellocaroli commented on #1942
Thanks for the change,

now everything seems to work, except for affinity that seems to go on the child processes but not on that father.
![selection_087](https://user-images.githubusercontent.com/11161093/43040656-b5dea9c4-8d49-11e8-942d-7897cbc8c42f.png)

No problem!!! I understand perfectly

I generally use something like that:
[code]

[2018-07-22 05:07] antonellocaroli commented on #1942
now and then from failed
![selection_089](https://user-images.githubusercontent.com/11161093/43042437-e9012406-8d7d-11e8-8627-0a434d855fef.png)
![selection_090](https://user-images.githubusercontent.com/11161093/43042438-eb6f325a-8d7d-11e8-9e3f-0e2023532e01.png)
but this can be a specific problem on my system

[2018-07-22 07:50] mrwhy-orig opened #1950 "dietpi-globals: line 27: cd: HOME not set"
## Creating a bug report/issue:

#### Required Information:
- DietPi version	| 6.12

#### Additional Information (if applicable):
- Software title	|  Chromium Kiosk
DietPi upgraded from 6.4 to 6.12

#### Steps to reproduce:

Activate Chromium in Autostart options

#### Expected behaviour:
Open Chromium at startup

#### Actual behaviour:
Console is displaying the HOME not set error and asks for Log

[2018-07-22 10:39] MichaIng commented on #1950
@mrwhy-orig
Thanks for your report.
Jep already found and fixing this for v6.13: https://github.com/Fourdee/DietPi/pull/1945

At least it is harmless, you can ignore these messages, or do:
`sed -Ei 's/^[[:blank:]]*cd \$HOME/\t\[\[ \$HOME \]\] \&\& cd \$HOME/' /DietPi/dietpi/func/dietpi-globals`

[2018-07-22 12:06] Tuaz opened #1952 "Installing plex media server Failed"
#### Details:
- Date           | Sun 22 Jul 12:53:57 BST 2018
- Bug report     | N/A
- DietPi version | v6.12
- Img creator    | DietPi Core Team
- Pre-image      | Meveric
- SBC device     | Odroid C2 (aarch64) (index=12)
- Kernel version | #1 SMP PREEMPT Wed Apr 18 16:59:34 CEST 2018
- Distro         | stretch (index=4)
- Command        | G_AGI: binutils:armhf plexmediaserver-installer:armhf
- E

[2018-07-22 13:08] GulyFMG opened #1953 "Failed to install software"
#### Details:
- Date           | Sun 22 Jul 14:01:15 BST 2018
- Bug report     | N/A
- DietPi version | v6.12
- Img creator    | DietPi Core Team
- Pre-image      | Raspbian Lite
- SBC device     | RPi 3 Model B+ (armv7l) (index=3)
- Kernel version | #1123 SMP Wed Jun 27 17:35:49 BST 2018
- Distro         | stretch (index=4)
- Command        | G_AGUP
- Exit code      | 100
- Software title | DietP

[2018-07-22 13:15] MichaIng commented on #1953
@GulyFMG
Thanks for your report. I will do some test installation here as well.

@Fourdee
Is it intended that we use the development branch instead of master (stable)?
https://github.com/Sonarr/Sonarr/wiki/Installation#linux

[2018-07-22 13:23] MichaIng commented on #1953
Verified on Jessie VM:
- Interestingly apt update went fine here, but error then on installation.
[code]

🈴 Also manual download of the package fails, including non HTTPS: https://apt.sonarr.tv/pool/main/n/nzbdrone/nzbdrone_2.0.0.5241_all.deb `€: Seems to be intended, if not downloaded via APT`
🈴 Stable branch fails as well
🈯️ Develop branch with HTTP source works: `echo 'deb http://apt.sonarr.tv/

[2018-07-22 13:41] MichaIng commented on #1953
@GulyFMG
To fix now:
`sed -i 's|https://apt.sonarr.tv|http://apt.sonarr.tv|g' /DietPi/dietpi/dietpi-software`
and retry installation.

Commit sent for fix:
https://github.com/Fourdee/DietPi/commit/294e9223f279a0162887b43b9257dafec1f3e7a3
https://github.com/Fourdee/DietPi/commit/cc2c1aed0f4a37dd2b4aeeb402a4652b20a3984d

[2018-07-22 13:55] MichaIng commented on #1952
@Tuaz
Thanks for your report.

On x86_64 is works fine, this is related to the ARMv8 installation method, which I can't test here.
@Fourdee maybe you find time to jump in?

[2018-07-22 14:45] zicmama commented on #1900
Installed with a 2.5 Amp power. And I still get same error...
my install list
![dietpi install](https://user-images.githubusercontent.com/1031889/43046792-91cbfe58-8dce-11e8-8789-1ffe7d069eff.png)

[2018-07-22 15:01] MichaIng commented on #1900
@zicmama
If the SSD is 2,5" and is not attached via docking station with dedicated power plug, then I guess it is nearly impossible to run it successfully on RPi, regardless the RPi power supply. The SBC can simply not forward the needed power to the drive, to have it run stable. USB-only powered works reliable for USB sticks and external SD cards only.

I personally use something similar like thi

[2018-07-22 15:15] GulyFMG commented on #1953
@MichaIng Thanks for the workaround finished the institucional successfully.

[2018-07-22 15:15] #1953 closed, assigned to MichaIng

[2018-07-22 15:16] MichaIng commented on #1953
@GulyFMG
Great to hear, thanks for feedback 🙂.

[2018-07-22 18:55] Fourdee commented on #1952
Unable to replicate with local testing. We'll need to debug user system directly.

@Tuaz

Lets try running the commands manually, please paste the output:
[code]

None of the installed software has held packages (to my knowledge), however, lets get a list of held packages on your system:
[code]

Please also try running APT fix, please paste output aswell:
[code]

[2018-07-22 19:20] Fourdee commented on #1942
Seems the PID group apply fails on some threads/processes:
[code]

But works manually afterwards, when setting PID, not group:
[code]

~Ok, so we need to apply group to threads, not the parent?~
Maybe simple solution, should be quicker code wise, than checking for every PID vs SPID match:
- Apply to group first, (process with threads)  if fails
- Apply to PID only (single process)

Useful debug cm

[2018-07-22 19:30] Tuaz commented on #1952
@Fourdee

apt-get install binutils:armhf plexmediaserver-installer:armhf
[code]
apt-mark showhold
`shows nothing`

apt-get install -f
`0 upgraded, 0 newly installed, 0 to remove and 0 not upgraded.`

[2018-07-22 20:19] purist69 commented on #1794
Libreelec was able to get this working....  Is this because Libreelec leverages Ubuntu?

[2018-07-22 21:06] Fourdee commented on #1942
#### Testing https://github.com/Fourdee/DietPi/blob/testing/dietpi/dietpi-process_tool

![image](https://user-images.githubusercontent.com/7077026/43050050-7cb2d95c-8dfa-11e8-820a-ad79daa884e2.png)

[code]

parent = 26157
threads = 26157 - 26160

![image](https://user-images.githubusercontent.com/7077026/43050090-1755909e-8dfb-11e8-8df7-769d9179a11b.png)

[code]

[code]

@antonellocaroli

Should b

[2018-07-22 21:48] MichaIng commented on #1947
Okay we simply removed the ramlog storage update from cron job. The idea of writing (even that those are just empty files => each 4k block) files to disk, while ramlog is intended to reduce disk I/O is not worth it. /var/log file/folder structure will be stored on reboot, which is scheduled after every dietpi-software and dietpi-update run.

I will mark the issue as closed, as the fix is very triv

[2018-07-22 21:52] #1947 closed, assigned to MichaIng

[2018-07-22 22:07] Fourdee commented on #1952
@Tuaz

Thanks 👍

Appears mono is the issue (yet again 🤣 )
Try reinstalling mono:
[code]

failing that, please send us a bug report so we can investigate system configuration:
[code]

[2018-07-22 22:46] Tuaz commented on #1952
It worked after reinstalling 150, but i send you bug report because i miss read you not sure if any useful now :)

[2018-07-22 23:39] stevejenkins opened #1955 "Odroid | WiFi Adapter 3 Won't Work as HotSpot"
## Creating a bug report/issue:

#### Required Information:
- DietPi version	| 6.12
- Distro version	| stretch
- Kernel version	| Linux DietPi 3.16.56+ #1 SMP PREEMPT Wed Apr 18 16:59:34 CEST 2018 aarch64 GNU/Linux

- SBC device		| Odroid C2 (aarch64)
- Power supply used	|  5.2V 1.6A (Amazon Echo power adapter)
- SDcard used		| SanDisk ultra

#### Additional Information (if applicable):
- Software

[2018-07-23 00:01] Fourdee commented on #1768
To Do: https://dietpi.com/dietpi-software.html
- From OpenBazzar onwards:
-- Go through all items, add/check
-- pros/cons + info + pictures + our ratings
- 🈯️ Add pending additions https://github.com/Fourdee/DietPi/issues/1768#issuecomment-397526254
- Check for any removals since we started.

[2018-07-23 00:50] #1952 closed, assigned to Fourdee

[2018-07-23 05:18] mrwhy-orig commented on #1950
@MichaIng, ignoring these message isn't an option, because the chromium kiosk mode startup fails without the fix.
But your change is working. Thx!

[2018-07-23 05:18] #1950 closed, assigned to nobody

[2018-07-23 08:16] g-provost opened #1956 "Helios4 Support Request"
## Creating an image request:

#### Give us some formal device information:
- Device name | Helios4
- Official product URL | https://kobol.io/helios4
- GitHub resource URL (if available) | https://github.com/helios-4 and https://github.com/armbian/build
- Image download URL | https://wiki.kobol.io/download/

#### Is the SBC officially supported by the Debian installer?
- No. But note that upstream

[2018-07-23 13:05] giulio92 commented on #1944
I have flashed the `.img` again and surprisingly enough the installation succeeded with the same settings 😊

[2018-07-23 13:05] #1944 closed, assigned to nobody

[2018-07-23 13:39] MichaIng commented on #1944
@giulio92
Okay, no change to investigate how your system ran into the prior situation. But good that it works now 🙂.

[2018-07-23 13:51] MichaIng commented on #1956
@g-provost
Thanks for your request. Sadly do not offer images, which are based on ARMbian due to constant friction we had (and by times still have) with their devs. To solve/avoid this, the only solution was to completely remove any need for ARMbian from DietPi.

But as this is open source, you are allowed to create your own image, by running our DietPi image creation script on the fresh ARMbian i

[2018-07-23 16:47] antonellocaroli commented on #1942
thank you,

now it seems to work perfectly !!!

great

[2018-07-23 17:55] mgherghi opened #1957 "Qbittorrent settings dont save on restart"
# Solution: https://github.com/Fourdee/DietPi/issues/1957#issuecomment-407173961

for some reason i cant get the settings on the app to stick after a reboot.

[2018-07-23 18:00] mgherghi opened #1958 "Manual update (outside our installed APT) | Emby Server shutdown when idle ."
I have tried to install the emby server from the dietpi-software menu (v3.4.1) and then update the app according to the website (emby.com) to v3.5.  I feel that if i do that update or just install the emby server directly from the website (emby.com) , it does not work properly. Specifically when the server is idle for more than 10 minutes i need to restart the rpi or type in 'dietpi-services resta

[2018-07-23 19:21] Fourdee commented on #1957
@mgherghi

Thanks for the report 👍

We'll open for investigations.

[2018-07-23 19:24] Fourdee commented on #1957
Confirmed issue, we'll look for a solution.

[2018-07-23 19:30] Fourdee commented on #1957
## Solution:
[code]

[2018-07-23 19:31] Fourdee commented on #1957
@mgherghi

We'll get this resolved for v6.13, however, you can fix it now by using the following commands:
https://github.com/Fourdee/DietPi/issues/1957#issuecomment-407173961

[2018-07-23 19:41] Fourdee commented on #1957
Completed, patched in v6.13.

[2018-07-23 19:41] #1957 closed, assigned to Fourdee

[2018-07-23 19:43] Fourdee commented on #1942
@antonellocaroli

now it seems to work perfectly !!!

Excellent, been testing it locally aswell, all seems good.

I'll mark this as completed. Thanks again for reporting this issue and your assistance 👍

[2018-07-23 19:43] #1942 closed, assigned to Fourdee

[2018-07-23 20:32] Fourdee commented on #1760
@Hax4us

Apologies for the delay. Thanks for confirming issue still exists.

Apologies, however, i'am out of ideas as to why this is occurring on your device. I am unable to replicate the issue here with TB DietPi 6.12, and, everything appears in order on your system (excluding https://github.com/Fourdee/DietPi/issues/1760#issuecomment-404186197).

I'am unsure how to debug this further (https://gi

[2018-07-23 20:34] Fourdee commented on #1955
Thanks for the report 👍

Confirmed bug:
[code]

[2018-07-23 21:37] Fourdee commented on #1829
Hmmm, i'am missing something here in regards to rootfs.img creation.

I tried created a new EXT4 image with MBR, added the files,

[code]

then packing fails
[code]

I'll need to do some reading on this (if documentation exists?).

[2018-07-23 21:42] stevejenkins commented on #1955
Cool. In the meantime any word on chipsets that are known to work with ODROID + DietPi in Hotspot mode?

[2018-07-23 21:42] carlosedp commented on #1829
Is this how you created it before? I don't know.. never used these tools.

When I created a rootfs, I used this:

[code]

Got it from http://en.t-firefly.com/doc/product/info/id/291.html

[2018-07-23 21:44] Fourdee commented on #1958
@mgherghi

Hi,

Currently, we use the http://download.opensuse.org repo for installing Emby packages. Updates are applied from the repo itself, during APT upgrades.

The upgrade guide on Emby.com most likely does not accommodate for this repo installation, or, there is a bug in the latest version causing the fail after 10 minutes.

When Emby fails after 10 minutes, please run this command and past

[2018-07-24 06:18] mgherghi commented on #1958
root@DietPi:~# systemctl status emby-server -l
● emby-server.service - Emby Server is a personal media server with a
pps on just about every device.
   Loaded: loaded (/usr/lib/systemd/system/emby-server.service; enabled; vendor
preset: enabled)
   Active: active (running) since Tue 2018-07-24 02:04:23 BST; 5h 12m
in ago
 Main PID: 18530 (EmbyServer)
   CGroup: /system.slice/emby-server.service

[2018-07-24 06:19] mgherghi commented on #1958
its like emby goes to sleep and it cant wakeup unless i restart the service, i even tried the "wake server" option

[2018-07-24 10:22] luispuerto commented on #1874
i don't really know how well this app works, but I'm also interested in seeing it implemented in DietPi. Thanks!

[2018-07-24 13:55] antonellocaroli commented on #1942
Personally, I will try to also move the system interrupts (USB and ethernet) on a specific core ....
what do you think?

[2018-07-24 15:15] Roxas72 opened #1959 "Update issues"
Hello guys, this is my first time opening an issue so sorry in advance if I'm missing something

#### Details:
- Date           | Tue 24 Jul 16:06:41 BST 2018
- Bug report     | N/A
- DietPi version | v6.11
- Img creator    | DietPi Core Team
- Pre-image      | Raspbian Lite
- SBC device     | RPi 3 Model B (armv7l) (index=3)
- Kernel version | #1123 SMP Wed Jun 27 17:35:49 BST 2018
- Distro

[2018-07-24 16:02] MichaIng commented on #1959
@Roxas72
Thanks for your report.

Everything available here: https://archive.raspberrypi.org/debian/dists/stretch/
Maybe it was a temporary issue do to repo mirroring.

Please retry to manually update the package lists: `apt update`

[2018-07-24 16:07] Roxas72 commented on #1959
Thank you @MichaIng for your answer.
It seems though that after rebooting the RPI the system info shows the software as v6.12, the updated one. How is it possible? Because the update should have failed..

[2018-07-24 18:02] MichaIng commented on #1959
@Roxas72
Hmm, just tested in my case and as the the new version string is written to disk after all update steps are done, also after reboot it shows the old version 🤔.

If you are sure that the update didn't finish, you can rerun it via `dietpi-update -1`.

[2018-07-24 18:46] MichaIng commented on #1510
### Avoiding sub shells `( commands... )`, as well for checking conditions, where possible, as they take a while to initiate:
[code]

[2018-07-24 20:13] Roxas72 commented on #1959
@MichaIng well for the time being I'm gonna leave it as it is, as long as it works!
Can I trouble you in this same thread with another problem I happen to have? It's a service-related one (SickRage), can you help me?

[2018-07-24 21:05] Fourdee commented on #1959
@Roxas72

We'll help if we can, please post the issue.

[2018-07-24 21:11] Fourdee commented on #1958
@mgherghi

Strange, service looks fine, its running and nothing of note in the log.

Was the service status command used after the web UI is dis-functional?

The only thing I can think of is updating to v3.5, via the guide, introduces an instability (or bug) with the program itself.
Ideally, to ensure stability and full support from our end, please stick with the version DietPi installs via the ad

[2018-07-24 21:11] #1958 closed, assigned to nobody

[2018-07-24 21:28] Fourdee commented on #1829
@carlosedp

Apologies, I'am an idiot, to repack the image:
🈯️ ```rootfs.img.cfg```, not ```rootfs.img.iso```
[code]

[2018-07-24 21:32] Roxas72 commented on #1959
@Fourdee alright thanks guys!
So basically after trying to update the software (and failing, a couple of times, aaand to be honest unplugging the power) I've noticed that Sickrage wasn't working anymore. With a little bit of investigation, or in other words `dietpi-services status` , here's what it says:
[code]
I have tried to restart the service but nothing, any other suggestions other than the d

[2018-07-24 21:57] Fourdee commented on #1829
- 🈯️ CIFS test 👍 🥇
- 🈴  WiFi test | Scan, very intermittent, some times fails to pull any results due to driver/HW issue with new kernel? I don't remember having this issue with the official FriendlyARM stock kernel.
[code]

@carlosedp

Aside from the issue with WiFi, great work, very nice, thank you 👍
Ideally, we need to find out why the scan is failing 80% of the time.

#### I've updated the ima

[2018-07-24 22:04] Fourdee commented on #1959
@Roxas72

Appears the service is stuck in a fail loop.

Try running the command manually:
-  stop services
[code]
- Run the command and check for any errors/output
[code]

May of rendered a filesystem issue/corruption, but we'll see, depends on the above results.

[2018-07-24 22:40] carlosedp commented on #1829
I just enabled the wlan0 interface and did the scan a couple times. I'd say that from 10 times it didn't find SSIDs in 3-4. I don't know if it's something on the driver in this kernel or if it happened before. TBH I don't use wlan and never enabled it.

I researched a bit and the WLAN module is made by Rockchip itself (http://rockchip.fr/ampak/AP6356_datasheet_V1.0_07252014.pdf) and the driver is

[2018-07-24 22:56] carlosedp commented on #1829
Also there are other driver for it (I don't know which is used) on https://github.com/rockchip-linux/kernel/tree/release-4.4/drivers/net/wireless/rockchip_wlan/cywdhd/bcmdhd.

This one doesn't exist on FriendlyARM's tree but is disabled on my build and also disabled on all trees default config for the platform.

[code]

The other one is:

[code]

So it doesn't look like something in the driver. I

[2018-07-24 23:36] orchardaudio commented on #1626
Thanks for taking care of it.

[2018-07-24 23:41] MichaIng commented on #1959
@Roxas72
Btw.:
In such cases of service fail loops, you can see more (possibly the initial issue) via `journalctl`, then what `dietpi-services status` respectively `systemctl status <servicename>` shows. The latter show just the tail of all their output.

[2018-07-25 06:41] Roxas72 commented on #1959
@Fourdee
This is what the command gave me:
[code]
I might not be an expert, but that's pretty odd.. how does the directory not exist since it was working till yesterday?

[2018-07-25 11:25] sapdemon commented on #818
Hi
I faced with the problem like this.

1. New installation of the DietPI
2. Pre-configured Wifi Details for DietPi according to https://dietpi.com/phpbb/viewtopic.php?f=8&t=9#p9
3. Wifi module wasn`t found

I`ve shared the screenshot with information from

https://photos.app.goo.gl/cep8dL2DoyrzMizX6

[2018-07-25 13:00] MichaIng opened #1960 "Temporary RaspberryPi APT repository issues"
https://archive.raspberrypi.org/

APT update currently fails, which also leads to `dietpi-update` and `dietpi-software` (G_AGUP) failing.

[2018-07-25 14:26] stevejenkins commented on #1955
FYI, tested a different adapter with same results.

    Bus 001 Device 003: ID 148f:5370 Ralink Technology, Corp. RT5370 Wireless Adapter

[2018-07-25 16:04] sapdemon commented on #818
I`ve tried switch on onboard wifi, and i done this by next commands

modprobe -rf cfg80211
modprobe -rf brcmfmac
modprobe cfg80211
modprobe brcmfmac

I`ve added the screen with the result of this operations
https://photos.app.goo.gl/cep8dL2DoyrzMizX6

but after reboot it should be repeated

[2018-07-25 16:47] MichaIng commented on #1688
🈺 if `NTP=` configured local server fails, the daemon does not fallback to the `FallbackNTP=` servers automatically. `FallbackNTP=` is only used, if no `NTP=` is defined and no per-network NTP server within `/etc/systemd/network/*` configuration: https://manpages.debian.org/stretch/systemd/timesyncd.conf.5.en.html

Thus, we need to let user choose between local NTP server, optional automated gatew

[2018-07-25 18:00] antonellocaroli opened #1962 "SMP affinity"
I do not know if it's something that can interest.
I use the system as a player/render audio.
Then isolate CPU 3 at boot, adding isolcpus=3 to boot parameters
I dedicate this cpu to the player through dietpi-process_tool.

after I move the system interrupts.
apparently both the sparky and the rpi3 use the cpu0 for system interrupts

`cat /proc/interrupts`

![selection_091](https://user-images.gith

[2018-07-25 19:59] Fourdee commented on #818
@sapdemon

Hi,

Thanks for the report 👍

I'll run a local test here, see if we can replicate.

Would it also be possible for you to upload the edited ```dietpi.txt``` file used? **Please remove any WiFi keys before hand.**

Note to self, HW_ID has existed for some time:
https://github.com/Fourdee/DietPi/blob/3a5db8ab0d614fc252a4777689ac9d1b9ae38975/dietpi/func/dietpi-obtain_hw_model#L376-L384

[2018-07-25 20:25] Fourdee commented on #1962
@antonellocaroli

Hi,

Thanks for the info and request 👍

I am aware of the ```isolcpus=X``` option, have tried it in the past, can benefit audio systems.
However, the issue from our end is that not all systems support kernel boot options on the fly, and, they vary per device.
So from a DietPi point, its nothing something we can implement across all systems.

This is also very advanced, and I beli

[2018-07-25 20:25] #1962 closed, assigned to nobody

[2018-07-25 20:42] Fourdee commented on #1959
@Roxas72

Thanks for the info 👍

This is the old install location, as of v6.12 its changed to:
[code]

So we probably assume from this that the update which failed on your device (pre/during dietpi-software reinstall), is the cause.

#### Ok, probably the best thing to do is simply rerun the update. If any errors occurs, please paste them in your next post so we can review/check.
[code]

[2018-07-25 20:52] Fourdee commented on #818
🈯️ Unable to replicate any issues with WiFi enable in ```dietpi.txt``` on RPi Zero W, id of ```9000c1```.

```dmesg``` output
[code]

@sapdemon

Same as below, could be firmware related:
https://github.com/raspberrypi/linux/issues/2274#issue-274863888

Please answer:
- DietPi image version used (once you extract the image, it should contain a v6.X)?
- Paste results of ```ls -lha /lib/firmware/brcm

[2018-07-25 20:57] Fourdee commented on #1829
Yep, please, would be great, I can test 👍

Not that I can remember. If we have issues with onboard WiFi during image creation/testing, we always make a note of it in the ticket.
Either way, if I get a chance/time, i'll re-test and verify the FriendlyARM image.

[2018-07-25 21:07] Fourdee commented on #1955
@stevejenkins

Strange, it may be a kernel related issue. We'll need to do some investigations and further testing when possible.

[2018-07-25 21:38] Roxas72 commented on #1959
@Fourdee
Thank you very much, the update solved the problem!!
I know it was an easy issue but you guys were really helpful, I appreciate it!
Keep up the good work, DietPi is definitely the best os I've ever tried on my RPI!

[2018-07-25 21:42] carlosedp commented on #1829
I've built the kernel with wlan driver from FriendlyARM tree: https://we.tl/4Ku7XBOpRD

[2018-07-25 21:44] Fourdee commented on #1874
Completed, available in DietPi v6.13 (ETA: 1 week)

[2018-07-25 21:44] #1874 closed, assigned to Fourdee

[2018-07-25 21:45] Fourdee commented on #1959
Excellent, great to hear 👍

I'll mark this as resolved.

[2018-07-25 21:45] #1959 closed, assigned to Fourdee, MichaIng

[2018-07-25 22:11] stevejenkins commented on #1955
Sounds good. This isn't a mission-critical device for me. I built it as a mobile network speed tester (that's why I went ODROID instead of RPi to get a true GigE Ethernet adapter), and wanted to be able to connect to it wirelessly and run the tests from a tablet. So I'm happy to install any additional drivers, kernel versions, or alpha DietPi bits to get to the bottom of it. Thanks!

[2018-07-25 22:27] Fourdee commented on #1768
Considering scrapping the "Our rating" item. Leave the "Performance rating in". Its near impossible to gauge our thoughts for all software in a general rating, however, we can do performance based on how it runs, and, the sourcecode language used.

[2018-07-26 08:02] testbird commented on #1778
I'd actually like the curl installer to allow "frugal"? installs on **any** preexisting and externally managed debian installation.

The LAMP and system settings would have to be checked and adjusted in a finer grained way, when there is no modular `conf.d` directory available.

May something like a "nc-provisioning-service" work?:

A script that:

* Makes completed ncp installs detectable by movi

[2018-07-26 08:48] testbird commented on #1778
Well, maybe in the end above "nc-provisioning-service" could get installed with a .deb package.

install_script lamp.sh
install_script nc-nextcloud.sh           # install Postfix and Redis
install_script ncp.sh                    # install all NCP extras
   **->** debian package with package dependencies that installs the nc-provisioning-service script

activate_script nc-nextcloud.sh          # i

[2018-07-26 10:29] sapdemon commented on #818
Hi
[dietpi.txt](https://github.com/Fourdee/DietPi/files/2231294/dietpi.txt)

Img file name: DietPi_v6.8_RPi-ARMv6-Stretch.img
Paste results of ls -lha /lib/firmware/brcm - added screen
Any changes made to config.txt? - NO

I`ve added new photo with PSU and SD card
https://photos.app.goo.gl/cep8dL2DoyrzMizX6

[2018-07-26 10:52] nachoparker commented on #1778
hi @testbird .

I don't think I understand the point of this new script. I think that if possible, it would be nice to enhance the current scripts (lamp.sh specially) to

- be more modular, by creating `conf.d`files instead of modifying the global configuration files
- try to minimize changes, because of the fact that it won't be the only thing installed in the system necessarily anymore
- try to

[2018-07-26 11:47] amk221 commented on #1620
I am running a fresh install of 6.11, and then ran `dietpi-update` to 6.12 on an allo digione
and getting:

[code]
If I enable it, it disables it self again.
(I did it this way because there is no download available for 6.12 Allo web gui image)

[2018-07-26 12:11] amk221 commented on #1960
I got this failure today, re-running `dietpi-update` says the update worked ok, (6.11 -> 6.12), even though the above failed.

How can I run `dietpi-update` to re-attempt this, if it thinks everything ok?

[2018-07-26 12:17] testbird commented on #1778
Hi,
the reason I thought of a new "script" may just be that I may not have understood completely the reasons for the way you had split things up currently.

The idea was just wrapping things into some (service?) file that is started on boot to check the configs and starts watching for changes. (May just call the scripts as split up currently.)

Do you think this would solve your points 2-4?:

Each

[2018-07-26 12:18] testbird commented on #1778
How would you control skipping the rest of NCP software, for now?

[2018-07-26 13:34] MichaIng commented on #1935
I mark this as closed, as initial issue is answered/solved. Please reopen, if required.

[2018-07-26 13:34] #1935 closed, assigned to nobody

[2018-07-26 13:52] johnnyasantoss opened #1963 "Support for BananaPI M1?"
#### Details:
- Date           | Thu 26 Jul 10:16:17 -03 2018
- Bug report     | N/A
- DietPi version | n/a
- Img creator    | n/a
- Pre-image      | n/a
- SBC device     | BananaPI M1 (index=53)
- Kernel version | # 9 SMP PREEMPT Sat May 6 12:20:11 UTC 2017
- Distro         | jessie (index=3)
- Command        | systemctl daemon-reload
- Exit code      | 127
- Software title | DietPi-PREP

#### St

[2018-07-26 13:53] MichaIng commented on #1960
@amk221
Very strange, I already read this somewhere else, that even in case of APT failure, the update went on, or at least the version string changed. I cannot replicate this. In case of APT error, at least here, a whiptail menu pops up, showing error details and offering retry or configure the APT mirrors, the script does not go on and the update (including version string) is not fully applied.

[2018-07-26 13:55] amk221 commented on #1960
Thanks for the detailed response

[2018-07-26 13:56] johnnyasantoss commented on #1963
[dpkg --get-selections output](https://pastebin.com/mZhQQQE2)

[2018-07-26 14:34] MichaIng commented on #1963
@johnnyasantoss
Ui, a pure SysV Init image, even lacking it within APT repo. Must be a very old one? Where did you download the Debian image from and which Debian version is it?

In those cases the APT sources need to be updated first to allow installing SystemD.

@Fourdee
As we had this already one time, I think we should handle systemd-less images somehow:
- Without systemd available, exit scrip

[2018-07-26 15:02] johnnyasantoss commented on #1963
@MichaIng I know that bananian is 3yr+ old but It uses Debian (jessie) apt sources as its default. I'm from Brazil and I've tried using every (working) source near me (from https://www.debian.org/mirror/list), still no luck trying to find `systemd-sysv` in my system.

I'll flash another linux distro into my sd card later today, hope I find anything _newer_ than this one.

[2018-07-26 15:04] johnnyasantoss commented on #1963
btw: I thought that DietPi would "fix" my apt repos in order to find `systemd-sysv`.
PS: I'm new to SBCs.

[2018-07-26 16:27] MichaIng commented on #1778
@testbird @nachoparker
Sorry also from my side to leave this issue unanswered for such a long time. Actually I got the impression, that really the approaches and initial aims (that formed how both projects install and configure on the system) are too different to easily merge in some way. And limited time made me concentrate on other topics. But I still find this interesting, also as a learning pr

[2018-07-26 17:08] userdeveloper98 commented on #1827
@MichaIng  @Fourdee
I need your feedback on this: https://files.fm/u/wpvsdrc5
This is another draft that comes with a set of survey samples.
You can repoint via properties file to the real folder and check if it is parsing properly the files.
**Parsing is generic**, you can adjust the template to parse **any text file**.
So that changing in future file structure will not require code changes.
Let

[2018-07-26 18:20] testbird commented on #1778
Very nice thing to share, too bad you said "All mine!" :D :-)

Sounds very reasonable, a more generic depenency on "php" in NCP would allow installing on stable, testing and unstable, even if initially not supported and working yet, it will allow users to test and fix things.

[2018-07-26 18:47] Fourdee commented on #1963
@MichaIng

Yep agree 👍

```systemctl``` is installed via the ```systemd``` main package:
https://packages.debian.org/jessie/armhf/systemd/filelist

I'll make systemd package a pre-req to PREP.

@johnnyasantoss

Simply installing systemd might resolve this (or at least give us more errors we can look into)
[code]

It will do this, however, only after globals are loaded, and user select of target bo

[2018-07-26 19:03] testbird commented on #1778
@nachoparker ~~Maybe could you introduce a frugal install detection mechanism (not ncp-build?, not armbian?) and a option to install.sh that causes only the basic things to get installed.~~

@MichaIng Maybe could you add the backup creation to G_CONFIG_INJECT() in a way that allows it to also be used in https://github.com/nextcloud/nextcloudpi/blob/master/etc/library.sh (to only make a check first

[2018-07-26 19:05] johnnyasantoss commented on #1963
I've tried to install `systemd` and `systemd-sysv` none of them were listed on my sources. I'm formatting my sd card again and now I'll install a more updated distro.

[2018-07-26 19:13] MichaIng commented on #1963
@johnnyasantoss
At least we can see, if the repo then is the only issue. Try:
[code]

Ah hmm I overread that you actually added a repo from https://www.debian.org/mirror/list ? Hmm then systemd should be definitely available. Did you add the repo as above? Does `apt-get update` show any error messages?

[2018-07-26 19:21] johnnyasantoss commented on #1963
@MichaIng No, it didn't show any messages, it was only showing a message that other packages already have a dependency in systemd but it wasn't found.
I can reinstall that distro and try again just for the sake of you guys know what was happening.

[2018-07-26 19:32] testbird commented on #1778
Maybe using a non-spooling, ram-only forwarder is all that is needed to send out notifications. (Not sure msmtp, esmtp, or ssmtp?)

Edit: May require storing smtp login on the device?

[2018-07-26 20:00] johnnyasantoss commented on #1963
I have reinstalled Bananian Linux and ran the command that @MichaIng asked.

This is the output:
[code]

[2018-07-26 20:01] johnnyasantoss commented on #1963
[code]

[2018-07-26 20:02] johnnyasantoss commented on #1963
I'll now try to use a different Debian flavor(? I don't know what Bananian should be called)

[2018-07-26 20:31] Fourdee commented on #1827
Notes:
[code]

@userdeveloper98

Good progress 👍 Scraping seems to work well.

Not sure if you can use custom fonts with Java? But if you can, the font DietPi logo is based on is:
https://cooltext.com/Download-Font-Michroma

Might work well for the UI?

---

In regards to the "Devices and installed versions barchart". Personally, i'd simplify this and have only "Install count per device"?

In the

[2018-07-26 20:36] Fourdee commented on #818
@sapdemon

Thanks, firmware looks good, so that is not the issue.
PSU/SD fine.

Appears to be some solder burn: https://photos.app.goo.gl/VvTiuwX9FUfJzT9XA May of caused a hardware failure on the board.
To verify this, do you experience the same issue with official Raspbian Images?

[2018-07-26 21:03] Fourdee commented on #1285
Note:
Dev/Testing branch currently has issues (globals?):
- Fixed with: https://github.com/Fourdee/DietPi/commit/36111dcc1d3ee3bb189ac4527b370a937405c6eb
![image](https://user-images.githubusercontent.com/7077026/43288415-a96fd210-911f-11e8-915d-eafe204b0923.png)

Seems fine here:
[code]

Not here:
[code]

``` DietPi-Set_software``` always reporting ```G_HW_MODEL=0``` during debug.

Due to these c

[2018-07-26 21:05] MichaIng commented on #1285
@Fourdee
I guess this is related: https://github.com/Fourdee/DietPi/issues/1960

Wait... Raspbian on Rock64?

[2018-07-26 21:20] Fourdee commented on #1285
@MichaIng

😉 🤣 👍

Yep, issues with globals script changes:
Fixed with https://github.com/Fourdee/DietPi/commit/36111dcc1d3ee3bb189ac4527b370a937405c6eb

[2018-07-26 21:22] Fourdee commented on #1812
- Command        | G_AGI: linux-rockpro64 linux-rockpro64-package

[code]

[code]

Christ:
[code]

---

Pre-image default installed:
[code]

```linux-rockpro64``` should be all we need.

[2018-07-26 21:24] johnnyasantoss commented on #1963
Now I'm trying with Armbian and there's another problem. Is this a issue with [this](https://github.com/Fourdee/DietPi/blob/master/PREP_SYSTEM_FOR_DIETPI.sh#L878) line?
[code]

[2018-07-26 21:52] burgyman commented on #1892
@Fourdee new stable release from ayufan for Rock64
https://forum.pine64.org/showthread.php?tid=6309&pid=39292#pid39292
0.7.9 https://github.com/ayufan-rock64/linux-build/releases

[2018-07-26 22:58] burgyman commented on #1892
Steps to upgrade to latest stable

[code]

[code]

[code]

try to fix dependencies:
[code]

force overwrite:
[code]

no go after reboot:
[code]

trying with `flash-kernel`:
[code]

still nothing after reboot:
[code]

copy files manually again as instructed before:
[code]

upgrade successful after reboot:
[code]

Issue with SD card was also automatically fixed, SD card is back :)
👍

[2018-07-27 00:13] Fourdee opened #1965 "NanoPC-T4 Patron Giveaway!"
## https://twitter.com/DietPi_/status/1022634156734509056

[2018-07-27 00:23] Fourdee commented on #1892
@burgyman

Currently finalizing an updated Rock64 image, with following fixes:
- Updated/correct rock64 APT packages installed (should resolve the APT based kernel update issue. The package names/deps required by ayufan have changed since our 1st image)
- Corrected ```fstab``` entries to ensure ```/boot/efi``` mount exists, preventing previous issues with manual/auto kernel updates.

Will do some

[2018-07-27 00:30] Fourdee commented on #1285
@MichaIng

You were right, ```systemd-sysv``` deps on ```systemd```, i've updated the pre-req in 1st post 👍

[2018-07-27 00:32] Fourdee commented on #1963
@johnnyasantoss

Strange, that should not be occurring.

Does it fully list the 80 packages for removal? There may be a ARMbian based package flagged for removal which is also flagging ```init systemd-sysv``` for removal.

[2018-07-27 00:41] Fourdee commented on #1892
Note to self:
- First run ```dietpi-software``` install of master branch
[code]
- 🈴 Reboot = no network, local/serial debugging required.
- serial
[code]

[code]

[2018-07-27 01:55] johnnyasantoss commented on #1963
Yep! after upgrading the package `apt` and running `apt autoremove -y --allow-remove-essentials` the script finished successfully! :tada:
Using base image `Armbian_5.38_Bananapipro_Debian_stretch_next_4.14.14.7z` to DietPi :1st_place_medal:

[2018-07-27 02:42] johnnyasantoss commented on #1963
Can I help someone with this image that I made?
Eg: upload it somewhere?

[2018-07-27 03:33] Neoderek commented on #1943
sorry for all this time whit not answer.

I resolved the problem. I unistall mariadb manually and i check the manager-drive options i see a option for read-only. 2 times fail to uncheck the option, but... at 3rd i change it and now i can install whitout problems nextcloud.

The problem was the hdd.

This is the actually fstab:

root@DietPi:~# cat /etc/fstab
#---------------------------------------

[2018-07-27 07:57] sapdemon commented on #818
@Fourdee
Thx.
I will install official Raspbian Image in the next week and write here the result.

[2018-07-27 10:48] Lanneer487 opened #1966 "PSU | External harddrive disconnect automatically"
My external harddrive can be disconnected automatically after a various time. In drive_manager it is visible but not accessible by /mnt/...

[2018-07-27 13:20] MichaIng commented on #1960
Issue solved here. I will close.

[2018-07-27 13:20] #1960 closed, assigned to nobody

[2018-07-27 13:29] MichaIng commented on #1159
I think this is obsolete, no wrong warning any more that I can find. Will close.

[2018-07-27 13:29] #1159 closed, assigned to nobody

[2018-07-27 13:34] MichaIng commented on #1293
Sorry that this bug report was never answered. However I guess the issue is solved or obsolete and mark it as closed. Feel free to reopen, if required.

[2018-07-27 13:34] #1293 closed, assigned to nobody

[2018-07-27 13:34] testbird commented on #1778
I guess the status that some service or setting was already found (preinstalled) initally will have to get saved, to later skip any corresponding updates.

Is there some specific way you would imagine this to work? Append lines naming preinstalled or external options to some file?

[2018-07-27 13:36] MichaIng commented on #1390
@kevinshane
Sorry that this issue was forgotten, are the mem stats still missing with current DietPi + Docker?

@Fourdee
Docker online docs are still missing: https://dietpi.com/phpbb/viewtopic.php?f=8&t=5&start=110#p9120

[2018-07-27 13:38] MichaIng commented on #1524
I mark this as closed. We hope for soon Pi-hole FTLDNS release which will re-enable Jessie support, AFAWK.

Let's collect Pi-hole related discussion here: https://github.com/Fourdee/DietPi/issues/1696
We will retest and rework our installer after mentioned release.

[2018-07-27 13:38] #1524 closed, assigned to Fourdee

[2018-07-27 13:40] MichaIng commented on #1943
@Neoderek
Great to here, thanks for the feedback. I mark this issue as closed. Feel free to reopen, if there are further questions/problems.

[2018-07-27 13:40] #1943 closed, assigned to nobody

[2018-07-27 13:43] MichaIng commented on #1941
I will mark this as closed. @camelreef Thanks again for reporting, I guess this saved many others from running to the same issue 👍.

[2018-07-27 13:43] #1941 closed, assigned to MichaIng

[2018-07-27 13:45] MichaIng commented on #1925
I will mark this as closed, guess time solved the issue, as we watched other RaspberryPi repo issues the last days which are resolved now.

Feel free to reopen, if required.

[2018-07-27 13:45] #1925 closed, assigned to nobody

[2018-07-27 13:51] MichaIng commented on #1801
I mark this as closed. Implementation done via:
- https://github.com/Fourdee/DietPi/pull/1906
- https://github.com/Fourdee/DietPi/pull/1945
- https://github.com/Fourdee/DietPi/pull/1961

Further implementation into all scripts, that produce tmp files, can be done, but the most urgent ones are covered.

[2018-07-27 13:51] #1801 closed, assigned to MichaIng

[2018-07-27 14:46] Hax4us commented on #1760
@fourdee thnx for your all work and now I have armbian in my tinker and there is no WiFi issue
But I have one doubt , can abnormal (sudden) shutdown be a culprit ?
Abnormal shutdown can arise any problem for WiFi ?

[2018-07-27 18:09] carlosedp commented on #1829
@Fourdee any news? I believe the download expires in 1 week.

[2018-07-27 21:22] Fourdee commented on #1892
eth lacks ipv4:
[code]
- ```state UNKNOWN``` will fail our ```state UP``` detection for network info.
- ~Bug in kernel/driver for eth? Or,~ issue our end with PREP
- pre-image
[code]
- our firmware install breaks existing nic?
[code]

---

[code]

[2018-07-27 21:54] Fourdee commented on #1812
stretch-minimal-rockpro64-0.7.9-1067-arm64.img
- Login with ```rock64```
- reboot system
- 🈴 Kernel dump and mmc failure
[code]

[2018-07-27 21:56] Fourdee commented on #1892
- Possible same issue with: https://github.com/Fourdee/DietPi/issues/1812#issuecomment-408547991?

[2018-07-27 22:07] Fourdee commented on #1620
@amk221

Hi,

Thanks for the report 👍

ult": Invalid argument

Please change the bitrate to 32bit:
- ```nano /usr/local/etc/shairport-sync.conf```
- Replace this line ```//  output_format = "S16";```
- With this ```output_format = "S32";```
- Save changes CTRL+X, Y, ENTER
- Restart services ```dietpi-services restart```

The reason for this, when we reinstall/update applications the default applie

[2018-07-27 22:43] Fourdee commented on #1966
@roelfoubert

Its most likely one of the following:
- The drive is failing
- The USB device is not getting enough power

Please can you confirm:
- SBC device (eg: RPi Zero)
- PSU used (eg 5v/1a)
- USB drive used, and, does it have its own PSU?

[2018-07-27 22:45] Fourdee commented on #1963
@johnnyasantoss

Good stuff, glad to hear its all working now 👍

Eg: upload it somewhere?

We will not host ARMbian images (of any kind) on the DietPi servers. Apologies. You'll need to host it on your own site/server.
Regardless, kind of you to offer this image to others 👍

I'll mark this as closed as the issue is now resolved.

[2018-07-27 22:45] #1963 closed, assigned to nobody

[2018-07-27 22:47] Fourdee commented on #1829
@carlosedp

Checking it out now 👍

Appears same issue with WiFi:
[code]

And CIFS missing:
[code]

[2018-07-27 23:22] Fourdee opened #1967 "DietPi-Software | Shellinabox: Shell via browser"
- Install by default on Allo GUI images
- Install by default on all DietPi images?
[code]
<img width="960" alt="1" src="https://user-images.githubusercontent.com/7077026/43350071-433ceacc-91fc-11e8-9b3f-49cd831e7a62.png">

![image](https://user-images.githubusercontent.com/7077026/43350072-45a256c6-91fc-11e8-85a1-c33216019389.png)

Vote for it on FeatHub: https://feathub.com/MichaIng/DietPi/+25

[2018-07-27 23:24] Fourdee commented on #1967
[code]

[2018-07-27 23:29] johnnyasantoss commented on #1963
Awesome! I'll write about this in my blog. Thanks for helping me out!

[2018-07-27 23:33] Fourdee commented on #1829
@carlosedp

I believe we should use your updated kernel/modules:
- Make users aware of the intermittent WiFi scan issue
- CIFS is more critical in my eyes, than WiFi.

Thoughts?

[2018-07-27 23:46] carlosedp commented on #1829
I could check the CIFS problem but since WiFi is having the same behaviour, I'd keep the original driver from the Kernel instead of the driver from the other tree. The previous files I've sent.

Good to go but keep both images available, the one you already have and this one with newer Kernel and the modules that have been enabled.

GTG for me since it's running well on my board that is a Kubernet

[2018-07-28 02:23] ftokc opened #1968 "DietPi-Survey | Failed connection test causes UI blocking"
#### Details:
- Date           | Sat 28 Jul 03:14:40 BST 2018
- Bug report     | N/A
- DietPi version | v6.12
- Img creator    | DietPi Core Team
- Pre-image      | Raspbian Lite
- SBC device     | RPi 3 Model B+ (armv7l) (index=3)
- Kernel version | #1123 SMP Wed Jun 27 17:35:49 BST 2018
- Distro         | stretch (index=4)
- Command        | Connection test: dietpi.com
- Exit code      | 4
- Sof

[2018-07-28 08:59] msongz opened #1969 "official .img version"
how often does the official .img update?
I download the raspberry pi offical img, but it still v6.8

[2018-07-28 10:13] userdeveloper98 commented on #1827
@Fourdee
Thanks for the feedback.
New version released: [[link](https://files.fm/u/5hp326jq)]
- Added Michroma font for the title, for everything else, applied Roboto as on dietpi.com
- Removed UUID column
- Fixed CPU Arch dropdown filter
- Added favicon for the page
- Added Dietpi logo on to of the page
- Changed slightly background color

[2018-07-28 12:51] Lanneer487 commented on #1966
I use a raspberry pi 3 with a powersupply of 5V/2.4A
I have 3 drives connected. 2 normal usb drives and one external harddrive. Non of them with own PSU

[2018-07-28 14:58] MichaIng commented on #1688
### Testing

#### Jessie
- By default, without any settings, `[0-3].debian.pool.ntp.org` is used.
- No `timesyncd.conf` documentation: https://manpages.debian.org/stretch/systemd/timesyncd.conf.5.en.html
- No hint for config file on service man page: https://manpages.debian.org/jessie/systemd/systemd-timesyncd.service.8.en.html
- 🈯️ Undocumented `Servers=` setting works
- 🈴 `NTP=` and `FallbackNTP

[2018-07-28 15:15] MichaIng commented on #1969
@msongz
We have no fix image update schedule. We update on demand or in combination with anyway done creation for testing.

But this has no effect on which version you will have after first run setup, since update to current version is done automatically via incremental patching.

[2018-07-28 15:29] MichaIng commented on #1968
@ftokc
Works well here, I guess it was a temporary connection issue.

@Fourdee
Shall we check URL on `/DietPi/dietpi/dietpi-survey 1` silently (`G_USER_INPUTS=0 G_RUN_CMD_INFO_ONLY=1 G_CHECK_URL dietpi.com && echo yes || echo no` works well for this)? Survey should not bother user at all, if not interactively started.

[2018-07-28 15:32] testbird commented on #1778
I have made some things optional in the https://github.com/testbird/nextcloudpi/ branch, and **after** php-redis is installed manually from sid (because it is currently not available in buster) the installer is now able to run through in the freedombox debian-testing image. (https://ftp.freedombox.org/pub/freedombox/testing-latest/freedombox-testing-free_latest_all-amd64.vdi.xz)

To test the adapt

[2018-07-28 19:19] Fourdee commented on #1966
@roelfoubert

I have 3 drives connected. 2 normal usb drives and one external harddrive. Non of them with own PSU

Might be slightly over the available 1.2A max shared across all USB ports.

To verify power is the issue, when the system has been running for a few hours, check the following command for any voltage issues:
[code]

and
[code]

Ideally, a powered USB hub (at least 2A) is recommended f

[2018-07-28 19:50] Fourdee commented on #1968
@MichaIng

There is already some info checks after curl command:
[code]

But yeah, I'll add your changes to the script 👍

[2018-07-28 20:03] Fourdee commented on #1968
🈯️
[code]

I'll mark this as completed, with temp net issue experienced by @ftokc

@ftokc
If problems persist, please reopen this ticket and we'll investigate.

[2018-07-28 20:03] #1968 closed, assigned to Fourdee, MichaIng

[2018-07-28 20:37] Fourdee commented on #1829
@carlosedp

I'll do some more tests on the WiFi pre-friendlyARM WiFi driver:
Aside from the intermittent scan failures, if the Wifi is fully functional once connected + reboots, i'll mark this is a known issue on the device, and, set this new image live.

[2018-07-28 21:20] Fourdee commented on #1827
@userdeveloper98

Nice progress 👍

![image](https://user-images.githubusercontent.com/7077026/43360716-98d7b6ee-92b3-11e8-8e0d-78bc7c24041f.png)

Some issues/feedback if needed:
- CPU arch selection has incorrect results for me
![image](https://user-images.githubusercontent.com/7077026/43360722-bab9d1b6-92b3-11e8-9701-5230ce160c20.png)
- On the main barchart for "devices and installed version". I

[2018-07-28 21:34] Lanneer487 commented on #1966
This is the info:
root@RaspberryPi:~# dmesg | grep volt
[   33.271502] Under-voltage detected! (0x00050000)
[   39.511627] Under-voltage detected! (0x00050005)
[   54.071520] Under-voltage detected! (0x00050005)
[ 2186.072408] Under-voltage detected! (0x00050005)
[ 3184.471604] Under-voltage detected! (0x00050005)
[ 3217.751806] Under-voltage detected! (0x00050005)
[ 3261.431646] Under-voltage det

[2018-07-28 22:08] MichaIng commented on #1967
@Fourdee
Nice, if one needs to access from many different clients and/or mobile, where not always SSH client is available. But for security reasons I would always prefer a real SSH client where possible. Also for this reason `--disable-ssl` should be never added? Standalone webserver included which needs SSL certificates? Perhaps we can add self-signed/snakeoil certs first and then handle it withi

[2018-07-28 22:24] Fourdee commented on #1967
@MichaIng

Yep.

Agree, lets make it a optional software title in ```dietpi-software```. Pre-installed for Allo GUI

[2018-07-28 22:29] Fourdee commented on #1966
@roelfoubert

Thanks, appears issue is caused by:
- Insufficient PSU, which is not providing stable 5V. Please use the official RPi PSU 5v/2.5A.

You also have filesystem issues (due to the above) on your drives. I'd highly recommend:
- Purchasing an official RPi PSU 5v/2.5A
- Writing a new DietPi image and starting from scratch
- Formatting all the drives prior to use

As this is a hardware issue

[2018-07-28 22:29] #1966 closed, assigned to Fourdee

[2018-07-29 04:24] msongz commented on #1969
thanks for your answer! very clear

[2018-07-29 04:24] #1969 closed, assigned to nobody

[2018-07-29 04:31] msongz opened #1971 "DietPi-Software | Seafile"
#### Give us some formal software information:
- Software title | seafile
- Short description | File syncing and sharing software with file encryption and group sharing, emphasis on reliability and high performance.
- GitHub URL (if available) | https://github.com/haiwen/seafile
- External URL (if available) | http://seafile.com/

[2018-07-29 04:43] msongz opened #1972 "echo -e"
test.sh :
[code]
and run
[code]
it will out put
[code]

am I do something wrong?

this command run in older version without any error

test.sh has no permission for executing.

if test.sh `chmod a+x`
and run
[code]
it runs as expected.

[2018-07-29 05:56] msongz commented on #1972
sorry
`bash test.sh` will works

[2018-07-29 05:57] #1972 closed, assigned to nobody

[2018-07-29 08:20] jjit opened #1973 "VirtualBox image dbus problem"
I'm using VirtualBox image to do some test
I find out that I can't power off the vm normally and I use "shutdown" command
it says "Failed to connect to bus: No such file or directory"
so I have to do a force shutdown by VirtualBox
I did some search, it seems that it's dbus problem
so I use "sudo apt-get install dbus"
now I can power off vm normally

[2018-07-29 10:23] MichaIng commented on #1973
@jjit
Thanks for your report.

Jep indeed, when using `shutdown` command only (which defaults to shutdown scheduled for 1 minute later) or with a defined time, `dbus` is needed . I usually use `shutdown now` or `poweroff`, which does not schedule shutdown, but does it immediately and does not need `dbus` then.

So yes, if you require to schedule shutdown after a certain time, then you need to inst

[2018-07-29 11:47] userdeveloper98 commented on #1827
Hi @Fourdee

- **Done**

(Seems like inside surveyFiles folder where another folder, while it was expected only files :disappointed: `on reading file [./data/surveyFiles/PaxHeader]. Cause:[java.io.IOException: Is a directory]` )
- **Fixed**

Can't find what it can be :cry:  Is this happening on provided samples or on real data?
(samples are generated absolutely random, so you may see for example t

[2018-07-29 14:01] MichaIng commented on #1688
Yeyyy, finally done: https://github.com/Fourdee/DietPi/pull/1974

This even allows to enter multiple custom mirrors (space-separated), and `*.pool.ntp.org` entries will be added with leading `[0-3].` automatically, the others will be left without. Automated local gateway detection, theoretically allowing multiple default gateways as well (if this can be even the case?), reworked explanations and r

[2018-07-29 14:14] MichaIng commented on #1787
Initial issue is solved, right? Drive manager detection and fs rewrite script have been reworked in between. DietPi-PREP now needs systemd(-sysv) as pre-requirement. Images which come without systemd, are either too old or too much customized from default Debian/Raspbian. We do not want to automatically apply an init system change, which thus in case needs to be applied by user first, before runni

[2018-07-29 14:14] #1787 closed, assigned to nobody

[2018-07-29 14:23] MichaIng commented on #1510
### Using or skipping single quotes
[code]
<details>
<summary>Multiple chars</summary>

[code]
</details>

Hard to see a difference, at least it is tiny. Theoretically quotes are only needed in case of spaces within string/value, but I think it is good practice to use use them, single quotes, if $ should be expended, single quotes otherwise/to explicitly take everything literally.

[2018-07-29 14:38] MichaIng commented on #1933
GitHub issue opened: https://github.com/nextcloud/desktop/issues/514

[2018-07-29 14:40] OakGravy opened #1975 "DietPi-Software | ZNC IRC Bouncer"
ZNC IRC Bouncer
https://wiki.znc.in/ZNC
https://wiki.znc.in/Installation

First time using DietPi and I must say its fantastic on my Odroid HC1, though quite surprised ZNC isnt already among the software available in "DietPi-Software" as it is relatively simple to install manually and set up a znc user to run it, perhaps this is why it's not in the list? In any case I think it would be a nice addi

[2018-07-29 15:50] MichaIng commented on #1767
PR is up: https://github.com/Fourdee/DietPi/pull/1976

PR merged, will close here, bugfix within PR.

[2018-07-29 15:52] Roxas72 opened #1977 "Software Support | NZBGet"
Guys hello again,
here's another easy problem for you: I've just installed NZBGet via the dietpi-software center, and when i'm trying to login with the credentials reported in the forum (admin/root + dietpi) it doesn't work. How's this possible? Where is the config file to change them?
Thank you in advance!

[2018-07-29 15:55] #1977 closed, assigned to nobody

[2018-07-30 00:39] msongz opened #1979 "backup dietpi system as a .img file"
so far the dietpi-backup will create a data folder for restore.
I will prefer it could create a .img file and I can copy it out and restore to SD cards with etcher tools.

[2018-07-30 21:59] Fourdee commented on #1979
@msongz

Hi,

Thanks for the suggestion. 👍

Love the idea, but its not possible on a live rootFS system.

The solution is to use a program such as win32diskimager (or linux ```dd```) and ```read``` the SD card to image file.

[2018-07-31 00:45] msongz commented on #1979
I am finding the best backup solution.
now I am using a card reader, read the sd card on Mac or Linux, and `dd` it out.
but the .img file was so large, the size depends on my sd card capacity.
and I using https://github.com/Drewsif/PiShrink to shrink down the size, for example, 7GB -> 2GB
but it is a boring job.
has not found a better way.
 :(

[2018-07-31 08:24] MichaIng commented on #1818
I am working on it. At least for testing/debug reasons it contains more code than I planned 🤣: https://github.com/Fourdee/DietPi/pull/1978

@enwi
Did the guide actually work as expected for you, something to take care about?
I have no Odroid to test, hope it is the same for all Odroids (whether they have native fan support by case or not).
I doubt that this is the same for all SBCs and x86_64. Rou

[2018-07-31 11:30] MichaIng commented on #1979
@msongz
You can reduce the image size manually from the linux system, before running dd via `zerofree` package.
[code]
This will fill empty space with zeros. I think the tool you used does nothing different.

But note that this are much writes to the SDcard, which you usually want to avoid to not reduce life time. I am not sure if zerofree can also be applied to the already created .img to keep th

[2018-07-31 13:28] enwi commented on #1818
@MichaIng
On the HC1 and HC2 you can mount a fan to the metal extrusion. The XU4 either comes with a fan mounted or with a larger heatsink. All other Odroids except C0 have a heatsink where you can probably attach a fan afaik.

Also  with that I meant that there is no way you can connect any cable to the board to control the fan since it only has a connection for a serial interface and a battery.

[2018-07-31 14:37] MichaIng commented on #1818
@enwi
Many thanks for the infos.
Ah, so you do not control your fan in this case, leaving it at static (max) speed?

Just checked. Yeah, I thought XU4/HC1/HC2 are exactly the same, but the board layout/features are not.
XU4 comes with separate fan connector, HC1/2 do not. There is a similar connector, but that's the RTC backup battery 😉.
For other boards, there are USB fans offered. Needs check ho

[2018-07-31 18:31] Jester1979ve opened #1980 "V6.12 update on Arm 71 error"
Hello dears, below issue about updating dietpi V6.11 to 6.12
waitng your advices to solve the problem, Regards.

Vincenzp
#### Details:
- Date           | Sun 10 Jun 22:18:51 CEST 2018
- Bug report     | N/A
- DietPi version | v6.11
- Img creator    | n/a
- Pre-image      | n/a
- SBC device     | Sparky SBC (armv7l) (index=70)
- Kernel version | #22 SMP PREEMPT Fri Dec 22 10:45:41 IST 2017
- Distr

[2018-07-31 20:14] Fourdee commented on #1979
@msongz

I use this, requires a linux desktop, but allows to shrink a saved .img
Change these accordingly:
[code]

Script
[code]

[2018-07-31 20:18] Fourdee commented on #1980
@Jester1979ve

Thanks for the report 👍

Please try the following:
[code]

The above should automatically install ```libio-socket-ssl-perl```.

If successful, please re-run the DietPi-update
[code]

[2018-07-31 22:16] Fourdee commented on #1688
🈯️ https://github.com/Fourdee/DietPi/commit/7b5af9ee300534a774b2089c912b6b765e8493fb
We need to force check ntp sync during dietpi-config, eg: gateway
[code]

🈯️ Fixed below commit | I may of broke dietpi-config menu for this, working on it now.

[2018-07-31 23:05] Fourdee commented on #1688
@MichaIng

Great work, seems to work a treat 👍

Although I couldnt get gateway to work on my network (https://www.tp-link.com/uk/products/details/cat-9_Archer-C2.html), lacks local NTP server by looks of it.

[2018-08-01 00:36] Fourdee commented on #1829
Once connected, appears to run fine, will mark this as a known issue with WiFi and set new image live with @carlosedp kernel/modules.

@carlosedp

Please email me your address, I'll send you some DietPi stickers for your troubles 👍
daniel.knight@dietpi.com

[2018-08-01 00:40] Fourdee commented on #1829
Completed.

Great work and thanks again for contributing this to DietPi @carlosedp 👍

[2018-08-01 00:40] #1829 closed, assigned to Fourdee

[2018-08-01 01:05] Fourdee commented on #1768
I've set this live. Its around 85% completed:
https://dietpi.com/dietpi-software.html

However, all software logos are now in, and links to their full info.

I'll finish off the rest, as/when I can.

![image](https://user-images.githubusercontent.com/7077026/43495341-7bf7b5b4-952f-11e8-801e-1e334e2f33ca.png)

[2018-08-01 01:44] msongz commented on #1979
@Fourdee nice script!
but unfortunately, I did not have a Linux desktop to test.
thanks you so much~
hope dietpi-backup will support backup .img file in the future.

[2018-08-01 05:43] enwi commented on #1818
@MichaIng
That's correct, the fan has two speed settings that can be selected with a switch and it is running at the low setting, which is plenty to cool the HC1.

[2018-08-01 07:24] IvanCaregnato commented on #1829
hi guys, is HDMI CEC already implemented in this image?

[2018-08-01 10:03] sarsw commented on #1753
Did anyone see a new DietPi VirtualBox image? I downloaded 6.4 a couple of days ago from DietPi and it fails to update. Well, actually dietpi-update eventually said I'm on 6.12 but there were lots of errors to acknowledge along the way, like the screen shots above. "apt-get install screen" fails so I think the update is not right either.  I also tried the VMware DietPi image but VMware Player 12.x

[2018-08-01 14:54] carlosedp commented on #1829
Good to know @Fourdee , happy to contribute to the project!

I also created the package for the Firefly RK3399 and been using it for a while. Same Kernel, Firefly DTBs and DietPi rootfs. I can upload it in case you want to put on a different issue (like this) so people could test it.

[2018-08-01 15:59] userdeveloper98 commented on #1827
[v 1.0.0](https://files.fm/u/q36jxqg6) Should be ready to be deployed as it is, next iteration will be minor performance optimizations.
New features:
- Automatically update records on file change
    - on survey file update, will reload and update the table and chart automatically
    - on softwareList.properties update, will restart and rebuild all database
- UI Improvements (UI block, new tab tr

[2018-08-01 16:28] nachoparker commented on #1778
### nginx

One of the reasons why I use Apache is because of mod_security. This is harder to install in nginx. I definitely don't have the manpower for supporting three different LAMP stacks, but if I had more help it would be doable. For the same reason, I only support Stretch, and again if there was someone adapting the system to Jessie I would gladly merge that.

### HTTPS

In the days of insec

[2018-08-01 23:05] Fourdee commented on #1827
@userdeveloper98

Nice one, good progress 👍

Some feedback from my end:
- What does the ```,``` and the additional number mean in this. Is it a total of ```3```?
![image](https://user-images.githubusercontent.com/7077026/43553421-ce48b680-95e6-11e8-9828-2ac4f56fe159.png)
- "Device install count", would be great if this could be automatically ordered descending? EG: Highest install count devices at

[2018-08-02 00:31] Fourdee commented on #1829
@carlosedp

By all means, please do. If you create a new ticket with the info/download links, we can flag is as Info/testing required.

I've sent an email to Firefly requesting a dev sample board. They have 775 in stock and a $150 price tag for the lowest model + import taxes (not cheap).

[2018-08-02 01:21] nachoparker commented on #1778
BTW: feel free to join our Telegram group, it's quite active and we share feedback and ideas.

https://t.me/NextCloudPi

[2018-08-02 06:47] Jester1979ve commented on #1980
Hello,

I tried has you explained above but still NTP issue.
I attached picture with issue shown.
waiting Your feedback.
Regards

![photo 1](https://user-images.githubusercontent.com/41968717/43566967-ca3ea0fc-961f-11e8-91b8-29b18e56d2e5.jpg)

[2018-08-02 10:32] mrwhy-orig opened #1983 "Chromium custom.sh is using only half display"
Required Information:
     RPi 3
    DietPi version | 6.12

Additional Information (if applicable):

    Software title | Chromium Kiosk
    DietPi 6.12

Steps to reproduce:
Activate Chromium custom.sh in Autostart options

Expected behaviour:
Open Chromium at startup in full screen kiosk mode.
Actual behaviour:
Chromium is opening in windowed mode. Half screen.

Extra details:

If I log in with r

[2018-08-02 12:35] userdeveloper98 commented on #1827
@MichaIng
[v1.0.1](https://files.fm/u/8mqrutu9)
- Fixed toolTip, instead of `3,21` it will show `Count: 3`
- Device install count is now sorted (Highest install count devices at the top)
- Fixed alignment issues. Now charts are responsive to screen size.
- Chart tick labels are now almost white :smiley:  `#D2D2D2`. Looks nicer.
- Changed the font and colors of chart titles. (Michroma, `#C2DE60`)

[2018-08-02 14:12] MichaIng commented on #1980
@Jester1979ve

Ah okay network time sync fails in your case, which can be an explanation for a lot of errors, especially when it comes to SSL/HTTPS connections.

Please try the following:
[code]

If this somehow does not work, there would be something wrong with your internet connection. But you could also try to use your local router as NTP server. In this case open `/etc/systemd/timesyncd.conf`

[2018-08-02 14:26] nnovaes opened #1984 "custom filter not honored when running backup with dietpi-backup"
## Creating a bug report/issue:

#### Required Information:
- DietPi version	| 6.12
- Distro version	| stretch
- Kernel version	| Linux DietPi 4.9.0-6-amd64 #1 SMP Debian 4.9.88-1+deb9u1 (2018-05-07) x86_64 GNU/Linux
- SBC device		| `Virtual Machine (x86_64)
- Power supply used	| N/A
- SDcard used		| none

#### Additional Information (if applicable):
- Software title	| dietpi-backup
- Was the soft

[2018-08-02 14:26] MichaIng commented on #1979
@msongz
As explained, you can never create a real .img file from within the running system. A disk image means, that the raw physical disk content (inodes, free space, ...) is part by part copied and written into the .img. On a running system, there will be always changes. Imagine some background job adds a log entry to the disk. The related log file then is rewritten and by times moved from one p

[2018-08-02 14:43] nnovaes opened #1985 "Folding@Home"
## Creating a software request:

#### Give us some formal software information:
- Software title | Folding@Home
- Short description | _Folding@home (FAH or F@h) is a distributed computing project for disease research that simulates protein folding, computational drug design, and other types of molecular dynamics. As of today, the project is using the idle resources of personal computers owned by v

[2018-08-02 14:46] MichaIng commented on #1984
@nnovaes
Many thanks for your report.

Just tested:
[code]

DietPi-Backup was modified last on v6.10, thus my v6.13 testing image behaves the same.

Exlucing `- /mnt/dietpi_userdata/` (no subdir) is a special case which does not work, since it is explicitly included. And it seems the first (inclusion) entry wins in this case.

Could you paste the content of your `/DietPi/dietpi/.dietpi-backup_inc_

[2018-08-02 15:27] carlosedp opened #1986 "Image | Firefly RK3399"
### ADMIN EDIT
#### New SDcard Buster-based image available: **REMOVED AS NO SINGLE INSTALL FOR MONTHS**
- Flash to eMMC should work as well via adapter or directly when initially booting from SDcard.
_______________
I have build an image for Firefly RK3399 SBC based on the existing FriendlyARM NanoPC-T4 from [here](https://github.com/Fourdee/DietPi/issues/1829).

The image still has some NanoPC-T

[2018-08-02 15:34] MichaIng commented on #1902
### MongoDB
only officially provided for `amd64` devices:
https://docs.mongodb.com/manual/tutorial/install-mongodb-on-debian/
https://repo.mongodb.org/apt/debian/dists/stretch/mongodb-org/4.0/main/

Debian maintained package are available for `arm64` as well at least: https://packages.debian.org/de/stretch/mongodb-server

On Buster repo there are packages for all architectures, but would need test

[2018-08-02 15:49] MichaIng commented on #1688
Finished, will mark this as closed.

[2018-08-02 15:49] #1688 closed, assigned to MichaIng

[2018-08-02 16:03] MichaIng commented on #1510
### dpkg --get-selections vs. dpkg-query -s <package>
[code]
`dpkg-query -s <package>` is just slightly faster, but no `grep` needed to check for installed package. We should replace this.

[2018-08-02 16:34] Jester1979ve commented on #1980
Hello,

I tried first tre lines of commands
after the last one : /DietPi/dietpi/func/run_ntpd 1

It shows: Warning: systemd-timesyncd.service changed on disk. Run 'systemctl daemon-reload' to reload units.
[ INFO ] DietPi-Run_ntpd | NTPD: Waiting for completion of systemd-timesyncd (57/60)
Warning: systemd-timesyncd.service changed on disk. Run 'systemctl daemon-reload' to reload units.
[ INFO ] D

[2018-08-02 17:03] MichaIng opened #1987 "DietPi-Software | apt-fast: Add to software list and re-add support to G_AGI"
## Creating a feature request:
References:
- https://dietpi.com/phpbb/viewtopic.php?f=12&t=4308
- https://github.com/ilikenwf/apt-fast
- https://www.debinux.de/2014/01/apt-fast-debian/

#### Is your feature request related to a problem? Please describe:

- Not a problem, but via `apt-get` packages are generally downloaded one-by-one. When installing many packages with a single run, it could speed

[2018-08-02 17:13] MichaIng commented on #1980
@Jester1979ve
Please copy this to your terminal paste results (it takes 5 seconds waiting time in between):
[code]

[2018-08-02 17:23] MichaIng commented on #1987
Test on Stretch-VM:
[code]
I cancelled process directly after download fast finished. Indeed it takes longer. The amount of packages is the largest amount we can usually expect. Indeed before downloading there is a `working, please wait` message for quite a long time.
_______________
Test 2:
- Estimate fasted 10 mirrors via `netselect-apt` and add them to apt-fast configuration: `real    0m35.416s

[2018-08-02 17:56] nnovaes commented on #1984
root@DietPi:/# cat /DietPi/dietpi/.dietpi-backup_inc_exc
#DietPi-Backup | Custom include/exclude filters
#
#To INCLUDE (+) a file/folder:
#+ /location/to/my/file
#+ /location/to/my/directory/
#
#To EXCLUDE (-) a file/folder:
#- /location/to/my/file
#- /location/to/my/directory/

- /mnt/dietpi/dietpi_userdata/MoviesO/
- /mnt/dietpi/dietpi_userdata/TV/
- /mnt/dietpi/dietpi_userdata/Movies/

********

[2018-08-02 17:59] nnovaes commented on #1984
The contents of that file up to the lines i pasted are posted at [pastebin](https://pastebin.com/FSJAe2ja)

[2018-08-02 18:09] MichaIng commented on #1984
@nnovaes

Ah, did you move your data directory to `/mnt/dietpi/dietpi_userdata`?

As DietPi will leave a symlink at `/mnt/dietpi_userdata`, which is explicitly added to inclusion list (as /mnt parent is excluded), I guess it follows this symlink (usually it does not follow symlinks).

Please try to add `/mnt/dietpi_userdata/Movies/` etc to the list instead. `/mnt/dietpi/` will anyway never be copi

[2018-08-02 18:48] MichaIng commented on #816
Okay, had another look. Actually for DietPi-Backup from my point of view this doesn't make sense. Using raw rsync has many advantages according to speed, RAM usage, disk usage during process and overall read/writes to backup drive. For my impression there are rare cases where you really want to have your backups/files compressed, at least after rethink all the above. And the need to install and ha

[2018-08-02 18:48] #816 closed, assigned to Fourdee

[2018-08-02 19:31] MichaIng commented on #869
@Fourdee
Maybe it's time to compile a new version? Even Debian Stretch repo is some subversions further via security patches: https://packages.debian.org/stretch/ffmpeg

V4.0.2 available on Buster repo (for testing) and GitHub sources of course: https://github.com/FFmpeg/FFmpeg/releases

[2018-08-02 23:10] nnovaes commented on #1984
it does actually  work in the way you described and those directories were skipped

[2018-08-02 23:24] MichaIng commented on #1984
@nnovaes
Okay that's great. We will make this a bid clearer within the incl/excl file.

€: Commit added: https://github.com/Fourdee/DietPi/commit/1a6c8614ac5a0adc1e56fce3d0b746c7f327b102
I will mark this as closed. Please feel free to reopen, if required.

[2018-08-03 00:56] Fourdee commented on #1986
@carlosedp

Great work, thanks for creating and sharing this 👍

Yep, leave it with me. I lack the Firefly device, but, may try it on NanoPC-T4, you never know :)

[2018-08-03 01:25] msongz commented on #1979
@MichaIng man!  thanks for your detail explanation!
I am clear now and will do the backup using zerofree!

[2018-08-03 01:25] #1979 closed, assigned to nobody

[2018-08-03 03:38] carlosedp commented on #1986
Gonna update my initial comment with this link since it contains the modules and correct naming.

[2018-08-03 03:45] Fourdee commented on #1965
### Winner = https://twitter.com/DietPi_/status/1025225953759436800

[2018-08-03 03:45] #1965 closed, assigned to nobody

[2018-08-03 04:30] Fourdee commented on #1983
@mrwhy-orig

Hi,

Thanks for the report 👍

Lets clarify which autostart option is selected. Please paste results:
[code]

Ideally, when running Chromium under Kiosk, you should use the following from ```dietpi-autostart```
[code]

Please clarify if the above is selected.

[2018-08-03 04:43] Fourdee commented on #869
@MichaIng

Yep, agree.

Heres the old compile code I used, here for reference. I'll take a look at this when I can:
[code]

[2018-08-03 08:38] mrwhy-orig commented on #1983
@Fourdee

no i'm using the 14

with the following script:

`#!/bin/bash

url="http://mywebsite.local"
chromium_opts="--kiosk --ash-host-window-bounds='1920,1080' --test-type --start-maximized"
xinit /usr/bin/chromium-browser ${chromium_opts} ${url}
`

As long as I start it manually from shell it works perferctly fine. But if it is called at startup, chromium is displayed only on one half of the sc

[2018-08-03 09:37] msongz opened #1989 "feedbin"
#### Give us some formal software information:
- Software title | feedbin
- Short description | a rss reader with beautiful UI and UX !
- GitHub URL (if available) | https://github.com/feedbin/feedbin
- External URL (if available) | https://feedbin.com/
- (Official) install documentation | https://github.com/feedbin/feedbin#installation

[2018-08-03 12:25] MichaIng commented on #1989
@msongz
Thanks for your request.

I actually thought about adding [discourse](https://www.discourse.org/) to our software list, but the installations from my point of view and knowledge is a nightmare, as well with the need for ruby and many other dependencies to build.

`feedbin` also needs [ruby](https://www.ruby-lang.org/en/) and according to the instructions `a Rack compatible application serv

[2018-08-03 12:43] MichaIng commented on #1985
@nnovaes
Many thanks for your request. This is indeed an interesting project, if you have a server that is not constantly used, even if it's just at night. I am not sure how much it makes sense to run it on a RPi or similar SBC, but the larger ones and amd64 machines could be a help. Also having a 3D viewer makes it interesting. I will try it out on my VM,

Official packages are (I guess reasonabl