[2019-01-02 23:32] MichaIng commented on #2388
@SaturnusDJ
Thanks for sharing your suggestion.

Yeah if it's about me, I would move really all logging to systemd (I did on my system, where possible). It is by default on RAM, but can be as well (with custom rotation as desired) written permanently to disk. It is well sortable and you have full overview of what happened around certain events, instead of having the need to search several logs and

[2019-01-03 08:57] Fourdee commented on #2377
Local testing passed, however, issue with https://github.com/Fourdee/DietPi/issues/2378 still exists.

Completed.

[2019-01-03 08:57] #2377 closed, assigned to Fourdee, MichaIng

[2019-01-03 09:41] volpone commented on #2386
Perhaps the best way is to modify Allo Web Gui "DSD Native Output" UI dropdown selector and add a new DoP option:

**- Disabled:**: _unchanged (PCM output)_ -> No -D option
**- DoP** : _add this new option to allow DoP Output_ -> **-D :dop**
**- u8 | u16le | u16be | u32le | u32be** : _unchanged (native DSD output)_ -> -D :u8|u16le|u16be|u32le|u32be

**Change UI and help tool tip wording:**
"DSD Ou

[2019-01-03 10:02] Fourdee commented on #2386
@volpone

Hi many thanks for the report/request 👍

We'll open for investigations.

[2019-01-03 10:08] volpone commented on #2386
Thank's Dan,
IMHO **it is an important limitation to overcome** and not an additional "feature request".
DoP output is currently unavailable, and for a lot of users **DoP is the only way to feed DSD DACs.**
Native DSD output = "Disabled" option output PCM and not DoP DSD

[2019-01-03 10:46] Methroix commented on #2354
I'm facing the same issue.
To add to that, I was unable to reinstall mono since it wasn't installed in the first place.
When trying to install it using dietpi-software, I got pretty much the same result as when trying to run dietpi-update.

#### Details:
- Date           | Thu  3 Jan 10:19:12 CET 2019
- Bug report     | N/A
- DietPi version | v6.18.14 (Fourdee/master)
- Img creator    | n/a
- Pre-

[2019-01-03 12:17] Methroix commented on #2354
@pmwals09
Possible solution or at least workaround (requires root privileges):
1. (Optional) Remove any files in `/var/lib/dpkg/updates`.
This is where I started, but I don't know if it is required and I take no responsibility for any issues this may cause.
Use the command `rm` followed by the file name(s).
2. Run `apt-get update`.
3. Run `apt-get upgrade`.
This may take a long time to complete an

[2019-01-03 21:32] Elluminatus opened #2389 "Native PC cannot update from v6.16 to v6.19"
#### Details:
- Date           | Thu  3 Jan 22:25:13 CET 2019
- Bug report     | N/A
- DietPi version | v6.16
- Img creator    | n/a
- Pre-image      | n/a
- SBC device     | Native PC (x86_64) (index=21)
- Kernel version | #1 SMP Debian 4.9.88-1+deb9u1 (2018-05-07)
- Distro         | stretch (index=4)
- Command        | G_AGI: xserver-xorg-video-intel libgl1-mesa-dri
- Exit code      | 100
- Soft

[2019-01-03 21:34] Elluminatus commented on #2389
I dont need any driver. Best case would be that there is no amd-graphics. But I cant delete it from the system. I have a headless server.

[2019-01-03 22:09] MichaIng commented on #2389
@Elluminatus
Thanks for your report.

I believe it's coming from here: https://github.com/Fourdee/DietPi/blob/a61184cccb1cd8eaeaf5fe03d76d3e9c23a7b643/dietpi/dietpi-config#L925

Must be called from a reinstall, but I can't find the related one, especially no sure how a certain video drive is directly toggled 🤔.

And now `xserver-xorg-video-intel` is an Intel video driver for xserver, while `firmwa

[2019-01-03 22:18] jimbroze opened #2390 "RPi 3 Bluetooth | Cannot access adapter"
## Creating a bug report/issue:

#### Required Information:
- DietPi version	| `6.19.7`
- Distro version	| `Stretch`
- Kernel version	| `Linux DickWeb 4.14.79-v7+ #1159 SMP Sun Nov 4 17:50:20 GMT 2018 armv7l GNU/Linux
`
- SBC device		| `RPI 3`
- Power supply used	| (Official Raspberry Pi Power Supply for RPi 3)
- SDcard used		| (SanDisk ultra)

#### Steps to reproduce:

- Attempting a `hcitool sca

[2019-01-03 23:40] MichaIng commented on #2390
@jimbroze
Thanks for your report.

Marked for investigation.

[2019-01-03 23:54] MichaIng commented on #2378
@mfeif @Fourdee
I found the reason for the file-not-found error:
- Since our `mpd` on Jessie is a custom build, it is installed to `/usr/local/bin` and from there by default looks into `/usr/local/etc/mpd.conf` instead of `/etc/mpd.conf`.
- This is not documented and since it by default looks into several locations for `mpd.conf` one could call it design issue, that `/etc` is skipped for custom bu

[2019-01-04 11:10] svh1985 opened #2391 "Errors at first boot"
## Creating a bug report/issue:
Errors at first boot

#### Required Information:
- DietPi version
G_DIETPI_VERSION_CORE=6
G_DIETPI_VERSION_SUB=17
G_DIETPI_VERSION_RC=0
G_GITBRANCH=master
G_GITOWNER=Fourdee
- Distro version
stretch
- Kernel version
Linux DietPi 4.14.71-v7+ #1145 SMP Fri Sep 21 15:38:35 BST 2018 armv7l GNU/Linux
- SBC device
RPi 2 Model B (armv7l)
- Power supply used
5V  2.6A
- SDca

[2019-01-04 11:16] svh1985 commented on #2391
Addition:
Running dietpi-config requires Root privileges, I think somethings wrong with the system privileges.

[2019-01-04 11:20] svh1985 commented on #2391
I realised that I logged in with user dietpi and not root. Issue can be closed.

[2019-01-04 11:20] #2391 closed, assigned to nobody

[2019-01-04 16:15] Fourdee commented on #2384
@MichaIng

Thanks, great work, appears to be resolved in v6.20:
![image](https://user-images.githubusercontent.com/7077026/50697918-8743e780-103b-11e9-9ca4-47b345981c47.png)

Patch reinstall for existing installations?

[2019-01-04 17:26] Fourdee commented on #2354
@Methroix

Thanks for the report, might be an issue due to lack of memory. Whats the swapfile size set to?
[code]

[2019-01-04 20:16] Elluminatus commented on #2389
Hi MichaIng thank you for the fast reply. I tried `dpkg -P firmware-amd-graphics` with the same result:

 package is in a very bad inconsistent state; you should
 reinstall it before attempting configuration
Errors were encountered while processing:
 firmware-amd-graphics

Intel driver is nbot selected in the menu. There are no GPU driver installed there.

This is the output from `dietpi-software

[2019-01-04 20:33] MichaIng commented on #2389
@Elluminatus

Strange that it wants to configure the package, when attempting to purge. However perhaps try to follow the advice: `you should reinstall it before attempting configuration`: `apt install --reinstall firmware-amd-graphics`

If that throws the same error, the last idea I have so far is manually downloading the deb package: https://deb.debian.org/debian/pool/non-free/f/firmware-nonfree

[2019-01-04 20:49] MichaIng commented on #2389
Checked reinstalls: Only `Mosquitto` during v6.17 => v6.18 patch, but that is a very simple install without much configuration.

So I guess you copied the error prompt when trying to switch to Nvidia driver manually? However so the main issue is the broken AMD driver package that breaks all APT attempts.

[2019-01-04 23:36] Elluminatus commented on #2389
Perfect: apt install --reinstall firmware-amd-graphics worked fine and now its runing smooth. Update complete v6.19.7 Thank you

[2019-01-04 23:59] MichaIng commented on #2389
@Elluminatus
Great to hear. Now you should be also able to uninstall it: `G_AGP firmware-amd-graphics`

I will mark this issue as closed. Feel free to still use it or reopen, if required.

[2019-01-04 23:59] #2389 closed, assigned to nobody

[2019-01-05 04:53] Node815 opened #2394 "DietPi-Set_Hardware | Waveshare 3.5" support"
Please add support for the [Waveshare 3.5" screen.  ](https://www.waveshare.com/wiki/3.5inch_RPi_LCD_(B)#Driver)

I have the Waveshare 3.5" Model B revision 2.0 which does not work, Dietpi does not turn the screen on when telling it to use the waveshare32 setups.

[2019-01-05 05:41] krishnasen2401 opened #2395 "DietPi-Config | Support for network bridges"
## Creating a feature request:

#### Is your feature request related to a problem? Please describe:

- ...
Since raspberry pi 3 wifi cant connect to a 5ghz network i use externel wifi adapter when using raspbian os for connecting to wifi and also act as bridge cum wifi repeater
#### Describe the solution you'd like:

- ...
option to use between internal wifi and external wifi card and bridge netwo

[2019-01-05 15:49] WolfganP opened #2396 "DietPi-Software | Samba: Move logging to RAM"
#### Required Information:
- DietPi version	| 159 (yes, I know, old version... planning to update soon)
- Distro version	| 9.6
- Kernel version	| Linux DietPi 4.9.62-v7+ #2 SMP Fri Nov 17 23:52:26 GMT 2017 armv7l GNU/Linux
- SBC device		| RPi2
- Power supply used	| 5V 2A
- SDcard used		| (EG: SanDisk ultra)

#### Steps to reproduce:
So, as my RasPi acts as a 24/7 media / file / IoT server, I start

[2019-01-05 18:07] WolfganP commented on #2396
Just for the sake of documentation in one single place, the write ops to the sdcard can be checked via `awk '/mmc/ {print $3"\t"$10}' /proc/diskstats` as per https://www.kernel.org/doc/Documentation/iostats.txt

For the `/var/cache/samba/browse.dat` case, I found this https://ubuntuforums.org/showthread.php?t=2166829 relevant and tested it succesfully. Converted to systemd specs, this can be easil

[2019-01-05 18:07] MichaIng commented on #2396
@WolfganP
Thanks for opening this issue.

`fnotifystat` looks like a very interesting tool to improve any system according to disk I/O.

### /var/cache/samba/browse.dat
- As long as there is no fix (only write that file if actual values have changed) available, you can surely link that file to RAM, e.g.:
[code]
- Just assure (although I am pretty sure) that:
  - a) It is really no issue that the c

[2019-01-05 18:19] WolfganP commented on #2396
Thx @MichaIng , we were writing at the same time with the findings. See my previous reply with a solution for `/var/cache/samba/browse.dat`

Regarding `/etc/fake-hwclock.data` I'll adopt your suggestion, and reschedule it to run more spaced, ie once a day, or every 6 hours, or ...

[2019-01-05 18:22] MichaIng commented on #2396
@WolfganP
Jap, I updated my post accordingly, see my suggestion about linking only the file, not the whole folder, and link target. But both solutions should work fine.

To have fake-hwclock running daily is pretty simply:
`mv /etc/cron.hourly/fake-hwclock /etc/cron.daily/fake-hwclock`

To have it run every 6 hours you need to create a custom crontab entry or systemd timer.

[2019-01-05 19:17] WolfganP commented on #2396
I tested linking just the `/var/cache/samba/browse.dat` file but it didn't work. `nmbd` deletes the symlink and recreates the file on the folder at start; no issues with linking the folder thou. I'll keep investigating.

[2019-01-05 19:22] Fourdee commented on #2396
@WolfganP

Many thanks for the info and resolution! 👍

Ok, we could move the whole sub directory to RAM:
[code]

https://refspecs.linuxfoundation.org/FHS_3.0/fhs/ch05s05.html

Actually, might even be able to move everything in ```/var/cache``` to RAM, if we can exclude APT?
[code]

[2019-01-05 19:26] MichaIng commented on #2396
The cache dir of APT can be moved without symlink:
[code]
- Source package cache can be disabled completely, if not required, but I am not sure if this is then re-downloaded on every APT update, so I left it in place in my case.

But yeah the possible issue is the size, especially when many downloaded archives are cached:
[code]
So this can be only done, if it's verified that enough free RAM is av

[2019-01-05 19:43] Fourdee commented on #2396
🈯️ https://github.com/Fourdee/DietPi/commit/bff17ab06a447e0dfcac2eef1b4170b7c65d908b

In ```/etc/default/fake-hwclock``` you can set:
[code]

[code]

[code]

[2019-01-05 20:00] MichaIng commented on #2396
@Fourdee

This does not work, since the file must be reboot persistent to do it's job. Even external drive is dangerous, if it is required before external drives are fully mounted, and of course, if the drive got detached. So this must stay on RootFS and I would also not touch the hourly safe to better prevent issues in case of power loss. Leave this to end user custom change, if really desired. B

[2019-01-05 20:23] WolfganP commented on #2396
I agree on leaving `/etc/fake-hwclock.dat` as it is, due it's persistance nature being its reason to be.
OK with leaving the "manual optimization" trade off decision to the advance user regarding it's update frequency.

As I said earlier, my motivation was to avoid SDcard excessive wearing for 24/7 servers when it can be avoided, and `/var/cache/samba/browse.dat` was the biggest offender as it upd

[2019-01-05 22:10] MichaIng commented on #2173
@Fourdee
Yep, basically this should work:
[code]
Source: https://www.raspberrypi.org/documentation/configuration/device-tree.md#part3.5.1

[2019-01-05 22:32] Fourdee commented on #2396
@MichaIng

Ah good point 👍  we can do a service to save this to disk during shutdown and restore during boot.

[2019-01-05 22:34] MichaIng commented on #2296
@Fourdee
The new images are in place, if I see right? If still an issue with current Chromium, is there something we can do about running systems? Any chance to update them to mainline kernel on `dietpi-update`? I guess too risky and might break custom setups that depend on current kernel. So at least should be only optional...

[2019-01-05 22:51] MichaIng commented on #2396
@Fourdee

Simply removing the cron job `/etc/cron.hourly/fake-hwclock` has same result: 1970th system clock, if system crashes due to power loss or other critical issue.
`fake-hwclock` creates/writes to this file only on late shutdown stage itself, while the cron job is to prevent urgently outdated system clock in case of unordered shutdown.

[2019-01-05 23:02] Fourdee commented on #2396
@MichaIng

(https://github.com/Fourdee/DietPi/commit/3c34712afb705edc290231f01ed161e86ac90a79) Yep, so only issue now is if power loss, time will be reset to last boot time saved and/or from last shutdown save.

Shame ```/etc/cron.hourly/fake-hwclock``` doesnt simply run ```systemctl restart fake-hwclock```

[2019-01-05 23:07] MichaIng commented on #2396
@Fourdee

? Would be just overload, since the service does nothing else (on stop) then what the cron job does?

As said, the current solution is a workaround for a result that we can achieve by simply removing the cron job, which will be (due to our apt.conf.d settings) not automatically re-created on APT upgrade.

But I still do not like the workaround/solution. This is a very tiny file touch onc

[2019-01-05 23:15] WolfganP commented on #2396
Totally agreed with @MichaIng on `/etc/fake-hwclock.dat` case . Leave it as it is and if some advanced user wants to manually change the balance on wearing vs reboot stability, it's all documented in this issue.

The samba solution however, is transparent to the user and bigger offender in terms of SDcard writing, so it may be worthy to tackle for all users.

[2019-01-05 23:22] Fourdee commented on #2396
Hmm, ```fake-hwclock``` starts before ```tmp.mount```. Changing order of this will give incorrect times during boot.

@WolfganP @MichaIng

Agree 👍, will revert.

[2019-01-05 23:36] MichaIng commented on #2396
@Fourdee
Yes, it makes sense that it starts as early as ever possible, also to have all following boot logs with correct time stamps and of course if something else depends on moreless correct system time.

Having another look onto the `FORCE` option: https://manpages.debian.org/stretch/fake-hwclock/fake-hwclock.8.en.html#COMMANDS
Actually from my point of view, besides for testing reasons, it doe

[2019-01-06 00:12] MichaIng commented on #2396
Okay about the samba cache:
- So this cache dir is used by different processes/services right? So we cannot bin the tmp dir creation to only one service.

Me by chance found the tmpfile systemd feature: https://manpages.debian.org/stretch/systemd/tmpfiles.d.5.en.html
- Used by systemd/packages: `/usr/lib/tmpfiles.d`
- To be used by admin: `/etc/tmpfiles.d`

So the following should work well, at be

[2019-01-06 01:23] MichaIng commented on #2388
@SaturnusDJ
Since we just improved disk I/O in case of another software title, I think we can implement it for docker as well.

But two questions:
- It is not possible to move only the log file location, e.g. to /var/log, since it is always placed within docker-data, right?
- Could you give an example about the log amount?

E.g. if the amount of logs is high (more than ~10 entries each hour or som

[2019-01-06 13:49] SaturnusDJ commented on #2388
@MichaIng
I am familiar with basic Docker functionality for some weeks now, not an expert. What I found is https://docs.docker.com/v17.09/engine/admin/logging/overview/#use-environment-variables-or-labels-with-logging-drivers.

_None_ would result in no logs.
_Json-file_ is default. It logs to a json-file in the root of the container meta volume. You would expect to be able to log to custom filesy

[2019-01-06 14:22] MichaIng commented on #2388
@SaturnusDJ
Thanks for info.

We follow the (modern) Debian defaults here and have journald as syslog daemon. However you can choose rsyslog + logrotate logging mode via dietpi-software, which will disable RAMlog (for /var/log) as well, otherwise rsyslog does not make much sense. Of course you could install rsyslog manually and leave DietPi-RAMlog active.

Journald (journalctl) can log persistent

[2019-01-06 14:56] MichaIng commented on #2052
Install test on VM Stretch:
[code]
🈯️ Only wireguard* packages are pulled from sid repo, which is what we want. Priority 100 however should allow APT upgrades of those.

[2019-01-06 15:07] SaturnusDJ commented on #2388
Yes I was sampling a log. 😃
[Docker_Home_Assistant_30_mins_log.txt](https://github.com/Fourdee/DietPi/files/2730561/Docker_Home_Assistant_30_mins_log.txt)

This is Home Assistant on default logging level.
For example why scan Bluetooth that much? Because if the car comes back the key to which the Bluetooth tracker is attached needs to be found quickly in order to immediately turn on the hallway li

[2019-01-06 20:28] MichaIng commented on #2052
Linux headers are required for `wireguard-dkms` to build it's kernel module.

`/etc/network/interfaces` could be used to setup the VPN interface via ifupdown/networking service. But wireguard comes with it's own systemd unit `wg-quick@.service` which allows the VPN to be handled more independent from the network in general, so we an e.g. handle it via `dietpi-services`, while the remaining network

[2019-01-06 23:05] MichaIng commented on #2052
PR up: https://github.com/Fourdee/DietPi/pull/2398

[2019-01-07 20:15] Fourdee commented on #2380
@MichaIng

Agree 👍

[2019-01-07 20:38] jimbroze commented on #2390
Also tried a completely fresh DietPi installation on another SD card, Installed nothing but pi-bluetooth and experienced the same issue.

[2019-01-07 21:09] MichaIng commented on #2390
@jimbroze
Did you actually enable bluetooth functionality via `dietpi-config` or:
`/DietPi/dietpi/func/dietpi-set_hardware bluetooth 1`

@Fourdee
Just recognized that we don't have a bluetooth setting in `dietpi.txt`. I mean enabling it after 1st run setup is quite simple, but this would also give users a hint THAT you can toggle it and it's actually disabled by default.

[2019-01-07 21:17] jimbroze commented on #2390
@MichaIng
Wow, I feel incredibly stupid now. I looked in dietpi.txt and in the network settings but never thought to check advanced settings.
Problem solved!

[2019-01-07 21:17] #2390 closed, assigned to nobody

[2019-01-07 21:37] MichaIng commented on #2390
@jimbroze
No worries, indeed it might not fit too good into advanced settings.

We already started to think about a better fitting reorder of `dietpi-config`, but didn't manage to start with this until now: https://github.com/Fourdee/DietPi/issues/639

There was the idea to merge all hardware/protocol connection related settings into a "Connectivity" menu.

[2019-01-07 23:18] Fourdee commented on #2396
- Existing install patch + test
- 🈯️ New install on v6.20 + test

[2019-01-08 08:12] N3mill0 opened #2399 "Image | NanoPi M4"
Specs:
https://www.friendlyarm.com/index.php?route=product/product&product_id=234

#### Give us some formal device information:
- Device name | NanoPI M4
- Official product URL | https://www.friendlyarm.com/index.php?route=product/product&product_id=234

#### Is the SBC officially supported by the Debian installer?
- No

#### If not, is a reliable 3rd party Debian image available for this SBC?
- A

[2019-01-08 19:16] MichaIng opened #2400 "DietPi-Software | Separating JDK and JRE"
I thought longer about separating JDK and JRE in `dietpi-software`, since currently in some cases the JDK is installed, even that only the JRE is required.

But now I read about his: https://www.reddit.com/r/java/comments/9ovani/java_11_jre/
- With Java 11, there is no JRE anymore.
- Each Java 11 software needs to implement it's own optimized JRE instead.

Since Java 11 is LTS as well (compared to

[2019-01-08 19:59] MichaIng opened #2401 "DietPi-Config | RPi: Disable HDMI + framebuffer completely via config.txt entries"
Ref: https://github.com/raspberrypi/userland/issues/447

Should be preferred, instead of manually running `tvservice -o` on boot. Also framebuffer is disabled completely, so does not need to be reduced.
The downside is, that there is no chance to re-enable HDMI without a reboot, but with our framebuffer x=y=16 this was anyway practically the case.

PR up, which as well removes some other obsolete

[2019-01-09 02:24] MichaIng commented on #2399
@N3mill0
Thanks for your request.

I added it to FeatHub: https://feathub.com/MichaIng/DietPi/+33

[2019-01-09 05:52] Fourdee commented on #2395
@krishnasen2401

Hi, many thanks for the request 👍

This also ties in with https://github.com/Fourdee/DietPi/issues/1542. We need to add additional options/overrides for both.

Ah I see, will rename ticket to match request.

Leave it with us, we'll implement when we can.

Notes:
- Ties in with WiFi hotspot.

[2019-01-09 06:02] Fourdee commented on #2388
@SaturnusDJ

Many thanks for the report 👍

@MichaIng

@Fourdee
What do you think?

Yep, definitely 👍

[2019-01-09 06:04] Fourdee commented on #2365
320MB recommended by: https://forum.kodi.tv/showthread.php?tid=217170&pid=1918800#pid1918800

Seems reputable. Lets go with 320MB, users can always increase as needed in ```dietpi-config```.

[2019-01-09 06:56] Fourdee commented on #2365
Testing passed, completed.

[2019-01-09 06:56] #2365 closed, assigned to Fourdee

[2019-01-09 09:57] krishnasen2401 opened #2403 "Networking issue and a bug"
Device rpi3 with latest dietpi install
Problem 1
Config 1
1.wired connect DHCP (to tplink portable router)(just for control and readyshare media transfer)
2.wifi DHCP to mobile hotspot(for internet)
Config 2 (to confirm problem)
1.wired connect DHCP and static (normal router as lan)(just for control and readyshare media speed) with internet access
2.connected to the mobile hotspot

Observation
The

[2019-01-09 21:55] midwan commented on #2352
@symbios24
The fastest version and the one with the most features currently, is the SDL2 + Dispmanx for the RPI. The SDL1 is slightly slower and is missing the scaling options (Auto, Nearest Neighbour, Linear) which are provided by SDL2.

The error message you reported indicates that there's a problem with the SDL2 configuration, and it cannot find a supported video device. SDL2 can be configured

[2019-01-09 22:07] midwan commented on #1410
@Fourdee
Regarding the Tinkerboard, we made some good progress recently and we have a minimal image (based on Armbian) with GPU support that runs very quickly. There's a wiki on how to set it up from scratch here: https://github.com/midwan/amiberry/wiki/Compiling-for-the-Tinker-Board

I think you should be able to use it to get GPU support for DietPi as well, and then the Amiberry version for the

[2019-01-10 09:53] Fourdee opened #2404 "DietPi-Autostart | Auto login prompts for password"
Something has changed in SystemD?

[2019-01-10 09:53] Fourdee commented on #2352
@midwan

Yep, thanks. Did notice this the other day. Will take a look: https://github.com/Fourdee/DietPi/issues/2404

[2019-01-10 09:54] Fourdee commented on #1410
@midwan

Great news, good to hear 👍

I'll take a look when I can.

[2019-01-10 09:55] Fourdee commented on #2352
Will mark this as closed as unable to replicate.

[2019-01-10 09:55] #2352 closed, assigned to Fourdee

[2019-01-10 10:02] Fourdee commented on #2403
@krishnasen2401

Many thanks for the report 👍

Unable to replicate on our test system:
![image](https://user-images.githubusercontent.com/7077026/50960847-3c542500-14be-11e9-8415-568b957335db.png)

The installation may have failed. Please try the following to force install flag, and allow removal:
- edit ```/DietPi/dietpi/.installed```
- change ```aSOFTWARE_INSTALL_STATE[65]=0``` to ```=2```
- Sav

[2019-01-10 11:18] krishnasen2401 commented on #2403
The write error guess due to unexpected shutdown maybe

Have also noticed that external HDD doesn't get uncounted similar to PC just remove the USB cord(only noticed after hearing the disk sound when we just remove it in middle)
sed: couldn't open temporary file /boot/sed62qGCF: Read-only file system         ( for changing autobot option)

This was when installing netdata
[ SUB1 ] DietPi-Software

[2019-01-10 12:17] Fourdee commented on #2403
@krishnasen2401

Yep, you need to shutdown the system before pulling out the power.

Also, before unplugging USB harddrives, you must dismount them using ```dietpi-drive_manager``` before-hand. Not doing this will render filesystem corruptions. Try to run a repair on the disk, using the above command.

[2019-01-10 12:36] krishnasen2401 commented on #2403
The unexpected power off was due to battery

I asking in case of "poweroff" command for system shutdown which stop each and every service I didn't notice it umounting the storage(the user data is not transferred only sonarr download are stored)

[2019-01-10 13:59] Fourdee commented on #2403
@krishnasen2401

Once the device has powered off, the drive may still be powered. Depends on the SBC device used.

Regardless, once ```poweroff``` is used, and the system has completely shutdown, it is safe to unplug the HDD. No need to dismount for poweroff.

[2019-01-10 14:25] krishnasen2401 commented on #2403
So poweroff doesn't auto unmount the drive right I have to do it manually.so that the force shut sound doesn't come like in pc

[2019-01-10 15:16] MichaIng commented on #2403
In most cases poweroff should stop services and disk I/O gracefully,  so you can power/plug off the drives then safely. But especially with temporary mounted drives (not via fstab) it is possible that e.g. writes hang and the drive is not unmounted gracefully. So jep to be safe, unmount it manually first.

If you added the drive via dietpi-drive_manager, it is added to fstab, so included into the

[2019-01-10 15:20] Fourdee commented on #2403
@MichaIng

Good point 👍 Some USB <> SATA converters may cache writes on chip.

[2019-01-10 15:49] krishnasen2401 commented on #2403
I noticed unmouted first before boot partion

[2019-01-10 15:49] #2403 closed, assigned to nobody

[2019-01-11 04:06] DarrenSchwartz opened #2406 "DietPi-Software | Re-allow to install webserver, database and PHP independently from menu"
## Creating a bug report/issue:

#### Required Information:
- DietPi version	| `cat /DietPi/dietpi/.version`

G_DIETPI_VERSION_CORE=6
G_DIETPI_VERSION_SUB=19
G_DIETPI_VERSION_RC=7
G_GITBRANCH=master
G_GITOWNER=Fourdee

- Distro version	| `echo $G_DISTRO_NAME` or `cat /etc/debian_version`
9.6

- Kernel version	| `uname -a`
`Linux rpi3 4.14.79-v7+ #1159 SMP Sun Nov 4 17:50:20 GMT 2018 armv7l GNU/Lin

[2019-01-11 21:00] Fourdee commented on #2052
Install tests:
- 🈯️ RPi stock + install
- ~RPi with ```rpi-update``` testing kernel + install~ | https://github.com/Fourdee/DietPi/issues/2052#issuecomment-453671953
- 🈯️ VM stock + install + reinstall + uinstall

[2019-01-11 21:16] Fourdee commented on #2052
#### To do (WEB):
- https://dietpi.com/software entry
- Forum entry

#### Misc:
- Add support for other devices? Odroids should be fine thanks to meverics kernel header packages?

[2019-01-11 22:05] Fourdee commented on #2052
🈯️ Drop official support for use of ```rpi-update``` in DietPi.
🈯️ Not keen on having ```rpi-update``` checks throughout our code, will simply add patch for end users.

[2019-01-11 23:31] Fourdee commented on #2052
Tests:
- Odroid C1/N1 | unable to test, lack boards.
- 🈯️  C2 | ~Package version mismatch~
[code]
- 🈯️  XU4 | ~Package version mismatch~
[code]

Seems we need to reinstall these to ensure updates, this works:
[code]

```--reinstall``` has no effect, we need to purge + install again to update.

[2019-01-12 02:20] MichaIng commented on #1340
Extended and moved table to Wiki: https://github.com/Fourdee/DietPi/wiki/DietPi-Software-list

[2019-01-12 02:20] #1340 closed, assigned to Fourdee, MichaIng

[2019-01-12 16:05] MichaIng commented on #1510
## Testing better solutions to get config values
- Currently we use `timezone=$(grep -m1 '^[[:blank:]]*AUTO_SETUP_TIMEZONE=' /DietPi/dietpi.txt | sed 's/^[^=]*=//')` to get values from even shell syntax conform config files.
- These are two external commands already and it is not 100% safe, e.g. if spaces or in-line comments are present.
- An alternative I found is `timezone=$(sed -n '/^[[:blank:]

[2019-01-12 21:09] MichaIng commented on #2406
@noGitForYou
Thanks for your suggestion.

However I think it is fine as it is, for the following reason:
- `CertBot` itself does not depend on a webserver. It even brings it's own internal standalone webserver that can be used to get a certificate. E.g. you have a `Java` or `Node.js` application with web interface, so do not need a dedicated webserver, but certificates.
- `DietPi-LetsEncrypt` is a

[2019-01-13 00:27] Fourdee commented on #1340
@MichaIng

Very nice, thanking you 👍

[2019-01-13 00:48] Fourdee commented on #2325
@MichaIng

We could try linking the below in changelog:
https://github.com/Fourdee/DietPi/tree/master/.conf

Then users can check version/modified date to see if any files have been replaced/updated.

---

Another option is to add tweak ```Download_Install``` a bit.

[2019-01-13 00:53] Fourdee commented on #2325
Went with ```G_WHIP_MSG```, if it becomes too "annoying" for end users, we can change to ```G_DIETPI-NOTIFY 2```.

[2019-01-13 01:13] Fourdee commented on #2325
Yep working fine:
![image](https://user-images.githubusercontent.com/7077026/51080277-5bc29c00-16d0-11e9-8ef9-461fcd201a73.png)

Completed.

[2019-01-13 01:13] #2325 closed, assigned to nobody

[2019-01-13 01:13] Fourdee commented on #2250
Will mark as closed. If this is still an issue, please reopen.

[2019-01-13 01:13] #2250 closed, assigned to nobody

[2019-01-13 01:22] Fourdee commented on #2358
Tested fine with VB6 on our Stretch image, will mark as closed as we dropped support for Jessie.

[2019-01-13 01:22] #2358 closed, assigned to nobody

[2019-01-13 01:33] MichaIng commented on #2358
@Fourdee
Did you try to resize the drive as well (on Stretch)?

[2019-01-13 03:30] Fourdee commented on #2052
Rock headers + kernel included in package ```linux-rock64```

Although we need to reinstall headers as we remove ```/usr/src``` during PREP.
``` linux-rock64 linux-headers*; G_AGA; G_AGI linux-rock64```

Hmm, still fails:
[code]

🈯️ ```G_AGI python```, requires python, why? lol

[2019-01-13 04:53] DarrenSchwartz commented on #2406
@MichaIng
Thanks for your detailed reply.  I think your plan for the future makes good sense.  Your last comment highlights where my real concern lies.  First I got the error from dietpi-letsencrypt about not having a web server installed, and I would have happily installed Lighttpd manually from dietpi-software, but didn't want the whole stack.  Especially since installing a whole stack gives a s

[2019-01-13 11:09] Gill-Bates opened #2409 "DietPi-Software | Unbound: Fixes and enhancements"
Hi There,
I would appreachiate the cloudflare deamon in dietpi. Right now, I have to set it up manually:

https://docs.pi-hole.net/guides/dns-over-https/

Could you incorporate the cloudflare deamon into the software catalouge of Dietpi?

[2019-01-13 15:15] MichaIng commented on #2406
@noGitForYou
To address your initial suggestion a bid, I added some more info to the DietPi-Software error prompt, if no webserver was found: https://github.com/Fourdee/DietPi/commit/550c5495c559b64bb03b7db00c69cfdcb54834a6
- It also turned into a yes/no menu, which allows to directly switch to DietPi-Software.

I hope things are a bid clearer by this.
____________
#### About the webserver topc:
T

[2019-01-13 16:04] MichaIng commented on #2409
@WTFMaster
Thanks for your request.

There is another tool that does that thing, if I get it right: https://dnscrypt.info/
- Related request: https://github.com/Fourdee/DietPi/issues/1245

Maybe someone can explain what those tools do, what I get is:
- They will accept incoming DNS requests.
- They will proxy them to an external DNS provider, but verify it's identity by checking SSL certificates.

[2019-01-13 17:03] MichaIng opened #2411 "DietPi-Software | Remove Tomcat 8"
- For Stretch via backports: https://packages.debian.org/stretch-backports/tomcat9

[2019-01-13 17:08] MichaIng commented on #2400
ID | Name | Requirement
-- | - | -
33 | Airsonic | 🈯️ JRE 8, Java 9 support has not even finished:<br>- https://github.com/airsonic/airsonic/issues/611<br>- https://github.com/airsonic/airsonic/issues/760#issuecomment-399767637<br>- https://github.com/Fourdee/DietPi/pull/2410#issuecomment-453856627
34 | Subsonic | Requires Java 8, the Windows installer has just been bundled with it: http://www.sub

[2019-01-13 18:22] DarrenSchwartz commented on #2406
@MichaIng
I think your change to the dietpi-letsencrypt error handling is a simple and sufficient solution for the letsencrypt installation issue.

As for the web server dependency issue, I guess it's important not to over complicate the config, so if PHP comes along for the ride, I could get over it.  Will leave it to you guys to decide whether the benefit outweighs the extra work.

Some of my di

[2019-01-14 16:16] MichaIng opened #2412 "DietPi-Drive_Manager | Move RootFS on Armbian"
There seem to be a consistent way to achieve that on NanoPi with U-Boot bootloader: REMOVED OBSOLETE LINK

[2019-01-14 17:25] MichaIng commented on #2404
@Fourdee
~Perhaps due to changed boot script order?~

Ah wait, nope above should be not related, but I just recognized, if not mistaken, that we do not enable lightdm service on choice: https://github.com/Fourdee/DietPi/blob/dev/dietpi/dietpi-autostart
But this is already for longer 🤔.
_________
~**EDIT: Hmm or might it be an issue, if postboot runs after autostart executes? In case of auto login

[2019-01-14 18:35] GulyFMG opened #2413 "DietPi-Software | Transmission: RAM usage raises unlimited in Stretch repo version"
### ADMIN EDIT
#### Workaround: https://github.com/MichaIng/DietPi/issues/2413#issuecomment-502152193
____________
#### Required Information:
- DietPi version	| #!/bin/bash
G_DIETPI_VERSION_CORE=6
G_DIETPI_VERSION_SUB=19
G_DIETPI_VERSION_RC=7
G_GITBRANCH=master
G_GITOWNER=Fourdee

- Distro version	| `9.6`
- Kernel version	| `Linux blacksun 4.14.80-v7+ #1161 SMP Mon Nov 12 18:51:43 GMT 2018 armv7l

[2019-01-14 21:00] MichaIng commented on #2413
@GulyFMG
Thanks for your report.

We install Transmission from Debian repo indeed, where the fix has not yet been applied.

Only thing we can do is built a custom package each architectures and place it on our server. But requires some work and much testing and could mess with the Debian package, it's files, e.g. systemd unit and such 🤔.

Would be great if we could push the fix to be applied in De

[2019-01-15 02:06] thurloat commented on #2142
I'm running into this same issue in linux as my host, I made the change to parameter.txt but I'm still getting the login loop.

Is there a change that can be made in the config for the `upgrade_tool` as well? I'm not seeing much in terms of docs for that tool. Really hoping to avoid installing windows to do the flashing.

[2019-01-15 12:54] Hoffnungsschimmer opened #2414 "No reaction when double-clicking on the desktop."
Hello, I am not sure if it is a bug or it is up to me, fact is I can not find anything on the internet.
Im also more of a user than a programmer (and English is not my mother tongue).
I explain it briefly, I can not start desktop icons by double-clicking or open a folder.
If I try to open a folder by double-clicking a "Rename" window appears. Nothing happens with an icon, neither Htop nor the stan

[2019-01-15 13:05] MichaIng commented on #2414
@Hoffnungsschimmer
Thanks for your report.

Which desktop are you using? LXDE?

[2019-01-15 13:19] Hoffnungsschimmer commented on #2414
I use (as always) AutoStart Option 2 (automatic login). I think that's the LightDM.

[2019-01-15 13:21] MichaIng commented on #1286
Debian Buster release soon. Feature/Package freeze schedule has started: https://release.debian.org/testing/freeze_policy.html

With v6.21 I will put some effort in testing remaining software titles on Buster. Especially some 3rd party repos don't have a Buster branch yet, so we need to force Stretch there.

Raspbian Buster release will be later and according to the many above critical repo issues

[2019-01-15 13:25] MichaIng commented on #2414
@Hoffnungsschimmer
`LightDM` is the graphical login prompt that works with all desktops. Desktops are e.g. LXDE, XFCE, MATE, and such. If you did not actively chose one, the default on DietPi is LXDE. But let's check.

Please paste output of the following:
`grep '\]=2' /DietPi/dietpi/.installed`

[2019-01-15 13:38] Hoffnungsschimmer commented on #2414
aSOFTWARE_INSTALL_STATE[6]=2
aSOFTWARE_INSTALL_STATE[23]=2
aSOFTWARE_INSTALL_STATE[103]=2
aSOFTWARE_INSTALL_STATE[104]=2
aSOFTWARE_INSTALL_STATE[120]=2
root@DietPi:~#
 i use LXDE

[2019-01-15 13:48] MichaIng commented on #2414
@Hoffnungsschimmer
I have no RPi free for testing here, but will check in VM for obvious issues.

[2019-01-15 14:04] MichaIng opened #2415 "Open Beta v6.20 | Please help testing and hardening the upcoming release"
RC version | v6.20.5
---------- | -------
Changelog | https://github.com/Fourdee/DietPi/blob/beta/CHANGELOG.txt
Code changes | https://github.com/Fourdee/DietPi/compare/master...beta
v6.20.1 => v6.20.2 | https://github.com/Fourdee/DietPi/pull/2432
v6.20.2 => v6.20.3 | https://github.com/Fourdee/DietPi/pull/2444
v6.20.3 => v6.20.4 | https://github.com/Fourdee/DietPi/pull/2455
v6.20.4 => v6.20.5 | h

[2019-01-15 14:24] MichaIng commented on #2322
Testing passed, will close.

[2019-01-15 14:24] #2322 closed, assigned to MichaIng

[2019-01-15 15:07] MichaIng commented on #1715
@leggewie
You are absolutely right. We should not enable a feature that is known to be risky and has performance disadvantages. No big deal to setup a separate partition.

This is actually something we could offer instead from within DietPi-Drive_Manager, if a `btrfs` formatted drive/partition is selected: Creating an ext4 formatted swap partition on the same drive.
- Shrinking current partition t

[2019-01-15 15:58] MichaIng opened #2416 "DietPi-Software | LXDE: Weather plugin fails to retrieve data and find new locations"
- On fresh install it shows a warning rectangle and `N/A`.
- If you click the tray icon, it says: `Forecast for london unavailable`
- If you go into plugin settings, London UK is pre-configured as location, but it is not possible to change that: No other location if found, not via postal code, city name, country name, in English or native language or any combination.
- The server where the app get

[2019-01-15 16:02] MichaIng commented on #2414
@Hoffnungsschimmer
Okay on VM double clock works fine.

As you installed a VNC server, could you check if when connecting remotely to the desktop, the double click works? This could sort out some local configuration issue.

[2019-01-15 17:45] MichaIng opened #2417 "DietPi-Config | RPi: Edit only gpu_mem_* entry that matches current RPi version"
Ref: https://dietpi.com/phpbb/viewtopic.php?p=16036#p16036

Currently, when switching the SDcard between RPi's with different RAM sizes, the memory split is always set for all of them, while you might want to have a lower value on lower RAM device and higher value on higher RAM device.
It is even possible to set a value that is outside of the allowed range for the lower RAM devices or even higher

[2019-01-15 20:29] MichaIng opened #2418 "DietPi-Software | Home Assistant: Skip virtualenv/pyenv tu run install script"
Ref: https://dietpi.com/phpbb/viewtopic.php?t=5369

Currently we run the install script within a virtual environment (virtualenv/pyenv), which runs in a subshell of again a sudo subshell, so three (or more) orders of abstraction... There everything, especially Python is built from source, which takes a veeery long time. Users report more than 40 minutes (on SBC), only for the Python build, afterwa

[2019-01-15 23:51] MichaIng opened #2419 "DietPi-Software | SABnzbd: Add info to online docs about required Git to compile "multicore par2""
Ref: https://dietpi.com/phpbb/viewtopic.php?t=5376
- Since the linked guide from our online docs contains a `git clone` step, we should add info that one needs to install Git client first.
- Other possibility would be to pre-compile and install the module by default with our SABnzbd install?

[2019-01-16 05:30] Fourdee commented on #2417
@MichaIng

Yep, was thinking of this the other day.

Always set actual value to ```gpu_mem_1024```, cap the others during set. Scrape from  ```gpu_mem_1024```

[2019-01-16 05:48] Fourdee commented on #2416
Confirmed on Pinebook which was working the other day. Appears the Yahoo weather API has changed, or, temp offline.

[2019-01-16 06:50] Fourdee commented on #2371
Will mark this as closed:
- Kodi 18 will be available in Debian Buster

[2019-01-16 06:50] #2371 closed, assigned to nobody

[2019-01-16 07:02] Fourdee commented on #2417
[code]

🈯️

[2019-01-16 07:02] #2417 closed, assigned to Fourdee, MichaIng

[2019-01-16 07:05] Fourdee commented on #2411
62 installs, will flag as low priority + info

[2019-01-16 07:07] MZorzy commented on #2418
#2374

[2019-01-16 07:11] MZorzy commented on #2374
testing commented out # that line,
running dietpi-software reinstall 157 upgrade HA to last version as i want, without reinstall pyton. fast and work. (maybe skip also ffmpeg)
 homeassisant add new device, and release new version, very very often

[2019-01-16 08:02] Hoffnungsschimmer commented on #2414
Yes I use VNC.
I tested it yesterday, with the same result.
I just mark the icon, the text background turns blue. For a folder on the desktop, the rename window appears. Icons on the taskbar work without problems.
For testing I took a RPi 3 B + (2017), but there also the phenomenon.
Then I flashed a second SD card for the B + (DietPi_v6.17_RPi-ARMv6-Stretch).
But, also here the same double-click p

[2019-01-16 12:52] MichaIng commented on #2374
There is no internal updater (from web UI) available, right?

Yeah so maybe we can check for existing install and skip dependency install then. Only thing is, if dependency min version raises, the update breaks HA. So at best check and compare installed and required dependency versions.

Or we skip the whole pyenv, if possible.

[2019-01-16 13:05] MZorzy commented on #2374
there is no an internal updater if installed as "157",
but there is with docker-hassio (https://github.com/home-assistant/hassio-build/tree/master/install) with add-on feature
don't know how/if docker slowdown raspberry.

[2019-01-16 13:24] MichaIng commented on #2374
@MZorzy
At least docker is another layer of abstraction that we want to avoid within DietPi.
The updater is as well not "internal" there, but via updating it's docker container.

So okay, then a full reinstall is required as update and `dietpi-software reinstall 157` should cover that without doing repeating the log taking python updates every time.

And thanks for giving us the hint about the dou

[2019-01-16 13:26] MichaIng commented on #2418
I close this in favour of the existing very similar topic.

[2019-01-16 13:26] #2418 closed, assigned to nobody

[2019-01-16 13:30] MichaIng commented on #2417
@Fourdee
Can't we use the `HW_MEMORY_SIZE` from `/DietPi/dietpi/.hw_model` to edit only the setting relevant for the current device?

If there is a unknown RPi model, so the above value will be `0`, then applying to all, respecting max values is great. Generally for these entries max allowed value check makes sense.

[2019-01-16 13:32] MichaIng commented on #2415
@Fourdee
Niice, yesterday I was just again thinking about an issue pinning feature would be nice and today I found it. Is this new or was I just blind? 😄

[2019-01-16 13:34] MichaIng commented on #2411
@Fourdee
Jep basically the question is, if an existing Tomcat8 instance can be upgraded safely to Tomcat9. Simply installing the APT package at least is a simple task.

[2019-01-16 17:52] GulyFMG commented on #2413
How about a simple script to restart the service after x % of memory usage?

[2019-01-16 18:57] MichaIng commented on #2413
@GulyFMG
Theoretically yes, but I guess this would break any running downloads. Not great, if one downloads something large and then needs to start from the beginning? Even if the download could be resumed (instead of restarted), a random service restart while you are navigating the web UI also is not ideal 🤔.

[2019-01-16 20:28] GulyFMG commented on #2413
True , i did some inicial testing wth qbitorrent and deluge and both suit my needs... so maybe im gonna drop transmission until its patch. Thank you for the input.

[2019-01-17 17:27] 1265578519 commented on #2413
确实存在这个问题，Linux工作机制应该就是把内存用尽，软件层没有办法解决

[2019-01-17 18:18] MichaIng commented on #2413
@1265578519
Please use an international char set + language, otherwise we can't read your input 🙂.

[2019-01-17 21:24] Sedim opened #2422 "DietPi-Software | SqueezeBox/LMS: ALAC file support"
Vanilla Dietpi installation. Cannot play any ALAC files or for that matter any type of music

#### Steps to reproduce:

1. Install vanilla latest Dietpi
2. Install samba
3. Install lms
4. Place ALAC file or any format music file in /mnt/dietpi_userdata/Music
5. Scan the directory for music in lms
6. lms finds the music and Album art
7. Use any Logitech player connected to the network to play the m

[2019-01-17 21:32] MichaIng commented on #2422
@Sedim
Thank you very much for your report.

We will investigate, perhaps some additional library is required for this.

[2019-01-17 22:16] ChargingBulle opened #2423 "DietPi-Software | Monica"
### Vote for it on FeatHub: https://feathub.com/MichaIng/DietPi/+230

# Monica
Personal CRM - Monica helps you organize the social interactions with your loved ones.

#### Some formal software information:
- software title | Monica
- Short description | Monica helps you organize the social interactions with your loved ones.
- GitHub URL | https://github.com/monicahq/monica
- External URL | https:/

[2019-01-17 22:39] MichaIng commented on #2423
@JonasDralle
Thank you very much for your request.

Sum-up partly from the install steps:
- Requires webserver, MariaDB and PHP, so usual web stack
  - I hope the `mcrypt` module is not really in use anymore, but a relict from old times, since it is totally outdated, deprecated and a security issue.  But with ownCloud/Nextcloud it's the same: Still in docs...
  - More importantly `php7.[123]-mcryp

[2019-01-17 23:32] ShinobiWPS commented on #1580
Worth mentioning softwares like OpenMediaVault depends on NTP, No NTP, no OMV

[2019-01-17 23:33] ShinobiWPS commented on #1580
I fightinhg right now to keep OMV & NTP, but it fails because it waits for timesyncd completion..frustrating.

[2019-01-17 23:49] MichaIng commented on #1580
@ShinobiWPS
No big problem, just set `dietpi-config > Advanced Options > Time sync mode > 0 Custom` and DietPi will work flawlessly with NTP. It does not check successful time sync state though, but expects NTP to do it's job successfully.

[2019-01-18 00:13] MichaIng commented on #2388
Hmm, the amount of `INFO` logs IMO is too much for systemd. I mean its personal taste and how you use journalctl, but I personally regularly check it to get an overview about if everything is in order, any service, system or kernel errors and such, and this only works comfortable, if there are no continuous info logs, but at best warnings and system/kernel related entries.

But the logging mode ca

[2019-01-18 00:25] MichaIng commented on #2413
I reopen the topic, to not forget following the issue externally and in case push a backport of the fix to Debian Stretch.

[2019-01-18 00:43] TCB13 commented on #2028
Looks like I'm having this issue with large transfers on a NanoPi M4. Made a post about it here: https://unix.stackexchange.com/questions/494290/apache2-ssl-large-download-hangs.

[2019-01-18 00:54] MichaIng commented on #2028
@TCB13
Jep, NanoPi M4 also has RK3399 chip, so should be affected as well. However we shipped a fix some DietPi versions ago: https://github.com/Fourdee/DietPi/blob/master/rootfs/etc/network/if-up.d/dietpi-disable_offload

So if you are on current version (6.19.7), you issue should have a different cause.
**EDIT**: Ah just see your post is some years old and you use(d) an ARMbian image, right?

@c

[2019-01-18 01:31] MichaIng commented on #2323
`mawk` v1.3.4 source + build instructions: https://github.com/ThomasDickey/mawk-20140914

PR merged: https://github.com/Fourdee/DietPi/pull/2424

[2019-01-18 09:36] ChargingBulle commented on #2423
Those are a few very good points you raise

While very enthusiastic about the product I have not used it much yet. I don't think there's an self-updater.
According to the [update document](https://github.com/monicahq/monica/blob/master/docs/installation/update.md) it's git based. Database migartion doesn't seem to be taken into account.

[2019-01-18 10:45] TCB13 commented on #2028
@MichaIng my post is a few days old, not years 🥇 and yes I'm using the latest armbian for the device. I'll test the proposed fix above and see if it also applies. From my experience disabling  offloading usually means more CPU load, however I'm not sure how that plays out on a ARM device.

[2019-01-18 13:04] MichaIng opened #2425 "META | Update PINE64 forum info"
Perhaps we can update the image info/links, known issues and such on the Pine64 forum. Also some image links are broken there: https://forum.pine64.org/showthread.php?tid=1068
And there is some question/support request about Bluetooth failure: https://forum.pine64.org/showthread.php?tid=1068&page=6

Another topic again, but using Pinebook eMMC seems to be easy to achieve. We could even ship an ima

[2019-01-18 16:05] MichaIng commented on #2052
Further tuning: https://github.com/Fourdee/DietPi/pull/2420

[2019-01-18 19:53] carlosedp commented on #2142
Guys, I'm currently running a Kubernetes Cluster on my NanoPC-T4 boards and while running an ElasticSearch application I found out the board with the 4.4.154 Kernel crashes frequently with Kernel panics. Also the Kernel used by Ambian crashed. More details here: https://forum.armbian.com/topic/9365-random-reboots-on-nanopc-t4-with-armbian-569/

The Kernel 4.4.138 is very stable and I reverted back

[2019-01-18 23:56] TCB13 commented on #2028
Update: running `ethtool -K eth0 rx off tx off` on my Nano Pi 4 (Armbian) fixed the issue as well. My device shows as `/sys/devices/platform/fe300000.ethernet/net/eth0/`. I didn't notice any CPU hit.

[2019-01-19 00:54] MichaIng commented on #2028
@TCB13

Ah sorry mixed day and year, which is great since M4 didn't exist in 2013 😄. I should not work that late at night...

Thanks for verifying. So this is covered by our script as well:

[2019-01-19 10:46] walker93 opened #2426 "DietPi-Software | No-IP: Install ships wrong binary on generic device (ID 22)"
## Creating a bug report/issue:

#### Required Information:
- DietPi version	| `cat /DietPi/dietpi/.version`
G_DIETPI_VERSION_CORE=6
G_DIETPI_VERSION_SUB=19
G_DIETPI_VERSION_RC=7
G_GITBRANCH=master
G_GITOWNER=Fourdee

- Distro version	| `echo $G_DISTRO_NAME` or `cat /etc/debian_version`
strech

- Kernel version	| `uname -a`
Linux DietPi 4.9.0-8-amd64 #1 SMP Debian 4.9.130-2 (2018-10-27) x86_64 GNU

[2019-01-19 12:17] seniorgod opened #2427 "Sparky SBC | usbridge doesn't work stable"
## Creating a bug report/issue:

#### Required Information:
- DietPi version

G_DIETPI_VERSION_CORE=6
G_DIETPI_VERSION_SUB=19
G_DIETPI_VERSION_RC=7
G_GITBRANCH=master
G_GITOWNER=Fourdee

- Distro version	: 9.6
- Kernel version :Linux DietPi 3.10.38 #22 SMP PREEMPT Fri Dec 22 10:45:41 IST 2017 armv7l GNU/Linux
- SBC device	: Sparky SBC (armv7l)
- Power supply used   EG: 5V 3A power supply from allo

[2019-01-19 14:57] seniorgod commented on #2427
One more thing.....

Because the system was not stable with DietPi. I also try volumio. There is more or less the same result. Sometimes it work especially after reboot. Sometimes it doesn't work.
What i do not understand: when it would be a hardware defect, it would not work at all.
If it would be a software defect, i wonder why i don't find more problems from other usbridge users?

[2019-01-19 15:05] MichaIng commented on #2426
@walker93
Many thanks for your report.

Found the reason:
- Instead of checking directly the machines architecture during install (`x86_64` in your case), we check for known x86_64 devices, which were (obviously when we touched code last time) native PC and virtual machine only.
- If the machine is no native PC or VM, we check for known ARMv8 devices next, and otherwise choose the `armhf` binary.

[2019-01-19 15:18] walker93 commented on #2426
@MichaIng Thank you for the quick workaround! I'm glad to say that it worked like a charm.
NoIP is configured and working now.

[2019-01-19 15:39] MichaIng commented on #2427
@seniorgod
Many thanks for your report.

I marked for investigation. Can't do it myself due to lack of device and audio system to test.

Indeed interesting that it works first and fails to connect to the audio device (obviously). Perhaps some voltage/power drop or physical connection issue?

At least the USB get's disconnects:
[code]

Did you try a different cable for somehow bring the wire in a f

[2019-01-19 15:40] MichaIng commented on #2426
@walker93
Perfect, thanks for feedback 😃.

[2019-01-19 17:05] seniorgod commented on #2427
Hm, there is surely no motion......
And as the last hifi freak under 50 years i spend 50€ for an USB Cable to connect the DAC. The same DAC with the same cable works flawlessly with my raspberry pi.
Until now i used a raspberry pi as mpd server. I connected my Project PreAmp/Dac via usb to raspberry. I wrote an u-dev rule to observe if the preamp/dac is shut on o shut off.
If the dac is shut off t

[2019-01-19 17:38] MichaIng commented on #2427
@seniorgod
Ah, it's the Project RS audio:

___________

To be true, I have no idea. It was just a guess in the blue based on the relatively quick disconnect/connect/disable logs, which is simple to verify.
Clearly not my profession, since I don't use any media system with my DietPi.

@Fourdee
Might you have a look into this?

[2019-01-19 18:22] MichaIng opened #2428 "DietPi-Cloudshell | CPU scene fails on VM, disable there"
To reproduce:

0. Install `dietpi-cloudshell`
1. Start `dietpi-cloudshell` menu
2. Enable CPU scene
3. Run

What happens when CPU scene is about to show up:
[code]

Perhaps we can either disable the scene on VM or check for the required `/sys` files on all systemd, before adding the CPU scene to the checkbox menu.

[2019-01-19 18:33] seniorgod commented on #2427
** ok, i do some more investigations: I shut on and off my project an log the result of journalctl

the system is started
i start on my Preamp/DAC (which is always connected to sparky usbridge via USB cable)
the system find a new usb device
my u-dev rule fire and call a script which clerk the mpd playlist, load a playlist with radios stations and plays the first entry
everything is fine  - i hear

[2019-01-19 19:46] seniorgod commented on #2427
# start the system while PROJECT DAC is shut on

the system is started
while the Preamp/DAC is shut on
first i shut off the PREAMP DAC

## this is the output from udevadm monitor

KERNEL[76.703485] remove   /devices/platform/aotg_hcd.1/usb3/3-1/3-1.1/3-1.1:1.0/sound/card1/pcmC1D0p (sound)
KERNEL[76.703770] remove   /devices/platform/aotg_hcd.1/usb3/3-1/3-1.1/3-1.1:1.0/sound/card1/controlC1 (sound)

[2019-01-20 10:12] tomillr commented on #1171
Any progress integrating a compatible bootloader into the official image?

[2019-01-20 10:16] Fourdee commented on #2427
@seniorgod

Thanks for the report 👍

Appears to be a hardware specific issue, possibily system instability.

Might be worth trying the following, to see if same results:
- Different PSU
- Different USB DAC

Failing that, if problems persists, I would get in touch with Allo and reference in this ticket.

[2019-01-20 11:32] seniorgod commented on #2427
@Fourdee

thanks for replying

i investigated further.
I use the sparky together with allo usbridge which provides better "usb sound"
So i thought thats a problem can occur at that device. The usbridge is an separate board, which is connected via the 50PIN connector to the sparky.
Currently feed power by the usbridge to the sparky.
I change the connection to the DAC from the usb port of the usbrid

[2019-01-20 17:01] MichaIng opened #2429 "Pinebook | initramfs-tools fails on APT upgrade"
# Workaround/Fix: https://github.com/Fourdee/DietPi/issues/2429#issuecomment-455994355

Ref: https://dietpi.com/phpbb/viewtopic.php?f=9&t=5422&start=10#p16131

Suspicious log part:
[code]

There seems to be a post-update script for the initramfs placed on the base image, which obviously is ARMbian?

The APT upgrade makes the system unbootable. The initramfs is removed first, then the generation of

[2019-01-20 17:12] ThomasLeister opened #2430 "Rock64 | Add Squashfs kernel support"
#### Is your feature request related to a problem? Please describe:
Currently I'm using DietPi with my Rock64 SBC. Since it's quite powerful, I'd like to run multiple applications in linux containers on it. I'd like to use LXD. LXD is available as Canonical Snap package (this is the recommended way to install LXD). So I've tried installing the snapd package, first, but I'm facing this error messag

[2019-01-20 17:13] MichaIng commented on #2426
Will mark as closed, since issue and fix are pretty clear, no specific testing required.

[2019-01-20 17:13] #2426 closed, assigned to nobody

[2019-01-20 17:16] MichaIng commented on #2430
@ThomasLeister
Many thanks for your request.

Could you try: `G_AGI squashfs-tools`

[2019-01-20 17:31] ThomasLeister commented on #2430
I've installed squashfs-tools before but it didn't give me squashfs support. I guess this is just a package for some userland tools, but not for the file system support itself.

[2019-01-20 17:40] MichaIng commented on #2430
@ThomasLeister
Could you try:
`modprobe squashfs`

If it fails:
`modinfo squashfs`

Otherwise perhaps indeed it is not included within the default Rock64 kernel 🤔. Need to check how to add it then.

_________

EDIT: Okay it indeed seems to be not included by default: https://github.com/ayufan-rock64/linux-build/issues/260

But then I see the 26 days old addition: https://github.com/ayufan-rock64/l

[2019-01-20 18:36] seniorgod commented on #2427
Dear all,

i tested different configurations today

I detached the usbridge from sparky and used a different power supply only for the sparky.
The result is the same.
When i disconnect the DAC without playing music, everything is flawless. When is shut on the DAC again, he is found by the sparky.
When i disconnect the DAC while i play music, i face the behaviour described above. The connection is

[2019-01-20 19:28] seniorgod commented on #2427
One additional point.

raspberry use usb 1-1.3
sparky use usb 3/3-1
when i shut off the DAC and the problems start, the sparky always need 10 minutes to reboot with shutdown -r now.
For it "feels" like the problem is related to the usb driver, which afterwards block 10 minutes till sparky is able to reboot.
Is that possible?

[2019-01-20 20:06] Win-doze commented on #854
I don't know if this will help someone but I managed to compile mjpg-streamer for the raspberry pi camera. I came across this webpage https://github.com/AmedeeBulle/octoprint-containers/issues/1 and found if I installed libraspberrypi-dev using 'apt-get install libraspberrypi-dev' before trying to 'make' I got the missing input file and could stream video from the raspberry pi camera.

[2019-01-20 20:31] MichaIng commented on #854
@Win-doze
Thanks for figuring this out

@Fourdee
Worth to give it another try by times?

[2019-01-20 20:40] thurloat commented on #2142
@carlosedp i'd love the files to try out, going to be running a similar setup using Kubernetes and i'd love to avoid the random shutdowns.

[2019-01-20 20:45] Win-doze commented on #854
@MichaIng
Still working on it but I have put this into rc.local to get mjpg-streamer to start up on booting my pi zero w:
/root//mjpg-streamer/mjpg-streamer-experimental/mjpg_streamer -o "/usr/local/lib/mjpg-streamer/output_http.so -p 8090 -w ./www" -i "/usr/local/lib/mjpg-streamer/input_raspicam.so -x 1280 -y 720 -fps 15"
and in octoprint used the following:
http://LOCAL.LAN.IP.ADDRESS:8090/?acti

[2019-01-20 22:17] MichaIng commented on #2428
Covered by: https://github.com/Fourdee/DietPi/commit/7c36b116157512eeb866175e1958fc7d5eda385e
- Allows to select scene on every device, but `N/A` shown, if `/sys/*` files are not available.
__________
🈯️ Verified it works on VM:
[code]

[2019-01-20 22:32] #2428 closed, assigned to nobody

[2019-01-21 02:30] #2295 closed, assigned to MichaIng

[2019-01-21 03:08] #2378 closed, assigned to nobody

[2019-01-21 03:10] Halytskyi commented on #2430
I can confirm that snapd works well on Rock64 with the latest (for now) kernel: [*4.4.154-1128-rockchip-ayufan-g61b4b1151f9a*](https://github.com/ayufan-rock64/linux-kernel/releases/tag/4.4.154-1128-rockchip-ayufan)
[code]

[2019-01-21 03:12] #2383 closed, assigned to nobody

[2019-01-21 03:22] MichaIng commented on #2430
@Halytskyi
Thanks for the info. Is this kernel already packed with the `linux-rock64` APT package?

[2019-01-21 03:24] MichaIng commented on #2429
Ah lol found the already applied fix:
- https://github.com/Fourdee/DietPi/commit/f10e9f2eabe854d199c15a37924ef78b02eb6414
- https://github.com/Fourdee/DietPi/commit/ffd743a3a7b1932dae63eb96ddb42159683803ca

However, I think we should find the root of this and remove the APT trigger that was obviously placed by ARMbian: `ls -Al /etc/initramfs/post-update.d/`

[2019-01-21 03:41] Halytskyi commented on #2430
yes, you can install it by command:
[code]

[2019-01-21 08:54] Fourdee commented on #2429
@MichaIng

Yep, already fixed, however if the v6.20 patch fails, users will need to manually apply the ```/etc/armbian-release``` file before updating.
[code]

I'd prefer we leave it with the file left in place. Prevent any further issues down the road should that file and/or its contents be required in any form.

[2019-01-21 09:17] Fourdee commented on #2427
@seniorgod

In ```dietpi-config``` have you tried setting ```usb-dac-1.1``` for the soundcard? This forces USB 1.1 mode for stability.

After applying, reboot and see if it improves.

Failing the above, I suspect hardware related issue as the issue occurs on volumio also.

[2019-01-21 09:39] Fourdee commented on #2414
@Hoffnungsschimmer

Very strange, I was unable to replicate in testing with RealVNC. Both shared and dedicated desktops were fine.
REF: Using RealVNC viewer https://www.realvnc.com/en/connect/download/viewer/

Please can you confirm on the client system (not the RPi):
- VNC client used?
- OS running on the VNC client?
- Any ALT/CTRL keys that might be forced enabled?
- Keyboard country set (eg: US

[2019-01-21 09:54] Fourdee commented on #2406
@MichaIng

Webserver stack should be a pre-req for Certbot, to be consistent with what users expect from our install system.

I believe this will open a can of worms and increase our support level. I'd personally prefer to only allow users to install a web-server stack that we pre-define.

Hmm, these should not install PHP/SQL unless they are specified.
[code]
EDIT: If I remember correctly, we ena

[2019-01-21 10:39] MichaIng commented on #2406
@Fourdee
Jep, databases can already be skipped, PHP currently not, if webserver selected. The auto pre-req selection will select PHP with any webserver automatically, doubled, since all webservers have `aSOFTWARE_REQUIRES_PHP[$software_id]=1` as well.

At least currently Minio S3 object server is handled separately without any webserver. So DietPi-LetsEncrypt will not show any error, if this is in

[2019-01-21 11:06] MichaIng commented on #2429
@Fourdee

Good point. However perhaps we could additionally remove the offending APT drop-in trigger (still keeping `/etc/armbian-release`), if it does nothing useful. Generally good to know/learn about the custom ARMbian changes.

[2019-01-21 11:48] MichaIng commented on #2430
@Halytskyi
Okay great!

@ThomasLeister
Please try `apt-get dist-upgrade` first, to stay with `linux-rock64` marked as manual only (and thus automatically switch to newer kernels, when available).
If the mentioned version is not installed by this, go with above and see if this enables `squashfs` support as expected.

[2019-01-21 11:57] MichaIng commented on #2416
@Fourdee
Is this implemented fix into LXDE? In case remove it during config step or provide a working replacement?

[2019-01-21 12:12] MichaIng commented on #2198
Hmm, not too easy to check if the adapter/module supports the power feature respectively it's enabled: https://www.linuxquestions.org/questions/linux-laptop-and-netbook-25/update-to-kernel-3-13-removed-ability-to-set-powersave-on-ar9462-ath9k-4175499101-print/

Would need to find the related kernel module first and then check if it has the `ps_enable` option (and set to 1). Not even sure if this i

[2019-01-21 13:32] MichaIng commented on #2198
Fixed with: https://github.com/Fourdee/DietPi/commit/17a1a064533630dbd4393f90f6f10de1c03cea7f + syntax fix 😉: https://github.com/Fourdee/DietPi/commit/bdbcf3b55598e8ae7e8ec5c0a6a3bb11eaf2595c
Patch on update: https://github.com/Fourdee/DietPi/commit/23c39c30cee52dffcf3a6d1ac84aa964b43603a5
Changelog entry: https://github.com/Fourdee/DietPi/commit/48d584565062e30c10d9532266df03244aa02011

🈯️ Test s

[2019-01-21 20:18] Gill-Bates opened #2433 "DietPi-Software | Nextcloud: Error during Install"
Setup of Nextcloud stuck during Installation:
![unbenannt](https://user-images.githubusercontent.com/25774289/51496994-0b2efb00-1dc2-11e9-8811-7f0ec56f2e0d.PNG)

 │ DietPi-Software: cp -f /DietPi/dietpi/conf/apache.nextcloud.conf
             │ /etc/apache2/sites-available/dietpi-nextcloud.conf
             │  - Exit code: 1
             │  - DietPi version: v6.19.7 (Fourdee/master) | HW_MODEL:3 |

[2019-01-21 20:29] MichaIng commented on #2433
@WTFMaster
Thanks for your report.

Jep it is a known issue with v6.19 and resolved with v6.20 (Beta).

Please see how to apply the fix now: https://github.com/Fourdee/DietPi/issues/2383#issuecomment-450968409

[2019-01-21 20:50] mfeif commented on #2378
Nice work guys! Thanks!

[2019-01-21 21:40] seniorgod commented on #2427
Hello Fourdee,

thanks for you help.
First: The change to usb-dac-1.1 only result in a quit room. I hear nothing. Maybe i can't play music because i address the DAC in MPD via "hw:1:0". I don't know.

Meanwhile the allo support send a mail. It seems there is a "trick" in the USB driver or chip or whatever else.
In the file

/DietPi/uEnv.txt

i had to change a variable from
   aotg.urb_fix = 1
   t

[2019-01-21 21:45] Gill-Bates commented on #2433
Awesome!

I would really appreachiate, when the php.ini will be optimized by the Installer regarding to the recommended settings of Nextcloud

opcache.enable=1
opcache.enable_cli=1
opcache.interned_strings_buffer=8
opcache.max_accelerated_files=10000
opcache.memory_consumption=128
opcache.save_comments=1
opcache.revalidate_freq=1

memory_limit = 512M

[2019-01-21 22:29] MichaIng commented on #2433
@WTFMaster
This is (should be) already the case. We add the settings to `/etc/php/7.0/mods-available/opcache.ini`, which is a bid more elegant than in `php.ini` directly, since the settings are switched on/off together with the OPcache module. By this the php.ini can be updated to new defaults via APT automatically e.g. so drop-in configs should be generally preferred on Linux.

`opcache.memory_co

[2019-01-21 22:33] MichaIng commented on #2427
@seniorgod
Ah this is great. AFAIK we do not touch `uEnv.txt` on Sparky SBC, so yeah this is something we should do then, when selecting a USB DAC at least.

Not sure what the setting does and if there are any downsides to not apply this by default on all devices, needs some research. I reopen the topic to not forget about this.

[2019-01-22 13:14] MichaIng opened #2434 "DietPi-WiFi-Monitor | Service startup not reliable on boot"
Ref: https://dietpi.com/phpbb/viewtopic.php?p=16169#p16169

Associated commits:
- https://github.com/Fourdee/DietPi/commit/69fbd3825a1fc09fb3aa5251b1e42de605184c07#diff-80b2c3c813fefbd33d0a7d43b5de7084
- https://github.com/Fourdee/DietPi/commit/0e7bb27b08f4b1df924d65d5b8b6a679fbccc266#diff-80b2c3c813fefbd33d0a7d43b5de7084
- https://github.com/Fourdee/DietPi/commit/0140b639e7e415963fa9ab5009b2ca302

[2019-01-22 16:10] garret opened #2435 "[Solved] Bazarr not working anymore. Probably needs gevent but cannot be installed from python pip"
I have DietPi v6.19.7 installed on a Raspberry Pi 3B. Here I have had [Bazarr](https://github.com/morpheus65535/bazarr) up and running without any issues. It was installed by giving these commands on a fresh install:
[code]

Recently I have noticed that Bazarr was not working anymore because I could not access to it via browser.
So when giving the last command from above I get this error:
[code]

[2019-01-22 18:35] MichaIng commented on #2435
I guess it is due to two different Python versions, 2.7 and 3.

~Just for a quick test, could you try to run the bazaar script with python3 command?~
Otherwise we need to make a deeper look. Generally Python2 and 3 should work fine beside each other as long as you start each script with the correct version.
__________
Further check:
- Home assistant installs `pyenv` to install Python 3.6.X on a pe

[2019-01-22 20:10] MichaIng commented on #2435
Hmm difference in install output/steps is:
[code]
- The `cffi` thing should be not related, but the `wheels building` is the one that fails first. Not sure what it is, but this is what needs to be checked.
- https://stackoverflow.com/questions/35169608/in-which-case-pip-install-building-wheel
- Seems to be pip issue that builds wheels sometimes wrong. But I don't understand all of the good enough.

[2019-01-22 20:22] Gill-Bates commented on #2433
![unbenannt](https://user-images.githubusercontent.com/25774289/51563095-bce62e80-1e8b-11e9-9151-c7e6d39203eb.PNG)
Since I have increased the RAM in php.ini from 128M (default) to the required 512 M, one error message disappeared

[2019-01-22 20:57] MichaIng commented on #2433
@WTFMaster
Will try to replicate.
____________
The `imagick` warning should be ignored. This is not required, just enables the create previews for some very rare image formats, used by the Theming app and disappears, if you disable theming.
There is even some discussion about that on Nextcloud forum, that imagick is an outdated app that implies some security holes, so should be really not enabled,

[2019-01-22 21:01] MichaIng commented on #2383
@Stefan3v
If you followed followed the above command to fix Nextcloud install, there was one thing I forgot - The downloaded Apache config needs to be enabled as well:
[code]

[2019-01-22 22:04] garret commented on #2435
Thank you MichaIng for the support.

Trying the first command you told me still gives me an error:
[code]

The same is valid for the second command:

[code]

This is the output of the commands that you suggested earlier instead:
[code]

I tried to use python3 as command to start Bazarr but still unsuccessful:
[code]

Finally, I tired to clone again Bazarr in another new folder and start it but got

[2019-01-22 22:28] MichaIng commented on #2435
@garret
Hmm: `greenlet.h:8:20: fatal error: Python.h: No such file or directory` - https://github.com/python-greenlet/greenlet/issues/103
- That `python-dev` is required is what I find in other sources as well, but on my test install, no `python-dev` is installed and it worked well.
- Your Python version with DietPi v6.19.7 should be far beyond 2.7.3, `2.7.13` more precisely, as can be seen from y

[2019-01-23 05:51] Hoffnungsschimmer commented on #2414
It's a bit frustrating.
I use the RealVNC on a WIN10 and on a Win7 PC.
Have also accessed from another Raspberry (Raspbian V9 stretch) via VNC on the Dietpi.
Again, I can not double-click, the same as the other try.
I also tried it with two Cherry keyboards G84-4400LUBEU and DW5100.
Languages tested GB and DE. Also with a radio and cable mouse.
Different mouse button combinations tried ...

I stil

[2019-01-23 09:29] garret commented on #2435
Regarding the versions of python, I have run an _apt-get update and upgrade_ and there are no new versions. So I guess armhf has older versions :/

I re-installed the packages you were mentioning (_apt install --reinstall python python2.7 python2.7-minimal python-pip python-pip-whl_) but still got the same errors when trying to install the two pip applications.

So I finally gave _apt-get install

[2019-01-23 09:29] #2435 closed, assigned to nobody

[2019-01-23 11:29] sparkysbc commented on #2386
vim /var/www/allo/resources/views/frontend/squeezelite_settings.blade.php
line 229 added  below line for dop
    <option value = "dop" <?php if($DSD_NATIVE == 'dop') { echo "selected"; } ?>>dop</option>

![image](https://user-images.githubusercontent.com/18591155/51603705-91694f80-1f30-11e9-9386-890d97887e30.png)

[2019-01-23 12:25] MichaIng commented on #2435
@garret
Great that it works now.

Okay, seems `python-pip` in many cases requires `python-dev` (we also install it with out python-pip install: https://github.com/Fourdee/DietPi/blob/master/dietpi/dietpi-software#L6842), but this is as well dependent on architecture and/or distro, e.g, Raspbian vs Debian.

- [x] Perhaps we should contribute this experience with the Bazarr devs, to add `python-dev`

[2019-01-23 12:59] MichaIng commented on #1701
Who the hell pushed this FeatHub request so hard the last days/week 😄? Although cheating should be prevented via GitHub account login, nearly 20 votes in this short time makes me think 🤔 😄.

However, maybe Mycroft devs or community found it and voted all together. I already had a look into it:
- Install looks pretty easy via install script: https://github.com/MycroftAI/mycroft-core/blob/dev/dev_se

[2019-01-23 13:28] LexiconCode commented on #1701
Someone may have advertise the dietpi platform and Mycroft FeatHub request :wink: on their forums.

[2019-01-23 13:40] MichaIng commented on #1701
@LexiconCode
You mean someone particular? 😉

Jep interesting project indeed, and spreading better earlier than later gives it better chance to stay against the commercial alternatives in voice assistant market.

[2019-01-23 13:44] Fourdee commented on #2416
@MichaIng

Yep, appears the URL defined in the sourcecode for LXpanel is hard coded for Yahoo API, which is a 404:
https://git.lxde.org/gitweb/?p=lxde/lxpanel.git;a=blob;f=plugins/weather/yahooutil.c;h=8c0f82117fa598c0dcc0a92be73454b2b7dcd37e;hb=a5a4d42e7f18f413033d1802fb99c59d9d1a2e6f#l53
- http://query.yahooapis.com/

https://developer.yahoo.com/weather/

~Will patch for removal.~
Not keen on pa

[2019-01-23 13:45] j2l commented on #870
Docker is available from the dietpi-software menu, but I didn't find any working orchestrator/router.

Did someone successfully run one?

[2019-01-23 13:49] Fourdee commented on #2416
Completed, resolved for fresh installs. Existing users will need to remove the panel app using rightclick.

[2019-01-23 13:49] #2416 closed, assigned to nobody

[2019-01-23 14:48] LexiconCode commented on #1701
I couldn't help myself but post on [mycroft forums](https://community.mycroft.ai/t/vote-for-mycroft-integration-into-dietpi-os/5484). So that's where some of the votes come from at least.

Mycroft has been running it on my raspberry pi for some time and has integrations for Home Assistant. It's great to see a voice assistant assistant that's built for privacy by design.

[2019-01-23 14:55] MichaIng commented on #1701
Jep, I totally agree, way better than having one of these commercial devices, where suddenly users find their private conversations stored on an external server, and then reading reports about data abuse, security breaches and such.

**EDIT: I assigned v6.21 milestone. v6.20 is already in Beta, so no new features/software will be implemented.**

[2019-01-23 15:31] volpone commented on #2386
Thank's @sparkysbc  !  Good addition.

Seems OK with current Squeezelite version used with DietPi (**v1.8.7-1020**)
However, last SqueezeLite version (currently not used with DietPi) seems to handle differently -D options. See: https://ralph-irving.github.io/squeezelite.html

**-D [delay]**
_Output device supports DSD over PCM (DoP). DSD streams will be converted to DoP before output. If this opti

[2019-01-23 18:59] ThomasLeister commented on #2430
Sound promising! :-) I've installed the newer kernel via

[code]

... which did work, but unfortunately my Rock64 keeps booting the older kernel version. Is there a quick command to be run to refresh the boot loader or anything similar to that?

[2019-01-23 20:58] MichaIng commented on #2430
@ThomasLeister
Not sure, obviously the kernel package install does not trigger a bootloader update. Did you try `apt update && apt-get dist-upgrade`, to check if the new version is already pulled with the meta package? With this for sure the bootloader would be updated as well.

Sadly I currently can't find the correct method how the update uboot the load/match the new kernel. Perhaps it's as we a

[2019-01-25 11:07] rox-wolf opened #2438 "DietPi-Software | Pi-hole fails to install due to missing php-opcache"
#### Details:
- Date           | Fri 25 Jan 10:54:09 GMT 2019
- Bug report     | Bug report sent, reference code: 633aaeb5-6038-4947-b643-ab269f99e9e8
- DietPi version | v6.19.7 (Fourdee/master)
- Img creator    | DietPi Core Team
- Pre-image      | Meveric
- SBC device     | Odroid XU3/XU4/HC1/HC2 (armv7l) (index=11)
- Kernel version | #1 SMP PREEMPT Thu Aug 23 05:59:33 UTC 2018
- Distro

[2019-01-25 12:22] MichaIng commented on #2438
@rox-wolf
Many thanks for your report.

Hmm, obviously Debian removed the alias/meta package from the repo. Only `php7.0-opcache` can be found. Might be also the case for other PHP packages. I think on Stretch we should switch to php7.0-* package naming, besides APCu, Redis and some where those do not exist.

We have to check which packages are affected by this change to provide a reliable solutio

[2019-01-25 17:42] Fourdee commented on #2414
@Hoffnungsschimmer

Very strange.

Things to try:
- Uninstall RealVNC and try VNC4 server instead. The RealVNC viewer will work with this also.
- Unplug any USB peripherals on the RPi

If you can zip/7z the ```.img``` once read, will reduce the size for upload.

[2019-01-25 18:51] seniorgod opened #2439 "shairport-sync not working | Update binaries"
## Creating a bug report/issue:
on a fresh install on DietPi on Sparky/USBridge shairport-sync is running but the streams break down after some seconds or minutes.
My Apple devices find the shairport-sync-device. The devices are able to stream to shairport-sync. The stream is received and i can hear music via my Hifi. After some seconds or minutes the audio abort. On the iPhone it look like the mu

[2019-01-25 19:42] MichaIng opened #2440 "DietPi-Software | Nextcloud Talk: New coturn systemd unit on Buster"
On Buster, the `coturn` APT package now includes a systemd unit, superseding the `init.d` service.
- It runs as user `turnserver` now. This means we need to adjust permissions to allow TLS with LetsEncrypt certificate. Goes hand in hand with https://github.com/Fourdee/DietPi/issues/2363 to implement TLS support for various software titles which do not use a dedicated webserver.
- It does (currentl

[2019-01-25 20:25] MichaIng commented on #2438
@rox-wolf
Okay quite easy to fix:
`sed -i "s/^[[:blank:]]*PHP_APT_PACKAGE_NAME='php'/	PHP_APT_PACKAGE_NAME='php7.0'/" /DietPi/dietpi/dietpi-software`

Then retry Pi-hole install.
___________
#### Dev todo
🈯️ Test succeed on VM
- [x] At best test on RPi Stretch, just in case the Raspbian repo has differences.
______________
PR up: https://github.com/Fourdee/DietPi/pull/2441

[2019-01-25 22:51] MichaIng opened #2442 "System | Disable TTY1 on headless systems"
#### Background
- Usually one can always plug display + keyboard to access the local console on TTY1, besides on SBCs without any display port of course.
- On RPi there was the `CONFIG_HDMI_OUTPUT` `dietpi.txt` entry and `dietpi-config` > Display Options > Display Resolution > Headless, to have display output completely disabled during boot process via `tvservice -o` and framebuffer size set to mi

[2019-01-26 08:58] Fourdee commented on #2430
I've updated our image which includes support for ```squashfs```. However, cant release image until v6.20 release, ETA day/two.

[2019-01-26 09:11] Fourdee commented on #2052
- 🈴 RockPro64 | Kernel panic after image PREP. Unstable board? Occurs on non-dietpi images.
- 🈴 Rock64 | Updated to ARMbian image (available after v6.20 release).
[code]

Still fails with ```python build-essential``` installed:

[code]

[2019-01-26 09:44] Fourdee commented on #2439
@seniorgod

Many thanks for the report + solution. 👍

Our current version binaries are ```shairport-sync_3.1.7```. I'll rebuild latest and release for v6.20.

[2019-01-26 09:58] seniorgod commented on #2439
I test also spotifyd

It’s a spotify daemon based on rust language.

Advantage:
  - simpler user/password login - you do not need spotify_app_key
  - automation with scripts which run at start or stop music
  - auto discover without additional avahi daemon

Disadvantage:
  - password is readable in config on disk
  - can’t be controlled from outside

Matthias

[2019-01-26 10:30] Fourdee commented on #2439
Install tests:
- 🈯️ armv6
- 🈯️ armv7
- 🈯️ armv7
- 🈯️ x86_64

Completed, patched in v6.20

[2019-01-26 10:30] #2439 closed, assigned to Fourdee

[2019-01-26 11:58] docgalaxyblock opened #2443 "DietPi LetsEncrypt Nginx missing plugin !?"
Dietpi 6.19.7 ODROID XU4 Cloudshell-1

Today I made a fresh DietPi install
When I came to my Webserver and I tried to encrypt it, it fails.
Her my terminal output

DietPi-LetsEncrypt
─────────────────────────────────────────────────────
 Mode: Running CertBot

[  OK  ] DietPi-LetsEncrypt | Nginx webserver detected
[  OK  ] DietPi-LetsEncrypt | Desired setting in /etc/nginx/sites-available/default

[2019-01-26 12:06] Fourdee commented on #2438
@MichaIng

RPi + Pi-Hole install = 🈯️

[code]

[2019-01-26 12:12] MichaIng commented on #2443
@potter-91
Jep known issue and fixed with v6.20: https://github.com/Fourdee/DietPi/commit/4fa045e60fa2b868abbf8ebeb5eeeef21ba1eafe

Please install `apt install python-certbot-nginx` and retry.

[2019-01-26 12:21] docgalaxyblock commented on #2443
Oh OK
Could't find an existing issue
Nice to hear that it is fixed ^^

[2019-01-26 12:44] tenrek opened #2445 "Image | ROCK Pi 4"
### ADMIN EDIT
#### Testing image available: https://github.com/MichaIng/DietPi/issues/2445#issuecomment-528088922
#### Many thanks for @canabino for creating this! 👍 ❤️
__________
So, any plans for support / make an DietPi for [ROCK Pi 4](http://rockpi.org/) ?

[Debian Desktop download](https://wiki.radxa.com/Rockpi4/downloads)

**Admin edit: Vote for it on FeatHub: https://feathub.com/MichaIng/D

[2019-01-26 13:28] MichaIng commented on #2443
@potter-91
I will mark as close, but please reopen if there is still an issue.

[2019-01-26 13:28] #2443 closed, assigned to nobody

[2019-01-26 15:34] MichaIng commented on #2433
@WTFMaster
Are the OPcache warnings resolved with the two commands above?

[2019-01-26 15:48] MichaIng commented on #2445
@tenrek
Thanks for your request.
Feel free to add it to our FeatHub page to collect votes: https://feathub.com/MichaIng/DietPi

If we get a developer sample or @Fourdee is willing to buy one, we can create one.

Official Debian Stretch desktop image available: https://wiki.radxa.com/Rockpi4/downloads
_____________
Hmm what I don't like when reading the website:
- They claim 4th gen RPi, but it has

[2019-01-26 16:18] seniorgod commented on #2439
did you include libalac  for shairport-sync ?

other question regarding mpd.
Do you update to 0.21.x ? in dietPi 6.20 ?

best regards

[2019-01-26 16:25] MichaIng commented on #2439
@seniorgod

MPD is updated to `0.20.23`
`0.21.3` failed to build: https://github.com/Fourdee/DietPi/issues/2377#issuecomment-450977281

[2019-01-26 16:43] MichaIng commented on #2332
@Fourdee
I think we should upload an Odroid C1 Stretch image. Meveric does not offer one, but the related forum thread includes users reporting successful distro upgrade. With DietPi-PREP we have best chances that this will work, however the system should be tested, perhaps added as experimental/beta state first.

Related new issue: https://github.com/Fourdee/DietPi/issues/2561

[2019-01-26 17:43] seniorgod commented on #2439
short version: is compiled mpd 21.4 on DietPi and it works!

long version:

i asked you because following point from the 0.21.x mpd changelog sound very interesting:
* output
  - alsa: non-blocking mode
Today the problem with running shairport, spotifyd and mpd in parallel is, that mpd locks the alsa output. You have to stop streaming mpd before starting apple airplay or spotify

after your answer

[2019-01-26 19:00] seniorgod commented on #2439
one additional point:

i found that the build script "installed" /usr/local as location for mpd. therefore mpd expects its config file under /usr/local/etc .... So i linked it from /etc to /usr/local/etc

no idea to change it

[2019-01-26 20:29] cmonty14 opened #2446 "DietPi-Software | Netdata: Now available in Debian Buster and Stretch backports repo"
Hi,
according to this issue #1494 the netdata binary matches the APT install in Stretch Backport, and the latest release there is: Paket: netdata (1.11.1+dfsg-2~bpo9+1)

Could you please update your binary version accordingly?

THX

[2019-01-26 20:42] MichaIng commented on #2446
@74cmonty
Thanks for the info. Nice to finally have netdata in Debian Buster and even Stretch backports.

Our binaries/packages are own source builds and v1.11.1 as well. Having the same version now in Stretch backports indeed allows us to switch to APT repo, if no downsides found. But I think we will stay with our packages, as long as we support Jessie, as they allow v1.11.1 on Jessie as well, so

[2019-01-26 21:00] midwan opened #2447 "Adding PiCase safe shutdown script causes freeze on next reboot"
## Creating a bug report/issue:

#### Required Information:
- DietPi version	| 6.19
- Distro version	| Stretch
- Kernel version	| Linux DietPi 4.14.93-v7+
- SBC device		| RPI3
- Power supply used	| 5V 2.5A
- SDcard used		| SanDisk ultra

#### Additional Information (if applicable):
- Can this issue be replicated on a fresh installation of DietPi?
- Yes

#### Steps to reproduce:

1. Install a fresh

[2019-01-26 21:27] rox-wolf commented on #2438
Applied the sed fix and Pihole installed successfully 👍

[2019-01-26 21:37] MichaIng commented on #2447
@midwan
Thanks for report.

Does `dmesg` or `journalctl` show something? Hmm hard to check if login on console is not possible. Is it possible to login via SSH instead or at least on serial console?

Hmm, on v6.19 `rc.local` will be called after `dietpi-postboot.service` prompts the login banner: `Before=rc-local.service rc.local.service`
Perhaps the login banner is just overridden by `rc.local` o

[2019-01-26 21:45] MichaIng commented on #2438
@rox-wolf
Great, thanks for reply. I will leave the issue opened, just in case we've overseen something in relation with any other PHP dependant software. Want to go through them once carefully tomorrow moring, before v6.20 release.

[2019-01-27 08:55] lpninja commented on #870
@j2l yes we ran docker on it.

[2019-01-27 10:52] jvteleco opened #2449 "DietPi-Software | Grafana: Switch to new official APT repo"
## Creating a bug report/issue:

#### Required Information:
- Date           | Sun 27 Jan 10:21:56 GMT 2019
- DietPi version | v6.19.7 (Fourdee/master)
- Img creator    | DietPi Core Team
- Pre-image      | FriendlyARM
- SBC device     | NanoPi NEO 2 (aarch64) (index=65)
- Kernel version | #82 SMP Fri Dec 8 14:33:14 CST 2017
- Distro         | stretch (index=4)
- Command        | G_AGUP
- Exit cod

[2019-01-27 12:34] ThomasLeister commented on #2430
Hi again, sorry for the delay. ```update && apt-get dist-upgrade``` did not work - there was no new kernel version available at this time.

I'll try again this evening and maybe do some investigation how to (reliably) update the boot loader configs :-)

[2019-01-27 12:35] ThomasLeister commented on #2430
Oh, just read your comment, @Fourdee . Thank you very much! It's not urgent in my case. I can wait :-)

[2019-01-27 12:45] MichaIng commented on #2430
@ThomasLeister
Okay, so the meta package does not yet pull the new kernel. And I guess if you install it (as you tried), you need to update the bootloader as well, either via separate APT package (not sure how they are called on Pine64 SBCs) or some command.

However maybe it's easier to wait for kernel package integration or our new image then.

[2019-01-27 13:44] MichaIng commented on #2449
@jvteleco
Many thanks for your report.

The error is strange. Here I can access the URL without issues.
I recognized on ARMv8 we use `grafana-on-raspberry` sub dir to point to the repo, on ARMv6/7 not 🤔. This is a bid strange, since all all arch sub dirs on the repo are structured the same: https://bintray.com/fg2it
So it should be either without or with subdir on all archs, actually with subdir,

[2019-01-27 14:54] Fourdee commented on #2445
@MichaIng

Yep, although ASUS TB has the same form factor as a RPi 3. However, seems the Chinese companies can go much further to "copy and promote a copy" without their copyright laws lol.

[2019-01-27 15:37] MichaIng commented on #2445
@Fourdee
Jep nothing against identical form factor. I am fans of standards, so e.g. SBC cases can fit for many different SBCs. But ROCK Pi goes a bid too far here. Calling it RPi 4 and also `v1.3` on top of Raspberry Pi 3B being `v1.2`. This is not about standards only, at least all is pointing in this direction to use a bid more careful wording 😉.

I guess they do not even break any copyright her

[2019-01-27 16:01] MichaIng commented on #2445
I was reading a bid the forum: https://forum.radxa.com/c/community
- Feedback from users (many from UK) looks good.
- Currently only sold at AllNet, however many requests for having this on Amazon or other shops to make it easily available in Europe.
- It is still in early stage: Official heatsink in development; video playback needs manual tweaking, 4k doesn't work yet at all; chromium does not w

[2019-01-27 23:50] MichaIng commented on #2026
@Fourdee
I think the RPi image needs to be redone. It's on DietPi v6.17 where I added a bug to exit, if hardware identifier file could not be found, which is meant to not exist on RPi: https://github.com/Fourdee/DietPi/commit/eae7af9d50775d833c2c672a344f364df1b02ae5#diff-c7bcfe6e7ece17b798b4d08a37df308cR37

You fixed that with v6.18: https://github.com/Fourdee/DietPi/commit/0c0995312500865d049c132

[2019-01-28 12:25] midwan commented on #2447
@MichaIng
Thanks for the feedback!
I'll have to reflash a card to test this again, since it causes the system to become pretty much unusable when it happens (can't boot into it).

What you mention about `rc.local` might very well be in the heart of the problem, so I'll try with that first. I can't believe it's related to Python either.

I'll run some tests from scratch and get back to you soon.

[2019-01-28 14:15] MichaIng opened #2454 "DietPi-Software | DietPi-RAMlog and rsyslog dependants compatibility"
Ref: https://dietpi.com/phpbb/viewtopic.php?p=16303#p16303

Should be handled as mentioned in the topic, so rsyslog will never be purged, if required by an installed software title.
Either block switch to RAMlog if persistent logs are required, or only keep rsyslog package installed if log files are required but hourly clearing is okay.

[2019-01-28 17:10] Fourdee commented on #2439
@seniorgod

Yep, I had the same problem, I believe ```prefix=/usr``` may resolve this in configure or make section (cant remember).

Heres the build script I have:
[code]

[2019-01-28 17:12] Fourdee commented on #2439
@seniorgod

Yep. I actually prefer this as the audio hardware is dedicated to the active stream. Also ensures programs like Roon (which attaches directly to the hardware) play nice.

[2019-01-28 17:14] Fourdee commented on #2026
@MichaIng

If I remember and can, i'll redo the image after v6.20 release.

Heres the finalisation script:
[code]

[2019-01-28 17:28] MichaIng commented on #2026
@Fourdee
Nice, maybe we can add this to `.meta`, so we can transparently work on/update it as well and available for end users for own image creations.

[2019-01-28 19:43] MichaIng commented on #2439
@seniorgod

Jep, we also found this and did the same for v6.20: https://github.com/Fourdee/DietPi/issues/2378#issuecomment-451315809

[2019-01-28 20:18] #2449 closed, assigned to nobody

[2019-01-28 20:19] #2438 closed, assigned to nobody

[2019-01-28 20:24] Fourdee commented on #2434
@MichaIng

Should be fine as starts after ```dietpi-boot``` which does ```Wait_For_Valid_Network_Connection```.

Ideally, user should set:
- ```dietpi-config``` > 8  : Network Options: Misc > Boot Net Wait: Infinite

This will ensure connection is valid, before rest of system boots.

[2019-01-28 20:27] Fourdee commented on #2198
@MichaIng

Tested fine with onboard WiFi which supports power saving. Not sure I have any WiFi dongles without power support.

Although, code checks out, cant see any issues.

[2019-01-28 20:28] Fourdee commented on #2323
@MichaIng

Appears fine in testing, good work @MichaIng  👍

Will mark as completed.

[2019-01-28 20:28] #2323 closed, assigned to nobody

[2019-01-28 20:29] Fourdee commented on #2401
@MichaIng

Good work, tested on RPi with HDMI disabled, no output to HDMI TV. Will mark as completed 👍

[2019-01-28 20:29] #2401 closed, assigned to nobody

[2019-01-28 20:32] Fourdee commented on #2301
Results now in survey, will mark as completed.
[code]

[2019-01-28 20:32] #2301 closed, assigned to nobody

[2019-01-28 20:34] Fourdee commented on #2346
@GrahamGIGA

Unable to replicate this in our local testing.

I believe this is now resolved? I'll mark as closed. If problems persist, please reopen.

[2019-01-28 20:34] #2346 closed, assigned to Fourdee

[2019-01-28 20:34] #2239 closed, assigned to Fourdee, MichaIng

[2019-01-28 20:36] Fourdee commented on #2187
Ok, ```G_BACKUP_FP ``` now implemented.

We just need to remember to roll this out as required in future.

Will mark as completed.

[2019-01-28 20:36] #2187 closed, assigned to Fourdee, MichaIng

[2019-01-28 20:37] #2384 closed, assigned to MichaIng

[2019-01-28 20:39] Fourdee commented on #2079
Will mark as completed:
- I believe all menus now have the new standard ```'X' ': X'```
- Will further reduce double current value print out in ```G_WHIP_MENU``` when I come across them 😄

[2019-01-28 20:39] #2079 closed, assigned to Fourdee, MichaIng

[2019-01-28 20:41] Fourdee commented on #2153
Will update to ARMbian based image, more stable:
https://github.com/Fourdee/DietPi/issues/2026

[2019-01-28 20:43] MichaIng commented on #2187
@Fourdee
Jep, better/individual config handling is an ongoing process implemented, when we touch related install code anyway.

[2019-01-28 20:43] Fourdee commented on #2052
@MichaIng

Great work on this 👍

I believe we can now mark this as completed?

If interest peaks for additional SBC install support of WG, we can investigate at that time. For now, I believe RPi + x86_64 should cover >60% of our users.

[2019-01-28 20:44] MichaIng commented on #2079
@Fourdee
I think I saw one missing case, cloudshell or another misc program. Will check quickly.

[2019-01-28 20:46] Fourdee commented on #2429
Will update image in following ticket:
https://github.com/Fourdee/DietPi/issues/2026

[2019-01-28 20:46] #2429 closed, assigned to nobody

[2019-01-28 20:47] Fourdee commented on #2026
ToDo, update:
- 🈯️ RPi
- Pinebook
- Pine64 (ARMbian), tried twice, same results. ```apt-get update``` hangs also.
[code]
- 🈯️ Rock64

[2019-01-28 20:48] MichaIng commented on #2079
Done: https://github.com/Fourdee/DietPi/commit/b6635e0ca426a2c20e3169ddd192bf8c58a2a3ed
- Applied to all menus, besides where second entry is "Seconds" or "Hours"

[2019-01-28 20:49] Fourdee commented on #2430
@ThomasLeister

I'll move this to following ticket: https://github.com/Fourdee/DietPi/issues/2026#issuecomment-458294964

V6.20 (+ updated image) aiming to release today. Please keep an eye on twitter for release notice:
[DietPi Twitter](https://twitter.com/dietpi_)

[2019-01-28 20:49] #2430 closed, assigned to nobody

[2019-01-28 20:51] MichaIng commented on #2052
@Fourdee
Jep and Odoids C1/C2/XU4 are already enabled as well. Other devices on demand and when we find reliable kernel + header packages.

I am currently writing the dietpi.com docs for WireGuard, so this can be closed.

[2019-01-28 20:51] #2052 closed, assigned to MichaIng

[2019-01-28 20:51] louisefindlay23 opened #2456 "USB Installer | Native PC (BIOS)"
#### Is your feature request related to a problem? Please describe:

- I would love if you could implement a USB installer for the Native BIOS PC image as I can never get it to install properly to my hard drive. It always has a small root partition which I can't expand.

It's been mentioned in #1007 that it could be worked on if the image was popular.

#### Additional context:

- A similar impleme

[2019-01-28 21:10] MichaIng commented on #2052
@Fourdee
Online docs done, please review for wording and such: https://dietpi.com/phpbb/viewtopic.php?p=16308#p16308
- The image is made for white background, subtitle has no optimal contrast. However it looks somehow elegant like this 😄.

Will quickly add the link to dietpi-software array: https://github.com/Fourdee/DietPi/pull/2457/commits/42d60da56a72ce487c6b60e51c35b54d1b0c61c8
- NordVPN was m

[2019-01-28 21:32] MichaIng commented on #2456
@louisefindlay23
Thanks for your request.

Hmm, the partition and file system should be able to expand, AFAIK, and this should be done automatically on first boot.

Do you face some error message when trying it manually?
Also please paste the log or our expansion script: `cat /var/tmp/dietpi/logs/fs_partition_resize.log`

[2019-01-28 21:37] MichaIng commented on #2198
@Fourdee
I tested it here successfully with onboard WiFi without power savings support. I mark as closed.

[2019-01-28 21:37] #2198 closed, assigned to nobody

[2019-01-28 21:43] MichaIng commented on #2434
@Fourdee
We could disable WiFi monitor service, if network connection times out during `dietpi-boot`. However user might still expect it to run.
But I think it's fine for now. 10s is a very long time already to connect. If connection fails in 10s, then something with the WiFi AP is wrong. And 10s wait on boot fits 10s tick rate of WiFi monitor and is a good trade off IMO.

Will leave this open, st

[2019-01-28 21:56] MichaIng commented on #2415
Released UTC 21:55.

Thanks to all testers ❤️ 🎆. Will mark this topic as resolved 😃.

[2019-01-28 21:56] #2415 closed, assigned to nobody

[2019-01-28 22:04] MichaIng commented on #1740
Will mark as resolved.

[2019-01-28 22:04] #1740 closed, assigned to Fourdee

[2019-01-28 22:07] MichaIng commented on #2404
Should be retested now with v6.20, as we did some systemd reorder which might have resolved the issue.

[2019-01-28 22:26] maartenlangeveld opened #2458 "DietPi-Update | Update to v6.20.5 fails"
#### Details:
- Date           | Mon 28 Jan 23:16:07 CET 2019
- Bug report     | N/A
- DietPi version | v6.19.7 (Fourdee/master)
- Img creator    | DietPi Core Team
- Pre-image      | FriendlyARM
- SBC device     | NanoPi NEO 2 (aarch64) (index=65)
- Kernel version | #82 SMP Fri Dec 8 14:33:14 CST 2017
- Distro         | stretch (index=4)
- Command        | chmod -R +x /DietPi /var/lib/dietpi/serv

[2019-01-28 22:42] Gravesy83 commented on #2458
I just got pretty much the same error, but on a Raspberry Pi 2 :

#### Details:
- Date           | Mon 28 Jan 23:37:55 CET 2019
- Bug report     | N/A
- DietPi version | v6.19.7 (Fourdee/master)
- Img creator    | n/a
- Pre-image      | n/a
- SBC device     | RPi 2 Model B (armv7l) (index=2)
- Kernel version | #1159 SMP Sun Nov 4 17:50:20 GMT 2018
- Distro         | stretch (index=4)
- Command

[2019-01-28 22:53] MichaIng commented on #2458
@maartenlangeveld @Gravesy83
Thanks for reporting.

Hmm from which initial version did you update?

pre-v6.20 images should actually have `/etc/profile.d/dietpi-unsupported_terminal.sh` which fits the pattern. This is removed (moved to `/etc/**bashrc.d**/dietpi-unsupported_terminal.sh`) with patch v6.20, but after the `chown` command.

Did you manually removed `/etc/profile.d/dietpi-unsupported_te

[2019-01-28 22:56] maartenlangeveld commented on #2458
I installed DietPi on my NanoPi NEO2 (headless) using DietPi_v6.14_NanoPiNEO2-ARMv8-Stretch.img (downloaded) then updated to v6.19.7. This night after a reboot I did an upgrade to v6.20.5 using dietpi-update command.

[2019-01-28 23:12] maartenlangeveld commented on #2458
Hi Micha,

I updated from v6.19.7. I did not manually remove anything. Maybe I have re-run the update when it seemed to be stuck half way.

Thanks for your help, using fake script helped to run update.

Maarten

[2019-01-28 23:13] maartenlangeveld commented on #2458
On another devire (rpi zero w with dietpi 6.19.7) update hangs at:

[ INFO ] DietPi-Update | Patching 6.19.7 to 6.20

Or can this take much time (>30 mins) ?

Maarten

[2019-01-28 23:16] MichaIng commented on #2458
Strange, cant fine the issue currently:
- When updating to v6.19.7 (or earlier), `/etc/profile.d/dietpi-unsupported_terminal.sh` will be placed: https://github.com/Fourdee/DietPi/commits/e7a42f9f21eed4505f14459902365a3938cb76bd/rootfs/etc/profile.d/dietpi-unsupported_terminal.sh
- When updating to v6.20, the v6.19.7 (or earlier) `dietpi-update` version will download and place new code and do the a

[2019-01-28 23:24] MichaIng commented on #2458
@maartenlangeveld
It can take a while due to reinstalls, depending on which additional software titles you have installed.
But it should print something to the terminal, prefixed with `DietPi-Patchfile`.
You can check which script it is currently running via second SSH session (or second terminal) running: `htop`
______________
Report on forum: https://dietpi.com/phpbb/viewtopic.php?f=11&t=5469
-

[2019-01-28 23:58] #2396 closed, assigned to WolfganP, Fourdee, MichaIng

[2019-01-28 23:59] #2375 closed, assigned to MichaIng

[2019-01-28 23:59] #2356 closed, assigned to nobody

[2019-01-29 00:00] #2321 closed, assigned to MichaIng

[2019-01-29 00:45] MichaIng commented on #2458
I will now recover the file as empty on update branch to prevent the issue. We can then remove it with v6.21 where the new update script is in place/synced definitely.

**EDIT: Okay merged: https://github.com/Fourdee/DietPi/commit/0cc30eb6e41cb7ca6ec65852c58c013fcd57e24b**
- Whatever causes this issue, the above commit should resolve it + includes some fail safe `sync` just in case it is due to di

[2019-01-29 01:52] MichaIng opened #2461 "DietPi-JustBoom + MPD settings improvement"
Ref: https://dietpi.com/phpbb/viewtopic.php?t=5270

[2019-01-29 01:53] maartenlangeveld opened #2462 "DietPi-Software | MPD: Requires root permissions in some cases"
### Creating a bug report/issue

#### Required Information
- DietPi version |
G_DIETPI_VERSION_CORE=6
G_DIETPI_VERSION_SUB=20
G_DIETPI_VERSION_RC=5
G_GITBRANCH=master
G_GITOWNER=Fourdee

- Distro version | 9.6

- Kernel version | Linux DietPi 4.14.79+ #1159 Sun Nov 4 17:28:08 GMT 2018 armv6l GNU/Linux

- SBC device | RPi Zero W (armv6l)

- Power supply used | 5V 2A

- SDcard used | SanDisk ultra

[2019-01-29 02:08] davidhq commented on #2298
@Fourdee are there maybe any new hints on how to hide the cursor without "polling"?

thank you

[2019-01-29 02:16] MichaIng commented on #2462
@maartenlangeveld
Thanks for your report.

We updated MPD to a new version and it runs as `mpd` user which went well on our and public testing so far.
I think @Fourdee has way better insight but let me do a start:
- Which sound card do you use and how did you configure it (e.g. dietpi-justboom)?
- Just to sort it out, can you try to run mpd as root again:
[code]

**EDIT: Ah lol just saw your edit

[2019-01-29 02:35] maartenlangeveld commented on #2462
I have rpi zero w with Justboom Digi Zero HAT
aplay -l
card 0: sndrpijustboomd [snd_rpi_justboom_digi], device 0: JustBoom Digi HiFi wm8804-spdif-0 []
  Subdevices: 0/1
  Subdevice #0: subdevice #0

[2019-01-29 02:58] luttman opened #2463 "DietPi-Software | Mono: APT compilation step fails"
#### Details:
- Date           | Tue 29 Jan 03:49:14 CET 2019
- Bug report     | N/A
- DietPi version | v6.19.7 (Fourdee/master)
- Img creator    | n/a
- Pre-image      | n/a
- SBC device     | RPi 3 Model B+ (armv7l) (index=3)
- Kernel version | #1159 SMP Sun Nov 4 17:50:20 GMT 2018
- Distro         | stretch (index=4)
- Command        | G_AGUG
- Exit code      | 100
- Software title | DietPi-Upd

[2019-01-29 05:13] mikegilchrist commented on #2391
So to be clear, after an upgrade one apparently needs to login as root, not dietpi to complete the upgrade.

[2019-01-29 09:39] MZorzy commented on #2374
cause "update and fix" some time too fast...
Release 0.86.1 - January 23
Release 0.86.2 - January 24
Release 0.86.3 - January 26
Release 0.86.4 - January 28

meanwhilr i edit dietpi-software skipping "# Install Python which is needed for HA" on line 6891-6892

[2019-01-29 12:16] MichaIng commented on #2463
@luttman
Thanks for your report.

Please try to follow the advice and run: `dpkg --configure -a`
If that succeed, retry the update, otherwise please post the output of the above command here, so we can check which package exactly failed.

[2019-01-29 12:18] MichaIng commented on #2458
@maartenlangeveld @Gravesy83
Okay this has been solved. Thanks again for reporting. Feel free to reopen the issue, if required.

[2019-01-29 12:18] #2458 closed, assigned to nobody

[2019-01-29 12:52] MichaIng opened #2464 "NanoPi | Enable dm-crypt support in kernel"
Ref: https://dietpi.com/phpbb/viewtopic.php?t=2121

Requires kernel compile-time options: https://wiki.gentoo.org/wiki/Dm-crypt#Kernel_Configuration
Nothing we do, but we can forward the request to FriendlyARM and hope for native integration into their kernel(s).

[2019-01-29 13:36] luttman commented on #2463
root@Sonarr-Rpi:~# dpkg --configure -a
Setting up mono-roslyn (5.18.0.225-0xamarin1+raspbian9b1) ...
Mono precompiling /usr/lib/mono/4.5/csc.exe for arm...
Mono precompiling /usr/lib/mono/4.5/vbc.exe for arm...
Mono precompiling /usr/lib/mono/4.5/VBCSCompiler.exe for arm...
Mono precompiling /usr/lib/mono/4.5/Microsoft.CodeAnalysis.CSharp.dll for arm...
Mono precompiling /usr/lib/mono/4.5/Microsof

[2019-01-29 14:01] MichaIng commented on #2463
Of course... 🤣
No joke, so it's a mono update, compiling the new binaries that fails.

How long did the last printed compiling step take until it stopped?
Are you running this on local console or via SSH? Due to last lines I guess SSH?
_________
Based on my guess, if you can confirm the above:
- You are running the steps via SSH.
- For some reason, during mono compilation, the network connection b

[2019-01-29 14:13] MichaIng commented on #1171
Hey guys, I forward an install issue on 24G drive, I guess this will be solved with the new image?
https://dietpi.com/phpbb/viewtopic.php?p=16334#p16334

Are there any workarounds to solve this with the current image? Sorry I am still a bid overstrained with the UEFI/Clonezilla stuff, which there would be a way to simply `dd` the size-minimized image onto the target drive directly 😢.

[2019-01-29 14:22] Fourdee opened #2465 "Allo GUI | Users reporting "bricked" after update"
USBbridge
Digione

[2019-01-29 14:44] MichaIng commented on #1505
Moved VirtualBox creation to Wiki: https://github.com/Fourdee/DietPi/wiki/How-to-create-a-DietPi-image-for-VirtualBox

VMware is next... done: https://github.com/Fourdee/DietPi/wiki/How-to-create-a-DietPi-image-for-WMware

Okay will mark this issue as closed. Further work will be done on Wiki, where it fits better: One page each device 😃.

[2019-01-29 14:57] #1505 closed, assigned to nobody

[2019-01-29 15:08] MichaIng opened #2466 "DietPi-Update | Another issue when updating to v6.20.5"
Ref: https://dietpi.com/phpbb/viewtopic.php?f=11&t=5471

Looks like either `.update_stage` is missing or setting `.install_stage` to `2` fails/is not saved until reboot.

But from code side there is no issue, similar to what happened with https://github.com/Fourdee/DietPi/issues/2458 just following the code logic, everything should work fine and did in all dev and beta cases. Only explanation in b

[2019-01-29 15:14] gahabana commented on #2465
hi just did via SSH (as i always do it that way) ... update from 6.19.7 to 6.20.5
... after running it i get msg that it needs to reboot to get to 6.20.5 ... i reboot and upon login see it's still on 6.19.7 and msg in the terminal window:
`
/DietPi/dietpi/login: line 160: ((: > 0 : syntax error: operand expected (error token is "> 0 ")
`
started 'dietpi-update' again ... finished - rebooted - it l

[2019-01-29 15:27] MichaIng commented on #2465
@gahabana
Thanks for reporting this.

We have some other issues where I believe it's due to RAMdisk sync to disk was not working properly and this now is a very clear case.
Can you please paste the result of: `cat /var/tmp/dietpi/logs/dietpi-ramdisk.log`

And to resolve, first recreate the file the is expected by the old code:
`echo 1 > /DietPi/dietpi/.update_stage`
Then reload globals
`source /Di

[2019-01-29 15:28] MichaIng commented on #2466
Most likely a DietPi-RAMdisk failure: https://github.com/Fourdee/DietPi/issues/2465#issuecomment-458576926

[2019-01-29 15:56] MichaIng commented on #2466
RAMdisk failure verified. It stops on shutdown after boot mount was already unmounted.

Solution so far:
Run dietpi-update but BEFORE reboot, stop ramdisk manually:
`systemctl stop dietpi-ramdisk`

Should actually not occur due to local-fs.target, needs investigation why systemd does not respect this order.

Whoever run into this issue:
Do you run a Jessie or Stretch image?

With v6.20.5 we remove

[2019-01-29 15:57] MichaIng commented on #2465
Verified ramdisk issue in one case at least, solution: https://github.com/Fourdee/DietPi/issues/2466#issuecomment-458594631

[2019-01-29 16:46] docgalaxyblock commented on #2466
Hi
I also have this issue with all of my PIs,
The update is stuck at 6.19.7, the solution from the forum didn't work...
The update works fine at my Odroids

[2019-01-29 17:31] dakers1980 opened #2467 "DietPi-Software is already running on another terminal - after update to v6.20.5 RaspberryPi"
I just logged in and performed the update via dietpi-update to upgrade to v6.20.5.
It rebooted and now sits in a loop with the message "DietPi-Software is already running on another terminal/screen. Please complete or exit, before continuing"
I am only logged in via SSH. A reboot has not helped, and I am unable to access things like Pihole.
I am also unable to perform the update again as it says I

[2019-01-29 17:44] maartenlangeveld opened #2468 "DietPi-Config | Changed DNS address not applied/boot persistent"
### Creating a bug report/issue

#### Required Information
- DietPi version | 6.20.5

#### Additional Information (if applicable)
- Can this issue be replicated on a fresh installation of DietPi? YES

#### Steps to reproduce

1. Run 'dietpi-config' --> network options --> adapter options --> change wired network settings
2. Change DNS from 8.8.8.8 to Cloudfare (1.1.1.1 1.0.0.1)
3. Apply settings
4

[2019-01-29 17:52] digitalcardboard commented on #2466
Running 6.17 Stretch image on a RasPi with dietpi.txt, I eventually get to a point where DietPi-Update loops endlessly. This was after Ctrl-C to stop the boot looping, then I ran `dietpi-update` to update from 6.17 to 6.20.5, `systemctl stop dietpi-ramdisk`, and rebooted.

[2019-01-29 18:23] Joulinar commented on #2466
I tried to install from fresh 6.17 Stretch image on a RasPi. But somehow I end up in a loop. It always brings me back to the software selection screen where I just chose for Install without further packages. At the end it performs a reboot. After being back online, still the version is displayed at 6.17. As well it did not changed initial password and still require default one. Before entering sof

[2019-01-29 18:30] MichaIng commented on #2466
@digitalcardboard
Did the solution with `systemctl stop dietpi-ramdisk` then solve the update issue, so no dietpi-software loop or error about missing .update_stage on login anymore?

I will then push a hotfix update to revert the change we did to the RAMdisk systemd unit.

[2019-01-29 19:09] MichaIng commented on #2458
Okay, issue is related to: https://github.com/Fourdee/DietPi/issues/2466
- `DietPi-RAMdisk` stops too late, after `/boot` being already unmounted.
- So new code is not saved to disk.
- On reboot, old code from disk is loaded, where update still expects the removed file.

Only question: Why actually reboot is done DURING update? Should only be the case on first run updates. However we leave the fak

[2019-01-29 19:41] MichaIng commented on #2467
@dakers1980
I just pushed v6.20.6 hotfix. There was an issue where DietPi-RAMdisk did not successfully synced the updated files to disk on shutdown which lead to several issues, I believe yours as well.

Since I raised the RC version to v6.20.6 you should be able to apply the update again. It will be done as if you were still on v6.19.7 which is fine, since we are not 100% sure which steps might h

[2019-01-29 19:44] MichaIng commented on #2466
Okay just pushed the mentioned changes + a possible first run loop fix as v6.20.6 hotfix update.

This will redo the update, as if you were still on v6.19.7 to assure all steps are done now as expected. Please apply this patch and report back if now all the issues are solved.
Btw. sorry that this means the possibly time consuming reinstalls are redone as well 🤔.

[2019-01-29 19:44] MichaIng commented on #2458
Hotfix via v6.20.6 merged. Should resolved all related issues.

[2019-01-29 19:46] MichaIng commented on #2465
@gahabana
I just pushed v6.20.6 which should resolve the issue. Please apply this update and report back if this resolves the issues.

[2019-01-29 19:58] MichaIng commented on #2468
@maartenlangeveld
Can you please check the following steps:
- Apply the new DNS via `dietpi-config`
- Verify it is applied to `/etc/network/interfaces`: `cat /etc/network/interfaces`
  - Beneath #Ethernet it should contain: `dns-nameservers 1.1.1.1 1.0.0.1`
- Verify this is applied to /etc/resolv.conf as well: `cat /etc/resolv.conf`
  - Should contain: `nameserver 1.1.1.1 1.0.0.1`

[2019-01-29 19:58] dakers1980 commented on #2467
Thanks. I just tried dietpi-update and it now just goes round in a loop...
Either option doesn't work.
![image](https://user-images.githubusercontent.com/34519429/51936503-3c31b000-2400-11e9-93d7-0f9d0c8d7db3.png)

[2019-01-29 20:01] MichaIng commented on #2467
@dakers1980
Please cancel, open `htop` and verify that no instance of `dietpi-software` is running (perhaps on local terminal or such).
Also to prevent any first run loop:
[code]
Then retry.

[2019-01-29 20:01] docgalaxyblock commented on #2467
@dakers1980 run Even then no HDMI is connected a terminal is running at the hdmi
try dietpi-config -> display opt -> disable hdmi
or connect the pi to moinitor and keybord
That helped me

[2019-01-29 20:05] MichaIng commented on #2467
@potter-91
Jep exactly. This was due to the RAMdisk issue no syncing the install stage correctly, so on reboot `dietpi-software` autostarts, as if it was first run setup.

Either your solution or above convincing the system that no first run setup needs to be done should work.

[2019-01-29 20:06] digitalcardboard commented on #2466
FWIW, it stopped the boot loop, but not the DietPi-Update loop. I'm working on a new project and I'm not far along so I'll try it and report back. My other option was to not update, but I was trying to use `dietpi.txt` to automate the deploy.

[2019-01-29 20:19] MichaIng commented on #2466
@digitalcardboard
This was with update to just merged `v6.20.6`?

Two update runs are expected.
- First run if `/DietPi/dietpi/.update_stage` still exists, it will be removed: https://github.com/Fourdee/DietPi/blob/master/dietpi/patch_file#L76
  - If `/DietPi/dietpi/.install_stage` is `1` (v6.19.7 situation) it will apply the value `2` and restart the update. This will then exit after the 2nd run

[2019-01-29 20:23] docgalaxyblock commented on #2467
In my case the update worked
 At the moment no probs ^^

[2019-01-29 20:31] Joulinar commented on #2466
ok I was able to run clean install from v6.17 > v6.20.6

during install process I was ask 2 times for reset default password. And during last reboot, it got stucked (hold) waiting for some process to finish. I simple deplug power and restarted my Pi. Than the boot was finishing on v6.20.6

[2019-01-29 20:35] MichaIng commented on #2467
@potter-91
That is great. Yeah it was a nasty combination of the unexpected too late stopping RAMdisk service and the new install stage system, which removes `.update_stage` flag and instead lifts `.install_stage` to `2` to reflect first run update has finished.
The old code loaded after reboot (due to RAMdisk issue) expected the non-existent `.update_stage` file, otherwise starting `dietpi-update

[2019-01-29 20:40] MichaIng commented on #2466
@Joulinar
Jep, asking two times for passwords indeed is currently the case, when update is done on first run (on all our images currently). It does no harm, but indeed something we need to resolve.

You don't know exactly on which process the boot stuck, do you? Was is still during kernel message prompts already systemd or already during DietPi boot scripts?

[2019-01-29 20:56] Joulinar commented on #2466
Well I should have done a picture before deplug power. My fault. But as far as I remeber it was during DietPi-Boot. I have seen the messages for a "valid network connection found" and than something with stopping time sync ???? And than the message that it will wait (hold) for some process to finish.

let me do some test with my Pi. Maybe I can reproduce. Will keep you posted.

[2019-01-29 20:59] digitalcardboard commented on #2466
A clean run for me with v6.17 to v6.20.6 using `dietpi.txt`. Thanks for the quick help!

[2019-01-29 21:23] MichaIng commented on #2466
@Joulinar
Okay, jep most likely it was waiting for time sync to finish. However if first run setup (dietpi-software step after login) went fine then time sync was re-triggered anyway and is fine.

@digitalcardboard
Thanks for reporting back 👍.

[2019-01-29 21:31] Joulinar commented on #2466
@MichaIng there you go. It happen once the final update to v6.20.6 finsihed and system was going to reboot.

currently it's on 5 minutes waiting. If I would power down and reboot, it would finish in secounds.

![20190129_222649](https://user-images.githubusercontent.com/47155374/51941658-6e99d800-2415-11e9-965b-59fb97123d2a.jpg)

[2019-01-29 21:35] MichaIng commented on #2466
@Joulinar
Ah nice thanks for this. Hmm this is not a DietPi script. `[  OK  ] Started DietPi-Boot` means this one has finished completely.

`n180211 not found.` seems to be the key here. Seems some expected kernel module is missing, we need to do some web search. So this happens on every boot? And if you cancel, DietPi login prompt appears and services start up as expected?
**EDIT: Ah you can't ca

[2019-01-29 21:40] Joulinar commented on #2466
@MichaIng no I'm not able to cancel. I need to deplug power completly and than put power on again. It's failing just first time. But the error messege [n180211 not found.] is there always.

this is how the next boot looks like.

![20190129_223932](https://user-images.githubusercontent.com/47155374/51942224-d00e7680-2416-11e9-9567-b0de63968543.jpg)

[2019-01-29 21:52] MichaIng commented on #2466
@Joulinar
Ah okay. Still, the "Starting Hold until..." message is still there as well, only it seems to finish this time quickly.

I see you have splash screen enabled. During web search I found plymouth related with this, which is responsible for boot splash screens.

`disable_splash=1` in `/boot/config.txt` should resolve it, but disable the splash as well of course. However not required, if thi

[2019-01-29 21:55] tenrek opened #2471 "DietPi-Update | chmod: cannot access '/etc/profile.d/dietpi-*.sh' | v6.20.6"
### ADMIN EDIT: Solution
Cancel update, if error prompts, then run:
[code]
_____________
#### Details:
- Date           | Tue 29 Jan 22:46:37 CET 2019
- Bug report     | N/A
- DietPi version | v6.19.7 (Fourdee/master)
- Img creator    | DietPi Core Team
- Pre-image      | Raspbian Lite
- SBC device     | RPi 2 Model B (armv7l) (index=2)
- Kernel version | #1159 SMP Sun Nov 4 17:50:20 GMT 2018
- Di

[2019-01-29 21:57] Joulinar commented on #2466
I'm connected via Ethernet. WiFi should be disabled. I just run the default image after creating my SD card using Ether. I did not changed anthing on configs before. Just power it on :)

[2019-01-29 22:05] MichaIng commented on #2471
@tenrek
Thanks for the report.

Does it work when simply rerunning `dietpi-update 1`?
Otherwise: `> /etc/profile.d/dietpi-unsupported_terminal.sh`

But the second solution is actually not good. This error means that for some strange reason, even that new DietPi code is laid out on the RAMdisk, even forced to `sync` (if disk async hold it back), still somehow the old DietPi-Update code is loaded.

[2019-01-29 22:10] MichaIng commented on #2466
@Joulinar
Hmm, interesting, can you paste output of:
[code]
This should be 1 (so splash disabled) on default image, new and v6.17 and way older as well. However no harm if splash is active.
Ah wait, hehe maybe I mixed up those RPi logo with the rainbow full screen splash in boot. Now that I remember, I think those are two different things 🤔.

[2019-01-29 22:10] maartenlangeveld commented on #2468
Hi Micha, see output below. There's a mismatch between interfaces and resolv.conf !

cat /etc/network/interfaces:
#/etc/network/interfaces
#Please use DietPi-Config to modify network settings.

#Local
auto lo
iface lo inet loopback

#Ethernet
allow-hotplug eth0
iface eth0 inet static
address 192.168.0.250
netmask 255.255.255.0
gateway 192.168.0.254
dns-nameservers 1.1.1.1 1.0.0.1

#Wifi
#allow-hot

[2019-01-29 22:29] tenrek commented on #2471
@MichaIng
Thanks for helping me :)

`dietpi-update 1` resolved my problem :)

[2019-01-29 22:30] MichaIng commented on #2471
@tenrek
Okay that is good. Thanks for reporting back.

[2019-01-29 23:04] MichaIng commented on #2468
@maartenlangeveld
That is strange, although we had such a case one time already, sadly I can't find the topic anymore.

`resolvconf` is quite a bid intendant of the interface config, at least it can be. There is a trigger when starting interfaces that usually tells `resolvconf` (respectively the underneath library) to apply the DNS nameservers from `/etc/network/interfaces`. But other triggers can

[2019-01-29 23:10] maartenlangeveld commented on #2468
Hi Micha,

I have disabled DHCP on my router (dhcp is handled by Pi-hole running on same device). Moreover, the DNS servers on my router were couldflare's (1.1.1.1 1.0.0.1) so not 8.8.8.8.

Thanks for the work around. I will try.

[2019-01-29 23:12] MichaIng commented on #2468
@maartenlangeveld
Ah you mean DNS is handled by Pi-hole, don't you?

In case of Pi-hole DONT remove `resolvconf`, I will quickly check but it requires it, if I remember correctly.

Pi-hole works as a DNS server to resolve advertising related DNS requests to the loopback IP. It alone should not work as DHCP server, although this can be installed/configured in parallel.

But Pi-hole requires the und

[2019-01-29 23:16] Joulinar commented on #2466
`root@DietPi:~# grep 'disable_splash=' /DietPi/config.txt
disable_splash=1`
`root@DietPi:~# grep 'disable_splash=' /boot/config.txt
disable_splash=1`

btw your guess regarding `n180211 not found.` was correct. It's related to WiFi. But it just appears as long as WiFi is disabled. If I enable WiFi, message is gone during reboot. As soon as WiFi is disabled again, message `n180211 not found.` will b

[2019-01-29 23:20] MichaIng commented on #2466
@Joulinar
Jep seems so. Perhaps something can be done to prevent the system to even look for this module, but cosmetic only, no harm then and expected.

About the splash/plymouth thing, yeah seem to be two different things, the RPi logo and what disable_splash triggers. However no harm then as well.

I will mark this topic as closed, since the update issues are resolved. If anyone still faces issu

[2019-01-29 23:20] #2466 closed, assigned to nobody

[2019-01-29 23:20] maartenlangeveld commented on #2468
Yes, have disabled DHCP on my router and now have pi-hole running as DHCP. On nanopi i use a static address as you have seen. In pi-hole I also have cloudfare's DNS (1.1.1.1 1.0.0.1) selected. Other issue after reboot lighttpd and php7.0-fpm are not always automatically started.

[2019-01-29 23:21] MichaIng commented on #2467
Okay will mark as closed, but if anyone still faces issues with the update, feel free to ask here and we will quickly re-investigate.

[2019-01-29 23:21] #2467 closed, assigned to nobody

[2019-01-29 23:33] MichaIng commented on #2468
@maartenlangeveld
~Hmm not sure then what sets 8.8.8.8 currently.~

Pi-hole indeed requires `resolvconf`: https://github.com/pi-hole/pi-hole/blob/master/automated%20install/basic-install.sh#L210

Ah yeah during Pi-hole install/setup you can choose the upstream DNS provider, which will be then configured: https://github.com/pi-hole/pi-hole/wiki/Upstream-DNS-Providers

Just found where to change thi

[2019-01-29 23:39] MichaIng commented on #2465
I will mark this as closed, however please ask here if there are any further issues with the update, so we will quickly re-investigate.

[2019-01-29 23:39] #2465 closed, assigned to Fourdee

[2019-01-29 23:39] maartenlangeveld commented on #2468
Hi Micha,
As a test I hhave configured completely different 'upstream' DNS servers in Pi-hole admin Web ui. Has no impact on resolv.conf (has not changed).

cat /etc/dnsmasq.d/01-pihole.conf
...
...
server=208.67.222.222
server=208.67.220.220
interface=eth0

Maybe you have to look at how dietpi-config in v6.19.7 handled change of DNS? I installed pi-hole firstly on 6.19.7 and everything worked fin

[2019-01-29 23:52] MichaIng commented on #2468
@maartenlangeveld
Okay about the DNS thing I am a bid lost them, since we sorted out all sources I can think of (router, interfaces, Pi-hole).
Not 100% sure, but maybe Pi-hole even uses it's own internal resolver based on it's own settings and not `/etc/resolv.conf` anymore. They made lots of progress since/with FTLDNS implementation.
If that is the case you can still try the workaround above, rem

[2019-01-29 23:57] maartenlangeveld commented on #2468
Thanks!!

[2019-01-30 00:37] maartenlangeveld commented on #2468
Deleted resolvconf. Re-installing using G_AGI resolvconf does not bring back resolv.conf.

[2019-01-30 00:44] MichaIng commented on #2468
@maartenlangeveld
? Purging the `resolvconf` package should not even remove the `/etc/resolv.conf` file, only turn it from symlink to real file.

[2019-01-30 00:55] maartenlangeveld commented on #2468
Sorry, i got you wrong, my fault : I deleted resolv.conf. I have manually restored meanwhile.
Thanks a lot for your support!

[2019-01-30 00:59] MichaIng commented on #2468
@maartenlangeveld
Ah okay jep this file needs to stay in every case, `resolvconf` is just one packages that adjusts it dynamically, `systemd-resolved` e.g. can do this as well (systemd internet modern resolver).

[2019-01-30 01:03] maartenlangeveld opened #2472 "Please do not overwrite mpd.conf with every update!"
Just updated from v6.20.5 to v6.20,6 my rpi-zero-w music streamer with Justboom Zero HAT. The faulty mpd.conf (that I edited manually in order to work correctly) gets again overwritten.... argh

[2019-01-30 01:20] MichaIng commented on #2472
@maartenlangeveld
But there was a backup of your manually adjusted `mpd.conf`, wasn't it?
It should be `/etc/mpd.conf.bak_30012019` or similar.

What you mean by "faulty mpd.conf"? Is there an issue with the default `mpd.conf` DietPi-Software ships, or do you just need to configure to your individual needs?

[2019-01-30 01:28] maartenlangeveld commented on #2472
Faulty by means that MPD cannot open alsa sound card when running as user "mpd" have to change back to "user" root. There was a backup. But would be nice if config is not overwritten, unless there''s a need for it.

[2019-01-30 01:37] MichaIng commented on #2472
@maartenlangeveld
Okay good to know. I am a bid wondering how this is solved with the default Debian package, where MPD runs as non-root as well. But perhaps is is there an issue as well.

Yeah about the config file overwriting, in many cases we handle this already different now, preserve existing settings and only inject single settings that are required. However in case of `mpd.conf` it is a bid

[2019-01-30 02:56] MichaIng opened #2473 "DietPi-Update | v6.20.5 issue sum-up"
To get an overview and for reference, I sum up the issues, users faced when updating to v6.20.5 here.
There were two issues:

#### Issue 1
- `chmod: cannot access '/etc/profile.d/dietpi-*.sh': No such file or directory`
- Ref: https://github.com/Fourdee/DietPi/issues/2458, https://github.com/Fourdee/DietPi/issues/2471
- It is still an issue when updating from v6.19.7 or lower.
- I have no idea how

[2019-01-30 03:33] #2473 closed, assigned to nobody

[2019-01-30 03:44] MichaIng commented on #2473
@Fourdee
For review. Perhaps you have some idea, especially how issue 1 could have occurred and how to assure this does not happen.

[2019-01-30 09:24] dakers1980 commented on #2467
Ok, managed to find a keyboard and attempted the upgrade from the Pi itself, not over SSH

It went through, and then on reboot I get these messages:
![img_20190130_091959_1](https://user-images.githubusercontent.com/34519429/51971251-9f5b2b00-2470-11e9-9d9f-007077f40f12.jpg)

I'm still unable to access my Pihole instance on the box, and it's saying I'm at v6.20.6 now
![image](https://user-images.g

[2019-01-30 09:31] Fourdee commented on #2473
@MichaIng

Thanks Micha, really appreciate the quick investigations and fixes 👍

Might also be worth us restarting the RAMdisk after ```dietpi-update``` is completed, to ensure disk write as a fail safe?
- https://github.com/Fourdee/DietPi/commit/212498cc6053eac21e9d40b0bcf82f7329da6c8f

Initially unsure, will take a look.

[2019-01-30 09:52] WilburWalsh opened #2474 "WireGuard not running on RPi 1"
#### Required Information
- DietPi version | 6.20.5
- Distro version | stretch
- SBC device | RPi B (armv6l)

#### Additional Information (if applicable)
- Software title | WireGuard
- Was the software title installed freshly or updated/migrated? Fresh Install
- Can this issue be replicated on a fresh installation of DietPi? Probably

#### Steps to reproduce
1. Select WireGuard to install
2. Start

[2019-01-30 10:18] Fourdee commented on #2474
@WilburWalsh

Many thanks for the report, yep, appears ARMv7+ only.

Thanks, i'll check this.

[2019-01-30 10:29] Fourdee commented on #2474
@MichaIng

So we can add ```ListenPort``` to ```wg0-client.conf``` for server install?

Also on client install only, no conf created?
[code]

[2019-01-30 13:04] msongz opened #2475 "error prompt: No space left on device"
during and after update from 6.17 to 6.20 , the pi always prompt me this:

`Failed to add /run/systemd/ask-password to directory watch: No space left on device`

but it is 32gb storage left.

but the update is a success after two reboots finally.

[2019-01-30 13:16] MichaIng commented on #2467
@dakers1980
Okay, found little syntax error: https://github.com/Fourdee/DietPi/commit/91d65d6c981f4ac1014aeb399547e6fd716d0c5a
To fix for next login: `sed -i 's/G_DIETPI-NOTIFY "Waiting for DietPi-Postboot/G_DIETPI-NOTIFY 2 "Waiting for DietPi-Postboot/' /DietPi/dietpi/login`

However the actual "info" inside stays the same, DietPi-Postboot did not finish.
After 15 seconds it should just ignore (i

[2019-01-30 13:20] MichaIng commented on #2475
@msongz
Yeah sorry there is an issue with the current RPi images, where automated file system expansion fils. Those will be updated shortly. But you can easily fix this now:
[code]
It will re-enable the (fixed by update) expansion service to apply on reboot.

[2019-01-30 13:33] MichaIng commented on #2474
@WilburWalsh @Fourdee
Thanks for the hint with the port, jep that line needs to be `Endpoint = $domain:$port` of course: https://github.com/Fourdee/DietPi/blob/master/dietpi/dietpi-software#L10068
Sad the `armv6l` thing 😢. Yeah we tested on RPi, but not RPi1.
But actually why not compiling it manually on ARMv6 then? Doesn't look too hard. Just needs info for user that this needs to be redone on ev

[2019-01-30 13:53] msongz commented on #2475
@MichaIng thank you for your support!

[2019-01-30 14:36] MichaIng commented on #2473
@Fourdee

Jep makes sense!

[2019-01-30 15:46] msongz commented on #2475
`systemctl restart node-red.service`
`Failed to add /run/systemd/ask-password to directory watch: No space left on device`

@MichaIng  sorry, reopen this. follow your solution the command above will also prompt the same thing.

[2019-01-30 15:57] MichaIng opened #2476 "DietPi-PostBoot | Do not prompt login banner in case of autologin"
Might be confusing when login info prompt even that either login to console has been done already or DietPi-Autostart starts a desktop/program anyway.

Furthermore, it actually does not make sense to let PostBoot wait for `multi-user.target` (thus gettys), in case of autologin. This leads to DietPi-Login always being called before PostBoot has even started, so needs to wait for it and service star

[2019-01-30 16:11] louisefindlay23 commented on #2456
Finally managed to installed using UEFI Rufus/Clonezilla but in my /dev/sda drive (223.6GB total) I have two partitions /dev/sda1 that is 512M EFI filesystem and /dev/sda2 which is DietPi's root directory at 28.4 GB.

It says warning not all space available to /dev/sda appears to be used, you can fix the GPT to use all the available space (an extra 408241328 blocks) or continue with current settin

[2019-01-30 16:38] louisefindlay23 commented on #2456
Managed to fix it using resizepart and got around 200 GB in my /dev/sda2 partition. A tool would be great to make it easier though.

[2019-01-30 16:39] rjjrdadev opened #2477 "Diet-Pi"
#### Details:
- Date           | Wed 30 Jan 11:24:47 EST 2019
- Bug report     | N/A
- DietPi version | v6.19.7 (Fourdee/master)
- Img creator    | DietPi Core Team
- Pre-image      | Raspbian Lite
- SBC device     | RPi 2 Model B (armv7l) (index=2)
- Kernel version | #1159 SMP Sun Nov 4 17:50:20 GMT 2018
- Distro         | stretch (index=4)
- Command        | chmod -R +x /DietPi /var/lib/dietpi/s

[2019-01-30 16:44] theAkito commented on #2477
I just wanted to post this about this error right now...

Use the safer workaround instead of the one on the bottom of this post:

~~Friend, all you have to do is the following:~~

[code]
~~I solved the issue like that!~~

~~This workaround made `dietpi-update` work, again, for me!~~

[2019-01-30 16:50] rjjrdadev commented on #2477
Thank you! That solved the issue.

[2019-01-30 16:51] theAkito commented on #2477
It's a workaround. 😁

[2019-01-30 17:52] MichaIng commented on #2477
@rjjrdadev @Akito13 @Fourdee
Thanks for your report.

Jep this is a known, although uncritical issue with the update to v6.20. We are not yet sure about how this can occur, but at least it is an indicator that the old (v6.19) updater code is executed, even that the new (v6.20) should be used.
The reason must be related to disk `async`, a default Linux feature that does not directly write every fil

[2019-01-30 18:40] MichaIng commented on #2475
Can you check the scripts log: `cat /var/tmp/dietpi/logs/fs_partition_resize.log`
Perhaps as well, if it even ran as expected: `systemctl status dietpi-fs_partition_resize`

[2019-01-30 18:49] theAkito commented on #2477
Indeed, I received a big issue with that. But every update warns, that something might happen, obviously, so I make a full system backup before every update, anyway. For the sake of convenience, I will restore the backup and run `dietpi-update`, as you recommended it.

[2019-01-30 19:13] MichaIng commented on #2477
@Akito13
Restoring the backup should not be required, as long as you have console access, rerunning the update (with new updater code) should bring everything on desired stage.

And jep, with warning or not, doing a backup before every update is anyway always recommended.

[2019-01-30 19:57] MichaIng commented on #2476
Related issues:
- https://dietpi.com/phpbb/viewtopic.php?f=11&t=5483
- https://github.com/Fourdee/DietPi/issues/2467#issuecomment-458872210
- The syntax issue is already solved on `dev`, but the waiting itself could be solved as well at best.

[2019-01-30 20:04] theAkito commented on #2477
It didn't work quite well, it said that I am already running the newest version. I didn't want to risk anything, so I just went the safe way, restoring my backup.

[2019-01-30 20:12] MichaIng commented on #2477
@Akito13
If you updated via placeholder file workaround, then simply assure that `/DietPi/dietpi/.update_stage` does **not** exist and `cat /DietPi/dietpi/.install_stage` shows `2`, just to be sure. This is done by the new update code, but not by the old, no other differences.

If you chose my way, exiting the update, if this error shows up, `sync` and `dietpi-update 1` it should go through as des

[2019-01-30 20:16] MichaIng commented on #2471
I reopened, since we should fix this as well shortly.

Currently running `bash -x /DietPi/dietpi/dietpi-update 1` to follow the exact update path from v6.17.20 to v6.20.6...

Damn... the `-x` only applies to parent script, but not to subshells (patch_file + nested update)...

But aside that, unable to replicate on VM, no `chmod: cannot access '/etc/profile.d/dietpi-*.sh'` error, everything runs th

[2019-01-30 20:30] theAkito commented on #2477
Good to know these little hacks, will keep them in mind and I think people reading this thread, having the same or similar problems, will definitely profit from this. My backup is almost through though, so I won't try it out this time.

Maybe your explanations could be made part of the Troubleshooting Guide for Dietpi? I'm sure it would help a lot of people.

[2019-01-30 20:47] MichaIng commented on #2477
Actually I want to fix that damn thing, so no one runs into that error again. Trying to replicate but on my VM it never happens and everything works exactly as intended...: https://github.com/Fourdee/DietPi/issues/2471#issuecomment-459092596

[2019-01-30 21:00] MichaIng commented on #2471
Next run:

`sed -i 's|/DietPi/dietpi/patch_file|bash -x /DietPi/dietpi/patch_file|g' /DietPi/dietpi/dietpi-update`

[code]

[2019-01-30 21:02] theAkito commented on #2477
I don't know if that's the solution, but I updated my Raspi 0W to the newest version and everything went OK. Then I updated my Raspi 3B+ and this happened. The difference between both systems is that the Raspi 0W had already the previous `v6.20.5` update, whereas my Raspi 3B+ was still on `v6.19.7`. Looking at the OP, it is stated:

So maybe upgrading from a "too low" version might be the issue.

[2019-01-30 21:05] theAkito commented on #2477
@MichaIng @rjjrdadev I now restored my backup, was back on `v6.19.7`, ran `sync` and `sudo sync` to be safe. Ran `sudo dietpi-update` again. Now everything went smoothly.\* 👍

\* Except there were complaints about insufficient rights to access dietpi-first-run.log (or something along those lines), so I pressed CTRL+C, ran `sudo su`, the system finished updating, rebooted and now everything is as e

[2019-01-30 21:09] MichaIng commented on #2471
Everything exactly as intended:
- Patch finds `.update_stage` and `.install_stage == 1`, thus restarts update
- Nested update contains **new** code, can be seen from some tiny changed wording.
- Nested update starts incremental patches, which then go though.
- `[ INFO ] DietPi-Update | Patching 6.19.6 to 6.20` After this, `/etc/profile.d/dietpi-unsupported_terminal.sh` is removed
- Update terminat

[2019-01-30 21:12] boschr commented on #2465
I'm new to DietPI. Installed it an hour ago on a Odroid C2 and facing exactly the same issue. Can't complete the fresh install. After the completed installation it will automatically reboot (seems normal to me). After reconnection due SSH it start the installation from the beginning.

**cat /DietPi/dietpi/.version**
[code]

**cat /var/tmp/dietpi/logs/dietpi-ramdisk.log**
[code]

**UPDATE**

After

[2019-01-30 21:27] MichaIng commented on #2471
@tenrek @rjjrdadev @Akito13
Sorry to bother you guys. I really try to find out the reason that leads to the `chmod` error, but as can be seen above, all my tests work exactly as intended, so I am currently lost.

Some questions:
- Did the update process contain some reboot, after which the error occurred or was it during the same session where you ran `dietpi-update` first?
- v6.20 update contains

[2019-01-30 21:28] MichaIng commented on #2473
Investigating `Issue 1`, so far no success to replicate or even think of a possible path, leading to the error 🤔: https://github.com/Fourdee/DietPi/issues/2471#issuecomment-459092596

[2019-01-30 21:36] theAkito commented on #2471
It's the opposite of a bother, to help a dedicated developer solve a problem in his work.

I didn't install any of those manually. I can't guarantee for any automatic install, but I doubt these are remotely dependencies at all, for anything I have installed.

I can try to re-run the reversion, as well as the following upgrade in a simulated environment and post the results.

[2019-01-30 21:48] MichaIng commented on #2477
@Akito13

Hmm due to https://github.com/Fourdee/DietPi/blob/master/dietpi/login#L205

But this means `G_DIETPI_INSTALL_STAGE == 1` even it should be set to `2`: https://github.com/Fourdee/DietPi/blob/master/dietpi/patch_file#L89

Was the reboot done automatically during update or did you have a choice whether to reboot now or later?
Did after reboot and login again dietpi-update run steps and/or d

[2019-01-30 21:50] MichaIng commented on #2471
@Akito13

That would be perfect, although I know you already invested much time with this update trouble, so would be totally acceptable it you simply want to enjoy a running system now.

Okay lets move all conversation here, especially since the issue header matches the error message, so other users might find this faster.
_______
From the other topic:

I ran the tests from `v6.17.20` on VM, so t

[2019-01-30 21:51] MichaIng commented on #2477
Okay I will close this issue here in favour of: https://github.com/Fourdee/DietPi/issues/2471#issuecomment-459123285

Please go on with all conversation and possible questions over there 😉.

[2019-01-30 21:51] #2477 closed, assigned to nobody

[2019-01-30 22:07] seniorgod commented on #2439
Dear all,

i open a issue at mpd in Github reading this point.
I give you notice if i get an answer

[2019-01-30 22:30] boschr commented on #129
Would be - really - nice if Domoticz becomes available!

[2019-01-30 22:41] MichaIng commented on #129
@boschr and also the others:
You may want to add this request to our FeatHub page: https://feathub.com/MichaIng/DietPi/
Link this topic there and collect votes. The best way we can set priorities on adding requests 😉.

[2019-01-30 23:02] LexiconCode commented on #1171
A heads-up just doesn't seem to work with the Odroid N2. When booting it just flashes the cursor.

[2019-01-30 23:12] MichaIng opened #2478 "DietPi-Login | Make non-root proof for first run login"
First run setup requires root permissions, while usual login does not and of course should not.

Since usually on first boot, there is no custom user account, this is no big issue, but it is possible already to login with `dietpi`.

Just in case, it would be good, if on first run login, root user check is done and meaningful output, that user should logout and login again with root user, to finish

[2019-01-31 01:15] MirisWisdom commented on #804
Hyper-V image for v6.20 can be found [here](https://github.com/yumiris/DietPi.Hyper-V/releases/tag/v6.20)!

[2019-01-31 03:04] msongz commented on #2475
cat /var/tmp/dietpi/logs/fs_partition_resize.log
[code]

systemctl status dietpi-fs_partition_resize
`sh: 1: less: not found`

[2019-01-31 05:45] theAkito commented on #2471
@MichaIng I restored a complete system backup into a docker container, but the update worked flawlessly. The only thing that came to my mind when thinking about what warnings and errors I got on the original system is that DietPi thought I have the full LLSP stack, but it somehow failed to install/upgrade and detect the PHP-7 packages, as far as I recall. In the docker experiment, this part worked

[2019-01-31 05:48] JeffDanJ opened #2479 "Certbot install fails with pkgProblemResolver::Resolve generated breaks, this may be caused by held packages"
#### Details:
- Date           | Thu 31 Jan 05:32:45 GMT 2019
- Bug report     | N/A
- DietPi version | v6.20.6 (Fourdee/master)
- Img creator    | DietPi Core Team
- Pre-image      | Raspbian Lite
- SBC device     | RPi 3 Model B (armv7l) (index=3)
- Kernel version | #1159 SMP Sun Nov 4 17:50:20 GMT 2018
- Distro         | stretch (index=4)
- Command        | G_AGI: certbot python-certbot-nginx
-

[2019-01-31 07:21] boschr commented on #129
@MichaIng i will do! Collecting votes will not be a problem i guess.

@mlamie @vikasjee @elRadix please vote: https://feathub.com/MichaIng/DietPi/+37

[2019-01-31 11:25] MichaIng commented on #2471
@Akito13
Do you have the update logs from the docker container, just to see if really every step was as desired? Every detail is helpful to find any quirk 😉.
The installed software should have no influence on the update process, besides if there is something wrong with an APT repo or package, but that would cause a different error. Aside from that, especially since you didn't face reinstalls, ther

[2019-01-31 11:39] sal666 commented on #1171
@LexiconCode
try @oscarstv approach: install [rEFInd](https://www.rodsbooks.com/refind/installing.html) to a pen drive. You'll be able to boot DietPi from it while keeping intact the original installation. The day GRUB gets patched you'll be able to boot from your HDD.

[2019-01-31 11:51] MichaIng commented on #2479
@JeffDanJ
Thanks for your report.

Hmm held packages (as of error message) actually can't be it, since G_AGI overrides held state. Regardless can you paste output of:
`apt-mark showhold`

Please also try to clean the APT cache:
[code]

Then retry install.

[2019-01-31 13:08] Fourdee commented on #2474
@MichaIng

Whoopsie, thanks Micha 😄 👍

[2019-01-31 13:10] Fourdee commented on #2474
@MichaIng

👍 Excellent, as ARMv6 is now disabled due to no official binaries, and, server port applied correctly to ```wg0-client.conf``` I believe we can now mark this as resolved?

[2019-01-31 13:10] #2474 closed, assigned to Fourdee, MichaIng

[2019-01-31 13:12] Fourdee commented on #2475
REF: update RPi image: https://github.com/Fourdee/DietPi/issues/2026

[2019-01-31 13:14] MichaIng commented on #548
@Fourdee
I am out of town until Saturday night. Most likely without internet access.

[2019-01-31 13:15] MichaIng commented on #2474
Jep should be fine.

We could add client port as commented setting, just that users find it fast in case e.g. work/uni network blocks certain ports. Although I believe default VPN port is opened in very most cases.

[2019-01-31 13:16] Fourdee commented on #2475
@msongz

Is mounted to tmpfs. Seems you might be running out of memory on the device, or, ```/run``` is filling up from a program.

### 1: Check used space in ```run```
[code]

### 2: Also try increasing the swapfile:
[code]

[2019-01-31 13:22] msongz commented on #2475
G_TREESIZE /run
[code]
[code]

[code]
@Fourdee

[2019-01-31 13:47] MichaIng opened #2480 "DietPi-Software | ownCloud: Install fails with SQL state error"
Ref: https://dietpi.com/phpbb/viewtopic.php?f=11&t=5486#p16404

Will investigate this weekend.

[2019-01-31 15:08] JeffDanJ commented on #2479
Thanks for the response.

root@DietPi:~# apt-mark showhold
root@DietPi:~#

cleaning APT cache also didnt work and got the same error on retry.

#### Details:
- Date           | Thu 31 Jan 15:03:12 GMT 2019
- Bug report     | N/A
- DietPi version | v6.20.6 (Fourdee/master)
- Img creator    | DietPi Core Team
- Pre-image      | Raspbian Lite
- SBC device     | RPi 3 Model B (armv7l) (index=3)
- Kern

[2019-01-31 16:27] theAkito commented on #2471
I was waiting for the crash so I can go for the `/tmp/dietpi-update/dietpi-update.log `, but it never happened so now I guess I am logless, because I didn't find any afterwards. It would be probably helpful, if there was a DEBUG flag or something attachable to `dietpi-update`, so the logs aren't deleted and possibly even extended, if reasonable.

You explained a good workaround, that should help,

[2019-01-31 20:09] kuerious opened #2481 "DietPi Update fails: [FAILED] DietPi-Update | chmod: cannot access '/etc/profile.d/dietpi-*.sh': No such file or directory"
--------------------------------------------------------------------
- DietPi has encounted an error, and, is unable to continue        -
- Please create a ticket: https://github.com/Fourdee/DietPi/issues -
--------------------------------------------------------------------
#### Details:
- Date           | Thu 31 Jan 13:03:33 MST 2019
- Bug report     | N/A
- DietPi version | v6.19.6 (Fourdee/mas

[2019-01-31 20:11] kuerious commented on #2481
[code]

[2019-01-31 20:21] kuerious commented on #2481
Strangely enough, a second attempt (no changes, switches, etc.) and it finished patching without further ado. Will follow-up with a reboot to ensure it functions.

[code]

[2019-01-31 20:21] swrobel opened #2482 "DietPi-Software | WireGuard: Use "DNS = 10.9.0.1", if local DNS is loopback IP/localhost"
#### Required Information
- DietPi version | 6.20.6
- Distro version | stretch
- Kernel version | Linux DietPi 4.14.79-v7+ #1159
- SBC device | RPi 3 Model B+ (armv7l)

#### Additional Information (if applicable)
- Software title | Wireguard

#### Steps to reproduce

1. Install Wireguard on a system running Pi-Hole (ex: `/etc/resolv.conf` contains `nameserver 127.0.0.1`)

#### Expected behaviour

[2019-01-31 20:30] kuerious commented on #2481
Well, _shozbot_.

Looks like it wasn't "fixed", per se, as much as it somehow _**overwrote**_ the install with a "fresh" one.

Just glad I did a backup first. Ugh...

**Or not ...**

Strange ... going in to re-select the software, its already showing up. Something in the update script must have gotten confused, because it was stating:

`Are you sure you want to run a minimal install of DietPi-Serv

[2019-01-31 20:39] kuerious commented on #2481
Yup. That was all.

I have to say, DietPi is a very resilient software. I've run on RPi, On x86_64 systems, in a VM ... it _just works_. Which is how an OS+software **should** work.

Closing this off. I'm hoping the error message(s) above help you in some way.

[code]

[2019-01-31 20:39] #2481 closed, assigned to nobody

[2019-01-31 21:54] theAkito commented on #2471
@MichaIng I have some news.

I performed an update from v6.19.7 to v6.20.6 on a Raspberry Pi 3B, that has more or less the same content like the Raspberry Pi 0W I was talking about. The update was processed without any errors. When it prompted to reboot the system, I confirmed the restart. After the restart, I could see the Raspi being connected to my router but was constantly getting `No router t

[2019-02-01 01:58] GulyFMG opened #2483 "Revert to old values - gpu_mem_1024=320"
Would it be possible to not rewrite this option on every re / install?
[  OK  ] DietPi-Set_Hardware | Desired setting in /DietPi/config.txt was already set: gpu_mem_1024=320
[  OK  ] DietPi-Set_Hardware | Desired setting in /DietPi/config.txt was already set: gpu_mem_512=320
[  OK  ] DietPi-Set_Hardware | Desired setting in /DietPi/config.txt was already set: gpu_mem_256=192

My reasoning is simpl

[2019-02-01 03:11] GulyFMG opened #2484 "Transmission fails to start"
### ADMIN EDIT
#### Solution: https://github.com/MichaIng/DietPi/issues/2484#issuecomment-469478673
____________
Required Information:

    DietPi version | #!/bin/bash
    G_DIETPI_VERSION_CORE=6
    G_DIETPI_VERSION_SUB=20
    G_DIETPI_VERSION_RC=6
    G_GITBRANCH=master
    G_GITOWNER=Fourdee

    Distro version | 9.6

    Kernel version | Linux blacksun 4.14.80-v7+ #1161 SMP Mon Nov 12 18:51:4

[2019-02-01 10:11] Dr0bac commented on #2223
@Fourdee hi..
You said few months ago that you will make startup service from this script when you have time..maybe you forgot about it? If you have time now, can you try?
Also can you change script, its better to always copy nzbdrone.db.bak file to var/log after power on.. because i want to update that bak. file after movie is downloaded so database can always be fresh if i got power loss..

Than

[2019-02-01 10:31] swansinflight commented on #2471
Workaround in OP worked for me, thank you.

[2019-02-01 13:51] Roxas72 opened #2485 "[dupe] Software Update error"
#### Details:
- Date           | Fri  1 Feb 13:42:10 GMT 2019
- Bug report     | N/A
- DietPi version | v6.19.7 (Fourdee/master)
- Img creator    | DietPi Core Team
- Pre-image      | Raspbian Lite
- SBC device     | RPi 3 Model B (armv7l) (index=3)
- Kernel version | #1159 SMP Sun Nov 4 17:50:20 GMT 2018
- Distro         | stretch (index=4)
- Command        | chmod -R +x /DietPi /var/lib/dietpi/s

[2019-02-01 16:28] FloRup opened #2486 "Can't boot my rock64 board with a new image"
Hello,
I just got my rock64 board and because I liked dietpi on my rpi3+ I wanted to install it on there too.

I used etcher to burn the recently downloaded rock64 image to a sd card. I recently did this with another device and I had no problem so I think nothing went wrong there.

The board wont boot. I connected a tv via hdmi and it shows a bunch of text and then reboots in 10 seconds. It does t

[2019-02-01 17:11] holda29 opened #2487 "Unable to PREP_SYSTEM from Armbian"
#### Details:
- Date           | Fri  1 Feb 17:04:01 UTC 2019
- Bug report     | N/A
- DietPi version | v6.20.0 (Fourdee/master)
- Img creator    | n/a
- Pre-image      | n/a
- SBC device     | OrangePi Zero+ H5
- Kernel version | #5.69 SMP Wed Jan 9 18:10:00 CET 2019
- Distro         | stretch (index=4)
- Command        | chmod -R +x /DietPi/dietpi /var/lib/dietpi/services /etc/cron.daily/dietpi

[2019-02-01 17:32] axwax commented on #2471
I also ran into the OP's symptoms when I tried dietpi-update for the second time after my first update from v6.17.12 resulted in the error
`/DietPi/dietpi/login: line 150: ((: > 0 : syntax error: operand expected (error token is "> 0 ")`
after reboot.
The workaround in OP worked for me too!

[2019-02-01 17:55] Fourdee commented on #2485
@Roxas72

Hi, many thanks for the report 👍

Please see following ticket for solution: https://github.com/Fourdee/DietPi/issues/2471

[2019-02-01 17:55] #2485 closed, assigned to nobody

[2019-02-01 17:56] Fourdee commented on #2487
@holda29

Hi,

Thanks for the report, this is fixed in v6.21. You can use the updated PREP script with:
[code]

[2019-02-01 18:01] Fourdee commented on #2486
@FloRup

Hi, thanks for the report 👍

Looks like a kernel dump during boot.

Could be either of:
- Bad image write
- Hardware related issue (PSU/SD)
- Issue with our image.

#### Please try the following: https://github.com/Fourdee/DietPi/issues/769#issuecomment-283030267

If problems persist, please state:
- PSU used (make, model, amps)
- SD/EMMC used

[2019-02-01 18:04] Fourdee commented on #2483
@GulyFMG

Hi,

Many thanks for the report 👍

I'll see if we can add an exclude option. Currently the value is only set if the current value is lower than what ```dietpi-software``` requires to be set during installation.

```dietpi-config``` can be used to set a new value. Which will not change unless you install software again in ```dietpi-software```

[2019-02-01 18:20] Fourdee commented on #2484
@GulyFMG

Many thanks for the report 👍

Test RPi 3B+:
- 🈯️ Fresh install
- 🈯️ Reinstall

Unable to replicate our end.

Lets fix the file manually:
- Edit file
[code]
- Find the entry ```cache-size-mb``` and replace the line with ```"cache-size-mb": 97,```
- Save changes with CTRL+X then Y, then enter
- Restart services with ```dietpi-services restart```

[2019-02-01 19:16] FloRup commented on #2486
-I got the psu with the board via amazon(pine64) [link](https://www.amazon.de/gp/product/B0786Q5JQ5/ref=ppx_yo_dt_b_asin_title_o01__o00_s00?ie=UTF8&psc=1) It has 3 amps and I highly doubt this is the reason.

-[This is the SanDisk Ultra SD card I bought for it](https://www.amazon.de/gp/product/B073S8LQSL/ref=ppx_yo_dt_b_asin_title_o00__o00_s00?ie=UTF8&psc=1)

I try that  now and will come back if

[2019-02-01 19:18] GulyFMG commented on #2483
Thank you for this an exclude would be great, im always testing new software and with every reinstall i need to revert to my old value, this is just a little bit of a hassle... maybe an yes or no question.
If you need any help im available.

[2019-02-01 19:29] GulyFMG commented on #2484
Humm that's strange, just to put in context after the error i uninstall transmission via dietpi software and delete the folder /var/lib/transmission-daemon/ just to make sure i search for the file settings.json and none was found, after i installed again transmission and it failed again, already solved on my end i just delete the file and let transmission recreate it again and change the value fro

[2019-02-01 22:04] seniorgod commented on #2439
I get an answer from the mpd maintainer:

„...
If you want MPD to look for mpd.conf in /etc/ instead of /usr/local/etc/ (=Meson's default) configure with -Dsysconfdir=/etc.
…"

best regards

[2019-02-01 22:45] Somnius commented on #1285
I'm having this, running beta script on Clean Debian 9 latest x64 on Vultr, choose VM on the device list.

![image](https://user-images.githubusercontent.com/144157/52153724-c8073e80-2683-11e9-810a-94ad47e4b933.png)

any ideas?

edit: i'm gonna reinstall Debian from 9 to 8 just to check things out and report back here..

[2019-02-01 23:14] FloRup commented on #2486
OK I tried that but it made no difference.

[2019-02-02 02:20] lvnsk commented on #1285
Sorry, can't help you with this. I'm run it on armbian image for banana pi

сб, 2 февр. 2019 г., 5:45 Lefteris @SomniusX notifications@github.com:

[2019-02-02 05:23] blogabe opened #2488 "Install from 6.18.14 to 6.20.6 Crashes"
# Fix for this issue: https://github.com/Fourdee/DietPi/issues/2488#issuecomment-459993647

---

### Creating a bug report/issue

#### Required Information
- DietPi version | `cat /DietPi/dietpi/.version`
G_DIETPI_VERSION_CORE=6
G_DIETPI_VERSION_SUB=18
G_DIETPI_VERSION_RC=14
G_GITBRANCH=master
G_GITOWNER=Fourdee

- Distro version | `echo $G_DISTRO_NAME` or `cat /etc/debian_version`
9.6

- Kernel v

[2019-02-02 07:41] Somnius commented on #1285
I've reached out to the twitter account and the person that manages it said that he uses the dev brach, which to be frank was the only one i haven't truly tried yesterday. So.. ;) it started "doing" stuff, ripping off the already empty netinstall of debian 9

![screenshot 2019-02-02 at 09 37 55](https://user-images.githubusercontent.com/144157/52161516-b008dc80-26ce-11e9-8c78-4da4feabce60.png)

[2019-02-02 10:28] Borotes opened #2489 "DietPi-Software | Lighttpd: Issue with multiple setenv.add-environment entries"
I did a new install to fix some issues, but still getting this error message: https://i.imgur.com/0HGgkaT.png

Is there a possibility to fix it myself?

[2019-02-02 14:06] b1n4ryj4n commented on #2488
I had the same problem but `sudo dietpit-update` worked fine.

[2019-02-02 16:25] blogabe commented on #2488
Unfortunately, I can't seem to connect to the device any longer through ssh.

[2019-02-02 19:43] Fourdee commented on #2484
@GulyFMG

Please can you send me a bug report? I'd like to check the ```dietpi-software``` script and system settings.
[code]

[2019-02-02 19:45] Fourdee commented on #2488
Hi,

Please try the following to resolve this issue:
[code]

[2019-02-02 19:49] Fourdee commented on #2488
Notes:
Appears to be an issue with older ```dietpi-update``` script, current script has this code:
[code]
🈯️ ```DietPi_v6.20_RPi-ARMv6-Stretch.img``` matches above.

[2019-02-02 19:54] Fourdee commented on #2486
@FloRup

Will redo our image to cover any issues our end. Once its ready for testing, i'll let you know.

[2019-02-02 20:32] blogabe commented on #2488
That did it.  Thanks, Dan.  Up to date on 6.20.6.

[2019-02-02 21:21] GulyFMG commented on #2484
Absolutely, here you have the reference code 0f9fd083-6309-4a19-8582-bdea43b3c0b9.
If there is anything more I can do to help just ask.

[2019-02-02 21:50] Fourdee commented on #2486
@FloRup

🈯️ Image updated and tested locally fine, please retry with this image:
- https://dietpi.com/downloads/images/DietPi_Rock64-ARMv8-Stretch.7z

[2019-02-02 21:51] Fourdee commented on #2487
Verified local testing by using the above fixed script:
https://github.com/Fourdee/DietPi/issues/2487#issuecomment-459809920

[2019-02-02 21:51] #2487 closed, assigned to Fourdee

[2019-02-02 22:06] holda29 commented on #2487
Great, it worked! Thank you.

[2019-02-02 22:17] Fourdee commented on #2472
```G_BACKUP_FP``` rolled out for MPD. Will mark this as closed.

[2019-02-02 22:17] #2472 closed, assigned to nobody

[2019-02-03 08:41] symbios24 commented on #2488
Hi After updating from 6.19 to 6.20 and reboot the system on a raspberry pi 3B it goes on an endless loop checking for update/s is this a known issue ?
another thing is after finished the update and rebooted the version is still 6.19 i did an update again and after reboot this thing happen with the loop.

[2019-02-03 11:11] MichaIng commented on #2488
Obviously RAMdisk still fails to sync changes to disk in some cases. There are still reports about running v6.1[0-9] code after reboot and setting install stage to 2 not persistent.

No idea why, since with v6.20.6 dietpi-ramdisk.service explicitly waits for boot.mount and DietPi.mount to start, thus stops before them, and I was never able to replicate it stopping too late.

We could add a service

[2019-02-03 15:03] curiosity-seeker opened #2491 "DietPi-Software | WireGuard: wg-quick[....]: RTNETLINK answers: File exists"
## ADMIN EDIT
### Solution
- If you use OpenVPN or PiVPN as well, first try to edit `/etc/wireguard/wg0.conf` and replace all `10.8.0.X` with `10.9.0.X` as by default OpenVPN (`tun0` interface) uses the same address range. If `systemctl restart wg-quick@wg0` succeeds then, do the same with the client configs: `/etc/wireguard/wg0-client.conf`
- If it still fails with the same `RTNETLINK answers: Fi

[2019-02-03 16:34] MichaIng opened #2492 "DietPi-Drive_Manager | VirtualBox: Fresh drive format fails"
#### Details:
- Date           | Sun  3 Feb 17:16:09 CET 2019
- Bug report     | N/A
- DietPi version | v6.20.6 (Fourdee/dev)
- Img creator    | DietPi Core Team
- Pre-image      | Debian netboot
- SBC device     | Virtual Machine (x86_64) (index=20)
- Kernel version | #1 SMP Debian 4.9.130-2 (2018-10-27)
- Distro         | stretch (index=4)
- Command        | parted -a optimal /dev/sdb mkpart pri

[2019-02-03 16:42] MichaIng commented on #2492
When ignoring:
[code]

`-s` can be used to avoid interactive input, but non-alignment stays:
[code]

Issue might be due to VM, virtual disk (VDI) with very small size, not sure. However `-s` should be used at least.

[2019-02-03 16:56] MichaIng commented on #2492
Issue is: No optimal block size available:
[code]

`parted -a minimal /dev/sdb mkpart primary 0% 100%` works instead without complain. But result is the same:
[code]

So we could indeed simply use `-s` to ignore the warning and have the partition start at sector 1 (based on minimum I/O size devided by physical sector size), or we check `cat /sys/block/sdb/queue/optimal_io_size` to decide whether t

[2019-02-03 17:26] MrTuscani opened #2493 "Error while Update"
#### Details:
- Date           | Sun  3 Feb 17:23:24 GMT 2019
- Bug report     | N/A
- DietPi version | v6.19.7 (Fourdee/master)
- Img creator    | DietPi Core Team
- Pre-image      | Raspbian Lite
- SBC device     | RPi 3 Model B (armv7l) (index=3)
- Kernel version | #1159 SMP Sun Nov 4 17:50:20 GMT 2018
- Distro         | stretch (index=4)
- Command        | chmod -R +x /DietPi /var/lib/dietpi/s

[2019-02-03 19:01] FloRup commented on #2486
It works now thanks.
I connected with ssh and I'm going through the installation right now

[2019-02-03 19:34] ilgrank commented on #2246
I'm running 6.20, and I've just installed Emby.
The installed version is 3.5.2.0, while latest is 4.0.1.0
is it normal DietPi installs an outdated version?
is it safe to upgrade? (via APT)?
Thanks!

**Edit**: For now, I just updated dietpi-software to point to the latest version, and did a dietpi-software reinstall, and it seems to be working fine.
Thanks everyone!

[2019-02-03 19:41] jvteleco opened #2494 "DietPi-Software | WireGuard support for NanoPi (NEO2)"
### ADMIN EDIT
Vote for it on FeatHub: https://feathub.com/MichaIng/DietPi/+43

### Creating a feature request
Wireguard was recently made available to install, but only
"NB: Currently only works on x86_64 and RPi's. Since kernel headers are required, we need to add those for other devices, before the WireGuard kernel module can be compiled."
Reference:  https://github.com/Fourdee/DietPi/pull/2398

[2019-02-03 21:06] rox-wolf opened #2495 "DietPi-Update | First-run setup loop on fresh images"
### Creating a bug report/issue

#### Steps to reproduce
1. Download Odroid XU3/XU4/HC1/HC2 image, it's currently DietPi_v6.14_OdroidXU4-ARMv7-Stretch.img  So not updated to 6.20, for example RaspberryPi image is 6.20.
2. Install the image, go through installation steps.

#### Expected behaviour
- Dietpi should install

#### Actual behaviour
- After installing the distro dietpi-software asks for r

[2019-02-04 00:48] MichaIng commented on #2471
@Fourdee
I was reading the `x-systemd.automount` issue again: https://github.com/Fourdee/DietPi/pull/2357#issuecomment-449177715

Actually already there I recognized that (re)adding `After=boot.mount` alone did not resolve the issue with RAMdisk stopping too early since `boot.automount` is the active one.

But actually when checking systemd unit order/dependencies, automounts are started even befo

[2019-02-04 03:42] theAkito opened #2496 "Nextcloud installation fails with error about OPcache"
#### Details:
- Date           | Mon  4 Feb 04:37:16 CET 2019
- Bug report     | N/A
- DietPi version | v6.20.6 (Fourdee/master)
- Img creator    | DietPi Core Team
- Pre-image      | Raspbian Lite
- SBC device     | RPi 3 Model A+ (armv7l) (index=3)
- Kernel version | #1159 SMP Sun Nov 4 17:50:20 GMT 2018
- Distro         | stretch (index=4)
- Command        | ncc maintenance:install
- Exit code

[2019-02-04 12:31] MichaIng commented on #2489
@Borotes
Thanks for your report.

Can you paste the output of:
[code]

[2019-02-04 12:35] Borotes commented on #2489
Hi, here you are 😊

root@DietPi:~# cat /etc/php/7.0/mods-available/opcache.ini
; configuration for php opcache module
; priority=10
zend_extension=opcache.so
opcache.enable=1
opcache.memory_consumption=32
opcache.revalidate_freq=1
opcache.enable_cli=1
opcache.interned_strings_buffer=8
opcache.max_accelerated_files=10000
opcache.save_comments=1

root@DietPi:~# php -m
[PHP Modules]
apcu
calendar
Cor

[2019-02-04 12:37] MichaIng commented on #2496
@Akito13
Thanks for your report.

I was searching where I found the error already: https://github.com/Fourdee/DietPi/issues/2293
I will add your report there as post, further discussions in the other topic then. Since you have RPi3, it is no device specific issue then.

Will mark this as closed in favour of: https://github.com/Fourdee/DietPi/issues/2293

[2019-02-04 12:37] #2496 closed, assigned to nobody

[2019-02-04 12:44] MichaIng commented on #2293
Forward from @Akito13

No OPi specific issue then. @Akito13 could you please as well paste the outputs as mentioned above: https://github.com/Fourdee/DietPi/issues/2293#issuecomment-442054386

[2019-02-04 12:52] MichaIng commented on #2489
@Borotes
Ah sorry which webserver do you use? Was accidentally expecting Apache2.
And are you on DietPi v6.20?

[2019-02-04 12:58] Borotes commented on #2489
I have clean installed v6.20 and selected only Nextcloud and Certbot.

I didn't change anything to the config. I think Lighttpd is the webserver.

[2019-02-04 13:22] MichaIng commented on #2489
Okay yes then it's Lighttpd.

Looks like the the related Lighttpd configs were not enabled.

Please check: `ls -l /etc/lighttpd/conf-available`
It should contain two configs, 99-dietpi-nextcloud.conf and 99-dietpi-dav_redirect.conf.
Then check: `ls -l /etc/lighttpd/conf-enabled`
It should contain the same two files (symlinks) without leading 99-.

If this is not the case, do:
[code]
to enable them

[2019-02-04 13:30] Borotes commented on #2489
It says:

root@DietPi:~# lighttpd-enable-mod dietpi-dav_redirect
already enabled
Run "service lighttpd force-reload" to enable changes
root@DietPi:~# lighttpd-enable-mod dietpi-nextcloud
already enabled
Run "service lighttpd force-reload" to enable changes

But the 99 in conf-enabled is there:

![putty_gkqzijuk0u](https://user-images.githubusercontent.com/15076638/52211181-6a444380-2889-11e9-9184-

[2019-02-04 15:27] tkrusterholz opened #2497 "Error while updating APT | Read error (-5: DATA_ERROR_MAGIC)"
#### Details:
- Date           | Mon  4 Feb 15:15:19 GMT 2019
- Bug report     | N/A
- DietPi version | v6.19.7 (Fourdee/master)
- Img creator    | DietPi Core Team
- Pre-image      | Raspbian Lite
- SBC device     | RPi 3 Model B+ (armv7l) (index=3)
- Kernel version | #1159 SMP Sun Nov 4 17:50:20 GMT 2018
- Distro         | stretch (index=4)
- Command        | G_AGUP
- Exit code      | 100
- Soft

[2019-02-04 15:40] MichaIng commented on #2497
@patho5
Thanks for your report.

Often SSL/GPG errors appear due to system clock being out of sync. Please try:
[code]

But your error message sound more like a temporary repository issue.

I will try the nl.debian.org repo here later, I guess it will work when retrying a bid later.

[2019-02-04 15:56] MichaIng commented on #2493
@MrTuscani
Thanks for your report.

Please retry with the solution provided here: https://github.com/Fourdee/DietPi/issues/2471
Will mark as closed.

[2019-02-04 15:57] #2493 closed, assigned to nobody

[2019-02-04 16:09] MichaIng commented on #2494
@jvteleco
Thanks for your request.

- WireGuard is a kernel-based VPN solution, which has (compared to OpenVPN) many advantages, but requires the `wireguard` kernel module, which is not by default integrated in the Linux kernel tree.
- Generally to build kernel modules, the kernel headers (sources) are required. For the devices were we currently offer WireGuard, those are either available via APT

[2019-02-04 16:41] MichaIng commented on #2491
@curiosity-seeker
Thanks for your report.

The config looks as desired. To sort it out, can you check/verify the `wireguard` kernel module being active: `lsmod`

I stumble over: `wg-quick[2363]: RTNETLINK answers: File exists`
Found: https://raspberrypi.stackexchange.com/questions/13895/solving-rtnetlink-answers-file-exists-when-running-ifup

Try:
[code]

Perhaps also `wg-quick up wg0` (running th

[2019-02-04 16:56] curiosity-seeker commented on #2491
@MichaIng : I executed as you suggested
[code]
and got the message:
`Device "wg0" does not exist.`

And executing
`wg-quick up wg0`
got:
[code]

[2019-02-04 17:08] MichaIng commented on #2495
@rox-wolf
Thanks for your report.

Jep this matches other reports, that `dietpi-ramdisk` is still failing to sync the update to disk on reboot in some cases. Also your solution matches the assumption. I did some deeper review/research here: https://github.com/Fourdee/DietPi/issues/2471#issuecomment-460104856

It is a pain that I was never able replicate any sync issue on testing systems, so I am n

[2019-02-04 17:14] MichaIng commented on #2491
@curiosity-seeker

Ah jep makes sense, since `wg-quick` adds/removes this interface completely. At least this verifies that indeed the interface is removed and not active/added by any other script, before running next wg-quick.

Did you try to comment the `PostUp`/`PostDown` lines in `/etc/wireguard/wg0`?

I will also do some test install later this night.

[2019-02-04 20:39] rox-wolf commented on #2495
I have successfully installed 6.20 image on Raspberry Pi 3 and Zero W, no install loops on these devices. But on my Odroid HC1 it loops. If you need some early tests on Odroid HC1, I can do them :)

[2019-02-04 22:21] kevkha opened #2498 "Post update v6.14 to v6.20 yields error /DietPi/dietpi/login line 168 error token"
### Creating a bug report/issue

#### Required Information
- DietPi version | `cat /DietPi/dietpi/.version` 6.14
- Distro version | `echo $G_DISTRO_NAME` or `cat /etc/debian_version` jessie
- Kernel version | `uname -a`  Linux DietPi 4.9.35-v7+ #1014 SMP Fri Jun 30 14:47:43 BST 2017 armv7l GNU/Linux
- SBC device | `echo $G_HW_MODEL_DESCRIPTION` or (EG: RPi3) RPi 3 Model B (armv7l)
- Power supply u

[2019-02-04 23:53] MichaIng commented on #2480
Okay, was not able to replicate and also user finally managed to install ownCloud without error. I mark as closed.

[2019-02-04 23:53] #2480 closed, assigned to nobody

[2019-02-05 05:04] YukiRainee opened #2499 "Raspbian mirror 404"
#### Details:
- Date           | Mon  4 Feb 20:57:16 PST 2019
- Bug report     | N/A
- DietPi version | v6.19.7 (Fourdee/master)
- Img creator    | n/a
- Pre-image      | n/a
- SBC device     | RPi 3 Model B (armv7l) (index=3)
- Kernel version | #1159 SMP Sun Nov 4 17:50:20 GMT 2018
- Distro         | stretch (index=4)
- Command        | G_AGUP
- Exit code      | 100
- Software title | DietPi-Upda

[2019-02-05 07:15] MichaIng commented on #2499
@Rainee4563
Thanks for your report.

This should be only a temporary issue. The release file exists now: http://archive.raspberrypi.org/debian/dists/stretch/Release

Please retry: `G_AGUP`

[2019-02-05 07:37] FWeissenb commented on #2499
Dont't know if its the same issue. But i get

 DietPi-Software: Connection test: http://raspbian.raspberrypi.org/raspbian
                                                                         │
- Exit code: 8
                                                                         │
- DietPi version: v6.19.7 (Fourdee/master) | HW_MODEL:3 | HW_ARCH:2 |
DISTRO:4

[2019-02-05 07:45] MichaIng commented on #2499
Changing the APT mirror only affects the Debian repo, the Raspbian repo is only available via this one mirror.

Hmm strange it does not work, at least yesterday night it did on my RPi.

Will retest later.

[2019-02-05 07:45] FWeissenb commented on #2499
Now it works. Sorry. Seems to be a  temporariness failure. :/

Am Di., 5. Feb. 2019 um 08:37 Uhr schrieb Frank Weißenborn <
frank.weissenborn@gmail.com>:

[2019-02-05 08:01] fyrfli commented on #2499
So I noticed a difference between what the DietPi link is and the link you specified:

i.e. DietPi - http://raspbian.raspberrypi.org/raspbian
      Your link - http://archive.raspberrypi.org/debian/dists/stretch/Release

And I know my knowledge of how repositories work might be limited, but can you say whether that difference matters? I am still getting the error:

"W: The repository 'http://raspb

[2019-02-05 09:21] MichaIng commented on #2499
**EDIT** Ah no wait lol raspbian.raspberrypi.org is inside /etc/apt/sources.list (Raspbian repo) while archive.raspberrypi.org is inside /etc/apt/sources.list.d/raspi.list (RaspberryPi repo for firmware and such) right? I mixed it up.
However in browser I see release files in both repos: http://raspbian.raspberrypi.org/raspbian/dists/stretch/Release
**EDITEDIT** So in this case it should work to s

[2019-02-05 09:33] fyrfli commented on #2499
Original repo works now. I had just switched to one of the others in the list inside dietpi-config and all seems well.

Thanks!

[2019-02-05 11:17] curiosity-seeker commented on #2491
Yes, I did! But I got the same messages as in my post above.

[2019-02-05 12:05] MichaIng commented on #2479
@JeffDanJ
Sorry for the late reply.

Did you check output of: `apt-mark showhold`?
Also please try to install those two packages manually:
[code]

[2019-02-05 12:10] MichaIng commented on #2498
@kevkha
Thanks for your report.

The reboot is not done automatically, right? (It should not, if this is no fresh install)
If asked to restart, cancel/exit instead.

Please try:
[code]

[2019-02-05 12:14] MichaIng commented on #2499
Hmm just tested here http://raspbian.raspberrypi.org/raspbian in sources and it worked well, although I run Buster here, not Stretch.

I am not sure if the above URL is a mirror director, so perhaps based on sync schedule this was fixed on one mirror earlier then on another.

I leave the topic open for a while, in case other users (still) run into this.

[2019-02-05 12:19] MichaIng commented on #2489
@Borotes
Hmm so all looks like intended.

I will test myself. Perhaps there is an incompatibility with HTTPS rewrites and the location checks inside the configs.
_________________
🈯️ Fresh install without HTTPS
🈴 After enabling HTTPS
  - OPcache warnings show up on admin panel

Bug verified
_________________
Security headers and access denial to data/config/... dirs + .htacces/... files is active,

[2019-02-05 12:53] MichaIng opened #2500 "DietPi-LetsEncrypt | Pre-answer sharing mail with EFF prompt with "no""
Currently on Debian Stretch CertBot:
[code]
- [x] Shall we answer this question with command argument to allow automated cert retrieving? In case, definitely with `no`.
- ~Or add another option for this to the G_WHIP menu?~
- ~Or leave it as is? Users will anyway run the menu and do manual input, so answering one question from the client does not hurt much.~

[2019-02-05 16:25] tim54000 opened #2501 "[Resolved] Wrong APT repositories - Connection test failed"
#### Details:
- Date           | Tue  5 Feb 17:07:33 CET 2019
- Bug report     | N/A
- DietPi version | v6.20.6 (Fourdee/master)
- Img creator    | DietPi Core Team
- Pre-image      | Raspbian Lite
- SBC device     | RPi 3 Model B (armv7l) (index=3)
- Kernel version | #1159 SMP Sun Nov 4 17:50:20 GMT 2018
- Distro         | stretch (index=4)
- Command        | Connection test: http://deb.debian.or

[2019-02-05 18:45] Venopsis commented on #2488
Hi,

Applied update from v6.19.7 to v6.20.6 and got error.

The update seemed to work properly and requested reboot at then end: done.

Now get this after logging:
`/DietPi/dietpi/login: line 160: ((: > 0 : syntax error: operand expected (error token is "> 0 ")`

And the system still propose to proceed update:
`Run now to update DietPi (from v6.19.7 to v6.20.6)`

If try to relaunch the update I go

[2019-02-05 22:24] ezekini opened #2502 "Services don't autostart after upgrading to 6.20.6"
### Creating a bug report/issue

#### Required Information
- DietPi version |
G_DIETPI_VERSION_CORE=6
G_DIETPI_VERSION_SUB=20
G_DIETPI_VERSION_RC=6
G_GITBRANCH=master
- Distro version | stretch 9.6
- Kernel version | Linux DietPi-rpi 4.14.79-v7+
- SBC device | RPi 3 Model B+ (armv7l)

#### Actual behaviour
I upgraded to the last version and now most services don't start automatically. I have to ma

[2019-02-06 02:50] kuerious opened #2503 "[FAILED] DietPi-PREP | Unable to continue, DietPi-PREP will now terminate."
--------------------------------------------------------------------
- DietPi has encountered an error, and, is unable to continue        -
- Please create a ticket: https://github.com/Fourdee/DietPi/issues -
- Copy and paste the BLUE lines below, into the ticket             -
--------------------------------------------------------------------

#### Details:
- Date           | Tue  5 Feb 17:45:51

[2019-02-06 03:00] kuerious commented on #1285
So what is the fix, then? I'm trying (dying to) use DietPi on a full-blown x86_64 PC environment. Did a Debian Netinstall, minimum (only an SSH). The script (using the **master** build) keeps crapping out. Can't someone just figure out where in the script something's not working?

I'm definitely going to be submitting a trouble ticket, but this seems like it should be easy to fix.

[2019-02-06 03:37] kuerious commented on #2503
So I plugged in the following:
[code]

Attempted the script again, this time I get the following:
[code]

So, yeah ... I'm unsure about what to do now.

[2019-02-06 03:41] msdos commented on #1803
@Fourdee I just had the problem you described in https://github.com/Fourdee/DietPi/issues/1803#issuecomment-393249909. Should this be added as a comment somehow in https://github.com/Fourdee/DietPi/blob/eb1be60e89ddc651d80345946c1b7f0585494bcc/dietpi.txt#L178?

[2019-02-06 05:52] vnguyen197 commented on #1443
I have the same issue since updated to v6.20.6, now I can't run dietpi-update either. I'm using raspberry pi 3 Model B

[2019-02-06 06:29] symbios24 commented on #2501
same problem here an endless loop to check for update

[2019-02-06 07:05] DIeMONdello commented on #1443
hi. me too v6.20.6 using raspberry pi 3 Model B+

[2019-02-06 07:14] DIeMONdello commented on #1443
helped me
https://dietpi.com/phpbb/viewtopic.php?f=11&t=5424#p16114

[2019-02-06 08:31] #2486 closed, assigned to Fourdee

[2019-02-06 10:36] symbios24 commented on #2495
On my Raspberry pi 3 it loops

[2019-02-06 15:18] maartenlangeveld opened #2505 "kernel ip_forward disabled after reboot"
### Creating a bug report/issue

#### Required Information
- DietPi version | v6.20.6

#### Additional Information (if applicable)
- Software intalled: Pi-hole, OpenVPN

#### Steps to reproduce

Enable kernel IP Forwarding
1. echo 'net.ipv4.ip_forward=1' >> /etc/sysctl.conf
2. sysctl -p /etc/sysctl.conf
3. sysctl net.ipv4.ip_forward --> output : "net.ipv4.ip_forward = 1"
4. cat /proc/sys/net/ipv4/

[2019-02-06 15:45] MichaIng commented on #2505
@maartenlangeveld
Thanks for your report. Indeed a very strange thing.

Which SBC/device do you use? Obviously something overrides the setting, after sysctl applied it.
Possibly there is a `/etc/sysctl.d/*.conf` drop-in config file, please check:
`grep 'net.ipv4.ip_forward' /etc/sysctl.d/*.conf`

[2019-02-06 16:09] MichaIng commented on #2503
@kuerious
Thanks for your report. Jep indeed a wrong chmod target, I fixed it and merged into master: https://github.com/Fourdee/DietPi/pull/2506
Just redo with the steps, which will download the fixed DietPi-PREP version.

I mark as closed, feel free to reopen, if required.

[2019-02-06 16:10] #2503 closed, assigned to nobody

[2019-02-06 16:18] maartenlangeveld commented on #2505
Hi Micha,

SBC: NanoPi NEO2
grep 'net.ipv4.ip_forward' /etc/sysctl.d/*.conf gives no result...

Thanks, M

[2019-02-06 16:33] tkrusterholz commented on #2497
Hello,

Thanks for the reply.  I tried your recommended steps but I see the same
error.  Do you have any additional suggestions?

Thank you,
Tom R

On Mon, Feb 4, 2019, 9:40 AM MichaIng <notifications@github.com wrote:

[2019-02-06 16:37] maartenlangeveld commented on #2505
I have found a solution...

When I add a dediacted 01-ip_forward.conf file in /etc/sysctl.d/ with line "net.ipv4.ip_forward=1" the ip forward keeps enabled after reboot.

I have very very little knowledge of UNIX/Linux but probably /etc/sysctl.conf is not parsed as long as there are .conf files in /etc/sysctl.d/ ?

[2019-02-06 16:39] kuerious commented on #2503
This bug #2503 points to bug #2506 ... which points back here, to 2503.

Where's the fix?

[2019-02-06 16:42] Fourdee commented on #2503
@kuerious

Use the dev branch for PREP script, then select master during GUI:
[code]

[2019-02-06 17:06] Fourdee commented on #2501
Merged into this ticket (same issue):
https://github.com/Fourdee/DietPi/issues/2501

[2019-02-06 17:06] #2501 closed, assigned to nobody

[2019-02-06 17:08] Fourdee commented on #2497
@patho5

Try changing the APT mirror in:
- ```dietpi-config``` > Networking: Misc > APT mirror

[2019-02-06 17:09] Fourdee commented on #2502
@ezekini

Many thanks for the report, please do the following:
- Reboot system
- Allow for the system to boot up
- Login
- paste results of ```dietpi-services status```

[2019-02-06 17:13] Fourdee commented on #2499
Will mark as closed, unable to replicate currently, appears to be a temp remote server issue.

[2019-02-06 17:13] #2499 closed, assigned to nobody

[2019-02-06 17:28] FabioEight opened #2507 "Issue installing LASP"
#### Details:
- Date           | Wed  6 Feb 17:20:49 GMT 2019
- Bug report     | N/A
- DietPi version | v6.20.6 (Fourdee/master)
- Img creator    | DietPi Core Team
- Pre-image      | Raspbian Lite
- SBC device     | Unknown Device (armv7l) (index=0)  (I've a RPI 3B+, why is not recognized?)
- Kernel version | #1159 SMP Sun Nov 4 17:50:20 GMT 2018
- Distro         | buster (index=5)
- Command

[2019-02-06 17:33] ilgrank opened #2508 "dietpi-drive_manager keeps forgettind and adding mounts | G_RUN_CMD always returns exit 1 code"
Hi
After the upgrade from 6.17.20 to 6.20 (but could be unrelated, I simply noticed after the upgrade) a couple of strange things began to happen:
1) dietpi-drive_manager doesn't remove entries of mounted smb shares (or better, when I do remove them, they disappear, but after a while they do re-appear in the list of mounted shares)
I tried removing them several times, but after a reboot or two, ol

[2019-02-06 17:37] MichaIng commented on #2503
@kuerious @Fourdee
I already merged it into master. Okay since it does not change any remaining DietPi code.
#2506 is a pull request, selecting "Files changed" shows the changed/fixed code line(s).

At the top you see "master from beta", which means that I merged the fixed code from beta branch (where I added the commit first) into the master branch (release branch).

[2019-02-06 17:48] Fourdee commented on #2483
Completed for v6.21, yes/no prompt will now appear if a change is required.

[2019-02-06 17:48] #2483 closed, assigned to Fourdee

[2019-02-06 17:48] MichaIng commented on #2471
@Akito13
Another question:
- Do you remember, if the `chmod: cannot access '/etc/profile.d/dietpi-*.sh` error appeared after a reboot the first time, or directly after starting the update the first time (without reboot in between)?

[2019-02-06 17:48] ezekini commented on #2502
Well now everything seems to be booting as expected. I don't know what was happening. Sorry for the trouble.

[2019-02-06 17:53] Fourdee commented on #2503
@MichaIng

Ah nice one, thanks 👍

Been unwell last few days, trying to catch up 😃

[2019-02-06 17:56] theAkito commented on #2471
I didn't use the test-pi that encountered the error since then, to use it for further testing. I ssh'ed into it now seeing this:
[code]
Which means, that the error occured before rebooting.

[2019-02-06 17:59] tkrusterholz commented on #2497
Hi Dan,

Thanks for your response to this.  Turns out my lists file was corrupted
(as stated by this output: *Failed to fetch
http://ftp.nl.debian.org/debian/dists/stretch/main/i18n/Translation-en
<http://ftp.nl.debian.org/debian/dists/stretch/main/i18n/Translation-en>
BZ2_bzread:
/var/lib/apt/lists/partial/ftp.nl.debian.org_debian_dists_stretch_main_i18n_Translation-en.bz2
Read error (-5: DATA_ER

[2019-02-06 18:01] Fourdee commented on #2507
@XRay437

Hi,

We do not recommend manually installing webserver stacks, unless its on a clean installation. Please use the webserver preference option in ```dietpi-software``` to avoid issues such as this.

Ok, so solution is to uninstall all known webserver installed software in ```dietpi-software```. Then, use the webserver preference option to select the one you require.

Any webserver dependa

[2019-02-06 18:06] Fourdee commented on #2497
@patho5

Excellent, thanks for letting us know, i'll mark this as resolved 👍

[2019-02-06 18:06] #2497 closed, assigned to nobody

[2019-02-06 18:08] Fourdee commented on #2508
@ilgrank

Hi, many thanks for the report 👍

Ok, so when unmounting SMB/NFS shares, DietPi also removes the entry from ```/etc/fstab```.

Might be a scrape issue with ```/etc/fstab```, please can you paste results of:
[code]

I'll also try to replicate issue here.

[2019-02-06 18:12] Fourdee commented on #2508
[code]

G_RUN_CMD always returning 1?

[2019-02-06 19:08] Fourdee commented on #2508
@ilgrank

Resolved for v6.21.

You can also apply the fix now with:
[code]

Then load ```dietpi-drive_manager``` to remove the drive. Spam ```Refresh``` option in same program, the drive will no longer re-appear.

[2019-02-06 19:08] #2508 closed, assigned to Fourdee

[2019-02-06 19:27] vnguyen197 commented on #1443
Ok, i think this solution is work for me i go to fix this file /DietPi/dietpi/.install_stage from 1 to value of 2 and it works as good as new

[2019-02-06 19:35] FabioEight commented on #2491
Same issue here! Same setup, same errors:

`
feb 06 19:32:16 DietPi wg-quick[1835]: [#] wg setconf wg0 /dev/fd/63
feb 06 19:32:16 DietPi wg-quick[1835]: [#] ip address add 10.8.0.1/24 dev wg0
feb 06 19:32:16 DietPi wg-quick[1835]: [#] ip link set mtu 1420 up dev wg0
feb 06 19:32:16 DietPi wg-quick[1835]: [#] ip route add 10.8.0.0/24 dev wg0
feb 06 19:32:16 DietPi wg-quick[1835]: RTNETLINK answers:

[2019-02-06 19:39] FabioEight commented on #2507
Hello, I think that my sources.list was messed up.
Following several topics, I've ended with  "apt-get install debian-keyring debian-archive-keyring && apt-get update". After few reboots, I've removed all webserver/DB software, performed a "apt-get REMOVE debian-keyring debian-archive-keyring", apt-get update and then the install completed correctly. TY

[2019-02-06 19:39] #2507 closed, assigned to nobody

[2019-02-06 19:51] MichaIng commented on #2507
@XRay437
`debian-keyring` should be not required. It is the developer/maintainer keyring, for uploading packages to the repo, AFAIK.
`debian-archive-keyring` indeed is required to download packages from the repo, so you should not remove it. If done, reinstall, otherwise further APT steps should fail: `G_AGI debian-archive-keyring`

[2019-02-06 20:00] MichaIng commented on #2505
@maartenlangeveld
That is strange as well. Actually `/etc/sysctl.conf` itself is implemented via `/etc/sysctl.d` as symlink:
[code]

But anyway it is generally advised to use a separate `/etc/sysctl.d/*.conf` file for manual additions, so they can easily be reverted and `/etc/sysctl.conf` stays untouched, so can be automatically updated via APT, e.g. to apply new defaults or simply add/change comm

[2019-02-06 20:31] Fourdee commented on #2475
@msongz

Apologies for the delay.
Please check max size of ```run``` by using:
- ```df -h```

Appears incorrect, also check ```dmesg``` for any undervolt/filesystem issues:
- ```dmesg | grep volt```
- ```dmesg | grep ext```

I suspect system instability/hardware issue has caused the system to become unstable. Will wait for the above results.
Also please confirm SD card and PSU used on system.

[2019-02-06 20:34] Fourdee commented on #2492
@MichaIng

Yep, if optimal is 0/null, set to ```mimimal``` 👍

If ```mimimal``` does also not exist, set to a failsafe value of ```512```?

[2019-02-06 20:48] MichaIng commented on #2491
@curiosity-seeker @XRay437
Strange, on my test VM, it does not attempt to add a route:
[code]

In your cases additionally it attempts and fails to: `[#] ip route add 10.8.0.0/24 dev wg0` 🤔

Related `/usr/bin/wg-quick` code lines:
[code]
_______________
If I could follow everything correctly, the following is responsible:
`[[ $(ip route get "$1" 2>/dev/null) == *dev\ $INTERFACE\ * ]] || cmd ip rout

[2019-02-06 20:49] maartenlangeveld commented on #2505
@MichaIng,
Thanks! At mine's 99-sysctl.conf was not a symlink but a separate file. I have manually made the symlink now.

[2019-02-06 21:00] ilgrank commented on #2508
Wow! I didn't even get to arrive home and you had already a fix out!  🥇
 Testing immediately but meanwhile.. THANKS!! 👍

**EDIT**: The removal is working ok now!
The open/close disk manager to have the disks re-mount didn't tho.
If I try to benchmark a previously mount-ed (but not un-mounted) drive from drive_manager, i get:
`Input value "10" is higher than allowed "-100". No changes applied. `
an

[2019-02-06 21:48] MichaIng commented on #2491
@curiosity-seeker @XRay437
Based on the above research, please try and paste output of the following, calling the commands one by one (to allow some time in between):
[code]

[2019-02-06 22:00] MichaIng commented on #2505
@maartenlangeveld
Ahhh, why ever this was the case. So then I think changes to `/etc/sysctl.conf` were simply ignored, since only `/etc/sysctl.d/*.conf` are parsed and the symlink exists as a backwards compatibility.

In your case the setting was applied only, since you actively forced the config file with `sysctl -p /etc/sysctl.conf`

Ref: https://www.freedesktop.org/software/systemd/man/systemd-

[2019-02-06 22:25] MichaIng commented on #2492
@Fourdee
Setting a custom value doesn't seem to be possible: https://manpages.debian.org/stretch/manpages-de/parted.8.de.html
`none` should work in any case, no idea what `cylinder` means 🤔.

[2019-02-06 22:51] #2505 closed, assigned to nobody

[2019-02-06 22:54] MichaIng commented on #2498
PR for fix is up: https://github.com/Fourdee/DietPi/pull/2509
Release will be very soon.

[2019-02-06 23:08] MichaIng commented on #2495
@rox-wolf @symbios24
PR is up to solve the issue: https://github.com/Fourdee/DietPi/pull/2509
We will release v6.21 as hotfix with this and some other smaller fixes very soon.

Until then please try the following:
When `dietpi-software` prompts on login, simply exit it.
[code]

 `dietpi-software` will prompt once again, but afterwards not anymore.

[2019-02-06 23:23] MichaIng commented on #2488
PR up to fix this issue, release as hotfix planned very soon: https://github.com/Fourdee/DietPi/pull/2509

[2019-02-07 04:45] ethanpil opened #2512 "DietPi-Software | ISC+Glass DHCP Server"
#### Formal software information
- Software title | ISC and Glass Frontend
- Short description | DHCP Server and Web Based Frontend
- Official URL (if available) | https://github.com/Akkadius/glass-isc-dhcp
- GitHub URL (if available) | https://github.com/Akkadius/glass-isc-dhcp
- (Official) install documentation | https://github.com/Akkadius/glass-isc-dhcp#installation

#### Are there similar/alt

[2019-02-07 10:32] FabioEight commented on #2491
Hello, here we are:

[code]
Please, notice that I'm using the subnet 10.9.0.0/24 instead of 10.8.0.0/24 because on that subnet I've already set the tun0 if of PiVPN (in use with pi-Hole).
Thanks!

[2019-02-07 11:06] MichaIng commented on #2491
@XRay437

So indeed the required route is set up as desired and the service should not try to add it again. Indeed I guess it simply needs to wait a tiny bit longer.
This is an external bug from my point of view that we should forward to the WireGuard devs.

Note that the above steps are for debugging, no solution that would enable you to start the service. The problem it you completely need to re

[2019-02-07 11:22] MichaIng commented on #2512
@ethanpil
Thanks for your request.

Do I get it right that Glass is moreless web UI frontend for the `isc-dhcp-server`?
Ah actually that explains it:

So its a fork with additional features, e.g. web UI 😉.
_________
Actually with the WiFi HotSpot we already install `isc-dhcp-server` to provide DHCP functionality. Makes sense to as well allow this for wired connected devices.
`glass-isc-dhcp` could

[2019-02-07 11:22] curiosity-seeker commented on #2491
@MichaIng : I can report the same result as @XRay437 .

Unfortunately your latest suggestion didn't fix the problem:
[code]
And repeating the commands suggested further above got:
[code]

[2019-02-07 11:32] MichaIng commented on #2491
@curiosity-seeker
Okay thanks for testing.

Checking again the code:
[code]
- $TABLE is definitely not set, this requires an additional command argument or special config file entry.
- The net mask is `/24` not `/0`
- When setting the MTU manually, the route definitely exists, so (re)adding should be skipped.
- 🤔... Waiting (sleeping) longer than 1 second should be very unlikely required.
- Why no

[2019-02-07 11:40] MichaIng commented on #2491
@curiosity-seeker @XRay437
Okay please try the following:
[code]
_________
Btw good hint about the double use of `10.8.0.0` for WireGuard and OpenVPN. Usually you only want to use one VPN, but for testing and such both might be wanted as well. Perhaps we should by default switch WireGuard to `10.9.0.0` then?

[2019-02-07 11:46] curiosity-seeker commented on #2491
Success !!!!
[code]
Great!!!

[2019-02-07 11:49] MichaIng commented on #2491
@curiosity-seeker
Many thanks for reporting back. Please test if client connections work as desired, so we are sure we can for now promote this as solution, if users run into this, e.g. adding as hint to the dietpi.com docs.

And why ever the route check goes wrong, we should forward this to WireGuard devs.

[2019-02-07 11:51] curiosity-seeker commented on #2491
So I should modify this in /etc/wireguard/wg0.conf and /etc/wireguard/wg0-client.conf as I've been using OpenVPN, too, shouldn't I?

[2019-02-07 11:55] curiosity-seeker commented on #2491
I will certainly try to do this ASAP  but it might take some time as I'm busy with other things right now.

[2019-02-07 11:55] MichaIng commented on #2491
@curiosity-seeker
Hmm in case of an conflict, you should have shown other error messages before, AFAIK.
Use: `ip a s tun0` to check your OpenVPN address.