[2017-06-27 16:55] Fourdee commented on #1033
@DiljotSG

Aye, would be nice. Give it 10 years, ARM will most likely overtake x86 (energy efficiency now and performance isn't far off), then it might be possible ;)

[2017-06-27 16:57] Fourdee commented on #896
@sootstone

Good idea 👍 , i'll see what we can do.

[2017-06-27 23:25] phonicmouse commented on #889
What about this? @Fourdee
😄

[2017-06-28 10:26] Fourdee commented on #1024
Completed.

[2017-06-28 10:26] #1024 closed, assigned to nobody

[2017-06-28 10:33] Fourdee commented on #889
https://docs.mongodb.com/manual/tutorial/install-mongodb-on-debian/
[code]
- 🈴 Lacks ARMv7 ARMv8 binaries
[code]
- x86_32 x86_64 only

---

- 🈯️ Available in Raspbian repo:
[code]
- 🈴 But not debian

[2017-06-28 14:14] tetherit opened #1036 "chroot to RPi-armv6-(Stretch) sd card fails: qemu: uncaught target signal 4 (Illegal instruction)"
All of what I try below works with the TinkerBoard image (DietPi_v149_AsusTinkerBoard-armv7-(Jessie).img), so I'm not sure what is different in the RasberryPi image. From googling, it seems this used to be a problem with old versions of Raspbian (Jessie), so not sure what is wrong:

I created a microSD card from the latest Raspberry Pi Stretch image (v151):
[code]

I am trying to chroot to it from

[2017-06-28 15:36] Fourdee commented on #1032
Completed.

[2017-06-28 16:19] Invictaz commented on #731
@Fourdee

Autobuild.sh -t rpi calls rpi.sh

When you compile you give -v verionnumber

[2017-06-29 00:21] Invictaz opened #1037 "You cannot deinstall software if space is <500MB"
A bit of a vicious circle. You need to free up space, but you cannot do that since the script does not run when under 500MB.

I understand the 500MB minimum requirement but now it's preventing me to free up space...

[2017-06-29 11:20] Fourdee commented on #1037
@Invictaz

Spot on 👍

I'll switch the check around a bit, allow uninstalls but not installs.

[2017-06-29 11:20] Fourdee commented on #1032
Reopened for testing.

[2017-06-29 11:38] Fourdee commented on #1037
@Invictaz

Completed, you can update the script now with:
[code]

Software uninstalls are now supported if free space is below 500MB threshold.

[2017-06-29 11:38] #1037 closed, assigned to nobody

[2017-06-29 11:43] Fourdee commented on #1032
YMPD:
[code]

restart service = exit:
[code]

- ```libssl1.0.0``` Not available in stretch:
[code]

---

- 🈺 We'll need to recompile for stretch and available libs.

[2017-06-29 11:45] Fourdee commented on #1032
🈴 Dmesg, filled with RNG kernel/HW limitation issue?:
[code]

🈯️ We'll mask both services, dpkg/apt locks, could interfere with dietpi-software installs (which updates during software installs):
[code]

[2017-06-29 11:50] Invictaz commented on #1037
Legend!

[2017-06-29 14:05] egorf commented on #738
Hey guys,
I've just checked the image posted here for the NanoPi Neo Air. When booting, both bluetooth and wi-fi do not work. And the kernel is `3.4.113-sun8i`, rather than 4.9. Did anyone manage to get it working after all?

[2017-06-29 14:30] ThomasKaiser commented on #738
Works out of the box with Armbian. If you bought your Air just recently then you have AP6212A instead of AP6212 on the board which needs new firmware files (`apt upgrade` and needed firmware files are there -- speaking of Armbian though).

[2017-06-29 14:57] ThomasKaiser commented on #972
@syfxlin

Easy, remove `wlan0` definition below `/etc/network/interfaces`, then

    sudo apt --no-install-recommends install network-manager
    sudo nmtui-connect

If you're talking about connecting your OPi Lite with a Micro USB cable from a PC and get a serial console (`g_ether` mode) then this is just another Armbian feature most probably not available here.

[2017-06-29 15:04] Fourdee commented on #1032
PMS:
[code]

- 🈯️ dpkg options + ```--allow-unauthenticated```

[code]
- 🈯️ Install ```gnupg``` by default on all DietPi systems.

[2017-06-29 17:18] Invictaz opened #1038 "NZBget requires filesystem permissions to run (eg: EXT4)"
Moved all userdata to my USB stick then installed NZBget

ps -A | grep nzbget

shows nothing
Cannot connect to port 6789

Made a config file out of the template but it seems to be not running. In HTOP I see nothing.

[2017-06-29 17:51] Fourdee commented on #1038
@Invictaz

Lets check service status:
[code]

[2017-06-29 17:52] Invictaz commented on #1038
I found what is wrong during package.run downloading. Maybe it's because it's installing on a FAT32 USB stick? Need to fix this.

tar: Exiting with failure status due to previous errors
ERROR: Unpacking failed.

![image](https://user-images.githubusercontent.com/20338545/27702493-872a3ff6-5d04-11e7-9665-6d629cd0aa12.png)

[2017-06-29 17:55] Invictaz commented on #1038
@Fourdee

![image](https://user-images.githubusercontent.com/20338545/27702601-e22b4260-5d04-11e7-99a8-93477785af0f.png)

[2017-06-29 17:58] Invictaz commented on #1038
Dietpi userdata is now on /mnt/USB_1/dietpi_userdata and not on /mnt/dietpi_userdata/

So a redirect is missing somewhere (also).

[2017-06-29 18:14] Invictaz commented on #1038
I changed mount mode from /dev/UUID to /dev/SD in Drive Manager since FAT does not seem to support users. This did not work.

[2017-06-29 18:47] Fourdee commented on #1038
@Invictaz

FAT16/32 does not support file permissions. We do not recommend using it for user data.

You'll need to move your userdata back to RootFS. Then format USB drive with ext4. Then you can transfer user data back to USB drive.

[2017-06-29 19:13] Invictaz commented on #1038
@Fourdee Thanks for the quick reply. Not exactly the solution I was hoping for but understandable.

[2017-06-30 06:24] DJCrashdummy opened #1039 "DietPi-Software | XMPP-Server"
if anyhow possible at least one XMPP-Server would be nice.

although i'm not an expert i guess ~~[jabberd](http://jabberd2.org/) (written in C) or~~ [Prosody](https://prosody.im/) (written in Lua) would be a good choice, since i also read about them in conjunction with OpenWrt.

i'm not sure about [ejabberd](https://www.ejabberd.im/) (written in Erlang), but [Openfire](https://www.igniterealtime.o

[2017-06-30 11:28] Fourdee opened #1040 "DietPi-Software | NZBget : Add performance optimizations for SBC's"

[2017-06-30 12:48] Fourdee commented on #1040
General:
- ```Server1.Cipher=RC4-MD5``` fastest cipher
- ```CrcCheck=no``` May cause full PAR repair in some instances, however, should improve download performance due to reduced CPU load.
- ```ParScan=limited```
- ```ParCheck=auto``` default
- ```ParQuick=yes``` default
- ```ParPauseQueue=yes``` default
- ```ParThreads=$CPU_CORES_TOTAL```
- ```UnpackPauseQueue=yes``` default
- ```AccurateRate=no

[2017-06-30 13:10] Fourdee commented on #1040
Completed.

[2017-06-30 13:10] #1040 closed, assigned to nobody

[2017-06-30 13:12] Fourdee commented on #1038
@Invictaz

Yep, permissions will reduce filesystem performance, however, the majority of software requires them to function. So, we recommend avoiding FAT 16/32 for user data location.

I'll mark this as closed. Please reopen if required.

[2017-06-30 13:12] #1038 closed, assigned to nobody

[2017-06-30 13:16] Fourdee commented on #1030
@GrahamGIGA

If you want to view hostname outside of Roon, you may need to install ```avahi-daemon``` for hostname network broadcast:
[code]

[2017-06-30 13:24] Fourdee opened #1041 "DietPi-Software | JiveLite"
Frontend for squeezelite/LMS

[2017-06-30 13:57] Fourdee commented on #1032
MariaDB:

In Stretch, the default MySQL variant is now MariaDB. The replacement of packages for MySQL 5.5 or 5.6 by the MariaDB 10.1 variant will happen automatically upon upgrade.

This pretty much renders https://github.com/Fourdee/DietPi/issues/894 null

[2017-06-30 15:22] vsxen opened #1042 "Image request for the Nano Pi K2"
Amlogic S905 SoC

Those links may be  helpsful.

http://freaktab.com/forum/tv-player-support/amlogic-based-tv-players/606133-linux-images-for-s802-s805-s812-s905-s905x-s912-sd-usb-emmc

https://yadi.sk/d/pHxaRAs-tZiei

http://www.mediafire.com/file/7re9051p3ptkn74/nanopi-k2%28armbian+patch%29.tar.gz

https://forum.armbian.com/index.php?/topic/4150-friendlyelec-nanopi-k2-s905/&

Thank you.

[2017-06-30 16:23] phonicmouse commented on #889
Thank You!

[2017-06-30 16:53] Fourdee commented on #1032
Xserver:
Required driver packages, not available in Meverics Stretch repo:
[code]

[2017-06-30 17:38] GrahamEnigma commented on #1030
Hi Dan, I'll give that a try!

Cheers

[2017-06-30 21:26] kurtjcu commented on #1026
Thanks for the resolution :) Im really getting into diet pi 👍

[2017-07-01 10:50] Fourdee opened #1044 "DietPi-Software | Rtorrent not saving web settings"

[2017-07-01 10:51] Fourdee opened #1045 "DietPi-Software | OwnCloud web interface not functional"
Apache2 using default link:
http://192.168.0.100/owncloud

[2017-07-01 10:51] Fourdee opened #1046 "DietPi-Software | Transmission WebGUI not reachable after installing ownCloud"

[2017-07-01 11:07] JohnMacrae opened #1047 "NPM Version control vs Node Red"
## Creating a bug report/issue:
Node Red does not  recommend the use of NPM > v3 but version 4 or later is installed by dietpi
Could we have the choice of version or perhaps a clever way of dealing with this please?

#### Required Information:
- DietPi Version | 1.5
- SBC Device  RPi 3
- Power supply used Fine
- SD card used  Sandisk ultra
- Distro  Jessie?

#### Additional Information (if applica

[2017-07-01 11:14] dmaglio commented on #734
maybe i found theb bug.... into dietpi-letsencrypt there two variables: LETSENCRYPT_DOMAIN and LETSENCRIPT_EMAIL. after the first install this variable remain to mydomain.com and user@email.com

[2017-07-01 11:30] Fourdee commented on #1045
Installed:
- Transmission
- Rtorrent
- Owncloud (apache2)

Status:
- 🈯️ http://192.168.0.100/owncloud works fine

[2017-07-01 11:31] Fourdee commented on #1046
- Installed: https://github.com/Fourdee/DietPi/issues/1045#issuecomment-312426915

Status:
- 🈯️ Can access web interface fine: http://192.168.0.100:9091/

[2017-07-01 11:38] Fourdee commented on #1044
- Installed: https://github.com/Fourdee/DietPi/issues/1045#issuecomment-312426915

Status:
- Changed update GUI every 1000 ms
- Unticked Confirm torrent deletion
- ```reboot```
- 🈯️ Changed settings are saved and viewable in web interface.

[2017-07-01 11:38] #1044 closed, assigned to nobody

[2017-07-01 11:38] #1045 closed, assigned to nobody

[2017-07-01 11:38] #1046 closed, assigned to nobody

[2017-07-01 11:39] Fourdee commented on #1042
@vsxen

Our Odroid C2 image _may_ work with this (same ARM), although untested as I do not currently own the K2 board.

[2017-07-01 16:42] Fourdee commented on #1007
### Image available under BETA status:
#### - http://dietpi.com/downloads/images/DietPi_NativePC-x86_64-(Stretch).7z

---

#### Notes:
- x86_64 (64bit CPU required)
- Simply DD/write image to USB or Sata drive. Select as boot device in BIOS.
- EXT4 ```/boot``` partition. Debian 9 installer would not allow for FAT 👎
- MBR non-UEFI
- User: Sensor modules with ```sensors-detect```: https://superuser.

[2017-07-01 23:59] vsxen commented on #1042
Ok,  I will try it .(May be  I will  need to compile u-boot  like the armbian patch file) Thank you.

[2017-07-02 11:33] k-plan opened #1048 "DietPi-Config | LCD Panel addon: waveshare32 doesn't work in v.152 with RPi 3"
## Creating a bug report/issue:

@Fourdee

#### Required Information:
- DietPi Version |  => 152

- SBC Device : => RPi 3

[code]

- Power supply used : => offical RPi Power Supply 5,1 V / 2.5 A

- SD card used : => ScanDisk Extreme 16GB U3

- Distro (EG: Jessie) :  ==> `Linux RPI-3 4.9.30-v7+ #2 SMP Wed Jun 7 18:57:30 BST 2017 armv7l GNU/Linux`

#### Additional Information (if applicable):

- Sof

[2017-07-02 12:25] Fourdee commented on #1007
#### My Tests (v153):
- AMD FX 6200
- Nvidia 1050 Ti

DietPi-Software installs:
- 🈯️ LXDE
- 🈯️ Chromium OpenGL

Other:
- 🈯️ DietPi-Config | Nvidia driver install
- 🈯️ DietPi-Drive_Manager: basic mount/unmount tests
- 🈴 Sound: default device index ```3```. May need to implement auto detect sound card feature.
[code]

---

Notes:
- 🈴 Lightdm installed by default with LXDE (even with ```-no-install-r

[2017-07-02 12:30] Fourdee commented on #1048
@k-plan

Thanks for report (very nice report 😄 ) 👍

Should be able to get round to this on Tue. Just finishing up: https://github.com/Fourdee/DietPi/issues/1007

[2017-07-02 12:34] tatoosh commented on #991
@Fourdee no did not tried it with a fresh reinstall. So you can't reproduce it, it may be a problem at my system. Thanks for helping, i will close the bug.

[2017-07-02 12:34] #991 closed, assigned to nobody

[2017-07-02 15:26] k-plan commented on #1048
@Fourdee

No problem, you created a nice template. 😉

With older Kernel `Linux DietPi 4.4.50+ #1 Tue Mar 7 15:10:58 UTC 2017 armv6l GNU/Linux` e.g. DietPi v.14x it will work _"out-of-the-box"_.

Do some deeper testing and research on a fresh installed `DietPi_v150_RPi-armv6-(Jessie).img`

It exist a new Driver packet/ Online-Installer: [LCD-show-170309.tar.gz (network connection is required while

[2017-07-02 16:03] k-plan opened #1049 "DietPi System | Option to set a custom NTP Server addresses"
@Fourdee

It will be a handy and nice feature, if we can set a custom NTP Sever addresses (IP or fully qualified domain name) directly in `dietpi-config` and/or `dietpi.txt`.

For new users, a listing of some predefine NTP  Server,  how as well in `Choose Apt Mirror` would be very helpful.

Thanks in advance for your efforts.

cu
k-plan

[2017-07-02 16:22] Fourdee commented on #1049
@k-plan

Yep, good suggestion 👍  I'll take a look for v154.

[2017-07-02 19:37] k-plan commented on #1048
@Fourdee

can't get X11 working on RPi fbdev (LXE Desktop): https://github.com/Fourdee/DietPi/issues/409#issuecomment-232729020

But I still think, use a 3.2'' display for DietPi Cloudshell, its more than enough.

[2017-07-03 00:31] GrahamEnigma commented on #1030
Hi Dan, that fixes the publication.  However one odd issue if I name the host Roon_Boom (or anything else with an underscore) the underscore is removed when rpeorting the Hostname.

Cheers

Graham
<img width="783" alt="screen shot 2017-07-02 at 5 30 41 pm" src="https://user-images.githubusercontent.com/6692257/27774725-3445d54e-5f4c-11e7-9e54-69b646ec7bec.png">

[2017-07-03 07:30] DJCrashdummy commented on #1039
the development of **jabberd** seems really slow now and also some XEP needed for OMEMO-support aren't implemented [(although pending since more than 3 years now)](https://github.com/jabberd2/jabberd2/issues/55).

so... yes it is still a working XMPP-server, but i would use it just as last resort.

[2017-07-03 07:48] DJCrashdummy commented on #1039
talking about OMEMO... the developers of conversations [suggest to use Prosody or ejabberd](https://github.com/siacs/Conversations#running-your-own):

[2017-07-03 14:40] DJCrashdummy opened #1050 "DietPi-Software | Searx Meta Search Engine"
i know, with [YaCy](https://github.com/Fourdee/DietPi/issues/817) there is already a search engine available, but [Searx](https://github.com/asciimoo/searx) is not completely the same:
it is a **meta** search engine and relies on the indexes from other providers (simplified you can think about it like your own free DuckDuckGo), but therefore it is not so heavy like YaCy.

as an lightweight alterna

[2017-07-03 15:44] Fourdee opened #1051 "SparkySBC | USB-DAC resets to HW:0,0 during boot"
Many thanks to @sudeep for the report.

Found the cause, it appears the USB detection occurs really late on in the boot process (22 seconds):
[code]

During boot, DietPi will attempt to detect USB DAC, although this occurs around 10-15 seconds into boot.
https://github.com/Fourdee/DietPi/blob/master/dietpi/boot#L344-L351

Fix is for us to remove the USB-DAC re-detection during boot, and leave it s

[2017-07-03 15:57] Fourdee commented on #1051
Fixed for v153 update.

#### Can manually patch now with:
[code]
- Set the soundcard in ```dietpi-config```
- Reboot
- Device should no longer be reset to ```hw:0,0``` in ```/etc/asound.conf```

Test:
- 🈯️ Confirmed resolved.

[2017-07-03 15:58] #1051 closed, assigned to nobody

[2017-07-04 02:10] studioai commented on #926
http://odroid.com/dokuwiki/doku.php?id=en:xu4_upgrade_from_3.10_to_4.9

Hardkernel has updated their wiki page and repository.

[2017-07-04 11:20] Fourdee commented on #926
@studioai

Hardkernel has updated their wiki page and repository.

This does not apply to our image as we are using Meveric's repo, which contains 4.9 kernel packages. The documentation may work, but I would avoid using that, instead use the Meveric repo packages as per below:
https://github.com/Fourdee/DietPi/issues/926#issuecomment-310918133

[2017-07-04 12:53] Invictaz commented on #1007
@Fourdee Thanks for all the hard work. Will there be a 32 bit distribution so I can run it on an older netbook? And an option to install to harddrive. Otherwise it only runs from USB. I might be able to close the partitions from USB to harddrive but unsure if that will work.

[2017-07-04 13:01] Fourdee commented on #1007
@Invictaz

Possibly we might do that in the future. However, with help from our users, test this image first, iron out the bugs then i'll look into it.

[2017-07-04 13:23] Fourdee commented on #1007
@Invictaz

You can write the image directly to a Harddrive, with a USB > Sata converter.

[2017-07-04 14:13] rncwnd79 commented on #926
I tried Meverics exact steps @Fourdee and get this (on 3.x image, already running manually installed 4.9):
`Fehl http://fuzon.co.uk/meveric/ all/xu3 linux-image-4.9-armhf-odroid-xu3 armhf 4.9.34-1
  404  Not Found`
`E: Fehlschlag beim Holen von http://fuzon.co.uk/meveric/pool/xu3/l/linux-image-4.9-armhf-odroid-xu3/linux-image-4.9-armhf-odroid-xu3_4.9.34-1_armhf.deb  404  Not Found`

`E: Einige Arc

[2017-07-04 14:47] joaofl commented on #926
@Fourdee
Just to understand, whats the difference between meverics compile and others?

I keep track of his releases, which was last updated end of may (v4.9.29), while the odroid repo is already at version 45?
(https://oph.mdrjr.net/meveric/kernel/XU3/4.9.x/)
(https://github.com/hardkernel/linux/tree/odroidxu4-4.9.y)

[2017-07-04 15:28] k-plan commented on #1030
@GrahamGIGA

No, not DietPi issue, it is a restrictions on valid hostnames corresponding to [RFC](https://en.wikipedia.org/wiki/Request_for_Comments):
[Restrictions on valid hostnames](https://en.wikipedia.org/wiki/Hostname#Restrictions_on_valid_hostnames)

@Fourdee

it will be a nice feature, to put `avahi-daemon` -  mDNS, Zeroconf, Bonjour - how ever you call it, as option into `DietPi-Software

[2017-07-04 15:53] Fourdee opened #1052 "RPi Kernel | Update for PianoPlus DAC Dual Mono & Dual Stereo features"
https://github.com/raspberrypi/linux/commit/0c929b3c94636bd4c0cd62181145c733b3d19c0a

[2017-07-04 16:04] Fourdee commented on #926
@rncwnd79

Confirmed earlier today.

Its functional now, please re-run:
[code]

Most likely Meveric was syncing our mirror server and its only just completed (fuzon.co.uk)

[code]

[2017-07-04 16:08] Fourdee commented on #926
@joaofl

Could be outdated, or the x.x.XX code reflects the build count in Meverics builds. So each time Meveric updates his kernel with latest, his build count number will be unique to how many times hes done it.

I could be wrong, depends on his setup and numbering system, or, he has hes own custom fork of the kernel, but you'd need to ask Meveric on Odroid forums to confirm.

As far as i'am awa

[2017-07-04 16:15] Fourdee commented on #1030
@k-plan

Great suggestion 👍

I'll add to DietPi-Software. We could also include it as a pre-req for all audio software installations.

[2017-07-04 16:50] k-plan commented on #1030
@Fourdee

But it will help only Mac-user. Windows doesn’t have Zeroconf/Bonjour support out of the box.
Yes, you can install it: https://learn.adafruit.com/bonjour-zeroconf-networking-for-windows-and-linux/#microsoft-windows

Audio software installations, especially with streaming, mostly use services like Universal Plug and Play (UPnP), Airplay or Digital Living Network Alliance (DLNA) to broadca

[2017-07-05 02:24] studioai commented on #926
@Fourdee

I tried those command on 3.10 kernel  image and I got

[code]

Do I need to edit source.list?

Here's contents of my /etc/apt/source.list.d/meveric-jessie.list

`deb http://fuzon.co.uk/meveric jessie main backports
`

[2017-07-05 08:47] Fourdee commented on #926
@studioai

Strange, do you have all the lists (mainly the XU3 one)?
[code]

[code]

And ```apt-get update``` ran before hand?

[2017-07-05 10:14] studioai commented on #926
@Fourdee

Nope.  There's only meveric-jessie.list.

[code]

I didn't touched lists at all since I installed dietpi last year.

Yes. I did apt-get update for sure.

Anyway I'll try again after downloading those lists.

[2017-07-05 10:19] studioai commented on #926
@Fourdee

Adding meveric-all-XU3.list to /etc/apt/sources.list.d/ solved my problem. Thank you!

[2017-07-05 11:01] rncwnd79 commented on #926
Trying right now.
edit: It worked this time.

Btw.
`--fix-missing`
worked after cleaning /boot.

[2017-07-05 11:49] Fourdee commented on #1048
@k-plan

Bumped to v154. Need to get v153 wrapped up.

[2017-07-05 12:31] Fourdee commented on #1052
![image](https://user-images.githubusercontent.com/7077026/27864394-4a972366-6186-11e7-871e-16d89a4ecf54.png)

[2017-07-05 12:34] Fourdee commented on #1052
Completed.

[2017-07-05 12:34] #1052 closed, assigned to nobody

[2017-07-05 12:35] Fourdee commented on #1007
Completed.

[2017-07-05 12:35] Fourdee commented on #1007
Reopened for testing.

[2017-07-05 12:37] Fourdee opened #1053 "DietPi-Config | Add ability to detect/select active sound cards on system."
aplay detection for Native PC.

[2017-07-05 12:39] Fourdee opened #1054 "DietPi-Config | Add support for AUDIOPHONICS I-Saber DAC ES9028Q2M"
🈴 Ideally, kernel patch if we can, then integrate into our RPi DietPi kernel. | Still beyond me.

[2017-07-05 12:40] Fourdee commented on #716
Marking as closed, outdated info/driver. New ticket for final product: https://github.com/Fourdee/DietPi/issues/1054

[2017-07-05 12:40] #716 closed, assigned to Fourdee

[2017-07-05 12:44] ghost commented on #797
Hi, I followed your guide step by step and I keep stumbling on this error after `php artisan koel:init`. is there anything I can do to fix it?

[code]

[2017-07-05 12:56] Invictaz commented on #1007
@Fourdee but then I have to open a sealed laptop, take out the drive and then write the image to that drive... Bit weird.

[2017-07-05 16:56] Fourdee commented on #1007
@Invictaz

Yep, not ideal, but we lack the code currently in DietPi for a USB/ISO installer. Depending on how popular the image is, we may look at creating a easy to use USB/ISO installer for Native PC image.

[2017-07-05 18:02] Invictaz commented on #967
@Fourdee a final Linux 4.12 was released some days ago. Any chance it will be implemented?

[2017-07-05 18:08] Invictaz commented on #1007
I will see if I can test it from a USB stick.

[2017-07-05 22:07] yaba opened #1056 "DietPi 153 broke Pimatic and Homeduino"
Yesterday I've updated from 148 to 153 (RPi 2).
Is is possible to downgrade? Pimatic uses homeduino which in turn uses a process that is now always using CPU at 90% (and more).

Linux PiLight 4.9.35+ #1 Tue Jul 4 17:16:26 UTC 2017 armv6l GNU/Linux

[2017-07-05 22:21] Invictaz commented on #1056
@yaba

I believe if you download this tree:

https://github.com/Fourdee/DietPi/tree/4e108f958e2e8f5c49ddc4a42ac22d9417f28719

You have back v152 again. At least that tree is the latest v152 commit.

Don't know for sure if that is the original download procedure as on dietpi.com/download older versions are not stored, only the newest images.

@Fourdee describes the upgrade process as:

Maybe if you

[2017-07-06 11:05] Fourdee commented on #1056
@yaba

Other than the recent kernel update to ```4.9.35```, there is nothing in the update that targets those programs in any way. Although, I know nothing regarding Pimatic and Homeduino, or its installation/configuration routine.

Can you link the installation steps/guide you used for these pieces of software? Hopefully we can backtrack the install/configurations, that may be effected (if at all

[2017-07-06 15:04] Fourdee commented on #1054
DToverlay + Binary install:
- 🈯️ ARMv7 Binaries | Sound tests 🈯️
- 🈯️ ARMv6 Binaries | Sound tests 🈯️

[2017-07-06 15:47] Fourdee commented on #1054
Completed, binary/zip updated.

Available in DietPi v153:
- ```dietpi-config``` > Audio Options > Soundcard > ```i-sabre-k2m AudioPhonics I-Sabre 9028```

[2017-07-06 15:47] #1054 closed, assigned to nobody

[2017-07-06 22:21] Invictaz opened #1057 "Video disk recorder is eating up boot time"
Dietpi v152

Video disk recorder fails in serial bootup log and is tried a few times.
Googled a bit and it seems I don't need it.  How to disable it? It is a service

[2017-07-06 22:39] Invictaz commented on #1057
Possibly related to Me TV installed but not sure.

[2017-07-06 22:43] Invictaz opened #1058 "DietPi-Config | Support for composite video output + overscan compensation"
In resolution setting there is no such thing as 720x576 (PAL)

Also there is only an overscan setting yes or no but no overscan compensation values, see this adafruit example

![image](https://user-images.githubusercontent.com/20338545/27935766-42131132-62ad-11e7-8b28-0be33d21074f.png)

[2017-07-07 03:50] DncrJim opened #1059 "Failure to Install Emby Server"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version | 153
- SBC Device | RPi 3

#### Issue:
Fresh install of DietPi fails to install emby-server using 'dietpi-software'.

"http://ftp.us.debian.org/debian/pool/main/libj/libjpeg8/libjpeg8_8d1-2_amd64.deb is offline and/or unreachable."

Perhaps the solution is obvious and/or simple, but I have exhausted my skill level and fo

[2017-07-07 06:32] OlmycatCodes commented on #854
I'm in also , have pi zero w's and a Pi 3 running Diet-pi, and printers.

[2017-07-07 06:51] studioai commented on #926
OnDemand Governor seems to does not work properly.

![image 003](https://user-images.githubusercontent.com/11453050/27946292-01afe406-632c-11e7-87cb-969e7f16e767.png)
![image 001](https://user-images.githubusercontent.com/11453050/27946293-01b4d236-632c-11e7-88b4-9179da6b5c23.png)
![image 002](https://user-images.githubusercontent.com/11453050/27946294-01b53032-632c-11e7-9201-986afb345ca6.png)

CP

[2017-07-07 11:10] Fourdee opened #1060 "DietPi-Software | Roon Server"

[2017-07-07 11:44] Fourdee commented on #1057
@Invictaz

This isn't installed on DietPi by default.

Check the status of the service with:
[code]

[2017-07-07 11:45] Fourdee commented on #854
Thanks guys, i'll pop this into v154 and take a look.

[2017-07-07 11:54] Fourdee commented on #1059
@DncrJim

Thanks for report. 👍  Confirmed.

Seems the connection test fails:
[code]

[2017-07-07 11:56] Fourdee commented on #1059
```libjpeg8``` packages have been removed from SID repo. Only ARMv8 exists as unofficial port:
https://packages.debian.org/sid/libjpeg8

Only other available package is in Wheezy, lacks ARMv8:
https://packages.debian.org/wheezy/libjpeg8

---

- 🈯️ ARMv7
Raspbian and emby repo
[code]

- 🈴 ARMv8 | Lack of available ```libjpeg8``` package for this arch. Install now disabled.
Still requires ```libjpeg

[2017-07-07 12:46] DJCrashdummy opened #1061 "DietPi-Software and DPlatform"
i'm not sure wether [DPlatform Shell](https://dfabric.github.io/DPlatform-ShellCore/) by @DFabric is already known or not, but lately i came across it and in my view there are some similarities with DietPi respectively DietPi-Software to be concrete.

the scopes of the projects are not the same (minimal SBC-OS vs. application-management), so completely joining forces won't make sense but maybe it

[2017-07-07 13:37] Fourdee commented on #1059
@DncrJim

Fixed for v154.

You can patch the script now with:
[code]

Emby server will now install in ```dietpi-software```.

[2017-07-07 13:37] #1059 closed, assigned to nobody

[2017-07-07 13:42] Fourdee commented on #1061
@DJCrashdummy

Interesting project, thanks for sharing.

[2017-07-07 13:46] Fourdee commented on #926
@studioai

Our CPU script will tend to cause the ondemand throttle up to trigger. There is nothing we can do about this inside bash.

To get the current frequency, without adding too much processing which may cause a throttle up:
[code]

Results in:
[code]

---

You can also check the times spent in each cpu clock with:
[code]

[2017-07-07 14:15] Fourdee commented on #1030
Avahi-daemon is currently prereq for (automatically installed as needed):
- MPD
- Shariport-sync
- Virtual Here

Aside from the above (where its required for the software), I believe its best we leave the installation of Avahi-Daemon optional by end-user.

I'll mark this as completed.

[2017-07-07 14:15] #1030 closed, assigned to nobody

[2017-07-07 15:05] Fourdee commented on #854
Does not run under root, simply terminates with a warning:
[code]

@foosel
Suggestion:
- ```You should not run OctoPrint as root!```
should be more informative on why the process was terminated, and, cannot be run under root native.
```E: OctoPrint can not be run under root. You can however override this at your own risk with --iknowwhatimdoing```

[code]

[2017-07-07 15:43] Fourdee commented on #854
- 🈯️ Online Doc: http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=7958#p7958

[2017-07-07 19:13] Invictaz commented on #1007
@Fourdee

I commenced testing on an i7 2670qm laptop.

Has a lot of failed and other errors but seems to work fine. How to send you the bootup log?
Also it's downloading a lot of amd64 stuff when I have an Intel processor... bit weird

The rest is quite fine. How to increase the font size? The resolution back to 720p is a bit weird...

Wifi works. Sound needs to be tested and Bluetooth. Also on th

[2017-07-07 19:31] Invictaz commented on #1007
Oh before I forget the images by Splashtop for ASUS are much and much faster. Only 7 seconds to a minimized desktop. Dietpi takes about 35 only to boot to console (on Pi Zero double that time)

[2017-07-07 21:45] Invictaz commented on #1007
Filed the first bug report

![20170707_232638](https://user-images.githubusercontent.com/20338545/27978058-d1f70db0-636d-11e7-9b80-cec9c64f4a8a.jpg)

Also GPU problems in Chrome after installing the Nvidia driver 379.55

![14994638302411381476843](https://user-images.githubusercontent.com/20338545/27978140-37ef82e6-636e-11e7-8a14-ec3597f93b60.jpg)

Plus after reboot to Chromium the wifi isn't conn

[2017-07-07 22:08] Invictaz commented on #1007
Sound works although not detected in dietpi-config
After uninstalling Nvidia drivers I tested the HDMI out, didn't work. Maybe later reinstalling them and retesting.

Tested NZBGet: works fine

Filed another bug report. Hopefully you can work some bugs out.

For now it's quite okay :+1:

[2017-07-07 23:58] Invictaz opened #1062 "DietPi-Software | Steam client"
Since DietPi is going for native X86 64 bit Steam or (parts of) SteamOS are maybe quite nice.

The GPU Drivers for Nvidia are implemented in DietPi already (with Vulkan)

http://steamcommunity.com/groups/steamuniverse/discussions/1/143387886726826685/

Links to the FAQ and repo:

http://steamcommunity.com/groups/steamuniverse/discussions/1/648814395741989999/

[2017-07-07 23:59] Invictaz commented on #1062
Also: Moonlight which is a streaming client for NVIDIA Gamestream

https://github.com/irtimmer/moonlight-embedded/wiki/Packages

[2017-07-08 07:41] Yury-MonZon commented on #854
from [https://github.com/foosel/OctoPrint/wiki/Setup-on-a-Raspberry-Pi-running-Raspbian](url)

Works fine, even autoupdates itself. In our case we could create another user i.e. octo.

[2017-07-08 07:44] Yury-MonZon commented on #1034
SSL encryption by default(https) would be great, especially if a user doesn't have domain name for his server.

[2017-07-08 08:36] mr-bolle commented on #475
Hi Fourdee, many thanks for your work.

I install webmin and the Module webminstats v2.16, if i open this Module ''Historic System Statistics" i get the Error Message "Error - Missing Content-Type Header"

I could solve this problem while I install **apt-get install libcgi-pm-perl**

many thanks again

[2017-07-08 09:47] Fourdee commented on #854
@Yury-MonZon

Thanks 👍

We dont have a ```pi``` user in DietPi. We do have a ```dietpi``` user which has same permissions as ```pi``` user:
https://github.com/Fourdee/DietPi/blob/4f7f27f49dd2329dc4b8a670896af188d3bf7037/dietpi/func/dietpi-set_software#L171-L197

Although, ```dietpi``` user is still under testing, is not implemented as the user for any of our software installations at the moment:
h

[2017-07-08 10:00] stdusm opened #1063 "Image Request | Banana Pi M3 official support"
This is a request to  support Banana Pi M3 officially.
I use it for more than one year without any issues with latest updates and so on.
Here is the sample:
http://forum.banana-pi.org/t/bpi-m3-new-image-dietpi-preview-bpi-m3-sd-emmc-image-2016-5-14/1685
Thanks.

[2017-07-08 11:25] Fourdee commented on #1007
@Invictaz

Thanks for report 👍

Which GPU model are you running?

[2017-07-08 14:50] mr-bolle commented on #475
I install DietPi_RPi-armv6-(Stretch) image, and install over dietpi-software Fail2Ban, after that the service don't start

$ /etc/init.d/fail2ban status
Failed to start server : Starting fail2ban (via systemctl): fail2ban.serviceJob for fail2ban.service failed because the control process exited with error code. See "systemctl status fail2ban.service" and "journalctl -xe" for details. failed!

--
-

[2017-07-08 14:55] studioai commented on #926
@Fourdee
`cat /sys/devices/system/cpu/cpu*/cpufreq/stats/time_in_state`

That gives me reasonable results. look good.
Thanks!

[2017-07-08 15:19] stdusm opened #1064 "[Dupe] Emby Server installation is failing"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version | ```cat /DietPi/dietpi/.version```?
153
- SBC Device (EG: RPi 3)?
BPI M3
- Power supply used (EG: 5v 1A RAVpower)?

- SD card used (EG: Sandisk ultra)?
mmc
- Distro (EG: Jessie) | ```uname -a```?
Linux MediaServer 3.4.39-BPI-M3-Kernel #1 SMP PREEMPT Tue May 3 13:47:01 UTC 2016 armv7l GNU/Linux

#### Additional Informatio

[2017-07-08 16:03] Invictaz commented on #1007
@Fourdee

Internal: Intel HD3000
Dedicated: Nvidia GT555M

[2017-07-08 18:15] Fourdee commented on #1064
@stdusm

Hi, thanks for the report 👍

This is fixed for v154, and can be also be patched now, please see following link:
https://github.com/Fourdee/DietPi/issues/1059#issuecomment-313682864

[2017-07-08 18:15] #1064 closed, assigned to nobody

[2017-07-08 18:18] Fourdee commented on #1063
@stdusm

This is an unofficial image created by BPi, not provided/supported by us as we lack the board currently.

I'll pop the BPi M3 on the SBC purchase list.

[2017-07-08 18:20] Fourdee commented on #1062
@Invictaz

Had my eye on this aswell, want to test streaming 👍

[2017-07-08 19:16] sootstone commented on #797
@MasaruKato

That's odd, what system are you trying to install Koel on?
Are you installing it as root?
Have you tried removing the `$HOME/.node-gyp` and `$HOME/.npmrc` directories, and rebooting/retrying? (Worked for people with similar problems)

[2017-07-09 12:19] Fourdee commented on #854
Available for testing in our testing branch, please see link below for instructions on how to setup an installation with this branch:
https://github.com/Fourdee/DietPi/blob/master/TESTING-BRANCH.md

Online doc for OctoPrint with DietPi:
http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=7958#p7958

---

@Yury-MonZon @kurtjcu @tobyrobb Would appreciate any assistance with testing this software, please

[2017-07-09 12:47] yaba commented on #1056
@Fourdee

Yes, vhduino is not compatible with the new kernel due to some issues in WiringPi.
Please close, not related to DietPi directly.

[2017-07-09 14:09] Fourdee commented on #1053
![image](https://user-images.githubusercontent.com/7077026/27994648-dce2a160-64b9-11e7-8adf-f2ca44afa589.png)

[2017-07-09 16:46] R1CH-T opened #1065 "DietPi-Software | Google Assistant SDK and AIY kit."
Hey Dan,

A while back, I received one of those funky, DIY, cardboard Google assistants from the MagPi:
https://aiyprojects.withgoogle.com/voice/

I decided to have a go at adding this functionality to DietPi, by adding two new installation options to DietPi-Software: One for the standard Assistant SDK and one for the AIY kit.

For each of these options, I have tried to implement the instructions

[2017-07-09 22:05] Yury-MonZon commented on #854
Great news! Thanks!
Any plans to add mjpeg-streamer for octoprint? It is much more useful with it included, ie online viewing etc...
Installation details are in the doc I mentioned before.

[2017-07-09 22:58] kurtjcu commented on #854
Awesome. I will have a try with some orange Pi Zero's.

:)

[2017-07-09 23:55] R1CH-T commented on #1065
I haven't tested the SDK installer yet, but I've gotten the installer for the AIY kit to work, by adding these to dietpi-software:

Added to the end of the:

`"────Voice Control─────────────────────────────────────────" #20`

Just after the section:

[code]

Just before:

[code]
[code]
(env) root@AIY:/mnt/dietpi_userdata/voice-recognizer-raspi# python3 src/main.py
[2017-07-10 00:45:43,780] WARNING

[2017-07-10 01:55] R1CH-T commented on #1065
Interesting link: http://eduncan911.com/stem/embedded/aiy-google-assistant-upgrades-may-2017.html

[2017-07-10 02:26] R1CH-T commented on #1065
I have just opened an issue on Google's AIO projects' Github:

https://github.com/google/aiyprojects-raspbian/issues/94

[2017-07-10 09:02] ghost commented on #797
I'm trying to install it on a Orange Pi PC.
Yes, I'm using the default DietPi account... I will try to do a fresh installation and delete those folders before
`php artisan koel:init`. Dumb question, do I need `npm install` or `yarn` is enough?

[2017-07-10 11:19] Fourdee commented on #1065
@R1CH-T

Hi Rich,

I don't, but I believe i'll need to obtain one if I'am to be any assistance here. It seems a large implementation that would need much testing, although you've done great so far, looks good.

arecord: main:722: audio open error: No such file or directory
[2017-07-10 00:45:43,804] ERROR:audio:Microphone recorder died unexpectedly, aborting...

Seems the microphone is failing open

[2017-07-10 11:21] Fourdee commented on #1065
@R1CH-T

It may be worth trying https://github.com/google/aiyprojects-raspbian/blob/master/HACKING.md#setting-up-the-image on Raspbian. If that is successful, we could compare the installs and try to find out why it only fails on DietPi.

[2017-07-10 11:25] Fourdee commented on #1065
@R1CH-T
[code]

Doesnt seem like the dtoverlay is loaded for voice hat?

Are these applied to ```/DietPi/config.txt``` (our RAMdisk location for ```config.txt```:
https://github.com/google/aiyprojects-raspbian/blob/master/scripts/configure-driver.sh#L27-L35

Applied to ```/boot/config.txt```, settings will be lost during reboot. Needs to be applied to our RAMdisk location  ```/DietPi/config.txt```

[2017-07-10 11:32] Fourdee commented on #1056
@yaba

Thanks for the info 👍

WiringPi hasn't been updated since ```2017-03-03``` (https://git.drogon.net/?p=wiringPi;a=summary), so if that is the issue, try reverting to 4.4.50 kernel:
[code]

[2017-07-10 11:34] Fourdee commented on #1056
@yaba
I'll mark as closed, but if you get a chance to test 4.4 kernel (https://github.com/Fourdee/DietPi/issues/1056#issuecomment-314079991), please let us know if this resolves the issue.

[2017-07-10 11:34] #1056 closed, assigned to nobody

[2017-07-10 11:35] Fourdee commented on #854
@Yury-MonZon

Installation details are in the doc I mentioned before.

👍 I'll take a look :)

https://github.com/jacksonliam/mjpg-streamer

[code]

Missing ```input_raspi.so```:
[code]

SDL libs have no bearing on ```PLUGIN_INPUT_RASPICAM ```

[2017-07-10 13:37] Fourdee commented on #1060
- 🈯️ Online Doc: http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=7966#p7966

[2017-07-10 14:00] R1CH-T commented on #1065
Thanks for the feedback. :1st_place_medal:
I was up very late last night looking at this stuff, so I've just read these replies.

I was thinking along those lines, last night, before my brain melted. ;)

Are these applied to /DietPi/config.txt (our RAMdisk location for config.txt:
https://github.com/google/aiyprojects-raspbian/blob/master/scripts/configure-driver.sh#L27-L35
Applied to /boot/config

[2017-07-10 15:06] tetherit opened #1066 "dietpi-update 1 kills openvpn needlessly"
Just for a bit of background, I'm planning to use DietPi on servers that create a VPN connection, so under normal use I wouldn't have the ability to locally ssh to the units or reboot them and they are designed to run headless. It would be great if dietpi-update didn't needlessly kill my openvpn process before performing an update.

#### Required Information:
- DietPi Version: 151
- SBC Device: RP

[2017-07-10 15:11] Fourdee commented on #1060
Issues with Roon Remote:
- https://community.roonlabs.com/t/roon-remote-android-issues-feedback/28074

Although, output/code works fine with Main Roon App. Could be a limitation with my Xiaomi phone, or bug in the Android app.

[2017-07-10 16:05] R1CH-T commented on #1065
:1st_place_medal: :1st_place_medal:

Bingo!

[2017-07-10 16:19] R1CH-T commented on #1065
https://github.com/google/aiyprojects-raspbian/tree/master/scripts

scripts/install-deps.sh:
[code]
(puts `status-led.ini` and `voice-recognizer.ini` into `/root/.config`)

scripts/install-services.sh:
[code]
(tries to use `/home/pi`)

scripts/configure-driver.sh:
[code]
(writes to ` /boot/config.txt`)

scripts/install-alsa-config.sh:
[code]
(tries to use` /home/pi` again)

Fixing these should do

[2017-07-10 16:40] R1CH-T commented on #1065
Would it be possible to use some sort of globally applied alias' to catch these sorts of things in dietpi? Or maybe some symlinks, or something, so we don't have to alter any such code again? Some catch-alls?

It'd be handy to have stuff redirected to  ` /mnt/dietpi_userdata` in most cases, I feel. (As well as `/DietPi/`).

Changing where `${HOME}` etc point to would be useful.

If this is too pro

[2017-07-10 17:28] tetherit commented on #599
Thank you for that, I'm looking at the instructions and it says:

[code]

Could you please provide instructions how you do this? :) - also, how do you then create the image file after doing this?

It isn't clear how you start and end the process. Do you start with a Debian version provided by the manufacturer of the board and then run these commands? - or do you start with something like debootstr

[2017-07-10 18:54] R1CH-T commented on #1065
Success!

I just disabled the sound through Audio Options, changed the scripts and it works!

The light in the arcade button on top triggers voice recognition, though doesn't flash like it should and the service is broken; but I think we can both see what's wrong, there:
[code]
~scripts/install-services.sh:~ DOES NOT NEED CHANGING.
[code]

scripts/configure-driver.sh:
[code]
scripts/install-alsa-c

[2017-07-11 01:46] kurtjcu commented on #854
Have been testing on my OrangePi Zero (h2) and is working well. So far only small prints (up to 2 hours) no problem. Interface runs well (including sync layer view for whole print).

I did try to install curaengine to be able to slice on the Zero, however i failed.
I used https://github.com/foosel/OctoPrint/wiki/Cura-Integration as a guide. The first section(use pre compiled file) seemed to be goi

[2017-07-11 10:44] Fourdee commented on #1053
Completed.

[2017-07-11 10:44] #1053 closed, assigned to Fourdee

[2017-07-11 12:36] Fourdee commented on #1065
@R1CH-T

...
for service in systemd/*.service; do
  sed "s:/home/pi/voice-recognizer-raspi:${repo_path}:g" "$service" \

done
...
(tries to use /home/pi)
If this is too problematic, perhaps the code could be altered upstream to make it a little friendlier to non-standard distros.
Changing where ${HOME} etc point to would be useful.

Yep, they could use ```"$HOME"/voice-recognizer-raspi``` to suppo

[2017-07-11 12:42] Fourdee commented on #1060
Marking as completed.

[2017-07-11 12:42] #1060 closed, assigned to Fourdee

[2017-07-11 13:38] Fourdee commented on #1049
In most cases it's best to use pool.ntp.org to find an NTP server (or 0.pool.ntp.org, 1.pool.ntp.org, etc if you need multiple server names). The system will try finding the closest available servers for you. If you distribute software or equipment that uses NTP, please see our information for vendors.

[2017-07-11 13:50] Fourdee commented on #1049
![image](https://user-images.githubusercontent.com/7077026/28071565-34175496-6648-11e7-9933-eec0bbdcf99b.png)
![image](https://user-images.githubusercontent.com/7077026/28072144-05608c6a-664a-11e7-9f20-628d81706be9.png)

[2017-07-11 14:04] Fourdee commented on #1049
Also added to ```dietpi.txt```, applied during 1st run automation.

[2017-07-12 12:28] Fourdee commented on #1049
Completed.

[2017-07-12 12:28] #1049 closed, assigned to nobody

[2017-07-12 12:58] Fourdee commented on #1048
Notes:
- The new driver installer is really messy. Requires a custom build of device tree compiler to install.

Options:
- 🈴 Install 4.4 kernel along side the existing driver?
- 🈯️ Attempt to make the new driver "somewhat functional and simple"? Backtracking all the changes in the driver.
replace DTB overlay and few changes to config.txt entries. thats it.

[2017-07-12 13:00] Fourdee commented on #1007
@Invictaz

In your BIOS, is there an option to disable the onboard intel HD GPU, and force Nvidia? Might be worth a shot.

[2017-07-12 17:01] Fourdee commented on #599
@xanview

Mount the image under loopback, then run ```gparted``` (gui) to resize 2nd partition:

Pre-reqs
[code]

[code]

Zerofree writes 0's to free space, resulting in much smaller compressed image.

[2017-07-12 17:19] R1CH-T commented on #1065
Adding the following lines to the installation entry fixes all outstanding issues and the AIY Kit now seems to work perfectly:
[code]
The suggested dietpi-software entries would therefore be:
[code]
To automatically start on boot, run `systemctl enable voice-recognizer`.

EDIT: From what I can tell from the project's Github, I believe that this should work on any Raspberry Pi (and maybe other devi

[2017-07-12 23:09] DJCrashdummy commented on #686
- documentation on their homepage: https://docs.gitea.io/en-us/install-from-binary/
- code @DPlatform-ShellCore: https://github.com/DFabric/DPlatform-ShellCore/blob/master/apps/Gitea.sh

[2017-07-12 23:27] DJCrashdummy commented on #391
there is an open issue #686 for adding [Gitea](http://gitea.io/) (a community managed fork of Gogs) which [provides arm64-binaries (and even more)](https://dl.gitea.io/gitea/master/) besides a quicker development and some other improvements.

i guess adding Gitea (maybe replacing Gogs) and solving #686 will bring some real benefit to DietPi.

[2017-07-13 01:49] Invictaz commented on #1007
@Fourdee No. BIOS is locked on laptops with Optimus dual gpu solution.

Flashing an unlocked bios isn't really an option for me right now.
There are some mods but I won't go into it
https://www.bios-mods.com/forum/Thread-ThinkPad-T410-T510-Intel-IGP-Optimus-Unlock-Request

From what I know the Intel HD3000 is always used, it offloads tasks to the dedicated Nvidia GPU which renders it and drops the

[2017-07-13 12:48] Fourdee commented on #1058
[code]

[2017-07-13 14:00] Fourdee commented on #1058
Overscan Compensation becomes available once Overscan is enabled:
![image](https://user-images.githubusercontent.com/7077026/28170016-f23fb186-67db-11e7-8451-50c856ad2ca2.png)

[2017-07-13 14:22] Fourdee commented on #1058
- 🈯️ Test overscan
Interesting, ```disable_overscan=1``` has no effect. Values always pulled from ```overscan_*```
- 🈺 Test SDTV: Unable, lack composite device.

[2017-07-13 14:27] MichaIng opened #1067 "DietPi-Software | ownCloud/Nextcloud | Improve installation and configuration"
### Testing pending: https://github.com/Fourdee/DietPi/pull/1346

---

**ToDo:**
- [x] Enabling, in case installing, necessary PHP modules: **merged**
- [x] Enabling, in case installing, necessary Apache modules: **merged**
- [x] Creating Apache configuration for Nextcloud: **merged**
- [x] Setting up PHP modules (OPCache, APCu, MySQL) on Apache: **merged**
- [x] Creating Nginx configuration for N

[2017-07-13 14:32] Fourdee commented on #1058
@Invictaz

Any chance you would be willing to test the SDTV modes in testing branch for us?
https://github.com/Fourdee/DietPi/blob/master/TESTING-BRANCH.md

[2017-07-13 15:01] tetherit commented on #599
Thank you for that, that's very useful :) - quick question, which images do you start out with? - For raspbian, I'm guessing the stock one, but what about for x86_64 and tinkerboard?

[2017-07-13 15:46] MichaIng opened #1068 "[Question] Dependence on package "pciutils"?"
Is dietpi actually (still) dependent on the package "pciutils" respectively it's provided commands?

I do not find any use of `lspci`, `setpci` or `update-pciids` inside the code, nor any other use of the package: https://github.com/pciutils/pciutils

On my Pi2 I tried to run `lspci` with this result:

I mean it doesn't disturb aether, but in case of looking for diet perfection... ;).

I just purg

[2017-07-13 16:32] Fourdee commented on #1068
@MichaIng

Great find, its not needed 👍

Can be removed from system prep script and we could also patch for its removal:
https://github.com/Fourdee/DietPi/blob/master/PREP_SYSTEM_FOR_DIETPI.sh#L126

We'll need to check VM/Native PC to ensure removing this package doesn't cause dep issues, with other packages that may need it.

[2017-07-13 18:02] FutureTense opened #1069 "XRDP install doesn't work unless TightVNC is installed"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version | ```153```
- SBC Device ODROID C1+
- Power supply: USB
- SD card used EEMC
- Distro (EG: Jessie) | ```Linux DietPi 3.10.104 #1 SMP PREEMPT Sun Mar 26 14:55:18 CEST 2017 armv7l GNU/Linux```

#### Additional Information (if applicable):
- Software title:XRDP
- Can this issue be replicated on a fresh installation of DietPi?

[2017-07-13 18:17] Fourdee opened #1071 "[dupe] DietPi-Software | XRDP: Unable to connect."

[2017-07-13 18:38] Fourdee commented on #1069
@FutureTense

Thanks 👍

http://dietpi.com/phpbb/viewtopic.php?f=11&t=2053#p7982

[2017-07-13 18:39] #1071 closed, assigned to nobody

[2017-07-13 18:46] Fourdee commented on #599
@xanview
- RPi = Raspbian Lite
- VM/x86_64 = Standard Debian net install
- OPi/BPi/NanoPi = Image built with ARMbian build tools
- Tinkerboard = Official ASUS image

Then we strip and optimize the image for DietPi:
https://github.com/Fourdee/DietPi/blob/master/PREP_SYSTEM_FOR_DIETPI.sh

[2017-07-13 19:21] sootstone commented on #797
`php artisan koel:init` will automatically use yarn, so no need to use either :)

[2017-07-14 11:22] R1CH-T commented on #1065
I haven't had a lot of time to look at this over the last couple of days, but I have just been looking through 'dietpi-config'. I am trying to figure out how to add an option for the _AOI Hat_ sound hardware. I'm trying to get this down pat, which may take a little time, but I'd just like to ask if you have any templates or tools, which help you construct the statements to do this stuff.

I'd also

[2017-07-14 13:14] Fourdee commented on #1048
- 🈴 Still not functional under X server. Tried both ```fbturbo``` and ```fbdev``` drivers. No joy.

[2017-07-14 13:16] Fourdee commented on #1048
Resolved for v154. @k-plan Thanks for the update driver, latest DTB overlay did the trick 👍

[2017-07-14 13:16] #1048 closed, assigned to nobody

[2017-07-14 13:38] Fourdee commented on #1069
Notes:
- Straight forward apt install ```xrdp```
- Possible apt installation issue, would explain the install of tightvnc to resolve?

Tests:
- 🈯️ Fresh DietPi image, install XRDP only (LXDE)
- 🈯️ Fresh DietPi image, install MATE & XRDP.
![image](https://user-images.githubusercontent.com/7077026/28215711-d2b27e68-68a6-11e7-91d8-b50779531b98.png)

[2017-07-14 14:17] Fourdee commented on #1069
@FutureTense

We were unable to replicate the issue in our tests. We believe this may be limited to an APT installation issue, or a unknown connection issue with XRDP server (in which case we would need logs to debug).

- Can you remember seeing any onscreen apt errors during the 1st installation (eg: prompt).
- If the connection issue occurs again, please can you paste the results of the XRDP log

[2017-07-14 14:18] Fourdee commented on #1068
@MichaIng

Resolved with your commit 👍 : https://github.com/Fourdee/DietPi/issues/1070

Will mark this as completed.

[2017-07-14 14:18] #1068 closed, assigned to MichaIng

[2017-07-14 14:21] Fourdee commented on #1066
@xanview

Thanks for the report 👍

DietPi-Update will stop the OpenVPN server service, however, this should not effect any OpenVPN clients.

Can you confirm this is a OpenVPN client connection on the device?

[2017-07-14 14:26] tetherit commented on #1066
It is the client connection on the device which is being affected :( - I have a config file /etc/openvpn/testdomain.conf which starts up at boot. When I run dietpi-update, this client connection is killed.

[2017-07-14 20:56] jamescalderon commented on #804
Thanks! Works like a charm!

[2017-07-14 23:36] studioai opened #1072 "XU4] Kernel 4.9 Unstable Cloud Shell HDD And Kernel downgrade is unabailable"
#926 related issue

- DietPi Version  v153
- SBC Device  XU4
- Power supply used  5v6a
- Distro Jessie (4.9 Test Kernel)

I'm testing new 4.9 kernel. and I met an issue with cloudshell hdd.

https://forum.odroid.com/viewtopic.php?f=146&t=27548

my issue exactly is same with forum thread. (Even PSU is same)

Higher CPU usage occurs resetting USB drive.

[code]

I've never experienced this issue whe

[2017-07-15 01:02] bwaddington opened #1073 "Plex media server - will not install"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version | ```cat /DietPi/dietpi/.version```?
- SBC Device (EG: RPi 3)?
- Power supply used (EG: 5v 1A RAVpower)?
- SD card used (EG: Sandisk ultra)?
- Distro (EG: Jessie) | ```uname -a```?

#### Additional Information (if applicable):
- Software title?
- Can this issue be replicated on a fresh installation of DietPi?

#### Expect

[2017-07-15 07:03] bhaveshgohel opened #1074 "DietPi-Config | Auto Reconnect Wifi in DietPi - Wireless Network Options"
Dear @Fourdee ,
Is it possible to add Auto Reconnect Wifi in 'DietPi - Wireless Network Options' by setting Wireless Details in 'Manually Set Wireless Details' option.

**Goal** : Raspberry Pi will keep on searching for the SSID at some interval and if the network available it will connect to that network and  when on disconnect it again search for the same network and repeat.

[2017-07-15 09:48] R1CH-T commented on #1065
I've been at work all week and  did the best I could, but I have finally had the chance to go through the `dietpi-config` code again. I am still at a loss: This script is 5000+ lines of code and I am having a little bit more trouble with this than I had with the `dietpi-installer`, despite that one being >14000 lines.

The `dietpi-installer` was pretty straight-forward and it took only took me a w

[2017-07-15 11:27] Fourdee commented on #1074
@bhaveshgohel

Currently not, if the SSID drops connection, WiFi will unlikely reconnect.

I made a script to monitor existing WiFi connections, and, reconnect if it fails. We could implement that system into DietPi-Config?
https://community.roonlabs.com/t/wifi-disappears-after-a-day/25850/20?u=dan_knight

[2017-07-15 11:34] Fourdee commented on #1065
@R1CH-T

Hi Rich,

Yep, DietPi-Config uses multiple external script functions to apply its settings. The main one is ```dietpi-set_hardware```, which applies soundcards and such.

_Is the DietPi-Config additions you are trying to apply, for the voice HAT soundcard?_

I'll write up the steps needed to add this today, or, I can make the changes here and send the commit?

Know the feeling lol 👍

[2017-07-15 11:53] Fourdee commented on #1073
@bwaddington

Hi, thanks for report.

We'll need more information.

- Which device are you running (eg: RPI 3)?
- Did you receive any on screen error prompts during the installation?

[2017-07-15 11:54] bhaveshgohel commented on #1074
Dear @Fourdee,
I tested the script and it is working fine... :+1:  ( Thank you for adding in V155.  :tada: )

We can add it inside 'Manually Set Wireless Details' option as one field  --> Auto Reconnect- Yes/No. [ suggestion]

[2017-07-15 11:56] Fourdee opened #1075 "DietPi-Config | Explain how to add new soundcards to the sourcecode (for contributors)"

[2017-07-15 12:20] Fourdee commented on #1075
## Adding a soundcard option in ```dietpi-config```

### In this guide, we will add the ```hifiberry-dacplus``` soundcard for the RPi.
---

### Step 1. Add the soundcard/overlay entries to ```dietpi-set_hardware```:
#### Before adding the overlay, we need to add a "reset", to remove the overlay, unless the card is selected.
- Inside ```Soundcard_Reset_RPi()```, add the following line to remove all

[2017-07-15 12:24] Fourdee commented on #1065
@R1CH-T

Guide for adding soundcards:
https://github.com/Fourdee/DietPi/issues/1075#issuecomment-315530565

Should cover it, but let me know if any issues/unsure.

[2017-07-15 12:55] Fourdee commented on #1065
@R1CH-T

This would make a great ```dietpi-software``` addition. Is this something you'd like to try adding, or, want me to take a look? :)

[2017-07-15 12:56] #1075 closed, assigned to nobody

[2017-07-15 12:56] #1061 closed, assigned to nobody

[2017-07-15 12:57] Fourdee commented on #1057
I'll mark this as closed. Please reopen if required.

[2017-07-15 12:57] #1057 closed, assigned to nobody

[2017-07-15 13:02] Fourdee commented on #1047
NPM is installed along with nodeJS. A shared library which is used by multiple DietPi-Software software titles.

We found ```npm``` < v5 (available through apt) was buggy with various software title installations. Hence we decided to always install the latest version from http://raw.githubusercontent.com/taaem/nodejs-linux-installer/master/node-install.sh.

As Node-Red currently works with ```npm`

[2017-07-15 13:02] #1047 closed, assigned to nobody

[2017-07-15 13:11] Fourdee commented on #1072
@studioai

Thanks for the report and info. Seems a known issue with 4.9 kernel and Odroid are aware, have you tried any of the workarounds in https://forum.odroid.com/viewtopic.php?f=146&t=27548 ?

[code]

Indicates rootFS is mounted as read only, possibly due to an issue with the file system. Please can you paste results:
[code]

[2017-07-15 13:19] Fourdee commented on #1007
@Invictaz

We'll need to do some research: https://wiki.debian.org/NvidiaGraphicsDrivers#Configuration

Mention of BumbleBee project for Nvidia Optimus: https://wiki.debian.org/Bumblebee

[2017-07-15 14:29] studioai commented on #1072
Yes, I tried suggested solutions in the tread but nothing helped.

Here's results of

[code]

[code]

[2017-07-15 15:57] bwaddington commented on #1073
Thank you for getting back to me! i have managed to sort it out, there was a problem with the mirror site. plex installed but there was no web interface. just did a clean install of dietpi and its all working now.

[2017-07-15 16:58] Fourdee commented on #1073
@bwaddington

Thanks for letting us know 👍 . I'll mark this as resolved.

[2017-07-15 16:58] #1073 closed, assigned to nobody

[2017-07-15 20:11] DasClarky opened #1076 "XU4 - Unstable LAN since last update"
- DietPi Version - 153
- SBC Device XU4 + CloudShell
- Power supply used 5v 4A
- Using eMMC 16GB
- Distro Linux NAS 3.10.104+ #1 SMP PREEMPT Wed Oct 26 16:17:46 CEST 2016 armv7l GNU/Linux

I updated to 153 two days ago and thought everything was running fine but discovered today that i couldn't connect to the sshd, i then noticed there was no LAN light anymore.  I just power cycled the machine and

[2017-07-15 23:04] MichaIng opened #1077 "[RPi Stretch] Stretch distribution available on "archive.raspberrypi.org" repository"
While checking out the need of package `apt-transport-https` and which repos are actually available with https access, I accidently found `archive.raspberrypi.org` not only available by https, but also finally offer the long awaited stretch distro: https://archive.raspberrypi.org/debian/dists/stretch/

I directly changed my `/etc/apt/sources.list.d/raspi.list` accordingly and successfully did an `

[2017-07-15 23:12] R1CH-T commented on #1065
@Fourdee

Thanks for the quick response.
...and sorry for the slow reply.

Thanks for the walk-through: You might want to consider adding this to the `README.md`.
Just don't send any commits, yet...

Well, It looks like I've got until v155 comes out, to get this sorted. :-)

If I don't get enough time, I'd appreciate it if you would do the honours, but it shouldn't come to that; I'll have a proper

[2017-07-16 07:22] DasClarky commented on #1076
Stayed alive over night but has been downloading also.

[2017-07-16 11:26] Fourdee commented on #1077
@MichaIng

Great find 👍

We can patch for this in the ```patch_file```.

[code]

We'll also need to update https://github.com/Fourdee/DietPi/blob/master/PREP_SYSTEM_FOR_DIETPI.sh#L80-L83

Maybe we could prefer them over http/ftp as standard repo, configurable via dietpi-config for the related countries? https 4tw :)

Additional entries can be added easily here:
https://github.com/Fourdee/DietPi/bl

[2017-07-16 11:32] Fourdee commented on #1076
@hydrouk

Seems limited to your system, either a local network issue (router/cable) or a hardware related issue on the XU4.

I'am yet to experience this with the XU4 on both 3.x and 4.9 kernels:
![image](https://user-images.githubusercontent.com/7077026/28247121-562bc9d0-6a22-11e7-937d-a34d55f9e384.png)

We'll need to get more info if we are debug. When the loss of connect occurs, we need to check

[2017-07-16 11:37] Fourdee commented on #1065
@R1CH-T

Hi Rich,

Thanks, great suggestion 👍

Yep no worries, regardless, good stuff for giving it a go, most people don't lol 😄 . If you get no joy with it, let me know and i'll implement what you have. I'll do additional testing aswell.

Hehe, I put in the milestone for my benefit, mainly to stop me from forgetting/mislaying the ticket. We can always move this to v200 if it requires it 😉

Perfe

[2017-07-16 11:44] Fourdee opened #1078 "DietPi RPi Kernel | Add support for 16/24 192KHz HDMI"
We originally had this as a patch in the ```4.4``` kernel, not the current ```4.9``` kernel.

[2017-07-16 11:56] trebunski opened #1079 "[dupe] Emby install failed"
## Creating a bug report/issue:
Unable to Install Emby Server: web interface media streaming server
http://ftp.us.debian.org/debian/pool/main/libj/libjpeg8/libjpeg8_8d1-2_amd64.deb is offline and/or unreachable.

#### Required Information:
- DietPi Version: 153
- SBC Device: oDroid XU3/4 (armv7l)
- Distro (EG: Jessie) : Linux dpi 3.10.105+ #1 SMP PREEMPT Tue Jun 6 15:02:21 CEST 2017 armv7l GNU/Lin

[2017-07-16 11:58] tobohr commented on #518
Hey @Fourdee
http://mirror.ox.ac.uk/sites/archive.raspbian.org/archive/raspbian
Today this mirror is down instead... shouldn't there be a fallback?

Thanks!

[2017-07-16 12:07] Fourdee commented on #854
No joy on ```mjpg-streamer``` unfortunately. Won't make it for v154. Although not a solution, we do offer software titles for RPi camera which could be used in tandem:
http://dietpi.com/phpbb/viewtopic.php?f=8&t=5#p48
http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&start=100#p6610

I'll mark this as completed for now. If we get enough requests to add ```curaengine```, i'll create a separate ticket.

[2017-07-16 12:09] Fourdee commented on #518
@tobohr

Thanks for the report 👍

Please this here for solution to change APT mirror in DietPi:
https://twitter.com/DietPi_/status/886553385255751681

[2017-07-16 12:10] Fourdee commented on #1079
Hi,
Thanks for the report 👍

Please see:
https://github.com/Fourdee/DietPi/issues/1059#issuecomment-313682864

[2017-07-16 12:10] #1079 closed, assigned to nobody

[2017-07-16 12:14] WolfganP commented on #518
It's always a good practice to use a mirror close to your geographical location. Officials are listed at https://www.raspbian.org/RaspbianMirrors
I used to change manually, but now I know there's another config solution integrated. Great work @Fourdee !

[2017-07-16 12:15] Fourdee commented on #1058
I'll mark this as completed. Testing outstanding, however, confident functional.

@Invictaz
If you get a chance to test this, please let us know.

[2017-07-16 12:15] #1058 closed, assigned to Fourdee

[2017-07-16 12:20] Fourdee opened #1080 "DietPi-Software Removal | JRiver"
Same issues as per implementation I experienced. Unknown cause / solution:
https://github.com/Fourdee/DietPi/issues/988

[2017-07-16 12:31] MichaIng commented on #1077
I will do a start with the patch_file.

As lines 80 to 83 are about the raspbian repo, do I get it right, that it's actually line 89 where the second comment need to be removed? As Jessie is still the RPi stable repo, I am not sure how you handle the stretch (test) updates and images ;).

About the https thing:
- I would move that to an own pull request/issue. The questions are, if we just want to

[2017-07-16 12:39] Invictaz commented on #1007
Yes I saw Bumblebee this week. Might test it later.

Also there is the option (somewhere in Linux) to disable the dedicated graphics and run only on Intel HD graphics. This saves energy which is one of the Key aspects of DietPi. So might need to be included.

[2017-07-16 12:41] Fourdee commented on #1077
@MichaIng

Excellent 👍

I'll do the prep file, its a little messy and needs cleaning up :)

We had some users reporting issues with ```https``` connections failing. Hence we geared towards the "fix all" solution with ```http```.

~Yep, lets go for replacing apt mirrors with ```https``` in ```dietpi-config``` for now. Although, i'd like to keep at least 1 entry (duplicate if required) for ```http``

[2017-07-16 12:43] Invictaz commented on #1058
@Fourdee Is the overscan=1 now working or still ignored?

I also have a weird bug in v153. Sometimes it switches back to headless instead of composite.

[2017-07-16 12:58] Fourdee commented on #1077
Notes, changing all apt from ```http``` to ```https```:
- 🈴 Deb ```Err https://security.debian.org jessie/updates/main armhf Packages
  Failed to connect to security.debian.org port 443: Connection refused```
- 🈯️ Rpi https://www.mirrorservice.org/sites/archive.raspbian.org/raspbian

@MichaIng

Looks like the solution for now. If you can find any ```https``` options that work :)

[2017-07-16 13:39] MichaIng commented on #1077
Funny thing, I thought is was just about "this" repo to use the https package for: https://github.com/Fourdee/DietPi/issues/669#issuecomment-269344844

But yeah I can confirm, that https://mirrordirector.raspbian.org/raspbian/dists/ and https://security.debian.org/debian-security/ are not available where they are via http.

I am not too sure about this solution. Looks little complicated and risky

[2017-07-16 13:42] Fourdee commented on #1077
@MichaIng

This is the default mirror used in Raspbian image. We changed to oxford as it was unreliable, however, oxford is the same recently:
https://github.com/Fourdee/DietPi/issues/518#issuecomment-315604459

and use http://mirrordirector.raspbian.org/raspbian/ (respectively debian repo) as standard http fallback/option.

Sounds good 👍

[2017-07-16 13:46] Fourdee commented on #1077
@MichaIng

Yep, it is, didn't work without it due to redirect. Strange, even their example sources is set to http.
https://wiki.debian.org/SourcesList#Example_sources.list

[2017-07-16 14:10] MichaIng commented on #1077
They might reverted that change due to the problems e.g. you (and for sure others as well) faced with missing and then via apt unavailable `apt-transport-https` package. Like a cat bite it's own tail 😆 .

Now `security.debian.org/debian-security/dists/` is definitely not reachable via https (at least in browser) but is via http and in browser I also do not face any redirection to https.

But never

[2017-07-16 14:34] MichaIng commented on #1067
Anyone any opinion on this?
Otherwise I would start to create a pull request including all changes that are necessary in my view (until 3.).

Changes in 4. do also affect other web services, so I am not too sure if this is a good idea. Maybe it could be explained during installation process and just done upon user agreement + non manual set value for the related settings.
Configuring Redis, if it

[2017-07-16 19:12] Fourdee opened #1082 "OPi PC | Does not recognize rootfs"

[2017-07-16 19:41] Invictaz commented on #1007
@Fourdee Bumblebee is last updated in 2013. We might use the proprietary Nvidia Driver from non-free plus the newest Xorg 1.19.2, that is used in DietPi v154

It needs nvidia_drm.modeset to have PRIME synchronization to remove the tearing

http://www.phoronix.com/scan.php?page=news_item&px=Xorg-PRIME-Sync-Double-Buffer
https://devtalk.nvidia.com/default/topic/957814/prime-and-prime-synchronization

[2017-07-16 21:52] R1CH-T commented on #1065
Thanks @Fourdee.

...processing...

[2017-07-16 23:24] sytone commented on #935
So just created HTPC as a app, I think I can do Home Assistant next as I run it at home.

[2017-07-16 23:28] sytone opened #1084 "Addition of new software complicated."
Adding in new software is a complicated process. Have you though of breaking it up?

Suggestion:
Under the DietPi Folder make a software folder. Under that make a folder for each application using the id as the folder name.

software /
    123 /
        info.sh
        install.sh
        uninstall.sh

info.sh - included by default to make the menu.
Example:
		index_current=123

				 aSOFTWARE_WHIP

[2017-07-17 00:09] southwolf commented on #814
[Wiki page](http://wiki.friendlyarm.com/wiki/index.php/NanoPi_NEO2)

[Official Images](https://www.mediafire.com/folder/ah4i6w029912b/NanoPi-NEO2)

AFAIK, `/sys/devices/system/cpu/cpufreq` is not working. [Ref](http://linux-sunxi.org/Cpufreq)

[2017-07-17 04:56] FutureTense commented on #1069
I'll try a fresh install when I get a chance. Please leave this open for a few weeks?

[2017-07-17 10:48] Fourdee commented on #1084
@sytone

DietPi-Software uses arrays at its core. Its a highly efficient system (especially in bash). I find it extremely easy to work with (coming from a C++ background). But yes, I can understand how this may be tricky for some.

#### We do offer a guide for adding software to DietPi-Software, which covers the steps needed https://github.com/Fourdee/DietPi/issues/490#issuecomment-244416570

Unde

[2017-07-17 11:32] Fourdee commented on #1069
@FutureTense

Yep no worries, please let us know results 👍

[2017-07-17 11:57] Fourdee commented on #1082
Tests:
- 🈯️ Fresh image write of DietPi ```DietPi_v145_OrangePiPC-armv7-(Jessie).img```. Run through the update system, select ```Go >> Start install``` with no changes.
![image](https://user-images.githubusercontent.com/7077026/28267063-2e18166e-6af0-11e7-930b-788d4c36ae83.png)

Unable to replicate. Most likely due to filesystem corruption, during the initial update. Caused by unstable or insuffi

[2017-07-17 12:04] Fourdee commented on #1082
Reverted back to user.

[2017-07-17 12:04] #1082 closed, assigned to nobody

[2017-07-17 12:11] Fourdee commented on #1077
@MichaIng

Yep agree 👍

However, appears Debian requires ```http``` for the current repos (as per the wiki). So we'll leave that as is.

Outstanding tasks:
- Add ```http``` and ```https``` entries for Raspbian repo in ```dietpi-config```

[2017-07-17 12:21] Fourdee commented on #1077
Completed. Added global RPi mirror as ```https```.

@MichaIng
Please reopen if needed, or, I missed anything :)

[2017-07-17 12:21] #1077 closed, assigned to nobody

[2017-07-17 12:26] Fourdee commented on #1072
@studioai

Thanks 👍

Everything looks fine, no mention of read only. Can you try the kernel downgrade again?

[2017-07-17 13:22] studioai commented on #1072
@Fourdee

No Error occurred but failed to boot.

I cannot report what is the problem because nothing on my display. Sorry.

[2017-07-17 14:29] Fourdee commented on #1007
Issues with NV audio, manual unmute may be required in ```alsamixer```:
![image](https://user-images.githubusercontent.com/7077026/28272894-be2731ea-6b04-11e7-9b89-48d9a43f02f3.png)

[2017-07-17 14:32] Fourdee commented on #1062
- 🈴 NV, no sound in games.

Remove bundled libs:
[code]

[2017-07-17 16:17] Fourdee commented on #1072
@studioai

I cannot report what is the problem because nothing on my display. Sorry.

Considering the issues reported with read only filesystem, I can only assume a possible filesystem corruption due to unstable system. Surprising as your running the official 5V/6A PSU? We tend to see this with 5V/4A with cloudshell (insufficient).

Are you using official EMMC, or SD card?

I'd recommend trying a

[2017-07-17 17:02] DasClarky commented on #1076
It has been stable ever since last reboot which was 2 days ago, weird moment! I do appreciate you getting back to me though, thanks

[2017-07-17 17:02] #1076 closed, assigned to nobody

[2017-07-18 02:01] studioai commented on #1072
I'm using non-official 5v/6a PSU. (They didn't offer a PSU when I purchased C-shell).
Using a SD card.

I've already lost my git repositories cause I missed a backup file. and that's enough for me. I'll give up and wait for hard kernel's solution.

[2017-07-18 06:03] vamichael opened #1085 "Creating a compressed backup image of the OS"
Can you add [piclone](https://github.com/raspberrypi-ui/piclone) to the software list?  It creates a compressed image of the OS.  In the interim, does anyone know how to do this using `dd`?

I'm kinda bummed because I made a backup using win32diskimager and for some reason the backup was larger than the "disc" and I was unable to restore after I messed up my install, thinking I was covered.

[2017-07-18 09:13] R1CH-T commented on #1065
Google Voice Hat Drivers:

Hi, Dan: I've just spent a couple of hours on this (since 8:30ish) and here is my take; based of my current understanding:

Straight from my notes, from this morning:
https://github.com/Fourdee/DietPi/issues/1075#issuecomment-315530565
https://github.com/google/aiyprojects-raspbian/tree/master/scripts

Please look in https://github.com/google/aiyprojects-raspbian/tree/ma

[2017-07-18 11:28] Yury-MonZon commented on #854
mjpeg-streamer is working on my orange pi zero with ordinary webcams. It wasn't easy though. What if I'll post my installation logs - will it help? Or it is abandoned completely? Thanks for your work!

[2017-07-18 12:11] Fourdee commented on #1065
@R1CH-T

Great work 👍

Should not be required. In DietPi, enabling an overlay will disable the onboard soundcard, resulting in the addon card being the 1st device index ```0```.
I also believe this would need to be added to module run-time options (eg, create file with contents of above: ```/etc/modprobe.d/googlemihat_soundcard.conf```.

Tricky. Quick solution may be be to remove that reference in

[2017-07-18 12:37] Fourdee commented on #854
@Yury-MonZon

Worth a shot 👍
Please post them here and we'll test it.

[2017-07-18 13:57] Invictaz commented on #1085
Interesting, the Win32 image is bigger than the actual drive because of compression of some parts.
But PiClone doesn't work on the other SoC's dietpi is running on?

[2017-07-18 16:43] R1CH-T commented on #1065
This thread is starting to get _very long_ now, so I'll be as brief as I can be. :)

I've read over your last reply and I think I see what you're doing there and follow it ~99%.

I think It's about time you took charge of this one now, if that's OK. I now see that, with the possible exception of `scripts/install-deps.sh`,we should pretty much do away with the installation scripts entirely and hand

[2017-07-18 16:52] LexiconCode commented on #1067
@MichaIng Thank you for bringing this up for discussion. I will be willing to help test  and contribute  as I have time with your project.

Here's a up-to-date [guide](https://www.c-rieger.de/nextcloud-installation-guide/) by one of the lead developers of Nextcloud. That walks you through the complete set up of Nextcloud 12, Nextcloud A+, SSL A+, Ubuntu 16.04.2 LTS 64Bit, nginx 1.13.3, mariadb 10.

[2017-07-18 19:04] Invictaz opened #1086 "LXDE cannot be installed nor uninstalled"
Native PC X86_64

Cannot submit a bug report, its 53 mb and the max is 50 :(
LXDE is partially installed due to a hang on reset (shutdown the network controller) so I had to hard reset my pc.

I want to reinstall it but gives ALSA 100 error

Only option is to reflash the image and try again.

As you see LXDE is still installed although cannot be selected for deinstall. In other words the previous

[2017-07-18 19:07] Invictaz commented on #1062
Steam does not run after selecting from the start menu, alsno not when installing the Nvidia driver.

The packages you describe are still being installed, at least I saw them after selecting my ALC663 sound card...

[2017-07-18 20:52] MichaIng commented on #1067
@LexiconCode Thanks for your participation!

I read through the guide of Rieger. It contains indeed many useful/necessary steps to run Nextcloud stable and secure. But it is in some parts quite specific for the setup with ubuntu server and some therefore specific versions/configurations of webserver, php and database. Many of the provided steps are already covered by the default related debian/ras

[2017-07-18 22:01] Invictaz commented on #1062
Steam is unable to start since it cannot apply updates

![20170718_235824](https://user-images.githubusercontent.com/20338545/28341758-45c5c16e-6c15-11e7-9122-4812a5c9fd66.jpg)

[2017-07-18 22:05] Invictaz commented on #1062
I tried again. Dietpi is installed on a usb stick with 6gb free

![20170719_000307](https://user-images.githubusercontent.com/20338545/28341880-d000d062-6c15-11e7-8f31-196720f1af76.jpg)

[2017-07-18 22:11] Invictaz commented on #1062
Here is the bootstrap_log
[bootstrap_log.txt](https://github.com/Fourdee/DietPi/files/1157427/bootstrap_log.txt)

[2017-07-18 23:13] MichaIng commented on #1067
Riegers Nextcloud installation guide: https://www.c-rieger.de/nextcloud-installation-guide/

**Nginx installation**

1. Installation is done here by manual build from scratch ubuntu source. For simplicity and (current+future) compatibility I would stay with the debian/raspbian repo packages, as dietpi already does it within dietpi-software.

2. I am not sure about the `ngx_cache_purge` module. If

[2017-07-18 23:16] MichaIng commented on #1034
Sorry, had the same idea but was too blind to see this existing issue 🤕 . Just see/participate the issue above, where the topics here are handled as well.

[2017-07-18 23:47] MichaIng commented on #1067
Btw. https://www.codem.com.au/blog/per-directory-php-nginx-configuration/

Is there anything against using this for nginx/php nextcloud specific configurations as well as .htaccess for apache? We could move all mentioned settings into these files. While discussing, if we find some good for the whole server setup. we can still move them into the php.ini afterwards. But as I said: I like to keep thi

[2017-07-19 00:04] Invictaz commented on #1062
Partially it's permission issues. Partially related to driver and partially it misses pieces

https://wiki.archlinux.org/index.php/Steam/Troubleshooting#Steam_runtime_issues
https://askubuntu.com/questions/614422/problem-with-installing-steam-on-ubuntu-15-04
https://askubuntu.com/questions/771032/steam-not-opening-in-ubuntu-16-04-lts
https://bbs.archlinux.org/viewtopic.php?id=157825
https://bbs.ar

[2017-07-19 06:56] rayoul commented on #433
Hi all,
I know that's an old topic but I'm still stuck with that issue.
I've found a way to resolve this permalinks with nginx and dietpi.
You have to edit /etc/nginx/sites-availabe/default
 on the line
location / {
    try_files $uri $uri/ =404;
}
change to
location / {
    try_files $uri $uri/ /wordpress/index.php?$args;
}
That works for me

[2017-07-19 12:27] Fourdee commented on #1034
@MichaIng

👍

I'll mark this ticket as closed. Please continue discussions in the following ticket:
https://github.com/Fourdee/DietPi/issues/1067

[2017-07-19 12:27] #1034 closed, assigned to nobody

[2017-07-19 12:33] Fourdee commented on #1067
@MichaIng

Funny thing, that their official image ist still Jessie, but should not take long anymore: https://www.raspberrypi.org/downloads/raspbian/

Plan is to switch to Stretch for all our devices. However, the RPi stretch image is still in testing:
https://github.com/Fourdee/DietPi/issues/475

Other devices (such as ARMbian built images), I'll check later down the line. Once the main boards ar

[2017-07-19 12:50] Fourdee commented on #1084
I'll mark this as closed. You've picked up the current system really well 👍 https://github.com/Fourdee/DietPi/pull/1087/files

[2017-07-19 12:50] #1084 closed, assigned to nobody

[2017-07-19 17:05] Invictaz opened #1088 "Change Nvidia driver to .run package install (currently APT)"
After install it conflicts with Nouveau. If you do lsmod it seems still loaded
I manually made an Xorg.conf with the Optimus settings but it cannot find the device
Also it's unable to launch the Nvidia driver

[Xorg.0.log.txt](https://github.com/Fourdee/DietPi/files/1159840/Xorg.0.log.txt)

I have tried everything described here. Since DietPi uses Lightdm I made the file

display_setup.sh
chmodded

[2017-07-19 17:32] MichaIng commented on #1067
Ah okay, because in [PREP_SYSTEM_FOR_DIETPI.sh](https://github.com/Fourdee/DietPi/blob/testing/PREP_SYSTEM_FOR_DIETPI.sh#L29-L46) you set everything to `DISTRO='stretch'`. But I see that you adjust this for image creation: https://github.com/Fourdee/DietPi/blob/testing/dietpi/func/dietpi-set_software#L57-L58

So we still need to take care about especially different php verions (5.6 <> 7.0) an ther

[2017-07-19 17:53] Invictaz commented on #1088
It seems there are some problems running on 4.9 kernel. Needs patches and GRUB patched.

https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=852152

https://devtalk.nvidia.com/default/topic/997549/kernel-4-10-1-1-and-340-102-driver-error-unable-to-load-the-kernel-module-nvidia-ko-/

[2017-07-19 17:58] Invictaz commented on #1088
Might need 381.22

https://devtalk.nvidia.com/default/topic/1007999/unix-graphics-announcements-and-news/linux-solaris-and-freebsd-driver-381-22/

[2017-07-19 18:28] Invictaz commented on #1088
However:

http://us.download.nvidia.com/XFree86/Linux-x86/319.12/README/optimus.html

[2017-07-19 18:44] Invictaz commented on #1088
Seems newer kernels than 4.? need a patch

https://devtalk.nvidia.com/default/topic/1007266/linux/patch-for-driver-375-39-with-stable-kernel-4-11/

[2017-07-20 08:33] Yury-MonZon commented on #854
I've checked my .bash_history and it looks like I installed mjpeg-streamer-experimantal according to this guide https://github.com/foosel/OctoPrint/wiki/Setup-on-a-Raspberry-Pi-running-Raspbian
 without raspicam module - I needed it for ordinary usb webcams (Logitech at the moment).

Please, help me on which files do you need from my system in order to help. I can take the whole system image if yo

[2017-07-20 09:54] Elluminatus opened #1089 "Dietpi-Software | LCDproc or LCD4Linux for Dietpi"
A good Solution for older LCD Displays (eg. 20*4) to run on a headless device as a small info screen.

for more Information:

http://lcdproc.omnipotent.net/

or

https://lcd4linux.bulix.org/

Workaround for old serial or parallel LCD to USB: eg. http://www.electroschematics.com/12459/arduino-i2c-lcd-backpack-introductory-tutorial/
or http://www.raspberrypi-spy.co.uk/2015/05/using-an-i2c-enabled-lc

[2017-07-20 10:37] Fourdee opened #1090 "DietPi-Software | OpenBazaar client login fails"

[2017-07-20 20:47] Invictaz commented on #1088
@Fourdee Might be the best solution to have Nouveau driver removed to avoid any conflicts. This might need adjustments to the ramdisk. Also, 381.22 is tried now via the unofficial .run installer. That requires GCC and MAKE and kernel-devel packages to work.

[2017-07-21 09:16] sal666 commented on #475
Please, update berryboot testing image. Last one in http://dietpi.com/downloads/testing/ is from December.

[2017-07-21 09:23] jbz-dev commented on #686
From what I understand it will be really the same process as gogs to include gitea in dietpi.

@Fourdee If you want testers I'm in :) Trying right now to install gitea on my DietPi powered Rpi3

[2017-07-21 11:44] R1CH-T opened #1091 "DietPi-Software | crelay"
Please add a DietPi-Software option to install "Crelay": A Command-line / Webpage interface for various relay boards.

I will add to this soon, but have run out of time today.

Rich.

ADMIN EDIT: Vote for it on FeatHub: https://feathub.com/MichaIng/DietPi/+3

[2017-07-21 11:47] R1CH-T commented on #1091
From this morning's notes. Tested and working:

https://github.com/ondrej1024/crelay

[code]
To test:
[code]
Finally, add crelay -D to system services.

[2017-07-21 11:52] R1CH-T commented on #1065
Hi, Dan.

I got to the stage, three days ago where I started to think "This is _way_ to complicated for me" and I kinda bailed. It was unfair of me to be throwing this thing into your lap, especially as you have your own busy schedule and have other considerations and priorities (as well as a roadmap to follow).

I basically realised that there were, very likely, several more pieces to this jigsaw

[2017-07-21 12:58] Fourdee commented on #1091
@R1CH-T

Thanks for this Rich. I can get this added in to DietPi based on your notes, if you like? Or your more than welcome to try if you would like? Just let me know :)

Shouldn't need a reboot, unless their are hardware changes (eg: ```config.txt```) etc.
Most likely the service needs restarting or checking for errors?

[2017-07-21 13:03] Fourdee commented on #1065
@R1CH-T

We don't do deadlines here, kind of impossible when your 3 year old takes over lol  "its ready when its ready". RL comes first :)

Hehe, you probably picked the hardest installation to do, I'll probably struggle with this one lol.

No worries. Once I get v154 out the door, I'll pick up this ticket and see if I can find a way to get this added into DietPi.

[2017-07-21 14:44] Fourdee commented on #1062
Nudging to v155, clearly lots more work to do on this ticket.

[2017-07-21 15:00] Fourdee commented on #854
@Yury-MonZon

Thanks 👍

Thats fine, i'll check the above and attempt install again.

[2017-07-21 15:01] Fourdee commented on #854
Reopened, attempt: https://github.com/foosel/OctoPrint/wiki/Setup-on-a-Raspberry-Pi-running-Raspbian#webcam

---

Fails as RASPICAM still has umet deps:
[code]

[2017-07-21 15:52] Fourdee commented on #1090
Tests:
- 🈯️ Fresh install of DietPi on RPi Zero W + OpenBaz install.

[2017-07-22 11:16] R1CH-T commented on #1091
Hi.

I just rolled back DietPi on BerryBoot, re-ran the steps above and had no need to reboot. I think I must have missed out the `make install`, before testing it. It worked straight away.

I've just edited my above post, because it was a mess. These steps should work fine now.

I would write up the dietpi-software code for this, but it would be unnecessary at this point, IMO. It's pretty straigh

[2017-07-22 11:31] R1CH-T commented on #1091
N.B.
I just tried running `make uninstall`, which didn't work, so i tried `make -n install`, which gave me:
[code]
I hope this helps.

P.S.
Crelay needs to be run as root; which might need to be taken into account for some users.

[2017-07-22 12:38] R1CH-T commented on #1091
One last thing, I promise:
I noticed [this note in the readme](https://github.com/ondrej1024/crelay#note-3-gpio-controlled-relays):

Might we be able, at some point, to also add a way to configure GPIO Relay Boards via the menu?
(Or is that best left up to the user; especially if the code changes, in the future?)
`/mnt/dietpi_userdata/crelay/conf/crelay.conf`:
[code]

[2017-07-22 12:40] Fourdee commented on #1090
🈴 Issue with the OpenBazaar client, clicking next has no effect:
![image](https://user-images.githubusercontent.com/7077026/28491146-51231bf8-6ee3-11e7-8642-06513ff5948a.png)
- 🈴 ARMv7
- Debug log
[code]

[2017-07-22 13:55] Fourdee commented on #1090
No issues during our installation, everything compiled/installed fine. I believe this is a bug in the OB server and/or client.
Change in deps? Cant see any changes to official install notes: https://slack-files.com/T02FPGBKB-F0KJU1CLX-cbbcf8a02c

[2017-07-22 20:54] ReanimationXP commented on #785
Had this problem for ages, thanks so much to 9H5G for suggesting:
dpkg --remove --force-remove-reinstreq webmin

Only thing that worked for me. Tried countless suggestions for the cleaning of apt-get and its' cache to no avail.

Edit: Just kidding. Got further but now it's failing on a different package with tons of Read-only filesystem errors. Seems it's probably my hardware or SD card. Also noti

[2017-07-23 12:21] Fourdee commented on #785
@ReanimationXP

thanks for the report 👍

Is this the issues with webmin on a fresh DietPi image?

[2017-07-23 12:32] Fourdee commented on #854
@Yury-MonZon

Ok, still unable to get this to work for RPi camera module (https://github.com/Fourdee/DietPi/issues/854#issuecomment-317025315). Plan was to automatically install for that device.

For non-RPi camera module cameras, the following should do it:
[code]

As we can't get the RPi cam to compile, i'll leave this for now and mark as closed.

[2017-07-23 12:33] Fourdee commented on #1080
🈴 Confirmed with 2x RPi 3's. Unknown cause at the moment, further testing required.

Nudging to v155 to allow release of v154.

[2017-07-23 12:47] Fourdee opened #1092 "DietPi-Software | HTPC Manager"
Implemented by @sytone
https://github.com/Fourdee/DietPi/pull/1083

[2017-07-23 12:48] Fourdee commented on #1092
- 🈯️ Online Doc: http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=8043#p8043
http://ip.address:8085

Notes:
- ```python-dev``` required to compile ```pip install psutil```, which inturn needed for system status.
![image](https://user-images.githubusercontent.com/7077026/28499394-880cdb44-6fac-11e7-935e-ab3c10a3ddfb.png)

[2017-07-23 13:28] Fourdee commented on #1092
+ added support for dietpi-process_tool:
https://github.com/Fourdee/DietPi/commit/5265bcf18b5431cb27e55026f14cbf90178a9b38

[2017-07-23 13:29] Fourdee commented on #1092
Test install RPi 3:
- 🈯️

[2017-07-23 13:29] Fourdee commented on #1092
Completed.

Great work @sytone 👍

[2017-07-23 13:29] #1092 closed, assigned to nobody

[2017-07-23 13:48] Invictaz opened #1094 "Add commit version number when using testing branch"
Since I'm running v154 from testing branch and v154 final is now released it would be nice if updating from testing branch shows the exact build instead of v154. Because v154 is in my case a test build and not the final.

Or make it v154beta or v154rc or v154-332a2

Something like that

[2017-07-23 14:03] Fourdee commented on #1094
@Invictaz
Aside from testing purposes, the testing branch should not be used and is potentially unstable. We cant support an in-devolpment branch across version releases.
Code is constantly changing, patches are added/modified that your currently installation will miss etc.

Ideally, following process to create a restore point of master, then allow for testing branch tests:
- Install fresh image,

[2017-07-23 15:33] k-plan commented on #1066
When running dietpi-update 1 it should update the software without affecting existing openvpn running process(es).

The Raspberry Pi disconnected from the VPN during dietpi-update 1, I waited 10 minutes, no reconnection :( - SSHing over local IP and checking systemctl status shows:

Maybe this will help you out:

[Cannot update through OpenVPN](http://dietpi.com/phpbb/viewtopic.php?f=12&t=960&p=51

[2017-07-23 16:58] Invictaz commented on #1094
Testing is never finished :P

[2017-07-23 19:49] FutureTense opened #1096 "ARM64 Debian Multimedia packages no longer available. Prevents APT/Software installs."
## Creating a bug report/issue:

#### Required Information:
- DietPi Version | ```cat /DietPi/dietpi/.version```?154
- Ordoid C2
- USB Power
- EEMC
- Distro (EG: Jessie) | ```uname -a```?Linux DietPi 3.14.79+ #1 SMP PREEMPT Sun Jul 23 00:04:44 CEST 2017 aarch64 GNU/Linux

#### Additional Information (if applicable):
- Software title: Pihole
- Can this issue be replicated on a fresh installation of

[2017-07-23 20:32] FutureTense commented on #1096
Just for kicks, I installed the original OS that came with the odroid (fortunately I saved a copy of the image) and pihole installed, so it's not an issue with my network.

`Linux odroid64 3.14.79-108 #1 SMP PREEMPT Mon Feb 27 23:18:26 BRT 2017 aarch64 aarch64 aarch64 GNU/Linux`

[2017-07-24 10:43] Fourdee commented on #1096
Hi,

Thanks for the report 👍 , we'll take a look.

Appears the deb multimedia repo is causing apt to fail, should be a simple fix (removal, not required), but i'll let you know.
Deb multimedia repo is installed by default with Meveric's kernel packages I believe.

[2017-07-24 13:35] Fourdee commented on #1096
@FutureTense

🈴 Confirmed, appears to be an issue with the debian multimedia repo, arm64 packages are no longer/temporarily available:
http://www.deb-multimedia.org/dists/jessie/main/binary-arm64/Packages

![image](https://user-images.githubusercontent.com/7077026/28525752-2e0a3232-707d-11e7-86ec-7158c38196e2.png)

## solution:
Remove the multimedia repo, not required for DietPi:
[code]

[2017-07-24 14:00] filemoon commented on #926
@Fourdee

Do we have any update about HMP support in 4.9 (XU4)?

Odroid says this should be working but when I've checked your kernel this is not working.
What I see:
- only big cores are occupied (*not fully true)
- sometimes I can see small task on small core number 1 (only number 1)
- core number 5 is always most utilised core
- next in line is 6 .... etc

![screen shot 2017-07-24 at 14 59 03](

[2017-07-24 14:23] bduisenov commented on #870
Hi @Fourdee, do you have this in the roadmap already?

[2017-07-24 19:00] Invictaz commented on #1086
@Fourdee Any clue?

[2017-07-25 12:38] Fourdee commented on #1086
@Invictaz

We'll need to see the apt log, as reported in the error message.

Thanks, i'll see if we can tweak this.

[2017-07-25 14:55] studioai commented on #926
updating kernel to 4.9.37 from 4.9.35 is unavailable.

[code]

I guess update-initramfs is the problem, but no further information.

Any information will be appreciated.

[2017-07-25 16:21] Fourdee commented on #926
@studioai

There appears to be an issue with the current package, although, mines a completely different error:
[code]

Your issue may be a "one off" loss of connection, or, issues with DNS. Either way, the current package is broken, i'll let meveric know.

[2017-07-25 16:30] Fourdee commented on #870
@bduisenov

Do now, i'll pop this into v156 milestone. Will take a look during that phase.

[2017-07-26 00:26] Invictaz commented on #1088
@Fourdee It's alive 💃

381.22 seems to do a lot more good than the 375.66 provided by Dietpi-install
It's also running on the internal screen now via display_setup.sh
Manually installing the Nvidia driver via the .run requires some additional packages. However it has to be done while X isn't running. And in dietpi-config Nvidia driver can be installed with X (and thus Nouveau) running.  The i386 3

[2017-07-26 00:35] Invictaz commented on #1088
384.59 is now out. Normally Nvidia isn't that fast with driver updates.
Might include a driver update in dietpi-update.

[2017-07-26 09:19] sal666 commented on #1007
As for how to write the image to the HD, can I suggest [Clonezilla](http://clonezilla.org)?
You don't need to open your laptop/PC, you just boot out of a USB/CD and flash the image.
[Here](http://clonezilla.org/liveusb.php) you can find instructions to make a bootable USB flash drive.
Basically it all boils down to:
1. Unzip Clonezilla to the USB flash drive.
2. Copy the DietPi image to the USB fl

[2017-07-26 09:52] Fourdee commented on #1088
@Invictaz

Excellent 👍

Yep, currently nvidia driver is apt-get install. I'll see if we can adjust to install latest via .run package.

[2017-07-26 14:15] MichaIng commented on #1067
About using `.htaccess`/`.user.ini`

http://php.net/manual/en/configuration.changes.php

So should work at least with apache+mod_php. Instead of manipulating the .htaccess which comes with nextcloud, it could be also done via nextcloud vhost inside `<directory>` statement. But still, I don't find a way to check for installed/activated php modules there. Will check, if syntax error arrives in case,

[2017-07-26 14:42] Fourdee commented on #926
Tried again today from a backup, 4.9 kernel updates successfully.

[2017-07-26 14:46] Fourdee commented on #1067
@MichaIng

MariaDB already comes well preconfigured:

Forgot to mention, MariaDB is now default in Stretch:
https://www.debian.org/releases/stable/armhf/release-notes/ch-whats-new.en.html#mariadb-replaces-mysql

[2017-07-26 14:49] Fourdee commented on #1096
- 🈯️ We'll remove the apt mirror during v155 patch.
- 🈯️ We do not use deb-multi in any of the DietPi-Software installs

[2017-07-26 14:54] Fourdee commented on #1096
Completed.

[2017-07-26 14:54] #1096 closed, assigned to Fourdee

[2017-07-27 02:08] Invictaz opened #1098 "PiBakery configuration compatibility"
Maybe it's handy that people who don't have a mouse / keyboard can setup DietPi before first launch. PiBakery is intended for this first setup but lacks some of the building blocks that Dietpi-config has.

https://github.com/davidferguson/pibakery

[2017-07-27 07:38] R1CH-T commented on #1091
N.B.

The config file must be copied to `/etc/crelay.conf`

[2017-07-27 10:50] Fourdee commented on #1098
@Invictaz

We have our own automation system to achieve this:
http://dietpi.com/phpbb/viewtopic.php?f=8&t=273#p1140

[2017-07-27 12:30] MichaIng commented on #1067
Ah nice info. I was waiting for MariaDB to become default/preferred by more instances:

I mean okay, who want's to install again a meta-package of a meta-package.. with `default-mysql-server`, especially where the name again implies that it is "mysql". But okay.
The other possibility would be to completely switch DietPi to MariaDB and just remove MySQL. For web server the option make sense, becaus

[2017-07-27 18:26] Kengkohr commented on #734
The problem seems to be lying on the side of certbot, not on the dietpi-letsencrypt-script.

After running `dietpi-letsencrypt 1` i manually go to
`/etc/letsencrypt/live/my-domain.de-000X` and do `cat privkey.pem cert.pem > combined.pem`

Therafter I rename `/etc/letsencrypt/live/my-domain.de-000X` to `/etc/letsencrypt/live/my-domain` and everything is working fine and the cert in my server is no

[2017-07-28 13:35] Invictaz commented on #1098
@Fourdee not correct as the /boot/dietpi.txt is IN the image and thus on a EXT4 partition you cannot write on from Windows. Correct me if I'm wrong.

[2017-07-28 19:24] WolfganP commented on #1077
Naive question: why all the scripts (ie dietpi-set_software , PREP_SYSTEM_FOR_DIETPI.sh and patch_file) modify both /etc/apt/sources.list (the old method of managing apt sources) and /etc/apt/sources.list.d/raspi.list (the newer and preferred method)?
Having both of them present result in duplicated sources (and double checking in case of using mirrors)
Is there any reason for it?
Thx, Wolf.

[2017-07-28 19:29] MichaIng commented on #1077
@WolfganP

`/etc/apt/sources.list` is still the current method to manage the basic debian/raspbian repos.
`/etc/apt/sources.list.d/` is the place to add "additional" specific repos, without manipulating the distros default sources.list, e.g. the raspberry pi specific `raspi.list`.

There are no duplicates, as both files contain the related different repo URLs.

[2017-07-28 22:49] sytone commented on #1098
I use ext2fsd to do any changes like this http://www.ext2fsd.com/

[2017-07-28 23:24] sytone commented on #804
I have a post on how to do this.
http://www.sytone.com/2017/07/getting-a-dietpi-image-running-on-hyper-v/

[2017-07-29 04:48] bhaveshgohel commented on #601
Hello Dan ( @Fourdee ),
Just curious to know if any second though on this implementation?

[2017-07-29 05:13] ivanobom commented on #169
I run Asterisk at home as my personal PBX. Using an ATA adapter I can handle my analog PSTN line and also I connect to any other VoIP technology like Google Voice and SIP carriers. It'd be great porting Asterisk to an optimized version on DitePi!

[2017-07-29 06:00] DncrJim opened #1099 "Mono release not compatible with optimized software release (Emby)"
## Maybe not bug so much as Installation Compatibility Disagreement?

#### Required Information:
- DietPi Version | V154
- SBC Device | RPi 3

#### What I am doing:
Installing emby-server through Software-Optimized on fresh diet-pi install.
Had same issue with V153 (and all versions of emby-server 3.2.23-3.2.26)

#### What's Happening:
emby-server crashes upon media scan with an 'out of memory' er

[2017-07-29 12:26] WolfganP commented on #169
@ivanobom sounds like a nice setup. Care to point to more details on your setup?
Which ATA adapter are you using? (most I saw were very expensive indeed, but it seems some went down in price recently ie https://www.lifewire.com/top-phone-adapters-3426340)

[2017-07-29 16:58] Fourdee commented on #1099
@DncrJim

Hi Jim,

Thanks for the report 👍

Do you have any other installed software on the device, that may be using up additional memory?
[code]

I personally dont believe downgrading Mono versions is the solution here. Generally speaking "newer" versions of libraries provide more stability and improvements.

Looking into increasing the swapfile size may prove a fix. Lets check the current size

[2017-07-29 17:06] Fourdee commented on #601
@bhaveshgohel

Generally speaking, our updates "should not" break current installations. We run many tests our end, to ensure they are stable before releasing to the public. However, issues may occur, but we do try to resolve them with urgency.

I like the idea of Semantic Versioning, but we would need to completely rewrite the current update system to support it. It would also very likely mean a

[2017-07-29 17:17] Fourdee opened #1100 "Information: DietPi development on temporary hold (paternity leave)"
Hi all,

Just a heads up, development on DietPi has mostly been put on hold, and my activity will be reduced for a few weeks. Expecting the baby 👶 to arrive in the next day or two.

I'll monitor and reply to tickets, and, keep the ship running, when possible.

[2017-07-29 18:25] roelbeun commented on #804
Will this work on Proxmox? Don't have the experience but I'am curious.

[2017-07-29 18:50] DncrJim commented on #1099
I agree that having the old version of mono is unfortunate.
only other running service is samba, current swap is 54, which now that I'm reading that seems really stupid-small, especially with mono libraries? I haven't changed the swap, that's what it gave me on the fresh V154 install. I am sure I can figure out how to increase the swap, but I can't seem to find any recommendations on swap size. Ar

[2017-07-30 10:33] roelbeun commented on #804
Or maybe my understanding is wrong. I can just install proxmox and install the dietpi x64 image to a container?

[2017-07-30 17:06] cinghialino commented on #326
I tried to install samba, and this problem popped up. I see that there is no fix yet for this.

[2017-07-30 20:09] bpatrik commented on #806
Is there any update on this?
v1.8 stable and v1.9 beta is out since may:
https://www.asus.com/us/Single-Board-Computer/Tinker-Board/HelpDesk_Download/

[2017-07-31 15:46] DasClarky commented on #865
2.1.0 is out, please update

[2017-08-01 16:22] ivanobom commented on #169
@WolfganP I use a Grandstream HT503 (https://www.amazon.com/GrandStream-HT503-1-FXS-Analog-Telephone/dp/B002H29TGA/ref=sr_1_1?ie=UTF8&qid=1501603219&sr=8-1&keywords=grandstream+ht503) to be an interface between my analog PSTN phone line and convert it into SIP and register on my Asterisk running on my PI device (I've successfully tested on RaspberryPi 2, OrangePi PC and Odroid-XU4).

I'm using Deb

[2017-08-01 18:54] avs-code commented on #335
@Fourdee
https://www.mobileread.com/forums/showthread.php?t=288398&highlight=raspberry
https://opensource.com/article/17/6/raspberrypi-ebook-server
https://www.mobileread.com/forums/showthread.php?t=287233&highlight=raspberry

[2017-08-02 01:42] sytone commented on #804
Thisi s for Hyper-V which is a windows virtualization platform available on windows since Windows 8.

[2017-08-02 06:43] dhernan3 commented on #1100
My congratulations!!!
My best wishes for all your family and new baby!

[2017-08-02 06:53] dhernan3 opened #1101 "Tonido doesn't install (and FIX)"
Tonido doesnt' install, failed to download libjpeg8. Tried on Raspberry Pi3 and VM.

Unable to Install Tonido: lightweight cloud based backup system   http://ftp.us.debian.org/debian/pool/main/libj/libjpeg8/libjpeg8_8d1-2_amd64.deb is offline and/or unreachable.

The problem is the package trying to install doesn't exist. The package must be called:
libjpeg8_8d-1+deb7u1_amd64.deb      for VM
libjp

[2017-08-03 07:09] #1072 closed, assigned to nobody

[2017-08-03 08:43] dhernan3 commented on #1067
I have a problem with the plugin/app Ebook-reader. It doesn't work, no matter web server installed (apache, nginx, lighttpd). When I try to open a comic, cbr or cbz format, blank page appears with some left buttons at left (but not loaded completly).

The error is:

Refused to execute script from 'http://192.168.114.128/nextcloud/index.php/apps/files_reader/vendor/bitjs/archive/unrar.js' because i

[2017-08-03 12:38] dhernan3 commented on #1067
After further investigations, and try and error, I have found:
If I change the file
 /var/www/nextcloud/lib/public/AppFramework/Http/EmptyContentSecurityPolicy.php
and change:
                $policy .= "base-uri 'none';";
to
                $policy .= "base-uri 'self;";

it works.
But I don't know if I'm opening a big security hole....

[2017-08-04 07:07] roelbeun commented on #804
So which image should I take for proxmox?

[2017-08-04 10:27] Fourdee commented on #1100
![img_20170801_025424_hdr](https://user-images.githubusercontent.com/7077026/28965214-e39762a4-7907-11e7-8a43-2ddc673ba8e9.jpg)

[2017-08-04 10:38] dhernan3 commented on #1100
Congratulations!

[2017-08-04 11:30] elRadix commented on #1100
@Fourdee is a Happy Father now, congratulations with your new born!!

[2017-08-04 23:10] Lanxon commented on #1100
Congratulations...best day ever for you..

[2017-08-05 22:11] douglasmiranda opened #1102 "Image Request | Rock64"
### Release candidate image:
### https://github.com/Fourdee/DietPi/issues/1102#issuecomment-336475062

---

So, any plans for support / make an DietPi for [Rock64](https://www.pine64.org/?page_id=7147)?

[Here](http://wiki.pine64.org/index.php/ROCK64_Main_Page) we can see it's already running Debian Strech Linux Kernel 4.4.

PS: I'm asking here, because I'm waiting for a long time the approval of

[2017-08-06 11:08] Fourdee commented on #1102
@douglasmiranda

Ordered one recently, its in transit:
![image](https://user-images.githubusercontent.com/7077026/29002686-fd9ecc5c-7a9f-11e7-80d0-a9e3fec92d92.png)

When it arrives, we'll support the board and provide an image.

Apologies for the delay, i've activated all accounts. If still no joy, please let me know the username for the account.

[2017-08-06 11:11] Fourdee commented on #1101
@dhernan3

Thanks for the report 👍

Yep, the required package version has changed, no longer available. We'll take a look.

[2017-08-06 11:13] Fourdee commented on #1101
@dhernan3

~~This should of been resolved in v154 (at least for Emby install): https://github.com/Fourdee/DietPi/issues/1059
Is the issue still occurring with v154 installed?~~

Confirmed.

[2017-08-06 11:49] Fourdee commented on #1101
@dhernan3

Fixed for v155, can be patched now with:
[code]
Tonido will now install.

[2017-08-06 11:49] #1101 closed, assigned to nobody

[2017-08-06 13:42] Fourdee commented on #865
@hydrouk

Thanks 👍

Done for v155. This won't effect existing installs of Sabnzbd, only new installs.

To try a manual upgrade (via reinstall), backup system 1st and run:
[code]

[2017-08-06 14:22] Invictaz commented on #1100
Congrats

[2017-08-06 15:06] WolfganP commented on #1100
Congrats @Fourdee. So I assume this is the newer release, Fivedee? :-)

[2017-08-06 17:15] Fourdee commented on #1100
@WolfganP

Thanks 👍

Lol, second baby. 6D ;)

[2017-08-06 20:07] dhernan3 commented on #734
I can cooroborate the bug.
I have manually updated today and a new version of cert bot was downloaded (if I remember correctly, from .17 to .18), and same behavior, the new certs downloaded to my domain.dom-000x. possible fix: download to correct dir if possible that fix, or manually (but with script) the new certs to correct dir

[2017-08-06 23:10] Invictaz commented on #1062
@Fourdee I'm a little bit further now. Seems the coulnd't find bootstrap is because Steam is in the wrong place.
Dunno if that is fixable since it's now in Dietpi userdata folder

https://github.com/ValveSoftware/steam-for-linux/issues/4076

[2017-08-06 23:32] Invictaz commented on #1062
@Fourdee running the NVIDIA .run instead of the apt-get install needs the 32 bit compatibility files for Steam to work. There might be some Mesa conflicts I have seen. My latest error window is now somewhat like this. Some errors have been resolved, others not.

![plaatje5](https://user-images.githubusercontent.com/20338545/29008044-d087e1c8-7b07-11e7-8924-de898f806a0a.png)

[2017-08-07 08:49] bpatrik commented on #806
I found a strange bug with Dietpi, Tiner os (1.8 stable, 19, beta) but not with armbian.
If I server some files over http, the tcp connection stops sometimes and the files won't get transferred.
I've also reported this error here too, with more details:
https://tinkerboarding.co.uk/forum/thread-493.html

p.s.: after trying out most of the OS for tinker board, this is my favorite so far. Great job!

[2017-08-07 09:05] dhernan3 commented on #734
My FIX:

Edit /Dietpi/dietpi/dietpi-letsencrypt

Search the two lines containing

   ./certbot-auto

And then:
 - Delete the option --duplicate (to not create the -000x directory)
- Add  these options:
    --cert-name $LETSENCRYPT_DOMAIN --non-interactive --force-renewal

First option sets the certificate name (and use that name as of directory)
Second option to do not ask questions
Third option t

[2017-08-08 09:17] mpember commented on #1065
I realise that my questions is not related to the SDK.  However...  does DietPi support the hardware from the MagPi kit?  Is there any specific steps required to get the sound / mic working?

I ask because I am looking to switch away from the 'official' image and build something that is a hybrid music player / assistant.  I've been using DietPi as the base for every other Pi-based project.  Before

[2017-08-09 02:04] joaofl commented on #422
Finally did it: https://github.com/Fourdee/DietPi/pull/1103

Tested and working. Don't know what do you think of running the service as dietpi user.

[2017-08-09 02:28] Invictaz commented on #865
@Fourdee Why 'reinstall 139' and not the newest DietPi version? Or is 139 the number of SabNZBd in dietpi-software?

[2017-08-09 04:23] joaofl opened #1105 "Dietpi hangs at boot after first-run upgrade | XU4"
### If you are effected by failure to boot XU4 after ```apt-get upgrade``` kernel upgrade, please see:
### - https://github.com/Fourdee/DietPi/issues/1105#issuecomment-321542109

---

After flashing the image DietPi_v151_OdroidXU4-armv7-(Jessie), during first time boot, the Dietpi updates itself from 151 to 154 and reboots. Next, it asks for softwares to be installed, and without selecting any, I

[2017-08-09 07:56] k3anton commented on #865
@Invictaz The number 139 refers to the software numbering within DietPi and has nothing to do with versions of that specific software.

[2017-08-09 08:11] k3anton opened #1106 "SABnzbd UNRAR version 0.00"
## Creating a bug report/issue:

Hi,

This has been mentioned in issue #865 but remains a problem on a fresh install.

#### Required Information:
- DietPi Version 154
- RPi 2, model b, armv71.
- RPi Power supply (original)
- MicroSD HC, Class 4, 8GB / 1TB external HDD, Seagate.
- Linux DietPi 4.9.40-v7+ #2 SMP Sat Aug 5 12:35:22 UTC 2017 armv7l GNU/Linux

#### Additional Information (if applicable

[2017-08-09 15:14] belabelabela commented on #1007
@sal666
I have tried to tweak the two text files as you mentioned in step 3. It seems I am not experienced enough, because it did not work for me. :(

Could you describe the necessary steps (3-4) in detail?

Thanks

[2017-08-09 15:59] DasClarky commented on #865
I have run the reinstall a couple of times but it is still installing version 2.0.1, current version is 2.1.0

[2017-08-09 16:15] Invictaz commented on #1106
Unrar was not provided since it comes from the nonfree repo (if I was informed correctly). DietPi should have an option to install it as per user request.

[2017-08-09 17:51] k3anton commented on #865
@hydrouk I can also confirm what you are saying.

[2017-08-09 17:53] DasClarky commented on #865
Ahh i just noticed it is done for v155, current version is v154, my bad @Fourdee

[2017-08-09 20:25] pidiet commented on #911
I found a bug (maybe it's know?)

**It's not possible to shut down the system**, not with 'poweroff' and not with 'init 0'. Only dirty work'a'round is to cut the powersupply.

Next thing I found is that right now kernel 4.10.0 is used.

Lot's of things got introduced in kernel 4.12 (for e.g Audio Codec, Clocks, DMA, I2C, Pinctrl, PWM, SD/MMC, SPDIF, SPI, SRAM, USB, OTG, Watchdog) and the best is c

[2017-08-09 21:20] pidiet opened #1107 "Can't start MySQL"
#### Required Information:
- DietPi Version: **154**
- SBC Device: **Orange Pi PC 2**
- Power supply used: **Xunlong 5v 3A**
- SD card used: **Samsung Evo+ 32GB**
- Distro: **Linux hostname 4.10.0-sun50iw2 #1 SMP Tue May 2 12:07:11 BST 2017 aarch64 GNU/Linux**

#### Additional Information
- Software title: **baikal**
- External Storage: USB3 HD 320GB, SMART: Perfect

#### Expected behaviour:
Follo

[2017-08-09 22:11] pidiet commented on #1107
I checked the rights of the mysql folder inside of dietpi_userdata (which is on the external hd)

[2017-08-10 10:15] Fourdee commented on #911
@pidiet

We use ARMbian to build this image with their provided kernel. Inability to power off is a known issue:
https://www.armbian.com/orange-pi-pc2/

Kernel updates are provided by ARMbian's repo, so we must wait for those to be switched to 4.12+.

[2017-08-10 10:24] Fourdee commented on #1107
Incorrectly set permissions, try:
[code]

[2017-08-10 10:49] Fourdee commented on #1106
@k3anton

Thanks for the report, we'll take a look 👍

[2017-08-10 10:52] Fourdee commented on #1105
@joaofl

Thanks for the report 👍  I'll take a look.

[2017-08-10 11:05] pidiet commented on #1107
Tried this but get still the same error's with the following folder permissions now

`service mysql restart`

`systemctl status mysql.service`

` /var/log/mysql/error.log`

[2017-08-10 11:19] Fourdee commented on #1107
@pidiet

Could be related to unstable system (eg: filesystem corruptions due to PSU/SD).

Lets check dmesg for any errors relating to SD:
[code]

[2017-08-10 11:24] pidiet commented on #1107
`dmesg | grep mmc`

My dietpi_data is on a new external usb3 hard disk

`dmesg | grep sda`

[2017-08-10 12:40] pidiet commented on #911
Ah, OK! Good to know! Kernel 4.13 should be released in the beginning of September.. so let's see what comes ;)

But the download archive from Armbian (https://dl.armbian.com/orangepipc2/archive/) is providing Kernel 4.11.1 for OPiPC2 and the nightly's (https://dl.armbian.com/orangepipc2/nightly/) also. Maybe there is a regression in updating?

[2017-08-10 12:42] Fourdee commented on #1107
@pidiet

How it powered, USB host?

Try:
[code]

[2017-08-10 12:52] Fourdee commented on #1105
- 🈴 initramfs: No drives/partitions listed in ```blkid```
Kernel date 7th Aug
- 🈺 Changes to the ```/boot/boot.ini``` boot up code **required**, due to new support for eMMC 5.1 AFAIK
https://github.com/Fourdee/DietPi/commit/6a7bed1e87bc96d9bdc2e459f03e35676205bcd5#diff-8c4a8f176043d56dac80fbbdf318e3f7

---

### - 🈯️ XU4 image updated: http://dietpi.com/downloads/images/DietPi_OdroidXU4-armv7-(Jess

[2017-08-10 13:37] pidiet commented on #1107
Yes. HD is USB powered. The Powersupply is 5V 3A which should be more than enough for the OPiPC2 and the 2.5' HD.

`mysql_upgrade`

[2017-08-10 13:38] Fourdee commented on #1105
@joaofl

Image updated: https://github.com/Fourdee/DietPi/issues/1105#issuecomment-321542109

Thanks for reporting this 👍

[2017-08-10 13:40] Fourdee commented on #1105
Completed, however existing installations will need to manually update their ```boot.ini``` after kernel upgrade:
https://github.com/Fourdee/DietPi/issues/1105#issuecomment-321542109

[2017-08-10 13:40] #1105 closed, assigned to Fourdee

[2017-08-10 13:47] Invictaz commented on #816
Any updates on this? Maybe PiClone from the other issue?

[2017-08-10 14:02] Invictaz commented on #865
Better do 2.2.0 instead of 2.1.0 for v155. 2.2.0 is now in it's last release candidate. Wont be long until final.
Has some major improvements.

[2017-08-10 15:01] Fourdee commented on #1007
### Intel GPU driver install (tested with HD520, should work for all):
NB:
- No Xserver must be running (eg: exit desktop and return to terminal)
[code]

[2017-08-10 16:54] Invictaz commented on #1007
Thanks! It is either NVIDIA or Intel in Optimus situation. Best advice is if you have such a dual GPU setup run everything on the NVIDIA while this copies everything into the Intel framebuffer (which is connected to LVDS display).

If you have only an Intel card (or don't care about the additional performance of the NVIDIA) do as @Fourdee suggested.

[2017-08-10 17:22] Fourdee commented on #865
@Invictaz

2.2.0 is currently RC2, we'll stick with stable 2.1.0 for now.

[2017-08-10 19:20] Invictaz commented on #865
Yeah but by the time 155 comes I mean. Or is that not too far away?

[2017-08-11 13:22] studioai commented on #926
@Fourdee
Just FYI

I have met 2 issue while I do upgrading 4.9 kernels.

1. Sudden Socket Error and Disconnection
2. I/O Error while update-initramfs

The reason of first one I presume is lack of memory, I set up the swap memory and the issue is gone.
The second one is still under instigation, but I solve the issue with updating kernel after unmounting /boot. When upgrade finish, I copied contents

[2017-08-11 14:31] filemoon commented on #926
/O Error occurred on /boot  - for my case this was no free memory in boot "partition" (space was reclaimed by manually deleting old items)

[2017-08-11 14:34] k-plan commented on #1100
@Fourdee

Congratulations and regards to mother, father, son to the new member of the gowing family.

btw, nice name

[2017-08-11 14:47] k-plan commented on #1102
Hmm, seem to have some nice hardware features, which RPi users have to wait for a long time ...

But Rockchip RK3328 Quad-Core ARM Cortex A53 64-Bit Processor ?

Hope, it will be not the same non-starter like PINE A64 for the community ... 😉

[2017-08-11 15:12] pidiet commented on #1107
hmmm.. couldn't get it running!
Switched over to radicale (http://radicale.org/) -> Doesn't need mysql and feels more lightweight. Only the web interface is very minimal.
I will create a software request for this ;)

[2017-08-11 15:13] pidiet opened #1108 "Software Request: Radicale (A Free and Open-Source CalDAV and CardDAV Server)"
# Radicale

**A Free and Open-Source CalDAV and CardDAV Server**

## About Radicale

Radicale is a small but powerful CalDAV (calendars, todo-lists) and CardDAV (contacts) server, that:

http://radicale.org/

[2017-08-11 15:14] pidiet commented on #1107
https://github.com/Fourdee/DietPi/issues/1108

[2017-08-14 03:12] fredjedimaster opened #1109 "Mate does not auto start"
Required Information:
- DietPi Version | ```cat /DietPi/dietpi/.version```?
- SBC Device: Orange PI Zero 256mb
- Power supply used: 5v 2A Samsung Power Supply
- SD card used: Sandisk ultra 16gb Class 10
- Distro (EG: Jessie) | ```uname -a```

#### Expected behaviour:
Ubuntu Mate should be starting automatically after configuring the optionon dietpi-autostart. Its already configured with the option

[2017-08-14 09:50] Fourdee commented on #1109
@fredjedimaster

Thanks for the report 👍

We'll investigate.

[2017-08-17 10:49] Elluminatus commented on #1063
Would be very nice because of the sata port and the cpu performance. Nice piece of hardware for a little server in the house.

[2017-08-17 10:51] Elluminatus commented on #1100
Congrats and all the best for your family...

[2017-08-17 11:36] Fourdee commented on #1109
XFCE report with OPi Plus: http://dietpi.com/phpbb/viewtopic.php?f=11&t=2138&p=8271#p8265

[2017-08-17 16:35] R1CH-T commented on #1065
Hey, @mpember,

Sorry for the delay; I was away all last week and have just gotten the chance to reply.

My intention is for this option to be usable for both the AIY kit and other sound hardware, too. This means adding options for the hardware to DietPi's menus in order to facilitate this.

[The steps I laid out earlier](https://github.com/Fourdee/DietPi/issues/1065#issuecomment-314837634) defini

[2017-08-17 17:16] mpember commented on #1065
@R1CH-T

Thanks for the reply.

I saw the post about the latest @Fourdee 'project'.  It is a welcome reminder that even developers can have a real life.  👍

For the moment, I've stuck with using the Google Assistant software.  By coincidence, your post appeared in my inbox just as I finished adding the Kodi-related voice commands to my AIY setup.

The (rather one-sided) discussion of what I've don

[2017-08-17 17:33] MichaIng commented on #475
Finally Stretch became stable for Raspbian: https://www.raspberrypi.org/downloads/raspbian/

[2017-08-17 17:37] MichaIng commented on #1067
Finally Stretch became stable for Raspbian: https://www.raspberrypi.org/downloads/raspbian/

So we can concentrate on Stretch (PHP7 etc.) packages 😄 . I hope I find some time the coming week to test the use of .user.ini/.htaccess for all PHP module related configurations.

[2017-08-17 17:38] WolfganP commented on #475
Will it change anything in Dietpi? I'm under the impression that @Fourdee updated kernel components a while ago (or maybe I messed with my system a lot :-)

[2017-08-17 17:46] MichaIng commented on #475
Yeah the kernel is updated together with dietpi regularly, but this has not much to do with the Distro version.

Raspbian still based on Debian Jessie until yesterday, thus DietPi for RPi did the same, if you didn't flash the beta above.
Stretch brings a lot of new package major versions, that were frozen in Jessie, most importantly for my use cases PHP7.0 (instead of PHP5.6), which also changes l

[2017-08-17 18:01] Fourdee commented on #475
@MichaIng

Nice one 👍

For now, we'll keep the Stretch as a beta image, Kodi and a few other items need testing and confirmed functional, before we replace our default Jessie image.

[2017-08-17 23:52] fredjedimaster commented on #1109
Thanks for the quick answer...

[2017-08-18 10:59] Fourdee commented on #1074
Completed.

[2017-08-18 10:59] #1074 closed, assigned to Fourdee

[2017-08-18 11:24] Fourdee commented on #1109
Notes:
- tty check is no longer valid ```if [ "$(tty)" = "/dev/pts/0" ]; then```
- most likely kernel/armbian update, tty is now ```/dev/tty1``` as per all other boards.

[2017-08-18 11:42] Fourdee commented on #1109
Fixed for v155. Can be patched now with:
[code]

[2017-08-18 11:42] #1109 closed, assigned to nobody

[2017-08-18 12:20] jiangyanfeng opened #1110 "OrangePi Zero 2Plus H5 boot hang"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version | ```cat /DietPi/dietpi/.version```?
- SBC Device (EG: RPi 3)?
- Power supply used (EG: 5v 1A RAVpower)?
- SD card used (EG: Sandisk ultra)?
- Distro (EG: Jessie) | ```uname -a```?

#### Additional Information (if applicable):
- Software title?
- Can this issue be replicated on a fresh installation of DietPi?

#### Expect

[2017-08-18 12:45] Fourdee commented on #1102
notes:
- 🈴 https://github.com/ayufan-rock64/linux-build/releases/download/0.4.17/stretch-minimal-rock64-0.4.17-85-arm64.img.xz hangs on boot ```[7.x]``` for ```eth0 device MAC address```
- Worked on second boot
- 🈺 EMMC untested
- 🈺 Intermittent hangs/loss of connection during SSH sessions. Flaky eth drivers?
- 🈺 Issues with ayufan repo, we'll remove.
[code]

---

Audio
- 3.5mm = ```hw:0,0```
- HD

[2017-08-18 16:40] Fourdee commented on #1110
@jiangyanfeng

Thanks for the report 👍

We'll check.

[2017-08-18 22:33] fredjedimaster commented on #1109
Thanks. It worked. Started on mate automatically.

De: Dan [mailto:notifications@github.com]
Enviada em: sexta-feira, 18 de agosto de 2017 07:42
Para: Fourdee/DietPi
Cc: fredjedimaster; Mention
Assunto: Re: [Fourdee/DietPi] Mate does not auto start (#1109)

Closed #1109 <https://github.com/Fourdee/DietPi/issues/1109> .

—
You are receiving this because you were mentioned.
Reply to this email direc

[2017-08-19 18:10] qpens opened #1111 "Octoprint/Odroid C2"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version 155
- SBC Device odroid C2
- Power supply used 2,5A
- SD card used Lexar 633x
- Distro (EG: Jessie) Linux DietPi 3.14.79+ #1 SMP PREEMPT Sun Jul 23 00:04:44 CEST 2017 aarch64 GNU/Linux

#### Additional Information (if applicable):
- Software title?
- Can this issue be replicated on a fresh installation of DietPi?

#### Ex

[2017-08-20 02:56] #1111 closed, assigned to nobody

[2017-08-20 03:05] qpens opened #1112 "Octoprint auto update"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version v154
- SBC Device Odroid C2
- Power supply used 2.5A
- SD card used Lexor 633x
- Distro Linux DietPi 3.14.79+ #1 SMP PREEMPT Sun Jul 23 00:04:44 CEST 2017 aarch64 GNU/Linux

#### Additional Information (if applicable):
- Software title?
- Can this issue be replicated on a fresh installation of DietPi?

#### Expected behav

[2017-08-20 04:21] alexthe-red commented on #1102
+1 for rock64. DietPi has ruined me f0r all non-compatible boards out there :)

[2017-08-20 04:28] alexthe-red commented on #1100
congrats on the new branch!

[2017-08-20 15:22] gregb49 opened #1113 "Odroid XU4 Install issue"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version | ```cat /DietPi/dietpi/.version```?
- SBC Device Odroid XU4
- Power supply used 5v 4.0A CWT AC Adaptor?
- SD card used Sandisk ultra 32GB - new
- Distro cat Linux DietPi 3.10.105+ #1 SMP PREEMPT Mon Aug 7 10:09:24 CEST 2017 armv71 GNU/Linux
#### Additional Information (if applicable):
- Software title? NK
- Can this issu

[2017-08-21 01:44] ReanimationXP commented on #785
That I'm not sure of, I used an image from Andreas Spiess on youtube.  I'll be making a fresh one soon and will let you know if I run into issues again.  I also had another probably unrelated issue related to installing stuff which turned out to be Andreas having changed the timezone to something european.

[2017-08-21 01:47] ReanimationXP opened #1114 "DietPi-Services | Feature Req | Make DietPi-Services Stop accept service name arguments"
Self-explanatory. Would like to be able to use this akin to net start / net stop, and use the commands on individual services.

`dietpi-services stop apache`
`dietpi-services restart apache`
`dietpi-services disable apache` (would prevent autostart on boot)

[2017-08-21 02:53] jiangyanfeng commented on #1110
I found a error message in the boot log:

systemd[1]: Cannot add dependency job for unit display-manager.service, ignoring: Unit display-manager.server failed to load: No such file or directory.

[2017-08-21 03:08] jiangyanfeng commented on #1110
I take a photo for the boot screen:
http://www.donghootech.com/ueditor/php/upload/image/20170820/1503284747878241.jpg

[2017-08-21 11:38] Fourdee commented on #1114
@ReanimationXP
[code]

Great idea 👍

Yep, we can do that. Although we'd need to mask the service as all services are disabled by default, to allow ```dietpi-services``` to take control.

[2017-08-21 16:11] Invictaz commented on #1114
Interesting idea

[2017-08-21 21:03] ReanimationXP commented on #1114
Mask which service? I don't follow.

[2017-08-22 08:35] Kapot opened #1115 "Netdata 1.7"
Seems NetData is running on v1.7.0 (https://github.com/firehol/netdata/releases) but I cant seems to get it updated using dietpi-update. Running v154.

[2017-08-22 12:35] Fourdee commented on #1110
@jiangyanfeng

Thats not one of our services, can you check status?

[code]

[2017-08-22 15:22] rdslw commented on #475
Can you provide DietPi testing build for Pine64? I'll give it a shot and test.

[2017-08-22 18:14] Fourdee commented on #1112
@qpens

Thanks for the report 👍

Looks like a possible bug with their update script:
[code]

We'll run some tests and try to replicate.

[2017-08-22 18:26] R1CH-T commented on #1065
Thanks @mpember. :+1:

Sorry for the delay.

I read this post a few days ago, really liked the idea of the Kodi stuff and will take a look at your links ASAP. (Probably at the weekend.)

I have deliberately avoided following your links for the last few days, because I just haven't had the time to do so and I am avoiding Rabbit-Holes. (I hope you understand.)

Having been peripherally involved in t

[2017-08-22 19:52] MichaIng commented on #1067
Finally I was able to do some tests about setting PHP values just for nextcloud/the nextcloud location.

By reading [this](http://php.net/manual/en/configuration.changes.modes.php) more carefully I got, that in `.user.ini`/`.htaccess` you can just set a small amount of PHP settings. Mostly we want to adjust values here, that just can be set inside `php.ini` (respectively the conf.d etc. sub config

[2017-08-22 22:57] mpember commented on #1065
(Apologies for the non exactly DietPi-specific reply)

Even though I have spent the last couple of weeks fleshing out the Google Assistant side of things, I am now seriously considering moving to one of the other AI projects.  The Google SDK limits you to a single trigger method.  This means that switching from the GPIO method to the use of a 'hotword ("OK Google") results in the inability to perf

[2017-08-23 04:49] jiangyanfeng commented on #1110
@Fourdee As above said, I cannot boot into console cmd line, so I cannot run the cmd to check the service status. But I think the display-manager.service is not the reason cause boot hang.

[2017-08-23 08:19] kornfool commented on #911
having problem on mounting drive with ,iocharset=utf8 with this setting it get error, without this all text was not shown properly. orange pi pc 2

[2017-08-24 13:30] Elluminatus opened #1117 "DietPi-Software | OPENHAB2"
[http://docs.openhab.org/index.html](url)

Homeautomation, cool piece of software

[2017-08-24 14:04] Fourdee commented on #1100
Thanks everyone.

I'll mark this as closed. DietPi devolpment will continue, however, at a much slower pace. Simply don't have the time :frowning_face:

[2017-08-24 14:04] #1100 closed, assigned to Fourdee

[2017-08-25 07:04] douglasmiranda opened #1118 "Question: Automated installation"
Is there a way to automatize the installation?

If I want to build a cluster, and DietPi needs to be installed in several boards, how should I proceed?

[2017-08-25 07:15] R1CH-T commented on #1118
Hi,

Take a look at https://github.com/Fourdee/DietPi/blob/master/dietpi.txt.

This file can be modified to automate various installation options, software selections etc.

It should be modified after you write DietPi to the SD card(s) and before you insert it into your board(s) and boot up.

It can be found on the SD card's /boot partition.

Hope this helps.

[2017-08-25 07:23] douglasmiranda commented on #1118
Awesome!!

(But shame on me, how could I not see that file..)

[2017-08-25 08:10] R1CH-T commented on #1117
[I requested this quite a while ago](https://github.com/Fourdee/DietPi/issues/210) and think that there are several reasons for this not having been added, so far. These might include:

1. The complexity of the task of creating the installer.
2. The rate of change in openhab development and the amount of issues arising from the change to version 2.
3. Not enough interest from DietPi users.
4. Not

[2017-08-25 08:23] R1CH-T commented on #1118
Cool!

Post your links and experiences to the [DietPi Forums](http://dietpi.com/phpbb/viewforum.php?f=5).

It happens to all of us. I expect that you read the relevant instructions early on and forgot the bits you needed to know, several hours later!

[2017-08-25 09:30] R1CH-T commented on #1115
Hi, @Kapot,

I have just looked into this and it seems that DietPi is currently hosting it's own repository for a number of NetData `.deb` installers, for this application.

DietPi has evolved to work seemlessly and in the same way for a variety of Single Board Computers and aims to keep the experience the same for all, hence why it hosts these older files.

This obviously needs to be looked at, t

[2017-08-25 13:56] MichaIng opened #1119 "Error | syslog/ipv6 | Couldn't write '1' to 'net/ipv6/conf/all/disable_ipv6' ..."
## Creating a bug report/issue:

#### Required Information:
- DietPi Version | ```154```
- SBC Device (EG: RPi 3)? RPi 2
- Power supply used (EG: 5v 1A RAVpower)? 5V 2A
- SD card used (EG: Sandisk ultra)? Kingston SDCA3/64GB
- Distro (EG: Jessie) | ```Stretch```

#### Additional Information (if applicable):
- Software title? part of dietpi-config
- Can this issue be replicated on a fresh installat

[2017-08-25 17:24] Fourdee commented on #1119
@MichaIng

Looks good, please send PR if possible 👍

[2017-08-25 17:25] Fourdee commented on #1113
@gregb49
Thanks for the report 👍

Please run the following, check for any errors on screen.
[code]

If no errors, please try installing the software title again.

[2017-08-25 19:12] douglasmiranda commented on #1118
I think my username wasn't approved on the DietPi Forum yet =/ douglasmirandasilva@gmail.com

[2017-08-26 09:10] Elpadreloco opened #1121 "Kernel panic on install after updates"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version | v150
- SBC Device RPi3
- Power supply used 5V 3A Akru
- SD card used Kingston SDHC 16Gb
- Distro EG: Jessie

#### Expected behaviour:
Dietpi starting for the first time

#### Actual behaviour:
Error code : end kernel panic - not syncing - Attempted to kill init ! exit code 0x00007f00

#### Steps to reproduce:
Flash the

[2017-08-26 13:21] Fourdee commented on #1121
@Elpadreloco
Thanks for the report 👍

We were unable to replicate this in our tests. Please verify SD card and PSU are stable.
Try full formatting the SD card prior to image write: https://github.com/Fourdee/DietPi/issues/769#issuecomment-283030267

[2017-08-26 13:40] Elpadreloco commented on #1121
Thank you for the response. SD card works perfectly with Raspbian, OpenSuse or Recal. Same thing with PSU.

--
Envoi sécurisé avec Tutanota. Obtenez votre adresse email chiffrée aujourd'hui!
https://tutanota.com

26. Aoû 2017 15:21 de notifications@github.com:

[2017-08-26 14:13] Fourdee commented on #1102
### Image available for beta testing:
### http://dietpi.com/downloads/testing/DietPi_Rock64-arm64-(Stretch).7z

#### Known issues:
#### https://github.com/Fourdee/DietPi/issues/1102#issuecomment-323343966

[2017-08-26 14:17] Fourdee commented on #1121
@Elpadreloco

These are preinstalled images that do very little during 1st run. DietPi is different, it does alot of filesystem IO during 1st run to update and patch system.
If the device, SD card and/or PSU are unstable, it will fail during this early stage. Please check your hardware is stable, verify SD image write and try again.

[2017-08-26 14:36] Fourdee commented on #1080
I dont believe this to be a DietPi issue, various clean identical installs, some will work, others wont. Putting this down to a possible bug in Jriver.

[2017-08-26 14:55] Fourdee commented on #1110
🈴 Confirmed (10+ mins). Occurs after apt-get upgrade (kernel upgrade)

[2017-08-26 15:00] Fourdee commented on #1110
Moved out of milestone, this is a kernel related issue (we use ARMbian) outside of our control.

[2017-08-26 15:02] Fourdee commented on #1118
@douglasmiranda
Apologies, unable to find user with your email address. Most likely triggered as spam.

Please can you recreate the account and provide username. I'll activate.

[2017-08-28 08:19] joaofl opened #1122 "Openssh doesn't autoinstall when set default at "dietpi.txt" before first run"
When Openssh is set to install by default (to enable sftp) at "dietpi.txt" before first run, it does not get installed.

After I edit the dietpi.txt correspondingly and  after first run setup, dropbear is still the one up running.
However, I go to dietpi-software menu, and openssh is there selected as preferred. So I have to select dropbear again, let it reisntall it, then go back there and switch

[2017-08-28 11:46] KevinHaendel commented on #1105
### I tried the following:
First, I used this image here: http://dietpi.com/downloads/images/DietPi_OdroidXU4-armv7-(Jessie).7z , and then I replaced the boot.ini file **before** and **after** "apt-get upgrade". But in both cases it is still not working.

### I used a workaround until this is working again:
I typed "apt-mark hold uboot" to prevent uboot from upgrading, this solves my problem, but

[2017-08-28 13:27] joaofl commented on #1105
At some point the new image provided by @Fourdee worked out. But yesterday it seems that upgrading the uboot caused some issue (again). Again it hanged during boot. Not even the hearbeat LED blinks.

Not sure what to do.

[2017-08-28 13:59] Fourdee commented on #1122
@joaofl

Thanks for the report 👍

I've had this a few times, however, seems intermittent and unable to find the cause so far.

[2017-08-28 14:13] studioai opened #1123 "Uboot in meveric repo breaks system"
#### Required Information:
- DietPi Version | 154
- SBC Device (EG: RPi 3)? XU4
- Power supply used (EG: 5v 1A RAVpower)? 5v6a
- SD card used (EG: Sandisk ultra)? Transcend
- Distro (EG: Jessie) | ```uname -a```? Debian

After Updating uboot package in meveric repo, XU4 doesn't boot.

I tried same thing on the fresh install of dietpi 154 image and result is same.

Unfortunately I overwrote my back

[2017-08-28 17:18] Fourdee commented on #1123
Hi,

Thanks for the report 👍

I'll discuss with Meveric to see if its a local issue. In the mean time, the only solution would be to hold the ```uboot``` package, prior to ```apt-get upgrade```:
[code]

[2017-08-28 19:28] Invictaz commented on #865
There it is, even 2.2.1 final

https://sabnzbd.org/downloads?v=2.2.1

[2017-08-28 20:56] molemantis commented on #1102
Thanks for this beta! As commented in your notes, SSH hangs when launching dietpi-software (works when directly connected to console) using either ssh or dropbear, and I wasn't able to boot after flashing to EMMC. Everything else is working great.

[2017-08-28 21:51] MichaIng commented on #1067
Btw: I still face some opened questions about using the nextcloud vhost/apache conf for php module settings (see above), mostly about how opcache is used. Explained them here: https://help.nextcloud.com/t/use-htaccess-user-ini-for-all-nextcloud-related-php-configuration/18492/5?u=michaing

I'm still stuck in how to figure out if everything is really working as intended and will not produce any err

[2017-08-28 21:56] studioai commented on #1123
Is it known issue? If it is, Where can I find the information about it? (like forum thread)

[2017-08-29 04:47] nphil commented on #1123
Had the same thing happen to me, lost my set up. Is there any way you could have DietPi not do a uboot or firmware upgrade automatically when doing apt-get upgrade? I noticed that an upgrade is done even when installing a new package from dietpi-software. I sometimes just want to update or just install software packages which are safe and won't bork up the entire system.

[2017-08-29 05:24] studioai commented on #1123
@nphil

As Fourdee said

'apt-mark hold uboot' will prevent uboot upstaged via apt-get.

[2017-08-29 12:06] joaofl commented on #796
@Fourdee
Because you pointed me out this thread yesterday, I realized what you have done already towards adding the dietpi user, which is quiet nice.

However, I realized I could already ssh into my dietpi using the diepi user, with default password dietpi. But even more dangerous, the sudo command for the dietpi user does not require password.
This means that whatever dietpi exposed to the intern

[2017-08-29 17:47] Fourdee commented on #796
@joaofl

Same could be said for users who dont change their root password. But yes, users may not be aware of the dietpi user.

Yep, I believe we could add a info window during 1st run setup (```dietpi-software```), inform the user to change passwords for ```root``` and ```dietpi```?
Although, users are only at any real risk of unwanted external access, if their network has:
- UPnP enabled: I beli

[2017-08-30 01:24] studioai commented on #1123
Recovering is so easy If you have backup!

uboot installation doesn't touch boot or root partition. It only modifies boot records on the disk.

So, Format your SD card with fresh image of dietpi and restore the backup.

After that it boots up normally.

[2017-08-30 11:01] Fourdee opened #1124 "LMS | Fails to run"
Due to missing CPAN modules:
[code]

[2017-08-30 11:37] Fourdee commented on #1124
Install CPAN modules:
[code]

LMS reports following still missing:
[code]

[2017-08-30 12:17] rncwnd79 commented on #1123
I got another uboot update yesterday. Does this resolve the issue? (Didn't reboot after the last 2 uboot updates).
Or do I have to downgrade? If so, to which version?

edit:
I have this version currently installed:
20170824-9+deb8u1

[2017-08-30 15:43] Fourdee commented on #1123
@rncwnd79

Not had a chance to test myself yet. If you do test, please let us know results.

[2017-08-30 22:41] studioai commented on #1123
@nphil

20170824-9+deb8u1

is the version has the problem we discuss.

if you have a backup, just format your sd card with dietpi image and restore from backup.

[2017-08-31 00:05] qpens opened #1125 "Unstable behavior when using wifi on 2.4Ghz and unable to boot OS on 5ghz"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version | 155
- SBC Device Odroid C2
- Power supply used 5v 4A
- SD card used Lexar
-Wifi Edimax
- Distro (EG: Jessie) | Linux DietPi 3.14.79+ #1 SMP PREEMPT Sun Jul 23 00:04:44 CEST 2017 aarch64

GNU/Linux

#### Additional Information (if applicable):
- Software title?
- Can this issue be replicated on a fresh installation of Di

[2017-08-31 08:13] rncwnd79 commented on #1123
Hmm. Downgrade not possible due to missing old versions:
[code]

[2017-08-31 12:57] ghost commented on #797
For curiosity, I tried to install it from the `dietpi-software` list and it doesn't work all the same.  Maybe something changed in the installation process?

[2017-08-31 13:56] Fourdee commented on #797
@MasaruKato

Not that we are aware, which device tested on?

[2017-08-31 14:05] ghost commented on #797
On a Orange Pi PC. These are the screenshots of the broken web page.
![screenshot_20170831_154731](https://user-images.githubusercontent.com/29920421/29927171-cde3281c-8e65-11e7-9342-385a32b855c2.png)
![screenshot_20170831_154603](https://user-images.githubusercontent.com/29920421/29927170-cddc26c0-8e65-11e7-915d-617bffdedf5d.png)

[2017-08-31 16:41] Fourdee opened #1126 "Koel npm compile fails due to insufficient RAM/SWAP"

[2017-08-31 18:42] sfb2 commented on #797
hi there,
looks like a yarn problem..try to update it to the latest..

[2017-09-01 12:08] qpens opened #1127 "Chromium Without desktop Fail start"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version | 155
- SBC Device oDroid C2
- Power supply used 5v 4A
- SD card used Lexar
- Distro (EG: Jessie) | Linux DietPi 3.14.79+ #1 SMP PREEMPT Sun Jul 23 00:04:44 CEST 2017 aarch64 GNU/Linux
-LCD Waveshare 10.1 1280×800, IPS

#### Additional Information (if applicable):
- Software title?
- Can this issue be replicated on a fres

[2017-09-01 12:11] Invictaz commented on #1127
Have the same issues on the x86_64 test build. Might be possible that this is GPU related? Or it displays the Chromium screen on the other ( side of) the display.

[2017-09-01 18:00] Fourdee commented on #1127
@qpens
Thanks for the report 👍

I've personally only tested this with RPi. Does Chromium function correctly from Desktop launch?

[2017-09-01 18:12] Fourdee commented on #877
Moved out of milestone as we lack Debian image availability.

[2017-09-01 18:47] qpens commented on #1127
I didn't Install desktop I'm using only dietpi with octoprint just to run my 3d printer. I'm trying to set this thing so only chromium with octoprint will be showing up on start.

[2017-09-01 18:56] Fourdee commented on #1126
Tested, fresh installs of v154:
- Sparky 🈯️
- OPi PC 🈴

[2017-09-02 11:55] Snoevit opened #1128 "XU4 Emby install failed"
**Required Information:**

**DietPi Version** | 154
**SBC Device** | Odroid XU4
**PSU** | Original 5v 4.0A  AC Adaptor
**SD card** | Sandisk ultra 16GB
**Distro** | Linux Embryoid 3.10.105+ #1 SMP PREEMPT Mon Aug 7 10:09:24 CEST 2017 armv7l GNU/Linux

**Additional Information (if applicable):**

**Software title?** Emby Server

Can this issue be replicated on a fresh installation of DietPi? This i

[2017-09-02 13:15] Fourdee commented on #1128
@Snoevit

Thanks for the report. 👍

Confirmed here, we'll attempt to resolve.

[2017-09-02 13:16] Fourdee commented on #1128
notes:
[code]

- 🈯️ Download libjpeg from Wheezy repo (not available in jessie/stretch)
[code]

[2017-09-02 13:33] Fourdee commented on #1128
Fixed for v155.

Workaround until its release is:
- Install ```libjpeg8``` prior to installing emby: https://github.com/Fourdee/DietPi/issues/1128#issuecomment-326743471

[2017-09-02 13:33] #1128 closed, assigned to nobody

[2017-09-02 14:06] Fourdee commented on #1127
@qpens

Unable to replicate on a fresh install with 720P and 1080P. Chromium displays correctly (albeit, not full screen). May be limited to your monitor. Try changing the resolution in ```dietpi-config``` > display options.

Desktop is installed by default with Chromium. Try ```dietpi-autostart``` and changing to desktop, see if Chromium loads correctly.

[2017-09-02 14:51] Fourdee commented on #1126
Fails on npm:
[code]

[2017-09-02 14:58] Fourdee commented on #1126
```g++: internal compiler error: Killed (program cc1plus)```
Lack of memory?

Testing with 1GB swapfile:
- 🈯️

We'll increase the default swapfile size generation to:
- 2048 - total RAM

Previously was:
- 1024 - total RAM

Due to the above, and ensuring enough space for user selected software installations, I've upped our minimum SD card size supported to 4GB:
http://dietpi.com/phpbb/viewtopic.php

[2017-09-02 15:07] Fourdee commented on #1123
Works fine for me, with current uboot package, system boots:
[code]

Can anyone else confirm?

[2017-09-02 17:03] Fourdee commented on #1126
Resolved for v155.

[2017-09-02 17:03] #1126 closed, assigned to nobody

[2017-09-02 18:22] qpens commented on #1127
Waveshare instruction says put
max_usb_current=1
hdmi_group=2
hdmi_mode=87
hdmi_cvt 1280 800 60 6 000
hdmi_drive=1

in config.txt
but that doesn't work I checked on UART terminal and its still loading 720p I try to change the resolution in dietpi-config  but there is only 720p and 1080p closest to my screen checked 1080p but it crashes the screen
I edit boot.ini and changed 720p to 800p but that d

[2017-09-02 19:41] qpens commented on #1127
I reinstalled the OS and screen was working fine from v144 to V155
![img_20170902_194948](https://user-images.githubusercontent.com/30188485/29998258-7c645604-901e-11e7-8b2c-f3587e37090d.jpg)

after installing Octoprint screen got funny

![img_20170902_202739](https://user-images.githubusercontent.com/30188485/29998296-1ace5100-901f-11e7-95b8-6b649c52f5e4.jpg)

[2017-09-02 20:16] nphil commented on #1123
just did a uboot upgrade, same issue :(

[2017-09-02 23:15] molnarti commented on #475
stretch will have to be installed from scratch, or an update from jessie will be possible?

[2017-09-03 12:43] Fourdee commented on #1127
@qpens

max_usb_current=1
hdmi_group=2
hdmi_mode=87
hdmi_cvt 1280 800 60 6 000
hdmi_drive=1
in config.txt
but that doesn't work I checked on UART terminal and its still loading 720p

Those options are for RPi, wont have any effect on Odroid C2. Take a look at ```/DietPi/boot.ini```, there is a few HDMI options in there that may work.

[2017-09-03 12:44] ghost commented on #797
looks like a yarn problem..try to update it to the latest..

So I tried again, with yarn updated at 0.27.5... same result.

[2017-09-03 12:56] Fourdee commented on #797
@MasaruKato

We tested install with the swapfile increase in v155 on fresh install, was functional. Are you running v155?
https://github.com/Fourdee/DietPi/issues/1126#issuecomment-326749203

Also please check swapfile size:
[code]

[2017-09-03 12:59] Fourdee commented on #475
@molnarti

Stretch installs, will require a clean installation with the Stretch image.

Its not feasible for us to distro upgrade existing systems, as we have no way of knowing if the user has applied manual changes to Linux settings. User input is also required for distro upgrade, which again, could change depending on what the user has installed/configured (we cant predict outcome enough, to ens

[2017-09-03 13:05] k-plan opened #1130 "DietPi-Config | DietPi - Filesystem benchmarks - RAM | Fails on devices without /tmp mounted as tmpfs"
## Creating a bug report/issue:
 Fail to execute:  DietPi - Filesystem benchmarks - RAM

![170903-0001](https://user-images.githubusercontent.com/17237601/30003024-fa13d586-90b7-11e7-9dbe-4e8de01692de.gif)

[code]

#### Required Information:
- DietPi Version |
 v 155

- SBC Device |
NanoPi Neo (armv7l)

[code]
- Power supply used :
5.1V /  2.5A  - Official Raspberry Pi Power Supply  (Stontronics)

[2017-09-03 16:16] samteezy opened #1131 "Issues downloading/installing via dietpi-software (dnsmasq being disabled?)"
## Creating a bug report/issue:
Hi, I'm new to DietPi as of today - formerly Raspian Lite user. I think I'm seeing an issue in which the use of pi-hole conflicts with dietpi's handling of services out of the box.

Ever since I installed and activated pi-hole I cannot install packages via dietpi-software because, from what I can tell, it can't resolve DNS queries. I think this is because dietpi dis

[2017-09-03 16:51] k-plan commented on #1131
hi,
can you please show us the output of:

`cat /etc/network/interfaces`

and

`cat /etc/pihole/setupVars.conf`

Pherhaps:

`cat /etc/pihole/install.log`

and

`cat /var/log/pihole.log | more`

[2017-09-03 17:08] samteezy commented on #1131
Network settings (I'm not using wifi, btw). As you can see my local device IP is also my DNS server.
[code]

Pihole:

[code]

Nothing standing out in the last two logs you requested, no errors during install. I've also run pihole -r to be sure it wasn't a setup issue.

[2017-09-03 17:17] k-plan commented on #475
@Fourdee

Where is a new upcoming version: RPi-Monitor v2.12-r0

https://github.com/XavierBerger/RPi-Monitor-deb/tree/master/packages

Tested with `2017-08-16-raspbian-stretch.img` and it work.

![170903-0005](https://user-images.githubusercontent.com/17237601/30005122-c64a63fe-90db-11e7-9df9-3188410eadbe.gif)

Because of new strech ethernet interface naming `enx(+mac-address)`, user have to edit

[2017-09-03 17:23] k-plan commented on #1131
... and this is the mistake!

Use what ever you like, 8.8.8.8, 8.8.4.4, or DNS Server of your ISP or DNS provided by your default gateway (router for your ISP)  (192.168.50.1)

Or if you like this more, the same DNS Server like in Pi-Hole:

[code]

Your problem is cause by your device network interface configuration.

[2017-09-03 18:27] Fourdee commented on #1130
@k-plan

Thanks for the report 👍

This is a limitation with the way we benchmark memory. We use the ```/tmp``` directory for the benchmark, which is mounted to RAM. It has a fixed size in most cases (usually 50% of total RAM), and we rely on a filesystem (of some kind) for all tests.

Command used to calc available space for RAM test (returns MB):
[code]

I'am unable to think of another method we

[2017-09-03 19:05] ghost commented on #797
I'm currently running v155.

I tried to install it from dietpi-software and it worked. I will try a "manual" installation following the guide above and I'll let you know.

edit: unfortunately following this guide I can't seem to get it work.
The first time I encountered these errors:

![capture](https://user-images.githubusercontent.com/29920421/30006528-7671a0c6-90fa-11e7-97ec-879d18b37f1d.PNG)
!

[2017-09-03 19:11] samteezy commented on #1131
I'm aware of that. In and of itself isn't a problem though... it's how dietpi decides to handle services. If it didn't stop dnsmasq and other services when running an install of an application, then this wouldn't be a concern.

192.168.50.1 is my router. Guess what the primary DNS is on the router... it's the RPi (192.168.50.24). This is exactly how pi-hole is supposed to be used, and has worked p

[2017-09-03 21:06] atiensivu commented on #475
I upgraded my Pine64 install to Stretch and then, since it is my experimental build, went up to sid.
Works fine overall but I don't have a bunch of packages installed, so it might be a premature 'works fine'.

I find the Stretch ethernet naming a bit gross but I'm sure there is a good reason for it.

[2017-09-03 21:47] qpens commented on #1127
Before starting kernel

![img_20170903_223826](https://user-images.githubusercontent.com/30188485/30006794-ef8232b6-90f8-11e7-9356-f233ce26dea9.jpg)

Desktop

![img_20170903_223655](https://user-images.githubusercontent.com/30188485/30006811-482f50ec-90f9-11e7-89d5-30170bac9047.jpg)

changes in boot.ini didn't help

chromium still faill ;(

[2017-09-04 00:37] samteezy commented on #1131
Okay, I think I might know why the changes in my last edit didn't work. I don't have it in front of me but I know that after applying the network setting changes, I noticed an error message in regards to eth0 reconnecting.

After rebooting the device, I don't see that message when changing network settings and everything's working the way I want. I can have the RPi IP set as the primary DNS, but w

[2017-09-04 05:00] trajano commented on #887
@taner1 how does it fare when you have unexpected power failures?  Does it recover well?

[2017-09-04 13:18] Fourdee commented on #475
@atiensivu

We revert to wlanx/ethx naming in DietPi v155:
https://github.com/Fourdee/DietPi/blob/master/dietpi/patch_file#L2733-L2734

[2017-09-04 16:17] gretel opened #1132 "wifi configuration fails when key contains = character"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version | 1.55
- SBC Device | Rpi Zero W
- Power supply used | industrial
- SD card used | samsung 16gb
- Distro | jessie

#### Expected behaviour:
wifi should connect
#### Actual behaviour:
various errors messasges related to `wlan0` appearing - wlan not functional

#### Steps to reproduce:
set a `Wifi_KEY` containing `"` in `di

[2017-09-04 16:48] gretel opened #1133 "setting prefer_ipversion=ipv4 has no effect - ipv6 is preferred"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version | 1.55
- SBC Device | Rpi Zero W
- Power supply used | industrial
- SD card used | samsung 16gb
- Distro | jessie

#### Expected behaviour:
setting should be respected - `apt` should not connect via ipv6
#### Actual behaviour:
ipv6 is preferred - regardless of the setting

#### Steps to reproduce:
set `prefer_ipversion=ip

[2017-09-04 20:32] k-plan commented on #1132
BTW: quotation marks in configs, scritps and batch files have a specific importance (e.g. can mark start and ending of a value). Especially if this files will be parsed via bash scripts by `sed `, `awk` , `gwk` , etc.

[2017-09-05 06:38] MichaIng commented on #1133
Hmm so there are szenarios where you need IPv4 for some connections while IPv6 stays in place?
In dietpi-config you could completely disable the IPv6 kernel module. In the past this also added net.ipv6.conf.all.disable_ipv6=1 but we just removed that as it produced errors in log if the module was anyway not loaded.
I will have a look later if this somehow produces the error you face when IPv6 modu

[2017-09-05 11:09] MichaIng commented on #1133
"for now only apt will not connect via ipv6." Just read about it: https://unix.stackexchange.com/questions/9940/convince-apt-get-not-to-use-ipv6-method

My impression is, that if you generally want to use IPv6 you should figure out why apt fails.
By using net.ipv6.conf.all.disable_ipv6=1 you anyway disable IPv6 for everything and in this case it makes mor sense (for me) to completely disable the k

[2017-09-05 13:48] gretel commented on #1133
@MichaIng my native ipv6 connection is fine. but i consider it as a bug because it effectively prevents the installation from finishing, as for some reason unknown to me the raspbian redirector does not respond in time. considering this an alternative may be to configure a connection timeout for `apt` and leave things as they are - which would still be confusing if users expect things to work as c

[2017-09-05 13:53] gretel commented on #1132
@k-plan i was not referring to any wifi-related issue in general, and i am quite aware of the limitations, thanks for pointing that out. `"` is a valid character for WPA keys.
the documentation nor inline comments in `dietpi.txt` mention any restrictions in regards to not being allowed to use the `=` character with dietpi.
i consider this as a bug because it would require users to change existing

[2017-09-05 14:03] gretel opened #1134 "password set in dietpi.txt (AUTO_Global_Password) does get reset to default on upgrade of dietpi itself"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version | 1.55
- SBC Device | Rpi Zero W
- Power supply used | industrial
- SD card used | samsung 16gb
- Distro | jessie

#### Expected behaviour:
password should keep unchanged as configured in `dietpi.txt`
#### Actual behaviour:
password gets reset on `dietpi-update`

#### Steps to reproduce:
install 1.50 from image with `AUTO

[2017-09-05 14:05] gretel commented on #1133
https://github.com/Fourdee/DietPi/issues/1119 looks related to me.

[2017-09-05 14:16] MichaIng commented on #1133
Ah it's the default Raspbian redirector that fails on IPv6? I don't have IPv6 configured, so can't try to replicate it, I guess fourdee can.

#1119 is the error I mentioned above which is fixed in v155 and should not be related with this one, even it affects the same setting :wink:.

[2017-09-05 15:02] Fourdee commented on #1134
@gretel

Thanks for the report 👍

We'll investigate.

[2017-09-05 20:11] jwgn opened #1135 "Perl problem / unable to install Pi-Hole (unable to stat `./usr/share/perl/5.20.2/CPAN/API/HOWTO.pod)"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version  **155**
- SBC Device **RPi 1**
- Power supply used **5v 2.5A**
- SD card used **Verbatim 8 GB**
- Distro (EG: Jessie) **Linux DietPi 4.9.40+ #1 Sat Aug 5 10:51:04 UTC 2017 armv6l GNU/Linux**

#### Additional Information (if applicable):
- Software title? **Pi-Hole**
- Can this issue be replicated on a fresh installation

[2017-09-05 20:41] DasClarky opened #1136 "Feature request!"
Ignore me

[2017-09-05 20:51] #1136 closed, assigned to nobody

[2017-09-06 00:04] qpens commented on #1127
Problem with screen Fixed

In config.txt
Block both framebuffer

boot.ini
 change resolution from me it was 1280x800p60hz

[2017-09-06 15:56] k-plan commented on #1130
@Fourdee

Okay.

Sorry, but then I don't understand, why `dietpi-config 12 => RAM` works in previous versions of DietPi .
_< be at a loss >_

[2017-09-06 23:36] qpens opened #1137 "Chromium not fully shown on the screen"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version | 155
- SBC Device Odroid C2
- Power supply used 5v 4A
- SD card used Lexar
- Distro (EG: Jessie) |Linux DietPi 3.14.79+ #1 SMP PREEMPT Sun Jul 23 00:04:44 CEST 2017 aarch64 GNU/Linux
-Screen Waveshare 10.1 1280x800

#### Additional Information (if applicable):
- Software title?
- Can this issue be replicated on a fresh i

[2017-09-07 16:18] Fourdee commented on #806
Image updated (based on TinkerOS 2.0.1 beta):
http://dietpi.com/downloads/images/DietPi_AsusTinkerBoard-armv7-(Stretch).7z

[2017-09-07 17:22] Fourdee opened #1138 "DietPi-Update | Connection fail if PiHole installed"
Due to dietpi-services stopping pihole service prior to download.

Solution:
Check and enable pihole service during update.

[2017-09-08 11:22] mok-liee opened #1139 "64bit possibility on RPi3?"
Hey @Fourdee,

is it possible to run DietPi on RPi3 under 64-bit with his armv8 CPU?

Greetings mok

[2017-09-08 13:26] sal666 commented on #1007
@belabelabela

For step 3, refer to GRUB documentation:
[-GRUB](https://www.gnu.org/software/grub/grub-documentation.html)
[-tips about theming](https://wiki.archlinux.org/index.php/GRUB/Tips_and_tricks#Manually_creating_grub.cfg)
[-more about theming](http://wiki.rosalab.ru/en/index.php/Grub2_theme_tutorial)

Step 4 is explained [here (step #5)](http://clonezilla.org/liveusb.php#linux-method-b)

[2017-09-08 13:54] mpember commented on #1139
I think you the key roadblock is upstream development.  Until Raspbian gets a well-supported 64-bit release, it is a bit of a stretch (no pun intended) to expect the smaller distros to go it alone.

[2017-09-08 14:55] mpember opened #1140 "MPD dependency links lost"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version | ```cat /DietPi/dietpi/.version```?
155
- SBC Device (EG: RPi 3)?
RPi 3
- Power supply used (EG: 5v 1A RAVpower)?
Official RPi PSU
- SD card used (EG: Sandisk ultra)?
Sandisk Ultra
- Distro (EG: Jessie) | ```uname -a```?
Jessie

#### Additional Information (if applicable):
- Software title?
MPD
- Can this issue be replic

[2017-09-09 09:11] mpember commented on #1065
I have got it running.  It took a bit longer than I had hoped.  But that was mostly due to my unfamiliarity with the DietPi scripts.  I checked my modified version of dietpi-software a zillion times before I found the hardcoded limit on the number of software entries.

Firstly, the script fails at the "check_connection" test.  I think this is because the https://www.googleapis.com/auth/assistant-s

[2017-09-09 15:23] Fourdee commented on #1139
Could not of put it better myself 👍 , exactly correct. We simply don't have the resources to fully support and assist with additional "in-development/testing" images at this time.

When Raspbian officially releases ARM64 image for RPi, we'll follow.

[2017-09-09 15:38] Fourdee commented on #1135
@jwgn

Thanks for the report 👍

We were unable to replicate this in our tests, may be limited to your current setup:
[code]

Lets try removing the offending files and reinstall perl:
[code]

[2017-09-09 15:42] Fourdee commented on #1007
@sal666

This is awesome, great work and thanks for sharing 👍

[2017-09-09 15:46] Fourdee commented on #1140
@mpember

Thanks for the report 👍

I believe this is due to:
- 1st we install MPD via the debian repo (to pull in the shared packages)
- Then we install our updated version of MPD via dpkg

This does not apply to our stretch images, same version of MPD installed.

Notes:
- Remove our MPD compiled binary, simply install MPD via repo as we now offer Stretch images for our major boards.
- Odroid C2 J

[2017-09-09 15:59] mpember commented on #1140
Thanks.  I had already got it working (preemptively using the steps you have outlined).  I figured I'd post a detailed report to avoid someone posting a less-detailed report.

[2017-09-09 16:05] mpember commented on #1134
I found this to be the case with a similar build (from a v150 image).  Since it was a clean install and I had never used this method previously, I wasn't sure if it was a feature or a bug.  I can confirm that the root password remained as set in dietpi.txt.  But when I first went to log in as "dietpi", the password was the normal default of "dietpi".

[2017-09-09 16:05] Fourdee commented on #1140
@mpember

Much appreciated 👍

[2017-09-09 16:14] Fourdee commented on #1138
Completed. PiHole service now restarted during updates.

[2017-09-09 16:14] #1138 closed, assigned to Fourdee

[2017-09-09 16:18] Fourdee commented on #1134
@mpember

Excellent, thanks for testing 👍

Yep, currently only the root password is set.

I think for now, we could change both "root" and "dietpi" user passwords as set in dietpi.txt.
But in the future, we will only set "dietpi" user and disable "root" at some point: https://github.com/Fourdee/DietPi/issues/896

[2017-09-09 17:02] Fourdee commented on #1140
Tested:
- 🈯️ Jessie
- 🈯️ Stretch
- 🈯️ ARM64

Fixed for v156.

[2017-09-09 17:02] #1140 closed, assigned to nobody

[2017-09-10 09:05] mok-liee commented on #1139
thank you very much... i will wait :)

[2017-09-10 09:05] #1139 closed, assigned to nobody

[2017-09-10 10:17] SageStarCodes commented on #1121
I also have this issue, SD card is tested and formatted Class 10, 16GB Kingston, RPi 1 B, power supplied from powered D-Link USB hub that can supply 2.1A@5V to 2 powered ports, from experience I can tell this setup is very stable...
I've got the same exact code, watching the install I spotted an error message saying that the compressed file of the kernel violated the format

[2017-09-10 13:41] SageStarCodes commented on #1121
Ok... that was some other error, here is a video showing the failed extraction of kernel (this is my second try - reformated, reflashed): https://youtu.be/HLAsf8SIGdk //sorry about the music, YouTube does not allow the sound to be simply disabled and there was quite a bit of background noise

[2017-09-10 14:03] Fourdee commented on #1121
@D3add3d
![image](https://user-images.githubusercontent.com/7077026/30249696-3d294ea6-9639-11e7-8c04-d243e9ae9b1e.png)
?

[2017-09-10 14:58] SageStarCodes commented on #1121
Sorry, my bad, forgot to switch it from private to unlisted, should be fixed.now

[2017-09-10 15:03] Fourdee commented on #1121
@Elpadreloco

Thanks, looks like the unzip is failing.

Lets try and run it manually:
[code]

Please check for any errors.

[2017-09-10 16:34] SageStarCodes commented on #1121
I... can't? There is no way, the autoupdate runs automatically and when it reboots the kernel panics

[2017-09-10 16:37] Fourdee commented on #1121
@D3add3d

You can press CTRL+C to terminate the current program.

Do this during kernel extraction (as per the video).

[2017-09-10 16:38] SageStarCodes commented on #1121
ok, I will try it later

[2017-09-10 17:24] jwgn commented on #1135
Hm even rm did not work (Structure needs cleaning). It seems my SD card is just corrupted, e2fsck fixed a few errors, now installation resumes. I have ordered a new SD card. Thanks for your help and sorry for bothering with that.

[2017-09-10 17:24] #1135 closed, assigned to nobody

[2017-09-10 17:37] Fourdee opened #1141 "ASUS TB | Switch to 'ondemand' for stability"

[2017-09-10 21:19] belabelabela commented on #1007
@sal666

Thanks a lot, I will give it a try!

[2017-09-11 11:24] dpskvn opened #1143 "Image request: NanoPI Neo Plus2"
It seems the NanoPi Neo2 image could be tweaked to be compatible: http://wiki.friendlyarm.com/wiki/index.php/NanoPi_NEO_Plus2

Major differences are included 8GB eMMC, addition of WiFi/Bluetooth, additional USB port and RAM increased to 1GB.

I successfully booted the NanoPI Neo2 image, although only half of the RAM is available and WiFi is not working.

I don't necessarily feel comfortable poking

[2017-09-11 12:00] MichaIng opened #1144 "Temporary directory /var/tmp/php_upload_tmp is not present or writable"
# Creating a bug report/issue:

#### Required Information:
- DietPi Version | ```155```
- SBC Device | ```RPi2```
- Power supply used | ```5V 2A```
- SD card used | ```Kingston SDCA3/64GB```
- Distro | ```Stretch```

#### Additional Information (if applicable):
- Nextcloud, at least
- Sorry, I did not try and have no chance to do that soon.

#### Expected behaviour:
No error message inside Nextclo

[2017-09-11 13:00] SageStarCodes commented on #1121
@Fourdee ok,  I ran it manually, I got the same output, many errors at the beginning and then inflating and create

[2017-09-12 20:31] hiscorebob opened #1145 "Native PC - Home Assistant installation fails"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version |  155
- SBC Device |  Native PC
- Power supply used | Built-in
- SD card used | S-ATA Drive
- Distro (EG: Jessie) | 4.9.0-3-amd64 #1 SMP Debian 4.9.30-2+deb9u3 (2017-08-06) x86_64 GNU/Linux

#### Additional Information (if applicable):
- Software title? | Home Assistant
- Can this issue be replicated on a fresh installat

[2017-09-13 11:08] MichaIng opened #1146 "[APT][Optimization] Remove/Ignore recommendations | apt-mark auto"
As I am a perfectionist, I always try to optimize my systems as much as I can, trying and tinkering around. For reducing the amount of unnecessary installed apt packages, you could remove all automatically installed "recommended" packages, so packages that were just recommended but no "dependency" of manually installed packages. DietPi already uses this when installing it's needed packages for sys

[2017-09-13 11:46] MichaIng commented on #1144
https://github.com/owncloud/core/issues/22183#issuecomment-181325772
But I don't find `systemd.service` on my system and don't know how to disable `PrivateTmp=true` and if this is actually a good idea. Any other possibility to enable PHP to see and write to this directory?

[2017-09-13 15:11] Fourdee commented on #1146
@MichaIng

APT::Install-Suggests "false"; //This one disables auto installation of "suggestions", but it's actually default in debian.

Love the idea, I'am all for minimal, but this may opens a can of worms. Recommended packages in Debian are very "hit and miss".
Some cases, library packages (such as codecs) will be pulled in as recommended packages, without those, the majority of features will no

[2017-09-13 15:16] Fourdee commented on #1145
@hiscorebob

Thanks for the report 👍

Package is unavailable in Stretch:
https://packages.debian.org/jessie/libmysqlclient-dev

As MariaDB is now the default SQL install on Stretch, this would need to be installed in its place:
https://packages.debian.org/stretch/libmariadbclient-dev

[2017-09-13 15:19] Fourdee commented on #1145
@sytone

Are you available to make the package changes based on ```$DISTRO``` in ```dietpi-software```? (3=jessie,4=stretch)
https://github.com/Fourdee/DietPi/issues/1145#issuecomment-329201055

[2017-09-13 17:38] ghost opened #1147 "Minio Installer -- A Few Questions"
Hi,

I'm working on adding Minio to the DietPi-Software script. I've got it mostly working right now just a few tweaks to do with configuration options.  I have 2 questions I'd appreciate some direction on.

1) How/where can I put true uninstall steps? I saw a section at the bottom of the script that appeared to be the uninstall script section but I wanted to check.'

2) Once done do how do I get

[2017-09-14 12:13] MichaIng commented on #1146
Ah yes I remember that e.g. fail2ban just recommends iptables but indeed absolutely needs it to work. Maybe another firewall would also work why it's not set as dependency... As my system at the moment doesn't  run much more than Nextcloud, it works very well without any recommndation.
To still benefit from this, all recommendations could be removed during system prep script and afterwards they co

[2017-09-14 16:08] Fourdee commented on #1147
@techdabbler

Hi,

1. Create a new entry anywhere here for uninstall code:
https://github.com/Fourdee/DietPi/blob/master/dietpi/dietpi-software#L11662-L11666

2. Ideally, should be sent as a pull request on git :) Get full credit for your contributions :)

[2017-09-14 20:49] denis-ev opened #1149 "PiHole and Wifi Hotspot"
## Creating a bug report/issue:
When PiHole is installed and I try to install the Wifi Hotspot the service isc-dhcp-server fails to start.

#### Required Information:
- DietPi Version 155
- SBC Device RPi 3
- Power supply used 5v 1A
- Distro Linux hassio 4.9.48-v7+ #1034 SMP Fri Sep 8 14:31:14 BST 2017 armv7l GNU/Linux

#### Actual behaviour:
isc-dhcp-server fails to start

#### Steps to reproduce

[2017-09-15 20:10] rncwnd79 commented on #1123
Sorry for the late replay. I was on vacation.

Did the upgrade and a reboot. No problems!

[2017-09-16 15:02] #1131 closed, assigned to nobody

[2017-09-16 15:05] Fourdee commented on #1123
@rncwnd79

Excellent, thanks for letting me know.

I'll mark this as resolved. Please reopen if required.

[2017-09-16 15:05] #1123 closed, assigned to nobody

[2017-09-16 19:26] damien92220 opened #1150 "Emby Server fails to install, due to missing package deps, not available in Debian repos."
Hi all,
error when i want install Emby Server

## Creating a bug report/issue:

#### Required Information:
- DietPi Version: 155
- SBC Device: Asus Tinker Board
- Power supply used: 5v 3A

#### Additional Information (if applicable):
- Emby Server
- Can this issue be replicated on a fresh installation of DietPi? Yes

#### Actual behaviour:
Apt-get has failed:
- Apt string = emby-server embymagick

[2017-09-17 15:20] sytone commented on #1145
Will libmariadbclient-dev still work for python connections to MySQL databases. This was added as this is the common one used in HA installations to make configuration easier.

[2017-09-17 15:21] sytone commented on #556
I added it, one more issue down

[2017-09-17 15:21] #556 closed, assigned to nobody

[2017-09-18 16:36] Fourdee commented on #1145
@sytone
I cant see it being an issue, MariaDB==MySQL but we'd need to test it.

[2017-09-18 16:44] Fourdee commented on #1150
@damien92220

Thanks for the report 👍

We'll investigate.

[2017-09-18 17:16] Fourdee commented on #1150
[code]

---

Attempt with Emby debian 8 repo:
[code]

[2017-09-19 08:48] Kinder0083 commented on #1042
Hello

Did you succeed to run DietPi on your Nanopi K2 board?
I have this card and want to install Dietpi.
How did you do ?

Thank you

[2017-09-19 13:18] Fourdee commented on #1141
Completed.

[2017-09-19 13:18] #1141 closed, assigned to nobody

[2017-09-19 19:46] ghost commented on #1147
Thanks. I got the uninstall all setup and I think I've figured out git enough to send it that way.

I ran into one 'issue' that I found a way around but wanted to check to see if this dietpi longterm a good idea.

In short I make a folder for the server data in /mnt/dietpi_userdata/minio-data  where I need a user (minio-user) to have have rwx permissions.  Originally in the KISS method I tried to

[2017-09-20 11:05] Fourdee commented on #1147
@techdabbler

When formatting drives in ```dietpi-drive_manager```, and moving using data, we prompt user if filesystem does not support fs permissions and the issues it may cause.

Yep (https://github.com/Fourdee/DietPi/blob/master/dietpi/dietpi-software#L7669)

Add the chown entry after:
https://github.com/Fourdee/DietPi/blob/master/dietpi/dietpi-software#L7679

Gets applied at the end of ```die

[2017-09-21 22:08] HamBone41801 opened #1153 "DietPi-Software | Locate"
The locate command searches for and displays the absolute location of and file matching the user's input via command line.  It uses an address database that is updated daily (or by the use of `sudo updatedb`).

[2017-09-22 17:46] Fourdee opened #1155 "Stretch | MotionEye fails to install (deps)"

[2017-09-22 21:56] qpens opened #1156 "Odroid C2 WiFi Fail"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version | 156
- SBC Device Odroid C2
- Power supply used 5v 4A
- SD card used Lexar
- Wifi Edimax EW-7811Un
- Distro (EG: Jessie) | Linux DietPi 3.14.79+ #1 SMP PREEMPT Sun Jul 23 00:04:44 CEST 2017 aarch64 GNU/Linux

#### Additional Information (if applicable):
- Software title?
- Can this issue be replicated on a fresh installa

[2017-09-23 01:39] bartaspoz commented on #870
v156 released and I see that you moved docker to v157 milestones. Did you encountered problems or just this is so time consuming? :)

[2017-09-23 13:18] Fourdee commented on #870
@bduisenov

Lack of available time from my end, and, we needed to release v156 to resolve bugs which would effect our users.

I will get round to it, although, no ETA yet.

[2017-09-23 13:21] Fourdee commented on #1156
@qpens

Thanks for the report 👍

Can you please confirm the ```dietpi.txt``` changes were made prior to 1st run of the device?
If you are applying these settings, after this point, it needs to be completed in ```dietpi-config```
https://github.com/Fourdee/DietPi/blob/master/dietpi.txt#L4-L8

And ```Wifi_Enabled=1``` was set in ```dietpi.txt```?

Also, please paste results of:
[code]

[2017-09-23 16:59] sytone commented on #1145
ok, ill try and get to it in the next few days. Is there a VM image for stretch around? If not what process are you using to make them. I'm taking the virtualbox images and converting them to hyper-v to make life simple for me.

[2017-09-23 17:00] sytone commented on #935
Given it is in time to close this issue?

[2017-09-23 17:54] sytone opened #1157 "Design: Using Zip based storage for multiple files."
Breaking this out to have a discussion on this as I mentioned it in a review which is not really the right place.

**Idea**: Reduce file count while making separation of scripts for software packages more manageable.
**Assumptions**: zip/unzip available on all platforms.
**Proposal**
In GitHub make a /dietpi/software folder. For each software package make a {id} file (could be name for clarity as

[2017-09-23 18:24] Fourdee commented on #935
@sytone

Yep, Many thanks for implementing this 👍

For reference : https://github.com/Fourdee/DietPi/issues/1145

[2017-09-23 18:24] #935 closed, assigned to nobody

[2017-09-23 18:26] Fourdee commented on #1145
@sytone

Jessie currently.

You can upgrade:
- Fresh install of VM image and DietPi setup completed with no changes
Copy and paste all
[code]

Then
[code]

Should be fine to use default options if any whiptail menus appear.

[2017-09-23 20:15] Fourdee commented on #1153
@HamBone41801

Hi,

You can also use the command ```find```, that doesn't require a database or additional daily processing, pre-installed with DietPi:

To find a file with name ```bob``` on rootfs:
[code]

To find a file with name ```file``` and any extension on rootfs:
[code]

To find a ```.html``` file in ```/var/www```
[code]

[2017-09-23 20:15] #1153 closed, assigned to nobody

[2017-09-23 20:23] Fourdee commented on #1157
@sytone

Love where your going with this 👍

ref: https://github.com/Fourdee/DietPi/pull/1087#issuecomment-331666708

[2017-09-23 21:36] qpens commented on #1156
lsusb result

![img_20170923_223317](https://user-images.githubusercontent.com/30188485/30777300-780f94a0-a0af-11e7-88cf-e1e5c8622b5b.jpg)

On second sd card, I made fresh install with that config

![img_20170923_220940](https://user-images.githubusercontent.com/30188485/30777266-d644160a-a0ae-11e7-96b4-4286c14bddf0.jpg)

![img_20170923_222601](https://user-images.githubusercontent.com/30188485/30

[2017-09-24 15:19] einstweilenhier opened #1158 "Change login notification to reflect possibility of automatic installation"
https://github.com/Fourdee/DietPi/blob/52ee1003d41ddf1619267883676ef84210e91184/dietpi/login#L211

This line is confusing when you log into your system for the first time if you use automatic installation, because it implies that user interaction is necessary.
Maybe it should be appended with "or wait for automatic installation to finish, if you enabled it".

Or maybe even detect if the dietpi-sof

[2017-09-24 21:41] qpens commented on #1156
I checked another card Alfa AWUS051NH on V144 works fine but after upgrade to 156 It's a fail

![img_20170924_224034](https://user-images.githubusercontent.com/30188485/30787101-7f8f1e6a-a179-11e7-8afe-f6eb6295a55a.jpg)

[2017-09-25 02:41] qpens commented on #1156
I tested both and they are working fine problem with Edimax was that this card needs to be configured with static IP on start (V144)

Alfa was working fine on V144 but after upgrade to V156 same thing happen

[2017-09-25 06:04] telamon commented on #870
Hey, a little status update. I recently upgraded my diet pi version and also purged out the docker provided by hypriot and replaced it with the official installation via get.docker.com which now contains arm distributions. And so far the old kernel panic issue has been resolved. I cannot reproduce it ant more.

[2017-09-25 07:48] jbz-dev commented on #686
@Fourdee

Did a bit of testing yesterday and tried to make a PR on `dietpi-software` but the file is damn too big for my poor skills (And I probably messed up the file )

I created a gist with a few things I managed to format according to Dietpi-Software syntax

(https://gist.github.com/Bridouz/4a264d317c9690b7b28b1246b011ca92)

Obviously just as Gogs it needs `openssh`.

And I think that's it, te

[2017-09-25 12:37] Fourdee commented on #1158
@einstweilenhier

Or maybe even detect if the dietpi-software instance running in the background is doing an automatic installation and just tell the user to come back later?

Many thanks for letting us know, you are spot on 👍

I'll get this fixed.

[2017-09-25 16:17] DeviantEng commented on #1102
So glad to see there's work on this already.  Like others, for me it's DietPi or bust when it comes to Linux on SBC's.  Definitely hope eMMC booting is supported as well.  I received a ROCK64 today, but I believe it's DoA so I've still got a couple of weeks before I can contribute any testing.

[2017-09-25 20:55] alexthe-red commented on #1102
Something that threw me off for a bit with this board and Dietpi::

- Couldn't access via SSH unless fresh dietpi install had ethernet settings set to 10. Pine forums mention that you can physically accomplish this by snipping a couple wire pairs on your ethernet cable. But I edited the dietpi config file before imaging the SD. Once inside, I was bumped the ethernet speed to 100 with `ethtool -s e

[2017-09-26 06:42] ghost opened #1159 "Letsencrypt supports Free Noip.com Dynamic DNS"
Letsencrypt currently/now supports the free version of noip.com's DDNS service -- so it seems like we can remove the warning from dietpi.

The only thing I think that needs to be done is to change the text on the installer and on the webpage to remove the warning it doesn't work.  It might even be a good idea to just change it to it DOES work - since it has been saying otherwise.

I've successfull

[2017-09-26 16:35] Fourdee commented on #1159
@techdabbler

Excellent, thanks for letting us know.

I'll add it to my list aswell.

[2017-09-26 16:39] Fourdee opened #1160 "DietPi-Software | minio"
Added by @techdabbler https://github.com/Fourdee/DietPi/pull/1152

[2017-09-26 16:40] Fourdee commented on #1160
x86_64:
[code]

Looks like incorrect binary for arch.

[2017-09-26 16:48] enolp commented on #1149
I reported the same problem months ago but the solution @k-plan gave me it didn't work for me. My bug report https://github.com/Fourdee/DietPi/issues/992

[2017-09-26 16:50] ghost commented on #1160
I'll have to check that out. Admittedly I did all most testing on ARM.  Worst case it just gets disabled for x86_64.

[2017-09-26 16:52] ghost commented on #1160
are you testing on x64? I downloaded the x86 thinking it would run on both.  I bet I just need to break out the executables. I'll do that when I get home tonight.

[2017-09-26 17:07] Fourdee commented on #1160
@techdabbler

Yep, all our non-ARM images are x86_64 only.

Done:
https://github.com/Fourdee/DietPi/commit/efbcc824a708466dd1259bc59867d10df4f6c238

[2017-09-26 17:09] Fourdee commented on #1160
And corrected HW_ARCH index for x86_64:
https://github.com/Fourdee/DietPi/commit/f3dde8efe2a5f24b1193148cead8991a477c488b

[2017-09-26 17:42] ghost commented on #1160
Great. Thanks.  I didn't realize there were not x86 images at all.  What is the difference between  20,  21 and 10?

[2017-09-26 17:47] Fourdee commented on #1160
@techdabbler

List of HW_ARCH's contained here:
https://github.com/Fourdee/DietPi/blob/master/dietpi/dietpi-obtain_hw_model#L68-L73

[2017-09-26 17:48] Fourdee commented on #1160
@techdabbler

Looks good 👍 :
[code]

To Do:
- Add to ```dietpi-process_tool```

[2017-09-26 18:45] ghost commented on #1160
@Fourdee

RE: HW_ARCHs -- I see what happened I was using a guide on adding software that appears to have an old ARCH list since I can't find 20 and 21 anymore at all.  If this is still considered a current guide it might be good to update.  Not sure how that works.

[https://github.com/Fourdee/DietPi/issues/490](https://github.com/Fourdee/DietPi/issues/490)

Happy that fixed the x86_64 problem. I

[2017-09-26 20:54] jbz-dev commented on #1067
Hi,

I will install Diet-Pi STRETCH tomorrow on m'y Rpi3 ans will try to help you with Nextcloud :)

[2017-09-26 21:05] DasClarky commented on #865
Update Available! 2.3.0

Just so you know :) Thanks @Fourdee

[2017-09-27 05:34] jbz-dev commented on #475
Is it possible to boot with DietPi Stretch for the first time with an enabled wifi configuration ?

With DietPi Jessie the `dietpi.txt` file managed to do that but I don't manage to activate wifi on first boot with Stretch ? Am I missing something ?

[2017-09-27 13:38] Fourdee commented on #475
@Bridouz

Thanks for the report, i'll try to replicate 👍

[2017-09-27 17:23] jbz-dev commented on #475
DietPi Stretch (v151) installed with ethernet connexion. Wifi is not working out of the box.

By enabling wifi in DietPi-Config Raspbian wants to install `netplug`
A reboot after the installation of `netplug` and WIFI SSID are available.

However I tried (after the wifi setting) to disable Ethernet. By doing it it removes `netplug` and the Pi is now not accessible from either Ethernet or Wifi.

_E

[2017-09-27 20:07] jbz-dev commented on #1067
it would be good to bring 4-bits support out of the box

It needs :
- change file format for MySQL/MariaDB to Barracuda
- enable utf8mb4 in nextcloud configuration file

[2017-09-28 03:47] ghost commented on #1159
I got to digging tonight... and thinking.  I don't believe there is any code that needs changing or editing. It seems the only notation to noip.com free's service not working is just in the certbot wiki entry.

[2017-09-28 12:31] jbz-dev commented on #1159
From what I know Letsencrypt supports noip free accounts for a while. Always been using DietPi with free NOIP for a year :)

[2017-09-28 16:20] jbz-dev commented on #475
@Fourdee

Certbot is now packaged on Stretch and I can confirm it works with the `webroot` plugin out of the box.

Would you authorize me to propose a PR with changes reflecting that ?

[2017-09-28 16:45] mpember commented on #1065
Just an FYI...

Google seem to have reworked their code and created a new branch with a new API.

The good news is that they appear to have rewritten their install scripts to allow for non-standard install paths.

I haven't had a chance to give the new code a go.  I will have a try over the weekend.  They say there is no migration path from the old to the new code layout / API, so you are required

[2017-09-28 17:17] ghost commented on #686
@Fourdee @Bridouz

With the binaries available this one looks pretty easy to add. I might take a crack at it though I'm out of town for a few days.  One question -- is this a software request add or a replace? Should I be looking to remove Gogs or just add Gitea?

[2017-09-28 17:20] ghost commented on #1159
@Bridouz Yup. It seems its been a while. I just started reading the documentation first (GASP!) and was happy to dsicover through some googling they are supported now.  I'd like to save the other 2 people who read the documentation before they try it some time. HA!

[2017-09-28 17:36] Fourdee commented on #475
Would you authorize me to propose a PR with changes reflecting that ?

Yep by all means 👍

[2017-09-28 17:37] MichaIng commented on #475
Yes certbot from repo also working well for me on raspbian stretch.

I use python-certbot-apache and did the automated apache configuration with it. This creates a quite nice ssl/cipher config in a separate config file. Same exist for nginx: python-certbot-nginx

[2017-09-28 20:08] jbz-dev commented on #475
@MichaIng Thanks for mentioning `python-certbot-nginx`. I've just tested it and it's really nice, it works really great without any user input (except the fact I had to add my ddns domain to nginx.conf).

The ssl/cipher config is rated B from Qualys SSL Labs. Not bad but could be enhanced (with Mozilla recommendations https://mozilla.github.io/server-side-tls/ssl-config-generator/)

What do you th

[2017-09-29 07:29] MichaIng commented on #1067
Yeah, I read this everywhere, but could you explain, what is the actual benefit of this change according to Nextcloud? As it seems possible to change this afterwards, I will test it later on my own system.

[2017-09-29 07:42] jbz-dev commented on #1067
the actual benefits is that it brings full unicode support (emoji included).

For sole people it's not mandatory but if you use the _news_ app on Nextcloud for example you will need unicode support to properly render some feeds.

[2017-09-29 08:20] MichaIng commented on #1067
Ah okay that makes sense. I was asking myself where the hell emoji's (also mentioned in nc admin manual) could be needed inside a database :laughing:.

Added it to Phase Il plan.

€: Okay, first mysql/mariadb config needs to be changed:
[code]
Barracuda file format is not the only thing, `innodb_large_prefix` also need to be set according to admin manual: https://docs.nextcloud.com/server/12/admin

[2017-09-29 11:56] MichaIng commented on #475
@Fourdee Does the problem with kodi still exist? I am wondering, because stretch is already official released also for raspbian with kodi in default repo.

`apt install kodi --dry-run` ran without error, I hesitate to try the real installation with 100+ dependency packages 😛.

Can't wait to see DietPi Stretch release 🙂.

[2017-09-29 11:57] Hestonian opened #1161 "Segmentation Faults"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version | 156
- SBC Device RPi B+
- Power supply used 5v 2A Anker
- SD card used Kingston 32GB
- Distro Jessie | Linux Gateway 4.9.40+ armv6l GNU/Linux

#### Additional Information (if applicable):
- Software PiHole installation
Post upgrade from v155 to v156, pi-hole stopped working as DNS server resulting in URL requests from d

[2017-09-29 12:12] MichaIng commented on #1155
dietpi-software downloads/expects the "jessie" version here with related older library dependencies: https://github.com/Fourdee/DietPi/blob/master/dietpi/dietpi-software#L6376-L6405

On official raspbian stretch repo there is "motion" available, auto installing the mentioned newer library versions as dependencies. I don't know about the python packages, but they seem to be not affected anyway and

[2017-09-30 12:21] peter850421 opened #1162 "NanoPi m1 support linux kernel 3.8+, need use docker image"
## Creating a bug report/issue:
Nanopi M1 DietPi is still under kernel 3.4 !

I know Nanopi Neo  has below image can run Docker.  However, when NanoPi M1 uses this image , M1's only one of three USB ports can be used.  Can somebody help to update the image or change the Neo image to adapt to M1 ?

http://dietpi.com/downloads/images/no_release/(NR_4.x)_DietPi_NanoPiNEO-armv7-(Jessie).7z

[2017-09-30 17:14] Fourdee commented on #1161
@Hestonian

Thanks for the report 👍

Hardware failure, PSU instability, and/or SD card insufficient. Not a DietPi specific issue.

Please try
- re-writing the DietPi image to a well branded SD card (EG: Sandisk)
- Using official RPi PSU (5v/2.5A)

[2017-10-01 08:06] jbz-dev opened #1163 "Dietpi-Software | Split script for better readability"
Hi,

Juste throwing an idea for DietPi. The distribution is a reamly Nice piece of code but I fond myself often lost in that huge file that dietpi-software is.

Could it be more friendly to split dietpi-software with :
- One main file which brings the menu
- Category Folder containing individual files for software (both installation ans optimisation)

I know it's a lot of work but I think it would

[2017-10-01 10:53] MichaIng commented on #1163
I had moreless the same idea (https://github.com/Fourdee/DietPi/pull/1142#discussion_r139130084), but:
As the "DietPi" folder is written into ramfs, it should be generally kept small. Splitting everything into individual files brings the problem that every files takes at least a 4k block, so several individual files will most likely take more memory.

But for me the benefit would outweigh the larg

[2017-10-01 12:03] MichaIng opened #1164 "[Question] Do we need "libpam-systemd" + "dbus"?"
I was looking around my dietpi system and again fell over the `dbus-daemon` running, asking myself if anything is actually using dbus. `dbus-monitor --system` reveals so far phpsession cleanup to throw some messages there, but I doubt that they are necessary for anything:
[code]

Actually `libpam-systemd` depends on `dbus` and `systemd` itself at least recommends it.

I do not understand too much

[2017-10-01 14:37] Hestonian commented on #1161
OK.  But do you have a process to revert to an earlier version of DietPi i.e. so I can revert to v 155 to test?

[2017-10-01 19:59] Yury-MonZon commented on #876
No Wi-Fi for the H5 board?
So we better buy H3 for DietPi then? Or it could be fixed in the near future? Thanks a lot!

[2017-10-01 21:09] dragouf opened #1167 "nodejs ARMv6 binaries not available for download"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version | ```cat /DietPi/dietpi/.version```? 156
- SBC Device (EG: RPi 3)? RPI Zero W
- Power supply used (EG: 5v 1A RAVpower)? 5v 2A
- SD card used (EG: Sandisk ultra)? sandisk 16Go
- Distro (EG: Jessie) | ```uname -a```? Linux RaspberryZero 4.9.40+

#### Additional Information (if applicable):
- Software title? NodeJs
- Can thi

[2017-10-02 05:14] jbz-dev commented on #1167
You van try to use this script to install NodeJS on ARMv6 board

https://github.com/sdesalas/node-pi-zero

[2017-10-02 20:28] Fourdee commented on #1161
@Hestonian

We cannot replicate segmentation faults from v151 > v156. There is nothing wrong with the v155 > v156 upgrade. The issue lies with your hardware.

As your current installation is experiencing seg faults, it would not be of any benefit to downgrade on a unstable system. The issues will still be there.

Please look at resolving your hardware setup, ensuring stable operation of the RPi, b

[2017-10-02 20:28] #1161 closed, assigned to nobody

[2017-10-02 20:48] MichaIng commented on #244
As I was going through the old opened issues:

Did there still appear cases where an update of redis-server (and/or php(5)-redis) is necessary? Otherwise could be closed, especially since stretch will be hopefully soon released with new redis repo version.

In case, I don't like installation from source, since dependencies and updating need to be done manually/maintained by dietpi updates. So some

[2017-10-02 21:00] Invictaz commented on #1161
Unplugging the Pi with write actions still running (since the RAM is also on the disk) is a possible explanation.

[2017-10-02 21:29] Hestonian commented on #1161
I had PiHole running on the same hardware/power supply since v148 so I had a strong basis for investigation.   SD card corruption during the upgrade from 155 to 156 write is a possibility.

Appreciate that the issue is marked closed so I'll try re-install.   Thanks.

[2017-10-02 22:30] michaelkay commented on #1167
Root cause is detailed here https://github.com/taaem/nodejs-linux-installer/issues/9

[2017-10-03 13:15] MichaIng commented on #1067
I included nginx configuration into existing PR, thanks to @Bridouz , so ready for testing: https://github.com/Fourdee/DietPi/pull/1142

Some more points could be considered. There is a stretch package providing the nginx cache_purge module https://packages.debian.org/stretch/libnginx-mod-http-cache-purge suggested by c-riegers guide. Sadly https://www.c-rieger.de/nextcloud-installation-guide/ is

[2017-10-03 15:40] Fourdee commented on #1067
Merged for testing: https://github.com/Fourdee/DietPi/pull/1142#issuecomment-333881513

[2017-10-03 16:15] Fourdee commented on #1167
@michaelkay

Yep 👍

armv6l binaries missing from http://nodejs.org/dist/latest/:
![image](https://user-images.githubusercontent.com/7077026/31135897-6bfaa216-a85e-11e7-9404-02f5c9f054e1.png)

[2017-10-04 09:10] maweki opened #1170 "[Question] | dietpi-update -y"
It would be nice to have a non-interactive way to update dietpi. I have a lot of machines organized via ansible and it would be nice to bring out the updates in a concerted way.

[2017-10-04 09:15] jbz-dev commented on #1067
Installation fails on fresh Rpi3 DietPi V157 :

Installation aborted because :
[code]

In fact `php7.0-intl" does not exist in apt-cache.

I tried to remove that package installation but then I had another errors with :
[code]
 saying that packages like `opcache` `apcu` do not exist.

EDIT: I removed all the php installation stuff locally as I already have them. Installation OK

but nginx fails to

[2017-10-04 17:05] Fourdee commented on #1170
https://github.com/Fourdee/DietPi/blob/master/dietpi/dietpi-update#L18
[code]

[2017-10-04 18:05] Fourdee opened #1171 "Image | UEFI compatible x86_64 image"
### **Stable:**
### https://dietpi.com/downloads/images/DietPi_NativePC-UEFI-x86_64-Bullseye.7z
- Install instructions are included in this archive.

---

Our current Native PC image is MBR based and relies on CSM mode for UEFI. CSM not available on some devices.

[2017-10-06 14:15] Fourdee opened #1174 "DietPi + Allo | Web interface images"
http://dietpi.com/phpbb/viewtopic.php?f=8&t=2317#p8868

[2017-10-06 14:16] Fourdee commented on #1174
Completed.

[2017-10-06 14:16] #1174 closed, assigned to nobody

[2017-10-06 19:30] ghost opened #1175 "[Question] | Multiple Pull Request Best Practices?"
I'm relatively new to git and I'm curious if I am adding multiple applications into dietpi-software what is the best way to do the pull requests?

Right now I made an individual pull request for each software as if they were the only one being merged into the testing branch.  My thought was to keep them separate so they could be merged and tested individually.   This still makes sense to me but...

[2017-10-06 19:37] kotamotov commented on #475
Hi Fourdee and thank you for your work!
Please explain
1. What Linux kernel version is being used for DietPi_SparkySBC-armv7-(Stretch).7z image?
2. Is it possible to replace old kernel version 3.10.38?

[2017-10-06 23:06] MichaIng commented on #1175
Other way would be to add one by one, but wait for one being merged, before you add the next. Takes more time but guarantees that everything can be tested well seperated and you can focus on potential fixes and improvements.

[2017-10-07 05:54] kotamotov opened #1176 "[Question] | Replacing old kernel version 3.10.38 for DietPi_SparkySBC-armv7-(Stretch).7z image"
Audiophiles are waiting for new kernel version for SparkySBC to connect new DACs.
 Is it possible to replace old kernel version 3.10.38 for DietPi_SparkySBC-armv7-(Stretch).7z image?