[2016-05-01 06:49] xenfomation commented on #245
Tests so far have left my Pi unbootable post-install -- even following crypto option docs.  I am focusing now on eCrypt FS for directories I hold important data as it offers:

Directory Encryption
PARTITION (ie, USB drive) Encryption

Fourth test going on now -- thanks for the patience.  I have SD cards to burn and I did burn one out already -- no chance to recover data and the PI was practically

[2016-05-01 09:42] k-plan commented on #261
DietPi_v115_Odroid-C2-(Jessie_arm64).img = 644,9 MB

Burned-to-SD-Card:  boot = 42,3 MB  +  rootfs = 454,8 MB

[2016-05-01 10:08] rhkean commented on #261
I've got a bootable rootfs at 465MB on the Pine.

I did a
dpkg --get-selections | grep -v deinstall

on the RPi and the Pine 64 after running the debian install, then deleted the extra packages

Just gotta put dietpi on the image now, but need sleep.

[2016-05-01 10:58] Fourdee commented on #307
@xenfomation

These changes are already in the testing branch. They will become live when v117 is released :)
commit https://github.com/Fourdee/DietPi/commit/9e2b3c85ada60ba4df1e9fe93b9dd42435f6c45f

[2016-05-01 11:14] Fourdee commented on #261
@rhkean

Steps to convert a standard Debian Jessie image into DietPi. Make sure the following files exist. Grab these from the testing branch:
- /boot/config.txt
- /boot/dietpi.txt
- /boot/dietpi/ All files

Also, backup your current image (eg dd > file), before you start this process, just incase. These are notes I work from, just go through each line/command and let me know if you have any issue

[2016-05-01 12:26] Fourdee commented on #273
@k-plan

Looks promising :+1: , i'll run some tests today and report back.

[2016-05-01 14:01] Fourdee commented on #273
@k-plan
`ifplugd` has same issues (no effect):

[code]

Ethernet
allow-hotplug eth0
iface eth1 inet static
metric 0

Wifi
allow-hotplug wlan0
iface wlan0 inet dhcp
metric 1

unplug eth = Kills both connections
Plug eth back in = WiFi and Eth working fine.

#

I'll try netplug

[2016-05-01 14:06] k-plan commented on #273
@Fourdee

Hmm ... have you done `dpkg-reconfigure ifplugd` after installation?

[2016-05-01 14:54] Fourdee commented on #273
@k-plan

Yes:
auto
all
None for suspend mode

[2016-05-01 15:00] Fourdee commented on #273
@k-plan

Netplug working :+1:

[code]

Also tested with WiFiHotspot installation.

Netplug looks like the winner :+1:

EDIT:
I'll roll it out to v117 for testing. Aiming to get this released today, v117 is well overdue.

[2016-05-01 15:08] Fourdee commented on #273
@k-plan

Netplug is now in the testing branch: https://github.com/Fourdee/DietPi/commit/2e19a57050d594adaaa37b03348e2d62cbe229d0

[2016-05-01 15:15] rhkean commented on #261
![screenshot 2016-05-01 at 11 13 52 am](https://cloud.githubusercontent.com/assets/15089796/14942548/f9717842-0f8d-11e6-8c91-49c94856fc6e.png)

[2016-05-01 15:18] Fourdee commented on #261
@rhkean
Whoooooohoo, excellent work, nice one! :+1:

[2016-05-01 15:48] k-plan commented on #273
@Fourdee

no, it will work

auto
( no entry for hotplugged   interface)
 arguments: -q -f -u0 -d2 -w -I -b
suspend behaviour: Stop

---

a quick test (starting from a fresh install v117 testing):
- ping ip address eth1 (from router or PC)
- ping ip address wlan0 (from router or PC)
- ping -s 1400 dietpi.com (from C1+)

Ethernet
allow-hotplug eth0
iface eth1 inet static
metric 0

Wifi
allow-hotplug

[2016-05-01 15:58] k-plan commented on #261
:flushed: No:

───────────────────────────────────────
 DietPi     | 16:13 | Sun 01/05/16
 ───────────────────────────────────────
 V117       |   PINE64
 ───────────────────────────────────────
 IP Address |
 ───────────────────────────────────────
_Created by:  rhkean (Rob) and Daniel Knight_

👬

:wink:

[2016-05-01 16:08] Fourdee commented on #307
I'll mark this as closed. v117 will be released today.

[2016-05-01 16:08] #307 closed, assigned to xenfomation

[2016-05-01 16:10] Fourdee commented on #261
@k-plan

If Rob continues to contribute, it won't be long before I add his name in the banner :)

[2016-05-01 16:13] Fourdee commented on #261
@rhkean

You will also need to install and configure netplug on the image, as per: https://github.com/Fourdee/DietPi/issues/273#issuecomment-216048131

Run these commands:

[code]

[2016-05-01 16:19] Fourdee commented on #273
@k-plan

I can't see any negative effects of this across DietPi at the moment. I will keep an eye on it.

Interesting results for ifplugd, although I think we will stick with netplug for now, seems to work a treat.

With allow-hotplug ifmetric and netplug, all the issues listed in this ticket have now been resolved. Great work on this K-plan :+1:

After installing DietPi, do a `dietpi-backup 1`. T

[2016-05-01 16:19] #273 closed, assigned to nobody

[2016-05-01 16:45] Fourdee commented on #290
@xenfomation

Yep. I'am unable to replicate this error.

@inspector71
I will mark as closed.
Please reopen if you are still experiencing issues with the letsencrypt installation, so we can assist you.

[2016-05-01 16:45] #290 closed, assigned to nobody

[2016-05-01 16:48] Fourdee opened #309 "DietPi for Xenserver"
@xenfomation ^^ so i dont forget :)

[2016-05-01 16:52] Fourdee opened #310 "DietPi-Software | Add installation option for Emby Server"

[2016-05-01 18:00] rhkean commented on #261
but,
- it's not running dietpi-software on 1st login (not sure what I overlooked)
- there are known issues with the NIC.  It has to be initialized at 100Mbps instead of Gbps or it hangs.  I plugged it into a 100mbps hub, but there's a config tweak that I need to look into
- it's also taking too long to initialize and the obtain_network_details script is running before the nic has an ip address.  I

[2016-05-01 18:09] k-plan opened #311 "DietPi-Software | Several setup improvement for existing installation options"
_1. WiFi HotSpot_ ( [see issue 273 ](https://github.com/Fourdee/DietPi/issues/273#issuecomment-215996025) )
- DNS-Server selection (like new menu under interfaces) in dietpi-config
- possibility to change DHCP area and Gateway address in dietpi-config
- possibility to change 802.11g to 802.11n via dietpi-config, if hardware support it.

_2. TOR HotSpot_
- DNS-Server selection (like new menu under

[2016-05-01 18:21] Fourdee commented on #311
@k-plan
All great suggestions and improvements :+1: . I will take a look into them when I start v118.

[2016-05-02 00:33] rhkean commented on #261
HA!!!!
it's not autorunning because of the

I probably shouldn't have stayed up until 6:00am this morning.... 😆

[2016-05-02 01:18] rhkean commented on #261
so, I'm pretty sure that the reason the banner doesn't show up on the hdmi output is related to the way the TTY's are laid out with @longsleep 's kernel.

Unfortunately, that seems to have gotten really bad after I ran /DietPi/dietpi/finalise on my image.  When I booted the finalized image, I didn't see anything on the output but the dmesg's.

I'll hook the Pi + minicom back up and see if there's

[2016-05-02 01:55] xenfomation commented on #309
Thanks for letting me do this, @Fourdee -- I am wrapping up the documentation as OpenSource XenServer is my primary virtualization environment.  The screenshot is from XenCenter, but I am working with the code base through SSH (of course)!
![xenserver-1](https://cloud.githubusercontent.com/assets/10519408/14945864/59d89c70-0fe7-11e6-9134-9f3d560dd253.PNG)

[2016-05-02 02:08] xenfomation commented on #309
The native format for XenServer VM exports are XVA files.  Sparse disks, meaning efficient use of compacting the VM, and I have tested it within XenServer 6.2 and 6.5 -- works great.

[2016-05-02 02:29] inspector71 commented on #290
@Fourdee

Thanks. My initial attempt to install LE was very exploratory. I won't be
getting back to it at any particular specific time. It's exciting to know
that Dietpi has potentially made it extremely easy to setup though :) May
be worth someone's time to porting the scripts to other Debbie-based
platforms in future.

On Mon, May 2, 2016 at 2:45 AM, Dan notifications@github.com wrote:

[2016-05-02 02:30] rhkean commented on #261
Now, I have to figure out how to redirect the output to /dev/console
![screenshot 2016-05-01 at 10 27 52 pm](https://cloud.githubusercontent.com/assets/15089796/14946157/fe8f5fde-0feb-11e6-8bd3-249d2e886bcc.png)

[2016-05-02 02:37] xenfomation commented on #309
Attached is an additional text - based on the mock-up I sent you previously - to explain where the XenServer resources are at.  That's all as to be blunt, the public documentation is sufficient enough and outside of scope to cover installing XenServer.  The additional information explains how to import the XVA file with XenCenter.
[xenserverInstructions.txt](https://github.com/Fourdee/DietPi/files

[2016-05-02 02:47] xenfomation commented on #310
Just for some info on some pain previous contributors of emby documented for public success!

[https://discourse.osmc.tv/t/howto-install-emby-server-broken/6364/23](https://discourse.osmc.tv/t/howto-install-emby-server-broken/6364/23)

[https://software.opensuse.org/download.html?project=home%3Aemby&package=emby-server](https://software.opensuse.org/download.html?project=home%3Aemby&package=emby-s

[2016-05-02 03:17] xenfomation commented on #257
I see now why this is low per [https://github.com/emoncms/emoncms/blob/master/docs/RaspberryPi/readme.md](https://github.com/emoncms/emoncms/blob/master/docs/RaspberryPi/readme.md)

The wear and tear on the SD card is well documented.  IMHO, this would require a check for the use of a USB drive as well as ensuring an interactive warning menu/config screen would follow as to assist the user with US

[2016-05-02 03:56] xenfomation commented on #246
@Fourdee -- in initial testing, NFS4 is rather straight forward.  It is easy enough to create a default NFS4 Server/Client install with templates for /etc/exports, etc.

The questions I have -- to fully implement this for user needs -- would be if a sub-menu is warranted to ask:

Export path
NFS version
IP Exclusions
Etc

In the next 24 hours I can get a basic NFS4 server installer implemented to

[2016-05-02 09:06] spiderkeys commented on #223
@Fourdee
I've been working through this, and have been having some issues, which I believe to be mostly related to the ambiguity of where the DietPi files need to be.

In bold above your notes you write: "assumes you have all the DietPi files and folders (excluding github) in /boot/*"

However, at various parts in your script you write things like:

[code]

[code]

Which seem to indicate that the

[2016-05-02 11:07] Fourdee commented on #223
@spiderkeys
The files are physically located in `/boot/`. During boot, the files are copied to ramdisk `/DietPi/`, during shutdown, the files are copied back to `/boot/`. `dietpi-service` completes this task.

During the DietPi image setup, `dietpi-service` is started: https://github.com/OpenROV-Dev/pi-gen/blob/dev/stage3/00-dietpi-setup/00-run.sh#L76. This allows us to continue the setup using th

[2016-05-02 13:58] Fourdee commented on #310
hmmmmmm

[code]

Did this on a C2.
Looks like `mono-*` arm64 packages is not available for Jessie: https://packages.debian.org/jessie/mono-runtime

[2016-05-02 14:12] rhkean commented on #310
doesn't look like it's a supported platform yet...

There's not even a fork in the nightly tree... :frowning:

http://download.mono-project.com/repo/debian/dists/wheezy/main/

not surprising, really.... Microsoft barely acknowledges 64-bit for the .Net framework.

[2016-05-02 14:13] Fourdee commented on #310
RPi 3:

[code]

Going to be "one of those days" lol

[2016-05-02 14:19] Fourdee commented on #310
Ok , looks like an issue with the emby repo:

[code]

[code]

[2016-05-02 14:24] rhkean commented on #310
Here's the best 32-bit install, though....
I use this on RPi and Odroid for my Sonarr install...
this will install the latest Mono 4.2 from Xamarin's repo...

[code]

[2016-05-02 14:27] Fourdee commented on #310
@rhkean
Legend :+1:

Shes a big one lol:

[code]

[2016-05-02 14:53] rhkean commented on #310
yeah...  the mono project decided to bundle most assemblies as individual packages...
the packages seem to be 1 or 2 dll's, a changelog, and a copyright file

the mono-runtime package is mainly just a wrapper for all the base .dll's

[2016-05-02 14:58] Fourdee commented on #310
@rhkean Interesting. Never used the Mono library before.

Installed on RPi3 fine, but, wont play media. I need to do some digging.
![image](https://cloud.githubusercontent.com/assets/7077026/14957747/da1280b2-107e-11e6-9355-d693416b5908.png)

[2016-05-02 15:01] rhkean commented on #310
My day job is a .Net web application developer

So, I play with mono here and there to ease cross platform development

[2016-05-02 15:08] Fourdee commented on #310
@rhkean Awesome. Any programs you've done that you are allowed to show? Be interesting to see what you do :)

[code]

Installed ffmpeg, running fine :)

[2016-05-02 15:10] Fourdee commented on #310
Transcoding performance is dreadful, even on RPi3:
![image](https://cloud.githubusercontent.com/assets/7077026/14958012/60c5ff16-1080-11e6-90ef-b52f40565e73.png)

[2016-05-02 15:17] rhkean commented on #310
not surprising....

mono on an SBC.... LOL

Sonarr chews up cpu and memory... and it's basically just a self-hosting web application

[2016-05-02 15:21] Fourdee commented on #310
@rhkean
Aye, looks like users should only expect audio playback through emby on SBC's. Video transcoding cant keep up, feels like 10fps transcoding speed for 24fps media.

Transcoding options are useless (intel quick sync, mmm, I even tried it whilst sending a wish to my RPi lol):
![image](https://cloud.githubusercontent.com/assets/7077026/14958236/a8e6da1c-1081-11e6-917b-aa6ac8f35770.png)

[2016-05-02 18:39] keiser1080 opened #312 "OPi | Security exploit"
Hi,

there is a security issue on loboris image.

more info there http://forum.armbian.com/index.php/topic/1108-security-alert-for-allwinner-sun8i-h3a83th8/

[2016-05-02 19:43] spiderkeys commented on #223
Alright, thanks. I'll make the appropriate changes, give it a try, and provide updates soon.

[2016-05-02 20:01] Fourdee commented on #312
@keiser1080 :+1:

Thanks for letting us know.
I'll look for a resolution. Whether we compile our own kernel, or replace with a modified ARMbian 2 partition image, not sure yet.

[2016-05-02 20:08] keiser1080 commented on #312
Check wich the Guy from armbian, the only image patched.
There are no news from loboris for a longtime.
Maybe the switch to armbian is a gold idea.

[2016-05-02 21:27] k-plan opened #313 "DietPi-Config | Add ability to set regulatory domain (WiFi)"
@Fourdee

we need a option, like in the new  [raspi-config](https://github.com/RPi-Distro/raspi-config/blob/master/debian/changelog) version, to get e.g. RPi 3 Wifi Channel 12+13 working with Kernel 4.4x ("unstable").

![raspberry_change_wifi_country](https://cloud.githubusercontent.com/assets/17237601/14967837/d8582b4c-10b9-11e6-925e-032dcdcf3c56.jpg)

Please see: [ "Test and set the correct regu

[2016-05-02 22:28] spiderkeys commented on #223
Another question I suppose I'll field in advance:

After I finish getting the initial setup complete, can you guide me in the right direction of what scripts I'll need to call to automatically execute the functionality contained in the DietPi automation process (http://dietpi.com/phpbb/viewtopic.php?f=8&t=273)? I assume that it gets kicked off at boot based on a flag set somewhere, but didn't imme

[2016-05-02 23:16] spiderkeys commented on #223
Made the changes so that all of the files are copied to boot. New script reflected here:

https://github.com/OpenROV-Dev/pi-gen/blob/feat_dietpi/stage3/00-dietpi-setup/00-run.sh#L81-L95

For the above lines, I'm running into the following issues:

[code]

The logclearing errors seem pretty benign, presumably caused by it being called before dietpi-service sets up /DietPi/. However, the dietpi-serv

[2016-05-03 03:48] rhkean commented on #261
SUCCESS!!!!!!!!!!!!
![boot-2-hdmi-tty1](https://cloud.githubusercontent.com/assets/15089796/14974205/ec1a1d92-10bf-11e6-8e30-42f36149cb2c.jpg)
now, to patch DietPi

[2016-05-03 11:45] Fourdee commented on #313
@k-plan
Excellent idea, will look into it :+1:

[2016-05-03 19:29] k-plan commented on #313
@Fourdee

Verry nice! 😄  👍

Some testing result from RPi 3:

[code]

[2016-05-04 01:15] pepadew commented on #312
@Fourdee
i like the idea of e new kernel . possibly newer then 3.4?
im just poking my head arround and just got a pi so im new to compiling a safe kernel that wil work.

[2016-05-04 11:58] Fourdee commented on #312
I've built the image using ARMbian build tools (hats off to those guys, simply excellent), which now supports an option to create an additional FAT partition at the start. I think the last time I tried this, that option wasn't available.

@pepadew
For DietPi, we will stick with 3.4 for stability. I also tested the kernel against the exploit:

[code]

I just need to wrap up the image, get DietPi se

[2016-05-04 13:58] pepadew commented on #312
@Fourdee what do i have to learn in order to build my own kali linux based on the sunxi 3.4?
im a novice that is pushed towards this for now, also it will be a good learning curve for me i suppose.
the 3.4 from loboris was not safe to use
but the 3.4 lagacy from sunxi is safe to use?
what do i need to do in order to debug this exploit?

[2016-05-04 16:58] Fourdee commented on #312
@pepadew

No idea. I'd suggest you do some research on the ARMbian building tool to build a base image (with a distro of your choosing) and work from there: https://github.com/igorpecovnik/lib.

With ARMbian building tools, it appears they patched this exploit: https://github.com/Fourdee/DietPi/issues/312#issuecomment-216839207
ARMbian commit: https://github.com/igorpecovnik/lib/commit/7a5aeda32d2

[2016-05-04 17:12] Fourdee commented on #312
Having some issues with the DietPi image. Consecutive soft reboots work fine, but a hard power cycle seems to prevent it from booting.

I'am also unable to debug this as my OPi PC HDMI output is completely dead.

#### Can anyone run the test image and report back with any onscreen information?

I'd be grateful : http://dietpi.com/downloads/testing/DietPi_v117_OrangePi-PC-(Jessie).7z

[2016-05-04 18:00] pepadew commented on #312
i just burnt it to micro sd, but im not getting any output on hdmi (opi pc).
tried fiddling with config, but no succes

[2016-05-04 18:20] Fourdee commented on #312
@pepadew Thanks :+1:

I'll make another.

[2016-05-04 18:24] alerinoreis commented on #312
reburning img to microsd is mandatory to fix the exploit?
thanks,

[2016-05-04 18:27] keiser1080 commented on #312
I will try to check tomorow
Le 4 mai 2016 7:12 PM, "Dan" notifications@github.com a écrit :

[2016-05-04 18:33] Fourdee commented on #312
Think it might be a filesystem corruption. After writing the ARMbian image I compiled, all I do is:
- Copy dietpi to `/boot/dietpi`
- Poweron
- After going through the initial ARMbian setup and creating an account (dietpi):

[code]

After a hard power cycle wont boot. But soft reboots are fine.

[2016-05-04 19:41] rhkean opened #314 "missing closing quote in boot_xu4.ini"
[code]

macaddr should have a closing quote

[2016-05-04 20:24] Fourdee commented on #314
@rhkean
Good spot on this :+1:

Although, not sure if its a bug as it doesn't seem to have any negative effect. Either that, or we somehow got lucky and away with it lol

I'll leave the "Labels" on this one down to you :)

[2016-05-04 20:56] rhkean commented on #314
the labels for the changelog?
or for "are we calling it a bug?"

[2016-05-04 20:58] rhkean commented on #314
How's that?  :laughing:

[2016-05-05 11:10] Fourdee commented on #314
@rhkean
lol, epic :+1:

[2016-05-05 13:56] Fourdee commented on #313
Country codes: https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2

Current country code

[code]

Menu select common codes
-GB
-RU
-US
+manual entry option
etc

Location:
Network Options: Adapters > Wifi ? (menu too big already?, convert to scrollable menu?)
Network Options: Adapters > WiFi Country?

Merge `Menu_WifiHotspot` into `Menu_NetworkAdapters_Wifi()` , create whiptail array to only show requ

[2016-05-05 16:08] k-plan commented on #313
@Fourdee

Difficult question. Both have pros and cons.
If scrollable, someone can miss it.
If it will be a new list point, it will blow up the list. May be a issue, if you must have to put in new options later.

Hmm ... it's  the same here.

---

Hmm ..
- for 2.4 GHz (802.11b/g/n) it will be better:

Menu select common codes
-GB
-US
-JP
+manual entry option
etc.
- for 5 GHz (802.11a/h/j/n/ac) it w

[2016-05-06 00:27] xenfomation commented on #310
Despite the hard work and my own with the while warnings of h264, etc... is emby looking a little "non DietPi-ish?" and more "for those brave userland individuals" ?

[2016-05-06 11:22] Fourdee commented on #310
@xenfomation
I've added the basic install code in. But for SBC you should expect audio streaming only. The VM's (depending on host spec) and possibly XU4 should run video transcoding fine.

I'll see if we can also automate the initial Emby web setup for users, once I've finished off with the OrangePi PC image, although, I have this near uncontrollable urge to throw the OPi PC in the bin lol :).

D

[2016-05-06 11:43] Fourdee opened #316 "Phpmyadmin not working with Lighttpd Stack"

[2016-05-06 11:55] Fourdee commented on #312
[code]

No symlinks on FAT: https://github.com/igorpecovnik/lib/blob/master/scripts/firstrun#L140

Partitioning fails, does not detect 2 partitions correctly? breaks filesystem?: https://github.com/igorpecovnik/lib/blob/master/scripts/firstrun#L177

[code]

Partition resize successful after 2nd boot, but `firstrun.service` still reports same error as above.
Hard power cycle at this point = won't b

[2016-05-06 12:23] rhkean commented on #261
@Fourdee
this is exhausting.... how did you do this for so many other boards

[2016-05-06 13:10] Fourdee commented on #312
![image](https://cloud.githubusercontent.com/assets/7077026/15073974/4c2ba620-1394-11e6-8b6a-1d660fa4825e.png)

[2016-05-06 13:59] Fourdee commented on #312
@keiser1080 @pepadew @alerinoreis

New image has been created, built with ARMbian. I'd appricate it any of you could test the image on your systems: http://dietpi.com/downloads/testing/DietPi_OrangePi-PC-(Jessie).7z

[2016-05-06 14:21] Fourdee commented on #316
`WEBSERVER_MYADMINPHP` will now trigger webserver + mysql installation

[2016-05-06 14:24] Fourdee commented on #316
Installed:
- LLMP
- PHPMYADMIN

Unable to replicate issue:
![image](https://cloud.githubusercontent.com/assets/7077026/15075875/a3bd06b8-139e-11e6-87e3-4dd6944d1108.png)

Unable to replicate. Used password `dietpi`.

Go through bug report and check for other causes.

[2016-05-06 14:47] Fourdee commented on #312
To confirm the exploit is not available in the new image:
- DietPi_v115_OrangePi-PC-(Jessie) (Loboris) | Exploit active

[code]
- DietPi_v117_OrangePi-PC-(Jessie) (ARMbian) | Exploit disabled

[code]

[2016-05-06 14:58] Fourdee commented on #312
Created post on OPi forum: http://www.orangepi.org/orangepibbsen/forum.php?mod=redirect&goto=findpost&ptid=662&pid=12541&fromuid=185718

[2016-05-06 15:11] Fourdee commented on #316
Select PHPMYADMIN , install, reboot, select LLMP = fine

Select LLMP + PHPMYADMIN =

[code]

[code]

[code]

[2016-05-06 17:41] Fourdee commented on #261
@rhkean
Persistence lol

[2016-05-06 19:35] Fourdee commented on #314
Will mark this as closed Rob.

[2016-05-06 19:35] #314 closed, assigned to nobody

[2016-05-06 19:44] Fourdee commented on #261
Sorry Rob, probably wasnt much help.

So the main things when adding another device to DietPi:
- `dietpi-obtain_hw_model` = Add the device. As Pine is a new manufacture, `HW_MODEL=40` would be a good number.
- `dietpi-config` This should work off the bat, but check (find) all references to `HW_MODEL`. You'll need to implement stuff like display resolution if supported by the device.
- `dietpi-soft

[2016-05-06 19:56] rhkean commented on #261
@Fourdee
no worries there.... that was funny.

really, that was just my way of saying, "I'm still here.  I didn't abandon the task."

The biggest challenge is that there isn't an official (or supported, for that matter) build to fall back on... Everything is in flux.

This will definitely go up as alpha when I'm done with it... Which I'm hoping to complete this weekend.

[2016-05-06 20:00] rhkean commented on #284
Anyone else not seeing the IP Address populated with V117?

It's not getting populated on dietpi-banner call from rc.local and my RPi A+

I'm wondering if we optimized it too much... :laughing:

[2016-05-07 11:06] Fourdee commented on #284
@rhkean
Yep, it occurred a few times for me. Seems to be when set to DHCP, and when https://github.com/Fourdee/DietPi/blob/testing/dietpi/func/obtain_network_details#L83 results have no IP entry.

I thought about creating a while loop if the IP address is empty, but this would need to be launched as another thread (process) to prevent delaying the system during boot.

For now, I added `obtain_netw

[2016-05-07 12:28] Fourdee commented on #284
@rhkean
Did some debugging, added the following to the `obtain_network_details` script:

[code]

Results after reboot:

[code]

So it looks like `ip r` and `ifconfig` dont have the IP address for ipv4 at the time its called. Tested with DHCP.

[2016-05-07 13:19] xenfomation commented on #284
How did I miss this?!?!  I can translate as I read/speak Spanish, French, German, and Dutch... and more.   AUGH!  I will look at  https://github.com/Fourdee/DietPi/issues/291 NOW so I can at least get something checked in!!

[2016-05-07 13:27] xenfomation commented on #294
"One is happy to be of service" ;)

[2016-05-07 13:43] Fourdee commented on #312
DietPi_v117_OrangePi-PC-(Jessie) (ARMbian) is now the active download. http://dietpi.com/downloads/images/

Marking this as closed.

[2016-05-07 13:43] #312 closed, assigned to Fourdee

[2016-05-07 15:58] xenfomation commented on #316
Silly question -- is this a DHCP-based install then proceeding to install LLMP + PHPMYADMIN?

[2016-05-07 16:12] xenfomation commented on #316
![futurewarningformysql](https://cloud.githubusercontent.com/assets/10519408/15093179/989ea214-144d-11e6-962e-30f8e7fb12ff.png)
Hrm -- from the command line I found that there is a sort of "cart before horse" issue with MySQL deps and dbconf.  Will send logs and will start from build 117 again as this is quite important.

[2016-05-07 16:15] Fourdee commented on #313
@k-plan
Thanks for the extra info :+1:

Started on this today. I havn't done any real "programming" for a while, so little rusty lol. Will let you know when its available for testing.

![image](https://cloud.githubusercontent.com/assets/7077026/15093169/2eb7f31c-1477-11e6-8b6a-13415f01d752.png)

[2016-05-07 16:18] xenfomation commented on #316
Yeah, I know -- a whole lot of gibberish on my part, but I wanted to emphasize the soon-to-be-deprecated key_buffer_size to be removed from future releases for mysqld 5.5.xx and beyond

[2016-05-07 16:30] k-plan commented on #313
@Fourdee

your screenshot is looking very handsome.
2.4 GHz (802.11b/g/n) is a good choice to start.
(_RPi 3 build-in WLAN module_)

[2016-05-07 16:31] xenfomation opened #319 "RPI v117 - Bug Report Date for The Imperialists"
Low priority question for @Fourdee and team.

Despite my own logical preference for items, such as the dietpi-bugtool, to report in DD-MMM-YYYY (smallest to largest), is it work considering that:
- Based on localization/timezone
- Or, per logic in such scripts

... We support the Imperialistic Way of recording time?  IE, today is MAY-07-2016, but I prefer DD-MMM-YYYY?  This is just a question to e

[2016-05-07 16:57] rhkean commented on #319
from a programmatic perspective, neither is preferred
for sorting, largest-to-smallest is best
yyyy-mm-dd will numerically sort (with or without the dashes) across all dates

I, personally, also find that it reduces ambiguity.
if I see a date that starts with the year, I know that it's yyyy-mm-dd.
However, if it ends with the year and the day is less than 13, then I don't know if I'm looking at
mm

[2016-05-07 17:31] xenfomation commented on #319
And thanks, @rhkean  -- that is what I am looking for.

I forgot to specify as my DietFu grows stronger, have the bug tool is awesome -- and the DATE gives me an indication of the client's locale, time preferences, etc so I can dig into the logs.

BUT I APPRECIATE THE FEEDBACK, SERIOUSLY!  :-)  I know I don't get the bugreports, but if I do -- there are a handful of timezone formats to support fro

[2016-05-07 17:32] xenfomation commented on #311
Feel free to divy out as thanks to you & @rhkean, I am getting quite cozy with my favorite distro - ARM, X64, and Virtual.  Whiptail and menus are epic.  Then again, I am possibly having too much fun!

[2016-05-07 17:35] xenfomation commented on #309
@Fourdee  -- Of course it sounds like you are all over this, but if I have left anything unclear -- let me know and I shall grant thee access to my private XenServer if you want to see how sweet your sandbox/X64 environment runs (as it does else where)!

Yeah - seriously, no sucking up on my part.  Best part about this project?  I use it.  :-)

[2016-05-07 18:08] Fourdee commented on #316
Yep, I used DHCP during my testing.

Sounds good :+1:

[2016-05-07 18:19] Fourdee commented on #319
For me, DD-MM-YYYY is the UK standard that I'am used to. I believe the US use MM-DD-YYYY? So I suppose it really comes down to "what you got brought up with" :)

So the current date is pulled with `DATE_CURRENT=$(date +"%d-%m-%Y")`

After reading Rob's comment, I have agree with him. YYYY-MM-DD seems a better solution and more logical. As far as I can remember, all code in DietPi that uses dates,

[2016-05-07 18:21] Fourdee commented on #311
@xenfomation
Lol, legend :+1:. We love whiptail at DietPi hehe ;)

[2016-05-07 18:26] Fourdee commented on #309
@xenfomation

Actually, not at the moment :). I didn't realise you can not run XenServer virtualization on a Windows system lol. I also dont have a x32/x64 system available to dedicate a installation.

This would be ideal and I'd be greatful if we could make this happen.
All i want to do is some basic tests with the image before its released. The VirtualBox image you did was spot on, so I cant see

[2016-05-07 18:33] rhkean commented on #319
doh!

I didn't mean to open that can of worms....

😸

[2016-05-07 18:34] Fourdee commented on #261
@rhkean

No worries and no rush.
The Pine is a completely new board manufacture which comes with the downside of starting from scratch and lots of debugging (by the looks of it). You are doing a cracking job, so If you need to release it as Alpha, not an issue, we can always live patch the system in future updates as needed.

[2016-05-07 18:44] k-plan commented on #319
Correct for files like Bug-Report, Backups, Configs with date in the beginning of the file name, which will be store in folders.
So you have a auto sorting and more overview and organisation.

Hmm ... no, let well enough alone. It's okay.

:no_mouth:

[2016-05-07 19:08] xenfomation commented on #319
Then this meeting is adjourned and thanks for hearing me out!  I will let @Fourdee decide how this should be closed (or wiped off the map)!  Cheers!

And yes... the US utilizes the annoying "Month Day, Year" format.  Ugh.  That's why I had to share the Wikipedia Map of ISO date adoption across the globe. :-)

[2016-05-07 19:09] xenfomation commented on #316
I shot a bug report and am now slicking a PI as well as my sandbox (well, reverting to a snapshot).  This is a sane bug.... at least for now!  DHCP for me, also.  There was strange bug a ways back with the lighttpd project if I am not mistaken, but until I find it to be so... off to re-test.

[2016-05-07 19:54] xenfomation commented on #316
Alright --

v117 -- unable to send bugtool after 2 identical tests
1 - Select LLMP & PhpMyAdmin
2 - Select OpenSSH
3 - Begin Install
4 - Receive Error 100 on apt-get for phpmyadmin
5 - Machine sits at last screen shot

Bug can be repro'd at will, however there are three factors I am looking at:

1 - Selecting PhpMyAdmin only (as you did, @Fourdee)
2 - From the main software menu, selecting Lighttp

[2016-05-07 19:56] xenfomation commented on #316
Oh - I used both static and dynamic IPs for my test, as well.  Not helpful yet, but phpmyadmin is angry about something.

[2016-05-07 20:27] xenfomation commented on #316
So last note as I need to grab a pint and some food w/ family.  Manually, I can install this.  Using the current v117 utils, 1) phpmyadmin database does not get created and 2) it may be an order of operations issue... investigating...

[2016-05-07 21:28] xenfomation commented on #319
In the end -- if it is ever decided upon after bugs and high feature requests, a lil' recursive grep should help me help us adopt yyyy-mm-dd

[2016-05-07 21:35] xenfomation commented on #271
This is still in progress, however [http://dietpi.com/phpbb/viewtopic.php?f=11&t=40](http://dietpi.com/phpbb/viewtopic.php?f=11&t=40)1 / [https://github.com/Fourdee/DietPi/issues/271](https://github.com/Fourdee/DietPi/issues/271) has grabbed my time and attention.

The high-level is to ensure that upon USB installation options, the process is seamless for the user, but tracks unique USB identifier

[2016-05-07 22:09] xenfomation commented on #316
v117 Sandbox.  Progress.
Setup hostname, disable IPv6
Install LLMP, reboot.
Install phpmyadmin, it fails (screenshots to be attached and order of steps I took with precision)
Manually ran mysql_secure_install and was able to re-install phpmyadmin with success.

v117 Raspberry PI 2.  Progress
Setup hostname, disable IPv6
Install OpenSSH, LLMP, reboot
Install PhpMyAdmin, it fails
Manually ran mysql_

[2016-05-07 23:05] xenfomation commented on #309
Completely understood!  Tomorrow first, EST, I you shall have full access!

[2016-05-08 03:08] xenfomation commented on #316
Due to webserver + stack if conditions in v177, trying to re-create the install (ALL CLI) to ensure I can overcome this effort.

[2016-05-08 03:59] xenfomation commented on #316
I've come to the conclusion if LLMP is selected + PhpMyAdmin, we need to generate a routine to knock this out in a block (not nested) if condition.  This is purely by following install with success from the command line versus our software installer.  Albeit, I may be missing something with regards to dbconf and order of operations...

[2016-05-08 07:26] xenfomation commented on #316
11:00 AM EST & Mother's Day
Updated @Fourdee via email as I will be offline for 4-5 hours today
In comparing the installer for LLMP, WEBSERVER_XXXXXX, etc - the installer is close to these same commands I run (manually).
I want to document them for us all and for when I return from celebrating my Wife!
- Fresh install of DietPi, hostname specified, and rebooted after update v117 applied
- Static o

[2016-05-08 12:40] Fourdee commented on #313
CRDA was not applying our saved setting during reboots, reverts to 00:

[code]

Fixed :)

[2016-05-08 12:52] Fourdee commented on #313
@k-plan
Uploaded to testing branch.

For now, I've just added the ability to change WiFi country code when running in non-AP mode. Also been playing around with the menu code (select "change mode") to resolve the height issue.
Country Code is available in `Network Options: Adapters > Wifi`

Commit: https://github.com/Fourdee/DietPi/commit/49aa00bb3b272e10ec723a36cff9632dd52da332

I'll work on the

[2016-05-08 15:00] Fourdee commented on #313
As far as I can tell, country code `iw reg set` has no effect on Hostapd.
- `iw reg set US`
- Set hostapd channel to 13
- Restart hostapd and networking services. Even did a reboot. `iw reg get` = US
- Hotspot still available on channel 13.

[2016-05-08 15:30] xenfomation opened #320 "Longterm DB Considerations - MySQL vs MariaDB"
Low priority foreward thinking.

MariaDB 5.5 is a "replacement/equivalent" to MySQL 5.5.  Beyond MySQL 6.x and despite my own resources, has there been consideration to <gulp> drop MySQL anytime this year/next?

I want to be clear this is not to limit options for DietAdmin's, but to toss an idea out based on the seemingly aggresive ramp for MariaDB (it's all the same, but MySQL is just so "persona

[2016-05-08 15:52] Fourdee commented on #313
#### Hostapd:

I can not get 2.4ghz N (150mbit) to work on hostapd with `driver=rtl871xdrv` and :

[code]

Tried using:

[code]

Any of these option prevents hostapd service from starting, no error codes/info from `systemctl status hostapd -l`

Tried with RPi 3

[code]

Seems to work with N (72mbit max on this device):
![image](https://cloud.githubusercontent.com/assets/7077026/15098794/4d73e560-1

[2016-05-08 17:32] Fourdee commented on #311
Linking for reference: https://github.com/Fourdee/DietPi/issues/313#issuecomment-217729027

[2016-05-08 17:40] k-plan commented on #313
@Fourdee

wow, you are to quick for me. 😄
Sorry, have to catch up.

Starting now with `gitbranch=testing`

[2016-05-08 17:52] Fourdee commented on #313
@k-plan
I broke the RPi 3 hotspot. Turns out the internal BCM does not like any driver unless its disabled `#driver=none`.  I've sent a new commit: https://github.com/Fourdee/DietPi/commit/746fa36b3fa3e2027527c625f12560560833936d you just need to grab `dietpi-software` if you are going to test RPi 3 with hotspot.

[2016-05-08 17:55] k-plan commented on #313
@Fourdee

Hmm .. doesn't work here:
- set Country-Code manual per `dietpi-config` and `Apply       Save Changes (Restart Networking)`

![160508-0002](https://cloud.githubusercontent.com/assets/17237601/15099488/9d0a952e-1556-11e6-94b1-4972594b67f0.gif)

[code]

![160508-0001](https://cloud.githubusercontent.com/assets/17237601/15099467/151f3c3c-1556-11e6-86b9-c78c084aa768.gif)

[2016-05-08 17:57] Fourdee commented on #313
@k-plan

[code]

Strange, run it twice:

[code]

[2016-05-08 18:06] Fourdee commented on #313
Odroid C2 `dmesg`. It is being applied for me:

[code]

[2016-05-08 18:10] k-plan commented on #313
[code]

But I have to say, my C1+ is running DietPi from USB device at the moment and have installed "SoftEther"

I will make a fresh install on a new sd-card ...

[2016-05-08 18:52] k-plan commented on #313
@Fourdee

starting with a fresh sd-card installation:

[code]
- now set Country per `dietpi-config` to `GB` and save

[code]

[code]

Will test as well 'DE' but I think it's the same.

[2016-05-08 19:53] k-plan commented on #313
@Fourdee

is it possible we missed something (packet, config, db ..) ?

https://wireless.wiki.kernel.org/en/developers/regulatory/crda

https://wireless.wiki.kernel.org/en/developers/Regulatory

[2016-05-08 20:20] xenfomation commented on #313
My brain has been squished from LLMP, BUT I wanted to ask both of you --

Based on the dietpi-software and configure options:
- Are we caching @k-plan's setting or is cleaned up from /tmp/.... ?
- If we aren't caching this, would a work using /etc/rc.local + boot scripts for services to SET this be too... hackish?
- As for N networking, I've seen similar issues as you found @Fourdee -- good catch

[2016-05-08 20:31] k-plan commented on #313
Testing some tips I have read:

[code]

But without success ...

---

[code]

[2016-05-08 20:38] xenfomation commented on #313
KUDOS for getting on the right track!!!

[https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)

While @k-plan is at the core of it, I was looking into using "iw reg set DE" before the physical interface tries to come alive...

Nice work and I will keep digging into this as it should take no longer than 15-30 minutes.

[2016-05-08 20:47] xenfomation commented on #313
Despite the infinite claims for Debian/Ubuntu, I regret to report that /etc/default/crda does not promote regional codes as it should.

I was able to repeat @k-plan's issue of set manually, reboot, run iw reg get only to see "00: DFS-UNSET"

Now, as a cludge right now:

vi /etc/rc.local

[code]

On reboot, I obviously retain this good config @k-plan needs:

[code]

So, looking to move this type of

[2016-05-08 21:58] xenfomation commented on #313
I have a work around (that could become a fix) right now for retaining the regulatory code desired.
I do not have the menu items updated to inject this data for the DietAdmin (at present)
I do not have any real error handling, default values, etc -- it tries to work with what is defined.

## Environment

I am running PI 2 B + DietPi v117
CRDA, it's "default config file", clean environment, etc

##

[2016-05-09 06:56] xenfomation commented on #310
Thanks, @Fourdee -- even if we can get that nudge, definitely worth the learning and DietAdmin experience.

[2016-05-09 09:03] xenfomation commented on #295
Thanks, @Fourdee -- I started from addition 1 and moved forward.  Silly syntax error on my behalf.

As this is a feature request, please do let me know -- aside from 2 file manager utilities I would like to add -- how the additions I've checked into testing fit in...

Cheers!

[2016-05-09 12:15] Fourdee opened #321 "dietpi.com forums | Fix email registration and notifications"
As title.

http://dietpi.com/phpbb

[2016-05-09 12:16] Fourdee commented on #321
Resolved. Finally!

Forum emails are now functional.

[2016-05-09 12:16] #321 closed, assigned to Fourdee

[2016-05-09 13:43] Fourdee commented on #313
@xenfomation

Based on your ideas :+1: , I'am going to do the following:
- `/DietPi/dietpi.txt` | Add global var for `WiFi_CountryCode=`
- `/DietPi/dietpi/boot` | Add `iw reg set $WiFi_CountryCode`

This will allow users to declare their country code prior to first run. Also ensures country code will always be applied during boot.
I've tested `iw reg set` in boot script, gets applied.

[2016-05-09 14:16] rhkean commented on #261
@Fourdee @k-plan

Need clarification
are the following lines in /etc/network/interfaces supposed to be commented out or uncommented with the the latest netplug additions?

[code]

thank you

[2016-05-09 15:24] Fourdee commented on #313
Decided to make a function script for applying/changing WiFi country code, so we can use it in multiple scripts.

Following applies Country code to system. with value stored in `dietpi.txt` if set `wifi_country_code=` :

[code]

Following changes value in dietpi.txt, known system configs, and applies new country code to system

[code]

this function is called during boot, and when changing country

[2016-05-09 15:30] Fourdee commented on #313
Tests:

Set US

[code]

Set GB

[code]

Set US, reboot:

[code]

[2016-05-09 16:01] xenfomation commented on #313
@Fourdee -- slick!  Especially with it being scriptable.  Nicely done and for miscellaneous trivia, if they don't know their country code.... 00 works as a default ;-)  Kinda breaks their own ISEC/ISO standards, but I am glad you knocked this out!

[2016-05-09 16:09] Fourdee commented on #313
@xenfomation
Yep, if only the system called `/etc/default/crda` during boot and used the value set there. Maybe there's something we missed.

Either way, this function script was needed so we can call it across multiple other scripts, based on a global country code value set in `dietpi.txt`

[2016-05-09 16:12] xenfomation commented on #316
No time to be slapdash, but I am still moving on this and keeping a previous comment in this case that is probably the key to something I overlooked:

"WEBSERVER_MYADMINPHP will now trigger webserver + mysql installation" -- @Fourdee, A few days ago

[2016-05-09 16:28] Fourdee commented on #261
@rhkean

They have the same effect as using `auto eth0`. So you must enable at least one to allow the adapter to be active during boot.

[2016-05-09 16:29] Fourdee commented on #261
@rhkean

When you finalize (prep system to be run for the 1st time at next reboot) the image with `/DietPi/dietpi/finalise` , both get disabled. One will get enabled during 1st run setup based on user settings in dietpi.txt

https://github.com/Fourdee/DietPi/blob/master/dietpi/finalise#L97-L99 | https://github.com/Fourdee/DietPi/blob/master/dietpi/conf/network_interfaces

If I havn't explained the

[2016-05-09 17:31] xenfomation commented on #313
Indeed!  Sad thing about it is... I haven't found anything to even imply it was missed by anyone.  My reasoning for this is many have complained about this and it coincides with the whole "systemd" nonsense (IMHO).

I should have **pull requests** (sorry about the last two!!) to "testing" for #295 and #246 in a few hours for your review.  This means I can get back to LLMP, but make a double-random

[2016-05-09 18:25] xenfomation commented on #247
@Fourdee & @Zone22 --

I have an order of tasks I've been doing my best to contribute to, however I took 5 minutes to check out Friendica and it seems rather nice.  I have items for DietPi to correct pronto, so the point is I will circle back to this ASAP as it seems straight forward enough to test and discuss.

[2016-05-09 18:33] xenfomation commented on #245
@Fourdee @chrisvella --

Quick update.

In between other tasks, took a second round with this.  There are pros and cons to it, such as clear-text password in a text file for auto mount + encryption, user installation would need to be guided, etc.

It beats full drive encryption, works, but I will circle back to this as it may be better suited for:
- USB Drive Storage Only
- Unique home/paths outsi

[2016-05-09 18:46] Fourdee opened #322 "/DietPi/dietpi/.installed: line 115: _: command not found"

[2016-05-09 18:47] Fourdee commented on #322
Caused by:
http://dietpi.com/phpbb/viewtopic.php?f=11&t=404&p=1743#p1743

Resolved for v118 (cant find commit, my bad as I didnt create a ticket for it at the time):
https://github.com/Fourdee/DietPi/blob/testing/dietpi/dietpi-software#L339

[2016-05-09 18:48] Fourdee commented on #322
Although the _ will be removed when the user runs `dietpi-software`. Add a removal to the patch file

[2016-05-09 19:10] Fourdee commented on #322
Done: https://github.com/Fourdee/DietPi/commit/b8ad90b0beec65e3752f092b8ee4d3299ab61a98

[2016-05-09 19:10] #322 closed, assigned to Fourdee

[2016-05-09 19:34] k-plan commented on #313
@Fourdee
- tested your new version with `/DietPi/dietpi/boot` for changing WiFi country code with a [Edimax EW-7612UAn V2](http://www.edimax.com/edimax/merchandise/merchandise_detail/data/edimax/global/wireless_adapters_n300/ew-7612uan_v2/) (2.4 GHZ - 802.11b/g/n - 300Mbps)

Set via `dietpi-config` country code `00` -> `DE` (readout) ==>> `reboot` = `DE` (readout) setting  -> `CN` (readout) ==> `r

[2016-05-09 19:56] Fourdee commented on #313
@k-plan
Thanking you for in-depth testing and results as always :+1:

Holy cow lol. Looks like its reporting everytime it switches from powersaving modes.

I'll mark this as closed. I will take a look into https://github.com/Fourdee/DietPi/issues/311 next (which is a continuation of code changes here) and see what we can do.

[2016-05-09 19:56] #313 closed, assigned to Fourdee

[2016-05-09 20:37] Fourdee opened #323 "DietPi-Software | Add additional linux software options"
As title.

[2016-05-09 20:38] xenfomation commented on #323
I bow!

[2016-05-09 21:00] k-plan commented on #261
@rhkean

it is not direct associated with `netplug`. (or `ifmetric`)
https://github.com/Fourdee/DietPi/issues/305

But because it  is no skin off one's nose, it's stay in.
https://github.com/Fourdee/DietPi/issues/273#issuecomment-216053065

---

To explain it short:

_We have now the possibility to have two active network interface.
Each of them has a default route with a gateway.
If both interfac

[2016-05-09 22:08] xenfomation commented on #323
The following changes were made based on enhancement #295 - a request to add vim-tiny as an optional linux package one could install through DietPi instead of the command line.

The software packages I added, outside of an effort to organize/alphabatize packages, were as follows:

### Editors

vim-tiny (compact release of Vim)
GNU Emacs
Midnight Commander's mcedit (already included with Midnight C

[2016-05-09 22:08] #323 closed, assigned to nobody

[2016-05-09 22:08] xenfomation commented on #323
https://github.com/Fourdee/DietPi/commit/d5f2233a0b7060cbc38d586c468ff18f2e38f949

[2016-05-09 22:18] xenfomation commented on #246
Oh, cool factor is -- just like Samba -- I have staggered out an NFS Client (common packages) and NFS Server (common + core).  The part next is to follow in footsteps to assist the user in configuring their NFS Server (if that is selected), etc.

@Fourdee  &  @stefaniniMM -- So I have been actively (albeit slowly) incrementing this with care and I hope this update finds you all in kind.

[2016-05-09 22:47] chrisvella commented on #245
I'm not sure if this is useful, but checkout how antergos manages fulldisk encryption. Personally I have found it very effective (on a lot more powerful machines).

[2016-05-09 23:26] xenfomation commented on #245
Will do as I am quite familiar with Antergos from a VM perspective!

[2016-05-09 23:46] ghost commented on #168
Posting to show my support for Seafile. Seems a little more robust then OwnCloud. Not to mention client-side encryption.

[2016-05-09 23:47] ghost commented on #247
Excellent I look forward to it

[2016-05-10 00:24] xenfomation opened #324 "Can we install this package for Audio?"
[http://www.theverge.com/circuitbreaker/2016/5/8/11635442/raspberry-pi-tube-amp](http://www.theverge.com/circuitbreaker/2016/5/8/11635442/raspberry-pi-tube-amp)

Sorry - I had to ask.  Electrical and Audio engineering runs deep in our family.

[2016-05-10 02:31] xenfomation commented on #316
@Fourdee 10 hours ago I wiped an SD card, exploded DietPi onto it, and updated all the way to v117 -- just like I had over the weekend.

Using dietpi-software, I selected LLMP & PhpMyAdmin as I had before.  No fatal errors this time (aside from a minor --configure notice) and presto -- this all works.

The confusion comes as this was clearly not working before.  I will test again tomorrow, but wow

[2016-05-10 04:59] rhkean commented on #261
I have the following:
- a bootable, debian, DietPi image for the Pine A64+ with arm64 kernel
- updated obtain_hw_info to properly identify the Pine
- modified dietpi-ramdisk script to handle the pine's /boot/uEnv.txt file
- the image is 811MB (125MB in 7z format)

What is not completed
- debugged and modified dietpi-config
- debugged and modified dietpi-software
- I have not finalized the image ye

[2016-05-10 07:08] xenfomation commented on #126
For what it's worth - 99% of the instructions still work.  I was trying to get a VM prepped for you in the most extreme sense of the word "Diet"... Off to work!

[2016-05-10 07:15] xenfomation commented on #261
Impressive!  Looks like I need to get a Pine as well.  DietPi -- SBC thirst quencher.

[2016-05-10 07:24] xenfomation opened #325 "DietPi Idea | Sourceable script with pre-defined color codes"
Hey, @Fourdee --

I remember something I did for an SSH-based BBS I did that leveraged BASH and I hope it may come of use to DietPi:

A master text/console script that can be sourced, based on TTY/console capabilities and hardware, to put all the escape color codes into variable containers:

purple=\e[35;... etc.
red=...
magenta=...

As I acquired different SBCs and work from different TTY/console

[2016-05-10 11:09] Fourdee commented on #323
@xenfomation
Excellent additions, great work on this :+1:

[2016-05-10 11:14] Fourdee commented on #168
@Zone22 Yep, i agree. I'll mark this for v119. Once v118 is wrapped up and released, I'll take a look.

[2016-05-10 11:20] Fourdee commented on #324
@xenfomation Aye go for it :+1:. We love our audio here at DietPi :)

300ohms is a little low, 600ohms would of covered the high end and studio headphones. Although it would power  the DT 990 pros @ 250ohms.
I'am just curious if this gives a "tube amp" effect (that would be awesome), or if its just a glorified headphone amp? Either way, its got me interested lol :)

[2016-05-10 11:59] Fourdee commented on #325
@xenfomation

Sounds good :+1:

Would this be a script we could call (eg `/DietPi/dietpi/func/thisscript blue`)? And for clearing `/DietPi/dietpi/func/thisscript` or `/DietPi/dietpi/func/thisscript reset`, something like that?

[2016-05-10 16:14] Fourdee commented on #316
@xenfomation

Yep, this very strange. Sometimes packages/dependencies have issues and Its not unheard of with apt-get and repos.

I'll run the same test on my C2 and see if it still occurs.

EDIT: still occurs on C2.

[2016-05-10 16:43] ghost commented on #168
@Fourdee
The default install is highly insecure for production environment or home use as noted by the developers thus the creation of an install script. I would recommend using or at least referencing when constructing your own DietPi Seafile CE script the [_Auto install Seafile Server_](https://github.com/Seafile/seafile-server-installer). It offer a quick and easy way to set up a production rea

[2016-05-10 16:54] xenfomation commented on #41
I am also a DBA -- I will assign to me as so I can ask some questions.

[2016-05-10 18:55] Fourdee commented on #168
@Zone22
Thank you for the info, appreciate it :+1:

Excellent, i'll look at generating the db manually (we normally do for software with MySQL db's). Script : https://github.com/Fourdee/DietPi/blob/master/dietpi/func/create_mysql_db

Just need to get v118 wrapped up 1st, turned out to be a big one (yet again) lol :)

[2016-05-10 20:25] xenfomation commented on #316
Good man, sir. It is 4:21 EST and I leave the office at 6pm. I will have 2 PIs primed and may follow the install order and insert:

mysql secure install

Followed by:
apt get install phpmyadmin

It is a bit hackish, but if it works consistently it can afford us time to add sparse debug output to a file as each step is carried out.

[2016-05-10 20:28] xenfomation commented on #325
Almost exactly!  I will send you a copy of one I have on an old system.

I do like the idea of adding a reset option to clear variables after use!!

[2016-05-10 20:28] xenfomation commented on #323
Thanks!!

[2016-05-10 21:54] xenfomation commented on #195
Heads up -- went to install this package...

381 packages, 489MB of space required.

IMHO, as much as I love RSS -- does this seem a little steep?
![quiterss](https://cloud.githubusercontent.com/assets/10519408/15163730/3da3499a-16d8-11e6-986a-9f6b9337210e.PNG)

[2016-05-10 22:02] xenfomation commented on #324
Yeah, sadly I think the request falls on my left ear (it doesn't work) as you are right:

It's taking clipped digital audio and trying to remove the harshness on output

Hoped all would like this and with permission, requesting to close this request/question :-)

[2016-05-11 04:54] xenfomation commented on #325
The script is really meant to be sourced in for userspace via the bash profile.  This way, $blue is defined and can be reference by all of the scripts.

Attached is a basic sample I used forever and usually loaded on boot as not to call the script all the time.

Thanks!
[colorscript.txt](https://github.com/Fourdee/DietPi/files/258590/colorscript.txt)

[2016-05-11 12:53] Fourdee commented on #324
Tube amps can improve quality and depth to any music. They give a unique output that's similar to compression and maximization of the audio dynamics. It could even be classed as "Phat". At least, that was my experience with software tube amp emulation when making music: http://help.izotope.com/docs/ozone/pages/mod_harmonic_exciter.htm

Couple that with a high quality DAC, this thing is not just a

[2016-05-11 13:03] Fourdee commented on #195
@xenfomation
It looks like its installing Xserver aswell. So that could be installed by `XSERVERXORG` in `dietpi-software`.

Have you tried `apt-get install xxxx --no-install-recommends`? Usually gives you the bare minimal.

[2016-05-11 13:14] Fourdee commented on #325
Awesome :+1:.

So these vars will get loaded into current bash session, in memory? Could probably be called by our `login` script for ease. Although we would have to also call it during boot if `dietpi-banner`  is using it.

Probably a bit overkill, but this could also work in an array? Would prevent having multiple vars with different names. eg:

[code]

[code]

Just throwing some ideas :)

[2016-05-11 13:59] Fourdee opened #326 "i can't install dietpi-software (is always ethernet offline) and have problems (awk not found)"

[2016-05-11 14:00] Fourdee commented on #326
#### awk

Appears installed:

[code]

#### v117 patched package installations are not installed:

[code]

#

#### Network:

[code]

No ip obtained from .network

[code]

#

#### Apt:

sources.list (empty):

[code]

sources.list.d/pms.list:

[code]

#

#### .installed

[code]

[2016-05-11 14:14] Fourdee commented on #326
Fix apt:

[code]

Install missing packages:

[code]

Check awk binary:

[code]

Unknown RPi revision:

[code]

[2016-05-11 15:00] Fourdee opened #327 "config.txt | 4.4 kernel dtparm=audio (/etc/modules deprecated and no longer supported)"
@k-plan

Excellent work on finding this one :+1:

Integrate into DietPi to prevent 4.4 kernel installations from failing to set soundcards.

[code]

[2016-05-11 15:18] Fourdee opened #328 "readme.MD | Update team information"
Long overdue :)

[2016-05-11 15:32] Fourdee commented on #328
Done: https://github.com/Fourdee/DietPi/tree/testing#the-dietpi-project-team

[2016-05-11 15:32] #328 closed, assigned to Fourdee

[2016-05-11 15:56] Fourdee commented on #327
Done, commit: https://github.com/Fourdee/DietPi/commit/495ea00940cec5ad9c0eb282a96c4eeee6a47f6c

Function test:

[code]

[2016-05-11 15:56] #327 closed, assigned to Fourdee

[2016-05-11 16:01] Fourdee commented on #257
As per https://github.com/Fourdee/DietPi/issues/257#issuecomment-204808410, and https://github.com/Fourdee/DietPi/issues/257#issuecomment-216098099.

A local CMS install only generates negatives:
- Excessive SD IO usage
- Requires webserver installation

As such, i've decided to close this ticket. Our current installation for EmonPi offers the lightest possible installation and works pretty much e

[2016-05-11 16:01] #257 closed, assigned to Fourdee

[2016-05-11 16:01] R1CH-T commented on #257
Thanks for looking into this, guys.

As I have stated before, Open Energy Monitor utilises a low-write filesystem for this purpose, which is interesting in itself and could be extremely useful for various database applications, but I don't have a clue as to how this is implemented.

Xenfomation: you are right about the complexities of this stuff and your input is very much appreciated.
I own the h

[2016-05-11 16:03] R1CH-T commented on #257
Oops.
Fourdee beat me to it, I think...
Thanks for your efforts, anyway.

[2016-05-11 16:05] Fourdee commented on #257
@R1CH-T

Only by 4 seconds lol.

Yeah sorry about this Rich. But a full blown EmonCMS installation just isn't worth it at the moment. Although offsite, http://emoncms.org offers the same viewable data, without the negatives of a local CMS installation.

[2016-05-11 16:06] R1CH-T commented on #257
No sweat!

[2016-05-11 16:22] Fourdee commented on #257
@R1CH-T

I'd imagine they are reducing the total times they write data to disk. Instead, opting for large data writes to disk at a lower frequency. I believe this prevents writing 4K blocks everytime < 4K of data needs to be saved, but it still needs to be saved at some point.

[code]

So lets say you have a file that's 1K in size. When that file is saved to disk, I believe it will write 4K to dis

[2016-05-11 16:33] R1CH-T commented on #120
Hey Dan,

Last week, I upgraded to v117 and had another go at setting up DietPiCam (on Jessie), but I'm still experiencing the "blank motion detection page" problem.

I am also still having some problems getting motion detection working at all. (Although I got it to work in a limited fashion in the Wheezy version).
This may well be due to my own ignorance and/or inexperience, but I plan to slowly

[2016-05-11 16:57] Fourdee commented on #120
@R1CH-T

Yep no worries. I need to update and test the installation anyway, hopefully the motion detection has been fixed by the RPiwebcam devs.

I'll mark this for v119 (https://github.com/Fourdee/DietPi/milestones/v119). Will take a look once v118 (https://github.com/Fourdee/DietPi/milestones/v118) is completed and released.

[2016-05-11 16:57] vmfventura commented on #326
`` ───────────────────────────────────────
 DietPi     | 17:53 | Wed 11/05/16
 ───────────────────────────────────────
 V117       | Raspberry Pi Unknown
 ───────────────────────────────────────
 IP Address |
 ───────────────────────────────────────

 Waiting for apt-get update to finish: Please wait...

 apt-cache database size: 43320 KB

 #               processing | D I E T  P I             #

[2016-05-11 17:09] Fourdee commented on #326
@vmfventura
Thanks for the results.

Looks like you have an issue with bash as it does not recognise `awk` as a command, yet its installed.

Can you paste the results of:

[code]

[2016-05-11 17:09] vmfventura commented on #326
root@rpiventura:~# cat /root/.bashrc
cat: /root/.bashrc: No such file or directory
root@rpiventura:~#

[2016-05-11 17:20] Fourdee commented on #326
@vmfventura

I did a diff check on your /etc/bash.bashrc seems fine: https://www.diffchecker.com/c2yysuc7

You have missing code for .bashrc. Although it probably wont fix the AWK issue, DietPi needs this to function correctly.
Please create /root/.bashrc:

[code]

Also, please paste results of:

[code]

[2016-05-11 17:21] vmfventura commented on #326
root@rpiventura:~# nano /root/.bashrc
root@rpiventura:~# echo -e "$PATH"
/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

[2016-05-11 17:34] Fourdee commented on #326
Weird, doesn't make sense why its still reporting command not found. `mawk` is installed and functional, your `PATH` is correct.

Ok, lets try a little "cheat" and see if it allows us to progress:

[code]

close ssh session and log back in, then try `dietpi-software` again.

@xenfomation @rhkean @k-plan
Would appreciate any assistance on this one, if any of you have some ideas to try?

[2016-05-11 17:38] vmfventura commented on #326
tried, no results posted.

logged off, login and, same. no internet connection.

[2016-05-11 17:59] vmfventura commented on #326
I forgot something..
after update to v117, i cannot access to transmission(:9091) and couchpotato(:5050) over the internet, and i can access to linuxdash (/linuxdash) and plex (:32400)

it's strange. in other device (odroid c2), i have the same problem (accessing services from outside).

[2016-05-11 18:16] keiser1080 commented on #312
As usual very fast support.
Thanks for your work, i will post an announcement on the orange pi facebook group

[2016-05-11 20:45] xenfomation commented on #326
I will be diving into this after 6pm EST latest, earlier is my plan though. Will read phpbb post first as I have many questions. I have only seen this, for the record, when I attempted to build DietPi on top of Debian.

[2016-05-11 21:31] xenfomation commented on #195
Hey, @Fourdee  -- long, long two days -- so, pardon me not running that apt-get flag!
1.  It having X deps is cool by me, but thanks for pointing out that is where most of the space comes from.  I was about to write us "diet-atomrss" - which I may do - for the CLI or GTK+
2.  Back on track, here is the output of apt-get install xxxxx --no-install-recommends:

[code]
1.  I didn't mean to sound snob

[2016-05-11 22:36] xenfomation commented on #326
Awk is in /usr/sbin/ and mawk is there as well.

So, on my way to see what this could be related to and I have some questions:

Can you provide me the output of:

df -h

free -m

env

uname -a.

And

dpkg --list

Secondly, how long have you had DietPi and this software installed on this SD or USB card?

Lastly,

[2016-05-11 22:37] xenfomation commented on #326
My initial reaction is a software install conflict or package substitute.

I will keep all posted.

[2016-05-11 22:48] vmfventura commented on #326
[code]

[code]

[code]

[code]

[code]

I'm using dietpi almost 2 months +/-, i think since v112/113 (tomorrow i'll confirm)

[2016-05-11 22:59] xenfomation commented on #326
Thanks!!  I just left the office, @Fordee and will hit the data we've been provided as to ensure there is not a bug.

Expect other updates as well for items.

[2016-05-11 23:03] xenfomation commented on #326
This original comment was incorrect as I was using a mobile app to help quickly diagnose this:

Will have more for everyone and thanks for the data!

[2016-05-11 23:08] vmfventura commented on #326
if i read correctly, swap is 0% used... 99%free...
if i backup dietpi, format sd card, reinstall and restore, solve my problem?

[2016-05-11 23:10] xenfomation commented on #41
Updating all tickets I am affiliated with.

I will have a database overview done tonight.  We can then take the concept, expand and document as needed.

Key item will be fine tuning of any database and, imho, keeping more tables than fancy associative/heavily indexed and constrained databases to ensure lowest impact on CPU (sorts, joins, finding cardinality, etc)

I do also think this would be gre

[2016-05-11 23:25] xenfomation commented on #324
Closing until I can buy us all one

[2016-05-11 23:25] #324 closed, assigned to Fourdee

[2016-05-12 00:09] xenfomation commented on #326
Hey, @vmfventura  -- I did read that wrong (Gitclient from my mobile phone).

### Don't reinstall yet please!

I want to ensure I find out what is going on and I am now working from a proper computer with my development environment!

 SWAP use is actually ZERO, which is good.  Free memory is 12 megabytes.  (All of this is related to RAM).

[code]

### I am looking at my v117 PI now

[2016-05-12 00:49] xenfomation commented on #326
HI, @vmfventura --

I have been looking at the data you provided (thank you).  I have also been working to compare items with my PI 2.

### ISSUE WITH AWK

On my system - upgrade from v115 to v117, I still have awk/mawk:

[code]

DPKG shows me I have mawk (just verifiying):

[code]

When I check the version of awk (really mawk as awk is a virtual package) that is installed, I see the following:

[

[2016-05-12 01:19] xenfomation commented on #325
These are great ideas as my fear was occupying too much memory just for colors.

I like the array reference and with a few arguments, we could definitely give the options to:

/script/path/colors load

/script/path/colors unload

and even

/script/path/colors use  (just to use 1 color shortcut based on your idea earlier....

### I am working on an example now, sir!

[2016-05-12 05:26] xenfomation commented on #271
As an update, I am still working on this to ensure from init to reboot, the two usb drives remain useful!

[2016-05-12 05:28] xenfomation commented on #246
Options have been subbed in -- expanding upon NFS server install, such as with Samba.

Thanks.

[2016-05-12 11:47] zgoda opened #329 "Security problem with kernel on Orange Pi"
And possibly elsewhere.

http://forum.armbian.com/index.php/topic/1108-security-alert-for-allwinner-sun8i-h3a83th8/

[2016-05-12 13:14] thechildofroth opened #330 "Update Subsonic to v6"
Hi Fourdee (and the growning band of devs)

Just wanted to let you know that there is a new version of Subsonic available: http://downloads.sourceforge.net/project/subsonic/subsonic/6.0/subsonic-6.0.deb?r=https%3A%2F%2Fsourceforge.net%2Fprojects%2Fsubsonic%2Ffiles%2Fsubsonic%2F6.0%2F&ts=1463053419&use_mirror=tenet

I just boosted it in to DP117 with dpkg -i and it seems to be up and running quite

[2016-05-12 13:24] inspector71 opened #331 "Error: Obtained server version value from github is invalid."
[code]

[2016-05-12 13:42] vmfventura commented on #326
hi there....

[code]

[code]

[code]

[code]

[code]

[code]

Yes, i have 100% sure, that i have raspberry pi 2. i have 2, and 1 B.

Thanks for your help @Fourdee @xenfomation

[2016-05-12 17:22] xenfomation commented on #331
Yikes

What is the output of:

cat /DietPi/dietpi/.version

And

cat /DietPi/dietpi.txt

And also

cat /DietPi/dietpi/DietPi - update

Thanks!

[2016-05-12 17:31] xenfomation commented on #330
Nice!!!  I will take a look at it today (thanks for the sym link info) and report back to this ticket and @Fourdee

[2016-05-12 17:33] Fourdee commented on #331
@inspector71

This is a known issue: https://github.com/Fourdee/DietPi/issues/301

Please run:

[code]

dietpi-update should now be functional.

[2016-05-12 17:36] Fourdee commented on #329
@zgoda

We have updated the OPi PC image, which is now built with ARMbian and disables the exploit: https://github.com/Fourdee/DietPi/issues/312

You can download this new image from http://dietpi.com/#five

[2016-05-12 17:36] #329 closed, assigned to nobody

[2016-05-12 17:59] xenfomation commented on #329
Nicely done sir. If time allows, I wanted to speak to you @Fordee to calculate the SBC boards I should be soaking in.

[2016-05-12 18:12] xenfomation commented on #326
Thank you for your patience and excellent data. I promise I am not trying to torture you! :)

Two ideas...

### etc alternatives

Can you attempt to run:

update-alternatives --set awk /usr/bin/mawk

### remote access

If you would feel comfortable, I would like to SSH to your PI and resolve this.

@Fordee. You are the man. With the items post 117, I ask you put pressure on me to get the DietPi co

[2016-05-12 18:13] xenfomation commented on #331
You are speedy, man. Kudos.

[2016-05-12 18:19] vmfventura commented on #326
[code]

@xenfomation if i give you my ssh login, next i have to kill you...:P kidding. i can give you that... any way to give you, outside here?

[2016-05-12 18:49] xenfomation commented on #326
Thanks for the quick response!  Kill me?  But I'm already dead inside ;)

### update-alternatives

Okay, so the output you have provided is encouraging!  Now if you run the following commands and awk has magically returned, try to run dietpi-software and also let me know what happens.  SO... we are back to executing:

env

which awk

which mawk

ls -la /usr/bin/awk
ls -la /usr/bin/mawk
ls -la /etc

[2016-05-12 19:08] vmfventura commented on #326
@xenfomation workedddddddddddddddddddddd, i can access to dietpi-software...
you save your ass :D

i access to my raspberry by ssh all the time.

i'm still having problems accessing to :9091(transmission) and :5050(couchpotato).
working fine owncloud (having problems and updating, but other problem), linuxdash and plexmediaserver

EDIT: after service reload transmission start working, still couchp

[2016-05-12 19:19] xenfomation commented on #326
@vmfventura EXCELLENT!  Thank you for your patience!

To make sure I am clear on next steps:
- Awk errors are gone/fixed (good)
- You can use dietpi-software, BUT you cannot do any updates (bad)
- And you still have the same problems with :9091, :5050, and Login Banner (unknown pi hardware) after updating to v117

Thanks, @vmfventura !!

[2016-05-12 19:56] Fourdee commented on #329
@xenfomation

Without a doubt, Odroid C2 is the best all round SBC at the moment. Couple it with a EMMC module and it makes the Raspberry Pi 3 feel like a snail :) A snail thats 1+ year behind the Odroid C2.

I use the C2 as my main test bed for all DietPi devolpment.

[2016-05-12 21:06] lwittwer commented on #116
The reason it does not start is that Plex requires en_US.UTF-8 to be generated on the system which DietPi does not by default.

[2016-05-12 21:12] xenfomation commented on #329
Odroid it is!

[2016-05-12 21:25] xenfomation commented on #326
No problem, @vmfventura -- it's thanks to @Fourdee we all get to have fun with SBCs and DIETPI!

I am going to assign this to @Fourdee for these reasons:
- He is in charge!
- The core issue with dietpi-software was resolved by refreshing update-alternatives:
  `update-alternatives --set awk /usr/bin/mawk`
- THe issue with couchpotato is secondary, but still needs to be considered as in the end, I

[2016-05-12 21:28] xenfomation commented on #330
Pulling now...

[2016-05-12 22:15] xenfomation commented on #330
So far so good -- testing streaming later.  Already updated menu code if @Fourdee approves because sometimes... people want A SPECIFIC version of software :)

![subsonic6](https://cloud.githubusercontent.com/assets/10519408/15232183/7c9f4b8a-186d-11e6-9a49-1daa5b02f529.PNG)
![subsonic6-2](https://cloud.githubusercontent.com/assets/10519408/15232184/7ec51570-186d-11e6-873b-ae0ad9c8a9c4.PNG)
![subso

[2016-05-13 01:54] xenfomation commented on #330
@thechildofroth  -- that was the most painless testing i have done!  i have contributed software installer code for dietpi to @Fourdee for his review.  (Thanks!)

Off to keep tackling what I can! :-)

[2016-05-13 02:14] xenfomation commented on #316
OKay -- wrapping up final code tests for WEBSERVER_MYADMINPHP  and order of operations to ensure 100% success.

[2016-05-13 02:50] inspector71 commented on #331
that fixed the problem

thanks!

On Fri, May 13, 2016 at 3:33 AM, Dan notifications@github.com wrote:

[2016-05-13 02:52] #331 closed, assigned to nobody

[2016-05-13 06:44] xenfomation commented on #316
Hey, @Fourdee -- I am including @rhkean in this write-up as well because... I did a lot of work, appreciate the patience, and I have had continued success with one issue.  PhpMyAdmin - no matter what I do - throws error 100.  So, if either of you have to to look at what I am about to put a pull request in for and give it a go, that would be exceptional (maybe I over looked something in the dietpi-

[2016-05-13 06:51] xenfomation commented on #191
@Fourdee -- is this still active as I have no issues taking care of this as I relentlessly use xrdp for my Debian-based distributions!

Nice, @starstuff !!  Thanks!

[2016-05-13 06:56] xenfomation commented on #134
@Fourdee and @keiser1080 --

Since I have been working with the webstacks recently, I will take a look at the process this week (manually) and follow up to see about converting it to an installable option.

Cheers!

[2016-05-13 07:11] keiser1080 commented on #134
If you can wait i can sens a bash script semi automates next week, si you
can addapt thé script?
Le 13 mai 2016 8:56 AM, "Xenfomation" notifications@github.com a écrit :

[2016-05-13 09:04] thechildofroth commented on #330
Thanks @xenformation might be worth adding the final v5 version too as I
believe the developer has shifted the licencing for v6 and closed the
sources, which might be an issue for some.

On 13 May 2016 at 02:54, Xenfomation notifications@github.com wrote:

[2016-05-13 10:24] Fourdee commented on #191
@xenfomation
Yep :+1: , all open tickets are up for the taking.

[2016-05-13 10:42] Fourdee commented on #330
@xenfomation
That was fast lol, nice one :+1:

Just need you to send a pull request when your ready. I think we will need to patch the .installed file with the `SUBSONIC5/6` changes, but i'll go through that in the pull request.

[2016-05-13 10:48] Fourdee commented on #116
@lwittwer
Yep, en_GB.UTF-8 is default on DietPi.
I wonder if we can just generate the en_US.UTF-8 locale, or does it require set to default on system.

[2016-05-13 11:16] xenfomation commented on #134
Sure!

[2016-05-13 11:19] xenfomation commented on #116
A default is required, but you can switch/regenerate on the fly.  I am heading into work now, but will catch up with these items around my lunch time!

[2016-05-13 12:34] lwittwer commented on #116
Just requires to be generated. Just tested it out on my system

On Fri, May 13, 2016 at 3:48 AM -0700, "Dan" notifications@github.com wrote:

@lwittwer
Yep, en_GB.UTF-8 is default on DietPi.
I wonder if we can just generate the en_US.UTF-8 locale, or does it require set to default on system.

---

You are receiving this because you were mentioned.
Reply to this email directly or view it on GitHub:

[2016-05-13 13:32] Fourdee commented on #311
@k-plan
Going to move this to v119. v118 has too many open jobs, and still lots to do before we can release v118.

[2016-05-13 13:38] Fourdee opened #333 "DietPi-Software | Add installation option for Open Bazaar"
Implemented by @swordfish6975
References: https://github.com/Fourdee/DietPi/pull/318

[2016-05-13 13:49] Fourdee commented on #326
@xenfomation
Excellent work on debugging this :+1:

Ideally, we should only be supporting the software we have in `dietpi-software`, else, we wouldn't get any work done lol. However, its always a personal choice, and time permitting, if we look into other "non-dietpi software" issues on a DietPi system.

So in other words, your call @xenfomation.

@vmfventura, as there are so many "strange" issues

[2016-05-13 14:06] Fourdee commented on #310
Looks like no ARM64 packages are currently being built by http://download.mono-project.com/ : http://download.mono-project.com/repo/debian/dists/. So we would need to build Mono ourselves.

For now, I've disabled C2 installation option:

[code]

[2016-05-13 14:46] Fourdee opened #334 "DietPi-Software | Rethink user data directories"
Just brainstorming.

Currently its:

[code]

We need to change where we store user data for `/root`, some programs have issues with accessing it, even if we apply the correct permissions. A static global location in /mnt would be ideal.
eg:

[code]

Then we can use symlinks to point usb drive.
Using a single location will make installation code simpler, and the online documentation. eg: where is m

[2016-05-13 14:51] vmfventura commented on #326
@Fourdee working port forwarding to ip.

any ideias to add plexmediaserver and couchpotato to your dietpi-software, as requested in forum?

i'll will reinstall everything...some that i don't want, but must have...
if i backup, reinstall and restore it work?

[2016-05-13 14:56] Fourdee commented on #310
Video transcoding is great on VM:
AMD Athlon 5150 | 1.6ghz quad
![image](https://cloud.githubusercontent.com/assets/7077026/15251860/4a3d7156-1923-11e6-887e-2c846a50444f.png)

[2016-05-13 15:04] k-plan commented on #334
@Fourdee

a go from my side, if allow for me to say this,

:100:

Idea;
- if done, a option via menu to move the file to usb drive or a usb drive partitoin (eg. sda2) and point back to `/mnt/DietPi-UserData`
  (for running system, not only clean installations)

Future;
- support for UUID
-  moving rootfs from sd-card to usb devices, like armbian  `nand-sata-install.sh`
  (for running system, not o

[2016-05-13 15:07] Fourdee commented on #310
Done http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=1789#p1789

[2016-05-13 15:07] #310 closed, assigned to Fourdee

[2016-05-13 15:10] k-plan commented on #311
@Fourdee

Clean up for v118 release? :smiley:

No problem, it's okay (for me).

If I have some spare time at weekend, I will start with WiFi HotSpot  802.11n testing (2.4 and 5 GHz) and  regulatory domain setting. (I hope so)

[2016-05-13 15:14] Fourdee commented on #326
@vmfventura
We already have a ticket for Plex: https://github.com/Fourdee/DietPi/issues/116, I'll make a note to look into it again.

couchpotato, not seen this before, i'll take a look.

`USBDRIVE=2` your user data is on your USB drive `/mnt/usb_1`, so you should be fine. Just remember to say "No" when it asks to format the drive during installation.
As for your plex/COUCHPOTATO, you'll need to f

[2016-05-13 15:17] Fourdee commented on #309
@xenfomation
Sending a "prod and poke" your way for Xenserver access :)

[2016-05-13 15:21] vmfventura commented on #326
in /mnt/usb1 is owncloud and /mnt/USBHDD1 and 2 is everything...

i just want to know if save the config files... but i'll configure everything again (pain...)

to couchpotato and plex (search movies in torrents and usenet) i used this guides:
http://www.htpcguides.com/install-couchpotato-raspberry-pi-raspbian/
http://www.htpcguides.com/install-plex-media-server-on-raspberry-pi-2/
in raspberry.
in

[2016-05-13 15:31] Fourdee commented on #316
@xenfomation
Interesting and good find :+1: , looking forward to seeing the pull request when you can.

[2016-05-13 16:16] avs-code opened #335 "DietPi-Software | Add Calibre2opds installation option"
Calibre2opds is an open source tool that can generate OPDS and HTML based online catalogs from the metadata database of the Calibre eBook library manager.

Its possible include this in the future?

[2016-05-13 17:11] Fourdee commented on #333
Merged: https://github.com/Fourdee/DietPi/pull/336

#

Add:
- dietpi.txt automation entry
- dietpi-uninstall entry
- `apt-get install software-properties-common` for add-apt-repository
- `--depth 1` to git commands. Reduces size and quantity of downloaded data/files.

#

Remove:
- Wheezy entry

#

Change:
- Description: Decentralized network for p2p commerce using Bitcoin?
- Category: Social Media

[2016-05-13 17:23] xenfomation commented on #316
Crud!  I was up late, finally slept with my laptop open and headed into the office without it. Will be added tonight!

[2016-05-13 17:25] xenfomation commented on #309
Don't blame you and thanks!!  Moved one of XenServers to my DMZ and will have that ready to go tonight. All you need will be XenCenter for XenServer 6.5 and the connection criteria.  Thanks!

[2016-05-13 17:27] xenfomation commented on #334
I agree and say, sorry for the delay on the disk by uuid as I am finalizing code for dual USB mounts.

Thanks for your patience.  Crazy week and every inch I can get into DietPi had been a warm reprieve.

[2016-05-13 17:38] xenfomation commented on #78
Adding to my pile as it may be a good opportunity to roll into prototype for a DietPi database, the optimized menu ticket, and recent topics regarding layout changes.

[2016-05-13 18:49] avs-code opened #337 "Wifi cant connect: Edimax EW-7811UTC (AC600) Realtek RTL8812au"
https://www.raspberrypi.org/forums/viewtopic.php?p=849631#p849631

Driver not is detected by dietpi, then I install following the above steps:

[code]

Scan & connect:

[code]

[code]

[2016-05-13 19:24] Fourdee commented on #337
@arv187
I've got a note to purchase a AC600 so I can test 5ghz band :)

Can you provide the kernel version.
EDIT. Seen: `4.1.19-v7+`

Have you tried updating the RPi firmware? Run rpi-update. Either via `dietpi-config` advanced, or :

[code]

[2016-05-13 19:26] Fourdee commented on #309
@xenfomation
Thanks :+1: . If you can email me details i'd appreciate it, I'am aiming to try it tomorrow.

[2016-05-13 19:30] Fourdee commented on #335
@arv187

My head = o

Went over my head /'o'\  lol

Regardless, thanks for the software request and we will look into it when possible :+1:

[2016-05-13 19:33] Fourdee commented on #116
@lwittwer @xenfomation
Thanks for the info :+1:

I'll mark this for v119, plex seems very popular.

[2016-05-13 19:36] Fourdee commented on #311
@k-plan

Hehe, yes. There is so much going at the moment and I just want to make sure we can close all those tickets. I'am also not familiar with a 2+ week update cycle lol.

[2016-05-13 21:01] avs-code commented on #337
I updated firmware and I downloaded the driver corresponding to new firmware but i have same error:

[code]

http://pastebin.com/gw3rvtLX

I only update firmware and reinstall wifi driver to 4.4.10-v7+ #885 not update packages.

root@DietPi:~# sudo ifdown wlan0 && sudo ifup -v wlan0
ifdown: interface wlan0 not configured
Configuring interface wlan0=wlan0 (inet)
run-parts --exit-on-error --verbose

[2016-05-14 10:01] k-plan commented on #326
Just my 2cent:

not really, or? 😄
 If reading this ticket here, thanks to xenfomation  and Fourdee to solve the issue, but they can't find out causation.

 `dpkg --add-architecture armhf`
 `apt-get install binutils:armhf`

**_Some problem are:_**
- DietPi now support so many different platforms and hardware SOC, for example
  all Raspberry Pi's (different Broadcom CPU), Odroid C0, C1, C1+, XU3, XU

[2016-05-14 11:39] Fourdee commented on #330
Commit for reference: https://github.com/Fourdee/DietPi/commit/b229e757d36ec0defeb6aca02810ae6b2c86545d

[2016-05-14 12:16] Fourdee commented on #316
Tests from C2:

[code]

Will take a look later today.

[2016-05-14 12:22] Fourdee commented on #330
@xenfomation

Added a few extra lines of code for the `SUBSONIC5/6` changes across DietPi scripts:
https://github.com/Fourdee/DietPi/commit/027072e392969a75fb21335795d5c99e73d22692

EDIT:
Also couldn't get the menu to save Subsonic 5/6 selection. Added the missing code here: https://github.com/Fourdee/DietPi/commit/a540e1ead44bd3546501c78b1b73488ee5410361

Tested with C2:
Subsonic v6 :u6307:
Subso

[2016-05-14 12:59] Fourdee commented on #333
@swordfish6975

To what? :) Documentation is a little "light": https://github.com/OpenBazaar/OpenBazaar-Server

[2016-05-14 13:05] swordfish6975 commented on #333
Whatever you would like to enter in the client to connect with, preferably a very long password like a GUID.

The risk to the user is someone getting in to there shop and listing stuff for sale and pocketing the money.

[2016-05-14 13:44] Fourdee commented on #333
@swordfish6975
Thanking you :+1: . So just to confirm, the username/password can be anything. Its only purpose is to prevent the server being abused?

I installed the OpenBazaar client:
-  Is there any way to specifically connect/test our OpenBazaar server with it?
- Or assuming there are no error logs in with `python openbazaard.py start -d -a 0.0.0.0` can I assume the server is fully functional

[2016-05-14 14:08] Fourdee commented on #333
Service notes:

Start:

[code]

Stop:

[code]

[2016-05-14 14:15] swordfish6975 commented on #333
python openbazaard.py stop
On 15 May 2016 12:08 AM, "Dan" notifications@github.com wrote:

[2016-05-14 14:16] Fourdee commented on #333
@swordfish6975

Legend :+1:.

[2016-05-14 14:19] swordfish6975 commented on #333
To test it I brought a steam game and I've had a order come through. One of my orders that was in progress (I migrated my shop over) had the funds released from the multisig address and it all wnet fine.

[2016-05-14 16:30] xenfomation commented on #78
Update to @Fourdee

### DHCPD SERVER

Adding the DHCPD server is not an issue and is done.

Before I commit this, I would like to offer an optional web-based config tool, such as IPPlan (aka iptrack), etc, but the problem is that many of these once popular tools are... stable, but really old.

So, before I assume, I wanted to ask @Fourdee if it would be okay to actually to add "DHCPD Server" and "

[2016-05-14 16:51] Fourdee commented on #333
Unable to run OpenBazaar from outside its own directory...

[code]

[code]

Stop does not wait for program to exit. Takes roughly 10-60 seconds:

[code]

[code]

[2016-05-14 17:06] k-plan commented on #337
@arv187

have a look in all your posted output.
In your second installation you have loaded and installed the wrong driver:

If I follow your [posted link](https://www.raspberrypi.org/forums/viewtopic.php?p=849631#p849631) and read it correct, it should have to be:

https://dl.dropboxusercontent.com/u/80256631/8812au-4.4.10-v7-885.tar.gz

It's okay.Your WiFi credentials will be set via "dietpi-con

[2016-05-14 17:21] k-plan commented on #337
@Fourdee

Note: no such fiddling around with Odroid C1. Driver for Realtek 8812au in here:

[code]

But can't find it on C2 ...

[2016-05-14 17:23] avs-code commented on #337
You are right respect my wrong download, but one minute after (line n15) I installed the right versión. After try again and comment here.

[2016-05-14 17:33] k-plan commented on #337
@arv187

hmmm ... line nr. 31

---

:es: ?   :smiley:

[2016-05-14 19:09] avs-code commented on #337
Yes, im from spain xD.
Still not working, in test connection its ok because eth0 is plugin, if not wifi dongle power led on, but connect.
- Restarting networking services...
  ifup: interface eth0 already configured
  run-parts: /etc/network/if-pre-up.d/wireless-tools exited with return code 2
  Failed to bring up wlan0.

log: [http://pastebin.com/6w6SrfNL](url)

[2016-05-14 20:04] k-plan commented on #337
@arv187
- You are on DietPi v117?
- Can you please post `root@RPi-B-Plus:~# cat /etc/network/interfaces` ?
- Your access point is  visible on the scan list ?
- Access Point is on 2.4 or 5 GHz? What channel no.?
- `Max Usb Current  : Enabled` ?

- Output in `dmesg` with `cfg80211`, `usbcore`, `RTL871X` ?
- Have you manually edit config files, to get WLAN on work?
- Have install packets via `apt-get

[2016-05-14 21:10] rhkean commented on #261
@Fourdee
I need a place to upload the image.

[2016-05-14 22:56] avs-code commented on #337
I reinstalled image in sd card, because not boot, i record this video in slowmotion (I dont have usb keyboard not hdmi screen near of router) [https://drive.google.com/open?id=0B8EMglGxQawZbWNZUTNyWTRIbWs](url)
Not is the first time.

Well, @k-plan @Fourdee here are the data:

**1 You are on DietPi v117?
   2 Can you please post root@RPi-B-Plus:~# cat /etc/network/interfaces ?
   3 Your access poi

[2016-05-15 01:44] rhkean commented on #78
we already have a dhcpd server with pihole/dnsmasq

do we really want to add support for another one?

[2016-05-15 01:51] rhkean commented on #326
I'd have to agree with @k-plan

[2016-05-15 04:18] xenfomation commented on #326
I agree as well.  I wish I could fix the issue, but I can't and as a developer -- my support intentions were to really help you -- and I did -- but also to make sure I found a root cause analysis to report to @Fourdee ...

I didn't get there, but I really agree with everyone.  We do have much to work on, but also much to work for the very motto and spirit of DietPi.  With donations, support, and m

[2016-05-15 04:27] xenfomation commented on #78
Ha!  NO.  I did not know that and PLEASE FEEL FREE TO CLOSE!!!

[2016-05-15 05:19] xenfomation commented on #330
Despite my testing, glad you found that & thanks!

[2016-05-15 12:42] Fourdee commented on #326
I also believe this is the way to move forward. It will also help us track down issues, when and if they occur.

@vmfventura I'd highly recommend a reinstall and to follow @xenfomation advice above by installing 1 program at a time. I personally want to help fix any issues our users have, however, to do that, we will need your assistance and testing to help make that possible.

I'll mark this tick

[2016-05-15 12:42] #326 closed, assigned to Fourdee

[2016-05-15 12:50] Fourdee commented on #261
@rhkean o0o0o0o0o0o0o00o0 :dancer:

Sent you email with FTP details :+1:

[2016-05-15 13:17] Fourdee commented on #333
Resolved inability to run OpenBazaar from outside its own location. Not happy with it, but its a workaround, commit: https://github.com/Fourdee/DietPi/commit/8443d01a5e63d81d16ced06047315c0b9f17b55f

Now in final testing phase.

[2016-05-15 14:41] k-plan commented on #337
@arv187

thanks for sharing your boot-up video. Cool idea! 👍

Video:
- in the boot-up screen output,  there is running a file check (00:00:20) `/dev/mmcblk0p2`
- same at  `/dev/mmcblk0p1` FAT  `Dirty bit is set. Fs was not properly unmounted and some data may be corrupt.`
  Not a good sign. I hate to said this, problem with sd-card or worst PSU ?

![160515-0001](https://cloud.githubusercontent.com

[2016-05-15 15:06] Fourdee opened #338 "Cant uninstall additional linux options"
`dietpi-uninstall` missing removal code for the recent additions:  https://github.com/Fourdee/DietPi/issues/323

[2016-05-15 15:15] Fourdee commented on #333
Resolved C2 failed install. Was missing package `automake`

[2016-05-15 15:21] Fourdee commented on #333
Server tests. Running well (I disable UPnP on my internal network)

[code]

[2016-05-15 15:30] Fourdee commented on #338
Test completed. All items uninstalled correctly.

[2016-05-15 15:30] #338 closed, assigned to nobody

[2016-05-15 15:38] Fourdee commented on #333
Documentation : http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=1796#p1796

[2016-05-15 15:57] avs-code commented on #337
Thanks K-plan,
Forget the video hehe, I restored imagen in Sony class 10 sd card and after perform the test that I wrote before. worst psu, may be, its a apokin 2.1A, and I have a samsung usb memory, but system is installed in sd card only.

Sometimes in reboot no wifi or lan work, then I unplug PSU to reboot because I haven't usb keyboard or hdmi screen, may be that data is corrupted because this

[2016-05-15 16:14] k-plan commented on #337
@arv187

Best idea! 💯

Worst case, bad idea for sd-card and file system live.
Please fully format sd-card  (no Quick-Format) eg. with "SDFormatter"
In your case, I would start with a fresh install with default kernel (no rpi Firmware Update), (auto)update to DietPi v117 and no extra software. Install wifi firmware like describe above and get your network eth0 = static / wlan0 = dhcp on work. It sh

[2016-05-15 16:28] Fourdee commented on #333
Completed. Many thanks to @swordfish6975 for the initial installation code :+1:

@swordfish6975
If you want to test this prior to v118 release, please see: https://github.com/Fourdee/DietPi/blob/master/TESTING-BRANCH.md. And use documentation: http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=1796#p1796

[2016-05-15 16:32] Fourdee commented on #330
Will mark this as completed.

[2016-05-15 16:32] #330 closed, assigned to nobody

[2016-05-15 16:51] avs-code commented on #337
Please do this via dietpi-config. Best practice, disable WiFi via menu first.
    Then set ethernet to static (incl. DNS), save and restart network via menu.
    Test internet connection via menu. **online**
    Exit menu and logout ( ssh = exit ). If you now login (ssh) again, is a IP Address printed in login screen? **Yes, ever its showed ethernet IP,**
**For first time wifi led still alive, bef

[2016-05-15 17:02] avs-code commented on #337
[code]

[2016-05-15 17:16] k-plan commented on #337
@arv187

`ifup: interface eth0 already configured`
- your ethernet is working, you can login via ssh, have a static ip address, which is print correct on login prompt?
  Right?
- You start form the scratch with a fresh install? before writing image on sd-card, you have format it with SDFormatter?

BTW: you don't need sudo, you are root. You don't need manually `ifup` or `ifdown` if you use `dietpi

[2016-05-15 17:35] k-plan commented on #337
**_Note for other readers here:_**
- interface is configured via `dietpi-config` menu with DHCP and correct WiFi credentials and saved.
  ![160514-0006](https://cloud.githubusercontent.com/assets/17237601/15269649/1aa628d2-1a06-11e6-8c4a-83dc10fd37f4.gif)
- exit menu and executing by hand for testing:

[code]

Most of the error messages caused by  dietpi use only on file (/etc/network/interfaces)

[2016-05-15 18:19] avs-code commented on #337
ifup: interface eth0 already configured

your ethernet is working, you can login via ssh, have a static ip address, which is print correct on login prompt?
    Right? **Yes.**

You start form the scratch with a fresh install? before writing image on sd-card, you have format it with SDFormatter?
 **Yes, SDFormatter & win32 disk imager to write image. My first post was with kernel 4.1.19 & dietpi V1

[2016-05-15 18:28] Fourdee commented on #78
WiFi Hotspot installation uses DHCP server `isc-dhcp-server`, so that could always be split and modified.
Although, kind of agree with @rhkean. Most of our users are home users, with a router, existing DHCP capable network and no specific need for just a DHCP server on its own. Please correct me if i'am wrong :)

I'll mark this as closed. However, if people want to see a separated DHCP server inst

[2016-05-15 18:28] #78 closed, assigned to nobody

[2016-05-15 18:33] k-plan commented on #337
@arv187

my problem is,  you have now a different os software status (kernel 4.4.10-v7, java, node.js, samba, ssh) to my test system here.
but anyway ...
- disable wifi
- enable wifi
- set wifi to dhcp
- scan for your wifi access point
- set wifi password

and then screen shot from menu please (you can delete this later)

[2016-05-15 18:39] Fourdee commented on #333
As OpenBazaar has no options for logging to a file: https://github.com/OpenBazaar/OpenBazaar-Server#usage, attempting to redirect program output to file for logging purposes.

#### Daemon

Gets stuck in starting loop:

[code]

![image](https://cloud.githubusercontent.com/assets/7077026/15276024/c3dea97e-1ad3-11e6-9a56-d0d98fe9c708.png)

#### Non-Daemon

Can not be stopped with `python openbazaard.

[2016-05-15 18:47] Fourdee commented on #333
Cant see a way round this for now. Users will simply have to run it as a foreground process for debugging.
I've updated documentation to explain how to achieve this: http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=1796#p1796

[2016-05-15 18:54] Fourdee commented on #333
For the sake of "doing the ticket right" :). Commit: https://github.com/Fourdee/DietPi/commit/9457b34d27eb53b621e8a5fdeb7f8da97e02e9ee

[2016-05-15 18:54] #333 closed, assigned to nobody

[2016-05-15 18:57] Fourdee commented on #309
Going to move this outside the milestone as there is no rush, and not critical to v118's release. Give me a bell when your ready @xenfomation :+1:

[2016-05-15 19:18] xenfomation commented on #309
Thanks. The good news is that I have things ready to go for you, but your executive call gives us time to test your remote connection (three methods), etc.

Thanks, @Foudree

[2016-05-15 19:27] avs-code commented on #337
I enable guest access wifi connection with wpa/wpa2 with a key with 3 letters+1 number+3 letters+1 number. After in dietpi-config set dhcp, push in scan & connect, select my guest access ssid, this output only happen with this guest access wifi:

[code]

Following your instructions in my normal 5g ssid (disabling wifi):

[code]

Enabling, set to dhcp, scan, set pass:

[code]

![captura](https://cl

[2016-05-15 20:32] Fourdee opened #339 "DietPi-Software | Add optimized installation for Couchpotato"

[2016-05-15 22:24] rhkean commented on #339
I have automated installs for CouchPotato, HeadPhones, Sonarr, and NzbGet.

After I'm done with the PineA64 image, I will look into generalizing to code so that it can be bundled into DietPi.

It also streamlines the python and mono installs, so I'll break it out into individual "packages/bundles" for dietpi-software.

[2016-05-15 23:36] xenfomation commented on #78
Agreed as I am all about code, but not reinventing the wheel.  Network services are a must, but since we have it ... no need to break out a whiptail menu and offer a separate webstack to manage it (as of now! )

[2016-05-15 23:38] xenfomation commented on #330
Weekend shift done. And I saw the items you had to modify. Time to reinstall Git for Desktop as to avoid this again. Thanks!

[2016-05-16 11:44] Fourdee commented on #339
@rhkean Excellent, sounds good :+1:

[2016-05-16 11:59] k-plan commented on #337
@arv187

**_Output:_**
your first output looks good, but your device can't get a ip address via dhcp, because it can't login in AP/WiFi-Router (wpa/wpa2) or DHCP server on AP/WiFi-Router don't answer or give your device any address. You have a look in AP/WiFi-Router log files and `dmesg`
( e.g. see below: `RTL871X: start auth` , `RTL871X: auth success, start assoc` )

---

**_WiFi general:_**
Have

[2016-05-16 12:03] Fourdee commented on #223
@spiderkeys Apologies for the delay on this and thanks for sharing your script.

These warnings can be safely ignored.

[code]

Intresting, `df` fails to read the mounts. Can you try running `mount` at this point, any results?

[code]

This is because you are running DietPi scripts prior to running the main DietPi service `/etc/init.d/dietpi-service`. It can be safely ignored if your trying to cle

[2016-05-16 12:52] avs-code commented on #337
Thanks @k-plan I will check that.
But I dont understand why in openelec, raspbian, lubuntu or windows work fine.
Im using wpa/wpa2 - type of key: password (8 digits minimun) and a key similar to this:
3%J2t;uZ`@PpXYp,_b3m{||@bL=+iU z}=H[f So55vJ9H4Oj[d>Z0$iihYn]'E
WPA 504 bits 63 characters I think,

[2016-05-16 13:29] k-plan commented on #337
@arv187

yes all based on debian sources but ...
- openelec => own optimised mini linux image only to run Kodi (and different kernel)
- raspbian => run desktop environment with a network manager
- lubuntu => run desktop environment with a network manager (different kernel - based on ubuntu)
- windows => (_not really, or_?) different only graphical OS on different architecture (not ARM)

  . . .  a

[2016-05-16 14:23] avs-code commented on #337
There not option to select tkip or aes, so I think is aes only in my router.
My guest wlan show same error message and is set type: only wpa2, key: 123456789

[code]

But now I set dietpi-config menu wifi config to static and is connect.
I think that dhcp not is working in dietpi to my wifi.

[2016-05-16 14:29] avs-code commented on #337
root@DietPi:~# dmesg
[    0.000000] Booting Linux on physical CPU 0xf00
[    0.000000] Initializing cgroup subsys cpuset
[    0.000000] Initializing cgroup subsys cpu
[    0.000000] Initializing cgroup subsys cpuacct
[    0.000000] Linux version 4.4.10-v7+ (dc4@dc4-XPS13-9333) (gcc version 4.9.3 (crosstool-NG crosstool-ng-1.22.0-88-g8460611) ) #885 SMP Fri May 13 15:44:27 BST 2016
[    0.000000] C

[2016-05-16 14:34] avs-code commented on #337
![captura](https://cloud.githubusercontent.com/assets/16170732/15292576/013caeaa-1b84-11e6-8cca-91a2c8636b24.JPG)
Note that don't give me info about speed or strench

[2016-05-16 15:10] Fourdee commented on #337
@arv187

Can you post results of the following commands please?:

[code]

[2016-05-16 15:15] avs-code commented on #337
![captura](https://cloud.githubusercontent.com/assets/16170732/15293809/ec20247e-1b89-11e6-90b3-81232d8913e2.JPG)

[code]

[2016-05-16 15:18] Fourdee commented on #316
Looks like mysql install isnt applying credentials correctly during install:

[code]

notes:

[code]

[2016-05-16 15:22] Fourdee commented on #316
Issue is quotes gets sent as password. So in this case, password is actually set to `'dietpi'`

[code]

#### Now back to phpmyadmin:

As a test, I installed LLMP, rebooted, then manually installed phpmyadmin with apt-get:

[code]

Same issues.

Did what it asked, now installed fine:

[code]

[2016-05-16 15:26] k-plan commented on #337
@Fourdee

[code]

[code]

(_@Fourdee: I think, his device is not connected ..._)

[2016-05-16 16:36] Fourdee commented on #316
I just wanted to see if this is a specific DietPi issue, its not.

I did a manual `apt-get` installation of `mysql-server`, `lighttpd` and `phpmyadmin`, same issues. So the cause lies with the apt-get packages and their installation scripts. It is not related to DietPi in any way.

I'am personally not going to spend anymore time on this issue.
For now, we just need to make users aware they cant se

[2016-05-16 16:40] xenfomation commented on #316
No - I agree as the conf packages and my research (for sanity) shows this to be an on/off issue... I merely attempted to apply the manual order I always had success with + debconf for automation, so I concur with your ideas, @Fourdee

[2016-05-16 17:24] Fourdee commented on #337
@k-plan

Yep, i parsed your results with the current code, working fine:

[code]

@k-plan I've not been following this indepth, so I apologise if there is already a reason for static.
@arv187 Can I ask, have you tried using DHCP?

[2016-05-16 17:44] rhkean commented on #316
Can we add a check in the code for phpmyadmin that verifies that mariadb or mysql = 2 (not 1) and pop up a message?

that way...
 we can set mariadb=1 if the user just selects phpmyadmin w/out selecting a database
 Then, pop up a message that says, "please install phpmyadmin after the database is installed"

[2016-05-16 17:45] avs-code commented on #337
@Fourdee Yes, dont worry, i post you link to dhcp test.
https://github.com/Fourdee/DietPi/issues/337#issuecomment-219305372

Basically in dhcp mode I get this error with my guest wlan connection (easy numeric key):

[code]

And this with my 2,4ghz - 5ghz and a key similar to this:
3%J2t;uZ`@PpXYp,_b3m{||@bL=+iU z}=H[f So55vJ9H4Oj[d>Z0$iihYn]'E WPA 504 bits 63 characters.

[code]

[2016-05-16 19:38] axel-h commented on #306
(follow-up from http://dietpi.com/phpbb/viewtopic.php?f=12&t=417)
Enable and disable it via a config is a nice thing. However, the serial console should be enable by default. Currently (v115, Odrioid-C1) the boot.ini has three entries (console on serial, video, serial+video), and by default the option "video" is enabled. This should be "serial+video" by default, so everybody can see what is going

[2016-05-16 20:38] xenfomation commented on #316
I do like that idea very much.  I can use this to reconfigure stupid git desktop :)  and the warning is easy enough to pop up.

Whatever is decided on and who should do it, I support is my point. My personal backlog is living, adjusting my personal lab, and reconfiguring git desktop tonight / installing a rack for SBCs I will begin to acquire :)

[2016-05-16 22:12] k-plan commented on #313
@Fourdee

just a quick late hint, work as well:

[code]

https://www.raspberrypi.org/forums/viewtopic.php?p=919552#p919552

https://www.raspberrypi.org/forums/viewtopic.php?f=28&t=138731

---

`rsyslogd-2007: action 'action 17' suspended, next retry is Mon May  9 20:49:42 2016 [try http://www.rsyslog.com/e/2007 ]`

https://github.com/RPi-Distro/repo/issues/28#issuecomment-216640318

[2016-05-17 01:57] rhkean commented on #255
yeah, I agree with @Fourdee ... too many ubuntu packages.
I've confirmed this to be a problem on the Pine A64 board, also.
I think we should just install the vnc4server on arm64 systems until debian gets tightvnc_1.3.10

[2016-05-17 04:04] xenfomation commented on #255
Agreed. Even in x86 x64 Debian, I have encountered this with more and more packages (deps failing, malloc, and more).  ARGH!

[2016-05-17 04:14] xenfomation commented on #246
Delay to request has been to ensuring I reconfigure git scripts/git desktop to avoid collisions.

Thanks, everyone.

[2016-05-17 04:17] xenfomation commented on #247
Still prototyping outside of testing. Manual install, size, and testing before I share the results with @Fourdee.

Thanks for the patience @zone22

[2016-05-17 04:18] xenfomation commented on #247
Still prototyping outside of testing. Manual install, size, and testing before I share the results with @Fourdee.

Thanks for the patience @zone22

[2016-05-17 04:21] xenfomation commented on #194
Checking out Zim - as it is cool - and deps.  Thanks.

[2016-05-17 04:31] xenfomation commented on #194
Install reqs can be found at
http://zim-wiki.org/install.html

While there are custom options, I will run a stock install this week on RPI.  The reason is due to previous comments related to discussing user directories.

[2016-05-17 04:33] xenfomation commented on #191
Double checking deps based on recent Deb work with xrdp.  I used no machine, but will post findings.

[2016-05-17 04:38] xenfomation commented on #174
I think it may be worth adding a locale check: enforcing en_GB.UTF-8 for scripts.
- check current locale; save in variable original_locale
- set locale to GB utf-8
- set locale back to user preferred

[2016-05-17 04:41] xenfomation commented on #151
As a fan of mate, no complaints. Will manually test this week and report findings/level of effort

[2016-05-17 04:45] xenfomation commented on #41
One item of benefit I see is the ability to:
- remotely host optimized software references, etc
- remotely host Linux software references
- reduce level of effort to add packages to release by making installations as sql text type entries.

[2016-05-17 11:39] Fourdee commented on #313
@k-plan

Nice find. If this works with all adapters, would be a better solution than the current:

[code]

I'll have to give it a test with a few devices. If it doesn't break WiFi for the devices we have, cant see any reason not to add it in.

[2016-05-17 13:11] rhkean opened #341 "Add HW_ARCH to dietpi-obtain_hw_model and .hw_model"
We are starting to see more arm64 vs armhf installation situations.

by adding a line 6:  HW_ARCH to the dietpi-obtain_hw_model script, we can change the lines that look like this:
`if (( ( $HW_MODEL == 12 ) || ( $HW_MODEL >= 40 && $HW_MODEL < 50 ) )); then
`
to this:
`if (( $HW_ARCH == 3 )); then
`

proposed:

[code]

[2016-05-17 13:12] rhkean commented on #341
Seeking @Fourdee input, so I didn't automatically assign this to me....

[2016-05-17 13:30] Fourdee commented on #316
@rhkean
As per your suggestion :+1: , this should do it: https://github.com/Fourdee/DietPi/commit/4d87e824bc9d5a151b12473c24e7881cd7902cf3

[2016-05-17 13:41] Fourdee commented on #341
@rhkean Yep, was thinking about this the other day. Would be handy to have, rather than the current `HW_MODEL` we use now.

Dont think we need armel, all SBC's I know of these days have hardfloat support.

I'd probably suggest something like the following:

[code]

[2016-05-17 13:49] rhkean commented on #341
I knew that you'd have better insight!!!  LOL

[2016-05-17 14:54] k-plan commented on #261
_The DietPi image for Pine A64 has been created and implemented by Rhkean._

![dietpi-logo_150](https://cloud.githubusercontent.com/assets/17237601/15326187/5595dd0e-1c4d-11e6-8b11-0543a7a33422.png)
**DietPi for Pine A64:** _**Give your Pine A64 some lightweight justice**_

###### ALPHA notes:

For all up to date information and downloads for this release, please go to:
[forum.pine64.org - DietPi

[2016-05-17 16:08] Fourdee commented on #299
@studioai
Great find and thanks for sharing :+1:

[2016-05-17 16:08] #299 closed, assigned to nobody

[2016-05-17 16:13] Fourdee commented on #260
@k-plan
I'll mark this old ticket as closed as we dont maintain the kernel for the C1. It may be an issue with the kernel source, but the only way to know is try the ARMbian image and see if you can replicate the same issues: http://www.armbian.com/odroid-c1/

^^ awesome :)

[2016-05-17 16:13] #260 closed, assigned to nobody

[2016-05-17 16:16] Fourdee commented on #261
@rhkean
As your Pine image is now released :+1: , you can close this ticket at your leisure.

If you have outstanding jobs/fixes that you plan to add to the Pine, probably best to create a new ticket for each specific job, or whatever works for you.

[2016-05-17 16:18] Fourdee commented on #201
Going to close this.
Cant see myself buying another OPi PC board anytime soon, which i'd need to implement this request.

If anyone else has a OPi PC and wants to implement GL support, please reopen.

[2016-05-17 16:18] #201 closed, assigned to nobody

[2016-05-17 16:21] Fourdee commented on #73
Marking this as closed. Min frequency feature will stay disabled for foreseeable future.

[2016-05-17 16:21] #73 closed, assigned to nobody

[2016-05-17 16:33] Fourdee commented on #306
@axel-h
Fair comments and good feedback :+1: . Although I think the number of our users who actually use the serial line with DietPi, its probably <1%

Once i've implemented a serial switch menu in `dietpi-config`, I'll make a note to go through all our images and enable serial connection by default. Your suggestion for a "Do you plan to use a serial adapter" during 1st run is also a good idea.

T

[2016-05-17 16:45] Fourdee opened #343 "General | Disable serial console by default on all DietPi images"
#### This was originally a ticket to Enable serial console by default, however, please see reasons for this revert: https://github.com/Fourdee/DietPi/issues/343#issuecomment-226946848

Once implemented:
For the serial console to be available from 1st run, all images would need to be updated for the change to be active: https://github.com/Fourdee/DietPi/issues/306#issuecomment-219775734.

[2016-05-17 16:45] Fourdee commented on #306
@axel-h
I've created a separate ticket for serial console enabled by default: https://github.com/Fourdee/DietPi/issues/343

[2016-05-17 17:00] axel-h commented on #306
really <1% ? Maybe in the daily life. But actually I found it quite useful to keep the serial console working. In case something is not working, this is a chance to connect to the device and figure out what is broken. Usually the serial console does not die so easy. The only reason why one would really disable this is either because they need the serial console for something else or paranoia. A we

[2016-05-17 17:11] axel-h commented on #229
One use case might be that an accidental shutdown of the system does not do any harm. I had a few cases with other distributions where power loss makes the SD card unusable and only a fsck on another machine can fix this. But it might also be a weakness of the file system that is used - should just pick a better one. Or it's a bug in the Odroid's SD usage. We'll see if I run into this with DietPi

[2016-05-17 17:56] Fourdee commented on #261
@rhkean
On the social media band wagon lol:
https://twitter.com/DietPi_/status/732630498183368704

[2016-05-18 05:04] xenfomation commented on #316
Indeed, sir!  However, being in a working mood, I will make it a goal tonight!

[2016-05-18 05:47] xenfomation commented on #151
MATE is not light-weight -- even on disk space.  :)

Requires Xorg/Xauth (naturally!)
The core of MATE uses **600MB** of storage.
The full environment, minus accessories, uses **900MB** of storage.
Additional accessories/extras occupy more.

I am noting this for consideration in pre-installation checks as well as other discussions @Fourdee and others have raised, specifically for a relational data

[2016-05-18 12:32] rhkean commented on #255
@Fourdee
Can you test with my testing branch on the Odroid C2.
(I got lost in the pine64 and forgot to order mine.  it should be here in a couple days, though)

Anyhow, can you test my commits into the rhkean testing branch for vnc4server on the arm64.

It starts the display on :1 instead of :0

but, should do until tightvnc on arm64 gets fixed

[2016-05-18 13:22] Fourdee commented on #120
Updated to 6.1.6: https://github.com/Fourdee/RPi_Cam_Web_Interface/tree/6.1.6

Internal motion detection working well:
![image](https://cloud.githubusercontent.com/assets/7077026/15359991/b479c8a6-1d03-11e6-9782-9f7f2ab152f5.png)

External motion = error when loading motion options:

[code]

I'll set config to default to internal motion: https://github.com/Fourdee/RPi_Cam_Web_Interface/commit/6ca0

[2016-05-18 13:29] Fourdee commented on #120
I've also managed to remove 2 conf files from DietPi-Ramdisk. Should free up some memory.
https://github.com/Fourdee/DietPi/commit/a1e5d704e25133f81c2ea85b3775439d8a936e5b

[2016-05-18 13:52] Fourdee commented on #255
@rhkean Yep, installing now, will post results a bit later

[2016-05-18 14:08] Fourdee commented on #255
@rhkean
Yep, installed and running fine:
![image](https://cloud.githubusercontent.com/assets/7077026/15361606/128cfff2-1d0a-11e6-9561-ed8def24d9eb.png)

We need to
- get this running on `:0` if possible
- autostart support in `dietpi-autostart`. https://github.com/Fourdee/DietPi/blob/testing/dietpi/login#L99-L111, should just be a case of detecting `if HW_MODEL 12` or `dpkg -l | grep -ci -m1 'vnc4

[2016-05-18 15:04] rhkean commented on #255
excellent....

Let me know if you're ready for me to issue a pull request

On Wed, May 18, 2016 at 10:08 AM, Dan notifications@github.com wrote:

[2016-05-18 15:32] Fourdee commented on #255
@rhkean

Yep, send the pull request now if you like.

[2016-05-18 15:58] rhkean commented on #255
you know I added a systemd file, right?

it runs automatically

On Wed, May 18, 2016 at 11:32 AM, Dan notifications@github.com wrote:

[2016-05-18 16:20] Fourdee commented on #255
@rhkean
I just want to be consistent with the other installation (tightvnc), which doesnt run automatically: http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&start=30#p408

Because the documentation and how it runs will be different for both, I may separate the installation into tightvnc and vnc4server.

EDIT:
Or I could change tightvncserver to run automatically on `:1` as per vnc4server.

I'll have

[2016-05-18 16:53] rhkean commented on #255
makes sense....

Your call.  Feel free to "fix" my code, too.  It's your creation.

I didn't spend much time delving into how you had it configured.  I should
have so that it was consistent.

On Wed, May 18, 2016 at 12:20 PM, Dan notifications@github.com wrote:

[2016-05-18 18:04] k-plan commented on #260
@Fourdee

Yes, I had tried this, the first preview (won't boot up) and last beta (no Display output).
Have now realise, there is now Armbian 5.10 out. Will give it a shot, if I find spare time ... :no_mouth:
:laughing:
You will get a response.

[2016-05-18 19:37] Fourdee commented on #255
@rhkean
Not your fault. I'am just brainstorming :+1:

Its not a case of fixing code, just trying to add to it. There is alot of old DietPi in there that needs improvement and/or complete rewrite. Sometimes, its only when we update specific areas that I get a chance to have a good think about that code :)

I personally feel splitting the installation is the best call. From past experience, users wi

[2016-05-18 19:40] Fourdee commented on #260
@k-plan

Doesnt sound good lol. Would love to see the results of 5.1 if/when you get time to test it.

[2016-05-18 19:45] Fourdee commented on #341
Scrape/parsing notes:

[code]

[2016-05-18 23:55] xenfomation commented on #191
Update as, of course, xrdp works and requires < 13MiB of space!

Screenshots attached to show the result of `apt-get install xrdp`:

![xrdp1](https://cloud.githubusercontent.com/assets/10519408/15378541/52a7d116-1d32-11e6-942b-4b7a809e21b9.png)
![xrdp2](https://cloud.githubusercontent.com/assets/10519408/15378543/548c5bdc-1d32-11e6-9d6d-f6018c864369.png)
![xrdp3](https://cloud.githubusercontent.co

[2016-05-19 00:18] xenfomation commented on #250
Will be taking a look as there are many considerations, but I am all about automation.

[2016-05-19 11:25] perlian commented on #168
Will Seafile on DietPi have SSL access ?

if yes:
Self signed certificate or generated via lets encrypt ?

You know the standard install script is very insecure
So i installed my last Seafile  server with the debian script [https://github.com/seafile/seafile-server-installer/blob/master/seafile_v5_debian](url)
Works perfect with debian jessie

[2016-05-19 12:04] Fourdee opened #345 "BPi M2+ | Add support and create DietPi image"
As title.

[2016-05-19 12:05] Fourdee commented on #345
ARMbian build failing (for reference):
https://github.com/igorpecovnik/lib/issues/310#issue-155720159

[2016-05-19 15:27] k-plan commented on #345
@Fourdee

hmm... why BPi M2+ now? Do you get a developer sample device?
And why have to compile a new u-boot or kernel? Support for serial console?

[2016-05-19 18:22] xenfomation commented on #345
Cool!

[2016-05-19 18:23] xenfomation opened #346 "Diet-Pi"

[2016-05-19 18:26] xenfomation opened #347 "Diet-Pi Software | No Machine"
This secure, omni OS supported software acts as a remote desktop server or client. It is light weight and easy to install and configure.

Will provide more insight to these steps as for consideration to be included under Linux Software.

It is a secure alternative to xrdp - just hoping to diversify the offerings.

[2016-05-19 18:30] #346 closed, assigned to nobody

[2016-05-19 18:30] xenfomation commented on #346
Erroneous entry due to GitHub app glitching

[2016-05-19 19:30] Fourdee commented on #345
@k-plan

Yep dev sample board came today. Using ARMbian build tools to create a base Jessie image. Left a compile running when I took misses hospital, its failed again, so will look into it tomorrow.

[2016-05-19 19:35] Fourdee commented on #168
@perlian

SSL, not sure yet, will get back to you.

Thanks for the info :+1: , i'll take a look.

[2016-05-19 19:36] Fourdee commented on #346
@xenfomation

Github isnt very "new user" friendly, took me weeks/months to get into the swing of it lol. If theres anything I can help with, let me know.

[2016-05-19 19:44] Fourdee commented on #345
Looks like ARMbian build tools fails if `lirc` (IR receiver software) and `hostapd` (wifi hotspot) isnt enabled in the package list of `lib/configuration.sh`.
<img width="412" alt="armbian_fail" src="https://cloud.githubusercontent.com/assets/7077026/15407313/1e07c5f8-1e02-11e6-8711-c288a00c82e8.png">

Will try a default ARMbian compile tomorrow to verify. I'd use the ARMbian premade image if I co

[2016-05-19 21:03] Fourdee commented on #345
@rhkean
Interesting and awesome at the same time :)  :+1:

Not sure what links your after, hopefully these should help:
- ARMbian premade (Jessie server) image: http://www.armbian.com/banana-pi-m2-plus/ (1 partition)
- ARMbian build tools: https://github.com/igorpecovnik/lib#how-to-build-my-own-image-or-kernel . Add `BOOTSIZE=64` to `lib/configuration.sh` before you run `./compile.sh` to create a

[2016-05-20 02:57] rhkean commented on #345
that's it, the jessie image.

yes, I'm fairly certain that I can reconfigure it as 2 partitions.  But I don't have a board to test with...
But, here is what I believe will do it (kinda winging it, though)

1) looks like there's some u-boot stuff at the beginning of the image, so you'll need to copy that across

[code]

2) then create your partitions (I prefer parted.)
delete old partition

[code]

[2016-05-20 07:44] Fourdee opened #348 "LetsEncrypt fails to install"
https://github.com/certbot/certbot
Due to rename of LetsEncrypt to CertBot.

Update all references and git download links.

[2016-05-20 08:30] Fourdee commented on #348
Resolved for v119. Commit: https://github.com/Fourdee/DietPi/commit/fd0130fc5da1d33423f8ebfd2d240df1e4d61ee4

I'll give it a few months before renaming all LetsEncrypt name references in our code. Just in case they decide to change their name again.

[2016-05-20 08:30] #348 closed, assigned to Fourdee

[2016-05-20 11:49] Fourdee commented on #345
@rhkean
Thanks for this, I managed to get ARMbian to build with default packages in the end. But I will give your guide a go sometime :)

Had to manually strip packages afterwards:

![image](https://cloud.githubusercontent.com/assets/7077026/15426856/245db390-1e89-11e6-9304-176687604d4e.png)

[2016-05-20 12:22] rhkean commented on #345
cool.

If you get a chance to test my instructions, I'd appreciate it.... It'll let me know if I'm grasping some of the u-boot processes correctly.

[2016-05-20 13:02] Fourdee commented on #345
Cant promise it will be anytime soon, but I will give it a spin.

[2016-05-20 13:56] Fourdee commented on #345
#### So issues:

#### eth0 doesnt always come up after boot

[code]

#### No onboard wlan support

#### CPU max freq is sometimes 912mhz, instead of 1.2ghz

[code]

[2016-05-20 15:35] supercoollbob opened #349 "Orange Pi PC H3 kernel"
Please add the kernel http://www.armbian.com/orange-pi-pc/ of this distribution.
Kodi youtube work fine, tested 48 hours.

[2016-05-20 16:34] #120 closed, assigned to Fourdee

[2016-05-20 16:41] k-plan commented on #345
@Fourdee

Wow, sinovoip kept his word and really quick. Great news!
Congratulations and wish you less hitch as with Orange-Pi PC.

@rhkean

I like to test your instructions, if it is okay for you. Can not promise, whether I have the time and I get it on work for Allwinner A20 (cubietruck) based on armbian image. Zero/null knowledge and experience.
It not more that a fixed idea: [DietPi for Cubietr

[2016-05-20 17:05] rhkean commented on #345
@k-plan
send me a link to the image.  I will verify that the image is laid out the same way or not.  If it is, then the instructions should work as written.  If not, I'll try to modify them for the cubietruck image

[2016-05-20 17:05] k-plan commented on #347
@xenfomation

I personally like multi-platform-supporting-software. :+1:

https://www.nomachine.com/download

[2016-05-20 17:50] Fourdee commented on #343
List of current DietPi images with Serial console enabled by default. http://dietpi.com/downloads/images
:u6307: BPi M2+
:u5272: C1
:u6307: C2
:u5272: XU3/4
:u5272: RPi
:u6307: OPi-PC
:u6307: Pine64

I'll update it, as and when, each image is redone.

Yes, i like the Chinese symbols :+1:, for all I know, they could mean ***\* lol.

[2016-05-20 17:55] Fourdee commented on #345
@k-plan

Yep, a few days delivery, very impressed.

@rhkean

Just uploaded 1st M2+ image: http://dietpi.com/downloads/images/DietPi_BananaPi-M2plus-(Jessie).7z

This is roughly the the 10th compile of this image (including the failed attempts due to errors) using ARMbian build tools. Long day :-1:.

[2016-05-21 05:44] xenfomation commented on #309
@Fourdee  --  Tested download of image and import and all looks fantastic.

![import01](https://cloud.githubusercontent.com/assets/10519408/15446658/7d678fbc-1ef5-11e6-9fd8-5f63b38637a8.PNG)
![import02](https://cloud.githubusercontent.com/assets/10519408/15446655/7d632b34-1ef5-11e6-9a96-25196a0798ca.PNG)
![import03](https://cloud.githubusercontent.com/assets/10519408/15446656/7d647f02-1ef5-11e6-8f

[2016-05-21 05:49] xenfomation commented on #347
Thanks!  It allows me to access many of my machines - virtual or real, windows or linux-based - easily.

While the original install generates a very generic configuration, specifically for ports, could be augmented via a whiptail menu post installation.

I am wondering if items such as XRDP and NoMachine should be tied with tightnc, etc under header "---Remote Desktop Access----" or something that

[2016-05-21 08:23] k-plan commented on #345
@rhkean

thank you very much for your offer!  😃

Image: [Cubietruck Jessie Server with Legacy Kernel 3.4.112  ](http://mirror.igorpecovnik.com/Armbian_5.10_Cubietruck_Debian_jessie_3.4.112.7z)

Description: http://www.armbian.com/cubietruck/

[2016-05-21 10:11] perlian commented on #168
This could also be helpful
describes installing Seafile on ARM platforms
Did it yesterday on Odroid XU4 using [http://www.armbian.com/odroid-xu4/](url) and it works

[https://forum.seafile.de/t/tutorial-for-seafile-ce-nginx-dynamic-dns-on-arm/3023](url)

[2016-05-21 10:30] Fourdee commented on #309
@xenfomation
Excellent,, thanks for this :+1:

I'll update the website/forums today and get this image released. Great work JK :+1:

[2016-05-21 11:12] Fourdee commented on #349
@supercoollbob
As of v118, our OrangePi PC image is now built with ARMbian: https://github.com/Fourdee/DietPi/issues/329#issuecomment-218830125

I'am unable to fully test Kodi as my OPi PC HDMI output is dead. Let us know if you get any issues and reopen ticket if required.

[2016-05-21 11:12] #349 closed, assigned to nobody

[2016-05-21 13:46] Fourdee opened #350 "Transmission | Run as non-root user"
Due to Transmission-daemon service starting before network, and, `dietpi-service`:

[code]

Even though `dietpi-services` successfully disables the transmission-daemon service during install (so dietpi-services can take control), its somehow being re-enabled during reboot.

[2016-05-21 14:01] Fourdee commented on #350
notes:

[code]

#### Test

Disable Service:

[code]

Reload daemon and reboot:

[code]

Still has an enabled state, and not launched by `dietpi-services`:

[code]

What the .....?

[2016-05-21 15:00] Fourdee commented on #345
#### Notes to install DietPi to EMMC

[code]

#### Onboard EMMC R/W performance, for those interested:

![image](https://cloud.githubusercontent.com/assets/7077026/15449142/19a4c1de-1f6d-11e6-8b77-9fc2ee36cc15.png)

[2016-05-21 16:06] Fourdee commented on #345
Released under Beta: http://dietpi.com/phpbb/viewtopic.php?f=8&t=431#p1891

[2016-05-21 17:10] rhkean commented on #345
@k-plan
same process, but the Cubietruck image has a 2MB block at the beginning... so here's the modified instructions...

1) copy 2MB BOOT1/ATF/DTB binary blob section from image to SD card

[code]

2) then create your partitions (I prefer parted.)
delete old partition

[code]

3) create new boot partition

[code]

4) create new root partition

[code]

5) mount the image and new partitions

[code

[2016-05-21 21:08] xenfomation commented on #350
Woah.... that's nasty!  Argh...
`
echo "ENABLE_DAEMON=0" > /etc/default/transmission-daemon (or /etc/init.d/transmission-daemon)`
??

[2016-05-22 12:06] Fourdee commented on #350
@xenfomation
Good idea, `ENABLE_DAEMON=0` prevented the service from starting, but also when running `systemctl start transmission-daemon`

Ok, made my own systemD service for this:

[code]

Problem solved :) Service now starts when called by `dietpi-services start` during boot.

[2016-05-22 12:35] Fourdee commented on #350
Completed, will also patch existing systems during update.
Commit: https://github.com/Fourdee/DietPi/commit/09af08c53e9354d9b69e40ebe8470a73ac4b63ee

[2016-05-22 14:14] k-plan opened #351 "DietPi-Software | Porting on other SBC"
@rhkean

to not disturb #345 any more,  my testing results form your [instructions](https://github.com/Fourdee/DietPi/issues/345#issuecomment-220789385)

[code]
- serial output cubietruck first run with new prepared SD-Card:

[code]

Sorry, no success.

[2016-05-22 14:59] Fourdee commented on #341
Ok lets go with `uname -m`: https://github.com/Fourdee/DietPi/issues/341#issuecomment-220879616
We need to get a list going:

arm64 = aarch64
amd64 = x86_64
armv8 = armv8l
armv7 = armv7l
armv6 = armv6l

[2016-05-22 15:32] k-plan commented on #260
@Fourdee

really the very last test.

[code]

Did not get any boot.ini config on work, with my `setenv m "sxga"           # 1280x1024` monitor connected with dvi-2-hdmi cable.
Tested, dvi, vga, hdmi,  BPP Mode 16 and 32 bit, native hdmi resolution, en-and disabled VPU, but nothing.
So, no monitor output ...

Fiddling around with these crappy URAT-2-serial adapter to get some output.

[code]

.. an

[2016-05-22 15:47] Fourdee commented on #255
@rhkean @xenfomation
Any ideas how to write to a file, that has variables, but instead of writing the variable value, write the text as is, eg:

[code]

Another example:

[code]

But I want the file contents to contain `$(date)` and not the actual date.

edit: http://unix.stackexchange.com/questions/129084/in-bash-how-can-i-echo-the-variable-name-not-the-variable-value

Problem solved, escape the

[2016-05-22 17:17] rhkean commented on #351
@k-plan , bummer, and thank you....

I'll try to dive into this log and figure out what I missed.  Looks like a uboot issue, but I'm not sure.

[2016-05-22 17:39] k-plan commented on #351
@rhkean

thanks, and only do this, if you have really spare time. It's not essential, more a trial in order to understand, what going on during image building and what all you coding guys doing out here.
There's no harm if it don't work at the end. But it is possible, we all are able to learn a lot of thing.

[2016-05-22 18:57] rhkean commented on #341
I assume you're referring to the output the the arch command

RPi A+ :  armv6l
Odroid Xu4:  armv7l
pineA64+:  aarch64
virtualbox image:  x86_64

[2016-05-23 03:18] rhkean commented on #341
although, we should probably use

`uname -m
`
for portability

according to http://www.gnu.org/software/coreutils/arch , arch is not installed by default

[2016-05-23 11:26] Fourdee commented on #255
Ok, few changes to the install code, this is for both `TIGHTVNCSERVER` and `VNC4SERVER`:
- VNC servers will start automatically during boot. I really liked this Rob :+1:
- Service type is `idle`. Similar to "$all" in LSB. Basically runs last during boot.
- VNC will start using these settings in dietpi.txt (users can change them, reboot to apply):
- Removed lxterm from starting in `"$HOME"/.vnc/xst

[2016-05-23 12:03] rhkean commented on #255
@Fourdee

1st, That's awesome!

and 2nd... Please don't apologize for going over my code....  working together makes a better product.

[2016-05-23 14:00] Fourdee commented on #255
@rhkean
Excellent :+1:

All done, last commit (I did a few during testing): https://github.com/Fourdee/DietPi/commit/f276539b76d6cbe661520878358afc9d235c9880

[2016-05-23 14:44] rhkean commented on #255
Totally lazy question (I could go look in the code)

Did you remove VNC as a AutoStart/AutoBoot option (since it is starting up automatically now)?

[2016-05-23 15:22] Fourdee commented on #255
@rhkean
Yep, it used to be 6: https://github.com/Fourdee/DietPi/blob/testing/dietpi/dietpi-autostart#L85-L93

Patch to reset 6 to 0: https://github.com/Fourdee/DietPi/blob/testing/dietpi/patch_file#L794-L798

[2016-05-23 15:30] R1CH-T commented on #120
Hi.
I just changed to the "Testing" branch, updated to v119 and installed DietPiCam.
I can confirm that internal motion detection now works flawlessly. Fantastic work!
I may need to play around with it and adjust the sensitivity or maybe create a mask, but apart from that, it's working great.
Thanks for your efforts, Dan.
:+1:

[2016-05-23 15:32] Fourdee opened #352 "DietPi-Software | WiringPi will not install"
Fails on URL connection test. Most likely the download has been removed.

[2016-05-23 15:38] Fourdee commented on #352
Notes: So two issues:

#### Cert fails:

[code]

Add `--no-check-certificate` to all wget code in DietPi?

#### Wget not following redirects

[code]

Switch to curl?

[code]

Can we use curl for the `check_connection` function, we need:
- Only download x bytes of the target?
- Do a spider test, as per wget `--spider`?

[2016-05-23 16:04] rhkean commented on #352
both of these worked for me:

[code]

and

[code]

it did not get a redirect... I think your URL needs to be wrapped in quotes
I'm personally not a big fan of --no-check-certificate, but I understand its use these days with LetsEncrypt and the like out there....

but, in this case, I would recommend changing the URL to non-https

[2016-05-23 16:14] Fourdee commented on #352
@rhkean

Yep, i agree :+1:  Love the simple resolution by just taking out a `s` from url heh.

I think we will need to revisit certificates wget/curl at a later date. Theres even an option in LetsEncrpt to force https access, so in this case, simply changing to http, may not be a complete solution?

Either way, For now, i've changed https to http as per your suggestion. :+1:

Yep, i'am a donkey lo

[2016-05-23 16:23] Fourdee commented on #352
Done & tested ok: https://github.com/Fourdee/DietPi/commit/c009c06716602cf0feaf324a5a056fb54e870ffc
Will mark this as closed.

[2016-05-23 16:23] #352 closed, assigned to Fourdee

[2016-05-23 16:32] Fourdee commented on #341
@rhkean

Excellent :+1:

[2016-05-23 18:59] Fourdee commented on #309
@xenfomation
Just need the "setup guide" for XenServer and the forums when you get a chance. Then we can close this ticket :+1:

[2016-05-23 19:00] Fourdee commented on #345
Marking this as closed:
I will continue to support the M2+ and offer improvements/fixes during dietpi-updates.

[2016-05-23 19:00] #345 closed, assigned to Fourdee

[2016-05-23 19:01] Fourdee commented on #255
Marking this as closed. Great work Rob :+1:

[2016-05-23 19:01] #255 closed, assigned to nobody

[2016-05-24 05:52] crazyquark opened #353 "haproxy fails to start"
Looks like the default config for haproxy is broken as the service fails to start:
-- Logs begin at Tue 2016-05-24 08:20:23 EEST, end at Tue 2016-05-24 08:44:06 EEST. --
May 24 08:44:06 DietPi haproxy[14414]: [WARNING] 144/084406 (14416) : config : missing timeouts for proxy 'stats'.
May 24 08:44:06 DietPi haproxy[14414]: | While not properly invalid, you will certainly encounter various problems

[2016-05-24 16:00] Fourdee commented on #306
Notes: Serial console tested with script + PL2303
:u6307: C2
:u6307: C1
:u6307: XU4
:u6307: RPi Jessie
:u6307: RPi Wheezy
:u6307: BPi M2+
:u6307: OrangePi PC
:u6e80: Pine A64

#

#### RPi 3 Jessie issue, 100% cpu:

Resolved by `systemctl stop serial-getty@ttyAMA0.service`.
![image](https://cloud.githubusercontent.com/assets/7077026/15510899/476d8c48-21d1-11e6-94fe-535d8828647a.png)

[2016-05-24 19:06] crazyquark commented on #353
It would appear that the line causing issues is this:

listen stats _:1338
[ALERT] 144/220546 (12162) : parsing [/etc/haproxy/haproxy.cfg:60] : 'listen' cannot handle unexpected argument '_:1338'.

[2016-05-24 19:07] crazyquark commented on #353
Looks like a haproxy backwards compat issue:
http://www.serverphorums.com/read.php?10,1326393

needed to change that line to:
 listen stats
        bind *:1338

[2016-05-25 00:23] xenfomation commented on #41
Attaching a very basic, high-level overview of how a database could be leveraged within DietPi.

### The objective
- Keep running version-specific information of Optimized/Linux software for version XXXX of DietPi
- Keep track of scripts, configs, and other information for roll-backs
- Hold system configuration information for comparison/overrides
- Support templates for software installation, rem

[2016-05-25 00:24] xenfomation commented on #353
Hey, @crazyquark -- which version which version were you running before (and currently)?  Thanks!

[2016-05-25 00:37] xenfomation commented on #353
Well, I found the code -- will check out, correct, and test before reporting to @Fourdee ....

[code]

Will keep all posted on top of issue #309

[2016-05-25 01:03] xenfomation commented on #309
Thanks for the patience, @Fourdee & @rhkean  --  most of what I am documenting can be found on XenServer's public, open source facing website ([http://xenserver.org/](http://xenserver.org/)).  However, I am consolidating this to explain what XenServer is, where documentation is available, and how to use the Windows-centric tool to import the XVA file.

[2016-05-25 01:29] rhkean commented on #41
I think that a database backend is a fabulous idea.

If we go RDBMS, I think SQLite is the smallest choice that we already have support for.  It'll add about 1.5MB to the base image.
if we go noSQL, we already have REDIS support... that'll add 1.1MB

I don't have any noSQL experience, but I do have RDBMS experience (mysql, postgresql, sqlite, oracle, ms sql, etc)

but, it'll be a major rewrite....

[2016-05-25 05:16] crazyquark commented on #353
haproxy is now version 1.6.2
When I first started dietPi it updated my system to the latest DietPi version(from 115 to 118 I think).

[2016-05-25 11:12] Fourdee commented on #41
@xenfomation
Sounds good. I'd personally like to start with dietpi-software and a simple SQL DB so we can test it.

Heres my thinking:

[code]

Once thats available, we can add a few entries to the SQL DB. Then code DietPi-Software to use the unique ID for each peice of software. And see how it would be coded, most likley arrays eg:

[code]

If the SQL DB and changes are benefical to our devolpmen

[2016-05-25 14:01] Fourdee commented on #343
Ok so the initial coding is done: https://github.com/Fourdee/DietPi/commit/2922cb8cce7399c2737d42b7e9b895dd19e483c0

Serial console will now be enabled by default for all future images we create (eg: when finalize is run). The current images will remain disabled by default.

Users can also disable the serial console before running DietPi for the 1st time. `dietpi.txt` : `serial_console_enabled=0`.

[2016-05-25 14:08] Fourdee commented on #306
Ok its in dietpi-config, I need to test every device with new script and PL2303 serial adapter. Fun! lol

@rhkean
Are you able to test Pine A64 with serial adapter?

[code]

[2016-05-25 15:34] Fourdee opened #354 "DietPi-Software | Add LMS + SqueezeLite to ARM64 (c2/pine)"
Currently RPi is the only device that have these installation options available.

[2016-05-25 15:47] Fourdee commented on #354
Worth a shot:

[code]

Cant seem to find the perl modules in repo either: https://packages.debian.org/stable/perl/

[2016-05-25 16:01] axel-h commented on #306
Where do the 100% come from - is this new on V119 now? I've never seen this up to V118 on my Odroid-C1 board. There a "/sbin/agetty --keep-baud 115200 38400 9600 ttyS0 vt102" running that took 0:00.01 CPU time.

[2016-05-25 17:19] Fourdee commented on #306
@axel-h
Not sure to be honest, although this seems to be a RPi issue (Occurs with RPi3).

I tested Odroids with v119 today and all are fine.

[2016-05-25 17:44] Fourdee commented on #116
#### Notes:

Original source for package doesnt have arm64 available (https://dev2day.de/pms/ ):

[code]

Also seems the repo has broken dependencies and missing packages:
`echo -e "deb [arch=armhf] https://dev2day.de/pms/ jessie main" > /etc/apt/sources.list.d/plex.list`:

[code]

[2016-05-25 17:59] Fourdee commented on #116
Well, compiling is out the window. Looks like Plex server source isnt available on GitHub. So i'd assume Plex media server is not opensource.

Nor do they release or provide ARM binaries (only x86_32/64): https://plex.tv/downloads

So unless:
- anyone has another method of installing Plex media server on ARM's
- Has the ARM debian packages for Plex media server
- has the source code for the server

[2016-05-25 19:03] xenfomation commented on #353
Thanks, @crazyquark  -- this will allow me to ensure a condition is set to check for haproxy < = > 1.6.2

[2016-05-26 06:21] xenfomation commented on #41
Thanks for the feedback, gents -- this is the stuff I wanted to flesh out!

I to prefer a RDBMS as noSQL is kinda... table style.  I am already sorting out SQLite right now based on your suggestions, Dan.

Since Rob is cool with SQL/RDBMS' this should make for a good checks-n-balances situation... especially if we ever host remote repos, etc (a boy can dream, but he has to grow up)...

[2016-05-26 11:36] Fourdee commented on #341
Ok, this is done, wanted to get it in so we can start using HW_ARCH in our code:  :+1: https://github.com/Fourdee/DietPi/commit/e44ac7e31d757191c4dc6a628f0ed51503b2c734

Marking as closed.

[2016-05-26 11:36] #341 closed, assigned to nobody

[2016-05-26 11:46] Fourdee opened #355 "DietPi-Cloudshell | Syntax error"

[2016-05-26 13:49] Fourdee commented on #355
For reference: http://dietpi.com/phpbb/viewtopic.php?f=11&t=441&p=1929#p1929

[2016-05-26 14:56] Fourdee commented on #306
Looks like hciuart is causing the 100% cpu:

[code]

fine.

Attempt to start hciuart after boot:

[code]

[2016-05-26 14:57] rhkean commented on #341
@Fourdee
NICE!!!
sorry for my lack of contributions for the last week.... swamped at work.

[2016-05-26 17:03] Fourdee commented on #341
@rhkean
Yep, `HW_ARCH` should help clean up the code, and, make it easier in the long run, so was a good idea :+1:

No worries Rob :+1:  Do what we can, when we can :)

[2016-05-26 23:40] xenfomation commented on #41
I have a simple start to a sqlite schema. Should I post it here or is there reason to consider a third/prototype branch?  So much to do and glad to do it!

[2016-05-27 09:01] k-plan commented on #294
@Fourdee

https://github.com/Fourdee

![160527-0001](https://cloud.githubusercontent.com/assets/17237601/15603311/40e286a0-23fa-11e6-9885-60a48845ab34.gif)

[2016-05-27 10:00] k-plan opened #356 "DietPi-System | Default ARM Temp Limit - Thermal Throttling RPi-3"

[2016-05-27 10:38] Fourdee commented on #294
@k-plan
Bloody good spot :+1: Thanking you!

Updated :)

[2016-05-27 10:40] Fourdee commented on #294
@k-plan
Also, before I forget. I tried the DietPi logo with the current forum style weeks back, colours do not look right. So i had to revert it back to Fuzon logo. Most likely needs a new forum style to work with logo.

[2016-05-27 10:53] Fourdee commented on #41
@xenfomation

Excellent :+1:

I think your right, probably best to create a new fork/branch for this so we can dig in and play :+1: .
I'd recommend copying the testing branch (https://github.com/Fourdee/DietPi/tree/testing), stable at the moment and upto date.

[2016-05-27 11:24] Fourdee commented on #356
@k-plan
Thanks :+1:

I seen the results from your 70'c limit test. I'll run some today at 80'c (the official broadcom limit) and see if the cpu freqs are higher than 70'c. Just wondering if there is any benefit of a higher thermal limit, or if the clocks are roughly the same.

[2016-05-27 11:28] k-plan commented on #356
@Fourdee

[2016-05-27 11:42] Fourdee commented on #356
@k-plan
Thanks :+1:

i created a simple stress test, based on your temp check code:

[code]

[2016-05-27 11:54] k-plan commented on #356
@Fourdee

![red-dot](https://cloud.githubusercontent.com/assets/17237601/15607356/70c6b16c-2412-11e6-8e51-d0cff348bc26.gif)

[code]

💯

[2016-05-27 11:55] Fourdee commented on #356
#### 80'c thermal limit test:

Start temp = 49'c
throttles down after 16 seconds @ 76'c~
Levels off at: 870mhz~ @ 78'c~ after 39 seconds.
- Duration 1 Seconds
  temp=54.8'C
  frequency(45)=1200000000
- Duration 2 Seconds
  temp=58.5'C
  frequency(45)=1200000000
- Duration 3 Seconds
  temp=61.2'C
  frequency(45)=1200000000
- Duration 4 Seconds
  temp=63.4'C
  frequency(45)=1200002000
- Duration 5 S

[2016-05-27 12:22] Fourdee commented on #356
#### 75'c thermal limit test:

Start temp = 49'c
throttles down after 10 seconds @ 71'c~
Levels off at: 787mhz~ @ 75'c~ after 33 seconds.
- Duration 1 Seconds
  temp=58.0'C
  frequency(45)=1200000000
- Duration 2 Seconds
  temp=61.2'C
  frequency(45)=1200000000
- Duration 3 Seconds
  temp=62.8'C
  frequency(45)=1200000000
- Duration 4 Seconds
  temp=65.0'C
  frequency(45)=1200000000
- Duration 5 S

[2016-05-27 12:24] k-plan commented on #356
### 80°C thermal limit test:
- compress backup directory with Midnight Commander as tar.bz (set cpu cores on heavy load)

![160527-0006](https://cloud.githubusercontent.com/assets/17237601/15607816/ea53d610-2415-11e6-9a75-9565610e0fa9.gif)

[code]

- you push it to the limit to get clock speed of a **RPi-2**
- you push it to the limit of the 5,1 V / 2,5A PSU
- more heat and more energy consume
- y

[2016-05-27 12:30] Fourdee commented on #356
@k-plan

Lol. Yep, its one hot SBC, in a bad way hehe

Loving the smell of burning components coming from my RPi 3.

I think 75'c is a good value. Considering the internal temp sensor is off by upto 17'c (http://makezine.com/2016/03/02/raspberry-pi-3-not-halt-catch-fire/)

@k-plan Do you agree with 75'c? a good middle ground? We will only apply this to RPi3 devices in DietPi as default.

[2016-05-27 12:45] k-plan commented on #356
@Fourdee

**ONLY** if you have mounted a really good (copper) **heatsink** with good **thermally conductive paste** and not the crappy self-adhesive pads ...

Will you as well modify "_reducing the life of your device_" warning in  `cpu` ?
- 70°C will be moderate - but with barely effects.
- 80°C will push it to the limits of a RPi2 (don't know, if this has a thermal throttling - https://www.raspb

[2016-05-27 14:39] Fourdee commented on #355
Resolved for v119 and confirmed working by Erik :+1:

#### You can manually update DietPi-Cloudshell now by running:

[code]

[2016-05-27 14:39] #355 closed, assigned to Fourdee

[2016-05-27 15:44] Fourdee commented on #116
Turns out, although forcing deb `[armhf]` lets us try to install `plexmediaserver` on ARM64 using 32bit packages, this also causes the missing `plexmediaserver-installer` package error.
Rpi installed fine.

I'll get this added to all 32bit ARM SBC's (excluding Pine and C2)

[2016-05-27 16:45] Fourdee commented on #116
en_US.UTF8 installed, en_GB.UTF8 is default:

[code]

en_US.UTF8 must be the default locale on system, not just installed. Else, service wont start. Only applies to SBC installs of Plex when using the dev2day repo.

Where as, en_GB.UTF8 (or any locale) is fine for VM install. Also en_US.UTF8 does not need to be installed.

[2016-05-27 18:32] Fourdee commented on #116
Done, available for all DietPi devices, excluding ARM64 (Pine/C2).

https://github.com/Fourdee/DietPi/commit/8dea1682c6170720d3b304b8fc935a7c7a944720

[2016-05-27 18:32] #116 closed, assigned to Fourdee

[2016-05-27 18:48] Fourdee commented on #356
@k-plan

No idea, not installed the official Raspbian for a while lol ;)

Edit, its 85'c: https://www.raspberrypi.org/documentation/configuration/config-txt.md

`

Yep i agree, should allow for a reduction in the onscreen warnings, whilst preventing sustained heat damage to the device.
I think 70'c should be for RPi3 default, it needs it. In my tests, RPi1/2 wont reach 65'c unless massively overcl

[2016-05-27 22:54] xenfomation commented on #41
Will do in 30 minutes and setup a playground for you & @rhkean to dive into for hands on sql over exposure. :)

[2016-05-27 23:00] xenfomation commented on #339
Nice!  And @Fourdee -s pun, too!!

[2016-05-27 23:46] xenfomation commented on #195
My error in letting this one slip by!  I had tested this with MATE and will be adding the manual steps to this shortly followed by "code"! :)

[2016-05-27 23:48] xenfomation commented on #191
Working on re-testing and incorporation under "Software Linux" -> "Remote Desktop".  Seems logical to me as each package will have the description to state "Server" or "Client".

[2016-05-27 23:49] xenfomation commented on #151
Working on this, literally now, for addition to installation options.

[2016-05-28 00:41] xenfomation opened #357 "DietPi-Software | GNUStep Desktop Environment"
While I am working on #151 and others, I thought I would add this as well.
Tested and good!
![image 002](https://cloud.githubusercontent.com/assets/10519408/15624019/6c089d96-244b-11e6-8127-13ecede6da83.png)

[2016-05-28 00:49] xenfomation commented on #195
Successful & tested on v118 w/ MATE, GNUStep, and others -- adding code tonight!

![image 003](https://cloud.githubusercontent.com/assets/10519408/15624073/772a6262-244c-11e6-89cf-f66b0fd29c32.png)

[2016-05-28 03:22] rhkean commented on #41
nice!
yeah, I'd definitely create a new branch

[2016-05-28 08:01] k-plan commented on #356
@Fourdee
after sleep a night over this question, I personally think 80°C will be a good value.
My test are not based on synthetic benchmarks, its a multi-core packer, in step with actual practice.
But yes, not really the  core purpose of a SBC.
- 70° C - not enough performance (throttling down to 600 MHz - RED) and yellow warning comes up quick.
- 75° C - the same - no barely effects. Yellow and R

[2016-05-28 10:09] Fourdee commented on #357
@xenfomation
Nice :+1: Although, GNUStep is a new one for me. Looks lighter than LXDE?

[2016-05-28 10:21] Fourdee opened #358 "DietPi-Software | Add Minecraft Server"

[2016-05-28 11:39] Fourdee commented on #306
RPi3 notes:
- Requires `core_freq=250` mhz, else, corrupt characters (https://www.raspberrypi.org/forums/viewtopic.php?f=63&t=138162)
- Uses `serial-getty@ttyS0` service instead of `serial-getty@ttyAMA0.service`
- `serial-getty@ttyAMA0.service` must be disabled as this generates 100% cpu linked with hciuart.
- /boot/cmdline.txt `console=ttyAMA0,115200` and `console=ttyS0,115200` both work. Doesnt

[2016-05-28 18:41] Fourdee opened #359 "DietPi-Cloudshell | IP/Mac missing"

[2016-05-28 18:46] Fourdee opened #360 "General | Test RPi experimental sound quality improvements"

[2016-05-28 20:31] k-plan commented on #356
### new: 80°C thermal limit test:
- new: cheap alu heatsink with cheap white thermally conductive paste
- compress backup directory with Midnight Commander as tar.bz (set cpu cores on heavy load)
- Start Temp.: 41.3° C
-  Runtime: after 15 min thermal throttling take place. (ligth grey/yellow warning comes up)

[code]
- max. Temp.:  76.3° C - min. Freq.: 1100 MHz - load average: 1.76

https://www.

[2016-05-28 23:26] xenfomation commented on #358
My youngest son just went bonkers as he walked by me a few moments ago.  He says "Please and Thank You!" because I used to mod MineCraft ;-)  Family dogs, weird characters, ability to break blocks easier, etc. Looks like I'll have to code for him (or teach him a trade!)

[2016-05-28 23:27] xenfomation commented on #295
Quick question -- as this is in v118, do I need to close #295 from my fork (it points to xenfomation/DietPi#1)?

[2016-05-28 23:32] xenfomation opened #361 "DietPi-Software | Question - CLI-Based grouping of software"
Inquiry to @Fourdee, @rhkean, and all --

For Software-Optimized and Software-Additional, is it worth adding a Category/Group Collection of "Command Line/Text-Based Software"?

For example, ViFM (VI-based File Manager) is CLI based (along with many packages I will be adding to software) and while it may seem logical to group these as "CLI-Based" to save space on the description, does it seem like

[2016-05-28 23:39] xenfomation commented on #245
All,

I am still working on this, however with work on #271 I have to consider USB devices, as well.
Thanks for your patience and if anyone has had success with command-line installation of specific utilities, certainly copy and paste:

What packages were installed?
What configs were generated?
Which distro for SBC was used?

This request comes due to the age of this ticket and the information pro

[2016-05-28 23:42] xenfomation commented on #41
Thanks gents -- shot you an email as I am working on my backlog right now:

#361 - cli grouping of software?
#357 - DietPi-Software | GNUStep Desktop Environment #357
#347 - No Machine & stock configs
#353 - haproxy fails to start #353
#325 - DietPi Idea | Sourceable script with pre-defined color codes #325
#309 - xenserver docs
#247 - DietPi-Software | Add Friendica: A Personal Social Networking

[2016-05-28 23:43] xenfomation commented on #353
This is the highest item on my backlog list and I will have a commit today for this.

#353 - haproxy fails to start #353
#361 - cli grouping of software?
#357 - DietPi-Software | GNUStep Desktop Environment #357
#347 - No Machine & stock configs
#325 - DietPi Idea | Sourceable script with pre-defined color codes #325
#309 - xenserver docs
#247 - DietPi-Software | Add Friendica: A Personal Social N

[2016-05-29 00:49] xenfomation opened #362 "DietPi-Banner | Proposal for stats"
Use case is:
- I use various locales, specifically en:US|UK|DE
- I use various dev machines with static IPs
- Just a proposal for how to go about adding useful login/head information?
- Displays IPv4/6 information along with hostname, locale, and uptime -s

![dietpi-login-stats-proposal](https://cloud.githubusercontent.com/assets/10519408/15630733/3c2d7982-2515-11e6-908d-fbc2bc534bbb.PNG)

Attache

[2016-05-29 02:48] rhkean commented on #356
I only have an RPi 2.  Sorry

[2016-05-29 04:59] xenfomation commented on #356
Same here... all the glory... no pay ;-)

[2016-05-29 05:01] xenfomation opened #363 "Stub | ViFM to Software Additional"
Per work on #295 I had left out ViFM as a command-line file manager.
In testing my backlog, I have created this ticket to track the original ticket and additional software that was intended to be added.

[2016-05-29 05:05] xenfomation commented on #151
Update on pre-pull request
- Git clone of TESTING
- Added under Software Additional as it is not optimized
- Added MATE (full installation + extras) - 1.1GB of space
- Installs XServer/Xauth, Iceweasel, p7zip, and ALSA

Menu Screenshot:
![mate-test1](https://cloud.githubusercontent.com/assets/10519408/15631446/5fd1a204-2539-11e6-8fc8-d018be6dab62.PNG)

Wrapping up testing before commit/pull reques

[2016-05-29 05:08] xenfomation commented on #151
Installation from raw v118 to MATE Desktop, IceWeasel, ALSA, etc good
![mate-good](https://cloud.githubusercontent.com/assets/10519408/15631463/cddc4a4c-2539-11e6-9c37-224a4bb7533a.PNG)

[2016-05-29 05:10] xenfomation commented on #363
Per work on #151 - testing addition of ViFM for CLI-based file manager
![vimfm-test1](https://cloud.githubusercontent.com/assets/10519408/15631487/e52aa9f4-253a-11e6-8473-33b44f610d92.PNG)

[2016-05-29 05:51] xenfomation commented on #357
It is lighter than LXDE and while I had looked at CDE, this was the closest Optimized Desktop I could think of.  GNUStep is a project based on Steve Job's NEXT project -- [https://en.wikipedia.org/wiki/GNUstep](https://en.wikipedia.org/wiki/GNUstep).

Before RedHat and other distros went mainstream, etc -- these were the first Desktops I recall being ported.  AIX still uses CDE, which felt more na

[2016-05-29 07:03] xenfomation commented on #357
Re-tested #357 and #151 from test branch/v118:
- All looks good for both
- Added GNUStep under Software Optimized based on its lightweight purpose
- Working on VNC Server X dependency option: if VNC Server is selected, currently it will default to LXDE unless MATE or GNUStep are selected

`#Installs that require DESKTOP_LXDE
                if (( $TIGHTVNCSERVER == 1 )); then

[2016-05-29 07:56] xenfomation commented on #191
Tested and preparing to commit.

XRDP is under Software Optimized -- works with LXDE, MATE #151 , and GNUStep #357 .

![xrdpsuccess](https://cloud.githubusercontent.com/assets/10519408/15631989/5974b140-2551-11e6-8081-48c99d4bebd5.PNG)

[2016-05-29 08:06] xenfomation commented on #347
NoMachine tested and working.

![nomachine](https://cloud.githubusercontent.com/assets/10519408/15632019/aaf19e7e-2552-11e6-8d08-abd1d1cb41bc.PNG)

It supports different architectures, so hardware models will need to be considered, @Fourdee --

[https://www.nomachine.com/download](https://www.nomachine.com/download)

[http://download.nomachine.com/download/5.1/Linux/nomachine_5.1.26_1_amd64.deb](h

[2016-05-29 08:53] xenfomation commented on #195
Tested and added to my fork.

[2016-05-29 11:15] Fourdee commented on #362
Yep, i think we can add some of these in. Although the banner would need cleaning up (move stuff around).

I think these should be in:
- Uptime
- IPv4
- IPv6

The items i think might be useful, but not necessary:
- Hostname

The items i personally feel shouldnt be there:
- Locale. Maybe we could scrape the current locale and add that to `dietpi-config` language menu instead?

[2016-05-29 11:18] Fourdee commented on #362
Just an idea, maybe we could do a `dietpi-sysinfo` script. Similar to cpu  `dietpi-cpuinfo`? Instead of filling up the banner? Then we can add as much info as we want :)

[2016-05-29 11:20] Fourdee commented on #306
Add question in DietPi-Software during 1st run setup, eg: If user wants to disable serial console.

[2016-05-29 12:54] Fourdee commented on #306
Done.

Although Pine64 will remain untested (do not have one yet), unless, @rhkean you have a serial adapter and can test it? https://github.com/Fourdee/DietPi/issues/306#issuecomment-221587312

I'll mark this as closed. will reopen if needed.

[2016-05-29 12:54] #306 closed, assigned to Fourdee

[2016-05-29 13:34] Fourdee commented on #359
Update network details during init of dietpi-cloudshell?:

[code]

[2016-05-29 13:55] Fourdee commented on #311
@k-plan

Will go through these, i'll update it as and when:

#### WiFi Hotspot - DNS-Server selection (like new menu under interfaces) in dietpi-config

Hostapd uses the DNS server of eth device. So users can change the eth DNS server to affect both.

[2016-05-29 15:58] rhkean commented on #306
Since the kernel for the Pine64 is still in flux, it's probably not a good idea to disable its serial output.

I don't have a PL2303 serial adapter, though.  I actually talk to the Pine64 through a RPi's ttyAMA0 port.

But, I'll look at when I get home tomorrow night.

[2016-05-29 16:40] xenfomation commented on #362
I completely agree, @Fourdee -- I hated filling up the screen, especially when using SSH/Terminal access.  Obviously I am cooking with NASA rocket fuel this weekend, so I think I can definitely cook something up -- even something with a webhook so one could poke, say:

http://myhost.mydomain:1234
(prompts for authentication and that is the only stateful bit!)

Prototypes will be sent your way afte

[2016-05-29 16:41] xenfomation commented on #363
@Fourdee -- for tickets we have arranged the commit -> pull request, do I need to assign them back to you for testing, etc?  Just want to ensure I am following protocol

Cheers!

[2016-05-29 16:44] xenfomation commented on #347
@Fourdee --

So as part of my check-in, I realized I had no mapping of HW_MODELS & Descriptions as to add an IF/THEN/ELSE condition so that the right DEB package is pulled from NoMachine's downloads.

I can add those in as they support x64, ARMv6, and even ARMHF has a lot of support for tons of boards.

[2016-05-29 18:33] Fourdee commented on #363
@xenfomation
Just send a pull request, make a note of whats been changed/added, then put a @fourdee in there. I'll then take a look :+1:

[2016-05-29 18:51] Fourdee opened #365 "HiFi Shield | No sound"
Pending arrival of HiFi Shield (Tuesday)

[2016-05-29 18:54] Fourdee opened #366 "Kernel 3.14.65+ Kernel support requires additional boot.ini settings"

[2016-05-30 11:54] Fourdee commented on #359
Added `/DietPi/dietpi/func/obtain_network_details` during init of DietPi-Cloudshell.

Possible workaround, pending testing from user.
This should prevent the "kernel eth0/1 switching during boot" causing missing data from the scene: http://dietpi.com/phpbb/viewtopic.php?f=11&t=443&p=1967#p1973

[2016-05-30 14:23] Fourdee commented on #334
Ok, so the new Userdata location is `/mnt/dietpi_userdata` for both USB drive and Flash storage. This will only take effect for new installations in DietPi-Software. Existing installed software will use the previous location/s.

If the user has a USB drive, a symlink will be created. All data that exists in `/mnt/dietpi_userdata` will be copied to USB drive beforehand:

[code]

If user has a custo

[2016-05-30 14:25] Fourdee opened #367 "DietPi-Software | Update Pi-hole installation to latest version"
as title

[2016-05-30 14:25] Fourdee commented on #367
Done.

[2016-05-30 14:25] #367 closed, assigned to Fourdee

[2016-05-30 15:32] Fourdee commented on #350
Ok, this is still occurring on my C2, but only when using DHCP instead of STATIC IP. So most likely `dietpi-services start` (and transmission) is started before DHCP offer is completed.

Attempted to obtain logfile data. Generates file but doesn't write to it:

[code]

Not a permissions issue:

[code]

[2016-05-30 17:34] Fourdee opened #368 "General | Support multiple WiFi SSID's and auto connect to one during boot."
Considerations:
- Allow for multiple wifi credentials in dietpi.txt
- Create a script during boot that does a `iw scan`, match against our dietpi.txt list,  then update `/etc/network/interfaces` with the required info. Finally connect.
- Somehow integrate saving/loading wifi creds in `dietpi-config`

[2016-05-30 17:43] Fourdee commented on #334
Tests fine.

[2016-05-31 15:45] Fourdee commented on #365
#### Enable HiFi Shield+

[code]

[code]

#### Disable HiFi Shield+

[code]

[code]

[2016-05-31 16:03] Fourdee opened #369 "DietPi-Software | Shairport sync fails to install (ARM64)"
Compile arm64 binary

[2016-05-31 16:04] Fourdee commented on #369
Completed and install code updated.

[2016-05-31 16:04] #369 closed, assigned to nobody

[2016-05-31 16:06] Fourdee commented on #365
ToDo:
- Add to dietpi-set_soundcard
- Add to dietpi-config for c1/c2
- Update dietpi-software installation code for c1/c2 audio based apps. To use function, instead of default hdmi asound.conf

[2016-05-31 18:58] Fourdee commented on #360
Sounds good.

Available in `dietpi-config` > audio options > soundcard `rpi-bcm2835-UltraHQ`

[2016-05-31 19:01] #360 closed, assigned to Fourdee

[2016-05-31 19:22] Fourdee commented on #365
Completed.

[2016-05-31 19:22] #365 closed, assigned to nobody

[2016-05-31 19:31] Fourdee commented on #334
Completed.

[2016-05-31 19:31] #334 closed, assigned to Fourdee

[2016-05-31 19:34] Fourdee commented on #366
`boot_c2.ini` is done.

[2016-06-01 12:08] Fourdee commented on #366
New boot.ini is not compatible with previous kernel versions (breaks kernel boot). Old boot.ini is not compatible with latest kernel.

[2016-06-01 12:31] Fourdee commented on #366
Completed.

[2016-06-01 13:59] Fourdee commented on #366
[code]

v118 installation, upgraded to v119:
- Fine

Fresh C2 image:
- update to v119, reboot,
-  3.14.65+ is now active kernel.
- run through dietpi-software, `linux-headers-3.14.29+* linux-image-3.14.29+*` gets autoremoved as 3.14.65+ is installed.
- Reboot, hangs on starting kernel.

#

Ok, so , we need to upgrade to 3.14.65+ via `linux-headers-arm64-odroid-c2 linux-image-arm64-odroid-c2` packa

[2016-06-01 16:01] Fourdee commented on #311
Updated Pi-Hole to latest for v119 to prep for this.

[2016-06-01 16:15] Fourdee commented on #366
Existing install with v118 > v119 update = fine
Fresh install with v115 image > v119 = fine
Fresh install with v119 image = fine

All running 3.14.65+ with latest boot.ini

Done.

[2016-06-01 16:15] #366 closed, assigned to Fourdee

[2016-06-01 16:40] Fourdee opened #371 "Update all online documentation referencing user data locations to /mnt/dietpi_userdata"
[code]

Is now replaced with `/mnt/dietpi_userdata`

http://dietpi.com/phpbb/viewtopic.php?f=8&t=5
Nice big job for me lol.

[2016-06-01 17:00] k-plan commented on #371
@Fourdee

another "nice job" will be to update  this: [DietPi-Config | Feature rich config tool for your device](http://dietpi.com/phpbb/viewtopic.php?f=8&t=63)

Sorry ...  :smile:

[2016-06-01 19:19] Fourdee commented on #371
@k-plan
:+1:
Updated :dancer: http://dietpi.com/phpbb/viewtopic.php?f=8&t=63

[2016-06-01 21:00] squirrelboot opened #372 "Error: Obtained server version value from github is invalid. Please try running dietpi-update again."
Hello,

I am having the same issue as [here](https://github.com/Fourdee/DietPi/issues/331).
I used the fix [here](https://github.com/Fourdee/DietPi/issues/301).
However, **this did not work**.

Outputs:
cat /DietPi/dietpi.txt
Was blank.

cat /DietPi/dietpi/.version
115

cat /DietPi/dietpi/dietpi-update
http://pastebin.com/CEYfauMQ

[2016-06-02 06:56] studioai commented on #350
I solved this problem by editing my transmission-daemon.service like below

[code]

[2016-06-02 10:25] Fourdee commented on #350
@studioai
Nice fix :+1:

I'll look into making `rc.local` start after dhcpd aswell. Since that service calls `dietpi-services start` (eg transmission) during boot, this should fix transmission:9091 and "missing IP" from banner when in dhcp mode.

Notes:
- Turns out we dont use dhcpd in DietPi. Its dhclient (isc-dhcp-client) , but I cant find a service for it.
- `systemctl enable systemd-networkd-w

[2016-06-02 10:34] Fourdee commented on #372
@squirrelboot

dietpi.txt should not be blank. The file also contains the `gitbranch` var that `dietpi-update` will use. So lets get that file back.

[code]

Now try running the update again.

[2016-06-02 12:13] Fourdee commented on #350
Fixed: https://github.com/Fourdee/DietPi/commit/b0ca6c7f33f06d6b105ec284d473233d1832a72b
`boot` script which is called by `dietpi-service.service` during boot, will now wait for a valid connection before continuing. Max 10 seconds wait.

This also resolves:
- https://github.com/Fourdee/DietPi/issues/284#issuecomment-217544170

This might resolve:
- https://github.com/Fourdee/DietPi/issues/359

[2016-06-02 12:53] Fourdee commented on #356
@k-plan

So from what I've can read, the internal temp has roughly a 10'c offset to the actual external temp. So, 85'c is the official thermal limit of the SoC. Therefor, 75'c thermal limit should be acceptable.

I'am still not personally comfortable with > 65'c. But lets go for **75'c limit on the RPi 3**, it clearly needs it.

@xenfomation

Join the club lol

[2016-06-02 13:01] Fourdee commented on #356
@k-plan

Warning for high thermal limit temps in dietpi-config:

[code]

[2016-06-02 13:11] Fourdee commented on #356
Done, patched for all RPi3 users. Will mark as closed.

[2016-06-02 13:11] #356 closed, assigned to nobody

[2016-06-02 14:33] Fourdee commented on #350
Did some testing with STATIC IP. IP address not showing in dietpi-banner again. lol...

debugging:
- `while (( ! $(route | awk '{print $4}' | grep -ci -m1 'UG') ));` doesn't get triggered. `route` is providing us with a valid UG result (up, has gateway). Although a `ifconfig` at the same time provides no IP address.
- Removed netplug package. Now while loop gets triggered correctly.

So netplug mu

[2016-06-02 17:28] k-plan commented on #371
@Fourdee

really good and very quick realisation. :smile:
:100:  :+1:

Thank you very much.

[2016-06-03 02:45] xenfomation commented on #371
Noted for #271

[2016-06-03 02:53] xenfomation commented on #372
I have tested this myself, but without the same results:

![test01](https://cloud.githubusercontent.com/assets/10519408/15767274/aad50cbc-2914-11e6-8320-157df29498dc.PNG)

![test02](https://cloud.githubusercontent.com/assets/10519408/15767289/c4a05250-2914-11e6-93cd-4482b9204997.PNG)

[2016-06-03 16:18] Fourdee commented on #371
Think i got all the references updated to `/mnt/dietpi_userdata` on forum docs. Will leave this open just in case @k-plan wants to kindly check :+1: :+1:  _wink wink_ hehe

[2016-06-03 22:43] k-plan commented on #371
@Fourdee

---

http://dietpi.com/phpbb/viewtopic.php?p=55#p55
- In the address bar at the top type ftp://root:`raspberry`@192.168.0.100 press enter.

Accessing ProFTP with a FTP Client:
username = root
password = The same as your root login password. Default is `dietpi`
address = Your ip address (eg: 192.168.0.100)

---

http://dietpi.com/phpbb/viewtopic.php?p=68#p68

DietPi will automatically sav

[2016-06-04 04:04] xenfomation commented on #41
So, just to foster the discussion -- I've been breaking out more scripts into database objects (SQLite, albeit MSSQL/MariaDB compatible for the most part).

## The Goal is DietPi-Software

To break out dietpi-software, we need a primary database, such as: DIETPI_DB_VXXX.
Therein, we need a series of tables to contain a DIRECT "DIETPI_SOFTWARE" table, but also associative tables to reduce overhead

[2016-06-04 10:43] Fourdee commented on #371
@k-plan

Good spot :+1:

Yep, thats right. DietPi-Ramlog mode 2

Yep, required so user can enter their login creds for their weaved account.

Yep, this is where WiringPi is installed. It contains samples, examples the user can run. As well as docs.

[2016-06-04 12:06] Fourdee commented on #357
Additional implementation and testing for reference: https://github.com/Fourdee/DietPi/pull/364

[2016-06-04 12:06] Fourdee commented on #151
Additional implementation and testing for reference: https://github.com/Fourdee/DietPi/pull/364

[2016-06-04 12:07] Fourdee commented on #191
Additional implementation and testing for reference: https://github.com/Fourdee/DietPi/pull/364

[2016-06-04 12:08] Fourdee commented on #195
Additional implementation and testing for reference: https://github.com/Fourdee/DietPi/pull/364

[2016-06-04 12:09] Fourdee commented on #363
Additional implementation and testing for reference: https://github.com/Fourdee/DietPi/pull/364

[2016-06-04 12:56] k-plan commented on #371
@Fourdee

sorry, so fare no time to test on a clean install v.119, but  ...

 . . .

In v119 now it will be:  `/mnt/dietpi_userdata/logfile_storage` ?

will be:

[code]

and:

[code]

... what will be the question. But I see, I have to test it be myself ... 😉

😄

[2016-06-04 13:42] Fourdee commented on #371
Nope. It will stay as /root/logfile_storage

User data is classed as:
- bittorrent downloads
- owncloud storage,
- Fileservers default location (music/video folders)
- etc etc

[2016-06-04 14:05] k-plan commented on #371
@Fourdee

Aha ... that's the missing description. 😄

So it means more: `/mnt/dietpi_user_application_storage_data`

Suggestion: so please write this description somewhere in http://dietpi.com/phpbb/viewforum.php?f=8

Worry that I will not be the only one, who don't understand it instantly.

[2016-06-04 14:14] k-plan opened #373 "DietPi-Software | ViFM will not be marked as installed after installation"
- install ViFM via `dietpi-software`

[code]
- after reboot, it will not be marked as installed.
  ![160604-0002](https://cloud.githubusercontent.com/assets/17237601/15800108/4dd603c8-2a71-11e6-90b9-49f3b9ef6226.gif)
- but you can uninstall ViFM via `dietpi-uninstall`
  ![160604-0001](https://cloud.githubusercontent.com/assets/17237601/15800013/1681d458-2a6f-11e6-8c74-4a7456cd48f3.gif)

[2016-06-04 14:24] k-plan opened #374 "dietpi.txt | Update Optimized and Additional Linux Software for installation"
@Fourdee

please update

`#DietPi-Optimized Software to automatically install | Requires AUTO_Install_Index=1`

and

`#Linux Additional Software to automatically install | Requires AUTO_Install_Index=1`

in `dietpi.txt` , so we can do  AUTO_Install all the new Software since v115.

[2016-06-04 14:29] Fourdee commented on #358
ARM64 compile didnt go well:

[code]

Same with

[code]

[2016-06-04 15:37] Fourdee commented on #358
Cuberite is done. All devices, excluding ARM64 (at the moment).

Will take a look at Bukkit/Spigot next.

Cuberite is c++, Spigot is Java, this made me chuckle:
![image](https://cloud.githubusercontent.com/assets/7077026/15800464/69c5dbd4-2a72-11e6-8cb1-501d6951bfff.png)

[2016-06-04 17:12] Fourdee commented on #374
@k-plan

I keep the dietpi.txt file upto date on github. We no longer patch existing installation dietpi.txt automation entries, as it was pointless to add the option after 1st run.

Simply grab the latest dietpi.txt from https://github.com/Fourdee/DietPi/blob/master/dietpi.txt. It contains all the current and available program automation options.
Write image, copy to /boot/, enable your options,

[2016-06-04 17:38] k-plan commented on #374
@Fourdee

[code]

No mc, tcpdump, iperf, MTR-Tiny ... and so on

As far as I can remember, you will do a re-image for all devices in v.120. Will be nice to see it in    there .

Nice hint, thank you very much. 👍

But didn't help in the moment for mc, iperf, tcpdump, mtr-tiny.

[2016-06-04 17:42] Fourdee commented on #373
@k-plan

Good spot :+1:  fixed: https://github.com/Fourdee/DietPi/commit/565dc91463f956bc1a1220f5b244007fab6e89ba

[2016-06-04 17:48] Fourdee commented on #374
@k-plan

Cheers, I'll take a look

[2016-06-04 17:51] Fourdee opened #375 "Netdata on clean standard install not working"

[2016-06-04 18:16] Fourdee commented on #375
Tested on C2. Running fine. Will get more details from user

[2016-06-04 19:50] xenfomation commented on #374
@Fourdee  @k-plan

I may be jumping in where I shouldn't have been, but I remember one of my first tasks was to help add these:

mc, iperf, tcpdump, mtr, vim, vim-timy, etc

I just wanted to see if these are appearing in the builds or if I need to revisit dietpi-software as I have the following as of build 118/119 (committed, etc):

### Network Utilities```

 [ ]            ────Network Tools──────

[2016-06-04 19:52] xenfomation commented on #374
I have no idea how I closed this ticket?  AUGH.

SO --

@Fourdee @k-plan

I may be jumping in where I shouldn't have been, but I remember one of my first tasks was to help add these:

mc, iperf, tcpdump, mtr, vim, vim-timy, etc

I just wanted to see if these are appearing in the builds or if I need to revisit dietpi-software as I have the following as of build 118/119 (committed, etc):

###Network

[2016-06-05 03:59] xenfomation commented on #373
Fast work, sir!  Thanks @k-plan & @Fourdee

[2016-06-05 11:26] Fourdee commented on #374
Ok, updated the missing dietpi.txt automation entries ^^.

@xenfomation

hdparm is installed and configured on DietPi by default.

As for the rest, you can check the current list here:
https://github.com/Fourdee/DietPi/blob/testing/dietpi/dietpi-software#L7882-L7915. Then you can choose if you want to add any more in.

[2016-06-05 12:08] Fourdee commented on #371
@k-plan

Yep, it needs to be explained a little better in the docs :+1:

[2016-06-05 13:58] k-plan commented on #374
@Fourdee

### Testing:

[code]

[code]

[code]

![160605-0002](https://cloud.githubusercontent.com/assets/17237601/15805829/88e148c8-2b35-11e6-8f07-6abbd5e5d65b.gif)
![160605-0003](https://cloud.githubusercontent.com/assets/17237601/15805832/940bf78e-2b35-11e6-8c69-f85e518f3765.gif)
![160605-0001](https://cloud.githubusercontent.com/assets/17237601/15805834/9ecace70-2b35-11e6-8514-e47257da0f17.gif

[2016-06-05 14:05] k-plan commented on #373
@Fourdee

Testing:

[code]

![160605-0004](https://cloud.githubusercontent.com/assets/17237601/15805892/0e676e04-2b37-11e6-8386-20795425f6ec.gif)
![160605-0005](https://cloud.githubusercontent.com/assets/17237601/15805896/16fd2a4a-2b37-11e6-8818-5ce5f7966e8b.gif)

Works! 😃  👍

[2016-06-05 20:34] k-plan commented on #375
@Fourdee

Tested on RPi 3 Model B (armv7l). Running, but in log:

[code]

[2016-06-05 21:03] k-plan opened #376 "Diet-Pi Network | RPi3 build-in WiFi always try to connect while disabled"
@Fourdee

Description:
- RPi3 buid-in WiFi adapter always try to connect to WiFi AP while adapter is disabled in `dietpi-config`

![160605-0006](https://cloud.githubusercontent.com/assets/17237601/15808150/7be9cbbe-2b70-11e6-8081-47f8283ba9c0.gif)

![160605-0007](https://cloud.githubusercontent.com/assets/17237601/15808152/86fd0732-2b70-11e6-8192-563d4c66ef97.gif)

![160605-0009](https://cloud.git

[2016-06-05 21:25] ghost commented on #358
@Fourdee

Might want to take a look at [MineOS](https://minecraft.codeemo.com/mineoswiki/index.php?title=Main_Page) It also has detailed instructions on how to adapt within a few minutes to nearly any OS. It's very easy to deploy. I have been using for the past 7 years. It's lightweight and handles almost all minecraft modding platforms.

[2016-06-05 21:35] ghost commented on #261
Looks like my pine64 just arrived!

[2016-06-05 22:00] ghost commented on #250
@xenfomation
I know you're extremely busy and have a lot on your plate. Although I'm curious as to what you think of Huginn. What attracts me to Huginn is its versatility and it's a completely self contained platform. What other options are there to consider that are similar and self hosted?

[2016-06-06 10:21] Fourdee commented on #371
Further description improvements required:

[2016-06-06 10:37] Fourdee opened #377 "DietPi-Software | Allow users to setup a dedicated drive at a later date"
Recent sourcecode change for `/mnt/dietpi_userdata` (copy existing data to /mnt/usb_1 prior to setting up symlink) should allow for this. Just needs testing.

[2016-06-07 12:01] Fourdee commented on #377
Ok:
- Dedicated USB drive can be added at a later date.
- Existing userdata can be moved to the USB drive. Automatic symlink from `/mnt/dietpi_userdata` will be setup.

However, i'am not going to add `/DietPi/dietpi/func/dietpi-move_userdata` to any menus just yet until its been tested more. So this will need to be run via command line by the user.

[code]

[2016-06-07 13:13] Fourdee commented on #374
@k-plan
Thanks for the test results :+1:  I'll take a look.

[2016-06-07 13:14] Fourdee commented on #371
first run setup question updated:
![image](https://cloud.githubusercontent.com/assets/7077026/15858753/1d48c178-2cba-11e6-80e4-4b5279b7b583.png)

[2016-06-07 13:19] Fourdee commented on #358
https://minecraft.codeemo.com/mineoswiki/index.php?title=MineOS-node_(apt-get)

[2016-06-07 13:19] Fourdee commented on #377
Removed "this cannot be changed at a later date" from first run setup

[2016-06-07 14:22] ghost commented on #358
Here's the main [website](https://minecraft.codeemo.com/) which has a short description of features and screenshots.

In the event that anyone needs support adapting MineOS to DietPi the author Hexparrot en. (Will Dizon) response usually in about 24 hours [here](https://discourse.codeemo.com/). Hexparrot is extremely open and helpful so you're free to ask anything.

[2016-06-07 15:21] Fourdee commented on #358
Notes:

Runs straight after install, but not after a reboot:

[code]

Runs from cmd line.

[code]

^^^ hangs, no progress

[code]

arm64 (need to check FP for node on other devices that install via nodesource.com)

[code]

[2016-06-07 16:06] Fourdee commented on #358
Odroid C2, arm64:
![image](https://cloud.githubusercontent.com/assets/7077026/15865293/1b6d4532-2cd2-11e6-84ca-7e0f8cac0df9.png)

[2016-06-07 17:42] Fourdee commented on #358
Note:
DietPi install will use OracleJava instead of OpenJRE for maximum performance.

[2016-06-07 18:03] ghost commented on #358
@Fourdee
You want to recommend as you do with web servers such as Owncloud to run it off an external medium instead of the DS card. Running a minecraft server off of a SD/thumb drive would lead to very poor performance and SD/thumb failure. I would go as far to say a ssd/hard drive is required for hosting minecraft.

[2016-06-07 19:20] Fourdee commented on #358
@Zone22
Thanks for the info. Any ideas where the read/writes are to? If not, I'll try and contact Hexparrot.

Issues with the RPi install (NODEJS from apt-get). Lower version of NODEJS than expected, web service also fails to run correctly (missing content):

[code]

Looks like I'l need to compile NODEJS for all devices, not just arm64 currently.

[2016-06-07 19:35] ghost commented on #358
@Fourdee
The majority of the the of the read/writes takes place in the following directory.
'/var/games/minecraft'
That directory will contain all servers instances created along with server files, archives, backups and so on. I would redirect the folder 'minecraft' to an external medium.

Extra information if you need it.
/var/games/minecraft/servers/_myserver_, where _myserver_ is anything end-u

[2016-06-08 09:13] TimVNL opened #378 "[RPI3] Installation Errors"
Hi All,
I am new to dietpi and I am getting the following errors on first boot

Failed to start Configure Bluetooth Modems connected by WART
Failed to start LSB: DietPi boot shutdown reboot...

Then i hangs on Starting UTMP about System Runlevel changes

What can I do to resolve this

Specs:
Raspberry Pi 3
64GB SD Card
Latest DietPi Image

Also the forum registration is broken :(

[2016-06-08 11:15] Fourdee commented on #378
@TimVNL
Sounds like a corrupt filesystem, or possibly PSU issue.

Can you answer the following please:
- PSU make/model/amperage (eg: Samsung phone charger 2amp)
- SD card make/model (eg: Sandisk ultra)
- Have you modified any of the files in /boot/ prior to powering on the device? (eg: config.txt)

I would recommend trying the following:
- Download and extract the dietpi image again: http://dietp

[2016-06-08 12:09] Fourdee commented on #358
@Zone22
I'll probably move `/var/games/minecraft` to `/mnt/dietpi_userdata/mineos`. If user has a dedicated USB drive, it will be stored there automatically via symlink.

Heres a working install script for node: https://github.com/taaem/nodejs-linux-installer
I had to add support for arm64 and made a pull request: https://github.com/taaem/nodejs-linux-installer/pull/8

[2016-06-08 13:01] TimVNL commented on #378
@Fourdee

PSU: Samsung 2 amp + Cwxuan Universal 2amp
SD Card Transend Premium 300x 64GB (Will try a other one tonight)

Editted no files before boot

Flashed the SD card with a freshly download image still no luck I am flashing the image with a Mac and a app called ApplePi Baker.

can't seem to enter a conformation code to register on the forum see the screenshot
![download](https://cloud.githubus

[2016-06-08 13:07] Fourdee commented on #358
Completed. Available for all devices.

doc: http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=2069#p2069

@Zone22
Tested on C2 and RPi3, however, I dont own a copy of Minecraft to fully test it. Would you be able to test the installation with a copy of Minecraft, using the DietPi testing branch (https://github.com/Fourdee/DietPi/blob/master/TESTING-BRANCH.md)?

[2016-06-08 14:43] Fourdee commented on #373
Thanks @k-plan :+1:

Marking this as closed :)

[2016-06-08 14:43] #373 closed, assigned to Fourdee

[2016-06-08 14:56] Fourdee commented on #357
Documentation to finish: http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&start=60#p2072

[2016-06-08 14:57] Fourdee commented on #151
Documentation to finish: http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&start=60#p2073

[2016-06-08 14:57] Fourdee commented on #191
Documentation to finish: http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&start=70#p2074

[2016-06-08 14:57] Fourdee commented on #195
Documentation to finish: http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&start=70#p2075

[2016-06-08 16:01] ghost commented on #358
@Fourdee
Testing on Pine64 as it's only available hardware I have access to at the moment.
There are three issues.
One. I can't start a server instance.
![capture3](https://cloud.githubusercontent.com/assets/1348848/15900867/a68b0b4c-2d66-11e6-9982-a346e481849c.JPG)
MineOS.log

[code]

Two. I believe the wrong folder was redirected to the external Medium.
Currently...
![capture](https://cloud.gith

[2016-06-08 16:02] Fourdee commented on #151
Done.

[2016-06-08 16:02] #151 closed, assigned to nobody

[2016-06-08 16:02] Fourdee commented on #357
Done.

[2016-06-08 16:04] Fourdee commented on #191
Done.

[2016-06-08 16:04] #191 closed, assigned to nobody

[2016-06-08 16:04] Fourdee commented on #357
@xenfomation
Is there a way to disable applications that are not installed, being listed?
![image](https://cloud.githubusercontent.com/assets/7077026/15900774/94b32580-2d98-11e6-8eac-3d7fd48e7897.png)

[2016-06-08 16:11] Fourdee commented on #195
Done.

[2016-06-08 16:11] #195 closed, assigned to nobody

[2016-06-08 16:41] Fourdee commented on #347
Done.

[2016-06-08 16:41] #347 closed, assigned to Fourdee

[2016-06-08 16:42] Fourdee commented on #363
Done. Marking as closed.

[2016-06-08 16:42] #363 closed, assigned to xenfomation

[2016-06-08 16:50] Fourdee commented on #358
@Zone22
Thanks for the test

I just did a fresh install on C2 to verify. Working fine.
Did you accept the EULA? Required to start server.
Failing that, may be an issue limited to the Pine64 image. I'am still waiting for mine to turn up, so not much I can do my end.

Well spotted :+1: . I'll move and symlink /var/games/minecraft aswell.

I'll look into it.

[2016-06-08 17:39] Fourdee commented on #358
`/var/games/minecraft` is now symlinked to `/mnt/dietpi_userdata/mineos/serverdata`

And, user is now `mineos`

[2016-06-08 18:10] TimVNL commented on #378
It was the SD Card and the forum registration works as well

Thanks

[2016-06-08 18:10] #378 closed, assigned to nobody

[2016-06-08 18:46] Fourdee commented on #378
@TimVNL
I've had many days like that, where nothing wants to work lol.

Good to hear everything is now working for you :+1:

[2016-06-08 19:09] Fourdee opened #379 "DietPi-Cloudshell | Blank screen at specific times"

[2016-06-10 15:30] Fourdee commented on #377
Users can setup a dedicated drive at any stage, on the fly. User data is automatically moved, symlink from `/mnt/dietpi_userdata` is also generated if required.
![image](https://cloud.githubusercontent.com/assets/7077026/15969615/b509a1d8-2f28-11e6-9931-97479cb16ff5.png)

[2016-06-11 12:58] Fourdee commented on #374
@k-plan
MC should be MIDNIGHTCOMMANDER.
iperf is missing the installation code in dietpi-software.

[2016-06-11 13:05] Fourdee commented on #374
@k-plan
Done. I'll mark this as closed, please reopen if needed.

[2016-06-11 13:06] Fourdee commented on #377
Done.

[2016-06-11 13:06] #377 closed, assigned to Fourdee

[2016-06-11 13:07] Fourdee commented on #358
I'll mark this as closed.
MineOS and Cuberite is enough Minecraft servers for now :) If users want to see more choices, please make a git ticket for the request.

[2016-06-11 13:07] #358 closed, assigned to Fourdee

[2016-06-11 13:25] Fourdee commented on #371
Ok, so, here goes :dancer:

#### What is user data?

In DietPi, we class user data as:
- Data storage for applications. Some examples:
  - Ownclound data store.
  - BitTorrent downloads.
- The location where your fileserver choice will point to, if you install one (eg: Samba Server, Proftpd).
- The location where you can upload and store your media content, for other applications to use (eg: Kodi,

[2016-06-11 13:55] Fourdee commented on #371
@k-plan

Hope this covers user data. If not, please let me know :+1:

http://dietpi.com/phpbb/viewtopic.php?f=8&t=478&p=2087

During 1st run setup questions for DietPi
![image](https://cloud.githubusercontent.com/assets/7077026/15985444/e177ac94-2fe4-11e6-8a8c-9dde7d8cefa2.png)

[2016-06-11 14:04] Fourdee commented on #371
@k-plan
Also updated the new user data screen in dietpi-software with link:
![image](https://cloud.githubusercontent.com/assets/7077026/15985461/ce62660c-2fe5-11e6-902c-6034ccfe7a31.png)

[2016-06-11 14:11] Fourdee commented on #371
I'll mark this as completed for now.

I would appreciate your feedback @k-plan for any improvements, if you have them.

[2016-06-11 14:11] #371 closed, assigned to Fourdee

[2016-06-12 14:01] k-plan commented on #374
@Fourdee

only tested with mc, iperf, tcpdump and mtr.

![160612-0001](https://cloud.githubusercontent.com/assets/17237601/15991567/8244f524-30b6-11e6-9194-3b84c7281728.gif)

![160612-0002](https://cloud.githubusercontent.com/assets/17237601/15991569/8d56d57c-30b6-11e6-8728-1deb919580dc.gif)

[code]

Sorry, but mtr-tiny is missing in `dietpi-uninstall`

[2016-06-12 14:58] Fourdee commented on #374
@k-plan

Thanks, i'll take a look. :+1:

[2016-06-12 19:30] Fourdee commented on #379
http://dietpi.com/phpbb/viewtopic.php?f=9&t=474&p=2090#p2090

[code]

[2016-06-13 00:02] xenfomation commented on #357
Sure!  i will make a config without those entries

[2016-06-13 12:16] Fourdee commented on #374
Fixed, was an issue with the dietpi-software installation flag not being set to completed. Same as the VIFM one:
![image](https://cloud.githubusercontent.com/assets/7077026/16007184/d9a8039e-3168-11e6-89e2-c21410c79d38.png)

[2016-06-13 12:16] #374 closed, assigned to nobody

[2016-06-13 12:22] Fourdee commented on #376
@k-plan
I think there is a way to disable WiFi using a dtoverlay in config.txt. May of been just for bluetooth, i'll try and find out.
EDIT: yep it was for bluetooth https://openenergymonitor.org/emon/node/12311

The other method seems to be blacklisting the modules: http://raspberrypi.stackexchange.com/questions/43720/disable-wifi-wlan0-on-pi-3

I'll see which works

[2016-06-13 12:29] Fourdee commented on #376
Disable WiFi (bluetooth untested):

[code]

![image](https://cloud.githubusercontent.com/assets/7077026/16007457/768b3536-316a-11e6-88dc-af54f6d39746.png)

although, it doesn't physically disable the adapter hardware. Pretty sure theres no way to achieve this (yet).

[2016-06-13 12:57] Fourdee commented on #376
Good, bluetooth still works when wifi modules disabled https://github.com/Fourdee/DietPi/issues/376#issuecomment-225567091:
![image](https://cloud.githubusercontent.com/assets/7077026/16008222/bc30a586-316e-11e6-87e3-9adc671dcedb.png)

[2016-06-13 14:19] Fourdee commented on #376
disable bluetooth:

[code]

enable bluetooth:

[code]

[2016-06-13 15:38] Fourdee commented on #376
Ok done. DietPi will also control the wifi modules in dietpi-config, if you have a RPi3.

Added option for bluetooth control while I was there, in advanced menu:
![image](https://cloud.githubusercontent.com/assets/7077026/16013081/fe60690e-3183-11e6-9806-152055fffc18.png)

@k-plan
I've tested both, but please let me know if its resolved the issue.

[2016-06-13 16:38] Fourdee commented on #379
Not looking good:

[code]

`setterm --blank force &> /dev/tty1` Results in `setterm: terminal xterm does not support --blank`

`setterm --powersave on --powerdown 0 &> /dev/tty1` results in `setterm: cannot (un)set powersave mode: Inappropriate ioctl for device`

Seems the ability to control screen blanking must originate from the screen itself, or, theres a redirect method I don't know about.

[2016-06-14 16:37] Fourdee commented on #261
Mine turned up today :dancer:. @rhkean excellent work on this image :+1:. I'am thinking we should change this to Beta? I cant see any stability issues so far.

[2016-06-14 16:46] Fourdee commented on #350
Ok, workaround:
Netplug is now installed on demand in DietPi-Config when both adapters are enabled (we need netplug to allow for this feature to work correctly). Netplug is uninstalled when only 1 adapter is active.

[2016-06-14 18:02] k-plan commented on #376
@Fourdee

tested now about 12h, it works.

[code]

Bluetooth enable and disable works as well. (only tested with wlan off)
- Disable Bluetooth - works without reboot (on-the-fly)
- Enable Bluetooth - works only after rebooting the device (reboot device message can/will be helpful)

Nice work Fourdee! :+1:

[2016-06-14 18:41] rhkean commented on #261
:fireworks:
I don't have any objections to beta.
- no bluetooth support for the wifi/bt add-on board
- I haven't tested everything

[2016-06-14 18:48] Fourdee commented on #376
@k-plan
Thanks for the tests :+1:

Just tried on RPi3 with Wlan only connection and disabled bluetooth, works a treat :)

Will mark this as closed, please reopen as needed.

[2016-06-14 18:54] Fourdee commented on #376
@k-plan
Bizzare, works straight away for me:
![image](https://cloud.githubusercontent.com/assets/7077026/16055496/819a2d92-3269-11e6-8ce9-a3235cff90ca.png)

Might be the one of the services, if you can replicate it again, can you please try to run

[code]

[2016-06-14 19:03] Fourdee commented on #261
@rhkean

I didn't order one of those so I'am unable to test :(. Have you had a chance to try with the latest longsleep kernel and the addon board?

[code]

Its impossible to test everything in every possible combination hehe. I'll check Kodi tomorrow for sound and GPU test.

[2016-06-14 19:29] rhkean commented on #261
you'll have the [wifi/bt board](https://shop.pine64.com/collections/modules/products/wifi-bluetooth-4-0-module) in a couple days.

Yes, wifi portion of this[ wifi/bt add-on board](https://shop.pine64.com/collections/modules/products/wifi-bluetooth-4-0-module) works with v118.  Mine's at home on the wired network at the moment, so I'll get you the `ifconfig -a` output tonight.

the `dietpi-config -

[2016-06-15 15:09] Fourdee commented on #379
Done, just doing a few overnight tests.
![image](https://cloud.githubusercontent.com/assets/7077026/16085283/7beb5b78-3313-11e6-8ff5-422bb39cfbf1.png)

[2016-06-15 17:08] Fourdee commented on #379
Tests completed. Done.

[2016-06-15 17:08] #379 closed, assigned to Fourdee

[2016-06-15 17:09] Fourdee commented on #372
Will mark this as closed. Please reopen if required.

[2016-06-15 17:09] #372 closed, assigned to nobody

[2016-06-15 17:14] Fourdee commented on #359
Marking as closed for now. Pending testing results from user when v120 is released: http://dietpi.com/phpbb/viewtopic.php?f=11&t=443&p=2096#p2096

[2016-06-15 17:14] #359 closed, assigned to Fourdee

[2016-06-15 17:15] Fourdee commented on #295
As vim-tiny appears to be in dietpi-software at this time, i'll mark this as completed.

[2016-06-15 17:15] #295 closed, assigned to rhkean

[2016-06-15 17:43] Fourdee commented on #311
@k-plan

In dietpi-config:
Changing static DNS servers will now also be applied to PiHole (if installed). This needs to be completed by the user after PiHole has been installed. I'll make a documentation note for users.

[2016-06-15 17:46] Fourdee commented on #261
Legend :+1:

Kodi won't run, i'll look into it: https://github.com/Fourdee/DietPi/issues/380

[2016-06-15 17:46] Fourdee opened #380 "Pine A64 | Add support for Kodi"
As title

[2016-06-15 17:50] Fourdee commented on #380
Looks like we are missing GPU driver:

[code]

Following http://linux-sunxi.org/Mali_binary_driver :

[code]

worth a shot

[code]

[2016-06-15 18:01] k-plan commented on #376
- Bluetooth disabled:

[code]

---
- Bluetooth enabled via `dietpi-config`:

[code]

![bluetooth](https://cloud.githubusercontent.com/assets/17237601/16091246/2025ea0e-3333-11e6-9f95-1f4ae515bcea.gif)

[code]

[code]

[code]

[code]

[code]

[code]

[2016-06-15 18:27] rhkean commented on #380
odd.... it should be there
the mali driver is in /lib/modules/3.10.101-0-pine64-longsleep/kernel/extramodules

[2016-06-15 18:48] Fourdee commented on #380
Yep, same for 3.10.101-4:

[code]

Also noted here:
https://github.com/longsleep/build-pine64-image/blob/master/kernel/README.md#compile-bsp-mali-kernel-module

[2016-06-15 19:08] Fourdee commented on #380
Looked at this: https://github.com/longsleep/build-pine64-image/blob/master/simpleimage/platform-scripts/install_mate_desktop.sh#L15-L32

Not sure where they are getting fbturbo from, not available in default jessie repo, or deb-multimedia repo for arm64.

[2016-06-15 19:25] rhkean commented on #380
found it

I just booted his xenial image.  it has an additional apt source:

cat /etc/apt/sources.list.d/longsleep-ubuntu-ubuntu-pine64-flavour-makers-xenial.list

`deb http://ppa.launchpad.net/longsleep/ubuntu-pine64-flavour-makers/ubuntu xenial main
`

[2016-06-15 19:26] rhkean commented on #380
very first package....

[code]

[2016-06-16 12:19] Fourdee commented on #380
[code]

[code]

[code]

[2016-06-16 12:32] Fourdee commented on #380
Just installed the "official" Pine64 Debian image: https://www.pine64.com/downloads

No FBturbo in dpkg.

[code]

I installed Kodi, runs, at 0.5 frames second, software render:

Older kernel:

[code]

@rhkean
Did Kodi ever work on the DietPi Pine image?

[2016-06-16 12:38] rhkean commented on #380
no.  I noted that in my announcement under known issues.

I didn't try it with longsleep's xenial image, though...  that's the image that I found the fbturbo package reference....
https://www.stdin.xyz/downloads/people/longsleep/pine64-images/ubuntu/
forum discussion here:  http://forum.pine64.org/showthread.php?tid=376

[2016-06-16 13:08] Fourdee commented on #380
@rhkean

Apologies, I didn't check lol

http://forum.pine64.org/showthread.php?tid=1380&pid=12300#pid12300

http://forum.pine64.org/showthread.php?tid=1380&pid=12325#pid12325

I'll leave this ticket open as a feature request, but i'll move it out of the milestone. I'll also disable the Kodi install option for now.

edit: Might give this a go http://forum.pine64.org/showthread.php?tid=424&pid=3468#

[2016-06-16 13:58] Fourdee commented on #380
Gah:

[code]

[code]

[2016-06-16 14:08] rhkean commented on #380
why does that say "armv7" ?

shouldn't that be saying "arm64"?    (I don't think this is a multi-arch kernel)

[2016-06-16 15:03] Fourdee commented on #380
@rhkean

Yep. Probably needs a flag, but no idea at the moment.

The good news is FBturbo + libump works. So better performance in desktops:

[code]

I've uploaded the arm64 debs for FBturbo:

[code]

[2016-06-18 15:00] Fourdee commented on #343
Most likely going to annoy a few people, doing a u-turn on serial consoles, but here goes:

#### Serial console will now be Disabled for all DietPi images by default. Heres why:
- DietPi is supposed to be minimal and optimized. Serial console uses up resources.
- DietPi requires a network connection to run through the initial setup. So generally speaking, the ease of remote access over SSH should

[2016-06-18 15:07] k-plan commented on #376
@Fourdee

is it possible or reasonable to disable/blacklist  modul `cfg80211` as well, then we disable build-in wifi adapter?

[2016-06-18 15:53] Fourdee commented on #376
@k-plan

Yep, makes sense, will free up 427.85KB. I'll take a look.

[2016-06-18 17:26] Fourdee commented on #376
@k-plan
Its in. Also not RPi 3 specific anymore, all devices will have cfg80211 and bluetooth modules controlled by DietPi.

[code]

[2016-06-18 20:01] avs-code commented on #337
Edited: I forgot -v7- in file name, any way i still issue to connect. Device and networks are detected, but not connect.

dietpi v119 firmware updated.

[code]

[2016-06-18 22:35] avs-code commented on #337
Ok, its working now configuring wifi with wicd:
[https://blog.bartbania.com/raspberry_pi/easy-wireless-configuration-for-raspberry-pi/](url)

I think that there something not work with key type "phrasse" or dhcp in dietpi network manager.

[2016-06-19 09:23] avs-code commented on #335
Update with this info http://blog.slucas.fr/en/oss/calibre-opds-php-server

[2016-06-19 10:44] Fourdee commented on #337
@arv187

Possibly.
Are you using a wifi key with non-letter/number characters? I'd be grateful if you could rearrange the order, then paste your key here (eg: mykey, i'd paste kmyye)

Also, what encryption type is your router set to? eg wpa-psk/wep etc.