[2015-05-17 20:35] d-faure opened #9 "ramlog fail to start"
While booting a DietPi+WebServer (version 57 on Pi type B), the apache2 server seems to be started before ramlog:

[code]

[2015-05-17 21:20] d-faure opened #10 "DietPi banner clear screen"
The dietpi-banner is clearing the screen, making the startup sequence hard to debug

[2015-05-18 10:31] Fourdee commented on #9
Hi d-faure,

Many thanks for the bug report. I'll look into this today.

[2015-05-18 10:35] Fourdee commented on #10
Hi d-faure,

I'll look into this. We may be able to add a debug flag in the /boot/dietpi.txt settings file to initially skip screen clearing.

Will get back to you.

[2015-05-18 11:03] d-faure commented on #10
I temporary solved the issue commenting the "clear" line in the dietpi-banner script.
IMHO, there's no need to clear the screen, as you're either using some graphic environment, or nothing at all when running some kind of server (and in this case, getting all boot sequence output is really helpful to debug startup issues).

[2015-05-18 14:24] Fourdee commented on #9
This will be resolved in the next update v58.

In the mean time, you can apply this workaround:
update-rc.d apache2 disable

dietpi-services will then run the Apache2 service during the end of boot.

[2015-05-18 14:24] #9 closed, assigned to nobody

[2015-05-18 15:46] Fourdee commented on #10
Whilst i agree with you for debugging purposes, the original purpose of clear in dietpi-banner is to "clean" the screen for the user.

Not all users of Linux are advanced or looking to visually debug their installation. So, having a screen full of text does nothing but confuse the end user.

Users looking to debug will use logs in /var/log.

dietpi-banner is also called from most of the dietpi scr

[2015-05-18 15:46] #10 closed, assigned to nobody

[2015-06-30 13:41] dimpfelmoser opened #26 "Install behind proxy"
I am trying to install DietPi behind a proxy. So far I did the following:

1) copy image V70 to SD with dd
2) quit the installer after booting
3) set up proxy in /etc/environment, /etc/profile, and /etc/apt/apt.conf.d/10proxy, reboot

At this point, apt-get update is working from the command line. However, the installer hangs with the message "Waiting for apt-get update to finish: Please wait ..."

[2015-06-30 13:56] dimpfelmoser opened #27 "Network setup with German locale"
If the locale is set to de-de-UTF8 in the config dialog prior to setting up a static network address, there are erroneous strings prepended to the ip address and mask, i.e. instead of

192.168.0.1

the installer writes

Adresse:192.168.0.1

into /etc/network/interfaces

[2015-06-30 14:40] Fourdee commented on #26
Hi,

Thanks for the bug report.

The hang is caused because DietPi is waiting for NTPD to finish (so we get a updated timestamp), however, the onscreen text does not display this.
A fix is available in the next release (v74). This will include the correct onscreen text, and, wait for a maxium of 8 seconds before killing NTPD. https://github.com/Fourdee/DietPi/blob/testing/dietpi/dietpi-apt-get_upd

[2015-06-30 15:29] dimpfelmoser commented on #26
Thank you. However, the state file ist left with state 0 after reboot, because I had to SIGTERM the apt-update after the DietPi-version-update, in order to reboot. If apt-update runs again, it waits for the update to terminate although it's not running, so it waits forever.

Even in my V73 the NTPD-query should timeout after 10 s. But it hangs forever.

In other words, Wait_For_Completion() waits

[2015-06-30 15:41] Fourdee commented on #26
DietPi runs ntpd with -gq flags (quit when done, to save memory). So unless it updates, NTPD wont terminate.

[[ In other words, Wait_For_Completion() waits forever, because Get_Current_State() always returns a status of 0.]]

Yes, as per my previous comment, this is resolved in the v74 code i linked.

[[I think the root of the evil is that apt-update is called at all after the DietPi-update (from

[2015-06-30 15:41] #26 closed, assigned to nobody

[2015-06-30 15:59] Fourdee commented on #26
I forgot to mention. You will need to use the v74 image release (released later today). The online patch will not effect images with versions v73 or lower during 1st run.

[2015-06-30 19:53] Fourdee commented on #27
Hi,

Many thanks for the report. Could you please run:
dietpi-bugreport

This will generate a bug report with system configuration data. You dont need to fill the information in. Once its sent, please paste your "Reference CODE:" here. I'll then be able to look into this further.

[2015-07-02 16:40] Fourdee commented on #27
Unable to replicate on RPi + DietPi v74.
Correct values are applied to /etc/network/interfaces when set to de-de-UTF8 before and after reboot.

If you wish to reopen this error, please provide the following information:
- Any overclocking applied to the system?
- PSU used is stable (5v 1amp+)?
- MicroSD card used?
- complete the dietpi-bugreport, link reference code.

[2015-07-02 16:43] #27 closed, assigned to nobody

[2015-07-12 03:59] ictinc opened #32 "Dietpi-update 404 error"
Hi Fourdee,
Since about a week it seems not possible anymore to run the dietpi update script on my rpi2.
I'm able to ping the host so it doesn't seem like a local network issue.

D I E T - P I | 05:43 | Sun 07/12/2015                                                                                               ───────────────────────────────────────

[2015-07-21 16:17] Fourdee commented on #32
Hi ictinc,

Many thanks for the bug report. Apologies for the delay (was moving house).

Could you please run dietpi-bugreport and follow the onscreen instructions. This will give me more information on your system, and, help me debug the issue your experiencing.

Kind Regards,
Dan

[2015-07-22 01:49] ictinc commented on #32
Hi Dan,

Thanks for your reply, no worries for the delayed response.

I've sent you a bug report as requested which was filled under eference number;
b827eb55b259-0

Kind regards,

Ronald

[2015-07-22 11:54] Fourdee commented on #32
Hi Ronald,

Many thanks for the bug report. I've checked through your settings. It appears at some point, your device wasnt shut-down correctly (eg: power cut). Because of this, some of your settings have been corrupted.

A patch to prevent the above from occurring will be available in the next release (v78).
https://github.com/Fourdee/DietPi/pull/33

Kind Regards
Dan

[2015-07-22 17:42] Fourdee commented on #32
We have released the update that will stop this from occurring  https://github.com/Fourdee/DietPi/pull/35. Unfortunately, if you have the 404 error currently, this will need to be patched manually.

See here for details: http://fuzon.co.uk/phpbb/viewtopic.php?f=9&t=39&p=131#p131

[2015-07-22 17:42] #32 closed, assigned to nobody

[2015-07-30 14:34] jedie opened #37 "Support for qwertz login."
the default root password is "raspberry"... Nice. But on german keyboard with "english" layout you have to remember that "y" is under "z" key...

so, maybe it is a better idea to change the default to something else or set the keyboard layout before first login is needed...

[2015-07-30 14:51] jedie opened #38 "install a little confusing..."
The first start (after some reboots) will end in:
- choose software you want to install
- dietpi-config

So i answer the questions like which software to install...
Then i use dietpi-config and configurate everything... But then it will reboot, so that changes are made...

But then i'm back on the same "select software" GUI... and my answers (made before) are gone and i must select my software aga

[2015-07-30 15:53] jedie opened #39 "DietPi Debian Jessie release."
Is it's save to dist-upgrade to debian jessie?!?

And when will this project switched to jessie?

[2015-07-30 16:13] mamuesp commented on #39
Jens,

at first: I mentioned the same flaws as you did to Dan, he is aware, I'm sure he will adapt something.

The password "raspberry" is already the initial PW on Debian, so no shame on Dan - I'm sure one can live with that y <-> x swap.

The second flaw - configuration and installation and then, a big part of the configuration was ignored - I fell in too, but I helped myself - a second configur

[2015-07-30 16:48] Fourdee commented on #37
I'am not keen on changing the default password. Everyone with a raspberry knows and assumes this password.
Correct me if i'am wrong, but wouldnt this issue still occur on the official Raspbian image aswell?

Would a notification on the login screen assist?
eg:
default username=root
default password=raspberry
notes: German keyboard, password is raspberrz

[2015-07-30 16:50] Fourdee commented on #38
Hi Jedie,

Thanks for the feedback. I'll look into this and get back to you.

[2015-07-30 16:55] Fourdee commented on #39
DietPi does not currently support Debian Jessie. There are a few reasons for this, mainly that most of the DietPi code would need to be updated to work with Jessie.

When the official Raspbian image updates to Jessie, i will then work on getting DietPi available for Jessie also. Until then, i wouldn't recommend using apt-get dist-upgrade.

[2015-07-30 17:46] Fourdee commented on #38
DietPi-Config will no longer ask for a reboot during the 1st run stage of dietpi-software. https://github.com/Fourdee/DietPi/commit/9a1dbb5efcd30088fc8af2637711f690556bcc82

[2015-07-30 17:46] #38 closed, assigned to nobody

[2015-07-30 18:24] jedie commented on #37
I don't know if the default password is also **raspberry**
But IMHO in Raspian you end in the config tool on first boot, without the need for login. So i have first change language stuff and the default password...

Yes, as a quick work-a-round. But this is only ok for german users and all others?!?

[2015-07-30 18:26] jedie commented on #39
good to known ;=)

[2015-07-30 18:30] jedie commented on #37
What is the best solution here?

IMHO:

First question to the user (without login):
- used local and keyboard layout
- new root password

As for security: the root password should be changed on every system, isn't it?
But it's needed to set the right keyboard layout before: Otherwise the user set a password that will also not work with changes layout ;)

[2015-07-30 18:31] jedie commented on #38
great :+1:

[2015-07-30 18:34] jedie opened #40 "text menu flow..."
I think all text menu is some kind of strange in usage flow...

The usage is a little "unnaturally"... From the sequential arrangement...

[2015-07-30 19:51] Fourdee commented on #37
On the official Raspbian, the user is pi, pw is raspberry.

I completely forgot about this. Your spot on. I'll see if i can implement auto login during 1st run into DietPi. It may have to wait for a week while i finish up other stuff, but i'll leave this open.

[2015-07-30 19:54] Fourdee commented on #40
Hi Jedie,

Please could you elaborate on this? Maybe, some samples/examples to indicate the issue and resolution?

Thanks.

[2015-07-30 19:59] Fourdee opened #41 "[Wish List] Convert DietPi-Software into SQL database"
- Create SQL database (I currently lack the knowledge to do this)
- Move all the installation flags/methods/descriptions into a clean global SQL database.
- Rewrite dietpi-software to use an array system and read directly from SQL database.

[2015-07-30 20:04] Fourdee opened #42 "DietPi installation option for SubSonic"
http://fuzon.co.uk/phpbb/viewtopic.php?f=9&t=31&start=10#p169

[2015-07-30 20:09] Fourdee opened #43 "DietPi installation option for PiHole"
http://fuzon.co.uk/phpbb/viewtopic.php?f=9&t=49#p155

[2015-08-02 18:57] #43 closed, assigned to nobody

[2015-08-03 11:40] jedie commented on #37
What's about to change the default root pass to: **raspbian** ?

See: https://github.com/debian-pi/raspbian-ua-netinst#first-boot

[2015-08-03 12:52] Fourdee commented on #37
I'am tempted, for now, to go with root pass: dietpi . Would that work on a qwertz layout?

[2015-08-03 12:58] jedie commented on #37
:+1:

yes

[2015-08-04 14:49] Fourdee commented on #37
All DietPi images will use the new default password "dietpi"
https://github.com/Fourdee/DietPi/blob/testing/dietpi/boot#L260-L262

The new images (v81) will be available in the next few days.

[2015-08-04 14:49] #37 closed, assigned to nobody

[2015-08-05 17:39] Fourdee commented on #42
Notes to self:

SubSonic accepts startup parms in /etc/default/subsonic. However, I'am unable to find any reference of available SUBSONIC_ARGS commands online. This prevents me from setting up the users media folder locations during DietPi installation.

[2015-08-06 12:36] Fourdee commented on #42
subsonic --help

[2015-08-07 18:26] Fourdee commented on #40
No response.

[2015-08-07 18:26] #40 closed, assigned to nobody

[2015-08-10 12:30] ghost opened #46 "New logo and website"
Hello,
congratulations for creating this awesome distro! I'm using it in my company with Rpi2.

I want to help you with:
- Create a modern and clean website for DietPi
- Create a logo for DietPi.

So I have some questions:
- Can I change a shape of logo?
- I think silver and purple are great, but I want to make full scheme for better identity
- Can I change typography?

[2015-08-10 15:27] Fourdee commented on #46
Hi Dyzajash,

Thanks for getting in touch and offering your skills to the project. Yes, we are in desperate need of a clean and modern website, aswell as a new logo for DietPi.

To answer your questions, you have free reign on everything. This should allow you to put your own twist on the designs and bring out your best work with your own touch.

If you need any information, and/or, wish to send m

[2015-08-10 17:44] thechildofroth commented on #42
Default folder locations are set by editing /usr/share/subsonic/subsonic.sh

[2015-08-11 04:53] JarrettR opened #47 "Enable UART login by default"
For headless and networkless setup. Connecting to the UART pins on the GPIO headers with a bridge allows you to read the boot log, but actually logging in and using it as a terminal requires some tweaking.

I believe I was able to do this in v61 by changing cmdline.txt to:

And uncommenting the last line in inittab.

This results in additional startup text that may not be desirable, so there might

[2015-08-11 11:44] Fourdee commented on #42
Thanks i'll take a look. I'am currently using the subsonic command line options to set folder locations https://github.com/Fourdee/DietPi/blob/testing/dietpi/dietpi-software#L2160-L2164

[2015-08-11 11:55] thechildofroth commented on #42
Ah ok, does this help:

To change the port number, Java memory settings or other startup parameters, edit the SUBSONIC_ARGS variable in /etc/default/subsonic.

From
http://www.subsonic.org/pages/installation.jsp

[2015-08-12 11:04] Fourdee commented on #47
Hi Jarrett,

I have made no changes to UART that i'am aware of, however, as I have no experience with the above, it could of been caused accidental during patching.

I'll need to obtain the required hardware before I can be of any assistance. In the mean time, the only thing i can recommend is to try the following for cmdline.txt

Also, which version of DietPi images are you using? Can you also re

[2015-08-13 18:27] Fourdee opened #50 "Backup the whole OS remotely while it's running."
rSync.

[2015-08-17 14:08] Bobbaone opened #51 "Services Fails after Reboot"
Hello,

ive freshly installed dietpi - its amazing. But if i reboot, apache2, munin... and others arent starting.
i have manually start them. Is this coused by the fact, that the logs are at the ram?

Is it possible to set a "slowdown" for the services, after all system tasks has been loaded?

Greetings.

[2015-08-17 17:24] Fourdee commented on #51
Sounds like you'll need to check your init startup orders.
Check your /var/log/apache2 logs to see if it explains whats happened.

If you install software thats not from the dietpi-software system, you may need to manage your startup orders depending on how those startup scripts are coded.

You can check your startup order by running:
ls /etc/rc*.d/
Check and ensure dietpi-service starts before ap

[2015-08-18 01:43] JarrettR commented on #47
I vaguely recall that init systemd was important.

Sorry, I'm not being helpful here. Set it up successfully in v61 a couple months ago, and in v80, I couldn't figure it out.

I'll go through the process again at some point soon and report back.

[2015-08-18 01:51] JarrettR opened #52 "Syntax error in dietpi-config"
To reproduce:

Connected via SSH, no connection to the outside world.

Hitting "Test network" in the network config menu results in this:

[code]

Minor issue, doesn't seem to negatively impact anything.

[2015-08-18 12:32] Fourdee commented on #52
Hi Jarrett,

The only reason this will occur is if something went wrong with the .installed file. As this file is generated on 1st run, and before you can access dietpi-config, you should not see this issue.

Can you please replicate the error on your system, then, run dietpi-bugreport and provide me with the reference code. This will allow me to see your .installed file and debug.

[2015-08-18 16:05] JarrettR commented on #52
That might be another piece of the puzzle. This occurs during first-run, while it's trying to connect for updates for the first time. It's happened on two different reflashes.

If you still need the bugreport reference, I will grab that this evening.

[2015-08-19 17:37] Fourdee commented on #52
Hi Jarrett,

Thanks for the update.

Which image version are you currently using? eg: DietPi_v81_RPi.img

Also, if you could obtain the error codes, i would be greatful:
- Write a fresh DietPi image
- Wait for the initial "1st run" update to complete. Do not press "OK" when the reboot prompt appears.
- Scroll back and find any of the errors, paste those here.

[2015-08-20 12:37] Fourdee opened #53 "webiopi-passwd breaks future webiopi logins"
http://fuzon.co.uk/phpbb/viewtopic.php?f=9&t=55&p=201#p201

[2015-08-20 12:41] Fourdee opened #54 "DietPi-Software | Add Wi-Fi hostspot installation option"
http://fuzon.co.uk/phpbb/viewtopic.php?f=9&t=35&p=200#p197

Notes:
- DietPi-config must be redesigned to allow two active network adapters
- /etc/networking/interfaces . Must change the way we read/write static IP's. Currently we sed both as a shared value. May need to read specific lines for each adapter using sed 1p etc.
- This also requires all DietPi scripts with networking to be checked and r

[2015-08-20 12:49] Fourdee opened #55 "DietPi-Software | Add HAproxy installation option"

[2015-08-20 12:52] Fourdee opened #56 "Image | DietPi for Odroid XU3/4"

[2015-08-20 12:53] Fourdee commented on #56
Coding in progress.
- Will be released for v84.
- Also have Cloudshell integration https://github.com/Fourdee/DietPi/blob/testing/dietpi/dietpi-cloudshell

[2015-08-20 12:59] Fourdee commented on #53
User must ensure they enter the correct username when setting password.

User must restart the webiopi service to enable new password:

Updated online documentation:

[2015-08-20 12:59] #53 closed, assigned to nobody

[2015-08-20 19:39] ghost opened #57 "DietPi-Software | Add Redis installation option"
Please consider adding Nginx 1.8 **not LEMP stack** (latest stable) install option, and Redis 3.0.X (repo has old 2.4 option).

Btw. I have few sketches of design, so next week I'll add them inside design issue.

[2015-08-21 17:57] Fourdee commented on #56
Released with v84 under Beta.
http://fuzon.co.uk/phpbb/viewtopic.php?f=8&t=57&p=203#p203

[2015-08-21 17:57] #56 closed, assigned to nobody

[2015-08-22 17:19] Bobbaone commented on #51
This is, what i get:

http://prntscr.com/87nijs

[2015-08-22 19:00] Fourdee commented on #51
Apache 2 is running before the DietPi-Service. It appears you manually installed Apache2 from apt-get, and didnt use dietpi-software.

The DietPi-service sets up the ramdisk /var/log directory, and its subfolders from last shutdown. Basically, Apache2 is starting before /var/log/apache2/ can be generated. This will fail Apache2 starting up.

Use the following to resolve the issue:

DietPi will the

[2015-08-22 19:06] Fourdee commented on #51
Issue resolved.

Please reopen if required.

[2015-08-22 19:06] #51 closed, assigned to nobody

[2015-08-25 10:36] thechildofroth commented on #42
Version 5.3 Beta2 running nicely on DietPi - had to rewrite symlinks to transcoder to complete upgrade:

ln -fs /usr/bin/ffmpeg /var/subsonic/transcode
ln -fs /usr/bin/lame /var/subsonic/transcode

http://www.subsonic.org/pages/download.jsp

[2015-08-25 12:24] Fourdee commented on #42
HI, thanks for the details.

Subsonic is already coded into dietpi-software, but is currently disabled as I havnt had the time to test it yet. I'll try and take another pass at it today.

If you would like to test it, you can enable the installation option in /DietPi/dietpi/dietpi-software by:
- Uncomment the following line https://github.com/Fourdee/DietPi/blob/master/dietpi/dietpi-software#L3307

[2015-08-25 17:44] thechildofroth commented on #42
Cool, thanks Dan.

I did wonder as I'd see you post it in the forum and then it disappeared!
I'll test it out tonight and let you know how I get on.

On 25 August 2015 at 13:24, Dan notifications@github.com wrote:

[2015-08-26 06:50] thechildofroth commented on #42
The basic installation of Subsonic works as expected but there's a bit of tidying to do I think.

We need to use Oracle Java rather than OpenJDK/IcedTea (which is painfully slow) + I think it reduces the number of packages that need downloading.

The script needs to install ffmpeg and lame too, and subsonic's transcoder needs redirecting to then using:

ln -fs /usr/bin/ffmpeg /var/subsonic/transco

[2015-08-26 13:43] Fourdee commented on #42
Great work on this!
As you mentioned, if you can list the packages required, i'll get those changes added to dietpi-software.

[2015-08-26 17:50] thechildofroth commented on #42
Hi Dan,

I've just spun up a new image and gone through the whole process (which I've put here for completeness, obviously not all of it is relevant to the final script)

imaged 081
edited dietpi.txt for wireless

booted and left to resize disks etc

ssh'd in and allowed update patches to run + reboot

select to install alsa (not sure if this is necessary?)
selected hifiberry driver (obviously thi

[2015-08-27 16:20] Fourdee commented on #42
Excellent job thechildofroth :+1:  .
I've implemented your changes and subsonic works flawlessly.
It also seems to perform faster with oracle-java as you mentioned eariler. Great spot on the symlinks and pre-reqs, i did wonder why .ogg wasnt playing the last time i tested it lol.

Again, great job and thanks for helping to make DietPi better and better! I've given you full credit in the changelog

[2015-08-27 19:54] Fourdee commented on #42
Released in v85

[2015-08-27 19:54] #42 closed, assigned to nobody

[2015-08-28 17:31] Fourdee commented on #55
Note to self:
Install code is in dietpi-software. Pending testing.

[2015-08-29 23:09] andrii-riabchun opened #61 "Upgrate dist from Wheezy to Jessie"
Hello, your work is amazing!
I have one question. Is it possible to upgrade with safety dist from Wheezy to Jessie on clear installation, after first run?

[2015-08-30 12:12] Fourdee commented on #61
Hi Andrew,

Thanks for the feedback.

Unfortunately, DietPi (for RPi) does not currently support Debian Jessie at the moment. Doing a dist-upgrade will break most of the DietPi scripts and programs.

As there is already a ticket for this request, and discussion, i have closed this one.
Please see/discuss here https://github.com/Fourdee/DietPi/issues/39

Kind Regards,
Dan

[2015-08-30 12:12] #61 closed, assigned to nobody

[2015-08-31 14:42] Fourdee commented on #55
Released in v87: http://fuzon.co.uk/phpbb/viewtopic.php?f=8&t=5&start=30#p221

[2015-08-31 14:42] #55 closed, assigned to nobody

[2015-08-31 14:43] Fourdee commented on #52
No response. Please reopen ticket if required.

[2015-08-31 14:43] #52 closed, assigned to nobody

[2015-09-05 11:24] thechildofroth opened #64 "Reboot causes two Subsonic processes to be spawned"
When I reboot Dietpi it returns to two subsonic processes showing in htop (which causes jetty to fail - I get a 503 error when trying to connect to the web interface) seems I have to kill both of them and do 'service subsonic start' to get it going properly.

Also I think the minimum memory size you've allocated in subsonic_args is a little too small as I was getting audio dropouts even in Jukebox

[2015-09-05 13:23] Fourdee commented on #64
Hi,

I was unable to replicate this, could you send a screenshot, or "ps aux > ps.txt".

There is a 60second delay from a reboot before Subsonic "fires up". The process is always there, but it appears Subsonic has an issue with loading and processing the rest of its program (eg: web interface).  Not sure what its waiting for, could be a retry attempt. This doesnt occur on a service restart.

This

[2015-09-05 20:20] thechildofroth commented on #64
Here's ps aux from a fresh reboot: http://pastebin.com/bwwNXUuQ

I'd noted the delay on things getting going, normally while it's not fully fired I just get 'cannot connect' for the web interface, when the 2 threads are running I get a different error.
![screenshot from 2015-09-05 21 19 08](https://cloud.githubusercontent.com/assets/13735235/9701113/dceb4d0a-5413-11e5-8ce1-d8317201dfce.png)

[2015-09-07 22:17] Fourdee commented on #64
Thanks for the requested information. I'll have a look at this over the next few days and report back when I have some results.
Regards,
Dan

[2015-09-08 13:13] Fourdee opened #65 "Squeezebox (LMS). Wont start, 100% cpu usage."
https://www.raspberrypi.org/forums/viewtopic.php?p=809287#p809287

https://www.raspberrypi.org/forums/viewtopic.php?p=809932#p809932

https://www.raspberrypi.org/forums/viewtopic.php?p=811954#p811954

http://forums.slimdevices.com/showthread.php?104266-LMS-don-t-start-on-Raspbian-%28DietpPi-Distribution%29

[2015-09-08 13:20] Fourdee commented on #65
#### First run after install:

Carp::croak (79) Warning: cannot chdir to /root from /var/lib/squeezeermission denied, aborting. at /usr/sbin/squeezeboxserver-scanner line 354

[code]

This is expected. Its trying to access $HOME (/root) , which cant be done for root, unless your the root user.

#### Further runs after a reboot:

Can't call method "log" on an undefined value at /usr/share/squeezebo

[2015-09-08 13:55] Fourdee commented on #65
#### What causes this issue:

Permissions must be set. squeezeboxserver:nogroup:
-R /var/log/squeezeboxserver
/var/log/server.log

Logitech Media Server creates and uses a /var/log/server.log file. This is generated, regardless of declaring a --logdir command (--logdir /var/log/squeezeboxserver/).

Found the command to change the server.log location:
--logfile /var/log/squeezeboxserver/error.log

[2015-09-08 15:07] Fourdee commented on #65
#### If you want to run LMS as squeezeboxmediaserver user:

chown -R squeezeboxserver:nogroup /var/log/squeezeboxserver
chown squeezeboxserver:nogroup /var/log/server.log
service logitechmediaserver restart

I will be adding a LMS installation option for DietPi-Software in next release.

[2015-09-08 15:07] #65 closed, assigned to nobody

[2015-09-09 19:00] Fourdee commented on #50
#### Released in v89

DietPi-Backup
DietPi-Sync

https://github.com/Fourdee/DietPi/pull/66

[2015-09-09 19:00] #50 closed, assigned to nobody

[2015-09-13 11:36] Fourdee commented on #64
HI,

Apologies for the delay. I've been unable to replicate the 2 processes on my RPi. However, it may be caused by an issue with the pid file and subsonic service script.

Could you please try the following:

Then reboot the system. Let me know how many subsonic processes there are.

[2015-09-13 11:38] Fourdee commented on #47
No response. Please reopen ticket if required.

[2015-09-13 11:38] #47 closed, assigned to nobody

[2015-09-16 14:20] Bobbaone opened #68 "Kernel Panic"
Since the last Update, suddenly i got a kernel panic.

I cant connect via SSH.
Via HDMI, there only Shows the Kernel Panic message...

I got a clone from the SDCARD. If you want, i can upload it to any Hoster.
All my Datas are lost, im little bit angry...

Greetings.

[2015-09-16 14:30] Fourdee commented on #68
Hi Bobbaone,

I very much doubt the update caused this issue. It is most likely caused by a failing flash media (eg: sd card), or, failing PSU.

Please try to answer these questions:
- What device are you using (eg: rpi)?
- What version was your DietPi system running, before the update (eg: v77)?
- What is the votage and amperage of your power supply?
- Are you over-clocking your system?

In regar

[2015-09-16 14:35] Bobbaone commented on #68
i recently installed dietpi freshly.

Is it possible to get my Data from /etc/*?

Is it easy to get? Possible with Windows or Mac - i use both.?!

Thanks!

Device: Raspi2
Dietpi Version 88
Power Supply is a Quality Model

And no, no overclockings.

[2015-09-16 18:05] Fourdee commented on #68
Hi Bobbaone,

To access the data on your SD card, you will need to run a system that supports ext4 filesystem.
Any Linux distro would work, a Debian live USB stick would be a good choice. See here for more info: http://www.pendrivelinux.com/debian-live-flash-drive-install-from-windows/

If you can tell me what programs you had installed (eg: bit torrent transmission, etc) I can tell you where the

[2015-09-16 18:36] Bobbaone commented on #68
oh, the program file are not needed - the only thing i need is the RRD Backup file from my weather station...

[2015-09-16 18:46] Fourdee commented on #68
This is new to me, so i have no idea where your backup would be stored.
You are best to check the documentation of the software your using, for information relating to where the backups are stored.

[2015-09-16 18:54] Bobbaone commented on #68
i know where the files are but i dont come to...

this is the error with the live CD

Error mounting /dev/sdf2 at /media/user/1263ae8d-aaf3-41b6-9ac0-03e7fecb5d6a: Command-line `mount -t "ext4" -o "uhelper=udisks2,nodev,nosuid" "/dev/sdf2" "/media/user/1263ae8d-aaf3-41b6-9ac0-03e7fecb5d6a"' exited with non-zero exit status 32: mount: wrong fs type, bad option, bad superblock on /dev/sdf2,
       m

[2015-09-16 19:28] Fourdee commented on #68
Please try the following and reply with results:
blkid
df -h
fsck /dev/sdf2

[2015-09-17 15:40] Bobbaone commented on #68
Its ok - ive settled with it..

[2015-09-17 15:40] #68 closed, assigned to nobody

[2015-09-20 12:31] Fourdee opened #69 "DietPi-Software | Lighttpd webserver stack"
Lighttpd + SQLite + PHP5
http://fuzon.co.uk/phpbb/viewtopic.php?f=9&t=88

[2015-09-20 12:32] Fourdee opened #70 "DietPi-Software | Mailserver"

[2015-09-20 12:34] Fourdee opened #71 "DietPi-Software | Update DietPiCam to 6.0.9"
Rewrite installation to install latest version 6.0.9
http://fuzon.co.uk/phpbb/viewtopic.php?f=9&t=87&p=300#p300

[2015-09-21 11:39] Fourdee opened #72 "Add IPv6 support"
http://fuzon.co.uk/phpbb/viewtopic.php?f=9&t=89&p=320#p315

[2015-09-21 11:44] Fourdee commented on #46
Inactive.

New website is live http://dietpi.net
Many thanks to Jerome Queneuder for providing the modified template and his assistance!

[2015-09-21 11:44] #46 closed, assigned to nobody

[2015-09-22 16:58] thechildofroth commented on #64
Hi Dan,

Just got back from a few days away so sorry for the delayed response.

I updated to v90 and on reboot I still had two processes running so I did the update rc.d thing and that seems to have cleared it (just one process running on reboot), thanks.

[2015-09-22 16:58] #64 closed, assigned to nobody

[2015-09-22 18:40] Fourdee commented on #64
No worries. Good to hear is been resolved!

I've changed the way DietPi controls services in v92. It will prevent multiple processes from being launched during boot.

[2015-09-23 17:56] Fourdee opened #73 "DietPi-Config | Add CPU/ARM min frequencies for RPi"

[2015-09-26 14:12] roheve commented on #39
I did upgrade my RPI to jessie a while ago. Upgrading went well, but after the final reboot it got in to a recovery console mode. This was caused by two lines in fstab that try to mount /dev/sda1 to /mnt/usb_1 and I do not have an USB disk connected. I just commented out those lines and my RPi works fine now.

I am not sure what will happen when I run dietpi-upgrade, so I did not do that (am stuck

[2015-09-27 08:43] Bobbaone opened #75 "error while loading shared libraries: libidn.so.11: wrong ELF class: ELFCLASS64"
This error suddenly appears + segmentation fault at apt-get....

i think i switch to a stable version of the raspberry os

[2015-09-27 11:19] Fourdee commented on #75
Segmentation fault indicates a PSU, SD or unstable overclocking issue. You will experience the same issue on the official Raspbian at some point.

You could also try to install the shared library:
apt-get instal libidn11

[2015-09-27 11:29] Fourdee opened #76 "DietPi-Software | Use sources.list for internet url tests"

[2015-09-27 14:22] Fourdee commented on #76
Done. v93

[2015-09-27 14:22] #76 closed, assigned to nobody

[2015-09-27 14:23] #75 closed, assigned to nobody

[2015-09-27 16:48] Fourdee commented on #73
Done as a toggle option. v93.

DietPi-Config (RPi) -> Performance Options -> Lower Min Freqs
New menu option to toggle the use of lower minimum freqs in config.txt(arm_freq_min=100 etc). Allows for potential power saving.

[2015-09-27 18:16] Fourdee commented on #72
I've planned to add a "toggle" in DietPi-Config, between ipv4 and ipv6.

In the mean time...
IPv6 can be enabled in all DietPi images, by running the following code:

[2015-09-29 16:02] Fourdee commented on #73
Update, some issues when  using the _freq_min settings:
- Setting any of the _freq_min settings causes initial_turbo to be disabled.
- Using a value of core_freq_min=75. Causes the display to turn on and off. A direct link to what state the scaling frequency is at that time. Off when CPU is idle, On when CPU is scaled to max.

I've disabled this feature in DietPi-Config, and will try the RPi forum

[2015-09-29 16:31] Fourdee commented on #71
Done. v93.
New installs of DietPiCam (Modified RPi Cam Control) will install the latest version (v6.0.9).

[2015-09-29 16:31] #71 closed, assigned to nobody

[2015-09-30 15:01] Fourdee commented on #39
Hi Roheve, thanks for the information.
When I come to updating DietPi-RPi to Jessie, i'll be sure to check those fstab mounts for issues.

[2015-10-01 16:48] Fourdee commented on #39
@roheve

Adding nofail to the /etc/fstab mount points prevents systemd from crying (and dying) when the device doesn't exist.

[2015-10-03 18:33] Fourdee opened #78 "DietPi-Software | DHCP server installation option."

[2015-10-04 12:41] husnoo opened #79 "/DietPi/config.txt does not contain the actual config.txt, despite what it claims"
$ cat /DietPi/config.txt
This file has been moved to DietPi-Ramdisk.
New location = /DietPi/config.txt

[2015-10-04 19:16] Fourdee commented on #79
Hi Husnoo.

What version of DietPi are you currently running? Are you able to send a dietpi-bugreport?

[2015-10-04 19:35] husnoo commented on #79
nawal@poobum:~$ cat /etc/os-release
PRETTY_NAME="Raspbian GNU/Linux 7 (wheezy)"
NAME="Raspbian GNU/Linux"
VERSION_ID="7"
VERSION="7 (wheezy)"
ID=raspbian
ID_LIKE=debian
ANSI_COLOR="1;31"
HOME_URL="http://www.raspbian.org/"
SUPPORT_URL="http://www.raspbian.org/RaspbianForums"
BUG_REPORT_URL="http://www.raspbian.org/RaspbianBugs"

But report: 801f029201f3-0

[2015-10-04 20:36] Fourdee commented on #79
This is a known issue with v77.

Please follow this post to resolve the issue:
http://fuzon.co.uk/phpbb/viewtopic.php?f=9&t=39&p=131&hilit=404#p131

[2015-10-06 11:48] Fourdee commented on #79
Assumed resolved as it is a known issue and resolution. Please reopen ticket if required.

[2015-10-06 11:48] #79 closed, assigned to nobody

[2015-10-06 11:54] Fourdee commented on #73
No response from RPi community, and, no official documentation which covers a compatible list of frequencies.

For the mean time, this feature will remain disabled until further testing, and/or, documentation is available.

[2015-10-06 11:57] Fourdee opened #80 "DietPi-Software | Add OpenVPN installation option."

[2015-10-06 19:25] Fourdee opened #81 "DietPi-Software | Add Wordpress installation option."

[2015-10-07 15:34] Fourdee commented on #39
DietPi for Raspberry Pi's (Jessie) released with v94:
Please see http://fuzon.co.uk/dietpi for download.

[2015-10-07 15:34] #39 closed, assigned to nobody

[2015-10-08 13:32] pilovali commented on #81
This is just a matter of:
wget https://wordpress.org/latest.zip
unzip latest.zip -d /var/www

If you go to http://ip_address/wordpress it will start with the installation wizard.

[2015-10-08 14:19] Fourdee commented on #81
I also had to automate the creation of a MySql db for Wordpress: https://github.com/Fourdee/DietPi/blob/testing/dietpi/func/create_mysql_db

[2015-10-08 16:00] Fourdee commented on #81
Done. Available in DietPi v95.

[2015-10-08 16:00] #81 closed, assigned to nobody

[2015-10-08 16:32] Fourdee opened #83 "DietPi-Software | Update SoftEther installation to latest."

[2015-10-09 14:20] Fourdee commented on #83
Done. DietPi v95 will install the latest version of SoftEther:
v4.19-9582-beta-2015.10.06

[2015-10-09 14:20] #83 closed, assigned to nobody

[2015-10-10 12:39] thechildofroth opened #84 "Jessie + Subsonic - FFmpeg binaries."
Just testing the new Jessie image, it seems that upstream have removed ffmpeg (replaced with libav - which doesn't seem to be a 'diet' solutions...)

[2015-10-10 16:06] Fourdee commented on #84
Thanks for the report. I'll take a look.

[2015-10-10 16:49] Fourdee opened #86 "bugreport-b827eb6013c0-0 - Jessie | Transmission 403 unauthorized."
DietPi : Bug Report
 08-10-2015

Email address = HIDDEN
Name          = Lloyd

Transmission daemon 403 unauthorized.

When does the issue occur?
transmission is returning 403 on web ui. whitelist is disabled.
transmission doesnt appear to be actually using settings.json

[2015-10-10 17:37] Fourdee commented on #86
ExecStart does not contain the --config-dir command. Possibly, no config is loaded.

Removing this systemd service and falling back to the LSB script resolves issue.

[2015-10-10 17:46] Fourdee commented on #86
Done. Will be patched with DietPi v96 update.

[2015-10-11 13:48] Fourdee commented on #84
I've updated the installation to install libav-tools. Subsonic runs but no sound, probably due to the old symlink we used as the ffmpeg package no longer exists in Jessie:

Any ideas?

[2015-10-11 18:07] thechildofroth commented on #84
On the bit of reading I've done today it looks like Debian are switching back to ffmpeg in the next version (?!)

I'm just about to test installing ffmpeg from the debian multimedia repo (as per these instructions: https://www.assetbank.co.uk/support/documentation/install/ffmpeg-debian-squeeze/ffmpeg-debian-jessie/) and see if I can get it working that way in dietpi. What would the deal be about a

[2015-10-11 18:15] Fourdee commented on #84
Yeah i heard that aswell with the next Debian. Ideally, we need Wheezy-backports i believe, but its not supported by Raspbian.

I'll take a look at your link tomorrow and see what I can sort out.

[2015-10-12 16:11] Fourdee commented on #86
v96 released.

[2015-10-12 16:11] #86 closed, assigned to nobody

[2015-10-13 03:42] olfdag opened #88 "Pi not updating to v96."
I run the dietpi-update command and everything works and it tells me to reboot but once I reboot it displays v94 and that there is a new update

[2015-10-13 10:29] thechildofroth commented on #84
I've submitted a but report as I'm somewhere close to the edge of my skills
in working out what's wrong.

From a fresh image I added the Debian Multimedia repositories before using
dietpi-software to add subsonic (which all seemed to work including pulling
in ffmpeg and LAME) but I've still got no sound and can't see ffmpeg
running in HTOP.

On 11 October 2015 at 19:15, Dan notifications@github.co

[2015-10-13 12:01] Fourdee commented on #88
Hi,

I am unable to replicate your issue. Could you please send me a dietpi-bugreport, this will let me see your system settings.

Simply run: dietpi-bugreport
Then, reply with your reference CODE.

Thanks

[2015-10-13 12:22] Fourdee opened #89 "DietPi-Software | Add PhpSysInfo installation option."
NB: to replace unsupported Raspcontrol for RPi - Jessie.

[2015-10-13 12:26] Fourdee opened #90 "General | Install Fail2Ban for all DietPi systems, as default."
NB: prevents brute-force attacks by banning IP address

[2015-10-13 12:50] Fourdee commented on #90
Pretty chunky due to python pre-reqs, will add as an optional installation option in DietPi-Software.

[2015-10-13 13:07] pilovali commented on #69
apt-get install lighttpd php5-cgi php5-sqlite php-opcache
lighttpd-enable-mod fastcgi
lighttpd-enable-mod fastcgi-php
service lighttpd force-reload

I'm following https://www.digitalocean.com/community/tutorials/how-to-install-the-llmp-stack-linux-lighttpd-mysql-and-php-on-ubuntu-12-04. It should work about the same, but then with opcache and SQLite.

[2015-10-13 13:38] Fourdee commented on #90
NB: Requires rsyslog (so SSH can log to /var/log/auth.log via syslog), and SSh server logging enabled.

[2015-10-13 16:12] Fourdee commented on #89
Done, available in next release (v97).

[2015-10-13 16:12] #89 closed, assigned to nobody

[2015-10-13 16:12] Fourdee commented on #90
Done, available in next release (v97).

[2015-10-13 16:12] #90 closed, assigned to nobody

[2015-10-13 18:30] olfdag commented on #88
b827eb30e7ae-0

[2015-10-13 19:26] Fourdee commented on #88
It appears we have a few issues:
- The /etc/bash.bashrc file is missing all the DietPi aliases. By removing them, the commands wont work.
- I'am seeing you have modified the /etc/fstab file. Breaking the /var/log, /tmp mounts.

I may be wrong, and, you could have a bizarre SD card corruption, or, you've been a little too "trigger happy" with core system settings that DietPi relies on.
Regardless,

[2015-10-13 20:06] #88 closed, assigned to nobody

[2015-10-14 11:50] Fourdee opened #91 "DietPi-Software | Single File PHP Gallery"

[2015-10-14 20:20] Fourdee commented on #84
Hi Marc?
I received your bug report, thanks for sending.

Ok, good news. This will be resolved in DietPi v97 :)

FFmpeg doesnt create a process, so it will never be seen in htop. Appears Subsonic handles this within its own process.

The issue is caused by two things:
1 = An issue with creating 2 symlinks to the same source https://github.com/Fourdee/DietPi/blob/master/dietpi/dietpi-software#L2423

[2015-10-15 06:40] thechildofroth commented on #84
Thanks Dan,

I'll test this recipe, it's odd as I can't see what's different from what
I've done - but hey if it works now who cares!

On 14 October 2015 at 21:20, Dan notifications@github.com wrote:

[2015-10-15 11:54] thechildofroth commented on #84
I've flashed a new image, let it update and followed your instructions but
I'm still not getting any sound (either transcoded over the network or via
'Jukebox' mode).

(I've also used dp-config to reset to my dac soundcard)

Subsonic seems to think it's working, this is in the log when I play a file:

[10/15/15 12:51:19 PM BST]INFOPlayQueueInputStreamadmin listening to "Adele
- 21/01. Adele - Roll

[2015-10-15 12:35] Fourdee commented on #84
Strange,

I did fresh installs on both Wheezy and Jessie. It appears the ffmpeg transcode process loads on both distros, however, once the whole file has been transcoded (which is quicker than playback), the process is stopped.

I also tested .flac files on both distros, worked fine (.101 = Wheezy, .100 = Jessie):
![test](https://cloud.githubusercontent.com/assets/7077026/10513731/72f4200a-7341-11

[2015-10-15 14:00] pilovali commented on #80
Installation instructions for Pi: https://www.raspberrypi.org/forums/viewtopic.php?t=81657
It's a bit more than dpkg -i openvpn.deb. Unfortunately.

[2015-10-15 14:23] Fourdee commented on #91
Done. Available with DietPi v97.
http://fuzon.co.uk/phpbb/viewtopic.php?f=8&t=5&start=40#p480

[2015-10-15 14:24] mamuesp commented on #80
I started a project on DietPi basis some months ago to automatically set up an VPN router, but I slowed down because of the lack of time. The link is here: https://github.com/mamuesp/pirouette - perhaps it's helpfull

[2015-10-15 14:26] Fourdee commented on #80
Thanks guys, i'll take a look when I come round to implementing.

[2015-10-15 14:35] #91 closed, assigned to nobody

[2015-10-15 14:35] Fourdee commented on #84
v97 released and confirmed working. Please reopen if required.

[2015-10-15 16:30] Fourdee opened #93 "bugreport-b827ebb975a0-0 | DietPi-Config > Language > Keyboard (Jessie)"

[2015-10-15 16:34] Fourdee commented on #93
dpkg-reconfigure keyboard-configuration
No output, does nothing.

Packages are installed:
keyboard-configuration
console-common
console-data
console-setup
console-setup-linux

Following works and appears to do the same task:
dpkg-reconfigure console-data

+Jessie service control:
service keyboard-setup restart

[2015-10-16 07:54] septs opened #94 "DietPi-Config | Add ZRAM-Swap Configure"
Currently only supports swapfile want to support zram-swap

see https://www.raspberrypi.org/forums/viewtopic.php?t=19255&p=189838

[2015-10-16 10:42] thechildofroth commented on #84
Sorry, but still no dice here.

Reformatted, re-imaged and reinstalled - all seems to go well but I'm not getting the second process with ffmpeg and if I issue any command to ffmpeg from the prompt I get 'illegal instructions'

Edit, a bit more casting about seems to suggest that the ffmpeg that's installed is compiled for the wrong architecture (hence 'illegal instructions') - not sure how why mi

[2015-10-16 12:23] Fourdee commented on #94
Thanks Septs, will take a look into your request when i can.

[2015-10-16 13:40] Fourdee commented on #84
Ah, sounds like your running the RPi v1 (armv6)? I did the Jessie tests on my RPi v2 (armv7). If thats the case, you would probably need to compile ffmpeg for your system, or, find another repo that contains armv6 binaries.

[2015-10-16 15:24] thechildofroth commented on #84
Ok, that makes sense - probably worth putting a health warning on the Subsonic installation option.

When I get a chance I'll have a play at compiling - if I get a simple(ish) working recipe I'll post back as it might be worth including so that the installation is foolproof regardless of hardware platform?

[2015-10-16 16:00] Fourdee commented on #84
Yep by all means, if you get the compile working for your RPi v1, let me know the steps. I can then add it to the RPi v1 installation code for dietpi-software using Jessie.

[2015-10-16 16:22] Nibeck1309 opened #95 "bug report 0013ef1019eb-0 : Can't connect deluge deamon on windows client remote"
I can't connect to my RPI2 dietpi V97 deluge with my Windows 10 deluge client.

When I configure the client, the deamon appear not start
I can connect to the webui

[2015-10-17 13:38] Fourdee commented on #95
Hi,

Thanks for the bug report.
I'am unable to replicate your issue.
![untitled](https://cloud.githubusercontent.com/assets/7077026/10558971/acce4a98-74dc-11e5-93c1-d7bef6fbc228.jpg)

Have you tried restarting the service as per the 1st run guide? http://fuzon.co.uk/phpbb/viewtopic.php?f=8&t=5&start=10#p61

dietpi-services restart

[2015-10-17 15:14] Fourdee commented on #93
Resolved v98.

[2015-10-17 15:14] #93 closed, assigned to nobody

[2015-10-19 16:33] thechildofroth commented on #84
Making the compilation of ffmpeg takes ages, is there a way I can share a compiled binary which dietpi can pull on if installing for this hardware version?

[2015-10-19 16:42] blindpet commented on #84
@thechildofroth ffmeg has rules about not posting precompiled binaries unfortunately

[2015-10-19 17:53] thechildofroth commented on #84
@blindpet thanks for the info, it doesn't look impossible from here: https://www.ffmpeg.org/legal.html but I am probably misunderstanding it, certainly 18 doesn't make sense to me at the moment.

[2015-10-19 19:26] Fourdee commented on #84
@thechildofroth Please send me the binary .deb package.
I'll host it on my personal webserver. I'am sure FFmpeg will contact me if its a breech of their terms.

[2015-10-20 06:31] Nibeck1309 commented on #95
Hy,

I do a clen install of dietpi, install deluge from dietpi-software, reboot, dietpi-service restart.
I can connect to deluge from windows deluge client.
On next reboot i can't connect. The deluge deamon appear not run on windows deluge

[2015-10-20 11:25] Fourdee commented on #95
I will run another test today on my RPi v1 and Wheezy (which i believe, from your bug report is your system setup) using your steps to try and replicate the issue.

I'll be in touch.

[2015-10-20 11:46] Fourdee commented on #72
Does anyone have a IPv6 local network and willing to run some tests for DietPi?

Please run the following to enable IPv6:

Then run dietpi-config. Test DHCP and STATiC networking options, then report back any issues.

[2015-10-20 15:28] Nibeck1309 commented on #95
Hy,

I have news information,

When I reboot my RPI, on next reboot I can't connect to deluge with windows deluge client.
But if after I reboot Dietpi, i executed dietpi-service restart, I can connect to deluge....

Why I do execut dietpi-service restart for deluge works after i reboot Dietpi ?

[2015-10-20 18:11] Fourdee commented on #95
Thanks for the update.
I'am just waiting for my RPi v1 to install deluge (busy day), then i'll take a look.

[2015-10-20 18:42] Fourdee commented on #95
Using client: 1.3.12-1 & Python 2.7
http://download.deluge-torrent.org/windows/py2.7/deluge-1.3.12-1-win32-py2.7-setup.exe

After reboot, unable to connect deluge client:
- Only occurs on Wheezy. Jessie is fine.
- Log file is identical, after reboot [deluge_reboot.txt](https://github.com/Fourdee/DietPi/files/17056/deluge_reboot.txt) and restart of services [deluge_after.txt](https://github.com/Fou

[2015-10-20 18:51] Fourdee commented on #95
I will close this ticket. Please see my previous post for resolution options.

Please re-open ticket if required.

[2015-10-20 18:51] #95 closed, assigned to nobody

[2015-10-23 00:22] blamoo opened #97 "MT7601 wifi dongle"
Is theresomething wrong with the drivers for this device?

I connect it to my Pi, fresh DietPi v94 Jessie install, no optimized software.

dmesg gives me this:

[code]

I copied that file `mt7601u.bin` from the official Raspbian to `/lib/firmware` and then it worked:

[code]

Is it supposed to work like this?

[2015-10-23 09:22] thechildofroth commented on #84
Thanks Dan,

I'll do this but it will take me a while as you're pushing my debian chops
pretty hard (and the first compile didn't work).

I've not got as far as working out how to use a toolchain so we'll just
have to wait for the pi to crunch the numbers.

On 19 October 2015 at 20:26, Dan notifications@github.com wrote:

[2015-10-23 11:40] Fourdee commented on #97
What Kernel/Firmware version and distro, was Raspbian running when you copied  /lib/firmware/mt7601u.bin?

Have you tried updating the RPi Kernel/Firmware (rpi-update) on your DietPi system?

[2015-10-23 11:50] blamoo commented on #97
I'm not sure, I can't check it right now...

yes, nothing happened...

Also, that `mt7601u.bin` can be found here: https://github.com/porjo/mt7601/blob/master/src/mcu/bin/MT7601.bin

[2015-10-24 13:05] Fourdee opened #98 "DietPi-Config | Add i2c/spi and other hardware options for RPi's"

[2015-10-24 19:27] Fourdee commented on #97
Thanks.
I've created a patch for DietPi Jessie:https://github.com/Fourdee/DietPi/blob/testing/dietpi/patch_file#L816-L820

This will be available and applied in the DietPi v99 update.

[2015-10-24 21:26] thechildofroth commented on #84
I mostly used this guide:

https://www.raspberrypi.org/forums/viewtopic.php?t=52834&p=406109

(when I configured it I also added --arch=armhf)

and came up with these, which work (woo)
https://drive.google.com/folderview?id=0B-Y8Pjy36wUZcEpxX2tnc2hVenM&usp=sharing

FFmpeg installs to /usr/local/bin/ffmpeg (so the location, or the symlink, needs changing when dp configures the subsonic install)

[2015-10-24 21:38] Fourdee commented on #84
@thechildofroth Lol, i'am just compiling ffmpeg for armv6 at the moment. You beat me too it :)
Once this compile is done, i'll test both .deb packages.

This is how i did it. We need the deb-multimedia for libfaac-dev:

[2015-10-24 21:41] blamoo commented on #97
Thanks, i'll test it ASAP :)

[2015-10-24 21:50] thechildofroth commented on #84
Neat, I've also compiled the fdk version of the aac codec, which saves having the MM repo in there and is apparently the superior audio codec for that format.

[2015-10-25 18:32] lukecyca opened #99 "Driver for DWA-182 rev. C"
This wifi module has linux drivers [from the manufacturer](http://support.dlink.com/ProductInfo.aspx?m=DWA-182). I attempted to download and compile them, but it's not clear to me where to get the correct `linux-headers` from. There doesn't seem to be a package available.

I am running DietPi V98, and have done `rpi-update` to get the latest firmware.

[code]

My first priority would be to figure

[2015-10-26 16:37] Fourdee commented on #84
Having a nightmare with this.

Using either your compiled ffmpeg.deb or my ffmpeg.deb, on a fresh install (without compiling) reports libvorbis missing.
The only way to install this package is through the debian multimedia repo:

However, from today, the ffmpeg package is now available in the deb multimedia repo, for armv6 and is considered an update to our packages.
If we install the ffmpeg from

[2015-10-26 16:48] thechildofroth commented on #84
Thanks for the update Dan,

I'll try a clean install with my .deb files - not sure about that
dependency (libvorbis) as I've not enabled any other repos to get it
working on my machine - did you install the AAC codec I compiled too?

It'll be worth getting this working as it'll likely also have an effect on
Ampache (as I think that uses FFmpeg too?)

On 26 October 2015 at 16:37, Dan notifications@

[2015-10-26 18:46] Fourdee commented on #84
I didnt try the fdk originally, so ran a new test on fresh install. Same issue. http://pastebin.com/gyHhN1pG

Yes, ffmpeg is a shared resource and is required for Ampache, hence why i've spend so much time on it. Its just the RPiv1 (armv6) + Jessie left to do. XU4/C1 are compiled during install (takes <2mins), RPiv2(armv7) is available in debian multimedia repo.

[2015-10-26 20:08] thechildofroth commented on #84
I have FFmpeg working from a fresh install.

Need to install: libass-dev libopencore-amrnb-dev libopencore-amrwb-dev
libspeex-dev libtheora-dev libtool libvorbis-dev lame

I suspect it's not the dev file, but something it brings in with it, that
makes it work? So there's probably room for some efficiency in package
choice, but it doesn't need the other repo.

I'm going to get on with installing ja

[2015-10-26 21:31] Fourdee commented on #99
Hi Luke,

Yep, from the download like you provided, looks like i'll need to compile the driver. I'll attempt this in the next few days and keep you updated.

Have you tried using this device on the official Raspbian. Same issue?

[2015-10-26 23:26] bdl555 opened #100 "PI-hole cannot be installed"
I get a githubusercontent.com.../master.zip could not be downloaded or is unreachable error

[2015-10-26 23:28] blindpet commented on #100
This works, github had some issues the past week or so

[code]

[2015-10-26 23:59] lukecyca commented on #99
Thanks for the reply, Dan.

I have not tried with Raspbian. I suspect the drivers are not built-in, but it would be fairly easy to install `linux-headers-rpi` and then build the drivers as per the manufacturer's instructions.

[2015-10-27 12:52] Fourdee commented on #100
Just tested. Working fine here: https://github.com/Fourdee/DietPi/blob/master/dietpi/dietpi-software#L994

Most likely, your RPi was unable to resolve the url, or, connection drop.
On your RPi, try:
wget https://github.com/jacobsalmela/AdminLTE/archive/master.zip
If that works, run dietpi-software and retry the installation.

Ticket closed as unable to replicate. Re-open if required.

[2015-10-27 12:52] #100 closed, assigned to nobody

[2015-10-27 12:54] thechildofroth commented on #84
Confirmed working nicely with my compiled FFmpeg and FDK codec, running on
Java 8 and with the (released yesterday) new 5.3 version of Subsonic.

For additional 'dietage' it would appear that it is not necessary to
install alsa for subsonic to work.

[image: Inline images 2]

On 26 October 2015 at 20:08, Marc Rothera marc.rothera@gmail.com wrote:

[2015-10-27 13:01] Fourdee commented on #84
@thechildofroth Doesnt Subsonic have the ability to play to local output? This would require alsa-base.

I'll try java8 + 5.3 Subsonic on all DietPi systems (c1/xu4 14.04) and update code if successful.

Thanks for the info on the -dev packages :+1: . I'll try it today and update installation code if all works.
I'd like to try and find a method of installing without relying on -dev packages, seems

[2015-10-27 13:09] thechildofroth commented on #84
re; ALSA: Subsonic does play locally (and I've tested it as working) I'll
check later if ALSA base has been brought in without my noticing.

I can also try uninstalling the -dev packages and see if it keeps working,
is there a way I can use either the bug report or the backup tool to show
you what's installed?

On 27 October 2015 at 13:01, Dan notifications@github.com wrote:

[2015-10-27 13:10] Fourdee opened #101 "DietPi-Software | Add Cacti installation option."

[2015-10-27 13:41] Fourdee commented on #84
Yep, if you run dietpi-bugreport , it sends me list of installed packages (dpkg -l) , and, various other system and DietPi settings.

[2015-10-27 15:02] Fourdee commented on #84
Ok, tested all DietPi systems for FFmpeg and Subsonic. All working ok.
- The -dev packages + your .deb packages did the trick for armv6.
- Subsonic installed version is now 5.3 (not beta2)
- Java installed version installed is 8 (not 7)

[2015-10-27 16:56] Fourdee commented on #98
Done. Available in v99.
https://github.com/Fourdee/DietPi/blob/testing/dietpi/func/dietpi-rpi_i2c_control
![x](https://cloud.githubusercontent.com/assets/7077026/10765651/ad7f7a88-7ccb-11e5-9d88-c9712db2f37d.png)

[2015-10-27 16:58] Fourdee commented on #97
Done.
I'am due to release v99 later this week. Once you've updated, you can test it ;)

[2015-10-27 16:58] #97 closed, assigned to nobody

[2015-10-27 17:00] Fourdee commented on #84
Done. Closing ticket.
Resolved in v99 which will be released later this week.

Reopen if required.

[2015-10-27 17:02] Mootch commented on #84
Will this update only install ffmpeg during the subsonic installation? I was looking to get ffmpeg working with ampache on a rPi2 with Jessie and wasn't sure if this fix would help for other applications.

[2015-10-27 17:05] Fourdee commented on #84
@Mootch
DietPi optimized installation for Ampache will be available in v99 also (its already coded).

I've separated FFmpeg into its own installation option in dietpi-software > linux. All dietpi-software that requires FFmpeg will automatically install FFmpeg (which includes Subsonic / Ampache).

[2015-10-27 17:09] Mootch commented on #84
That's even better than I expected. I appreciate the work you are doing on this.

[2015-10-27 17:16] Fourdee commented on #84
@Mootch
Thanks, appreciate it :)

I cant take all the credit for Ampache. "Jig" helped provide the installation steps for it: http://fuzon.co.uk/phpbb/viewtopic.php?f=9&t=146#p551

[2015-10-27 17:19] Fourdee opened #102 "RPi Jessie | WiFi = excessive "calling CRDA" print on tty1"
Print appears harmless, does not affect operation of system. However, possible boot delay report from forum post (above).

[2015-10-27 19:50] thechildofroth commented on #84
Great work Fourdee!

I've just been having a play with trying to whittle down the package list,
I did apt-get remove on all the -dev files, which, as you'd expect, broke
FFmpeg. However I've got it back up by installing the following packages:

libogg0
libvorbisenc2
libtheora0
libspeex1
libopencore-amrwb0
libopencore-amrnb0
libass5

So we can put this FFmpeg install on the DietPi Diet!

On 27 Octo

[2015-10-27 20:02] Fourdee commented on #84
@thechildofroth
Brilliant, i'll update the installation code for v100. We like minimal stuff here :D

[2015-10-28 03:06] blamoo commented on #97
It works!

[2015-10-29 21:12] Fourdee commented on #102
wlan0 adapter is not being brought up during boot.

editing /etc/rc.local and adding the following is a workaround:
ifup wlan0

Possible systemd ordering, or, caused by CRDA failing.

[2015-10-30 13:27] Fourdee commented on #102
As per http://fuzon.co.uk/phpbb/viewtopic.php?f=9&t=151#p568

Regardless of the /etc/default/crda setting. CRDA claims its not set:
root@dietpi:~# crda
COUNTRY environment variable not set

Notes to self:
- Can we disable CRDA?
- Can we run CRDA using runtime options (eg: crda --code=GB)?
- Do we need to add anything to the /etc/network/interfaces file for CRDA to function?

[2015-10-30 16:13] Fourdee commented on #84
Updated installation code for v100.

Replaced -dev packages with:
apt-get install libogg0 libvorbisenc2 libtheora0 libspeex1 libopencore-amrwb0 libopencore-amrnb0 libass5 -y

Need to test on a fresh install.

[2015-10-30 16:56] Fourdee commented on #84
Fresh install, tested ok.

[2015-10-30 16:56] #84 closed, assigned to nobody

[2015-10-30 18:37] thechildofroth commented on #84
Looking forward to testing v100 when it goes live - Dietpi is now surely the most comprehensive platform for audio on a Raspberry Pi.

[2015-10-31 14:06] Fourdee commented on #80
Implemented for DietPi v100.

[2015-11-01 13:17] thechildofroth commented on #84
In pursuit of minimalism I've managed to get the package list even smaller by using Java downloaded directly from Oracle rather than the Raspbian package (which drags a whole load of unnecessary X11 stuff in with it and I've not found the headless version yet).

Steps (care of: http://mj2p.co.uk/a-raspberry-pi-subsonic-jukebox-using-java-8/):

mkdir -p /opt and then unpack the file you just downlo

[2015-11-01 18:02] Fourdee commented on #84
Loving the pursuit of minimalism :+1:

I was able to achieve your goal by using this on Ubuntu 14.04 (Odroid c1/xu4 images). I've updated the dietpi-software code for this:

As for Debian, they still include x packages:

What you're proposing sounds great and i'am all for optimizations, however, it seems overkill.
Considering Java is a shared library resource, i'd like to leave it alone as much as

[2015-11-02 14:38] lukecyca commented on #99
Anything I can do to help you with this?

If I could get the kernel headers installed, then I could try compiling the vendor's drivers to ensure they work.

[2015-11-02 16:52] Fourdee commented on #99
Hi Luke,

Apologies for the delay, extremely busy at the moment with v100.
Yes, if you could try compiling and testing, seems the most logical as I dont own DWA-182.

You can search Apt for a list of packages:
apt-cache search linux-headers
As for which one you need, not sure, but i'd assume linux-headers-rpi.

[2015-11-02 19:14] #80 closed, assigned to nobody

[2015-11-03 18:33] Fourdee opened #104 "DietPi-Sync | CurlFTPFS mount as source = Hangs during rsync."
ref

[2015-11-03 18:35] Fourdee commented on #102
Spot on, resolves the issue! Thanks for the info.

iw and crda will be installed during v100 patch.

Date: Tue, 3 Nov 2015 02:24:17 -0800
From: notifications@github.com
To: DietPi@noreply.github.com
CC: daniel_haze@hotmail.com
Subject: Re: [DietPi] RPi Jessie | WiFi = excessive "calling CRDA" print on tty1 (#102)

apt-get install iw crda solves this, I think...

—
Reply to this email directly or v

[2015-11-03 19:42] Fourdee opened #105 "DietPi image for Orange Pi"
Request:

Device Info:

[2015-11-03 23:42] blamoo opened #106 "dietpi-software fails when dpkg is on interrupted state"
`dietpi-software` marks software as installed, but won't install anything unless you run `dpkg --configure -a`
Even with this error, it still says the software is installed on `dietpi-software` and `dietpi-uninstall`.

[2015-11-03 23:45] blamoo commented on #102
Ah, sorry for deleting that post :p

[2015-11-04 05:56] lukecyca commented on #99
I managed to get this build for my `4.1.10+` kernel (DietPi Jessie, updated). It wasn't straightforward so I'll post my instructions here.
1. `apt-get install gcc-4.8 g++-4.8`
2. Used [rpi-source](https://github.com/notro/rpi-source) to download the correct kernel sources and set things up for compiling a kernel module. This utility is awesome! It automates the frustrating process of getting the c

[2015-11-04 11:47] Fourdee commented on #106
Hi Blamoo,.

Sounds like a previous apt-get install failed, this would cause dpkg to prevent further installations, until the issue is resolved.

I'll need to check your settings, can you send me a bug report please:
dietpi-bugreport

Also, can you remember which software you installed, prior to the error being displayed?

Notes to self:
- Check dpkg for failed state before dietpi-software runs in

[2015-11-04 11:54] blamoo commented on #106
k, I can't do it right now but I'll try to reproduce it tonight.

[2015-11-04 12:02] Fourdee commented on #99
Hi Luke,

Thanks for the info :+1: , and great to hear the issue is resolved.

If the DWA-182 works on the official raspbian, i'll add support for it in DietPi also. If it does not, you will need to manually compile the driver as required.
The amount of time required to support all DietPi images with a user specific/unsupported driver would be a nightmare.

You could also compile the driver to a .

[2015-11-04 12:02] #99 closed, assigned to nobody

[2015-11-05 19:28] Fourdee commented on #106
I've added some error checking to v100 to help with debugging. This will inform the user and provide the apt error code if this re-occurs.

[2015-11-05 20:56] Fourdee commented on #105
Released:
Orange Pi PC image. http://www.orangepi.org/orangepibbsen/forum.php?mod=viewthread&tid=662&extra=page%3D1

[2015-11-05 20:56] #105 closed, assigned to nobody

[2015-11-05 21:59] Fourdee opened #107 "Bootdelay when using USB drive."
As title, for RPi's.

if (( $HW_MODEL < 10 )); then
--msg-box /boot/cmdline.txt rootdelay=10
fi

[2015-11-06 14:37] Fourdee commented on #104
Unable to replicate this issue using Jessie. Sync was successful.

[2015-11-08 14:25] #106 closed, assigned to nobody

[2015-11-08 14:26] #102 closed, assigned to nobody

[2015-11-08 14:26] #104 closed, assigned to nobody

[2015-11-09 13:49] septs opened #109 "Upgrade "v100" been waiting for "apt-get update""
![](https://cloud.githubusercontent.com/assets/3842474/11035189/a892144e-872b-11e5-843b-7fad76455d38.png)

Model: Raspberry Pi 1 model B+

[2015-11-09 14:04] Fourdee commented on #109
Hi Septs,

At the command prompt, can you run the following code please:

[2015-11-09 14:15] septs commented on #109
thank you, `rm /DietPi/dietpi/.dietpi-apt-get_update` after normal

[2015-11-09 16:56] Fourdee commented on #109
Awesome, thanks for letting me know.

I've updated the dietpi-apt-get_update code for v101. This will prevent this issue from occurring.

[2015-11-10 13:31] Fourdee opened #110 "DietPi-Software | Add GPIO installation option for Orange Pi PC"

[2015-11-11 14:48] Fourdee commented on #110
Following this guide:
http://www.orangepi.org/Docs/WiringPi.html

Appears https://github.com/orangepi-xunlong/WiringOP is now private. Requires username and password.

[2015-11-11 14:56] Fourdee commented on #110
Provided by sauberpauli:

[2015-11-11 15:24] Fourdee commented on #107
Added rootdelay to v101:
DietPi-External_drive_setup (RPi) | When setting up a dedicated external drive, rootdelay=10 will be added to cmdline.txt. This should prevent slow powering external drives, from failing to be ready and mountable during boot.

[2015-11-11 16:25] Nibeck1309 opened #111 "kodi don't start"
Hello,

Reference CODE: b827eb45e355-0

I'm using dietpi-sofware for installing kodi.

When i want to launch it, i have this error message :+1:

/DietPi/dietpi/misc/rpi_kodi_noblackscreen_run: ligne 25: kodi-standalone : commande introuvable

Thanks for your help

[2015-11-11 17:38] Fourdee commented on #111
Hi Nibeck1309,

Thanks for the report.

It appears you are using additional/modified apt sources that are causing your issue.
Your system is installing kodi: 5:14.2+repack-dmo1b1 , instead of 2:14.2-1wheezy from the official Raspbian Jessie Repo.

5:14.2+repack-dmo1b1 is missing the command kodi-standalone.

Please check your custom apt sources, disabling any that are overriding the Kodi package f

[2015-11-11 17:44] Fourdee commented on #111
Update:
It appears Kodi:5:14.2+repack-dmo1b1 is being installed from the debian-multimedia repo (which is added during FFmpeg installation).

I'll look into this further and get back to you.

[2015-11-11 17:51] Nibeck1309 commented on #111
OK thanks for report.

[2015-11-12 16:08] Fourdee commented on #111
Ok this will be fixed for v101. After installing FFMPEG, the deb.multimedia repo will be removed.

You will need to manually re-install Kodi on your system, please do the following:
- use dietpi-uninstall and select Kodi for removal
- run below in terminal to remove deb.multimedia repo

- Now you can run dietpi-software and select Kodi for installation.

[2015-11-12 17:10] Nibeck1309 commented on #111
Hello,

Thanks for answer.

use dietpi-uninstall and select Kodi for removal
run below in terminal to remove deb.multimedia repo

sed -i '/www.deb-multimedia.org jessie main non-free/d' /etc/apt/sources.list
/DietPi/dietpi/dietpi-apt-get_update 2
Now you can run dietpi-software and select Kodi for installation

That works perfectly.

I'm install kodi and it work

Thanks

[2015-11-13 13:06] Fourdee opened #112 "Full Logging Mode | Log file contents being cleared"
Occurs during boot from dietpi-ramlog creation.

[2015-11-13 13:10] Fourdee commented on #112
Disable the following for non-DietPi-Ramlog modes.
https://github.com/Fourdee/DietPi/blob/master/dietpi/dietpi-ramlog#L70-L79

[2015-11-13 13:49] Fourdee commented on #112
Resolved for v101 update.

[2015-11-13 14:48] Fourdee opened #113 "DietPi-Config | Allow user to change apt source mirror."
This would only apply for "full" Debian based images (OrangePi/VM). Raspbian and Ubuntu use mirror directors to automatically find the best source.

Allow users to select from this list:
https://www.debian.org/mirror/list

Trim down the list to major countries that support all CPU archs.

[2015-11-14 18:18] #111 closed, assigned to nobody

[2015-11-14 18:18] #112 closed, assigned to nobody

[2015-11-14 18:19] #109 closed, assigned to nobody

[2015-11-15 18:15] keiser1080 opened #115 "dietpi orange pi pc module load"
Hi,

there are some problem with the module loading

[code]

[2015-11-15 18:57] Fourdee commented on #115
Yep its a known issue. modprobe and lsmod appear to be dead and empty.

For the Orange Pi we are using a modified version of http://www.orangepi.org/orangepibbsen/forum.php?mod=viewthread&tid=342 image as the base. The original image  by loboris also has the same issues.

[2015-11-16 19:02] keiser1080 commented on #115
did you use the same kernel?
i  try to found some hep http://www.orangepi.org/orangepibbsen/forum.php?mod=redirect&goto=findpost&ptid=342&pid=6496&fromuid=135990

[2015-11-16 20:31] Fourdee commented on #115
Yes, using the same kernel.

loboris uploads new kernels on https://mega.nz/#F!wh8l2BjK!OBep3nMldBletvNNwkH2Jg , might be worth trying the latest one. Its down for me at the moment, i'll try again tomorrow.

[2015-11-17 14:00] Fourdee opened #116 "DietPi-Software | Add Plex media server option"

[2015-11-18 18:28] keiser1080 commented on #115
the kernel is hosted somewhere else see the attached script.
[update_kernel.sh.txt](https://github.com/Fourdee/DietPi/files/38185/update_kernel.sh.txt)

[2015-11-18 20:19] Fourdee commented on #115
Just ran the script. Modules are now working :+1:

You can do the following:

[code]

[2015-11-18 20:25] Fourdee commented on #115
For DietPi v102:
I've added the update script to dietpi-config > Advanced > update firmware.

[2015-11-18 20:44] keiser1080 commented on #115
Thanks!

I have to run the script? Or you will push the update?

[2015-11-18 21:32] Fourdee commented on #115
Yes, you can run the update_kernel.sh script on your system now if you like.

I will also add to the DietPi update system for v102.

[2015-11-18 21:51] keiser1080 commented on #115
thanks Dan for your help.
And for dietpi !!!

[2015-11-20 11:24] jcastro opened #117 "Error/bug on Dietpi-software"
I'm not sure why but now the command dietpi-sofware shows up as the follows http://d.pr/i/1itEj/2i5obcwK and I'm unable to install or uninstall new software from here. Please let me know how I can help you debug the error, I'm not sure what I could send you to help!

Thanks for this great piece of software, loving it!

[2015-11-20 11:36] jcastro commented on #117
http://d.pr/i/1iJAV/3YpKhOo1

[2015-11-20 13:03] Fourdee commented on #117
Hi,

I'd like to get more info on your installation, please can you run :
dietpi-bugreport
and paste the reference CODE. No need to fill out the text.

The1st looks like a character / UTF8 issue. Did you change locale on the system?

The 2nd looks like apt cache is empty or corrupt. Please try running the following before dietpi-software:
/DietPi/dietpi/dietpi-apt-get_update 2

[2015-11-20 13:56] jcastro commented on #117
of course! code is b827eb49e69b-0

I'm not sure if I changed it, but it's also not working completely. If I enable an app I get the error as in http://d.pr/i/1iJAV/3YpKhOo1 and if I disable apps it won't do anything when going to "Start install". It's like it's not remembering the option.

I just tried your command /DietPi/dietpi/dietpi-apt-get_update 2 but it doesn't seem to fix the problem!

Tha

[2015-11-20 16:25] Fourdee commented on #117
Thanks,

Your DietPi settings are fine. I also tested the RPi GPIO installation on a fresh Wheezy image, no issues.

Ok, I'll need some more info on your system:
- How are you using Pi-hole on your network? (eg: dns setting on router, or, manual dns entry per device.)

Please run the following:

[code]

Can you then upload the files under /root/send . Zip or as text attachments, doesnt matter.

[2015-11-20 17:18] jcastro commented on #117
I was about to copy the send.zip and I somehow broke the inittab... now I can't connect to the Pi.. I will need to reinstall :(. Sorry I can't send the files

About DNS, I have them setup in the router configuration

[2015-11-20 19:36] Fourdee commented on #117
No worries. Let me know if the issue continues after applying the below.

If using Pi-hole as the DNS server address on your router, you must enable a different DNS address for the Pi-hole device.

Add the following to /etc/network/interfaces, under your iface device:

[code]

eg:

[code]

[2015-11-20 19:41] Fourdee commented on #117
Also, as you are using Wheezy. Run the following to update networking:

[code]

[2015-11-21 17:15] Fourdee opened #118 "DietPi-Config / Sync: Allow user to set crontab start times from whiptail menu."

[2015-11-22 16:58] keiser1080 commented on #115
feedback:
script it's working but return small error
cp: impossible d'évaluer « /boot/uImage »: Aucun fichier ou dossier de ce type
cp: impossible d'évaluer « /boot/script.bin »: Aucun fichier ou dossier de ce type

don't found /boot/uImage &  /boot/script.bin

But everything is working

thanks again

[2015-11-23 12:35] Fourdee opened #119 "DietPi-Software | DietPi-Cam not starting during boot."

[2015-11-23 14:49] Fourdee commented on #119
Resolved for V102, using sudo and defining user.

sudo -u www-data raspimjpeg > /dev/null &
sudo -u www-data php /var/www/dietpicam/schedule.php > /dev/null &

[2015-11-23 15:18] R1CH-T commented on #119
Thanks Dan. :+1:
I did an "apt install sudo" then changed the offending lines in "/etc/raspimjpeg_init" as above, ran "/etc/raspimjpeg_init start" and it worked like a charm.
I rebooted and the camera was broadcasting right away.

How come the script chokes up on "su -c", though, and not sudo?
Strikes me as a little odd.

[2015-11-23 16:30] Fourdee commented on #119
I have absolutely no idea.
Its one of those "it was working yesterday" things. I can't see anything I've changed that would cause this issue.

Maybe a repo package got updated, wouldnt be the first time apt-get upgrade broke something.

[2015-11-23 20:10] Fourdee opened #120 "DietPi-Software | DietPi-Cam - Motion detection blank."

[2015-11-23 20:12] Fourdee commented on #117
Please reopen if required.

[2015-11-23 20:12] #117 closed, assigned to nobody

[2015-11-25 09:17] cprima opened #121 "Documentation request: Kernel config (docu), if applicable"
DietPi should document the kernel configuration as it is hard to troubleshoot:
- is it the upstream kernel?
- or are there DietPi-specific changes

If the latter, access to /proc/config.tgz is probably the easiest way.
(Yes, there is also the script extract-ikconfig in the kernel sources, but that is probably now widely known.)

Background:
I am currently investigating why on Jessie the serial con

[2015-11-25 14:55] Fourdee commented on #121
Hi,

DietPi uses the standard Kernel that came from the image we based DietPi on. We do nothing to them.

It should just be a case of using the following /boot/cmdline.txt

[code]

![untitled](https://cloud.githubusercontent.com/assets/7077026/11400678/9d5ab8d0-9386-11e5-8f31-3cc97e5501de.png)

[2015-11-25 15:47] cprima commented on #121
Thanks for the clarification regarding the kernel. Upstream I found Issue https://github.com/Hexxeh/rpi-update/issues/185 which said

Regarding the serial console I also get the /sbin/agetty process as per Systemd unitfile with journalctl.
I need to troubleshoot that later (although the cable works with a MinnowBoard Max I ordered a replacement for comparisons and I will also test with a stock Ras

[2015-11-25 15:47] #121 closed, assigned to nobody

[2015-11-26 23:33] otmezger opened #122 "problems with ownership of /var/log/mongodb/mongodb.log"
Hi,

I'm using DietPi-Ramlog # 2 config.

I installed mongo using

[code]

every time the system boots, I see this log from mongoldb:

[code]

If I check the permissions of `/var/log/mongodb/mongodb.log` I can see they are correct:

[code]

Before the ownership where mongoldb, I needed to add the line
    chown -R mongodb:mongodb /var/log/mongodb &> /dev/null

under the function `Apply_Unique_Logf

[2015-11-27 00:14] blindpet commented on #122
If you are on jessie you can adjust the systemd script for mongodb to start after ramlog. Something like this sudo code

After=ramlog.service

You can also do

Requires=ramlog.service

[2015-11-27 13:26] Fourdee opened #123 "DietPi-Software | LMS not starting during boot"

[2015-11-27 19:01] Fourdee commented on #122
Blindpet is right. Looks like Mongodb is running before dietpi-ramlog has generated /var/log.

Add the following to the systemD service of mongodb:

[code]

[2015-11-27 19:49] Fourdee commented on #123
root@DietPi:~# /etc/squeezeboxserver_init start
The following modules failed to load: DBI EV XML::Parser::Expat HTML::Parser JSON::XS Digest::SHA1 YAML::XS Sub::Name

[2015-11-27 20:09] otmezger commented on #122
Hi there,

thanks for the reply, where do I find the systemD service of mongodb?

[2015-11-27 20:11] otmezger commented on #122
is this the file: `/lib/systemd/system/mongodb.service` and if yes, on which category should I put the line you told me?

my file looks like this:

[code]

putting the line `After=dietpi-service.service` after the last line in the `[Service]` section didn't work. mongo tries to start before ram log.

I also see this line in dmesg:

[code]

[2015-11-27 20:21] otmezger commented on #122
Ok, I moved the line around and if I put it as last line in section `[Unit]` then it'll work. looks like magic to me, and I don't know if this is wat needed to be done, but it seems to be working now.

[2015-11-27 20:21] #122 closed, assigned to nobody

[2015-11-27 20:21] Fourdee commented on #122
[code]

[2015-11-27 20:22] Fourdee commented on #122
Yep, you beat me to it :)

[2015-11-27 20:22] otmezger commented on #122
excellent help @Fourdee, Now i'm confident that it won't cause any trouble somewhere else. Thanks for doing Dietpi, for you and the community.

[2015-11-27 20:24] Fourdee commented on #122
No worries, if you experience any further issues, just give us a shout and/or reopen ticket :)

[2015-11-28 13:58] Fourdee opened #124 "General | Add option to run NTPD constantly."

[2015-11-28 15:46] Fourdee commented on #124
Available in v102:
Added to DietPi-Config > Advanced

[2015-11-28 15:56] Fourdee commented on #113
As of v102:
- All debian apt sources now use global mirrors.

This feature is no longer necessary.

[2015-11-28 15:56] #113 closed, assigned to nobody

[2015-11-28 16:10] Fourdee commented on #120
Jessie: motion.php blank.
Wheezy: ..................

Note to self:
- Test wheezy motion.php.
- Update DietPi-Cam to latest RPi-Camweb

[2015-11-28 20:08] Fourdee commented on #120
Confirmed working on Wheezy. Appears to be a bug in RPi-cam-web-interface on Jessie.

Will attempt to update DietPi-Cam version to latest RPi-cam-web-interface version for a resolution.

[2015-11-28 20:13] Fourdee opened #125 "General | Wget SSL error for some users"
Resolution:
Convert wget to curl throughout all DietPi-Scripts?

[2015-11-28 20:58] blindpet commented on #125
Just to let you know this is definitely a network error and not your image. A user had the same error on Minibian grabbing a file from github. I could run the same exact command and grab the file without the error using the same image on my Pi at home.

[2015-11-28 21:05] platy opened #126 "Build instructions"
Do you have any build instructions? I'd like to make an image optimised for RPi headless embedded deployment using docker containers and DietPi looks like the best place to start.

[2015-11-28 21:37] Fourdee commented on #125
Thanks for the info Blindpet :+1:

I thought as much. Still, converting to curl isnt a bad idea, it also seems to follow redirects unlike wget.

[2015-11-28 21:39] Fourdee commented on #126
DietPi uses existing images as its base (eg: Raspbian) where possible. DietPi for VM is a standard install of Jessie and configured for DietPi.

Adding DietPi to an existing Debian system/image is a manual process. I do have notes, which I follow and you are you welcome to try.

Make sure you have the following from a DietPi image (or download from master git branch):
- /boot/dietpi.txt
- /boot/co

[2015-11-28 21:41] blindpet commented on #126
I think @platy is interested in the build instructions for your raw debian base. I'd also love to see your script for building your debian base sans the DietPi goodies.

[2015-11-28 21:45] Fourdee commented on #126
As for making the image finalised for release:

[code]

[2015-11-29 13:56] Fourdee commented on #125
Replacing the current check_connection script command:
`wget --spider`

The only way to "test" a connection with curl, without downloading the data is:
`curl --head`
However, the exit code is always 0, regardless of HTML status code (eg: 404).

We can use a grep check:
`curl --head www.test.com/file.zip | grep -ci -m1 200`
However, any other status code would return a failure (eg: redirect). Also,

[2015-11-29 14:51] bc547 opened #127 "Clean install dietpi jessie on raspberry pi A+ results in black screen"
Hi,

I just downloaded DietPi_RPi-(Jessie).7z from dietpi.net and wrote the image file (DietPi_v94_RPi-(Jessie).img) to a 8GB sdcard using rufus (https://rufus.akeo.ie/). I did not modify any files on the sdcard afterwards. Next I put this sdcard in a raspberry pi A+.

At first boot, everything seems ok and there's a lot of messages scrolling on the screen. It automatically reboots 2 times. After

[2015-11-29 16:25] bc547 commented on #127
Seems a sdcard issue. 3th card seems to work.

[2015-11-29 16:25] #127 closed, assigned to nobody

[2015-11-29 17:54] Fourdee commented on #127
Power issues can also cause SD card corruptions and similar issues.
To be on the safe side, I'd suggest purchasing one of the Official RPI PSU's if you do not own one already.

[2015-11-30 09:12] platy commented on #126
This is what I was looking for, Thanks!

[2015-11-30 09:12] #126 closed, assigned to nobody

[2015-11-30 11:44] Fourdee commented on #124
Add another option to run NTPD using drift file to gently nudge to correct time.

Basically ntpd in boot script. No flags needed.

[code]

[2015-11-30 11:50] Fourdee opened #128 "https://letsencrypt.org/ | free SSL certs"
Look into https://letsencrypt.org/
Free SSL certs.

[2015-11-30 11:53] #119 closed, assigned to nobody

[2015-11-30 11:53] #115 closed, assigned to nobody

[2015-11-30 17:20] R1CH-T commented on #128
+1

[2015-11-30 20:03] Fourdee commented on #124
Added option 4 to dietpi-config:
Which runs ntpd as a daemon and uses drift file to gradually adjust differences in time.

[2015-11-30 20:03] #124 closed, assigned to nobody

[2015-11-30 20:45] Fourdee commented on #125
`curl --trace /dev/null https://raw.github.com &> /dev/null;echo $?`
Returns usable exit codes but downloads entire data.

`curl -r 1-1 https://raw.github.com &> /dev/null;echo $?`
Downloads 1byte but does not return exit codes on failure. Always 0, regardless.

May have to resort to ping for connection tests without subdirectories. Then, recode curl downloads to check for exit code after download

[2015-11-30 20:56] Fourdee opened #129 "DietPi-Software | Domoticz"
Home automation software:

[2015-12-01 14:06] Fourdee commented on #125
Ok, for v102:
DietPi-Update has changed from wget to curl. At the very least, this will allow users with wget failures to install/update DietPi.

As the issue seems to be related to GitHub and https, I have not modified any other DietPi scripts to use curl yet, however, I will keep an eye on user feedback to see if this issue requires further coding.

[2015-12-01 17:03] #118 closed, assigned to nobody

[2015-12-01 17:05] #125 closed, assigned to nobody

[2015-12-01 18:13] Fourdee commented on #118
For v102:
dietpi-cron

![image](https://cloud.githubusercontent.com/assets/7077026/11509656/43507ca0-9857-11e5-91e4-0852ff69b45a.png)

[2015-12-04 13:33] Fourdee opened #131 "Wifi cant connect: Edimax EW-7811Un Realtek RTL8188CUS"

[2015-12-04 13:56] Fourdee commented on #131
Looks like an issue with the kernel/firmware on Loboris's image (which DietPi is built on).
Replicated the same issue on my system. wlan0 tries to come up, but fails to establish a connection.

It manages to scan, but the SSID's value obtained is incorrect. eg: TP-LINK_2.4ghz_BBBA0F instead of "My_SSID"

[2015-12-04 15:13] Fourdee commented on #123
Resolved for v103:
DietPi-Software will now install LMS/Squeezebox v7.9.

[2015-12-04 15:13] #123 closed, assigned to nobody

[2015-12-04 16:55] Fourdee commented on #120
For DietPi v103:
I've updated DietPiCam to match the current RPi cam control (v6.0.19), but, still having a blank page on jessie for motion.

Turns out this is a known issue for Jessie: https://github.com/silvanmelchior/RPi_Cam_Web_Interface/issues/214#issuecomment-152719047
Looks like the cause is with the motion package installation. No doubt the libraries are different to Wheezy.

[2015-12-04 16:58] Fourdee commented on #128
Gonna give it a spin :)

[2015-12-04 19:58] R1CH-T commented on #128
A quick glance over the installation page https://letsencrypt.readthedocs.org/en/latest/using.html#installation was not enough to get a proper handle on the installation options.
I'll have a good look through it tomorrow, throw up a webserver VM, get it connected to my domain and have a stab at running the installer script.
If I can get it to work, I'll let you know and then have a go at replicati

[2015-12-04 20:19] Fourdee commented on #128
![image](https://cloud.githubusercontent.com/assets/7077026/11600166/d6e8f66e-9ac2-11e5-97b5-fd17e5f2b612.png)

https://fuzon.co.uk/dietpi/index.html

[code]

Apart from the dialog menu (broken characters), works a treat. Quite impressed with the installation.

[2015-12-04 21:03] R1CH-T commented on #128
Thanks for persevering.
I got the email updates from GitHub and had a feeling that you'd put in too many command line options on your first tries.
I'll give it a go myself tomorrow, after work.

Thanks for trying this out.

[2015-12-04 21:17] thechildofroth commented on #128
Well done Dan, looking forward to seeing this continue to develop.

On 4 December 2015 at 21:03, R1CH-T notifications@github.com wrote:

[2015-12-04 21:43] Fourdee commented on #128
@R1CH-T Yep, I had one of those "moments" :)

[2015-12-04 21:54] Fourdee commented on #128
@thechildofroth I can't take any credit, Letsencrypt is simply awesome. 5 lines of code to get a free SSL cert and automatic setup for Apache2.

They really nailed this, exactly what the Linux world needed.

[2015-12-04 21:57] thechildofroth commented on #128
Roll on DP103! ;-)

Remember, it's a 90 day cert, are you putting in the cron jobs to make sure
they're updated in a timely fashion?

On 4 December 2015 at 21:54, Dan notifications@github.com wrote:

[2015-12-05 14:02] Fourdee commented on #128
Interesting only 90 days, never knew.

Yep cron job might work, depends if we can complete the renewal without restarting the webserver (no downtime). I'll have a look.

Date: Fri, 4 Dec 2015 13:57:40 -0800
From: notifications@github.com
To: DietPi@noreply.github.com
CC: daniel_haze@hotmail.com
Subject: Re: [DietPi] https://letsencrypt.org/ | free SSL certs (#128)

Roll on DP103! ;-)

Remember, it

[2015-12-05 15:37] Fourdee opened #132 "DietPi-Software | Apt-get 100 error"
Caused by an interrupted/failed apt-get update:

[2015-12-05 16:23] Fourdee commented on #132
Resolved for v103:
DietPi-Software will now run a simulated apt-get install, before running the installations. If this fails, it will clean and update the apt-cache.

[2015-12-05 16:23] #132 closed, assigned to nobody

[2015-12-05 17:33] Fourdee commented on #128
[code]

Well there goes my testing for the day. Seems my IP is being blocked from creating any new certs lol.

[2015-12-06 06:21] tkmsst opened #133 "DietPi-Ramlog | Preserve file ownership during creation/shutdown"
Some user program (own build software) makes log directories as other than root.
However, ram-log always makes such directories in ramdisk as root owner at every boot.
Thus, the program cannot create any file in the directories (without permission).

[2015-12-06 08:56] keiser1080 opened #134 "DietPi-Software | Add LEPP"
Hi,

new software suggestion Nginx   / postgrees / Php.
Why segregation of postgresql :)
posgresql has lower memory footprint.

Let my know if i can help givin installation process of testing the script.

[2015-12-06 13:03] Fourdee commented on #133
I have plans to upgrade DietPi-Ramlog to use Rsync for v103. This would keep file attributes during creation and shutdown.

In the mean time, you can either run your program as root, or, change the DietPi logging mode to "Full". This will disable DietPi-Ramlog: http://fuzon.co.uk/phpbb/viewtopic.php?f=8&t=5&start=20#p68

[2015-12-06 13:07] Fourdee commented on #134
Hi Keiser,

Unfortunately, I do not have the time to look into your request at the moment.
However, If you have a working installation method for this stack, by all means let me know and I'll see if we can get it added into DietPi.

[2015-12-06 14:12] R1CH-T commented on #128
Interesting.
I notice that your test page is now down. When I visited https://fuzon.co.uk/dietpi/index.html on Friday, I was able  to get an encrypted version of all sub-pages, i.e. https://fuzon.co.uk/phpbb/viewtopic.php?f=9&t=234&p=970#p970
Now, none of it is encrypted. Did you back up the certificates and the config files which Let's Encrypt modified?
Backing this sort of stuff up is usually a

[2015-12-06 15:07] Fourdee commented on #133
Resolved for v103.

DietPi-Ramlog will now preserve file ownerships.
Turns out rysnc isn't needed. Amazing what you can do with cp -p --attributes-only.

[2015-12-06 15:07] #133 closed, assigned to nobody

[2015-12-06 15:19] Fourdee commented on #128
@R1CH-T
As http://fuzon.co.uk is hosted on my home network (vm webserver), I changed the port forwarding for 443 to my RPi for testing. I was able to generate certs at first.
I generated a NoIp address to test after fuzon.co.uk was being denied. Feels like an IP block to prevent abuse.

Heres my notes before being denied further certs:

[code]

The plan is to store these settings for the user and

[2015-12-06 16:50] R1CH-T commented on #128
I've had guests this weekend, so I haven't had a go at this yet.
Sorry, will test ASAP.
I'm particularly interested in Nginx integration, so I'll prioritise that.
Thanks,
Rich.

[2015-12-06 17:12] Fourdee commented on #128
@R1CH-T I'am working on LetsEncrypt for apache2 integration on a DietPi system, for now. I'll link the script when it's done. Would you be up for assisting with the Nginx side?

[2015-12-06 18:34] Fourdee commented on #128
Little preview of frontend:
![image](https://cloud.githubusercontent.com/assets/7077026/11614878/ec0d009a-9c47-11e5-9c93-92a2e8bd3721.png)

[2015-12-06 18:43] Fourdee commented on #128
Turns out theres a hard limit to cert requests per week. No more testing for me then :-1: . Any chance I could get one of you guys to help test on your system?

[2015-12-06 19:38] thechildofroth commented on #128
More than happy to but I'll need some guidance - I did actually get to play
the day before the public launch as I'd put it of the private beta (late)
and got the app installed etc. Problem is I lack webserver admin skills so
was somewhat behind the curve once I was installed.

On 6 December 2015 at 18:43, Dan notifications@github.com wrote:

[2015-12-06 20:08] Fourdee opened #135 "DHCP requires resolvconf to update DNS | Static requires dns-nameserver entries in /etc/network/interfaces"
Need to install resolvconf for DHCP DNS resolution and updates (/etc/resolv.conf):

[code]

Need to modify DietPi-Config to allow for setting DNS records when static.
Resolvcnf will pull the nameserver entries from /etc/network/interface. So dns-nameservers entires must exist in static modes for this to work.

[2015-12-06 20:19] Fourdee opened #136 "DietPi-Software | Add WiringPi installation option"

[2015-12-06 23:13] tkmsst commented on #133
Great. Thanks.

[2015-12-07 13:11] Fourdee opened #137 "DietPi-Software | Add LibreNMS installation option"
Install:

[2015-12-07 16:31] Fourdee commented on #135
Resolved for v103:
- resolvconf is now installed by default on all systems. This fixes dns servers not updating for DHCP.
- As dns-nameservers must be set for STATIC, DietPi-Config will automatically enable/disable dns-nameservers in /etc/network/interfaces.
- DietPi-Config now allows for setting static DNS server:
  ![image](https://cloud.githubusercontent.com/assets/7077026/11632278/44bb70ee-9cf

[2015-12-07 16:31] #135 closed, assigned to nobody

[2015-12-07 17:01] Fourdee commented on #128
@thechildofroth Thanks for offering your assistance.

I can walk you through the steps needed. As this will be testing, do you have a spare RPi/card to use for this purpose?

Are you able to:
- Setup a domain name (eg: noip) and point it to your device?
- Forward port 80 and 443 TCP to your device?

[2015-12-07 18:15] thechildofroth commented on #128
yup, I actually have my own domain (part of why I was interested in getting
an ssl cert). I'm ok with the router setup etc and have had it working with
my domain and things like owncloud etc) it's the ssh configuration side of
things I'm less sure about.

I'd also like to (potentially) migrate my Subsonic install to https (and
that's up and running already) so perhaps we can start with that one (i

[2015-12-07 20:50] Fourdee commented on #128
Brilliant.
For now, this will be a single test on a fresh install of DietPi. I just want to get a gauge if the new script works. I would wait until v103 is released before applying this to any active systems.
Ok heres what you will need to do:- Write a fresh DietPi image.- Open up /boot/dietpi.txt and change the gitbranch to testing:
gitbranch=testing- Plug in and power on.
- Go through the normal

[2015-12-07 23:49] thechildofroth commented on #128
Hi Dan,

Thanks for the easy to follow instructions, happy to confirm this as
working. I can get to the apache/debian 'it's working' index page and have
a lovely green https in the address bar, akso when I click the padlock it
says nice things about what a great certificate I have etc etc.

I'm going to throw owncloud in to the mix and see what happens.

On 7 December 2015 at 20:50, Dan notificati

[2015-12-08 07:38] thechildofroth commented on #128
I left owncloud installing when I went to bed last night, took a reboot
when I woke up this morning but after that it's all working over https.

Forgot to mention last night, in the letsencrypt settings I had to list my
domain with the www to make it work (although this might be a failing of
the way I've got my dns settings?) I set redirect to 'enable' and auto
renew to 'enable' too (but obviously

[2015-12-08 12:40] Fourdee commented on #128
@thechildofroth Awesome! Thanks for testing, really appreciate it. :+1:

I'll add the www. to the default entry (eg: www.mydomain.com). Could be a dns issue, but adding www. shouldn't do any harm.

Without your testing, this wouldn't of made it to v103. So hats off :)

[2015-12-08 13:44] Fourdee opened #138 "General | NTPD not updating drift file"
NTPD must be checking ownership matches the user that NTPD is running as, rather than attempt to write to the drift file.
As NTPD is run as root, it does have access to the drift file, regardless of the ownership on the drift file.

[2015-12-08 13:46] Fourdee commented on #138
Resolved for v103:
chown root:root /var/lib/ntp/ntp.drift | Applied to patch file

[2015-12-08 13:46] #138 closed, assigned to nobody

[2015-12-08 14:31] thechildofroth commented on #128
Glad to be of assistance.

On 8 December 2015 at 12:40, Dan notifications@github.com wrote:

[2015-12-08 17:50] R1CH-T commented on #128
Hi.
Sorry that I've been dragging my feet on this, but I haven't had the chance to look in here, let alone have a go at this.
Anyway: Great work, guys; you seem to be getting somewhere!

Short answer: Yes, of course.
Long answer: I've just been experimenting with getting this to work with Nginx on an Ubuntu 14.04 VM, but keep getting errors and polite refusals from the Lets Encrypt installer so fa

[2015-12-08 18:40] Fourdee opened #139 "Fully automated installation, with option to run user script via URL during 1st run."

[2015-12-09 14:16] Fourdee commented on #136
Available as a DietPi-Software optimized installation for v103.

[2015-12-09 14:16] #136 closed, assigned to nobody

[2015-12-09 14:44] Fourdee commented on #128
Thanks for sharing your experiences with this.
I didn't require the www. part for my fuzon.co.uk site, but i'am using NoIp Plus managed. Maybe the free NoIp only supports www.* forwarding?
@thechildofroth : How is your domain routed to your home network (eg: NoIp Free)?

[2015-12-09 16:09] thechildofroth commented on #128
I own the domain and have access to the DNS table (it's hosted with Mythic
Beasts as they also provide an api that means I can use curl to update the
IP in the DNS record allowing me to run (for instance) a mail server on a
domestic (dynamically allocated) IP).

As I mentioned before though I'm a numpty with webserver admin so I may
have done it wrong!

On 9 December 2015 at 14:44, Dan notificatio

[2015-12-09 18:07] R1CH-T commented on #128
@Fourdee Said:

No problem, I need to look at this stuff again anyway.
I'm paying for a domain name and have had little use of it so far, apart from the enjoyable learning experience I had in the beginning in setting up various web services.
I certainly haven't got anything set up which compares to your growing DietPi Empire! :)

What I was trying to get at above is that the **www.** sub-domain _i

[2015-12-09 18:38] R1CH-T commented on #128
@thechildofroth Said:

I got my DNS record to update via a Perl script, modified from https://calomel.org/dynamic_dns_ddns.html
(NameCheap now provide a windows _.exe_ to do this job, but this is no good for me.)

I actually managed to set up a POP and IMAP Mail Server (with SSL) on a local VM, got the thing to work, using openSMTPD and Dovecot and managed to get it up and running on the internet

[2015-12-10 19:38] Fourdee commented on #128
Available as a optimized installation in DietP-Software, with DietPi v103.
Info: http://fuzon.co.uk/phpbb/viewtopic.php?f=8&t=5&p=1061#p1062

[2015-12-10 19:38] #128 closed, assigned to nobody

[2015-12-11 14:50] Fourdee opened #141 "letsencrypt-auto installs python2.7. InsecurePlatformWarning error."

[2015-12-11 15:00] Fourdee commented on #141
Letsencrypt installation option for Wheezy will be disabled until a fix/workaround can be implemented.

[2015-12-13 14:28] Fourdee opened #142 "DietPi-Software | Squeezebox URL error."
Squeezebox nightly links are dropped and changed daily. Thanks to Jean for spotting this.

[2015-12-13 14:29] Fourdee commented on #142
Resolved for v104:
Squeezebox will now be downloaded from DietPi.com.

[2015-12-13 14:29] #142 closed, assigned to nobody

[2015-12-13 14:30] Fourdee commented on #139
Added following options to dietpi.txt:

[code]

[2015-12-13 17:05] Fourdee commented on #139
Added ability to choose which DietPi-Software will get automatically installed.

[code]

[2015-12-13 17:47] Fourdee opened #143 "DietPi-Cam | Motion won't autostart during boot"

[2015-12-13 18:49] Fourdee commented on #143
After typing motion after boot, seems to work fine.

Currently unable to replicate issue:
![image](https://cloud.githubusercontent.com/assets/7077026/11768603/275e482a-a1ca-11e5-8ced-eeb0ae70e7e1.png)

[2015-12-14 07:03] scargill opened #144 "DietPi OrangePi PC Serial"
Hi

I am running Node-Red and have installed DietPi for the OrangePi PC having failed to get everything to work with previous installations of Debian.... but one thing I did get working at an earlier time was the Serial.

However, with DietPi no matter what I do I cannot get the SerialPort to appear in NodeRed - this is a dealbreaker for me as I use a Nextion Serial Display.

I tried npm install s

[2015-12-14 13:41] Fourdee commented on #139
Add automation support for locale tzdata keyboard-setup

[2015-12-14 13:58] Fourdee commented on #144
Hi Peter,

Many thanks for the feedback and report.

I'd like to check your system settings, please can you run the following on your device:

[code]

I'll need the reference CODE: once its completed.

ttyS0 is enabled on the OrangePi PC image:
![image](https://cloud.githubusercontent.com/assets/7077026/11782339/664a2fec-a268-11e5-89b0-1b482f767209.png)

Unfortunately, i do not currently own any s

[2015-12-14 14:05] Fourdee opened #145 "ntp applying incorrect date."

[2015-12-14 14:08] Fourdee commented on #145
Unable to replicate at my end on a fresh install. Appears the issue is only occuring on Olmo's system/setup.

Notes:
- Check bug report + system settings.
- Ownership issues. Running as non-root?

[2015-12-14 16:03] scargill commented on #144
Hi

Well it is easy to test the serial on the Pi – just hook input and output together – my point is that npn install serialport simply does not result in a serial port appearing in node-red – so there is no way for me to actually use the serial port.

From: Dan [mailto:notifications@github.com]
Sent: 14 December 2015 13:59
To: Fourdee/DietPi DietPi@noreply.github.com
Cc: Peter Scargill pete@scarg

[2015-12-14 20:59] Fourdee commented on #144
I'am not going to lie, my experience with GPIO/Hardware related software/projects is extremely limited. You'll have to excuse my unintentional ignorance.

This I can work with.
Once the device arrives, i'll try to duplicate your installation and see if I can find the cause. As this is a new area for me, you will need to bear with me, once I get my bearings, i should be fine.

If you have the time,

[2015-12-15 02:26] scargill commented on #144
Absolutely.... it's worth it to make this work.

So I use your program to install NGINX/SQLITE/PHP - I would normally then put the latest Mosquitto (with websockets) on there but I missed that.

So the first thing is NPM and NODE

d /root
curl --progress-bar --location https://deb.nodesource.com/setup_0.12 |  bash -
apt-get -qq --yes -o=Dpkg::Use-Pty=0 --force-yes install nodejs
apt-get -qq --yes

[2015-12-15 02:39] scargill commented on #144
Ok here's the bug report reference which the OrangePiPC sent off to you.. 1e736aa11828-0

[2015-12-15 17:46] Fourdee commented on #145
User confirmed issue did not reoccur with v103.
Most likely due to the /etc/resolv.conf file not being updated prior to v103 and failed to access timeserver.

Will reopen if issue reoccurs.

[2015-12-15 17:46] #145 closed, assigned to nobody

[2015-12-15 17:47] Fourdee commented on #139
Added support for TZ/Locale/Keyboard layout:

[code]

[2015-12-15 17:55] dietcoke101 opened #146 "apt-get error"
On
 DietPi | 17:57 | Tue 15/12/15
 ───────────────────────────────────────
 V103 | Raspberry Pi 1 (512MB)

I'm getting this apt-get error:

Apt-get has failed:
- Apt string = php5-fpm
- Error code = 100
- Software Title = LEMP: Nginx / MySql / (PHP)

Was installing the LEMP after a new instance.
Here is the last bit of the dpkg output:

<pre>
Creating config file /etc/php5/mods-available/readline.

[2015-12-15 18:22] Fourdee commented on #146
Hi DietCoke,

Thanks for the report.
I need to see your system configuration. Can you run the following to send a bug report please:

[code]

I will need you to reply with the reference CODE:, you can leave the text document blank.

[2015-12-15 18:25] Fourdee commented on #116
Notes to self:

[code]

Service wont start:

[code]
- References to en_US required.

[2015-12-16 15:30] Fourdee commented on #144
Thanks Pete, appreciate the details. This will help me lots :)

Well my PL2303 adapter arrived today:
![image](https://cloud.githubusercontent.com/assets/7077026/11845013/95a160d8-a409-11e5-93cd-1e41b95986c5.png)

BSOD:
DRIVER_IRQL_NOT_LESS_OR_EQUAL
Been a while since i've seen one of those.

Would I be right in saying my PL2303 is faulty?

[2015-12-16 15:34] Fourdee commented on #141
Disabled for Wheezy image as of v104.

[2015-12-16 15:34] #141 closed, assigned to nobody

[2015-12-16 16:01] scargill commented on #144
Question – Orange Pi PC….+ DietPI PC+  Kodi – does that work yet?  If nothing else it would be worthwhile shoving it behind the TV as a media centre.

Pete.

From: Dan [mailto:notifications@github.com]
Sent: 14 December 2015 21:00
To: Fourdee/DietPi DietPi@noreply.github.com
Cc: Peter Scargill pete@scargill.org
Subject: Re: [DietPi] DietPi OrangePi PC Serial (#144)

Well it is easy to test the ser

[2015-12-16 18:29] Fourdee commented on #144
Hi Pete,

Still waiting for GPU/VPU drivers to be available for the Allwinner H3. More details here:
http://www.orangepi.org/orangepibbsen/forum.php?mod=redirect&goto=findpost&ptid=662&pid=6464&fromuid=185718

[2015-12-17 13:33] Fourdee opened #147 "USB Drive Install | Move dphys-swapfile to USB."
As title.

[2015-12-17 14:43] Fourdee commented on #147
Available for v104 on new installations:
Dedicated USB drive installations will also move the swapfile to the USB drive.

[2015-12-17 14:43] #147 closed, assigned to nobody

[2015-12-17 20:50] Fourdee commented on #139
+hostname

[2015-12-18 02:42] dschaper commented on #147
Just a small addition to this, the new version of PiHole has been updated and no longer requires a swapfile for memory considerations. As the ad-list domains are pulled, they are stored in the `tmp` directory instead of in memory.

[2015-12-18 13:02] Fourdee commented on #147
@dschaper DietPi mounts `/tmp` to ram (tmpfs) as a performance tweak. So the swapfile increase is still necessary for <=512mb systems.

[2015-12-18 13:05] dschaper commented on #147
Okay, good deal. I just noticed that the Pi-Hole install script still had the swapfile increase routine still set up...

[2015-12-18 14:00] Fourdee commented on #144
@scargill Waiting for my 2nd PL2303 to arrive (the 1st being faulty), then i'll be able to crack on with debugging and testing Serial adapter with node-red.

[2015-12-18 14:38] Fourdee commented on #139
/boot/dietpi.txt

[code]

[2015-12-18 20:35] Fourdee opened #148 "PiHole | Update gravity.sh script to latest."
As title.

[2015-12-18 20:51] Fourdee commented on #148
Done for v104.
Will also update and patch existing PiHole installations during update.

[2015-12-18 20:51] #148 closed, assigned to nobody

[2015-12-18 20:53] Fourdee commented on #146
@dietcoke101 Any chance of you sending the bug report? I'd appreciate it.

[2015-12-19 16:03] Fourdee commented on #143
Will look into alternative motion setups: http://fuzon.co.uk/phpbb/viewtopic.php?f=12&t=269

[2015-12-19 16:03] #143 closed, assigned to nobody

[2015-12-20 18:18] f0o commented on #137
Hi!
just checking what the status is and if you need any assistance :)

Cheers!

[2015-12-20 18:44] Fourdee commented on #137
@f0o Just finishing up some automation features, then i'll start on this. I'll give you a buzz if I get stuck :+1:

[2015-12-20 18:45] f0o commented on #137
awesome! just give me or @LibreNMS a shout! :+1:

[2015-12-20 21:23] Fourdee commented on #137
@f0o Hi Daniel, having a few issues with the install.

The end goal is to have librenms hosted in its directory location eg: http://server/librenms
Ideally in /var/www/librenms as DietPi's LAMP stack is shared with other www software (eg: owncloud/ympd etc)

Using http://docs.librenms.org/Installation/Installation-(Debian-Ubuntu)/ tutorial, heres what I have so far for a Jessie install:

[code]

T

[2015-12-20 21:30] f0o commented on #137
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA512

No problem, I'll pop you an apache config + modifications needed to get it running in a subdirectory tomorrow.
If you can predict the sql creds you can even ship a premade config for libre :)

Cheers,
f0o

On 20 December 2015 22:23:13 CET, Dan notifications@github.com wrote:

iQJPBAEBCgA5MhxEYW5pZWwgUHJldXNza2VyIChNb2JpbGVLZXkjMikgPGYwb0Bs
aWJyZW5tc

[2015-12-21 13:53] Fourdee commented on #139
+option to format/setup dedicated USB drive.

[2015-12-21 14:27] Fourdee commented on #139
To prevent abuse of automation USB formatting, a blank file must exist on the 1st partition for this flag to be enabled:

[code]

[code]

[2015-12-22 13:04] Fourdee commented on #146
No response. Please reopen if required.

[2015-12-22 13:04] #146 closed, assigned to nobody

[2015-12-22 18:16] Fourdee commented on #139
+

[code]

[2015-12-22 19:22] Fourdee commented on #137
@f0o

[code]

Thanks Daniel, appreciate it.

[code]

Awesome :+1: Yep, the SQL details will be the same.
I'll also look into exporting the SQL DB and importing during install (as per Ampache install). The more DietPi can automate Librenms installation, the better for the end user. :)

[2015-12-23 00:29] dogmaticslumbers commented on #39
No Chromium in DietPi Jessie.  Really?

[2015-12-23 11:35] fravaccaro opened #149 "Update 101 > 102 > 103"
Hi,

As far as I got the update 102 is mandatory to update to any other following release (I'm on 101).

Since the diet-pi script tries to update to 103 and fails, is there a way to force the 102 update first?

Best regards,

Fra

[2015-12-23 13:10] Fourdee opened #150 "DietPi-Software | LXDE Desktop, switch to Chromium."
Note:
Chromium for RPi:
http://conoroneill.net/running-the-latest-chromium-45-on-debian-jessie-on-your-raspberry-pi-2/

Chromium for Odroid:
apt-cache search chromium-

[2015-12-23 13:10] Fourdee commented on #39
@dogmaticslumbers

Chromium for RPi:
http://conoroneill.net/running-the-latest-chromium-45-on-debian-jessie-on-your-raspberry-pi-2/

Chromium for Odroid:
apt-cache search chromium-

I'll look into the LXDE install and see if we can switch from Iceweasel to Chromium for all devices. As  the installation is different for some devices, each one must be tested.
https://github.com/Fourdee/DietPi/issues

[2015-12-23 13:24] Fourdee commented on #149
@fravaccaro <= v101 can no longer be patched.
If you want to run v102+, you will need to download the latest DietPi image (v102) from http://dietpi.com. The image will automatically patch to v103 during 1st run.

Its rare that DietPi will require a new image, but it does happen now and then to improve areas of DietPi that cannot be changed prior to the 1st run update etc.

You are not required to

[2015-12-23 13:24] #149 closed, assigned to nobody

[2015-12-23 14:01] Fourdee opened #151 "DietPi-Software | Add MATE desktop installation option"

[2015-12-23 18:03] dogmaticslumbers commented on #39
@Fourdee. Thanks!!  I knew there had to be a reason and that it had to be out there somewhere.

I'm off to get it installed now.

[2015-12-23 18:42] Fourdee commented on #139
Modified Custom scripts to support local or online execution:

[code]

[2015-12-23 18:45] f0o commented on #137
Terribly sorry for my delay.
X-Mas got me in panic mode haha

Anyways, have a look at shipping our releases instead of the master branch.
For sub-dirs you need to adjust the .htaccess file inside `html/`, modify the RewriteBase to suit your needs.

Generally spoken you should consider nginx+fpm instead of apache, but we of course support both so this advice is very tainted by personal opinion ;)

[2015-12-23 21:09] dogmaticslumbers commented on #39
OK.  Ended up following the instructions here:

https://www.raspberrypi.org/forums/viewtopic.php?uid=160930&f=63&t=121195

Even then, Chromium didn't fire up immediately after the install.  It was missing one dependency. (Sorry don't remember the name of the dependency.  Not at that board right now.  I followed the instructions for fixing the dependency by issuing some kind of apt-get command whic

[2015-12-24 06:42] f0o commented on #137
It seems you really only need to adjust https://github.com/librenms/librenms/blob/master/html/.htaccess and fix the `RewriteBase /` to `/librenms/`

[2015-12-24 12:14] Fourdee commented on #137
@f0o Xmas panic here also hehe :)

Thanks for the info, appreciate it :+1: . I'll give it a spin as soon as I can and let you know how it goes. Santa may have to run a little late this year ;)

[2015-12-25 16:14] atlury opened #152 "mmc spi driver patch - the mmc-spi driver no longer detects the sd-cards"
Can the following patches be applied for the next release of dietpi.

https://github.com/raspberrypi/linux/issues/911
https://github.com/raspberrypi/linux/pull/1135

Error is with mmc_spi with the latest kernels. You always get error messages like this:
mmc1: error -110 whilst initialising SD card

This happens with sdcard is connected to SPI interface.

Note1: LC-Studio SD-Card Adapter was used.

[2015-12-26 12:19] Fourdee commented on #152
@atlury
Hi, thanks for the information on this.

Ideally, if this patch is stable, it would gradually make its way to the master branch where I assume rpi-update would be used to apply it.
As this is not the case with the mmc spi patch, I'am not prepared to roll it out for the DietPi Rpi images, as this could cause more issues than it's worth.

I would recommend you compile the kernel with the req

[2015-12-26 12:19] #152 closed, assigned to nobody

[2015-12-26 16:07] Fourdee commented on #137
@f0o
Spent 4+ hours on this today testing multiple installations, methods, locations, configurations etc.
LibreNMS will not function correctly, unless it is installed as the base / (and only) website on the system (replacing the 000-default).

The .htaccess changes have no effect.
![image](https://cloud.githubusercontent.com/assets/7077026/12007016/78becf78-abe8-11e5-86d4-a99d15054441.png)

At a m

[2015-12-27 02:33] audy commented on #72
Worked for me using DCHP (didn't test static).

[code]

[2015-12-27 21:24] #139 closed, assigned to nobody

[2015-12-28 11:50] migueLoureiro opened #153 "Odroid c1 ethernet/wifi connection fails"
Cannot connect to internet on odroid c1 (original c1, not c1+)
I have tried with both the ethernet cable and with a wifi dongle:
TPLINK TL-WN725N, link: http://www.tp-link.com/lk/products/details/cat-11_TL-WN725N.html
I can see my network, connect to it (in theory) but then the internet connection test always fails.
With the ethernet cable, it just doesnt connect.
Both the cable and wifi dongle wo

[2015-12-28 12:45] Fourdee commented on #153
@migueLoureiro
Hi, thanks for the report.

I'll need to get some info on your installation, setup, hardware. Could you please run the following:

[code]

Follow the onscreen instructions. As your system is offline, the bugreport will be created on the SD card. Once completed, please upload the bug report and link here.
The bug report will contain lots of files that should allow me to resolve this

[2015-12-28 12:59] migueLoureiro commented on #153
Thanks for the quick reply! :)
My username on the forum is: _"lasy"_
I will generate the bug report and place it here.

Thanks for the support.

Best regards,
José Miguel Loureiro

On 28 December 2015 at 12:45, Dan notifications@github.com wrote:

[2015-12-28 18:25] Fourdee commented on #153
@migueLoureiro
I've enabled your account on the forums. Just give us a shout when you have the bugreport.

[2015-12-30 11:30] atlury commented on #152
Thanks Fourdee!

[2016-01-02 13:32] Fourdee opened #155 "ARMv6 | Squeezebox server | squeezezeboxserver_init"

[2016-01-02 14:17] prov3it opened #156 "Explain this"
Hi,

My DietPI Installation (Debian Wheezy) went from version 104 to version 68. dietpi-backup doesnt even exist anymore.

I dont know how, but it happened.

[2016-01-02 14:35] prov3it commented on #156
I rebooted and its version 104 again. Before reboot the /Dietpi/dietpi/ folder contained:
boot,dietpi-apt-get_update, dietpi-boot_order, dietpi-config, dietpi-external_drive_setup, dietpi-logclear, dietpi-ramdisk, dietpi-software, dietpi-uninstall, finalise, login, conf, dietpi-banner, dietpi-bugreport, dietpi-cpu_set,  dietpi-funtime, dietpi-obtain_hw_model, dietpi-services, dietpi-survey, dietpi

[2016-01-02 17:28] Fourdee commented on #156
@prov3it Hi,
Unsure myself, i've never seen this behaviour. Have you modified any of the DietPi scripts, or, made customizations to any linux configuration files that you can remember?

I need to see your system configuration/settings, please run the following to send a report:

[code]

No need to fill out the text document, i only need the reference code, ideally in your next reply.

[2016-01-02 19:37] EzTargetUK opened #157 "OpenTyrian does not install on v104"
I'm trying to get an OpenTyrian and it fails to install.

Looking at the script dietpi-software, it looks like you are downloading the zip file for OpenTyrian with the name of "opentyrian_armhf.zip", but your attempting to unzip "dietpi-opentyrian.zip".

Simple fix, but I thought I should point it out incase anyone else wants to play this game on the Pi.

[2016-01-02 20:14] Fourdee commented on #157
@EzTargetUK
Hi,

Great find and thanks for letting us know, massive error on my part. This has been resolved for the next update (DietPi v105).

[2016-01-03 13:52] Fourdee commented on #54
Installable from DietPi-Software

Integrated into dietpi-config > Networking options > Wifi:
![image](https://cloud.githubusercontent.com/assets/7077026/12079019/7b6f65d6-b221-11e5-8242-8eeed156eda9.png)

[2016-01-03 15:31] Fourdee commented on #155
Appears the 7.9 nightly builds have dropped support for ARMv6 architecture (RPi v1).
v7.8 supports ARMv6, can't be launched from cli, same error as https://github.com/Fourdee/DietPi/issues/123 :

[code]

7.8 run from /etc/init.d/logitechmediaserver service. Change to service based?

[2016-01-03 16:09] Fourdee commented on #155
7.8 /etc/init.d/logitechmediaserver:
Fails to start on ARMv6, fine on ARMv7. Seems the service is not the issue.

Both 7.8 & 7.9 /etc/init.d/logitechmediaserver ignores SLIMUSER= and always runs as user squeezeboxserver:
![image](https://cloud.githubusercontent.com/assets/7077026/12079523/445fc0d2-b234-11e5-9d41-0b6483f7d56d.png)
The following has no effect:

[code]

So 3 issues:
- 7.9 does not su

[2016-01-04 20:10] Fourdee commented on #155
Note to self:
http://forums.slimdevices.com/showthread.php?84680-Installation-failure-to-load-Perl-Modules

[2016-01-05 17:21] Fourdee opened #158 "DietPi-Automation | AUTO_DietpiSoftware_SkipUpdateRebootPrompt=1 no effect"
This has been corrected and will be resolved on the next DietPi images.

[2016-01-05 17:21] #158 closed, assigned to nobody

[2016-01-05 17:21] #157 closed, assigned to nobody

[2016-01-05 17:46] Fourdee commented on #54
completed.

[2016-01-05 17:46] #54 closed, assigned to nobody

[2016-01-06 19:36] #107 closed, assigned to nobody

[2016-01-06 19:49] Fourdee commented on #155
Disabled in DietPi-Software for ARMv6, until I (or anyone else) can find a workaround.

[2016-01-09 14:18] ochaochaocha3 opened #160 "Input methods don't work"
On v105 LXDE, input methods (such as ibus, fcitx) fail to start with dbus connection error.
This is because `dbus-launcher` (included in `dbus-x11` package) doesn't exist.
I confirmed that installation of `dbus-x11` solved this problem, so could you please add this package on LXDE installation?

[2016-01-09 14:37] Fourdee commented on #160
@ochaochaocha3
Thanks for the report. :+1:

`dbus-x11` will now be installed with the xserver package. The xserver package is installed automatically when xserver based programs are selected for install in dietpi-software (eg: lxde).

This fix will be available and patched for current installations of xserver in the next release (v106)

Please reopen if required.

[2016-01-09 14:37] #160 closed, assigned to nobody

[2016-01-10 16:12] nickrttn opened #161 "Shairport Sync [feature request]"
Integration of https://github.com/mikebrady/shairport-sync would be awesome. The installation process for this isn't too bad to do manually but I'll take automation any day.

It makes the RPi a great lightweight AirPlay streaming device. I'm running it headless, connected to my stereo, without `libsox` and it's fine to be honest. Haven't tried the libsox functionality because I'm on a B+ and it's

[2016-01-10 16:38] Fourdee commented on #161
@nickrttn
Thanks for the request :+1: , looks interesting. I'll compile on my RPiv2 and take it for a spin. Hopefully we can make a .deb package for the installation to make it quicker.

[2016-01-10 17:54] Fourdee commented on #161
Looking good. Running on Orange Pi PC:
![untitled](https://cloud.githubusercontent.com/assets/7077026/12222968/046405bc-b7c3-11e5-95ab-3ab499ff5ac6.png)

Will be available in next release (v106) from dietpi-software.
Most likely a .deb install. Just need to check if RPi 1 (ARMv6) needs its own compile.

[2016-01-10 17:55] nickrttn commented on #161
Wow! that was :zap: fast! Thanks.

[2016-01-11 00:05] septs commented on #94
?

[2016-01-11 13:01] Fourdee commented on #94
@septs
Not a priority at the moment.
As DietPi optimizes most installations based on a split of the memory you have, zram would only benefit <=256MB RAM systems. The benefit could also be a negative due to cpu time required for compression/decompression, especially on a single core cpu.

[2016-01-11 14:02] Fourdee commented on #161
@nickrttn

Ok done some testing with soxr interpolation:
![untitled](https://cloud.githubusercontent.com/assets/7077026/12235550/739edeb2-b86c-11e5-8c75-15873b2c62d4.png)

[code]

So it looks like soxr is possible on a RPi v2 if you are willing to lapse the resync_threshold somewhat.

For the dietpi-software installation, I will leave interpolation on basic (disabling soxr) for the moment.

[2016-01-11 14:09] Fourdee commented on #161
Update, using dietpi-nice to set nice -20 for shairport-sync resolves the choppiness:
![untitled](https://cloud.githubusercontent.com/assets/7077026/12235659/fa74e332-b86c-11e5-88aa-e4fbd87798cd.png)

[code]

Enabling soxr will be down to the user, but, I will put all this info on the dietpi-software site.

[2016-01-11 16:49] Fourdee commented on #161
Completed. Available in next release (v106) from dietpi-software.

Planning to release v106 in a next few days.

[2016-01-11 16:49] #161 closed, assigned to nobody

[2016-01-11 19:16] MrSuttonmann opened #162 "dietpi-letsencrypt"
Hi,

I'm trying to run dietpi-letsencrypt, but it gives me the following error:

[code]

If I then run DietPi-Software, I can't find LetsEncrypt in the software listing at all. What gives?

Also in dietpi-banner, you've got a typo on line 80.

[2016-01-11 20:35] Fourdee commented on #162
@jameshyde
Lets encrypt has been disabled for the DietPi RPi Wheezy image as Letsencrypt-auto script fails to install on RPi Wheezy. see: http://fuzon.co.uk/phpbb/viewtopic.php?f=11&t=261&p=1094#p1094

Its been a few weeks since I last tested Letsencrypt-auto on Wheezy, so if you want to try it, you will need to add the following line to the dietpi-software script under wheezy to allow for the ins

[2016-01-11 21:28] masterxilef commented on #155
Seems like I got it working on a Raspberry Pi B 512MB, DietPi Jessie v105, using this guide as a reference:
http://forums.slimdevices.com/showthread.php?104515-Squeezebox-server-stopped-working-after-upgrade-to-Jessie-on-raspberrypi&p=834976&viewfull=1#post834976

But got 100% CPU usage, so after reading this:
https://github.com/Fourdee/DietPi/issues/65

So this seems to do the job:

wget http://d

[2016-01-11 21:43] Fourdee commented on #155
@masterxilef :+1:
I will give this a spin tomorrow on my Zero. If all goes well, I'll update the installation code and enable for v106.
Thanks for sharing!

[2016-01-12 13:20] Fourdee opened #163 "DNScrypt installation option"

[2016-01-12 17:08] Fourdee commented on #155
@masterxilef You are a legend :+1: . Working perfectly!
I've updated and re-enabled the code. Will be available for install (again :)) in next release (v106)

[2016-01-12 21:23] masterxilef commented on #155
Glad I could help.
Did you tried on Wheezy?

[2016-01-13 11:53] EzTargetUK opened #164 "Automatic update during initial boot not skipping"
I'm not sure if this is me setting the options wrong, or a small logic error in the dietpi-software script.

In my dietpi.txt file I've set the following:
AUTO_DietpiSoftware_SkipUpdateRebootPrompt=1

When setting up a new install of the OS on a Raspberry Pi I keep getting the message saying that the DietPi has been updated to the latest version.

I've copied the code from line 3682 to the current

[2016-01-13 13:28] Fourdee commented on #164
@EzTargetUK

[code]

There was a logic/ordering error in the dietpi-software script which prevented this flag from being read, before the if statement. This occurs on the v104 images.

This has now been resolved: https://github.com/Fourdee/DietPi/blob/testing/dietpi/dietpi-software#L3741-L3744

[code]

If AUTO_DietpiSoftware_SkipUpdateRebootPrompt=1, the -ci result will be 1, which will skip that

[2016-01-13 14:54] Fourdee commented on #155
@masterxilef
Yep, working on Wheezy :+1: :
![untitled](https://cloud.githubusercontent.com/assets/7077026/12297535/803897f4-ba05-11e5-8f6c-0688698c7a07.png)

[2016-01-13 15:42] supercoollbob opened #165 "OrangePi-PC not work swap file"
kswapd0 100%  cpu load.

root@DietPi02:/mnt# free
             total       used       free     shared    buffers     cached
Mem:       1026964     286724     740240      15476      20320     166268
-/+ buffers/cache:     100136     926828
Swap:      1023996          0    1023996

[2016-01-13 15:45] supercoollbob opened #166 "OrangePi-PC not wifi wpa ini initial install ."
Please add wpasupplicant in initial image.

[2016-01-13 18:34] Fourdee commented on #166
Duplicate. Please see:
https://github.com/Fourdee/DietPi/issues/131

[2016-01-13 18:34] #166 closed, assigned to nobody

[2016-01-13 18:36] Fourdee commented on #165
Please send a bug report and reply with reference Code once completed:

[code]

[2016-01-13 18:37] Fourdee commented on #164
All DIetPi ARM images have been updated to v106 which resolves the issue:
http://dietpi.com/downloads/images/

[2016-01-13 18:37] #164 closed, assigned to nobody

[2016-01-13 18:38] Fourdee commented on #156
No response, please reopen if required.

[2016-01-13 18:38] #156 closed, assigned to nobody

[2016-01-13 18:38] Fourdee commented on #153
No response, please reopen if required.

[2016-01-13 18:38] #153 closed, assigned to nobody

[2016-01-13 18:39] #155 closed, assigned to nobody

[2016-01-14 13:35] supercoollbob commented on #165
40a5ef09e1ac-1

judging by the comments people are a problem present in all cores from Loboris. Need patch .

[2016-01-14 13:45] supercoollbob opened #168 "DietPi-Software | Add Seafile CE"
Seafile e.g. Dropbox
https://forum.seafile-server.org/t/tutorial-for-seafile-ce-nginx-on-arm/3023

[2016-01-14 13:55] supercoollbob opened #169 "DietPi-Software | Add FreePBX&Asterisk"
http://www.raspberry-asterisk.org/
This combination will greatly enhance the attractiveness of the distribution DietPi.

[2016-01-14 14:05] Fourdee commented on #165
Looks like an issue with the Kernel swap process:

[code]

Which is strange because swapiness is set to 1 and you still have Ram available.

How big is your swapfile?

[code]

Can you try disabling dphys swapfile:

[code]

If still 100% cpu, increase the swapfile (512mb):

[code]

[2016-01-14 14:10] Fourdee commented on #169
Looks interesting :+1:

I'd imagine this would only be used in a business/commercial environment, instead of personal use. I'll look into it when I can, but it will have to be low priority for the moment.

[2016-01-14 14:17] Fourdee commented on #165
`judging by the comments people are a problem present in all cores from Loboris. Need patch`

I believe its more a case of lack of development and support for the H3 in general.

[2016-01-14 14:18] Fourdee commented on #168
:+1:  Seafile brings back some memories :)

[2016-01-14 15:39] supercoollbob commented on #165
Bug report Sent. Thank you.
 Your reference code: 40a5ef09e1ac-2

KiB Mem:   1026964 total,   860824 used,   166140 free,     4932 buffers
KiB Swap:   524284 total,        0 used,   524284 free.   757688 cached Mem

  PID USER      PR  NI    VIRT    RES    SHR S  %CPU %MEM     TIME+ COMMAND
   36 root      20   0       0      0      0 R  99.6  0.0   0:20.12 kswapd0
 1296 root      20   0   30496

[2016-01-14 16:20] Fourdee commented on #165
Can you clear the memory cache:

[code]

And post free result:

[code]

To print just CPU usage of kswap:

[code]

[2016-01-14 16:28] supercoollbob commented on #165
root@DietPi02:~# free
             total       used       free     shared    buffers     cached
Mem:       1026964     495268     531696       6164       1172     370964
-/+ buffers/cache:     123132     903832
Swap:       524284          0     524284

root@DietPi02:~# ps -aux | grep '[k]swap' | awk '{print $3}'
5.8

[2016-01-14 16:30] supercoollbob commented on #165
It is a half-measure. need works swap.

[2016-01-14 17:18] Fourdee commented on #165
Looks like a possible issue with the 3.4.39-01-lobo kernel, or, unstable RAM.
It appears Loboris hasn't updated the kernel for a while, possibly stopped maintaining it: http://loboris.eu/opi_kernel.tar.gz

I've been unable to get on the OPi forums for a few days, seems their webserver is overloaded, or China throttles the UK: http://www.orangepi.org/orangepibbsen/forum.php?mod=viewthread&tid=342

[2016-01-14 17:24] supercoollbob commented on #165
Use torbrowser, work fine.

[2016-01-15 08:05] weakiwi commented on #144
The same problem in the Raspberry Pi B+(1g).
I delete the last '#' in the /etc/inittab (if you don't do this,the dietpi will show you boot message with login prompt)and I successfully login with v95.
But when I turn to the v105, it just show  'Uncompressing Linux... done, booting the kernel. ' (without any other message,just this sentence) with a pl2302-usb adapter but everything seems ok when usi

[2016-01-15 12:18] weakiwi opened #170 "Waiting for DietPi-RAMDISK to finish copying DietPi to RAM"
I login the dietpi by ssh service and it show this reaptedlly.
![此处输入图片的描述](http://ww3.sinaimg.cn/mw1024/68566be7gw1f00fxou0aoj20nd0enakv.jpg)
If I Ctrl+C to break out and execute a shell command,which will lead to Read-only filesystem.
![此处输入图片的描述](http://ww3.sinaimg.cn/mw1024/68566be7gw1f00fybvdufj20nd0endmk.jpg)

[2016-01-15 13:41] Fourdee commented on #170
@weakiwi
Hi, is this on a fresh install of DietPi?

Also, please provide the following:
- PSU model/brand/voltage/amp (eg: Official RPi 5v/2a)
- SD card model/brand/size (eg: Sandisk Extreme 16gb uhs3)
- List of USB devices connected to RPi.

[2016-01-15 14:40] MuJJus commented on #72
worked for me

[2016-01-15 17:36] Fourdee commented on #72
@audy @MuJJus
Thanks guys.

I will begin to integrate this into DietPi-Config as a toggle option.

[2016-01-16 02:49] weakiwi commented on #170
5v/1a normal mobile phone charger
Team 16gb sdhc
nothing

[2016-01-16 13:27] Fourdee commented on #170
@weakiwi
Mobile phone chargers are not recommended. I've owned a few 5v/2a from Samsung which dont provide a stable voltage.

I've never heard or tested a Team SD card, If you have other SD cards (eg: Sandisk), please try one of those.

It appears the issue is caused by an IO error on the fileystem, hence why root FS is falling back to read only as a failsafe.
I would suggest you try rewriting the

[2016-01-16 20:14] Fourdee opened #171 "DietPi-Affinity not applying to all PID's of matching program."
As title.

[2016-01-16 20:14] Fourdee commented on #171
Resolved.

[2016-01-16 20:14] #171 closed, assigned to nobody

[2016-01-16 20:32] Fourdee opened #172 "Add support for setting process/program Scheduler Policy and Priority."
Completed. Replaces dietpi-nice/affinity:
https://github.com/Fourdee/DietPi/blob/testing/dietpi/dietpi-process_tool

![1](https://cloud.githubusercontent.com/assets/7077026/12374331/3d85482a-bc90-11e5-9385-06e4d833f6b3.png)
![2](https://cloud.githubusercontent.com/assets/7077026/12374332/3eae2e10-bc90-11e5-9b3e-d83240d28a4a.png)

[2016-01-16 20:32] #172 closed, assigned to nobody

[2016-01-17 17:29] #162 closed, assigned to nobody

[2016-01-17 17:30] Fourdee opened #173 "DietPi-Software | Redmine"

[2016-01-17 18:13] Fourdee opened #174 "DietPi-Automation | AUTO_Locale AUTO_Timezone"
Workaround:
Set Language via `dietpi-config` manually

[2016-01-17 19:00] Fourdee commented on #72
Completed. Integrated into DietPi-Config as a toggle option. Available in next release (v107):
![1](https://cloud.githubusercontent.com/assets/7077026/12379172/9c8ded9c-bd4c-11e5-9a9c-9e48e50b4a22.png)

[2016-01-18 06:57] MuJJus commented on #72
Want DHCPv6 support
`iface eth0 inet6 dhcp`
in /etc/network/interfaces

EUI-64 address is too long and no privacy

[2016-01-18 09:20] nickrttn commented on #161
Just wanted to let you know that I've been running it for a couple of days now, and it works perfectly. Thanks.

[2016-01-18 13:29] Fourdee commented on #161
@nickrttn Excellent, no worries, good to hear :+1:

[2016-01-20 13:29] Fourdee opened #175 "DietPi-Software | Nginx dependency. Fails to install."
[code]

Nginx service fails to start if IPv6 is enabled in the config file (this is on by default in raspbian jessie repo), when IPv6 is not enabled on the system.
/etc/nginx/sites-available/default:
`listen [::]:80 default_server;`

Resolution 1)
As this is the default in the configuration file when installed during apt-get, and cant be changed until after the error, accept the error and modify a

[2016-01-20 15:01] Fourdee commented on #175
Resolved for v107:
IPv6 is now enabled by default on all DietPi systems. Its clear that IPv6 is becoming a requirement for software to fully function, let alone install without errors.
This will also be rolled out as a patch for current installations. You can disable IPv6 using dietpi-config > networking > IPv6

[2016-01-20 15:20] #175 closed, assigned to nobody

[2016-01-20 15:31] Fourdee commented on #72
IPv6 is now enabled by default on all DietPi systems, see link for explanation:
https://github.com/Fourdee/DietPi/issues/175

[2016-01-20 15:31] #72 closed, assigned to nobody

[2016-01-20 15:34] Fourdee commented on #72
@MuJJus

[code]

Unfortunately, I do not have access to any IPv6 networks that would allow me to test and implement this correctly into DietPi.
Your request will have to wait until the above is available.

[2016-01-20 18:31] Fourdee opened #176 "DietPi-Software | Add rTorrent installation option"

[2016-01-23 18:33] Fourdee opened #177 "DietPi-Software | Add Pydio installation option"
## Donator request (high priority).

Pydio http://sourceforge.net/projects/ajaxplorer/files/pydio/stable-channel/6.2.2/pydio-core-6.2.2.zip/download

[2016-01-26 15:37] Fourdee commented on #170
Assumed resolved. Please reopen if required.

[2016-01-26 15:37] #170 closed, assigned to nobody

[2016-01-26 15:41] Fourdee commented on #150
As we have a very small number of desktop installations from users, this is unnecessary, and not beneficial to the majority of our users.

[2016-01-26 15:41] #150 closed, assigned to nobody

[2016-01-26 20:52] Ondjultomte opened #179 "request vmware esxi 6 iso"
Is it possible to get a iso that would install dietpi in esxi ? not just vmplayer

[2016-01-26 21:26] blindpet commented on #179
You should be able to use the vmx file for esxi.

[2016-01-27 13:25] Fourdee commented on #179
@Ondjultomte If you require the VM in a different format (eg: iso), you will need to convert it:
http://stackoverflow.com/questions/26670337/how-can-i-convert-vmware-vmdk-file-to-iso-format-in-windows-host-machine

and

https://communities.vmware.com/thread/472934?start=0

Please reopen if required

[2016-01-27 13:27] #179 closed, assigned to nobody

[2016-01-27 19:59] Ardakilic opened #180 "DietPi-specific apps are not executing directly when using ZSH (and possibly any other shell)"
Hello,

I'm using DietPi with ODROID-XU4, loving it so far! :smile:

I've a request, I hope this is considered.

I prefer using [zsh](http://www.zsh.org/)[[1]](https://en.wikipedia.org/wiki/Z_shell) ( + [oh-my-zsh](https://github.com/robbyrussell/oh-my-zsh) ) over bash, however when I install it, DietPi-specific commands such as `dietpi-config`, `cpu` etc. are not executed. I had to dig the source

[2016-01-27 20:22] Ardakilic commented on #176
I don't know how this will be, but if there would be an option to to choose version I'd like to, because of this:

https://github.com/rakshasa/rtorrent/issues/191

For lower models such as Rpi1 Model B/B+ etc, 0.9.3/0.13.3 will be way less resource-consuming.

[2016-01-27 20:57] Fourdee commented on #180
@Ardakilic
DietPi uses bash alias to create the shortcut names. `/etc/bash.bashrc`

You will need to ensure zsh loads/applies the bash aliases when connecting. I'am unsure as I've never used zsh before.

You could also run `/DietPi/dietpi/dietpi-launcher` which executes the full filepath of your selected DietPi script/program.

[2016-01-27 20:59] Fourdee commented on #176
@Ardakilic Thanks for the info. Will look into this when work begins on rTorrent.

[2016-01-27 21:20] Ardakilic commented on #180
@Fourdee I've tried sourcing it manually but it breaks another stuff of oh-my-zsh:

[code]

Since you've put it in the proper paths I'll be closing this and try to fix it in the zsh's end.

Thank you again,

[2016-01-27 21:20] #180 closed, assigned to nobody

[2016-01-28 16:38] Fourdee opened #181 "DietPi-Software | Add Cozy installation option"
Cozy (repo) https://docs.cozy.io/en/host/install/install-on-debian.html

Cozy (lite) https://github.com/cozy-labs/cozy-light

[2016-01-28 17:31] Fourdee commented on #177
Completed, available in next release (v108): http://fuzon.co.uk/phpbb/viewtopic.php?f=8&t=5&p=1064#p1064

[2016-01-28 17:31] #177 closed, assigned to nobody

[2016-01-28 20:04] laf commented on #137
If you check the source code for the page, what do you see base href set to?

[2016-01-28 20:13] Fourdee commented on #137
@laf
Since Librenms is your project, I assume this is some sort of hint?

What page are you refering to https://github.com/librenms/librenms/tree/master/html ?

[2016-01-28 21:26] laf commented on #137
@Fourdee

I'm just a dev :)

Sorry I meant the source code for the web page you sent a screenshot above (i.e the LibreNMS web interface).

[2016-01-28 21:49] Fourdee commented on #137
@laf
Aha! :)
I'll setup a test installation tomorrow and take a look. Its been a while since I last tried it.

[2016-01-28 21:54] laf commented on #137
@Fourdee

No problem. If it's remotely accessible feel free to give me a shout (I'm UK based). Do you have an irc channel?

[2016-01-29 18:55] Fourdee commented on #137
@laf No IRC channel at the moment.

#### Ok, fresh install to /var/www/librenms
- install.php works fine, no 404's
- index.php see image:
  ![untitled](https://cloud.githubusercontent.com/assets/7077026/12684940/53d2a3d8-c6b9-11e5-904c-1269fafa2c17.png)

config.php:

[code]

Will try a few things, but my HTML knowledge is limited. Although its just a path issue, must be an easy fix somewhere? :)

[2016-01-29 18:57] f0o commented on #137
Perhaps it's as easy as adding the correct base_url?

On 29 January 2016 19:55:52 CET, Dan notifications@github.com wrote:

##

Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2016-01-29 18:59] laf commented on #137
Try setting $config['base_url'] = '/librenms/'; in config.php

[2016-01-29 18:59] laf commented on #137
lol, @f0o beat me to it.

[2016-01-29 19:32] Fourdee commented on #137
@f0o @laf

[code]

Resolved the issue :+1:

Any chance we could get this implemented and applied when install.php is run? Seems required for non-base installations (eg: /var/www/WhereIWantIt/librenms) where users run more than 1 website?
If not, i'll sed -i for DietPi installation.

[2016-01-29 22:07] laf commented on #137
Just want to check that you haven't got the rest of our code accessible by librenms/includes/polling/functions.inc.php as an example?

[2016-01-30 14:43] Fourdee commented on #137
@laf
Not 100%, but yes it looks like the poller isnt working. I'd assume everything in the parent directory of `/librenms/` is not accessable, due to base_url `/librenms/html/`.

Is there any tests I can run to verify this?

[2016-01-30 16:02] laf commented on #137
base_url ist just saying that all links would start with /librenms/html/. Nothing stopping you trying to go to /librenms/README.md

Give that a try?

[2016-01-31 19:02] Fourdee commented on #181
Moved to v109

[2016-02-02 22:24] Fourdee opened #183 "DietPi-Software | Add Cheery Music installation option"
http://www.fomori.org/cherrymusic/
http://fuzon.co.uk/phpbb/viewtopic.php?f=12&t=302&p=1310#p1303

[2016-02-02 22:27] Fourdee opened #184 "XU4 720p boot only displays 10lines"
http://fuzon.co.uk/phpbb/viewtopic.php?f=11&t=304#p1305

[2016-02-02 22:27] Fourdee opened #185 "XU4 | Automation | User input required for kernel update prompt"
http://fuzon.co.uk/phpbb/viewtopic.php?f=11&t=304#p1305

[2016-02-02 22:30] Fourdee opened #186 "C1 | Pydio | Impossible write into the AJXP_DATA_PATH folder"
http://fuzon.co.uk/phpbb/viewtopic.php?f=11&t=303#p1304

[2016-02-03 14:13] Fourdee commented on #185
Also applies to C1

[2016-02-03 14:24] Fourdee commented on #185
Resolved for v109. The following is now applied to 1st run apt-get upgrade:

[code]

[2016-02-03 15:29] Fourdee commented on #186
Resolved for v109. Also applied as a patch to existing installations:

The DietPi generated Pydio data path:
- USB drive = `/mnt/usb_1/pydio_data`
- SD only = `/pydio_data`

As well as the generated symlink `/var/www/pydio/data` requires www-data owner permissions.

[2016-02-03 15:29] #186 closed, assigned to nobody

[2016-02-04 12:17] fairyfeller opened #187 "Pi-hole web-interface not showing stats"
Made a clean fresh install of DietPi (v 108) with Pi-hole on Orange Pi 2 Mini (runs and works flawlessly). Seems like pi-hole working (i mean blocking ads), but there's some elements missing in web-interface and no stats..
![screenshot 2016-02-04 15 16 38](https://cloud.githubusercontent.com/assets/16131050/12814726/5527bf46-cb52-11e5-9768-72994415fa64.png)

[2016-02-04 14:07] Fourdee commented on #187
@fairyfeller
Looks like they moved the logfile parsing code out of index.php to another shell script: https://github.com/pi-hole/AdminLTE/blob/master/index.php#L2
https://github.com/pi-hole/pi-hole/blob/master/advanced/Scripts/chronometer.sh

Run the following:

[code]

Then refresh the webpage (ctrl+f5).

[2016-02-04 14:11] Fourdee commented on #187
And BC (an additional package) is now required for PiHole to work out the percentage.
https://github.com/pi-hole/pi-hole/blob/master/advanced/Scripts/chronometer.sh#L55

[code]

Then refresh the webpage (ctrl+f5).

[2016-02-04 14:15] Fourdee commented on #187
![untitled](https://cloud.githubusercontent.com/assets/7077026/12817405/c4fb4594-cb49-11e5-8152-2808c764475e.png)

[2016-02-04 14:16] fairyfeller commented on #187
Yep, after getting new chronometer.sh and BC - it started to show some stats..
Still missing some menus on the left side as Update, Whitelist, and Reboot

[2016-02-04 14:35] Fourdee commented on #187
Resolved for v109. Will also be applied as a patch during update.

PiHole on DietPi will now be installed from a separate/stable fork of the project.
https://github.com/Fourdee/pi-hole
https://github.com/Fourdee/AdminLTE

This will allow us to merge/update the PiHole project in a testing environment, before being rolled out to DietPi users.

[2016-02-04 14:37] Fourdee commented on #187
@fairyfeller

Will take a look.

Updates for PiHole are rolled out as patches with dietpi-update.

[2016-02-04 15:47] Fourdee commented on #187
@fairyfeller
I cant see any references to blacklist/whitelist/reboot in the sourcecode of the webpage: https://github.com/Fourdee/AdminLTE/blob/master/index.php

Are you sure this has been implemented by Pi-Hole?

[2016-02-05 06:04] bhaveshgohel opened #188 "Any plan to support PINE 64 in future?"
Any chances we can see DietPine [ :wink: ] in future?

[2016-02-05 08:53] fairyfeller commented on #187
@Fourdee , i expected something like this http://jacobsalmela.com/pi-hole-2-0-web-interface-dashboard/
Thought it's already released :)
Then found this https://github.com/pi-hole/AdminLTE/commit/5eaf1c0392cf32c00fcbcf6b4afa1bd7bf0c9e74

[2016-02-05 13:27] Fourdee commented on #188
@bhaveshgohel
I've preordered one, but it wont arrive until May 2016 :(
DietPine sounds nice :+1:

[2016-02-05 13:39] Fourdee commented on #187
Ah, good find. So it did exist but was removed.

As this resolves all outstanding issues, i'll close this ticket. If you experience any further issues or questions, please reopen.

[2016-02-05 13:39] #187 closed, assigned to nobody

[2016-02-05 15:31] Fourdee commented on #184
Known issue with r6p0 Kernel.

[2016-02-05 17:29] #188 closed, assigned to nobody

[2016-02-06 15:08] Fourdee commented on #181
[code]

[2016-02-07 12:24] fairyfeller opened #189 "DietPi-Software | Add Hastebin installation option"
It would be nice to have option for quick installation of [Hastebin](https://github.com/seejohnrun/haste-server) server.
And get your own pastebin's at http://your-dietpi-ip/xxx123 :)

[2016-02-07 15:39] Fourdee opened #190 "DietPi-Config > Networking | Adapters always show 127.0.0.1 as DNS"
/etc/resolv.conf (the value that we parse) is 127.0.0.1 when dnsmasq is installed.

[2016-02-08 13:42] Fourdee commented on #181
Test installation of cozy took over 5 hours to install on a OrangePi PC. Calendar and file module errors. This is taking much longer than expected to implement into DietPi, and will be delayed.

[2016-02-08 13:44] Fourdee commented on #189
@fairyfeller
Sounds interesting :+1: , added to the list :)

[2016-02-08 14:06] Fourdee commented on #190
Appears other alternatives to obtain DNS in use, would require installation of network manager for nm-tool etc:
[http://askubuntu.com/questions/152593/command-line-to-list-dns-servers-used-by-my-system](url)

The DNS settings in dietpi-config are being applied and used correctly. We are just unable to parse the current DNS settings from the system when dnsmasq is installed.

[2016-02-08 14:06] #190 closed, assigned to nobody

[2016-02-08 20:21] Fourdee commented on #69
LLMP LLSP Available in next release (v109)

[2016-02-08 20:21] #69 closed, assigned to nobody

[2016-02-09 01:58] starstuff opened #191 "DietPi-Software | Add xrdp installation option"
Please add xrdp app for windows remote desktop support, an alternative to access lxde desktop.

`sudo apt-get install xrdp`

[2016-02-09 02:05] starstuff opened #192 "Add DietPi to Raspberry Pi Third Party OS Images"
Please add DietPi to the  Raspberry Pi Third Party OS Images to be more accessible to the general public

[https://www.raspberrypi.org/downloads/](url)

Im a new linux user, and find DietPi to be super easy to use!

[2016-02-09 02:20] starstuff opened #193 "DietPi-Software | Add PeerGuardian installation option"
Please add peerguardian to dietpi.

[http://sourceforge.net/p/peerguardian/wiki/pgl-Install-DebianUbuntu/](url)

**source**
`deb http://moblock-deb.sourceforge.net/debian jessie main`
`deb-src http://moblock-deb.sourceforge.net/debian jessie main`

**install**
`sudo apt-get install pgld pglcmd pglgui`

TIA

[2016-02-09 03:37] starstuff opened #194 "DietPi-Software | Add Zim Desktop Wiki installation option"
Please add Zim Desktop Wiki, its like dokuwiki but simpler and easier to use.

i use it to gather all information, references.

[http://zim-wiki.org/downloads.html](url)

[2016-02-09 04:07] starstuff opened #195 "DietPi-Software | Add QuiteRSS installation option"
Please add QuiteRSS to dietpi,

[https://quiterss.org/](url)
[https://quiterss.org/quiterss-for-other-os](url)
[https://packages.debian.org/search?keywords=quiterss](ur

[2016-02-09 13:29] Fourdee opened #196 "DietPi-Software | Add MariaDB based webserver stacks"
apache2 / MariaDB / PHP

[2016-02-09 13:36] Fourdee commented on #192
@starstuff
Thanks for all the requests.

I've tried on various occasions to make this happen with forum posts and a few tweets https://twitter.com/DietPi_/status/693493797427232770
https://www.raspberrypi.org/forums/viewtopic.php?f=63&t=100976

Unfortunately, there are no FAQ, rules, requirements, or contact information available for users who wish to add other distros.

I think the only way we ca

[2016-02-09 14:00] Fourdee opened #197 "DietPi-Automation | dietpi-update runs before network established and initially fails."
Appears to be an issue with curl failing on SSL cert. A connection test (based on wget) is already performed prior to dietpi-update running, which is successful:

![img_20160209_141449](https://cloud.githubusercontent.com/assets/7077026/12918681/1d27d6e6-cf38-11e5-9283-2e896ccc3556.jpg)

[2016-02-09 14:29] Fourdee commented on #197
Curl seems to have an issue with verifying certs straight after systemD services are completed, when using automatic login.

Added the -k flag which will allow "insecure" certs and prevents error.

[code]

[2016-02-09 15:44] Fourdee commented on #193
Looks like we will need to compile these as `deb http://moblock-deb.sourceforge.net/debian jessie main` doesnt have armhf deb packages.

https://sourceforge.net/projects/peerguardian/files/PeerGuardian%20Linux/2.3.1/

[2016-02-10 05:15] bhaveshgohel commented on #192
+1 DietPi Rulzz... :fire:

[2016-02-10 16:54] Fourdee commented on #196
[code]

[2016-02-10 19:14] Fourdee commented on #196
Completed. Available in next release (v109):

[code]

[2016-02-10 19:14] #196 closed, assigned to nobody

[2016-02-11 02:47] rhkean commented on #185
it's important to note that this will not update the linux kernel packages during the automated install and you will need to perform the following when all is done:

apt-get install linux-headers-armhf-odroid-xu3 linux-image-armhf-odroid-xu3

(since this fix causes the apt-get upgrade command to skip these packages and upgrading the kernel from 3.10.92+ to 3.10.96+ clears up a couple kernel module

[2016-02-11 13:35] rhkean commented on #197
Tested and confirmed on Odroid XU4 and RPi2

[2016-02-11 14:14] Fourdee commented on #197
@rhkean
Excellent :+1: . Thanks for letting me know.

As this fix cannot be applied by patching (the issue occurs prior to DietPi updating), I will need update all the DietPi image files to v109 for this issue to be resolved.

The new image files will be available from [dietpi.com](url) when v109 is released.

[2016-02-11 14:17] Fourdee commented on #185
@rhkean
:+1: I'll run some tests and verify.

[2016-02-11 14:29] rhkean commented on #197
let me know if you need me to test the new image.  I can test the XU4 and RPi2 images.

[2016-02-11 14:33] rhkean commented on #185
I tacked that line at the end of my Automation_Custom_Script.sh...
ran beautifully and don't get any "package is held back" messages

[2016-02-11 14:53] Fourdee commented on #197
@rhkean
Thanks. I will try and get them completed today, will let you know when they are available.

[2016-02-11 15:07] Fourdee commented on #185
Ok, I just tested the C1, the kernel packages are installed and updated correctly.
![untitled](https://cloud.githubusercontent.com/assets/7077026/12979736/fcf1ea8e-d0d0-11e5-885c-d2236872b7f7.png)

Now to test the XU4 :)

[2016-02-11 15:35] rhkean commented on #185
Looks like, in the script, it will definitely have to be $HW_MODEL dependent.  Doesn't look like the virtual packages (linux-headers and linux-image) resolve to definitive packages.

it's either
    apt-get -y install linux-headers-armhf-odroid-c1 and linux-image-armhf-odroid-c1
or
    apt-get -y install linux-headers-armhf-odroid-XU3 and linux-image-armhf-odroid-XU3

would be a more generalized/u

[2016-02-11 15:51] Fourdee commented on #184
As a workaround in v109. boot.ini is now set to 1080p by default (previously 720p).

Note to self: report issue to meveric

[2016-02-11 15:57] Fourdee commented on #185
@rhkean
The specific kernel/header packages for each device is pre-installed on the DietPi images for Odroids.

The Odroid kernel/header updates and packages are a little different.
The kernel updates are provided by meveric and using the mdjir Odroid repo. So when the user runs `apt-get upgrade`, this also pulls in the kernel/header updates for the device.

Looks like you were right, the XU4 isnt

[2016-02-11 16:06] Fourdee commented on #185
Yep that would work. Although I think we might be able to use debconf-set-selections. Looking into it.

[2016-02-11 16:32] rhkean commented on #185
doh!!!! now you're out of my depth.... LOL

[2016-02-11 16:36] Fourdee commented on #185
Looks like debconf is linked to the kernel version number. As this will change, it won't resolve future updates.

[code]

Ok.
The following code has been placed into the patch file. This will update all XU3/4 installations.

[code]

When the next kernel update is available, I will check if `DEBIAN_FRONTEND='noninteractive' apt-get upgrade` installs it. If the packages are still held back, I will a

[2016-02-11 16:43] rhkean commented on #185
so, did you put this in dietpi-software or dietpi-update?
and, have you checked it into github?  I'll try and test tonight.

[2016-02-11 16:56] Fourdee commented on #185
@rhkean
Exisiting XU4 installations will update the kernel when the user updates DietPi: https://github.com/Fourdee/DietPi/blob/testing/dietpi/patch_file#L324-L329

The patch won't be available until v109 is released. So if you want to try it, you will need to change `/DietPi/dietpi.txt` at the bottom `gitbranch=testing` then run `dietpi-update` to test.

Yes i just tried it as I'am currently upda

[2016-02-11 17:03] rhkean commented on #185
yeah... I switched to the testing branch last night to test the curl fix.  that's how I found out that the kernel packages were held back with the "noninteractive" fix.

I'll use the v106 image I have... verify that it updates from v106 and runs to completion with updated kernel packages without need for a any human intervention.

[2016-02-11 17:04] Fourdee commented on #185
@rhkean

Excellent, thanks.

[2016-02-11 17:29] Fourdee commented on #197
@rhkean
Here is the updated XU4 image: http://dietpi.com/downloads/images/testing/

I tried the following automation template:
http://dietpi.com/downloads/dietpi-automation_templates/DietPi-Core%20(DietPi%20as%20minimal%20image)/DietPi-Core%20-%20OpenSSH%20Server%20-%20DHCP%20(Fully%20automated).txt
Appears to be working fine :)

[2016-02-12 02:38] rhkean commented on #185
the start-from v106 image did not work.  it ran the entire install without requiring a keyboard intervention and installed the 3.10.96+ kernel packages, HOWEVER
it still boots to 3.10.92+
it is showing an error on boot about unable to load kernel modules
and, worse yet, I can seem to convince it to upgrade to the 3.10.96+ kernel now, b/c it says it's already installed.

I'll try the v109 image nex

[2016-02-12 13:17] Fourdee commented on #185
@rhkean
Bizzare, I'll retest the v106 > v109 patch and see whats causing it.

The v109 image is upgraded to .96+:

[code]

[2016-02-12 14:02] rhkean commented on #185
yeah... the new v109 image is working perfectly.  I just reimaged my XU4 this again this morning with it.  It processed all the stock dietpi.txt settings and my entire auto_custom_script flawlessly.  :)

The v106 to v109, however... :(
it's installing the packages, I just couldn't tell why is wasn't applying them.  But, I've never worked with debconf before, so I was stumbling around in unknown te

[2016-02-12 16:37] Fourdee commented on #185
@rhkean Thanks for testing.
It appears we have no current way of automating the XU3/4 kernel upgrade without causing damage. So for now, i'll remove it from the patch code.

The v109 image has the latest kernel.

To prevent future kernel upgrades causing issues with automation, I have put the kernel packages on hold. Users can then upgrade the kernel manually with `apt-get install linux-headers-ar

[2016-02-12 16:40] Fourdee commented on #197
@rhkean
I've uploaded the remaning DietPi v109 images:
http://dietpi.com/downloads/images/testing/

If you are able to test the ones you can with automation, i'd be grateful.

[2016-02-12 16:54] Fourdee opened #198 "DietPi-Software | Add ability to change user/personal data path for new installations."
eg: global var in DietPi.txt

[code]

Then read from DietPi-Software when installing:

[code]

Note to self: Patching Considerations.
Expected directories will change, need to ensure the patch includes USER_DATA_PATH if set.

[2016-02-12 16:55] rhkean commented on #197
I can test the XU4, RPi (Jessie), & RPi (Wheezy).  I'll test them this weekend.
I don't have a C1 or OrangePi... sorry
Do you just support the RPi2?  or do you also support the B+ and/or A+?  If so, I can test those, too.

[2016-02-12 17:01] rhkean commented on #185
@Fourdee I'm inclined to agree.

That method works for sure.  In fact, adding it as the last line in my Auto_Custom_Script.sh with a "-y" worked perfectly since there is an almost immediate reboot from that point.

Can you add that as a comment in the release notes?  (I doubt many people will read through this issue log)  ROFL

[2016-02-12 17:05] Fourdee commented on #197
@rhkean
Thanks I appreciate it. I'll test the Orange Pi and C1.

All RPi's are supported (the only exclusion is the compute module).

Theres no need to test additional RPi's (B/A/Zero etc) as we are only checking the initial automation code (which doesn't change per device).
A single test of Wheezy and one of Jessie on any RPi would be great.

[2016-02-12 17:22] Fourdee commented on #197
C1 & OrangePi Tested Ok using:
http://dietpi.com/downloads/dietpi-automation_templates/DietPi-Core%20(DietPi%20as%20minimal%20image)/DietPi-Core%20-%20OpenSSH%20Server%20-%20DHCP%20(Fully%20automated).txt

[2016-02-12 21:27] Fourdee commented on #185
Hehe :+1:  :)

I've updated the release notes. There may be some spelling and grammar errors (i've had a few tonight ;)):
https://github.com/Fourdee/DietPi/blob/testing/CHANGELOG.txt#L6

Planning to get v109 released before Sunday, that is, if the remaining RPi automation tests are successful.

PS. Really appreciate your input, testing and assistance to resolve these issues. :+1:

[2016-02-12 21:30] rhkean commented on #185
ROFL

Well, you enjoy your evening.  I'll verify the RPi tests tonight.  (it's only 4:30pm here)  So, hopefully I'll be able to give you some answers before you recover tomorrow.  :+1:

[2016-02-12 21:33] Fourdee commented on #185
@rhkean
lol, Will do!
There's no rush on the tests. Make sure you enjoy your evening also :)

[2016-02-13 05:51] rhkean commented on #197
I think the Wheezy image has some problems... several "cannot stat /proc/...." messages during boot.

## then, at the end of the bootup, just before login prompt:

DietPi-Process Tool
Applying settings, please wait...

warning: bad ps syntax, perhaps a bogus '-'?

## See http://gitorious.org/procps/procps/blobs/master/Documentation/FAQ

renices cron, dhcp client, and dropbear

[2016-02-13 05:54] rhkean commented on #197
ok... not sure why that last post blew up the text....  probably a "markdown" thing (really need to commit that stuff to memory)

ran the wheezy image with my dietpi.txt file.  mysql failed.  not sure what else, but I'm definitely going to have to give this image a thumbs-down.  will test the jessie image next

[2016-02-13 07:30] rhkean commented on #197
the jessie image is good

[2016-02-13 14:06] Fourdee commented on #197
@rhkean
I'll debug the Wheezy image today. Thanks for testing and confirming Jessie.

Yep, looks that way. Jessie is too kind and allows `ps aux` and `ps -aux` :)

[2016-02-13 14:42] rhkean commented on #197
oh that's not a kindness.... its a new "feature" of ps.... it now supports posix, bsd, and gnu style options... and they're different.  "-a" and "a" are 2 different options now... the man page specifically calls out the "ps aux" and "ps -aux" are different.   I think its rather obnoxious.

here's a quick link:  http://manpages.debian.org/cgi-bin/man.cgi?query=ps&apropos=0&sektion=0&manpath=Debian+

[2016-02-13 14:43] Fourdee commented on #197
@rhkean

Was this via a webserver stack automation setting?

[2016-02-13 14:51] Fourdee commented on #197
"Welcome to Linux" lol :)

Resolved `warning: bad ps syntax, perhaps a bogus '-'?` by using `ps ax`.

[2016-02-13 15:08] rhkean commented on #197
probably.  I haven't looked at the specifics of the settings is a while.  I just created a patch file from my v106 dietpi.txt and applied it to the v109.  I can send you the file.  Actually you should already have it from the fuzon forum...
http://fuzon.co.uk/phpbb/download/file.php?id=224

[2016-02-13 15:15] Fourdee commented on #197
Thanks. I'll give it a try now.

[2016-02-13 15:42] Fourdee commented on #197
@rhkean
Ok, installation went fine. No Mysql errors, its running fine.

I did find an error in your dietpi.txt:

[code]

Causes:

[code]

Resolution:
You should use only 1 language entry, eg: `AUTO_Locale=en_US`

We do have a known issue with `AUTO_Locale` not applying on Jessie. Not sure if its the same with Wheezy but I'll look into it after v109 is out. https://github.com/Fourdee/DietPi/issues/

[2016-02-13 15:48] Fourdee commented on #197
I believe this has been here since the dawn of time on Wheezy. As far as I can tell, its not DietPi specific and it also occurs on the official Raspbian Wheezy image.

Appears RPi have removed Wheezy from the downloads page. Looks like they are phasing it out:
https://www.raspberrypi.org/downloads/raspbian/

[2016-02-13 17:58] Fourdee commented on #197
@rhkean
As far as I can tell, everything is now resolved with automation and the new images. I will release v109 now.

If we experience any further issues related to this ticket, we can reopen and patch in v110.

[2016-02-13 17:58] #197 closed, assigned to nobody

[2016-02-13 17:59] Fourdee commented on #185
Resolved for v109.

[2016-02-13 17:59] #185 closed, assigned to nobody

[2016-02-14 19:10] k-plan opened #200 "DietPi-Cleaner - error message while running test on non-standard rootFS location."
To test it on Odroid C1 (Jessie: v.109):
Start DietPi-Cleaner, enable same cleaners (APT, Log) and start Test (Simulate the cleaning process, without modifying any data.)

Message (locales: en_GB.UTF-8):

[code]

Message (locales: de_DE.UTF-8):

[code]

After this, you are back on cmd (root@DietPi:~#)

[2016-02-14 19:31] Fourdee commented on #200
@k-plan
Hi, thanks for the report.

I was unable to replicate this error using the C1 and your tests. Could you please send a `dietpi-bugreport` and provide the reference code? This will allow me to see your current setup and settings.

[2016-02-14 20:24] k-plan commented on #200
Hi Fourdee,
thanks for your quick reply. Have send a bugreport.
Reference CODE: 001e06201ba0-0

[2016-02-16 17:46] Fourdee commented on #200
@k-plan
Apologies for the delay.

I've modified the dietpi-cleaner script to allow us to debug. Could you run the following on your system:

[code]

Then run the same tests you did last time.

When it fails on line 306. Please copy and paste the following debug sections:

[code]

[2016-02-16 19:11] Fourdee commented on #198
Available in v110:

A custom user/personal data path can now be set in dietpi.txt

[code]

[2016-02-16 20:33] k-plan commented on #200
Hi Fourdee,

here we go:
(Message (locales: en_GB.UTF-8):

[code]

Message (locales: de_DE.UTF-8):

[code]

Thanks for your help.

[2016-02-17 12:40] Fourdee commented on #200
@k-plan
Thanks.

Ok, it looks like the issue is when obtaining the current filesystem usage, which is pulled from `df`.

Could you please run the following commands and paste results for each:

[code]

and

[code]

And finally:

[code]

Thanks.

[2016-02-17 17:52] k-plan commented on #200
Hi Fourdee,
thanks for reply. Here we go:

[code]

[code]

[code]

Additional Infos:

[code]

curlftpfs is my  mounted NAS Device (1TB)  without a Quota.  About 90 GB free space currently.

[2016-02-17 21:08] Fourdee commented on #200
@k-plan
Thanks for the info.

The issue is caused by the following:
- `/dev/sdb1` appears to be your root filesystem path.
- DietPi expects the root filesystem path to be the second partition on `/dev/mmcblk0 (/dev/mmcblk0p2)`
- As your root path is different from the expected, its failing to parse `df` correctly as an integer, so it can't work out the current size. The script "breaks" because its

[2016-02-18 17:14] k-plan commented on #200
Hi Fourdee,

This is correct. Device sdb1 is root filesystem path. It's a USB Stick / USB HDD.

oDroide C1+ is booting from a SD-Card ( /boot ).
root path is on USB Stick / USB HDD ( / ) - [http://www.czc.cz/teac-usb-hdd-stick-8gb/50290/produkt](url)

Desired information:

[code]

[code]

[code]

[2016-02-18 21:18] Fourdee opened #201 "OPi-PC | Add GL HW acceleration"

[2016-02-18 21:32] Fourdee commented on #200
@k-plan
Thanks for the info.

It looks like we can use `df  | grep '/$'` to find the root filesystem, regardless of where its located:

[code]

I've updated the `dietpi-cleaner` script in the testing branch. If you would be able to test the updated code, i'd be grateful:

[code]

Then run a cleaner test as per previous and let me know if the error is resolved.

[2016-02-19 16:27] Fourdee opened #202 "RPi | Compile realtime Kernel (Fully preemptible RT) + installation option."
Done. (not for RPI v3)
RT kernel can be installed with:

[code]

[2016-02-19 17:19] k-plan commented on #200
Hi Fourdee,

[code]

Replaced org. dietpi-cleaner script with dietpi-cleaner script in the testing branch.

Start dietpi-cleaner test-run:

Result:
![dietpi-cleaner](https://cloud.githubusercontent.com/assets/17237601/13182810/dde2dbee-d733-11e5-9f1a-7fe961fdde04.jpg)

I dare say succsess. Thanks for your help.

[2016-02-19 17:32] Fourdee commented on #200
@k-plan
Excellent! Thank you for your assistance, reporting the issue and running those tests :+1:

[2016-02-19 17:33] Fourdee commented on #200
Patched for next release (v110).
Please reopen if required.

[2016-02-19 17:33] #200 closed, assigned to nobody

[2016-02-19 17:38] Fourdee commented on #198
Note to self: Add menu option in `dietpi-software` to change this value?

[2016-02-20 16:39] k-plan commented on #202
Hi Dan,
will this option also be available on  Odroid-C1+ ?

As far I can see, it exist also a full preemptive kernel 3.10.75-rtxx on Odroid-C1 :
[https://blog.georgmill.de/2015/09/03/realtime-preemtive-kernel-sources-3-10-80-rt88-for-odroid-c1-on-github/](url)
[https://blog.georgmill.de/2015/05/27/full-preemptive-kernel-3-10-75-rt80-on-odroid-c1/](url)

[2016-02-20 17:19] Fourdee commented on #198
Value can now be changed in dietpi-software.

![untitled](https://cloud.githubusercontent.com/assets/7077026/13198040/042ef9fa-d7f6-11e5-9275-a16b2f013a04.png)

[2016-02-20 17:31] Fourdee commented on #202
@k-plan
I wasn't planning on it as the Odroid kernel we use is built and maintained by Meveric via apt-get upgrade.

I've not compiled any odroid kernels yet, so I will do some research and look through the links you provided :+1: .

[2016-02-20 19:01] k-plan commented on #202
Hi Dan,
I personally see this at an outside estimate option for Kernel "hotswap" to DietPi-Config, not more at the moment.
I don't really need it, but notice in Software selection on DietPi, one main focus is audio/multimedia. So for this guys, it may be useful. Only suggest this option, because I do some research, in which case a full preemptive RT kernel is needed. Didn't know this possibility b

[2016-02-20 19:58] Fourdee commented on #202
@k-plan

If you can link the Git tickets that contain the items you are refering to, I will look into their priority. If the ticket does not exist, please create one.

[2016-02-20 20:01] k-plan opened #203 "dietpi-cloudshell - Scene Selection - Network Usage, CPU, Storage, Network Details (only locales change)"
Hi Fourdee,
tested on Odroid C1+ (Jessie: v.109) (locales: en_GB.UTF-8) (root filesystem is on USB device) :
- Install (`apt-get install iperf`) and start iperf (server) `root@oDroide-C1:~# iperf -s -f m -i 10`
- Start `dietpi-cloudshell` (v4) on Odroid.
- Start iperf (client) on a wired local network connected PC: `admin@PC$ iperf -c 10.10.10.10 -f m -i 2 -d -t 360`
- Do same more iperf speed tes

[2016-02-21 14:56] Fourdee commented on #203
## Network Usage Scene

The values are pulled in directly from the network adapters stats:

[code]

Yep, values are being reset by system. Some sort of cap?:

[code]

Pull data from ifconfig instead?

[code]

`Ifconfig`is being reset aswell. It must also be pulling the same values from `/sys/class/net/eth0/statistics/tx_bytes`

[2016-02-21 15:09] Fourdee commented on #203
## CPU Scene

Looks like we are missing a few processes in the total calculations.

[code]

![untitled](https://cloud.githubusercontent.com/assets/7077026/13203827/e1069a9c-d8b7-11e5-8392-c85cf39abaf8.png)

Seems to be correct. 26~% of 8 cores = 2 cores at 100%. Will need to verify updated script on your C1.

Also, worth noting DietPi-Cloudshell is launched with nice +10. So there may be a delay b

[2016-02-21 15:11] Fourdee commented on #203
## Storage Scene

Due to alternative rootFS mount.

The recent DietPi-Cleaner RootFS fix (https://github.com/Fourdee/DietPi/issues/200#issuecomment-185931543) has been rolled out to the `dietpi-obtain_hw_model` script https://github.com/Fourdee/DietPi/commit/a1b3d59a61eaf072aab7bafa090b3031e19e0358?diff=split. DietPi-Cloudshell + other DietPi scripts that use it, will now pull the correct RootFS (

[2016-02-21 15:13] Fourdee commented on #203
## Network Details Scene

Most likely due to `NETWORK_DETAILS_IP_INT=$(cat "$FP_TEMP" | grep -m1 'inet addr:'| cut -d: -f2 | awk '{ print $1}')` expected value `inet addr` changes when in de locale.

We can grab MAC with the following:
`cat /sys/class/net/eth0/address`

We can find ip address using following ("inet " is same regardless of locale):
`ifconfig eth0 | grep -m1 'inet '| cut -d: -f2 | a

[2016-02-21 15:17] Fourdee commented on #203
@k-plan
Thanks for the reports. I've separated them into sections. I will update each section whilst working on them.

[2016-02-21 16:00] k-plan commented on #203
**@ Storage Scene**

Use DietPi default  swapfile:

[code]

[2016-02-21 16:03] Fourdee commented on #203
@k-plan

[code]

0 = disabled. Works regardless of swapfile or swap partition.

[2016-02-21 16:24] k-plan commented on #203
@Fourdee

[code]

Hmm, generating a new swapfile via dietpi-config:

[code]

Hmm, let's do a reboot ...

[code]

![160221-0001](https://cloud.githubusercontent.com/assets/17237601/13203851/32a9c460-d8c1-11e5-824f-234f3835a1fe.gif)

:0)  :+1:
- Now change setting locales: en_GB.UTF-8 =>> locales: de_DE.UTF-8 and reboot

![160221-0002](https://cloud.githubusercontent.com/assets/17237601/13203868/746

[2016-02-21 16:32] CedArctic opened #204 "Raspberry Pi 2 | Pydio | Impossible write into the AJXP_DATA_PATH folder"
Same issue that was reported here: http://fuzon.co.uk/phpbb/viewtopic.php?f=11&t=303#p1304
https://github.com/Fourdee/DietPi/issues/186

Still exists on the Raspberry Pi 2 image v109.
Note: I tried the proposed solution in the forums to no avail.

[2016-02-21 16:55] Fourdee commented on #204
@CedArctic
Thanks for the report. I'll run a fresh RPIv2 install and test.

[2016-02-21 17:00] Fourdee commented on #203
@k-plan

Can you please run this command whilst in de_DE:

[code]

Should return `11.0759`

[2016-02-21 17:06] k-plan commented on #203
@Fourdee

[code]

[2016-02-21 18:00] k-plan commented on #203
@Fourdee

Done.

![160221-0004](https://cloud.githubusercontent.com/assets/17237601/13204318/4e5e39aa-d8cd-11e5-9cd4-56d84433d8bf.gif)

[2016-02-21 18:46] CedArctic commented on #204
Wow that was fast, thanks Fourdee!

[2016-02-21 19:02] Fourdee commented on #203
## Memory Usage Scene

#### Nan! swapfile:

DietPi-Cloudshell will now check for a active swap, before running calculations: https://github.com/Fourdee/DietPi/commit/2e8799066f8aaa0ef955cdbbea18ecb533853ed7

@k-plan

#### 0% Ram graph is due to de_DE.UTF-8 breaking printf when using a float input:

[code]

Not sure how to resolve the above. Are printf command line options different in other locale

[2016-02-21 19:15] Fourdee commented on #204
@CedArctic

A fresh installation with dedicated USB drive worked fine.

Are you by any chance using a SD only installation (eg: you said "no" to the dedicated USB drive question during 1st run setup)?

[2016-02-21 19:35] k-plan commented on #203
@Fourdee

No, not printf command line options cause the problem, it's the decimal delimiter symbol for numbers.

locales: en_GB.UTF-8  =>>  " . "

locales: de_DE.UTF-8 =>>  " , "

[code]

[code]

[2016-02-21 20:09] k-plan commented on #203
### Network Details Scene

![160214-0002](https://cloud.githubusercontent.com/assets/17237601/13204988/345c89c0-d8dd-11e5-843b-16f251018447.gif)

@Fourdee

Odroid C1+ use eth1 instead of eth0:

[code]

[code]

If I can help you with another testing, let me know.

[2016-02-21 20:11] Fourdee commented on #203
@k-plan

Interesting, but also really bizarre. I've never seen `,` being used as a decimal delimiter in any coding language. I suppose thats a bash and printf "thing".

Ok, so this will also affect all the `Percent_To_Graph $(printf %.0f $MEMORY_SWAPERCENT)` functions we use for the graphs. That is, if the input is a float.

I suppose we could try echoing the float and using cut to remove any valu

[2016-02-21 20:33] k-plan commented on #203
@Fourdee

Correct, nothing to do with coding language, its a problem of numeral system (Decimal mark).

[https://en.wikipedia.org/wiki/Decimal_mark#Influence_of_calculators_and_computers](url)

Didn't help, but it's not your fault. Sorry, because you now have a lot of work.

[2016-02-21 22:35] Fourdee commented on #204
I found an issue in the code for the SD installation of Pydio. So i'd imagine you are running SD card only. If you can confirm your running SD only installation, or not, i would be greatful.

[2016-02-21 22:38] Fourdee commented on #203
@k-plan

Ah, thanks for the info. :+1:

Changing the function is a 5 minute job at most. Its just getting those 5 minutes to be available thats the issue lol.

I'll update you when the changes are completed.
I will then provide you with the details to upgrade dietpi-cloudshell on your system. I would appreciate if you test and verify all the issues are fixed. I'll let you know when its ready.

[2016-02-22 12:26] CedArctic commented on #204
I am running dietpi off an SD but I answered yes to the prompt about using a HDD in the initial start up.  My HDD is formated as NTFS if it makes a difference.

[2016-02-22 12:59] Fourdee commented on #204
@CedArctic

NTFS should be fine. We will check the permissions, just to be sure.

I'll need some extra information on your system, could you please run the following commands and paste the results for each:

[code]

[2016-02-22 16:28] CedArctic commented on #204
ls -lha /mnt/usb_1

root@DietPi:~# ls -lha /mnt/usb_1
total 528M
d--------- 1 root     root     8.0K Feb 21 15:38 .
drwxr-xr-x 5 root     root     4.0K May 12  2015 ..
drwxrwxrwx 1 root     root        0 Sep 29  2013 Acer Backup
drwxrwxrwx 1 root     root        0 Jul 16  2015 Alienware Backup
drwxrwxrwx 1 root     root        0 Jul 30  2015 Alienware Trainwreck Backup
drwxrwxrwx 1 root     root

[2016-02-22 16:28] CedArctic commented on #204
ls -lha /mnt/usb_1/pydio_data

root@DietPi:~# ls -lha /mnt/usb_1/pydio_data
total 12K
drwxrwxrwx 1 www-data www-data 4.0K Feb 21 15:38 .
d--------- 1 root     root     8.0K Feb 21 15:38 ..
drwxrwxrwx 1 www-data www-data    0 Jan 19 11:52 cache
drwxrwxrwx 1 www-data www-data    0 Jan 19 11:52 files
drwxrwxrwx 1 www-data www-data    0 Jan 19 11:52 logs
drwxrwxrwx 1 www-data www-data    0 Jan 19 11:5

[2016-02-22 16:29] CedArctic commented on #204
ls -lha /var/www/pydio

root@DietPi:~# ls -lha /var/www/pydio
total 88K
drwxr-xr-x   6 www-data www-data 4.0K Feb 21 15:56 .
drwxr-xr-x   4 www-data www-data 4.0K Feb 21 15:54 ..
-rw-r--r--   1 www-data www-data 1.2K Jan 19 11:48 base.conf.php
-rw-r--r--   1 www-data www-data 9.8K Jan 19 11:48 cmd.php
drwxr-xr-x   3 www-data www-data 4.0K Jan 19 11:52 conf
-rw-r--r--   1 www-data www-data  964 Jan

[2016-02-22 16:39] Fourdee commented on #203
@k-plan
I just need to resolve the network usage scene. `Ifconfig` RX/TX stats are also being reset, so that must pull data from `/sys/class/net/$NETWORK_DETAILS_ADAPTER/statistics/tx_bytes`also.

I may need to use a 3rd party program that allows us to monitor network usage, without being reset.

[2016-02-22 16:57] Fourdee commented on #204
@CedArctic
Thanks.

The permissions look fine, but just to be sure, lets check the /var/www folder aswell:

[code]

Does this occur straight away when you access http://ip/pydio? Or were you able to access the configuration page before hand?

[2016-02-22 18:06] k-plan commented on #203
@Fourdee
Hmm, is [slurm](https://packages.debian.org/jessie/slurm) something you are looking for?
And yes, Decimal mark is  a `.`(dot) in slurm. ;)

![slurm_0 4 2](https://cloud.githubusercontent.com/assets/17237601/13227210/d232c0ca-d995-11e5-9d7a-a223cb1d01e2.gif)

`root@oDroid-C1:~# apt-get install slurm`

Speed is measured in `KB/s` not in `MBit/s`, a thing that bother me in slurm.
You also ha

[2016-02-22 19:11] Fourdee commented on #203
@k-plan
Tried slurm, nload and iftop.

None of these allow for single run, then exit. They must be run in the background, writing to a file that we would need to parse (not ideal).

netstat seems to be the best option, but we need to calculate MTU size (bytes) against total packets.

[code]

I've received over 20GB and the values have not reset :)

Note to self:
apt-get install net-tools, check al

[2016-02-23 15:06] Fourdee commented on #201
Unable to test GL as my OPi-PC HDMI output has died. No signal from device.

[2016-02-23 15:07] Fourdee commented on #202
Pushed back menu integration to focus on bug fixes for v110.

[2016-02-23 16:25] Fourdee commented on #203
@k-plan
Ok, I think everything has now been fixed, but I would like you to test on your system to confirm.

Simply run the following code to update the scripts:

[code]

Now you can run `dietpi-cloudshell` and "Start/Restart" to test the recent changes. Please let me know if all previous issues are now resolved.

[2016-02-23 16:40] CedArctic commented on #204
It appears straight away.

[2016-02-23 16:40] CedArctic commented on #204
ls -lha /var/www

root@DietPi:~# ls -lha /var/www
total 88K
drwxr-xr-x  4 www-data www-data 4.0K Feb 21 15:54 .
drwxr-xr-x 15 root     root     4.0K Feb 21 18:11 ..
-rw-r--r--  1 www-data www-data  38K Feb 21 15:56 apc.php
-rw-r--r--  1 www-data www-data   35 Feb 21 14:40 index.html
-rw-r--r--  1 www-data www-data  23K Feb 21 15:56 opcache.php
-rw-r--r--  1 www-data www-data   20 Feb 21 15:56 phpi

[2016-02-23 16:46] Fourdee commented on #204
@CedArctic
Thanks. They look fine aswell.

I'am just setting up a RPiv2 with NTFS usb drive testbed now to match your installation. Lets see what happens :)

[2016-02-23 18:05] Fourdee commented on #204
@CedArctic
I did a fresh v109 image write and install of Pydio on a NTFS formatted drive, using a RPiv2. Pydio is working fine.

I'll need to see your system settings. Please can you send a bug report: `dietpi-bugreport`. No need to fill out the information. I only need the reference code that's generated.

[2016-02-23 20:53] Fourdee opened #205 "DietPi-Software | Allow for webserver stack choices when installing software that requires a webserver."
Status: https://github.com/Fourdee/DietPi/issues/205#issuecomment-198367760

[2016-02-23 21:55] rhkean commented on #205
I'll be home in 1/2 hour.  I'll test the patch on my RPi2 as soon as I get home.

I'm not sure about the debconf-set-selections issue that I mentioned is actual or outdated... I got an error when I added the lighttpd patch.  It prompted for one of the options last night while I was testing and then hung on that screen.  while researching it today, I ran across that write-up and I thought I should

[2016-02-24 12:40] CedArctic commented on #204
Hmm that sounds weird, since I installed pydio on the first start up and hadn't modified DietPi in any way.
Here's the code: b827eb3edd21-0

[2016-02-24 14:47] Fourdee commented on #204
@CedArctic

Thanks. I've checked all your settings, and you are right, no modifications have been made. Everything seems to be in order.

I'am leaning towards the NTFS drive/permissions as the possible cause of the issue. Whilst checking my installation, i noticed that my NTFS drive has `root:root` permissions all the way through.

I know from past experience that you need to take ownership of NTF

[2016-02-24 19:24] CedArctic commented on #204
Still the same issue strangely :/

[2016-02-24 19:57] Fourdee commented on #204
@CedArctic
Hummm, this ones proving to be persistent lol.

As I have been unable to replicate the issue with a NTFS USB drive installation myself, i'am not sure what else we can do.

The only thing I can suggest is rewriting the DietPi image and choosing to format your USB drive to EXT4. I know its not ideal, but if you are looking for a quick solution, I believe this is the only choice at the mom

[2016-02-24 20:00] k-plan commented on #203
@Fourdee

sorry for the delay, had to test v.5 a little bit.

Hmm,  `(TOTAL)` works for me (without reboot), but  `(TODAY)` is reset on every launch of DietPi-Cloudshell . (_see screenshot below_). For me, it will be okay.
- If we choose in `Scenes` `Network Usage` without choosing `Network Details` at the same time,  starting DietPi-Cloudshell v.5, the launch on terminal breaks and we are back in

[2016-02-24 20:09] CedArctic commented on #204
Hmm that's 1TB of storage though :/ . Any way I can switch pydio to run off the SD?

[2016-02-25 13:55] Fourdee commented on #204
@CedArctic

Yes, but bear in mind any data uploaded/stored on Pydio will be located on your SD card:
- `dietpi-uninstall` and remove PYDIO
- `nano /DietPi/dietpi/.installed` and change `USBDRIVE 2` to `USBDRIVE 0`
- Reinstall Pydio in `dietpi-software`

You also need to do the following (this is patched in v110):

[code]

[2016-02-25 16:14] Fourdee commented on #203
@k-plan
Excellent work on spotting those :+1:

#### Network usage is now converted into human readable format.

Also uses BC for float calculations.
![dpcs-humanformat](https://cloud.githubusercontent.com/assets/7077026/13325263/fa91cb34-dbd8-11e5-99b5-7c5b87378125.png)

#### > unesthetic: on first show ofNetwork Usage Scene, there is a unplausible value in (CURRENT).

Resolved by creating a init

[2016-02-25 16:24] CedArctic commented on #204
Hmm but wouldn't that change the default disk for all applications?

[2016-02-25 16:58] k-plan commented on #203
@Fourdee

- `root@oDroid-C1:~# dietpi-cloudshell`
-  choose wanted Scenes: for example `Network Usage:` and  `CPU:` and then hit `<OK>`
  ![dietpi-cloudshell-1 auswahl](https://cloud.githubusercontent.com/assets/17237601/13326518/8845f8da-dbe6-11e5-9550-0e45b94e6a61.gif)
-  choose `Start / Restart` and hit `<OK>`

  ![dietpi-cloudshell-2 okay](https://cloud.githubusercontent.com/assets/17237601/13

[2016-02-25 17:06] Fourdee commented on #203
@k-plan
Thanks for the info, however, i'am still unable to replicate :(
I've uploaded the new dietpi-cloudshell script. Could you please try with that:

[code]

[2016-02-25 17:17] CedArctic commented on #204
An additional question: Using the ext4 format won't cause issues with reading and writing through the samba server on a windows host?

[2016-02-25 18:05] k-plan commented on #203
@Fourdee
Done!

adjustments:
![scenes](https://cloud.githubusercontent.com/assets/17237601/13328443/f1247b6c-dbee-11e5-9ea1-ac04ee8f45ed.gif)

problem in menu display, but 1 sec intervall is cool ( :+1: )
![update-rate](https://cloud.githubusercontent.com/assets/17237601/13328448/ff76f97e-dbee-11e5-82ec-190e677f0d4c.gif)

Start - `Storage:` and `Memory:` Scene works fine, but:
![1](https://cloud.g

[2016-02-25 19:04] Fourdee commented on #204
No issue. Samba server is compatible with EXT4.

Only for new applications that you install with `dietpi-software`. You can set `USB_DRIVE 2` once pydio is installed to switch back to USB install.

[2016-02-25 19:46] Fourdee commented on #203
@k-plan
Thanks for reply.

#### > dietpi-cloudshell >> Options : Update Rate : same display problem as before

I assume you mean the formatting issue with characters for the scrolldown?
Do you get this in other menus? Try `dietpi-software` , then select optimized or linux software.

#### > root@oDroid-C1:~# apt-get install bc

Yep my bad, I forgot to mention. This will be installed during the v110

[2016-02-25 20:12] k-plan commented on #203
@Fourdee

yes.

![menu](https://cloud.githubusercontent.com/assets/17237601/13332513/9c2026ac-dc02-11e5-8a84-9efb15888bc1.gif)

Double-Check this at home, with a different ssh client.

Yes. We have on Odroide C1+ four CPU. So which one? Yes, thats the problem. Use a RPi makes things easy. :)
Will have at home a look at :100: % CPU load.

Will have a look on iperf. Will do some research,  if this s

[2016-02-26 04:36] rhkean opened #206 "Single File PHP Image Gallery download link broken"
Single File PHP Image Gallery has been rev'd from version 4.5.7 to 4.6.1 and the old version is no longer available for download at the coded link in dietpi-software (line 1487 of v109).

The new link is:  http://sye.dk/sfpg/Single_File_PHP_Gallery_4.6.1.zip

I've tested the script with the updated link and all works the same.

[2016-02-26 04:39] rhkean commented on #205
I've tested WEBSERVER_PHPIMAGEGALLERY with this logic also.  It works with lighttpd also.
I did find a bug with it, though... the version rev'd and the link changed.  I created [Issue 206](https://github.com/Fourdee/DietPi/issues/206) for this.

[2016-02-26 06:25] starstuff opened #207 "DietPi-Software | Add Java installation option"
Please add Java in Dietpi software because some application require java to run.

https://wiki.debian.org/Java/

[2016-02-26 06:33] starstuff opened #208 "DietPi-Software | JDownloader"
Please add JDownloader in DietPi, Its an open-source download manager application that is easy to use and can even download youtube links. I use it to download videos i like on youtube.

http://beta.jdownloader.org/

also, you can control JDownloader remotely using myjdownloader

http://my.jdownloader.org/

[2016-02-26 14:15] Fourdee commented on #206
@rhkean
Great spot :+1:
I'll mirror the 4.6.1 download on dietpi.com and update `dietpi-software` to link to it. This will prevent this occurring in the future.

[2016-02-26 14:19] Fourdee commented on #201
On hold to focus on v110 completion and release.

[2016-02-26 14:56] Fourdee commented on #206
Now hosted on dietpi.com:
https://github.com/Fourdee/DietPi/commit/c58301736c31b1ab937a2a7f92ecd793587e1a57#diff-a0493e27f48b50e18312b9f4508fc29dR17

@rhkean
https://github.com/Fourdee/DietPi/commit/c58301736c31b1ab937a2a7f92ecd793587e1a57#diff-d92a6ee04e02fd2a2dc23d5bec3e6a98R1487
:+1:

[2016-02-26 17:13] Fourdee commented on #203
@k-plan

Many thanks to you for reporting the issues, testing, and providing feedback to help make dietpi-cloudshell better :) . :+1:

I also fixed the missing leading zero's from `bc` in network usage scene:
![img_20160226_170906](https://cloud.githubusercontent.com/assets/7077026/13359438/2a2a365a-dcac-11e5-967e-373f67b2e2c8.jpg)

[2016-02-26 17:20] Fourdee commented on #207
@starstuff

Thanks for the suggestion. In the mean time, instructions to install Oracle Java 8 is listed below.

On the Raspberry Pi (Jessie), you can install Java with this command:

[code]

For other systems on Jessie (Odroids/VM/OrangePi):

[code]

[2016-02-26 17:32] Fourdee commented on #198
Completed. Available in next release (v110)

[2016-02-26 17:32] #198 closed, assigned to nobody

[2016-02-26 17:32] Fourdee commented on #206
Completed. Available in next release (v110)

[2016-02-26 17:32] #206 closed, assigned to nobody

[2016-02-26 17:33] Fourdee commented on #203
Will mark this as completed. Available in next release (v110).

Please reopen if required.

[2016-02-26 18:09] Fourdee commented on #205
@rhkean
Great stuff. :+1:

I've created a list at the top of this ticket, so we can track which webserver stacks and software combos have been tested: https://github.com/Fourdee/DietPi/issues/205#issue-135861139. Let me know if i've missed any.

This should speed things up when it comes to modifying the sourcecode to implement a choice system, for software that requires a webserver stack.

[2016-02-26 20:12] rhkean opened #209 "Testing : lighttpd (LLAP) + phpMyAdmin prompts for user input"
While working on #205 , phpMyAdmin began prompting for database passwords.  This should not happen, given the debconf-set-selections code in dietpi-software.  Some research indicated that the automated apt-get install should include:  DEBIAN_FRONTEND=noninteractive

this change to dietpi-software appears to fix the problem... it also seems to speed up the install... (although I haven't timed it)

[2016-02-26 21:54] k-plan commented on #203
@Fourdee

`packet count * MTU byte size = byte` that's correct.
BI values are calculated using Binary Units. (8 bit = 1 byte / 1024 byte = 1 kbyte)
Binary units  (binary prefixes) are prefered by operating systems.

Network throughput speed / Bandwidth are calculated using the Internation System of Units (SI values )
Network throughput speed / Bandwidth calculated using SI Units in decimal prefixe

[2016-02-27 14:42] Fourdee opened #210 "DietPi-Software | Add emonCMS/emonPi installation option."
EmonCMS: https://github.com/emoncms/emoncms/blob/master/docs/RaspberryPi/readme.md

[2016-02-27 15:30] Fourdee commented on #209
@rhkean
It sounds like the debconf settings are not being applied. I just tried phpmyadmin install on Jessie, did not prompt for any debconf set details and seems to be working fine.

Are you running Wheezy?

[2016-02-27 15:37] rhkean commented on #209
no.  Jessie... RPi2 v109 image
written with the dietpi-writeimage script
only 2 mods.... #205 patch to dietpi-software and automated dietpi.txt

[2016-02-27 16:27] k-plan opened #211 "DietPi-Software | Add ability to test Filesystem benchmarks on non-standard rootFS location."
@Fourdee

have notice, in [v110](https://github.com/Fourdee/DietPi/issues/200#issuecomment-185931543) it will be assisted to run DietPi on non-standard rootFS location.
Will/would be nice, if `dietpi-config` -> `9 Tools` -  `Filesystem benchmarks` not only can/will test SD-Cards (/dev/mmcblk0)

![160227-0001](https://cloud.githubusercontent.com/assets/17237601/13373978/49006222-dd77-11e5-8d65-cf3d

[2016-02-27 16:59] Fourdee commented on #209
Bizzare :)

Can you remember your software selections in dietpi-software before the installation started? May be something else causing the issue.

[2016-02-27 17:06] Fourdee commented on #211
@k-plan
Good spot :+1:

Resolved by using the following code in dietpi-config:

[code]

The 4th line of `/DietPi/dietpi/.hw_model`, which runs during boot, contains the rootFS device name. So we parse `df` and match with that value.
`/DietPi/dietpi/.hw_model` is my way of having a "c++ class style system" for sharing commonly used values across bash scripts, using files :)

#### Would appreciate i

[2016-02-27 17:26] Fourdee commented on #203
@k-plan

#### > To get correct unit (Mbit/s) we needed additional:

I've updated DietPi-Cloudshell to print current usage in bits, as per your recommendation and code (nice one!) :+1:

#### > But Outgoing/Sent doesn't. Yes, this will be, because we calculated using fix MTU of 1500 bytes. TCP Acknowledgment packets are containing clearly less bits. I have no solution for this at the moment.

Yep, y

[2016-02-27 17:27] k-plan commented on #211
@Fourdee

Done.

![160227-0003](https://cloud.githubusercontent.com/assets/17237601/13374256/3318f61a-dd7f-11e5-855d-42a443b07c20.gif)

All 3 benchmarks run without a error message, but no result will print out in menu.

[code]

[code]

[code]

[code]

[2016-02-27 17:45] Fourdee commented on #211
@k-plan

Interesting, that line is a comment `#Wifi Extras`. Looks like something managed to escape quotes and cause havoc on the scripts code.

Can you run these for me please, and let me know results (creates a 10mb file in /root/10mb_test):

[code]

[code]

[2016-02-27 18:05] k-plan commented on #203
@Fourdee

Tested, done. :+1:

Yes, accuracy from `Network Usage` and `CPU`  leaves a lot to be desired.
It is no measuring, it is parsing and calculation (by design). Sometimes, at high load, also a problem with timing and process parallelism.
More a guesstimate, but it's okay for now.
It's work definitely better than before.

In german: " Hauptsache, die Richtung stimmt! " _[main point, to be on

[2016-02-27 18:08] k-plan commented on #211
@Fourdee

[code]

[code]

Hmm ...  [203#](https://github.com/Fourdee/DietPi/issues/203#issuecomment-186936122) ?

[2016-02-27 18:23] Fourdee commented on #203
@k-plan

In reference to `ps -axo %cpu`
http://www.sbras.ru/cgi-bin/www/unix_help/unix-man?ps+1

[code]

So if I read that right, its an average upto a minute of previous, not current usage.

Yep, completely agree. I will continue working on improving the script. Will let you know if I come up with any good results.

[2016-02-27 18:39] rhkean commented on #209
I just reran the test.
I can send you the exact files.  email or post on Fuzon?

here are the dietpi.txt changes from default:  ( diff -u orig new | egrep "^\+" )

[code]

and the dietpi-software diff....

[code]

[2016-02-27 18:43] Fourdee commented on #211
@k-plan
Thanks,

As i suspected, `awk` and de_DE.UTF-8 issue :)

Can't use `grep 'bytes'` as en_GB is `Bytes`. So left with:

[code]

[2016-02-27 18:57] k-plan commented on #211
@Fourdee

[code]

[2016-02-27 19:13] rhkean commented on #209
reran tests:
image:  DietPi_v109_RPi-(Jessie).img (md5:  862b9c4c2fa1dd3edcdfbcd2e5d6ac09 )
dietpi.txt (with diff above)
dietpi-software (with diff above)
RESULT:  prompts for admin password

image:  DietPi_v109_RPi-(Jessie).img (md5:  862b9c4c2fa1dd3edcdfbcd2e5d6ac09 )
dietpi.txt (with diff above)
dietpi-software (with diff above + patch to AGI function)
RESULT:  all software installed + reboot a

[2016-02-27 19:43] Fourdee commented on #203
Now i remember why I didnt use `top` for cpu usage. It fails to print values in low screen resolutions (including cloudshell 320x240 with current font):
![untitled](https://cloud.githubusercontent.com/assets/7077026/13374933/4896575c-dd8a-11e5-82ce-f6221ef42aa1.png)
Same issue when redirecting output to file.

Current usage:

[code]

[2016-02-27 19:50] Fourdee commented on #211
@k-plan
Thanks. Should now resolve the issue:

[code]

[2016-02-27 20:07] k-plan commented on #211
@Fourdee

Nice! :)

![160227-0004](https://cloud.githubusercontent.com/assets/17237601/13374993/b2534d12-dd94-11e5-834e-8e7641000917.gif)

:+1:
- Cosmetic: - may be a suitable term for `SDcard` and `USBHDD`  now?
  _(eg. root File System , USB Device ?)_
  _(idea: - or you can do 4 options? rootFS, SD-Card/emmc, USB Device, RAM?)_

But for me, you can leave well enough alone.

[2016-02-28 08:40] R1CH-T commented on #210
As I mentioned in my forum post; a week ago (21/02/2016), [Open Energy Monitor (OEM)](http://openenergymonitor.org/) published the first release candidate for [a major operating system update and software upgrade](http://openenergymonitor.org/emon/node/12212). They have shifted to using Raspbian Light as their base OS and have added much new functionality.

The major new features they have added a

[2016-02-28 10:36] CedArctic commented on #204
I recently had to switch my SD cards and when I started my dietpi installation, the issue was gone oddly. Thanks for your support :) . I just have one last question, how do I go port forwarding with this so I can use it outside my LAN? Does it run on port 80? Do I have to change the Apache port?

UPDATE: Never mind sorted it out :P. Thanks once again for all this :)

[2016-02-28 12:21] k-plan opened #212 "DietPi-System | Add Privacy Extensions (RFC 4941) in Stateless Address Autoconfiguration (SLAAC) for IPv6"
@Fourdee

I have notice MuJJus request in [#72](https://github.com/Fourdee/DietPi/issues/72#issuecomment-172444787) to have [IPv6 privacy extensions](https://debian-handbook.info/browse/stable/sect.ipv6.html)  additional to EUI-64 based IPv6 address generated by SLAAC.

To get this, we had to added some lines in `/etc/network/interfaces` (e.g. oDroid C1) if we use IPv6 in DietPi:

[code]

IPv6 is

[2016-02-28 14:03] Fourdee commented on #204
@CedArctic

Very strange, but good to hear its working. Could possibly be a corrupt SD card? Also, did you format USB drive to ext4 on the new install?

Good stuff :)

I'll mark this as resolved and close the ticket. If the issue reoccurs, please reopen.

[2016-02-28 14:03] #204 closed, assigned to nobody

[2016-02-28 14:07] Fourdee commented on #210
@R1CH-T

Many thanks for the detailed information, i appreciate it.

I'll update this ticket when work begins (hopefully after v110 is released).