[2018-04-12 22:56] Fourdee commented on #1621
@k-plan

True, but you have/still provide valuable input and insight over the years, without which, DietPi would not be as good as it is today. So your name is staying in the credits 😃

@k-plan @MichaIng

Yep, good clean idea 👍 , i'll make the change and send commit.

Yep, i'd love to give credit to everyone who has contributed in some form over the years, however, think of the additional credits

[2018-04-12 23:21] AlexLamprianidis commented on #767
I got the this exact problem, download the waveshare32 drivers from dietpi-config is giving me Xorg errors on startup. How did you fix it?

[2018-04-13 00:48] Fourdee commented on #1696
This prevents lighttpd install (DietPi pre-installs webservers anyway): https://github.com/Fourdee/DietPi/commit/3e4ba42d3f832cfde5ed83439795ae6b65912e47

🈯️ Tested working with Nginx.

[2018-04-13 01:03] Fourdee commented on #1698
@dnalor

Thanks for the report, we'll try to replicate.

[2018-04-13 01:23] Fourdee commented on #1698
Unable to replicate on fresh install. Runs fine in local testing.

Is fine, reverts to ALSA which is preferred in terms of audio quality and lightweight install.

Did you install Kodi from ```dietpi-software```? Please confirm ```kodi-odroid``` installed:
```dpkg -l | grep kodi```

DietPi uses 720p by default, try changing to 1080p in ```dietpi-config```, then retest.

[2018-04-13 01:26] Fourdee commented on #1697
I'll mark this as closed, please reopen if required.

[2018-04-13 01:26] #1697 closed, assigned to nobody

[2018-04-13 01:27] Fourdee commented on #1648
Marking as closed, please reopen if required.

[2018-04-13 01:27] #1648 closed, assigned to nobody

[2018-04-13 01:27] #1569 closed, assigned to nobody

[2018-04-13 01:27] #1598 closed, assigned to nobody

[2018-04-13 01:56] Fourdee commented on #1664
DietPi-Sync freespace check completed:
https://github.com/Fourdee/DietPi/commit/01136a836de20cc56eadf6feabf4eb56f4086b3a

Tested locally, should be good to go.

[2018-04-13 02:08] Fourdee commented on #1664
Completed.

[2018-04-13 02:11] clarky0000 commented on #865
Thats fixed it - thanks!

root@DietPi:~# python -c "import sabyenc ; print sabyenc.__version__ "
3.3.1

I was just seeing it in the UI.  Thanks for your help - much appreciated.

Final question - I promise - I can see there is a newer version of Sabnzbd available. Can you tell me the best command to perform the upgrade?

Cheers,
Clarky

[2018-04-13 04:29] Fourdee commented on #865
@clarky0000

We only provide installs for stable releases. RC is release candidate (potentially unstable). Once 2.3.3 becomes stable release, we'll update and patch via ```dietpi-update```.

[2018-04-13 05:06] bhaveshgohel commented on #889
:negative_squared_cross_mark: [ Update 1 - 5th July 2018 : Dietpi Debian Stretch]: The Binaries for [Debian Stretch](https://andyfelong.com/2017/08/mongodb-3-0-14-for-raspbian-stretch/) dosn't work with [DietPi_OdroidXU4-ARMv7-Stretch](https://dietpi.com/downloads/images/DietPi_OdroidXU4-ARMv7-Stretch.7z) .. :disappointed:

:heavy_check_mark: [ Update 2 - 5th July 2018 : Dietpi Debian Jessie ]: Bu

[2018-04-13 11:30] MichaIng commented on #1696
@Fourdee
Jep, fixes the most urgent issue for now. Still update of Pi-hole will break it again.

Should I create PR for my solution so you can do some testing about it? I am still more satisfied it, as it allows using of pihole commands and for my impression directly edit the pihole install script is a bid dangerous as well, and might need more attention/regular adjustments as the service hooks. B

[2018-04-13 13:54] dnalor commented on #1698
@Fourdee

[code]

Tried both, no difference (C2 is connected to a computer monitor)
Here's the relevant xorg.log excerpt:
[code]

[2018-04-13 14:06] mariusrugan commented on #1696
@MichaIng,
did you experience the following issue: https://github.com/pi-hole/pi-hole/issues/2109
trying to investigate what could lead to this, zig-zagging in the DietPI+pihole issues, the only thing that is prone to generating such behaviour is the update system via cron. (pihole cron)

[2018-04-13 15:06] ghost commented on #1698
@dnalor Tried to open an issue at the Kodi-Devs? It seems like it is either a problem of KODI itself or your kernel which are you using isn't supported.

See lines where it tries to load modules... and fails somehow.... that's what i see so far.

On several pages, they suggest to use LibreELEC for KODI on C2 (e.g. https://kodi.wiki/view/ODROID)

@Fourdee Nothing against DietPi, as it fits almost e

[2018-04-13 15:45] MichaIng commented on #1696
@mariusrugan
Check my answer: https://github.com/pi-hole/pi-hole/issues/2109#issuecomment-381176999

I will check out pihole cron as well, so see if there are potential issues.

[2018-04-13 16:24] LexiconCode opened #1701 "DietPi-Software | Mycroft AI"
MycroftAI

Mycroft is a open source voice assistant. It can run anywhere – on a desktop computer, single board computers like the Raspberry Pi. It is open so it can be remixed, extended, improved. It can be used in anything from a science project to an enterprise software application.
[Overview](https://mycroft.ai/)
[Documentation](https://github.com/MycroftAI/mycroft-core/blob/dev/README.md)

ADM

[2018-04-13 16:49] ghost commented on #1701
@LexiconCode This sound really nice, but as i rode about it, i'm not really aware, that it will run on every SBC as of now. They mention it only as a "ready to install" for RPi 3 and upper.

If you want it to run on other devices you've get to go the other way.... -> https://github.com/MycroftAI/mycroft-core/blob/dev/README.md

If it is supposed to run on every ever released device, the question s

[2018-04-13 18:20] LexiconCode commented on #1701
@SuBLiNeR  looks like you may be new to Github. Welcome! I appreciate your feedback but there is no need to take that kind of tone with people in the community. I'm sure everyone would be impressed to recognize that no one has said 'DietPi' has to solve the problems and implement everything.

Opening a ticket can be used to gauge interest and therefore the amount of effort that the community not j

[2018-04-13 18:55] MichaIng commented on #1696
@Fourdee @k-plan
What do you think, shall we already exclude pihole-FTL service from DietPi control, as there are already users that help testing FTLDNS branch? I think there is no big risk that something essential breaks/get corrupted during updates/backups/software installations, as it is for databases/file servers etc.?

Maybe we can do some attempt to work together with Pi-hole devs about our

[2018-04-13 19:03] k-plan commented on #1696
@MichaIng

Let's check `pihole-FTL` :

[code]

Why is `port 53: Address already in use` ??

Let's check  `dnsmasq` :

[code]

![2018-04-13 20-51-41](https://user-images.githubusercontent.com/17237601/38752739-9919dc5e-3f5c-11e8-908f-07abaf7f7dde.png)

If the new `pihole-FTL` with `FTL DNS` doesn't need  `dnsmasq` any more, why does switching git branch and  updater  not uninstall   `dnsmasq` :ques

[2018-04-13 19:11] MichaIng commented on #1696
@k-plan
Jep, nice one, I wanted to do the same, but can't let my VM run through the night. But will also install it and let it run until I go sleep.
**€: Pi-hole on FTLDNS branch works fine for me until now, including `/etc/cron.d/pihole` flush and updatechecker: https://github.com/pi-hole/pi-hole/blob/FTLDNS/advanced/pihole.cron#L25-L30
Will test manual execution of the other jobs tomorrow....nee

[2018-04-13 20:15] bokiroki opened #1702 "HDD Spindown"
Hi, i read that dietpi put external hdd to sleep after 10 minutes.. but my hdd spindown after 30 minutes, i checked several times..
This is my hdd
https://www.wdc.com/products/portable-storage/wd-elements-portable.html#WDBUZG0010BBK-NESN
also i entered this command to see spindown status
hdparm -C /dev/sda1
and output is strange.. what this mean?
/dev/sda1:
SG_IO: bad/missing sense data, sb[]:  f0

[2018-04-13 22:23] Fourdee commented on #1702
@bokiroki

```hdparm``` and USB drives/docks is hit and miss, it relies on the USB converter providing compatible low level data.

The USB converter may also have its own custom firmware based spin down system.

In short, it would appear incompatible with ```hdparm``` at the current version.

[2018-04-13 22:30] Fourdee commented on #1552
@LexiconCode

Please paste the rootFS resize logs:
[code]

And which device/image used?

[2018-04-14 02:11] Fourdee commented on #1698
Appears fine, same results here running GLES under Mali:
[code]

[2018-04-14 04:48] Fourdee commented on #1696
@MichaIng

👍

Made a start, but ended up nearly rewriting everything, couldn't help myself lol:
https://github.com/Fourdee/pi-hole/commit/dc2d221f0b39017b8e93dc4a504ba531c1878a78

I'll probably make another start tomorrow, and, just add the disable web server code. Doubt i've had time to rewrite the whole thing.

[2018-04-14 11:52] k-plan commented on #1696
@MichaIng

[code]

[code]

Alles sieht gut aus und sollte funktionieren. Tut es aber nicht.

[code]

[code]

![180414-0001](https://user-images.githubusercontent.com/17237601/38767860-efa18490-3fe9-11e8-9ee2-e94e8bc04135.gif)

`ntp` läuft übrigens, dank fehlender Namensauflösung,  völlig Amok.

![180414-0002](https://user-images.githubusercontent.com/17237601/38767894-cad80e62-3fea-11e8-84d5-cff05

[2018-04-14 12:56] MichaIng commented on #1696
@k-plan
Interesting, mine ran flawlessly until ~2 am, but to be honest, I am not sure, if I tested name resolution, just SSH, web ui and service status I think.

Today when I started up the VM again, everything worked, besides name resolution, the same issue as you, same enraging NTP 😆.
I tried to resolve it by restarting resolvconf, networking, ifdown/up eth0 and of course pihole-FTL and reboot.

[2018-04-14 13:48] AlbertEmil opened #1703 "rsync, scp & sftp not working for user dietpi"
I am unable to transfer files from my local machine to a dietpi system (DietPi v6.6 running on Raspberry Pi Zero W) using `rsync`, `scp` or `sftp`.

scp:

[code]

rsync:

[code]

sftp (establishing connection failed):

[code]

Some further investigation showed (e.g. [that serverfault question](https://serverfault.com/questions/267154/protocol-version-mismatch-is-your-shell-clean)) that this issue

[2018-04-14 14:51] MichaIng commented on #1696
@Fourdee
PR on this: https://github.com/Fourdee/pi-hole/pull/1
- Write webserver/cron installation decisions to setup vars file as well, so they will be handled by `pihole -up` automatically (runs by default as unattended). Just `pihole -r` would still break it.
- I think it would make sense then to implement a separate whiptail --yesno after web interface decision to ask for webserver as well.
-

[2018-04-14 15:44] MichaIng commented on #1703
@AlbertEmil
Thank you very much for your report. We will investigate.

Hmm, since when `.bashrc` output created issues like this? Quick test via dropbear client works well from one of mine DietPi to another.
[code]

According to your question:
- There is more output than just `dietpi-banner`. To test, please comment both DietPi lines within your `~/.bashrc`:
[code]

Jep, this is due to DietPi-RamD

[2018-04-14 15:58] AlbertEmil commented on #1703
@MichaIng

After commenting both lines in user dietpi's `.bashrc` as suggested

the output is reduced to the bare minimum (which is more like the standard welcome message on Debian or Ubuntu systems) both `scp`, `rsync` and `sftp` are working as desired and files can be transferred.

However, I was able to reproduce this behavior by using either `dropbear` or `openSSH` as the SSH server on the die

[2018-04-14 16:37] MichaIng commented on #1703
@AlbertEmil
Ah, was able to reproduce the error when trying to send to user `dietpi` instead of `root`:
[code]
The only difference is that `/home/dietpi/.bashrc` contains `sudo /DietPi/dietpi/login`, as there are root privileges necessary to gather some of the banner information (mainly network related, AFAIK). Quick test after removing just the `sudo`:
[code]
So finally, **not** the output from `

[2018-04-14 16:37] bokiroki commented on #1702
thanks
@MichaIng @Fourdee one more question.. is there a way to limit program from using all cpu power.. so i tried to play a movie trough plex, and i got error message, and raspberry pi become unresponsive... i can't enter ssh and plex web.. yellow led light is turned on.. i think that that movie file i got error is transcoding..but i can't to anything now to stop it..only option is to turn the p

[2018-04-14 18:36] 0xmichalis opened #1706 "dietpi.txt format differs between machine types?"
I did a dietpi installation on a raspberry pi almost half a year ago and today when I came back to it and wanted to do an odroid c2 installation I realized that the format of the dietpi.txt file I had stored in git was totally different from what I found inside the image. Was there a recent update of the format or does it differ between machine types?

For reference, a sample of the raspberrypi di

[2018-04-14 18:51] k-plan commented on #1696
@MichaIng

Das gleiche, wie bei dir.

[code]
Weder mit `/etc/init.d/networking restart` noch mit `service networking restart` oder `systemctl restart networking.service` es endet immer mit:

[code]
... und dann hilft nur noch den Stecker ziehen und Hard-Reset.

Auch nach einem `reboot` funktioniert die Namensauflösung nicht.

Aber das lässt sich fixen mit:

[code]

![180414-0004](https://user-imag

[2018-04-14 19:29] k-plan commented on #1696
@Fourdee

Déjà-vu ?  lol

Remind me back to the days, when dietpi supports only 30 software titles and  have his own pihole fork.

Runs really cool but was a lot of work for you and a never ending story ... https://github.com/Fourdee/DietPi/issues/427

A lot of trouble for you and with pihole developers ....
So I personally can understand the decision, to give up the own fork and goes with `instal

[2018-04-14 19:42] k-plan commented on #1706
@kargakis

Yes, by DietPi v6.x => http://dietpi.com/phpbb/viewtopic.php?f=11&t=2739

No.

[2018-04-14 20:21] 0xmichalis commented on #1706
@k-plan thanks for the link

[2018-04-14 20:21] #1706 closed, assigned to nobody

[2018-04-14 20:43] MichaIng commented on #1696
@k-plan

Interesting, this doesn't work for me, eth0 interface stays down, need to `ifup eth0` to resolve it.
I use FTLDNS branch btw 😉.

Ahhhh yes that makes totally sense. `dnsmasq` is started first, thus breaks `pihole-FTL` start afterwards 👍 👍 !

@mariusrugan
Please try to just `apt purge dnsmasq`, if you use the new FTLDNS branch. This prevents any unwanted start of this now conflicting servi

[2018-04-14 21:17] k-plan commented on #1696
@MichaIng

No. My interface can not be down, because I only use `ssh` to login to all my SBC. 😉

[code]
And yes, I have a ethernet interface at my RPi-Zero-W:

[code]

Hmmm ... what do you think I use? 😉

[code]

[code]

No. It will stop working at 00:17 ... (see: testing  https://github.com/Fourdee/DietPi/issues/1696#issuecomment-381232527 => result: https://github.com/Fourdee/DietPi/issues/1696#

[2018-04-14 22:09] MichaIng commented on #1696
@k-plan
Interesting, dietpi-logclear and/or restarting pihole-FTL doesn't cause any issue on my VM. Name resolving still works, even that resolvconf also shows the status about rotated logs:
[code]
However, the started dnsmasq service definitely causes problems as well with FTLDNS branch, thus purging it us necessary to prevent these from my point of view.

Lol, so you face just the resolvconf iss

[2018-04-14 23:35] Fourdee commented on #1702
@bokiroki

We highly recommend disabling transcoding on the RPi device and PLEX interface (under settings). CPU transcoding under performs.

Usually we'd mention ```dietpi-process_tool``` to lower the priority of PLEX processes, however, PLEX spawns a new transcoding process on the fly, which we cant background check for. However, there should be some settings in the PLEX web interface to set a lo

[2018-04-15 01:45] Fourdee commented on #1696
@MichaIng

PR sent for dev branch:
https://github.com/pi-hole/pi-hole/pull/2115

Will nudge this to v6.8, see no reason to delay v6.7 any further.

[2018-04-15 01:48] Fourdee opened #1707 "AmiBerry | Update to 2.19"
https://github.com/midwan/amiberry/releases/tag/v2.19

@midwan

We'll get this added to DietPi v6.8.

[2018-04-15 12:40] k-plan commented on #1707
BTW:
Perhaps you can as well have a look into this:
[Amiberry input "leaks" to the console (SDL2 bug?)](http://dietpi.com/phpbb/viewtopic.php?f=11&t=3049)

[2018-04-15 13:20] k-plan commented on #1696
@MichaIng

next day and it still works:

[code]

It seems that `pihole-FTL` was restarted by  `dietpi-logclear` one time with  hourly cron job

[code]

Lets see, what `resolvconf` do:

[code]

Okay, it's running without a restart. Lets have a look at `pihole` logging  on `web interface`

![180415-0001](https://user-images.githubusercontent.com/17237601/38778626-ab73cb7e-40bc-11e8-9d60-6f5677d394d0

[2018-04-15 13:43] k-plan commented on #1696
@Fourdee

A nice one. Lets wait and see what will happend. Hope pihole dev team will successful review and merge your commit.

**Summary** (so far) :

- 🈯️   - temporary "workaround" for `lighttpd` installation problem in v6.7 https://github.com/Fourdee/DietPi/commit/f30a855335a5b61448268ca4f17c75e809213590

- 🈷️   - work in process: PR sent for dev branch: `--disable-install-webserver` => result

[2018-04-15 18:02] #1702 closed, assigned to nobody

[2018-04-15 19:02] MichaIng commented on #1696
@k-plan
Jep looks right so far.
- DHCP: Still I don't see any real issue with this, dhcpcd5 and isc-dhcp-client being installed side-by-side. We had this within our images as well for a long time, as dhcpcd5 is marked as "required" package, thus will never be autoremoved. You can easily check this on VM at least, I always need to actively purge it after pihole installation 😆, apt-mark auto + G_AGA

[2018-04-15 20:18] Ritterbrater opened #1709 "Mopidy.conf exists twice"
## Creating a bug report/issue:
mopidy.conf exists twice:
/etc/mopidy/mopidy.conf
/root/.conf/mopidy/mopidy.conf

Is this correct? I would expect that only one of them is required.

#### Required Information:
- DietPi Version | ```cat /DietPi/dietpi/.version```? 6.6
- SBC Device (EG: RPi 3)? RPi 3
- Power supply used (EG: 5v 1A RAVpower)? RPi 3 Orig
- SD card used (EG: Sandisk ultra)? Samsung some

[2018-04-15 20:55] magnusoverli opened #1710 "Not able to update to 6.7"
#### Required Information:
- DietPi Version | v6.6
- SBC Device     | RPi 3 Model B (armv7l) (index=3)
- Distro         | stretch (index=4)
- Command        | G_AGUP
- Error Handler  | G_ERROR_HANDLER

#### Additional Information (if applicable):
- Software title | DietPi-Update

#### Expected behaviour:

#### Actual behaviour:

#### Steps to reproduce:

#### Additional logs:
[code]

[2018-04-15 21:51] MichaIng commented on #1710
@magnusoverli
Thanks for your report. Just updated my RPi as well an had not issues with exactly the same repository. Perhaps a temporary issue?

Otherwise could you try to clear your APT cache and manually run apt update: `apt clean && apt update`
Possibly even:
[code]

[2018-04-16 04:58] Fourdee commented on #1709
@Ritterbrater

Yep, mopidy can use both configs, so to cover all bases, we duplicate our config to both locations.
If you do edit one config, make sure to copy to the other location aswell.

I'll mark this as closed, please reopen if required.

[2018-04-16 04:58] #1709 closed, assigned to nobody

[2018-04-16 05:02] Fourdee commented on #1710
Confirmed working on RPi for me aswell, think @MichaIng is correct with it being  temporary hosting issue.

However, @magnusoverli please let us know if the above solution resolves.

[2018-04-16 05:44] Fourdee commented on #1710
Interesting, seems Debian repo having some issues aswell with some of our users:
https://community.roonlabs.com/t/dietpi-roon-server-with-additional-hdd-ssd/41440/4?u=dan_knight

[2018-04-16 05:57] Fourdee commented on #1707
Binaries/code updated, just need to test + replicate https://github.com/Fourdee/DietPi/issues/1707#issuecomment-381403586

[2018-04-16 06:12] magnusoverli commented on #1710
Hi! I was able to update this morning. Did a reboot and diet dietpi-update without any errors.

[2018-04-16 08:30] k-plan commented on #1710
@magnusoverli

Thanks for your response. 👍

I'll mark this as closed, please reopen if required.

[2018-04-16 08:30] #1710 closed, assigned to nobody

[2018-04-16 08:40] pedrom34 opened #1711 "Odroid C2: Jackett doesn't work - mono issue."
#### Required Information:
- DietPi Version | 6.7
- SBC Device | Odroid C2
- Power supply used | 5v 2.5A
- SD card used | Sandisk ultra 32Gb
- Distro | Linux DietPi 3.14.79+ #1 SMP PREEMPT Sun Jul 23 00:04:44 CEST 2017 aarch64 GNU/Linux

#### Additional Information (if applicable):
- Jackett
- Can this issue be replicated on a fresh installation of DietPi? Yup

#### Expected behaviour:
Jackett sho

[2018-04-16 13:58] caribou-snake commented on #1680
I have the same issue with an **ntfs** filessystem

DietPi-Swapfile: fallocate -l 1072M /mnt/2C..CC/dietpi_userdate/.swapfile
Exit code: 1
DietPi version: v6.7 | HW_MODEL:3 | HW_ARCH:2 | DISTRO: 4
fallocate: fallocate failed: Operations not supported

`root@DietPi:/# findmnt -n -o FSTYPE -T /mnt/2C..CC/`
`fuseblk`
`root@DietPi:/#`

un-commenting the if clause for fallocate and just use **dd** in *

[2018-04-16 16:02] bokiroki opened #1712 "Minidlna without alsa"
My dietpi is headless, i installed minidlna trough dietpi-software and alsa soundcard installed with it.. do i need it for minidlna, how to install only minidlna without alsa software? raspberry pi 3
Thanks

[2018-04-16 17:00] MirisWisdom commented on #804
In case anyone stumbles upon here, I've made a Hyper-V equivalent of the latest `DietPi_VMware-x86_64-Stretch.vmdk` image. It's modified so it successfully boots up, while everything else has been left untouched.

Sharing it here, should anyone want to have a shot at testing it!
[`DietPi_Hyper-V-x86_64-Stretch.7z`](https://1drv.ms/u/s!AoE_a2H65pxWkmND26RUC3c-WwBv) (100MB OneDrive download)

If it

[2018-04-17 00:14] Fourdee commented on #1712
@bokiroki

Thanks for the report and good spot 👍

I believe you are spot on, ALSA is not required for this software title, we'll verify and remove this pre-req for v6.8.

You can remove ALSA in ```dietpi-software``` > uninstall > ALSA

[2018-04-17 00:33] Fourdee commented on #1712
Verified, ALSA not required: https://packages.debian.org/stretch/minidlna

Resolved for v6.8.

[2018-04-17 00:33] #1712 closed, assigned to Fourdee

[2018-04-17 06:15] ragadeeshu commented on #1703
Also unable to scp to the dietpi user, same error. scp to root as workaround.

[2018-04-17 06:53] ghost commented on #1446
It works now! I've reinstalled a Dietpi and it works. Tnx for your help!

[2018-04-17 11:50] MichaIng commented on #1703
@ragadeeshu
Did you try the workaround:
[code]
But it might lead to issues with DietPi autostart options, if you are not just booting/logging into console. We need to investigate/test it.

[2018-04-17 13:36] MichaIng commented on #1510
### Float comparison ###
#### Ugly manual solution vs `bc` ####
Let's see how efficient `bc` compares float values:
[code]
=> Jep, `bc` does it quite efficient, I like this calculator. Comparison with integers:
[code]
=> Uii with integers, bash internals are wayyyyy more effective: If we need to do much calculation, we should try to stay with integers, is what I get from here. If floats are needed

[2018-04-17 20:45] emms007 commented on #1171
Thanks Method#2 works fine with UP-BOARD.

RUFUS creation of GPT is very import, just flashing the ISO will not work. Performing similar steps on linux can be done by extrapolating this guide: [https://tqdev.com/2016-creating-bootable-windows-10-usb-ubuntu](https://tqdev.com/2016-creating-bootable-windows-10-usb-ubuntu)

[2018-04-17 23:13] MichaIng commented on #1696
@k-plan @Fourdee
FTLDNS support: https://github.com/Fourdee/DietPi/pull/1714
- Exclude pihole-FTL from dietpi-services control to prevent broken name resolution.
- DietPi-Logclear: Restart dnsmasq only, if found enabled, otherwise FTLDNS seems to be active, which conflicts dnsmasq. Restart resolvconf as well instead, if needed or not, at least to clear service log message about changed log.

[2018-04-18 01:23] bokiroki commented on #1322
@Fourdee i installed emby to see if it's better than plex (plex hate subtitles :unamused: ) and it's crashing also i guess because of mono..
So i will install fresh dietpi.. Whats the easiest way to install emby with older mono? they said latest version they suport is 4.8.1. from forum post from December 14 2017. i will install beside emby (radarr, sonarr, jackett, deluge)
On this forum thread the

[2018-04-18 02:22] Fourdee commented on #1446
@bkappa

Excellent, i'll mark this as closed. Please reopen if issues reappear.

[2018-04-18 02:22] #1446 closed, assigned to nobody

[2018-04-18 04:11] Fourdee commented on #1707
🈯️ http://dietpi.com/downloads/images/DietPi_RPi-ARMv6-Stretch_AmiBerry.7z Updated to include support for RPi 3B+:
https://github.com/midwan/amiberry/issues/304#issuecomment-382222815

[2018-04-18 05:10] Fourdee commented on #1707
Confirmed SDL2 terminal leak.
- confirmed FAST/STANDARD boot quit breaks keyboard input,  term switch required.
- SDL2 version is 2.0.7, should have the reported fix for terminal leak
- ? https://discourse.libsdl.org/t/workaround-rpi2-keystrokes-leaking-into-x11-terminal/21750
- ? https://github.com/inoremap/shut-term-keys
- 🈯️ Unable to replicate illegal instruction on 2.18

[2018-04-18 06:54] mgherghi opened #1715 "DietPi-Drive_Manager | Allow separate swap partition on Btrfs formatted drive"
## Creating a bug report/issue:
Not sure if this is possible, but may i create a swap on my btrfs disk ?

#### Required Information:
- DietPi Version | ```cat /DietPi/dietpi/.version```?
- SBC Device (EG: RPi 3)?
- Power supply used (EG: 5v 1A RAVpower)?
- SD card used (EG: Sandisk ultra)?
- Distro (EG: Jessie) | ```uname -a```?

#### Additional Information (if applicable):
- Software title?
- Can

[2018-04-18 07:01] elRadix commented on #1715
maybe this will help or have it integrated with dietpi as an option?
https://github.com/sebastian-philipp/btrfs-swapon

[2018-04-18 08:49] Gabba35 commented on #1711
Also experiencing the same issue, pretty much exactly as above. No issues with Sonarr itself, just Jackett.

[2018-04-18 10:47] pedrom34 commented on #1622
Wouldn't it be lighter to use [acme.sh](https://acme.sh) instead of certbot? Acme.sh supports wildcard certificates generation.

[2018-04-18 11:12] MichaIng commented on #1622
@pedrom34
Thanks for sharing this idea. For now, until some other DietPi tasks are done, I would stay with certbot as kind of official and well known solution. Also it's auto configuration of Apache + Nginx (not just the cert installation itself) saves us some work/maintenance.

But definitely worth trying and maybe it works even better than certbot? The problem with certbot so far is, that we use

[2018-04-18 11:44] pedrom34 commented on #1622
@MichaIng
Yeah, I know there's other stuff to do :)
But well, I personally installed acme.sh on my router, and it works like a charm. There's a lot of options and stuff. I thought it worth mentioning it, for the future of dietpi :) Or even for OP, if he don't want to wait for an update to use wildcard certs!

[2018-04-18 19:58] mgherghi commented on #1715
I am having a hard time understanding why i cant swap on btrfs.  Its a fairly modern filesystem for Linux, is the os moving away from swap ?

[2018-04-18 20:25] MichaIng commented on #1715
@mgherghi
"Linux" is not moving towards btrfs, thus it's not moving away from swap. Just few distributions use it as default, e.g. SUSE Linux and MeGoo, and Fedora has the plan to use it as default, but it did not yet happen since several versions. And if Fedora does not, than this means something 😉.
On the other hand RHEL e.g. want to drop support for btrfs as they (their users) seem to face some

[2018-04-18 21:31] MichaIng opened #1716 ""fbset" used with RPi only; necessary at all?"
I found the command/package `fbset` just used a single time with RPi devices at `DietPi-Boot`, if HDMI is chosen to be disabled: https://github.com/Fourdee/DietPi/blob/testing/dietpi/boot#L269

If didn't oversee something, then all other devices ignore the related `dietpi.txt` setting and use other methods, e.g. `config.txt` for resolution changed, same as RPi for all other choices than `headless`

[2018-04-18 21:38] Lanneer487 opened #1717 "mono-roslyn update requires extended period of time to complete"
Today I did apt-get upgrade and it gets stuck setting up mono-roslyn (5.10.1.47-0xamarin4+raspbian9b1).
Is there a solution for this problem?

[2018-04-18 23:00] MichaIng commented on #1717
@roelfoubert
Hmm, as far as I could see, we do no real adjustment to mono, thus for now I would suggest this being an external issue, maybe temporarily faulty package.

There are no error messages, nothing showing up within `journalctl`?
__________________
I just tested installation on Debian, which worked fine, although `mono-roslyn` setup took longest compared to the other packages:
[code]
Sadly

[2018-04-19 00:02] MichaIng commented on #1656
PR: https://github.com/Fourdee/DietPi/pull/1718

[2018-04-19 02:53] Fourdee commented on #1715
@MichaIng

I'am not personally keen on running a loopback to achieve a swapfile on btrfs. As hacks goes, its long winded and the performance impact negates its purpose.

We do offer multiple filesystem support in DietPi, allowing users to experiment outside of the standard ext4, however, there is always downsides (EG: FAT doesn't support permissions).

Regardless, if our users want the ability to

[2018-04-19 03:42] Fourdee commented on #1716
@MichaIng

Its been a few years, can't honestly remember why we didn't just config.txt 16x16. I'll try it and send commit.

[2018-04-19 04:33] Fourdee commented on #1716
Yep works fine without ```fbset```. Completed.

[2018-04-19 04:50] Fourdee commented on #1717
Fresh install confirmed functional on RPi:
[code]

Could be an issue with the repo, its patching, HW instability. Many factors.

@roelfoubert

First, make a backup
[code]

Please try reinstalling Mono:
[code]

And depending on the software title that uses mono, you may want to install these aswell, just to be covered:
[code]

[2018-04-19 05:16] Fourdee commented on #1711
Tests, index
- 🈯️ RPi
- 🈴 Deb Jessie (c2)
- 🈯️ Deb Stretch (n1)

Limited to Jessie Mono Repo.

@pedrom34
Please use our C2 Stretch image. Jackett should work fine: http://dietpi.com/downloads/images/DietPi_OdroidC2-ARMv8-Stretch.7z (ref: https://github.com/Fourdee/DietPi/issues/1552#issue-299707234)

[2018-04-19 05:17] Fourdee commented on #1711
I'll mark this as closed with C2 Stretch image offering a fix: https://github.com/Fourdee/DietPi/issues/1711#issuecomment-382612977

Please reopen if required.

[2018-04-19 05:17] #1711 closed, assigned to Fourdee

[2018-04-19 05:18] Lanneer487 commented on #1717
I let it update over night and it is fixed

[2018-04-19 05:21] Fourdee commented on #1717
@roelfoubert

Excellent, i'll mark this as resolved. Please reopen if required.

[2018-04-19 05:22] #1717 closed, assigned to Fourdee, MichaIng

[2018-04-19 07:31] pedrom34 commented on #1711
Not trying to reopen, but I have some questions. I created a subject [here](http://dietpi.com/phpbb/viewtopic.php?f=9&t=3083).

[2018-04-19 12:01] MichaIng commented on #1662
@bokiroki
For reference: We further implemented the ability to adjust the the reserved blocks on ext4 via `DietPi-Drive_Manager`, which also shows the reserved percentage behind drive capacity then.

This will be tested now and released with v6.8: https://github.com/Fourdee/DietPi/pull/1713

Thanks again for sharing this with us, I think it's quite an interesting topic and showing this can lead to

[2018-04-19 14:27] MichaIng commented on #1715
Further reference:
https://btrfs.wiki.kernel.org/index.php/FAQ#Does_btrfs_support_swap_files.3F
https://btrfs.wiki.kernel.org/index.php/Project_ideas#Swap_file_support

File corruption disk is mentioned there as well, if file system includes multiple drives (internal RAID), workaround via loopback workaround mentioned as well to provide bad performance.
But thus if used on single drive and just as

[2018-04-19 20:08] MichaIng opened #1719 ""tvservice" and "vcgencmd" | $PATH and $LD_LIBRARY_PATH"
A while ago I recognized that `DietPi-Boot` produces an error massage when trying to execute `tvservice -o` and me being unable to execute `vcgencmd` to get settings etc.: "command not found"
- So I added full path `/opt/vc/bin/vcgencmd|tvservice` and ran into next error: "library not found"
- So I added `LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/opt/vc/lib /opt/vc/bin/vcgencmd|tvservice` which worked the

[2018-04-19 20:47] renebouwmeester opened #1720 "CPU governor setting defaults back to performance after reboot (Allo Sparky)"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version 6.7
- SBC Device Allo Sparky
- Power supply used SBooster 5V/3A
- SD card used (EG: Sandisk ultra)? Sandisk
- Distro: Stretch

#### Additional Information (if applicable):
- Software title? Setting governor via dietpi-config > performance options
- Can this issue be replicated on a fresh installation of DietPi? yes

####

[2018-04-19 20:50] MichaIng commented on #1716
@Fourdee
Nice, that was fast 😃.

There are also max value settings available, but honestly I have no idea what they are for:
[code]
- "console framebuffer" vs "internal framebuffer", or just boot value vs max. value that can be set afterwards (e.g. by plugging another screen?) or are those the related settings for fbset -vxres -vyres virtual resolutions?

[2018-04-19 21:22] MichaIng commented on #1720
@renebouwmeester
Thanks for the report. I was just remembering something I saw by chance yesterday, found it: https://github.com/Fourdee/DietPi/blob/testing/PREP_SYSTEM_FOR_DIETPI.sh#L1234
We set CPU governor to "performance" on Sparky for stability reasons.

But this is just during preparation for our images as default value. I didn't find anything in the code, that shows a different handling of

[2018-04-19 21:28] tomillr commented on #1171
Won't work on my system.

However, the rescue disk from [AltLinux](https://en.altlinux.org/Rescue) boots right away. Maybe it is possible to take a look at how they handle boot and apply this to the x86 build of DietPi? Looks like there image can boot on pretty much everything...

[2018-04-19 22:00] renebouwmeester commented on #1720
Weird. It's fine now. Rebooted twice, once removing all power (it's dual powered with a USBridge attached). Setting sticks. Both cpu and cat report ondemand.

Ondemand is stable here (running slightly less hot), but the Sparky/USBridge is only running as audio bridge.

Anyway – false flag, it appears. I'll keep an eye on it and report back if it happens again. Thanks for your attention and keep up

[2018-04-20 03:03] msdos opened #1721 "Add DietPi-Drive Manager to dietpi list of preinstalled applications"
In a nutshell: put a reference to http://dietpi.com/phpbb/viewtopic.php?f=8&t=673 in http://dietpi.com/phpbb/viewtopic.php?f=8&t=5#p5.

EDIT: Well, autostart as well... https://github.com/Fourdee/DietPi/issues/916 should I change this issue to "add all dietpi-* namespace apps"?

[2018-04-20 04:09] Fourdee commented on #1720
@renebouwmeester

Yep, this is a recommendation directly from Allo. Although, i've personally never had any issues with ```ondemand``` myself, so should be fine to use it.

[2018-04-20 04:12] Fourdee commented on #1716
Specifies the maximum dimensions that the internal frame buffer is allowed to be.

Maybe this changes the output resolution. As ```FRAMEBUFFER_HEIGHT``` still runs at 1080p, regardless of setting.
I'll have to run a test later 👍

[2018-04-20 04:13] labibllaca opened #1722 "Backup issue"
## Creating a bug report/issue:

#### Details:
- Date           | Fri 20 Apr 04:59:38 BST 2018
- DietPi version | v6.7
- Img creator    |
- Pre-image      |
- SBC device     | RPi 3 Model B (armv7l) (index=3)
- Distro         | stretch (index=4)
- Command        | ncc maintenance:mode --on
- Exit code      | 1
- Software title | DietPi-Services

#### Expected behaviour:

#### Actual behaviour:

##

[2018-04-20 04:36] Fourdee commented on #1722
@labibllaca

Many thanks for the report 👍

@MichaIng Any chance you can pick this one up if you have time?

[2018-04-20 04:41] Fourdee commented on #1719
Fresh RPi install:
[code]

```libraspberrypi-bin``` is the package which contains these programs:
[code]

---

Interesting, RPi firmware has it in ```/opt/vc``` as you mentioned:
https://github.com/raspberrypi/firmware/tree/master/opt/vc/bin

Another option, we could just move ```/opt/vc/bin/vcgencmd``` etc to ```/usr/bin``` after ```G_RPI_UPDATE```?
Ah, then the library issue. So your original so

[2018-04-20 05:05] Fourdee commented on #1721
@msdos

Many thanks for the request, good spot 👍

Added:
dietpi-drive_manager
dietpi-autostart

I'll check to see if we missed any, then add those in aswell.

[2018-04-20 05:29] Fourdee commented on #1721
```dietpi-justboom``` added. Believe we got all the critical ones. I'll mark this as closed.

[2018-04-20 05:29] #1721 closed, assigned to Fourdee

[2018-04-20 05:31] Fourdee commented on #1171
@tomillr

Does a box standard Debian install provide the same boot issue? Reading the above, it should detect efi32 and install/configure for it automatically.

If it does function, should just be a case of us checking for efi32 in our PREP script.

[2018-04-20 09:39] MichaIng commented on #1722
@labibllaca
There seems to be an issue with your database/MariaDB. I guess you are not able to access your Nextcloud instance as well?

Please check the following and provide output:
`journalctl -t mysqld`

Also there may be more information helpful:
- Which webserver are you using?
- Was this a fresh install of DietPi+Nextcloud, or did you recover a backup?
- Do you remember any change (dietpi-up

[2018-04-20 09:49] MichaIng commented on #1719
@Fourdee
Ahh, the APT package puts them into /usr/bin/, okay that explains it. Are those symlinks to /opt/vc/bin? Otherwise updated binaries by rpi-update would be ignored Oo. Did you check `ls -al /etc/ld.so.conf.d/` if there is an entry to add the library?

If everything is as above (library link + symlinks), then I think we do not need to adjust anything and I would leave the packages in place.

[2018-04-20 10:31] MichaIng commented on #1720
@renebouwmeester
Okay great, keep keep is informed if this happens again. I will mark as closed here.

[2018-04-20 10:31] #1720 closed, assigned to nobody

[2018-04-20 16:39] tomillr commented on #1171
Yes, the standard Debian multiarch distro with UEFI support for mixed mode systems has the same issue.

With AltLinux or the "respun" Ubuntu images from Linuxium I can just flash the iso to a usb strick with Etcher and boot right of the stick without any problems.

[2018-04-20 21:40] tomillr commented on #1171
This script can be used to make Ubuntu boot on either Intel Atom or Apollo Lake system:
https://drive.google.com/file/d/0B99O3A0dDe67S053UE8zN3NwM2c/edit

Looks like it's using GRUB_EFI_IA32 and applying a custom set of values to get Linux to boot.

[2018-04-21 06:45] Fourdee commented on #1719
@MichaIng

Seems its a direct symlink, interesting:
[code]

[code]

[2018-04-21 07:56] Piingliv opened #1724 "Owncloud"
report/issue: When pulling the own cloud files, i encounter the following error "Job for mysql.service failed because the control process exited with error code. See "systemctl status mysql.service" and "journalctl -xe" for details.

Required Information:
- DietPi Version | v6.7
- SBC Device  | RPi 3 model B+ (armv71) (index=3)
- SD card used  | sands ultra 32GB
- Distro  | stretch (index4)

Addit

[2018-04-21 09:11] ghost opened #1725 "[Question] PREP-Script on OrangePi PC Plus (Kernel 4.14.35)"
Hi @Fourdee,
i've managed to compile the 4.14.35 kernel for the OPiPC+ SBC on a Debian basic installation. Now, whenever i try to use the PREP-Script, it downgrades the kernel to 4.14.18 for this board.

When i freeze (hold) the kernel, so the PREP script can't downgrade it, the device afterwards wouldn't boot into system, as it stays on u-boot with "Loading kernel...."

If i'm not converting it i

[2018-04-21 13:40] MirisWisdom commented on #1724
What's the output when you run `systemctl status mysql.service` right after you get the error?

[2018-04-21 14:03] MichaIng commented on #1719
@Fourdee
Nice, thanks for checking this. So it's handled more less as expected and for my impression this is also the method that makes most sense: I guess all binaries from within `/opt/vc/bin` are linked then to allow global access.

I am already asking at an open issue on rpi-update if other important things are done by the APT packages that need to be done manually when just using rpi-update (

[2018-04-21 14:48] ghost commented on #1725
Okay, got is solved!

[2018-04-21 14:48] #1725 closed, assigned to nobody

[2018-04-21 15:17] MichaIng commented on #1696
Offtopic warning moreless:

@k-plan
Btw. I found the reason why my `eth0` interface is not started up as intended:
- `ifup -a` only processes interfaces with `auto` prefix, not `allow-hotplug`, which is default on most distros as well as DietPi.
- `ifdown -a` should handle it the same:
[code]
- `systemctl restart networking` thus should restart loopback interface only. I am not sure then, if this

[2018-04-21 15:47] MichaIng commented on #1724
@Piingliv
Thanks for your report. Jep as the service start/restart of mysql (MariaDB) failed, the suggestion of yumiris would be the first thing to check.

We execute the command right after adding 4-byte support settings to MariaDB: https://github.com/Fourdee/DietPi/blob/master/dietpi/dietpi-software#L8298

I just tested installation on my VM and it worked well. But it's Debian, not Raspbian and

[2018-04-21 16:19] MichaIng commented on #1725
@SuBLiNeR
Yeah indeed this should be the case, if an APT kernel package is still installed on the device: https://github.com/Fourdee/DietPi/blob/master/PREP_SYSTEM_FOR_DIETPI.sh#L768-L786
- `DietPi-PREP` checks for installed APT kernel packages and guarantees that they stay installed, as all other packages will be autoremoved later on.
- Kernel packages, which are (still) available within current

[2018-04-21 21:54] esturniolo commented on #818
Hi.
I'm with the same problem here.
Pi Zero, last version download from the web and no luck.
I tried to download the version that you posted but it's unavailable.

This command shows:
[code]

And I can't find the commands that you suggest

[code]

I take "screenshots" with my cell phone (I don't have any dongle to connect it) from the commands that you asked before.
Please, take a look at http://e

[2018-04-22 01:32] ghost opened #1726 "Error installing Nextcloud"
#### Required Information:
- DietPi Version | v6.6
- SBC Device     | RPi 3 Model B (armv7l) (index=3)
- Distro         | stretch (index=4)
- Command        | G_AGI: lighttpd perl
- Error Handler  | G_ERROR_HANDLER

#### Additional Information (if applicable):
- Software title | DietPi-Software

#### Expected behaviour:

#### Actual behaviour:

#### Steps to reproduce:

#### Additional logs:
[code

[2018-04-22 01:34] ghost commented on #1726
I was not running dietpi-config as root but dietpi user.

[2018-04-22 01:34] #1726 closed, assigned to nobody

[2018-04-22 07:36] Fourdee commented on #818
@esturniolo

Thanks for the report 👍

HW revision code checks out. We'll try to replicate in local testing.

[2018-04-22 07:45] Fourdee commented on #1724
Fresh install test, RPi 3 + default lighttpd + Owncloud
- 🈯️ No errors, running fine.

[2018-04-22 07:46] ghost commented on #1725
@MichaIng Hi there, i solved it whilst setting it via apt-mark hold like you already answered. But on mine side, i also uncomment the armbian-repo in the sources list, and voila, the kernel persist whilst running the PREP script.
So at least for all the SBCs out there and self-built armbian base image, you have to freeze kernel to prevent update or downgrade of it. Also uncomment armbian repo on y

[2018-04-22 08:20] Fourdee commented on #1656
I'll run tests with Piano dac installed:
- 🈯️ RPi 3
- 🈯️ Sparky

Test with Piano dac not installed:
- 🈯️

---

patch removes ```/lib/firmware/allo```, will send commit.

[2018-04-22 08:58] Fourdee commented on #1656
Good to go 👍 Marking as completed.

[2018-04-22 08:58] #1656 closed, assigned to MichaIng

[2018-04-22 09:51] SimoneBnc opened #1727 "XRDP not showing Desktop Environment"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version | ```6.7```?
- SBC Device (RPi 3)?
- Power supply used (5V 2A)?
- SD card used (Samsung 64GB UHS-3)?
- Distro Stretch

#### Additional Information (if applicable):
- Software title?  XRDP
- Can this issue be replicated on a fresh installation of DietPi?
Yes, just install MATE and XRDP

#### Expected behaviour:

Like in ea

[2018-04-22 13:02] Piingliv commented on #1724
Hi, thank you all for your help. @yumiris the output when I run systemctl status mysql.service right after i get the error is as follows.

[code]

[2018-04-22 13:20] Piingliv commented on #1724
@MichaIng I hope this image is ok as i do not feel like typing out all this code. I received the following after running `journalctl -t mysqld`
![img_2692](https://user-images.githubusercontent.com/38424189/39095405-4c35f388-4640-11e8-9c78-107e3fd37ae0.jpg)

In answer to your other questions,
Which webserver did you choose? - **I am not sure, therefore i am guessing the default.**
Did you recogniz

[2018-04-23 11:49] MichaIng commented on #1696
PR merged into Pi-hole development branch 🍾 👍. Not sure about the master branch schedule, but I will create some DietPi branch to adjust/test with Pi-hole dev branch. **€: Ah preparation commit already done 😃.**

[2018-04-23 13:23] MichaIng commented on #1724
We have to check what is causing this: `[ERROR] Fatal error: Can't open and lock privilege tables: Incorrect file format 'user'`

@Piingliv
I am still not sure how it happened, but could you try the following to fix the issue?
[code]
Within mysql terminal:
[code]
Then:
`systemctl restart mysql`

Ref.: https://stackoverflow.com/questions/28521530/mysql-fatal-error-cant-open-and-lock-privilege-table

[2018-04-23 18:12] k-plan commented on #1696
@Fourdee

wow ...  :+1:   nice trait. Have not reckon that this will happen.

If we now get a update by pihole, we can check, if `pihole -up` will work for us or we have to fix something.
I'm curious about it.

[2018-04-23 18:28] k-plan commented on #1716
Hmm ... can be wrong, a long time ago, but it was something with` fbset` and LCD panels support like this:

[Added support for more LCD panels in v.123](http://dietpi.com/phpbb/viewtopic.php?f=15&t=541)

[2018-04-23 20:01] MichaIng commented on #1716
@k-plan @Fourdee
Ohhh, important point. The package `fbset` does not only provide the command `fbset` to adjust the framebuffer geometry, but also `con2fbmap` to connect consoles to screens (?). And we use this on enabling/disabling the panels: https://github.com/Fourdee/DietPi/blob/testing/dietpi/func/dietpi-set_hardware#L671
Ref.: http://manpages.ubuntu.com/manpages/trusty/man1/con2fbmap.1.html

[2018-04-24 00:15] lupa18 commented on #1452
Same here with SD card and DietPi_Rock64-ARMv8-Stretch downloaded march 12th

[2018-04-24 03:04] richardhughes260 commented on #1452
I made a video on the issue https://www.youtube.com/watch?v=T6RCtNDf8Yo&t=1s use gparted on another machine to expand the FS.

[2018-04-24 07:18] Fourdee commented on #1727
@SimoneBnc

Thanks for the report 👍

The login method has changed slightly for Debian Stretch, please verify the following login method was used:
http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&start=70#p2074

I'll run a test:
- MATE + XRDP

[2018-04-24 07:26] SimoneBnc commented on #1727
Actually I did use Xorg but it is opening the DE on the RPI console, unless there is something different to do.

[2018-04-24 07:51] Fourdee commented on #830
Ok, lets get the ball rolling on this:
- Server upgrade/transition to Stretch
- HTTPS via certbot

Email sent to MVS, requesting a new VPS we can use for the transition. Old one can then be dropped once completed.

[2018-04-24 08:00] Fourdee commented on #1727
Confirmed bug:
- 🈵 MATE
- 🈵 LXDE

REF: https://github.com/neutrinolabs/xrdp/issues/731#issuecomment-292903254
https://github.com/neutrinolabs/xrdp/issues/962#issuecomment-350811842

[2018-04-24 08:23] Fourdee commented on #1727
Tests:
- 🈵 Remove dietpi entries in ```.bashrc```
- 🈵modified startwm.sh ```mate-session```
- 🈵Latest .deb: http://ftp.us.debian.org/debian/pool/main/x/xrdp/xrdp_0.9.6-1_arm64.deb
- 🈵Running xrdp service under ```root```

Logs provide nothing to go on, simply states disconnections:
```/var/log/xrdp.log```
[code]

[2018-04-24 08:47] Fourdee commented on #818
Test:
- RPi Zero W
- Fresh install
- Local keyboard
- Prompt to setup connection > WiFi
- Hardware found
- Scan + connects fine

[code]

@esturniolo
```900093``` is not a Pi Zero W (https://www.raspberrypi.org/documentation/hardware/raspberrypi/revision-codes/README.md), which WiFi dongle are you using? ```lsusb```

[2018-04-24 09:04] Fourdee commented on #1727
Ok, appears its only functional with Xvnc + vncserver 4 installed.
Could be an external bug with XRDP, limited to Xorg (although, unsure due to lack of any useful logs for debugging).
Either way, we'll make the changes to DietPi, to automatically install VNC4 server along with XRDP.
![image](https://user-images.githubusercontent.com/7077026/39176940-f81fe09e-47a5-11e8-8906-044b58c461ae.png)

### @

[2018-04-24 09:22] Fourdee commented on #1727
NB: personal preference, using VNC4 on its own + RealVNC viewer seems much faster than XRDP, under Xvnc.

Resolved for v6.8, switching to Xvnc method. Marking as completed.

[2018-04-24 09:22] #1727 closed, assigned to Fourdee

[2018-04-24 09:34] Fourdee commented on #1698
Marking as closed due to:
- Unable to replicate on fresh install
- Possible hardware issue, please verify official PSU and well branded SD/EMMC used.
- Possible incompatible TV in some form

[2018-04-24 09:34] #1698 closed, assigned to Fourdee, k-plan

[2018-04-24 09:42] SimoneBnc commented on #1727
Do you mean to create a new user or what?

[2018-04-24 09:43] Fourdee commented on #1707
🈵 Has no effect:
[code]

---

Issue appears limited to service, running ./amiberry is fine.
```StandardInput=tty``` hangs ```(dispmanx)```
```TTYPath=/dev/tty0``` hangs ```(dispmanx)```
```TTYPath=/dev/tty1``` nothing rendered.

[2018-04-24 11:12] Fourdee commented on #1703
Notes:
- We need to exit ```.bashrc``` scripts when ```$TERM``` is unknown | tput: https://github.com/ArchiveTeam/warrior-dockerfile/issues/5#issuecomment-53665157
- ~We need to remove ```sudo``` from ```.bashrc``` and manually add sudo into ```login``` script as needed?~ Not the cause

---

Tests (will send commit once finished):
- 🈯️ SCP
[code]

- 🈯️ Rsync
[code]

[2018-04-24 11:30] MichaIng commented on #1703
@Fourdee
Maybe we can combine this with: https://github.com/Fourdee/DietPi/issues/1477
- Move globals and login into `/etc/profile.d/dietpi-login.sh`?
- This makes somehow sense as all we do there is just needed for "login shells" and `.bashrc` is also for non-login shells, where our scripts again could cause issues, at least overhead for non-login connections (?).
- To have no valid `$TERM` may b

[2018-04-24 11:32] Fourdee commented on #1703
So yeah, we basically just needed to move the TERM + set dumb check to ```dietpi-globals``` which execs 1st.

[2018-04-24 11:41] Fourdee commented on #1703
@MichaIng

Yep agree 👍

Ah, I see the issue with sudo now.

I'll mark this ticket as closed (now resolved for v6.8), switch back to the other: https://github.com/Fourdee/DietPi/issues/1477

[2018-04-24 11:41] #1703 closed, assigned to Fourdee, MichaIng

[2018-04-24 11:43] MichaIng commented on #830
@Fourdee
This means also phpbb update, right? I am excited like a little boy a day before Christmas eve 😃.

[2018-04-24 11:53] Fourdee commented on #1477
So one option:
- Do not sudo source the globals, probably a bad idea to allow users to run ```G_AGI``` etc, without sudo as per std linux.
- Run root user checks for the functions which require it

[2018-04-24 12:12] MichaIng commented on #1477
@Fourdee
We already had the idea so separate globals into non-root and root part, so only one root check is done, exiting the script, before G_AGX functions and other root depended ones are sourced.
`sudo source/.` is not possibly anyway 😉.

But difficult (for me) how to handle DietPi-Login on the long term. As `sudo` is no problem any more (did this somehow cause the other issue in combination wi

[2018-04-24 12:20] Fourdee commented on #1477
@MichaIng

Me neither, I will need to go through them.
EDIT, pretty sure all of them require ```root``` for now, we'll need to debug/test each one as dietpi user at a later date.

Sudo proving impossible lol.
[code]

Interesting:
[code]

Dont believe we can export functions?
[code]

[2018-04-24 12:22] MichaIng commented on #1719
I added the symlinks and `00-vmcs.conf` to my system and everything works fine without aliases or some other things 👍.

Just for completeness: `device-tree-compiler` needs to be marked manual as well, when purging `raspberrypi-firmware` APT packages, if someone wants to test.

But again, I don't think this is a good idea for end users, as I am not sure if something else is missing for GPU dependin

[2018-04-24 12:22] #1719 closed, assigned to nobody

[2018-04-24 12:31] Fourdee commented on #1477
[code]

[code]

[2018-04-24 12:51] MichaIng commented on #1477
@Fourdee

Jep, this also fits to my tests earlier. I think for this reason, skipping them for non-root users is the cleanest solution. Only thing that we could test is to add aliases (for non-root users only/instead) containing what you successfully tested above: `alias G_AGI="sudo bash -c '. /DietPi/dietpi/func/dietpi-globals; G_AGI moo'"`

[2018-04-24 16:06] lupa18 commented on #1452
For me, from dietpi bash console, this worked perfect:
`resize_rootfs.sh`

[2018-04-24 16:15] woiza commented on #1452
Same here, resize_rootfs.sh did the job

[2018-04-24 19:59] tomillr commented on #1171
Is there a way to change the boot loader the DietPi install medium uses to [the rEFInd Boot Manager](http://www.rodsbooks.com/refind/)?

While GRUB won't boot, I can use the rEFInd boot manager just fine on my Apollo Lake mini pc.

EDIT: I've also tried to just install regular Debian as a base. Unfortunately, this also doesn't work:

The system just freezes instantly to a non-blinking cursor the s

[2018-04-24 20:49] Jelmer-H commented on #818
Hi, I also have an issue with my freshly arrived RPI Zero W and the wifi adapter. In flashed the 6.6 image and upgraded to 6.7 using a USB ethernet adapter.

 Strange thing is that my unit gives 000f as revision.

[code]

I checked the back of my device and it reads: Raspberry Pi Zero W V1.1 Any idea what might be wrong here?

[2018-04-24 21:19] Jelmer-H commented on #818
Nevermind, It appears that there were some Pi Zero W's incorrectly programmed at manufacturing, and the 000f Revision is one of the symptoms. See [this issue ](https://github.com/raspberrypi/firmware/issues/758) on GitHub for some info.

[2018-04-24 21:21] Invictaz commented on #805
@MichaIng I have some old 32bit pc systems ready to rock DietPi. Are there any super low consumption distro's you know of?

[2018-04-24 21:31] X3msnake commented on #805
Alpine

2018-04-24 22:21 GMT+01:00 Invictaz <notifications@github.com>:

--
Com os melhores cumprimentos,
Vinicius Silva

[2018-04-24 21:38] MichaIng commented on #1171
@tomillr
Hmm, so far within our code (not just preparation script), we assume grub being installed on x86_64 systems. Using a different bootloader will lead to unexpected errors when using dietpi-config and other scripts.
Beside that, it would be not too hard to just ignore bootloader (not install any) by commenting/removing the following lines: https://github.com/Fourdee/DietPi/blob/master/PREP_S

[2018-04-25 08:46] Fourdee commented on #1477
As a special case, if sudo's -i option (initial login) is specified, sudoers will initialize the environment regardless of the value of env_reset. The DISPLAY, PATH and TERM variables remain unchanged; HOME, MAIL, SHELL, USER, and LOGNAME are set based on the target user. On AIX (and Linux systems without PAM), the contents of /etc/environment are also included. On BSD systems, if the use_logincla

[2018-04-25 09:26] Fourdee commented on #1477
Ok so last 3 options are:
- 🈵 Manually define ENV we want to keep in sudoers, does not support keeping functions.
- 🈯️ ```G_SUDO``` with ```sudo -i```
- 🈵 ```sudo -i``` alias, remove ```sudo``` from login profile.d launch. Too messy.

Also need to:
- Set RAMdisk to dietpi user by default
-- DietPi user should always be the 1st user on system ```1000```. need to check across devices.
[code]
``` set

[2018-04-25 11:00] Fourdee commented on #818
@Jelmer-H

Interesting!

Seems RPi manufacturing quality control has recently dropped. My RPi 3 B+ ethernet has a hardware fault on day one:
https://github.com/Fourdee/DietPi/issues/1627#issuecomment-374669173

[2018-04-25 11:10] Fourdee commented on #1477
Ok, so I was unable to find a viable method of integrating our globals into ```sudo```.
However, users can use ```sudo -i``` or ```G_SUDO``` to run our global commands.

We can only hope the user sees the message 1st:
[code]

---

To do:
- 🈯️ remove ```sudo``` from login, manually add sudo entries in for programs that require it.

[2018-04-25 11:21] Fourdee commented on #1477
Ok done.

@MichaIng

If I missed anything, please send me a nudge :)

[2018-04-25 11:21] #1477 closed, assigned to Fourdee, MichaIng

[2018-04-25 11:22] Fourdee commented on #830
Yep 😃, just hope it migrates easily (doubt it)

[2018-04-25 11:35] Fourdee commented on #1452
/dev/mmcblk1p7 262144 15523806 15261663  7.3G Linux filesystem
Command (m for help):

Looks like everything went through, but possibly it didn't write the final command ```w```. Which doesnt make sense as a new line is added after ```w```.

[2018-04-25 16:56] tomillr commented on #1171
As far as I was able to glean from the documentation over at [Linuxium's blog](http://linuxiumcomau.blogspot.com/2017/06/customizing-ubuntu-isos-documentation.html), Apollo Lake chips can run a 64bit OS (like the preinstalled Windows 10) but the UEFI implementation is somehow still 32bit.

I've already tried using MBR with Rufus. Unfortunately, the legacy bios option is not available on this syste

[2018-04-25 21:32] unclehowell opened #1729 "dietpi-software install 152 (avahi-daemon) | crashes dietpi"
## Creating a bug report/issue:

when you install software ID 152 with dietpi.txt it works fine.
But try to run the install using a command on a running system, later down the line (dietpi-software install) and it freezes mid install.

DietPi Version | 6.7
RPi 3
5v 2a PSU
cheap & nasty 16GB SD Card

I'm working on building something upon dietpi called WaveOS, so should have more feedback for you g

[2018-04-25 22:38] esturniolo commented on #818
Ops.

My bad!!! I was test the wrong Zero! I feel like a stupid. Sorry @Fourdee for wasting your time.

[2018-04-26 05:43] GB59 opened #1730 "Dietpi update from 6.4 to 6.7 on nanopi neo2"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version | v6.4
- SBC Device     | NanoPi NEO 2 (aarch64) (index=65)
- Distro         | stretch (index=4)
- Command        | G_AGUP
- Error Handler  | G_ERROR_HANDLER

#### Additional Information (if applicable):
- Software title | DietPi-Update

#### Expected behaviour:

#### Actual behaviour:

#### Steps to reproduce:

#### Addi

[2018-04-26 08:45] pedrom34 commented on #1108
I'd love to see radicale in dietpi-software instead of baikal.

[2018-04-26 10:33] Fourdee commented on #818
@esturniolo

No worries, i've done the same thing in the past 😃

[2018-04-26 10:34] Fourdee commented on #818
Marking as closed, unable to replicate (https://github.com/Fourdee/DietPi/issues/818#issuecomment-383854092).

Please reopen if required.

[2018-04-26 10:44] Fourdee commented on #1729
@unclehowell

But try to run the install using a command on a running system, later down the line (dietpi-software install) and it freezes mid install.

Thanks for the report 👍

I'll run a install test to see if we can replicate.

[2018-04-26 10:48] Fourdee commented on #1729
@unclehowell

Appears to be working fine in local testing, unable to replicate.

If its a hard lock, could be hardware related (SD/PSU instability). Do you receive any error messages when it fails?

[code]

[2018-04-26 11:54] Fourdee commented on #1730
@GB59

Thanks for the report 👍

Please try changing the APT mirror:
```dietpi-config``` > Networking options NAS/MISC > APT mirror

Please let us know if this resolves.

[2018-04-26 14:46] zzlinwq opened #1732 "Dietpi update Failed"
## Creating a bug report/issue:
DietPi 6.7
 DietPi-Software
─────────────────────────────────────────────────────
 Mode: Installing Xserver: linux display system

[  OK  ] DietPi-Software | APT installation for: xcompmgr xterm xinit xauth xserver-xorg dbus-x11 xfonts-base x11-xserver-utils x11-common x11-utils libgl1-mesa-dri libgles2-mesa mesa-utils, please wait...
E: Failed to fetch http://mirro

[2018-04-26 15:00] MichaIng commented on #1732
@zzlinwq
Thanks for your report.
Just a quick check: I was able to download the .deb file. Possibly a temporary issue with the repo?

@Fourdee
Since we got several issues with repositories lately, perhaps we can skip script exit with G_AGX errors during dietpi-update, at least for the regular ones that are not related with a certain needed patch in patch_file?
This way at least the update would fi

[2018-04-26 17:24] MichaIng commented on #1716
Ah add to prereq already there :+1:

[2018-04-26 17:24] #1716 closed, assigned to Fourdee, MichaIng

[2018-04-26 20:47] MichaIng commented on #1159
Hmm, I think I just fixed the Nginx support hint, but can't find something about noip any more. Was this already fixed before?

[2018-04-27 03:22] dangamboa commented on #1515
Well I was expecting that, would be possible that you test if it works with the Dietpi Image for Rock64? I'm planning to replace the C2 with that board

[2018-04-27 06:45] Gokujo opened #1733 "Fresh install stopped on Xserver"
## Creating a bug report/issue:
During a fresh install it stopped on Xserver
![2018-04-27 08_42_36-192 168 13 32 - putty](https://user-images.githubusercontent.com/19776684/39348299-d21ed672-49f6-11e8-8616-b164b6200051.png)

#### Required Information:
- DietPi Version_ 6.7
- SBC Device: RPi 3B
- Distro: Linux DietPi 4.14.34-v7+ #1110 SMP Mon Apr 16 15:18:51 BST 2018 armv7l GNU/Linux
#### Steps to

[2018-04-27 10:30] Fourdee commented on #1733
@Gokujo

Thanks for the report 👍

I was unable to replicate in local testing, most likely temporary internet/APT issue, or filesystem issue.

Please try re-running the installation again.

If the same issue occurs, please paste results of (everything after/below ```[20.0]``` should be enough):
[code]

It may also be worth trying another APT mirror:
```dietpi-config``` > Networking Options NAS/MISC

[2018-04-27 10:54] Gokujo commented on #1733
[code]

[2018-04-27 10:56] Fourdee commented on #1732
@MichaIng

I'am not too keen on this, adds additional patch checks and may create more issues down the line, for the users installation if not consistent error handled.

Maybe we could add a while loop for all G_ERROR based commands, with a prompt after failure?:
Similar to the internet connection test prompt
- Retry
- Edit networking options (EG: change APT mirror)
- Exit

[2018-04-27 11:42] MichaIng commented on #1732
@Fourdee
Jep, this is a great idea, same like we do for NTPD within dietpi-software: https://github.com/Fourdee/DietPi/blob/master/dietpi/dietpi-software#L149

Retry of `G_AGUP` should include an apt clear like we do with the cleaner: https://github.com/Fourdee/DietPi/blob/master/dietpi/dietpi-cleaner#L579-L580
- Although options should be `-Rfv` to also include the partial folder 😉.

... but we s

[2018-04-27 12:01] Fourdee commented on #830
New server,
- Debian 9
- Dual core 3GHz
- 2GB RAM
- 20GB SSD

[code]

[2018-04-27 13:19] Fourdee commented on #830
Import of phpbb3 forums is a failure:
- phpbb3 backup restore
- phpmyadmin SQL import

Both fail with multiple endless errors. Most likely too much has changed since 3.0 and 3.2 currently. May not be possible ☹️

---

We may need to upgrade dietpi.com to 3.2 (risky + downtime), before we can transfer:
https://www.phpbb.com/support/docs/en/3.2/ug/upgradeguide/upgrade3/

🈯️ Install 3.0 on new server

[2018-04-27 14:58] MichaIng commented on #830
@Fourdee
And after upgrade, to have a clean phpBB and phpMyAdmin instance, export again from new server, reflash clean image and import again 😆. No I think the effort is not worth it 😋.

[2018-04-27 15:19] Fourdee commented on #830
@MichaIng

http://185.101.93.93/phpbb

[2018-04-27 15:53] dennisvanderpool commented on #830
I just visited the site and noticed your remark. Just let me know if i can help (testing).

[2018-04-27 15:56] Fourdee commented on #830
Status:
- 🈯️ PHPBB migration + upgrade to 3.2.2. Mirror issue with PHPdebug, due to centre BB code (should now be resolved)
- 🈯️ dietpi-survey
- 🈯️ DietPi site + downloads
- 🈯️ (domain record updated, pending DNS refresh) | Activate / IP swap from old server to new server
- 🈯️ DietPi update mirror
- 🈯️ Setup HTTPS and forced http redirect
[code]
![image](https://user-images.githubusercontent.com/7

[2018-04-27 16:57] Fourdee commented on #830
@dennisvanderpool

👍 Should now be ready for testing, as long as your DNS server has updated:
http://dietpi.com

It should redirect you to https

[2018-04-27 18:34] Fourdee commented on #1733
@Gokujo

~Thanks, looks fine.~

Which SDcard and PSU used on the device?

[2018-04-27 19:33] Gokujo commented on #1733
I tell you this in monday

[2018-04-28 06:15] 1activegeek commented on #1452
Just dropping in to add that I saw this as well. Rock64 w/ 16GB SanDisk Class 4. Ran the script manually to expand filesystem then was all good to re-launch dietpi-software to setup. I actually just restarted so it kicked in fresh.

[2018-04-28 09:34] ChargingBulle commented on #830
![img](https://image.ibb.co/f11Kgx/image.png)
some parts still feel unsafe

[2018-04-29 00:01] piszpanjuzef commented on #804
Hi yumiris,
Downloaded your Hyper-V virtual machine and installed. It work perfectly.
thank you very much for for working Hyper-V machine.

[2018-04-29 00:26] MichaIng commented on #1696
@Fourdee @k-plan
I tried to test the Pi-hole development branch (the only one, which contains Fourdee's PR), but sadly it's kinda horrible to do and failed as well:
- [x] 🈯️ Installation worked fine, Lighttpd was left out.
- FTLDNS is included with this branch by the way, at least with the pihole-FTL branch. Pi-hole core does `pihole-FTL --resolver` to check if it is FTLDNS or dnsmasq is needed.
-

[2018-04-29 00:50] aterhorst opened #1734 "Install owncloud"
## Creating a bug report/issue:

Connecting to download.owncloud.org (download.owncloud.org)|46.4.80.187|:443...
connected.
ERROR: The certificate of ‘download.owncloud.org’ is not trusted.

#### Required Information:
- DietPi Version 6 7
- SBC Device RPi 3
- Power supply used 5V 2.1 A
- SD card used (EG: Sandisk ultra)?
- Distro Linux DietPi 4.14.34-v7+ #1110 SMP Mon Apr 16 15:18:51 BST 2018 armv

[2018-04-29 02:14] clarky0000 opened #1735 "Dietpi software | sonarr - error on install"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version 159
- SBC Device RPi 3
- SD card used (EG: Sandisk ultra)?
- Distro Linux DietPi 4.9.62-v7+ #2 SMP Fri Nov 17 23:52:26 GMT 2017 armv7l GNU/Linux

#### Additional Information (if applicable):
- Software sonarr
- Can this issue be replicated on a fresh installation of DietPi? Dont know.

Got an error trying to install Sonar

[2018-04-29 03:18] lupa18 opened #1736 "Can't find Docker in dietpi-software"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version | cat /DietPi/dietpi/.version
6
7

- SBC Device: Rock64
- Power supply used: 5v 3A
- SD card used: 32GB CLASS10 MICROSD CARD
- Distro: Linux DietPi 4.4.77-rockchip-ayufan-136

#### Additional Information (if applicable):
- Can this issue be replicated on a fresh installation of DietPi: yes

#### Expected behaviour:
I shou

[2018-04-29 05:02] aterhorst commented on #1734
Managed to reproduce problem with fresh install. I did work around by creating
    nano ~/.wgetrc
inserting check_certificate=off
and then source ~/.wgetrc

[2018-04-29 05:03] aterhorst commented on #1734
This was not a problem last time I installed owncloud (Jessie).

[2018-04-29 07:47] AYapejian opened #1737 "Chromium autostart fails to launch"
## Creating a bug report/issue:

#### Required Information:
* DietPi Version:
[code]
* SBC: RPi 3
* PSU: 5v 3a noname
* SD Card: Sandisk evo 32gb
* uname:
[code]

#### Additional Information (if applicable):
- Software title: Chroumium
- Can this issue be replicated on a fresh installation of DietPi? Yes with Autostart set to Chromium

#### Expected behaviour:
Chromium should autostart

#### Actua

[2018-04-29 10:42] Fourdee commented on #830
@JonasDralle

Thanks for the report 👍

Appears Firefox doesnt like http links used on the site, or it doesn't like the http redirect, we'll try to resolve:

🈯️ Resolved:
![image](https://user-images.githubusercontent.com/7077026/39405758-cc1ab25c-4ba2-11e8-8fe2-016b4b9ea722.png)

[2018-04-29 10:49] Fourdee commented on #830
Completed.

[2018-04-29 10:49] #830 closed, assigned to Fourdee

[2018-04-29 10:50] Fourdee commented on #1735
@clarky0000

Thanks for the report, we'll try to replicate 👍

[2018-04-29 10:54] Fourdee commented on #1735
@clarky0000

You are running an outdated version of DietPi, which is no longer supported. v6.0 or higher is required and contains vast number of fixes and improvements.

Please see the following link for more information. You will need to download and install the latest image:
https://github.com/Fourdee/DietPi/issues/1355

🈯️ Confirmed install of Sonarr running fine on v6.7

I'll mark this as clos

[2018-04-29 10:54] #1735 closed, assigned to Fourdee

[2018-04-29 10:55] Fourdee commented on #1736
@lupa18

Thanks for the report 👍

Confirmed, Docker install is disabled for ARMv8 devices. We'll find out why and report back.

[2018-04-29 10:57] Fourdee commented on #1736
notes:
[code]

[2018-04-29 11:29] MichaIng commented on #830
SSL Labs result looks good. Cipher suites could be a bid stricter, but some old clients would be excluded.
Mozilla SSL generator with intermediate settings always provided 95%/A+ as far as I remember, but hmm, actually this looks exactly like what you are using (besides disabled OCSP stapling: https://mozilla.github.io/server-side-tls/ssl-config-generator/?server=apache-2.4.25&openssl=1.0.2l&hsts=

[2018-04-29 12:24] Fourdee commented on #1736
Unsure why its disabled, test install on Odroid C2 was sucessful:
[code]

🈯️ I've re-enabled ARMv8 Docker install for v6.8.

@lupa18

Run the following command to enable the install now:
[code]

Completed for v6.8.

[2018-04-29 12:24] #1736 closed, assigned to Fourdee

[2018-04-29 12:38] Fourdee commented on #1734
@aterhorst

Thanks for the report 👍

Unable to replicate on Odroid C2 Jessie:
[code]

Please check the following package is installed:
[code]

If not, please install it.
NB: this is default for PREP based installs, should already exist.
[code]

[2018-04-29 13:42] Fourdee commented on #1707
Resolved standard boot SDL2 keyboard link.
Fast boot is still affected, unable to resolve currently, will mark it as a known issue.

[2018-04-29 13:42] #1707 closed, assigned to Fourdee

[2018-04-29 14:23] Fourdee commented on #1519
Aside from the reboot issue (hardware issue on the dev samples, or kernel issue, unsure), device runs flawlessly.
We'll implement Kodi and GPU at a later date, pending Meveric's packages.

Released under BETA status on dietpi.com.

Completed (for now).

[2018-04-29 14:30] Fourdee commented on #1519
Re-opened to remind me to check serial again:
https://github.com/Fourdee/DietPi/issues/1519#issuecomment-368595231

[2018-04-29 17:01] Fourdee commented on #1452
Hi all,

I've updated our image, slight modification to the resize script. If you have experienced inability of image auto resize, please re-download and try the new image:
https://dietpi.com/downloads/images/DietPi_Rock64-ARMv8-Stretch.7z

Please let us know if this works for you. Many thanks.

[2018-04-29 20:52] 1activegeek commented on #1452
Is there anything else that was drastically changed in the image? I see it went on a "diet" from 700MB down to 575MB. I hadn't gotten far in my config, so I'm willing to test this new image out and validate the fix, but wanted to make sure there isn't something else missing.

[2018-04-29 21:58] 1activegeek commented on #1452
So just as an update - I tried running this on a separate SD card. No luck. Still ended up with no expanded space. It gave me the low space notification after trying to do minimal install. Output of df -h:
[code]

[2018-04-30 07:04] symbios24 commented on #1737
try the sh start-chrome.sh

[2018-04-30 11:18] MichaIng commented on #1510
### `pgrep` vs. `ps aux | grep -q`
- Sadly there is no quiet check option for `pgrep`, anyway it's faster:
[code]

[2018-04-30 11:39] Fourdee commented on #1452
@1activegeek

Many thanks for testing this for us. Ok, we'll need to rethink this image and process. Leave it with us for now and we'll re-asses, will report back once we have something for testing.

Thanks again for testing for us. As i'am unable to replicate this issue on our local tests, I really appreciate it 👍

Our DietPi image PREP system has been highly optimized since the start of v6.0. We

[2018-04-30 12:25] Fourdee opened #1740 "DietPi-Drive_Manager | Root/BootFS fsck on reboot"

[2018-04-30 12:40] MichaIng commented on #1740
@Fourdee
Jep, I like the idea. Although I am not sure, if forced fix is always the best, as it can also lead to data loss. Although, the data is anyway lost, if fix cannot be applied, right?

[2018-04-30 12:42] Fourdee commented on #1740
@MichaIng

Pretty much, lost via known fixable means. Paid Data recovery business then required.

[2018-04-30 12:48] MichaIng commented on #1740
@Fourdee
Yeah, the question is if then the fsck fix attempt and removal/clearing makes things worse.
Maybe there is some level of errors where we can leave choice to user, informing in the first place about possible results of a forced fix/clearing.

[2018-04-30 12:55] 1activegeek commented on #1452
No problem. Glad to help. I love the OS itself, and happy its available to run on my Pine64/Rock64 boards. I'll keep a follow on this thread when a potential new fix comes along. I've usually got a spare SD card that I may be able to use for testing/validation.

Hopefully for now, anyone getting stuck on this will google and end up here. The band-aid above works which is the good news. Also love t

[2018-04-30 12:58] Fourdee commented on #1740
@MichaIng

Yep 👍

Dry run 1st, then repair option?

[2018-04-30 13:39] Fourdee commented on #1740
Finally fixed the incorrect scaling in G_WHIP while I was here 🤣 :
We now calculate character count per line against X, yep, its a little slower, but, required to prevent lost free space driving me up the wall 😃 :

#### Before
![image](https://user-images.githubusercontent.com/7077026/39430001-87c82ab6-4c84-11e8-85cd-e72b2e087ed4.png)

#### After
![image](https://user-images.githubusercontent.com/

[2018-04-30 14:08] Fourdee commented on #1740
🈯️ Tested with EXT4 external drive

[2018-04-30 14:12] Fourdee commented on #1740
Ok so only downside, as we define drive must be unmounted for a check/repair to run, this removes the ability to do this on:
- /boot (which has umount disabled to prevent issues with ramdisk etc)
- RootFS (cannot/should not be done on a active filesystem)

[2018-04-30 14:36] Fourdee commented on #1510
@MichaIng

Very nice, basically x2 performance 👍

[2018-04-30 14:37] Fourdee commented on #1737
@AYapejian

Many thanks for the report and fix👍

We'll try to replicate.

[2018-04-30 15:03] Fourdee commented on #1737
Confirmed.

Notes:
- 🈯️ We can also remove the pre-req for desktop install.
- 🈯️ We'll implement auto GPU mem split increase in ```dietpi-software``` during Chromium install.
- 🈯️ We'll also implement a startup bash script for Kiosk and additional options, based on @AYapejian
- 🈯️ Default set to 720P can be adjusted in script | ~Also need to resolve: https://github.com/Fourdee/DietPi/issues/1137 (

[2018-04-30 15:36] MichaIng commented on #1740
@Fourdee
Jep, I guess this is known that rootfs can only be scanned and repaired on reboot (boot arguments) or on other system.

For /boot, as long as it's within single script on our control, I think it's okay to umount + check + remount it? Only important thing is it being mounted again on reboot/shutdown for ramdisk?
Actually as far as I can remember FAT fs can be scanned while mounted as well,

[2018-04-30 18:07] LexiconCode commented on #1701
Install
Ubuntu 16.04. [Odroid C2, C1, XU4](https://forum.odroid.com/viewtopic.php?t=27661)
Pi 2 or Pi 3 but not Pi 1
[Mycroft is available for Linux by several methods.](https://mycroft.ai/documentation/linux/)

[2018-05-01 04:19] Fffrank commented on #719
I'm a new user but unfortunately I believe I just joined this club. Installed DietPi on a fresh Odroid C2 w/ a Sandisk 128gb card. Had things up and running and was tinkering with it. Connected an external USB drive and rebooted -- and directory is now empty. Boots and I can login but can't run any dietpi commands.

[code]

[2018-05-01 09:00] clarky0000 commented on #1388
Im having this issue while trying to install Sonarr. I'm running Dietpi version 159 also. I see you say
 Dirmngr is now installed on all DietPi systems by default
Can I update my existing version? If so how? Or do I have to rebuild from a new image?
Thanks in advance
clarky

[2018-05-01 09:36] pedrom34 commented on #1388
You have go from scratch to switch from v159 to v6.X.

[2018-05-01 13:27] Fourdee commented on #719
@Fffrank

Thanks for the report. To the best of our knowledge, this issue is always related to hardware instability.

Please paste results of the logs:
[code]

Also, which power supply are you running?

[2018-05-01 13:29] Fourdee commented on #1388
@clarky0000

Please see the v6.x FAQ for more information:
https://github.com/Fourdee/DietPi/issues/1355

[2018-05-01 15:00] Fffrank commented on #719
@Fourdee This power supply: https://www.amazon.com/gp/product/B0719SX3GC/

[code]

[2018-05-01 16:17] MichaIng commented on #1510
@Fourdee
🤣 Found `grep -q` to be slower in any case compared to `[[ ]]`, where we finally just want to check/compare strings. Should be used only, if it's about isolating certain lines from string/command/file:
NB: Finally the overall difference of using this or that of course will be in most cases unnoticed by end user, so no need to actively change. But very interesting to keep in mind.
**€: Oka

[2018-05-02 01:32] Fffrank opened #1741 "Webmin missing perl dependency during install"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version | 6.7
- SBC Device (EG: RPi 3)? Odroid C2
- Power supply used (EG: 5v 1A RAVpower)? 2.5A Amazon
- SD card used (EG: Sandisk ultra)? Sandisk Ultra
- Distro (EG: Jessie) | Jessie

#### Additional Information (if applicable):
- Software title? WebMin
- Can this issue be replicated on a fresh installation of DietPi? Yes.

###

[2018-05-02 03:06] ghost opened #1742 "Image for NanoPi Fire 3/M3/T3 with kernel 4.4?"
Have a NanoPi Fire 3 - I installed the existing M3/T3 image and it works fine but has the dated 3.x kernel.   Is it possible to get an updated image based on the 4.4 kernel version?

http://wiki.friendlyarm.com/wiki/index.php/NanoPi_Fire3#Get_Started => img s5p6818-friendly-core-xenial-4.4-arm64-YYYYMMDD.img.zip

Thanks!

[2018-05-02 07:49] MichaIng commented on #1742
@swd120
Thanks for your request.

Can't say much about NanoPi but note, that the images you link are `Ubuntu` based, where DietPi needs `Debian` based images 😉.
Although I was experimenting a bid about installing DietPi on top of Ubuntu, but this is far away from being stable or even working with much hack around: https://github.com/Fourdee/DietPi/issues/1557

[2018-05-02 08:41] nyx-rattapoom opened #1743 "RPI high temperature when system idle"
#### Required Information:
- DietPi Version : 6.7
- SBC Device : RPi 1 B
- Distro: Linux raspberry 4.14.37+ #1111 Thu Apr 26 13:33:13 BST 2018 armv6l GNU/Linux

I recent change OS from raspbian-lite to DietPI. After fresh install I saw cpu abnormal temperature.
In raspbian cpu temperature idle ~42-45 C but on DietPI it idle ~60 C.
I `sudo cpu` command it told min-max cpu frequency is the same (700

[2018-05-02 09:53] MichaIng commented on #1510
### `[[ ]]` vs. `[ ]`
[code]
- As also shown above with string comparisons, double quotes seem to be generally handled slightly faster in bash. Also the advantage that ext. regex are allowed, `&&` `||` within the brackets leads to that it might be worth thinking to strictly use double brackets within DietPi / bash-only scripts. Only for backwards compatibility of scripts, that users might want to

[2018-05-02 13:15] Fourdee commented on #1510
@MichaIng

Great find, yep, lets go with double brackets from now on? 👍
Might take me a while to adjust, got so used to ```[ ]``` lol 😃

[2018-05-02 14:32] Fourdee commented on #1510
$x is also faster than "$x":
[code]

Maybe we could ```$x``` for filepaths/strings that we know do not contain culprit chars?

[2018-05-02 14:57] Fourdee commented on #719
@Fffrank

[    6.564644] FAT-fs (mmcblk0p1): Volume was not properly unmounted. Some data may be corrupt. Please run fsck.

Looks like a corrupt SD filesystem. Any recent power cuts? If not, could be SD card failing, or PSU is insufficient (we highly recommend the official RPi PSU's).

You'll need to reinstall DietPi on the SD card.

[2018-05-02 15:00] Fourdee commented on #1743
@nyx-rattapoom

Thanks for the report, we'll run tests to see if we can replicate.

[2018-05-02 16:50] ghost commented on #1742
Hi there @swd120 i think you should start with this image from "armbian" (https://dl.armbian.com/nanopim3/archive/Armbian_5.38_Nanopim3_Debian_stretch_next_4.14.15.7z) and than use the Prep-Script as descirbed by @Fourdee. You'll have than a working DietPi on `Stretch` with `kernel 4.14.15` or higher if you do a firmware update right after you installed the armbian image on first run via `armbian-

[2018-05-02 16:53] ghost commented on #1743
@Fourdee @nyx-rattapoom Just testing this on a old RPiBPlus.... nothing stranged happens there with latest DietPi in Idle mode. CPU is around 43 degrees while doing nothing.

@nyx-rattapoom What else have you installed what could causes the idle so high?

[2018-05-02 17:18] Fourdee commented on #1737
Completed, thanks again @AYapejian  👍

[2018-05-02 17:18] #1737 closed, assigned to AYapejian, Fourdee

[2018-05-02 17:19] Fourdee commented on #1743
@SuBLiNeR

Many thanks 👍

Yep, please also check ```htop```, could be a hardware issue causing 100% cpu.

[2018-05-02 17:37] ghost commented on #1743
@Fourdee Nothing to thank me... It was me a pleasure!

Normally this device runs a MinecraftPE Server and it almost is very low on temperature; around 56 degrees while my son is playing on it.
I did a clean install for only testing this... so it must be a hardware failure or something in the background causing this.

I'm really looking forward on hearing about what else is maybe installed.

[2018-05-02 17:43] Fourdee opened #1744 "Image | NanoPi K1 Plus"
Thanks to FriendlyARM for sending us a dev sample 👍

[2018-05-02 17:45] ghost commented on #1744
Wish i could get in touch of it as well! ;) Would be a pleasure!

It is a very interesting board as it seems. It may take a while until we could get in Germany to test...

[2018-05-02 18:21] tomillr commented on #1171
Anything I can do to provide some more data?

[2018-05-02 18:29] MichaIng commented on #1510
@Fourdee
As said, within double brackets, double quotes are not needed, as string splitting is no problem here. It should always behave exactly the same with and without.
Interesting, that the difference is quite measurable. I think there really seems to be one additional (not needed or doubled) transformation done with "".

[2018-05-02 19:49] Fourdee commented on #1730
Unable to replicate, no response, marking as closed. Please reopen if required.

[2018-05-02 19:49] #1730 closed, assigned to Fourdee

[2018-05-03 19:46] Fourdee commented on #1744
https://dietpi.com/downloads/images/DietPi_NanoPiK1Plus-ARMv8-Stretch.7z

[2018-05-03 20:03] Fourdee commented on #1744
To Do:
- Soundcard selection
-- We'll use our detection method for this device:
![image](https://user-images.githubusercontent.com/7077026/39633724-abf7482a-4fb0-11e8-8c4e-ffdaff08dbb8.png)

- dietpi.com add

- Kernel reported CPU temps appear to be offset by -30'c. We could add a "rough workaround", however, any kernel updates/fixes would render this an issue. We'll leave it as is for now, known

[2018-05-03 21:19] caribou-snake commented on #1108
please add Radicale to dietpi

[2018-05-04 00:32] ghost commented on #1742
Giving that a try - thanks!

[2018-05-04 00:33] #1742 closed, assigned to nobody

[2018-05-04 05:02] nyx-rattapoom commented on #1743
@SuBLiNeR I'm not sure. It same model. Please run ```lscpu``` and ```sudo cpu``` for me.
[code]

@Fourdee I reinstall dietpi without addition install result is the same.
[code]
I don't know why Min Freq is 700 MHz.
I have orange pi zero. It running with dietpi but Min freq is 240 Mhz maybe it cause this issue ?

![screen shot 2018-05-04 at 11 44 00](https://user-images.githubusercontent.com/907207

[2018-05-04 07:00] fieldOfView opened #1747 "DietPi-Software | Raspimjpeg does not stream mjpeg with Lighttpd"
## Creating a bug report/issue:
When installing raspimjpeg (package 59) with Lighttpd as the webserver, streaming mjpeg does not work. Getting jpeg stills in rapid succession (the "default stream" option) does work. Streaming mjpeg does work well when selecting nginx as the webserver preference.

#### Required Information:
- DietPi Version 6.7
- SBC: RPi ZeroW
- Power supply 5v 1A offbrand
- SD ca

[2018-05-04 07:06] pedrom34 commented on #1108
Well, I looked around a bit, and there's a package in debian. So with
``shell
apt-get install radicale``
I made it work.

[2018-05-04 14:45] Fourdee commented on #1743
@nyx-rattapoom

RPi 1 clock steps are 700MHz and 900MHz. Below that is possible, but unstable. Either way, the high CPU temp should not occur at 700MHz idle.

Does the CPU feel hot to the touch? Roughly the same temp?

#### Please paste results:
[code]

[2018-05-04 15:09] Fourdee commented on #1552
XU4 stretch + 4.14:
- if ```console=ttySAC2,115200n8``` is missing from ```boot.ini```, hangs after ```starting kernel``` and does not continue to boot.

Image: https://dietpi.com/downloads/images/DietPi_OdroidXU4-ARMv7-Stretch.7z

[2018-05-04 15:37] Fourdee opened #1748 "DietPi-Drive_Manager | Incorrectly detect/assigns mounts"
Due to ```PTUUID``` being displayed in our results, lacks UUID, causing array values to be switched :
[code]

[2018-05-04 17:32] ghost commented on #1743
@nyx-rattapoom this how it looks to me... while running a Nukkit-Server:

![bildschirmfoto 2018-05-04 um 19 33 32](https://user-images.githubusercontent.com/25368078/39642453-1813c21a-4fd2-11e8-959c-5a9abb5da91b.png)

this is how `htop` looks alike

![bildschirmfoto 2018-05-04 um 19 31 41](https://user-images.githubusercontent.com/25368078/39642368-d95e8ab4-4fd1-11e8-9834-1b9af869646c.png)

Looks

[2018-05-04 18:03] ghost commented on #1743
@Fourdee the result of your command is at least:

![bildschirmfoto 2018-05-04 um 20 04 20](https://user-images.githubusercontent.com/25368078/39643871-64b39f42-4fd6-11e8-8b52-42bd78a03941.png)

So, my thoughts are about following:

- latest kernel is buggy
- it may really a fault of the SBC itself... (in worst case) as of wrong used PSU (may or not)

[2018-05-04 18:10] ghost commented on #1748
Don't see a problem here until it is one if you describe how!?

![bildschirmfoto 2018-05-04 um 20 10 00](https://user-images.githubusercontent.com/25368078/39645005-2a23adc6-4fd7-11e8-8af2-2d7df26ca314.png)

[2018-05-04 19:02] MichaIng commented on #1741
@Fffrank
Thanks for your report.

Even worse on my Stretch VM:
[code]

We should use their dependency list: http://webmin.com/deb.html
`apt-get install perl libnet-ssleay-perl openssl libauthen-pam-perl libpam-runtime libio-pty-perl apt-show-versions python`

**€: But ah wait, this is expected behaviour, we let APT run into dependency issue and then let `apt-get -f install` automatically install/f

[2018-05-04 20:26] baldpitter commented on #1108
Sure, installing the debian package is an option. However, I too think that dietpi should support radicale natively. That would be a great addition!

[2018-05-04 21:08] MichaIng commented on #816
Testing: https://github.com/borgbackup/borg
- Active developed
- Debian repo
- Python based
- Allows everything needed as above.
- LZMA compression takes a while 🤣 ...
- ... exclude file need different syntax, going on tomorrow

[2018-05-05 12:05] MichaIng opened #1749 "Merging DietPi-Set_Core_Environment into DietPi-PREP?"
@Fourdee @k-plan
As DietPi-Set_Core_Environment resets a bid too much to use it for adopting changes on update, what do you think about merging it into the preparation script?

I am sometimes confused when tracking issues on preparation, switching between both scripts. Also some steps are doubled.

It would give a better overview and allows better red line within the process. And it would decrease

[2018-05-05 12:17] ghost commented on #1743
@all So i did some testing here with the latest kernel 4.14.37.... it seems that this kernel is not stable after doing rpi-update at least. it crahses my whole home networking.

Just to inform, do not update as of now via rpi-update!

[2018-05-05 12:44] MichaIng commented on #1743
@SuBLiNeR
Just for the record: `rpi-update` is considered to be a developer tool and might always be unstable in certain environments. In production system one should never use it, as far as there are no certain issues with the latest stable release (APT packages raspberrypi-kernel/bootloader/bin/0) that got fixed with github master: https://github.com/Hexxeh/rpi-firmware

But yeah, I use it also

[2018-05-05 13:29] slim0287 commented on #1540
First, please pardon me if I am posting this in the wrong place.  When I ssh into my dietpi, I get the following message:
-sh: 4: /etc/profile.d/99-dietpi-posix-set-locale.sh: 0: not found

Comments in the 99-dietpi-posix-set-locale.sh script referred to issue 1540 which is why I am posting here.  I'm not running dropbear nor POSIX.  The error message appears to be with how the 'if' statement is w

[2018-05-05 14:04] Fourdee commented on #1747
@fieldOfView

Many thanks for the report 👍

We'll open for investigations.

[2018-05-05 14:07] MichaIng commented on #1540
@slim0287
Thanks for the report. No worries, fits perfect here.

Hmm, the syntax should be fine, at least works well for me and is widely used within our scripts.
Please verify that `locale` and `grep` packages are installed, but should always be: `apt install locale grep`

Also try to run the command manually: `locale | grep -qi 'POSIX' || echo 'no POSIX locale'`

[2018-05-05 14:31] ghost commented on #1743
@MichaIng I know.... but he was talking about `4.14.37+` which i hadn't... so i gave it a try.

Offtopic:

Result was than as explained above. aaaannnndd... normally i'm using the dev kernels with no such problems since 2 years. It is now the second time that my whole network was being killed with this kernel. Just to let you know.... :1234:

[2018-05-05 14:34] ghost commented on #1743
@nyx-rattapoom btw. as i told you, start fresh without using rpi-update or kernel updating. System runs for me stable since 3 hours between 43 - 45 degrees while my son is playing on it.

If it isn't a harware failure it should be okay.

[2018-05-05 14:48] Fourdee commented on #1749
@MichaIng

The original reason for splitting these is to allow us to quickly run ```DietPi-Set_Core_Environment``` to patch critical DietPi 'stuff'/cron jobs/services etc on existing system, without having to manually patch using a copy from PREP.
The idea of it was to simplify patching for us, less chance of bad patch.

However, you make valid points. Yep, lets move this back to PREP.

[2018-05-05 14:56] Fourdee commented on #1171
@tomillr

To implement to support for this, i need to obtain a device with 32bit UEFI BIOS with no CSM/legacy support. I've looked at the AP34:
https://www.gearbest.com/tv-box-mini-pc/pp_617335.html?wid=1433363

£111 + delivery + import tax
Probably looking at £150~ to cover it.

Unless I can get a device to test locally, we are basically going in here blind. I'll need the device to implement, how

[2018-05-05 15:00] slim0287 commented on #1540
Both `locale` and `grep` are installed on my system.  When I run your suggested command manually, I get the following: `no POSIX locale`

When I run the `if` statement from the script on the command line, I get: `> > > > > -sh: 17: 0: not found`
Which is consistent with what I see on login.

Does that help the diagnosis?

Thanks

[2018-05-05 15:07] Fourdee commented on #1734
Unable to replicate on a fresh install of RPi 3.
[code]

```ca-certificates``` is installed by default.

Marking as closed, please reopen if required.

[2018-05-05 15:07] #1734 closed, assigned to Fourdee

[2018-05-05 15:29] bokiroki opened #1750 "plex is missing in dietpi-process_tool"
raspberry pi 3
latest 6.7 system
Hi i want to configure plex but it's missing from dietpi-process_tool
What can i do, all other programs are there..

[2018-05-05 15:32] Fourdee commented on #1552
XU4/C2 stretch images added to dietpi.com:
https://twitter.com/DietPi_/status/992787751262179328

Just need to verify kodi packages again, then check/do C1.

[2018-05-05 15:41] fedekrum opened #1751 "Blue text on update"
#### Required Information:
- DietPi Version | v6.6
- SBC Device     | RPi 3 Model B (armv7l) (index=3)
- Distro         | stretch (index=4)
- Command        | G_AGUG
- Error Handler  | G_ERROR_HANDLER

#### Additional Information (if applicable):
- Software title | DietPi-Update

#### Expected behaviour:

#### Actual behaviour:

#### Steps to reproduce:

#### Additional logs:
[code]

[2018-05-05 16:03] Fourdee commented on #1744
https://twitter.com/DietPi_/status/992796789983141893

Completed.

[2018-05-05 16:03] #1744 closed, assigned to Fourdee

[2018-05-05 16:56] Fourdee commented on #1552
Kodi status:
- C2 🈯️
- XU4 🈯️

Great work Meveric!!!

C2/XU4 stretch images now default on dietpi.com

[2018-05-05 16:59] Fourdee commented on #1552
I'am going to leave the C1 as Jessie for now. Lack any Debian Stretch image, and, time to really invest in achieving it.

Marking as completed.

[2018-05-05 16:59] #1552 closed, assigned to Fourdee

[2018-05-05 17:03] LexiconCode commented on #1552
If were used an image down loaded to day do I need to redownload?

[2018-05-05 17:09] MichaIng commented on #1751
@fedekrum
Thanks for your report.

Can you verify that dirmngr is installed: `apt install dirmngr`
Also try to clean your APT cache:
[code]

And check if your system time is correct: `date`

[2018-05-05 17:20] MichaIng commented on #1540
Hmm, okay to the commands + check syntax run. Mysterious 🤔...
Maybe your file got just somehow corrupted. Please try to reset it:
[code]

[2018-05-05 17:29] Fourdee commented on #1750
@bokiroki

Thanks for the report 👍

We'll take a look.

[2018-05-05 17:54] slim0287 commented on #1540
That solved it.  My script has a different `if` statement as well as other differences, as follows:
[code]
I never modified this script, so I have no idea how it was set this way.  At any rate, thanks for the help.  And I should add, I very much like DietPi!

Thanks again.

[2018-05-05 18:39] Fourdee commented on #1750
Ok yep, as I thought.

Plex spawns new processes each time transcoding starts (and does not follow the parent process nice/affinity etc). Because of this, we would need to run ```dietpi-process_tool``` as a background process, that gets applied every say 60 seconds.
The problem with this, is it will degrade system performance every time it runs, negating its purpose.

As such. I'll add the Plex se

[2018-05-05 18:49] Fourdee commented on #1750
Completed.

[2018-05-05 18:49] #1750 closed, assigned to Fourdee

[2018-05-05 18:50] Fourdee commented on #1552
If the following says "Jessie", then yes
[code]

[2018-05-05 20:49] Fourdee commented on #1733
No response, marking as closed. Please reopen if required.

[2018-05-05 20:50] Fourdee commented on #1748
@SuBLiNeR

Thanks for confirming current install is fine. I experienced this using dev testing branch and in PREP.

[2018-05-05 21:01] Fourdee commented on #1748
Testing C2 passed:
Resolved.

[2018-05-05 21:01] #1748 closed, assigned to Fourdee

[2018-05-06 00:26] bokiroki commented on #1750
Thanks @Fourdee, i see that there is one more plex process: Plex EAE Service
On plex forums i saw that this is Easy Audio Encoder, i suppose it helps when audio is needed to be transcoded, don't know exactly
One question if you dont mind.. deluge is fixed in latest version. didn't had any problems yet, but i see that it's always using 0.7 or 1.3 percent of cpu when it's not used..other programs si

[2018-05-06 05:47] Gokujo commented on #1733
@Fourdee sorry, I've forgotten to post here.
We use SD-Cards from SanDisk and ther original PSu that was delivered with the device.

I tried installation on 3 devices - same problem. we waited 4-7 hours to see what happens and on one device the installation continued after 4 hours and on second one after ca 6 or 7 hours. and this is strange because usually it takes ca 30 minutes.

[2018-05-06 07:14] bsidio opened #1752 "DietPi-Software | PPPoE Server/Client with DHCP"
It would be great if DIET PI can be used as a router.

[2018-05-06 07:40] bsidio commented on #1752
No, not modem just a pppoe Server since I get a wan connection type pppoe. It won't require any special hardware.
Just need to install https://packages.debian.org/search?keywords=pppoe

[2018-05-06 07:53] MichaIng commented on #1749
@Fourdee

If we want to use it for the initial purpose, as far as I could see, we need to move at least dietpi user creation, cron and grub adjustments that would overwrite manual user additions/changes.

What do you think of the idea to create a separate /root folder tree on github that contains a folder structure for needed DietPi files outside of /boot/dietpi? This could me merged then into roo

[2018-05-06 08:00] MichaIng commented on #1752
@bsidio
Ah okay, to be true this is not my profession, I think @k-plan might be able to help you best with what is possible there.

Not sure if the current DietPi network settings are compatible with this (without manual adjustments that could then break proper work of DietPi-Config).

But sounds interesting if its possible/compatible to implement into DietPi.

[2018-05-06 08:14] nyx-rattapoom commented on #1743
@Fourdee
[code]
@SuBLiNeR  OK, After that I will reinstall dietpi without rpi-update and post result again.

**Update**
After reinstall without rpi-update result is the same I will reverse back to raspbian-lite for a while.

[2018-05-06 09:14] dietpiuser opened #1753 "DietPi failed to install with Vmware image"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version | v6.4
- SBC Device     | Virtual Machine (x86_64) (index=20)
- Distro         | stretch (index=4)
- Command        | Connection test: https://deb.debian.org/debian/
- Error Handler  | G_ERROR_HANDLER

#### Additional Information (if applicable):
- Software title | DietPi-Software

#### Expected behaviour:

#### Actual be

[2018-05-06 09:53] nyx-rattapoom commented on #1743
So I installed raspbian-lite without addition.
[code]
from `vcgencmd version` output same as dietpi but temperature lower than 10'C.
So I cann't find the reason why, And now I'm done.

[2018-05-06 10:53] MichaIng commented on #1753
@dietpiuser
Thanks for your report.

Hmm that's strange, I can't access https://deb.debian.org/debian directly here, but https://deb.debian.org/debian/dists/ works and then going back to parent folder.

Perhaps something changed in the way the redirector works, at least for some then chosen mirrors. Don't know. Might be we need to change the way we check for repo availability.

Please try to chang

[2018-05-06 11:18] dietpiuser commented on #1753
Hi,

THanks for your response. I've updated the APT mirror list and it goes through but hit a new error. See attached.
![dietpierror2](https://user-images.githubusercontent.com/39023071/39672715-0c82761a-5173-11e8-9e25-66e61c29d9e7.png)
![dietpierror3](https://user-images.githubusercontent.com/39023071/39672716-0ceabffe-5173-11e8-81d8-e60c6d0617d3.png)

Reading package lists...
W: The repository '

[2018-05-06 12:15] MichaIng commented on #1753
@dietpiuser
Ah yeah, the security mirror is not touched by dietpi-config as its URL structure is different on different main mirrors.

As it is related to certificate issues, please try to reinstall the debian keyring and ca-certificates, at least it's worth trying:
`apt install --reinstall debian-archive-keyring ca-certificates`

Otherwise, as the above most properly will not help, please manuall

[2018-05-06 12:38] Fourdee commented on #1750
@bokiroki

Most likely due to Deluge being coded in Python, and/or the program itself is inefficient. We have pretty much optimized it as much as we can, aside from that, it down to the raw program itself.

Try transmission, its coded in C, should perform more efficient.

[2018-05-06 12:42] Fourdee commented on #1743
@nyx-rattapoom

Interesting, thanks for posting the results.

Its possible a incorrect CPU clock is being applied based on the board revision number and detection.

Please can you paste results, we'd like to verify the RPi revision number:
[code]

And if you run DietPi again, please paste results:
[code]

---

NB: for RPi 1 devices, we automatically set the CPU max clock to 900MHz (up from 700MHz

[2018-05-06 13:09] Fourdee commented on #1753
@MichaIng

Wouldnt be the first time:
https://github.com/Fourdee/DietPi/issues/669#issuecomment-269344844

[2018-05-06 13:11] Fourdee commented on #1747
Moved to 6.9 so we can focus on 6.8 wrap up and release.

[2018-05-06 13:16] Fourdee commented on #1749
@MichaIng

We could try to use our existing ```/var/lib/dietpi``` folder for this?

I've probably not had enough coffee yet 🤣 , but i'am unsure what you mean? 😕

[2018-05-06 13:23] Fourdee commented on #1733
@Gokujo

Thanks 👍

Please send us a bug report on the affected device, i'd like to check your system configuration:
[code]

And please reply with the ```Reference CODE```

[2018-05-06 13:37] Fourdee commented on #548
@MichaIng @k-plan
Webserver stats: https://dietpi.com/report.html

[2018-05-06 13:50] MichaIng commented on #1749
@Fourdee
I mean our service files and properly configuration files we add: E.g. `dietpi-boot.service` `/etc/profile.d/99-dietpi*` etc. All those which need a certain location on system.
Storing them within the same folder structure on github as well, so that we can just copy this to `/` and are fine.

[2018-05-06 15:07] Fourdee commented on #1749
@MichaIng

Makes sense 👍 Good idea. Yep agree, lets go ahead with this.

[2018-05-06 15:12] Fourdee commented on #1729
No response, making as closed.
Please reopen if required.

[2018-05-06 15:12] #1729 closed, assigned to Fourdee

[2018-05-06 15:14] Fourdee commented on #1519
Completed (for now), sent my dev sample to @midwan 😃

Will order a new one and re-do image when mass production starts.

[2018-05-06 15:14] #1519 closed, assigned to Fourdee

[2018-05-06 15:16] Fourdee commented on #1753
@MichaIng

~I'll setup a VM and try to replicate.~ Hard lock extracting vmware image. Seems its getting much more unstable. I need a new PC 😢
Second time lucky.

Same error, exist on image:
[code]

[2018-05-06 15:42] Fourdee commented on #1753
Ok we can add ```--no-check-certificate``` to our wget G_ command:
- Pro's: Stability
- Cons: Security

Or
- Try 1st with cert check, then without after failure?

---

This then fails:
#### Required Information:
- DietPi Version | v6.4
- SBC Device     | Virtual Machine (x86_64) (index=20)
- Distro         | stretch (index=4)
- Command        | G_AGUP
- Error Handler  | G_ERROR_HANDLER

#### Addit

[2018-05-06 15:48] Fourdee commented on #1753
NTP sync is the issue:
[code]

[2018-05-06 15:50] Fourdee commented on #1753
I'll recreate the image from scratch, issue should be resolved with latest version of DietPi + PREP.
Locked again, try a 3rd time.

[2018-05-06 17:24] Fourdee commented on #1753
Nope, PC hard locking every 20-30 minutes. Going to try and start a Go Fund Me to replace it, I don't have the funds available.

[2018-05-06 17:27] Fourdee commented on #1753
#### Fundraiser:
https://www.gofundme.com/dietpi

[2018-05-06 19:56] bokiroki commented on #1750
@Fourdee i installed transmission like you said. When i enter transmission config
/var/lib/transmission-daemon/info/settings.json
i see some options that are from older versions and some from newer versions..
With google i found this thread, someone mentioned that it because of script, i quess you are using script to inject optimised options for dietpi..
https://forum.transmissionbt.com/viewtopic.

[2018-05-06 22:26] Fourdee commented on #1750
@bokiroki

In our attempt to cover both Jessie and Stretch configurations. I'll run some tests and see if a complete re-do of the config is required.

Thanks for the heads up 👍

Ticket: https://github.com/Fourdee/DietPi/issues/1754

[2018-05-06 22:27] Fourdee opened #1754 "DietPi-Software | Transmission, review/clean configs across distros"

[2018-05-06 23:40] dietpiuser commented on #1753
Hi guys,

After manually adding the below lines in /etc/apt/sources.list as a workaround, it worked and i was able to continue the installation.

[2018-05-07 07:02] dietpiuser commented on #1753
HI guys,

I'm trying to add an IPtable entry and it fails with the below error:

root@DietPi:~# /usr/bin/sudo /usr/share/bash-completion/completions/iptables -A INPUT -p tcp --destination-port 443 -j REJECT --reject-with tcp-reset
sudo: /usr/share/bash-completion/completions/iptables: command not found

Tried up update IPtable and I can the below error:

root@DietPi:~# apt-get update && apt-get in

[2018-05-07 07:43] gieljnssns opened #1755 "DietPi-PREP | Install on MAC"
Is it possible to install dietpi directly on a macbook air.

[2018-05-07 08:29] Gokujo commented on #1733
`6388b7b3-76e7-4531-a684-b0b132abee7e-0 `

[2018-05-07 09:45] MichaIng commented on #1753
@Fourdee
[code]
Packed it with ULTRA compression mode, maybe high should be enough :laughing:.

Hmm I don't like the idea to not check certificates. I mean HTTPS is pretty standard for many repos and deb.debian.org is standard repo on Debian. Should work fine, even that indeed we see quite often issues. Of course correct system time needs to be set for correct cert check. So we could offer checkin

[2018-05-07 11:10] MichaIng commented on #1755
@gieljnssns
The question is if default Debian runs on MacBook. Found this: https://wiki.debian.org/MacBook#Debian_installation

It is not recommended but seems to work with the netboot installer, that we also use for our x86 images.

You can simply try to use our x86 EFI image. Otherwise manually install Debian with the netboot installer and run our preparation script on it.

No guarantee, as I do

[2018-05-07 11:59] bokiroki commented on #1754
@Fourdee i installed transmission daemon with apt-get install and i get same legacy options..so debian package manager decided to use them..and after i saw in transmission manual there are only few legacy options and they are not that important.. so it's not big deal.. you can close this issue if you want..

[2018-05-07 15:16] k-plan commented on #548
@Fourdee

Wow, nice to see, you have reach the goal within 20 hours: :heart:

https://www.gofundme.com/dietpi#updates

Impressive, the  two really big  donations by TLLim888 (Pine64) and  Simon Fell:

https://twitter.com/TLLim888/status/993340398054473728

https://www.gofundme.com/dietpi

@MichaIng
- was mich persönlich richtig erfreut ist,  wenn ich denn die Namen richtig interpretiere, die Anzah

[2018-05-07 15:51] k-plan commented on #1752
@bsidio

So I think, you need a PPPoE Client , not a PPPoE Server for your device.
And you need two different physical network interfaces, eg. `eth0` and `eth1` or `eth0` and `wlan0` or `wlan0` and `wlan1`, etc .

Yes possible, if you have two interface (`ethernet` or `WiFi`) on your device :

- https://blog.confirm.ch/using-pppoe-on-linux/

- https://wiki.debian.org/PPPoE

Yes, correct. After add

[2018-05-07 16:07] Fourdee commented on #1753
@MichaIng

Yep, agree 👍

I'am pretty sure an updated image will resolve it, NTP check seems off during the 1/30 checks (faster than it should be). Should have my new PC arriving Wednesday, so I should be able to redo the image this week 😃

[2018-05-07 16:09] Fourdee commented on #1754
@bokiroki

Thanks for the heads up 👍

No worries, I need to recheck our Transmission installation anyway and see if we can tweak it. I'll leave this open for now.

[2018-05-07 16:14] k-plan commented on #1753
@Fourdee

Wow ... so quick?  :+1:  :heart:   :wink:

Thanks to all the supporter on https://www.gofundme.com/dietpi

[2018-05-07 16:24] Fourdee commented on #1733
@Gokujo

Many thanks for sending the bug report 👍

Ok, this is typical of system instability (eg: insufficent PSU), failing SD card, and/or a power cut during IO write operations that has corrupted the filesystem.
[code]

Not sure what this means yet, mmc1 should not exist? as mmc0 is the SD card.
[code]
However, from my system, it does exist and appears to init SDIO for mmc1.
[code]

---

@Gokujo

[2018-05-07 16:26] MichaIng commented on #765
@Fourdee
Just found that the way we add drives to fstab, fsck on reboot get's ignored:
[code]
All did not help, until I found:
https://linuxconfig.org/how-to-force-fsck-to-check-filesystem-after-system-reboot-on-linux
https://wiki.ubuntuusers.de/fstab/#Aufbau

We add pass value of 0 and disable fsck on boot by this (?). Not sure if this also counts for kernel cmd line, but at least now that I chan

[2018-05-07 16:28] Fourdee commented on #1753
@k-plan

Yep, indeed. I woke up this morning and was shocked, surprised and blown away by the support. I honestly did not expect it.

Indeed, unbelievable support, I've thanked everyone personally via gofundme and twitter.

New PC!!! 😄
https://twitter.com/DietPi_/status/993513382132305920

[2018-05-07 16:37] jwillmer opened #1756 "Installing NodeJS possible?"
I like to use a Raspberry Pi Zero W with DietPi as operation system for running a [Zigbee to MQTT bridge](https://github.com/Koenkk/zigbee2mqtt/wiki/Running-the-bridge). Therefore I need NodeJS. I could not find it in the list of supported software, does that mean this setup is not possible with DietPi?

[2018-05-07 16:46] Fourdee commented on #1756
@jwillmer

Hi,

NodeJS is available for install in the ```Linux Software``` section:
![image](https://user-images.githubusercontent.com/7077026/39713378-7c835730-521e-11e8-816b-73b7257e4cf8.png)

It can also be quickly installed with:
[code]

ARMv6 is supported (RPi Zero)

[2018-05-07 16:54] #1756 closed, assigned to nobody

[2018-05-07 17:44] ghost commented on #1755
Just to be clear, it is not as easy as described at the link @MichaIng posted. Lot's of ppl say that there is still a overheating problem on older releases of MacBookAir's.

If you really like to do this project, i suggest you to carefully read this HowTo and than decide if you really want to go these steps: https://linuxnewbieguide.org/how-to-install-linux-on-a-macintosh-computer/

As of known EF

[2018-05-07 18:10] unclehowell commented on #1729
Thanks. I just install it via dietpi.txt now. That works. No error message when it freezes, it just does.
I have a few other raspberry pi's kicking around, 2 & 3. I'll experiment and keep you posted. I'm trying to build a solution ontop of DietPi. I can't thank you enough for your work, it saves a lot of messing around. Great job

[2018-05-07 18:14] gieljnssns commented on #1755
I gave up the macbook air project. Mine has a broken LCD
Because I don't see the boot menu (on external screen) when pressing option while starting up.
Now I'm trying on an mac mini from 2011.

[2018-05-07 18:53] gieljnssns commented on #1755
https://github.com/Fourdee/DietPi/issues/1171#issuecomment-336522021
This method isn't working, the iso isn't bootable (etcher)

Now I'm trying this one https://github.com/Fourdee/DietPi/issues/1285#issue-280771944

[2018-05-07 19:08] Fourdee commented on #1751
Unable to replicate on v6.7 RPi 3 fresh install.

@fedekrum

Please also verify the following package is installed:
[code]

[2018-05-07 19:10] Fourdee commented on #1749
Ok, best we wait until all pre-v6.2 images have been re-done, as v6.1 and below get patched with ```/DietPi/dietpi/func/dietpi-set_core_environment```. I'am not eager on back-tracking the required items, or, keen on copying and pasting it all in the patch file :)

[2018-05-07 20:08] Fourdee commented on #1724
@MichaIng

I'll mark this as closed due to:
- No response
- Unable to replicate on a fresh install https://github.com/Fourdee/DietPi/issues/1724#issuecomment-383362401

Please reopen if required.

[2018-05-07 20:08] #1724 closed, assigned to MichaIng

[2018-05-07 20:43] ScottDillman opened #1757 "/etc"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version | ```cat /DietPi/dietpi/.version```?
- SBC Device (EG: RPi 3)?
- Power supply used (EG: 5v 1A RAVpower)?
- SD card used (EG: Sandisk ultra)?
- Distro (EG: Jessie) | ```uname -a```?

#### Additional Information (if applicable):
- Software title?
- Can this issue be replicated on a fresh installation of DietPi?

#### Expect

[2018-05-07 21:20] Fourdee commented on #1452
Notes to self:
I believe the issue is due to our current script which resizes the image via loopback, GPT data possibly getting corrupt. Need to research this further. Reason, loopback IO error after running resize script once.

We need to add 34bytes to truncate total for secondary GPT backup

[2018-05-07 23:12] dietpiuser commented on #1753
OK, the issue was I updated the upstream DNS on the box to cloudflare DNS and it could not resolve the FTP repo because i had also put in the IPv6 DNS entries which is not enabled on DietPi by default.

I changed it back to Google upstream DNS and it worked fine.

I was able to upgrade iptables for IPv4 and add the iptable entries.

I'm running Pi-hole on DietPi.

So it;s looking fine now.

I'll w

[2018-05-08 01:47] #1757 closed, assigned to nobody

[2018-05-08 06:29] Gokujo commented on #1733
![img_20180508_081115](https://user-images.githubusercontent.com/19776684/39741139-e3b9a204-5298-11e8-83bc-f537bc43b613.jpg)

[code]

this message I got from fresh installed dietpi. this time it took 30-40 minutes with all software (automated install don't work yet? e.g. `AUTO_SETUP_INSTALL_SOFTWARE_ID=` in dietpi on first install)

[2018-05-08 12:54] Fourdee commented on #548
@MichaIng

Sent you an email, need your address. To send you the spare dev sample of NanoPi K1+. 😃

[2018-05-08 16:29] Fourdee commented on #1452
Hi all,

#### I've updated the image, contains the following fixes:
- Truncate breaking GPT table. Fixed during image creation process
- GPT resize script, using modified version of ayufan-rock64 script.

### If anyone can help us test this new image, who experienced the resize issue, i'd be grateful.
#### https://dietpi.com/downloads/images/DietPi_Rock64-ARMv8-Stretch.7z

@1activegeek @richardhug

[2018-05-09 13:02] MichaIng commented on #1755
@gieljnssns
Thanks for testing this 👍.

May I ask how you generally managed to install Debian on Mac?
You followed the method linked by @SuBLiNeR or you had already another method working before?

Would be quite interesting, if possible anyhow or without too much needed adjustments to our scripts, to produce some guide or even image from this experience, for Mac users.

[2018-05-09 14:15] gieljnssns commented on #1755
I've installed Mac OS X Yosemite (no System integrity protection)
Followed this guide:
https://wiki.debian.org/MacBook#Debian_installation
I took the "debian-9.4.0-amd64-netinst.iso" from here https://cdimage.debian.org/debian-cd/current/amd64/iso-cd/
When there is an error in the installation about some network firmware; I found this http://commandlinefanatic.com/cgi-bin/showarticle.cgi?article=a

[2018-05-09 14:40] Fourdee commented on #1733
@Gokujo

This PSU has reports of failing quickly overtime:
https://www.amazon.de/SpeedPower%C2%AE-High-Quality-Netzteil-Ladeger%C3%A4t-Raspberry/product-reviews/B00KIVA70O/ref=cm_cr_dp_d_hist_1?ie=UTF8&filterByStar=one_star&reviewerType=all_reviews#reviews-filter-bar

I'd highly recommend official RPi PSU.

I personally use the following for all DietPi testing, and, can confirm this is also a vali

[2018-05-09 14:43] Fourdee commented on #1753
PC now arriving Friday https://twitter.com/DietPi_/status/994222442460663808 ☹️

Will get the VMware image done over the weekend.

[2018-05-09 14:45] gieljnssns commented on #1755
Then I'm following this guide https://github.com/Fourdee/DietPi/issues/1285#issue-280771944
When you log in using ssh and your user isn't is not in the sudoers file ```sudo usermod -a -G sudo user```
log out and log back in
While running DietPi installer I took "generic device"
"Keep Wifi files"
"Stretch"
```sudo reboot```
Finnish DietPi installation...

[2018-05-09 14:49] Gokujo commented on #1733
@Fourdee

This one was delivered with raspberry

I didn't saw it on first look

[code]

[2018-05-09 14:50] Fourdee opened #1758 "DietPi-Drive_Manager | Read only not being applied to fstab"
Only exists on recent images with following in fstab:
[code]

Due to scrape of rootfs + ro matching the above, instead of the correct item.

[2018-05-09 15:23] Fourdee commented on #1758
Mmm, why doesn't this grep work?
[code]

---

Fair enough:
[code]

[2018-05-09 15:57] Fourdee commented on #1758
Completed.

[2018-05-09 15:57] #1758 closed, assigned to Fourdee

[2018-05-09 16:14] Fourdee commented on #1733
@Gokujo

Thanks for dietpi.txt, looks fine.

Lets check whats installed:
[code]

And please paste the automation/1st run log:
[code]

---

Its still not official, stability cannot be guaranteed unfortunately. Ideally need to use one of these to establish if voltage is 5v+ under load: https://www.amazon.co.uk/UEB-Voltage-Current-Detector-Capacity-White/dp/B017TY0GWQ/ref=pd_cp_147_4?_encoding=UTF8&p

[2018-05-09 16:33] MichaIng commented on #1755
@gieljnssns
Thanks for this testing. So DietPi after this steps finally works as expected?

Generic device is the most safe attempt, but native x86 (ID 21) should also work, I think. Could you post the resolut of `dpkg -l` here, so I can check for installed kernel/firmware packages? There might be something different then on native PCs.

Btw. If you create an own user (and do not use `root` or `di

[2018-05-09 16:56] gieljnssns commented on #1755
[code]

[2018-05-09 17:00] gieljnssns commented on #1755
I think so, I use this for installing [Hassio](https://www.home-assistant.io/hassio/)
https://community.home-assistant.io/t/ive-installed-hassio-on-an-old-mac-mini-no-vm/52856
My raspberry pi isn't fast enough.

[2018-05-09 17:51] k-plan opened #1759 "RPi Zero W | Serial Terminal via UART did not work"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version | ```cat /DietPi/dietpi/.version```
=> DietPi v6.7   with Kernel: `Linux RPi-Zero-W 4.14.34+ #1110 Mon Apr 16 14:51:42 BST 2018 armv6l GNU/Linux`
- SBC Device (EG: RPi 3)? => RPi Zero W v1.3
- Power supply used (EG: 5v 1A RAVpower)?  [5.1V/2,5A T5875DV Stontronics](https://docs-emea.rs-online.com/webdocs/14ba/0900766b814b

[2018-05-09 18:37] MichaIng commented on #1755
@gieljnssns
Nice, I don't see any difference to usual x86_64 systems, thus it should be possible to choose device ID 21 for preparation script as well. But should not result very differently, thus leave it as it is now.

DietPi-Software also offers Home assistant automated installation by the way. It does not include much optimizations but is easier of course than doing all the steps oneself.

[2018-05-09 18:57] Fourdee commented on #1759
@k-plan

Thanks 👍

I'll take a look when I can.

[2018-05-09 19:36] MichaIng commented on #1753
I'll set milestone to v6.9 with goal to extend our APT and NTP error handling.
@Fourdee agree? Use the time until release for fixing issues with current code?

[2018-05-09 19:40] Fourdee commented on #1759
@k-plan

Great writeup, research, makes this much easier to implement/test 👍

Notes:

we'll try adding ```enable_uart=1``` for all systems, then test:
NB: will require a new image, as automation of this setting applied during initial boot stage.
- RPi 3
- RPi 3B+
- RPi Zero W

Default is disabled:
[code]

[2018-05-09 19:59] Fourdee opened #1760 "Asus TB | Onboard WiFi not functional"

[2018-05-09 20:02] Fourdee commented on #1753
@MichaIng

Yep, think everything is nearly completed? Only config inject outstanding (although its been working fine in all testing i've done)?
And https://github.com/Fourdee/DietPi/issues/1740

[2018-05-09 20:58] MichaIng commented on #1753
@Fourdee
<s>Jep nothing urgent opened from my side.</s>
**€: Ah, sorry nearly forgot: https://github.com/Fourdee/DietPi/issues/765#issuecomment-387121456
Can you check? If I am right, we need to adjust the fstab pass values to 1 for root (and boot?) and 2 for other drives. Otherwise no fsck on reboot is done. But I will test tomorrow again on VM, just found this as issue on RPi.**
`G_CONFIG_INJECT

[2018-05-09 21:35] MichaIng commented on #1740
@Fourdee
Testing: We definitely need separate commands + options for supported FS types.
- 🈺 **F2FS**: `-f` for full check&repair, `-a` just for actually processed files? Dry-run is default.
[code]
- 🈴 **NTFS**: `fsck /dev/sdXX` does not work. Needed to create `fsck.ntfs` manually: `ln -s $(which ntfsfix) /bin/fsck.ntfs` We could do this on DietPi-PREP or if `$(which fsck.ntfs)` is empty, on/befor

[2018-05-09 21:42] gieljnssns commented on #1755
I think this is just Home assistant not Hassio

[2018-05-09 22:07] MichaIng commented on #1755
@gieljnssns
Ah sorry, though "Hassio" is short form of **H**ome-**ASS**istant.**IO** 🤣.

[2018-05-09 22:47] lucario1001 opened #1762 "Sickrage does not start refuses the connection"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version | ```6.7```
- SBC Device  RPi3
- Power supply used 2.1amp power brick
- SD card used Sandisk ultra
- Distro (EG: Jessie) | ```Linux DietPi 4.14.34-v7+ #1110 SMP Mon Apr 16 15:18:51 BST 2018 armv7l GNU/Linux```?

#### Additional Information (if applicable):
- Software title Sickrage
- Can this issue be replicated on a fres

[2018-05-10 01:29] slim0287 commented on #1696
I'm sorry this thread is a little confusing for me to follow with regard to what it has fixed.  I'm running Pi-Hole with DietPi on my Raspberry Pi 2.  When I update Pi-hole, I've learned I need to follow the process I wrote on the Pi-Hole discourse page (https://discourse.pi-hole.net/t/on-update-error-with-local-repository/6283/3), which includes the following four steps: (a) performing a `git res

[2018-05-10 06:12] 1activegeek commented on #1452
Traveling this week, will try to get to it this weekend to test. Thankfully I didn’t move my HASS.io install over to it yet so I can test pretty easily without recourse. 😉

[2018-05-10 09:22] ghost commented on #1760
@Fourdee this is exactly what happens to me #1444 with the Image you've hosted on yours server for downloading about 3 mnths ago. This is a failure at the used kernel in your image from 2.0.4. The actual kernel which should go without a problem is `4.4.120` & `4.4.129`.
I did compile myself an armbian image and transformed it with DIetPi.
At this, the WiFi is working without any hickups and proble

[2018-05-10 09:25] MichaIng commented on #1696
@slim0287
Hehe, sorry for confusion, jep indeed this thread has grown non-linearly due to some parallel appearing issues/tasks.

So far nothing changed about `pihole -up`.
We need to wait for the next PiHole release which contains a fix then. Also for existing installations we need to add/change a setup variable from our side, before `pihole-up` works without manual steps.

I think we will release

[2018-05-10 09:36] MichaIng commented on #1760
@SuBLiNeR
Okay, so it's a kernel issue somewhere between 4.4.16 and 4.4.119.

Is there a chance for soon Tinker-OS with kernel upgrade to >= 4.4.120 or current kernel sources from their side?

[2018-05-10 09:40] ghost commented on #1760
@MichaIng It looks like they merged sources onto theirs git with those fixes and will release a more lately kernel and OS higher than 2.0.5.

'"Default" kernel 4.4 was moved to the Rockchip repository, which provides a huge number of bugfixes/adjustments/new drivers. '

Atm it is best to transform an armbian install to dietpi after self-compiling an armbian-image.

[2018-05-10 13:01] lateboomer commented on #1285
When I ran the scripts for Beaglebone Black, half way through it lost networking services and etho was not configured. May I know how do I configure network services to continue the run? may be it purges the network packages.

[2018-05-10 13:38] vikasjee commented on #671
What is the plan to fix this issue?

[2018-05-10 14:28] Fourdee commented on #765
Closing in favor of : https://github.com/Fourdee/DietPi/issues/1740#issuecomment-387882792

[2018-05-10 14:28] #765 closed, assigned to nobody

[2018-05-10 14:32] Fourdee commented on #1740
@MichaIng

Great work 👍

~I'll implement this today and send commit.~ 😃

[2018-05-10 14:33] MichaIng commented on #1740
@Fourdee
Waiiiit, I'm already done 😄! Currently testing with all FS and will push the commit to my opened PR.

**€: PR is up: https://github.com/Fourdee/DietPi/pull/1763**

[2018-05-10 15:01] Fourdee commented on #1285
@lateboomer

Thanks for the report 👍

Which Pre-image did you use, official BBB image?

[2018-05-10 16:33] FaserF commented on #1760
Same issue with my TB.

[2018-05-10 16:55] ghost commented on #1760
@FaserF Just use this image (https://dl.armbian.com/tinkerboard/archive/Armbian_5.41_Tinkerboard_Debian_stretch_default_4.4.119.7z)  and transform it into DietPi with the Prep-Script while connected to ethernet - **before** using the PREP-Script, use armbian-config to upgrade it to latest 'firmware'. finally than you could run the script as decribed -> #1285

[2018-05-10 17:25] lateboomer commented on #1285
I am using this pre-image as suggested above:

http://debian.beagleboard.org/images/bone-debian-9.3-iot-armhf-2018-01-28-4gb.img.xz

The BBB image I downloaded the latest one from the download page.

Note:
It is not BBB image, what I meant is it is PREP_SYSTEM_FOR_DIETPI.sh scripts I downloaded from the download page. When I run the scripts half way eth0 and dns name derivation all lost.

[2018-05-10 17:30] MichaIng commented on #1760
Okay, hard to say when next Tinker-OS release will be and we do not release DietPi images based on ARMbian.

Following possibilities:
- Revert kernel to 4.4.16/Tinker-OS 1.8, at least as additional offer for users that require WiFi. This one is not available any more: https://github.com/Fourdee/DietPi/issues/1444#issuecomment-362385108
- Manually build development kernel from: https://github.com/T

[2018-05-10 17:44] ghost commented on #1760
@MichaIng the funny thing about it is, as soon as you using anything below 2.0.4, it works!

Second thing is what i tried was following, 4days ago.

Install TOS 2.0.1, boot it up only while on eth0. go into terminal and run the PREP–script ... everything runs well than.
After Dietpi is booting twice times up, you should be able to switch from eth0 to wlan0 and it should wotk after a reboot again.

[2018-05-10 17:51] Fourdee commented on #1759
New image completed, with updated boot code. Seems to be fine, however, need to verify with serial connection:

![image](https://user-images.githubusercontent.com/7077026/39884652-6edeab3c-5482-11e8-985d-667e669a2143.png)
https://dietpi.com/downloads/testing/DietPi_RPi-ARMv6-Stretch.7z

---

Removing TTYAMA0 from ```/boot/cmdline.txt``` provides same processes as above, probably no longer required

[2018-05-10 18:23] Fourdee commented on #1760
Resolved with our latest DietPi image, based on Tinker OS 2.0.5: https://dietpi.com/downloads/images/DietPi_ASUSTB-ARMv7-Stretch.7z
Cause = kernel.
![image](https://user-images.githubusercontent.com/7077026/39886338-2512ef7c-5487-11e8-8e17-ff971e48e880.png)

Completed.

[2018-05-10 18:40] Fourdee commented on #1740
@MichaIng

Great work on this PR https://github.com/Fourdee/DietPi/pull/1763, legend 👍

PS. Parcel sent today (signed for 1st class), should be with you next week (NanoPi K1+ and a special item 😃 )

[2018-05-10 19:07] Fourdee commented on #548
Nextcloud install timed tests:
https://twitter.com/DietPi_/status/994654906630983681

[2018-05-10 19:28] Fourdee commented on #1762
@lucario1001

Thanks for the report 👍

We'll try to replicate in local testing.

[2018-05-10 19:58] Fourdee commented on #1762
Unable to replicate on fresh install. Will check the bug report.

[2018-05-10 20:09] Fourdee commented on #1762
Process exists, but service is in fail state. Process hung?
[code]

@lucario1001
Please try killing the process:
[code]

If the command finishes successfully, please try reinstalling SickRage:
[code]

[2018-05-10 23:34] lucario1001 commented on #1762
sickrage fails i just made a new install did the commands you said here is another reference code ```32b5125b-7661-4fbd-9d23-c7fedd83e949-0```

[2018-05-11 07:20] Gokujo commented on #1733
I can send it a little bit later. I tried to add rasppbery into Windows Active Directory but there went something wrong and no passwords were synchronized. And automated installation went well. Like I said I didn't noticed this line in config:  `AUTO_SETUP_AUTOMATED=`. But I couldn't connect to enterprise wi-fi network. I had to use a simple WPA-PSK

[2018-05-11 10:06] MichaIng commented on #1171
@Fourdee
Is there some technical/design reason why EFI/GPT images can't just be created and flashed via rufus "DD image" like MBR/BIOS images, ready to run?

[2018-05-11 10:25] MichaIng commented on #1740
**ToDo** (v6.9?)
- [x] Select root/boot device for scan (& repair) on next reboot.
  - With https://github.com/Fourdee/DietPi/commit/0eb0db0209985ff91fcd425bbd4ca4a4da6626d8 possible just for rootfs right now.
  - Live Check & Repair disabled for root and boot
  - Enable /boot scan on reboot and/or live? The latter would be possible, as long as re control remount for proper DietPi-RAMdisk sync, ke

[2018-05-11 13:05] Gokujo commented on #1733
@Fourdee

![2018-05-11 14_59_52-192 168 14 156 - putty](https://user-images.githubusercontent.com/19776684/39925638-ad7e357e-552c-11e8-92be-28841d616064.png)

<details>
  <summary>Long logdata</summary><p>

---

[code]

---
</p></details>

[2018-05-11 15:49] Fourdee commented on #1171
@MichaIng

I'am not 100% clued up on UEFI, however, I believe we cant simply DD write the image, as the UEFI bios does not register it as a UEFI device.

Best guess: Clonezilla enables the UEFI bios to see the new UEFI device. I believe it generates a unique UEFI code on the system, which changes on each UEFI device. Although I could be wrong.

Either way, Rufus is required to create a UEFI capabl

[2018-05-11 16:04] Fourdee commented on #1762
@lucario1001

Thanks.

We'll need to debug the binary, please run the following commands:
[code]

Check the onscreen print and paste it here please.

[2018-05-11 16:12] Fourdee commented on #1740
@MichaIng

Yep 👍

[2018-05-11 16:25] k-plan commented on #1759
@Fourdee

Testing `DietPi_v6.7_RPi-ARMv6-Stretch.img` on RPi Zero W (always fresh install):

- 1.)
Settings:

[code]
and

[code]
- first phase inital boot => filesystem resize => NO serial output

- second phase inital boot => intital setup => NO serial output => you have to do inital setup via ssh => auto reboot

- second boot (after finish inital setup) => serial output of boot messages and logi

[2018-05-11 16:50] Fourdee commented on #1759
@k-plan

Ok, yep, we can enable serial console by default, then disable as needed during 1st run 👍

[2018-05-11 16:56] lucario1001 commented on #1762
[code]
now it works o-0

[2018-05-11 16:58] lucario1001 commented on #1762
never mind it wont launch now on reboot

[2018-05-11 18:14] k-plan commented on #1759
@Fourdee

Yep, this is what I mean. I agree with that. :+1:

![2018-05-11 20-09-15](https://user-images.githubusercontent.com/17237601/39939833-c99cedf6-5557-11e8-9923-de58ba5308a5.png)

[2018-05-11 18:26] Fourdee commented on #1743
@nyx-rattapoom

I'll mark this as closed. Please reopen if you are wiling to verify https://github.com/Fourdee/DietPi/issues/1743#issuecomment-386876775 and still require assistance.

[2018-05-11 18:26] #1743 closed, assigned to nobody

[2018-05-11 18:33] Fourdee commented on #1759
Ok, just need to update the RPi image, then i'll post link again.

[2018-05-11 19:07] Fourdee commented on #671
@vikasjee

We do not support BerryBoot or third party images in a official capacity at this time, and, remains a community effort.

[2018-05-11 19:23] Fourdee commented on #1740
Interesting, i ran a check + repair on rootFS on the ASUS TB, it went through and ran the repair fine lol, however, its set rootFS to RO:
[code]

[2018-05-11 19:42] Fourdee commented on #1759
~forgot to change ```CONFIG_SERIAL_CONSOLE_ENABLE=```, will do it again.~

New image ready for testing:
https://dietpi.com/downloads/testing/DietPi_RPi-ARMv6-Stretch.7z

[2018-05-11 21:30] SevronCarl opened #1764 "Fresh installation with subsonic on RPi 3 results in 503 error"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version | ```cat /DietPi/dietpi/.version```?
"6
7"
using DietPi_v6.6_RPi-ARMv6-Stretch.img image
- SBC Device (EG: RPi 3)?
RaspberryPi 3 B+
- Power supply used (EG: 5v 1A RAVpower)?
- SD card used (EG: Sandisk ultra)?
dane-elec, 16gb
- Distro (EG: Jessie) | ```uname -a```?
Linux DietPi 4.14.34-v7+

#### Additional Information (if

[2018-05-11 22:14] MichaIng commented on #1722
I close due to missing reply. Please reopen if required.

[2018-05-11 22:14] #1722 closed, assigned to MichaIng

[2018-05-12 10:32] MichaIng opened #1765 "DietPi-Drive_Manager | Why is it not supported on VM?"
Why is DietPi-Drive_Manager not supported on VM? Works great with all it's features, at least on my testing VMs. Was there some risk or issue observed?

[2018-05-12 12:29] Gill-Bates opened #1766 "FeatureRequest: /var/log to SD/USB-Drive"
I would really apprechiate the feature, to shift the /var/log to USB/SD-Drive. Like already implemented for the UserData. Right now I must solve it with nasty Symlinks tricks which fail2ban dosen't really like.

[2018-05-12 13:29] MichaIng commented on #1766
@WTFMaster
Thanks for your request.

Great idea, was already thinking the same by times. Combines benefits from persistent logging (available crash logs) and RAMlog (reduced SD writes) and gives even more flexibility (read logs from external system, in case of broken boot).

Generally would be possible via symlink or mountpoint. We just need to assure that all disk logging is started after ALL dri

[2018-05-12 14:50] MichaIng opened #1767 "Mask systemd-logind?"
@Fourdee
Just recognized again, when `dbus` is installed, because of desktop or `systemd-timesyncd` usage, the static service `systemd-logind` is starting up again, allocating/reserving 6 gettys by default.
- We suppressed this in the past via
[code]
- This was replaced by `systemctl mask getty-static` after `dbus` (thus logind) removal. But when installing `dbus` according to above reasons, `logi

[2018-05-12 15:12] Fourdee commented on #1765
@MichaIng

It was not compatible pre-v6.x, however, with all the Init and detection improvements to ```dietpi-drive_manager``` it should be compatible now.

If you can verify testing, we can enable. My PC has been delayed until next week ☹️

[2018-05-12 15:13] Fourdee commented on #1764
@SevronCarl

Many thanks for the report 👍

We'll try to replicate and resolve.

[2018-05-12 15:18] Fourdee commented on #1759
NB, need to redo image before setting live. Did not run through dietpi-update patches, few things not removed (eg: .bashrc entries etc).

[2018-05-12 16:03] MichaIng commented on #1765
@Fourdee
As all my testing and development of the fsck implementation was done on VM, including many times formatting and using the USB stick with all file system types, I think it can be assumed compatible.

But just to be sure, I will redo some tests with virtual drives instead of real ones, add to VM via USB.

🈯️ Verified functionality with virtual disk as well: https://github.com/Fourdee/DietP

[2018-05-12 16:23] SevronCarl commented on #1764
Have since switched the cards, to a class 10 samsung 32gb just incase the dane-elec is funky.
Installed everything again, but ended up with a similar error.
Due to something with the applicationContext-sonos.xml file,
Java xml errors but I looked into the files it had errors with and there's no invalid xml as the errors reported.

Uninstalled subsonic and java via dietpi-software, then installed '

[2018-05-12 16:27] MichaIng commented on #1755
@gieljnssns
Okay, as far as I could retrace now, you have 3 partition on the drive: OS X, Debian OS and the EFI partition?

As Debian boots by default and grub-efi-amd64 is installed, the bootloader seems to be the one from Debian, not OS X anymore?

The question is then why our x86 EFI image is not working, what differences are there. Might be some special firmware for Macs, that Debian installer

[2018-05-12 16:34] SevronCarl commented on #1764
And now I've restarted it and can't connect to subsonic at all, think I'm gonna put it to bed for a while...
Try something else.

[2018-05-12 16:53] Fourdee commented on #1764
Confirmed bug with all systems.

Java issue?
Online doc states Java7: http://www.subsonic.org/pages/installation.jsp#debian
Try with Oracle JRE?

[2018-05-12 16:59] Fourdee commented on #1764
Interesting AirSonic is also failing with the same Java errors, looks like a Java specific issue, recent Java update breaking these programs?

Confirmed java 8 gets installed.

---

reading:
http://www.baeldung.com/spring-beandefinitionstoreexception

[2018-05-12 18:58] 1activegeek commented on #1452
Ok, I think this worked! Tested on the 16GB card I was having issue with before. I see promising readout and no errors about lack of space as I just started the base install.

[code]

Nicely done @Fourdee!! Thanks for the hard work on squashing these bugs. 😃

[2018-05-12 19:33] MichaIng commented on #1764
@Fourdee
`Requirements: Java 7 or later`
Should work with java 8, since java 10 is already released...

Will also do some tests here. I would prefer to stay with OpenJDK, if possible...

€: AirSonic install instructions contain installation of OpenJDK-JRE 8 on Stretch: https://airsonic.github.io/docs/install/prerequisites/#on-debian-9
- Check if by default correct $JAVA_HOME is set/used

[2018-05-12 21:35] MichaIng commented on #1764
Got it running after manually installing the Buster version of `openjdk-8-jre-headless` over the Stretch version, even that both share nearly the same version numbers: https://packages.debian.org/de/buster/openjdk-8-jre-headless

On my Stretch VM, after installing AirSonic via dietpi-software, including OpenJDK 8 etc:
[code]
Wait for a while until everything is leaded, takes a while, can be watche

[2018-05-12 23:59] #1765 closed, assigned to nobody

[2018-05-13 13:57] MichaIng commented on #1340
@Fourdee
I finished the list above with all our software where the newest version is not installed automatically.
By this we can easily check for new versions regularly and update our links or upload/build new binaries.
As you can see, there is already much to do 😅.

I am thinking about updating all links and binaries that do not need to be build manually, as I am not too experienced with this and

[2018-05-13 14:06] MichaIng commented on #1589
Closing in favour of: https://github.com/Fourdee/DietPi/issues/1340

[2018-05-13 14:06] #1589 closed, assigned to nobody

[2018-05-13 14:48] Fourdee opened #1768 "META | Dedicated DietPi-Software overview page"
Think it would look great, started this last year and never got a chance to finish it.

[2018-05-13 14:51] Fourdee commented on #1765
@MichaIng

Legend, many thanks 👍

Yep, I've been meaning to do this for a long time 👍, required feature I believe.

[2018-05-13 14:57] Fourdee commented on #1764
@MichaIng

Great work and research 👍

Yep, JRE/JDK we could split, but we'd need to verify/test all software that depends on them. Could take a while.

I'll move this to v6.9, will focus on final testing for v6.8 and release today.

[2018-05-13 15:01] Fourdee commented on #1452
@1activegeek

Excellent, many thanks for testing this and confirming now fixed 👍

🥂 Finally we nipped this one in the bud 😄 Will mark as closed and resolved.

[2018-05-13 15:17] MichaIng commented on #1768
@Fourdee
Yey would be indeed beautiful and allow interested ones a closer look without going one step further into the forum. But quite some work as well 😅.

[2018-05-13 15:46] s0r00t opened #1769 "dietpi-update lost connection during first setup, considered update as valid"
#### Required Information:
- DietPi Version : v6.6
- SBC Device : Raspberry Pi 1 B (512MB)
- Power supply used : Samsung phone adapter
- SD card used : Lexar 4GB
- Distro : Stretch

#### Expected behaviour:
dietpi-update should not consider the update as valid when one of its downloads failed.

#### Actual behaviour:
dietpi-update considered the update done and rebooted.

#### Steps to reproduce:

[2018-05-13 15:58] Fourdee commented on #1769
@s0r00t

Many thanks for the report 👍

I'll take a look.

[2018-05-13 15:59] zzlinwq opened #1770 "Does DietPi support Android boxes (eg: Amlogic 905D)?"
## Creating a bug report/issue:

Can dietpt  support Amlogic  905D?
上海斐讯公司出的一种设备 N1，处理器是 Amlogic  905D。Can dietpt  support Amlogic  905D?
#### Required Information:
- DietPi Version | ```cat /DietPi/dietpi/.version```?
- SBC Device (EG: RPi 3)?
- Power supply used (EG: 5v 1A RAVpower)?
- SD card used (EG: Sandisk ultra)?
- Distro (EG: Jessie) | ```uname -a```?

#### Additional Information (if appl

[2018-05-13 16:04] zzlinwq commented on #1770
I do not know if   Amlogic 905 and 905D are the same?

[2018-05-13 16:08] Fourdee commented on #1769
Update appears to have run fine, no additional packages were required to be updated:
[code]
Although it does appear to be missing the start of the update log.

First run log is also fine, no errors.

---

There is an issue with ethernet dropping connection:
[code]

This will cause problems during installation, at stages where LAN/WAN connections are in process.

This could be due to either:
- Insu

[2018-05-13 16:14] Fourdee commented on #1769
@s0r00t

In DietPi we check the connection prior to running updates and software installs. On a stable connection, this will ensure required data is available for download.

However, should the network drop randomly after the connection tests, it will cause issues and it is not fee-sable for us to constantly monitor the connection, post connection test.

[2018-05-13 16:21] MichaIng commented on #1770
@zzlinwq
Thanks for your request.

Ref: http://www.amlogic.com/#Products/197/index.html
- Android multimedia box
- ARMv8 CPU

[2018-05-13 17:03] k-plan commented on #1759
@Fourdee

Have do some test with this image.

- 1.) enabel serial terminal

[code]
Work as expected. You see all messages, can login via serial terminal and finish inital setup.

![180512-0001](https://user-images.githubusercontent.com/17237601/39969658-66aae8a4-56df-11e8-986f-b3573e61e16a.gif)

👍

--------

- 2.) (default)

[code]

We see some ` [FAILED]` and `[ TIME ]` messages in seral terminal

[2018-05-13 17:58] Fourdee commented on #1759
@k-plan

Legend, thanks for testing.

I'll check this, see if we can resolve, then redo the image and set live.

[2018-05-13 18:04] Fourdee commented on #1770
@zzlinwq

Hi,

Officially, we do not support android boxes, for the following reasons:
- These tend to be configured specifically for that sole task.
- The sheer amount of these on the market, and their unique differences, will prevent us from having a single/global image solution.
- We'd need to purchase each device we want to implement (and possibly one for each manufacture of the same ARM CPU),

[2018-05-13 18:04] #1770 closed, assigned to nobody

[2018-05-13 18:29] Fourdee commented on #1768
Notes:
- software_0.jpg = mini box, logo (320x200)
- software_1.jpg = Large box, actual (640x400)
- software_2.jpg = Full size image, new window when _1 is selected.

JPEG compression = 50% GIMP quality setting

---

To Do:
- vnc_1.jpg (all vnc servers)
- Add info.

[2018-05-13 18:33] s0r00t commented on #1769
@Fourdee Ethernet was not connected to the Internet, I run both Wifi & Ethernet on my Pi (it acts as a wifi-to-lan bridge).

[2018-05-13 20:55] Gill-Bates opened #1772 "DietPi-RAMdisk | Not saving to disk during shutdown (pending v6.9 testing + additional logging update)"
Tested on: Raspberry 3, Dietpi 6.7

1) dietpi-config -> 4 Advanced Options - > i2c state -> switch from (disabled) to (enabled)
2) Save and exit -> No reboot
3) Enter dietpi-config again -> Check the settings -> i2c state correct (enabled)
4) Reboot the mache -> i2c state switched back to (disabled)

[2018-05-14 06:54] fayroozk opened #1773 "Makefile:527: recipe for target 'osutil' failed ,Makefile 3 recipe for target all failed"
root@kali:~/Desktop/Archer_T2U_V1_150901/Driver# make
make -C UTIL/ osutil
make[1]: Entering directory '/root/Desktop/Archer_T2U_V1_150901/Driver/UTIL'
cp -f os/linux/Makefile.6.util /root/Desktop/Archer_T2U_V1_150901/Driver/UTIL/os/linux/Makefile
make -C /lib/modules/4.15.0-kali3-amd64/build SUBDIRS=/root/Desktop/Archer_T2U_V1_150901/Driver/UTIL/os/linux modules
make[2]: Entering directory '/root

[2018-05-14 13:39] MichaIng commented on #1772
@WTFMaster
Thanks for your report. I just checked the code, where I couldn't find an issue so far. That pre reboot the correct choice is shown should be a prove that /DietPi/config.txt is adjusted correctly.

What I can think of now, is that on shutdown it is not synced to /boot/config.txt as expected.

Could you run `systemctl restart dietpi-ramdisk` and then `systemctl status dietpi-ramdisk` to

[2018-05-14 14:04] Fourdee commented on #1773
@fayroozk

Appears the make/compile is targeting Kali:
[code]

DietPi is Debian.

[2018-05-14 14:10] Fourdee commented on #1772
Fresh install test with RPi 3, unable to replicate, state is saved after reboot.

Further debugging required as per @MichaIng https://github.com/Fourdee/DietPi/issues/1772#issuecomment-388819730

[2018-05-14 14:18] Fourdee commented on #1769
@s0r00t

As DietPi will only enable either WiFi or Ethernet based on ```dietpi.txt``` settings:
- How are you achieving this dual mode setup, which configuration file + settings used?
- Did you enable WiFi in ```dietpi-config``` , or set in ```dietpi.txt``` prior to first boot?
- Have you tried running the initial setup with only WiFi or Ethernet connected?

[2018-05-14 14:48] Fourdee commented on #1340
@MichaIng

Great work, yep, its a long task this one 👍

Yep, I can test ARMv6/7/8.
Not only do we need to verify install succeeds, but also its functional via basic use testing (eg: check interface works).

Like the idea 👍 However, I believe we can request them to use the testing branch. I personally feel making multiple branches will cause havoc and confusion for us (well me at least 🤣).
They cou

[2018-05-14 14:50] Fourdee commented on #1340
### Install tests:
- @MichaIng: Test on VirtualBox VM Jessie + Stretch

ID | Title | ARMv6 | ARMv7 | ARMv8 | x86_64
-- | ----- | -- | -- | -- | --
30 | NoMachine | 🈯️ | 🈯️ | 🈯️ | 🈯️ @MichaIng
111 | UrBackup | N/A | 🈯️ | 🈯️ | 🈯️ @MichaIng
59 | RPi Cam Control (https://github.com/Fourdee/DietPi/issues/1747) | 🈯️ | 🈯️ | N/A | N/A
68 | Weaved | 🈯️ | 🈯️ | 🈯️ | N/A
131 | Blynk | 🈯️ | 🈯️ | 🈯️ | 🈯️ @Micha

[2018-05-14 16:30] FaserF commented on #1760
Issue still exists for me on the newest image.
After a reboot it says connected with 0 Mbit and I have no internet. Before the reboot it worked well.
I've tried disabling network, forgetting the wifi network, nothing worked for me.

[2018-05-14 17:51] Fourdee commented on #1768
Made a start: https://dietpi.com/dietpi-software.html
Really want this available to end users.

[2018-05-14 18:38] Gill-Bates commented on #1772
@MichaIng
After changing my settings, /DietPi/config.txt looks like this:

#-------i2c-------------
dtparam=i2c_arm=on
dtparam=i2c1=on
i2c_arm_baudrate=100000

After reboot RPI the file looks like this:

#-------i2c-------------
dtparam=i2c_arm=off
dtparam=i2c1=off
i2c_arm_baudrate=100000

It seems, during the reboot the changes are lost and not written to the filesystem. How can I solve this?

[2018-05-14 18:47] Fourdee commented on #1768
mmm, Might simplify this a little, instead of having the large box with info, simply link to forum info when box selected? Less duplicate info + maintenance.
Or, we could move everything off the forum, however, dead links, no direct links, scaling of main info would be inconsistent.

[2018-05-15 01:38] 1activegeek commented on #1306
@Fourdee I'm not sure if this is this issue again, but I think it may be. I'm working through installing this on a Rock64 using the latest 6.8. I just noticed upon trying a second time, that there are unmet dependency errors coming up while trying to install. The odd part is, in checking the dependencies, they're all met. I backed out the install, removed the leftover files, and then just did an `

[2018-05-15 02:28] pronvit opened #1775 "DietPi-PREP | Building using chroot"
I'm now using DietPi scripts for my needs (building a minimal image booting to [miRack](/mi-rack/miRack)) and I'm doing it in chroot environment. Qemu (you mentioned you don't have experience with it) isn't an issue here as you specify it only once to chroot into a mounted original OS image and then you don't even notice it (apart from being a VM, qemu can just transparently run binaries for other

[2018-05-15 10:56] Fourdee opened #1776 "SSH | Syntax error: Bad function name"
Notes:
- Unable to replicate with putty/kitty.
- Unable to replicate with ```openssh-client``` on a DietPi system.

[2018-05-15 11:09] Fourdee commented on #1733
@Gokujo

Thanks for the logs, everything appears to have installed fine, without errors.

Unfortunately I have no way of testing this currently. I'll reference your post to the following ticket: https://github.com/Fourdee/DietPi/issues/1549#issue-299475931
We'll take a look when we can.

As the original issue is now resolved, i'll mark this as closed. Please reopen if required.

[2018-05-15 11:09] #1733 closed, assigned to Fourdee

[2018-05-15 11:17] MichaIng commented on #1306
@1activegeek
We chose to offer a self hosted package, as especially the Debian APT repo version on Jessie it quite outdated: https://packages.debian.org/de/jessie/mosquitto
- 1.4.14 vs. 1.3.4 (Jessie) / 1.4.10 (Stretch)

`libssl1.0.0` should be installed via dietpi-software as well as a separate pre-req before the mosquitto installation starts. Did this went fine without errors?

The dpkg dependen

[2018-05-15 11:46] Fourdee commented on #1776
@slim0287

Question:
Can you list all the system changes you've made that you can remember (eg: locale set to en_US, timezone changed, installed nextcloud)?

[2018-05-15 12:09] Fourdee commented on #1340
ARMv6 blynk (and all JAVA installs?)
[code]

[2018-05-15 12:24] Gokujo opened #1777 "Mate terminal don't accpet dietpi commands"
#### Required Information:
- DietPi Version : 6.8
- Distro: Linux JAS-TT 4.14.34-v7+ #1110 SMP Mon Apr 16 15:18:51 BST 2018 armv7l GNU/Linux

#### Additional Information (if applicable):
- MATE
- yes

#### Expected behaviour:
on type ```dietpi-config``` it should open config dialog

#### Actual behaviour:
terminal says that such command doesn't exist

#### Did you submit a ```dietpi-bugreport```?

[2018-05-15 12:36] slim0287 commented on #1776
I've been using this Pi as a Pi-hole ad blocker and smbd server for a long time so it's a bit challenging to recall.  However I believe the only system changes I made were the locale to en_US and the timezone.

[2018-05-15 13:00] MichaIng commented on #1340
Java 9?? Actually until Stretch `default-jre-headless` should be Java 8, or is this different on Raspbian repo? Here Raspbian is always a bid behind Debian: Raspbian Buster offers Java 9, while Debian Buster already Java 10.
- https://packages.debian.org/de/stretch/default-jre-headless
- https://github.com/Fourdee/DietPi/blob/testing/dietpi/dietpi-software#L7295

I think to assure compatibility we

[2018-05-15 13:02] 1activegeek commented on #1306
@MichaIng - I probably should have mentioned that I wasn't just including the logs as they looked erroneous, the install was not successful either. I was left with some odd behavior if I left it as "installed". Specifically the service was not registered or available in the system, the mosquito application was not registered to the system, and the actual mosquito folder had odd naming - something

[2018-05-15 16:01] Fourdee commented on #1760
@FaserF

I've tried disabling network, forgetting the wifi network, nothing worked for me.

Strange, could be a range issue, have you tried moving the device closer to the WiFi router? What was the speed/dB levels before the reboot?

[2018-05-15 16:03] Fourdee commented on #1776
@slim0287

Thanks 👍

If you get a chance, on the any of the SSH clients with this issue, once connected, please paste results:
[code]

[2018-05-15 16:49] FaserF commented on #1760
@Fourdee sorry I dont remember that. I am now using my TB with LAN and its working well.
It's just strange that this happened even with your new fix.

[2018-05-15 16:51] Fourdee commented on #1759
New image live, not had a chance to check out the reported serial errors yet.

Notes:
RPi disable those? uses kernel cmd line options and ignore service?

[2018-05-15 16:56] Fourdee commented on #1760
@FaserF

Confirmed bug, able to replicate, i'll reopen for investigations:
[code]

[code]

Unable to bring up adapter, even after enabling modules
[code]

[2018-05-15 17:51] Fourdee commented on #1760
Previously, this also occurred on other kernels:

current with 2.0.5 tinker OS
[code]

1.8 tinker OS based is reported fine:
https://github.com/Fourdee/DietPi/issues/1444#issuecomment-362387869

---

Page offline (blank) https://www.asus.com/uk/Single-Board-Computer/Tinker-Board/HelpDesk_Download/

[2018-05-15 18:01] Fourdee commented on #1775
@pronvit

Please, by all means. This is something i've been meaning to do for a long time, however, without a nudge in the right direction and flooded with other tasks, not been able to start it.

Yep, it is a nightmare, it would be much more beneficial if we could build/create the images via Qemu and chroot.
Maybe its something we could all work on together? @MichaIng aswell?

[2018-05-15 18:04] Fourdee commented on #1777
@Gokujo

Thanks for the report 👍

I don't believe Mate terminal (and LXterm if I remember correctly) load ```.bashrc``` and/or ```/etc/profile.d/99-dietpi-login.sh```. This may be a limitation with the program (or login method) itself, however, we'll flag for investigations.

REF: https://askubuntu.com/questions/566399/why-isnt-profile-sourced-when-opening-a-terminal
https://superuser.com/question

[2018-05-15 18:14] Fourdee commented on #1777
Interesting: https://github.com/Fourdee/DietPi/issues/1776
LXterm, seems to be running under sh by default, not bash?
[code]

[code]

[code]

[2018-05-15 21:55] MichaIng commented on #1340
### Blynk
- On first install attempt I got an unlimited fast repeating error on both systems, Jessie and Stretch:
[code]
- My scroll buffer was filled with this to fast, but according to error messages it should be the following within Blynk install step: `npm install -g onoff`
- Interestingly I was able to manually run the command afterwards without issue. Another dietpi-software install 131 run

[2018-05-15 23:30] sunjam opened #1778 "DietPi-Software | NextCloudPi convergence"
[I just saw this thread comparing the two projects](https://help.nextcloud.com/t/dietpi-lightweight-debian-image-with-automated-fully-featured-nextcloud-installation/31694/2) and see no reason you could not further integrate NextcloudPi to improve Nextcloud integration and deployment in DietPi.

The [NextcloudPi curl script installation or docker image](https://github.com/nextcloud/nextcloudpi) co

[2018-05-15 23:48] slim0287 commented on #1776
I connected with macOS.  The results were:
[code]

Any new insights?

Thanks

[2018-05-16 04:55] MirisWisdom commented on #804
This Hyper-V image is based on the previous one, but with the DietPi 6.8 updates applied. It's a tad bigger, although it saves from having to constantly download updates whenever a new VM is deployed.

[`DietPi_Hyper-V-x86_64-Stretch - v6.8.7z`](https://1drv.ms/u/s!AoE_a2H65pxWky0Sizev1iwhpZqC)(280 MB OneDrive download)

Enjoy!

[2018-05-16 06:17] Gokujo commented on #1777
@Fourdee
it says: `bash: dietpi-config: Kommando nicht gefunden` (command not found)

[2018-05-16 08:07] pronvit commented on #1775
Here you go http://github.com/pronvit/DietPi

Procedure

1. Install `qemu-user-static` package
2. Copy original image to DietPi folder
3. Do `sudo su` - don't run chroot with sudo as otherwise it will get your user home folder path instead of /root.
4. Run `./prep IMAGE_FN`
5. Once inside chroot, run `/root/PREP_SYSTEM_FOR_DIETPI.sh`
6. If everything is ok, run `./post IMAGE_FN`, this will generat

[2018-05-16 11:38] brumouta opened #1780 "Jessie | Home assistant installation fails on Odroid C2"
#### Required Information:
- DietPi Version | 6.8
- SBC Device | Odroid C2
- Power supply used | iPad charger
- SD card used | Samsung class 10
- Distro | Linux DietPi 3.14.79+ #1 SMP PREEMPT Sun Jul 23 00:04:44 CEST 2017 aarch64 GNU/Linux

#### Additional Information:
- Software title | Home assistant
- Can this issue be replicated on a fresh installation of DietPi? | Don't know, since I have onl

[2018-05-16 12:18] MichaIng commented on #1778
@sunjam
Thanks for your idea.

Indeed I was also thinking about this already. Generally you should be able to run NCP install script on any DietPi system, although I didn't try it so far, maybe a task for the evening.
- But as far as I can think of, the way, Nextcloud is implemented, it should break other web ui installations via dietpi-software. We heavily take care, that our implementations are

[2018-05-16 17:49] nachoparker commented on #1778
Thanks both,

I am in favour of two people looking and maintaining one code base nicely rather than two people poorly maintaining two codebases that do the same thing. I think it leads to superior code quality, less duplication of efforts, and safer implementation due to more eyes looking at it.

I would be happy to help, time permitting to make NCP even less intrusive if needed.

NCP does a coupl

[2018-05-16 20:14] Gill-Bates commented on #1772
running `systemctl restart dietpi-ramdisk` and then `systemctl status dietpi-ramdisk` solved the issue.

The question is: why does not the dietpi-config tool execute this command before rebooting?

[2018-05-16 20:47] Gill-Bates opened #1781 "[dupe] dietpi-ramdisk not saving during shutdown"
Executing `dietpi-update` will finish with this result:

[code]

After the reboot, the bash tells me, that I have still to install the Update:

`dietpi-update    = Run now to update DietPi (from v6.7 to v6.8).`

fyi:
`systemctl restart dietpi-ramdisk` and then` systemctl status dietpi-ramdisk` before rebooting didn't change anything.

[2018-05-16 21:42] s0r00t commented on #1769
Sorry for the lateness of my reply. Not quite used to my new git mail...

I just enabled both Ethernet & Wifi in dietpi.txt, and followed [this](https://www.raspberrypi.org/forums/viewtopic.php?t=132674).
Yes, I did.
In fact, I ran the setup without Ethernet, only on Wifi.

[2018-05-17 13:06] Fourdee commented on #1780
@brumouta

Thanks for the report, i'll take a look 👍

[2018-05-17 13:10] Fourdee commented on #1780
@brumouta

Lets see if you are running the updated Stretch image, please paste results,
[code]

---

Tests:
- Fresh install of Odroid C2 Stretch + HA = 🈯️
- Fresh install of Odroid C2 Stretch + plex, sickrage, couchpotato and transmission, then install HA = 🈯️

 Unable to replicate on Stretch (our current C2 image)

[2018-05-17 14:11] Fourdee commented on #1753
#### VMware image updated, NTPD sync and APT now resolved:
https://dietpi.com/downloads/images/DietPi_VMWare-x86_64-Stretch.7z

With many thanks to all the donators who helped fund my new PC, allowing me to continue VM support.
Its fast, freaky fast 😃
https://twitter.com/DietPi_/status/996841556463292416
https://twitter.com/DietPi_/status/996847866273464322

[2018-05-17 14:22] Fourdee commented on #1781
@WTFMaster

Thanks for the report 👍

Unable to replicate in local testing, so we will need to debug your system.

Please can you paste results of following commands, once the update is completed and before reboot:
[code]

Once completed, please try running the script manually, please paste results:
[code]

Then reboot system and check if version has been saved.

[2018-05-17 14:36] Fourdee commented on #1340
@MichaIng

Yep agree, i'll make the change and test on systems 👍

[2018-05-17 14:55] MichaIng commented on #1340
@Fourdee
### Koel 🈴
Some issues watched, at least the first one not being related with version:
- If webserver (PHP) was installed with different or no database, `php-mysql` will be not installed any more, so Koel fails to connect. We need to either find a good way to reinstall webserver + PHP as well (currently we skip, if install state is found) or install the PHP modules as well on MariaDB inst

[2018-05-17 15:03] Fourdee commented on #1340
@MichaIng

gyp WARN EACCES attempting to reinstall using temporary dev dir "/usr/local/lib/node_modules/onoff/node_modules/epoll/.node-gyp"

```--unsafe-perm``` will remove the root permissions warning, i'll send commit.

[2018-05-17 15:12] Fourdee commented on #1340
Blynk reinstall test:

- x86_64 🈯️
- ARMv6 🈴
- ARMv8 🈴
[code]

[2018-05-17 15:15] brumouta commented on #1780
Mine is Jessie.

PRETTY_NAME="Debian GNU/Linux 8 (jessie)"
NAME="Debian GNU/Linux"
VERSION_ID="8"
VERSION="8 (jessie)"
ID=debian

[2018-05-17 15:20] Fourdee commented on #1340
[code]

[2018-05-17 15:32] MichaIng commented on #1340
@Fourdee
Can you check which repo is actually used on these ARMs?

On Debian it should take Java 8: https://packages.debian.org/de/stretch/ca-certificates-java
- The deps are a bid wired, but as `openjdk-7-jre-headless` is not available on Stretch, `openjdk-8-jre-headless` should be taken.

On my RPi with Raspbian Buster is shows the right deps as well, interestingly still Java 8 even that it's te

[2018-05-17 15:37] Fourdee commented on #1340
Raspbian Stretch:
[code]

ARMv8 debian:
[code]

[2018-05-17 16:14] Fourdee commented on #1340
🈯️ Spotify web connect:
NB: didn't reboot to enable ALSA, working fine
[code]

[2018-05-17 16:19] MichaIng commented on #1340
Ah jep `apt-cache depends ca-certificates-java` shows more of the truth, on Raspbian Buster:
[code]
- should install Java 10, which is also default-jdk on Debian Buster.
______________
ARMv8 has the same issue without installing `ca-certificates-java` even that it is Debian repo?
Otherwise if it's just a Raspbian repo issue (as it works fine on my VM to install just `openjdk-8-jdk-headless`), we c

[2018-05-17 16:20] Fourdee opened #1782 "First run setup | Prompt user to change global PW (root/dietpi) on first run"
As title. Option to change the root and dietpi user passwords on first run install. Currently this is limited to ```dietpi.txt``` using automation.

Keep the "Mr. Robot" fan's happy 😉

[2018-05-17 16:40] Fourdee commented on #1340
@MichaIng

Yep, same issue, I think the cause is the actual package install script (limited to ARM?), and the order it runs in. Not much we can do about that, workaround required I believe for now.

Yep, ideally we need to exclude our OS from tests, if we can replicate with default Raspbian/Debian (once packages removed), we can then send this off as a bug.

[2018-05-17 17:05] Fourdee commented on #1782
ToDo:
- Run install tests, to ensure changing PW mid-session doesn't break software installs.

[2018-05-17 17:26] Fourdee commented on #1782
Test:
[code]

Still using dietpi password:
- Samba server

[2018-05-17 17:59] Fourdee commented on #1782
Completed.

[2018-05-17 17:59] #1782 closed, assigned to Fourdee

[2018-05-17 19:49] MichaIng commented on #1777
@Fourdee @Gokujo
The desktop terminal emulators seem to not use /etc/profile(.d/*) in every case... They seem to not count as "login shells"?

Just checked and could replicate on Mate desktop:
[code]

Manually sourcing globals works.
`source /DietPi/dietpi/func/dietpi-globals`

€: In the Mate terminal settings it can be chosen to start it as login shell. Afterwards DietPi banner and globals are ex

[2018-05-17 20:58] Fourdee commented on #1780
@brumouta

Apologies, we updated our Odroid C2 image a few weeks ago, it now runs Debian Stretch.

This will offer more recent software installations, and, performance improvements (eg: PHP7.0).

#### Please re-write the latest DietPi image to resolve this issue:
https://dietpi.com/downloads/images/DietPi_OdroidC2-ARMv8-Stretch.7z

I'll flag this as a known issue, however, the C1 is the only Jessi

[2018-05-17 20:58] #1780 closed, assigned to Fourdee

[2018-05-17 21:06] Fourdee commented on #1772
@WTFMaster

The command is actually a service, which executes during shutdown phase.
As we are unable to replicate this issue in local testing, we will need to debug with you.

However, before we can start, i need to add additional debugging to our script and log output. Leave it with me for now and i'll reply once its ready for testing.

[2018-05-18 00:02] MichaIng commented on #1775
@pronvit @Fourdee
I played around with qemu and chroot for a short time with the aim to create RPi images and do dev/testing.

I used qemu as VM on Windows Host, but found it to be extremely slow and didn't work to boot a DietPi image, as some manual fstab/cmdline.txt adjustments are needed and DietPi overwrites/readjusts them on 1st boot.

I tried chroot then as well with a test system on USB sti

[2018-05-18 00:07] pronvit commented on #1775
Why do you want to "reboot", "re-initiate" or somehow boot the system at all?

[2018-05-18 00:15] MichaIng commented on #1775
@pronvit

Not necessarily for image creation, just mentioned it as I was looking for some testing/development solutions as well, where e.g. some installation/configuration steps need system reboot or sometimes you want to test reboot behaviour especially. But this requires a VM at least. For this reason I am interested in what role qemu plays here.

[2018-05-18 00:48] pronvit commented on #1775
For running commands inside chroot. Just look at my `prep` script, the last line.

[2018-05-18 04:37] robotkid450 opened #1783 "Add zerotier to software catalog"
I was wondering if it would be possible to add zerotier ([www.zerotier.com](https://www.zerotier.com/)) to the DietPi software catalog.

[2018-05-18 05:39] gieljnssns commented on #1755
@MichaIng

As Debian boots by default and grub-efi-amd64 is installed, the bootloader seems to be the one from Debian, not OS X anymore?

How can I check this?

I burn my usb and sd with Etcher, and etcher says the image isn't bootable

But I've had another problem, when I did the update to v6.8 I've lost all my docker containers (Hassio)
Is this normal?

[2018-05-18 08:54] luispuerto commented on #1741
I think I have the same issue and I summited a bug report:
c1086a6e-a26a-4ef4-ad97-44ebd15b46c7-0

I've just
[code]
And now it works.

[2018-05-18 13:00] LexiconCode commented on #1557
Why do you want to avoid using Armbian?

[2018-05-18 13:36] Fourdee commented on #1557
@LexiconCode

Our projects, goals, and levels of professionalism are not compatible.

To ensure the best for both our projects, I took the decision to separate our projects and remove all ARMbian images. This will not be reverted or changed.

You are welcome to use ARMbian at your own agenda, however, I will not endorse or support it officially with DietPi.

[2018-05-18 13:39] Fourdee commented on #1741
@luisspuerto

Thanks for the report 👍

I'll move this to v6.9 and investigate this further.

[2018-05-18 13:42] Fourdee commented on #1783
@robotkid450

Many thanks for the request 👍

As our primary focus is ensuring stability with existing software titles we offer (and there is alot 😄), we mark all software requests as closed initially.
If interest peaks from our user base for this software title, we'll reopen and investigate adding this to ```dietpi-software```.

[2018-05-18 13:42] #1783 closed, assigned to nobody

[2018-05-18 15:22] gieljnssns commented on #1755
[code]

[2018-05-18 15:45] Fourdee commented on #1777
@MichaIng

xterm*loginShell: true

Couldn't get this to work with LXterm or Xterm on LXDE install, had no effect.

The only "solution" I found was to put everything back into ```.bashrc```, then simply run ```bash``` in any of the desktop terminals. although, users can run the ```dietpi-launcher``` shortcuts from desktop to get right in there. Maybe we could have a shortcut that launches bash with

[2018-05-18 15:59] Fourdee commented on #1777
@MichaIng

I'll send a commit that reverts back to ```.bashrc```, I cant see any other viable way to pull this off?
Commit sent, should be resolved with: https://github.com/Fourdee/DietPi/commit/6d20b08be0b43ee9ff4a17136ebdb4520e711352

[2018-05-18 16:13] Fourdee commented on #1776
Commit sent, should be resolved with: https://github.com/Fourdee/DietPi/commit/6d20b08be0b43ee9ff4a17136ebdb4520e711352

Pending v6.9 release.

[2018-05-18 16:16] joaofl commented on #487
@Fourdee After some long time, I believe I have some bad news regarding this.

Few weeks ago I finally tried to migrate to kernel 4.14 (from my actual setup running kernel 3.xxx) using the exact same hardware setup, with the latest dietpi. The setup Is:

SD card with the boot
SSD USB3 powered adapter with the filesystem, for better performance than the SD card.
HD on USB3, externally powered (wher

[2018-05-18 16:18] Fourdee commented on #1776
User error (me), reopened for testing.

[2018-05-18 16:22] Fourdee commented on #1776
@slim0287

Would you be willing to help us test the following (copy and paste all):
[code]

Once completed, reconnect via SSH and see if the error is removed, and, you see the DietPi login banner.

[2018-05-18 16:32] Fourdee commented on #487
@joaofl

Sounds like 4.14 isn't providing enough power to the USB port. Or the XU4 isn't getting enough power from PSU, or, external HDD's are not getting enough power, or, 4.14 is incompatible with the USB controller on the external HDD caddy. Nightmare basically lol.

Ok, even though it works on 3.x, the XU4 needs at least 5V/6A PSU in general, especially when using external HDD's. Regardless if

[2018-05-18 16:35] Fourdee commented on #1777
[code]

[2018-05-18 16:41] joaofl commented on #487
@Fourdee
I really believe it is not power related, as I have tested every cable/power supply combination possible. Believe me, I have loads of them. Even with a computer power supply, with some 10A+ available.

Moreover, if the filesystem is at the SD, and I run the stress test with kernel 4.14, and IO all SSD , HD and network intensively simultaneously, I get no errors. The issue only arises afte

[2018-05-18 16:58] Fourdee commented on #1777
Resolved for v6.9, using the new application ```dietpi-terminal``` (on desktop), which starts a bash login session with DietPi login and global variable support.

[2018-05-18 16:58] #1777 closed, assigned to nobody

[2018-05-18 17:09] Fourdee commented on #487
@joaofl

😄 + import tax £30 😉

[2018-05-18 17:54] Fourdee commented on #1741
Ok, perl/python are required at the very least for G_AGF to resolve. We could manually add the required pre-reqs to install list, however, could change on distro version and .deb update of webmin.

---

Install initially fixed, ~page does not load, endless wait.~ httpS required. Will make that clearer with online doc.

[2018-05-18 18:55] Fourdee commented on #548
@MichaIng

Dreamed about this last night 😃 https://twitter.com/DietPi_/status/997550976532930561

[2018-05-18 19:20] Fourdee commented on #1741
Resolved for v6.9.

[2018-05-18 19:20] #1741 closed, assigned to Fourdee

[2018-05-18 19:22] Fourdee commented on #1781
@WTFMaster

I'll mark this as closed in favor of https://github.com/Fourdee/DietPi/issues/1772 (dupe)

[2018-05-18 19:22] #1781 closed, assigned to Fourdee

[2018-05-18 19:26] Fourdee commented on #1340
Kind of agree with this: https://gist.github.com/bplower/613a99156d603abac083#gistcomment-2226016

But i'll try and get it fixed.

Roger that!
[code]

Use of ```G_CONFIG_INJECT``` (which is brilliant btw @MichaIng 😃 ), to add the missing entries, still prompts for initial setup of username etc.
- Unable to find "latest" variables, no documentation
- Nothing added to ```.env``` after manual setup,

[2018-05-18 20:31] Fourdee commented on #1762
If I remember correctly, the recommended service for sickrage ~has failed restart enabled by default~. ~I'll see about adding this back in to our service, may provide a "solution".~

[2018-05-18 20:48] Fourdee commented on #1558
Tests:
- Debian pcmanfm 🈯️
[code]

RPi version of ```pcmanfm``` is the issue, most likely customized towards the RPi desktop, either way, we'll pull in the Debian version to resolve.

[2018-05-18 21:07] Fourdee commented on #1558
```lxappearance``` still an issue, hangs on open with spawned ```dbus-launch``` process:
Terminate ```dbus-launch``` and it then runs.
[code]

[2018-05-18 22:03] slim0287 commented on #1776
@Fourdee That solved both issues-- the -sh: 146 Syntax error and the sudo su dietpi welcome information.  Thanks!

Slim

[2018-05-18 23:50] MichaIng commented on #1340
@Fourdee

Yes thought the same, so much install steps, so much pre-dependencies and so much warnings about deprecated, missing, skipped etc. modules/parts whatever. But I can't really give qualified criticism here, as I don't understand much of what's actually going on. Already the build process until `make` is in detail cryptic to me, okay at least I know in theory about compiling source code int

[2018-05-19 00:16] MichaIng commented on #548
@Fourdee
🎉 👍 Fantastic idea!!

We need to test carefully where we implement, as it should also depend if the bottleneck is actually CPU or instead RAM or disk and in case of RAM and disk multi threading might make things slower.

Max threads of course should be based on CPU count minus amount of additional CPUs that the commands use by themselves. But found indeed most commands/processes just usin

[2018-05-19 00:46] MichaIng commented on #1777
@Fourdee
I am not too happy with `~/.bashrc`. Then better use `/etc/bash.bashrc` to enable for all users and which blocks non-interactive shells. `~/.bashrc` is called by non-interactive shells as well, if I remember right, I once uncommented the cp/mv/rm security question replacements inside and suddenly found our scripts hanging on their cp/mv/rm. Although, was separately sourcing globals non ne

[2018-05-19 05:46] marcobrianza opened #1784 "DietPi-Software: add influxdb and grafana"
There are already several use cases of Diet-Pi for IoT / home automation thanks to softwares such as mosquitto and Node-Red.
The ability to easily log and visualize time base data completes the Diet-Pi strenght in this field.

I'm currently using influxdb as time-series database and grafana as visualization server on Diet-Pi both on Raspberry Pi and X86 virtual machine.
The manual installation is

[2018-05-19 11:04] MichaIng opened #1785 "DietPi-Backup | Backup archive with selectable max backups"
Ref: https://dietpi.com/phpbb/viewtopic.php?t=3593

[2018-05-19 13:00] MichaIng commented on #1755
@gieljnssns

Ahh, sorry didn't read careful enough earlier, I thought the successful flashed image does not boot on Mac.

Yeah, of course, now I found the issue. It seems not possible to directly flash a bootable EFI image. Thus we offer our image bundles with Clonezilla to flash on e.g. a USB drive, boot it from there, which will then allow to install DietPi on the target drive. You already linke

[2018-05-19 13:55] gieljnssns commented on #1755
I think rufus is Windows only?

[2018-05-19 14:08] Invictaz commented on #1755
@gieljnssns You have also Piwriter for Mac: https://sourceforge.net/projects/piwriter/

Did you try that?

[2018-05-19 14:35] MichaIng commented on #1755
@gieljnssns
Ah yes, didn't think about that 😜.

@gieljnssns
👍

Finally Etcher also allows to ignore and continue. Only thing I don't know if it automatically chooses needed GPT partition then?

[2018-05-19 15:01] Fourdee commented on #1768
Ok, in regards to having all the usage info on the new page. Made the decision this will be based on how much info there is per item.

EG: All desktop info will be on the new site
EG: VNC info will still link to forum, as we cannot cleanly code sections, and, its too long.

To achieve full move from forum to the new page, i'll either need to spend weeks improving my HTML/CSS knowledge, or, someone

[2018-05-20 12:04] Fourdee commented on #1776
@slim0287

Excellent, many thanks for testing and confirming fix. 👍
This fix will be applied automatically during v6.9 update (ETA: 1+ week release).

I'll mark this as resolved.

[2018-05-20 12:04] #1776 closed, assigned to Fourdee

[2018-05-20 12:05] nakda opened #1787 "PREP_SYSTEM_FOR_DIETPI.sh exits with error "Failed to get D-Bus connection: No connection to service manager.""
Just tried to follow the procedure to prepare a freshly installed Debian system for DietPi (https://github.com/Fourdee/DietPi/issues/1285#issue-280771944).
During the process, it terminated returning the following error:
Failed to get D-Bus connection: No connection to service manager.

SBC Device: Odroid-XU (yes, the first of the name)
Distro: Debian Jessie (https://forum.odroid.com/viewtopic.php

[2018-05-20 12:08] Fourdee commented on #1787
@Nakda

Thanks for the report 👍

Nice, always wanted one of those, no longer in production.

Ok, any chance you could copy/paste the entire SSH terminal output, when the error occurs? Will assist us in tracking down the area this occurs in code.

_Note to self: enable log output of PREP?_

[2018-05-20 13:50] Fourdee commented on #1784
@marcobrianza

Many thanks Marco 👍

Usually we close all software requests, pending comminuty interest before investigating, however, as you have done a cracking job with the install info, i'll get this added in for v6.9.

Any assistance with testing/configuration would be great, i'll let you know once its added to ```dietpi-software``` and available for testing.

[2018-05-20 14:11] Fourdee commented on #1784
Notes
- influxdb | ID=74 | https://dietpi.com/phpbb/viewtopic.php?f=8&t=5&start=120#p12523
- grafana | ID=77 | https://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=12524#p12524 | Lacks arm64/v8 packages. | http://192.168.0.100:3000

Services:
- influxdb?
- grafana-server

```dietpi-software install 74 77```

[2018-05-20 15:14] Fourdee commented on #1784
@marcobrianza

Install/uninstall code added, no changes to default install configs yet, could do with your help on that.

#### Here is how you can test the installation:
- https://github.com/Fourdee/DietPi/blob/master/TESTING-BRANCH.md#steps-to-use-the-dietpi-testing-branch
- InfluxDB and Grafana are in the "Hardware Projects" section, or, once 1st run setup is completed, you can simply run ```die

[2018-05-20 15:30] Fourdee commented on #1775
@pronvit

Many thanks for this 👍 I really appreciate it. I've got side-tracked with other tasks at the moment, however, once I can, i'll take an in-depth look into your commit and guide.

@MichaIng Yep, basically, and the time to read SD card to image, risk of SD card corruption during read, etc etc.
Its just a lengthy process I feel with @pronvit's guide and commit, we may be able to achieve some

[2018-05-20 15:31] Fourdee commented on #1775
Flagged for v6.9, so it doesn't get put to the bottom of pile.

[2018-05-20 17:25] nakda commented on #1787
Found ten of them in the office few months ago. Thought it would be nice to see how well they perform, starting with a Plex Media Server. Succeeded in installing the whole thing but got few issues. That's why I want to go for another try using DietPi this time.

Sure! Here it is..

[code]

[2018-05-20 17:27] MichaIng opened #1788 "DietPi-Globals | G_AGX: Tiny output format issue"
Just a tiny visual:

Observed this already on all systems and distros, VMs and RPi, seems to be an issue in how G_DIETPI-NOTIFY handles the APT removal output. See the large gap in front of `After this operation` and doubled `(Reading database ...)`. This exactly shows up the same on every G_AGP:
[code]

[2018-05-20 17:51] MichaIng commented on #1787
@Nakda @Fourdee
I am wondering why D-Bus is actually called on `systemctl start` or better why it fails, if D-Bus connections fails. It works perfectly completely without D-Bus.

But first some other questions @Nakda:
- Did I see it right that you ran the preparation script two times, or is it just some copy&paste issue?
- Same about the funny characters, do they show up correctly on real terminal

[2018-05-20 17:56] nakda commented on #1787
@MichaIng

I ran it once on a fresh install but didn't have logging enable in Putty settings (forgot I could simply copy/paste). So I ran the process a second time, just to ouput the logs, and the funny characters are coming from the Putty log file (they were displayed correctly in the terminal).

I just edited my post fixing characters, by simply copy/pasting the terminal output but you were prob

[2018-05-20 19:27] Fourdee commented on #1788
@MichaIng

Yep, confirmed the extra space.
[code]

Reading database double is normal, APT re-reading the database after finishing the command:
[code]

[2018-05-20 19:33] MichaIng commented on #1787
@Nakda
Ah yeah color/font format codes are problematic when forwarded to log. In case of terminal output, it is best to just copy&paste from there, though not always possible, if not accessed via SSH.
👍 Way better readable now, thanks!

Okay, locales/localepurge seems to be not the issue. Purging `dbus` as stated above would be the fast fix to go, but actually dbus "should" cause no errors. If you

[2018-05-20 19:36] Fourdee commented on #1787
@MichaIng

Yep strange one, the only thing I can think is the following somehow requires dbus:
[code]

Or, SystemD full install is not present on the pre-image? Unsure will need to wait for @Nakda's reply from: https://github.com/Fourdee/DietPi/issues/1787#issuecomment-390505650

[2018-05-20 19:39] MichaIng commented on #1787
@Fourdee
Ah of course, I just thought about broken dbus, but missing dbus of course could be the issue as well. But actually all my pre-images and all my running systems are dbus-free and I never faces an issue like this when treating systemd units. I add `apt install dbus` to fix test above 😉.

[2018-05-20 19:56] nakda commented on #1787
@Fourdee @MichaIng

Thank you both for the suggestions.

Any command starting with "systemctl" did return the same error code "Failed to get D-Bus connection: No connection to service manager." So I proceed to the installation of dbus. After that, I did try again the systemctl related commands, but the output was the same error (even after rebooting, in case that matters).

Here is the output of t

[2018-05-20 20:28] Fourdee commented on #1762
Hmm, I believe this is just be a simple case of SystemD timing out the service before Sickrage has had enough time to init.

I'll update the service for v6.9 to never timeout, lets see if that resolves the issue you reported.

[2018-05-20 20:30] Fourdee commented on #1762
Patch applied to v6.9, service will update automatically. I'll mark this as preliminary resolved for v6.9 (ETA: 1 week release).

@lucario1001

If you want to apply this fix now, copy and paste all into SSH:
[code]

[2018-05-20 20:30] #1762 closed, assigned to Fourdee

[2018-05-20 21:14] MichaIng commented on #1787
@Nakda
Thanks for testing. Ah you have a desktop image. Okay the desktops usually need dbus to work. No idea why `systemctl` does as well in your case.
Your commands did upgrade dbus as well as other system packages. What I find strange is, that `libsystemd0` got installed, thus was not installed before, even that it is base dependency of `systemd` itself 🤔. Looks like @Fourdee was right with inco

[2018-05-20 21:28] nakda commented on #1787
@MichaIng

Didn't know it was a desktop image, sorry if that would have helped. I simply grabbed the one available on the Odroid forum.

I already did try a reboot without success, so I installed `systemd-sysv` as suggested, but after the reboot the odroid is not visible to the network so I can't access it using SSH. I will probably have to plug it to the TV tomorrow. I will get back at you as soo

[2018-05-21 11:02] MichaIng commented on #1778
@nachoparker
Thanks for sharing your ideas. Yes, indeed it's a question if we can get NCP installed in a way, that an existing webserver stack is adjusted with modular configuration files only and a Nextcloud-only web UI, that doesn't include otherwise doubled system settings. Simply a Nextcloud-only version. Also we allow Nginx and Lighttpd as webservers.

Let me now start with NCP installation o

[2018-05-21 11:08] nakda commented on #1787
@Fourdee  @MichaIng

Just gave it a try this morning. Odroid still not visible on the network since I installed sysv, and I got "no signal" when plugging it to the TV. It's strange because it was working before doing a clean install. I did try to edit boot.ini, to make sure it was outputing to HDMI with a correct resolution, but it didn't help.

I'll investigate and let you know.

[2018-05-21 11:29] MichaIng commented on #1787
@Nakda
Perhaps the first thing, that you should do with the fresh image, before running DietPi-PREP:
- Cleaning the system: `apt-get update && apt-mark auto gnome lxde openbox localepurge && apt-get autoremove --purge`, the more e.g. desktop related packages you can automark/autoremove, the better: `apt-mark showmanual`
- Then upgrading all packages to current version: `apt-get upgrade`
- Includin

[2018-05-21 13:09] MichaIng commented on #1778
### Testing protocol
- On fresh DietPi Stretch VirtualBox VM:
1. `dietpi-software install 76 91` # LAMP stack + Redis
2. `curl -sSL https://raw.githubusercontent.com/nextcloud/nextcloudpi/master/install.sh | bash`
   - LAMP stack + Redis want's to be installed again
   - Apache is installed with `php-fpm`, where DietPi installs it with `mod-php`.
   - Some Apache modules are actively disabled<s>,

[2018-05-21 13:25] MichaIng commented on #1778
Next attempt with fix as above goes on:
- `dnsmasq` is installed, check compatibility with DietPi dnsmasq using software, `Pi-hole`, `hostapd` etc.
- `letsencrypt` is installed, incompatible with DietPi-LetsEncrypt. Consider moving those and above into separate optional install step.
- 🈴 `dnsmasq` setup breaks name resolution on DietPi. Scripts goes on, continuously failing to connect to APT repos

[2018-05-21 13:40] gieljnssns commented on #1755
I've tried with;

- Ether also allows to ignore and continue
- https://sourceforge.net/projects/piwriter/
- applepi-baker
- sudo dd command
- ...

 I can not boot with the x86 EFI image.

[2018-05-21 13:49] MichaIng commented on #1755
@gieljnssns
Hmm okay, since it boots fine on other systems, seems that Mac needs some specials to boot the stick. Looks like the method via Debian wiki you used is the way to go for now.

[2018-05-21 18:47] nakda commented on #1787
@MichaIng
Ok, so I flashed again a fresh image, updated the kernel following the official procedure, and `systemctl` is not working.

After reaching the `apt-get dist-upgrade` step you suggested, `systemctl status` returned

Should I try `apt install systemd-sysv` once again, since my system is now up-to-date?

**EDIT: Actually, after rebooting the systemctl command succeeded !**

Do you think I s

[2018-05-21 19:27] Fourdee commented on #1784
To Do:
- Online docs

[2018-05-21 19:29] Fourdee opened #1791 "DietPi-Software | TigerVNC+LXDE: Calling lxappearance crashes VNC virtual desktop"

[2018-05-21 19:30] Fourdee commented on #1558
Completed, new ticket for the other issues with lxappearance:
https://github.com/Fourdee/DietPi/issues/1791#issue-325031923

[2018-05-21 19:32] Fourdee commented on #1445
Ok, will mark this as closed for now, should be resolved with v6.9 and switch to SystemD timesyncd by default:
https://github.com/Fourdee/DietPi/pull/1628

However, should users still experience this past v6.9, please reopen and we'll restart investigations.

[2018-05-21 19:32] #1445 closed, assigned to nobody

[2018-05-21 19:49] Fourdee commented on #1764
Re-tests:
SubSonic:
- RPi 3 🈯️
- VM 🈯️

AirSonic:
- RPi 3 🈯️ took 3 minutes before web interface was accessable (long init/startup time)
- VM 🈯️

[2018-05-21 20:09] Fourdee commented on #1764
Completed. Patched reinstall for v6.9.

[2018-05-21 20:09] #1764 closed, assigned to Fourdee

[2018-05-21 20:46] Fourdee commented on #1340
@MichaIng

Great work on Koel 👍

Just ARMv6 to test, leaving it installing over night 😉.

---

ToDo (me):
- RPI Cam tests

[2018-05-21 20:50] marcobrianza commented on #1784
for the moment I have succesfully tested  influxdb on x86 and raspberry Pi 1 and 3

**documentation**
influxDB is a database optimized to save time based data as logs or data from a sensor.
The main interface to the database for management and data transfert is http requests that are handled directly by influxdb service (default port being 8086).
The data can be nicely viewed with Grafana.

The pa

[2018-05-21 21:56] marcobrianza commented on #1784
I just checked that grafana has different repos for the different ARM versions. The one I linked yesterday is ok for raspberry 2 and 3 and does not run on raspberry 1.
on ARMv6 this is the config:
`echo "deb https://dl.bintray.com/fg2it/deb-rpi-1b stretch main" | sudo tee -a /etc/apt/sources.list.d/grafana.list`

This also runs on ARMv7 (tested)

There is also one for ARMv8 but cannot test it sinc

[2018-05-21 22:30] MichaIng commented on #1666
Another advantage if `ip` is, that it is doesn't require root privileges.

[2018-05-21 23:07] MichaIng commented on #1787
@Nakda
Thanks for testing this. Yes Stretch is preferred, as Jessie support will slowly fade out. The distro upgrade can always cause issues though, similar to the one you faced with systemd, even that it was still Jessie 😉.
But DietPi-PREP at least minimizes risk by purging down to image to a bare minimum. Less packages means less risk that any of them will cause issues/create a non-resolvable de

[2018-05-22 07:37] nakda commented on #1787
Yes, sure! Since I'm new to this, would you mind sharing how to create an image of my system? I can probably find a procedure on the Internet but is a specific tool or parameters preferred?

I'll forward you a link to download my image this week!

[2018-05-22 09:57] MichaIng commented on #1787
Perhaps @Fourdee can add his image creation procedure best?

I will also add it to: https://github.com/Fourdee/DietPi/issues/1505
And better we enable the github wiki to add info like this, as well as other static info to move them out of "issues"?

[2018-05-22 10:05] MichaIng commented on #1788
Hmm of course we do not pipe APT output through G_DIETPI-NOTIFY, just echo colour code around and run non-interactive... Will do some tests about which step causes the format issue.

Otherwise ignore, it's really just a tiny one.

[2018-05-22 12:46] Fourdee commented on #1784
@marcobrianza

Many thanks for the additional testing and info 👍

I suggest to put it in /mnt/dietpi_userdata

We'll do a symlink as per grafana install.

Thanks, i'll go through these and re-check/change as needed.

[2018-05-22 16:21] Fourdee commented on #1340
Koel ARMv6:
[code]

[2018-05-22 17:40] Fourdee commented on #1772
Ok, full logging output added for v6.9 on all DietPi core boot services. If issues occur in the future we can collate with the logs after user runs ```dietpi-bugreport```
If the logs are clear of any errors, we can 99.9% confirm a hardware specific issue of the data not being saved correctly, outside of our control.
_NB: In the last 2 years of doing DietPi, i've never experienced the issue of RAMd

[2018-05-22 17:40] #1772 closed, assigned to Fourdee, MichaIng

[2018-05-22 17:48] Fourdee commented on #1787
@Nakda

To save to image:
- Run through PREP and complete it
- Once PREP is completed, power off the system
- Read the SDcard to an image file (eg: win32diskimager, or, ```dd if=/dev/sda of=/myimage.img``` (where sda is SD card)
- Save the following script to a file
[code]
- Edit the file,
- Change ```IMAGE_FP=``` to where the directory of the saved image is (eg: ```/root```)
- Change ```IMAGE_NAM

[2018-05-22 19:23] marcobrianza commented on #1784
some info to create the grafana info post:

grafana runs a stand alone web server, the default port is 3000
http://dietpi.local:3000
default credentials are admin/admin

If you have created a database as in the influxDB help follow theese instructions:

from the Home Dashboard click "Create you first data source"
Name: mydb_source
Type: InfluxDB
URL: http://localhost:8086
Database: mydb
User: test

[2018-05-23 04:52] thefurfel opened #1792 ""Welcome messages" crash SCP"
#### Required Information:
- DietPi Version 6.7
- SBC Device RPi Zero W
- Power supply used USB 20W PSU
- SD card used Unknown (4D)
- Distro Linux DietPi 4.14.34+ #1110 Mon Apr 16 14:51:42 BST 2018 armv6l GNU/Linux

#### Additional Information (if applicable):
- Software title: SCP
- Can this issue be replicated on a fresh installation of DietPi? Dunno.

#### Expected behaviour:
Sending file happi

[2018-05-23 07:50] MichaIng commented on #1792
@Furfel
Thanks for your report.

As you are on version 6.7, can you verify, that the calling code for the message/globals is within `/root/.bashrc`?
[code]

I will do myself later, but could you try to add `[ -z "$PS1" ] && return` in front of the DietPi related lines? I had the impression earlier that .bashrc is not only called for interactive terminals.
[ -z "$TERM" ] does not work obviously, as

[2018-05-23 15:45] Fourdee commented on #1792
@Furfel

Which SCP client and example commands used? We can try to replicate.

[2018-05-23 16:30] Fourdee commented on #1784
#### To do (my end):
- 🈯️ InfluxDB online doc based on @marcobrianza excellent writeup: https://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=12523#p12523
- 🈯️ Grafana online doc based on @marcobrianza excellent writeup: https://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=12524#p12524
- Verify/update archs against repos: https://github.com/Fourdee/DietPi/issues/1784#issuecomment-390795268, then retest ins

[2018-05-23 18:48] FlybyKnights commented on #1766
Simple workaround:

Grab the code from [here](https://unix.stackexchange.com/questions/228015/move-a-file-and-replace-it-by-a-symlink) (the one with the 'while' statement) and add it to` nano /bin/mvln` then make it executable `chmod +x  /bin/mvln`

That gives you the ability to move files and leave behind symbolic links using `mvln original_path target_path`

Now its just a matter of running `mvl

[2018-05-23 20:02] Fourdee commented on #1784
@marcobrianza

I believe we are completed. Tests installs and using your guide was spot on 👍 Great work on this. Email me your address (daniel.knight@dietpi.com) and i'll send over some DietPi stickers:
https://twitter.com/DietPi_/status/998305772227497985

I've made one change to Grafana, the default web interface password is 'dietpi'.

I'd also be grateful if you could run a final test install +

[2018-05-24 00:14] nakda commented on #1787
Thanks @Fourdee ! By chance, do you got any alternative that can be run from a terminal ? I can move the SBC and plug it to the TV if needed, but CLI is more convenient.

[2018-05-24 10:09] nachoparker commented on #1778
great job. Give me a few days to go through these points, as I am now preparing the next release

[2018-05-24 11:35] sal666 commented on #1171
Unfortunately, GRUB is not able to boot Apollo Lake devices.
isorespin's author Ian Morrison (AKA Linuxium), explains it well [here](http://linuxiumcomau.blogspot.com.tr/2017/06/customizing-ubuntu-isos-documentation.html).
In a nutshell, we need to replace GRUB with [rEFInd](https://www.rodsbooks.com/refind), both in the installation pen drive and in the target device.

To prepare an installation

[2018-05-24 11:41] nakda commented on #1787
@MichaIng  @Fourdee

I played with DietPi for a bit to make sure the system runs well, and it does.

Since I messed a bit with the system, I wanted to do a clean install before creating an image that I'll share with you. Last time, I didn't have my eMMC adapter so I did flash the SD Card.
Today, I wanted to follow the same procedure but targeting the eMMC. Apart from the fact that my root partitio

[2018-05-24 12:47] unclehowell opened #1793 "How do you do it? The dietpi image file"
I want to have your image file, which is nice and small and bug free, but with my custom dietpi.txt file in it.
What's the best way to go about this?
Because burning to an SD, switching the file, ripping it back using win32 is just messy.
Can I pay you guys to do?

[2018-05-24 13:30] Fourdee commented on #1747
Confirmed bug, apologies for the delay @fieldOfView. We'll investigate and resolve.

[2018-05-24 13:35] Fourdee commented on #1747
Notes:
- https://elinux.org/RPi-Cam-Web-Interface:
By default the system generates the live preview as a continuous set of captured images as this has maximum browser compatibility. MJPEG streaming may be selected but this may not work on all browsers.