[2018-05-24 14:37] fieldOfView commented on #1747
Yes, repetitive jpeg “faux-streaming” works fine. I am using raspimjpeg as an alternative to mjpegstreamer for an OctoPrint instance, and that requires mjpeg streaming.

[2018-05-24 15:01] MichaIng commented on #1778
@nachoparker
About mysql service name. Should be possible for compatibility to just try one by one all possible service names, mysql/mqsqld/mariadb and break loop after one was able to be restarted without error code.

About ncp user name. It's maybe good to let user choose if this existing user should be used/permission set or not, just in case if it exists for another reason/application. Or if u

[2018-05-24 15:39] Fourdee commented on #1793
@unclehowell

Mount the image as a loopback device then mount the boot partition. You can then edit the dietpi.txt file to your needs.

You'll need a linux/DietPi install:
[code]

[2018-05-24 15:47] Fourdee opened #1794 "ROCK64 | Implement GPU driver install"

[2018-05-24 15:52] Fourdee commented on #1794
Packages:
[code]

https://github.com/rockchip-linux/rk-rootfs-build/tree/master/packages/armhf

Xorg.conf
[code]

[2018-05-24 16:59] thefurfel commented on #1792
@MichaIng
Yeah, both login and globals are there, they execute normally when logging via ssh.

@Fourdee
From: OpenSSH_7.4p1 scp client on Raspbian
To: OpenSSH_7.4p1 server on DietPi 6.7
`echo "hello world" > helloworld.txt`
`scp helloworld.txt dietpi@10.1.1.12:/home/dietpi`

[2018-05-24 19:37] bokiroki opened #1795 "/dev/sda1 can't read superblock"
We had power outage, and after power came again, i have problem with external hdd, it said it is not mounted, i can't access it.. when i try to mount it, i get message "/dev/sda1 can't read superblock"
Is there a fix to this solution?

[2018-05-25 09:23] Gill-Bates commented on #1772
Here is my Bugreport:
`Reference CODE: ca8f7b98-88fd-4524-8ebc-2926ce337a2c-0  `

[2018-05-25 11:24] MichaIng commented on #1795
Try to run a file system check. We added this to `dietpi-drive_manager`.
Open drive manager enter edit of the affected device and there you should see the option to run the check.

Agree to do automated fix, be aware that for some file system types (which one is it?) the repair steps might make the damage worse and lead to further data loss. If the data is extremely important and you don't have a

[2018-05-25 12:33] marcobrianza commented on #1784
I should do the final tests by the end of the week. I already got yesterday the dietpi stikers because of a donation :-)

[2018-05-25 13:56] Fourdee commented on #1792
@Furfel

Thanks 👍

#### Test on v6.9 dev branch ('ll test v6.8 master once I've setup a fresh install machine to test):
- 🈯️ DietPi to DietPi system
[code]

Notes,
- possible issue with Raspbian as client?
- Resolved for v6.9?

[2018-05-25 15:00] Fourdee commented on #1794
https://launchpad.net/~ayufan/+archive/ubuntu/rock64-ppa/
🈴 Lacks ARM64 packages

[2018-05-25 15:06] Fourdee commented on #1794
https://github.com/ayufan-rock64/linux-build/issues/111#issuecomment-370261364
- Requires Ubuntu:
- GPU packages not available in http://deb.ayufan.eu/orgs/ayufan-rock64/releases
[code]

[2018-05-25 15:54] Fourdee commented on #1754
[code]

[2018-05-25 16:06] Fourdee commented on #1754
Completed.

[2018-05-25 16:06] #1754 closed, assigned to Fourdee

[2018-05-25 16:16] Fourdee commented on #1759
Couldn't replicate this in my testing:
[code]

[code]

Appears the issue is now resolved. I'll mark this as completed.

[2018-05-25 16:16] #1759 closed, assigned to Fourdee, k-plan

[2018-05-25 17:13] Fourdee commented on #1340
SABnzbd test install:
- 🈯️

Cava update, test installs:
- 🈯️ ARMv6
- 🈯️ ARMv7
- 🈴 ARMv8 | Illegal instruction, compiled twice... | 🈯️ previous binary works fine ```wget https://dietpi.com/downloads/binaries/all/cava_0.4.2_arm64.deb; dpkg -i *.deb```
- 🈯️ AMD64

[2018-05-25 19:10] Fourdee commented on #1787
@Nakda

Not currently, I've not found a way to automate the gparted resize yet.
I use a remote desktop (EG: VNC) currently.

Strange, try killing the process then manually removing it:
[code]

If not errors, re-reun prep again, should go through.

[2018-05-25 19:17] Fourdee commented on #1792
@Furfel

Any chance you can test current v6.9, to see if the issue is resolved?
- Create a backup ```dietpi-backup 1```
- Update to latest v6.9 testing branch ```G_DEV_1```
- reboot system and retest
- Should you need to restore (back to stable master), run ```dietpi-backup -1; reboot```

[2018-05-25 23:09] bokiroki commented on #1795
i tried with file system check and everything went fine...i can mount hdd now.. thanks
nothing is lost on drive

[2018-05-25 23:09] #1795 closed, assigned to MichaIng

[2018-05-26 05:38] ludji49 opened #1796 "Nextcloud certificate end problem"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version | ```cat /DietPi/dietpi/.version 6.8
- SBC Device (EG: RPi 3) RPi 3
- Power supply used EG: 5v 1A RAVpower
- SD card used  Sandisk ultra 32
- Distro Jessie

#### Additional Information (if applicable):
- Software title?certificate nextcloud
- Can this issue be replicated on a fresh installation of DietPi :non

#### Expect

[2018-05-26 09:26] unclehowell commented on #1793
Champions, thanks

[2018-05-26 13:33] marcobrianza commented on #1784
Hi, I'm still out of office and started to test just on virtualbox:
InfluxDB all correct.

Grafana has an issue in the repo url. I'm attaching the screenshots: the error from the setup, and the sources situation.
![grafana-x86-](https://user-images.githubusercontent.com/1008278/40576618-e2bb45be-60f9-11e8-9419-7dcb552a46c5.png)

![sources](https://user-images.githubusercontent.com/1008278/40576625

[2018-05-26 14:32] nakda commented on #1787
@Fourdee

Killing the process and removing it worked! DietPi is successfully installed on the emmc.

I did try to create an image of the system, but I'm stuck following your procedure.

The last partition displayed by gparted is root, so I can't resize it.
![gparted](https://user-images.githubusercontent.com/25755503/40577198-e59012c6-6101-11e8-9f13-273183fe1362.PNG)

It does not detect the full c

[2018-05-26 16:08] Fourdee commented on #1784
@marcobrianza

Confirmed, thanks 👍

Bug our end, i'll get it fixed:
[code]

[2018-05-26 16:12] Fourdee commented on #1784
@marcobrianza

Resolved, install now succeeds. Make sure to reinstall the VM using testing branch again, or if you made a backup of system prior to installing InfluxDB/Grafana, you can simply run:
[code]

[2018-05-26 16:14] Fourdee commented on #1793
I'll mark this as answered, please reopen if required.

[2018-05-26 16:14] #1793 closed, assigned to nobody

[2018-05-26 16:18] Fourdee commented on #1787
@Nakda

Strange, our resize script should do this during 1st run of the device. We'll need to debug, please paste results:
[code]

[2018-05-26 16:20] nakda commented on #1787
@Fourdee

Here is the log output:

[code]

[2018-05-26 16:22] Fourdee commented on #1340
### Squeezelite
Reason for our squeezelite binary install (vs Debian repo)
[code]
We apply a DSD patch which enables DSD support, and, minimal binary with ALSA.

[2018-05-26 19:38] marcobrianza commented on #1784
Yes! I can confirm install works on virtualbox and setup is ok , tomorrow hopefully I will test the raspberries.

[2018-05-26 21:35] Fourdee commented on #1768
Note to setf: Downloads completed: https://dietpi.com/dietpi-software.html

[2018-05-26 23:03] Fourdee opened #1797 "DietPi-Software | Cloudprint (CUPS) web interface not functional"

[2018-05-27 09:17] marcobrianza commented on #1784
I confirm that setup and software run correctly also on raspberry 1 and 3. I think we are done!

Maybe we should add a note on grafana that binaries are different for the different arm architectures: I'm used to swap SD cards between raspberries without considering the model.
I don't know if there are different builds for other softwares in DietPi and the warning is addressed already.

Thank you f

[2018-05-27 09:26] MichaIng commented on #1796
@ludji49
You have a `letsencrypt` certificate I assume and as far as I remember from your last issue? 3 months duration fits to this.

Seems like the automated renewal is not active.

Please try to run `dietpi-letsencrypt 1`.

[2018-05-27 10:20] rasugo opened #1799 "Odroid XU4 stretch image - HDMI not working"
## Creating a bug report/issue:

Downloaded yesterday the image DietPi_OdroidXU4-ARMv7-Stretch and put it on eMMC module and SD card. No HDMI output.

#### Required Information:
- DietPi Version | ```cat /DietPi/dietpi/.version```?
- SBC Device (EG: RPi 3)?
- Power supply used (EG: 5v 1A RAVpower)?
- SD card used (EG: Sandisk ultra)?
- Distro (EG: Jessie) | ```uname -a```?

#### Additional Informa

[2018-05-27 14:34] FWeissenb commented on #794
I installed Dietpi V6.8 on odroid XU4 and this bug still exists. :/

I used auto-install to create the system.

dietpi@Terminus:~$ ls -la /usr/bin/ | grep sudo
-rwxr-xr-x  1 root root  102612 Mai  4 15:40 sudo
lrwxrwxrwx  1 root root       4 Mai  4 16:14 sudoedit -> sudo
-rwxr-xr-x  1 root root   34588 Mai  4 15:40 sudoreplay

[2018-05-27 16:49] ichbestimmtnicht opened #1800 "Missing libjpeg-dev for Octoprint Plugin"
#### Required Information:
- [ INFO ] DietPi-Update | Current Version : 6.8
- SBC Device  RPi 3b
- Power supply used 5v 2,5A
- SD card used Sandisk ultra 10th grade 32GB
- Distro `Linux mary 4.14.37-v7+ #1111 SMP Thu Apr 26 13:56:59 BST 2018 armv7l GNU/Linux`

#### Additional Information (if applicable):
- Octoprint
- yes

#### Expected behaviour:
The Plugin get installed

#### Actual behaviour:
`

[2018-05-27 17:27] Fourdee commented on #794
@FWeissenb

Thanks for the report 👍

This 'should' be applied to our images by default, however, please try running the following command:
[code]

Should result in:
[code]

If this resolves, we'll run this as a patch for v6.9.

[2018-05-27 17:34] Fourdee commented on #1800
@ichbestimmtnicht

Thanks for the report 👍

Although OctoPrint does not require this package to run stock, <1MB for this package, I see no harm in adding this to the install by default, to assist with additional end user plugin installations.
[code]

[2018-05-27 17:52] Fourdee commented on #1800
```libjpeg-dev``` will be installed automatically for v6.9.

Completed.

[2018-05-27 17:52] #1800 closed, assigned to Fourdee

[2018-05-27 17:58] Fourdee commented on #1784
Yep, added a notice: https://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=12524#p12524. Although generally speaking, once software is installed, we do not recommend swapping SD cards across RPi arch's, as some of the software in ```dietpi-software``` is CPU arch specific.

because DietPi is my favourite special purpose linux distribution.

Thank you for providing all the install and documentation info

[2018-05-27 17:58] #1784 closed, assigned to marcobrianza, Fourdee

[2018-05-27 18:47] ludji49 commented on #1796
here is the result

![2018-05-27_204510](https://user-images.githubusercontent.com/10480101/40589522-ee77f064-61ee-11e8-897c-6177c95ffa82.png)

[2018-05-27 19:53] Fourdee commented on #1799
@rasugo

Thanks for the report, we'll try to replicate 👍

[2018-05-27 19:56] MichaIng commented on #1796
@ludji49
Ah I remember we changed your webserver root last time to have Nextcloud available directly at domain, instead of at domain/nextcloud. Yes as mentioned already that time this causes some incompatibility with DietPi.

But this one is easy to fix. DietPi-LetsEncrypt tries to use /var/www as webroot where yours is at /var/www/nextcloud. Let's try to call certbot directly with this adjusted.

[2018-05-27 20:07] MichaIng commented on #1792
@Furfel
We just switched to a new login script method that should not be called on non-interactive shells with no terminal ($TERM) available. This new system on testing branch needs testing with all file transfer software but is meant to solve your issue: https://github.com/Fourdee/DietPi/pull/1798

[2018-05-28 01:17] Fourdee commented on #1799
@rasugo

Working fine in our local testing
![image](https://user-images.githubusercontent.com/7077026/40592982-e7fdeec2-621c-11e8-9582-3c3e2d320cd9.png)

Please verify:
- HDMI cable working
- on the SD card edit ```/boot/boot.ini``` try DVI mode ```setenv vout "dvi" ```, then boot
- on the SD card edit ```/boot/boot.ini``` try a lower resolution, eg ```setenv videoconfig "drm_kms_helper.edid_firmw

[2018-05-28 04:25] ludji49 commented on #1796
here is the result
It must be good.

![2018-05-28_062449](https://user-images.githubusercontent.com/10480101/40597157-ebc01a26-623f-11e8-84ac-ed167cf586a8.png)
![2018-05-28_063052](https://user-images.githubusercontent.com/10480101/40597272-b807a162-6240-11e8-9883-3b8e2943b708.png)

[2018-05-28 11:56] MichaIng opened #1801 "General | Using e.g. /tmp as ramdisk download location"
To reduce SD writes, increase unpacking and installation times, shouldn't we use a ramdisk location, most properly `/tmp` or `/tmp/dietpi-downloads` to download achieves and packages to, unpack them and install from? Also for DietPi-Update this would be beneficial I think.

As DietPi-Software installations and DietPi-Update first stop services, there should be enough free RAM available and we rece

[2018-05-28 13:43] valerivp commented on #1285
Orange Pi i96 on Debian after instalation DietPi (with out errors), and reboot wrote:

Please login to continue

But not show command promt
![2018-05-28_1642](https://user-images.githubusercontent.com/28062383/40617166-260c4410-6296-11e8-99ab-6b28d3c1d3ec.png)

[2018-05-28 13:54] valerivp opened #1803 "Start failed"
Orange Pi i96 on Debian after instalation DietPi (with out errors), and reboot wrote:

Please login to continue

But not show command promt

## Creating a bug report/issue:

#### Required Information:
v6.7
Orange Pi i96 Cortex A5

#### Additional Information (if applicable):

#### Expected behaviour:
promt for login

#### Actual behaviour:
nothing

#### Steps to reproduce:
install DietPi on board

[2018-05-28 14:13] rasugo commented on #1799
The HDMI cable is working - using the Jessie image, it works out of the box.
With the above two settings it works !

[2018-05-28 14:13] #1799 closed, assigned to Fourdee

[2018-05-28 17:03] Fourdee commented on #1801
@MichaIng

Love the idea 👍

Yep 500MB should fit all our downloaded software one at a time, as we already remove the file afterwards, should be fine.

This will also speed up G_THREAD_START.

Yep, lets make it happen:
- variable in dietpi-software for filepath of ```/tmp/dietpi-downloads```?
- then use ```$DP_DL_TMP/$INSTALL_INDEX.ext```? (DP= directory path)

[2018-05-28 17:08] Fourdee commented on #1797
Notes:

- during install
[code]

Due to service not running.

[2018-05-28 17:33] Fourdee commented on #1797
@oparoz

Resolved for v6.9, please run the following commands to resolve your current install of cups:
[code]

[2018-05-28 17:47] #1797 closed, assigned to Fourdee

[2018-05-28 17:48] Fourdee opened #1804 "dietpi.com | Unexpected downtime"
https://twitter.com/DietPi_/status/1001154015734976513

[2018-05-28 17:50] Fourdee commented on #1804
![image](https://user-images.githubusercontent.com/7077026/40625005-c0e13b4c-62a7-11e8-8e70-56d6b97ec5a5.png)
![image](https://user-images.githubusercontent.com/7077026/40625052-0bc652fa-62a8-11e8-93a9-e74044a9e25b.png)

[2018-05-28 18:13] Fourdee commented on #1804
![image](https://user-images.githubusercontent.com/7077026/40625567-3cd44f70-62ab-11e8-961a-871022181a4d.png)

[2018-05-28 18:13] #1804 closed, assigned to nobody

[2018-05-28 18:23] Fourdee commented on #1803
@valerivp

At the point where it says "Please login to continue", you can login at this point. Simply type ```root```, enter then the password prompt will appear.

[2018-05-28 19:10] MichaIng commented on #1801
@Fourdee
Jep, sounds good. Hmm new prefix `DP_`? I think I would stay with `FP_`, as we use this for other directory paths as well. "_directory_ <= file" and "_file_ == regular file <= file" or something like that 🤣. But in the end it doesn't matter much.

Nice to have more and more consistency with dietpi-software downloads 👍.

[2018-05-28 23:21] MichaIng commented on #1749
@Fourdee
Hui, larger task then I thought, to implement the rootfs file structure update, but done and ready to test: https://github.com/Fourdee/DietPi/pull/1802

Removing `dietpi-set_core_environment` actually is no problem then, as `dietpi-postboot.service` is added automatically, as well as updates for the other services, containing the updated BEFORE/AFTER/REQUIRES values.

But just to be sure

[2018-05-28 23:43] MichaIng opened #1805 "DietPi-Autostart | Install LightDM as pre-req automatically?"
When testing a bid around with login scripts on different shells and terminals, I recognized that just an error is thrown, when choosing lightdm desktop login prompt.

Wouldn't it be nice, if this is then installed automatically, or prompt a G_WHIP to ask user? We could also do this when other autostart options with required software or packages is chosen.

[2018-05-29 00:29] MichaIng commented on #1787
@Nakda @Fourdee
Our first run script just extends drives with /dev/mmcblk or /dev/sda name scheme, but yours is /dev/loop?

You can go through the fdisk steps manually: https://github.com/Fourdee/DietPi/blob/update-rootfs-merge/rootfs/var/lib/dietpi/services/fs_partition_resize.sh#L48-L66
But be careful, as this can break all data on the drive.
[code]

[2018-05-29 04:15] valerivp commented on #1803
@Fourdee
it's not work
![2018-05-29_0713](https://user-images.githubusercontent.com/28062383/40637811-0dcabb1e-6310-11e8-8880-2a779228912d.png)

[2018-05-29 08:55] MichaIng commented on #1796
@Ludji49
Jep looking good. As mentioned, end of Juli the certbot cron job will perform the certificate renewal automatically with the new settings, so nothing more to do about this.
I will mark as closed.

[2018-05-29 08:55] #1796 closed, assigned to nobody

[2018-05-29 17:16] MichaIng opened #1808 "DietPi-Process_Tool | Faulty /DietPi/dietpi/.dietpi-process_tool entries leading to errors"
Via forum: https://dietpi.com/phpbb/viewtopic.php?f=11&t=3784

I also watched this, `DietPi-Process_Tool` trying to execute a process that is not present any more (in my case dhclient). The availability of the process could be checked a bid more careful, assuring that no other process with pattern inside, e.g. as part of the name or command argument, e.g. by matching just `awk '{print $5}'` for th

[2018-05-29 18:11] MichaIng opened #1809 "DietPi-Services | Allow masking of services, placed (not symlinked) to /etc/systemd/system/"
Ref: https://dietpi.com/phpbb/viewtopic.php?f=11&t=3778

- `systemctl mask service_name` will try to create a symlink to /dev/null at `/etc/systemd/system/service_name.service`.
- Of course this works just for services, that are linked to this location, not custom services that have their real file location there, including all dietpi-* services. In those cases an error is thrown.
- We could make

[2018-05-29 19:39] Fourdee commented on #1808
@MichaIng

Requested bug report, want to check his ```/DietPi/dietpi/.dietpi-process_tool```, might be corrupt.

I'll check to see if the process tool save file updates processes that are no longer available. I believe it should do this by default, but i'll check.

[2018-05-29 19:42] Fourdee commented on #1808
#### Process_tool test, removal of processes no longer available:
No issues found. Processes that do no exist are not applied from the save file. running ```dietpi-process_tool``` then exit, clears any unavailable process saves from the save file.

- Stock
[code]
- NextCloud | run ```dietpi-process_tool```
[code]
- Uninstall of NextCloud + all web | auto restart of ```dietpi-process_tool``` at end

[2018-05-29 20:05] Fourdee commented on #1808
I've yet to see these errors:
[code]

[code]

[2018-05-29 20:17] Fourdee commented on #1808
Ok, we could update the save file, when non-menu mode is run, eg: ```dietpi-process_tool 1```. However, if the process does not exist at run, it does not get applied, as expected.
Although, if a user applies a specific setting to a process, and, that process does not scrape at the time of ```dietpi-process_tool 1```, their applied setting will be lost.

[2018-05-29 21:26] Fourdee commented on #1808
@MichaIng

Seems we both did similar fixes to the process_tool script at the same time lol 👍

I'll merge your changes into my version, then send commit. Done :) https://github.com/Fourdee/DietPi/commit/c573560ed2710ab36ea8498a65eb3f8f297c6492 + https://github.com/Fourdee/DietPi/commit/83b5d1897c3dc639acf454d7807b834da769dee2

[2018-05-29 22:56] MichaIng commented on #1808
@Fourdee
Whoopsie, next time I create PR again. Though to be no issue, as there were no functional changes inside. But I don't want to cause a mess, if you do changes to your local repo 😉.

[2018-05-30 07:43] DJCrashdummy commented on #1768
as this site is/should be dedicated to end users beside the (already included :ballot_box_with_check: ) hint that some software may be disabled due to their hardware, IMHO it should be mentioned at the introduction, that this is only the little selection of highly optimized or/and pre-configured software but **still numerous other software can be installed** via apt, aptitude, synaptic, etc. like

[2018-05-30 10:08] MichaIng commented on #1768
@DJCrashdummy
This is an important point, thanks for mentioning. The main advantage of DietPi, being based on Debian, is the flexibility of using APT and being able to use Debian (respectively Raspbian) related guides, as well as Ubuntu guides in most cases. This should be outlined at the places where DietPi-Software is promoted.

We could go further and add some information on a dedicated page, a

[2018-05-30 13:10] MichaIng commented on #1749
Tests:
🈯️ v6.0 after first run setup -> v6.9 via `dietpi-update 1`
🈯️ v6.-1 -> v6.9 via first run setup

Works as expected from first update on. I will mark this as closed, although further testing makes sense, as well as reordering/cleaning the DietPi-Set_Core_Environment parts within DietPi-PREP.

[2018-05-30 13:10] #1749 closed, assigned to nobody

[2018-05-30 13:15] MichaIng commented on #1340
@Fourdee
Are the last errors (CAVA e.g.) resolved now? As v6.9 is a huge update with some deep changes, we have to take care to not forget testing/finishing everything.

Would suggest to stop new feature input for this update, just testing and bugfixing.

[2018-05-30 15:21] Fourdee commented on #1340
@MichaIng

Don't believe so, i'll recompile again and test.

Yep 👍  we need to spend at least 1/2 days of testing everything, prior to release, that been changed/update, just incase we missed anything.

[2018-05-30 15:28] Fourdee commented on #1340
@MichaIng

🈯️ Cava build/runs fine on Rock64:

🈴 Cava still an issue with ARMv8, C2 compile:
- Rock64 compiled binary also fails to run.
- Missing CPU instructions/extensions on the C2?
[code]
- C2 only
[code]

[code]

[2018-05-30 15:36] Fourdee commented on #1749
@MichaIng

Legend, great work on this, really impressive 👍

I was thinking we could also store ```dietpi-software``` installed services in on the rootfs area aswell, at some point in the future, should reduce line count somewhat 😃

[2018-05-30 16:07] Fourdee commented on #1768
@MichaIng

I've written 'spare time' on my xmas list to Santa 😉, although, i'll probably end up with Coal again 🥂

🈯️ I'll enable the WiKi section now, but may be some time before I can even begin to make a start on it.

@DJCrashdummy

Thanks for your feedback, we'll take it on-board 👍

[2018-05-30 16:23] Fourdee commented on #1340
### Cava Odroid C2
Issue with FIFO.
- ~We'll need to use the older binary, which works fine. The newer binary requires CPU instructions/extensions which are not available on the C2: https://github.com/Fourdee/DietPi/issues/1340#issuecomment-393206263~
- ~I don't have the time + enough knowledge to edit the makefile/cava source to resolve at this time.~
- 🈴 C2 install test with latest commit + olde

[2018-05-30 16:27] Fourdee commented on #1808
@MichaIng

No worries, its all good 👍

[2018-05-30 17:30] Fourdee commented on #1803
@valerivp

Ah I see. Serial console is disabled by default on DietPi, after 1st run setup is completed.

You'll need to enable serial console in ```/boot/dietpi.txt``` ( and ```/DietPi/dietpi.txt```, to cover if systemD runs stop on a service that isn't in started state, unsure) before 1st run.
Edit the files after PREP has finished, and, before you reboot the system.
[code]

[2018-05-30 18:15] Fourdee commented on #1767
@MichaIng

G_CONFIG_INJECT 'ReserveVT=' 'ReserveVT=0' /etc/systemd/logind.conf '\[Login\]'
G_CONFIG_INJECT 'NAutoVTs=' 'NAutoVTs=0' /etc/systemd/logind.conf '\[Login\]'

Yep good idea 👍. Just to clarify:
- mask ```systemd-logind``` and remove ```libpam-systemd```, if no desktop is installed?
- add options to ```dietpi.txt``` to control ```systemd-logind``` masking (+ install ```libpam-systemd``` w

[2018-05-30 18:20] #1773 closed, assigned to nobody

[2018-05-30 18:23] Fourdee commented on #1751
Closing due to no response and unable to replicate in our tests.

[2018-05-30 18:23] #1751 closed, assigned to nobody

[2018-05-30 21:29] MichaIng commented on #1749
@Fourdee
Jep, also all specific software title related content of `/DietPi/dietpi/conf` could be placed e.g. into `rootfs/var/lib/dietpi/dietpi-software/...` to reduce RAM load.
I was even thinking if it makes sense to not place them on the system at all, just download on demand/software installation. But this would mean a possible mismatch between DietPi version and software conf/service version.

[2018-05-31 08:41] UnrealEngineer opened #1810 "WiFi HotSpot Issue [dhcpd: receive_packet failed on wlan0: Network is down]"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version | _v6.8_
- SBC Device | _RPi 3 Model B+ (armv7l)_
- Power supply | _5V, 2.4A_
- SD card | _Transcend 8GB_
- Distro | _Linux DietPi 4.14.34-v7+ 1110 SMP Mon Apr 16 15:18:51 BST 2018 armv7l GNU/Linux_

#### Expected behaviour:
Stable WiFi AP Network

#### Actual behaviour:
WiFi device gets IP from DHCP but then:
_isc-dhcp-s

[2018-05-31 17:32] Fourdee commented on #1749
@MichaIng

Not sure, although we could symlink DietPi-RAMdisk to where we want it, during init:
[code]

[code]

Before = ```1424```K
After = ``` 1312```K

---

Although, simply using ```/var/lib/dietpi/dietpi-software/conf``` would be cleaner in our scripts.

[2018-05-31 17:37] Fourdee commented on #1810
@UnrealEngineer

Thanks for the report 👍

Onboard WiFi, or, USB?

If USB WiFi, please paste results:
[code]

Also, may provide us some additional info, please paste results:
[code]

[2018-05-31 20:44] Fourdee commented on #1792
This should be resolved in v6.9 update, i'll mark as closed. Please reopen if required.

[2018-05-31 20:44] #1792 closed, assigned to Fourdee, MichaIng

[2018-05-31 23:33] MichaIng commented on #1767
@Fourdee
I am not sure in which environments several TTYs and logind features are useful/needed but jep, I would by default mask `systemd-logind` and leave `libpam-systemd` uninstalled as it is now, independently from the use of desktop or not. That we never saw an issue/bug report about missing logind features shows how rarely it is used.

But yeah `dietpi.txt` makes sense for power users and tho

[2018-06-01 00:26] Fourdee commented on #1768
Note to self: NextCloud completed: https://dietpi.com/dietpi-software.html

[2018-06-01 00:37] Fourdee commented on #1767
@MichaIng

Yep, lets make this the new default, unless  ```libpam-systemd``` is installed (EG: desktop)

Yep, I'd go with that, check for ```libpam-systemd```, disable ```systemd-logind``` if not installed. Could probably run this at the end of dietpi-software installs, to auto enable if ```libpam-systemd``` is installed?

[2018-06-01 05:27] UnrealEngineer commented on #1810
@Fourdee
I use onboard WiFi.
```dmesg | grep wlan``` returns nothing.

[2018-06-01 12:11] Krawei opened #1811 "Can't use Pihole and Baikal on the same dietpi-system"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version 6.8
- SBC Device: RPi 3
- Power supply used: 5v 1A Power supply
- SD card used: Sandisk ultra
- Distro: Stretch

#### Additional Information (if applicable):
- PiHole
- Baikal

#### Expected behaviour:
http://<IP of RPi>/admin => Pihole Web GUI
http://<IP of Rpi>/baikal/admin => Baikal Web GUI

#### Actual behaviour:
HTTP

[2018-06-01 12:58] MichaIng commented on #1811
@Krawei
Thanks for your report. I will try to reproduce.
Is the blocking page colorized or just a white pain text page?

We will get this fixed in case for v6.9 soon.

[2018-06-01 13:38] Krawei commented on #1811
@MichaIng : It is the colorized one. I'll try to upload a screenshot later.

[2018-06-01 19:11] vikasjee commented on #129
Need to run domoticz on dietpi. Please help

[2018-06-01 19:32] Fourdee opened #1812 "Image | RockPro64"
Thanks to Pine for sending me a dev sample board 👍

Notes: https://github.com/rockchip-linux/buildroot

[2018-06-01 20:25] giulio92 opened #1813 "DietPi-Software | Bitcoin/Litecoin client node"
It would be really great to have [Bitcoin](https://github.com/bitcoin/bitcoin/) and/or [Litecoin](https://github.com/litecoin-project/litecoin) client node support in DietPi

[2018-06-01 20:51] Fourdee commented on #1812
Pre-Image:
- stretch-minimal-rockpro64-0.6.45-242-arm64.img
-- No HDMI output
-- No network found via LAN scan, LAN port LEDS appear active.
-- Serial http://files.pine64.org/doc/rockpro64/Rockpro64%20Pi-2%20Connector%20ver0.2.png

[2018-06-01 21:09] elRadix commented on #129
You could try to follow this guide.
https://www.domoticz.com/wiki/Linux

I have tried it once and got it working but I switched to Home-Assistant which is much better - personal opinion.

[2018-06-01 22:47] Fourdee commented on #1811
Testing notes:
- Unable to replicate on ARMv8 (cant see it being any different for ARMv7), both pages load fine.

@Krawei

Did you install PiHole and Baikal through ```dietpi-software```?

[2018-06-01 23:58] MichaIng commented on #1811
@Krawei @Fourdee
I couldn't replicate as well on x86 VM. First installed pi-hole, baikal afterwards.

Could you also show result of `cat /etc/lighttpd/lighttpd.conf`? It seems like backup and recover of DietPi's lighttpd.conf didn't went well and the pi-hole edited version is in place, which blocks all other web applications: https://github.com/Fourdee/DietPi/blob/testing/dietpi/dietpi-software#L4

[2018-06-02 00:24] MichaIng commented on #1286
🈯️ **€: Resolved!** Apache and PHP dependency issue on Raspbian repo (again). All PHP modules have new version, just `php7.2-curl` was forgotten and would be removed. Similar for Apache2: `apache2` and `apache2-utils` are on new version, but `apache2-bin` and `apache2-data` are forgotten, which blocks upgrade or breaks Apache... I will open an issue/bugreport about that. It's just unnecessary, eve

[2018-06-02 01:54] Fourdee opened #1814 "Odroid C2 | Kodi stuttering"
https://dietpi.com/phpbb/viewtopic.php?f=11&t=3841&p=12831#p12826

[2018-06-02 02:07] zzlinwq opened #1815 "从Debian系统安装DIEPT不能成功"
## Creating a bug report/issue:
Please excuse my poor English
机器是amlogic S905设备，
Linux amlogic 3.14.29 #137 SMP PREEMPT Thu May 17 09:26:05 MSK 2018 aarch64 GNU/Linux
Welcome to ARMBIAN 5.44 user-built Debian GNU/Linux 9 (stretch) 3.14.29
是按下面帖子命令操作的
https://github.com/Fourdee/DietPi/issues/1285#issue-280771944
命令如下：
export GIT_BRANCH='master'
#export GIT_BRANCH='testing' #DEV only

wget https://r

[2018-06-02 02:11] zzlinwq commented on #1815
DietPi Error Handler:
DietPi-PREP: systemctl stop dietpi-ramlog
  Exit code: 5
  DietPi version: v6.8 I HW_ MODEL :0 I HW_ ARCH:3 I DISTRO:4Image creator:Pre-image:
Log file contents:
Failed to stop dietpi-ramlog.service: Unit dietpi- ramlog.service not loaded.
If problems persist, please report this to DietPi for investigation, including ascreenshot of this error! (https :l/github .com/Fourdee/Di

[2018-06-02 02:57] Fourdee commented on #1815
@zzlinwq

Looks like an issue pre-hw selection.

Could be locale did not get applied, please paste results:
[code]

And lets check service it mentions, please paste results:
[code]

- Which image ```.img``` are you using (before converting it to DietPi)?
- Which device is this running on (eg: Odroid C2)?

[2018-06-02 11:25] zzlinwq commented on #1815
@Fourdee
root@amlogic:~# locale
LANG=en_GB.UTF-8
LANGUAGE=
LC_CTYPE="en_GB.UTF-8"
LC_NUMERIC="en_GB.UTF-8"
LC_TIME="en_GB.UTF-8"
LC_COLLATE="en_GB.UTF-8"
LC_MONETARY="en_GB.UTF-8"
LC_MESSAGES="en_GB.UTF-8"
LC_PAPER="en_GB.UTF-8"
LC_NAME="en_GB.UTF-8"
LC_ADDRESS="en_GB.UTF-8"
LC_TELEPHONE="en_GB.UTF-8"
LC_MEASUREMENT="en_GB.UTF-8"
LC_IDENTIFICATION="en_GB.UTF-8"
LC_ALL=en_GB.UTF-8
root@amlogic:~#
r

[2018-06-02 11:27] zzlinwq commented on #1815
Which image .img are you using (before converting it to DietPi)?Armbian_5.44_S9xxx_Debian_stretch_3.14.29_icewm_20180515.img
@Fourdee

[2018-06-02 11:29] zzlinwq commented on #1815
Which device is this running on (eg: Odroid C2)? 斐讯天天链N1
http://www.phicomm.com/cn/index.php/Products/lian_spec/cateid/27/id/136.html

[2018-06-02 11:33] zzlinwq commented on #1815
![image](https://user-images.githubusercontent.com/36132083/40873957-e03c827e-669b-11e8-847f-c4f2215551b9.png)

https://user-images.githubusercontent.com/36132083/40873952-b9c24f84-669b-11e8-800a-d2ff102e44dc.png

[2018-06-02 14:38] MichaIng commented on #1815
@zzlinwq @Fourdee
Hmm, maybe somehow DietPi system was detected?
Does dietpi-ramdisk exist? `systemctl status dietpi-ramdisk`

[2018-06-02 15:08] zzlinwq commented on #1815
![image](https://user-images.githubusercontent.com/36132083/40877838-c5d3eeea-66b9-11e8-82e0-aa81bd541b5e.png)
root@amlogic:~# systemctl status dietpi-ramdisk
● dietpi-ramdisk.service - DietPi-RAMdisk
   Loaded: loaded (/etc/systemd/system/dietpi-ramdisk.service; enabled; vendor preset: enabled)
   Active: active (exited) since Sat 2018-06-02 01:34:31 UTC; 13h ago
  Process: 5894 ExecStart=/bin/ba

[2018-06-02 15:08] zzlinwq commented on #1815
@MichaIng
root@amlogic:~# systemctl status dietpi-ramdisk
● dietpi-ramdisk.service - DietPi-RAMdisk
   Loaded: loaded (/etc/systemd/system/dietpi-ramdisk.service; enabled; vendor preset: enabled)
   Active: active (exited) since Sat 2018-06-02 01:34:31 UTC; 13h ago
  Process: 5894 ExecStart=/bin/bash -c /boot/dietpi/dietpi-ramdisk 0 &>> /var/tmp/dietpi/logs/dietpi-ramdisk.log (code=exited, status=

[2018-06-02 23:49] Fourdee commented on #1815
@zzlinwq

Thanks

Try:
[code]

Then re-run PREP commands (make sure to copy and paste this entire code in SSH window).
[code]
If error occurs, please try to paste the entire contents of the SSH window. We can use to debug.

[2018-06-03 00:14] Fourdee commented on #1808
No response from user, unable to replicate. Assuming corrupt save file, possible cause of hardware instability.

Either way, our script has been updated/reviewed for v6.9.

I'll mark this as closed, however should https://github.com/Fourdee/DietPi/issues/1808#issuecomment-392925453 reoccur, we'll reopen (i'am yet to see this issue)

[2018-06-03 00:14] #1808 closed, assigned to Fourdee, MichaIng

[2018-06-03 00:25] Fourdee commented on #1803
Solution: https://github.com/Fourdee/DietPi/issues/1803#issuecomment-393249909

Marking as closed. Please reopen if required.

[2018-06-03 00:25] #1803 closed, assigned to Fourdee

[2018-06-03 00:37] Fourdee commented on #1732
Retry on failed DietPi G commands implemented in v6.9.
DietPi-Config option added in commit below.

[2018-06-03 00:40] Fourdee commented on #1732
No response from user, unable to replicate, will mark as completed.

Please reopen if required.

[2018-06-03 00:40] #1732 closed, assigned to Fourdee, MichaIng

[2018-06-03 00:42] Fourdee commented on #1810
Tests RPi 3B+
- 🈯️ WiFi HotSpot
[code]
- ```dietpi-config``` adjust settings
-- 🈴 Issue with enable/disable button 🈯️ (https://github.com/Fourdee/DietPi/commit/d0c53991ad55002c9d09f30998aab3ce6b1b9f9a)
- 🈯️ WiFi+Tor Hotspot (WiFi hotspot is a auto pre-req to Tor install, should not make any difference) (https://github.com/Fourdee/DietPi/issues/1692#issuecomment-379542526) | Tested fine.

[2018-06-03 00:45] Fourdee commented on #1692
I'll mark this as closed in favor of : https://github.com/Fourdee/DietPi/issues/1810

[2018-06-03 00:45] #1692 closed, assigned to nobody

[2018-06-03 01:17] Fourdee commented on #1814
Fresh install Odroid C2 Stretch + Kodi and default options, samba server source:
- 🈯️ 720p 60Hz is fine
- 🈺 1080p 60Hz slight stuttering x264
- 🈴 1080p 24Hz, excessive vsync tearing.
- Kodi interface also seems excessively sluggish.
- Only runs under ```xinit```

Interesting, Kodi 16 under Jessie was fine from what I remember.

@oparoz

Until a solution is found, a workaround is to try the Jessie

[2018-06-03 01:39] MichaIng commented on #1814
@Fourdee
Hmm, wasn't there something with GPU support not yet fully implemented with Odroid Stretch? Okay seems resolved, but I remember reading that the solution was a bid hackish, maybe not providing same performance. Need again a closer look into the odroid forum: https://github.com/Fourdee/DietPi/issues/1552

[2018-06-03 01:49] zzlinwq commented on #1815
![image](https://user-images.githubusercontent.com/36132083/40882401-650f26f6-6713-11e8-9a52-3cacc15124b1.png)

[2018-06-03 01:49] zzlinwq commented on #1815
![image](https://user-images.githubusercontent.com/36132083/40882402-72ef9706-6713-11e8-97a7-d714e2be8f2b.png)

[2018-06-03 01:50] zzlinwq commented on #1815
![image](https://user-images.githubusercontent.com/36132083/40882407-88df089e-6713-11e8-9833-1ef6f3a6e15f.png)

[2018-06-03 01:52] zzlinwq commented on #1815
![image](https://user-images.githubusercontent.com/36132083/40882408-a1e5e592-6713-11e8-8245-9e9f7324842a.png)
![image](https://user-images.githubusercontent.com/36132083/40882409-adfe851e-6713-11e8-9106-f564550a68a7.png)
![image](https://user-images.githubusercontent.com/36132083/40882414-c6ecd1de-6713-11e8-8d7a-eecc4273b527.png)

[2018-06-03 01:52] zzlinwq commented on #1815
[FAILED] DietPi-PREP | Unable to continue, DietPi-PREP will now terminate.
@Fourdee @MichaIng

[2018-06-03 02:00] Fourdee commented on #1810
@UnrealEngineer

There was a minor issue with ```dietpi-config```, however, this won't be the cause of issue. Aside from that, all your config settings and output values match my test system.

Can you please confirm:
- RPi3B+ is the board used?
- PSU brand/make/model

Please paste the results of the following:
[code]

[2018-06-03 02:11] Fourdee commented on #1815
@zzlinwq

Many thanks 👍

Ok, apologies, I forgot to tell you to stop the service, before removal :)
- Reboot the system
- Rerun PREP again

[2018-06-03 03:27] zzlinwq commented on #1815
![image](https://user-images.githubusercontent.com/36132083/40882842-0ac427ba-6721-11e8-9bcb-0b5e92f1b49f.png)
![image](https://user-images.githubusercontent.com/36132083/40882844-13ce5786-6721-11e8-89d0-e07e6a3a4dbf.png)

[2018-06-03 03:28] zzlinwq commented on #1815
Now I reboot   the system and Rerun PREP again
@Fourdee

[2018-06-03 03:29] zzlinwq commented on #1815
[FAILED] DietPi-PREP | Unable to continue, DietPi-PREP will now terminate.

[2018-06-03 10:14] MichaIng commented on #1581
Reading: https://www.debian.org/doc/manuals/debian-reference/ch05.en.html#_the_basic_network_infrastructure
- `networking` and `resolvconf` do not seem to consume any RAM, since they are no background services, but do their jobs as oneshot task and triggered (e.g. ifup).
- `systemd-networkd` and `systemd-resolved` do ~4M each
- On the other hand 3 packages less are required (including DHCP client)

[2018-06-03 10:41] MichaIng commented on #1740
Move scan on reboot to v6.10
- Concentrate on testing many deep changes done already.

**€: Moved to v6.11**

[2018-06-03 10:47] MichaIng opened #1816 "General | Remove config.txt on non RPi systems"
This also needs adjustment of some scripts that expect/scrape this file (indeed unnecessarily): https://github.com/Fourdee/DietPi/blob/testing/PREP_SYSTEM_FOR_DIETPI.sh#L522

[2018-06-03 12:14] tomillr commented on #1171
sal666, thanks for the nice instruction.

I've tried to follow your procedure using an Ubuntu 18.04 live version but have run in to a couple of issues:

7zip is apparently not part of the regular Ubuntu distro and I wasn't able to apt-get it either. That's why I had to manually extract the refind-bin-0.11.2.zip.

I've also copied your files from the extrafiles.zip manually to /dev/sdb1/EFI/boot.

[2018-06-03 14:21] MichaIng commented on #1171
@tomillr
Hmm `apt install 7zip-full` does not work?? On 17.10 at least it worked.
Otherwise since it's zip, `unzip refind-bin-0.11.2.zip` should do the same.

The screen does not show direct DietPi-PREP error messages. At what install stage this showed up exactly? €: Ah I guess this is before DietPi-PREP even started. Seems the it could not be identified successfully as bootable live system. But s

[2018-06-03 15:07] MichaIng opened #1818 "DietPi-Config | Fan control"
At least for Odroid XU4 this is quite easy:
- https://dietpi.com/forum/t/odroid-xu4-fan-issue/2303
- https://magazine.odroid.com/article/fan-control-tailor-odroid-xu4-perfect-settings/

<s>For RPi there was some similarly easy way.</s>

Would be nice to have it inside DietPi-Config where applicable/easy to accomplish.

[2018-06-03 17:58] tomillr commented on #1171
After selecting the "Install DietPi" entry from the rEFInd boot menu the screen goes black and starts vmlinuz with a long list of loading parameters. Right after that the screen refreshes and lists the error message seen on the attached photo above.

Here's what the used usb stick looks like at the moment:

![root](https://user-images.githubusercontent.com/1507977/40889528-7f120f6e-6768-11e8-91b7-

[2018-06-04 05:32] UnrealEngineer commented on #1810
Sorry for waiting. Have no access to internet.
I am using Raspberry Pi 3 Model B+ with Grand-X CH-45 5V 2.4A 2USB PSU
I have made some measurements of power consumption during WiFi device connection: U = 5.05-5.08 V, I = 0.80-0.86 A.
[code]

[code]

By the way WiFi working fine in standard mode. It connects to my local router, gets access to internet and has stable connection.

[2018-06-04 06:07] DJCrashdummy commented on #1768
@MichaIng exactly! mentioning the base is surly useful for every user (beside pointing out that there is more than the listed software for complete newbies), but the further information may just be interesting for more techy users and should only be linked.
good idea with the wiki! so the information can be collected collaboratively and extended any time, like a comparison to other distributions..

[2018-06-04 06:20] symbios24 opened #1821 "DietPi-Drive_Manager | Expand file system button, in case of changed storage"
Hello, is it possible to include with DietPi pre-installed the raspi-config tool?

Thanks

[2018-06-04 11:39] MichaIng commented on #1821
@symbios24
Thanks for your request.

`dietpi-config` should include all features of `raspi-config` and more. For this reason we do not include the latter to reduce redundancy and possible incompatibility of both tools adjusting the same files etc.

If you miss any feature or something is done possibly better in `raspi-config`, please let us know and we will update the behaviour of `dietpi-config`

[2018-06-04 13:08] sal666 commented on #1171
Current DietPi installer is based on [Clonezilla Live](https://clonezilla.org/downloads.php), which is based on Debian.
I've prepared a new installer based on Clonezilla Live **alternative**, which is based on Ubuntu.
Can you test it?
Just delete all content from your pen drive (it must still be formated with GPT+FAT) and then extract there this [zip](https://files.fm/u/byeen4ku). rEFInd is alread

[2018-06-04 13:26] MichaIng commented on #1815
@zzlinwq
Thanks for try and report.

Could you try to install the related APT package manually and report back the terminal output: `apt install firmware-realtek`
I see your device might not need this firmware, but for compatibility reasons we install it on all devices, as it enables support for several ethernet, wifi and bluetooth dongles.

If it remains really impossible to install it, you could

[2018-06-04 14:59] sal666 commented on #1171
On the other hand, mce errors are caused by faulty hardware, so not sure if this will help.
http://www.advancedclustering.com/act_kb/what-are-machine-check-exceptions-or-mce/
http://mcelog.org/manpage.html

[2018-06-04 17:32] FWeissenb commented on #794
Hi Fourdee,

sorry for late repsonse. It doesn't work. I get  a "not allowed"

`dietpi@Terminus:~$ sudo dietpi-update
sudo: /usr/bin/sudo muss dem Benutzer mit UID 0 gehören und das »setuid«-Bit gesetzt haben

dietpi@Terminus:~$ chmod 4755 $(which sudo)
chmod: Beim Setzen der Zugriffsrechte für '/usr/bin/sudo': Die Operation ist nicht erlaubt

dietpi@Terminus:~$ ls -lha $(which sudo)
-rwxr-xr-x 1

[2018-06-04 17:48] WolfganP commented on #794
make user user _dietpi_ is listed as sudoer

`$ cat /etc/sudoers`

[2018-06-04 18:07] Fourdee commented on #794
@WolfganP @FWeissenb

Sudoer should exist here:
[code]

@FWeissenb
Try running the command as root login:
[code]

[2018-06-04 18:10] FWeissenb commented on #794
I can't login as root :/

If i try he askes a password. And if i try "dietpi" it doesn't work.
I think there is something very broken.
I will try to reflash my sd tomorrow.

[2018-06-04 18:55] Fourdee commented on #1815
@MichaIng

If I remember correctly, this occurs as it overwrites one of armbian's firmware .deb packages and causes an error (incompatible).
So either the armbian firmware needs to be removed, or, disable install of debian firmware.

But what confuses me is why ```dietpi-ramdisk``` exists, found the image http://soft.junlin.li/Armbian_5.44_S9xxx_Debian_stretch_3.14.29_icewm_20180515.img%20%281%29_

[2018-06-04 19:21] Fourdee commented on #1810
@UnrealEngineer

Thanks 👍

Very strange.

Ok, so everything appears to be functional, until the OrangePi obtains an IP address, then something is causing the wlan0 adapter to fail (OPi sending invalid packets, repeated DHCP requests, causing the failure?).
[code]

- We need to check ```hostapd``` for status/errors when ``` receive_packet failed on wlan0: Network is down``` is reported
-- ```system

[2018-06-04 19:36] Krawei commented on #1811
@Fourdee : I've installed pihole and baikal via dietpie-software and following the instructions from your site: http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&start=50#p1502

When I'm trying to access the baikal admin page, my dietpi serves this site:

![grafik](https://user-images.githubusercontent.com/25485657/40937243-43316bee-683e-11e8-9e5c-a027c1b309bc.png) (this site also returns when I'm try

[2018-06-04 20:44] tomillr commented on #1171
That version won't start either. But I'm getting a new error message alongside the one pictured above which says that the EFI table couldn't be read.

Going to try again and make a new screenshot tomorrow.

Regarding the possible faulty hardware: I've been able to run Windows 10 and Ubuntu on the device without any errors pointing to a hardware defect.

[2018-06-04 21:03] Fourdee commented on #1811
@Krawei

Yep, PiHole has overwritten the lighttpd config file. We have code in the ```dietpi-software``` install part which prevents this, so unsure as to why this occurred for you (confirmed working with fresh install just now).

The next PiHole release will allow us to avoid this issue.

#### In the mean time, to resolve, run the following commands:
[code]

[2018-06-05 05:03] UnrealEngineer commented on #1810
Such situation with all WiFi devices: OPi, smartphone, laptop and ESP8266 chip.

[code]

[2018-06-05 05:32] zzlinwq commented on #1815
![image](https://user-images.githubusercontent.com/36132083/40956828-d13f53a2-68c4-11e8-8c59-8a23bcf64eb1.png)
![image](https://user-images.githubusercontent.com/36132083/40956833-db03a776-68c4-11e8-8a66-1cacf5962932.png)

[2018-06-05 05:32] zzlinwq commented on #1815
![image](https://user-images.githubusercontent.com/36132083/40956850-e9bfe824-68c4-11e8-843c-c39a1d997b3a.png)

[2018-06-05 05:33] zzlinwq commented on #1815
![image](https://user-images.githubusercontent.com/36132083/40956854-fa3ff414-68c4-11e8-92e2-149129530b69.png)
@ @MichaIng @Fourdee

[2018-06-05 05:33] zzlinwq commented on #1815
Still not successful

[2018-06-05 06:28] 467815891a opened #1823 "Annoying DPMS cannnot turn off in Chromium autostart mode"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version =v6.8
- SBC Device =RPi 2 Model B
- Power supply used (5V2A)
- SD card used (Sandisk ultra)
- Distro (Sretch )

#### Additional Information (if applicable):
I install Chromium whithout any Desktop Evironment.
Autostart run script for Kiosk mode，but DPMS still working.
I cannot disable DPMS.
I have added
`xset s off`
` xse

[2018-06-05 06:47] zzlinwq commented on #1815
![image](https://user-images.githubusercontent.com/36132083/40959461-546facf4-68cf-11e8-8894-35c6d3ae0606.png)
![image](https://user-images.githubusercontent.com/36132083/40959470-5b5f6df6-68cf-11e8-8a3f-520e530213b9.png)
成功了吗？ @Fourdee @MichaIng

[2018-06-05 11:55] MichaIng commented on #1815
@zzlinwq
Ah I was afraid first as you removed system core packages first, but seems the installer went through finally?

Strange, you are logged in as root, but script asks for root permissions? Could you run and paste the following?
`echo $UID`

@Fourdee
Puhh shall we try to resolve this issue for armbian images? Check for existing firmware and apt-get install firmware error outside of G_AGI hand

[2018-06-05 13:30] Timo2708 opened #1824 "DietPi and Squeezelite -- No Sound"
I have been hugely enjoying the Dietpi on my new Allo DigiOne — at first as Roon Bridge, and then playing around with GMRender and BubbleUpnP. All fine!

Next I wanted to experiment with Squeezelite. I installed LMS on my Qnap, and iPeng on the iPad. The LMS on the QNAP appears in iPeng, and also the DietPi-Squeezelite as player. But I don’t get any sound — my streamer/DAC (Naim ND5XS) doesn’t see

[2018-06-05 13:37] zzlinwq commented on #1815
I logged in as dietpi
![image](https://user-images.githubusercontent.com/36132083/40979498-9304b930-6908-11e8-8f97-8edfa4c746e7.png)
@MichaIng

[2018-06-05 13:45] zzlinwq commented on #1815
![image](https://user-images.githubusercontent.com/36132083/40979934-c61b8686-6909-11e8-815d-7ed9407a607c.png)

[2018-06-05 13:48] zzlinwq commented on #1815
I try  logged in as root, but  always prompt password error. What is password?

[2018-06-05 14:19] zzlinwq commented on #1815
Why doesn't WIFI work?

[2018-06-05 17:45] Fourdee commented on #1810
@UnrealEngineer

OrangePi device seems to be the trigger, power off the OrangePi and see if the issue reoccurs:
[code]

[2018-06-05 17:56] Fourdee commented on #1815
@MichaIng

I'am tempted to do the following:
[code]

[2018-06-05 17:59] Fourdee commented on #1815
dietpi

Enabled in ```dietpi-config```?

Whats results of:
[code]

[2018-06-05 18:06] Fourdee commented on #1823
@467815891a

Thanks for the report 👍  we'll open for investigations.

[2018-06-05 18:22] Fourdee commented on #1824
@Timo2708

Hi,

Thanks for the report 👍

Are you using the Allo GUI, or stock DietPi install?

When streaming to squeezelite:
- If using the Allo GUI
-- Try changing the output bitdepth to 32bit on squeezelite
-- Also check the settings page and see if ALSA stream has any output
- If using stock DietPi + Manual install
-- paste the results of the following command
[code]

[2018-06-05 18:24] Fourdee commented on #1767
I'll nudge this to v6.10, vast number of core changes in v6.9 already 😃

[2018-06-05 18:37] Fourdee commented on #1823
Notes:
Check DPMS config:
[code]

[2018-06-05 19:10] Fourdee commented on #1823
@467815891a

Solution, copy and paste all
[code]

I'll apply this as default in v6.9 when xserver is installed.

[2018-06-05 19:43] Fourdee opened #1826 "DietPi-Drive_Manager | Format results in auto swapfile gen, ignoring previous setting"

[2018-06-05 23:13] Fourdee commented on #1826
Resolved, issue was due to format resetting swapfile size.

[2018-06-05 23:13] #1826 closed, assigned to Fourdee

[2018-06-05 23:14] Fourdee commented on #1823
Resolved for v6.9

[2018-06-05 23:14] #1823 closed, assigned to Fourdee

[2018-06-06 03:37] 467815891a commented on #1821
However，I want dietpi-config add "extend rootfs" options like raspi-config.
I use `dd` command to backup the whole sdcard and restore to a new sdcard.
Now I am having trouble in extend rootfs to fullfill new sdcard.
Who can tell me how to manual extend rootfs in dietpi v6.8...

[2018-06-06 11:28] UnrealEngineer commented on #1810
Logs after reboot. OrangePi and other devices disconnected. Than I connected by smartphone and situations was the same.
[code]

[2018-06-06 12:33] MichaIng commented on #1821
@467815891a
Ah yeah when switching disk this makes totally sense.
You can currently run the service manually, but be sure the backup on 2nd SD is up-to-date:
[code]

I added this to v6.10 milestone. Will add a button to dietpi-drive_manager for file system expansion.

[2018-06-07 07:04] pedrom34 commented on #560
Please, consider Wallabag!

[2018-06-07 08:51] 467815891a commented on #1821
@MichaIng Thanks so much😁

[2018-06-07 11:28] MichaIng commented on #1510
### Reading file content to variable

#### $(cat /path/to/file) vs $(</path/to/file)
[code]

### Scanning file for string (one liner or no line start/ending check)

#### grep -q vs [[ $(</path/to/file) =~ string ]]
[code]
- Double brackets are faster than grep, already tested before actually, but double brackets cannot check for line start and ending! Just the very first line and end of file can b

[2018-06-07 15:35] MichaIng opened #1827 "META | Public DietPi-Survey result web page"
As we restart the new updated safer and more transparent DietPi-Survey (https://github.com/Fourdee/DietPi/pull/1822), I though it would be nice to have a public result page to review current statistics. So users know exactly what we do with the data and we can also easily access them without the need to do manual extraction, sorting and evaluation.

I though about some cron job, that extracts the

[2018-06-07 21:07] Fourdee commented on #1827
@MichaIng

Yep 👍 , we can remove it, no benefit to us knowing that information.

[2018-06-07 23:30] MichaIng commented on #1211
@blogabe
We did not change something about Allow GUI within the passwords rework, so I think it will be not resolved. But let me check for v6.10

Maybe we can find a way to change the hard coded password within Allo GUI as well, when changing root/dietpi user pass via the new method.

Btw.: Actually mysql access via root user does not need any password any more with MariaDB. If you are logged in w

[2018-06-08 02:47] blogabe commented on #1211
@MichaIng yeah, wouldn't have thought so as Dan alluded to moving away from the current configuration.  6.10 may be aggressive as well, but I think it's an important enough issue to remain open irrespective of when it gets implemented.  Anyhow, thank you for your help.

[2018-06-08 13:20] slim0287 commented on #1696
Does V6.9 fix the Pihole manual update process?  Or are we still waiting on that correction?

Thanks

[2018-06-08 15:34] MichaIng commented on #1696
@slim0287
We are still waiting for the next Pi-hole release, which should implement our solution. The PR (see above) is already merged for a while into development branch and this means it will be implemented into next release, AFAIK.
Last release was in beginning of April, so according to usual release schedule it be soon. But no guarantee, especially since this release should include the new FTL

[2018-06-08 15:57] MichaIng commented on #1827
I played around a bid and created a simple result page: https://dietpi.com/survey/

Ugly I know, and there is still a glitch with some software titles (bottom) being somehow broken over two lines. Ah now that I write it, I think I know what's the issue about it: `sed -i 's/ /_/`**g**`' "$file`
**€: Solved!**
It is updates periodically every 15 minutes. Hmm I will add some UTC time stamp as well.

[2018-06-08 18:05] Fourdee opened #1829 "Image | NanoPC T4"
Many thanks to FriendlyElec for sending us sample dev boards!

http://www.friendlyarm.com/index.php?route=product/product&product_id=225
![image](https://user-images.githubusercontent.com/7077026/41173447-d82de50c-6b4e-11e8-863a-50808218b9f5.png)

[2018-06-08 18:49] Fourdee commented on #1827
@MichaIng

Love this, great work 👍

Was having a play with 'Opted out':
[code]

Do you think we need it?

![image](https://user-images.githubusercontent.com/7077026/41175454-09f9da4a-6b55-11e8-842d-5f815ca9944b.png)

[2018-06-09 03:45] slim0287 commented on #1696
@MichaIng
Admittedly, the manual process for updating Pihole takes me perhaps 2 minutes if I do it leisurely so I shouldn't complain.  But given we live in a world now where I literally can talk to the lightbulbs in my house without me being a crazy person and they actually respond..... well, I can't help but ask to save those two minutes....  😉

[2018-06-09 10:10] MichaIng commented on #1696
@slim0287
Jep, also our interest to save those 2 minutes for all our users 😃. Especially things should work as expected. If users get known with `pihole -up` then it should also do it's job on our system.

But some software titles tend to install themselves a bid intrusive. Let's say in some cases the intention of the developers is to turn a system into in this case a "network adblock device", whe

[2018-06-09 10:47] symbios24 opened #1831 "CloudPrint"
Hello about this software

CloudPrint - CUPS print server, with support for Google cloud printing

Just to request some info

Does it works like  Airprint -  with Apple macOS and iOS operating systems for printing via a wireless LAN (Wi-Fi)? thought the Raspberry?

[2018-06-09 11:13] lateboomer opened #1832 "Clementine crashes under V6.9 after upgrade from V6.8"
## Creating a bug report/issue:
I just update Dietpi at Allo Usbridge to V6.9 from V6.8. The Clementine player was previously stable under V6.8. After update, Clementine started to hang if click Pause or drag the track position on the slider while playing.

#### Required Information:
- DietPi version	| V6.9
- Distro version	| stretch and 9.4
- Kernel version	| 3.10.38
- SBC device		| Sparky SBC (a

[2018-06-09 11:48] Lanneer487 opened #1833 "manually update home-assistant"
Is there a possibility to manually update home-assistant?
I have version 0.69 but the latest update is 0.71 and apt-get upgrade doesn't update the package.

[2018-06-09 13:37] MichaIng commented on #1827
@Fourdee
Not sure, we would need to add dummy names for all infos then, for consistency?

Currently, summarizing the counts of each info type matches `Available unique survey files`.
`Purged unique survey files` gives the info about how much users actively opted out and wanted to have their data purged in case. Not sure if it makes sense to add this number to each category again as unknown 😉. Mayb

[2018-06-09 14:35] DarrenRainey commented on #1171
Any chance of getting a 32bit version for older devices.

[2018-06-09 16:49] symbios24 opened #1835 "DietPi-Software | Several software requests"
Any change about putting this software to DIetPi?

i did a request months ago but nothing happened.

I can help with instructions how to install all this all you have to do is put them in scripts in the software section,i will appreciate if you can add them

Openarena / The battle Wesnoth / AssaultCube Server / Minetest Server/ Simutrans / widelands / Boswars / Firefox Browser that can start at Bo

[2018-06-09 22:10] Fourdee commented on #1831
@symbios24

Apple may require a different method of how you select to print, however, see below:
https://www.howtogeek.com/247940/how-to-print-to-a-google-cloud-printer-from-ios/

[2018-06-09 22:21] Fourdee commented on #1833
@roelfoubert

Hi,

Yep, manual update is required as this software is installed via git.

1st make a backup of your system, just in-case you need to revert (as updating this software title is untested and mostly outside our control at the git end):
[code]

Once completed, you can upgrade Home Assistant, by re-running the installation:
[code]

[2018-06-09 22:42] Fourdee commented on #1827
@MichaIng

I'd like to keep the initial send, even if the user opts out and its cleared. Allows us to at least have a total count of unique installs from no data.

Good point, maybe would could simply remove ```'1' 'No, I want to opt out DietPi-Survey.'```?
Hmmm, i'll have a play around with script, see what I can come up with.

[2018-06-09 22:43] Fourdee commented on #1827
@MichaIng

Yeah, just had the idea of making each table add up to the total. May even make users change their mind to OPT IN lol (we can but hope).

[2018-06-09 23:05] Fourdee commented on #1827
@MichaIng

https://twitter.com/DietPi_/status/1005586292950884352

[2018-06-09 23:17] Fourdee commented on #1827
@MichaIng

Ok, the way I want this is:
- If no save file exists, by default set to opted in and send. This ensures automated installations are opted in by default
- If interactive installation, user will then be able to change to mode 2 or 0.
- Removal of option 1, ensures we always have a total count of unique installs, regardless of opted in or out.

At the very least, we have a right to know ho

[2018-06-09 23:22] MichaIng commented on #1286
🈴 **€: Raspbian `php-redis`, `php-igbinary` and `php-apcu` PHP7.2 compatibility lost again... WTF???**

[2018-06-09 23:48] Fourdee commented on #1832
@lateboomer

Hi,

Thanks for the report 👍

Unfortunately, clementine is not in our DietPi-Software library.
As such, to assist you, we need to know how you installed clementine?

Was it via APT? If so, we run APT upgrade prior to DietPi-Update, the latest version of clementine may be unstable?

[2018-06-10 02:08] lateboomer commented on #1832
I installed it at lower version using 'apt-get install' maybe V6.6 and used it continuously after each update. This is the sequence of steps I installed Clementine:
1) install ALSA from dietpi-software (for rpi, for Usbridge it is already preinstalled)
2) install Xserver from dietpi-software (for rpi, for Usbridge it is already preinstalled)
3) install LXDE desktop from from dietpi-software
4) ins

[2018-06-10 02:16] Fourdee commented on #1829
NB: Hold boot button during power on to boot into SD.

---

[code]

[code]

[2018-06-10 03:29] lateboomer commented on #1832
A very good and happy news. I took the heed from you . I went and ran 'apt-get update' and 'apt-get upgrade'. I rebooted Allo and then ran 'apt-get install --reinstall clementine'.

I am surprise the issue is solved. Now Clementine back to stable self. I can play, drag, pause switch playlist and it can respond without hang. I think the issue is solved and I am happy. Thank you very much for the ad

[2018-06-10 04:14] unclehowell commented on #1696
I'm following this also. I'm trying to make a user friendly OS (using dietpi) for the RPI (with web UI) .... and autonomous pihole install is important to my project. If anyone's sitting twiddling thumbs feel free to muck in on my open-source project

[2018-06-10 05:58] Gabba35 commented on #1814
Having the same problem. Xorg uses >100% cpu and the temp has been hitting the +80C routinely. Sometimes when idle. Had a similar problem with Sonarr, Jackett and Mono.

[2018-06-10 09:54] Lanneer487 commented on #1833
Thanks this solution helps

[2018-06-10 09:54] #1833 closed, assigned to Fourdee

[2018-06-10 09:56] helmethawthorn opened #1836 "RPi 3 B+ / Temperature question"
## Creating a bug report/issue:

(Referring to https://dietpi.com/phpbb/viewtopic.php?f=9&t=3873)

Hi all, I have just bought my first Raspberry and I am doing my first steps. - My goal is to run Pi-Hole on it. Having started with Raspbain Stretch Lite, I read about DietPi - and it sounds very good and interesting. So, I re-installed it with DietPi. :D

I am wondering why the displayed CPU tempera

[2018-06-10 09:56] Lanneer487 opened #1837 "Plexmediaserver updates service"
I've edited the plexmediaserver.service so it search the application support on my external disk.
When I update Plex, the service is reset to the original settings. Is there a way to prevent this?

[2018-06-10 09:58] helmethawthorn commented on #1836
[config-txt-dietpi.txt](https://github.com/Fourdee/DietPi/files/2087708/config-txt-dietpi.txt)

[2018-06-10 10:45] MichaIng commented on #1836
I can confirm the issue on fresh DietPi v6.9 (although in my case Buster testing installation) vs fresh Raspbian Lite pre-image:

Raspbian Lite:
[code]
DietPi Buster:
[code]
- Even after 15 idle minutes with 0.00 / 0.00 / 0.00 usage, clock and temperature stay the same,
- Using default config.txt leads to 600 Mhz and 40 °C. Then trying to put the DietPi default settings inside and:
- Found 'initia

[2018-06-10 11:28] MichaIng commented on #1827
@Fourdee
- By default opt out, I was also thinking about the GDPR.
- I am not sure about if/how this applies for FOSS software and anonymous data, but the aim, that users always first need to actively accept, before any data is send, is I want to have it for any (commercial) software and services I use, thus default opt out. But that's my opinion 😉.
- The current survey forces interactive menu on

[2018-06-10 14:06] zzlinwq commented on #1815
Why doesn't WIFI work?

Enabled in dietpi-config? It is enabled.

Whats results of:

lsmod
root@DietPi6689:~# lsmod
Module                  Size  Used by
brcmfmac              171742  0
brcmutil                5091  1 brcmfmac
cfg80211              415017  1 brcmfmac
aml_nftl_dev           95108  0
root@DietPi6689:~#
@Fourdee

[2018-06-10 14:07] zzlinwq commented on #1815
![image](https://user-images.githubusercontent.com/36132083/41202350-8dfcc7b6-6cfa-11e8-8ed1-3b85ff7725a8.png)
![image](https://user-images.githubusercontent.com/36132083/41202355-96e6a7de-6cfa-11e8-96ed-54a1df033924.png)

[2018-06-10 14:07] zzlinwq commented on #1815
![image](https://user-images.githubusercontent.com/36132083/41202358-a70f101a-6cfa-11e8-9f05-ee7b4162f181.png)

[2018-06-10 15:00] helmethawthorn commented on #1836
That's interesting!

Although I set the CPU profile to "conservative" and although the command "cpu" shows "Current Freq: 600 MHz",...

[code]

...when issuing the command you used ("vcgencmd measure_clock arm") I get this:
`frequency(45)=1400000000`.
I let it run with "watch" for 30 minutes - and the value never changed.
Does that mean that my RPi runs with full speed all the time instead of thro

[2018-06-10 16:26] MichaIng commented on #1836
@helmethawthorn
Did you try to remove/comment the `initial_turbo` setting in /DietPi/config.txt?

Hmm so `cpu` shows current clock = 600 MHz while `vcgencmd measure_clock arm` shows 1400 at the same time?? This is strange. On my RPi2 both show definitely the current clock (not max clock) and `cpu` mostly show 1 or 2 cores up at 900 MHz (max for RPi2) due the the script internal load.
It would not

[2018-06-10 18:15] helmethawthorn commented on #1836
@MichaIng
Meanwhile I have done some testing. With the new (=commented) setting in /DietPi/config.txt, I get the following results:

- Temperature with top cover: 53,6
   - -3,9 C !
  - (Load 0.00 0.00 0.00)

- Temperature without top cover: 47,5
   - -3,5 C
   - Load 0.08 0.03 0.01

[code]

[code]

Questioning the max/default/current clock settings, you had the right idea, right from the start!

[2018-06-10 18:34] helmethawthorn commented on #1836
I quickly booted up the "Raspbian SD card". ;-) And "cat /sys/devices/system/cpu/cpufreq/ondemand/up_threshold" says "50". The same as after a fresh DietPi installation. "vcgencmd measure_clock arm" shows 600.

But as the temperature is even a tiny bit lower with DietPi (compared to running on Raspian), I am happy now.

Thank you very much for your help!

PS. 40 C? Why is your temperature that low

[2018-06-10 19:11] MichaIng commented on #1836
@helmethawthorn
Ah, throttle up at 50% is default? Okay that's just another cause elimination then 🙂.

Thank you very much for testing and reporting. Great that we found the cause and even obviously a kernel settings issue that affects all RPi versions (at least 2 and 3). Seems that the initial_turbo somehow breaks CPU governor settings. Just checked past PRs about this: https://github.com/raspber

[2018-06-10 19:52] symbios24 commented on #1831
is CloudPrint - CUPS print server, with support for Google cloud printing an airprint server?

does it creates an access point for printing?

Thanks

[2018-06-10 20:48] helmethawthorn commented on #1836
@MichaIng
Thanks again for YOUR help! Is there anything I can help you with right now?
Does this bug report stay open for further comments/actions or shall I close it, now that the root cause is clear? (Sorry, - I have never used GitHub before. ;-))

[2018-06-10 20:58] MichaIng commented on #1836
@helmethawthorn
We can keep the issue opened until we have some reaction from the raspberrypi repo, so we will not forget the issue, if the reaction takes some time 😉.

In case, for v6.10:
- Remove `initial_turbo` from default `config.txt`.
- Remove `initial_turbo` via `patch_file`.

[2018-06-10 21:18] MichaIng commented on #1837
@roelfoubert
Create the following folder:
`mkdir /etc/systemd/system/plexmediaserver.service.d`
Then place some file inside that contains the same raw section headers and .conf ending:
`nano /etc/systemd/system/plexmediaserver.service.d/my-adjustment.conf`
E.g.
[code]
to change/add the ExecStartPost script.

[2018-06-10 21:19] helmethawthorn commented on #1836
Okay!  :-)

Any clue why I have only 5 emojis? No smileys at all, - only 👍 👎 💯 🔢  and 🥇.

[2018-06-10 21:28] MichaIng commented on #1836
@helmethawthorn
After typing `:`, start to enter some more letters so see other emojis. `:smiley:` e.g.

[2018-06-10 22:40] Fourdee commented on #1836
@MichaIng

Impressive debugging and finding the cause, great work 👍

[2018-06-10 22:43] #1837 closed, assigned to nobody

[2018-06-10 23:31] Fourdee commented on #1827
@MichaIng

Yep, see what you mean, getting a little lengthy to process:
[code]

RAM should be fine.

Thinking we need to reduce the pipe's, awk and sed's, might speed it up?

Another option is we could change the survey formatting, make them all variables and simply load the file?
eg:

[code]

We should aim to do the minimal processing client side, take load off the server.

[2018-06-11 08:30] DJCrashdummy opened #1838 "DietPi-Software | X2Go"
from time to time i use [X2Go](http://x2go.org) instead of XoverSSH or VNC... and today i was surprised that X2Go isn't provided by DietPi-Software.

yes, it is not a really big issue because [`x2goclient` is in the debian-repos](https://packages.debian.org/stretch/x2goclient) and [the server](https://wiki.x2go.org/doku.php/doc:installation:x2goserver) can be installed via their repositories ([Deb

[2018-06-11 10:37] MichaIng commented on #1838
@DJCrashdummy
Thanks for your request. At the moment we are concentrating on stability, reliability and in case update of our existing software offers, thus it could take some time until we add it to the list. The more e.g. installation steps/bash code you can provide, the sooner we will be able integrate, just as a hint 😉.

I will keep it opened, let's see if there is more interest on X2Go.

[2018-06-11 10:42] MichaIng commented on #1835
@symbios24
Thanks again for your request. As mentioned in the other issue, currently we need to concentrate on maintaining our existing software offer and do rarely add new titles. Man power and spare time is always a limiting factor and recently we had many deep core system changes that need further attention  and bug fixing.

I will keep this issue opened and here your old issue as reference: ht

[2018-06-11 11:33] MichaIng commented on #1410
v2.19 up: https://github.com/midwan/amiberry/releases

[2018-06-11 14:07] sal666 commented on #1171
@tomillr What device are you using? Please, post make and model. Are you sure it's capable of booting 64bit OS's?

[2018-06-11 18:00] MichaIng commented on #1666
PR ready to test: https://github.com/Fourdee/DietPi/pull/1839

[2018-06-11 21:45] vwillcox opened #1840 "DietPi-LetsEncrypt | IPv6 support on Lighttpd with HTTPS"
## Creating a bug report/issue:

#### Required Information:
- DietPi version	| 6.9
- Distro version	| stretch
- Kernel version	| 4.14.34-v7+
- SBC device		| RPi 2 Model B (armv7l)
- Power supply used	|  5V 2.5A
- SDcard used		| SanDisk

#### Additional Information (if applicable):
- Software title	| LetsEncrypt/CertBot
- Was the software title installed freshly or updated/migrated? Freshly install

[2018-06-12 01:23] Fourdee opened #1841 "AlloGUI | Various issues"
PW: https://github.com/Fourdee/DietPi/issues/1211

[2018-06-12 02:53] Fourdee commented on #1211
I'll mark this as closed in favor of: https://github.com/Fourdee/DietPi/issues/1841

[2018-06-12 02:53] #1211 closed, assigned to Fourdee

[2018-06-12 03:23] Fourdee commented on #1831
@symbios24

WiFi hotspot? No it does not.

[2018-06-12 03:49] Fourdee commented on #1841
Notes:
None of these work via web interface, fine when logged in as allo user:
[code]

Due to globals and exit of unknown term, this works fine:
[code]

[2018-06-12 04:36] Fourdee commented on #1841
Ok, testing passed, good to go, just need to update the images.

[2018-06-12 04:37] Fourdee commented on #1841
Notes for users, once we release v6.10:
- If you have the following issue (https://community.roonlabs.com/t/dietpi-allo-web-gui-now-available/32420/142?u=dan_knight), users will need to re-write the image as this cannot be recovered
- Existing users without the above issue, can simply update their installation

[2018-06-12 05:16] Fourdee commented on #1666
Notes, dietpi-config > Networking
[code]

[2018-06-12 08:15] olluz commented on #1452
this image still doesn't resize my Rock64 with a 16GB SDC

[2018-06-12 08:45] nachoparker commented on #1778
Hi again,

Apologies for taking so long but I have not had the time to sit down for this before.

Indeed, the approach is different in both projects, and some modifications would need to be made,  which might be fine. Still, we could share the maintenance burden so I think it would be nice for both projects.

If you look at the [code](https://github.com/nextcloud/nextcloudpi/blob/master/install.sh

[2018-06-12 12:13] MichaIng commented on #1666
@Fourdee
Whoopsie fixed: https://github.com/Fourdee/DietPi/commit/538112f62935b1b39e32f2f99b997d3278bbed3b

Btw.: The net mask conversion is maybe not needed. I put it inside to keep the info as it was, but CIDR notation might be sufficient: https://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing

€: Another alternative for network statistics:  `ip -s l show eth0`
[code]
- The `-s[tatistics]`

[2018-06-12 12:49] slim0287 opened #1842 "DietPi v6.9 and Device "NULL" does not exist"
With DietPi v6.9, when I switch to super user (sudo su), the header claims  'Device "NULL" does not exist.'  v6.8 did not do this.  Other than this odd report in the header, I can't detect any issues.  A mild bug but I figured I'd report it.

#### Required Information:
- DietPi version	|  6.9
- Distro version	| 9.4
- Kernel version	| 4.14.34-v7+
- SBC device		| RPi2
- Power supply used	| Eh, not s

[2018-06-12 13:35] MichaIng commented on #1581
Further investigation. Just found [pump](https://packages.debian.org/stretch/pump) to be another DHCP client that provides the [dhcp-client](https://packages.debian.org/stretch/dhcp-client) virtual package, needed by some other packages on Debian.

It is a tiny efficient DHCP client, consuming just **148 kB** (!!) of RAM while adjusting the `/etc/resolv.conf` by itself and brings up the configured

[2018-06-12 15:08] MichaIng commented on #1842
@slim0287
Thanks for your report. This shows up if no active network device could be found and should actually only occur if the system has no internet access as well.

Can you verify that you have network access, even that the error occurs?

Can you paste the output of:
`ip a`
`ip r`
`ip l`

With v6.9 we changed the network device estimation from net-tools `ifconfig`/`route`/`netstat` to `ip`, to

[2018-06-12 18:52] midwan opened #1843 "Pine64 | GPU Support"
## Creating a feature request:

#### Is your feature request related to a problem? Please describe:

- GPU support is not included in Pine64 boards. This blocks certain applications from working.

#### Describe the solution you'd like:

- Since there is now a Mali Driver release available (http://wiki.pine64.org/index.php/Mali_Driver) perhaps this can be included in the distro, as an option?

[2018-06-12 18:57] midwan opened #1844 "Pine64 | Wifi module not recognized"
## Creating a bug report/issue:

#### Required Information:
- DietPi version	| `6.8`
- Distro version	| `stretch`
- Kernel version	| `3.10.105-bsp-1.2-ayufan-118`
- SBC device		| `Pine A64 (aarch64)`
- Power supply used	| Official RPI PSU 2.5A
- SDcard used		| Sandisk Ultra

#### Additional Information (if applicable):
- Software title	| ---
- Was the software title installed freshly or updated/mi

[2018-06-12 19:00] midwan opened #1845 "DietPi-Software | Ubooquity"
## Creating a feature request:

#### Is your feature request related to a problem? Please describe:

- It would be great to have Ubooquity as a software installation option in DietPi, to avoid having to set it up manually

#### Describe the solution you'd like:

- Add Ubooquity as an option in DietPi-Software. It will require Java to be installed as well.
- Documentation is here: http://vaemendis.

[2018-06-12 20:52] MichaIng opened #1846 "DietPi-Drive_Manager | Disallow moving dietpi_userdata to filesystem without permissions support"
## Creating a feature request:

#### Is your feature request related to a problem? Please describe:

- When moving `dietpi_userdata` to another drive via `dietpi-drive_manager`, it is possible to move it to a file system without user permissions support, which breaks several of our software installations.
- `dietpi-drive_manager` checks for `vfat`, which does not support permissions, throws a hint

[2018-06-12 22:53] slim0287 commented on #1842
@MichaIng
Yes, the error only shows up with `sudo su`.  I definitely have network access.  I use this Pi as my DNS server (Pihole) plus I can ping network addresses from it, such as www.google.com.

Here's the output you asked for:
[code]
Slim

[2018-06-13 01:13] Fourdee commented on #1815
@zzlinwq

Apologies for the delay.

In DietPi, WiFi relies on functional working drivers on the pre-image, and, knowing the exact WiFi hardware chipset used on the device.

Check dmesg for any errors relating to WiFi:
[code]

[2018-06-13 01:34] Fourdee commented on #1845
@midwan

Install Java:
[code]

Download Ubo....
[code]

Run
[code]

Service
[code]

---

Admin page = http://192.168.0.XX:2038/admin
Library Page = http://192.168.0.XX:2039

[2018-06-13 01:44] #1832 closed, assigned to Fourdee

[2018-06-13 02:49] Fourdee commented on #1846
![image](https://user-images.githubusercontent.com/7077026/41327801-c19fdb12-6ebc-11e8-91b5-fa7041b9d7bc.png)

[2018-06-13 02:49] Fourdee commented on #1846
Completed.

[2018-06-13 02:49] #1846 closed, assigned to Fourdee

[2018-06-13 02:55] Fourdee commented on #1811
Marking as closed in favor of https://github.com/Fourdee/DietPi/issues/1696.

Please reopen if required.

[2018-06-13 02:55] #1811 closed, assigned to nobody

[2018-06-13 05:50] zzlinwq commented on #1815
[图片]

[2018-06-13 05:54] zzlinwq commented on #1815
roo t@DietPi6689:~# dmesg | grep brcm
roo t@DietPi6689:~# dmesg |  grep wlan
2.240105] Wifi: bcmdhd_ init_ wlan_ mem: bcmdhd_ init_ wlan_ mem: WIFI ME
I Allocated
@Fourdee

[2018-06-13 08:10] MichaIng commented on #1846
@Fourdee
Wow you were active at night :smiley:.

Btw.: Did you see the `GPL-2.0` hint on repo main page? :)

[2018-06-13 11:19] MichaIng commented on #1842
@slim0287
Found a related issue, although in your case there are still some questions:
- You have two interfaces: `eth0`, which is down and `eth1`, which is up.
- Our [obtain_network_device](https://github.com/Fourdee/DietPi/blob/master/dietpi/func/obtain_network_details) script goes through the `ip l` result list, which contains both, and saves the first found device in the list to further check

[2018-06-13 11:34] MichaIng commented on #1836
As we have another possibly kernel related RPi issue, I just add it here, so we have one place to follow both issues:
Forum: https://dietpi.com/phpbb/viewtopic.php?f=11&t=3886
GitHub: https://github.com/raspberrypi/firmware/issues/1006

In short: `rpi-update`/`4.14.48` seems to break SDcard/the possibility for kernel to mount root.

[2018-06-13 11:50] MichaIng commented on #1844
@midwan
Thanks for your report.

Could you paste outputs of:
[code]

Possible that the WiFi device shows up under a not handled device/interface name (not `wlan[0-9]`). But if the above commands do not show it, I would assume a missing driver or something.

[2018-06-13 12:18] MichaIng commented on #1840
@vwillcox
Thank you very much for your report.

Indeed DietPi is known to not handle IPv6 very greatly/reliable. @Fourdee does not have IPv6 at home do run needed test and I would need to set up a non-production device for testing. Hmm, have unused NanoPi K1 here, maybe I just found a job for it, as VirtualBox VMs seem to not work at all with IPv6 here.

But let's see how exactly the network/inter

[2018-06-13 12:50] slim0287 commented on #1842
@MichaIng
I have two network interfaces because I set the Pi to use the USB port as an ethernet interface.  I did this because I've found speeds of ethernet through USB are a lot faster than ethernet through the Pi's native ethernet port, using `speedtest_cli`.  So, although there are two interfaces, I only use the interface through USB.

So, in response to your three questions:

- `ls -al /sys/cl

[2018-06-13 13:52] MichaIng commented on #1842
@slim0287
Thanks for response. Hmm as `ip` outputs are the same, I am still confused why the error does not show up outside of `sudo su`. But anyway, the issue is clear.
Sorry about the wrong fix, forgot the script is in sub directory. Use:
`sed -i 's/ip l/ip r/g' /DietPi/dietpi/func/obtain_network_details`

Jep, RPi2 ethernet is just 100Mbit, where external could be Gbit. Makes sense to use exter

[2018-06-13 16:30] MichaIng commented on #1827
@Fourdee
~ 2000 unique installations on v6.9+ in ~6 days 👍.

I will go through the code for now and check if I can reduce the pipes. Of course larger update intervals also reduce load. 15 minutes was interesting to follow update counts the first hours and days, but now hourly or even larger intervals would be enough.

Yeah for next version making the survey files source-able is a good idea. Still

[2018-06-13 17:32] vwillcox commented on #1840
[code]
[code]

[2018-06-13 17:37] vwillcox commented on #1840
Without the IPV6 line it is up and running and responds on IPv6  (http://nas.talktech.info) should take you to it

[2018-06-13 19:31] stuie382 commented on #1842
For me, moving the /etc/network/interfaces into the /etc/network/interfaces.d directory then rebooting did the trick

[2018-06-13 21:18] slim0287 commented on #1842
I went ahead and did:
`sed -i 's/ip l/ip r/g' /DietPi/dietpi/func/obtain_network_details`

That did the trick for removing the device null upon sudo su.  I have not tried stuie382's suggestion of moving the `/etc/network/interfaces` file into the `/etc/network/interfaces.d` directory.

Admittedly, I probably no longer need the speed that comes from using the external interface given I use this Pi

[2018-06-13 21:50] MichaIng commented on #1842
@slim0287
Jep, this will be fixed for v6.10, thanks again for testing and reporting back.
With the fix, there is indeed no need to disable any kernel module, but it would make things more consistent and clean, if e.g. one could choose the one (or several) network devices that are wanted to be active and thus disable the other ones. But low priority indeed, most importantly we have a solution as ab

[2018-06-13 22:12] MichaIng commented on #1840
Hmm, okay this seems to be deprecated then.

http://nas.talktech.info => `403 - Forbidden`
But okay this means, the server is answering, AFAIK.
_______________________
But I was also mistaken a bid:
- As with Lighttpd, our LetsEncrypt implementation uses the CertBot internal standalone webserver for authentication, thus this has nothing to do with Lighttpd at all.
- I just found a discussion on th

[2018-06-14 01:31] Fourdee commented on #1827
@MichaIng

I was thinking something along the lines of:
[code]

Then we could simply do the following in the server script:
[code]

Then all the arrays are loaded. The issue is with installed software, might need to covert it to a 2d array on the client before sending, eg:
[code]

Or we could create a new input for ```dietpi-software list_survey``` and print only the following:
[code]

or, the fol

[2018-06-14 01:51] Fourdee commented on #1846
@MichaIng

Ah yeah, at the title bar 😄
https://github.com/Fourdee/DietPi/blob/master/LICENSE Looking good :) nice one 👍

[2018-06-14 03:09] Fourdee commented on #1747
https://github.com/jacksonliam/mjpg-streamer/blob/master/mjpg-streamer-experimental/plugins/input_raspicam/README.md
https://www.raspberrypi.org/forums/viewtopic.php?f=43&t=45178

🈯️
[code]
http://IP:8080
![image](https://user-images.githubusercontent.com/7077026/41389426-b3a37b14-6f88-11e8-883d-2da5e27f102a.png)

[2018-06-14 04:00] Fourdee commented on #1812
stretch-minimal-rockpro64-0.6.53-260-arm64.img

Serial always corrupt during boot, fine afterwards:
https://pastebin.com/XE52TNcg

Still no HDMI, full dmesg log:
https://pastebin.com/0XSH1736

Unable to test WiFi module, 1 of the female pins has a peice of metal/solder stuck inside it. Arrived this way.

[2018-06-14 05:50] stuie382 commented on #1842
@Michalng I had performed several reboots prior to moving the file and it would refuse to boot successfully due to the null device error.

[2018-06-14 06:48] UnrealEngineer commented on #1810
I've tested WiFi HotSpot with new RPi 3B+ and everything was fine! Seems it is some hardware issue with first one RPi.

[2018-06-14 06:48] #1810 closed, assigned to Fourdee

[2018-06-14 07:00] Fourdee opened #1849 "DietPi-Config | Allo Katana"
via email

[2018-06-14 07:12] vwillcox commented on #1840
Hi, that has worked! I have a certificate. However now going to https://nas.talktech.info is not working.
I have turned the firewall to allow incoming connections on port 443 but nothing working.
[code]

[2018-06-14 07:13] vwillcox commented on #1840
[code]

[2018-06-14 12:03] MichaIng commented on #1842
@stuie382
Hmm it refused to boot successfully? In TO case this was just a cosmetic error that does not affect boot or network access. Our IP estimation script just scanned the wrong interface. Although I am currently not sure, if some other scripts, parsing this info, might lead to further issues.  Will check this later. The banner of course is just cosmetic.

In your case the main issue seems to

[2018-06-14 13:56] MichaIng commented on #1827
@Fourdee
To have the files source-able should already speed up creation indeed. But as said with:
`g_hw_model[\$index_input]=2`
if we want to have as now a count of how many users user model 2, we would still need an array conversion like
`for i in ${g_hw_model[@]}; do ((aHW_MODEL[$i]++))`
To have `((aHW_MODEL[$G_HW_MODEL_NAME]++))` directly within the survey files, would allow us to skip this con

[2018-06-14 15:34] magelan80 opened #1850 "MariaDB | APT issue, accessing /var/lib/mysql"
#### Details:
- Date           | Thu 14 Jun 16:23:41 BST 2018
- BR sent?       | 0 : b0ed4076-246c-46fa-89d5-31d9231475ad
- DietPi version | v6.9
- Img creator    | 0
- Pre-image      | Raspbian Lite
- SBC device     | RPi 3 Model B (armv7l) (index=3)
- Distro         | stretch (index=4)
- Command        | G_AGI: mariadb-server
- Exit code      | 100
- Software title | DietPi-Software

#### Expect

[2018-06-14 21:31] midwan commented on #1844
`ip l`
[code]

`ip r`
[code]
`ip a`
[code]

`ls -al /sys/class/net/`
[code]

[2018-06-14 21:32] midwan commented on #1844
Additionally, when trying to enable Wifi in Dietpi-config:
[code]

[2018-06-14 21:39] midwan commented on #1844
Sorry for the barrage of messages:
After enabling Wifi in Dietpi-Config, the SSID is found and it seems to connect to it after manually entering the passphrase.

However, my problem was that after rebooting, the Wifi adapter was "lost" again.

I've just upgraded to DietPi v6.9 on the Pine64 today, but the problem remains I'm afraid.

[2018-06-14 21:43] midwan commented on #1845
@Fourdee
Thanks, the steps above work flawlessly.
It would be awesome if we could have it as a menu option as well.

[2018-06-14 23:01] MichaIng commented on #1688
https://manpages.debian.org/testing/systemd/timesyncd.conf.5.en.html

Idea: Always set local gateway as as NTP server and pool servers as FallbackNTP to reduce unnecessary NTP pool server load?

[2018-06-15 06:27] Fourdee commented on #1768
Pending additions:
- https://github.com/Fourdee/DietPi/issues/1845#issuecomment-397447909 113
- 🈯️ https://github.com/Fourdee/DietPi/issues/1866 112
- https://github.com/Fourdee/DietPi/issues/1874 114

[2018-06-15 07:30] Fourdee commented on #1849
Completed. Unable to verify with device testing (lack device), however, code checks out.

[2018-06-15 07:30] #1849 closed, assigned to Fourdee

[2018-06-15 07:37] Fourdee opened #1851 "DietPi-Backup | User include/exclude has no effect on userdata sync"

[2018-06-15 11:04] SimoneBnc opened #1852 "Can't start Octoprint"
## Creating a bug report/issue:

#### Required Information:
- DietPi version	| `6.9`
- Distro version	| `stretch`
- Kernel version	| `4.14.34-v7+`
- SBC device		| RPi3
- Power supply used	|  5V 2A
- SDcard used		| (Kingston 16GB class10)

#### Additional Information (if applicable):
- Software title	octoprint
- Was the software title installed freshly or updated/migrated?

fresh install

- Can thi

[2018-06-15 11:04] Fourdee commented on #1851
Note to self:
🈴 Test a userdata directory backup, using restore after moving userdata directory.

Userdata dir not allowed.

[2018-06-15 11:14] Fourdee commented on #1852
@SimoneBnc

Thanks for the report, 👍

[2018-06-15 11:38] Fourdee commented on #1851
Completed.

[2018-06-15 11:38] #1851 closed, assigned to Fourdee

[2018-06-15 11:40] Fourdee commented on #1845
Notes:
- index = 80
- online doc = https://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=12969#p12969
- mkdir -p /mnt/dietpi_userdata/ebooks /mnt/dietpi_userdata/comics

[2018-06-15 11:47] Fourdee commented on #1852
Notes:
- Unable to replicate on fresh install on RPi 3 B+, ```python3``` is installed.
- BR contains same ```python``` installed packages.
- BR checks out fine

[2018-06-15 11:58] Fourdee commented on #1852
@SimoneBnc

Strange, can't see to find any differences in our installs, yet our local testing version works fine.

Lets try reinstalling, see if that resolves.

Please run the following commands.
[code]

[2018-06-15 12:37] Fourdee commented on #1845
Completed.

[2018-06-15 12:37] #1845 closed, assigned to Fourdee

[2018-06-15 12:38] Fourdee commented on #1841
Completed.

[2018-06-15 12:38] #1841 closed, assigned to Fourdee

[2018-06-15 12:43] Fourdee commented on #1805
Completed. https://github.com/Fourdee/DietPi/commit/fd855d654bded34994b4af3d2df9d98013cd6c77

[2018-06-15 12:43] #1805 closed, assigned to nobody

[2018-06-15 16:34] SimoneBnc commented on #1852
I think I solved the errors by running

find /usr -name '*.pyc' -delete

as suggested here -> https://stackoverflow.com/questions/30861493/how-to-fix-python-valueerrorbad-marshal-data  but I don't think it is the correct solution to use given the side effects

I'll check your suggestion too later tonight

[2018-06-15 21:01] SimoneBnc commented on #1852
I tried a fresh install and now it works... maybe the order of installation of 3-4 other sw broke it... If I have time I'll try some more times to see if the problem occurs again

[2018-06-16 12:17] MichaIng commented on #1510
Alternative to `sed` for cutting oneline strings: https://stackoverflow.com/a/19482947
- http://wiki.bash-hackers.org/syntax/pe

[code]
Just to verify:
- Variables can be set within conditional statements.
- `grep -m1` correctly returns true and false based on match.
- `sed` does not, breaks condition check of grep, thus need to be used afterwards.
- But bash direct variable manipulation need to b

[2018-06-16 15:10] MichaIng commented on #1842
@slim0287
I fixed the issue for v6.10 and made some general code rework of the script when already touching: https://github.com/Fourdee/DietPi/pull/1853

You can test, if you like, by simply replacing the current script:
`wget https://raw.githubusercontent.com/Fourdee/DietPi/obtain_network_details/dietpi/func/obtain_network_details -O /DietPi/dietpi/func/obtain_network_details`

[2018-06-16 17:12] symbios24 opened #1854 "DietPi NativePC BIOS 32 Bit Version"
Hi, any change to make a Native PC BIOS x86 32 bit DietPi version for old computers?

Thanks

[2018-06-16 17:14] MichaIng commented on #1840
@vwillcox
Okay I made a bid research about Lighttpd and IPv6.

I also failed to use the first suggested setting. Always get error that port 80 is already in use. Other guides suggest to add the following to enable IPv6, which worked:
`$SERVER["socket"] == "[::]:80" { }`

This syntax is used to add vhost settings within the braces. It seems `$SERVER["socket"] == ":80" { }` is just valid for IPv4, w

[2018-06-16 17:25] MichaIng commented on #1854
@symbios24
Thanks for your request.

Please check:
- https://github.com/Fourdee/DietPi/issues/805
- https://github.com/Fourdee/DietPi/issues/1531, where Fourdee already answered your question 😉.

As this means that we need to rework and test the installation scripts of properly 100 software titles, our current priorities and man power do not allow us to start with this.

However, I have the plan t

[2018-06-16 18:08] symbios24 commented on #1854
Thanks for the response. i tested the image today and thought it was both 32/64 bit because of the name etc x86 x64
But if already you tested the Native PC BIOS x64 that could mean that the software that includes will work theoretically only the os need`s 32 bit architecture/conversion etc.
i can help with the testing it if you want

For example you can start by putting the 10 most popular softwar

[2018-06-16 18:31] MichaIng commented on #1850
@magelan80
Thank you very much for your report.

Analysing bug report log:
[code]
- DietPi-Software creates symlink from `/var/lib/mysql` to `/mnt/dietpi_userdata/mysql`, but changes owner of target to mysql user: https://github.com/Fourdee/DietPi/blob/master/dietpi/dietpi-software#L3587
- @magelan80 could you paste output of:
[code]
- Replicate on RPi needed, as I can't replicate on VM.

Most pro

[2018-06-16 19:04] MichaIng commented on #1827
@Fourdee
Replaced `sed` and `awk` by bash internal variable manipulation ${VAR##* : } etc: http://wiki.bash-hackers.org/syntax/pe
[code]
😃

[2018-06-16 22:00] Fourdee commented on #1844
@midwan

However, my problem was that after rebooting, the Wifi adapter was "lost" again.

Apologies for the delay, I don't have a PineA64 test system running yet. However, I believe the issue to be the module is missing from /etc/modules or /etc/modules.d.

When the WiFi is working, please paste results:
[code]

---

Note to self:
[code]

[2018-06-16 22:34] Fourdee commented on #1827
@MichaIng

RAM test, I believe its hitting swapfile.
[code]

---

~Hmm, values dont add up:~

Me = Idiot 🤣. Was seeing "Users opted in:" as total. More coffee required.

[code]

[code]

[2018-06-16 22:53] MichaIng commented on #1827
@Fourdee
I watched last cron job execution, RAM usage is quite low, luckily 😅. Also CPUs are not at 100%. Nice 19 is also good there to in case prioritize web access.
I think it would be worse, if we'd really source every file into it's own array first, instead of add info to counting array and reset the other variables again.
On the other hand...
[code]
Can the RAM usage be higher than what all t

[2018-06-16 23:50] slim0287 commented on #1842
@MichaIng
Unfortunately the result of the command you provided was not too good:
[code]
I deleted some of the directory listing just to simplify this post, but you see I ended up with a zero byte `obtain_network_details` file.  I put the v6.9 file back in place with:

`sudo wget https://github.com/Fourdee/DietPi/blob/master/dietpi/func/obtain_network_details -O /DietPi/dietpi/func/obtain_network_d

[2018-06-16 23:56] Fourdee commented on #1829
Unpack image to allow loopback mounting:
[code]

fstab, remove all hard drive mounts.

Repack:
[code]

---

How is anyone supposed to debug this corrupt (assuming Chinese) drivel:
[code]

---

Open RKdevtool
connect USB-C
Hold boot + Power
Plug in power
When you see MASKROM, let go of the buttons

[2018-06-17 00:15] MichaIng commented on #1842
@slim0287
Ah sorry, we just merged the PR into testing branch, thus the branch within you link is not available any more and nothing got downloaded/replaced. Use now:
`sudo wget https://raw.githubusercontent.com/Fourdee/DietPi/testing/dietpi/func/obtain_network_details -O /DietPi/dietpi/func/obtain_network_details`
Sorry, I am always too fast to clean up branches, after PR was merged 😉.

[2018-06-17 02:37] slim0287 commented on #1842
@MichaIng
Thanks, that worked.  `obtain_network_details` now is a much smaller file and the` Device "NULL" does not exist` doesn't exist.😉

[2018-06-17 02:41] Fourdee commented on #1812
#### stretch-minimal-rockpro64-0.6.56-267-arm64.img
- HDMI output now working
- Login via SSH working
- ```[   17.071025] cdn-dp fec00000.dp: Direct firmware load for rockchip/dptx.bin failed with error -2```
- ```sudo su```
- System hard lock, lost HDMI.
- Reset
- Appears fine, so far.
- Kernel dump, hard lock.
[code]
![image](https://user-images.githubusercontent.com/7077026/41504251-2eabd644-71

[2018-06-17 10:52] MichaIng commented on #1842
@slim0287
Great to hear 😃. Jep I made some code tuning besides and reduced script size and execution time by about one third.

Okay I will close this issue now. Feel free to reopen if required.

[2018-06-17 10:52] #1842 closed, assigned to MichaIng

[2018-06-17 12:21] vwillcox commented on #1840
Thank you very much @MichaIng all working now! https://nas.talktech.info.
I just changed the socket section to IPv6 as I have no need to run this over IPv4 at the moment

[2018-06-17 16:49] mismamente commented on #1850
I don't know if related, but yesterday I upgraded from 6.8 to 6.9 and I've realized that mysql doesn't start, it complains about permission denied in /var/lib/mysql
After searching problems, logs etc, I've fixed it adding mysql user to group dietpi (in /etc/group), because that folder has writting permissions only for dietpi (both user and group)

[2018-06-17 17:06] MichaIng commented on #1850
@mismamente
From reviewing the installation and update code, I cannot find a reason, why permissions about database folder should have changed.
`/var/lib/mysql` should be a symlink to `/mnt/dietpi_userdata/mysql`, which should in any case be owned by mysql user.

Is it a RPi as well in your case?
Also could you paste the result of:
[code]

[2018-06-17 17:13] MichaIng commented on #1840
@vwillcox
Great to hear. I keep the issue open, as I want to implement IPv6 support to Lighttpd with and without SSL.

So am I right, that you actually just needed to change the `letsencrypt.conf` from
`$SERVER["socket"] == ":443" {` to `$SERVER["socket"] == "[::]:443" {`, where non-SSL IPv6 access worked from the beginning?

[2018-06-17 19:07] vwillcox commented on #1840
@MichaIng that is correct. Working fine now and had lots of reports that others can now get to my testing site with https and the certificate is working!
Thank you

[2018-06-17 20:17] mismamente commented on #1850
Yes, it's a RPi.
The result of ls is:

root@dietpi:~# ls -la /var/lib/mysql
lrwxrwxrwx 1 dietpi dietpi 26 mar  4 11:50 /var/lib/mysql -> /mnt/dietpi_userdata/mysql
root@dietpi:~# ls -la /var/lib/mysql/
total 176200
drwxrwx---  5 mysql  mysql      4096 jun 17 22:15 .
drwxrwxr-x 12 dietpi dietpi     4096 jun 17 22:15 ..
-rwxrwx---  1 mysql  mysql     16384 jun 17 20:30 aria_log.00000002
-rwxrwx---

[2018-06-18 05:36] Fourdee commented on #1829
Notes 150000 baud:
http://www.friendlyarm.com/index.php?route=product/product&product_id=178&search=serial&description=true&category_id=0&sub_category=true
[code]

#### 🈴 Windows:
<img width="960" alt="128000_limit" src="https://user-images.githubusercontent.com/7077026/41519759-e298c4ba-72c1-11e8-94f7-0790753bfa17.png">

#### :u5408: Linux:
[code]

[2018-06-18 06:46] Fourdee opened #1855 "Native PC | Revisited dual boot install"
Decided to dual boot my laptop (finally), some general notes and issues we need to look into:

#### NB: i'll be updating this as needed.
---

Should be installed by default?
🈴 As far as I can tell, offers no benefit to a baseline system. No change in available CPU govs/freqs and additional software (frontend GUI) needed for easy ability to change those settings.
[code]

??? Adds a new option in st

[2018-06-18 10:47] Fourdee commented on #1855
Backlight:
[code]

DPI
[code]

Battery level:
[code]

[2018-06-18 11:06] Fourdee commented on #1850
@magelan80

- Power supply used on the system?
- Have you installed or configured any linux options/software, outside of DietPi programs?

Are these drives USB host powered, or, 3.5inch and contain their own PSU for each device?
[code]

---

Unable to replicate any issues with Mariadb on RPi 3B+, with local test system on fresh install and nextcloud.

[2018-06-18 11:10] Fourdee commented on #1852
@SimoneBnc

Excellent, great to see this issue is now resolved. As I am unable to replicate this, I'll mark as closed. However, please reopen if required.

[2018-06-18 11:10] #1852 closed, assigned to Fourdee

[2018-06-18 11:21] Fourdee commented on #1855
Done

[2018-06-18 11:21] #1855 closed, assigned to Fourdee

[2018-06-18 18:11] MichaIng commented on #1787
Further research about `/dev/loop` devices: https://en.wikipedia.org/wiki/Loop_device

Hmm, I am not familiar with those kind of fs devices, but if I understand it correctly, there need to be somewhere image files containing them. Confusing that there are no other devices found (or just not mounted after boot?) that contain those image files. Also I guess in this case they cannot be expended, as t

[2018-06-18 20:16] blogabe commented on #1841
Hi @Fourdee so once this fix is pushed we'll be able to change the password for root and still be able to log into the Allo Web UI?

[2018-06-19 04:51] Fourdee commented on #1829
🈯️ baud = 1500000 SSH client | 128000 HW

1st boot stops at (no network attached):
[code]

Few minutes later, continues boot
[code]

---

login as root fails???
[code]

🈯️ ```echo 'ttyFIQ0' >>  /etc/securetty```

[2018-06-19 04:52] Fourdee commented on #1841
@blogabe

Yep, once v6.10 is release and you have updated.

Or, you can install the v6.9.5 image which contains the fix now:
 https://dietpi.com/phpbb/viewtopic.php?f=8&t=2317&p=8869#p8869

[2018-06-19 05:55] Fourdee commented on #1829
### Benchmarks:
![image](https://user-images.githubusercontent.com/7077026/41579164-ae48bc70-738d-11e8-900a-73c1d2efb355.png)

[2018-06-19 07:29] Fourdee commented on #1829
Seems starting the serial service, kills it:
[code]

[2018-06-19 08:44] Fourdee commented on #1829
Finally up and running:
https://twitter.com/DietPi_/status/1008993035823304709

#### ToDo:
- 🈯️ Instructions to write to EMMC
- 🈯️ dietpi.com addition
#### ToDo, post release (can be resolved with v6.10 update)
- Test audio
- 🈴 Test GPU. No GPU supported acceleration currently.

[2018-06-19 08:50] Fourdee commented on #1829
# Writing DietPi to the onboard EMMC:
#### Requires:
- NanoPC-T4
- USB-C Cable (eg: https://www.amazon.co.uk/Syncwire-USB-3-0-Type-Cable/dp/B01C8BFHW4)
- Ethernet connected (or WiFi can be setup with serial console during 1st run setup)
- A Windows system (to use the provided easy write tool with USB-C, Linux options require command line).
-- Linux users, please follow this guide: http://wiki.frie

[2018-06-19 10:29] symbios24 opened #1856 "Kodi with EmulationStation"
Hello, is it possible when Kodi installation is selected also this plugin to be installed or to add an option to select optional to install it,that includes the Emulation Station Addon : Gamestarter add-on and with it the Emulation Station plugin to be installed and enabled

github page

https://github.com/bite-your-idols/Gamestarter

repository zip file

https://goo.gl/m36qLT

since emulation sta

[2018-06-19 11:48] Fourdee commented on #1829
https://github.com/rockchip-linux/rk-rootfs-build/tree/master/packages/armhf/libmali
https://github.com/rockchip-linux/rk-rootfs-build/blob/master/overlay/etc/init.d/rockchip.sh#L29-L31
[code]

[2018-06-19 12:46] MichaIng commented on #1827
@Fourdee
Tested your 4D version:
[code]
- The last test was with my first RAM approach: Copying every file separately into RAM and removing/replacing within loop. But the many single copy calls seem to take more time here, than grep from outside of RAM. Copying everything at once on the other hand indeed speeds up the process a bid 👍.
- Hmm made further tests, where the difference it not too large

[2018-06-19 14:44] FlameFireling opened #1857 "PirateBox in dietpi-software"
PirateBox is a DIY anonymous offline file-sharing and communications system built with free software and inexpensive off-the-shelf hardware.

[2018-06-19 16:02] butterbrot21 opened #1858 "DietPi-Drive_Manager | Rewrite/improve"
#### Required Information:
- DietPi version	| 6.9
- Distro version	| 9.4
- Kernel version	| 4.14.32+
- SBC device		| Odroid HC2
- Power supply used	| 12V 2A
- SDcard used		| SanDisk ultra 16gb

#### Additional Information:
 - Nextcloud, Ampache, Webmin,NoIP,failfoban,certbot
- Fresh Install
- dietpi-bugreport ID = 979b351b-9ad4-440e-8621-6ae5ed95ffe8

#### Steps to reproduce:
1. Fresh install
2. d

[2018-06-19 17:04] LexiconCode commented on #1858
I can replicate this but I can manually mount a drive.

[2018-06-19 17:56] MichaIng commented on #1788
@Fourdee
Found `tee` to be the problem:
[code]
- The same format issue with upgrade and purge, in something gets actually removed or installed.
- Color, DEBIAN_FRONTEND/noninteractive, `apt` instead of `apt-get` and other options have no effect.
- Sadly I didn't find something about it via web research, thus no solution besides not using `tee`.
- Only idea I have (besides leaving as is, as it's ju

[2018-06-19 19:53] butterbrot21 commented on #1858
Sounds good can you help me with wth this?
After manually mount, can you see the drive in the drive_manager?
If so is it possible to use it as userdata?

this is what i did:
`mkdir /datastore`
`mount /dev/sda1 /datastore`
`blkid /dev/sda1 `
->UUID="cce05d0d-6515-497e-a473-b5660d25ab86"
`nano /etc/fstab`
-->UUID=cce05d0d-6515-497e-a473-b5660d25ab86 /datastore ext4 defaults 0 0

now i see the drive

[2018-06-19 21:49] MichaIng commented on #1836
Added PR to fix OT issue: https://github.com/Fourdee/DietPi/pull/1859
We should keep an eye on the RPi firmware issue and revert in case of fix arrived in stable (APT) repo.

[2018-06-20 08:49] Fourdee commented on #1836
@MichaIng

Great work, tested fine on RPi 3B+ 👍

[2018-06-20 09:25] Fourdee commented on #1858
@butterbrot21

Thanks for the report 👍

Appears /dev/sda1 is being incorrectly identified as rootfs
[code]

I'll run some local tests, see if we can replicate.

@butterbrot21 @LexiconCode
Was this on a fresh DietPi image install, or after running the dietpi-update ?

[2018-06-20 09:45] butterbrot21 commented on #1858
Hey,

Yes it was on a fresh install.

It looked as if it had automatically run an update after first login via putty. But i dont run dietpi-update.
After install i did the normal setup with selected software.

One time i tied to format the disk and mount it manually before the first setup/inmstaller.
Unfortunately without success.

i hope i can help I'm really looking forward to use dietpi on my o

[2018-06-20 09:46] Fourdee commented on #1858
🈯️ https://github.com/Fourdee/DietPi/commit/8f053fdb26c00c34ddc988a649cdcaef409dad85 >> Another bug with incorrect cat listing:
![image](https://user-images.githubusercontent.com/7077026/41650845-e2c6e99c-7476-11e8-8e99-0dc7aa111445.png)

[2018-06-20 10:01] Fourdee commented on #1858
Notes:
- Need to improve detection of currently mounted drives, regardless of fstab entries
- We cant use ```mount``` for current mount checks, as a manually added mount on same drive shows up 2 results:
[code]
Yet, ```df``` result shows the "latest" one:
[code]

---

```df``` faster than ```lsblk```
[code]

[2018-06-20 10:20] butterbrot21 commented on #1858
in another try/reinstal, I tried to format sda after the first setup/software-install and mount it afterwords, becaouse it looked like that the userdata was on sda and on sd:

─(/dev/sda)────────────────────────────────────────
│ / : /dev/sda1 | ext4 | Size: 15G | Used: 1.9G (14%)
│ ─(/dev/mmcblk1)────────────────────────────────────────
│ /boot : /dev/mmcblk1p1 | vfat | Size: 71M | Used: 32M (45%

[2018-06-20 11:42] MichaIng commented on #1666
**Last thing to verify:**

- Retest? Even on long time running dietpi.com server, values match with output of currently used `netstat -i`
- Alternatives: `cat /proc/net/dev`, `ip -s l show eth0`
- Otherwise workaround/fail_safe by sum new value to old value, `if (( $NETWORK_USAGE_TOTAL_CURRENT_RECIEVED < $total_previous_recieved ))`?
_________________
Test on dietpi.com running for 51 days:
[code]

[2018-06-20 12:05] MichaIng commented on #1816
Finds within code: https://github.com/Fourdee/DietPi/search?q="config.txt"&unscoped_q="config.txt"
- 🈯️ **/DietPi/dietpi/boot**: Only touched within `if (( $G_HW_MODEL < 10 )); then`
- 🈯️ **/DietPi/dietpi/dietpi-config**: Only touched within `if (( $G_HW_MODEL < 10 )); then` or Menus that are just available for RPi.
- 🈺 **/DietPi/dietpi/func/dietpi-set_hardware**: Non-ramdisk `config.txt` declarat

[2018-06-20 15:30] Fourdee commented on #1858
Notes to self, detection rewrite:
- Networked drives add/remove?
- RootFS transfer needs redoing

[2018-06-20 15:35] Fourdee commented on #1827
@MichaIng

Love the dark theme and new fonts, nice 👍

[2018-06-20 15:37] Fourdee commented on #1666
@MichaIng

Yep, this happened on OPi device if I remember, 3.x kernel and a few years ago lol.

[2018-06-20 16:20] MichaIng commented on #1666
@Fourdee
Hmm okay, just to be on the secure side, we could check and in case sum old and new value up:
[code]

[2018-06-21 01:18] tjblair opened #1860 "DietPi-Software | Error while creating "mysql" database folder"
**€: BR cleaned up by @MichaIng**

## Creating a bug report/issue:
- Date           | Wed 20 Jun 20:16:40 CDT 2018

#### Required Information:
- DietPi version	| `v6.9`
- Distro version	| `stretch (index=4)`
- Img creator    | `DietPi Core Team`
- Pre-image      | `Raspbian Lite`
- Kernel version	| `uname -r`
- SBC device		| `RPi 3 Model B+ (armv7l) (index=3)`
- Power supply used	| (EG: 5V 1A RAVp

[2018-06-21 07:10] JohnMacrae opened #1861 "Node Red installs but does not run"
## Creating a bug report/issue:

#### Required Information:
- DietPi version	| 6.9
- Distro version	|Stretch
- Kernel version	| 4.14.34-v7+
- SBC device		| RPI 3B
- Power supply used	| 3A
- SDcard used		| SanDisk ultra

#### Additional Information (if applicable):
- Software title	| Node Red
- Was the software title installed freshly or updated/migrated? Fresh
- Can this issue be replicated on a f

[2018-06-21 07:55] JohnMacrae opened #1862 "Dietpi Services does not produce required result"
Required Information:
DietPi version	| 6.9
Distro version	|Stretch
Kernel version	| 4.14.34-v7+
SBC device	| RPI 3B
Power supply used	| 3A
SDcard used	| SanDisk ultra
Additional Information (if applicable):
Software title	| Node Red
Was the software title installed freshly or updated/migrated? Fresh
Can this issue be replicated on a fresh installation of DietPi? YES
dietpi-bugreport ID

Steps to r

[2018-06-21 12:13] Fourdee commented on #1858
Working on a rewrite, should be done in a few days. Now support network mounts aswell.

[2018-06-21 12:38] butterbrot21 commented on #1858
Sounds great! Thanks for the fast response and fix!
Keep up the good work 👍

[2018-06-21 18:24] Fourdee commented on #1862
@9H5G

Thanks for the report 👍

I'll close this in flavor of https://github.com/Fourdee/DietPi/issues/1861. Appears same issue.

[2018-06-21 18:27] Fourdee commented on #1861
REF https://github.com/Fourdee/DietPi/issues/1862

[code]

[2018-06-21 18:28] #1862 closed, assigned to nobody

[2018-06-21 18:32] Fourdee commented on #1861
Please try:
[code]

[2018-06-21 18:53] JohnMacrae commented on #1862
root@gozo:~# dietpi-services status
[  OK  ] Root access verified.

 DietPi-Services
─────────────────────────────────────────────────────
 Mode: status

[  OK  ] DietPi-Services | avahi-daemon active (running) since Thu
2018-06-21 20:49:26 CEST; 3min 17s ago
[  OK  ] DietPi-Services | mosquitto active (running) since Thu 2018-06-21
20:49:26 CEST; 3min 17s ago
[FAILED] DietPi-Services | node-red f

[2018-06-21 19:02] JohnMacrae commented on #1861
Thank you.

Completed.  Owner now 109 Group 103.  However, NR still does not run under
service. Somehow mosquitto takes 2 restarts to start (consistent).

Kind Regards
John

On 21 June 2018 at 20:32, Dan <notifications@github.com> wrote:

[2018-06-22 12:21] MichaIng commented on #1860
Possibly related? https://github.com/Fourdee/DietPi/issues/1850

Note to self:
- 🈯️ Test MariaDB installation with moved dietpi_userdata, thus doubled symlink redirection. **€: Different userdata location works fine.**
- 🈯️ Test on external drive: **€: Can't replicate**

[2018-06-22 16:44] Fourdee commented on #1861
Install Mosquitto, NR, I2C support using installer

Full test as per above:
TBA

[2018-06-22 16:52] Fourdee commented on #1861
@9H5G

Lets check this, please send us a bug report
[code]

[2018-06-22 17:07] Fourdee commented on #1861
Unable to replicate on fresh install as per user installation instructions, ext4 userdata folder:
[code]

I suspect fat32 userdata, which is prevented in https://github.com/Fourdee/DietPi/issues/1846, Waiting for user bug report.

[2018-06-22 17:10] Fourdee commented on #1857
@FlameFireling

Thanks for the request 👍

We'll mark this as closed, pending more interest from our user base, prior to re-opening for implementation.

[2018-06-22 17:10] #1857 closed, assigned to nobody

[2018-06-22 17:13] JohnMacrae commented on #1861
Sent - 8967f513-594a-4150-b577-6187cb8eb6db

Kind Regards
John

On 22 June 2018 at 18:52, Dan <notifications@github.com> wrote:

[2018-06-22 17:14] JohnMacrae commented on #1861
Weird.  Did you have a USB drive as your Dietpi_userdata?

Kind Regards
John

On 22 June 2018 at 19:07, Dan <notifications@github.com> wrote:

[2018-06-22 17:50] dpantel commented on #1696
For those of us who unwittingly ran pihole -up, what is the best method of restoring the dietpi settings (without resetting pihole settings)?

[2018-06-22 19:27] slim0287 commented on #1696
@dpantel I hope someone has a better answer that I do:  when I made this error, I ended up reinstalling everything.  Operating system and Pihole.

[2018-06-22 21:02] MichaIng commented on #1816
PR up for testing: https://github.com/Fourdee/DietPi/pull/1863

[2018-06-22 21:31] MichaIng commented on #1688
Okay, following solution, I would go for:
- By default use local gateway as NTP server and `debian.pool.ntp.org` as `FallbackNTP`, which will only be called, if the servers, set at `NTP=` are not reachable.
   - Test needed how long the sync attempts take, until FallbackNTP is used, possibly remove local NTP server automatically, if sync fails?
- 2 settings within `dietpi-config`:
   - Local time

[2018-06-22 21:55] Fourdee commented on #1858
ToDo:
- RootFS transfer
- Implement FTP/NFS + Custom mount location options (+samba)

[2018-06-22 22:32] MichaIng commented on #1696
@dpantel
You will definitely need some manual work, depending on what webserver etc, you installed.
Can you list all software titles, that you installed via `dietpi-software`, before applying `pihole -up`?

[2018-06-22 23:07] Fourdee commented on #1861
@9H5G

Thanks for the bug report 👍

Confirmed ext4 FS.

Please can you paste results, lets check the permissions we set got applied (https://github.com/Fourdee/DietPi/issues/1861#issuecomment-399201081) :
[code]

---

Yep:
[code]

[2018-06-22 23:11] MichaIng commented on #1836
I mark as closed, until we have some solution from RPi firmware side.

[2018-06-22 23:11] #1836 closed, assigned to MichaIng

[2018-06-23 00:34] MichaIng opened #1864 "META | Implement automated code check?"
As the "Checks" tab on PRs always pop into my eyes, I had a look into this code checker marketplace. For open source projects, everything I had a look at is for free.
E.g. `Codacy` supports shell and does code quality checks: https://github.com/marketplace/codacy
- Hmm seems to be the only tool that supports SHELL at all, if all the supported languages lists are complete 🤔.

Of course as we are le

[2018-06-23 01:40] Fourdee commented on #1858
![image](https://user-images.githubusercontent.com/7077026/41804454-c35552b4-768e-11e8-90e5-f9d8f6bc5de2.png)

[2018-06-23 05:17] JohnMacrae commented on #1861
Here you go!

root@gozo:~# ls -lha /mnt/dietpi_userdata/node-red
total 128K
drwxrwxr-x  4 nodered nodered 4.0K Jun 22 21:06 .
drwxrwxr-x  8 root    root    4.0K Jun 21 20:47 ..
-rw-r--r--  1 nodered nodered  17K Jun 21 18:29 .config.json
-rw-r--r--  1 nodered nodered  17K Jun 21 17:56 .config.json.backup
drwxr-xr-x  3 nodered nodered 4.0K Jun 21 17:52 lib
drwxr-xr-x 68 nodered nodered 4.0K Jun 21

[2018-06-23 12:03] MichaIng commented on #1858
@Fourdee
As you already touch this. I have an issue with drive manager currently not recognizing my two drives, that are attached via HDD docking station:
- `fdisk -l`
[code]
- `mount`

`/dev/sda on /mnt/sda type ext4 (rw,noatime,data=ordered,x-systemd.automount)`
- `df`

`/dev/sda       2884154032 226415000 2511209320   9% /mnt/sda`
- `lsblk`
[code]

`/dev/sda` is my data drive, `/dev/sdb` my bac

[2018-06-23 15:34] dpantel commented on #1696
just the dietpi base and pihole (lighttpd)

[2018-06-23 16:09] MichaIng commented on #1827
@Fourdee
As we anyway change the survey, we can think of further or not needed entries:
- Upload count: Don't see too much interest in this. The only thing is that we can derive a bid the activity of users, how often new software is installed and/or played around. If we want to keep it, we need to increase the number +1 within survey file creation. I see now why you in between changed initial valu

[2018-06-23 17:09] Fourdee commented on #1858
@MichaIng

no partition number detection appears to be working for me with latest testing version:
![image](https://user-images.githubusercontent.com/7077026/41811924-7788b3c6-7710-11e8-9dc2-5ad052e92e95.png)

[2018-06-23 17:37] Fourdee commented on #1861
@9H5G

Thanks 👍

[code]
Interesting

Any chance you have been using the folder to transfer data ```~/.node-red``` logged in as root?

The only thing I can suggest is trying to reinstall nodered on the system:
[code]
Failing the above, we would need SSH access to debug/resolve, as, i'am unable to replicate the issue locally.

[2018-06-23 18:18] Fourdee commented on #1816
REF, pending testing: https://github.com/Fourdee/DietPi/pull/1863#issuecomment-399697869

[2018-06-23 19:03] JohnMacrae commented on #1861
The dietpi_userdata folder on the USB drive was created under a previous
version (prior to the mandatory reinstall). Perhaps that is the problem.
BTW, the install overwrote the files in the NR directory on installation.

The NR directory was originally owned by root as per the existing installation. The flows file (start - rather than the default flows_host.xxx was created though).  Never seen tha

[2018-06-23 20:38] Fourdee opened #1866 "DietPi-Software | Roon Extension Manager"
Testing https://github.com/Fourdee/DietPi/pull/1865

[2018-06-23 20:39] Fourdee commented on #1827
@MichaIng

This I like!

Automated install data is a must 👍

[2018-06-23 22:44] MichaIng commented on #1858
@Fourdee
Ah great, nice rework btw., drive_manager detection speed is impressively improved!

Do you know about the condition for no partition number? When I use USB stick on RPi or VM, even with just 1 partition, the drive to mount always has a partition number 1 and the /dev/sdX without partition number exist besides, but itself is not mountable.

[2018-06-24 08:22] JohnMacrae commented on #1861
OK,  I have finally got to the bottom of this.  I deleted the NR directory in dietpi_userdata and then uninstalled and reinstalled (with a reboot in between for good measure) and with Dietpi_userdata on the USB. It installed ok and ran but the NR directory was empty.

I then uninstalled and then set the userdata to the sd card and installed. It ran fine.  I then set dietpi_userdata back to the USB

[2018-06-24 15:38] Fourdee commented on #1858
Note to self:
We can use to detect unformatted connected drives:
Check block devices against ```blkid```
[code]

Unsure, I believe it depends if a partition table is created or not.

[2018-06-24 21:14] Fourdee commented on #1858
Hmmm:
[code]

---

[code]

[2018-06-24 21:37] Fourdee commented on #1861
@9H5G

version (prior to the mandatory reinstall). Perhaps that is the problem.

Yep, pretty sure that is the cause.

When creating a new installation, you should always start with a fresh userdata folder (ideally, format the disk before use in ```dietpi-drive_manager```).

[2018-06-25 03:05] lupa18 opened #1868 "Mosquitto installation problem - can't find executable"
## Creating a bug report/issue:

#### Required Information:
- DietPi version	| 6.9
- Distro version	| stretch
- Kernel version	| 4.4.77-rockchip-ayufan-136
- SBC device		| Rock64 (aarch64)
- Power supply used	| 5V 3A
- SDcard used		| Class 10 micro SD

#### Additional Information (if applicable):
- Software title	| Mosquitto
- Was the software title installed freshly or updated/migrated? Installed

[2018-06-25 06:56] sergiud opened #1869 "Backup not possible with an rsync daemon running"
## Creating a bug report/issue:

#### Required Information:
- DietPi version	| 6.9
- Distro version	| 9.4
- Kernel version	| 4.14.32+
- SBC device		| Odroid XU4Q with CloudShell2
- Power supply used	| 15V 4A
- SDcard used		| eMMC

#### Additional Information (if applicable):
- Running OpenMediaVault with rsync server

#### Steps to reproduce:

1. Start rsync daemon
2. Start DietPi backup

#### Exp

[2018-06-25 09:31] MichaIng commented on #1869
@sergiud
Thanks very much for your report.

I didn't ever work with rsync in daemon mode, so don't know what's possible. Would it be possible to use the rsync daemon for the backup, if it's already running? I am just thinking, that killing the daemon could interrupt running remote file transfers, or the daemon denies to stop, e.g. if configured as automated cron jobs etc. Killing it forcefully on

[2018-06-25 09:43] MichaIng commented on #1868
@lupa18
Thank you very much for your report. I will review your bug report and try to replicate on x86_64 VM.

**€: Just checked bug report:**
- Sadly no `/var/log/apt/term.log` available any more and `/var/tmp/dietpi/logs/dietpi-software_apt.log` shows just mosquitto package being uninstalled. @lupa18 Did you manually remove mosquitto again? Otherwise might `apt-get -f install` can't find all nee

[2018-06-25 09:56] sergiud commented on #1869
The rsync daemon serves only specific paths, so it don't believe it can be used for backup without restarting it. Stopping the dameon, on the other hand, will not cause any major problems.

[2018-06-25 10:19] adamotte commented on #1753
@Fourdee Can you apply the same fix to VirtualBox image ?

[2018-06-25 11:09] MichaIng commented on #1753
@adamotte
You mean the NTP/APT issue faced by TO?

Actually as DietPi automatically performs updates on first run, everything should be working. APT generally should work, a mirror fix is applied with v6.6 (anyway just affected RPi) and NTP was fixed (we switched from NTP to systemd-timesyncd) with v6.9. Or did you face issues during/after first run of the VBox image?
- [ ] Will do some test mysel

[2018-06-25 11:32] Fourdee commented on #1869
@MichaIng

If the rsync daemon has a fixed service we could add to ```dietpi-services```, else, ```killall -w rsync``` ?
However, probably best to ```killall``` in case user manually ran via cmdline.

[2018-06-25 11:35] Fourdee commented on #1869
Note, error message should already be provided
[code]

---

Maybe ```G_WHIP_YESNO 'Would you like to terminate process?'```?
```G_TERMINATE_PROCESS rsync``` = above?

[2018-06-25 11:47] sergiud commented on #1869
The rsync daemon can be controlled using the usual systemd mechanism. It would be nice if the daemon is automatically restarted once the backup is complete.

[2018-06-25 11:53] Fourdee commented on #1869
@sergiud

Service name?

```rsync``` I believe?

[2018-06-25 11:59] MichaIng commented on #1869
@Fourdee @sergiud
Would it be possible to add dietpi-backup/sync location to the list (if it's a list), possibly with limited access for local transfer or something?
**€: https://linux.die.net/man/5/rsyncd.conf**
- If file exists (and daemon is running), we could add our own [dietpi-backup] and/or [dietpi-sync] modules (at script start) and limit access to localhost (`hosts allow`). Sadly no `rsyn

[2018-06-25 12:03] Fourdee commented on #1869
@MichaIng

Risky for ```dietpi-backup``` as we need to stop services prior to backup, else, inuse files etc.

Lets try it with the service control 1st, stop and start, fine if not set in config:
[code]

[2018-06-25 12:08] Fourdee commented on #1869
@sergiud

Please patch the following files (copy/paste all) and retry ```dietpi-backup```
[code]

[2018-06-25 12:13] Fourdee commented on #1688
@MichaIng

Apologies for the delay, been a bit manic recently lol.

Yes, love this idea and the additional two options. Worth implementing 👍

[2018-06-25 12:26] sergiud commented on #1869
Works. Thank you!

[2018-06-25 12:46] MichaIng commented on #1858
@Fourdee
- About missing fs table: As I just used mkfs command that time, where drive_manager uses parted to create fs table first (?). Might this be the reason? I am wondering if then fs table is not needed or can be skipped if just one partition will be in place? Or is there any risk without or benefit with fs table first?
- As you are anyway working on drive_manager, I just want to remind our o

[2018-06-25 12:49] MichaIng commented on #1688
@Fourdee
Okay great, leave this to me, will create PR later.

[2018-06-25 13:35] Fourdee commented on #1868
Confirmed ARMv8 issue:
[code]

---

Our current binaries ```mosquitto_1.4.14``` are still a higher version than stretch:
https://packages.debian.org/stretch/mosquitto

[code]

libssl1 not in debian repo, pulled from our server

[2018-06-25 13:39] MichaIng commented on #1868
@Fourdee
Okay, hmm maybe we can find out which package is missing on ARMv8. Maybe some update of our deb package helps. v1.5 is available.

€: Jep and I bet that stretch repo will not receive any non critical  package updates. The ones on buster are 1.4.15 but could have dependency issues on Stretch.

€€: Ah if it's just libssl1.0.0 then at least easy to fix with dietpi-software.

[2018-06-25 14:32] Fourdee commented on #1868
Notes:
- Default compile missing services and ```/etc/mosquitto/mosquitto.conf```.
- init.d used previously, lets make a systemD version ```/usr/sbin/mosquitto -c /etc/mosquitto/mosquitto.conf```
- no process created, no info... | ```1529937553: Error: Invalid user 'mosquitto'.```
[code]

---

Custom debian repo lacks ARMv8
http://repo.mosquitto.org/debian/dists/stretch/main/

[2018-06-25 14:57] MichaIng commented on #1868
@Fourdee

Might be the reason why we added armhf arch to arm64 devices within current install script?

[2018-06-25 14:58] Fourdee commented on #1868
Ok:
- All devices will use official Debian repo install  (1.4 currently)
- If we get complaints for this change (eg: I need 1.5 for features), we'll re-investigate post-v6.10 for ARMv7 and AMD64 using http://repo.mosquitto.org/debian/dists/stretch/main/ (1.5)

---

Another 'naughty?' option, 1.5 on all devices, source build over the top, ensuring services and conf exist:
- ```G_AGI mosquitto```
[c

[2018-06-25 15:16] Fourdee commented on #1868
@lupa18

Workaround (nice and simple), to install mosq:
[code]

[2018-06-25 16:14] enwi opened #1870 "Installation hangs during update on DietPi-Drive_Manager | Detecting drives, please wait..."
#### Required Information:
- DietPi version: 6.7
- Distro version: Stretch
- Kernel version: can not be determined
- SBC device: Odroid HC1
- Power supply used: 5V 5A
- SDcard used: Londisk extreme 16GB

#### Additional Information (if applicable):
- fresh install of `DietPi_OdroidXU4-ARMv7-Stretch`

#### Steps to reproduce:
1. download OS for Odroid HC1
2. write it to SD-Card
3. Add static IP `19

[2018-06-25 16:23] enwi commented on #1818
@MichaIng You do know that the HC1 and HC2 do not have any connections for a fan?

[2018-06-25 16:32] MichaIng commented on #1818
@enwi
Good hint. Although the board itself seems to have, according to forum user.

As HC1/2 is the same board, thus we cannot estimate any difference, AFAIK, we can still add the option. Of course it does not have any effect if no fan is attached.

And theoretically you could attach one with some case modification ;) (?).

[2018-06-25 17:02] enwi commented on #1818
@MichaIng Yeah that's what I did. I am using a USB fan, that I've attached to the metal extrusion. But to not confuse anybody there is no other way of adding a fan to HC1/2.

[2018-06-25 17:07] enwi commented on #1870
I could fix the issue myself. It was due to a faulty micro SD card. Interestingly that one was only half a year old, so I will return it to the seller.

[2018-06-25 17:07] #1870 closed, assigned to nobody

[2018-06-25 17:26] Fourdee commented on #1868
Test install's passed, completed. Please reopen if required.

[2018-06-25 17:26] #1868 closed, assigned to Fourdee

[2018-06-25 17:44] Fourdee commented on #1869
@MichaIng

Yep, i'll add a ```killall -w``` just incase.

I'll leave ```G_TERMINATE_PROCESS ``` in the mind bank, this is the only thing I can think of that would use it, and, we should reserve ```G_``` for items that are commonly used.

[2018-06-25 17:46] Fourdee commented on #1869
@sergiud

Many thanks for verifying working 👍

Completed. Please reopen if required.

[2018-06-25 17:46] #1869 closed, assigned to Fourdee

[2018-06-25 20:01] LexiconCode opened #1871 "DietPi-Software | How to update UrBackup server via reinstall?"
There is a new version of UrBackup server available (2.2.1.1). Download it [here](http://www.urbackup.org/download.html).

- DietPi Version 6.9
- SBC Device (EG: C2)

[2018-06-26 04:54] DaCodaHUB commented on #1821
I tried the commands but I got the error "Re-reading the partition table failed.: Device or resource busy". Can anyone help?

[2018-06-26 10:36] Fourdee commented on #1821
@DaCodaHUB

Hi,
Which disk are you attempting to resize? RootFS?
Please paste results
[code]

The error is due to the partition table resize, which will not work on a live system with RootFS mounted, although, the filesystem resize should work.

Either way, the resize should not fail on first run. The only factor that might cause a failed resize on RootFS is a hardware issue. Or, you cloned the SD

[2018-06-26 10:43] Fourdee commented on #1821
@DaCodaHUB

Use the following to resize RootFS during boot:
[code]

You can then check the log with
[code]

[2018-06-26 11:09] Fourdee commented on #1821
@MichaIng

I'll pick this one up, as still working on https://github.com/Fourdee/DietPi/issues/1858

[2018-06-26 12:08] alexz-kh commented on #1285
Folks , is it possible to pass predefined
[code]
variables ? to be able build w\o manual input ?

[2018-06-26 13:18] Fourdee commented on #1858
@MichaIng

Let me send commits 1st, then its open for implementation.

Done, just doing last testing.

Hmm..
[code]

[2018-06-26 13:42] Fourdee commented on #1858
🈯️ Handled in script with: https://github.com/Fourdee/DietPi/commit/c06fe531818d5ebb6b2c2f63af45dea9d3641229

---

How to test no partition table formatting:

PREP: Clear any tables, then reboot:
[code]
- Run dietpi-drive_manager and format drive
- When the error occurs ```/dev/sdX``` does not exist, reboot system
- Run dietpi-drive_manager again and mount drive

[2018-06-26 13:53] MichaIng commented on #1285
@kuzinnv
Not yet, but the idea is great to allow predefining all user input 👍.
I will add PR for this later.

[2018-06-26 14:16] Fourdee commented on #1858
Ok, outstanding:
- Allow fs check on reboot for root and boot partition. However, we did not yet patch the needed fstab flag: 0eb0db0
- test RootFS transfer (again)

@MichaIng
If you want a crack at either of the top, go for it.

[2018-06-26 14:24] Fourdee commented on #1858
Note to self:
🈯️ ```Reserved blocks :``` needs to be below ```mount/unmount``` options in whip list.

[2018-06-26 15:14] Fourdee commented on #1871
@LexiconCode

Thanks, we'll update it for v6.10 👍

[2018-06-26 15:37] Tealk opened #1873 "DietPi-Software: Connection test Exit code 4"
Hi,

i have fresh install DietPi on my RespberryPi and since first run i get this message:
![grafik](https://user-images.githubusercontent.com/12276250/41923390-d1bd9dc8-7956-11e8-8a5b-b71f459c0dd8.png)

I think this is a persistant problem, i hope someone can help me out

[2018-06-26 15:47] stdusm opened #1874 "Lidarr software request"
Same as Radarr/Sonarr but for music.

https://github.com/lidarr/Lidarr

[2018-06-26 17:21] symbios24 opened #1875 "Nukkit Site Offline/Installation Broken"
Hello upon Installation of Nukkit - Server for Minecraft Pocket Edition on a Raspberry pi 3 i got an error saying: that remote file does not exist -- broken link, referring to the file: nukkit-1.0-SNAPSHOT.jar

By going manual from a browser to this site that dietpi tries to connect to get the file i got this message in Chinese i have translate it into english:

Site:  http://ci.mengcraft.com:8080

[2018-06-26 17:56] MichaIng commented on #1873
@Tealk
Thanks for your report.

Hmm, here it works:
[code]

Also your error massage indicates, that your name resolver/DNS entry seems to not work, thus you should be not able to connect to any web resource, besides entering the plain IP.
To verify, `wget --spider http://google.com` should throw the same error message to terminal.

How did you configure your network connection? Did you adjust some

[2018-06-26 18:12] Tealk commented on #1873
@MichaIng
Thank you for the answer.

I have configure nothing, only install the image and connect the raspberrypi connected to power and internet

Here the wget test:
[code]
[code]
I use DHCP my dns server i have set up in the fritzbox 213.73.91.35 and 89.233.43.71
My tower can resolve http://raspbian.raspberrypi.org/raspbian

Sorry atm i have no card reader here, so i cant check the files, or is

[2018-06-26 18:18] Tealk commented on #1873
i have now set up the dns server static on google and now it run fine :/

[2018-06-26 20:02] MichaIng commented on #1871
@LexiconCode @Fourdee
Hmm, we actually updated `dietpi-software` to install the new version with v6.9:
- https://github.com/Fourdee/DietPi/pull/1774
- https://github.com/Fourdee/DietPi/blob/testing/dietpi/dietpi-software#L4246-L4259

But we usually do not upgrade software titles on `dietpi-update`, because the installation scripts often overwrite config files, also for UrBackup: https://github.com

[2018-06-26 21:23] MichaIng commented on #1873
@Tealk
Hmm, so google.com resolved, before you applied static IP+DNS? Strange. The DNS servers inside fritzbox look fine and it should automatically apply them correctly to DHCP clients.

But if it works now with static IP, okay. It anyway makes sense, if you can control the DHCP server. Be sure that you assign always the same IP to the RPi within fritzbox settings.

You don't need indirect file a

[2018-06-26 21:33] LexiconCode commented on #1871
@MichaIng
Whoops I miss that. I will back up the configuration.

This seems like a straightforward enhancement to dietpi.
For the software that requires a reinstall to update could dietpi backup then restore configurations for `dietpi-software reinstall xxx`?

[2018-06-26 21:38] Tealk commented on #1873
i don't understand why the pc could resolve the domain but RPi just couldn't

[2018-06-27 07:01] userdeveloper98 opened #1876 "Software request: sendmail-bin sendmail"
## Creating a software request:
apt-get install sendmail-bin sendmail.

For fail2ban mail notifications.

#### Give us some formal software information:
- Software title | sendmail-bin sendmail
- Short description | allow fail2ban to notify by email about incidents
- (Official) install documentation | apt-get install sendmail-bin sendmail

#### Are there similar/alternative software titles availab

[2018-06-27 07:40] userdeveloper98 opened #1877 "Implement/assign unique user for each software installation title that requires it"
## Creating a bug report/issue:
Hi there !
I have noticed that most of the apps installed by dietpi scripts are ruining as root user which is not recommended of sure.
I am happy to support migration of all applications to run under non-root user.
I did it already for almost all my software pack but it will be nice if we have this out of the box because most of the users may not be aware of this.
I

[2018-06-27 11:06] MichaIng commented on #1877
@userdeveloper98
Thanks very much for your hint. Old topic, but not unimportant from my point of view, thus good that someone pushes it. Your help in this of course is highly appreciated.

The work should not be too much to directly apply this to more/all affected software titles. The higher effort will be to test those software titles, their internal e.g. update functions etc. Best is to check th

[2018-06-27 11:27] MichaIng commented on #1875
@symbios24
Thanks for your report. Good find and solution 😃!

I was also checking the Nukkit GitHub repo (https://github.com/Nukkit/Nukkit), which leads to this again different source: https://ci.nukkitx.com/job/NukkitX/job/master/lastSuccessfulBuild/artifact/target/nukkit-1.0-SNAPSHOT.jar
- Ah, your link actually redirects to this as well. So I guess we could use the above directly?

Fix for you:

[2018-06-27 12:26] symbios24 commented on #1875
Hi thanks i fix it before my self manual for now by replacing the download link in the dietpi-software script  with the one i suggested and installed nukkit fine,

Another issue is with MineOs upon compiling it ends with Errors and halts the operation,
the web interfase loads ok but i did not test more things like start a server, and i could not send a log from that from my raspberry.can you check

[2018-06-27 13:36] userdeveloper98 commented on #1877
Totally agree.

Yes that was the idea. locally I made it as `gogs:gogs`. For wider changes I was thinking to group more strategically, but this need to be configured individually as you mentioned.

Sure, but with gogs I didn't managed to get rid of this even after extensive playing with gogs configurations :(
It want .gitconfig file in home dir.
A good approach will be to modify working dir from s

[2018-06-27 13:54] Fourdee commented on #1877
@MichaIng

Agree 👍

@userdeveloper98

Commit for gogs to change to its own user, also cleaned up the service: https://github.com/Fourdee/DietPi/commit/e915354689d2c4953a459761d4e496b39d127dce
**EDIT**: Yes it needs a home dir, resolved with latest commit
[code]

---

``` &> /var/log/gogs_daemon.log``` we could probably remove that, leave the info in the service for ```dietpi-services status``` use

[2018-06-27 14:07] Fourdee commented on #1873
@Tealk

My tower can resolve http://raspbian.raspberrypi.org/raspbian

Could be any of the following:
- ```http://raspbian.raspberrypi.org/raspbian``` temporarily offline (common)
- Configuration issue on the router
- incompatibility with RPi
- bug with router (check firmware updates)

As this issue is now resolved, and, we are unable to replicate it our end, i'll mark it as closed. However, pleas

[2018-06-27 14:07] #1873 closed, assigned to nobody

[2018-06-27 14:13] Fourdee commented on #1871
Not a bad idea 👍

I'll add a prompt to ```reinstall``` for a ```dietpi-backup 1```.

[2018-06-27 14:38] Fourdee commented on #1871
```G_BACKUP```
![image](https://user-images.githubusercontent.com/7077026/41981122-113f49dc-7a20-11e8-975b-919cc10a152d.png)

[2018-06-27 14:49] Fourdee commented on #1871
Completed.

[2018-06-27 14:52] Fourdee commented on #1871
Actually, we need to exclude this from patching reinstalls (mid patch backups not recommended), add the prompt prior to ```dietpi-update```
🈯️  https://github.com/Fourdee/DietPi/commit/c41a385c5d8d13ebe904c071fcba82a667adac28

[2018-06-27 15:05] Fourdee commented on #1871
Completed.

[2018-06-27 15:05] #1871 closed, assigned to nobody

[2018-06-27 16:00] LexiconCode commented on #1871
Real quick is that a complete dietpi backup or just the configuration files specific to the software that are restored on top of the new reinstall?

[2018-06-27 16:13] Fourdee commented on #1871
@LexiconCode

Complete backup. Its the only sure way we can ensure all configuration files/settings, pre-reqs etc are backed up, in its current state.

[2018-06-27 16:52] Fourdee commented on #1858
RPi RootFS transfer:
- Hangs on boot, waiting for UUID device. UUID's match.

[2018-06-27 17:11] MichaIng commented on #1696
@dpantel
Sorry for the delay.

Ah this makes it easy, just restore the previous `/etc/lighttpd/lighttpd.conf`:
[code]

This should be it, but please report if you face further issues, it also depends a bid on used update branch, initial version etc.

[2018-06-27 17:34] MichaIng commented on #1877
@Fourdee
Nice, that was quick 😃.

@userdeveloper98
Just to clarify my argumentation:
- For applications it definitely makes sense to use limited user, as long as it is simply not possible without root permissions (SSL bind, ...). Besides the arguments you mentioned, also ext4 reserved blocks are reserved for root user only, if disk is filled, thus a non-essential application running under root use

[2018-06-27 17:58] MichaIng commented on #1875
@symbios24
Okay, this is a separate issue, I just checked our script and official instructions: https://github.com/hexparrot/mineos-node
- Replication test needed. I can do that on x86_64 VM later.

Possible issue:
- Node version, which often is the issue. Official doc expacts Node 8

Further notes:
- We use supervisor for startup. Why not using systemd which is also offered: https://github.com/he

[2018-06-27 18:02] jimbroze opened #1878 "Dietpi command files are empty after reboot"
**Info**
- DietPi version	  | 6.9
- Distro version	  | Stretch
- Kernel version	  | 4.4.77-rockchip-ayafun-136
- SBC device		  | Rock64
- Power supply used | Official Rock64 power supply
- SDcard used		  | SanDisk Ultra 32Gb

**Installed software:**
- Plex
- Samba
- Transmission
- Sickrage
- Couchpotato

- OpenVPN Client (Package installed via apt)

**Additional info**
- External USB3.0 hard drive

[2018-06-27 19:50] Fourdee commented on #1878
@jimbroze

Thanks for the report 👍

I'am 99.9 sure its one of the following, due to a filesystem stability issue:
- Insufficient PSU
- Failing SD card
- Kernel bug/issue with mmc stability.

I've been running a Rock64 as a testing device for some time, and, i've not experienced any filesystem issues.

The only thing I can suggest is to:
- Full format the SD card prior to writing the DietPi image:

[2018-06-27 19:52] Fourdee commented on #1874
Interesting, thanks for the suggestion 👍 . I'll flag this for v6.11 investigation/implementation.

[2018-06-27 20:00] unclehowell opened #1879 "waiting for "valid' internet connection"
https://ibb.co/ndPY9o

Today it just won't connect, says its waiting for a valid internet connection. Internet's fine. Something must have changed your end. Can you help me diagnose this please ?

[2018-06-27 21:26] sorriso93 commented on #1450
Reading the thread I don't understand if it is solved... anyway, same problem here with last diepi version... no error during install and configuration but the openvpn service exit as soon as start

● openvpn.service - OpenVPN service
   Loaded: loaded (/lib/systemd/system/openvpn.service; enabled; vendor preset: enabled)
   Active: active (exited) since Wed 2018-06-27 23:21:02 CEST; 17s ago
  Pro

[2018-06-27 21:48] jimbroze commented on #1878
The power supply is rated to 3A so in theory should be fine.  I have a spare Samsung Evo 64Gb lying about but unfortunately it's a few years old. I can format it and give it a try.
Here is the output from dmesg:

[    0.578017] of_get_named_gpiod_flags: parsed 'gpio' property of node '/sdmmc-                                                                 regulator[0]' - status (0)
[    0.578081]

[2018-06-28 11:38] Fourdee commented on #1878
@jimbroze

Yep, there is some filesystem failures and corruptions, hence the missing files:
[code]

Any power cuts/unexpected loss of power recently?

---

You can try to recover the filesystem, however, it may be quicker and more efficient to simply re-write the DietPi image and start from scratch.

To repair ```/boot```:
- ```umount /dev/mmcblk1p6; fsck.fat -y /dev/mmcblk1p6```
- ```mount -a```

[2018-06-28 12:00] Fourdee commented on #1879
@unclehowell

Thanks for the report 👍

I'am unable to replicate our end. We'll need to debug.

Please mount the SD card using a SD card > USB reader, and set the following in ```/boot/dietpi.txt```
- ```CONFIG_BOOT_WAIT_FOR_NETWORK=1```

Boot the system back up, then run the following commands (paste/picture results please):
[code]

[2018-06-28 12:01] Fourdee commented on #1450
@sorriso93

Thanks for the report 👍
- Which device tested?

---

EDIT: I was testing on buster ARMv8... Stretch is fine.

[2018-06-28 12:27] MichaIng commented on #1869
@Fourdee
Hmm, the issue with the current solution is, that `rsync` is always handled by `dietpi-services` now, even that it is disabled and/or does not really start up because of missing config file.

First of all, the service needs to be disabled/dietpi_controlled, and then I think we need to check for `[[ -f /etc/rsyncd.conf ]]` as well before handling it. This would be at least closest to the d

[2018-06-28 12:50] Fourdee commented on #1450
@sorriso93

- DietPi no longer controls the openvpn service, once installed please reboot the system.
- The following is fine, as the service is launching the openvpn server under another process/thread:
[code]
- Please check openvpn is running in htop ```htop```
![image](https://user-images.githubusercontent.com/7077026/42035156-28122412-7ada-11e8-8eaa-6ea3c42cfc55.png)

[2018-06-28 12:52] Fourdee commented on #1869
@MichaIng

Yep, agree, needs cleaning up 👍

EDIT: Doing it now, will send commit.

[2018-06-28 13:37] Fourdee commented on #1760
Notes:
- Issue still exists with ASUS TB S

[2018-06-28 16:12] MichaIng commented on #1858
@Fourdee
- `mkfs.ext4 /dev/sda` indeed creates file system without partition table. I am wondering what the benefit of a partition table is in this case, as with one partition it works just well? But those drives are now well detected an handled by `dietpi-drive_manager` 👍.
- I found, even that I usually disable RAMlog, /var/log is mounted to RAM again, overmounting existing logs, as `dietpi-ramlo

[2018-06-28 16:43] MichaIng commented on #1860
@tjblair
I can't replicate the issue or any explanation within the code.

It seems you moved your `dietpi_userdata`. Could you the target drive is/was successfully mounted?

- `mkdir: cannot create directory ‘/mnt/dietpi_userdata’: File exists` means that `/mnt/dietpi_userdata` should be a symlink, which is the case, if userdata is moved to another location/drive.
- `mkdir -p /mnt/dietpi_userdata/

[2018-06-28 16:46] MichaIng commented on #1850
@Fourdee
Looks very similar: https://github.com/Fourdee/DietPi/issues/1860
And there is another bug report with MariaDB installation issue.

If it really turns out that all of this is due to insufficient power to keep up the data drive on installations, or manually/accidentally unmounted drives, perhaps we could include some userdata drive availability check into `dietpi-software`?

[2018-06-28 16:55] MichaIng commented on #1821
I will close this issue in favour of the one linked by Fourdee and as he already added the feature 😃.

[2018-06-28 16:55] #1821 closed, assigned to Fourdee, MichaIng

[2018-06-28 17:03] sorriso93 commented on #1450
On raspberry 1 I had pivpn/openvpn running in the last year... starting from last month I have been experiencing the problem, uninstalled and reinstalled, no way same problem... Then I installed it on a raspberry 3 with dietpi last version, same behavior.
The strange thing is that I had mldonkey running on the raspb1 and now it has the same behavior (systemctl status and it is "exited")... Can be

[2018-06-28 17:09] sorriso93 commented on #1450
sudo netstat -tpln for both

Active Internet connections (only servers)
Proto Recv-Q Send-Q Local Address           Foreign Address         State       PID/Program name
tcp        0      0 0.0.0.0:10000           0.0.0.0:*               LISTEN      16945/perl
tcp        0      0 192.168.0.3:53          0.0.0.0:*               LISTEN      18142/named
tcp        0      0 10.8.0.1:53             0.0.

[2018-06-28 17:18] MichaIng opened #1880 "DietPi-Software | MineOS installation breaks on npm"
## Creating a bug report/issue:
- Reference: https://github.com/Fourdee/DietPi/issues/1875#issuecomment-400653407

#### Required Information:
- DietPi version	| `v6.9`
- Distro version	| `Stretch`
- Kernel version	| `4.9.88`
- SBC device		| VirtualBox + reported as well on RPi3: https://github.com/Fourdee/DietPi/issues/1875#issuecomment-400653407

#### Additional Information (if applicable):
- Sof

[2018-06-28 17:19] MichaIng commented on #1875
@symbios24
I opened a new issue about MineOS. Indeed the installation is broken as well: https://github.com/Fourdee/DietPi/issues/1880

I will close this issue, as your initial bug was fixed. Lets move to the other topic to get the 2nd fixes.

[2018-06-28 17:19] #1875 closed, assigned to symbios24

[2018-06-28 19:35] Fourdee commented on #1450
@sorriso93

Appears the process is running fine on RPi 3, I assume this is the device with the issue?

Try connecting an openVPN client to the RPi 3 as per the online doc: http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=613#p613

You should see this from the following command ```cat /run/openvpn/server.status``` on RPi 3
[code]

[2018-06-28 19:48] Fourdee commented on #1858
@MichaIng

Remove the USB drive, reboot, plug in the USB drive, automatically mounts the drive when plugged in. Or at least it should 😃

Yes your right, appears to disable for all devices. I'll take a look.

EDIT: CONFIG_AUTOFS4_FS=y, built into kernel, module will fail?
EDIT2: As far as i'am aware Rock64 was the only SBC with this issue: https://github.com/Fourdee/DietPi/issues/1607#issuecomment-

[2018-06-28 19:54] Fourdee commented on #1858
@MichaIng

Tried this on NanoPC T4, doesn't seem to have any effect (include fstab 1 change), no info of repair in dmesg or logs.

Hmm, had this idea of copying ```/sbin/e2fsck``` to a ramdisk, we can use during boot before rootfs mount, then repair via service, but, not had a chance to try it yet.

[2018-06-28 20:14] MichaIng commented on #1666
@Fourdee
Hmm wanted to add the above, but this doesn't work well on next data update.

I did some research: https://unix.stackexchange.com/questions/3446/shomehow-the-rx-tx-counters-on-the-interface-resets
- Could it have been related to this (x32 OS does not support >4GB data)? Although it seems in this case that only the command outputs are effected and according to the solution script, the file

[2018-06-29 12:24] MichaIng commented on #1858
@Fourdee
Hmm that's sad. Boot cmd line is a bid messy, since it is found very differently on the SBCs:
- x86_64: /etc/default/grub
- RPi: /DietPi/config.txt
- Odroid: /boot/boot.ini
- Sparky: /boot/uEnv.txt
- NanoPi: ?
`tune2fs -C 2 -c 1 /dev/sda1` doesn't work either?
`tune2fs -l /dev/sda1 | grep 'Last checked'` shows old date as well?
I just tested on VM and also can't find any hint about the ch

[2018-06-29 12:51] MichaIng commented on #1858
Generally about formatting:
- Currently `FORMAT_RECREATE_PARTITION_TABLE` is always =1, if I didn't miss something.
- On empty devices (just /dev/sdX exists, no partitions), leads leads to first a partition table is created on `aDRIVE_SOURCE_DEVICE` and afterwards this partition table is overwritten by mkfs on `aDRIVE_MOUNT_SOURCE`, as both variables are the same: `/dev/sdX`
- We have to decide, w

[2018-06-29 14:11] Fourdee commented on #1858
### tune2fs -C 2 -c 1

Odroid C2:
- 🈴 Not viable, only the ```boot.ini``` entry worked (which is default enabled)

---

NanoPC T4:

Appears boot code forces a check on this device. Unsure if its repairing?
I'll need to test another system.
[code]

---

Interesting ```Lifetime writes``` looks useful, but only works since last formatted (as far as I can tell, not total lifetime)
My Odroid C2:
[code]

[2018-06-29 14:18] jimbroze commented on #1878
I'll try formatting the SD card, starting fresh and running for a while. As far as I know there haven't been any power loss. Just out of curiosity, does the reset button on a Rock64 perform a graceful reboot or does it essentially cut power?

[2018-06-29 14:46] Fourdee commented on #1866
Thanks Joel 👍

~Unable to test, dev membership expired ☹️~
![image](https://user-images.githubusercontent.com/7077026/42098719-9905c820-7bb3-11e8-884a-e74947550716.png)

[2018-06-29 15:57] Fourdee commented on #1866
🈯️ Works a charm

@JanKoudijs Thank for adding this software into DietPi, we really appreciate your contribution!

As a small thank you, please email me daniel.knight@dietpi.com with your address, i'll send you some DietPi stickers.

Online doc: https://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=13160#p13160

![image](https://user-images.githubusercontent.com/7077026/42101864-56e9a390-7bbc-11e8-8d88

[2018-06-29 16:05] Fourdee commented on #1866
Completed, available in v6.10 update.

[2018-06-29 16:05] #1866 closed, assigned to Fourdee

[2018-06-29 16:09] Fourdee commented on #1878
@jimbroze

I'd imagine its a hard reset. Avoid using it during operation.

[2018-06-29 16:14] Fourdee commented on #1666
@MichaIng

Possible 👍

unsigned long int (32bit) = 4,294,967,295 max
unsigned long long int (64bit) = +18,446,744,073,709,551,615 max

Although on a 32bit machine (with C++ standards), 2x long int's are used to make up the 64bit long long int
https://stackoverflow.com/questions/330374/long-long-implementation-in-32-bit-machine

#### @MichaIng You are right 👍 🥇

ARMv7:
[code]

ARMv8:
[code]

Yep ag

[2018-06-29 16:35] Fourdee commented on #1850
@MichaIng

And there is another bug report with MariaDB installation issue.
If it really turns out that all of this is due to insufficient power to keep up the data drive on installations, or manually/accidentally unmounted drives,

Yep, appears power/unplugged related. And/or, userdata not moved prior to install with unplugging drive.

```G_CHECK_USERDATA```? Checks ```/mnt/dietpi_userdata``` dir

[2018-06-29 17:14] Fourdee commented on #1850
[code]

I'll add this to dietpi
- software start install
- update
- backup
- sync

[2018-06-29 17:47] Fourdee commented on #1850
@MichaIng

G_CHECK_USERDATA: https://github.com/Fourdee/DietPi/commit/e70e3696ec6b2df15027320badad1c2769f0ff4c

Added, only checks symlink + external drive it mounted, we can always add to it if needed (eg: verify file can be written etc)?

[2018-06-29 18:14] JanKoudijs commented on #1866
Thanks @Fourdee Dan!

Now that went quick, just a week ago I downloaded the virtualbox image of DietPi to find out how a software package can be added, and now the Roon Extension Manager is ready for inclusion in v6.10 :+1:

Proofs to me how well DietPi is set up!

DietPi is the first distribution / device that has the Extension Manager as an integrated part. Roon users that already use it for run

[2018-06-29 19:29] Fourdee commented on #1860
Marking as closed in favor of: https://github.com/Fourdee/DietPi/issues/1850#issuecomment-401426132

[2018-06-29 19:29] #1860 closed, assigned to nobody

[2018-06-29 19:30] Fourdee commented on #1850
Marking as closed in favor of v6.10 added prevention: https://github.com/Fourdee/DietPi/issues/1850#issuecomment-401426132

[2018-06-29 19:32] Fourdee commented on #1878
@jimbroze

I'll mark as closed as I believe this a hardware related issue (we are unable to replicate). Please reopen if required, and feel free to leave additional posts.

[2018-06-29 19:32] #1878 closed, assigned to Fourdee

[2018-06-29 19:32] Fourdee commented on #1879
@unclehowell

Marking as closed, I believe this is a temp issue with networking (local and/or remote), however, please reopen if required.

[2018-06-29 19:32] #1879 closed, assigned to nobody

[2018-06-29 19:40] Fourdee commented on #1864
@MichaIng

I tried codacy for a while, but didn't like it if i'am honest. No errors found, but its mostly "minor recommends" which do not suit our project coding style. eg:

[code]

Couldn't find a way to change the detection options either, so removed it.

[2018-06-29 19:41] #1831 closed, assigned to nobody

[2018-06-29 19:43] Fourdee commented on #1829
Completed (for now), GPU support will come at a later date (hopefully).

[2018-06-29 19:44] Fourdee commented on #1861
Marking as closed due to: https://github.com/Fourdee/DietPi/issues/1861#issuecomment-399789460, please reopen if required.

[2018-06-29 19:44] #1861 closed, assigned to Fourdee

[2018-06-29 19:44] Fourdee commented on #1450
Marking as closed, unable to replicate in our testing: https://github.com/Fourdee/DietPi/issues/1450#issuecomment-401148565

Please reopen if required.

[2018-06-29 19:44] #1450 closed, assigned to Fourdee

[2018-06-29 19:49] Fourdee commented on #1410
Was added in v6.8 https://github.com/Fourdee/DietPi/issues/1707#issue-314377609

[2018-06-29 19:52] Fourdee commented on #1854
#### I'll mark this as closed for the following reasons:
- 32bit x86 is being phased out, most PC's in the last 8+ years will have 64bit support.
- The sheer workload required to add support for 32bit x86, would take weeks/months of coding and testing. Time we could spend on better improving DietPi in more critical areas.

#### In short: We are not planning to provide a 32bit x86 Native PC image,

[2018-06-29 19:52] #1854 closed, assigned to nobody

[2018-06-29 19:56] Fourdee commented on #1769
Marking as closed as we have been unable to assist in this case. Is a 2 year old custom script not maintained by us, outside of DietPi scripts/code.

[2018-06-29 19:56] #1769 closed, assigned to Fourdee

[2018-06-29 19:59] Fourdee commented on #1550
Marking as closed.

We will not support a device which lacks a good standard build quality, and, basic level of software support from the manufacture.

As an alternative to OPi, we highly recommend NanoPi devices.

[2018-06-29 19:59] #1550 closed, assigned to Fourdee

[2018-06-29 20:01] Fourdee commented on #1369
Marking as closed due to issue no longer being reported.

[2018-06-29 20:01] #1369 closed, assigned to Fourdee

[2018-06-29 20:02] Fourdee commented on #1080
Note to self, 2 install count on survey. Flag for removal?

[2018-06-29 20:03] Fourdee commented on #805
Marking as closed, as per: https://github.com/Fourdee/DietPi/issues/1854#issuecomment-401457209

[2018-06-29 20:03] #805 closed, assigned to nobody

[2018-06-29 20:08] Fourdee commented on #896
Currently, following has been implemented:
- Use of, and support for ```dietpi``` user on SSH/local terminal login and usage

Pending:
- Desktops/VNC as ```dietpi``` user?
- Implement unique users for each software installation title that requires it (different ticket: https://github.com/Fourdee/DietPi/issues/1877)

[2018-06-29 21:35] origamins commented on #1452
Hi All,
Didn't work for me either SanDisk 16GB SDHC UHS-1, I had to resize on Linux box.
Everything else works fine...

[2018-06-29 21:38] Fourdee commented on #1452
@olluz @origamins

Thanks for the reports 👍
We'll verify the image.

Notes:
- 2018-05-08 17:23

[2018-06-29 23:15] MichaIng commented on #1864
@Fourdee
Looks like now this is possible:
- https://support.codacy.com/hc/en-us/articles/207994335-Code-Patterns
- https://support.codacy.com/hc/en-us/articles/208241349-Default-Patterns

[2018-06-29 23:56] MichaIng commented on #1858
@Fourdee

- Jep, seems to be related/reset on format/fs creation. Nearly same writes here 😄:
[code]
___________________
Did you check for `/run/initramfs/fsck-root` existence after reboot? As said this initramfs check doesn't show up on any log.
[code]
If this file doesn't exist, `systemd-fsck-root` should definitely kick in. It's a normal static unit that runs `Before=local-fs.target` and exist o

[2018-06-30 09:59] pruperting commented on #1858
Just adding a note to say I experienced the same originally reported issue yesterday with an ODROID HC2 with the most recent download available on the website. I reported this in the forum via a post already about this (https://dietpi.com/phpbb/viewtopic.php?f=11&t=3908) but only found this bug report today.

I'm happy to help test fixes to sort this, but will need to read through this full post f

[2018-06-30 12:40] MichaIng commented on #1666
@Fourdee
Hmm, okay, but if we now identified the issue, which should be present on RPi's as well, then we should work around for all `(( G_HW_ARCH < 3 ))`?
- Is the `4248714927` just frozen? This would be even worse then just reverted to `0`.
- And do `cat /proc/net/dev` + `ip -s l show eth0` have the same issue?

[2018-06-30 14:48] Fourdee commented on #1858
@MichaIng

https://github.com/Fourdee/DietPi/commit/f91bf4b44856d37ecb4dd6f6ddcbcaea835d8e0e
A few more fstab scrapes than i'd like, but this was the fastest and most efficient way to resolve RAMLOG ignored and /tmp issues.

[2018-06-30 15:05] Fourdee commented on #1666
@MichaIng

Yep, all get reset, when they reach the 32bit int limit (4.4~GB)
[code]

Its tricky, as we have no way of knowing when the value is reset, we need to know this is we are to create our own total variable. And, we'd have to background monitor the whole thing for any changes every X seconds.

I suppose we could do?
[code]

[2018-06-30 15:06] Fourdee commented on #1666
And, be nice to have network sent/receive stats in dietpi-config?
![image](https://user-images.githubusercontent.com/7077026/42126669-253a2546-7c83-11e8-8a19-bbe136c0970b.png)

[2018-06-30 15:56] Fourdee commented on #1223
@moodeaudio

Hi Tim,

Firstly, i'd like to apologise for the way I've handled this ticket, letting it continue for so long, without any progress.

#### The reasons for this are:
- I've left this ticket open, because I really wanted to make this happen. I love the Moode project and what you have achieved, however,
- Some time ago, I seen a install script for Raspbian which you endorsed. This really

[2018-06-30 16:04] Fourdee commented on #1223
Marking as closed due to: https://github.com/Fourdee/DietPi/issues/1223#issuecomment-401549371

[2018-06-30 16:04] #1223 closed, assigned to Fourdee

[2018-06-30 16:07] Fourdee commented on #1696
Waiting for user reply = Waiting for Pi-Hole next release 😃

[2018-06-30 16:10] Fourdee commented on #1816
@MichaIng

Great work on this 👍 No errors in my testing.

I believe we can mark as closed?

[2018-06-30 21:14] dpantel commented on #1696
@MichaIng
Sorry, I missed your reply.  I have already saved the pihole config and reinstall pihole with dietpi.

@Fourdee
exactly :)

[2018-07-01 10:01] symbios24 commented on #1835
if i knew how to i would send you everything will pull requests,

At least you can put the easy one`s

Short instructions

Wesnoth (apt-get install Wesnoth)

Boswars (apt-get install boswars)

Widelands (apt-get install widelands)

simutrans (apt-get install simutrans)

Openarena (apt-get install openarena libjpeg8)

wget http://www.berryterminal.com/dl/ioquake3_99.1.36-rpi01_armhf.deb
sudo dpkg -

[2018-07-01 13:13] Hax4us opened #1882 "How to connect to WiFi while installation"
I have no Ethernet cable so I can't plug but I have hotspot but i don't know how to connect my Asus tinker board to WiFi while installing dietpi

[2018-07-01 13:22] Hax4us commented on #1882
Got it

[2018-07-01 13:22] #1882 closed, assigned to nobody

[2018-07-01 14:06] Hax4us opened #1883 "How to change screen resolution in tinker board"
I installed xfce4 desktop and after reboot it is working but with a problem of resolution
 So icons and everything on GUI are displayed incorrect ratio, and rotated.

[2018-07-01 22:10] sorriso93 commented on #1450
root@DP-HOMEBRIDGE:~# cat /run/openvpn/server.status
cat: /run/openvpn/server.status: No such file or directory
root@DP-HOMEBRIDGE:~# systemctl status openvpn
● openvpn.service - OpenVPN service
   Loaded: loaded (/lib/systemd/system/openvpn.service; enabled; vendor preset: enabled)
   Active: active (exited) since Sat 2018-06-30 01:17:03 CEST; 1 day 22h ago
  Process: 495 ExecStart=/bin/true (cod

[2018-07-01 23:29] MichaIng commented on #1223
@Fourdee
To be fair, 0 installs is due to moode was disabled/not listed within dietpi-software in v6.9, thus no chance to get install counts 😉: https://github.com/Fourdee/DietPi/blob/master/dietpi/dietpi-software#L1067

But I agree: Same as with NextCloudPlus and Pi-hole, if upstream installation methods are too intrusive, it is a pain for us to integrate it into DietPi.

[2018-07-01 23:54] MichaIng commented on #1666
@Fourdee
Hmm, logically it should be reset exactly at `4294967296` bytes. We could check for x32 OS and new < old and then add `4294967296` to new value something like that:
[code]

But depending on how long the last check was ago, resets could have been missed.

I think as long as there is no other (non net-tools) tool/command to get the real non-reset net stats, there is no failure safe method t

[2018-07-02 00:00] MichaIng commented on #1816
@Fourdee
Jep, although I am still thinking that reverting config.txt gpu_mem to gpu_mem_XXX should be done. It is also failsafe in case user did manual add one of those. But I sleep now, will do this tomorrow.

**€: Done https://github.com/Fourdee/DietPi/pull/1885** I will mark as closed

[2018-07-02 11:39] #1816 closed, assigned to MichaIng

[2018-07-02 12:54] MichaIng commented on #1858
Move RootFS on x86_64: https://unix.stackexchange.com/questions/5297/debian-grub2-moving-root-partition-to-new-drive
- Needs testing => v6.11

[2018-07-02 13:06] LexiconCode commented on #1880
@MichaIng Reach out to the author `hexparrot` Will Dizon on the [MineOS Forums](https://discourse.codeemo.com/). He is very approachable and will tweak the source code of MineOS if needed.

[2018-07-02 13:33] Hax4us opened #1886 "[dupe] Can't connect to WiFi in Tinker board"
Yesterday I installed diepi then manually connect to my WiFi and everything was OK
But today I can't connect to my WiFi through dietpi-config it is showing like this after entering __ssid__ and __key__
[code]

[2018-07-02 14:13] Hax4us commented on #1886
OK so here is solution but this solution is temporary
1.Disable Wireless Adapter Through dietpi-config
2. Then reboot
3. Then reenable wireless adapter and scan for WiFi then enter credentials and connect

I tried different solutions
First I tried reboot ( not solved
Second I tried reboot then disable wireless adapter and reenable wireless adapter then connect to WiFi :( not solved
Third I tried a

[2018-07-02 14:56] Fourdee commented on #368
Note to self:
- Does wpa_supplicant.conf support multiple SSID entries and auto connect?

[2018-07-02 16:26] symbios24 commented on #1880
Thanks

[2018-07-02 18:02] Fourdee commented on #1666
@MichaIng

Yep agree, and requires a background process 👍
Its not worth the implementation currently I believe.

Lets mark this as completed, with the 32bit int limitation being a known arch issue.

Great work on this by the way 👍

[2018-07-02 18:02] #1666 closed, assigned to MichaIng

[2018-07-02 20:27] Fourdee commented on #1827
@MichaIng

Is this right, I have no idea how you are going to convert this into the HTML side (I may lack some knowledge here hehe)?
[code]

---

This is how I would of done it, unsure if it helps:
- Simply load the file
[code]
- Then you have everything loaded into bash, and can for loop into HTML code?
[code]

[2018-07-02 20:46] Fourdee commented on #1886
@Hax4us

Hi, thanks for the report 👍

We are aware of this issue, losing WiFi functionality after reboot: https://github.com/Fourdee/DietPi/issues/1760

We are unsure why this is occurring, pointing towards kernel. We will look at it again in v6.11, once v6.10 is released today.

I'll mark this as closed in preference of this ticket: https://github.com/Fourdee/DietPi/issues/1760 Please continue di

[2018-07-02 20:46] #1886 closed, assigned to nobody

[2018-07-02 21:21] MichaIng commented on #1827
@Fourdee
Will do testing now, handling is already partly added to survey-report script. As you check the current survey script, the loops already contain those array number increases of type: `((aSURVEY_VERSION[6]++))`
When sourcing the file, this is not done automatically to the right array. Values look correct. Translation of arrays to html file does not change, as the arrays are the same that a

[2018-07-02 23:47] Fourdee commented on #1858
Note to self:
I still need to do work on this:
- Disallow userdata/swap if drive is RO
- Disallow RO if userdata/swap

etc.

Menu_Drive_Manager_Edit_Drive getting messy, near impossible to control cat/shown options, rewrite?
- eg:
[code]
Then calculate?

[2018-07-03 11:22] MichaIng commented on #1850
@Fourdee
Next report that looks similar: https://dietpi.com/phpbb/viewtopic.php?f=11&t=4163

@magelan80 @tjblair
Might it be the case that you use external USB drives without own power supply and did not enable "Max USB current within "dietpi-config > Advanced Options"?

As we count not replicate on several attempts, I am out of ideas what could be an issue from DietPi code side and also the APT p

[2018-07-03 12:54] brianlinuxing commented on #1829
Fantastic!

[2018-07-03 14:48] Fourdee commented on #1850
@MichaIng

This is enabled by default, 1.2A max I believe on all devices:
https://github.com/Fourdee/DietPi/blob/master/config.txt#L54

So 2x 700mAh drives will exceed that value.

[2018-07-03 15:57] Fourdee commented on #1858
Ok as it stands, this is completed.

Minor issue with: https://github.com/Fourdee/DietPi/issues/1858#issuecomment-401970424, however, does not affect functionality, only code layout. If it bugs me enough, and I get time, i'll tweak it post v6.10 release.

Marking as closed.

[2018-07-03 15:57] #1858 closed, assigned to Fourdee

[2018-07-03 17:35] butterbrot21 commented on #1858
sounds great!
You guys are doing a great job!!!
i'm really looking forward to the update/image :))

[2018-07-03 19:25] Fourdee opened #1891 "v6.10 - Post release issues"
- SSH | https://twitter.com/li0nic/status/1014227903888936962 |  due to colour index changes?
- Allo GUI | https://community.roonlabs.com/t/roon-extension-manager-now-included-in-dietpi-v6-10/45514/7?u=dan_knight | GUI does not wait for completion of bash command (```dietpi-update```), before prompting reboot (php code issue)

[2018-07-03 19:31] MichaIng commented on #1891
Hum, yeah seems to be. Looks like terminals handle color codes all different. Test would be in this case if echo -e '\e[90mTest\e[0mTest' actually shows different colours, thus \e[90m != \e[1;30m is handled differently on that terminal, or if gray itself is a problematic color on some terminals/screens.

[2018-07-03 19:35] Fourdee commented on #1891
@MichaIng

Yep, its definitely a terminal emulator limitation.

Test:
[code]

[2018-07-03 20:23] MichaIng commented on #1891
@Fourdee
Hmm, 90m is not understood by many terminals and 1;30m is too dark on some terminals (90m would have been too, if understood?). Maybe we find a colour code in between, that is understood by all, maybe via something like \e[50;50;50m as RGB code? At least that scheme is understood by VirtualBox terminals, as we use this for banner separation lines.

After soccer match is finished, I will p

[2018-07-03 22:22] MichaIng commented on #1891
@SuBLiNeR @ghost
Hmm, both users deleted 🤔.

Whatever, first the different obvious grey possibilities:
- This was the reason for changing the colour code:
![test](https://user-images.githubusercontent.com/28480705/42246244-2c984430-7f1c-11e8-8c70-0f2565503437.png)
  - `\e[90m` = `\e[1;30m` on PuTTY and `\e[90m` has no effect on Jessie VM (VirtualBox) terminal, same for all above `90`.
  - "dimmed"

[2018-07-03 22:49] burgyman opened #1892 "Can't upgrade to latest kernel on Rock64"
Hi,

Tried everything to upgrade kernel on Rock64, specially instructions from Ayufan according to
https://github.com/ayufan-rock64/linux-build/releases/tag/0.6.44

CODE:
sudo apt-get update -y
sudo apt-get install linux-rock64 -y

But I'm stuck on original kernel (4.4.77-rockchip-ayufan-136)

Thread in forum https://dietpi.com/phpbb/viewtopic.php?t=3879
so reporting it here as well, hope you can

[2018-07-04 11:10] MichaIng commented on #1892
@burgyman
Thanks for opening the ticket here on GitHub. Better to handle here than in the forum 👍.

First of all let's check the repo(s):
`ls -l /etc/apt/sources.list.d`
Then the content(s):
`cat /etc/apt/sources.list.d/*`
Then let's check, which kernel packages are available:
`apt search linux-image`

DietPi by default installs/keeps `linux-rock64-package`, so let's check details about this, as w

[2018-07-04 13:10] Fourdee commented on #1891
@MichaIng

Yep, lets revert the change for now as our current support level is Stretch. We'll do a hotfix in the next day or two.

[2018-07-04 14:02] Fourdee commented on #1891
Allo GUI:
- Update images with the latest changes to update system.

[2018-07-04 14:15] burgyman commented on #1892
Thanks for the quick response, please see below:

[code]

[code]

[code]

[code]

[code]

[2018-07-04 14:25] Fourdee commented on #1892
@burgyman

Thanks 👍

4.4.77-rockchip-ayufan-136 appears to be the latest available version contained within that repo (for ```.77-```):
[code]

Outside of that, a new package is required:
[code]

---

#### Try the following:
[code]

If that does nothing, manually remove the old package and install the new one
[code]

[2018-07-04 14:48] Fourdee commented on #1891
@MichaIng

I use the following for reference colour codes:
https://misc.flogisoft.com/bash/tip_colors_and_formatting

[2018-07-04 15:06] Fourdee commented on #1891
![image](https://user-images.githubusercontent.com/7077026/42284345-2d1a7008-7fa4-11e8-9e35-04c787a3ef62.png)

[2018-07-04 16:04] burgyman commented on #1892
apt-get dist-upgrade didn't do anything (tried that before):
[code]

Still no change:
[code]

[code]

[2018-07-04 17:00] Fourdee commented on #1892
@burgyman

Apologies, have to ask, did you reboot system after installing the kernel?

[2018-07-04 17:01] mgherghi opened #1893 "Samba sharing issue"
Hi all, im having the toughest time mounting my samba share that originates from my merlin modded Asus Ac68U (routers address is 192.168.1.1). My PC finds the shares fine, and without any issue. But once i attempt the same mount in the Pi it fails. I am currently on v6.10 and I am using the drive-manager to add a network drive, but I keep getting this error :

│ DietPi-Drive_Manager: mount -t cifs

[2018-07-04 17:07] mfeif opened #1894 "Upgraded to 6.10, now cannot see ALLO Piano 2.1 card on Sparky"
I updated dietpi to 6.10 via the dietpi-upgrade script. There were no errors (that I could see).

Now my allo piano 2.1 card isn't present in the devices available to the kernel:

[code]

#### Required Information:
- DietPi version	| 6.10
- Distro version	| 9.4
- Kernel version	| #22 SMP PREEMPT Fri Dec 22 10:45:41 IST 2017
- SBC device		| Sparky SBC (armv7l)
- Power supply used	| Allo supplied 5V

[2018-07-04 17:09] Fourdee commented on #1891
Hotfix release ETA tomorrow.

[2018-07-04 17:09] mfeif commented on #1894
Note, I'm presuming that this affects other kinds of configuration as well: cpu governor, framebuffer settings, etc...

[2018-07-04 17:11] Fourdee commented on #1893
@mgherghi

Thanks for the report 👍

Does the username/password contain any strange characters (eg: ```$\/:;[]#``` and spaces)?

[2018-07-04 17:12] mgherghi commented on #1893
no its just letters and numbers

[2018-07-04 17:21] Fourdee commented on #1893
@mgherghi

Strange, mounts fine here for Windows share.

Try the following, notice the ```"``` in between the user/password:
[code]

[2018-07-04 17:33] Fourdee commented on #1893
Note to self, ```fstab``` does not support user/password entries contained within either ```"``` or ```'```
[code]

[2018-07-04 17:34] mgherghi commented on #1893
im getting this error :
mount: can't find /mnt/samba in /etc/fstab

[2018-07-04 17:38] Fourdee commented on #1893
@mgherghi

Very strange, fstab entry is not required for manual mounting. You received this error, running these commands?
https://github.com/Fourdee/DietPi/issues/1893#issuecomment-402530163

[2018-07-04 17:40] mgherghi commented on #1893
Yes

[2018-07-04 17:42] Fourdee commented on #1893
@mgherghi

Please send us a bug report. We'd like to verify fstab and additional settings.
[code]

Once completed, reply with the reference code and I will take a look.

[2018-07-04 17:44] mgherghi commented on #1893
Reference:
b68fb98c-a6b7-4f41-acf5-b2f86b2eaae0

[2018-07-04 17:44] burgyman commented on #1892
Yes, result above is after reboot :)

[2018-07-04 17:56] hellfirehd opened #1896 "DietPi-Software | Sonarr dies when web interface is accessed"
#### Required Information:
- DietPi version: 6.10
- Distro version	: stretch
- Kernel version: `#1 SMP PREEMPT Thu Apr 5 12:46:33 UTC 2018`
- SBC device: Odroid XU3/XU4/HC1/HC2 (armv7l)
- Power supply used: 12V 1.5A
- SDcard used: Transcend Premium 32GB
- Hard Drive: Seagate Momentus 5400.6 ST9500325AS

#### Additional Information (if applicable):
- Software title: Sonarr
- Fresh install using die

[2018-07-04 18:03] DaCodaHUB opened #1897 "Just a question about 6.10"
I couldn’t find it in the release note but does 6.10 include the file system expansion option in diet-drive_manager?

[2018-07-04 18:07] Fourdee commented on #1897
@DaCodaHUB

Apologies, missed that entry in changelog. Yes it does.
![image](https://user-images.githubusercontent.com/7077026/42290498-87483b5a-7fbd-11e8-908d-bd13f502f171.png)

I'll mark this as answered. Please reopen if required.

[2018-07-04 18:07] #1897 closed, assigned to nobody

[2018-07-04 18:10] Fourdee commented on #1894
@mfeif

Thanks for the report 👍 I'll take a look at this tomorrow.

We have a hotfix due for tomorrow aswell, we should be able to get this resolved by then.

REF: https://github.com/Fourdee/DietPi/issues/1891

[2018-07-04 18:11] Fourdee commented on #1894
REF: https://github.com/Fourdee/DietPi/pull/1863#issuecomment-402528301

[2018-07-04 18:16] Fourdee commented on #1894
@mfeif

I'll check your system configuration + logs tomorrow aswell.
Please send us a bug report, and reply with the reference code:
[code]

[2018-07-04 18:22] MichaIng commented on #1892
Interesting:
`linux-rock64` depends as meta package on the current `linux-image-4.4.126-rockchip-ayufan-239`  and interestingly as well on `linux-rock64-package`, which is the only package we actively install/mark as manual on DietPi-PREP. Since `linux-image-4.4.126-rockchip-ayufan-239` should be the kernel itself, I am thinking what `linux-rock64-package` actually contains. Perhaps some firmware/

[2018-07-04 18:28] hellfirehd commented on #1896
Just installed DietPi 6.10 on a 2nd ODroid HC2 with a new (Samsung) SD card.  Let it do all the updates then installed Sonarr.  Same crash happens.

I can setup remote access to the HC2 if desired.

[2018-07-04 18:37] burgyman commented on #1892
[code]

After reboot same thing
[code]

[2018-07-04 18:44] mfeif commented on #1894
Sure thing: 94df705b-f681-420c-b01b-3217e7eeb3db

After lots of tinkering, I've been able to manually get my soundcard working again.

I hope my bugreport data isn't too noisy; I have removed or disabled lots of the stock stuff and added a couple of things that are probably not supported (I'm pretty familiar with Debian, so went to apt to turn off stuff I'll never use).

[2018-07-04 19:51] hellfirehd commented on #1896
Might be a mono issue as I am experiencing the same failure with Radarr.

[2018-07-04 19:52] MichaIng commented on #1894
@mfeif @Fourdee
Hmm, rechecking the code, I can't find any need of `config.txt` existence for Sparky SBC settings.

Here the code that should apply allo-piano-dac: https://github.com/Fourdee/DietPi/blob/master/dietpi/func/dietpi-set_hardware#L1905-L1921

All the CPU governor related settings should not depend on config.txt at all, even not on RPi: https://github.com/Fourdee/DietPi/blob/master/diet

[2018-07-04 20:16] MichaIng commented on #1896
@hellfirehd
Thanks for your report!

Interesting, we just tested it when tweaking the startup options within the systemd unit a bid: https://github.com/Fourdee/DietPi/pull/1889

Worked well there and the options changed doesn't seem to be the reason, since you tried it as root without these as well.
Thus it most likely is a Odroid and/or Jessie related issue. I will mark for investigation.

**€: J

[2018-07-04 20:57] MichaIng commented on #1892
@burgyman
Okay, so:
- Their own docs do not work: https://github.com/ayufan-rock64/linux-build/blob/master/recipes/kernel-upgrade.md
- APT purge old kernel does not really remove the old kernel, as `/lib/modules/4.4.77-rockchip-ayufan-136` still exists and is as well still loaded instead of the newer one. Or is the folder (moreless) empty?
`G_TREESIZE /lib/modules`

The question is which version /

[2018-07-04 21:07] burgyman commented on #1892
[code]

[code]

After reboot:
[code]

[2018-07-04 21:15] MichaIng commented on #1892
@burgyman
Thanks so much for your fast replies 😃. So the old folder is actually empty and `update-initramfs: Generating /boot/initrd.img-4.4.126-rockchip-ayufan-239` looks like installation was complete.

Does /boot still contain the old initramfs file(s)?
`ls -l /boot`
**€: Okay, it definitely should not:**
[code]
`rm -R /lib/modules/4.4.77-rockchip-ayufan-136` should be definitely safe then and

[2018-07-04 21:27] burgyman commented on #1892
@MichaIng thanks for your support!

[code]

[2018-07-04 22:49] hellfirehd commented on #1896
Just tested Sonarr on my RPi 2 Model B (armv7l) and it is working well there.  Sadly I don't have USB Drive for it so it's not temporary solution for me.

[2018-07-04 23:30] mgherghi commented on #1893
what should I do?

[2018-07-04 23:57] MichaIng commented on #1892
@burgyman
`cat /boot/efi/extlinux/extlinux.conf`
And as advised in the other issue, please try:
[code]
The tool should (be used to) place kernel files into `/boot/efi/{Image,initrd.img,dtb}`
I hope `flash-kernel` command somehow explains itself `flash-kernel --help` might otherwise. Can't test it on VM, since it is just available for ARM architecture. That should move the kernel files into the rig

[2018-07-05 07:06] burgyman commented on #1892
[code]

Same after reboot
[code]

Flash kernel help
[code]

[2018-07-05 07:31] johbar commented on #1285
As far as I see pure 32 bit architectures (i686) are not supported. Why? Is there a workaround available? (I hope that's the right place for this kind of question.)

[2018-07-05 11:40] MichaIng commented on #1285
@johbar
Please read: https://github.com/Fourdee/DietPi/issues/1854#issuecomment-401457209

We would need to find install options for x32 for all our offered software titles, implement and test them. It's just a too huge rework for our limited man power, although I understand that especially for very old x32 machines in particular a very lightweight OS is interesting.

[2018-07-05 11:51] MichaIng commented on #1892
@burgyman
Okay, reason might be that the new kernel is not installed to the efi partition, even that Rock64 (/boot/efi exists) uses efi? But sorry I can't help further from here on. Someone with own Rock64 to replicate/investigate is needed, I hope @Fourdee finds time, also to just verify that Rock64 uses efi, there stays the old kernel inside efi dir etc. knowing the exact pre-image we use etc.

[2018-07-05 14:00] Fourdee commented on #1894
Appears this is not being applied
https://github.com/Fourdee/DietPi/blob/master/dietpi/func/dietpi-set_hardware#L1916

As yes, confirmed bug.

[2018-07-05 14:48] Fourdee commented on #1894
@mfeif

Many thanks for sending the bug report 👍

This is resolved for v6.11, which is slated for release today.

[2018-07-05 14:48] #1894 closed, assigned to Fourdee

[2018-07-05 14:53] Fourdee commented on #1850
@MichaIng

Yep, I agree. I believe this is a hardware related issue, outside of our support.

As no response from user, and due to the above, I'll mark this as closed.

[2018-07-05 14:53] #1850 closed, assigned to nobody

[2018-07-05 15:12] Fourdee commented on #1891
Both issues are now resolved. Marking as completed.

Hotfix v6.11 will be released later today.

[2018-07-05 15:12] #1891 closed, assigned to Fourdee, MichaIng

[2018-07-05 15:21] Fourdee commented on #1893
@mgherghi

Thanks for sending the bug report 👍

I've found the following, the samba server may not support version 2/3 of SMB:
[code]

Please try mounting the drive, using SMB1.0:
[code]

[2018-07-05 15:45] Fourdee commented on #1896
#### BR Notes:

XFS
[code]

Userdata located on RootFS:
[code]

Service:
[code]

Mono ver:
[code]

[2018-07-05 15:56] Fourdee commented on #1896
#### Tests:
- XU4 | need to setup a test system.
- 🈯️ C2
- 🈯️ ASUS TB

[code]

[2018-07-05 15:59] Fourdee commented on #1896
@hellfirehd

I need to setup a XU4/HC1 for testing, however, C2 and ASUS TB appear fine. In the mean time please try reinstalling Sonarr:
[code]

[2018-07-05 16:04] Fourdee commented on #1892
@MichaIng @burgyman

I'll take a look when I can, leave it with me.

[2018-07-05 16:18] MichaIng opened #1898 "DietPi-Drive_Manager | NFS mounting issue"
## Creating a bug report/issue:
Reference: https://dietpi.com/phpbb/viewtopic.php?f=9&t=4169&start=10#p13378

#### Required Information:
- DietPi version	| `6.10`
- Distro version	| `Stretch`
- SBC device		| `RPi2`

#### Additional Information (if applicable):
- Software title	| NFS mount

#### Expected behaviour:

- NFS drive should mount

#### Actual behaviour:

[code]

#### Extra details:

- Pr

[2018-07-05 16:20] MichaIng commented on #1898
@Fourdee
Maybe we can as well spawn some hint on update, that network drive options have been moved from `dietpi-config` to `dietpi-drive_manager` 🙂.

[2018-07-05 16:31] Fourdee commented on #1898
Yep 👍

Same here.

```auto``` works, unsure if it changes anything, or has any effect.
[code]

[2018-07-05 16:33] Fourdee commented on #1898
Hmm

The NFS protocol version number used to contact the server's NFS service. If the server does not support the requested version, the mount request fails. If this option is not specified, the client negotiates a suitable version with the server, trying version 4 first, version 3 second, and version 2 last.

https://linux.die.net/man/5/nfs

[2018-07-05 16:35] MichaIng commented on #1898
@Fourdee
`The fstype field contains "nfs". Use of the "nfs4" fstype in /etc/fstab is deprecated.` So this we should change at least.

Also can't find `_netdev` option on Debian man page: https://manpages.debian.org/stretch/manpages-de/nfs.5.de.html

[2018-07-05 16:51] avraham commented on #1896
Hi,
I experience the same behavior on my Odroid HC1, it doesn't happen all the time though.
I'm running DietPi v6.6

`[FAILED] DietPi-Services | sonarr	failed (Result: signal) since Thu 2018-07-05 09:36:59 PDT; 29s ago
● sonarr.service - Sonarr (NzbDrone) Daemon
   Loaded: loaded (/etc/systemd/system/sonarr.service; enabled)
   Active: failed (Result: signal) since Thu 2018-07-05 09:36:59 PDT; 29s

[2018-07-05 17:02] Fourdee commented on #1898
@MichaIng

Done, passed testing.

[2018-07-05 17:11] Fourdee commented on #1896
@avraham

Thanks for the report 👍

This is moving closer and closer to a Mono library/Sonarr code specific issue.

[2018-07-05 17:50] MichaIng commented on #1891
@Fourdee
Your link btw. also contains terminal compatibilities, e.g.:

Terminal | Bold | Dim | Underlined | Blink | invert | Hidden | 8 | 16 | 88 | 256 | Comment
-- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | --
Linux TTY | ok | - | - | - | ok | - | ok | ~ | - | - | Specials colors instead of Dim and Underlined. Lighter background instead of Blink, Bug with 88/256 colors.

`echo $TERM` ==>

[2018-07-05 18:53] Fourdee commented on #1891
@MichaIng

Good spot 👍

Ideally, we should detect term type, then set the required colour code:
eg - green='\e[38;5;XXXm'
if [[ term = linux ]]
green='the other one'

Then use those colours throughout scripts, as a global if required?

But this is a minor issue, we can resolve when time permits.

[2018-07-05 19:27] burgyman commented on #1892
@MichaIng many thanks!
@Fourdee please let me know if I can help somehow.

I leave here (again) output of `flash-kernel` in case it helps:
[code]

After reboot:
[code]

[2018-07-05 20:43] mfeif commented on #1894
Re your "offtopic" block above; on my Sparky:
[code]

[code]

[code]

[2018-07-05 20:45] mfeif commented on #1894
Thanks for looking into this!

[2018-07-05 20:58] hellfirehd commented on #1896
Immediately after requested reinstall:
[code]
After running for about 10 minutes:
[code]
After first web request:
[code]
I've enabled Debug logging and will report back if it shows anything useful.

[2018-07-05 21:02] hellfirehd commented on #1896
Slightly more interesting fail with Debug logging:
[code]

[2018-07-05 21:49] Taloth commented on #1896
Hey guys, Sonarr dev here. Just here to drop some observations.

1) I couldn't find it in the report, but check the mono version. If it's 5.12, i'd suggest to try 5.10 also. I haven't heard about crashes on 5.12 but we (and Jackett) have experienced http issues with 5.12.
2) Check if the libmediainfo version is recent, it's a well-known culprit in native memory corruption and crashes. Especially c

[2018-07-05 22:20] zicmama opened #1900 "[FAILED] DietPi-Software | G_AGI: mariadb-server"
#### Details:
- Date           | Fri  6 Jul 00:02:58 CEST 2018
- Bug report     | N/A
- DietPi version | v6.10
- Img creator    | DietPi Core Team
- Pre-image      | Raspbian Lite
- SBC device     | RPi 3 Model B (armv7l) (index=3)
- Kernel version | #1123 SMP Wed Jun 27 17:35:49 BST 2018
- Distro         | stretch (index=4)
- Command        | G_AGI: mariadb-server
- Exit code      | 100
- Softwar

[2018-07-05 22:33] MichaIng commented on #1891
@Fourdee
Yeah definitely a minor, especially since the bigger issue is the supported grey on displays, where it's too dark to read 🤔. Unsupported grey as white is not what we intended, but it doesn't hurt much.

Auto detection is an idea, but we theoretically would need to verify it on all kind of terminals and all distros, since `[[ $TERM == linux ]]` has with our current colour codes just issues

[2018-07-05 22:39] hellfirehd commented on #1896
@Taloth, thanks for the tips.  I'll start working through them and see what pops.

What are your thoughts on why it will run fine until the first Web Interface request?

[2018-07-05 22:56] hellfirehd commented on #1896
Set logging to Trace. Removed `--optimize=all` and `--server`.  Didn't touch mediainfo.

Web interface is working and responding.  Everything has been running stable for about 15 minutes.

I was having the same crash with Radarr so I'll see if it will work with the same changes.

[2018-07-05 23:03] MichaIng commented on #1894
@mfeif
Thanks for this. So jep, we need to stay with `uname -a` to be sure, that kernel version is inside.

[2018-07-05 23:04] mfeif commented on #1894
FWIW:
[code]

[2018-07-05 23:19] MichaIng commented on #1900
@zicmama
Thanks for the report.
- Do you have your dietpi_userdata moved to an external drive?
- If yes, has the external drive a dedicated power supply, or is it powered just via USB from the RPi?
- Could you please try the following:
[code]

@Fourdee
Report number 4, <s>I don't think any more that it's an hardware related issue, although it's a fact that we so far were not able to reproduce the

[2018-07-05 23:23] MichaIng commented on #1894
@mfeif
Jep, that's the version of `coreutils` then, the package containing the `uname` command 🙂.

Btw, as v6.11 is released, this does solve your issue, doesn't it?

[2018-07-06 11:17] zicmama commented on #1900
Yes, dietpi_userdata is moved to an external drive (usb self powered ssd)

[code]

[2018-07-06 11:20] zicmama commented on #1900
I also have voltage alerts
[code]

[2018-07-06 11:42] MichaIng commented on #1900
@zicmama
Okay the under-voltage error then again points to the direction of insufficient power supply, as we thought on the first bug reports of this kind.

With "self-powered" you mean the SSD has an own power supply, or does it get it's power over USB?

If it has no own power supply, then I suggest you plug the SSD via docking station with own power plug. Maximum current, that the Pi can supply

[2018-07-06 11:46] matbar87 opened #1901 "Problem with cron and auto backup (from v6.10-6.11)?"
## Creating a bug report/issue:

#### Required Information:
- DietPi version	| 6.11
- Distro version	| 9.4
- Kernel version	| #1123 SMP Wed Jun 27 17:35:49 BST 2018
- SBC device		| RPi 3 Model B+ (arm7l)
- Power supply used	| 5V 3.1A
- SDcard used		| Transcend Class 10 UHS-I

#### Additional Information (if applicable):
- Software title	| dietpi-cron, crontab, dietpi-backup

#### Steps to reproduc

[2018-07-06 12:20] MichaIng commented on #1901
@eljotx
Thank you for your report.

`G_USER_INPUT=0` should be actually auto detected on cron executions, thus not necessary to assign. But if you want it to have affect, you need to export it, which is of course worth to try:
`export G_USER_INPUT=0`

On non-interactive executions, the script would exit, if (close to) insufficient free space is detected on target drive: https://github.com/Fourdee/

[2018-07-06 12:26] Fourdee commented on #1901
Strange.

Try running the cron job and paste log results ```/mnt/rpi/backup.log```

NB: ```dietpi-backup``` automatically outputs rsync to logfile ```/var/log/dietpi-backup.log```, you could use that aswell.

[2018-07-06 12:29] Fourdee commented on #1894
@MichaIng

The kernel version on sparky never changes, as they use the same branch and patch it as needed. These kernel patches are applied by us during updates, however, they have no change in kernel version number.

[2018-07-06 12:43] Fourdee commented on #1896
@Taloth

Many thanks for joining this ticket, appreciate the insight and info!

@hellfirehd

Web interface is working and responding. Everything has been running stable for about 15 minutes.

Excellent, if this proves stable, we will revert the previous patch (which added those options in).

In regards to ```libmediainfo```, we are somewhat limited to whats available in APT:
- Stretch = libmediain

[2018-07-06 12:54] matbar87 commented on #1901
So, i try running the cron job without G_USER_INPUT=0 (I removed this from script) and...

My backup log file from /mnt/rpi/backup.log
`
[90m[[0m[33m......[90m][0m Checking for (elevated) root access[0m`

dietpi-backup.log is empty

I did not see any active process after time when cron started.

So, I added to testing another script, to see output in file after cron start:

[code]

but this

[2018-07-06 13:16] Fourdee commented on #1760
Solution: ```G_CONFIG_INJECT '^8723bs' '8723bs' /etc/modules```

We'll patch for v6.12

[2018-07-06 13:26] Fourdee commented on #1760
🈯️ Testing passed.
Resolved for v6.12. Fix now with: https://github.com/Fourdee/DietPi/issues/1760#issuecomment-403031160

[2018-07-06 13:30] Fourdee commented on #1893
Notes:
- while loop
- vers=3.0
- vers=2.1
- vers=2.0
- vers=1.0

SMB 2.1:
![image](https://user-images.githubusercontent.com/7077026/42382296-c914c3ae-812b-11e8-85b3-19b5d958cd15.png)

SMB 1.0:
![image](https://user-images.githubusercontent.com/7077026/42382334-e26b4aa8-812b-11e8-96fc-2a1d8a2cf15b.png)

[2018-07-06 15:30] Fourdee commented on #1898
- nfs 2/3 = ```mount -F nfs -r bee:/export/share/man /usr/man```
- nfs 4 = ```mount -F nfs -o vers=4 bee:/export/share/man /usr/man```

---

Both options mount as NFS4:
[code]

[2018-07-06 15:36] Taloth commented on #1896
For mediainfo we usually recommend ppl to use the upstream repo. Coz they continually fix specific edge-cases that can lead to crashes. They do release 18.05 for stretch, but the upstream repo is x86/64 only. Which means you'd have to compile it yourself. Leave it as is till it proves to be a problem.

I checked the default optimizations vs all:

_(DEFAULT is turned on if you run without --debug.

[2018-07-06 15:59] Fourdee commented on #1898
@MichaIng

http://man7.org/linux/man-pages/man8/mount.8.html

              The  filesystem  resides  on  a  device  that requires network
              access (used to prevent the system from  attempting  to  mount
              these  filesystems  until  the network has been enabled on the
              system).

Basically sets them to:
[code]

[2018-07-06 17:00] MichaIng commented on #1901
@eljotx
Okay there seems to be at least as well an error with cron. Note that cron starts the scripts via `run-parts /etc/cron.X/script` and there are some rules, e.g. the scripts must be owned by root (AFAIK) and more sure the scripts are not allowed to have file endings. That means `/etc/cron.daily/script.sh` will be skipped, the name needs to be `/etc/cron.daily/script` instead.

Also it should

[2018-07-06 17:04] MichaIng commented on #1898
@Fourdee
Jep, also found it on https://wiki.ubuntuusers.de/NFS/, totally reasonable 👍.

[2018-07-06 17:12] MichaIng commented on #1827
@Fourdee
So far it works quite well. Only thing is that the list is quite long already, much to scroll. Great would be to have separate pages for the different counts/tables, perhaps some overview page/frame with links.
The ongoing upload count table would be also not as problematic any more. Currently I would vote to show it somehow different instead of an own row for every single count.

Perfect

[2018-07-06 17:29] kevkha opened #1902 "DietPi-Software | Rocket Chat and Nextcloud integration"
Hello and thanks for DietPi. I was able to get Nextcloud up and running with DietPi on RPi3. Looks like Rocket Chat and Nextcloud can be integrated according to this https://github.com/RocketChat/Rocket.Chat/issues/7791

Also, https://github.com/RocketChat/Rocket.Chat.RaspberryPi

It would be nice to have Rocket Chat added to DietPi-Software.
Thanks in advance.

ADMIN EDIT: Vote for it on FeatHub: