[2018-01-16 20:47] thadG opened #1400 "orange pi one - desire headless login - no WiFi sensed"
## Creating a  report/issue:
Followed directions, as per:
http://dietpi.com/phpbb/viewtopic.php?f=8&t=9#p9
Followed Step1, Step2, optional wifi, and Step 3
does not create WiFi connection

#### Required Information:
- DietPi Version |   DietPi_OrangePiOne-armv7-(Jessie).img
- SBC Device (EG: RPi 3)?Orange Pi One
- Power supply used -   5v 4A power
- SD card used (Pendrive  micro SD, HC,  8GB)?
- D

[2018-01-16 21:35] aaro668 opened #1401 "Cannot Install Oracle JDK 8"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version | 159
- SBC Device :Orange Pi Zero
- Power supply used : USB
- SD card used Kingston 16GB
- Distro  | Linux DietPiOrange 3.4.113-sun8i #2 SMP PREEMPT Fri Mar 10 18:24:50 GMT 2017 armv7l GNU/Linux

#### Additional Information (if applicable):
- Software title: Oracle JDK 8
- Can this issue be replicated on a fresh installa

[2018-01-16 22:41] MichaIng commented on #1397
@Fourdee
Done so far. But during testing around with phpMyAdmin I realized the following:
- No web application should be able to use mysql "root" user to login. Thus all of them need their own user with related privileges.
- I don't know all the software titles that used `create_mysql_db`, but nearly all of them created the database with root user (see PR, where I removed admin password from the c

[2018-01-16 23:11] MichaIng commented on #1385
@k-plan
Couldn't replicate on first try (VM Jessie). Chose the same three locales via dietpi-config and `de_DE.UTF-8` as new default. Locale generation and dpkg reconfiguration finished without error, as well as everything after reboot:
[code]

But when I want to switch default language again to another (en_US.UTF-8), then suddenly I face same error.

Somehow in `/etc/locale.gen` only two language

[2018-01-17 02:04] MichaIng commented on #1401
@aaro668
- We use this PPA: https://launchpad.net/~webupd8team and installation breaks before we do any configuration/adjustments.
- The installer tries to download the SDK from oracle.com, but gets redirected several times and finally: `HTTP request sent, awaiting response... 404 Not Found` breaks it.
- Thus doesn't look like a DietPi issue so far.
- https://www.oracle.com/index.html got some hea

[2018-01-17 02:07] aaro668 commented on #1401
@MichaIng
OK, so this is basically either a problem with Oracle download page or WebUpd8?
Are there alternative ways to getting these 3 packages installed in dietpi? (node-red, blynk server and mosquitto)

[2018-01-17 02:25] aaro668 commented on #1401
I tried installing only blynk server tonight, and got the error again:
![image](https://user-images.githubusercontent.com/34253498/35022359-921602b8-fb03-11e7-8f78-9d5735a1f2ad.png)

and here is the log:

[code]

Being that this is software that is supposed to be optimized to run on dietpi and should "just work" then I consider this a dietpi issue??

[2018-01-17 02:33] MichaIng commented on #1401
@aaro668

Yes looks like, especially if other apt installations work fine. Temporarily we can try to find an alternative source for Java 8 SDK, e.g. Raspbian had it's own package included.

But I need to sleep now. Will try to replicate tomorrow and see if I find a solution.

[2018-01-17 12:18] Fourdee commented on #1385
[code]

We may also need to consider that ```en_GB.UTF-8``` is the required locale, and, DietPi only supports ```en_GB.UTF-8```. However, this really is a last resort if we cant find a solution.

I'll need to do some digging into this, once i've finished the v6.0 image creations.

[2018-01-17 13:17] Fourdee commented on #1285
NanoPi M1+ official desktop image, should be intresting:
[code]

🥂
[code]

---
🈯️ https://github.com/Fourdee/DietPi/commit/59383d944fc125cdf25304fc86ff24790bb2ec60 jessie > stretch

[code]

[2018-01-17 14:05] MichaIng commented on #1344
Fix so far: https://github.com/Fourdee/DietPi/pull/1398

Further discussion: https://github.com/Fourdee/DietPi/issues/1397#issuecomment-358132301

[2018-01-17 14:05] #1344 closed, assigned to MichaIng

[2018-01-17 14:07] Fourdee commented on #1400
@thadG

Hi,

Thanks for the report 👍

Please can you try the v6.0 RC image?:
http://dietpi.com/downloads/testing/v6.0/DietPi_OPiOne-ARMv7-Stretch.7z

[2018-01-17 16:30] thadG commented on #1400
Hi Dan,

Tried the image, which is not partitioned. Cannot get to the dietpi.txt
file to edit.
But tried it anyway, and cannot operate it  headless as no WiFi node
presents an IP address .

Thad

On Wed, Jan 17, 2018 at 9:07 AM, Dan <notifications@github.com> wrote:

[2018-01-17 16:47] k-plan commented on #1385
@MichaIng

many thanks for your investigation! 👍

Yups, war sicher mein Fehler, die Beschreibung in Englisch war einfach sch... schlecht. Sorry.

@Fourdee

I can upload my `DietPi_v6.0_OdroidC1-ARMv7-Jessie.img`, if you want.
But it still need some fixes, CPU governor and locales of course.
And not have tested all automated install options so far.

- [x]  🈴  Odroid C1 Jessie   https://github.com/F

[2018-01-17 19:10] gotttlieb commented on #1401
I'am in the same situation
[code]

[2018-01-17 23:30] gotttlieb commented on #1017
Ok, i see that this thread is close, but version 1.3.10 has a lot of nasty bugs with the Proxy settings I can't set my there. http://dev.deluge-torrent.org/ticket/2149
And seems that XU4 is still not Stretch, so, it seems that we should need to manually fix this?

[2018-01-17 23:52] MichaIng commented on #1401
@aaro668 @gotttlieb
Jep, I face exactly the same on following the official installation guide of the PPA maintainers: http://www.webupd8.org/2014/03/how-to-install-oracle-java-8-in-debian.html

Thus it's no DietPi issue and should be addressed to http://www.webupd8.org/.

I just made a quick search for alternatives:
- Debian offers a JDK package: https://packages.debian.org/de/stretch/default-jdk

[2018-01-18 00:28] #472 closed, assigned to nobody

[2018-01-18 00:42] MichaIng commented on #700
Marking as closed, as issue is outdated on several stages:
- Nextcloud installation has been completely reworked.
- Certbot installation now includes nginx auto configuration extension, at least on Stretch, and we could also make this available on Jessie via backports: https://packages.debian.org/de/jessie-backports/python-certbot-nginx

[2018-01-18 00:42] #700 closed, assigned to nobody

[2018-01-18 00:48] MichaIng commented on #734
@Fourdee
On Stretch we use the package included cron job, but on Jessie we use our own, that has the behaviour mentioned above. We should switch the new (?) renew command: https://certbot.eff.org/docs/using.html#renewing-certificates

Sadly I have no Jessie system, reachable from the internet, for testing. Maybe I can effort some main server downtime for this.

[2018-01-18 01:17] MichaIng commented on #1017
@gotttlieb
I found a PPA, which Debian users successfully used in the past. Try:
`echo 'deb http://ppa.launchpad.net/deluge-team/ppa/ubuntu xenial main' > /etc/apt/sources.list.d/deluge.list && apt update && apt dist-upgrade`

If this works well, we can consider to use in on DietPi Jessie.

Odroids are still on Jessie yes. We use Meverics image as base: https://forum.odroid.com/viewtopic.php?f=96&

[2018-01-18 14:05] Fourdee commented on #1385
@k-plan

Legend 👍 Please if you can.

Locales + CPU, we can patch during day one v6.0 update.

[2018-01-18 15:19] Fourdee commented on #734
@MichaIng

Yep. Its been a while since I last worked on this script and certbot has changed vastly since we first created it. So my knowledge is outdated/lost lol.

Probably be more beneficial if we re-write this script, based on current certbot documentation. I'd imagine there is a few more outstanding issues that would also need resolving.

[2018-01-18 15:28] Fourdee commented on #1401
@MichaIng

We use the PPA to install Oracle JDK, which I believe was proprietary. Open JDK  would not of been.
The reason for this, was me assuming the proprietary software should perform better/faster, than the open source version, however turns out I may of been wrong:
https://stackoverflow.com/a/38685948

So yep, using openjdk via APT sounds like a better solution.

[2018-01-18 15:33] Fourdee commented on #1400
@thadG

file to edit.

For ARMbian based images, we now use the default settings, everything is on one EXT4 partition, you'll need a EXT4 compatible system to edit the ```/boot/dietpi.txt``` file (eg: another linux system)

The only solution I can suggest is temporarily plug in HDMI + Keyboard, to setup the wifi in ```dietpi-config```, once completed you can resume headless.

[2018-01-18 15:37] aaro668 commented on #1401
@MichaIng
Ok, so when I try to install the software (blynk server) from dietpi-software, I got the error....
Should I install the backport(apt install -t jessie-backports openjdk-8-jdk) before installing the blynk server via dietpi-software and it should then work without the error?

[2018-01-18 15:45] aaro668 commented on #1401
just a FYI:
I am also getting this error on fresh install of dietpi on OPi zero:
`
DietPi-Software
─────────────────────────────────────────────────────
 Mode: Install software
 Please wait...

 Build-Essentials: common packages for compile
 [Info] Please wait...

 #               processing | D i e t  P i             #

 [Info] APT is processing, please wait...

Extracting templates from packages

[2018-01-18 15:46] MichaIng commented on #1401
@Fourdee
Ah yes I see. The current issues with the Oracle JDK PPA might be temporary, but as of your link, it might be at least not worse, to switch to OpenJDK and it would be easier to handle/install.

@aaro668
Ah yeah sorry, was not thinking too far. You can install OpenJDK by the method I provided, but of course DietPi-Software, when choosing dependant software, still expects Oracle JDK to be i

[2018-01-18 15:53] MichaIng commented on #1400
@thadG
Yeah, there are also some tools that provide ext4 support for Windows, but they are working not too reliable. A better solution is e.g. a USB stick with a live linux inside, that you can boot from your desktop: knoppix or a slimmer solution

[2018-01-18 15:58] MichaIng commented on #734
@Fourdee
I would not do a big effort for Jessie anymore, so keep it simple and just use the backports, which allows us to handle all distro versions the same?
- https://packages.debian.org/jessie-backports/certbot
- https://packages.debian.org/jessie-backports/python-certbot-apache
- https://packages.debian.org/jessie-backports/python-certbot-nginx

[2018-01-18 16:06] aaro668 commented on #1401
@MichaIng

I am basically on a quest to try and find the best/fastest way for setting up a minimal OS on an Orange Pi Zero, running Blynk Server, Node-red and Mosquitto MQTT broker.
This is a handy/cheap/small and flexible board with ethernet and wifi connectivity,I think the potential for IOT applications is enormous.

I have a few boards here that I am just playing around with to try and find th

[2018-01-18 17:34] MichaIng commented on #1401
@aaro668
This is great news. As we made huge/deep changes with v6.0, intensive testing/willing testers are highly appreciated.

I made a first PR for the Oracle JDK => OpenJDK switch: https://github.com/Fourdee/DietPi/pull/1405
Most of our software seem to get the related binaries/lib paths by themself, e.g. via `which java`, but testing is needed.
- On Blynk installation I just faced another issu

[2018-01-18 17:57] ryaneneal commented on #1150
I was able to install it on Stretch with this, as su:
curl -sSL https://get.docker.com/ | sh
docker run -it --rm -v /usr/local/bin:/target emby/embyserver:armv7 instl

[2018-01-18 18:15] thadG commented on #1400
Thanks,

Did not realize that.
I'll try to see if Ubuntu on Windows 10 can handle ext4. I'll also look
into placing knoppix into a USB.

On Thu, Jan 18, 2018 at 10:53 AM, MichaIng <notifications@github.com> wrote:

[2018-01-18 18:18] Fourdee commented on #734
@MichaIng

Sounds good 👍

[2018-01-18 18:41] MichaIng commented on #330
@Fourdee
I guess we could remove SubSonic 5, don't we?

[2018-01-18 18:49] gotttlieb commented on #1017
@MichaIng I can confirm that now Deluge is working as expected.
I really envourage this change in the images, at least in the Odroid ones.
Thanks so much for your support

[2018-01-18 19:15] aaro668 commented on #1401
@MichaIng

I have figured out how to install the BlynkServer manually:
#1 Download this file to "/mnt/dietpi_userdata/downloads": https://github.com/blynkkk/blynk-server/releases/download/v0.29.7/server-0.29.7-java8.jar
#2 Run these commands:
sudo tar zxvf jdk-8u161-linux-arm32-vfp-hflt.tar.gz -C /opt
sudo update-alternatives --install /usr/bin/javac javac /opt/jdk1.8.0_161/bin/javac 1
sudo update

[2018-01-18 20:12] MichaIng commented on #1401
@aaro668
Many thanks for sharing. Yes we somehow missed to switch to the Java 8 Blynk version. I also got it running now, also there was a typo, leading to en empty server.properties, where the actually intention is to pull it also from Blynk github. Fixed with: https://github.com/Fourdee/DietPi/pull/1406

Service runs, web ui opens at `https://<yourURL/IP>:9443/admin`. I just cannot access config

[2018-01-18 20:20] aaro668 commented on #1401
@MichaIng
I cannot access config page either, but I don't really need it, and have never used so I am not sure if it is even needed?
Possibly get someone involved that has experience with local Blynk server to help with this.

[2018-01-18 20:35] gotttlieb commented on #1401
Hi @MichaIng first of all thanks for your efforts!
To me it's happen the same, I was able to intall the OpenJDK, but for me it's failing the instalation of packages via dietpi-software as you mention.
~The thing is, whe can know witch dependencies are needed? I take a look in the Forum but they are not listed.~ See it listed in you PR, cool.
Thanks!

[2018-01-18 20:45] MichaIng commented on #1401
@gotttlieb
- For some software titles the dependencies/installation method also depends on your machine and Debian/Raspbian version.
- Easiest I guess is, if you adjust your `/DietPi/dietpi/dietpi-software` software according to this PR: https://github.com/Fourdee/DietPi/pull/1405/files
- If you don't need Tomcat and Blynk, you just need to adjust the ~middle part where it's about the actual Java

[2018-01-18 21:01] MichaIng commented on #1401
@aaro668
Yeah, I guess the config page error is not related to Java anymore. I just asked at their github page. Someone else had the same error on some sub page of config and there the info was, that web ui is under rework: https://github.com/blynkkk/blynk-server/issues/658#issuecomment-358778423

[2018-01-18 21:59] k-plan commented on #1385
@Fourdee

Uploaded `##DietPi_OdroidC1-ARMv7-Jessie(v6.-1).7z` without `hash.txt`. Please have a look and check if it is okay.

### What doesn't work:

- automated install of software via `dietpi.txt` eg: `AUTO_SETUP_INSTALL_SOFTWARE_ID=3`

- WiFi: set `wificountrycode` via `dietpi.txt` or `dietpi-config`
![180118-0002](https://user-images.githubusercontent.com/17237601/35123344-1abe6ebc-fca2-11e7-

[2018-01-18 22:31] k-plan commented on #1400
@thadG

What USB WiFi stick do you use? With which chipset?

@Fourdee

Really?  😳   ... what a crappy mess ... :upside_down_face:    😟  👎
Sorry.

.

 (_k-plan - now discontinue support for such devices since v.6 ..._) 🙈

[2018-01-18 23:19] gotttlieb commented on #1401
OK, I manage to get something "working"  ( at least no errors apeared in my sistem)

Next Snipet is Tested in **Odroid XU 4, use under your own risk.**
First i executed as @MichaIng advised:
```dpkg -P oracle-java8-installer && apt-get autoremove --purge```
And replaced next lines are replaced in the  **/DietPi/dietpi/dietpi-software** file.
Remove Line number before pasting. **DO NOT COPYPAST WIT

[2018-01-18 23:44] MichaIng commented on #1401
@gotttlieb
Ah sorry forgot, that the `G_` commands/variables are not yet available in v159 😅.
So this should work then as expected on every v159 (or lower) system, replacing lines 8237 until 8258:
[code]
- AGI is just a wrapper of `apt-get install` with some automation options, so `apt install` and `AGI` is doubled in your snippet.
- Important on Jessie (`$DISTRO == 3` means Debian/Raspbian Jessie

[2018-01-19 08:46] thechildofroth commented on #330
I'd have no issue with it coming out.

I admit I've not had opportunity to test it but it may be valid to include the Free 'Libresonic' fork available here: https://github.com/Libresonic/libresonic

[2018-01-19 12:13] MichaIng commented on #330
@thechildofroth
Thx for the hint. To be true, Libresonic doesn't seem to develop very fast. Last commit, even on develop branch, is from early Juli, where SubSonic had it's last release end of November. So until you see some more interest/development progress, I would stick with SubSonic. Though I am always sceptic, when prior open source software switch to closed source. Even their releases are s

[2018-01-19 13:43] MichaIng commented on #1388
@pedrom34
- First of all there seems to be a special Raspbian repo: https://download.mono-project.com/repo/debian/dists/raspbianstretch/
- And it is available via https, as you can see.
- I would suggest to add it to souces as: `deb https://download.mono-project.com/repo/debian raspbianstretch main`
- Just found for verification: http://www.mono-project.com/download/#download-lin-raspbian
- Just t

[2018-01-19 13:47] symbios24 commented on #838
Hello, i tried the DietPi stretch  for my raspberryPi 3 i`m getting the Country code (US) could not been applied.
I tried your fix (echo -e "options cfg80211 ieee80211_regdom=US" > /etc/modprobe.d/cfg80211.conf)
its not working
Any solution?

Plus i cannot see the wifi hotspot from any device computer/smartphone is this normal?
From Dietpi setting i see that its enabled.

After that i tried the Di

[2018-01-19 13:54] Fourdee commented on #1385
Issues:
- 🈯️ NB: Images will need to be updated with revised code, to benefit from fix 😭. Loopback each ```.img```.
 (https://github.com/Fourdee/DietPi/commit/1667af5d67d2421a2a5588a6fc32333552dd4f5a)
-- DietPi-Software no longer prompts user to setup connection, if it fails (due to error handler)

[2018-01-19 16:14] Fourdee commented on #1314
@MichaIng

Tested fine here:
- XU4 jessie v6.0 + Owncloud + userdata on rootFS
- 🈯️ Moved userdata to USB drive
- 🈯️ Moved userdata back to rootFS

[2018-01-19 18:49] Fourdee commented on #838
@symbios24

Thanks for the report 👍 i'll investigate/test

RE: @k-plan

Notes: believe we removed ```iw reg set``` in preference of ```wpa_supplicant.conf``` settings.

[2018-01-19 19:27] k-plan commented on #838
@Fourdee

on a running v6.-1 Odroid C1 (jessie):

![180119-0001](https://user-images.githubusercontent.com/17237601/35167715-c84d5f98-fd56-11e7-9f81-57be0f24b292.gif)

![180119-0003](https://user-images.githubusercontent.com/17237601/35167810-1b15e470-fd57-11e7-9c18-24b3e170ecf4.gif)

![180119-0002](https://user-images.githubusercontent.com/17237601/35167736-d74db9a2-fd56-11e7-8852-923e53687400.gi

[2018-01-20 08:10] pedrom34 commented on #1388
Hi @MichaIng

`gnupg `was installed, `dirmngr `was not. With:

`apt-get install dirmngr`
`apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys 3FA7E0328081BFF6A14DA29AA6A19B38D3D831EF`
`echo "deb http://download.mono-project.com/repo/debian raspbianstretch main" | sudo tee /etc/apt/sources.list.d/mono-official.list`
`apt-get update`

problem is solved. But why dirmngr wasn't installed

[2018-01-20 08:35] thechildofroth commented on #330
Thanks.

Replacing 5 with libresonic and keeping the 6 branch updated (for those of
us who have subsonic licences) would be an ideal solution I think.

The optimist in me would like to think that perhaps some increased interest
in libresonic, thanks to it being available in DietPi, could spur some
further development over there. Anyway, it can't develop slower than the 5
branch of subsonic ;-) and

[2018-01-20 12:21] Fourdee commented on #1388
Notes:
- https://packages.debian.org/stretch/dirmngr

Tried this on XU4 Jessie, seems fine without ```dirmngr```:
[code]

[2018-01-20 12:29] Fourdee commented on #1400
@k-plan

I agree, however, i read somewhere ARMbian ```BOOTSIZE``` setting was depreciated, and, didn't want the hassle of their support, if i'am completely honest.

Defaults it is.

[2018-01-20 13:14] Fourdee commented on #838
We'll need to bring back ```iw reg set```, as a fallback/in-addition of ```wpa_supplicant.conf```:
[code]

Believe this is kernel related, either way, ```iw reg set``` will be added back in, as per before its removal (due to ```wpa_supplicant.conf```)

[2018-01-20 13:32] Fourdee commented on #838
@k-plan
https://github.com/Fourdee/DietPi/issues/838#issuecomment-359170668 | https://github.com/Fourdee/DietPi/commit/f6799dc099ea9dda4d9cc26a1f06507473b46701
Resolved, i've tested C1 (your image, works a treat 👍 ) in ```dietpi-config``` and also sets during boot.

Marking as completed.

[2018-01-20 13:32] #838 closed, assigned to Fourdee

[2018-01-20 13:38] symbios24 opened #1408 "Retropie?"
Hello, there i`m using latest Dietpi v158 in a Raspberry Pi 3 but i cannot see the Retropie in the install software menu, is Retropie removed?

Thanks

[2018-01-20 13:39] symbios24 commented on #1408
ps. i tried both DietPi jessie and stretch its not there in any of them

[2018-01-20 14:10] symbios24 commented on #838
What i have to do now to be fixed on me?
i only have to update DietPi stretch?

Thanks

[2018-01-20 14:48] midwan opened #1410 "DietPi Software | Amiberry next version"
## Creating a bug report/issue:
Prepare DietPi for the upcoming release of Amiberry

#### Required Information:
- SBC Device: RPI1/2/3, XU4, OrangePi (maybe more can run it, but those are confirmed for now)

#### Additional Information (if applicable):
- Extra lib dependencies to support CD32 FMV
- SDL2, SDL2_image, SDL2_ttf (compiled from source to support KMS!)
- SDL1 version is also supported,

[2018-01-20 15:07] Fourdee commented on #1385
Notes:
- Updated all images with DietPi Sourcecode (due to commits above)
-- VB 300MB 7z'd, ```zerofree``` fails.
- Rock64 redone, due to corrupt image (faulty PSU)
- Hashed
- 7z'd

Just needs uploading.

[2018-01-20 16:00] RmG152 opened #1411 "Online Doc's | Linux Dash incorrect URL link (shows demo)"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version | 159
- SBC Device: Orange Pi Zero / Raspberry Pi 3
- Power supply used: Usb / usb hub Anker 60w
- SD card used: Samsung evo / Sandisk Ultra
- Distro:
Linux DietPiVoice1 3.4.113-sun8i #2 SMP PREEMPT Fri Mar 10 18:24:50 GMT 2017 armv7l GNU/Linux
Linux DietPi 4.9.62-v7+ #2 SMP Fri Nov 17 23:52:26 GMT 2017 armv7l GNU/Linux

[2018-01-20 16:04] gotttlieb commented on #1411
I confirm this behaviour in Odroid XU4
I have take a look inside, and the problem is the ```/var/www/linuxdash/demo.js``` file.
Seems that Dietpi is not creating the correct configs at installation.

If i delete the script call from index.html an error rises form browser console:
[code]

[2018-01-20 16:54] RmG152 commented on #1411
This is working well:
/linuxdash/app/

This one not:
/linuxdash/

[2018-01-20 16:58] MichaIng opened #1413 "DietPi-Software | ownCloud/Nextcloud: v159 => v6.0 migration script"
+ Added backup script to separate branch, not intended for merging, just for download/review: https://github.com/Fourdee/DietPi/blob/dietpi-cloud-migration/dietpi-cloud-migration
+ Script could be provided to users via forum + https://github.com/Fourdee/DietPi/issues/1355
+ Could be further implemented into e.g. dietpi-backup/dietpi-software uninstall.
+ Current idea: dietpi-software install ownCl

[2018-01-20 17:03] MichaIng commented on #1355
@Fourdee @k-plan
ownCloud/Nextcloud migration script is ready for testing: https://github.com/Fourdee/DietPi/issues/1413
Automatic recovery on fresh ownCloud/Nextcloud installation will follow. Will review and test this again first.

[2018-01-20 19:25] Fourdee commented on #1410
@midwan

Excellent, you've been very busy with Github and great to see this project evolve.
Many thanks for the info. I'll take a look at this over the next few days. Should be able to get it in for DietPi v6.0 release if all goes to plan 😄

ref: https://github.com/Fourdee/DietPi/issues/1385

[2018-01-20 19:25] DavidPower commented on #1360
I'm encountering this exact problem.

The suggested work-around/fix isn't working for me. I've tried it several times and in several permutations.

Also... Despite the shairport install failing, my /etc/dietpi/logs/dietpi-software_apt.log file is always empty.

Can you offer any advice on how I might get around this?

Thanks,
dp

[2018-01-20 19:33] Fourdee commented on #1408
@symbios24
Hi,

We removed Retro-pie from DietPi a while back. Reasons for this:
- RetroPie expects, and, is developed based on the user having a stock Raspbian image system for installation.
- Constant Retro-pie ~devolpment (broken spell checker lol)~ development is impossible for us to maintain. We had to provide many fixes and changes over the course of its availability in DietPi. Taking too mu

[2018-01-20 19:34] #1408 closed, assigned to nobody

[2018-01-20 19:40] Fourdee commented on #838
@symbios24

You'll need the updated v6.0 image, will be released next week, you can try it below:
http://dietpi.com/downloads/testing/v6.0/
RPi 3 image = http://dietpi.com/downloads/testing/v6.0/DietPi_RPi-ARMv6-Stretch.7z

[2018-01-20 19:41] Fourdee commented on #1411
@RmG152

Thanks for the report 👍

We'll investigate/resolve when possible.

[2018-01-20 19:46] Fourdee commented on #475
Marking as completed for v6.0 release (next week), minus Odroid devices, see below:
https://github.com/Fourdee/DietPi/issues/1385#issue-287129015

[2018-01-20 19:46] #475 closed, assigned to Fourdee

[2018-01-20 19:49] Fourdee commented on #1385
@MichaIng

Q:
I tried exporting the updated VirtualBox image (after i've updated DP source code), but it generates 300MB .7z file lol.

```zerofree -v /dev/sda1``` was not supported from my linux boot iso, what method do you use, if any?

[2018-01-20 23:02] MichaIng commented on #1385
@Fourdee
I used `zerofree` from another VirtualBox DietPi (as I am running three: Jessie + Stretch + Buster), cross mounting the fresh images hdd. I think you first need to free the hdd from within global tools / virtual media manager.

And I manually purged the realtek firmware, as it is not needed for any of the VirtualBox provided Ethernet cards. I just recognize, that this is still not yet don

[2018-01-20 23:43] MichaIng commented on #1413
Automatic recovery is ready for testing: https://github.com/Fourdee/DietPi/pull/1414

On my Stretch VM following schedules worked well:
🈯️ Install ownCloud/Nextcloud ▶️ Use migration script ▶️ Uninstall without backup creation ▶️ Install
🈯️ Install ownCloud/Nextcloud ▶️ Uninstall (with automated backup creation) ▶️ Install
🈯️ Install ownCloud/Nextcloud ▶️ Use migration script ▶️ Uninstall ▶️ Insta

[2018-01-21 10:54] symbios24 commented on #838
Thanks
another thing now if its possible
i removed the card with DietPi from my raspberry pi3 and insert it in my raspberry pi Model B that has a usb WIfi Adapter(realtek) is it possible the WifiHotspot to see and configure automatically any usb/or internal wifi adapter so it works at any time without any setup if you change wifi adapter or board?? i`m asking because the hospot is not active like

[2018-01-21 12:17] Fourdee commented on #1360
@DavidPower

Yes, fixed in v6.0, we've hosted the required libssl package on dietpi.com
ref: https://github.com/Fourdee/DietPi/issues/1303

[2018-01-21 12:46] Fourdee commented on #1385
@MichaIng

May find this interesting:

On my Windows 10 VM server, I had to uninstall VirtualBox, before my VMware workstation cross compiler would load (hung on loading screen).

Probably issue with virtual networking drivers, however, annoying during image creation lol.

[2018-01-21 13:19] MichaIng commented on #1385
@Fourdee
You mean Windows 10 host? Might be due to the networking drivers for host-only and bridged network that VirtualBox installs for easier setup of their guest network. But interesting that vmware then does not load at all... Maybe it would be enough to temporary disable the drivers within Windows adapter settings of main network card.
I didn't use vmware so far, bit good to know.

[2018-01-21 13:29] Fourdee commented on #1171
Notes to prep:

- Run prep, install both microcodes (intel/amd)
- LXDE live, resize partition + zerofree
- Clonezilla

[2018-01-21 13:44] Fourdee commented on #1285
Minor, EFI PC:
[code]

[2018-01-21 14:43] k-plan commented on #1385
@MichaIng

Hmm, login screen on VirtualBox  looks a little bit ugly?

![180121-0001-d](https://user-images.githubusercontent.com/17237601/35195255-0b7e67d8-fec1-11e7-987e-0a937b45a409.gif)

With SSH it looks okay:

![180121-0002-d](https://user-images.githubusercontent.com/17237601/35195303-cab1d52c-fec1-11e7-820b-3ac446dd82e9.gif)

[2018-01-21 15:13] Fourdee commented on #1385
@k-plan

Not just the VM's. Native PC and a few other SBC's (outside SSH)

[2018-01-21 17:51] k-plan commented on #1385
@Fourdee

I have a look at/in your last build images for Odroid, NanoPi and OrangePi.

Personally I dislike the "_one-ext4-partition-layout_" (ARMbian based devices).
Why? Because of you loose some of the best basic  DietPi features:  Simplified | For everyone
Without a FAT partition, which contain `dietpi.txt`, you will loose the option for preconfigure installation and dietpi-automation. You alw

[2018-01-21 18:06] Fourdee commented on #1411
Updated documentation to reflect the correct URL link (as per @gotttlieb suggestion) 👍
http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=108#p108

[2018-01-21 18:06] #1411 closed, assigned to Fourdee

[2018-01-21 19:29] Fourdee commented on #1410
Notes:
- ARMv8 (Odroid C2) Jessie:
[code]

[code]

[code]

Although should be fine with just ```-dev``` package, will test

🈯️ removal of ```libwayland-bin```
[code]

[2018-01-21 19:30] midwan commented on #1410
We don't really use wayland anyway, so this shouldn't be a problem. The list is what I got if I tried to install the package from the official repo (which you normally don't want, because their binaries are older and don't have the RPI or KMSDRM drivers enabled)

[2018-01-21 19:40] Fourdee commented on #1410
@midwan

```./configure --disable-video-rpi --disable-video-x11 --enable-video-kmsdrm; make -j $(nproc --all); sudo make install```

```make -j $(nproc --all)``` compiles using all available CPU cores, much quicker 😃

[2018-01-21 19:44] midwan commented on #1410
yeah, I usually specify the number of cores manually  here, but I noticed that the Pi can easily overheat if using all 4, and then it throttles down (so it becomes sloweeeeeer). I found that using up to 3 is ok.

[2018-01-21 19:45] Fourdee commented on #1410
@midwan

Good point, she does run a little hot lol 👍

Want me to revert the changes: https://github.com/midwan/amiberry/wiki/Compile-SDL2-from-source ?

[2018-01-21 19:46] midwan commented on #1410
No, it's ok I think... SDL2 is not extremely large (like some Amiberry's files), so it might be able to make it before hitting the threshold. :)

[2018-01-21 19:54] Fourdee commented on #1410
[code]

🈯️ ```libfreetype6-dev``` pre-req
[code]

---

Fails on make
[code]

🈯️ ```libgl1-mesa-dev``` pre-req
[code]

---

ARMv7 ARMv8 SDL2 compiles/```.debs``` done, will continue rest tomorrow.

PATH issue?
[code]

[2018-01-21 21:05] MichaIng commented on #1385
@Fourdee
That's true, freeing removes the image first from VM. But it stays at the VMs folder. So you just need to add it again to the virtual controller/remount it to the drive.
I see if I find time to recreate the image tonight.

@k-plan
Yeah I agree, that this is a nice feature loss for ARMbian based devices. There are also some free ext4 drivers for Windows, but they are not working to reliabl

[2018-01-21 21:16] MichaIng commented on #1385
@k-plan
About none SSH boot: https://github.com/Fourdee/DietPi/issues/1376
This is already since longer. Timestamps and rc.local added there automatically
We could at least make all our notifications (info/ok/failure) overwrite existing lines from the start. But this could in case overwrite interesting/important output also.

[2018-01-21 21:47] k-plan commented on #1385
@MichaIng

Ah ... sorry, my fault. I imagine you have meanwhile fixed it.
Leave it as it is, it's only optical imperfect.

And sorry, VMs are not on my real focus.
Only notice, it is different then before.

![180121-0005-d](https://user-images.githubusercontent.com/17237601/35199370-068d7d36-fefd-11e7-840c-9fd0fdc9aa97.gif)

[2018-01-21 22:29] k-plan commented on #1385
@MichaIng

👍  If so, I can directly stay with ARMbian. They have as well copy some nice feature from DietPi like `armbian_first_run.txt` and [`armbian-config`](https://docs.armbian.com/User-Guide_Armbian-Config/)  😳

Try more then once and ended up with [Paragon ExtFS for Windows](https://www.paragon-software.com/de/home/extfs-windows-pro/download.html) and NTFS/ExtFS for Mac.

You need the hardwa

[2018-01-21 22:36] MichaIng commented on #1385
@k-plan
Actually in that cases, creating a separate _tiny_ fat partition just for dietpi.txt would be maybe the simplest solution. This could be even removed on first run, after copying the file to /DietPi. The latter would be anyway necessary if we do not want to rewrite a bunch of scripts to look on different locations for dietpi.txt.
@Fourdee
Do you think that would be possible? I am not too de

[2018-01-21 22:45] k-plan commented on #1385
@MichaIng

great Idea! 👍  ❤️

Würde auch noch einige andere Probleme direkt mit erschlagen.
Einziger Nachteil den ich so direkt sehe, wenn man sich vertippt, darf man direkt noch einmal von vorne anfangen. Aber das übt und ist auf alle Fälle ein Fortschritt zum momentanen Zustand.

[2018-01-22 14:17] Fourdee commented on #1385
@MichaIng

We cant place the extra partition after the rootFS partition, would prevent expansion of rootFS.

We could try shifting the rootFS partition to P2, then create a 64MB FAT16/32 P1 at start after 4MiB for ARMbian. We'd need to check all the kernel command line options in ```/boot```, ensuring UUID is used etc.
- Move all boot files to P1
- Then edit ```/etc/fstab``` with ```/boot``` mount

[2018-01-22 14:20] Fourdee commented on #1385
@k-plan

If these options work (i've downloaded Paragon to test)? We could provide this information in 1st run guide for ARMbian images.

[2018-01-22 14:37] MichaIng commented on #1385
@Fourdee
And if we, based on HW_MODEL/2nd partition size/content(dietpi.txt), just remove the tiny 2nd partition before first run resizing rootfs? A tiny free space would not hurt. I am afraid of generally changing all the partitions for other devices, if I understand your idea right, as this was/is always a bid fragile.

[2018-01-22 14:43] Fourdee commented on #1385
@MichaIng

Could work 👍
- prior to rootFS resize
- mount p1/p2
- move ```dietpi.txt``` to ```/boot```
- unmount p1/p2
- del p2
- rootfs resize

---

But honestly, I can't comprehend why MS, with all their billions of $ and many thousands of staff, simply can't support EXT4 in their OS. Drives me up the wall lol.

[2018-01-22 14:54] Fourdee commented on #1385
@zador-blood-stained @ThomasKaiser @igorpecovnik

**Question:**

Are the following options, fully supported in ARMbian build tools?
- ```BOOTFS_TYPE```
- ```BOOTSIZE```

https://github.com/armbian/build/blob/e546ac684d0fe0c0f47ab032aa867062e37da4e6/lib/configuration.sh#L224-L225

Reason for query:
- No mention of ```BOOTSIZE``` in the online doc
- Its been mentioned in the past as a depreciated fe

[2018-01-22 15:09] zador-blood-stained commented on #1385
BOOTFS_TYPE
BOOTSIZE

No, and by that answer I mean that it *may* work (or rather *should* work) in most cases, but

- FAT /boot partition is not tested in general so it may be broken on some platforms
- FAT /boot partition support was not added to some newer platforms so it may not be supported on all boards
- there are known issues with the `nand-sata-install` script on multi-partition images

s

[2018-01-22 16:38] MichaIng commented on #1385
@Fourdee @zador-blood-stained
FAT partition support should be no problem,  as DietPi by default adds dosfstools package. So we should be able to create the tiny FAT partition after full distro/package upgrade was done during preparation script, and then it should be able to mount during first run. All kernel/boot files can/should stay on 1st root partition to not mess something up there.

[2018-01-22 16:59] zador-blood-stained commented on #1385
True unless you are talking about the first partition on the system device mounted to /boot.

This was discussed already, but there are several problems:

- dpkg breaks when updating files on FAT filesystem so without special workarounds the system will break on the kernel upgrade

- you can't make symlinks on FAT so again the system will break after the kernel upgrade without workarounds for `ln

[2018-01-22 19:32] MichaIng commented on #1401
Mark as closed, as fixed with v6.0 and manual fix for v159 provided.

[2018-01-22 19:32] #1401 closed, assigned to nobody

[2018-01-22 19:43] MichaIng commented on #1314
Mark as closed. Issue is high likely related to unsupported manual (not via DietPi) moving of Nextcloud datadir post installation. Ability to move datadir pre installation implemented with v6.0.

[2018-01-22 19:43] #1314 closed, assigned to MichaIng

[2018-01-23 02:27] MichaIng commented on #1343
@Fourdee
Can't believe it, I should have known: The failing `readfile()` of course also is a timeout of resolving an IPv6 address... The idea driving me crazy that I must force every web access command separately to not use IPv6.

So I made some research again:
- First I found, that the old setting we used to disable IPv6 via sysctl, was solving the problem for my VMs: https://github.com/Fourdee/D

[2018-01-23 02:40] MichaIng commented on #1397
@Fourdee
As I thought, web based software fails with the strict unix_socket of MariaDB. Creating an own database user fixed it. Tested with Ampache and Koel.

As I understand open issues, your plan is anyway to use own users for our software titles (if applicable), as well as switching to dietpi as default user? Ui the latter will need much adjustments 🙈.
But in that case it fits anyway, that also

[2018-01-23 02:55] MichaIng commented on #1175
Again another way is to create the PRs as branches based on each other. So you create the first PR with branch A. Then for 2nd PR you open a file from branch A and create a new branch B from there. Then the branches can be merged into each other for sure, if done in the right order. Of course single adjustments could break the line 😆.

No I think, just do intuitive. If you have several ideas, rela

[2018-01-23 02:55] #1175 closed, assigned to nobody

[2018-01-23 13:05] Fourdee commented on #1397
@MichaIng

Yep, plan to create unique users for outstanding ```root``` based items in ```dietpi-software```.
```dietpi``` user for desktops etc

For now, probably best?
The permission/user changes across DietPi will take time and much testing, probably best we dedicate a release milestone to it sometime in future, do it all in one pass.

[2018-01-23 13:26] MichaIng commented on #1397
@Fourdee
It is relatively easy to change the affected software titles. Just change username/password in create_mysql_db call and change the related configs. Easy to find the packages also due to REQUIRE_MYSQL value.
I will start with PR and do required testing. Already done for two titles, so... And revert also needs a bid effort. And if we do later, than we need to touch the database and configs

[2018-01-23 13:44] MichaIng commented on #1240
@Fourdee @k-plan
Maybe you know this better than me: Many of our software titles with web interface are reachable via non-standard port, where the webserver should actually not listen, eg 8080 8000 8443 etc. I heard that these 1k+ ports are anyway handled differently, but not sure how this works. Do the software titles themself answer this ports/redirect them to webserver or somehow directly call

[2018-01-23 15:02] MichaIng opened #1416 "DietPi-Software | Running uninstall cmd with several arguments multiplies uninstall loop"
In the code of unattended (# dietpi-software uninstall $@) uninstallation, the code contains a doubled for loop through arguments (software ids): https://github.com/Fourdee/DietPi/blob/testing/dietpi/dietpi-software#L14026-L14047

This leads to doubled uninstall loop on 2 arguments and tripled on 3 etc. Whiptail uninstallation is not affected.

[2018-01-23 17:13] Fourdee commented on #1240
@MichaIng

If its not using port 80, the software title most likely has a mini webserver bundled into the program binary (eg: netdata), available on its specific port.

YMPD uses this: https://github.com/cesanta/mongoose

[2018-01-23 17:16] Fourdee commented on #1171
@MichaIng

Yep tested it personally and ready for use (- any patching during v6.0 update), ~however, dietpi.com links are not updated yet (still using old <v159 image). I'll do the dietpi.com links prior to v6.0 completion.~

Links to v6.0 image, as above, its fine.

[2018-01-23 17:31] Fourdee commented on #1416
@MichaIng

Good find 👍 Thats a nasty one lol.

Resolved with: https://github.com/Fourdee/DietPi/commit/6ea69350b944c2be5105a289a963986f2478416e

[2018-01-23 17:32] Fourdee commented on #1416
Tested fine 🈯️ Will mark as closed.

[2018-01-23 17:32] #1416 closed, assigned to nobody

[2018-01-23 17:40] m1saka opened #1417 "apt-get has failed"
## Creating a bug report/issue:
So i'm trying to install apache and fail2ban both return with the same error
Here is a picture of the error https://i.imgur.com/KccLNlY.png

I've also posted a bug report my reference code is:
c801c4ce-964b-40bd-8108-276a6d706129-0

#### Required Information:
- DietPi Version | ```159```?
- SBC Device (RPi 3)
- Power supply used (USB from PC)
- SD card used (Kingsto

[2018-01-23 19:35] blogabe commented on #1355
How's the timing looking for v6.0?  Since dietpi-update won't automatically upgrade to 6.0, should we check the main dietpi.com for the release update?

[2018-01-23 19:37] m1saka commented on #1417
issue resolved after reformating and mounting a new copy of DietPi

[2018-01-23 19:37] #1417 closed, assigned to nobody

[2018-01-23 20:34] MichaIng commented on #1240
@Fourdee
Okay, hmm for Koel e.g. (which is reachable via port 8000) we also install a webserver. Somehow online guides also suggest installing mostly nginx. However on the official Koel installation guide I don't find any hint about needed webserver, just PHP of course. I will test, if it still works after manually uninstalling nginx 😄.

[2018-01-24 00:07] MichaIng commented on #1343
PR is ready: https://github.com/Fourdee/DietPi/pull/1419

[2018-01-24 13:32] Fourdee commented on #1355
@blogabe

Due date (release date) for v6.0 is Sunday 28th Jan: https://github.com/Fourdee/DietPi/milestone/64

Should be fee-sable, minus any RL stuff that crops up in-between 😃

[2018-01-24 15:09] Fourdee opened #1420 "Additional testing for 1418 | https://github.com/Fourdee/DietPi/pull/1418"
https://github.com/Fourdee/DietPi/pull/1418

---

- [x] Ampache Install:
- [x] Ampache uninstall:
- [x] 🈯️ http://dietpi.com/downloads/conf/ampache.cfg.php_3.8.2-v6.0 with database user "ampache"
- [x] Optional: update config version (can be done automatically after installation)
- [x] Optional: update sql database download

---

Allo: Will do this when generating new images: https://github.com/Fo

[2018-01-24 15:21] Fourdee commented on #1420
Temp notes:
[code]

[2018-01-24 15:22] Fourdee commented on #1420
phpmyadmin: Known issue, works a second time:
https://github.com/Fourdee/DietPi/issues/316#issuecomment-348714411

#### Required Information:
- DietPi Version | v6.0
- SBC Device     | Odroid C2 (aarch64) (index=12)
- Distro         | jessie (index=3)
- Command        | G_AGI: phpmyadmin
- Error Handler  | G_ERROR_HANDLER

#### Additional Information (if applicable):
- Software title | DietPi-Soft

[2018-01-24 16:13] Fourdee commented on #1420
phpmyadmin uninstall:
Works second time.
https://github.com/Fourdee/DietPi/issues/316#issuecomment-348714411

#### Required Information:
- DietPi Version | v6.0
- SBC Device     | Odroid C2 (aarch64) (index=12)
- Distro         | jessie (index=3)
- Command        | G_AGP: phpmyadmin
- Error Handler  | G_ERROR_HANDLER

#### Additional Information (if applicable):
- Software title | DietPi-Software

[2018-01-24 16:37] Fourdee commented on #1420
baikal, after web interface wizard setup:
[code]

Fixed following online doc to restart mysql

[2018-01-24 18:02] Fourdee commented on #1420
Completed.

[2018-01-24 18:02] #1420 closed, assigned to Fourdee

[2018-01-24 19:01] Fourdee commented on #1385
Notes:
Native PC BIOS, 1st attempt failed. invalid filesystem after image ready (faulty SSD 😢 ).

- Odroid EMMC + USB reader = debian
- lexar 16GB install
- Read lexar

[2018-01-24 19:16] Fourdee commented on #1355
@MichaIng @k-plan
Surprising email arrived today, looks legit lmao 🤣

As Published In: Makeuseof.com, November 2017.
To order Click Here to view your custom web page or enter https://www.showmark.com/products.php?pc=X6AB3EBH&utm_campaign=main&utm_medium=37&utm_source=srvd1&utm_content=sc in your browser.
Your Preview Code is: X6AB3EBH
The plaque is $164 plus S/H.

https://www.showmark.com/products

[2018-01-24 19:30] MichaIng commented on #1355
![](https://www.showmark.com/data/images/pages/home_left_text.jpg)

Congratulations, you are allowed to buy something from us 😆.

[2018-01-24 19:37] k-plan commented on #1355
@Fourdee

first I believe it is a joke.

But:

https://www.makeuseof.com/?s=Dietpi

[The Best Linux Operating Systems](https://www.makeuseof.com/tag/best-linux-distributions/#raspberry)

[6 Lightweight Operating Systems for Your Raspberry Pi](https://www.makeuseof.com/tag/lightweight-operating-systems-raspberry-pi/)

[2018-01-24 20:00] k-plan commented on #1385
@Fourdee

Quick check on Windows 7 running native on hardware.

:100:  fail

- Paragon can mount, read and write ext4 partitions on SD card, but to unmount you need administrator rights! :-1:

- AND Paragon` extfsservice.exe` block access for image writing software, eg for Rufus, to format and write SD cards, if Paragon is installed. No chance to stop this services without administrator rights and

[2018-01-24 20:21] Fourdee commented on #1385
@k-plan

@MichaIng method (extra 1MB fat partition) is the solution here, however, if i'am being honest, time limited at the moment. It may be after v6.0 is released that we can achieve it (all images need to be re-configured and script changes etc)

notes:
[code]

[2018-01-24 20:47] MichaIng commented on #1355
@k-plan
Nice, should have taken a closer look 🍾.

But the offer to buy some wall plaque there should still be taken as a joke 😄.

[2018-01-24 20:57] #1343 closed, assigned to nobody

[2018-01-24 21:15] glogiotatidis commented on #1347
tested as well and boots. Thanks for the quick fix!

[2018-01-25 12:31] Fourdee commented on #1286
@MichaIng

I've set low priority label for info (We officially support stretch), however, don't change what you like to work on, or by how much 👍

[2018-01-25 12:55] MichaIng commented on #1286
@Fourdee
Jep, agree. Just fixed the issues I observed, as they were not too hard and I want to test/go with DietPi Buster on my RPi after v6.0 release, at least give it a try 😄.

[2018-01-25 12:55] Fourdee opened #1423 "Outstanding v6.0 image tasks"
### Outstanding tasks, that require re-imaging:
NB: here for reference only, no guarantee these will make the v6.0 release, due to lack of time + other outstanding tasks.
- Disable ipv6 by default, remove apt/wget prefer ipv6, ```dietpi.txt``` ```ipv6enable``` option: https://github.com/Fourdee/DietPi/pull/1419#issuecomment-360452027
- 1MB fat partition for ```dietpi.txt``` on ARMbian images: http

[2018-01-25 13:22] MichaIng commented on #1423
@Fourdee
As said, disabling IPv6 by default could break 1st run connectivity for some users. So we would force them to check what they need and toggle in dietpi.txt. But I think it would be best to guarantee best 1st run compatibility with default dietpi.txt, especially if it's about network, as without SSH your headless server is just an energy consuming stone 😆.
If users then know, that they any

[2018-01-25 14:39] ambient-home-systems commented on #1102
The latest v156 image hangs on first boot. Anyone else experiencing this? SD card works fine with other Debian images, but can't get DietPi to boot. Any thoughts?

[2018-01-25 18:17] Fourdee commented on #1102
@joshuamallow

Hi,

Please try the v6.0 RC image:
http://dietpi.com/downloads/testing/v6.0/DietPi_Rock64-ARMv8-Stretch.7z

[2018-01-25 18:21] Fourdee commented on #1423
@MichaIng

Agree 👍

Ok, we'll leave IPv6 enabled by default for now.
However, I would like to remove the apt/wget prefer IP versions, as long as the:
- default for programs is prefer IPv6 (when enabled)
- we can assume IPv6 disabled, results in IPv4 systemwide?

User can then configure IPv6 disable in dietpi-config, if issues with IPv6? Seems a simpler/cleaner solution than manually setting progra

[2018-01-25 18:59] MichaIng commented on #1384
Simple "solution" offer: https://github.com/Fourdee/DietPi/pull/1424

[2018-01-25 19:25] Fourdee commented on #1385
Sparky Allo install, hangs system. Hardware issue?:
- squeezelite 100% cpu usage, SIGKILL no effect.
[code]

[code]

---

Need to update DB user in GUI code.
[code]

[2018-01-25 19:27] Fourdee commented on #1385
AmiBerry image test did not install, automation issue? Fixed with https://github.com/Fourdee/DietPi/commit/36b59349ae339f4d8082eaac915360facf77df22

Fails to install due to connection test ```name or service not known```, fine after running it again. Most likely DHCP/DNS not ready in time, may need to increase default wait time for net boot, or, allow ```G_CHECK_URL``` to re-run 2/3 times with 1/2

[2018-01-25 21:14] MichaIng commented on #1376
I was playing around a bid:
- First I found, that this is no issue on Jessie, just Stretch and also Buster.
- Adding `\r\e[K` in front of all echo AND after all linebreaks inside, generally works.
- But rc.local seems to deeply adjust all output. Already that the timestamp etc. is also added after every linebreak within single echo call, like `echo -e "hello\nworld\nunbeleavable"`.
- Also empty ec

[2018-01-25 22:02] MichaIng commented on #1423
@Fourdee
Yeah I agree that the current settings are a bid confusing and mixed.

This seems to case, at least for APT, wget and PHP readfile, if the destination sever offers IPv6 of course.

Now, that we "really" disable IPv6 within grub for amd64, this also seems the case, means IPv4 is used automatically. At least for wget, apt and `php -r "readfile('https://getcomposer.org/installer');"` I could

[2018-01-26 01:02] #1397 closed, assigned to nobody

[2018-01-26 01:19] MichaIng commented on #1133
Close as this should have been solved by recent rework. Reopen on demand.

[2018-01-26 01:19] #1133 closed, assigned to nobody

[2018-01-26 11:34] MichaIng commented on #1227
Sometimes it is still helpful to access the VM terminal directly. Priority low, but I would still offer this by times.

@Fourdee
Did you check, if adjustment is possible in VMware? Would drop priority again 😆.

To enable this, we need to reliably find the supported resolutions of the "graphic card". The best solution I found here: https://wiki.ubuntuusers.de/GRUB_2/Aussehen/#Aufloesung
As we do no

[2018-01-26 12:04] MichaIng commented on #1267
@Fourdee
Yeah I was able to chroot into a DietPi RPi image on USB stick from SSH on sdcard RPi system.
At least `/proc` and `sysfs` need to be remounted to the chroot system to give it some hw access. `/dev/pts` also highly recommended, as otherwise you'll get errors, that terminal is not accessible here and there. Whole `/dev` is necessary to give access to other drives etc.
However the issue som

[2018-01-26 12:04] #1267 closed, assigned to nobody

[2018-01-26 13:38] Fourdee commented on #1227
@MichaIng

You can increase the max resolution size, but it has no effect on current size.

[2018-01-26 16:09] keithellis74 commented on #1413
Does this migration script also transfer across LetsEncrypt keys/scrips?

[2018-01-26 19:30] Fourdee commented on #731
Re: https://twitter.com/W00fer/status/956963847188963328

But yesterday I received this new configuration file so it might work.
The author said that it might be not the best but will do.
Can you do anything with it? It is for raspbian but might work for DietPi as well.
Other info is in the issue: https://github.com/Fourdee/DietPi/issues/731
Best,
[configure.zip](https://github.com/Fourdee/DietPi/

[2018-01-26 19:38] Fourdee commented on #1410
@midwan

Apologies, will need to nudge this to v6.1 release. We have too many outstanding items for v6.0 release on Sunday.

In the mean time, i'll create a new AmiBerry image, which will use the existing installation. I'll also update you with the details once its completed, as a few things have changed in DietPi (eg: automation options).

[2018-01-26 19:39] midwan commented on #1410
@Fourdee
No worries, we're also busy with a few things :)

[2018-01-26 22:17] mcsSolutions opened #1425 "Build-essential apt-get failed on Odroid C1"
## Creating a bug report/issue:
Apt-get has failed:
 -Apt string = build-essential make autoconf automake
--no-install-recommends
-Error code = 100
-Software Title = Build-Essentials: common packages for compile
-Apt log = /etc/dietpi/logs/dietpi-software_apt.log

#### Required Information:
- DietPi Version | ```cat /DietPi/dietpi/.version```? 159
- SBC Device (EG: RPi 3)? Odroid C1
- Power supply

[2018-01-27 13:09] Fourdee commented on #1425
@mcsSolutions

Hi,

Please try running the following to fix APT:
[code]

Then try reinstalling build essential:
[code]

[2018-01-27 13:24] Fourdee commented on #1376
@MichaIng

The reason for ```rc.local``` is to ensure this service/script runs at the very end of SystemD. Using the ```Type=idle``` method.

Main reasons for this:
-  Allows all systemD services/processes to finish, before we run ```dietpi-services start```
- Allows us to add a banner at the end of boot.

Regarding the Ramdisk file wait check:
~The following could be moved to ```boot```  (```Run_

[2018-01-27 15:57] Fourdee commented on #1385
AlloGUI images notes:
Need to test Allo GUI indepth before release of updated v6.0 image (soundcard selection etc). v159 image will still function in the mean time, so no rush.

---

Sparky only, RPi fine, same web interface code and ```.bashrc```.
[code]

[2018-01-27 18:11] Fourdee commented on #1385
NanoPi Neo Air WiFi (and possibily all ARMbian devices with onboard WiFi)
[code]

Contained in armbian-firmware

[code]

---

Options:
- Disable ```firmware-*``` for all ARMbian devices (most likely will break all support for USB based WiFi chipsets), allowing install of ```armbian-firmware```?
- Manually extract (all or only required files from) ```armbian-firmware``` (eg: via deb) to images that

[2018-01-27 18:13] ambient-home-systems commented on #1102
Can you update the v6.0 RC image? The compression is corrupt.

[2018-01-27 19:00] Fourdee commented on #1385
Ok Native PC BIOS:
Tried several attempts at this. Unsuccessful in terms of available USB drives failing to boot (even with Debian simply installed and boot enabled in MBR etc). PC/USB issue/incompatibility, unsure, needs further investigation.
PREP script is fine.

I'll need to revisit this, however, for now, i'll do a guide that references installing Debian, then forward user to running PREP.

[2018-01-27 19:19] Fourdee commented on #1102
@joshuamallow

Confirmed, apologies, thanks for letting us know 👍

Image has been re-compressed and uploaded:
http://dietpi.com/downloads/testing/v6.0/DietPi_Rock64-ARMv8-Stretch.7z

![image](https://user-images.githubusercontent.com/7077026/35475473-fb98a380-0396-11e8-900b-d83e30b132e8.png)

[2018-01-27 20:38] mcsSolutions commented on #1425
No problems with executing commands, but does not seem to resolve issue.  The console

E: Unable to correct problems, have held broken packages.

[Failed] The apt cache may be corrupt, apt mirror offline, or have held broken packages. DietPi-Software will now exit.

[Info] Apt Log:

E: Unable to correct problems, have have held broken packages.

diFixing apt package errors with ‘apt-get install –f

[2018-01-27 21:36] Fourdee commented on #1425
@mcsSolutions
Could be a DNS/APT_mirror issue, try running the command manually to install via APT:
[code]

Please copy/paste any errors.

[2018-01-27 23:14] mcsSolutions commented on #1425
root@Odroid32:~# apt-get update

Ign http://ftp.us.debian.org jessie InRelease

Get:1 http://ftp.us.debian.org jessie-updates InRelease [145 kB]

Get:2 http://security.debian.org jessie/updates InRelease [63.1 kB]

Hit http://fuzon.co.uk all InRelease

Hit http://download.mono-project.com jessie InRelease

Hit http://fuzon.co.uk jessie InRelease

Hit http://security.debian.org jessie/updates/main

[2018-01-28 01:28] ambient-home-systems commented on #1102
Thanks!

Working great...no issues so far. Is this going to be the final version once v6 goes to production?

[2018-01-28 08:50] tatoosh commented on #1355
Can i use G_AGI with installiert id to install Software without dietpi-software menu?

[2018-01-28 13:10] Fourdee commented on #1102
@joshuamallow

Yep. There will be a minor ```dietpi-update``` later today, to bring it up to v6.0 release.

[2018-01-28 13:12] Fourdee commented on #1355
@tatoosh

```G_AGI``` is for APT only installations. To install software in dietpi-software without the menu:

Get a full list of software titles
[code]

Find the ```id``` of the title you want, eg: to install nextcloud:
[code]

[2018-01-28 14:00] #1354 closed, assigned to nobody

[2018-01-28 14:10] Fourdee commented on #1171
Marking as completed, image is now available, and, PREP method also:
https://github.com/Fourdee/DietPi/issues/1171#issuecomment-336522021

[2018-01-28 14:30] Fourdee commented on #1413
@keithellis74

Not as far as i'am aware, this script is only for NC/OC migration.

[2018-01-28 14:37] MichaIng commented on #1413
@keithellis74
Yes, it only migrates NC/OC, as the instances are quite independent from webserver/SSL configurations.

To transfer LetsEncrypt info, you just need to transfer the `/etc/letsencrypt` folder, as far as I know, where keys and account infos are inside.

[2018-01-28 14:46] Fourdee commented on #1425
@mcsSolutions
Strange, unable to replicate here in our testing. Limited to your system/APT sources and configuration.

Try install the pre-req manually:
[code]

[2018-01-28 14:48] #1355 closed, assigned to nobody

[2018-01-28 15:31] MichaIng commented on #1376
@Fourdee
Makes sense. Yeah I recognized a few systemd commands running after DietPi-Boot.
![unbenannt](https://user-images.githubusercontent.com/28480705/35483773-347b71d2-0446-11e8-803b-2e07b201913a.png)

About DietPi-RAMDISK check, yes that seems not necessary anymore due to service dependencies. I also never saw a single "wait for..." output line, whether in DietPi-Boot, nor rc.local (both incl

[2018-01-28 15:54] #1285 closed, assigned to Fourdee

[2018-01-28 15:54] #1385 closed, assigned to nobody

[2018-01-28 15:59] Fourdee commented on #1285
@MichaIng

Closed for now 👍

[2018-01-28 16:48] Fourdee commented on #1278
Marking as closed in favor of: https://github.com/Fourdee/DietPi/issues/1410

[2018-01-28 16:48] #1278 closed, assigned to nobody

[2018-01-28 16:50] Fourdee commented on #1032
Marking as closed.
With v6.0 we only offer Jessie images for Odroids for now (may change depending on interest from our users). Pending Meveric's repo update to Stretch, we can then move our image forward to match.

[2018-01-28 16:50] #1032 closed, assigned to nobody

[2018-01-28 17:02] Fourdee commented on #1283
@oakbrad

Apologies for the delay. Its most likely memory limitation, although we do set a max value for cache size, 100+ items is asking alot 😃

As this is an old ticket, i'll mark as closed, however, if you are still experiencing the issue, please reopen and check ```htop``` for memory usage during the issue, paste screenshot here. We can then investigate.

[2018-01-28 17:02] #1283 closed, assigned to nobody

[2018-01-28 17:14] MichaIng commented on #1376
@Fourdee
Solved it:
- I was wondering what exactly makes the difference between e.g. `dietpi-boot.service` and `rc-local.service`. Why does the banner inside boot script comes without timestamp+service name prefix and rc-local has it.
- Finally it was just the name Oo. I moved `rc-local.service` to `dietpi-prelogin.service` (+disable/re-enabe), without changing it's content, nor the content of `/e

[2018-01-28 17:59] mcsSolutions commented on #1425
root@Odroid32:~# apt-get install dpkg-dev build-essential

Reading package lists... Done

Building dependency tree

Reading state information... Done

Some packages could not be installed. This may mean that you have

requested an impossible situation or if you are using the unstable

distribution that some required packages have not yet been created

or been moved out of Incoming.

The following

[2018-01-28 18:18] MichaIng commented on #734
@Fourdee
Already working on this, but now realized, that for RPi no backports are available by default. On my RPi I enabled it by installing (manuall) `debian-archive-keyring` and then add Debian backports repo to sources.
[code]
The pin allows apt upgrade to use backports for certbot and it's dependencies automatically.

On the other hand we do not offer Stretch for RPi anymore, and the Odroids d

[2018-01-28 18:30] mcsSolutions commented on #1425
Are you using Odroid C1 in your test environment?  I noticed that this DietPi package is Jessie while the Raspberry Pi one is stretch.  I was able to install build-essential on Raspberry Pi with DietPi.  It shows as version 12.3.

From: Dan [mailto:notifications@github.com]
Sent: Sunday, January 28, 2018 6:47 AM
To: Fourdee/DietPi
Cc: mcsSolutions; Mention
Subject: Re: [Fourdee/DietPi] Build-essen

[2018-01-28 19:30] MichaIng commented on #1413
Announcement about the migration script: http://dietpi.com/phpbb/viewtopic.php?f=9&t=2734

Note:
- As always, do carefully check the output of the script and recheck the made backup.
- Carefully read the instructions given in the announcement above.

[2018-01-28 19:35] maxim-sheronov opened #1427 "Orange Pi Zero - Ethernet not working"
## Creating a bug report/issue:

Ethernet on Orange Pi Zero doesn't working.
I have tried image DietPi_OrangePiZero-armv7-(Jessie). It can be configured for Wi-Fi connection, but Ethernet not working. It can be enabled, connected, but didn't try to get IP address from DHCP. Static IP not working also.

On last image DietPi_OPiZeroH2-ARMv7-Stretch there no way to configure first config in dietpi.tx

[2018-01-28 19:36] Saxndi opened #1428 "Kodi install error using dietpi-software on raspberry pi 2 model b"
#### Required Information:
- DietPi Version | v6.0
- SBC Device     | RPi 2 Model B (armv7l) (index=2)
- Distro         | stretch (index=4)
- Command        | G_AGI: libcec3*
- Error Handler  | G_ERROR_HANDLER

#### Additional Information (if applicable):
- Software title | DietPi-Software

#### Expected behaviour:

#### Actual behaviour:

#### Steps to reproduce:

#### Additional logs:
[code]

[2018-01-28 19:38] maxim-sheronov opened #1429 "First login installation failed - Google AIY empty hostname"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version | ```cat /DietPi/dietpi/.version```? DietPi_OrangePiZero-armv7-(Jessie)
- SBC Device (EG: RPi 3)? Orange Pi Zero
- Power supply used (EG: 5v 1A RAVpower)? 5v 2A
- SD card used (EG: Sandisk ultra)? 2Gb
- Distro (EG: Jessie) | ```uname -a```? Jessie

#### Expected behaviour:
First login installation should finish correct

#

[2018-01-28 19:47] maxim-sheronov commented on #1427
So it is working if wait a long time

[2018-01-28 19:47] #1427 closed, assigned to nobody

[2018-01-28 20:25] MichaIng commented on #1428
Oh yes, I see some issue with the installation there: https://github.com/Fourdee/DietPi/blob/master/dietpi/dietpi-software#L4116-L4126

The comments already suggest, that APT failure for this package shall not break whole installation. But as G_AGI is used now, the included error handler will break it. We need to tell it to let the installation go on or just use `apt-get install -y libcec3*` etc.

[2018-01-28 20:55] oakbrad commented on #1283
Thanks for the response. I have been tinkering with this for a while and have been able to get it a lot more stable by just turning the maximum connections overall and per-torrent in Transmission way, way down from the defaults. This is fine because I'm just seeding stuff on private trackers that have few peers to begin with. I have about 400 torrents seeding now.

from my settings.json:

    "max

[2018-01-28 21:15] MichaIng commented on #804
Nice, I thought Hyper-V is just to create/run Windows guests 😆.

This can be enabled btw. within any Windows 8+ desktop, no Windows Server necessary. Will activate it and see if I can setup a fresh DietPi image (non UEFI for simplicity for now).

[2018-01-28 21:53] Saxndi commented on #1428
@MichaIng Thanks for the quick support. With your help I could install kodi. Unfortunately also tonido doesn't work well with the new dietpi installation. During the installation process I get

DietPi-Software
─────────────────────────────────────────────────────
 Mode: Optimize and configure software

[ INFO ] Applying DietPi optimizations and configurations for RPi 2 Model B (armv7l), please wai

[2018-01-28 22:51] blogabe commented on #1355
I'm still not clear on how to upgrade from 159 to 6.0... is it simply following the instructions at http://dietpi.com/phpbb/viewtopic.php?f=8&t=9#p9 or is there another topic that specifically talks about the migration to 6.0?

If it is following the above instructions, will this reset any of the configurations I've made, for example, the host name?  I'm using DietPi on Allo DigiOne is that helps

[2018-01-28 22:54] MichaIng commented on #1428
@Saxndi
- These errors are expected. We copy and remove this folder, in case it exists. Usually we suppress the error messages in such cases, respectively do check for existence first. Seems to be missed here.
- Does the installation otherwise work on your system/tonido start up? Because I found another issue:

Seems we still missed to test the one or the other software title on Stretch:
- I faced

[2018-01-28 23:29] MichaIng commented on #1425
@mcsSolutions
`Ign http://ftp.us.debian.org jessie InRelease`
[code]
As this mirror was somehow broken on your last apt update, APT tried to install `build-essential` from backports. But it does not by itself choose also the dependencies from backports, thus fail.
I personally would, if not necessary, stay without backports. Thus try to manually purge the installed packages again:
- `apt-get purge

[2018-01-28 23:58] MichaIng commented on #1387
@xDavo
Seems Kodi does not handle energy savings of PulseAudio correctly. Could you try this: https://github.com/Thinstation/thinstation/issues/33#issuecomment-35364115
Just to reduce the issue source to PulseAudio idle timer.

[2018-01-29 01:32] JasonSwindle opened #1430 "perl: warning: Setting locale failed | DietPi 6 | Odroid-C2"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version | ```cat /DietPi/dietpi/.version```?
[code]

- SBC Device (EG: RPi 3)?
Odroid-C2

- Power supply used (EG: 5v 1A RAVpower)?
PowerPort+ 1 Port

- SD card used (EG: Sandisk ultra)?
SanDisk Ultra 16GB Ultra Micro SDHC UHS-I/Class 10

- Distro (EG: Jessie) | ```uname -a```?
Debian Jessie | ```Linux golem 3.14.79+ #1 SMP PREEM

[2018-01-29 08:10] Saxndi commented on #1428
@MichaIng Also after reinstalling tonido, it doesn't work. It seems that the installation works fine, but I can't open IP-Adress:10001
There are no log files written.

When attempting to start tonido I get

[code]

[2018-01-29 09:04] k-plan commented on #1430
@Fourdee

Checked on RPi Zero with Dietpi 6.0:

[code]

Yes something goes wrong after first boot (`with dietpi.txt` defaults) => auto update to 6.0 => inital setup, while first run `Running command: dpkg-reconfigure -f noninteractive locales` during setup a different NTP Server.

[2018-01-29 09:27] Zac610 commented on #1283
This seems a software issue and not dietpi related, I bet 100% of other software wolud crash if user input is above a certain sane level.

[2018-01-29 11:46] MichaIng commented on #1428
@Saxndi
Ah, the libssl1.0.0 issue, yeah we found that already on other software titles, switching to Stretch. Stretch moved to libssl1.0.2.
- I was wondering, why I didn't face this on my VM: We use the download from tonido main download page there: https://www.tonido.com/tonidodesktop_downloads/
- For RPi we use the download from another URL, as given on RPi installation instructions: https://www

[2018-01-29 12:04] Saxndi commented on #1428
@MichaIng
Ok, now tonido works, thank you very much for your help!
I also realized that fail2ban-service (installed via dietpi-software) doesn't start.

[2018-01-29 12:33] Fourdee commented on #1355
@blogabe

In short, a fresh installation of the latest DietPi v6.0 image is required, if you want to update. The following guide will walk you through the steps:
http://dietpi.com/phpbb/viewtopic.php?f=8&t=9#p9

[2018-01-29 12:37] Fourdee commented on #1429
@maxim-sheronov

Thanks for the report, i'll try to replicate.

[2018-01-29 12:40] Fourdee commented on #1429
@maxim-sheronov

DietPi_OrangePiZero-armv7-(Jessie)

The DietPi-Software installation of Google AIY, is only enabled/supported for RPi devices, how did you install it?

[2018-01-29 12:48] MichaIng commented on #1428
@Saxndi
Found it: https://github.com/voxpupuli/puppet-fail2ban/issues/13
We seem to use the same base `jail.conf`, thus face the same error: https://github.com/Fourdee/DietPi/blob/master/dietpi/conf/fail2ban_jail.conf#L46-L54
`nano /etc/fail2ban/jail.conf`
Comment out or delete line 52.
`systemctl restart fail2ban`

Thank you for the reports 👍. I think we really have to go through all software. Ev

[2018-01-29 13:05] Fourdee commented on #1428
@MichaIng

Confirmed:
- Odroid Jessie ```libcec3v4 ```
- RPi ```libcec4```

I'll send PR and test both.

😱 👍

[2018-01-29 13:08] Fourdee commented on #1428
@MichaIng

All confirmed DietPi specific bugs, lets set to high priority for v6.1.

[2018-01-29 13:09] MichaIng commented on #1428
@Fourdee
<s>About libssl1.0.0 I guess http://dietpi.com/downloads/binaries/all/libssl1.0.0_1.0.2l-1_bpo8+1_armhf.deb is exactly the one from debian pool/backports http://deb.debian.org/debian/pool/main/o/openssl/libssl1.0.0_1.0.2l-1~bpo8+1_armhf.deb right?
So we can use this for RPi, which comes without included libraries?</s>
€: Confirmed via file size. I will send PR for this.

[2018-01-29 13:12] Saxndi commented on #1428
@MichaIng

[code]

[code]

[2018-01-29 13:17] maxim-sheronov commented on #1429
I didn't. I just flash image for OrangePi Zero. Then on first login update I saw, that in step before error was write "Google AIY".
If it is unsupported, then clear why hostname was empty.
Anyway, on last image "Stretch" all fine.

[2018-01-29 13:29] Fourdee commented on #1429
@maxim-sheronov

Please download and use the latest v6.0 image:
http://dietpi.com/downloads/images/DietPi_OPiZeroH2-ARMv7-Stretch.7z

Reference:
 https://github.com/Fourdee/DietPi/issues/1355#issue-285207849

[2018-01-29 13:35] Fourdee commented on #1429
Tested:
- 🈯️ http://dietpi.com/downloads/images/DietPi_OPiZeroH2-ARMv7-Stretch.7z

No errors, updates fine. 1st init of network can take upto a minute, factors of SD card/device/kernel/rootFS resize/DHCP ack delay.

[code]

[2018-01-29 13:40] Fourdee opened #1431 "DietPi-Software | Fail2Ban: Service fails to run"
https://github.com/Fourdee/DietPi/issues/1428#issuecomment-361241007

[2018-01-29 13:41] Fourdee opened #1432 "Tonido | Fails to start due to missing libcrypto.so.1.0.0"
https://github.com/Fourdee/DietPi/issues/1428#issuecomment-361168626

[2018-01-29 13:42] Fourdee commented on #1428
Please use following tickets:
- Fail2Ban issue: https://github.com/Fourdee/DietPi/issues/1431
- Tonido issue: https://github.com/Fourdee/DietPi/issues/1432

🈯️ Kodi issue resolved and tested with C2_J RPi_S:
https://github.com/Fourdee/DietPi/commit/4ea8c2d058a4efe0cdb0891a18b3f563d84f0a20

[2018-01-29 13:42] #1428 closed, assigned to Fourdee, MichaIng

[2018-01-29 14:05] Saxndi commented on #1431
[code]

[code]

[2018-01-29 14:09] Fourdee commented on #1431
@MichaIng

I'll pick this one up, unless you've started?

[2018-01-29 14:10] MichaIng commented on #1432
Fix with: https://github.com/Fourdee/DietPi/pull/1433

[2018-01-29 14:12] Fourdee commented on #1432
@MichaIng

Legend 👍

I'll host the debian binaries on dietpi.com. In the past, Debian simply remove older versions and results in dead URL links. Best to avoid it :)

I'll edit PR with new links

[2018-01-29 14:23] Fourdee commented on #1432
Merged, tested install:
- 🈯️ RPi Stretch
- 🈯️ C2 (ARMv8 disabled install)
- 🈯️ x86_64

[2018-01-29 14:28] MichaIng commented on #1431
@Fourdee
👍 As it seems RPi specific, I can't test it here fast.
Just remembered the old fail2ban issue on Debian Stretch Status issue, and that we did not fix the RPi specific issue there, just the general Stretch issue with non-existent `/var/log/auth.log`.

One report there lead me to this: https://github.com/Fourdee/DietPi/issues/1428#issuecomment-361235269 Doubled port declaration should not m

[2018-01-29 14:39] k-plan commented on #1385
@Fourdee

only remark:

YES!  :+1:

So I can't connect with  Wi-Fi.

https://github.com/Fourdee/DietPi/issues/1427

[2018-01-29 14:45] Fourdee commented on #1432
@MichaIng

All good, nice one 👍

[2018-01-29 14:45] #1432 closed, assigned to MichaIng

[2018-01-29 14:53] hoveeman commented on #804
@sytone I tried your process with the new dietpiv6 Virtual Box image and have been unsuccessful in getting the Hyper-V to boot. I didn't use your powershell script since the naming conventions and files have changed. I downloaded the .7z of the virtual box image from dietpi, extracted the .ova and then extracted the .vmdk with 7zip. I then ran this command.
[code]
I then create a Hyper-V Machine w

[2018-01-29 15:00] k-plan commented on #1425
@MichaIng

puhh ... mcsSolutions use an old v159 image on Odroid C1.
If I remember correct, where was a `/etc/apt/preferences.d/meveric-backports-pin-100` and `/etc/apt/sources.list.d/meveric-jessie.list`.

https://github.com/Fourdee/DietPi/issues/1385#issuecomment-357755338

If I find some spare time, I can do a reteset on the new build ` DietPi_v6.0_OdroidC1-ARMv7-Jessie.img
` and install` Build

[2018-01-29 15:01] Fourdee commented on #1431
Notes:
- 🈴 RPi/PC Stretch
[code]
- 🈯️ C2 Jessie

[2018-01-29 15:16] k-plan commented on #1355
@Fourdee

BTW:
- Can you please arrange a new sub forum for DietPi v6.0 in http://dietpi.com/phpbb/viewforum.php?f=5
 for only v6.0 relevant threads? to get some more clearness over there?
- If possible, a global announcement would be very nice, something [like this](http://dietpi.com/phpbb/viewtopic.php?f=9&t=2735&p=10490#p10490)?

Yes, I know .... reading is difficult for the most ... but anyway

[2018-01-29 15:18] Fourdee commented on #1431
Issue due to outdated ```/etc/fail2ban/jail.conf``` we used on Debian Stretch.

I'll clean up our settings in ```/etc/fail2ban/jail.conf```, and, only specify SSHD and Dropbear.

[2018-01-29 15:20] Fourdee commented on #1431
Tests:
- 🈯️ C2 Jessie
- 🈯️ RPi/PC Stretch

[2018-01-29 15:22] Fourdee commented on #1431
@Saxndi

~Fixed in v6.1, you can resolve now (copy paste all):~

[2018-01-29 15:23] Fourdee commented on #1431
Completed.

[2018-01-29 15:27] Fourdee commented on #1431
Config needs further review

Confirms ban action, but has no effect with ```banaction = route```
[code]

entry should be ```sshd```

🈯️ Removal of failing ```protocol="%(protocol)s", chain="%(chain)s"``` in ```action_```

[2018-01-29 15:41] k-plan commented on #1355
@blogabe

Sorry, but not simple upgrade is possible. You have to start with a fresh image.

But if you are on DietPi v159 with your device, all is working fine and you are happy with it, all looking good, stay on it.

Base system behind DietPi is Debian. Debian Jessie has a [LTS (long term support) until 2020-04.](https://de.wikipedia.org/wiki/Debian#Ver%C3%B6ffentlichungszyklus)  At least for sec

[2018-01-29 15:55] blogabe commented on #1355
In the process of switching to 6 using the fresh image.  Since I have historically used `dietpi-upgrade` I'm unsure if following the fresh image steps will totally reset the environment to default settings or if it will respect my changes.

[2018-01-29 16:07] k-plan commented on #1428
YES! :+1:

Sorry, it is simple a [Mission: Impossible](https://en.wikipedia.org/wiki/Mission:_Impossible_(film_series)) https://github.com/Fourdee/DietPi/issues/1281#issuecomment-350556903

[2018-01-29 16:20] MichaIng commented on #1425
@Fourdee
Yes generally this should work, thou good to retest on Odoids that also come with additional repos.

In this case here it clearly looks like (temporary) unavailable mirror, thus APT chose meveric backports, failing dependencies.
Hmm about mirror again: `Ign http://ftp.us.debian.org jessie InRelease` Shouldn't there be an `/debian/` inside this URL as well?

[2018-01-29 16:21] Fourdee commented on #1431
Verified service and openssh-server banning with:
- 🈯️ RPi Stretch
- 🈯️ C2 Jessie

Now I have to wait 10 minutes lol

@Saxndi

Resolved, copy and paste all:
[code]

[2018-01-29 16:23] Fourdee commented on #1431
Completed (again) :)

[2018-01-29 16:23] #1431 closed, assigned to Fourdee

[2018-01-29 16:28] Fourdee commented on #1355
@blogabe

Its a full reset, fresh installation. Your existing installation settings, would need to be reapplied to the new installation manually.

[2018-01-29 16:51] k-plan commented on #1355
@blogabe

Hmm ... it's seems to be very difficult to understand.

Go/switch/chance from DietPi v159  ==>> DietPi v6.0 is simple impossible.
No update, no upgrade, no dist-upgrade.

You will loose all software installations and all settings in any way.

So, copy your `/mnt/dietpi_userdata/` to a safe location and start to write a fresh image on a sd card.
Boot this sd card in you device and a fresh

[2018-01-29 17:06] MichaIng commented on #804
@hoveeman
Maybe the conversion somehow changes the UUID? I am not too deep in this. I just created a Hyper-V image from Debian mini.iso.

Everything went fine. However I was not able to shrink the vhdx. zerofree, defragmentation, resize/compression function of Hyper-V, all didn't shrink the size beneath 3.35 GB. Seems to have something to do with data on disk location. Also exporting the machine j

[2018-01-29 17:39] vantom65 opened #1434 "DietPi/PiHole/ http://: Invalid host name."
#### Required Information:
- DietPi Version | v159.
- SBC Device     | RPi 3 Model B (armv7l) (index=3)
- Distro         | stretch (index=4)
- Command        | Connection test:
- Error Handler  | G_ERROR_HANDLER

#### Additional Information (if applicable):
- Software title | DietPi-Software

#### Expected behaviour:

#### Actual behaviour:

#### Steps to reproduce:

#### Additional logs:
[code]

[2018-01-29 18:12] mcsSolutions commented on #1425
Performed the following with as much of the PuTTY windows captured as I could.  I did not understand the specific steps associated with finding an APT mirror.  Same failure result.

*	apt-get purge dpkg-dev build-essential
*	Alternatively at your current stage, you could force APT to get the package and all dependencies from backports: apt-get install -y -t jessie-backports build-essential and the

[2018-01-29 18:27] Fourdee commented on #1355
@k-plan

I've updated this, user will now receive a message explaining new image is required.

Previous to this, any existing <v159 fresh install, or existing installation, may allow for a semi v6.0 update (bug). Which results in https://github.com/Fourdee/DietPi/issues/1434

[2018-01-29 18:29] Fourdee commented on #1434
Reference, due to: https://github.com/Fourdee/DietPi/issues/1355#issuecomment-361339415

@vantom65
Thanks for the report.

Please use the latest v6.0 image from: http://dietpi.com/download
More info: https://github.com/Fourdee/DietPi/issues/1355#issue-285207849

[2018-01-29 18:30] Fourdee commented on #1434
I'll mark as closed, latest image will resolve the issue, however, please re-open if required.

[2018-01-29 18:30] #1434 closed, assigned to nobody

[2018-01-29 18:33] Fourdee commented on #804
@MichaIng

Micro$hit? 😉

I have no interest in Hyper-V. VMware/VirtualBox do the job nicely.

[2018-01-29 18:34] MichaIng commented on #1425
@mcsSolutions
Ah the `LD_LIBRARY_PATH` issue. At least the mirrors are all reachable now:
[code]
If an error about missing dependencies appears, then it somehow already remembers backports to be installed, then do:
`apt install -y -t jessie-backports build-essential`

[2018-01-29 18:45] MichaIng commented on #804
@Fourdee
Agree, Hyper-V offers slightly less features than VirtualBox, In fact I found non that VirtualBox does not offer as well. Internet is there without any necessary configuration, but no local SSH possible 👎.

Only reason would be, that some people a familiar with Hyper-V or need it anyway for other products and, yeah, can't run any other VM software concurrent (Hyper-V does not even need to

[2018-01-29 18:47] k-plan commented on #1425
Yes, as I mention before, old DietPi v159 image

[code]
To get it work durable, you have to fix export in` /etc/bash.bashrc`

[2018-01-29 18:58] k-plan commented on #1355
@Fourdee

Nice!  :+1:  :smiley:

![2018-01-29 19-55-41](https://user-images.githubusercontent.com/17237601/35528607-aa2a6b84-052e-11e8-8d98-4ac916793a57.png)

[code]

If the XMAS tree was such a problem as well....

...  now, every user MUST do a new installation .... :-1:

I don't know ... that's what I personally want to avoid. :see_no_evil:

[2018-01-29 19:33] Fourdee commented on #1413
@MichaIng
Many thanks for doing this for our users, really appreciate it 👍

I'll mark this as closed for now, please reopen if required.

[2018-01-29 19:33] #1413 closed, assigned to MichaIng

[2018-01-29 19:37] Fourdee commented on #1429
Marking as closed, due to non-v6.x image used. Install is fine with v6.0 image.

@maxim-sheronov
Please reopen if required.

[2018-01-29 19:37] #1429 closed, assigned to Fourdee

[2018-01-29 19:40] Fourdee commented on #734
@MichaIng

Agree 👍

To be consistent with all our other images, may be beneficial if we simply add backports to RPi Jessie/Stretch by default, with Pin set to low priority over Raspbian repos, shouldn't cause any unexpected APT issues across repos?
Will need a new ticket, I'll need to check various DietPi scripts, dietpi-config etc if we go ahead.

[2018-01-29 20:14] MichaIng commented on #734
Backports have low priority by default, but to assure, we could add:
[code]
I will send PR soon. Upgrading my RPi to Buster at the moment. Of course errors occur, in this case `apt --configure udev` 😱.

[2018-01-29 21:23] Fourdee opened #1436 "Update Allo GUI images to v6.0"
@k-plan @MichaIng, please read when possible (specific to DietPi in general):
- https://www.computeraudiophile.com/forums/topic/32132-allo-sparky-usbridge/?do=findComment&comment=773108
- Although now resolved (v159 > v6.0 no longer allowed, as per design), we also need to find a way to identify these v159 > v6.0 installations (via a bash cmd), allowing us to inform those effected users of a requi

[2018-01-29 21:27] Fourdee commented on #1436
Note to self:
- Update button is available, but has no effect on v159 image (as per design, now update server fixed), we can use this to inform users that the new v6.0 image is required, when its ready.

[2018-01-29 21:43] mcsSolutions commented on #1425
Unset LD_LIBRARY_PATH corrected the problem

I started this process about a week ago with Odroid C1 DietPi with the zip from the DiepPi web page.  Seems odd that my version was considered old.  I noticed that first thing on the downloaded image it did after login was update the version.

I repeated the download, install, build-essential selection today after the issue was resolved and the DietPi/d

[2018-01-29 22:13] MichaIng commented on #1436
@Fourdee
Luckily we changed some config file names and do not use `bash.bashrc` anymore. Check for e.g. `alias dietpi-software` and/or `/etc/apt/apt.conf.d/local`: https://github.com/Fourdee/DietPi/blob/5ba37d6984250cbc4f67dda369541a9c594a8fa5/PREP_SYSTEM_FOR_DIETPI.sh#L334-L341

[2018-01-29 22:40] djaydev commented on #1355
Hi,
First off big fan of the OS.  Been rock solid for me for a while.

I'd like to quadruple check because deleting my whole server to update to the latest supported release is not an option for me.  Other than the previously mentioned "/mnt/dietpi_userdata/" is there another way to copy some files or folders to maintain current operation after reinstall?  Or can you list the new packages that I c

[2018-01-29 23:13] juliusvaart opened #1437 "v6 (v6.1) i-sabre-k2m dt-overlay with Audiophonics ES9028Q2M broken"
## Creating a bug report/issue:
v6.1 broke the i-sabre-k2m driver with Audiophonics ES9028Q2M. With v158 and v159 it was working perfectly.

#### Required Information:
- DietPi Version | **6.1**
- SBC Device | **RPI3**
- Power supply used | **iFi 5v**
- SD card used | **Generic SOS Solutions**
- Distro (EG: Jessie) |
**4.9.59-v7+ #1047 SMP Sun Oct 29 12:19:23 GMT 2017 armv7l GNU/Linux**
AND
**4.9.

[2018-01-29 23:21] Fourdee commented on #1437
@juliusvaart

Thanks for the report, we'll investigate :+1:

---

Notes:
- Due to https://github.com/Fourdee/DietPi/issues/1378?
- verify/test sourcebuild?

[2018-01-29 23:33] Fourdee commented on #1355
@dee31797

You do **not** need to update if you are happy with your current installation, or, uncomfortable in moving forward with us on this new journey.
However, we cannot provide support the older v159 versions with latest code.

[2018-01-29 23:52] Fourdee commented on #1355
Thoughts on recent events:
- Charge for DietPi, granting the funds/staff to allow core version upgrade path expectations of the user, such as MS win 95 > 10
- Never improve the backbone of DietPi code (even if its required to move the project forward. may result in Owncloud/Nextcloud situation), or, anything that would require core version upgrade.
- Drop updates, provide new images only which req

[2018-01-29 23:57] djaydev commented on #1355
I am happy with the current install and I thank you and the Dietpi team @Fourdee.  I didn't have to pay a dime for using this project which I think is worth much much more. I can't show my appreciation for that enough. However, running this OS as a server, I can't stay on the version that's being marked as obsolete.  At the same time I can't start it over.  I would be ignorant to think windows 95

[2018-01-30 00:03] blogabe commented on #1355
Whoa whoa whoa :)  More than happy with DietPi and the all the work you guys have put in.  No doubt.  Was just looking for clarification since I received an already flashed DietPi install from Allo and only used the built in upgrade command.  Re-flashing is new to me and I wasn't sure about the ramifications.  Certainly I would have preferred a way to migrate certain services I enabled, but starti

[2018-01-30 00:05] Fourdee commented on #1355
@dee31797

Thanks for your feedback. We'll take it on-board.

[2018-01-30 00:54] MichaIng commented on #1355
@all
Hehe, after reading first about the idea of dropping update support for this version, I didn't expect anything different, than many users complaining, or at least feeling left behind/stressed by the needed effort to reflash the DietPi image. I do myself 😉.

But yeah, indeed this step enabled us/massively simplified to do some deep improvements, rearrangements, file and software changes. To tr

[2018-01-30 01:03] djaydev commented on #1355
Hi @MichaIng
Sorry if I sounded complainy, I really was asking if there was an alternate way to upgrade.  Run a lot of OS's and was a bit baffled.  You mentioned "Debian version jump", the most recent example of that going from Jessie to Stretch its very easy to do an in-place upgrade.  I couldn't image wiping my Debian server every two years it's just not done.

[2018-01-30 01:42] Fourdee commented on #1355
Fresh install, yep.

How i see it, on any system with software installed, regardless of DietPi:
- sshd old config needs a new one, yes or no? yes = cant login with root, no = service fails to run
- Failed to upgrade Sysinit to SystemD, due to package X being a dep of package Y with package Z being downloaded from user added customrepo.com/ubuntu and having a version of 5.1 but requires 5.1.0.1. Br

[2018-01-30 01:51] Fourdee commented on #1355
@dee31797

Please do not take this post personally https://github.com/Fourdee/DietPi/issues/1355#issuecomment-361427742
Not in any way aimed at you, we've had a few complaints/feedback, all of which add up and caught me at the wrong time. A time in which I needed to vent in order to try and comprehend the situation.

Very unprofessional/unacceptable from my end and I apologise.

[2018-01-30 02:00] djaydev commented on #1355
No worries, we just started dating on the internet, don't know each other well enough to get personal ;) kidding

When I mentioned

 I was taking about Debian main (or however it's said). If you run straight Debian Jessie or any modern server really, you can update yesterday's version to today's version, like from Jessie to Stretch.  Then from Stretch to whatever and so on.  No love lost if dietpi

[2018-01-30 02:12] Fourdee commented on #1400
Closed in preference of pending 1MB fat https://github.com/Fourdee/DietPi/issues/1423#issue-291560616

[2018-01-30 02:12] #1400 closed, assigned to nobody

[2018-01-30 07:33] klasLiesen commented on #1437
I have the same problem with Audiophonics ES9028Q2M. Allo digione and Allo Boss work fine.
Is there somewhere to download v159 until the problem is solved?

[2018-01-30 08:58] juliusvaart commented on #1437
**@Fourdee Edit:
NB: The following workaround is not officially supported, it may offer a solution for now, but may break future updates, use at your own risk:**

Installed the Kernel from http://dietpi.com/downloads/binaries/rpi/dietpi_rpi_kernel_4.9.zip (see below) and after a reboot I re-selected the i-sabre-k2m binaries with dietpi-config (then another reboot). Got it working this way.

@klasL

[2018-01-30 09:00] midwan commented on #1410
@Fourdee
We also have a new target: ASUS Tinker board.
However, it's still a little tricky to get it working there, as you probably noticed also. Due to the lack of proper support, we ended up compiling our own kernel (based on Armbian), using the GPU blobs and several other modifications to get SDL2 to compile with support for OpenGL ES2.

The Makefile includes the target, and the code has the ne

[2018-01-30 09:21] borpin commented on #1355
$0.02 worth;

No upgrade path is disappointing, but sometimes necessary.  It is the old adage of 'throw away a prototype'.

I have been swithering over rebuilding my systems; Stretch was one driver but this is the final one.  I think DietPi is an excellent Distro and this change will, I think move it forward big time.

Anyone with a 'I can't rebuild my system' argument is, as you pointed out daft.

[2018-01-30 09:31] borpin opened #1438 "No version number in downloaded file"
The new V6.0 download files do not seem to have a version number in the zip filename.

Could we drop the 'stretch' and add in the version consistently.

perhaps **DietPi-V6_1-NameOf PlatformHere** (bit like v158 files....) 😄

[edit]Discovered the underlying file in the zip does have a version number **but please do not put dots mid file name**.  Use an underscore instead please.

[2018-01-30 09:43] borpin opened #1439 "Cannot convert vmx file for ESXi"
DietPi V6.0 VMware file

Attempting to convert for use on an ESXi system using the vCentre converter.

When vmx file is selected the converter reports 'Unable to obtain hardware information for selected machine'.

This process has worked on previous versions of the VMWare file.

[2018-01-30 10:19] borpin commented on #1439
Withdrawn - Issue must be my end.

[2018-01-30 10:19] #1439 closed, assigned to nobody

[2018-01-30 11:33] MichaIng commented on #804
@Fourdee
About uploading the Hyper-V testing image. I am personally, due to the mentioned VirtualBox/VMware blocking, at the moment not able/willing to regularly provide Hyper-V images. In/Unstalling and Hyper-V is also heavy compared to other software, as it is handled like a (large) Windows update, needing double reboot after switch. So this just makes sense by somebody who has a separate Hyper-

[2018-01-30 11:50] k-plan commented on #1436
@Fourdee

Hmm ... fist, I want to ask, if you get paid by Allo / Sparky for doing a special Allo GUI images?

Puh ... second, glad normally no need to read their forum, because I get hypertension and splitting headache. Sorry, to much postulation, ignorance and stuff I have no clue.

My suggestion:

- With image until v159 we have
[code]

[code]

and NO:

[code]

- With image from v6.0 we have NO

[2018-01-30 11:53] MichaIng commented on #697
@Fourdee
Maybe simplest is to just add the info to image (archive) names. Somewhere it was recently asked to add kernel version there as well: E.g. `DietPi_6.1-RPi_4.9.59-Stretch`
The CPU architecture for my impression can be left out in cases, where the SBCs name clearly define it anyway. For RPi e.g. it is misleading/confusing, as the different versions offer different CPU architectures, but the

[2018-01-30 11:58] MichaIng commented on #1067
I will close this, as major rework is done. Other tasks will need separate issues, also as this one is heavily grown 😄.

[2018-01-30 11:58] #1067 closed, assigned to MichaIng

[2018-01-30 12:01] k-plan commented on #1425
:+1:

I'll mark as closed, latest image will resolve the issue, however, please re-open if required.

[2018-01-30 12:01] #1425 closed, assigned to nobody

[2018-01-30 12:02] MichaIng commented on #894
@Fourdee
I close, as this does not make sense at the moment without MySQL. I don't know any software where we offer a choice by installation/configuration between SQLite and MariaDB. Most need either the one or the other. Even that e.g. ownCloud and Nextcloud work with both, MariaDB is clearly the only viable production solution.

We can rethink after re rethought and integrated e.g. postgreSQL 😄.

[2018-01-30 12:02] #894 closed, assigned to nobody

[2018-01-30 12:13] MichaIng commented on #805
@Fourdee
Before offering all different kind of VM images, x32+x64, UEFI+BIOS, WMware+VirtualBox+Hyper-V+whatever (would make already 2x2x3=12 images), I think we could just generally include x32 support to the preparation script, to allow users creating their own. This should be quite easy, adding support for new CPU architecture `x86` or `i386` (?) and all other e.g. package related stuff should

[2018-01-30 12:53] MichaIng commented on #758
@LexiconCode @kronflux
For now I don't see any reason to drop support. The (current) coding overhead for Lighttpd is quite minimal. If nobody is found to provide a new softwares Lighttpd configuration, then it is easy to force users install Nignx and/or Apache instead in combination. But as for my testing and especially ownCloud/Nextcloud scripting, Lighttpd runs very nice out of the box without a

[2018-01-30 12:55] #758 closed, assigned to nobody

[2018-01-30 12:59] MichaIng commented on #943
@monarc99
Since v6.0 DietPi uses the default RPi kernel packages, thus I would consider this as outdated.

If you still run up to v159, you can easily switch to official Kernel:
[code]

I close this, reopen on demand.

[2018-01-30 12:59] #943 closed, assigned to nobody

[2018-01-30 13:07] kronflux commented on #758
I agree. Although I'd love to see everyone switch over to nginx for security purposes alone(let alone all the other fantastic reasons), lighttpd isn't going anywhere. Too many small applications use it by default, and it's extremely optimized for performance overall(which is fantastic for devices like the Raspberry Pi).
It's very easy to set up for basic use, particularly if you're using it for cl

[2018-01-30 13:14] Fourdee commented on #758
👍

Lighttpd is here to stay.
Its the lightest functional http server available. For 1/10 connected users, its ideal with minimal overheads, and in those cases faster than Nginx.

[2018-01-30 13:21] Fourdee commented on #805
@MichaIng

Yep, although the main reason i've not pushed this forward is because the DietPi scripts have no var/support for the HW_ARCH of x86_32. We'd also need to go through each of the dietpi-software titles and test/add code for x32 HW_ARCH.

Its an extremely long process if we want to do it right, most CPU's of the last 5-10 years support x86_64, hence reasons for not pushing this forward.

[2018-01-30 13:27] Fourdee commented on #804
@MichaIng

Agree 👍

I've got plans to add a box entry on http://dietpi.com/download for ```"Other"``` system, which links to PREP.

[2018-01-30 13:32] djaydev commented on #1355
Hi @borpin I don't agree with .02 worth, at least 10 times that! Kidding Dietpi has been a priceless OS for me.
Not rebuilding isn't silly, unless of course your goal is to rebuild, it's just a different perspective.  Perspectives are created based on your background and environment. Is Dietpi's perspective wrong, of course not noone's is, just different.  Me being an old enterprise geezer, you ta

[2018-01-30 13:36] Fourdee commented on #1438
@borpin

Which image in question? I'll check

Version numbers are not included with the zip filename, only the contents inside should contain the version number.
Reasons for this:
- We always host the latest available version of the image for download
- DietPi updates on 1st run
- Prevents URL links needing constant maintenance, each time we update an image.

Reason for this, older versions used a

[2018-01-30 14:33] MichaIng commented on #1438
@Fourdee
Ah yes 1st run update and necessary link adjustments is a good reason to skip version string there. Was not thought through this :wink:. For kernel versions it is the same with the dots. So I think it is okay to leave it as it is.

[2018-01-30 14:44] k-plan commented on #1438
Hmm ... sorry,  but Déjà-vu?  https://github.com/Fourdee/DietPi/issues/382

[2018-01-30 14:45] klasLiesen commented on #1437
Hi Julius.

Thank you very much.

With your help I got it working again.

Best regards

Klas

[2018-01-30 15:13] k-plan commented on #758
@MichaIng

I am no @Fourdee, but yes, I want.

 :100:  Nice! :+1:

Please keep on doing this,  only so we will get  two-digit issue.

Thanks for all your hard work here - coding, support and housekeeping! :heart:

[2018-01-30 15:28] k-plan commented on #804
@Fourdee

Hmm... who want/will support such build images/versions?
I personally not. Sorry, for me to much imponderables.
Never can be sure, what's going wrong and what provoke the error.

And, I know, what I'm talking about now ... :wink:

[2018-01-30 15:36] k-plan commented on #804
@MichaIng

I personally think we should close section "Hyper-V" for now.

One platform less is no big deal. Work here is more more than enough.

PS: Yes, I could build a [Parallels](https://www.parallels.com)  and provide it, but  ...  :see_no_evil:

[2018-01-30 17:34] borpin commented on #1438
Ok makes sense for the Zip file and reduced maintenance on the download links.

[2018-01-30 17:34] #1438 closed, assigned to nobody

[2018-01-30 17:38] borpin commented on #1355
Just one other thought - Just tried to update an install currently on v158 and it baulked.  Does this mean that anyone on an older version cannot even update to the last version - v159?

I'd be inclined to have a v160 to remove the Christmas tree and update the banner message.

[2018-01-30 17:51] k-plan commented on #1355
@borpin

:christmas_tree:  - Remover:

http://dietpi.com/phpbb/viewtopic.php?f=9&t=2689#p10362

as script: ` XMAS_TREE_REMOVER_FOR_DIETPI.sh`

[code]

or direct into terminal:

[code]

[XMAS_TREE_REMOVER_FOR_DIETPI.zip](https://github.com/Fourdee/DietPi/files/1678822/XMAS_TREE_REMOVER_FOR_DIETPI.zip)

[2018-01-30 18:23] Fourdee commented on #1436
Uploaded:
http://dietpi.com/downloads/images/

Will finish up testing/update links etc tomorrow,.

[2018-01-30 18:26] Fourdee commented on #1438
- DietPi_v0.0-DEVICE-ARCH-DISTRO_OPTIONALEXTRA.img
- DietPi_DEVICE-ARCH-DISTRO_OPTIONALEXTRA.7z

Where OPTIONALEXTRA could be:
- DietPi_RPi-ARMv7-Stretch_AlloGUI-v5

[2018-01-30 18:42] k-plan commented on #1436
Hmm...  of topic, but by your link, I have just noticed, you have take  with v6.0 the lovely Retro `DietPi_RPi-armv6-(Wheezy).7z` down.

http://dietpi.com/phpbb/viewtopic.php?f=9&t=432&p

:cry:

Please reup, purple and old style are sooo retro.   ( :smiley: )
Wheezy has[ LTS until 31st May 2018](https://wiki.debian.org/LTS) !
:man_dancing:

[2018-01-30 19:01] k-plan commented on #1355
@borpin

Hmm ... must be a RPi Jessie? Correct?

Do you want/need/search a Jessie DietPi image for RPi?
Something like: `DietPi_v6.0_RPi-ARMv6-Jessie.img` :question:

Correct.
v159 , the "former" `master` source tree is down on github.
v6.x is now `master`, so no update tree for old images available any more.

[2018-01-30 19:19] k-plan commented on #734
As I told you before, you need simply more hardware (SBC)  :smiley:

 /play rumble

[2018-01-30 19:20] MichaIng commented on #1438
As said in the other thread: ARCH info is in most cases kinda useless. You will know it by device name (or you don't care anyway), and in some cases it is actually misleading/confusing, if the device CPU has other architecture, then the used repo offers. Even that RPi comes with armv6, v7 and v8, all run on the same armhf based Raspbian 😉. So just say RPi and everybody knows it's RPi is meant as w

[2018-01-30 19:35] k-plan commented on #1438
@MichaIng

Yes and no.

For your lovely VM `DietPi_VirtualBox-x86_64-Stretch.7z` it is important. They don't run on 32bit hosts. Yes, I have one. :wink:

And as long we have no  `DietPi_RPi-ARMv8-Jessie.7z` available, my RPi3 run on 32bit not on 64bit , which his ARM Cortex-A53 can easy handle.

But anyway.
I think, it's only to have  consistently naming pattern. Not more.

[2018-01-30 20:25] hoveeman commented on #804
@MichaIng This definitely sounds like a good option. I will give this a try. Really appreciate the instructions.

I also wanted to update this thread to let others know that I downloaded the VMWare version last night, extracted the 7zip and converted the vmdk to vhdx and it worked perfectly in Hyper-V. Not sure why this one worked while the VirtualBox version did not.

This was the command I used:

[2018-01-30 20:36] Fourdee commented on #1436
@k-plan

Unfortunately, I have no available copy of the image (cleaned up local/remote server). If someone else has a copy, i'll re-upload.

[2018-01-30 21:12] stoinov opened #1440 "dietpi.txt | Failing update after automated setup"
#### Required Information:
- DietPi Version | 6.-1 (latest from the website)
- SBC Device | OdroidC2
- Power supply used | PC
- SD card used | eMMC
- Distro (EG: Jessie) | Linux home 3.14.79+ #1 SMP PREEMPT Sun Jul 23 00:04:44 CEST 2017 aarch64 GNU/Linux

#### Expected behaviour:
finishing the initial setup using my provided config file.

#### Actual behaviour:
the setup is completed only partiall

[2018-01-30 23:48] MichaIng commented on #734
@Fourdee
Great, just finished this, tested on Jessie and Stretch, working great. But I don't know what drove me to enter a real domain:

Lead me to this: https://github.com/certbot/certbot/issues/5405#issuecomment-356498627

And I already wondered why my RPi had some acme error recently. Found some partial server outage on their side and a planned reboot and after that, my errors were gone. Actual

[2018-01-31 03:56] sytone commented on #804
@hoveeman hit the same issue as you, my Debian and other Linux OS work fine. I am guessing something in the conversion. I just tried the VMWare version and able to confirm it works well. Update the PowerShell script while I was at it.

@MichaIng I no longer use Virtual box as I get more out of hyper-v for what I need along with docker containers for Linux and windows based containers. As a note yo

[2018-01-31 07:25] kevinshane commented on #1390
just want to report that this issue still remains the same in v6.1
[code]
the MEM% and MEM USAGE and NET I/O always says 0
please if someone knows how to deal with this issue, please share it! Thanks

[2018-01-31 07:27] Gokujo opened #1442 "XRDP won't start at startup"
Hey,
I created a new user for working not as root on my device and I got this problem, that xrdp do not start automatically but manuall with
`systemctl restart xrdp.service`

#### Required Information:
- DietPi Version: 6.1
- SBC Device: RPi 3
- SD card used: Sandisk
- Distro: Strech ARMv6

[2018-01-31 08:42] MichaIng commented on #1118
Close, as question was answered.

[2018-01-31 08:42] #1118 closed, assigned to nobody

[2018-01-31 09:04] k-plan commented on #1436
@Fourdee

No problem, upload `DietPi_v120_RPi-armv6-(Wheezy).img` done!

[2018-01-31 09:33] MichaIng commented on #1115
Self reminder: Check installation of current Debian package from pool: http://ftp.de.debian.org/debian/pool/main/n/netdata/

[2018-01-31 09:37] MichaIng commented on #1094
Close as question was answered, reopen on demand.

[2018-01-31 09:37] #1094 closed, assigned to nobody

[2018-01-31 09:40] MichaIng commented on #1069
@FutureTense
Is this issue resolved for you? Otherwise now is a good time for a fresh installation and retest, as v6.0 was released which can't be updated to from 159 or lower.

[2018-01-31 10:00] MichaIng commented on #944
@Fourdee
Easiest would be probably to add an entry to dietpi.txt?

[2018-01-31 10:16] iCra5h opened #1443 "[ INFO ] DietPi-Software is already running on another terminal/screen. Please complete or exit, before continuing."
After flashing dietpi image to sdcard, i got this message:

[ INFO ] DietPi-Software is already running on another terminal/screen. Please complete or exit, before continuing.

Required Information:
DietPi Version: 6.1
SBC Device: Asus TinkerBoard
SD card used: Sandisk
Distro: Strech ARMv7

[2018-01-31 10:45] MichaIng commented on #804
@sytone
Thanks for this info. Hmm maybe I will be able to provide an Hyper-V image then. But @Fourdee would need to agree doing final tests, or we consider it as unofficial image, just providing it here via github/forum.

Interesting, that VMWare image can be converted but VirtualBox not. The latter one was provided by me also. It is running fine on VirtualBox and should be similar to WMWare. Mayb

[2018-01-31 10:49] MichaIng commented on #805
@Fourdee
Ah yes that's true, we would need to adjust several software installations to pull the other i386 package, if available at all, and/or disable all software titles that are not available via official repo with i386 candidate. Much work, and we have more important stuff to do at the moment. I will mark as low priority.

[2018-01-31 12:10] Fourdee commented on #1442
@Gokujo

Thanks for the report, we'll try to replicate 👍

[2018-01-31 12:13] Fourdee commented on #1436
@k-plan

Legend 👍

http://dietpi.com/downloads/images/DietPi_RPi-ARMv6-Wheezy.7z

[2018-01-31 12:19] Fourdee commented on #1069
@MichaIng

May be linked to similar issue with https://github.com/Fourdee/DietPi/issues/1442

However, i'll close this in preference of the above, which I'll test/verify/resolve installation.

[2018-01-31 12:19] #1069 closed, assigned to nobody

[2018-01-31 12:23] Gokujo commented on #1442
Sorry, but it worked well with only root.

[2018-01-31 12:24] MichaIng commented on #801
As we stopped offering own kernels for RPi, due to too hight effort for low benefit, we stay with the official kernel package, which is the one from stable branch of raspberrypi firmware repo: https://github.com/raspberrypi/firmware/tree/stable
That way we can guarantee stability and compatibility as far as RPi devs do and we can concentrate on enhancing our software related parts.

I read much ab

[2018-01-31 12:24] #801 closed, assigned to nobody

[2018-01-31 12:25] Fourdee commented on #1442
@Gokujo

Ah I see. Try running it under user ```dietpi``` (account has same permissions are ```pi```), should be fine.

Either way, i'll test the installation, due to: https://github.com/Fourdee/DietPi/issues/1069

[2018-01-31 12:27] Fourdee commented on #1094
@MichaIng

On fire with the spring cleaning, great work, really appreciate it 👍

[2018-01-31 12:28] borpin commented on #1355
@k-plan I think there should be an option for folk who do not want to migrate to V6 to at least be able to move to v159 - the last, and greatest, of that series!  In this case, for me, I'm not going to move.  The whole OS is on an HDD so rebuilding that is not an option at this time.  It works fine as a data gatherer for my weather station (hence the HDD as there are frequent writes).

[2018-01-31 12:30] Fourdee commented on #1440
@stoinov

Hi,

The ```dietpi.txt``` vars have all be renamed in v6.0. Please ensure the following cases are met:
- Use of v6.x image (v159 or lower no longer supported) http://dietpi.com/download. You have already done this 👍
- Use and edit the ```dietpi.txt``` file, located after image write on the ```/boot``` partition.  (eg: do not use an older ```dietpi.txt```, it will no longer work). This is

[2018-01-31 12:37] stoinov commented on #1440
Thanks, This is what I've done - I opened the file directly from the newly created partition and updated any values I needed.

Is there requirement for all the variables to be there? Because I removed most of the ones I didn't need to change. I presume they will be set to default.

[2018-01-31 12:41] Gokujo commented on #1442
the same issue.
here are logs from xrdp:
`[20180131-13:31:23] [DEBUG] libscp initialized
[20180131-13:31:23] [INFO ] starting xrdp-sesman with pid 443
[20180131-13:31:23] [ERROR] bind error on port '3350': 22 (Invalid argument)
[20180131-13:31:23] [DEBUG] Closed socket 7 (AF_INET6 :: port 0)
`

I tried now to install **TightVNC** - xrdp don't start automatically

[2018-01-31 12:51] Fourdee commented on #1440
@stoinov

Please can you verify the following exist at the end of ```dietpi.txt```

[code]

I've just checked the downloaded image, exist. Without these you'll experience the error.

The only req is to not remove any of the VARs:
https://github.com/Fourdee/DietPi/blob/master/dietpi.txt#L5

[2018-01-31 12:52] Fourdee commented on #1440
@stoinov

If the above checks out, please upload your ```dietpi.txt``` after changes (removing any added passwords before hand), we can test locally.

[2018-01-31 13:32] MichaIng commented on #1036
@xanview
Is this issue still current? Test the new DietPi v6.0 image in case, since we made heavy rework there.

At least I can say that I was able to chroot from RPi into a RPi DietPi image, plugged via USB stick.

[2018-01-31 13:36] Fourdee commented on #1442
@Gokujo

I've updated the online doc, verified fresh install working on RPi 3 with:
- Module = Xorg
- Username = root
- Password = dietpi

It also runs with ```dietpi``` user and password, however few errors and DietPi scripts will not function as we only support ```root``` login's with desktop currently.

There are plans to implement this in the future: https://github.com/Fourdee/DietPi/issues/89

[2018-01-31 13:43] Gokujo commented on #1442
Ok, to run raspberry on root isn't good idea 'cause some modules need an ordinary user, like wsgi.
Temporary I solved this problem with bash script on startup

[2018-01-31 13:52] MichaIng commented on #928
I will close that issue. I think question was answered and for overall software quality it makes sense to regularly update the repo packages. On stable branches this is already relatively rarely and mostly just minor updates for stability, security,  performance, well tested with all other repo software packages.

[2018-01-31 13:52] #928 closed, assigned to nobody

[2018-01-31 14:09] stoinov commented on #1440
Yes, those two were removed. Will test later today with new file while just updating the required vars.

One question - is there an option to control the LED configuration? I couldn't found any references or help in the forum.

[2018-01-31 14:19] Electron752 commented on #801
I basically agree.  ARM64 was always experimental to begin with and was mostly a learning experience.  The actual performance benefits for the typical RPI user is rather low actually.

It's too bad the 1GB limit is rather fundamental to the chipset architecture.  But 1GB is quite a bit of ram for a typical RPI application to begin with.

[2018-01-31 15:54] k-plan commented on #1436
@Fourdee

- fixed download link here:  http://dietpi.com/phpbb/viewtopic.php?f=9&t=432&p

[2018-01-31 17:51] Fourdee commented on #1442
Completed.

[2018-01-31 17:51] #1442 closed, assigned to nobody

[2018-01-31 17:56] Fourdee commented on #1443
@iCra5h

Thanks for the report, where did you receive the message?
- on HDMI screen
- SSH

Did you modify any of the optional ```dietpi.txt``` entries to enable automation?

[2018-01-31 17:59] iCra5h commented on #1443
SSH only.
I didnt modify any files. Its stock image from site.

[2018-01-31 18:05] Fourdee commented on #944
@MichaIng

Performance wise, probably best in this case to have a include file eg:
[code]

As ```dietpi.txt``` grep scrape would take much longer, and sed to clear up the var before import.

[2018-01-31 18:08] Fourdee commented on #1443
@iCra5h

If the system is still in this state, please:
- login
- Press CTRL+C
- run ```htop```
- take a screenshot and paste here if possible

[2018-01-31 18:09] iCra5h commented on #1443
Ok

[2018-01-31 18:10] iCra5h commented on #1443
![capture](https://user-images.githubusercontent.com/35499812/35639390-bf6d499a-06c2-11e8-8270-49ecafb0caef.PNG)

[2018-01-31 18:11] Fourdee commented on #1443
@iCra5h

Thanks, looks like whiptail is cause, i'll try to replicate here.

~Quick solution for now:~
[code]

Then exit SSH and reconnect to resume setup.

[2018-01-31 18:16] Fourdee commented on #1443
Confirmed, I'll resolve and re-upload image when done.

[2018-01-31 18:17] iCra5h commented on #1443
Ok thx so much.

[2018-01-31 18:18] Fourdee commented on #1443
@iCra5h

Does not work, leave it with me.

[2018-01-31 18:19] Fourdee commented on #1443
Notes:
[code]
Automatic login is enabled, strange.

[2018-01-31 18:21] iCra5h commented on #1443
Yep, doesn't work.

[2018-01-31 18:44] Fourdee commented on #1443
Fixed image has been uploaded:
http://dietpi.com/downloads/images/DietPi_ASUSTB-ARMv7-Stretch.7z

@iCra5h
Many thanks for reporting this and assistance 👍

Tested and completed.

[2018-01-31 18:44] #1443 closed, assigned to Fourdee

[2018-01-31 18:48] Fourdee commented on #1436
Local testing past. Setting images to live.

[2018-01-31 18:52] Fourdee commented on #1436
Completed:
http://dietpi.com/phpbb/viewtopic.php?f=8&t=2317&p=8869#p8869

[2018-01-31 18:58] ghost opened #1444 "Inconsistent WiFi init connect (asus tb)"
## Workaround/Fix: https://github.com/Fourdee/DietPi/issues/1444#issuecomment-362385108

---

#### Required Information:
- DietPi Version v6.1
- SBC Device ASUS TB v1.2
- Power supply used 5V 3.0A
- SD card used SanDisk Ultra 16GB
- Distro DietPi v6.0 / Standard Kernel

#### Expected behaviour:
First boot sequence should boot up and initialiaze the wlan0 to static like in dietpi.txt it is set.

##

[2018-01-31 19:06] iCra5h commented on #1443
Thx

[2018-01-31 19:11] ghost commented on #1444
UPDATE: the service which will never start up is called "device-voltage".service or similar... (FYI)

with the v6-1 from begininng no problem at all .... only after it! It seems like the drivers being loaded may be causing the problem, but than the driver is doing some mess after the reboot.

No way around it atm.

At least the kernel seems to be the issue at least.

latest distro from: today = no

[2018-01-31 19:46] midwan opened #1445 "NTPD | Time to sync exceeds acceptable levels"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version | v6.1
- SBC Device     | RPi Zero (armv6l) (index=1)
- Distro         | stretch (index=4)
- Command        | Connection test: http://install.pi-hole.net
- Error Handler  | G_ERROR_HANDLER

#### Additional Information (if applicable):
- Software title | DietPi-Software
- Can this issue be replicated on a fresh installatio

[2018-01-31 19:50] midwan commented on #1445
Looking at the above, it seems rather obvious now: Since the NTPD failed to update the time, I'm assuming the Pi has an older time and so the certificate appears to be valid sometime in the future... :)

The question then is, why did the NTPD fail (and still does)?

[2018-01-31 20:43] midwan commented on #1445
Manually selecting another NTP server (Europe in my case) seems to work, and I can proceed.
Closing this issue (though weird the default didn't work?)

[2018-01-31 20:50] midwan commented on #1445
Actually I take that back.. when going back to installing Pi-Hole, the NTPD time sync keeps failing in the same way... :-( I *thought* it worked.

The Pi time is still incorrect (in the past).

Edit: I can proceed with the installation if I set the correct date/time manually, but the reason for this issue's existence is to find out and resolve the failure of NTPD.. ;-)

[2018-01-31 21:44] stoinov commented on #1440
I confirm that it all worked out once I left all variables in the text file.
There was just one issue - even though I've set `CONFIG_HDMI_OUTPUT=0` the configuration was still with enabled HDMI. All other changes were applied correctly.

And is there a way to control the LED with dietpi.txt?

[2018-02-01 08:24] ghost opened #1446 "Node Red: Failed to install: node-shri-dashboard"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version 6.1
- SBC Device Raspberry PI 3 Model B
- Power supply used 5V 2.3 A
- SD card used Toshiba Exceria 16GB and Transcend TS4GUSDHC10 4G (second test)
- Distro Linux LRed 4.9.59-v7+ #1047 SMP Sun Oct 29 12:19:23 GMT 2017 armv7l GNU/Linux

#### Additional Information (if applicable):
- Software title? NODE RED
- Can this issu

[2018-02-01 13:07] Fourdee commented on #1444
@SuBLiNeR

Thanks for the report, we'll try to replicate 👍

[2018-02-01 13:10] Fourdee commented on #1446
@bkappa

Thanks for the report 👍

node-pre-gyp ERR! Pre-built binaries not found for bcrypt@1.0.3 and node@9.5.0 (node-v59 ABI) (falling back to source compile with node-gyp)
make: Leaving directory '/usr/local/lib/node_modules/node-red/node_modules/bcrypt/build'

Looks like its building the pre-req's fine from source.

We'll try to replicate in testing, see whats up.

[2018-02-01 13:15] Fourdee commented on #1445
@midwan

The Pi time is still incorrect (in the past).

Strange, we'll try to replicate. We may need to debug your system and the NTPD process, but, i'll try to verify same results locally 1st.

[2018-02-01 13:20] Fourdee commented on #1440
@stoinov

No ```dietpi.txt``` entries for LED control currently, mostly due to kernel limitation/support across devices for consistent LED control.

The following program must be run to set this up, per system:
[code]

Also available in ```dietpi-config```

---

As per the ```dietpi.txt```, ```CONFIG_HDMI_OUTPUT``` only applies to RPi:

I'll mark this as closed, as the original issue is now resolv

[2018-02-01 13:20] #1440 closed, assigned to nobody

[2018-02-01 13:56] MichaIng opened #1447 "DietPi-Software | OpenMediaVault: Installation issue - GPG repo error"
[code]

So GPG error on OMV repo.

[2018-02-01 14:04] Fourdee commented on #1446
Notes:

- 🈯️ Install node-red via ```dietpi-software```
- 🈯️ Install dashboards
[code]

![image](https://user-images.githubusercontent.com/7077026/35682672-6eeae56c-0759-11e8-9f69-4e67ddda238b.png)

[2018-02-01 14:15] Fourdee commented on #1444
Notes:
- Confirmed on initial boot
- Strange, worked on 2nd attempt.
- Failed after reboot/update
- 🈺 ```voltage-detect``` fails due to python not being installed by default in DietPi. All this does is detect low voltage on MicroUSB (4.65V <). Not critical to device operation and/or WiFi, as long as sufficient PSU used.
- Subsequent reboots, 1/5 WiFi is fine.
- In non-functional state, ifup/down f

[2018-02-01 14:21] Fourdee commented on #1446
@bkappa

Please try:
https://github.com/Fourdee/DietPi/issues/1446#issuecomment-362275028

[2018-02-01 15:03] Fourdee commented on #1444
Putting this down to a possible Kernel/driver issue of ```8723bs``` (https://github.com/Fourdee/DietPi/issues/1444#issuecomment-362278083), other devices are fine.

[2018-02-01 15:19] #1436 closed, assigned to Fourdee

[2018-02-01 15:28] Fourdee commented on #1445
@midwan

Did you select ```retry``` 1st, before then selecting ```override```? Or ```override``` in 1st instance the prompt showed up?

Failing NTP sync depends vastly on the network performance and ntp mirror. It can take longer than 30 seconds in some cases (all we allow for before the prompt), however, in most cases, selecting ```retry``` for the NTP time sync at this point will succeed.

---

[2018-02-01 15:41] midwan commented on #1445
@Fourdee
I tried retry a few times first, but it didn't seem to help.

Testing DietPi on another board (pine64), showed the exact same problem as well.
I tried changing the mirror to a local one as well (se.pool.ntp.org), but even though I could get a ping from it in around 23ms, the time sync still failed.

I had to manually set the date/time to proceed.

[2018-02-01 15:45] Fourdee commented on #1430
Test 1 RPi Stretch:
- Fresh image, defaults
- Go through all of 1st run setup, no changes. Reboot
- ```dietpi-config```, add de.DE-UTF8 , set as default. reboot
-- No errors
- 🈯️ ```apt-get install mc```
[code]

Test 2 RPi Stretch:
- Fresh image, defaults
- During 1st run of ```dietpi-software```, use ```dietpi-config```, add de.DE-UTF8 , set as default.
- Continue with dietpi-software default ins

[2018-02-01 15:59] Fourdee commented on #1430
@JasonSwindle
@k-plan

I'am unable to replicate in local testing, we'll need more info:
https://github.com/Fourdee/DietPi/issues/1430#issuecomment-362306553

Please can you provide the exact steps you completed (after image write), to cause the ```0.UTF-8``` error?

[2018-02-01 16:04] Fourdee commented on #1445
@midwan

Thanks 👍

Any chance you can run the following and paste results:
[code]

---

Success should result in:
[code]

[2018-02-01 16:36] MichaIng commented on #1207
I guess this is can be closed as several updates went on. Reopen on demand.

[2018-02-01 16:36] #1207 closed, assigned to nobody

[2018-02-01 16:40] MichaIng commented on #1159
Also the hint, that nginx is not supportet is obsolete. I will take care of it together with the other certbot rework: https://github.com/Fourdee/DietPi/issues/734

[2018-02-01 16:42] k-plan commented on #1430
@Fourdee

RPi Zero with RPi Stretch (DietPi v6.0, no auto update to v6.1 because not available at this time):

- During 1st run of `dietpi-software`, use `dietpi-config`, add `de.DE-UTF8` , set ` en_GB.UTF-8` as default.
- change NTP server to `de.pool.ntp.org`
- Hit` OK `and watch messages in terminal:
- after now automated running  `G_AGI ` ( `apt-get update` ,` apt-upgrade` ,  `apt-get install

[2018-02-01 17:06] k-plan commented on #1447
@MichaIng

hmm ... as far as I know OMV 3.x Erasmus only support Debian8 (Jessie)

For Stretch (Debian 9) it will need OMV 4.x Arrakis.
https://de.wikipedia.org/wiki/OpenMediaVault#Versionsgeschichte

But OMV 4.x is a Preview/Developer/Testing build at the moment.

http://packages.openmediavault.org/public/dists/arrakis/

[2018-02-01 17:06] ghost commented on #1444
@Fourdee So it looks like it must have something to do with the kernel as i expected. Which kernel was being used than? Didn't you used the latest available from TinkerOS or from DEBIAN ?
Latest one should be implemented and working from TinkerOS 2.0.4 or 1.8.

Suggestion: I'm running now TinkerOS from command line and everything works fine so far. I'll now tryin' the PREP-script from your git. Le

[2018-02-01 17:21] k-plan commented on #1447
@MichaIng

Sorry, have to search for it.
conjure up -  it should not be in `dietpi-software` any more since v148 (08/04/2017):

https://github.com/Fourdee/DietPi/blob/643889fcb1cddd077b9e216399c3a56cd6e52df1/CHANGELOG.txt#L495

https://github.com/Fourdee/DietPi/issues/721#issuecomment-274515323

https://github.com/Fourdee/DietPi/issues/851

[2018-02-01 17:33] midwan commented on #1445
[code]

[2018-02-01 18:06] Fourdee commented on #1437
Completed and tested.

[2018-02-01 18:06] #1437 closed, assigned to Fourdee

[2018-02-01 18:15] Fourdee commented on #1444
@SuBLiNeR

Correct 2.0.4

I believe the previous image we used would of been: 1.8. We need to test PREP with 1.8 to verify working WiFi and in-turn kernel cause.

[2018-02-01 18:28] ghost commented on #1444
@Fourdee Currently running the PREP-Script over 2.0.4 .
Let's see if afterwards it runs well, if not are there any chances to get maybe back to v158/159, so others could still enjoy DietPi?? At the current state the v6.0 should be taken down for ASUS-TB, shouldn't it?

**UPDATE:**Script fails at last part while trying to fetch files. :( Trying now with 1.8 as i guess the kernel is 2.0.4 is being f

[2018-02-01 18:55] Fourdee commented on #1444
@SuBLiNeR

TinkerOS v1.8 is fine, 10 reboots, WiFi always up.

Does suggest kernel issue, however, there could be image specific WiFi changes done by tinkerOS in v2.0.4, that we are either not aware of, breaking its functionality.
Unable to find any additional custom services in v2.0.4, that may be a factor.

Options:
- Revert our image to tinker OS v1.8 PREP built
- To 100% verify kernel issue, c

[2018-02-01 19:05] ghost commented on #1444
@Fourdee that what i'm suggesting to do now.... let's see... not 100% sure about it'll work...

How do i copy kernel from v1.8 to dietpi if the Prep script fails again? Simply copying kernel.img from 1.8 to DietPi v6 ?

[2018-02-01 19:18] Fourdee commented on #1444
@SuBLiNeR

Remove these folders/files from current DietPi tinker OS v2.0.4 image, then copy the contents from the tinker OS v1.8 image
[code]

[2018-02-01 19:24] Fourdee commented on #1444
Ok, i'll mark this as known issue, I'd prefer to keep the v2.0.4 based image as default with latest kernel. We'll offer a v1.8 based image as alternative for WiFi users.

[2018-02-01 19:35] ghost commented on #1444
Okay, even copying the 1.8 kernels doesn't work. Trying now Prep-script on TinkerOS 1.8

Alternativ: Reupload v.158 which works for TB...

btw. even eth0 stops working with v 6.0 somehow... stranged...

[2018-02-01 19:37] Fourdee commented on #1410
@midwan

Thanks for the info 👍

I'll try and pick this back up over next few days, got side tracked with bug fixes etc.

[2018-02-01 20:02] k-plan commented on #1445
@Fourdee

seem to happen from time to time.

Fresh image RPi-Zero (`dietpi.txt` only change hostname):

Ethernet is a USB adapter: `Bus 001 Device 002: ID 0b95:772b ASIX Electronics Corp. AX88772B`

IP-address and DNS: via DHCP

-  1.) boot => resize fs

- 2.) boot => auto update v6.-1 => v6.1 :

[code]

- 3.) boot:

[code]

`/var/log/ntpd.log`

[code]

[2018-02-01 20:13] ghost commented on #1444
@Fourdee Horray... this version works oob. No Problems anymore!

root@DietPiTB:~# uname -a
Linux DietPiTB 4.4.16-00006-g4431f98-dirty #1 SMP Mon Apr 17 17:27:25 CST 2017 armv7l GNU/Linux

SOLVED:   The issue is the kernel of 2.0.4. Now everything works.

[2018-02-01 20:13] Fourdee commented on #1445
Thanks guys 👍

@midwan

15+ minutes to sync 😨

@k-plan

1+ minute to sync

---

Notes:

Below: most likely due to ```ntpd``` being started, prior to DNS being available during boot. However, it seems to recover regardless:
[code]

Linked for reference as its the only major ntpd specific change (that I can remember 😉 ): https://github.com/Fourdee/DietPi/commit/cb2915a11d50a98e36ad2600ed0527c74178c6

[2018-02-01 20:21] Fourdee commented on #1445
@midwan @k-plan

Did either of you notice any changes/improvements when using alternative NTPD mirrors (if changed)?

As I cant replicate the issue here, if you have the time, i'd appreciate it if we could try the following change:
[code]

At the bottom replace all 4 ```pool``` entries, with ```server```, eg:
[code]
- Save changes
- reboot
- verify sync time:
[code]

---

atypical result:
[code]

[2018-02-01 20:28] Fourdee commented on #1444
@SuBLiNeR

Excellent, thanks for verifying 👍 . I'll mark this as closed.

Note to self:
- If we get multiple reports of same issue, swap default image.

[2018-02-01 20:28] #1444 closed, assigned to Fourdee

[2018-02-01 20:30] Fourdee commented on #1430
@k-plan

Legend, thank you, i'll try to replicate tomorrow 👍

[2018-02-01 20:54] Fourdee opened #1448 "Native PC BIOS image | Retry"

[2018-02-01 21:18] blogabe commented on #1355
@Fourdee Allo image is spot on and works.  I had downloaded the generic RPi image from the download page, not the specific Allo Web GUI image.  Reflashed and everything is as it should be.  Letting you know here since I don't have an account at computer audiophile and I see that thread has many questions about the upgrade.  Either way, for those of us using dietpi w/ Allo, reflashing and following

[2018-02-01 21:34] midwan commented on #1410
@Fourdee
I've asked the person who worked on the port to get in touch with you about using the custom kernel and extra modifications used on the Tinkerboard, since we're using DietPi as a basis now :)

I think getting GPU support on the Tinkerboard using DietPi would be beneficial to all...

[2018-02-01 21:37] dargow opened #1449 "No Wi-fi connection after installation"
## Creating a bug report/issue:
No wi-fi connection after system installation.
It seems that the system as a whole is working, but I do not have the opportunity to check on the Ethernet.
Issue seems same like #1444 and #1427
#### Required Information:
- DietPi Version 6.0
- SBC Device OPiZero
- Power supply used 5V2A Samsung
- SD card used 16GB Class 10 Silicon Power
- Distro Jessie

#### Addition

[2018-02-01 22:11] midwan commented on #1445
@Fourdee
When I changed servers, I didn't notice any difference - it still tried 30 times and finally gave up.

After making the changes suggested above:

[code]

...still hasn't come back after 30 minutes

[2018-02-01 22:12] midwan commented on #1445
Had to cancel my way out:

[code]

[2018-02-01 23:56] MichaIng commented on #1447
@k-plan
Ah lol yes thats true, it is not reachable via dietpi-software whiptail dialog. I tested just via `dietpi-software install 'ID'` :smile:.
Was already recognizing that one can install even incompatible software by this and wanted to open also topic about that. Maybe it is wanted (for testing etc) but also dietpi.txt auto install uses this method so end users can accidentally install uninten

[2018-02-01 23:56] #1447 closed, assigned to nobody

[2018-02-02 00:19] MichaIng commented on #1430
I am not sure if it is related, but as far as I can follow the code that late hour, if en_GB is chosen for default, then it is the only one available. dietpi-set_software locale takes the chosen default language and adds en_GB.UFT-8 to be the only generated ones. We really need to change this behaviour and leave all user selected languages in place, just adding en_GB if missing. I review possibili

[2018-02-02 07:57] ghost commented on #1446
Thanks for your help.
I have done some tests that I hope can help you.

I installed Node RED using the latest version of Raspian Strecth Lite, the latest of DietPi and the "old" DietPi v158
These are the results ...
![nr error](https://user-images.githubusercontent.com/36029522/35722542-0634d71e-07f7-11e8-81b4-f649b00fb90e.png)
![nr ok](https://user-images.githubusercontent.com/36029522/35722547-0

[2018-02-02 07:59] ghost commented on #1446
uhhmm!! I close the comment! sorry

[2018-02-02 09:07] k-plan opened #1450 "DietPi Software | OpenVPN doesn't work"
@Fourdee

http://dietpi.com/phpbb/viewtopic.php?f=11&t=2768

Quick-Check:

RPi Zero W (armv6l) DietPi v6.0

[code]

-----------

After reboot:

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2018-02-02 09:23] k-plan commented on #1447
@MichaIng

Ooops ...

[code]
Please do this. 👍
Seem you are not alone, but user had delete his posting on forum.

[2018-02-02 09:29] k-plan commented on #1445
@midwan

What did you use on RPi-Zero?

- USB Ethernet dongle ?  Typ?

- USB WiFi dongle ? Typ?

[2018-02-02 11:24] Elluminatus opened #1451 "Can`t update from V159 to V160 - BananaPi"
Reference Code: 01a4b232-ebaa-4fe0-a9f2-8244da3943b5-0

Hi, I tried to update my System from V159 to V160 via the dietpi-update command.
But the System says:

Your version of DietPi is now obsolete and cannot be updated.     │
     │                                                                    │
     │  Please download the latest DietPi image:                          │
     │  - http://diet

[2018-02-02 11:26] Elluminatus commented on #1451
Saw the News in the forum that below V159 I have to fresh install dietpi

[2018-02-02 11:26] #1451 closed, assigned to nobody

[2018-02-02 11:50] ghost opened #1452 "DietPi don't expand SD-Card on Rock64"
#### Required Information:
- DietPi Version: 6.0
- SBC Device: Rock64
- Power supply used: 5V/2A Offical Rock64 Power Supply
- SD card used: SanDisk Ultra 32 GB
- Distro: Stretch | Linux DietPi 4.4.77-rockchip-ayufan-136 #1 SMP Thu Oct 12 09:14:48 UTC 2017 aarch64 GNU/Linux

#### Expected behaviour:
DietPi should expand the SD card

#### Actual behaviour:
DietPi don't expand SD-Card

#### Error Me

[2018-02-02 12:27] MichaIng commented on #734
@Fourdee
Found by change another issue, generally using backports:
#### Required Information:
- DietPi Version | v6.1
- SBC Device     | Virtual Machine (x86_64) (index=20)
- Distro         | jessie (index=3)
- Command        | G_AGI: sqlite3
- Error Handler  | G_ERROR_HANDLER

#### Additional Information (if applicable):
- Software title | DietPi-Software

#### Expected behaviour:

#### Actual be

[2018-02-02 12:45] midwan commented on #1445
@k-plan
I used a USB Ethernet adapter, specifically this one:
https://www.amazon.co.uk/gp/product/B00RM3KXAU/ref=oh_aui_detailpage_o06_s00?ie=UTF8&psc=1

I've been using the same setup with DietPi for the last two years or so, only now upgraded to the latest so I had to re-flash the distro and set things up from scratch.

[2018-02-02 14:25] Fourdee commented on #1447
@MichaIng

Yep, ```dietpi-software install x``` was originally added for internal use, but end users also enjoy the automated/quick install without menus.
So yep, we need new ticket to:
- Remove OMV completely from the code
- ```dietpi-software install x```: Check for disabled G_HW_ARCH G_DISTRO and now prevent it.
- DietPi-Automation: verify ```dietpi.txt``` entries do not allow for disabled item

[2018-02-02 14:26] Fourdee commented on #1452
@canoxnet

Thanks for the report 👍

We'll try to replicate with local testing.

[2018-02-02 14:35] Fourdee commented on #1445
@midwan

Aside from the pool change (which you have reverted in testing), the only change I can think of is kernel version. We now use the default APT RPi kernel ```4.9.59```.
However, if you had this install for 2 years, its probably an older kernel either way.

The only things I can suggest to try is:
- Set STATIC IP and google DNS in ```dietpi-config```, then retest
- Update the RPI kernel ```G

[2018-02-02 14:38] Fourdee commented on #1449
@dargow

Thanks for the report 👍

We'll try to replicate.

Can you confirm how you setup the WiFi connection (```dietpi-config``` or with ```dietpi.txt```)?

[2018-02-02 14:54] midwan commented on #1445
@Fourdee
Thanks for the suggestions.

- I already have set a Static IP and the Google DNS in the config. :)
- Will try and report back
- Did that already as part of the tests

[2018-02-02 14:57] Fourdee commented on #1450
@k-plan

Thanks confirmed:
- 🈴 Stretch
- 🈯️ Jessie | fine

---

due to ```openssl.cnf: No such file or directory```

Highest version available in ```/etc/openvpn/easy-rsa``` is ```openssl-1.0.0.cnf```, but stretch is ```1.1.0f-3+deb9u1```

🈺 Attempt with ```ln -sf openssl-1.0.0.cnf openssl.cnf```
[code]

[2018-02-02 15:02] k-plan commented on #1445
@Fourdee

Sorry  to bother, but @midwan  has installed `PiHole`.

He should have a `STATIC IP` but setting `google DNS` as `STATIC DNS` in `dietpi-config`  for host/RPi-Zero/DietPi didn't work, because of  running `PiHole`

![2018-02-02](https://user-images.githubusercontent.com/17237601/35739564-46acb56a-0832-11e8-9098-1d8487bcfb0f.png)

[code]

![2018-02-02 16-09-14](https://user-images.githubus

[2018-02-02 15:22] Fourdee commented on #1450
@MichaIng
For ref: I'am replacing OMV ```126``` with LibSSL1.0.0
Software that requires libssl1.0.0 (under stretch):
- VPN 97
- Mosq 123
- hotspot 60
- Shairport 37
- Tonido 134 | 🈯️  I need to retest this, made some changes

[2018-02-02 15:42] ghost commented on #1452
I was able to fix the problem by running resize_rootfs.sh. Nevertheless, the SD card will not be expanded automatically on first startup

[2018-02-02 16:02] Fourdee commented on #1450
Hmm: https://github.com/OpenVPN/easy-rsa/issues/138

```Can't open /etc/openvpn/easy-rsa/keys/index.txt.attr for reading, No such file or directory```
https://github.com/Fourdee/DietPi/issues/1450#issuecomment-362608574
Seems to complete fine, regardless of this error.
[code]
🈯️ Yep, tested fine:
[code]

[2018-02-02 16:17] Fourdee commented on #1450
Completed, resolved for v6.2.

[2018-02-02 17:16] dargow commented on #1449
@Fourdee with dietpi.txt.

[2018-02-02 17:55] Fourdee opened #1453 "G_DIETPI-NOTIFY visual cleanup"
Attempting to:
- Reduce the use of banner style print for sub functions, to reduce confusion of the originating program (eg: dietpi-software install = banner, dietpi-services stop = banner).
- Print the originating program name, during all G_DIETPI-NOTIFY to avoid confusion.
- Try not to create more confusion, however, correct info for me is more important?

Open to discussion/suggestions.

So far

[2018-02-02 17:57] midwan commented on #1445
@k-plan
Correct, I am running Pi-hole on this. The DNS is set to Google from Pi-hole's options, since you are not allowed to change them in dietpi-config.

However, the issue with the NTPD sync failure came up before installing Pi-hole also. In fact, it stopped me from installing it, because due to the time skew the site's certificate looked invalid (had a "future" timestamp).

@Fourdee
Regarding

[2018-02-02 18:01] Fourdee commented on #1453
I would set low priority, but this has been bugging me for a long time 🤣

[2018-02-02 18:21] Fourdee commented on #1445
@midwan

Thanks for testing 👍

kernel is an improvement, but still not good enough.

Really don't know where to go from here as I cant replicate on any device, I can only assuming network is the factor. We rely on ```ntpd``` binary to complete its task, and as far as I can see, all the settings are standard and valid for ntpd.

We've not had other reports (aside from @k-plan but thats only 1 minut

[2018-02-02 18:22] k-plan commented on #1450
@Fourdee

sorry for bother but  what is with `id 117 | =2 | pivpn` ?

Error message while install script is running:

[code]

[2018-02-02 18:30] Fourdee commented on #1450
@k-plan

https://github.com/Fourdee/DietPi/issues/1450#issuecomment-362626872
^^

From what I can work out, its a bug in OpenVPN and/or Debian Stretch repo, expecting a file that does not exist. ```/etc/openvpn/easy-rsa/pki/*``` does not exist on default installation of OpenVPN via APT.

PiVPN claim to have resolved the issue: https://github.com/pivpn/pivpn/issues/337, yet if (https://github.com/F

[2018-02-02 18:33] Fourdee commented on #1410
@midwan

Agree.

We'll focus on RPi 1st, then Odroid and ASUSTB.

[2018-02-02 18:39] k-plan commented on #1450
@Fourdee

^^ yes, but have you check to install` pivpn `and see what's happens?
For me here the same as with OpenVPN  ....  ^^

[code]

[code]

[2018-02-02 18:48] Fourdee commented on #1452
@canoxnet

Unable to replicate:
[code]

Please provide the resize logs:
[code]

---

Reference, successful logs:
[code]

[2018-02-02 18:51] k-plan commented on #1445
@Fourdee

Yes, but  by hitting `chancel` .^^
I open a second SSH terminal, to get a look into log file and like magic, get message` NTP sync` on first terminal.
Have a look at the time stamps. I have done nothing, but 1 min later NTP synchronizing.

[code]
@midwan

- can we please leave it alone for some day to see what will happen and pick  back later?
If we get more NTP related error issue?

[2018-02-02 18:54] Fourdee commented on #1449
notes:
[code]

[2018-02-02 19:08] Fourdee commented on #1449
@dargow

Please re-download the fixed image below:

Due to missing firmware, added to image:
http://dietpi.com/downloads/images/DietPi_OPiZeroH2-ARMv7-Stretch.7z

I've tested this locally, connects fine. Therefore i'll mark as closed, however @dargow please reopen if required.

[2018-02-02 19:08] #1449 closed, assigned to nobody

[2018-02-02 19:18] Fourdee commented on #1450
@k-plan

https://github.com/Fourdee/DietPi/issues/1430

Tested PiVPN, aside from https://github.com/Fourdee/DietPi/issues/1450#issuecomment-362666554 https://github.com/Fourdee/DietPi/issues/1450#issuecomment-362626872 (which I believe is out of our control), installs and configures fine.

[2018-02-02 19:37] midwan commented on #1410
@Fourdee
BTW, here's the repo with the kernel used, config and info about the extra stuff needed (gpu blobs etc):
https://github.com/alynna/tinker-kdev

It has been tested to work on DietPi. ;-)

[2018-02-02 19:48] Fourdee opened #1454 "DietPi-Software | Uninstalling multiple items results in endless loop"
Whiptail uninstall.

Fix here: https://github.com/Fourdee/DietPi/issues/1416 Possibly broke this.

[2018-02-02 20:06] Fourdee commented on #1454
cause of loop:
[code]

[2018-02-02 20:08] Fourdee commented on #1454
non local ```i``` in ```dietpi-globals``` (again). My fault, forgot. Will send PR to resolve.

[2018-02-02 20:16] Fourdee commented on #1454
Fixed.

@Fourdee 🥇 🔧 whoopsie!

```G_DEV_1```, all good :)

[2018-02-02 20:16] #1454 closed, assigned to Fourdee

[2018-02-02 21:45] MichaIng commented on #1453
@Fourdee

Hmm it would be somehow cool, if we could set a marker, that something is called from within another script/function.

Inside scripts:
`(( $HIERARCHY )) && export HIERARCHY=$(( HIERARCHY++ )) || export HIERARCHY=1`

Inside G_DIETPI-NOTIFY 3
`(( $HIERARCHY > 1 )) && print minor banner || print major banner`

We just have to take care, that it is not added to dietpi-globals, to not set thi

[2018-02-02 22:23] Fourdee commented on #1391
As we no longer offer Stretch images for Odroid, due to limitations with available Meveric repos, where the Kodi binaries are installed from . I'll mark this as closed.

[2018-02-02 22:23] #1391 closed, assigned to nobody

[2018-02-02 22:27] midwan commented on #1445
@k-plan
No problem from me, as I had a manual workaround. I only opened this up because I thought it might need looking into.

[2018-02-02 22:31] Fourdee commented on #1375
@k-plan

We could, however, it relies on the user applying our update method, and, assuming PiHole does not change the update process.

The current solution is for a fresh install, uninstall then install PiHole.

mmm, what we could do is replace ```/etc/lighttpd/lighttpd.conf``` during ```dietpi-services start``` with our default,
+ ```sed -i '/^server.document-root/c\server.document-root        =

[2018-02-02 22:35] Fourdee commented on #1387
I'll mark as closed, no response/outdated. If the issue still exists, please reopen.

[2018-02-02 22:35] #1387 closed, assigned to nobody

[2018-02-02 22:37] k-plan commented on #1445
@midwan

nice to hear this.
We have to settle down a little bit. To many open ends because of v6.x

👍  Well done!

[2018-02-02 22:37] Fourdee commented on #1264
Marking as closed due to lack of interest from our user base. We'll reopen if interest returns.

[2018-02-02 22:37] #1264 closed, assigned to nobody

[2018-02-02 22:42] Fourdee commented on #1257
Marking as closed due to the following:
- LED control scrapes solely from the kernel for all its available LED's and options.
- LED control then sets the selected LED option, directly to the kernel. As intended. If the result is not expected, then the kernel is the cause.
- Applying "fixes" per device is not the way forward, as a kernel update, which may improve kernel LED support, could simply re

[2018-02-02 22:42] #1257 closed, assigned to nobody

[2018-02-02 22:49] Fourdee commented on #1228
Marking as closed, no progress. We offer online docs via our forum. I'am unable to take this on for the foreseeable future, due to lack of available time.

If someone is able to pick this one up, please reopen.

[2018-02-02 22:49] #1228 closed, assigned to nobody

[2018-02-02 22:51] Fourdee commented on #1167
Seems ARMv6 binaries are now available:
http://nodejs.org/dist/latest/node-v9.5.0-linux-armv6l.tar.gz

And https://raw.githubusercontent.com/taaem/nodejs-linux-installer/master/node-install.sh contains the ARMv6 detection.

Simple install test required.

Test:
- 🈯️ RPi Zero W

All good 😉
[code]

Pointless thoughts:
```time dietpi-software list``` ```real    0m6.222s```, sometimes wish I started th

[2018-02-02 23:07] k-plan commented on #1375
@Fourdee

How can I promise this?  Never ever ...  😞

Rebooting, all inital dialog stuff, reconfigure, loosing graph and statistic, please no.
Sorry to say, but that is not a solution. 👎

Really? 😄   Don't think this will ever happen.  :rofl:

I can't say. I'm not familiar with this whole `git Client` `git clone` stuff and don't know how it works. Why? Because I'm a user and not a coder. 😉

This t

[2018-02-02 23:07] k-plan commented on #1375
Closed

[2018-02-02 23:16] #1167 closed, assigned to nobody

[2018-02-02 23:24] Fourdee commented on #1375
@k-plan

Updating PiHole:
PiHole overwrites the lighttpd.conf during updates, so please backup your lighttpd.conf before updating:
Backup lighttpd.conf
mv /etc/lighttpd/lighttpd.conf /etc/lighttpd/lighttpd.conf.bak
PiHole can then be updated by running pihole -up
Restore lighttpd.conf
CODE: SELECT ALL
mv /etc/lighttpd/lighttpd.conf.bak /etc/lighttpd/lighttpd.conf

The online doc references an upda

[2018-02-02 23:35] k-plan commented on #1375
Tested and did not work ... (by my self)

Pi-hole v3.1 => Pi-hole v3.2

[2018-02-02 23:38] Fourdee commented on #1375
@k-plan

Ok, this is one of most popular installs.
Lets find out exactly whats needed to update and be compatible, then we can discuss possible implementations. Ideally we need to achieve a future proof method (as best as we can).

Note to self:
- Global for ```pihole``` ?

True example of the phrase "change of heart" 😃

[2018-02-02 23:45] k-plan commented on #1375
@Fourdee

👍

Sorry, I don't want to discuss with you. You can do or not do what ever you like. 😄
It's okay for me.

Long day, let's  pack up. Good night.

[2018-02-03 00:07] MichaIng commented on #1240
@Fourdee @k-plan
If you have some spare time and otherwise unused RPi, could you test, if `moOde` is working with just `nginx-light` installed (instead of `nginx`=`nginx-full`), and without `xml-core`, `php5-xsl` and `php(5)-cgi`?

All other webserver dependant software is tested now on Jessie + Stretch (see above). All of them don't depend on named packages packages, but `rtorrent`. At least inst

[2018-02-03 00:23] k-plan commented on #1240
@MichaIng

Sehe ich das richtig, moOde benötigt einen RPi2 oder RPi3 mit Audio Ausgang, also mit einem DAC?
HDMI geht hier nicht, da ich mittlerweile Familien Fernseher Herumspielverbot habe. 😄
Dann wäre ich leider raus. Zu dem ganzen Audio Zeug habe ich eh' keinen richtigen Draht und somit kaum Erfahrung.

Alter Falter! Respekt, das wird ja richtig systematisch und strukturiert ausgetestet. 👍
Hut

[2018-02-03 13:34] MichaIng commented on #1240
@k-plan
RPi1 sollte auch gehen, jedenfalls haben wird moOde dort auch im DietPi-Software UI angezeigt.
Ich habe nun auch nicht mehr getestet, als das fehlerlose Starten/Navigieren des web interfaces und vereinzeltem Ändern von Einstellungen. Wenn da keine Fehler auftauchen und der nginx log nix anzeigt, scheint webserver bezogen ja alles nötige vorhanden zu sein.
Und eben, trotz low prio des Thema

[2018-02-03 13:50] Fourdee commented on #1240
@MichaIng

moOde is still in early dev, don't worry about it for now, i need to revisit the whole installation anyway.

[2018-02-03 15:17] tatoosh opened #1456 "Dietpi 6.1 shortcuts ?"
I installed Dietpi v6.1 on rpi2.
But now i can't use dietpi-commands anymore.
I have overwritten .bashrc - maybe that is the reason??

![grafik](https://user-images.githubusercontent.com/3670907/35768539-9222afba-08fd-11e8-9845-1966542a0f7d.png)

[2018-02-03 15:30] Fourdee commented on #1456
@tatoosh

The globals are loaded after completion of the login script, you must wait for it to complete. Did you CTRL+C straight after logging in?

You can manually load the globals with:
[code]

---

Verify the following matches:
```cat /root/.bashrc```
Should have the following at bottom.
[code]

[2018-02-03 15:58] tatoosh commented on #1456
thx @Fourdee - i copied my .bashrc from dietpi v159 ... i add this line so everythinks works fine!

[2018-02-03 15:58] #1456 closed, assigned to nobody

[2018-02-03 16:16] Fourdee commented on #1410
@midwan

#### Testing previous and dev AmiBerry binaries on RPi3 Stretch, with SDL2 installed as per your guide.
[code]
Both with/without ```xinit```

#### Under RPi OpenGL, using compiled SDL2 as per your guide:
- AmiBerry-sdl2 (old) is fine under ```xinit```
- AmiBerry-sdl2 (dev) under xinit, ```MESA-LOADER: failed to retrieve device info```.

---

@midwan
~```./configure --disable-video-rpi --e

[2018-02-03 18:48] Fourdee commented on #896
@MichaIng

Yep, ```sudo``` elevates to ```root``` user. Effectively the same as logging in as root.

[2018-02-03 19:49] MichaIng commented on #1240
@Fourdee
Okay, in this case I will open PR with suggested changes 🙂: https://github.com/Fourdee/DietPi/pull/1461

[2018-02-03 20:06] MichaIng opened #1462 "DietPi-Services/Software | Specific start/install- and reverted stop/uninstall order"
Some services depend on/access others. As DietPi-Services starts and stops them in the same order, there are short time spans, where errors can occur. I sometimes see access errors on database access tries or cron jobs accessing to web server e.g., during the many start/stop/restarts, done during testing installations.

We could reorder some obvious services and go through the array backwards (if

[2018-02-03 20:19] MichaIng commented on #697
I think we can close this. DietPi versions do not make too much sense, as anyway it will be updated to latest automatically on 1st run.
Kernel versions might make slightly more sense, but most of them are installed via APT packages and will also in case update on 1st run. Also then we would need to track those APT updates carefully, which is simply too much work for the little helpful info. Also k

[2018-02-03 20:19] #697 closed, assigned to nobody

[2018-02-03 20:48] MichaIng commented on #944
@Fourdee
Ah yeah that's true, especially since dietpi-services is called quite often.

We could also write the list directly into dietpi-services, into a certain place, marked by special comments. DietPi-Update would need to redo this.
Anyway we would need to somehow trigger `dietpi_controlled` on new entries, maybe introducing a new dietpi-services command option that rereads the include list, (i

[2018-02-03 20:49] Fourdee opened #1463 "DietPi-Software | IQaudio Cosmic Controller"
Vote 4 it on FeatHub: https://feathub.com/MichaIng/DietPi/+4

[2018-02-03 21:00] Fourdee commented on #1463
Quick test with: https://github.com/iqaudio/tools/blob/master/cosmiccontroller.py
- OLED not functional, not implemented yet?
- Rotary controller hard coded for ```Digital``` alsamixer control (eg: wont work for RPi onboard audio) ```encoder count change to 12; amixer: Unable to find simple control Digital,0```

[2018-02-03 21:01] Fourdee commented on #1463
[code]

[2018-02-03 21:30] MichaIng commented on #1453
On current implementation dietpi-services are a sub function in every case:
[code]
But otherwise looks good 😃.

[2018-02-03 21:43] #1240 closed, assigned to MichaIng

[2018-02-03 21:46] Fourdee commented on #1453
@MichaIng

Hehe, its getting there 😃 👍

Yep, still figuring how we can detect another script launch from initial script, whilst keeping track of it in globals, then switch to SUBF. Also monitor when it exits (eg: PID) and a few other things.

I'am basically playing around 🤣, will get there in the end 😃

[2018-02-04 12:07] RmG152 opened #1465 "OrangePi Zero Image can't read partition to edit config"
## Creating a bug report/issue:

#### Required Information:
- **DietPi Version:** v6 and v6.1

- **SBC Device:** OrangePi Zero
- **Power supply used:** 3A suply
- **SD card used:** Sandisk Ultra 32gb
- **Distro** : -

**#### Additional Information (if applicable):**
**- Software title?** DietPi
**- Can this issue be replicated on a fresh installation of DietPi?**
Yes

**#### Expected behaviour:**

[2018-02-04 12:37] lilghost05 opened #1466 "ProFTPd -basic error"
#### Required Information:
- DietPi Version | v.
- SBC Device     | RPi 2 Model B (armv7l) (index=2)
- Distro         | stretch (index=4)
- Command        | G_AGI: proftpd-basic
- Error Handler  | G_ERROR_HANDLER

#### Additional Information (if applicable):
- Software title | DietPi-Software

#### Expected behaviour:

#### Actual behaviour:

#### Steps to reproduce:

#### Additional logs:
[code]

[2018-02-04 12:38] midwan commented on #1410
@Fourdee
Very important question: What video driver do you have enabled in `/boot/config.txt` ?
KMSDRM will only work with **fkms** or **KMS**.

There's no need to run it under `xinit `from my tests here, but there are a few important details:

Legacy driver: **Dispmanx** can be used, but there's not OpenGL(ES) support (not that we use it in Amiberry)
FKMS driver: **Dispmanx** can be used, and the

[2018-02-04 13:44] symbios24 opened #1467 "Minecraft Pocket Edition"
Hello about the nuclear-powered server for Minecraft Pocket Edition for raspberry pi i have installed it with the latest DietPi(Stretch) but i cannot find any info about how to use it or if there is a webgui etc.
is the server start automatically after installed on reboot?

Thanks

[2018-02-04 14:34] Fourdee commented on #1467
@symbios24

Thanks for the report. Confirmed, this is missing from our online docs, we'll need to get it added:
http://dietpi.com/phpbb/viewtopic.php?f=8&t=5

[2018-02-04 14:36] MichaIng commented on #1453
@Fourdee
I added
[code]
to the globals section of our scripts. So, the for testing reasons printed, numbers in between show when subscripts are called and that the up/down counting works quite well.
All scripts call `G_DIETPI-NOTIFY 3`, but the code checks for `$HIERARCHY`:
[code]
Works quite well. The exported value is successfully reprinted (two identical values in front of `[ SUBF ]` and used b

[2018-02-04 14:44] Fourdee commented on #1466
@lilghost05

Hi,

If this is a direct copy/paste of the error, may indicate failed update from v159 > v6.0 (which is now patched).

Please can you paste results:
[code]

Regardless of the above, it may be advisable to start fresh, download and write the latest v6.0 image:
http://dietpi.com/download

[2018-02-04 14:45] Fourdee commented on #1466
Verify install, testing:
- 🈯️ RPi Stretch

[2018-02-04 14:47] symbios24 commented on #838
Can you do the wifi to work automatic i mean if you have a raspberry pi 3 with internal wifi only to use it, or if you have a usb wifi to use that instead without the need to configure it from network adapters menu.
thanks

[2018-02-04 14:49] Fourdee commented on #1465
Hi,

ARMbian based images now use their default partition settings, during build.

You'll need a EXT4 capable OS, to modify ```dietpi.txt``` on the image.

We have plans to add a FAT partition to those images, at some point in the future:
https://github.com/Fourdee/DietPi/issues/1423#issue-291560616

I'll mark this as closed, question has been answered. However, please reopen if required.

[2018-02-04 14:49] #1465 closed, assigned to nobody

[2018-02-04 14:54] Fourdee commented on #1453
@MichaIng

You beat me to it, great work 👍
Please send PR of what you have? I'll run some tests

[2018-02-04 15:38] Fourdee commented on #1467
From what I can work out (ref: https://thepi.io/how-to-set-up-a-minecraft-pocket-edition-server-on-the-raspberry-pi/)
- Nukkit has no web interface
- The server will be displayed under LAN games in Minecraft
https://thepi.io/wp-content/uploads/2017/08/minecraft-pocket-edition-nukkit-for-minecraft-pe.png

The program is launched automatically by DietPi during boot.

[2018-02-04 15:39] Fourdee commented on #1467
@symbios24

If you want a web interface MineCraft server, try following:
http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&start=60#p2068
http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&start=60#p2069

[2018-02-04 15:47] Fourdee commented on #1467
Online doc updated:
http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=10675#p10675

Marking as completed. Please reopen if required.

[2018-02-04 15:47] #1467 closed, assigned to nobody

[2018-02-04 15:49] symbios24 commented on #1467
thanks for add this, dont want a web interface i only asked if there is one since there was not any info,and i did not now anything about how the server works.

[2018-02-04 16:04] symbios24 opened #1469 "Extra Software"
Hello is it possible to add this Extra Software to DietPi Please

assaultcube server
openarena game
the battle for wesnoth
minetest server
manaplus client
terraria game server
freeciv
openttd

thanks

[2018-02-04 16:07] themax75 commented on #1452
I have the same issue on my Pine A64 1GB.

SD Card is 16GB.

Filesystem      Size  Used Avail Use% Mounted on
/dev/mmcblk0p2  845M  696M   96M  88% /
devtmpfs        458M     0  458M   0% /dev
tmpfs           491M     0  491M   0% /dev/shm
tmpfs           491M  6.6M  484M   2% /run
tmpfs           5.0M     0  5.0M   0% /run/lock
tmpfs           491M     0  491M   0% /sys/fs/cgroup
/dev/mmcblk0p1

[2018-02-04 16:15] themax75 commented on #1452
Update : I executed resize_rootfs.sh and got :

+ DEVICE=/dev/mmcblk0
+ PART=2
+ resize
+ fdisk -l /dev/mmcblk0
+ grep /dev/mmcblk0p2
+ awk {print $2}
+ start=143360
+ echo 143360
143360
+ set +e
+ fdisk /dev/mmcblk0

Welcome to fdisk (util-linux 2.29.2).
Changes will remain in memory only, until you decide to write them.
Be careful before using the write command.

Command (m for help): Disk /dev/

[2018-02-04 16:17] themax75 commented on #1452
Now df -h reads:
df -h
Filesystem      Size  Used Avail Use% Mounted on
/dev/mmcblk0p2   15G  699M   14G   5% /
devtmpfs        458M     0  458M   0% /dev
tmpfs           491M     0  491M   0% /dev/shm
tmpfs           491M  6.6M  484M   2% /run
tmpfs           5.0M     0  5.0M   0% /run/lock
tmpfs           491M     0  491M   0% /sys/fs/cgroup
/dev/mmcblk0p1   50M   14M   37M  28% /boot
tmpfs

[2018-02-04 16:43] MichaIng commented on #1453
@Fourdee
https://github.com/Fourdee/DietPi/pull/1470

[2018-02-04 17:48] DarrenSchwartz commented on #169
I’m interested in asterisk on this platform too.

[2018-02-04 19:07] Fourdee commented on #1453
I'll add following to all scripts, just incase we add any ```G_DIETPI-NOTIFY 3``` additions:
[code]

[2018-02-04 19:58] Fourdee commented on #1453
@MichaIng

Works a charm, great work 👍 , added some extra stuff, will send commit in a few:
![image](https://user-images.githubusercontent.com/7077026/35781735-c4403f60-09e5-11e8-9bc0-111da817d7c0.png)

[2018-02-04 19:59] Fourdee commented on #1452
@themax75

Thanks for the report, please can you paste results of our resize logs:
[code]

[2018-02-04 20:05] MichaIng commented on #1453
@Fourdee
Actually it should only be necessary, if:
1. `G_DIETPI-NOTIFY 3` is called and
2. The script itself is called within others

So `dietpi-letsencrypt` e.g. doesn't need it right now. But doesn't hurt also, so jep agree 😃.

€: Hehe, nice, already thought into similar direction with SUB1/2 😄.

[2018-02-04 20:10] MichaIng commented on #1469
@symbios24
Thanks for your request. Could you edit your post to add some more info to the software titles, some link to website and at best some official and/or self-proven install steps?

That would make it easier for us to compare effort/benefit and against solutions we already offer 😉.

[2018-02-04 20:10] themax75 commented on #1452
When I type that, it only shows :

resize2fs 1.43.4 (31-Jan-2017)
The filesystem is already 227840 (4k) blocks long.  Nothing to do!

[2018-02-04 20:16] Fourdee commented on #1452
@themax75

Thanks, appears rootFS partition resize failed, i'll try to replicate.

Note to self:
- Service Log (saved to rootFS) causing this to fail?

[2018-02-04 21:03] twisty-doerofthings opened #1471 "Installing WiFi Hotspot to BananaPi Pro via dietpi-config, SSL handshake fails in spider test"
## Creating a bug report/issue: Installing WiFi Hotspot to BananaPi Pro via dietpi-config

Both Ethernet and Wifi are enabled with Static IP config (eth0: 192.168.0.89, wlan0: 192.168.0.88).

#### Required Information:
- DietPi Version | v6.1
- SBC Device     | BananaPi Pro (armv7l) (index=51)
- Distro         | stretch (index=4)
- Command        | Connection test: https://deb.debian.org/debian/
-

[2018-02-04 21:04] Fourdee commented on #548
@k-plan @MichaIng

Reference:
https://twitter.com/armbian/status/960225496918306817

[2018-02-04 21:24] MichaIng commented on #548
@Fourdee
Just ignore. In the end users decide what kind of value something is.
The value of open source is, that using, changing and in case "rebranding" is possible, so you have a rich offer of solutions where users can decide what they need.

[2018-02-04 21:25] twisty-doerofthings commented on #1471
Attempted same steps locally, not via SSH, and installer ran without issue.

[2018-02-04 22:14] midwan commented on #1410
@Fourdee
Please note that the `dev` branch is now merged into `master` on my repo. :)
I've also made binaries available for multiple configurations (`sdl1` and `sdl2`). I've compiled the `sdl1` versions on DietPi and they seem to work fine.

Please let me know if you run into any problems! :)

[2018-02-04 22:14] k-plan commented on #548
@Fourdee
Who is armbian on twitter? Igor? Mikhail? Think not, sound for me like mister tk .... :rofl:
If so ... ignore. 💩  😃

It's only indicate, you are on on the right path.
Grudge will only be generated if somebody do thinks well and meet with success.
😉

@MichaIng

Hmm .... this is not as easy as it sound, to take it not personally.
Revile like this are for quite some time and be seated deep-r

[2018-02-04 22:33] Fourdee commented on #548
@k-plan

I'd expect no less 😉

I'd love to, but ARMbian's method of dealing with "competition", is to use the users inexperience and a method of fear control, to spread negative non-sense:
https://forum.armbian.com/search/?&q=dietpi&author=tkaiser

I on the other hand, will only reduce myself to that level, if i'am provoked and feel the need to defend what i'am passionate about and believe in. In

[2018-02-05 01:22] MHDMOUSTAFA opened #1473 "DietPi"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version | ```cat /DietPi/dietpi/.version```?
- SBC Device (EG: RPi 3)?
- Power supply used (EG: 5v 1A RAVpower)?
- SD card used (EG: Sandisk ultra)?
- Distro (EG: Jessie) | ```uname -a```?

#### Additional Information (if applicable):
- Software title?
- Can this issue be replicated on a fresh installation of DietPi?

#### Expect

[2018-02-05 10:59] symbios24 commented on #1469
Hello,thanks for the response

openarena (first person shooter game) http://www.openarena.ws/page.php?2

install latest firmware on stretch: rpi-update (otherwise the game wont run)
apt-get install openarena
wget http://www.berryterminal.com/dl/ioquake3_99.1.36-rpi01_armhf.deb
dpkg -i ./ioquake3_99.1.36-rpi01_armhf.deb
Run it with this command: sudo /usr/games/openarena

Assaultcube server https:/

[2018-02-05 12:56] symbios24 commented on #1408
i still believe dietpi is 10 times faster/lighter than the raspbian lite that retropie has, dietpi size 600mb raspbian lite size 4Gb its obvious which one is lighter, it will be great to include retropie in the gaming section anyway.

[2018-02-05 13:51] Fourdee commented on #1473
@MHDMOUSTAFA

Hi,

We'll need more information. Please can you post the issue you are experiencing?

[2018-02-05 13:53] brumouta commented on #1366
I'm still unable to login to qbittorrent webui, using image downloaded yesterday for odroid C2

[2018-02-05 13:56] Fourdee commented on #1410
@midwan

Was using ```vc4-kms-v3d```, for SDL2. Worked fine with the older AmiBerry binaries, but not the dev compiled one.

Thanks for the info 👍 , i'll recompile and retest from master.

[2018-02-05 16:06] pedrom34 opened #1474 "Kodi issue with RPi3"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version | 6.1
- SBC Device RPi 3
- Power supply used : 5v 2.5A
- SD card used : Sandisk ultra 32Gb
- Distro Linux DietPi 4.9.79-v7+ #1086 SMP Wed Jan 31 18:03:34 GMT 2018 armv7l GNU/Linux

#### Additional Information (if applicable):
- Kodi is said to be installed, but doesn't launch
- I tried to uninstall

#### Expected behaviou

[2018-02-05 16:11] dargow commented on #1449
@Fourdee Thanks, all works fine now

[2018-02-05 16:45] MichaIng commented on #1474
@pedrom34
Thanks for your report.

On uninstall we purge all modules, installed on any device, thus including `kodi-odroid` which is installed on Odroids only. On current master we don't remove the non-installed packages from the list, before adding it to `apt-get purge ...`, thus error is thrown. This is handled correctly on next v6.2: https://github.com/Fourdee/DietPi/blob/testing/dietpi/func/di

[2018-02-05 16:56] pedrom34 commented on #1474
Thanks.

Well, yes, Kodi is selected in autostart, and it doesn't start.
is there a way to uninstall kodi so I can try again?

[2018-02-05 18:27] JasonSwindle commented on #1430
Sorry about the delay, here are the steps I did from my bash histroy

## Steps to reproduce:

1. Install DietPi (Odroid C2)
1. Leave LANG at ```en_GB.UTF-8 UTF-8```
1. Install Docker
    i.
[code]
    ii.
[code]
1. ```apt-get update```
1. Get error

I also found when I installed knowit ( ```pip install knowit``` ) I get error:

[code]

and I am seeing Perl errors like this:

[code]

[2018-02-05 20:16] midwan commented on #1410
@Fourdee
You can start using the master branch from now on, since the latest stuff is merged there. :)
If you want binaries, those are also available: https://github.com/midwan/amiberry/releases

[2018-02-05 22:45] Fourdee commented on #548
@k-plan @MichaIng
Fed up with this non-sense, hopefully we can end this:

https://twitter.com/armbian/status/960560009473069056
https://twitter.com/armbian/status/960469577590362112

https://twitter.com/DietPi_/status/960648445727051776
http://dietpi.com/phpbb/viewtopic.php?f=9&t=2794&p=10691#p10691

[2018-02-06 14:16] pedrom34 commented on #1474
You can close the issue, I reflashed an sd card and started from scratch.
Did the trick, everything is now ok.

[2018-02-06 14:17] symbios24 opened #1476 "Tor HotSpot"
Hello
I want to change the country/ip from the  Tor HotSpot so it shows im in holland, so i can watch some online shows that you can only see if you are in holland and not outside, how can i do that? i had change the country in Networking Options: Adapters and put it to NL but apparently it did not work must be only for the hotspot and not Tor it self.

Thank you

[2018-02-06 14:44] Fourdee commented on #1474
Will mark as closed, ```G_AGP``` issue resolved in v6.2:
https://github.com/Fourdee/DietPi/issues/1474#issuecomment-363143941

[2018-02-06 14:44] #1474 closed, assigned to nobody

[2018-02-06 15:22] Fourdee commented on #1410
@midwan

Many thanks 👍

Getting somewhere, user error my end, was using ```dtoverlay=vc4-kms-v3d```, instead of:
[code]

[2018-02-06 15:29] midwan commented on #1410
@Fourdee
Great, let me know if you get stuck anywhere and I can help!

[2018-02-06 15:34] Fourdee commented on #1410
@midwan

```libgles2-mesa```

Yay, on screen AmiBerry 😃 . I should be good to go now, just need to update install in DietPi, will let you know if I get stuck 👍

Your AmiBerry binaries worked a treat :)

[2018-02-06 19:43] MichaIng opened #1477 "DietPi-Globals | Access for new sudo capable users"
http://dietpi.com/phpbb/viewtopic.php?f=11&t=2796

The downside of moving aliases to dietpi-globals is, that they are by default just accessible for users root and dietpi, where we source them within `~/.bashrc`.

Maybe there is an elegant way to grant access/source globals, as well as call `/DietPi/dietpi/login` for new sudo capable users automatically? Generally I like to adjust as few system fi

[2018-02-06 20:01] JasonSwindle commented on #1430
I also see, for a flash, on logging in:

[code]

[2018-02-06 20:15] Fourdee commented on #1477
@MichaIng

Most likely need to elevate to ```sudo``` aswell, else, non-root user will fail login script.
Unsure if globals will remain after ```sudo``` need to verify eg:
[code]

[2018-02-06 21:28] DasClarky opened #1479 "RE DietPI-Software | SABnzbd on V160"
Done a reimage recently due to v159 being made obsolete and i am having a unicode issue with SABnzbd but it looks like Python 2.7

2.7.9 (default, Aug 13 2016, 17:56:53) [GCC 4.9.2] [ANSI_X3.4-1968] (This should be UTF_8)

Any ideas on a fix?

Thanks

[2018-02-06 21:52] DasClarky opened #1481 "DietPi-Software | NetData error"
V160 reimage issue with NetData

Access to file is not permitted: /var/lib/netdata/www/

[2018-02-06 22:00] DasClarky commented on #1479
Fixed by reconfiguring locale, reinstalling python2.7 then rebooting

[2018-02-06 22:00] #1479 closed, assigned to nobody

[2018-02-06 22:13] MichaIng opened #1482 "DietPi-Set_Hardware | RPi: Disable serial console"
Current implementation: https://github.com/Fourdee/DietPi/blob/testing/dietpi/func/dietpi-set_hardware#L1452-L1482

At least on my RPi2, this somehow didn't work on Stretch nor Buster. The service/process restarts itself, no matter if stopped or even disabled. Maybe it has something to do with its arguments:
`/lib/systemd/system/serial-getty@.service`
[code]
In my case the only thing helped was: `

[2018-02-06 22:21] DasClarky commented on #1481
Another reinstall fix, what happened to the initial installs? Is there something i could of done to cause that?

[2018-02-06 22:36] Fourdee commented on #1410
RPi 3: Post test install notes:
- APT firmware/kernel 4.9.59
- KMS (without X11) Using our previous lower FB resolution (optimization), results in 3/4 of screen mouse reach and cursor offset to actual result. FB 1080p fine. ~Could be config related (fullscreen unchecked), see below.~
- Elite using 1/4 of horz space. Probably due to using existing (old) autostart.uae, will create a new default.

🈺

[2018-02-06 23:04] Fourdee commented on #1410
@midwan

Any chance you have a stock/raw ```autostart.uae``` for the latest version of AmiBerry I can test/distribute for our install? I tried clearing our previous config (to only leave in the paths), however, few issues with CPU speed being reset each restart:
https://github.com/Fourdee/DietPi/issues/1410#issuecomment-363589044

[2018-02-07 02:17] ghost opened #1483 "PiVPN not working"
Hi, I see there's already a thread created but I wasn't sure if replying to it will reopen/alert the devs so I made a new one. (https://github.com/Fourdee/DietPi/issues/934)

On 6.1, after installing PiVPN, I attempt to use pivpn -a, but it's not able to create the .ovpn file due to I believe having a double slash in the directory name path:
Generating a 2048 bit RSA private key

Using configurati

[2018-02-07 02:32] ghost opened #1484 "DietPi-Software | GPU mem split overrides a higher existing value"
DietPi 6.1:
Whenever I use dietpi-software to install anything, at the end of the script there's a message saying the gpumemsplit is being set to 128, every time. So if you manually change the split to 192 or whatever else, everytime you install software it will revert back.

Also, I don't know if it's a bug or a feature but it's very disruptive: if pihole is used and you direct clients to the pih

[2018-02-07 03:05] ghost opened #1485 "Raspcontrol not installing properly"
Upon installing Raspcontrol, cannot use. Following the URL provided in http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&start=20#p89 but of course with my own DietPi IP goes nowhere.

I have PiHole so it just displays the pihole logo

[2018-02-07 08:26] midwan commented on #1410
@Fourdee
That's why we have "Quickstart" options now, in the GUI itself... :)
If there is no bundled config, the Quickstart options should be enough to get you started with a pre-defined machine configuration, the default being the most common (A500 with 512Kb expansion RAM).

Also, remember to delete any old `adfdir.conf` file if you had it, it will be regenerated by the emulator anyway. We added

[2018-02-07 08:33] efflicto opened #1486 "Kernel panic BCM2835"
#### Required Information:
- DietPi Version | ```cat /DietPi/dietpi/.version```?
6
1
- SBC Device (EG: RPi 3)?
RPi 3
- Power supply used (EG: 5v 1A RAVpower)?
Anker PowerPort+1 5v 3A and a Noname 2.5A
- SD card used (EG: Sandisk ultra)?
SanDisk Ultra 16GB SDHC I
- Distro (EG: Jessie) | ```uname -a```?
Linux INGRSP02 4.9.79-v7+ #1086 SMP Wed Jan 31 18:03:34 GMT 2018 armv7l GNU/Linux
#### Additional

[2018-02-07 13:42] skane165 opened #1487 "DietPi-Config | RPi Codecs require 128/192MB GPU memory to function. Automatically increase when applied?"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version | 6.1
- SBC Device RPi 3
- Power supply used 5v 1A RAVpower
- SD card used Sandisk ultra 4K
- Distro Linux DietPi 4.9.59-v7+ #1047 SMP Sun Oct 29 12:19:23 GMT 2017 armv7l GNU/Linux

#### Expected behaviour:

When i put the codecs to the gui or the SD card manually i still gets the disable when i run vcgencmd codec_enabled

[2018-02-07 14:40] Fourdee opened #1488 "DietPi-Software | PiJuice"

[2018-02-07 14:58] Fourdee commented on #1483
@gpioneer90

Hi,

Thanks for the report 👍

Notes:

believe having a double slash in the directory name path

Correct, may be a issue with PiVPN itself, as ```pivpn -a``` is outside of DietPi programs.

I only tested the ```dietpi-software``` installation, i'll retest with ```pivpn -a```, see if we can replicate.

[2018-02-07 15:21] Fourdee commented on #1484
@gpioneer90

Thanks for the report 👍

We'll need to confirm installed software, to debug, please paste results:
[code]

This is by design, to prevent running software from interfering with install/uninstall/configuration functions of ```dietpi-software```.

Good idea 👍 We'll add this info before uninstall/installs begin.
![image](https://user-images.githubusercontent.com/7077026/35924812-010b1b9e-

[2018-02-07 15:55] Fourdee commented on #1485
@gpioneer90

Thanks for the report 👍, we'll try to replicate.

[2018-02-07 16:02] Fourdee commented on #1487
@skane165

Thanks for the report 👍

Did you restart the system after adding the keys?

This could indicate incorrect key entered for the device, or, a possible issue with kernel/firmware.

If key is correct for the specific device, try updating RPi kernel/firmware and see if the issue persists:
[code]

[2018-02-07 16:07] ghost commented on #1484
id 0 | =2 | openssh client:  |
id 5 | =2 | alsa: linux sound system |
id 6 | =2 | xserver: linux display system |
id 17 | =2 | git client: git clone etc |
id 31 | =2 | kodi: the media centre for linux | +alsa +xserver | http://dietpi.com/phpbb/viewtopic.php?f=8&t=5#p43
id 51 | =2 | opentyrian: a classic retro game, addictive | +alsa +xserver | http://dietpi.com/phpbb/viewtopic.php?f=8&t=5#p45
id 8

[2018-02-07 16:22] Fourdee commented on #1483
@gpioneer90

RPi 3 Stretch v6.2:
Which device are you running this on?

🈯️ test with ```pivpn``` as the selected user during PiVPN install menu:
[code]

🈯️ test with ```dietpi``` as the selected user during PiVPN install menu:
[code]

[2018-02-07 16:28] Fourdee commented on #1483
@gpioneer90

Can you confirm the user/password for account created with ```pivpn -a```?

[2018-02-07 16:30] Fourdee commented on #1485
Notes:
Lighttpd + apache2 tested
- 🈴 Jessie ```HTTP ERROR 500```
- 🈴 Stretch
```403 - Forbidden```
OpenSSH is installed: http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&start=20#p89
[code]

---

https://github.com/harmon25/raspcontrol/blob/master/index.php#L12

🈴 Update phpseclib:
[code]

[2018-02-07 17:10] Fourdee commented on #1485
It could be an issue with php configuration, post v6.0, however, we'd need to verify with v159< install (which I lack).

As the Raspcontrol dev has not been worked on in over 2 years, i'll mark this as low priority for now. An alternative recommendation for stats is NetData:
http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&start=60#p1611

[2018-02-07 17:10] Fourdee commented on #1485
@k-plan
Any chance you have a <v159 RPi DietPi image laying around? 😃 (https://github.com/Fourdee/DietPi/issues/1485#issuecomment-363839915)

[2018-02-07 17:26] Fourdee commented on #1484
@gpioneer90

❤️ 👍

---

Issue resolved for v6.2, marking as completed.

[2018-02-07 17:26] #1484 closed, assigned to Fourdee

[2018-02-07 17:33] Fourdee commented on #1486
@efflicto

Thanks for the report 👍

This is most likely due to PSU or installed kernel version, please see below:
https://github.com/raspberrypi/linux/issues/2107#issuecomment-313903761

However, i would recommend a fresh install, without the USB adapter attached to see if problems persist.

The current APT kernel on our DietPi image is ```4.9.59```, i'd also recommend trying an installation, with

[2018-02-07 17:33] #1486 closed, assigned to nobody

[2018-02-07 17:39] skane165 commented on #1487
Hello i did a reboot after adding the keys=).
After rpi-update i get stuck at ] Started D-Bus System Message Bus.
I will do a fresh install and see what going to happen be back with info.

[2018-02-07 17:52] Fourdee commented on #1482
@MichaIng

Quick test on fresh install RPi3 Debian Stretch, appears disabled for me:
[code]

@MichaIng

Whats in your ```/boot/cmdline.txt```?

[2018-02-07 18:17] Fourdee commented on #1463
OLED:
https://www.olimex.com/Products/Modules/LCD/MOD-OLED-128x64/open-source-hardware

[2018-02-07 18:21] Fourdee commented on #1488
G_AGI pijuice-base python-smbus i2c-tools
[code]

🈯️ Overwrite config with default https://github.com/PiSupply/PiJuice/blob/master/Software/README.md#json-configuration-file

---

Firmware update
[code]
---

🈯️ Simple poweroff test:
[code]

Appears SW2 (```button_power_off```) is the only programmable button?
[code]

[2018-02-07 18:48] bobybobybob opened #1489 "Blue something"
## Creating a bug report/issue:

--------------------------------------------------------------------
- DietPi has encounted an error, and, is unable to continue        -
- Please create a ticket: https://github.com/Fourdee/DietPi/issues -
- Copy and paste the BLUE lines below, into the ticket             -
--------------------------------------------------------------------

#### Required Informa

[2018-02-07 20:02] ghost commented on #1485
https://github.com/Fourdee/DietPi/issues/1485#issuecomment-363839915
yes no big deal for me, just thought you should know since it's included as option. RPi-Monitor works, btw

[2018-02-07 20:05] ghost commented on #1483
@Fourdee
I used gpioneer:test123

Running 6.1 on Raspberry Pi 3

[2018-02-07 20:23] Fourdee commented on #1488
Online doc: http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=10740#p10740

[2018-02-07 21:20] Fourdee commented on #1489
@bobybobybob

Thanks for the report 👍

Appears to be a connection issue (rough translation 😃 ).

Please can you retry running ```dietpi-software``` and installing the software you require again.
If problems persist:
- please run ```dietpi-config``` > ' 7  Network Options: Adapters' > ' Test         Run the Internet Connection Test'
- If the connection test is fine, please change the APT mirror ```

[2018-02-07 21:22] Fourdee commented on #1483
@gpioneer90

Thanks, looks fine.

Any changes made to system locales? (eg: ```dietpi-config``` > Language)

[2018-02-07 21:30] bobybobybob commented on #1489
Hello Fourdee,
today i got a RSP V1  b  first time and on first start it go not well.
it is very crazy and i try other distro but same. Then i go back to DietPi i connect LAN direct on Mainrouter and it work out of box and automatic upgrade from 6.0 to 6.1. Maybe LAN Cable broken?  Sorry for false alarm. The connection IP, Gateway, DNS, Subnet was right but ping in local network some OK some not.

[2018-02-07 21:32] #1489 closed, assigned to nobody

[2018-02-07 21:57] ghost commented on #1483
Yes, changed the keyboard layout and added en_us while keeping the default en_gb and changed time zone to central

[2018-02-07 22:02] ghost commented on #1483
I changed my keyboard back to generic 104 key keyboard to test and still the same result. Should I try removing en_us?

[2018-02-07 23:29] Fourdee commented on #1410
Initial 1st pass installation for RPi 2/3 is completed.

Outstanding:
- General testing, identify/resolve any DietPi specific config issues. If not, i'll create Git Ticket on AmiBerry.
- Implement for other devices (i've got x86_64 PC on my personal to-do list @midwan  ;) )

[2018-02-07 23:30] midwan commented on #1410
Great news!

I'm currently preparing an Android build, following that I'll start on a x86 target as well :)

[2018-02-07 23:33] Fourdee commented on #1410
@midwan

💘. AmiBerry on the go? Count me in 👍
I can test on my https://www.gsmarena.com/xiaomi_redmi_note_4x-8580.php (-pink), just let me know.

[2018-02-07 23:34] midwan commented on #1410
@Fourdee
Thanks! I'll let you know once I've got something running that's not too embarrassing to share. :-)

[2018-02-07 23:48] midwan commented on #1410
@Fourdee
Actually, you can already have Amiberry on the go even without Android:
![27657388_10156230949096579_8878961804717874123_n](https://user-images.githubusercontent.com/3877365/35947764-c0141b24-0c69-11e8-9e52-5738a4af3eb1.jpg)

![27540421_10156230949256579_5056245945475286701_n](https://user-images.githubusercontent.com/3877365/35947768-c5546076-0c69-11e8-9c57-ef1bef5f9c70.jpg)

That's runn

[2018-02-08 01:45] MichaIng commented on #1482
@Fourdee
`dwc_otg.lpm_enable=0 console=tty1 root=PARTUUID=21728f0a-02 rootfstype=ext4 elevator=deadline fsck.mode=force fsck.repair=yes rootwait`
No AMA0 inside.

Can you verify via `htop`, that `agetty` `ttyAMA0` task is not present?

[2018-02-08 05:36] skane165 commented on #1487
Made a fresh install updated and put the keys in through the gui still
root@DietPi:~# vcgencmd codec_enabled MPG2
MPG2=disabled
Double checked the the serial is correct

[2018-02-08 08:51] k-plan commented on #1485
@Fourdee

For RPi ?

Uploaded:

- DietPi_v150_RPi-armv6-(Jessie).7z

- DietPi_v148_RPi-armv6-(Jessie).7z

- DietPi_v145_RPi-armv6-(Jessie).7z

[2018-02-08 12:20] MichaIng commented on #1488
Nice one 👍, I am just thinking to take one as power loss protection. On the other hand, my external powered HDD docking station would be not included anyway, holding data, database and swapfile 🤔.

[2018-02-08 13:53] symbios24 opened #1490 "PyLoad to Dietpi"
Hello is it possible to add this software to DietPi

PyLoad (Download Manager)

https://github.com/pyload/pyload/wiki/Step-by-Step-Installation-(RaspberryPi)

[2018-02-08 14:26] Fourdee commented on #1471
@twisty-doerofthings

Thanks for the report 👍

Attempted same steps locally, not via SSH, and installer ran without issue.

Appears to be a temporary connection issue (local and/or remote). As this issue is now resolved, i'll mark as closed. Please reopen if required.

[2018-02-08 14:26] #1471 closed, assigned to nobody

[2018-02-08 14:35] Fourdee commented on #1482
@MichaIng

agetty is there, but only running for tty1:
![image](https://user-images.githubusercontent.com/7077026/35977972-5966ea8c-0cdc-11e8-957f-dc9ec13f24b4.png)

[code]
Removes tty1 and agetty.

From what I remember, tty1 is an additional screen which can be switched locally. We left 1 in for a means to switch screens when the original locks up (eg: xinit program gone wrong) and non-ssh :
http

[2018-02-08 14:56] Fourdee commented on #1410
@midwan

That's running a Raspberry Pi CM3 module ;)

Simply epic!

[2018-02-08 14:59] MichaIng commented on #1482
@Fourdee
Hmm okay,  then I am not sure what I made wrong/different. Maybe due to I purged dbus. In that case `getty-static.service` jumps in:
[code]
Thus I need to disable/mask that one to prevent additional agettys. Maybe that also triggers the serial getty somehow.

I just found that: https://stackoverflow.com/questions/21596384/cannot-disable-systemd-serial-getty-service

Seems that those getty

[2018-02-08 16:32] Fourdee commented on #1485
@k-plan

Legend, thank you 👍

Same with v150:
```HTTP ERROR 500```

Will consider removal of this title, due to no dev in over 2 years. Only 9 installs (at least 4 are from me):
[code]

[2018-02-08 16:49] Fourdee opened #1491 "DietPi-Software | Flagged for removal (cleanup)"
Goal is to remove the following items:
- Outdated/no longer developed software titles (eg: raspcontrol https://github.com/Fourdee/DietPi/issues/1485#issuecomment-364168459)
- Low install count from our users
- Allow us to focus support on more popular software titles

[2018-02-08 16:49] Fourdee commented on #1491
- 🈯️ Removed: Grasshopper [100] | 1 install | no longer developed
- 🈯️ Removed: Raspcontrol [106] | 9 installs | no longer developed, non-functional: https://github.com/Fourdee/DietPi/issues/1485#issuecomment-364168459

[2018-02-08 16:50] Fourdee commented on #1491
@k-plan @MichaIng

Any suggestions we can add to the above list?

[2018-02-08 16:59] Fourdee commented on #1482
@MichaIng

Correct, confirmed unable to login lol 👍

[2018-02-08 17:01] Fourdee commented on #1490
@symbios24

Thanks for the request 👍

As with all software requests, we'll mark them as closed for now. When the software title request receives more interest from additional users, we'll reopen to implement.

[2018-02-08 17:01] #1490 closed, assigned to nobody

[2018-02-08 17:17] skane165 commented on #1487
gpu_mem_512=16
gpu_mem_1024=16

#-------Max USB Current -------
max_usb_current=1

#-------Disable Ram temp refresh every 500ms---------------
disable_pvt=1

#-------Disable Pi Splash screen on boot-------------
disable_splash=1

#-------Remove dedicated pll for PWM audio -------
avoid_pwm_pll=1

#-------SoundCard-------
#dtoverlay=none
dtparam=audio=on

#-------i2c-------------
dtparam=i2c_arm=of

[2018-02-08 17:26] MichaIng commented on #330
Just found AirSonic, the next fork 😆: https://github.com/airsonic/airsonic

[2018-02-08 17:45] MichaIng commented on #1491
@Fourdee
- SubSonic 5, but add LibreSonic instead as at least until last summer developed: https://github.com/Fourdee/DietPi/issues/330#issuecomment-358902464
  - Ahh wait, better take AirSonic, the next fork 😆: https://github.com/airsonic/airsonic
  - How are the installed numbers of SubSonic 5 and 6 actually? We have other web stream alternatives anyway.
- Grashopper might be installed by me due

[2018-02-08 18:55] Fourdee commented on #1491
@MichaIng

For quickness:
- Set ```aSOFTWARE_TYPE[$index_current]=-1```, hides from the GUI.
- Make a note of it being disabled, so it can be reused at a later date.
- Remove the install/config/uninstall code

If time permits:
- manually swap the highest software index in the install/config/uninstall code.

[2018-02-08 18:56] Fourdee commented on #1491
@MichaIng
I'll send a commit for example
https://github.com/Fourdee/DietPi/commit/d6330ed2681dc8ad0796028ee72834b7ff40de30

[2018-02-08 18:58] gotttlieb opened #1492 "Uable to set Fan Speed Odroid XU4"
## Creating a bug report/issue:
I'am unable to change fan speed on my Odroid XU4

#### Required Information:
- DietPi Version:  159
- SBC Device: Odroid XU4
- Power supply used : Official 5v 4A
- SD card used? eMMc 32GB
- Distro: Jessie 3.10.106+

#### Additional Information (if applicable):
- Software title?
- Can this issue be replicated on a fresh installation of DietPi? I think yes.

#### Expe

[2018-02-08 19:06] Fourdee commented on #1487
@skane165

You need to increase GPU memory:
https://github.com/raspberrypi/documentation/issues/117#issue-41346600

```dietpi-config``` > display options > GPU/MEM split

Try 128MB

Let us know if this works, we'll automatically increase GPU memory.

[2018-02-08 19:16] MichaIng commented on #1477
@Fourdee
[code]
Sourcing is not possible via sudo.
However globals can be sources without sudo. Only downside is, that G_functions are available, that cannot be run without root privileges and sudo again does not know these functions:
[code]
There are some workarounds to access functions inside scripts with sudo, but they are ugly and unhandy.  I think, if we really want to realize this for non-ro

[2018-02-08 19:39] gotttlieb commented on #1492
Ok, after more search I found it.
https://forum.odroid.com/viewtopic.php?f=52&t=16308
but in: /sys/devices/odroid_fan.14

[2018-02-08 19:39] #1492 closed, assigned to nobody

[2018-02-08 20:05] MichaIng commented on #1376
@Fourdee
Ah found the reason for the prefixes:
[code]
Commenting out the [Service] part, removed prefixes as well.

But actually I would prefer DietPi using an own service for it's pre login tasks, leaving `/etc/rc.local` and `rc-local.service` untouched. This would allow us easier/secure adjustments on update, especially if touched by user, and keep it transparent for users, which parts come from

[2018-02-08 20:17] MichaIng commented on #1491
@Fourdee
Okay, maybe I find the time to fill the MySQL indexes gaps.
But one has to patch the existing `.installed` state on update as well.

[2018-02-08 20:27] Fourdee commented on #1491
@MichaIng

Yep 👍

For this example, we can simply reset ```[100]=0```, as PiJuice is not available v6.1.
And it only effects 1 user (you) hehe 😃

[2018-02-08 20:37] Fourdee commented on #1376
@MichaIng

Yep agree 👍

Just bear in mind rc.local is removed in stretch by default (alot of people still use it):
https://stackoverflow.com/questions/44797694/where-is-rc-local-in-debian-9-debian-stretch

So to avoid complaints, we should leave ```rc-local.service``` in, just move our stuff out to another service that has:
[code]

[2018-02-08 20:40] Fourdee commented on #1376
@MichaIng
What it your paypal address? Email it over to me if you can. New driving license should be back soon 😃

[2018-02-08 21:53] MichaIng commented on #1376
@Fourdee
Jep agree. I was already thinking, how to keep `rc.local` in place as well, in case of manual user additions. But I can't find any not too complicated reliable way to specifically remove our code from it. Especially since I found left moode additions in mine 😛: https://github.com/Fourdee/DietPi/blob/testing/dietpi/dietpi-software#L13381

Maybe safe a copy in home, dietpi_userdata or dietp

[2018-02-08 22:56] MichaIng commented on #634
@Fourdee
Looks like this was solved: http://dietpi.com/phpbb/viewtopic.php?f=12&t=786&sid=cda26334864007646c4b4b8e6a280941&start=50#p4557 ? 😃

[2018-02-09 09:57] TheEmpty opened #1493 "LC_ALL=0-UTF locale, affecting software installations"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version | ```cat /DietPi/dietpi/.version```?
6
1
- SBC Device (EG: RPi 3)?
RPi 2b
- Power supply used (EG: 5v 1A RAVpower)?
Something 5v
- SD card used (EG: Sandisk ultra)?
Some sandisk card -- user options are on an external HDD, Segate ~40gb free.
- Distro (EG: Jessie) | ```uname -a```?
Linux DietPi 4.9.79+ #1091 Tue Feb 6 12:5

[2018-02-09 14:45] TheEmpty commented on #1493
Seems the issue is with running the nzbget installer as root. Tar is trying to preserve the user to discourage root? The NZBGet 'run' has an option though for setting the tar command.
`Info "    --tar <args>      - run custom tar command on archive"`

Could probably use `tar --owner root --group root --no-same-owner` for that. `which dietpi-software` didn't return anything, so not sure where to ed

[2018-02-09 15:30] Fourdee commented on #634
@MichaIng

Yep, ran it fine during v6.0 testing, lets mark this as closed 👍

[2018-02-09 15:30] #634 closed, assigned to Fourdee

[2018-02-09 15:35] Fourdee commented on #1376
@MichaIng

Yep, sounds the best method 👍
Would be impossible to safely clean the current one, too much risk involved in regards to user manual additions.

Patch file, could do a message, eg:
[code]

[2018-02-09 15:47] skane165 commented on #1487
Tried 120mb same result trying 196mb now

[2018-02-09 15:50] skane165 commented on #1487
Got enabled at 196mb

[2018-02-09 15:52] skane165 commented on #1487
Thank you for your help and have a nice weekend =)

[2018-02-09 16:40] ghost opened #1494 "netdata - unable to update"
I just installed Netdata on 6.1 Rpi3 and like it a lot. I see there's an update button on top of the GUI but it appears stuck on Downloading installed git commit id from netdata...

The installed version is 1.6.0 while the newest is 1.9.0. Should the update function be working?

[2018-02-09 17:00] Fourdee commented on #1493
@TheEmpty

Thanks for the report 👍

There may another issue here aswell, causing this (https://github.com/Fourdee/DietPi/issues/1430):
[code]

I'll run a local test install to verify.

[2018-02-09 17:06] ghost commented on #1494
I removed the DietPi install and used bash <(curl -Ss https://my-netdata.io/kickstart.sh) to get from source instead :)

[2018-02-09 17:40] kgunnar opened #1495 "DietPi fails to boot on PINE64 A64+"
## Creating a bug report/issue:
Attempting to boot a DietPi image on a PINE64 A64+ Rev B board hangs part way through (serial console log is below)

#### Required Information:
- DietPi Version tried both DietPi_v6.0_PineA64-ARMv8-Stretch.img and DietPi_v145_PineA64-arm64-(Jessie).img
- SBC Device PINE64 A64+ Rev B
- Power supply used CanaKit 5V 2.5A and other 5V 2A
- SD card used Sandisk EVO+ 32GB

[2018-02-09 17:40] Fourdee commented on #1494
@gpioneer90

Yep, we offered to go with binary installs for speed and reduction in pre-reqs during install. The downside is we need to manually update the binaries when possible.

Our binary versions currently match the APT install in Stretch BP:
https://packages.debian.org/stretch-backports/netdata

I believe NetData update only works for x86_64, as they only offer those binaries:
https://github.

[2018-02-09 17:45] Fourdee commented on #1493
🈯️ RPi 3:
[code]

🈯️ Will test RPi 2 (```CPU-Architecture: armel``` incorrect on your install, fine here with ```armhf```)

---

I believe this is an issue with locale https://github.com/Fourdee/DietPi/issues/1430

@TheEmpty
Can you provide us with following information:
- ```locale```
- ```grep -v '^#'  /etc/locale.gen```
- Did you change the locale on system, if so, what to?

[2018-02-09 18:27] Fourdee commented on #1494
@gpioneer90

I've updated NetData to v1.9.0, for DietPi v6.2.

Updates will be handled by DietPi patching system.

I'll mark this as closed. Please reopen if required.

[2018-02-09 18:27] #1494 closed, assigned to nobody

[2018-02-09 19:11] MichaIng commented on #1453
Maybe we can add a check to process tool, that it shall only echo detailed information, if it's hierarchy is < 3? This would prevent long outputs within e.g. dietpi-software.
[code]
Something like this.
Would cover the other issue and partly PR.

[2018-02-09 19:12] Fourdee commented on #1477
@MichaIng

Sounds good 👍

I believe everything after ```G_CHECK_ROOT_USER```, is root only (or should be). And all DietPi scripts, check for root during init, so we should be covered there aswell.

---

Other option, if we want to allow eg: ```sudo G_AGI moooooooo```, add rootFS check to all functions, but yeah, I think for now your original idea is the solution. We can always tweak this in the fu

[2018-02-09 19:21] Fourdee commented on #1453
@MichaIng

Yep agree 👍

I love the additional information, but your right, not needed during install etc.

[2018-02-09 19:31] Fourdee commented on #1495
@kgunnar

Thanks for the report 👍

If both images are causing the same issue, I can only suspect HW failure on the SBC itself (assuming PSU and SD cards are not a factor), or, the USB card reader.

Try full formatting the SD card, prior to DietPi image write, eg:
[code]

Is the serial log from 1st run? Seems to be missing the post kernel info and FS expansion during 1st run? If we can get the full

[2018-02-09 19:41] Fourdee commented on #1488
Completed.

[2018-02-09 19:41] #1488 closed, assigned to Fourdee

[2018-02-09 19:43] Fourdee commented on #1483
@gpioneer90

I cant see it having any effect. System (and therefore PiVPN installer) should be using the default locale in all cases.

[2018-02-09 19:51] Fourdee commented on #1495
Tested fine locally:
🈯️ Pine A64

[2018-02-09 19:55] ghost commented on #1483
Hmm, well I'm pretty clueless when it comes to Linux so I don't know how to explain why it works for you but not for me. I guess I'll try OpenVPN on its own at some point and let you know if that works or if it produces a similar problem

[2018-02-09 20:35] Fourdee commented on #1487
Reopened, we'll automatically increase GPU memory as needed.

[2018-02-09 20:36] Fourdee commented on #1483
@gpioneer90

Just quickly, please can you paste results:
[code]

[2018-02-09 20:47] Fourdee opened #1496 "DietPi-Software | LMS install review"
Needs a complete re-review/re-testing.

[2018-02-09 21:27] ghost commented on #1483
[code]

[2018-02-09 23:55] kgunnar commented on #1495
That original serial console log was likely from a subsequent boot. I was wiping the partitions off between flash attempts but this time I ran `sudo dd if=/dev/zero of=/dev/sdc` to zero fill the SD card, then ran `sudo dd if=DietPi_v6.0_PineA64-ARMv8-Stretch.img of=/dev/sdc bs=1M status=progress` to reflash the image file.

I can flash this exact microSD card with other images (e.g. xenial-pine64-

[2018-02-10 00:25] kgunnar commented on #1495
In case it helps at all, here is a console log from xenial flashed to the exact same SD card, running on the same (my only) A64+ with the same power supply: [pine64_xenial_9feb1917.log](https://github.com/Fourdee/DietPi/files/1712802/pine64_xenial_9feb1917.log) Up until the last line of the DietPi log, they look practically identical but xenial continues on from there whereas DietPi never seems to