[2016-02-28 14:57] Fourdee commented on #211
@k-plan
Excellent, thanks for testing.

Good feedback, :+1: . I've changed the naming and descriptions based on your recommendations:
![untitled](https://cloud.githubusercontent.com/assets/7077026/13379907/8898954e-de2b-11e5-961b-aefe2769a94b.png)

As for additional options:
99% of our users are using SD/EMMC, around 50% also use the USB HDD combination. I dont want to overcomplicate and possibly

[2016-02-28 14:57] #211 closed, assigned to nobody

[2016-02-28 15:07] Fourdee commented on #209
@rhkean
Thanks for the info.

Ah, so this is in regards to a lighttpd installation on the https://github.com/Fourdee/DietPi/issues/205 ticket.
I thought you were referring to the v109 live LAMP install. I changed the ticket description to prevent myself getting confused again :)

I'll take a look using your updated code.

[2016-02-28 18:48] rafasamp opened #213 "External Drive Does Not Mount"
I've been trying to figure this out for two days with no avail. I have an external USB drive that is being seen by DietPi but for some reason I can't mount it. From what we can see below it is indeed supposed to be mounted to /mnt/usb_1 however as you can see from the DF output all the data is being written on the local flash card and not to the USB drive.

Can anyone help me figure this out? I am

[2016-02-28 18:53] Fourdee commented on #213
@rafasamp

Sounds like there are existing files in /mnt/usb_1 preventing the mount from occurring, or another issue.

Please paste results:

[code]

[2016-02-28 19:05] rafasamp commented on #213
Aha! Apparently that was the issue. If anyone out there runs into the same problem, this is what I did:

`dd if=/dev/zero of=/dev/sda1 bs=512 count=1`

This apprently erased the faulty MBR that was in the drive and now df outputs a much happier:

[code]

Thanks Fourdee, all I needed was a nudge ;)

[2016-02-28 19:11] rafasamp commented on #213
I'm reopening because of something funny I'm seeing. I am hoping my drive is not dying but this is what happens when I ran the external drive utility from dietpi:

[code]

What happens is, as soon as the utility finishes doing its thing, the drive mounts fine. However, it mounts it as read-only. When I reboot the system the drive disappears again.

[code]

[2016-02-28 19:55] Fourdee commented on #213
@rafasamp

Yep, we use this during ext4 format in `dietpi-external_drive_setup`: https://github.com/Fourdee/DietPi/blob/master/dietpi/dietpi-external_drive_setup#L166-L167

Sounds like there may be a underlying hardware error on the drive. If there is a corruption of data on the drive, this would cause it to mount ext4 as read only.

Could also be power related, i'll need some more info:
Is your H

[2016-02-28 23:28] rafasamp commented on #213
It's a 3.5 Seagate External with it's own power supply. I was using it with Windows up until Fridaywith no problems at all. I wonder if there is something going on with the way it's getting formatted?

[2016-02-29 08:30] mok-liee opened #214 "DietPi-Config | Add proxy support"
Hello, there is no option to Update DietPi trough a http proxy.

[2016-02-29 15:24] Fourdee commented on #214
@mok-liee
Correct.

You will need to add your proxy settings to your system, at a linux level:
https://www.raspberrypi.org/forums/viewtopic.php?p=184490#p184490

[2016-02-29 15:26] Fourdee commented on #213
@rafasamp

Try running through the format command steps manually, see if any of the commands return errors:
https://github.com/Fourdee/DietPi/blob/master/dietpi/dietpi-external_drive_setup#L164-L177

[2016-02-29 15:37] rafasamp commented on #213
[code]

[code]

[code]

[code]

[code]

[code]

Then when I run DF, the drive is there:

[code]

However, I can't do anything to it and after a reboot, it's gone again... so weird!

[code]

[2016-02-29 15:41] Fourdee commented on #213
@rafasamp
Is the drive read only straight after you ran the format and mounted?

[2016-02-29 15:43] rafasamp commented on #213
@Fourdee Yeah, I did all the steps in order before the reboot. It was read only right after the chown command

[2016-02-29 15:44] mok-liee commented on #214
yes, i know. but this is only for "apt"
the dietpi-updater is launching a check on github using another tool, i think wget or something.

i have entered the export var and did apt-get update successfully but dietpi-update doesnt run.

or die i something wrong?

[2016-02-29 15:48] Fourdee commented on #214
@mok-liee
Ah, i see.

DietPi-Update uses `wget` and `curl`.

Try these for specifying proxy settings:
`wget` add proxy: http://stackoverflow.com/questions/11211705/setting-proxy-in-wget
`curl` add proxy: http://stackoverflow.com/questions/7559103/how-to-setup-curl-to-permanently-use-a-proxy

[2016-02-29 15:51] mok-liee commented on #214
oh, cool! very helpful.

maybe in the next version u can add an proxy setter in dietpi-config -> networking options

thanks!

[2016-02-29 15:56] rafasamp commented on #213
So apparently there really is something wrong with the formatting.

[code]

I'm at a loss, the disk works great in Windows. Maybe I'll try NTFS and see how it goes...

[2016-02-29 16:02] rafasamp commented on #213
Well, I guess I have no choice but to stay in NTFS. It actually works! Go figure...

@Fourdee thanks for all the help, the r/w performance may not be the best under NTFS but for a music server I think it will be plenty. Hopefully on my next Pi build I can get a proper external drive that can support EXT4.

[2016-02-29 16:02] #213 closed, assigned to nobody

[2016-02-29 16:10] #203 closed, assigned to nobody

[2016-02-29 16:11] Fourdee opened #216 "RaspberryPi 3 | Add support and optimizations in DietPi"

[2016-02-29 16:19] Fourdee commented on #214
@mok-liee

Added to the list :+1:

[2016-02-29 16:27] Fourdee commented on #213
@rafasamp
Yep, this is really bizarre, doesn't make sense lol.

It might be worth testing your drive with EXT4 on the official Raspbian image, just to exclude anything with DietPi. I'am sure it would have the same results, but would be good to confirm.

Another option may be to try `dd` zero's to the whole drive, prior to formatting EXT4.

Either way, NTFS will work, but as you mentioned, lower pe

[2016-03-01 11:53] R1CH-T commented on #210
I have just spent ages researching this further and added more links to the list above, however I found more relevant links, which I will post here. I'll leave the long list of links above, for future reference.

https://www.raspberrypi.org/forums/viewtopic.php?f=37&t=66946
https://github.com/openhab/openhab/wiki/Raspberry-Pi-RC-Switch-Binding

[2016-03-01 13:59] Fourdee opened #217 "Odroid C2 | Add support and optimizations in DietPi"
With the release of Pine64 and RPiv3, I currently lack funding at the moment for the C2 (£50~) purchase. Could be a month or two before that changes.

Gutted.

[2016-03-01 15:34] rafasamp opened #218 "PHP APC Warning"
Hi!

When setting up a PHP instance to run Laravel or any other PHP framework we need to use composer and the CLI a lot. There is a bug currently whenever you run the CLI that states:

`PHP Warning:  PHP Startup: apc.shm_size now uses M/G suffixes, please update your ini files in Unknown on line 0`

To fix it, we need to edit /etc/php5/cli/conf.d/20-apcu.ini and add an M after the apc.shm_size mem

[2016-03-01 16:35] Fourdee commented on #218
@rafasamp
Good find. Is this a wheezy or jessie installation?

There are no contributor docs yet as I'am the only person who has ever worked on the code directly, but we can change that :)

You will need to fork the testing branch as this is the current development branch: https://github.com/Fourdee/DietPi/tree/testing

Make your changes and send a pull request for me to review.

[2016-03-01 16:42] rafasamp commented on #218
Hi @Fourdee this is a jessie installation. I will make the changes tonight and will send it in.

Thanks!

[2016-03-01 18:44] k-plan commented on #218
@Fourdee
@rafasamp

`PHP Warning: PHP Startup: apc.shm_size now uses M/G suffixes, please update your ini files in Unknown on line 0`

Can confirm this issue with composer / PHP on Apache2, Nginx or Lighttp. (needed for [volkszaehler](http://wiki.volkszaehler.org/doku.php/software/middleware/installation) )

[code]

Yes, this will fix error message, when restart the webserver.

Yes,  jessie instal

[2016-03-01 19:20] k-plan commented on #217
@Fourdee

Sorry, disagreeable to hear.
Will a small [PayPal donation](https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=FPH645FBNC7K2) help, to get it faster?
- RPiv3: Nice, available, great provide support, main stream. Can understand, that you will support it quick. But for me, no significant improvement to Odroid C1+ at the moment.
- Pine64: Preoder Ship by May 2016, first no

[2016-03-01 22:10] Fourdee commented on #217
@k-plan

That's very kind of you to offer. The C2 is currently being sold for £45 from a UK/EU supplier http://www.odroid.co.uk/hardkernel-odroid-c2-board. Any donations received would be put towards its purchase.

I completely agree.
The RPiv3 is still miles away from the C1 in terms of performance. RPi still has eth running through the USB 2.0 bus. I was hoping the RPi v3 would get a USB3 bus up

[2016-03-03 06:32] openmy commented on #201
hold to focus on it

[2016-03-03 06:40] openmy opened #219 "OPi-PC not reset"
my OPi-PC not reset (auto power on affter off ), now my reset opi-pc  power on off by hand.
ps:
 OPi-PC  update v109 to v110 auto but update not update any work, OPi-PC not reset

[2016-03-03 14:43] Fourdee commented on #219
@openmy

Not sure I follow. Does the OPi automatically power on after a shutdown? Or, it wont reboot?

`reboot`
`poweroff`

[2016-03-03 15:14] openmy commented on #219
OPi  not automatically power on after a shutdown.
And if i tun power on off by hand opi update  work. but v110 error for my.
how do I get off the auto update....... help

[2016-03-03 15:41] Fourdee commented on #216
#### Disable BCM 43438 (Wifi/Bluetooth)

https://www.raspberrypi.org/forums/viewtopic.php?p=919172#p919172

[code]

#### Bluetoothctl:

https://www.raspberrypi.org/forums/viewtopic.php?p=919261#p919261

[2016-03-03 16:47] rhkean commented on #216
Is this shaping up to be a separate image file or will it be an RPi1/2/3 image?

[2016-03-03 17:02] Fourdee commented on #216
@rhkean
Same image to support all RPi devices. But if you want RPiv3 support, you will need to use the updated "v111 DietPi RPi-Jessie image" (when its released).

The DietPi Wheezy image will not support RPiv3. For now anyway, trying to save unnecessary workload.

[2016-03-03 17:24] R1CH-T commented on #210
I posted on [OEM's forum about this ](https://openenergymonitor.org/emon/node/12212#comment-40083) and Glyn Hudson said:

[2016-03-03 18:30] Fourdee commented on #216
Completed. RPiv3 image : http://dietpi.com/downloads/images/DietPi_RPi-(Jessie).7z

[2016-03-03 18:30] #216 closed, assigned to nobody

[2016-03-03 18:30] Fourdee commented on #207
Completed, v111

[2016-03-03 18:30] #207 closed, assigned to nobody

[2016-03-03 18:32] Fourdee commented on #210
@R1CH-T
Thanks for the info. I've nugged this to v112 as v111 was mostly a dedicated release for RPiv3 support.

[2016-03-03 21:08] Fourdee commented on #219
@openmy
I think we might have an issue with the language barrier. Would you be able to video record the issue? This will help me understand much better, and, allow me to assist you.

[2016-03-03 21:11] Fourdee commented on #218
@k-plan
Thanks, legend :+1:

[2016-03-04 01:23] openmy commented on #219
my video test. the auto update error. OPi not automatically power on after a shutdown
https://drive.google.com/folderview?id=0B5dH7Uzc8K-FVGJ0Z2NETy14Y3c&usp=sharing

[2016-03-04 14:43] Fourdee opened #221 "DietPi-Software | WiFi Hotspot failing to start using bcm43438"
Patched in v112. You can also manually run the below after install:

[code]

[2016-03-04 15:42] Fourdee commented on #218
@k-plan
The following files are all symlinked to `/etc/php5/mods-available/apcu.ini` when PHP5 is installed (by default during php5 apt-get install):

[code]

I've updated DietPi-Software to write directly to  `/etc/php5/mods-available/apcu.ini`, with `target_php_cachesize+="M"`:

[code]

[code]

Resolved for v112.

[2016-03-04 17:34] Fourdee commented on #217
@k-plan
:+1: Thanks for helping with this, made the purchase easier on the wallet :)
I haven't told the misses yet, wish me luck lol ;)
![untitled](https://cloud.githubusercontent.com/assets/7077026/13534882/34450fb0-e22f-11e5-8d7a-54b9dd7e4f91.png)

[2016-03-05 10:20] misury commented on #217
Rock on! I am so glad to know you are getting into the C2! Mine should be arriving early next week. Thank you for all your hard work and efforts friend.

[2016-03-05 19:02] Fourdee commented on #210
Nugged to v113, apologies @R1CH-T . v112 is a hotfix release for RPi v3 wifi hotspot.

[2016-03-05 19:05] Fourdee commented on #219
@openmy Thanks for the videos. I haven't had the chance to look at these yet, my apologies, hopefully will be able to in the next few days.

[2016-03-05 19:32] #218 closed, assigned to nobody

[2016-03-05 19:32] #221 closed, assigned to nobody

[2016-03-06 19:00] k-plan commented on #217
@Fourdee

I am pleased to see, it's make your decision easy.
Hope for you, more DietPi user follow the lead, so that it is possible for you, to buy more upcoming hardware ...

[2016-03-06 19:27] k-plan commented on #212
@Fourdee

sorry, perhaps not precise express.
I have tested this  _Feature Request_ now since v107 crowned with success.
Yes, I have a Dual Stack network at home, with dyn. IPv4 (via NAT) and native IPv6 with a static address block.
I notice, unfortunately you do not have access to any IPv6 networks to test it. So perhaps, it is possible, to integrate this into DietPi-Config as a toggle option.

[2016-03-07 01:39] spiderkeys opened #223 "Question Re: Automated image builder workflow, no hardware required"
My organization has been working with the Beaglebone Black for years now and we are used to building our custom Debian image on a remote build server which primarily uses chroot as the method of modifying the base image and getting all of the packages installed and updated. I was curious if there is an implemented/existing workflow for getting a DietPi image fully built and updated without having

[2016-03-07 08:42] spiderkeys opened #224 "Default UART0 baudrate set to 9600, where to change?"
Normally, the baud rate of UART0 is set to 115200 for the RPi2. I've scoured through a bunch of settings and config files but can't find anywhere that would set it to 9600 out of the box. Is this normal behaviour? If so, is there a designated way for overriding with a different baudrate, rather than doing something hacky like changing it with stty in rc.local?

[2016-03-07 13:55] Fourdee commented on #224
@spiderkeys
You will need to modify the `/boot/config.txt` file and add the following entry which enables serial line and specifies baud rate:

[code]

That works for me on Jessie.
For wheezy, I believe there's another linux config file `/etc/inittab` that needs editing: http://www.raspberrypi-spy.co.uk/2013/12/free-your-raspberry-pi-serial-port/

[2016-03-07 13:56] Fourdee commented on #224
@spiderkeys
Also, check your serial line client to ensure 115200 baud rate is also set.

[2016-03-07 14:36] spiderkeys commented on #224
@Fourdee
Out of curiosity, adding that line doesn't enable the serial console (where you can login/listen to the boot) does it? I'm interfacing to an MCU on UART0 and wouldn't want direct all that chatter at the RPi.

[2016-03-07 19:08] Fourdee commented on #224
@spiderkeys
I thought you were referring to a serial line console connection on TXD/RXD pins? This would allow you to basically "SSH without network", directly to the device. My apologies if you are referring to something else?

[2016-03-07 19:40] spiderkeys commented on #224
Sorry for the confusion. In my setup, I have an Arduino connected to the RPi on UART0, and I want to exchange data between the RPi and Arduino (the Rpi sends commands, the Arduino sends back status and sensor data). My Arduino's serial port is 115200 baud and for some reason the RPi is defaulting to a baud of 9600. I don't want to turn on the serial console, though, because I have no intention of

[2016-03-07 20:04] Fourdee commented on #224
@spiderkeys
No worries, my fault as I didn't have my morning coffee :)

I honestly have little experience with GPIO/Serial usage. I've only dabbled with connecting external sound cards and serial line, nothing more.

Looking at this page: http://www.andremiller.net/content/raspberry-pi-and-arduino-via-gpio-uart , it would appear this user has enabled both `console=ttyAMA0,9600` and  `kgdboc=ttyAMA

[2016-03-07 20:17] Fourdee commented on #223
Thank you. Its good to hear. Alot of hard work has gone into making that possible :)

Currently, DietPi is designed to be used by the end user. A hardware device is required to complete the DietPi setup and installation.

When I create a DietPi image from scratch, I use an existing image (eg: Raspbian Jessie, and Merveric's Odroid images) and modify it to become the DietPi image. I do not currentl

[2016-03-07 20:21] spiderkeys commented on #224
I'm using Jessie, so I should be up to date. It's not a big deal, as I can write a workaround. (I'll probably just call stty -F /dev/ttyAMA0 115200 in a postboot script :smile:). Usually there is some driver setting/image config setting that is used to set the default rate for UART ports, so I was just hoping to find that.

I found that in the normal Raspi distro, there is the following value you

[2016-03-07 20:23] spiderkeys commented on #223
Appreciate it! If we end up writing a method for making automated builds, I'll be sure to send a pull request your way.

[2016-03-07 20:26] Fourdee commented on #223
@spiderkeys
No worries :+1:

[2016-03-08 04:12] rotational467 commented on #217
I wish I had seen this a few days ago.  Pi-hole gave me a reason to pick up a Pi on sale, which led me to Diet Pi, and your forums led me to the C2 that will hopefully be delivered this week :)  DietPi is exactly the kind of image I was looking for for what I want to do, and I already have a couple of installs of it running.

I can't contribute with code at this time so donation gladly sent!

[2016-03-08 12:33] Fourdee commented on #217
@rotational467
Thank you for your feedback and donation, I appreciate it! :+1:

I'am still waiting for my C2 to arrive. It should hopefully be here before the weekend so I can crack on with adding a DietPi image for it. Cant wait, makes me feel like a child at xmas again lol.

[2016-03-08 15:44] Fourdee commented on #210
@R1CH-T
Ok time to crack on :)

Yep, this is being implemented 1st. Once thats stable, i'll look into the other areas.

:+1: . Yep, there's enough reference and reading to keep me busy lol. I appreciate all the input and it will make this process much easier.

[2016-03-08 15:49] Fourdee commented on #219
@openmy

Ok, thanks for the videos and apologies for the delay. I see a few issues:
- /DietPi/dietpi/login | reported as not found
- dietpi-banner | hangs after login

I was unable to replicate any of these issues on a fresh OPi install. Its most likely hardware related and looks like filesystem corruption.

Please answer the following:
- SDcard make/model. Have you tried other cards?
- PSU make/m

[2016-03-08 16:27] openmy commented on #219
- SDcard make/model : Strontium 8gb  Class 4,
  Have you tried other cards ? : Yes
- PSU make/model/amperage: Samsung Ep-Ta10jWE, 5,3V - 2A.
  Have you tried other PSu's ? : Yes (tosiba Tsp-1 5v -2A , very good power)
- Are you modifying any files on in `/boot, after writing the DietPi image and before powering on? => NO (just download and use )
- Image write method or tool.:
  SD Formatter
  Win3

[2016-03-08 17:39] R1CH-T commented on #210
Thanks for looking into this. :)
A lot of those links in the long list came as the result of googling and re-finding stuff that I'd looked into ages ago.
It's certainly worth skimming over, but this stuff is not quite as valid as it was at the time it was posted and the concepts have since been absorbed into mega-projects like OpenHAB.
[OpenHAB's downfall might eventually happen due to it's being

[2016-03-08 18:06] Fourdee commented on #217
Just got an email from Odroid UK regarding my order. They are out of stock and have no ETA on restock. Looks like the DietPi for Odroid C2 is going to be delayed.

http://forum.odroid.com/viewtopic.php?f=135&t=19340

[2016-03-08 20:01] spiderkeys opened #226 "cpufrequtils not having desired effects"
Is there something in DietPi that would interfere with the normal functionality of cpufreq-set? I'm trying to manually underclock to 700Mhz on the fly without a reboot, but the cpu frequency doesn't seem to respond to any changes I make with cpufreq-set, no matter which governor I select or which min-max frequency I set.

[2016-03-08 20:05] spiderkeys commented on #226
Example:

[code]

According to kernel.org docs:

[code]

I am expecting to see the frequency get set to 700 Mhz here.

[2016-03-09 00:06] rotational467 commented on #217
My pleasure!  Glad to see that you were able to find another vendor who actually had some.  I'm in the US and ordered Monday morning from ameridroid, who as far as I can tell have them in stock but are warning about 1-2 days processing delay, so I'm hoping to see it by Saturday :)  I know what you mean about waiting for xmas!

[2016-03-09 05:47] openmy commented on #219
My updated using sd memory card class 10 and it works ( tosiba  32gb class 10 )....
From experience with OPI last few days I saw a good sd card and psu  a very important
Thank Fourdee supported me.

[2016-03-09 12:36] Fourdee commented on #219
@openmy
Great to hear its working with another SD card :+1:

I'll mark this ticket as closed. Please reopen if required.

[2016-03-09 12:36] #219 closed, assigned to nobody

[2016-03-09 12:45] Fourdee commented on #226
@spiderkeys

DietPi pulls all available cpu related options and applies all cpu settings via `/sys/devices/system/cpu/cpuX/cpufreq` with the following script, during boot and when you change cpu settings in `dietpi-config` > Performance options:
https://github.com/Fourdee/DietPi/blob/master/dietpi/dietpi-cpu_set

This is why you are unable to set 700mhz. The frequency step is unavailable as report

[2016-03-09 15:42] Fourdee commented on #57
note to self:
non-SQL based data/key storage server.

[2016-03-09 15:43] blindpet commented on #57
Unfortunately the latest redis in repos is always ancient and to my knowledge they do not have an official repo. It is easy to script building from source. I use [these instructions](http://www.htpcguides.com/install-configure-latest-redis-cache-wordpress/)

[2016-03-09 16:49] Fourdee commented on #210
Ok so far, i've created 3 new installation options:
Redis Server | https://github.com/Fourdee/DietPi/issues/57
EmonCMS
EmonHUB

Just need to code them into dietpi-software, then i'll read up on your research to find the next culprit to add :)

[2016-03-09 16:53] Fourdee commented on #57
@blindpet

Thanks for the info. I'll give the compiling a spin.

notes to self: compile .deb for
ARMv6
ARMv7
x64

[2016-03-09 20:16] spiderkeys commented on #226
Awesome, exactly what I needed to know. Thanks!

[2016-03-09 20:16] #226 closed, assigned to nobody

[2016-03-09 20:17] #224 closed, assigned to nobody

[2016-03-10 22:34] ghost opened #228 "DietPi-Software | Update Ampache 3.8.0 > 3.8.2."
Hardware: DietPi on a raspberry pi first-generation.
Occurs when installing Ampache through DietPi-Software.
Ampache 3.8.0 is installed when 3.8.2 is available according to the Ampache web interface.

[2016-03-11 14:30] Fourdee commented on #228
@Zone22
:+1: I'll get this updated to 3.8.2

Our Ampache install reads a pre-setup SQL DB during install, makes it easier for the user and installation is completely automatic, but it does mean we need to update the install now and then.

[2016-03-11 14:49] Fourdee opened #229 "DietPi-Drive_Manager | Read only filesystem option."

[2016-03-11 15:47] Fourdee commented on #228
3.8.2 requires composer install:
![untitled](https://cloud.githubusercontent.com/assets/7077026/13707177/57accf44-e7a0-11e5-963e-d02bac1e8131.png)

[2016-03-11 15:56] Fourdee commented on #228
Composer requires Git install:
![untitled](https://cloud.githubusercontent.com/assets/7077026/13707472/beb81ecc-e7a1-11e5-9a8f-93e5f1dc5fd7.png)

[2016-03-11 16:46] Fourdee commented on #228
Done. Ampache 3.8.2 install available in v113.

[2016-03-11 16:46] #228 closed, assigned to nobody

[2016-03-11 16:51] ghost opened #230 "DietPi-Software | Add MPD installation option"
Music Player Daemon (MPD) is a flexible, powerful, server-side application for playing music. Through plugins and libraries it can play a variety of sound files while being controlled by its network protocol.

http://www.musicpd.org/

MPD could be used in conjunction with Ampache for localplay.

[2016-03-11 16:52] ghost commented on #228
Thank You! DietPi is amazing.

[2016-03-11 17:01] Fourdee commented on #230
@Zone22
MPD (and YMPD) can be installed by selecting HiFi from DietPi software. Although HiFi is a frontend webplayer, it will still install and config MPD.
http://fuzon.co.uk/phpbb/viewtopic.php?f=8&t=5#p50

I will look into separating MPD into its own installation option, sometime in the future.

I've not tested MPD using the HiFi install with Ampache myself. If you try it, please let me know, I

[2016-03-11 17:23] Fourdee commented on #210
@R1CH-T
I've just read through: https://github.com/openenergymonitor/emonpi/blob/master/docs/SD-card-build.md , wish I read that first lol

I dont believe emulating all those installations on DietPi is beneficial. As DietPi installs the software when its required, all it would take is 1 of those programs to change a line of code and it could throw out the whole installation.
The sheer amount of pr

[2016-03-11 17:53] Fourdee commented on #210
@R1CH-T
Also, I do not currently own any of the hardware required, to test any of this software in a open energy monitor environment.
Do you, and, would you be willing to test/verify the software installations are working?

[2016-03-11 21:06] ghost commented on #230
YMPD and Ampache in terms of compatibility coexist they are although not integrated. They share the same music directory. I am unable to connect to an Ampache MPD instance using the local IP and any port. Conversely I am able to connect to YMPD uusing a local IP and default port.  My setup is rather unusual because I'm using YMPD, Ampache, WiFi HotSpot, and ownclowd to manage music/data sync. Ownc

[2016-03-12 04:58] bhaveshgohel opened #231 "DietPi-Software | Add Node.js installation option"
Hello Dan,

This is issue is regarding installing Node.js from Application install option.
I know i can install Node.js using apt-get but it will install older version of Nodejs.
There is a nice bash script for installing latest version of Node.js in Linux:
https://github.com/taaem/nodejs-linux-installer

Can we use that and add it in installation option?

Thanks,
Bhavesh Gohel

[2016-03-12 20:26] Fourdee opened #232 "DietPi-Software | Update PiHole webstats to current"

[2016-03-12 20:26] Fourdee commented on #232
Will be patched for all systems in next release (v113).

Can also be manually applied now:

[code]

[2016-03-12 20:26] #232 closed, assigned to nobody

[2016-03-12 20:38] Fourdee commented on #231
@bhaveshgohel
Thanks for the request and links. Will come in very handy. :+1:

You'll have to excuse my ignorance, is node.js a javascript library/api for web development? I'am just trying to assign it a category, any suggestions? :)

[2016-03-13 06:32] R1CH-T commented on #210
Thanks again for your efforts, Dan.

I'll be happy to test anything you need me to; just let me know.

Yeah, sorry about that: I thing I sent you down a rabbit-hole there!
I wish I'd posted that link sooner and saved you some work. :(
I hope that you got something useful out of it, though.

I'd never dream of asking you to do something that complex. The emonPi runs a bespoke Raspbian image just li

[2016-03-13 14:04] k-plan opened #233 "DietPi-Software | PiHole webstats - Pi-hole stats with DietPi-Cloudshell (v113 milestone)"
@Fourdee

have noticed and tested Update PiHole webstats to current #232

Really nice work, but run into several problems.
- Problem with pi-hole AdminLTE "`Query Log`" page.
  ![160313-0003](https://cloud.githubusercontent.com/assets/17237601/13729082/9385989c-e92c-11e5-8339-f0c584fcfeb9.gif)

Also can be seen in logfile: `/error.log`

[code]

(_May be have a look at:_ https://github.com/pi-hole/

[2016-03-14 04:39] bhaveshgohel commented on #231
Hello Dan,

Sorry for late reply,
Node.js is an open-source, cross-platform runtime environment for developing server-side Web applications. Although Node.js is not a JavaScript framework, many of its basic modules are written in JavaScript, and developers can write new modules in JavaScript. The runtime environment interprets JavaScript using Google's V8 JavaScript engine.

Also See: [Is Node.js

[2016-03-14 14:03] Fourdee commented on #233
@k-plan

:+1:
I've applied this to the DietPi fork of PiHole webstats. All systems will be patched in v113 update:
https://github.com/Fourdee/AdminLTE/commit/825b39697a645084d12a140133c4f99db7b736cb

[2016-03-14 14:15] Fourdee commented on #233
@k-plan

`/etc/.pihole` is generated when using the PiHole installation script (not DietPi).
It appears they use this hidden folder as a tempoary directory to store PiHole files before being applied to the system: https://github.com/pi-hole/pi-hole/blob/master/automated%20install/basic-install.sh#L552-L560.

I had to search for this as they don't use the global variable they generated, that holds

[2016-03-14 14:21] wdawson001 opened #234 "Static IP with Jessie & RPi3"
The new raspberry pi 3 defaults to WiFi and I think this is causing issues with the Diet-pi config when using a static IP. (I use mine for pi-hole). The install steps are not correctly assigning a Static IP

https://errorin10.wordpress.com/2016/03/07/raspberry-pi-configure-static-ip-with-etcnetworknterfaces-or-dhcpcd/

I tried that solution but I couldn't get my networking back up and running. Wil

[2016-03-14 15:35] Fourdee commented on #233
@k-plan

I was unable to replicate this with DietPi-Ramlog 2 and Full logging modes on a fresh install. It may be language/locale related.

I need some more information.

#### Can you paste results of:

`ls -lha /var/log`

`date +'%b %e'`

#### Reboot system to generate pihole.log. Allow for a few minutes of queries, then:

`cat /var/log/pihole.log`

`stat -c%s /var/log/pihole.log`

[2016-03-14 15:38] rhkean commented on #205
Testing updates (using LLAP)
-  Grasshopper:  no very familiar with this, but it requires SQLite.  appears to run, however, with LLSP stack.  (installs in root folder of webserver, though).  http://<< server >>/phpliteadmin/phpliteadmin.php seems to be working correctly, also.
-  DietPi Cam:  I do not have a pi cam, so it's throwing some errors that I believe are related to the missing camera.  Th

[2016-03-14 15:47] Fourdee commented on #234
@wdawson001

DietPi disables `wlan0` on all images by default. It must be enabled in `dietpi-config` or `/etc/network/interfaces` `auto wlan0` before it can be configured and brought up (used).

I think the issue may be in your `/etc/network/interfaces` file. Could you please upload its contents, or paste it in your reply?

[2016-03-14 15:57] Fourdee commented on #234
@wdawson001
I did a fresh PiHole install on a Pi 3 and doing all network changes in the presented menus (`dietpi-config`) without touching `/etc/network/interfaces`. I was unable to replicate the issue you are experiencing.

For reference, heres the `/etc/network/interfaces` file it generated with static IP:

[code]

As per my previous post:
if you can upload or paste your `/etc/network/interfaces

[2016-03-14 16:01] wdawson001 commented on #234
@Fourdee I'll do a fresh install tonight (in 4hrs) and see if it is replicated. The static ip issue was with over the Ethernet, not the wifi.
Thanks for the quick response

[2016-03-14 16:02] Fourdee commented on #234
@wdawson001

No worries.
If the issue reoccurs, please let me know and upload your `/etc/network/interfaces` so i can check/verify the applied settings.

[2016-03-14 16:06] Fourdee commented on #231
@bhaveshgohel

Excellent, sounds good to me and thanks for the additional information :+1:

I'am not sure if its going in the DietPi or Linux software menu yet, will let you know when its completed.

[2016-03-14 16:09] 1qay1 opened #235 "Calender and Contact Syncing with an additional Webclient (feature request)"
Hi there,

I really like DietPi´s lightweight approach and the easy installing methods for software packages.

Although the software package already provided is feature rich and with different options and choices there is currently a category not yet available: Calender and Contact Syncing with an additional Webinterface.

We all have a lot of devices (e.g. computers and smartphones) that have a c

[2016-03-14 16:39] k-plan commented on #233
@Fourdee

Currently using Pi-hole with DietPi full logging. AdminLTE looks now:
![pi-hole-run](https://cloud.githubusercontent.com/assets/17237601/13750399/94a139fa-ea05-11e5-83fa-ea2c61df1a1b.gif)

[code]

[code]

`root@oDroide-C1:~# reboot`

[code]

[code]

AdminLTE after reboot  looks :
![pi-hol-rebot](https://cloud.githubusercontent.com/assets/17237601/13750857/9d31b0ac-ea07-11e5-8805-a12e90f6

[2016-03-14 16:50] Fourdee commented on #233
@k-plan
Many thanks for the tests and results.

It appears DNSMASQ is logging dates in english:

[code]

Where as, your system date is pulling de:

[code]

So it looks like I was right.
Because no `Mäy 14` entries exist in your `/var/log/pihole.log`, all lines in the log file are being cleared when `dietpi-logclear` is run. DietPi trims all pihole log entries for all days, excluding today. This is

[2016-03-14 17:05] Fourdee commented on #233
@k-plan

Looks like we can use the following to force english months from date:

[code]

If you can confirm the following returns `Mar` i'd be greatful:

[code]

[2016-03-14 17:27] k-plan commented on #233
@Fourdee

[code]

YES! :+1:      :0))

[2016-03-14 17:36] Fourdee commented on #233
@k-plan
Excellent, thanks again :+1:

Ok so all the main issues have been resolved.

The only outstanding item is:

[code]

Although this file is only related to the `basic-install.sh` script from PiHole (which DietPi doesnt use), I could just add `&> /dev/null` to the command or remove the line entirly, but I'll have a think about this one.
Either way, this does no harm to your system and the "no

[2016-03-14 17:49] Fourdee commented on #205
@rhkean
Thanks for the testing updates :+1:

The project hasn't been updated in over 4 years, and, i was unable to get this working on Jessie. I think with the same error. As of v113, Raspcontrol has been removed from the Jessie `dietpi-software` list, so we can skip this one.

No RPi camera!? You haven't lived :).  I've sent you an email regarding this.

[2016-03-14 17:51] k-plan commented on #233
@Fourdee

Correct! Happend this moment.

[code]

But no more _"divide-by-zero error"_   in `cat /error.log` because I have change  Line 17 in  `/var/www/pihole/data.php` as describedi Fix here: /https://github.com/pi-hole/AdminLTE/commit/8d02575b1ae94362453ce439333f16cf0ea7fac4

AdminLTE before dieitpi-logclear is run:
![pi-hol-ramlog2-1h](https://cloud.githubusercontent.com/assets/17237601/137538

[2016-03-14 18:03] Fourdee commented on #233
@k-plan

It appears this hasn't reached the PiHole master branch yet (which DietPi forks).
I've updated the DietPi fork for now to resolve the issue. Again, will be patched in v113 https://github.com/Fourdee/AdminLTE/commit/e1cd3556c55d982d8548e207c1f8d35a09d78f7d

Hehe, no worries, its not much work (this time :) ). Just a change in the following line is all it needed:

[code]

[2016-03-14 18:05] k-plan commented on #233
@Fourdee

not fussed about this. Will only be notice, if `gravity.sh` is started from command line by user.

BTW: - will `gravity.sh` started automatically via cron by default after pi-hole installation?

And it will be verry nice, you have a look on this:
![pi-hole-cloudshell](https://cloud.githubusercontent.com/assets/17237601/13754454/682eab3e-ea17-11e5-9eb4-9a010b414120.gif)

[2016-03-14 18:11] Fourdee commented on #233
@k-plan

Ah, missed that one. Same fix as per https://github.com/Fourdee/DietPi/blob/master/dietpi/dietpi-logclear#L117:
https://github.com/Fourdee/DietPi/blob/testing/dietpi/dietpi-cloudshell#L590

You can apply this now, just download the new script and restart dietpi-cloudshell:

[code]

Patched for v113

[2016-03-14 18:19] k-plan commented on #233
@Fourdee

![pi-hole-fix](https://cloud.githubusercontent.com/assets/17237601/13755022/841bcaf0-ea19-11e5-844f-7edc2b4398e6.gif)

:100:  :+1:

[2016-03-14 18:57] Fourdee commented on #217
Odroid C2 arriving mid-week, cant wait.

[2016-03-14 21:13] spiderkeys commented on #231
Additional info, in case you are looking for a binary source: we've been using the armhf builds put out by Nodesource on both DietPi and our Debian build for BBB: https://github.com/nodesource/distributions

They seem to keep on top of things fairly well and have a wide range of tested builds for ARM platforms. They are compiled for Debian/Ubuntu, but I don't think that will cause any issues (we u

[2016-03-15 10:29] k-plan commented on #217
@Fourdee

wow, great news! Have you get a shipping or tracking notice from Diigiit Robotics Europe?

[2016-03-15 10:32] accodev commented on #217
first of all thank you @Fourdee for your work, I'm eagerly waiting for my odroid to come and I want to install DietPi :+1: @k-plan I ordered it from Diigiit Robotics Europe and they have shipped it on 12-03.
It should be arriving in these days. I got a shipping number as well.

[2016-03-15 11:22] wdawson001 commented on #234
Tried it again, failed again - if you select pi-hole and run through the auto setup that pi-hole puts you through, it failed for me.

However, I setup the dietpi, with no software installs, and configured the network, then installed pi-hole and it worked great!

(Good work on updating to the latest pi-hole!)

[2016-03-15 11:22] #234 closed, assigned to nobody

[2016-03-15 19:19] Fourdee commented on #217
My C2 arrived today and work has started :racehorse:.
Trust me, the C2 does not disappoint. Extremely impressed, sheer perfection. Hats off to Odroid.

[2016-03-15 19:25] Fourdee commented on #235
@1qay1
Hi,

Many thanks for the feedback and software request.

I took a quick look at http://baikal-server.com and I'am edging towards it. It uses a MySql DB which will help with compatibility with our webserver stack selection. Davical uses PostgreSQL.

I'am currently wrapping up DietPi https://github.com/Fourdee/DietPi/milestones/v113 with Odroid C2 support. Once its completed, I'll look into y

[2016-03-15 20:07] Fourdee opened #236 "DietPi-Config | Only show options which are available for the device"
eg: disable RPi options on Odroids.

[2016-03-16 00:10] 1qay1 commented on #235
Hi @Fourdee,

thank´s for thinking about my feature request.

Yes Baikal is using MySQl and SQLite DB. I tested it with DietPi works nearly out of the box; very easy to install (took me just a few minutes getting it up and running and I am surely no expert). Synchronisation reliable with iOS and Android clients tested.

Currently there is the version baikal-server.com (0.2.7) the newer and updated

[2016-03-16 09:01] k-plan commented on #217
@Shevraar
thanks for the info. :+1:

@Fourdee
I am very pleased to hear, that  C2 perfectly satisfied your expectations.

[2016-03-16 14:45] rotational467 commented on #217
@Fourdee

That's awesome news!  I got mine on Monday and yeah this thing is a real powerhouse even on microSD, until my eMMC gets here.  Enjoy!!! :+1:

[2016-03-16 15:27] Fourdee commented on #217
@k-plan
So far its exceeding my expectations :)

@rotational467
Ah nice one. EMMC makes a huge difference to filesystem IO and overall performance, its like swapping a platter HDD for a SSD.

[2016-03-16 18:45] k-plan commented on #233
@Fourdee

do some testing with modified`/DietPi/dietpi/dietpi-logclear`

Results:

**\- with `DietPi-Ramlog #1 (default)` and `DietPi-Ramlog #2`:**

![pi-hol-ramlog2-17h](https://cloud.githubusercontent.com/assets/17237601/13822941/e15e8218-eba7-11e5-9c11-34abbed8708e.gif)

(+) Display graph and counters match with "... Today" bottom in AdminLTE and fits  the specified date. Same in Cloudshell
 (`

[2016-03-16 19:35] Fourdee commented on #233
@k-plan
DietPi-Logclear will only clear the following data from pihole.log on an hourly basis, or when `dietpi-logclear` is run:
- Other days of log data, excluding today
- If the file has reached 5MB in size

https://github.com/Fourdee/DietPi/blob/testing/dietpi/dietpi-logclear#L109-L151

When you reboot the system using DietPi-Ramlog mode 1/2, all log file contents is cleared. We dont store the

[2016-03-16 21:38] ac-anhydros opened #237 "Softether VPN Server. Pls restore to optimized software."
Please reinstate softether vpn server as a choice in the dietpi optimize software, both for the VM and the distro.  We are using it from v 100 on a VM, and it is far better than openvpn server.

Alternatively, could you e-mail me a script or directions to install it on the latest dietpi distro?

Thanks!

[2016-03-16 22:23] Fourdee commented on #237
@ac-anhydros
Softether was removed in v104: https://github.com/Fourdee/DietPi/pull/154

For the moment, it wont be returning.

You can find the softether VPN installation code in v103 of DietPi. Simply browse the commits prior to v104:
https://github.com/Fourdee/DietPi/tree/0fcef522c9975121ce938278fa8e7e687e00557e

Search dietpi-software script for `SOFTETHERVPNSERVER`. You'll find the installatio

[2016-03-16 22:23] #237 closed, assigned to nobody

[2016-03-17 11:21] WolfganP opened #238 "RPi-Monitor as optional remote monitoring tool"
Based on this article http://www.cnx-software.com/2016/03/17/rpi-monitor-is-a-web-based-remote-monitor-for-arm-development-boards-such-as-raspberry-pi-and-orange-pi/ , I found this project (https://github.com/XavierBerger/RPi-Monitor) may be interesting for integration to DietPi (as Raspcontrol was removed due to lack of project maintenance)

[2016-03-17 16:31] Fourdee commented on #217
@k-plan @rotational467 @Shevraar @misury
DietPi for Odroid C2 has been released under beta as we have a few issues to iron out with Kodi.

Download image and more info: http://forum.odroid.com/viewtopic.php?f=138&t=19948

[2016-03-17 17:54] k-plan commented on #233
@Fourdee
Thank you for explanation. :+1:

How you described, it will be as we desired.
Hmm, it's quite possible, that I have screwed up something by editing  `/DietPi/dietpi/dietpi-logclear`.
Will do some more testing and then will updating my previous text, so its don't puzzle anyone. Promised .

 Make sense and my device will do as described above.

Yes, I have read in the describtion of DietPi-

[2016-03-17 18:27] Fourdee commented on #217
#### Workaround for sound in Kodi:

http://forum.odroid.com/viewtopic.php?f=138&t=19948&p=130983#p130983

[2016-03-17 18:44] Fourdee commented on #233
@k-plan

This is because we are using `if` / `elif` when processing the filetype.
https://github.com/Fourdee/DietPi/blob/master/dietpi/dietpi-logclear#L109-L156
All the code highlighted will not get backed up.

Also, when DietPi-Logclear backs up the logfiles, it actually reads the contents, then adds that data to the existing backups, before the original logfile in /var/log is cleared.
https://gi

[2016-03-17 21:35] rotational467 commented on #217
@Fourdee

Perfect timing, my eMMC module arrived today!  Thank you for the all of the hard work!

[2016-03-18 02:20] rotational467 commented on #217
@Fourdee

For some reason, I can't get a good HDMI signal under the current beta release.  I've got a 1680x1050 DVI monitor with a DVI -> HDMI adapter.  Have no problems with any of my RPi's with this setup or with Meveric's base image or the official odroid Ubuntu image (although I have to manually define my resolution in the config.txt to get a native output).  I don't think the either the RPi o

[2016-03-18 03:19] Fourdee commented on #217
Can you paste your '''/DietPi/boot.INI?''' Also, try commenting out the dvi flag in boot.INI.

Date: Thu, 17 Mar 2016 19:20:41 -0700
From: notifications@github.com
To: DietPi@noreply.github.com
CC: daniel_haze@hotmail.com
Subject: Re: [DietPi] Odroid C2 | Add support and optimizations in DietPi (#217)

@Fourdee

For some reason, I can't get a good HDMI signal under the current beta release.  I've

[2016-03-18 08:14] k-plan commented on #217
@Fourdee
have also some trouble to get it started on C2 with a 4:3 PC-Monitor (native Display resolution: 1280x1024) and DVi-to-HDMI cable. Proved settings form C1+ didn't work.

Solution for me:

[code]

@rotational467

tried to edit `/DietPi/boot.ini` with `setenv m "1680x1050p60hz"` ? _(not `/boot/boot.ini`)_

`setenv vout "dvi"` or `setenv vout "vga"` makes no odds with my monitor and DVI-to-H

[2016-03-18 13:47] rhkean commented on #205
Testing status as of version 112

|  | Apache | lighttpd | nginx | Notes |
| :-- | :-: | :-: | :-: | :-- |
| phpMyAdmin | :white_check_mark: | :star: | :star: | :star: patch to php-fpm install logic |
| phpSysInfo | :white_check_mark: | :white_check_mark: | :star: | :star: added php5-xsl to php install block |
| Linux Dash | :white_check_mark: | :white_check_mark: | :white_check_mark: | works out

[2016-03-18 13:54] Fourdee commented on #205
@rhkean
Nice table :+1:. I've updated the 1st post to link to your table.

[2016-03-18 13:56] rotational467 commented on #217
Hi guys,

Thank you for the suggestions.  I just flashed a clean image to start over.  Setting only `setenv m "1680x1050p60hz"` gets me a corrupted image.  The key is the color depth as well (the one thing I didn't mess with last night of course)...setting `setenv m_bpp "32"` gives me a clean image at the correct resolution.  I'm not worried about Kodi so this is not an issue for me.  I'm sure thi

[2016-03-18 14:31] Fourdee commented on #231
@spiderkeys
Excellent, thanks for sharing the binaries :+1: , will give them a spin.

[2016-03-18 15:21] Fourdee commented on #231
@spiderkeys
Saved me about 4+ hours of manual compiling. Nice one :+1:

Node.js v5.x
Available in next release v113.

Decided to put it in additional linux software with @bhaveshgohel naming. Boarderline Dev/Shared library. So let me know if you think it needs its own category, or moving elsewhere.
![untitled](https://cloud.githubusercontent.com/assets/7077026/13882381/11aefbe8-ed1d-11e5-843f-3a70

[2016-03-18 16:31] Fourdee commented on #238
@WolfganP
Great find on this :+1: . Slick UI and great stats, love it.

Available in next release (v113) as a DietPi optimized installation for RPi (Jessie):
![untitled](https://cloud.githubusercontent.com/assets/7077026/13884662/e3964aae-ed26-11e5-9e80-696d2211e055.png)

[2016-03-18 16:57] WolfganP commented on #238
Glad to help improving the distribution. Thanks for the quick integration!

[2016-03-18 18:37] Fourdee commented on #235
@1qay1

Decided to go for BaiKal 0.5 and InfCloud frontend.
BaiKal is done. InfCloud front end, aiming to get that completed tomorrow.
![baikal](https://cloud.githubusercontent.com/assets/7077026/13888262/6c05207a-ed38-11e5-83a0-fd9344c8e1d0.png)

[2016-03-18 20:11] k-plan commented on #238
@Fourdee

Used it for long time on my RPis, it's a great piece of software. Can also run on oDroid C1 / C2 with some modifications in `/etc/rpimonitor/template/` :

_(edit: 2nd new picture)_
![160320-0007](https://cloud.githubusercontent.com/assets/17237601/13905774/ad66d8fa-eec9-11e5-8c24-841634ef4ade.gif)

:) Like it. And the Debian packaging is handy.

It's a pity, but XavierBerger is not worki

[2016-03-19 02:41] PromoFaux commented on #233
Hey,

`adlists.default` That is indeed used. It's copied from the temp install directory each time `gravity.sh` is run, so there is no need to copy it on install. This ensures that the default list is always the same (provided the user has not changed `/etc/.pihole/adlists.default`)

If user wants to use their own list, instead of the default, then they need to manually create `adlists.list` and m

[2016-03-19 04:16] bhaveshgohel commented on #231
@Fourdee : Great :tada:
It's best suited in both the current category name: Development / Programming and Shared Libraries. So any of one will be good enough. :+1:

@spiderkeys Thank you for the additional info. :smiley:

[2016-03-19 09:41] k-plan commented on #238
@Fourdee
notice, that you will  integrate it in v.113. Verry nice.
https://github.com/Fourdee/DietPi/blob/testing/dietpi/dietpi-software#L1826

Is there a reason, why you use `rpimonitor_2.9.1-1_all.deb` and not current [rpimonitor_2.10-1_all.deb](https://github.com/XavierBerger/RPi-Monitor-deb/blob/master/packages/rpimonitor_2.10-1_all.deb) ?

https://github.com/XavierBerger/RPi-Monitor-deb/blob/

[2016-03-19 13:10] Fourdee commented on #238
@k-plan
Yep, I didnt see the 2.10 in the middle lol: https://github.com/XavierBerger/RPi-Monitor-deb/tree/master/packages

I'll update the install to 2.10. :+1:  good spot.

[2016-03-19 13:15] Fourdee commented on #233
@PromoFaux

Seems strange to copy a file from a tempoary directory each time `gravity.sh` is run.
Would it not make more sense to move `adlists.default` into `/etc/pihole` as its clearly required for `gravity.sh` to function, or at the very least, check the temporary file exists in the temporary install directory before copying it?

You could even `&> /dev/null` or `&> /var/log/pihole.log` for a "

[2016-03-19 15:19] PromoFaux commented on #233
One day, we might be friends, and we will look back and laugh. Until then, I think you're a pompous sod... ;)

I use the term "temp install directory" loosely. It is, in fact, permanent. The way the install process works is we clone the git repository into `/etc/.pihole/` and copy the files to their final destinations.

The reason I made gravity copy the file each time was so that we could be sure

[2016-03-19 15:43] Fourdee commented on #233
@PromoFaux

Lol, I really couldnt care less what your opinion of me is.
I'am here to code and get things done, not talk trash because someone has the inability to keep their childish opinions to themselves.

So what your saying is `/etc/.pihole/*` is actually a hidden permanent directory for your PiHole `curl -L install.pi-hole.net | bash` installation?

Will do.

[2016-03-19 16:11] PromoFaux commented on #233
Meh, not trash talk, just an assessment of how your general attitude has been. But that's probably just me, not a reflection on the rest of the Pi-hole team.

Anyway, all that aside.

Correct, before we did this, we were individually curling each file into the required locations, which was causing _some_ issues if connections were dropped mid-install. Made sense to clone the whole repo, and then t

[2016-03-19 18:13] Fourdee commented on #233
If I need an assessment of my attitude, I'll ask for one. You really need to learn a way of controlling your emotions and keeping your personal opinions of people, to yourself.

Thanks for the confirmation.

[2016-03-19 18:28] #233 closed, assigned to nobody

[2016-03-19 21:50] Fourdee commented on #210
@R1CH-T
My EmonPi arrived today (many thanks to you :+1: ) and made me to rethink the DietPi implementation. My goal is to allow for a single EmonPi installation option to make this as simple as possible for the user. I'll start with the basic features (cms/hub) so the user can check stats, graphs and sensor data, then build on it from there.

I just need to get my head around the device, the soft

[2016-03-20 14:52] Fourdee opened #241 "DietPi-Software | Possible package not found errors"
Caused by apt-get cache being outdated.

[2016-03-20 14:53] Fourdee commented on #241
DietPi-Software will now always clear the apt cache and update it, prior to installing the selected software.
The previous "once every 7days" apt-get update caused missing package errors, if a package filename was changed in the repo during that time.

[2016-03-20 14:53] #241 closed, assigned to nobody

[2016-03-20 16:07] k-plan commented on #238
@Fourdee
have playing around (quick and very dirty) with some lines in  `/etc/rpimonitor/template/...` and it is really amazing on Odroid C1/C2. Not only on RPis as the name implies.
Have updated the picture in posting above. We would be pleased to receive "_DietPi-Monitor-for-oDroid_" :smiley:

[2016-03-20 17:12] Fourdee commented on #238
@k-plan

Very nice, love the DietPi version number in there :+1:  :)

[2016-03-20 17:51] Fourdee opened #242 "DietPi-Software | InfCloud front end for BaiKal"
Continuation from https://github.com/Fourdee/DietPi/issues/235#issuecomment-198488772

[2016-03-20 17:52] Fourdee commented on #235
@1qay1
Running behind on InfCloud front end. As I'am trying to finish up v113, I will move it to v114 and a separate ticket to finish off this request:
https://github.com/Fourdee/DietPi/issues/242

[2016-03-20 17:52] Fourdee commented on #235
Note to self: Add usage details to dietpi.com/software

[2016-03-20 17:53] Fourdee commented on #238
Note to self: Add usage details to dietpi.com/software

[2016-03-20 17:54] Fourdee commented on #57
v113 will contain the installation from apt. When I continue work on EmonPi https://github.com/Fourdee/DietPi/issues/210 I will modify the install to latest version and compile.

[2016-03-20 17:55] Fourdee commented on #57
Note to self: Add usage details to dietpi.com/software?

[2016-03-20 19:19] Fourdee commented on #238
http://fuzon.co.uk/phpbb/viewtopic.php?f=8&t=5&start=50#p1503

Available in v113

[2016-03-20 19:19] #238 closed, assigned to nobody

[2016-03-20 19:20] Fourdee commented on #235
BaiKal http://fuzon.co.uk/phpbb/viewtopic.php?f=8&t=5&start=50#p1502:

Available in v113

[2016-03-20 19:20] #235 closed, assigned to nobody

[2016-03-20 19:20] Fourdee commented on #231
Available in v113

[2016-03-20 19:20] #231 closed, assigned to nobody

[2016-03-20 19:24] Fourdee commented on #217
Although DietPi for C2 is in beta, I will marked as completed here. Further bug reports should be created with a new Git ticket.

Please check the list of known issues, before creating a bug report:
http://forum.odroid.com/viewtopic.php?f=138&t=19948&sid=7f255a9875aa0043b60c29c69fd2a713

Its currently kodi and LXDEdesktop that are causing problems at the moment. I will continue to improve and work

[2016-03-20 19:24] #217 closed, assigned to nobody

[2016-03-20 19:26] Fourdee commented on #57
Available in v113 as a apt-get install.

[2016-03-20 19:29] Fourdee opened #244 "DietPi-Software | Updated Redis server to use latest version (from source)"
Apt-get install is out of date. Also required for EmonPi: https://github.com/Fourdee/DietPi/issues/210#issuecomment-198791478

[2016-03-20 19:30] Fourdee commented on #57
Created a new ticket for v114 to update the current apt-get install to latest version (from source): https://github.com/Fourdee/DietPi/issues/244

[2016-03-20 19:30] #57 closed, assigned to nobody

[2016-03-20 21:29] k-plan commented on #238
@Fourdee

For now, it is only for all the RPi?
Is it possible, you missed to integrated  RPi-Monitor in `dietpi-software`  for Odroid C1/C2?
Can`t find it after update to v113 on C1/ C2 .... :weary:

BTW:

[code]

:flushed: ... but no big deal.

[2016-03-20 22:23] Fourdee commented on #238
@k-plan
Only available for RPi at the moment on DietPi.

I know you modified the code for Odroid c2, but did it work before your changes? If so I can test all devices with RPi monitor and enable them for next release.

If your modified code is required for non-rpi devices, we would need to apply your modified code to those installations and test the following devices:

[code]

Yep, its in there fo

[2016-03-21 00:36] k-plan commented on #238
@Fourdee

Yes run "out-of-the-box" on my C1+/C2

[code]

et voilà - not perfect (_Voltage, Firmware, only cpu0 in focus_) but fundamental content:

![160321-0002](https://cloud.githubusercontent.com/assets/17237601/13908403/28941690-ef02-11e5-94d2-8c472e6cb6de.gif)

With a little fine tuning in templates it can be handsome.

Sorry, only own a old iMac (late 2007), a few RPi and a [CubieTruck](http

[2016-03-22 09:44] R1CH-T commented on #210
Fantastic!
I Hope you get lots of use out of the device, find it as fascinating as I do and that some useful ideas come out of this. I think that there could be some cool additions to DietPi as a result, that can be helpful to many users, appearing out of this. I'm happy to be able to support two of my favourite projects at the same time.

I hope that I'm not sending you off at too much of a tange

[2016-03-22 10:11] chrisvella opened #245 "Full Disk Encryption"
Would it be possible to add a full disk encryption option for installer? I understand it may cause some performance loss, but personally I feel its worth the piece of mind if my device was ever stolen.

[2016-03-22 13:54] Fourdee commented on #210
@R1CH-T

Not at all. I always prioritize core bugs over everything else. However, I need to make sure i'am doing stuff that I enjoy sometimes, helps make it all worth while :)

I love it, got it up and running yesterday. Now I can see when the misses leaves the TV on lol. She isnt too happy about how i've attached the EmonPi lol:
![img_20160322_134207](https://cloud.githubusercontent.com/assets/70

[2016-03-22 14:09] WolfganP commented on #210
Interesting... but is that the full EmonPi or just the EmonTx module (http://shop.openenergymonitor.com/emontx-v3-electricity-monitoring-transmitter-unit-433mhz/)?
As per my understanding EmonTx may be ordered w/o wireless for a direct connection to an RPi, and that will be the cheaper solution for integration, right?

[2016-03-22 14:22] Fourdee commented on #210
@WolfganP

In the picture, its just the EmonPi PCB, pulse sensor and clipon power sensor. The basic package + the pulse sensor:
http://cdn2.bigcommerce.com/server4400/98a75/product_images/optionset_rule_images/28_zoom_1429716170.jpg £54~

From my understanding, the EmonPi can receive the transmissions from a EmonTx unit. http://shop.openenergymonitor.com/emonpi-2/ . I think you could buy a RF rece

[2016-03-22 14:29] WolfganP commented on #210
@Fourdee Yep, I'm on the same situation. Trying to figure out what's the most basic set to allow power monitoring, wired, no fancy displays or cases :-)

[2016-03-22 14:31] R1CH-T commented on #210
@Fourdee @WolfganP
I backed the Kickstarter and got the fancy-schmancy unit with the aluminium enclosure and all the solar-PV stuff, but it looks like you got the best bang for your bucks.
It looks like you got everything you need for your setup.
Just set up a DietPi box with the emonPi's API key and I think that it will read the feed data and this can then be used to set up graphs etc.

[2016-03-22 14:32] R1CH-T commented on #210
You can do all of this from the emonPi, but this is what I'm talking about.

[2016-03-22 14:34] R1CH-T commented on #210
The TX is an older concept and provides loads of connections for sensors, but is not at all necessary.

[2016-03-22 16:35] ghost opened #246 "DietPi-Software | Add NFS installation options for Client and Server"
NFS server is better optimized for *nix sharing (all computers in home running linux, *BSD)

[2016-03-22 17:08] Fourdee commented on #210
As a tip, if your looking into purchasing the EmonPi:
You dont need any additional power supplies.
This was another confusion when I ordered the unit. The EmonPi has a Mini USB (not micro) power socket, however, if you have a 2amp microUSB PSU for your Rpi, plug it into your RPi and it will power both the RPi and EmonPi board. So you only need 1 PSU for your RPi, nothing else.

The MiniUSB power i

[2016-03-22 20:11] 1qay1 commented on #235
Hi @Fourdee

thanks for picking up my feature request and including Baikal DAV in DietPi Software list.
Hope this feature makes a lot of people happy and enjoy it added to DietPi.

Just a question: Where did you find the 0.5.0 version of Baikal? Benn following the project on github and thought 0.4.x is the latest release (https://github.com/fruux/Baikal/releases)

[2016-03-22 20:16] WolfganP commented on #210
Same here. I'm not interested in local readings nor special radio link. I think I'm going for the emonTx... http://openenergymonitor.blogspot.com.ar/2015/04/emonpi-vs-emontx-v3-comparison.html

[2016-03-22 20:27] 1qay1 commented on #242
Hi @Fourdee

thanks again for adding the Infcloud Webclient as an frontend extension for the Baikal DAV Server.

As far as I know the initial configuration of Infcloud may be a little tricky.

So it´s very helpful to take a closer look in these two documents:

https://www.inf-it.com/infcloud/readme.txt
https://www.inf-it.com/infcloud/config.js.txt

You will have to choose and edit the "globalNetwo

[2016-03-22 21:27] Fourdee commented on #235
@1qay1

We actually install from the master branch (i'am assuming 0.4.2): https://github.com/fruux/Baikal/tree/master. Which I would expect is the latest stable version. It could be possible they are using the master branch for active development, would need to verify with devs.

This could be where the version number is pulled from, displayed in the BaiKal mainpage after install: https://github.c

[2016-03-23 16:18] Fourdee commented on #210
@R1CH-T
I've hit a brickwall with the EmonPi's data with the minimal EmonCMS/HUB install, seems way off. I've posted on the OEM forum, hopefully get some assistance on this:
https://openenergymonitor.org/emon/node/12384

[2016-03-23 16:54] ghost opened #247 "DietPi-Software | Add Friendica: A Personal Social Networking Platform"
[Friendica ](http://friendica.com/)is a communications platform for integrated social communications utilizing decentralized communications and linkage to several indie social projects - as well as popular mainstream providers.

"Currently, Friendica users can integrate contacts from Facebook, Twitter, Diaspora, GNU social, App.net, Pump.io and other services in their social streams. Communication

[2016-03-23 19:28] k-plan opened #248 "C1+ | DietPi-System | CPU Govs | ondemand"
@Fourdee

thanks to C2 and RPi-Monitor, I have notices that on Odroid C1+ don't clock down in governor `ondemand` .

Hardware Odroid C1+
Based on image: DietPi_v109_Odroid-C1-(Jessie) Version:

[code]

Installed Software: RAM-Log 2#, Open SSH, Pi-Hole, RPi-Monitor, LAMP, Cloudshell
Kernel:

[code]

[code]

To test, it's a hardware issue, I changed governor `interactive` via `dietpi-config`.

Resul

[2016-03-23 19:39] Fourdee commented on #210
Turns out I needed to use the EmonPi EmonHub branch.

Just need to get the electric app working:
![untitled](https://cloud.githubusercontent.com/assets/7077026/13998390/e279f2ae-f12e-11e5-99d4-e7318d958a4d.png)

[2016-03-23 21:01] 1qay1 commented on #235
Hi @Fourdee

thanks for the clarification. Was just wondering.

From my experience they might use "low numbers" (e.g. 0.4.2) but Baikal server is quite popular and in productive professional use since years and running stable.

[2016-03-23 21:07] Fourdee commented on #248
@k-plan
Excellent bug reporting :+1:

I'll spin up my C1 (not plus) and check if the same occurs.

[2016-03-24 14:59] Fourdee commented on #210
@R1CH-T

#### Turns out, we can send the data directly to emoncms.org.

This means we dont need to install LAMP, emonCMS etc.
All we needed was a slightly modified EmonHub (emonpi variant) that wasn't restricted to working with `/home/pi`, so I forked it: https://github.com/Fourdee/emonhub and modified it for root with `/etc/emonhub` install dir.

#### So the install is ultra, ultra, ultra lightwe

[2016-03-24 15:25] Fourdee commented on #210
Strange, tried to post this info on OEM site, seems i'am now being monitored by a moderator for my posts lol:

https://openenergymonitor.org/emon/node/12384

[2016-03-24 17:31] R1CH-T commented on #210
Great work Dan, thanks a lot for you efforts.

Let's go through this:

Please don't worry about not getting an immediate response; it's a small UK team, with a major update coming up and trying to implement big improvements right now. I think that you might have an idea of the situation they are in.

Yes, I see what you mean.

I didn't foresee how (or even if) you were going to go about this. I co

[2016-03-24 18:25] Fourdee commented on #210
@R1CH-T

Not at all, no need to apologise, I love everything about the EmonPi!
Feeds the geek inside of me and I'll actually use it after the DietPi implementation and testing is completed. Also really enjoyed working on it and the challenge of creating a minimal installation option for EmonPi as a energy usage device with an existing RPi.

Excellent. :+1:
There's no rush as i still need to finish

[2016-03-25 00:39] wthomson commented on #210
_Strange, tried to post this info on OEM site, seems i'am now being monitored by a moderator for my posts lol:_

_Your comment has been queued for moderation by site administrators and will be published after approval._

Hi Dan,
I'm one of the Moderators at openenergy.org. I've changed your oem user account to make your posts visible immediatly after submitting them. i.e. you shouldn't see any mor

[2016-03-25 04:38] JohnAllen opened #249 "RPi Cam autostarts when installed, disabling normal Pi Camera function"
Just wanted to say thank you for DietPi and also that it would be great to get some notification that installing DietPiCam (or what it was exactly called) prevents the normal function of the `raspi*` programs.

[2016-03-25 11:52] R1CH-T commented on #210
@Fourdee

This is great! I'm enjoying watching you do it.

I certainly may need a little bit of hand-holding on this, but I'm eager to learn, so thanks.

Wow! That's so cool! I've got one of those collecting dust, too.

Brilliant. I had to look that one up, but yeah, great idea - again.
I have a mate at work who has an e-cigarette with a hefty coil and a massive battery pack on it: I mean; this th

[2016-03-25 13:33] Fourdee commented on #249
@JohnAllen
Hi John,

Thanks for the feedback.

DietPiCam is essentially https://github.com/silvanmelchior/RPi_Cam_Web_Interface thats been modified for DietPi. This includes support for optional USB drives, and works with our optimized LASP stack.
In regards to the RPi camera and DietPiCam. Are you referring to the autostart of the camera during boot which prevents other programs using it? Or some

[2016-03-25 13:37] Fourdee commented on #210
@wthomson

Hi Bill. Thank you for doing that, I appreciate it.

[2016-03-25 13:51] Fourdee commented on #210
@R1CH-T

Lol. Yep. Portable smoke machines. Buts its too easy to increase your nicotine addiction with those devices.

Battery life, wasnt that great to be honest. Even when setting the RPi to powersave 700mhz and disabling HDMI output.
The Ecig was charged to 4.1 volts, After 3 hours, it was at 3.7 volts. So I think overall, around 6~ hours of use on its internal 2600mah battery.
I'am not sure ho

[2016-03-25 15:00] ghost opened #250 "DietPi-Software | Add Huginn: Performs automated tasks online"
[Huginn](https://github.com/cantino/huginn) is a system for building agents that perform automated tasks for you online. They can read the web, watch for events, and take actions on your behalf. Huginn's Agents create and consume events, propagating them along a directed graph. Think of it as a hackable Yahoo! Pipes plus IFTTT on your own server. You always know who has your data. You do.

[Instru

[2016-03-25 15:24] ghost opened #251 "DietPi-Software | Add uMurmur - Mumble VOIP Server"
uMurmur is a minimalistic Mumble server primarily targeted to run on embedded computers, like routers, with an open OS like e.g. OpenWRT. The server part of Mumble is called Murmur, hence the name uMurmur. It is available as a precompiled package for quite a lot distributions. Check your distribution's package repository.

[Building Instructions if needed](https://github.com/umurmur/umurmur/wiki/B

[2016-03-25 15:36] ghost commented on #163
Could an integration option be included if Pi-hole is installed?

[2016-03-25 15:51] ghost opened #252 "DietPi-Software | Pi-Hole - Web UI is missing elements?"
I noticed one reading up on how to configure Pi-Hole that the Web UI is missing the 'Restart' option. This can be observed when running DietP on xu4. - Needs to be confirmed but it's not a design choice with an updated web UI before considering it as a bug.

The Issue
![The Issue](https://cloud.githubusercontent.com/assets/1348848/14047551/6a435d54-f276-11e5-923c-40ab86f05073.JPG)
Expected Outcome

[2016-03-25 16:14] alcoheca opened #253 "Support IQaudIO DACs"
To support Pi-DAC, Pi-DAC+ and Pi-DigiAMP+, all that is needed is

`dtoverlay=iqaudio-dacplus`

[2016-03-25 16:20] Fourdee commented on #210
@R1CH-T
Just wrapping up the installation code and documentation: https://dietpi.com/phpbb/viewtopic.php?p=1525#p1525

I've added a menu prompt that allows the user to enter their API key during installation. This will be automatically applied by DietPi.
![untitled](https://cloud.githubusercontent.com/assets/7077026/14048300/4fac1682-f2a5-11e5-95b1-2d274f82808d.png)

Should have a test ready for l

[2016-03-25 16:49] JohnAllen commented on #249
When RPi Cam Web is installed, it autoruns, autostarts, which wasn't obvious to me.  When I went to use the Pi camera as usual it didn't work because there was already the RPi Cam Web using it.  It just wasn't obvoius that that would occur when I installed that software, so it would have been great to know that it would autorun and disable stuff like `raspistill`, etc.

[2016-03-25 16:50] JohnAllen commented on #249
Just a warning somewhere maybe, or not autostarting that for users like me who thought it sounded cool, but didn't necessarily want it to autorun the second I got DietPi configured and up and running.

[2016-03-25 18:35] Fourdee commented on #253
@alcoheca
Thanks for the info. I'll get this added into dietpi-config > audio options.

[2016-03-25 18:37] Fourdee commented on #245
@chrisvella
Thanks for the suggestion, i'll look into this when I can.

[2016-03-25 18:38] Fourdee commented on #247
@Zone22

Thanks for the request. I will look into this when I can.

[2016-03-25 18:38] Fourdee commented on #251
@Zone22
Thanks for the request, I will look into this when I can.

[2016-03-25 18:39] Fourdee commented on #250
@Zone22
Thanks for the request, I will look into this when I can.

[2016-03-25 18:43] Fourdee commented on #252
@Zone22
I believe they removed these options from the web UI. I cant see any references to "restart" in the index.php code. But would need to verify with the devs.

The current screenshot on their Git page look like this:
https://camo.githubusercontent.com/efe1b63217fee40926b01703710308fe0f679680/687474703a2f2f692e696d6775722e636f6d2f467765416f33362e706e67

Can you send a screenshot of your curren

[2016-03-25 18:54] Fourdee commented on #210
@R1CH-T  (And anyone else who wants to test this)
- Download latest DietPi image: http://goo.gl/EsIvUp
- Write image to SD card
- Before unplugging the SD card, go to the boot partition (my computer) and open dietpi.txt in wordpad.
- At the very bottom, replace gitbranch to `gitbranch=testing`
- Save the file
- Plug the SD card into your RPi and power on.

Now you can run through the normal DietPi

[2016-03-25 19:02] Fourdee commented on #249
@JohnAllen
Thanks John.
I'll add a whiptail message that will warn the user after selecting DietPiCam for install. I'll also include the instructions to disable the autostart of DietPiCam in there aswell.

[2016-03-25 19:20] Fourdee commented on #253
Completed for next release (v114)
Will be available for selection in `dietpi-config` > Audio options > Set soundcard
![untitled](https://cloud.githubusercontent.com/assets/7077026/14051969/8408879e-f2be-11e5-9d57-88bdee994a64.png)

[2016-03-25 19:20] #253 closed, assigned to nobody

[2016-03-25 19:28] Fourdee commented on #248
@k-plan
Confirmed with Odroid C1. Looks like a kernel issue, but could be DietPi specific. I've contacted Meveric regarding this as he maintains the Kernel.

[2016-03-25 19:59] k-plan commented on #248
@Fourdee
thanks a lot. Looking forward to Meveric  reply. Only hint I have found so far:
- http://forum.odroid.com/viewtopic.php?f=112&t=18461
- http://forum.odroid.com/viewtopic.php?f=117&t=12057  ( :smiley: )

[2016-03-25 20:43] k-plan commented on #252
Hi,

screenshot was linked in  README.md until two day ago.  https://goo.gl/1400Fh
http://i.imgur.com/x2iMfoc.png  -  but  shows not the `branch  'master'.`

The current screenshot on their Git page shows `branch 'devel'` , **_not_** `branch 'master' .`

`Whitelist` and `Blacklist` are disabled at the moment in `branch 'master' .`

[code]

Hope @Fourdee  will implement Update and Restart automatic

[2016-03-25 21:20] Fourdee commented on #248
@k-plan

Reply

So its a known issue.

Interactive seems to be working, so might be a better alternative to conservative.  Conservative has a noticeable delay before scaling up.

[code]

[2016-03-26 01:42] oshank commented on #251
I am currently running a mumble server on my B+ and its works great.

[2016-03-26 03:26] ghost commented on #252
@Fourdee
Screenshot as requested
![Screenshot](https://cloud.githubusercontent.com/assets/1348848/14057770/24250220-f2d8-11e5-841e-12389784168e.JPG)

@k-plan
I agree with the auto update and the prompting with DNS if it's not too much trouble.

[2016-03-26 03:29] ghost commented on #251
Yes it's trivial to install but it's nice to have things going through the dietpi software.

That being said due to the simplicity of installing Mumble I might fork and do a Pull request to included it into dietpi. It'll take a bit of work for me to digest how dietpi installs everything. We will see!

[2016-03-26 05:55] rhkean commented on #205
phpSysInfo, OwnCloud, and Ampache require some tweaks under Nginx.

I'll work on the fixes....

[2016-03-26 12:26] oshank commented on #251
I'm trying to find some time and patience to do the same thing. I really want to contribute to this awesome project with more then some Bitcoin.

[2016-03-26 13:43] R1CH-T commented on #210
@Fourdee
Right. Lots to deal with here, so I'll jump right in and start with your first reply...

He uses a low strength mix, by all accounts, but I get the impression that he's probably wired all the time and is losing sleep because of it. Once he starts to get heart palpitations, he'll probably re-examine his situation. Harsh, I know, but at least he's not inhaling a cyanide-and-gunpowder mix, a

[2016-03-26 14:30] R1CH-T commented on #210
Following on from Glynn Hudson's reply to [your post on the OEM Forum](https://openenergymonitor.org/emon/node/12384), I didn't really understand what he was getting at:

When he said

I get the point (if not the details), but I think that this is exactly what I'm asking for, so I am wondering if what I am looking for is do-able at all.
Plus, I'm asking for the NodeRED and OpenHAB stuff (and the i

[2016-03-26 14:37] Fourdee commented on #248
@k-plan
I'am going to make a patch for V114 and C1.

This will change the default CPU gov to interactive from on demand (if in use). I will also disable the ondemand option in dietpi-config.

[2016-03-26 14:47] R1CH-T commented on #210
ASAP, I will dd the latest image to an SD card, enable testing, boot it onto a spare Pi, install EmonPi, [transfer a copy of my config files](https://github.com/emoncms/backup) and then swap the card into my EmonPi unit for testing. I can then re-attach the existing feeds in the config files to the inputs. [I have done this before](https://openenergymonitor.org/emon/comment/reply/12212/39968), so

[2016-03-26 15:02] Fourdee commented on #248
@k-plan
Done. Patched for v114.

[2016-03-26 15:02] #248 closed, assigned to nobody

[2016-03-26 15:46] Fourdee commented on #249
@JohnAllen
Completed.
Starting from v114, this notification will show when the user selects DietPiCam for installation:
![untitled](https://cloud.githubusercontent.com/assets/7077026/14060904/f05851c6-f369-11e5-8815-57e476acca07.png)

You can also use the following from terminal.

[code]

[2016-03-26 15:46] #249 closed, assigned to nobody

[2016-03-26 16:04] Fourdee commented on #251
@Zone22 @oshank
I've not documented on how to code in additional software into DietPi-Software. So if you need some pointers or have any issues, let me know.

[2016-03-26 16:12] Fourdee commented on #252
@k-plan @Zone22

This may be better integrated into `dietpi-config` under networking options. As well as allowing the user to set DNS servers manually, maybe a menu list and selection of various DNS servers?

I'am not personally keen on automating this. I've ran `gravity.sh` in the past and due to some of the advert block list servers being offline, it reduced the total blocked domains by 80%. I'd

[2016-03-26 16:26] Fourdee commented on #205
@rhkean

Excellent :+1:
I'am surprised, lighttpd seems to support more than nginx without modifications?

You can ignore this one. It will stay disabled.

[2016-03-26 16:57] Fourdee commented on #210
@R1CH-T

In DietPi-Software > Additional linux software, we have a installation option for Xserver. This will install the core Xserver/X11 software and set it up for you.
When you select Desktop/Kodi etc for installation, DietPi-Software will automatically install the Xserver option aswell.
Is this what you meant?

At the moment, the DietPi installation does not install emonCMS (due to the issue w

[2016-03-26 17:50] k-plan commented on #252
@Fourdee

It's okay for me. Pihole DNS is using:   `/etc/dnsmasq.conf`
But nothing to do with DNS settings in:  `/etc/network/interfaces`
So please, if possible, only show this entry, if Pihole is installed.

Great idea. Like this? https://pi-hole.net/pi-hole-2-5-3-released/

Hmm, good spot. If you have enough listed, it will be equal. Duplicated url's will sorted out by pihole.
I personally use t

[2016-03-26 18:09] Fourdee commented on #242
@1qay1

And then some lol. The config.js comments is a mess, going to take me at least a good few solid days from scratch to fully understand every option, setting and configuration.

Do you have a working config.js setup for BaiKal that I could use as a reference? This would vastly speed up the implementation.

[2016-03-26 18:11] JohnAllen commented on #249
Wow, awesome.  Excellent work.  That's perfect.

[2016-03-26 18:58] rhkean commented on #205
well, all of that testing include the cgi.fix_pathinfo patch that I made to get phpMyAdmin to work with lighttpd. (yes, I've verified that didn't break nginx).  I'm baffled on the phpSysInfo issue... load the page and you just get the header.  Hit refresh a few times and it executes.  I don't think it's a php issue, b/c it works without any issues on lighttpd.  There's nothing on the phpsysinfo gi

[2016-03-26 20:26] Fourdee opened #254 "DietPi-Software | Add optimized installation for Tor + Wifi hotspot"
Route all traffic through tor, via WiFi hotspot on device.

[2016-03-26 23:41] djix123 opened #255 "Crash when starting tightvncserver on Odroid C2"
Tightvncserver crashes on Odroid C2 at start up
(this is already fixed in the Hardkernel Ubuntu 16.04 stack)

[2016-03-27 15:14] Fourdee commented on #255
[code]

apt-get install xfonts-scaleable:

[code]

@djix123
Can you provide me with the kernel version for your Ubuntu 16.04 install please:
`uname -a`

[2016-03-27 15:19] 1qay1 commented on #242
Hi @Fourdee

lol, yes I can fully understand. This was exactly the same what I thought about the configuration.

Fortunately there may be huge configuration options to fit all needs and demands but you have to change 2 settings (just a line) to get a working config and you do not need to touch the rest.

I will provide the needed help and hints.

Currently I am traveling so I will get back to you

[2016-03-27 15:33] djix123 commented on #255
I'm using a kernel built following HK's wiki page instructions - built yesterday.

[2016-03-27 16:13] Fourdee commented on #255
@djix123
https://github.com/hardkernel/linux/tree/odroidc2-3.14.y ?

I'lll compile and see if it resolves the issue.

[2016-03-27 16:16] Fourdee commented on #254
Completed. Available as an optional extra for WiFi HotSpot installation. Selecting Tor will also flag WiFi Hotspot for install.
![untitled](https://cloud.githubusercontent.com/assets/7077026/14066366/9377ee04-f43f-11e5-8ff5-8ab6dd281908.png)

[2016-03-27 16:41] Fourdee commented on #254
http://fuzon.co.uk/phpbb/viewtopic.php?f=8&t=5&p=1529#p1529

[2016-03-27 16:54] #254 closed, assigned to nobody

[2016-03-27 17:30] djix123 commented on #255
Yes, that looks right ... this is what I used to clone it, before building:

git clone --depth 1 https://github.com/hardkernel/linux.git -b odroidc2-3.14.y

[2016-03-27 18:52] Fourdee commented on #255
@djix123
Thanks.

Same issue with latest kernel:

[code]

[code]

I'll look into it.

[2016-03-27 19:12] Fourdee commented on #255
`/usr/bin/tightvncserver`

[code]

Still gives same error.

Fonts exist:

[code]

Same issue when specifying 75dpi fontpath:

[code]

[2016-03-27 19:20] rhkean commented on #205
got owncloud working; still working on ampache.

it's a nginx issue

[2016-03-27 19:23] djix123 commented on #255
Here the original Ubuntu bug report ...

https://bugs.launchpad.net/ubuntu/+source/tightvnc/+bug/1429198

[2016-03-27 19:37] Fourdee commented on #205
@rhkean
That was fast, thanks for the update :+1:

So its just phpSysInfo and Ampache for Nginx left?

[2016-03-27 19:41] Fourdee commented on #255
@djix123

Excellent. Now it all makes sense :+1:. A bug in Tightvnc.

Jessie installs:

[code]

As this hasn't reached Sid/Jessie yet (https://packages.debian.org/sid/x11/tightvncserver), I'll try the 1.3.10-0ubuntu3.deb from ubuntu.

[2016-03-28 00:23] rhkean commented on #205
yup.

I updated the chart to show which install combinations require install logic changes.  I'll send you the patches when I'm done, or I can just add them to the repository if you prefer.

Working on Ampache now....

[2016-03-28 02:38] rhkean commented on #205
fixed ampache...
in /etc/nginx/sites-available/default
change server_name directive from localhost to "$hostname"

yeah... really was that simple.

[2016-03-28 05:21] rhkean commented on #205
fixed phpSysInfo

[2016-03-28 14:02] Fourdee commented on #255
@djix123

Missing packages:

[code]

Attempted to copy the binary from .deb on existing tightvnc installation. Installed libjpeg-dev + symlink,

[code]

[code]

Looking like a nofix, for the moment.

[2016-03-28 15:41] Fourdee commented on #205
@rhkean
Great work :+1:

If you can create a text file (or files) for the fixes you applied (:star:) I'd be greatful.

Then its the mammoth task for me to code all this into DietPi. Its going to take a lot of time as most of the installation logic will need to be redone for the webserver stacks. Depending on how much I can get done in v114, i'll try and start this for v115. Then I/we would need to

[2016-03-28 15:58] rhkean commented on #205
oh.... probably wouldn't be very helpful if I did most (if not all) of that work for you already, then?  :)

[2016-03-28 16:10] rhkean commented on #205
These don't require a database, so the code verifies that any stack is selected.  If none, the it selects LASP (as original): pi-hole,phpSysInfo,LinuxDash,dietpicam

Grasshopper requires SQLite, so the code adds the appropriate L?SP stack based on which stack is currently selected.  If none, it selects LASP.

These require MySQL or MariaDB, so it verifies that L?MP or L?AP stack is selected.  If a

[2016-03-28 16:29] Fourdee commented on #205
@rhkean

You've already implemented this into dietpi-software code? :)

[2016-03-28 16:34] rhkean commented on #205
yes.
and tested.
- performed a base (image-only) rpi2 install.
- updated dietpi from v111 to v113
- installed git, buildessentials, and vi
- applied my patches
- set hostname
- installed LESP stack
- installed **ALL** of the above listed apps and just finished testing

[2016-03-28 16:40] Fourdee commented on #205
@rhkean

Legend :+1:.
I'll nudge this to v115. Aiming to get v114 out today/tomorrow, once thats done i'll prep the testing branch for v115. Then you can send a pull request for your updated code. Sound good? :)

[2016-03-28 16:44] Fourdee commented on #242
@1qay1

Excellent :+1: appreciate it.
I'll try to to code in/automate the 2 settings during our installation.

I'll nudge this to v115, so no rush. I'am aiming to get v114 released today/tomorrow.

[2016-03-28 17:00] rhkean commented on #205
sounds good.
I just checked the testing branch (diffs between v113 and v114).  It doesn't look there will be any conflicts between v114 and my changes.  Just let me know when you're ready for me update your repository.

I've got:
2 file changes (dietpi-software & conf/nginx.site-available-default)
1 new file (conf/nginx.sites-dietpi.owncloud.conf)

[2016-03-28 17:08] Fourdee commented on #205
@rhkean

Excellent :+1:

I'am wrapping up v114 now, will let you know when everything is ready for the pull request.

[2016-03-28 17:14] Fourdee opened #256 "DietPi-Software | EmonPi - Add optional installation for RF features."

[2016-03-28 17:15] Fourdee commented on #256
Continuation from https://github.com/Fourdee/DietPi/issues/210.

[2016-03-28 17:18] Fourdee opened #257 "DietPi-Software | EmonPi - Add optional installation for local EmonCMS on device"
Continuation from https://github.com/Fourdee/DietPi/issues/210

[2016-03-28 17:18] Fourdee commented on #210
@R1CH-T

I'am going to mark this as completed for now. I've created two new tickets, these will be additional installation choices for the user (eg: modules) whilst we continue improving the DietPi implementation:
- EmonPi - Add optional installation for RF features. https://github.com/Fourdee/DietPi/issues/256
- EmonPi - Add optional installation for local EmonCMS on device (currently remote emon

[2016-03-28 17:20] #210 closed, assigned to nobody

[2016-03-28 17:28] ori64638 commented on #208
+1 Very useful software

[2016-03-28 18:06] WolfganP commented on #256
Just for reference related to EmonPi alternate comms, the system also supports wired serial connection as per https://openenergymonitor.org/emon/node/3884 (so cheap TTL/RS232 or RS485 adapters can be used were wiring isn't an issue)

[2016-03-28 18:12] Fourdee commented on #256
@WolfganP
Interesting, i've got two of those serial adapters at the moment but no emonTX, wonder if they can be used with the emonPi?

I've ordered a EmonTH so I can implement RF, and have some fun checking temp/humidity around the house lol :)

[2016-03-28 18:27] Fourdee commented on #244
Was not required for our current EmonPi installation.
Will look at this in the future when work starts on:
https://github.com/Fourdee/DietPi/issues/257
https://github.com/Fourdee/DietPi/issues/256

[2016-03-28 18:36] Fourdee commented on #208
Did a quick test with their install script, pre-reqs JVM. Will look into this further.

[code]

[2016-03-28 18:40] Fourdee commented on #205
@rhkean

Ok, v114 is released. I've updated the testing branch to v115. Pull away :D

[2016-03-28 19:34] ghost opened #259 "DietPi-Software | Kodi install as an unprivileged user"
All the programs installed by DietPi Software are installed by root with the exceptions of suff that runs on top of Apache. Although It's best practice to install programs as an unprivileged user some exceptions can be made.  Even given what I've said thus far I cannot stress enough that Kodi should be installed as an unprivileged user. Kodi has ability to use powerful add-ons and plug-ins. Kodi r

[2016-03-28 20:56] djix123 commented on #255
ok, I got it working ... I needed to install the following:

libc6_2.23-0ubuntu2_arm64.deb
libc-bin_2.23-0ubuntu2_arm64.deb
locales_2.23-0ubuntu2_all.deb
libjpeg8_8c-2ubuntu8_arm64.deb
libjpeg-turbo8_1.3.0-0ubuntu1.1_arm64.deb
tightvncserver_1.3.10-0ubuntu3_arm64.deb

... and now I have a running VNC server!

[2016-03-28 21:03] Fourdee commented on #259
@Zone22

You are correct, this would vastly increase dev time, but this is not the reason why we only use root (minus the www-data permissions for all webserver software).

You are probably not going to like my answer, but I want to be honest:
Users who are security conscience, will always apply their security needs to the OS, regardless of what DietPi does. The whole "you shouldn't run as root" i

[2016-03-28 21:19] Fourdee commented on #255
@djix123
Excellent.
The only issue is trying to install all those Ubuntu packages on Debian Jessie. Although in theory the Ubuntu packages should work, the issue is package dependencies and version requirements for each package. I'll take another look at this tomorrow and see what's needed to get it running.

[2016-03-28 22:17] ghost commented on #259
I appreciate you being upfront with your opinion and striving to be honest.

[2016-03-29 09:29] R1CH-T commented on #210
Sorry for dragging my feet on this.
I flashed this to an SD card a few days ago,  but I only just got the chance install emonHub and put it in my emonPi to test this out.
Happily, I can confirm that it worked immediately:
![emoncms - input view - mozilla firefox_001](https://cloud.githubusercontent.com/assets/5366679/14103649/04b865c6-f599-11e5-9192-494bdf490b71.png)
Great work!

[2016-03-29 11:21] k-plan opened #260 "C1+ | DietPi-System | Missing/invisible cursor on monitor/display"
@Fourdee

System: Odroid C1+
Version: DietPi v114 based on v109

Software: with or without xserver/desktop

Problem: Missing/invisible cursor on monitor/display (don#t know, since fb install??)

[code]

In a ssh terminal it works without problems.

[2016-03-29 12:15] Fourdee commented on #260
@k-plan

Can you try the following:

[code]

I think its a known issue with the kernel/framebuffer , but If the above doesn't do it, let me know and I'll contact meveric.

[2016-03-29 12:22] Fourdee commented on #210
@R1CH-T
No worries rich, I appreciate you testing the image/install and good to hear its all working. So many thanks :+1:

Ordered a EmonTH node to help implement RF features (and have fun checking temp/humidity around the house lol).
I will create another installation option for this, so the user can decide if they need RF or want to save some resources. Basically it will be a "addon" installatio

[2016-03-29 14:54] Fourdee commented on #259
@Zone22
I'l mark this as closed. Please reopen if required.

[2016-03-29 14:54] #259 closed, assigned to nobody

[2016-03-29 15:20] rhkean opened #261 "PINE64 | Add support and optimizations in DietPi"
Add [PINE64](http://pine64.com/) support and optimizations to DietPi

(you can assign this to me)

[2016-03-29 17:57] k-plan commented on #238
Hi,
RPi-Monitor: Version 2.11 Beta is ready for test: [please read this before](http://rpi-experiences.blogspot.de/2015/06/rpi-monitor-version-211-beta-is-ready.html#more)

[code]

My Test result:
![rpi-mon-beta](https://cloud.githubusercontent.com/assets/17237601/14117987/a03c499c-f5e7-11e5-917e-5cdb58506b0e.gif)

Same new and really cool features and nice layout.

[2016-03-29 18:05] Fourdee commented on #261
@rhkean
Done :+1:

Mines arriving in May, i think lol.

Which Debian Jessie image base will you be using for it?

Some notes/suggestions:
- dietpi-obtain_hw_model
  Assign a `HW_MODEL` of 40. We will reserve 40-50 for Pines (eg: RPi are 0-10 etc)
- dietpi-config
  Might take a while to implement Pine and its `HW_MODEL`. Will need to go through each option and verify if `HW_MODEL 40` will use it, t

[2016-03-29 18:13] Fourdee commented on #238
@k-plan
Looks great :+1: , does this version support the Odroid straight off the bat? Or did you modify the code for this?

[2016-03-29 18:31] rhkean commented on #261
@Fourdee ,
Don't hold your breath on a May delivery.  I was supposed to have mine in February... still don't have it.  :disappointed:

I'm not certain which base I'll use yet... a lot depends on which (if any) are available, tested, and supported by PINE when I start.   At the moment, in the forums, it doesn't look like they're planning on supporting debian... just Ubuntu.  But, the comments are s

[2016-03-29 18:40] WolfganP commented on #238
It would be wonderful if anyone with knowledge of RPi-Monitor plugins can add one for proper RasPi shutdown (so headless systems can be completely controlled via web browsers), and add it to DietPi packages.

[2016-03-30 07:32] k-plan commented on #260
@Fourdee
sorry, was too late last night ....

All tested, also with:
`root@oDroid-C1_plus-test:~# setterm --cursor on &> /dev/tty0`
locally and remote. No effects - no cursor in cmd or editor at the monitor/display.

Will have a look later, if it works on any of my old backups.

:cry:

[2016-03-30 08:43] k-plan commented on #238
@Fourdee

Yes, like before. Run out-of-the-box. No code modding, only copy my old Odroid templates, to get some more supported infos and 4 CPUs. But it's easy, otherwise I was not able to do it.
You will doubtless do this better, as I ever will can.

@WolfganP

Hmm, it's a problem with privilege of web services. There are no "plugins" in the broadest sense. But RPi Monitor will be able to start ot

[2016-03-30 12:32] rhkean commented on #205
@Fourdee ,
I sent the pull request.  I wasn't sure if you wanted me to merge the changes or leave that for you to review first...

-rob

[2016-03-30 13:17] Fourdee opened #263 "OPi PC unstable."
This is to resolve the comminuty known issue with the 1.5ghz clock and high voltage on the Loboris image (that DietPi is built on):
http://www.orangepi.org/orangepibbsen/forum.php?mod=viewthread&tid=785&fromuid=29411

Basically limits the Allwinner H3 to 1.2ghz and lower voltage vastly improving stability and reducing heat.

[2016-03-30 13:22] Fourdee commented on #263
Attempting ARMbian kernel to replace Loboris: https://github.com/igorpecovnik/lib/issues/250#issuecomment-203021008

[2016-03-30 13:23] Fourdee commented on #205
@rhkean
Excellent work on this, looks solid.
I'll merge this now and run some tests today.

I was also thinking we could take this further by adding a webserver stack choice system in `dietpi-software`, similar to to SSH and Fileserver?

So the user has a choice of Apache2 Nginx and Lighttpd as their base webserver, then under `"" "────Webserver Stacks───────────────────────" "off" \` we could sho

[2016-03-30 13:25] Fourdee commented on #209
@rhkean
Excellent work on this :+1:

I'll mark this as closed, will leave https://github.com/Fourdee/DietPi/issues/205 open for now whilst I do some testing.

[2016-03-30 13:25] #209 closed, assigned to nobody

[2016-03-30 13:31] rhkean commented on #205
Sounds great!
I figured that you were going to want to do that, but I decided implement that base functionality and not muck with your base logic too much since I wasn't intimately familiar with it

[2016-03-30 13:51] Fourdee commented on #263
Notes:

/boot

[code]

.fex

[code]

[2016-03-30 14:29] Fourdee commented on #205
@rhkean

[code]

I never knew you could do `or` statements inside `(( ))` with bash.

And bash allows 0/1 as a bool:

[code]

Learn something new everyday :+1:

I just finished a Lighttpd install with owncloud. Looking good :+1:.

[2016-03-30 14:50] rhkean commented on #205
yup... the (( )) logic is nice. It's more c-like in its logic evaluation....
I don't think you can do this with [ ] or [[ ]] ... :smile:

[code]

output:

[code]

[2016-03-30 14:57] Fourdee commented on #205
Interesting :+1:. So bash treats 0 integer as a bool false, and >0 as a bool true? Wonder if its the same for negative numbers, I'll have to try it :)

[2016-03-30 15:01] rhkean commented on #205
ONLY IN (( )) ... NOT in [ ] or [[ ]]

[2016-03-30 15:06] Fourdee commented on #205
Yeah i figured. I only use `(( ))` for integers and `[ ]` for strings.

[2016-03-30 16:00] Fourdee commented on #263
Community fix by Thomas Kaiser for vcore/clocks will be applied during v115 patch: https://github.com/igorpecovnik/lib/issues/250#issuecomment-203502587

[2016-03-30 16:00] #263 closed, assigned to nobody

[2016-03-30 18:04] Fourdee commented on #205
@rhkean

Ok, i've done the logic for the webserver preference system: https://github.com/Fourdee/DietPi/commit/7b58598cf304b65ef377dda589485ab871a8e41e

I'll run some tests and check for bugs in the code i've modified.

[2016-03-30 18:50] Fourdee commented on #205
@rhkean

Any feedback regarding the descriptions?

Reason for : "Recommended for users who expect low webserver traffic."
I believe Lighttpd is a single thread application, so no performance gain from multiple cores, and, high traffic may cause a bottleneck. I know PHP-FPM is multithreaded.
![image](https://cloud.githubusercontent.com/assets/7077026/14153658/9a8564c4-f6b0-11e5-8072-17f0d86365a0.pn

[2016-03-30 19:05] rhkean commented on #205
Wow!  that was fast... :smile:

the descriptions look pretty good...
I'm lousy with wording, so this is the best I can offer...
Apache: maybe add something about "larger community support" (more 'out-of-the-box' support)
Nginx:  maybe add something about "targeting high use servers (large concurrent sessions)" and geared towards more advanced users
Lighttpd:  maybe add "geared toward intermediate

[2016-03-30 19:35] WolfganP commented on #205
Good work! You may link the announcement in the forum to any comparison article with the main features (ie http://detechter.com/the-battle-of-the-web-servers-apache-vs-nginx-vs-lighttpd-2/ comes up first on google) to let users take a (more) informed decision

[2016-03-30 20:00] Fourdee commented on #205
@rhkean

Only because you did such a good job of the updated webserver install code :) Everything went straight in.

Good advice.
The only thing that worries me is if we say "Lighttpd is for advanced users", non-DietPi users may get put off by that option. As DietPi-Software does all the installation for them, they dont really need any knowledge aslong as they are only using the available installa

[2016-03-30 21:41] rhkean commented on #263
now if I can just figure out ho-w to get a 3.15 or greater kernel on the Odroid-XU4, so that we can have UAS (USB Attached SCSI) support

[2016-03-31 21:02] spiderkeys opened #264 "Configure WLAN0 as Access Point while keeping ETH0"
Is there currently a way to enable Wifi in access point mode while still leaving ethernet enabled? When I try to enable wifi in dietpi-config, it says:

[code]

For our application, our main connection to the Pi is via ethernet, but we also want to give the option for clients to connect to it over wifi. The ethernet is not connected to a router that reaches out to the internet, but instead is used

[2016-03-31 22:05] k-plan commented on #260
@Fourdee

Testing:

[code]

No effects - no cursor in cmd or editor at the monitor/display.

:no_mouth:

[2016-04-01 12:52] WolfganP commented on #264
I was thinking about the same when started playing with DietPi. Maybe change the concept of exclusive LAN connection (Eth OR Wifi) to a priority based one (use preconfigured wifi credentials if wired ethernet not present)

[2016-04-01 15:12] Fourdee commented on #264
@spiderkeys

I believe Installing WiFi hotspot from `dietpi-software` will allow you to achieve this? Once installed, the `dietpi-config` networking options (wifi) will be converted to SSID/Key assignment. More info: http://fuzon.co.uk/phpbb/viewtopic.php?f=8&t=5&p=1207#p1207

@WolfganP

Yep I agree. At the very least, DietPi should allow for both eth and wlan to be enabled at the same time (exclu

[2016-04-01 15:40] WolfganP opened #265 "Configure Wifi as fallback LAN for Ethernet link not connected at boot"
As per https://github.com/Fourdee/DietPi/issues/264

As a basic connectivity model for DietPi, change the concept of current exclusive LAN connection (Eth OR Wifi) to a priority based one (activate wifi with preconfigured credentials if wired ethernet not present at boot)

It may later be expanded to simultaneous connectivity / both links active model if worthy.

[2016-04-01 15:43] Fourdee commented on #205
@rhkean
Going to have to put v115 on hold for a bit. Might be a few days, or a week+, but i'll pick this back up  when I can. You've done great work on this feature, really looking forward to getting it released to our users.

Unfortunately, I'am going to be a lot less active for some time. So i apologise for any delays.
http://fuzon.co.uk/phpbb/viewtopic.php?f=9&t=355

In the mean time, if you (o

[2016-04-01 18:14] spiderkeys commented on #264
@Fourdee
After installing wifi hotspot, I do indeed have those options. However, something else seems to be amiss, as the Rpi3 is not actually bringing up a Wifi access point (can't detect one with a scanning app or any of my devices) despite all of the following looking ok:

In dietpi-config, I configured the SSID, channel, and password info. At the top of dietpi-config/network, it says:

[code]

[2016-04-01 18:42] spiderkeys commented on #264
Sorted the problem out. After making a guess that "WifiHotspot" was really just hostapd, I manually ran hostapd /etc/hostapd/hostapd.conf and got an error message back saying the password I had set was invalid. Maybe at some point some point that validation can added into dietpi-config. Also, perhaps it might be a good idea to put in dietpi-software the name of the actual software, like "WifiHotsp

[2016-04-01 18:42] #264 closed, assigned to nobody

[2016-04-01 18:47] spiderkeys commented on #265
Would also like to support the notion of providing simultaneous connectivity/bridging the two connections, regardless of whether or not the wifi is infrastructure, adhoc, or AP mode.

[2016-04-02 21:39] Fourdee commented on #265
@WolfganP
Thanks for creating the request. As v115 is nearly completed, I'll add this to v116 and start work on it after v115 is released.

@spiderkeys
Noted :+1: . We should be able to make that possible.

[2016-04-02 21:41] Fourdee commented on #256
RF receiver features (EmonTH/EmonTX) is already supported by our installation. RF transmission is untested.

EmonTH inputs: http://dietpi.com/downloads/misc/EmonPi_Guide/emonth_inputs.png

[2016-04-02 21:45] Fourdee commented on #246
@stefaniniMM
Thanks for the request and apologies for the delay in this response. I'll setup this ticket accordingly and look into your request when possible.

[2016-04-02 21:47] Fourdee commented on #257
As our current EmonPi installation uses emoncms.org, and is extremely lightweight because of this, local EmonCMS is low priority.

[2016-04-02 21:48] Fourdee commented on #242
@1qay1
I'll set this to "no milestone" whilst we wait for your configuration file to help with the installation.

[2016-04-02 21:49] Fourdee commented on #236
Nice to have, but not critical.

[2016-04-02 21:52] Fourdee commented on #201
My OrangePi PC HDMI output is dead. As I am unable to test this, its not possible for me to implement it at this stage.

[2016-04-02 21:53] Fourdee commented on #229
As DietPi uses Ramlog, our SD writes are extremely low when compared with other images, a read-only filesystem will only benefit users who wish to prevent file modifications / sudden power outage.

[2016-04-03 02:43] starstuff opened #266 "Feature Request | Voice/Speech Automation"
Hello!

Adding Voice Automation in DietPi will open up new possibilities!

In surfing the web, i found there are many ways to integrate voice in pi, the good news is that it does work.

I think it would be best to create a poll to ask DietPi community to choose which of the software to use.

Links:

[http://diyhacking.com/best-voice-recognition-software-for-raspberry-pi/](url)
Jasper – Voice Recog

[2016-04-04 14:43] Fourdee commented on #205
@rhkean
Ok, just wrapping this up:
- Lighttpd is now the default webserver preference
- Added warning when user selects any webserver stack for installation in dietpi-software
  ![warn1](https://cloud.githubusercontent.com/assets/7077026/14251627/c8aacffa-fa7b-11e5-9057-eb41b254ff24.png)
- Nearly finished updating the documentation: http://fuzon.co.uk/phpbb/viewtopic.php?f=8&t=5&p=1549#p1549

Few

[2016-04-04 14:53] rhkean commented on #205
Love the TLDR;  :laughing:

[2016-04-04 14:57] Fourdee commented on #205
@rhkean
hehe, its too easy to spend hours trying to think of the best wording. But TLDR nails it lol.

[2016-04-04 15:08] rhkean opened #267 "Add netdata (realtime perfomance monitoring) to dietpi"
feature suggestion:
Readme.md:  https://github.com/firehol/netdata/blob/master/README.md

http://fuzon.co.uk/phpbb/viewtopic.php?f=9&t=354

[2016-04-04 15:12] rhkean commented on #267
This is my first full add-on feature (not just a code tweak to @Fourdee 's code), so figured I'd start small... (since this will require modifications to the whiptail menus and such)

I'll probably lean on you guys more for review and testing....

[2016-04-04 15:51] Fourdee commented on #267
@rhkean
Nice :+1: Looking forward to seeing this.

[2016-04-04 16:26] Fourdee commented on #266
@starstuff
Thanks for the requests and additional information :+1:  . Definitely something I will look into, interests me :)

[2016-04-04 16:35] Fourdee commented on #205
@rhkean
Marking this as completed. Great work on this :+1:

As its too time consuming to test every program against every webserver type, there is always a chance a few hidden bugs may be in v115, but if there is, we can resolve it quickly and release a v116 hotfix if required. I'll keep my eye on any bug reports.

[2016-04-04 16:35] #205 closed, assigned to nobody

[2016-04-04 17:59] WolfganP commented on #266
Adding to the Alexa experiment commented above, Google recently announced it's going to open the Speech API http://techcrunch.com/2016/03/23/google-opens-access-to-its-speech-recognition-api-going-head-to-head-with-nuance/
Let's hope the Cortana APIs open up for debian/raspi OS instead of the MS IoT core https://developer.microsoft.com/en-us/windows/iot
Interesting times ahead...

[2016-04-04 18:50] k-plan commented on #267
@rhkean

Cool, assistance for Fourdee.  :+1:

If you have something to test, give it to us.  :smile:

[2016-04-04 19:02] k-plan commented on #265
Hi,

nice feature and can be really helpful.
Which USB Wifi adapter (chip set) will be supported in DietPi  out-of-the box  adhoc or AP mode?

Tested five different units (chips: 1x TI, 2x ralink, 1x realtek, 1x atheros), not only one will work.

[2016-04-04 19:19] rhkean commented on #265
probably best to let the kernel detect, then test for presence of wlan0.

[2016-04-04 19:50] rhkean commented on #202
I compiled a 4.2 kernel for my XU4 this weekend, but it still needs some work.
- The kernel doesn't report the hardware like meverick's 3.10 kernel does (affects dietpi's ability to detect the correct hardware)
- the base configuration didn't include any cpu governors except 'performance'
- uas module (the reason I experimented in the 1st place) was not enabled
- kernel/initrd/uInitrd installation

[2016-04-05 10:11] Fourdee commented on #202
@rhkean
Hardkernel has a 4.2-rc1 kernel branch for the XU4, is this the one you tried? https://github.com/hardkernel/linux/tree/odroidxu4-v4.2-rc1

I must admit, thats one benefit of the RPi, they are always developing for the latest kernel. Although, they probably have 20+ staff members working on it, and a bigger comminuty.

[2016-04-05 11:21] DasClarky opened #269 "XU4 | Kodi slow after running idle and libcec3 not working"
I have noticed Kodi starts to run really slow after a while idle and needs a reboot to get back to speed and libcec is not working on multiple TV's and receivers.

[2016-04-05 11:59] Fourdee commented on #269
@hydrouk

Thanks for the report, what device are you using. Are you running Kodi from console/desktop or autoboot?

[2016-04-05 12:19] rhkean commented on #202
No, I haven't tried that one yet.  I used the one referenced on [Odroid dokuwiki](http://odroid.com/dokuwiki/doku.php?id=en:odroid-xu4)

it's found at [tobetter's github repository](https://github.com/tobetter/linux)

I found the hardkernel repository late last night.  The last check-in date on both repos are within a day of each other, so I'm betting they're pretty similar, but I'm going to do a

[2016-04-05 12:22] rhkean commented on #202
It's worth spending the time on, though...

Did you see my post under [General Discussion on Fuzon](http://fuzon.co.uk/phpbb/viewtopic.php?f=9&t=357)?

[2016-04-05 13:38] DasClarky commented on #269
XU4 device and its auto start from the dietpi settings

[2016-04-05 19:11] spiderkeys opened #270 "Raspberry Pi3 WiringPi not up to date in latest DietPi"
I attempted to use gpio readall on my Pi3 yesterday and found that I was met with an error message somewhere along the lines of "Unknown board: revision ID: 8" (sorry, I forgot to copy down the exact message at the time). I assumed that I had an older version which hadn't added Pi3 support yet, so today I built and installed wiringPi from source, and the issue is resolved.

[2016-04-06 10:26] Fourdee opened #271 "General | Add support for 2+ USB drives"

[2016-04-06 10:28] Fourdee commented on #270
@spiderkeys
Thanks for letting us know :+1:

I'll update DietPi to sourcebuild the latest version.

[2016-04-06 10:54] Fourdee commented on #270
@spiderkeys
Resolved for v116:
2.32 snapshot (latest) will be used during installation: https://git.drogon.net/?p=wiringPi

[code]

[2016-04-06 11:18] Fourdee commented on #269
@hydrouk
Thanks for the info.

Unfortunately, I do not own a CEC compatible device, so I am unable to assist you regarding that issue. I have a new CEC TV on my amazon wishlist, its been there a while lol :)

I did a quick search through the XU4 Odroid forums and couldnt find similar reports, so I will need to setup my XU4 and try to replicate this issue.

Could you tell me the following:
- When y

[2016-04-08 10:59] Fourdee opened #272 "DietPi-Cloudshell | Leading zero causes integer error"
Removing leading zero from `local dayofmonth=$(date +"%d")`

or

Change line 508 to a string `[ "$" != "$"]`

[2016-04-08 11:53] Fourdee commented on #272
Resolved for v116.
String me up Scotty :)

[code]

[2016-04-08 12:43] WolfganP commented on #265
From what I read at http://raspberrypi.stackexchange.com/questions/8851/setting-up-wifi-and-ethernet it seems that declaring both interfaces and keeping the proper credentials at wpa_supplicant.conf will work (plus disabling the hotplugging capability).
And obviously not making the selection of interfaces exclusive at dietpi-config...

[2016-04-08 13:39] Fourdee commented on #265
@rhkean @WolfganP

Yep, thats the plan.
Currently DietPi is coded to only support 1 active adapter at any time, or both when using WiFi hotspot. Basically we just need to allow the user to enable and configure both adapters at the same time, and support it throughout DietPi scripts (eg: dietpi-config). Then we will probably let the kernel decide which one is actually used, for now.

I'am aiming to

[2016-04-08 14:11] WolfganP commented on #265
Great!

[2016-04-09 12:22] Fourdee commented on #265
@rhkean @WolfganP
Done, available for v116.
Wasn't as bad as I thought. Did most of the code work when I implemented the WiFi hotspot support in `dietpi-config`
- You can now enable and configure both Ethernet and WiFi adapters at the same time in `dietpi-config`. Previously, one had to be disabled to enable the other.
- You can also disable either adapter from `dietpi-config`
- I've also rearrang

[2016-04-09 15:54] DasClarky commented on #269
Not getting anything in the logs that looks wrong, unplugged the cloudshell board to eliminate that from the stability issue, gonna run for 24 hours now and see if the lag disappears.

UPDATE
Lag is still present but not taking as long to recover, i will post logs when i get home but i do not see anything to cover this lag myself, not sure its Kodi at all.

Not sure if this helps but the 2TB HDD i

[2016-04-10 11:56] Fourdee commented on #214
Wget working fine:

[code]

[2016-04-10 12:11] Fourdee commented on #214
@mok-liee
Any chance you would be willing to help test the proxy implementation? Just let me know and I'll give you the steps needed to install DietPi from the dev (testing) branch.

[2016-04-10 13:59] Fourdee commented on #269
@hydrouk

Yep, seems strange removing the cloudshell would have a positive effect on the issue. It could indicate a power issue, but I'll wait for your response regarding the logs.

The cloudshell LCD screen is enabled in modules by default on the DietPi XU4 image. Although plugging in a HDMI cable will override the output, it may be worth completely disabling the LCD screen in modules to check fo

[2016-04-10 14:00] #272 closed, assigned to nobody

[2016-04-10 14:00] #270 closed, assigned to nobody

[2016-04-10 15:04] mok-liee commented on #214
no problem, in about 10 hours i have chance to test it.
looks very nice! great work

[2016-04-10 15:15] Fourdee commented on #252
@k-plan
Implemented this into `dietpi-config` when selecting static DNS server. Will see about applying to PiHole.
![image](https://cloud.githubusercontent.com/assets/7077026/14411123/5bd75d4c-ff37-11e5-9968-1b832d499e17.png)

[2016-04-10 17:37] Fourdee commented on #214
@mok-liee
Excellent. Here is how you can install the dev branch:
- Write DietPi image to SD
- Open /boot/dietpi.txt
- Change gitbranch to `gitbranch=testing` (its at the bottom)
- Save file, plug in and power on.

The proxy settings are in `dietpi-config` > Network Adapters > Proxy

[2016-04-10 20:46] k-plan commented on #252
@Fourdee
have it tested. Really cool implement and a nice feature. Good to see used IPs and provider.

I'm curious about it. 😄

[2016-04-11 01:09] mok-liee commented on #214
@Fourdee
hi, very cool!

it works for me, but i has used another way.

the image on dietpi.com is at v111. I have downloaded and write this to my sd card.
Becuase i need to go through a proxy from the begining, i have downloaded the testing branch directly from guthub.

after extracting it to my sd card (v111) i have the new menu!

i have configured the proxy settings and after a reboot my dietpi

[2016-04-11 11:20] Fourdee commented on #214
@mok-liee
Thanks for testing and the great feedback :+1:

#### I'll make the following changes based on your recommendations:
- Make a reboot request and remove the relogin prompt.
- Add proxy status (eg: on/off) in the previous submenu (network options: adapter)
- Default port 8080

I need to re-do all the DietPi images at some point. But if you can let me know which device/image you are using, i

[2016-04-11 13:16] mok-liee commented on #214
i use the RPi Image, but its okay! this soloution i used yesterday worked for me. do not be held back by me.

thanks!

[2016-04-11 14:10] Fourdee commented on #214
@mok-liee
When you copy the scripts from dev branch, make sure you do NOT copy `/boot/dietpi/.version`. Otherwise, your system will not be updated correctly by the patch system.

[2016-04-11 15:17] k-plan opened #273 "DietPi-System | C1+ | Issue to setup WLAN device"
http://fuzon.co.uk/phpbb/viewtopic.php?f=11&t=368

[2016-04-11 15:53] mok-liee commented on #214
ahh... thanks for the note

[2016-04-11 17:36] Fourdee commented on #273
@k-plan
Thanks for the report :+1: Excellent write up.

I've got 2 different WiFi dongles, i will try them on my C1 and see if I get same results. Might be a few days, but i'll set this to v116 so I dont forget :)

[2016-04-11 18:10] Fourdee commented on #273
@k-plan
Just tried a generic chinatown WiFi adapter. It doesnt appear to work on DHCP. But setting it to static did the trick.

I cant see why this is C1 specific. `dietpi-config` uses the same code to control the adapters. It may be a bug in the kernel/modules, or even DietPi. I'll do some more testing and see if we can find the cause.

[2016-04-11 18:14] Fourdee commented on #273
@k-plan
What PSU are you using for the C1+?

[2016-04-11 19:33] k-plan commented on #273
@Fourdee

I have tried different for testing.

Normally I use: [Anker PowerPort 10](http://www.amazon.co.uk/Compact-10-Port-Anker-PowerPort-Charging/dp/B00YSA0WI8) (60W 10-Port USB) 5V - 2.4A per Port or 12A total.

For special  WiFi adapter testing: [HN Power HNP18-050](http://www.watterott.com/de/Netzteil-5V-3A) - 5 V/DC 3 A 15 W

As well tested WiFi adapter with a additionally active powered US

[2016-04-11 20:28] k-plan commented on #273
@Fourdee

[code]

Set WiFi to static breaks all my network connections ....

Must do a `reboot` via keyboard.

After this I tried:

[code]

`000test-12345` is my wireless-key (WEP), but my WiFi network only support WPA2 PSK !

[code]

Default locale for the system environment:

[code]

Hmmm ... think I will start from the scratch.

[2016-04-11 23:57] spiderkeys commented on #223
Just wanted to provide an update on this. Just today, the image engineer at RPI put the image build scripts up at: https://github.com/RPi-Distro/pi-gen. I'm currently working through them and modifying them to build a completely configured DietPi image (which still uses a pre-defined DietPi configuration to choose what to install and what settings to use). If you're interested, I will share my pro

[2016-04-12 10:14] Fourdee commented on #223
@spiderkeys
Thanks for the info :+1:

I will give this a spin when I can.

Sounds good, i'll help you with any DietPi stuff/queries, just pop them in this git ticket.

[2016-04-12 16:19] WolfganP opened #274 "Add documentation for using testing branch"
I saw several updates that I wanted to beta test before release, and couldn't find any comprehensive documentation for using it; just a couple of snippets here (https://github.com/Fourdee/DietPi/issues/214#issuecomment-208025074) and there (https://github.com/Fourdee/DietPi/issues/214#issuecomment-208366667); and few references on the fuzon forums.

Will it be worthy to add a document at root leve

[2016-04-12 16:20] Fourdee commented on #214
@mok-liee

All done and thanks for testing this for us :+1: . Available in v116. Will set this to completed, please reopen as required.

[2016-04-12 16:20] #214 closed, assigned to nobody

[2016-04-12 16:28] Fourdee commented on #274
@WolfganP
Great suggestion :+1: I will create a new file as per your recommendation: TESTING-BRANCH.txt, with instructions to use the dev testing branch. I must admit, this will save me having to write these steps down multiple times lol :)

Just need to make users aware that this is not a "beta" branch, its active devolpment and potentially unstable at times.

[2016-04-12 16:41] Fourdee commented on #274
@WolfganP
.md for pretty text formatting:
https://github.com/Fourdee/DietPi/blob/testing/TESTING-BRANCH.md

Will mark this as completed, great suggestion :+1: . I just need to remember to link the file next time :)

[2016-04-12 16:41] #274 closed, assigned to nobody

[2016-04-12 16:59] WolfganP commented on #274
Excellent @Fourdee . I think is also worthy to add the note at https://github.com/Fourdee/DietPi/issues/214#issuecomment-208366667

As a tip in case someone starts seeing issues with updates.

Also some comments about how to go back to Master release branch won't hurt :-)

[2016-04-12 17:08] Fourdee commented on #273
@k-plan
Did another test on my Edimax:

[code]

Cant get it to connect, but scans fine. Couldn't find anything obvious in `dmesg`. It seems to fail receiving data during the DHCP request:

[code]

It looks like a possible kernel issue and/or modules. I found this ticket on the Odroid C1 Kernel: https://github.com/hardkernel/linux/issues/179

When I get some time, I will compile the C1 kernel/modul

[2016-04-12 19:15] k-plan commented on #273
@Fourdee

Yes, all my tested adapters do scans fine, but no WiFi link connected.

You can try (test):
Comment Power Management out in
`/etc/network/interfaces`

and set up : `nano /etc/modprobe.d/8192cu.conf`

with following content: `options 8192cu rtw_power_mgnt=0 rtw_enusbss=0`

now:  `service networking restart`   ([Link](https://blog.rotzoll.net/2014/07/raspberry-pi-wlan-client-mit-edimax-ew-

[2016-04-13 08:42] k-plan commented on #273
@Fourdee

don't think it's the module.

ubuntu-14.04.3lts-lubuntu-odroid-c1-20151020 => Edimax EW-7612UAn V2  working with dhcp

[code]

DietPi_v109_Odroid-C1-(Jessie) auto updated to v115 => Edimax EW-7612UAn V2  **_not_** working with dhcp

[code]

[2016-04-13 09:14] Fourdee commented on #273
@k-plan

Yep, that will prevent the error occurring, but theres no harm in having it there. Its used by some adapters.

All DietPi images having the following:

[code]

Prevents those common WiFi modules from going into powersaving mode (up and down, up then down lol).

I'll compile the C1 kernel today. As per you previous post, modules appear identical.

[2016-04-13 11:15] Fourdee commented on #273
Native compile (CC not setup). Can't get uImage to compile:

[code]

Code to compile:

[code]

[2016-04-13 12:38] Fourdee commented on #273
Restarted from scratch, uImage compiled fine:

[code]

[2016-04-13 12:55] Fourdee commented on #273
Same issues with WiFi on this kernel.

[2016-04-13 13:09] k-plan commented on #273
@Fourdee

fu ...  :cry:  Sorry

Anyway, many thanks for your help and support. :+1:

Does cursor work on display with this kernel? If you like, give me your kernel. I will test it for cursor issue.

[2016-04-13 13:34] Fourdee commented on #273
@k-plan
Running headless.

Once I finished this compile (did some testing), i'll upload it.

[2016-04-13 13:37] Fourdee commented on #273
@k-plan
It might be worth trying Meveric's image (which DietPi for C1 is based on). Just to see if we can replicate the issue.
http://forum.odroid.com/viewtopic.php?f=96&t=17542#p114709.

[2016-04-13 14:16] k-plan commented on #273
@Fourdee

yes, I can do so, but really Meveric's image you linked to?
It is: Debian-Jessie-1.0~RC2-20151123-**XU3**.img.xz

Or do you like :  http://forum.odroid.com/viewtopic.php?f=114&t=17569
Debian-Jessie-1.0-20160131-**C1**.img.xz

Sorry, but only to be sure ...

[2016-04-13 14:39] Fourdee commented on #273
@k-plan
Yep my bad, long day:
http://forum.odroid.com/viewtopic.php?f=114&t=17569

[2016-04-13 15:01] Fourdee commented on #273
@k-plan
Uploaded zip http://dietpi.com/downloads/testing/

Not sure about `/boot/uInitrd`. It wasn't compiled (check modified date), or mentioned anywhere in the documentation: http://odroid.com/dokuwiki/doku.php?id=en:c1_building_kernel

[2016-04-14 11:16] Fourdee opened #276 "Test NETDATA install on devices"
Continuation from recent merged pull request: https://github.com/Fourdee/DietPi/pull/275

[2016-04-14 11:17] Fourdee commented on #276
#### Odroid's (C2) = Failed

[code]

I'll look into this

[2016-04-14 11:36] Fourdee commented on #276
Ok, as we already have a NODEJS installation option (linux software), i've flagged `NETDATA` to set `NODEJS=1`: https://github.com/Fourdee/DietPi/commit/b1b8581a87b9f6c1d86f58c8023e12e9ecd24e82

Now it appears NodeJS install/repo is no longer working:

[code]

[code]

I'll look into this further.

[2016-04-14 11:40] Fourdee opened #277 "DietPi-Software | Disable Screen blanking during installation."
As per @rhkean suggestion: http://fuzon.co.uk/phpbb/viewtopic.php?f=9&t=356&p=1610#p1558

Not 100% sure if user input is the only thing that prevents screenblanking (power saving) on main screen. But there is no harm in adding it to our code.

This will only affect the main screen. Does not get applied to SSH sessions. Redirect output to prevent the warning from appearing on SSH sessions and unsup

[2016-04-14 11:55] Fourdee commented on #276
Tried the following:

[code]

Appears there is no arm 64bit package yet for C2: https://nodejs.org/en/download/package-manager/#debian-and-ubuntu-based-linux-distributions

[2016-04-14 11:58] Fourdee commented on #276
I'll compile for arm64 and host .deb on dietpi.com

[2016-04-14 12:25] Fourdee opened #278 "Update all SBC DietPi images to v116"
- Required to enable the new proxy support on 1st run update of DietPi.
- Speeds up installation (eg: v109 images)

Images updated to v116:
- RPi Jessie - Done? :u6307: | Tested OK? :u6307:
- Odroid C1 - Done? :u6307:  | Tested OK? :u6307:
- Odroid C2 - Done? :u6307: | Tested OK? :u6307:
- Odroid XU4 - Done? :u6307: | Tested OK? :u6307:
- OPi PC - Done? :u6307: | Tested OK? :u6307:
- VM x64 - Done

[2016-04-14 12:41] Fourdee commented on #277
Tested on RPi.

[code]

Added to DietPi-Software to both functions:
- `FirstRun_DietPi_Update`
- `Run_Installations`

Completed.

[2016-04-14 13:03] Fourdee commented on #277
Retested, failed due to command being sent to `/dev/null`, rather than tty.

Resolved with stderr redirect:

[code]

[2016-04-14 13:03] #277 closed, assigned to nobody

[2016-04-14 13:12] Fourdee commented on #276
Compiled NodeJS for ARM64 (C2) and updated NodeJS installation code: https://github.com/Fourdee/DietPi/commit/67291022cfc383ba6909ad9cdb8dadcbdd8e9376

[2016-04-14 13:25] Fourdee commented on #276
Ok, we need to also compile netdata for ARM64 (C2):

[code]

@rhkean If you dont have a C2, or cross compiler, let me know and email me the steps (or guide you used) to compile NetData

[2016-04-14 13:39] studioai opened #279 "Waiting for DietPi-RAMDISK to finish copying DietPi to RAM... Foreover (?)"
Hi, I'm new to diet pi.

I Installed diet pi on my Odroid-XU4 and logged in for first time.

and...

Waiting for DietPi-RAMDISK to finish copying DietPi to RAM...

for over an hour....

When does it ends?

Is it normal status?

thanks in advance

[2016-04-14 13:41] Fourdee commented on #276
@rhkean
I tested netdata on the RPi 3 with the nodeJS code changes, running fine. Looks awesome :+1:
![image](https://cloud.githubusercontent.com/assets/7077026/14530015/f8c9d2a0-024e-11e6-9b09-c372d1d4b11e.png)

[2016-04-14 13:49] Fourdee commented on #279
@studioai

Thanks for the report.
This is not normal. You should not see the Ramdisk waiting messages at all. This could occur on a corrupted flash device, or unstable power supply.

Can you provide the following information please:
- SDcards used (make/model), or EMMC?
- Power supply used?
- Have you made any changes to `dietpi.txt` or `boot.ini` file before booting (if unsure, its no :) )?
- Hav

[2016-04-14 14:04] studioai commented on #279
Thanks for response.

SDCard: TEAMGROUP 32GB (UHS1)
Power supply: Official Odroid power supply
changes to dietpi.txt or boot.ini: No
writing the DietPi image a second time: I'll try right now

[2016-04-14 14:23] rhkean commented on #276
you're a BEAST!!!!

I forgot that you added nodejs to the other software menu.... DOH!

so, to recap:
- if NETDATA == 1, then NODEJS=1 (instead of 'AGI nodejs' in the netdata install block)
- need ARM64 build for the C2
- while you were at it, you fixed the NODEJS on ARM64 issue that we didn't know was an issue
- AND... you did the documentation

all before I got out of my morning meeting with my

[2016-04-14 14:27] rhkean commented on #276
I don't have a cross compiler setup, but I'm about to compile the RPi 1 version....
the steps will be the same.... I'll document them and post them here...

[2016-04-14 14:31] Fourdee commented on #276
@rhkean
Hehe,

Yep.

I wasnt sure if you had a ARM64 system available, so i made a start based on: https://github.com/firehol/netdata/wiki/Installation#install-netdata. All we really need is the ARM64 binaries.

Yep

Aye, been a busy beaver. Been storing it all up last few weeks lol.

Excellent :+1:

[2016-04-14 14:40] studioai commented on #279
writing the DietPi image a second time

solved the Issue ! Thanks!

[2016-04-14 14:40] #279 closed, assigned to nobody

[2016-04-14 14:51] Fourdee commented on #276
@rhkean
Ok ARM64 is done (C2). Tested it and running fine: https://github.com/Fourdee/DietPi/commit/3816fc3507301e76a5a01acecae8613b2d2949dd

I noticed this on the Odroid C2 compile:

[code]

Was this the same for RPi? If so, we could add this to the existing netdata service `/etc/systemd/system/netdata.service`.

[2016-04-14 15:00] Fourdee commented on #279
@studioai
No worries, thanks for letting us know it works. If issues reoccur, I would highly suggest trying a known branded SD card (Sandisk/Samsung etc) to improve stability, or EMMC module if you want to get the fastest filesystem IO performance on your XU4.

[2016-04-14 15:23] rhkean commented on #276
start:  DietPi + Vim + BuildEssentials + Git + NodeJS

[code]

(I'll email you the RPi 1 tarball shortly and add the HW_MODEL support)

[2016-04-14 16:15] rhkean commented on #276
I got the same message, but I haven't looked into it
On Apr 14, 2016 10:52 AM, "Dan" notifications@github.com wrote:

[2016-04-14 18:55] Fourdee opened #281 "DietPiCam | RaspiMJPEG fails to start"

[2016-04-14 19:11] k-plan commented on #273
@Fourdee

No problem, here as well.

Debian-Jessie-1.0-20160131-C1.img => downloaded with 64 kb/s !!!  (what a mess)

[code]

Done:   "`root@odroid-jessie:~# iwlist wlan0 scanning` "  => works!  👍

---

Done:  " `iface wlan0 inet dhcp` "

[code]

👎

---

Done: "  `iface wlan0 inet static` "

[code]

👎

---

All tests as well tested  with another WiFi-Roter (Channel 4) to connect => also fail! 👎

.

[2016-04-14 19:46] k-plan commented on #273
Testing kernel with DietPi v115

[code]

As well missing/invisible cursor on monitor/display !

Cant get it to connect ip via dhcp or static, but scans fine.
As well no connect to second Test WFfi-Router.

result:
forget Wifi, WiFi HotSpot or TOR HotSpot on Odroid C1+ (for the moment)
If you want/need it, better will buy a Raspberry Pi.

@Fourdee
Sad, not to be able to get it on work.
But it is no

[2016-04-14 20:21] k-plan commented on #276
Tested on Odroid C1+ ( armv7l):

install via`dietpi-software` : works! 👍

Nice job rhkean and Fourdee . 😄

Do a quick look.Only thing I notice , is the flashing update button in the top right corner. But no big deal.

![160414-0002](https://cloud.githubusercontent.com/assets/17237601/14542426/2739ae54-028f-11e6-982c-cb63f4a422c7.gif)

Have to do a deeper look on netdata. Its a cool and mega powerf

[2016-04-14 20:28] rhkean commented on #276
@k-plan
BAH!!!!!
that's annoying!  I hadn't noticed that before.  It's apparently checking github for commits.
So, there was no flashing right after a build.  My Odroid XU4 is flashing, but my Rpi 1 (binary built today) isn't flashing....

Let me see if I can disable that "feature"....  I'm not going to rebuild that tarball everytime there's a new commit to github.... :smiling_imp:

EDIT:
it slows

[2016-04-14 20:34] DasClarky commented on #269
I have an update!

I did an aptitude update today and it had a new kernel so i applied that and since then Kodi has been running perfectly and i can live with HDMI-CEC if Kodi continues to run as nice as it does.  I have done nothing else and the USB3 cloudshell interface and drive is connected again.  Thanks Fourdee

[2016-04-14 20:42] k-plan commented on #276
@rhkean

👍  - best choice.

But anyway, it will not subtract your effort.
Really quick and smooth netdata implementation. Congratulation.

[2016-04-15 09:34] Fourdee commented on #276
@rhkean @k-plan
Yep I agree, the update flashing is ruining this great application. Its unnecessary, especially considering it just checks for commits, and not stable release cycles?

I'd be more inclined to make a request directly to NetData, to remove the flash animation by default. Or at the very least have an option to disable this highly unnecessary and distracting UI element.

[2016-04-15 09:50] Fourdee commented on #276
If there is no way to disable the update animation button ,we could always fork NetData and do our own release cycles for our users.
EDIT: We would also need to find the line of code (url) that is used to check for updates, to our fork

Lets see NetData's response first.

[2016-04-15 10:38] Fourdee commented on #273
@k-plan
Found the issue :+1:  Always the simple things, cant believe I missed it.
I compared Wifi packages across C1 and C2. Seems we were missing some on the C1 (most importantly the wpasupplicant, iw):

C2

[code]

Install the following missing packages on your C1, reboot, then try reconnecting wifi

[code]

[code]

[2016-04-15 10:46] Fourdee commented on #273
@k-plan
Ran a 2nd test to confirm, working fine.
The missing packages will be installed during the patch in the v116 update.

If you can confirm the issue is resolved for you also, let me know so we can close this ticket :+1:

[2016-04-15 11:02] Fourdee commented on #269
@hydrouk
Excellent, Meveric must of compiled the new kernel which fixes CEC. Thanks for letting us know its working :)

[2016-04-15 11:07] Fourdee commented on #276
@rhkean

#### So items left on this ticket:
- :u6307: https://github.com/Fourdee/DietPi/commit/3f7dea6940682ca6c8eabb9566cccda34b2dbfbf I need the armv6 compiled .tgz
- :u6307: https://github.com/Fourdee/DietPi/commit/b611159df77fcea990d590b91f40308a620978bb Prevent the UI update animation flashing. using workaround https://github.com/firehol/netdata/issues/233
- :u6307: https://github.com/Fourdee

[2016-04-15 13:31] rhkean commented on #276
OMG... did I forget to email you the tarball.

[2016-04-15 13:37] DasClarky commented on #269
Doh! forgot to test HDMI-CEC and it's still not working but Kodi is a lot
more stable, sorry about that

On 15 April 2016 at 12:02, Dan notifications@github.com wrote:

[2016-04-15 13:44] Fourdee commented on #276
@rhkean
I cant find it in my emails, any chance you could send it over again please?

[2016-04-15 14:29] Fourdee commented on #276
@rhkean

**EDIT:**
Fixed it, EOL conversion was set to dos, change back to UNIX. Must of occured during a sync.

Bizzare, these lines of code:

[code]

is causing:

[code]

I looked through the commits, cant see anything that would cause this to happen. Strange, I'll check again.

[2016-04-15 14:39] Fourdee commented on #276
Tested and confirmed:

[code]

Prevents update flashing.

[2016-04-15 15:06] rhkean commented on #276
we can just change that file in all of the tarballs
or do the echo during install and keep the tarballs as-is

preference?

[2016-04-15 15:08] Fourdee commented on #276
@rhkean
I've added this to the Apply_Config function in DietPi-Software: https://github.com/Fourdee/DietPi/commit/b611159df77fcea990d590b91f40308a620978bb

I've been updating this post with status: https://github.com/Fourdee/DietPi/issues/276#issuecomment-210417905

Apologies if I'am going a bit "full on" with this. I just want to get NetData finished today, so I can focus on the v116 re-images Sa

[2016-04-15 15:10] rhkean commented on #276
no apologies necessary.
I'm learning in the process... I caught the need to edit the patch_file, but missed the process_tool change requirements... :smile_cat:

[2016-04-15 15:10] Fourdee commented on #276
Tested RPi 3, working fine. @rhkean , any chance you can test the RPi 1 install?

[2016-04-15 15:14] rhkean commented on #276
yes, if I can get away from the office I'll test it at lunch.  Otherwise it'll be tonight, after work.
I've been wanting to test with my son's A+ anyhow... :smile:

[2016-04-15 15:16] Fourdee commented on #276
@rhkean
Excellent, I don't own a A+, got a Zero though. You will have to let us know what you think of it :)

You managed to do great so far, you've understood the DietPi code on your own. So good work :+1:

[2016-04-15 15:29] rhkean commented on #276
:laughing: , I think the Zero has more RAM.

[2016-04-15 16:40] Fourdee commented on #269
@hydrouk
Ah thanks for letting me know.

Not sure what I can do to help regarding the CEC as I have no CEC capable TV's to even test it. I can only suggest searching the XU4 Odroid forums for other CEC users, maybe they have experienced a similar issue? http://forum.odroid.com/viewforum.php?f=92

[2016-04-15 17:03] DasClarky commented on #269
I think it's a small thing compared to the Kodi issue I had but it would be
nice to have CEC working some day. Thanks for your help and of course
DietPi
On 15 Apr 2016 17:40, "Dan" notifications@github.com wrote:

[2016-04-15 17:26] rhkean commented on #269
@hydrouk

To confirm... CEC is not working when attempting to use it to control the kodi installed by DietPi on an Odroid-XU4

correct?

EDIT:
Also, is this a new install?

[2016-04-15 17:27] DasClarky commented on #269
Indeed
On 15 Apr 2016 18:26, "Robert Kean" notifications@github.com wrote:

[2016-04-15 17:28] rhkean commented on #269
can you try this from the BASH prompt:

`apt-get install libcec`

thanks

(that should install:  libcec libcec3 liblockdev1 libplatform1 libxrandr2 )

[2016-04-15 18:00] DasClarky commented on #269
I did have it installed but it fails to work as it should, my receiver gets
some data over it but nothing is received and it locks up Kodi a bit and
also crashed my receiver if on over night. I had a previous problem where
Kodi was laggy the next day but that had nothing to do with CEC and was
fixed by the latest kernel.
On 15 Apr 2016 18:28, "Robert Kean" notifications@github.com wrote:

[2016-04-15 18:06] rhkean commented on #269
well, I hadn't used the DietPi kodi install before, b/c it was 2 version behind and the databases were compatible.  But, I see the meverick has updated it to version 16, so I'll try to test some this weekend.

I have a suggestion for you, though... (actually 2)
1.  take the receiver out of the setup and see it your problem goes away.
2.  send me a screenshot of your CEC configuration.... there's a

[2016-04-15 18:09] DasClarky commented on #269
Will do thanks for your help
On 15 Apr 2016 19:07, "Robert Kean" notifications@github.com wrote:

[2016-04-15 19:00] k-plan commented on #273
@Fourdee (Coding Beast 😄 )

Will it be so easy? I can't believe.
Clean automate install from the scratch is running now.
But  http://oph.mdrjr.net/ is so slow (max. 64 kB/s)

Yes, I have tested before to install iw and same other wireless/wifi packages without success.

On Meveric's image I have to install, iw, usb-tools, wireless-tools and same more, to get scanning on work.

wireless-regdb ,  cr

[2016-04-15 20:08] k-plan commented on #273
@Fourdee
- Install v.109 from the scratch.
- install all packages you propose: `apt-get install wireless-regdb iw crda wpasupplicant`
- Plugged in the WiFi dongle, no detection with lsusb, then kernel panic and freeze. Must do  a power cycle.

Because it is v.109, configuration with keyboard and monitor as infrastructure wifi network with dhcp.

[code]

it works! 👍

---

Update to v.116:

 `root@o

[2016-04-15 21:08] k-plan commented on #273
@Fourdee

Now installed DietPi WiFi HotSpot. Tested. Works!  😄     👍

![5254115160](https://cloud.githubusercontent.com/assets/17237601/14574882/7cdaafe6-035e-11e6-9ca9-d40c5127afaf.gif)

Installed DietPi  Tor WiFi Hotspot. Tested. Works!   😄      👍

![160415-0003](https://cloud.githubusercontent.com/assets/17237601/14575250/dcce57ac-0360-11e6-96a1-d5b14a208eb9.gif)

Should I test some of the othe

[2016-04-15 21:38] Fourdee commented on #273
@k-plan

Thanks for the results :+1:

Looks like a possible locale + `grep` issue we might need to fix. Static addresses shouldn't be pulling in any text, just the IP. Can you set this to static, apply, exit, then paste results of `/etc/network/interfaces`.

Also, what locale are you running? (eg: en_GB, de_DE)

[2016-04-15 23:20] rhkean commented on #276
A+ passed

BTW... we need to add the ip address to the banner.
the single usb port had the wifi in it....  I had to look up the dhcp address on the router so that I could access it remotely.. 😄

[2016-04-16 03:05] rhkean commented on #276
B+ passed

[2016-04-16 03:31] rhkean commented on #276
Rpi 2 B+: passed

[2016-04-16 05:15] rhkean commented on #269
testing update:
Odroid-XU4
new install:  v116 (testing)
selection: kodi
autostart: kodi

result:
rebooted into kodi, settings->system->input -> no CEC input options
ssh to machine, apt-get install libcec, reboot

result:
rebooted into kodi, automatically initialized CEC

[2016-04-16 09:54] apotal12 commented on #208
This worked for me on DietPi using LXDE Desktop:

Install Java:

Install jDownloader:

Now just insert and save:

Finally:

Now you can start JDownloader using the LXDE Desktop Icon.
And as I wanted to have my external HDD automatically mounted:

After that you have to open the pcmanfan file manager (comes with LXDE) and open the options.
There you can enable auto mounting of external usb drives.

[2016-04-16 11:31] Fourdee commented on #276
@rhkean
Excellent, thanks for the tests :+1:

Is this in DietPi-Software, or something else?

[2016-04-16 12:23] Fourdee commented on #273
@k-plan
Did some testing, appears we need to apply the same fix we did here: https://github.com/Fourdee/DietPi/issues/233#issuecomment-196413520.

By forcing `en_GB`, all our grep parsing (which is based on English) should work regardless of system locale.

[code]

So I'am going to look at adding `LANG=en_GB.UTF-8` to all the DietPi scripts.

[2016-04-16 12:37] Fourdee commented on #273
@k-plan
Ok, we will start with the main scripts 1st:

[code]

Has been added to testing branch: https://github.com/Fourdee/DietPi/commit/aaf33009c717b42cab74353c0324590dbd8af182

I'll run some tests my end. If you can do a fresh install and test the static IP's again, i'd be greatful.

[2016-04-16 13:04] Fourdee commented on #273
@k-plan
Working fine my end using `de_DE` system locale (minus the UTF char visual issues with whiptail):
![image](https://cloud.githubusercontent.com/assets/7077026/14581133/1bef7968-03dc-11e6-9ca6-bbc8d4561e0b.png)

[2016-04-16 13:12] rhkean commented on #276
the banner on the console at boot (before login) that says the version and default login information.

so, if you don't have a keyboard (but do have a monitor) you know what ip address to ssh to after the initial setup is complete.

[2016-04-16 13:13] rhkean commented on #276
I think it comes from /Dietpi/dietpi/dietpi-banner
but, I haven't looked at the code yet

[2016-04-16 13:21] k-plan commented on #273
@Fourdee

sorry for delay. Saturday = shopping and family-visit-day.

Last testing : **de_DE** , en_GB, C

![160416-0001](https://cloud.githubusercontent.com/assets/17237601/14581081/ca361544-03e2-11e6-9ab9-228594217044.gif)

All before: without touching  `dpkg-reconfigure locales` so it was  en_GB (Dietpi) or en_US (Meveric's image) or en_AU (Ubuntu Odroid)

Content is the same, equal of change i

[2016-04-16 13:37] k-plan commented on #273
@Fourdee

comment wifi dns-nameservers out by hand and restart networking:

[code]

Starting from the scratch now ....

[2016-04-16 13:51] k-plan commented on #273
@Fourdee

running automated installation (without WiFi adapter plugged in). Kernel panic and freeze while automated apt-get update ...

manual power cycle

[2016-04-16 13:56] k-plan commented on #273
and (without WiFi adapter plugged in) the next  Kernel panic and freeze ....

trying now: manual installation and `dietpi_check_for_updates=0`

[2016-04-16 14:17] rhkean opened #283 "Add libCEC to kodi install"
not sure what else this might impact yet

(not required for kodi, so I figured it best to keep it separate from the #269 )

[2016-04-16 14:32] k-plan commented on #273
install without automated to v.109. Set static IP for eth1. Finished installation.  Update to v115. Reboot.

manual setting and update to testing branch. Reboot.

After restart plugged in Edimax EW-7612UAn V2 . It will not recognize.

[code]

Starting `dietpi-config`:

![160416-0003](https://cloud.githubusercontent.com/assets/17237601/14581578/a55659d8-03f0-11e6-8f69-92a9613aa902.gif)

and ... Ker

[2016-04-16 14:47] Fourdee commented on #276
@rhkean
Makes sense, good idea :+1: . `/Dietpi/dietpi/dietpi-banner` is correct.
We can use the current code in `dietpi-software` for the same in `/Dietpi/dietpi/dietpi-banner`

[code]

So, add to `/Dietpi/dietpi/dietpi-banner`

[code]

You up for this one? Or want me to pop it in?

[2016-04-16 14:51] Fourdee commented on #273
@k-plan

No worries, family comes 1st and enjoy the weekend :+1:

If you are getting Kernel panics and freezing, sounds like your SDcard is corrupt and/or PSU instability. This shouldn't be occurring. I'd suggest trying another SDcard if you can. If not, a picture of the screen with those errors on would be helpful to try and debug it.

[2016-04-16 14:56] k-plan commented on #273
@Fourdee

After a reboot with plugged in Edimax EW-7612UAn V2, starting dietpi-config:

enable WiFi, set only static IP, mask and gateway, scanning (works) but nothing.

![160416-0004](https://cloud.githubusercontent.com/assets/17237601/14581642/3044f3fa-03f2-11e6-91e3-1c25c88b7976.gif)

Yes, it is all default, no changing any stetting, language, install extra software. Only things i have done, se

[2016-04-16 15:02] k-plan commented on #273
Sorry, no. (siehe oben)

No, it's the same, I used manny times before (ScanDisk Ultra 16GB). And yes, I formatting the SDcard every time before writting a image on it.
But only you be sure, I will use a other now. But it is the last try for now ...

[2016-04-16 15:06] Fourdee commented on #273
@k-plan
No worries, leave it with me. I'll run a few tests my end.

[2016-04-16 15:17] k-plan commented on #273
@Fourdee

please don't miss understand me, i really want to help, to get it on work.
Sorry , a long day and English not my preferred language. So it is really difficult for me.

Please make your choice:

![fullsizerender](https://cloud.githubusercontent.com/assets/17237601/14581831/06e5096e-03f7-11e6-9b3d-ffd69e867f76.gif)

😄

[2016-04-16 15:37] WolfganP commented on #208
Nice suggestion. I would like to have the chance of running it headless (no UI) and manage it thru the web remote at my.jdownloader.org (good & recent article of config options at https://board.jdownloader.org/showthread.php?t=67217)

[2016-04-16 15:42] Fourdee commented on #273
@k-plan

Nice collection, Sandisk Extreme looking nice :+1: You want to see mine? :)

I understand and appreciate the help :).  I just want to make sure you are testing the right areas. At the moment i'am doing all the DietPi images which takes time and all my concentration: https://github.com/Fourdee/DietPi/issues/278#issue-148344897.

Once they are done, I will come back here and refresh my memo

[2016-04-16 16:37] Fourdee commented on #208
@apotal12 Thanks for the guide :+1: , I'll flag this for v117.

@WolfganP Excellent :+1: , I'll check this out aswell.

[2016-04-16 16:44] k-plan commented on #273
@Fourdee

yes, nice looking, but a lot of freeze and kernel panic

Yes for sure.
But then I had to turn out the rest of my sd-cards, who are in use on my other devices.
Sorry, only  joke around. 😄

Do nothing but whine here , is as well waste of time.

So I choice SD-Card Verbatin 8GB, the slowest in the sample.
1. formatting and burn DietPi v.109 image on it and decided to do all config manually

[2016-04-16 16:57] rhkean opened #284 "Add IP Address to DietPi Banner to ease remote access"
Adding for tracking purposes

[2016-04-16 17:01] rhkean commented on #276
done (created #284 ) and submitted the pull request

[2016-04-16 17:02] #278 closed, assigned to nobody

[2016-04-16 17:49] DasClarky commented on #269
Today i decided enough is enough and flashed the v109 image and let it
upgrade and installed the bits i wanted, when Kodi started i did as you
instructed but still the same deal however i had not ventured in to the
peripherals menu before so i disabled everything and just left it Enabled,
rebooted and boom it connected to my Onkyo receiver. I guess what we
learned here is all the fancy bits do not

[2016-04-16 18:13] Fourdee commented on #284
@rhkean
Thanks Rob :+1:.

Looking good:
![image](https://cloud.githubusercontent.com/assets/7077026/14582795/c2cc559c-0406-11e6-80f5-65824eb116c7.png)

The only issue is this wont be active until the user updates their version of DietPi, or, I redo the DietPi images again for v116. Apologies for that, I should of mentioned. I had to get the images done today, only chance I'll have for a week or tw

[2016-04-16 18:15] Fourdee commented on #276
Thanks Rob. I'll mark this ticket as completed.

[2016-04-16 18:15] #276 closed, assigned to nobody

[2016-04-16 18:16] Fourdee commented on #273
@k-plan

Are you able to ping the ip address?

Although `ip a` reports the wlan0 adapter being "down", I can ping the IP address assigned to the adapter. Strange.

[2016-04-16 19:01] k-plan commented on #273
@Fourdee

[code]

Yes, but this indicate only that ip stack is running correct, not interface wlan0 it self.

from outside (Wifi-Router)

[code]

No. Make sense, because wlan0 interface is not in registration table of AP.

to be really sure:

[code]

---

**_edit:_** have done another look in dmesg after:

[code]

[2016-04-16 19:25] Fourdee commented on #273
@k-plan
Thanks :+1:
Just to confirm, when you reboot with static IP, it works fine?

This should be all we need. Its already in `dietpi-config` but has no effect to static IP on wifi.

[code]

[2016-04-16 19:32] k-plan commented on #273
@Fourdee

[code]

[code]

Why is reboot obligation?

[2016-04-16 19:37] Fourdee commented on #273
@k-plan
Thanks. Think i've found the cause. Only 1 gateway entry is needed, 2 is whats preventing wlan0 up.

Can you:
- edit `/etc/network/interfaces` and comment out `#gateway 192.168.0.1` under `wlan0`
- `dietpi-config` set dhcp, apply
- `dietpi-config` set static, apply
- Then check static IP's are displayed in `dietpi-config`

[2016-04-16 19:45] k-plan commented on #273
@Fourdee

[code]

after:

[code]

[2016-04-16 19:49] k-plan commented on #273
@Fourdee

but what will happened, if I plugged eth1 out or disable it?

[code]

[2016-04-16 19:50] rhkean commented on #284
😺 figures. too funny

should have thought of it before last night.... my bad.   ROFL

[2016-04-16 19:53] Fourdee commented on #273
I assume both eth0 and/or wlan0 when static will share a single `gateway=` entry. I'll need to test it.

Edit: Yep, it does. Disabled eth0, wlan0 still using the static gateway.

So i'll need to change the DietPi code to allow for a single shared `gateway=` entry when both, or 1 adapter is static.

[2016-04-16 19:59] rhkean commented on #269
Onkyo's are evil
not as evil as Harmon Kardon receivers.
I'm just glad we could help get it working.

[2016-04-16 20:01] Fourdee commented on #284
lol.

I could explain the image creation process if you are intrested? It's a little lengthy, but would allow you to update the DietPi images as you need :)

ps. Son is staying over nans tonight, Can finally watch Martinsville SCS , cant wait :)

[2016-04-16 20:04] k-plan commented on #273
Will work in your network (example):

eth1: 192.168.0.100/24
wlan0: 192.168.0.200/24
GW: 192.168.0.1
DNS: 192.168.0.1, 8.8.8.8
DHCP-Server: 192.168.0.1

(Wifi) Router: 192.168.0.1/24

---

If you have a network with a Router and, for example, with a guest WLAN and  segregate DHCP / IP address block (example: 10.0.0.0/24), you will need to configure two gateways.

[2016-04-16 20:09] k-plan commented on #273
@Fourdee

But for now (v.116) it is okay! 👍

leave it as it is and do your release. Let's do the rest later.
It's more than enough for today. 😃

And have some fun now.

[2016-04-16 20:24] k-plan commented on #273
_Note (for me or whomever):_

Useful Things / Idea:

_1. WiFi HotSpot_
- DNS-Server selection (like new menu under interfaces) in dietpi-config
- possibility to change DHCP area and Gateway address in dietpi-config
- possibility to change 802.11g to 802.11n via dietpi-config, if hardware support it.

_2. TOR HotSpot_
- DNS-Server selection (like new menu under interfaces) in dietpi-config
- possib

[2016-04-16 20:38] DasClarky commented on #269
Yea it does appear they like to ignore major parts of the HDMI-CEC protocol
but yea we cracked it!

On 16 April 2016 at 20:59, Robert Kean notifications@github.com wrote:

[2016-04-16 21:24] rhkean commented on #284
I'm game...  Not tonight though... Heading out to dinner with the Mrs.
On Apr 16, 2016 4:01 PM, "Dan" notifications@github.com wrote:

[2016-04-16 21:36] k-plan commented on #273
@Fourdee

Hmm ... please can you show `ip a` and `route -n` ?

Hmm .. if ready, please give it to me. I like to test it. Thanks.

[2016-04-17 11:38] k-plan commented on #273
@Fourdee

hmm ... please have a look here: [Debian Network setup](https://www.debian.org/doc/manuals/debian-reference/ch05.en.html)
    especially:
https://www.debian.org/doc/manuals/debian-reference/ch05.en.html#_the_ifmetric_package

`root@oDroid-C1-Plus-Test:~# apt-get install ifmetric`
 then set an option line with "`metric 0`" just below the "`iface eth1 inet static`" line
and an option line

[2016-04-17 13:22] Fourdee commented on #273
@k-plan
Did some testing today and 1 gateway entry is not a fix. Its just a workaround to get a wifi static adapter to come up when eth is up. Each device needs it own `gateway` entry when static, else, the device that doesn't have it set in `/etc/network/interfaces` will not be able to route traffic.

I'll look into your metric suggestion and see what comes up :+1:  For now, I'll mark this as a k

[2016-04-17 13:34] k-plan commented on #273
@Fourdee

no thanks. 😄

Do you want no geek stuff? :flushed:
PayPal feel too non-personal for me. But anyway, forget it. For now. :wink:

[2016-04-17 13:41] Fourdee commented on #273
@k-plan
I main use amazon to buy nappies, wet wipes and all that general stuff lol. RS and Hardkernel for everything "gadget".

[2016-04-17 13:42] k-plan commented on #284
hmm ... I have "Address" twice

![160417-0001](https://cloud.githubusercontent.com/assets/17237601/14587415/d9a55f3c-04b2-11e6-9f63-afd70d0e2165.gif)
![160417-0002](https://cloud.githubusercontent.com/assets/17237601/14587418/e802a184-04b2-11e6-9579-6d8b19ab35b9.gif)

[code]

Sorry, and yes

[code]

[2016-04-17 15:47] rhkean commented on #284
not so much a typo, but an issue with the locale... how the value gets parts and stored in the /DietPi/dietpi/.network file.

just suck it up @k-plan !!!!   😈

no, seriously, I'll look into it.  good catch

[2016-04-17 15:57] k-plan commented on #284
https://github.com/Fourdee/DietPi/blob/testing/dietpi/dietpi-config#L1813

... but I don't understand what you are doing there. Sorry - Null-coding-skill.

[2016-04-17 16:07] rhkean commented on #284
@k-plan can you give me the output of your ifconfig ?
the double address is a parsing error that I can fix, but I need to verify what the non-english ifconfig output looks like.

[2016-04-17 16:08] k-plan commented on #284
[code]

[2016-04-17 16:22] rhkean opened #287 "obtain_network_details not parsing ip address properly on non-english systems"
see comments on #284

fixed with pull request #286

[2016-04-17 16:24] rhkean commented on #284
bug tracking:  #287
patched:  #286

[2016-04-17 16:35] k-plan commented on #284
@rhkean

Sorry dump question:
Now we have to wait @Fourdee, to look over and merge your fix in testing branch.
After this, I can update to testing branch and test it. Is it correct?

[2016-04-17 16:43] Fourdee commented on #287
@rhkean

I recently applied:
`LANG=en_GB.UTF-8` to our main DietPi scripts. This ensures all parsing is returned in English:
Ticket = https://github.com/Fourdee/DietPi/issues/273#issuecomment-210806262
Commit = https://github.com/Fourdee/DietPi/commit/aaf33009c717b42cab74353c0324590dbd8af182

I'am tempted to add this to all the DietPi scripts , which should prevent non-english parsing errors from

[2016-04-17 16:45] rhkean commented on #284
@k-plan correct
and he just did that, so you're good to test

[2016-04-17 16:51] Fourdee commented on #287
@rhkean

Yep, I've merged the pull request.

`locale-gen --purge` good spot :+1: . We could add a bash alias to `/etc/bash.bashrc` to prevent this from occurring, if we can't find another solution.

[2016-04-17 16:54] k-plan commented on #284
[code]

![160417-0003](https://cloud.githubusercontent.com/assets/17237601/14588572/05202dbc-04cd-11e6-9c4a-f8f1b36a4c3a.gif)
![160417-0004](https://cloud.githubusercontent.com/assets/17237601/14588573/0fd1a128-04cd-11e6-9fcb-02c2c846c66a.gif)

@rhkean 💯  👍

@Fourdee  👍  - push v.116 out (_please quick_ - 😄   - _and have a break_)

---

@k-plan    🇩🇪
@Fourdee  🇬🇧
@rhkean  :question:

[2016-04-17 16:59] rhkean commented on #284
🇺🇸

[2016-04-17 18:03] Fourdee opened #288 "MyVirtualServer.com - The new web hosting provider of DietPi"
http://MyVirtualServer.com is now DietPi's hosting provider. http://dietpi.com has been redirected (pending ahost update), forum move will start in the week.
New IP URL = http://185.101.92.145
#### Add following MyVirtualServer.com coverage/sponsership to DietPi as discussed:
- :u6307:  http://dietpi.com = Header + description + image at bottom of page
- :u6307: README.md = Header + description (a

[2016-04-17 18:08] Fourdee commented on #284
@rhkean @k-plan
Looking like v116 release for tomorrow, however, may be Tuesday at the latest. Just need to finish these jobs off:
- DietPi's hosting provider MyVirtualServer.com: https://github.com/Fourdee/DietPi/issues/288
- `LANG=en_GB.UTF-8` to all scripts if we can prevent `locale-gen --purge` from being used to remove `en_GB.UTF-8`: https://github.com/Fourdee/DietPi/issues/287

[2016-04-17 22:04] plattrap opened #289 "`dietpi-apt-get_update` killing `ntpd`"
`dietpi-apt-get_update` script is killing `ntpd`, and not restarting it. Also ignores current setting of `ntpd_update_mode=` in `dietpi.txt`.

Probably should ignore `ntpd` if `ntpd_update_mode=0`?

I have ntp running as a network time server on my system, with a local GPS attached, and would like it to run forever. I have created a service to start ntpd at startup, but have the daemon being kille

[2016-04-18 15:27] Fourdee commented on #289
@plattrap

Many thanks for the bug report.
We have a NTPD option that allows for it to run constantly, with time drift. This option is available in `dietpi-config` > advanced > Time sync (ntpd). Once in this mode, `dietpi-apt-get_update` will not kill the process.

Yep, make sense.
I've updated `dietpi-apt-get_update` to ignore waiting for NTPD (and killing it) if `ntpd_update_mode=0`

This fix wi

[2016-04-18 15:27] #289 closed, assigned to nobody

[2016-04-18 15:30] k-plan commented on #288
OT:
@Fourdee

do you ever slow down and have a break? :flushed:

Puhh, changing additional  the hoster/isp now. Is the new vServer a for-free / sponsoring offer? Or have you to pay for it? A OVZ-1 model?

Can we  assist  you, or do something else?

[2016-04-18 15:48] Fourdee commented on #288
@k-plan
Slowing down today, come down with flu lol.

MyVirtualServer.com are sponsoring DietPi by providing us with a VPS to host dietpi.com, and, the dietpi forums (once i've moved them over).

I cant think of anything at the moment, but I will let you know if I do :+1:

[2016-04-18 15:57] Fourdee commented on #288
@k-plan
The VPS package is OVZ-3, and its blazingly fast :)

[2016-04-18 16:08] inspector71 opened #290 "Let's Encrypt offline or unreachable"
[code]

This seems false since I was able to download letsencrypt-master.zip from

https://codeload.github.com/letsencrypt/letsencrypt/zip/master

via the same address, that is:

https://github.com/letsencrypt/letsencrypt/archive/master.zip

[2016-04-18 16:49] Fourdee opened #291 "Ensure all DietPi scripts can parse correctly, regardless of system locale"
All DietPi scripts rely on english results to ensure parsing is completed correctly.

Force `en_GB.UTF-8` throughout DietPi scripts to ensure all parsing results are returned in english, regardless of system locale.

[2016-04-18 16:50] Fourdee commented on #287
Ok will mark this as closed, created a new ticket to attempt to force english parsing throughout DietPi scripts: https://github.com/Fourdee/DietPi/issues/291

[2016-04-18 16:50] #287 closed, assigned to rhkean

[2016-04-18 16:55] Fourdee commented on #291
I have applied the following to all DietPi scripts https://github.com/Fourdee/DietPi/commit/5500ffd83ab2b2072595dd9f36dc97e9f070fc2d:

[code]

This will ensure all parsing results are returned in english, regardless of active system locale.

To prevent users removing `en_GB.UTF-8`:
I've added a message box to `dietpi-config`, when user changes locale:
![image](https://cloud.githubusercontent.com/a

[2016-04-18 17:01] Fourdee commented on #284
Will mark this as closed.
I've created a new ticket to resolve non-english parsing issues throughout DietPi scripts: https://github.com/Fourdee/DietPi/issues/291

[2016-04-18 17:01] #284 closed, assigned to rhkean

[2016-04-18 17:28] k-plan commented on #291
@Fourdee

hmm ...  you although  keep track of DietPi-Automation and templates?

[code]

I like dietpi-automation templates very much and often use it.

If someone set here a other language, what will happen now?

Would be nice to have always set "`C`" and "`en_GB.UTF-8`" and
e.g. `AUTO_Locale=de_DE` should only added the new extra default-language.

#174

[2016-04-18 17:35] Fourdee opened #292 "DietPi-Update | Github cert errors."

[2016-04-18 17:36] Fourdee commented on #292
Added -k (ignore cert errors) to both update check (already existed), and, .zip download: https://github.com/Fourdee/DietPi/commit/81a65c4007f79ad5c35022460d81f76ccf30087c

[2016-04-18 17:37] Fourdee commented on #292
Greg, please run the following commands:

[code]

[2016-04-18 17:44] Fourdee commented on #291
@k-plan
As far as I'am aware, the current automation system for setting locale is not working correctly.

Yep :+1: , I'll make a note to test `en_GB.UTF-8` is not removed when user has automation setting for locale.

[2016-04-18 17:45] Fourdee commented on #174
As per https://github.com/Fourdee/DietPi/issues/291#issuecomment-211495754:
Ensure `en_GB.UTF-8` is not removed when automation user locale is set.

[2016-04-18 17:56] rhkean commented on #291
Away from my computer at the moment, but I know that tool creates a text
file that lists out all the locales to build...  We could add some extra
code to always insert en-GB

Otherwise we'll need to go through everywhere that a bin util output is
parsed and correct it.
On Apr 18, 2016 1:44 PM, "Dan" notifications@github.com wrote:

@k-plan https://github.com/k-plan
As far as I'am aware, the curren

[2016-04-18 18:42] Fourdee commented on #291
@rhkean

Excellent, sounds perfect :+1:

[2016-04-18 19:01] Fourdee commented on #288
Completed, marked as closed.

[2016-04-18 19:01] #288 closed, assigned to Fourdee

[2016-04-19 10:01] Fourdee commented on #290
@inspector71

Hi, thanks for the bug report.

Could you please try the following for us and paste results:

[code]

If the above works, without errors. Please try reinstalling LetsEncrypt again.

Otherwise, If an error occurs, please run (and paste results):

[code]

[2016-04-19 10:09] Fourdee commented on #292
Confirmed resolved by user:
https://twitter.com/gnfrazier/status/722200634087358469

There may be a underlying issue with GitHub certs based on incorrect system date, as per this thread with a similar issue: https://github.com/Fourdee/DietPi/issues/290. I will investigate this further on that ticket.

As this ticket is resolved, I'll mark this one as closed.

[2016-04-19 10:09] #292 closed, assigned to nobody

[2016-04-19 11:45] Fourdee commented on #291
@rhkean
I'am aiming to release v116 today, this is the only item left.

Do you think it is possible to have your suggestion implemented within the next 2-4 hours? If not, I will close this ticket and we can create a new one for v117 (eg: Prevent users from deselecting/removing en_GB during locale change).

As we have a msgbox warning when users change their locale, its not critical at the moment a

[2016-04-19 12:05] Fourdee commented on #252
I will leave the PiHole implementation out for now. I may revisit/rethink that in the future on a separate ticket.

Marked as closed, please reopen if required.

[2016-04-19 12:05] #252 closed, assigned to nobody

[2016-04-19 12:06] Fourdee commented on #267
@rhkean
Excellent work on implementing this, top stuff :+1:

Ticket closed, marked as completed.

[2016-04-19 12:06] #267 closed, assigned to rhkean

[2016-04-19 12:10] #256 closed, assigned to nobody

[2016-04-19 12:18] Fourdee commented on #202
@k-plan @rhkean
Just doing some late spring cleaning. As the original item in this ticket was completed in Feb, will mark this as closed.

Rob, if you want to explore the 4.x kernel for XU4 with uas support. Please create a new ticket for this :+1:

K-Plan,
Unless we get asked by our users for a RT kernel for Odroid devices, there isn't much pointing doing it. Mainly due to the constant Odroid ker

[2016-04-19 12:18] #202 closed, assigned to nobody

[2016-04-19 12:20] #184 closed, assigned to nobody

[2016-04-19 12:25] Fourdee commented on #94
Request rejected.
DietPi will not benefit from Zram.

[2016-04-19 14:19] rhkean commented on #291
@Fourdee

Sorry Dan.  I can't get to this today.  I'm being pulled in about 6 directions at work at the moment.

EDIT...
and.... I just realized that you asked me to do this several hours ago.... I'm really sorry.

[2016-04-19 14:47] rhkean commented on #202
I agree with your analysis.

[2016-04-19 15:06] Fourdee commented on #291
@rhkean
No worries and no rush. :+1:
I was just seeing if we could get this in before v116 release. Its not critical and can wait until your available and have the time.

[2016-04-19 15:08] Fourdee opened #294 "Move fuzon.co.uk forums/links over to new VPS dietpi.com"
fuzon.co.uk > dietpi.com
- :u6307: Forums
- :u6307: dietpi-survey
- :u6307: dietpi-bugreport
- :u6307: https://github.com/Fourdee/DietPi/commit/9e2b3c85ada60ba4df1e9fe93b9dd42435f6c45f DietPi scripts, change all references of `http://fuzon.co.uk` to `http://dietpi.com`
- :u6307: Point fuzon.co.uk to new VPS via ahost. Ensures existing fuzon.co.uk link references will still function, until they are

[2016-04-19 15:28] rhkean opened #295 "Add Vim-Tiny option to additional software"
http://fuzon.co.uk/phpbb/viewtopic.php?f=9&t=367

[2016-04-19 15:33] rhkean commented on #294
so, are you moving the forums from http://fuzon.co.uk/phpbb to http://dietpi.com/phpbb ?

[2016-04-19 16:09] Fourdee commented on #294
`dietpi-survey` `dietpi-bugreport` now uploads to dietpi.com

[2016-04-19 16:10] Fourdee commented on #294
@rhkean
Yep, to start with will move the whole forums. Need to sort out a redirect from fuzon.co.uk to dietpi.com also, as documentation links `http://fuzon.co.uk/phpbb/` in DietPi wont be updated until users install v117.

Edit:
Made a progress tracky thingy https://github.com/Fourdee/DietPi/issues/294#issue-149490172. Will keep it updated. :)

[2016-04-19 16:22] Fourdee commented on #294
ACP (/adm) is a little broken lol:
![image](https://cloud.githubusercontent.com/assets/7077026/14646917/5af09088-0653-11e6-8780-1a2dff8d50bb.png)

[2016-04-19 17:15] rhkean commented on #294
do you still have a host for fuzon.co.uk ?

[2016-04-19 18:00] k-plan commented on #295
@rhkean

may I attached some more basic package from my personally "I-have-to-every-installation-must-add" tool-list?

like: mc, iperf, tcpdump, mtr-tiny ?

Or better open for every tool a separate issue?

[2016-04-19 18:12] rhkean commented on #295
fine with me, but let's get @Fourdee to chime in.  He has a system and it's been working well for him, so I don't want to buck it.

Dan, thoughts...  add on to this request or create separate tickets?

[2016-04-19 19:03] WolfganP commented on #276
I just updated to v116, thx a lot for the enhancements guys. I noticed the discussions around the (almost constant) update notification and the mod to hide it, but I think one of the side effects is that it disallows manual updating (as netdata version is reflected as unknown)

![dietpi-netdata](https://cloud.githubusercontent.com/assets/2248211/14651878/2f154414-0648-11e6-981a-336a4c1480ee.jpg)

[2016-04-19 19:18] Fourdee commented on #276
@WolfganP
Yep. The downside of disabling the flashing update button (using the workaround https://github.com/firehol/netdata/issues/233#issuecomment-210468649) is the version check will not work: https://github.com/firehol/netdata/issues/233#issuecomment-210468649.

ktsaou mentions a possible option in the future that will simply disable the automatic update check. Until this is available, we will

[2016-04-19 19:25] Fourdee commented on #295
@rhkean
Sounds good to me, by all means add them in at your own leisure.
The only thing I would suggest is put vim-tiny (and k-plans suggestions if you add them) in the linux software list. Basically anything that is "general and/or basic linux stuff" or shared libraries, should go there.

[2016-04-19 19:29] Fourdee commented on #294
At the moment yes, its still running on home server/network, at least until the move is finished.

As I will need to redirect fuzon.co.uk to dietpi.com anyway (to ensure existing links throughout the web will still work), dietpi.com will be the new home of both dietpi.com and fuzon.co.uk (forums).

In the future i'll look into clean up the forums and separate the non-dietpi stuff somewhere else. U

[2016-04-19 19:36] rhkean commented on #276
@WolfganP ,

As @Fourdee mentioned, it does not actually facilitate updating the code.  Also note, we're providing pre-compiled binaries for netdata.

We'll try to keep up with netdata's major releases, and recompile when those milestones occur.

[2016-04-19 20:06] WolfganP commented on #276
Yes, I read those issues # as well. Good to hear you're both on top of it. Thanks!

[2016-04-20 12:04] k-plan commented on #295
:100: :+1:

You can as well put them together in category and/or package e.g.:
- Editor:
  - vim-tiny
  - mcedit (part of mc)
- File Management:
  - midnight commander (mc)
- Network tools:
  - iperf, mtr-tiny, tcpdump

Only a idea, please do that you personally prefer.

[2016-04-20 18:27] k-plan commented on #294
@Fourdee

BTW: don't see it on your list, but the links on dietpi.com pointed for now as well to "http://fuzon.co.uk/phpbb/viewtopic.php?...."

And have a look for the sponsor image layout, displayed on mobile devices.

![image-1](https://cloud.githubusercontent.com/assets/17237601/14685562/37a05658-0735-11e6-8903-cd4994888d12.jpg)

nice-looking and better fit  if it will be embed like raspberry-p

[2016-04-20 18:41] Fourdee commented on #294
@k-plan

Good spot, missed that one :+1:. There's so many things to do lol. Added to list.

Yep, looks like we need to reduce the image size and set centre alignment. Thanks for letting me know :+1:

[2016-04-20 19:02] k-plan commented on #294
So far I can see it from here, this will do your nice website template in one's own right, if choose the right "`<span class>`"

But take a look, if  have some peace and quiet. Yes, it's hard for  _workerholics_. :wink:
No worry, it works well on desktops.

[2016-04-22 14:01] Fourdee commented on #294
@k-plan I couldn't figure out how to align centre with the template (html isn't my strength), but i've resized the image for now, should be better on mobile view :)

[2016-04-23 05:38] xenfomation commented on #294
I'll gladly take a look at the HTML/CSS mark-up.  The IMG tag may be inheriting another class parameter or it's container may just neet a center/alignment adjustment.

Glad to be back into the world of non-book writing and while github is something I use for my own purposes, yeah -- I'm no pro at it -- but I'm sure we can suss something.  I will poke around to see what I can do with the centre nec

[2016-04-23 07:51] k-plan commented on #294
@Fourdee
yes, better. But it will be beautiful, to use the auto-scaling potential of your html5 template.

Let @xenfomation have look. Thanks for his offer. 👍

[2016-04-23 10:27] Fourdee commented on #291
@rhkean
I'll mark this as closed. I believe the warning message I've added to `dietpi-config` when changing locale should be enough.

If we get users reporting errors due to removal of `en_GB`, then we can add in your suggested measure to force `en_GB` as always installed.

[2016-04-23 10:27] #291 closed, assigned to nobody

[2016-04-23 11:27] Fourdee commented on #281
Unable to replicate the reported issue on RPi 1/3. I'am just wondering if this is a simple case of GPU memory being reduced below the 128MB requirement, after installation:

[code]

I've marked this as closed for now, but will reopen pending a response from our users who report the same issue: http://dietpi.com/phpbb/viewtopic.php?f=9&t=363&p=1646#p1646

[2016-04-24 09:42] studioai opened #297 "Nginx conf for pydio"
I wrote a nginx conf file for pydio!

pydio works fine with it in /etc/nignx/sites-dietpi, even webdav and file share link redirection are OK!

So, Please. Apply this file to next dietpi release.

Then, I'll be happy for my little contribution to this wonderful project.

`I wrote a nginx conf file for pydio!

pydio works fine with it in /etc/nignx/sites-dietpi, even webdav and file share link redi

[2016-04-24 11:28] Fourdee commented on #294
So its just the forums left now. Need to replace all `fuzon.co.uk` reference links with `dietpi.com`.

If I can find a way to "find and replace" in SQL, I'll do it that way. If not, manually replacing and checking each forum post would be a nightmare. Although as `fuzon.co.uk` is also redirected to `dietpi.com`, theres no harm in leaving those old links as they are.

EDIT:
Done using sql export, f

[2016-04-24 11:31] Fourdee commented on #297
@studioai
Thanks for this, although could you please explain the differences in your configuration file and its benefits, when compared to our existing one?

[2016-04-24 12:08] studioai commented on #297
As far I know there's no existing one for nginx. Only apache configuration file is given for pydio installation. So, I googled for nginx configuration for pydio and modified it.

It is automatically included if it's in /etc/nignx/sites-dietpi directory with .config extention by default nginx configuration file.

this is for who installed LEMP (NginX + MySQL + Php) Stack and Installed Pydio later.

[2016-04-24 12:14] Fourdee commented on #297
@studioai
As of DietPi version 115, all the `dietpi-software` webbased installations now support Lighttpd, Nginx and apache2 stacks. Rob did alot of work on getting the Nginx and Lighttpd installations and configurations working.

What version are you running?

[2016-04-24 12:20] Fourdee commented on #290
Unable to replicate error user reported. Waiting for a response from @inspector71

[2016-04-24 12:36] Fourdee commented on #273
@k-plan
The ifmetric addition you mentioned seemed to have resolved the issue :+1: :
- eth0 static or dhcp
- wlan0 static (Ip addresses showing correctly)

So it looks like this resolves the issue of incorrect IP/routing on wlan0, when using both adapters and wlan0 as static.

As far as I can tell, problem solved. Can you try ifmetric on your system, just to confirm it fixes the issue? All I did w

[2016-04-24 12:52] xenfomation commented on #294
No problem!  Just tying to sort out my account credentials and will reach out to @Fourdee to make sure he can point me to the right part of the branch.  Ah... this is the life!

[2016-04-24 13:13] studioai commented on #297
@Fourdee
I have 116 Installed now (It was 115 image when I installed)

There was /etc/nginx/sites-enabled/default only. Am I missing something?

If I'm not, default configuration supports php well. but doen't go well with Pydio's WebDav service and File Sharing via URL because there is no proper rewrite options.

What I wrote is additional configuration file can be add on to default conf. and that

[2016-04-24 13:15] xenfomation commented on #295
Feature request, but I get it.  I just setup and tore down the latest build Sunday @ 03:00 EST, so if there is no progress on this, etc -- I wouldn't mind looking at this.  Like @k-plan and @Fourdee  -- it's misc Linux utils, so my last question is: should others be considered, such as I had to cover for XenServer recently (lsof, lshw, etc, etc) : https://xenfomation.wordpress.com/2016/04/20/xense

[2016-04-24 14:09] k-plan commented on #294
@Fourdee

No, no ...  😄

Have a look on: https://github.com/Fourdee/DietPi/blob/master/README.md

Your testing is fine: https://github.com/Fourdee/DietPi/blob/testing/README.md

But really no big deal.

BTW forum: Could you perhaps change this? (may puzzled some user)
http://fuzon.co.uk/phpbb/styles/dualcore/theme/images/logo.png

But only if you like to have dietpi-logo there. Corporate design co

[2016-04-24 14:40] k-plan commented on #273
@Fourdee

only tested on Odroid C1+.

1.) connect to the same network segment ( layer-2 broadcast domain) e.g. 192.168.0.0/24
- eth0 static or dhcp
- wlan0 static or dhcp

2.)  connect to two different network segment ( layer-2 broadcast domains) e.g. 192.168.0.0/24 and 10.0.0.0/24
- eth0 static or dhcp
- wlan0 static or dhcp

Not tested with WiFi HotSpot and Tor WiFi Hotspot.
Not tested on other

[2016-04-24 15:18] rhkean commented on #294
about the only way that I've found to find/replace in SQL would be:

# mysqldump -u root -p[root_password] [database_name] > dumpfilename.sql

then find replace on the sql file

then

# _mysql -u root -p[root_password] [database_name] < dumpfilename.sql_

On Sun, Apr 24, 2016 at 10:09 AM, k-plan notifications@github.com wrote:

[2016-04-24 15:19] k-plan commented on #292
@Fourdee

http://fuzon.co.uk/phpbb/viewtopic.php?f=11&p=1658#p1658

hmmm ... but for me:

[code]

[2016-04-24 19:00] Fourdee commented on #294
@rhkean Yep, same method I used. :+1:

@k-plan

Testing > Master will be done when v117 is released :)

Yep. I've been thinking about sticking DietPi logo in there. Will take a look.

Hehe, keeping the purple for now :)

[2016-04-24 19:18] k-plan commented on #294
@Fourdee

Yep. 👍   I have notice, big coding is going on in the background,  so ..

... your home cinema have to wait for a spell. :laughing:

[2016-04-24 20:30] xenfomation commented on #271
As of 18:00 EST, I am will pull this down as I am quite interested to take an approach to solve via /dev/disk-by-uuid/, etc!

[2016-04-24 22:00] inspector71 commented on #290
Hi
Swear I replied to this. Might have been replying when my laptop died.
However I've upgraded since. How do I see the current version of dietpi from the command line?

[2016-04-25 09:49] k-plan commented on #261
@rhkean

[Debian Linux with Mate GUI 20160422](http://wiki.pine64.org/index.php/Pine_A64_Software_Release#Debian_Linux_with_Mate_GUI_20160422_by_lenny.raposo_with_Longsleep_kernel)

[2016-04-25 09:58] Fourdee commented on #290
@inspector71
`cat /DietPi/dietpi/.version`

[2016-04-25 10:51] Fourdee commented on #273
@k-plan
Thanks.

Not currently, i'll add it in today so we can test.

What manual setting did you use for ipv6?

[2016-04-25 11:18] Fourdee commented on #273
@k-plan
ifmetric is in testing branch: https://github.com/Fourdee/DietPi/commit/3d3668b48eb3fceced2dec1dc7fd5f4766a11999

[2016-04-25 11:46] Fourdee opened #298 "DietPi-Software | Java will not install"
[code]

[2016-04-25 11:54] Fourdee commented on #298
[code]

[2016-04-25 11:59] Fourdee commented on #298
Caused by:
Java package requiring the license prompt to be accepted.

Resolved for v117, use debconf to accept the prompt.

[code]

[2016-04-25 11:59] #298 closed, assigned to Fourdee

[2016-04-25 12:01] studioai opened #299 "diepi-cloudshell for xorg and cloudshell LCD screen"
Hi,

I was wondering there's a way to run dietpi-cloudshell on LCD while running Kodi on HDMI display for my cloudshell.

and I have found a answer and I posted it fuzon.

[http://fuzon.co.uk/phpbb/viewtopic.php?f=11&t=310](http://fuzon.co.uk/phpbb/viewtopic.php?f=11&t=310)

My modification on the script is
- Removing Configuration Codes : this causes crash on Xterm on LCD Screen
- Removing Option

[2016-04-25 12:53] k-plan commented on #273
@Fourdee

Very nice, thanks! :blush: I will make a fresh install on C1+ and give it a shot.

This: #212

[2016-04-25 12:56] Fourdee commented on #208
#### Configuration issues:

I cant see a way to automate the users account details (encrypted):

[code]

I also cant see a way to change the default download directory (`/root/Downloads`):

[code]

Its not looking very "DietPi-able" at the moment. Lots of user input will be required for initial setup.

[2016-04-25 13:30] WolfganP opened #300 "Update netdata to v1.1.0"
NetData released v1.1.0 5 days ago https://github.com/firehol/netdata/releases/tag/v1.1.0 , official tarfiles released at http://firehol.org/download/netdata/releases/v1.1.0

[2016-04-25 13:54] rhkean commented on #261
cool!
now, if I can just get my board.. :cry:

[2016-04-25 13:57] rhkean commented on #300
Those tarballs are source code, not binaries.

But, I'll look over the changes when I get a moment.

[2016-04-25 14:15] WolfganP commented on #300
Thx @rhkean I found a relevant discussion on debian packaging at https://github.com/firehol/netdata/pull/132 and https://github.com/firehol/netdata/issues/42

[2016-04-25 15:53] rhkean commented on #300
Wow... I thought some of our Issue conversations were long.... LOL

looks like they're adding deb package builds.  that'll make it easier...  Probably won't get to it this week, though.

[2016-04-25 18:05] xenfomation commented on #295
Just a quick reply to all as the CLI is one of my favorite places to be, I've got a handfull of sections with tools added and I will be testing them from branch Test, V116 (locally).

The topic areas are CLI Editors, File Managers, Web/Email, Network Tools, System Monitoring, Process Monitoring, and Administrative Tools.  It' about 60+ utilities I use all the time, but thanks to Debian -- every on

[2016-04-25 18:44] Fourdee commented on #290
@inspector71

No need.
The DietPi update downloads from git, so if there was a cert error, if would of occurred then. Try to install letsencrypt again and let us know if the error re-appears, then we can do some tests if needed.

EDIT:
Actually, come to think of it, we now ignore cert errors during `dietpi-update`. Either way, please test letsencrypt installation again if you can.

[2016-04-25 20:36] rhkean commented on #295
@xenfomation
sweet!!!!!
I'm with you.  I typically don't even install a GUI on my SBC's...

@Fourdee and @k-plan ,
with that many options, it's probably gonna need another menu
and, we might want to consider including approximate disk usage for each option.
thoughts?

[2016-04-25 22:05] xenfomation commented on #295
Oh -- absolutely!!!  I agree and didn't even consider that... I'll sharpen the list up this evening and see if I can't stub in a new menu.

[2016-04-25 22:39] xenfomation commented on #295
But I realized what I may have just done.... "Forgot about the Diet part of DietPi" (@Fourdee)!

For testing locally, I have trimmed down to about 10-15 packages for various subjects.  I will be unavailable until after 6pm EST.  Thanks!!

[2016-04-26 08:44] k-plan commented on #273
@Fourdee

only do a quick test on a fresh install with DHCP/DHCP and static IP/DHCP connect to the same broadcast domain. It's working per ifup/ifdown.

But it seems, we have do do some work. If you e.g. plugged in or out the ethernet cable. It's freeze the network connections. (because e.g. route = static metric0 on eth1)
Where is no reaction to carrier loss.

Did some quick research, but I'm in

[2016-04-26 10:11] k-plan commented on #273
advisement (for me):
- if only one interface - no need for metric/netplug/NetworkManager
- if two interfaces - we need a metric/netplug/NetworkManager
- if Wifi/Tor HotSpot - not allowed a metric/netplug/NetworkManager is working (?)
- Issue DNS configuration (?)
- open: what's happen if two active interfaces and e.g. PiHole / HaProxy / OpenVPN will be installed?
- ???

[2016-04-26 10:59] Fourdee commented on #223
I'll mark this as closed. Please reopen as required.

[2016-04-26 10:59] #223 closed, assigned to nobody

[2016-04-26 11:30] Fourdee commented on #208
Sorry guys, going to have to turn this one down. The current JDownloader installation method isnt DietPi material at the moment as we cant configure default download directory, or automate the users login creds for my.jdownloader.com.

I will post a script shortly that will allow users to manually install it, but we wont be featuring Jdownloader in `dietpi-software` at this time.

[2016-04-26 11:33] Fourdee commented on #208
#### JDownloader installation (Headless)

Install Java:

[code]

Install JDownloader:

[code]

Run JDownloader (headless)

[code]

[2016-04-26 11:34] #208 closed, assigned to nobody

[2016-04-26 17:22] Fourdee commented on #273
It will do that regardless of metric or not. To support hotplug, you need to change the `auto eth0` reference to `allow-hotplug eth0`.

[2016-04-26 19:07] Fourdee opened #301 "DietPi-Update | Server version is invalid."
Caused by recent proxy settings additions added to `dietpi.txt`. In some circumstances, the proxy settings did not get applied to a new line, breaking gitbranch string used in `dietpi-update`:

[code]

Fix:

[code]

Patch file on master (and testing) has been updated to prevent this issue from occurring:  https://github.com/Fourdee/DietPi/commit/e76be4d7144afb9fb3fdf436152dd98dab3c5175

[2016-04-26 19:16] #301 closed, assigned to nobody

[2016-04-26 19:26] k-plan commented on #273
@Fourdee

Hmmm... have you test it?
By my testing it doesn't work. If iface not going through `ifup` - `ifdown` , it will not switch the route.
Seems, `metric` is matches first.

[2016-04-26 19:30] Fourdee commented on #273
@k-plan

I'll run some tests tomorrow, how are you testing the route, traceroute? I'd like to replicate your tests.

[2016-04-26 19:46] k-plan commented on #273
@Fourdee

`ping -s 1500 192.168.0.100` wlan0 and eth1 `ping -s 1500 192.168.0.200` ip of C1 from router/PC and ping simultaneously from C1 to `ping -s 1500 dietpi.com.` (example)

But simple test:
- `allow-hotplug eth1` dhcp or static ip (active and working)
- `auto wlan0` dhcp (active and working)
- test `if ifup` / `ifdown` `eth1`and`wlan0` is working. ping must going on with a short break.

->

[2016-04-27 00:25] rhkean commented on #261
got my board tonight...  woot!

[2016-04-27 00:30] xenfomation commented on #261
${somuch}envy  On the positive @rhkean, I am testing 3+ "additional packages" to the dietpi-sotware utility instead of throwing 60 in!  enjoy the board!!

[2016-04-27 00:32] xenfomation commented on #271
Update -- I have my third Pi running and will be investigating this/testing before end of week.

[2016-04-27 00:34] rhkean commented on #261
don't be too envious...  it's 2 1/2 months late and missing the screws to mount the board in on the case.  😭

[2016-04-27 00:42] xenfomation commented on #245
@Fourdee --

While I haven't checked in anything YET, I wouldn't mind being assigned this issue as I have the very first PI 2+ where I discoverd DietPi.

Point is I am looking to:
- See about cipher hooks in Jessie's kernel
- See if complete partition, partial, or file-based encryption will make the least performance hit
- Run a random-based file utility to literally see how long it takes to turn

[2016-04-27 03:30] rhkean commented on #261
wow.... 1.1GB zip file, unzips to 8GB, writes a 2.3GB partition.  😃

[2016-04-27 10:48] Fourdee commented on #261
@rhkean

woop woop :+1:. When you've had time to test it, you will have to let us know what you think of it.

lol. I feel the pain from your SD card :)

[2016-04-27 10:51] Fourdee commented on #271
@xenfomation
Excellent :+1: Keep us updated when you can :)

[2016-04-27 10:54] Fourdee commented on #245
@xenfomation

Done, dig in :+1:  :)

[2016-04-27 16:28] Fourdee opened #302 "DietPi-Config/Software | NoIp2 binary will not run"

[2016-04-27 16:43] Fourdee commented on #302
Done, available for v117

[2016-04-27 16:43] #302 closed, assigned to Fourdee

[2016-04-27 18:46] Fourdee commented on #273
@k-plan
Thanks for the info :+1:

I couldn't get round to this today, so apologies for that. I'll give it a spin first chance I get tomorrow.

[2016-04-27 18:51] Fourdee commented on #273
@k-plan
I've also been meaning to post this picture for the last week lol:
![img_20160416_171545](https://cloud.githubusercontent.com/assets/7077026/14864328/5c2088dc-0cb1-11e6-8b22-f0cf305933d0.jpg)

[2016-04-28 01:29] xenfomation commented on #273
^ looks my lab, but no complaints as it took long enough to get back into free time!

[2016-04-28 01:42] xenfomation commented on #245
Focusing on user home partition and root user partition w/ eCrypt FIRST.  System is prepped and testing will start @ 09:00 EST 27-APRIL-2016.  Simple test, simple metrics.

Links related to eCrypt and TrueCrypt (two test targets for possible enhancement satisfaction) to be provided shortly.

[2016-04-28 02:37] xenfomation commented on #245
a.  ecryptfs project page (actively maintained):
[https://launchpad.net/ecryptfs](https://launchpad.net/ecryptfs)

b.  ecryptfs how-to for everyone to see/consider (live system w/ encrypted directory has to leave a signature or clear text password config file, which is... not security savvy).
[https://www.howtoforge.com/tutorial/how-to-encrypt-directories-and-partitions-with-ecryptfs-on-debian/#-l

[2016-04-28 02:40] xenfomation commented on #271
Will do @Fourdee !!  Thanks again!

[2016-04-28 02:44] xenfomation commented on #251
i will update my clone'd test repo AS this seems similar to the mc, mtrtiny, vim-tiny package discussion in a previous issue... i have some ideas, but will compose them before 09:00 EST 28-APRIL-2016 to see if myopia can be turned into one of the cool DietPi menus for a "most righteous means to install favorite software", etc... hrm...

[2016-04-28 06:39] xenfomation commented on #294
Heads up for all -- thanks to @Fourdee I am using Firefox, FireFox Mobile Browser Test, and a Samsung Galazy S4.
- The sponsor image is inheriting responsive/css declarations in the Footer section and it's absolute size definition is all causing the slight RIGHT-JUSTIFIED bleed over

![sponsorcutoff](https://cloud.githubusercontent.com/assets/10519408/14877347/459af352-0cea-11e6-9e66-0ecaa9e4119a.

[2016-04-28 08:32] xenfomation commented on #294
Assigned to myself.  As the code will be sent directly to @Fourdee, I will highlight items I solved (great job on this, btw!)
1.  Issue with sponsor image occurs when resolution is <= 360x480; that is resolved
2. The img/link tab were nested within two classes.  Image style was not set to 100% max-width, so auto scaling from the responsive code could not do it's job
- Move link and img ref 1 level

[2016-04-28 08:50] xenfomation commented on #294
I sent two emails, @Fourdee -- the 28-APRIL-2016-04:48AM has the non-QA site as I originally sent the QA version.  Point is, all bases are covered unless we get reports from the end-users about skewing or any oddities none of us have seen (along with their monitor, resolution, etc).  All of this feeds back into the HTML->CSS:RESPONSIVE_PAGE flow.  If further work is desired, you know I'm for it an

[2016-04-28 09:00] xenfomation commented on #290
Heads up -- I've tested 4 installs now with SSL ignored, but only after locale, timezone, and network settings are all in check.  Hope that helps?

[2016-04-28 12:18] Fourdee commented on #294
@xenfomation

The issue with alignment in the section "DietPi - features overview" has been there a while. To this day, I still dont know whats causing it lol.

I've uploaded your revised code (dietpi.com-28-APR-2016-FINAL_TEST.zip) to http://dietpi.com. Great work on this, looks much better :+1: :)

[2016-04-28 12:20] Fourdee commented on #251
@xenfomation
Sounds good, looking forward to your ideas :+1:

[2016-04-28 14:24] Fourdee commented on #251
Done, available for v117. http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=1691#p1691

[2016-04-28 14:24] #251 closed, assigned to Fourdee

[2016-04-28 15:03] Fourdee commented on #273
@k-plan

eth = dhcp
wlan = static
Unplugged eth and rebooted. I can ping wlan fine. As far as I can see, implementing ifmetric has no negative effects.

Is there any more tests you can think of that can replicate any issues?

[2016-04-29 03:01] xenfomation commented on #273
Hehehe - try and bond the two interfaces (no, seriously DO NOT).

[2016-04-29 11:00] Fourdee commented on #294
Marking this as closed. I will continue to work on the forum to add DietPi logo, in the future.

[2016-04-29 11:00] #294 closed, assigned to nobody

[2016-04-29 13:24] rhkean commented on #261
well, this is going to take a while.
- The only debian image is flaky.
- I can't tell at this point if the NIC problems that I'm encountering are image or driver related
- if the wifi/bluetooth addon board is plugged in, the system starts treating the gigabit Ethernet like a red-headed step child.

I might just build it from scratch... not sure, but it definitely won't be up to DietPi standards fo

[2016-04-29 15:30] Fourdee commented on #261
@rhkean

We can always release it under alpha/beta if its "semi-working", this will be your call. I did that for the Odroid C2 whilst we wait for X11 GPU drivers and gives me a chance to iron out some of those "arm64 issues".

Probably best to start from scratch and compile the kernel. I'd focus on getting the device working stable as a headless system first. GPU/VPU support (eg: Kodi, desktop) an

[2016-04-29 15:57] Fourdee opened #303 "DietPi-Software | Hostapd will not start"

[2016-04-29 17:35] rhkean commented on #261
I got an email from backerkit.com with my tracking number...

2 days AFTER my package arrived

[2016-04-29 18:07] Fourdee commented on #261
lmao. Epic 1st release for Pine :+1:

[2016-04-29 18:09] k-plan commented on #273
@Fourdee

eth1 and wlan are connected to same Layer2 Network (e.g 192.168.0.0/24)

#

 # Ethernet
**allow-hotplug** eth1
iface eth1 inet **static**
metric **0**

---

 # Wifi
**auto** wlan0
iface wlan0 inet **dhcp**
metric **1**

#
- ping ip address eth1 (from router or PC => **work**)
- ping ip address wlan0 (from router or PC => **work**)
- ping dietpi.com   (from C1 => **work**) _packets goes o

[2016-04-29 18:39] k-plan commented on #273
@Fourdee

eth1 and wlan are connected to same Layer2 Network (e.g 192.168.0.0/24)

#

 # Ethernet
**auto** eth1
iface eth1 inet **static**
metric **0**

---

 # Wifi
**auto** wlan0
iface wlan0 inet **dhcp**
metric **1**

#
- ping ip address eth1 (from router or PC => **work**)
- ping ip address wlan0 (from router or PC => **work**)
- ping dietpi.com   (from C1 => **work**) _packets goes over eth1_

[2016-04-29 19:04] k-plan commented on #273
@Fourdee

eth1 and wlan are connected to same Layer2 Network (e.g 192.168.0.0/24)

#

 # Ethernet
**auto** eth1
iface eth1 inet **static**
metric **0**

---

 # Wifi
**auto** wlan0
iface wlan0 inet **dhcp**
metric **1**

#
- ping dietpi.com (from C1 => **work**)

[code]
- ping dietpi.com (from C1 => **work all the time!**)

---
- ping dietpi.com (from C1 => **work**)

-> unplug Ethernet cable

[co

[2016-04-29 19:20] k-plan commented on #273
@Fourdee

eth1 and wlan are connected to same Layer2 Network (e.g 192.168.0.0/24)

#

 # Ethernet
**allow-hotplug** eth1
iface eth1 inet **static**
metric **0**

---

 # Wifi
**auto** wlan0
iface wlan0 inet **dhcp**
metric **1**

#
- ping dietpi.com (from C1 => **work**)

[code]
- ping dietpi.com (from C1 => **work all the time!**)

---
- ping dietpi.com (from C1 => **work**)

-> unplug Ethernet c

[2016-04-29 19:31] k-plan commented on #273
@Fourdee

allow-hotplug is no solution.

There are some more packets:
https://packages.debian.org/jessie/ifupdown-extra
https://packages.debian.org/jessie/ifupdown-multi

[2016-04-30 03:17] rhkean commented on #261
I just got this to boot into a simple kernel/busybox environment

And connected via UART from my Raspberry Pi

http://forum.pine64.org/showthread.php?tid=99&pid=7625#pid7625

[2016-04-30 05:45] xenfomation commented on #257
Taking ownership for feature request backlog item to provide @Fourdee more info on installation, etc.

Will test installation from CLI, document results, and report results to discuss next steps.

[2016-04-30 13:17] Fourdee commented on #273
@k-plan

Thanks for the test reports, great stuff :+1: . I'll replicate your tests today and see if there is anything we can do about it :)

[2016-04-30 14:02] Fourdee commented on #273
Ethernet
auto eth0
iface eth1 inet static
metric 0

Wifi
auto wlan0
iface wlan0 inet dhcp
metric 1
1. `ifdown eth0` = WiFi ok
2. Unplug eth = Also kills WiFi connection
3. Plug in eth, run `systemctl restart networking.service` = Works fine.

#

Ethernet
auto eth0
iface eth1 inet static
metric 0

Wifi
auto wlan0
iface wlan0 inet dhcp
metric 1
1. `ifdown wlan0` = eth ok
2. Unplug wlan = eth ok
3. P

[2016-04-30 14:29] Fourdee opened #305 "Networking | Roll out allow-hotplug as standard"

[2016-04-30 14:30] Fourdee commented on #305
Runs fine with `allow-hotplug`. However, requires the following to be run after a physical `wlan` reconnection:

[code]

[2016-04-30 14:58] Fourdee commented on #305
Done, available in v117: https://github.com/Fourdee/DietPi/commit/2ad5f27c406c98c525a42a723cb4516077ba89f3

[2016-04-30 14:58] #305 closed, assigned to Fourdee

[2016-04-30 15:54] k-plan commented on #273
@Fourdee

Sorry, but I think, we talk at cross-purposes. (the language barrier)

No and yes. If a state of any interface change, it must have to run through`ifdown` and `ifup` .
Nothing more do `systemctl restart networking.service`. Have a look in `cat /etc/init.d/networking`
After this, route will set correctly and routing is working proper.
`metric` defined the preferred, in this case the faste

[2016-04-30 15:56] Fourdee commented on #303
Done. Arm64 binary will be installed in v117.

Compile notes for reference.

[code]

[2016-04-30 15:56] #303 closed, assigned to Fourdee

[2016-04-30 16:46] Fourdee opened #306 "DietPi-Config | Add ability to enable/disable serial console"
Mainly for RPi, but will look into supporting Odroid's aswell.

[2016-04-30 19:11] rhkean commented on #261
blarg!!!!
when did "minimal" come to mean 1.1GB???
http://forum.pine64.org/showthread.php?tid=87

[2016-04-30 19:16] Fourdee commented on #261
@rhkean

lol. Clearly the definition of minimal, varies depending on the person claiming it :)

[2016-04-30 21:17] k-plan commented on #273
@Fourdee

a quick test:
- ping ip address eth1 (from router or PC)
- ping ip address wlan0 (from router or PC)
- ping -s 1400 dietpi.com (from C1+)

Ethernet
allow-hotplug eth0
iface eth1 inet static
metric 0

Wifi
allow-hotplug wlan0
iface wlan0 inet dhcp
metric 1

[code]

`root@oDroid-C1-TEST:~# service netplug stop`

[code]

[code]
-  Start = WiFi and Eth working fine
1. Unplug eth = Wifi is wo

[2016-05-01 00:40] xenfomation commented on #295
Final testing for VIM-TINY before checking in.

[2016-05-01 03:19] rhkean commented on #261
@Fourdee ,
don't know if it's gonna boot yet, but I was too excited not to share...

http://dietpi.com/phpbb/viewtopic.php?p=1698#p1698

[2016-05-01 04:45] rhkean commented on #261
@Fourdee
how big is your C2 image?

[2016-05-01 06:18] xenfomation opened #307 "DietPi Scripts need author's website updated"
As of current version & web presence moved to www.dietpi.com, the DietPi core scripts should be updated to reflect this:

Created by XXXXXXXXXXXX / yyyyyyy / dietpi.com

Will seek @Fourdee's thoughts for criticality, milestone, etc.

[2016-05-01 06:46] xenfomation commented on #229
Agreed -- read-only FS can be avoided with a USB drive if the idea is dodging entropy