[2017-04-29 14:26] FireHelmet commented on #905
@Invictaz, you can use https://sourceforge.net/projects/win32diskimager/ , insert your sd card in your PC and click on read and save your image in your PC.

@Fourdee, Hello Dan, I'm Jérôme (haproxy). I have the same problem on my odroid c2, after the update in 149 from 148, the odroid can't to boot and I have a emmc.

Thank for your support

[2017-04-29 14:45] WolfganP commented on #905
Is this the return of the empty Dietpi folder or the FAT32 partition? https://github.com/Fourdee/DietPi/issues/719
Or is the issue a corrupted /boot partition?
I also have issues on the FAT32 filesystem again (just a few dietpi- commands present) in my RPi2, noticed when trying to upgrade to v149, but I can't say the upgrade is the cause or it came from earlier.

[2017-04-29 15:39] Fourdee commented on #899
Weird, if serial UART is connected to SBC pins and USB UART pins (GND/TX/RX), but not connected to a USB socket, system fails to boot.

[2017-04-29 16:26] Fourdee commented on #899
@joaofl

Any chance you could test this (and ethernet status) on your XU4?

To install 4.9 kernel, as per https://github.com/Fourdee/DietPi/issues/899#issuecomment-298170796:
- Run code in "Patch Notes"
- Then code in "Install kernel test:"

[2017-04-29 18:06] Fourdee commented on #905
@FireHelmet @WolfganP
Hi guys,

Thanks for the report 👍

I'd like to investigate your current installations and try and find out whats triggering this. Any chance both of you could read your SD > image, compress and upload?

We've done everything at our end to prevent this from re-occurring, improving our image creation process. However, in all honesty, i've never experienced any update (or filesy

[2017-04-29 18:11] Fourdee commented on #908
dupe of:
https://github.com/Fourdee/DietPi/issues/907#issue-225224383

[2017-04-29 18:12] Fourdee commented on #907
@greencopper

Thanks for the report.

The kernel we use on XU4 is standard Odroid kernel , provided and maintained by Meveric (with possibly some custom tweaks).

I'll send Meveric a message with your request for XFS support.

[2017-04-29 18:20] greencopper commented on #908
This is not a dupe :) #907 is about XFS. In the above I have tried using EXT4, but with "lazy_itable_init=0,lazy_journal_init=0" setting.

[2017-04-29 18:20] greencopper commented on #907
Thanks!

[2017-04-29 18:22] Fourdee commented on #905
@Invictaz

Psu is Samsung tablet adapter 2 amps.

Both of those are cause for concern. I very much doubt the tablet PSU will provide a stable 5V under load, if at all.

We recommend SanDisk + Official RPi PSU for ensured system stability and reliability.

[2017-04-29 18:40] WolfganP commented on #905
I know you do everything you can to help users and improve Dietpi, and we're all grateful for it :-)

I did believe that as well, but even if I checked my PSU and SDcards, I  changed them anyways and similar issues still remain. As for the DietPi folder, I CRC checked all remaining files on the card and the SD for errors and nothing seems wrong (in fact it's the same folder that get's cleaned some

[2017-04-29 18:54] Fourdee commented on #905
@WolfganP

Anywhere is fine 👍

Might be an idea to password the zip file (if you have personal data) and email link to me directly daniel.knight@dietpi.com

[2017-04-29 18:59] Fourdee commented on #908
@greencopper

Quite right, apologies :)

Lets check partition layout (please paste results):
[code]

And after mounting the drive (with failure), lets check kernel error messages:
[code]

^^ the above will be a large printout, but we only need stuff after around ```[13.xxx]```.

[2017-04-29 19:00] FireHelmet commented on #905
@Fourdee , I think it's not related because my emmc is not detected via windows and via sdcard adapter :(. Sorry

[2017-04-29 19:00] FireHelmet commented on #905
So my emmc is dead :(

[2017-04-29 20:03] greencopper commented on #908
No, problem ;)

[code]

And the dmesg part I think you want, after a failed mount:

[code]

Kind regards.

[2017-04-30 02:00] Invictaz commented on #905
@Fourdee I very much doubt the SD as the system was running fine since v12x (somewhere in the twenties). And yes one day it fails but that could also happen with A-brand sdcards.

As for the PSU where is a report on this? I have seen underpowered Pi's where the accessoires attached to the Pi drew too much power (more than 1Ah). But my Pi was running fine until the update....

Not excessively warm,

[2017-04-30 02:01] joaofl commented on #899
@Fourdee

My first test was with my current setup, in which I already had the UUID set on both files (fstab and boot.ini) since I was booting from an USB pendrive.
However it failed to boot. It halts at:
`Apr 30 02:08:37 DietPi systemd[427]: Failed at step EXEC spawning /bin/plymouth: No such file or directory`
(journal file attached).
[journal.txt](https://github.com/Fourdee/DietPi/files/966512/j

[2017-04-30 04:06] hectorcamp opened #909 "CPU Temperature error"
OrangePi with the new update v149, shows the CPU temperature as 0 °
![screenshot_52](https://cloud.githubusercontent.com/assets/9473919/25561402/3bf6b1ec-2d41-11e7-97ee-ae4f14b33273.png)

![screenshot_53](https://cloud.githubusercontent.com/assets/9473919/25561413/6d9dcfb4-2d41-11e7-8bd5-f535dca50f4b.png)

[2017-04-30 08:07] DarkElvenAngel commented on #905
I had the same issue.
During the update the kernel files are deleted and if the package.zip doesn't fully download ( as was my case ) the update doesn't fail it continues to the end and reports all was well and reboot to complete.

If you don't have enough space to download the kernel update this will cause your issue.  I was able to save my install by copying kernel files from another SD card.

T

[2017-04-30 09:45] Fourdee commented on #909
@hectorcamp

Thanks for the report 👍

We'll get that fixed :)

[2017-04-30 09:50] Fourdee commented on #909
OPi PC report: http://dietpi.com/phpbb/viewtopic.php?f=11&t=1847#p7076

[2017-04-30 10:04] Fourdee commented on #899
@joaofl

Thanks for testing.

Yep, if you copy the contents of ```/boot``` on the image file, to SD card/EMMC, excluding:
- dietpi.txt
- /dietpi (folder)

And modules from image in 2nd partition, to rootfs:
- ```/lib/modules```

Should boot back up

---

Ah, you may need to manually pull in the UUID of this rootfs drive, and replace:
- ```/boot/boot.ini``` | ```root=/dev/``` with ```root=UUID=1234

[2017-04-30 10:09] Fourdee commented on #899
Possible solutions regarding ```Failed at step EXEC spawning /bin/plymouth: No such file or directory```
https://unix.stackexchange.com/a/178640

If you test again, before rebooting after kernel update, we should probably check patched ```/etc/fstab``` and ```blkid``` match:
[code]

[2017-04-30 10:14] Fourdee commented on #905
@FireHelmet

Gutted, does a full format bring the EMMC back? If so, could be a partition table corruption.

[2017-04-30 10:19] Fourdee commented on #905
@DarkElvenAngel

The whole cause of this was not lack of space on my SD card. I was in a folder mounted to a ram drive and wget downloads to the current folder.

Great find and thanks for letting us know. Think your onto something 👍

We do check connection to the kernel download, prior to starting it. Else, it will abort:
https://github.com/Fourdee/DietPi/blob/master/dietpi/func/dietpi-set_hardwar

[2017-04-30 10:34] Fourdee commented on #905
@Invictaz

Personal experience/testing with Samsung 2A phone charger giving out <4.7V under load:
https://www.amazon.co.uk/d/Electrical-Tools-Testers/Voltmeter-Ammeter-Capacity-Current-Tester/B00NPVZHAO/ref=sr_1_3?ie=UTF8&qid=1493548393&sr=8-3&keywords=usb+power+meter

[2017-04-30 11:14] Fourdee commented on #909
Confirmed:
- OPi one
- NanoPi M1

Seems all H3's may use 2 digit temp readouts?

- NanoPi Neo (4.x) 5 digit
- NanoPi Neo (3.x) 2 digit

[2017-04-30 11:36] Fourdee commented on #907
@greencopper

Quote from Meveric:

But Kernel 4.9 might have activated XFS.

Seems like a no go for XFS on XU4 currently with 3.x kernel.

But it does work in 4.9 kernel:
https://github.com/Fourdee/DietPi/issues/899
[code]

[2017-04-30 12:04] WolfganP commented on #905
@DarkElvenAngel Great find. Exactly which files where erased from the SDcard on your case?

@Fourdee I'm still puzzled by the /boot/Dietpi files being erased, as this seems not related to upgrade operations. Is there any way to monitor that folder somehow?
In any case, shouldn't a "dietpi-update 1" (force the update) solve any issue?

[2017-04-30 12:13] Fourdee commented on #899
🈯️ Network bandwidth much improved over 3.x (was around 400Mbit):
[code]

[2017-04-30 12:17] Fourdee commented on #909
@hectorcamp

Think we fixed it, any chance you can update script and test for us?
[code]

[2017-04-30 13:13] DarkElvenAngel commented on #905
@WolfganP
/boot/kernel.img
/boot/kernel7.img
/lib/firmware/*
/lib/modules/*
As I mentioned basically the entire kernel. I only assume that the system deletes the old kernel at some point in the upgrade. If this is the case maybe waiting for a successful reboot before clearing these files and renaming the kernel images with .bak would be safer and make recovery faster.

Not 100% sure how your hardw

[2017-04-30 13:24] Fourdee commented on #863
Still no response from app key request.
Trial account canceled, marking as completed, however, untested.

[2017-04-30 13:24] #863 closed, assigned to nobody

[2017-04-30 13:29] Fourdee commented on #905
@WolfganP

Me and you both. I've never been able to replicate this.

Yep, we generate a perm log for RAMdisk:
[code]

A standard update will pull in the latest scripts and replace all missing in boot partition, however, if you are missing any ```/boot/dietpi/.*``` settings/state files, DietPi will most likely reset to a state of "fresh install". It needs those files for installed state, dietpi-sof

[2017-04-30 13:49] joaofl commented on #899
@Fourdee
Indeed, by commenting two custom mounts I had on my fstab, it booted. Buuuut, without ethernet.

On dmesg, it shows that it failed to boot some modules  for example the s5p which was not found. also fuse, IPV6... I guess the first is from the GPU that in fact I did not install since I dont use it currently.

How did you get your ethernet working? I remember someone mentioned this issue in

[2017-04-30 13:51] WolfganP commented on #905
Thanks @Fourdee

I strongly think is not a filesystem corruption of sorts, the deletion seems to be surgical as not all files are erased inside the /boot/dietpi folder, and I didn't find any files missing outside that folder nor FS/media errors on SD integrity checks on FAT32 nor ext4 partitions.

As those files are so important in terms of system start, maybe is worthy to incorporate a rolling ba

[2017-04-30 14:13] Fourdee commented on #899
@joaofl

For XU3/4, dtb's are now unique. So if your running a XU4:
[code]

[2017-04-30 14:15] Fourdee commented on #899
@joaofl

Interactive is not available in 4.9, ondemand and performance govs only:
freqs are for cpu 0
![image](https://cloud.githubusercontent.com/assets/7077026/25565027/bbb9bb06-2db7-11e7-8bef-a4ad832f4cc4.png)

DietPi should cycle through govs and re-apply, if current one does not exist.

[2017-04-30 14:21] Fourdee commented on #905
@DarkElvenAngel

Yep, we clean current kernel from system, before replace. Ensures stuff like ```/lib/modules``` dont get left behind.

Kernel is now overwritten without cleanup, to prevent failed unzip rendering system unbootable.

[2017-04-30 14:30] joaofl commented on #899
@Fourdee
Thanks! It works now. Buuut, :) Cloudshell stopped working... Is the SPI module loaded? I could help on testing that as well.

[2017-04-30 14:52] WolfganP commented on #905
Glad to read you liked the idea @Fourdee. Mulling further on it, I lean towards a /boot/dietpi.sysbackup folder where the state files are stored in separate directories (ie config1, config2, ...) acting as restore points of sorts (as everything else boot related can be reloaded even manually)

BTW, /etc/dietpi/logs/dietpi-ramdisk.log doesn't provides too much information, as the entries aren't tim

[2017-04-30 14:55] joaofl commented on #899
@Fourdee

Is the CPU limited to 1.3 GHz? 2.0 doesn't show in the list of frequencies available, however It still throttle up to  2.0.
When I test the ethernet speed using iperf, I get almost 0.8 Gbps, but when transferring a file through sftp, I get at most 220 Mbps (28 MB/s). I believe the bottleneck in this case is the CPU. What do you think?

Minor issue:

- As "On demand" is not available,  wh

[2017-04-30 15:38] Invictaz commented on #731
Any chance this is in v150?

[2017-04-30 16:20] Fourdee commented on #905
@WolfganP

Ok, so the missing boot files may be due to:
- ```reboot```
- DietPi-RAMdisk then removes existing ```/boot/dietpi/*``` scripts, so we dont need to manually ```rm``` deprecated scripts, before copying over the current ones from ```/DietPi``` to storage.
- ```sync``` is called to ensure disk data is saved, but on your recent installation, some files didn't copy successfully for unknown r

[2017-04-30 16:20] Invictaz commented on #905
@Fourdee  My mistake it's an Optima 4GB class 4 card.

Since it's 4GB how to compress it?
Even after compression with Winrar it's still 945 mb. It takes an absolute age to upload that over DSL to the filesharing sites or my FTP host.

Checkdisk on Windows did not find any errors.

[2017-04-30 16:24] Fourdee commented on #905
@WolfganP

Yep its a good idea, but I think rather try and prevent the issue occurring, instead of relying on undocumented, additional backups in case of failure.

A current solution would be to use ```dietpi-backup```, creating a full system backup that could be restored from. Boot + scripts are then in:
[code]

Either way, once you've mulled over it :) , let me know and we'll discuss.

[2017-04-30 16:26] Invictaz commented on #905
@Fourdee I have a backup but since I cannot boot into the thing I cannot recover that...
And backups are automatically stored on the same SD card so yeah.
The filesystem is readable in Windows though so I have no idea what is wrong...

[2017-04-30 16:27] Fourdee commented on #905
@Invictaz

7zip would give you the best compression, after that threes not much else we could do outside the image file itself.

If you can upload image, i'll see if we can recover.

[2017-04-30 16:36] mims92 commented on #893
Hi @Fourdee,

I installed a fresh installation of dietpi + Kodi only, I don't have any error but still have a black screen.

I noticed a small square window with a message (maybe not important):
[code]
before having the black screen.

I also lowered the resolution from 1080 to 720 but no luck.

[2017-04-30 16:44] hectorcamp commented on #909
It works, thank you!.
![screenshot_54](https://cloud.githubusercontent.com/assets/9473919/25566190/dada04e4-2daa-11e7-852b-a226be4ee3fd.png)

[2017-04-30 18:42] ghost commented on #905
yep, same issue here, even tried a new image write to sd card, but after initial boot, update and restart, nothing happened.  can't wait for v150 :)

[2017-04-30 18:49] greencopper commented on #907
Is there a working image for that?

[2017-04-30 18:54] greencopper commented on #907
Sorry, found it.

http://linuxfactory.or.kr/dokuwiki/doku.php?id=yet_another_debian_ubuntu_release_for_odroid-xu4&&ckattempt=2

[2017-04-30 19:19] FireHelmet commented on #905
@DarkElvenAngel and @Fourdee ,

After some investigation at my side, my emmc is readable (boot partition is present) only on another PC in my home, strange issue because I used the same sd-card adapter to read a sd-card without problem on my personal PC...

But I'm still with the same error like described in this issue. I can't upload my image because I have some password not encrypted in my conf.

[2017-04-30 21:13] jcjdominguez commented on #909
cpu

Hi. I also have this issue on a opi zero, but that fix doesn't work for me.

[2017-04-30 23:54] Invictaz commented on #905
@Fourdee

Here is the image I recovered from the SDcard that won't boot. It's 834 MB in 7ZIP (LZMA2)

https://w00fer.stackstorage.com/s/dn36KoGhgL4Aw0G

[2017-05-01 10:38] greencopper commented on #908
I am sorry, but there is no issue. The problem was in my fstab, I didn't notice and forgot to check the log.

The disk mounts perfectly now.

[2017-05-01 11:29] Fourdee commented on #906
@greencopper

Did you add your user to group ```sudo```?

If your running DietPi v149, try our test DietPi user, see if you get same issue
- username = dietpi
- password = dietpi

This is the permissions the above user has:
https://github.com/Fourdee/DietPi/blob/master/dietpi/func/dietpi-set_software#L145-L180

[2017-05-01 11:38] Fourdee commented on #899
@joaofl

Yep, for cores 0-3, other cores are still 2GHz. They must of tweaked max frequencies a little to try to reduce known heat issues with XU4.

Not sure, disk/IO bottleneck maybe?

Good find, new location is:
[code]

---

dietpi-cpu_set

[code]

New locations are:
[code]

[2017-05-01 11:48] telamon commented on #870
DietPi would've been a nice dist if it had better docker-support as the availability of containers on the hub really does outperform dietpi's custom menus and software install scripts.

I tried using hypriot's docker packages but my Xu4 + dietpi kernel-panics whenever i try to start a container that uses --net=host priviledge. Had a few kernel-panics related to AuFS it seems as well but sadly I ne

[2017-05-01 11:50] pidiet opened #910 "DietPi-Software | h5ai"
github **lrsjng/h5ai**

**Source**: https://larsjung.de/h5ai/
**Demo**: https://larsjung.de/h5ai/demo/

_Tag_: Software Request

[2017-05-01 11:52] pidiet opened #911 "DietPi Image | OrangePi PC 2"
Now that OrangePi Prime (same H5 SOC) is supported this one should be **easy**

_Tag:_ DietPi Image

[2017-05-01 14:16] Fourdee commented on #905
@Invictaz

Thanks 👍

DietPi scripts/dir looks intact, seems like missing kernel as per @DarkElvenAngel. Missing is:
- ```/lib/modules```
- ```/lib/firmware```
- ```kernel.img``` + 7.img

🈯️ Cause is due to 0bytes free space remaining on disk (rootfs), means kernel extraction failed.

@DarkElvenAngel was spot on with this 👍
This wont occur after v150 (Even if you have 0 free space) as we no longer

[2017-05-01 14:33] Fourdee commented on #905
#### Notes, whats done for v150:
- 🈯️ Kernel upgrades and ```dietpi-update``` no longer clean existing kernel/scripts prior to unzip/replace of latest. Even if 0free space, system will continue to be "operational" after a reboot.
- 🈯️ All scripts ```cd``` into home directory, to prevent installs/unzips etc on tmfps.
- 🈯️ ```dietpi-update``` ```dietpi-software``` check free space, prior to allowing

[2017-05-01 14:39] Fourdee commented on #905
@Invictaz

Your fixed image:
http://dietpi.com/downloads/testing/failed_fixed.7z

[2017-05-01 15:04] WolfganP commented on #229
I was investigating on this front as well to reduce SDcard wear, and found useful to install both **iotop** (apt-get install iotop) and **iostat** (apt-get install sysstat)
With the ramdisk implementation, it seems no much I/O activity is directed to the SDcard (mmcblk0 in my case) but still there is some, even in idle systems. Will keep investigating and share the results.

[2017-05-01 15:33] trajano commented on #229
One option that @ddurdle uses in his Pi installations is BTRFS and he makes a stable snapshot at one point which he can readily recover from.  Although I don't really like the idea of having a fully read only file system (since I like to play around with my Pi) using that may be an option. F2FS is too lean and have no real recovery features from what I can tell so I won't really recommend that unl

[2017-05-01 16:01] FireHelmet commented on #905
@Fourdee,

Do you have a "howto" to solve the issue ?

Thank you !

[2017-05-01 16:04] ddurdle commented on #229
I highly recommend at least mounting the SD card in read-only mode during normal operation, at least for the OS component.  Break out user files to a separate partition or device.  **Highly recommend using overlays for this purpose (supported on kernel 3.18 or newer)**.  Secondly, I recommend leveraging BTRFS to allow for snapshots for easily backing up and for handling corruption if you refuse to

[2017-05-01 16:10] ddurdle commented on #229
I'll also add one other bit of warning.  Even if you are not writing to SD card regularly, simply having the partition mounted in read-write will eventually lead to corrupting the partition if undervolting or improper shutdown occurs.  I average 6 months before I get into a situation where I can't boot anymore and this is from very little or no actual writes to the partition (simply mounting it, n

[2017-05-01 17:22] Invictaz commented on #905
@Fourdee
Thanks for fixing it quite fast!

5 questions:
-Can I simply write that image back do SD?
-Is it updated to v149 now?
-If you don't update the kernel when size is 0 how can it say update complete then?
-Is a 4GB SD card not enough?! I had almost nothing installed :(
-Can you make external backup location available i.e. other usb stick or clouddrive?

Will check with Voltcraft Multimeter t

[2017-05-01 18:14] Fourdee commented on #905
@Invictaz

Yes, although, i'd use a spare SD just incase.

Untouched.

DietPi will run on a 1GB card, but, the user must maintain the system and filesystem usage.

You can, in ```dietpi-drive_manager``` setup the drive, then select list location from ```dietpi-backup```

I'll get that fixed 👍

[2017-05-01 18:51] Invictaz commented on #905
So if I try to update again it fails again? Then I'm quite stuck. Better load this, export the backup and then refresh this SD and start with a clean 149.

[2017-05-01 18:54] FireHelmet commented on #905
@Fourdee ,

Dan, sorry to insist, could you publish a fix like a procedure to execute to solve this issue ? Or is it necessary to start from scratch with the next v150 ?

Thanks

[2017-05-01 18:55] ghost commented on #905
kind of stuck here too. Cannot seem to install the current download version, it auto updates and then doesnt reboot. Or did I miss a fix for that?

[2017-05-01 22:04] greencopper commented on #908
Turns out there actually is a problem, periodically.

I had formatted the disk on another computer with a brand new kernel and stuff. The ext4 module from the DietPi with kernel 3.10 is too old and does not recognize the ext4 from the new.

If I format the drive on the ODROID XU4 with the old kernel and leave it attached, then I can use it without the problems above.

Is there any way to get a nev

[2017-05-02 00:43] Invictaz commented on #905
Seems this issue is bigger than a quick fix. Waiting for v150 isn't going to help some users as there devices are crashing now.

@FireHelmet replacing the files above (kernel etc) onto the SD would solve it?

[2017-05-02 01:53] cms-pm commented on #671
Hello, I'm attempting to use DietPi with Berryboot for a project and seem to have hit a little snag with accessing kernel modules. Using the dietpi_jessie_v145_all_rpi_2017.03.08_berryboot.img.tar image, both my Pi 2 and Samsung Pi 1 exhibit the following behavior.

Namely, any packages that depend on kernel modules seem to fail. I noticed there seems to be a difference between the kernel version

[2017-05-02 04:30] FireHelmet commented on #905
@Invictaz ,

I will backup my installation and I will test to transfert all files in boot partition of a new install to my boot parition of my emmc.

Thanks !

[2017-05-02 06:15] JoshuaJones commented on #500
@phonicmouse I've ran GitLab on a Pi3 running DietPi with passable results. It can chug/lag in my experience.

[2017-05-02 06:38] phonicmouse commented on #500
@JoshuaJones Whoa, I'll try it then.

[2017-05-02 07:26] ghost commented on #905
after a couple of times of reinstalling on a smaller SD card (1GB, I normally use 2GB) it suddenly worked again. I installed Pihole and PiVPN and kept working altogether. Only the card is almost fully used, at 99%. I will try to create an image of it, and write the image to a bigger SD card later today.

[2017-05-02 08:12] osmandoandbackup commented on #911
Orange Pi PC 2 is the only single-board computer **with Gigabit-Ethernet** and 64bit CPU **under 20$**.

Best performance/price-ratio you can get today!

[2017-05-02 10:14] Fourdee commented on #908
@greencopper
If you are running XU4, you can test the 4.9 kernel in this post:
https://github.com/Fourdee/DietPi/issues/899#issuecomment-298170796

Bear in mind, we are still making fixes in DietPi to support this new kernel (see link above), but in general, seems stable.

[2017-05-02 10:18] Fourdee commented on #911
Hopefully 👍

I dont own a OPi PC 2 yet, but i should be able to build the image, then final prep on a prime board. I'll take a look.

[2017-05-02 10:21] Fourdee opened #913 "DietPi-Drive_Manager | Return available free space func"
For use in:
- DietPi-Software
- DietPi-Update

To prevent installs/updates in low free space situations:

return $EXIT_CODE "info"

[2017-05-02 10:26] Fourdee commented on #905
@FireHelmet

If this is missing kernel files only, do not overwrite DietPi scripts in these locations, else, effective reset of DietPi install state and settings:
- ```/boot/dietpi.txt```
- ```/boot/dietpi/*```

[2017-05-02 10:28] Fourdee commented on #905
@motoboon

We upped the swapfile to "1GB - total RAM" recently. To prevent 256/512MB RAM users getting out of memory errors.

You can check/change size in:
- ```dietpi-config``` > advanced options > swapfile

[2017-05-02 11:45] Fourdee commented on #905
Will change to 500MB min limit:
🈺 This will render DietPi not install-able on 1GB cards. 2GB min now required.
![image](https://cloud.githubusercontent.com/assets/7077026/25621127/4d5b77d4-2f48-11e7-91a6-2461da174f38.png)

[2017-05-02 12:13] phonicmouse opened #914 "Why Blynk Server requires Nodejs?"

[2017-05-02 12:47] motaboy commented on #909
Same Problem on Orange Pi Zero with H2+ CPU.

Please fix if possible as cat temp shows the value properly.

[2017-05-02 12:49] motaboy commented on #909
DietPi CPU Info
 Use dietpi-config to change CPU / performance options
 ─────────────────────────────────────────────────────
 Architecture |     armv7l
 Temp         |     0'c | Who put me in the freezer!
 Governor     |     ondemand
 Throttle up  |     85% CPU usage

                 Current Freq    Min Freq   Max Freq
 CPU0         |      240 MHz      240 MHz    1200 MHz
 CPU1         |      24

[2017-05-02 13:32] greencopper commented on #906
Adding the user to sudo should make no difference as "su" and "sudo" aren't the same.

In my case I remove sudo, if it's installed, I only want "su" to work.

"su" normally works out-of-the-box on Debian.

[2017-05-02 14:26] Fourdee commented on #909
@motaboy

Thanks for the report 👍

Does this fix work for you? https://github.com/Fourdee/DietPi/issues/909#issuecomment-298228895

[2017-05-02 14:31] motaboy commented on #909
No, tried it twice but didn't fix it.

[2017-05-02 15:07] Fourdee commented on #911
Dev branch image, put packages on hold:
[code]

[2017-05-02 15:36] Fourdee commented on #911
- 🈯️ Image: http://dietpi.com/downloads/images/DietPi_OrangePiPC2-arm64-(Jessie).7z
- doc: http://dietpi.com/phpbb/viewtopic.php?f=8&t=1854#p7105

[2017-05-02 15:41] Fourdee commented on #906
@greencopper

[code]

[2017-05-02 15:52] Fourdee commented on #909
@motaboy

Thanks.

I've updated script, please can you test it for us again?
https://github.com/Fourdee/DietPi/issues/909#issuecomment-298228895

[2017-05-02 16:04] motaboy commented on #909
Nice! 👌
Working fine now

[2017-05-02 16:06] 467815891a commented on #901
Enable IPv6 and Problem solved.

[2017-05-02 16:06] #901 closed, assigned to nobody

[2017-05-02 22:50] Invictaz commented on #905
@Fourdee

I still don't see why my 4GB card is too small when 2GB is already suitable. I have installed only LXDE and some other small things...

[2017-05-03 06:27] ghost commented on #905
I copied the image from 1GB to 16GB card, then expanded the partition. Works fine and have 15GB free space left.

[2017-05-03 10:15] Fourdee commented on #914
@phonicmouse

We use it to install blynk-library:
https://github.com/Fourdee/DietPi/blob/master/dietpi/dietpi-software#L4420-L4423

https://www.npmjs.com/package/blynk-library

[2017-05-03 10:21] Fourdee commented on #905
@Invictaz

A ```dietpi-backup``` will double the size of used space, as this is a duplicate of your current install + user data (if selected). Try backing up to a USB drive instead. Aside from that you will need to find out what is using up your drive space.

To list used space by file/folders in the current directory, try:
[code]

Then to check ```/etc```
[code]

[2017-05-03 10:54] Fourdee commented on #913
https://github.com/Fourdee/DietPi/issues/905#issuecomment-298612799

[2017-05-03 10:54] Fourdee commented on #913
Completed.

[2017-05-03 10:54] #913 closed, assigned to nobody

[2017-05-03 10:56] Fourdee commented on #909
Thanks to everyone who reported and tested this for us.

I think we can say this is now resolved. Marking as completed. Please reopen if required,

[2017-05-03 10:56] #909 closed, assigned to Fourdee

[2017-05-03 12:15] Fourdee opened #915 "DietPi-Software | ~~PiCast~~ Youtube player"

[2017-05-03 12:22] Fourdee commented on #915
In short, PiCast is not Chromecast, or in any way compatible. Its current abilities are playing youtube videos from a URL link, that must be inputted via a browser.
![image](https://cloud.githubusercontent.com/assets/7077026/25660134/ccedbfb0-3002-11e7-83e6-10b058a4ff91.png)

Its essentially a highly glorified youtube video player, with no relation to Chromecast.

The "developer" of PiCast has cle

[2017-05-03 12:22] #915 closed, assigned to nobody

[2017-05-03 12:25] Invictaz commented on #915
There are more

https://github.com/spygi/personal/blob/master/raspberry-youtube/server.py
https://github.com/andresromero/RPI-Cast
https://github.com/vincelwt/RaspberryCast

Not sure which is "the best". Since they all use an own implementation of Youtube. If it's unmaintained it does not work anymore. Might as well choose the easiest method or best maintained.

[2017-05-03 12:33] Invictaz commented on #905
Is it possible to retry updating if there is enough space available?
After check of https://github.com/Fourdee/DietPi/issues/913

[2017-05-03 12:46] Fourdee commented on #905
@Invictaz

That wont be available until v150 is completed and released: https://github.com/Fourdee/DietPi/milestone/52

Either way, as the original update failed, you'll need to roll back your version to ensure the update is completed successfully this time for v149.

Do the following:
[code]

[2017-05-03 12:50] Fourdee commented on #905
I believe we can now mark this as resolved for v150.

The changes in https://github.com/Fourdee/DietPi/issues/905#issuecomment-298343932 will prevent loss of kernel in 0byte free space situations, and, now prevent ```dietpi-update``` and ```dietpi-software``` if less than 500MB of free space is available.

@WolfganP
These changes should finally resolve the missing DietPi script files aswell, as we

[2017-05-03 12:50] #905 closed, assigned to nobody

[2017-05-03 12:53] Fourdee commented on #911
I believe this image will have the same lack of audio as per the Prime board:
https://github.com/Fourdee/DietPi/issues/874#issuecomment-297675707

If anyone can confirm this, i'd be grateful:
[code]

[2017-05-03 12:58] Invictaz commented on #905
@Fourdee Will rollback first. When is v150 due?

[2017-05-03 13:36] Fourdee commented on #899
ToDo:
- 🈯️ Test if ``` option "NoFlip" "true" ``` is compatible with 3.x | Kodi | LXDE
- 🈯️ Update finalize for XU4 4.9 ```/etc/fstab``` and ```boot_xu4.ini``` UUID/dtb reqs
- Add whiptail option for user to select XU3/4 board during patch: https://github.com/Fourdee/DietPi/issues/899#issuecomment-298234706
- 🈯️ Offer XU4 4.9 kernel test image http://dietpi.com/downloads/testing
- 🈯️ SD location h

[2017-05-03 15:29] Fourdee commented on #905
@Invictaz

1/2 weeks. Depends on how much available time I have, and how long outstanding jobs take: https://github.com/Fourdee/DietPi/milestone/52

[2017-05-03 17:41] p3p1 commented on #625
any news?

[2017-05-03 18:30] Fourdee commented on #625
@p3p1

Apologies, will put this in milestone and take a look.

[2017-05-03 18:34] Fourdee opened #916 "DietPi-Autostart | Custom option via bash script"
Custom launch via:
[code]

[2017-05-03 21:27] Sod-Almighty opened #917 "Apt-get has failed | 0bytes free space"
Apt-get has failed:                                                │
                         │  - Apt string = mate-desktop-environment-extras upower policykit-1 │
                         │ iceweasel p7zip-full --no-install-recommends                       │
                         │  - Error code = 100                                                │
                         │  - Software Titl

[2017-05-03 21:28] Sod-Almighty commented on #917
Should probably have a test for this.

[2017-05-04 09:37] Fourdee commented on #917
@Sod-Almighty

Yep, In the next update v150, a general check for free space on RootFS has been added:
You must have 500MB+ free space on RootFS, before ```dietpi-software``` and ```dietpi-update``` can be used.
https://github.com/Fourdee/DietPi/issues/905#issuecomment-298343932

In the mean time, you'll need to manually ensure sufficient free space is available on your system. Using commands such

[2017-05-04 10:02] Fourdee commented on #917
I'll mark this as closed (due to fix in https://github.com/Fourdee/DietPi/issues/905#issuecomment-298343932). Please reopen if required.

[2017-05-04 10:02] #917 closed, assigned to nobody

[2017-05-04 10:28] Fourdee commented on #916
Completed.

[2017-05-04 10:28] #916 closed, assigned to Fourdee

[2017-05-04 10:33] Fourdee opened #918 "DietPi-RAMlog | PiHole 3.0 verify log files (+FTL.log)"
- Test
- Without ```logrotate```?
- FTL now included as standard: https://github.com/pi-hole/pi-hole/releases

[2017-05-04 10:43] WaLLy3K commented on #918
As long as `/var/log/pihole.log.1` can be exempt from the 1hr/24hr clearing of logs, that would be all that's needed from Diet Pi's end. If that's not an option, I'll be happy to change my logging method! :)

[2017-05-04 11:09] Fourdee commented on #918
@WaLLy3K

Should be fine, i'll need to run some tests and see whats been changed for PiHole logging, then we can sort out a fix our end :)

[2017-05-04 11:10] Fourdee opened #919 "NTPD | Waiting for completion does not automatically launch NTPD if its never been run"

[2017-05-04 11:12] Fourdee commented on #919
Completed
![image](https://cloud.githubusercontent.com/assets/7077026/25701188/2c07c46c-30c3-11e7-8605-7376472b473e.png)

[2017-05-04 11:12] #919 closed, assigned to Fourdee

[2017-05-04 11:23] Fourdee commented on #918
- 🈴 New password prompts during install. Seems automated password entries are broken:
[code]

[2017-05-04 11:46] Fourdee commented on #625
#### Tests/notes:
- 🈯️ Fresh install of XU4 v145 image + Kodi install only + autostart kodi = sound ok
- Check bug report logs/settings | Settings/confs match | XFCE installed
- 🈴 Kodi launched from XFCE4 = no sound
- 🈯️ User has autostart set to kodi = sound fine

[2017-05-04 12:41] Fourdee commented on #918
#### Notes:
- 🈯️ ```/var/log/pihole-FTL.log``` doesn't contain any data read by interface and can be cleared hourly.
[code]
- 🈯️ After log clears, restart ```pihole-FTL``` also.

[2017-05-04 13:53] Fourdee commented on #918
Above commit should resolve it. But i'll leave mine running over night and run some tests tomorrow to verify.

[2017-05-04 14:38] pidiet commented on #918
https://pi-hole.net/2017/05/04/pi-hole-3-0-1-fixes-and-tweaks/

[2017-05-04 14:55] Fourdee commented on #625
@p3p1

Most likely a pulse audio setting/issue, but lets test basic sound. Please run the following (not from desktop):
[code]

Press CTRL+C to stop. Let me know if you hear sound on HDMI.

[2017-05-04 15:30] Fourdee opened #920 "NanoPi M3 | Lacks CIFS kernel support"
kernel re-compile required:

[2017-05-04 15:31] Fourdee commented on #920
+ Enable USB audio as per: https://github.com/Fourdee/DietPi/issues/763#issuecomment-286087083

[2017-05-04 18:18] xor256 opened #921 "how turn off wifi hotspot?"
I use dietpi-config.
7. adv network
      DietPi - Network Options: Adapters
      Wifi         : Available | Enabled | Wifi Hotspot Mode
 i go to the
              │           WiFi     Change Wireless Network Settings           │
  and have trouble
![impossible turn off wifi](https://cloud.githubusercontent.com/assets/17579697/25718501/a6062086-3106-11e7-9f30-217bf058705e.png)
is impossible to tu

[2017-05-04 18:55] syl3n7 commented on #909
I confirm the
"wget https://github.com/Fourdee/DietPi/raw/testing/dietpi/dietpi-cpuinfo -O /DietPi/dietpi/dietpi-cpuinfo"
worked for me.
device:OPi PC

[2017-05-04 20:13] grrminator opened #922 "pihole web interface"
i cant see the web interface for pihole

[2017-05-04 20:14] grrminator commented on #922
and the supposed reason is this
● lighttpd.service - Lighttpd Daemon
Loaded: loaded (/lib/systemd/system/lighttpd.service; enabled)
Active: failed (Result: exit-code) since Thu 2017-05-04 19:25:31 UTC; 2min 59s ago
Process: 1016 ExecStart=/usr/sbin/lighttpd -D -f /etc/lighttpd/lighttpd.conf (code=exited, status=255)
Process: 993 ExecStartPre=/usr/sbin/lighttpd -t -f /etc/lighttpd/lighttpd.conf (co

[2017-05-04 22:11] phonicmouse commented on #914
@Fourdee thanks for the answer ;)

[2017-05-04 22:11] #914 closed, assigned to nobody

[2017-05-04 22:13] phonicmouse opened #923 "DietPi-Software | Redash: a dashboard for (also) IoT Projects"
- [https://redash.io](https://redash.io)

- [https://github.com/getredash/redash](https://github.com/getredash/redash)

[2017-05-05 00:52] #922 closed, assigned to nobody

[2017-05-05 08:41] rncwnd79 commented on #899
Hi @Fourdee,
maybe this is already resolved in your testing image, but I encountered the following problem when building and running my own 4.9 kernel from official hardkernel repo on XU4:
the script /boot/diepi/dietpi-obtain_hw_model was not able to detect XU4 anymore because /proc/cpuinfo doesn't contain the odroid-string anymore:

`cat /proc/cpuinfo`
`...`
`Hardware        : SAMSUNG EXYNOS (Fla

[2017-05-05 09:02] Fourdee opened #924 "DietPi-Config | WiFi hotspot: Toggle on/off"

[2017-05-05 09:04] Fourdee commented on #921
@xor256
Uninstalling WiFi hotspot in ```dietpi-software``` will return WiFi to standard client mode.

I'll add support for enable/disable WiFi hotspot state in DietPi-Config: https://github.com/Fourdee/DietPi/issues/924

In the mean time
Turning WiFi hotspot off:
[code]

Turning WiFi hotspot back on:
[code]

We generally have this issue on 3.x kernels that lack support for this feature. Which devi

[2017-05-05 10:01] Fourdee commented on #924
![image](https://cloud.githubusercontent.com/assets/7077026/25741347/40a0c4d6-3182-11e7-8ec4-df563299d8a0.png)

[2017-05-05 10:04] Fourdee commented on #924
Completed.

[2017-05-05 10:04] #924 closed, assigned to nobody

[2017-05-05 10:34] Fourdee commented on #918
DietPi-RAMlog now supports multiple ```pihole.log*``` files.

@WaLLy3K
With these changes, we apply the same 24hour clear for ```pihole.log``` and all other rolling logs (eg: ```pihole.log.1```). So any entries not matching current day, will be cleared hourly. We also have a 5MB limit on these files, to prevent RAMlog from using up its 20MB limit.

I'am yet to see a ```pihole.log.1``` file be gene

[2017-05-05 11:20] Fourdee opened #925 "IQ Audio | Confirm all DACS supported + 384KHz"

[2017-05-05 11:21] Fourdee commented on #925
### Devices capable of 384KHz:

#### DAC PRO
- 🈯️ DietPi-Config
- 🈯️ 384KHz
[code]

#### Pi DAC+
- 🈯️ DietPi-Config
- 🈯️ 384KHz

#### Pi DIGIAMP+
- 🈯️ DietPi-Config
- 🈯️ 384KHz

#### Pi DAC Zero
- 🈯️ DietPi-Config
- 🈯️ 384KHz

---

### Devices physically not capable of 384KHz (digital out):

#### Pi DIGI+
- 🈯️ DietPi-Config
- 🈯️ 192KHz

[2017-05-05 12:02] Fourdee commented on #925
All good, completed.

[2017-05-05 12:02] #925 closed, assigned to Fourdee

[2017-05-05 12:12] Fourdee commented on #899
@rncwnd79

Thanks for the report. 👍
Although this appears fine on the current 4.9 kernel from Meveric. Maybe we'll see this in the next update.

You can avoid the string check and force the HW_MODEL index, for XU4:
[code]

I'll add that by default to our next XU4 image, to avoid this.

[2017-05-05 12:34] Fourdee commented on #899
- 🈴 Seems to have no effect. Kodi is extremely jittery in 4.9 with updated GPU driver:
[code]

[2017-05-05 13:13] Fourdee commented on #899
Ok, Meverics right, 4.9 is still in active dev, so lets wait for it to become stable:
- 🈯️ Prep for 4.9 kernel is now completed during v150 patch (unique DTB's and UUID reqs)
- 🈯️ 4.9 kernel will **not** be installed during v150, we'll wait for Meveric to officially release 4.9 via apt
- 🈯️ We'll offer a 4.9 kernel test image for our users: http://dietpi.com/downloads/images/no_release/(NR_4.x)_Di

[2017-05-05 14:31] Fourdee opened #926 "XU4 | Kernel 4.9 testing"
https://github.com/Fourdee/DietPi/issues/926#issuecomment-310918133

[2017-05-05 14:31] Fourdee commented on #899
Prep completed.

Will mark this ticket as completed. Open up a new one for further 4.9 testing:
https://github.com/Fourdee/DietPi/issues/926

[2017-05-05 14:31] #899 closed, assigned to nobody

[2017-05-05 14:32] Fourdee commented on #926
- 🈴 Cloudshell Screen | no display:
[code]
Missing ```fbtft_device```, although its in ```/etc/modules```

🈺 Works by running:
[code]

🈺 Works: A little "hacky", two entries for ```fbtft_device``` in ```/etc/modules``` to load module twice during boot + enable screen:

---
- Cloudshell IR
---
- DietPi-Cloudshell
---
- 🈺 Kodi = https://github.com/Fourdee/DietPi/issues/899#issuecomment-299452995 +
[

[2017-05-05 18:40] Invictaz commented on #905
@Fourdee sorry to interrupt again but it says 2.4G used and thus more than 900mb free. Still unclear why it cannot update the kernel

![image](https://cloud.githubusercontent.com/assets/20338545/25759483/051f72c6-31d3-11e7-9216-13a01022e484.png)

[2017-05-05 18:51] Invictaz opened #927 "Request: External USB backup cannot be FAT32 / VFAT"
Bit strange that I have to have a EXT formatted USB drive to store backups, otherwise symbolic links are not supported. I want a stationary backup for example in a .zip or something.

The only thing I can do know is format my drive and then store a backup. But I don't want symbolic links, only a store of my userdata in case Dietpi goes wrong.

[2017-05-05 20:54] Invictaz opened #928 "Faster update if installing software"
Situation: v149 is installed.
Installing SABNZBd via dietpi-software

It starts to update and upgrade APT

It upgrades literally every package it finds
For example gnupg2 2.0.26-6 to 2.0.26-6+deb8u1

And that for hundreds and hundreds of packages. Why?

It's already a half hour underway and no idea when it will be finished.

Why not only major versions or only the packages that are truly necessary

[2017-05-05 21:28] Invictaz opened #929 "DietPi-Software | PhantomJS"
Compiling it on my PiZero will take days (as per instructions) or isnt possible due to low RAM and swapfile. So I hope a prebuild binary can be included.

Slightly new 2.1.1
https://github.com/fg2it/phantomjs-on-raspberry
https://mecrazy.net/2016/06/06/i-built-phantomjs-2-1-1-for-raspberry-pi/

https://www.bitpi.co/2015/02/11/compiling-phantomjs-on-raspberry-pi/

Older builds:
https://grizzlykoala

[2017-05-06 08:30] WaLLy3K commented on #918
`pihole.log.1` should appear the midnight after an updated copy of Pi-hole has been installed.

Also:

[code]

[2017-05-06 08:31] JohnMacrae opened #930 "Pizero W - wlan0 not found, eth0 not found"
I've discovered an issue with PiZero W.  Was working fine for a month or so and took updates.  However, I decided to flash a new card and configure it for headless start as usual by enabling and setting the wlan parameters in dietpi.txt.  However, in the startup log, with this freshly flashed card, I see that Dietpi brings up neither network interface since it cannot find them (the interface).

Us

[2017-05-06 10:09] Fourdee commented on #928
@Invictaz

This is by design.
When you install any software in DietPi-Software, APT is updated and upgraded. This ensures all core system software is upto date.

If we dont do this, and for example you install Kodi, which lets say requires  ```gnupg2 2.0.26-6+deb8u1```, it would fail to install without the upgrade beforehand.

A UHS-3 SD card will vastly improve filesystem IO performance. Example:

[2017-05-06 10:12] Fourdee commented on #927
As the system we backup uses symlinks, EXT4 + symlink filesystem are required for ```dietpi-backup```. If FAT was allowed, a restore would cripple your installation.

If you want to simply backup your userdata to another location, try ```dietpi-sync```:
http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&start=30#p256

https://github.com/Fourdee/DietPi/issues/816

[2017-05-06 10:20] Fourdee commented on #905
@Invictaz

Did you run the update as per: https://github.com/Fourdee/DietPi/issues/905#issuecomment-298900557 ?

If so, the update should of been completed successfully, check kernel version with:
[code]

And DietPi version should be v149 after the update.

[2017-05-06 10:41] Fourdee commented on #918
@WaLLy3K

Legend, thank you 👍

Ok, I got this completely wrong, apologies (2hours sleep + too much caffeine = bad idea), we didn't need to make those changes to support rolling logs with RAMlog, as we offer a alternative logging mode for our users.

#### If you want untouched logs, "Full logging mode" will do that:
http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&start=20#p68

I'll revert some of the

[2017-05-06 10:52] Fourdee commented on #930
@9H5G

Which image version of DietPi did you write to SD? v148 is latest.

[2017-05-06 11:07] Fourdee commented on #918
Completed.

[2017-05-06 11:08] Fourdee commented on #906
Marking as resolved using:
https://github.com/Fourdee/DietPi/issues/906#issuecomment-298673747

[2017-05-06 11:08] #906 closed, assigned to nobody

[2017-05-06 11:09] Fourdee commented on #887
Marking as closed, please reopen if required.

[2017-05-06 11:09] #887 closed, assigned to nobody

[2017-05-06 11:18] Fourdee commented on #930
@9H5G

I just successfully completed a automated install (using WiFi creds set in dietpi.txt) on RPi Zero W, with v148 image:
http://dietpi.com/downloads/images/DietPi_RPi-armv6-(Jessie).7z

Any chance you could download the above image and test it again?

[2017-05-06 13:03] Invictaz commented on #928
Is the MicroSD slot that Fast of the PiZero 1.2?

Why do Packages need the absolute latest of revisions?

[2017-05-06 13:05] Invictaz commented on #816
Yeah this is what I'm looking for :)

[2017-05-06 13:06] Invictaz commented on #927
Thanks. Will wait for #816

[2017-05-06 13:07] JohnMacrae commented on #930
r work.  Dan,

It seems that 148 worked so no dramas.  I was still on 143 since I was
travelling.

Thanks for all your work - drop me a note if you're ever over in Essex and
I'll buy you a beer :)

Kind Regards
John

On 6 May 2017 at 12:19, Dan <notifications@github.com> wrote:

[2017-05-06 13:08] Invictaz commented on #905
Kernel is 4.4.50 not 4.9. Will that be possible for PiZero? Even after failed update it says 149...

[2017-05-06 13:10] Invictaz commented on #865
@Fourdee It installed now. Working great.

How to update to 2.0.1 RC1? It installs 2.0.0

There isnt a setting in Sabnzbd to update and 2.0.0 seems to be hardcoded?

[2017-05-06 13:56] Fourdee commented on #930
@9H5G

Excellent. RPi Zero W support was added to v145 image and higher.

I'll buy you a beer :)

Will do, thanks 👍

[2017-05-06 13:56] #930 closed, assigned to nobody

[2017-05-06 13:58] Fourdee commented on #865
@Invictaz

Yes its hard coded to install 2.0.0

RC = release candidate. Potentially unstable.

We'll stick with 2.0.0 for now (stable), and update our install code when a future stable version of Sabnzbd is released.

[2017-05-06 13:58] #927 closed, assigned to nobody

[2017-05-06 13:59] Fourdee commented on #928
@Invictaz

17.5MB/s R/W

But random read/write is highly improved on UHS-3 cards. You'll notice a vast reduction to install times/updates.

If we dont do this, and for example you install Kodi, which lets say requires gnupg2 2.0.26-6+deb8u1, it would fail to install without the upgrade beforehand.

[2017-05-06 14:01] Fourdee commented on #905
@Invictaz

DietPi RPi kernel current we use is 4.4. We'll update to 4.9 sometime in the future.

[2017-05-06 15:33] k-plan commented on #918
@WaLLy3K

What does `pihole.log.1` contains and for which PiHole funktion we needed this?

@Fourdee

Hmm, do we need to change `Logging System Choices` to `Full`, if we want to use a PiHole full feature system?
Until PiHole v.2x there was no different in PiHole web interface, if we use `DietPi-Ramlog #1` or `DietPi-Ramlog #2` or `Full`.

![170506-0001](https://cloud.githubusercontent.com/assets/17

[2017-05-06 15:49] nickfox-taterli commented on #926
I test but not working with waveshare32.

 ───────────────────────────────────────
 DietPi     | 16:44 | Sat 06/05/17
 ───────────────────────────────────────
 V149       | oDroid XU3/4 (armv7l)
 ───────────────────────────────────────
 IP Address | 192.168.99.141
 ───────────────────────────────────────

 Created by : Daniel Knight
 Web        : http://DietPi.com
 Twitter    : http://twitter.com/

[2017-05-06 15:58] Invictaz commented on #865
Is there any way I can install it myself? If I really want to? Just unzip the contents?
Especially on Kodi RC's give vast improvements.

Found it: https://forums.sabnzbd.org/viewtopic.php?f=16&t=9844

Get it from Git and unzip. Not in its own directory but straight into sabnzbd so it has no deeper subfolder with the version number

unzip package.zip -d /etc/sabnzbd
rm -R /etc/sabnzbd/sabnzbd-"$ver

[2017-05-06 16:35] jonasmorais commented on #909
I confirm the
"wget https://github.com/Fourdee/DietPi/raw/testing/dietpi/dietpi-cpuinfo -O /DietPi/dietpi/dietpi-cpuinfo"
worked for me.
device:OPi One
thanks
Jonas

[2017-05-07 01:08] WaLLy3K commented on #918
Glad I could help @Fourdee :)

`pihole.log.1` is the renamed content of `pihole.log` from the previous day (which in turn, is the output log of `dnsmasq`, required for the Admin Console to display stats). Days prior to yesterday are stored as `pihole.log.#.gz`, and are no longer needed.

It does make me a bit sad that I need to have full blown logging to make use of the rolling 24 hour window. Wha

[2017-05-07 10:00] Fourdee commented on #918
@WaLLy3K @k-plan

Things we need to confirm:
- 🈴 Does PiHole rotate these log files, without ```logrotate```? I'am yet to experience it in testing.
- 🈴 Does PiHole (web stats) read data from the rotated log files?
Test:
```cp /var/log/pihole.log /var/log/pihole.log.1```, then edited ```/var/log/pihole.log.1``` changing the dates to 1+ day previous.
```/var/log/pihole.log.1``` not picked up in quer

[2017-05-07 10:15] Fourdee commented on #918
As per @k-plan, @WaLLy3K was there any contents in this file?

I'll try to confirm this with testing.

[2017-05-07 10:19] Fourdee commented on #918
@WaLLy3K

We still need to confirm the cause of the rolling log, and how/if it is generated without ```logrotate``` under DietPi-RAMlog 1/2.

If you want to keep existing daily logs for PiHole, I can upgrade DietPi-RAMlog mode 2, to append before deletion in ```/root/logfile_storage/pihole.log```?
If not, then Full logging mode is the only way to achieve support for rolling log files. DietPi-RAMlo

[2017-05-07 10:26] Fourdee commented on #926
@nickfox-taterli

Thanks.

Did you enable Cloudshell/waveshare32 through ```dietpi-config``` > Display options > LCD panel?

[2017-05-07 11:02] k-plan commented on #918
@Fourdee
Thanks for reopened this ticket. 👍

@WaLLy3K

Ahh, thanks for explanation. 👍
Have play around a little bit like Fourdee do, build a `pihole.log.1` file and copy it to `/var/log/pihole.log.1`, but didn't see any changes in AdminLTE.

Is it possible, to show us a picture of AdminLTE with working `rolling log` /  `pihole.log.1` please?

Sounds good. I want to have a "full feature PiHole" Adm

[2017-05-07 11:45] Fourdee commented on #229
#### Notes:

 Need some tweaks running ```/``` under RO
- 🈯️ Ramdisk:
[code]

- Going from RO to RW = issues, due to the way we inject /etc/fstab during init for newly found drives, and, write to it directly. 🈯️ Fixed with additional code checks for R/O RootFS

[2017-05-07 11:58] k-plan commented on #928
RPi Zero W (armv6l) with DietPi on a [SanDisk Extreme PLUS 16 GB microSDHC](https://www.amazon.de/SanDisk-Extreme-microSDHC-Memory-Adapter/dp/B010NE3ND8)

![170507-0001](https://cloud.githubusercontent.com/assets/17237601/25780673/51040d96-332c-11e7-8586-3ab9924d0269.gif)

With a little bit of [tweaking](http://dietpi.com/phpbb/viewtopic.php?f=15&t=331#p2605) (on one's own risk):

![170507-0004](h

[2017-05-07 12:39] lucario1001 opened #931 "DietPi Image for Beagle Bone Black"
### Testing Image (Not available any more since [ DietPi  v6.x ](https://github.com/Fourdee/DietPi/issues/1385)):
`DietPi_v158_BBB-armv7-(Stretch).7z`
### How to flash SD to EMMC: https://github.com/Fourdee/DietPi/issues/931#issuecomment-346447628

---

wondering if it can be made
AM335x 1GHz ARM® Cortex-A8

also love your software

works well on the raspberry pi 👍

[2017-05-07 13:30] Fourdee commented on #229
![image](https://cloud.githubusercontent.com/assets/7077026/25781421/04653220-3332-11e7-8263-47497a57315d.png)

[2017-05-07 14:44] p3p1 commented on #625
Apologies for late response. No sound unfortunately on HDMI. I think it's not a hardware problem: HDMI works on other device and TV is at maximum volume.

[2017-05-07 14:45] Fourdee commented on #931
@lucario1001

Thanks for the request. DietPi (being extremely lightweight) would run really well on this single core board.

I did email beaglebone over 3 months ago, requesting dev sample boards, then we can implement a DietPi image and support it. However, still no response as of yet.

[2017-05-07 14:47] Fourdee commented on #931
Lets give twitter a bash:
https://twitter.com/DietPi_/status/861230917322502144

[2017-05-07 14:49] lucario1001 commented on #931
cool thanks 👍 soon hope we might have a image for it

[2017-05-07 14:56] Zac610 opened #932 "Disabled IPv6 = Failed install LESP webserver stack"
Hi, I am having some troubles installing the LESP stack on a RPi2;

I had an older version of DietPi installed (about 5 versions older); I launched `dietpi-software` for LESP installing but it failed; so I updated to latest dietpi version but still the same problem:
[code]
and here the Apt log:
[code]

[2017-05-07 15:02] Fourdee opened #933 "DietPi-RAMlog | Mode 2, add support appending/saving PiHole logs"
Currently PiHole logs are not saved to ```/root/logfile_storage/pihole.log```

[2017-05-07 15:17] enolp opened #934 "[SOLVED] Installed PiVPN is not working"
After installing PiVPN I realized that all .ovpn files are not generated correctly and when I create them, they cannot be copied into the user's home folder because the path is wrong.

[code]

[2017-05-07 16:02] Invictaz commented on #891
The library of @Mosterta has some good SunXi things for H3

Github.com/mosterta

[2017-05-07 17:21] Fourdee commented on #932
@Zac610

Thanks for the report 👍

I was unable to replicate on a fresh installation with RPi, so must be limited to your existing installation and package combination, throwing this out.

Before we attempt a fix, lets check installed software on system, please paste results:
[code]

May also be worth sending us a bug report (I can then check installed packages, additional repos that may be conflic

[2017-05-07 17:25] Fourdee commented on #625
@p3p1

Its very bizarre, there is an issue with no sound in XFCE4 + Kodi, however, Kodi from console replicates sound fine each test for me. We've also had no other reports of this, so you could be right.

To verify DietPi is not the cause, you could try a fresh installation, only installing Kodi, then test sound again.

Failing that, possible hardware issue (try another XU4 image to verify, eg: o

[2017-05-07 17:28] Fourdee commented on #934
@enolp

Thanks for report 👍

Looks like a possible bug in the PiVPN install script, ```//```. But i'll run a test install here to verify.

[2017-05-07 17:39] Fourdee commented on #934
@enolp

Strange, just did a test install, client profiles created fine:
[code]

Try pulling the created client profile from:
https://github.com/pivpn/pivpn/blob/master/scripts/makeOVPN.sh#L173

[code]

[2017-05-07 18:41] enolp commented on #934
@Fourdee

```cp /etc/openvpn/easy-rsa/pki/private/test.ovpn "$HOME"/test.ovpn```
It didn't work.

Have you checked the generated .ovpn file? Because mine has only the certificate and key chains inside, all the other connection details are missing.

Yesterday I updated my Raspberry Pi firmware to the latest version, I hope it is not the failure.

EDIT 9-5-2017:

I confirm this problem is caused by

[2017-05-07 21:08] Zac610 commented on #932
@Fourdee

Thanks for working this out!

Here's the output of software list:
[code]
and here is the bug report reference code: `733f7397-cbfd-409b-9e21-8f96399046e4`

[2017-05-08 05:23] pdp7 commented on #931
@jadonk @robertcnelson what do you think?

[2017-05-08 10:10] Fourdee opened #935 "DietPi-Software | Home Assistant"
https://twitter.com/SomniusX/status/861403236795904004

[2017-05-08 11:29] Fourdee commented on #933
Completed.

[2017-05-08 11:29] #933 closed, assigned to nobody

[2017-05-08 12:11] Fourdee commented on #229
Completed.

Supports toggling R/W R/O on all partitions, including RootFS.

[2017-05-08 12:11] #229 closed, assigned to nobody

[2017-05-08 12:17] Fourdee commented on #932
@Zac610

Thanks,

No webserver deps, should be safe to remove nginx and try reinstall. Please, do the following:
[code]

If this still fails with same error, I'll need to see the following apt sources:
[code]

[2017-05-08 12:24] Fourdee commented on #918
Ok, think its time we closed this ticket.

- In all testing, PiHole never generated a rotating log. Its done by ```logrotate``` package (if installed).

- Unable to replicate this, however, even if this was added to PiHole code, the PiHole update is outside of DietPi's control.

#### We will continue to support:
- 24 hour (current day only entries) PiHole logs in DietPi-RAMlog 1/2 for ```/var/log/

[2017-05-08 12:24] #918 closed, assigned to Fourdee

[2017-05-08 12:31] Fourdee commented on #893
@mims92

Sorry to hear this is still an outstanding issue.
However, this is the only reported issue for XU4 Kodi + black screen from our users, and, we cant replicate it.

- If it works on Android, it may be a feature compiled into the Android Kodi binary, that is lacking in the debian one.
- As none of the known HDMI settings/tweaks worked (https://github.com/Fourdee/DietPi/issues/893#issuecommen

[2017-05-08 13:29] Fourdee commented on #920
- 🈯️ Resolved with updated kernel:
We'll patch for v150, but this can be updated now with:
[code]
![image](https://cloud.githubusercontent.com/assets/7077026/25806273/8d44b5ca-33fa-11e7-8943-da546aecd0f7.png)

[2017-05-08 13:33] Fourdee commented on #920
Completed.

[2017-05-08 13:33] #920 closed, assigned to Fourdee

[2017-05-08 16:16] Invictaz opened #936 "Raspberry Pi 4.9 Kernel"
4.4 is quite old.

4.9 Has official Pi Zero support and Orange Pi and XFS improvements etc etc
4.10 and further have a lot of 3D improvements for Pi's.

http://www.phoronix.com/scan.php?page=news_item&px=Linux-4.9-ARM-Pull
https://www.phoronix.com/scan.php?page=news_item&px=Linux-4.12-Features-Week-1

[2017-05-08 17:15] k-plan commented on #918
With DietPi-RAMlog mode FULL:

![170508-0001](https://cloud.githubusercontent.com/assets/17237601/25814737/cd3817fc-341e-11e7-8874-5a59ab089f25.gif)

[code]

[code]

[code]

--------------------

With DietPi-RAMlog mode 2:

![170508-0002](https://cloud.githubusercontent.com/assets/17237601/25815030/d5b33d98-341f-11e7-8611-8124b41a8683.gif)

[code]

[code]

[code]

[code]

`pihole-FTL.log` , `pihol

[2017-05-08 18:21] Fourdee commented on #918
@k-plan

```logrotate``` should be removed in this mode, ~~please can you check:~~

[code]

Mmm. So PiHole has its own log clearing system, outside of logrotate. Same as ours (00:00 daily).
https://github.com/pi-hole/pi-hole/blob/master/advanced/Scripts/piholeLogFlush.sh#L17-L23

Not much we can do about that, without forking/customizing PiHole again. Not going to happen.

Maybe this is a feature

[2017-05-08 18:37] k-plan commented on #918
@Fourdee

tested parallel on different devices (1x NanoPi-Neo / 1x RPi-Zero-W)  , both are `DietPi v.150` and the last PiHole Version, installed via `dietpi-software` :

Yes it is not installed on NanoPi-Neo.

![170508-0004](https://cloud.githubusercontent.com/assets/17237601/25819342/fcf8cfc2-342d-11e7-8eb1-5dab6441a3ab.gif)

[code]

look at the Date of the file:
( Mär = März (in german) = March

[2017-05-08 19:03] Invictaz commented on #731
Should be compiler with latest Libav from Git to avoid any MPEG2 errors.

Might also use, not sure: --enable-omx --enable-omx-rpi --enable-static

[2017-05-08 19:59] k-plan commented on #918
@Fourdee

leave it as it is.

Why?
I personal never  will use buggy shi..y logrotate.

[code]

It's an very old bug and it's easy to fix, but what will happens? Nothing!

https://github.com/Fourdee/DietPi/issues/313#issuecomment-219564276

https://github.com/Fourdee/DietPi/issues/311#issuecomment-230571616

(It is not your fault and you don't have to fix, but the ignorance of some comments like "_

[2017-05-08 20:09] yo8aiv commented on #909
i confirm also this fix worked also for me.
 V149       | OrangePi Zero (armv7l)

[2017-05-08 21:26] Ahaus314 commented on #909
Fix on my NanoPi M3!

[2017-05-09 05:39] Zac610 commented on #932
Still same problem!

I investigated further, it seems it is a problem of disabled IPv6 on my RPi2 conflicting with IPv6 port listening in default nginx configuration. Main source [here](https://askubuntu.com/a/801298/320709) and [here](https://etc.banana.fish/?p=75).

btw here are the requested outputs:
[code]

[2017-05-09 09:57] Fourdee commented on #932
@Zac610

Good find 👍

Solution, enable IPv6, install LESP, then disable IPv6 on system and config if required?

[2017-05-09 10:03] Fourdee commented on #926
Test possible fix for vsync tearing in Kodi video playback (thanks to Meveric):
advancedsettings.xml
[code]

[2017-05-09 10:52] Elluminatus opened #937 "WiringPi for BananaPi/BananaPi Pro missing"
Hi, i tried to install wiringPi via the Software Setup of DietPi on my BananaPi/ BananaPi Pro. But i can´t see the entry. I installed it manually on an other bananaPiBoard and it`s working fine. So can you implement it on the BananaPi Pro Software Setup?

Greeting Elluminatus

[2017-05-09 10:59] Elluminatus opened #938 "BananaPi pro image running on BananaPi too"
The BananaPi Pro image of DietPi is running on BananaPi Pro image fine. So maybe you can write this in your download section as information for other users.

Greetings Elluminatus

[2017-05-09 11:03] Elluminatus opened #939 "Support for BananaPi R1 Router Board/ Lamobo R1 and LEDE software request"
Maybe you can add support for BananaPi R1 Router Board/ Lamobo R1 and the possibility to install LEDE over the dietPi software section.

Greetings Elluminatus

[2017-05-09 12:46] enolp opened #940 "DB drivers problem on Nextcloud install"
Installing Nextcloud on a Raspberry Pi 2 shows me an error when trying to setup the installation within the webapp. It says:

```No database drivers (sqlite, mysql, or postgresql) installed.```

Right now I'm using lighttpd as a web server.

[2017-05-09 14:51] stdusm opened #941 "[dupe] No Cpu temperature after 141 to 149 update"
After latest update from v141 to v149 CPU temperature is not working.
Show always 0 C'.

[2017-05-09 17:33] Fourdee commented on #941
Hi,

Thanks for report 👍

Known issue, fixed in v150. You can apply a manual fix now with link below:
https://github.com/Fourdee/DietPi/issues/909#issuecomment-298228895

[2017-05-09 17:35] Fourdee commented on #940
@enolp

Looks like a possible issue with failed/broken mysql installation.

Can you please send us a bug report? I'd like to check system settings/packages:
http://dietpi.com/phpbb/viewtopic.php?f=8&t=499#p2184

[2017-05-09 19:24] stdusm commented on #941
Thanks a lot !

[2017-05-09 19:24] #941 closed, assigned to nobody

[2017-05-09 20:00] it-praktyk opened #942 "[Out off topic] Does the DietPi forum work?"
Hi

I tried register to the DietPi forum twice - at: May 2th and today - but I didn't receive registration acceptation.

I would like ask for advise about what is the better/easiest option to prepare the new one package - Ansible managed node prerequisites.

[2017-05-09 20:21] enolp commented on #940
Bug report done and sent. Here is the reference code: 2d1f034b-8d3b-4009-9a78-3c5858f120e8-0 .

Thank you for your support.

[2017-05-09 22:56] scottwilliamsinaus commented on #931
+1 for this! BBB has a following amongst audiophiles for its ability to have the I2S output synced to an external master clock. Also, the Botic overlay (https://github.com/miero/botic-dev) on BBB is the only way to get hires multichannel output from a SBC at present (I think - happy to be corrected), so incorporating that would be fantastic.
Brilliant work with DietPi otherwise! It has turned Linu

[2017-05-10 01:12] WaLLy3K commented on #918
Sorry, I meant to reply to this sooner. My DietPi install doesn't have `logrotate` (for whatever the reason may be), however [Pi-hole does use `logrotate`](https://github.com/pi-hole/pi-hole/blob/master/advanced/logrotate) to manage its logs. You may have already figured this out by now though :)

[2017-05-10 01:44] Invictaz commented on #938
They are both Allwinner A20 so quite compatible :)

[2017-05-10 05:29] justin0a0 commented on #926
Tried testing with the image you posted, on first login I get:
[Failed] Insufficient free space on RootFS. 30 MB available, 500 MB required
[Failed] Aborting

I assume this is from you checking for free space before the updates but seeing as the partition was not yet resized I got this error.

[2017-05-10 08:38] monarc99 opened #943 "Raspberry Pi 2 DietPi 4.4.50-v7+ kernel headers missing"
Hi,

Dietpi uses its own compiled kernel with 149.
I always compile some modules (e.g. zfs for a backup drive) and i would need the kernel headers for this kernel. (e.g. Module.symvers )

The modules compile with the default linux-headers, but can't be loaded.

[2017-05-10 10:07] Fourdee opened #944 "DietPi-Process_tool | Ability to add custom entries"
eg: include file

[2017-05-10 10:11] Fourdee commented on #942
@it-praktyk

Apologies for that. Must of been triggered as a possible spambot account.

Whats the username for the account you made today? I'll activate.

Sorry, not sure what you mean? Or is this request and you'd like to see "Ansible" in ```dietpi-software```?

---

EDIT:

- Found you ```it-praktyk```, account is now active on forum.
- Reason for spam bot trigger, email address url invalid = htt

[2017-05-10 10:35] Fourdee commented on #824
https://github.com/Fourdee/DietPi/issues/938#issue-227327655

[2017-05-10 10:36] it-praktyk commented on #942
I can try add it myself - probably Python 2.7.x + some modules from pip will be needed + tests with dropbear - but I need some instruction when I should start .

Packages are define in
[code]
?

Thx for remarks about reasons why my email was classified as spam.

[2017-05-10 10:38] Fourdee commented on #938
Thanks for info 👍

I'll link this info to the BPi image request ticket for now: https://github.com/Fourdee/DietPi/issues/824

[2017-05-10 10:40] Fourdee commented on #942
@it-praktyk

Python-pip + python 2.7 install is available in DietPi-Software:
[code]

Ansible is not, so install via apt for now: http://docs.ansible.com/ansible/intro_installation.html#latest-releases-via-apt-debian

[2017-05-10 10:46] Fourdee commented on #926
@justin0a0

Thanks for report 👍
Might be an issue with mmcblk index's, was this on SD or EMMC? And any chance you can run/paste results:
[code]

[2017-05-10 11:02] Fourdee commented on #940
- fail2ban
- llmp
- pihole
- nextcloud
- pivpn

MySQL and all php modules appeared installed correctly. Unknown cause at the moment.

#### Ok, lets try purging nextcloud and mysql, then reinstall nextcloud:

_If system is critical, back it up 1st:_
[code]

Then:
[code]

[2017-05-10 11:06] Fourdee commented on #937
@Elluminatus

Thanks for request 👍

I'll take a look when possible. note: https://github.com/LeMaker/WiringBP

[2017-05-10 11:43] Fourdee commented on #937
Completed, available in v150:
[code]

[2017-05-10 11:43] #937 closed, assigned to nobody

[2017-05-10 13:49] Yury-MonZon commented on #854
Sorry, forgot to reply. I'm in!

[2017-05-10 15:07] nickfox-taterli commented on #926
@Fourdee only cloudshell (hktft9340) install correct,i guess it miss " .controller_data = &hktft9340_controller_data, " at fbtft_device.c.

[2017-05-10 15:47] Elluminatus commented on #938
Maybe you can add a picture from the BananaPi to the download section or a hint under the bananaPi pro picture?

[2017-05-10 16:58] Fourdee commented on #938
@Elluminatus

Although same CPU, they have some differences with hardware and features. The kernel/modules and voltages can be unique for each image/board. Potential damage by using an incorrectly configured image for the board (if CPU/Dram voltages are different for each board).

As we prefer to make a "fully compatible" image for the specific board, and to avoid any possible "DietPi blew up my B

[2017-05-10 17:21] Elluminatus commented on #938
@ Fourdee

Thank you for the hint, I will make diethers tests.

[2017-05-10 19:15] DL6ER commented on #918
Not exactly sure how things are right now. Let me summarize how `FTL` works with the files, real quick.

`FTL` glues to `pihole.log` and reads any changes in this file. Things are different with `pihole.log.1`, since this file is *not* expected to change without a connected change in `pihole.log`.

On startup and when the size of `pihole.log` decreases (usually because of some `logrotate` action),

[2017-05-10 19:27] Elluminatus opened #945 "DietPi-Software | Zoneminder"
Hi,

it would be nice to use zoneminder with odroid xu4.
Further Infos:

http://zoneminder.blogspot.de/p/zoneminder-on-odroid-xu4.html?m=1

Greetings Elluminatus

[2017-05-10 19:33] Elluminatus commented on #942
Same issue here: still waiting for activation: Name: Elluminatus

[2017-05-10 19:45] Magtula opened #946 "Broken Subsonic 6 installation"
It's not possible to install Subsonic 6. I also tried it with a new installed dietpi-system.
I attached an error-screenshot and log-file.

[Log.txt](https://github.com/Fourdee/DietPi/files/991030/Log.txt)
![grafik](https://cloud.githubusercontent.com/assets/28607433/25917915/f0d2d60a-35c9-11e7-9d01-3a9bf2e66e85.png)

[2017-05-10 19:48] #938 closed, assigned to nobody

[2017-05-10 21:56] enolp commented on #940
I did that reinstallation but it didn't work, however I uninstalled mysql and switched to mariadb, and Nextcloud seems to be working. The problem now is I don't know which username and password were set.

[2017-05-11 02:41] TitaneBoy opened #947 "Cannot connect by sftp to Dietpi"
Hi Team..

I was trying to connect by sftp (with WinScp or FileZilla) to my Dietpi installed in my raspberry Pi 3 Model B. Unfortunetly, I can't connect in any way. WinSCP tells me that STFP Packet is too big and FileZilla is not able to connect to my pi.

Can you help me please ?

Thank you

[2017-05-11 09:30] Fourdee commented on #946
@Magtula

Thanks for the report 👍

I'll take a look, which board?

[2017-05-11 09:33] Fourdee commented on #947
@TitaneBoy

Hi,

Which software installed on RPi, Proftpd? And, does standard FTP function?

[2017-05-11 09:39] Fourdee commented on #946
```lame``` conflicting, with our ffmpeg ```libmp3lame```:
[code]

[2017-05-11 09:52] Fourdee commented on #946
Fixed for v150.

@Magtula Manual fix for this now:
[code]

[2017-05-11 10:18] 3d-gussner commented on #947
You have to install OpenSSH instead of default Dropbear
Open 'dietpi-software' and go to SSH server and there choose OpenSSH

[2017-05-11 10:47] Fourdee commented on #942
@Elluminatus

Your forum account is now active.

[2017-05-11 11:37] mtdjr opened #948 "DietPi-Software | UrBackup Server Update to 2.1.19"
https://www.urbackup.org/download.html

[2017-05-11 12:21] Fourdee commented on #948
@mtdjr
Thanks for the heads up 👍 , we'll update this for v150.

[2017-05-11 12:42] TitaneBoy commented on #947
@Fourdee :  Hi !

My installed sofware are:
-OpenSSH (client and server)
-Node.js
-iftop
-IPTraf
-Git Client
-Gogs
-LLMP: Lighttpd | mysql |php
-Lighttpd: webserver
-MySQL: database
-PHP : webserver
-OpenVPN: vpn server
-Rsyslog: system logging
-DietPi-Ramlog
-NextCloud
-Webmin
-PiVPN
-Python Pip

I'm able to connect to my dietpi with the windows software "puTTY" (so by SSH) but not by SFTP with W

[2017-05-11 12:57] Fourdee commented on #948
Test install:
![image](https://cloud.githubusercontent.com/assets/7077026/25950132/d23bd434-3651-11e7-9b8c-1e9272b9d38a.png)

- 🈯️ Setup data dir as per online doc: http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=65#p65
- Leaves us with
[code]
Unable to find this option in web interface settings pages.

Referenced temp folder exists (https://www.urbackup.org/administration_manual.html#x1-270006)
[

[2017-05-11 13:09] Fourdee commented on #947
@TitaneBoy

Try the SCP protocol:
![image](https://cloud.githubusercontent.com/assets/7077026/25950534/2f04bb6c-3653-11e7-855c-1d6325d66a7e.png)

http://www.jscape.com/blog/scp-vs-sftp

[2017-05-11 13:16] Fourdee commented on #948
Completed.

[2017-05-11 13:16] #948 closed, assigned to nobody

[2017-05-11 13:24] Fourdee commented on #947
@TitaneBoy

Strange, SFTP with WinSCP works for me straight out the box.

Please check this package is installed:
[code]

Also check sftp and openssh logs (```/var/log/auth.log``` i believe)

Also, try disabling jumbo frame, if enabled on your Windows PC.
![image](https://cloud.githubusercontent.com/assets/7077026/25951572/066f1f28-3656-11e7-8dc0-30bb3c0505de.png)

[2017-05-11 14:35] Fourdee commented on #806
#### Recreate image with latest kernel (based on official v1.8 beta image):
- 🈯️ http://dietpi.com/downloads/images/DietPi_AsusTinkerBoard-armv7-(Jessie).7z
- Debian Stretch
- test updated GPU drivers

---

#### Known issues
- NTPD may fail to update in time on first run.

[2017-05-11 14:49] Fourdee commented on #940
@enolp

Please see online doc:
http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=3026#p3026

[2017-05-11 15:26] Fourdee commented on #936
@Invictaz

We generally follow what RPi images/apt do in terms of kernel version. Last time I checked their apt install is 4.4 and ```rpi-update``` recently bumped upto 4.9.

I'll take a look at 4.9. If our kernel patches (eg: allo DAC's) are compatible, cant see why not upgrading it.

edit:
RPi doesn't have a 4.12 branch yet: https://github.com/raspberrypi/linux/branches

[2017-05-11 15:34] Invictaz commented on #936
@Fourdee they do have 4.11

[2017-05-11 15:35] Fourdee commented on #936
@Invictaz

Yep, however, 4.9 is LTS: https://www.phoronix.com/scan.php?page=news_item&px=Linux-4.9-LTS-Kernel

[2017-05-11 15:36] Invictaz commented on #928
Interesting. But the W version might use a slightly faster card slot. Or memory management. Is that possible?

[2017-05-11 15:38] Invictaz commented on #846
@k-plan Great project

[2017-05-11 15:40] TitaneBoy commented on #947
@Fourdee By running `dpkg -l | grep openssh-sftp-server`, I can see that package openssh-sftp-server is  already installed...This is the output of the command:

`ii  openssh-sftp-server        1:6.7p1-5+deb8u3           armhf        secure shell (SSH) sftp server module, for SFTP access from remote machines`

Also, the jumbo frame is already disabled too. By the way, I never touched that settings.

[2017-05-11 15:42] Invictaz commented on #193
Would be nice

[2017-05-11 18:50] Elluminatus opened #949 "Image request for Odroid U3"
Is it possible to get an image for the odroid u3?

[2017-05-11 19:13] Invictaz commented on #949
Samsung Exynos based board. Interesting, as on XDA developers there isn't much open source about these boards. A lot needs to be reverse engineered, especially GPU drivers. Maybe for the Odroid it's better.

Specs:

http://odroid.com/dokuwiki/doku.php?id=en:u3_hardware

[2017-05-11 19:36] Elluminatus commented on #894
+1

[2017-05-11 20:38] vd opened #950 "Cannot set shairport-sync name attribute"
When I set the name attribute of the shairport reciever in /etc/shairport-sync.conf it is not reflected  when restarting all services with `dietpi-services restart`

[2017-05-12 06:55] Magtula commented on #946
Thank you very much - Awesome support!

Just for the sake of completeness, the board is a Raspberry Pi 2.

[2017-05-12 10:19] Fourdee commented on #949
Very unlikely as this product is now discontinued.
If I can get my hands on a U3, i'll do the image, if not we'd need someone with the board to prep a Debian image for DietPi:
https://github.com/Fourdee/DietPi/blob/master/PREP_SYSTEM_FOR_DIETPI.sh

[2017-05-12 10:20] Fourdee commented on #946
@Magtula
I'll mark this as resolved, please reopen if required.

[2017-05-12 10:20] #946 closed, assigned to nobody

[2017-05-12 10:42] Fourdee commented on #947
@TitaneBoy

The above mentions text print on server, during login can be a cause, so lets check these:
[code]

Also, try disabling ```#/DietPi/dietpi/login``` from ```"$HOME"/.bashrc```, then attempt SFTP connection again.

[2017-05-12 11:06] Fourdee commented on #950
@vd
Confirmed:
[code]

Has no effect.

I believe its because we built Shairport-sync with avahi. When changing the hostname of the DietPi system, this also effects the shairport-sync name.

Please try changing the hostname:
```dietpi-config``` > Security Options > Change Hostname.

[2017-05-12 11:21] Fourdee commented on #891
@igorpecovnik @zador-blood-stained

Apologies for bringing you guys in.

When building ARMbian **server** images (H3), are there any specific changes related to GPU that would effect operation, once drivers are built/installed?
eg:
- Kernel options/modules reduction for server image build
- Command line option to disable mali memory share

[2017-05-12 11:32] zador-blood-stained commented on #891
On current H3 legacy server images memory reservations are disabled by default via kernel arguments (although not all related kernel arguments take effect on H3 kernel). Compile-time configuration does not change between server and desktop images.

Memory reservations can be enabled by adding `disp_mem_reserves=on` to `/boot/armbianEnv.txt`: https://github.com/armbian/build/blob/master/desktop.sh#

[2017-05-12 11:43] Fourdee commented on #936
Notes:
4.9 kernel contains required Allo DAC's already. Only change we needed to make is +384KHz support in ALSA.
- 🈴 Possible changes/broken kernel cpu info (RPi 3 and RPi Zero): Breaks our ```HW_MODEL```
- Confirmed with ```rpi-update``` ``` 4.9.27-v7+```

RPi 3
[code]

RPi Zero:
[code]

detect RPi, then check for ARMv6/7 ?? RPi 3 shows ARMv7.....
[code]

BCM2835 is correct for RPi1/zero
https:/

[2017-05-12 15:43] Fourdee commented on #846
#### Speaker-phat:
- 🈯️ Audio fine with hifiberry-dac overlay
- 🈴 Fails with ALSA dmix for VU meter https://github.com/pimoroni/pivumeter
[code]

[2017-05-13 05:09] justin0a0 commented on #926
@Fourdee
It was while using an SD I have been trying to find time to put the SD back in but the house gets a bit upset when they can't access the media I'll give it another run this weekend if you still need the info

[2017-05-13 08:01] phonicmouse commented on #929
+1

[2017-05-13 12:07] Fourdee commented on #891
Sorry guys, going to have to nudge this out of v150. Due to limited time at the moment to work on this in depth, initial unsuccessful attempts with available online sources, and, holding up v150 release.

I'll pick this back up when I can.

[2017-05-13 12:08] Fourdee commented on #911
I'll mark this as completed.

Please reopen if required.

[2017-05-13 12:08] #911 closed, assigned to Fourdee

[2017-05-13 12:13] Fourdee commented on #877
As we are going to use ARMbian to build this image, we'll need to wait for ARMbian to support this device in their build tools.

I believe zador-blood-stained has started/done some work on this:
https://github.com/armbian/build/commit/6a737f00b8d8198d1aec6404fcff55c1ad8e1ae2

I'll keep nudging until its available for build.

[2017-05-13 12:20] Fourdee commented on #731
https://github.com/andoma/movian#how-to-build-for-raspberry-pi

[2017-05-13 12:36] Fourdee commented on #731
[code]

[code]

[code]

[code]

Has toolchain refs, cross compile only script?

---

Default build script:
https://github.com/andoma/movian/blob/552ad613b1d0a2225dce2d0941b453a3dda6f03b/Autobuild/rpi.sh#L50-L57

[2017-05-13 13:23] Invictaz commented on #936
@fourdee So what to do if you want to run the 3D apps supported in 4.11 then? I don't get the point of long term support if updates are available and they don't break anything as most likely backwards compatible.

[2017-05-13 15:25] joaofl commented on #926
@Fourdee
I've burned the testing image, which booted fine. But after running dietpi's tool to transfer the rootfs to the usb, the boot.ini file ended getting an the wrong UUID, which I had to set manually in order to boot. The one on fstab was correct.

[2017-05-13 15:55] Fourdee commented on #926
@joaofl

Thanks for report 👍  I'll take a look.

Strange, i've checked the code (v150), same UUID var is applied to fstab and boot.ini. I'll try to replicate on XU4.

- 🈯️ Unable to replicate on XU4 4.9 with DietPi v150. ```/boot/boot.ini``` and ```/etc/fstab``` UUID's match:
[code]
- 🈴 Found a bug when changing format settings, fails to continue rootFS transfer afterwards.

[2017-05-13 18:16] albaldi opened #951 "NTPD: Waiting for completion of time sync (20/20)"
Hi, just installed dietpi
When I log in I get:
 [Info] Initializing database, please wait...
...
Welcome to DietPi-Software
[Info] NTPD: Waiting for completion of time sync (1/20)
...
[Info] NTPD: Waiting for completion of time sync (20/20)
[code]
log
[code]
current time on my machine
[code]
yep, I can travel back in time. :smile:

What should I do?
Can I manually set time with:
`timedatectl set-t

[2017-05-13 19:08] Invictaz opened #952 "Not able to launch Kodi 15 from LXDE"
System: Pi Zero
v149 running

- Clicking on the kodi.desktop icon opens an empty leafpad.
- Kodi is not in the start menu. Kodi is installed AFTER LXDE was installed.
- When you type Startkodi over SSH it runs but considerable slower than dedicated OpenElec 8.0 microSD.
Maybe this is because of the SD card speed.
- Exiting is not possible, exits to a black screen.

[2017-05-14 10:39] Fourdee commented on #952
@Invictaz

Thanks 👍

I'll take a look.

[2017-05-14 11:08] Fourdee commented on #952
- 🈯️ RPi 3 : Fine, Kodi 17.1
- 🈯️ RPi Zero: Fine, Kodi 17.1

Unable to replicate any of the following:
- Clicking on the kodi.desktop icon opens an empty leafpad.

Unable to replicate.

- Kodi is not in the start menu. Kodi is installed AFTER LXDE was installed.

Unable to replicate. Available "Sound and Video"

- When you type Startkodi over SSH it runs but considerable slower than dedicated Open

[2017-05-14 11:27] nickfox-taterli opened #953 "(NanoPC-T3)Can not boot with-out SDCard."
NOTE:I can not post bugreport from my SBC.ftp timeout.

----------------------------------------------------------------
 DietPi : Bug Report
 14-05-2017
----------------------------------------------------------------
 Please fill out the information regarding your issue.

 When completed, save and exit nano:
 - Press CTRL+X
 - Press Y
 - Press Enter

---------------------------------------------

[2017-05-14 11:28] nickfox-taterli commented on #953
adding: command_output_2.txt (deflated 73%)
  adding: command_output_3.txt (deflated 57%)
  adding: command_output_4.txt (deflated 52%)
  adding: command_output_5.txt (deflated 56%)
  adding: command_output_6.txt (deflated 84%)
  adding: command_output_7.txt (deflated 38%)
  adding: command_output_8.txt (deflated 71%)
  adding: command_output_9.txt (deflated 53%)
  adding: command_output_10.txt (d

[2017-05-14 11:49] Fourdee commented on #951
@albaldi

Thanks for the report 👍

timedatectl set-time "yyyy-MM-dd hh:mm:ss"
?

If NTPD isn't working for your system, try changing the time system to SystemD in:
```dietpi-config``` > Advanced > Time sync mode >  Daemon + Drift

Check status with:
[code]

```dietpi-software``` will then skip the check.

I'll go through these later today. But if you give me your forum account name i'll register i

[2017-05-14 11:58] albaldi commented on #951
screwdriver
thanks

[2017-05-14 12:56] Fourdee commented on #951
@albaldi

Thanks, account now active.

[2017-05-14 13:13] albaldi commented on #951
fixed my problem.

[code]

Any idea why ntpd didn't work?

[2017-05-14 13:13] #951 closed, assigned to nobody

[2017-05-14 13:13] Fourdee commented on #952
@Invictaz

- Have you made any custom changes to your system, outside of the DietPi programs?
- Can you list installed software on this system ```dietpi-software list | grep ' =2 '```
- Do you get the same issues, on a test fresh installation?
- Have you changed the kernel from DietPi default ? ```uname -a```

[2017-05-14 13:16] Fourdee commented on #951
@albaldi

6 Feb 15:22:35 ntpd[526]: Listening on routing socket on fd #22 for interface updates
 6 Feb 15:40:31 ntpd[526]: Deleting interface #5 eth0, fe80::ba27:ebff:fe5a:f195#123, interface stats: received=0, sent=0, dropped=0, active_time=1070 secs

Not sure, but appears it simply failed connection on eth0.

We may look at removing NTPD from DietPi, it is an outdated system. But we do love it f

[2017-05-14 13:18] Fourdee opened #954 "General | Default to SystemD-Timesyncd?"
investigate, remove NTPD? which is outdated.

Will increase resources used slightly (daemon), but with the benefit of using systemd's inbuilt timesync.

[2017-05-14 13:56] Fourdee commented on #936
@Invictaz

You can always compile 4.11 and install it on your DietPi system for testing purposes.

[2017-05-14 14:18] Fourdee commented on #936
![image](https://cloud.githubusercontent.com/assets/7077026/26034709/87be6d36-38b8-11e7-928b-49ff53f3d4c0.png)

[2017-05-14 14:30] Fourdee commented on #936
- OpenGL should now be functional, lets test
🈴 Blank screen, even during boot, no output on HDMI what so ever.
https://github.com/Fourdee/DietPi/issues/834

[2017-05-14 15:08] albaldi commented on #954
because dietpi use
`ntpd -gq`
and because according to the man
[code]
one can simply use a cronjob with

BTW on my raspy 1 model B (256MB ram)
[code]

[2017-05-14 15:59] albaldi opened #955 "'rxvt-unicode-256color': unknown terminal type."
I'm using rxvt-unicode-256color on my PC and each time I ssh to my raspi I get this error
`'rxvt-unicode-256color': unknown terminal type.`

This error fordbid me to use `htop` or `nano`
Solution are export TERM to some compatible terminale
`export TERM='xterm-256color'`
Or copy from my pc to the raspi a file:
`scp /usr/share/terminfo/r/rxvt-unicode-256color user@server.com:.terminfo/r`

or simply

[2017-05-14 16:18] Invictaz commented on #952
@Fourdee will reply with full log. Maybe uninstall and install Kodi to solve this?

[2017-05-14 17:27] Fourdee commented on #955
@albaldi

Thanks, which SSH client are you running?

[2017-05-14 17:53] albaldi commented on #955
openssh 7.4p1-2
Reading the man I found out the ssh client can send to the server
[code]
but dropbear ssh doesn't support _AcceptEnv_

BTW it's not a problem, just wanted to have results when googling for "dietpi 'rxvt-unicode-256color': unknown terminal type"

thanks

BTW:
I want to run dropbear with
[code]
Is enough add the options to _/etc/dropbear/run_ ?

[2017-05-14 18:55] S60Team opened #956 "Swapfile is too big for my SD-card (768mb) v149"
I have a problem on my RPI v1 (256mb RAM, 2Gb MicroSD):
Swapfile is too big for my SD-card (768mb) (v149)
Before that, i have ~50mb on v148 and it worked well.
Can you make a configuration for swapfile size Before update, maybe in v150?
Please!

[2017-05-14 19:12] Invictaz commented on #952
![image](https://cloud.githubusercontent.com/assets/20338545/26036988/036b5b84-38ea-11e7-942d-b7ddd179f5bf.png)

[2017-05-14 19:12] Invictaz commented on #952
Kernel

![image](https://cloud.githubusercontent.com/assets/20338545/26036992/142eec06-38ea-11e7-8465-89aa4dcc38ad.png)

[2017-05-14 19:38] Invictaz commented on #952
@Fourdee

Kodi 15.2 Git:02e7013 Compiled Dec 28 2015

Started with Startkodi & as window 2359 if you exit it with the shutdown button in Kodi following happens.

Segmentation fault

Error log attached

[kodi_crashlog-20170514_213356.txt](https://github.com/Fourdee/DietPi/files/999672/kodi_crashlog-20170514_213356.txt)

[2017-05-14 19:39] Invictaz commented on #952
Screenshot to see that it is not opening via LXDE. And not in Sound/Video menu

![plaatje2](https://cloud.githubusercontent.com/assets/20338545/26037145/c130480c-38ed-11e7-92c4-096bbce0c1d4.jpg)

[2017-05-14 20:35] Invictaz commented on #952
@Fourdee

The issue I have is presented here. Strange is that it already suggests to start Kodi via Startkodi. But maybe my script is too old. Either way, upgrading to Kodi 17 sounds okay BUT Kodi 17 eats up more resources. Kodi 15.2 is fine for me.

https://www.raspberrypi.org/forums/viewtopic.php?f=66&t=109088&p=750252#p750252

[2017-05-15 02:21] nickfox-taterli commented on #956
2GB MicroSD are too small....

[2017-05-15 05:18] S60Team commented on #956
But system is hang up...
So i copied all configs and reinstalled the system,
then changed swapfile in dietpi-config.
Problem solved. Kinda

[2017-05-15 11:11] Fourdee commented on #956
@S60Team

As of v149 (and the v148 RPI image), swapfile size is now 1GB - RAM. So in your case, 768MB~ would be generated for swapfile to prevent out of memory issues, due to users installing multiple software titles.

You can disable swapfile generation, after writing DietPi image, and, prior to booting device for 1st time in ```/boot/dietpi.txt```:
```Swapfile_Size=0```

[2017-05-15 11:18] Fourdee commented on #952
@Invictaz

DietPi-Software install of Kodi is via Raspbian apt repo. Current version is 17.1, previously it was 16.1. Not sure where/how 15.2 was installed on your system.

Maybe you have added additional apt repos that are conflicting with the install?:
[code]

LXDE looks broken. I'd try a uninstall/reinstall of LXDE and Kodi. Failing that, please try a fresh install without any manual changes to

[2017-05-15 11:42] Fourdee commented on #940
@enolp

Is your nextcloud installation now functional/resolved?

[2017-05-15 13:22] Fourdee commented on #339
Online doc: http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=7212#p7212

Tested with Transmission

Completed.

[2017-05-15 13:22] #339 closed, assigned to Fourdee

[2017-05-15 13:50] Fourdee commented on #936
Completed. 4.9 kernel patched in v150 update.

[2017-05-15 13:50] #936 closed, assigned to nobody

[2017-05-15 13:51] Fourdee commented on #888
Nudging to v151, limited time, allowing v150 release.

[2017-05-15 14:41] Fourdee commented on #921
Marking as completed: https://github.com/Fourdee/DietPi/issues/924

Please reopen if required.

[2017-05-15 14:41] #921 closed, assigned to nobody

[2017-05-15 16:10] Fourdee opened #959 "DietPi-Drive_Manager | RPi fails initial script RO detection"
When initially launching ```dietpi-drive_manager``` on RPi, the main RW check for RootFS fails.
RO/RW can still be applied to RootFS, but the initial check should prompt for RW enable, before allowing script to fully load.

Due to RPi using ```/dev/root```:
[code]

Instead of what we expected to see ```/dev/mmcblk0p2```:
[code]

[2017-05-15 16:11] Fourdee commented on #959
New scrape checks for mount target, rather than source:
[code]

[2017-05-15 18:26] sosher opened #960 "v150 breaks vmware image ?"
## If your **Virtual Machine** (VMware/Virtual Box) installation is affected by this, please see the following link for solution:  https://github.com/Fourdee/DietPi/issues/960#issuecomment-302054450

---

Hi, Thanks for dietpi
my diet pi has been upgraded to version 150 on my vmware workstation , And since then
I get the following error no matter which script I am running
"this script does not sup

[2017-05-15 20:47] Invictaz commented on #952
@Fourdee All is installed via Dietpi-software. As said this SD card is already running since Dietpi 120 ish.

[2017-05-16 00:08] Invictaz commented on #885
Thanks!

[2017-05-16 00:12] Invictaz commented on #339
@rhkean Maybe you can open a new issue for the others (Headphones / Sonarr and others)

[2017-05-16 06:46] TitaneBoy commented on #947
Hi @Fourdee .

By disabling `#/DietPi/dietpi/login` from `"$HOME"/.bashrc`, it looks that I can finally connect with sftp protocol with WinSCP  :-)

By reading the link you provided, does it mean I have to move the `/DietPi/dietpi/login` command from `"$HOME"/.bashrc` to `"$HOME"/.profile` ?

Thanks again for your answer...

[2017-05-16 06:53] DJCrashdummy opened #961 "DietPi-Config | clarify/improve keyboard-settings and other issues with locale settings"
when using `DietPi-Config` -> `Language/Regional Options` -> `Keyboard` it only shows the line `update-rc.d: warning: start and stop actions are no longer supported; falling back to defaults` twice and immediately goes back to the previous screen where you can choose between _Local_, _Timezone_ and _Keyboard_...

---

additional i'm not sure if it is a bug, but at least it is wired:
i've set a dif

[2017-05-16 08:53] tatoosh commented on #924
Can i toggle this by commandline?
So i can script if my house SSID is not found, run the hotspot.

[2017-05-16 09:09] powerzumsel commented on #960
dito
same issue to me
no "dietpi-xxxx" working

[2017-05-16 09:22] Fourdee commented on #924
@tatoosh

Yep, its done with:
https://github.com/Fourdee/DietPi/blob/master/dietpi/dietpi-config#L3396-L3404

[2017-05-16 09:30] Fourdee opened #962 "DietPi-Software | Shairport-Sync, update to latest version + metadata"
Re-compile += ```--with-metadata```:
- ARMv6
- ARMv7
- ARMv8

[2017-05-16 10:02] Fourdee commented on #962
- 3.0.2 is still stable version, we'll stick with that:
https://github.com/mikebrady/shairport-sync/releases

- Test metadata with:
https://github.com/mikebrady/shairport-sync-metadata-reader
[code]
[code]

~~Maybe it needs to be compiled with pipe option? ```--with-pipe```~~

[code]

🈯️ ```/usr/local/etc/shairport-sync.conf``` is correct config location.
[code]

- 🈯️
[code]

[2017-05-16 11:16] taner1 commented on #887
I managed to migrate my rootfs ext4 to btrfs with adding btrfs to initramfs. The btrfs module already in kernel so no need to recompile. With lzo compression there is slight delay at startup time but after booting seems everything is good. It decreased my occupied space 650MB to 420MB. Anyone who using 1-2GB sd  cards i strongly recommend to use btrfs for it . Now finally i can install ffmpeg to m

[2017-05-16 11:51] rncwnd79 opened #963 "XU4 cpu frequency scaling (max frequency) - kernel 4.9"
This belongs to kernel 4.9

The Samsung Exynos octacore has its little cores on the lower numbers: cpu0...cpu3 and its big cores on cpu4...cpu7.
Max freq for little cores is 1.4 GHz while maxfreq of the big cores is 2.0 GHz (1.8 GHz for the new passive cooled XU4Q).

When using a scaling capable governor like ondemand governor, dietpi-config uses /sys/devices/system/cpu/**cpu0**/cpufreq/scaling_ma

[2017-05-16 11:55] DJCrashdummy opened #964 "RetroPie | Fails to install due to Kernel held packages"
# Solution
#### As per: https://github.com/Fourdee/DietPi/issues/964#issuecomment-301760564
- Replace DietPi kernel with the standard RPi kernel, allowing ```libraspberrypi-dev``` to be updated.
[code]
- Rerun RetroPie installation.

---

#### Original post

first it is really nice to have the option within `DietPi-Config` at `AutoStart Options` to choose `3 RetroPie`, so i started to look for Ret

[2017-05-16 12:02] sfb2 commented on #964
sorry, i´m not the "master" here ;-), but libraspberrypi-bin, libraspberrypi0, raspberrypi-bootloader and raspberrypi-kernel were "patched" here with a 384khz audio kernel for example and some other things..
So, they´d been put on hold to avoid being overwritten by the "standard" kernel files..

[2017-05-16 15:44] gaye746560359 opened #965 "怎么开启SPI？"
dietpi-config中只能开启I2C，并没有SPI选项。
查看/boot/config.txt配置项dtparam=spi=off每次开机默认是关闭的。
请问怎么开启SPI？

[2017-05-16 17:45] DJCrashdummy commented on #964
@sfb2: thanks for the info so far!

[2017-05-16 21:43] Gravesy83 opened #966 "DietPi-Software | Sonarr and Radarr"
In reference to the request at #339 , and in light of support and development on Couchpotato apparently going quiet recently (as i mentioned here; http://dietpi.com/phpbb/viewtopic.php?f=11&t=1882 ), i'd like to ask if there's any option to have Sonarr and Radarr added.
They have native support for a lot of Linux based systems (including the Raspberry Pi's), so they should, in theory, make a good

[2017-05-16 23:50] Invictaz commented on #928
@Fourdee @k-plan I tested it in v150. Not a super slow SD?
Pi Zero 1.2

![image](https://cloud.githubusercontent.com/assets/20338545/26132826/2a1cc424-3aa3-11e7-8a49-da2e75212b8f.png)

[2017-05-17 00:03] Invictaz opened #967 "Request V4L2 and HDMI Audio from 4.11 / 4.12"
https://github.com/torvalds/linux/commit/7b3ad5abf027b7643b38c4006d7f4ce47a86dd3a
https://www.phoronix.com/scan.php?page=news_item&px=Linux-4.11-Staging-Changes

http://www.phoronix.com/scan.php?page=news_item&px=RPi-VC4-HDMI-Audio-Patches

[2017-05-17 02:00] nickfox-taterli commented on #965
配置文件在/DietPi目录下,开机每次自动复制,先看好英文呢文档,发中文谁理你呢?

[2017-05-17 05:39] Elluminatus commented on #435
+1

[2017-05-17 08:50] #956 closed, assigned to nobody

[2017-05-17 09:20] Fourdee commented on #967
@Invictaz

4.12 is now available:
https://github.com/raspberrypi/linux/tree/rpi-4.12.y

When I get a chance, i'll compile and test it. If it seems stable, i'll offer it as alternative for testing.

[2017-05-17 09:23] Fourdee commented on #960
@sosher
@powerzumsel

Thanks for the report 👍

I'll take a look.

[2017-05-17 09:26] Fourdee commented on #963
@rncwnd79

Thanks for the report 👍

Yep, confirmed. I'll take a look, see if we can find the highest clock entry for all cores, then scale against that value. Setting a higher clock than available (eg: 1.4GHz cores) should have no effect, but i'll check.

[2017-05-17 09:29] Fourdee commented on #963
With ondemand on my XU4 and 4.9, 1.3GHz / 2GHz:
[code]

[2017-05-17 09:30] Fourdee commented on #963
For ticket reference:
https://github.com/Fourdee/DietPi/issues/926

[2017-05-17 09:47] Fourdee commented on #960
Confirmed on fresh install > v150

[2017-05-17 10:44] Fourdee commented on #960
RootFS RW func check is the cause, script is terminated/failed due to VM script exclusion:
[code]

[2017-05-17 10:47] Fourdee commented on #960
This will be prevented in v151 update. Affected systems must use the fix below to resolve.

@sosher
@powerzumsel

### If you experience this issue, please run the following commands to resolve:
[code]

[2017-05-17 11:02] Fourdee commented on #959
Should be resolved by commit:
https://github.com/Fourdee/DietPi/commit/dab0c8ae8ced28d6a396870e3481b46c0df1ea53

- 🈯️ Requires testing to confirm

[2017-05-17 11:13] Fourdee commented on #964
@sfb2

Spot on 👍

@DJCrashdummy

We originally had RetroPie in DietPi, very early on (sub v100 I believe). However, as RetroPie grew, it was impossible for us to fully control everything the RetroPie installer applies/installs. Let alone, predict what the user will install (binary/source build/emulators/control pads etc).

Therefor, we can't support it in **official capacity** and it was removed i

[2017-05-17 11:14] sosher commented on #960
Thank you so much for the quick response and suggested fix.
I will be able to try the fix later today
Thanks again !!!

[2017-05-17 11:18] Fourdee commented on #964
I've updated original post with the info/resolution:
https://github.com/Fourdee/DietPi/issues/964#issue-229005747

I'll mark this as known issue + workaround available.

[2017-05-17 11:20] powerzumsel commented on #960
fix is working
thank you very much !!!

[2017-05-17 11:26] Fourdee commented on #960
@sosher
@powerzumsel
Thanks guys 👍

Marking as completed.

I'll try and get v151 pushed out within the next few days, to prevent this occurring during v150 update.

[2017-05-17 11:26] #960 closed, assigned to Fourdee

[2017-05-17 11:54] Fourdee commented on #961
@DJCrashdummy

A physical keyboard must be plugged into the device, for this to work, as the command ```dpkg-reconfigure keyboard-configuration``` appears to simply exit without one attached.

why is every value set between double quotes (e.g. LC_TIME="en_US.UTF-8") except LANG=en_US.UTF-8?

Quotations do not appear to be required.
The reason for non-quoted entries is due to the way we also pump s

[2017-05-17 11:57] Fourdee commented on #947
@TitaneBoy

Excellent, great to hear 👍

For now, yes.
However, if you can please confirm this is functional (with SFTP, DietPi login script executes ok) once moved, we'll roll this change to DietPi.

[2017-05-17 13:24] Fourdee commented on #959
Completed.

[2017-05-17 13:24] #959 closed, assigned to nobody

[2017-05-17 13:24] Fourdee commented on #962
Completed.

[2017-05-17 13:24] #962 closed, assigned to Fourdee

[2017-05-17 13:57] Invictaz commented on #967
Legend!

[2017-05-17 14:05] rncwnd79 commented on #963
Thanks for checking. I think I changed the max freq for the big cores once for heat reasons, just thought about it...

[2017-05-17 18:47] k-plan commented on #928
@Invictaz

Yes, for sure!

But I have one, it's more crappy:  [SanDisk microSDHC Ultra 4GB](https://www.amazon.de/SanDisk-microSDHC-Ultra-original-Handelsverpackung/dp/B001972AV0)

![2017-05-17 17-49-58](https://cloud.githubusercontent.com/assets/17237601/26169732/0c69133c-3b3f-11e7-9d0d-9b18d711b506.png)

[code]

No!

Device on all screenshot  is a RPi Zero (v1.2)

[code]

But with excact the sam

[2017-05-17 18:58] k-plan commented on #964
@Fourdee

you can do what ever you like, it will be a failure for someone.

- once someone cry to [get a newer kernel
](https://github.com/Fourdee/DietPi/issues/936)
- once some cry why software xyz is not more working after a auto kernel update

- once someone cry because the kernel is set on hold

- once someone cry to have a 384khz audio support

Really sad to read such things. Better to do not

[2017-05-18 12:39] Fourdee commented on #964
@k-plan

Yep, cant win them all. Do one thing, breaks another.

"Welcome to Linux" lol

I'll mark this as closed, initial question has been answered with fix option.

[2017-05-18 12:39] #964 closed, assigned to nobody

[2017-05-18 14:32] DickyT commented on #688
@tusharvb19 I have the same problem, both uart1&2 is not working, but there is a workaround, use ssh to login your pi, and use uart0 (debug uart) for your serial device

[2017-05-18 14:43] Invictaz commented on #964
@k-plan I posted that question. It's not crying for a new kernel. It's just staying up to date. And for the letter of the fact, 4.9 isn't even the newest. I'm happy that it's done now.

If you want something support but newer kernels break it it's upto you to don't update. With newer features and bug fixes there is no such thing as no updating. Kernels are a tremendous amount of work and involve t

[2017-05-18 14:58] pabgan commented on #897
https://www.rainloop.net/ has also been proposed.

[2017-05-18 17:38] zeno-bg commented on #918
Hey all, can anyone say what happens if the tmfps gets full before it gets cleared?

[2017-05-18 19:31] DasClarky commented on #269
Is there any update on this at all? i am kinda sad i cannot use my XU4 for Kodi when the C2 is running it fine. Thanks

[2017-05-18 20:35] Shmio commented on #942
Same issue.  Name: Shmio

Appreciate it.

[2017-05-19 10:58] Fourdee commented on #942
@Shmio

All pending forum accounts now enabled.

[2017-05-19 11:34] Fourdee opened #968 "DietPi-Config | LED Control options"
eg: list all available (heartbeat/none etc) and apply.

[2017-05-19 11:43] Fourdee commented on #963
Fixed for v151 with commit: https://github.com/Fourdee/DietPi/commit/5951116243e80434b99453b87273c68833cd9307

[2017-05-19 11:43] #963 closed, assigned to Fourdee

[2017-05-19 15:05] Invictaz commented on #968
Would be great that a pattern is able to be configurable if full startup is achieved so I can run it headless without a screen. For example 3 blips.

[2017-05-19 15:51] Fourdee commented on #968
Automatically applied during boot aswell:
![image](https://cloud.githubusercontent.com/assets/7077026/26256069/a2511e7e-3cb3-11e7-9d6b-77abe56b0864.png)

![image](https://cloud.githubusercontent.com/assets/7077026/26256007/72055fbe-3cb3-11e7-97c6-56eefbf1ce5f.png)

[2017-05-19 15:58] Fourdee commented on #968
@Invictaz

The ```heartbeat``` option would benefit you for this. Basically flashes to a heartbeat once kernel is loaded (assumes booted)
https://www.youtube.com/watch?v=Cpm5Tb6aiJQ

[2017-05-19 16:02] Fourdee commented on #918
@zeno-bg

I'd assume no new log entries (including web stats) would be created.

However, we limit size of the PiHole log file to 5MB. Checked every hour, if its over this limit, its cleared.

[2017-05-19 16:09] Fourdee commented on #435
+1 > http://dietpi.com/phpbb/viewtopic.php?f=12&t=788&p=7246#p7244

[2017-05-19 17:07] Fourdee commented on #269
@hydrouk

4.9 kernel update "may" provide a fix, however, 4.9 is still in testing:
https://github.com/Fourdee/DietPi/issues/926

[2017-05-19 20:15] molnarti commented on #435
@joaofl see here https://mozilla-services.readthedocs.io/en/latest/howtos/run-fxa.html

[2017-05-20 09:24] filemoon opened #969 "OdroidXU4 recognized as RPi (v150)"
Hi.

I have 3 Odroid XU4 boards (with cloudshell) after upgrade to v150 one is recognised as Rpi.
This is content of .hw_model file

0
RPi  (armv7l)
3
/dev/mmcblk0p2
79853dc4-02d9-45a1-bbae-208dae17dac9
2
armv7l

0
0
0100
Unknown
Unknown
0
Unknown

[2017-05-20 10:00] Fourdee commented on #969
@filemoon

Thanks for the report 👍

- Is this running the 3.x kernel?
[code]
- Which image version used?
[code]
- Can I see output of:
[code]
- And output of:
[code]

[2017-05-20 10:37] filemoon commented on #969
I have very same result for all my XU4 boxes.

#1 SMP PREEMPT Sat Apr 8 00:28:48 CEST 2017 armv7l GNU/Linux

cat /etc/.dietpi_image_version (file is not present on any of my arm boxes)

processor	: 0
model name	: ARMv7 Processor rev 3 (v7l)
BogoMIPS	: 24.00
Features	: swp half thumb fastmult vfp edsp neon vfpv3 tls vfpv4 idiva idivt
CPU implementer	: 0x41
CPU architecture: 7
CPU variant	: 0x0
CPU

[2017-05-20 10:54] Fourdee commented on #969
@filemoon

Strange, this is reporting Raspbian OS and being picked up by our script.

Just tried a fresh image installation of v145 image, results are fine:
[code]

I'am not entirely sure how your ```/etc/os-release``` contains ```ID=raspbian```, however, we can override this and force XU4 id with the following commands:
[code]

Then check valid with:
[code]

[2017-05-20 11:01] Fourdee commented on #968
Worth noting that not all available trigger modes function as expected. This is dependent on device as we set trigger directly to ```/sys/class/leds/XXXX/trigger```

In general, the following work on most boards:
- heartbeat
- none (off)

[2017-05-20 11:04] filemoon commented on #969
Looks fine now.
I have no idea why systems thinks is Raspbian (there was old DietPi image use to build them).

[2017-05-20 11:13] Fourdee commented on #968
Completed.

[2017-05-21 11:12] Fourdee opened #970 "RPi | Support for USB write > boot"
Image update required.

[2017-05-21 11:14] Fourdee commented on #970
PARTUUID's required:

- ```/boot/cmdline.txt``` ```root=PARTUUID=84fa8189-02```
- ```/etc/fstab```
[code]

Changes required to support ```PARTUUID``` entries in ```dietpi-drive_manager``` and a few in ```finalize```

---

```program_usb_boot_mode=1``` required in ```/boot/config.txt```.
- RPi 3 only? Compatible with other devices?
- Renders SD card boot unavailable?
- Requires a reboot with ```pro

[2017-05-21 13:29] Fourdee opened #971 "DietPi-Software | PlexPy"

[2017-05-21 14:51] Invictaz commented on #970
Will boot off USB be also supported on other platforms e.g. Pi Zero?

[2017-05-21 17:34] syfxlin opened #972 "Orange pi lite boot can not automatically connect wifi"
Orange lite restart is always not connected wifi, through the phone usb network sharing orange lite with ifconfig can not see usb0 information, but with lsusb can see the phone has been connected to the orange lite. Please help me. Thanks.

[2017-05-21 17:38] syfxlin commented on #972
Armbain does not exist these problems

[2017-05-21 17:50] Fourdee commented on #972
@syfxlin

Interesting, we use ARMbian to build the image. Most likely ARMbian image is running a different kernel that "compliments" WiFi.

Kernel version installed on DietPi?
[code]

Kernel version installed on ARMbian?
[code]

[2017-05-21 17:52] Fourdee commented on #970
@Invictaz

Should be fine. AFAIK this is a RPi feature only, built into kernel/uboot.

[2017-05-21 20:08] Ox16 opened #973 "DietPi-Software | veracrypt"
Is possible add veracrypt

[2017-05-21 22:24] FireHelmet commented on #966
@Gravesy83 @Fourdee

Installed and working well on odroid c2. Dan, I will send you an email about install procedure after few days of testing...

Thanks.

[2017-05-21 22:27] FireHelmet commented on #971
@Fourdee

Can you assign to me this job ?

Thanks

[2017-05-21 23:28] Invictaz commented on #970
@Fourdee Great. Looking forward to it.

[2017-05-22 04:02] syfxlin commented on #972
@Fourdee Kernel version is the same, now pi can not be recognized as a network interface usb port. Is there any way to connect to pi through usb?

[2017-05-22 08:59] Fourdee commented on #966
@FireHelmet

Legend 👍

[2017-05-22 10:36] Fourdee commented on #973
@Ox16

Thanks for request 👍 We'll take a look when possible.

[2017-05-22 11:12] Fourdee commented on #970
@Invictaz

Possibly RPi 3 only:
https://www.raspberrypi.org/documentation/hardware/raspberrypi/bootmodes/msd.md

[2017-05-22 18:09] joaofl commented on #926
@Fourdee

Maybe I messed it up, or maybe because I had 2 USB drives plugged in? I'll try to replicate it and I let you know if anything happens.

[2017-05-23 00:15] Invictaz commented on #970
@Fourdee

Normally this goes through Uboot?

It's partly possible already. Some code is loaded off SD and some of USB

https://www.raspberrypi.org/forums/viewtopic.php?t=12015&f=66

https://raspberrypi.stackexchange.com/questions/62965/boot-zero-w-from-usb-device

Seems to involve a bootcode.bin

It's not native boot from USB but atleast something.

[2017-05-23 10:26] Fourdee opened #974 "DietPi-Software | Upgrade NextCloud 12"

[2017-05-23 10:59] Fourdee commented on #974
- 🈯️ Test install fine, other than version link update, no code changes needed.

[2017-05-23 10:59] #974 closed, assigned to Fourdee

[2017-05-23 11:57] joaofl commented on #926
@Fourdee
I actually reproduced the issue I was having, but it ended up not being due to the UUID  I think. However I've observed a few things.

(1) After transferring the root partition to an external drive and rebooting, dietpi starts to auto-mount (line added to fstab) the old root partition of the sd card as an external drive. Something we actually don't want, right?

(2) When we transfer the r

[2017-05-23 12:05] joaofl commented on #926
@Fourdee
I actually just checked your code @ https://github.com/Fourdee/DietPi/blob/master/dietpi/dietpi-drive_manager and it actually already implements (2) and something regarding (1) as well. So I'm not sure... By the way, I'm running dietpi v150.

[2017-05-23 12:38] danriches opened #975 "RPi - USB drive removal and reinsert doesn't mount device properly"
I've tried numerous fstab entries and with and without samba installed to no avail. The configuration works fine with Raspbian Jessie though, albeit Raspbian is a nightmare to get to boot in readonly mode hence why I'm trying out DietPi. I've attached the output from journal regarding the USB flash drive mount problem, this is without writing to the drive only reading at the moment. Any suggestion

[2017-05-23 15:13] Fourdee commented on #975
@danriches

Hi,

We have tool (```dietpi-drive_manager```) which will allow you easily add USB drives, also applies auto mount (```x-systemd.automount```) to the fstab entry, removing the need for ```usbmount```:
http://dietpi.com/phpbb/viewtopic.php?f=8&t=673#p2898

Try clearing your ```/etc/fstab``` changes, then run ```dietpi-drive_manager``` to setup the drive.

Possible issue with filesystem.

[2017-05-23 16:28] Fourdee commented on #926
@joaofl

Yep:
if Rsync fails with rootfs transfer, the original ```/etc/fstab``` is restored, then script exited to prevent further changes to ```boot.ini``` etc.:
https://github.com/Fourdee/DietPi/blob/testing/dietpi/dietpi-drive_manager#L497-L507

On the rpi, adding ```rootdelay=10``` to ```cmdline.txt``` helps resolve this. Try doing ```rootdelay=10``` to ```boot.ini```, in line ```setenv bootr

[2017-05-23 21:04] sootstone commented on #797
[Koel Documentation](https://koel.phanan.net/docs/#/?id=installation)

**Unofficial:** How to set up [Koel](https://github.com/phanan/koel) with Apache and MySQL on DietPi. Tested with Odroid XU4.

Note: Koel is included in dietpi-software as of v151. This only for those who want to combine Koel with a web server.

1. Install a **LAMP** stack, **Node.js**, **FFmpeg**, **Build-Essential** and optio

[2017-05-23 22:27] joaofl commented on #926
@Fourdee

It worked. Thanks!

Thats true. But it did not work for me, because I had to interrupt the rsync with ctrl+c. This because it blocked during the copy, most probably because of some badblocks on the sd card. So maybe, if this part of the code comes after the rsync.... But anyway, thats not a big deal.

4.9.28 is available by meveric, should the update happen seamlessly?

blkid
[code]

fst

[2017-05-23 22:58] Invictaz commented on #952
![image](https://cloud.githubusercontent.com/assets/20338545/26379951/0d7723ea-401c-11e7-9ea1-7623edc66e89.png)

[2017-05-23 23:03] Invictaz commented on #952
Setting is already at KODI setting 128mb GPU / 384MB RAM

@Fourdee some opt to go to 160 or even 256 MB GPU?

Can that be done on Pi Zero?

[2017-05-23 23:17] Invictaz commented on #952
This problem is quite big and maybe not present in newer Kodi's. But I prefer to stay on 15.

http://forum.kodi.tv/showthread.php?tid=268099
https://www.raspberrypi.org/forums/viewtopic.php?f=91&t=91111
https://www.raspberrypi.org/forums/viewtopic.php?f=28&t=131742
https://www.raspberrypi.org/forums/viewtopic.php?f=28&t=139758
https://www.raspberrypi.org/forums/viewtopic.php?f=35&t=17473
http://fo

[2017-05-24 00:15] Invictaz commented on #952
@Fourdee

The problem is partially fixed by reinstalling LXDE. Black screen on exit is gone then.
Also the DietPi-Config / DietPi-Launcher and DietPi-Software shortcuts now work :+1:

Both kodi-standalone and startkodi work.

Shortcut is fixed by following this tutorial
https://www.raspberrypi.org/forums/viewtopic.php?t=99866

sudo nano /usr/share/applications/kodi.desktop
Add the stuff below and

[2017-05-24 07:50] danriches commented on #975
There is a problem with using the drive manager as I can't mount by name only by uuid, I need this to be a name such as DISK and shared out on samba. Otherwise all my products will need the usb devices serial number set on format and not just a nice quick and easy rename. As I've said, this works like a charm on Raspbian Jessie and the only extra thing I need is to make the rootfs readonly which h

[2017-05-24 09:30] sootstone commented on #799
Thinking we probably don't need this since the [wizard installation](https://octobercms.com/docs/setup/installation#wizard-installation) makes it pretty straight forward.

[2017-05-24 10:24] Fourdee commented on #797
@sootstone

Nice one, looks good 👍

I'll test your notes and convert it into DietPi-Software.

[2017-05-24 11:40] Fourdee commented on #926
@joaofl

Ah yes, I see, not much we can do about ctrl+c.

For now, you'll need to install/update these manually. Meveric is due to update his repo, replacing the current linux packages to 4.9. Once done, ```apt-get upgrade``` would do it.

[2017-05-24 11:41] #934 closed, assigned to nobody

[2017-05-24 11:42] Fourdee commented on #969
As unable to replicate on our current images, i'll mark this resolved.

[2017-05-24 11:42] #969 closed, assigned to nobody

[2017-05-24 11:43] Fourdee commented on #961
Marking as resolved. Please reopen if required.

[2017-05-24 11:43] #961 closed, assigned to nobody

[2017-05-24 11:46] Fourdee commented on #950
@vd

```name=``` having no effect will be fixed in v151:
https://github.com/Fourdee/DietPi/issues/962#issuecomment-301735237

```/usr/local/etc/shairport-sync.conf``` is the correct location for shairport-sync config.

I'll mark this as closed.

[2017-05-24 11:46] #950 closed, assigned to nobody

[2017-05-24 11:48] Fourdee commented on #797
notes:

Requires:
- nodejs
- lxmp stack
- Python/build-essential (for ```npm install```)
- ffmpeg for transcoding

[2017-05-24 12:35] sootstone commented on #797
@Fourdee

Nice :+1:

([this](https://gist.github.com/jbheren/5c58b8488e0c47e6063cdcbe599c2ce1) might help)

[2017-05-24 13:50] sootstone commented on #797
Edited mistake in virtual host

to

`AllowOverride All`

[2017-05-24 22:47] sfb2 commented on #797
very interesting "software/project" this Koel!!

unfortunately same here: got an "css/app-css not defined in asset manifest"
(Node.js 7.10 installed/ Composer 1.4.2))

[2017-05-25 03:25] msdos opened #976 "Documentation | Write to SD card using macOS"
In these instructions, there's no suggestion for macOS

http://dietpi.com/phpbb/viewtopic.php?f=8&t=9#p9

There's a small application with a GUI interface that can do it:

https://www.tweaking4all.com/software/macosx-software/macosx-apple-pi-baker/

![screen shot 2017-05-25 at 00 20 00](https://cloud.githubusercontent.com/assets/489034/26434615/0550b0e0-40e0-11e7-85bb-11d93e7955ff.png)

I've only

[2017-05-25 09:06] sootstone commented on #797
@sfb2

Did you install with [Yarn](https://yarnpkg.com/en/)? That's the only supported installation method at the moment as far as I'm aware, you'll receive a lot of errors otherwise.

[2017-05-25 09:17] sootstone commented on #976
Nice idea :+1:

While on this subject, I see quite a few distros recommending [Etcher](https://etcher.io/) now (even Raspbian), which could be a nice way to standardize the installation across Windows, Linux and OSX.

[2017-05-25 11:11] sfb2 commented on #797
I did exactly the steps you posted..many many thx btw.: great "tutorial"..!!
yes, i installed with Yarn, but maybe an old version ? 0.15.4 or something ? could really be the problem..
installed the steps here on a "normal" Xubuntu 16.04 (PC) and under Raspbian Jessie (RPI)..
guess, i have to make it completely/fresh again..
but many thx for your hint here !!; guess also Koel is a great piece of st

[2017-05-25 11:55] Fourdee commented on #797
- 🈯️ Lighttpd
- 🈯️ Nginx
- 🈯️ Apache2
- Online Doc: http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=7305#p7305

[2017-05-25 12:22] Fourdee commented on #797
Completed.

[2017-05-25 12:22] #797 closed, assigned to nobody

[2017-05-25 13:01] sootstone commented on #797
@sfb2

No problem! Glad you could get it working.

[2017-05-25 13:12] sootstone commented on #797
Great job @Fourdee, looks awesome! :+1:

I'm probably going to stick with my own setup for personal use so I can customize it for Apache, but yours is perfect for DietPi users. Hope you don't mind if I steal some of it?

[2017-05-25 13:18] it-praktyk opened #977 "DietPi doesn't boot on Orange Pi Plus 2"
An image downloaded today doesn't boot on Orange Pi Plus 2

Boot log from serial console

[code]

[2017-05-25 15:20] Fourdee commented on #977
@it-praktyk

Thanks for the report 👍

Can you please try the following script.bin:
- Write a fresh DietPi image
- Download http://dietpi.com/downloads/binaries/fex_bin/orangepiplus2e.bin
- Save to ```/boot/script.bin```
- Power on system

[2017-05-25 16:54] it-praktyk commented on #977
I did but without positive effect.

[code]

[2017-05-25 17:08] #952 closed, assigned to nobody

[2017-05-25 23:46] msdos commented on #976
This seems really nice @sootstone, actually I think yours is a better idea 😆

[2017-05-26 10:18] Fourdee opened #978 "DietPi-Software | Remot3.it is now Weaved"
Many thanks to Manuel for heads up.

Requires use of updated binaries (limited to ARMv6/7 only):
http://forum.remot3.it/t/important-update-to-installer-for-raspberry-pi-users/1915

[2017-05-26 10:21] Fourdee opened #979 "DietPi-Software | MiniDLNA is now ReadyMedia"
Many thanks to Manuel for heads up.

Binaries (x86 only):
https://sourceforge.net/projects/minidlna/files/minidlna/1.2.0/

[2017-05-26 10:56] Fourdee commented on #978
New initial setup command:
[code]

[2017-05-26 11:15] Fourdee commented on #978
Online doc updated : http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=188#p188

[2017-05-26 11:30] Fourdee commented on #978
Completed.

[2017-05-26 11:30] #978 closed, assigned to nobody

[2017-05-26 11:54] Fourdee commented on #970
Hmm, I cant get any of my USB mass storage devices to boot with latest Raspbian:
Raspbian Lite 2017-04-10:
- 🈴 No boot with SanDisk SDCZ43-032G-G46 Ultra Fit USB Flash Drive USB
- 🈴 No boot with Lexar JumpDrive S45 16 GB

---

- 🈯️ Ok, so prior to using USB boot, you must boot the device once with ```program_usb_boot_mode=1``` added to ```/boot/config.txt``` (```/DietPi/config.txt``` if powered on

[2017-05-26 15:27] Fourdee commented on #970
New RPi image live with USB boot support (still requires bit set prior https://github.com/Fourdee/DietPi/issues/970#issuecomment-304264851):
http://dietpi.com/downloads/images/DietPi_RPi-armv6-(Jessie).7z

[2017-05-26 15:37] k-plan commented on #970
@Fourdee

have you missed [this](https://github.com/Fourdee/DietPi/issues/509#issuecomment-246734927)?

- Yes, USB boot without a SD Card only for RPi3.

- Yes, you have first to change OTP value to `17:3020000a` by  adding `program_usb_boot_mode=1` to `config.txt` and reboot.

- And OTP changes can not undo !!
_(BTW: -if something goes wrong by changing OTP value, you loosing RPi functionality e.

[2017-05-26 16:02] Fourdee commented on #970
@k-plan

(BTW: -if something goes wrong by changing OTP value, you loosing RPi functionality e.g. onboard WiFi - sadly self tested!)

Wasn't aware of that! Thanks for the heads up.

I personally wont be using USB boot/rootfs due to USB + Eth bandwidth shared. But, at the very least we need to offer and support this "functionality" to our users with the updated image/sourcecode (which is now comple

[2017-05-26 17:50] Elluminatus opened #980 "DietPi-Software | RPi.GPIO for Banana Pi Pro"
Hi,

is it possible to get RPi.GPIO for Banana Pi Pro. Still missing this software to implement buttons to reboot and halt -p the server. Same software is runing on an other Banana Pi with no problems.

Thank you.

Elluminatus

[2017-05-26 18:27] Fourdee commented on #797
@sootstone

By all means 👍 Its based on your install notes, without which, wouldn't be possible :)

[2017-05-27 10:10] Fourdee commented on #968
The order + amount of ```/sys/class/leds``` entries change when devices are attached (eg: keyboard). So we need to match names in the save file to prevent incorrect LED triggers being applied.

[2017-05-27 10:49] Fourdee commented on #968
Done.

[2017-05-27 10:49] #968 closed, assigned to Fourdee

[2017-05-27 10:57] Fourdee commented on #977
@it-praktyk

Yep, looks broken. Either a hardware failure (try a different image to verify), or, our **OPi Plus** image is now incompatible with **Plus 2**.

When we created the image for **OPi Plus**, users reported it worked with **OPi Plus 2** (hence the shared image). Although, we do not own a **OPi Plus 2** at this time, so unable to debug/generate a "true" image.

[2017-05-27 10:57] Fourdee commented on #970
Completed.

[2017-05-27 10:57] #970 closed, assigned to Fourdee

[2017-05-27 10:59] Fourdee commented on #932
Marking as known issue, please reopen if required.

[2017-05-27 10:59] #932 closed, assigned to nobody

[2017-05-27 11:08] Fourdee commented on #976
@msdos

Agree 👍

@sootstone

I've updated our online doc for Etcher, seemed the best choice for all OS's
http://dietpi.com/phpbb/viewtopic.php?f=8&t=9&p=9#p9

I'll mark this as closed.

[2017-05-27 11:08] #976 closed, assigned to nobody

[2017-05-27 11:10] it-praktyk commented on #977
The board boot when I use armbian. You can try instruct me how we can test/build - I've some Linux knowledge too.

@cbbc can you help?

[2017-05-27 11:15] Fourdee commented on #979
We'll stick with apt for installing MiniDLNA. I'll update references to "ReadyMedia / MiniDLNA"

[2017-05-27 11:19] Fourdee commented on #979
Online doc updated: http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=49#p49

[2017-05-27 11:20] Fourdee commented on #979
Completed.

[2017-05-27 11:20] #979 closed, assigned to nobody

[2017-05-27 11:23] Fourdee commented on #977
@it-praktyk
Yep, you'll need to build a ARMbian Debian Jessie Server image for the OPi Plus 2 (https://github.com/armbian/build).

Once done, write to SD card then run through (using the testing branch for scripts):
https://github.com/Fourdee/DietPi/blob/testing/PREP_SYSTEM_FOR_DIETPI.sh

Once completed, read to image file.

[2017-05-27 12:33] enolp opened #981 "Read-only file system on RPi 3 after finishing the first-run configuration"
I submitted a bug report using dietpi-bugreport, here is the reference code: 4159ed3d-b43c-4d0b-8ef7-6d98f9e533c4-0

I think is not necessary to explain the problem here if I did that bug report, but i forgot to mention in the "Additional notes" section that probably an updated DietPi ISO will solve my issue.

[2017-05-27 14:38] Fourdee commented on #876
Completed.

[2017-05-27 14:38] #876 closed, assigned to Fourdee

[2017-05-27 14:39] Fourdee commented on #981
@enolp

Thanks 👍

I'll take a look at your bug report and see whats up.

[2017-05-27 14:42] Fourdee commented on #981
@enolp

It sounds like a kernel remount to RO, to prevent further damage to file-system.

You said you tried 2 new SD cards. Can you:
- List the brand of SD card
- List the Power Supply used

I'll try to replicate on a fresh install with my RPi 3.
- 🈯️ Unable to replicate FS recovery/RO on fresh install.

---

FS recovery occurred on your system.
[code]

[2017-05-27 15:17] enolp commented on #981
My MicroSD cards brands are:

SAMSUNG 16GB EVO MicroSDHC I Class 10
Lexar 16GB 300x MicroSDHC I Class 10

Finally, the power supply I use is a TONTEC T520LE  input:100-240V-50/60Hz 0.5A output: 5V - 2A

That's strange because when Dietpi starts for the first time, it works perfectly fine and all partitions are resized successfully, as well as the creation of the swap file.

[2017-05-27 15:48] Fourdee commented on #981
@enolp
I believe this is hardware related (as for what that is, most likely PSU). Unstable system, causing filesystem errors and hence the read only mode to recover.

To exclude SD card's. Try full formatting the SD card, prior to image write (some users report success with this):
https://github.com/Fourdee/DietPi/issues/769#issuecomment-283030267

Failing that, check voltage of PSU output to ensu

[2017-05-27 15:50] Fourdee opened #982 "DietPi-Software | MQTT not functional?"
Run tests to replicate/confirm/resolve.

[2017-05-27 15:51] k-plan commented on #970
@Fourdee

Experience and testing results:

[code]

[code]
- SD-card: [SanDisk Extreme PLUS 16 GB microSDHC U3](https://www.amazon.de/SanDisk-Extreme-microSDHC-Speicherkarte-SD-Adapter/dp/B010NE3ND8)

![170527-0001](https://cloud.githubusercontent.com/assets/17237601/26522316/24cfbd60-42fe-11e7-8e19-a9136928070e.gif)

------------------------------------

[code]

- USB flash drive: [SanDisk Ultra F

[2017-05-27 16:03] enolp commented on #940
Sorry for not replying but yes, all worked fine. I did a fresh install and used Lighttpd, MariaDB and PHP as my choice.

[2017-05-27 16:10] k-plan commented on #981
In my experience, this cards, the old black one and the new white/orange are very picky.
I don't like to use this any more.

[The Raspberry Pi Foundation say](https://www.raspberrypi.org/documentation/hardware/raspberrypi/power/README.md),  a RPi 3 have to be powered by a +5.1V PSU, that purchasing a 2.5A  output.
Voltage input on the device with a stable 5.1 V is really important! You can measure

[2017-05-27 16:24] k-plan commented on #965
_gaye746560359_:

---------------------

_nickfox-taterli_:

-------------------

Can we close this?

[2017-05-27 16:24] #965 closed, assigned to nobody

[2017-05-27 19:06] enolp commented on #981
I have a RPi 2 and the RPi 3, so I compared the power supply which they was using and I noted that my RPi 2 was using the RPi 3 power supply, so I reinstalled again Dietpi but same result when updating.

@Fourdee I use Linux so I cannot use Windows program unless I create a virtual machine. Any alternatives?

[2017-05-27 21:12] msdos commented on #719
I received the same error, but I think the problem is the SD card, it's a **really old** 2gb with only DietPi Jessie installed for the first time. I'm going to stop using the card instead of spending more time with it. I'm posting here just to say that `dmesg` gives me info as well, maybe it's useful for your debugging approaches.

[code]

[2017-05-27 22:40] msdos commented on #254
Is the wifi connection `DietPi-HotSpot` hidden? If I go to `dietpi-config` it's there, but devices can't see it.

[2017-05-28 11:34] Fourdee commented on #970
@k-plan

You can read out vcgencmd otp_dump | grep 17: and if it is not set (disabled), user can easy change it to enable , so it will put in /DietPi/config.txt once and force a reboot like you do, when changing the hostname.
This would be nice for users!
Do you want a new issue for this

Yep, sounds good, create the ticket 👍

[2017-05-28 11:37] Fourdee commented on #254
@msdos

Not hidden, SSID is broadcasted.

Check the service/adapter for any reported issues:
[code]

[2017-05-28 11:39] Fourdee commented on #981
@enolp

You can DD zero's to SD card, same effect. This assumes ```/dev/sda``` is your SD card, **change as needed**. Use ```blkid``` to list drives:
[code]

[2017-05-28 11:42] Fourdee commented on #981
@k-plan

I don't like to use this any more.

I had similar issues with the EVO (orange) card on RPi. Filesystem corruptions once or twice. Never used it since, back to Sandisk.

[2017-05-28 11:43] Fourdee commented on #940
@enolp

Thanks. I'll mark this as resolved. Please reopen if required.

[2017-05-28 11:43] #940 closed, assigned to nobody

[2017-05-28 11:51] k-plan opened #983 "DietPi-Config | Enable boot Raspberry Pi 3 from a USB mass storage device"
_Only for Raspberry Pi 3 !_

Would be nice to bring this feature into `dietpi-config` for easy users experience.

Please make a hint, to be warned that this feature is experimental and does not work with all USB mass storage devices. And it will done at owner's risk!

It's possible read out `vcgencmd otp_dump | grep 17:` and if it is not set ( `17:1020000a` => not enabled USB MSD), user can easy c

[2017-05-28 12:17] k-plan commented on #970
@Fourdee

Done, see:  https://github.com/Fourdee/DietPi/issues/983

[2017-05-28 13:59] enolp commented on #981
Well, I ordered an official Raspberry Pi power supply so I hope my problem gets solved. Anyway I'll fill with zeros my Lexar MicroSD because the EVO is in use on the other RPi 2, and update this issue when I have new results.

[2017-05-28 16:52] msdos commented on #254
[code]

**May 27 22:17:24 DietPi hostapd[1158]: Starting advanced IEEE 802.11 management: hostapd failed!**

So if I try to run `sudo hostapd -d /etc/hostapd/hostapd.conf`:

[code]

**nl80211: Driver does not support authentication/association or connect commands**

`lsusb`

[code]

[code]
I'm using a fresh installed DietPi, with no custom drivers. This is a raspberry 1 model with a wifi dongle. S

[2017-05-28 17:38] newdietpi opened #984 "Dietpi pihole orange pi one not fully installing"
Install pihole via dietpi on the orange pi one doesn't fully install. Two steps I noticed missing was the setup web interface and either the screen before/after it. Installing via curl works.

[2017-05-29 09:48] DJCrashdummy opened #985 "get DietPi mentioned by Kodi"
_just my 2 cents!_

maybe we should try to get DietPi mentioned by Kodi at some places?

i know DietPi is not built for media(-center)/HTPC in first place, but i think also for beginners it is pretty easy to get Kodi installed and running via/on DietPi, the performance is pretty good and the number of supported devices is pretty big compared to other [listed OSes by Kodi](http://kodi.wiki/view/JeO

[2017-05-29 11:54] Fourdee commented on #983
Notes:
- @k-plan, confirmed this is a one time setting and non-reversible. ```program_usb_boot_mode=0``` has no effect.
-
![image](https://cloud.githubusercontent.com/assets/7077026/26549104/40ba7926-446f-11e7-8dc0-fdede0787e44.png)

[2017-05-29 13:06] Fourdee commented on #983
🈯️ Tested on my last RPi 3 that had no bit set.

Completed.

[2017-05-29 13:06] #983 closed, assigned to nobody

[2017-05-29 13:17] Fourdee commented on #984
@newdietpi

Thanks for the report 👍

Our installation uses the same installer:  http://install.pi-hole.net. However, we use ```wget``` (which is installed by default on all DietPi systems):
https://github.com/Fourdee/DietPi/blob/master/dietpi/dietpi-software#L4172-L4195

---

Unable to replicate this in our tests.

- Did you see the following prompt during install?
![image](https://cloud.githubuse

[2017-05-29 13:47] Fourdee commented on #254
@msdos

nl80211 driver initialization failed.

Yep, try:
[code]

If that still fails, you may need to install our compiled hostapd with support for the ```RT8188C ``` device (might be same for 8188eu). We check for this during install but only for ```RT8188C ``` :
https://github.com/Fourdee/DietPi/blob/master/dietpi/dietpi-software#L5003-L5008

In ```/DietPi/dietpi/dietpi-software```. Remove the l

[2017-05-29 13:57] Fourdee commented on #954
synced.
[code]

- if we convert to systemd-timesyncd:
[code]

- convert run_ntpd to check_ntp
- patch new cron jobs

---

- 🈺 Slow to sync after reboot. Takes roughly 60 seconds from a fresh boot for ```timedatectl``` to confirm time synced.

[2017-05-29 15:15] newdietpi commented on #984
I replicated the error again last night with a fresh install of dietpi.

I noticed if you select to install pi-hole during the initial dietpi setup vs installing it after it is hit or miss.

I believe it's a combination of the following.

You have to choose not to install pi-hole during the initial dietpi setup then install pi-hole from dietpi afterwards which may work. I was able to get this work

[2017-05-29 15:18] newdietpi commented on #984
It's not as smooth installing it on the opi one vs my rpi3 for some reason, I can install it during the initial dietpi everytime on my rpi3 whereas I have to do the above with my opi one

[2017-05-29 15:31] DJCrashdummy commented on #964
_sorry for my late reply, i was really busy in the last weeks._

@Fourdee

thanks for the detailed info! i just started using DietPi months ago, so i had no clue that RetroPie was already in `dietpi-software` and got removed...

@k-plan

from my side it was just a question, because it was not obvious to me why they are on hold. (and i accept that the "feature-request" is rejected for a good reason

[2017-05-29 17:25] Fourdee commented on #984
@newdietpi

Second time didn't work. I installed pi-hole during the initial dietpi setup, which didn't work. Uninstalled then installed which did via dietpi. Was able login using /pihole
Third time I did the same as the second but used curl which worked.

Thanks for the info 👍
I'll try to duplicate your tests and see if we can find the cause.

[2017-05-29 17:28] Fourdee opened #986 "Offer OPi PC 4.x NR image"

[2017-05-29 18:14] DJCrashdummy commented on #973
well i'm not sure if it is appropriate to mention it here, but what about [zuluCrypt](https://mhogomchungu.github.io/zuluCrypt/)?

it has a CLI and a GUI, is translated into several languages and since debian stretch (9.0) it is also available via the repositories.

so i guess this issue will be solved on it's own at the latest by porting to debian stretch without any additional work, extra compil

[2017-05-29 18:36] WolfganP commented on #973
My 2 cents on the discussion. Veracrypt is multiplatform, meaning you can move the virtual drives between platforms when needed, and it was properly audited for security last year (http://blog.quarkslab.com/security-assessment-of-veracrypt-fixes-and-evolutions-from-truecrypt.html), plus there's experience around on installing it on a raspberry (ie https://randomgooby.wordpress.com/2016/09/10/quick

[2017-05-29 19:48] DJCrashdummy commented on #973
@WolfganP i think you missed the point: _(a software and a format are two different things!)_

- zuluCrypt is just a software and about working with VeraCrypt-drives and even others, so it is more flexible than the VeraCrypt-software itself. - ...on other OSes you can/must stay with the VeraCrypt-software to read VeraCrypt-drives.
- when providing for and installing on debian stretch there is no (

[2017-05-30 06:46] p3p1 commented on #625
I can confirm that kodi works perferctly under LXDE, in XFCE I had a problem about the audio but I think it's connected to fact that the XFCE is started with root user. I still have a problem but I can't understand the reason: when kodi is launched from LXDE works well, but any other service (ssh,home assistant,nginx) is stucked.  I will try with a fresh install in the weekend. Anyway thanks for t

[2017-05-30 16:04] Fourdee commented on #926
Meveric has provided apt packages for Kodi 17, needs testing:
https://forum.odroid.com/viewtopic.php?p=191780#p191780

[2017-05-31 04:29] #984 closed, assigned to nobody

[2017-05-31 14:32] kGitsov opened #987 "Kodi is not listed in software"
Hi there,

Installed DietPi recently but I noticed that there is no Kodi included in software, so I run into searching how to include. In DietPi software selection secton is not included, and when I try to install it from terminal it isn't successfully installed and can't run. I run OpeneElec with no problems before DietPi. Is it video driver problem?  What do I have to do?
I'm using Orange Pi PC

[2017-05-31 14:49] Fourdee commented on #987
@kGitsov

GPU features are not currently supported on this image. Ideal for server usage.
https://github.com/Fourdee/DietPi/issues/891

[2017-05-31 15:01] kGitsov commented on #987
@Fourdee

Is it possible to upgrade manually with a certain risk? I'm still testing the enviroment :)

[2017-05-31 15:04] Fourdee commented on #954
systemd-timesyncd is far too slow to verify sync (60's <>). We'll stick with NTP for now (10's <>), but i'll increase wait time to 30's (from 20), for slow DHCP ack's and slow connections.

[2017-05-31 15:04] #954 closed, assigned to nobody

[2017-05-31 17:21] Fourdee commented on #986
Dev image, put packages on hold:
[code]

[2017-05-31 17:49] Fourdee commented on #986
🈯️ Image:
http://dietpi.com/downloads/images/no_release/(NR_4.x)_DietPi_OrangePiPC-armv7-(Jessie).7z

[2017-05-31 17:51] Fourdee commented on #986
Completed.

[2017-05-31 17:51] #986 closed, assigned to nobody

[2017-05-31 20:24] it-praktyk commented on #977
OK, I prepared the Armbian image. Now should I boot Orange Pi from it and the next use the script to "switch" to DietPI?

[2017-06-01 10:27] Fourdee commented on #987
@kGitsov

By all means, but you'll need to compile Mali driver and Kodi. See links in this post for various methods:
https://github.com/Fourdee/DietPi/issues/891#issue-223369049

[2017-06-01 10:29] Fourdee commented on #977
@it-praktyk

Yep. Don't forget to copy the required DietPi scripts to ```/boot```:
https://github.com/Fourdee/DietPi/blob/master/PREP_SYSTEM_FOR_DIETPI.sh#L8-L11

Then run through the commands in script above.

[2017-06-01 11:04] Invictaz commented on #865
@Fourdee 2.01 final was released.

Can you update it please?

https://github.com/sabnzbd/sabnzbd/releases/tag/2.0.1

[2017-06-01 11:34] Fourdee commented on #865
@Invictaz

Thanks for heads up 👍

Done. Test install fine aswell.

[2017-06-01 11:50] Fourdee opened #988 "DietPi-Software | jRiver"

[2017-06-01 12:14] oldpzman89old commented on #885
I realize this is closed and if you prefer me to go to dietpi forums I can but when I enter my mpg codec (I don't have a wvc1),  I still get "codec disabled" when running the "vcgencmd codec_enabled MPG2" command.  I triple checked with raspberrypi.com to make sure I have them the right serial and they said yes.  Any thoughts on what might be the issue?  The ramdisk DietPi/Config.txt definitely ha

[2017-06-01 14:19] Fourdee commented on #885
@pzman89

Thanks for the report 👍

I'll reopen this ticket and see if we can replicate.

[2017-06-01 16:21] Invictaz commented on #885
For me the WVC1 seems disabled in Movian (self compiled) MPEG2 does work.

[2017-06-01 16:54] oldpzman89old commented on #885
I was thinking of running a fresh copy of dietpi to see if it gets resolved but let me know if theres something you want me to check before trying.

[2017-06-01 19:48] #799 closed, assigned to nobody

[2017-06-01 20:44] sootstone commented on #797
Updated for future reference.

[2017-06-01 21:03] molnarti commented on #974
does the uninstall/reinstall procedure maintain the nextcloud settings? like user, data location, quota, apps, etc. or a complete setup from scratch is needed?

[2017-06-01 23:03] oldpzman89old commented on #885
@Fourdee still a no go after a fresh DietPi install.  It doesn't even save my key through the interface, I have to manually enter it in /Dietpi/config.txt.  Even then, it still reports disabled.

[2017-06-01 23:48] Hibryda opened #990 "4.9 kernel | NFS hangs system in some instances"
I have Odroid cloudshell with DietPi. Today I noticed strange situation - it hangs during rsync (or any other mass copy operation) via NFS.
in ```/var/log/netdata/error.log``` I found this:
[code]
What is wrong (yes, packet storm, but why?)

[2017-06-02 08:35] Sirse commented on #718
Why i can't install MotionEYE on Orange Pi One/PC?
UPD: MotionEyeOS unsupports OrangePI, but it can be installed on armbian (https://forum.armbian.com/index.php?/topic/2168-motioneye-opi/).
I will try install it manually today.

[2017-06-02 08:59] Fourdee commented on #885
@pzman89

Thanks, i'll try to replicate.

If its still reporting disabled, might be an issue with current kernel (4.9). I'll check with 4.4.

[2017-06-02 10:23] Fourdee commented on #885
- Ok, possible bug with adding the entries, not generating the required line in ```config.txt```. I'll get that fixed.
- Updated RPi kernel/firmware through apt, currently 4.9, same issue with status disabled.

[2017-06-02 11:46] oldpzman89old commented on #885
@Fourdee You might be right about the kernel.  I installed raspbian, which has kernel 4.4.50 and added the key via config editor in NOOBS and its reporting as enabled.

[2017-06-02 12:06] Fourdee commented on #974
Nope. SQL DB + ```/var/www/nextcloud``` is dropped during uninstall.

Unless NextCloud UI has a feature to update, a fresh reinstall is required.

[2017-06-02 12:16] Fourdee commented on #990
I've experienced this when a connection to NFS server is unavailable, it will hang file IO commands. Is the hang longer than 1minute? (thinking HDD spun down on server).

Either way
- Ping the NFS server to ensure its online
- check ```dmesg``` for any clues relating to IO/NFS/NET.
- If CIFS compatible, try this protocol, its more stable during temporary disconnects.

As for the NetData errors, no

[2017-06-02 12:17] Fourdee commented on #885
@pzman89

You beat me to it 👍  just installed Jessie lite to run the same tests lol. I'll see if I can confirm.

[2017-06-02 12:37] tatoosh opened #991 "koel installation failed"
DietPi v150 to 151 updated and reboot on raspberry pi 2
installed koel via dietpi-software -> got Exception, Screenshot1
http://i.imgur.com/Xmryoij.jpg
Error from Website:
http://i.imgur.com/v31OPX8.jpg

[2017-06-02 12:48] Fourdee commented on #885
Raspian lite:
- 🈯️ ```4.4.50-v7+```
- 🈯️ ```apt-get upgrade``` = ``` 4.9.24-v7+```
- 🈯️ Install DietPi Kernel

Strange.

---

[code]

[code]

---

- 🈴 Use of dietpi ```config.txt``` with entries
- 🈯️ Use of original Raspbian ```config.txt``` with entries
- diff: https://www.diffchecker.com/7hcq6c0i
- 🈴 Set GPU mem to 16MB
- 🈯️ Set GPU mem to 32MB

[2017-06-02 13:12] enolp commented on #981
UPDATE:

It seems you were right, I received my official Raspberry Pi power supply and after doing some tests, i can conclude all is working fine.

You can close this issue.

[2017-06-02 13:34] enolp opened #992 "Wi-Fi devices cannot get a IP addresses using a RPi 3 as a hotspot and Pi-hole acting as DHCP server"
I'm unable to get IP addresses on my Wi-Fi devices setting a Raspberry Pi 3 as a Wi-Fi hotspot and also, Pi-hole acting as a DHCP server.

ics-dhcp-service fail to load at startup and i tried to mask it to see if that solves my problem but it doesn't. However, I went into dietpi-config in order to configure my Wi-Fi hotspot but there is a limited number of options, and I couldn't disable de DHCP o

[2017-06-02 13:52] Sirse commented on #718
It installs on Orange PI, web interface works, service are handled by DietPI, but motion don't work:
[code]
I don't can find, how to install required libs =(

*Required modules for stock OrangePI cam:
gc2035
vfe_v4l2
*

[2017-06-02 16:11] MichaIng commented on #894
+1
Chose a webserver stack now (LAAP) to assure that mariadb will be used as db, but now some error occurred on rpi stretch beta: dietpi-services shows mariadb AND mysql and tries to handle (start/stop/restart) both of them, where mariadb fails. Nevertheless the mysql service actually IS mariadb, which can be seen through version info, nextcloud webui etc.
This error might be caused by choosing st

[2017-06-02 16:28] MichaIng commented on #475
I faced two problems with this image:

1. During dietpi-software installation process some warning is shown about "`--force-yes is deprecated`" and options with "`allow`" should be used instead.

2. I use dietpi to run nextcloud on my pi2. Chose LAAP webserver stack to assure that mariadb will be used. It is not yet possible to chose preferred database like webserver itself -> Separate issue alrea

[2017-06-02 18:02] Hibryda commented on #990
@Fourdee The point is that Odroid acts as NFS server in my setup. And it hangs without any clue given except this log (even heartbeat LED stops blinking) while being fed with data. Cannot investigate further as no other logs show anything useful. My board is XU4.

[2017-06-02 20:15] MichaIng commented on #475
About missing `apc.php` with PHP7+, which results in some dummy file will be used instead:

There is some `apc.php` on github which is working well with my dietpi rpi stretch PHP7 setup: https://github.com/krakjoe/apcu/blob/master/apc.php

[2017-06-02 22:01] MichaIng opened #993 "List of apt dependencies for dietpi modules | apt-mark auto if possible"
It would be great the have a list of all (apt/debian) packages, that are necessary to run the dietpi scripts/commands and for which script/command they are needed.

On top of that, if something is not necessary to run a script/command, but enhances it's functionality in whatever way, this would be also helpful to know. So at long last I would be interested in the reasons for why which package is p

[2017-06-03 05:50] it-praktyk commented on #977
I did it.

Transcript you can find here: https://gist.github.com/it-praktyk/692d607ab45d26cb4af0321f3e8f6380

Final command can't be found :-/

[code]
Yes, I didn't debug it yet - just complain ;-)

[2017-06-03 10:25] MichaIng opened #994 "[Rpi] raspberrypi specific packages kept back during dist-upgrade"
Observed this on Raspberry Pi 2 with dietpi Jessie and Stretch Beta:
[code]
Is this intended to avoid firmware related issues and force it's upgrade via dietpi-update/software?

[2017-06-03 11:16] Fourdee commented on #981
@enolp

Great to hear 👍

[2017-06-03 11:16] #981 closed, assigned to nobody

[2017-06-03 11:27] Fourdee commented on #475
@MichaIng

Thanks for this 👍
I've tested with Jessie and seems compatible. I'll update the code with new link.

[2017-06-03 11:41] lubeda opened #995 "DietPi Image | OrangePI Plus 2E"
Please Provide a Version for the OrangePI Plus 2E.

[2017-06-03 11:46] Fourdee commented on #991
@tatoosh

Thanks for the report 👍

Seems SQL is installed fine and DB created. Most likely something went wrong during Koel's installation with ```npm``` and/or ```composer```.

I'll run some tests here and try to replicate.

In the mean time, can you try uninstalling Koel and installing again?
[code]

[2017-06-03 12:08] Fourdee commented on #977
@it-praktyk

Looks like DietPi-RAMdisk failed to start. Everything past this point would fail with filepath of ```/DietPi```. We need to see why this failed:
[code]

And might be worth checking mount for ```/DietPi``` is up at this point:
[code]

[2017-06-03 12:13] Fourdee commented on #990
@Hibryda

Severe hardware/kernel failure if heartbeat is stopping and no info output on HDMI.

Are you running the 6A PSU with cloudshell + XU4? 4A doesn't cut it, especially if HDD attached. I had no end of problems myself and had to upgrade to a 5v/8A PSU for stability.

Failing that:
- does the system hang only when NFS server running?
- might be worth giving the 4.9 kernel image a test run: ht

[2017-06-03 12:17] Fourdee commented on #994
@MichaIng

Packages are placed on hold, to prevent them overwriting the DietPi RPi kernel (4.9), which is installed by default on RPi's.

Our DietPi kernel is currently the same as per official, however, we enabled 384KHz audio output.

[2017-06-03 12:41] Fourdee commented on #993
@MichaIng

Heres the core list, required to run DietPi (excluding standard system packages in Debian):
https://github.com/Fourdee/DietPi/blob/master/PREP_SYSTEM_FOR_DIETPI.sh#L126

Bluetooth is installed if the hardware has onboard BT. The packages can be removed if not required:
https://github.com/Fourdee/DietPi/blob/master/PREP_SYSTEM_FOR_DIETPI.sh#L128-L129

[2017-06-03 12:44] Fourdee commented on #995
@lubeda

Unfortunately, I do not have access to this device, at this time. This prevents us creating the image and supporting the device.

@it-praktyk is having a go at creating the image. See below:
https://github.com/Fourdee/DietPi/issues/977#issuecomment-305306245

[2017-06-03 12:45] Fourdee commented on #991
Fresh install tests:
- 🈯️ Odroid C2:
![image](https://cloud.githubusercontent.com/assets/7077026/26753492/643b44fe-485f-11e7-8cb8-3d7cf92a9a9e.png)
- 🈯️ RPi 3

@tatoosh
Unable to replicate our end on fresh install. Maybe there is a conflict with other software installed on system. Can you list installed software on your device?
[code]

[2017-06-03 13:02] elRadix commented on #991
can you avoid adjusting  "[Ok] gpumemsplit 64 | Completed" as it is conflicting with kodi where as kodi requires a higher gpu memsplit

[2017-06-03 13:47] enolp commented on #992
Doing a search on the internet to see how can I solve my issue, I found this article: https://frillip.com/using-your-raspberry-pi-3-as-a-wifi-access-point-with-hostapd/ which uses dnsmasq (instead of ics-dhcp-server) like pihole.

I'll do some tests because I think it is not complicated to do and that setup is easy to do.

UPDATE 0:

The tutorial seems to work but i cannot reach the internet. DHCP

[2017-06-03 17:11] MichaIng commented on #994
Ah that's true, I also watched repo kernel upgrade 4.4 override kernel 4.9 gained with rpi-update on official Raspbian image 😄.

[2017-06-03 17:30] MichaIng commented on #993
This is already helpful. Wifi, several filesystems and archiver packages are still included, but they are easy to figure out ;).

[2017-06-04 10:21] sfb2 commented on #991
(sorry, i´m not the master here, as said)
i also guess its a problem with yarn/npm/composer..had in the past almost the same problems,updated to the latest yarn/reinitialized/rebuilded all packages/dependencies->works..

[2017-06-04 10:49] Hibryda commented on #990
@Fourdee I have 6A PSU as well as even bigger one (22A) for several devices. It's not a matter of power supply - there is no sudden power surge, already checked that.
Yes, the system hangs only on NFS.
As to 4.9 - I use this kernel already due to main fan being unresponsive in lower kernels.

[2017-06-04 11:22] Fourdee commented on #990
As to 4.9 - I use this kernel already

@Hibryda

It could be a bug with the 4.9 kernel. Have you tried NFS with 3.x kernel?

[2017-06-04 11:25] Fourdee commented on #991
@elRadix

If Kodi was installed through DietPi-Software, 128MB GPU will be applied, during current software installs and all future ones:
https://github.com/Fourdee/DietPi/blob/master/dietpi/dietpi-software#L10477-L10484

[2017-06-04 11:40] Fourdee commented on #992
@enolp

This is near exact same as the DietPi-Software: WiFi Hotspot installer.

https://www.reddit.com/r/pihole/comments/4fdcb2/turn_raspberry_pi_into_a_adblocking_wifi_router/

[2017-06-04 12:51] Fourdee opened #996 "DietPi-Config | decode_MPG2 decode_WVC1 : Reports disabled with 16MB GPU split"

[2017-06-04 12:53] Fourdee commented on #885
I'll mark this as closed and finish up with new ticket:
https://github.com/Fourdee/DietPi/issues/996

[2017-06-04 12:53] #885 closed, assigned to nobody

[2017-06-04 12:55] Fourdee commented on #996
```vcgencmd codec_enabled MPG2``` will report ```disabled```, if GPU memory split is set to 16MB. This is default on DietPi, unless software such as Kodi/Desktop is installed, in which case its automatically increased.

**32MB GPU memory split is minimum for this command to return ```Enabled```.**
Most likely due to VideoCore not fitting into 16MB, and therefor, not being loaded.

[2017-06-04 12:58] Fourdee commented on #996
As DietPi-Software will automatically increase GPU memory splits, dependent on software installed (eg: Kodi = 128MB, desktop = 64MB etc), i'll mark this as a non-dietpi/known issue.

[2017-06-04 12:58] #996 closed, assigned to nobody

[2017-06-04 14:21] Fourdee commented on #988
[code]

---

[code]

[2017-06-04 15:17] DJCrashdummy commented on #961
_sorry for my late reply, i was really busy in the last weeks._

oh sorry for bothering with this, you are right! but...

- a short message like **"no keyboard attached"** instead of just going back will prevent misunderstandings in the future; maybe some additional explanation like **"a specific layout can only be selected when a physical keyboard is attached."** will clarify everything.

- or at

[2017-06-04 15:49] Fourdee commented on #961
@DJCrashdummy

Nobody is a pro in Linux 😉. Its impossible to know everything, yet alone keep up with its constant evolution.

As far as I know, ```LANGUAGE``` = isn't used. ```LC_ALL=``` should not be empty, its the core locale variable.

This is a fresh install on Odroid C2, seems fine:
[code]

Can you double check the result (paste if you can)?
And also what was generated last time round:
[code]

[2017-06-04 19:11] DJCrashdummy commented on #961
in my point of view instead/additional a more accurate description for **`Keyboard`** like **`Change Keyboard LAYOUT Setting`** would be fine, since `Change Keyboard LANGUAGE Setting` could be mistakable or is even false, or am i wrong?

---

[code]

[code]
and also after changing back to en_GB:

[code]

although this is interesting, i doubt it is a bug (caused by DietPi) because i also noticed th

[2017-06-05 07:09] molnarti commented on #974
actually has and i used it in the past for minor updated (11.0.2 > 11.0.3), but for 12 it does not offer the upgrade

[2017-06-05 09:32] sootstone commented on #479
Certbot does now provide a plugin for nginx since last October [https://certbot.eff.org/docs/using.html#nginx](https://certbot.eff.org/docs/using.html#nginx)

It's still technically in alpha, but may be something worth considering?

**I have not tested this!** Might give it a go though.

[2017-06-05 11:58] k-plan commented on #992
@enolp

Better to start now from the scratch.

- write a new DiePi image on a sd card

- go through first installation process

- set up via `dietpi-config` eht0 interface with a static ip address, e.g 192.168.0.100, with correct default gateway and a valid dns server

- enable Onboard WiFi in  `dietpi-config`

- `reboot` your RPi3

- install via ` dietpi-software` WiFi Hotspot

- edit `nano /etc/

[2017-06-05 22:51] Invictaz commented on #996
@Fourdee my MPG2 reports fine but WVC1 does not. What can be the case?
Memory is sufficient

[2017-06-06 11:09] Fourdee commented on #961
@DJCrashdummy

👍 Makes more sense. I'll get that updated for next commit.

[2017-06-06 11:10] Fourdee commented on #961
Strange. We also pump this into ```/etc/environment``` to ensure we cover all bases, can you verify ```LC_ALL= LANG=```?
[code]

[2017-06-06 13:09] FireHelmet commented on #966
@Gravesy83, scripts sent to @Fourdee

[2017-06-06 16:44] Fourdee commented on #926
Meveric is updating the 3.10 kernel to support EMMC 5.1. To avoid this kernel overwriting the 4.9 kernel, users will need to put kernel packages on hold:
[code]

[2017-06-06 18:32] helio58 opened #997 "Dietpi Pi3 after update to 151 unable to remote desktop"
trying to "sudo apt-get install -f"
Getting
"Reading package lists... Done
Building dependency tree
Reading state information... Done
0 upgraded, 0 newly installed, 0 to remove and 53 not upgraded.
1 not fully installed or removed.
After this operation, 0 B of additional disk space will be used.
Setting up udev (215-17+deb8u7) ...
Error, MATCH expected but got ' ID_OUI_FROM_DATABASE=Genmark Automa

[2017-06-06 22:15] Gravesy83 commented on #966
Now this is a pleasant surprise after a boring vacation :-)
Many thanks for doing this.

[2017-06-07 11:30] Fourdee commented on #966
#### Sonarr Notes:
![image](https://user-images.githubusercontent.com/7077026/26876231-21407afe-4b7d-11e7-931c-0147cecae91a.png)

[code]

- 🈯️ User required to add indexers in web interface > settings > indexers
- 🈯️ Online Doc: http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=7455#p7455

[2017-06-07 14:21] MrHaCkEr opened #998 "Unable to Install Plex Media Server"
At the moment it's not possible to install Plex from the Interface

![image](https://user-images.githubusercontent.com/1058844/26883360-48853ba2-4b9d-11e7-9797-4cb149618733.png)

[2017-06-07 14:59] Fourdee commented on #966
#### Radarr Notes:
- 🈯️ Online Doc: http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=7457#p7457

[2017-06-07 15:03] FireHelmet commented on #966
@Fourdee , yes Health messages are normal. You need to add Download client and indexer in sonarr config.

For download client, you can use Nzbd client or p2p client like torrent. And for indexer you can use the built-in indexer or prefer Jackett.

[2017-06-07 15:04] Fourdee commented on #998
@MrHaCkEr

Thanks for the report 👍

We'll update the links.

[2017-06-07 15:24] Fourdee opened #999 "RPi | Add support for Allo Mini BOSS DAC, Allo Digione"
- Allo Digione requires kernel upgrade (4.9.27 currently):
https://github.com/raspberrypi/linux/blob/rpi-4.9.y/arch/arm/boot/dts/overlays/allo-digione-overlay.dts

- 🈯️ Allo Mini BOSS DAC is same driver as its parent. Update desc.

[2017-06-07 16:05] Fourdee commented on #966
@FireHelmet

Great work on the install scripts, many thanks for doing them, worked a charm 👍 :clinking_glasses:

Both tested, completed.

[2017-06-07 16:05] #966 closed, assigned to nobody

[2017-06-07 17:27] tatoosh commented on #991
@Fourdee:
 dietpi-software list | grep ' =2 '

[code]

dietpi-software uninstall 143

dietpi-software install 143

[code]

[2017-06-07 18:41] Invictaz commented on #987
@kGitsov Very interested if you can pull this off.

[2017-06-08 08:27] DJCrashdummy commented on #961
[code]
ok, here it is...
but just for completeness: on some other debian-based systems with empty `LC_ALL=` and `LANG=` i get with `cat /etc/environment` just the `PATH="..."`-variable.

[2017-06-08 10:47] Fourdee commented on #999
- 🈺 RPi3: Driver requires physical card? Yep.
[code]

[2017-06-08 11:23] Fourdee commented on #998
@MrHaCkEr

Fixed for v152. If you want to install Plex now, please update the following script:
[code]

Then install Plex with:
[code]

[2017-06-08 11:23] #998 closed, assigned to nobody

[2017-06-08 11:29] Fourdee commented on #977
I've updated all references to remove OPi Plus 2 from the OPi Plus image, as it appears its not longer compatible.

I'll mark this as closed.

@it-praktyk
If you want to try this again, please continue using this ticket:
https://github.com/Fourdee/DietPi/issues/995

[2017-06-08 11:29] #977 closed, assigned to nobody

[2017-06-08 11:37] Fourdee commented on #997
@helio58

Error, MATCH expected but got ' ID_OUI_FROM_DATABASE=Genmark Automation' in '/lib/udev/hwdb.d/20-OUI.hwdb':
Error, key/value pair expected but got ' ID_V' in '/lib/udev/hwdb.d/20-acpi-vendor.hwdb':
Unrecognized character \xAC; marked by <-- HERE after ($ndw_name<-- HERE near column 17 at /usr/sbin/addgroup line 719.

Looks like a possible dpkg install/script issue with ```udev``` package

[2017-06-08 11:41] Fourdee commented on #994
I'll mark this as closed, question has been answered.

[2017-06-08 11:41] #994 closed, assigned to nobody

[2017-06-08 11:41] Fourdee commented on #993
Marking as closed, question has been answered.

[2017-06-08 11:41] #993 closed, assigned to nobody

[2017-06-08 11:45] Fourdee commented on #942
I'll mark this as closed.

I check (and enable) the forum accounts for activation every day/2 days, where possible.

As for possible spam accounts, avoid using names such as ```exmdkfwiemfua``` and email addresses such as ```gooooieea..xoeckx@lol.unknownwebsite-thatdoesntwork.z```

[2017-06-08 11:45] #942 closed, assigned to nobody

[2017-06-08 12:04] Fourdee commented on #991
@tatoosh
Can you try installing the php-sqlite module:
[code]

If that was missing and installed successfully, please retry the installation:
[code]

[2017-06-08 12:37] tatoosh commented on #991
@Fourdee
php5-sqlite was already installed.

[2017-06-08 12:37] WolfganP commented on #998
I assume that the issues were observed in a VM, right? (due the target being amd64)
I have no issues installing plex on RPi2 via the custom dev2day repository.

[2017-06-08 12:46] MichaIng opened #1000 "[RPi Stretch] LAAP stack installs "mysql" AND "mariadb" services which disturb each other"
I use dietpi stretch to run nextcloud on my RPi2. Chose LAAP webserver stack to assure that mariadb will be used. It is not yet possible to chose preferred database like it is for webserver -> Separate issue already opened about that. Nevertheless depending on that or not, dietpi-services now tries to handle two database services "mysql" AND "mariadb". Actually mysql is not installed, at least not

[2017-06-08 12:58] Fourdee commented on #998
@WolfganP

Yep, the VM installer pulls directly from plex.tv download url. All other devices are apt/repo based.

[2017-06-08 13:17] Fourdee commented on #971
Odroid C2

Doesn't seem able to function with PMS server
[code]

Yet connections are confirmed:
![image](https://user-images.githubusercontent.com/7077026/26930376-1e0729cc-4c55-11e7-832f-c2c0dd521d35.png)

Logs filled with errors, and PlexPy thinks its outdated/unknown. Might be using Git to check versions (not installed):
![image](https://user-images.githubusercontent.com/7077026/26930398-303a74

[2017-06-08 14:21] Fourdee opened #1001 "DietPi-Software | WiringPi fails to run"
Requires update due to 4.9 kernel changes. http://dietpi.com/phpbb/viewtopic.php?f=11&t=1955#p7447

[2017-06-08 14:24] Fourdee commented on #1001
DietPi installs the latest version from http://git.drogon.net/?p=wiringPi already, we only need to run a patch reinstall during v152 update.

[2017-06-08 14:27] joaofl commented on #926
@Fourdee
I've been running the 4.9.29 version for some days already, and had no major problems. It is quiet stable, and the performance upgrade on the ethernet is  visible.

But I keep getting the following warning:
`usb 4-1.1: reset SuperSpeed USB device number 3 using xhci-hcd`

It happens specially when, from a remote machine, I upload and download files (simultaneously) from/to the hard-drive

[2017-06-08 14:38] Fourdee commented on #971
- 🈯️ Online Doc: http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=7463#p7463

[2017-06-08 14:46] Fourdee commented on #1001
[code]

[2017-06-08 14:46] #1001 closed, assigned to nobody

[2017-06-08 17:45] FireHelmet commented on #971
@Fourdee , what is the port used in the settings of plexpy ? And yes, plexpy need git to check version...sorry.

I will try the latest version of plexpy in my DietPi. I keep you informed.

Thanks

[2017-06-08 18:14] Hibryda commented on #990
Sorry @Fourdee for late response. You are probably right as to kernel error. It started occurring since I upgraded it. But sadly, I need the main fan working - 3.x cannot provide me this comfort. Will try to downgrade when I get a spare.

[2017-06-08 19:37] helio58 commented on #997
Thanks worked :)

[2017-06-08 19:37] #997 closed, assigned to nobody

[2017-06-08 20:42] lucario1001 opened #1002 "Dietpi Image for x86_64 computers (not vmware or virtualbox)"
now i dont know if there is

i know there is one for virtualbox and vmware but i have a computer that is just collecting dust is there a iso image for it?

[2017-06-09 06:28] topilski opened #1003 "Mali kernel drivers for Orange Pi PC2"
Hi, can you add mali drivers for GPU decoding for Orange Pi PC2. https://link.piboard.io/OPiPC2-Debian-Mali450-01-GD image according description contains needed ko modules.

[2017-06-09 11:21] Fourdee commented on #999
Kernel patch added to v152 and support for Allo DigiOne. Completed.

[2017-06-09 11:21] #999 closed, assigned to Fourdee

[2017-06-09 11:48] Fourdee commented on #971
@FireHelmet

For web interface + settings? its :8181

[2017-06-09 11:59] Fourdee commented on #1002
@lucario1001

Not possible, due to the vast number of hardware configurations we'd need to support.

DietPi works because we target specific devices and their hardware (eg: a RPi). We can predict and control which hardware will be used on the system. With a PC, that goes out the window.

We do offer a Virtual machine image, which you can run under ESXi (bare metal OS to emulate VM images). This sh

[2017-06-09 12:31] Fourdee commented on #1000
https://github.com/Fourdee/DietPi/issues/894

[2017-06-09 12:41] Fourdee commented on #1000
@MichaIng

MySQL/MariaDB use the same service name ```mysql```. As DietPi prints the name of the service and process, it will report that the ```mysql``` service/process has been started/applied, even if its actually MariaDB:
[code]

Appears bug report did not successfully upload. Can you please try sending it again?
Also, lets check if mysql is installed (```mysql-common``` is part of the mariaDB

[2017-06-09 12:44] Fourdee commented on #1000
We do have some code in DietPi software that will prevent MySQL and MariaDB being installed, if one already exists:
https://github.com/Fourdee/DietPi/blob/master/dietpi/dietpi-software#L2453-L2476

But this wont work for manual installs of mysql /maria outside of DietPi-Software.

[2017-06-09 15:17] lucario1001 commented on #1002
but is there scripts you can download and use with a debian/ubuntu distro

[2017-06-09 19:33] newdietpi opened #1004 "how to create symlink with proftpd for external drive"
I have two external drives attached one is where I have the dietpi userdata located. I want to also use the second external drive with ftp access.

I don't think I can symlink to the root which is dietpi_userdata so I created a folder called drive2 located under dietpi_userdate

I believe this is the correct command to symlink so I can have ftp access to my second drive
ln -s /mnt/ACACC08FACC0560C

[2017-06-09 19:36] MichaIng commented on #1000
This is also how I learned it in the past, using the original Raspbian image and this service is up and running well, providing nextcloud database etc.:
[code]
 But indeed there was also a "mariadb" service established by the webserver stack, which is processed by "dietpi-services" after mysql service and therefore fails, guess because of libraries/databases are already in use (see log at the top)

[2017-06-09 20:59] sootstone commented on #479
Worked fine for me with standard server block:

[code]

Basically does the same as the --apache plugin.

[2017-06-09 22:43] sfb2 opened #1005 "JRiver Mediacenter 22 Rpi3 DietPi v1.51 ->works..!!"
hi there, ;-)
read before here (but havent found it again ?) about JRiver Mediacenter on pi3..:

Installed it via this:
https://yabb.jriver.com/interact/index.php/topic,106027.0.html?PHPSESSID=tu9nj8hrnf77m3ef9ur3h6do27

had v1.51 here, did only this:
wget -q "http://dist.jriver.com/mediacenter@jriver.com.gpg.key" -O- | sudo apt-key add -
sudo wget http://dist.jriver.com/latest/mediacenter/mediace

[2017-06-09 23:06] #1004 closed, assigned to nobody

[2017-06-10 10:23] sfb2 commented on #988
works here->https://github.com/Fourdee/DietPi/issues/1005

[2017-06-10 12:08] Fourdee commented on #988
@sfb2

Still fails with seg fault on my RPi 3. Followed same guide as you:
- https://yabb.jriver.com/interact/index.php/topic,106027.0.html?PHPSESSID=tu9nj8hrnf77m3ef9ur3h6do27

And:
- Installed xserver/alsa
- GPU memory 128MB

Which desktop did you have installed? LXDE?

[2017-06-10 12:12] Fourdee commented on #1000
@MichaIng

Thanks 👍
Might make all the difference, i'll run some tests on Stretch.

I'll probably need to tweak our dietpi-services script to check for maria + mysql services, any only launch one. But i'll check services and let you know.

[2017-06-10 17:18] tetherit commented on #475
Is there a beta image for the Asus Tinker Board by any chance? :P

[2017-06-11 00:46] sfb2 commented on #988
No, XFCE...
"pure" Dietpi..
(try to hold it as pure as possible->only Dietpi-suggested software..)
(no further xserver and/or alsa installs and no framebuffer-corrections, only "apt-get install media...")
but so many thx again !! ;-)

[2017-06-11 11:21] Fourdee commented on #475
@xanview

Yep: http://dietpi.com/downloads/images/DietPi_AsusTinkerBoard-armv7-(Stretch).7z

Image is named Jessie, however its Stretch.

[2017-06-11 12:21] Fourdee commented on #988
@sfb2

"pure" Dietpi..
(try to hold it as pure as possible->only Dietpi-suggested software..)

Fresh installs, same result on RPi 3. I'll try RPi 2, same.

[2017-06-11 13:12] Fourdee opened #1006 "DietPi-Software | AlexaPi"
### Vote for it on FeatHub: https://feathub.com/MichaIng/DietPi/+57

https://github.com/alexa-pi/AlexaPi/wiki/Installation

[2017-06-11 13:14] Fourdee commented on #1006
Install script
- requires user input?
- Automate? (would need a fork for stability, re: pihole):

https://github.com/alexa-pi/AlexaPi/blob/master/src/scripts/setup.sh

[2017-06-11 13:45] Fourdee commented on #1000
Confirmed:
- Stretch MariaDB install: installs 2 services ```mariadb``` ```mysql```.
- DietPi-Services triggers them both.
- We need to detect if MariaDB is installed, then only start that service.

[2017-06-11 17:57] sfb2 commented on #988
?
absolute fresh install too..v1.51->see attachments..
(only "SMplayer" (and dependencies,clear) is also installed)
(just dietpi-stretch to install; try to install it there too->results here)
(sorry, forgot to mention:"xfce4-goodies" was also installed)
![20170611_200201](https://user-images.githubusercontent.com/28710544/27013227-16949f70-4ee0-11e7-813b-fc9a0099a8e8.jpg)
![20170611_200241](https:

[2017-06-11 20:33] tetherit opened #1007 "Image Request | Native PC x86_64: eg Intel NUC or Gigabyte Brix"
### Download Image + Info:
### - https://github.com/Fourdee/DietPi/issues/1007#issuecomment-312442384

---

First of all thank you for making DietPi, it is fantastic and makes life much easier dealing with single board computers. So much so, I'm wondering if I can use it with x86 barebones like https://www.gigabyte.com/Mini-PcBarebone Brix?

I especially like the ability to just flash an image ont

[2017-06-12 03:55] newdietpi opened #1009 "v150 to v151"
Does a new update purposely prevent old versions from working?

I have an opi one that was working ok on v150, for some reason I wasn't able to connect to it remotely by it's local IP address the last 2 days. I had to physically connect it to a monitor in order to update it so I could get pi-hole working and connect to it via local ip address again.

[2017-06-12 09:37] MichaIng commented on #1000
To understand it right:
- The official (Raspbian) Stretch MariaDB package installs both services, maybe as a first independence step for MariaDB or something?
- I see both service names in the `dietpi-services` code: `aSERVICE_NAME` and no excuse, so both will be handled equally.
- Is there some platform where the service `mariadb` is actually needed, as `mysql` in case also triggers MariaDB? Are

[2017-06-12 11:04] Fourdee opened #1010 "DietPi-Software | Jackett"
Many thanks to @FireHelmet for the install script 👍

[2017-06-12 11:14] Fourdee commented on #1000
@MichaIng

I think thats the solution. 👍

- Appears MariaDB runs fine from both ```mysql``` and ```mariadb``` services.
[code]
- The ```mariadb``` service is systemD: ```/lib/systemd/system/mariadb.service```
- ```mysql``` service is sysinit: ```/etc/init.d/mysql```

---

- 🈯️ We'll disable ```mariadb``` in ```dietpi-services``` to resolve.

[2017-06-12 11:17] Fourdee commented on #1009
@newdietpi

Nope. Only when you run ```dietpi-update``` will any changes be made.

Could be an issue with SSH server failing, or local network issue. Check services with:
[code]

[2017-06-12 11:22] Fourdee commented on #1000
@MichaIng

Just noticed, Issue 1000 👍 :clinking_glasses:

[2017-06-12 11:23] Fourdee commented on #971
🈯️ Tested on RPi, completed.

@FireHelmet

Great work on the install script, many thanks 👍

[2017-06-12 11:23] #971 closed, assigned to nobody

[2017-06-12 11:29] Fourdee commented on #988
@sfb2

We'll i'am stumped lol

I'll try fresh installs again and check these are installed 👍

[2017-06-12 11:52] Fourdee commented on #1007
@xanview

Love those mini PC's, had a Acer Revo years back, would love to get my hands on these new beasts :)

We'd had a few requests for a general native PC install, i'll take a look and see what we can do. The main issue will be the initial install/image procedure, i'll need to investigate best/simple method to achieve this.

Just bear in mind:
- we won't be able to support GPU features like we

[2017-06-12 12:02] Fourdee commented on #1002
@lucario1001

We'll investigate the possibility of providing and supporting a native PC installer:
https://github.com/Fourdee/DietPi/issues/1007

I'll mark this ticket as closed [dupe]. Please use the ticket above for further discussion.

[2017-06-12 12:02] #1002 closed, assigned to nobody

[2017-06-12 12:51] Fourdee commented on #1010
- 🈴 Service fails to start on ARM64/ARMv7:
[code]

---

🈯️ Removal of ```-nobrowser ``` from service

[2017-06-12 13:21] Fourdee commented on #1010
@FireHelmet

Many thanks again, works a treat 👍

Completed.

[2017-06-12 13:21] #1010 closed, assigned to nobody

[2017-06-12 13:35] Fourdee commented on #926
@joaofl

Yep same here, running 24/7 NAS + PiHole. Runs great.

usb 4-1.1: reset SuperSpeed USB device number 3 using xhci-hcd

Could be a compatibility issue with USB host/adapter/kernel.

Might be power related if USB drive is host powered (lack of under load), which PSU are you running ?

[2017-06-12 13:36] MichaIng commented on #1000
I don't know too much about recognizable differences between systemd and init.d (SysV-Init). Systemd seems to be the newer process manager but also provides managing "old" init.d scripts or something? So `mariadb` seems to be implemented the modern way, enabling systemctl commands etc., init.d scripts on the other hand will run with SysV-Init on older systems? The "service ... start/stop/restart/s

[2017-06-12 13:36] Fourdee commented on #475
- 🈯️ (http://dietpi.com/downloads/testing/DietPi_RPi-armv6-(Stretch).7z) Update RPi Stretch image: http://dietpi.com/phpbb/viewtopic.php?f=9&t=986&start=20#p7498
- 🈴 Re-check chromium: ```E: Package 'chromium' has no installation candidate```

[2017-06-12 13:39] tetherit commented on #475
That's awesome, thank you! - I'm using it as a headless server and so far latest image is working beautifully.

[2017-06-12 13:42] Fourdee commented on #1000
@MichaIng
Tested on both Jessie and Stretch. Fixed for v152. I'll mark this as closed.

SystemD simplifies the creation of services vastly. And its also capable of threaded service starts (sysinit doesnt support this as i'am aware).

Yep, seems mariaDB now provide a custom service for their package. However, as the mysql service is compatible with both currently, we'll stick with that. Although, a

[2017-06-12 13:42] #1000 closed, assigned to nobody

[2017-06-12 14:06] Fourdee opened #1011 "Git | Create Pull request / issue request templates"
https://github.com/Fourdee/DietPi/pull/1008#issuecomment-307788094

[2017-06-12 15:24] joaofl commented on #926
@Fourdee

The hard drive is externally powered, and I'm not actually draining much current from the XU4 at all, and the power supply I use can supply +10A, so It should not be an issue. And it never happened with the kernel version 3.

As you said, It may be a compatibility problem? Not sure how to debug that....

This is the HD I'm currently using:
https://www.wdc.com/products/wd-recertified/my-b

[2017-06-12 15:34] tetherit opened #1012 "ping: socket: Operation not permitted"
### ADMIN EDIT
#### Solution
[code]
#### Read more
- https://fedoraproject.org/wiki/Changes/EnableSysctlPingGroupRange
- https://github.com/systemd/systemd/pull/13141
- https://github.com/systemd/systemd/blob/master/sysctl.d/50-default.conf
- https://github.com/MichaIng/DietPi/commit/caec92e92e136a2f731f6d4c45db8463896fc80a
___________
Hi there,

It seems for some reason DietPi is set up in a way

[2017-06-12 16:41] Fourdee commented on #926
@joaofl

Could also be an outstanding issue with the unit, that didn't get fixed (eg: USB > SATA controller).

[2017-06-12 16:48] Fourdee commented on #1012
@xanview

Seems permissions need to be set on the ping binary for underpriv users to run this:
https://www.raspberrypi.org/forums/viewtopic.php?p=874479&sid=679670d4747d3e00e7885a18ac71e7f4#p874479

[2017-06-12 17:37] Fourdee opened #1013 "DietPi-Software | NZBget"
https://github.com/nzbget/nzbget

[2017-06-12 17:54] #1009 closed, assigned to nobody

[2017-06-12 20:36] Invictaz commented on #1013
Would be great

[2017-06-12 21:59] noplanman commented on #1011
If I may leave a suggestion, it makes sense to make the text in the template an HTML comment, so that the text itself wouldn't get added to the PR comment if somebody leaves it there.

Example here: https://github.com/php-telegram-bot/core/tree/master/.github

(Also, you can move it to a `.github` folder to keep it stored nicely separately)

P.S. Awesome how actively you implement new ideas! 🎉

[2017-06-13 10:48] Fourdee commented on #1011
@noplanman

Nice 👍

I'll be borrowing your ```.md``` templates 😉

[2017-06-13 11:27] noplanman commented on #1011
The beauty of open source 😇

(DietPi FTW by the way! Loving the simplicity and lightweightness 😍)

[2017-06-13 13:05] KenthJohan opened #1014 "DietPi-Software | GCC 7.1"
I can not figure out how to install GCC-7.1. I managed to install GCC-6 by following [http://choccyhobnob.com/tutorials/gcc-6-on-raspberry-pi/](http://choccyhobnob.com/tutorials/gcc-6-on-raspberry-pi/)
Maybe add a option to install GCC-7.1 or options for other GCC versions?

[2017-06-13 14:24] Fourdee opened #1015 "Sparky SBC | Kernel update"
Thanks Sudeep.

[code]

[2017-06-14 00:28] joaofl commented on #926
@Fourdee
The closest I found was this thread:
http://linux-scsi.vger.kernel.narkive.com/B3jfin3j/xhci-issues-wd-mybook-1230-reset-superspeed-usb-device
Which seems to be kind of a deeper issue, on the device driver itself... Not sure what to do. There is no firmware upgrades for the HD so far.

[2017-06-14 02:05] msdos commented on #254
So, correct me if I'm wrong. From 5003-5008 you mean this:

https://github.com/Fourdee/DietPi/blob/6214cd915ef59399b214c039a643b8d045ad0856/dietpi/dietpi-software#L5003-L5008

(It's a good practice to have links that always point to a specific commit. :) Usually I click on master, then "history" in my file then "browse this repository at this point in history", so if you change the file in master

[2017-06-14 04:17] trajano commented on #765
Sorry I missed this issue here's the results.

[code]

[2017-06-14 04:18] trajano commented on #765
based on that last line it appears that it is recommending but not running e2fsck

[2017-06-14 04:27] trajano commented on #765
Maybe this needs to be incorporated https://github.com/AlexGhiti/rpi_initramfs_e2fsck

[2017-06-14 10:12] filemoon commented on #926
Kernel 4.9 (29+)

Only performance governor is present.
Do you have a plan to add other governors (I'm looking at on-demnd and conservative)

Regards Chris

[2017-06-14 10:38] Fourdee commented on #1015
🈯️ Tested with Piano 2.1

[2017-06-14 10:38] #1015 closed, assigned to Fourdee

[2017-06-14 11:16] Fourdee commented on #988
Fresh install RPi 3:
- +XFCE ```dietpi-software install 25```
-
[code]
- 🈯️ Works
- 🈯️ Change GPU split from 64MB to 128MB

Weird.

---

- Also runs under Xinit

---

- Online doc: http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=7536#p7536

[2017-06-14 12:54] Fourdee commented on #1005
@sfb2

Thanks for the info 👍

I'll mark this as closed, please use: https://github.com/Fourdee/DietPi/issues/988

[2017-06-14 12:54] #1005 closed, assigned to nobody

[2017-06-14 13:04] ghost commented on #1013
Really looking forward for this integrated in DietPi!

[2017-06-14 17:50] Fourdee opened #1016 "DietPi-Software | Mate = Black screen"

[2017-06-14 19:15] FireHelmet opened #1017 "DietPi-Software | Deluge (update request)"
Hi all,

Is it possible to update Deluge to the latest version (1.3.15) at the installation step ?

Currently, the version is 1.3.10 (october 2014 !!!)

Thanks !

[2017-06-15 07:03] Fourdee commented on #1017
@FireHelmet
Deluge is currently a apt-get installation (would be newer revision in Stretch). I'll see if we can switch to source build (depending on build time):
http://dev.deluge-torrent.org/wiki/Installing/Source

[2017-06-15 13:23] MichaIng opened #1018 "[dietpi-software][APT] Deprecated apt commands/options"
Referring to the first named issue here: https://github.com/Fourdee/DietPi/issues/475#issuecomment-305838743

While running dietpi-software to install packages, some error message shows up regularly saying, that "`--force-yes`" as apt-get option is deprecated and there should be some options "`--allow...`" used instead.

I failed to find some official list of apt-get options, maybe there are some

[2017-06-16 11:03] Fourdee commented on #1018
@MichaIng

Great job researching this and finding a fix to that warning 👍

I'll get this added to to v152.

Nice!

[2017-06-16 11:07] Fourdee commented on #988
@sfb2

Good to go, thanks for your help on this one 👍

Marking as completed.

[2017-06-16 11:07] #988 closed, assigned to Fourdee

[2017-06-16 11:23] Fourdee commented on #1016
Fresh install of DietPi on Odroid C2, installing MATE through ```dietpi-software```:
- 🈯️ Unable to replicate black screen
- 🈯️ ```apt-get install lightdm```, reboot Unable to replicate black screen

[2017-06-16 11:28] Fourdee commented on #1016
Recommend user try a fresh install of DietPi, without using ```setup-odroid``` to configure system.

Marking as closed.

[2017-06-16 11:28] #1016 closed, assigned to nobody

[2017-06-16 11:36] Fourdee commented on #1018
@MichaIng

Works a treat, great job 👍

Marking as completed.

[2017-06-16 11:36] #1018 closed, assigned to nobody

[2017-06-16 11:54] Fourdee commented on #1011
@noplanman

Many thanks again for your help on this 👍

I'll mark this as completed (will add to them as needed in future), should start seeing this active once v152 is released (merged to master)?

[2017-06-16 11:56] Fourdee commented on #991
@tatoosh
Apologies for the delay, we are still unable to replicate this. Have you tried installing Koel on a fresh installation of DietPi?

[2017-06-16 13:27] Fourdee commented on #1011
Lets put them in the .github folder

[2017-06-16 13:29] Fourdee commented on #1011
https://github.com/Fourdee/DietPi/tree/testing/.github

[2017-06-16 13:29] #1011 closed, assigned to nobody

[2017-06-16 19:02] joaofl opened #1019 "DietPi-Software | Standard Notes"
Nice Evernote-like application. It is open-source, encrypted, multi platform (Linux, windows, mac, iOS, Android), and allows users to run their own server instance for syncing proposes.

Requires Ruby, MySQL, and a web server.

Links:
https://standardnotes.org/
https://github.com/standardnotes

I'll give it a try, install it, and could eventually try to add it to DietPi...
@Fourdee could you give

[2017-06-16 23:43] #646 closed, assigned to nobody

[2017-06-17 10:27] Fourdee commented on #1019
@joaofl

Excellent 👍

Yep, created a guide to adding software in DietPi-Software here:
https://github.com/Fourdee/DietPi/issues/490#issuecomment-244416570

If you get into any issues, or unsure, let me know and i'll assist.

[2017-06-17 11:39] Fourdee commented on #1013
- 🈯️ online doc : http://dietpi.com/phpbb/viewtopic.php?f=8&t=5&p=7575#p7575

[2017-06-17 11:47] Fourdee commented on #1013
Completed.
NZBget really is fast, even in the web interface it feels much more responsive, compared to our typical python based "stuff" :)

[2017-06-17 11:47] #1013 closed, assigned to nobody

[2017-06-17 12:14] Fourdee commented on #947
Marking as resolved. Please reopen if required.

[2017-06-17 12:14] #947 closed, assigned to nobody

[2017-06-17 12:16] Fourdee commented on #908
No updates/responses, assuming resolved. Please reopen if required.

[2017-06-17 12:16] #908 closed, assigned to nobody

[2017-06-17 12:16] #872 closed, assigned to nobody

[2017-06-17 12:17] Fourdee commented on #856
No updates/responses, assuming resolved. Please reopen if required.

[2017-06-17 12:17] #856 closed, assigned to nobody

[2017-06-17 12:17] TitaneBoy commented on #947
Hi.. Sorry for the delay... I confirm that your given solution worked for me.. 😊

Thank you

[2017-06-17 12:18] Fourdee commented on #606
Marking as closed. Please reopen if required.

[2017-06-17 12:19] #470 closed, assigned to Fourdee

[2017-06-17 12:21] Fourdee commented on #242
Marking as closed due to no progress and lack of interest from our users in this software. If someone else wants to pick this up, please reopen.

[2017-06-17 12:21] #242 closed, assigned to nobody

[2017-06-17 12:23] Fourdee commented on #1012
Marking as resolved, please reopen if required.

[2017-06-17 12:23] #1012 closed, assigned to nobody

[2017-06-17 12:23] Fourdee commented on #992
Marking as closed, please reopen if required.

[2017-06-17 12:23] #992 closed, assigned to nobody

[2017-06-17 16:28] Fourdee opened #1021 "DietPi RPi Kernel | Patch for native DSD"

[2017-06-17 17:26] trajano commented on #606
Yup we have to hold off on this until we get get a proper Fsck to work #765

[2017-06-18 02:19] newdietpi opened #1022 "how to unrar files?"
I installed both unrar-free and 7zip-full and I can't unzip/unrar the files. I get a file cannot be unarchived message

[2017-06-19 12:11] Fourdee commented on #1021
Patches as they exist at the moment, do not work with RPi 4.9 kernel, most of them fail. Tried to compile anyway, fails with:
[code]

[2017-06-19 13:56] joaofl commented on #1019
@Fourdee
I was trying to manually install it before attempting to make any kind of script, and It is a bit tricky actually.

Starting by the fact that it requires Ruby2.2+, while v2.1 is the one available in our repos. But with a few command lines we can actually download and compile Ruby2.4, which solves the issue.
Further on, the installation fails again, which seems to be caused by some MySQL v

[2017-06-19 14:40] Fourdee opened #1023 "DietPi-Software | Mono fails install for ARMv6"
[code]

[2017-06-19 14:43] Fourdee commented on #1023
- Find another source for compatible ARMv6 installation packages. Currently ```deb http://download.mono-project.com/repo/debian jessie main```?
- 🈯️  http://download.mono-project.com/repo/debian/dists/raspbianjessie/ @

[2017-06-19 15:23] joaofl commented on #1019
@Fourdee
They actually require at least MySQL 5.6, while we have v5.5. I'm afraid this upgrade may cause too many headaches. What do you think should be done?

from: https://github.com/standardfile/ruby-server/issues/48#issuecomment-309468373

[2017-06-19 17:58] Fourdee opened #1024 "DietPi-Autostart | Custom script requires login to launch"
EDIT: REMOVED OBSOLETE LINK

Users reporting having to login before script exec's

[2017-06-20 09:40] kurtjcu commented on #854
Sounds interesting, I have a few printers and pi3/pi2/orangePi to test with, Let me know how i can help. :)

[2017-06-20 12:02] Fourdee commented on #1023
- 🈺 RPi Zero 512MB: Installing all 3 software titles (```dietpi-software install 144 145 147```) at the same time results in ```/tmp``` running out of space:
[code]

Cause Mono:
[code]

---

- Default tmpfs size is 50% of RAM. We could increase to 100%, but risk of swap, 80% may be beneficial.

[2017-06-21 01:54] joaofl commented on #1019
After Upgrading MySQL to the latest, and every other requirement, I managed to get the server up, but still, not satisfactorily. It was crashing, or either giving errors on registering new user.

The apps also seem to be a bit premature (both desktop and iphone).

Because of that, I went on a detailed search for apps like these, and found some alternative like:
Turtl, Papertwork, Laverna. I've man

[2017-06-21 22:54] kurtjcu opened #1026 "Line Out AlsaMixer defaults to off"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version= 152
- SBC Device Orange Pi zero + Orange Pi expansion board
- Power supply used 5v 3a PS?
- SD card used Sandisk Ultra
- Distro = Linux DietPi 3.4.113-sun8i #18 SMP PREEMPT Thu Jun 15 02:16:06 CEST 2017 armv7l GNU/Linux

#### Additional Information (if applicable):
- Software title?
- Can this issue be replicated on a fr

[2017-06-22 12:26] Fourdee commented on #1026
@kurtjcu
Many thanks for the report 👍

We'll run tests here and try to replicate.

[2017-06-22 14:38] pidiet commented on #1003
Awesome!

[2017-06-22 15:18] Fourdee commented on #1019
@joaofl

Usually a good indicator to avoid this software until it improves over time.

Entirely your call. I tend to leave started/unfinished tickets in the prototyping branch and open. Although, if you believe this software isn't worth the integration into DietPi, due to the current issues, close her up :)

[2017-06-22 15:41] Fourdee opened #1027 "DietPi-Software | /tmp out of free space"
In DietPi ```/tmp``` is mounted to RAM with default size of 50% of RAM.

In some instances (https://github.com/Fourdee/DietPi/issues/1023#issuecomment-309731931), software installations on 512MB < RAM will run into this issue.

We need to either:
- Increase size of ```/tmp``` from default to > 80% (still wont fix this for 256MB devices)
- 🈯️ Disable ```/tmp``` RAM mount on 512MB or lower devices.

[2017-06-22 15:42] Fourdee commented on #1023
I'll mark this as closed, now resolved.

New ticket for outstanding issue with ```/tmp``` 0 space:
https://github.com/Fourdee/DietPi/issues/1027

[2017-06-22 15:42] #1023 closed, assigned to nobody

[2017-06-23 06:02] ifvictr opened #1028 "Image request for the Up Board"
Thanks for spending your time on DietPi, I really love how all my boards are unified using a common OS. Unfortunately, I couldn't seem to find an image for the [Up Board](http://www.up-board.org/up/) anywhere on the DietPi website. Would you be able to create an image for it? Thanks!!!

[2017-06-23 11:00] Fourdee commented on #1028
@ifvictr

Hi, thanks for the request 👍

Been keeping an eye on the Up boards, look really impressive. However, still on the wish list at the moment.

As this board will run native x86_64 linux, this should tie in with the following generic x86_64 native image ticket request:
https://github.com/Fourdee/DietPi/issues/1007

I'll bump the above ticket and take a look for v153.

Notes:
- Excellent, app

[2017-06-23 13:23] Invictaz commented on #1028
Interesting, an Atom based board.

If possible, can this also run on Atom based phones and tablets or does that need a bootloader modification?

[2017-06-23 15:10] vsxen commented on #1022
linux  os?

you can search in google

like  this
http://www.thegeekstuff.com/2010/04/7z-7zip-7za-file-compression/

You can close this issue.

[2017-06-23 15:42] #1022 closed, assigned to nobody

[2017-06-23 15:43] newdietpi opened #1029 "DietPi-Software | irssi"
Hi,

Would it be possible to add irssi to dietpi?

https://irssi.org/

[2017-06-23 16:36] Fourdee commented on #1027
Completed with solution:
- Disable /tmp RAM mount on 512MB or lower devices.

Applied during patch and during 1st run of DietPi.

[2017-06-23 17:09] newdietpi commented on #1029
https://packages.debian.org/stretch/irssi

[2017-06-24 02:05] vsxen commented on #939
If you use BPI R1  ，the  image for BananaPi Pro (Allwinner A20) is ok.  #938

 Install LEDE over the dietPi software section？ I think it is hard to do it .  chroot?

[2017-06-24 12:21] Fourdee commented on #1026
@kurtjcu

Confirmed, thanks for letting us know 👍

We'll get this fixed for v153 and mute/unmute lineout as needed.

[2017-06-24 12:22] Fourdee commented on #1026
Completed with commit: https://github.com/Fourdee/DietPi/commit/99eb7527cbadd3984f4a84f0b86c8765d8dcbfb2

[2017-06-24 12:22] #1026 closed, assigned to nobody

[2017-06-24 14:47] kutysam commented on #635
Hi! Just wondering, did you put
sudo ping -s 1 -i 0.2

I realize the power consumption is 0.35ma instead of 0.21ma.

Do you have the commit to github on this. Thanks!

[2017-06-24 23:45] GrahamEnigma opened #1030 "DietPi-Software | Avahi-Daemon"
## Creating a bug report/issue:

#### Required Information:
- DietPi Version | ```cat /DietPi/dietpi/.version```?

152

- SBC Device (EG: RPi 3)?
Rpi 3
- Power supply used (EG: 5v 1A RAVpower)?
USB

- SD card used (EG: Sandisk ultra)?

Sandisk
- Distro (EG: Jessie) | ```uname -a```?
Jessie

#### Additional Information (if applicable):
- Software title?
- Can this issue be replicated on a fresh ins

[2017-06-25 00:21] noplanman commented on #475
Regarding the fail2ban issue, what solved it for me was simple:
`$ sudo touch /var/log/auth.log`
before the install, then it went through successfully 👍

(you might need to `$ sudo apt-get purge fail2ban` if you're in a half-complete state)

[2017-06-25 10:35] Fourdee commented on #1030
@GrahamGIGA

Thanks for the report 👍

I was unable to replicate this on RPi3, setting ```Roon_Kitchen``` as hostname in ```dietpi-config``` > Security options > Hostname, then rebooting, hostname is applied correctly and view-able from Roon.

The only thing that may throw this out is a space in the hostname, ensure this doesn't exist.

Is this blank in:
- ```dietpi-config``` > Security options > H

[2017-06-25 10:46] Fourdee commented on #475
@noplanman

before the install, then it went through successfully 👍

Legend 👍 Many thanks for the fix. I'll get this added to ```dietpi-software```. Works with Jessie aswell, so we'll add for all distros.

[2017-06-25 18:03] Fourdee opened #1032 "Odroid C2 | Debian Stretch beta image"
### Beta C2 Stretch image available for testing purposes:
#### - http://dietpi.com/downloads/testing/DietPi_OdroidC2-armv8-(Stretch).7z
---

#### Status:
General:
- 🈴 Xserver : https://github.com/Fourdee/DietPi/issues/1032#issuecomment-312318867
- 🈴 Kodi-Odroid (pending Meveric's package installer)
- 🈯️ NextCloud
- 🈯️ MPD
- 🈴 YMPD: https://github.com/Fourdee/DietPi/issues/1032#issuecomment-3119420

[2017-06-25 18:05] Fourdee commented on #926
Update from Meveric, testing and feedback required:

They will remove all currently installed 3.10 Kernels (but keep the headers, since they don't really matter).
Packages are as mentioned before: ```linux-image-4.9-armhf-odroid-xu3``` and ```linux-headers-4.9-armhf-odroid-xu3```
It would be nice if you or some of your community members could try it and give a little feedback how it works.
If you

[2017-06-25 20:56] enolp commented on #992
I almost forgot about this issue but finally I could do some tests.

@k-plan

Doing that now my ethernet devices can't get an local IP address but my wireless devices get internet access just fine.

I wonder if I have to edit the /etc/dnsmasq.conf file

[2017-06-26 08:57] filemoon commented on #926
Freshly noticed issue:

HMP not active for ARM big.LITTLE (only big cores are in use):
- only 4 (big) cores available (another 4 small cores not in use)
- high temperature
- slower performance (vs 8 cores)
- high power consumption

I will restore the backup and wait for another kernel 4.9 build with HMP activated and more governors.

[2017-06-27 00:33] DiljotSG opened #1033 "[Question] If I setup DietPi in a VM can I create a image of the system and flash it on my actual Pi?"
Just like the title says, is this possible?

[2017-06-27 10:43] sootstone opened #1034 "[dupe] DietPi-Software | Optimize Nextcloud"
Just thinking it might be nice to add some tweaks to DietPi's Nextcloud installation.

Namely:

1. Using Redis for [Transactional File Locking](https://docs.nextcloud.com/server/12/admin_manual/configuration_files/files_locking_transactional.html#transactional-file-locking) to avoid file corruption. (Requires updated Redis server #244 and php5-redis update)

2. Using Cron to run background jobs. D

[2017-06-27 10:58] Fourdee commented on #1033
@DiljotSG

Wouldnt work, different CPU arch. Would be like trying to run Mac OSX on android without emulation.

[2017-06-27 11:09] sootstone commented on #896
Would it be possible to make username changeable in dietpi.txt on first install?

[2017-06-27 11:50] Fourdee commented on #1024
Unable to replicate on C2/RPi:
- DietPi-Autostart sets auto login for all selections (excluding option 0 console)
- During boot, device is automatically logged in, ```login``` script is then executed
[code]

Test:
- 🈴 with OPi Zero

Confirmed, possibly limited to ARMbian images/headless devices. Auto login is not working.

[2017-06-27 13:09] DiljotSG commented on #1033
Thank you for the reply, that is what I thought.

[2017-06-27 13:09] #1033 closed, assigned to nobody

[2017-06-27 15:28] Fourdee commented on #1024
We'll upgrade to systemD service for custom autostart, without auto login. ```type=idle``` to ensure rc.local is launched aswell.